[2021-07-08 14:55] peasead opened #26792 "[Update Module] Threat Intel Filebeat Module Dataset - Anomali"
The current Threat Intel Filebeat module for Anomali Limo data uses `event.dataset : threatintel.anomali`. I recommend that dataset is changed to `event.dataset : threatintel.anomalilimo` for Anomali Limo data.

Another option would be to put everything in `event.dataset : anomali` and add a field that differentiates between ThreatStream or Limo. Maybe something like `service.name : {threatstream,

[2021-07-08 15:40] michel-laterman commented on #26758
We'll add a config option to disable logging metrics. However the default behaviour will not change as we may need access to these metrics (through the log files) to help us debug issues.

[2021-07-08 16:08] 111andre111 commented on #18702
Hi @urso ,

Observed a similar issue with having an output section and tested with most new 7.13.2 and was as well the same for instance for 7.11.2.
Let's assume you would have a filebat.yml like this:
[code]
OS is CentOS7 as well as tested with RHEL7 and installed filebeat via RPM.

If you now start filebeat using systemctl:
`systemctl start filebeat`
the log will be output to `/var/log/messages`

[2021-07-08 16:27] eddieturizo opened #26793 "Add SASL authentication to MongoDB module"
**Describe the enhancement:**

Add SASL support to the Metricbeat MongoDB module.

**Describe a specific use case for the enhancement or feature:**

Use the SCRAM-SHA-256 authentication mechanism.

[2021-07-08 20:16] #9821 closed

[2021-07-09 01:16] #13014 closed

[2021-07-09 07:00] githublaohu opened #26796 "[build-system]Project build failed"
go version: 1.12.5
os : ubuntu 18.04
beats: newest
development tool : vscode
abnormal：
[code]

[2021-07-09 09:27] jsoriano commented on #5538
Hey,

I think we can close this. In general the use case of installing specific resources related to specific services is going to be solved by the [Fleet](https://www.elastic.co/guide/en/kibana/current/fleet.html) project and [integrations](https://github.com/elastic/integrations). In the future, Elastic packages or integrations could be also a way to distribute community contributed dashboards o

[2021-07-09 09:27] #5538 closed

[2021-07-09 09:28] amolnater-qasource commented on #26177
Hi @michalpristas
We have validated this issue by upgrading released agent of 7.13.3 and its still **reproducible**.

**Build details:**
[code]

**Screenshot:**
![6](https://user-images.githubusercontent.com/77374876/125056613-06f81480-e0c6-11eb-90be-2ed31bc70dec.JPG)

**Logs:**
[endpoint-000000.zip](https://github.com/elastic/beats/files/6790297/endpoint-000000.zip)
[elastic-agent-3ddad4_logs.zip

[2021-07-09 09:35] 111andre111 opened #26802 "Filebeat RPM installation doesn't seem to honor default log location when started with systemd"
Downloaded RPM package to CentOS7 or RHEL7

Configued a quite default filebeat.yml:
[code]

systemd file looks like this:
[code]
ps aux output is like this:
[code]
So the impression of all of this parameter situation `--path.logs /var/log/filebeat` looks like the logs should have its home here `/var/log/filebeat`, but that doesn't happen.
If you start filebeat via normal `systemtl start filebeat`

[2021-07-09 09:35] elasticmachine commented on #26802
Pinging @elastic/integrations-services (Team:Services)

[2021-07-09 09:35] 111andre111 commented on #18702
Forked last message to https://github.com/elastic/beats/issues/26802

[2021-07-09 09:39] urso commented on #26802
When running with systemd, the logs are not written to disk by Beats, but to stdout/stderr only. Systemd normally sets up journald to collect the logs. Some linux distributions have journald to setup to forward logs to the local syslog, which normally writes logs to /var/log/message.

When using systemd and you want the logs to be written by Beats directly to disk, you must configure the `logging.

[2021-07-09 09:43] bydeath opened #26805 "[metricbeat] elasticsearch module, I want a feature that index metricset includes fetch_count"
https://github.com/elastic/beats/blob/638d20c0348de7f410692fae298d23f46065aaf5/metricbeat/module/elasticsearch/index/data.go#L89-L92
There are only two field `query_total` and `query_time_in_millis` now in metricbeat elasticsearch module. I want a feature thant index metricset include fetch_count, thus the index `.motoring-es-7-mb-YYYY.mm.dd`  would record how many time indices are queried in a sp

[2021-07-09 09:51] #26513 closed

[2021-07-09 10:17] #26802 closed

[2021-07-09 10:32] azeng528 commented on #26726
how to add team label?

[2021-07-09 10:33] michalpristas commented on #26177
i will try this on amol's env, seems like one of these issues which appears only on qas vms :D

[2021-07-09 10:37] amolnater-qasource commented on #26730
Hi @EricDavisX
We have revalidated this on cloud-qa with 7.13.3 upgrade to 7.14.0 and we have found it **not reproducible** now.

**Screenshot:**
![8](https://user-images.githubusercontent.com/77374876/125065054-fb5d1b80-e0ce-11eb-94c6-59bc1368a453.JPG)

cc: @michalpristas
Thanks
QAS

[2021-07-09 10:49] ChrsMark commented on #25816
I'm +1 on adding `daemonset.name` for now and continue the discussion about the workload fields in a separate one.

In this regard, I think we can close this one when #26808 is merged and continue with the follow up issue. @jsoriano what do you think?

@MichaelKatsoulis if we agree on this, could you please take care of the follow up issue so as to not lose the discussion around workload fields?

[2021-07-09 11:16] #11233 closed

[2021-07-09 11:27] jsoriano commented on #25816
SGTM, thanks @ChrsMark and @MichaelKatsoulis!

[2021-07-09 11:42] oerli opened #26816 "Filebeat stops working with error message UDP Package size to large"
Hello

I would like to report an issue with filebeat running on Windows with an UDP input configured.

- Version: 7.13.2
- Operating System: Windows 2019 (1809)
- Discuss Forum URL: https://discuss.elastic.co/t/filebeat-stops-working-with-error-message-udp-package-size-to-large/278151/3
- Steps to Reproduce: We have the Application VMWare Air Watch Cloud Connector (19.12) configured for sending Sy

[2021-07-09 11:46] beirtipol commented on #15837
I'll throw my hat in the ring for this too. Again, need to access JBoss stats and only Digest auth is supported. I'll probably set up a script to curl and log the data I need on a timer and then scrape the json with filebeat

[2021-07-09 12:15] MichaelKatsoulis opened #26817 "Enhance Kubernetes metadata with kubernetes.workload.type and kubernetes.workload.name"
Considering the addition of two extra fields in `kubernetes_metadata`
1. `kubernetes.workload.type`
2. `kubernetes.workload.name`

That change in the schema would allow much flexible and powerful visualizations because having data of the same nature (who controls the pod) in different fields is challenging.

This is a follow up issue of https://github.com/elastic/beats/issues/25816

[2021-07-09 12:16] elasticmachine commented on #26818
Pinging @elastic/agent (Team:Agent)

[2021-07-09 12:16] #9111 closed

[2021-07-09 12:19] blakerouse commented on #26818
I moved this issue to beats repository because this is an issue with beats, but I can tell you the issue has already been fixed. I can tell from the screenshots that #26760 is not in either of those builds. That is clear to see as the log message `Retrying to enroll...` was changed in that PR and that is not reflected in either screenshot.

First you should see this new log message that is not sho

[2021-07-09 12:21] predogma commented on #26314
@ndtreviv The elasticsearch module in metricbeat has two configurations one for monitoring (xpack.enabled: true) or metricsets depending on purpose.

- https://www.elastic.co/guide/en/beats/metricbeat/7.13/metricbeat-module-elasticsearch.html#_usage_for_elastic_stack_monitoring_2

```The elasticsearch module can be used to collect metrics shown in our Stack Monitoring UI in Kibana. To enable this

[2021-07-09 12:32] MichaelKatsoulis commented on #25816
I have created https://github.com/elastic/beats/issues/26817 as a follow up issue

[2021-07-09 12:47] elasticmachine commented on #26817
Pinging @elastic/integrations (Team:Integrations)

[2021-07-09 13:16] #6774 closed

[2021-07-09 13:47] #25816 closed

[2021-07-09 13:50] P1llus opened #26823 "[Agent]Allowing an array of hosts for --fleet-server-es argument when installing fleet server"
While installing the fleet server for the first time, there is a need to run for example:

`sudo ./elastic-agent install -f --fleet-server-es=ESURL --fleet-server-service-token=TOKEN`

However `--fleet-server-es` only supports a single host as an argument, which means that it will only be connected to a single ES node, instead of allowing it to communicate with the whole cluster.

This issue is to

[2021-07-09 14:54] ecezalp commented on #26792
this is a breaking change for CTI Dashboard Link Panel on Overview Page, so let's make sure that there is some coordination around this change 👍

[2021-07-09 15:15] andresrc commented on #26818
@amolnater-qasource can you try again? It seems BC2 was "rebuilt", the new one should contain the fix

[2021-07-09 16:07] thbkrkr opened #26827 "Monitor the entire certificate chain, including the expiration of the certification authority"
When Heartbeat monitors a certificate, the certificate authority expiry is not taken into account, only the leaf certificate expiry. It would be great that Hearbeat could watch at the entire chain.

For example, this would be very convenient for ECK users that use self-managed certificates by ECK and Cross-Cluster search. When a CCS Elasticsearch cluster is outside the Kubernetes cluster where ECK

[2021-07-09 16:07] elasticmachine commented on #26827
Pinging @elastic/uptime (Team:Uptime)

[2021-07-09 16:16] #19799 closed

[2021-07-09 16:59] michel-laterman commented on #26034
@amolnater-qasource  ok, i'll reopen the issue, please let me know if it occurs again.

[2021-07-09 18:01] simitt commented on #23993
Closing this in favor of https://github.com/elastic/beats/issues/26638

[2021-07-09 18:01] #23993 closed

[2021-07-09 18:16] #19774 closed

[2021-07-09 19:17] adriansr opened #26830 "add_process_metadata fails to parse pid from valid integer fields"
For confirmed bugs, please report:
- Version: n/a
- Operating System: any
- Discuss Forum URL: https://discuss.elastic.co/t/add-process-metadata-cannot-parse-pid-in-integer/263380
- Steps to Reproduce:

Ingest the following JSON document:
`{"pid": 1}`

using Filebeat with this sample config:
[code]

It will fail with an error:

A temporary workaround is to convert the field to string with the `con

[2021-07-09 20:39] elasticmachine commented on #26830
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-07-09 22:24] prandelicious commented on #18563
Is there no way to override this setting via command line? It appears to be implemented in this function:
[code]
where do I set the umask setting?

[2021-07-10 06:16] #11169 closed

[2021-07-10 08:53] sajith23 commented on #11234
+1

[2021-07-10 16:44] cdalexndr commented on #13607
Just happened again on **7.10.1**

I'm no longer using logstash:
[code]

After restart, missing logs are populated.

[2021-07-11 21:16] #18669 closed

[2021-07-12 02:36] terminalmage commented on #13066
Still a problem.

[2021-07-12 06:18] sejbot opened #26835 "Issues when filebeat is parsing "Backup succeeded" and "Subscription deleted" events from azure activity logs"
I am creating this issue after contact with Elastic Support. We've had issues with the azure module not parsing all types of activitylogs correctly (Reported in issue #25815). The json parsing has been solved in master which is great. I was working on a fix for that as well and thus created two example log files and expected output.

When I run the tests for filebeat azure module I get errors for

[2021-07-12 07:03] #26034 closed

[2021-07-12 07:04] amolnater-qasource commented on #26101
Thanks  @mostlyjason for re-opening this issue. Yes, Scenario1 is is still reproducible on 7.14.0 Snapshot.

Please let us know if anything is required from our side.

**Build details:**
[code]

**Screenshot:**
![2](https://user-images.githubusercontent.com/77374876/125242389-3d25d600-e30a-11eb-826a-db4f29415c92.JPG)

Thanks

[2021-07-12 07:36] #26830 closed

[2021-07-12 08:11] v1v commented on #25130
It's still failing, this particular test runs on a weekly basis since the cloud integration was disabled by default but enabled to run once a week.

https://beats-ci.elastic.co/job/Beats/job/beats/job/master/916/testReport/junit/github/com_elastic_beats_v7_x-pack_metricbeat_module_aws_billing/TestFetch/ is the latest failure

[2021-07-12 08:19] v1v opened #26839 "Terraform apply for testing the cloud integration in x-pack/metricbeat failed"
### What error?

[code]

### What terraform configuration was used?

https://github.com/elastic/beats/blob/master/x-pack/metricbeat/module/aws/terraform.tf
and `TERRAFORM_VERSION = "0.12.30"`

### What commands did it run?

* `terraform init` and produced the below output

[code]

* `terraform apply -auto-approve` and produced the below output

[code]

Logs -> https://beats-ci.elastic.co/blue/rest

[2021-07-12 09:34] michalpristas commented on #26177
on your environment i see this executed from 7.14 install directory of agent

[code]

when running it from 7.13.3 repository it is ok.  and does not fail.

so i guess agent does the correct thing and endpoint archive is broken/not signed ...

@EricDavisX do you recall what's wrong with the archive in case of this error? i recall there was some option on OS level to skip verification but i'm not su

[2021-07-12 10:01] aspacca opened #26840 "Flaky Test [Build&Test / x-pack/metricbeat-goIntegTest / TestData – github.com/elastic/beats/v7/x-pack/metricbeat/module/airflow/statsd]"
## Flaky Test

* **Test Name:** TestData
* **Link:** https://github.com/elastic/beats/blob/master/x-pack/metricbeat/module/airflow/statsd/data_test.go#L53
* **Branch:** master/7.x
* **Artifact Link:** https://beats-ci.elastic.co/job/Beats/job/beats/job/7.x/837/testReport/junit/github/com_elastic_beats_v7_x-pack_metricbeat_module_airflow_statsd/Build_Test___x_pack_metricbeat_unitTest___TestData/
*

[2021-07-12 10:02] elasticmachine commented on #26840
Pinging @elastic/integrations (Team:Integrations)

[2021-07-12 10:52] legoguy1000 commented on #26827
This is already done, https://github.com/elastic/beats/blob/23e4403ae093fcc8f7905345cad2c7ad256976d8/heartbeat/monitors/active/dialchain/tlsmeta/tlsmeta.go#L123. The entire chain is monitored and the smallest timeframe is provided.

[2021-07-12 11:19] urso commented on #26464
Agreed, this is potentially a problem and a PR with a fix would definitely be welcome.

But how big is your event that you experience an OOM on a single log event? At which limit is FB killed because of OOM? Normally it is the sum of big log events still in memory which trigger an OOM. Reducing `max_bytes`, even with the current code would help to reduce memory pressure.

[2021-07-12 11:33] amolnater-qasource commented on #26818
Hi @andresrc
We have re-attempted to elastic-agent on 7.14.0 Self managed BC-2 Kibana and we are able to install Agent now.
Hence closing this issue as it is **fixed**.

**Build details:**
[code]
**Screenshot:**
![5](https://user-images.githubusercontent.com/77374876/125280511-c18c4f00-e332-11eb-95ce-19c8fb085db8.JPG)

Thanks
QAS

[2021-07-12 11:33] #26818 closed

[2021-07-12 12:11] blakerouse commented on #26101
@mostlyjason @amolnater-qasource Both are expected behavior. My comment in https://github.com/elastic/beats/issues/26101#issuecomment-866847441 matches your scenario 1, what you're seeing is expected behavior.

Unless the Elastic Agent your are talking about is not running Fleet Server? Then that is an issue. But based on the title of this issue and the comments this issue has always been about an

[2021-07-12 12:40] mostlyjason commented on #26101
Just to make sure we both have the same understanding, your comment quoted above seems to talk about uninstalling the Elastic Agent and then unenrolling it from Kibana. This is what I called "the second scenario."

The first scenario is that the user unenrolls from Kibana without uninstalling it first. How does your comment address this scenario? In this case, it also looks to be stuck in the upda

[2021-07-12 13:02] blakerouse commented on #26101
@mostlyjason I am speaking about both scenarios. Scenario 1 is not supported. You cannot unenroll an Elastic Agent with a Fleet Server bootstrapped on it. That is because the Elastic Agent can only communicate with its Fleet Server and unenroll stops all sub-processes (including Fleet Server) so Elastic Agent cannot ack the unenroll so it stays in Updating always and does not complete unenrollment

[2021-07-12 14:11] mostlyjason commented on #26457
++ sounds like a good idea to make policy responses a generic feature for all integrations. I haven't seen how it works currently, but conceptually it sounds good because it would provide a more structured error we could show on the agent details page, without the using having to dig through logs. It's also nice to have a uniform behavior if we don't have it already.

++ on having a failure respon

[2021-07-12 14:16] prandelicious commented on #24555
Is there a way to override the default umask setting?

[2021-07-12 14:22] mostlyjason opened #26842 "[Elastic Agent] Remove agent.type field so it doesn't leak Beats details"
The `agent.type` used by Elastic Agent currently leaks details about the underlying Beats. With my 7.13 agent, it's set to "filebeat" for logs and "metricbeat" for metrics. We don't want to create a user dependency on this Beats information because it may be refactored out in the future.

The solution for now is to not populate it and later add it. The reason for this is that not in all scenarios

[2021-07-12 16:18] nimarezainia opened #26846 "https://github.com/elastic/obs-dc-team/issues/546"

[2021-07-12 16:18] elasticmachine commented on #26846
Pinging @elastic/agent (Team:Agent)

[2021-07-12 17:55] michel-laterman commented on #26758
@ruflin, my PR adds a setting that can be used in stand-alone mode to stop the beats from emitting metrics. If we want this to be enabled in fleet mode, the setting should be passed as part of the policy, and set through Kibana. I'm not sure what project (fleet/kibana) is responsible for doing that/where to make the issue.
If we want a short-term work around for fleet mode, we can enable the agent

[2021-07-12 19:47] mostlyjason commented on #26101
@blakerouse thanks for explanation! I'm concerned about the UX though because users do not understand how it works under the covers. From a user perspective, it seems unexpected that it would be stuck in updating state. @nimarezainia what is your perspective? Do you see this as a UX issue?

[2021-07-12 20:22] elasticmachine commented on #26480
Pinging @elastic/obs-dc (Team:Obs-DC)

[2021-07-12 20:22] elasticmachine commented on #26480
Pinging @elastic/integrations (Team:Integrations)

[2021-07-12 20:23] jasonrhodes commented on #26480
@matschaffer the goal was to not carry field aliases with us into the future in such a way that they would need to be maintained through the 9.x release cycle, so using the 8.x breaking change switch was the recommended approach at the time. Since then, because we've run out of some time between now and then and because of "make it minor" changing things slightly, we're considering a different app

[2021-07-12 20:41] andresrc commented on #20672
I have updated the issue description to describe the changes that need to happen.

We looking at squeezing this into 7.15, but if it's not possible, we might need to ask for some additional delay before removing the current API.

[2021-07-12 22:08] #26780 closed

[2021-07-13 03:16] #19733 closed

[2021-07-13 03:16] #11695 closed

[2021-07-13 03:16] #6484 closed

[2021-07-13 04:18] kaiyan-sheng opened #26855 "Metricbeat GCP billing metricset does not work with alphanumerical project ids"
Metricbeat GCP billing metricset is using BigQuery to collect billing data. When GCP billing project ID includes alphanumeric, it returns an errors:
[code]

Turned out the BigQuery query is missing quotes in Metricbeat code. For example, instead of `FROM some-project-name-with-dashes.Dataset_Name.gcp_billing_export_v1_xxx`, the syntax should be

[code]

cc @endorama

[2021-07-13 04:18] elasticmachine commented on #26855
Pinging @elastic/integrations (Team:Integrations)

[2021-07-13 08:11] endorama commented on #26855
As specified in the BigQuery [doc on Identifiers](https://cloud.google.com/bigquery/docs/reference/standard-sql/lexical):

This confirms that the issue is in the `-` present in the unquoted table name.

[2021-07-13 08:33] mbrunnert opened #26857 "Filebeat Elasticsearch module ingest pipelines fail to parse deprecation logs"
# Overview

For confirmed bugs, please report:
- Version: 7.13.3
- Operating System: MacOSX
- ~~Discuss Forum URL~~ SDH
- Steps to Reproduce:  see below

The Filebeat Elasticsearch module ingest pipelines fails to parse deprecations logs, both in json and plaintext format. The consequence is that these logs are not searchable Kibana using the standard index pattern due to:

- Json logs being dropp

[2021-07-13 08:39] mbrunnert commented on #26857
Plaintext log sample:

[code]

Json log sample

[code]

[2021-07-13 08:39] elasticmachine commented on #26857
Pinging @elastic/integrations (Team:Integrations)

[2021-07-13 09:03] hisashinz commented on #20584
A customer hit the issue.
https://elastic.my.salesforce.com/ui/support/servicedesk/ServiceDeskPage#/5004M00000i8yaa

[2021-07-13 10:48] g13013 commented on #20410
Makes sense, but the conditions I mentioned are

most of scenarios use logrotate, copying the log file to new location and trucating the source, What I am suggesting is rather than copying we would simply truncate the file once the offset equals the current file size, it would be better than most scenarios using log-rotate anyway because we are getting rid of the "copy" step.

[2021-07-13 11:55] JoupainMD commented on #11603
Hello, just for you to know, I have created and tested this PR on my side and it is working. Feel free to review it 🙏
https://github.com/elastic/beats/pull/26861

[2021-07-13 13:15] joshbressers opened #26863 "The Node.js version shipped in the Heartbeat container needs to be updated"
The version of Node.js shipped in the Heartbeat container is currently version 12.18.4
At the time of filing this issue, the latest version of node v12 is 12.22.3
The security scanners are tripping a few findings on the current version shipped in the Heartbeat container (we include Node.js because of synthetics).

The line that specifies the node version in the container is here
https://github.com

[2021-07-13 13:17] elasticmachine commented on #26863
Pinging @elastic/uptime (Team:Uptime)

[2021-07-13 13:42] EricDavisX commented on #26177
hi. i don't recall Endpoint lore very well, I have pinged in slack and will tag @ferullo if he can help confirm this scenario 02 usage of Endpoint Security snapshot 7.14 build 'verify' call

[2021-07-13 13:53] elasticmachine commented on #26835
Pinging @elastic/integrations (Team:Platforms)

[2021-07-13 13:56] EricDavisX commented on #26177
I spoke with Ferullo in slack and he commented, foremost, when seeing the above 'verify' error:
Daniel Ferullo  9:50 AM
Windows cannot verify the digital signature for this file you are trying to run an unsigned endpoint (i.e. not a BC snapshot) on a VM with with test signing disabled.

A little more detail about the command:
verify checks that the installed endpoint (c:\Program Files\Elastic\Endp

[2021-07-13 14:03] LeonBirk commented on #26008
Have the same issue, would love to see that implemented!

[2021-07-13 14:08] endorama commented on #26855
By looking at the BigQuery docs about Identifiers:

Unquoted identifiers cannot contain `-`, that is probably the cause for behaviour observed in the linked SDH.

As Quoted identifiers can contain all characters of Unquoted identifiers + more I'm going to always quote that table identifier.

[2021-07-13 14:16] #19741 closed

[2021-07-13 14:28] bbolyasov commented on #7512
Have similar problem.
Metricbeat 7.13.3 installed be rpm

My system.yml:

[code]

but I still getting only root mountpoint in Kibana:
![image](https://user-images.githubusercontent.com/54394143/125469871-150b6ef0-4097-4a35-959a-ebffe6ffb4e5.png)

[2021-07-13 14:58] crowens opened #26865 "Endpoint, Filebeat reporting different hostnames and OS name for macOS"
- Version: 7.13.1
- Operating System: macOS
- Discuss Forum URL:
- Steps to Reproduce: Install the Elastic Agent with the Endpoint Security integration enabled.  Look in the Security solution at the 'Hosts' tab.  You will see 2 hosts for a single install:
![image](https://user-images.githubusercontent.com/6376821/125474794-0a8a240f-8c4a-42e6-b663-d04aa24f275f.png)

Two issues: It seems Filebeat an

[2021-07-13 14:58] elasticmachine commented on #26865
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-07-13 14:58] crowens commented on #26865
@ferullo

[2021-07-13 15:20] faec opened #26866 "[Docs] Clarify source of @timestamp field in Microsoft Defender ATP"
Our [documentation](https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-module-microsoft.html#_defender_atp_ecs_fields) lists the `alertCreationTime` field as the source for the ECS field `@timestamp`, but in the actual pipeline this value seems to be overwritten by `alertUpdateTime`, when present:

[code]

The documentation should clarify the real source of the `@timestamp` field for

[2021-07-13 15:20] elasticmachine commented on #26866
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-07-13 15:34] ferullo commented on #26865
Endpoint can return the hostname visible in System Preferences or the hostname returned from the `hostname` command on the command line. We aligned with Agent in 7.9, if the situation has changed Endpoint just needs to be told which one to now return. But if the issue is an Agent bug Endpoint won't change anything.

[2021-07-13 15:48] jsoriano opened #26868 "Add guidelines about the use of add_cloudfoundry_metadata"
`add_cloudfoundry_metadata` can be used to enrich events with Cloud Foundry metadata obtained from the APIs using application ids as input.

On recent versions of Cloud Foundry, this information is already included in events coming from loggregator. In these cases the information is collected from there. To reduce the number of calls to the APIs, `add_cloudfoundry_metadata` does nothing when this

[2021-07-13 15:48] elasticmachine commented on #26868
Pinging @elastic/integrations (Team:Integrations)

[2021-07-13 15:49] trexx opened #26869 "Cisco ASA Ingress Fixes"
A small modification to the grok pattern for message-id 106023 to match the message when an IANA protocol number is used in place of the protocol name. For example, for GRE.

Example:
%ASA-4-106023: Deny protocol 47 src outside:100.66.124.24 dst inside:172.31.98.44 by access-group "inbound"

https://github.com/elastic/beats/blob/v7.13.3/x-pack/filebeat/module/cisco/shared/ingest/asa-ftd-pipeline.y

[2021-07-13 16:16] #19721 closed

[2021-07-13 16:16] #19715 closed

[2021-07-13 16:16] #11900 closed

[2021-07-13 16:44] fearful-symmetry opened #26871 "How do we want to deal with data changes between CGroups V1 and V2?"
CC @unixsurfer @elastic/cloud-infra @henrikno

## Question 1: Dealing with breaking changes in CGroupsV2

So, I'm currently working on cgroupsV2 support, which is a tad overdue. One problem I'm running into, conceptually is what to do in cases where metrics differ across cgroups V1 and V2. The most obvious case of this is cpu metrics. In Cgroups V1, we have `cpu` and `cpuacct` controllers. In V2,

[2021-07-13 16:45] elasticmachine commented on #26871
Pinging @elastic/integrations (Team:Integrations)

[2021-07-13 17:35] michel-laterman commented on #24796
I'm able to recreate the issue on MacOS using a build from 7.14, attempting to run the agent with a windows path and unix path to the system cert file results in the agent appearing offline and the output is:
`
Agent|⇒ sudo ./elastic-agent
could not parse configuration file /Library/Elastic/Agent/elastic-agent.yml: 1 error: open C:\\\\Program Files\\\\Elastic\\\\Agent\\\\elasticsearch-ca.pem: no s

[2021-07-13 18:20] vishpat commented on #8398
Need it

[2021-07-13 18:38] kaiyan-sheng opened #26873 "Upgrade the aws-sdk-go-v2 version in beats"
Currently in Beats, we are using version 0.9.0 `aws-sdk-go-v2` in AWS related areas. This version is 2 years old and with more bugs getting fixed on the `aws-sdk-go-v2` side, we should investigate on upgrading to newer version of the SDK and figuring out if we want to continuously follow the `aws-sdk-go-v2` release schedule for upgrades.

[2021-07-13 18:40] elasticmachine commented on #26873
Pinging @elastic/integrations (Team:Integrations)

[2021-07-13 18:46] michel-laterman commented on #24796
@michalpristas I think the issue being here is that TLS config will error out if the (client) cert or CAs produce any error:
https://github.com/elastic/beats/blob/eb758b9b11addf05816ce9f0bcdf6eab725ca2dc/libbeat/common/transport/tlscommon/config.go#L67-L76

I think that we can solve the issue by changing the behaviour after `LoadCertificateAuthorities` so that it will not error out if `cas` has at

[2021-07-13 19:04] EricDavisX commented on #26738
@amolnater-qasource about how long would you say it stays in unhealthy?  it is not ideal, but if it is brief enough it will be clear to users still and will be ignored correctly.  If it is more than a full minute, I might suggest we raise the priority of this and discuss with the team in slack if there is much to be done.

[2021-07-13 19:46] #26863 closed

[2021-07-13 20:00] trexx commented on #26869
Another one we came across for message-id 304001.  The grok pattern doesn't expect there to be a source username in the log message.

Example:
USER001@192.168.0.1(LOCAL\USER001) Accessed URL 172.17.6.211:http://testingserver.com/somewebpage.html

https://github.com/elastic/beats/blob/v7.13.3/x-pack/filebeat/module/cisco/shared/ingest/asa-ftd-pipeline.yml#L369
[code]

[2021-07-13 23:15] andrewkroh commented on #26360
The `,` separator is new in Go 1.17 so that won't begin working in Beats until the project updates to 1.17. From the pre-release notes at https://tip.golang.org/doc/go1.17:

[2021-07-14 00:03] Aloshi commented on #12174
Seeing this as well, from the stack monitoring page this seems to correlate with our beat no longer queuing new events. From `/var/log/filebeat/filebeat`:

[code]

![image](https://user-images.githubusercontent.com/2001164/125540318-9bf9430a-50be-48ea-8213-675da377f578.png)

(times in log are UTC, screenshot is PST)

[2021-07-14 00:39] legoguy1000 commented on #26869
Easy to fix.  I should have a PR up shortly.

[2021-07-14 00:49] dwlfrth opened #26878 "Filebeat Module - Microsoft Graph API Security"
A lot of Microsoft insights are being fetched through Filebeat modules tho, one important is missing in my opinion.
Microsoft Graph API Security https://docs.microsoft.com/en-us/graph/api/resources/security-api-overview?view=graph-rest-1.0

Especially the alerts. There is already the Microsoft Module which include M365Defender but the graph API security endpoint offer theses alerts along with mult

[2021-07-14 02:29] erenming commented on #26464
Really thanks for your help, and i'll make PR to fix this later.

By the way, in our environment, the app print some huge log event which is about 50MB~100MB occasionally, and the memory limit of filebeat is 512MB. When FB is very busy, and run out of CPU, it will more like to OOM

[2021-07-14 07:39] ChrsMark commented on #22179
@kaiyan-sheng @sorantis I guess this will solve https://github.com/elastic/kibana/issues/100229, right?

[2021-07-14 08:16] #19836 closed

[2021-07-14 09:16] #19856 closed

[2021-07-14 09:16] #19832 closed

[2021-07-14 09:46] prawn520 opened #26883 "filebeat 使用discovery 时报错"
使用discovery时，报如下错误信息
2021-07-14T01:35:39.462Z        ERROR   [autodiscover]  autodiscover/autodiscover.go:210        Auto discover config check failed for config '{
  "docker-json": {
    "cri_flags": true,
    "format": "auto",
    "partial": true,
    "stream": "all"
  },
  "multiline": {
    "match": "after",
    "negate": true,
    "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}|^\\#\\#\\#"
  },
  "pa

[2021-07-14 10:27] amolnater-qasource commented on #26738
Hi @EricDavisX
We have reported this issue to avoid any gap.

After upgrade it was offline just for 15-20 seconds. Hence, we are closing this issue for now.

Thanks

[2021-07-14 10:27] #26738 closed

[2021-07-14 10:27] amolnater-qasource commented on #26177
Hi @EricDavisX
We were earlier installing released Agent on Test Signing OFF machine, which was expected.
However today we have attempted to install 7.13.3 agent with Test Signing ON machine and we are able to upgrade released agent successfully to 7.14.0 Snapshot.

- Agent remained Healthy throughout.

**Screenshot:**
![5](https://user-images.githubusercontent.com/77374876/125604197-901e0396-4943

[2021-07-14 10:27] #26177 closed

[2021-07-14 11:04] dikshachauhan-qasource opened #26884 "Certificate signed error displayed on installing agent under user-defined fleet-server"
**Kibana version:** 7.13.4 snapshot Kibana Cloud-Prod environment

**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.13.4 snapshot Kibana Cloud-Prod environment should be available.

**Build Details:**
[code]
2. A policy having Fleet server integration should be available.
3. Install a fleet-server agent using above policy on windows.
4. Create a inbound rule for 8

[2021-07-14 11:05] elasticmachine commented on #26884
Pinging @elastic/agent (Team:Agent)

[2021-07-14 11:05] dikshachauhan-qasource commented on #26884
@manishgupta-qasource Please review

[2021-07-14 11:09] manishgupta-qasource commented on #26884
Reviewed & Assigned to @andresrc

CC: @EricDavisX

[2021-07-14 11:27] blakerouse commented on #26884
This is correct behavior. That is because you have 1 Fleet Server that is being ran by Cloud and it has a valid (non self-signed) SSL certificate and then you have another Fleet Server that ran on the Windows machine that is using a self-signed certificate.

Because 1 of the Fleet Servers has a self-signed certificate you must install the other Elastic Agent with `--insecure`.

If you could get a

[2021-07-14 11:30] dikshachauhan-qasource commented on #26884
Hi @EricDavisX

Further, we check out agent logs when installed agent directing using default fleet-server. And on scrolling, we found error logs related to certificates in agent logs too.

Agent logs:
[agent_logs_for mac_OS_when_installed_using_default_fleet_server.txt](https://github.com/elastic/beats/files/6815648/agent_logs_for.mac_OS_when_installed_using_default_fleet_server.txt)
[errors_logs

[2021-07-14 12:01] trexx commented on #26869
Still going though my grok errors.

Ran in to a problem with IPV6 addresses for message-id 106023
https://github.com/elastic/beats/blob/v7.13.3/x-pack/filebeat/module/cisco/shared/ingest/asa-ftd-pipeline.yml#L271

Example:
Deny icmp src OUTSIDE:2a05:d016:add:4002:91f2:a9b2:e09a:6fc6 dst OUTSIDE:fe00:afa0::1 (type 128, code 0) by access-group "OUTSIDE_in"

This results in the src/dst interface incl

[2021-07-14 12:14] legoguy1000 commented on #26869
I can take a look at adding this too.

[2021-07-14 12:34] legoguy1000 commented on #26790
This was fixed last year by @marc-gr, https://github.com/elastic/beats/pull/20685. It looks like it was never backported which is why it's still in the 7.x code.

[2021-07-14 12:49] marc-gr commented on #26790
IIRC at the time we concluded it was a breaking change so we did not backport it. It is something we can discuss still @MikePaquette

cc @andrewkroh @jamiehynds

[2021-07-14 13:30] ruflin commented on #26758
I don't think we should build any short term hacks around this and I'm also not sure on the urgency. @jen-huang As soon as there is a config option, we could like use this as the default in the policy?

[2021-07-14 13:46] trexx commented on #26869
Got another regarding message-id 302016 and potentially others that have a connection duration in the message.

TIME is used to grok the duration, however this is inappropriate because the TIME pattern limits hours between 0-23. And since the message is measuring time, there can be situations where hours can be greater than 24 hours. So for connection durations exceeding 23:59:59, matching will fa

[2021-07-14 15:12] #26372 closed

[2021-07-14 16:25] #26846 closed

[2021-07-14 16:25] nimarezainia commented on #26846
a mistake!

[2021-07-14 18:03] fuchsde opened #26891 "Multiline timeout for case "count""
**Describe the enhancement:**

The multiline features allows to use two types "pattern" and "count". From the documentation it is not clear, which configuration option belongs to which type. As a user I would like to use the type "count" together with the option "multiline.timeout" however this option seems only to be activated for "pattern".

I ran into the same issue described in the forum: http

[2021-07-14 18:46] ScubaDrew commented on #14348
We are also having this issue when using the suggested:

[code]

`2021-07-14T17:58:43.900Z	INFO	[modules]	fileset/pipelines.go:133	Elasticsearch pipeline loaded.	{"pipeline": "filebeat-7.13.3-mongodb-log-pipeline"}`

[2021-07-14 19:15] jen-huang commented on #26758
Each agent policy needs to explicitly declare what agent monitoring options should be enabled, by default it is stored as `["logs", "metrics"]` on the policy. We can certainly add this new monitoring option to be enabled by default, but it will only kick in for new agent policies.

We could add a migration for 7.15 to add it to existing policies though. But I think we will want some conditional lo

[2021-07-14 20:53] dwlfrth commented on #26878
No longer required

[2021-07-14 20:53] #26878 closed

[2021-07-14 21:35] EricDavisX commented on #25341
@mtojek do you have an easy way to reproduce this... maybe re-doing the change as you originally tried?  or @blakerouse do you need that at this point?

[2021-07-14 21:37] akshay-saraswat opened #26893 "Add cluster filter on Kubernetes cluster overview out-of-box dashboard"
A Cluster identifier field has been added to metricbeat. We need a UI component and documentation for this field to be useful. We will create a Cluster filter on `[Metricbeat Kubernetes] Overview ECS` dashboard. For users to understand what this filter does and when it gets populated, we need an explanation on the Kubernetes module's documentation page.

[2021-07-14 21:55] nimarezainia commented on #22051
discussion issue with an implementation that was merged.

[2021-07-14 22:20] elasticmachine commented on #26893
Pinging @elastic/integrations (Team:Integrations)

[2021-07-14 22:26] lukeelmers commented on #21119
@elastic/integrations-services The Kibana Core team is planning to remove `/api/settings` in 8.0. Is switching over to `/api/stats` for this data still on the Metricbeat roadmap?

[2021-07-14 22:37] lukeelmers commented on #24136
Just checking in to see if this was still in the works, as we are planning to remove the legacy logging format from Kibana's `master` branch in the next month or two.

Don't hesitate to reach out if any questions come up!

[2021-07-14 22:38] a03nikki opened #26894 "[Docs] [Filebeat] [Kibana module] Add what configuration is needed for it to work"
**Describe the enhancement:**

It would be nice if the documentation for Filebeat's `kibana` module included which log formats are supported and possibly how to configure it so the module worked.

**Describe a specific use case for the enhancement or feature:**

The [Kibana module](https://www.elastic.co/guide/en/beats/filebeat/7.13/filebeat-module-kibana.html) (Filebeat v7.13) does not indicate w

[2021-07-14 23:54] williamh opened #26895 "unable to build metricbeat 7.9.1 outside the git repository"
Hello, I am a package maintainer for Gentoo linux.
I am blind and use a screen reader, so I am posting here because I find forums very difficult to work with.
I want to be able to build a specific version of metricbeat without the git repository.

- Version: 7.9.1, mage version 1.11.0
- Operating System: Linux (Gentoo Linux specifically)
- Discuss Forum URL: See above.
- Steps to Reproduce:

1. cr

[2021-07-15 00:36] legoguy1000 commented on #26869
Adding the last 2 fixes.  For additional item's, I'd post it in the PR so the reviewers can see that new stuff may be added.

[2021-07-15 07:13] mtojek commented on #25341
I think there is nothing special to reproduce. It's just interpretation of the behavior that Blake described above.

[2021-07-15 07:21] elasticmachine commented on #13901
Pinging @elastic/integrations (Team:Integrations)

[2021-07-15 08:16] jsoriano opened #26902 "service.address unexpectedly removed from some metricsets"
Some metricsets don't have the `service.address` field when they were expected to have it.

It seems to happen since https://github.com/elastic/beats/pull/21022. It may be the case that metricsets that don't have a sanitized URI in their host data don't have a `service.address` now. We want to keep both features, sanitized URIs to avoid credential leaks, and `service.address` field to identify ser

[2021-07-15 08:16] elasticmachine commented on #26902
Pinging @elastic/integrations (Team:Integrations)

[2021-07-15 08:39] exekias opened #26903 "Adjust Prometheus histogram buckets calculation"
We want to use the same algorithm to translate Prometheus histograms into Elasticsearch histograms. We have [agreed](https://github.com/elastic/apm-agent-python/pull/1165#discussion_r651397014) on the approach to something like this:

- for +Inf "le", use the preceding bucket's value
- for the first bucket only: if it has a negative "le", use the value as-is; otherwise use half its value (midpoint

[2021-07-15 08:39] elasticmachine commented on #26903
Pinging @elastic/integrations (Team:Integrations)

[2021-07-15 09:16] #19880 closed

[2021-07-15 09:51] jsoriano commented on #26902
I am afraid that all metricsets that don't have a host parser (or explicitly set the sanitized URI in some other way) are affected by this, we should check all these metricsets. But this hasn't been reported frequently, so maybe this is not such an important issue.

[2021-07-15 10:07] jsoriano commented on #26902
Added the list of metricsets without host parser, they are not so many.

[2021-07-15 10:40] NailBash opened #26908 "Problem with filebeat “failed to add target to root”"
Hello, I try to decode escaped_json using "decode_json_fields" processor. I want to add my extracted  json fields to root. But in log I see this error:
[code]
What it can mean?

My filebeat processors config looks like:
[code]
Message looks like:
[code]
Filebeat versions - 7.9.3, 7.10.0, 7.10.2 - tried all 3 with same result.

[2021-07-15 11:12] ChrsMark commented on #26893
We need to cover this on both Beat's side as well as in package's side:

- [ ] beats PR
- [ ] package PR

[2021-07-15 13:37] jsealover opened #26913 "Filebeat AWS Module (S3 Access Log) Grok Pattern Issue"
PUT requests in AWS S3 access logs may include a hyphen in place of an IP address, so the `%{IP:aws.s3access.remote_ip}` grok pattern for the `message` field defined in `filebeat-7.13.3-aws-s3access-pipeline` results in the following error: “Provided Grok expressions do not match field value”.

Modifying the pattern to `(?:-|%{IP:aws.s3access.remote_ip})` resolves the issue.

- Version: 7.13.3
- O

[2021-07-15 14:45] aspacca commented on #18205
@kaiyan-sheng

Do we need a different input or can we use the same input relying either `queue_url` or `s3_bucket` is set in the config?

[2021-07-15 15:16] kuisathaverat opened #26917 "[Uptime] Configure index patterns on the kibana.yml file"
**Describe the enhancement:**

Currently, the only way to change the index pattern settings for Uptime is by using the UI (or a REST call). The possibility of having these settings in the kibana.yml file.

**Describe a specific use case for the enhancement or feature:**

We have to provide our users with a simple way to configure a Kibana instance connected to an Elasticsearch cluster configured t

[2021-07-15 15:46] alvarolobato commented on #26213
Ok, maybe this error message helps, this is how it crashed:
[code]

it looks like it's looking for a group by name instead of GUID

[2021-07-15 15:47] kaiyan-sheng commented on #18205
@aspacca I prefer using the same input `aws-s3` and just adding a new config. WDYT?

[2021-07-15 16:01] michel-laterman commented on #24796
@dwhyrock, the pr I have would create more failure cases than it would resolve. It would introduce a lot of new silent failure modes as the agent would not be able to detect invalid certs, need platform/path knowledge, may ignore typos.
I think our recommendation for fleet is to inline the certificates, is that an acceptable solution (here's [an example of the syntax](https://www.elastic.co/guide/

[2021-07-15 16:16] #17837 closed

[2021-07-15 16:17] michel-laterman commented on #26758
They are decoupled it's possible to enable `log_metrics` and not `metrics`.
However, we have an `agent.logging.metrics.enabled` setting that we may reuse to pass to beats instead of adding the new one

[2021-07-15 16:25] akshay-saraswat commented on #26893
Yes, created a PR for beats. #26919

[2021-07-15 16:36] aspacca commented on #18205
@kaiyan-sheng totally agree

[2021-07-15 16:47] adriansr commented on #26363
This is currently on hold pending further clarification. The updated version of the XSLT file is not making sense to me as it is not escaping non-printable control chars, but just translating some "&#xNN" strings (not XML entities).

[2021-07-15 17:19] Andrey4ik85 commented on #13995
Hello! What about this issue?
I have this problem too
1. Example line: `2021-07-15T20:12:59+03:00 localhost haproxy[6345]: 10.20.30.40:42650 [15/Jul/2021:20:12:59.403] service_tcp_80 service_backend_tcp_80/backend_server 0/0/0/52/52 200 1381 - - ---- 488/8/0/0/0 0/0 "POST /test/test HTTP/1.1"`
2. Send line to kafka:
`event:	{
dataset:	haproxy.log
module:	haproxy
timezone:	+03:00
}
fileset:	{
name:

[2021-07-15 18:00] adriansr commented on #17306
The point of the `timestamp` processor is to set `@timestamp` from a string in other fields, potentially in different datetime formats.

If you just want to set `@timestamp` from a field that is already a valid date for Elasticsearch, such as `event.start` or `event.end`, you can do so already with the [convert processor:](https://www.elastic.co/guide/en/beats/filebeat/current/convert.html)

[code

[2021-07-15 18:02] inqueue commented on #184
_keepalive_

[2021-07-15 18:11] dwhyrock commented on #24796
@michel-laterman Thanks for the response.  I agree that inlining the certificates is probably the best cross-platform solution.

Would this mean disallowing/ignoring file paths in the agent?  Or enforcing the inlining of certificates in the Fleet UI (and disallowing file paths)?  Or something else?

[2021-07-15 18:15] adriansr commented on #17306
@jamiehynds @andrewkroh given that we have a workaround, do you still think it's worth it to have the processor in all Beats?

[2021-07-15 18:49] andrewkroh commented on #17306
@adriansr Is using convert to copy the value a valid workaround? I didn't test it but I thought this was problematic because the value is not a `time.Time` or `common.Time` and you would get an error.

https://github.com/elastic/beats/blob/2876cfb15fba9eb8928811ede697ffc6614086f1/libbeat/beat/event.go#L69-L77

[2021-07-15 20:04] adriansr commented on #17306
It worked for me when setting it from event.start in Packetbeat, but I wasn't aware of that limitation, that will cause it to break in some cases.

[2021-07-15 22:46] kaiyan-sheng commented on #22179
@ChrsMark Yes I think this is a perfect use case for defining and adopting inventory schema.

[2021-07-16 01:38] legoguy1000 commented on #26913
That's an easy fix. I'll add it to the my list tomorrow.

[2021-07-16 02:41] zhengshubin opened #26923 "codec.format parse array"
in codec.format  ,How could I get ip  like   host.ip[1]
exmaple: "host": {
 "name": "XX-PC-1428",
    "ip": [
      "ee::b5a0:dfa6:c1a8:cc5c",
      "192.168.1.1"
    ]
}
I need get "192.168.1.1"

[2021-07-16 07:18] ruflin opened #26930 "[Elastic Agent] Improve Elastic Agent debuggability"
The Elastic Agent is a supervisor which runs sub processes. This combination of multiple process and dependency on Fleet makes debugging the Elastic Agent sometimes tricky. One part is for users to provide the necessary and the other is for engineers to reproduce and understand the issue. Just on example can be found here: https://github.com/elastic/beats/issues/26213

Improving this consists of m

[2021-07-16 07:18] elasticmachine commented on #26930
Pinging @elastic/agent (Team:Agent)

[2021-07-16 08:38] wdoekes commented on #19644
This is unexpected, but it still seems to be the case (auditbeat 7.13.2, on Ubuntu/Bionic).

[code]
[code]
[code]
^- stopped the first time. Waited for almost a minute.
[code]
[code]
^- (re)started. Waited for up to 30 seconds, but saw no drastic decrease in memory usage.
[code]
[code]
^- stopped *the second time*. Instant release of memory.

[2021-07-16 09:32] #26855 closed

[2021-07-16 10:14] MichaelKatsoulis commented on #23400
Like @ChrsMark mentions in https://github.com/elastic/integrations/pull/1324#issuecomment-881293248 the best choice for `defaultNode` could be the value retrieved from env var `NODE_NAME` and that can be returned in case the rest of the methods fail.

[2021-07-16 10:30] ChrsMark commented on #23400
Regarding returning errors and crashing we should take into consideration that `DiscoverKubernetesNode` is called by several places with different usage:

1. add_kubernetes_metadata: https://github.com/elastic/beats/blob/d8d0551ff11302b64a80d8635d8dda3d921a5179/libbeat/processors/add_kubernetes_metadata/kubernetes.go#L160
2. enirch events of kubernetes module: [watcher](https://github.com/elastic/

[2021-07-16 10:35] jsoriano commented on #23400
@ChrsMark +1 to handle the errors reported by `DiscoverKubernetesNode` in different ways if needed. I think the importat thing is to make it return an error if it cannot discover the node name :)

[2021-07-16 10:36] jsoriano commented on #23400
And +1 to add `NODE_NAME` environment variable to the list of possible sources of this information.

[2021-07-16 10:52] trexx commented on #26869
It looks like theres a list of message ids that determines whether event.outcome is success or failure.
https://www.cisco.com/c/en/us/td/docs/security/asa/syslog/b_syslog/syslog-messages-701001-to-714011.html#con_4776486

With some message ids it may not be so clear, for example 713905 is an informational message which can refer to some successful operations, but I see in test logs it can also ref

[2021-07-16 12:58] elasticmachine commented on #26913
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-07-16 15:04] justinkambic commented on #26122
Checked mapping for these fields, looks ok.

[2021-07-16 15:30] justinkambic commented on #25201
I tested this in a local cluster with recent Heartbeat, worked as expected.

[2021-07-16 15:49] justinkambic commented on #26780
I configured a test journey that throws an error in the `beforeEach` hook of the TODOs journey, and the error showed up.

![image](https://user-images.githubusercontent.com/18429259/125974637-f8b14435-a47c-4c92-b342-ba0a7a05417e.png)

[2021-07-16 16:07] legoguy1000 commented on #26913
PR Submitted

[2021-07-16 17:09] kaiyan-sheng commented on #26429
Hi @ndtreviv currently `aws-cloudwatch` input doesn't support the `json.*` options. These json options are only for [log input](https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-input-log.html#filebeat-input-log-config-json) in Filebeat. I will leave this issue open to track this enhancement. Thank you!

[2021-07-16 17:29] williamh commented on #26895
Ping? Does anyone have any suggestions?

Thanks much,

William

[2021-07-16 18:04] ferullo opened #26941 "Agent (Filebeat) stops Endpoint from deleting its own logs"
Endpoint logs to `c:\Program Files\Elastic\Endpoint\state\log\`. Log files are broken into 25MB files, once that limit is reached a new log file is started. After 100MB of logs are saved, Endpoint deletes the oldest log to roughly stay under the 100MB cap. If that cleanup fails and a roughly 200MB cap is hit a hard limit is reached. Endpoint will stop logging and report policy failure (unhealthy s

[2021-07-16 18:38] JohnLyman commented on #13901
I can confirm this is still an issue with filebeat 7.13.2.

I was able to work-around this by setting `kibana.log.meta.args.attributes.fields` properties to `type: text` with `index: false`.

[2021-07-16 19:03] JPLachance commented on #22101
Greetings!

AWS IMDSv2 was released in [November 2019](https://aws.amazon.com/blogs/security/defense-in-depth-open-firewalls-reverse-proxies-ssrf-vulnerabilities-ec2-instance-metadata-service/). One pandemic later, I don't consider myself as an early adopter of AWS IMDSv2.

We plan to completely get rid of IMDSv1 in our AWS EC2 fleet and at the moment, Filebeat is a blocker for our project.

I've

[2021-07-16 20:56] kaiyan-sheng commented on #26711
Good point!

S3 bucket also?

[2021-07-16 21:18] fuomag9 commented on #25181
same error RHEL 8.4

[2021-07-16 22:16] #19943 closed

[2021-07-18 01:16] #12442 closed

[2021-07-19 09:27] ndtreviv commented on #26314
@predogma I specifically specified metricsets to try and get around this error: https://github.com/elastic/beats/issues/26284

It currently keeps throwing errors about collecting ml_job stats, which I don't want (I have ml turned off on my cluster specifically). I thought at the time that specifying metricsets and excluding this one would help me. I guess not!
Thanks for clarifying.

[2021-07-19 09:29] ndtreviv commented on #26314
Anyway, the fix to this issue is to update the documentation on the metricsets to make it clear what data each set draws in.

For example: The shards metricset does not bring in all data about shards - only shards that have changed status as and when they do change status, and so far I've only seen it report shards that have `STARTED`, not shards changing to  `REALLOCATING` or `UNASSIGNED`.

[2021-07-19 09:32] kuisathaverat commented on #26711
The easy way is to tag everything created from the CI, then nuke everything with those tags every daily. If we add the tag `CI` and another like `created-DAY_OF_YEAR` we can nuke resources safely a day after they are created.

[2021-07-19 09:47] StephanU commented on #22743
This might be easy to solve. It seems like the result format of the couchdb stats endpoints did not change from version 2 to 3.
So I just added another case statement here https://github.com/elastic/beats/blob/master/metricbeat/module/couchdb/server/server.go#L130
like this:
[code]
and it worked.

[2021-07-19 10:49] hazcod commented on #20625
unstale.

[2021-07-19 10:50] zhaoyi0113 opened #26951 "Whether it supports AWS cloudwatch streaming data?"
**Describe the enhancement:**

I am deploying applications to AWS including various services. I am planning to use Kibana and Elasticsearch to view metrics from Cloudwatch. I know I can configure metricbeat by using AWS module which works as a crawler to pull metrics data from AWS to Elasticsearch. But there is another mode which is to use Cloudwatch metric stream to stream metics data to analytic

[2021-07-19 11:28] joshdover commented on #14196
I believe this and #20672 are duplicates. I am going to close this issue in favor of the other which has more details.

[2021-07-19 11:28] #14196 closed

[2021-07-19 11:34] yxxhero opened #26953 "How I can covert @timetime to string?"
How I can covert @timestamp to string?

[2021-07-19 13:06] ChrsMark commented on #26893
@akshay-saraswat will you also do the port to the package, or do you prefer us to do that?

[2021-07-19 13:54] #26913 closed

[2021-07-19 14:04] #21068 closed

[2021-07-19 16:25] maggieghamry commented on #22572
@jmlrt @kuisathaverat  is this chart available anywhere yet?

[2021-07-19 17:13] andrewkroh commented on #26913
@Mergifyio backport 7.x

[2021-07-19 17:29] stephan-erb-by commented on #23852
@andreadelrio @exekias @ChrsMark is adding support for `use_types` and `rate_counters` planned for K8s annotations at some point in the future?

In the meantime, could this be achieved using `co.elastic.metrics/raw` as another workaround to the one Steffen proposed above?

[2021-07-19 17:37] andresrc commented on #23918
Thanks @vibhutisawant . I'm afraid we don't expect to move forward with this in the near feature, as there are other priorities for the CI environment.

[2021-07-19 17:48] EricDavisX commented on #25341
I'm doing follow-ups on open issue for 7.14 - is this still under review / possible merge for 7.14?  If we aren't attempting it, then please update the label to 7.15 or beyond and put it to backlog from 'iteration' as well.  Thank you.  @blakerouse

[2021-07-19 17:50] EricDavisX commented on #22051
I'm doing regular follow-ups on open issue for 7.14 - is there anything remaining to be done for this?  Please close or update label and process on as desired.  Thank you.

[2021-07-19 17:53] EricDavisX commented on #26101
@nimarezainia @mostlyjason can you cite if you'd think this is more of an Enhancement then (to prevent any Agent running Fleet Server Integration from being unenrolled)?  we can log a new ticket if you prefer, might be cleaner and we can close this out, then, too.  @amolnater-qasource can follow through.  I removed the 7.14 label fyi

[2021-07-19 17:58] EricDavisX commented on #26365
I'm doing follow-ups on open issue for 7.14 - is this still under review / possible improvement for 7.14?  If we aren't attempting it, then please update the label to 7.15 or beyond and finish any other processing, please.  @nimarezainia @mostlyjason

[2021-07-19 18:00] EricDavisX commented on #26223
I'm doing follow-ups on open issue for 7.14 - is this still under review / possible merge for 7.14?  If we aren't attempting it, then please update the label to 7.15 or beyond and put it to backlog from 'iteration' as well.  Thank you.  @michalpristas

[2021-07-19 18:14] mostlyjason opened #26966 "[Elastic Agent] BETA reported on GA installation"
I'm running the 7.14 snapshot for Elastic Agent and its reporting that's BETA on the installation console. This line should be removed.

[code]

[2021-07-19 18:14] elasticmachine commented on #26966
Pinging @elastic/agent (Team:Agent)

[2021-07-19 18:14] mostlyjason commented on #26966
@nimarezainia @EricDavisX FYI

[2021-07-19 18:25] EricDavisX commented on #23297
I am updating the label from 7.14 to 7.15 and we can re-review if we want to spend time and are indeed able to easily access the files to fix.

[2021-07-19 18:29] urso commented on #24796
One can either rely on the hosts CA storage (e.g. /etc/ssl/storage on linux I think), or try to inline the certificate as @michel-laterman already mentioned.

I think the Fleet UI allows you to add custom YAML based settings to outputs. This should allow you to put the certificates inline. @mostlyjason Any idea if we have planned dedicated UI in Fleet?

I'm not sure I understand your question. The

[2021-07-19 18:31] mostlyjason commented on #24796
We already support inline certs like this

[code]

[2021-07-19 18:37] leehinman opened #26967 "[ECS] Upgrade modules to ECS 1.11"
## ECS 1.11 Changes

### Added

- elf.* field set added as beta. elastic/ecs#1410
- Remove beta from orchestrator field set. elastic/ecs#1417
- Extend threat.* field set beta. elastic/ecs#1438
- Added event.agent_id_status field. elastic/ecs#1454
- process.target and process.target.parent added to experimental schema. elastic/ecs#1467
- Threat indicator fields progress to beta stage. elastic/ecs#1

[2021-07-19 18:37] elasticmachine commented on #26967
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-07-19 18:42] kuisathaverat commented on #22572
No, it is not public yet.

https://github.com/elastic/observability-test-environments/pull/1569

[2021-07-19 19:50] maggieghamry commented on #22572
@kuisathaverat thank you! I see all checks passed - do we know what's preventing this from getting integrated?

[2021-07-19 20:15] dwhyrock commented on #24796
I was mainly asking about how this would be handled in Fleet.  I could see others trying to do as I did and adding a path for each OS that they support.  But my suggestion for preventing them from adding paths in Fleet seems like a poor choice as well since they could be in a homogenous OS environment where that would be a fine solution.

It sounds like the documentation will be the cleanest solut

[2021-07-19 20:15] #24796 closed

[2021-07-20 10:21] amolnater-qasource commented on #21870
Hi @EricDavisX
As per feedback have revalidated this on 7.14.0 BC-3 and had below observations:

All agents were installed with policy having System and Endpoint Security.
We are able to uninstall agents on mac and linux with: `./elastic-agent uninstall -f` command from installation directories.

<body>

OS | Path | Command | Re-install
-- | -- | -- | --
MAC | /Library/Elastic/Agent/* | ./elastic-

[2021-07-20 12:08] roysG commented on #22567
Same for me, any update?

[2021-07-20 12:13] blakerouse commented on #26966
Duplicate of #26748

[2021-07-20 12:13] #26966 closed

[2021-07-20 12:16] christophercutajar commented on #22567
What version are you running @roysG?

[2021-07-20 12:16] andrewvc commented on #26210
Are we certain there's a real error in the command and not just a test failure? I think the real issue here is that the synthetics command always returns a status > 0 when there's a failing test. We should add an option to disable this behavior, thus suppressing this frequent message.

[2021-07-20 12:19] roysG commented on #22567
Version of filebeat?

On Tue, 20 Jul 2021, 15:16 Christopher Cutajar ***@***.***>
wrote:

[2021-07-20 12:20] roysG commented on #22567
filebeat version 7.13.3 (amd64), libbeat 7.13.3 [3ddad4cee7394d1643023604f246cd5ab6d8cfbb built 2021-07-02 12:11:38 +0000 UTC]

[2021-07-20 12:29] kushagra-io commented on #18988
@kaiyan-sheng Has there been an update to this issue yet? We're experiencing the same issue as well on filebeat version 7.13.3

[2021-07-20 12:31] kushagra-io commented on #23226
@kaiyan-sheng  Has there been an update to this issue yet? We're experiencing the same issue as well on filebeat version 7.13.3

[2021-07-20 13:30] urso commented on #18702
Closing this issue. Updating Beats should improve the situation, as newer Beats releases take the kind of environment into account when computing the default logging settings.

[2021-07-20 13:30] #18702 closed

[2021-07-20 14:14] kaiyan-sheng commented on #18988
This should be fixed by #18764.

[2021-07-20 14:14] #18988 closed

[2021-07-20 14:14] blakerouse commented on #26536
This is blocking my progress on #26665? Is there an update on this? Can we skip the test?

[2021-07-20 14:17] kaiyan-sheng commented on #26536
@blakerouse Not sure if I can only skip certain dashboard from this pythonIntegTest. I will look into how to fix it today.

[2021-07-20 14:25] philippkahr commented on #26953
Questions should be asked in the [discuss.elastic.co](discuss.elastic.co) forum. However, you can use a processor in the ingest pipeline for that. https://www.elastic.co/guide/en/elasticsearch/reference/master/convert-processor.html

[2021-07-20 14:25] #26953 closed

[2021-07-20 14:28] philippkahr opened #26979 "Beats windows binaries should be published officially to the chocolatey repository"
**Describe the enhancement:**

There are a lot of beats flavors available for Windows. You can search through them here: https://community.chocolatey.org/packages?q=tag%3Abeat I personally feel like that there should be officially beats installation packages available from Elastic.

We are already publishing macOS to brew, so doing the same to Windows seems like a win win for me.

[2021-07-20 14:47] kuisathaverat commented on #22572
something is going on with filebeat and the log module that makes the filebeat process restart continuously, I think is something with GKE or k8s 1.19

see https://github.com/elastic/observability-test-environments/issues/1043#issuecomment-870786482

[2021-07-20 15:08] nguoingoai opened #26980 "filebeat Postgres module parse log error"
version using is 7.13.3 , OS centos7

Follow instruction at https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-module-postgresql.html

[code]
Log was exported and put in kibana success but the Grok parsing meet the following error

`Provided Grok expressions do not match field value: [2021-07-20 16:07:24.606 +07,"postgres","hr",4988,"[local]",60f6920d.137c,3,"SELECT",2021-07-20 16:06:

[2021-07-20 15:27] elasticmachine commented on #26981
Pinging @elastic/agent (Team:Agent)

[2021-07-20 17:29] andrewvc commented on #26391
Closing since this was fixed in #25219

[2021-07-20 17:29] #26391 closed

[2021-07-20 18:36] kaiyan-sheng commented on #26536
@blakerouse btw x-pack/metricbeat test dashboard is already disabled in PR https://github.com/elastic/beats/pull/26537. Do you need to reenable the test for your PR?

[2021-07-20 19:29] blakerouse commented on #26536
@kaiyan-sheng I am seeing this error with last merge of master into my PR. Seems like the exact same issue that is reported here.

https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats/detail/PR-26665/15/

[2021-07-20 19:42] kaiyan-sheng commented on #26536
Thanks for the link! It's the same problem but happening under `beats/metricbeat` instead of `beats/x-pack/metricbeat`. Maybe https://github.com/elastic/beats/pull/26972 will fix it!

[2021-07-20 20:30] kaiyan-sheng opened #26985 "Add config option to enable debug level log in AWS SDK"
We encountered some issues in Filebeat s3 input that the error message does not contain enough information to debug. For example: https://github.com/elastic/beats/issues/23226, response is OK but error is not nil. It would be very helpful if we can enable debug level log in AWS sdk to get more information.

Thanks @aspacca for your idea!

[2021-07-20 20:30] elasticmachine commented on #26985
Pinging @elastic/integrations (Team:Integrations)

[2021-07-20 23:02] #25750 closed

[2021-07-21 02:19] SperChung-11 opened #26986 "Metricbeat: collects k8s pods cpu which is lower than actually used"
Hi, We are using metricbeat to collects k8s pods cpu. In the beginning, it can collects the cpu correctly. After running for serveral weeks or serveral months, we found that the pods cpu metricbeat collects is lower than actually used. Finally, it recovers while we restart the metricbeat. We can see as follows graph.

1.Metricbeat configuration:
![image](https://user-images.githubusercontent.com/7

[2021-07-21 02:23] SperChung-11 commented on #26986
@

[2021-07-21 02:36] #26748 closed

[2021-07-21 06:25] elasticmachine commented on #26941
Pinging @elastic/agent (Team:Agent)

[2021-07-21 06:40] vibhutisawant commented on #23918
Thanks @andresrc . We will be happy to help if things change in the future.

[2021-07-21 06:40] #23918 closed

[2021-07-21 07:11] #26497 closed

[2021-07-21 07:46] kvch commented on #26941
My theory is that log files cannot be deleted because Filebeat is still keeping them open because either
* Filebeat cannot forward events to the output, thus, keeping the files open so nothing gets lost (I assume this is not the case otherwise @ferullo would have mentioned that the output is blocked)
* Filebeat does not close the rotated files even if it has finished forwarding the logs

My questi

[2021-07-21 08:33] kostty commented on #23226
Hi @kaiyan-sheng In case this helps to debug the problem, we did some troubleshooting on our side by comparing a working setup with the one that is giving the error in the subject. For us, as soon as [object locking](https://docs.aws.amazon.com/AmazonS3/latest/userguide/object-lock.html) is enabled on a bucket, it prevents Filebeat from consuming objects.

An example of Terraform configuration tha

[2021-07-21 09:39] jpountz opened #26998 "Stop reading memory usage statistics from Elasticsearch."
Elasticsearch is removing the ability to get information about the memory usage of segments in order to prepare for the upgrade to Lucene 9. https://github.com/elastic/elasticsearch/pull/75274

Beats should stop collecting this information. Specifically the following fields would no longer exist in the response when referring to segments:
 - `memory`
 - `memory_in_bytes`
 - `terms_memory`
 - `term

[2021-07-21 09:41] jpountz commented on #26998
Could you also tell me whether you have tests against Elasticsearch master builds, in which case I will wait for this issue to be addressed before merging elastic/elasticsearch#75274.

[2021-07-21 12:16] #16046 closed

[2021-07-21 13:04] ferullo commented on #26941
Correct, There was no issue reaching Elasticsearch. Endpoint and Agent/Beats were able to reach Elasticsearch the whole time for the repro.

Endpoint does not rename log files. Log files are named `endpoint-XXXXXX.log`, where `XXXXXX` is a zero-lead number (e.g. `000003`). When a log file fills up Endpoint increments to the next number (e.g. `000004`).

Once the directory is over capacity Endpoint

[2021-07-21 13:16] #17922 closed

[2021-07-21 18:13] Lauri-Kinsta commented on #26342
Some clarification for this part:

So it seems that when Filebeat starts harvesters and start throwing stuff into memory, it'll run into the system memory limit which will kill it and restart the process. I have an environment where Filebeat uses around 200MB continuously which is interesting since when I checked none of the logs were active (offset 0 in the registry), aside from one which receive

[2021-07-21 18:14] st4r-fish commented on #26342
Some clarification for this part:

So it seems that when Filebeat starts harvesters and start throwing stuff into memory, it'll run into the system memory limit which will kill it and restart the process. I have an environment where Filebeat uses around 200MB continuously which is interesting since when I checked none of the logs were active (offset 0 in the registry), aside from one which receive

[2021-07-22 02:16] #11476 closed

[2021-07-22 04:42] jonas27 commented on #17515
Hi, any answer on the question above?

[2021-07-22 07:04] ChrsMark commented on #17515
Hi @jonas27, unfortunately there is still no progress in this one. However if you run on Kubernetes, you can collect container metrics through the `kubernetes` module (`container` metricset more specifically) . Also it would be nice if you could share  more information about your use case.

[2021-07-22 08:06] jonas27 commented on #17515
Thanks @ChrsMark In my team we were using the metric overview for "docker" containers in Kibana quite frequently. This overview is not functional anymore after upgrading to containerd and k8s 1.21
In my opinion  it would be nice to have the ability to query CRI instead of docker for the same metrics.

[2021-07-22 09:19] ChrsMark commented on #17515
Yeap, this is a known issue I think, see https://github.com/elastic/kibana/issues/100229.
The thing is that the UI is tightly coupled with `docker.*` fields while the same metrics could be displayed using for example `kubernetes.container.cpu`, as I mentioned in my previous comment. This one should be fixed with the on-going work around ECS fields introduction https://github.com/elastic/beats/issu

[2021-07-22 09:31] jonas27 commented on #17515
Makes sense and it seems you are working on it, so I will wait and be happy when the feature arrives 🙂
(Maybe as a last note, I think cri support would be enough. Imo there are not many people using none cri compatible container runtimes except from docker)

[2021-07-22 10:54] elasticmachine commented on #26998
Pinging @elastic/agent (Team:Agent)

[2021-07-22 10:54] elasticmachine commented on #26998
Pinging @elastic/integrations (Team:Integrations)

[2021-07-22 10:59] ruflin commented on #26998
This issue is about the module / integration of elasticsearch and I think we likely test against master: https://github.com/elastic/beats/blob/master/metricbeat/module/elasticsearch/_meta/Dockerfile#L2 @masci @jasonrhodes In case we test, I think we should get a quick fix into master to not fetch / check for these fields anymore to unblock Elasticsearch.

I mislabeld the issue first. This falls in

[2021-07-22 11:16] #19834 closed

[2021-07-22 12:25] malvidin commented on #20710
Pinging @elastic/siem (Team:SIEM)

[2021-07-22 14:00] kvch opened #27013 "MQTT"

[2021-07-22 14:01] #27013 closed

[2021-07-22 14:17] #24496 closed

[2021-07-22 14:25] #26536 closed

[2021-07-22 14:28] #26205 closed

[2021-07-22 14:31] adamkozuch commented on #8033
Hi Team, Could I work on that?

[2021-07-22 14:36] ChrsMark opened #27019 "[Agent] Support labels dedot in k8s provider"
We need to support label's dedoting or use `flattened` type as proposed at https://github.com/elastic/beats/pull/26801#discussion_r673891761. We need to verify which option works best for us so the scope of this issue is to investigate the option of `flattened` and evaluate if it could be used instead of dedoting the labels (and annotations) as it was the case in Beats.

cc: @MichaelKatsoulis @aks

[2021-07-22 14:36] elasticmachine commented on #27019
Pinging @elastic/integrations (Team:Integrations)

[2021-07-22 14:39] ChrsMark opened #27020 "[Agent] Support ephemeral containers in k8s provider"
As a follow-up of https://github.com/elastic/beats/pull/26801#discussion_r673906734 we need to introduce support for ephemeral containers similar to what we have in Beats today.

cc: @MichaelKatsoulis @akshay-saraswat

[2021-07-22 14:39] elasticmachine commented on #27020
Pinging @elastic/integrations (Team:Integrations)

[2021-07-22 15:17] michaelarnauts opened #27021 "decode_base64_field doesn't allow to decode unpadded base64 strings"
It seems that `decode_base64_field` is using `base64.StdEncoding.DecodeString` to decode the string, but that function only supports unpadded strings. There also is a `base64.RawStdEncoding.DecodeString` function, but this one only supports unpadded strings.

https://github.com/elastic/beats/pull/25817 tried to solve this by appending `=`-signs until the string was fully padded, but another soluti

[2021-07-22 17:40] nicpenning commented on #26008
This is high priority for us. Are there any workarounds with the Ingest Node pipeline to bring in the MISP events that use the objects?

[2021-07-22 18:39] #26213 closed

[2021-07-22 19:01] nimarezainia commented on #26367
@dedemorton could we just point to the "current" troubleshooting URL? My gut feel is that troubleshooting is not really version based. Sure there are bugs etc that are version based but how someone goes about troubleshooting shouldn't be version based.

[2021-07-22 19:41] #20734 closed

[2021-07-22 21:31] hhuang-godaddy commented on #19126
This should be considered as a bug. It effectively caused publishing the same metric data twice.

[2021-07-22 21:38] hhuang-godaddy commented on #19126
https://github.com/elastic/beats/blob/683130a37daf0ee3399aa363fdee64e98c78f649/x-pack/metricbeat/module/aws/utils.go#L34
This should be just
```return endTime.Add(period * -1), endTime```

[2021-07-22 21:39] hhuang-godaddy commented on #19126
https://github.com/elastic/beats/blob/683130a37daf0ee3399aa363fdee64e98c78f649/x-pack/metricbeat/module/aws/utils.go#L34
This should be just
```return endTime.Add(period * -1), endTime```
@kaiyan-sheng

[2021-07-23 04:16] #20175 closed

[2021-07-23 04:37] danishprakash commented on #12602
@simitt correct me If I'm wrong but this looks like a rather trivial change, mind if I raise a PR for this?

[2021-07-23 04:41] danishprakash commented on #8804
Mind if I pick this up?

[2021-07-23 14:14] dgknuth commented on #20029
Has this received any additional work? unfortunately without log severity code, it makes monitoring _extremely_ difficult to quickly catch problems.

[2021-07-24 00:01] zemm opened #27035 "Nomad autodiscover fails to pick up some tasks"
Nomad autodiscover introduced in #16853 seems to completely miss some new Nomad tasks, and therefore never ship any logs for them. The cause seems to be that it uses event's `AllocModifyIndex` to check for changes, when it should actually use `ModifyIndex`.

- Version: 7.13.4 (amd64)
- Operating System: CentOS 8
- Discuss Forum URL:
- Steps to Reproduce:

## Test setup

1) Let's start a local Noma

[2021-07-24 00:08] zemm commented on #27035
And while I still have the environment, let's also see the `w.waitIndex`:

[code]

And from the Nomad event stream we can see that the value of `25` has already passed the two `run` events that were missed, so these will not be picked up:
[code]

[2021-07-24 23:39] tong-bluehill commented on #22167
+1. We do need to overwrite existing data with same id. This should be configurable as overwrite: true/false in functionbeat/filebeat.

[2021-07-25 11:17] dudeisbrendan03 commented on #14442
Is there an issue with the progress of Auditbeat in Fleets?

[2021-07-25 20:16] #14972 closed

[2021-07-25 20:16] #20230 closed

[2021-07-25 21:41] liza-mae opened #27036 "Beats import dashboards fails sometimes on kibana api status"
Versions: 7.14+

The loading or dashboards on beats, sometimes fails to connect, returns nil.  However it looks like the response is returning correctly, why is it failing?

[code]

[2021-07-25 21:41] elasticmachine commented on #27036
Pinging @elastic/integrations (Team:Integrations)

[2021-07-26 07:37] elasticmachine commented on #27036
Pinging @elastic/agent (Team:Agent)

[2021-07-26 07:50] elasticmachine commented on #27035
Pinging @elastic/integrations (Team:Integrations)

[2021-07-26 07:50] ChrsMark commented on #27035
cc: @jsoriano

[2021-07-26 07:51] elasticmachine commented on #27021
Pinging @elastic/agent (Team:Agent)

[2021-07-26 07:51] elasticmachine commented on #26986
Pinging @elastic/integrations (Team:Integrations)

[2021-07-26 07:52] ChrsMark commented on #26986
cc: @MichaelKatsoulis

[2021-07-26 07:52] elasticmachine commented on #26980
Pinging @elastic/integrations (Team:Integrations)

[2021-07-26 07:53] ChrsMark commented on #26980
cc: @sayden

[2021-07-26 07:53] elasticmachine commented on #26979
Pinging @elastic/agent (Team:Agent)

[2021-07-26 07:53] elasticmachine commented on #26951
Pinging @elastic/integrations (Team:Integrations)

[2021-07-26 07:53] ChrsMark commented on #26951
cc: @kaiyan-sheng

[2021-07-26 07:55] #26923 closed

[2021-07-26 07:57] #26908 closed

[2021-07-26 07:58] elasticmachine commented on #26895
Pinging @elastic/agent (Team:Agent)

[2021-07-26 07:59] elasticmachine commented on #26894
Pinging @elastic/agent (Team:Agent)

[2021-07-26 08:00] elasticmachine commented on #26891
Pinging @elastic/agent (Team:Agent)

[2021-07-26 08:00] #26883 closed

[2021-07-26 08:00] elasticmachine commented on #26869
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-07-26 08:00] elasticmachine commented on #26869
Pinging @elastic/siem (Team:SIEM)

[2021-07-26 08:01] elasticmachine commented on #26839
Pinging @elastic/integrations (Team:Integrations)

[2021-07-26 08:01] ChrsMark commented on #26839
cc: @kaiyan-sheng

[2021-07-26 08:01] elasticmachine commented on #26823
Pinging @elastic/agent (Team:Agent)

[2021-07-26 08:10] ChrsMark commented on #26816
@narph @adriansr @andrewkroh I'm pinging you directly since it seems to be an issue with windows but I'm not sure which team owns this specific codebase. Could you please triage this accordingly?

[2021-07-26 08:10] elasticmachine commented on #26805
Pinging @elastic/integrations (Team:Integrations)

[2021-07-26 08:10] ChrsMark commented on #26805
cc: @sayden

[2021-07-26 08:11] elasticmachine commented on #26796
Pinging @elastic/agent (Team:Agent)

[2021-07-26 08:11] elasticmachine commented on #26793
Pinging @elastic/integrations (Team:Integrations)

[2021-07-26 08:12] ChrsMark commented on #26793
cc: @sayden

[2021-07-26 08:12] elasticmachine commented on #26751
Pinging @elastic/integrations (Team:Integrations)

[2021-07-26 08:12] ChrsMark commented on #26751
cc: @fearful-symmetry

[2021-07-26 08:15] ChrsMark commented on #26726
Hi! Is this an enhancement request? Also isn't this related to Elasticsearch itself? Please open a proper enhancement request to elasticsearch repository providing as much information/detail about your proposal.
I'm gonna close this now, thanks!

[2021-07-26 08:15] #26726 closed

[2021-07-26 08:16] elasticmachine commented on #26700
Pinging @elastic/integrations (Team:Integrations)

[2021-07-26 08:16] ChrsMark commented on #26700
@exekias any thoughts on this?

cc: @MichaelKatsoulis @jsoriano

[2021-07-26 08:17] elasticmachine commented on #26697
Pinging @elastic/integrations (Team:Integrations)

[2021-07-26 08:17] ChrsMark commented on #26697
cc: @narph

[2021-07-26 08:18] elasticmachine commented on #26685
Pinging @elastic/agent (Team:Agent)

[2021-07-26 08:21] ChrsMark commented on #26563
Hi! Unfortunately not, you cannot reject a log line without first reading it :). Please consider increasing the resource limits for Filebeat container so as to avoid this OOM kills.

[2021-07-26 08:21] #26563 closed

[2021-07-26 08:21] elasticmachine commented on #26519
Pinging @elastic/integrations (Team:Integrations)

[2021-07-26 08:21] ChrsMark commented on #26519
cc: @sayden

[2021-07-26 08:22] elasticmachine commented on #26499
Pinging @elastic/agent (Team:Agent)

[2021-07-26 08:22] ChrsMark commented on #26499
cc: @kvch @aspacca

[2021-07-26 08:52] exekias commented on #26700
I think this is a good point, we could review the implementation to better handle these

[2021-07-26 09:04] DaveCTurner opened #27046 "Record Elasticsearch indexing pressure metrics in Metricbeat's node stats outputs"
**Describe the enhancement:**

In 7.9.0 Elasticsearch introduced a new backpressure mechanism for indexing requests, and relaxed the existing mechanism that was based on the length of the `write` threadpool queue. Each node reports stats about this mechanism in the `GET _nodes/stats` API, but today I believe Metricbeat doesn't copy these stats into the metrics docs that it indexes. It would be awf

[2021-07-26 09:04] elasticmachine commented on #27046
Pinging @elastic/integrations (Team:Integrations)

[2021-07-26 10:16] endorama commented on #15613
I performed some investigation:

1. I was not able to reproduce this as a "permission denied";
	The error for this case (printed by `gcloud` cli) was:
[code]
	I would assume that the same error is returned by APIs.
2. 404 is easily triggered by querying for a compute instance in the wrong zone (I'm not sure if this may be the case, I suspect not and more logs are needed to troubleshoot)
3. without

[2021-07-26 13:05] adriansr commented on #26816
This is caused by a `nil` address (source of datagram) returned by the read routine [UDPConn.ReadFrom](https://pkg.go.dev/net#UDPConn.ReadFrom).

After discussing this with @kvch, who was the last person to refactor this code, she pointed me to [this comment](https://github.com/elastic/beats/pull/6439#issuecomment-377265559) by @ph, which indicates that this is the known behavior under Windows for

[2021-07-26 13:23] LaZyDK opened #27050 "Decode_CEF preprocessor fails when MAC address is without separators"
**Describe the enhancement:**
Decode_CEF preprocessor needs to support MAC addresses without separating characters.
https://github.com/elastic/beats/blob/877d8bcd176b2f5d4efd2a81846a481b94798b49/x-pack/filebeat/processors/decode_cef/cef/types.go#L93

**Describe a specific use case for the enhancement or feature:**
While sending syslog in CEF format from Aruba ClearPass we get errors.

Log from Aru

[2021-07-26 13:47] kaiyan-sheng commented on #26951
Hello, thanks for creating this. But we would kindly ask you to post all questions and issues on https://discuss.elastic.co/c/beats before opening a Github Issue. Your questions will reach a wider audience there, and if we confirm that there is a bug, then you can reopen this issue or open a new one with more details. Thanks in advance!

For cloudwatch metric streams, unfortunately we currently do

[2021-07-26 13:47] #26951 closed

[2021-07-26 13:55] kaiyan-sheng commented on #8174
@fearful-symmetry Maybe we discussed this before, do you know if we are planning to switch to displaying normalized cpu in visualization?

[2021-07-26 14:29] andrewkroh commented on #26816
This seems like a bug in Go (at least for the handling of `WSAEMSGSIZE`) where it should return the raw sock addr and an error. https://github.com/golang/go/blob/849b7911293c3cb11d76ff2778ed560100f987d1/src/internal/poll/fd_windows.go#L590

For the syslog use case as a user I would prefer to have the partial data that was received along with an error in the event. I'd prefer not to see 0.0.0.0 in

[2021-07-26 16:59] zapadoody commented on #16522
I see the client library has been updated, any eta for the Metricbeat module to support ACLs and TLS settings for Redis?

[2021-07-26 17:23] fearful-symmetry commented on #26751
So, I did some digging, and there's actually a fair bit of difference between how we calculate percentages, and I'm guessing that our implementation is based on an outdated version of what docker did. We just do `metric/memory_limit` for any given memory value, but docker is (now) just a tad more sophisticated:

[code]

I'm leaning towards calling this a bug, based on how other platforms.

[2021-07-26 17:44] elasticmachine commented on #27050
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-07-26 18:02] andrewkroh commented on #27050
The parser is expecting a separator because the documention we used to implement it specified it for `dmac`. I tend to think Aruba should fix their formatter, but we should make our parser handle this case too.

<img width="760" alt="Screen Shot 2021-07-26 at 1 54 19 PM" src="https://user-images.githubusercontent.com/4565752/127035692-8d49872e-cc0f-4dd8-9f31-b38ed7333a5d.png">

Reference: https://

[2021-07-26 19:32] fearful-symmetry commented on #8174
In theory it feels like we should be using normalized percentages, and the choice to _not_ use them seems odd enough that I wonder if we had some kind of reasoning for it. I'm gonna try and run some tests to see if swapping over to `norm` breaks anything, since this could be an easy fix, assuming we consider it to not be a breaking change.

[2021-07-27 00:44] EricDavisX commented on #26312
I sent an email to confirm, and hope to find that we have already covered this and the specs for it are quite simple - we can follow up in another day or so with more info async

[2021-07-27 04:29] DPattee commented on #8174
FWIW I updated the chart in my dashboard back when this first came up, and the heatmap has been displayed correctly through multiple updates of beats.

[2021-07-27 06:15] amolnater-qasource opened #27057 "[Agents][Windows 10]: "Failed to render configuration" error logs when windows agent is installed with only System integration."
**Kibana version:** 7.14.0 BC-4 Kibana cloud environment

**Host OS and Browser version:** Windows 10 x64, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 BC-4 Kibana cloud environment should be available.
2. Agent must be installed using Default policy having System.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agent Logs tab.
3. Apply "error" filter log le

[2021-07-27 06:15] elasticmachine commented on #27057
Pinging @elastic/agent (Team:Agent)

[2021-07-27 06:15] amolnater-qasource commented on #27057
@manishgupta-qasource Please review.

[2021-07-27 06:18] zt9788 opened #27058 "7.13.2 sometime will write disk a file that name checkpoint.new"
beat:
filebeat
version:
7.13.2
Modules : None
System: ubuntu

filebeat will Write a new "checkpoint.new" file to the hard disk every few seconds
file content ≈ log.json

yml(simple):

[code]

[2021-07-27 06:21] manishgupta-qasource commented on #27057
Reviewed & assigned to @EricDavisX

[2021-07-27 06:33] ruflin opened #27059 "[Elastic Agent] Expose httpprof for Elastic Agent"
Beats can be run with the `--httpprof` [flag](https://www.elastic.co/guide/en/beats/filebeat/current/command-line-options.html) to expose an http server for [profiling](https://pkg.go.dev/net/http/pprof). For debugging purpose, this should also be supported by Elastic Agent.

If Elastic Agent is started with --httpprof, how will this affect the sub processes? What about the ones written in a diffe

[2021-07-27 06:34] elasticmachine commented on #27059
Pinging @elastic/agent (Team:Agent)

[2021-07-27 07:20] rgoers opened #27061 "Add null (\u0000) as a valid line terminator."
Log4j 2 supports the Gelf Layout. The Gelf spec mandates that lines be terminated with a null value. For reliability we would like to write our GELF formatted logs to files and then transfer them to Logstash using filebeat. We currently have Log4j 2 writing directly to Logstash via TCP but we experienced an issue last week where ElasticSearch ran out of space which caused Logstash to hang, which i

[2021-07-27 07:26] amolnater-qasource opened #27062 "[Agents]: "rpc error: code = Canceled desc" error logs on setting logging level to debug."
**Kibana version:** 7.14.0 BC-4 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 BC-4 Kibana cloud environment should be available.
2. Agents must be installed using Default policy having System integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agent Logs tab.
3. Select `elastic-agent.fil

[2021-07-27 07:26] elasticmachine commented on #27062
Pinging @elastic/agent (Team:Agent)

[2021-07-27 07:30] amolnater-qasource commented on #27062
@manishgupta-qasource Please review.

[2021-07-27 07:37] manishgupta-qasource commented on #27062
Reviewed & assigned to @EricDavisX

[2021-07-27 07:58] dikshachauhan-qasource commented on #26312
Hi @EricDavisX

We have gone through the shared email threads and posted related queries on ticket https://github.com/elastic/elasticsearch/pull/74180.

Please let us know if we are missed anything.

[2021-07-27 08:35] amolnater-qasource opened #27064 "[Agents]: Artifacts related and "Initial configuration application failed" errors on adding Endpoint Security to the Agent policy."
**Kibana version:** 7.14.0 BC-4 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 BC-4 Kibana cloud environment should be available.
2. Agents must be installed using Default policy having System and Endpoint Security integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agent Logs tab.
3. Sel

[2021-07-27 08:35] elasticmachine commented on #27064
Pinging @elastic/agent (Team:Agent)

[2021-07-27 08:35] amolnater-qasource commented on #27064
@manishgupta-qasource Please review.

[2021-07-27 08:40] manishgupta-qasource commented on #27064
Reviewed & assigned to @EricDavisX

[2021-07-27 08:56] elasticmachine commented on #27058
Pinging @elastic/agent (Team:Agent)

[2021-07-27 08:56] elasticmachine commented on #27061
Pinging @elastic/agent (Team:Agent)

[2021-07-27 09:55] dikshachauhan-qasource commented on #26966
Hi @EricDavisX

We have validated this issue and found it non-reproducible on 7.14BC4 Kibana cloud staging build.

`The Elastic Agent is currently in BETA and should not be used in production`
**Observation**:  Above mentioned log is now not displayed during installation or in agent logs.

**Screenshot:**
![image](https://user-images.githubusercontent.com/72375798/127134687-6a4c4eef-4fd5-4461-8087

[2021-07-27 10:16] #2926 closed

[2021-07-27 10:22] spinscale opened #27067 "Filebeat: decode_json_fields processor ignores add_error_key option"
Version: 7.13.4
OS: osx

When using the `decode_json_fields` and configuring to add error keys, such errors are not added to the final JSON.

Sample configuration

[code]

First test with a valid JSON object:

[code]

returns

[code]

However invalid JSON like the missing bracket at the start does not show any error in the final JSON

[code]

returns

[code]

[2021-07-27 11:26] zemm commented on #27035
At the risk of this already being way more verbose than it needs for a single line change, here is the `filter-alloc-events-2.jq` used above to reduce the Nomad even api messages:

[code]

[2021-07-27 11:35] jsoriano commented on #27035
@zemm thanks for reporting this! Do you think that only changing `AllocModifyIndex` with `ModifyIndex` would fix this issue?
I am not planning to work with nomad autodiscover soon, but if you can open a pull request with the proposed change and you have the chance to try it on a real deployment I will be happy to review the changes.

[2021-07-27 11:56] ramgurufh commented on #26435
I think these changes are not yet pushed to 7.13.4.

[2021-07-27 11:58] legoguy1000 commented on #26435
Ya it looks like it was only backported to 7.14.

[2021-07-27 12:24] kvch commented on #26941
@ferullo Please review the proposed fix.

[2021-07-27 12:43] LaZyDK commented on #18205
This will allow Filebeat to pull Cisco Umbrella logs from a Cisco Managed S3 bucket. This is also possible with Logstash today.

[2021-07-27 12:45] da77a commented on #26700
Happy to do a PR with tests, as noted actual code change is trivial.

[2021-07-27 12:48] LaZyDK commented on #27050
I agree that Aruba should stick to the CEF format, but even though they might fix this in the future we have no way of supporting their older software versions.
Having the parser doing this operation will be the best solution to support all needs.

[2021-07-27 13:45] zemm commented on #27035
@jsoriano I'm sure the current version isn't usable, seems like I might be the first one to actually run it :sweat_smile:. With a brief testing previously, I think this change is enough, but I can (and must) run this on a real, albeit small 3+3 node, deployment within a couple of weeks. I can monitor that for a while and report how it's going.

For now, I'd rather not sign the Contributor Agreemen

[2021-07-27 14:10] ruflin commented on #23670
There is currently some work ongoing in Elasticsearch, see https://github.com/elastic/elasticsearch/pull/75731 and the related issues / pull requests. We need to figure out we make this best happen as part of the build process.

[2021-07-27 14:17] #26827 closed

[2021-07-27 14:42] aleksmaus opened #27079 "Beats configuration "dotted" keys issue"
It looks like the "dotted" keys are not supported in the configuration as of July 27th, 2021.

Trying to introduce the **ecs_mapping** for **osquery_manager** integration.

The data stream template (stream.yml.hbs) looks like this:
[code]

Submitting the integration configuration payload with ```ecs_mapping``` that looks like the following:
[code]

Kibana renders the stream configuration with ecs_

[2021-07-27 14:42] elasticmachine commented on #27079
Pinging @elastic/agent (Team:Agent)

[2021-07-27 14:50] ruflin commented on #27079
@michalpristas @blakerouse @urso I assume this building of the tree somewhere happens between Elastic Agent when the config is shipped down to the process. Maybe go-ucfg is applying some magic here? Is there a reason we "dedot" configs?

[2021-07-27 14:51] EricDavisX commented on #27057
@ruflin @michalpristas I'll ask you both, if you think this warrants any research for why Agent is throwing errors.  Ideally, Agent wouldn't, but as it happens only once and only on start up and we observe no other malfunctioning behaviors we could close it out.  Or leave it open for if someone wants to look at it as a tech-debt type item.

[2021-07-27 14:54] EricDavisX commented on #27062
@ruflin @michalpristas I'll ask you both, if you think this warrants any research for why Agent is throwing errors.  Ideally, Agent wouldn't, but as it happens only once and only on start up and we observe no other malfunctioning behaviors we could close it out.  Or leave it open for if someone wants to look at it as a tech-debt type item.

[2021-07-27 14:56] aleksmaus commented on #27079
looks like default options use ```ucfg.PathSep(".")``` which will split the key

[2021-07-27 15:44] breskeby commented on #23670
just for clarification. I think apart from the sha256 header digest also file digest needs to be switched from md5 (rpm default) to sha256. how are the beats rpms currently build? ES is using the nebula ospackage plugin which relies on redline, a java library for building rpms. We needed to patch this redline library to get sha256 header and sha256 payload + file digests in our ES RPMS

[2021-07-27 21:22] kaiyan-sheng opened #27084 "Flaky Test [Build&Test / filebeat-build / TestFilestreamCloseRenamed – github.com/elastic/beats/v7/filebeat/input/filestream]"
## Flaky Test

* **Test Name:** TestFilestreamCloseRenamed
* **Link:** https://github.com/elastic/beats/blob/68e990993fc5b6ce9e360befc2bef53713aaf8c0/filebeat/input/filestream/input_integration_test.go#L38
* **Branch:** 7.x
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats/detail/PR-27077/2/tests
* **Notes:** I'm seeing this error in https://github.com/elast

[2021-07-27 21:23] kaiyan-sheng opened #27085 "Flaky Test [Build&Test / filebeat-build / TestFilestreamTruncateBlockedOutput – github.com/elastic/beats/v7/filebeat/input/filestream]"
## Flaky Test

* **Test Name:** TestFilestreamTruncateBlockedOutput
* **Link:** https://github.com/elastic/beats/blob/68e990993fc5b6ce9e360befc2bef53713aaf8c0/filebeat/input/filestream/input_integration_test.go#L695
* **Branch:** 7.x
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats/detail/PR-27077/2/tests

### Stack Trace

[code]

[2021-07-27 21:25] elasticmachine commented on #27085
Pinging @elastic/agent (Team:Agent)

[2021-07-27 21:25] elasticmachine commented on #27084
Pinging @elastic/agent (Team:Agent)

[2021-07-27 21:38] elasticmachine commented on #27067
Pinging @elastic/agent (Team:Agent)

[2021-07-27 21:38] elasticmachine commented on #27067
Pinging @elastic/integrations (Team:Integrations)

[2021-07-27 22:39] elasticmachine commented on #26570
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-07-27 22:39] kaiyan-sheng commented on #26570
Or maybe we can add a note in the documentation first?

[2021-07-27 22:48] kaiyan-sheng commented on #27084
This flaky test will be disabled by https://github.com/elastic/beats/pull/26728.

[2021-07-27 22:48] #27084 closed

[2021-07-27 23:23] legoguy1000 commented on #26570
I would say it should match or may cause further confusion. Looking at the logstash plugin, it doesn't seem to be doing any lowercasing, https://github.com/logstash-plugins/logstash-output-elasticsearch/blob/476097712b67e0452099769b2c8b0ef6e63e40eb/lib/logstash/outputs/elasticsearch.rb#L421.

[2021-07-28 07:44] ChrsMark commented on #27085
@kvch It seems there are several flaky tests around `Filestream` feature. Are there any plans on working on these?

[2021-07-28 09:16] #20253 closed

[2021-07-28 10:08] #26857 closed

[2021-07-28 10:33] andrewkroh commented on #23670
The RPMs from beats are built using [fpm](https://github.com/jordansissel/fpm/wiki). FPM does have an `--rpm-digest` flag that appears to control the `_binary_filedigest_algorithm`.

https://github.com/jordansissel/fpm/blob/067f4ccfd07d228256ff313be4f9dc36e61055ee/templates/rpm.erb#L23-L27

https://github.com/elastic/beats/blob/5481b06b9c1c08ba9ab3214963c4b6e8614430f5/dev-tools/mage/pkgtypes.go#L7

[2021-07-28 11:50] #23400 closed

[2021-07-28 11:53] legoguy1000 commented on #26980
What version of postgres? The module is expecting the timezone to be letters like `UTC`, not `+07`. I'd change that first and then see if it works.

[2021-07-28 12:18] ruflin commented on #27079
I wonder if we should disable this in general. Maybe worth trying to remove it and see what happens? Otherwise we could just disabled it for osquerybeat?

[2021-07-28 12:37] legoguy1000 commented on #26615
Does this still need to be worked?

[2021-07-28 12:37] ruflin commented on #27057
It looks like this error is thrown in the transpiler of the dynamic inputs resolution: https://github.com/elastic/beats/blob/master/x-pack/elastic-agent/pkg/agent/application/pipeline/emitter/controller.go#L120 I suspect it is somehow related to the windows specific inputs in the system package or some provider which does not work as expected on windows. @blakerouse any ideas?

Suggestion to repro

[2021-07-28 12:43] legoguy1000 commented on #24746
I can implement this if it's wanted.

[2021-07-28 12:52] ruflin commented on #27062
It might be related to timing. I marked is a bug I think we should investigate this. It might hide another more sever issue.

[2021-07-28 12:52] legoguy1000 commented on #22855
@andrewkroh does this still need to be done?

[2021-07-28 12:54] ruflin commented on #27064
Same as the others, marking this as a bug we need to look into. It might be just a timing / logging issue but it is something we need to investigate.

[2021-07-28 13:12] dikshachauhan-qasource opened #27099 "[Agent Error logs]: local error: tls: bad record MAC message recorded in agent logs."
**Kibana version:** 7.14 BC4 Kibana Cloud-staging environment

**Browser version:** Chrome, Firefox and edge
**Host OS**: Windows 10, windows server 2016, debian, centos, Catalina.

**Preconditions:**
1. 7.14 BC4 Kibana Cloud-staging environment should be available.

**Build Details:**
[code]
- Agents on Windows 10, windows server 2016, debian, centos OSs should be installed.

**Steps to reproduce

[2021-07-28 13:12] elasticmachine commented on #27099
Pinging @elastic/agent (Team:Agent)

[2021-07-28 13:13] dikshachauhan-qasource commented on #27099
@manishgupta-qasource Please review

[2021-07-28 13:16] manishgupta-qasource commented on #27099
Reviewed & assigned to @EricDavisX

[2021-07-28 13:24] blakerouse commented on #27079
I don't think we can just remove it. It would break parsing other parts of the `elastic-agent.conf`.

[2021-07-28 13:25] chreichert commented on #26284
Same problem here with version:
`{"system_info": {"build": {"commit": "1907c246c8b0d23ae4027699c44bf3fbef57f4a4", "libbeat": "7.13.4", "time": "2021-07-14T18:54:36.000Z", "version": "7.13.4"}}}`

Not setting metricsets but using `xpack.enabled: true`

`2021-07-28T13:22:47.539Z	INFO	module/wrapper.go:259	Error fetching data for metricset elasticsearch.ml_job: HTTP error 400 in : 400 Bad Request
`
M

[2021-07-28 13:27] blakerouse commented on #27057
`context cancelled` errors really should be caught and not logged. `context cancelled` are errors that are normal behavior in most situations. I think in this case that is logs from the fresh installation. The Elastic Agent is installed and started, then enrolled and then re-started to change to `managed` mode. That will cause the `context cancelled` error.

This is has no real impact other than u

[2021-07-28 13:32] aleksmaus commented on #27079
[code]
so with the JSON like this for example we will loose some values after converting to YAML? the last one wins?

[2021-07-28 13:56] andrewkroh commented on #23670
Here's the update for FPM: https://github.com/elastic/golang-crossbuild/pull/118

[2021-07-28 14:05] artemlive commented on #25435
I have the same issue. So any ideas on how to deal with this? If we use the path as `/var/lib/docker/containers/*/*-json.log` we won't be able to filter logs by the k8s metadata fields like 'kubernetes.pod.name', namespace, etc.

[2021-07-28 14:08] nimarezainia commented on #25603
I see that this is somewhat old but with 7.14 I don't see this issue:

nimarezainia@Nimas-MacBook-Pro elastic-agent-7.14.0-SNAPSHOT-darwin-x86_64 % sudo elastic-agent status
Status: HEALTHY
Message: (no message)
Applications:
  * filebeat	(HEALTHY)
    Running
  * metricbeat	(HEALTHY)
    Running
  * filebeat	(HEALTHY)
    Running
  * metricbeat	(HEALTHY)
    Running

![image](https://user-images.

[2021-07-28 14:10] #26941 closed

[2021-07-28 14:16] #26223 closed

[2021-07-28 14:18] #22051 closed

[2021-07-28 14:27] breskeby commented on #23670
@andrewkroh that looks good IMO. For elasticsearch we have this output for the rpm I've tested succesfully on centos tips enabled:

[code]

[2021-07-28 14:29] breskeby commented on #23670
one thing I also needed to change is to use filedigestalgo to sha256 (defaults to md5) to get our rpm working. You should be able to test the RPM on one of our centos 8 fips enabled CI images

[2021-07-28 14:31] andrewkroh commented on #23670
And this is the change to Beats to add the `--rpm-digest` flag to FPM. https://github.com/elastic/beats/pull/27103

[2021-07-28 14:38] mostlyjason commented on #25021
@urso what is needed to close this one out?

[2021-07-28 14:41] andrewkroh commented on #22855
It does, but I would only make the change to the integration package for this new feature.

https://github.com/elastic/integrations/blob/master/packages/gcp/data_stream/vpcflow/elasticsearch/ingest_pipeline/default.yml

[2021-07-28 14:58] #24954 closed

[2021-07-28 15:00] #25021 closed

[2021-07-28 15:01] legoguy1000 commented on #22855
If you have the sample data, I have no problem doing it for whichever repo you guys want.

[2021-07-28 15:25] #25603 closed

[2021-07-28 15:36] ferullo opened #27108 "[BUG] Filebeat memory use issue"
I copied this issue's content from a [Discuss post](https://discuss.elastic.co/t/endpoint-filebeat-memory-7-13-3-rare-event/279759)

![image](https://user-images.githubusercontent.com/56368752/127351825-7d2d3f20-9569-43b1-99c6-fbb6e90d6e44.png)

Minor bug with Filebeat and Endpoint. This is a rare event and only happened to 6 "known" machines out of 100.

Filebeat memory utilization consumed the r

[2021-07-28 15:51] andrewkroh commented on #27050
PR: https://github.com/elastic/beats/pull/27109

[2021-07-28 16:54] EricDavisX commented on #27099
@andresrc @ruflin posting another logs-based error found.  Actual Agent functionality / impact is TBD, we may want to research it to know more before deciding.

[2021-07-28 17:11] lthach2 opened #27114 "[Elastic Agent] Agent fails to start when installed through proxy"
Attempting to install Elastic Agent via a proxy results in the agent service being installed, but it fails to start.  This results in the host populating in the Fleet web UI but stuck on "Updating."  When installing without a proxy, the agent service starts successfully and the host shows as "Healthy" in the Fleet web UI.

- Elastic Version: 7.14.0-SNAPSHOT
- Agent Version:
Binary: 7.14.0 (build:

[2021-07-28 17:11] elasticmachine commented on #27114
Pinging @elastic/agent (Team:Agent)

[2021-07-28 17:28] EricDavisX commented on #27114
@lthach2 I was going to ask, I believe you had cited a case where it WAS working, can you post the details and differences between the 2 scenarios here please?

[2021-07-28 17:44] lthach2 commented on #27114
@EricDavisX Turns out I spoke too soon when initially reporting it was working.  I assumed that since the install showed the agent was successfully enrolled, that everything was functioning, but turns out the agent service fails to start.

[2021-07-28 17:55] jam01 commented on #6084
We've been trying to figure this out as well. We're seeing filebeat output this on debug, for our auto discovered non-default_config'd nginx annotated pod:

[code]

but that will not work because it's a containerd based kubernetes cluster and not docker. We can't seem to figure out how to tell filebeat to instead use `/var/log/containers/*${data.kubernetes.container.id}.log` for those auto discove

[2021-07-28 18:19] lthach2 commented on #27114
Details about my test environment as it may require more testing in a fully on-prem environment:
- Stack is cloud hosted so Fleet server is cloud hosted as well
- Proxy is hosted in Endgame VMware lab with Internet access
- Endpoint is also hosted in Endgame VMware lab

[2021-07-28 18:22] andrewkroh opened #27115 "[Filebeat] Error ingesting GCP audit logs with protoPayload"
I am getting errors while ingesting GCP audit logs. Based on the error it appears that the `jsonPayload` is expected to always be present but in this event I have `protoPayload`.

**version:**
[code]

**error.message:**
`GoError: failed in processor.convert: conversion of field [json.jsonPayload] to type [[unset]] with target field [json] failed: field [json.jsonPayload] is missing: key not found`

[2021-07-28 18:22] elasticmachine commented on #27115
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-07-28 18:28] jam01 commented on #6084
To answer my own question... I decided to dig into the code and found this https://github.com/elastic/beats/blob/a4e5a73af1df3020b5d50d5a198963bd66e5c370/filebeat/autodiscover/builder/hints/logs.go, which led me to trying this

[code]
 which works. The default_config is applied to the events found through autodiscover hints.

[2021-07-28 18:35] andrewkroh commented on #27115
Closing. This was a result of not using unique subscription names across topics. audit logs were routing into vpcflow logs.

[2021-07-28 18:36] #27115 closed

[2021-07-28 18:48] andrewkroh commented on #22855
I enabled flow logging for a VPC that had k8s cluster. Here are some samples of the raw `event.original` values for one flow.

[code]

[2021-07-28 19:23] charlie-pichette opened #27116 "[Elastic Agent] Agent CA / certs problem on RHEL 7.3 (Requires --insecure to Install successfully)"
The RPM installation does not enroll in Fleet on RHEL 7.3.

- Version: Binary: 7.14.0 (build: 331b419cb92cc0029d462b626c53ee5987c8af37 at 2021-07-22 02:24:07 +0000 UTC)
- Operating System: Red Hat Enterprise Linux Server 7.3 (Maipo)
- Steps to Reproduce:
	- Create a 7.14.0-BC4 cluster on Elastic Cloud Staging
	- Create a RHEL 7.3 host
	- Download the Elastic Agent RPM package to the host https://s

[2021-07-28 19:23] elasticmachine commented on #27116
Pinging @elastic/agent (Team:Agent)

[2021-07-28 19:37] EricDavisX commented on #27116
the phrasing in the short desc is offering the work-around of --insecure option... but I'd phrase it as this environment / version seems to have some problem with using the self-signed certs from hosted Fleet Server.

The support matrix shows CentOS/RHEL 7 as supported, https://www.elastic.co/support/matrix

And I know we'e tested with .tar.gz deploys and I don't think we've had this problem - so

[2021-07-28 19:56] EricDavisX commented on #26312
The design doc for this was pointed to as the source for info, so I am copying out the scenarios we want to support here:

There may be more elsewhere, but confirmed in scope for 7.14 are:
- [ ] 1 An Elastic Cloud operator configures and runs hosted Elastic Agents inside containers.
- [ ] 2 An integrations user configures and runs Elastic Agents in Docker containers without persistent volumes.
- [

[2021-07-28 20:50] nimarezainia commented on #26667
Spoke to @blakerouse about this. I think adding the flag is a great idea to delay the enrollment so let's move ahead with this and the work on the unique agent id separately. All of these efforts should help in addressing the VDI use cases.

[2021-07-28 21:13] EricDavisX commented on #27116
@andresrc @nimarezainia @mostlyjason - do we want to review this with any urgency (even if not for 7.14) ?

[2021-07-28 21:14] EricDavisX commented on #27114
@urso @andresrc @ruflin any thoughts on first triage of this?

[2021-07-29 01:08] lthach2 commented on #27114
Quick update after some additional testing on my end.  I did another test in an on-prem environment and encountering the same issue with agent failing to start.

On-prem environment:
- ES:  7.14.0
- Agent:  7.14.0 (build: 331b419cb92cc0029d462b626c53ee5987c8af37 at 2021-07-22 02:24:06 +0000 UTC)
- Fleet server installed on separate endpoint
- Proxy, fleet server, and endpoint are on the same netwo

[2021-07-29 02:51] EricDavisX commented on #26884
@dikshachauhan-qasource thanks for raising it.  Indeed until the team decides to support the mixed "hybrid" environment a user who wants to use cloud for the ELK stack will want to disable the Fleet / APM server or remove it from the Fleet Settings at least.

[2021-07-29 06:35] ruflin opened #27124 "[Elastic Agent] Add more developer docs around Elastic Agent"
More and more teams are using and building on top of Elastic Agent. Quite a few things are not documented yet related to developing against the Elastic Agent. This issue is to collect a list of items that should be documented to help other teams and unload the Elastic Agent team from helping others. For now, I would put these docs into https://github.com/elastic/beats/blob/master/x-pack/elastic-ag

[2021-07-29 06:35] elasticmachine commented on #27124
Pinging @elastic/agent (Team:Agent)

[2021-07-29 06:37] ruflin commented on #27124
@andrewvc @axw and teams, it would be helpful if you could extend this list.
@andresrc I expect this issue to grow over time but we should continously work on it as it will save us time in the end.

[2021-07-29 06:56] amolnater-qasource commented on #27116
Hi @EricDavisX
We have attempted to install rpm agent on rhel 7.3 and observed this issue reproducible on 7.14.0 BC-5 Kibana Cloud environment.

Yes Eric, we have tested this earlier on Ubuntu 20, Ubuntu 18, Centos 8.0 and we have not covered rhel machine. However it was working well on those machines.

Further we have attempted to install .tar.gz agent using install command, available under Add A

[2021-07-29 07:28] amolnater-qasource commented on #27116
Hi @EricDavisX
We have also observed this issue reproducible for .tar.gz and .rpm agents on rhel 8.0 on 7.14.0 BC-5 Kibana Cloud environment.
[code]

**Screenshot:**
![2](https://user-images.githubusercontent.com/77374876/127449945-ab694dc4-58aa-4fdb-86e2-f990f6413fe1.JPG)

Thanks

[2021-07-29 07:56] Kosmonafft commented on #6084
The problem is now that it looks like you can only provide exactly one default config if you are using hint based autodiscover (at least I couldn't figure it out) You cannot say: "For these logs I want to use this default config if no hints are provided and for these logs I want to use another default config.

[code]

[2021-07-29 08:20] elasticmachine commented on #27108
Pinging @elastic/agent (Team:Agent)

[2021-07-29 08:33] michalpristas commented on #27062
looked into it.
it reports context cancelled on beats shutdown/restart. so not a bug which would affect behaviour it just produces this error log line which may be misleading.
i will add a filter for context cancel error after stop is called, also i can add it to 7.14 if we make it in time but i don't see it as that burning

[2021-07-29 08:38] KeithTt commented on #3088
bulk_max_size didn't help for me...

Any update?

[2021-07-29 09:22] KeithTt commented on #3088
Restart logstash and it worked...

[2021-07-29 09:24] amolnater-qasource commented on #27057
Hi @EricDavisX
We have observed new set of `error` logs on installing Windows 10 x64 agent on 7.14.0 BC-5 Kibana cloud environment.
- Windows 10 x64 agent is installed with Default policy having only system integration.

**Screenshot:**
![3](https://user-images.githubusercontent.com/77374876/127466395-c687e490-b6a1-44b3-869d-3d28c5572748.JPG)

**Logs:**
[Win-logs.zip](https://github.com/elastic/be

[2021-07-29 09:42] david-kow opened #27127 "Failure to appy schema and metricbeat.sock not found errors in Fleet Server metricbeat logs"
When running Fleet Server in Kubernetes with agent monitoring enabled I see the following three errors repeat continuously in the metricbeat logs:

[code]

- Version: `7.14.0-SNAPSHOT`
- Operating System: centos
- `fleet-setup.yml` contents:

[code]

- Fleet Server is visible in the UI:
<img width="823" alt="Screenshot 2021-07-29 at 11 39 54" src="https://user-images.githubusercontent.com/50632861

[2021-07-29 10:02] david-kow opened #27128 "Elastic Agent seems to be stuck when using FLEET_TOKEN_POLICY_NAME"
Elastic Agent doesn't start Beats when `FLEET_TOKEN_POLICY_NAME` env var is specified. Logs stop at:
[code]

As soon as any change is made in the UI (eg. changing unenrollment time or integration description) the Agent gets unstuck and continues to work:

[code]

The policy is defined in kibana config as:
[code]

It seems that this only happens for non-default policies. If I set `is_default` to `t

[2021-07-29 11:21] elasticmachine commented on #27127
Pinging @elastic/agent (Team:Agent)

[2021-07-29 11:26] david-kow commented on #27127
Below the config from "View policy".

[code]

[2021-07-29 11:37] aspacca commented on #19393
@Dudssource
There's no need to give `sts:AssumeRole` permission to the worker node role.

I assume you have OIDC provider for the IRSA, and you annotated the `metricbeat` `serviceAccount` with a IAM role ARN.

In this case you can add a trust relationship to that role like the following:

[code]

This way the `sts:AssumeRole` permission will be limited to the service accounts you add the trust rel

[2021-07-29 11:58] urso commented on #27114
In the logs you shared I don't see any error, only that Agent has been stopped. Can you archive and share the complete Agent folder?

It looks like enrollment did succeed. Agent write a `fleet.yml` file with fleet server connection details. We might want to check if that is correct.

[2021-07-29 12:16] dikshachauhan-qasource commented on #26312
Hi @EricDavisX

We have checked out 02 scenarios as per covered under testing at our end.

Just for update: Further, we can try for one -two scenarios more and will update checkboxes accordingly after validating them.

Thanks
QAS

[2021-07-29 12:41] michalpristas commented on #27116
wondering if:
- ca authority is trusted (can we update those?)
- FIPS is enabled

[2021-07-29 12:50] kvch commented on #20672
### How does dashboard management work today with the legacy API?

#### Import

Dashboards should be placed under the `_meta/kibana/7` folder for every module and Beat. During packaging, they are collected into a common folder from where the Beat can import them along with the index pattern.

Dashboards are loaded when the Beat starts or the user calls `setup`. Beats overwrite every dashboard if t

[2021-07-29 12:52] amolnater-qasource opened #27132 "[Rhel 7.3][Fleet]: Linux .tar.gz and .rpm Agents not sending data on rhel 7.3"
**Description:**
We have attempted to validate agent installation over rhel 7.3 with .rpm and .tar.gz artifacts on 7.14.0 BC-5 Kibana Cloud environment.

**Reference ticket:**
https://github.com/elastic/beats/issues/27116
As per this issue, we have installed the agent using --insecure.

**Build Details:**
[code]

**Observations:**
- No agent logs under Agent Logs tab.
- No Data under data streams

[2021-07-29 12:52] elasticmachine commented on #27132
Pinging @elastic/agent (Team:Agent)

[2021-07-29 12:52] amolnater-qasource commented on #27132
@manishgupta-qasource Please review.

[2021-07-29 12:55] manishgupta-qasource commented on #27132
Reviewed & Assigned to @EricDavisX

[2021-07-29 12:56] blakerouse commented on #27116
Based on the description and error you are using a self-signed certificate, is that correct? From the command line you provided you are not passing in a CA, so is the CA installed into the system?

Based on this documentation you need to use `trust anchor` to get it installed into the system https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/security_guide/sec-shared-sys

[2021-07-29 12:57] michalpristas commented on #27132
`{"log.level":"error","@timestamp":"2021-07-29T08:39:09.195-0400","log.logger":"publisher_pipeline_output","log.origin":{"file.name":"pipeline/output.go","file.line":154},"message":"Failed to connect to backoff(elasticsearch(https://eae9a99ad36e4c8d9bc36c02f47f64f8.us-central1.gcp.foundit.no:443)): Get \"https://eae9a99ad36e4c8d9bc36c02f47f64f8.us-central1.gcp.foundit.no:443\": x509: certificate s

[2021-07-29 13:35] lthach2 commented on #27114
Hi @urso, sure thing.  Below is the download link for the Agent folder from my test box.

https://upload.elastic.co/d/b70c1816893b40f1ed19dc6a300e0ec7b6956f6cfb948872eeb617787a39ef2f
Token:  909fcc333f10e707

[2021-07-29 14:31] hungnguyen-elastic opened #27137 "filebeat-<agent.version>-cisco-asa-asa-ftd-pipeline creates fields network.inner as string"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2021-07-29 15:28] Dudssource commented on #19393
Hi @aspacca, thank you for your reply!
Actually this was just one possible workaround to make the plugin work in our environment.
The main cause is that currently the metricbeat plugin doesn't support the WebIdentity authentication flow (required by the IRSA mechanism).

[2021-07-29 16:21] aspacca commented on #19393
@Dudssource the solution I've provided uses the WebIdentity authentication flow.

As you can see in the trust relationship the action we grant is `sts:AssumeRoleWithWebIdentity`.

Indeed what triggers the use of the WebIdentity authentication flow is using a more recent version of the AWS SDK in Filebeat.

#27126  will take care of it

[2021-07-29 17:15] peasead commented on #24746
Yeah, I think any help would be appreciated.

[2021-07-29 17:51] urso opened #27138 "Elastic Agent Diagnostics support"
The Elastic Agent currently sends logs and metrics to the monitoring cluster, which currently is the Elasticsearch cluster used to manage Agent. In the standalone case logs and metrics are also available locally.
For debugging purposes and a detailed analysis of ongoing issues, the available data might not be enough. Users might want to share additional information like internal configurations, pr

[2021-07-29 17:51] elasticmachine commented on #27138
Pinging @elastic/agent (Team:Agent)

[2021-07-29 17:53] P1llus commented on #24746
Feel free @legoguy1000 :)

[2021-07-29 18:12] Dudssource commented on #19393
@aspacca Sure, that's exactly what I was trying to do when I opened this issue.
Glad to see that the WebIdentity support is about to be released for beats!

[2021-07-29 18:27] michel-laterman commented on #12040
From what I can tell, this issue has been resolved by https://github.com/elastic/beats/pull/17958, do we want to add an additional testcase for this case (@blakerouse what do you think?)

[2021-07-29 20:02] s0nders commented on #24124
Any movement with this bug, I'm seeing the same issue?

[2021-07-29 20:16] #13416 closed

[2021-07-29 20:59] EricDavisX commented on #27057
that sounds like a new separate issue possibly, may be better off in its own ticket as such.

[2021-07-29 21:20] EricDavisX opened #27140 "Elastic Agent non-Windows host - Agent doesn't finish installing until after re-starting the service"
Hi this is a spawn off of testing done in support of
https://github.com/elastic/beats/pull/26665
 - testing done with 7.14 BC4 Agent and Cloud based stack

I'm transferring this issue from the Endpoint team, to Beats / Agent.

From @dikshachauhan-qasource : we have attempted to validate the endpoint behavior on French VM machines and found it working fine with a small glitch.

Observations:
Scenar

[2021-07-29 21:20] elasticmachine commented on #27140
Pinging @elastic/agent (Team:Agent)

[2021-07-29 22:05] EricDavisX commented on #27132
I tested on Debian 10 with the DEB installer and had no issues installing Agent or Endpoint and getting all expected logs.  I also tested on RHEL 8 (I thought it was a v7 os but it wasn't!) with the tar.gz installer as well as the RPM and both worked fine as well.  Let's close this as 7.3 specific and track it in the earlier logged ticket noted, 27116

[2021-07-29 22:05] #27132 closed

[2021-07-29 22:06] jskitz commented on #25865
I can't believe I upgraded a minor version, and this killed all of my scripts because of this change. Why in the world wasn't this upgraded to a version 8.0? Anyone know how to downgrade easily to a version that will work with my ElasticSearch cluster, which is running 7.7? I've tried to downgrade to a version before 7.13, and have been having some issues finding a compatible version through apt-g

[2021-07-29 22:13] EricDavisX commented on #27116
I closed a duplicate to this so I'll post the brief notes, and include notes from the other ticket:

Amol had posted logs from his 7.3 system:
{"log.level":"error","@timestamp":"2021-07-29T08:39:09.195-0400","log.logger":"publisher_pipeline_output","log.origin":{"file.name":"pipeline/output.go","file.line":154},"message":"Failed to connect to backoff(elasticsearch(https://eae9a99ad36e4c8d9bc36c02f

[2021-07-29 22:16] EricDavisX commented on #27116
I found I did have a well known working CentOS 7 environment and have used the .tar.gz installer there and had no issues.  I sounds like it may very well be because Charlie / Amol updated something on the template they very likely will have shared for the tests.

@charlie-pichette do you have any bandwidth to follow thru further?

[2021-07-29 22:26] jskitz commented on #25865
For anyone else that has encountered this problem, I was able to get back up and running running the following command to downgrade:sudo apt-get install logstash=1:7.12.1-1

[2021-07-29 22:45] legoguy1000 commented on #24746
PR Ready

[2021-07-30 00:28] legoguy1000 commented on #27137
I can add this to my #26879 PR.

[2021-07-30 07:25] ruflin commented on #20672
++ on essential support. The export command is targeted on Beats developer and not the "usual" user. It might be considered a breaking change but I think this is one we should make. Kibana changed the API and we need to adjust. On the compatibility we always wanted to enforce that KB / ES >= Beats but never fully did.

@kvch What you mean by "new index templates"?

[2021-07-30 08:44] ulysse31 commented on #24124
Hello,

Just a quick comment to say that this error is still happening randomly with latest filebeat 7.13.4 on sonicwall module ...
Does someone has found a way to correct/patch this ?
Thanks a lot

[2021-07-30 08:50] amolnater-qasource commented on #27057
Hi @EricDavisX
We haven't observed these logs on 7.14.0 BC-6 as of now. We will be reporting new issue if we get any new `error` logs.

Thanks

[2021-07-30 10:31] michalpristas commented on #27116
i ran a fresch 7.3 machine only thing i ran prior to installing agent was `yum install epel-release` and `yum update`
agent installed and worked OK.

[2021-07-30 10:53] urso commented on #27114
The authorization token seems to be wrong. I can't download your files.

[2021-07-30 11:30] andresrc commented on #20672
I would also go for just essential support as well, thanks!

[2021-07-30 11:33] #23670 closed

[2021-07-30 12:26] andrewvc commented on #26366
Heartbeat doesn't ship an index pattern (nor dashboards) so this is expected behavior and has been for quite some time. The main reason is that users overwhelmingly use the Uptime UI

Going forward with fleet the behavior will change due to the use of data streams.

I'm closing this issue for now since it's not a bug, but if anyone feels adding the index pattern would be a worthwhile enhancement p

[2021-07-30 12:26] #26366 closed

[2021-07-30 12:49] EricDavisX commented on #26366
@dikshachauhan-qasource can you go through the Heartbeat docs and see where anything may have been confusing or misleading to your expectations?  You can also try the Uptime UI as noted to complete the evaluation further.  Either way, please update the test notes with changes and new expectations. thank you!

[2021-07-30 13:00] narph commented on #25742
I was not able to reproduce it as much as I tried but it does look like it could have been fixed in later versions of the azure-storage package (https://github.com/Azure/azure-storage-blob-go).
The package is a dependency of the azure-event-hubs-go sdk for go we use to collect the events.
Unfortunately, no versions of this package support a higher version of the azure-storage-blob-go package (when

[2021-07-30 13:02] narph commented on #26697
@dipengiggso , there is already an open issue regarding this https://github.com/elastic/beats/issues/20758. Hopefully, we'll get to this soon. Will close this one for now to avoid duplicates. If you have any additional comments feel free to add them to the existing issue.

[2021-07-30 13:02] #26697 closed

[2021-07-30 13:03] EricDavisX commented on #27114
It worked for me yesterday - I've posted them to a shared google drive you, I'll slack you details.

[2021-07-30 13:16] #20332 closed

[2021-07-30 13:27] kvch commented on #26369
Same applies here for Journalbeat as well: https://github.com/elastic/beats/issues/26366#issuecomment-889859125

There is no dashboard and index template for the Beat.

[2021-07-30 13:27] #26369 closed

[2021-07-30 13:38] elasticmachine commented on #17945
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-07-30 13:39] adriansr commented on #17945
Reopening this as it's a necessary enhancement

[2021-07-30 15:19] grinapo opened #27157 "[metricbeat] (and else): please log connection/rejection data in debug log at least"
**Describe what you have done:**
Took me the larger half of the day to figure out how is it possible that on server1 metricbeat works, while on server2 it gets:
<pre>
2021-07-30T17:01:34.853+0200    INFO    [publisher_pipeline_output]     pipeline/output.go:143  Connecting to backoff(elasticsearch(https://elast1:9200))
2021-07-30T17:01:36.606+0200    ERROR   [publisher_pipeline_output]     pipelin

[2021-07-30 15:23] #26667 closed

[2021-07-30 17:25] jsoriano opened #27161 "Improve support of kubernetes pod autodiscover with limited permissions"
A possible use case of Kubernetes autodiscover is to discover pods in a multi-tenant cluster, where the Beats operator doesn't have any cluster-level permissions.

Despite this limitation, it should be possible to discover pods running in specific namespaces using a node-scope configuration limited to a namespace. This is not possible at the moment because node and namespace metadata enrichment tr

[2021-07-30 17:25] elasticmachine commented on #27161
Pinging @elastic/integrations (Team:Integrations)

[2021-07-30 19:35] kaiyan-sheng commented on #24779
Bumping stack version fixed this, closing this issue.

[2021-07-30 19:35] #24779 closed

[2021-07-30 21:22] #25857 closed

[2021-07-30 21:38] andrewvc opened #27167 "[Heartbeat] Remove watch poll feature"
We have long deprecated the `poll` file feature in heartbeat. It was succeeded by dynamic config reloading in 7.0.0 . Let's remove it for 8.0 . It is currently deprecated and no longer documented.

[2021-07-30 21:38] elasticmachine commented on #27167
Pinging @elastic/uptime (Team:Uptime)

[2021-07-31 10:16] #20350 closed

[2021-08-01 09:40] manarth opened #27174 "Release notes don't reflect released code"
Release notes for `7.13.3` references a fix for https://github.com/elastic/beats/issues/26372
Release notes: https://www.elastic.co/guide/en/beats/libbeat/7.13/release-notes-7.13.3.html

The fix is not included in the code tagged as 7.13.3: https://github.com/elastic/beats/tree/v7.13.3/filebeat/input/syslog

[2021-08-02 00:15] 123456luisherrera opened #27176 "nilohherrera945@gmail.com"
# Metricbeat Module / Dataset release checklist

This checklist is intended for Devs which create or update a module to make sure modules are consistent.

## Modules

For a metricset to go GA, the following criterias should be met:

* [x] Supported versions are documented
* [x] Supported operating systems are documented (if applicable)
* [x] Integration tests exist
* [x] System tests exist
* [x] A

[2021-08-02 00:17] 123456luisherrera commented on #27176
hola como esta tu

[2021-08-02 00:19] 123456luisherrera opened #27177 "yomarcedea@gmail.com"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2021-08-02 01:51] zethsqx opened #27179 "[Metricbeat] Add support for azure module for hybrid environment"
Describe a specific use case for the enhancement or feature:
Add support for hybrid environment for metricbeat azure module

Describe a specific use case for the enhancement or feature:
Add support for hybrid environment for metricbeat azure module

[2021-08-02 01:52] elasticmachine commented on #27179
Pinging @elastic/integrations (Team:Platforms)

[2021-08-02 05:35] qqqasdwx commented on #12497
I saw that this problem was marked as stale, but no one told me that this problem has been fixed. Has this problem been fixed now?

[2021-08-02 09:59] michalpristas commented on #27127
is this message reoccurring or one time thing. are you able to extract elastic agent directory with logs, archive it and share?

[2021-08-02 11:02] michalpristas commented on #27127
no worries I have repro steps

[2021-08-02 11:36] urso opened #27187 "[Elastic Agent] Enrollment via proxy generates invalid fleet.yml (Agent won't start up correctly)"
For confirmed bugs, please report:
- Version: 7.14
- Operating System: Any

When enrolling Agent via proxy using `--proxy-url` the fleet.yml becomes invalid, as the URL is serialized as Object:

[code]

The `proxy_url` must be a string.

[2021-08-02 11:36] elasticmachine commented on #27187
Pinging @elastic/agent (Team:Agent)

[2021-08-02 11:37] urso commented on #27114
I think I found the bug. After enrolling the Agent creates/serializes its configuration to `fleet.yml`. Agent expects `proxy_url` to be a string, but unfortunately the type `url.URL` gets serialized into an object:

[code]

With this serialization bug, proxy support is currently broken. I created an issue: https://github.com/elastic/beats/issues/27187

[2021-08-02 12:34] amolnater-qasource opened #27191 "[Agent][8.0-alpha1]: "Error - failed version compatibility check with elasticsearch" on running agent install command."
**Kibana version:** 8.0-alpha1-qa Kibana cloud environment

**Host OS and Browser version:** Windows, All

**Build details:**
[code]

**Preconditions:**
1. 8.0-alpha1 Kibana cloud-qa environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Artifacts used:
https://staging.elastic.co/8.0.0-alpha1-3693e96c/downloads/beats/elastic-agent/elastic-agent-8.0.0-alpha1-wi

[2021-08-02 12:34] elasticmachine commented on #27191
Pinging @elastic/agent (Team:Agent)

[2021-08-02 12:44] manishgupta-qasource commented on #27191
Reviewed & Assigned to @EricDavisX

[2021-08-02 12:52] kvch commented on #20672
@ruflin By new index template, I mean the index templates that are in the new format. But AFAIK the only difference between the old and the new format is just a new line character.

[2021-08-02 12:53] Maksimkovalenk commented on #25435
Hello
I have a case where customer states that he have this issue
Are there any workarounds on that?
https://elastic.my.salesforce.com/5004M00000lLQkd
Thanks

[2021-08-02 14:11] #27050 closed

[2021-08-02 14:17] EricDavisX commented on #27191
@blakerouse mentions in the x-team meeting that this is from our Semver usage / restraint and that it isn’t compatible with the string that is in place for the release:
8.0.0-alpha1

It should be adjusted in Fleet Server and also checked in Beats/Agent side, as well, for a likely adjustment needed.

And he notes that both the recent issues logged by test team are likely the same.  I’ll link them:

[2021-08-02 14:28] SECUINFRA opened #27196 "[Auditbeat] Monitoring of files/folders with a space in the path not possible"
Hi,
the monitoring of files/folders with a space in the path was not possible using auditbeat (version 7.13).
We also posted our issue on the elastic discuss forum a month ago: https://discuss.elastic.co/t/auditbeat-monitoring-of-files-folders-with-a-space-in-the-path-not-possible/277537

The following rules all resulted in errors:

[code]

If an auditd key containing a whitespace is used, everyth

[2021-08-02 14:29] daikerSec commented on #184
keepalive

[2021-08-02 14:41] ferullo opened #27197 "Install Endpoint on ARM64 Linux"
**Describe the enhancement:**

Endpoint is planning to add ARM support for Linux in 7.15. It's my understanding that at the moment Agent refuses to install Endpoint on ARM for Linux. Can that restriction be relaxed. One hiccup is that Endpoint will not support CentOS/RHEL 7 for ARM (a version/arch combo [not supported by Red Hat](https://access.redhat.com/product-life-cycles?product=Red%20Hat%20En

[2021-08-02 14:57] EricDavisX commented on #27191
i'm marking this as a dupe to the above Fleet Server issue and will transfer over the neat cli details.

[2021-08-02 14:57] #27191 closed

[2021-08-02 15:29] fearful-symmetry commented on #8174
I've merged a fix to use `norm.pct` in the system integrations package, that should be reflected in the package repos soon.

[2021-08-02 15:33] EricDavisX commented on #27116
@charlie-pichette do you think you'll be able to make time to review the rhel 7.3 image in use here to help confirm our current understnding?

[2021-08-02 17:31] charlie-pichette commented on #27116
I ran `sudo yum install epel-release` and `sudo yum update` and I still get `Error: fail to enroll: fail to execute request to fleet-server: x509: certificate signed by unknown authority`.

[2021-08-02 21:16] andrewvc commented on #26210
Fixed in: https://github.com/elastic/synthetics/pull/357

[2021-08-02 21:16] #26210 closed

[2021-08-02 22:25] andrewvc opened #27202 "[Heartbeat] `ignore-https-errors` should work for browsers"
TLS options for browser based monitors are complex since it's not the golang HTTP client, but rather the Chromium browser with its own TLS settings that don't line up exactly. We could, however, add support for disabling SSL verification by setting the `ignoreHTTPSErrors` playwright option. We may need to add a capability for ignoring TLS to the CLI args as well.

Another option would be more full

[2021-08-02 22:30] elasticmachine commented on #27202
Pinging @elastic/uptime (Team:Uptime)

[2021-08-03 00:40] EricDavisX commented on #27116
I was discussing with Charlie off line, we'll post back a summary -but a short update is that all of the RHEL7.3 templates in the End game vSphere cluster seem to have this, but it works in other 7.3 installs.  we will keep researching

[2021-08-03 06:12] qwinkler commented on #23627
Any updates on reopening the journal file? Faced with the same problem. The workaround is not working properly. It works well for an hour or even less, and then the problem appears again. The only fix is to completely clean up the journal logs:
[code]
When the journal is empty, the journalbeat will work for a week or so.

[2021-08-03 06:29] reddybhavaniprasad commented on #12562
Any alternatives to implement this? or we just end up by having lots of unwanted data in the elasticsearch.

[2021-08-03 07:35] #27127 closed

[2021-08-03 09:09] elasticmachine commented on #27197
Pinging @elastic/agent (Team:Agent)

[2021-08-03 09:17] ruflin opened #27211 "Turn on security for testing"
Currently for testing against Elatsicsearch snapshots, security is turned off by default: https://github.com/elastic/beats/blob/master/testing/environments/snapshot.yml#L16 As Elasticsearch is enabling security by default in 8.0 we should also do this for our testing to uncover potential issues early on.

[2021-08-03 09:17] elasticmachine commented on #27211
Pinging @elastic/agent (Team:Agent)

[2021-08-03 11:06] ruflin opened #27212 "[Elastic Agent] Unify metric collection for processes"
Currently Elastic Agent has two ways of collecting metrics:

* Intermal monitoring metricbeat: The internal metricbeat monitoring instance collects metrics through connecting to each processes through the socket and fetch metrics.
* External metrics through `/process/*` endpoint: This is used if an external metricbeat instance is used for metric collection

Having two methods how metrics are colle

[2021-08-03 11:06] elasticmachine commented on #27212
Pinging @elastic/agent (Team:Agent)

[2021-08-03 11:27] stuartnelson3 opened #27213 "[agent] unexpected apm-server output from http monitoring endpoint"
The structure of the metrics json for apm-server differs between what appears in the apm-server datastream, `metrics-elastic_agent.apm_server-default`, and what is returned from the http monitoring endpoint, `/processes/apm-server-default`.

Both of these structures are very similar to the output currently provided by apm-server in standalone mode, but with slight differences that make me believe

[2021-08-03 11:28] elasticmachine commented on #27213
Pinging @elastic/agent (Team:Agent)

[2021-08-03 11:29] stuartnelson3 commented on #27213
I can provide the full json of the three documents I reference if desired.

[2021-08-03 11:39] dikshachauhan-qasource commented on #26312
Hi @EricDavisX

We have tested scenarios mentioned at point 6 and 7 and below are our observations:

- Point 6

**_Steps followed:_**

1. Deploy kibana production 7.13.4 .
2. Install Agent version 7.13.4.
3. Upgrade the Kibana to 7.14.0 version.
4. Provide the Unenrollment timeout to 240 under policy setting and save it.
5. stop the service of agent and agent goes to offline state.
6. Wait for 4 m

[2021-08-03 12:08] mtojek opened #27299 "Fleet: policy aren't assigned to agents (flaky)"
Hi Team,

today we discovered problems with assigning policy to an agent, which causes problems with flaky integration tests:

Network Traffic:

https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/PR-1434/8/pipeline/
https://beats-ci.elastic.co/blue/rest/organizations/jenkins/pipelines/Ingest-manager/pipelines/integrations/branches/PR-1434/runs/8/nodes/397/s

[2021-08-03 12:58] amemkdm opened #27214 "Filebeat Meraki module bugs"
I have observed that the meraki module is not able to parse all the logs correctly, I have many events have dissect parsing error in the ingested logs.

[2021-08-03 13:30] blakerouse opened #27216 "[Elastic Agent] Error extracting container id in kubernetes"
Running the https://github.com/elastic/beats/tree/master/deploy/kubernetes/elastic-agent-standalone deployment in GKE with version 7.13.4 results in the running filebeat to keep logging the following error:

[code]

I was trying to reproduce #25435, but came across this issue instead.

[2021-08-03 14:28] ChrsMark commented on #27216
After debugging this offline we found that the error comes from [add_kubernetes_metadata](https://github.com/elastic/beats/blob/15160643a18161161bc835764326219d046de0b1/filebeat/processor/add_kubernetes_metadata/matchers.go#L91). While [Elastic Agent]( https://github.com/elastic/beats/blob/master/deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml) does not explicitly enables the processor,

[2021-08-03 14:40] andrewvc opened #27217 "[Heartbeat] Params undocumented for browser docs"
The `params` option is not documented on https://www.elastic.co/guide/en/beats/heartbeat/master/monitor-browser-options.html . See https://github.com/elastic/synthetics-demo/blob/main/heartbeat/monitors.d/ecommerce-zipurl.yml for an example

[2021-08-03 14:59] exekias commented on #27216
how about not enabling this by default? we mostly rely on dynamic inputs, also for K8S logs, so `add_k8s_metadata`, while still useful for other cases, is not doing much atm (I believe?). Same goes for `add_docker_metadata`

[2021-08-03 15:12] #26207 closed

[2021-08-03 15:18] ChrsMark commented on #27216
You mean not enabling the processors in Beat's configs in general right? Or disable them when they are run by Agent only?

[2021-08-03 15:53] kaiyan-sheng opened #27219 "Investigate AWS Billing to allow group by with multiple fields"
AWS metricbeat module allows for specifying the "query" to be sent to AWS billing api, but then the data returned is static. So if you create 2 querys in the module config lets say "group_by tag:created_by" and "group_by linked_acccount" What happens is you have data returned from 2 queries where you have the cost "grouped by the tag created_by" and you have cost "grouped by linked_account". Now i

[2021-08-03 15:56] elasticmachine commented on #27219
Pinging @elastic/integrations (Team:Integrations)

[2021-08-03 17:59] #27057 closed

[2021-08-03 18:26] blakerouse commented on #27216
Being that Elastic Agent is the now GA and the way forward, maybe just disabling them in the default configuration would be okay?

[2021-08-03 18:43] billkindle commented on #19435
This breaks other tools such as Telegraf too. Is this a problem with metricbeat or a VMware issue?

Pinging @elastic/integrations (Team:Integrations) @elastic/integrations-platforms (Team:Platforms)

[2021-08-03 18:52] charlie-pichette commented on #27116
I built a new VM from the RHEL 7.9 ISO and everything work fine.  I am not sure what is going on with the 7.3 template we are cloning in vSphere but I am closing this as it has been shown to work with other 7.3 instances and on the 7.9 instance we will be using in the future.

[2021-08-03 18:52] #27116 closed

[2021-08-03 18:54] billkindle commented on #19435
govmomi appears to have been updated / released around Jun 3: https://github.com/vmware/govmomi

[2021-08-03 19:06] kumarnarendra701 commented on #10756
Any progress on auto-discover or add multiple log-group?

[2021-08-04 01:57] b-deam opened #27223 "[Metricbeat][System module] psi: pressure stall information"
**Describe the enhancement:**

Since 4.2, Linux exposes contention metrics for CPU, Memory, and IO in `procfs` under the  `/proc/pressure` path for a system as a whole, or for [cgroup2](https://www.kernel.org/doc/html/latest/admin-guide/cgroup-v2.html) the subdirectory for each cgroup controller in the cgroupfs mount point contains `cpu.pressure`, `memory.pressure`, and `io.pressure` files.

An ex

[2021-08-04 07:18] ruflin commented on #27213
@michalpristas If I remember correctly you build the monitoring part. Is there a reason these keys are a bit mixed? Is this a bug?

[2021-08-04 07:25] joeborgauthentic opened #27226 "[Metricbeat] Azure module - Simultaneously fetch multi-dimensional metric values"
**Fetch all dimensions simultaneously with each call when the asterisk (*) is used as a dimension value. Currently only the value of a randomly selected dimension is fetched. This would allow for better analysis and breakdown of metrics which offer dimensions**.

**Some metrics have dimensions which would allow for more in-depth analysis of metrics. E.g. for cosmosDB instances, we are able to fetc

[2021-08-04 08:58] #27177 closed

[2021-08-04 08:58] #27176 closed

[2021-08-04 09:16] elasticmachine commented on #27223
Pinging @elastic/agent (Team:Agent)

[2021-08-04 09:20] amolnater-qasource opened #27229 "[Agent][Windows]: Agent goes to Unhealthy state on reboot and no new data under Data Streams tab."
**Kibana version:** 8.0-alpha1 BC-3 Kibana cloud environment

**Host OS and Browser version:** Windows 10 x64, All

**Build details:**
[code]

**Preconditions:**
1. 8.0-alpha1 BC-3 Kibana cloud environment should be available.
2. Agent must be installed using Default policy having System and Endpoint Security.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Reboot `Elastic Agent` from

[2021-08-04 09:20] elasticmachine commented on #27229
Pinging @elastic/agent (Team:Agent)

[2021-08-04 09:20] amolnater-qasource commented on #27229
@manishgupta-qasource Please review.

[2021-08-04 09:31] gemaliano opened #27230 "[Filebeat] Add support for SLES 15"
**Describe the enhancement:**
Add SLES 15 support for filebeats
It is not in the support matrix https://www.elastic.co/support/matrix

[2021-08-04 09:32] manishgupta-qasource commented on #27229
Reviewed & assigned to @EricDavisX

[2021-08-04 09:51] alexandervasylev commented on #13140
Did someone find a solution without changing source code? We've faced with the same problem within a Filebeat in a Kubernetes cluster.

[2021-08-04 10:28] amolnater-qasource commented on #27229
Hi @EricDavisX
Please find below "debug" level agent logs reproduced for another agent:
[Agent2_logs.zip](https://github.com/elastic/beats/files/6930261/Agent2_logs.zip)

Thanks

[2021-08-04 10:33] endorama opened #27231 "[Metricbeat] gcp: fields do not respect ECS and naming best practices"
While working at #26824 I noticed that the current implementation of the `gcp` module for Metricbeat does not seem to align to [naming conventions](https://www.elastic.co/guide/en/beats/devguide/current/event-conventions.html).

Examples:
- `gcp.compute.instance.uptime.value` is a value in seconds, for which `sec` suffix should be used
- `gcp.compute.instance.firewall.dropped_bytes_count.value` is

[2021-08-04 10:44] LaZyDK opened #27232 "Filebeat CEF module need the option to set a timezone or an offset"
**Describe the enhancement:**
The Filebeat CEF module is missing the option to set a timezone offset and the module is not taking into account the `event.timezone` in the ingest pipeline.

**Describe a specific use case for the enhancement or feature:**
Set the correct timezone via the `event.timezone` field, eg. like:
[code]
or
[code]

The `@timestamp` should align with this.

Log:
[code]
`event.

[2021-08-04 11:20] elasticmachine commented on #27230
Pinging @elastic/agent (Team:Agent)

[2021-08-04 11:22] legoguy1000 commented on #27214
Can u provide specific examples?

[2021-08-04 11:50] FischlerA commented on #14164
I just came across this problem as well.
The proper way to handle this issue would be for the filebeat to retry the connection until it is able to communikate with the api server.

Here is code from another issue mentioned as workaround for any application with this issue:
[code]

Since this issue is open since 2019; Is anybody from elastic on this?

[2021-08-04 11:52] dikshachauhan-qasource commented on #27229
Hi @EricDavisX  @fearful-symmetry

We have also observed that, if we are using windows integration in agent policy[having system integration too], then also agent went to unhealthy state after some time.

@fearful-symmetry can you please have a look.

Agent logs at debug level:
[logs.zip](https://github.com/elastic/beats/files/6930972/logs.zip)

Please let us know if anything else is required. Bui

[2021-08-04 11:52] elasticmachine commented on #27231
Pinging @elastic/integrations (Team:Integrations)

[2021-08-04 12:03] FischlerA commented on #14164
This is still an issue that needs to be fixed...

[2021-08-04 14:41] exekias commented on #27216
This would be a breaking change. I was thinking more about disabling them in agent only

[2021-08-04 16:33] fearful-symmetry commented on #27229
Okay, so in the first error logs you posted, I'm seeing this:
[code]

However, looking at the config you posted, I can see the output config:
[code]

I'm going to tentatively say that this is _not_ a system issue. This is kind of baffling, though.

[2021-08-04 17:13] elasticmachine commented on #20584
Pinging @elastic/agent (Team:Agent)

[2021-08-04 18:36] KOTungseth opened #27237 "[DOCS] Update Beats docs to include all of the places where `cloud.id` is needed"
**Describe the enhancement:**
To learn about `cloud.id` for Beats, the docs currently include [Configure the output for Elasticsearch Service on Elastic Cloud](https://www.elastic.co/guide/en/beats/filebeat/current/configure-cloud-id.html) and [Configure Beats and Logstash with Cloud ID](https://www.elastic.co/guide/en/cloud/current/ec-cloud-id.html). The Beats docs should be updated to include al

[2021-08-04 18:36] elasticmachine commented on #27237
Pinging @elastic/obs-docs (Team:Docs)

[2021-08-04 18:52] dominiqueclarke opened #27238 "[Elastic Agent] Heartbeat logs do not show up in Elastic Agent docker image"
When running heartbeat in the Elastic Agent docker images, heartbeat logs do not appear. Logs cannot be viewed from the logs component on the fleet agents page.

Heartbeat is confirmed to be working and indexing documents.

<img width="1289" alt="Screen Shot 2021-08-04 at 2 44 05 PM" src="https://user-images.githubusercontent.com/11356435/128237869-e6e24640-7389-46b3-8046-39fc27622248.png">

For c

[2021-08-04 18:52] elasticmachine commented on #27238
Pinging @elastic/agent (Team:Agent)

[2021-08-04 19:42] EricDavisX commented on #27229
we have 2 sets of logs (if not more) let's ask the @elastic/agent team to review / triage further.

[2021-08-04 20:06] willemdh opened #27240 "[FIlebeat] Azure Signin data => field [message] already exists"
- Version: 7.13.1
- Operating System: Centos 8
- Discuss Forum URL: https://discuss.elastic.co/t/azure-signin-data-field-message-already-exists/278446

Issue in https://github.com/elastic/beats/blob/11b545a182909de2234aed8bf2916f16f2234f5e/x-pack/filebeat/module/azure/signinlogs/ingest/pipeline.yml#L238

I cannot provide any sample logs for now. Maybe later @legoguy1000

[2021-08-04 21:00] EricDavisX commented on #27230
@mostlyjason @nimarezainia @ruflin @urso if there isn't any known Technical limitation currently, it is under the purview of the qa /test team to do a test run on a new OS to see how it goes and test drive it for addition in the next cycle.

[2021-08-05 01:15] ppf2 opened #27244 "Clarify elastic-agent uninstall command"
https://www.elastic.co/guide/en/fleet/current/elastic-agent-cmd-options.html#elastic-agent-uninstall-command

When you actually run the example command

[code]

Will be helpful to clarify in the docs that this needs to be run from where it has installed the agent, not from the installation package path.

[2021-08-05 01:17] elasticmachine commented on #27244
Pinging @elastic/agent (Team:Agent)

[2021-08-05 01:19] ppf2 opened #27245 "--url is required when enrolling a fleet server with a cert"
In https://www.elastic.co/guide/en/fleet/7.14/elastic-agent-cmd-options.html#_examples, if you try the `Start Elastic Agent with Fleet Server (running on a custom CA)` example:

[code]

It will fail and tell you that URL is required because a certificate is specified.  We should include `--url` in the example commands that contain a cert.

[2021-08-05 01:19] elasticmachine commented on #27245
Pinging @elastic/agent (Team:Agent)

[2021-08-05 02:58] arcanique opened #27247 "【offset wrong】"
For confirmed bugs, please report:
- Version: 7.10.1
- Operating System: linux
- Discuss Forum URL:
- Steps to Reproduce: set max_bytes: 20480 and get some log line size bigger than 20480.

if the log line size bigger than 20480, filbeat skiiped a lot of bytes，this is as expected.
But the offset is wrong, the offset is less than the actual reading position of the log, which causes the log after th

[2021-08-05 03:07] matschaffer commented on #20945
@jasonrhodes If we have any issues open to cover an an elasticsearch integration we could probably close this issue in favor of those.

[2021-08-05 07:05] amolnater-qasource commented on #27116
Hi @EricDavisX
We have revalidated this issue on 7.15 Snapshot Kibana Cloud environment with new `RHEL 7.9` and below are the observations of it:
- We are successfully able to install elastic-agent with .rpm artifact.
- Required data is generating under Data Streams tab.
- Logs are available for Rhel rpm agent under Logs tab.
- Agent is visible under Endpoints tab when installed with Endpoint Secu

[2021-08-05 07:29] michalpristas commented on #27197
arm endpoint was disabled at the agent level as endpoint was not supporting arm at that time and with endpoint being in the policy this would result in failures as arm package is not published.

not supported for RHEL 7 meaning all the later versions will be fine?
atm we dont support such a granular restriction we will need to think about something

[2021-08-05 08:12] nugroho-expereo commented on #8174
@fearful-symmetry I have updated integration to the latest version, It looks good for the System Overview but for the Host Overview Dashboard the CPU gauge calculation does not seems right.

When I check the calculation it shows: (system.norm + user.norm)/cores

Why the normalized value need to be divided again by cores?

![image](https://user-images.githubusercontent.com/35025861/128314986-09829b

[2021-08-05 08:31] michalpristas commented on #27213
@stuartnelson3 how do you get the legacy metrics?

what is returned by the processes endpoint and what is in a dataset is different because
- dataset `metrics-elastic_agent.apm_server-default` is populated by metricbeats `beat` module checking `stats` and `state` metricsets
- `/processes` is just a proxy to`/stats` endpoint in beat and does some transformation on top of it for some fields to look

[2021-08-05 08:40] ruflin commented on #27213
@michalpristas Could you link to the code part where this processing/restructuring happens?

[2021-08-05 08:47] amolnater-qasource opened #27251 "[MAC-Bigsur-11.0.1]: Inconsistent behaviour on rebooting MAC agent when Endpoint is in Agent Policy"
**Kibana version:** 7.14.0 released Kibana cloud environment

**Host OS and Browser version:** MAC Bigsur 11.0.1, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 released Kibana Kibana cloud environment should be available.
2. MAC Agent must be installed using Default policy having System and Endpoint Security.

**Observations:**
- On installing a MAC agent, it shows up "HEALTHY" on K

[2021-08-05 08:47] elasticmachine commented on #27251
Pinging @elastic/agent (Team:Agent)

[2021-08-05 08:54] michalpristas commented on #27213
@ruflin
https://github.com/elastic/beats/blob/cf0cd20f9bc224ca6c8ce17005230892f761ec07/x-pack/elastic-agent/pkg/agent/operation/monitoring.go#L638

[2021-08-05 09:52] #19126 closed

[2021-08-05 09:58] #26356 closed

[2021-08-05 10:04] amolnater-qasource opened #27255 "[Agents]: Agent is not uninstalling completely on running uninstall command."
**Kibana version:** 8.0-alpha1 BC-3 Kibana cloud environment

**Host OS and Browser version:** Windows 10 x64, All

**Build details:**
[code]

**Preconditions:**
1. 8.0-alpha1 BC-3 Kibana cloud environment should be available.
2. Agent must be installed using Default policy having only System.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Elastic\Agent and run Agent unins

[2021-08-05 10:04] elasticmachine commented on #27255
Pinging @elastic/agent (Team:Agent)

[2021-08-05 10:04] amolnater-qasource commented on #27255
@karanbirsingh-qasource Please review

[2021-08-05 10:08] amolnater-qasource commented on #27251
Hi @EricDavisX
Please find debug level logs reproduced for Issue 1 below:
[logs.zip](https://github.com/elastic/beats/files/6937793/logs.zip)

Thanks

[2021-08-05 10:11] ruflin commented on #26101
As @EricDavisX mentioned we should have a follow up issue to figure out how we improve the UX around this. @mostlyjason Can you take care of this? Closing this issue.

[2021-08-05 10:11] #26101 closed

[2021-08-05 10:12] #27187 closed

[2021-08-05 10:35] stuartnelson3 commented on #27213
I took this from an example document that gets indexed when using x-pack monitoring. I believe the apm-server indexes them directly into elasticsearch?

[2021-08-05 11:24] legoguy1000 commented on #27240
I won't be able to do much without the sample events that cause the issue as I will not be able to validate the changes fix the issue.

[2021-08-05 11:33] amolnater-qasource opened #27259 "Agent stops sending data on re-assigning to another policy or on changing log level."
**Kibana version:** 8.0-alpha1 BC-3 Kibana cloud environment

**Host OS and Browser version:** Windows 10 x64, All

**Build details:**
[code]

**Preconditions:**
1. 8.0-alpha1 BC-3 Kibana cloud environment should be available.
2. Agent must be installed using Default policy having System Integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Change logging level to `debug`
3. Obs

[2021-08-05 11:33] elasticmachine commented on #27259
Pinging @elastic/agent (Team:Agent)

[2021-08-05 11:34] amolnater-qasource commented on #27259
@karanbirsingh-qasource Please review.

[2021-08-05 11:37] amolnater-qasource commented on #27259
Hi @EricDavisX
This issue is similar to issue reported at https://github.com/elastic/beats/issues/27229
We are blocked to test windows agents, as its failing on almost every action performed on it.

Please let us know if anything else is required from our end.
Thanks

[2021-08-05 11:39] michalpristas commented on #27213
i need to check apm, but xpack monitoring should be as close as possible if note even equal to metrics aquired by `/process` endpoint
are you aware of any transformations on apm side before publishing?

[2021-08-05 12:38] michalpristas commented on #27238
do we see some heartbeat related logs?  is it running?
i believe permissions should be set correctly and we are allowed to create all the things needed

[2021-08-05 14:16] #20451 closed

[2021-08-05 16:11] fearful-symmetry commented on #8174
That's...probably a bug. Lemme look.

[2021-08-05 16:16] #20453 closed

[2021-08-05 16:51] kvch commented on #23627
Have you tested it with Journalbeat 7.14?

[2021-08-05 16:53] bkennedy-mx opened #27262 "Endpoint fix from pull request 27024 not working in 7.14.0 docker image"
This is in regards to: https://github.com/elastic/beats/pull/27024

We were asked to open an issue, as our issue in 7.12.0, which was the catalyst for this pull request, is still occurring in 7.14.0.  The error with both the 7.12.0 and 7.14.0 docker images is (with sensitive portions removed):

2021-07-20T20:57:06.177Z	ERROR	[aws-cloudwatch]	awscloudwatch/input.go:154	getLogEventsFromCloudWatch fa

[2021-08-05 16:55] asazallesmilner commented on #27262
@kaiyan-sheng This is the issue you requested.
Thanks!

[2021-08-05 17:33] pc-mrousseau commented on #26750
As an update to this issue - we worked with Elastic to confirm that this is related to a known bug at the Cloud Elastic Cluster level where the Fleet servers do not play well with IP filtering rules applied. If you remove all of the Cloud IP filtering it works again. This was identified as potentially fixed in 7.14 (which is now out). I was not able to confirm this yet.

[2021-08-05 20:24] #27167 closed

[2021-08-05 21:11] sayden commented on #26980
Also Postgres module only support default configs. `log_destination` default config is `stderr`. `csvlog`, as you have, is not supported. Closing this but feel free to reopen if you have some related question or still have issues.

[2021-08-05 21:11] #26980 closed

[2021-08-05 21:15] csdenboer commented on #26191
Why is this happening?

[2021-08-05 21:16] #20456 closed

[2021-08-05 21:25] sayden commented on #26519
Hi @robin13 :slightly_smiling_face:  I'm coming a bit late here but the `node_stats` metricset queries `_node/stats` which includes the data from the `/pipelines` that is mention on the link. This should be under any doc fetched with Metricbeat under the path `logstash_stats.pipelines.[].*` where you can see events, reloads, etc.

So I'm assuming I'm understanding something wrong so you can tell m

[2021-08-05 22:30] sayden commented on #26805
I don't see why not. I opened a PR to add that field https://github.com/elastic/beats/pull/27266

[2021-08-06 00:40] dedemorton commented on #19575
I'm closing this issue because we do not see the value of adding the tabs at this time because we will be migrating to a new doc system.

[2021-08-06 00:40] #19575 closed

[2021-08-06 01:25] ppf2 commented on #27244
Actually, it does work if I just run it as follows without `./`  I was previously running ./elastic-agent from the $AGENT_HOME directory which caused the error to show :)

[code]

[2021-08-06 04:59] M-Matos commented on #26383
Please also add support for log source [SYSTEM], if required I can foward some Logs.thanks

[2021-08-06 06:22] JohannesMahne opened #27270 "ILM policy keeps getting overwritten"
For confirmed bugs, please report:
- Version: 7.12.1
- Operating System: ECE
- Steps to Reproduce:

We are seeing ILM policies that were altered via Kibana get reverted automatically. We presume this is done by Beats. We also observe extremely high version numbers on these ILM policies, indicating that these reversions are happening a lot and have been for a while.

@urso - please advise.

[2021-08-06 08:29] HaZet1968 commented on #23815
Interested in it, too.

[2021-08-06 10:08] adriansr opened #27271 "Filebeat Infoblox NIOS module fails to capture client IP field"
For confirmed bugs, please report:
- Version: 7.13.4
- Operating System: n/a
- Discuss Forum URL: n/a
- Steps to Reproduce:

For this original event:

The raw `saddr` field captured extra information:
[code]

This is an RSA2ELK experimental module, which means some of the [original RSA patterns](https://github.com/adriansr/nwdevice2filebeat/blob/master/devices/infobloxnios/infobloxniosmsg.xml) sho

[2021-08-06 10:09] elasticmachine commented on #27271
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-08-06 16:46] melissaburpo commented on #25297
@aleksmaus - I'm hitting this exact same error in a new 7.14 cluster. I'm just going to reopen this issue for now, but please let me know if I should create a new one.

Here's my setup + version info.

* Yesterday I enrolled a few agents that include 2 linux VMs - one CentOS 8, and one Debian 10. Those are the only 2 with this error (Windows and MacOS are fine).
* I scheduled some queries.
* Yeste

[2021-08-06 18:21] melissaburpo commented on #25297
After stopping/restarting both agents (with `sudo service elastic-agent stop` then `sudo service elastic-agent start`), live queries are now working again. But it seems like an agent restart shouldn't be required, unless there's some setup issue I'm missing.

In case it helps, here is the osquerybeat-json.log after the restart:
[osquery.log.txt](https://github.com/elastic/beats/files/6947328/osque

[2021-08-06 18:26] PublicDisplayName opened #27272 "Elastic Agent - CA file removal bug. Causing excessive network sessions."
- Version:  Fleet upgrade from 7.13.3-4 "Others may be effected unable to test"
- Operating System: Windows Server 2016/2019
- Discuss Forum URL: https://discuss.elastic.co/t/elastic-7-13-3-update-to-7-13-4-ouch-that-was-an-interesting-bug/280354

Steps to Reproduce:
1. Have 7.13.3 or .4 install with a local CA file if it is in Agent folder.
1A. Most common failures are on 7.13.4
2. In fleet selec

[2021-08-06 18:30] MikeSaveItiviti commented on #21158
I see that the log.json file has registry information and does appear to be historical, however I see no other registry file like the "old" data.json file which had one line per monitored file for input type log like I used to see. Earlier comments make it seem as if another file representing the currently monitored files states still exist. I see no documentation around this and it appears based

[2021-08-07 21:09] strawgate opened #27273 "Using scan_at_start with include_files does not work"
For confirmed bugs, please report:
- Version: 7.13.1
- Operating System: Windows
- Discuss Forum URL:
- Steps to Reproduce:

auditbeat.yml:

[code]

This should scan test.txt (or do absolutely nothing if my match is bad) and produce a single event on initial scan. It should then produce events when the file is modified.

Instead it scans the entire users directory, outputting an event for every fi

[2021-08-07 23:20] flakrat commented on #25216
I just installed Auditbeat 7.14 via RPM (from elastic.co) on a RHEL 7 system and encountered the same issue. Auditbeat worked running it interactively but not via Systemd:

[code]

Copying `/usr/lib/systemd/system/auditbeat.service` to `/etc/systemd/system/` and then adding `LimitNOFILE=65536` to the `[Service]` section got it running via Systemd.

[2021-08-08 11:30] blambo10 commented on #20313
Hi,

I havent forgot this, ive just been busy, im aiming to get back around to raising the PR with the refactored code soon.

Thanks,
Bryce

[2021-08-08 19:52] ferullo commented on #27197
@nfritts @stanek-michal @nicholasberlin

1. Do you know the answers to @michalpristas 's question?
2. For the question in this issue's description, what happens if an ARM Endpoint is installed on CentOS/RHEL 7? Will it fail to load/run or will some features just not work?

[2021-08-09 02:49] elasticmachine commented on #27262
Pinging @elastic/integrations (Team:Integrations)

[2021-08-09 06:16] #20495 closed

[2021-08-09 06:45] ruflin commented on #27238
We indeed miss the permissions in the list. We should get this fixed and backported to 7.14. In addition we should follow up to the Elastic Agent package to make sure support for it is also added there.

@dominiqueclarke Could you take care of the Kibana change needed?

[2021-08-09 06:52] ruflin commented on #26750
It was indeed the plan to get this fixed in 7.14. @michalpristas can you confirm?

[2021-08-09 07:24] stuartnelson3 commented on #27213
@axw @simitt do either of you know if we do any transformation?

[2021-08-09 07:33] elasticmachine commented on #27270
Pinging @elastic/agent (Team:Agent)

[2021-08-09 07:59] axw commented on #27213
We just use libbeat's monitoring library, nothing special. I think the next step in isolating the cause here is for us to compare the output of "/stats" to what gets indexed when enabling monitoring in apm-server.

[2021-08-09 08:47] stuartnelson3 commented on #27213
As far as I can tell, the indexed document and kibana stats output have the same structure. The output from `/stats` is:

<details>
<summary>kibana-stats.json</summary>

[code]
<details>

[2021-08-09 09:15] axw commented on #27213
@michalpristas please compare the output in https://github.com/elastic/beats/issues/27213#issuecomment-895052129 to the output in `processes/apm-server-default.json` at the bottom of the issue description. Looks like unintended alteration going on in elastic-agent.

[2021-08-09 09:56] ruflin commented on #27238
I opened https://github.com/elastic/integrations/pull/1460 on the package side to be ready as soon as the Kibana implementation is using the package: https://github.com/elastic/kibana/issues/107738

[2021-08-09 10:23] urso commented on #27270
Sounds like the ILM policy is overwritten whenever Beats reconnect to ES (e.g. after IO error or restart). Please share `setup.ilm.*` settings.

[2021-08-09 10:58] amolnater-qasource opened #27276 "[Question]: Agent installation using "Production" mode of security on a Cloud build."
**Description:**
We have successfully installed an agent using "Production" mode of security on a self managed environment as per ticket https://github.com/elastic/observability-test-plans/issues/218 and guide available at https://www.elastic.co/guide/en/fleet/current/secure-connections.html

- [For a self managed environment]: In this mode we attempt to run certutil commands to create required ce

[2021-08-09 10:58] elasticmachine commented on #27276
Pinging @elastic/agent (Team:Agent)

[2021-08-09 10:58] amolnater-qasource commented on #27276
@manishgupta-qasource Please review.

[2021-08-09 11:24] ruflin opened #27277 "[Elastic Agent] Adding synthetics/tcp input does not work"
Adding the synthetics integration with the synthetics/tcp input does not work in 7.14 and throws errors and the Elastic Agent does unhealthy. As the errors are thrown by filebeat I suspect this might be a bug in routing the input type in the Elastic Agent. Further investigation is needed.

[2021-08-09 11:24] elasticmachine commented on #27277
Pinging @elastic/agent (Team:Agent)

[2021-08-09 11:25] elasticmachine commented on #27277
Pinging @elastic/uptime (Team:Uptime)

[2021-08-09 11:30] dominiqueclarke commented on #27277
This was also reported in https://discuss.elastic.co/t/elastic-agent-with-synthetics-integration-adding-tcp-monitor-break-the-agent/280651/2.

The TCP monitor appears to "work" in the sense that documents are sent ES and the monitor is visible in Uptime, but the elastic-agent remains unhealthy due to the filebeat error.

[2021-08-09 11:55] manishgupta-qasource commented on #27276
Reviewed & assigned to @andresrc

CC: @EricDavisX

[2021-08-09 11:58] urso opened #27278 "Filestream input: Fingerprint for inode race detection"
Log collection using the filestream or logs input sometimes can treat an old file as a new file if we are seing an inode being reused. The `clean_removed` setting allows us to remove the state from the registry more early (filestream input can even detect removal asynchronously), but especially with autodiscovery in place we might have the input being shutdown before we managed to detect that the

[2021-08-09 12:06] urso opened #27280 "Filestream input: Shared file watcher for clean removed/renamed"
The filestream input separates the prospector into a file watcher and the strategie. Each are active only for the lifetime of the current input. If the input is stopped by autodiscovery, the file watcher and prospector are not active anymore. Due to this the `clean_removed` settings might not be respected, as there is no active file watcher responsible for detecting if the file is gone or not.
Ins

[2021-08-09 12:07] elasticmachine commented on #27278
Pinging @elastic/agent (Team:Agent)

[2021-08-09 12:07] elasticmachine commented on #27280
Pinging @elastic/agent (Team:Agent)

[2021-08-09 13:06] kaiyan-sheng commented on #27262
@bkennedy-mx Thanks for creating the issue. Could you actually post the error log from 7.14 please?

[2021-08-09 13:12] aleksmaus commented on #25297
After leaving the agent to run for some time the linux box started to exhibit the problem mentioned above again.

Here are few observations for the record:

1. This problem affected only linux systems (one debian and one centos box).
2. Both of the boxes in this case had the soft limit on file handles set to 1024.
3. There are quite a lot of "Error reading from connection: read tcp 10.128.0.123:33

[2021-08-09 13:29] aleksmaus commented on #25297
One thing we could probably improve is to open the client connection that communicates with osqueryd (to execute ad-hoc queries) only when we need to execute the query. Currently it is open when the beat is started and is held until the beat shuts down.
This part of the code was rewritten quite a bit for 7.15, so that would be two different changes: one for 7.14 and another for 7.15 and after.

[2021-08-09 13:56] ruflin commented on #27276
Thanks for raising this. We should likely offer a better experience on this. I suggest we move this to the Kibana repo and ping the Fleet team on it as I don't think the Elastic Agent can do anything here. @mostlyjason @jen-huang

[2021-08-09 14:00] elasticmachine commented on #27276
Pinging @elastic/fleet (Team:Fleet)

[2021-08-09 14:39] EricDavisX opened #27282 "Agent & Logs Application issue: 7.12.X used to be able to read from multiple indices?"
I have dropped this issue in from a slack conversation, unsure how to get it to the Logs team, we may want to transfer it from Beats repo at some point:

before 7.13, in the Logs application settings, we could get logs from several indices such as logs-, filebeat-.

When I upgraded to 7.13, I kept filebeat-* in the indices read by the Logs application. I have deployed 4 elastic-agents... I wanted

[2021-08-09 15:19] weltenwort commented on #27282
This seems to be an issue on the Kibana side. More specifically, the agent logs page that embed the logs stream doesn't define their own log source, but rely on the space-specific user configuration. They should use the `defineInternalSourceConfiguration` function exposed on the `infra` plugin's `setup` contract to register a space-independent source configuration targeting the agent logs.

[2021-08-09 15:34] gchiartosini opened #27283 "[Heartbeat] Monitor - Add ability for check an array of objects from a JSON payload response"
**Describe the enhancement:**
Add the ability for check an array of objects from a JSON payload response.

**Describe a specific use case for the enhancement or feature:**
I received a sample JSON payload containing an array of objects in my Heartbeat HTTP monitor:
`{
  "result": {
    "status": "OK"
  },
  "something": [
    {
        "item1": "value1",
        "item2": "value2"
    },
	{

[2021-08-09 15:35] disaster37 opened #27284 "[FILEBEAT] - Autodiscover with module when multiple container"
Hi,

I try to collect some logs on kubernetes cluster form filebeat.
So I use autodiscover to to that. It's work fine for major of use case, but it seems not working on following use case:
I have a workload that run 2 containers on same pod:
- **nginx**:  nginx with custom logs format
- **nginx-error**: sidecard that tail the nginx error.

The custon access logs is handled by Logstash grok. But I

[2021-08-09 15:39] weltenwort commented on #27282
I have created elastic/kibana#107920 to track this.

[2021-08-09 15:43] EricDavisX commented on #27282
let's close this out then, thanks so much all.

[2021-08-09 15:43] #27282 closed

[2021-08-09 15:50] elasticmachine commented on #26480
Pinging @elastic/stack-monitoring (Stack monitoring)

[2021-08-09 15:57] jakedurell opened #27285 "All objects in Okta Target Array are not captured in filebeat"
The Okta logs contain a target array which typically contain 2 object. For example, one has the type AppUser and the other has AppInstance. The current version of the filebeat improved upon the last but taking at least some target types, and creating fields for them. But it only does this for group and user target types as lines 454 to 479 show:

![image](https://user-images.githubusercontent.com/

[2021-08-09 17:01] jakedurell commented on #27285
@Team:IngestManagement

[2021-08-09 17:22] EricDavisX commented on #27259
@andresrc This sounds very severe, I will send a note to the team via email to follow through - unsure if we can / should target a near term fix.

[2021-08-09 18:01] scunningham opened #27287 "Switching agent that is executing fleet server in cloud to debug logging causes Shutdown"
- Version: snapshot-8.0.0
- Operating System: linux

Steps
1. Create vanilla 8.0.0-snapshot cloud deployment in staging.
2. Navigate to the fleet ux
3. Select the agent running the fleet server and switch its logging setting to debug
![Screen Shot 2021-08-09 at 1 57 42 PM](https://user-images.githubusercontent.com/294689/128751932-42abfc1e-661c-4d49-817b-76be13d21306.png)

4. Observer that the age

[2021-08-09 18:06] elasticmachine commented on #27287
Pinging @elastic/fleet (Team:Fleet)

[2021-08-09 18:51] EricDavisX commented on #27255
This is high severity, but I can see if we don't want to call it a blocker for 8.0 Alpha release.

[2021-08-09 19:03] EricDavisX commented on #26101
I've logged this to Kibana repo as: https://github.com/elastic/kibana/issues/107955

[2021-08-09 19:14] EricDavisX commented on #27251
@amolnater-qasource - It would be helpful to isolate if this was due to the Endpoint Integration being in play, if you could do one or two more iterations without it to get some stats.  Still, it seems severe, good to know it is not occuring on older macOS versions (like Catalina).  I'll add it to the urgent list.

[2021-08-09 19:54] P1llus commented on #26629
Adding the fact that when a module (or package/integration) has a dashboard, this dashboard can only be installed on a Kibana that runs minimum the same version as the Kibana used to export the included dashboard.

That means if a dashboard has a hotfix, then suddenly that dashboard will no longer be available to any older versions of kibana (even though it might have worked before).

[2021-08-09 20:03] andrewkroh opened #27288 "[Winlogbeat] Event ID reuse in the Security channel causes wrong enrichment"
The Active Directory Federation Service (AD FS) can publish events to the Windows Security log. Some of the event IDs that it uses overlap with event IDs used by other publishers to the Security channel. This causes a problem with the Security module for Winlogbeat because it assumes the content of an event based on its event ID.

In most systems there are two publishers to the [Security channel](

[2021-08-09 20:05] elasticmachine commented on #27288
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-08-09 20:41] nfritts commented on #27197
Currently if run on RHEL 7 it will fail to run.

I believe the later versions it will be fine.

[2021-08-09 20:47] stefanba3 commented on #19320
I agree with this. Running beats in docker, where it the default is is to use the console for most output and stderr for errors, should be good enough use case.

[2021-08-09 21:29] andrewvc commented on #22932
Reopening because we now have an implementation in https://github.com/elastic/synthetics/issues/360

[2021-08-10 02:58] kaiyan-sheng commented on #27219
For`GetCostAndUsage` [API](https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_GetCostAndUsage.html#API_GetCostAndUsage_RequestSyntax), we can group by two different groups in one query. These two groups can be either dimensions, tag keys, cost categories, or any two group by types. For example:
[code]
So with what we currently have in Metricbeat, we can query billing data grou

[2021-08-10 04:30] FizzBuzz791 opened #27289 "Function Beat RoleName is too long"
[This issue](https://discuss.elastic.co/t/functionbeats-and-role-name-error/272454) was posted in the forums and didn't even get a reply, so I'm not sure the "wider audience" comment is valid any more.

I understand the need to append data to try and ensure unique-ness, but can we please add some validation to ensure it stays under the 64 character limit?

[2021-08-10 06:27] elasticmachine commented on #27287
Pinging @elastic/agent (Team:Agent)

[2021-08-10 06:38] elasticmachine commented on #27223
Pinging @elastic/integrations (Team:Integrations)

[2021-08-10 06:38] ruflin commented on #27223
@exekias @fearful-symmetry Would be great to get your take on this.

[2021-08-10 07:03] michaelhyatt opened #27291 "Filebeat's Snyk module throws `unsupported protocol scheme` error"
Filebeat Snyk module:
- Version: 7.14.0
- Operating System: Any
- Steps to Reproduce: Configure the Snyk module and start filebeat with `-e`. The error shows straight away.

Error:
[code]

^^ @papicella

[2021-08-10 07:07] michaelhyatt opened #27292 "Filebeat's Snyk module only supports retrieval of 10 items"
- Version: 7.14.0
- Operating System: Any
- Steps to Reproduce: Configure and start filebeat with Snyk module with `-e`.

I can only see 10 items being sent to Elasticsearch although there should be way more. In the log file, there is a line indicating that only one call has been made to the backend. The `perPage` parameter is set to 10, which suggests that it is just not paginating beyond retriev

[2021-08-10 07:10] michaelhyatt opened #27293 "Filebeat's Snyk module is not retrieving the `audit` dataset throwing an error"
- Version: 7.14.0
- Operating System: Any
- Steps to Reproduce: Configure the snyk module and enable the audit dataset and start filebeat with Snyk module with `-e`.

The log file shows the following error and no more data is being retrieved from Snyk:
[code]

[2021-08-10 07:10] michaelhyatt commented on #27293
^^ @papicella

[2021-08-10 07:18] exekias commented on #27223
Thanks for bringing this up! Actually @fearful-symmetry have been working cgroups v2 support here: https://github.com/elastic/beats/pull/27242, I see Pressure is actually retrieved.

Would you see this information useful if attached to the process documents?

[2021-08-10 07:34] b-deam commented on #27223
Not so much `process` documents - but rather the system as a whole (reading directly from `/proc/pressure`, kind of like system load averages are for the system as a whole.

I gave the PR a quick skim, but couldn't tell if that implementation will also allow collection at the host level if no cgroups are in use? Is that correct?

[2021-08-10 07:41] exekias commented on #27223
That's correct!, @fearful-symmetry would love your thoughts on this

[2021-08-10 08:05] MichaelKatsoulis commented on #27216
This is something that needs to be updated in the agent side so that it will not use the default filebeat configuration.

Removing [add_kubernetes_metadata](https://github.com/elastic/beats/blob/a3b642b55950c061a61732e5c8eef41e37d94b82/filebeat/filebeat.yml#L209) from the default config will affect also  non-agent uses of filebeat.

[2021-08-10 08:30] exekias commented on #27216
@blakerouse would it be possible to remove this processor from the Agent beats?

[2021-08-10 08:57] zgfh commented on #22043
v7.13.3 is added
PR: https://github.com/elastic/beats/pull/25037

[2021-08-10 09:48] michalpristas commented on #27213
I checked with apm today and agent http endpoint

i ran agent with http endpoint enabled and apm-server as a single and only integration. monitoring metrics was enabled
first i queried agent http endpoint for apm
`curl http://localhost:6791/processes/apm-server-default`

<details>
<summary>elastic agent http endpoint result</summary>
[code]
</details>

then i queried apm-server stats endpoint dire

[2021-08-10 11:01] stuartnelson3 commented on #27213
I can confirm that the apm-server output over its unix socket matches what elastic-agent exposes via its metrics endpoint.

The question that we're left with now is, why does apm-server expose different data via a unix socket vs. an http endpoint?

[2021-08-10 11:08] michalpristas commented on #27213
can you provide steps how you get metrics you are referring to?

[2021-08-10 11:12] willemdh commented on #27288
Noticed this for some time, thanks for creating the issue @andrewkroh

[2021-08-10 11:24] amolnater-qasource commented on #27251
Hi @EricDavisX
We are currently blocked for testing using Endpoints because of VSphere issue. We will test this as soon as Vsphere issue will be resolved.

Thanks

[2021-08-10 11:30] stuartnelson3 commented on #27213
If you run apm-server locally:

[code]

Then from another terminal window:

[code]

Compare that to what you and I saw as the output from apm-server when managed by elastic-agent:

(with elastic-agent installed and running, and it having started apm-server)
[code]

[2021-08-10 12:02] hendry-lim commented on #27270
We are experiencing the same issue but only with Heartbeat, even with `setup.ilm.overwrite` setting set to `false`. We are using Heartbeat `7.13.3`.
[code]

[2021-08-10 12:05] sumitmadhale-lime opened #27296 "[Metricbeat] uwsgi plugin for metricbeat doesn't send data about total number of queues."
**Describe the enhancement:**
Currently default plugin for metricbeat does not send data about total number of queues it it listening to(We do not want worker queue details but the total queue count for all the uwsgi workers). For metricset "status" we wanted to have, one of below example fields to gather the queue information.

uwsgi.status.total.listen_queue or uwsgi.status.sockets.queue

Metric

[2021-08-10 12:24] blakerouse commented on #27216
@exekias At the moment we rely on the default configuration that is shipped with a beat, by changing that 1 behavior we affect all other beats that might rely on something from their default configuration.

We would need to send an empty list of processors in the configuration through the control protocol, but would filebeat even reload that section?

I understand the removing of the default break

[2021-08-10 12:52] andrewvc commented on #27277
Here's a sample config, which has the proper type `synthetics/tcp`

[code]

[2021-08-10 13:02] elasticmachine commented on #26629
Pinging @elastic/agent (Team:Agent)

[2021-08-10 13:10] kvch commented on #26629
The support matrix has an asterisk that has a following clarification:

[2021-08-10 13:22] MichaelKatsoulis commented on #27216
To my understanding @exekias `add_kubernetes_metadata` processor purpose is needed in Kubernetes environments only.
The default config of filebeat is overridden in the proposed manifests we have for deploying filebeat in kubernetes. [configmap](https://github.com/elastic/beats/blob/master/deploy/kubernetes/filebeat/filebeat-configmap.yaml).

So removing the processor from the default config wouldn

[2021-08-10 13:24] andrewkroh commented on #26629
@nimarezainia Could you help by confirming that my interpretation of the support matrix is correct? Is the current requirement that Beats 7.14 be compatible with ES/Kibana 7.0? Or have I misinterpreted it.

[2021-08-10 13:51] EricDavisX commented on #27114
The fix was backported to 7.14.1 yesterday so we can wait a day to be sure the build has picked it up and we can re-test.  Thanks @lthach2 .  If we have questions about the next 'depth' we can test here, please do raise it to the team.

[2021-08-10 13:59] stuartnelson3 commented on #27213
Error was in the apm-server, which is fixed in https://github.com/elastic/apm-server/pull/5922

[2021-08-10 14:02] Sebor commented on #13066
I have the same issue in k8s (as prometheus remote write).

k8s container status:
[code]

logs:
[code]

[2021-08-10 14:05] #24746 closed

[2021-08-10 15:04] elasticmachine commented on #27299
Pinging @elastic/agent (Team:Agent)

[2021-08-10 15:08] fearful-symmetry commented on #27223
Considering we're already adding this in cgroups, I don't see any reason why we couldn't add global pressure stats as well. I'm not sure where this would go, though. Maybe just a new `linux/pressure` metricset?

[2021-08-10 15:20] nfritts commented on #27197
Endpoint is going to delay Linux ARM to 7.16.  Its not quite there and we want to give it more time for testing and validation.

[2021-08-10 17:40] simitt commented on #25755
@andresrc this will be required from `>= 8.0`.

[2021-08-10 17:47] EricDavisX commented on #27299
I can comment from the testing side.  It has been the intention to improve the e2e-tests (which are run as part of Beats/Agent CI for each PR) and so should catch issues before merging; but time has not allowed us to get the depth we desire, yet.

Also, this one seems dependent on 'larger' http transaction sizes, note the tests have basic policy assignment covered.  If we can confirm any details o

[2021-08-10 17:52] ruflin commented on #27299
If my understanding is correct, it is not about an exact size that it happens. As the defer was called in the wrong place there was only a certain amount of time for the reader to read the body. This also explains the flakyness and it not occuring always in the same place.

I'm not too surprised we didn't catch it with the e2e tests as it is a bit unpredictable. This likely fits more into a load t

[2021-08-10 17:53] scunningham commented on #27299
This is largely a timing issue.  Effectively the agent is incorrectly aborting the HTTP transaction before all the data has arrived.  While it can happen with smaller payloads, a larger payload exacerbates the issue because 1) there are more packets 2) there is extra latency in compressing the payload.  The transaction will complete if all the data is delivered in the window before which the trans

[2021-08-10 18:22] EricDavisX commented on #27230
The Engg Productivity group has confirmed a template in our Endgame vSphere cluster:
qa-suse-les-15.2-x64-clone-base
@amolnater-qasource @dikshachauhan-qasource if you can schedule a test for 7.15 timeframe (as near-term as we can) that will help.  Let's run the stand-alone filebeat test as well as a basic System/Linux/Endpoint test on Agent side and verify data collection and a spot check of indi

[2021-08-10 18:31] EricDavisX commented on #27299
Thanks Ruflin and Sean.  I will leave the larger 'scale testing' discussion aside, but this is indeed a form of scale problem.  And it seems it is one that can be assessed by the test team (and explicitly automated, even in the e2e-testing framework) if we can identify (more explicitly) how many integrations will trigger it?  Alternatively we can identify the minimum number of integrations we want

[2021-08-10 18:58] EricDavisX commented on #26550
I'm following up on an email thread that was started on this, just fyi for all.

[2021-08-10 19:21] mtojek commented on #27299
I would agree that it should be covered with load testing if it wasn't a single policy (with one integration) triggering this. But I like the idea of a load test that @scunningham mentioned - push as many integrations as possible and meet the limit.

To answer this question you can look at latest failed master builds:
https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrat

[2021-08-10 19:51] LeeDr commented on #27036
Seems like this might be specific to Windows OS?

Here's more examples of failures on 7.14.1 and 7.x branches:

On winlogbeat on 7.14.1 on Windows 2016 Server;
[code]

On metricbeat on 7.x on Windows 2012 Server;
[code]

[2021-08-10 20:09] liza-mae commented on #27036
It is not Windows OS specific

[2021-08-10 21:46] #27217 closed

[2021-08-10 22:58] andrewvc opened #27306 "Heartbeat support"

[2021-08-10 22:59] andrewvc commented on #27306
Made by mistake

[2021-08-10 22:59] #27306 closed

[2021-08-11 00:15] axw commented on #27213
@michalpristas thanks for looking into it, and sorry for the noise. This libbeat/monitoring behaviour is a bit of a footgun, and it's unclear why the behaviour changes when running under elastic-agent, but it doesn't appear to be a bug in elastic-agent so I'll close this.

[2021-08-11 00:15] #27213 closed

[2021-08-11 02:28] b-deam commented on #27223
I agree, `linux/pressure` makes more sense than `system` IMO - I also noticed (if you weren't already aware) that the existing [prometheus/profcs package](https://github.com/prometheus/procfs/blob/v0.0.11/proc_psi.go#L59-L99) already includes a method to retrieve these.

[2021-08-11 05:20] #23216 closed

[2021-08-11 07:09] simitt commented on #25123
Haven't seen this issue again, so closing it out,

[2021-08-11 07:09] #25123 closed

[2021-08-11 07:14] simitt commented on #18815
Closing this according to outcome of discussions in #18820 .

[2021-08-11 07:14] #18815 closed

[2021-08-11 09:15] michalpristas commented on #27229
this is related to standalone and should not have impact on this. what is bothering is beats being restarting/crashing all over, logs from beats would be helpful

[2021-08-11 09:43] #7760 closed

[2021-08-11 09:47] P1llus commented on #26570
I think simply changing it would break many peoples current implementation that might already expect this to be lowercase only though

[2021-08-11 10:28] amolnater-qasource commented on #27259
Hi @EricDavisX
While testing on 7.15.0 Snapshot we have found this issue reproducible there as well.
- Windows Agent stop sending data on re-assigning to another policy and on changing logging level. After sometime agent also moves to Unhealthy state.

**Build details:**
[code]
**Logs:**
[logs.zip](https://github.com/elastic/beats/files/6967516/logs.zip)

Further we are still blocked to test on Li

[2021-08-11 10:28] amolnater-qasource commented on #27255
Hi @EricDavisX
While testing on 7.15.0 Snapshot we have found this issue reproducible there as well.
- Agent folders are not removed completely on running uninstall command.

**Build details:**
[code]
Thanks
QAS

[2021-08-11 10:30] amolnater-qasource commented on #27230
Hi @EricDavisX
We have attempted to install filebeat and agent on `qa-suse-les-15.2-x64-clone-base`. However, due to Vsphere issues we are unable to install them.
Somehow we were able to access the VMs and setup the filebeat and agent folders. However on running install or setup commands it shows connectivity errors due to Vsphere issues. These connectivity errors are observed on all Linux and Mac

[2021-08-11 11:22] MichaelKatsoulis commented on #27216
Could we maybe leverage the if statements in the filebeat/metricbeat yaml like in [packetbeat.yml](https://github.com/elastic/beats/blob/master/packetbeat/packetbeat.yml#L221) ?

[2021-08-11 11:23] amolnater-qasource commented on #27259
We have also observed this issue, on adding any integration to the Policy.
- Agent goes to unhealthy state and no new data under Data Streams tab.

Thanks

[2021-08-11 11:24] michalpristas commented on #27259
this can be found in Metricbeat
`Exiting: data path already locked by another beat. Please make sure that multiple beats are not sharing the same data path`
what's weird is that even with monitoring enabled i dont see monitoring logs. instead there's just one log file which looks like contains logs from multiple processes.

what it looks like is that agent does not cancel/close/restart its beats a

[2021-08-11 11:29] ruflin commented on #27299
PR to get this fixed is open here: https://github.com/elastic/beats/pull/27297

[2021-08-11 11:52] ruflin commented on #27277
@andrewvc Does it mean you can't reproduce it on your end?

[2021-08-11 12:27] aspacca opened #27312 "Flaky test TestAddCounterInvalidArgWhenQueryClosed"
## Flaky Test

* **Test Name:** TestAddCounterInvalidArgWhenQueryClosed
* **Link:** https://github.com/elastic/beats/blob/23e4403ae093fcc8f7905345cad2c7ad256976d8/metricbeat/helper/windows/pdh/pdh_query_windows_test.go#L36
* **Branch:** https://github.com/elastic/beats/pull/27126
* **Notes:** #26886 seems to have removed the fix introduced in https://github.com/elastic/beats/pull/20630 (https://gi

[2021-08-11 12:27] elasticmachine commented on #27312
Pinging @elastic/integrations (Team:Integrations)

[2021-08-11 14:12] #27312 closed

[2021-08-11 15:06] eduardoarreolabt commented on #25670
I experience the same permission error on Filebeat v.7.11 and have upgraded to version 7.14 but I received a new error
![Filebeat error](https://user-images.githubusercontent.com/88786866/129054347-cb099073-24f7-4dc4-923d-b7639658bf31.PNG)

[2021-08-11 15:08] dominiqueclarke commented on #27277
@ruflin We can reproduce, we just don't believe it's due to a synthetics package issue, but rather a parsing issue on the filebeat side. The input is of type `synthetics/tcp`, so it shouldn't be picked up by filebeat, but filebeat may be looking for all datastreams of type `tcp`, even within the `synthetics/tcp` input. We believe this should be investigated further on the filebeat side.

[2021-08-11 15:11] 4urb4nm0nk commented on #26322
I still have this issue on 7.14 with all Beats when using API for authentication. I followed [this](https://www.elastic.co/guide/en/beats/auditbeat/master/beats-api-keys.html) tutorial. I know it's a open issue and I'll be watching for any changes.
I even get it when I change the authentication to the elastic user. So it builds the index and then goes back to API authentication. But I don't want t