[2017-10-11 00:56] dustin-decker opened #5375 "[FEATURE] Add common API for state storage with configurable storage backends"
ref discussion: https://discuss.elastic.co/t/adding-state-storage-backend-options-to-the-libbeat-framework/101080/4

**Two reasons we need this in libbeat:**
1. Right now it is up to the developer of each beat to implement state storage, if it's needed.
2. When run on systems without local storage, this may require implementing external storage for state such as consul, etcd, a database, or elasti

[2017-10-11 09:59] bessonovevgen commented on #1962
Hello.
Beats version 5.6.3 from deb repo on Ubuntu 16.04 not placed data in pipeline with config from [docs](https://www.elastic.co/guide/en/beats/filebeat/current/configuring-ingest-node.html)

![image](https://user-images.githubusercontent.com/18403194/31433933-8e3ebc56-ae83-11e7-862f-03bb48c90d32.png)

but if i change parametrs to

output.elasticsearch:
  # Array of hosts to connect to.
  hosts

[2017-10-11 13:43] CodingSpiderFox commented on #263
Is there a way in windows server to create virtual devices and route all the traffic of all devices to such a local, virtual device? Then, this virtual device could be captured as a workaround

[2017-10-11 15:11] tsg opened #5376 "Filebeat error when system and nginx modules are enabled"
- Version: 6.0.0-rc1 and master
- Operating System: darwin
- Steps to Reproduce:

* `./filebeat modules enabled nginx`
* `./filebeat -e -modules=system -d "*"`

It doesn't happen everytime, but quite often this breaks with the following error:

[code]

Full debug logs:

<details>

[code]

</details>

Registry file contents after the above run:

[code]

[2017-10-11 15:25] tsg commented on #5376
Stack trace for the moment of error:

[code]

It's not the exact same run as before, but in similar conditions.

[2017-10-11 15:58] exekias commented on #5376
I reproduced this, it looks like prospectors are created several times? It doesn't happen if you enable both modules (nginx & system) and run with `filebeat -e`, still looking for the root cause, but may be close to the logic of module overrides

[2017-10-11 16:53] jhmartin commented on #918
Docker has said they do not want other services reading the json-log files.  I asked to be able to configure the permissions on the files at https://github.com/moby/moby/issues/17763 , which was quickly rejected with:

and

That said, multiline parsing is critical.

[2017-10-11 18:07] jillesvangurp commented on #918
https://docs.docker.com/engine/extend/plugins_logging

It looks the way forward is custom plugins; a beats plugin would be nice.

[2017-10-11 19:16] ph commented on #5131
I am able to reproduce that issue in the 5.6 branch, I'll do a bit more digging, I have seen that you have referenced this issue https://github.com/mheese/journalbeat/issues/100 as the fix, but it doesn't seem to work on my side.

[2017-10-11 19:32] ph commented on #5131
This race has been fixed in https://github.com/elastic/beats/pull/4519, but the commit only went into master. @exekias Can you backport that to 5.6?

[2017-10-11 21:16] ruflin commented on #5376
The general problem is that we create a module registry twice and part of the module registry is to read from the command line flags. So the problem is triggered as soon as there is any module loaded through the command line and a module is already enabled in the config file.

The first time a module registry is created can be found here:

https://github.com/elastic/beats/blob/10e87a03be2475453c89

[2017-10-11 21:38] tarasglek opened #5377 "filebeat add_kubernetes_metadata kicks in too late"
Currently first few(not sure if it's only 1 or more) entries slurped up from docker container logs end up without kubernetes metadata.
first few entries look like:
[code]
Then they are followed by much nicer:
[code]

In this case, 35seconds passed before `kubernetes:{}` section started getting injected. This means that alll docker logs shipped during `add_kubernetes_metadata` are effectively lost

[2017-10-11 21:40] tarasglek opened #5378 "filebeat add_kubernetes_metadata requires namespace param"
If I deploy filebeat in kubernetes under namespace that is not kube-system, it fails to add kubernetes metadata.

[code]
This should  be set automatically from `/var/run/secrets/kubernetes.io/serviceaccount/namespace`

[2017-10-12 01:55] dengqingpei1990 commented on #918
I am glade to tell that this function has already been integrated with filebeat 6.0 . And It works nicely for me. I had reported a [bug](https://github.com/elastic/beats/issues/4986#event-1239472018) on filebeat 6.0 beta and it was resolved recently. A simple example was given on this bug report. Someone who want to try this new feature could view on it. Multiline logs such as java stack trace can

[2017-10-12 01:57] liketic commented on #5282
@exekias If no one is working one this, may I take it?

[2017-10-12 02:01] exekias commented on #5282
sure! feel free to take it, and ping us if you need any help :smiley:

[2017-10-12 02:10] exekias commented on #918
@jhmartin while using json-file is not recommended, it's the default logging driver in many cases so we want to support it, we will probably add support for alternative drivers in the future.

@jillesvangurp thanks, we are aware of this and may support it in the future, but we have to take into account that it's pretty recent, so old version of docker wouldn't work.

@dengqingpei1990 I'm glad you

[2017-10-12 03:08] get2arun commented on #1035
Another use case:
If the option of outputting events from Filebeat to multiple logstash or elasticsearch is essential for couple of use case. I have a design of two completely independent cloud platforms for nonprod and prod. I have filebeat out of these two cloud environment and want to push the set of log files to prod logstash and another set of log files to nonprod logstash server from single

[2017-10-12 08:37] ruflin commented on #637
@eperpetuo If you disable `close_renamed` and `close_removed` filebeat should continue reading the file as it will keep it open. This should give you your expected behaviour. Feel free to open a topic on discuss for it to discuss further.

[2017-10-12 09:00] ruflin commented on #5205
@andrewkroh So you would compare the current timestamp on sending to the timestamp in the event itself and get the max value? I like that :-)

[2017-10-12 11:23] #4795 closed

[2017-10-12 13:13] andrewkroh commented on #5042
How about `DBG [selector]`? I've [been using](https://github.com/elastic/beats/blob/5261079122227eee53b74a2d86cbe59eeeaa12d3/auditbeat/module/audit/kernel/audit_linux.go#L25) this in Auditbeat (and I think in a few places in Metricbeat).

`2017/08/29 09:13:28.898295 server.go:85: DBG [handler] Request: URI=/v1/errors, method=POST, content-length=156`

[2017-10-12 13:54] simitt commented on #4899
Scripted fields are generally supported now. Additional attributes can be added as they are needed, so I suggest to close this issue.

[2017-10-12 14:10] roncohen commented on #5042
@andrewkroh I like that 👍

[2017-10-12 14:46] #4899 closed

[2017-10-12 15:01] #5167 closed

[2017-10-12 15:47] johtani opened #5386 "[Metricbeat] system.fsstat.total_files hits long MAX"
- Version: 6.0.0-rc1
- Operating System: Mac OSX High Sierra

I got an error from Metricbeat on Mac OSX High Sierra.
[code]

So, I update the index template from `long` to `double`, then it works.
I have 1TB one disk and `df -h` output is here.

[code]

And `mount` command output is here
[code]

[2017-10-12 15:49] hiroyukki opened #5387 "packetbeat feature request - support http outbound packets only"
In some scenes, we can only captured outbound packets due to out-only port mirroring, HTTP request information still useful for behavioural analysis.
Can packetbeat support outbound?

[2017-10-12 15:58] andrewkroh commented on #5386
It does look like your filesystem was updated from HFS to APFS in the High Sierra upgrade.

`system.fsstat.total_files` is summed up across all filesystems. It's final value must be greater a `long`.

[2017-10-12 16:21] christamlyn-bridge commented on #149
+1

[2017-10-12 18:41] kwojcicki commented on #5155
Reopening this because I dont think the default behaviour of metricbeat is very intuitive. Running metricbeat 5.5 and postgres 9.5. If in one terminal i I go into my docker postgres container and enter psql
`docker exec -it -u postgres postgres_container sh
psql`

I can then repeat that process and in the second session run the following search
`select * usename,query_start,query,state from pg_sta

[2017-10-12 18:56] #4842 closed

[2017-10-12 20:31] ph commented on #4974
Fixing the code to parse the URI with space doesn't look too complicated, what worries me is how the parameters parsing will behave in this case since we don't have the space url encoded.

[2017-10-12 21:42] #5337 closed

[2017-10-13 07:05] ruflin commented on #5377
@tarasglek Any chance you could share your filebeat logs?
@vjsamuel Do you also have this issue?

[2017-10-13 08:16] ruflin commented on #5155
It seems like we should set `query_start` and `waiting` as an optional field to prevent the error: https://github.com/elastic/beats/blob/master/metricbeat/module/postgresql/activity/data.go#L29

Did you see any other fields with errors?

[2017-10-13 12:55] urso opened #5389 "Filebeat json input with tags not supported"
- Version: Any filebeat version supporting JSON input
- Steps to Reproduce:
  - json input with events having a tags field as array of string
  - add additional tags in filebeat configuration to the events
  - events from configuration file are not applied

Problem is the json parser converts the strings on input to `[]interface{}`, but when adding any new tags, a type check testing for `[]string`

[2017-10-13 13:38] urso opened #5390 "Output failure messages UX"
Output error message are often not very descriptive. Sometime we just get an `EOF` during the TLS handshake, and sometimes a somewhat more descriptive `connection refused errors` (number 1 issue on discuss). A many users seem not to understand the message or the reason this message can occur.

To help users with different kind of error message (certificate validation errors, connection refused, EO

[2017-10-13 14:42] swethamahesh opened #5391 "filebeat is not closing the file descriptor incase of file is been removed/rotated with version 5.5 and due to which disk usage is full"
filebeat is not closing the file descriptor incase of file is been removed/rotated with version 5.5 and due to which  disk usage is full

 14327    0 lrwx------   1 xxx     xxx           64 Oct 13 13:23 /proc/1079/fd/7 -> /tmp/ffi4PXrM7\ (deleted)
 15953    0 l-wx------   1 xxx    xxx            64 Oct 13 13:23 /proc/1265/fd/3 -> /var/log/temp.log\ (deleted)

my filebeat configuration looks as bel

[2017-10-13 15:08] uschtwill commented on #5389
For reference: https://discuss.elastic.co/t/filebeat-tags-not-applied-if-json-event-already-has-a-tags-field/102974

[2017-10-13 15:44] tsg commented on #4737
There's one more that we missed:

* [ ] The module level processors in metricbeat need to specify the fields by their full name, not relative the the module.

[2017-10-13 16:59] #5345 closed

[2017-10-13 18:19] kwojcicki commented on #5155
Sometimes it has also complained about state_change but setting those 3 to optional should fix it I believe.

[2017-10-13 22:51] tarasglek commented on #5377
@vjsamuel  try this. this filebeat logging itself
[problem.tar.gz](https://github.com/elastic/beats/files/1384184/problem.tar.gz)

[2017-10-14 00:12] joshuar commented on #5301
I've submitted a PR for the beginnings of an Elasticsearch module in #5394 .

[2017-10-14 01:00] danleerunk commented on #4812
@exekias Okay if I take this on? As a suggestion, perhaps changing the title of the viz to "MySQL total connections" would make this a bit more clear.

[2017-10-14 08:26] exekias commented on #4812
sure, go ahead! just ping us if you need any help :)

[2017-10-15 15:03] hypp opened #5396 "Add IP-addresses and MAC-addresses to event"
This is a feature request as requested [here](https://discuss.elastic.co/t/add-ip-addresses-and-mac-addresses-to-event/103465/2).

I would like to dynamically add all IP-addresses and all MAC-addresses of the sender host to each event sent by filebeat.

I propose that it is implemented as a new processor similar to add_locale.
Something like:
Loop over net.Interfaces() to get the HardwareAddr fiel

[2017-10-16 01:23] michaelhidalgo commented on #5371
any comments?

[2017-10-16 06:36] ruflin commented on #5391
In general this issue normally appears, if the is back pressure from the Logstash output. Please open a topic on discuss for this as we try to keep Github for confirmed bugs: https://discuss.elastic.co/c/beats/filebeat Happy to help there.

On discuss please share your full filebeat config file, the log files from filebeat, the setup you are using. If your output is putting back pressure on and yo

[2017-10-16 06:36] #5391 closed

[2017-10-16 06:53] swethamahesh commented on #5391
Thanks for the inputs Nicolas..

by using close_timeout there could be chances of data being lost.

how shall we over come this problem.

[2017-10-16 06:53] #5376 closed

[2017-10-16 09:21] ruflin commented on #5155
Seem like @liketic already started to work on a solution here: https://github.com/elastic/beats/pull/5398

[2017-10-16 10:11] ruflin commented on #5396
Thanks for filing this. I think we still need to figure out where this would fit best in. I could see this as a processor like `add_host_metadata` which probably does more then just ip address and mac address, but for example also fetches the OS. @andrewkroh Other thoughts?

[2017-10-16 10:20] ruflin commented on #5391
@swethamahesh Please open an topic on Discuss and link this issue as reference with the above mentioned details.

[2017-10-16 10:21] swethamahesh commented on #5391
i have opened ticket https://discuss.elastic.co/t/filebeat-is-not-closig-the-file-descriptor-once-the-file-is-deleted-renamed/104077

[2017-10-16 10:26] #5155 closed

[2017-10-16 11:44] dandrestor commented on #3731
Hi, I was wondering what's the status of this bug? This makes Winlogbeat unsuitable for production use pretty much, and forced us to look to other agents such as nxlog.

[2017-10-16 14:55] exekias commented on #5377
The issue is the processor is not ready instantly, takes some time for it to fill it's containers state, so first messages may be lost. I'll think of ways to fix this, but should not be an issue once autodiscover (https://github.com/elastic/beats/pull/5245) gets in, as autodiscover could be in charge of adding events metadata.

[2017-10-16 15:25] vjsamuel commented on #5377
@exekias the podwatcher has to perform a full sync for the processor to startup and return the processor instance to the beat pipeline. hence the processor was initialized with a full sync as per logs as well before for the first file was tailed.

Code:
https://github.com/elastic/beats/blob/master/libbeat/processors/add_kubernetes_metadata/kubernetes.go#L180
https://github.com/elastic/beats/blob/m

[2017-10-17 02:39] meckhardt commented on #3178
:+1:

[2017-10-17 20:34] friesoft commented on #464
Any news on centralized configuration for beats through Kibana? We really want this feature :)

[2017-10-17 21:39] andrewkroh commented on #5371
Metricbeat is using [NtQueryInformationProcess](https://msdn.microsoft.com/en-us/library/windows/desktop/ms684280%28v=vs.85%29.aspx?f=255&MSPPError=-2147217396) to collect the process info so I suspect that it will have the same problems as the other tools.

[2017-10-17 21:44] #5042 closed

[2017-10-18 08:24] alextxm opened #5403 "metricbeat - vsphere module config example is wrong"
The default file for the vsphere module (modules.d/vsphere.yml.disabled) contains an invalid configuration example:
`metricsets: ["datastore, host, virtualmachine"]`

but this will cause metricbeat to report an invalid metricsets error at startup.
The correct configuration is:

`metricsets: ["datastore", "host", "virtualmachine"]`

Please also note the same error can be found in the official docs

[2017-10-18 08:58] alextxm opened #5404 "metricbeat - metricbeat stops publishing events to Redis"
Metricbeat 6.0.0-rc1 stops publishing events to Redis (using the redis output module) after some time, depending on the events volume, but usually in the 4000-5000 events range.

Enabling debugging does not give any futher info; after reaching 4000-5000 events metricbeat continue running but no events are published to redis while the log is filled with INFO level messages like this one:
`INFO Non-

[2017-10-18 09:46] yasvanth opened #5405 "Heartbeat to lookup status url"
Hi Team,
I am testing Heartbeat module to look for the status url of a service. For instance: my application runs behind apache so I create a apache web page which checks whether the application is running or not:
<pre>
https://example.org/status
</pre>
 The above url return
<pre>
Application: running
</pre>
If my application is not running, The status page returns
<pre>
Application: not running
<

[2017-10-18 14:48] #4970 closed

[2017-10-18 16:07] #5304 closed

[2017-10-18 20:47] loranger commented on #75
Never mind

[2017-10-18 20:47] #75 closed

[2017-10-18 22:14] exekias commented on #5131
Just opened https://github.com/elastic/beats/pull/5409, sorry for the delay, I missed this ping somehow :innocent:

[2017-10-18 22:37] andrewkroh commented on #5403
Thanks for the report. If anyone wants to fix contribute a PR this problematic file is [metricbeat/module/vsphere/_meta/config.yml](https://github.com/elastic/beats/blob/65ea8cf4ff50573fc18a9f9224f6e8e37a19fc25/metricbeat/module/vsphere/_meta/config.yml#L2). After editing the file you need to run `make update` from inside the `metricbeat` dir.

[2017-10-19 08:58] sitaramshelke commented on #5403
Hey, @andrewkroh I can take this if available. Looks pretty straightforward.

[2017-10-19 11:26] botzill opened #5411 "Installing heartbeat-6.0.0-rc1 on debian does not work"
- Version:
`6.0.0-rc1`
- Operating System:
`Linux frontend 3.16.0-4-amd64 #1 SMP Debian 3.16.36-1+deb8u2 (2016-10-19) x86_64 GNU/Linux`
- Steps to Reproduce:
`sudo dpkg -i heartbeat-6.0.0-rc1-amd64.deb`

After I install the package there is no files in `/etc/heartbeat`(heartbeat.yml, fields.yml) and the `heartbeat` service is not started by default.

Are the any issues with .deb package?

dpkg deb

[2017-10-19 12:40] ruflin commented on #5403
@sitaramshelke go for it :-)

[2017-10-19 13:54] ZhiqinYang opened #5412 "How to limit mem use with filebeat6.0"
Excuse me!
    I wanna to know how to limit the mem usage with filebeat, I run it in docker, and had a test produce 30000 logs per second! I saw the mem used more than 2G+. how can I limit it? I don't want it to use swap.

[2017-10-19 14:22] antonking commented on #3608
I was equally interested in having the consumer lag per partition_id/topic and i labored to make it work in my repository --> https://github.com/antonking/GOLANG

[2017-10-19 16:58] amandahla commented on #5403
Great! I made the correction here too time ago (https://github.com/elastic/beats/pull/4883) but we had problems with Vic :|

[2017-10-20 06:42] AndreAga opened #5413 "Kerberos Authentication for Kafka"
Hi guys,
I saw Beats Library doesn’t support Kerberos  authentication for kafka output, but Logstash kafka input does. Any plan to add this kind of Auth?

Thanks.

[2017-10-20 07:17] mellowonpsx commented on #5413
I agree with @AndreAga, also Logstash's Kafka output plugin supports Kerberos SASL.
Kerberos Auth is a must-have feature for Bests Library.

[2017-10-20 11:55] sitaramshelke commented on #5403
Hello @amandahla, I can see changes in the commit. @ruflin So should we have a separate PR just for this change?
Let me know what you think.

[2017-10-20 14:16] ruflin commented on #5403
@sitaramshelke I suggest to do a separate PR to get it in quicker.

[2017-10-20 18:29] WisdomPill opened #5414 "Compile import dashboard"
I'm trying to compile metricbeats on a raspberry pi but I don't get how to create the import dashboard script executable.

I compiled the whole thing, then I created the service and it works, but I'm facing some issues importing the kibana dashboards, I created a simple python script that puts the json files in the folder "/go/src/github.com/elastic/beats/metricbeat/module/system/_meta/kibana/5.x"

[2017-10-20 18:29] jkelastic opened #5415 "[Filebeat] Customer request: Provide launchd config for running as macOS daemon"
We need official documentation on how to setup Filebeat daemon on OSX.

I saw a customer use plist in the post below to setup a Filebeat daemon on OSX.

https://discuss.elastic.co/t/deploying-filebeat-on-macos-x/37785/11

What need ES best practice and official support steps in achieving a OSX launch-able daemon.

[2017-10-22 00:15] popstas commented on #1070
@mib4fun, we replaced `host` field with `fields_under_root`, fqdn fills with ansible:
[code]

[2017-10-22 10:01] popstas commented on #1070
Also you can define `beat.name`: just set `name` on top level of filebeat.yml

[2017-10-23 07:18] botzill commented on #5411
Sorry about the issue above, now seems to work OK, closing  it.

[2017-10-23 07:18] #5411 closed

[2017-10-23 08:18] exekias commented on #5414
What version of Metricbeat are you using? For master version you can use the tool to import the dashboards for you: Check `make import-dashboards` and `metricbeat setup` subcommand

[2017-10-23 10:25] alextxm commented on #4673
Hi @amandahla,
i'm testing the vsphere module in 6.0.0-rc1 since last week and the bug seems to be still present:
![err-600rc1](https://user-images.githubusercontent.com/6169392/31884422-42ef1782-b7ed-11e7-8e92-8dad1842e894.PNG)

[2017-10-23 12:04] urso opened #5419 "Document backoff setting"
Output Backoff parameters have become configurable. Add missing settings to docs:

- [ ] Logstash [backoff settings](https://github.com/elastic/beats/blob/master/libbeat/outputs/logstash/config.go#L23)

Note: check all outputs expose backoff settings

[2017-10-23 13:17] alextxm commented on #5404
I've done some more testing and it happens on both 6.0-beta1/beta2/rc1 but not alpha2 (alpha2 works fine). Publishing stops just after 4096 items as you can see per this screenshots taken from redis-cli.
![mb-redis-60b1](https://user-images.githubusercontent.com/6169392/31890659-2ca7d664-b804-11e7-8184-c6d63c3fb2fe.PNG)
![mb-redis-60b2](https://user-images.githubusercontent.com/6169392/31890660-2c

[2017-10-23 13:23] jhnoor commented on #637
+1 for gzip support, we have a ton of xml backlogs that are gunzipped that I would like to send to logstash. Unzipping everything would take up 30x more space.

[2017-10-23 13:55] ph commented on #5131
#5409 was merged in the 5.6 branch, closing this.

[2017-10-23 13:55] #5131 closed

[2017-10-23 15:45] andrewkroh opened #5421 "Add recursive watches to file integrity module"
The file integrity module currently supports watching individual directories and does not recursively watch sub-directories. To add support for recursive watches while still maintaining the ability to detect changes in near real-time we need notifications from the OS that work recursively (see [how it works](https://www.elastic.co/guide/en/beats/auditbeat/master/auditbeat-metricset-audit-file.html

[2017-10-23 16:51] exekias commented on #3608
that's awesome @antonking, could you open a PR with your changes applied to metricbeat?

[2017-10-23 17:23] kurtado commented on #5293
@ruflin yes you're right! Although even if I add a port here, e.g. `www.splunk.com:80`, as the error suggest, it still gives an ERR. Maybe the error would be helpful to mention the lack of protocol and/or missing port?

With -e:
[code]

[2017-10-23 20:08] exekias commented on #5378
This is what we have been using so far: https://github.com/elastic/beats/blob/master/deploy/kubernetes/filebeat/filebeat-daemonset.yaml#L34-L37, but your idea looks good to me, do you have any link on the docs for this?

[2017-10-23 22:36] andrewkroh opened #5422 "Refactoring Auditbeat Modules"
We want to do some refactoring to change the config and event schema before the Auditbeat GA release.  Auditbeat reuses Metricbeat's framework, and the framework's orientation around metrics is visible to the Auditbeat user, but it shouldn't be.

### Goals

- Simplify configuration for the end-user
  - Modules should map clearly to events the users want to monitor.
- Divorce from the Metricbeat ev

[2017-10-23 22:43] andrewkroh opened #5423 "Unify the Auditbeat Event Schema"
In order to make it possible to correlate data produced by one module with data from another module we need to ensure that a common set of field names is used by all modules (e.g. common data like user ID should be called `uid` rather than `audit.kernel.uid` and `audit.file.uid`).

I'd like to review the field names and make changes where possible.

[2017-10-24 00:06] andrewkroh opened #5424 "[Auditbeat] New module for Process Monitoring"
Add a module that provides a simple way to monitor all process that are started on a system. It should produce enough info to reconstruct the process tree. It should also produce information about failed process executions (e.g. permission denied). The fields I have in mind are

- start_time
- end_time
- parent.pid
- parent.command
- pid
- exe
- cmdline
- uid
- gid
- return_code (only for failed e

[2017-10-24 05:48] nick-george opened #5425 "Beats to Logstash token/PSK based "authentication" of Beat traffic"
Hi,

I run logstash in a cloud environment and due to the fact I don't control our client's systems, cannot enforce the use of client certificates with beats. What would be great is if all Beats (not just filebeat) supported the use of a security token. Where if the token doesn't match (a value known to logstash), then the incoming data is dropped from Logstash.
It is currently possible to impleme

[2017-10-24 08:54] antonking commented on #3608
@exekias how do you do that? I've no idea what PR means to be honest.

[2017-10-24 11:18] exekias opened #5429 "`json.message_key` doesn't work"
It seems `message_key` is not honored, steps to reproduce it in filebeat:

1. Use this prospector:
[code]
2. `echo '{"log": "foo"}' > my.log`
3. `./filebeat -e -v -d 'publish'` shows:

[code]

Note `message` key is not present

[2017-10-24 11:30] exekias commented on #5429
Closing this as I misunderstood docs, next line processors in the line should apply to log, and that's happening.

[2017-10-24 11:30] #5429 closed

[2017-10-24 11:39] 2knarf commented on #4836
Any update on this? Having the same issue.

[2017-10-24 12:55] exekias commented on #5292
We are finally using github URLs instead of packer, so this can be closed with https://github.com/elastic/beats/pull/5407

[2017-10-24 17:23] tsullivan opened #5430 "Beats Monitoring Data fields not matching expected"
In looking at Beats 7.0.0-alpha1 snapshot monitoring data submitted to a monitoring API, there are some fields that are not as expected:

- `beats_stats.@timestamp`, should be `beats_stats.timestamp`, as in the mapping template for Beats monitoring data
- CPU utilization is not available. This seems to be a known issue, not sure if there is a bug already open on it
- transport_address is not avail

[2017-10-24 19:10] #5037 closed

[2017-10-24 20:31] exekias commented on #5178
This should be working already, we just have to update docs, please check https://github.com/elastic/beats/issues/4457

[2017-10-24 20:34] exekias commented on #4457
This is a duplicate of https://github.com/elastic/beats/issues/4268

[2017-10-24 20:34] #4457 closed

[2017-10-24 21:18] andrewkroh opened #5432 "Auditbeat GA"
This issue tracks the tasks required to move Auditbeat from a beta release to a GA release.

### Changes

- [x] Refactoring Auditbeat Modules Auditbeat enhancement #5422 #5675
- [x] Unify the Auditbeat Event Schema Auditbeat enhancement #5423
- [x] Add recursive watches to file integrity module Auditbeat enhancement #5421
  - [x] Use fsevents for macOS #5266
  - [x] fsnotify-backed recursive watch

[2017-10-24 21:50] kvch opened #5433 "Integer overflow in Beats metrics"
Version: 6.0.0-rc2
Operating System: Debian GNU/Linux 9
Beat: Filebeat

### Configuration
[code]
### Failure

After sending all events to Kafka:
[code]

The metric `libbeat.pipeline.events.active` is a negative number in logs. But according to the code in `libbeat/publisher/pipeline/monitoring.go` it is a 64 bit unsigned integer. So either it is not shown correctly by `logp` or it is overflown.
Se

[2017-10-25 00:11] tsullivan commented on #5430
Another issue: I'm looking at the metrics of events published, and wondering how to calculate the number of events published per second.

The events published data looks like it is an increasing number over the lifetime of the beat:

![image](https://user-images.githubusercontent.com/908371/31973962-ab8bc722-b8dd-11e7-8949-e63812876cec.png)

I was expecting the number to be a count of events that

[2017-10-25 05:54] onezero-jung opened #5435 "Restarting Filebeat, replay all data of a file"
I test filebeat and I can't understand how it work.
filebeat.yml
[code]
test input file
[code]
result output  : console output work well
[code]
registery file content: offset updating work well
[code]

But kill filebeat process and restart filebeat , print again all data of ./datalog/test.log
How to solve the problem?

[code]

[2017-10-25 12:46] tsg opened #5437 "Double `@timestamp` key when using the JSON decoder"
Initially reported on [discuss](https://discuss.elastic.co/t/6-0-0-rc1-json-overwrite-keys-not-working-with-timestamp/105189), the bug is about adding two `@timestamp` keys when using JSON decoding on a doc that has a valid `@timestamp` key in it.

* [x] Hot fix in the 6.0 branch #5436
* [x] Forward port to master #5444
* [x] Add integration tests on JSON decoding that check for double `@timestamp

[2017-10-25 13:19] #5389 closed

[2017-10-25 13:51] feiyuw commented on #4816
I met the same issue. I wrote a custom filebeat module to publish log to elasticsearch directly.
* Filebeat Version: 5.6.3
* OS version: CentOS 7.3
* Log:

[code]

The log is like "[2017-10-25T13:07:43.050Z][D]<detect> recv forwarding flag:c1,101.28.57.239:48910 flag:c1,101.28.57.239:48910 to 101.28.57.239:48910", and the ingest/pipeline.json is like below:

[code]

Thanks!

[2017-10-25 14:39] brandonmensing opened #5438 "Filebeat module for Logstash"
This is the meta issue for adding a new Filebeat module for collecting, parsing and visualising Logstash logs.

Somehow related: #5301 and #5302 which are the same, but for ES, K logs.

[2017-10-25 14:41] brandonmensing opened #5439 "Metricbeat module for Logstash"
This is the meta issue for adding a new Metricbeat module for collecting visualising Logstash metrics, similar to the ES and K modules we have today.

* [x] Add module skeleton https://github.com/elastic/beats/pull/5540
* [ ] Add the main relevant metrics
* [ ] Sync metric naming between Logstash Filebeat Module and Metricbeat Module
* [ ] Dashboard/(s)

[2017-10-25 14:59] urso commented on #5404
Thanks for testing. Can you share your redis config? Are you using a list or a channel?

[2017-10-25 15:04] friesoft opened #5440 "Filebeat 6.0.0-rc1: json.overwrite not working with @timestamp"
- Version: 6.0.0-rc1
- Operating System: Red Hat 7
- Steps to Reproduce:

Forwarding json messages from a log file to logstash using Filebeat does not set the @timestamp attribute correcty. The timestamps are already off on the Filebeat side (console output).
With 5.0.1 and 5.6.3 (latest GA) it is working, with 6.0.0-rc1 we get duplicate @timestamp fields.

Sample JSON to reproduce the issue:
`{ "

[2017-10-25 15:20] kvch commented on #5437
An issue for the initial bug is opened: https://github.com/elastic/beats/issues/5440

[2017-10-25 15:24] mib4fun commented on #1070
@popstas ! Its' working !

[2017-10-25 19:47] urso commented on #5404
I was able to reproduce the problem. It should be resolved with #5441. Thanks for testing.

[2017-10-25 19:47] #5404 closed

[2017-10-25 20:00] friesoft opened #5442 "Filebeat 6.0.0-rc1: logfiles are fully parsed on every start"
- Version: 6.0.0-rc1, 5.6.3 (latest GA)
- Operating System: Red Hat 7
- Steps to Reproduce:
Restarting Filebeat re-reads and parses the same log lines (json) every time. Can be seen easily with the console output of Filebeat. On first run it correctly outputs the parsed logline, on second, thirds, .... run it outputs it again.

Sample JSON to reproduce the issue:
`{ "@timestamp": "2017-10-17T10:03

[2017-10-25 20:39] trondhindenes commented on #3422
I'd love it if Beats followed the same model as Logstash and simply exposed a local metrics endpoint. We're struggling with writing robust monitoring for filebeat, as it's very much a "black box" when it comes to state. I'm not sure an Elasticsearch metrics integration would help all that much. Beats logfiles are not geared towards getting to the "current state" of the beat (eg. "is the beat able

[2017-10-25 22:32] tsg commented on #5440
This was fixed in #5436, with some followups in #5437. Many thanks for reporting this issue!

[2017-10-25 22:32] #5440 closed

[2017-10-25 22:33] tsg commented on #5442
The issue seems to happen when relative paths are used in the `paths` configuration. A workaround is to use absolute paths. I'm working on a fix and will open a PR shortly.

[2017-10-26 01:54] liketic commented on #5386
@andrewkroh Should we use `float` ? or `bigint`: https://golang.org/pkg/math/big/#NewInt ?

[2017-10-26 07:06] alextxm commented on #4673
Hi all,
i can confirm it still happens regurarly due to vsphere daibly backup activities: vsphere closes the connection, metricbeats starts logging "unable to connect" errors and after a while swiches to "not authenticated" ang get stuck in such condition even if vsphere is availlable again. The only way to get metricbeat collect data gain is to restart it.

[2017-10-26 09:01] #5282 closed

[2017-10-26 09:10] exekias commented on #3608
Sorry @antonking PR == Pull Request, I can assist in the process if needed :)

[2017-10-26 10:46] mingderwang commented on #4539
same error.

[2017-10-26 11:06] amandahla commented on #4673
Hi @alextxm . The fix was not merged yet. Still working.
https://github.com/elastic/beats/pull/4883

[2017-10-26 11:24] #5403 closed

[2017-10-26 12:17] vbohata opened #5448 "New setup framework in 6.0 is not so good for large deployments"
In 6.0 if I need to import winlogbeat's (or any other beat's) dashboard, templates I will have to use setup command for winlogbeat. This requires connection to kibana and to elasticsearch. Usually beats are connected to logstash, the logstash is connected to kafka ... so there is no direct connection (even from security point of view it is disallowed) from beats to elasticsearch. So I will have to

[2017-10-26 14:29] artemus717 opened #5450 "How to put custom json logs to filebeat and also keep source format"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

For confirmed bugs, please

[2017-10-26 14:37] simianhacker commented on #5275
@ruflin I don't think so... I get that error when searching in Discover as well.

[2017-10-26 14:51] monicasarbu opened #5451 "Add Dashboards for Metricbeat"
**Missing dashboards**

The following Metricbeat modules are missing a dashboard:
- [ ] aerospike
- [ ] ceph
- [ ] couchbase
- [ ] dropwizard
- [ ] elasticsearch
- [ ] etcd
- [ ] graphite?
- [x] haproxy #6934
- [ ] http?
- [ ] jolokia?
- [ ] kafka
- [ ] kibana
- [ ] memcached
- [x] nginx https://github.com/elastic/beats/pull/5991
- [ ] php_fpm
- [ ] postgresql
- [ ] prometheus?
- [ ] vsphere
- [ ]

[2017-10-26 15:04] simianhacker commented on #5275
@elastic/beats This is related to https://github.com/elastic/elasticsearch/pull/26541 which is going to be a problem for Metricbeat.

[2017-10-26 16:07] tsullivan commented on #5430
Another way I could calculate the number of events published per second is:

- get count at the start of the time window
- get the count at the end of the time window
- calculate the delta for the number of events published in the time window
- divide that by the number of seconds in the time window

This is actually how we calculate the index rate for the Elasticsearch indices today

[2017-10-26 17:18] PhaedrusTheGreek opened #5453 "Startup Errors not visible under Windows Service"
- Version: 5.5.2
- Operating System: Win2K12
- Steps to Reproduce:

1) Install Filebeat under windows and install as a service.
2) Make an indentation error in the config file.
3) Try starting under service manager, and there will be an error like

[code]

4) Try starting under power shell and you see something like this:

[code]

5) Try starting on the CLI, and you see the real error:

[code]

I

[2017-10-26 17:20] PhaedrusTheGreek commented on #4373
Any other issues circumstances might be due to this issue:  https://github.com/elastic/beats/issues/5453, where the reason for startup failure just isn't conveniently visible.

[2017-10-26 18:06] eherot commented on #1002
This issue may be obsolete at this point because the new Docker.app (at least on the mac) creates that machine by default.

[2017-10-26 18:43] ppf2 commented on #4665
Related: https://github.com/elastic/beats/issues/5451

[2017-10-26 19:33] eherot opened #5454 "Add a Make task for building the Docker image"
Specifically the image on the public docker hub (e.g. docker.elastic.co/beats/metricbeat:6.0.0-rc1)

Something basically like this:
[code]
so that I could then do
[code]
and then also add documentation about it to the [setting up your dev environment docs](https://www.elastic.co/guide/en/beats/devguide/current/beats-contributing.html#setting-up-dev-environment).

[2017-10-26 20:11] andrewkroh commented on #5450
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

Hint: https://www.elastic.co/guide/en/beats/filebeat/5.6/configuration-filebeat-options.html#config-json

[2017-10-26 20:11] #5450 closed

[2017-10-26 20:19] andrewkroh commented on #5453
I don't believe that the windows service manage does anything with stderr so we cannot provide an error message via that means. Two things some two mind and they are not mutually exclusive.

Advise users to use Beats to start the service through the Beat binary. We could add a sub-command like `winlogbeat install service` and `winlogbeat start service`. These could do error checking and then event

[2017-10-26 22:12] tsullivan commented on #5430
Closing this, to take it offline

[2017-10-26 22:12] #5430 closed

[2017-10-27 09:10] #4812 closed

[2017-10-27 11:54] tsg opened #5458 "Race condition on harvester limit"
The `test_prospector.py:Test.test_harvester_limit` test is flaky. The fail can be reproduced by running it in a while loop like this:

[code]

On my computer, this fails after 10 or 20 iterations.

Looking at the logs and [code](https://github.com/elastic/beats/blob/master/filebeat/prospector/log/prospector.go#L587-L618), it seems to be a race condition between checking `p.harvesters.Len()` and `p

[2017-10-27 12:21] exekias commented on #4673
I gave a try to #4883 without success :(

I have another idea, what about initializing a new client on every fetch? That would be moving https://github.com/elastic/beats/blob/master/metricbeat/module/vsphere/virtualmachine/virtualmachine.go#L58 to the `Fetch` method. Any opinion on this @amandahla ?

[2017-10-27 13:49] tsg opened #5463 "Adjust CSV version of the notice file"
We've already got `./dev-tools/generate_notice.py --csv`, which generates a CSV version of the NOTICE file. This ticket is about adjusting the output to match a common format that will be shared across the stack:

* name: dependency name
* version: dependency version
* revision: VCS commit hash. optional if the version is defined.
* url: dependency URL (website, github repository…)
* license: the

[2017-10-27 14:06] get2arun opened #5464 "Issue with Metricbeat - Displaying units( like MB, GB or %) for filesystem data"
Having running ELK with metricbeat in Redhat server. I have 2 ELK setup for test and prod. In one environment, seeing the units for filesystem used, total and pct fields. In the second environment, not seeing the units.
Also, I have open the discussion
https://discuss.elastic.co/t/metricbeat-filesystem-usage-setting-in-units/105572

I have installed below ELK stack.
elasticsearch-5.0.1-1.noarch
lo

[2017-10-27 15:21] WisdomPill commented on #5414
Doesn't work. I used another method to solve my issue.
Correct me if I'm wrong but as I see if you put the modules in the module/system folder filbeat updates the dashboards everytime it starts by default

[2017-10-27 15:35] sgelastic commented on #5178
Has anyone actually tested this, because we could not get it to work, which is why I opened this ticket.

[2017-10-27 16:52] akking opened #5465 "Feature request: add option to not check for truncated file"
We are tailing logs from Windows shares mounted on the our Linux box. I know it's not recommended but we can't do anything on the Windows boxes. We have issue related to "File was truncated. Begin reading file from offset 0" but we can guarantee it's not the case.
We tried many remedies but none of them works flawlessly. After deleting the [code](https://github.com/elastic/beats/blob/master/filebe

[2017-10-27 19:41] s12v opened #5467 "Add Amazon Elasticsearch support to Elasticsearch output"
We're trying to use filebeats to ship logs directly to our Elasticsearch running as a service in AWS.
AWS requires each request to be signed with security credentials.

Please have a look at PR https://github.com/elastic/beats/pull/5466

[2017-10-27 23:33] dedemorton opened #5468 "Update redis screen capture to include slowlog data"
The updated screen capture of the redis dashboard (filebeat/docs/images/kibana-redis.png) added [here](https://github.com/elastic/beats/pull/5456/files#diff-93e848a9e6f5fed863f72dc44e61ee1a) does not include slowlog data. It needs to be replaced with an updated screen capture that does.

[2017-10-28 04:44] liketic commented on #5463
I can take this.

[2017-10-28 14:36] christiangalsterer commented on #5354
Sorry it took a little bit longer to submit the PR. PR is available at #5469.

[2017-10-28 15:04] christiangalsterer opened #5470 "Support http status phrase in Metricbeat Http module"
Add support for HTTP status phrase in addition to HTTP status code using the same naming as in Packetbeat HTTP module

[2017-10-28 15:08] christiangalsterer commented on #5470
Add support for HTTP status phrase in addition to HTTP status code using the same naming as in Packetbeat HTTP module

[2017-10-28 16:12] vjsamuel opened #5471 "field keys with dots get nested"
Currently if i write a config file like:

[code]

The output would be:

[code]

The ideal output would be:
[code]
Dot keys in fields should be carried forward as is. Can we please have this?

[2017-10-30 09:46] exekias commented on #5448
I guess in your case a different instance of winlogbeat, with access to Kibana would be your loader, isn't it?

[2017-10-30 11:36] mostolog opened #5475 "Improvement for kafka metricbeat in docker swarm mode environments"
It seems https://discuss.elastic.co/t/kafka-module-metricbeat/68559/9 kafka metricbeat tries to match defined hosts with current kafka node advertised hostname, which is not compatible with how docker swarm mode works.

So, a configuration like this one:
[code]

Results in frequent log messages like:
[code]

[2017-10-30 12:00] tsg opened #5477 "6.x has different post-install script from 6.0"
It looks like in the 6.x branch we no longer have this [post-install script](https://github.com/elastic/beats/blob/6.0/dev-tools/packer/platforms/debian/run.sh.j2#L10-L12). Instead, I think FPM generates default post-install/pre-rm scripts that cause the apm-server 6.0 to behave slightly different from MB/FB 6.0. In particular, apm-server starts automatically when installed, while the Beats don't.

[2017-10-30 12:00] tsg commented on #5477
The change seems to have happened in https://github.com/elastic/beats/pull/5086

[2017-10-30 13:26] antonking commented on #3608
@exekias please do assist and if you need anything from me in the process, kindly let me know. Thx lots

[2017-10-30 20:51] andrewkroh commented on #5464
Please do not cross-post questions. We try to reserve Github for confirmed bugs and enhancement requests.

[2017-10-30 20:51] #5464 closed

[2017-10-30 22:15] Bargs commented on #5275
I just caught up on some discussion of this in Slack from last week. I just wanted to note that this will still affect users when they switch to kuery since the limit also applies to multi_match queries, which kuery uses under the hood.

[2017-10-30 22:18] simianhacker commented on #5275
So the fix we decided on last week is to force the admin to add a list of 1024 fields to the index setting `index.query.default_field`. Since we are administering the `metrcibeat-*` indices we will be responsible for changing our index template to include `index.query.default_field`.

[2017-10-30 22:27] Bargs commented on #5275
That won't work for kuery since `multi_match` doesn't use `default_field`. But if I understood the conversation, what you described is meant to be a simple fix for the short term, so that's probably fine.

[2017-10-30 22:32] simianhacker commented on #5275
@Bargs Yeah... that's going to be a problem for multi_match. What do you guys put in the fields array now just `*`? It would suck to ask the user to fill that in for each index pattern that has more the 1024 searchable fields.

[2017-10-30 22:54] Bargs commented on #5275
Yep, just `*`. I asked if the ES guys have any advice in the [other issue](https://github.com/elastic/elasticsearch/pull/26541#issuecomment-340608785).

[2017-10-31 08:56] liketic commented on #5470
Hi @exekias I wan to take this. Where should I get start from ? thanks!

[2017-10-31 09:00] exekias commented on #5470
Great! Have a look to https://github.com/elastic/beats/blob/master/metricbeat/module/http/json/json.go, events are built there from HTTP responses :) You will want to add status phrase from the HTTP Response object https://golang.org/src/net/http/response.go

Ping me if you need help :)

[2017-10-31 13:53] #5083 closed

[2017-10-31 13:53] #4391 closed

[2017-10-31 17:40] exekias commented on #5292
#5407 was merged

[2017-10-31 17:40] #5292 closed

[2017-11-01 10:55] pietervogelaar opened #5493 "Why doesn't Filebeat exclude_files work correctly?"
I have the following configuration:

[code]

But `gc.log` for example is still being picked up. Why is this configuration not working?

[2017-11-01 11:21] hogarthj opened #5494 "Metricbeat returns incorrect, or misleading, disk usage percentage on linux filesystems"
Details posted to discuss before filing the bug as required:

https://discuss.elastic.co/t/bug-incorrect-disk-usage-statistics/103207

For confirmed bugs, please report:
- Version: 5.6.0
- Operating System: RHEL 6.8.z
- Steps to Reproduce:
  * Check the values returned on a system in system.filesystem.used.pct
  * Compare to df on a target system
  * Observe the 5% difference (by default on ext4..

[2017-11-01 13:12] sly4 commented on #637
+1 for gzip support.  I have a pile of alerts.json.gz files I would like to re-run.

[2017-11-01 13:46] mrjameshamilton commented on #2968
We have the same problem. Filebeat (5.3.0) is keeping open deleted files. Even worse it's opening files that don't even match the pattern.

We have a pattern like "/logs/folder1/folder2/*.log" and it's opening "/logs/folder1/folder2/*.log.bak".

We also have some errors int the log, is this related?

`2017-09-05T13:42:55+02:00 ERR Failed to publish events caused by: read tcp 172.18.219.237:40918->

[2017-11-01 14:40] ph commented on #3982
I am starting to take a look at this issue.

[2017-11-01 15:17] tylersmalley commented on #3982
@ph, I almost have a PR ready for Kibana using AES 256 GCM. Let me know if you would like to chat.

[2017-11-01 18:17] #5468 closed

[2017-11-01 21:29] robbavey opened #5497 "Doc links broken in packaged version of README.md files"
The README.md file packaged inside beats distributions has broken links to the elastic documentation - the minor version of the documentation branch is being stripped out for 6.0 downloads - eg   `https://www.elastic.co/guide/en/beats/filebeat/6/filebeat-getting-started.html`.

For example, the README.md file from https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-6.0.0-rc2-darwin-x86_

[2017-11-02 11:00] jguay opened #5500 "Support \r as line separator"
- Version: 5.6.3
- Operating System: limitation reproduced on Mac and Linux
- Current behaviour :
Filebeat looks for \n or \r\n to split the lines (LF and CR+LF)
- Requested behaviour :
Ability to specify newline separator (similar to logstash file input separator) or native support for following separators (extract from https://en.wikipedia.org/wiki/Newline):

[code]

[2017-11-02 12:07] #5458 closed

[2017-11-02 12:17] #5378 closed

[2017-11-02 12:51] exekias opened #5501 "Remove POD_NAMESPACE setting from kubernetes manifests"
It's no longer needed since #5482 autodetects it, we can now remove POD_NAMESPACE env var, and `namespace` key under config: https://github.com/elastic/beats/blob/master/deploy/kubernetes/filebeat/filebeat-daemonset.yaml#L34

[2017-11-02 14:13] #5256 closed

[2017-11-02 16:17] mrjameshamilton commented on #2968
The open files of name *.log.bak are because they are renamed at some point. So that part is explained.

But we have the problem of the files being kept open (which then take up all the disk space).

[2017-11-02 16:28] andrewkroh commented on #5132
Some details on the permissions required to run Auditbeat in docker are here: https://github.com/elastic/beats-docker/issues/25#issuecomment-327838206

[2017-11-02 17:03] ph commented on #3982
@tylersmalley Awesome is there is a link to that code anywhere?

[2017-11-02 17:06] andrewkroh opened #5503 "ES URL with Trailing Slash Causes Exception"
Adding an slash to the end of the configured ES URL causes an exception in ES when the template is installed at startup. It looks like the Beat uses a URL with a double slash in it like `http://localhost:9200//_template/auditbeat-6.0.0-rc`. This double slash can be avoided during the construction of the URL within Beats.

For confirmed bugs, please report:
- Version: 6.0.0-rc2 tested with ES 5.4.1

[2017-11-02 20:08] tylersmalley commented on #3982
@ph Here is the WIP PR: https://github.com/elastic/kibana/pull/14714

[2017-11-02 20:23] rasroh commented on #5275
We hit the same issue as above while running the integration tests on master .
[code]
can we be notified when this is fixed?
cc / @LeeDr

[2017-11-02 21:51] brandonmensing opened #5504 "Filebeat module doesn't load ML jobs without --modules"
When using --modules= the Nginx module's Machine Learning jobs for X-Pack will load. However, users who prefer to use the enable/disable CLI commands should be able to take advantage of this functionality as well. Similarly, users who have enabled the module via the metricbeat.yml should be able to use this also? (I didn't test this method)

- Version: 6.0.0 rc2
- Operating System: MacOS
- Steps t

[2017-11-02 22:54] urso commented on #5471
This issue seems to be triggered by data being processed as config values, before being converted to actual data. The Usage of `.` has a special meaning in config files, in creating a sub-namespace. Hence the split on `.`.

The way `fields` is supposed to work (just copy content into final event) actually requires some yet unprocessed content, to be parsed/processed when the module is instantiated

[2017-11-02 23:23] tsg commented on #5433
We've discussed this in the meeting today and decided to go for a two phases solution:

* [ ] A hack for 6.0 that hardcodes a list gauges in the logging code
* [ ] A proper way of transmitting the type of a metric from where it is defined to the logging code, for 6.1

[2017-11-03 01:54] dedemorton opened #5506 "Topic about config loading should mention the modules.d directory"
The following topic should mention the modules.d directory and show it as the example:

https://www.elastic.co/guide/en/beats/metricbeat/6.0/metricbeat-configuration-reloading.html

If users change the settings for `metricbeat.config.modules`, then they won't be able to use the new subcommands for enabling and disabling modules in 6.0.

So we need a statement similar to what we say here for Filebe

[2017-11-03 08:23] vbohata commented on #5448
Theoretically if winlogbeat could be run under linux I could use it to load its own dashboards, templates into ES and make it automatically. Currently it seems the "setup" principle will be used more even in logstash so there should be more unified solution to handle it.

[2017-11-03 17:47] dedemorton opened #5510 "Add common module/plugin code patterns to the Beats Developer Guide"
See the pull request here: https://github.com/elastic/beats-dev/pull/255

[2017-11-03 18:18] brennentsmith commented on #637
+1 as well. Our use case is that our CDN provider (Edgecast) gzip's logs before shipping to us - as a result we have no way of receiving them raw. We could have a process that takes the gzipped objects, and decompress them to a second directory that filebeat watches, but that's frankly wasteful when were dealing with terabytes of logs.

[2017-11-03 20:56] dedemorton opened #5512 "Update metricbeat getting started to show how to use modules.d layout"
Metricbeat getting started should mention how to use the modules.d layout to enable and disable modules. Right now, it still tell users to update the metricbeat.yml file.

[2017-11-03 23:14] dedemorton commented on #3686
Resolved with https://github.com/elastic/beats/pull/4200

[2017-11-03 23:14] #3686 closed

[2017-11-04 00:04] dedemorton commented on #4189
Closed by #5513

[2017-11-04 00:04] #4189 closed

[2017-11-04 00:05] dedemorton commented on #4783
Closed by issue #5513

[2017-11-04 00:05] #4783 closed

[2017-11-04 13:43] qingweiqm opened #5514 "how to load the customized filebeat module in filebeat?"
hi, all

I have build a customized filebeat module by following the guide on https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-modules-devguide.html#filebeat-modules-devguide, after I setup all the files on fileset, how to using my own module in filebeat, just copy the directory to the filebeat directory which filebeat has been installed, then using it in filebeat.yml.
Am I understan

[2017-11-04 14:47] qingweiqm commented on #5514
or I need to build the beat from source with my own module fileset ?
can someone show me some doc if I need to go this way.
Many thanks!

[2017-11-05 22:39] ruflin commented on #637
@sly4 @jhnoor @brennentsmith The cases you mentioned should be easier to cover as there is no overlap between zip and unzipped files. Thanks for sharing the uses cases.

[2017-11-05 22:48] ruflin commented on #5293
@kurtado Agree, we should improve the error message here.

[2017-11-05 22:51] ruflin commented on #5422
Separation of data source from modules reminds me a lot of prospectors types and modules in Filebeat. Would be great to sync up on this one for Filebeat to make sure the configuration options are similar.

[2017-11-05 22:54] ruflin commented on #5423
WDYT of instead of using a global `uid` having `user.id`? Or could we put `uid` under `unix` namespace as uid is pretty unix typical: `unix.uid`. I kind of like `uid` as a name as it's very common but would prefer not to have it in the global namespace. `gid` would fit in the same bucket.

[2017-11-05 23:22] ruflin commented on #5435
Please use absolute paths for the prospector definitions. This should solve your issue. For questions in the future please use discuss as we like to keep Github for confirmed bugs: https://discuss.elastic.co/c/beats/filebeat Closing this issue.

[2017-11-05 23:22] #5435 closed

[2017-11-05 23:27] andrewkroh commented on #5423
I like the notion of group all the user related info under `user`. I think `user.id` would work. And on *nix this is the UID and on Windows this is the SID.

[2017-11-06 00:34] ruflin commented on #5451
@monicasarbu For the naming convention: I'm curious why the one used for Dashboards is different from the for Visualisations? First one starting with `[ ... ]`  and the other one ending with `[ ... ]` ?

[2017-11-06 00:54] ruflin commented on #5465
The above probably means the size reported by the shared file system is cached somehow and is not reported correctly as it's already outdated. It would be great if Filebeat would be able to not read from the cache. @andrewkroh I remember we discussed something like this in the past?

[2017-11-06 00:56] ruflin commented on #5465
@akking It would probably not be too hard to introduce a configuration option to disable it. But I would prefer not to have a config option and solve the problem in an other way as this does not solve the actual problem that Filebeat receives wrong information.

[2017-11-06 02:01] qingweiqm commented on #5514
I excute the make on the filebeat source directory, and then I got an filebeat binary file, should I just replace the filebeat on existing installed filebeat environment, and modify the filebeat.yml ?

[2017-11-06 02:52] ruflin commented on #5477
@tsg Anything I can help here with? Not sure what the status is.

[2017-11-06 03:29] ruflin commented on #2968
@mrjameshamilton Could you open a topic on discuss and share there your full config file?

[2017-11-06 04:12] ruflin commented on #2084
@Subtalime This change is only in the 6.x releases. For further questions please use discuss.

[2017-11-06 08:53] tsg commented on #5477
Initially I thought that you did the change when integrating APM, but turns out it wasn't you. So nothing for you to do.

[2017-11-06 09:00] monicasarbu commented on #5451
@acchen97 came with this proposal. I guess it's because for the dashboards is important first to see the module from where it belongs. In Kibana, the name of each visualization is restricted to the first few characters, so it's important for the user to see the description of the visualization and not the module from where it belongs.

[2017-11-06 11:02] maddin2016 commented on #5453
@andrewkroh, what do you think of to add functionality for beats to write logs to the Windows Event Log. For example a config `to_windowsLog` or whatever for `logp.go`. We could extend `winlogbeat` for `RegisterEventSource` and `ReportEvent` or put it into `logp` . With these 2 calls it is possible to write to an Event Log without to create a manifest or something else. Assuming we only write stri

[2017-11-06 13:06] #5504 closed

[2017-11-06 13:07] 9nativ opened #5519 "[libbeat] Support certificate revocation via OCSP in outputs"
We are using Filebeat (version 5.4.2) to ship our customer's logs to logstash servers and we are testing the process of server certificate revocation.

While beats is using the golang TLS stack, CLR/OCSP seems not to be available out of the box.

Can we ask to support the implementation for OCSP validation?

[2017-11-06 13:46] #5442 closed

[2017-11-06 17:29] christiangalsterer commented on #5354
Updated/new PR available at #5521

[2017-11-06 17:43] PhaedrusTheGreek opened #5522 "null value fields are dropped from JSON decoding"
- Filebeat 5.6.1 under OSX

Given a file like this:

[code]

With the following FB config:

[code]

The `test-null` field is dropped before being sent to ES:

[code]

While hoping to make use of Elasticsearch's [null_value](https://www.elastic.co/guide/en/elasticsearch/reference/current/null-value.html) mapping parameter.

[2017-11-06 19:33] jamiesmith opened #5524 "Packetbeat panic: Too many events acked"
A google search found a similar issue on discuss https://discuss.elastic.co/t/packetbeat-panic-too-many-events-acked/102055/2

- Version: packetbeat-6.0.0-rc2-darwin-x86_64
- Operating System: osx 10.13.1
- Steps to Reproduce: does it pretty much every time, some times right away, while other times a few minutes.  I have tried both logstash and elasticsearch outputs.

`sudo ./packetbeat -e -c pack

[2017-11-06 19:45] andrewkroh commented on #5522
It's probably not the JSON decoder. Beats drop null values as part of the output process.

[2017-11-06 21:05] jamiesmith commented on #5524
I was trying to re-create this with the debug on (`-d '*'`) but haven't been able to.  The frequency of it had died down also.

I ran two different ways - one was sending to logstash, the other to elasticsearch.  I saw a similar stack each time.

[packetbeat-es.yml.txt](https://github.com/elastic/beats/files/1447794/packetbeat-es.yml.txt)

[2017-11-07 01:03] andrewkroh opened #5527 "Add setuid and setgid fields to file integrity module"
It would be convenient for alerting and Kibana usage to send an explicit field for files that have their setuid or setgid bits set. I would only send the field when those bits are set. Something like `audit.file.setuid: true` and `audit.file.setgid: true`.

Since we only need this on POSIX platforms we can update the `fileinfo_posix.go` to set two new fields in the `Metadata` object.

https://gith

[2017-11-07 01:06] ruflin commented on #5514
For filebeat modules you don't need to rebuild it from source. As soon as it is in the right directory path you should be able to use it from the config file. I'm closing this issue as we would like to keep Github for confirmed bugs and enhancement requests. Please open a discuss topic here: https://discuss.elastic.co/c/beats/filebeat Can you also share there the config your are using trying to lo

[2017-11-07 01:06] #5514 closed

[2017-11-07 07:50] martinscholz83 opened #5528 "Write only once into log for services with no uptime"
Actually the new windows service metricset writes a logging entry for every fetch if the uptime for a service is not available. This can happens if metricbeat is not running with specific privileges. To avoid blow up the log, it would be a good idea to cache the services and log only once if the the uptime is not available.
[code]

[2017-11-07 13:02] ph commented on #5522
@andrewkroh The _null value mapping_ is an handy settings we could allow user to configure that behavior? @PhaedrusTheGreek an ingest pipeline could be a workaround for now, the downside is this might be more costly on space than _the null value mapping_? I don't know how this is implemented.

[2017-11-07 14:49] PhaedrusTheGreek commented on #5522
Yes, we could workaround in Logstash, but there is a lot of re-determination of information already present then lost from the original JSON document that would lead to inefficiencies in processing, space savings, maintenance/management, etc.     We might prefer to wait for a fix if it's foreseeable.

[2017-11-07 18:47] ph commented on #3982
# Password Keystore

We are currently defining our secrets directly in our configuration or on the command line (-E), we want to allow users to securely store the data on disk and be able to reference it in either the configuration file or the command line.

Lets take the example or the current credentials definition:

[code]

We would turn this definition into something like this:

[code]

After

[2017-11-07 18:53] ph commented on #3982
forgot to ping you on this @joshbressers ^

[2017-11-07 19:26] joshbressers commented on #3982
This looks good to me. To answer your question, I wouldn't worry about restricting access to keystores. If admins want this functionality they should be running separate processes with different permissions.

[2017-11-07 19:33] andrewkroh opened #5533 "Debug selector logged twice in Auditbeat modules"
Debug log statements from Auditbeat include the selector name twice. The debug statements (and only the debug statements) should no longer include `logPrefix` because it is automatically added (see #5380) by `logp` for all `logp.Debug()` calls.

`2017-11-07T18:46:08Z DBG  [audit.file] [audit.file] Received fsnotify event: path=/etc/ld.so.cache action=CREATE`

https://github.com/elastic/beats/blob/

[2017-11-07 19:40] andrewkroh opened #5534 "fsnotify (inotify) file names with trailing hex value"
On Linux the file integrity module is logging events with path names that have a trailing hexidecimal value that is separated from the path name by a semicolon (e.g. `/usr/bin/jq;5a01ff70`). We should remove this value from the path and ideally figure out what it means.

For confirmed bugs, please report:
- Version: 6.0
- Operating System: Linux
- Steps to Reproduce:
1. Enable monitoring of `/usr/

[2017-11-07 20:06] ph commented on #3982
@tsg @urso  Concerning the syntax in the configuration file, I've made a conscious choice to use `%` instead of `$`, to make sure we can distinct the **keystore** values vs the [environment variables](https://www.elastic.co/guide/en/beats/filebeat/6.x/using-environ-vars.html)

We could also normalize the syntax for 7.X to allow user to define environment variable using the following syntax:

[code

[2017-11-07 20:20] brandonmensing commented on #4540
@dedemorton Can we add a link to the ES doc regarding removal of _types?
From here: https://www.elastic.co/guide/en/beats/libbeat/6.0/breaking-changes-6.0.html#breaking-changes-types
To here:
https://www.elastic.co/guide/en/elasticsearch/reference/6.0/removal-of-types.html

[2017-11-07 20:23] tylersmalley commented on #3982
Is there a reason for requiring the YAML file to reference values from the keystore? In Elasticsearch, adding a setting can either be persisted either in the `elasticsearch.yml` or the Keystore. I want to make sure we don't diverge too much from app-to-app.

[2017-11-07 20:24] dedemorton commented on #4540
@brandonmensing Yup will do. Your timing is good because I'm must now making some remaining doc updates related to removal of _types.

[2017-11-07 23:34] alepuccetti opened #5538 "Add option to import specific dashboards"
Running `scripts/import_dashboards` imports all the available visualization, dashboard, and search. It would be useful to be able to specify which dashboard the user wants to import because not everyone uses all the dashboards but often only a subset.

[2017-11-08 00:27] ph commented on #3982
@tylersmalley You are right, the integration diverge from ES and your implementation, I need to give it some thoughts. We could certainly do the same things, I am a little worried about the flexibility in our context.

This doesn't change the underlying structure to keep the secret only the integration in our products.

[2017-11-08 00:33] ph commented on #3982
@tylersmalley after looking at the code we can do it the same way, it will be similar to our current behavior on `-E`, we can always add the parsing of theses _template tag_ later.

[2017-11-08 02:18] joshbressers commented on #3982
I sort of like the template tag idea. I'd love to see the ability to also grab secrets from vault or some other system in the future for example.

[2017-11-08 08:28] alextxm commented on #4673
Hi all,
i understand this is still a WIP but is there any change to get a fix in time for 6.0-GA ? It would be really nice !
Thank you

[2017-11-08 09:06] tsg commented on #3982
I'm +1 on starting with overrides like ES and KB first, and then also add support for template tags.

What I like about overrrides is that we don't need to change anything in the current configuration and the following will work (pseudo-code):

[code]

And with the above we require no configuration edits, and we leak no passwords in the `ps` output or the shell history.

[2017-11-08 10:48] urso commented on #3982
Merging some 'encrypted' settings into the config should be quite easy to implement.

Reason for referencing credentials with variables could be us wanting some external 'vault/store/service' + allowing users to configure potentially multiple 'vaults'.

This discussion is clearly about storing secret data local to the beat. In the end, we might have both.  The  local store being basically encrypte

[2017-11-08 13:46] ph commented on #3982
Just one more thing, I would expect we have this priority in the merge, if we redefine keys.

1. yaml
2. keystore
3. -E (cli override)

the last one is necessary for quick debug.

[2017-11-08 14:52] ph commented on #3982
following this discussion I have update my [original comment](https://github.com/elastic/beats/issues/3982#issuecomment-342582320)

[2017-11-08 16:47] amandahla commented on #4673
@exekias I'll try that and see if logout like it's used [here](url) really works fine.

[2017-11-08 18:07] amandahla commented on #4673
Still using the PR [#4883]

[2017-11-08 23:30] #5470 closed

[2017-11-08 23:35] #5524 closed

[2017-11-09 04:33] #5503 closed

[2017-11-09 11:27] ZhiqinYang opened #5546 "close_renamed is no effect in dockers with log archive"
In extreme conditions ， inode not release and disk use up !
I'am run docker with follow comand:
/usr/bin/dockerd  --graph=/var/lib/docker --log-opt max-size=1024m --log-opt max-file=2
i products log 5w/s , and when docker acrchive log i found that the inode not release

[2017-11-09 11:31] ZhiqinYang opened #5547 "suggestion on optimization"
func (s *State) IsEqual(c *State) bool {
     // return s.ID() == c.ID()
      return (s.FileStateOS.Inode == c.FileStateOS.Inode && s.FileStateOS.Device == c.FileStateOS.Device)
  }
s.Id not init at begin lead to every time need to excute s.FileStateOS.String()

[2017-11-09 12:01] joelstewart commented on #5211
I am unable to get the HAProxy to work with 1.7 (via marathon-lb docker).

for marathon-lb, I provide a head template snippet to make sure tcp stats are enabled:
`listen tcpstats
  bind 0.0.0.0:9090
  stats enable
listen httpstats
  bind 0.0.0.0:9092
  balance
  mode http
  stats enable
  monitor-uri /_haproxy_health_check
`
And I configure the modules.d/haproxy
`- module: haproxy
  metricsets: ["

[2017-11-09 14:09] #4974 closed

[2017-11-09 17:50] talevy commented on #3898
@tsg the modification to allow templating of `timezone` and `locale` parameters has been merged and will be available in 6.1

[2017-11-09 22:55] ppf2 opened #5548 "Packetbeat: Parse and add database/table name to exported fields"
Packetbeat currently produces the query as part of exported fields, it can be useful if there is some way for packetbeat to parse out the table name(s) as well as the database name being queried as part of the mysql exported fields so it is easy for users to filter/agg against.

[2017-11-09 23:47] ruflin commented on #5546
Can you please open a topic on discuss with this? https://discuss.elastic.co/c/beats/filebeat We try to keep Github for confirmed bugs and feature enhancmenents.

Please share on discuss your config, filebeat version and logs of filebeat if possible. Best put it into a gist. Also some more details about your setup would be useful.

[2017-11-09 23:47] #5546 closed

[2017-11-09 23:50] ruflin commented on #5547
Can you share some more details here?  The current code checks if the id is already set. If yet it directly returns. So `String` is only called once.

[code]

[2017-11-10 00:06] ruflin commented on #5211
@joelstewart Thanks for the detailed investigation. I'm not an expert on HAProxy and din't know we could also get the metrics though http. Perhaps @hartfordfive can share some more thoughts here?

Could you share the links to docs you found about the socket changes and the http endpoints? I struggle a bit to find the right pages, probably I just use the wrong Google queries :-(

[2017-11-10 04:01] ruflin opened #5550 "Generator tests have issues on Jenkins but are not read"
Even though the generator tests pass on Jenkins, there are issues inside the test: https://beats-ci.elastic.co/job/elastic+beats+master+multijob-generators/61/console

* `govendor` seems to be missing
* Code differers from what it should be
* Tests are green but should be red

It needs to be investigated why this is the case.

[2017-11-10 08:11] amansmridhi opened #5551 "Filebeat is not able to parse json from files where \n separated json lines (events) are written. It sometimes misses the records"
I am using BELK stack for Log Analytics.
------------------------------------------------------------------------------------------------
versions:
ES-5.1.1 is on  AWS  service
Logstash-5.3.0, filebeat-5.3.0 and kibana-5.1.1
------------------------------------------------------------------------------------------------
filebeat is running on the server where cdrs are generated.
Logstash is runnin

[2017-11-10 17:33] brandonmensing opened #5555 "Metricbeat system - More disk metrics"
Enhancement to add more metrics to the system module in Metricbeat for disks:

- Disk queue
- Number of pending read/write requests

[2017-11-10 17:57] joelstewart commented on #5211
links to 1.6 and 1.7 docs.  shows new section for "tcp commands (section 9.2 is new)"

https://cbonte.github.io/haproxy-dconv/1.6/management.html#9
https://cbonte.github.io/haproxy-dconv/1.7/management.html#9

Note also section 9.1 has the list of CSV, and I believe that it should be backward compatible as it only appends new fields to the format.

When enabling http mode on "listen stats" port, t

[2017-11-11 05:06] ZhiqinYang commented on #5547
@ruflin
327 func (h *Harvester) sendEvent(data *util.Data) bool {
  328     if h.source.HasState() {
  329         h.states.Update(data.GetState())
  330     }
  331     err := h.forwarder.Send(data)
  332     return err == nil
  333 }
data.GetState() is value copy  , s.Id no init , each time would do s.Id = s.FileStateOS.String()

[2017-11-11 05:24] ZhiqinYang commented on #5546
@ruflin
thank you! I made a topic https://discuss.elastic.co/t/filebeat-not-release-inode/107265, could you help me!

[2017-11-11 08:37] ZhiqinYang opened #5556 "Filebeat only checks for closed or renamed files when reaching EOF"
https://github.com/elastic/beats/blob/master/filebeat/prospector/log/log.go#line49
[code]
why  f.errorChecks method not follow  n, err := f.fs.Read(buf) ？ if file is ready and name is changed or remove how it know the action?   because  err == nil you return it back .

why not do as follow:
n, err := f.fs.Read(buf)
err = f.errorChecks(err)

[2017-11-12 02:07] jstangroome opened #5557 "Example Kubernetes Filebeat configuration should consider log re-shipping"
The Filebeat DaemonSet uses an `emptyDir` volume as the backing storage for `/usr/share/filebeat/data`:
https://github.com/elastic/beats/blob/8ae5b4be36462d3c8dfd97c4f900ff2964b71352/deploy/kubernetes/filebeat/filebeat-daemonset.yaml#L75-L76

If the running Filebeat DaemonSet Pod is re-created by Kubernetes due to a Pod failure or because the DaemonSet is updated to refer to a new point release of

[2017-11-12 06:32] andrewkroh commented on #5555
In master we have some new metrics that are similar to what iostat provides. See https://github.com/elastic/beats/pull/4648/files. Are these the metrics you want?

[2017-11-12 22:16] ruflin commented on #5551
@amansmridhi Could you please open a topic for this on discuss? https://discuss.elastic.co/c/beats/filebeat We try to keep Github for feature requests and confirmed bugs. Please make sure to paste configs and logs as code on discuss or link them from a gist to make them readable.

[2017-11-12 22:16] #5551 closed

[2017-11-13 02:24] ruflin commented on #5547
The above code would make it work only for Linux and not Windows. Did you hit any performance issues with the current code? Happy to do such a change if needed but we should add some benchmarks to it then to compare it.

[2017-11-13 02:30] ruflin commented on #5556
If you have a look at `checkError` you will see that it creates some new errors in certain cases and set other errors to `nil`. So I think the above is correct as it is.

Perhaps you can share some more background on the issue you see and what you worried about?

Please also open an issue for that on discuss so we can move to Github in case we can confirm it's a bug or a feature request. Closing t

[2017-11-13 03:12] xizhimen commented on #5357
I have the same needs

[2017-11-13 03:19] ZhiqinYang commented on #5556
sorry I mean if a filename changed it could not know in time， because the file in reading and not reach eof!

[2017-11-13 08:59] robin13 commented on #5555
Yes!  Thank you. :)

[2017-11-13 08:59] #5555 closed

[2017-11-13 09:26] exekias commented on #5557
Thank you for your feedback!, I agree, we need persistent storage for the registry. `hostPath` sounds good to me, we will need to figure out a safe path for it.

[2017-11-13 11:51] tsg opened #5562 "Empty Kibana vis in the heartbeat dashboard"
Here is a screenshot:

![heartbeat http monitoring - kibana 2017-11-10 13-58-28](https://user-images.githubusercontent.com/101817/32724348-37bfbb66-c871-11e7-9839-a1914ac4c8c2.png)

It seems to be due to an extra space in the Kibana definition: `monitor.status: down` instead of `monitor.status:down`.

We didn't have the space in the 5.x version of the dashboards, so this seems to be a regression o

[2017-11-13 17:28] exekias opened #5566 "Clarify documentation about indexers and matchers"
We could clarify `add_kubernetes_metadata` indexers and matchers functionality: https://www.elastic.co/guide/en/beats/filebeat/6.0/add-kubernetes-metadata.html

Indexers extract pod metadata from kubernetes events and store it in a map in memory
Matchers process beat events and enrich them with metadata from the in-memory map

We should try to avoid indexing related words to avoid confusion with E

[2017-11-13 19:05] ph commented on #5522
From @urso
https://github.com/elastic/beats/blob/master/libbeat/common/event.go#L53-L59

[2017-11-13 21:30] jstangroome commented on #5557
@exekias a safe path for cluster environments may be difficult. I would have initially suggested using the same hostPath as the path used inside the Filebeat Docker image but I know that won't work on at least two Kubernetes platforms:

* [minikube](https://github.com/kubernetes/minikube/blob/master/docs/persistent_volumes.md) dedicates `/data/` on the host for persistent data.
* Google Container

[2017-11-13 22:13] kwojcicki opened #5568 "Metricbeat docker diskio module bug"
- Version:
Any with docker diskio module
- Operating System:
Any
- Steps to Reproduce:
Start 2+ containers check the docker diskio statistics pushed. The stats will always be 0 due to a bug in the code.

There is a bug in /metricbeat/module/docker/diskio/help.go that resets the map of containers if a old stats for a container arent found.

[code]

If there are 2+ containers then the map will be re

[2017-11-13 23:06] andrewkroh commented on #5568
@kwojcicki Thanks for reporting. Please open a PR for this. I recommend starting with a PR for master and we can backport it from there.

[2017-11-13 23:25] kwojcicki commented on #5568
Sounds good. I was having some issues pushing to the elastic beats, git was complaining about some 403 error? Probably not the best place to ask this but if you have had any experience with dealing with that issue would be helpful 😄

[2017-11-13 23:28] andrewkroh commented on #5568
You'll need to create a [fork](https://help.github.com/articles/fork-a-repo/), push the changes to your fork, then open a PR from your fork to this repo.

[2017-11-14 00:53] ruflin commented on #5556
Knowing about the renaming of files is "best effort". File are harvester by file handler and not based on the file name. So if a file name changes it's not required for filebeat to know about it immidiately as the file handler stays the same.

Can you share some more on your use case and where the above is a problem?

[2017-11-14 00:59] jstangroome commented on #4027
The documentation for the Kubernetes processor currently doesn't show any examples or explanation of how to use the `exclude_labels`, `include_labels`, or `include_annotations` configuration settings added by PRs #4043 and #4757.

* Config settings here: https://github.com/elastic/beats/blob/master/libbeat/processors/add_kubernetes_metadata/config.go#L22-L24
* Likely documentation location: https:

[2017-11-14 02:42] ruflin opened #5571 "Failing perfmon test"
The following test failed on Jenkins today: `perfmon.TestWildcardQuery`. See https://beats-ci.elastic.co/job/elastic+beats+pull-request+multijob-windows/2022/beat=metricbeat,label=windows/testReport/junit/(root)/perfmon/TestWildcardQuery/ One of the reasons could be that this is a fresh windows installation and all follow up builds will pass (just an assumption). I opened a Github issue for it to

[2017-11-14 07:39] ZhiqinYang commented on #5556
@ruflin
I run docker daemon with this --log-opt max-size=1024m --log-opt max-file=2,  an application produce logs with 10w/s when  the log files is removed or name changed by docker, but filebeat remain read it and the inode not released!

[2017-11-14 07:57] maddin2016 commented on #5571
@ruflin, thanks for track this issue. From the description of this counter

So maybe it's not a good idea to check if one of the instances is not `0`. Maybe we just should check if the key `processor.time.pct` for `_Total` instance is present.
[code]

[2017-11-14 09:32] Howard-Chang opened #5576 "Packetbeat can't show Client locations"
I installed Packetbeat, but the Client locations didn't show anything only the map.
![image](https://user-images.githubusercontent.com/19474557/32772718-b69afe28-c961-11e7-8192-c26edea0ebfb.png)

thank you in advance.

[2017-11-14 14:08] exekias commented on #5557
Yes, I think we cannot do this change without a safe path that will work for any deploy. In the mid-term we may have external storage backends for filebeat data `registry`, but until then, we can either:

 * Find a safe path that works everywhere
 * Update docs to explain how to use `hostPath` to store filebeat data

[2017-11-14 14:12] exekias commented on #3965
Documentation to deploy kubernetes was added, I think we can close this

[2017-11-14 14:12] #3965 closed

[2017-11-14 16:22] #5533 closed

[2017-11-14 16:42] brandonmensing commented on #4540
@dedemorton Reminder comment for the types link :)

[2017-11-14 17:38] andrewkroh opened #5584 "Packetbeat TLS: Missing client info in some events"
In some events the client info is missing (looks like all the IP layer info is missing too). Here's a sample event:

[code]

I'm also seeing warnings and errors in the log that could be related.

I have a PCAP captured with `--dump` from when this occurred.

[2017-11-14 17:41] dedemorton opened #5585 "CI test should check for doc links that point to current"
Links to documentation should never be coded to point to a the current branch because those links sometimes break when we switch versions for a new release (causing a lot of last-minute thrashing to clean up the broken links before we can publish the docs).

We can avoid this problem in some instances by testing for links that point to the `current` docs. The build for a PR should fail if the docs

[2017-11-14 17:52] dedemorton commented on #5585
Talking to Clint et al about adding the check to the doc build itself. But maybe we would still want it as a check on the PR...because it avoids a broken build. I think it's worth having.

[2017-11-14 18:07] andrewkroh opened #5587 "Packetbeat TLS: client/server_hello.timestamp validity"
We should double check the code for parsing and converting these values. Based on various [IETF](https://www.ietf.org/mail-archive/web/tls/current/msg09861.html) discussions it sounds like the field may not be actually populated with the date. There's also this draft: https://tools.ietf.org/id/draft-mathewson-no-gmtunixtime-00.txt At a minimum we should add something to the documentation of these

[2017-11-14 18:11] andrewkroh commented on #5587
Looks like the parsing and conversion is good. 👍

So we I think we just need to enhance the documentation around these fields.

[2017-11-14 18:16] andrewkroh opened #5589 "Packetbeat TLS: Populate server field to SNI"
The [server](https://www.elastic.co/guide/en/beats/packetbeat/current/exported-fields-common.html#_server) field could be populated with the `tls.client_hello.extensions.server_name_indication` value when available.

I think this would be consistent with the usage of the `server` field in other protos. (Double check this assertion.)

[2017-11-14 19:43] ph commented on #3982
@jaymode @joshbressers @tylersmalley

I've looked at the kibana implementation, it's doesn't seem to save anything in the PKCS12 format, PKCS12 format support writing in golang seems a [bit hairy](https://github.com/golang/go/issues/14125) even reading is problematic in some case.

The kibana implementation seems to have gone to write their own format to disk, I don't the discussion anywhere?

I h

[2017-11-14 23:20] ruflin commented on #5557
We should definitively start with option 2 in the list and also explain a bit the problem on why there is no default path (at the moment).

[2017-11-15 00:41] ruflin commented on #5211
@joelstewart Thanks a lot for all the links and notes. This is super helpful. I need to have a deeper look at all this when I find the time to figure out what our future approach here should be.

[2017-11-15 01:47] ruflin commented on #5556
If you want to stop reading the file when it's removed / renamed, you should use `close_renamed` and `close_removed`. There is a small delay which I think from my perspective is acceptable.

[2017-11-15 02:02] ruflin commented on #5576
Hi @Howard-Chang

Please open an issue on discuss with your question: https://discuss.elastic.co/c/beats/packetbeat We try to keep Github for bugs and feature requests.

On discuss please share your config, packetbeat version, more details on your setup and packetbeat log files.

[2017-11-15 02:02] #5576 closed

[2017-11-15 05:59] ZhiqinYang commented on #5556
I did this, but I found it execute in errorChecks if a file is so big that not read the end ! how can I give up it?

[2017-11-15 11:20] #5562 closed

[2017-11-15 14:38] urso opened #5599 "Heartbeat monitor SSL settings docs"
The SSL settings on monitors do not point to the general SSL/TLS settings as available for outputs. That is, not all available SSL settings are available from docs.

See: https://discuss.elastic.co/t/client-certificate/107617

[2017-11-15 14:39] plinde opened #5600 "Module/metricset for Metricbeat: RAID Metrics"
Enhancement to Metricbeat for collecting RAID-related metrics; specifically for the equivalents of these commands:
- `cat /proc/mdstat`
- `mdadm`

[2017-11-15 14:40] exekias commented on #5599
Related to https://github.com/elastic/beats/issues/4268, I guess it should be documented in a common place?

[2017-11-15 17:42] andrewkroh opened #5601 "Add service trigger info to Windows Service metricset"
It would be useful to know if a Windows service with an Automatic startup type is started by a trigger. This would allow a user to more accurately alert when a service is stopped but it is supposed be started automatically. The reason you need to know about triggers is so you can ignore stopped services that can started by a trigger at a later time.

In services.msc it displays "Automatic (Trigger

[2017-11-15 19:51] joelstewart commented on #5568
will this be merged into a 5.x release?

[2017-11-16 01:40] kwojcicki commented on #5568
Once PR 5582 closes I can look into making a PR for 5.5 or 5.6 shouldnt require any extra effort to back port.

[2017-11-16 02:34] ruflin commented on #5585
@dedemorton I'm curious how they will implement it. Perhaps we can then just reuse the code.

[2017-11-16 04:34] ruflin commented on #5600
Here an example content of `/proc/mdstat` from a machine with 2 disks and raid1:

[code]

@andrewkroh We should probably add support for this in gosigar? https://github.com/elastic/gosigar

[2017-11-16 09:03] ggg-geyi opened #5608 "Packetbeat:mysql readLinteger funciton get wrong offset (bug)"
I'm using packetbeat to monitor MySQL database, and found that packetbeat do not support mysql_stmt_prepare and mysql_stmt_execute command, and too many SQL querys can not be extracted because of using prepare statement.Is there a plan to support these command type?

Also i found a little bug in mysql.go when call readLinteger function.See the picture below:
![image](https://user-images.githubuser

[2017-11-16 09:05] ggg-geyi commented on #5608
By the way，i am doing the job to support prepare statement command

[2017-11-16 10:03] maddin2016 commented on #5601
We get this from [QueryConfig2](https://msdn.microsoft.com/de-de/library/windows/desktop/ms684935(v=vs.85).aspx). We could add a new helper function `getOptionalInfo`. There we check for `SERVICE_CONFIG_TRIGGER_INFO` and then maybe override the start type if the service has a trigger configured.

[2017-11-16 10:10] maddin2016 commented on #5601
BTW we should do the same for `Automatic (Delayd Start)`.

[2017-11-16 11:36] borbelyau opened #5609 "Error Filebeat (doesnt send logs)"
Hey Guys,
I need help...
Server: Centos7
Program: Filebeats (newest version)
Installed programs: Rsyslog, and Filebeat

I dont know how the filebeat doesnt open the door 5044 to send to my other server with elk stack...
I need to install logstash in this server? or just send to another server that have logstash ?

The configuration file of filebeat is here
[code]

Tks

[2017-11-16 14:02] andrewkroh commented on #5600
@ruflin There's support for this in procfs so we should use that. https://github.com/elastic/procfs/blob/master/mdstat.go

The question I'm pondering is where do we add this. linux/mdstat, system/mdstat, or a maybe more general system/raid?

[2017-11-16 14:13] andrewkroh commented on #5609
If you are trying to use logstash then you need to fully comment out the elasticsearch output.

Change
[code]
to
[code]

[2017-11-16 14:13] andrewkroh commented on #5609
And please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

[2017-11-16 14:13] #5609 closed

[2017-11-16 14:37] maddin2016 commented on #5601
@andrewkroh, are working on this? Otherwise i can open PR.

[2017-11-16 14:40] andrewkroh commented on #5601
That would be great! I'm not working on it. I was just playing with the metricset and trying to envision some different use cases for it.

[2017-11-16 15:25] maddin2016 commented on #5601
What would you choose. `Automatic_Triggered` or `Automatic (Triggered)`

[2017-11-16 15:26] andrewkroh commented on #5601
I like `Automatic (Triggered)`.

[2017-11-16 15:28] maddin2016 commented on #5601
My favorite too :+1:

[2017-11-16 17:07] andrewkroh opened #5611 "Console color output doesn't work on Windows"
The color output used by the test commands in 6.0 doesn't render correctly in Windows.

<img width="815" alt="powershell-color" src="https://user-images.githubusercontent.com/4565752/32905007-bc83b418-cac6-11e7-8a3b-8aedd738b2e9.png">

For confirmed bugs, please report:
- Version: 6.0
- Operating System: Windows
- Steps to Reproduce: `.\beat.exe test output`

[2017-11-16 17:13] andrewkroh commented on #5611
With a fix in place the color should work in Powershell and cmd.exe.
<img width="652" alt="wrapped-with-colorable" src="https://user-images.githubusercontent.com/4565752/32905280-7ac93a2e-cac7-11e7-81ff-3ac35c922dcd.png">

[2017-11-16 18:34] dedemorton commented on #5599
There are some links, but maybe it's not obvious that the links point to info about additional settings. Also the topic "Specify SSL settings" should show an example of setting ssl options on monitors.

[2017-11-16 20:31] dedemorton opened #5613 "Docs about loading the dashboards needs to mention that ES output is required"
The Filebeat getting started guide needs to indicate that the ES output config is required for loading the index template and dashboards.

[2017-11-16 21:00] andrewkroh opened #5614 "Document change to LS index setting in Breaking Changes"
Users that send data from Beats to LS need to update their LS configuration to specify a new index name that includes the Beat version. Previously we recommended

[code]

And in 6.0 we updated to:

[code]

The index templates we supply all apply to `[beat]-[version]-*` so if you don't update LS the template won't be applied.

[2017-11-16 21:16] andrewkroh opened #5615 "Docs to manually loading template in 6.0"
The documentation for manually loading index templates only works if you are using the ES output. The users that most commonly need to manually load the index templates are users of non-ES outputs.

To accomplish this task you need to disable the Logstash output and manually enable ES on the CLI.

[code]

Alternatively you can export the template to a file and use `curl` or `Invoke-RestMethod`. Th

[2017-11-16 22:01] andrewkroh opened #5617 "Feature: Generate bash autocomplete for subcommands"
I'd ~like~ love to have a way to generate an bash or zsh autocomplete file for the beat's sub-commands.

Maybe we could install this for all users with our .deb and .rpm packages too.

[2017-11-16 22:32] dedemorton commented on #5615
Also need to modify docs about dashboard loading when LS output is enabled.

[2017-11-16 22:33] dedemorton commented on #5613
Closed in favor of https://github.com/elastic/beats/issues/5615.

[2017-11-16 22:33] #5613 closed

[2017-11-16 22:33] monicasarbu commented on #581
Thank you, everyone, for the input. I am closing this issue because leaving it open was interpreted as a sign that we plan to implement a RabbitMQ output. Our position didn't change, but I'd like to clarify it.

Currently, we are not planning to add support for other outputs in Beats. We support Elasticsearch, Logstash, Redis and Kafka and we spend a considerable amount of time maintaining and sup

[2017-11-16 22:33] #581 closed

[2017-11-16 22:57] ruflin commented on #5600
My thought process here:

* Raid is something generic that exists on all (?) OS
* Information on Windows should be similar (never created a Raid on Windows)

This kind of leads to `system/raid`. One issue I have with `raid` is that `raid` could be perhaps `mdstats + ?`, meaning is there more information under `/proc` we should add to raid?

`raid` also seems to be the most user friendly one. I wou

[2017-11-16 23:07] #5611 closed

[2017-11-17 00:44] #5463 closed

[2017-11-17 01:20] ppf2 opened #5621 "Add safeguard related statements for backoff parameters"
It can be helpful to also put the same warning for not setting `backoff` to anything < 1s, similar to what we have in scan_frequency (https://www.elastic.co/guide/en/beats/filebeat/5.6/configuration-filebeat-options.html#scan-frequency).

Currently, it simply states in the max_backoff section that `max_backoff` should be <= `scan_frequency`.  So perhaps we can then change this statement (https://w

[2017-11-17 02:46] ZhiqinYang commented on #5547
I used it in Linux. and you ignored that in Harvester the stats in source id is "", data.GetState() is only value copy, id always is "", so each time would execute  follow:
     s.Id = s.FileStateOS.String()

[2017-11-17 03:17] ruflin commented on #5571
Closing as https://github.com/elastic/beats/pull/5607 was merged. @maddin2016 Thanks.

[2017-11-17 03:17] #5571 closed

[2017-11-17 03:39] dedemorton commented on #4627
Fixed in all modules that shipped for 6.0. See https://github.com/elastic/beats/pull/5341

[2017-11-17 03:39] #4627 closed

[2017-11-17 09:17] maddin2016 commented on #5601
There also services that are automatic delayed and triggered

![image](https://user-images.githubusercontent.com/19551763/32939580-454abfa8-cb80-11e7-97d6-a4b5bc2e8acc.png)

For them i would prefer `Automatic (Triggered, Delayed)`

[2017-11-17 10:40] exekias commented on #5617
We already have this implemented for bash in all beats, just run: `<beat> completion bash`, that subcommand is hidden as it's not minded for end users but packaging.

We still have to add zsh support and make use of this from the packaging

[2017-11-17 11:20] exekias opened #5630 "Add support for CRI logs format"
Container Runtime Interface (CRI) initiative standardizes an API for container implementations. It defines its own format for logs, compatible with Docker `json-file`, but with an alternative implementation (no JSON).

We should update our [Docker prospector](https://github.com/elastic/beats/pull/5402) to support that format, probably we can do autodetection just by checking first chars.

Example

[2017-11-17 12:19] tomrade commented on #1208
does this only apply globally with the processor? not at prospector level?

[2017-11-17 13:35] tsg commented on #4839
I think this was solved by the linked PR.

[2017-11-17 13:35] #4839 closed

[2017-11-17 16:23] #5132 closed

[2017-11-17 16:28] andrewkroh commented on #5617
Awesome. I didn't know about that.

[2017-11-17 18:00] dedemorton opened #5632 "Beats doc updates in 6.x"
FYI: I'm planning to move the roadmap for docs to a project instead of a meta issue because the meta issue format isn't working well. I end up doing a lot of work that never makes it onto this list.

**6.x**
- MOVED TO ROADMAP Document the fields.yml and backport to 6.0, if possible. See https://github.com/elastic/beats/issues/6049
- [x] [DeDe] Make sure GS guides accurately reflect requirement fo

[2017-11-17 18:56] dedemorton commented on #4737
@tsg I think we can close this now, right? Looks like the requirement for using the fully qualified name is mentioned here: https://www.elastic.co/guide/en/beats/libbeat/current/breaking-changes-6.0.html#breaking-changes-filters

[2017-11-17 19:08] dedemorton commented on #5506
Looks like I fixed this already.

[2017-11-17 19:08] #5506 closed

[2017-11-17 23:01] tylersmalley commented on #3982
@ph, PKCS12 format would have been pretty difficult for us as well which is why we went the route we did.

[2017-11-18 05:57] jiangzhileaf opened #5636 "add thrift and redis protocol support to heartbeat"
it would be useful to add thrift and redis protocol support to heartbeat,
so we easy to check whether the service is alive.

**redis**
now i can use the heartbeat to ping the redis through the tcp protocol，
send："ping\r\n"
receive: "+PONG"

it would be easy to add redis protocol to slimpify the config.

**thrift**
i try to ping my simple thrift interface through the tcp protocol,
but it doesn't wo

[2017-11-18 12:55] binary64 opened #5637 "schema.go:41: ERR Error on field 'server_uptime': Missing field: server_uptime, Error: Key `ServerUptimeSeconds` not found"
18/11/2017 12:51:492017/11/18 12:51:49.692005 schema.go:41: ERR Error on field 'server_uptime': Missing field: server_uptime, Error: Key `ServerUptimeSeconds` not found
18/11/2017 12:51:492017/11/18 12:51:49.692028 schema.go:41: ERR Error on field 'user': Missing field: user, Error: Key `CPUUser` not found
18/11/2017 12:51:492017/11/18 12:51:49.692037 schema.go:41: ERR Error on field 'system': Mis

[2017-11-20 00:10] joshbressers commented on #3982
No PKCS12 is fine.

The Kibana issue can be found here:
https://github.com/elastic/kibana/issues/11091

[2017-11-20 00:39] markwalkom opened #5638 "Docs pointing to prerelease for 6.0"
As seen here - https://www.elastic.co/guide/en/beats/filebeat/current/setup-repositories.html. Also looks like metricbeat has the same issue.

DEB;

RPM;

I can see that we dynamically figure this out, but I am not sure how that works so didn't want to make a PR and break things :)

[2017-11-20 00:47] markwalkom commented on #5638
Reported by @prasket here https://twitter.com/_prasket/status/932406690200162304

[2017-11-20 03:25] ruflin commented on #5638
@markwalkom Thanks for bringing this up. I opened a PR here to fix this for 6.0: https://github.com/elastic/beats/pull/5641

@dedemorton @tsg Should we introduce here alson an if/else clause to make sure this is set currectly based on the prerelease variable? For 6.x we need to make sure to set this correctly. But not sure at which stage we set it to "release" and is the reason I didn't forward po

[2017-11-20 03:56] ruflin commented on #5600
@plinde I put a PR together with the data in. https://github.com/elastic/beats/pull/5642

@andrewkroh The metricset is not tested yet as I'm not sure how test this best with "actual" raid data. Some ideas here?

[2017-11-20 04:07] ruflin commented on #5556
The error check is done for each line it reads, so as soon as the next line is read, it should detect the change.

Perhaps I miss something here?

[2017-11-20 04:10] ruflin commented on #5547
@ZhiqinYang As mentioned before, you are right about the execution each time. I'm open for a PR if it also takes changes on other platforms into account. It would be good to have a quick benchmark test with it to confirm the performance improvement.

[2017-11-20 04:14] ruflin commented on #5630
@exekias Good idea. We should have it available as autodiscovery or config option.

[2017-11-20 05:01] ruflin commented on #5637
This is interesting as we use `2.4.20` Docker container for testing. Which version of debian is this? How did you install apache? I wonder why here for example `ServerUptimeSeconds` is missing.

I remember we had a discussion about making some more fields optional in apache in an issue but I couldn't find it :-(

[2017-11-20 06:49] dlasrado opened #5644 "Build after clone source from github fails"
If the local source is empty, the build script clones the code from Github. But the source code is copied to a wrong folder which causes build_before to fail during docker run.
The code should be copied to github.com/elastic rather than github.com/elastic/beats
(Line 57 in dev-tools/packer/docker/xgo_image/base/build.sh)

[2017-11-20 06:59] adelbot opened #5646 "metricbeat vsphere add field"
For confirmed bugs, please report:
- Version: 7.0.0-alpha1
- Operating System: RedHat 7.4
- Steps to Reproduce:

I'm looking for add network Name in event
like vm.Guest.net[].Network

[2017-11-20 08:29] Elufimov commented on #3798
Is this bug was fixed in 6.0?

[2017-11-20 09:27] #5550 closed

[2017-11-20 09:35] martinscholz83 commented on #3798
@andrewkroh, i'm currenty implement a solution to retrieve the raw values with perfmon.

[2017-11-20 10:29] ZhiqinYang commented on #5556
I'm sorry. If a file is very very large and filebeat is reading it at the same moment. If suddenly the file name was changed or the file was deleted at that time,  For example, when the code run at `59:  n, err :f.fs.Read(buf)`, if `68: if err == nil`, and it returned right now. The code `80: err: f.errorCheck(err)` will not executed. how to make the field `close_renamed` and `close_removed` effec

[2017-11-20 11:08] ZhiqinYang commented on #5547
thank you very much

[2017-11-20 13:05] CamiloSierraH commented on #5234
+1

[2017-11-20 14:11] tsg commented on #3604
I think we can consider this one closed by https://github.com/elastic/beats/pull/5476.

[2017-11-20 14:14] adriansr commented on #3604
I had pending to do some small changes (store binary certificates) and a little cleanup before closing this, but up to you

[2017-11-20 14:18] tsg commented on #3604
@adriansr Ah, that sounds good. Feel free to edit the original description and add checkboxes with what's left to do. Then we can transform it in a meta issue (like, for example, this one: https://github.com/elastic/beats/issues/5432)

[2017-11-20 15:14] monicasarbu commented on #4771
I think ideally would be to configure the template and the index in one place under the `setup.template` and `setup.index`, considering that one output is enabled at a time.
For example:
[code]

In order to be able to remove the `index` configuration from the outputs, we need to do some adjustments. For example, for Logstash, the `index=filbeat` by default. We need to send as metadata not only `fi

[2017-11-20 15:42] antoniotvr opened #5650 "Old Red Hat panic in starting filebeats"
I'm on Red Hat 4 (Red Hat Enterprise Linux AS release 4 (Nahant Update 6))

I've just installed filebeat version 6.0.0 but when I try to start service I obtain the following error:

/etc/init.d/filebeat start
Starting filebeat: panic: open /dev/urandom: function not implemented

goroutine 1 [running]:
github.com/elastic/beats/vendor/github.com/satori/go%2euuid.safeRandom(0xa514000, 0x10, 0x10)

[2017-11-20 15:44] andrewkroh commented on #5650
Beat are written in Go. Go supports RHEL 6+. Therefore I wouldn't expect any of the Beats to work on your version of RHEL. See the [support matrix](https://www.elastic.co/support/matrix).

[2017-11-20 15:46] antoniotvr commented on #5650
Thank you, I miss that page.

You can close the issue, I will update this machine in next months so we
can use beats also on this machine.

Thank you

On Mon, Nov 20, 2017 at 4:44 PM, Andrew Kroh <notifications@github.com>
wrote:

[2017-11-20 16:41] andrewkroh commented on #3798
There is a sample document in the diskio docs: https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-metricset-system-diskio.html#_fields_57

I don't have a sample from Windows, but the main difference that the values coming from WMI are averages rather than cumulative. On *nix we get an ever increasing counter (until rollover) that contains the total number for all time. So the diff

[2017-11-20 16:49] andrewkroh commented on #1208
As configured in my example above the processor would apply globally. So if you wanted to limit it to a single file you could use a conditional.

[code]

If you are using 6.0 you can specify the processor local to the prospector. This will be better from a CPU standpoint because it does not get applied to all events and does not require a conditional.

[code]

[2017-11-20 17:39] #5650 closed

[2017-11-20 18:32] dedemorton opened #5652 "Conditionally code apt/yum install instuctions for pre-releases"
Right now the instructions for installing from apt/yum do not make use of the prerelease tag. They should.

See related issue: https://github.com/elastic/beats/pull/5641/

[2017-11-20 18:47] dedemorton commented on #5638
@ruflin I'll add conditional coding to the source, so don't worry about forward porting this. Here's how we manage the 3 conditions:

unreleased - prior to alpha/beta
prerelese - alpha/beta docs
released - GA docs

We set these states when we prepare the docs for a release. Unfortunately the apt/yum content didn't have the conditional coding.

[2017-11-20 19:25] dedemorton commented on #5652
Fixed in #5654

[2017-11-20 19:25] #5652 closed

[2017-11-20 21:01] ph opened #5656 "Allow to define the settings when testing the logs of a specific module"
When you are writing modules you can define a simple test case for them in the form of two files.
`logstash-json.log` and  `logstash-json.log-expected.json`, The problem is we can use dynamic variables in the manifest.yml that can change the behavior of ingestion.

This was discovered in the logstash module, we have 2 different filesets and each of them can be generated from either plain or json l

[2017-11-20 21:20] ph opened #5657 "Make create-fileset doesn't generate an empty `module.yml` file"
When we create a new module we have to create a `module.yml` at the root of the module. This file is used by the export dashboard tooling to facilitate the creation of new module.

Currently the `make create-fileset` task doesn't generate this file we should add it.

The content of the file for the logstash module is looking like this.

[code]

[2017-11-20 21:20] ph opened #5658 "Missing mention of `module/{module}/module.yml` file in the developper guide"
When developing module we have to create a `module.yml` file inside the root of the module, this file helps when using the export_dashboards program (-yml option)

I don't see mention of it in the [documentation](https://www.elastic.co/guide/en/beats/devguide/6.0/filebeat-modules-devguide.html)

Depends on: #5657, the tooling need to take care of generate the file before updating the doc.

[2017-11-20 21:39] lctrcl commented on #3604
any chance to add support for [ja3](https://github.com/salesforce/ja3) as well?

[2017-11-20 22:03] adriansr commented on #3604
@lctrcl looks easy to implement. Feel free to open a feature request

[2017-11-20 23:09] ruflin commented on #5600
@plinde Could you let me know which are the exact metrics you are looking for from the mdstats file? I have a few in #5642 but not sure if these are the right ones and if you need some more.

[2017-11-20 23:27] plmnko commented on #4285
It doesn't work for me even for single node of kafka. Have to send partitions with offsetFetchRequest to get something back.

[2017-11-21 00:54] dedemorton commented on #5638
Fixed for 6.0 in #5641

Also added conditional coding in https://github.com/elastic/beats/issues/5652 so the correct into will be set based on the release-state.

[2017-11-21 00:54] #5638 closed

[2017-11-21 01:31] TomonoriSoejima opened #5659 "add support for condition on bool type"
Currently

[Doc](https://www.elastic.co/guide/en/beats/packetbeat/current/defining-processors.html#condition-equals) does not support `bool` type.
[code]

When I did so, I got this warning packetbeat.

[code]

[2017-11-21 03:17] ruflin opened #5661 "Proposal docker prospector with processor and default behaviour"
Currently an example config for the docker prospector looks as following:

[code]

If someone wants to get all logs, I suggest the following should be possible:

[code]
It would set automatically the above as the default path to be harvested. Currently a "no paths defined" error pops up.

The `add_docker_metadata` should be enabled by default. There must be a config option to disable it if not wan

[2017-11-21 03:31] ruflin commented on #5644
Linking the PR here: https://github.com/elastic/beats/pull/5645

[2017-11-21 06:14] shino opened #5662 "Steps in "Creating a Beat based on Metricbeat" [6.0] fails"
For confirmed bugs, please report:
- Version: 6.0
- Operating System: Mac (darwin)
- Steps to Reproduce:

[code]

The steps to reproduce is from "Creating a Beat based on Metricbeat | Beats Developer Guide [6.0] | Elastic"  https://www.elastic.co/guide/en/beats/devguide/6.0/creating-beat-from-metricbeat.html

After creating dir kibana under module dir, `make setup` succeeds.

[2017-11-21 10:24] robinatw commented on #575
@bfgoodrich ,
yeah, I totally agree with your point of view, It would be great. if beats can have more queue types like rsyslog does.

http://www.rsyslog.com/doc/v8-stable/concepts/queues.html

[2017-11-21 11:52] #3898 closed

[2017-11-21 11:53] #5477 closed

[2017-11-21 12:17] abraxxa opened #5667 "[RabbitMQ] support https management interface"
Version: 6.0.0
Operating System: Debian 8
Steps to Reproduce:
- enable the rabbitmq metricbeat module on a host running RabbitMQ with the management plugin enabled and configured for https
- configure `hosts: ["localhost:15671"]` or `hosts: ["https://localhost:15671"]` in /etc/metricbeat/modules.d/rabbitmq.yml
- restart metricbeat
- no data is shown in the Metricbeat RabbitMQ dashboard
- no errors

[2017-11-21 15:29] #5568 closed

[2017-11-21 15:45] #5584 closed

[2017-11-21 16:41] amandahla commented on #5646
@adelbot Would you like this field at "virtualmachine" metric? Collecting network names for every virtual machine.

[2017-11-21 18:07] #5587 closed

[2017-11-21 18:12] plinde commented on #5600
@ruflin Looks great! I think it would be beneficial to include the following additional metrics per RAID device.
- Working Devices: int
- Failed Devices: int
- Spare Devices: int

If possible, it would also be good to compare the blocks.synced/total and perhaps include a Boolean for "synced: true". The scenarios for this being false would include during the rebuild (syncing) of a disk.

[2017-11-21 22:26] ruflin commented on #5646
Hi @adelbot

The library that is used to connect to the vSphere API is https://github.com/vmware/govmomi. So if the metrics are available through this library it should be possible to add them. I had a quick look at the code and there are quite a few Network fields. Could you link to the `govmomi` code which metrics you are referring to? Or feel free to directly open a PR with it.

[2017-11-21 22:29] JoshSchreuder commented on #3537
We had the same issue, `registry` file was full of `NUL` characters.
I deleted `registry` and renamed `registry.old` to registry and things seem to be working now.

[2017-11-21 22:42] ruflin commented on #5637
@radoondas Pinging you on this one, perhaps you know more?

[2017-11-21 22:50] ppf2 opened #5676 "Clarify documentation around reloading configs"
For users who land on this page directly https://www.elastic.co/guide/en/beats/filebeat/6.0/_live_reloading.html via search or google search on reloading, it will be helpful to clarify that live reloading _only_ works on externally configured files (https://www.elastic.co/guide/en/beats/filebeat/6.0/filebeat-configuration-reloading.html#filebeat-configuration-reloading) and does not work on the ma

[2017-11-21 23:03] ruflin commented on #4771
It's an interesting idea to remove the index pattern from elasticsearch output and move it to setup. This brings related config options closer together. Index is something specific to the ES output but at the same time it's a core to how the beats work and handle data in ES.

It would be great if having all this as meta information would also make it work through Kafka for example.

[2017-11-21 23:23] dedemorton commented on #4540
Re the breaking changes content: I think it's fairly clear from the wording (now) that "Breaking changes in 6.0" only describes the main changes that affect upgrade. Plus there is a link to the release notes for additional breaking changes. I think we're covered. It's an extra hop for users, but they might actually like that we distill the most important changes into a topic with more detail.

Plu

[2017-11-21 23:35] ruflin commented on #5662
What python version do you have installed? Do you have virtualenv installed?

The error I haven't seen before and I'm curious about is ` warning: jobserver unavailable: using -j1.  Add '+' to parent make rule.`

[2017-11-22 00:52] shino commented on #5662
Sorry for missing information
Using python 2.7 in virtualenv installed by macports.

[code]

Additional info about environment/software

[code]

[2017-11-22 00:59] binary64 commented on #5637
I used `FROM php:7.1-apache` and `RUN a2enmod status`

[2017-11-22 01:21] shino commented on #5662
Ah, I thought wrongly the line

[code]

indicated error happened... But, it correctly said "ignored".
Exit code of "make setup" was 0, ant it succeeded.
Sorry for wrong alert.

[2017-11-22 01:21] #5662 closed

[2017-11-22 01:29] shino commented on #5662
For this warning, setup in generated Makefile was:

[code]

I added slightly modified one,

[code]

and execute them, `$(MAKE)` does not emit the warnings:

[code]

Thanks for you help!

[2017-11-22 01:32] shino commented on #5662
reference for the above fix : https://www.gnu.org/software/make/manual/html_node/MAKE-Variable.html#MAKE-Variable

[2017-11-22 01:33] liketic commented on #5501
Hi @exekias So we need to remove POD_NAMESPACE and `metadata.namespace` in kubernetes module? Thanks!

[2017-11-22 03:31] ruflin commented on #5667
@abraxxa Could you share your full config file and the debug logs if possible?

[2017-11-22 09:45] #5589 closed

[2017-11-22 11:04] exekias commented on #5501
No need to update code on this one, this is about testing this still works after removing these lines https://github.com/elastic/beats/blob/f122937db5c2f77299b88684b93abe054f12bc1e/deploy/kubernetes/filebeat/filebeat-daemonset.yaml#L38-L41

I was planning to do this in the following days :smile:

[2017-11-22 12:06] martinscholz83 commented on #5528
@andrewkroh, can you take look on this.

[2017-11-22 13:58] ismael-hasan opened #5683 "Import dashboards can create duplicated index patterns"
The import dashboard functionality (https://www.elastic.co/guide/en/beats/filebeat/5.6/filebeat-index-pattern.html) does not seem to check if a pattern with the same title exists already.

To reproduce it

1. Create some filebeat indices
2. Manually create in Kibana the `filebeat-*` pattern
3. Run the tool in the link to create the Filebeats dashboards
4. There are 2 index patterns defined in Kiba

[2017-11-22 17:14] andrewkroh opened #5688 "Metricbeat MongoDB Connection Leak"
Each of the MongoDB metricsets (status, dbstats) create a new session for each `Fetch` by do not close the session that they open. Each metricset should have a `defer session.Close()` (or similar).

https://github.com/elastic/beats/blob/84e2e0953a4983065c96f240f6e8a6212940565c/metricbeat/module/mongodb/status/status.go#L62

https://github.com/elastic/beats/blob/84e2e0953a4983065c96f240f6e8a6212940

[2017-11-22 17:20] andrewkroh commented on #5688
I haven't verified this bug. My report is based on code inspection and a user report from discuss.

[2017-11-22 17:30] exekias commented on #5661
2 points to discuss:

- `type: docker` looks nice to me, currently that can be done with:
[code]

- add_docker_metadata by default, I'm on the fence here, as this may be used from autodiscovery a lot, and autodiscovery already adds all metadata for you, we would need to disable it in that case, which I expect to become the most common?

[2017-11-22 18:39] amandahla commented on #5646
Just to share: I gave it a try but found a error then I opened a issue to govmomi. :-(
I believe that must be another ways to get this property, lets see.
https://github.com/vmware/govmomi/issues/933

[2017-11-22 19:24] andrewkroh opened #5692 "Metricbeat system/process fails on process names containing parentheses"
Processes containing parentheses break the `/proc/[PID]/stat` parser used on Linux and FreeBSD.

As reported by @immon in https://github.com/elastic/gosigar/issues/81 an error is logged.

[code]

For confirmed bugs, please report:
- Version: All
- Operating System: Linux / FreeBSD
- Steps to Reproduce:

I have opened a PR at https://github.com/elastic/gosigar/pull/86

[2017-11-22 20:42] andrewkroh commented on #5528
I like the idea of squelching this message when the reason is permissions. So I think it should check the error code before ignoring the problem.

I would rather `protectedServices` not be stored as a global, but as a per instance variable.

[2017-11-23 00:21] #5615 closed

[2017-11-23 04:38] #5614 closed

[2017-11-23 05:52] ruflin commented on #5662
@shino Seems we missed $(MAKE) in the generator. Want to open a PR with this fix?

[2017-11-23 08:12] martinscholz83 commented on #5528
You get an wrapped error code. So its hard to say why it failed. See [here](https://github.com/elastic/beats/blob/master/vendor/github.com/elastic/gosigar/sigar_windows.go#L333)

[2017-11-23 10:01] urso opened #5696 "Heartbeat ports exported as string"
Just noticed port numbers in the json document exported by heartbeat are string, not numbers. See sample output from event refactoring: https://github.com/elastic/beats/pull/4091

The fields.yml file already configures the port number to be an integer.

[2017-11-23 12:17] amandahla commented on #5646
@adelbot @ruflin Do you think it would be better to be optional? Like custom fields.

[2017-11-23 13:37] andrewkroh commented on #5528
That’s what errors.Cause is for. https://godoc.org/github.com/pkg/errors#Cause

[2017-11-23 15:16] BDeus commented on #4285
I confirm that consumergroup metricset is broken with new kafka version.
I think this issue (https://github.com/elastic/beats/issues/3608) has plan to replace this metricset ?

[2017-11-24 01:47] Bharathkumarraju commented on #5203
I am getting authentication error in elasticsearch

[code]

[2017-11-24 02:15] shino commented on #5662
Did it!

[2017-11-24 07:12] maozi07 opened #5700 "Metricbeat6.0 system module doesn't capture kernel process in Centos7"
- Version: metricbeat6.0.0
- Operating System: Centos7 x64
- Steps to Reproduce:

metricbeat system module doesn't capture the system process there cmdline always like this ` [xxxx]  `
and I enabled debug log found nothing useful, there nothing about these process
It's all kernel process like this:

https://discuss.elastic.co/t/metricbeat6-0-system-module-doesnt-capture-linux-system-process/108654

[2017-11-24 09:15] joshuar opened #5701 "Filebeat modules: ingest pipeline parsing issue"
It looks like there is a recent code change that is causing some issues with parsing certain patterns in ingest pipeline configs in Filebeat.  After a bit of debugging, the following ingest pipeline config in a custom module will fail to be loaded into Elasticsearch:

[code]

The issue appears to be due to the combination of a pattern having a literal left curly brace `{`, followed by the start of

[2017-11-24 12:01] mountkin opened #5703 "Typo in Metricbeat golang/heap metricset"
optained -> obtained
https://github.com/elastic/beats/blob/554701f0a04fe25229be4afd6cccd745f2844860/metricbeat/module/golang/heap/_meta/fields.yml#L86

[2017-11-24 14:29] ph opened #5704 "Inconsistent behavior of `make check` locally and on travis."
This was found with #5691, this problems does not seems to be triggered on the CI, only on my local environment when I run make check, I am running go 1.9.2.

[code]

When I run 1.7.2 locally `make check` doesn't raise that error. The current theory is either:

- Make check on travis doesn't use the 1.9.2 version.
- Some caching occur?

[2017-11-24 14:44] ajpahl1008 opened #5706 "Cache values missing in Memory Usage [Metricbeat System] Visualization"
- Version: 6.0.0
- Operating System: Ubuntu Linux 17.10

- Steps to Reproduce:

   Setting up the default metricbeat via -setup argument, the graph for Memory usage shows 0.0B of cache used.  The operating system's "free" and "nmon" show significant usage (~18GB).

<img width="1344" alt="brokengraph" src="https://user-images.githubusercontent.com/842456/33214847-912e9c7a-d0fb-11e7-8bf1-7d880b1c89c

[2017-11-24 17:20] #5701 closed

[2017-11-24 21:54] tylerfontaine opened #5708 "[Docs] Add Setup/Config instructions for package installs"
- Version: metricbeat 6.0 (probably others too)
- Operating System: *nix
- Steps to Reproduce: Install via RPM/DEB and follow documented setup instructions

When installing via a package, since the binary and config files are separated into their individual locations, the setup/config examples don't work as expected.

For instance, when running metricbeat manually (say, to install dashboards) you

[2017-11-25 09:19] abhishenator opened #5709 "Bad error message regarding missing key"
https://github.com/elastic/beats/blob/d8282c54d31497f8c713deae936ed7dd80f9649e/metricbeat/module/jolokia/jmx/data.go#L84

If the metricname is missing from map, key would always be empty. I m getting following error with jolokia module. Not sure what is the problem here:
[code]

Similar issue was discussed here: https://discuss.elastic.co/t/metric-beat-jolokia-module-cannot-read-attribute-value/92

[2017-11-25 09:44] markwalkom opened #5710 "Filebeat README has bad links"
Reported here - https://twitter.com/z3ndrag0n/status/934354610650615808

If you grab https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-6.0.0-darwin-x86_64.tar.gz and extract it, the `README.md` has 4 links that all 404.

File - https://www.elastic.co/guide/en/beats/filebeat/6/filebeat-getting-started.html
Actual - https://www.elastic.co/guide/en/beats/filebeat/6.0/filebeat-getting-sta

[2017-11-25 16:09] ajpahl1008 commented on #5706
**Created branch**
https://github.com/elastic/beats/tree/metricbeats_cache_fix

Going to attempt to test it locally before putting a merge request in.

[2017-11-26 20:53] ruflin commented on #5556
@ZhiqinYang Thanks a lot for bearing with me on this one. I know finally understand what you are getting at. In case of a successful read, it's never checked if the file was renamed or closed only at the end of the file.

TBH I don't think it's intentional that we have it this way and it is not the expected behaviour. On interesting property of having it the way it is, is that `f.fs.Stat()` is not

[2017-11-26 21:06] ruflin commented on #5637
@binary64 Thanks for the info. That is pretty useful. I wonder what the difference is between the version in the `httpd` Docker container and the one shipped with php. Do you know any details here?

[2017-11-26 21:25] ruflin opened #5712 "Flaky Logstash node_stats tests"
Currently the Logstash node_stats test is flaky. It faily with the following error:

[code]

Interestingly the `node` integration tests pass consistently without issue, meaning LS is running fine.  I wonder under which circumstances node_stats returns a 500. As it can't be reproduced manually I assume it's kind of a timing issue that `node_stats` is not ready or similar. Unfortunately there are no

[2017-11-26 21:35] ruflin commented on #5683
@simianhacker Perhaps you can comment here? How is the behaviour when loaded through Kibana in 6.x?

[2017-11-26 21:49] ruflin commented on #5661
I think I missed that autodiscovery already does also enrich the events (which is a great feature). I think if both are enabled we should detect and only do the enrichment once?

[2017-11-26 22:03] ruflin commented on #5646
As far as I understand, the fields added are:

[code]

2 questions here:

* It says network names, so could this be a list? Or is `name` a unique key?
* What is in this custom fields? Are these values configured by the user? Or where are these fields coming from?

Sorry for potentially basic question but not really familiar with vsphere.

[2017-11-26 23:01] ruflin commented on #5203
@Bharathkumarraju Which metricbeat version are you running? Could you share the metricbeat debug logs?

[2017-11-26 23:29] ruflin commented on #5703
@mountkin Looks like it. We must also change it in the code. Want to open a PR?

[2017-11-26 23:36] ruflin commented on #5704
@ph What is your local OS?

[2017-11-26 23:40] ruflin commented on #5706
Not sure if that could also be related? https://github.com/elastic/gosigar/pull/82

[2017-11-26 23:58] ruflin commented on #5709
Could you share your full metricbeat config?

[2017-11-27 00:07] ruflin commented on #5710
The file is generated out of https://github.com/elastic/beats/blob/master/dev-tools/packer/readme.md.j2 and it should contain the value from here: https://github.com/elastic/beats/blob/6.0/libbeat/docs/version.asciidoc#L2 (which is 6.0). I need to investigate was is going wrong here during packaging.

[2017-11-27 01:37] ZhiqinYang commented on #5556
@ruflin  Thank you!

[2017-11-27 02:05] ruflin commented on #5710
I opened https://github.com/elastic/beats/pull/5715 against 6.0. The issue is that gotpl convert 6.0 to 6, that is why we have the issue only with all first major version and we never had it in the past, as we didn't have that script yet for 5.0.

[2017-11-27 02:36] ruflin commented on #5600
The raid metricset will create each time an event for each device. The metrics you described above are more a summary which you probably do best with a query in ES / KB. You can group by the field `system.raid.activity_state` for that. Is there a "state" for spare device?

In case you are mainly interested in the overall stats we could thinkg about either only doing the overview or have something

[2017-11-27 03:25] mountkin commented on #5703
@ruflin Opened PR #5716

[2017-11-27 05:07] ruflin commented on #5712
Perhaps related to this: When the node_stats metricset does not return a 500, sometimes it fails with:

[code]

This means the `out` and `filtered` fields are available but the `in` field is not available yet. We can make this field optional on the MB side but it would be good to know if this is expected.

[2017-11-27 06:36] original-brownbear commented on #5712
@ruflin the `500` is a result of https://github.com/elastic/logstash/issues/8004, the missing fields (that should really only ever happen for a split second though and not very frequently) are too.

[2017-11-27 09:17] abhishenator commented on #5709
Hi Nicolas,

Here is the config:

[code]

Please let me know if you need anything else. I m currently blocked on this. Thanks

[2017-11-27 10:47] exekias commented on #5708
Thanks for the report!

I'm wondering, where is this `bin/metricbeat` located? `metricbeat` command we provide is a wrapper to the real binary, setting all the right paths for it

[2017-11-27 11:10] amandahla commented on #5646
@ruflin custom_fields already exists, it's not a new field :-) I use custom_fields as example because he is collected only if the user says so. It's optional, not default. So, I thought that network_names could be the same thing. In config, we could have a "get_network_names" to be set true/false.

[2017-11-27 11:28] #5688 closed

[2017-11-27 14:04] danielserrao opened #5719 "Which properties are normalized?"
Hi,

I have been looking to documentation to understand if some cpu properties are normalized or not. What I mean is if it can go only up to 100% (cores average/normalized) or more than 100% (cores sum).

For example, is not clear for me if the property system.cpu.idle.pct is normalized or not. If it isn't, there is another property that I can use to fetch the normalized version?

The metric beat

[2017-11-27 14:32] andrewkroh commented on #5719
Those values are not normalized. The comment on [system.cpu.user.pct](https://www.elastic.co/guide/en/beats/metricbeat/5.6/exported-fields-system.html#_system_cpu_user_pct) applies to all of the `system.cpu.*.pct` fields.

In 6.0 there are [system.cpu.*.norm.pct](https://www.elastic.co/guide/en/beats/metricbeat/6.0/exported-fields-system.html#_cpu_fields_7) values that are normalized. You need to

[2017-11-27 14:32] #5719 closed

[2017-11-27 14:38] ph commented on #5704
@ruflin high sierra, 10.13.1.

[2017-11-27 14:54] kylegordon commented on #5614
This is still an issue in the documentation

https://www.elastic.co/guide/en/beats/filebeat/current/elasticsearch-output.html#_literal_index_literal
https://www.elastic.co/guide/en/beats/metricbeat/current/elasticsearch-output.html#_literal_index_literal
https://www.elastic.co/guide/en/beats/winlogbeat/current/elasticsearch-output.html#_literal_index_literal
etc etc

[2017-11-27 16:08] tylerfontaine commented on #5708
When you install via a package, the binaries get thrown in `/usr/share/metricbeat`

So the full commands there would be `/usr/share/metricbeat/bin/metricbeat` In hindsight,I should have said that. Edited the OP for clarity.

[2017-11-27 16:50] simianhacker commented on #5683
This is due to the new unique id system that Kibana implemented for all saved objects. There needs to be a way to check if the index pattern exists (from Beats) before importing the new index pattern. Currently the only way it will override is if the id match.

[2017-11-27 17:50] andrewkroh opened #5720 "Convert 6.x dashboards to 5.x"
These are dashboards that need to be converted to 5.x. The process for doing so is to import them into 5.6 via the Kibana API and then export them using the export_dashboards.py script that gets the data from the `.kibana` index.

- [ ] Metricbeat - windows/service
- [x] Auditbeat - all
- [ ] Packetbeat - tls #5722

[2017-11-27 18:19] sarfarazahmad89 commented on #3974
I would like to do all timezone processing on filebeat end itself and avoid using date plugin in logstash.
This leads me to two questions :
1. Can filebeat pick up the timezone directly from the OS ?
If not I can automate this using a configuration management tool like Puppet, but if there were an auto mode that would be nice.
2. I don't understand how this will fit with date filter in logstash. W

[2017-11-27 18:26] exekias commented on #5708
I just had this session:

[code]

Have you tried using `/usr/bin/metricbeat`? That's the wrapper script we provide under a default PATH, so all config folders get passed to the binary. So ideally, just running `metricbeat` should invoke that, is that the case for you?

[2017-11-27 22:14] exekias commented on #5661
I'm ok with that, it may be tricky to detect, but we can figure something out

[2017-11-27 22:15] ruflin commented on #5712
@original-brownbear Thanks for having a look at this. Looks like I need to update the LS healthcheck. If I get a 200 for _node/stats will also go the missing `in` part away? Or are the two not related?

[2017-11-27 22:33] ruflin commented on #5646
@amandahla Ah, great. Depending on how big the list is normally, I'm ok also to collect it by default (assuming it is like 1-3 entries normally). People that don't like it can filter it out. Like this we don't need to add a config option for it.

As `network_names` is a list, should it be:

[code]

Otherwise we would have multiple `name` entries overwriting each other?

[2017-11-27 23:30] ruflin commented on #5614
@dedemorton Not sure if this was backported yet?

[2017-11-28 01:02] #5703 closed

[2017-11-28 01:40] dedemorton commented on #5614
@ruflin No, the PR has not been backported yet. However the topics that Kyle points to are about the Elasticsearch output config, not the Logstash configuration, which this issue focuses on.

I do think a small update of the ES output config docs is still required. We should show that the default index name is "filebeat-%{[beat.version]}-%{+yyyy.MM.dd}" correct?

But I'm not sure if we want to rec

[2017-11-28 02:47] ruflin commented on #5700
I just tried this out in a docker container. Initially I set up the module manually with only the `process` metricset and all looked ok. Then I run our default installation and got the following panic in the logs:

[code]

@maozi07 Can you share the config you are using?

[2017-11-28 02:55] maozi07 commented on #5700
Hi @ruflin docker doesn't have any kernel process. I only collect system metric configure like this：

  period: 10s
  metricsets:
    - cpu
    - load
    - memory
    - network
    - process
    - process_summary
    #- core
    - diskio
    #- socket
  processes: ['.*']

What else can I share or do you need？

[2017-11-28 03:12] ruflin commented on #5696
I just tested this on master and it seems to be integer there now. Must be a change between 5.x and 6.x where we fixed this?

The initial thread where this popped up: https://discuss.elastic.co/t/what-type-is-the-port-field-in-heartbeat-output/108586/11

[2017-11-28 03:14] ruflin commented on #5692
As https://github.com/elastic/gosigar/pull/86 is now merged, we should probably make a gosigar release and update it in beats?

[2017-11-28 03:36] ruflin commented on #5700
@maozi07 Does metricbeat on your end not collect the processes at all or is just the command line off? If it does collect the events, could you share one of the json documents that you are seeing?

[2017-11-28 03:40] maozi07 commented on #5700
@ruflin I think it doesn't collect the process at all，because I haven't find any data using cmdline/process name from ES about the process

[2017-11-28 03:41] ruflin commented on #5667
@abraxxa Does in your case the RabbitMQ monitoring work without the management plugin?

[2017-11-28 03:49] ruflin commented on #5386
@liketic I think the problem is not on the Golang side but elasticsearch.

@johtani I wonder if the value that is provided by the OS is actually correct? Do you really have that many files or is that a High Sierra issue?

[2017-11-28 03:52] ruflin commented on #5203
@tsg @andrewkroh Did any actions happen related to this?

[2017-11-28 03:56] ruflin commented on #5009
@andrewkroh Can this be closed as https://github.com/elastic/beats/pull/5036 was merged? Or you suspect an other issue still open?

[2017-11-28 03:57] ruflin commented on #4920
@tsg @monicasarbu Should we close this one?

[2017-11-28 03:59] ruflin commented on #4865
@kvch I assume this problem will be solved with https://github.com/elastic/beats/pull/5339

I removed `bug` label as I think the feature works as expected and it only throws a deprecation warning. This doesn't mean we should not change it.

[2017-11-28 04:06] ruflin commented on #4524
Closing this one as I think it's resolved. But I found an other potential issue that `modules.d` directory is missing. Will open a separate issue.

[2017-11-28 04:06] #4524 closed

[2017-11-28 04:17] ruflin commented on #3033
Closing this as we removed away from the import dashboard script with 6.0. @LeeDr please reopen if this is still an issue.

[2017-11-28 04:17] #3033 closed

[2017-11-28 04:20] ruflin commented on #2786
Closing this as no feedback was received in the last 12 month and lots of improvements have been made since then on filebeat. @githubnovee Feel free to reopen if this is still an issue.

[2017-11-28 04:20] #2786 closed

[2017-11-28 04:21] ruflin commented on #1491
@andrewkroh I see we updated the docs related to this. Is this still a limitation? If yes, should we change this from `bug` to `enhancement`?

[2017-11-28 04:22] ruflin commented on #2500
Closing as by now 6.0 has been released. We should treat this as "known bug" in the 1.x releases.

[2017-11-28 04:22] #2500 closed

[2017-11-28 04:24] ruflin commented on #138
I switched the label `bug` to `enhancement` because as far as I understand it's working as expected but it's not too efficient.

[2017-11-28 04:25] ruflin commented on #213
@urso Unassigned you here to make it available for others to pick up.

[2017-11-28 04:33] ruflin commented on #2857
I just did a quick test and this seems still to be the case. I wonder if this is more an issue in gosigar (@andrewkroh)? Did not investigate yet.

[2017-11-28 08:29] abraxxa commented on #5667
@ruflin sorry for taking so long to answer!

The metricbeat rabbitmq module config file is almost what gets installed by the deb package:

[code]

And here is /etc/rabbitmq/rabbitmq.config
[code]

[2017-11-28 08:49] stefansaye opened #5730 "Packetbeat.yml with_vlans cannot work?"
Hello there,
I will greatly appreciate help in making packetbeats work.
I  have add the option "with_vlans" , but still  not show vlan in my document
How do I enable the option to packetbeat with_vlans?

my packetbeat version:
packetbeat version 5.5.2, libbeat 5.5.2

I have the following configuration.

    packetbeat.interfaces.device: eth0
    packetbeat.interfaces.snaplen: 1514
    packetbeat.i

[2017-11-28 11:06] #4673 closed

[2017-11-28 11:06] #4879 closed

[2017-11-28 11:08] andrewkroh commented on #5700
As a data point, I am seeing events for these processes using 5.5.0. I believe there is no `cmdline` field because the value is empty for most of these processes. I did a query for `system.process.ppid:0 || system.process.pid:<10` to see what was present.

[code]

[2017-11-28 11:12] andrewkroh commented on #2857
A few months ago I inspected the gosigar code in regards to this issue and was not able to find any problems. IIRC it looked like the data was actually being returned with these states from the OS.

I think a second look by someone else would be beneficial.

[2017-11-28 11:13] #5712 closed

[2017-11-28 11:48] andrewkroh commented on #5730
Cross-posted: https://discuss.elastic.co/t/packetbeat-yml-with-vlans-cannot-work/109340

[2017-11-28 11:48] #5730 closed

[2017-11-28 11:54] andrewkroh commented on #3974
Using the [add_locale](https://www.elastic.co/guide/en/beats/filebeat/6.0/add-locale.html) processor FIlebeat can add the timezone information to the event.

Then in Logstash or Ingest Node you can use the value of this field as the [timezone](https://www.elastic.co/guide/en/logstash/current/plugins-filters-date.html#plugins-filters-date-timezone) argument to the date filter.

[2017-11-28 11:55] andrewkroh commented on #3974
Closing because this feature has been implemented.

[2017-11-28 11:55] #3974 closed

[2017-11-28 12:00] andrewkroh commented on #1491
This can be closed. We have a workaround documented. And a separate enhancement request for advancing the query syntax in #1054.

[2017-11-28 12:00] #1491 closed

[2017-11-28 12:18] original-brownbear commented on #5712
@ruflin best to update the health check, those two are related and not necessarily gonna go away anytime soon :(

[2017-11-28 12:21] amandahla commented on #5646
@adelbot For metric "host", at least in the environment that I'm testing, we have  a lot of "Distributed port group" instead of "Network". For this metric, is ok to collect only network names?

[2017-11-28 12:22] amandahla commented on #5646
@ruflin I believe that a list will work fine :+1:

[2017-11-28 13:13] amandahla commented on #5646
This is a first version. I'll wait for adelbot to answer if is important/interesting to collect the Distributed port group names for host metric.

[2017-11-28 15:20] liar666 opened #5734 "Goroutine panic"
What I did:
[code]
What I get:
2017/11/28 15:14:34.571211 metrics.go:23: INFO Metrics logging every 30s
2017/11/28 15:14:34.571211 beat.go:426: INFO Home path: [/usr/share/metricbeat] Config path: [/usr/share/metricbeat] Data path: [/usr/share/metricbeat/data] Logs path: [/usr/share/metricbeat/logs]
2017/11/28 15:14:34.572039 beat.go:433: INFO Beat UUID: 007386bc-b8aa-4b0a-bf5c-7ca7d6cf1729
2017/1

[2017-11-28 15:25] andrewkroh commented on #5734
Thanks for reporting. This looks to be same issue as #5700 and we have a PR open to fix it https://github.com/elastic/beats/pull/5729.

As a work-around you can disable the "include top N" feature ([docs](https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-metricset-system-process.html)) or disable the process metricset.

[code]

[2017-11-28 15:33] petercelentano commented on #4219
when might this be a possibility? +1

[2017-11-28 15:33] andrewkroh commented on #5734
I didn't have an issue with `docker run -it --rm docker.elastic.co/beats/metricbeat:6.0.0`

[code]

[2017-11-28 17:23] #5601 closed

[2017-11-28 19:10] ph commented on #3982
After sync with @jakelandis, @tylersmalley, @joshbressers and internally with the beats team we have decided to implement the template solution to make this choices explicit instead of implicit first. The main reason was the unfriendly usage of the implicit configuration when using modules.

We will revisit the implicit after 6.2.

The template will be the same as the environment variables syntax

[2017-11-28 20:22] ph opened #5737 "Keystore: Allow user to set their own password on the keystore"
The current keystore currently uses a blank password "" and doesn't allow the user to configure the password on the keystore. The internal implementation has everything in place to support a user provided password.

Logstash is moving forward to allow user to setup an environment variable named `LOGSTASH_KEYSTORE_PASS`,  that could be use to decrypt and create new keys in the keystore.

### TODO
-

[2017-11-28 20:41] simianhacker opened #5739 "Change TSVB based visualizations index patterns to use metricbeat-*"
Currently the TSVB visualizations use `*` for the index pattern, this is a problem for large clusters because it spreads the queries across all the indices. We should change this to use `metricbeat-*` so the queries are isolated to just the Metricbeat indices.

[2017-11-28 20:55] ph commented on #5737
This was discussed in a call with @joshbressers @jakelandis

@joshbressers Do we have more details about how ES is planning to do that? I just have found the meta issue.

I am interested about your opinion @andrewkroh

[2017-11-28 22:52] ruflin commented on #5646
@adelbot Have a look at https://github.com/elastic/beats/issues/5646
@amandahla Thanks for taking this over and push it so quickly.

[2017-11-28 23:48] adriansr opened #5744 "Packetbeat support for JA3 TLS fingerprinting"
JA3 is a new technique for creating SSL client fingerprints that are easy to produce and can be easily shared for threat intelligence.

See https://github.com/salesforce/ja3

[2017-11-29 00:36] ruflin opened #5745 "Jenkins fails on Windows builds because it can't start"
Sometimes windows builds fail during starting the the unit tests. The error looks as following:

[code]

An example of such a failed build can be found here: https://beats-ci.elastic.co/job/elastic+beats+pull-request+multijob-windows/2301/beat=libbeat,label=windows/console

@andrewkroh @exekias @elasticdog ideas on how to fix it more then welcome.

[2017-11-29 00:40] ruflin opened #5746 "Jenkins tests fail after previous test was aborted without cleanup"
If a new commit to an existing PR is pushed or the PR is closed, the currently running CI jobs are aborted. Unfortunately this aborting starts the cleanup but does not let it finish. Here is an example of such a job: https://beats-ci.elastic.co/job/elastic+beats+pull-request+multijob-linux/beat=filebeat,label=ubuntu/2291/console

The output looks as following:

[code]

It seems the cleanup starts

[2017-11-29 01:41] maozi07 commented on #5700
@andrewkroh I'm using 6.0.0, and I tried to query `system.process.pid:<10` , but there is nothing except system.process.pid=1 it's systemd. And I also tried query `system.process.name=ksoftirqd/0` and no results

[2017-11-29 01:49] ruflin commented on #5709
The output of Jolokia reported in the logs above looks as following:

[code]

A few ideas. Could you try the following config where the mbean is the same order as in the output?

[code]

It should not make a difference. If it does not work, can you try to make `field: Count` upper case?

The last difference I see to all the objects we tests, is that we request multiple values and not only one. In

[2017-11-29 02:29] ruflin commented on #5614
We should recommend to include the beats version as otherwise in case we do bug fixes to the template and they update the version, they would not automatically get the newest template.

[2017-11-29 02:43] ruflin commented on #5712
@original-brownbear I updated the health check here: https://github.com/elastic/beats/commit/29678a06d2ebb6d8cf64e2ec31e051e3099272f9 Lets see if that fixes the issue.

[2017-11-29 03:51] johtani commented on #5386
@ruflin I think the value is correct each single drive.
But I installed [choosy](https://www.choosyosx.com) and it appeared in `df -h` result, so that is affected the wrong number... Maybe because of choosy, the number has doubled.
However, if I had external usb disks or something, I can have the many files.

Unfortunately, I'm not sure whether this is a High Sierra issue or has other macOS...

[2017-11-29 11:38] #5646 closed

[2017-11-29 13:40] xy795 opened #5753 "Can't package beats: error while generating package.yml"
When running make package, the process always fails with message
`Failed to parse standard input: yaml: line 10: did not find expected key`
`make[1]: *** [../libbeat/scripts/Makefile:404: prepare-package-cgo] Error 1`
`make[1]: Leaving directory '/home/amarquis/code/go/beats/metricbeat'`
`make: *** [../libbeat/scripts/Makefile:456: package] Error 2`

Seems like the call of sed (dev-tools/packer/xg

[2017-11-29 13:56] exekias commented on #5753
I think this is a regression from https://github.com/elastic/beats/pull/5727/files, I didn't realize `master` was an option

[2017-11-29 13:56] martinscholz83 commented on #3798
@andrewkroh, i have started to implement `diskio_windows` to collect these counters with perfmon. See [here](https://github.com/martinscholz83/beats/blob/feature/windows-diskio-perfmon/metricbeat/module/system/diskio/diskio_windows.go). But I'm afraid that this can not solve the main problem between counters and gauges. With performance counters mostly you only get real time values. There are some

[2017-11-29 14:31] ph opened #5755 "Refactor how we write support file to disk (Registry, Keystore)"
Currently beats only write state with the registry with the addition of the Keystore in #5687 we will have another way to write content to disk.  We should refactor the writing to disk to a common abstraction that can be used in both context.

A few things that need to be supported:

- Write to a temporary file
- Replace an existing file
- If something go wrong abort and keep the original file in

[2017-11-29 14:41] ph opened #5757 "[Meta] Keystore and secure settings"
With the creation of the [keystore](https://github.com/elastic/beats/pulls/ph/5687) to obfuscate the secrets in the configuration we still have few things that can be done:

## Before 6.2
- ~~Check the permissions when filebeat is installed from packages, see https://github.com/elastic/elasticsearch/commit/7a035f5f8435962072157f46031e73855fe4a875~~ our beats run as root.

## After 6.2
- [ ] Allow

[2017-11-29 17:02] andrewkroh commented on #5745
The actual failure is from `docker.TestWatcherDie`. The key thing in this output is "Unit test FAILURE" and "FAILURES: 1". I'm not convinced that we have a CI issue on Windows.

You can drill down on the failures from the build overview page: https://beats-ci.elastic.co/job/elastic+beats+pull-request+multijob-windows/2301/beat=libbeat,label=windows/

Click on "Test Result" to see a summary.
Click

[2017-11-29 18:21] ph opened #5760 "Refactor error handling in cobra commands and subcommands"
From this PR discussion in https://github.com/elastic/beats/pull/5687#discussion_r153688274

---

Currently dealing with errors in the command and subcommand involve to code it manually using
`fmt.Fprintf(os.Stderr, "msg", ... )` and using `os.Exit`, this make the code harder to test via unit test because of the process exit, @urso proposed to wrap the **cobra command function** into our own error

[2017-11-29 20:07] ph commented on #5617
@exekias
What do you meant by `from the packaging`, Is there any other project packaging doing that?

[2017-11-29 20:11] ph commented on #5617
@andrewkroh support fo zsh is in https://github.com/elastic/beats/pull/5761, I am not too familiar with the packaging.

[2017-11-29 20:49] exekias commented on #5617
I mean generate autocompletion files during packaging and add them to the resulting package so both bash and zsh use it if when you install from deb/rpm

[2017-11-29 23:08] #5753 closed

[2017-11-30 02:09] vkurup opened #5767 "Filter out docker filesystems in Metricbeat fsstat module"
Please see the [discussion](https://discuss.elastic.co/t/metricbeat-fsstat-values-are-too-high/107453) for more details.

In short, I am running docker on a host and the fsstat module reports filesystem size values that are about 10 times too high, because it seems to be counting docker aufs mount points in addition to the host filesystem. There are options to filter out these entries using the fi

[2017-11-30 02:21] #5739 closed

[2017-11-30 06:54] maozi07 commented on #5700
@ruflin @andrewkroh Hi ,I found some log maybe useful to you when I tracked other problem.

[2017-11-30 11:30] abhishenator commented on #5709
Thanks so much for help. Changing the mbean name to as reported in jolokia response worked: "kafka.server:name=BytesInPerSec,type=BrokerTopicMetrics". You can close the issue.

[2017-11-30 17:14] andrewkroh commented on #5700
That's very helpful. Those kernel processes don't have an exe on disk so the /proc/[PID]/exe symlink is broken. So Metricbeat should ignore the ENOENT error and continue processing data from the process.

I think the code here should also check for `... && !os.IsNotExist(err)`.

https://github.com/elastic/beats/blob/75a1fc823c78fb89da98675c64ac303179dcf07e/metricbeat/module/system/process/helper.g

[2017-11-30 21:03] myoung34 commented on #4555
Any updates? Im seeing this on boxes that dont do much (NAT) that can grow up to almost 1GB memory on 5.6.2

[code]

[2017-11-30 22:18] karlroberts commented on #1035
Hi this feature would be useful if you have two services running on a single machine that have radically different log formats and you want the logs to go to Logstash on different ports so logstash pipelines can treat them differently (eg diff grok filter and send to diff index in elastic search)

please consider this.

[2017-11-30 23:37] ruflin commented on #5767
@vkurup Thanks for opening the issue. I change the title a bit as I think this is a feature request to make it possible to filter out the docker filesystems.

[2017-11-30 23:41] ruflin commented on #5709
Great to hear it worked. Closing this. Probably we should add something about the order of the params to the docs.

[2017-11-30 23:41] #5709 closed

[2017-12-01 02:55] ruflin opened #5783 "Packaging broken because of uint64 overflow in auditbeat"
Packaging for auditbeat currently fails with the following error:

[code]

The culprit seems to be the following line: https://github.com/elastic/beats/blob/master/vendor/github.com/fsnotify/fsevents/wrap.go#L38

Strangely the dependency did not change in the last 5 months. I will test if I can reproduce it locally.

[2017-12-01 03:16] ruflin commented on #5783
@adriansr @andrewkroh The problem was introduced with this PR: https://github.com/elastic/beats/pull/5575 We had the package in beats before but it was not used. It started to be used in the above PR.

Also locally on my machine `go build` returns the overflow issue. I think our CI did not catch this issue because currently it's not complied for OS X. I will open a PR for that.

[2017-12-01 03:37] andrewkroh commented on #5783
https://github.com/fsnotify/fsevents/issues/31

[2017-12-01 04:02] ruflin commented on #5783
Probably related to https://github.com/golang/go/issues/21708

[2017-12-01 08:12] martinscholz83 commented on #3798
Two questions.

1. Should i keep the new created function `PdhGetRawCounterArray`?

1. `syscall` has the functions `DeviceIoControl` and `CreateFile`. To get the local drive names we need a function like `GetLogicalDriveStrings`. This function is not implemented in `syscall`. So question is to implement all functions we need on our own or to use existing functions from `sycall`?

[2017-12-01 10:59] #5528 closed

[2017-12-01 14:23] dominiquearpin commented on #163
Any news for a msi package?

[2017-12-01 21:35] tehmoon opened #5795 "Fields merging in 6.0 differs from 5.x"
Following the bug report I filed on discuss: https://discuss.elastic.co/t/fields-merging-in-6-0-differs-from-5-x/109838

I was in the process of upgrade my filebeats from `5.6` to `6.0` on `linux`. But it broke my `logstash` pipeline. The reason is -- I think -- a bug in the merging fields process of the `fields` option in the yaml config file.

My configuration is as follow:

[code]

I do all the

[2017-12-02 13:46] #5744 closed

[2017-12-03 10:00] ruflin commented on #4555
Please have a look at the following FAQ about Golang: https://golang.org/doc/faq#Why_does_my_Go_process_use_so_much_virtual_memory

Could you figure out if the value you are reporting is virtual memory or actual memory? Could you also share some logs?

[2017-12-03 10:10] ruflin commented on #5795
I did a quick test here to reproduce it. The following still works as expected:

[code]

But if I add global fields like below, I have `fields.type: test2` also in the events from `test1.log`.

[code]

@urso The problem must happen when merging global with local fields. Perhaps some state?

@tehmoon Thanks for reporting. A workaround for now would be to specify all fields local for each prospector

[2017-12-03 18:08] tehmoon commented on #5795
@ruflin Thanks for checking! Interestingly enough, I didn't think of completely copy the whole `fields` field under each prospectors. I'll give it a try tomorrow. In any case this solution will work for me.

Regards,

[2017-12-04 03:17] ruflin commented on #5667
You are of course right about the management plugin.

I tested rabbitmq with SSL manually and that seems to work as expected. So I assume the problem is either related to the version of RabbitMQ or SSL (more likely). Can you confirm that it works without SSL configured?

What do you get if you access `https://localhost:15671/api/nodes`? Do you see any certifcate errors?

Could you enable debug log

[2017-12-04 03:59] ruflin commented on #2857
I think what @andrewkroh state is correct that we receive the wrong values already from the OS.

For some further investigations / references, the files I looked at:

* Here is where the task info is built: https://github.com/elastic/gosigar/blob/master/sigar_darwin.go#L484
* pbi_status is defined here: https://opensource.apple.com/source/xnu/xnu-1228/bsd/sys/proc_info.h.auto.html
* Some more deta

[2017-12-04 04:44] ruflin commented on #5386
@johtani Could you run metricbeat with `filesystem` metricset enabled and put the output here? I would be interested to see which of these volumes has so many files. As the above is happening on a user machine, I'm still suprised by the very high number of files.

[2017-12-04 13:21] urso commented on #5795
Thanks for testing. I will have a look.

[2017-12-04 16:04] ph commented on #5760
Forgot to assign it to myself, I will do a quick PR to unblock #5687

[2017-12-04 16:06] tehmoon commented on #5795
@ruflin I do confirm that your tests are working for me. So I am going to duplicate the fields from `fields` on each prospector.

Thank you for responding so quick!!

[2017-12-04 21:49] adriansr opened #5800 "Wrong protocol version reported by TLS module"
The new TLS module reports the `raw` version (SSL-style) as included in the headers.

It should parse the raw version as in:

Raw | Protocol
-----|---------
3.0 | SSL 3.0
3.1 | TLS 1.0
3.2 | TLS 1.1
3.3 | TLS 1.2

[2017-12-04 22:57] adriansr opened #5801 "TLS module panics when server hello is missing"
The following panic has been reported while using the TLS module:

`2017-12-04T21:20:53Z ERR  Process tcp exception. Recovering, but please report this: runtime error: invalid memory address or nil pointer dereference.
2017-12-04T21:20:53Z ERR  Stacktrace: goroutine 65 [running]:
runtime/debug.Stack(0x1131ec6, 0x2b, 0x13dab988)
        /home/akroh/.gvm/versions/go1.9.2.linux.armv6l/src/runtime/deb

[2017-12-04 23:20] andrewkroh opened #5804 "Packetbeat TLS: Report the key size used for certificates"
This is a request to enhance the Packetbeat TLS module to report key sizes used in certificates.

As a user I want to be able to alert when I find a service on my network using weak key sizes.

[2017-12-05 00:09] #5801 closed

[2017-12-05 03:11] andrewkroh commented on #5600
Leaving this open because I think we need

- [ ] metrics on failed and spare devices
- [ ] resolve the mdstat parsing issue discussed in https://github.com/elastic/beats/pull/5642#issuecomment-345824133

[2017-12-05 16:39] ph commented on #5522
Just to update this issue, we have decided to keep the current behavior as the default and add an opt-in flag to retain null values.

[2017-12-05 17:18] andrewkroh opened #5809 "Packetbeat DNS: Decode punycode in internationalized domain names"
Packetbeat's DNS module should detect internationalized domain names and automatically decode the punycode to unicode and send the data as a new field.

As a user I'd like to be able to read back what the original domain name was when it was accessed by the someone on my network. Punycode encoded domain names don't resemble their unicode form at all.

For example if you see an internationalized do

[2017-12-05 17:34] andrewkroh commented on #3798
Why would you remove it? Isn't it used by the perfmon metricset?

Reuse what's already provided if possible. So only add way to use `GetLogicalDriveStrings`.

[2017-12-05 19:05] krasekhi opened #5813 "Winlogbeat Registry File (.winlogbeat.yml) not properly tracking event logs"
For confirmed bugs, please report:
- Version: Winlogbeat 6.0.0
- Operating System: Windows 10
- Steps to Reproduce: Install Agent

**6.0.0**
[code]
**5.5.2**
[code]

Reference : https://discuss.elastic.co/t/winlogbeat-6-0-0-registry-file/110384

[2017-12-05 19:14] krasekhi opened #5814 "Winlogbeat 6.0.0 Resending event logs after service restart"
For confirmed bugs, please report:
- Version: Winlogbeat 6.0.0
- Operating System: Windows 10
- Steps to Reproduce:

**Logstash output**
if [event_id] == 4624 {
		elasticsearch {
        hosts => [ "localhost:9200" ]
		index => "last_logon"
		document_id => "%{computer_name}"
    }
}

- Install Winlogbeat with the following config
    winlogbeat.event_logs:
      - name: Security
        event_id:

[2017-12-05 21:12] andrewkroh commented on #5813
I have prepared a PR to fix this issue and opened cherry-picks to the release branches.

- master - #5815
- 6.0 - #5816
- 6.1 - #5817

[2017-12-05 22:09] #5813 closed

[2017-12-06 02:44] urso opened #5821 "Add jenkins job for stresstest target"
#5605 adds another travis job for running some minimal stress tests on the publisher pipeline. Also add a job to jenkins, to automatically run these tests.

[2017-12-06 03:16] urso opened #5823 "Ensure all code generators are tested"
Ensure all code generators in place are tested, such that the tests will fail on API changes.

[2017-12-06 03:27] #5795 closed

[2017-12-06 04:27] #4689 closed

[2017-12-06 17:22] pickypg opened #5827 "[Metricbeat] Elasticsearch Module settings should document TLS / SSL support"
The Elasticsearch Metricbeat module supports TLS / SSL, you can apparently specifiy the same settings as the Elasticsearch output (but under the module's configuration).

From @andrewkroh:

We should probably make a common set of TLS / SSL options that documentation can inherit / insert into their pages so that we don't have to repeat this everywhere.

[2017-12-06 20:14] dedemorton commented on #5708
@tylerfontaine I'm updating the command examples in the getting started docs by removing the `./` when running the commands on deb and rpm. It sounds like your problem was caused by running the binary instead of the wrapper script. Can you confirm that running the setup without ./ fixes this problem with you (and that the paths get set as expected)?

[2017-12-07 01:24] ph opened #5832 "Allow the Keystore to be completely pluggable"
The current keystore only support a file-based format; it would be nice to be able to plug any keystore and be able to use it.

**Possible keystore:**

- vault?
- kubernetes secrets

**Steps required:**

- Split the interface into two new interfaces: `Keystore` and `EditableKeystore`, not all keystore can be edited on the CLI.
- Add configuration options to change the type
- Link the keystore with

[2017-12-07 09:01] jstoja commented on #4766
hello @vjsamuel the advised method to handle that is simply to either:
* mount the logfile on the host with docker and add a prospector to read it (for example mount your catalina.out to some /var/log/catalina.log and process it with filebeat). Docker containers have a "separate" part of the FS so filebeat won't be able to access it if not shared in some way.
* Tail from inside your container ever

[2017-12-07 09:16] jstoja commented on #4626
Hey guys,

I'm adding a 👍 since I'm facing a more generic issue. That is a consequence of using docker
I'm having some applications logging multiline, some matching text before and some after.
For example Java stacktraces:
[code]

but also rabbitmq messages:
[code]

In the first example, the multilines are defined by lines starting with space, so they can be appended to the previous ones. In the s

[2017-12-07 12:21] exekias commented on #5827
I think this is a duplicate of https://github.com/elastic/beats/issues/4268?

[2017-12-07 17:35] exekias opened #5837 "Define an official set of labels/annotations to do autodiscovery"
Both for the Docker & Kubernetes use case, define a set of well-known labels (Docker) and annotations (Kubernetes, [example](https://kubernetes.io/docs/reference/labels-annotations-taints/)) that we can understand and do autodiscover on.

The goal is to let the maintainer of the container, or the person deploying it a way of telling us how to monitor it. For example:
 `co.elastic.filebeat.module`:

[2017-12-07 21:16] ph commented on #346
Closing this since #4719 was merged

[2017-12-07 21:16] #346 closed

[2017-12-07 21:38] ph commented on #1029
This message isn't an issue anymore if you look at the latest filebeat output log:

[code]

[2017-12-07 21:38] #1029 closed

[2017-12-08 01:25] ruflin commented on #4626
@jstoja That is an interesting use case. I wonder if autodiscovery could help here: https://github.com/elastic/beats/pull/5245 Like this you could have "container specific" configs. Or do you get both multilines from a single container / single file?

[2017-12-08 03:52] ruflin commented on #5837
That is a very interesting idea. I wonder if in the above we could leave out the `beat` name and automatically detect if there is a log specific config it would be turned on (like multiline above). If it has `co.elastic.module: nginx` by default Metricbeat and Filebeat are triggered. Now writing it I realised that it would be great if both options would work.

For Metricbeat, would it get the host

[2017-12-08 07:23] martinscholz83 commented on #3798
`PdhGetRawCounterArray` and `PdhGetRawCounterValue` are not used by perfmon. We added these functions to offer an API if you want to calculate Raw values. But maybe in the future we can add an option for `perfmon` to use it?!

[2017-12-08 08:46] johtani commented on #5386
[code]

[2017-12-08 08:50] jstoja commented on #4626
@ruflin That is a feature that could probably solve the issue yes! The fact that it's using the containers metadata to select the config is super interesting.

Right now we avoid having multiple logging formats from a single container. So each container type has it's own (multiline) format.

[2017-12-08 11:05] kingluo opened #5843 "filebeat cannot work if glob pattern involves too many dirs/files"
- Version:  filebeat-6.0.0-x86_64.rpm
- Operating System: centos6.5
- Steps to Reproduce:

`filebeat.yml`:

[code]

There is 7000 subdirs under `/var/foobar/foo/`, and 10000 files per subdir.

The filebeat keeps running with high cpu (I run it for half an hour) and do not catch any files for input and could not even be killed!
If I remove the first `*`, e.g. `/var/foobar/foo/d1/*.log`, then it wor

[2017-12-08 15:28] andrewkroh opened #5845 "Auditbeat: Warn if Auditbeat and auditd are running"
When using a unicast netlink socket you can have only one userspace process registered to receive data from the kernel audit framework. If two are running only one will receive data and the other will get nothing and no errors.

Auditbeat could be enhanced to make it more user friendly by detecting this condition and warning the user by logging a message and sending an error event to ES.

Detectio

[2017-12-08 16:20] vjsamuel commented on #5837
collectbeat does it as:
[code]
it is mandatory that we come up with a good convention to discovery logs and metrics and our annotations need to be namespaced like above.

[2017-12-08 17:13] adriansr commented on #5534
This are actual files created by `dnf`. Seems to be doing this to all executable files, but didn't test throughly. The hex value used is the current UNIX timestamp.

First the file is created ( 200 root:root permissions, so hashing fails unless auditbeat is run as root):

[code]

Then written to:
[code]

Then chmod to proper permissions
[code]

Then moved to its correct name:
[code]

[2017-12-08 17:18] andrewkroh commented on #5534
Excellent. So not a bug and not a problem. False alarm.

[2017-12-08 17:18] #5534 closed

[2017-12-08 17:38] dedemorton commented on #5614
Note that https://github.com/elastic/beats/pull/5841 fixes the remaining examples to include the version info in the index name.

[2017-12-08 20:16] dedemorton commented on #3215
Closing this issue because the CLI topic has been completely rewritten with the addition of Beat subcommands.

[2017-12-08 20:16] #3215 closed

[2017-12-08 20:18] dedemorton commented on #1002
@ruflin Can we close this one?

[2017-12-08 20:26] dedemorton commented on #1197
@ruflin I think this is fixed, no? Can we close this?

[2017-12-08 20:30] dedemorton commented on #2052
@urso This one has been open for awhile. Is this work still required?

[2017-12-08 20:32] dedemorton commented on #2638
@ruflin Is this still something that we want to do? This has been open for awhile.

[2017-12-08 20:32] dedemorton commented on #2815
@urso Is this still valid given that we're on 6.x now? Do we still need to provide migration info?

[2017-12-08 20:34] dedemorton commented on #2952
@ruflin Do you still think this is required now that we have things like modules and the solution pages to get new users up and running? This one has been open for awhile.

[2017-12-08 21:02] dedemorton commented on #3062
@monicasarbu This issue has been open for awhile. I'm concerned that it's being overlooked because it's labeled as doc.

The default for `loadbalance` in the referece.yml in `master` is `false`, which matches the docs, so it looks like the first problem is fixed (https://github.com/elastic/beats/blob/master/filebeat/filebeat.reference.yml#L784)

The following fields are still missing from the Logs

[2017-12-08 21:32] dedemorton commented on #3165
@ruflin Is this doc issue still valid now that `publish_async` has been removed? Can I close this issue?

[2017-12-08 22:02] dedemorton commented on #3850
Just noticed that this is a duplicate of https://github.com/elastic/beats/issues/2638. I'll close the other issue and keep this one open.

[2017-12-08 22:03] dedemorton commented on #2638
Closing in favor of https://github.com/elastic/beats/issues/3850

[2017-12-08 22:03] #2638 closed

[2017-12-08 22:09] #4193 closed

[2017-12-08 22:13] #4319 closed

[2017-12-08 22:17] #4696 closed

[2017-12-08 22:19] dedemorton commented on #4737
Closing because the work on this for 6.0 is done. If the breaking changes need additional updates, let's open a new issue.

[2017-12-08 22:19] #4737 closed

[2017-12-08 22:20] dedemorton commented on #4921
I'm closing this because the gain is small for the amount of work involved. I'll just fix these over time as I find them in the docs.

[2017-12-08 22:20] #4921 closed

[2017-12-08 22:29] andrewkroh commented on #5415
We should provide the launchd config to enable running as a daemon and then document how to apply that config. So first we need to develop and test launchd config (and account for the agent starting before the networking is up and before the hostname has been set).

[2017-12-08 22:34] dedemorton commented on #5415
Changed the title to reflect the need to provide launchd config instead of documentation. When the config is available, we'll add docs for it.

[2017-12-09 00:17] dedemorton commented on #529
I'm going to close this because...well...it's very old. We should continue to use spellcheckers to check for spelling errors.

[2017-12-09 00:17] #529 closed

[2017-12-09 00:38] dedemorton commented on #3764
Closed by #5848

[2017-12-09 00:38] #3764 closed

[2017-12-09 00:53] dedemorton commented on #3699
This is fixed in the docs for 6.0. Users don't usually have to upgrade the mapping template unless they are upgrading from 5.5 or earlier.  For those users, we've added a section that describes how to load the template manually in 5.6 before upgrading to 6.0: https://www.elastic.co/guide/en/beats/libbeat/6.0/upgrading-5-to-6.html#upgrading-to-5.6

Please accept my apologies for not resolving this

[2017-12-09 00:53] #3699 closed

[2017-12-09 22:30] blacktop opened #5851 "Unable to create filebeat-* index in kibana after running filebeat"
For confirmed bugs, please report:
- Version: 6.0.1
- Operating System: Alpine Docker via OSX
- Steps to Reproduce:  https://github.com/elastic/examples/tree/master/Common%20Data%20Formats/nginx_logs

I believe this is related to this: https://github.com/elastic/kibana/issues/15110

and more specifically this might be the cause? https://github.com/elastic/kibana/issues/15110#issuecomment-348008323

[2017-12-11 10:42] jakommo commented on #5266
I think this issue is a duplicate of https://github.com/elastic/beats/issues/5421. You opened this first but https://github.com/elastic/beats/issues/5421 has more details.
Are you ok with closing this and sticking to https://github.com/elastic/beats/issues/5421 ?

[2017-12-11 12:36] liar666 opened #5854 "Missing cgroup fields on hardened Debian 8 machines leads to errors"
Hi,

NOTE: I'm posting this (duplicate) here as requested by: https://github.com/elastic/beats-docker/issues/27#issuecomment-350710865

I'm running MetricBeat as explained here: https://www.elastic.co/guide/en/beats/metricbeat/current/running-on-docker.html#monitoring-host

On a (hardened) Debian 8 machine from OVH French provided.

In MetricBeats' log I get a lot of errors like the following:
`WA

[2017-12-11 13:40] liar666 commented on #5854
By the way, on the same "hardened" server, I've just activated the 'docker' module. I now also have the following errors:

[code]

[2017-12-11 14:29] exekias commented on #5854
Hi @liar666, could you give us some details on that "hardening" applied to this server, it looks like it's limiting the results on some fields

[2017-12-11 16:05] liar666 commented on #5854
Hi,

As I said, the machine is a server from the OVH (http://ovh.net/) French provider.

The product is a Kimsufi server, with an installed image identified as "Debian 8.7 stable (Jessie) (oldstable)".

The only element I can see that might be blocking MBeat is the "grs" in the "uname" I've provided, which probably refers to https://www.grsecurity.net/ . That's what I meant by "Hardened".

[2017-12-11 17:30] #5760 closed

[2017-12-11 18:06] jeremy-clerc commented on #4859
Hey @tsg, after looking a bit into the different files, I found at least 3 places where it could be missing:

`/etc/filebeat/fields.yml` so I modified it to have a vhost field:
[code]
In `module/apache2/access/ingest/default.json`, I updated the GROK patterns to have the vhost:

[code]

In `kibana/{5.x,default}/index-pattern/filebeat.json` I added vhost too, not puting it here as it is a big JSON.

[2017-12-11 23:04] #4268 closed

[2017-12-11 23:04] #5827 closed

[2017-12-11 23:33] #4254 closed

[2017-12-12 01:42] ruflin commented on #4626
The autodiscovery will ship in Beta for 6.1. Would be great if you could try this one out.

[2017-12-12 02:24] ruflin commented on #5843
I don't think that is an issue in filebeat. If you try to use `ls` for lots of directories it's going to take quite a bit of time, CPU and disk activity. In your case you are talking about 70 million files which is a very large number to do an `ls` on which is what filebeat basically tries to do as it needs the check every single file if it should be harvested. This is a problem which potentially

[2017-12-12 02:33] ruflin commented on #1002
Yes

[2017-12-12 02:33] #1002 closed

[2017-12-12 02:34] ruflin commented on #1197
Yes, it seems that was fixed over time.

[2017-12-12 02:34] #1197 closed

[2017-12-12 02:37] ruflin commented on #2952
I think we still need something like this. Perhaps the title is a bit misleading and it's more a "getting started debug checklist". I have a page in mind where we can point people to on discuss that have the top 5 issues on how to solve them. 2 examples:

* YAML Indentation -> how to validate it's a valid yaml file and compare it to reference file for indentation
* Connection to ES / LS -> we actu

[2017-12-12 02:44] ruflin commented on #3165
Lots of changes happened in the pipeline in 6.0 related to the pipeline, loadbalance and `publish_async` which was removed. I think it would be best if @urso could comment here and decide if this is still needed.

[2017-12-12 02:45] ruflin commented on #5783
@andrewkroh @adriansr I'm reopening this issue as this was auto closed by https://github.com/elastic/fsevents/pull/2 I think merging the PR does not fix it yet as it first needs to make it into the vendor directory of beats.

[2017-12-12 03:24] ruflin commented on #4859
@jeremy-clerc If you are using the beat directly with the full `fields.yml`, what you did above should have updated at least the index pattern. But you also have to delete and reapply the ingest processors to make it work. Best would be to get this directly into filebeat source code as a PR.

For a PR the file you are looking for is: https://github.com/elastic/beats/blob/master/filebeat/module/apa

[2017-12-12 04:34] ruflin opened #5858 "Fix naming issues in Metricbeat modules"
During the update of the `data.json` files in https://github.com/elastic/beats/pull/5834 it became obvious that quite a few of the fields are not following the naming scheme or percentages are not set correctly. This should be reviewed and updated.

[2017-12-12 09:37] exekias commented on #918
As an update, we recently added some new features:

Docker prospector, to ease `json-file` logs fetching https://github.com/elastic/beats/pull/5402
Autodiscover on Docker, to predefine desired settings per container (ie multiline patterns): https://github.com/elastic/beats/pull/5245

[2017-12-12 09:53] kingluo commented on #5843
The filebeat does not use `fsnotify`?
But even I use `find` command to find changed files, it takes only 1 second. So it does not make sense that the filebeat keep dead running but cannot find a file to start harvesting.

Now I make a workaround to solve this issue: write a shell script executed in 3 second interval, which use `find` to capture new files and make hard links to a single directory w

[2017-12-12 12:48] jeremy-clerc commented on #4859
I deleted everything, filebeat data, ES templates and indices, and kibana index-pattern, sure not the best way :) But know it is correctly exported.

Thanks for the tips, I created the PR.

[2017-12-12 15:03] 191801737 commented on #4426
i have meet the same problem ,  someone know how to do this ?

[2017-12-12 19:18] ph opened #5862 "Allow filebeat to collect syslog events"
Since Filebeat is installed directly on the machine, it makes sense to allow Filebeat to collect local syslog data and send it to Elasticsearch or Logstash. With the currently available filebeat prospector it is possible to collect syslog events via UDP.

## POC

[code]
Filebeat configuration:

[code]

Rsyslog configuration:

[code]

### TODO:

- [x] Evaluate the _experimental_ status of UDP
- [ ]

[2017-12-12 19:19] andrewkroh opened #5863 "ML importer test failure - datafeed frequency"
While running [TestImportJobs](https://github.com/elastic/beats/blob/7ce70f68f7c6579d931180927ee6a7d2d1b6d510/libbeat/ml-importer/importer_integration_test.go#L117) in libbeat the test is failing.

The full output from the failed test case is:

[code]

Travis log: https://travis-ci.org/elastic/beats/jobs/315410604#L2422

[2017-12-12 19:24] andrewkroh commented on #5863
This appears to be related the change made in https://github.com/elastic/x-pack-elasticsearch/pull/3205 (internal).

[2017-12-13 08:19] danniss opened #5869 "Filebeat won't stop with SIGTERM if the --once flag is used"
My filebeat (6.0.0-alpha1) running with --once does not exit with SIGTERM. it does exit if without --once.
Here is my simple yml:

[code]

Here is the log after sending SIGTERM:

[code]

This can also be reproduced on master. I thought it's an expected behavior but it turns out not. So please  take a look.
Thanks.

[2017-12-13 12:29] trondhindenes commented on #3537
I just had the same issue after a host failure, filebeat v 5.6.3

[2017-12-13 16:37] #5266 closed

[2017-12-13 17:17] andrewkroh commented on #5423
I started a [spreadsheet](https://docs.google.com/spreadsheets/d/1BtSnAT4sZmGUeddz4Bes1E8iEGLxHXyb8LIXylZ-jK8/edit#gid=1592309553) to map out some possible field renames.

[2017-12-13 17:40] #5804 closed

[2017-12-13 19:17] tsouza opened #5872 "Processor 'decode_json_fields' should allow when JSON parsing fails"
Currently, when the `decode_json_fields` fails parsing the JSON, it will simply drop the event and log. This makes really hard identifying errors in production environment with several beat sources.

IMO there should be an option to allow marking failed messages just as the `json.add_error_key`. Maybe also another setting that allow skipping the processor chain completely in such cases.

[2017-12-13 20:14] ppf2 opened #5873 "Breaking change documentation on input_type rename is incorrect"
We renamed input_type to `prospector.type` (an object field) as part of this breaking change:

https://www.elastic.co/guide/en/beats/libbeat/current/breaking-changes-6.0.html#breaking-changes-types

But our documentation is specifying it as prospector_type instead of `prospector.type`.

[2017-12-14 03:45] jsoref opened #5876 "/var/lib/filebeat/registry relies on deviceid inappropriately"
- Version: 5.6.5
- Operating System: Ubuntu 16.04.3 LTS (xenial)
- Steps to Reproduce:
1. Use zfs (`compression=lz4`) w/ lots of file systems and occasionally create new ones
1. Have filebeat enabled
   1. Filebeat is configured to look at `/path/to/logs/logfile-*.txt`
   1. w/ an `include_lines:` designed to capture a tiny subset of the log file content
   1. w/ the goal that it would be able to

[2017-12-14 11:01] exekias commented on #5876
I guess this is happening because ZFS sets a new device ID when mounting the partition?

[2017-12-14 11:55] #5863 closed

[2017-12-14 12:51] jsoref commented on #5876
Each volume gets a device ID and they're first come first served, device IDs being assigned dynamically by the running system without any persistence.

The implementation here is linear (1,2,3,4,...), But there's really no particular requirement for that, and absolutely nothing requires persistence across boots.

[2017-12-14 18:20] abierbaum commented on #536
@ruflin I agree that UDP could work, but I am worried about data loss for long message strings.

Is there any documentation on the UDP prospector and specifically how large I can expect UDP to support for the samples sent to it?  I would like to send JSON formatted lines to filebeat and have it send them on to ES.  But my JSON lines will well exceed the normal UDP MTU sometimes so I expect that I

[2017-12-14 22:15] #5422 closed

[2017-12-14 22:46] adriansr commented on #5342
I'm wondering about case-sensitivity for this regular expressions.
Can't decide what makes more sense. Ask the user to include (?i) at the start of every expression if case-insensitive matching is desired, or force case-insensitive matching in our side?

[2017-12-14 23:15] andrewkroh commented on #5342
For consistency with other parts of Beats I think the user should have to add `(?i)`. AFAIK this is how other areas work. [Looks](https://github.com/exekias/beats/blob/edde8912793f3055f08937fb88fe432e47a8baaa/filebeat/harvester/reader/multiline_config.go#L16) like we use `match.Matcher` in the config and go-ucfg will validate the expression.

[2017-12-14 23:20] dedemorton commented on #4540
I've moved any pending items to #5632. Closing out this issue.

[2017-12-14 23:20] #4540 closed

[2017-12-15 17:10] #5873 closed

[2017-12-15 21:20] dilchenko opened #5896 "Metricbeat requires binfmt_misc support which has a bug in latest CentOS 7"
## Details

OS: `CentOS Linux release 7.4.1708 (Core) `
Docker: `docker-engine-1.11.2-1.el7.centos.x86_64`
Kernel: `Linux 3.10.0-693.11.1.el7.x86_64`
Systemd: `systemd-219-42.el7_4.4.x86_64`

## Problem:
After a freshly install of ECE, during reboot `metricsbeat`mounts `binfmt_misc`:
[code]

However, that seems to be buggy on the latest CentOS 7:
https://github.com/systemd/systemd/pull/5916

Manif

[2017-12-15 21:22] andrewkroh commented on #5896
Can you please post the contents of `/etc/mtab` from the affected machine.

[2017-12-15 21:38] dilchenko commented on #5896
Updated the issue description

[2017-12-15 21:43] andrewkroh commented on #5896
Can you please try adding a [filesystem filter](https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-metricset-system-filesystem.html#_filtering) to your Metricbeat configuration. In the module where the filesystem metricset is declared add the `filesystem.ignore_types` option. For example:

[code]

What Metricbeat version are you using?

[2017-12-15 21:46] dilchenko commented on #5896
Whichever comes with the latest ECE, not sure off the top of my head how to figure that out (or to change it's config within ECE for that matter).

[2017-12-16 01:38] dedemorton opened #5898 "Add documentation about var.kafka_home to kafka module docs"
The documentation for `var.kafka_home` is currently commented out in the docs because I was unable to get the setting to work. Not sure if it's user error or a bug.

See https://github.com/elastic/beats/pull/5877#discussion_r157296257 for the original discussion (I've copied the details here for convenience).

Here's what my modules.d/kafka.yml file contains:

[code]

My log files for testing are

[2017-12-17 02:07] ruflin commented on #4859
Thanks for the PR.

[2017-12-17 02:21] ruflin commented on #5862
@ph We recently created a `docker` prospector type which is a special type of the log prospector. It adds a very small bit of additional logic but is mostly predefined configs. One of the main advantages is that it makes configuration for the user straight forward and allows us to implement "special features" in this prospector type. I think the same applies here. Instead of making a user to confi

[2017-12-17 16:56] jsoref commented on #5876
I should probably also note that you're only recording the minor id, but even on a running system that doesn't define a device, you need major+minor to uniquely identify a device on a running system.

[2017-12-17 22:31] DinaWork opened #5900 "Shiping logs from kubernetes to elasticsearch using beats - get: "clusterroles.rbac.authorization.k8s.io "filebeat" is forbidden: attempt to grant extra privileges""
following
https://www.elastic.co/guide/en/beats/filebeat/6.1/running-on-kubernetes.html

and the following post:
https://www.elastic.co/blog/shipping-kubernetes-logs-to-elasticsearch-with-filebeat

`curl -L -O https://raw.githubusercontent.com/elastic/beats/6.0/deploy/kubernetes/filebeat-kubernetes.yaml`

using the following yaml:
https://github.com/elastic/beats/blob/6.1/deploy/kubernetes/filebea

[2017-12-17 22:58] DinaWork commented on #5900
solved issue -

ran this command before:
`kubectl create clusterrolebinding cluster-admin-binding --clusterrole=cluster-admin --user=bob@example.com `

[2017-12-17 22:58] #5900 closed

[2017-12-18 13:53] zytek opened #5904 "Improve logging of index failures"
I had to run filebeat in debug mode  to fix issue with dynamic index name creation. IMO Filebeat by default should log much more verbose messages if they are hard errors.

Steps to reproduce:
- configure filebeat to create dynamic indexes like this example for Kubernetes:
[code]
- filebeat fails to send all logs to ES with not very informative message:

[code]

- the actual error is a hard error a

[2017-12-18 14:22] zytek opened #5905 "Filebeat skips log events if it cannot create index name"
I am trying to separate ES indexes per Kubernetes namespace, to implement custom retention policies. Unfortunately when a field is not available then Filebeat skips log event as it gets 500's from Elasticsearch

Steps to reproduce:
- configure similar ES output with nonexistent field:
[code]
Expected behaviour: filebeat should create index `filebeat--2017.12.19` OR provide a way to set default var

[2017-12-18 15:54] andrewkroh commented on #5421
This implements for Linux, macOS, and Windows now.

We can possibly optimize Windows more if we use `ReadDirectoryChangesW` with the `watchSubtree` flag. But we would need to do some measurements to see how the current version compares the the proposed version.

[2017-12-18 15:54] #5421 closed

[2017-12-18 16:02] andrewkroh commented on #5783
Fixed by #5866

[2017-12-18 16:02] #5783 closed

[2017-12-18 16:02] andrewkroh commented on #5342
Implemented in #5888

[2017-12-18 16:02] #5342 closed

[2017-12-18 17:25] jakommo commented on #5421
Awesome, which version will this be in. 6.2?

[2017-12-18 17:39] andrewkroh commented on #5421
Yes, expect a 6.2 release for this feature.

[2017-12-18 20:05] morgango opened #5907 "Metricbeat Host Overview Dashboard for 6.1 seems to be "off""
The dashboards for metricbeat seem to be "off", displaying in a multiline manner regardless of the browser, size of the screen, or the font chosen.  While this isn't a show stopper, it makes it difficult to read the first text read on the dashboard.

It looks like this:

![image](https://user-images.githubusercontent.com/3835173/34125290-635946b6-e3fb-11e7-910a-0b4b4a37934f.png)

I have tried maki

[2017-12-19 00:23] andrewkroh opened #5911 "Auditbeat - Windows recursive file watches"
Opening this as a reminder to investigate this more. Recursive watches on Windows for some of the directories in our default config were failing.

For confirmed bugs, please report:
- Version: master
- Operating System: Windows 2012 R2
- Steps to Reproduce:
  - Start auditbeat.exe as Administrator (vagrant in my case).
  - Use the default config, but enable recursive file watches.

Logs:

2017-12-

[2017-12-19 02:42] ruflin commented on #3537
@cosminpopescu @JoshSchreuder @trondhindenes There must be something more there as the above fix is in all 5.x branches. Any chance you guys could provide some more informations like

* OS
* File system used
* Filebeat configs
* Potentially content of registry file (if not empty)

[2017-12-19 02:57] ruflin commented on #5876
I think this is an issue specific to ZFS and not a general "doing it wrong" ;-) So far for most file system it worked really well and the combination of device + inode is the unique identifer of a file on the other file systems (windows has 3 identifiers). The issue you are describing reminds me a lot of some "interesting" behaviour on shared file systems and is the reason we recommend to install

[2017-12-19 02:58] ruflin commented on #5876
@exekias I removed the bug label and changed it to enhancement as the above behaviour is from my point of view as expected and by design.

[2017-12-19 03:20] ruflin commented on #5905
@zytek This might already help for your use case? https://www.elastic.co/guide/en/beats/filebeat/current/elasticsearch-output.html#_literal_indices_literal

I agree we should fail earlier and provide a better error message.

[2017-12-19 04:10] ruflin commented on #5904
@zytek Is this different from https://github.com/elastic/beats/issues/5905 ?

[2017-12-19 04:34] ruflin commented on #5907
@simianhacker @monicasarbu I wonder if this is an issue of our dashboards or Kibana itself?

[2017-12-19 05:01] ruflin commented on #536
@abierbaum Have a look at max_message_size https://www.elastic.co/guide/en/beats/filebeat/master/configuration-filebeat-options.html#max-message-size

For the TCP part it reminds me of https://github.com/elastic/beats/issues/5862#issuecomment-352226720 (@ph).

[2017-12-19 05:52] jsoref commented on #5876
This isn't limited to zfs.
If you use Google Compute Engine (or AWS, or Azure, or Linode, or...) and dynamically add/remove physical storage, the nodes you'll get will be reassigned minor ids. It should also happen if you used classical hot plugging.

I just tested w/ GCE, I had a /dev/sda1 (/), I attached a disk (which provided /dev/sdb1) and mounted it as /media, then I unmounted it, created a n

[2017-12-19 10:22] pmoust commented on #5854
Can confirm the same. And yes, it is a security feature.

[2017-12-19 14:14] ph commented on #5862
@ruflin I believe TCP will be eventually needed, as my experience a most users for LS was using TCP + SSL for their syslog need.

[2017-12-19 14:36] ph commented on #5862
@rufflin Also the docker and the syslog comparison are really what I meant by creating a syslog prospector ++ on everything :)

[2017-12-19 15:11] simianhacker commented on #5907
I think Kibana changed the CSS which probably affected how things display on the dashboard.

[2017-12-19 15:19] zytek commented on #5905
Yes, it seems I could achieve what I want with indices conditions. Thanks!

Still, this could be handled better as now it seems the whole batch is dropped when one entry contains invalid (empty?) index name.

[2017-12-19 15:21] zytek commented on #5904
@ruflin you could consider this related, but this issue is about proper debug levels (more meaningful error messages without the need to run filebeat in debug mode) and the second one is about actual error, why it happens and how to correct it :)

[2017-12-19 15:29] zytek opened #5920 "Default mapping for "log" field used in examples"
Hello again,

I've setup Filebeat 6.0.1 on Kubernetes, based on https://github.com/elastic/beats/blob/master/deploy/kubernetes/filebeat-kubernetes.yaml
which seems to follow best practices for kubernetes deployments.

I do not use any ingest pipelines nor any other processing of log entries. I just wish to send pure log lines from docker logs to elasticsearch. Example config part:
[code]

This con

[2017-12-19 18:38] pickypg opened #5921 "[Index Template] Use index.auto_expand_replicas '0-1'"
The Beats index / indices should consider using the `index.auto_expand_replicas` setting, set to `"0-1"` in favor of `index.number_of_replicas` set to `1` (or leaving it as the default).

Doing so will allow single node (e.g., dev) clusters to startup as green, which gives a better getting started experience.

[2017-12-19 20:19] dilchenko commented on #5896
As of right now, I have confirmed that https://github.com/systemd/systemd/pull/5916 would fix the issue, minus logs being spammed with warning messages. Working on testing metric filters.

[2017-12-19 22:50] ruflin commented on #5921
@pickypg Interesting, wasn't aware of this option. At the moment we don't set it at all (I think) and use the default from ES. Do we have to change anything in this case?

[2017-12-19 22:54] pickypg commented on #5921
@ruflin The default value for the setting is `false`, which disables it. The change on the Beats template would be to add `auto_expand_replicas` as an extra setting to the template. For example:

[code]

As with all `index.*` settings, you can choose to prefix it with `index.` or simply drop it (e.g., just `auto_expand_replicas`). FYI, when `auto_expand_replicas` is set, `number_of_replicas` is ig

[2017-12-19 23:01] ruflin commented on #5921
Great. It's pretty simple for us to add such settings to our config like we do here for shards: https://github.com/elastic/beats/blob/master/filebeat/filebeat.yml#L81 It would be nice if the two could be merged because I worry that people will try to set both.

[2017-12-20 01:13] exekias opened #5930 "Kubernetes manifests point to unreleased docker images in master"
master version of kubernetes manifests point to an unreleased version: https://github.com/elastic/beats/blob/master/deploy/kubernetes/metricbeat-kubernetes.yaml#L96

Users reading docs from master will hit an issue while deploying this, as the image doesn't exist in our docker registry.

We should come up with a solution that sets a safe version in master

Related: https://discuss.elastic.co/t/met

[2017-12-20 01:56] kiju98 commented on #3306
Hi @andrewkroh @simianhacker
I have a user who is affected by this issue.
Do you have any update?
Thanks and Regards,
Kiju

[2017-12-20 03:10] ruflin commented on #5862
@ph I wonder if the first low hanging fruit would be to create an tcp prospector / input and then build the other features on top of it?

[2017-12-20 03:19] ruflin commented on #5843
Filebeat currently does not use `fsnotify` because it is not supported in all OS, but we are discussing adding it. In my experience there are edge cases where files are modified (especially on windows) but the mod time is not updated.

For your used case: Can you give a bit more details? Are these log files which are rotated? Or are they only written once?

[2017-12-20 03:35] ruflin commented on #5876
Thanks a lot for putting all this effort in and test the different system. It's definitively a problem we need to start tackling more active with filebeat. I think the most important step on our side is to make it pluggable how files are compared so any of the 3 options mentioned above could be used and more could be added. First steps have been made but we are not there yet.

You are definitively

[2017-12-20 04:31] jsoref commented on #5876
I don't have a particularly good sense of the story for inodes.

https://lists.freebsd.org/pipermail/freebsd-hackers/2010-February/030746.html seems to indicate that inodes are figments created as requested.

https://github.com/zfsonlinux/zfs is the project that handles the Linux kernel implementation.
#zfsonlinux on freenode.

Afaict, these things are probably moderately reliable until a computer

[2017-12-20 04:38] ruflin commented on #5837
@vjsamuel Does the `/` have some special meaning that you use it over a `.` for example?

To get started I think it's easier that we are specific by using the specific beat name as @exekias suggested but looking forward it would be great to just say get me everything form container x that you can fetch (logs, metrics, ...).

[2017-12-20 05:31] kingluo commented on #5843
The detail is straightforward: the app generates log files in minute interval, i.e. one log file per minute, and one subdir to contains all log files per day. The log file is appended only, no rotation.
It seems that filebeat struggling to maintain huge registry for tons of subdirs/files, so when I make workaround as mentioned above to limit the files managed by filebeat, it works as expected.

[2017-12-20 08:26] y0299 commented on #5347
@ruflin do you have some documents to explain the elements  in fields.yml, or how to override it in practise?

[2017-12-20 08:27] andig commented on #3744
Not sure this is related but looking at https://discuss.elastic.co/t/metricbeat-timestamp-mapping-as-string-type-should-be-date/112521 I've noticed that metricbeat timestamp is not even a `date` but a `string` according to the index mapping- might this be part of the issue?

[2017-12-20 10:21] walktall opened #5932 "add_kubernetes_metadata processors supports more k8s resources"
Now add_kubernetes_metadata only supports pods, it is fine for enriching logs with pod meta.

But when using metricbeats to persist k8s events, I also want to enrich the event item with involved object's label and annotations, so resources meta caches for other resources are needed too.

I think it can be achieved by adding some resource watchers in add_kubernetes_metadata processors.

Is there an

[2017-12-20 10:33] zytek commented on #5920
FYI, I've manually loaded template that I altered to mention "log" field and set it type to "text", the same as "message" field. Kibana now behaves properly when searching for log events. This should be the default configuration, I can assist in fixing this if you'll guide me a lil bit ;-)

[2017-12-20 11:10] exekias opened #5934 "Update Filebeat Kubernetes manifests to use `docker` prospector"
https://github.com/elastic/beats/pull/5402 was released already, we should update Kubernetes manifests to take benefit from it.

This also fixes #5920

[2017-12-20 11:10] exekias commented on #5920
Good catch! and thank you for reporting, we should actually switch defaults to use the new `docker` prospector, it will both decode JSON automatically, extract the timestamp, and **put log lines under `message` key**, which is mapped.

I have created https://github.com/elastic/beats/issues/5934, you are more than welcome to contribute with this change, I'll take it at some point soon if you are no