[2020-07-15 10:51] sorantis opened #19942 "[Autodiscover] Add co.elastic.metrics/jmx.mappings to Autodiscover hints"
Users are asking for a dedicated hint for jmx: `co.elastic.metrics/jmx.mappings` instead of using `raw`.
Add this hint to simplify autodiscovery for Java based applications.

[2020-07-15 10:51] elasticmachine commented on #19942
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-07-15 10:58] atoom commented on #19825
It would probably work but publishing two events on the internal bus for each docker event would probably not be what subscribers initially excpect and could lead to some undesired behaviour i.e. double processing of some logic if not reading the docs carefully ?

[2020-07-15 12:06] amandahla commented on #13106
News here? I did a quick search and unfortunately didn't find a go-native way to connect with DB2 like the others databases, all drivers uses CGO. Same for ODBC :(
Same problem since last year, I guess.

[2020-07-15 12:42] andrewkroh commented on #19834
Could you please elaborate on this request. So you would like a way to configure the DNS server that a Beat uses and ignore the system's default resolver?

This would not be an enhancement that's specific to Winlogbeat as it would affect all beats (primarily because all of the output code is from libbeat).

[2020-07-15 13:02] andrewstucki commented on #19921
Just FYI I did a bit more experimentation and was able to cross-compile most architectures out of the box with compilers I found at https://musl.cc/ -- the exceptions: `arm*` due to the binutils in the toolchains not coming with the `gold` linker, which, for some reason the go compiler has an explicit check for on arm (so we'd need to modify/build a toolchain with `gold` if we'd want that to work)

[2020-07-15 13:22] BenB196 opened #19943 "[Filebeat][Cisco ASA Module] Cisco ASA Module does not follow ECS 1.4"
The Cisco ASA module in Filebeat does not adhere to ECS 1.4 for the event.outcome field.

According to ECS 1.4 event.outcome should have a value one of the 3 specific keywords:

[code]

However, events received from this module include values of:
- denied
- deny
- Deny

Snippets of some examples:

[code]
[code]
[code]

This was spotted while filing: https://github.com/elastic/detection-rules/issue

[2020-07-15 13:28] michalpristas commented on #19369
assigning me as i'm playing with it

[2020-07-15 13:31] adriansr commented on #19921
Great initiative @andrewstucki, would love to see our binaries losing some weight.

Is this intended for Linux only? I'm curious about the usage of `upx` for Windows binaries, whether it can cause some trouble with binary analyzers flagging us as malware or is that a thing of the past?

Also, do you think the usage of `upx -9` can cause a significant increase in startup times? IIRC there was some

[2020-07-15 13:32] kaiyan-sheng commented on #18664
@andresrc Yes everything is done for this issue. Thanks for checking!

[2020-07-15 13:32] #18664 closed

[2020-07-15 13:38] ph commented on #19369
I've haven't been able to reproduce it, looking at the error its maybe a package that we install via EPM. :(

[2020-07-15 13:53] sorantis commented on #19940
Correct, the warning message could actually link to the detailed guide you mentioned.

[2020-07-15 14:01] andrewstucki commented on #19921
@adriansr , so yeah those are valid points. Bringing this up in the Linux context primarily because I artificially joined the two issues of static Linux builds and code packing together--namely because both change the way we build out the binaries and have size implications. 😬

That said, with regard to packing. I ran a 64 bit dynamically linked mac build at the default upx packing level and saw a

[2020-07-15 14:10] sorantis commented on #13106
There's a [go driver for DB2](https://github.com/ibmdb/go_ibm_db), not sure how stable it is though.

[2020-07-15 14:10] aleksmaus commented on #19911
Did some testing.
Reproducable on 7.8 branch, not reproducable on master branch.

This looks to be fixed here
https://github.com/elastic/beats/commit/52765c423868dfa8d93e33997c69d41018a7ebbf#diff-ede3f69796ae7b221405174f187a241dR440

isStreamGzipped returns false for empty files and it skips gzip reader.
Probably just needs to be backported to 7.x. Not sure what are the procedures.
Let me know if

[2020-07-15 14:13] ph opened #19946 "[Elastic-Agent] Test to make sure persisted install works"
We are depending on the beats packaging system to package the elastic-agent correctly, we need to test and ensure that following is working correctly.

- Windows with a powershell installer script.
- Linux DEB package
- Linux RPM package

We need to ensure that the elastic-agent works with the above artifacts:

- Can run Filebeat
- Can run Metricbeat
- Can install Endpoint and run it.
- Data is co

[2020-07-15 14:13] elasticmachine commented on #19946
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-15 14:13] adriansr commented on #19941
Also tested under Windows, no similar bug in there.

[2020-07-15 14:18] exekias commented on #19911
This was backported to 7.x (will be available in 7.9): https://github.com/elastic/beats/pull/18937. I guess we can close this?

[2020-07-15 14:23] blakerouse commented on #19946
Testing on Ubuntu 20.04 from DEB results in configuration being read from the wrong location.

[code]

Looking at the installed script in path, looks like `path.config` is set correctly. But the binary is not reading that option it seems.

[code]

The installer does place the config in the correct path.

[code]

[2020-07-15 14:25] aleksmaus commented on #19911
Awesome! Close and ship.

[2020-07-15 14:26] EricDavisX commented on #19760
it looks fixed to me, as tested on the same environment - unsure what the cause was, but it was a hectic week with snapshots broken etc.  i'm going to close this to clear noise.

fix-confirmed in 7.9 latest snapshot available as of 7/15 am

[2020-07-15 14:26] #19760 closed

[2020-07-15 15:29] elasticmachine commented on #19937
Pinging @elastic/integrations (Team:Integrations)

[2020-07-15 15:36] kaiyan-sheng commented on #19902
Hi @lag13 sorry we missed the discuss issue! This does look like a bug to me so thank you for creating this issue. One question: What does AWS Cloudflare set for the `content-type`?

[2020-07-15 15:48] lag13 commented on #19902
That's fine! I'm glad you saw this one :). Cloudflare (and it's just cloudflare, not "AWS cloudflare" https://www.cloudflare.com/) sets the `content-type` to `application/json` for the S3 objects it creates. Not sure if **should** be setting it to that (since the file is a separate json object on each line) but I have no control over it unfortunately and I feel like, regardless, the s3 input plugi

[2020-07-15 15:53] fearful-symmetry commented on #19937
@jlvrhee Can you disable the system module so we can try and see where this is coming from? If the issue persists with just the docker module, it's something in there, otherwise we know it's something in the system module.

[2020-07-15 15:58] fearful-symmetry commented on #19937
Also, @jlvrhee is there a chance you could upgrade to 7.8? The problem may be fixed in a newer version.

[2020-07-15 15:59] kaiyan-sheng commented on #19901
Hi @kwinstonix thanks for creating this issue. Do you know if there is a way to reproduce this problem? Looking at the code, we are setting eventID based on objectHash and offset(https://github.com/elastic/beats/blob/master/x-pack/filebeat/input/s3/input.go#L638). When a file failed to process, the SQS message should go back to the queue and then the whole/same file would be re-processed later. Th

[2020-07-15 16:09] andrii-litvinov commented on #11834
As a workaround for this issue, I reverted to regular filebeat inputs and modules configuration. K8s log file names contain information about namespace, pod name and container name, which is enough in most of the scenarios to configure inputs and modules. So far so good except `add_kubernetes_metadata` doesn't provide data right from filebeat start, so some log entries are being shipped without K8

[2020-07-15 17:25] kwinstonix commented on #19901
Thanks for the reply, I see the event _id in filebeat event, but i use Kafak output instead of Elastic Search , so I can't set the doc Id in ElasticSearch. Hash Id is a solution, I just wonder whether there is a way to set the offset of s3 in object🤔

[2020-07-15 17:32] kwinstonix commented on #19901
Only when the input is local file, the offset position is recorded into registry. Is it right?

[2020-07-15 17:36] sagarkal commented on #5519
Hi,

We need this feature too

[2020-07-15 18:09] dedemorton opened #19955 "[Agent] Mention that Elastic Agent must be run as SYSTEM on Windows when using Endpoint"
**Describe the enhancement:**
Add a statement to the current docs where we describe running the Elastic Agent to make it clear that Windows users must run as SYSTEM to use Endpoint.

[2020-07-15 18:09] elasticmachine commented on #19955
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-15 18:49] kaiyan-sheng commented on #19940
Good point! We should have warning message in the documentation for all public cloud providers. I will take this issue and create a PR for AWS. Thank you!

[2020-07-15 19:11] kaiyan-sheng commented on #19901
Ahh I think I found a bug in the code about offset. Will fix that soon!

[2020-07-15 19:40] MakoWish commented on #18659
Any update on this? Issue has been open for nearly a year and is still present on 7.8.0.

[2020-07-15 19:51] getkub commented on #1034
Same error as @tientmse62290
I went further and tried to fix the problems, and it is a nightmare of dependencies

[code]

the above doesn't work

Then I tried to compile llvm from source
[code]

[code]

I was fedup and thought, might go with Syslog !!

[2020-07-15 20:58] tonymeehan commented on #19955
Would this statement make its way to the download page instructions as well? https://www.elastic.co/downloads/elastic-agent

[2020-07-15 21:16] EricDavisX opened #19961 "[Ingest Manager] 7.9 BC1 Agent is not able to download a corresponding 7.9 Endpoint-Security artifact from the BC location"
7.9 BC1 Agent is not able to download a corresponding 7.9 Endpoint-Security artifact from the BC location

For confirmed bugs, please report:
- Version: 7.9 BC1 (and latest 7.9 Stack code in cloud staging deploy)
- Operating System: win 7 x64 for Agent.
- Steps to Reproduce:
1) deploy the latest 7.9 stack to cloud, i"m using SNAPSHOT available as of 5PM 7/15
2) setup Ingest Manager / Fleet and cop

[2020-07-15 21:17] elasticmachine commented on #19961
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-15 21:20] ph commented on #19961
[code]

Using this allows you to configure the source of the binaries? Would that be fine for testing BC?
The artifact doesn't knows its a BC and I don't think we can solve it another way?

 @EricDavisX @Conky5

[2020-07-15 21:20] EricDavisX commented on #19961
@ph says he knows what we need to do, excellent.  copying chat:

Chris Koehnke  10 minutes ago
The HTML report links to the artifacts in the staging location, with the build-id for this given build.
https://staging.elastic.co/7.9.0-33ee764c/downloads/endpoint-dev/endpoint-security-7.9.0-linux-x86.tar.gz

Chris Koehnke  9 minutes ago
So the agent would need to know to download from there somehow to

[2020-07-15 21:22] ph commented on #19955
@tonymeehan I think it would be nice to add it, let me try figure out where it land. web team or infra.

[2020-07-15 21:28] ph commented on #19961
@EricDavisX what URI you are referring here we should enhance the Agent uri source for binaries to change from the SNAPSHOT location to the coming BC location ? That URI would be different for every BC?

[2020-07-15 21:33] tonymeehan commented on #19961
I agree with @ph. I think in order to avoid making configuration changes in BC's in staging, we'd have to update the agent binary to use the staging URL by default (not sure how we'd get the specific URL in there since it contains the git commit hash). If we did this, then when the BC is copied to production, users would have to change the sourceURI again.

Unrelated, @ph, what should sourceURI be

[2020-07-15 21:35] Securitybits-io commented on #1034
Hi @tientmse62290  and @getkub

I wrote a blogpost about compiling beats for FreeBSD a while back:
https://blog.securitybits.io/2019/12/beats-7.5.0-on-pfsense-2.4.4/
I just compiled 7.8 with these instructions. based from @Jakommo

Just change:
`git checkout 7.5.0`
To:
`git checkout 7.8`
To get the most recent builds.

[2020-07-15 21:43] getkub commented on #1034
hi mate
Yes I tried it and without checkout (as the recent one was 7.8) and hit the above problem while doing gmake
may be you have an old copy of clang or c++ compilers within your system?

[2020-07-15 22:02] Securitybits-io commented on #1034
Cool, did you follow all the instructions, including the vagrant part?
I usually run a debian based system, so i utilized vagrant to get me a clean FreeBSD to compile the beats on?
By using vagrant, i try to remove the "it works on my computer" problem! :)

[2020-07-15 22:38] kaiyan-sheng commented on #19902
@lag13 I just created an initial PR for fixing this issue. Do you mind sending me a real log file from Cloudflare for testing? Please feel free to review/test it. Thanks!

[2020-07-15 23:39] tonymeehan commented on #19961
Got it to work. My problem was that I was modifying the elastic-agent.yml file when the agent was running in Fleet mode. In that case, the configuration must be added to fleet.yml in order to be picked up by the agent. If it was running in standalone mode, you could add this configuration to elastic-agent.yml. It's maybe a bit too confusing for users?

I also had to update sourceURI to this:

[cod

[2020-07-15 23:51] liza-mae opened #19964 "Filebeat setup error on machine-learning"
- Version: 7.9.0 BC1
- Operating System: Ubuntu 16
- Steps to Reproduce:
Install and run ES/Kibana.
Install Filebeat.
Run
[code]
Not sure if this related to another issue I opened elastic/beats#12998 and it is now just throwing a different error in 7.9 or if it is a new error.

[2020-07-15 23:51] elasticmachine commented on #19964
Pinging @elastic/integrations (Team:Integrations)

[2020-07-16 00:24] liza-mae opened #19965 "Filebeat setup is not creating index pattern in kibana"
- Version: 7.9.0 BC1
- Operating System: Ubuntu 16
- Steps to Reproduce:
Install and run ES/Kibana.
Install Filebeat.

Due to #19964 - I tried running ```./filebeat setup --dashboards``` instead to get around it and it seemed to pass,
Loading dashboards (Kibana must be running and reachable)
Loaded dashboards

However, it is not creating the index and even using filebeat setup does not create inde

[2020-07-16 00:24] elasticmachine commented on #19965
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-16 00:24] elasticmachine commented on #19965
Pinging @elastic/integrations (Team:Integrations)

[2020-07-16 01:03] LeeDr commented on #19965
I hit the same problem with 7.9.0 BC1 on centOS 7.  Kibana debug logs didn't show anything related to it.

[2020-07-16 06:38] mdelapenya opened #19976 "[Elastic Agent] Panic error while enrolling an agent with a revoked token"
## Runtime metadata
- Version: Latest 8.0.0-SNAPSHOT
- Operating System: Centos 7 Docker

## Steps to Reproduce:
1. setup Fleet
1. Create a token
1. Start a Centos 7 docker container in the same network as Kibana, ES and package-registry
1. Install latests SNAPSHOT for the agent in the container (https://www.elastic.co/guide/en/ingest-management/current/elastic-agent-installation.html)
1. Use the

[2020-07-16 06:39] elasticmachine commented on #19976
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-16 06:39] mdelapenya commented on #19976
cc/ @EricDavisX

[2020-07-16 06:42] getkub commented on #1034
That's my mistake. I tried to do directly on the freeBSD server (in pfsense). seems they have customised it. So it all worked perfectly with vagrant . cheers mate

[2020-07-16 06:44] michalpristas commented on #19976
will take a look thanks for reporting

[2020-07-16 06:57] Securitybits-io commented on #1034
No problem! Glad it worked! Happy logging!
As soon as Github enables Github-actions FreeBSD Containers, that would be an alternative as well with a form and automatic build.

[2020-07-16 07:52] elasticmachine commented on #19938
Pinging @elastic/siem (Team:SIEM)

[2020-07-16 07:52] elasticmachine commented on #19943
Pinging @elastic/siem (Team:SIEM)

[2020-07-16 07:59] exekias commented on #15505
@ChrsMark I'm wondering... is Prometheus server a mandatory piece in Istio deployments?

[2020-07-16 08:20] sayden commented on #18659
Can you open an ER in Beats GH? That's the reason why we haven't come up to fix this yet. Thanks!

[2020-07-16 08:28] michalpristas commented on #19961
@tonymeehan can we close this?

[2020-07-16 08:52] #19976 closed

[2020-07-16 10:33] urso commented on #19921
dlopen MUST function. It is not just librpm, but other C-libs as well. For example libs for Oracle Database we can't just link statically. There is always the chance that there is no go-native library. This is why we enable CGO in the past (originally Beats have been build with CGO disabled).

When statically linking MUSL, it becomes a hard dependency. Bugs and security issues in the MUSL version

[2020-07-16 10:34] exekias commented on #13589
This was fixed here: https://github.com/elastic/beats/pull/12790, so deployments using newer manifests should not be affected. Do we still see this happening?

[2020-07-16 10:37] v1v opened #19986 "[CI] Set MODULE per relevant stage"
https://github.com/elastic/beats/issues/18741 was done but the regex in place is such a generic one that did not filter per module.

For instance, given the changeset:

[code]

The current value for the environment variable `MODULE is 'auditd'` when running the Integration tests stage for the `metricbeat`, when the expected output should be `''`

## Test Scenarios

The below test scenarios should

[2020-07-16 10:37] elasticmachine commented on #13589
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-07-16 10:40] andresrc commented on #19511
For the case of PCF in particular, it seems that most deployments also contain redis, operators are familiar with it and we already have the client library in. Could this be an option instead of taking care of the cache ourselves?

[2020-07-16 10:40] exekias commented on #13589
I've seen that our helm-charts have hostNetwork disabled by default: https://github.com/elastic/helm-charts/blob/480a19413024cab7f9ea96e2d40078bc2247ce2d/filebeat/values.yaml#L53, which would cause this issue. Maybe we can open a PR to switch the default to `true`, like in our reference manifests.

As for a longer term solution I think @jsoriano points here are good, some options are:

- Make `add

[2020-07-16 11:48] amandahla commented on #13106
Yes, but it seems that it uses CGO also, not native. :(

[2020-07-16 12:24] ph commented on #19961
let's keep it open for now.

@michalpristas I though we merged both configuration files?

- Read elastic-agent.yml
- Read fleet.yml
- merge both?

If we change  to that behavior that would remove some confusion?

@michalpristas @tonymeehan

I think we should do this for next BC https://github.com/elastic/beats/issues/19623 ?

[2020-07-16 12:31] ChrsMark commented on #13589
I think that Helm charts have hostNetwork disabled intentionally (cc: @jmlrt ).  See https://github.com/elastic/observability-dev/issues/666#issuecomment-607220803.

[2020-07-16 13:11] kvch commented on #19964
`--setup` has been removed from Beats 1.5 years ago: https://github.com/elastic/beats/pull/10138

I have also downloaded the latest BC for 7.9, but the binary does not provide a `--setup` flag. Are you sure you are running 7.9?

[2020-07-16 13:16] liza-mae commented on #19964
@kvch that was a typo in my description it's not --setup it's filebeat setup.

[2020-07-16 13:27] kvch opened #19990 "Identify files based on their contents in Filebeat"
Now multiple options are available to identify files in Filebeat: `native`, `path` and `inode_marker` since #18748. These options provide a quick method to generate an identifier for a file. However, in some use cases or on platforms these might not be sufficient.

More advanced identification can be implemented by fingerprinting full or partial contents of a file.

Follow up issue of elastic/beat

[2020-07-16 13:27] elasticmachine commented on #19990
Pinging @elastic/integrations-services (Team:Services)

[2020-07-16 13:27] #13492 closed

[2020-07-16 13:27] kvch commented on #13492
Follow up in #19990

[2020-07-16 13:43] liza-mae commented on #19965
@LeeDr after looking at this closer, I would consider it a blocker since it is causing wider problems in Kibana when creating this index manually and more so when it is the default index pattern.

![Screenshot from 2020-07-16 07-37-21](https://user-images.githubusercontent.com/23424008/87678264-f70a5680-c737-11ea-93d4-f139765556c1.png)

[2020-07-16 13:49] ph commented on #19724
@blakerouse I think that was fixed in https://github.com/elastic/beats/pull/19857 ?

[2020-07-16 13:53] pulkits1998 opened #19991 "Display Processing Details for Filebeat"
I have 100 logs files in a directory and each log file contains 10000 log lines (Assume that no new file will be added or deleted or modified). I started filebeat giving path to the log directory.

At the end, when processing of all files is completed, I want :

- Number of files processed

- Number of log lines processed

- Number of successfully sent log lines

- Number of failed log lines

- To

[2020-07-16 13:58] blakerouse commented on #19724
No this is different. A new top level field of `status` was added to checkin, which we need to instrument a way to calculate that status. At the moment Agent doesn't compute an overall status for the Agent to send to Fleet.

[2020-07-16 14:04] kaiyan-sheng commented on #19901
This should be fixed as a part of https://github.com/elastic/beats/pull/19962, still in progress and need more testing.

[2020-07-16 14:05] kvch commented on #19964
Have you modified the configuration files? If yes, could you please share it?
Are you connecting to an OSS version of ES and Kibana?

I have tried reproducing the issue multiple times with different configurations. So far no success.

[2020-07-16 14:19] jmlrt commented on #13589
Yes, we have `hostNetwork` disabled in default values for both Filebeat and Metricbeat charts.

The main reason is that some K8S providers may not allow enabling `hostNetwork`.

But also that only one Filebeat/Metricbeat pod can be deployed per node with `hostNetwork` (unless youmanually configure a different port for each pod) which may not be compatible with some multi-tenant k8s architecture li

[2020-07-16 14:20] liza-mae commented on #19964
@kvch it is with security enabled, machine learning is not part of OSS maybe that is why it is not seen there?  I have not tried it.  The config only has my security settings, as follows:

[code]

[2020-07-16 14:26] kvch commented on #19479
@KEVISONG Could you please test again? There were several changes in Beat generators in the last few days.

[2020-07-16 14:27] MakoWish commented on #18659
I don't believe this is a Beats issue. This is a Kibana visualization issue.

[2020-07-16 14:48] jlvrhee commented on #19937
Thanks for the suggestion. We will start working on these and let you know

[2020-07-16 15:12] blakerouse commented on #19946
I have confirmed that on Windows the `install-service-elastic-agent.ps1` and `uninstall-service-elastic-agent.ps1` also work.

Closing this bug, because the DEB and RPM's are fixed and Windows works correctly.

[2020-07-16 15:12] #19946 closed

[2020-07-16 15:26] lag13 commented on #19902
@kaiyan-sheng Thanks so much!!! I think what you have in your PR works just fine. The important bit is those separate json objects per line. That being said, the cloudflare logs looks like this:
[code]

[2020-07-16 16:00] MorrieAtElastic opened #19996 "Support/Document Enabling Multiple Beat Processes On A Single Host Server"
**Describe the enhancement:**
- Something that our customers frequently do is to run multiple versions of the same beat process off of the same server.

- This is typically true of filebeat; it allows users to run different versions of filebeat to read different input streams and write to different indexes.

- I don't know if this is or is not supported: I'm not able to find any discussion of it i

[2020-07-16 16:02] elasticmachine commented on #19996
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-16 16:05] mdymel opened #19997 "Metricbeat - RabbitMQ - total message counts not reported"
It doesn't seem possible to visualize total message counts in Kibana when using RabbitMQ Metricbeat.

The RMQ Management Plugin displays it at the top of the overview:
![image](https://user-images.githubusercontent.com/418910/87694806-f2bd5800-c78e-11ea-9b5c-2b12ad546e5e.png)

This information is not sent in the node metrics.

[2020-07-16 16:06] blakerouse commented on #19813
Forgot to say I tested this on Windows 10.

[2020-07-16 16:08] lag13 commented on #19902
I took a quick look at your PR. I'll try to test it out myself before tomorrow.

[2020-07-16 17:15] ph commented on #19961
discussing with @crowens over slack and he proposed to add a new flag at enrollment time to allow to configure the source of artifacts. I think this would be an acceptable choice we could keep as undocumented.

[2020-07-16 17:21] crowens commented on #19961
The idea was all @tsg's.  He said elasticsearch has something similar for plugins.  He can fill in details if needed.

[2020-07-16 17:44] tsg commented on #19961
Yeah, Elasticsearch uses an env variable, e.g.:

[code]

you can see the instructions at the end of the artifacts HTML page, for example, [this one](https://staging.elastic.co/7.9.0-33ee764c/summary-7.9.0.html). BTW, if we do this, it would be nice to add it to that HTML page as well.

[2020-07-16 18:31] EricDavisX commented on #19961
I put a work-around script into this pr:
https://github.com/elastic/endpoint-app-team/pull/590
 - it downloads the Agent and Endpoint (and sha) files and unarchives, copies Endpoint files in, and re-archives it - so it can be copied to a shared location, like a QA Google drive.  The run-time enrollment option is definition preferred as it would still be testing the 'download' of the Endpoint, but

[2020-07-16 19:00] maxverro opened #20001 "New Module Request : MSSQL Audit Module"
Hi,

This is a request to add a new MSSQL Audit Module possibly to Winlogbeat as it would make sense since MSSQL Audit is published directly to the Windows Event Log. If this is something that you see as a possibility for Winlogbeat I could summit a PR.

## Use case
To enable our SOC team staff to detect and respond in a constant manner to possible malicious MSSQL Server changes or malicious syste

[2020-07-16 19:10] mdiehm commented on #19649
Is there anything I can provide to get some more clarification in this issue? Can you reconstruct the problem? Is it a problem at all or a configuration issue?

[2020-07-16 20:08] ph commented on #18825
@nchaulet Can you confirm the behavior in https://github.com/elastic/beats/issues/18825#issuecomment-639689838 and https://github.com/elastic/beats/issues/18825#issuecomment-639693149

[2020-07-16 20:21] EricDavisX opened #20006 "[Ingest Manager] When I unenroll the Agent it doesn't disappear from UI (remains in unenrolling state)"
[Ingest Manager] When I unenroll the Agent it doesn't disappear from UI (remains in unenrolling state)
 - possibly regressing / coming from this related change: https://github.com/elastic/beats/issues/18825

For confirmed bugs, please report:
- Version: 7.9 near-BC1 snapshot (from 7/15 afternoon) - kibana commit: e5eadb02
Agent is from 7/16 Beats CI build.
image:
<img width="828" alt="Screen Shot

[2020-07-16 20:21] elasticmachine commented on #20006
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-16 20:37] andrewvc opened #20007 "[Heartbeat] Rootless ping doesn't work on OSX"
We have a report from @josephPresseller that rootless ping on OSX doesn't work. It appears to produce documents with errors like:

[code]

which indicate that we're trying a rootless ping but don't have perms. Running as root fixes this, but we can do better on OSX, and should instead fail to start, giving a permissions error.

[2020-07-16 20:38] elasticmachine commented on #20007
Pinging @elastic/uptime (Team:Uptime)

[2020-07-16 20:58] ph opened #20009 "[Elastic Agent] Should add event.dataset to the logs and metric collected by the agent"
Should we add the `event.dataset` in the logs collected by the elastic agent, this might be an issue with all the integrations.
We already have this information in the `dataset.name` so we could just copy it over.

This seems to affect the siem app and the ml app.

[2020-07-16 20:58] elasticmachine commented on #20009
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-16 21:00] EricDavisX commented on #20009
@bradenlpreston @crowens is this something you were following up on too?

[2020-07-16 21:11] crowens commented on #20009
@james-elastic and/or @jonathan-buttner are going to look at this I think.

[2020-07-16 21:15] james-elastic commented on #20009
Thanks we'll look into this

[2020-07-16 23:02] andrewkroh opened #20010 "[Filebeat] Flaky test test_inode_marker_based_identity_tracking"
## Flaky Test

* **Test Name:** test_inode_marker_based_identity_tracking
* **Link:** https://github.com/elastic/beats/blob/8ff6894cab0591cc3a898d7abd6a9103e535efdd/filebeat/tests/system/test_input.py#L717
* **Branch:** master
* **Artifact Link:** https://travis-ci.org/github/elastic/beats/jobs/708873325#L782-L791
* **Notes:** Additional details about the test. e.g. theory as to failure cause

###

[2020-07-17 00:52] z3ndrag0n commented on #11803
Folks please don't let this one die. It's important *especially* in cloud environments where the cloud provider has no commitment to not over-provisioning.

[2020-07-17 03:02] EricDavisX commented on #20009
are there other data fields we'd need to add?  Just mentioning, I expect its not just the one.  And thanks PH for logging it.  :)

[2020-07-17 03:15] #19928 closed

[2020-07-17 06:45] wixaw commented on #19141
Hello
7.8 dont fix this issue for me
I take this opportunity to say that commenting on "socket" reduced the CPU, but after a while the CPU increased again
Whereas with 7.5 auditbeat was completely transparent on my servers
Now It is only on servers where there is Apache that it does not work properly
I'm still using the original configuration file

![image](https://user-images.githubusercontent.co

[2020-07-17 06:51] #19986 closed

[2020-07-17 06:57] elasticmachine commented on #20010
Pinging @elastic/integrations-services (Team:Services)

[2020-07-17 06:59] elasticmachine commented on #20001
Pinging @elastic/siem (Team:SIEM)

[2020-07-17 06:59] elasticmachine commented on #19997
Pinging @elastic/integrations-services (Team:Services)

[2020-07-17 07:00] elasticmachine commented on #19991
Pinging @elastic/integrations-services (Team:Services)

[2020-07-17 08:23] #19941 closed

[2020-07-17 11:15] elasticmachine commented on #19937
Pinging @elastic/integrations-services (Team:Services)

[2020-07-17 11:17] elasticmachine commented on #19964
Pinging @elastic/integrations-services (Team:Services)

[2020-07-17 11:18] elasticmachine commented on #19875
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-07-17 11:24] jlvrhee commented on #19937
I have disabled the system module by commenting out that whole section. I have tested with below docker module set and then it still gives this error after some time. Next step I will install 7.8 and see if it still fails then.

[code]

[2020-07-17 11:28] jlvrhee commented on #19937
Is there a way we could change the debug logging so we could see which field gives this issue? Like you did with : https://github.com/elastic/beats/issues/11283#issuecomment-480334437

[2020-07-17 11:46] michalpristas commented on #20006
do you have agent logs available? did ACK to action arrived?

[2020-07-17 12:17] MikePaquette opened #20022 ""Error setting up ML for apache_ecs:" when running filebeat setup"
For confirmed bugs, please report:
- Elasticsearch Version: 7.9.0 BC2
- Filebeat Version: 7.9.0 BC2
- Operating System: macOS10.14.6
- Steps to Reproduce:

mikep$ `./filebeat modules enable system`
Enabled system
mikep$ `./filebeat setup`
Overwriting ILM policy is disabled. Set `setup.ilm.overwrite: true` for enabling.
Index setup finished.
Loading dashboards (Kibana must be running and reachable)

[2020-07-17 12:41] nchaulet commented on #18825
When an user click on unenroll we save on the agent the property `unenrollment_started_at` when the agent confirm the unenrollment we save `unenrolled_at` these fields are exposed in the API not in the UI.

[2020-07-17 13:29] ph commented on #18825
@nchaulet If the Agent unenroll but never confirm we still invalidate the key?

[2020-07-17 13:35] #19853 closed

[2020-07-17 13:36] nchaulet commented on #18825
No if the agent never confirm, you will need to be manually force unenroll (currently only available with an API call, but can expose this in the UI for agent that are currently unenrolling)

[2020-07-17 13:39] #19911 closed

[2020-07-17 13:47] elasticmachine commented on #19435
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-07-17 13:56] mgovolt commented on #17347
An update: I've found that the only difference in the file is file.mtime was updated. To me, it looks like the file integrity module is flagging a change if file.mtime is different, when it should be only triggering on the hash.

[2020-07-17 14:08] blakerouse commented on #18825
I think we should expose like a `Force Unenroll` in the UI, because I keep getting into a situation where I have agents that will never be removed from the list.

Example is I enroll the agent, then I enroll the same agent again. Now I have 2 in the list, 1 online and 1 offline. If I unenroll the first enrollment it will sit in `Unenrolling` forever because that agent has completely been replaced

[2020-07-17 14:36] nchaulet commented on #18825
@hbharding what do you think of having a `force unenroll` action when a agent is unenrolling?
<img width="1004" alt="Screen Shot 2020-07-17 at 10 36 20 AM" src="https://user-images.githubusercontent.com/1336873/87797924-5d1ada80-c819-11ea-870e-317dd0519203.png">

[2020-07-17 14:41] urso opened #20029 "Verify and improve syslog input ECS compatibility"
The syslog input in Filebeat reports similar fields for the different sources UDP, TCP, and Unix Socket. The docs state that `logs.syslog` namespace is used, but from testing the input it seems like the inputs still use the top-level namespace `syslog`. The priority and facility labels also don't seem to be in line with ECS.

We should double check fields for equivalents in ECS and update the inpu

[2020-07-17 14:42] elasticmachine commented on #20029
Pinging @elastic/integrations-services (Team:Services)

[2020-07-17 14:47] fearful-symmetry commented on #19937
@jlvrhee We modified the source code to to get some of that extra debugging. I'm hoping that 7.8 fixes the issue.

[2020-07-17 14:53] ph commented on #18825
@nchaulet I think we need to solve it in two steps:

- Having a force unenroll action.
- Having a timeout when force unenroll is executed.

We need to make sure the APIs keys are _invalidated_ when unenroll is executed.

[2020-07-17 14:56] nchaulet commented on #18825
I discussed this with @ruflin and we agreed that the timeout is more complex to implement as it needs background task, and in a first step for beta1 the timeout could be a manual action via an API call, or what I propose in the UI.

[2020-07-17 15:57] #19961 closed

[2020-07-17 16:05] ph commented on #18825
@nchaulet OK, lets do the following:

1. If we can add a force without too much effort lets do it.
- Create an issue for having the timeout in 7.10 and add it to the tracking issue?

I think we close this issue after 1

[2020-07-17 16:14] andrewkroh commented on #20010
I added a skip in #19960 .

[2020-07-17 16:27] jsoriano commented on #19511
I think so, this is the kind of implementation I was thinking of when I mentioned that cache could be shared between beats, but I didn't want to enter on the specific implementation to use at this point. I would still think on having caches that don't require an external service, for scenarios where there is no one available for this.

Take also into account that if we use something like `bbolt` w

[2020-07-17 17:42] vi-or-die opened #20035 "Crowdstrike Filebeat Module: Parsing Issues"
The CrowdStrike Filebeat (version 7.8) module appears to have two issues.

- Null / non-existent values in event.UserIP field causing parse errors during ingest.
- Parsing of UTCTimestamp to crowdstrike.event.UTCTimestamp (ECS Format) appears to be incorrect for eventType=="UserActivityAuditEvent", timestamp is in UNIX format not UNIX_MS.

For confirmed bugs, please report:
- Version: 7.8.0
- Oper

[2020-07-17 17:47] ph opened #20036 "[Elastic Agent] State changed to RUNNING” in agent logs every 20 seconds for endpoint"
State of endpoint-security is logged every 20 second

![image (1)](https://user-images.githubusercontent.com/640/87815630-f35bfa00-c833-11ea-9f38-695518deaab7.png)

@crowens Can you add elastic agent logs and endpoint logs?

[2020-07-17 17:47] elasticmachine commented on #20036
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-17 19:00] crowens commented on #20036
Agent logs.
[elastic-agent-json.log](https://github.com/elastic/beats/files/4939693/elastic-agent-json.log)

Endpoint logs.
[endpoint-000000.log](https://github.com/elastic/beats/files/4939699/endpoint-000000.log)

[2020-07-17 19:02] crowens commented on #20036
All I did was install the agent with the Default config (added endpoint).

Versions:
agent:
[code]

Endpoint:
[code]

[2020-07-17 19:14] lucabelluccini commented on #19216
Hello @jsoriano
It seems the Sarama bug was fixed in https://github.com/Shopify/sarama/tree/v1.26.4 ?

[2020-07-17 19:15] michaelolo24 commented on #19813
Thanks @blakerouse , just retested it on my end again on the Windows 10 vm and not seeing the issue anymore. Not sure what may have caused the beats to fail in my original scenario 🤷‍♂️, but gonna go ahead and close this. Thanks for looking into it!

[2020-07-17 19:15] #19813 closed

[2020-07-17 19:19] michaelolo24 commented on #20036
@blakerouse @ferullo - this may be related to the health check payload that includes the policy information?

[2020-07-17 19:53] EricDavisX opened #20037 "[Meta] [Ingest Manager] elastic-agent .rpm (and .deb) usage fails for Fleet enroll command, docs need update, README.md needs update"
This is found using the 7.9 BC2 .RPM file install against CentOS7

Here is the enroll command attempt:
[root@atlcolo-10-6-46-245 bin]# ./elastic-agent enroll https://b034192bc7194df8a82b4b440dd1f323.europe-west1.gcp.cloud.es.io:443 U0tMTlhITUJmSnMwRngyQXo2Ul86UDQ0ZTV1OVBTcy1LUUU5VUpQcF92UQ==
The Elastic Agent is currently in BETA and should not be used in production
could not read configuration fi

[2020-07-17 19:53] elasticmachine commented on #20037
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-17 21:15] EricDavisX commented on #20037
@dedemorton pinging you for tracking - for Docs for 7.9 improvements for .rpm / Fleet usage for Agent

[2020-07-17 21:18] EricDavisX commented on #19961
This will be testable in BC3 coming on July 22 estimated, unless one is cut sooner.  Until then folks can use the QA Google Drive posted to chat with the re-packaged BC2 files

[2020-07-17 21:40] dedemorton opened #20039 "Docs about running Beats on Kubernetes do not cover all supported Beats"
We document how to run Filebeat, Metricbeat, and Auditbeat on Kubernetes.

There is no documentation, though, for Heartbeat and Packetbeat, which I think are also supported.

There are no example deploy manifests for those Beats, either.

[2020-07-17 21:55] dedemorton commented on #18903
Sorry, I think your question got lost in my github notification filters. It would be a simple search, but given the latest thinking about beats, let's just close this issue. We can fix any errors that come up as we encounter them.

[2020-07-17 21:55] #18903 closed

[2020-07-17 21:59] dedemorton commented on #19577
Closing this issue because I don't want to invest in this work at this time.

[2020-07-17 21:59] #19577 closed

[2020-07-17 22:04] dedemorton commented on #7160
Closing old issue.

[2020-07-17 22:04] #7160 closed

[2020-07-17 22:05] dedemorton commented on #11655
No longer planning to make this change so I'm closing this issue.

[2020-07-17 22:05] #11655 closed

[2020-07-17 23:06] EricDavisX commented on #20006
I hear Nicolas mention he is brewing a PR for this, its reproduced and being handled.

[2020-07-17 23:51] EricDavisX commented on #20037
A quick review of a: sudo dpkg -i elastic-agent-7.9.0-amd64.deb
 call on DISTRIB_DESCRIPTION="Ubuntu 16.04.1 LTS"
shows that the .deb file has the same problem, doesn't have all needed files.  updated short desc, image here of initial unarchive / install:
<img width="907" alt="Screen Shot 2020-07-17 at 7 45 24 PM" src="https://user-images.githubusercontent.com/12970373/87838900-8877e680-c866-11ea-

[2020-07-18 00:07] dedemorton opened #20042 "Add info about cloudwatch_logs_kinesis to the Functionbeat Reference"
**Describe the enhancement:**
The Functionbeat Reference needs to be updated with the new function type, `cloudwatch_logs_kinesis`, added in https://github.com/elastic/beats/pull/13317. Right now, it's only covered in the reference.yml.

As part of this work, we should restructure the docs as described here: https://github.com/elastic/beats/issues/13908

[2020-07-18 00:07] elasticmachine commented on #20042
Pinging @elastic/integrations-services (Team:Services)

[2020-07-18 00:08] dedemorton commented on #12442
Hi my apologies for missing this notification (it's been awhile). I've created an issue here to track the doc addition: https://github.com/elastic/beats/issues/20042

[2020-07-18 12:50] blakerouse commented on #20037
The issue is how you are executing `elastic-agent`. You should not execute it from `/usr/share/elastic-agent/bin/elastic-agent` that one will not have the paths set correctly with the executable wrapper.

You should be using `/usr/bin/elastic-agent`. Which you can do by just calling `elastic-agent` as `/usr/bin` should be inside of `$PATH`.

This will fix your issue. To understand why you can do `

[2020-07-18 12:53] blakerouse commented on #20037
Just to note the best way to do this from package is this, which probably should be added to the documentation.

[code]

[2020-07-18 13:02] blakerouse commented on #20036
@michaelolo24 Yes I believe so. I am debugging it, its either the payload keeps changing on Endpoint side, or the Agent is determining that it changed incorrectly.

[2020-07-18 13:09] ferullo commented on #20036
The payload probably does keep changing. It includes some performance metrics on Endpoint (CPU use, memory use).

What should we do? I see three options:
1. Some Agent logic to only send it sometimes. This feels wrong.
2. Endpoint sends the _same_ payload each time (i.e. reports out of date metrics) except when Endpoint wants to push through an update.
3. Endpoint sends _no_ payload except for whe

[2020-07-18 13:27] blakerouse commented on #20036
Yes this feels wrong, Agent should not need special logic for Endpoint in this regard.

This would be acceptable and probably the best.

This is also okay but will result in 2 payloads being sent. The first one with the payload and then on the next status message with no payload (to Agent that is a change).

[2020-07-19 09:01] kaykhancheckpoint opened #20045 "Error connecting to Kibana: fail to get the Kibana version"
I have elasticsearch and kibana setup in my kubernetes cluster using ECK. I'm also trying to get filebeat setup. Im having trouble with getting filebeat to connect to kibana. in the filebeat logs i can see the following error.

If i exec into the pod and make a curl request to kibana host i get the following.

However if i supply the username and password and disable tls with -k i get the version

[2020-07-19 18:48] sorantis commented on #13232
Keep it open

On Sun, Jul 19, 2020, 16:30 botelastic[bot] <notifications@github.com>
wrote:

[2020-07-20 07:17] ChrsMark commented on #20045
HI!

There is complete example of using Filebeat and Metricbeat along with ECK: https://github.com/elastic/cloud-on-k8s/tree/1.1/config/recipes/beats

Also for questions like this one please use https://discuss.elastic.co/c/orchestration/eck/79 since Github is used only for confirmed bugs or enhancement requests.

[2020-07-20 07:17] #20045 closed

[2020-07-20 07:35] kaykhancheckpoint commented on #20045
@ChrsMark Hey thanks for replying, actually i already posted my question in the beats section of the discuss/elastic forums but it did not get any attention.

After looking through the recipes/beats link you provided i can see the example doesn't actually show configuration for beats connecting to kibana which i believe is necessary to use/enable the dashboards. https://www.elastic.co/guide/en/bea

[2020-07-20 08:02] ChrsMark commented on #20045
Here is how Metricbeat is connected to Kibana using the proper certificate: https://github.com/elastic/cloud-on-k8s/blob/1.1/config/recipes/beats/3_metricbeat-kubernetes.yaml#L213

It should be quite straightforward to apply something similar to Filebeat config.

[2020-07-20 08:11] elasticmachine commented on #20035
Pinging @elastic/siem (Team:SIEM)

[2020-07-20 08:13] elasticmachine commented on #20022
Pinging @elastic/integrations-services (Team:Services)

[2020-07-20 08:24] breml commented on #13492
@kvch Thank you for your effort, this new feature is highly appreciated and I am looking forward to test it in our environment.

[2020-07-20 10:05] kaykhancheckpoint commented on #20045
@ChrsMark Thank you again, it was straightforward and it worked for me first time

[2020-07-20 10:28] Keerat666 opened #20047 "Tried running this in Windows and get the following error , "go: cannot determine module path for source directory C:\Users\gurke\go\src\ (outside GOPATH, module path must be specified)""
Hi,

Was trying to setup a custom beat template on Windows.Everything works fine until when I hit the mage generateCustomBeat command and then get this issue,

'go: cannot determine module path for source directory C:\Users\gurke\go\src (outside GOPATH, module path must be specified)'

Any help is appreciated!

[2020-07-20 10:35] TanmaiShukla commented on #20047
go: cannot determine module path for source directory C:\Users\shukl\go\src (outside GOPATH, module path must be specified)

Example usage:
        'go mod init example.com/m' to initialize a v0 or v1 module
        'go mod init example.com/m/v2' to initialize a v2 module

Run 'go help mod init' for more information.
Error: error initializing a module for the Beat: running "go mod init" failed wit

[2020-07-20 11:02] michalpristas opened #20048 "[Ingest Manager] Define Elastic Agent structure on disk for elastic agent support upgrade and rollbacks."
With upgrade in mind we need to align structure of where things go to make scenarios smooth and possible.

Proposed structure
[code]

`v7.9.1-ab123d`  is a v7.9.1 semver version where the rest of the string is a hash of a version which can contain suffixes like SNAPSHOT, BC...
each version contains its own binary and dependent binaries in download/install directories

in this example `/v7.9.2-dba3

[2020-07-20 11:02] elasticmachine commented on #20048
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-20 11:34] BlakeWills commented on #18949
The referenced commit makes this look like it's fixed in 7.8, but I've just tried with that version and we get the same issues :(

[code]

[2020-07-20 11:37] kvch commented on #13492
@breml Thank you for your kind words! I am looking forward to your feedback.

[2020-07-20 12:02] EricDavisX commented on #20037
@blakerouse thanks for the updates.  I'm re-opening to ensure Docs get updated, this is the Meta issue for any fixes that need to go in.  I'll go check it out, too

[2020-07-20 12:28] xilu0 opened #20053 "filebeat container multiline error Error decoding JSON: invalid character"
- Version: filebeat 7.8
- Operating System: ubuntu
- Discuss Forum URL:
- Steps to Reproduce:
### full error:
`ERROR	[reader_json]	readjson/json.go:57	Error decoding JSON: invalid character 'a' looking for beginning of value.`
### filebeat config:
[code]
raw log in java from docker log:
[code]
I can't debug it, who can help me?

[2020-07-20 12:50] ioandr commented on #18049
Hi @sorantis, this seems like a very interesting extension to the existing `state_node` Metricset.

I would be happy to invest some cycles on it based on your description.

For a start, I supply the officialy documented Node Conditions [1] which are the ones I also found in the Kubernetes source [2]. You have already mentioned some of them, so I think the following are a good start:

| Node Condit

[2020-07-20 13:09] #17907 closed

[2020-07-20 13:12] v1v commented on #17907
For the record, test result files for the integration tests are now uploaded to the build as artifacts:

![image](https://user-images.githubusercontent.com/2871786/87941361-f3a60080-ca92-11ea-851e-5a79feb8bd72.png)

Format: `<beat-name>--system-tests-<os>.tgz`

For instance:
- libbeat--system-tests-linux.tgz
- metricbeat--system-tests-darwin.tgz
- metricbeat--system-tests-linux.tgz

[2020-07-20 13:16] ph commented on #20037
@EricDavisX I've added a point to the 7.9 doc issues we can close this?

[2020-07-20 13:51] blakerouse commented on #20048
There is also the `agent.lock` that currently exists inside the `data` folder. I think we should still keep the top-level data folder then nest the version folder. I think with keeping the top-level `data` folder we could then place the `logs` directory still in that folder.

[code]

I also agree with @ph whould use the full version number (v7.0.0).

I question if we should really have the `prev`

[2020-07-20 13:54] jonathan-buttner commented on #20009
@james-elastic @crowens @EricDavisX is the issue here that the `event.dataset` field is not present in the documents in elastic search that are sent by the endpoint?

[2020-07-20 13:59] ph commented on #20036
@blakerouse the issue is on Endpoint side, could we close this?

[2020-07-20 14:32] ferullo commented on #20036
FWIW, this has been fixed in Endpoint. I went with option 2.

[2020-07-20 14:41] narph commented on #19940
we already mention in the Azure doc https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-module-azure.html#_additional_notes_about_metrics_and_costs
and where users can find the pricing and call daily limit.
Also, if they reach the daily limit and calls are starting to require a cost, users are warned in the logs.

[2020-07-20 14:42] EricDavisX commented on #20037
sure, if we're linking details here to another ticket for ease of finding them, then sure.

[2020-07-20 14:52] #20037 closed

[2020-07-20 14:52] blakerouse commented on #20036
Yes closing this on the Elastic Agent side.

[2020-07-20 15:08] kvch commented on #20022
@MikePaquette Could you please share your configuration? Also, a bit more details about Elasticsearch and Kibana would be useful? Are you using the OSS version? Did you enable security?

[2020-07-20 15:22] gbates101 commented on #17396
We're having the same issue, but in our case it's not logging stacktraces that led to a pod restart. Despite having the stacktrace printed in my terminal (from tailing the pod logs), I can't find the exact same message through searching Kibana. We're at a point now where we don't know how to reproduce bugs because the stacktraces that document them just don't exist.

Until this issue is resolved,

[2020-07-20 15:25] ph commented on #20009
@webmat Is there any other field than `event.dataset` that solutions UI depends?

[2020-07-20 15:28] ph commented on #20048
good point @blakerouse, I think the _prev_ is only to keep state? Maybe we should that information in an existing file like fleet.yml or other. We could keep bit more information. IE when did that release was installed?

[2020-07-20 15:33] ph commented on #20006
PR is available at https://github.com/elastic/kibana/pull/72386

On Fri, Jul 17, 2020 at 7:06 PM Eric Davis <notifications@github.com> wrote:

--
--
ph

[2020-07-20 15:41] mostlyjason opened #20068 "[Elastic Agent] Remove prompt on first enrollment"
Currently when you install Elastic Agent for the first time and then issue the enroll command it prompts the user "This will replace your current settings. Do you want to continue? [Y/n]"  However, there are no current settings so it should not show this prompt. It should only be shown when overwriting existing settings. Additionally, let's confirm it can be disabled with the `-f` flag which will

[2020-07-20 15:48] mostlyjason commented on #20068
Just tested the `f` flag and it worked

[2020-07-20 15:49] kvch commented on #19964
I have retried with security enabled with a trial licence. Still nothing. Could you please share your debug logs?

[2020-07-20 15:49] kvch commented on #20022
Please share debug logs as well.

[2020-07-20 16:12] acrewdson commented on #19272
Can confirm this is a problem in 7.8.x too – affects both the `headers` and `ssl` config fields. I think this might be related to the changes [here](https://github.com/elastic/beats/pull/18953).

[2020-07-20 19:25] spong opened #20073 "[Meta] Expand support for populating event.ingested"
Within Elastic Security we've [recently](https://github.com/elastic/kibana/pull/70288) [exposed](https://github.com/elastic/kibana/pull/71402) the ability for users to specify the timestamp field used when a Detection Rule runs in effort to minimize any gaps in alerts from delayed events. The ECS field most useful here would be `event.ingested` (https://github.com/elastic/ecs/issues/453, https://g

[2020-07-20 19:25] elasticmachine commented on #20073
Pinging @elastic/siem (Team:SIEM)

[2020-07-20 19:52] adriansr opened #20075 "Metricset can't handle consecutive dollar signs in password"
( I'm aware of https://www.elastic.co/guide/en/beats/libbeat/master/config-file-format-tips.html#dollar-sign-strings )

For a password that contains consecutive dollar signs: `fantastic$$`

[code]

Also fails when using the keychain or an environment variable.

Looks a bit similar to https://github.com/elastic/beats/issues/19849

[2020-07-20 21:02] EricDavisX commented on #18792
fyi - I reviewed this with Michal and here are the logs we got at the time, note I changed the file name to be accepted in git attachment.

[elastic-agent-json.log](https://github.com/elastic/beats/files/4950045/elastic-agent-json.log)
[elastic-agent-json1.log](https://github.com/elastic/beats/files/4950048/elastic-agent-json1.log)
[elastic-agent-json2.log](https://github.com/elastic/beats/files/4

[2020-07-20 21:04] jlvrhee commented on #19937
Before the weekend we installed metricbeat 7.8 on one server. Untill now that server didn't give any issue anymore. I just enabled all the metricsets again including the system metricsets and will monitor this server futher.

[2020-07-20 21:08] webmat commented on #19554
I think it's fine if this gets bumped up. I don't think this will create problems.

Note however that this field is a top candidate to being moved to `wildcard` which will not have a length limitation. So no active work is happening right now in reviewing these limits.

[2020-07-20 22:24] kaiyan-sheng commented on #19940
@narph Thank you for the info. I propose to add the cost warning message at the beginning of the documentation for all AWS, Azure and GCP modules. Even with mentioning cost in other parts of the doc, I would like to make these three modules consistent and warn user at the beginning. This way, it's less possible for users to miss.

[2020-07-20 22:38] acrewdson opened #20078 "`test config` hangs when Auditbeat is already running"
- Version: 7.6.2
- Operating System: CentOS 6.9
- Steps to Reproduce:

`test config` hangs indefinitely if run while there's an existing `auditbeat` process. This can be especially problematic because the official init script's `restart` option performs a `test config` ([here](https://github.com/elastic/beats/blob/master/dev-tools/packaging/templates/rpm/init.sh.tmpl#L79)) before stopping Auditbea

[2020-07-20 22:57] EricDavisX commented on #20006
Hi - I see that the 'force unenroll' is coming in ticket https://github.com/elastic/kibana/pull/72386 , but that's more of a 'save me' option instead of the normal flow of an Agent successfully enrolling, there may yet be a bug here.

@michalpristas here are some logs, from a centos7 unenroll that didnt work:
[linux-unenroll.log](https://github.com/elastic/beats/files/4950380/linux-unenroll.log)
<

[2020-07-21 05:36] okoehler-okocon opened #20079 "winlogbeat 7.8 event.outcome on non-english OS"
Hello,

i just encountered that winlogbeat 7.8 is not setting eventOutcomes on non-english OS correctly (here in German)

this is the original Events in winlogbeat-security.js and that will not catch the german translation in the eventlog

var eventOutcomes = {
        "Audit Success": "success",
        "Audit Failure": "failure",
    };

this works...
var eventOutcomes = {
        "Audit Success

[2020-07-21 07:37] elasticmachine commented on #20078
Pinging @elastic/siem (Team:SIEM)

[2020-07-21 07:37] elasticmachine commented on #20079
Pinging @elastic/siem (Team:SIEM)

[2020-07-21 07:38] #20047 closed

[2020-07-21 07:39] elasticmachine commented on #20075
Pinging @elastic/integrations-services (Team:Services)

[2020-07-21 07:41] v1v opened #20080 "[CI] CodeCov fails in Jenkins"
It works so far in travis but it fails in Jenkins.

[code]

![image](https://user-images.githubusercontent.com/2871786/88026428-c35f7000-cb2d-11ea-888d-ff3ee96f91be.png)

### Tasks

- What CI should be the one in charge?
- Enable the `codecov` step from the shared library.

[2020-07-21 08:17] GiedriusS commented on #4166
Still reproducible on Filebeat 7.8.0. Filled this related issue here: https://github.com/Shopify/sarama/issues/1755

[2020-07-21 09:01] michalpristas commented on #18792
reproduced locally. the issue is that windows 8/server 2012 use older version of powershell which does not contain functions we use to extract archive.
will prepare a fix soon

[2020-07-21 09:04] #19752 closed

[2020-07-21 09:35] ChrsMark commented on #17396
Hey folks! Sorry for the delay here.

I just opened a patch PR for this which hopefully fixes the issue: https://github.com/elastic/beats/pull/20084

[2020-07-21 09:57] narph opened #20086 "Add support for azure functions/web apps metrics in the azure module"
**Describe the enhancement:**
Add support for azure functions/web apps metrics in the azure module

**Describe a specific use case for the enhancement or feature:**
Add support for azure functions/web apps metrics in the azure module

[2020-07-21 09:58] elasticmachine commented on #20086
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-07-21 10:02] v1v commented on #19754
I like this approach and even more the well described scenarios 💯 !!

Regarding the GH comment, I don't know what's the current standardisation in the beats project, but in other projects we use `jenkins run the tests`, so I'd say to use `jenkins run the tests for macos` if possible to keep the backward compatibility with the current implementation in production. thoughts?

[2020-07-21 10:05] cachedout commented on #19754
I personally think that we should split it up like this:

Comments should be about actions: `jenkins run the tests` but labels should be about _what_ tests to run. (OSX, etc). That means that a developer only ever has to remember a single "command" to initiate a test run and she can also easily reason about what options might be available by browsing through the labels.

WDYT?

[2020-07-21 10:35] sayden commented on #18949
I can confirm, we fix a different field but we left this one. It's not ideal to parse everything as `double` in Elasticsearch (it uses more space at the end) but the fact that JSON don't differentiate their `numeric` type between integer or floating point will force Beats to assume that everything can be potentially a `double` type.

[2020-07-21 10:56] elasticmachine commented on #16046
Pinging @elastic/siem (Team:SIEM)

[2020-07-21 11:01] michalpristas commented on #18792
Fix here: https://github.com/elastic/beats/pull/20088

[2020-07-21 11:31] CodeAdminDe commented on #12563
The problem seems to exist.
At a fresh cluster (kibana 7.8.0, elasticsearch 7.8.0 with metricbeat 7.8.0) after inital import of index_template, ilm-policy, index-pattern and dashboards via `metricbeat setup` command.

At first run of metricbeat to collect data, an index will be created (index: metricbeat-7.8.0) but the template (index patterns: metricbeat-7.8.0-*) won't be applied.
It was noticed

[2020-07-21 11:36] david-kow opened #20089 "Journalbeat 7.9.0-SNAPSHOT panics on start"
I'm seeing Journalbeat consistently fail during startup with the below.

[code]

- Version: `7.9.0-SNAPSHOT`, `2020-07-21T11:27:00.002Z        INFO    [beat]  instance/beat.go:985    Build info      {"system_info": {"build": {"commit": "f23ce6145d301465c29cca0c94135db21946d234", "libbeat": "7.9.0", "time": "2020-07-20T02:40:44.000Z", "version": "7.9.0"}}}`
- Operating System: ran on `Container-Opt

[2020-07-21 11:36] elasticmachine commented on #20089
Pinging @elastic/integrations-services (Team:Services)

[2020-07-21 11:46] #16663 closed

[2020-07-21 12:18] urso commented on #19649
The system/syslog module has a list of processors, which might clash with your setup. This is due to processors configs from different source not getting 'appended', but might overwrite each other. Checking its definition the syslog module has 2 processors pre-configured. you might want to add your processor after the existing processors at index 2. e.g.

[code]

[2020-07-21 12:43] mdiehm commented on #19649
With this configuration I get the following error:
[code]

[2020-07-21 12:49] genofire opened #20096 "[Metricbeat] Prometheus relabel / multi-targets"
**Describe the enhancement:**
Short: relabel the hosts so it become a get parameter (`target`) and it use another (single) exporter address for it.

An example config with new paramters (multitarget_proxy and multitarget_query):
[code]

See: https://prometheus.io/docs/guides/multi-target-exporter/#running-multi-target-exporters

Example from prometheus:
[code]

**Describe a specific use case for t

[2020-07-21 12:56] v1v commented on #19754
Maybe if we provide such amount of flexibility it might cause some misunderstanding, that's for sure

I'm not really familiar with the PR review process for the beats project, but I'd say those scenarios could be valid since they are not exclusive with each other.  Let me pincel a few scenarios with how those `actions` can enhance the build system.

#### Static behaviour.

- Contributor creates th

[2020-07-21 13:30] richard-mauri commented on #7751
It is not hard to develop a custom processor that adds custom fields and then wire that into a custom filebeat. I do this today with just a couple go files; the biggest hurdle is dependency management as beats is not yet setup to use go modules, but checking in a vendor tree is not hard.
 I'll share a gist if there is enough interest.

[2020-07-21 13:43] EricDavisX commented on #19291
I spoke with Ivan in a brief meeting and we confirmed the following:

- He can work this in near term with Manu's help for instructions to run the e2e test.
- He can include me or PH for any spec / requirements for the test
- we decided for now that we'd run the test with every commit that includes Metricbeat, Filebeat, or Agent code as noted.
... with the exception that it won't be run if there i

[2020-07-21 13:46] CodeGlitcher commented on #15956
We also would like a option to reload the certificates.
(Specificallyis the logstash output.)

[2020-07-21 14:04] ph commented on #19115
@andresrc @urso I was discussing with @blakerouse concerning this issue, we have an issue this week where a beat was reporting "Running" but actually should have reported his status as degraded. The problem was that the beats wasn't able to reach Elasticsearch. If we could make the output reports the status I think that would be a good win for the debugging scenario.

[2020-07-21 14:22] stevewritescode opened #20103 "Add AWS Cost and Usage reports to Metricbeat"
**Describe the enhancement:**
Create a Metricbeat module to import AWS cost and usage data, e.g. detailed billing information.

**Describe a specific use case for the enhancement or feature:**
The current AWS Billing Metricbeat module pulls in billing data from AWS. From what I can tell, the only data that's available through this module is EstimatedCharges since that's the only metric sent throug

[2020-07-21 14:28] ycombinator commented on #19940
Sounds like we're talking about adding warnings in docs and Metricbeat logs. In addition, would it make sense to show a warning toast in the Metrics UI if cloud metrics are detected? Just wondering where users are actually looking so maybe we cover all our bases?

[2020-07-21 14:32] kaiyan-sheng commented on #19940
@ycombinator Good point! Azure module already has warning in the Metricbeat log. It would be good for GCP and AWS to do the same.

[2020-07-21 14:35] laolab0mber commented on #1034
@Securitybits-io thanks for you blog article, found it while having this problem myself. So really appreciate.
Compilation was no problem, but what came a little short was the installation/configuration part: "configure it according to the beats documentation."
I am getting problems with the modules and stuff like:

ERROR   fileset/modules.go:127  Not loading modules. Module directory not found: /

[2020-07-21 14:45] ph commented on #20006
@blakerouse This seems to be a timeout issue that we were discussing this morning.

[2020-07-21 14:59] elasticmachine commented on #20103
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-07-21 15:20] cachedout commented on #19754
A point I've just thought of is that I'm not sure if contributors have rights to add labels in the Beats project. If not, that would mean that my proposal wouldn't work.

[2020-07-21 15:20] kaiyan-sheng commented on #20103
Thank you @stevewritescode for creating this issue. Yes, `billing` metricset currently only collect `EstimatedCharges` from CloudWatch. I will look into `costexplorer` and let you know!

[2020-07-21 16:46] EricDavisX opened #20106 "[Ingest Manager] Elastic Agent persistence (ps1) script sets service to be 'delayed start' and should set it to immediate (and start it up)"
I am running Persistence tests.  Here are my concerns.

1) I see that Agent shows as a ‘delayed start’ after the powershell install script is run and it isn't started, and never starts up on its own.  I think that is the essence of the bug.  If we do intend the delayed start, whats the benefit / reason for this?

And 2)  whats the mechanism for when it is intended / expected to be started?
 - it d

[2020-07-21 17:04] EricDavisX opened #20107 "[Ingest Manager] Elastic Agent after reboot doesn't communicate with Elastic Endpoint (it seems)"
[Ingest Manager] Elastic Agent after reboot doesn't communicate with Elastic Endpoint (it seems)

7.9 Elk stack deploy to cloud-prod and BC2 Agent/Endpoint

tested on win 7 x64 host.

screenshot here:
service looks ok
<img width="904" alt="1service-state-is-ok" src="https://user-images.githubusercontent.com/12970373/88084522-8bb6ef00-cb52-11ea-9ffb-d8f13e9c0e95.png">

agent is running happy
<img w

[2020-07-21 17:05] EricDavisX commented on #20107
I can go get logs, it will take me just a min to post them.

Also note, when testing this to manually set the windows service to started, details / issue here: https://github.com/elastic/beats/issues/20106

[2020-07-21 17:07] EricDavisX commented on #20107
@ferullo @ph @gogochan @blakerouse should we schedule a meeting to see whats up with persistence / rebooting?  I'm getting the logs, those may help...

[2020-07-21 17:13] EricDavisX commented on #20107
logs are here:
[persistence-test.zip](https://github.com/elastic/beats/files/4955084/persistence-test.zip)

and more screenshot / info from security app:  looks like a failed policy state.
<img width="1451" alt="failed-policy-state" src="https://user-images.githubusercontent.com/12970373/88085542-fb79a980-cb53-11ea-8ec7-f8e86960f832.png">

but it still looks to have comms into Kibana
<img width="1

[2020-07-21 17:15] ferullo commented on #20107
When did you reboot the endpoint? so we know what timestamp in the logs to look at.

[2020-07-21 17:19] gogochan commented on #20107
It will be very helpful if you can run following command on Windows
`NETSTAT.EXE -ano | grep 6788`

[2020-07-21 17:31] ph commented on #20107
[code]

Look like endpoint it doesn't send the "observed" message on restart?

[2020-07-21 17:32] EricDavisX commented on #20107
I documented a roughly 5-6 minute time frame from 'things working ok' to shuttin down (near the beginning), then waiting approx 3 mins and starting it back up and then starting more screenshots.  so it should be about 4-5 mins back from the last time-stamp in the last screenshot - I estimate about 12:50-ish via my mac clock is when it was rebooted.

Chan the output does not include 6788
[net-stat-

[2020-07-21 17:34] gogochan commented on #20107
It is possible that there is no communication between Agent and Endpoint after reboot. Endpoint cannot make a connection Agent without making initial TCP connection at port 6788.

[2020-07-21 17:35] elasticmachine commented on #20106
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-21 17:41] gogochan commented on #20107
actually, the log file confirms that the Agent is listening on port 6788
[code]

[2020-07-21 17:42] gogochan commented on #20107
[code]
Shows that there are at least 4 Process connected to the Agent.

[2020-07-21 17:42] ph commented on #20107
@gogochan I suspect the trust handshake is done in 6788 and than we switch to gRPC? When errors happends we will start the 6788 again.

[2020-07-21 17:52] gogochan commented on #20107
@EricDavisX can we confirm if the PID of ElasticEndpoint.exe is one of these 4?
1540, 1496, 1584, 1708

[2020-07-21 18:07] EricDavisX commented on #20107
it seems to be 1708.
<img width="410" alt="Screen Shot 2020-07-21 at 2 07 11 PM" src="https://user-images.githubusercontent.com/12970373/88090377-801bf600-cb5b-11ea-9218-45a0580df45d.png">

[2020-07-21 18:09] gogochan commented on #20107
k, so there's definitely a connection, as @ph pointed out, need to see why there is no state observed message coming from the endpoint.

[2020-07-21 18:15] ph commented on #20107
On chat with @blakerouse @EricDavisX and I, we have established that the elastic-agent and endpoint are connected but the endpoint only return "failed" back to elastic agent

[2020-07-21 18:21] EricDavisX commented on #20106
discussed and we think the bug and fix is that... Elastic Agent persistence (ps1) script sets service to be 'delayed start' and should set it to immediate (and start it up)

[2020-07-21 18:57] urso commented on #19649
That's interesting. Can you share the complete configuration you are using?

[2020-07-21 20:29] fearful-symmetry commented on #15785
Another update for y'all. The changes to `go-sysinfo` and `gosigar` have been merged. Working on beats itself now, starting with metricbeat.

[2020-07-21 20:42] justinkambic commented on #19928
I tested this as part of the 7.9 test plan and was able to see http headers in my heartbeat documents:

![image](https://user-images.githubusercontent.com/18429259/88104951-2e7e6600-cb71-11ea-9578-69116eb07b5c.png)

[2020-07-21 21:34] #18825 closed

[2020-07-21 21:34] #20006 closed

[2020-07-21 21:54] blakerouse commented on #20006
So I looked at this from the Agent side as well, even with timeouts on all 3 sub-applications, endpoint-security, filebeat, and metricbeat my Agent still unenrolled.

I tested this on Windows 10 7.9 BC2.

It did take a bit, probably 2 minutes for it to fully complete once it finished all the timeouts, but it still was marked Unenrolled and was removed from the UI.

[2020-07-21 21:57] blakerouse opened #20117 "[Elastic Agent] When GRPC connected and Stop occurs, a disconnect should be considered stopped"
Version: Elastic Agent 7.9 BC2

Currently Elastic Agent has a strict contract for GRPC stopping action. The flow must follow exactly this:

1. Send stopping to client
2. Receive stopping from client
3. Client disconnects

In some cases if the client is quick to send stopping and disconnect, the socket will not flush and the server will not get the stopping message. To help with this, Elastic Agent

[2020-07-21 22:13] kaiyan-sheng commented on #19965
I'm seeing the same issue when trying to create a kibana index pattern for Filebeat:
<img width="1305" alt="Screen Shot 2020-07-21 at 4 11 50 PM" src="https://user-images.githubusercontent.com/14081635/88112446-20c6e180-cb6d-11ea-9f4d-ad73aa530e91.png">

Metricbeat seems to work just fine.

[2020-07-21 22:14] threat-punter commented on #18099
I went through the process of enabling and configuring the Okta Filebeat module and, I agree with @jasonslater2000 that the [docs](https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-module-okta.html) could be more comprehensive.

We've written 16+ Okta rules for the detection engine, so more detailed docs with a config example would really help users configure the Okta module and make

[2020-07-21 22:27] kaiyan-sheng commented on #19757
AWS: we are not collecting `cloud.instance.name` for EC2 instance. https://github.com/elastic/beats/pull/20077 is to add this field.

[2020-07-21 22:53] andrewkroh commented on #19965
To elaborate on @kaiyan-sheng last comment, while creating the index pattern in Kibana, it requests all of the fields for filebeat-* and gets back about 6700 fields (almost a 1MB response) then tries to PUT the index pattern it created and fails with HTTP 413. This is same error code we see when Filebeat tries to insert the index pattern that it generates (although the error was silently ignored d

[2020-07-22 00:22] markwalkom opened #20123 "Document the default ILM policy"
**Describe the enhancement:** We mention the default ILM policy in the docs (eg [filebeat](https://www.elastic.co/guide/en/beats/filebeat/current/ilm.html)), but we don't document what that policy actually is.

**Describe a specific use case for the enhancement or feature:**

The core Beat policy is summarised in the code [here](https://github.com/elastic/beats/blob/7a7279fd789d2296dd8c9123bb66b74

[2020-07-22 01:15] Zstro commented on #13607
And I am alse facing the same problem with filebeat 7.7.1,it‘’s harvested logs after restart,and only once

[2020-07-22 01:39] jarpy commented on #17010
Is this on the roadmap? I could try my hand at implementing it if nobody has it on their plate already.

[2020-07-22 01:47] andrewvc commented on #9244
Closing this because we should orient the issue around a use case. We can always make an implementation issue later if needed.

[2020-07-22 01:47] #9244 closed

[2020-07-22 01:50] andrewvc commented on #16848
Part of https://github.com/elastic/uptime/issues/235

[2020-07-22 04:20] jasonneurohr opened #20126 "Jolokia Module Exec Request Operation Support"
**Describe the enhancement:**
Previously discussed here: https://discuss.elastic.co/t/jolokia-module-exec-operation/229139.

The Jolokia protocol supports an 'exec' request operation in the form <base url>/exec/<mbean name>/<operation name>/<arg1>/<arg2>/....

Currently, the Jolokia module is limited to the 'read' request operation. There are instances where a Jolokia exec operation returns a JSON

[2020-07-22 07:23] michalpristas commented on #20006
same here results on my end. i will try few more tests with local agent and cloud UI but i expect same result.

[2020-07-22 07:27] michalpristas commented on #19789
closing as a duplicate of https://github.com/elastic/beats/issues/19919

[2020-07-22 07:27] #19789 closed

[2020-07-22 07:47] mdiehm commented on #19649
Sure:

filebeat.yml
[code]
modules.d/system.yml
[code]

[2020-07-22 07:55] Helflym commented on #15785
@fearful-symmetry I've checked the patches I've done when starting the port earlier this year. Most of them we'll be useless for you (the one dealing with either dependencies or magefiles) but I guess a few are still worth it.
I'm giving them as is. I mean to say that they are 6 months old so they might not be accurate anymore. Sadly I don't have time to update them right now...

[0001-auditbeat-m

[2020-07-22 08:26] kuisathaverat commented on #19291
This is a work in progress feature we do not have ETA yet

[2020-07-22 08:41] jsoriano commented on #13106
For oracle we use a driver that also uses cgo, so maybe we can do something similar for db2. @sayden what do you think?

[2020-07-22 09:16] jsoriano commented on #19216
@lucabelluccini yes, this issue seems to be fixed after https://github.com/elastic/beats/pull/19527, closing this.

[2020-07-22 09:16] #19216 closed

[2020-07-22 09:25] v1v commented on #19754
Only Elasticians got write privileges to the repo. I just updated the above-mentioned scenarios in the description with this particular requirement.

[2020-07-22 09:26] #19754 closed

[2020-07-22 09:46] kuisathaverat opened #20128 "[CI] Run Journalbeat test on Ubuntu 18 only"
The current version of Journalbeat runs on systems 229 and fewer so we have to run the test on a worker with that version of systemd.

[2020-07-22 09:58] kuisathaverat opened #20129 "[CI] Run Journalbeat compatibility tests"
We need to test Journalbeat with different Linux distributions and different systems versions.

* CentOS/RHEL 6.5+/7.x (64 bits)
* CentOS/RHEL 8 (64 bits)
* Ubuntu 14.04 (32 bits)
* Ubuntu 14.04 (64 bits)
* Ubuntu 16.04 (64 bits)
* Ubuntu 18.04 (64 bits)
* Ubuntu 20.04 (64 bits)
* Debian 8 (64 bits)
* Debian 9 (64 bits)
* Debian 10 (64 bits)

We need a make/mage target to run the proper test becau

[2020-07-22 10:29] rugabunda commented on #19834
When using a third party DNS client in windows disabling "dnsclient", winlogbeat fails to function... it would function if it ignored the systems default resolver.

[2020-07-22 10:31] kuisathaverat opened #20131 "[CI] Run Elastic Agent e2e test on PRs"
[code]

cc @elastic/observablt-robots

[2020-07-22 10:31] kuisathaverat commented on #19291
I have created the issue https://github.com/elastic/beats/issues/20131

[2020-07-22 10:33] michalpristas commented on #20048
updated issue description which what we talked with blake over zoom

[2020-07-22 11:15] urso commented on #19965
This is quite a many fields...

Is the error because of too many fields in general, or does it indicate some other error?
I wonder if the API would allow us to add fields in batches to the index pattern. Then we could try to split the index pattern into batches of 1000 fields and call it until all fields are installed.

[2020-07-22 11:44] #20089 closed

[2020-07-22 12:32] urso commented on #19649
Which beats version are you using. Checking the definition for 7.8+ there are 2 processors predefined. Using Filebeat 7.7 for example the index must be `1`, not `2`.

[2020-07-22 13:11] #19902 closed

[2020-07-22 13:22] #20009 closed

[2020-07-22 13:27] blakerouse commented on #20048
Looks good. :+1:

[2020-07-22 13:29] kaiyan-sheng commented on #19901
Hi @kwinstonix, https://github.com/elastic/beats/pull/19962 is merged into master branch. I think that will fix this issue. I will close this issue for now and if you get a chance to test it and still seeing duplicate events, please feel free to open a new issue or reopen this one! Thank you!!

[2020-07-22 13:29] #19901 closed

[2020-07-22 13:53] ph commented on #20048
LGTM

[2020-07-22 13:56] aevalov opened #20139 "[Windows][Perfmon] There is more data to return than will fit in the supplied buffer"
In the windows/perfmon module, when using a wildcard query for Hyper-V metrics, metricbeat don't do samples at configured period.

Elastic and Metricbeat 7.8.
Metricbeat is running on Windows Server 2019. This server has a Hyper-V role and 40 VMs.

I have config with:
[code]

It works fine for simple counters like \Hyper-V Hypervisor Logical Processor(_Total)\% Total Run Time
However for VM specif

[2020-07-22 14:22] mdiehm commented on #19649
[code]

[2020-07-22 14:27] fearful-symmetry commented on #19937
@jlvrhee does it look like 7.8 fixed the issue?

[2020-07-22 14:28] webmat commented on #20009
@ph This is a question that should be asked of the solutions.

The Security app's field requirements are detailed at length here https://www.elastic.co/guide/en/siem/guide/current/siem-field-reference.html

Log UI's field requirements are detailed here https://www.elastic.co/guide/en/logs/guide/master/logs-fields-reference.html

If you're thinking of another solution I suggest reaching out to them

[2020-07-22 14:44] EricDavisX commented on #20006
if you're both using BC2 code strictly, then there may be some other factor at play.  we could list out what specifics we are doing with the config?  the big one is Endpoint.  Did you both have Endpoint successfully deployed to the host in your config when you unenrolled?  @blakerouse @michalpristas  ?

Maybe things will work better in BC3, too - there have been changes to the unenroll and other p

[2020-07-22 14:45] blakerouse opened #20142 "[Elastic Agent] Add ability to communicate and control the running agent daemon."
To provide a rich UX for the Elastic Agent we need to provide a way to communicate and control the running Elastic Agent.

Information that needs to be able to be retrieved from the local agent:

* Running version (possible different then the executing binary, but rare)
* Current status
   * Overall agent status
   * Status of each application
* Ability to restart Elastic Agent (self-restarts self

[2020-07-22 14:46] EricDavisX commented on #20009
@webmat do you think that public doc is updated and current with the additive needs that the 'Endpoint' half of the Security app will need?  I'm not aware of that doc, and I'm in much of the Security side discussion so it seems a fair question as to who was involved and when it was updated, etc.  Thanks for the convo - we can move it out of this closed issue if better?

[2020-07-22 14:58] webmat commented on #20009
Happy to follow the discussion wherever is most appropriate, if you feel the need to move it. I was just answering PH, so I'm good :-)

This was developed by the SIEM team, prior to the merge with Endpoint indeed.  I know this doc page was very frequently requested, and its creation was celebrated. So I assume it's pretty up to date wrt what the Security app in Kibana consumes.

But whether this t

[2020-07-22 15:02] elasticmachine commented on #20142
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-22 15:04] blakerouse commented on #20142
@ph @ruflin @michalpristas Implementing this will greatly help with UX, re-exec testing, and upgrade testing. Let me know what you think.

[2020-07-22 15:04] ph commented on #20009
Thanks @webmat I didn't know about theses docs.

[2020-07-22 15:05] kvch commented on #20128
I was able to get the Journalbeat tests running successfully on Linux workers. I think we can close this issue or at least postpone addressing this problem.

[2020-07-22 15:06] ChrsMark commented on #19731
+1 for using leader election package @jsoriano proposed.
Something similar Kubernetes core implements for `autoscaler`: https://github.com/kubernetes/autoscaler/blob/a63c7abbe47773be4eec49b13210a3cd9c4a719f/cluster-autoscaler/main.go#L421

I drafted an experimental code snippet and seemed to work, so the implementation should be quite straight forward on leader election level. However we need to f

[2020-07-22 15:07] blakerouse commented on #20142
Another improvement this brings is also the installation process. Currently we install Agent without starting the service and the configuration is basic and trying to write system metrics to `localhost:4200`.

I believe with the above changes we should do the following:

* Change the installation to use an empty elastic-agent.yml configuration, with nothing configured.
* Change the installation to

[2020-07-22 15:11] #17752 closed

[2020-07-22 15:18] blakerouse commented on #20006
@EricDavisX Yes I specifically test with Endpoint enabled and disabled, both worked.

[2020-07-22 15:22] fearful-symmetry commented on #19766
@henrikno Can you get me raw event JSON for one of the offending events. The `docker/diskio` metricset is doing so much data manipulation that I'm not too sure what I'm looking at. Either way, this seems to be a fairly complicated problem, as we essentially need to figure out when we're dealing with LVs or RAID setups and adjust how we sum data accordingly?

[2020-07-22 15:28] #12823 closed

[2020-07-22 15:29] mdelapenya commented on #20131
I'd rephrase one step to:

[code]

Apart from that, super neat!

[2020-07-22 17:40] ph commented on #20048
@michalpristas Can you discuss with @ferullo with our plan, they also have persisted information and their own "installation" structure.

[2020-07-22 17:52] andrewkroh commented on #19965
I tried a small hack and I was able to slim down the size of the index pattern request body from Filebeat by omitting some of the parameters with default values (e.g. count=1, analyzed=false). This allows Filebeat setup to work, but even with that working there are still problems in Kibana.

It seems like Kibana still wants to update the index pattern when visiting Discover or opening the Index Pa

[2020-07-22 18:00] ph commented on #20142
@blakerouse I really like this plan, the description is top!

I like the proposal for the empty configuration and the reload, we had an issue to allow have a enroll and run from a same subcommand. But I think what you are suggesting for service is even better than that and will simplify the workflow.

@EricDavisX The above will impact testings for the best, you might have suggestion too?

[2020-07-22 18:27] andrewkroh commented on #20073
In my opinion an optimal solution would be to have Filebeat install an Elasticsearch pipeline that adds `event.ingested` and then put `final_pipeline` into its index template to force _all_ events through this pipeline. This would ensure that all events, not only module events, have the `event.ingested` value. This would take a bit of effort and this might not work so well when module transition t

[2020-07-22 18:48] dedemorton commented on #16644
Closing because I'm not sure we'll be adding more processors under the x-pack dir. If we do, the build will break, and we can fix this then.

[2020-07-22 18:48] #16644 closed

[2020-07-22 20:00] jsoriano commented on #19849
In light modules a new configuration is created with some initial default values, we then update this configuration with the user defined settings from the original base module, and this configuration is used to create a new base module, that is the one actually used at the end. Original base module or its configuration is not modified during this process.

Host parsers also don't mutate the confi

[2020-07-22 21:59] andrewkroh commented on #19965
I have identified about 2000 fields that should not present. That's about 1/3 of the fields in the mapping so when we fix that it should help this issue.

`$ ./filebeat export index-pattern | jq '.objects[0].attributes.fields | fromjson | .[].name' | sort | uniq | grep -E "(microsoft|cisco|fortinet)\.rsa"`

The fields returned in that list were meant to be named `^rsa.*` and not be prefixed with t

[2020-07-22 23:15] EricDavisX commented on #20142
sounds good to me.

[2020-07-23 02:10] #19307 closed

[2020-07-23 02:38] BasicUser206 opened #20175 "PANOS ECS Docs Update"
Describe the enhancement: Convert panw.panos.* fields into the actual ECS field.

https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-module-panw.html#_ecs_field_mappings
The field mapping docs has a lot of panw.panos* fields that are currently ECS fields.
Example:
- NAT Source IP - panw.panos.source.nat.ip >source.nat.ip
- NAT Destination IP - panw.panos.destination.nat.ip >destinatio

[2020-07-23 02:58] #20035 closed

[2020-07-23 04:11] elasticmachine commented on #20175
Pinging @elastic/siem (Team:SIEM)

[2020-07-23 04:24] elasticmachine commented on #20139
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-07-23 05:52] #19919 closed

[2020-07-23 06:35] michalpristas commented on #20048
asked Daniel about their internal state and they got it covered using `endpoint.exe install --upgrade`
we need to keep this in mind and be aware that we're in upgrade process at the point of installation of endpoint

[2020-07-23 07:59] getkub opened #20183 "Compiling metricbeat (v7.8.0) causes issue on FreeBSD while other beats working fine"
Compiling metricbeat (v7.8.0) causes issue on FreeBSD.  Filebeat and AuditBeat works correctly

Error is below
[code]

Please include configurations and logs if available.

For confirmed bugs, please report:
- Version:  7.8.0
- Operating System: freeBSD 11.2-RELEASE-p15
- Steps to Reproduce:

Create a VM for FreeBSD using Vagrant
[code]

[2020-07-23 09:16] exekias commented on #12792
Thank you @ChrsMark! I'm closing this, let's reopen if we see the need

[2020-07-23 09:16] #12792 closed

[2020-07-23 09:28] mdelapenya commented on #19751
There exists a GH bot that inspects the modified files in a PR, the configuration file could be found here: https://github.com/elastic/beats/blob/master/.github/paths-labeller.yml

I'd suggest that each team contributes their labels and paths to that file.

cc/ @andresrc

[2020-07-23 09:41] getkub commented on #6872
hi, RFC5424 is really important in large scale datasets/datalake. Any file if you are working, I can also help to make this rolled out sooner.

Just looking into @faec code, it seems complex. Is it better to have this written as a pattern file? Something like what logstash have https://github.com/logstash-plugins/logstash-patterns-core/blob/master/patterns/grok-patterns

[2020-07-23 10:14] exekias commented on #19731
Love to see this is viable! Thank you for digging in.

I was thinking this could make more sense in autodiscover? This may go beyond the scope of the kubernetes module, as I may have some other inputs I want to launch as a singleton for the whole cluster. (ie, running certain uptime monitors, a global gateway for logs, etc)

If we add a `leader` field to autodiscover events, we could leverage it t

[2020-07-23 10:25] jsoriano commented on #19731
I was also thinking that it could make sense in autodiscover, it could be a new provider with a config like this:
[code]
Or this:
[code]
The configuration could be in a configmap, so all the leader candidates would have the same configuration, though maybe this is not so important if they are deployed with a `Deployment`.

If a provider gets the lock, it generates an event to start the configurati

[2020-07-23 10:42] exekias commented on #19731
Do you foresee any situation where you may want to use Pods/Nodes/Service autodiscover in combination with leader election? If that's the case, perhaps the `leader` flag should be just present in the `kubernetes`  provider (too)

[2020-07-23 11:09] jsoriano commented on #19731
Umm, yeah, we might want to enable it only if some pods or services exist, and using their metadata.

Where would you put this flag? at the template level so we can have different leaders?

[code]
Or at the provider level? and multiple providers are needed if multiple leaderships are wanted?
[code]
At the provider level it looks better as the provider keeps state, and we probably don't need multip

[2020-07-23 11:28] urso opened #20188 "Reenable uint64 support"
We currently mask all 64bit unsigned integer values using a 63bit mask. With most counters being ever increasing the results in a simple overflow every 2^63 increments. Fortunately loads of values requiring 64bit are counters that we only compute the rate from, so it's no big problem. But 64bit IDs and and status fields can currently not be stored correctly.

Elasticsearch issue discussing to add

[2020-07-23 11:28] elasticmachine commented on #20188
Pinging @elastic/integrations-services (Team:Services)

[2020-07-23 11:36] #19849 closed

[2020-07-23 11:54] #17396 closed

[2020-07-23 12:11] #19965 closed

[2020-07-23 12:19] janniten commented on #16334
Hi @andrewkroh
From the above list the following events were added to Winlogbeat's security module
4724 ( https://github.com/elastic/beats/pull/13530),
4964,4673,4674,4697,4698,4699,4700 ,4701,4702,4768,4769,4770,4771,4778,4779  (https://github.com/elastic/beats/pull/17517)

I was thinking in order to enhance the set of events we already have to work with this ones:
* In order to complete events r

[2020-07-23 12:23] andrewkroh commented on #19965
### Summary of Changes

- https://github.com/elastic/beats/pull/20170 Fix field mappings to reduce overall number of fields
- https://github.com/elastic/beats/pull/20156 Assert size of index patterns is less than 1 MiB
- https://github.com/elastic/beats/pull/20121 Fail in 'setup --dashboards' if index pattern cannot be installed

[2020-07-23 12:38] mtojek opened #20200 "[Elastic Agent] Stopping the Elastic Agent"
Stopping the Elastic Agent is a bit annoying at the moment. Once sending the polite stop signal, it waits up to 30 seconds until the process exits.

What do you think about introducing a forced exit mode? Double Ctrl+C kills the process or sth.

[2020-07-23 12:38] elasticmachine commented on #20200
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-23 13:07] #20117 closed

[2020-07-23 13:16] blakerouse commented on #20048
Hmm at the moment we only always call: `endpoint-security.exe install --resources endpoint-security-resources.zip`.

@ferullo Would it be bad for Agent to always call `install` with `--upgrade`? Or could we just remove the `--upgrade` flag and allow the installer to figure out if its an upgrade or not? Feel like it would be best for the installer to just do the correct thing.

Agent does not know

[2020-07-23 13:42] ferullo commented on #20048
Yes, always passing `--upgrade` works fine and I agree, it is best if Agent to do that.

[2020-07-23 13:43] blakerouse commented on #20200
This is fixed #20202.

[2020-07-23 13:43] #20200 closed

[2020-07-23 13:44] ph commented on #20048
@ferullo I assume we can also use the same command to rollback to a previous version?

[2020-07-23 13:53] masci commented on #19731
++ for making this an autodiscover feature as several integrations other than `kubernetes` will benefit from it.

After reading the comments I'm wondering, should this feature be called leader election at all? As a user, if I deploy 3 metricbeats and I see "leader election" I suppose one of them will be somehow special, but it seems we'll have a different abstraction layer here: with the leader be

[2020-07-23 13:56] ferullo commented on #20048
Endpoint will rollback automatically if it is unable to upgrade for some reason. But if Agent needs to rollback and wants to downgrade Endpoint that should work. However I can't promise it will because its impossible to guarantee a previously released Endpoint works with future Endpoints, especially across major version updates.

Is Agent going to upgrade itself first, then Beats and Endpoint? If

[2020-07-23 14:18] blakerouse commented on #20048
@ferullo Agent will upgrade itself first, then perform upgrades on the Beats and Endpoint.

Below is a couple failure cases that we consider on upgrade:

* Agent upgrades itself and fails
   * Endpoint will not have have anything change (aka. no install/upgrade/uninstall would ever be run)
   * Agent rollsback to previous version
   * Everything is back like upgrade didn't even occur
* Agent upgra

[2020-07-23 14:35] ph opened #20205 "[Meta][Ingest Manager] Allow the elastic agent to upgrade itself and his artifacts"
## Overall

* [ ] Define upgrades rules and behavior. (Limit to upgrades, what happens on failure) @blakerouse
* [ ] Define and implements how Fleet is starting an upgrade. @michalpristas /@neptunian

## Design
- [x] Design the upgrade flow in fleet. https://github.com/elastic/kibana/issues/68310 @hbharding
- [x] Design the deployment UI in fleet. https://github.com/elastic/kibana/issues/72537 @hb

[2020-07-23 14:49] ph commented on #20205
@ruflin @michalpristas @blakerouse Meta issue for upgrade, can you create specifc issues for the items and link them to this one?

[2020-07-23 14:53] jsoriano commented on #19731
`unique: true` also sounds good to me and would be enough for most of the cases, it could use something as the beat name as default identifier.
We could still need another optional setting to specify an identifier in case we want to support multiple providers definitions or multiple beats with different configurations, but we can also keep it for a future enhancement if we see requests for that.

[2020-07-23 14:55] ferullo commented on #20048
Thanks for the details. I had not realized Agent would downgrade itself if Beats or Endpoint didn't work after the upgrade. That's slick.

I think that flow works well. We have automated tests to make sure an Endpoint can be upgpraded, we'll add one to make sure it can be downgraded.

I still think if Beats or Endpoint fail to downgrade then uninstall and re-install is the best course of action to

[2020-07-23 15:03] kvch opened #20208 "[Elastic Agent] Overwrite global processor settings"
At the moment the logs of Filebeat started by the Agent is polluted with the debug logs of the `add_docker_metadata` processor. Example log line:
[code]

As I am not trying to test anything Docker related, these lines are distracting. Normally I just remove all processors when debugging Filebeat issues. However, as the Agent manages the configuration of these Filebeat instances, I do not have acce

[2020-07-23 15:13] ph commented on #20205
@EricDavisX Upcoming test cases to add for 7.10 ^

[2020-07-23 15:13] ph commented on #20048
@ferullo can you link the issue in https://github.com/elastic/beats/issues/20205 ?

[2020-07-23 15:36] #19955 closed

[2020-07-23 15:37] #20080 closed

[2020-07-23 16:13] frankfoti commented on #9268
filebeat 7.8.0 is not installing the pipelines via setup for me.  Please advise

"[ffoti@siem-logstash-01 filebeat]$ sudo /usr/share/filebeat/bin/filebeat -c /etc/filebeat/filebeat.yml setup --pipelines --modules system,auditd  -E output.logstash.enabled=false -E output.elasticsearch.username=beats_setup  -E output.elasticsearch.password=***** -E 'output.elasticsearch.ssl.certificate_authorities="

[2020-07-23 16:26] EricDavisX opened #25355 "[Elastic Agent] Agent policy change log doesn't track new policy id"
[Ingest Manager] Agent config changes don't have the actual config being changed to in the log
 - I don't know how else to get it and this would make it a traceability / auditing problem, at least for Endpoint users if not others

do we also need to put the user who has done the change in the log as well?  I think that's a common request

**Kibana version:**
7.9.0 BC3 deployed to cloud with BC3 Ag

[2020-07-23 16:50] elasticmachine commented on #20208
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-23 16:52] jsoriano commented on #20183
@getkub can you try using `mage build` instead of `make`? You can find instructions for installing mage here: https://magefile.org/

[2020-07-23 17:09] EricDavisX commented on #18792
will test in BC5 when it is built

[2020-07-23 17:14] frankfoti commented on #9268
I found the issue and resolved it:

2020-07-23T16:50:16.485Z        ERROR   fileset/modules.go:127  Not loading modules. Module directory not found: /usr/share/filebeat/bin/module

after issueing this it worked fine:
sudo cp -rf /usr/share/filebeat/module /usr/share/filebeat/bin

[2020-07-23 17:44] rw-access commented on #16072
@neu5ron was this fixed in https://github.com/elastic/beats/pull/17327?

[2020-07-23 18:15] andrewkroh opened #20215 "[Filebeat] Discover won't load: Trying to retrieve too many docvalue_fields"
Kibana fails while loading Discover. This is the error observed in the network tab of firefox:

[code]

For confirmed bugs, please report:
- Version: filebeat version 8.0.0 (amd64), libbeat 8.0.0 [e25d6c8dff3233c4fa9bf06d89ee69bc732e23a0 built 2020-07-23 17:06:47 +0000 UTC]
- Operating System: Mac OS
- Discuss Forum URL: N/A
- Steps to Reproduce:
  - Run filebeat setup
  - Index Some Data
  - Open

[2020-07-23 18:15] elasticmachine commented on #20215
Pinging @elastic/siem (Team:SIEM)

[2020-07-23 18:19] andrewkroh commented on #20215
This works as a work-around:

[code]

[2020-07-23 19:58] andrewkroh commented on #19745
@EthanStrider saw this while using the Metricbeat golang/expvar metricset to monitor Filebeat. It causes a mapping explosion in the metricbeat-* indices.

[2020-07-23 21:01] 0xtf opened #20219 "[Filebeat] DNS Processor for Apache module"
For confirmed bugs, please report:
- Version: 7.8.0
- Operating System: Ubuntu 18.04
- Steps to Reproduce: Enable Apache module in Filebeat and use the DNS processor; configuration example below:

[code]

In my particular case I'm also using other processors, namely the `add_fields` processor. While that processor works, DNS silently fails.

There will be no `source.hostname` or `destination.hostn

[2020-07-23 21:55] #20215 closed

[2020-07-23 22:25] andrewkroh commented on #16334
@janniten, Those improvements sound great! Especially the file audit events. I know I've heard requests for these events.

The risk score sounds good too. `event.risk_score` is a float so you'll have to do an arbitrary mapping to assign values to low, medium, high.

And thanks for the reminder to update the list above. I will do that soon.

[2020-07-24 04:00] jasonneurohr commented on #12360
Any update on this issue and the PR? I came across this issue when looking into why my heartbeat monitors were taking 17 minutes between checks. Once I modified the ICMP checks to be 60s and added a timeout of 5s the problem went away.

I'm pasting the scheduler logs so others who encounter the same thing might find this issue.

`WARN scheduler/scheduler.go:152.     2 tasks have missed their sched

[2020-07-24 06:56] janniten commented on #16334
Hi @andrewkroh , I'll start to work today with those events.
Regarding to the risk_score I'll do some research in order the mapping match something standard.
I've noticed something related to the mapping of the event.outcome. I think it is important  but it is not clear to me how to solve it from the security module. If I can, I'll do it...

https://discuss.elastic.co/t/event-outcome-and-winlog-ke

[2020-07-24 07:03] akshit-rohra-debug commented on #13804
Is anyone working on this issue?

[2020-07-24 07:07] cdssoftware opened #20223 "Beats for Docker/Windows"
Now that kubernetes (in AKS at least) supports windows hosts, would it be possible to produce docker images that run on windows for the daemon sets to use?

I've produced my own docker image based on golang which seems to work (obviously for my purposes I just baked in my configuration into the image)

[code]

[2020-07-24 07:07] cdssoftware opened #20224 "Beats for Docker/indows"
**Describe the enhancement:**

**Describe a specific use case for the enhancement or feature:**

[2020-07-24 07:14] cdssoftware commented on #20224
accidently created (duplicate of #20223 )

[2020-07-24 07:14] #20224 closed

[2020-07-24 07:22] iridescent233 opened #20225 "I would like to be able to increase the disk space metric"

[2020-07-24 09:30] jlvrhee commented on #19937
@fearful-symmetry Yes it looks like 7.8 solved the issue. So I propose to close this issue.

[2020-07-24 09:30] #19937 closed

[2020-07-24 12:04] neu5ron commented on #16072
@rw-access I dont believe so, does not appear to be extended to the Security module. Also, I think the same may still apply for any linux (or other) modules.

[2020-07-24 12:36] getkub commented on #20183
@jsoriano hi mate, is there any compiling information for Beats? or will mage will do all this automatically? (I understand makefile but is there similar one for mage which has all the beats depdencies?)

[2020-07-25 11:45] QuincyC379 commented on #19202
I encountered the same issue,please help,thank you so much :
**INFO pipeline/output.go:93 Attempting to reconnect to backoff(elasticsearch(http://172.28.252.21:19200)) with 9 reconnect attempt(s)**
I verified the xpack  from the inside of k8s, no problem at all ,no idea what is going on 。

[2020-07-25 19:38] liza-mae opened #20230 "Filebeat loading index pattern throws 413 error"
Version: 8.0.0-SNAPSHOT
Operating System: Ubuntu
Steps to Reproduce:
1. Install and run ES/Kibana.
2. Install Filebeat.
3. Run ./filebeat setup

[code]

Before we would not get an error, but after https://github.com/elastic/beats/issues/19965 we now get this error displayed, since I still see some open PRs linked to that issue, but that issue is closed, opening this one to track new failure on mas

[2020-07-25 19:38] elasticmachine commented on #20230
Pinging @elastic/integrations (Team:Integrations)

[2020-07-25 20:10] Crack commented on #14972
Am I understanding this correctly, that to get value for _cluster_uuid_ I need to start the cluster first, so a simple stateless "deploy + start everything at once" approach will be no longer possible in 8.0?

[2020-07-26 06:22] QuincyC379 commented on #19202
we solved this prolem by upgrading the version of filebeat,perfect plan!

[2020-07-26 06:23] QuincyC379 commented on #19202
We solved this prolem by upgrading the version of filebeat images,perfect!

[2020-07-26 06:59] augustynd opened #20231 "Please add DNS module under googlecloud.yml (filebeat)"
The current parsers under beats/x-pack/filebeat/modules.d/googlecloud.yml.disabled include parsers for vpcflow, firewall, and audit. Can you please add dns parser as well?

[2020-07-26 13:25] Kindrat commented on #19937
@fearful-symmetry I'm on 7.8 now and still getting this error.

[2020-07-27 07:16] michalpristas commented on #20048
I was thinking about snapshots over the weekend and this wont work for them, i realised that snapshot versions does not differentiate between snapshots (alwyas `8.0.0-SNAPSHOT` or so)

so version hash wont work for them.

so i was thinking that we need something which is known at build time to create a package dir and do a differentiation in between version.
at firt i was thinking of reusing SHA b

[2020-07-27 07:20] ruflin commented on #20205
@ph I would like to reassing `Define upgrades rules and behavior. (Limit to upgrades, what happens on failure) @ruflin` to @blakerouse or @michalpristas if you don't mind?

[2020-07-27 07:28] ruflin commented on #20208
@michalpristas Could you have a look?

[2020-07-27 07:58] vasilievs opened #20233 "Issue with output kafka multiple topics"
For confirmed bugs, please report:
- Version: 7.8.0
- Operating System: Docker container (Host - RHEL 7)
- Discuss Forum URL: https://discuss.elastic.co/t/issue-with-output-kafka-multiple-topics/242316
- Steps to Reproduce:
(use config) Create mutiple input filebeat, add fileds for difficult topics, set output kafka.topics with '%{[fields.kafka_topic]}'

filebeat.yml

name: filebeat.host
logging.l

[2020-07-27 08:39] kvch commented on #19964
I was able to reproduce the problem, so I do not need the debug logs anymore. A solution is coming soon.

[2020-07-27 09:14] kvch commented on #19964
@liza-mae What exactly did you do when got the error. The output you have pasted here seems inconsistent with the command you used. Did you run `setup` with only `--machine-learning` flag?

[2020-07-27 09:31] #20225 closed

[2020-07-27 09:32] elasticmachine commented on #20223
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-07-27 09:33] elasticmachine commented on #20219
Pinging @elastic/integrations-services (Team:Services)

[2020-07-27 09:34] elasticmachine commented on #20183
Pinging @elastic/integrations-services (Team:Services)

[2020-07-27 09:35] elasticmachine commented on #20231
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-07-27 09:37] elasticmachine commented on #20233
Pinging @elastic/integrations-services (Team:Services)

[2020-07-27 09:47] #20128 closed

[2020-07-27 10:00] jzako commented on #12923
+1

[2020-07-27 10:02] elasticmachine commented on #2926
Pinging @elastic/integrations-services (Team:Services)

[2020-07-27 10:28] elasticmachine commented on #7512
Pinging @elastic/integrations-services (Team:Services)

[2020-07-27 11:25] sorantis commented on #18049
@ioandr Thanks for your interest in developing this!
The module is tested for the Kubernetes versions mentioned [here](https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-module-kubernetes.html#_compatibility_28). I'd first focus on the conditions applicable to all versions, like the ones you mentioned.

cc: @ChrsMark @exekias

[2020-07-27 11:33] ChrsMark commented on #19731
This would fit in a case where we want to automatically identify `kube-state-metrics` and start `state_*` metricsets for instance. In this case we would need 2 different templates though for the same leader since we would need a condition in order to start `state_*` while for instance `events` metricset would not need any condition to be matched.

+1 for @masci 's version (plus having hardcoded th

[2020-07-27 11:46] eyalkoren commented on #16958
For the record - cgroup (v1 and v2) memory metrics issue in APM - https://github.com/elastic/apm/issues/291.
See if you can use anything when implementing and let the APM know if you think something can be done better.

[2020-07-27 11:59] jsoriano commented on #20183
Mage should do everything automatically, you would only need a recent version of go an mage.

[2020-07-27 12:00] kamalpreetpahwa-qasource commented on #20106
Hi @EricDavisX ,
We have validated this ticket on 7.9 BC4 cloud environment with 7.9 agent on Windows 10 Host OS.

We have created 07 test cases under [Persistent agent](https://elastic.testrail.io/index.php?/suites/view/27&group_by=cases:section_id&group_order=asc&group_id=3520) section in Testrail.

Moreover, we have kept the test cases as pending under [Persistent agent script](https://elastic.

[2020-07-27 12:16] michalpristas commented on #20208
@kvch these are turned on by default by filebeat/metricbeat
agent does not modify default behavioud just output specific one, so if you need to get rid of these, just comment out processors section in `data/install/filebeat-xyz/filebeat.yml` and respective metricbeat config.

@ruflin if we want to tweak these we need to make sure these options are reloadable on the beats side and then work on prov

[2020-07-27 12:52] willemdh commented on #20079
(Same for Dutch events)

[2020-07-27 12:54] blakerouse commented on #20048
@michalpristas Good catch on the issue with snapshots. I think it would be good to not use the whole commit hash, as that might cause issues on Windows due to file path length. Maybe just the first 8 or so?

I was thinking similar without even adjusting the packaged bits, always extract the new upgrade agent into `data/{$ current-agent $}/downloads` (don't think we need `/tmp`). Run `elastic-agent

[2020-07-27 12:58] blakerouse commented on #20106
Using the service, after `elastic-agent enroll`, you will not use `elastic-agent run`. Instead you would start the service that will perform the (`elastic-agent run`).

[2020-07-27 13:18] urso opened #20243 "Log file collector based on v2 input API"
Implement an alternative log file collector (Name: logfile) for use with the agent based on the v2 input API.

The v2 input API allows file state to be stored in a generic key-value store, while requiring the Input type to implement all required logic for state and ACK handling. A generic implementation for stateful inputs is available in the filebeat/input/v2/input-cursor package (currently requi

[2020-07-27 13:18] elasticmachine commented on #20243
Pinging @elastic/integrations-services (Team:Services)

[2020-07-27 13:35] blakerouse opened #20244 "[Elastic Agent] Service application type hits deadlock on `appLock` until StopTimeout"
Thanks to the great debugging of @gogochan, the following issue is causing Elastic Agent to not notice Endpoint has disconnected and causing a deadlock until `StopTimeout` occurs.

1. https://github.com/elastic/beats/blob/7.9/x-pack/elastic-agent/pkg/core/plugin/service/app.go#L221-L238
Grabs `appLock` then calls `a.srvState.Stop`.

2. `a.srvState.Stop` sends `StateExpected_STOPPING` to Endpoint.

[2020-07-27 13:35] elasticmachine commented on #20244
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-27 14:11] michalpristas commented on #20048
first few characters should work as well.
i think unpack to data and then moving it up makes sense as well

[2020-07-27 14:31] andresrc commented on #20233
Hi! We will provide and answer in the discuss topic. Sorry for the delay.

Thanks!

[2020-07-27 14:31] #20233 closed

[2020-07-27 14:34] #20219 closed

[2020-07-27 15:24] liza-mae commented on #19964
@kvch I ran ```./filebeat setup```

[2020-07-27 15:30] ph commented on #20048
goog catch on the snapshots. the `elastic-agent version --yaml` seems like an OK strategy? I would prefer if we can only have single path. We might have to solve where to get the matching snapshots for endpoints?

[2020-07-27 15:33] kvch commented on #19964
Thanks.

[2020-07-27 16:55] #20106 closed

[2020-07-27 17:05] tirkarthi commented on #19915
This is due to pyyaml : https://github.com/yaml/pyyaml/issues/202

[2020-07-27 17:14] adriansr commented on #18846
This was fixed by https://github.com/elastic/beats/pull/17964

The fix will appear in 7.8.1.

[2020-07-27 17:14] #18846 closed

[2020-07-27 17:29] adriansr opened #20253 "Filebeat cisco/asa and ftd sets event.outcome to a non-conforming value"
The shared ingest pipeline sets `event.outcome` to _allow_ or _deny,_ instead of using one of the [values allowed by ECS:
](https://www.elastic.co/guide/en/ecs/1.5/ecs-allowed-values-event-outcome.html)

- failure
- success
- unknown

[2020-07-27 17:30] elasticmachine commented on #20253
Pinging @elastic/siem (Team:SIEM)

[2020-07-27 19:38] drock commented on #11623
👍  For updating this.  We experience this issue in a slightly different way.

For us, the slowdown of a single logstash node can reduce our overall throughput by more than a factor of what that single logstash node could normally handle.  We see this problem whenever backpressure builds to the point of filling up a logstash's queues.

When this happens FB has to wait for the ACK from that logstash

[2020-07-27 20:54] mark54g commented on #20073
Would this be available to all beats, if implemented, or would it be just filebeat?

[2020-07-27 23:04] sagarkal commented on #5519
Is there a plan to address this anytime sooner?

[2020-07-28 00:28] BenB196 commented on #20253
Just an fyi, this is a related issue: https://github.com/elastic/beats/issues/19943

[2020-07-28 01:09] EricDavisX commented on #20131
@kuisathaverat hi - checking in, let us know any progress over the last week.  Cheers.

[2020-07-28 01:13] jesse-sant opened #20257 "[Elastic Agent] Warn user when agent is run without sudo or admin privileges"
When running the Elastic Agent after enrolling, there is no indication that the agent needs to be run with `sudo`, or administrator privileges.  Instead, if you run without `sudo`/administrator, the agent appears to start and run normally, but the actual setup does not continue (beats, and critically Elastic Endpoint, are not installed).  The agent also goes to the `online` status in Fleet, but wi

[2020-07-28 08:00] jsoriano commented on #17775
Another use case: in cloudfoundry you may want to set an event rate limit per organization, or in kubernetes per namespace.

[2020-07-28 08:05] andresrc commented on #19991
Hi @pulkits1998,

Some of that information is already available through the [metrics endpoint](https://www.elastic.co/guide/en/beats/filebeat/7.8/http-endpoint.html) and [stack monitoring](https://www.elastic.co/guide/en/beats/filebeat/7.8/monitoring.html) features.

Thanks

[2020-07-28 08:36] kamalpreetpahwa-qasource opened #20260 "[Ingest-Management]: Agent "restart" service gets crashed and error appears under "Agent activity log" page, when we restart the agent service (installed using PS1 command)"
**Kibana version:**
Kibana: 7.9 BC4

**Elasticsearch version:**
Elasticsearch: 7.9

**Agent version:**
Agent:7.9

**Browser version:**
Windows 10_x64, Chrome

**Original install method (e.g. download page, yum, from source, etc.):**
From download page.

**Description**
[Ingest-Management]: Agent "restart" service gets crashed and error appears under "Agent activity log" page, when we restart the a

[2020-07-28 08:41] kamalpreetpahwa-qasource commented on #20260
Please review and assign the defect @rahulgupta-qasource

[2020-07-28 08:50] elasticmachine commented on #20260
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-28 08:52] rahulgupta-qasource commented on #20260
Reviewed and assigned to @EricDavisX

[2020-07-28 08:56] michalpristas commented on #20260
u think this should get fixed by work @blakerouse is doing - implementing service interface.

[2020-07-28 09:12] kamalpreetpahwa-qasource commented on #20106
Hi @blakerouse

Thanks for sharing the feedback on clear steps for persistent test.

Hi @EricDavisX

We have validated this ticket on 7.9 BC 4 cloud environment on Host OS Windows 10_x64 .
Please find below are test case execution status and our observations:

We have executed 07 test cases, out of which Failed 02 test cases under [Persistent agent Script  test plan](https://elastic.testrail.io/in

[2020-07-28 09:44] michalpristas commented on #20048
moved logs under data

[2020-07-28 10:18] #19884 closed

[2020-07-28 10:53] jsoriano commented on #19369
An update of this, I have tried to reproduce it again with master and with 7.x, good news is that with 7.x this issue doesn't happen to me. So maybe this is caused by some breaking change in Beats/ES/Kibana for 8.x and we are good with 7.x, but we should be careful in case we backport what is causing this.

To reproduce this I am using Elasticsearch and Kibana from the scenario in https://github.c

[2020-07-28 11:00] #19964 closed

[2020-07-28 11:00] #12998 closed

[2020-07-28 11:01] #20022 closed

[2020-07-28 12:10] michalpristas commented on #19369
not sure what changed but today i'm hitting some race on ^^^ `beat` build dir. sometimes it gets build completely sometimes partially and sometimes not at all before proceeding to composing docker image.

[2020-07-28 12:32] blakerouse commented on #20106
This fix has not be pushed out into a BC yet, next BC will have this fix.

[2020-07-28 12:42] EricDavisX commented on #20106
yes, please test in BC 5 or later

[2020-07-28 12:58] alski2000 commented on #13256
Is there any movement on this because id be really interested in this fix

[2020-07-28 13:05] michalpristas commented on #19369
@jsoriano try latest master for build issue, should be ok now

[2020-07-28 13:10] #20244 closed

[2020-07-28 13:34] jsoriano commented on #19369
It builds now, yes, thanks!

[2020-07-28 13:48] ph commented on #19369
Can we close this?

[2020-07-28 13:55] ph commented on #19814
I've moved that to 7.11.

@nchaulet I believe we have some backend support for metadata correct?

[2020-07-28 13:58] mdelapenya opened #20274 "Support PRs to use PR ID in the artifact name"
When packaging a PR, the generated artifact is uploaded to a Google Cloud bucket with the name of the snapshot. We'd like to generate the artifact including the PR ID:

[code]

cc/ @elastic/observablt-robots @ph @EricDavisX

[2020-07-28 14:03] jsoriano commented on #19369
This issue still happens with master, are we ok with this?

It doesn't seem to affect 7.9/beta1, so in any case I think we can remove the `Ingest Management:beta1` label.

[2020-07-28 14:03] eddieturizo opened #20275 "Add influxdb module to Metricbeat"
**Describe the enhancement:**

Provide an InfluxDB Metricbeat module.

**Describe a specific use case for the enhancement or feature:**

There is a desire to be able to collect and index InfluxDB metrics into Elasticsearch.

[2020-07-28 14:04] mdelapenya commented on #20274
Revisiting the mage build tools, and to avoid refactoring it to support creating the packages with a different name, I think we can use another schema for the bucket layout:

[code]

@kuisathaverat wdyt?

[2020-07-28 14:08] #19350 closed

[2020-07-28 14:13] fredtj commented on #19314
some support for Forticlient has been added to the Fortinet module by @adriansr - however from the test logs they seem to be targeting really old (unsupported) versions - is this an oversight? some limited research shows those logs to be from version 3 of Forticlient, which was around at least in 2008. there are some more up to date forticlient logs attached above, but if more are required just le

[2020-07-28 14:32] sayden opened #20280 "Filebeat missing first character in file lines"
It seems that Filebeat since version 7.8.1 (maybe earlier, I haven't tried) and in Snapshot is missing the first character of each line when reading. At least with some specific config:

### How to reproduce

`filebeat.yml`
[code]
1.- Create a folder in `/tmp/input` and open & create a file in `/tmp/input/hello.log`.
2.- Launch filebeat (it will read from `/tmp/input/*log`)
3.- Write `hello` inser

[2020-07-28 14:36] ruflin commented on #19369
If it still happens in master, we should keep it open and continue investigating. I would really like to understand why it happens so we can figure out if 7.x is also effected.

[2020-07-28 14:37] elasticmachine commented on #20231
Pinging @elastic/siem (Team:SIEM)

[2020-07-28 14:40] ph commented on #19369
Let's keep it open.

I am worried, are we missing a commit in 7.9?

[2020-07-28 14:41] jsoriano commented on #20223
Related to/duplicated of https://github.com/elastic/beats/issues/16814

[2020-07-28 14:46] EricDavisX commented on #20257
@ph @blakerouse @michalpristas do you have thoughts on this?

[2020-07-28 14:55] ChrsMark commented on #19731
PoC for further discussion: https://github.com/elastic/beats/pull/20281

[2020-07-28 14:57] exekias commented on #19731
sounds good to me folks! +1 on Jaime's comment to have another parameter to specify the identifier, with a good default

[2020-07-28 14:59] elasticmachine commented on #20280
Pinging @elastic/integrations-services (Team:Services)

[2020-07-28 15:41] ph commented on #14457
closed in favor of https://github.com/elastic/kibana/issues/73483

[2020-07-28 15:41] #14457 closed

[2020-07-28 15:47] jsoriano commented on #20280
I think the issue here is that editors use to add newlines (or other characters) at the end of the file, for example if you write `hello`, a new line, and save on vim, you end up with two new lines at the end of the file:
[code]
If filebeat reads this file at this point it would have read 7 bytes. Then if you open the file with vim, write `world` and a new line:
[code]
The second new line is repla

[2020-07-28 15:47] #20280 closed

[2020-07-28 15:53] elasticmachine commented on #20275
Pinging @elastic/integrations-services (Team:Services)

[2020-07-28 15:56] ph commented on #20274
@mdelapenya +1 for not changing the artifact names, the Elastic-Agent relies on that quite heavily and with the upgrade this will only increase.

@michalpristas and @blakerouse for info.

[2020-07-28 17:03] sorantis opened #20283 "[Metricbeat] OpenStack Integration"
OpenStack is an open source orchestration platform for virtual machines. Think vSphere, but open source, or AWS EC2, S3 but on-prem. OpenStack consists of 6 core components that are responsible for managing compute, networking and storage resources. These components are:
* Nova - provisions virtual machines.
* Neutron - provisions virtual networks, routers.
* Cinder - provides block storage.
* Gla

[2020-07-28 17:03] elasticmachine commented on #20283
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-07-28 18:22] michalpristas commented on #20257
this was an issue of recent discussion, we have few strategies in mind one of them would be limiting scope of agent when not running elevated. i dont think we agreed on anything just yet but we would like to see agent being capable of non elevated runs

cc @ruflin

[2020-07-28 18:34] ph commented on #20257
I think we should allow elastic agent to run without elevated. I think we could leverage our "conditions" idea for integration and stream and applies in at the configuration level. So the Agent could use these conditions defined in the program spec and output the warning in the log and report it back to fleet.

[2020-07-28 19:15] ph opened #20288 "[Ingest Manager] Remove usage of Success and relies on HTTP code."
Related issue: https://github.com/elastic/kibana/issues/73221

[code]

[2020-07-28 19:15] elasticmachine commented on #20288
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-28 19:20] TheRiffRafi opened #20289 "Metricbeat Azure Module can't poll for compute_vm memory stats for Linux VMs"
- Version: 7.8
- Operating System: Generic Linux
- Steps to Reproduce:

1.Start an Azure's Linux VM (better luck with ubuntu as currently CentOS or RedHat is having some trouble getting Azure's monitoring tools installed).
2. Install the monitoring add-on from Azure
3. Install metricbeat on the Azure Linux VM.
4. Configure all credentials and enable the Azure Module.
5. Enable the compute_vm metri

[2020-07-28 19:21] elasticmachine commented on #20289
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-07-28 20:10] ph commented on #20048
@ruflin Could you take a look?

[2020-07-28 22:02] augustynd opened #20294 "Request for the Qualys Module in Filebeat"
I'd like to request a filebeat module for the Qualys vulnerability scan reports and user activity logs.
- vulnerability scan reports
- user activity logs (page # 655) in the following document https://www.qualys.com/docs/qualys-api-vmpc-user-guide.pdf

[2020-07-29 05:31] nyetwurk commented on #18949
Not sure if this is related, but using logstash with filebeat/metricbeat consistently results in "0" being interpreted as an int.

I've even seen "0.0" get converted to "0" int, until a new index rolls around and the value is a non-zero non-integer.

This is for schemaless data with no templates in ES.

[2020-07-29 08:02] elasticmachine commented on #20294
Pinging @elastic/siem (Team:SIEM)

[2020-07-29 08:25] #20274 closed

[2020-07-29 08:38] marc-gr opened #20300 "[Filebeat][Fortinet] Add the ability to set a default timezone in fortinet config"
**Describe the enhancement:**

Some fortinet logs do not have a `tz` field to set the timezone from, now we are defaulting to UTC for this, but would be desirable to set a fallback default timezone if this happens.

**Describe a specific use case for the enhancement or feature:**

When we have a log like

[code]

we want to be able to define which timezone it is other than UTC

cc\ @P1llus

[2020-07-29 08:38] elasticmachine commented on #20300
Pinging @elastic/siem (Team:SIEM)

[2020-07-29 08:56] jamiehynds commented on #20294
Hi @augustynd - thanks for raising the request. Support for vulnerability data is on our radar and we are currently working on experimental modules for [Nessus](https://www.elastic.co/guide/en/beats/filebeat/7.9/filebeat-module-tenable.html) and [Nexpose ](https://www.elastic.co/guide/en/beats/filebeat/7.9/filebeat-module-rapid7.html).

While we aren't currently working on Qualys support, we'll ce

[2020-07-29 09:03] exekias commented on #19758
One of the main things we need to figure out from this research is: How are we going to correlate data coming from Filebeat/Metricbeat inside a cloud VM with the data we get from outside (AWS, Azure, GCP modules)?. This answer should make it to the inventory definition.

Some possible options:

- explore if we need to define `cloud.instance.id` taking precedence over `host.name` when present
- exp

[2020-07-29 09:23] jamiehynds commented on #19314
@fredtj the Forticlient module will be experimental to begin with to ensure we can iterate on the parser to cover a broader set of events before we officially support the module. We have a limited dataset to base this module on, so thank you for providing the sample logs - they are really helpful. @adriansr and I will take a look at the logs you've attached and adjust the module accordingly. If th

[2020-07-29 10:03] v1v opened #20303 "[Auditbeat][test failures] master branch got some test failures for the last few days"
## Tests failures:

* **Name**: `Build and Test / Auditbeat x-pack / test_connected_udp_ipv4 – test_system_socket.Test`
* **Name**: `Build and Test / Auditbeat x-pack / test_connected_udp_ipv6 – test_system_socket.Test`
* **Name**: `Build and Test / Auditbeat x-pack / test_dns_enrichment – test_system_socket.Test`
* **Name**: `Build and Test / Auditbeat x-pack / test_dns_long_request – test_system

[2020-07-29 10:03] elasticmachine commented on #20303
Pinging @elastic/siem (Team:SIEM)

[2020-07-29 10:11] v1v opened #20304 "[Metricbeat][test failures] master branch got some test failures for the last few days"
## Tests failures:

* **Name**: `Build and Test / Metricbeat OSS Unit tests / test_system.Test.test_process`

## Logs

Log details: see https://gist.github.com/v1v/44ea64fc056d4ee392942cd122ec3fc0

[code]

### How to reproduce:

- Spinup an ubuntu-18 VM
- Run the below command
[code]

[2020-07-29 10:18] v1v opened #20306 "[Libbeat][test failures] master branch got some test failures for the last few days"
## Tests failures:

* **Name**: `Build and Test / Libbeat / Libbeat oss / pipeline.TestReplaceClientWorker`
* **Name**: `Build and Test / Libbeat / Libbeat oss / pipeline.TestReplaceClientWorker/network_client `
* **Name**: `Build and Test / Libbeat / Libbeat oss / docker.TestDockerStart`

## Logs

Log details: see https://gist.github.com/v1v/0f772c3df90aa1a858345c8d8ff55b16

### How to reproduce:

[2020-07-29 11:36] Hvid commented on #8540
Hi,

I'm also seeing no percentages in docker.cpu stats with version 7.8.0

[2020-07-29 11:40] exekias commented on #19731
Something we need to figure out is what happens to metadata. When doing `unique: true` we may want two different thigns:

 - Do autodiscover at a cluster scope, to monitor some services in the cluster
 - Run some module/input only from a single place, as a singleton for the cluster

For the later part, how will the UX be? by doing this with autodiscover we may be adding unwanted metadata to the in

[2020-07-29 11:45] jpountz commented on #20188
Given that we recommend upgrading Elasticsearch first, Beats should always be on a version <= Elasticsearch, so we shouldn't have to check the Elasticsearch version? I remember Beats used to try to retain compatibility for older Elasticsearch versions, but I thought we had stopped doing this?

[2020-07-29 11:53] urso commented on #20188
This is still the case. All Beats 7.x will try to be compatible with all 7.x Elasticsearch versions. The version constraint will be for Agent.

[2020-07-29 12:34] ChrsMark opened #20311 "Remove unnecessary restarts of metricsets while using Pod/Service autodiscover"
**Describe the enhancement:**
Improve update checks for `pod` and `service` resources to avoid having  unnecessary restarts of metricsets.
Similar to https://github.com/elastic/beats/pull/19974.

[2020-07-29 12:34] elasticmachine commented on #20311
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-07-29 12:44] andrewkroh commented on #20303
It looks like these tests are each failing with an error similar to:

`2020-07-29T10:11:00.925Z	ERROR	instance/beat.go:935	Exiting: 1 error: system/socket dataset setup failed: unable to delete existing KProbes. Is Auditbeat already running?: 19 errors: unable to remove kprobe 'p:auditbeat/sys_execve_call __x64_sys_execve path=+0(+0x70(%di)):u64 ... arg40=+248(+192(%si)):u64': write /sys/kernel/de

[2020-07-29 12:45] mtojek opened #20312 "[Elastic Agent] Docker error: connection to Kibana is insecure"
While working on updating Docker image versions in https://github.com/elastic/integrations/pull/202, @ruflin discovered an issue with running the Agent connecting to the insecure Kibana:

https://github.com/elastic/integrations/pull/202#issuecomment-665569954

Error message:
[code]

I think we may need an additional flag to be exposed or fix in the enrollment script.

/cc @michalpristas

[2020-07-29 12:45] elasticmachine commented on #20312
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-29 12:49] andrewkroh commented on #20303
The machine that Auditbeat is testing on is already running Auditbeat with the system/socket metricset. This is causing a conflict with the tests.

[2020-07-29 12:53] blakerouse commented on #20257
@ph That is a really good idea. If we add it to "conditions" then it allows the packages to define what can/can't run on a host without privileges. That way we do not need to build lots of logic into Agent on how things should run, when in reality Agent doesn't really know what inputs need what permissions.

[2020-07-29 12:53] jsoriano commented on #7782
It seems that this and many other metrics can be collected using performance metrics. There is an example about this here: https://github.com/vmware/govmomi/blob/master/performance/example_test.go

[2020-07-29 13:00] jsoriano commented on #19757
For vsphere metrics we are going to need add support to collect performance metrics. I have collected [a list of metrics](https://gist.github.com/jsoriano/c759597aebd0ebba6ecb9ad0ec995336) that we can collect using a variation of [this example code](https://github.com/vmware/govmomi/blob/master/performance/example_test.go).

[2020-07-29 13:14] jsoriano opened #20313 "Add support for vsphere performance metrics in metricbeat"
Current metricbeat module for vsphere uses the "quick stats" metrics available in the API objects for virtual machines, host information and so on. vsphere SDKs also expose a set of performance metrics that expose many more metrics. We could complete vsphere support with these metrics.

We could review if this would replace the current metricsets, and/or if this could be implemented as new metrics

[2020-07-29 13:14] elasticmachine commented on #20313
Pinging @elastic/integrations (Team:Integrations)

[2020-07-29 13:18] #17675 closed

[2020-07-29 13:37] elasticmachine commented on #20304
Pinging @elastic/integrations (Team:Integrations)

[2020-07-29 13:38] bleed2002 commented on #9252
Found this issue while searching for a way to limit disk space usage for my elastic stack. I currently use it mainly for monitoring data collected by metricbeat and we see storage requirements of about 500 MB per host (default config of system and nginx modules) which quite sums up when more hosts are under monitoring. Rollup jobs seem to be the best solution but currently I do not know an easy wa

[2020-07-29 13:48] Baklap4 opened #20315 "Using hosts as configuration with external adress does not work in kubernetes setup"
We added the discovery annotations to our pods being ([as per documentation](https://www.elastic.co/guide/en/beats/heartbeat/current/configuration-autodiscover-hints.html)):
[code]

This doesn't get to show up at heartbeat in kibana. We had to change to

[code]

to make it work.

There have been 4 changes to the documentation regarding this all found here: https://github.com/elastic/beats/commits/

[2020-07-29 14:04] adriansr commented on #20303
I think adding a parameter option to set the "group" name for the kprobes would allow multiple instances to coexist. It is currently hardcoded to "auditbeat". I should experiment in case there's other conflicts. WDYT @andrewkroh

[2020-07-29 14:07] andrewstucki commented on #20303
@adriansr that would likely be a nice feature, but I'm wondering--I'm assuming the group was hardcoded to make a best-effort to clean up any accidentally orphaned debugfs kprobe entries? Would the potential to do something like reconfigure the group and potentially leave orphaned entries be an issue?

[2020-07-29 14:18] andrewkroh commented on #20303
I like the idea. What would the "group" be? If the PID were incorporated into the name then would this facilitate cleanup or orphaned probes too? You could detected if the other groups were still "owned" a running auditbeat process.

[2020-07-29 14:20] mdelapenya opened #20317 "Support PRs to use PR ID in the docker images pushed to our docker registry"
When packaging a PR, the generated docker image is pushed to our docker registry with the name of the snapshot. We'd like to generate the docker image including the PR ID:

[code]

cc/ @elastic/observablt-robots @ph @EricDavisX

[2020-07-29 14:32] mdelapenya commented on #20317
I'm thinking about the proposed name, and I could see two different choices:

1. def newName = "${DOCKER_REGISTRY}/observability-ci/${name}:${libbetaVer}"
1. def newName = "${DOCKER_REGISTRY}/observability-ci/${name}/${PR_ID}:${libbetaVer}"

The first one adds the PR-ID to the tag, and the second one adds it to the namespace. I like the second one as it preserves the tag name structure, so it's ea

[2020-07-29 14:46] ph commented on #20257
@blakerouse Yes, I think that makes the concepts more powerful, conditions at the program spec level, conditions at the input level.

[2020-07-29 14:47] andresrc commented on #19940
What's missing to close this issue?

[2020-07-29 14:50] kaiyan-sheng commented on #19940
@andresrc We haven't added any log message in the code yet. Only added warning in doc.

[2020-07-29 14:55] #12211 closed

[2020-07-29 15:02] ph commented on #20317
I like option 2.

[2020-07-29 15:16] EthanStrider opened #20321 "[Filebeat PostgreSQL] Query Duration Overview dashboard has spurious query"
The `[Filebeat PostgreSQL] Query Duration Overview` seems to have a spurious query saved: `postgresql.log.query:*`
This makes it so that no results show up in the dashboard. Removing the query fixes the dashboard.

This looks like the offending line in the code: https://github.com/elastic/beats/blob/02d29c6f9eff1d97c1dbfa9bf14c3175023c4de5/filebeat/module/postgresql/_meta/kibana/7/dashboard/Filebe

[2020-07-29 15:32] EthanStrider commented on #20321
Created a PR here: https://github.com/elastic/beats/pull/20322

[2020-07-29 15:36] mkkeffeler commented on #11404
this would be very valuable and much needed. we often try to determine if a process is hung with metricbeat which is one of the big use cases

[2020-07-29 15:38] EthanStrider commented on #20321
Related: https://github.com/elastic/demo.elastic.co/issues/299

[2020-07-29 15:39] #19500 closed

[2020-07-29 16:28] mdelapenya commented on #20317
Adding @kuisathaverat's comments for context: https://github.com/elastic/beats/pull/20323#discussion_r462429228

[2020-07-29 16:31] mdelapenya commented on #20317
What he suggests is a third option:

3. def newName = "${DOCKER_REGISTRY}/observability-ci/${name}:${PR_ID}

I like this option the most

[2020-07-29 17:08] #20317 closed

[2020-07-29 17:31] kwinstonix opened #20326 "[MetricBeat] [AWS] events can't set TargetGroup tags"
For confirmed bugs, please report:
- Version: 7.8.1
- Steps to Reproduce:

  * set aws ALB/NLB targetgroup tags
  * run metricbeat with this example config

[code]

*  current result:

events only contain Loadbalancer tags

* expected result:

events contain both LoadBalancer and TargetGroup tags

----

aws alb and nlb metrics structure

[code]

* aws resourcetagginggroup result examle

[code]

co

[2020-07-29 17:40] elasticmachine commented on #20326
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-07-29 17:43] adriansr commented on #20303
Orphaned entries aren't really a big problem afaik, as they are disabled once the controlling process dies. There doesn't seem to be a limit on disabled kprobes (I've tested with >10000 of them without trouble). So the cleanup is just to avoid cluttering `kprobe_events`.

Actually adding the PID to the group makes sense. Created #20325 with this change.

[2020-07-29 17:59] adriansr opened #20327 "[Auditbeat] Socket: Support maxactive in kretprobes"
Kretprobes (kprobes that fire on function return) have one parameter called [maxactive:](https://lwn.net/Articles/134998/)

that can be active concurrently.  For example, if the function is non-
recursive and is called with a spinlock or mutex held, maxactive = 1
should be enough.  If the function is non-recursive and can never
relinquish the CPU (e.g., via a semaphore or preemption), NR_CPUS shou

[2020-07-29 18:00] elasticmachine commented on #20327
Pinging @elastic/siem (Team:SIEM)

[2020-07-29 18:55] SpencerLN commented on #18530
@alakahakai after upgrading to 7.8.1 we saw a significant improvement and the module is no longer crashing due to rate limiting constantly, but there appear to still be conditions that cause a crash. As mentioned above, it would be ideal to implement some sort of generic retry logic for retryable error conditions.

Our most recent instance, after running for ~12 hours:
[code]

[2020-07-29 19:13] elasticmachine commented on #20321
Pinging @elastic/integrations (Team:Integrations)

[2020-07-29 19:33] elasticmachine commented on #20315
Pinging @elastic/uptime (Team:Uptime)

[2020-07-29 19:34] elasticmachine commented on #13177
Pinging @elastic/integrations (Team:Integrations)

[2020-07-29 19:35] elasticmachine commented on #13416
Pinging @elastic/siem (Team:SIEM)

[2020-07-29 19:37] elasticmachine commented on #13018
Pinging @elastic/siem (Team:SIEM)

[2020-07-29 19:37] elasticmachine commented on #12953
Pinging @elastic/siem (Team:SIEM)

[2020-07-29 20:21] EricDavisX commented on #20260
please re-test this in BC5 - It has all of the expected fixes for persistence (which is what the service and powershell script relate to) thank you.

[2020-07-29 21:04] Gimlie102 commented on #18410
Any update on this? These message types are frequently used and should definitely be supported.

[2020-07-29 21:32] jclemons7 commented on #2073
+1

[2020-07-30 02:26] EricDavisX opened #20331 "[Ingest Manager] RHEL 6.10 Agent (and others) install but comms / policy fail with Endpoint"
[Ingest Manager] RHEL 6.10 Agent installs but comms fail with Endpoint
 - https://github.com/elastic/integrations-dev/issues/22 it is cited as supported from Elastic, version 6.5 and up.

Update:  I'm seeing somehow the same thing with most other BC4 Linux agents that are deployed to this server - Centos7, Ubuntu 18, RHEL 7.3
and also the same with Centos 6.4, tho this one is below the version req

[2020-07-30 02:26] elasticmachine commented on #20331
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-30 07:02] pengtianabc opened #20332 "[Packetbeat]Feature: Move tsg to google of gopacket and add pfring"
**Link**
- [repo link](https://github.com/pengtianabc/beats/tree/packetbeat_pfring)

**Features**
- Move tsg/gopacket to google/gopacket
- Add pfring support

**Note**
- I have not create a pull request because i have some questions, if someone find a mistake, please tell me, after solve and test, i will create a PR

**Questions**
- I am newbie of golang, so i only test packetbeat with pfring and

[2020-07-30 07:34] elasticmachine commented on #20332
Pinging @elastic/siem (Team:SIEM)

[2020-07-30 07:53] v1v opened #20341 "[BUILD] Python3 installation failed in some cases"
In order to run certain build stages in the CI is required to install some dependencies, such as `python3`, but in some cases the installation fails after 30 minutes with the below error:

[code]

__further details__: [here](https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats/detail/PR-20156/9/pipeline/2098/)

As far as I see the script itself does not return the errorlevel, there

[2020-07-30 09:22] Bernhard-Fluehmann opened #20342 "[Filebeat] 7.8 Filebeat output elasticsearch pipeline broken"
I have opened a [discussion](https://discuss.elastic.co/t/filebeat-output-elasticsearch-pipeline-not-working/240167) some time ago about a potential bug I found in filebeat 7.8.

Due to lack of response and since there seem to be at least one other person having the same issue, I decided to create an issue.

The problem description can be found in the [discussion](https://discuss.elastic.co/t/file

[2020-07-30 09:38] #20304 closed

[2020-07-30 10:13] fredtj commented on #20342
I'm using filebeat 7.8 with an ingest pipeline and it's working OK - could you try with:

`parameters.pipeline: 'yourpipeline'` underneath `output.elasticsearch`?

[2020-07-30 11:50] EricDavisX commented on #20331
I need to sync up with charlie and see how he deployed this environment's linux hosts.  @charlie-pichette did you remember to use 'sudo' with the linux boxes?

[2020-07-30 12:17] mtojek opened #20346 "[Elastic-Agent] [Docker] Discuss: accessing logs from different container"
I'd like to ask for your recommendation for users that prefer to run Elastic Agent in the container (let's say due to security reasons).

Let's discuss the scenario:

The integrated product is nginx running in a container. It produces logs stored locally in the image and which are rotated. As the agent is running in a different container, it can't simply access produced logs.

What is your recomme

[2020-07-30 12:17] elasticmachine commented on #20346
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-30 12:17] mtojek commented on #20346
/cc @ruflin @michalpristas @ph

[2020-07-30 13:07] blakerouse commented on #20346
I don't think we are quite there yet with the Docker/Kubernetes story with Agent. This really comes down to dynamic configurations and the ability for Agent to interact directly with Docker and Kubernetes.

[2020-07-30 13:09] ycombinator commented on #20346
This is the effort being tracked in https://github.com/elastic/beats/issues/19225, yes?

[2020-07-30 13:10] mtojek commented on #20346
I understand. Thanks for responding! The reason why am I asking is because we'll need to somehow fetch logs from containers and wouldn't like to enforce a nasty workaround if there is a sophisticated method available.

[2020-07-30 13:12] blakerouse commented on #20346
@ycombinator #19255 is the one.

At the moment in 7.9 there is no sophisticated method.

[2020-07-30 13:13] andrewkroh commented on #20341
Maybe we need to move to 3.8.5 https://chocolatey.org/packages/python/3.8.5.20200721. Could this package be something that's added to the windows worker images?

[2020-07-30 13:16] ruflin commented on #20257
@blakerouse Very interesting idea, that each dataset could also specify a condition which privileges it needs. I like it.

[2020-07-30 13:34] v1v commented on #20341
Theoretically everything is in place in the configuration side for the CI Windows workers, in fact, it uses the latest 3 version of python. Now the reality, the packer image generation is not enabled at the moment, therefore no python3 is installed atm, so I'm waiting for the team responsible for to enable it, so I'll keep an eye and verify it works as expected.

[2020-07-30 13:36] charlie-pichette commented on #20331
Yes.  I used sudo.  However I did not deploy to RHEL 6.10.

[2020-07-30 13:48] v1v commented on #17411
Regarding this particular issue, since I'm working on the 2.0 Pipeline implementation, I created a script to generate the table with what beats are enabled in the CI and what build/stages are enabled for each, please see below:

https://github.com/elastic/beats/pull/20104#build-stages

__NOTE__: the above-mentioned PR is still in progress, but wanted to clarify that we can create what we run in th

[2020-07-30 13:53] mbudge opened #20350 "Add dns.length.answers.data and dns.length.question.name to store string length for detecting DNS exfil/tunneling"
**Describe the enhancement:**

Calculating the string length of dns.question.name and dns.question.answers.data can be useful for detection DNS ex-filtration and tunnelling. Detections and ML can filter out background noise by only looking at questions with a string length above around 40-50 characters for dns.question.name, and lets say 100 characters for dns.answers..data.

As dns.answers.data i

[2020-07-30 14:03] ph commented on #20205
@blakerouse I have assigned you as the owner of this feature.

[2020-07-30 14:29] BlackRythims opened #20352 "RSA NetWitness Parsers"
**Describe the enhancement:**
highly recommending staying away from the RSA NetWitness Parsers .. many reported quality issues with so many Netwitness users globally. better build the parsers from scratch to maintain the great quality of beats parsers so far.
**Describe a specific use case for the enhancement or feature:**

[2020-07-30 14:31] #20303 closed

[2020-07-30 14:35] Bernhard-Fluehmann commented on #20342
What input are you using? I have repeated the tests with the following result:
`pipeline: "test"`
input  log: OK
input udp: NOK This looks very odd to me since we are talking about an output config

`parameters.pipeline: "test1"`
input log: OK
input udp: OK

It is easily reproducible in my setup by changing the setting back and forth

Now that the parameters.pipeline seems to do the trick, I did s

[2020-07-30 14:45] blakerouse commented on #20205
@ph Sounds good. I will ensure, it works!

[2020-07-30 14:48] blakerouse commented on #20331
Please include the steps take to run on Agent on the host. Is the Agent running as a service under systemd or is it running from a bash shell?

[2020-07-30 14:58] fredtj commented on #20342
I set up a test filebeat with the below config, these route to the correct ingest pipelines on ES.

`filebeat.inputs:
- type: log
  paths:
   - /root/test1.txt
  pipeline: "test1-pipeline"

- type: log
  paths:
  - /root/test2.txt
  pipeline: "test2-pipeline"
`

[2020-07-30 15:17] Bernhard-Fluehmann commented on #20342
@fredtj So you are using pipelines in inputs. Just tried and works for me as well, both log and udp.
I would still apreciate if you could let me know the reason why pipeline in output in combination with udp input got broken.

I'm asking this since the manual does not mention anything about pipelines in the input, but it does for the output.
Again, please let me know if you can confirm this as a b

[2020-07-30 15:17] EricDavisX commented on #20331
I got some cross-contamination with my screen shots, I appreciate the clarification Charlie.  Both of those are supported so it should have worked I believe.

The deploy was a bash shell without the service installed (it was a .tar.gz) deploy.  I'm hoping to re-test this... something must have been off somehow, for so many (all I think?) of the Linux boxes to go to a Failed policy.  Maybe its a kn

[2020-07-30 15:20] Bernhard-Fluehmann commented on #20342
BTW, this is how I tested udp

    - type: udp
      host: "localhost:8080"
      fields:
        event.dataset: test1udp
      fields_under_root: true

...

And then from terminal:
echo -n "testmessage" | nc -4u localhost 8080

[2020-07-30 15:25] fredtj commented on #20342
i'm using `parameters.pipeline: 'yourpipeline'` in `output.elasticsearch`, as per my first comment. i suppose it makes sense specifying the pipeline in the input for multiple inputs, because otherwise you'd have to tag the document then add conditionals as to which pipeline to use in the output. i don't know if what you mention is a bug or not, perhaps somebody at elastic will read this :+1:

[2020-07-30 15:44] Bernhard-Fluehmann commented on #20342
@fredtj Thanks for the hint and your help. Now I have checked the manual again and found it documented in all specific inputs. I will configure pipelines in inputs from now on and leave output.elasticsearch alone.

[2020-07-30 16:03] inqueue opened #20358 "[Kafka output] Detect Kafka leader changes sooner to resume writing"
**Describe the enhancement:**  Filebeat should notice sooner when the Kafka leader changes. Currently, 10 minutes will elapse before Filebeat notices a leader change as controlled by `metadata.refresh_frequency`. Change the defaults for this configuration so Filebeat can resume writing when a leader goes down.

**Describe a specific use case for the enhancement or feature:**

Please (re)consider r

[2020-07-30 17:14] charlie-pichette commented on #20331
The Linux tar.gz file was used for the agent.  A bash shell script containing the elastic-agent commands was executed using sudo on the host in an interactive terminal.  The shell script was:
[code]

[2020-07-30 18:09] urso opened #20360 "TestDockerStart flaky test"
Recently the TestDockerStart test is failing always:

[code]

[2020-07-30 18:09] elasticmachine commented on #20360
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-07-30 18:47] kaiyan-sheng commented on #20326
@kwinstonix Thanks for creating this issue. Good point, it would be good to add collection for TargetGroup tags. I won't be able to start working on this for a while because of other priorities on my list 😬 Please feel free to take over!

[2020-07-30 19:07] leehinman opened #20364 "[Packetbeat] flow dataset should have "network" in event.category"
1. packetbeat flow dataset events with event.category:network_traffic as the only value.

[2020-07-30 19:07] elasticmachine commented on #20364
Pinging @elastic/siem (Team:SIEM)

[2020-07-30 19:09] leehinman opened #20365 "[Filebeat] system/syslog fileset sets event.type to illegal value"
event.type is being set to "event"

should be event.kind being set to "event"

[2020-07-30 19:09] elasticmachine commented on #20365
Pinging @elastic/siem (Team:SIEM)

[2020-07-30 21:23] LeeDr opened #20367 "fix filebeat config example yaml indentation"
I'm not an expert on this configuration but I think this doc is wrong;
https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-configuration.html

It shows this in two places;
[code]

And I think that caused my error on 7.9.0 like;
`error initializing beat: error loading config file: yaml: line 30: did not find expected '-' indicator`

I think should have the second line indented like this

[2020-07-30 22:09] kaiyan-sheng opened #20368 "Azure billing dashboard shows warning message"
When testing Azure billing metricset with 7.9 Filebeat, Kibana and Elasticsearch, billing metrics are sent to ES just fine but when trying to check the dashboard, I see this warning message in Kibana log:
[code]

[2020-07-30 22:09] elasticmachine commented on #20368
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-07-30 23:07] leehinman opened #20369 "[Filebeat] azure module can build storage containers with invalid names"
in x-pack/filebeat/input/azureeventhub/config.go the storage container name is built from the ephContainer & event hub name.  But the event hub name can contain characters that are invalid for your storage containers.

A storage container name must be between 3 and 63 characters in length; start with a letter or number; and contain only letters, numbers, and the hyphen.

If the invalid character e

[2020-07-30 23:36] kwinstonix commented on #20326
OK, I will open a PR

[2020-07-31 00:11] kaiyan-sheng commented on #20326
@kwinstonix Awesome!! Thank you!! Just ping me for the PR and I will test it 😄

[2020-07-31 00:14] #16432 closed

[2020-07-31 00:15] skmizuho commented on #7590
Seconding this...

[2020-07-31 01:15] kaiyan-sheng commented on #19901
More fix on the offset: https://github.com/elastic/beats/pull/20370

[2020-07-31 03:36] MrBones757 commented on #14931
I'm seeing this issue still on the latest beats version (7.8.1) with elastic 7.8.1

[2020-07-31 06:50] ruflin commented on #20048
I like the above proposal especially the part that we can also upgrade between snapshot builds.

The part I didn't get is why not each version has its own log directory. I would expect the log collection pattern to be something like `/data/*/logs/*`. Like this any log from any version is picked up. If a version is cleaned up, also all its data/logs is cleaned up (is this expected?). The downside i

[2020-07-31 06:59] ruflin commented on #20188
@urso If my understanding of https://github.com/elastic/elasticsearch/pull/60050 is correct, this is a new field type. For all the fields that we define as `long` and not `unsigned-long` in our mappings, we will still need 63bit mask. What I'm getting at, we first need to update the mappings in the packages / modules before we remove this?

[2020-07-31 07:24] ruflin commented on #20312
@michalpristas Is it possible to pass this in as a flag into the container?

[2020-07-31 07:53] v1v commented on #20306
Duplicates https://github.com/elastic/beats/issues/20360

[2020-07-31 07:53] #20306 closed

[2020-07-31 07:55] whr845736938 opened #20375 "I would like to ask how filebeat uses AWS IAM authentication to connect to ES."
I would like to ask how filebeat uses AWS IAM authentication to connect to ES.
thanks

[2020-07-31 07:57] ChrsMark commented on #11834
Hey folks! Sorry for the delay here 😞 .

There is hopefully a fix for this: https://github.com/elastic/beats/pull/20305

Please feel free to try with latest master image (`docker.elastic.co/beats/filebeat:8.0.0-SNAPSHOT`) and let us know.
I'm providing some testing files for reference:
Filebeat config:
[code]

Target pod:
[code]
Then try to update the target pod by adding an extra label on its man

[2020-07-31 08:19] breml commented on #13314
@kvch, @frueht68: I was not yet able to verify if the new functionality introduced in #18748, but I think we can close this one.

[2020-07-31 08:39] kamalpreetpahwa-qasource commented on #20260
Hi @Eric,

We have validated this issue on 7.9 BC5 environment with 7.9 agent on Windows 10 64 bit and 32 bit Host OS and found that issue is fixed.

**Observation:**

1. We observed that now Agent>start/stop/restart service (installed using PS1 command: ./install-service-elastic-agent.ps1) is working properly and no error appears under "Activity logs" page.

**Steps to be followed:**

1. Navigate

[2020-07-31 08:39] #20260 closed

[2020-07-31 08:54] ruflin commented on #20346
https://github.com/elastic/beats/issues/19225 is part of the solution. @mtojek I assume we just beats, you solve this with autodiscovery? If you want all logs, I would assume the "old" trick around mounting volumes should still work? https://www.elastic.co/guide/en/beats/filebeat/master/running-on-docker.html#_volume_mounted_configuration It assumes the nginx logs are not stored inside the contain

[2020-07-31 09:27] mtojek commented on #20346
Not sure if I follow your idea.

The Elastic Agent runs as binary in a Docker container, together with filebeat and metricbeat. My question is: how can I expose directories with logs to these processes?

According to what @blakerouse confirmed, there is no specific method, hence I'm asking for some official recommendation :)

[2020-07-31 09:34] jsoriano opened #20376 "Improve handing of disabled commands in Zookeeper Metricbeat module"
Since Zookeeper 3.5.3,  _four letter word_ commands need to be explicitly enabled in the configuration using the [`4lw.commands.whitelist`](https://zookeeper.apache.org/doc/r3.5.5/zookeeperAdmin.html#sc_clusterOptions) option. It seems that at least the `cons` command, used by Metricbeat to monitor connections, is not enabled by default.

When a needed command is disabled, Metricbeat is generating

[2020-07-31 09:34] elasticmachine commented on #20376
Pinging @elastic/integrations-services (Team:Services)

[2020-07-31 09:43] ruflin commented on #20346
The way it is done today (see link I provided) is that the Container in which Filebeat is running (in your case the Agent), it mounts volumes from the Docker Host where these logs are stored. Now Filebeat (Agent) must be pointed to these directories with the logs and tail them. The above follows the assumption that you can the default json-file logging driver and nginx container writes to it (not

[2020-07-31 09:52] elasticmachine commented on #20342
Pinging @elastic/integrations-services (Team:Services)

[2020-07-31 09:53] elasticmachine commented on #20350
Pinging @elastic/siem (Team:SIEM)

[2020-07-31 09:53] mtojek commented on #20346
Most likely that's possible, but I didn't measure performance here. I'm not sure if there were similar tests executed. I'm looking for the method which causes less problems, e.g. docker container restarts, suddenly unmounted volumes, missing permissions.

There are couple of follow up questions:
Which container exposes the volume (host vs guest)? What if Elastic Agent or Nginx got restarted?

[2020-07-31 09:53] elasticmachine commented on #20352
Pinging @elastic/siem (Team:SIEM)

[2020-07-31 09:54] elasticmachine commented on #20358
Pinging @elastic/integrations-services (Team:Services)

[2020-07-31 09:55] elasticmachine commented on #20367
Pinging @elastic/integrations-services (Team:Services)

[2020-07-31 09:55] andresrc commented on #20367
ping @elastic/obs-docs

[2020-07-31 09:56] elasticmachine commented on #20369
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-07-31 10:01] elasticmachine commented on #20375
Pinging @elastic/integrations-services (Team:Services)

[2020-07-31 10:02] mtojek commented on #20312
I suppose it would be similar to `FLEET_ENROLL=1` and friends.

[2020-07-31 10:05] jamiehynds commented on #20352
Hi @BlackRythims! We are aiming to ship ~20 experimental parsers initially, meaning they are subject to change and will not be officially supported for the time being. Our goal is to quickly iterate on these parsers, relying heavily on community feedback, to get them to the high standard modules that our users expect and deserve.

Are there any parsers in particular you are referring to with known

[2020-07-31 10:18] urso commented on #20188
yes, mappings need to be updated. In code we should use int64 if we want long. The bitmask is only applied to uint64.

[2020-07-31 11:22] ruflin commented on #20346
As this is a way we recommended for quite some time I would expect it to work fairly well. @exekias Perhaps you can chime in here?

For your follow up questions:

* Nginx does not need any volume as the logging driver writes it to the right place
* Agent container needs to mount the volume from the host machine. It is not that the 2 containers share volumes with each other
* This should also solve

[2020-07-31 11:53] elasticmachine commented on #14337
Pinging @elastic/integrations-services (Team:Services)

[2020-07-31 11:54] marc-gr opened #20379 "[Filebeat][httpjson] Substitute custom rate limit implementation for a third party"
Httpjson input is making use of a custom implementation of a rate limiter for outgoing requests.

Would be good to look for a well tested third party library instead, as suggested in https://github.com/elastic/beats/pull/20226#discussion_r461809947

[2020-07-31 11:54] elasticmachine commented on #20379
Pinging @elastic/siem (Team:SIEM)

[2020-07-31 11:55] ChrsMark commented on #19731
I think that's right in principle. However we don't ship any `meta` with this kind of leadership events (see https://github.com/elastic/beats/pull/20281/files#diff-3b0c1598273f3d8e5f8fc4c5f134ad17R201). I have in mind mostly the case where we want to launch cluster wide metricsets so I might miss some part of your concerns.

[2020-07-31 11:55] elasticmachine commented on #8033
Pinging @elastic/integrations-services (Team:Services)

[2020-07-31 11:56] elasticmachine commented on #7438
Pinging @elastic/integrations-services (Team:Services)

[2020-07-31 12:01] elasticmachine commented on #19511
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-07-31 12:37] lihhd opened #20380 "Filebeat never harvest any data If a file is updated after one day"
version：filebeat-6.8.0-linux-x86
config：
    close_removed: true
    clean_removed: true

maybe harvester is closed， but why？
If you restart Filebeat, it will work

[2020-07-31 12:55] lihhd commented on #20380
the registry file unable to find the log file anything

[2020-07-31 13:03] EricDavisX commented on #19946
I have confirmed again this is working from BC5 with Windows x64 and Ubuntu 18 - feeling pretty good about it.  thanks for all the effort

[2020-07-31 14:08] #13269 closed

[2020-07-31 14:21] jsoriano opened #20384 "Support Python 3.9 in developer tools"
Python 3.9 is planned to be released on October 2020, on this version some long-time deprecated code will be removed and some old Python libraries will stop working (see [this](https://tirkarthi.github.io/programming/2020/01/27/python-39-changes.html)). Check how this will affect Beats development and prepare the code to work on this version.

Identified issues
===
- [x] Nosetests was discontinued

[2020-07-31 14:21] elasticmachine commented on #20384
Pinging @elastic/integrations (Team:Integrations)

[2020-07-31 14:40] richard-mauri commented on #7590
+1 - this should not be closed because of idle activity

In our case the output.logstash is a load balancer in front of a fleet of container based logstash instances.
I have pipelining:0 with ttl: 120s so as to "work around" issue where the persistent connection to LS goes "silent" because the LS instance is gone or broken. We've had production escalations where the beat would not deliver any even

[2020-07-31 15:06] kvch commented on #13314
@breml You are right. Thank you for the ping.

[2020-07-31 15:06] #13314 closed

[2020-07-31 15:16] eedugon commented on #19874
@exekias, @chrsblck , this is a very interesting topic and probably covers a lot of areas / possibilities:

- The majority of the logs we are already retrieving them via the default DaemonSet that we propose, as @ChrsMark says. Even if we are not processing them with pipelines, at least they are very well organized thank to the `add_kubernetes_metadata`. The pipelines might add some extra value, b

[2020-07-31 17:21] EricDavisX commented on #20331
we have successfully set up all of the Linux hosts we expected to, with the BC 5 build - tho some do not support .deb / .rpm or persistent usage as they are too old and do not meet the requirements the code expects for system components.  I'm not going to log those separately - I'd like to close this as a combination of poorly doc'ed steps on my side, minimally incorrect usage, and needing new bug

[2020-07-31 17:21] #20331 closed

[2020-08-01 10:05] elasticmachine commented on #13054
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-08-01 10:08] #20380 closed

[2020-08-01 10:41] andresrc commented on #20223
Closing as duplicate of https://github.com/elastic/beats/issues/16814

[2020-08-01 10:41] #20223 closed

[2020-08-02 12:34] peter-wang-wsl opened #20393 "Metricbeat-7.2.0-windows-x86_64 turn off with code exception in windows server 2016"
I run metricbeat with admin privilage, after a few hours metric beat turn off with code exception.
Please help figrue out the problem, thanks a lot. For the limit I can not post all debug log

LOG:
2020-07-04T18:31:48.591+0800    DEBUG   [processes]     process/process.go:475  Skip process pid=720: error getting process state for pid=720: getProcCredName failed: OpenProcess failed for pid=720: Acc

[2020-08-02 22:48] 0xtf commented on #20219
Hi,

I don't understand why this issue was closed.

There is definitely a problem in either a) the documentation, that does not take into account the usage of the DNS processor in Apache (and I'm not saying that's the case) and other modules or b) in the processor itself that does not process (and silently fails) for a handful of modules.

The situation that was described in the original issue is

[2020-08-03 02:53] hendry-lim commented on #20393
This same errors are observed in `7.8.1` and `7.9.0-SNAPSHOT` (on Win 10).

<details>
<summary>error</summary>

[code]
</details>

[2020-08-03 06:01] elasticmachine commented on #20393
Pinging @elastic/integrations-services (Team:Services)

[2020-08-03 06:01] elasticmachine commented on #20393
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-08-03 07:03] M0rdecay commented on #16335
Same problem with Filebeat and Logstash 7.7.1.
This is a serious trouble if there is periodic work on the network that makes Logstash unavailable for a while.

[2020-08-03 09:36] lystor commented on #19368
Yes

This kubernetes cluster is used for development purposes.
It has some long-running pods (istio, nginx-ingress, agones, prometheus, etc) but most of pods are short-running (thousands per day).

I have uploaded memory dumps from 13 nodes.

[filebeat.zip](https://github.com/elastic/beats/files/5015089/filebeat.zip)

[2020-08-03 11:26] rahulgupta-qasource opened #20398 "[Ingest Management]: Agent logs and metrics data is not displayed under 'Datasets' tab if enrolled agent 7.8 on 7.9 BC 5 cloud environment"
**Kibana version:**
Kibana: 7.9 BC5

**Elasticsearch version:**
Elasticsearch: 7.9 BC5

**Host OS and Browser version:**
Windows 10, All

**Original install method (e.g. download page, yum, from source, etc.):**
From 7.9 BC5

**Description**
[Ingest Management]: Agent logs and metrics data is not displayed under 'Datasets' tab if enrolled agent 7.8 on 7.9 BC 5 cloud environment

**Preconditions**

[2020-08-03 11:27] jsoriano commented on #19368
Hi @lystor,

Thanks for the memory dumps, but on them I only see some tenths of MB in use, this is weird because on graphs filebeat seems to be using hundreds of MB. Were these dumps collected just after restarting filebeat?

From these dumps I see that most of the memory allocations have been related to the registry, this could happen if the cluster has many pods whose logs filebeat needs to keep

[2020-08-03 11:27] elasticmachine commented on #20398
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-08-03 11:30] rahulgupta-qasource commented on #20398
@kamalpreetpahwa-qasource  Please review the bug.

[2020-08-03 11:56] lystor commented on #19368
Only 2-3 restarts during last 24 days

No
I have created them today (24 days after deployment):
[code]

Sure
It seems data.json is leaking.
It is huge on all nodes while number of running pods is ~500:
[code]

[2020-08-03 12:03] kamalpreetpahwa-qasource commented on #20398
Reviewed and Assigned defect to @EricDavisX

[2020-08-03 12:21] willemdh commented on #10535
@andrewkroh Even in 7.8.1 this is still in the template? Is there any technical reason why removal of `"suricata.eve.timestamp"` takes so much time? The number of times I had to explain this...

[2020-08-03 14:26] urso commented on #20367
Yay, yaml.

When starting an array, one is not required to indent the array.

e.g.

[code]

is equivalent to

[code]

one common gotcha (especially with auto-indenting or copy'n pasting) editors is that the all keys must be aligned with the first key in the list entry.

[2020-08-03 14:31] urso commented on #20375
Beats do not support AWS IAM.

In order to connect to Elastic Cloud, beats support TLS, password based authentication and API keys.

[2020-08-03 14:31] #20375 closed

[2020-08-03 16:26] fearful-symmetry opened #20404 "Start-Service fails with Elastic Agent on windows."
For confirmed bugs, please report:
- Version: 7.9-SNAPSHOT
- Operating System: Windows Server 2016
- Discuss Forum URL:
- Steps to Reproduce:
  - Download the latest 7.9 BC
  - enroll a new agent via the Kibana interface
  - Run the ps1 installer script as directed by the Kibana UI.

So, if you run the PS1 installer script included with the download, you get this error:
[code]

I found more detail

[2020-08-03 16:26] elasticmachine commented on #20404
Pinging @elastic/integrations (Team:Integrations)

[2020-08-03 16:27] fearful-symmetry commented on #20404
Also, confirmed that @narph is running into this as well.

[2020-08-03 16:59] fnunez306 commented on #12923
+1

[2020-08-03 17:21] kaiyan-sheng commented on #19758
With https://github.com/elastic/beats/pull/20171, `host.name` from `ec2` metricset will be the same as `cloud.instance.name` and `host.id` will be the same as `cloud.instance.id`.
When running `system` module in EC2 instance, `host.name` is the private DNS address of the instance.

For AWS case, `cloud.instance.id` is a better way to correlate data both from inside and outside of the EC2 instance.

[2020-08-03 17:44] blakerouse commented on #20404
Which BC build are you using? Can you provide the complete steps taken? Can you provide the output of `elastic-agent.log`?

[2020-08-03 18:04] g13013 commented on #714
I don't understand why this issue is closed !

[2020-08-03 18:33] g13013 opened #20410 "Add the possibility to truncate the harvested file (truncate_after)"
This issue is related to #714  #2187 and #16357

We have tried to combine many tools to manage log files but it is far from being easy to do so, and its really painful to combine the state of all the tools (logrotate, filebeat, filebeat script cleaning), we have wrote a script to manage finished files and experienced weird outcome like this one below that reports offset greater than the filesize:

[2020-08-03 18:53] fearful-symmetry commented on #20404
Bah, sorry for the missing detail @blakerouse. This is BC5. After unpacking the zipfile, I ran the commands from the kibana fleet UI:

[code]

There really weren't that many steps. The enroll part completed without issue. There's no log files either, other than what's in the windows event logs. The failure is in this part of the `install-service-elastic-agent.ps1` script:

[code]

The actual agent

[2020-08-03 19:08] threat-punter commented on #18099
The [7.9 docs](https://www.elastic.co/guide/en/beats/filebeat/7.9/filebeat-module-okta.html) provide more comprehensive instructions on how to configure the Okta Filebeat module.

[2020-08-03 19:08] #18099 closed

[2020-08-03 19:12] andrewkroh opened #20411 "[Filebeat] Incorrect event.type in auditd module"
The auditd module uses several `event.type` values that are not in ECS.

https://github.com/elastic/beats/blob/778a92fa78cbdeab0377525dd83b18a048e94ff8/filebeat/module/auditd/log/ingest/pipeline.yml#L138-L157

https://www.elastic.co/guide/en/ecs/current/ecs-allowed-values-event-type.html

[2020-08-03 19:12] elasticmachine commented on #20411
Pinging @elastic/siem (Team:SIEM)

[2020-08-03 19:18] andrewkroh opened #20412 "[Filebeat] Invalid event.type in Suricata module"
Suricata can use `event.type: deny` in some cases but `deny` is not valid in ECS (but `denied` is).

https://github.com/elastic/beats/blob/778a92fa78cbdeab0377525dd83b18a048e94ff8/x-pack/filebeat/module/suricata/eve/ingest/pipeline.yml#L89-L96

https://www.elastic.co/guide/en/ecs/current/ecs-allowed-values-event-type.html

[2020-08-03 19:18] elasticmachine commented on #20412
Pinging @elastic/siem (Team:SIEM)

[2020-08-03 19:25] #18539 closed

[2020-08-03 21:31] blakerouse commented on #20404
@fearful-symmetry I believe BC5 still was broken. Can you try BC6?

[2020-08-03 23:25] pessoa-poli commented on #16585
Hello @andrewkroh.
If I use the same publisher to publish many events during an specific run of my beat, do you know if these publications happen atomically? I mean, if after the first publication my beat looses connection to elasticsearch, would elasticsearch delete the publication, since the publisher did not close properly?

[2020-08-04 06:24] SMMAN commented on #5538
Sample dashboards are a good idea and it makes sense to offer them. But: if you just want to show a few of them (either: e.g. only metricbeats or: specific ones of one type) then it makes no sense to do it as it is done right now.

- Beats / dashboards / related objects get more and more from version (minor / major) to version.
- you have dead stuff in your system that noone needs - this goes agai

[2020-08-04 06:28] willemdh commented on #5538
Totally agree the way ot works now is not optimal.  Dashboards provided by Elastic and the community should be accessible and selectable from Kibana imho.

[2020-08-04 08:09] elasticmachine commented on #20410
Pinging @elastic/integrations-services (Team:Services)

[2020-08-04 10:30] mgoritzk commented on #5538
+1

[2020-08-04 11:07] narph commented on #20289
@TheRiffRafi ,
The memory related metrics come from the guest namespace in that scenario.
The guest metrics are not available on linux vm's at the moment due to the fact that the Azure monitor data sink is only supported on Windows VMs , they do have a workaround found here https://github.com/MicrosoftDocs/azure-docs/issues/28457#issuecomment-524081288
At the moment those metrics are available onl

[2020-08-04 13:04] rgarcia89 commented on #11834
@ChrsMark I am unfortunately still seeing the issue appear but only for this specific pod currently
[code]

filebeat conf looks like that
[code]

[2020-08-04 13:21] kvch commented on #6926
Fixed by #17749
Feel free to reopen if the problem persist on newer versions.

[2020-08-04 13:21] #6926 closed

[2020-08-04 13:39] jsoriano commented on #19369
I can confirm that I cannot reproduce this issue anymore with latest 8.0 snapshots. And I agree that elastic/kibana#69061 looks like the same issue. So let's close this one. Thanks for the investigation!

[2020-08-04 13:39] #19369 closed

[2020-08-04 13:49] westwind-sc opened #20429 "Please Backport PR #13356 "Add container image in Kubernetes metadata" to 6.8.x"
Hello,

We found `kubernetes.container.image` in the 6.8.x doc https://www.elastic.co/guide/en/beats/filebeat/6.8/exported-fields-kubernetes-processor.html
But while using it, the container image not reported as part of Kubernetes metadata.
We found the PR #13356 fixed it in v7.4.0. Could you backport the fix to 6.8.x?

[2020-08-04 13:51] Xat59 opened #20430 "metricbeat: prometheus module and de-duplication support"
Hello guys,

I was trying to implement the solution provided on your blog by @sorantis : https://www.elastic.co/blog/prometheus-monitoring-at-scale-with-the-elastic-stack

It works fine but when you want to make your prometheus highly-available by adding a new prometheus instance, it induces the data to be stored twice into elasticsearch.
It could be nice to add a feature to deduplicate and merge

[2020-08-04 14:11] elasticmachine commented on #20430
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-08-04 14:59] ChrsMark commented on #11834
@rgarcia89 thank you for taking the time to test! The error you see seems to come from `runners` Reload process at https://github.com/elastic/beats/blob/b1bd7b703fae6b5529c22b787cf78580ea1e974b/libbeat/cfgfile/list.go#L95 and not from config validation (at https://github.com/elastic/beats/blob/b1bd7b703fae6b5529c22b787cf78580ea1e974b/libbeat/autodiscover/autodiscover.go#L207), which was the previo

[2020-08-04 15:07] elasticmachine commented on #5538
Pinging @elastic/integrations (Team:Integrations)

[2020-08-04 15:25] vinnytroia commented on #19141
same.

[2020-08-04 15:26] andrewkroh opened #20432 "[Metricbeat|Filebeat] Number of fields will prevent Kibana index pattern creation"
I'm writing this issue to raise a warning that Metricbeat and Filebeat are getting close to the point where users will not be able to create Kibana index patterns due to the number of fields. The Elasticsearch index mapping grows with each new module. The Kibana index-pattern is derived from the index mappings. Once the total size of the index-pattern reaches 1 MiB then you can no longer create Ki

[2020-08-04 15:26] elasticmachine commented on #20432
Pinging @elastic/integrations (Team:Integrations)

[2020-08-04 15:26] elasticmachine commented on #20432
Pinging @elastic/siem (Team:SIEM)

[2020-08-04 15:31] andrewstucki commented on #19141
@wixaw & @vinnytroia what versions of `auditbeat` are you running? The fix for the bug I found was shipped in 7.8.1  which was release one July 27th--trying to determine if this is another issue or if you just need to upgrade the patch version.

[2020-08-04 15:33] A-Hall opened #20433 "Give Winlogbeat the capability to grab logs that are written to log files."
**Describe the enhancement:**

Give Winlogbeat the ability to read and parse log files on Windows systems, similar to Filebeat.

**Describe a specific use case for the enhancement or feature:**

Some logs are not written to the Windows Event Logs, such as the [Windows Defender firewall logs](Give Winlogbeat the capability to grab some logs that are written to log files.).  It would be nice if a si

[2020-08-04 16:04] vinnytroia commented on #19141
Oh. I don’t have 781. Let me try. I will get back thanks

Vinny Troia
www.nightlion.com
www.vinnytroia.com

________________________________
From: Andrew Stucki <notifications@github.com>
Sent: Tuesday, August 4, 2020 10:31:40 AM
To: elastic/beats <beats@noreply.github.com>
Cc: Vinny Troia <vinny@nightlionsecurity.com>; Mention <mention@noreply.github.com>
Subject: Re: [elastic/beats] Auditbeat 7.

[2020-08-04 16:23] andrewkroh commented on #20432
Regarding Elastic Agent, once we migrate all of the modules to integration packages we should expect the same problem to occur for the `logs-*` index pattern when you refresh the index pattern.

[2020-08-04 17:51] jsoriano opened #20434 "Add `kubernetes.node.hostname` field with the actual hostname of the node"
**Describe the enhancement:**

On some cases we need to correlate host names with kubernetes nodes, or filter events by kubernetes node using host names. On these cases we rely on `host.name` having a consistent value with `kubernetes.node.name`, but they are values of different nature:
* `host.name` is the hostname as returned by the operating system.
* `kubernetes.node.name` is the node name as

[2020-08-04 17:51] elasticmachine commented on #20434
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-08-04 19:43] mayya-sharipova commented on #20188
I am wondering what kind of queries and aggregations are necessary for unsigned_long field (for "id" use case and for "counter" use case)?  Do we need any numeric metric aggregations (e.g. sum/avg etc)?

Also do we need mixing longs and unsigned longs when sorting on a field (e.g. search request across indices where a field can be `long` in one index, and `unsigned_long` in another)?

[2020-08-04 19:47] fearful-symmetry commented on #20404
I'm _still_ running into issues. @blakerouse  On BC6, the PS1 installer works, but the `enroll` command just hangs indefinitely until you ctrl+break out of it.

[code]

Tried this on both the oblt test server and a local docker test env.

[2020-08-04 20:24] blakerouse commented on #20404
Are you sure that you didn't accidentally highlight some text in the terminal, that will cause the terminal to pause the application. I have not ever ran into that issue and I enroll on Windows multiple times a day.

[2020-08-04 20:37] #20073 closed

[2020-08-04 22:03] TheRiffRafi commented on #20289
Thank you for the follow up @narph!
The workaround specifies the install of a third party tool which doesn't help us much for the module. As it is not clear when the mem metrics will be supported for linux, perhaps a doc update would be a good idea. Another route would be to update the dashboard to read the mem values from the system.memory fields generated by metricbeat itself but that could be t

[2020-08-04 22:21] EricDavisX commented on #20398
I don't know if this is supported - 7.8 Agent and 7.9 Kibana had a lot of changes... we generally intend to support current-minus-1 versions as such, but this may be a bad example since its from Alpha to Beta.  Even the Beta 1 may not work well with the Beta 2, time will tell.

@blakerouse just confirming, 7.8 Agent isn't going to work with 7.9 right?  If so, we can close this and hold off on this

[2020-08-05 00:52] lwx294821 opened #20436 "what is the meaning about filebeat metric?"
![image](https://user-images.githubusercontent.com/28983979/89359595-c98e4880-d6f8-11ea-8278-d37fc652efde.png)

[2020-08-05 01:21] sholokhov17 commented on #11866
Hi, we used dynamic index names via container name vars, like here:
#===== Filebeat Inputs ======
filebeat.inputs:
- type: docker
  combine_partial: true
  containers:
    path: "/var/lib/docker/containers"
    ids :
      - "*"

#===== Filebeat modules =====
filebeat.config.modules:
    path: ${path.config}/modules.d/*.yml
    reload.enabled: false

#===== Elasticsearch template setting =====
set

[2020-08-05 06:28] rgarcia89 commented on #11834
@ChrsMark thats correct I can see logs for the ERROR notified pods.
However, something doesnt seem to work properly in this new version, as I am only seeing the logs of two nodes instead of 3.
The third grafana-postgres-db pod runs on this node.

Seems like the filebeat pod on the node is having issues connecting. I can see the following issue, which is weird, as the other filebeat pods on the oth

[2020-08-05 06:33] ZMMWMY opened #20438 "[Metricbeat] Metricbeat.autodiscover: Jolokia module does not work"
I tried to use jolokia to get the JVM information, and I succeeded, but it was all on a stand-alone basis. When I tried to use auto discovery mode to get the result, I didn't get the expected result
I tried to ask questions in the forum, but no one answered
This is my configuration file, please help me look at this problem, thank you very much
[code]

[2020-08-05 07:27] ChrsMark commented on #11834
Well @rgarcia89 it seems that the error is partially related:

The error `Error loading pipeline for fileset elasticsearch/slowlog: couldn't load pipeline: couldn't load json. Error: 400 Bad Request: {"error":{"root_cause":[{"type":"parse_exception","reason":"processor [set] doesn't support one or more provided configuration parameters [ignore_empty_value]"` indicates that one pipeline is using a

[2020-08-05 07:30] rgarcia89 commented on #11834
Alright so I will have to wait for next Elasticsearch and Filebeat Version to get everything properly working.
For the record Filebeat v7.9.0 and Elasticsearch v7.9.0 will include the necessary fixes, correct?

[2020-08-05 07:49] ChrsMark commented on #11834
If you are running ES as a container you can also use a SNAPSHOT of `7.9` like `docker.elastic.co/elasticsearch/elasticsearch:7.9.0-SNAPSHOT` (or you can use a Build Candidate from [here](https://staging.elastic.co/7.9.0-aed29770/summary-7.9.0.html))

Yes `v7.9.0` of Filebeat will include will include the autodiscover related fix.

[2020-08-05 08:46] flash1293 commented on #20368
This is caused by the TSVB validation dry run: https://github.com/elastic/kibana/issues/62273

There's no need to take any action, it's a bug on Kibana side. I will make sure to update the validation run.

[2020-08-05 09:04] P1llus commented on #19407
All changes has been merged successfully so this meta ticket is now closed.

[2020-08-05 09:04] #19407 closed

[2020-08-05 09:42] narph commented on #20404
The BC6 version looks good to me as well, I was able this time to start the service (testing on Windows 10).
Enrolling was not an issue as well.
@fearful-symmetry do you see anything in the agent logs that might shed some light?
Have you first started the service and then tried to enroll instead?
What os version version are you testing on?

[2020-08-05 10:10] narph commented on #20393
@hendry-lim, few points on the error messages:

If the specified process is the System Process (0x00000000), the OpenProcess function fails and the last error code is ERROR_INVALID_PARAMETER.

If the specified process is the Idle process or one of the CSRSS processes, this function fails and the last error code is ERROR_ACCESS_DENIED because their access restrictions prevent user-level code from o

[2020-08-05 10:16] narph commented on #20289
@TheRiffRafi , indeed, this is a limitation on the Azure side.
Updating the dashboards is not a route we will take, the dashboards are specific to the azure metricset and I believe they should stay this way. Also, users will have to install Metricbeat on that specific vm in order to get the system metrics, whereas with the azure module this is not necessary.
I agree on some level of clarification

[2020-08-05 10:29] hendry-lim commented on #20393
@narph thank you for the clarification, very much appreciated. Yes, you are right our Metricbeat instances do not stop because of these errors.

[2020-08-05 11:34] narph commented on #20289
created https://github.com/elastic/beats/pull/20448 to add more info on the guest metrics, also replaced the event output to one supported by both Linux and windows vm's.

[2020-08-05 12:12] narph commented on #20139
@aevalov , some improvements were implemented regarding these type of messages https://github.com/elastic/beats/pull/19666 but only made it to 7.8.1
Can you try running this version and let us know if you are encountering the same behavior?
In event you will not see the error messages in kibana can you also check the metricbeat logs and let us know.
I have tried reproducing this issue based on you

[2020-08-05 12:21] SpencerLN commented on #18465
@andrewkroh it looks like this is still occurring in 7.8.1:
[code]

[2020-08-05 13:18] blakerouse commented on #20398
@EricDavisX Current we intend to support current-minus-1 so the upgrade of the stack can occur first, then the upgrade of the Agents. There is a lot of breaking changes in 7.9, so support of 7.8 Agent on 7.9 is not something we are supporting, yet!

[2020-08-05 13:33] simmol1997 opened #20451 "Auditbeat `file.path` field does not contain the absolute paths."
#### Environment
- OS: The output of `uname -a`:
`Linux blueprint-energetic-bear 5.3.0-1031-gcp #33~18.04.1-Ubuntu SMP Fri Jul 3 10:21:06 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`
- Output of `auditbeat version`: `auditbeat version 7.8.1 (amd64), libbeat 7.8.1 [94f7632be5d56a7928595da79f4b829ffe123744 built 2020-07-21 15:07:37 +0000 UTC]`
However, the problem is also found for Auditbeat version 7.5

[2020-08-05 13:52] andrewkroh commented on #18465
With a quick look, it appears that the processor that's moving the value into the keyword `googlecloud.audit.response.status` field should be doing a type assertion. Like this it would only put string values into the field:

[code]

I'll add some test cases and look for other similar issues.

[2020-08-05 14:30] epixa commented on #20432
Out of curiosity, why do we populate unused ECS fields in the mapping?

[2020-08-05 14:31] fearful-symmetry commented on #20404
If @narph can get it running, I'm assuming everything is fine and I'm just dumb. There's nothing in the logs, it look like the enroll step is just hangning this time.

This is windows 10 in a VM.

[code]

[2020-08-05 14:39] andrewkroh commented on #20432
Beats incorporate https://github.com/elastic/ecs/blob/master/generated/beats/fields.ecs.yml into their mapping. It's hard to know which fields are unused across all Beats so the whole ECS mapping is [kept](https://github.com/elastic/beats/blob/master/libbeat/_meta/fields.ecs.yml).

[2020-08-05 15:18] fearful-symmetry commented on #20404
Okay, tried installing the service first. Still no dice.

[2020-08-05 15:46] gwsales opened #20453 "Enhancement Auditbeat compatability with audit.rules from auditd"
**Describe the enhancement:**
Please add some capability with contents of `/etc/audit/audit.rules`. Currenlty if you point auditbeat at the existing auditd rule configurations it throws an error due to some of the auditd settings that are not audit rules. The enhancement would be to use the auditd audit.rules file but ignore the lines that are not valid audit rules.

**Describe a specific use case

[2020-08-05 16:10] willemdh commented on #14262
We are currently unable to do wildcard and regex lucene searches in filebeat-* due to this problem.

Elastic supprt tells me:  "the developers say that is too many fields"

But we are using the provided Elastic Filebeat modules and templates.....?? What are you expecting from us? That we index filebeat datasets to non filebeat-* indices? The result is builtin dashboards etc will stop working.

See

[2020-08-05 16:12] kaiyan-sheng commented on #20368
Thank you @flash1293! Closing this issue because it's a bug in Kibana.

[2020-08-05 16:12] #20368 closed

[2020-08-05 16:33] fabinho1314 commented on #18659
Any news regarding this matter?

I also cannot select any DB in the Database selector [Metricbeat MSSQL] ECS  mssql.database.name

[2020-08-05 19:01] ndubss opened #20456 "Audit module does not respect symlinks"
We are trying to use a symlink to represent a dynamic path in production. In this case, we want to create fim and audit rules to monitor. FIM module will actually check the symlink and then replace the fim rule with the original file name. In this case, the audit "dir=" capability is not sufficient enough. We get more telemetry when we are able to specify the exact file in "path=".

Ideally, we wo

[2020-08-05 19:09] kaiyan-sheng commented on #20436
Hi @lwx294821, thanks for creating this issue. But we would kindly ask you to post all questions and issues on https://discuss.elastic.co/c/beats before opening a Github Issue. Your questions will reach a wider audience there, and if we confirm that there is a bug, then you can reopen this issue or open a new one with more details. Thanks in advance!

[2020-08-05 19:09] #20436 closed

[2020-08-05 19:59] gabriellandau opened #20457 "[BUG] MetricBeat Very High Resource Usage"
How it occurred:
1) I installed the 7.9 BC5 Agent with a default policy on an idle Windows 10 1909 VM with 6 cores and 6GB of RAM
2) It ran MetricBeat.  MetricBeat jumped to 18GB of RAM and maxed out several of the CPU cores.  Because my VM only had 6GB, this means it had to page at least 12GB to disk.

![image](https://user-images.githubusercontent.com/42078554/89457357-3f170a80-d733-11ea-949f-96

[2020-08-05 21:09] radarhere commented on #20384
'Pillow will stop working on 3.9' - I think you mean Pillow will stop working on 3.5?

[2020-08-06 01:30] jaiprakashkunwar opened #20461 "Unable to decode response from prometheus endpoint"
I am using metricbeat but getting error like:
Error fetching data prometheus.collector: unable to decode response from prometheus endpoint: error making http request Get http://testserver:9104/metrics:   net:/http: request cancelled (Client.Timeout exceeded while awaiting headers)

It looks like the above url ends with ":" which is causing the issue.

My config details are below:
module: Prometheu

[2020-08-06 02:12] EricDavisX commented on #20398
agree - lets call this done for now and we can plan tests for 7.9 to 7.10

[2020-08-06 02:12] #20398 closed

[2020-08-06 02:21] kaiyan-sheng opened #20464 "add_host_metadata processor overwrites host.id field added by modules"
We identified several common fields for [host inventory schema](https://github.com/elastic/beats/issues/19757) and these fields include `host.id` and `host.name`. `add_host_metadata` does not overwrite `host.name` field with https://github.com/elastic/beats/pull/14407 but not `host.id`.

Things to consider:
1. make `add_host_metadata` to do nothing if `host.*` fields already exist.
2. add tests to

[2020-08-06 02:21] elasticmachine commented on #20464
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-08-06 03:46] andrewkroh commented on #18465
I have opened a PR to prevent the object from being copied into the keyword field. See #20465.

[2020-08-06 10:44] jsoriano commented on #20464
@kaiyan-sheng thanks for opening this issue.

In any case I think that we could make `add_host_metadata` to do nothing if there is already host information in the event. (Same thing for `add_observer_metadata` if there is observer information in the event.

[2020-08-06 12:09] ChrsMark commented on #19731
Pinging @david-kow who might be also interested into this new feature.

[2020-08-06 12:57] dominikborkowski opened #20473 "Converting types in FunctionBeat's tokenizer results in mangled field"
According to https://www.elastic.co/guide/en/beats/functionbeat/master/dissect.html we should be able to convert datatypes by using the tokenizer pattern. Instead of a converted value we get a key/field with `|datatype` in its name. Using single or double quotes doesn't seem to have any effect either.

Example:

[code]

Or

[code]

And here are our results:

[code]
[code]

Is this an issue of synt

[2020-08-06 13:03] dominikborkowski opened #20474 "Storing log group as a field with functionbeat"
Is there a way to store the value of a log group as a new field? While we can use log group as a conditional, say in `add_fields` function, we would like to dissect it into multiple fields, but we don't have a source field for that.

Specifically, we're using FunctionBeat 7.8.1 with a single kinesis stream subscribed to multiple cloudwatch log groups.

Thank you in advance!

[2020-08-06 13:33] michalpristas commented on #18792
@EricDavisX can we close this one?

[2020-08-06 13:51] urso commented on #11866
@sholokhov17 Can you please share your case on discuss.elastic.co. In the forums we have users and developers helping. Your config/goal is not immediately clear to me and I'd prefer if the issue, which discusses docs changes, does not turn into a list of support cases. Thanks.

[2020-08-06 14:03] urso commented on #20188
It depends on what the field represents (e.g. physical unit).

If the field is an ID, then counts (and aggregations on the counts) would be the only ones that make sense.

If the field is a "counter", then we often want the derivative (the rate like IO ops).

All in all for metrics there is no real difference for us regarding long vs. unsigned long. The advantage is that we can store the raw value

[2020-08-06 14:12] #18682 closed

[2020-08-06 15:01] richard-mauri commented on #16326
Is it true that beats has adopted gomodules?
Was this publicly announced and if so where and are there samples to adopting it?
EllieMae has several golang projects that need to build beats from source and so far have ben struggling with elastic beat go modules.
I want to upgrade our important custom beats to test if it helps several production issues.

[2020-08-06 15:05] richard-mauri commented on #16326
FYI, here is my compile error and go.mod file that I am fighting with.
I had to manually go get github.com/docker/docker@v19.03.11 to get past one compile failure and no I am on some goja issue.

CGO_ENABLED=0 GOOS=darwin GOARCH=amd64 go build -o /Users/rmauri/gopath/src/githubdev.dco.elmae/CloudPlatform/em-top-beats/encompassbeat/bin/darwin/encompassbeat -ldflags "-X githubdev.dco.elmae/CloudPlat

[2020-08-06 15:59] #18465 closed

[2020-08-06 17:13] dominikborkowski commented on #20474
Looks like the issue did not involve functionbeat, rather logstash throwing away that field on the ingest. Renaming/copying the field allows us to preserve it.

[2020-08-06 17:13] #20474 closed

[2020-08-06 18:29] andrewkroh commented on #20464
I think this is the right behavior to have because you want all or nothing. Otherwise you can have data representing different hosts mixed together. Same for add_observer_metadata.

One challenge is that `host.name` is added by libbeat before the global `add_host_metadata` processor is executed. So if you check for the existence of `host` then it will always be present. I think we should not add `