[2020-10-27 09:52] elasticmachine commented on #22176
Pinging @elastic/integrations-services (Team:Services)

[2020-10-27 09:53] kvch commented on #19996
Running multiple instances of the same Beat is supported. However, the user needs to adjust the path configurations to prevent the instances from overwriting each other's metadata and logs. There are two options to overwrite these path settings. The first one is changing `path.home` to a different folder and put the configuration file in that folder. The other `path.*` options can be derived from

[2020-10-27 10:14] exekias commented on #21842
That sounds like a good solution to me!

[2020-10-27 10:19] jsoriano opened #22179 "Common Fields for Container Inventory Schema"
This issue tracks work related to the definition of common fields for container inventory schema.

The output will be a set of recommended or required fields to be added to any event related to containers.

The purpose of these fields is to have a minimal set of valuable data that can be used for inventory. The focus will be in metadata and metrics fields.

Integrations possibly affected:

* Docke

[2020-10-27 10:19] elasticmachine commented on #22179
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-27 10:28] kvch commented on #22129
This needs to be fixed in the `journald` input as well.

[2020-10-27 10:39] exekias commented on #22179
We may also want to check what Cloudwatch/Stackdriver/Azure monitor provide ootb

[2020-10-27 10:42] v1v commented on #22168
This is my comment!

[2020-10-27 11:32] elasticmachine commented on #22171
## Flaky Test

* **Test Name:** Build&Test / metricbeat-windows-windows-2019 / TestRead – service
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/it%2Ftest/detail/test/16/

### Error details
[code]

### Stack Trace
[code]

[2020-10-27 11:32] elasticmachine commented on #22172
## Flaky Test

* **Test Name:** Build&Test / metricbeat-windows-windows-2019 / TestGetServiceStates – service
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/it%2Ftest/detail/test/16/

### Error details
[code]

### Stack Trace
[code]

[2020-10-27 11:39] ph commented on #19996
This is a problem the Agent doesn't support running multiples agent side by side really easily.
I think we should concentrate on fixing the actual use case and not having really going on multiple binaries.

Sending data to different index is already supported, you can use the "index" key in the input to route event to a specific index.

[2020-10-27 11:41] elasticmachine commented on #22171
## Flaky Test

* **Test Name:** `Build&Test / metricbeat-windows-windows-2019 / TestRead – service`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/it%2Ftest/detail/test/17/
* **PR:** None
* **Commit:** None

### Error details
[code]

### Stack Trace
[code]

[2020-10-27 11:41] elasticmachine commented on #22172
## Flaky Test

* **Test Name:** `Build&Test / metricbeat-windows-windows-2019 / TestGetServiceStates – service`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/it%2Ftest/detail/test/17/
* **PR:** None
* **Commit:** None

### Error details
[code]

### Stack Trace
[code]

[2020-10-27 11:51] dikshachauhan-qasource commented on #21794
Hi @EricDavisX

We have performed scenario as per steps mentioned in above comment (https://github.com/elastic/beats/issues/21794#issuecomment-716579609) on 7.10.0 BC3 Kibana cloud environment with commit ed66f41a8a60ad03426beff65ed270a743c46ac4 and 7.10.0 BC3 elastic-agent downloaded from below location: https://staging.elastic.co/7.10.0-aea04452/summary-7.10.0.html/elastic-agent-7.10.0-windows-x

[2020-10-27 12:01] #21112 closed

[2020-10-27 12:21] rahulgupta-qasource commented on #22090
Hi @blakerouse

Thank you for sharing the feedback.

We have validated the ticket with above 'yum remove elastic-agent' command after upgrade from 7.9.3 BC1 Kibana cloud to 7.10 BC3 Kibana cloud environment and found it **fixed**.

**Build Details:**
Kibana Cloud : 7.10.0 BC3 build
Commit : ed66f41a8a60ad03426beff65ed270a743c46ac4
Build : 35817
Elastic-Agent Hash : aea04452

Steps followed:
1. Log

[2020-10-27 12:21] #22090 closed

[2020-10-27 12:29] #22037 closed

[2020-10-27 12:36] eedugon opened #22187 "Collect all annotations when using kubernetes autodiscovery"
**Describe the enhancement:**

Some users would like the ability of retrieving all pod annotations the same way as by default we retrieve all labels from pods.

Based on the [official doc](https://www.elastic.co/guide/en/beats/filebeat/current/configuration-autodiscover.html), we provide the setting `include_annotations` to add a static list of annotations to retrieve.

For labels we offer `includ

[2020-10-27 12:38] blakerouse commented on #21837
Been thinking about this and trying to understand why a grace period is needed on a container or a pod in Kubernetes for logs at all? Being that the provider should only remove the pod once it has fully stopped, wouldn't that mean all of the log data is written to the log file?

The only reason I would think that all the log data would not be in that file is because Kubernetes runtime does not gua

[2020-10-27 12:40] elasticmachine commented on #22171
## Flaky Test

* **Test Name:** `Build&Test / metricbeat-windows-windows-2019 / TestRead – service`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2FPR-21853/detail/PR-21853/31/
* **PR:** #21853
* **Commit:** 9c3d14718434fb33f2ceb1caaf567c3bf2652a3e

### Error details
[code]

### Stack Trace
[code]

[2020-10-27 12:40] elasticmachine commented on #22172
## Flaky Test

* **Test Name:** `Build&Test / metricbeat-windows-windows-2019 / TestGetServiceStates – service`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2FPR-21853/detail/PR-21853/31/
* **PR:** #21853
* **Commit:** 9c3d14718434fb33f2ceb1caaf567c3bf2652a3e

### Error details
[code]

### Stack Trace
[code]

[2020-10-27 12:41] rahulgupta-qasource opened #22188 "Agent goes to Offline status in UI for some time on upgraded 7.10.0 BC3 Kibana cloud environment"
**Kibana version:**
Kibana: Upgraded 7.10.0 Kibana BC3 cloud environment

**Elasticsearch version:**
Elasticsearch: Upgraded 7.10.0 BC3 cloud environment

**Host OS and Browser version:**
Linux , All

**Original install method (e.g. download page, yum, from source, etc.):**
Upgraded 7.10.0 Kibana BC3 cloud environment

**Description**
Agent goes to Offline status in UI for some time on upgraded 7.

[2020-10-27 12:50] elasticmachine commented on #22188
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-27 12:51] blakerouse commented on #21794
Looking at the screenshot of the PowerShell, this looks to be a user error. What you are doing is installing Elastic Agent and enrolling it (that is the Online) agent shown in Kibana. Then you are enrolling the agent again in the current directory, not the installed agent. You are never starting this agent so it stays in the `Enrolling` state in Kibana.

This is all expected behavour. You should n

[2020-10-27 12:51] rahulgupta-qasource commented on #22188
@vipulsrivastava-qasource Please review the bug.

[2020-10-27 12:54] vipulsrivastava-qasource commented on #22188
Reviewed and Assigned to @EricDavisX

[2020-10-27 13:16] EricDavisX commented on #22188
acknowledged.  I don't feel strongly about its urgency, so I will let the team get to it in usual fashion after reviewing.

[2020-10-27 13:17] sgreszcz commented on #7908
I'm still having this problem with Elastic 7.9.3 (in docker) and filebeat 7.9.3 in kubernetes.  I am also running filebeat 7.9.3 in docker servers and I do get logs, but not from my kubernetes nodes.  I've followed the configuration recommended by @ChrsMark but it is not working.

Here is my yaml:
[code]

It seems to be finding the container/pod logfiles according to the yaml congfig, but I do see

[2020-10-27 13:29] sgreszcz commented on #11834
@jsoriano and @ChrsMark I'm still not seeing filebeat 7.9.3 ship any logs from my k8s clusters.  I do see logs coming from my filebeat 7.9.3 docker collectors on other servers.  All the filebeats are sending logs to a elastic 7.9.3 server.

I'm using the recommended filebeat configuration above from @ChrsMark.  I also deployed the test logging pod.  Filebeat seems to be finding the container/pod l

[2020-10-27 13:34] kvch commented on #21838
It is breaking due to the changes in: https://github.com/elastic/elasticsearch/pull/52519

[2020-10-27 13:53] EricDavisX commented on #21794
Thank you @blakerouse - this is a nuance I think that had not been updated in the test cases we had created, and I may have done a poor job of passing the specs out as we are learning the feature.

@rahulgupta-qasource @dikshachauhan-qasource thanks for the continued testing, can you update this in test content please and re-test it as noted?

Also, I'll request that we do a full review of test co

[2020-10-27 13:59] andrewkroh commented on #12761
The file_integrity module tells you when a file changes, but does not tell you information about the user that made changes. None of the OS [APIs used to monitor](https://www.elastic.co/guide/en/beats/auditbeat/current/auditbeat-module-file_integrity.html#_how_it_works_2) the changes provide this detail.

If you need to monitor the user that makes the changes then use the operating system's auditi

[2020-10-27 14:04] #21200 closed

[2020-10-27 14:42] ChrsMark commented on #11834
@sgreszcz I cannot reproduce it locally. Also you are adding `add_kubernetes_metadata` processor which is not needed since autodiscovery is adding metadata by default.

Here is the manifest I'm using:
[filebeat-kubernetes.7.9.yaml.txt](https://github.com/elastic/beats/files/5446033/filebeat-kubernetes.7.9.yaml.txt)

Can you try with the above one and share your result?

[2020-10-27 14:43] ChrsMark commented on #7908
@sgreszcz answered at https://github.com/elastic/beats/issues/11834#issuecomment-717292632

[2020-10-27 15:03] exekias commented on #21837
The log data may have been written to the disk, but we still need to have the input around to actually read it until EOF. Log input is not guaranteed to be up to date with the last written bytes at all times, situations like high IO / buffers or a slow ES cluster may delay collection from the Filebeat side, making us miss the last few lines of the file.

[2020-10-27 15:09] EricDavisX commented on #21200
this is awesome, thanks Blake.

@rahulgupta-qasource I'll pass a note in the daily email to discuss testing.  Thanks!

[2020-10-27 15:21] MakoWish commented on #9600
@alexander-marquardt We just upgraded to 7.9.3 a couple days ago, but when I came to this thread, we were still experiencing the issue with 7.9.2.

[2020-10-27 15:21] EricDavisX commented on #21971
pr is here for the master line fix: https://github.com/elastic/beats/pull/22175/files

[2020-10-27 15:31] #16848 closed

[2020-10-27 15:37] zoulja opened #22192 "Add Filebeat syslog unix socket input support for Nginx"
Currently Filebeat syslog unix socket input doesn't work for Nginx

Test environment:
Filebeat 7.9.2
[code]

Nginx 1.15.2
[code]

From the Filebeat log I see Input is started successfully:
[code]

Such configuration seems don't work, since in Nginx error.log I see the following:
[code]

Probably some rework is needed, can be related to https://github.com/elastic/beats/issues/18632 or to https://gi

[2020-10-27 15:42] alexander-marquardt commented on #9600
@MakoWish - Do you know if your cluster using the newer `use-context` for `script.max_compilations_rate`? Or perhaps you are still using the depreciated setting (where this value directly contains expected compilations per minute in a format such as "15/1m" as opposed to a value of "use-context")?

You may be able to see this if you run `GET _cluster/settings`. Alternatively, if you execute `GET /

[2020-10-27 15:46] mdelapenya commented on #19291
I believe we can close this one, as every time a PR is packaged, then the e2e tests are triggered.

[2020-10-27 17:13] fearful-symmetry commented on #22176
For whatever reason, we marked that as "Not implemented, and it also doesn't show 0 value" on windows in our spreadsheet, which is why it wasn't removed. No part of that has been touched recently. I can fix it.

I suspect this is the `host.*` events created by @kaiyan-sheng . Can you post an example event without the `host.*` fields redacted?

[2020-10-27 17:33] mgevans-5 opened #22207 "Heartbeat add NTLM to basic URL up/down testing"
This request is also described here:  [Beats Issue 5237 - Heartbeat support for NTLM auth](https://github.com/elastic/beats/issues/5237)

We have many internal Corp URLs that are single sign-on with Windows Authentication / NTLM.  This is a pretty widespread use case for shops doing observability for internal applications.  A good example is SharePoint but we have many apps that use NTLM auth.

th

[2020-10-27 17:55] #19291 closed

[2020-10-27 18:19] elasticmachine commented on #22207
Pinging @elastic/uptime (Team:Uptime)

[2020-10-27 18:20] sgreszcz commented on #11834
@ChrsMark thank you so much for sharing your manifest!  I'm still not sure what exactly is the diff between yours and the one that I had build from the filebeat github example and the examples above in this issue.

It was driving me crazy for a few days, so I really appreciate this and I can confirm if you just apply this manifest as-is and only change the elasticsearch hostname, all will work.

[2020-10-27 18:21] elasticmachine commented on #22192
Pinging @elastic/integrations-services (Team:Services)

[2020-10-27 18:31] elasticmachine commented on #22172
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-27 18:45] sgreszcz commented on #11834
weird, the only differences I can see in the new manifest is the addition of volume and volumemount (/var/lib/docker/containers)  - but we are not even referring to it in the filebeat.yaml configmap.
[code]

The only config that was removed in the new manifest was this, so maybe these things were breaking the proper k8s log discovery:
[code]

[2020-10-27 18:46] kaiyan-sheng commented on #22176
So the empty event being logged only has `host.*` fields?

[2020-10-27 18:51] fearful-symmetry commented on #22176
@kaiyan-sheng Yah, the new `host.*` fields are sent as their own event, with no other metrics

[2020-10-27 18:58] kaiyan-sheng opened #22210 "Add Metricbeat support for monitoring AWS Fargate"
With some initial investigation, we would like to add support for monitoring AWS Fargate using Metricbeat. AWS ECS container agent injects an environment variable into each container, referred to as the [task metadata endpoint](https://docs.aws.amazon.com/AmazonECS/latest/userguide/task-metadata-endpoint-v4-fargate.html) which provides various task metadata and Docker stats to the container. We ca

[2020-10-27 18:58] elasticmachine commented on #22210
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-27 19:08] kaiyan-sheng commented on #22176
@fearful-symmetry Ahh yes this is for diskio. `host.*` fields aggregate all disks together and report one event.

[2020-10-27 19:08] #22173 closed

[2020-10-27 19:09] elasticmachine commented on #22171
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-27 19:25] marqc commented on #11834
If you are using docker as container engine, then /var/log/containers and /var/log/pods only contains symlinks to logs stored in /var/lib/docker so it has to be mounted to your filebeat container as well

@sgreszcz

[2020-10-27 19:36] #14286 closed

[2020-10-27 22:05] mileskelsey commented on #19141
I still see this problem in version 7.9.3

[2020-10-28 00:45] axw opened #22215 "monitoring: report configured queue.mem.*, output.elasticsearch.workers, output.elasticsearch.bulk_max_size"
**Describe the enhancement:**

Report additional metrics for telemetry/stack monitoring:

 - `queue.mem.events`
 - `output.elasticsearch.workers`
 - `output.elasticsearch.bulk_max_size`

**Describe a specific use case for the enhancement or feature:**

Part of the tuning exercise for APM Server is to tweak output parameters (https://www.elastic.co/guide/en/apm/server/current/tune-apm-server.html):

[2020-10-28 00:45] elasticmachine commented on #22215
Pinging @elastic/integrations-services (Team:Services)

[2020-10-28 01:55] kaiyan-sheng opened #22216 "Common Fields for Process Inventory Schema"
This is a meta issue to track the work related to defining the common fields for process inventory schema. We would like to have a set of required and recommended fields to be added to any event related to a process. The main focus is on Metricbeat `system` module `process` metricsets. There are also other modules in Metricbeat that reports metrics related to different processes, such as `php_fpm`

[2020-10-28 01:56] elasticmachine commented on #22216
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-28 01:56] elasticmachine commented on #21674
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-10-28 02:01] kaiyan-sheng commented on #22216
Not sure if the list below should be a part of this exercise:

- [ ] `haproxy.info.uptime.sec` should use `process.uptime` instead

- [ ] `mongodb.status.uptime.ms` should convert to second and use `process.uptime` instead

- [ ] `redis.info.server.uptime` should use `process.uptime` instead (check unit first)

- [ ] `system.socket.process.cmdline` should use `process.command_line` instead

[2020-10-28 07:39] mattiagalati commented on #11273
Seems like a bit odd to have a poweful tool like Filebeat and discover it cannot replace the timestamp. I mean: storing the timestamp itself in the log row is the simplest solution to ensure the event keep it's consistency even if my filebeat suddenly stops or elastic is unreachable; plus, using a JSON string as log row is one of the most common pattern today.
I wonder why no one in Elastic took c

[2020-10-28 08:23] aevalov opened #22218 "[Metricbeat] Windows perfmon wildcard instance queries with one instance show instance name as asterisk"
Metricbeat 7.8.1, 7.9.2
Windows Server 2019

Config sample:
[code]

For Hyper-V hosts with two or more VMs it's ok.
[code]

For Hyper-V hosts with one VM it's look like:
[code]

As you can see, an asterisk mark used for instance name. Obviously that is wrong instance name.

Powershell on Hyper-V host with one VM:
[code]

[2020-10-28 08:38] narph commented on #22176
@kaiyan-sheng , was this the desired effect to send an empty diskio event containing those 2 host values?
Wouldn't this be confusing for users, sending every second event empty, they might think something is wrong (that is what I assumed)?
Also, wouldn't this affect existing visualizations for disikio values or pose issues when users create visualizations as they will see gaps in the data?
cc @exe

[2020-10-28 08:43] exekias commented on #22176
I assume this doesn't affect visualizations, right? By empty you mean the `system.diskio.*` fields are not present, visualization will not take these events into account, having that the field is not present.

I don't think the current behavior is necessarily wrong, were you able to reproduce any gap in a graph because of this?

@kaiyan-sheng I understand this is a separated event, instead of pigg

[2020-10-28 09:07] narph commented on #22176
I have not tried yet when it comes to visualizations, it could work since I see both events have the same timestamp.
But sending an `diskio` event with no `system.diskio` properties does not sound as a correct event (at least to me, maybe this is just a preference).
Couldn't we just add the host fields to the existing event (I understand those are aggregated values) but might be less confusing, an

[2020-10-28 09:08] adriansr opened #22219 "Winlogbeat sysmon javascript error"
For confirmed bugs, please report:
- Version: 7.9.2
- Operating System: Windows
- Discuss Forum URL: n/a
- Steps to Reproduce: n/a

The following error appears in Winlogbeat debug logs for some events:

[code]

[2020-10-28 09:08] elasticmachine commented on #22219
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-10-28 09:35] jsoriano commented on #22067
@MorrieAtElastic I am going to close this by now. I think the motivations are valid, and it could make sense to have this feature, but I am afraid that we are not going to implement it. Summarizing the main reasons from my previous comments:
* Implementing this could increase the complexity of a feature that has already many options.
* In previous similar discussions about having more options for

[2020-10-28 09:35] #22067 closed

[2020-10-28 09:57] jamiehynds commented on #21674
Discussed with @epixa and @andrewkroh yesterday. Adopting multi-user and wildcard is something we'd like to do. Once we have a clearer picture on affected modules and level of effort, we can prioritise which modules to focus on for 7.11.

[2020-10-28 12:17] ph commented on #22104
@andresrc Here's a concrete use case for our discussion concerning extension for beats.

[2020-10-28 12:23] urso commented on #21933
We would need to see the whole configuration. You get this error if 2 inputs are configured to read the same file.

On first sight it looks like it is a duplicate of https://github.com/elastic/beats/issues/22054. In case we have 2 integrations configured that read the same file we need to have different IDs. With different IDs filebeat can the state for each integration independently.

[2020-10-28 12:39] rahulgupta-qasource opened #22224 "No activity logs shown and Mac Mojave agent starts up but then goes to Offline status (8.0.0 Kibana cloud)"
**Kibana version:**
Kibana: 8.0.0 Snapshot cloud environment

**Elasticsearch version:**
Elasticsearch: 8.0.0 Snapshot cloud environment

**Host OS and Browser version:**
Linux , All

**Original install method (e.g. download page, yum, from source, etc.):**
8.0.0 Snapshot cloud environment

**Description**
No activity logs and agent goes to Offline status in UI on 8.0.0 snapshot Kibana cloud envir

[2020-10-28 12:39] elasticmachine commented on #22224
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-28 12:41] sorantis opened #22225 "[Metricbeat] Add dataproc metricset to Google Cloud module"
Add a `dataproc` lightweight metricset to Google Cloud.
List of available `dataproc` metrics can be found [here](https://cloud.google.com/monitoring/api/metrics_gcp#gcp-dataproc).

# Metricbeat Module / Dataset release checklist

This checklist is intended for Devs which create or update a module to make sure modules are consistent.

## Modules

For a metricset to go GA, the following criterias sh

[2020-10-28 12:41] elasticmachine commented on #22225
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-28 12:42] rahulgupta-qasource commented on #22224
@vipulsrivastava-qasource Please review the bug.

[2020-10-28 12:44] vipulsrivastava-qasource commented on #22224
Reviewed and Assigned to @EricDavisX

[2020-10-28 13:02] dikshachauhan-qasource opened #22226 "Agent remains in enrolling state at kibana URL though installed successfully at endpoint."
Kibana version:
Kibana: 7.10.0-SNAPSHOT cloud environment

Elasticsearch version:
Elasticsearch:  7.10.0-SNAPSHOT cloud environment

Host OS and Browser version:
Mac, All

Original install method (e.g. download page, yum, from source, etc.):
7.10.0-SNAPSHOT cloud environment

Description
[Ingest Manager]: Agent remains in enrolling state at kibana URL though installed successfully at endpoint.

Pr

[2020-10-28 13:04] dikshachauhan-qasource commented on #22226
@manishgupta-qasource Please Review

[2020-10-28 13:16] kaiyan-sheng commented on #22176
Yes, it's aggregated value among all disks/network interfaces so we can't attach these fields into an existing event which belong to one specific disk/network.

[2020-10-28 13:23] andrewstucki opened #22227 "[Elastic Agent] Shared Packetbeat Sniffer Configuration"
While migrating Packetbeat to be managed by Agent we came across a bit of a snag when it comes to our current Packetbeat architecture. Currently Packetbeat has a series of protocols/flows that can be modeled as `inputs`, however it also has a shared sniffer implementation. Basically the single shared sniffer dispatches packets to any registered protocol/flow handlers that then process and publish

[2020-10-28 13:24] elasticmachine commented on #22227
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-10-28 13:24] elasticmachine commented on #22227
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-28 13:30] elasticmachine commented on #22226
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-28 13:31] manishgupta-qasource commented on #22226
Reviewed & assigned to @EricDavisX

[2020-10-28 13:35] #21125 closed

[2020-10-28 13:40] rahulgupta-qasource commented on #22096
Hi Eric

We are blocked to execute the smoke testcases on 8.0.0-snapshot cloud environment and 7.10.0-snapshot cloud environment on mac sip disabled machines with Endpoint Security enabled in Policy due to bug #22224 and #22226

Given below are the build details:

**Build Details:**
Kibana Cloud : 8.0.0 SNAPSHOT
Commit : db0816f4a1fb7fb5a24106be53c86e5f8c5404e1
Build : 37600
Elastic-Agent Hash : c

[2020-10-28 13:44] narph commented on #22176
I don't think that creating a separate event with no diskio.* data makes this more clear. If we look at the example above we only see:

[code]

I do not know if this is aggregated or not. Can we rename it to `disk.total.read_bytes` or something similar and still include it in the existing event?
If not (which is understandable), what about cases as the one I am testing with, where there is one dis

[2020-10-28 14:36] #14305 closed

[2020-10-28 14:46] sgreszcz commented on #22053
The root cause to this issue was that filebeat was not working correctly and shipping logs from the k8s clusters.  When the problem with data shipping was resolved as per issue https://github.com/elastic/beats/issues/11834 the monitoring "joined up" with the actual ES cluster name and is no longer in "Standalone Cluster"

[2020-10-28 14:46] #22053 closed

[2020-10-28 14:53] #17335 closed

[2020-10-28 15:17] narph commented on #21125
@JameySteinmann , we did some work on the existing regular expressions and we to be able to return the entire instance name when it comes to cases as above. No necessary configuration required.

[2020-10-28 15:41] ruflin commented on #22227
@blakerouse @michalpristas Would be great to get your thoughts on the above on how we could do this. I wonder how we should think of it: Config for a specific process? Config for a list of inputs? Global configs we just ship everywhere? Other?

[2020-10-28 15:45] EricDavisX commented on #22224
I'm not seeing this in my test of 8.0 Kibana (same Kibana build) but with a newer Agent.  I think the above is more than a day old, the current is: https://snapshots.elastic.co/8.0.0-36160761

[2020-10-28 15:49] JameySteinmann commented on #21125
That's great news!

[2020-10-28 16:15] adriansr opened #22238 "Auditbeat under k8s fails to enrich short-lived processes"
Please include configurations and logs if available.

For confirmed bugs, please report:
- Version: n/a
- Operating System: Linux
- Discuss Forum URL: n/a
- Steps to Reproduce:

The sample manifest for k8s provided in [deploy/kubernetes/auditbeat-kubernetes.yaml](https://github.com/elastic/beats/blob/master/deploy/kubernetes/auditbeat-kubernetes.yaml) uses the `add_process_metadata` and `add_kuber

[2020-10-28 16:15] elasticmachine commented on #22238
Pinging @elastic/integrations (Team:Integrations)

[2020-10-28 16:16] elasticmachine commented on #22238
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-10-28 16:28] sonalkr132 commented on #15012
Only true if you haven't displeased _the timestamp format gods_ with a "non-standard" format. `'2020-10-28 00:54:11.558000'` is an invalid timestamp. :ng_man:

[code]

[2020-10-28 16:43] EricDavisX commented on #22226
I'm not seeing this in my cloud-staging 7.10 build with the Agent cited above.
kibana commit:  ed66f41a8a60ad03426beff65ed270a743c46ac4

edavis-mbp:kibana_elastic edavis$ git show -s ed66f41a8a60ad03426beff65ed270a743c46ac4
Date:   Wed Oct 21 09:23:54 2020 -0600

agent version: Binary: 7.10.0-SNAPSHOT (build: 46c2e68f5b2b1a501b5326274a59c314bff8700e at 2020-10-27 03:48:37 +0000 UTC)

I don't see a

[2020-10-28 17:04] EricDavisX commented on #22226
ok!  I forgot and mis-read something on my side - I forgot to update the version from 7.10.0 in cloud, to 7.10.0-SNAPSHOT which is why I was getting week old code.  Oddly enough, still, that doesn't really relate to the problem being seen, which I still don't see with the newer 7.10 code from yesterday, 10-27.  I think it was just that the staging env was struggling.

[2020-10-28 17:19] #22219 closed

[2020-10-28 17:33] EricDavisX commented on #22224
I think the staging environment was just struggling (out of memory or not enough CPU to go around to all of the environments that existed) - I see that the team logged: https://github.com/elastic/beats/issues/22226 for 7.10 line and
https://github.com/elastic/cloud/issues/69006 on the cloud side which was later closed... tho I was seeing slightly slower than usual performance on my Kibana cloud st

[2020-10-28 17:34] nchaulet opened #22243 "[Elastic Agents] Send agents logs directly to ES"
## Description

Once defined here https://github.com/elastic/integrations/issues/350 Elastic agents should send it's logs (previously agent events) directly to the default output instead of sending them through Kibana during the checkin

[2020-10-28 17:34] elasticmachine commented on #22243
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-28 18:37] elasticmachine commented on #22218
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-28 19:29] v1v commented on #22169
Closed as duplicated for https://github.com/elastic/beats/issues/22172

[2020-10-28 19:29] #22169 closed

[2020-10-28 19:30] andrewstucki commented on #22227
I was thinking of an alternative approach that might get us what we need, and would like to hear thoughts about it. If, instead of approaching each protocol as an `input` we approach it as a `stream` we could potentially make this work without global configuration. Here's the rough idea, the policy handed from Kibana would look like:

[code]

The above would allow the packetbeat spec configuration

[2020-10-28 21:34] EricDavisX commented on #22096
You can execute the 7.10 Agent tests against the current 7.10 BC, by the way - the Kibana env has no bearing on the Agent signing.

Let us talk through and review SIP.  I think testing with it enabled is appropriate in snapshot and BC/GA builds, it is not quite exactly a 1 to 1 comparison with Windows 'test signing' in that regards.  SIP a safety feature and should be expected to be enabled by use

[2020-10-29 07:41] sastorsl commented on #11802
There is still confusion on this issue.

Alt least the old documentation should clearly note the deprecation of built-in kibana dashboards, i.e. on the https://www.elastic.co/guide/en/beats/heartbeat/6.8/load-kibana-dashboards.html page.

[2020-10-29 09:00] dikshachauhan-qasource commented on #21794
Hi @EricDavisX @blakerouse,

Thanks for the clarification of enroll command execution. We have updated the required information in our testcase.

https://elastic.testrail.io/index.php?/cases/view/34391

Also, we have retested it on 7.10.0 BC3 Kibana cloud environment with commit ed66f41a8a60ad03426beff65ed270a743c46ac4 and 7.10.0 BC3 elastic-agent downloaded from below location: https://staging.el

[2020-10-29 09:16] dikshachauhan-qasource commented on #22226
Hi @EricDavisX ,

Thanks for the feedback.

As per your request, I'm unable to provide kibana commit now as environment has been deleted.

However, as per the results shared in above comment, that 7.10.0-SNAPSHOT agent is installed successfully with cloud-staging 7.10 build. We are closing this ticket.

Please let us know if anything is required to perform from our side.

[2020-10-29 09:16] #22226 closed

[2020-10-29 09:29] ruflin commented on #19291
So if I understand this correctly, to run it at the moment it is required that the dev adds a comment to the PR?

[2020-10-29 09:36] #21794 closed

[2020-10-29 09:36] elasticmachine commented on #22238
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-29 10:01] rahulgupta-qasource commented on #22224
Hi @EricDavisX

Thank you for sharing the feedback.

We are blocked to validate this ticket on 8.0.0-snapshot kibana cloud build as we are unable to deploy it from [staging environment](https://staging.found.no/) due to reopened bug [#69006](https://github.com/elastic/cloud/issues/69006)

Once bug [#69006](https://github.com/elastic/cloud/issues/69006) is fixed, we will validate this ticket.

[2020-10-29 10:02] lowryxiao opened #22253 "[Heartbeat]ICMP check failed even targets are reachable"
Hello, Beats friends,

We encountered a problem when we using Heartbeat in our environment.

The problem is that we found the graph of ICMP check is not stable, like this one:
![image](https://user-images.githubusercontent.com/1327061/97550403-e1d7d180-198e-11eb-9121-bc953d89290e.png)

However, there is only ICMP check type of configurations and nearly 1.3K hosts to monitor.

Added some debug logs

[2020-10-29 10:03] ccmsi opened #22254 "Filebeat Processors - make uppercase and lowercase processors (as in ES ingest nodes) available to filebeat"
Greetings and thanks for this software.

I would like to request for adding the two processors uppercase and lowercase to filebeat input processing.

Besides being useful, adds to making things consistent.

Thanks for your time and attention

[2020-10-29 10:16] elasticmachine opened #22255 "Flaky Test [Build&Test / libbeat-build / TestClientPublishEventKerberosAware – elasticsearch]"
## Flaky Test

* **Test Name:** `Build&Test / libbeat-build / TestClientPublishEventKerberosAware – elasticsearch`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2F7.10/detail/7.10/104/
* **PR:** None
* **Commit:** 01c426d2cb9835da20c0006da17bd2c9f18744a4

### Error details
[code]

### Stack Trace
[code]

[2020-10-29 10:23] lowryxiao commented on #22123
@andrewvc Thanks for your replying and checking.
This would like an issue of heartbeat itself.
It uses this third-party package to parse crontab expression and calculate when to run the task for next time.
I just reproduced this problem with only this third-party package, maybe I can try to reproduce it from heartbeat side. that would be better to help us to get on the same page.

[2020-10-29 10:32] mostlyjason commented on #21096
Can you explain how the allowlist and denylist interact when both are present? My initial thought is that an allowlist denies all inputs by default unless they are listed. The denylist is the opposite where all inputs are allowed by default except the ones listed. What is the default if they have both? Furthermore, what takes precedence when there is a conflict? Do we really need to support both?

[2020-10-29 10:48] kuisathaverat commented on #19291
yep, if you put the comment `/package` or  `/packaging` you will build the packages for that PR and run the e2e test, right now is not granular and you will generate all packages before running the tests, this now takes 1h 30min, but we are working to reduce it to 24min on average and 10 min running only the needed platform and beat

[2020-10-29 11:16] dikshachauhan-qasource commented on #22188
Hi @EricDavisX '

While performing smoke today on 7.10.0.BC4 build on locally deployed Kibana with details as folows:

Agent hash: c650b297
BUILD 35887
Kibana COMMIT: 3f7bbe02a2f08f0ad1c7f5a9b35235a4aa066a32
Artifacts link: https://staging.elastic.co/7.10.0-c650b297/summary-7.10.0.html/elastic-agent-7.10.0-windows-x86_64.zip

We found that Agent goes to Offline status in UI after some time of succ

[2020-10-29 11:36] #14207 closed

[2020-10-29 11:44] ph commented on #19291
@kuisathaverat Can you link that issue and PR here?

[2020-10-29 11:53] ruflin commented on #19291
@kuisathaverat This is great and exactly what I'm looking for so it can be run on each PR.

[2020-10-29 12:01] ruflin commented on #21096
We should probably just start with one, not sure which one. I'm sure there also better syntax options then I proposed so perhaps we can work with conditions we already have instead. This works around the problem of having both. If both exists at the same time, it would probably be an invalid problem to work around the problem.

[2020-10-29 12:58] v1v commented on #21958
It also fails for the 2.0 pipeline

[code]

![image](https://user-images.githubusercontent.com/2871786/97576741-77528000-19e6-11eb-88fa-7e39faf859a7.png)

[build](https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2FPR-21859/detail/PR-21859/10/pipeline/605)

[2020-10-29 12:59] ph commented on #21096
@mostlyjason You have raised an excellent point... could we compare that to the firewall case?

In that case, you usually block all and just define allow rules. It's more verbose but it's really explicit and you don't risk to have unwanted things "slip"

[2020-10-29 13:03] v1v commented on #21959
It happens also in the 2.0 pipeline

![image](https://user-images.githubusercontent.com/2871786/97577246-14adb400-19e7-11eb-8ba9-7872fe8daeae.png)

[2020-10-29 13:15] v1v opened #22257 "[metricbeat][6.8][windows] TestData"
## Flaky Test

* **Test Name:** TestData
* **Branch:**  6.8
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2FPR-21859/detail/PR-21859/10/pipeline#step-2671-log-1
* **Notes:** Additional details about the test. e.g. theory as to failure cause

### Stack Trace

[code]

[2020-10-29 13:18] #20988 closed

[2020-10-29 13:42] EricDavisX commented on #22224
in QA sync meeting today, Manish confirmed his access was restored to cloud staging, and so he created a new environment of 8.0 that we can use tomorrow to test if it is not working for Rahul or others to create their own.  The 69006 is being follow up as an incident on cloud side, so it is likely to be more permanently fixed soon.

[2020-10-29 13:51] narph commented on #22218
hi @aevalov , thanks for bringing this to our attention, I was able to reproduce this issue:
[code]
[code]

A fix for this behavior is found here https://github.com/elastic/beats/pull/22261, no workarounds at the moment, unless you specify the name of the instance in the configuration file instead of the wildcard.

[2020-10-29 13:53] EricDavisX commented on #22188
Thank you @dikshachauhan-qasource .  In QA sync meeting we discussed if we are able to increase the resources of the vm running the self-managed stack.  we should increase to see if it helps alleviate the problem.  We should also review against the main elastic cited minimum requirements for kibana/elastic when running together on the same host (I think that is the setup here, right?).  I haven't

[2020-10-29 13:55] dikshachauhan-qasource commented on #22096
Hi @EricDavisX

We have verified this with a 7.10 snapshot Agent against 7.10 BC3 build on MacOS having sip enabled.
Agent details: https://snapshots.elastic.co/7.10.0-81ee96e5/downloads/beats/elastic-agent/elastic-agent-7.10.0-SNAPSHOT-darwin-x86_64.tar.gz
Kibana Commit: ed66f41a8a60ad03426beff65ed270a743c46ac4

We were able to install agent successfully without any issues. Please refer Screensho

[2020-10-29 14:00] v1v opened #22263 "[x-pack/winlogbeat][6.8][windows] x-pack/winlogbeat build does not work"
### Stacktrace

[code]

Build -> https://beats-ci.elastic.co/job/elastic+beats+6.8+multijob-windows/beat=x-pack%2Fwinlogbeat,label=windows/16/console

[2020-10-29 14:17] ph commented on #22243
@michalpristas Can you add acceptance criteria before starting this issue?

[2020-10-29 14:32] ph commented on #21852
That should be fixed in latest BC.

[2020-10-29 14:33] ph commented on #21844
cc @blakerouse ?

[2020-10-29 14:45] v1v opened #22265 "[winlogbeat][6.8] integration-tests-environment goal does not work"
### What

`RACE_DETECTOR=1 make -C winlogbeat check testsuite` fails

### Stacktrace

[code]

![image](https://user-images.githubusercontent.com/2871786/97589246-344bd900-19f5-11eb-93b4-32b5cd02f3c2.png)

[build](https://beats-ci.elastic.co/job/elastic+beats+6.8+multijob-linux/beat=winlogbeat,label=ubuntu-16/16/console) if the build is gone please refers to the below gist:

- [gist](https://gist.g

[2020-10-29 14:46] kuisathaverat commented on #19291
we have a PR open https://github.com/elastic/beats/pull/22178 we are dealing with a concurrence issue with the GCP plugin as soon as we resolved it we can merge it.

[2020-10-29 14:49] v1v opened #22266 "[packetbeat][6.8] integration-tests-environment goal does not work"
### What

`RACE_DETECTOR=1 make -C packetbeat check testsuite integration-tests-environment` fails

### Stacktrace

[code]

![image](https://user-images.githubusercontent.com/2871786/97589749-d10e7680-19f5-11eb-8904-77f072a87ec2.png)

[build](https://beats-ci.elastic.co/job/elastic+beats+6.8+multijob-linux/beat=winlogbeat,label=ubuntu-16/16/console) if the build is gone please refers to the below

[2020-10-29 14:58] #21564 closed

[2020-10-29 15:03] zbioe commented on #21067
Same issue here, with elastic user i can use it normal. with custom user, i get the error:
[code]

[2020-10-29 15:19] mostlyjason commented on #21096
I think in the cloud use case they want to limit the inputs for security reasons, an allowlist is easier to lock down. When someone adds a new input type, we'd have to go back to update the denylist every time, and if we forget it could cause an unintended problem on cloud.

[2020-10-29 15:45] andrewstucki commented on #21067
@srikwit: See the docs about [setting up packetbeat integration](https://www.elastic.co/guide/en/beats/packetbeat/current/privileges-to-setup-beats.html). The `setup` command requires admin-level permissions to create the index lifecycle management policies and index templates. I'm assuming your `packetbeat` user is the [user intended for publishing](https://www.elastic.co/guide/en/beats/packetbea

[2020-10-29 15:51] ferullo opened #22268 "Windows Agent doesn't uninstall with a lowercase `c:` drive in the path"
See the below screenshot. Agent refuses to uninstall if the C drive is in lowercase although Windows filesystems are caseless.

<img width="1447" alt="image" src="https://user-images.githubusercontent.com/56368752/97598154-0195e680-19dd-11eb-8d04-497ce4fee9ec.png">

[2020-10-29 15:52] v1v opened #22269 "[x-pack/metricbeat][6.8] x-pack/metricbeat windows build does not work"
### What

`mage fields build goTestUnit ` fails

### Stacktrace

[code]

[code]

See [build](https://beats-ci.elastic.co/job/elastic+beats+6.8+multijob-windows/beat=x-pack%2Fmetricbeat,label=windows/16/console)

See [gist](https://gist.github.com/v1v/8c0957621bc403c460c7991b82255f38) in case the build gets deleted.

[2020-10-29 15:53] elasticmachine commented on #22269
Pinging @elastic/integrations-services (Team:Services)

[2020-10-29 16:13] EricDavisX commented on #21852
yes BC4 will have this and it should unblock all .rpm (or .deb) related testing for 7.10

[2020-10-29 16:13] dedemorton commented on #11790
Closing this issue because it is stale. Going forward, we need to do a much better job of tracking and documenting field changes that impact users.

[2020-10-29 16:13] #11790 closed

[2020-10-29 17:12] zbioe commented on #21067
Nice, I just added the `kibana_admin` role as you said, and for me work's like a spell.
Thank's

[2020-10-29 18:43] ph opened #22281 "[Elastic-Agent] Investigate: Improve host.id fingerprinting for VDI"
As a user, I would like to have a uniquely created `host.id` even when using VM (VDI, virtual desktop infrastructure)

**The problem:**

The `host.id` isn't unique enough, we are using `elastic/go-sysinfo` to generate the `host.id` from hardware information but if you have two VM from the same images it's possible that the `host.id` is the same.

![image (4)](https://user-images.githubusercontent.

[2020-10-29 18:43] elasticmachine commented on #22281
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-29 18:44] blakerouse commented on #22227
@ruflin I prefer @andrewstucki latest approach, but I don't know if it being limited on the intergration packages side is an issue?

Would it maybe be possible for agent to just pass multiple inputs down to Packetbeat and allow packet beat to build the shared sniffer from those values. This would basically be Packetbeat understanding a top level `inputs` from Agent, just like we did with Heartbeat

[2020-10-29 18:54] #20886 closed

[2020-10-29 18:56] andrewstucki commented on #22227
@blakerouse so I don't think we're actually limited anymore, I rewrote the packet sniffer management code so that we can run up to 100 sniffers in a single packetbeat instance. What that means essentially is that you can have up to 100 integrations enabled in a policy that each use the `packet` type input (not that you'd want to run 100 sniffers on a single system). Each package can just then spec

[2020-10-29 19:08] ph commented on #20624
removed mention of powershell scripts and only keep the elastic-agent.exec.

[2020-10-29 19:15] EricDavisX commented on #21935
I've confirmed this is working in a 7.11 build, upgraded through the ui with a 7.10 Agent.

[2020-10-29 19:18] blakerouse commented on #21844
I think with the solving of #21842 we should just add them as part of the `kubernetes` dynamic provider.

To match beats today we need to add Services. I think that `kubernetes.service.*` will work correctly with #21842 solved.

@exekias is their other types to add? maybe `kubernetes.ingress.*`?

[2020-10-29 20:05] EricDavisX commented on #21822
I have seen this in the data on the saved objects for the 8.0 based Endpoint / Fleet 'demo' server.  and in the 7.10 object -> https://asdf.europe-west1.gcp.cloud.es.io:9243/api/saved_objects/_find?type=fleet-agents
 - it shows the Agent as upgradeable as desired.  its good.  and i've tested end to end with 7.11 and done the upgrade.  we're good here

[2020-10-29 20:54] elasticmachine commented on #22268
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-29 20:55] elasticmachine commented on #22266
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-10-29 20:55] elasticmachine commented on #22265
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-10-29 20:57] elasticmachine commented on #22263
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-10-29 20:58] elasticmachine commented on #22254
Pinging @elastic/integrations-services (Team:Services)

[2020-10-29 20:59] elasticmachine commented on #22253
Pinging @elastic/uptime (Team:Uptime)

[2020-10-29 21:50] EricDavisX commented on #20205
the feature was tested and was seen working end to end, with macOS. The 7.10 BC4 build has a signing problems on windows which prevent the feature from working, fyi.

[2020-10-29 23:01] fearful-symmetry opened #22288 "Should metricset modules be logged at the info level?"
When something fails in a metricset, we log it at an `info` level:

[code]

Should we be logging this at an error level, or something else that's a tad more obvious?

[2020-10-29 23:01] elasticmachine commented on #22288
Pinging @elastic/integrations (Team:Integrations)

[2020-10-30 00:54] Saravanan-Arumugam-BY commented on #21658
I am still having an issue even after using this latest yml file and updated pipeline as stated above. Blow is the warning message keeps recording in logstash

[2020-10-30T00:51:29,202][WARN ][logstash.outputs.elasticsearch][asa][d416fabea07ba3f13eab657ed7767e90bb3b5962d9c68b1d2bd09dbc9d06a511] Could not index event to Elasticsearch. {:status=>400, :action=>["index", {:_id=>nil, :_index=>"cisco-as

[2020-10-30 02:30] andrewkroh commented on #22263
6.x does not have an x-pack/winlogbeat build. There were no x-pack specific features. So all of the building and testing was happening from the winlogbeat dir. Packaging from the winlogbeat dir builds both the OSS and Elastic license artifacts.

[2020-10-30 07:36] #14346 closed

[2020-10-30 08:23] dikshachauhan-qasource commented on #22188
Hi @EricDavisX ,

Thanks for the information and feedback on issue encountered due to unsupported environment. We have gone through the link on minimum requirements for kibana/elastic when running together on the same host.
Further, we have performed smoke for the blocked testcases on 7.10 BC4 Kibana cloud and found it working fine without any issues.
Testrun Link: https://elastic.testrail.io/inde

[2020-10-30 08:33] exekias commented on #22176
I'm not sure we should do an exception for the case where there is only one disk. I think of these metrics as the individual metrics per disk + a summary event aggregating all of them.

I see how for the special case of having a single disk we could put all metrics together, but that:

- Would make the code more complex as we need to account for this case, with its own logic
- Would actually be mi

[2020-10-30 08:43] exekias commented on #21844
The other one needed to match beats would be `kubernetes.node`.

We didn't discuss `ingress` as of today, these are partially covered by service, but happy to discuss more.

I'm personally ok to keeping the scope in `node`, `pod` & `service` for now.

[2020-10-30 09:03] narph commented on #22176
@exekias , all right makes sense, I just wanted to  explore all avenues in order to minimize the number of documents needed.

[2020-10-30 09:35] ruflin commented on #22227
There is an other ongoing discussion with @urso on how input should look and it goes more in the direction of, everything should be an input.

I'm personally leaning in the direction of having 1 input per protocol as I think it is also more intuitive to configure. It seems like based on your comment above, packetbeat would be able to summarise the following config to run only 2 sniffers? (see the

[2020-10-30 09:36] jamiehynds opened #22293 "[O365] Update docs for Teams support"
@P1llus recently tested ingestion of MS Teams audit events via our existing O365 module and confirmed it works fine. Can we update the existing [O365 module doc](https://www.elastic.co/guide/en/beats/filebeat/master/filebeat-module-o365.html) to reflect support for Teams?

[2020-10-30 09:36] elasticmachine commented on #22293
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-10-30 09:46] ruflin commented on #21837
Is this generic to logs input or more specific to the logfile input and dockerlogs input but does not matter for all the others? If no config is added, what is the default behaviour currently?

@exekias You mention above, it should not be the provider adding this information, can you elaborate on why? My thinking is that it should not be in Filebeat as Filebeat would not know, if it comes from aut

[2020-10-30 10:00] exekias commented on #21837
Yes, this problem would be specific to any file based input, normally the `container` input would be the most used (`docker` input is deprecated in favour of it).

The provider doesn't know what the event will be used for, it may spawn a metrics input, a logs input, or even both. I agree Filebeat may not need to know either (although it's a possible approach), so this would be somewhere in the dyn

[2020-10-30 10:14] rahulgupta-qasource opened #22296 "No activity logs and Agent remains in Enrolling state on installing Linux rpm"
**Kibana version:**
Kibana: 7.10 BC4 cloud environment

**Elasticsearch version:**
Elasticsearch: 7.10 BC4 cloud environment

**Host OS and Browser version:**
Linux , All

**Original install method (e.g. download page, yum, from source, etc.):**
7.10 BC4 cloud environment

**Description**
No activity logs and Agent remains in Enrolling state on installing Linux rpm

**Preconditions**
1. 7.10 BC4 k

[2020-10-30 10:15] elasticmachine commented on #22296
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-30 10:19] rahulgupta-qasource commented on #22296
@vipulsrivastava-qasource Please review the bug.

[2020-10-30 10:55] vipulsrivastava-qasource commented on #22296
Reviewed and Assigned to @EricDavisX

[2020-10-30 10:56] dikshachauhan-qasource commented on #22224
Hi @EricDavisX,

Thank you for the update.

We have re-validated this issue on 8.0 snapshot Kibana cloud build and found it still reproducible.[Below are build detail]

**Kibana Commit:** d869f558c3bd2736702a393b8e7f6b487ce5d0a6
**Build:** 37629
**Artifact link:** https://artifacts-api.elastic.co/v1/search/8.0.0-SNAPSHOT/elastic-agent-8.0.0-SNAPSHOT-darwin-x86_64.tar.gz
**OS** : MacOS Mojave 10.14

[2020-10-30 11:42] v1v opened #22301 "[Metricbeat][goIntegTest] TestFetchMultipleKeyspaces – key failed"
## Flaky Test

* **Test Name:**  `TestFetchMultipleKeyspaces – key`
* **Link:** https://github.com/elastic/beats/blob/b18b333022052d22bb515af99b926c6f58d145d4/metricbeat/module/redis/key/key_integration_test.go#L58
* **Branch:** https://github.com/elastic/beats/pull/19803
* **Artifact Link:** [build](https://beats-ci.elastic.co/blue/rest/organizations/jenkins/pipelines/Beats/pipelines/beats/pipeli

[2020-10-30 11:50] v1v commented on #19829
It also happens in Windows-7 64bits

[code]

[2020-10-30 11:50] ruflin commented on #21837
I missed the point around "The provider doesn't know what the event will be used". So agree, provider is also not the place for it.

[2020-10-30 11:54] v1v opened #22302 "[Winlogbeat][windows-7-64] got some failed tests for TestEventIterator"
## Failed Test

* **Test Name:**  `TestEventIterator`
* **Link:** https://github.com/elastic/beats/blob/b18b333022052d22bb515af99b926c6f58d145d4/winlogbeat/sys/wineventlog/iterator_test.go#L33
* **Branch:** https://github.com/elastic/beats/pull/19803
* **Artifact Link:** https://beats-ci.elastic.co/blue/rest/organizations/jenkins/pipelines/Beats/pipelines/beats/pipelines/PR-19803/runs/5/steps/5170

[2020-10-30 12:02] exekias commented on #21837
This could be ok from my POV. I'm not sure if the need for a wait is really tied to the type of provider, but the dynamic nature of it. Still I'm ok with adding this as a flag/setting hardcoded in providers, where they tell you: "file based inputs need to wait for a little bit before closing" still they don't handle that logic

[2020-10-30 12:11] v1v opened #22303 "[packetbeat][windows-7-32] got some failed tests for TestParseTableRaw"
## Failed Test

* **Test Name:**  `TestParseTableRaw `
* **Link:** https://github.com/elastic/beats/blob/b18b333022052d22bb515af99b926c6f58d145d4/packetbeat/procs/procs_windows_test.go#L32
* **Branch:** https://github.com/elastic/beats/pull/19803
* **Artifact Link:** https://beats-ci.elastic.co/blue/rest/organizations/jenkins/pipelines/Beats/pipelines/beats/branches/PR-19797/runs/9/nodes/2002/log/

[2020-10-30 12:36] #14352 closed

[2020-10-30 13:11] rahulgupta-qasource opened #22304 "Error agent is not upgradeable is displayed on upgrading Linux deb (7.10 to 7.11)"
**Kibana version:**
Kibana: 7.11.0 Snapshot cloud environment

**Elasticsearch version:**
Elasticsearch: 7.11.0 Snapshot cloud environment

**Host OS and Browser version:**
Linux deb , All

**Original install method (e.g. download page, yum, from source, etc.):**
7.11 Snapshot cloud environment

**Description**
Error agent is not upgradeable is displayed on upgrading Linux deb 7.10 BC4 agent

**Pr

[2020-10-30 13:11] giulio1979 opened #22305 "Filebeat with enrichment getting authorization errors"
Version: 7.9.2
ECK 1.5.0
Steps to Reproduce: configure filebeat with enrichment pipeline and start ingestion

Hi,

I am trying to add an automatic enrichment to a filebeat getting PaloAlto firewall logs but enrichment is failing with:

error.message | action [indices:data/read/xpack/enrich/coordinate_lookups] is unauthorized for user [siem-filebeat-panos-beat-user]
-- | --

The document gets added

[2020-10-30 13:11] dikshachauhan-qasource opened #22306 "Error message displayed in Activity logs while upgrading .tar Agent from 7.10 BC4 to 7.11 Snapshot."
Kibana version:
	Kibana: 7.11 Snapshot Cloud environment

	Elasticsearch version:
	Elasticsearch:  7.11 Snapshot Cloud deployed

	Host OS and Browser version:
	Linux, All

	Original install method (e.g. download page, yum, from source, etc.):
	7.11 Snapshot Cloud environment

	Description
	[Ingest Manager]: Error message displayed in Activity logs while upgrading .tar Agent from 7.10 BC4 to 7.11 S

[2020-10-30 13:12] elasticmachine commented on #22304
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-30 13:12] EricDavisX commented on #22188
@rahulgupta-qasource can you help confirm if we want to close this based on the hardware at the time of the test vs what we can estimate is reasonable expectations?

[2020-10-30 13:13] rahulgupta-qasource commented on #22304
Reviewed and assigned to @vipulsrivastava-qasource

[2020-10-30 13:14] vipulsrivastava-qasource commented on #22304
Reviewed and Assigned to @EricDavisX

[2020-10-30 13:16] blakerouse commented on #22304
This is correct. DEB packages cannot be upgraded from Kibana. I think the issue here is that the Agent should not be able to be even selected to try to perform the upgrade. Which I believe is a Kibana issue.

[2020-10-30 13:21] EricDavisX commented on #22296
@ph @blakerouse did we somehow miss something on the .rpm side that is different from .deb or perhaps we can evaluate in more detail what is different on the vms as below?

@rahulgupta-qasource @vipulsrivastava-qasource can you update the process for bug logging to make sure we cite what OS a Beat / Agent issue is reported on?  And for the near term, you could mention the explicit template in vSph

[2020-10-30 13:22] elasticmachine commented on #22306
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-30 13:23] manishgupta-qasource commented on #22306
Reviewed & Assigned to @EricDavisX

[2020-10-30 13:27] rahulgupta-qasource commented on #20205
Hi Eric

We have validated the ticket for linux tar, deb and rpm under https://elastic.testrail.io/index.php?/plans/view/792 with latest 7.11-snapshot Kibana build and 7.10 BC4 agent:

Observations:
1. We are blocked on linux rpm execution due to bug https://github.com/elastic/beats/issues/22296
2. Linux deb agent is not upgradeable and we have reported bug https://github.com/elastic/beats/issues/

[2020-10-30 13:28] dikshachauhan-qasource commented on #22096
Hi @EricDavisX,

We have again verified it with 7.10 BC4 build. Please find the detailed observation as follows:
**Artifacts**: https://staging.elastic.co/7.10.0-c650b297/summary-7.10.0.html/elastic-agent-7.10.0-darwin-x86_64.tar.gz
**Agent hash**: c650b297
**BUILD** 35887
**COMMIT** 3f7bbe02a2f08f0ad1c7f5a9b35235a4aa066a32
OS : MACos Catalina 10.15
Sip Enabled

**Precondition**:
- 7.10.0 BC4 Kiba

[2020-10-30 13:33] EricDavisX commented on #22304
I agree it is not a Beats bug.  It is a good error handling case tho.  This test case shows what we already know that the 'Bulk Action' menu does not introspect the different systems before sending the request to upgrade it.  Note that the requirement for the Agent to be 'installed' via Agent install is documented in the main ticket.

My request for testing content @rahulgupta-qasource is that we

[2020-10-30 13:56] kbering commented on #14585
Running metricbeat 7.9.2 on the SQL server, and using the mssql module without specifying an account then the calling account is used.

Config
[code]
So I think this issue can be closed

[2020-10-30 14:12] ph commented on #22296
@EricDavisX that might be related to a specific distribution.

[2020-10-30 14:56] v1v opened #22315 "[x-pack-filebeat][windows-7-32] got some failed tests for TestConvertOffsetToString"
## Failed Test

* **Test Name:**  `TestConvertOffsetToString `
* **Link:** https://github.com/elastic/beats/blob/master/x-pack/filebeat/input/s3/collector_test.go#L314
* **Branch:** https://github.com/elastic/beats/pull/19797
* **Artifact Link:** https://beats-ci.elastic.co/blue/rest/organizations/jenkins/pipelines/Beats/pipelines/beats/branches/PR-19797/runs/11/nodes/1972/log/?start=0

### Stack

[2020-10-30 15:10] v1v opened #22316 "[x-pack/elastic-agent][windows-7-32] got some failed tests for TestEql"
## Failed Test

* **Test Name:**  `TestEql `
* **Link:** https://github.com/elastic/beats/blob/f23f05a33fb570f7100a80d9ae31ab720ad96d1d/x-pack/elastic-agent/pkg/eql/eql_test.go#L30
* **Branch:** https://github.com/elastic/beats/pull/19797
* **Artifact Link:** https://beats-ci.elastic.co/blue/rest/organizations/jenkins/pipelines/Beats/pipelines/beats/pipelines/PR-19797/runs/11/steps/2741/log/

###

[2020-10-30 15:21] elasticmachine commented on #22316
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-30 15:31] michalpristas commented on #22306
able to repro looking at it.

[2020-10-30 15:33] EricDavisX commented on #22304
for now I am closing this, we can report any subsequent different than the above error exceptions or other problems separately

[2020-10-30 15:33] #22304 closed

[2020-10-30 15:37] v1v opened #22317 "[filebeat][windows-7] got some failed tests for test_symlink_rotated – filebeat.tests.system.test_harvester.Test"
## Failed Test

* **Test Name:**  ` test_symlink_rotated – filebeat.tests.system.test_harvester.Test`
* **Link:** https://github.com/elastic/beats/blob/f23f05a33fb570f7100a80d9ae31ab720ad96d1d/filebeat/tests/system/test_harvester.py#L566
* **Branch:** https://github.com/elastic/beats/pull/19803
* **Artifact Link:** https://beats-ci.elastic.co/blue/rest/organizations/jenkins/pipelines/Beats/pipelin

[2020-10-30 15:49] marc-gr commented on #19071
Closing this in favor of https://github.com/elastic/beats/issues/19486

[2020-10-30 15:49] #19071 closed

[2020-10-30 16:23] fearful-symmetry commented on #22216
Using `process.command_line` definitely makes sense. I kind of worry though if the others are maybe bending the definition of "process" a bit, particularly if a user can't map the rest of that data to a given PID.

[2020-10-30 18:09] paulb-elastic opened #22326 "[Heartbeat] Check certificates for Synthetic monitors (step 1 main URL)"
Existing TLS certificate checks for Heartbeat monitors are useful to give an early warning that certificates are going to expire (and give users the time to renew them before they expire which may well impact the availability of the site).

These are not currently available for Synthetics monitors, but the requirement and value that certificate checks provides, is just as valuable for these monito

[2020-10-30 18:10] elasticmachine commented on #22326
Pinging @elastic/uptime (Team:Uptime)

[2020-10-30 18:10] paulb-elastic opened #22327 "[Heartbeat] Check certificates for Synthetic monitors (all hosts)"
Existing TLS certificate checks for Heartbeat monitors are useful to give an early warning that certificates are going to expire (and give users the time to renew them before they expire which may well impact the availability of the site).

These are not currently available for Synthetics monitors, but the requirement and value that certificate checks provides, is just as valuable for these monito

[2020-10-30 18:10] elasticmachine commented on #22327
Pinging @elastic/uptime (Team:Uptime)

[2020-10-30 18:44] andrewkroh commented on #22265
The tests for Winlogbeat should not be starting Docker. IIRC it has TEST_ENVIRONMENT=false in its Makefile to prevent the integration tests from starting any containers.

[2020-10-30 18:47] andrewkroh commented on #22266
This is similar to the Winlogbeat failure. Packetbeat also has TEST_ENVIRONMENT=false to prevent use of the docker environment. https://github.com/elastic/beats/blob/6.8/packetbeat/Makefile#L4

[2020-10-30 18:49] andrewkroh commented on #21958
There might be some fixes that we need to backport. This test has always been troublesome since each OS responds a little different to file changes.

[2020-10-30 19:31] EricDavisX commented on #22306
@rahulgupta-qasource when we test this - we can use the latest BC of the stack in (or a snapshot is fine) and the next build snapshot of Agent.  Thank you for logging it and for @michalpristas for the quick review and fix!

[2020-10-30 19:36] EricDavisX commented on #22224
@rahulgupta-qasource and @dikshachauhan-qasource can I ask for the comparison tests to be cited for us?
 - on the same vm (you can roll back to a snapshot?) and try with the same 7.9.3 GA Agent / stack-kibana does it work?

 - on a different OS does the same build of Agent / Kibana fail?  We'd love to have help narrowing it down.
I can add that the Kibana Endpoint demo server is up with Windows Ag

[2020-10-30 19:40] DanRoscigno opened #22329 "Can the docs Filebeat start widget have a non-root option"
A common request is "Can we run xyzzy as a non-root user?"  In some cases Filebeat can be run as a non-root user.  While I was going through the observability tutorial Monitor a java application I noticed that the Filebeat start command included instructions to run as root.  The rest of the tutorial is run as non-root, so the log files being created are not owned by root and Filebeat is not requir

[2020-10-30 19:41] elasticmachine commented on #22329
Pinging @elastic/obs-docs (Team:Docs)

[2020-10-30 19:48] EricDavisX commented on #20205
@rahulgupta-qasource As posted elsewhere... let us re-do all tests on the next 7.10 snapshot Agent, updating to the next 7.11 (or 8.0) snapshot build.  This will get feedback faster than waiting on the BC.

From your observations,

#22296 - should not relate further to the upgrade testing (not urgently at least), but it seems a bug indeed!  we need more info, too, please.

#22304 - not a bug, but

[2020-10-30 19:51] EricDavisX commented on #22304
ah, one additional thought - we should update the test case to explicitly verify that for an .rpm or .deb install, that the right hand side 'actions' menu for single-agent actions has the option greyed out.

[2020-10-30 19:51] fw-at-elastic opened #22330 "Adding Elastic Contributor Program to "Contributing" page"
Hi there! I'd like to add a line to [this page ](https://www.elastic.co/guide/en/beats/devguide/current/beats-contributing.html)about the [Elastic Contributor Program](https://www.elastic.co/community/contributor).

Page content, with bolded edit below:

Contributing to Beats:

If you have a bugfix or new feature that you would like to contribute, please start by opening a topic on the forums. It

[2020-10-30 20:00] elasticmachine commented on #22330
Pinging @elastic/obs-docs (Team:Docs)

[2020-10-31 06:40] elasticmachine commented on #22317
Pinging @elastic/integrations-services (Team:Services)

[2020-10-31 06:47] elasticmachine commented on #22315
Pinging @elastic/integrations-services (Team:Services)

[2020-10-31 06:48] #22305 closed

[2020-10-31 06:49] elasticmachine commented on #22303
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-10-31 06:49] elasticmachine commented on #22302
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-10-31 06:50] elasticmachine commented on #22301
Pinging @elastic/integrations-services (Team:Services)

[2020-11-01 05:32] activeshadow commented on #12283
Same here, but for PacketBeat v7.9.3.

[2020-11-01 22:21] laviua commented on #11834
the same issue with the docker
"Error creating runner from config: Can only start an input when all related states are finished"
filebeat 7.9.3

[2020-11-02 08:05] michalpristas commented on #21971
@EricDavisX can we close this?

[2020-11-02 09:08] rahulgupta-qasource commented on #22304
Hi @EricDavisX

Thank you for sharing the feedback.

We have created the below 02 testcases(01 for Linux rpm and 01 for Linux deb) for 'Upgrade Agent' option disabled under right hand side 'Actions' menu on Agents tab:-
https://elastic.testrail.io/index.php?/cases/view/34986
https://elastic.testrail.io/index.php?/cases/view/34987

[2020-11-02 09:49] kvch commented on #22167
@amitaiporat I have discussed this issue with the team. It has been pointed out to me that Beats does not send events to Elasticsearch if the ID already exists. It is a form of deduplication. So this is not a bug, but a feature.

[2020-11-02 09:49] #22167 closed

[2020-11-02 09:51] rahulgupta-qasource commented on #22296
Hi @EricDavisX

Thank you for sharing the feedback.

The above issue is reported on centos-release-7-3.1611.el7.centos.x86_64 (VM ip: 10.6.227.3, VM Name: rahul_centos_7_3)
Screenshot:
![centOS_6_3](https://user-images.githubusercontent.com/59917944/97854118-09c48d80-1d1f-11eb-965a-b3708479f5dd.jpg)

Explicit template in vSphere for above VM[ip: 10.6.227.3 and name rahul_centos_7_3]: qa-centos7.3-

[2020-11-02 10:27] exekias commented on #20434
Nice to see this moving forward, there is also the opportunity to reuse this for `host` inventory metadata, right @jsoriano ?

[2020-11-02 10:41] dikshachauhan-qasource commented on #22306
Hi @EricDavisX,

We have validated this issue by upgrading 7.10 Snapshot agent to 7.11 snapshot build and found it **Fixed**.

Build details are as follows:
**BUILD:** 36126
**COMMIT:** 233a3e3a4afc4f3e40a03280b11fab054ee35602
**Artifact link :** https://snapshots.elastic.co/7.10.0-efa1e949/downloads/beats/elastic-agent/elastic-agent-7.10.0-SNAPSHOT-linux-x86_64.tar.gz

**Preconditions**
1. Artifa

[2020-11-02 12:52] DaveCTurner commented on #17923
Even though each Beat only triggers a create-template request at startup, we nonetheless encounter quite a few clusters that are completely overwhelmed by an excess of create-template requests thanks to a large number of Beats all (presumably) starting up at the same time. We've made some changes on the Elasticsearch side to improve our handling in this area, and more improvements on the way, but

[2020-11-02 12:52] rahulgupta-qasource commented on #20205
Hi Eric

Thank you for sharing the feedback.

We have reexecuted the above tests for windows x64 zip, Mac tar, Linux tar, Linux deb and rpm under TestPlan https://elastic.testrail.io/index.php?/plans/view/798 with latest 7.10 agent snapshot and 7.11-0-snapshot kibana cloud environment.

We have also reported bug https://github.com/elastic/kibana/issues/82259  for the same.

Please let us know if a

[2020-11-02 13:07] rahulgupta-qasource commented on #22224
Hi EricDavisX

Thank you for sharing the feedback.

We have validated the scenario for 7.9.3 GA agent and 7.9.3 kibana cloud environment and found that issue is not occurring with 7.9.3 BC1 agent and Kibana

Observed that agent remains in Online status(even after waiting for 02 min) and activity logs are displayed.

Moreover, we are unable to validate on 8.0-snapshot cloud kibana environment as 'U

[2020-11-02 13:35] blakerouse commented on #22296
I explicitly tested and confirms the RPM to be fixed on Fedora 32. I did not test Centos 7, could be something different causing it to break in Centos.

I will install Centos and give it a test.

[2020-11-02 13:45] EricDavisX commented on #21971
I think we can now - we did great here to make this happen and I expect user's will be delighted by our efforts!

Final tests will be detailed in the meta issue.  Cheers!

[2020-11-02 13:45] #21971 closed

[2020-11-02 13:48] willemdh commented on #7461
Imho, this shouldn't be closed, see also https://discuss.elastic.co/t/metricbeat-not-getting-diskio/251606/8

[2020-11-02 13:50] #21842 closed

[2020-11-02 14:00] EricDavisX commented on #22296
to add to config / repro info, SELinux is enabled on that system.

[code]

[2020-11-02 14:36] adriansr commented on #22303
Looking at this one

[2020-11-02 14:43] #22316 closed

[2020-11-02 14:45] blakerouse commented on #22296
I just tested the RPM installation on a fresh VM installed with Centos 7 x86_64. I hit no issues, it installed, started, enrolled, and reported correctly to Fleet with no issues.

[2020-11-02 15:16] EricDavisX commented on #22296
did you have SELINUX enabled? @blakerouse

[2020-11-02 15:29] EricDavisX commented on #22296
@blakerouse please let me know what other settings you think we could compare between the vms and I can introspect and report back.  I don't recall if you got access to the Endgame vSphere system, but I know Michal does so he could help look at a given bug if easier for the team.  @michalpristas

[2020-11-02 15:33] blakerouse commented on #22296
@EricDavisX SELinux is enabled by default with CentOS 7. I verified just in-case and yes it is enabled. Still no issues.

[2020-11-02 15:54] #22330 closed

[2020-11-02 17:37] kaiyan-sheng commented on #22216
Thanks @fearful-symmetry. Good point, the metrics above from `haproxy` and `redis` report `process.pid` as well. But `mongodb` for example reports `process.name`.

Also for Kibana metrics UI, we are only gonna focus on `system.process` fields. We can ignore the fields in the previous comment for now.

[2020-11-02 17:54] EricDavisX commented on #22296
Thanks Blake.

I see the below from systemctl that indicates it isn't a clean system.  Which is a huge difference between the tests done by Blake and Rahul.

@rahulgupta-qasource did you know you had 7.9.3 Agent installed prior on that machine?  I know we were doing 7.9.3 to 7.10 RPM Agent upgrade tests, we might have gotten environments mixed up or something.  If you can try again on that same vm

[2020-11-02 18:15] #13576 closed

[2020-11-02 19:03] jsoriano opened #22360 "Elastic Agent fails to start using instructions for sysvinit systems"
Elastic Agent fails to start on a sysvinit system when following the instructions for systems not based on systemd that can be found in the [getting started docs](https://www.elastic.co/guide/en/ingest-management/7.10/ingest-management-getting-started.html):

[code]

Same happens when `init.d` script is called directly:
[code]

The problem seems to be that this script calls the subcommand `test co

[2020-11-02 19:03] elasticmachine commented on #22360
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-02 20:38] #22303 closed

[2020-11-02 21:03] brian-elk opened #22365 "Filebeat Zscaler Module"
version 7.9.1
I have enabled the module inside of module.d , but am getting 0 data from this module

first tried it with syslog then tried to pull from a file nothing

[2020-11-02 21:10] brian-elk commented on #22365
Team: beats

[2020-11-02 22:17] v1v commented on #22045
This issue seems to be happening in different workers quite often only for the 7.9 branch

[2020-11-02 22:21] v1v commented on #22045
For instance:
- https://beats-ci.elastic.co/job/Beats/job/beats/job/7.9/245/execution/node/2555/log/ used https://beats-ci.elastic.co/computer/worker-c07mq25jdy3h
- https://beats-ci.elastic.co/job/Beats/job/beats/job/7.9/250/execution/node/1804/log/ used  https://beats-ci.elastic.co/computer/worker-c07mq1u7dy3h/
- https://beats-ci.elastic.co/job/Beats/job/beats/job/7.9/250/execution/node/2954/log/

[2020-11-03 05:38] geekpete opened #22368 "Provide addition detail to Linux systemd events to indicate if a systemd service is configured to start automatically"
**Describe the enhancement:**

Add a field to indicate if the Linux systemd service is configured to start automatically, similar to the windows field of `start_type`.

**Describe a specific use case for the enhancement or feature:**

For a generic pattern to monitor all services and filter/alert for services that are configured to start automatically but are not currently running, this is seeming

[2020-11-03 05:41] elasticmachine commented on #22368
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-11-03 06:13] elasticmachine commented on #22368
Pinging @elastic/integrations-services (Team:Services)

[2020-11-03 06:16] lowryxiao commented on #22253
Filed a PR for this:
https://github.com/elastic/beats/pull/22369

[2020-11-03 06:16] #22365 closed

[2020-11-03 06:59] ycombinator opened #22370 "Investigate which fields can be dropped from `logstash-xpack` events"
We have been seeing a few issues with memory consumption in Metricbeat when the `logstash-xpack` module attempts to monitor very large Logstash pipelines (say, ones with a couple hundred vertices or more).

Each event generated by the `logstash_state` metricset corresponds to a single Logstash pipeline. The `logstash_state.pipeline.representation.graph.vertices` field is an array of vertex objects

[2020-11-03 06:59] elasticmachine commented on #22370
Pinging @elastic/stack-monitoring (Stack monitoring)

[2020-11-03 06:59] elasticmachine commented on #22370
Pinging @elastic/integrations-services (Team:Services)

[2020-11-03 10:19] kuisathaverat opened #22372 "[CI] Collect Docker containers info on failures"
Like we do in the APM ITs we have to collect the Docker containers info and archive it on Jenkins build artifacts.

[2020-11-03 10:58] jsoriano commented on #20457
What modules were being used in this case?

[2020-11-03 12:24] dikshachauhan-qasource commented on #22096
Hi @EricDavisX,

We have added a testcase covering this scenario in the Testrail. Testcase link : https://elastic.testrail.io/index.php?/cases/view/34994

Please let us know if anything else is required to be covered.

[2020-11-03 12:36] v1v commented on #22372
Duplicates https://github.com/elastic/beats/issues/21536

[2020-11-03 12:37] #21536 closed

[2020-11-03 12:37] rahulgupta-qasource commented on #22296
Hi Eric

Thank you for sharing the feedback.

We have validated the above scenario for 'Linux .rpm enroll-deploy of 7.9.3 BC1 Agent update it to 7.10.0 BC4 .rpm deploy with Endpoint' with CentOS 7 VM(10.0.7.240) and found it **fixed**.

Observations:
User is successfully able to enroll 7.10 BC4 rpm agent with endpoint on upgrading 7.9.3 Bc1 kibana to 7.10.0 BC4 kibana.

Screenshot:
![after_kibana_

[2020-11-03 12:37] #22296 closed

[2020-11-03 12:45] #22218 closed

[2020-11-03 13:25] andresrc opened #22385 "Create Cassandra Metricbeat Module"
# Metricbeat Module / Dataset release checklist

This checklist is intended for Devs which create or update a module to make sure modules are consistent.

## Modules

For a metricset to go GA, the following criterias should be met:

* [ ] Supported versions are documented
* [ ] Supported operating systems are documented (if applicable)
* [ ] Integration tests exist
* [ ] System tests exist
* [ ] A

[2020-11-03 13:25] elasticmachine commented on #22385
Pinging @elastic/integrations-services (Team:Services)

[2020-11-03 14:16] EricDavisX commented on #22224
the cloud team is spinning up another investigation into staging, they are aware of the problems (it is unavailable entirely as I see it at this point).

[2020-11-03 14:20] #22372 closed

[2020-11-03 14:35] #21858 closed

[2020-11-03 14:38] jakommo commented on #1208
Still working in 7.x, syntax change a little though.
Here is an updated example for anyone interested:
[code]

[2020-11-03 15:20] andresrc commented on #22254
We are encouraging the use of ingest-node processors. What's the driving use case to have them available in the beats themselves?

[2020-11-03 15:41] jamiehynds opened #22387 "Filebeat MSI Installer Change Paths"
Based on this enhancement request: https://github.com/elastic/enhancements/issues/10643

When installing the Filebeat MSI on Windows to a non-default path, you cannot set the path.home & path.config & path.data via command line during installation.

[2020-11-03 15:43] exekias opened #22388 "Round metrics timestamps to the second"
**Describe the enhancement:**

We have been doing some storage benchmarking for the metrics use case. One of the outcomes was that we could potentially save a fair amount of space if we drop some precision in our timestamps, for instance, by rounding them to the second.

I think this may be fair for the metrics coming out of Metricbeat, we normally collect every 10s, so users probably don't care a

[2020-11-03 15:43] elasticmachine commented on #22388
Pinging @elastic/integrations (Team:Integrations)

[2020-11-03 17:07] turnUpTheChill commented on #8311
I hit this issue with a customer and the below additional pipeline seems to solve the problem. At least for the sample's they sent me. Not sure if it can be extended to be more general but I wanted to share it here in case it can be

[code]

[2020-11-03 17:36] gittygoo opened #22392 "Distribute an OSS (apache 2.0) version of the new "Elastic Agent""
**Describe the enhancement:**
Make an OSS (Apache 2.0 licensed) version of the new "Elastic Agent"?

**Describe a specific use case for the enhancement or feature:**
We are creating a product that heavily relies on Beats and would like to see this happen. The Elastic license is prohibitive for what we are creating.

Beats have an OSS version, "Elastic agent" should too

[2020-11-03 18:51] ph opened #22394 "[Elastic Agent] Collect Elastic Agent metrics and send to Elasticsearch"
**AC**

- [ ] I should be able to see the CPU Usage on the running machine.  _Am using too much CPU?_
- [ ] I should be able to see Disk usage on the running machine.  _Am I running out of disk space?_
- [ ] I should be able to see the Memory usage of Elastic Agent. _Is the Elastic Agent using too much memory?_
- [ ] I should be able to see the system memory. _Am I running out of memory?_
- [ ] I

[2020-11-03 18:52] elasticmachine commented on #22394
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-03 18:54] ph commented on #22394
@michalpristas Can you "write" a proposal here and more specifically can we reuse the libbeat's code to collect and expose the metrics via.

 @ruflin Were you considering this similar to other beats, expose an HTTP endpoint and use the metricbeat module to collect that information?

[2020-11-03 19:19] nchaulet opened #22396 "[Fleet] Improve status reporting for Agents"
## Description

Currently we report a very basic status during checkin.
To allow us to give users more details on the status of their agents we want to send more complete policy status (Format is defined here https://github.com/elastic/kibana/issues/82298)

We should probably send that status during agent checkin:
* This will allow Fleet Kibana (and Fleet Server in the future) to update the agent

[2020-11-03 19:19] elasticmachine commented on #22396
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-03 19:46] ph commented on #22281
@ferullo any strategy you were discussing to solve that problem in previous version of endpoint?

[2020-11-03 19:50] #22329 closed

[2020-11-03 20:11] kaiyan-sheng opened #22404 "process.name is truncated when running system module on mac"
When working on `system.process` metricset on mac os, I see some of the process names are truncated. For example:
<img width="919" alt="Screen Shot 2020-11-03 at 1 08 40 PM" src="https://user-images.githubusercontent.com/14081635/98035425-b6614680-1dd5-11eb-9da8-c1f692e54f71.png">

- Version: master branch
- Operating System: mac os
- Discuss Forum URL: https://discuss.elastic.co/t/process-name-in

[2020-11-03 20:11] elasticmachine commented on #22404
Pinging @elastic/integrations (Team:Integrations)

[2020-11-03 20:33] elasticmachine commented on #22392
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-03 20:42] fearful-symmetry commented on #22404
Digging into this. The C API we're accessing returns data via this struct: https://github.com/apple/darwin-xnu/blob/a449c6a3b8014d9406c2ddbdc81795da24aa7443/bsd/sys/proc_info.h#L63

The name field we're accessing is in this field:

[code]

Here, `MAXCOMLEN` is set to `16`: https://github.com/apple/darwin-xnu/blob/0a798f6738bc1db01281fc08ae024145e84df927/osfmk/mach/resource_monitors.h#L66

So this

[2020-11-03 20:42] elasticmachine commented on #22387
Pinging @elastic/integrations-services (Team:Services)

[2020-11-03 21:24] ferullo commented on #22281
The problem generating a host id based on a system property has is that in some copy/cloned VM scenarios the VM has no idea it's been cloned. When that happens there isn't really a way from inside the VM to know the host id needs to be regenerated, and even if it is the same id will be generated.

Ultimately, the implemenation I recommend is to randomly generate a host id and save it on the machin

[2020-11-04 00:06] elasticmachine opened #22407 "Flaky Test [Build&Test / filebeat-macos-macosx / test_ignore_older_state_clean_inactive – filebeat.tests.system.test_registrar.Test]"
## Flaky Test

* **Test Name:** `Build&Test / filebeat-macos-macosx / test_ignore_older_state_clean_inactive – filebeat.tests.system.test_registrar.Test`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2Fmaster/detail/master/706/
* **PR:** None
* **Commit:** 403298717013ee4591ab34386de345c3be99caa0

### Error details
[code]

### Stack Trace
[code]

[2020-11-04 01:19] reckless-huang opened #22408 "[publisher_pipeline_output] pipeline/output.go:180 failed to publish events: temporary bulk send failure"
good  morning teacher
           i just get a error log while i start filebeat like“[publisher_pipeline_output]	pipeline/output.go:180	failed to publish events: temporary bulk send failure” ，and here is my configfile
[code]
 i can not clear what problem with this, can you help me

Looking forward to your reply& thank you

[2020-11-04 02:15] #14261 closed

[2020-11-04 03:32] ZuoGuocai commented on #15490
Hope see the dns and dhcp check  in the furture feature.

[2020-11-04 06:56] rahulgupta-qasource commented on #21852
Hi @EricDavisX

We have validated the ticket(as per steps in description) on latest 7.10.0 BC4 Kibana cloud environment(with commit 3f7bbe02a2f08f0ad1c7f5a9b35235a4aa066a32) and found it fixed.
Agent download location: https://staging.elastic.co/7.10.0-c650b297/downloads/beats/elastic-agent/elastic-agent-7.10.0-x86_64.rpm

Steps followed:

1. Download the "elastic-agent-7.10.0-x86_64.rpm" package.

[2020-11-04 06:56] #21852 closed

[2020-11-04 08:37] #22408 closed

[2020-11-04 09:33] cskowronnek commented on #15837
+1 we'd need this too

[2020-11-04 12:55] willemdh opened #22413 "[filebeat] panw.panos indexing denied twice in event.type"
panw.panos dataset's event.type field is populated with the value 'denied' twice.

Elastic 7.9.2

![image](https://user-images.githubusercontent.com/6462991/98114394-7e293900-1ea5-11eb-87e0-f8458d84845a.png)

https://discuss.elastic.co/t/siem-rule-override-not-working-as-expected/253933/4

In /usr/share/filebeat/module/panw/panos/ingest/pipeline.yml I can find:

[code]

[code]

So my guess is that

[2020-11-04 12:59] ccmsi commented on #22254
The question seems like asking about personal taste. And as there are 2 options thats in a way how it is.

However, its filebeat that offers that option to begin with. There are processors. So one question in return is, why then does it exist if that is your question? IMO filebeat team by implementing processors that has already expressed that interest for it to be there and as such that question

[2020-11-04 13:12] ph commented on #22281
This is a bummer, it's sad that we cannot improve fingerprinting. But I guess y ou are correct generate a new ID and save it somewhere and reuse it seems like the way to go.

[2020-11-04 13:17] 111andre111 opened #22414 "improve logging by log separation for better troubleshooting purposes"
**Describe the enhancement:**
I would like to have a better segregated logging in filebeat, metricbeat,... per module/input/output

**Describe a specific use case for the enhancement or feature:**
Sometimes it happens that we have more complex filebeat configuration files with lots of enabled inputs and lots of enabled modules it can sometimes get very tricky even with enabled DEBUG logging to tur

[2020-11-04 13:20] elasticmachine commented on #22414
Pinging @elastic/integrations-services (Team:Services)

[2020-11-04 14:11] elasticmachine commented on #8311
Pinging @elastic/integrations-services (Team:Services)

[2020-11-04 14:43] andrewkroh commented on #9600
I have opened https://github.com/elastic/elasticsearch/issues/64595 to request an unlimited compilation rate limit for the template context.

[2020-11-04 15:14] fearful-symmetry commented on #22176
Fixes have been merged, closing this.

[2020-11-04 15:14] #22176 closed

[2020-11-04 15:30] jamiehynds opened #22427 "[GSuite] Rename module to Google Workspace"
Google recently rebranded G Suite to 'Google Workspace' and we need to reflect this change in our Filebeat module and associated docs.

@threat-punter is building detection rules for G Suite, so will need to make sure he's kept in the loop on our rename to Workspace.

We'll also need to ensure the correct logo is used when we create a package: https://lh3.googleusercontent.com/sYGCKFdty43En6yLGeV9

[2020-11-04 15:30] elasticmachine commented on #22427
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-04 15:30] ph commented on #21518
Any progress on this front?

[2020-11-04 15:30] jamiehynds commented on #22427
FYI @marc-gr

[2020-11-04 15:34] MakoWish commented on #9600
Here is the result of `GET _cluster/settings`:

[code]

@alexander-marquardt, are you suggesting I manually change the value of `300/5m` to the literal string `use-context`?

[code]

[2020-11-04 15:56] elasticmachine commented on #22413
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-04 16:20] ph commented on #22268
I think it's low priority, the comparison to check where you are executing the command is case sensitive, probably always assuming lowercase would fix the case.

[2020-11-04 16:41] faec commented on #20457
Commenting to note that it seems like so far no one has been able to open the heap dump in question -- when I tried (using GoLand which claims to be able to open windows heap dumps on all platforms) it thinks for half an hour then gives a "debugger disconnected" error with the following output:

[code]

[2020-11-04 17:20] elasticmachine commented on #13607
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-11-04 18:24] faec opened #22437 "[libbeat] Kafka output doesn't respect retry backoff settings when host is unreachable"
- Version: Filebeat 7.9.3
- Operating System: Mac OS 10.14.6

(This seems to affect many versions and platforms, but explicitly confirmed on the above.)

To reproduce, run Filebeat on any input source with the following output configuration:

[code]

This produces logs of constant failures with no apparent pause between retries:

[code]

[2020-11-04 18:24] elasticmachine commented on #22437
Pinging @elastic/integrations (Team:Integrations)

[2020-11-04 19:16] bowserkn opened #22440 "[auditbeat][windows][file integrity module]"
It would be awesome if we could use Auditbeat File Integrity Module to track who accessed/opened a file.

According to documentation I see that Windows - ReadDirectoryChangesW is used for the Windows File Integrity Module.
See documentation I'm referring to at https://www.elastic.co/guide/en/beats/auditbeat/current/auditbeat-module-file_integrity.html#module-standard-options-file_integrity)

I als

[2020-11-04 19:27] blakerouse commented on #22396
I think with the new Fleet Server architecture we should have the Elastic Agent send the status information directly to Fleet Server and from their Fleet Server should append the status information to an index. This removes the need to Elastic Agent to have to write directly to elasticsearch, and it ensures that the Fleet Server has the updated information to perform required adjustments based on

[2020-11-04 19:57] nchaulet commented on #22396
I agree that we should send the data to Fleet server, so the coordinator can take advantage of that, I am just wondering if the agent should also persist is status (maybe in the logs) for agent observability purpose it will allow to have agent status for standalone agents too.

If we go to the direction where Fleet Server write the agent status, we should probably implement the same in Kibana, I t

[2020-11-04 20:14] alexander-marquardt commented on #9600
That looks like you are already using the new settings. The blog I posted earlier describes how to see if the script cache is churning and how to increase its size.

[2020-11-04 20:26] MakoWish commented on #9600
I fear my response may have been a bit confusing, as I had first posted the actual setting from `GET _cluster/settings`, then I asked about a sample POST request to change the setting. I removed the POST I was asking about for clarity. Are you saying the code snippet in my edited post above is the correct new setting? If so, again, this would fall on the Beats team to look into why Filebeat includ

[2020-11-04 23:52] mgovolt commented on #17347
event.action is "updated" in this scenario, which we all agree it should not be.
I have plenty of logs if you need to see them. I figure that the OS is buggy because why would file.mtime change change if the hash didnt change? Haven't checked every OS but can confirm my issues happening on 10.0.18362.1082 (WinBuild.160101.0800)  .  Regardless, auditbeat is not setting it to AttributeModified as it

[2020-11-05 06:30] elasticmachine commented on #22440
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-05 10:35] marc-gr opened #22441 "[Filebeat][Gsuite] Create default dashboard"
**Describe the enhancement:**

Now that Gsuite is been out for a while, would be nice to provide a default dashboard for it.

[2020-11-05 10:35] elasticmachine commented on #22441
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-05 10:58] ruflin commented on #22396
The status should be reported the Fleet Server, but I still think Elastic Agent should persist it to ES directly as log or similar. This means, status reporting also works in standalone case for example.

[2020-11-05 11:56] ruflin commented on #22394
@ph I think in the future, Elastic Agent will ship all the metrics data directly, also for its processes. So this is probably a good start to try it out.

[2020-11-05 13:20] boernd commented on #13140
FYI, leaking registry files (in our case with > 15k registry entries) also caused filebeat to stall and rarely send any events. After cleanup the performance was ok again (version 7.9.3).

[2020-11-05 13:52] rahulgupta-qasource opened #22442 "Application name is not displayed in activity logs on upgrading the agent"
**Kibana version:**
Kibana: 7.11.0 Snapshot cloud environment

**Elasticsearch version:**
Elasticsearch: 7.11.0 Snapshot cloud environment

**Host OS and Browser version:**
Windows 10 x64 , All

**Original install method (e.g. download page, yum, from source, etc.):**
7.11 Snapshot cloud environment from https://staging.found.no

**Description**
Application name is not displayed in activity logs o

[2020-11-05 13:52] ph commented on #22394
@ruflin Agree Can it be done in two steps?

- Step1: Expose HTTP and use metricbeat.
- Step2: Have an internal pipeline for sending metric?

[2020-11-05 13:52] elasticmachine commented on #22442
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-05 13:53] rahulgupta-qasource commented on #22442
@vipulsrivastava-qasource Please review the bug

[2020-11-05 14:11] michalpristas commented on #21518
Update: i got rollback working on macos, killing agent was detected and agent was rolled back to previous version
TODO: windows/linux

[2020-11-05 14:12] manishgupta-qasource commented on #22442
Reviewed & Assigned to @EricDavisX

[2020-11-05 14:16] ph commented on #21518
@EricDavisX I've talked with @michalpristas to how we can include that in end2end testing. Any idea of how we should deal with that with QA?

[2020-11-05 14:19] michalpristas commented on #21518
Scenario in mind is like follows
- get version X
- enroll
- see fleet says version X
- upgrade
- see fleet says version Y
- loop N times
-   get pid
-   kill -9 pid
- endloop
- wait for rollback to kick in (sleep 5 s)
- see fleet says version X

[2020-11-05 15:10] ChrsMark opened #22444 "Enrich Kubernetes Service metadata with ServiceMetadataGenerator"
**Describe the enhancement:**
Use `ServiceMetadataGenerator` so as to collect valuable Service metadata like `selector` to enrich events from `state_service` metricset.

**Describe a specific use case for the enhancement or feature:**
This would be useful in order to correlate  Services with Pods using services.selector.* field with `kubernetes.labels.*` of pods.

cc: @sorantis @exekias

[2020-11-05 15:10] elasticmachine commented on #22444
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-11-05 15:14] EricDavisX commented on #20205
I put a PR in to our private elastic/siem-team repo in support of testing this in our demo environment, fyi

[2020-11-05 15:43] EricDavisX commented on #22442
I saw this prior and mentioned it to the team, I don't know if we had another ticket logged - but I'm glad this is in and we can review if we want to do it for 7.11 cycle.  It isn't urgent as I see it.

[2020-11-05 16:02] jamiehynds commented on #22441
Given the diversity of data collected from G Suite, I think we'd need to consider multiple dashboards. Some ideas:

**G Suite Audit:** logon failures, logon failure, successful/failed logon by country (maybe include a map), top event categories, suspicious logins blocked by user, most recent authorised applications

**User Accounts:** recent password changes, 2FA enrollment and disable by user, ac

[2020-11-05 16:30] cwarnke commented on #16814
I'd really like to see this.
"Support deployment of beats using daemonsets in mixed clusters (with Linux and Windows nodes)"

[2020-11-05 16:52] mdgreenwald commented on #8086
If you're using the elastic helm chart for Filebeat with AWS Elasticsearch you may need something like this:

[code]

[2020-11-05 17:25] EricDavisX commented on #21518
I'd really like to get the upgrade feature in, based on 7.10 Agent as soon as we can... explicitly before we try to check in changes that enhance (may break) the existing functionality.  that ticket is: https://github.com/elastic/e2e-testing/issues/341

@ph I'm not sure what else you may mean?  We can talk off-line or you can expand a bit what your concern is please?

[2020-11-05 18:21] elasticmachine commented on #637
Pinging @elastic/integrations-services (Team:Services)

[2020-11-05 19:08] ph commented on #21518
Yes it will be great to have it in++ @michalpristas is looking into it.

@EricDavisX I did not express myself correctly.  The AC is "On upgrade error the Agent should rollback", my question is in manual QA do we want to trigger that scenario manual to assert the working behavior of that feature? I am not sure how easy is to trigger based on https://github.com/elastic/beats/issues/21518#issuecommen

[2020-11-05 22:32] andrewvc commented on #15837
One thought is as we roll out our synthetics framework, based on node.js, you'll have access to a full JS environment, letting you do weird things like digest auth. It's a bit early (and we're focusing on browsers at the moment) but it makes sense as a path to me. See https://www.elastic.co/what-is/synthetic-monitoring .

[2020-11-05 23:00] EricDavisX commented on #21518
oh thanks!  I assert this can be safely covered without manual UI testing, presuming the code paths in Agent are not in any OS specific paths.  That is, if we get the e2e-testing scenario implemented as above, and the main upgrade test.

I will ask the QA team to document the expectation for roll-back but we can mark it as not-needed manually.

[2020-11-05 23:02] cargious commented on #6646
I would like to double down on this.

TCP state and keepalive timers per socket connection are very helpful to understand what is the network state in transport layer, but also very indicative if something bad (e.g packet loss) is happening in lower layers (IP).

It would be a very handy tool for every SRE.

cc: @ruflin @pmoust

[2020-11-05 23:35] trnl commented on #22254
I would double that.

Now we have hideous rename block with a lot of boilerplate because of casing:
[code]

[2020-11-06 01:24] trnl commented on #13140
We suffer from the same issue as well.

Log delivery based on filebeat is not really stable.

[2020-11-06 02:31] dedemorton opened #22458 "Remove what's new from Beats and update release-related docs"
The What's new section in the observability guide now covers beats.

APM has removed their what's new section: https://github.com/elastic/apm-server/pull/4385

We should do the same for Beats.

[2020-11-06 04:24] drakejin opened #22459 "Too many logs printout about kafka retry logs"
**Describe the enhancement:**
It's very annoying when I configuration filebeat setting for kafka.
When It failed to connect with kafka, It's printout too many logs. in my terminal, and my terminal was exploded.
So, I can't debug about filebeat. It really makes me annoying.

When it run on server environment, It'll expensive log cost.

[code]

I recommend erasing the logging codes or printing out a

[2020-11-06 06:44] elasticmachine commented on #22459
Pinging @elastic/integrations-services (Team:Services)

[2020-11-06 08:19] ruflin commented on #22394
Sure, if this simplifies things. Lets make sure the HTTP is not "official" supported so we can remove it.

[2020-11-06 08:36] eedugon opened #22460 "Unable to create a valid keystore setting with a comma in the value"
- Version: 7.9.
- Operating System: Windows Server
- Discuss Forum URL: https://discuss.elastic.co/t/filebeat-keystore-broken/173802
- Steps to Reproduce:

When adding a setting in a keystore which value has a comma, the Beat is not able to load the setting into the configuration when starting, with an error like:

[code]

I believe that the Beat believes the value is an array and the setting was

[2020-11-06 08:37] elasticmachine commented on #22460
Pinging @elastic/integrations-services (Team:Services)

[2020-11-06 09:16] michalpristas commented on #21518
actually there's quite OS specific code, mainly related to monitoring agent process PID and kicking of watching subprocess which we dont want to die with an agent.

[2020-11-06 09:55] jamiehynds opened #22462 "[Cisco ASA] Add support for Authentication and VPN Events"
While the Cisco module provides coverage for some ASA authentication events, we regularly see requests for broader coverage of both authentication and VPN events.

Attached sheet includes all the relevant events that should be covered by the module.
[Cisco ASA Auth and VPN Events.xlsx](https://github.com/elastic/beats/files/5500513/Cisco.ASA.Auth.and.VPN.Events.xlsx)

[2020-11-06 09:55] elasticmachine commented on #22462
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-06 09:57] jsoriano commented on #13140
@trnl is this also happening to you with 7.9?

@trnl @boernd approximately, how many files are you collecting at a given moment?

[2020-11-06 10:24] elasticmachine commented on #22255
## Flaky Test

* **Test Name:** `Build&Test / libbeat-build / TestClientPublishEventKerberosAware – elasticsearch`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2F7.x/detail/7.x/611/
* **PR:** None
* **Commit:** 4eb99890f86991a66799146ea7011ce0ce532565

### Error details
[code]

### Stack Trace
[code]

[2020-11-06 10:27] xennn commented on #18755
Same on Kali 2020.3 with Auditbeat 7.9.3

[2020-11-06 11:15] #12673 closed

[2020-11-06 11:41] elasticmachine commented on #22407
Pinging @elastic/integrations-services (Team:Services)

[2020-11-06 11:42] elasticmachine commented on #22255
Pinging @elastic/integrations-services (Team:Services)

[2020-11-06 11:43] elasticmachine commented on #21810
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-06 11:45] exekias commented on #22187
Hi @eedugon and thank you for opening!

The main reason for this is that from our experience, annotations can contain a huge amount of data. Including all annotations by default (like we do with labels), would bring many new fields that could even end up in mapping explosions. We have seen annotations being used for all kind of things, in many cases containing big JSON docs in.

That's why we went

[2020-11-06 11:55] adriansr commented on #18755
Thanks all for your reports. Can you please provide the kernel version (`uname -a`)?

Also, does it always fail for the same "guess", or do you get different guess names in the error:

Does adding `socket.guess_timeout: 1m` make a difference?

[code]

[2020-11-06 12:00] Aqualie commented on #18755
5.8.3-arch-1-1

Added in socket.guess_timeout: 1m
[code]

[2020-11-06 12:00] ruflin commented on #21810
My preference would be to go with approach 1. The reason is also having things like apm-server and endpoint in mind. The Agent should not build its process but just use prebuilt binaries. This becomes more obvious when Elastic Agent is in its own repository.

[2020-11-06 12:15] ph commented on #21810
I would go with option 1, as @ruflin mentioned I think having it in his own repo would drive that requirement.

[2020-11-06 12:28] ph commented on #21518
@EricDavisX @michalpristas once it's in working space we can discuss how we test that feature? I would prefer to have automated test here. But we only cover a fraction of our supported Oses.

[2020-11-06 12:38] xennn commented on #18755
Same error with the Parameter : socket.guess_timeout: 1m

2020-11-04T11:07:39.871+0100    INFO    instance/beat.go:297    Setup Beat: auditbeat; Version: 7.7.0
2020-11-04T11:07:39.871+0100    INFO    [publisher]     pipeline/module.go:110  Beat name: hostname
2020-11-04T11:07:39.872+0100    INFO    [auditd]        auditd/audit_linux.go:106       auditd module is running as euid=0 on kernel=5.8.0-k

[2020-11-06 13:16] ghost opened #22468 "Incorrect Date and Time for system auth and syslogs is displayed under 'Last Activity' field under Data streams tab"
**Kibana version:**
Kibana: 7.10.0 BC4 cloud environment

**Elasticsearch version:**
Elasticsearch: 7.10.0 BC4 cloud environment

**Host OS and Browser version:**
Linux CentOS 7 , All

**Original install method (e.g. download page, yum, from source, etc.):**
7.10.0 BC4 Kibana cloud environment from https://cloud.elastic.co

**Description**
Incorrect Date and Time for system auth and syslogs is dis

[2020-11-06 13:17] elasticmachine commented on #22468
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-06 13:29] rahulgupta-qasource commented on #22468
@vipulsrivastava-qasource Please review the bug.

[2020-11-06 13:33] vipulsrivastava-qasource commented on #22468
Reviewed and Assigned @EricDavisX

[2020-11-06 14:22] rika commented on #11834
Hello, I was getting the same error on a Filebeat 7.9.3, with the following config:
[code]
I thought it was something with Filebeat. When I was testing stuff I changed my config to:
[code]
And the error changed to:
[code]
So I think the problem was the Elasticsearch resources and not the Filebeat config.

[2020-11-06 14:32] DanRoscigno commented on #20692
I believe that this is fixed in 7.9.3 of Metricbeat.  I tested it this morning cc: @sinoohe @naveenkumarsp @scottwallacesh

[2020-11-06 15:13] EricDavisX commented on #21518
Happy to discuss anytime.

[2020-11-06 15:45] faec commented on #22459
Thanks for reporting! It looks like this is probably the same as another recently filed issue: https://github.com/elastic/beats/issues/22437

[2020-11-06 15:45] #22459 closed

[2020-11-06 20:41] EricDavisX commented on #22468
Hi - Ideally I'd like to know if this was happening on other OSes, too.  For now I can say I am seeing some irregularity on Centos7 with the 7.9.X Agent as well... so I don't think it is new.  Lets figure it out in a coming release.  @ph thoughts?

[2020-11-06 20:51] EricDavisX commented on #22468
I corrected a typo, I had above - I want to indicate I can see the same error in Centos I have 7 with the 7.10 BC 5 Agent, it is showing a timestamp in the future.
with 7.9 Agent / Kibana I am not seeing any irregularity, so it may be something introduced (in the package, or in Beats perhaps) in this last cycle.

I had System Logs turned off in my example 7.9 host until today, but it had some prio

[2020-11-07 02:12] AkatsukiPain opened #22476 "Filebeat is sending low log (missing log) than normal in rush-hour"
**Problem/Reality:**

- I have used Filebeat to send logs to ElasticSearch. It's OK in the day time with the number of logs is around 800k ~ 1,5 million rows / 15 mins.
- In the rush hour (evening time), the number of logs is more than 2 million rows / 15 mins => Filebeat stuck at this time.
- After evening time to the morning, Log is still missing until I restart filebeat to make it run like norm

[2020-11-08 03:30] loganmc10 opened #22477 "Can't run metricbeat as a Docker sidecar for Prometheus"
I have 2 docker containers. One is called "metricbeat" and the other is called "prom". They are created using docker-compose, and share an internal docker network.

prometheus.yml:
[code]

metricbeat.yml
[code]

The problem is that if I use ```host: "localhost"``` for metricbeat, it binds to localhost, and the ```prom``` container can't access it on ```http://prom:9201``` (connection refused). If

[2020-11-08 03:31] #22477 closed

[2020-11-08 07:23] loganmc10 commented on #12798
Yes this would be really nice. Right now I do this using Prometheus+snmp_exporter. I then send it to metricbeat using remote_write (metricbeat is a "sidecar" docker container).

However it's a bit of a pain to graph the metrics in Kibana (I'm still trying to figure this part out). It would be nice if it was a little more integrated by default into Kibana the way that regular host metrics are curre

[2020-11-08 07:43] zoulja opened #22478 "Make Filebeat timestamp processor able to handle underscores"
Currently Filebeat [timestamp processor](https://www.elastic.co/guide/en/beats/filebeat/master/processor-timestamp.html#processor-timestamp) follows Golang spec limitations and can't parse timestamp which contains underscores.
**Example**: `2020/11/06_18:17:25_455`

I get access logs in such format and can't change it.
Could you please add some option to handle such situation?
Probably use some mo

[2020-11-08 10:15] #14413 closed

[2020-11-09 02:58] quangdv90 opened #22479 "Anybody help me about Regex for parsing stack trace in my Log pattern ?"
This is my log pattern:

`2020-10-27 00:02:24.021 [http-nio-8080-exec-42] [|78CDD621831532CBD69F2F3DEF1859DC|-] DEBUG c.q.u.checkpoint.CheckpointFilter CheckpointFilter.afterRequestProcessing(...) (CheckpointFilter.java:112) - HTTP END request /endpoint/envelope. Time total: 1974  backend: 0
2020-10-27 00:02:41.151 [http-nio-8080-exec-33] [|2D598C0CF0FC730ACD8603C5C0B77A88|-] DEBUG c.q.u.checkpoin

[2020-11-09 08:01] #22479 closed

[2020-11-09 08:02] elasticmachine commented on #22478
Pinging @elastic/integrations-services (Team:Services)

[2020-11-09 08:03] #22476 closed

[2020-11-09 09:47] jamiehynds commented on #20300
This issue came up recently on Discuss, with a user providing a workaround: https://discuss.elastic.co/t/filebeat-using-fortinet-module-tz-issue/251518/10

[2020-11-09 10:59] hendry-lim opened #22482 "Fail to load index template of type `index`"
For confirmed bugs, please report:
- Version: 7.10.0
- Operating System: Linux
- Steps to Reproduce:
Run Beats setup to set up the new Filebeat index template,
e.g. `filebeat setup -e --index-management -E setup.template.type=index`

The following error was printed in console:
[code]

Snippet of the index template printed in console:
[code]

`mappings` and `settings` should be nested under `templa

[2020-11-09 11:34] #21278 closed

[2020-11-09 11:44] ghost opened #22485 "Agent goes to Offline status on reboot of Linux deb stand-alone agent enroll to Fleet"
**Kibana version:**
Kibana: 7.10.0 BC5 cloud environment

**Elasticsearch version:**
Elasticsearch: 7.10.0 BC5 cloud environment

**Host OS and Browser version:**
Linux Debian 9 , All

**Original install method (e.g. download page, yum, from source, etc.):**
7.10.0 BC5 cloud environment from https://cloud.elastic.co

**Description**
Agent goes to Offline status on reboot of Linux deb stand-alone a

[2020-11-09 11:57] #21630 closed

[2020-11-09 12:04] trnl commented on #13140
@jsoriano 7.9.2

We have entries in registry form May 2020, however containers and related folders gone from the system quite long time ago.

[2020-11-09 12:23] elasticmachine commented on #22485
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-09 12:25] rahulgupta-qasource commented on #22485
@vipulsrivastava-qasource Please review the bug.

[2020-11-09 12:27] vipulsrivastava-qasource commented on #22485
Reviewed and Assigned to @EricDavisX

[2020-11-09 13:26] andrewstucki opened #22494 "Metricbeat GCP Module panics on nil Metadata in Metricset"
- Version: 7.9.3
- Steps to Reproduce:  Create a GCP metric that has no metadata. Configure metricbeat to retrieve it. Metricbeat panics.

This appears to be coming from this line:

https://github.com/elastic/beats/blob/f0bad216f3cbfd64c253725927c4f7fe18bd4bd2/x-pack/metricbeat/module/googlecloud/metrics/metricset.go#L256

I believe we're dereferencing the `Metadata` field, which, according to the

[2020-11-09 14:23] boernd commented on #13140
@jsoriano Hard to tell, Kibana tells me ~2k unique `log.file.path` for the last couple of minutes. We have 212 pods runnng atm, so roughly 10 * 5 (docker logs including the rotated ones) logs per node.

The following screen shows the registry growing averaged per filebeat:
![grafik](https://user-images.githubusercontent.com/807734/98553009-70a5f180-229f-11eb-94b3-d2e5734e2498.png)

The drop in the

[2020-11-09 14:27] ph commented on #22442
I think there is some misleading information here.

The **upgrade action is at the agent level**, when you upgrade the agent you actually upgrade everything. But Yes, I think we are missing an appropriate logging statement here.

[2020-11-09 15:15] EricDavisX commented on #22485
There is a lot to unpack in the steps there, but it boils down to a fairly simple case and is one we intend to support (and which works for .rpm usage as reported).  I suspect it is due to the version of or relating files on that instance of Debian 9, as a first guess.

If we don't have it, I figure it would be good to confirm that the stand-alone Agent can be rebooted and that persistence is ok,

[2020-11-09 15:16] EricDavisX commented on #22485
I don't know if we want to adjust the impact label from high, until we know more.  @ph fyi.  @blakerouse if you have time to review.

[2020-11-09 15:16] urso commented on #22227
The discussion mentioned is here: https://docs.google.com/document/d/1g1yBQ4W0nLNmc7rdU_oApeqk8-O-7OJMIibwaijM-HY/edit#heading=h.969mszu50xv1

According to "Model2" in the discussion the configuration would become (quite similar to @andrewstucki's config):

[code]

The defaults is a shared set of settings, but streams would be allowed to overwrite settings. Packetbeat would need to create a "sniff

[2020-11-09 15:34] andrewstucki commented on #22227
@urso that would make sense. It is pretty similar to what's already here with the addition of overriding of individual device-level settings per-stream. I like the added flexibility as well

It's a bit funky in the sense that the configuration presented to packetbeat is grouped by package/integration and in the configuration munging code we'd need to regroup inputs logically based off of device-le

[2020-11-09 15:52] ph commented on #22485
I am confused by this issue, If I understand it correctly the story starts with standalone mode and than switch to fleet?
Looking at the error this with `systemctl`, I think there is a problem with other services that prevent Elastic Agent to start?

[2020-11-09 15:55] roycrxtw commented on #13093
+1

[2020-11-09 17:30] #20757 closed

[2020-11-09 18:38] ph commented on #22485
Like I've said on slack, lets have a look on the debian 9. But the error related to "freedesktop" makes me think that the os installation is broken.

[2020-11-09 19:15] andrewkroh opened #22500 "[Packetbeat] sip.timestamp in epoch ns fails to index in ES"
While using Packetbeat's sip plugin I'm getting errors like:

`{"type":"mapper_parsing_exception","reason":"failed to parse field [sip.timestamp] of type [date_nanos] in document with id '4KpdrnUB1IqNYvPbLDQw'. Preview of field's value: '1604948142953141464'","caused_by":{"type":"illegal_argument_exception","reason":"date[+50860752-01-08T14:05:41.464Z] is after 2262-04-11T23:47:16.854775807 and ca

[2020-11-09 19:33] andrewstucki opened #22501 "[Metricbeat] Filesystem Metricset: Inconsistent `system.filesystem.type` values on Windows"
The `filesystem` metricset in Metricbeat on Windows appears to have bad `type` information.

From the docs:

- `system.filesystem.type` - The disk type. For example: ext4

What the docs are pointing to is the file system disk format. On Windows, however, this gets [filled in by `TypeName` field](https://github.com/elastic/beats/blob/4a9b08ae2c67dd9d9631f76e88cf55af54aa3587/metricbeat/module/system

[2020-11-09 20:34] #22500 closed

[2020-11-09 21:28] dainperkins commented on #21648
@adriansr this is just how netflow reports bi flow packets & bytes - I just happened to find it on meraki - [Netflow 9 fields](https://www.cisco.com/en/US/technologies/tk648/tk362/technologies_white_paper09186a00800a3db9.html)

IPfix should always be reported as netflow v10, so keying off of netflow version 9 for handling fields 23 &24 should be sufficient.

[2020-11-09 21:31] inqueue commented on #6061
Passing on these links on behalf of another:

- https://community.spiceworks.com/topic/562291-how-to-audit-log-file-access-events-on-mac-os-x
- https://www.scip.ch/en/?labs.20150108

The first should be covered by the File Integrity Module. The second appears to be this GH issue.

[2020-11-10 00:05] andrewkroh commented on #17347
My ideal solution would be to have `event.action` contain only `attributes_modified` when it's just `mtime` that changes. That's pretty simple to make happen by relying on the info that Auditbeat has stored about file and comparing it to the new state of the file. But the problem with that solution is that is disregards all of "actions" that the OS API told Auditbeat about the changes.

For exampl

[2020-11-10 00:08] dedemorton commented on #22458
Closed by https://github.com/elastic/beats/pull/22475

[2020-11-10 00:08] #22458 closed

[2020-11-10 02:44] andrewvc opened #22511 "[Heartbeat] Synthetic Suites should hot reload"
Today synthetic suites are scanned once at startup. We should ensure that they can be changed in agent and hot reloaded if the underlying files change. Might be easier to do if https://github.com/elastic/uptime/issues/271 is the main way of configuring it, since only a git change would trigger a reload.

[2020-11-10 02:50] dedemorton commented on #21499
Added in https://github.com/elastic/beats/pull/22290

[2020-11-10 02:50] #21499 closed

[2020-11-10 02:51] dedemorton commented on #21040
Closed by https://github.com/elastic/beats/pull/22409

[2020-11-10 02:51] #21040 closed

[2020-11-10 07:25] elasticmachine commented on #22511
Pinging @elastic/uptime (Team:Uptime)

[2020-11-10 09:15] #14411 closed

[2020-11-10 09:15] #14415 closed

[2020-11-10 09:44] elasticmachine commented on #22482
Pinging @elastic/integrations-services (Team:Services)

[2020-11-10 09:49] elasticmachine commented on #22494
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-11-10 09:57] elasticmachine commented on #22501
Pinging @elastic/integrations-services (Team:Services)

[2020-11-10 10:07] urso opened #22513 "Docs: add documentation for new setting filebeat.registrar.clean_interval"
The new setting `filebeat.registrar.clean_interval` configures the interval/period a registry state cleanup process is executed with. The cleanup routine checks for outdated entries and removes those from the Registry.

Filebeat has a multitude of inputs that can store entries in the registry. For example `logs`, `o365audit`, or `http_json`. The cleanup routine that is configured via `filebeat.reg

[2020-11-10 11:15] #14422 closed

[2020-11-10 11:39] sayden commented on #22494
I also think this is a bug in the GCP module, I'm just not sure about the proper fix for it without losing accuracy. Metricbeat checks the sample period of the incoming metrics because Metricbeat sample period is usually not the same.

Generally speaking about any MB module, it setups a 30 seconds fetch period, it fetchs the metrics in the service and it stores them in Elasticsearch. So the user g

[2020-11-10 11:42] sayden commented on #22494
Just to give more info: it seems that the sample period is not mandatory to every Stackdriver metric: https://cloud.google.com/monitoring/api/metrics#metadata

_The description for each metric type **might** include additional information, called metadata, about the metric._

[2020-11-10 12:00] elasticmachine commented on #22513
Pinging @elastic/integrations-services (Team:Services)

[2020-11-10 13:21] andrewstucki commented on #22494
@sayden so, interestingly, if you  take a look at the file, there are default `meta` values in case there's no `SamplePeriod` or `IngestDelay` fields set on the `Metadata` field. I think the simplest fix looks like just wrapping both conditionals in a `Metadata` `nil` check, like this:

[code]

[2020-11-10 14:20] jamiehynds opened #22515 "[Filebeat] Google Workspace Alerts Center Integration"
**Background**
Google Workspace (formerly G Suite) Alert Center provides extensive visibility into threats detected in Workspace tenants. Admins can manage alerts more efficiently through the unified view that the alert center provides. Additionally, it provides insights that help them assess their organization’s exposure to internal and external security issues at the domain and user levels.

The

[2020-11-10 14:21] elasticmachine commented on #22515
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-10 14:32] PBarnard commented on #20722
Agreed. This would be really helpful. I'm currently having to feed all log events into a single Ingest Pipeline then from there using the "pipeline" processor to branch off depending on Kubernetes namespace or application name.

[2020-11-10 14:46] ChrsMark opened #22516 "Enrich Filebeat on k8s docs with json parsing settings"
It is common case that applications running on k8s log in json format. In this regard it would be helpful to provide examples in our docs about how one can leverage Filebeat's json specific settings in order to json parse logs coming from Pods running on k8s.

These examples could be part of https://www.elastic.co/guide/en/beats/filebeat/master/running-on-kubernetes.html

json settings that could

[2020-11-10 14:46] elasticmachine commented on #22516
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-11-10 14:53] ChrsMark opened #22517 "Unify PodMeta generation for autodiscover provider and add_kubernetes_metadata processor"
At https://github.com/elastic/beats/pull/22189 we introduced a unified way of instantiating Pod's meta generator. However more things can be revisited since these places (provider & processor) share a lot of common flows like:
1. create options structs
2. create default configs
3. create node watcher
4. create namespace watcher

This flow can become an isolated function and be shared from both pla

[2020-11-10 14:53] elasticmachine commented on #22517
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-11-10 14:57] urso opened #22518 "Flaky test: auditbeat/module/file_integrity.TestActions"
## Flaky Test

* **Test Name:** auditbeat/module/file_integrity.TestActions
* **Link:** https://github.com/elastic/beats/blob/master/auditbeat/module/file_integrity/metricset_test.go#L162
* **Branch:** master
* **Notes:** Windows 2019

### Stack Trace

[code]

[2020-11-10 14:59] ChrsMark opened #22519 "Consider copying kubernetes.node.hostname to host.name"
Follow up of https://github.com/elastic/beats/pull/22189#discussion_r518018179

We need to evaluate if `kubernetes.node.hostname` added at https://github.com/elastic/beats/pull/22189 can be copied at `host.name`. Some testing need to take place in that case to verify that what is added is expected in that case as well what will happen if `add_host_metadata` is enabled at the same time.

Related to

[2020-11-10 14:59] elasticmachine commented on #22519
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-11-10 15:42] andresrc commented on #22478
We would recommend doing the parsing in the ingest node. Thanks!

[2020-11-10 15:51] graphaelli commented on #22516
In particular, examples that demonstrate parsing json logs from some pods and not from others.

[2020-11-10 16:07] andresrc commented on #22414
Related: https://github.com/elastic/beats/issues/15699

[2020-11-10 16:08] elasticmachine commented on #22513
Pinging @elastic/obs-docs (Team:Docs)

[2020-11-10 16:11] felixbarny commented on #22516
The examples should ideally use ECS-JSON structured logs. See also https://github.com/elastic/ecs-logging and an example Filebeat config here: https://github.com/elastic/ecs-logging-java#step-3-filebeat-configuration

And potentially even demonstrating parsing a mix of JSON and non-JSON for the same pod. This can happen when different sub-components have different logging settings.

[2020-11-10 16:15] #13726 closed

[2020-11-10 16:23] #9126 closed

[2020-11-10 16:28] narph opened #22522 "High cpu usage when running iis/application_pool metricset with a high number of websites/app pools"
Retrieving counter values for each of the worker processes can generate a high number of cgo calls which seem to to be the cause of high CPU usage.
CGO is a must on Windows, as all OS functionality is available via dlls only.
Paths to investigate:
- reducing the current number of calls (caching, re-adding counter paths)
- re-implementing the retrieval of performance counters, trying to retrieve th

[2020-11-10 16:29] elasticmachine commented on #22522
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-11-10 16:32] urso commented on #22317
This has been a flaky test in the past.

@v1v Have you enabled symlink support in the Windows setup? Symlink support is normally disabled on Windows, which will make the test fail.

[2020-11-10 16:48] urso commented on #22315
The S3 input uses `int` for all offset computations. This will overflow on any 32bit system.

[2020-11-10 17:00] urso commented on #22302
`Access denied` error. Looks like an issue with the environment setup itself.

[2020-11-10 17:10] fearful-symmetry commented on #22501
@narph can you look at this? This isn't the first time we've had issues with the API calls used in `gosigar` and it's probably a sign that we need to look at deprecating that library.

[2020-11-10 17:13] andrewstucki commented on #22501
FYI, in the meantime https://github.com/elastic/gosigar/pull/146 extends `gosigar` to include the filesystem type support, so think we should be able to cut a release and fix the conditional to get this functional prior to any larger work of deprecating the library.

[2020-11-10 17:29] urso commented on #21757
The tests seem to be skipped by now.

Unix sockets are added only rather "recently" to windows. I think an up to date Windows 10 or Windows 2019 are required the least.

[2020-11-10 17:29] #21757 closed

[2020-11-10 17:46] zoulja commented on #22478
Parsing in the ingest node would be a disrespect to timestamp processor's developer.
I want to believe a man with all software development achievements in his hands can beat the underscore. Some day.

[2020-11-10 17:48] fearful-symmetry commented on #22368
After some hunting around, I finally found the properties we're looking for in systemd:

[code]

Unless I'm missing something, it shouldn't be too hard to add those.

For future reference, here's a helpful command:

[code]

[2020-11-10 18:06] jsoriano commented on #13607
Original issue reported in 7.3.0, of inputs incorrectly stopped on container restarts, was fixed by #13127 in 7.4.0.

[2020-11-10 18:13] #22315 closed

[2020-11-10 18:17] urso commented on #19641
the tests have been skipped already.

[2020-11-10 18:17] #19641 closed

[2020-11-10 18:27] jsoriano commented on #13607
@pauvos could you share the autodiscover configuration you are using?

[2020-11-10 19:57] fearful-symmetry commented on #22501
Ah, didn't even notice that PR! We'll see if we can cut a release and go from there.

[2020-11-10 21:39] EricDavisX opened #22530 "[Fleet] Test & automation support for 'upgrade' from the Agent CLI"
[Fleet] I initially logged this a a bug and come to find it is working as expected, but we can use it to review and finish out tests for the 'upgrade' feature from the Agent CLI

cli output looks like this:
  upgrade     Upgrade the currently running Elastic Agent to the specified version

For confirmed bugs, please report:
- Version: 7.10

the questions:
- [ ] is 'upgrade' the correct usage, or d

[2020-11-10 21:40] elasticmachine commented on #22530
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-10 22:49] EricDavisX commented on #22530
actually - I'll need to ping the team and trace this backwards... maybe we did want to support it, but perhaps only for stand-alone agent mode?  I see this commit:
https://github.com/elastic/beats/commit/c858dd0f3188793ffd52d8975c8120ce0f442ff8
 - which references that.

@ph @blakerouse is it good as is?  we can close this if so.  do we need any manual coverage over this or anything in e2e-testing

[2020-11-11 05:49] ycombinator opened #22534 "`logstash/node` metricset used for Stack Monitoring is publishing too many events"
Consider a Logstash pipeline with three Elasticsearch output plugins, like so:

[code]

Notice that the first two `elasticsearch` output plugins in the pipeline, `es_out_1` and `es_out_2`, are actually pointing to the same Elasticsearch cluster. But the third `elasticsearch` output plugin, `es_out_3` is pointing to a different Elasticsearch cluster.

When the `logstash` module is enabled with `xpa

[2020-11-11 05:49] elasticmachine commented on #22534
Pinging @elastic/stack-monitoring (Stack monitoring)

[2020-11-11 05:49] elasticmachine commented on #22534
Pinging @elastic/integrations-services (Team:Services)

[2020-11-11 06:00] ycombinator opened #22535 "`logstash/node` metricset for Stack Monitoring should deduplicate events before publishing"
Currently, when the `logstash` module is enabled with `xpack.enabled: true` set (or alternatively when the `logstash-xpack` module is enabled), the `node` metricset produces events and sets their `@metadata._id` field.

https://github.com/elastic/beats/blob/120f9319cd28f54cdbd7e636a49d467645a3865e/metricbeat/module/logstash/node/data_xpack.go#L56

The idea behind this is that the `@metadata._id` f

[2020-11-11 06:00] elasticmachine commented on #22535
Pinging @elastic/integrations-services (Team:Services)

[2020-11-11 06:00] elasticmachine commented on #22535
Pinging @elastic/stack-monitoring (Stack monitoring)

[2020-11-11 06:42] #20434 closed

[2020-11-11 06:47] elasticmachine commented on #22518
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-11 09:36] #19798 closed

[2020-11-11 09:36] #19829 closed

[2020-11-11 09:36] #22046 closed

[2020-11-11 09:36] #22302 closed

[2020-11-11 10:11] EamonnTP commented on #18426
Hi @kvch @DanRoscigno I need a little guidance with this. I enabled both settings `setup.dashboards.enabled: true`
`setup.dashboards.only_index: true` in the `metricbeat.yml`, but it returns an error `Error importing Kibana dashboards: fail to import the dashboards in Kibana`.

[2020-11-11 10:46] simitt opened #22539 "max_retries not respected when batch request to logstash fails"
The publisher's pipeline batch function `reduceTTL` reduces the retry count by 1 for every call and returns a boolean indicating whether or not the batch is still alive. This can be used to determine if the batch should be retried.

If the batches `ttl` is `0` it returns `true` - indicating that the batch is still alive. If `ttl==0` it should only return `true` if the batch contains any events tha

[2020-11-11 10:46] elasticmachine commented on #22539
Pinging @elastic/integrations-services (Team:Services)

[2020-11-11 11:14] ChrsMark commented on #22516
Hi again!

Parsing json logs conditionally can only be achieved with autodiscover conditions.
Below I'm posting an example with 1 pod containing 2 containers (one logs in json format and the other logs in plaintext):

[code]

The autodiscover template I need in order to handle the logs of these 2 containers is the one following:

[code]

The result looks like this:
kibana's json logs:
<img width="

[2020-11-11 11:39] rguptarg opened #22540 "sendto: no buffer space available issue"
HI,

I am new in heartbeat, I have configured heartbeat-elastic-7.9.3-1.x86_64 with default configuration. Currently I am using only ICMP monitoring and configured 8K IP's.

But I am getting "sendto: no buffer space available" error in "error.message" column.

Version:- heartbeat-elastic-7.9.3-1.x86_64
OS:- Red Hat Enterprise Linux Server release 7.9 (Maipo)
RAM:
              total        used

[2020-11-11 11:43] #22540 closed

[2020-11-11 14:42] jguay opened #22542 "Support for log file without newline"
**Describe the enhancement:**
Currently using filebeat, filebeat does not support reading files without any newline character [per doc](https://www.elastic.co/guide/en/beats/filebeat/7.9/newline-character-required-eof.html)

**Describe a specific use case for the enhancement or feature:**
For non-standard applications which create log files which might have a single line without a newline, ability

[2020-11-11 16:06] EricDavisX commented on #22485
the above PR should fix this - we are expecting backports for 7.10.1 (not for 7.10.0 initial release).

[2020-11-11 16:12] #21796 closed

[2020-11-11 16:20] davidgite opened #22548 "Can't start auditbeat"
I have installed auditbeat (latest version).

[This is my config file](https://pastebin.com/U7Qr0A36) (I hid the `output.logstash/kibana` part as it's irrelevant and has sensitive data. Also, it doesn't even have audit rules - it didn't work before so I removed it)

When I start auditbeat, this is what I get:

    {"level":"error","timestamp":"2020-11-11T16:17:28.970Z","caller":"instance/beat.go:9

[2020-11-11 16:42] narph commented on #22501
@fearful-symmetry , I am not sure why we used [GetDriveTypeW](https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-getdrivetypew) for the filesystem type, I do see we are not using `SysTypeName` and instead we map the drive type to `TypeName` and use that.
I have tested the PR @andrewstucki merged and it looks good , it returned the `ntfs` type on my windows machine.

I agree with

[2020-11-11 16:51] amitaiporat commented on #22167
@kvch thank you for following up here. So is the only way to do this via logstash? I do see preliminary documentation for fingerprint processor in filebeat here: https://www.elastic.co/guide/en/beats/filebeat/master/fingerprint.html does this mean the behavior will be changing? cc @ycombinator

[2020-11-11 17:25] EricDavisX opened #22549 "[Fleet] Testing over Agent collection of Agent & Endpoint log files"
This will be the test ticket to track remaining items for
[Elastic Agent] Allow the agent to collect and send the log of endpoint.
 - https://github.com/elastic/beats/issues/21796
 - https://github.com/elastic/beats/pull/22526

screenshot:
![agent-logs-in-ui](https://user-images.githubusercontent.com/12970373/99548407-9e1d2a00-2986-11eb-8d83-ecbf321e895b.png)
Questions / tasks / to-do:
1) Outline

[2020-11-11 17:27] elasticmachine commented on #22549
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-11 17:28] EricDavisX commented on #22549
@rahulgupta-qasource we have a new feature for 7.11 coming in.  Please plan on making at least a simple test case for it, and we can mark it as automated if it ends up being covered fully there.

[2020-11-11 18:21] elasticmachine commented on #22548
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-11 18:21] elasticmachine commented on #22542
Pinging @elastic/integrations-services (Team:Services)

[2020-11-11 18:54] ph opened #22551 "Elastic Agent writes to the wrong data_stream"
https://github.com/elastic/beats/issues/21862

Based from this comment https://github.com/elastic/beats/pull/22526#issuecomment-725587553

We are writing endpoint's log event to `logs-elastic_agent-endpoint-security-default` but this is problematic because we wont be able to correctly extract the namespace and the dataset.  This would result in the following extraction:

**type:** logs
**datastrea

[2020-11-11 18:55] EricDavisX opened #22552 "[Fleet] Agent fails when host disk space is full, need better support"
A user brought this to us and I am logging a quick ticket to capture minimal details.

Apparently the Agent failed to install metricbeat, due to a lack of disk space.

It wasn't clear immediately, but some subsequent log diving shows the reason:

`/var/lib/elastic-agent/logs/elastic-agent-json.log.2:{"log.level":"error","@timestamp":"2020-11-11T11:13:12.997-0500","log.origin":{"file.name":"log/rep

[2020-11-11 18:55] elasticmachine commented on #22552
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-11 18:57] EricDavisX commented on #22552
comments from slack:
1) This happened to me several times over the past few days. I “think”, it is unable to track it’s state due to unable to write the file, and it just goes crazy
I had to reinstall everytime this happend to me

2) It might be that it needs to enforce failure earlier in the enrollment process and report failure instead of success?
I don't think out of disk space is the only usec

[2020-11-11 18:59] elasticmachine commented on #22551
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-11 19:31] blakerouse commented on #22551
My comment was wrong it was `logs-elastic_agent.endpoint-security-default`. So the `endpoint-security` is still problematic. #22554  ensures that no matter the application name it is convert from `-` to `_`.

[2020-11-11 19:33] blakerouse commented on #22551
@ph This doesn't need to be targeted to 7.10 as the `.` is currently correct. So this only needs to go to 7.x because endpoint logging with be in 7.x+.

[2020-11-11 19:34] ph commented on #22551
Agree

[2020-11-11 19:41] fearful-symmetry commented on #21297
Fix here: https://github.com/elastic/beats/pull/22550

[2020-11-11 20:10] graphaelli commented on #22516
The resulting docs looks exactly as I'd expect, this is great.  This example is exactly why we need this documentation - I came up with a similar solution but used `json.*`, including `json.keys_under_root` instead of the `decode_json_fields` processor.

[2020-11-11 20:15] EricDavisX commented on #22530
i updated the issue and changed it to a feature tracking / test automation work issue.  @rahulgupta-qasource we can wait for info and sync up from Blake and Michal and then figure out what we want to add for manual test coverage.

[2020-11-11 20:28] exekias commented on #22516
Thanks @ChrsMark!, a hints based solution would also be good, right? [Hints support the `json`](https://www.elastic.co/guide/en/beats/filebeat/current/configuration-autodiscover-hints.html#_co_elastic_logsjson) options, so adding an annotation like `co.elastic.logs/json.keys_under_root=true` would just work. It can be scoped to a single container in the Pod, like `co.elastic.logs.<container_name>/

[2020-11-11 21:35] andrewstucki commented on #19745
Looks like this was fixed in https://github.com/elastic/beats/pull/19977 and should be available in today's 7.10 release

[2020-11-11 21:55] #19745 closed

[2020-11-12 00:06] kaiyan-sheng opened #22561 "Error loading pipeline for fileset checkpoint/firewall"
## Flaky Test

* **Test Name:** `test_xpack_modules.XPackTest testMethod=test_fileset_file_087_checkpoint` with test file `x-pack/filebeat/module/checkpoint/firewall/test/checkpoint_with_time.log`

* **Link:** https://travis-ci.org/github/elastic/beats/jobs/743052414#L9617
* **Branch:** master

### Stack Trace
https://travis-ci.org/github/elastic/beats/jobs/743052414#L9617
[code]
https://travis-ci

[2020-11-12 00:06] elasticmachine commented on #22561
Pinging @elastic/siem (Team:SIEM)

[2020-11-12 00:18] andrewkroh commented on #22561
This error is probably caused because we use the same ES instance to test every module. So it's not specific to CheckPoint. If we don't already configure the rate limits and cache sizes somewhere we should until https://github.com/elastic/elasticsearch/issues/64595 is addressed.

I fixed a similar issue in package-storage with this change to the docker-compose file. https://github.com/elastic/pack

[2020-11-12 03:50] infa-vsakati commented on #11912
did u got solution

[2020-11-12 05:02] enotspe commented on #12798
Altough I totally love logstash, I have ended up using [Zabbix + Elastic](https://www.zabbix.com/documentation/current/manual/appendix/install/elastic_search_setup), [snmp input plugin](https://www.elastic.co/guide/en/logstash/current/plugins-inputs-snmp.html) is just too basic.

You kind of get the best of both worlds: NMS functions + super custom dashboards with Kibana and Canvas.

[2020-11-12 09:10] lpdswing opened #22563 "can output file using every docker's container name?"
my filebeat.yml:
[code]

i want output the filename for example:

nginx.log
redis.log
.........
by container name

can use some config do that?

[2020-11-12 09:39] exekias commented on #22388
Something we will need to check with this change:

It may happen that by rounding we increase the possibility of skewing values within buckets when doing a date_histogram agg.

Right now it's very unlikely that data points get misaligned in a way that we end up with 2 points in one bucket and 0 points in the next one. By rounding I think we increase the chance of this happening, so we need to test

[2020-11-12 09:50] masci commented on #22522
Can we add benchmarking within the scope of this task? Whatever solution we come up with, we should be able to provide a rough estimation of the expected CPU/mem usage depending on the size of the application pool.

[2020-11-12 10:44] jsoriano opened #22564 "Add filebeat module for CockroachDB"
Apart of the service logs, Cockroach DB has many troubleshooting capabilities based on logs. So a Filebeat module for CockroachDB could collect:
* General logs.
* Slow query logs.
* SQL statements log.
* Authorization/audit logging.

More info:
* General debug and error logs: https://www.cockroachlabs.com/docs/stable/debug-and-error-logs.html
* Troubleshooting: https://www.cockroachlabs.com/docs/s

[2020-11-12 10:44] elasticmachine commented on #22564
Pinging @elastic/integrations-services (Team:Services)

[2020-11-12 11:15] #13979 closed

[2020-11-12 12:24] christophercutajar opened #22567 "Filebeat NGINX module 7.10.0 Upgrade Errors"
For confirmed bugs, please report:
- Version: 7.10.0
- Operating System: ECK 1.3
- Steps to Reproduce: Upgrade `filebeat` with `nginx` module from `7.9.3` to `7.10.0`

While upgrading `filebeat` from `7.9.3` to `7.10.0` which leverage a `nginx` module the deployment was failing. After checking the log file I had the below errors:

[code]

[code]

[2020-11-12 12:37] elasticmachine commented on #22567
Pinging @elastic/integrations-services (Team:Services)

[2020-11-12 12:41] andrewkroh commented on #21356
Relates: https://github.com/elastic/beats/issues/22227

[2020-11-12 12:47] #22551 closed

[2020-11-12 12:53] christophercutajar commented on #22567
`filebeat.yml` looks like this:

[code]

[2020-11-12 12:59] jsoriano commented on #22563
Hey @lpdswing,

Not sure of following. When collecting logs from docker there is no filename like `nginx.log` or `redis.log` :thinking:

Log file is available in the `log.file.path`, for the case of logs collected from docker it is something like `/var/lib/docker/containers/98b42a98e8e0ad5ec7fffdcc720ebe550979b605669997d91a4fdfd87298c7b5/98b42a98e8e0ad5ec7fffdcc720ebe550979b605669997d91a4fdfd87298

[2020-11-12 12:59] #22563 closed

[2020-11-12 14:27] skh opened #22569 "[Fleet] Elastic agent tries to download from nonexistent artifact .asc URL"
After trying to enrol an agent, I see this error:

[code]
and the same for metricbeat:
[code]

The agent seems to be able to download the actual binaries just fine, and is now in stat `Online`. It's only the `.asc` files it couldn't find.
This is on `8.0.0-SNAPSHOT` with this agent: https://snapshots.elastic.co/8.0.0-32684d56/downloads/beats/elastic-agent/elastic-agent-8.0.0-SNAPSHOT-linux-x86.tar

[2020-11-12 14:27] elasticmachine commented on #22569
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-12 14:29] cx-sbarfoot commented on #19126
@ycombinator @kaiyan-sheng  is there any update?

[2020-11-12 14:33] chenrui333 opened #22570 "`_meta/kibana.generated` does not exist"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2020-11-12 15:21] ph opened #22572 "[Elastic Agent] Helm Charts"
The infra team is currently responsible for maintaining the k8s Helm carts for our beats, with the move to the Elastic Agent we would need to take care of that in the team.

Steps TBD

[2020-11-12 15:21] elasticmachine commented on #22572
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-12 15:22] ph commented on #22572
@exekias @blakerouse This should be included in the K8s group discussion.

[2020-11-12 15:34] ph commented on #22394
@ravikesarwani FYI, forgot to ping you on this one.

@michalpristas Can you take a look at https://github.com/elastic/beats/issues/22394#issuecomment-721314209 ?

[2020-11-12 15:42] ph commented on #22569
@michalpristas weird I though it was fixed a long time ago? Theses are generate by the release manager correct?

[2020-11-12 16:15] #14501 closed

[2020-11-12 16:48] paulb-elastic commented on #22207
An alternative solution would be to implement this with the new [Synthetics](https://www.elastic.co/guide/en/observability/7.10/synthetic-monitoring.html) offering, where you have full JavaScript capabilities that you use can build the NTLM auth into the script yourself. You would then also have a full browser and user journey capabilities to test more than just the authentication, but continue in

[2020-11-12 17:59] christophercutajar commented on #22567
Linking some issues provided by @sophiec20  in relation to this issue:

- https://github.com/elastic/sdh-beats/issues/460
- https://github.com/elastic/beats/issues/11349

Using the `elastic` user still keeps getting the same error logs.

[2020-11-12 18:11] fearful-symmetry commented on #21091
Did some hunting around, and I'm kind of surprised we don't report this already. We'll need to add it to elastic/go-sysinfo and go from there. _However_ because this metric is probably exclusive to linux, it'll end up in `linux/memory` and not `system/memory`. @bczifra

[2020-11-12 18:13] mgevans-5 commented on #22207
Thanks- I'm familiar with the full Synthetics component.  However that is more of a scripting option not applicable to all of our distributed teams.  The use case for Heartbeat/Uptime includes the simple 'mini' synthetics of availability - in many cases separate from performance.  Think important internal applications across an org.  This is where NTLM is most prevelant.

[2020-11-12 18:35] christophercutajar commented on #22567
@kvch By adding `--dashboards --index-management` to the `filebeat -e setup` in our Helm configuration and leaving the modules configured in the yml file, did the job!

What now I'm not sure is how to load the ML jobs for nginx, unless they are pre-loaded!

[2020-11-12 18:42] mirzmaster commented on #17689
I believe this can be closed.  Updated to a newer release of Filebeat (7.9.x) and have not seen this issue since.

[2020-11-12 18:42] #17689 closed

[2020-11-12 19:04] andrewstucki commented on #22227
Met with @andrewkroh and here's a summary of how we're going to approach this:

1. We're going to keep the structure of:

[code]

2. On the Packetbeat side, we'll allow streams to specify their own sniffer settings. Initially we'll just couple these together so that we maintain a 1-1 between inputs and sniffer instances.
3. Eventually we'll decouple the streams and allow each input to correspond t

[2020-11-12 19:07] andrewstucki commented on #21356
See discussion in #22227 for details about the spec file format.

## Packages

We probably want to have multiple packages -- a single package for something like `Network Traffic` that we can use to enable flow data as well as potentially our protocol dissectors. Additionally, we should be able to have `packet`-type inputs in other packages that would allow another entrypoint for integration to spe

[2020-11-12 19:19] ph commented on #22552
As @michalpristas mentioned I think the `no space left on device` message should be show on fleet and on the agent log?
Is this not the case?

From what I understand Elastic Agent succeeded to install but is not able to to boostrap filebeat.

[2020-11-12 20:23] elasticmachine commented on #22570
Pinging @elastic/uptime (Team:Uptime)

[2020-11-12 21:42] elasticmachine commented on #22407
## Flaky Test

* **Test Name:** `Build&Test / filebeat-macos-macosx / test_ignore_older_state_clean_inactive – filebeat.tests.system.test_registrar.Test`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2Fmaster/detail/master/752/
* **PR:** None
* **Commit:** 425271b6553604698f1b08c934ab5ddaf308636b

### Error details
[code]

### Stack Trace
[code]

[2020-11-13 11:17] janniten opened #22580 "Winlogbeat new dashboards"
**Describe the enhancement:**
I've working in winlogbeat new dashboards in https://github.com/elastic/beats/pull/18775.
Those dashboards present some visual and functional improvements and in addition implement some fixes.
The PR is in _merge_ state but the new dashboards are not coming with the new version of winlogbeat.
Do I have to do something more?
Thank you

[2020-11-13 18:16] aschifman opened #22582 "Metricbeat AWS module S3 bucket misinformation"
When setting up Metricbeat with the AWS module, to collect S3 bucket information, there are inconsistencies and misrepresented data.

There are two issues:

1. Not all buckets are displayed in Kibana. In our AWS lab, we have 361 buckets, yet only 60 are actually able to be displayed in the **S3 Overview** dashboard.

Screen shot take from AWS S3 Management Console:
![aws-s3-bucket-list](https://us

[2020-11-13 18:22] elasticmachine commented on #22582
Pinging @elastic/integrations-services (Team:Services)

[2020-11-14 07:41] elasticmachine commented on #22580
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-14 07:42] andresrc commented on #22580
It seems the PR was not backported.

[2020-11-14 11:15] #14531 closed

[2020-11-14 14:15] #13519 closed

[2020-11-14 14:15] #13686 closed

[2020-11-14 14:15] #13766 closed

[2020-11-14 18:48] guillaumedsde commented on #8614
kind bump :) I'd be quite interested in this feature

[2020-11-15 16:22] dudubis opened #22585 "Correct way to drop syslog events with filebeat"
Hi, I'm trying to drop some events from syslog but not sure the correct condition and path:
(the below processor is not working for me with a confirmed regex)

[code]

Can someone assist with the correct way or point to the relevant documentation?

Thanks,
Dudu.

[2020-11-15 19:22] SlavikCA opened #22586 "Filebeat documentation: volume mount should be added to preserve registry files"
**Describe the enhancement:**
There is the page, describing how to run Filebeat in the Docker:
https://www.elastic.co/guide/en/beats/filebeat/current/running-on-docker.html

What's missing in the doc is description about mounting path for registry files.

So, this mount should be added:
`/var/lib/filebeat:/usr/share/filebeat/data:rw`
I think using named volume would be even better solution.

The r

[2020-11-16 03:40] elasticmachine commented on #20300
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-16 03:40] elasticmachine commented on #20379
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-16 03:40] elasticmachine commented on #21673
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-16 05:53] elasticmachine commented on #22586
Pinging @elastic/integrations-services (Team:Services)

[2020-11-16 05:54] #22585 closed

[2020-11-16 07:52] janniten commented on #22580
Hi Andres,
what does "not backported" means? Please let me know if I need to do something more.
Thank you!

[2020-11-16 08:25] simioa opened #22587 "Filebeat auditd ingest pipeline fails at kv processor when field value contains whitespaces"
- Version: 7.9.2
- Operating System: RHEL 7.9

Some auditd messages contain a reason field which contains informations on why a specific event was logged. This field can contain whitespaces. This whitespaces are interpreted by the kv ingest processor as a field split which causes the kv processor to fail.

https://github.com/elastic/beats/blob/b6896ee6892da8ce4567d63ee0fa962512fb8701/filebeat/modu

[2020-11-16 10:43] michalpristas commented on #22396
Agent can fail/be degraded in these cases (* meaning overall agent failure not component related):
[code]

[2020-11-16 11:03] DavidIans commented on #8387
Why does my 7.10 version of Filebeat still not support SASL/SCRAM-SHA-256？
This is the Filebeat output configuration:
[code]

This is the Kafka log:
[code]
Why is it still PLAIN？

[2020-11-16 12:50] ruflin commented on #22227
@andrewstucki Could you share a bit background on the pros / cons and how you reached the conclusion to go with 1? This is so we can get back to this thread and have a place to look up not just the decision.

[2020-11-16 12:51] ruflin commented on #21356
Related to indexing strategy, the part I'm most interested about is how you think of the `dataset` part?

[2020-11-16 14:00] ChrsMark commented on #22516
@exekias the equivalent using `json.*` works but need a `format: "json-file"` setting in my case.

This makes me think if [json with hints](https://www.elastic.co/guide/en/beats/filebeat/current/configuration-autodiscover-hints.html#_co_elastic_logsjson) will work as expected in that case. Note that we explicitly mention about json decoding at hints' docs:

[code]

[2020-11-16 14:21] P1llus opened #22590 "[Filebeat][httpjson input] Possibility to chain requests"
This is a issue to track a feature that would open up even more possibilities for the httpjson input, which is chained requests.

This is meant at a "next step" possibility after https://github.com/elastic/beats/pull/22320.

A chained request would be the possibility to specify a initial request, and from that request you could either extract a single value and reuse that in the URL or body of the

[2020-11-16 14:21] elasticmachine commented on #22590
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-16 14:23] P1llus commented on #22590
@marc-gr Just wanted to ping you on this so that we have a reference issue, but its for the future currently and nothing with high prio.

[2020-11-16 14:45] #22360 closed

[2020-11-16 14:52] jsoriano commented on #8387
@DavidIans this feature hasn't been backported to 7.x branches yet, it is only available on master. Would you have the chance to test it with a build from master branch? Builds from master branch can be found here: https://github.com/elastic/beats/#snapshots

[2020-11-16 14:56] andrewstucki commented on #21356
@ruflin `dataset` generally just defaults to `{package}.{stream}` unless its explicitly overridden (which I don't believe a single package is currently doing) -- so it doesn't seem to me like Packetbeat indexing strategy should diverge from what other packages are doing.

Was there an attempt to move away from this in other packages?

The main reason I brought up `network-*` as potentially a new i

[2020-11-16 15:14] andrewstucki commented on #22227
**PROS**

1. It fits the packetbeat 1 sniffer --> multiple dissectors architecture much better by logically grouping the dependent configuration. This also makes sense from a performance standpoint when enabling multiple protocol dissectors, a sniffer per dissector would require processing every packet n times on a system otherwise
2. It makes sense from a package-implementation context because ea

[2020-11-16 15:31] fearful-symmetry commented on #11404
This is definitely doable, it's just a matter of where we want it in the beats ecosystem, since it's a bit conceptually unusual compared to all the rest of metricbeat.

[2020-11-16 15:45] 111andre111 opened #22595 "filebeat module juniper having bug in painless script"
At the moment there is a bug in the painless lines of juniper module in filebeat junos fileset:
https://www.elastic.co/guide/en/beats/filebeat/7.10/filebeat-module-juniper.html
in lines
https://github.com/elastic/beats/blob/v7.10.0/x-pack/filebeat/module/juniper/junos/ingest/pipeline.yml#L60
https://github.com/elastic/beats/blob/v7.10.0/x-pack/filebeat/module/juniper/junos/ingest/pipeline.yml#L65

[2020-11-16 18:00] fearful-symmetry commented on #22368
Commit has been merged, closing this.

[2020-11-16 18:00] #22368 closed

[2020-11-16 18:09] elasticmachine commented on #22595
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-16 18:12] elasticmachine commented on #22587
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-16 18:19] #20970 closed

[2020-11-16 18:47] adriansr commented on #18755
There's a few things that can be going wrong:

- Check that `/proc/sys/kernel/ftrace_enabled` is `1`.
- Check that `/sys/kernel/debug/kprobes/enabled` is `1`.
- Make sure that the `system/socket` fileset is started from an `auditbeat.modules` entry in `auditbeat.yml` (default), and not from a separate file in `modules.d` via `auditbeat.config.modules`. That will fail due to https://github.com/elas

[2020-11-16 18:53] andrewkroh commented on #22580
I've opened a PR to backport the commit in https://github.com/elastic/beats/pull/22598. Sorry about that @janniten.

[2020-11-16 18:53] #22580 closed

[2020-11-16 18:56] jsoriano opened #22599 "Handle NaNs in Cloud Foundry metrics"
There have been reports of Metricbeats using the `cloudfoundry` module only, that logs errors like these ones:
[code]
[code]
[code]
That seem to indicate that we have a problem like https://github.com/elastic/beats/issues/10849, but in the Cloud Foundry module.

As we did with Prometheus in #12084, we may also need to add some defensive code around float values received from the Firehose.

For con

[2020-11-16 18:56] elasticmachine commented on #22599
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-11-16 19:11] #21356 closed

[2020-11-16 19:46] faec opened #22602 "Disk Queue GA meta-issue"
This is a meta-issue to track the remaining work on the disk queue, which went beta in 7.10. This is for planning / prioritization as we push it towards GA, so anything that is a candidate for going into the first full release should be listed here.

This is in some ways a successor to https://github.com/elastic/beats/issues/6859, although the new transactionless design and related simplifications

[2020-11-16 19:46] elasticmachine commented on #22602
Pinging @elastic/integrations (Team:Integrations)

[2020-11-16 20:11] guillaumedsde commented on #10848
kind bump :) would be very interested in this feature

[2020-11-16 20:21] chinmaychandak opened #22603 "JWT Support in Beats"
I would like to scrape logs using Beats (either Filebeat, Metricbeat, etc.) and send them to Logstash or Kafka depending on my use case. Currently, I am leveraging the SSL support, but I would like to use JSON Web Token instead; i.e., the beats should talk to an Authorization server, receive a JWT and then pass it as part of the Auth header bearer token schema when writing logs to an output sink w

[2020-11-16 20:56] 111andre111 commented on #20300
This is a possible workaround but what we really want is related to these 2 issues:
1. Fix the problem that ther is a prepopulated timezone applied when there shouldn't be one.

https://github.com/elastic/beats/pull/20273

2. Additionally we want it to automatically set a default timezone when no timezone is available in the message.

https://github.com/elastic/beats/pull/20300

Important to menti

[2020-11-16 22:06] andrewvc commented on #22207
@mgevans-5 I'm wondering if there's a way you could generate simple synthetics scripts to do the NTLM auth in javascript?

The reason I ask is that this is honestly the first ask we've gotten around NTLM in years of the project. Given the niche nature of the request, it's not something likely to make it onto our roadmap short of significant additional feedback from others.

That said, we'd gladly

[2020-11-16 22:38] lambda-9 commented on #18158
We would also like to consider various beats, and elastic agent/fleet management as a replacement for fluentd and fluent-bit. We are unable to consider beats or elastic agent due to lack of flexibility in outputs. We can use logstash as an output, but this fails in any scenario where elastic agent or the fleet manager is to be considered.

We do not consider Elasticsearch a primary data store for

[2020-11-17 03:49] DavidIans commented on #8387
@jsoriano ok,thank you for that,I'm trying to build from source

[2020-11-17 07:12] elasticmachine commented on #22603
Pinging @elastic/integrations-services (Team:Services)

[2020-11-17 08:54] andresrc opened #22608 "Filebeat template missing `fips_enabled` key"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2020-11-17 08:54] elasticmachine commented on #22608
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-11-17 09:08] lliknart commented on #22482
Hi there,
We observe the same issue when we want to create a new index template
`filebeat setup -e --index-management -E setup.template.type=index`

Version: 7.10.0
Operating System: Linux

[2020-11-17 09:23] andresrc opened #22609 "Move IIS metricbeat module to GA"
# Metricbeat Module / Dataset release checklist

This checklist is intended for Devs which create or update a module to make sure modules are consistent.

## Modules

For a metricset to go GA, the following criterias should be met:

* [ ] Supported versions are documented
* [ ] Supported operating systems are documented (if applicable)
* [ ] Integration tests exist
* [ ] System tests exist
* [ ] A

[2020-11-17 09:23] elasticmachine commented on #22609
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-11-17 09:25] andresrc opened #22610 "Move MSSQL Metricbeat Module to GA"
# Metricbeat Module / Dataset release checklist

This checklist is intended for Devs which create or update a module to make sure modules are consistent.

## Modules

For a metricset to go GA, the following criterias should be met:

* [ ] Supported versions are documented
* [ ] Supported operating systems are documented (if applicable)
* [ ] Integration tests exist
* [ ] System tests exist
* [ ] A

[2020-11-17 09:25] elasticmachine commented on #22610
Pinging @elastic/integrations-services (Team:Services)

[2020-11-17 09:39] idpi opened #22611 "Filebeat - OKTA module feature request V2 instated v1"
Hi There,
OKTA API was changed in the last year and they become more security-oriented.
They develop new API with the type of logs including new fields that will be relevant for Elastic SIEM security features.
I have attached logs from V1 filebeat module and v2 that we are manually collected.
The extra field including login from geo-locations, new devices, and more.
I am sure if you can upgrade fi

[2020-11-17 09:55] adriansr commented on #22548
Issues in this repository are reserved for confirmed bugs.

For unconfirmed bugs or troubleshooting please use https://discuss.elastic.co/c/beats.

I see there's already a topic for this issue, let's continue the discussion in there.

https://discuss.elastic.co/t/cant-start-auditbeat/255097

[2020-11-17 09:55] #22548 closed

[2020-11-17 10:09] jsoriano opened #22612 "Ceph integration tests using ceph-api are flaky"
## Flaky Test

* **Test Name:** `TestData` tests that use `ceph-api` in ceph module
* **Branch:** At least master and 7.x.
* **Notes:** It seems to fail because of a timeout waiting for the lock used by the compose library. Maybe something has changed that makes the lock mechanism in the compose library to don't work correctly, but it seems to affect only these tests in the ceph module.

### Stack

[2020-11-17 10:09] elasticmachine commented on #22612
Pinging @elastic/integrations (Team:Integrations)

[2020-11-17 10:09] elasticmachine commented on #22612
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-11-17 10:20] jsoriano opened #22613 "Flaky test_close_renamed in Windows"
## Flaky Test

* **Test Name:** `test_close_renamed`
* **Link:** https://github.com/elastic/beats/blob/af4007eaef6e142bb0d46370918db4ce7135f316/filebeat/tests/system/test_harvester.py#L69-L72
* **Branch:** 7.x
* **Notes:** Related to recent registry refactors?

### Stack Trace

[code]

[2020-11-17 10:20] elasticmachine commented on #22613
Pinging @elastic/integrations-services (Team:Services)

[2020-11-17 10:35] jsoriano commented on #22255
Duplicated of #21295

[2020-11-17 10:35] #22255 closed

[2020-11-17 10:44] TheFausap opened #22615 "elastic-agent : fails to enroll (missing authentication credentials)"
Hello all,

I'm testing the enrollment process under Windows 2019.
I downloaded the latest 8.0.0 snapshot (8.0.0-b557611c) of the agent. Elasticsearch node and Kibana runs under Linux, in the same LAN of the agent. I also imported, in Windows, the CA certificate used to create the kibana cert.
I unzipped the file under Program Files, renamed it to Elastic-Agent, then I ran the enrollment command (

[2020-11-17 10:53] TheFausap commented on #22615
Hello, I suppose I found the error.
In this case the error message is correct, because I used a revoked token.
The problem, by the way, is why a revoked token is shown in the Step 3 (in the Add Agent window).

[2020-11-17 11:41] 111andre111 opened #22619 "Export ingest pipelines offline without contact"
**Describe the enhancement:**

As of today there is an offer to export ingest pipeline when output to logstash for instance you once need to have access to elasticsearch itself with the beats in order to install the needed ingest pipelines.
https://www.elastic.co/guide/en/beats/filebeat/current/load-ingest-pipelines.html
It would be really neat if you could export these using for instance a `fileb

[2020-11-17 11:41] elasticmachine commented on #22619
Pinging @elastic/integrations-services (Team:Services)

[2020-11-17 11:48] adriansr commented on #8080
@urso I'm currently working on a Packetbeat case where it took me a while to realize that packets weren't lost by Packetbeat but that they were being dropped due to the small (20) work queue in broker being full even though the mem.queue was almost empty.

Due to this small work queue, DropIfFull reacts poorly to small bursts of events and the solution proposed in here could have fixed the problem

[2020-11-17 11:57] ChrsMark commented on #22516
Also working with what @exekias proposed:

autodisocer config:

[code]

pod example:

[code]

[2020-11-17 12:57] dikshachauhan-qasource commented on #22549
Hi @EricDavisX,

We have created **06** testcases for above feature on endpoint log files location for different OSs. Testcases links are as follows:
 https://elastic.testrail.io/index.php?/cases/view/35075
 https://elastic.testrail.io/index.php?/cases/view/35076
 https://elastic.testrail.io/index.php?/cases/view/35077
 https://elastic.testrail.io/index.php?/cases/view/35078
 https://elastic.testr

[2020-11-17 13:08] elasticmachine commented on #11416
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-17 13:31] ruflin commented on #21356
@andrewstucki I think there are parts in `endpoint` package which do not fully follow this logic but probably not relevant in this context here. We need to make a difference here between `inputs` and the specific config for this input. For example the `logfile` input is used in many packages and has stream configs for it. So this ends up being `nginx.access`, `nginx.error` etc. Even though both us

[2020-11-17 13:36] hairongGao commented on #8086
Hi , running into the same issue , I tried your config with ES 7.8 but nu luck .
is there any extra step im missing ?

[2020-11-17 13:47] andresrc commented on #22478
And with all due respect to the timestamp processor's developer, we recommend doing the processing in the ingest node. Thanks.

[2020-11-17 14:06] HaZet1968 commented on #19141
I still have the problem (with version 7.9.1) on machines with a lot of network traffic (e.g squid, webserver), too.

[2020-11-17 14:29] elasticmachine commented on #22611
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-17 14:34] jamiehynds opened #22625 "[CEF] Add TCP support to CEF Module"
The [CEF module](https://www.elastic.co/guide/en/beats/filebeat/master/filebeat-module-cef.html) only supported the UDP input,  but TCP has been smoke tested without any issues.

Can we update the module and associated docs to reflect support for TCP?

- Change udp to tcp in /usr/share/filebeat/module/cef/log/config/input.yml

<img width="559" alt="Screenshot 2020-11-17 at 14 32 42" src="https://u

[2020-11-17 14:34] elasticmachine commented on #22625
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-17 15:31] elasticmachine commented on #22603
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-17 15:46] edwin-va commented on #22608
I am facing the same issue in version 7.10

[2020-11-17 15:47] elasticmachine commented on #21295
## Flaky Test

* **Test Name:** `Build&Test / libbeat-build / TestClientPublishEventKerberosAware – elasticsearch`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2FPR-22623/detail/PR-22623/1/
* **PR:** #22623
* **Commit:** 42a8a021e7e6dfceb962770e3da0c56d613492e7

### Error details
[code]

### Stack Trace
[code]

[2020-11-17 15:48] fearful-symmetry commented on #21297
Fix has been merged, closing.

[2020-11-17 15:49] #21297 closed

[2020-11-17 16:13] EricDavisX commented on #22549
I have posted the work-around to get 7.11 cloud working, but this can be tested on 8.0 as well (as most features can be as they are merged first to 8.0 / master line, by specific process).

I will review the manual test need with Jen later and we can report back and assign specific tests, and confirm more expectations / AC

[2020-11-17 16:15] #14495 closed

[2020-11-17 16:37] EricDavisX commented on #22549
I'm tagging this pr here: https://github.com/elastic/kibana/pull/83356
 - it is not testable in snapshot builds yet, fyi - its a draft PR and isn't merged.  :)

[2020-11-17 16:45] psganeshk opened #22631 "Apache log configuring filebeat issue"
apache module configuration file
-----------------------------------////----------//-
Module: apache

Docs: https://www.elastic.co/guide/en/beats/filebeat/7.9/filebeat-module-apache.html
module: apache

Access logs
access:
enabled: true

Set custom paths for the log files. If left empty,
Filebeat will choose the paths depending on your OS.
var.paths: ["E:\xampp\apache\logs\access.log*"]

Error log

[2020-11-17 16:47] yanivpaz commented on #17143
its not https://github.com/aws/amazon-kinesis-firehose-for-fluent-bit/releases ?

[2020-11-17 16:50] narph opened #22632 "Add support for azure-blob-storage input in Filebeat"
**Describe the enhancement:**
Add support for azure-blob-storage input in Filebeat

Should read any messages from the blob storage account, reuse Azure SDK for Go.

[2020-11-17 17:19] elasticmachine commented on #22586
Pinging @elastic/obs-docs (Team:Docs)

[2020-11-17 17:50] #16753 closed

[2020-11-17 17:53] papovyr commented on #17143
@yanivpaz
Yes, This is fluentbit which works fine however its not providing as rich metadata about cloud provider as filebeat dose

[2020-11-17 18:02] sayden commented on #22494
@andrewstucki maybe it's not that simple. My suggestion is to add the nil checkers but then double check that we are not receiving duplicate events from the metrics that don't have metadata and that we aren't ignoring metrics.

In different words, my worry is that the fetch operation will bring duplicates or simply will omit those metrics. We have 2 scenarios:
* Metadata isn't present so Metricbea

[2020-11-17 18:02] #22631 closed

[2020-11-17 18:04] elasticmachine commented on #22615
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-17 19:27] MakoWish commented on #9600
Any update on this? I am still seeing the issue on 7.10.0.

[2020-11-17 20:13] faec commented on #21661
Repro confirmed, pprof heap data linked below (thanks @ycombinator for very detailed groundwork / repro steps!). The memory growth is essentially all from the json decoding, and it's pretty clearly a leak. I'm not sure yet whether it's in the underlying library or we aren't properly cleaning up our helper objects, although I suspect the latter since our json decoder hasn't been updated in a couple

[2020-11-17 20:32] andrewkroh commented on #22611
Can you please point me at the v2 API docs. I'm only seeing info about v1 in https://developer.okta.com/docs/reference/api-overview/#url-namespace.

[2020-11-17 20:36] andrewkroh commented on #22625
It's a little more than docs, but not much. The module config needs another conditional to support the tcp protocol.

https://github.com/elastic/beats/blob/8af0424bf411fda474dfcf0c2bacfee433bfe219/x-pack/filebeat/module/cef/log/config/input.yml#L1-L5

[2020-11-17 21:24] andrewkroh commented on #22603
To clarify, you want to add an OAuth 2.0 capability to the Kafka output? (Logstash doesn't support using anything other than mTLS to secure the connection.) Probably the kerberos support would be a good example to look at libbeat/common/transport/kerberos w.r.t. the outputs. Also Filebeat has some code in its httpjson input for doing oauth so it would be good to stay consistent w.r.t. [configurati

[2020-11-17 21:29] Dave-c-Ross commented on #19547
Any update or work around ?

[2020-11-17 21:32] jsoriano commented on #22608
I think that the fix would be to add `fips_enabled` to the list of variables in the manifests of the filesets.

As a workaround in the meantime, the missing variable can be set with `-M 'aws.*.var.fips_enabled=false'`:
[code]

[2020-11-17 22:14] turnUpTheChill opened #22638 "Filebeat 7.9.1 HAProxy ingest pipeline failing"
In Filebeat 7.9.1 the ingest pipeline `filebeat-7.9.1-haproxy-log-pipeline` has two issues with a customers HAProxy 2.2 logs. While recreating the issue the following was found.

1. the top level Grok does not properly parse messages like below
`Nov 11 16:25:17 localhost haproxy[22382]: Connect from 11.70.1.241:21114 to 11.70.2.235:50567 (frontend:/TCP)`

Current Grok: `%{HAPROXY_DATE:haproxy.requ

[2020-11-17 22:19] elasticmachine commented on #22638
Pinging @elastic/integrations-services (Team:Services)

[2020-11-17 23:10] EricDavisX commented on #22549
@blakerouse as part of the review for this feature, can you cite if you think the code paths or log paths are different enough that we need to test on different install types (macOS, Linux Tarball, Linux RPM, Windows)?  If so, we can do it manually and can automate some in the e2e-testing repo, for us to work.  Thanks for the input.

[2020-11-17 23:22] chinmaychandak commented on #22603
Thank you so much for responding, @andrewkroh!

Correct, yes.

Thank you, will take a look at both of these!

[2020-11-17 23:59] andrewkroh opened #22639 "[Metricbeat] Data race with monitoring metrics for metricsets"
There's a data race accessing the monitoring registry for a given namespace. Multiple threads are calling `Namespace.GetRegistry` at

https://github.com/elastic/beats/blob/577f67dd05c67959977a98ea1ff5780681aee70b/metricbeat/mb/module/wrapper.go#L137-L144

<details><summary>Race Detector</summary>

[code]

</details>

[2020-11-17 23:59] elasticmachine commented on #22639
Pinging @elastic/integrations-services (Team:Services)

[2020-11-18 01:42] augustynd commented on #20231
@masci can you please add Filebeat to Labels, thanks!

[2020-11-18 01:53] elasticmachine commented on #20231
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-18 01:55] andrewkroh commented on #20231
Can you please provide a URL reference for the specific logs you're interested in ingesting. I found https://cloud.google.com/dns/docs/monitoring#dns-log-record-format, but I wanted to be sure.

[2020-11-18 03:03] ravikesarwani opened #22806 "[Monitoring] Provide cluster display name information in node_stats for term grouping"
Currently we do not have cluster display name information at the node_stats level.
This field is key for creating meaningful visualizations and term groupings, especially when multiple cluster data is being stored in the monitoring cluster.

We should look at adding this field for 7.11 and also in modules to package transition with the Agent work.

cc: @andresrc @ycombinator @chrisronline

[2020-11-18 05:50] edwin-va commented on #22608
Hello @jsoriano , I tried manually adding the missing variable by using the steps above. But I am still receiving the same error.

[2020-11-18 09:02] sgrodzicki commented on #22370
@igoristic could you help with that?

[2020-11-18 09:05] kvch commented on #22482
Unfortunately, I cannot reproduce your issue.
Could you please share more details about your Filebeat instance? What Elasticsearch are you trying to connect to? 7.10? Basic licence?

[2020-11-18 09:12] hendry-lim commented on #22482
Elasticsearch `7.10.0`
Filebeat `7.10.0`
I have a Platinum trial license.
Also encountered the same with Platinum license.
Having said that, from what I know license should not matter.

[2020-11-18 10:34] kvch commented on #22482
What is the output of `./filebeat export template  -E setup.template.type=component`? I am not interested in the specific fields, just want to see the structure.

E.g. I get this:
[code]

Also, could you share your `setup.template.*` settings?

[2020-11-18 10:42] hendry-lim commented on #22482
[code]

[2020-11-18 10:57] simioa commented on #22587
https://github.com/elastic/elasticsearch/issues/31786 looks related.
Using field_split and value_split patterns from https://github.com/elastic/elasticsearch/issues/31786#issuecomment-646174386 seems to work

[2020-11-18 11:01] jsoriano commented on #22638
This expression should work even if `ctx.event.timezone` is null. This will fail if `ctx.event` is null, what shouldn't happen if filebeat modules are used.

Have you seen this error happening with filebeat or only with the simulate API?

[2020-11-18 11:51] edwin-va commented on #22608
@jsoriano . I was using version 7.9 and updated it to version 7.10

Well the other workaround worked. I added fips_enabled on ecah manifest.yml file and it working perfect now.

Thanks a lot @jsoriano

[2020-11-18 12:40] ruflin commented on #22227
Thanks for the details. In summary from an Elastic Agent perspective, packetbeat is just a single input.

[2020-11-18 12:49] #22516 closed

[2020-11-18 12:59] jsoriano opened #22649 "Add a test to detect missing variables in fileset configurations"
Add a test to earlier detect issues like https://github.com/elastic/beats/issues/22608, where a variable used in the configuration was not defined in the `manifest.yml` files of the filesets.

This could be reproduced by installing the pipelines of an specific module with `filebeat setup --pipelines --modules aws`.

It was not detected by current module tests because the configuration file using t

[2020-11-18 13:00] elasticmachine commented on #22649
Pinging @elastic/integrations-services (Team:Services)

[2020-11-18 13:01] ph commented on #22615
Yes, theses token should not be shown in that flyout there is already an issue for it there https://github.com/elastic/kibana/issues/73529

Closing this one.

[2020-11-18 13:01] #22615 closed

[2020-11-18 13:06] jsoriano commented on #22608
Fix https://github.com/elastic/beats/pull/22645 will be included in 7.10.1, other versions are not affected.

[2020-11-18 13:06] #22608 closed

[2020-11-18 13:23] afharo opened #22651 "[Metricbeat][Kibana][stats] Stop collecting usage"
**Describe the enhancement:**

As part of the efforts for decoupling Monitoring & Telemetry in Kibana (https://github.com/elastic/kibana/issues/83626), we are stopping the collection of usage data (https://github.com/elastic/kibana/issues/83521), meaning we'll only collect _metric-related_ stats from 7.11 and future versions.

This can be achieved by always sending `exclude_usage=true` when reques

[2020-11-18 13:24] blakerouse commented on #22549
@EricDavisX Yes the log path is unique per OS. So it should be ensured that it works on all.

[2020-11-18 13:29] dikshachauhan-qasource commented on #22549
Hi @EricDavisX

Thanks for the update.
We have created 10 testcases for pr here: [elastic/kibana#83356](https://github.com/elastic/kibana/pull/83356) covering Agent logs with a new UI. Testcases links are as follows:

https://elastic.testrail.io/index.php?/cases/view/35088
https://elastic.testrail.io/index.php?/cases/view/35089
https://elastic.testrail.io/index.php?/cases/view/35090
https://elasti

[2020-11-18 13:39] turnUpTheChill commented on #22638
@jsoriano for the second issue, in my environment I was seeing it when running without the module, only with the pipeline called out. The customer I am working with we saw it with the module, but I will take a closer look to see if the event field is populated properly.

[2020-11-18 14:00] lliknart commented on #22482
Elasticsearch `7.9.3` / `7.10.0`
Filebeat `7.10.0`

**This command works: Create a legacy tempate**
[code]

**This one does not work: Try to create an index template**
[code]

**The error I get:**
[code]

[2020-11-18 15:47] arpsyapathy opened #22656 "Filebeat high disk usage when reboot server. How fix it?"
Hi all!
Filebeat on server send many events from logs of exchange (windows) server to logstash.
When we reboot server filebeat make high disk usage. Other services can't load for a long time.
How can i fix it? Thank you

my config:
[code]

[2020-11-18 16:06] #22656 closed

[2020-11-18 16:12] elasticmachine commented on #22651
Pinging @elastic/integrations-services (Team:Services)

[2020-11-18 16:15] #13841 closed

[2020-11-18 16:22] elasticmachine commented on #22651
Pinging @elastic/stack-monitoring (Stack monitoring)

[2020-11-18 16:28] Sauerbrei commented on #16725
I've came across the same issue in a docker-swarm environment, while I want to store the data on an elasticsearch-service configured with AWS.
So I changed first the image version from 7.9.3 to 6.4.0 like this

[code]
make sure (in your docker.yml), you only load metricsets which are available in 6.4.0, like this
[code]
anyway, metricbeat is actually sending something and has a connection to the a

[2020-11-18 16:28] gogochan commented on #22549
Hi @EricDavisX, nothing much from my end.

[2020-11-18 17:27] augustynd commented on #20231
This is the right URL, thanks!

[2020-11-18 18:32] jen-huang commented on #22549
We don't use a Fleet API for this. The logs component used for this is written by the Logs & Metrics UI team and uses its own API. I'm not sure what coverage they have for their component. We also populate query suggestions and filter options (dataset and log level) from data plugin's API (a core Kibana plugin). IMO it's out of scope for us to test other plugins' APIs.

There are no API or unit te

[2020-11-18 18:51] EricDavisX commented on #22549
Thank you - I agree it is beyond our need to test the Logs api, this is the benefit of component re-use.  We can review the FunctionalUI test framework separately, it may not be hard to set that up for Fleet team if we wanted to make use of what Kibana team has in place already.   I'll update the above AC notes.

[2020-11-18 19:02] faec commented on #21661
Updates from following this thread:
- The memory wasn't really accumulating that fast. My metricbeat output was misconfigured, and the snapshot was ordinary accumulation in the queue. (What _is_ true is that these events are fairly large, ~2MB / sample, so any bottleneck or problem later in the ingestion can grow the memory use quite fast.)
- Everything shows up as being an allocation from the jso

[2020-11-18 19:21] bschaeffer commented on #21653
Just dropping by to see if y'all would be open to a PR for this. Happy to do the work.

[2020-11-18 21:25] benberg86 commented on #21035
Believe I am hitting the `enabled: false` issue. Attempting to use a docker container and have some of the monitors defined with enabled: false using variables but the container dies after the error logged for the disabled monitor. This is preventing from being able to deploy some monitors disabled per environment. Any workaround for this? Documentation describes using the enabled field to be able

[2020-11-18 21:26] benberg86 commented on #10231
Believe I am hitting the enabled: false issue. Attempting to use a docker container and have some of the monitors defined with enabled: false using variables but the container dies after the error logged for the disabled monitor. This is preventing from being able to deploy some monitors disabled per environment. Any workaround for this? Documentation describes using the enabled field to be able t

[2020-11-18 22:48] jen-huang commented on #22549
Hi again @EricDavisX , regarding this AC:

Due to current limitations with the logs component, updating the log entries in real time is a poor UX right now (a loading screen takes over, and user loses their scroll position). I added this to my PR description:

[2020-11-18 23:15] #14627 closed

[2020-11-18 23:23] EricDavisX commented on #22549
@dikshachauhan-qasource @rahulgupta-qasource hi - I think we have pretty good AC and test requirements cited now, please do update the tests we've started based on the latest you see in the description AC.  Hopefully it will be merged and available in an 8.0 snapshot a few days or so.

[2020-11-18 23:25] EricDavisX commented on #21518
@michalpristas  Hi, I know you were working on automated tests, did you have a WIP PR you wanted to discuss or a branch to point to?  Happy to review and pull and work it with ya.

[2020-11-18 23:35] andrewvc opened #22665 "[Heartbeat] `enabled: false` does not seem to work"
As reported in https://github.com/elastic/beats/issues/10231 the `enabled` setting in configs seems to break heartbeat, we should fix this.

[2020-11-18 23:35] andrewvc commented on #10231
@benberg86 this seems to be a bug (and we seem to have missed the original complaint). I've opened https://github.com/elastic/beats/issues/22665 to track this more directly. We probably won't be able to get to it for a few weeks, but a patch would be appreciated!

[2020-11-19 03:00] benberg86 commented on #10231
Thanks @andrewvc - signed the contributor agreement, etc. Think I have a working fix or at least a PR to start a discussion 😜

[2020-11-19 06:22] elasticmachine commented on #22665
Pinging @elastic/uptime (Team:Uptime)

[2020-11-19 08:36] idpi commented on #22611
Sorry for the confusion.
Let me correct my self it's still V1 OKAT API but the DANGERs fields, and
superhuman activity are related to the Adaptive MFA SKU feature in OKTA.
So, once you purchase the Adaptive MFA SKU from Okta, some risk related
columns start being populated with Okta’s risk features.
You can see these features in DEBUG_CONTEXT:debugData.behaviors event type.
An example of some of t

[2020-11-19 09:39] sqtds opened #22671 "[Filebeat] filebeat can add docker aware?"
**Describe the enhancement:**

**Describe a specific use case for the enhancement or feature:**
When I used filebeat in docker, it cost too much CPU performance. After analysis, I found that it was caused by golang identifying the number of CPU cores of the physical machine. It should identify the number of cpu cores of the docker container. When I modify this, it can reduce CPU consumption by 20%

[2020-11-19 09:59] dikshachauhan-qasource commented on #22485
Hi @EricDavisX ,

We have re-validated this issue on 8.0 snapshot kibana environment and found that issue is **Not-Fixed** and still reproducible.

[code]

Observation: While enrolling a standalone agent to fleet, we observed same issues mentioned at Steps 10-12 in defect description. Please refer below screenshot for details:
![#22485_1](https://user-images.githubusercontent.com/72375798/99650948

[2020-11-19 12:55] dikshachauhan-qasource commented on #22549
Hi @EricDavisX

Thanks for the update.

We have created 09 testcases for as per new AC update in [#22549](https://github.com/elastic/beats/issues/22549) for covering Agent logs with a new UI. Testcases links are as follows:

Testcases added under [Integrate with endpoint](https://elastic.testrail.io/index.php?/suites/view/27&group_by=cases:section_id&group_id=3525&group_order=asc)
https://elastic.

[2020-11-19 14:11] felix-lessoer commented on #9013
@ph Any updates on this ticket?

[2020-11-19 14:11] felix-lessoer commented on #9232
@ph Any updates on this ticket?

[2020-11-19 14:12] felix-lessoer commented on #9232
@elastic/beats Who can help with the status of this request?

[2020-11-19 14:15] #14645 closed

[2020-11-19 14:22] elasticmachine commented on #22582
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-11-19 14:36] ph commented on #9013
@felix-lessoer Not yet, but we are still looking at it.

[2020-11-19 15:19] EricDavisX commented on #22549
Hi - my reply on testing queries:
Query 1.
Could you please confirm if we need to validate non-default namespace used for Agent & Endpoint in logs, being generated on agent Logs page.
A:  I suggest we check the index the data is going into for the final test, if it appears in the UI we can validate it there as well, but I'm not sure if the logs themselves contain that detail.

Query 2.
Could you p

[2020-11-19 16:20] lynxium69 opened #22675 "Fortigate logs not parsed"
Hello,

I've just install a new ELK server on debian , with a rsylog server in debian 10 also
fortigate syslog are send to syslog server then to ELK server.

I have a problem , logs are not parsed on ELK , all the data arrived in one field (message).

On ELK
![image](https://user-images.githubusercontent.com/57848024/99692666-d86fef80-2a8a-11eb-9253-5e600d55dec7.png)

On syslog server
![image](htt

[2020-11-19 17:15] #14638 closed

[2020-11-19 17:35] kvch commented on #22482
I can reproduce it now, thanks for the help.

[2020-11-19 18:44] elasticmachine commented on #22675
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-19 18:53] elasticmachine commented on #22671
Pinging @elastic/integrations-services (Team:Services)

[2020-11-19 21:34] segevfiner commented on #22671
May want to take a look at https://github.com/uber-go/automaxprocs

[2020-11-19 22:40] dwdixon commented on #637
+1 to adding this feature...is there any update on the timeline for this being added to Filebeat?

[2020-11-20 02:38] hendry-lim opened #22678 "[Filebeat][Netflow] Running Filebeat in container does not set `network.exporter.address` to the network device IP that generated the netflow record"
For confirmed bugs, please report:
- Version: `7.10.0`
- Steps to Reproduce:
Deploy Filebeat on Docker
Enable and configure `netflow` module
Configure a network device to send Netflow records to Filebeat over UDP.

We are running Filebeat on Docker. The `netflow.exporter.address` is set to the Docker `bridge` network gateway IP address.
This behaviour is expected as the following function:
[code]

[2020-11-20 02:50] rcmelendez commented on #18755
Same error on Fedora 33, kernel 5.8.16-300.fc33.x86_64 and auditbeat 7.9.3. I also added `socket.guess_timeout: 1m` but the same.

[2020-11-20 06:11] elasticmachine commented on #22678
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-20 08:33] MrLuje commented on #11834
@jsoriano Using Filebeat 7.9.3, I am still loosing logs with the following CronJob

[code]

A workaround for me is to change the container's command to delay the exit :

[code]

![image](https://user-images.githubusercontent.com/632075/99777528-bd48c280-2b12-11eb-81e7-40a94c11ec07.png)

[2020-11-20 08:45] kuisathaverat commented on #22572
@ph we have made one for the clusters maybe you can reuse stuff.

[2020-11-20 09:18] PBarnard opened #22679 "Override Default Filebeat Module Pipeline"
I would like the ability to provide a custom Ingest Pipeline to be used by a Module in the filebeat.yml configuration.

In our setup we have a number of metrics and dashboards that use specific cross-service fields and values in the indexed documents.

When using, for example, the RabbitMq module in Filebeat it creates its own Ingest Pipeline for the logs. I can edit this pipeline to add some extr

[2020-11-20 09:21] elasticmachine commented on #22679
Pinging @elastic/integrations-services (Team:Services)

[2020-11-20 09:56] jamiehynds commented on #22675
Hi @lynxium69! We have a Filebeat module which parses Fortinet logs and maps them to Elastic Common Schema fields. Based on your screenshots, it looks like you don't have that module enabled. Please see [here](https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-module-fortinet.html) for the steps involved. You will need to enable 'firewall' dataset to parse the FortiOS logs.

[2020-11-20 10:03] kuisathaverat opened #22680 "[Elastic Agent] Endpoint for metrics/healthcheck"
**Describe the enhancement:**

All the beats have a setting to start an endpoint where you can check the stats, these are useful to monitor the internal state of the Beat. This feature can export an HTTP port, an unix socket, or a named pipe.

**Scenario:** Listen for basic request
  **Given** An Elastic Agent enrolled in a Kibana instance
  **And** you start the Elastic Agent with the option `-E

[2020-11-20 10:03] elasticmachine commented on #22680
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-20 10:41] ChrsMark opened #22683 "Handle errors about k8s api nodes permissions"
After https://github.com/elastic/beats/pull/22189 we attach node metadata on pod metadata by default (without add_resource_metadata required to enabled) for both events coming from autodiscovered pods but also for events enriched by add_kubernetes_metadata. This is tries to create an api watcher under the hood which can lead in failures when users do not have access to k8s nodes api like at https:

[2020-11-20 10:41] elasticmachine commented on #22683
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-11-20 12:14] ruflin opened #22686 "[Elastic Agent] Embed Fleet Server as part of the Elastic Agent"
Fleet-Server binary should be shipped as part of the Elastic Agent: https://github.com/elastic/fleet-server

[2020-11-20 12:14] elasticmachine commented on #22686
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-20 13:02] dikshachauhan-qasource commented on #22549
Hi @EricDavisX

Thanks for the feedback.

We will update testcases for queries as follows:
For query 1 : Whenever the build is available, we will verifying the functionality on the the feature build and update testcases accordingly.
For query 2: We will updated testcases as per the Logs location for .rpm/.deb in 7.10 versions.
For query 3: we will skip testcase creation as it is a automation test.

[2020-11-20 13:26] dikshachauhan-qasource commented on #22485
Hi @EricDavisX ,

We have performed the system reboot scenario on Linux deb standalone agent as per your request and below is our observation:

Agent hash: https://snapshots.elastic.co/8.0.0-432f821f/downloads/beats/elastic-agent/elastic-agent-8.0.0-SNAPSHOT-amd64.deb
BUILD 38085
COMMIT 228387cb6e3cdc35123f5a8bc40d3ad87d4f9e52

**Steps followed:**
- Download the " elastic-agent-8.0.0-SNAPSHOT-amd6

[2020-11-20 14:09] elasticmachine commented on #22561
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-11-20 14:55] andrewkroh commented on #22678
The exporter's source address is always obtained from the received UDP packet header. This is always the behavior.

What value are you expecting the exporter address to contain? Is the exporter itself running within the docker network?

[2020-11-20 15:04] michalpristas commented on #20756
so far i adressed use case of log level reload initiated by fleet action.
do we want to allow reload in standalone mode? atm if user changes any setting (except for monitoring) user is responsible for restarting an agent. product wise, which part do we want to go with logging. it would mean automatic restart/reexec anyways

cc @ph @ruflin

[2020-11-20 15:13] hendry-lim commented on #22678
The exporter is not running within the Docker network, because it is a router. However, for some reason Filebeat captured the exporter's source address as the Docker gateway IP address instead of the actual exporter IP.

[2020-11-20 15:16] MrLuje commented on #11834
[code]

Not totally sure about the logs, the container id for one of the missing log is f9b726a9140eb60bdcc0a22a450a83999c76589785c7da5430e4536da4ccc502

[code]

[2020-11-20 15:21] blakerouse commented on #20756
I think it would be acceptable to require them to call `elastic-agent restart` which we already have.

[2020-11-20 15:44] andrewkroh commented on #22678
This appears to be a bug in Docker's `docker-relay`.

- https://github.com/moby/moby/issues/15127
- https://github.com/moby/libnetwork/issues/1729

[2020-11-20 15:58] kvch commented on #21653
Sure, we would appreciate a PR. Our goal was to make it configurable from `*beat.yml` and enable it by default to make sure there is no backwards-incompatible change or any unexpected surprise.

If you open a PR, please ping me on it. Thank you so much!