[2016-07-05 07:45] mostolog commented on #1956
Download source+compile+patch+test? (I don't know how, but I'll do my best once I finish with current task ;) )

[2016-07-05 08:03] ruflin commented on #1953
This is currently not possible. You can use Logstash to do this kind of even routing to different indices.

This issue also seems to be related to this: https://github.com/elastic/beats/issues/1587

[2016-07-05 08:08] ruflin commented on #1953
Closing this issue as for questions and discussions the forum should be used: https://discuss.elastic.co/c/beats/filebeat

[2016-07-05 08:08] #1953 closed

[2016-07-05 08:57] medcl opened #1958 "Support Cassandra protocol in Packetbeat"
As Cassandra is popular used as a multi-column storage, i suggest we may add Cassandra protocol in Packetbeat.

Cassandra clients use CQL to Interactive with the Cassandra server, current CQL protocol is v4,
the protocol is well documented here:
https://github.com/apache/cassandra/blob/trunk/doc/native_protocol_v4.spec

[2016-07-05 10:05] #1956 closed

[2016-07-05 10:43] ruflin commented on #1956
No need to build it yourself. It should be available soon in our nightly builds: https://beats-nightlies.s3.amazonaws.com/index.html?prefix=filebeat/

[2016-07-05 11:15] ruflin commented on #1560
This was fixed. Now all states are loaded into each prospector.

[2016-07-05 11:15] #1560 closed

[2016-07-05 11:23] ruflin commented on #896
@knap1930 So this problem also persists when logstash comes back online?

[2016-07-05 11:31] ruflin commented on #921
There is now also a new "rollover" API which is also interesting here: https://www.elastic.co/guide/en/elasticsearch/reference/master/indices-rollover-index.html

[2016-07-05 13:17] ruflin commented on #1600
Based on the inputs from @brandonmensing, a suggestion for the config file:

Before:
[code]

After
[code]

I removed the options that would stay the same.

For harvester it could also be:
[code]

[2016-07-05 13:40] ruflin commented on #1600
@brandonmensing I left out the `_on_` par in the config options as it felt to me more natural as it is the closing for example happens after it was renamed, not during the rename. Happy to discuss further.

I left out `close_timeout` above, but I think timeout is definitively less abstract then `ttl`. I'm curious if there is perhaps even something more descriptive like `close_after` or other alter

[2016-07-05 13:54] petercort opened #1962 "Pipeline doesn't work in Filebeats Alpha 3"
Running Filebeats Alpha 3 passing directly to an Elasticsearch Alpha 3 installation. See the discussion on the forums: https://discuss.elastic.co/t/pipeline-not-working-filebeats-elasticsearch-5-0-0-alpha-3/54197/10

The same configuration works fine with a Filebeats Alpha 2 installation, but not 3.

[2016-07-05 21:47] boeboe opened #1968 "[Question] filebeat properties not indexed, topbeat properties all indexed"
Hi,

First of all, sorry for posting this as an issues, but I could not find any information on the problem I am facing (besides overwriting the default filebeat.template.yml?)

I am trying to figure out why all the properties generated by topbeat are indexed by default (I can create visualizations on them using kibana), while those from filebeat are not indexed. I am comparing the two templates s

[2016-07-05 23:57] knap1930 commented on #896
@ruflin When logstash comes back online, things will recover.

The problem is that if the host's hard drive fills up before logstash comes back online. I have a cron job that moves rotated logs over to s3 after the file is rotated. Ideally if there is a problem with logstash, filebeat will give up eventually and allow the space to be reclaimed, not keep trying forever. I thought that was the purpo

[2016-07-06 06:12] ruflin commented on #1600
I just realised, the above config examples have a mistake inside. The state `clean` variables are part of each prospector, as each prospector can have different values. I changed it above.

@brandonmensing I was wondering if people understand `state` better then `registry`? See example above.

[2016-07-06 07:02] ruflin commented on #1968
Please use discuss for questions. You can open a topic here: https://discuss.elastic.co/c/beats/filebeat

Please also provide there also your logstash config and an example log line. What do you mean by not indexed? Do the log lines show up in elasticsearch?

Closing this issue based on the above note.

[2016-07-06 07:02] #1968 closed

[2016-07-06 07:06] ruflin commented on #896
Filebeat will not release the file handler until it successfully sent the data. So `close_older` will only apply after the data is sent.

The option you are looking for is probably `close_ttl / close_timeout`. See https://github.com/elastic/beats/issues/1600 for more details. We are still discussing the correct naming. Happy to have your feedback here. The problem with `close_ttl` is that it can l

[2016-07-06 07:11] ruflin commented on #1639
Closing as all changes were implemented.

[2016-07-06 07:11] #1639 closed

[2016-07-06 07:15] ruflin opened #1972 "Do not send Metricset values which were not set"
Currently most metricsets send a default value in case a value is not set. In contrast the mongodb/status metricset removes all fields which are not set. An example can be found here https://github.com/elastic/beats/blob/master/metricbeat/module/mongodb/status/data.go#L175

The MongoDB implementation has the following advantage:
* Default values can be misleading as they can conflict with the actu

[2016-07-06 07:27] boeboe commented on #1968
Thanks for pointing me to the proper forum, @ruflin

I posted the question with extra information on configuration here:
https://discuss.elastic.co/t/filebeat-properties-not-indexed-topbeat-properties-all-indexed/54803

[2016-07-06 08:25] prevostc commented on #1035
+1
@richardjq I'm trying to do exactly that and now I have to create a new init service to have 2 filebeat processes watch the same files.

[2016-07-06 11:48] urso commented on #1035
@richardjq @prevostc See my original comment. Problem is, when having multiple logstash outputs in beats (doing event routing essentially), these logstash instances implicitly get coupled via beats. If one instance is down or unresponsive, the others won't get any data. A message queue like kafka will help to uncouple these systems as long as kafka is operating.

Using logstash for event-routing w

[2016-07-06 13:00] draenor commented on #1645
I still experience the problem that filebeat stops processing logs after a while with version `1.2.3`.

OS: WIndows Server 2012 R2

### The issue

* The state file does not update and no logs are sent from filebeat (i.e., it's halted indefinately)
* This occurred after log rolling (but I'm unsure if exclusively so)
* Two instances of FileBeat is reading the same log file and both experience the ex

[2016-07-06 13:16] draenor opened #1974 "Filebeat stops processing log entries after "Read line error: file inactive""
Filebeat stops processing logs after a while ~~in combination with log rolling, however I'm not sure if exclusively related to log rolling~~ It seemed to happen unrelated to log rolling today (the other harvesters were still fine).

- Version `1.2.3`.
- OS: WIndows Server 2012 R2
- Steps to reproduce
  - filebeat.exe -c filebeat.yml
  - Wait (until log rolling)

### Issue description

* The state

[2016-07-06 13:26] ruflin commented on #1600
One more: More accurate for `close_older` would probably be `close_inactive` ?

[2016-07-06 14:46] brandonmensing opened #1976 "Support for HPUX"
Stub issue for the time being. We don't have plans to work on this yet.

[2016-07-06 15:19] monicasarbu opened #1977 "Add or/and/not in processors"
This meta issue has the scope of documenting how to add support for `and`, `or` and `not` support in the condition associated to the processors.

Let's start with a bit of overview of the `processors` configuration option.

The general definition of `processors` is the following:
[code]

where:
`<processor>` can be one of: `drop_event`, `drop_fields`, `include_fields`.
`<condition>` contains the d

[2016-07-06 21:24] ckmcd opened #1980 "Please have report filesystem type"
It would be very helpful to be able to filter on filesystem type (e.g. ext*, nfs, proc, etc.)

I know this as been mention in several discussion and it was suggested that an ER be opened.  I could not find one so here it is.

Thanks!

Chris

[2016-07-07 08:32] odinxux commented on #149
+1

[2016-07-07 19:23] demonjrules commented on #149
+1

[2016-07-07 20:51] #1977 closed

[2016-07-07 20:51] monicasarbu commented on #1977
Duplicates #1447

[2016-07-08 05:50] Jayranbutong opened #1989 "packetbeat error about flexible ports"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For confirmed bugs, please report:
- Version: packetbeat version 5.0.0-SNAPSHOT (amd64)
- Operating System: osx
- Steps to Reproduce: I have develped a new protocol，but the

[2016-07-08 06:39] PenGCanNtFly opened #1990 "filebeat start failed [ERR failed to initialize redis plugin as output]"
filebeat version: filebeat-5.0.0-alpha3-linux-x64

[code]
my config file:
[code]
but filebeat-1.2.3-x86_64 did well.
Is there anything wrong in my config file or bug?

[2016-07-08 06:45] zenfish opened #1991 "add process UID data to topbeat process information"
Currently you can get proc.username (https://www.elastic.co/guide/en/beats/topbeat/current/exported-fields-process.html), but that's not a terribly useful bit of data without the corresponding uid; for instance the canonical added account after a compromise is a arbitrarily named account with uid=0 (AKA root.)

Permissions/security wise the username doesn't mean anything; instead the real/effectiv

[2016-07-08 09:00] igama commented on #536
👍

[2016-07-08 09:51] tsg commented on #1980
For clarity, does this refer to Filebeat or the Topbeat/Metricbeat disk usage stats?

[2016-07-08 11:09] raboof opened #1995 "IPv6 support for PacketBeat"
(feature request as discussed at https://discuss.elastic.co/t/packetbeat-ipv6-support/54941)

It'd be neat if packetbeat supported IPv6.

I've done some preliminary work at https://github.com/elastic/beats/compare/master...raboof:packetbeat-ipv6 - of course needs finishing and tests. Feel free to provide feedback already, though unfortunately it might be a while before I can find someone who is au

[2016-07-08 11:53] tsg opened #1997 "Elasticsearch output reconnects on 4xx response codes"
This causes problems for, e.g., the template loading code, which checks if the template is already loaded, and a 404 is expected if the template is not there.

I proposed a simplistic solution in #1996, but @urso is saying that we might be able to get rid of the `connected` flag altogether and simplify the API in the process.

[2016-07-08 11:54] tsg commented on #1997
Marked as bug for beta1 as this results in logging a connection error when there was actually none. So it can cause confusion.

[2016-07-08 12:45] tsg commented on #1995
Diff doesn't look huge, so if you think you won't get approval for contributing the code, let us know. We can reimplement the changes.

[2016-07-08 12:48] tsg commented on #1989
So what protocol is it? :-).

I think it would be possible to extend the protocol matching code to accept port ranges.

[2016-07-08 12:51] tsg commented on #1990
Please try using the hosts option instead of host, e.g.:

[code]

[2016-07-08 13:10] tsg commented on #1974
The `file inactive` error means that Filebeat thinks the file wasn't modified for a long time (1h by default) so it closes it. This [discussion](https://discuss.elastic.co/t/filebeat-not-harvesting-file-didnt-change-do-not-use-modification-time/49834) seems similar to what you are experiencing.

If it's indeed the same bug, there are two things that you could try:

* setting a very large value for

[2016-07-08 14:44] urso commented on #1989
[related discussion](https://discuss.elastic.co/t/what-about-flexible-ports/54940)

[2016-07-08 15:31] sirstevepal opened #1998 "Map Files to Ingest Pipelines"
Text copied from https://discuss.elastic.co/t/map-files-to-pipelines/55063

I'm playing around with the new Elastic5 products and am interested in using the ingest node feature with Filebeat as the agent. I have a server that runs several applications with different log files/formats and it seems that per Filebeat agent you can only define a single Elasticsearch output that references a single pip

[2016-07-08 19:34] tsg opened #2000 "Add option to output without the JSON wrapper"
The log lines generated by Filebeat are wrapped automatically in a JSON object. For some outputs (console, file, kafka, redis) it could be an option to just send the original log lines with wrapping them. The way this could be implemented is by allowing at the output level to build a message via a format string.

For example:

[code]

This would be helpful during development (console and file outp

[2016-07-09 04:10] sumanthakannantha commented on #878
I am using 1.2.3 version of filebeat. We see frequent message in log.

**Jul  9 04:08:36 c4t08458 /usr/bin/filebeat[24986]: balance.go:248: Error publishing events (retrying): EOF**
Jul  9 04:08:55 c4t08458 /usr/bin/filebeat[24986]: publish.go:104: Events sent: 2048
Jul  9 04:08:55 c4t08458 /usr/bin/filebeat[24986]: registrar.go:162: Registry file updated. 2071 states written.

[2016-07-09 07:46] treff7es commented on #2000
I like this generic solution and happy to help implement it.

[2016-07-11 02:28] gregoryo2014 commented on #974
Now I'm confused. https://github.com/elastic/beats/pull/1966 is merged, but there are now two issues:
1. No FreeBSD [nightly builds](https://beats-nightlies.s3.amazonaws.com/index.html?prefix=jenkins/metricbeat/) since July 6th, and no builds at all since July 8th. Is there a new location for nightlies?
2. None of the builds seem to use a gosigar with the freebsd tags enabled - they all fail on th

[2016-07-11 06:12] PenGCanNtFly commented on #1990
@tsg thank you answerd my question and it works after changed like blow:
[code]
looks like `hosts` is a `slice` than `string`

[2016-07-11 08:26] ruflin commented on #1974
If I understand this right, filebeat gets stuck either at the offset when the file got rotated or an offset when the `close_older` is reached? It seems like the internal state is not properly updated, means the harvester does not properly communicate that the crawling was finished.

The state part was completely rewritten in Filebeat 5.0.0-*. It would be really helpful if you could try the 5.0.0 s

[2016-07-11 08:38] draenor commented on #1974
As we can see from the logs there were at least one event sent after log rolling, however I can try the latest 5 snapshot to see if the problem appear again within a couple of days.

[2016-07-11 10:18] urso opened #2005 "Cleanup and stabilize Beater-API"
Simplify common API for creating a new beat:

- [x] FlagHandler registry instead of beat optionally implementing HandleFlags. FlagHandler will be called after parsing flags, but before reading any config files. #2002
- [x] simplify Beater interface to consist of: Constructor(Initialization + Config), Run and Stop. #2003
- [x] turn publisher.Publisher into interface  #2009
- [x] pass beat specific

[2016-07-11 10:30] ruflin commented on #878
@sumanthakannantha For questions please open a topic here: https://discuss.elastic.co/c/beats/filebeat

[2016-07-11 12:59] lindsay-show commented on #1989
msrp.every session will be assigned a port.so，I have solved it with your help.Thanks a lot.

[2016-07-11 13:09] urso commented on #1989
Will keep this open. Still valid request to have port ranges being supported out of the box by packetbeat + more efficient BPF filter based on `portrange`can be constructed, if ranges are natively supported by packetbeat.

[2016-07-11 13:11] ruflin commented on #1600
As a note: The general discussion came up to change `prospectors` to `inputs` and `harvester` to `reader`.

[2016-07-11 13:22] andrewkroh commented on #974
@gregoryo2014  I can explain.

The build you [linked](https://beats-nightlies.s3.amazonaws.com/index.html?prefix=jenkins/metricbeat/) to is created by Jenkins (a linux slave). It is not capable of cross-compiling Metricbeat for FreeBSD after the introduction of C code specifically for FreeBSD because this would required a FreeBSD cross-compiler which is not setup there. Previously it worked becaus

[2016-07-11 23:22] #1990 closed

[2016-07-12 07:16] adrianlop opened #2011 "Filebeat reading deleted files, caused FS 100% used"
- Version: Filebeat 1.2.3
- Operating System: Ubuntu Server 14.04 LTS
- Steps to Reproduce:

Filebeat didn't close deleted files, so the operating system couldn't free up FS space:

[code]

After restarting filebeat, OS could finally delete files:
[code]

I don't really know why Filebeat had this file opened (server.log.4), because I only configured this path (/var/log/kafka/server.log) in filebea

[2016-07-12 07:30] ruflin commented on #1600
Quick summary of the conversations yesterday:

Close configurations:
[code]
Close_older will be renamed to `close_idle` as it describes better that it does not depend on a file mode time but an idle harvester.

[code]
Same argument for `clean_idle` as for `close_idle`.

Instead of nesting the variable options under state and harvester, we will use comments the visualised the nesting. This reduces

[2016-07-12 08:35] ruflin opened #2012 "Filebeat Configuration Changes"
New `close_*` and `clean_*` config options are introduced. This issue is to track the progress. All discussions happened in https://github.com/elastic/beats/issues/1600

* [ ] Implement `close_timeout` https://github.com/elastic/beats/pull/1926
* [x] Rename `close_older` to `close_inactive`
* [x] Rename `clean_idle` to `clean_inactive`
* [x] Create documentation for new configuration options https

[2016-07-12 08:37] ruflin commented on #1974
@draenor That would be great. Keep me posted.

[2016-07-12 10:16] ruflin commented on #2011
Filebeat keeps the file open until `close_older` is reached. Can you share some details on the time period this happens?

[2016-07-12 10:27] adrianlop commented on #2011
hi @ruflin, I don't have `close_older` configured, but I have `ignore_older` set to 24h.
also, why is it opening `server.log`**.4** if I configured just `server.log`?

thanks for the quick response!

[2016-07-12 11:32] draenor commented on #1974
I've been running version `1.2.3` in parallel to the version `5.0.0` snapshot. Looking at the registry file for the same prospector there's this

* version `1.2.3`:  `"offset":3141`
* version `5.0.0` snapshot:  "offset":44309`

The logs from `1.2.3`

[code]

And the last log entry from version `5.0.0` (which judging by the timestamp continues where `1.2.3` doesn't)

[code]

Thoughts

* Version `5`

[2016-07-12 12:20] ruflin commented on #1974
It could be that you hit the following issue which was fixed in 5.0: https://github.com/elastic/beats/pull/1954

About the error above: Not 100% sure where this error is coming from. Some Googleing revelaed it could be Windows related. @andrewkroh Do you know here more?

Thanks for doing all the testing.

[2016-07-12 14:30] trevorndodds commented on #1070
Please make this an option, I for one prefer the shortname as it keeps the field length shorter. Some windows domains have really long FQDNs.

[2016-07-12 19:58] brandonmensing opened #2018 "Kafka version compatibility documentation"
Similar to how we document in LS, we should explain the versions of Kafka we're compatible with. @urso Might you be best to confirm which version(s) we support?

[2016-07-12 20:05] urso commented on #2018
beats uses [sarama](https://github.com/shopify/sarama) lib for kafka. Lib officially supports kafka 0.8 and 0.9. Kafka 0.10 might work too, but with potential performance loss. See [kafka upgrading docs](http://kafka.apache.org/documentation.html#upgrade)

[2016-07-12 20:10] ppf2 commented on #2018
@urso Thanks.  Does it mean that if a user already has Kafka 0.10 broker running prior to using the upcoming Kafka beats output (vs. having Kafka beats output running and later upgrade their broker to 0.10), there will be no potential performance loss?

[2016-07-13 09:03] #1740 closed

[2016-07-13 09:49] tsg commented on #1962
@petercort I couldn't reproduce this with either alpha3 or alpha4. This is the config I used:

[code]

And this is what I see with ngrep:

[code]

Can you perhaps post your full config and steps to reproduce?

[2016-07-13 11:58] tsg opened #2027 "Metricbeat Redis aof stats are named used"
See this [line](https://github.com/elastic/beats/blob/master/metricbeat/module/redis/info/data.go#L49). We need to fix it there, but also in `fields.yml`.

[2016-07-13 13:03] ruflin commented on #2011
Filebeat keeps the file open also if it is rotated or renamed, as the file handler is not "attached" to a file name. So it can happen that in your case when you check it, the file actually had a different name.

During doing some more refactoring in 5.0 we found a potential issue where we leak file descriptors: https://github.com/elastic/beats/pull/2020#discussion_r70607165 This could explain your

[2016-07-13 13:12] ruflin opened #2028 "Fix open file handler issue"
If during the start of a harvester and error happens during opening the file, it can happen that the file descriptor is not properly closed. This error was found in 5.x and is fixed in https://github.com/elastic/beats/pull/2020 but applies also all 1.x filebeat versions.

The openFile method must be adjusted so that also in case of an error during the first file checks, the file descriptor is clos

[2016-07-13 13:21] ruflin commented on #2011
Here is the PR for potentially fixing this issue: https://github.com/elastic/beats/pull/2029

[2016-07-13 13:51] #1735 closed

[2016-07-13 13:54] brandonmensing commented on #2018
Ooops, just realized this duplicates https://github.com/elastic/beats/issues/1450 - closing.

[2016-07-13 13:54] #2018 closed

[2016-07-13 14:14] urso commented on #1962
Also tested with master.

My pipeline config:
[code]

and filebeat config:
[code]

The `beat.name` is correctly modified by elasticsearch:
[code]

[2016-07-13 18:43] boeboe opened #2031 "[FileBeat] Illegal escape characters for include/exclude_lines (escaping [ and ])"
It is impossible to use literal chars '[' and ']' in the regex for include_lines and exclude_lines:

Example logline to include (starting with a space):

`<space>[some_key] <<"{\"lotId\":12786,\"amount\":20,\"timestamp\":1468339147905}">>`

**filebeat.yml** extract, escaping the '[' and ']' characters:

`include_lines: ["^ \[some_key\] <<"]`

Errors occur when checking filebeat configuration file,

[2016-07-13 20:57] #1997 closed

[2016-07-14 08:07] adrianlop commented on #2011
great, thanks @ruflin! that was fast :+1:

[2016-07-14 15:30] urso opened #2035 "console output: check stdout being available"
Check stdout being available when init the console output. Return error and quit beat if check fails.

[2016-07-14 15:30] andrewkroh commented on #2035
From urso: https://play.golang.org/p/OOiCvQuYB1

[2016-07-14 15:32] inqueue commented on #2035
The error looks like this when beats is running as a service where there is no stdout:
[code]

[2016-07-15 00:53] andrewkroh opened #2038 "Filebeat unmarshals JSON integers as float64"
Filebeat can unmarshal arbitrary JSON data, and when it unmarshals numbers they are of type float64. If you try to use a conditional filter with `equals` to match against a number read from JSON you get the following error.

`condition.go:240: WARN unexpected type float64 in equals condition as it accepts only integers and strings.`

Filebeat version: 5.0.0 git c54b7c4e161abe1f2f3d6aa181f8d18f575a

[2016-07-15 03:18] dayjavid opened #2039 "Default Beats installations don't seem to work with a default XPack installation"
I've been fighting this for a few hours now, but I believe I finally resolved my issue and I'm not sure if this counts as a 'bug' per-se, but it was definitely confusing.

Doing a blanket default installation of 5.0-4 across the board:
ES, Kibana, Logstash, Packetbeats, Metricbeats, Filebeats, XPack

I was able to get Filebeat data to insert into ES, but Metricbeats and Packetbeats weren't showing

[2016-07-15 07:40] tsg commented on #2038
The fact that JSON unmarshals

[2016-07-15 08:00] monicasarbu commented on #2038
This is the expected behavior. "equals" except only integers and string as it doesn't really make sense for floats. If you want to compare a float, then the "range" operation is needed.

[2016-07-15 08:13] monicasarbu commented on #2038
@andrewkroh How the numbers look like in the json file? Do they look like integers?

[2016-07-15 10:22] tsg opened #2041 "Filebeat 5.0.0-alpha4 losing messages"
On test done by @robin13 it seems that filebeat can drop lines when it's stopped with ^C during processing. The test does:

* a setup with filebeat and logstash with minimal configs (see below)
* start filebeat to read a file with 10k lines
* in the middle of filebeat processing, kill it with ^C
* restart filebeat, wait for it to process the whole file
* look at the output written by LS, sometimes

[2016-07-15 11:23] superwhykz opened #2043 "Live reload config files without restarting filebeat process"
Based on discussion opening enhancement feature request.
https://discuss.elastic.co/t/reload-if-modification-time-changes-in-config-files/55556

[2016-07-15 12:05] #1972 closed

[2016-07-15 12:31] robin13 commented on #2041
Attached are more simplified tests with sample source and a bash script to run the test multiple times.

I ran the test against logstash 5.0.0 alpha3 10 times each with following settings and results:

* filebeat 1.2.3 with SIGKILL or SIGHUP
  * 3 times the correct number of lines were produced, but the rest all had 6-15% duplicates.
* filebeat 5.0.0 alpha4 and SIGKILL
  * 7 times the correct numb

[2016-07-15 12:38] andrewkroh commented on #2038
@monicasarbu   Yes, the value is an integer in the JSON. I included an example in the description.

I updated the title to reflect the fact that the focus should probably be on the unmarshaling behavior instead of the processor condition since `equals` is designed for ints and strings.

[2016-07-15 12:46] robin13 opened #2044 "Duplicate events when filebeat is killed with SIGHUP/SIGINT"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For confirmed bugs, please report:
- Version: filebeat 1.2.3 and 5.0.0 alpha4 with logstash 5.0.0 alpha4
- Operating System: Ubuntu 14.0.4
- Steps to Reproduce:

Kill filebe

[2016-07-15 12:53] robin13 commented on #2044
Assuming that filebeat cannot wait indefinitely for an ACK (if logstash is blocked), it should wait some "sane" amount (e.g. default 5 seconds, but configurable) to fulfil the mandate of "under normal operations, no data loss or duplication should occur"

[2016-07-15 14:17] urso commented on #2041
modified test script (compare file length right after filebeat stop):

[code]

Have had to increase testfile by factor of 5, when testing locally.

[2016-07-15 14:36] draenor commented on #1974
With the setting `closed_older: 24h` I still experience `file inactive` errors (even though logs are set to roll daily).

The `5.0.0` snapshot does not seem to suffer from the same issue.

[2016-07-15 17:58] pedro-n-rocha commented on #536
:+1:

[2016-07-16 17:21] kan1207 opened #2049 "Beats cant send data suddenly to ES with errors pop up"
I am using ES 5.0, Kibana 5.0 alpha4 and various beats to send data to ES. Everything runs fine and smooth at first. However, after a day, the beats suddenly cannot send the beats to the ES. I have been using different bearts, including winlogbeat, metribeats, etc. All of them suddenly stop working.

Error is as shown

    2016/07/16 15:22:15.259659 single.go:130: INFO Connecting error publishing

[2016-07-17 20:05] ruflin commented on #2011
@adrianlop Any chance that you can test the nightly build to see if the problem disappears? https://beats-nightlies.s3.amazonaws.com/index.html?prefix=filebeat/

[2016-07-18 06:03] ruflin commented on #1974
@draenor Thanks for testing. I have the suspicion that the crawling hangs because of the Return channel not receiving data: https://github.com/elastic/beats/blob/1.3/filebeat/crawler/prospector.go#L461 This code does not exist anymore in 5.0. I will try to create some test cases to reliably reproduce this locally to find a fix.

[2016-07-18 06:05] #2035 closed

[2016-07-18 06:24] ruflin commented on #2049
Closing this issue in favor of https://discuss.elastic.co/t/beats-cant-send-data-suddenly-to-es-with-errors-pop-up/55668 until we have a confirmed bug. Please do not double post.

[2016-07-18 06:24] #2049 closed

[2016-07-18 06:51] ShahSunny opened #2050 "Support host based partition-key for Kafka output, Important for ordering."
Support host based partition-key for Kafka output, Important to ensure the ordering of logs per host.

For confirmed bugs, please report:
- Version: 5.0.0 Alpha 4
- Operating System: Linux
- Steps to Reproduce:

[2016-07-18 07:10] ruflin commented on #2050
@ShahSunny As far as I understand, that is a feature request for the Kafka output and not a bug?

[2016-07-18 07:56] adrianlop commented on #2011
@ruflin sure! I just installed alpha5 in the machines where I had problems. I'll write you back in a couple of days!

[2016-07-18 08:39] ruflin commented on #2039
This seems to be the related discuss topic: https://discuss.elastic.co/t/not-seeing-packetbeat-info-no-packetbeat-data-in-elasticsearch-for-5-0-alpha-4/55583/7 Did your configs for filebeat and packetbeat on the output side look identical? Did you configure username / password?

[2016-07-18 10:05] urso commented on #2050
Yes, it's a feature request.

[2016-07-18 10:06] urso commented on #2041
Fix has been merged. closing.

[2016-07-18 10:06] #2041 closed

[2016-07-18 10:11] urso opened #2052 "Documents beats testing for developers"
[Related discussion including some testing details](https://discuss.elastic.co/t/how-to-test-my-beat-output/55449)

With libbeat being mostly targeted for developers, maybe it makes sense to have a separate beats-developer documentation instead of some guide here and there?

[2016-07-18 10:39] ruflin commented on #2044
The current behaviour is somehow expected, as the connection is "just" closed. I think the best option would be to introduce a config option like `shutdown_timeout` or something similar where a  timeout can be configured. I would keep it set to 0 by default as the "sane" amount can be very different depending on how many messages are sent and if servers are reachable. So it is up to the user to fi

[2016-07-18 10:54] #2005 closed

[2016-07-18 11:01] ruflin commented on #1361
@BellBiker Several new config options to close a harvester were introduced in the nightly builds: https://github.com/elastic/beats/issues/1600#issuecomment-228670068 It would be interesting to hear if one of these options help in your case. Also in https://github.com/elastic/beats/pull/2020 we fix a bug that could lead in some special cases to some open file handlers which could potentially explai

[2016-07-18 11:06] ruflin commented on #1022
I'm going to close this issue as all the necessary changes to separate prospector and registrar state handling are now in master. In addition new clean_* variables were introduce to clean up the registry file either on removal or after a certain time. All the discussions and related PR's can be found in https://github.com/elastic/beats/issues/1600. Some small changes related to naming and docs are

[2016-07-18 11:06] #1022 closed

[2016-07-18 11:14] ruflin commented on #1341
@billmurrin This problem should now be solvable through `clean_removed` and `clean_idle / clean_inactive` (still needs renaming). https://github.com/elastic/beats/pull/1922 Closing this issue. Would be great if you could test out this feature. It is currently part of the nightly builds and will be shipped soonish with beta1.

[2016-07-18 11:14] #1341 closed

[2016-07-18 11:22] ruflin commented on #1600
Closing as all changes were implemented. Small follow up changes are tracked in https://github.com/elastic/beats/issues/2012

[2016-07-18 11:22] #1600 closed

[2016-07-18 12:18] ruflin commented on #963
Several test to check shutdown code and check for panic were added. Shutdown behaviour is now changed.

[2016-07-18 12:18] #963 closed

[2016-07-18 12:22] ruflin commented on #1464
For some more details also see https://github.com/elastic/filebeat/issues/206 Close https://github.com/elastic/filebeat/issues/206 to have all the discussions in this new issue.

[2016-07-18 12:55] BellBiker commented on #1361
@ruflin  Sorry, due to other tasks and my vacation I cannot try this before end of August. I will create an reminder to myself.

[2016-07-18 13:14] andrewkroh commented on #986
For the 5.x releases there are 32 and 64-bit versions available for Windows on the download page (the Topbeat features are now in Metricbeat).

[2016-07-18 13:44] andrewkroh commented on #819
This should be fixed now. I tested with Metricbeat and took ES offline for a bit and brought it back online and there was not high CPU or memory usage.

If you do retest with a newer version and find the issue again please reopen.

[2016-07-18 13:44] #819 closed

[2016-07-19 07:07] zepag commented on #581
+1

[2016-07-19 07:46] ruflin opened #2055 "Update to Golang 1.7"
https://github.com/golang/go/releases/tag/go1.6.3

[2016-07-19 07:49] ruflin commented on #1361
@BellBiker Thanks. Enjoy your vacations. We will keep investigating. I will post here in case we find some more issues.

[2016-07-19 08:03] erniteshjain opened #2056 "Filebeat issue with ready logs from NFS"
Filebeat 1.2.3

Using it to ready logs from shared mount folder (nfs). However after sometime filebeat stops sending logs to logstash cluster.

Requesting for any solution to fix this issue.

[2016-07-19 08:18] ruflin commented on #2056
It is not recommended to read log files from shared volumes: https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-network-volumes.html

I'm not sure if your issue is related to the shared volume or an issue in 1.2.3 as it sounds very similar to this here: https://github.com/elastic/beats/issues/1974

I'm closing this issue as I think either it is a duplicate of an existing issue. Please

[2016-07-19 08:18] #2056 closed

[2016-07-19 10:54] tsg opened #2058 "Wrong default configuration file in the usage text"
It looks like we have a regression in master compared to alpha4. Here is the alpha4 `-h` for filebeat:

[code]

And here is for master:

[code]

The `beat.yml` part is wrong, since when executed without any `-c` it correctly uses `filebeat.yml` from the binary folder.

[2016-07-19 11:35] urso commented on #2028
in golang open registers a finalizer with file-handles, closing files after garbage collecting `os.File` objects.

[2016-07-19 12:53] petercort commented on #1962
I was on vacation last week so I'll test today and update with my findings.

[2016-07-19 13:05] #2058 closed

[2016-07-19 13:08] tsg commented on #2028
#2029 was merged.

[2016-07-19 13:08] #2028 closed

[2016-07-19 13:10] tsg commented on #1662
#1828 was merged.

[2016-07-19 13:10] #1662 closed

[2016-07-19 14:26] dayjavid commented on #2039
The only changes I made were to the filebeat's input files. The default didn't include many active files, so I added ones such as /var/log/messages.

I did not touch any authentication parameters on either.

[2016-07-19 14:44] urso opened #2064 "Elasticsearch ingest node pipeline mapping"
Elasticsearch event pipeline can currently only configured via `output.elasticsearch.parameters.pipeline`. Improve pipeline configuration+selection by:

- dynamically choose ingest pipeline per event
- add support for multiple pipelines
- define optional mapping from event to pipeline name
- support for conditionals to select pipeline on more complicated rules

Introduce new setting `output.elasti

[2016-07-19 14:58] tsg commented on #2064
Seems quite flexible, I cannot think of a use case not covered :-). I guess a first version could be to just cover the first two sample configs (set pipeline using format strings + a default value in case of errors). That should cover already most use cases, right?

[2016-07-19 21:40] tsg commented on #2038
Unfortunately that's just how Unmarshal works in Go: if it's a number, put it in `float64`. One option that I'm thinking is that after unmarshalling, we do a pass through the result and for all `float64`s we check if they are within ε of an integer, and if they are we convert to `int64`. We make ε configurable with a default value of 1e-6 or something like that.

@andrewkroh @monicasarbu Thoughts?

[2016-07-19 21:44] tsg commented on #1962
Hmm, 404 is not expected. Can you somehow copy & paste the request/response pair from wireshark, please? Or upload the trace somewhere.

[2016-07-19 21:49] tsg commented on #1746
I believe this is fixed in the 5.0-alphas.

[2016-07-19 21:49] #1746 closed

[2016-07-19 21:55] tsg commented on #410
I think this ticket got lost through the cracks, and in the meantime we had quite a lot of refactorings to the redis output and to the outputs in general, so I doubt this is still a problem. Please reopen if you think otherwise.

[2016-07-19 21:55] #410 closed

[2016-07-19 21:58] tsg commented on #537
Closing this one, I just didn't see many users stumbling on this problem, so I think it's not worth switching to another library.

[2016-07-19 21:58] #537 closed

[2016-07-19 22:37] joshuar opened #2070 "Feature Request: Store a YUM .repo file somewhere so that yum/dnf can add the repo directly"
In our [repositories instructions for yum](https://www.elastic.co/guide/en/beats/libbeat/current/setup-repositories.html#_yum), we currently ask people to manually create the repo file.  We should instead  store the `.repo` file somewhere where people can download it directly with `yum` or `dnf` as well, which is much more convenient.  Then, they can use:

[code]

or

[code]

[2016-07-19 23:05] andrewkroh commented on #2070
I like this idea. I can publish a versioned file to the S3 bucket. I propose that it be located at https://packages.elastic.co/beats/yum/el/beats-1.x.repo   How does that sound?

[code]

If we do this, then for 5.x we should do it for all products as part of the unified release. @rjernst, thoughts?

[2016-07-20 01:59] bladedoyle commented on #581
Need it.   +1

[2016-07-20 06:11] #2027 closed

[2016-07-20 06:29] ruflin commented on #2039
For beats to work with Shield you must configure username and password, so this is an expected behaviour. Closing this issue. Please reopen if you think differently.

One thing I added to my list to check is if we show proper error messages in the log in case the authentication fails.

[2016-07-20 07:49] ruflin commented on #2064
That means to select a pipeline for a prospector I could use:

[code]

One additional thing I would like to have is that I can use:

[code]

This would be possible if we make `pipelines` (or only the second one) part of meta. The advantage is that this make pipeline configuration "local" in the configuration. The disadvantage is that this is somehow ES specific but the outputs which don't need it,

[2016-07-20 11:12] MonDeveloper opened #2073 "Microsoft ETW (Event Tracing for Windows) Listener. Look for a Beats to deal with Service Fabric Logging!"
The Microsoft Service Fabric platform (a full system from microsoft to develop & run microservices) uses the Microsoft ETW subsystem to manage both Infrastructure and Application Logging, in order to ship those logs into Elastic without implementing esoteric & ad-hoc configuration we are wondering if Beats could implement a ETW message receiver so everything will run according the official archite

[2016-07-20 11:18] geeko76 commented on #2073
I double quote the request, it would be very very very helpful !!
Thank you for support.

[2016-07-20 11:19] Rofos0574 commented on #2073
It would be a great improvement. I really need it and it would be a great functionality for all the people who want to use elastic search functionalities to process the logs coming from service fabric.

[2016-07-20 11:27] rosfisi commented on #2073
It would be very interesting and helpful! A great help! Thx!

[2016-07-20 11:55] ruflin commented on #2073
Thanks for the request. As I'm not familiar with Microsoft ETW it would be nice if you could provide some links to read up the details on how the infrastructure and application logging works and how a beat could hook into this.

[2016-07-20 13:37] andrewkroh commented on #2073
There are two other requests for ETW on the forums.

https://discuss.elastic.co/t/windows-dns-diagnostic-logs/53344
https://discuss.elastic.co/t/does-winlogbeat-work-with-the-semantic-logging-application-block-slab/47524/2

[2016-07-20 13:57] tsg opened #2074 "Add index pattern, rename index options"
Meta issue for transforming the Elasticsearch output index option into an index pattern (#921) and for cleaning up the outputs configuration around indices.

Tasks:

* [x] In the Redis output, rename the `index` option to `key`, deprecating `index` for now. #2077.
* [x] In the file output, remove the `index` option. #2077
* [x] In the elasticsearch output, make `index` accept an index pattern #211

[2016-07-20 14:06] MonDeveloper commented on #2073
@ruflin here [https://msdn.microsoft.com/en-us/library/dn775006.aspx] you can find an overall description of the SLAB (Semantic Logging Application Block) "https://msdn.microsoft.com/en-us/library/dn775006.aspx"; it describes 2 scenarios: "In Process" & "Out Of Process", what we are looking for is a Beat to replace the poorly developed "Out-of-process windows service" to intercept the logs at OS l

[2016-07-20 14:10] dayjavid commented on #2039
2 Reasons I think this is still an issue:
1. All beats don't seem to react similarly on a default installation - inconsistency
2. With the move to XPack being an all-in-one solution, there is very little mention given to the implications of installing it, thus causing confusion like this.  For point 2, it's not so much I think it's a problem with how the apps work, but may there could be a little

[2016-07-21 13:10] zyrill opened #2079 "Count each unique mountpoint once in fsstasts"
- Version: # metricbeat version 5.0.0-alpha4 (amd64), libbeat 5.0.0-alpha4
- Operating System: CentOS Linux release 7.2.1511 (Core)
- Steps to Reproduce: activate fsstat metricset, switch logging to debug, compare with df output

Following the full info.
metricbeat Config:
[code]

A relevant entry of the metricbeat log:

[code]

The corresponding output from the same machine of df:

[code]

As you

[2016-07-22 14:25] runningman84 opened #2084 "filebeat wildcard for directories"
It looks like filebeat does not support wildcards in directories like this:

[code]

[2016-07-25 06:35] ruflin commented on #2039
1. The behaviour of all beats should be identical as the use the exact same library and configs for the connection. The difference is that Filebeat waits for ACK and the other beats currently don't. What you are saying is that filebeat data was shipped without setting the auth configs, but the others weren't? That is really strange.
2. Agree here, we should have a look the docs and defaults here.

[2016-07-25 07:02] ruflin commented on #2079
Could you run metricbeat with the filesystem module enabled. This should show you what the 32 file systems are that were counted.

[2016-07-25 07:26] ruflin commented on #2084
This is related to https://github.com/elastic/filebeat/issues/68 Wildcards for directories should already be supported. What is the behaviour you were expecting? Are you looking for `**` which crawls all subdirectories (and is not supported at the moment)?

[2016-07-25 07:34] runningman84 commented on #2084
My folders look like this
[code]
This config does not seem to work:
[code]
Do I need to change the config to this?
[code]

[2016-07-25 07:43] ruflin commented on #2084
I would expect it to work, but TBH so far I only tested `/opt/*/scripts.log` examples, means only one directory with a `*` pattern. Could you briefly tests if `/opt/codedeploy-agent/deployment-root/4b74562c-cee3-40f5-8d36-6f588eeed802/*/logs/scripts.log` works for you? Which filebeat version are you using?

[2016-07-25 08:16] zyrill commented on #2079
I did, info following (I converted the JSON into a slightly better readable table):

[code]

[2016-07-25 09:03] thenom commented on #581
+1

[2016-07-25 11:42] runningman84 commented on #2084
yes
/opt/codedeploy-agent/deployment-root/e8be8394-bb4f-403e-abd8-03045480217d/*/logs/scripts.log
works

[2016-07-25 16:29] andrewkroh commented on #2079
Link to Discuss topic: https://discuss.elastic.co/t/all-numbers-reported-by-metricbeat-too-high-bug/56094/5

[2016-07-25 22:39] tsg commented on #2044
We've discussed this a bit in our team meeting, here is a summary. The solution proposed in this ticket (wait for a configurable amount of time before shutting down the publisher and the registrar) would be relatively easy to implement and would help, but it has the following disadvantages:

* The amount of time to wait that would be "enough" is hard to estimate, because we depend not only on the

[2016-07-26 02:18] #2038 closed

[2016-07-26 06:08] ruflin commented on #2084
Ok, so it seems to work with one directory but not 2 nested directories. We use directly `Glob` from Golang for the pattern: https://golang.org/pkg/path/filepath/#Glob Currently all pattern supported by `Glob` are supported by filebeat.

[2016-07-26 11:14] runningman84 commented on #2084
do you know a pattern which would work here?

[2016-07-26 14:21] kisienya commented on #152
+1

[2016-07-26 14:23] kisienya commented on #154
+1

[2016-07-26 14:23] kisienya commented on #153
+1

[2016-07-26 15:14] andrewkroh commented on #2084
@ruflin I'm thinking we should list the patterns supported (https://golang.org/pkg/path/filepath/#Match) in our documentation or link to it. Also we should put some info in there to clarify that only one wildcard is supported (assuming I understand correctly)?

If you agree I can open a new issue to add this to the docs.

[2016-07-26 15:58] spacewander commented on #22
Is there any plan to support a pure HTTP/HTTPS output protocol? I'm working on a fork to add http/https Outputer currently.
BTW, will there be a group of API for people to implement their own output plugins?

[2016-07-26 20:31] mkocikowski commented on #1492
I've been looking at the same thing when using journald and the `__CURSOR` field for idempotent indexing.

[2016-07-27 00:11] seventy-7 opened #2103 "New files detected but data not sent (offset: 0)"
Please remove this issue... I will post on https://discuss.elastic.co/c/beats first.

[2016-07-27 00:13] #2103 closed

[2016-07-27 03:37] bigtoerag commented on #152
@gerardseeto has forked packetbeat and has some good ideas on a way forward but needs help with learning GOlang.

Can anyone with GO skills contact him and see if its easy to progress?

[2016-07-27 07:52] ruflin commented on #2084
@andrewkroh Agree. TBH so far it wasn't clear to me that multiple `*` do not work. It also doesn't seem to be state in the Golang docs (or haven't found it yet).

[2016-07-27 09:01] kisienya commented on #152
Try these resources:

https://tour.golang.org/welcome/1
https://gobyexample.com/

Thanks

[2016-07-27 09:02] kisienya commented on #152
One more...https://www.golang-book.com/

[2016-07-27 13:44] andrewkroh opened #2108 "Filebeat - Document Filepath Glob Patterns"
See https://github.com/elastic/beats/issues/2084#issuecomment-235300218

[2016-07-28 16:48] cyrilleverrier opened #2120 "config can't expand a env variable with a default value that contains a colon"
- Version: filebeat version 5.0.0-alpha5 (amd64), libbeat 5.0.0-alpha5
- Operating System: Ubuntu
- Steps to Reproduce:

Edit `filebeat.yml` file with

[code]

Run `./filebeat -configtest`

Expected Result: `Config OK`
Actual result: `filebeat is hanging`

It would be useful to be able to support such kind of default values as they represent valid URLs

[2016-07-28 16:49] cyrilleverrier commented on #2120
Reported in go-ucfg: https://github.com/elastic/go-ucfg/pull/50

[2016-07-28 19:14] PhaedrusTheGreek opened #2125 "No rule to make target `install-home'. Stop."
HI @tsg ,

I am experiencing problems running `make package`.

Build Env = Centos 6.7
Beat = https://github.com/PhaedrusTheGreek/nagioscheckbeat

Whenever I run the packager, it seems to create most containers properly, but then fails on running a certain target: `install-home`.

Then when running `make package` :

[code]

Strangely, when I run this target manually in the given directory, it works

[2016-07-28 22:13] tsg commented on #2125
For nagioscheckbeat this should be fixed by https://github.com/PhaedrusTheGreek/nagioscheckbeat/pull/3

For the other community beats, we should consider the following changes:

* The generator doesn't encourage people to use a `vendor` directory, but it is actually required for packaging. I think we will save people time if we run `glide create` and `glide install --strip-vcs` during the setup ph

[2016-07-29 09:59] tsg opened #2128 "Improve packaging for community Beats"
#2125 has revealed some issues with the packaging for the community Beats created with the generator. This is a meta ticket for improvements:
- [ ] The generator doesn't encourage people to use a vendor directory, but it is actually required for packaging. I think we will save people time if we run `glide create` and `glide install --strip-vcs` during the setup phase and we default the ES_BEATS Ma

[2016-07-29 09:59] tsg commented on #2125
I spawned #2128 for the above points. Closing this one, but let us know if you hit any issues.

[2016-07-29 09:59] #2125 closed

[2016-07-29 12:47] #2120 closed

[2016-07-30 03:38] andrewkroh opened #2137 "Using Metricbeat's system module inside Docker"
# Running Metricbeat in Docker

Goal: We want to be able to monitor the host machine from within a container.

#### The Command:

[code]

This would mount the host’s filesystem under /rootfs inside the container. This gives Metricbeat’s system module access to data from the host. Normally Metricbeat reads the following data, but it will need to read all of this data relative to /rootfs to capture

[2016-07-31 17:20] oazabir opened #2138 "Topbeat reporting inaccurate CPU"
TOPbeat reporting CPU use as 50,000,000,000,000% for some process.

![image](https://cloud.githubusercontent.com/assets/1611494/17278064/13ceae26-574b-11e6-92b1-dc8524f3a6b2.png)

Another example:

![image](https://cloud.githubusercontent.com/assets/1611494/17278068/2687447e-574b-11e6-9d66-0f072a3d08ad.png)

Here's /proc/cpuinfo last block:

[code]

And output from top:

[code]

[2016-07-31 17:21] oazabir commented on #2138
Topbeat installed via yum.
topbeat.x86_64                                                                                        1.2.3-1

[2016-07-31 22:07] pbkdf3 commented on #679
logstash can run in as distributed manner as you want, it has a file input and all the outputs you want, including logstash.  Just use it instead of filebeat if you want to grok in a distributed manner.

[2016-08-01 07:54] tsg opened #2141 "Wrong cypher name in docs"
A bug report coming via the sales team says that on the cyphers listed on this [page](https://www.elastic.co/guide/en/beats/winlogbeat/current/configuration-output-tls.html#_tls_options) we write `ECDHE-ECDSA-AES256-GCM-SHA384` when actually correct is `ECDHE-ECDSA-AES-256-GCM-SHA384 ` (note the extra dash in `AES-256`).

[2016-08-01 11:26] pietervogelaar commented on #420
What is the status of this issue? I really want this, because a system load that is not divided by cores is not very useful to show on a Kibana dashboard for Linux systems.

[2016-08-01 11:28] monicasarbu commented on #420
@pietervogelaar This is implemented in https://github.com/elastic/beats/pull/2101 it will be available in the next release, 5.0.0-alpha5, that is coming out this week.

[2016-08-01 11:29] monicasarbu commented on #420
Closing this issue as it's implemented in #2101.

[2016-08-01 11:29] #420 closed

[2016-08-01 14:12] dkinon commented on #581
+1

[2016-08-01 14:33] andrewkroh commented on #2138
I believe this issue has been fixed in 1.3 branch (not released yet). See https://github.com/elastic/beats/pull/1928. Can you try the [snapshot build](https://download.elastic.co/beats/topbeat/topbeat-1.3.0-SNAPSHOT-x86_64.rpm) to see if it fixes this issue?

[2016-08-01 14:52] JalehD opened #2143 "Packetbeat encoding the params in a none standard format (using + for space)"
I used packetbeat to sniff queries sent to a elasticsearch cluster, this is for customers who wish to check the type of queries sent by their users. While testing this it's apparent that packetbeat is using + for encoding space and as result params can not be decoded with the standard urldecode plugin for logstash.

example of what packetbeat sends

`{
            "_index": "packetbeat-2016.07.28"

[2016-08-01 16:13] #2141 closed

[2016-08-01 17:27] Ragsboss commented on #637
+1. Is anyone working on this? If not I could possibly take it up..

[2016-08-02 02:22] dayjavid commented on #2039
1. I will work on confirming this. Sorry for the delay, work has been picking up recently.

[2016-08-02 06:17] ruflin opened #2148 "Improve generators"
- [ ] Decide on exact usage of vendor directory (what is our recommendation)
- [ ] Decide if glide should be used
- [ ] Decide if we recommend to check in vendor or not
- [ ] Add docs for vendoring
- [ ] Improve location of templates for generation from python code (currently under scripts)
- [ ] Simplify python generator scripts (remove duplicated code)

[2016-08-02 06:18] ruflin commented on #2148
See also https://github.com/elastic/beats/issues/2128

[2016-08-02 08:23] ruflin commented on #637
@Ragsboss I don't think anyone is working on that. Would be great to have a PR for that to discuss the details.

[2016-08-02 08:47] ruflin commented on #2039
@dayjavid Thanks for the investigations.

[2016-08-02 09:31] tsg commented on #2011
@adrianlop hi, any news on this one? Does it look good? Thanks!

[2016-08-02 09:42] adrianlop commented on #2011
wow guys, I forgot posting back, sorry.
Looks good, yes!

thank you

[2016-08-02 09:42] #2011 closed

[2016-08-02 09:51] tsg commented on #1801
Fixed by #2141. If we ever need it again, I tested the rest of a names with the following config (ciphers copied from docs):

[code]

[2016-08-02 09:51] #1801 closed

[2016-08-02 09:57] urso commented on #22
This issue is about protocol analyzers enhancement requests in packetbeat, not output plugins. Ticket is closed long time ago in favour of [separate enhancements requests](https://github.com/elastic/beats/issues?q=is%3Aopen+is%3Aissue+label%3A%22new+module%22+label%3APacketbeat).

No generic HTTP output plugin planned. No idea what's meant by API. Please open another discussion (best on discuss.el

[2016-08-02 10:25] aderumier opened #2150 "runtime error: slice bounds out of range"
- Version: packetbeat 1.2.3
- Operating System: debian jessie

Aug  2 12:23:28 kvm15 /usr/bin/packetbeat[3973]: log.go:113: ParseHttp exception. Recovering, but please report this: runtime error: slice bounds out of range.
Aug  2 12:23:28 kvm15 /usr/bin/packetbeat[3973]: log.go:114: Stacktrace: /go/src/github.com/elastic/beats/libbeat/logp/log.go:114 (0x4c5a96)#012/usr/local/go/src/runtime/asm_amd

[2016-08-02 12:50] monicasarbu commented on #2143
Currently Packetbeat cannot differentiate between an embeded JSON in a POST message and a form, as the `Content-Type` contains `x-www-form-urlencoded` in both cases. In both cases, the `params` is set to the value of the attachment. We should differentiate between these two cases and set `params` only with the values from the form. In case there is an embedded JSON, we should treat the case simila

[2016-08-02 12:54] urso commented on #2143
btw. using `+` for spaces is standard and quite common (as using '%' encoding is somewhat discouraged for the query part in URLS0. It should also be supported by urldecode plugin I think (I think urldecode expects full valid URL instead of plain parameters, though).

[2016-08-02 13:33] ruflin commented on #2137
@andrewkroh +1 on this suggestion. This would probably be a config option of the system module?

[2016-08-02 13:34] ruflin commented on #2055
As Golang 1.7 is around the corner, it probably makes sense to update to Golang 1.7 directly: https://github.com/golang/go/milestone/31

[2016-08-02 13:46] andrewkroh commented on #2137
Due to some limitations in gosigar and gopsutil this cannot be a config option. The values are global so having a per module config value won't work.

[2016-08-02 13:56] ruflin commented on #2137
Would it work as a `metricbeat.*` option? Means it applies to all system modules?

[2016-08-02 14:07] ruflin commented on #2150
Could you share some pcap files of when this happens? Can you also share your config file?

Did this happen only once or does this happen more often?

[2016-08-02 18:00] rcsavage opened #2161 "filebeat 1.2.2 and 1.2.3 beats_input_flushed_by_end_of_connection"
FYI -

I am seeing this message in my Kibana display under "Tags" for some of my logs.

JSON SNIPIT of LOGS
    "@version": "1",
    "tags": [
      "beats_input_flushed_by_end_of_connection"
    ]
  },

This appears on some of my logs, but not most.   It makes my developer's lives very frustrating when they are searching Kibana.

My setup:  Logstash->Elasticsearch

I've tried setting the max line

[2016-08-02 18:09] chandru9279 opened #2162 "Reading interleaved logs in beats"
Rails leaves interleaved logs
[code]
What I want in elastic search index is 2 log events
[code]
I have a UUID to show that they are related.

Is there a way to buffer logs in filebeat before sending them? A special case of multiline with timeout?

[2016-08-02 18:36] dosullivan opened #2163 "Filebeat runtime error: slice bounds out of range"
When running the alpha4 build of filebeat 5 with a fairly minimal configuration, I am running into what seems to be a bug. Filebeat is failing to start, and produces the following output:
[code]

- Version: filebeat-5.0.0-alpha4
- Operating System: ubuntu 14.04.4 LTS
- Steps to Reproduce: start filebeat with following configuration:

[code]

[2016-08-02 22:32] nickcarenza commented on #1630
Is there any way to accomplish loading multiple config files currently? Even if I have to restart.

[2016-08-02 22:32] nickcarenza commented on #1630
I have tested providing multiple -c flags to filebeat to no avail.

[2016-08-02 23:08] urso commented on #2161
No idea about this tag. I guess it's inserted by [logstash input plugin](https://github.com/logstash-plugins/logstash-input-beats)? I think one can still remove unwanted tags in logstash.

[2016-08-02 23:08] #2161 closed

[2016-08-03 01:39] brandonmensing opened #2164 "Document common practice for bandwidth throttling in FAQ"
Users often want a Beat to limit network usage but it makes more sense for the network stack in the OS to handle this for many reasons. Let's provide an explanation of this and potentially an example of how this could be done on a common platform.

[2016-08-03 08:30] tsg commented on #2162
This is currently not possible in Beats, but should be possible in Logstash with [the aggregate filter](https://github.com/logstash-plugins/logstash-filter-aggregate). Would that work for you?

[2016-08-03 09:01] ruflin commented on #2163
Thanks for reporting this. To reproduce it I need some more details form your side:

* Can you share the content if your registry file?
* Does this directly happen after startup?
* Can you run the beat with `-e -d "*"` and share the log output?
* Are the two log files that you listed existing?
* Does any rotation happen on the log files?

[2016-08-03 09:34] sirkjohannsen commented on #1059
+1 on php-fpm

[2016-08-03 09:36] tsg commented on #2164
Googling a bit, [this](http://www.cyberciti.biz/faq/linux-traffic-shaping-using-tc-to-control-http-traffic/) seems to contain what we need, but I didn't test it yet.

Something like:
[code]

[2016-08-03 09:49] ruflin commented on #1630
This is kind of related to https://github.com/elastic/beats/issues/464 as both need dynamic reloading of configuration options.

[2016-08-03 10:54] tsg commented on #2163
After digging a bit in history, it looks like this was already fixed in https://github.com/elastic/beats/pull/1915, which was committed a little after releasing alpha4. So the bug will be fixed with the alpha5 release.

@dosullivan thanks for reporting!

[2016-08-03 10:54] #2163 closed

[2016-08-03 11:12] monicasarbu commented on #2143
In this case, Packetbeat is doing the right thing by exporting the parameters under `params` as it expects to be a form when `Content-Type` is set to `x-www-form-urlencoded`.

I am working on a solution https://github.com/elastic/beats/pull/2167 that exports the content of the HTTP body under `http.request` and `http.response, that I hope would solve the issue.

[2016-08-03 12:13] monicasarbu commented on #2143
With the current version of Packetbeat, the following configuration option should work to export the HTTP payload of the request/response under `http.request`/`http.response`:
[code]

[2016-08-03 17:20] tsg opened #2171 "beat.sh script cannot use a custom config path"
In alpha5 we added the option to use the `-c` multiple times. This somewhat breaks the beat.sh scripts that we put in the `/usr/bin` for DEB/RPM installations (the beat binary is not in $PATH by default).

Here is an example of a script:

[code]

One of the things that was possible in alpha4 was to specify a custom config file, e.g.:

[code]

This was overriding the default config file from the sc

[2016-08-03 17:22] tsg commented on #2171
IMO, the best solution would be if the default value for `-c` is `filebeat.yml` which is searched in `path.config`. Then we don't need to put it explicitly in the script, and the user can override it with `-c` passed to the script.

Have to check if this is a viable solution, I know we had issues with this approach before, but I think that was before introducing the config paths.

[2016-08-04 05:51] reallistic commented on #1458
@ruflin I just ran into this. Is there something that needs to be done to clear the registry file? I indeed didn't have this set at first and reloaded the config with it turned on.

[2016-08-04 09:08] tsg commented on #2164
After testing I managed to get the right effect with the following commands:

[code]

This sets a limit of 50 kbps on the TCP connections towards port 5044. I.e. you would normally execute this on the Beat side. It doesn't slow down any other connections.

Where should we put this example? FAQ? Troubleshooting guide?

[2016-08-04 20:41] reallistic commented on #1458
For others that may come across this, I simply deleted the registry file.
I am running on centos, and my file was located at: `/var/lib/filebeat/registry`

See here for more info: https://www.elastic.co/guide/en/beats/filebeat/current/_updating_the_registry_file.html

[2016-08-04 21:52] CrispySteak opened #2177 "Packetbeat misconfigured default JSON setting"
Using Kibana 5.0 v4 on Linux x64 the following fields import as strings rather than numbers (which is more than rather inconvenient and intuitive):

source.stats.net_packets_total
source.stats.net_bytes_total
dest.stats.net_bytes_total
dest.stats.net_packets_total

Problem should be in the  beats/packetbeat/etc/kibana/index-pattern/packetbeat.json

Thanks!

[2016-08-04 21:58] andrewkroh commented on #2177
It looks like these fields are marked as `keyword` type in the [index template](https://github.com/elastic/beats/blob/master/packetbeat/packetbeat.template.json#L276-L282) so both the fields.yml and the dashboards will need to be updated.

[2016-08-05 00:26] remotesyssupport opened #2178 "Filebeat (5.0.0-Alpha4 and 5.0.0-Alpha5-snapshot) and filter bug"
Initially discussed on: https://discuss.elastic.co/t/filebeat-5-0-0alpha4-and-filter/57287

Our present setup is:

We were looking into the option of filtering (dropping) un-needed event logs at the source that is using FileBeat.

Our typical Log line (celery logs) that we would like to drop look like:

The Filter in filebeat.yml (in reduced form), is

    ### Filters
    filters:
      - drop_eve

[2016-08-05 01:45] spacewander commented on #2178
Configure relative bug?
https://github.com/elastic/beats/blob/master/libbeat/processors/condition.go#L138

[2016-08-05 07:40] cFire commented on #637
@Ragsboss @ruflin I'm delighted to see there's someone looking to pick this up. Is this happening? The reason I ask is because it may be possible for me to spend some time helping out with this in lieu of building another solution for gziped logs to use internally.

[2016-08-05 11:57] Beamboom commented on #581
-1
It's a wise decision.
It's enough with logstash supporting a plentitude of outputs if not the same work should be done here too. Use a logstash instance before RabbitMQ instead.

[2016-08-05 12:22] pietervogelaar commented on #581
@beamboom How do you feel about filebeat that has redis support? Would you like to remove that also?

[2016-08-05 12:24] Beamboom commented on #581
I'd not mind that, no.

2016-08-05 14:22 GMT+02:00 Pieter Vogelaar <notifications@github.com>:

[2016-08-05 12:44] internaute opened #2179 "packetbeat-devices"
Hello everyone

Could you help me please

when I enter this commant
**packetbeat -devices**   I get the following lines:

 runtime error: invalid memory address or nil pointer dereference
[signal 0xb code=0x1 addr=0x0 pc=0x717409]

goroutine 1 [running]:
github.com/elastic/beats/vendor/github.com/tsg/gopacket/pcap.sockaddr_to_IP(0x0, 0x0, 0x0, 0x0, 0x0, 0x0)
	/go/src/github.com/elastic/beats/vendo

[2016-08-05 14:06] cyrilleverrier opened #2180 ""make update" fails at step Generate index-pattern"
- Version: latest code from master
- Operating System: Ubuntu
- Steps to Reproduce:

`make update`

[code]

Reason: the folder structure does not (yet) exist locally

[2016-08-05 17:32] Ragsboss commented on #637
@cFire please feel free to take this up. I've started looking at the code familiarizing myself with Go in general and FileBeat code. But I haven't started the real work yet. I'll try to help you in anyway you want, just let me know.
Few thoughts I had. From a pure functional viewpoint, defining a new `input_type` doesn't seem ideal as that would force users to author a new prospector in the config

[2016-08-05 18:56] dkinon commented on #581
@Beamboom not sure how redis support fits your argument but not rabbitmq.

I use rabbitmq currently but would switch to redis in a second if filebeat supported it.  So +1 redis support and +1 rabbitmq support, whichever gets us there quicker.

Logstash HA deployments in most, if not all, cases involve running logstash in 2 clusters/roles: **logstash shipper** (logstash-lumberjack collects logs fro

[2016-08-05 23:19] ant31 commented on #581
I think as users, we would like to replace the logstash shipper by a filebeat for multiple reason.
But doing that we don't want to change the chain after this point.

from:
`logstash -> rmq -> logstash -> outputs`
to
`filebeat -> rmq -> logstash -> outputs`

Rabbitmq have been the recommanded broker, many configuration include it.
It's fair to ask for its support in filebeat..

[2016-08-06 19:00] fnzv commented on #75
+1

[2016-08-08 08:19] ruflin commented on #2164
@tsg I would put it into FAQ. We should add some details there on why it is not part of beats itself and that is the way we recommend to do it.

[2016-08-08 08:26] ruflin commented on #1458
@reallistic If I understand you right, `tail_files` started to work correctly after you cleaned the registry file?

[2016-08-08 08:38] ruflin commented on #2179
Which packetbeat version are you using? What is your OS?

[2016-08-08 08:50] ruflin commented on #637
From an implementation point of view I think we should go the route of having a separate input type. Currently the way filebeat is designed is that a prospector and harvester type are tightly coupled, so a prospector only starts one type of harvesters. It is ok if gzip harvester reuses lots of code from the log harvester (which I think it will) but as log tailing and reading a file completely only

[2016-08-08 09:01] internaute commented on #2179
Hello
this is the version that i am using
packetbeat version 1.2.3 (amd64)

2016-08-08 10:38 GMT+02:00 Nicolas Ruflin <notifications@github.com>:

[2016-08-08 10:46] ruflin commented on #2179
* What is your operating system?
* Where are you running it? Inside a virtual environment? Containers?

[2016-08-08 11:01] internaute commented on #2179
it is running on debian8 it is my host (the iodine client side ) not a
guest machine

2016-08-08 12:46 GMT+02:00 Nicolas Ruflin <notifications@github.com>:

[2016-08-08 11:55] urso commented on #2171
I think by default (if no -c is given), filebeat should load config file from ${path.config}/filebeat.yml by default. Solution might be to remove `-c` from script altogether. If removing `-c` doesn’t work properly we indeed have a bug in filebeat itself.

[2016-08-08 12:54] ruflin commented on #2179
So far I couldn't reproduce this. How did you install packetbeat?

[2016-08-08 13:19] internaute commented on #2179
I have just followed the steps mention in this link:
https://www.elastic.co/guide/en/beats/packetbeat/current/packetbeat-installation.html

2016-08-08 14:54 GMT+02:00 Nicolas Ruflin <notifications@github.com>:

[2016-08-08 14:15] tsg commented on #921
Implemented in #2119.

[2016-08-08 14:15] #921 closed

[2016-08-08 15:33] urso opened #2186 "Dynamic lookup processor"
Sometimes it might be only possible to collect additional meta-information for events on host collecting data only.
### Proposal: lookup processor with running executable scripts

Syntax. Lookup forms a namespace for potentially different lookup backends like:

[code]

With lookup processor proposed here will be named `exec`. Using partially collapsed naming filter can be used more compact like:

[2016-08-08 16:33] andrewkroh opened #2189 "Clarify manual template loading is required for use with Logstash"
On https://www.elastic.co/guide/en/beats/winlogbeat/5.0/config-winlogbeat-logstash.html  we should highlight that manual template loading is required and link to the instructions on the next page of the getting started guide.

And under https://www.elastic.co/guide/en/beats/winlogbeat/5.0/winlogbeat-template.html#load-template-auto we should state that those template options are not supported with

[2016-08-08 16:54] andrewkroh commented on #1565
I opened PR #2191 to address this in Metricbeat. I'm not planning on changing this for Topbeat 1.X as this is a breaking change.

[2016-08-08 17:09] andrewkroh commented on #1495
I think you can avoid this problem by using a forward slash in your Windows paths (Golang does the right thing and converts them IIRC) or instead of using double quotes, use single quotes.

[2016-08-08 17:11] dedemorton opened #2192 "document why field names under event_data may be unnamed (named param1, param2, etc)"
For Windows platforms prior to Windows Vista, the parameters in event log messages were unnamed
Therefore, for those platforms, the output fields that appear under event_data are named param1, param2, param3, param4, etc.

See https://discuss.elastic.co/t/windows-2003-winlogbeat-x32-alpha4/57386/2

Clarification about this needs to be added here: https://www.elastic.co/guide/en/beats/winlogbeat/ma

[2016-08-08 18:25] dedemorton opened #2193 "Clarify description of paths option so users know its a filename pattern"
Need to make it clear in the Filebeat docs that users need to specify filename patterns (not simply paths) under [`paths` ](https://www.elastic.co/guide/en/beats/filebeat/5.0/configuration-filebeat-options.html#_paths).

See https://discuss.elastic.co/t/filebeat-not-taking-files-from-directory-and-sending-to-logstash/56742

[2016-08-08 19:28] PhaedrusTheGreek commented on #1495
@andrewkroh - this is confirmed that single quotes with forward slashes in arrays is accepted:

[code]

[2016-08-08 20:16] andrewkroh commented on #1495
I propose we resolve this issue by adding a special note to Windows users in our docs describing the options for specifying paths in YAML files. I was thinking to put it into the "Configuring *beat" section of the Getting Started guide for each beat, like this page for [Filebeat](https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-configuration.html). Or maybe an FAQ topic?

It would p

[2016-08-08 22:43] andrewkroh commented on #2179
This is a duplicate of #346 so I'm closing this issue.

The workaround is to specify the device by name rather than by number in your Packetbeat configuration file. You can list the devices with `ifconfig -a` to get their names.

[2016-08-08 22:43] #2179 closed

[2016-08-09 07:38] #1565 closed

[2016-08-09 08:53] monicasarbu commented on #48
@strootman Just to clarify here, for 5.1 we are targeting to extract more information from the SSL envelope. We are not planning to do any decryption yet.

[2016-08-09 08:59] pinkisemils commented on #875
Just logging this error at the INFO level does not make it *not* an error. Please be reasonable about dropping events - had you been logging things sensibly, debugging an issue I dealt with yesterday would've taken 5 minutes, instead of 30.

[2016-08-09 10:23] urso opened #2198 "INFO log if TLS is used"
Print TLS information in outputs if TLS is enabled (server/client auth, some certificate information) for users to validate TLS is actually being used.

[2016-08-09 13:23] tsg opened #2200 ""cgroup reader: invalid mountinfo data" on centos 7"
The beats tester seems to have caught a cgroup bug that only happens on centos7. See a sample run [here](http://build-eu-00.elastic.co/job/beats-tester-PR/18/console).

- Version: current master snapshot
- Operating System: centos7
- Steps to Reproduce: start Metricbeat with a minimal config:

[code]

Got the following output:

[code]

[2016-08-09 14:15] ruflin commented on #875
Closing this issue as https://github.com/elastic/beats/pull/2183 was merged.

[2016-08-09 14:15] andrewkroh commented on #2200
This is caused by some non-resilient parsing code. I failed to account for some optional fields that can be present as described in section 3.5 of https://www.kernel.org/doc/Documentation/filesystems/proc.txt.

Working on a test case and fix for gosigar now.

[2016-08-09 14:16] #875 closed

[2016-08-09 14:25] hollligan opened #2201 "http.go:421: WARN Response from unknown transaction. Ingoring"
Hello, please help to get rid of the error in the PacketBeat.
I use **PacketBeat** (ver 1.2.3).
**OS**: Microsoft Windows 7; Microsoft Windows Server 2008 R2 Standard

**Error**:

**If you look at the trace.pcap there should be three request/response:**
![image](https://cloud.githubusercontent.com/assets/19423656/17519688/a9084180-5e55-11e6-8328-58e19e82c3a9.png)

**The error can be reproduced:**

[2016-08-09 14:42] reallistic commented on #1458
That is correct

[2016-08-09 14:59] #1547 closed

[2016-08-09 15:00] urso commented on #2064
original proposal has been implemented and merged

[2016-08-09 15:00] #2064 closed

[2016-08-09 15:02] strootman commented on #48
@monicasarbu Thank you for the clarification!

[2016-08-09 18:52] aleph-zero opened #2208 "Metricbeat dashboards do not import correctly"
On alpha5, when loading the dashboards from the import_dashboards.sh script, they do not show up in Kibana.

For confirmed bugs, please report:
- Version:
Alpha5
- Operating System:
OSX
- Steps to Reproduce:
1. cd metricbeat-5.0.0-alpha5-darwin-x86_64/kibana && ./import_dashboards.sh
2. go to Kibana, try to Open a dashboard. There are none.

[2016-08-09 19:28] tsg commented on #2208
Related ES ticket: https://github.com/elastic/elasticsearch/issues/19893

[2016-08-09 20:34] monicasarbu commented on #2208
Removing Metricbeat label, as the same error appears when loading any dashboard/index pattern.

[2016-08-09 20:38] andrewkroh commented on #2178
This bug affects the regex, contains, and equals conditions when used with Filebeat's `message` field.

[2016-08-09 20:53] andrewkroh commented on #2178
I opened PR #2209 to fix this in master. That PR will need merged to the 5.0 branch too.

[2016-08-10 07:48] tsg commented on #2208
A simple workaround is to replace one line in the `import_dashboards.sh` script, like this:

[code]

[2016-08-10 08:09] #2178 closed

[2016-08-10 08:37] tsg commented on #2208
@dedemorton Do you think we could document this workaround in the getting started for the alpha5, similar to how we had a workaround for alpha4? I can then also add a notice to the blog post.

[2016-08-10 09:01] tsg commented on #2208
I made a proposal for the docs in #2218.

[2016-08-10 13:23] hsluoyz opened #2221 "Document that Npcap has been officially supported"
There's a problem in the docs:
https://github.com/elastic/docs/blob/master/html/en/beats/packetbeat/master/packetbeat-loopback-interface.html#L519

I'm the author of [Npcap](https://github.com/nmap/npcap).

I'm glad to inform you that Nmap has **officially** supported Npcap now. The latest Nmap installer has also integrated Npcap. So you can rephrase the wording when you have time:)

[2016-08-10 14:38] #2200 closed

[2016-08-10 23:06] djschny opened #2229 "filebeat issues using ingest pipeline"
- Version: v5.0.0-alpha5
- Operating System: Mac 10.11.15

Startup elsaticsearch and register the following pipeline:

[code]

Notice it registers successfully and then try to manually use the pipeline with both simulation and indexing and notice the doc indexes successfully with no errors:

[code]

Then use filebeat to ingest data using the pipeline and notice that filebeat will throw errors pars

[2016-08-10 23:09] djschny commented on #2229
Example of starting/configuring filebeat:

`./filebeat -E output.elasticsearch.hosts=192.168.19.191:9200 -E output.elasticsearch.parameters.pipeline=apachelogs -E filebeat.prospectors.paths=/Users/djschny/training/sandbox/meetup/logs -e *`

[2016-08-10 23:11] andrewkroh commented on #2229
I was doing some independent testing using:

[code]

And in Filebeat was seeing:

`2016/08/10 23:08:43.210110 client.go:445: ERR Failed to parse bulk response item: expected end of object`

I captured the response using Wireshark and it looks like this:

[code]

[2016-08-11 06:43] ruflin commented on #1458
@reallistic Thanks for the update. That is the expected behaviour as `tail_files` only applies to files for which no state was stored before.

To make it more clear, I improved the `tail_files` config documentation: https://github.com/elastic/beats/pull/2235

[2016-08-11 06:59] ruflin commented on #2221
@hsluoyz Thanks for brining this up. We will update the docs. Also feel free to open a PR if you find the time.

[2016-08-11 07:25] tsg commented on #2208
Closing this one as the workaround is in place in master and it's documented in the alpha5 docs. The Elasticsearch fix https://github.com/elastic/elasticsearch/pull/19904 is also merged.

[2016-08-11 07:53] ruflin opened #2236 "Limit number of open files"
Having a large amount of files which need to be harvested by filebeat it can happen that the systems max number of open file handlers is exceeded. In most cases the problem can be solved by closing files faster or not harvesting some files. Still there are edge cases where this can be an issue.

This issue should help to track progress on this topic and discuss potential implementations.

[2016-08-11 08:10] vbohata opened #2237 "Unable to filter winlogbeats events by keywords field"
Version: v5.0.0-alpha5
Operating System: Windows Server 2012R2

I am unable to exclude events by keywords field. Config option " keywords: "Audit Success" " does not work, in beats log is:

[code]

Config option " keywords: ["Audit Success"] " also does not work but there is no error in beats log.

Processors config:

[code]

[2016-08-11 08:55] jpountz opened #2238 "Review mapping templates of beats"
I was looking at templates after the switch to scaled/half floats and found a couple potential issues, maybe we should do a review of these templates before the 5.0 release. For instance:
 - `apache.status.total_accesses` and `apache.status.total_kbytes` are currently an integers but a high traffic instance could overflow them I think? Should it be a `long`?
 - `apache.status.requests_per_sec` is

[2016-08-11 09:02] spacewander commented on #2237
Try `keywords: "Audit Success"`?

[2016-08-11 09:04] vbohata commented on #2237
I tried it, with this, there is error in log: unexpected type []string

[2016-08-11 10:00] ruflin commented on #2238
Thanks @jpountz for taking time to review the fields. First the good news for int / long: We automatically convert all integer to float in the templates we generate: https://github.com/elastic/beats/blob/master/metricbeat/metricbeat.template.json#L137 Based on this, all values sent to elasticsearch are mapped as long as we didn't see any disadvantage in this. Please tell us if that isn't a good id

[2016-08-11 10:02] ruflin commented on #2237
@vbohata Could you provide the full error message?

@andrewkroh Not sure if this could be related to https://github.com/elastic/beats/pull/2209 ?

[2016-08-11 10:05] jpountz commented on #2238
The benefit of integer vs long is indeed quite small, so that would be fine. Thanks for explaining!

[2016-08-11 10:06] vbohata commented on #2237
There is no more info in log. Just repeated "WARN unexpected type []string in contains condition as it accepts only strings." line.

[2016-08-11 10:56] #1447 closed

[2016-08-11 12:00] dooblem opened #2242 "Allow Filebeat to read from pipes"
This can be considered as an enhancement.

When Filebeat is trying reading from a fifo file:
`Aug 11 12:31:23 XXXXXXXXXXXXXXX /usr/bin/filebeat[20879]: log.go:103: Stop Harvesting. Unexpected file opening error: Given file is not a regular file`

Old issue from Logstash Forwarder, and steps to reproduce, here:
https://github.com/elastic/logstash-forwarder/issues/525

Thanks in advance,
Marc

[2016-08-11 12:01] monicasarbu opened #2243 "Update docs with #2167 changes"
After #2167  is merged we need to update the examples in the docs with the following changes:

- [ ] `http.params` -> `http.request.params`
- [ ] `http.code` -> `http.response.code`
- [ ] `http.phrase` -> `http.response.phrase`
- [ ] `http.request_headers` -> `http.request.headers`
- [ ] `http.response_headers` -> `http.response.headers`
- [ ] `http.content_length` -> `http.response.headers["conte

[2016-08-11 12:59] ruflin commented on #2242
It seems like this would require a new `input_type`?

[2016-08-11 13:19] dooblem commented on #2242
Maybe. Basically a pipe can be read like a log file, but no offset should be recorded in the registry I think.
You may forget this issue, as I seem to be the only one to need this. And this is to work around that:
https://discuss.elastic.co/t/can-filebeat-watch-for-new-files-created-in-a-directory/57811/1

[2016-08-11 13:40] dooblem opened #2246 "Watch new files in a directory, in an efficient way"
From: https://discuss.elastic.co/t/can-filebeat-watch-for-new-files-created-in-a-directory/57811/3

I tried @magnusbaeck solution of using a wildcard, however my registry file is growing indefinitely... And I do not want to disable registry because I have other log files to watch.

I imagine the following problems need to be addressed:
- find a way to record the state of what has been sent (for no

[2016-08-11 13:41] dooblem commented on #2242
Here: https://github.com/elastic/beats/issues/2246

[2016-08-11 14:02] monicasarbu commented on #2180
Fixed by https://github.com/elastic/beats/commit/9eb5450bf1431d3f4aa4313044200840e4ebb894

[2016-08-11 14:02] #2180 closed

[2016-08-11 14:02] #2177 closed

[2016-08-11 14:14] monicasarbu commented on #2243
https://github.com/elastic/beats/pull/2241 fixes a few of these examples.

[2016-08-11 14:22] andrewkroh commented on #2237
In the event log record, `keywords` is an array. The `contains` filter only accepts a string value as its input which is what causes the warning and the filter to not work. We should enhance it to check each element in the array.

And like @spacewander  said, it should be configured as `keywords: "Audit Success"`.

[2016-08-11 14:56] #1458 closed

[2016-08-11 15:39] hartfordfive opened #2247 "Adding php-fpm module to metricbeat"
I'm currently working on adding both of these modules to metricbeats although I figured i'd create an issue for this so the community can see it's currently in progress in case anyone is interested in using them.

[2016-08-11 16:23] andrewkroh commented on #2237
I opened PR #2248 to make `contains` work on arrays of strings.

[2016-08-11 21:24] dedemorton commented on #1495
@andrewkroh It wouldn't hurt to mention this in a few places: in the config section of each GS and where we mention specifying a path. An FAQ topic is also a good idea, especially if "found unknown escape character" generally means that you've specified a Windows path that uses backslashes. I'll assign this item to myself and play it by ear (don't want to repeat this a bazillion times, but wan to

[2016-08-11 21:43] andrewkroh commented on #1789
@kinghrothgar Just checking in. Are you still pursing this? Is there anything I can do to help?

[2016-08-12 00:36] andrewkroh opened #2249 "drop_event does not work in a Metricbeat module filter"
- Version: 5.0.0-alpha5
- Operating System: Any
- Steps to Reproduce:

[code]

When the event is published this is what you get. Notice the `null`. What should happen is the whole event is dropped.

[code]

[2016-08-12 00:46] andrewkroh commented on #2249
@ruflin Should `filters` be renamed to `processors` in Metricbeat? The examples on this page show processors, but it's still [filters](https://github.com/elastic/beats/blob/master/metricbeat/mb/mb.go#L109) in the code. https://www.elastic.co/guide/en/beats/metricbeat/current/filtering-and-enhancing-data.html

The examples on that page are wrong. The `fields: ['redis.info.memory']` should be `field

[2016-08-12 06:33] ruflin opened #2251 "Improve packaging and crosscompiling"
Currently community beats have to use `make create-packer` to add the files for building packages. This generates lots of duplicated code which is hard to update at a later stage. In addition the packaging of community beats does not work the same as our own beats. Same code should be use for the internal beats and the community beats.
- [x] Move packaging script to libbeat to be available in each

[2016-08-12 07:30] ruflin commented on #2246
* Growing registry: The constantly growing registry file is fixed in the 5.0-alpha releases with the `clean_*` variables. See https://github.com/elastic/beats/issues/1600 You can download it here: https://www.elastic.co/downloads/beats/filebeat
* I think the points for last file sent are more or less already solved in filebeat. As your files only get updated once you can use the new `close_eof` co

[2016-08-12 07:45] ruflin commented on #2247
@hartfordfive Great to hear you are working on these modules. Please let us know if hit some roadblocks or need some inputs.

[2016-08-12 07:46] ruflin commented on #1059
@sirkjohannsen See https://github.com/elastic/beats/issues/2247

[2016-08-12 08:01] dooblem commented on #2246
Thanks a lot.
Yes,` clean_*` and `close_eof` would do it !

Performance: yes, my bash script basically use the `find -newer` command, going through all the files, but not loading the whole list in memory (I think the wildcard will load everything in memory).
Anyway, we will clean the directory in order to keep a reasonable number of files, to work around that. I'll let you know.

I asked my hoster

[2016-08-12 08:07] ruflin commented on #2249
I remember we had the discussion about filters vs processors in the past. I think the conclusion was to keep it filter here and if possible only expose the pure filter capabilities. Perhaps worth discussing again.

For the fields: As it is inside the module config I would expect `fields: ['info.memory']'. That would also work with multiple Metricsets.

[2016-08-12 08:24] ruflin commented on #2246
No sure if there is something similar to `find -newer` in golang, especially something that is cross platform compatible.

Please let us now when you have tested further. I suggest we close this issue as I think all the follow up feature requests need currently are already in other issues. If the wildcard causes some memory issue, it is probably best to open a separate PR. Feel free to post your r

[2016-08-12 08:24] #2246 closed

[2016-08-12 12:28] tsg opened #2255 "Metricbeat PostgreSQL module"
Meta ticket for adding the Metricbeat PGSQL module
* [x] #2253 Core functionality
* [x] #2253 Activity metricset
* [x] #2266 Database metricset
* [x] #2319 Background writer metricset
* [x] #2266 Clean up default configuration files
* [x] #2266 Add system tests to check for errors and fields

[2016-08-12 13:49] #2229 closed

[2016-08-12 13:49] ruflin commented on #2229
@andrewkroh Could you check if #2244 resolved the issue?

[2016-08-12 14:49] andrewkroh commented on #2249
After thinking about it a bit more, the benefit of having module specific filters is that you don't waste CPU cycles running the filter on all events and you don't need as many conditions on your filters since they only apply to that module.

If we require uses to specify the full field name like `fields: ['redis.info.memory']`, then we have consistent behavior with the global processors which is

[2016-08-12 14:59] andrewkroh commented on #2249
I opened PR #2256 to address the drop_event filtering issue. It does not change any of the naming or how the filters are applied within the module.

[2016-08-12 16:47] andrewkroh commented on #1789
I opened PR #2257 to add FD usage information to the system.process MetricSet in Metricbeat.

I think the overall system FD usage information could go into a system.info MetricSet if we had one. That MetricSet would report things like OS version, uptime, total FD usage, virtualization info, etc.

[2016-08-12 17:13] dedemorton opened #2258 "Minor: organize FAQ topics logically"
Right now, the shared FAQ topics are pulled into the asciidoc source in one chunk, which makes organizing the topics in each FAQ difficult.

We should make each shared topic (FAQ item) a separate file so that we can include them individually and arrange them as needed in each topic.

[2016-08-15 06:40] #1789 closed

[2016-08-15 06:47] tsg commented on #2171
Fixed by #2245.

[2016-08-15 06:47] #2171 closed

[2016-08-15 07:07] ruflin commented on #2249
+1 on useing `redis.info.memory` as I agree it is very nice to have it consistent.

The reason I'm kind of hesitant to use processors is as I'm not sure yet if all future capabilities of processors will be / should be available already on the module level before the final event was generated. This would also mean that the filters are only a subset of processors and not all functionality is availab

[2016-08-15 14:21] andrewkroh commented on #2229
#2244 fixes the issue I was seeing. And now it successfully parses the error response from Elasticsearch. 👍

`2016/08/15 14:18:03.882086 client.go:409: INFO Bulk item insert failed (i=49, status=500): {"type":"exception","reason":"java.lang.IllegalArgumentException: java.lang.IllegalArgumentException: field [fail_on_purpose] not present as part of path [fail_on_purpose]","caused_by":{"type":"illeg

[2016-08-15 14:29] andrewkroh commented on #2229
@djschny I tried your logs with the updated Filebeat, and it looks like there is an issue with some lines not having a `bytes` field after applying the grok processor. I don't think this is a Filebeat problem though.

`2016/08/15 14:22:39.691579 client.go:409: INFO Bulk item insert failed (i=2, status=500): {"type":"exception","reason":"java.lang.IllegalArgumentException: java.lang.IllegalArgument

[2016-08-15 17:11] cwurm commented on #2208
Hm, the workaround doesn't work for me if I run the script with `-u username:password`.

[2016-08-15 17:26] djschny commented on #2229
Thanks @andrewkroh yeah, its due to the optional bytes. However it's not an issue with GROK, but rather with the `convert` processor. It looks like it requires the field to be present and I can't find a configuration option to just ignore if the field is not present.

I will open a separate issue for the convert processor enhancement. Thanks for fixing this guys!

[2016-08-16 07:12] hollligan commented on #2201
The problem also exists in version **5.0.0-alpha5**.
Please help me.

[2016-08-16 11:28] tsg opened #2275 "Generic HTTP output"
This issue is meant to measure the interest in a potential generic HTTP output for the Beats.

Since the Elasticsearch output is already HTTP, it can be used by custom applications that want to ingest data from the Beats. If this is not a good option for you, we'd be interested in hearing your use case and why it's not an option.

Related discuss ticket: https://discuss.elastic.co/t/output-beat-ev

[2016-08-16 11:58] ruflin commented on #515
@andrewkroh I'm closing this issue as it is documented and the only solution here is fingerprinting I think. Please reopen if you think we should keep it open.

[2016-08-16 11:58] #515 closed

[2016-08-16 11:59] ruflin commented on #637
Here is the PR related to the above discussions: https://github.com/elastic/beats/pull/2227

[2016-08-16 13:09] tsg opened #2277 "Add support for symlinks"
Open this to discuss a proper implementation for symlinks in Filebeat. Filebeat used to have accidental support for symlinks which resulted in duplicates and was removed in #1767.

To summarize the IRL discussions: since symlinks potentially come with lots of corner cases (files change under the symlink, the symlink gets removed by the the file not, the other way around, etc.) we think a correct i

[2016-08-16 14:07] andrewkroh opened #2281 "runoptions is only a Packetbeat option"
`runoptions` is only supported by Packetbeat on Linux so it should only appear in the Packetbeat docs and there should probably be a note about it only working on linux.

https://www.elastic.co/guide/en/beats/filebeat/current/configuration-run-options.html

[2016-08-16 14:13] ruflin commented on #2281
The runoptions should probably also be moved under the packetbeat namespace (if possible)

[2016-08-16 14:15] andrewkroh commented on #2281
Good catch, the example should be:

[code]

[2016-08-16 14:22] ruflin commented on #2208
@cwurm We missed that in case of `-u` CURL variable is overwritten locally: https://github.com/tsg/beats/blob/179e8770c6e0843e84a092a12706fdc70a002f19/dev-tools/import_dashboards.sh#L75 I'm going to reopen this issue.

[2016-08-16 14:33] monicasarbu commented on #2208
@cwurm can you please try to change this line:
[code]
with:
[code]

[2016-08-16 16:37] dakrone opened #2286 "Prepare beats for impending deprecation of _all field"
We've opened an issue over on Elasticsearch about about disabling or removing the _all field: elastic/elasticsearch#19784

Just like Logstash, Beats will need to determine whether they want to support the `_all` functionality out of the box by setting either `index.query.default_field` or using the mapping parameter `copy_to` to create a "catch-all" field for querying in the template. This issue i

[2016-08-16 22:12] andrewkroh commented on #2249
I just realized that if we changed the filters to be applied post event creation that this would change the behavior of include_fields. If you set `include_fields: ["redis.info.memory"]` then this would end up dropping the `metricset` field because it's not one of the mandatory fields.

[2016-08-16 22:58] cwurm commented on #2208
@monicasarbu That did it, works now.

[2016-08-17 01:37] dedemorton commented on #2164
Added to the FAQ with in #2225 (and cherry-picked into relevant branches)

[2016-08-17 01:37] #2164 closed

[2016-08-17 06:27] #2249 closed

[2016-08-17 06:28] ruflin commented on #2249
@andrewkroh Thanks for the fix. We should definitively apply "filters" before the event creation. To still use the full name we could probably add some magic?

[2016-08-17 06:30] #1285 closed

[2016-08-17 14:16] monicasarbu commented on #2201
Thank you @hollligan for reporting the issue. I can easily reproduce it in `master`, and we will try to fix it as soon as possible.

[2016-08-17 14:50] hollligan commented on #2201
Hello, @monicasarbu . The problem is how paketbeat processes large packets (larger than MTU).
My dump is a package No. 17 (**Total Length: 2142 bytes (reported as 0, presumed to be because of the "TCP segmentation offload" (TSO))**).

d (too small) IP length (0 < 20)

[ip4.go#L146](https://github.com/elastic/beats/blob/5827b44bf53d28c488faa29dd18a3d52f19ca247/vendor/github.com/tsg/gopacket/layers/

[2016-08-17 14:58] pjhu opened #2293 "Filebeat on Windows xp forcibly closed by the remote host"
I am using Filebeat on windows xp ship log to logstash

## Filebeat DEBUG log

    2016-08-17T19:34:31+08:00 DBG  output worker: publish 1 events
    2016-08-17T19:34:31+08:00 DBG  Try to publish 1 events to logstash with window size 10
    2016-08-17T19:34:31+08:00 DBG  output worker: publish 1 events
    2016-08-17T19:34:31+08:00 DBG  close connection
    2016-08-17T19:34:31+08:00 DBG  0 events

[2016-08-17 15:05] monicasarbu commented on #2201
@hollligan The problem appears as `ip.length` is zero, and there is a "[workaround](https://github.com/google/gopacket/blob/master/layers/ip4.go#L191)" in the official [https://github.com/google/gopacket](https://github.com/google/gopacket), that we don't have in the [gopacket](https://github.com/tsg/gopacket) fork that we use.
I hope once we include this workaround in our gopacket fork, the issue

[2016-08-17 17:33] andrewkroh commented on #1679
When we release 5.0 GA, the repository will have `Origin: elastic` and `Suite: stable` in the APT Release file. This will apply to each of the projects you mentioned.

[2016-08-17 17:33] #1679 closed

[2016-08-17 20:03] monicasarbu opened #2299 "Share Kibana dashboards"
The purpose is to offer a way to make it easier for the users to share their own Kibana dashboards.

The following tasks need to be done:
- [x] re-write import_dashboards in Golang, instead of having two versions, one in bash and one in powershell (done in #2155)
- [x] create an archive with all the Beats dashboards #2298
- [x] compile the `import_dashboards` script on different OS, and include it

[2016-08-18 00:15] medcl commented on #1958
Closing now

[2016-08-18 00:15] #1958 closed

[2016-08-18 01:06] mkuzmin opened #2300 "Official Docker image for Filebeat"
Please create an official image on Docker Hub for Filebeat, the same way, as we use images for [Elasticsearch](https://hub.docker.com/_/elasticsearch/), [Logstash](https://hub.docker.com/_/logstash/), and [Kibana](https://hub.docker.com/_/kibana/).

[2016-08-18 01:56] richard087 commented on #2011
This also applies to v5.0.0-alpha5, I think.

[2016-08-18 05:30] ruflin commented on #2300
@mkuzmin It is important to note, that the images you linked for ES, LS, KB are not official images from Elastic.

[2016-08-18 05:57] ruflin commented on #2293
Hi @pjhu

Thanks for providing all the details. This more looks like a connection issue with LS or an issue in your network and not a bug in Filebeat. For questions please use https://discuss.elastic.co/c/beats/filebeat as we only want to use Github issue for confirmed bugs. Please copy over the content of this issue to a topic here https://discuss.elastic.co/c/beats/filebeat and we will respond t

[2016-08-18 05:57] #2293 closed

[2016-08-18 05:59] ruflin commented on #2293
Just realised you already double posted: https://discuss.elastic.co/t/filebeat-on-windows-xp-forcibly-closed-by-the-remote-host/58270 Please don't do this.

[2016-08-18 06:43] ruflin commented on #2011
@richard087 Do you see in alpha5 filebeat not releasing files even after close_older? Can you share some more details?

[2016-08-18 13:35] StianOvrevage commented on #1349
Same error with WinLogBeats:

C:\communitor\winlogbeat>winlogbeat.exe -configtest
Loading config file error: YAML config parsing failed on C:\winlogbeat\winlogbeat.yml: yaml: invalid leading UTF-8 octet. Exiting.

This, ironically, makes you unable to edit the Windows log beat ON Windows.

[2016-08-18 19:19] csdrane opened #2309 "Filebeat config/TestReadConfig2"
I'm new to the beats codebase and am wondering whether test `TestReadConfig2` in `filebeat/config` is working as intended. Namely, it seems that `cfgfile.Read()` on line 23 isn't working correctly. A println reveals that config is unpacked to "zero" values, with an empty Prospectors list. Similarly, if I make a small edit to the yml file and set spool size to 1 the test will still pass (and vice v

[2016-08-18 21:31] ruflin commented on #2055
Closing as done in https://github.com/elastic/beats/pull/2306

[2016-08-18 21:31] #2055 closed

[2016-08-18 21:37] yissachar opened #2310 "Loadbalance Filebeat with a single host"
I have multiple Logstash instances provisioned behind a load-balancer. If I point Filebeat to the load-balancer DNS, it will resolve to one of the Logstash instances and then maintain that connection for as long as it is valid. This means that Filebeat will always send logs to that particular Logstash, even though I may have several other Logstash instances sitting around doing nothing.

It would

[2016-08-18 21:54] yissachar commented on #2310
Just found https://github.com/elastic/beats/issues/661 which seems to another way of solving this problem.

[2016-08-19 03:21] andrewkroh opened #2312 "FreeBSD Metricbeat failure getting system process FDs"
This is probably an issue with elastic/gosigar.

http://build-eu-00.elastic.co/view/Beats/job/beats-freebsd/542/console
[code]

[2016-08-19 04:00] mtmcgrew opened #2313 "Corrupt winlogbeat.yml checkpoint file"
For confirmed bugs, please report:
- Version: 5.0.0-alpha4
- Operating System:  Windows 8
- Steps to Reproduce: Unknown

I'm using 5.0.0-alpha4 and I noticed that on some users the service was not able to start up. The following error was in the log file:

2016-08-18T18:22:56-07:00 CRIT Exiting: yaml: control characters are not allowed

I noticed that the C:\ProgramData\winlogbeat\winlogbeat.yml f

[2016-08-19 06:12] codekoala commented on #2150
I saw this while trying to gather information for a different error.

- Version: packetbeat 1.2.3 (amd64)
- OS: Arch Linux

[code]

I have a 90GB pcap file that I will try to narrow down to the correct window of time.

[2016-08-19 06:30] ruflin commented on #1349
@prehor Sorry for the really late answer. Thanks a lot for providing all the details. The above implementation was kind of blocked by an update to our encoding library (https://github.com/elastic/beats/pull/2089). This is now happening and I hope to be able to have a look at it soonish.

[2016-08-19 06:32] ruflin commented on #1349
@StianOvrevage Not sure if the two errors are related. The above problem is about the content of the log files. Your issue is related to the config files. Which editor did you use to modify the config file?

[2016-08-19 06:47] monicasarbu commented on #2150
Thank you @codekoala for your help.

[2016-08-19 06:57] codekoala commented on #2150
I used editcap to get 5 seconds before and after the timestamp of the error. I'll hold onto the 90GB pcap file for a while just in case the snippet is insufficient.

[beats-2150.pcap.txt](https://github.com/elastic/beats/files/426465/beats-2150.pcap.txt)

[2016-08-19 07:45] monicasarbu commented on #2201
@hollligan Please try the latest SNAPSHOT of Packetbeat from our [nightlies](https://beats-nightlies.s3.amazonaws.com/index.html?prefix=packetbeat/). I have tried it myself, and no error is raised.

[2016-08-19 12:27] hollligan commented on #2201
the bug is fixed! thank you.

version 1.2 removed from support? updates will be made?

[2016-08-19 15:48] urso commented on #2050
What exactly you mean by 'host based partition-key'? You care about the actual partitioning, or do you care about message ordering?

#2284 makes partitioner configurable add support for hash-based partitioning (either using configurable message key or configure list of event fields used to compute hash).

some beats (filebeat and winlogbeat) do require infinite retry. Due to limitations in current

[2016-08-19 20:35] #2299 closed

[2016-08-19 22:15] StianOvrevage commented on #1349
I'm using the default (Notepad) editor which every Windows admin uses ;) I used Notepad++ to remove the BOM but it's not an ideal solution.

[2016-08-19 22:18] StianOvrevage commented on #1349
But yes, I didn't realize that this issue was about reading the actual log files, I just assumed it was the same error I hit upon. But the problem is largely the same. A leading BOM will prevent Winlogbeat from starting.

[2016-08-20 01:52] mkuzmin commented on #2300
Yeah, I see, there is no mention of Docker at https://www.elastic.co/downloads.

But we, your users, don't really care: `Docker Inc.` said the repos are official - that's enough, we're good to go :)

![image](https://cloud.githubusercontent.com/assets/712402/17828128/89cec322-6691-11e6-9ae5-0d413deae63e.png)

Now you have to communicate `not official images from Elastic` message to the rest of the

[2016-08-20 09:52] urso opened #2325 "panic on logstash publish with no hosts"
It is currently possible to configure the logstash output without hosts. Once the very first event is to be published, the beat is killed with panic.

Reproduce: configure logstash without host and start beat with debug settings

Actual result: beat crash on first publish

Expected result: fail to start warning about missing host settings

[2016-08-20 18:00] deshkor commented on #149
Is there anyone working on this ?

[2016-08-21 01:17] benohara opened #2328 "rpm packages signed with v4 headers"
So they wont install on el5, any chance of rpms for el5 that work?

[2016-08-21 08:09] chandru9279 commented on #2162
Yes, Thank you.

[2016-08-21 08:09] #2162 closed

[2016-08-21 23:35] hartfordfive commented on #2247
@ruflin So i'm trying to create and run the necessary tests for the haproxy module although i'm getting this error when running the `make integration-tests-environment` command:

[code]

I'm running the command in the local directory "/Users/al/Documents/code/github/elastic-beats/metricbeat"  Any ideas exactly what it is that I'm I doing wrong here?  You can find my current code here: https://gith

[2016-08-22 02:07] richard087 commented on #2011
I haven't explicitly set 'close_older'; but the files are kept indefinitely - certainly more than the default value of an hour.

[2016-08-22 07:31] ruflin commented on #149
@deshkor As far as I know currently no one is working on this. In case you plan to start working on it, best is to leave a quick comment here.

[2016-08-22 07:54] ruflin commented on #2247
@hartfordfive I think the issue is with your GOPATH setup. Golang requires you to have the project in the correct directory of your $GOPATH. So in this case the project must be under `$GOPATH/src/github.com/elastic/beats` otherwise it will not work.

[2016-08-22 07:57] ruflin commented on #2011
@richard087 Could you share some more details? OS? Full config? Log rotation mechanism you use?

[2016-08-22 08:14] ruflin commented on #2309
@csdrane Only had a quick look but I think you stumbled over and outdated test which is by accident still working. We replaced most of our internal config with the `go-ucfg` project which does now all the magic: https://github.com/elastic/go-ucfg

Do your question: Why is the filebeat prefix needed to make the test working: The config file is `filebeat.prospectors.*`. This prefix you also see on l

[2016-08-22 10:21] ruflin commented on #1349
@StianOvrevage Thanks for bringing up this issue. As these two are not directly related, could you open a separate Github issue for further discussion?

[2016-08-22 10:39] ruflin commented on #2012
Closing this as all work expected for `close_timeout` has been done. All future work for `close_timeout` is tracked in https://github.com/elastic/beats/pull/1926

[2016-08-22 10:39] #2012 closed

[2016-08-22 10:41] hartfordfive commented on #2247
@ruflin Sorry I forgot to mention something.  My current path `/Users/al/Documents/code/github/elastic-beats/metricbeat` is actually just a sym link to the correct project Go directory `/usr/local/go/src/github.com/elastic/beats/`.   This made things a bit more convenient for me in my IDE.

[2016-08-22 10:57] ruflin commented on #1349
@prehor Could you provide an example log file (only a few lines) for download just to make sure we test exact the same file? The above mentioned is an issue and we will try to find ways how we can fix it. Unfortunately it complexes our reading logic quite a bit.

[2016-08-22 11:51] tsg commented on #2255
All PRs merged.

[2016-08-22 11:51] #2255 closed

[2016-08-22 12:46] #1855 closed

[2016-08-22 12:47] monicasarbu commented on #2208
This should be solved in 5.0.0-beta1, as we re-wrote the import script in Golang. https://github.com/elastic/beats/pull/2155

[2016-08-22 12:47] #2208 closed

[2016-08-22 12:56] tsg commented on #1788
This should fixed in the last alpha.

[2016-08-22 12:56] #1788 closed

[2016-08-22 15:56] #2325 closed

[2016-08-22 21:46] deshkor commented on #149
@ruflin Then I'm going to work on M$ TDS protocol. I took a look at M$ documentations and it doesn't seem thaaaaaat complicated. I'll only know for sure while implementing it.

[2016-08-22 22:41] prehor commented on #1349
@ruflin There is beginning of Exchange Message Tracking file with UTF-8 BOM.
[MSGTRK-SAMPLE.LOG.gz](https://github.com/elastic/beats/files/431280/MSGTRK-SAMPLE.LOG.gz)

[2016-08-23 07:25] ruflin opened #2345 "Libbeat Metricset"
Add Libbeat as Metricset
- Outputs
  - [x] Elasticsearch https://github.com/elastic/beats/pull/2339
  - [ ] Logstash
  - [ ] Kafka
  - [ ] File
  - [ ] Console

[2016-08-23 08:39] ruflin commented on #2247
@hartfordfive TBH I don't know what golang does with the symlinks and especially our Makefile magic. Could you try to run the commands in the directory itself?

[2016-08-23 08:46] tsg commented on #1589
This should be done now in master.

[2016-08-23 08:46] #1589 closed

[2016-08-23 08:47] ruflin commented on #292
Closing this as we introduced the `beatname.full.yml` config file which contains all options.

[2016-08-23 08:47] #292 closed

[2016-08-23 08:52] ruflin commented on #149
@deshkor Awesome

[2016-08-23 09:53] tsg commented on #2328
At the moment we don't plan to provide EL5 packages. Also note that Golang itself doesn't officially support EL5, although we had reports that Filebeat works on it. But you have to compile it yourself.

[2016-08-23 09:53] #2328 closed

[2016-08-23 10:50] urso commented on #149
@deshkor Really cool. Check out the [protocol generator](https://github.com/elastic/beats/tree/master/generate/packetbeat/tcp-protocol) generating most boilerplate for you. With code generator you're can focus on parser first saving hours of getting started.

Feel free to open PR early, so we can start giving feedback early on. Adding a protocol takes quite some effort and discussions on PRs addin

[2016-08-23 12:35] alrocar commented on #150
+1

[2016-08-23 13:19] tsg commented on #1962
Closing this one, as we could never reproduce it. We suspect it was either a configuration error or something that got fixed in the newer alpha versions. In addition, alpha5 adds a different mechanism for configuring the pipeline.

[2016-08-23 13:19] #1962 closed

[2016-08-23 15:11] ruflin commented on #1349
@prehor Based on your log file I created a PR here for discussion: https://github.com/elastic/beats/pull/2351

[2016-08-23 18:29] StianOvrevage opened #2354 "Winlogbeat not parsing config files with leading BOM"
Forked from issue #1349.

Winlogbeat will not start if the config file contains a leading BOM. (Which Windiws' notepad.exe prepends)

C:\communitor\winlogbeat>winlogbeat.exe -configtest
Loading config file error: YAML config parsing failed on C:\winlogbeat\winlogbeat.yml: yaml: invalid leading UTF-8 octet. Exiting.

This, ironically, makes you unable to edit the Windows log beat ON Windows.

[2016-08-23 18:35] andrewkroh commented on #2354
Thanks for reporting. What version are you using? I assume this problem affects other Beats too. Have you tried any of the others to see if they are affected?

[2016-08-23 18:38] deshkor commented on #149
Good to know that @urso, thanks a lot ! I'll definitely take a look at it.

[2016-08-23 18:47] StianOvrevage commented on #2354
I just tested with version 1.2.3 and the error is there.

A small correction: if you edit the original config file that ships in the zip file everything is fine. But if you create a new file in notepad it might save the file as UTF8 BOM. Sometimes it saves in ANSI. Guessing it depends on the characters used in the file.

I have also tested topbeat, packetbeat and filebeat and they all seem to work

[2016-08-24 12:10] tsg commented on #1931
All done, now.

[2016-08-24 12:10] #1931 closed

[2016-08-24 12:43] JorisAndrade commented on #581
+ 1

[2016-08-24 13:06] hartfordfive commented on #2247
@ruflin I've tried what you've suggested and had some progress although now I'm getting new errors.  First, it seems like the test just waits for HAProxy to start, but it never ends up starting.

[code]

I'm not sure why this is happening as I've tested locally with `/metricbeat -e -d "*"`, along with a local running instance of HAProxy with the proper config, and it works fine.

Secondly, I'm get

[2016-08-24 13:36] ruflin commented on #2247
Which Golang version are you using? Are the most recent changes (which are not working) here: https://github.com/hartfordfive/beats/tree/metricbeat-haproxy If yes, I could directly check out the branch and play around with it to find the problem.

[2016-08-24 14:54] hartfordfive commented on #2247
I'm using Go 1.6.2 (darwin/amd64) and yes the most recent changes have been pushed to my branch.

[2016-08-24 19:44] hartfordfive commented on #2247
I've actually been able to resolve the issue with the missing libraries by installing them to the vendor/ directory with the `govendor fetch` command.

[2016-08-24 23:34] dedemorton opened #2376 "Remove outdated dev guides in old branches and point to master instead"
Creating a meta issue to group all the work related to removing dev guide content from all branches except master and pointing to master instead:

- [x]  In 1.2, remove old dev guide, override header, and point to master. See #2360
- [x]  In 1.3, remove old dev guide, override header, and point to master. See #2361
- [x]  In 1.0.1, override header. See #2373
- [x]  In 1.1, override header. See #23

[2016-08-24 23:41] dedemorton commented on #2376
@tsg It's a bit strange for us to have changes going on into master that we don't want merged at some point into later branches (like 5.0). I'm not sure how we can handle this easily. Thoughts?

[2016-08-25 04:54] sinchb commented on #581
+1

[2016-08-25 08:37] hollligan opened #2378 "Large http.request"
Hello, please help to get rid of the error in the PacketBeat, again.
I was faced with the problem of parsing large requests.

I use **PacketBeat** ver 1.2.3, the problem is also repeated on 5.0.0-alpha5 & [alpha6](https://beats-nightlies.s3.amazonaws.com/packetbeat/packetbeat-5.0.0-alpha6-SNAPSHOT-windows-x86_64.zip).

**error message:**
[code]
https://github.com/elastic/beats/blob/1.2/packetbeat/

[2016-08-25 08:53] tsg commented on #2376
Yeah, this could potentially become a maintenance headache, as we're going to have to constantly remove stuff from branches. Ideally would be if asciidoc could have conditionals based on the branch name, but probably that's not the case.

Another option would be to split the dev guides in their own book, which we only ever publish from master.

[2016-08-25 14:05] dedemorton commented on #2376
I'm leaning towards moving the Dev topics to a separate book. I have this on the list of discussion items for the meeting in Sept, but maybe we should discuss the issue before then.

[2016-08-25 18:38] ruflin commented on #2247
@hartfordfive The strange part is that if you cloned the beats repo, all the dependencies are actually checked in and should already be in the vendor directory. I'm glad you got it working now. Is there something more I could help with? Feel free to open a PR early to get feedback on it or also for questions.

[2016-08-25 18:51] chrisribe commented on #1943
The guide is **very** confusing, I am just starting with topbeat (which is to be replaced by Metricbeat) and for the last hour have been looking how to load the sample dashboards !!!

Is this it?
https://www.elastic.co/guide/en/beats/libbeat/1.2/load-kibana-dashboards.html

The original doc starts here:
https://www.elastic.co/guide/en/beats/topbeat/1.2/_step_5_loading_sample_kibana_dashboards.html

[2016-08-25 19:19] hartfordfive commented on #2247
@ruflin Regarding the missing libraries, they are new ones that weren't previously in the vendor directory.  I've created PR #2384 although I'm still having the issue with the testing script waiting HAProxy process to start on the docker instance.  Is there a special config that I might be missing?  I've created the necessary test config and pointed to it in the Dockerfiler (module/haproxy/_meta/h

[2016-08-25 21:20] dedemorton commented on #1943
@chrisribe Thanks for your feedback. I agree that we need to improve the docs in this area (that's what prompted me to open this issue). As you've figured out, the content for loading the dashboards is documented in the Platform Reference because the content is relevant to all Beats. However, I'm planning to move this information to the guide for each Beat so that you won't have to jump back to th

[2016-08-26 01:48] medcl commented on #1059
+1 for cassandra

[2016-08-26 06:08] premsompura opened #2387 "System memory usuage in Megabytes"
By default metricbeat generate **system.memory.used** in bytes. However I changed the **system.memory.used.bytes** to **system.memory.used.mb** in template and then reloaded the template but all in vain. It isn't that easy, is it?

I want not this but various metrics to be in Megabytes.

[2016-08-26 06:34] ruflin opened #2388 "Use new Golang Seek Constants"
With Golang 1.7 new Seek constants were introduced. The code must be changed to use the new ones:

[code]

[2016-08-26 07:01] ruflin commented on #2378
@hollligan Is that the same issue reported in https://github.com/elastic/beats/issues/2201 ?

[2016-08-26 07:06] ruflin commented on #2387
Closing this in favor of https://discuss.elastic.co/t/system-memory-usuage-in-mbytes/58913/1 as we want to keep Github issue for confirmed bugs. Please do not double post.

[2016-08-26 07:06] #2387 closed

[2016-08-26 07:09] premsompura commented on #2387
but no one has replied.

[2016-08-26 07:15] monicasarbu commented on #2201
Closing the issue as it's fixed now. Version 1.2 is currently supported, and the fix will be available in the next release.

[2016-08-26 07:15] #2201 closed

[2016-08-26 07:16] monicasarbu commented on #2378
Duplicates https://github.com/elastic/beats/issues/2201.

[2016-08-26 07:16] hollligan commented on #2378
@ruflin, no, it's a new problem

[2016-08-26 07:30] ruflin commented on #2387
@premsompura You waited less then a day for a response. Please be patient.

[2016-08-26 07:42] ruflin commented on #2247
I just checked out your branch (did some merging) and run ` make integration-tests-environment`. It all works on my side. Perhaps you need to stop / clean containers again and restart the tests?

[2016-08-26 12:00] crashev commented on #899
This seems to be still a problem in 1.2.3 version

[2016-08-26 12:05] crashev opened #2390 "'fields' should be omitted when null - problem still exist"
The problems with 'fields' attribute described:

- https://github.com/elastic/filebeat/issues/126
- https://github.com/elastic/beats/issues/899

still exist in 1.2.3 version.
It is still being sent as:

016-08-26T13:53:15+02:00 DBG  Publish: {
  "@timestamp": "2016-08-26T11:53:07.533Z",
  "beat": {
    "hostname": "apibackends",
    "name": "apibackends"
  },
  "count": 1,
  "fields": null,
  "inp

[2016-08-26 15:20] rcsavage commented on #2161
Logstash is configured with an input plugin called “logstash-input-beats” which is the translator that converts the filebeat messages into Logstash format.   Basically the problem exists inside the logstash-input-beats plugin.   See below, the snippet of code in the plugin is only called when there is a new thread.   There’s a RUBY “ensure” statement that seems to always call tag override function

[2016-08-26 16:44] andrewkroh commented on #2312
I opened elastic/gosigar#43 for this issue.

[2016-08-26 18:02] andrewkroh commented on #1356
@monicasarbu  Was this addressed by https://github.com/elastic/beats/pull/1705? Looks to me like that PR adds all these values.

[2016-08-26 18:13] andrewkroh commented on #1841
@vchav73  Your calculated value of `event['cpu']['idle_p']` is the percentage of idle time __since boot__. Due to the much larger time window, the idle values do not change much as you observed.

The top command calculates percentages by looking at the change in CPU time values between samples. When you first run it, it has no previous sample to compare to, so these initial  values  are  the  perc

[2016-08-26 18:13] #1841 closed

[2016-08-26 18:59] PhaedrusTheGreek opened #2395 "Filebeat not closing deleted/rotated files (when output broken)"
RHEL 6.7
Filebeat 1.2.3

[code]

The following utility will just generate logs and rotate them out:  [loggenerator.zip](https://github.com/elastic/beats/files/439910/loggenerator.zip)

To reproduce:
1. `./filebeat -c above-config.yml`
2. `java -Dcom.bmo.elk.loggenerator.logcount=1000000 -Dcom.bmo.elk.loggenerator.sleeptime=2 -jar loggenerator.jar`
3. `watch "lsof | grep filebeat | grep deleted "`

[2016-08-26 21:02] andrewkroh commented on #2390
I re-opened #899. Thanks for reporting.

[2016-08-26 21:02] #2390 closed

[2016-08-27 01:21] dedemorton commented on #1943
Note that we've also made an enhancement to the way the topics display in the right-hand navigation pane in the docs. The current topic is now highlighted in the TOC so that its relationships to other topics is more obvious.

[2016-08-27 02:02] dedemorton commented on #977
Closing because I've fixed the topic that has these examples.

[2016-08-27 02:02] #977 closed

[2016-08-27 02:32] dedemorton commented on #1494
Closing this because we've clarified the docs.

[2016-08-27 02:32] #1494 closed

[2016-08-27 02:55] dedemorton commented on #1716
@tsg We also have Topbeat showing up in an overview diagram.

[2016-08-27 02:56] dedemorton commented on #1716
@brandonmensing I'd like to do an overhaul of the graphics before the 5.0 GA. I'm wondering if there are any existing graphics that I can pull from. Thought you might have some ideas....

[2016-08-29 00:32] Shifter2600 commented on #149
+1

[2016-08-29 05:38] richard087 commented on #2011
Hi, sorry for the slow reply. I've moved off the site where this is an issue. As best I recall it, the OS is Amazon Linux 2016.3, and the log rotation mechanism is Java8's java.util.logging.

[2016-08-29 07:07] ruflin commented on #2161
@ph perhaps you can comment on this one?

[2016-08-29 07:17] ruflin commented on #2395
Unfortunately this is kind of expected. The reason is that filebeat keeps the file handler open until it gets a confirmation that the file content was sent. This guarantees that all file content is sent. Otherwise it could happen that the close files are removed and we loose log lines. As soon as the output becomes available again, the data will be sent and the files closed.

We are aware that thi

[2016-08-29 07:38] ruflin commented on #2011
@richard087 Thanks for getting back. To better catch these issues we started to run some long term load tests. There are some potential race conditions that can cause these issues in 1.x. So far we couldn't detect these issues in the most recent 5.0 builds. For the setup: It doesn't sound like anything special here, so this should not be an issue. One thing that can cause open files is https://git

[2016-08-29 08:49] monicasarbu commented on #1356
@andrewkroh yes, that's right. Thanks!
@jaliph Topbeat is replaced with Metricbeat in 5.0. Metricbeat gathers periodically metrics from external systems, and by default Metricbeat is collecting system statistics as Topbeat does. Their configuration files are similar, so you can easily migrate to Metricbeat. The feature that you are requesting is available in the system module of Metricbeat. Please

[2016-08-29 10:31] jaliph commented on #1356
Thanks a lot for this... We will have our topbeat being replaced by metricbeat when we have a stable version of it.

[2016-08-29 13:36] ph commented on #2161
First, in the latest beats input (> 3.1), I have removed this feature following the users complaints of the need to have it.

This can only happen in the following scenario:

- You are using a codec that can buffer, ie, multiline.
- Connection get killed or interrupted
- Events are still buffered in the codec.
- Event get tagged and send to the pipeline

Since no flush was done by the codec itself

[2016-08-29 14:15] PhaedrusTheGreek commented on #2395
For comparison, when using Redis as a buffer of a Logstash Input, we have a similar problem in the case where Elasticsearch goes down.  By default,  the queue will fill up and consume all memory, and so setting an [eviction policy](https://support.redislabs.com/hc/en-us/articles/203290657-What-eviction-policies-do-you-support-) remedies the situation.

[2016-08-29 14:45] ruflin commented on #2395
As beats currently doesn't have a queue, the question would be after which time data loss starts to happen. I kind of like the idea that this could be configurable and we would delegate this to the output instead of trying to do some magic in the harvesters. There could be a config option `output.drop_events_older: 1m` which will start dropping events which it tried to send for more then a minute.

[2016-08-29 15:42] PhaedrusTheGreek commented on #2395
+1 drop_events_older - very intuitively named.

[2016-08-29 18:10] fjiang212 commented on #2395
+1 for adding a queue/cache. Will you create queue/cache in the memory or disk? If you keep it in the disk then setting the max cache disk size is another choice since we don't know how fast the log message is generated, but we do know what is free disk space when we start filebeat. Ex: Set the cache disk size as 200MB, then we can keep adding the log message to queue/cache, drop the oldest log ev

[2016-08-29 18:15] PhaedrusTheGreek commented on #2395
@fjiang212 ,  we do not plan to implement any disk or memory queue, as the source files themselves already serve as a disk queue.   The problem is when to release the lock on these files to allow delete.

I think the plan will be to eventually close deleted files, even if the output is malfunctioning, after a certain time, defined by `output.drop_events_older`.

We agree that not doing so can resu

[2016-08-29 18:21] ruflin commented on #2395
@fjiang212 Can you please open a topic on discuss for your filebeat questions? https://discuss.elastic.co/c/beats/filebeat This will allow us to discuss on a broader scale unrelated to this issue.

[2016-08-29 18:22] fjiang212 commented on #2395
k, drop_events_older is acceptable solution for us too.  Will it fix in the next 1.2.x release ? When will it be available?

[2016-08-29 18:41] PhaedrusTheGreek commented on #2395
@fjiang212 we agree that this is a critical fix, as it directly affects the stability of the end system, but it's a complex change that cannot be integrated with the 1.x codebase.   Please follow this thread for updates on which version will contain a fix.

[2016-08-30 05:23] #2312 closed

[2016-08-30 08:46] #1356 closed

[2016-08-30 08:58] monicasarbu commented on #1339
@urso is the expert here.

[2016-08-30 09:06] azkie commented on #2011
Hello! I have been experiencing this same issue for a while now. I started out with logstash-forwarder, then moved to filebeat 1.2.3 hoping the issue would be resolved. Tried config option 'force_close_files', which didn't solve the problem. I then upgraded to filebeat 5.0.0-alpha5 with config options 'close_renamed' and 'close_removed' set to true. Issue still remains.

[code]

My config:

[code]

[2016-08-30 13:57] monicasarbu opened #2418 "Import the dashboards from the selected Beat"
If the user uses the `import_dashboards` from the Elastic Beat package to import the sample dashboards from the url, then by default he/she doesn't need to specify the Beat, as it should be the current Beat.

For example, if the user downloads the Metricbeat package, then in order to import the index pattern together with the dashboards, he is currently running:
[code]
where the default url depend

[2016-08-30 14:06] ruflin commented on #2011
@azkie Strange to see this issue in alpha5. Did filebeat catch up sending all log lines to elasticsearch or logstash or could it be that there is some back pressure which causes the file to stay open? Thanks for testing the 5.0 releases.

[2016-08-30 14:23] mrunalgosar commented on #922
This issue still persists. I had a log rolled over on 25th Aug 2016 and on 27th Aug 2016 when i started Filebeat it started reading the older one as well.
I am using FileBeat 1.2.3
ignore_older: 12h
close_older: 12h

[2016-08-30 16:27] andrewkroh opened #2420 "Template not loading in 1.2.3 using documented config"
- Version: 1.2.3
- Steps to reproduce: Use config found at https://www.elastic.co/guide/en/beats/topbeat/current/topbeat-template.html

The documentation recommends:

[code]

But you must uncomment `name: topbeat` to enable loading because the code checks that [name is not empty](https://github.com/elastic/beats/blob/1.2/libbeat/outputs/elasticsearch/output.go#L159).

[code]

The comment "By defau

[2016-08-30 19:36] #2236 closed

[2016-08-30 22:28] trevorndodds commented on #581
+1

I would like to see RabbitMQ added as an output for beats mainly because it's the only mature Windows option.

Redis does not officially support windows, so running Redis on any windows production environment is out.

Kafka has this bug (KAFKA-1194) which is a major issue on windows. Perhaps some other bugs too but this one is a big issue for me since Kafka is unable to perform cleanups of old

[2016-08-30 22:52] trevorndodds opened #2422 "Elapsed time calculation"
How about a feature for filebeat that will calculate the elapsed time between two regex tags within a log file and add the result as an extra field to the last tag line?

Many of my log files follow the format below.
<date> "Start Task"
<date> ....
<date> "Finished Task"

It would be great if it could calculate the task time between the above tags. I've looked at trying to accomplish this with Ela

[2016-08-30 22:59] andrewkroh commented on #2422
This sounds like a task for Logstash. Use a grok filter to extract the timestamps then an [elapsed](https://www.elastic.co/guide/en/logstash/current/plugins-filters-elapsed.html) filter to calculated the time difference.

[2016-08-30 23:22] trevorndodds commented on #2422
Thanks, I'll give it a try. I thought it may have been better to do it at the source. I'll work on a grok filter to try keep log files together as there is nothing unique on the log lines to match between other server log files.

[2016-08-31 06:16] ruflin commented on #829
Number of open files is now available in the most recent build of Metricbeat.

[2016-08-31 06:46] ruflin commented on #922
@mrunalgosar This is issue is related to file handlers not being closed. Your issue seems to be that ignore_older does not work as expected. Can you please open a topic on discuss to investigate your issue? https://discuss.elastic.co/c/beats/filebeat Please post your config and if possible some logs files there.

[2016-08-31 09:17] azkie commented on #2011
@ruflin When looking in Kibana it seems that the log shipping is up to date. The latest entries I see are from the newest log file. Is there a way to verify filebeat is not still processing some entries from older files? Although I can't imagine it being behind with sending log entries from files that are days old.

[code]

Files just don't seem to be freed ever. Since these logs are quite large (

[2016-08-31 09:30] monicasarbu commented on #2378
@hollligan I have tried to reproduce the issue on windows server 2012 without any success. I have tried with alpha5 and the latest Packetbeat release from the [nightlies](https://beats-nightlies.s3.amazonaws.com/index.html). Can you please try it again on your side with the latest release? Thank you in advance.

[2016-08-31 10:55] ruflin commented on #1361
@BellBiker Any updates on this?

[2016-08-31 12:45] hollligan commented on #2378
@monicasarbu, my problem was not with the big http.request as I assumed, and transactionTimeout. In packetbeat.yml was setting transaction_timeout: 2s.
When specifying this option, I made two mistakes: 1) transaction_timeout not involved in http section (because I put three problem and not four) 2) value type must be int
As a consequence was set transaction_timeout default ([10s](https://github.co

[2016-08-31 12:45] #2378 closed

[2016-08-31 14:34] ruflin commented on #2011
Could you share some log files with at least info level from the 5.0.0 run? Perhaps this gives us some more info on what is happening. Can you try the most recent nightly build as there the logging gives even some more information as every 30s some stats are printed out: https://beats-nightlies.s3.amazonaws.com/index.html?prefix=filebeat/

[2016-08-31 16:09] chrisribe opened #2425 "topBeat install from repositories links to filebeat install"
This is simply put confusing...

The documentation for topbeat install:
https://www.elastic.co/guide/en/beats/topbeat/1.3/topbeat-installation.html

Links to the libbeat main setup document:
https://www.elastic.co/guide/en/beats/libbeat/current/setup-repositories.html

But those instructions contain apt-get install **filebeat** NOT apt-get install **topbeat**

Great product, but the documentation

[2016-08-31 19:39] svmastersamurai commented on #2313
:+1:
I have noticed this as well. It originally started with a handful of hosts but lately it seems to be spreading to more of them over time.

To remediate I just delete the file to make the service come back up, but eventually the hosts will revert back to this state. Can also confirm that this effects Windows 10 as well.

[2016-08-31 20:37] andrewkroh commented on #2313
I was able to reproduce this by powering off a Windows 2012 VM running in VirtualBox. It only occurred while I had lots of events being read, which causes the registry to be updated more often.

I also noticed that my log file exhibited similar behavior and was full of 0's at the end.

[2016-08-31 21:10] dedemorton opened #2426 "Get redirects set up for the following topics:"
Details of the redirects are in the comments.

**Redirects to set up for 5.0 (now):**
- [x] Redirects for #2330: change "tls" to "ssl"
- [x] Redirects for #2505 (removal of dashboard content from Platform Ref)
- [x] Filebeat redirects resulting from edits and content restructuring.
- [x] Packetbeat redirects resulting from edits and content restructuring.
- [x] Winlogbeat redirects resulting from

[2016-08-31 21:55] dedemorton commented on #2426
**5.0 Redirects for #2330**
_OLD URLs:_

1. https://www.elastic.co/guide/en/beats/packetbeat/5.0/configuring-tls-logstash.html
2. https://www.elastic.co/guide/en/beats/packetbeat/5.0/configuration-output-tls.html
3. https://www.elastic.co/guide/en/beats/filebeat/5.0/configuring-tls-logstash.html
4. https://www.elastic.co/guide/en/beats/filebeat/5.0/configuration-output-tls.html
5. https://www.elas

[2016-08-31 21:57] dedemorton commented on #2426
**Redirects for #2330 to set up for GA:**

_OLD URLs:_

1. https://www.elastic.co/guide/en/beats/packetbeat/current/configuring-tls-logstash.html
2. https://www.elastic.co/guide/en/beats/packetbeat/current/configuration-output-tls.html
3. https://www.elastic.co/guide/en/beats/filebeat/current/configuring-tls-logstash.html
4. https://www.elastic.co/guide/en/beats/filebeat/current/configuration-outp

[2016-08-31 22:00] andrewkroh commented on #2313
After some brief investigation, I think the problem is causes by the file cache in Windows. The file cache does lazy writes unless specifically configured to write-through to the disk. So I think the problem is occurring when we lose power and the cache hasn't been flushed.

So when we create the file we need to use the `FILE_FLAG_WRITE_THROUGH` flag.

[File Caching in Windows](https://msdn.micros

[2016-08-31 22:03] dedemorton commented on #2426
For the 5.0 GA, how do we want to handle the Topbeat URLs in current? Since Topbeat will no longer exist, any links to it in current will break at GA. Should we redirect to 1.3?

[2016-08-31 22:11] dedemorton commented on #2426
**Redirects for removal of the shipper section. Set up for GA.**

Changes "configuration-shipper.html" to "configuration-general.html"

_OLD URLs:_

https://www.elastic.co/guide/en/beats/packetbeat/current/configuration-shipper.html
https://www.elastic.co/guide/en/beats/filebeat/current/configuration-shipper.html
https://www.elastic.co/guide/en/beats/winlogbeat/current/configuration-shipper.html
h

[2016-09-01 08:09] azkie commented on #2011
Below is a snippet from the filebeat log (version 5.0.0-alpha5) around the time the log rotates.

[code]

I will install the latest night build (5.0.0-alpha6) and update this thread with more details shortly.

[2016-09-01 10:23] ruflin commented on #2238
I reviewed all the half_float, scaled_float and float and opened https://github.com/elastic/beats/pull/2430 with the changes. Here some observations:

* All the usage of half_float was removed. half_float is not a good fit for most of our metrics as they can grow > 2048 or even > 65504 (@jpountz Thanks for spotting this, wasn't aware especially of the > 2048 part). All half_float were replaced by

[2016-09-01 10:51] jpountz commented on #2238
This might not be an issue, but note that this will make scaled floats use more disk than floats if the amplitude of the values in a field grows beyond `2^32/scaling_factor`.

This would increase disk usage by about 2.3 bits per value.

[2016-09-01 14:08] dedemorton commented on #2425
Thanks for taking time to give us feedback about the documentation. The topic about installing from our repositories is meant to describe how to install any Beat. We show Filebeat as an example, but I can see why the current structure might be confusing. Over time, I've been moving a lot of the shared libbeat content into the reference guides for each Beat. It sounds like I need to do the same wit

[2016-09-01 14:27] csdrane commented on #2309
That doesn't actually address my question but I'm OK closing out this issue.

[2016-09-01 21:03] andrewkroh commented on #2313
I opened PR #2434 for 5.X to add the `FILE_FLAG_WRITE_THROUGH`. I think this should address the problem, but it's hard to say with 100% confidence. Hopefully once it's merged and released you guys can test it on your fleet of machines and provide feedback on whether the problem has been resolved.

[2016-09-02 03:02] #2422 closed

[2016-09-02 07:10] ruflin commented on #2281
Closing as #2439 is merged.

[2016-09-02 07:10] #2281 closed

[2016-09-02 07:55] ruflin commented on #2309
@csdrane Reopening the issue as I think we should remove these obsolete tests. Can you please also reiterate your question as I assume I answered it in my second paragraph?

[2016-09-02 08:05] ruflin commented on #2011
Thanks for the logs. So far I didn't spot anything special. I assume by alpha6 you mean the Snapshot build? If we can't find it in the logs, we probably have to enabled the debug log level. Unfortunately this will produce much more logs.

[2016-09-02 08:58] #2238 closed

[2016-09-02 10:29] #1349 closed

[2016-09-02 10:42] ruflin commented on #2313
Closing this as #2434 was merged.

[2016-09-02 10:42] #2313 closed

[2016-09-02 13:59] ruflin commented on #897
Closing this as #901 was merged and we made further improvements here.

[2016-09-02 13:59] #897 closed

[2016-09-02 14:05] ruflin commented on #1974
@draenor I was playing around with this and tried to fix it in 1.3. Unfortunately the fix introduced other issues which is the reason we never merged https://github.com/elastic/beats/pull/2274 To fix the issue completely the state rewrite which was done for 5.0 is needed.

I'm closing this issue as I think it is fixed in 5.0, but please reopen if you discover it also in 5.0 or need more details.

[2016-09-02 14:05] #1974 closed

[2016-09-02 14:11] andrewkroh commented on #986
Closing. The workaround is to build Topbeat 1.X for 64-bit. The final solution is to upgrade to 5.x which has 64-bit binaries (Topbeat features are now in Metricbeat for 5.X).

[2016-09-02 14:11] #986 closed

[2016-09-02 14:17] ruflin commented on #1775
For more details also see: https://github.com/elastic/filebeat/issues/315

[2016-09-03 01:08] raghzz opened #2452 "Atom IDE crashed when I try to open beats repository"
Atom IDE v1.10.0 crashes everytime I try to open https://github.com/elastic/beats. Other repositories seems to open without any issues.

[2016-09-03 10:40] shamil commented on #1686
We use filebeat to collect logs from Docker logs in Kubernetes cluster. Kubernetes provides a handy path with all container logs which are symlinks to `/var/lib/docker/containers`. Now that filebeat doesn't have that functionality we no longer can collect the container logs from  Kubernetes.

We could just use original path instead of the Kubernetes symlinked one, but we rely on the filename and c

[2016-09-03 19:54] vishnuprasadh opened #2453 "Beats config always locks the log file which I cant edit,pls help resolve"
@vishnuprasadh

vishnuprasadh commented 8 hours ago • edited
I got the configuration for filebeat going for logstash and filebeat.yml as follows. The biggest issue is that the log file is locked by filebeat process and am not able to edit it. How do I control this ? Please help, i have tried this for over 3hrs now :-(

[code]
Filebeat config
[code]
OS used is as follows:
Version:Macbook OSX
Operat

[2016-09-04 14:01] frennkie commented on #1470
Has there been any progress on this?
I would really helpful if I could filter/query e.g. on the dns.answers.data and dns.answers.type fields.

[2016-09-05 05:16] t-umeno opened #2454 "Can't install packetbeat 5.0.0-alpha5 from apt repositories"
I saw this URL:

Beats Platform Reference [5.0]
Getting Started with Beats and the Elastic Stack
Repositories for APT and YUM
https://www.elastic.co/guide/en/beats/libbeat/5.0/setup-repositories.html

By this method, packetbeat 1.3 is installed, not 5.0.0-alpha5
I think  "deb https://packages.elastic.co/beats/apt stable main" is for stable repositories, not for 5.0.0-alpha repositories.

- Version

[2016-09-05 09:13] tsg commented on #2454
That's true, we don't offer yum/apt repositories for the alphas. We'll have them starting with the beta, which we expect quite soon. In the meantime, please download the debs and install them manually.

[2016-09-05 10:37] ruflin commented on #2452
I frequently work with Atom (just updated to v1.10.0 to test) on the beats repo on different branches and never had an issue. I assume this is related to some plugins in Atom and not Atom or beats itself.

I'm closing this issue as we like to keep the Github issues for confirmed bugs. Can you open a discuss topic here? https://discuss.elastic.co/c/beats Please provide more details about your Atom

[2016-09-05 10:37] #2452 closed

[2016-09-05 10:40] ruflin commented on #1686
@shamil Thanks for reporting this and sharing the insights. Can you share some more details on how you use the filename and what the original filename would look like? I'm not too familiar with kubernetes.

[2016-09-05 10:43] ruflin commented on #2453
Hi @vishnuprasadh

Please use discuss for questions: https://discuss.elastic.co/c/beats/filebeat Please open a topic there and share the same config files you did here, but also include the logs from filebeat. You can print out the debug logs to the console by using `-e -d "*"`. There all details needed should be visible.

[2016-09-05 10:43] #2453 closed

[2016-09-05 10:43] shamil commented on #1686
@ruflin, I'm doing something similar to this: https://github.com/ApsOps/filebeat-kubernetes
let me know if you need more information...

[2016-09-05 11:41] willsheppard commented on #637
We'd like this feature too.

Our main use of filebeat would be to take a set of rotated, gzipped logs that represent the previous day's events, and send them to elasticsearch. No tailing or running as a service is required.

A batch mode would also be good, but any other workaround is acceptable.

[2016-09-05 15:07] t-umeno commented on #2454
If you think so, please remove "We have repositories available for APT and YUM-based distributions. " at this time.

[2016-09-06 08:10] ruflin commented on #1686
Thanks for the link. The interesting part for me is the following:
[code]

As far as I understand this files are symlinks to a file somewhere else. The file name can be used in logstash to add additional data meta data to the event. Some questions:

* What is the name of the original files?
* Where is the original file located?
* Are these files rotated, means is symlink switched to an other file

[2016-09-06 08:12] ruflin commented on #637
@willsheppard Thanks for the details. For the batch mode you will be interested in https://github.com/elastic/beats/pull/2456 (in progress)

[2016-09-06 08:19] tsg opened #2467 "Document new repositories"
I'm removing the mentions of the yum/apt repos from the 5.0 docs in #2466. We should add the information back with beta1, after we know what the exact process for downloading them is.

[2016-09-06 08:53] tsg opened #2468 "Packetbeat always sends body when response is larger than 15MB"
- Version: master / 5.0
- Operating System: OS X

Steps to Reproduce:

* create a 5MB and a 15MB file, eg:

[code]

* start a web server

[code]

* start packetbeat. I used this config: https://gist.github.com/tsg/ff0cbcd0f70b867d3f9ba95c1f85f9de

[code]

* create a request for the 5m file:

[code]

Note that the body is not included in the generated event.

* create a request for the 15m file:

[

[2016-09-06 10:46] omerlh commented on #431
I have the same issue. I've already checked the configuration file, and even started filebeat with the same parameters as the service does. I've tried it also in a path that does not have spaces and the service still not starting. What else can be the problem?
Thanks

[2016-09-06 11:35] ruflin commented on #1686
* By symlinks are updated, you mean new ones are created for new files (from new containers) or if the original get rotated, they are pointed to the most recent file?
* What happens to a container log symlink if the container is removed?

Sorry for all the questions. But I'm kind of surprised that it didn't cause and issues so far and want to understand it more in detail. My assumption so far:

*

[2016-09-06 12:11] shamil commented on #1686
OK, let me explain.

1. Symlink is unique to target. Same symlink will never point to different file
2. If container removed symlink removed as well, there won't be dead symlinks. Kubernetes `kubelet` manages this.
3. The files rotated using `copytruncate` strategy, so it will always stay same target, never new file created or replaced.

I guess Kubernetes guys are thought about possible problems

[2016-09-06 12:36] azkie commented on #2011
I turned on debug log level but now I noticed the logs rotated fairly quickly and aren't kept for long. Is there a config option to keep them for longer?

[code]

[2016-09-06 13:22] ruflin commented on #431
@omerlh Could you please open a new topic on discuss with your problem and share all the details like version, OS, config, log outputs? https://discuss.elastic.co/c/beats/filebeat

[2016-09-06 13:51] t-umeno commented on #2454
Thank you.

[2016-09-06 13:51] #2454 closed

[2016-09-06 15:44] jsvd opened #2471 "Improve description of -I flag in packetbeat"
[code]

This is fixed in master https://github.com/elastic/beats/commit/390da89bb9bb2064112f1e1fe1048e8eacf219af

[2016-09-06 17:45] #2418 closed

[2016-09-06 17:57] trevorndodds opened #2473 "Allow metricbeat to accept additional windows counters within the yaml config"
A handy feature would be to allow metricbeat to access the windows performance counters this will allow metricbeat to collect data from a wide range of windows metrics.

This would be similar to the Telegraf windows counter plugin.
https://github.com/influxdata/telegraf/tree/master/plugins/inputs/win_perf_counters

[2016-09-06 22:21] deshkor commented on #149
@urso , Should I post my findings of m$ TDS here or there is there another place ?

[2016-09-06 23:30] dedemorton commented on #2189
Closed with #2477

[2016-09-06 23:30] #2189 closed

[2016-09-07 06:39] ruflin commented on #1686
A quote from the logrotate docs:

With filebeat tailing the files and not harvesting the new file (as it is copied and not found) the chance of loosing some log lines is even higher.

My current conclusion is that this seems to be an acceptable trade off for people. It would mean loosen the filebeat guarantee that all log lines are sent for symlinks, but the same actually applies to all copytrunca

[2016-09-07 06:47] ruflin commented on #149
@deshkor Here sounds like a good place.

[2016-09-07 07:18] BellBiker commented on #1361
@ruflin Except the fact that I can confirm that the problem further persists I am fully packed with other work. Therefore I have to apologize that I can't dig into this problem within the next weeks.

[2016-09-07 08:11] ruflin commented on #2277
Playing around with Symlinks and looking at our code again, I realised that our current harvester is not aware if it is a symlink or not. The reason is that `file.Stat()` is used instead of `file.LStat()` during opening the file. Based on the `FileInfo` retrieved it is not possible anymore two make the difference. This is the reason even though checks were in place since LSF to disable symlinks, i

[2016-09-07 08:26] ruflin commented on #1361
@BellBiker Thans for the quick update. No worries, will keep digging here. Thanks for all the help so far. By still exists, which version are you referring to?

[2016-09-07 11:33] ruflin commented on #1686
@shamil Lets move our discussion to the open issue here so it is more visible: https://github.com/elastic/beats/issues/2277

[2016-09-07 11:36] ruflin commented on #2277
Thinking again about the additional harvester type `symlink`: The implementation would be very similar on would not change much. The advantage would be that people would be very aware that they use symlinks and would apply it to specific files. The disadvantage is that symlinks and normal files could not be mixed in one prospector. In case we have an `input_type: file` or `input_type: gz` the ques

[2016-09-07 16:12] urso commented on #149
@deshkor here is a good place I think. Alternatively in your PR if have one ready.

[2016-09-07 16:15] csdrane commented on #2309
My question pertains to `config.Unpack()`. In the failing test, `config.Unpack()` gets called during the call to `config.Read()`. For me as an outsider, the type of struct that `config.Unpack()` requires is nonobvious. Further, it appears to me that the reason why the test fails is because an incorrect struct is being passed. It seems that the way to fix this is to change line 20, `config := &Conf

[2016-09-07 17:14] #2221 closed

[2016-09-07 17:16] #1731 closed

[2016-09-07 17:43] dedemorton opened #2482 "Beats doc updates"
This is a meta issue to track Beats documentation work for 5.0.0. This issue was created towards the end of the 5.0.0 release, so it doesn't include all the changes made to the doc during the alpha  releases.

If you have trouble clicking an item in the checklist to mark it as complete, open this comment in edit mode and change the source to `[x]`. Seems to be a bug in ticking the check boxes in t

[2016-09-07 17:47] #2376 closed

[2016-09-07 17:52] dedemorton commented on #2258
Closing in favor of tracking this issue in https://github.com/elastic/beats/issues/2482

[2016-09-07 17:52] #2258 closed

[2016-09-07 17:54] dedemorton commented on #1943
Closing in favor of tracking this issue in https://github.com/elastic/beats/issues/2482

[2016-09-07 17:54] #1943 closed

[2016-09-07 17:55] dedemorton commented on #2426
Closing in favor of tracking this issue in https://github.com/elastic/beats/issues/2482

[2016-09-07 17:57] dedemorton commented on #2193
Closing in favor of tracking this issue in https://github.com/elastic/beats/issues/2482

[2016-09-07 17:57] #2193 closed

[2016-09-07 17:59] dedemorton commented on #2192
Closing in favor of tracking this issue in https://github.com/elastic/beats/issues/2482

[2016-09-07 17:59] #2192 closed

[2016-09-07 18:00] dedemorton commented on #1844
Closing in favor of tracking this issue in https://github.com/elastic/beats/issues/2482

[2016-09-07 18:00] #1844 closed

[2016-09-07 18:02] dedemorton commented on #1793
Closing in favor of tracking this issue in https://github.com/elastic/beats/issues/2482

[2016-09-07 18:04] andrewkroh opened #2483 "Metricbeat: Add network stats for containerized processes"
Add networks stats to the system-process output.

The sample output below was collected from Amazon Linux 2016.03 running Docker 1.11.2.

[code]

[2016-09-07 18:04] dedemorton commented on #1595
Closing in favor of tracking this issue in https://github.com/elastic/beats/issues/2482

[2016-09-07 18:04] #1595 closed

[2016-09-07 18:05] dedemorton commented on #1583
Closing in favor of tracking this issue in https://github.com/elastic/beats/issues/2482

[2016-09-07 18:05] #1583 closed

[2016-09-07 18:07] dedemorton commented on #1339
Closing in favor of tracking this issue in https://github.com/elastic/beats/issues/2482

[2016-09-07 18:07] #1339 closed

[2016-09-07 18:09] dedemorton commented on #1795
Closing in favor of tracking this issue in https://github.com/elastic/beats/issues/2482

[2016-09-07 18:09] #1795 closed

[2016-09-07 18:10] dedemorton commented on #1047
Closing in favor of tracking this issue in https://github.com/elastic/beats/issues/2482

[2016-09-07 18:10] #1047 closed

[2016-09-07 19:56] dedemorton commented on #1046
Closing in favor of tracking this issue in https://github.com/elastic/beats/issues/2482

[2016-09-07 19:56] #1046 closed

[2016-09-07 20:03] dedemorton commented on #871
Closing and moving unresolved issues to https://github.com/elastic/beats/issues/2482

[2016-09-07 20:03] #871 closed

[2016-09-07 20:04] #1793 closed

[2016-09-07 20:16] dedemorton commented on #812
Closing in favor of tracking this issue in https://github.com/elastic/beats/issues/2482

[2016-09-07 20:16] #812 closed

[2016-09-07 20:18] dedemorton commented on #713
Closing in favor of tracking this issue in https://github.com/elastic/beats/issues/2482

[2016-09-07 20:18] #713 closed

[2016-09-07 21:22] #2243 closed

[2016-09-08 06:37] ruflin commented on #1686
For people interested in this issue, there is now also a PR with a potential implementation: https://github.com/elastic/beats/pull/2478

[2016-09-08 06:39] ruflin commented on #2011
@azkie You can change the number of files which should be rotated and the size of the files. See here: https://www.elastic.co/guide/en/beats/filebeat/master/configuration-logging.html#_files_rotateeverybytes

[2016-09-08 07:22] ruflin opened #2485 "HAProxy Module improvements"
- [x] Run `make collect` to make sure all files are up-to-date https://github.com/elastic/beats/pull/2486
- [x] Add tests to generate `data.json` files https://github.com/elastic/beats/pull/2720
- [x] Check that config files are according to standard (experimental disabled by default) https://github.com/elastic/beats/pull/2486
  - See also https://github.com/elastic/beats/pull/2384/files#r76591317

[2016-09-08 08:39] monicasarbu commented on #882
The same issue was reported https://discuss.elastic.co/t/negative-http-responsetime/59988

[2016-09-08 11:12] ruflin opened #2490 "Beat panics if log directory cannot be created"
Version: master
Steps to reproduce:
* Put log directory in `logging.files.path:` where directory cannot be created by filebeat (no permissions)
* Start beat

Panic output
[code]

[2016-09-08 12:52] ruflin opened #2494 "Add filebeat test cases"
The following test cases should be added to filebeat either as part of the load tests or as independent tests:
- [ ] Test files larger then 4GB to be harvested
- [ ] Test filebeat with logrotate and output disabled
- [ ] Test Kafka shutdown and boot up after some time -> check for duplicated messages?
- [ ] Use stdin to pipe file into filebeat and check if EOF appears

[2016-09-08 13:03] ruflin opened #2496 "No state for stdin"
Currently filebeat also processes and stores and empty state for stdin. The state should be ignored for stdin.
- Check that no errors are logged in log file

[2016-09-08 16:03] mariowood opened #2500 "filebeat on windows doesn't detect file changes when encoding is set to utf-16le-bom"
I'm using filebeat 1.3 on windows 2008R2 sql server machine to ship the SQLAGENT.OUT and ERRORLOG files to logstash. If i configure encoding as utf-16le-bom file beat doesnt detect any changes. If the encoding is left as plain or utf8, changes are found but i can't filter the message in logstash.

this is my prospector config:

[code]

The rest of the config is pretty standard and works if I eithe

[2016-09-08 18:29] frennkie commented on #1470
What do you guys think about this: #2504 ?

[2016-09-09 05:06] dedemorton commented on #2426
**Redirects for #2505 (removal of dashboard content from Platform Ref). Set up now.**

Can't really point users to the various Ref Guides, so I will set up the redirect to point to the topic in the Dev Guide about importing dashboards. Not ideal, but probably better than a dead link.

_OLD URLs_

https://www.elastic.co/guide/en/beats/libbeat/5.0/visualizing-data.html
https://www.elastic.co/guide/e

[2016-09-09 05:07] dedemorton commented on #2426
**Redirects for #2505 (removal of dashboard content from Platform Ref). Set up for GA.**

Can't really point users to the various Ref Guides, so I will set up the redirect to point to the topic in the Dev Guide about importing dashboards. Not ideal, but probably better than a dead link.

_OLD URLs_

https://www.elastic.co/guide/en/beats/libbeat/current/visualizing-data.html
https://www.elastic.co/

[2016-09-09 06:20] ruflin commented on #2500
Would it be possible to share your SQLAGENT.OUT file so I can use it for testing? You can also share it via private email if you prefer. Could you try if the error persists with the 5.0 snapshot build? https://beats-nightlies.s3.amazonaws.com/index.html?prefix=filebeat/

[2016-09-09 07:13] ruflin opened #2508 "Filebeat panics on heavy file rotation"
Running the system test test_no_missing_events with RACE_DETECTOR enabled, filebeat sometimes panics. Seen here: http://build-eu-00.elastic.co/job/Beats-PR/3349/artifact/src/github.com/elastic/beats/filebeat/build/system-tests/run/test_load.Test.test_no_missing_events/filebeat.log

[code]

[2016-09-09 07:41] mariowood commented on #2500
Here's one of the SQLAGENT.OUT files, i've had to change the server and instance names, just so i don't reveal anything. Hope it's enough. I'll try the snapshot build today.

[SQLAGENT.zip](https://github.com/elastic/beats/files/463393/SQLAGENT.zip)

[2016-09-09 07:52] azkie commented on #2011
Below is a snippet from the logfile on debug level at the time the file that is read from is rotated. I've filtered out the lines that contain published events. Please let me know if you need more details, then I can attach the entire log.

[code]

[2016-09-09 07:59] mariowood commented on #2500
I've just tested with the alpha release and it's working correctly, for reference this is my alpha prospector config:

[code]

[2016-09-09 09:07] ruflin commented on #2500
Thanks for sharing the log file and testing the alpha releases. So the bug seems to be only in the 1.x release? I will check in detail what goes wrong there.

[2016-09-12 08:03] ruflin commented on #2011
@azkie Based on the following log message it seems that your log files get truncated and not necessarly rotated:
[code]
You write above:
[code]
Can you perhaps share some more details on what this exactly does and the "touches the original filename again" ?

[2016-09-12 08:05] azkie commented on #2011
@ruflin This is how the file actually gets 'rotated':

[code]

[2016-09-12 14:04] ruflin commented on #2011
How are files removed? The truncation message could also indicate that the inode is reused (which requires deletion of an old file).

[2016-09-12 14:50] azkie commented on #2011
@ruflin Let me show the rest of the code. The files actually get moved, then compressed. Then after 14 days the files are removed.

[code]

[2016-09-12 15:25] danielmotaleite opened #2526 "crash after 1.3.0 upgrade"
After upgrade to 1.3.0, 3 of my systems (about 40) fail to start the filebeat.

When i start it, i get this output in systemd journal:

i could not upload the file, so here is a full pastebin:

https://0bin.net/paste/mllg2xjp7LbJZDVH#M9tBEicXPsy794ZvhkbpZZJM5rUVkR6cLOGTemrH6V3

here is the start of the log:

Sep 12 16:52:05 jumA10 filebeat[24558]: fatal error: concurrent map read and map write
Sep

[2016-09-12 15:31] ruflin commented on #2526
@danielmitterdorfer Thanks for reporting this one. Based on the message I would assume this it the same panic as here? https://github.com/elastic/beats/pull/2509

[2016-09-12 15:44] ruflin commented on #2526
@danielmotaleite Looking at the fix it seems to be related to a large number of prospectors. As you are talking about a long config file, I assume you can confirm that you have lots of prospectors?

[2016-09-12 18:06] wjoel commented on #2084
The lack of multiple wildcards means it's not possible to have a setup as described in [Log Management with ELK](https://docs.mesosphere.com/1.7/administration/logging/elk/) for Mesos, where paths have the format `/var/lib/mesos/slave/slaves/*/frameworks/*/executors/*/runs/latest/stdout`

From https://github.com/golang/go/issues/11862 it seems Golang will not support this any time soon, and the di

[2016-09-12 19:33] danielmotaleite commented on #2526
@ruflin yes, this machines are the ones that have highest number of prospectors, so yes, this is probably related.

Reverting to the 1.2.x filebeat, all works fine ( i have reverted on those 3 machines for now)

[2016-09-12 21:17] tsg commented on #1450
For the output versions, I suggest:

* Elasticsearch: same version as the Beats + the latest minor of the last major (currently 2.4).
* Logstash: same version as the Beats + the latest minor of the last major (currently 2.4).
* Kafka: 0.8, 0.9, 0.10
* Redis: Tested with 3.2.0. Likely it works with any version that has the [list](http://redis.io/commands#list) and/or [pub/sub](http://redis.io/comma

[2016-09-12 21:37] tfgm-bud commented on #2526
Getting the same issue after a 1.2 to 1.3 upgrade.  Happens on startup.  Quite a few prospectors.

Affecting 13 of 50ish servers.  Any eta on 1.3.1?

[2016-09-12 21:43] urso commented on #1450
versions look good. For redis we might even support redis 1.0.0 . In redis 2.4 `rpush` capabilities have been changed supporting a 'batch' of values. While the output checks the versions I haven't tested with pre 2.4 redis yet.

[2016-09-13 04:03] andrewkroh commented on #2483
I have a working prototype of this feature in my branch at https://github.com/andrewkroh/beats/tree/feature/process-network-stats.

The system process metricset includes the network statistics aggregated across each of the interfaces. I did this to avoid having an array of individual interface metrics. You can filter out interfaces if desired (for example, to avoid including metrics from lo0).

Ne

[2016-09-13 06:13] ruflin commented on #2011
Do you see the issue already quite soon after starting filebeat or "only" after 14 days and more?

[2016-09-13 06:48] ruflin commented on #2084
It's definitively worth a discussion. But it seems to me we are discussing two things here:

* Support for `**` which can go into multiple sub directories
* And replacing just one directory but multiple times with *

I'm not so much worried about the implementation work itself, more the potential side affects we are not aware of yet of which parts are also in the golang issue.

It especially see t

[2016-09-13 06:57] ruflin commented on #2526
Fix just got merged. Thanks to @amyangfei . No ETA yet on 1.3.1 but this definitively started the discussion on it. Will keep you posted.

I had also a quick look at our 5.0 release and this bug should not affect the 5.0 releease as the setup part and state handling part was completely rewritten.

[2016-09-13 06:58] ruflin commented on #1450
Lets only list redis 3.2, if it works with previous version that is great, but as long as we don't run the test on it, I would not list it.

[2016-09-13 07:05] runningman84 commented on #2084
** is not need for my use case, this would be enough
'/opt/codedeploy-agent/deployment-root/*/*/logs/scripts.log'

[2016-09-13 07:23] ruflin commented on #2483
It seems like the network stats are not too many additional metrics per event. That means if available I would ship them by default also when `cgroup` is diabled even though they are kind of linked together. If we don't want to enable it by default (if available) we should add one more config option. In case we flag this addition as experimental, a config option is required.

[2016-09-13 07:36] azkie commented on #2011
The issue starts after the first log rotation. Every time (every 24 hours) the log gets rotated, I see the moved log file still open using lsof. This would be 4 days after starting filebeat:

[code]

[2016-09-13 09:41] tsg commented on #2468
Fixed with https://github.com/elastic/beats/pull/2470.

[2016-09-13 09:41] #2468 closed

[2016-09-13 10:09] ruflin commented on #2011
I'm currently trying to reproduce this with running filebeat over longer periods and do some more intense file rotations. So far no success. In the first days, do you ever see the truncation message in your logs? Can you share again your config file that you now use with filebeat-5.0.0-alpha6? Before restarting do you clean up the registry file or do you keep the same one? Thanks for providing all

[2016-09-13 10:12] ruflin commented on #2526
I'm closing this issue as https://github.com/elastic/beats/pull/2509 was merged. That does not mean the release is out yet.

[2016-09-13 10:12] #2526 closed

[2016-09-13 10:15] ruflin commented on #2508
Closing as fixed in https://github.com/elastic/beats/pull/2512

[2016-09-13 10:15] #2508 closed

[2016-09-13 10:31] azkie commented on #2011
The truncation message shows up every time the file rotates.

Full config file below. Filebeat is started as './filebeat -v -c fb.yml'

[code]

I do not touch the registry file at all. Filebeat is running in my terminal inside a screen. I restart by pressing Ctrl-C (SIGINT) and running the filebeat binary again. At that point the open files I saw using lsof are gone. Thank you for investigating th

[2016-09-13 11:08] ruflin commented on #2011
The problem here is, that if you don't remove the registry file, you still have a registry file with all the data inside from x days ago. This makes it hard to reproduce. The problem with removing the registry file is, that it will reread all the data.

[2016-09-13 11:33] froztbyte commented on #581
I don't see anything mentioning a branch in this thread, so: has anyone taken a stab at implementing this?

If not, which code in `beats` should I look at to get an idea for starting on this?

[2016-09-13 20:32] bmhatfield commented on #2526
@ruflin There doesn't seem to be much commentary about folks who were also hitting this, so I wanted to chime and say we hit this on hundreds of machines, especially on those that have large numbers of monitored log files. We've rolled back to 1.2. Just more information for you as you decide about how quickly to cut 1.3.1.

[2016-09-14 07:15] ruflin commented on #2011
@azkie As you seem to have a rather low number of files, this should not apply in your case except if output is down or very slow. But worth mentioning: https://github.com/elastic/beats/pull/2541

[2016-09-14 08:50] ruflin commented on #2526
@danielmitterdorfer @tfgm-bud @bmhatfield We build a pre-release snapshot with the fix here:

* https://download.elastic.co/beats/filebeat/filebeat-1.3.1-SNAPSHOT-darwin.tgz
* https://download.elastic.co/beats/filebeat/filebeat-1.3.1-SNAPSHOT-x86_64.rpm
* https://download.elastic.co/beats/filebeat/filebeat_1.3.1-SNAPSHOT_i386.deb
* https://download.elastic.co/beats/filebeat/filebeat-1.3.1-SNAPSHOT

[2016-09-14 12:10] XooR opened #2544 "filebeat don't read new content"
- Version: filebeat version 5.0.0-alpha5 (amd64), libbeat 5.0.0-alpha5
- Operating System: CentOS release 6.8 (Final)
- Steps to Reproduce:

Run script to fill logs:
[code]

Setup filebeat to read file:
[code]

Run filebeat like:
[code]
This will read only first 4096 events:
[code]
It's strange for me that publish.events and libbeat.publisher.published_event are different. I guess that libbeat.pub

[2016-09-14 14:12] danielmotaleite commented on #2526
I have testes the filebeat_1.3.1-SNAPSHOT_amd64.deb and it solved the problem for my config.

Thanks for the help

[2016-09-14 14:37] andrewkroh commented on #581
@froztbyte I'm not aware of anyone working on this. The relevant interfaces to look at are in https://github.com/elastic/beats/blob/master/libbeat/outputs/outputs.go and you can use the existing outputs as examples.

I recommend following the guidance in this [comment](https://github.com/elastic/beats/pull/1525#issuecomment-217651768) with regard to how to do the development outside of the main pr

[2016-09-14 15:24] willfarrell commented on #2300
I've been running https://hub.docker.com/r/willfarrell/filebeat/ for quite some time. I would love to have an official repo I could use instead. Having Elastic maintain them would be amazing.

[2016-09-14 16:05] z0rc commented on #778
Can we reopen this one? I'm using filebeat 1.3.0 and the `count` field is here. Same config with filebeat shipping to logstash via beats input. And it's always `1`.

[2016-09-14 16:19] andrewkroh commented on #778
This was changed only in 5.x because it is non-backwards compatible change to the event schema. So you won't see it in 1.3, but you can try it in the 5.0.0-alpha6 release [available on the website](https://www.elastic.co/downloads/beats/filebeat).

[2016-09-14 17:57] froztbyte commented on #581
@andrewkroh Thanks for the pointers, I'll dig into them.

At the risk of sounding nagging, is it possible that Elastic might reconsider the position held on other outputs? Is there a possible middleground of external contribution for the feature/support?

I understand the effort cost involved in developing and supporting additional outputs, but on balance it seems that there is both a large amount

[2016-09-14 19:58] tfgm-bud commented on #2526
I also tested filebeat_1.3.1-SNAPSHOT_amd64.deb and it seems to have solved my issue too...

[2016-09-14 19:59] bmhatfield commented on #2526
We've also rolled it out and confirmed it as fixed.

[2016-09-15 06:20] ruflin commented on #2526
@danielmitterdorfer @tfgm-bud @bmhatfield Thanks a lot for testing and confirming that the fix works. The official 1.3.1 should be rolled out rather soon.

[2016-09-15 06:49] ruflin commented on #2544
The reason the above is not working, is that you set a directory instead of a file for the registry file:
[code]

This should be:
[code]

The reason this probably worked under 1.3 is that writing to the registry was non blocking, but still the state was never persisted, means on restart all events were resent.

The part that I see as a bug is that filebeat should not even start when a directory is

[2016-09-15 08:44] XooR commented on #2544
Yes it works with path pointing to a file. My mistake.

[2016-09-15 08:44] #2544 closed

[2016-09-15 08:45] ruflin commented on #2544
I opened here a PR to get better error handling: https://github.com/elastic/beats/pull/2552

[2016-09-15 16:54] pickypg opened #2556 "Add "version" to 5.x templates"
Templates (and pipelines) now support a `"version"` integer field that can added to them for the type of need that Logstash has: when to replace the existing template. (https://github.com/elastic/elasticsearch/issues/20171)

We should add the `"version"` to the existing 5.x Beats template, which should allow us to simplify replacing it, as needed, in the future as well as the older templates.

[co

[2016-09-15 20:16] tsg opened #2558 "Forgotten debug statement in Packetbeat"
Here: https://github.com/elastic/beats/blob/master/packetbeat/protos/http/http.go#L554

[2016-09-15 20:21] #2558 closed

[2016-09-15 20:47] inqueue opened #2561 "missing quote in HAProxy configuration sample"
`metricbeat-5.0.0-beta1-linux-x86_64`

The sample `stats_addr` config is missing a `"` at the end of the line.

`metricbeat.full.yml`:
[code]

[2016-09-15 22:04] inqueue opened #2563 "HAProxy info metricset events not ingested to Elasticsearch"
`metricbeat-5.0.0-beta1-linux-x86_64`

The `info` metricset is not getting ingested to Elasticsearch. `stat` metricsets are fine.
[code]

`haproxy.info.max.conn.rate` value from the source event shown in metricbeat output.console:
[code]

From the mapping template:
[code]

/cc @andrewkroh

[2016-09-15 22:10] andrewkroh commented on #2563
The schema in the code (https://github.com/elastic/beats/blob/master/metricbeat/module/haproxy/info/data.go#L49-L58) doesn't match with what's in the `fields.yml` for the module.

We also need to add a python system test case to cross-check the contents of the event against the `fields.yml`.

[2016-09-16 01:13] andrewkroh commented on #2485
[ ] - The addresses specified in the configuration should be validated when the MetricSet is constructed. This allows `-configtest` to catch invalid URLs.

[2016-09-16 05:42] snuffkingit commented on #154
+1

[2016-09-16 06:40] #2561 closed

[2016-09-16 06:42] ruflin commented on #2563
Closing as https://github.com/elastic/beats/pull/2565 was merged.

[2016-09-16 06:43] #2563 closed

[2016-09-16 07:03] ruflin commented on #2485
@andrewkroh I took your TODO's and also put them on the top so we have all in one place.

[2016-09-16 07:34] ruflin commented on #2556
We introduced a version in our template very recently as a meta field: https://github.com/elastic/beats/blob/master/metricbeat/metricbeat.template.json#L8 It is great to see that this is now supported natively. I will adjust our script to put the version now on the top level. Thanks for pinging us on this one.

[2016-09-16 12:16] ruflin commented on #2277
Closing as https://github.com/elastic/beats/pull/2478 was merged.

[2016-09-16 12:16] #2277 closed

[2016-09-16 14:31] ruflin commented on #428
Closing this issue as problem was solved.

[2016-09-16 14:34] ruflin commented on #484
This was done and fully automated for metricbeat. This should also be automated for the other beats in the future. Closing this issue as I think so far the experience with the `data.json` is positive.

[2016-09-16 14:34] #484 closed

[2016-09-16 14:36] #880 closed

[2016-09-16 14:38] ruflin commented on #624
In metricbeat a module can be defined multiple times with metricsets and different periods. That will solve the above problem. Closing this issue.

[2016-09-16 14:38] #624 closed

[2016-09-16 14:41] ruflin commented on #640
This feature request should be mostly covered by the system/network metricset in Metricbeat. Please test this out and let us know if that is what you needed. Closing this issue.

[2016-09-16 14:41] #640 closed

[2016-09-16 14:45] ruflin commented on #884
All beats now write every 30 seconds a stats report. Closing this issue.

[2016-09-16 14:45] #884 closed

[2016-09-16 14:46] ruflin commented on #914
Closing this issue as generic filtering is now available for all beats.

[2016-09-16 14:46] #914 closed

[2016-09-16 14:49] ruflin commented on #1077
Closing this issue as @kimjmin did a blog post (https://www.elastic.co/blog/build-your-own-beat) and the dev guide got updated accordingly.

[2016-09-16 14:49] #1077 closed

[2016-09-16 14:50] ruflin commented on #932
Closing as we have now added more reporting (for example #884)

[2016-09-16 14:50] #932 closed

[2016-09-16 14:53] ruflin commented on #1064
See https://github.com/elastic/beats/pull/2570

[2016-09-16 14:55] ruflin commented on #1149
This is solved in metricbeat which automatically generates documentation and example json files for all fields. Closing this issue.

[2016-09-16 14:55] #1149 closed

[2016-09-16 14:55] ruflin commented on #1205
This was done during the migration to metricbeat.

[2016-09-16 14:55] #1205 closed

[2016-09-16 14:57] ruflin commented on #1161
This is now possible the most recent beats releases thanks to go-ucfg. All config options can also be passed via `-E` flag. Closing.

[2016-09-16 14:57] #1161 closed

[2016-09-16 14:59] ruflin commented on #1216
Validation for configuration options got improved as all beats now use `go-ucfg`. As even better validation is an ongoing improvement I'm closing this issue.

[2016-09-16 14:59] #1216 closed

[2016-09-16 14:59] ruflin commented on #1244
This was implemented recently.

[2016-09-16 14:59] #1244 closed

[2016-09-16 15:01] ruflin commented on #1380
Closing as I think this was solved in https://github.com/elastic/beats/pull/1379

[2016-09-16 15:01] #1380 closed

[2016-09-16 15:02] ruflin commented on #1457
This issue was solved through the implementation of the `harvester_limit` config option in the 5.0 release. In general several issues happened when filebeat reached the max open file handlers.

@robin13 Please reopen if you think there are more fixes needed.

[2016-09-16 15:02] #1457 closed

[2016-09-16 15:08] ruflin commented on #637
Now that https://github.com/elastic/beats/pull/2456 is merged this feature got even more interesting :-)

[2016-09-16 15:10] ruflin commented on #1755
@gpestana Closing this issue as we try to have all questions on discuss: https://discuss.elastic.co/c/beats/filebeat Please open a topic there with this question in case the problem still persists.

[2016-09-16 15:10] #1755 closed

[2016-09-16 15:11] ruflin commented on #1685
Gotestcover was moved into the internal repo as it just works and is cross platform compatible. No need to replace it. See https://github.com/elastic/beats/pull/2154

[2016-09-16 15:11] #1685 closed

[2016-09-16 15:13] ruflin commented on #1627
I'm closing this issues as we try to keep all questions on discuss: https://discuss.elastic.co/c/beats/filebeat Please open a topic there if the problem still persists.

In your case, an interesting option could be `harvester_limit` which is part of the 5.0.0 builds.

[2016-09-16 15:13] #1627 closed

[2016-09-16 15:17] ruflin commented on #1736
Now you can use the -E flag to pass variables in the command line to a beat. I think that resolves this problem. Closing this issue.

[2016-09-16 15:20] ruflin commented on #1869
We heavily improve the validation of the config file. We still can't tell if there are too many fields which we don't use, but we very most of the fields that exist with `go-ucfg`. Closing this issue as this is some general that we keep improving.

[2016-09-16 15:21] ruflin commented on #1808
Closing as I think this problem was resolved.

[2016-09-16 15:21] #1808 closed

[2016-09-16 15:25] ruflin commented on #2044
As shutdown_timeout is now in master I'm closing this issue: https://github.com/elastic/beats/pull/2514 We still have https://github.com/elastic/beats/issues/1492 to track the Id generation.

@robin13 Please let us know if the shutdown_timeout works for you as expected.

[2016-09-16 15:25] #2044 closed

[2016-09-16 15:27] ruflin commented on #2388
Closing as we currently don't want to use 1.7 specific features.

[2016-09-16 15:27] #2388 closed

[2016-09-16 15:41] LeeDr commented on #1736
It doesn't solve the problem for running beats as a service.  I'm OK with closing this as "won't fix" because users can do what I'm doing.  I'm saving a copy of the beat .yml to beat.short.yml, and then copying beat.full.yml to beat.yml.  Then I use sed to set the username and password.

But I think is a step more work for a user than previous release where the username/password were in the beat.y

[2016-09-16 15:45] strootman commented on #880
@ruflin BTW, I've been using the re-index API, and it has helped. Thanks for the suggestion.

I even made an Ansible Role, [CyVerse-Ansible.es_api_reindex](https://galaxy.ansible.com/CyVerse-Ansible/es_api_reindex/).

[2016-09-16 19:35] sherry-ger commented on #1059
+1 for kafka

[2016-09-16 19:37] inqueue opened #2574 "HAProxy module: "Error on field" messages in metricbeat log"
metricbeat-5.0.0-beta1-amd64 33b18c0

It looks like the HAProxy module runs into field names produced by the stats call and is logging these errors:
[code]

These are the field names returned by `show stat`:
[code]

114 of these errors are logged every 10s to the metricbeat log.

[2016-09-16 20:49] dadoonet opened #2575 "Wrong link for dashboards"
In https://github.com/elastic/beats/blob/master/libbeat/dashboards/import_dashboards.go#L86 we are downloading dashboards from `https://download.elastic.co/beats/dashboards/beats-dashboards-%s.zip`

But we are uploading dashboards to `https://download.elastic.co/beats/beats-dashboards/beats-dashboards-%s.zip`.

We need to fix one or the other.

[2016-09-17 00:15] hartfordfive commented on #2485
@andrewkroh Regarding most of the errors regarding the HAProxy fields, I believe it's because some of the fields aren't present in each `stat` entry.  How do you guys deal with fields that may not always have a value like in this case?  That way I can keep that in mind for the next time I create a module.

[2016-09-17 20:08] zstyblik commented on #1380
@ruflin, as @monicasarbu this should've been fixed by a different PR. #1379 for sure did not address this issue.

[2016-09-18 03:40] spacewander opened #2579 "Inconsistent ack metrics between elasticsearch and other output"
When testing with elasticsearch output, I find the metric `eventsNotAcked` is always zero, even in the situation sending all failed.

Hence I dig into the source and figure out the es output counts `eventsNotAcked` only after `sendErr` is nil:
https://github.com/elastic/beats/blob/master/libbeat/outputs/elasticsearch/client.go#L231

Quite strange, isn't it? This behaviour is different from the sam

[2016-09-18 09:29] #2575 closed

[2016-09-18 17:47] zstyblik commented on #1380
... but it did get fixed over the time indeed. Just not in #1379 :)

[2016-09-19 05:48] magnusbaeck opened #2581 "Disable useless HTML escaping when marshaling JSON"
Go's HTML marshaler escapes ampersand and angle brackets by default, i.e.

[code]

becomes this:

[code]

This is done to keep browsers from interpreting the JSON text as HTML, but that's hardly useful in the Beats case. Go 1.7 introduced an option to disable this kind of escaping (see [json.Encoder.SetEscapeHTML](https://golang.org/pkg/encoding/json/#Encoder.SetEscapeHTML)), and now that Beats ha

[2016-09-19 07:15] ruflin commented on #1736
Looks like we already made this change here: https://github.com/elastic/beats/commit/dff726cb2dc3ec0a73081e563531df169cf737e9#diff-4e8f49753b842891a1a862402b8a09cbR85 Username and password are not also part of the "short" config. Fully agree that it should be there as authentication is quite a standard case.

@LeeDr Can you close the issue if that is what you expected? I think we just forgot to no

[2016-09-19 07:16] ruflin commented on #880
@strootman Good to hear it worked. Would be nice to get your feedback on the new `-once` option to see if this also works as expected: https://github.com/elastic/beats/issues/2456

[2016-09-19 07:24] ruflin opened #2582 "Add missing log param in redis client"
The following log command is missing the third param: https://github.com/elastic/beats/blob/master/libbeat/outputs/redis/client.go#L185

[code]

[2016-09-19 07:32] ruflin commented on #2485
@hartfordfive For the fields that are optional, you can use the `Optional` flag. See for example here in apache status metricset: https://github.com/elastic/beats/blob/master/metricbeat/module/apache/status/data.go#L23

[2016-09-19 07:54] ruflin commented on #2579
It seems like `sendErr` means the complete bulk request failed. It is possible that out of a bulk request, only few messages arrived. So there is a difference between connection failed and some acked failed.

I see the point that in case the full request failed, we should also increase the counter with notAcked events as the user the above difference doesn't matter. @urso WDYT?

[2016-09-19 08:33] #2490 closed

[2016-09-19 10:25] alefebvre-ls commented on #2275
@tsg In case it's of any help to you, here's another discussion that actually pre-dates the one you've included:

https://discuss.elastic.co/t/http-output-to-logstash/33269/16

[2016-09-19 11:46] tsg opened #2586 "Packetbeat: Add a DNS sample dashboard"
DNS is a popular protocol for Packetbeat, and it's also one that almost always has data, which is nice. I'm therefore missing a default sample dashboard for it.

[2016-09-19 12:10] urso commented on #2582
the redis list its name is missing for second '%v'

[2016-09-19 12:27] #1742 closed

[2016-09-19 12:40] XooR commented on #521
beats use go-daemon:
https://github.com/tsg/go-daemon

[2016-09-19 13:44] LeeDr commented on #1736
I verified in the 5.0.0-beta1 build that username and password are in the `output.elasticsearch:` section again.  Closing.

[2016-09-19 13:44] #1736 closed

[2016-09-19 17:09] #2582 closed

[2016-09-20 18:02] ppf2 opened #2604 "Add upgrade guide for Beats"
The beats platform does not currently provide an upgrade guide which is not consistent with the rest of the Elastic offerings.  This is to track the development of an upgrade guide that covers the upgrade process of each beat (eg. 1.x->1.x and 1.x->5.x).

@eskibars @pickypg @asawariS

[2016-09-20 18:04] asawariS commented on #2604
@ppf2 Beats team will be creating one for 5.0. See #1488. I have asked @tsg and @monicasarbu to share the early draft with us. Likely in the post beta1 timeframe.

[2016-09-20 18:08] ppf2 commented on #2604
Thanks, will 1488 include a 1.x to 1.x upgrade guide?  If not, let's cover Beats 1.x->1.x as well even if it's a simple backup configs -> uninstall -> install new version just so that the end user will know what is involved :)

[2016-09-21 08:53] blinken opened #2608 "Filebeat holds open deleted file descriptions with close_removed"
Hi,

The latest filebeat alpha seems to hold on to deleted file descriptors even with the config option close_removed: true. This eventually exhausts all available disk space. We typically see this when filebeat can't insert events into its output redis queue.

I think the issue here is partly of our own creation:
- filebeat is sending events to a remote redis server, which occasionally fills up d

[2016-09-21 10:18] jjfalling opened #2613 "tail_files behavior"
Most users might expect that tail_files would  apply `ReadFromLast` only on the first scan and from then on it is not taken into account anymore. This behavior was not possible in 1.x because of filebeat worked but it should be possible to change it in the 5.x versions.

[2016-09-21 10:22] ruflin commented on #2613
During startup of filbeat 5.x, a first scan is done to set all the states. During this scan `tail_files` should apply but not during all following scans. The problem in 5.x is that `tail_files` currently still applies on a harvester level as the offset is set inside the harvester. This logic could be moved to the prospector which makes it possible, to only apply it during the first scan.

[2016-09-21 10:27] ruflin commented on #2608
@blinken Thanks for the detailed report. Could it be that you hit this issue here? https://github.com/elastic/beats/pull/2541 Could you check if you still see it with the most recent snapshot? https://beats-nightlies.s3.amazonaws.com/index.html?prefix=filebeat/

[2016-09-21 13:55] doingitbigdata commented on #1022
I am currently experiencing this inode reuse issue in a production system using filebeat v1.2.3. Can someone advise me if the only current solution is to upgrade to v5.0.0 alpha5? Will the clean_* variables be backported to a release version as this is a pretty critical issue?

[2016-09-21 14:02] ruflin commented on #1022
@doingitbigdata Backporting the clean_* options to the 1.x release is not possible because of the inner workings of filebeat and the registry file structure in 1.x. Your only way is to upgrade to the 5.0.0 releases. Beta1 is coming soon if that helps.

[2016-09-21 23:25] bohyun-e opened #2615 "Improve built-in metricbeat dashboards"
- Version: 5.0-beta1
- Operating System: MacOSX
- Steps to Reproduce:

1. Download Metricbeat 5.0-beta1 and install
2. Install the Metricbeat dashboard
3. View the built-in Metricbeat Kibana dashboard and obsesrve that particularly the metric(number) visualizations don't fit well in the chart region as below images.

Feedback on **Usability**:
From the user's perspective, it'd make the numbers mor

[2016-09-22 04:46] blinken commented on #2608
Looking much better after a few minutes here on the snapshot.

Before -

    $ sudo lsof -n -p 4705 | tail -n20
    filebeat 4705 root 1003r   REG      202,0    999045    1985822 /var/log/service_a/@4000000057e353d438814b3c.s
    filebeat 4705 root 1004r   REG      202,0    999071    1992921 /var/log/service_b/@4000000057e354232f256f64.u (deleted)
    filebeat 4705 root 1005r   REG      202,0    9

[2016-09-22 06:38] ruflin commented on #2608
@blinken Thanks a lot for testing. I think you hit the exact same bug that was fixed in https://github.com/elastic/beats/pull/2541 This fix will also be part of the next beta1 release.

I'm closing this issue as I think it is fixed. In case the problem starts to appear again with the snapshot, please reopen this issue.

[2016-09-22 06:38] #2608 closed

[2016-09-22 21:00] LeeDr opened #2623 "metricset 'system/load' is not registered (on Windows)"
- Version: 5.0.0-beta1
- Operating System: Windows 10
- Steps to Reproduce:

1) start metricbeat.exe with the default metricbeat.yml (actually it was the .full.yml)
2) Fatal error as shown below

[code]

3) I commented out the `- load` line and now it starts fine
[code]

[2016-09-23 07:45] WangXiangUSTC opened #2626 "filebeat can’t send data to kafka cluster when one kafka can’t connect because of network"
Filebeat version: 5.0.0-alpha4
Operating System: debian 8
I use filebeat get log from computer A, and then send to a kafka cluster group by two kafka run at two computers named B and C.
Today, I test the high avaliability of this system. below are what I do:

setting the firewall to cut off the network between A and B, and I hope the filebeat can send log to C, but not.these are the log of filebea

[2016-09-23 10:59] ruflin opened #2629 "Docker module improvements"
- [x] Add tests to generate `data.json` files https://github.com/elastic/beats/pull/2665
- [x] Check that config files are according to standard (experimental disabled by default) https://github.com/elastic/beats/pull/2665
- [x] Review all docker fields for the naming convention https://github.com/elastic/beats/pull/2665
- [x] Add CHANGELOG update https://github.com/elastic/beats/pull/2674
- [x] D

[2016-09-23 12:24] tsg opened #2634 "Metricbeat: don't exit on single module/metricset error"
Following up from #2623 and #2632, we should consider making Metricbeat not exit in case one of the modules fails to initialize. The reason is that some modules might not be available on the current platform, but we still want them in the default config for the other platforms.

[2016-09-23 12:27] #2623 closed

[2016-09-23 13:29] ruflin opened #2638 "Create a guide on how to tune beats (performance)"
I was thinking of something very similar to: https://www.elastic.co/guide/en/logstash/current/performance-troubleshooting.html

There will probably one generic section about outputs, but there will also be beat specific segments. Should they all be in one place?

[2016-09-23 13:43] raboof opened #2639 ""make package" for community beat"
Hi,

I'm having some trouble packaging my community beat (https://github.com/raboof/connbeat).

When I 'make package':

[code]

What I notice is that my the github.com/raboof directory is mounted to /source
[code]

... but that then it appears to be copied to github.com/raboof/connbeat:

[code]

This *seems* inconsistent, and it *seems* choosing to mount `$(abspath ../)` on `/source` in  https://g

[2016-09-23 14:13] ruflin commented on #2639
`package` requires the `github.com/elastic/beats` to be part of your vendor directory. It doesn't work if it is only in your GOPATH. Based on the error I assume this is the problem.

Did you use the beat-generator to create the beat? The most recent version should copy it over to the vendor directory.

I'm very happy to see that you are building a beat. Lets use discuss for further discussion (exc

[2016-09-23 14:13] #2639 closed

[2016-09-23 15:52] urso commented on #2626
The kafka output being blocked is due to the partitioner trying to publish to all known partitions. It's not really a bug, as pushing to a subset of partitions only comes with other undesirable effects like: uneven distribution of events between partitions, sizing must take into account getting more events per partition then originally expected, consumer load being not evenly distributed (bad hori

[2016-09-23 15:52] #2626 closed

[2016-09-25 03:48] ppf2 opened #2640 "Topbeat has no 5.0 beta1 download link"
All the other beats have their corresponding 5.0 beta1 download sections below their 1.x download sections, but the download page for topbeat (https://www.elastic.co/downloads/beats/topbeat) only shows the 1.x download links and is missing downloads for 5.0 beta1

![image](https://cloud.githubusercontent.com/assets/7216393/18812889/12793794-8298-11e6-8278-8cf51a046038.png)

[2016-09-25 11:59] omerlh commented on #431
Sure, thanks

[2016-09-25 19:52] ruflin commented on #2640
There does not exist any Topbeat 5.0 version. It is "replaced" by Metricbeat which includes the Topbeat features and adds more. Closing this as this is intended.

[2016-09-25 19:52] #2640 closed

[2016-09-26 05:39] ppf2 commented on #2640
Oh yah, missed that note in the paragraph makes sense :)

[2016-09-26 17:20] neuronring opened #2643 "Filbeat stops crawling the file after some time"
Filebeat stops crawling the files after some time. I tried several different methods and changed the scan frequency and back off seconds. But the filebeat wouldnt detect any new patterns after ~5 mins. I works only the very first time after the installation and whenever i modify the include_lines:[], it wont parse any of the patterns any more.

I tried it without any regex filtering and it works f

[2016-09-26 20:15] neuronring commented on #2643
More information:
Whenever i write something to the file in the configured prospectors, it says the below, but not capturing any events matching the include_lines: config value.

`2016-09-26T15:08:22-05:00 INFO Registry file updated. 59 states written.
2016-09-26T15:08:22-05:00 INFO Harvester started for file: e:\test_log\one.log
2016-09-26T15:09:12-05:00 INFO Registry file updated. 59 states writ

[2016-09-26 21:20] #2643 closed

[2016-09-26 21:21] neuronring commented on #2643
issue was with the File encoding. I was saving the log files in Unicode format which ended up creating space between each characters. After i changed the encoding to ANSI or UTF-8 it worked fine, Thanks to the debug mode.

[2016-09-27 04:02] ageetha opened #2644 "Provide basic log parsing capability in filebeat"
We have been extending filebeat to provide basic parsing using Named Regex. The named regex is an optional parameter that can be specified per prospector in filebeat.yml file.  Following is an example.

parsingRegex: (?P<was_requestHost>\S+)\s\S+\s\S+\s[(?P<was_datetime_date>.+)]\s"(?P<was_requestMethod>\S+)\s(?P<was_uriPath>\S+)(?:\?)?(?P<was_queryString>\S+)?\s(?P<was_requestProtocol>\S+)\s(?P<w

[2016-09-27 14:20] fiunchinho commented on #661
any updates on this one?

[2016-09-27 15:19] doingitbigdata opened #2646 "Filebeat 5.0.0-beta1 not always removing deleted files from registry"
- Version: filebeat version 5.0.0-beta1 (amd64), libbeat 5.0.0-beta1
- Operating System: Red Hat Enterprise Linux Server release 6.5 (Santiago)

I'm having an issue where a deleted file is not being removed from the registry. The entry in the registry persists and I can see the timestamp for the entry increasing over time.

I do not have the clean_removed parameter specified in filebeat.yml theref

[2016-09-28 07:47] gimler opened #2648 "Which beat should i use?"
I am a liddle bit confused about packetbeat topbeat and metricbeat

1. You can beat you system with metricbeat and topbeat? Why both is someone deprecated?
2. You can beat you mysql with metricbeat and packetbeat? Why both is someone deprecated?

[2016-09-28 08:25] gimler commented on #2648
1. "Topbeat is being replaced with Metricbeat in 5.0."

[2016-09-28 08:54] mrjameshamilton opened #2649 "Option to put metadata like offset into the metadata array"
In filebeat, currently offset and others are put into the root. I think this should go into the metadata array.

[2016-09-29 07:34] tsg commented on #2644
Hi @ageetha, sorry for the late answer. Our general plan is to make use of the Elasticsearch [Ingest Node features](https://www.elastic.co/guide/en/elasticsearch/reference/master/ingest.html) (new in 5.0) to do the parsing. This is nice because it means that we need less CPU usage on the edge server, because the parsing is being done centrally. We can also have Filebeat create the Ingest pipelines

[2016-09-29 07:40] tsg commented on #2648
That's right, Topbeat is being extended in Metricbeat in version 5.0.

Regarding Metricbeat vs Packetbeat, they work quite differently. Metricbeat queries the MySQL monitoring APIs and extracts the metrics as reported by MySQL. Packetbeat sniffs and decodes the network traffic received and sent by Packetbeat and stores the transactions in Elasticsearch. So ideally you would use both, but the Packe