[2021-04-12 17:37] EricDavisX opened #25028 "Elastic-Agent fails to start (8.0 / dev issue) - when connecting with Kibana to ES (Kibana support for Agent as opposed to Fleet Server)"
The Fleet Demo / Test environment is showing us that 7.12 Agents can connect, but 8.0 Agents are unhealthy and show no 'logs' in the UI.  From the host I can show you the logs below, off of a Linux host:

root@ingest-linux-1:/home/admin# cat /opt/Elastic/Agent/elastic-agent.log.1
2021-04-12T09:51:58.374Z	INFO	warn/warn.go:18	The Elastic Agent is currently in BETA and should not be used in producti

[2021-04-12 17:37] elasticmachine commented on #25028
Pinging @elastic/agent (Team:Agent)

[2021-04-12 18:05] EricDavisX commented on #25028
PH agrees with slack conversation from Blake - we want to ignore this since we're turning off Kibana support for connecting Agents quite soon.   Reference this Kibana side issue for more details:
https://github.com/elastic/kibana/issues/94303

I would like to leave this open until we have more resolution, mind you - I have had some luck using some specific Fleet Server Agent connections so the tea

[2021-04-12 18:20] EricDavisX commented on #25015
@ph who can take a look at this?  is it a package issue we need to fix?

[2021-04-12 18:21] #24878 closed

[2021-04-12 19:04] mostlyjason commented on #25005
Tagging @ph track this one and adding to iteration board

[2021-04-12 19:28] elasticmachine commented on #25015
Pinging @elastic/agent (Team:Agent)

[2021-04-12 19:29] ph commented on #25015
@EricDavisX This is a Metricbeat issue correct? We haven't changed anything in metricbeat for some time but did the "setup" metricbeat's subcommand was run?

[2021-04-12 19:46] mostlyjason opened #25030 "[Elastic Agent] Unenroll timeout for containers"
**Problem**
When an Elastic Agent container is removed, it will leave an orphan agent in Fleet visible on the Agents page. Users have to manually force unenroll them to remove them from the page. This is particularly problematic for Elastic Agents in hosted agent policies because users are not allowed to unenroll them, so they will remain visible as offline forever.

Elastic Agents that run in con

[2021-04-12 19:46] elasticmachine commented on #25030
Pinging @elastic/agent (Team:Agent)

[2021-04-12 20:31] #23937 closed

[2021-04-12 21:11] urso commented on #25021
I don't think so. HTTP2 might still hit a few different code paths in the stdlib http package and I would prefer to have tests that our setup works correctly.

[2021-04-12 21:56] killswitch-GUI commented on #16824
Following.

[2021-04-12 21:57] killswitch-GUI commented on #16824
Same issues here. Following

[2021-04-12 22:07] leahleahy commented on #17163
Hi, I can take this!

[2021-04-12 23:16] #16059 closed

[2021-04-13 03:13] #24345 closed

[2021-04-13 03:25] #22215 closed

[2021-04-13 05:38] michalpristas commented on #21870
@eric was this verified as fixed and can this issue be closed

[2021-04-13 05:39] kunisen commented on #16115
hi @inqueue

May I ask your help to check this comment please?

I did some investigation and found `cpu.user_p` seems to be an old field, and it's now replaced with `system.cpu.user.pct`, which is not `system.cpu.iowait.pct`.

https://github.com/elastic/beats/pull/4550/files#diff-d1f0b4526ef0b5e6ec951c4fcd427a0aa9caa0f6175e430a7d06f6b237dc6d81L10051
https://github.com/elastic/beats/pull/4550/files

[2021-04-13 07:21] willemdh commented on #24835
@jamiehynds Something that imho should be added is giving us the choice to use tcp instead of udp to ingest panw data. We are experiencing issues with udp (up to 5 % loss during peak ingest times). Tcp seems to be more reliable.

Currently we have to edit /usr/share/filebeat/module/panw/panos/config/input.yml ourselves and change:

[code]

to:

[code]

Considering the sensitivity of the panw data,

[2021-04-13 07:47] exekias commented on #24054
++, I could also see how we may see the need for more logic in templates in the future.

For templates it sounds like some kind of type + semantic validation for input parameters would be enough to achieve some level of security.

To some extent, this allow/deny feature sounds like something you want in general, right? Also outside of the scope of templates. Would it make sense to think about it i

[2021-04-13 08:28] elasticmachine commented on #25027
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-04-13 09:37] mtojek commented on #25022
Another occurrence:

https://beats-ci.elastic.co/job/Ingest-manager/job/integrations/job/master/229/artifact/build/elastic-stack-dump/latest/system/logs/elastic-agent.log

[2021-04-13 10:23] amolnater-qasource commented on #25015
Hi @ph

Yes, this is a Metricbeat issue and we have run `metricbeat setup` command.
Further we observed expected data as per our testcases under all the other sections:
- Discover tab [Screenshots attached above- in **What's Working Fine** section]
- [Metricbeat System] Host overview ECS
- [Metricbeat System] Containers overview ECS

However as per our testcase we are unable to view "[Metricbeat S

[2021-04-13 10:33] jamiehynds opened #25035 "[Palo Alto] Add TCP Support"
The Palo Alto module is currently limited to ingesting events via UDP. To ensure more reliable transmission of Palo Data data, users should have the option to ingest events via TCP, similar to our [Fortinet var.input options](https://www.elastic.co/guide/en/security/current/ingest-data.html).

Users can enable this option today, but requires manual editing of the input.yml file:

[code]

Adding su

[2021-04-13 10:33] elasticmachine commented on #25035
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-04-13 10:39] jamiehynds commented on #24835
Thanks @willemdh - your suggestion makes total sense. I've created an issue for it: https://github.com/elastic/beats/issues/25035

[2021-04-13 11:43] michalpristas commented on #25022
havent seen this so far, any special circumstances?

[2021-04-13 12:09] michalpristas commented on #25022
looking at the code this is most likely coming from http.Client itself, other errors are decorated with messages.
are we sure kibana is up and running?
other reason may be closing the connection and tring to reuse that one after rate limiting, but for that i would expect some warnings in agent logfile. do we have these available?

[2021-04-13 12:27] ph commented on #25015
Can you add the output of the s**setup** subcommand?

[2021-04-13 12:38] dikshachauhan-qasource commented on #21870
Hi @EricDavisX

We have validated this issue on 8.0 build and found fixed for Mac and Linux agents with Endpoint.

- Now endpoint gets removed when agent is uninstalled.

We are blocked to validate same on Windows due to defect https://github.com/elastic/kibana/issues/93910.

Screenshot:
![image](https://user-images.githubusercontent.com/72375798/114553364-304e0380-9c83-11eb-8a0a-e26629955b2e.png)

[2021-04-13 12:58] mtojek commented on #25022
7.13.0-SNAPSHOT

All logs are present here:
https://beats-ci.elastic.co/job/Ingest-manager/job/integrations/job/master/229/artifact/build/elastic-stack-dump/latest/system/logs/

[2021-04-13 13:01] bduffy-aylien commented on #22254
Hi, lower and uppercase processors would be nice. You can achieve something similar just using the script processor. For example I have a filed for log `level` and I can set it to lowercase like so;
[code]

[2021-04-13 13:16] #17629 closed

[2021-04-13 13:16] #17616 closed

[2021-04-13 13:19] michalpristas commented on #25022
i was hoping for a log file inside `/opt/Elastic/Agent`

[2021-04-13 13:31] mtojek commented on #25022
Unfortunately we don't have it. If there is a way to route the output of that file to stdout/stderr we can grab it with `docker logs`.

[2021-04-13 13:34] EricDavisX commented on #21870
We have seen Windows working and testable, apart from the noted issue above - if you are seeing it we should follow through to see if we can resolve it sooner as opposed to later.  We can add it to the urgent-issues list.

[2021-04-13 13:36] jamiehynds commented on #24835
@willemdh - PANW seem to recommend IETF format syslog when sending via TCP? Have you enabled IETF and if so, any issues?

[2021-04-13 15:16] #17654 closed

[2021-04-13 15:16] #17350 closed

[2021-04-13 15:44] urso commented on #25021
Good point. We also use gRPC between Beats and Agent. Are there other intneral channels we must ignore the proxy settings for?

Besides `HTTP_PROXY` environment variable we need to support `HTTPS_PROXY` and `NO_PROXY`.

The proxy rules for the [elasticsearch output](https://github.com/elastic/beats/blob/master/libbeat/esleg/eslegclient/connection.go#L126) are:
- If `proxy_disable` is configured we

[2021-04-13 16:04] simitt commented on #25005
@blakerouse yes, because for backwards compatibility to older ECE versions (which will not support the agent and fleet setup), there shouldn't be any notion of enrolling the elastic agent etc; there won't be a `fleet.yml` present when first called.
The way we can figure this out is to not run a enroll/setup command when `ELASTIC_AGENT_CLOUD=false` or unset and no configuration file is provided. I'

[2021-04-13 16:13] kaiyan-sheng opened #25043 "Flaky Test [Build&Test / metricbeat-goIntegTest / github.com/elastic/beats/v7/metricbeat/module/logstash.TestFetch/node_stats]"
## Flaky Test

* **Test Name:** TestFetch
* **Link:** https://github.com/elastic/beats/blob/master/metricbeat/module/logstash/logstash_integration_test.go#L43
* **Branch:** master and 7.x
* **Link:** https://beats-ci.elastic.co/job/Beats/job/beats/job/PR-24957/2/testReport/junit/github/com_elastic_beats_v7_metricbeat_module_logstash/Build_Test___metricbeat_goIntegTest___TestFetch_node_stats/

###

[2021-04-13 16:14] elasticmachine commented on #25043
Pinging @elastic/integrations (Team:Integrations)

[2021-04-13 16:14] elasticmachine commented on #25043
Pinging @elastic/stack-monitoring (Stack monitoring)

[2021-04-13 17:09] willemdh commented on #24835
Yes, we tried IETF, but it doesnt work.

[2021-04-13 18:27] urso commented on #24054
Allow/denylists totally make sense at the input/integration level. With templates I would expect template authors to wish to be more strict or even introduce some additional configurable checks.

[2021-04-13 19:58] P1llus commented on #22293
Can this one be closed @jamiehynds ?

[2021-04-13 23:59] P1llus opened #25058 "[Filebeat][O365 Module] client_secret produces error if secret starts with @"
Seems like there might be an issue with the configuration mapping (mustache?) for certain fields starting with `@`.

Looking at: https://discuss.elastic.co/t/yaml-found-character-that-cannot-start-any-token-when-value-starts-with/269778

The following example:
[code]

Would produce an error like:
`cfgfile/list.go:99 Error creating runner from config: Error getting config for fileset o365/audit: Er

[2021-04-13 23:59] elasticmachine commented on #25058
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-04-14 00:23] P1llus commented on #24609
Want to add this for reference as well: https://github.com/elastic/beats/issues/25058

[2021-04-14 00:43] DennisRasey opened #25059 "Docker image for Heartbeat 7.12.0 too large"
The docker image for Heartbeat 7.12.0 is about 1.2g after pulling.
The image for 7.11.2 is 433mb after pulling

[code]
The 7.12.0 image appears to have some build left-over in /usr/share/heartbeat, the 7.11.2 image does not

[code]

main culprits appear to be:
[code]

[2021-04-14 01:17] P1llus opened #25060 "[Filebeat][httpjson input] Unable to create body with single value list"
Follow-up from discussion here https://discuss.elastic.co/t/header-transform-concern-need-help/269064/19.

There does not seem to be any good way or workaround to create a body with a single value list.

The append documentation states:
https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-input-httpjson.html#_append
`Appends a value to a list. If the field does not exist, the first entr

[2021-04-14 01:18] P1llus commented on #25060
We could either change the default behavior, or we would need some config option for this, is there a reason why the first value is not a list when using `append` compared to `set`, WDYT @marc-gr ?

[2021-04-14 01:19] elasticmachine commented on #25060
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-04-14 02:50] matschaffer opened #25061 "Filebeat module for zookeeper logs"
**Describe the enhancement:**

We have a lot of great modules in https://github.com/elastic/beats/tree/master/x-pack/filebeat/module but nothing for https://zookeeper.apache.org/

It'd be great to have a module with pre-defined beats & ingest pipeline configs to get those logs into ECS format.

**Describe a specific use case for the enhancement or feature:**

We run zookeeper as part of backend in

[2021-04-14 06:06] amolnater-qasource commented on #25015
Hi @ph
Please find following screenshot for the output of setup command:

![1](https://user-images.githubusercontent.com/77374876/114660788-8c606880-9d13-11eb-9bea-afa576494281.JPG)

Further, on revalidating this issue today we are getting required "[Metricbeat System]: Overview ECS" Dashboard, hence closing this out.

![2](https://user-images.githubusercontent.com/77374876/114660990-d9443f00-9d13

[2021-04-14 06:06] #25015 closed

[2021-04-14 06:21] simitt commented on #24467
FWIW I am seeing a similar error on latest `7.13.0-SNAPSHOTs`. Started a fresh ES + Kibana container and started Elastic Agent with
[code]

seeing this error:
[code]

[2021-04-14 06:22] simitt commented on #24467
Just realized, the above mentioned error is covered in https://github.com/elastic/kibana/issues/96779.

[2021-04-14 06:46] #24902 closed

[2021-04-14 07:03] legoguy1000 commented on #25060
@P1llus the original poster in discuss had created an issue for this, #24952. I would close one so there's not duplicates.

[2021-04-14 07:16] #17686 closed

[2021-04-14 07:21] simitt opened #25063 "[elastic-agent][container] increase limit for retries to Kibana"
The container cmd retries requests to Kibana up to [30 times with 1 second sleep intervals](https://github.com/elastic/beats/blob/master/x-pack/elastic-agent/pkg/agent/cmd/container.go#L43-L44).
Kibana can take several minutes to start up. Increase the retry counter/timeout accordingly, or make it configurable. This is important for scenarios where Kibana and the Elastic Agent get deployed at the

[2021-04-14 07:21] elasticmachine commented on #25063
Pinging @elastic/agent (Team:Agent)

[2021-04-14 07:32] marc-gr commented on #25060
Was a matter of consistency with `append` processor, which works like this. Truth is that the `append` transform is not only meant to send data to ES so this behavior might be not the expected one. I am fine with either (or both) changing the default behavior to always create a list, or to allow set to have list values as suggested in #24952. The first would be considered a breaking change though,

[2021-04-14 07:43] mtojek commented on #24467
@simitt I suppose we've a different problem here. I'm pretty sure I reported this one for a different root cause, but all error message look either similar or even the same.

At the moment I don't reckon if this GH issue exists anymore (too many consecutive ones).

[2021-04-14 08:07] elasticmachine commented on #25061
Pinging @elastic/integrations (Team:Integrations)

[2021-04-14 08:27] geostant opened #25065 "[GCP] Add missing metrics using CLI"
**Describe the enhancement:**

As a cloud-infra team we would like to separate our ways from the cloud provider's monitoring and alerting in-house tools and start using metricbeats and stack for monitoring and alerting.

While researching what is available in the modules I found missing metrics that I would like to be added via the CLI.

**Describe a specific use case for the enhancement or featur

[2021-04-14 08:27] elasticmachine commented on #25065
Pinging @elastic/integrations (Team:Integrations)

[2021-04-14 08:51] #24217 closed

[2021-04-14 09:26] jamiehynds commented on #24835
@willemdh would you be able to provide some sample events in IETF format? RFC5424 was [recently added ](https://github.com/elastic/beats/pull/23954#pullrequestreview-595832655) to the syslog input and would like to ensure we can support IETF as part of the TCP support. Will get in touch offline regarding the scale issues you've seen with the PANW module.

[2021-04-14 09:43] #22293 closed

[2021-04-14 10:09] sw-jung opened #25069 "Performance metricsets of Metricbeat MySQL module does not working with MySQL 5.7"
- Version: 7.10.x
- Steps to Reproduce:
  - Install MySQL 5.7
  - Install Metricbeat with enabling MySQL module
  - Enable performance metricsets for the installed MySQL

Metricbeat - MySQL - performance metricsets fails with the following errors when enabling it for MySQL 5.7.
[code]

For the `quantile_95` field, I can find it on [8.0 Manual](https://dev.mysql.com/doc/refman/8.0/en/statement-summ

[2021-04-14 10:18] willemdh commented on #24835
@jamiehynds It'll be hard to provide you with IETF logs in ahort time, as I have multiple holidays coming up and also one week SANS course.  I also need our network team for this and they are also overworked. Maybe end of May I could provide those.

[2021-04-14 11:25] yevgenytrcloudzone commented on #22501
Hi, the problem still exist in 7.12.0 Metricbeat for Windows.
I have also tried the `filesystem.ignore_types: [cdrom]` method for the system module YAML configuration, but it won't help.
Is it suggested to use an older version of Metricbeat or a fix is coming soon (it's a VM on ESX where I can simply disconnect the virtual CDROM)?

[2021-04-14 12:28] ph commented on #25063
@michalpristas Can you take a look at this one?
@simitt I would consider this a bug, but the risk is to have a disconnected instance of Elastic Agent, right?

Should we make it retry infinitely

[2021-04-14 12:53] blakerouse commented on #25063
We should not make it go infinitely by default. It would be better to see the container restarted in Kubernetes versus it always up even though its not connected.

I think adding ENV variables to control this would be best.

[2021-04-14 13:27] simitt commented on #25063
making the timeout configurable SGTM;

yes, but in some cases that's preferable to having the container being restarted (because the elastic-agent is in `beta`, but `apm-server` also started from this process is `GA`).

[2021-04-14 13:28] ph commented on #25063
Ok, let's make it configurable.

[2021-04-14 13:42] elasticmachine commented on #23112
Pinging @elastic/agent (Team:Agent)

[2021-04-14 13:51] #24899 closed

[2021-04-14 13:54] Tibo669 opened #25078 "[Filebeat] Annotations dedot is ignored"
**Beats version**: 7.11.2

The dedot functionallity cannot be disabled for annotations, even with `annotations.dedot: false`.
Using this Filebeat configuration we can expect to index documents with fields named like `cls.department`.
[code]

But the document ends up indexed with fields `cls_department` - they are "dedotted" anyway.

According to the code, it is explained by the fact that we ignore

[2021-04-14 14:02] elasticmachine commented on #25078
Pinging @elastic/integrations (Team:Integrations)

[2021-04-14 15:33] #24952 closed

[2021-04-14 15:33] #25060 closed

[2021-04-14 15:35] simitt opened #25086 "[elastic-agent][fleet-server] enrollment fails when certs and localhost are configured"
When configuring a `FLEET_CA` and `FLEET_SERVER_CERT` and `FLEET_SERVER_CERT_KEY` in combination with the `FLEET_URL`, the elastic-agent cannot enroll via the fleet-server and following error is logged:
[code]

The Fleet Server then reports degraded health.

[2021-04-14 15:35] elasticmachine commented on #25086
Pinging @elastic/agent (Team:Agent)

[2021-04-14 17:07] NerdSec commented on #20410
This would be a real life safer. I am tired of managing the script for deleting log files and the corresponding celery tasks.
Also, for scenarios where a large number of files are created and dumped to be read, without any logrotate, this is a big issue.

I currently have an integration with a SIEM product that supports only dumping raw logs to files. These files are never updated, or rotated, and

[2021-04-14 19:40] #25005 closed

[2021-04-14 23:28] wylieconlon commented on #20432
Even though we no longer use the field cache in index patterns, it is a problem for Kibana that Beats installs templates that contain all of ECS. It makes _every page in Kibana slower_, sometimes by orders of magnitude, because of the overhead in passing around a huge bit of JSON.

The only workaround that I've been starting to recommend to users is that they manually delete unused mappings from t

[2021-04-15 02:49] ktpktr0 opened #25100 "How does filebeat collect docker container names"
Now I use container ID to collect logs, but when I view logs on kibana, I can't know which container name ID corresponds to. So I want to collect container names through filebeat. The current configuration of filebeat is as follows:

[code]

I know that there is a function to add docker metadata, but I can't match the container name I want through regular expression (I have multiple containers of

[2021-04-15 08:22] merlixelastic opened #25107 "Release note/changelog missing since 7.9.0"
Changelog are available up to version 7.9.0 there:
 [https://github.com/elastic/beats/blob/master/x-pack/elastic-agent/CHANGELOG.asciidoc](https://github.com/elastic/beats/blob/master/x-pack/elastic-agent/CHANGELOG.asciidoc)

Changelog should go up the the latest version (7.12.0 at the time I'm writing this).
Documentation should contain release notes based on the changelog.

[2021-04-15 08:50] amolnater-qasource opened #25108 "[Windows 10 x32]: Agent in unhealthy state when installed with default policy having System and Endpoint Security."
**Kibana version:** 8.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** Windows 10 x32, All

**Build Details:**
[code]

**Preconditions:**
1. 8.0 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Install agent with default policy having System and Endpoint Security  integrations.
3. Navigate to agent "Logs" tab an

[2021-04-15 08:50] amolnater-qasource commented on #25108
@muskangulati-qasource Please review.

[2021-04-15 08:51] elasticmachine commented on #25108
Pinging @elastic/agent (Team:Agent)

[2021-04-15 08:53] muskangulati-qasource commented on #25108
Reviewed & assigned to @EricDavisX

[2021-04-15 11:13] mostlyjason commented on #25021
This sounds like a nice addition to the `proxy_url` setting we discussed here https://github.com/elastic/kibana/issues/95306

[2021-04-15 13:24] EricDavisX commented on #25108
I don't see a statement about Fleet Server and so I assume it was run with Kibana connection - we aren't supporting that moving forward.  we can re-test with Fleet Server usage in 7.13 or 8.0 and report back if it isn't working.  @muskangulati-qasource Amol has steps for running Fleet Server, I know they are changing recently

[2021-04-15 16:41] mukeshelastic commented on #24054
This is the disadvantage of templates, it enables edge to pass variables for malicious exploits. @urso thanks for raising and looking deeper into this.

From priority perspective, I'd like to separate  the core standalone and K8s autodiscover functionality from security. For first release, we should proceed with templates that allow hints variables passthrough to enable hints based auto discovery.

[2021-04-15 16:46] aKaravanov commented on #9442
Is there a chance you could push Docker images for ARM as well?

[2021-04-15 17:45] jen-huang opened #25561 "Fleet server agent stuck in Updating after triggering unenrollment"
- Version: 8.0 snapshot
- Operating System: MacOS
- Steps to Reproduce:

1. Enroll FS agent using instructions in https://github.com/elastic/kibana/pull/97206
2. Trigger unenrollment for FS agent in UI
3. After a while, observe that the agent is stuck in `Updating` status

![image](https://user-images.githubusercontent.com/1965714/114914776-9a77bd00-9dd7-11eb-809e-bcd69cce401c.png)

[2021-04-15 18:17] SpencerLN commented on #16540
This is still an ongoing issue.

[2021-04-15 21:16] #17033 closed

[2021-04-15 22:16] #1283 closed

[2021-04-16 01:13] dedemorton opened #25120 "Validate and fix jump lists in the Beats documentation"
The Beats documentation contains "jump lists" that are maintained manually and need to be validated from time to time because they get out of sync with the TOC. Here is an [example of a jump list](https://www.elastic.co/guide/en/beats/filebeat/master/setting-up-and-running.html).

Click through the topics in the following books to locate the jump lists and make sure the items in the list match the

[2021-04-16 01:13] elasticmachine commented on #25120
Pinging @elastic/obs-docs (Team:Docs)

[2021-04-16 02:15] EricDavisX commented on #25028
this is no longer supported in 7.13 - closing as won't fix.

[2021-04-16 02:15] #25028 closed

[2021-04-16 09:44] malachantrio commented on #10756
Without this feature functionbeat is so unwieldy. Its kinda crazy it was designed so that you have to explicitly name every function and log group you want to ship in one monolithic config file.

For us this basically means that every new service has a lengthy back and forth between devs and the platform team trying to get the config right on both ends so that functionbeat actually ships the logs

[2021-04-16 09:47] malachantrio commented on #10756
Unfortunately not, it seems that while you can fool the serverless deploy into wildcarding the invoke permissions on the functionbeat lambda itself, functionbeat still seems to double check a log event (that AWS has already allowed through to the functionbeat lambda) comes from a source that is explicitly mentioned in the functionbeat config yml file. We thought we had it cracked and we could get

[2021-04-16 10:13] simitt opened #25122 "[elastic-agent] error on checking but agent shows as healthy"
Configuring a managed policy in Kibana and enrolling with elastic-agent and fleet-server creates policy and agent as expected, but after some time agents logs errors for checking API while Kibana still shows agent as healthy with recent activity; agent logs:
[code]
<img width="1315" alt="Screenshot 2021-04-16 at 12 09 53" src="https://user-images.githubusercontent.com/5555349/115009543-ae412300-9e

[2021-04-16 10:13] elasticmachine commented on #25122
Pinging @elastic/agent (Team:Agent)

[2021-04-16 10:16] simitt opened #25123 "[elastic-agent] docker container cannot be stopped"
Docker container cannot be stopped after starting the elastic-agent docker container with fleet setup and fleet-server enrollment enabled;  keyboard interrupt is ignored and `docker stop <id>` just hangs forever. There is no indicator of why it hangs in the logs. The only way to shut down was to restart the docker daemon.

This is not a consistent behavior, but was observed multiple times. To excl

[2021-04-16 10:16] elasticmachine commented on #25123
Pinging @elastic/agent (Team:Agent)

[2021-04-16 12:13] legoguy1000 commented on #25100
Have u asked this question on https://discuss.elastic.co/?

[2021-04-16 19:37] inqueue opened #25124 "[Check Point] Field checkpoint.source_object mapped incorrectly as long"
- Version: 7.11.2
- Operating System: n/a
- Steps to Reproduce:

1. `./filebeat setup`
2. observe field mapping for `checkpoint.source_object`

According to https://supportcenter.checkpoint.com/supportcenter/portal?eventSubmit_doGoviewsolutiondetails=&solutionid=sk144192, Check Point module field `checkpoint.source_object` should be mapped as a string type instead of long. Events with the field ca

[2021-04-16 22:36] MnrGreg commented on #21520
Breaking changes in [kube-state-metrics v2.0.0](https://github.com/kubernetes/kube-state-metrics/blob/master/CHANGELOG.md#v200-alpha--2020-09-16) affects `state_container` and `state_node`.
Deprecated Metrics were dropped https://github.com/kubernetes/kube-state-metrics/issues/974.

Example of replaced metrics:
`state_container`:
[code]
https://github.com/elastic/beats/blob/e1e6d3334c94a92bf4800d5

[2021-04-17 06:44] nithril opened #25127 "[Filebeat] Add support to the Azure module for log in json"
**Describe the enhancement:**

With the Azure Kubernetes Service diagnostic settings, I can push the k8s audit log into Elastic. The k8s audit log is json, by consequence the azure filebeat processor will output in the field `message` the k8s audit  as a json string.
[code]

The improvement is about letting the user configure the Azure module to choose to parse `azure.platformlogs.properties.log`

[2021-04-17 08:09] ktpktr0 commented on #25100
No, I didn't

[2021-04-17 17:16] #14783 closed

[2021-04-17 18:06] ruflin commented on #25122
@michalpristas Can you take a look at this?

[2021-04-17 18:16] #2952 closed

[2021-04-17 18:16] #13240 closed

[2021-04-17 18:16] #6505 closed

[2021-04-17 18:16] #4238 closed

[2021-04-17 19:16] #9846 closed

[2021-04-17 19:16] #11873 closed

[2021-04-17 19:16] #11885 closed

[2021-04-17 19:16] #1111 closed

[2021-04-17 19:16] #12565 closed

[2021-04-17 19:16] #12928 closed

[2021-04-17 19:16] #13023 closed

[2021-04-17 19:16] #13064 closed

[2021-04-17 19:16] #13865 closed

[2021-04-17 19:16] #13864 closed

[2021-04-17 19:16] #13991 closed

[2021-04-17 19:16] #14251 closed

[2021-04-17 19:16] #14491 closed

[2021-04-17 19:16] #574 closed

[2021-04-17 19:16] #15067 closed

[2021-04-17 19:16] #12863 closed

[2021-04-17 19:16] #10707 closed

[2021-04-17 19:16] #7870 closed

[2021-04-17 19:16] #11740 closed

[2021-04-17 19:16] #14409 closed

[2021-04-17 19:16] #12555 closed

[2021-04-17 19:16] #11276 closed

[2021-04-17 19:16] #13238 closed

[2021-04-17 19:16] #13735 closed

[2021-04-17 19:16] #10775 closed

[2021-04-17 20:16] #4236 closed

[2021-04-17 20:16] #6020 closed

[2021-04-17 20:16] #6830 closed

[2021-04-17 20:16] #7217 closed

[2021-04-17 20:16] #7243 closed

[2021-04-17 20:16] #7603 closed

[2021-04-17 20:16] #8361 closed

[2021-04-17 20:16] #8360 closed

[2021-04-17 20:16] #9373 closed

[2021-04-17 20:16] #8822 closed

[2021-04-17 20:16] #8936 closed

[2021-04-17 22:08] legoguy1000 commented on #25127
This is the only sample log we have for the kube platform logs
[code]
Can you provide additional samples? Also will the `azure.platformlogs.properties.log` always have a JSON payload or is it only some of the `azure.platoform` logs?? If its not all, can you provide a field from the sample above that we can conditionalize?

[2021-04-17 22:58] legoguy1000 commented on #25100
I would post this question there as this isn't a confirmed bug or enhancement request. The forum has significantly more participation,.

[2021-04-17 23:00] legoguy1000 commented on #25061
can u post sample logs.  I think this would be very interesting. I see the audit logs here, https://zookeeper.apache.org/doc/r3.7.0/zookeeperAuditLogs.html.  Are there other logs?

[2021-04-18 04:28] legoguy1000 commented on #25061
I've created a draft PR to add a module for ZooKeeper.  I currently only have the audit log fileset.  If there are other log types, please let me know and provide sample data.

[2021-04-18 04:47] elasticmachine commented on #24205
## Flaky Test

* **Test Name:** `Build&Test / x-pack/metricbeat-cloud / TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/sqs`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2Fmaster/detail/master/515/
* **PR:** None
* **Commit:** e1e6d3334c94a92bf4800d5edb2e1ed4fe160f75

### Error details
[code]

### Stack Trace
[code]

[2021-04-18 04:47] elasticmachine opened #25129 "Flaky Test [Build&Test / x-pack/metricbeat-cloud / TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/cloudwatch]"
## Flaky Test

* **Test Name:** `Build&Test / x-pack/metricbeat-cloud / TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/cloudwatch`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2Fmaster/detail/master/515/
* **PR:** None
* **Commit:** e1e6d3334c94a92bf4800d5edb2e1ed4fe160f75

### Error details
[code]

### Stack Trace
[code]

[2021-04-18 04:47] elasticmachine commented on #24201
## Flaky Test

* **Test Name:** `Build&Test / x-pack/metricbeat-cloud / TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/ec2`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2Fmaster/detail/master/515/
* **PR:** None
* **Commit:** e1e6d3334c94a92bf4800d5edb2e1ed4fe160f75

### Error details
[code]

### Stack Trace
[code]

[2021-04-18 04:47] elasticmachine opened #25130 "Flaky Test [Build&Test / x-pack/metricbeat-cloud / TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/rds]"
## Flaky Test

* **Test Name:** `Build&Test / x-pack/metricbeat-cloud / TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/rds`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2Fmaster/detail/master/515/
* **PR:** None
* **Commit:** e1e6d3334c94a92bf4800d5edb2e1ed4fe160f75

### Error details
[code]

### Stack Trace
[code]

[2021-04-18 04:47] elasticmachine commented on #24203
## Flaky Test

* **Test Name:** `Build&Test / x-pack/metricbeat-cloud / TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/s3_daily_storage`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2Fmaster/detail/master/515/
* **PR:** None
* **Commit:** e1e6d3334c94a92bf4800d5edb2e1ed4fe160f75

### Error details
[code]

### Stack Trace
[code]

[2021-04-18 04:47] elasticmachine commented on #24204
## Flaky Test

* **Test Name:** `Build&Test / x-pack/metricbeat-cloud / TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/s3_request`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2Fmaster/detail/master/515/
* **PR:** None
* **Commit:** e1e6d3334c94a92bf4800d5edb2e1ed4fe160f75

### Error details
[code]

### Stack Trace
[code]

[2021-04-18 04:57] ktpktr0 commented on #25100
I have posted a similar question on the forum, but I haven't received an answer within two days

[2021-04-18 05:23] legoguy1000 commented on #25124
Good find. Easy fix to update the module.

[2021-04-18 16:14] nithril commented on #25127
I believe it should always be json according to https://kubernetes.io/docs/tasks/debug-application-cluster/audit/#log-backend

I don't currently have samples coming from the diagnostics logs, only after the ingestion. Eg.

azure.platformlogs.properties.log:
[code]

[2021-04-18 18:37] ruflin opened #25131 "[Elastic Agent] Enroll fleet-server, socket cannot be removed"
* Platform: OS X
* Branch: master

I enrolled an Elastic Agent with a fleet-server with the following command:

[code]

This lead to the following output:

[code]

In the log I stumbled over to parts:

There is an ERROR output for the socket removal but everything seems to be successful:

[code]

The second part is around a missing config fleet.agent.id in the policy:

[code]

[2021-04-18 18:37] elasticmachine commented on #25131
Pinging @elastic/agent (Team:Agent)

[2021-04-19 06:06] matschaffer commented on #25061
nice. Thanks @legoguy1000! Here's a sample `zookeeper.log` from a dev env.

[zookeeper.log.zip](https://github.com/elastic/beats/files/6333606/zookeeper.log.zip)

Alternatively, we could probably change the logging output format rather than grokking (zookeeper just uses log4j).

Not sure what sort of precedent filebeat modules have in that space though. Maybe better to have modules just assume def

[2021-04-19 07:41] sesto commented on #24888
Hi @jsoriano, I have discussed this here https://discuss.elastic.co/t/filebeat-multiline-concatenates-all-events-that-does-not-match-the-pattern/267779. From the discussion I have understood that this was not the expected behaviour

[2021-04-19 08:40] elasticmachine commented on #25124
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-04-19 08:47] ruflin commented on #24415
@ph @jasonrhodes What is the status here. The initial issue got expanded with additional metrics but I don't think all of it will land in 7.13. Can we close this or is there more needed?

[2021-04-19 09:50] simitt commented on #25086
Should have mentioned that this failed despite setting `FLEET_INSECURE: true`.

[2021-04-19 09:55] simitt opened #25133 "[elastic-agent] Extend agent.monitoring configuration from elastic-agent.yml."
Moving Feature Request from https://github.com/elastic/kibana/issues/97356 over to the Elastic-Agent:

On top of https://github.com/elastic/beats/pull/25132 also allow to disable elastic-agent internal metrics and logs collection by default when configuring `elastic-agent.yml`.
[code]

@michalpristas is it feasible to add these settings in your efforts in https://github.com/elastic/beats/pull/2513

[2021-04-19 09:55] elasticmachine commented on #25133
Pinging @elastic/agent (Team:Agent)

[2021-04-19 09:56] ypid-geberit opened #25134 "Use addresses and names reserved for test data (and documentation)"
**Describe the enhancement:**

Addresses and other identifiers are anonymized in this repo (for example test logs) which is good practice. Using identifiers that are explicitly reserved for use cases like this would make this even clearer.

#### MAC (rfc7042)

https://tools.ietf.org/html/rfc7042#page-7

The following values have been assigned for use in documentation:

* 00:00:5E:00:53:00 to 00:00

[2021-04-19 10:12] lisikh opened #25135 "[Filebeat 7.12] [Windows] "Failed to open store 'filebeat': corrupted data file" after incorrect Windows reboot"
Version: 7.12 (x86)
Operating System: Windows Embedded Standard (6.1.7601 SP1)
Discuss Forum URL: https://discuss.elastic.co/t/filebeat-7-12-windows-failed-to-open-store-filebeat-after-incorrect-windows-reboot/270145
Steps to Reproduce:
1.  Install and configure filebeat to harvest some logs
2. Reboot OS incorrectly (by power loss)
3. Filebeat failed to start

After a while filebeat cannot start d

[2021-04-19 10:37] ruflin commented on #25133
Lets do follow ups in any case to not block one feature by the other ;-)

[2021-04-19 11:12] ruflin commented on #24448
@ph Is this issue still open or can it be closed?

[2021-04-19 11:12] ruflin commented on #24901
Related PR can be found here: https://github.com/elastic/beats/pull/25070

[2021-04-19 11:16] simitt opened #25136 "[elastic-agent][container] FLEET_SERVER_POLICY_ID is ignored when enrolling"
When configuring a `FLEET_SERVER_POLICY_ID` the ID is not used when finding the policy to enroll the Elastic Agent into; only the `FLEET_SERVER_POLICY_NAME` is considered.

[2021-04-19 11:16] elasticmachine commented on #25136
Pinging @elastic/agent (Team:Agent)

[2021-04-19 11:16] #17236 closed

[2021-04-19 11:25] ruflin commented on #25136
@simitt Can we use the name for now assuming it is not changeable?

[2021-04-19 11:43] simitt commented on #25136
yes I believe we can, that's why I didn't label it as blocker; but I'm not an expert regarding the uniquenes  of the `name`.

[2021-04-19 11:58] kuisathaverat commented on #22572
We are testing the Elastic Agent standalone deployed with this Helm chart https://github.com/elastic/observability-robots/tree/master/projects/opentelemetry/elastic_agent_standalone in our Opentelemetry PoC, it is reporting logs and metrics correctly with the latest changes in the configuration. What are the next steps to make it official?

We have another version that works with fleet but it only

[2021-04-19 12:16] #17787 closed

[2021-04-19 12:16] #17794 closed

[2021-04-19 12:54] legoguy1000 commented on #25061
Those logs are disgusting.  Working on a basic grok pattern now.  Will probably need help to parse the actual messages. Using https://stackoverflow.com/questions/45569100/what-is-the-format-of-zookeeper-logs and to parse the format as best I can https://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/PatternLayout.html

[2021-04-19 13:02] #25078 closed

[2021-04-19 13:03] ruflin commented on #25086
Should be fixed https://github.com/elastic/beats/pull/25137

[2021-04-19 13:04] jamiehynds commented on #152
Closing this as SIP support has been added to Packetbeat via https://github.com/elastic/beats/pull/21221

[2021-04-19 13:04] #152 closed

[2021-04-19 13:11] jamiehynds commented on #12724
NTP fileset added via https://github.com/elastic/beats/pull/24224

[2021-04-19 13:13] elasticmachine commented on #13533
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-04-19 13:16] elasticmachine commented on #15603
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-04-19 13:28] scunningham commented on #24415
@ruflin This was added with this PR: https://github.com/elastic/fleet-server/pull/219

To count the number of current long poll connections use, http_server.routes.checkin.active

[2021-04-19 13:43] ruflin commented on #24415
Going to close this. @jasonrhodes please follow up with an additional issue if we need more later on.

[2021-04-19 13:43] #24415 closed

[2021-04-19 13:59] cachedout opened #25143 "The `path.data` option appears not to be respected in configuration files"
## Version

[root@centos etc]# metricbeat version
metricbeat version 7.12.0 (amd64), libbeat 7.12.0 [08e20483a651ea5ad60115f68ff0e53e6360573a built 2021-03-18 06:28:33 +0000 UTC]

## Description

It appears to me that setting `path.data` via a configuration file is not working. I had originally tested this in the context of trying to get multiple Beats to run on a single host, but the problem seem

[2021-04-19 14:04] #25086 closed

[2021-04-19 14:07] legoguy1000 commented on #25061
I've updated the PR with the zookeeper.log fileset.  Can you let me know if/how to parse the logs more? Or if you think its good, I can make it not draft.

[2021-04-19 14:22] simitt commented on #25136
actually the workaround is to set `is_default_fleet_server: true`, as the `fleet_server.name` is not picked up when using `fleet_server`.

[2021-04-19 14:27] legoguy1000 commented on #25124
I made the change to `source_object` but I'm not even seeing it as a field thats parsed/set via Filebeat or the ingest pipeline (https://github.com/elastic/beats/blob/master/x-pack/filebeat/module/checkpoint/firewall/ingest/pipeline.yml). Are you doing it via a custom logstash pipeline?

[2021-04-19 14:33] legoguy1000 commented on #25124
I just created a draft PR.  If you think it solves your issue, I will move take it out of draft.

[2021-04-19 14:34] blakerouse commented on #24448
This can be closed, it is solved.

[2021-04-19 14:34] #24448 closed

[2021-04-19 14:56] narph commented on #22501
@yevgenytrcloudzone

Unfortunately, there is no workaround for the current version so, indeed, best solution for now is using an earlier version of Metricbeat instead.

[2021-04-19 15:14] ruflin commented on #25136
I hoped we don't need to set `is_default_fleet_server: true`. But it should work for now. I assume if we use the default one, we don't need name or id?

[2021-04-19 16:42] v1v commented on #24972
Initial draft:
- https://github.com/elastic/beats/pull/25148

Requires the automation part:
- Run the above script when there is a new version for the active branches
- Create the PR with the proposal changes.

[2021-04-19 16:56] blakerouse commented on #25136
I cannot reproduce this. I was able to successfully use the `FLEET_SERVER_POLICY_ID`. The Fleet Server used the custom policy ID and the Elastic Agent enrolled into that custom policy.

Now the `FLEET_SERVER_POLICY_NAME` does not work, but the `FLEET_SERVER_POLICY_ID` does work.

[2021-04-19 17:37] simitt commented on #25136
I just tried again and cannot make this work. The policy is set up in Fleet (Kibana), but the elastic-agen/fleet-server keep logging
[code]
and no agent is enrolled.

Tested with following command
[code]

[2021-04-19 18:43] ph commented on #22572
@kuisathaverat this is super thanks!

[2021-04-19 18:43] peasead opened #25151 "[Bug] Threat Intel tlsh Mismapped for Abuse Malware"
`tlsh` is a fuzzy hashing algorithm, so it should probably be under `*.hash.tlsh` similar to how `*.hash.ssdeep` is.

This is reflected properly in the `rename`, but mismapped in the `related.hash`.

**Current**
Properly mapped Rename
[code]

Mismapped Append
[code]

**Suggested**
[code]

Abuse Malware ingest pipeline (mismapped) [[1](https://github.com/elastic/beats/blob/486889e4dfeeb985462ee369b

[2021-04-19 18:58] ph commented on #25122
We have discussed in our weekly sync, this might be an OK log message, we need to align the HTTP polling timeout to reduce the number of log messages. We do not consider this aa blocker.

[2021-04-19 18:59] plaformsre opened #25152 "Hearthbeat ready for developer self-service in ECK"
**Describe the enhancement:**

We have hundreds of teams that would need to contribute their configuration of Healtbeat endpoints to be monitored. In reality, all teams reside in their own Kubernetes namespace and have no access to the central service of Hearthbeat.

**Describe a specific use case for the enhancement or feature:**

What we are looking for is a simple way for developers to share 1-

[2021-04-19 19:41] ph commented on #25006
@michalpristas Is this with Fleet-Server or Kibana's Fleet?

[2021-04-19 19:53] mvanderlee opened #25154 "[FileBeat] Sophos xg field has a space in it's name"
Since at least 7.9.0, Sophos xg has `trans_src_ ip` instead of `trans_src_ip`

https://github.com/elastic/beats/blob/23e4403ae093fcc8f7905345cad2c7ad256976d8/x-pack/filebeat/module/sophos/xg/_meta/fields.yml#L228

[2021-04-19 20:32] #24897 closed

[2021-04-19 20:35] blakerouse commented on #25136
@simitt Based on that log message you can see that it is using the policy id

`Fleet Server integration: abcd`

Shows the `abcd`. That log message actually comes from Fleet Server, so it is working. The issue you are having is that it is saying that the `Fleet Server` integration package is not installed. Fleet Server is checking to ensure that the `fleet-server` input exists in the policy. If it

[2021-04-19 21:25] simitt commented on #25136
Oh that's interesting! Checking the agent policy shows that the integration is installed though.

<img width="1288" alt="Screenshot 2021-04-19 at 23 20 44" src="https://user-images.githubusercontent.com/5555349/115305123-29812e00-a166-11eb-8e36-1851067b13a8.png">

<img width="1214" alt="Screenshot 2021-04-19 at 23 24 13" src="https://user-images.githubusercontent.com/5555349/115305320-69e0ac00-a16

[2021-04-19 23:39] andrewkroh opened #25159 "[Discuss] Upstream geoip database changes affecting tests"
Changes in the Elasticsearch geoip database have always affected golden file tests in Beats. When the database changes and an IP address moves to a new location our golden file tests break (there are several reasons the tests could break).

Historically we dealt with this by updating the golden file tests with enrichments based on the new geoip database version. This hasn't been too much of a hass

[2021-04-20 00:48] elasticmachine commented on #25159
Pinging @elastic/agent (Team:Agent)

[2021-04-20 00:48] elasticmachine commented on #25159
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-04-20 00:48] elasticmachine commented on #25159
Pinging @elastic/integrations (Team:Integrations)

[2021-04-20 01:50] legoguy1000 commented on #19088
@SlavikCA Please see the conversation in #24699. It was decided amongst the group and the ECS authors that per the spec, the `url.original` field should remain exactly as it was recorded by the system generating the log/event.  However by adding the parts processor, the urls will be broken down into components and those will be url decoded.

[2021-04-20 03:15] SlavikCA commented on #19088
@legoguy1000 That's good solution. Do you think we can expect it in 7.13?

[2021-04-20 03:20] legoguy1000 commented on #19088
I don't know what the cutoff date for 7.13 is but the ci pipeline should be done in a couple hours and based off my conversations with the elastic devs, I think it should be good to merge once it passes.

[2021-04-20 04:11] wasserman commented on #18160
It helpful to include the beat's hostname and/or IP in this User-Agent string.  I am thinking of scenarios where there is a beat failing to authenticate to the cluster and it is hitting the cloud through a corporate proxy.  All beats may appear to come from the same IP, which makes identifying the problem beat challenging.  Adding hostname/IP could make it easier for the team that focusing on the

[2021-04-20 05:53] amolnater-qasource commented on #25108
Hi @EricDavisX
Thanks for the feedback, we will revalidate this whenever the complete Fleet Server changes will be available on 8.0/7.13 Snapshot build.

For now we are closing this with respect to the new changes for Kibana 7.13.

Thanks
QAS

[2021-04-20 05:53] #25108 closed

[2021-04-20 07:03] simitt commented on #25136
@blakerouse can you ensure that the policy you are configuring with the `policy_id` is not the `default` or the `default_fleet_server` policy?

[2021-04-20 07:34] ChrsMark commented on #25078
This one will be fixed after `7.13` and  `7.12.1`

[2021-04-20 08:23] ChrsMark commented on #22572
That's great @kuisathaverat !

One question: I see that you use [7.12-SNAPSHOT](https://github.com/elastic/observability-robots/blob/729775b1eacf7c53448864ff3407c33906c3cec2/projects/opentelemetry/elastic_agent_standalone/chart/values.yaml#L9) right? Is there any reason for this? [`leaderelection`](https://github.com/elastic/observability-robots/blob/729775b1eacf7c53448864ff3407c33906c3cec2/projec

[2021-04-20 08:44] tl-Bruno-Braga opened #25166 "Tuning analyzers on filebeat configuration"
Hello

I have posted a question on: https://discuss.elastic.co/t/configuring-analyser-for-field-inside-filbeat-configuration-file/270232

Since i have not obtained any response and this is quite urgent i decided to ping you guys here.

I basically need to be able to tune the field analyzer through filebeat configuration yaml. Assuming the field message with a syslog-like structure, i would like to

[2021-04-20 08:56] #22718 closed

[2021-04-20 08:58] elasticmachine commented on #25154
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-04-20 08:59] elasticmachine commented on #25151
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-04-20 09:10] rpasche commented on #20432
This now also sounds to me, that the `savedObjects.maxImportPayloadBytes` option only solves the issue, when the index-patterns is created by the `setup` mode of the beat component. But in case the index-pattern has been created (by beat) and later we do a manual refresh of that pattern via Kibana UI (after events were flowing in), it still might break, if we also not update the `server.maxPayload

[2021-04-20 09:37] rpasche commented on #20432
@wylieconlon This is also what we are thinking of. To remove as many - for us - useless fields as possible from the index-template

[2021-04-20 09:51] cachedout commented on #25143
I think I found the problem here. This was installed via a RPM and `/bin/metricbeat` is not a binary, but in fact is a shell script. This shell script is as follows:

[code]

This means that when you call `/bin/metricbeat` and pass in `--path.config` and a `-c` option to indicate a custom config, what you end up with is a process that looks like this:

`/usr/share/metricbeat/bin/metricbeat --path.

[2021-04-20 10:09] notrickyd opened #25170 "Filebeat should be able to re-ship specified files"
**A CLI command interface to filebeat to re-ship certain log file**

**I want to re-ship a certain log file (or files by mask)**
1. I open CLI interface on the server where filebeat is runnig
2. I type
`$ filebeat ship /path/to/dir/filename*.log`
or
`$ filebeat reset stats /path/to/dir/filename*.log`
and press ENTER.
3. Filebeat takes this into count and on closest harvesting point it re-ships fil

[2021-04-20 10:24] mtojek commented on #24956
Hi, it would be nice to give this issue higher priority. It seems to be the last piece.

[2021-04-20 10:25] michalpristas commented on #25022
havent seen this in last 12 builds, will keep an eye but maybe it was fixed as a side effect of other enroll changes.
will keep an eye on builds for next week and if i dont see it, i will close the issue

[2021-04-20 10:26] jsoriano commented on #24888
@sesto according to your description there was a pattern that didn't handle your logs as expected, but you found another one that solved your issues.
This didn't require any fix or enhancement in Filebeat, Filebeat seems to be working correctly for these given patterns, so it is not clear to me what should be improved or fixed.

What change would you expect from this bug report?

@ChrsMark you com

[2021-04-20 10:28] mtojek commented on #25022
We suspected that it may be related to the healthcheck issue, but unfortunately we can't switch to the correct one yet. For reference: https://github.com/elastic/elastic-package/pull/329#issuecomment-823119754

[2021-04-20 10:56] kuisathaverat commented on #22572
the real deployment is using 7.13.0-SNAPSHOT https://github.com/elastic/observability-robots/blob/master/projects/opentelemetry/elastic_agent_standalone/helm-values.yml#L4 I have to update the values to ake that version the default, but it is not urgent I guess we will change the version more times before we are in a final version.

[2021-04-20 11:00] beiske commented on #12411
This is still an issue

[2021-04-20 11:11] dikshachauhan-qasource commented on #24415
Hi Rufflin,

Could you please confirm the test scenarios required to validate any data around piont 3 and 4 in ticket summary.

Currently, we just validate data for hosts is displayed on dashboards for system resource usage like CPU and memory.

Thanks

[2021-04-20 11:17] ruflin commented on #25136
I tried the above out with the following steps:

* Startup Kibana and ES master
* Go to Fleet in the UI to have it setup
* Create service token

Then I used the following command:

[code]

What happens is, that Elastic Agent starts to ship data (shows up in data streams) but not Elastic Agent shows up for any policy 🤔  Below are the logs

<details>

[code]

</details>

[2021-04-20 11:18] ruflin commented on #25136
I tried a similar setup to the above but with command line flags and `enroll` instead of container and there it seems to work 🤔

[2021-04-20 11:22] geostant opened #25171 "[AZURE] Add missing metrics using CLI"
**Describe the enhancement:**
Similar to https://github.com/elastic/beats/issues/25065 there is a need to ingest metrics for azure
using the azure CLI.

As a cloud-infra team we would like to separate our ways from the cloud provider's monitoring and alerting in-house tools and start using metricbeats and stack for monitoring and alerting.

While researching what is available in the modules I foun

[2021-04-20 11:22] elasticmachine commented on #25171
Pinging @elastic/integrations (Team:Integrations)

[2021-04-20 11:39] jamiehynds commented on #19576
Closing this out as we recently implemented the decode_xml processor for Windows events via https://github.com/elastic/beats/issues/23910

[2021-04-20 11:39] #19576 closed

[2021-04-20 12:16] MarcusCaepio commented on #24721
Hi all,
sorry for late response. After testing a lot both with bare metal and virtual server, the solution seems, that I just had not enough worker configured for filebeat. We are receiving so many logs, that I have to tune the worker to 16 with a batch size of 200 (still testing this, maybe I have to go higher again). I would close this issue here. Thanks a lot for the support!

[2021-04-20 12:16] #24721 closed

[2021-04-20 12:40] jmlrt commented on #22572
👋🏻 @kuisathaverat, to make it official, this chart should be moved to a public repository (can be [elastic/helm-charts](https://github.com/elastic/helm-charts/) along the other current charts or directly into Beats repo as for [ECK chart](https://github.com/elastic/cloud-on-k8s/tree/master/deploy).

Then we would need to update [helm-charts-publish](https://internal-ci.elastic.co/job/elastic+unifi

[2021-04-20 12:42] simitt opened #25173 "[elastic-agent] zap key in logs"
@juliocamarero reported that some flogs from the `elastic-agent-json.log` contain the logs nested under a `zap` key. Logs should not be nested under that key.

[code]

[2021-04-20 12:42] elasticmachine commented on #25173
Pinging @elastic/agent (Team:Agent)

[2021-04-20 12:52] sesto commented on #24888
@jsoriano I will try to explain better what I mean. Suppose we have 20 applications having totally different patterns and suppose that only 5 of those have multiline log events. In the current situation, I will need to design a regex matching all 20 patterns, instead of only 5. If I design the regex for those 5 only, in the rest 15 all log events will be concatenated. It looks like the current log

[2021-04-20 13:02] simitt commented on #25136
Looking at the resulting `.fleet-policies` in ES, the policy is created and stored to ES, but no `name` attribute is stored, and the specified `id` attribute is neither (it seems a random ID has been created).

[2021-04-20 13:13] urso commented on #24175
Fix is available with: https://github.com/elastic/beats/pull/25048

[2021-04-20 13:13] #24175 closed

[2021-04-20 13:36] ruflin commented on #24956
I looked a bit into the code around this. It seems to be related to the STATE_PATH that is set differently when run with container. I can think of two solutions:

* Persist  state path and use it for all commands: I wonder if we already do this? Do we persist the state path somewhere so when any elastic-agent command is run afterwards, it can also use it.
* Support passing in STATE_PATH for elasti

[2021-04-20 13:44] simitt commented on #25136
I should have mentioned, that I have been using the Kibana preconfiguration API to set up the policy and specify a policyID. This might actually be a Kibana issue.

[2021-04-20 14:16] #17184 closed

[2021-04-20 14:41] #24569 closed

[2021-04-20 15:33] ph commented on #25136
@simitt Did you open an issue in Kibana?

[2021-04-20 15:46] simitt commented on #25136
not yet, I pinged @jfsiii and @Zacqary to take a look at this and confirm it is a Kibana issue.

[2021-04-20 16:40] simitt commented on #25136
https://github.com/elastic/kibana/issues/97673

[2021-04-20 18:10] urso commented on #24842
@blakerouse Can you look into this?

[2021-04-20 18:22] #6381 closed

[2021-04-20 18:36] n0othing opened #25181 "Filebeat setup throws Error setting up ML for apache_ecs: 10 errors"
FIlebeat Version:  `7.12.0`
Operating System: `macOS Big Sur (11.2.3)`

Bug Description:

Filebeat's `setup` command can throw a strange error, presumably related to not being able to overwrite existing `filebeat-apache_ecs*` and `filebeat-nginx_ecs*` Machine Learning Jobs:

[code]

![fb_ml_jobs](https://user-images.githubusercontent.com/11917935/115446501-4f99e300-a1e5-11eb-89ca-f78dec9ed22e.jpg)

[2021-04-20 19:15] mostlyjason commented on #24825
@ygel you volunteered to help. Do you have information that would help us prioritize and scope this feature?

[2021-04-20 19:49] ruflin commented on #24956
One more reason a prefer option 1. STATE_PATH is set internally by the container commands and should afterwards automatically be respected by other commands.

[2021-04-20 20:11] blakerouse commented on #24842
The fact that 7.11.x worked with `${NODE_NAME}` in standalone mode was a bug. The correct variable syntax is `${env.NODE_NAME}` in 7.11.x.

[2021-04-20 20:36] ph commented on #25063
@simitt The retry PR were merged, can we close this issue?

[2021-04-20 21:00] blakerouse commented on #24956
Yes this should work out of the box, setting `STATE_PATH` should not be required.

[2021-04-20 21:07] blakerouse commented on #25136
@simitt Yes I tested this with a custom policy that I created in the Kibana UI, and then added the fleet-server integration to. Seems like the kibana issue is the real culprit, if its not setting the `policy_id` in `.fleet-policies` then that is why the Fleet Server is not working.

Have you tries doing it manually? To confirm that it works that way?

[2021-04-21 03:09] #22928 closed

[2021-04-21 05:37] ruflin commented on #25063
Closing, please reopen if issue still exists.

[2021-04-21 05:37] #25063 closed

[2021-04-21 07:25] michalpristas commented on #24901
can we close this?

[2021-04-21 08:29] ruflin commented on #24901
yes, I think for now we don't need it.

[2021-04-21 08:29] #24901 closed

[2021-04-21 09:27] ruflin commented on #24415
@ph Can you follow up here?

[2021-04-21 09:50] mdelapenya opened #25194 "[Integrations] Docker images are only built for AMD, not for ARM"
This results in the e2e-testing project not being able to test in ARM, as the AMD images for Redis, Mysql, etc cannot be run in the ARM workers.

As we do not know if all integrations support building images in ARM, it's very probably that not all of them can be built, causing we will be skipping them at e2e test time on ARM.

cc/ @jsoriano

[2021-04-21 09:50] elasticmachine commented on #25194
Pinging @elastic/integrations (Team:Integrations)

[2021-04-21 09:55] mdelapenya commented on #25194
@jsoriano Do you think we should update the `mage` goals to append the platform in the docker tag? something like?

[code]

[2021-04-21 11:32] Ihaim-crypto commented on #5737
Hello,
Is there an estimated version in which this is planned to be released?
according to the latest API (Filebeat f.e), you can't create a Keystore with user password
It is a valuable security concern for usage.

[2021-04-21 11:50] simitt opened #25199 "[elastic-agent] Change log message from Kibana to Fleet Server"
Some log messages still mention Kibana, although the Agent now communicates via Fleet Server. Go through code and replace Kibana with Fleet Server where appropriate.

Example
[code]

[2021-04-21 11:50] elasticmachine commented on #25199
Pinging @elastic/agent (Team:Agent)

[2021-04-21 12:09] ruflin commented on #25136
@blakerouse Did you try with the container command or normal enroll? There is an issue in Kibana, but I wonder if this is also why my flow here breaks? https://github.com/elastic/beats/issues/25136#issuecomment-823192461

[2021-04-21 12:34] blakerouse commented on #25123
@simitt I have not be able to reproduce this, the container stops for my ctrl-c. Is it possible this is only the case when running a legacy apm-server? The `run` command` attaches to the signals.

[2021-04-21 12:37] blakerouse commented on #25131
@ruflin Did the Elastic Agent/Fleet Server work? You didn't make it clear in the description. I assume your just speaking of the log messages.

The first log message you mention about the `Failed to cleanup` we can lower that to debug, its okay if that happens.

The second log message is correct and should not be changed. When the Fleet Server first starts it is being ran by an Elastic Agent that

[2021-04-21 12:40] simitt commented on #25123
I already feared that this would be hard to reproduce; not certain I always apm-server legacy running when encountering it. Is it ok to keep this issue open for a bit to collect feedback if others run into it; and close it if not? Will keep an eye out for it to happen again.

[2021-04-21 12:46] andrewvc opened #25201 "[Heartbeat] Flexible screenshot functionality"
As mentioned in [this forum post](https://discuss.elastic.co/t/need-to-disable-all-the-steps-snaps-in-elastic-synthetic/269916) it would be useful to not create screenshots for every run. This issue proposes adding a new `screenshot` option that would have several modes, in-line with the [`http.response.body`](https://www.elastic.co/guide/en/beats/heartbeat/current/monitor-http-options.html#monito

[2021-04-21 12:46] elasticmachine commented on #25201
Pinging @elastic/uptime (Team:Uptime)

[2021-04-21 13:21] ChrsMark commented on #23876
Hey! After a discussion with @exekias I put here a more detailed/specific outline for metrics and logs here so as to use it in the upcoming discussions.

Another idea would be to split templates per metrics/logs which can be automatically extracted by `stream.yml.hbs` files
of the packages.

# Metrics example

## What we define in Agent:
`elastic-agent.yaml`

[code]

Where `kubernetes.hints.config

[2021-04-21 13:33] blakerouse commented on #25123
we can keep it open, but I do want to make it clear that pressing `CTRL-C` doesn't mean that Elastic Agent will stop instantly or even quickly.

Elastic Agent signals each running application (filebeat, metricbeat, fleet-server, apm-server, etc...) to stop, giving them 60 seconds to fully stop. If it does not fully stop after 60 seconds it will kill it and then it will stop itself. This is to ensu

[2021-04-21 13:35] blakerouse commented on #25136
@ruflin I tried both.

Note that the `container` command calls the `enroll` command so if it works in `container` then it must also work in the `enroll` command. But I did try both.

[2021-04-21 14:00] simitt commented on #25123
thanks @blakerouse; the graceful shutdown makes sense. I was waiting several minutes to rule that out, but the app was really stuck, and I had to do a full docker daemon restart to be able to kill the container.

[2021-04-21 14:10] simitt commented on #25136
I can confirm that the `container` command works with the `policy_id` configured from the `.fleet_policies-7` index. I'm good with closing this issue out, as Kibana preconfig turned out to be the root cause of the issue.

[2021-04-21 14:25] elasticmachine commented on #17306
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-04-21 14:26] jamiehynds commented on #17171
Closing via https://github.com/elastic/beats/pull/17188

[2021-04-21 14:26] #17171 closed

[2021-04-21 14:28] paulb-elastic commented on #25201
I’d agree that having screenshots for all steps (when any step is in error) would be the desired end goal here, as that adds a lot of value in terms of context, however understand it’s a more complex implementation (so, having it just for the failed step initially is still an improvement and offers more flexibility).

[2021-04-21 14:51] blakerouse commented on #25136
Glad to hear it is working.

[2021-04-21 14:51] #25136 closed

[2021-04-21 14:56] #24092 closed

[2021-04-21 15:16] #17177 closed

[2021-04-21 15:16] elasticmachine commented on #17615
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-04-21 15:34] elasticmachine commented on #19210
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-04-21 16:04] ygel commented on #24825
Hello @mostlyjason, we'll work on scoping and prioritization with @nkammah.

[2021-04-21 16:16] #13823 closed

[2021-04-21 18:43] #24956 closed

[2021-04-21 18:43] henrikno opened #25208 "Update Zookeeper mntr module with new 3.6 metrics"
**Describe the enhancement:**

`mntr` output from Zookeeper release 3.6 has improved significantly.
3.5 gave these metrics:
[code]
And the zookeeper metricbeat module currently captures these: https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-metricset-zookeeper-mntr.html

While Zookeeper 3.6 outputs more than 400 new metrics: https://gist.github.com/henrikno/70631fde5476aba3e081

[2021-04-21 19:01] andrewkroh commented on #25058
The issue is that within the generated configuration (the rendered config template) the password is missing single quotes.

https://github.com/elastic/beats/blob/83f248e3eff044d7785efca79de138d70ee81b4c/x-pack/filebeat/module/o365/audit/config/input.yml#L12

[2021-04-21 19:49] msimos opened #25216 "Update auditbeat docs for systemd to add LimitNOFILE to systemd service"
The current docs only talk about macOS when getting "too many open files":

https://www.elastic.co/guide/en/beats/auditbeat/master/ulimit.html

However this can also be an issue with systemd as it only applies the default 1024. In production this can be too low as well as seen here for example:

https://discuss.elastic.co/t/auditbeat-filebeat-error-system-socket-dataset-setup-failed-unable-to-moni

[2021-04-21 21:19] andrewkroh opened #25217 "[Flaky Test] TestFilestreamTruncate"
## Flaky Test

* **Test Name:** TestFilestreamTruncate
* **Link:** https://github.com/elastic/beats/blob/a9279cd12db9a4ffc0b0685ee613faf4c7771508/filebeat/input/filestream/input_integration_test.go#L862
* **Branch:** master

Looks like it was recently introduced in #24425 and has been failing on and off since then.

<img width="1357" alt="Screen Shot 2021-04-21 at 5 15 54 PM" src="https://user-ima

[2021-04-21 21:28] elasticmachine commented on #25217
Pinging @elastic/agent (Team:Agent)

[2021-04-21 21:40] urso commented on #23876
I'm quite concerned about us allowing users to splice in custom strings into text based templates, and finally parsing them as YAML.

Lets take redis as an example:

[code]

Here is my annotation for you:

[code]

All in all, we should allow admins/developers to define allowlists for different inputs. Some even more dynamic, like not even exposed in the input, but at the template level.  I would p

[2021-04-21 22:16] #16969 closed

[2021-04-21 23:41] nzjustin commented on #20001
Thanks @peterdkdp, I have tested your processor script on Windows Server 2016, Microsoft SQL Server Enterprise, Filebeat 7.10.2. Works great.

+1 for a module

[2021-04-22 00:03] urso commented on #25021
Not the complete solution, but initial support for common proxy support in everything HTTP can be found in: #25219

[2021-04-22 07:09] simitt opened #25221 "[elastic-agent] Failed to cleanup elastic-agent-control.sock"
When starting the elastic-agent it logs an error that the `elastic-agent-control.sock` could not be cleaned up. As far as I can tell the agent and fleet-server start up properly and other agents can be enrolled. In case this is just a logging issue and not an actual bug - could we change the log level to `WARN` instead of error?

The complete log until the error occurs:
[code]

Reproducable when c

[2021-04-22 07:09] elasticmachine commented on #25221
Pinging @elastic/agent (Team:Agent)

[2021-04-22 07:55] ChrsMark commented on #23876
In Beats [annotations' list](https://github.com/elastic/beats/blob/2de6133dd4fecc2d68696048d85b8ae11612b411/metricbeat/autodiscover/builder/hints/metrics.go#L45) is specific and we explicitly fetch and handle each annotation ([example](https://github.com/elastic/beats/blob/2de6133dd4fecc2d68696048d85b8ae11612b411/metricbeat/autodiscover/builder/hints/metrics.go#L127) ). In this we can always handl

[2021-04-22 08:16] jsoriano commented on #25194
This will also imply to modify all references to these images.

The alternative would be to push multi-architecture manifests, but not sure about the implications of this.

[2021-04-22 08:20] masci commented on #10708
Superseded by https://github.com/elastic/integrations/issues/909

[2021-04-22 08:20] #10708 closed

[2021-04-22 08:44] simitt opened #25226 "[elastic-agent] Filebeat and metricbeat started although monitoring is disabled"
When creating an agent policy with logs and metrics collection disabled, either via preconfiguration API or via the Fleet policy UI, and then enrolling an agent, the agent still starts the monitoring filebeat and metricbeat.

<img width="827" alt="Screenshot 2021-04-22 at 10 35 41" src="https://user-images.githubusercontent.com/5555349/115683234-86433b00-a356-11eb-8908-a0da0b975d33.png">

<img wid

[2021-04-22 08:44] elasticmachine commented on #25226
Pinging @elastic/agent (Team:Agent)

[2021-04-22 09:52] ruflin commented on #23876
@ChrsMark What would do the extraction / creation of the templates? Package tooling? I strongly prefer that the elastic agent itself will not have knowledge of package structure and from a template perspective, it is just a file from a different url/path.

[2021-04-22 10:40] ChrsMark commented on #23876
Package tooling (with some manual interaction) could work here. I guess that templates will be shipped along with elastic-agent like what we do now in Beats with `modules.d`.

Flattening templates sounds good to me. No strong preference to have loop's support.

What I have in mind is that we want from `annotations` to end up to the `rendered_input` in the pipeline I mentioned above `annotations->k

[2021-04-22 10:42] ruflin commented on #24054
++ on the comment from @mukeshelastic . The initial goal is to have a replacement for what we have today in Beats. AFAIK all the above restrictions don't exist in Beats today.

[2021-04-22 10:51] exekias commented on #24054
That's correct, if you think about it, this is only used by people with access to deploying in the cluster (k8s) or configuring the agent (standalone), we don't put high security requirements there.

For the case of kubernetes this feature is disabled by default, just in case, as only some admins will want to enable their users to spawn inputs on their own.

[2021-04-22 11:03] ruflin commented on #25131
If I remember correctly, everything worked as expected. I'm only talking about the log messages.

* `Failed to cleanup`: I assume INFO would also already work or debug. In general, if something fails but we expect it to happen, we should add a note about it in the log message. Something like `Failed to cleanup ... but is expected in case xyz`
* Degraded: Same here, lets add some more details to th

[2021-04-22 11:06] ruflin opened #25230 "[Elastic Agent] Improve logging"
The logging output in Elastic Agent is sometimes a bit cryptic and for someone not knowing the internals of Elastic Agent, hard to interpret. Some effort should be spent going through all the log messages and evaluate how it can be improved to make it easier to understand.

Every Error message should contain details around why it is happening and potentially how it can be resolved.

[2021-04-22 11:06] elasticmachine commented on #25230
Pinging @elastic/agent (Team:Agent)

[2021-04-22 11:11] exekias commented on #23876
In this case is not about iterating over inputs but putting a list into the input parameters. The template doesn't really need to understand package structure, just be able to build the final YAML config from input parameters.

One big benefit of the proposed approach is that tooling should be able (I believe?) to automatically generate this template out of the package structure.

I think template

[2021-04-22 11:47] #25058 closed

[2021-04-22 12:31] ph commented on #24415
@dikshachauhan-qasource

Fleet server log should be present in the log section of the elastic agent, fleet-server metrics are not currently collected and exposed to the users.

[2021-04-22 12:47] mtojek commented on #25230
One of the goal would be improving logging around enrollment. We can figure out the root cause of flakiness of https://github.com/elastic/elastic-package/pull/329 .

[2021-04-22 12:55] Whysmerhill commented on #13533
Same issue here, if we activate IETF with udp we get a lot of error "can't parse event as syslog rfc3164" for TRAFFIC & THREAT logs. This issue disappear if we go back to BSD format.

[2021-04-22 13:12] ChrsMark opened #25237 "[Elastic Agent] Provide k8s manifest to deploy agent on k8s with automatic enrolment to fleet."
We already support [Elastic-Agent on k8s in standalone mode](https://github.com/elastic/beats/blob/master/deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml). We should be able to provide proposed manifests so as to start agent as Daemonset pods and automatically enrol them to fleet server (ie https://github.com/elastic/elastic-package/blob/f092978b96cc25d55144236d46b2d201079316a7/internal

[2021-04-22 13:13] elasticmachine commented on #25237
Pinging @elastic/integrations (Team:Integrations)

[2021-04-22 13:13] elasticmachine commented on #25237
Pinging @elastic/agent (Team:Agent)

[2021-04-22 13:24] michalpristas commented on #25226
can you verify agent is enrolled to your config?
i tried it locally and havent seen this behavior.
what i did was that i updated fleet server config so monitoring is disabled. updated elastic-agent.yml to enable exposing of metrics using http. and enrolled using kibana generated commands.

and as expected
[code]

[code]

[2021-04-22 13:29] michalpristas commented on #25226
also if `agent.monitoring` is not part of incoming config, default values are used which are `(true, true, true)`

[2021-04-22 14:05] peasead opened #25240 "[Filebeat] Deprecate MISP Module"
The existing MISP Filebeat module can begin a deprecation pipeline now that the capabilities have been folded into the new Threat Intel Filebeat module.

- Existing MISP Filebeat Module - https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-module-misp.html
- New MISP feature of the Threat Intel Filebeat Module - https://www.elastic.co/guide/en/beats/filebeat/7.12/filebeat-module-threat

[2021-04-22 14:05] elasticmachine commented on #25240
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-04-22 14:22] dikshachauhan-qasource commented on #24415
Hi @ph

Thanks for the feedback. We will update testcase accordingly.

[2021-04-22 16:13] nkammah commented on #24825
@mostlyjason and I synced up offline - MSI's are not a priority at the moment for the Infra Release team and from what I understand, they're also not a priority for the agent team.

[2021-04-22 16:39] simitt commented on #25221
Closing as this is a duplicate of https://github.com/elastic/beats/issues/25131

[2021-04-22 16:58] bondbig commented on #21274
Any news on this one? This is quite embarrassing, really

[2021-04-22 17:50] simitt commented on #25226
I just reproduced on a fresh cloud deployment, `filebeat_monitor-json` and `metricbeat_monitor.json` logs were created; after restarting the deployment the processes stopped.

[2021-04-22 18:51] leehinman commented on #25159
I like Option 2 if we can test to make sure the fields are present, but we don't compare the values.  This should let us know if the geo processor adds or deletes fields.

We would then be trusting the tests in elastic/elasticsearch#68920 to let us know that lookups work.

[2021-04-22 22:16] andrewkroh opened #25249 "[Filebeat] Support multiline options in aws s3 input"
**Describe the enhancement:**

When reading log files from S3 users should be able to specify the same `multiline` options that are available with the `log` input.

**Describe a specific use case for the enhancement or feature:**

Reading XML based Windows event logs from S3 that are newline delimited, but the XML itself contains strings with newlines. So in order to get one full XML object we nee

[2021-04-22 22:30] legoguy1000 commented on #25154
Easy fix but i don't even see that field anywhere in teh pipeline.

[2021-04-22 22:54] legoguy1000 commented on #25154
PR opened

[2021-04-23 02:48] blakerouse commented on #25226
I think it might be the case that when Elastic Agent spawn Fleet Server for bootstrapping (which Elastic Agent does not look at the policy yet as its enrolling) it might spawn Filebeat and Metricbeat. But the restart of the Elastic Agent after the bootstrapping process it should not be running.

That could possible explain why you see the log files. But are the binaries actually staying running?

[2021-04-23 05:55] kunisen opened #25253 "[Filebeat][Fortinet Module] Can we add RFC​6587 in fortimail fileset when sending the syslog"
**Describe the enhancement:**
**Describe a specific use case for the enhancement or feature:**

We use fortimail fileset of Filebeat Fortinet module to send syslog.
We found that on fortimail side, the log is sent as RFC​6587 format, thus we need to add `framing: rfc6587` in module setting (input.yml).

Could we improve this in the future version please?

[2021-04-23 05:58] kunisen opened #25254 "[Filebeat][Fortinet Module] Can we include hardware id in observer.serial_number in fortimail fileset, just in like firewall fileset?"
**Describe the enhancement:**
**Describe a specific use case for the enhancement or feature:**

We use firewall fileset of Filebeat Fortinet module.
We found that, unlike the firewall fileset in the fortinet module, the device ID was not set to `observer.serial_number`.
Therefore we need to set it manually like this in pipeline.yml.

[code]

Could we improve this in the future version please?

[2021-04-23 05:59] kunisen opened #25255 "[Filebeat][Threat Intel Module] Attribute should accept array type based on MISP schema"
For confirmed bugs, please report:
- Version: 7.12
- Operating System: Major OS
- Description

We are using Filebeat `threatintel` MISP fileset to load data.
We encountered the following issue.

- Data sample we want to load

[code]

We can see `Attribute` accepts array type, but when we see the MISP module config/config.yml, it seems not expecting array.
https://github.com/P1llus/beats/blob/500b4

[2021-04-23 06:15] HaZet1968 commented on #23815
We have a CISCO APIC, too, and I am interested in a parser, too.

[2021-04-23 06:20] ruflin commented on #25221
@simitt Closing as you commented to close but didn't close.

[2021-04-23 06:20] #25221 closed

[2021-04-23 08:09] v1v opened #25257 "Lint: improvements"
Caused by https://github.com/elastic/beats/pull/25112

1) we can make the lint step more selective. Do we need to lint Filebeat, even if the change is in libbeat? I would consider that all lints are 'local' to the actual product
2) we can improve make check itself to only run the checks on a preconfigured set of sub-projects (based on environment variable the selective testing support defines).

[2021-04-23 08:11] cachedout commented on #23466
Strong +1 to fixing this issue. I've been fighting Functionbeat for a few hours now and still can't get pass this error and it's totally unclear what's happening here. :-/

[2021-04-23 08:29] elasticmachine commented on #25255
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-04-23 08:31] elasticmachine commented on #25253
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-04-23 08:32] jamiehynds commented on #25253
@leehinman am I correct in saying that your [RFC6587 PR](https://github.com/elastic/beats/pull/23724) will allow us to easily add this setting to the Fortinet module?

[2021-04-23 08:35] elasticmachine commented on #25254
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-04-23 08:42] jamiehynds opened #25261 "[Cyberark] Deprecate experimental Cyberark Filebeat Module + Integration"
Now that our new Cyberark PSA is complete, we need to deprecate our experimental Cyberark filebeat module and Elastic agent integration, in favour of the new module.

Experimental module: [Docs](https://github.com/elastic/beats/tree/master/x-pack/filebeat/module/cyberark) | [Module ](https://github.com/elastic/beats/tree/master/x-pack/filebeat/module/cyberark)

New module: [Docs](https://www.elast

[2021-04-23 08:42] elasticmachine commented on #25261
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-04-23 09:34] simitt commented on #25133
This has been solved on the Kibana side, closing this issue now.

[2021-04-23 09:34] #25133 closed

[2021-04-23 10:16] simitt commented on #25226
The binaries were running, as shown via `ps axu` output above. But I cannot reproduce with the latest `elastic-agent` and `kibana` builds. Closing this issue.

[2021-04-23 10:16] #25226 closed

[2021-04-23 10:51] kvch opened #25263 "Setting AWS credentials via config file leads to `MissingRegion` error"
For confirmed bugs, please report:
- Version: 542bef8611cd24bfdeee6e6c1c9c7fe0158a3387
- Operating System: Linux
- Steps to Reproduce:

1. Run `functionbeat deploy beatbox` with the configuration below:

[code]

The configuration is correct. When setting the same options via environment variables the deployment is successful:

[code]

Error message:
[code]

A similar error is reported for Filebeat

[2021-04-23 10:53] kvch commented on #25263
CC @kaiyan-sheng

[2021-04-23 12:26] andrewvc commented on #22932
It looks like heartbeat with synthetics is actually only ~500MiB. Given that the size isn't so bad, is there any objection to simply merging synthetics into the agent docker image?

[2021-04-23 12:35] ruflin commented on #22932
Our current image is ~569MB. So adding synthetics would double it. My biggest concern is that if Elastic Agent is deployed across many machines, this will consume now double the bandwidth, 500 is already quite a bit.

[2021-04-23 12:49] andrewvc commented on #22932
@ruflin we're at the point where we need a firm decision relatively soon. The two options I see are either include it in the mainline image or make an alternate `agent-synthetics` image. Which way should we go?

[2021-04-23 12:58] ruflin commented on #22932
It is a tricky decision here. If we include it and later realise the size is too large, we can't remove it anymore as it is a breaking change. If we go the separate container, my understanding is that a user could not just add synthetics but would need a separate container for it. @alvarolobato @tbragin Would be nice if you could chime in here.

[2021-04-23 13:50] #25159 closed

[2021-04-23 13:55] ph commented on #22932
@ruflin @andrewvc That size increase would only affect our container's release or all of our artifacts?

[2021-04-23 14:16] #23639 closed

[2021-04-23 14:22] ruflin commented on #24538
@michalpristas Can this be closed thanks to https://github.com/elastic/beats/pull/24907 ?

[2021-04-23 15:03] #24538 closed

[2021-04-23 15:16] ph commented on #25173
@urso Maybe we aren't initializing the logger correctly?

[2021-04-23 15:18] ph commented on #25123
@simitt @blakerouse so we are keeping this open on the backlog and remove the 7.13.0 label on? Could we have a dead lock in the code that could cause the shutdown logic to hang?

[2021-04-23 15:20] maggieghamry commented on #24051
@jeffspahr and @ChrsMark , FYI this same issue is occurring for Metricbeat on `7.11` as well; is there an issue for that as well?

[2021-04-23 15:29] simitt commented on #25123
Yes I believe that makes sense for now; updated the labels accordingly

[2021-04-23 15:39] ajmeyers42 commented on #20313
Hi @jsoriano - I have another request to have either the current metricbeat VSphere module expanded or a new module created to account for performance, network utilization, and disk utilization at minimum.  i'll add an additional PR in for APM terminals for more context. Just a heads up that the demand is growing

[2021-04-23 15:56] #25217 closed

[2021-04-23 18:11] andrewvc opened #25287 "[Heartbeat] Move synthetics from experimental to beta"
We currently log a warning that synthetics is experimental, but it will be beta in 7.13, let's update those log messages.

[2021-04-23 18:11] elasticmachine commented on #25287
Pinging @elastic/uptime (Team:Uptime)

[2021-04-23 18:12] urso commented on #25173
Can you share the agent configuration that has been used, and maybe a few more logs. The logs with `zap` I can tell where the logger was initialized.

Which build was used?

From the code I can tell that agent configures its internal json logger (using ecszap), that always logs to '$path.home/logs/elastic-agent-json.log` and then tells libbeat to create its own logger, which might also write to th

[2021-04-23 18:50] andrewvc commented on #22932
Just the container, and it wouldn't increase by 500 Mib, probably only a few hundred if I had to guess. Metricbeat's docker image is 190MiB today by comparison, so we could call that the base size.

[2021-04-23 19:10] ewingmatthewPFG commented on #24333
Related to this piece of code - Redis 6 supports ACLs where a username and password are used to authenticate; however, this currently only supports a password. We wish the Redis module would support this in addition to TLS.

[2021-04-23 20:47] maggieghamry opened #25290 "Metricbeat kubernetes will throw an error unless `nodes` defined in the ClusterRole as of 7.11"
For confirmed bugs, please report:
- Version: 7.11.0
- Operating System: Kubernetes v1.20.2+k3s1  on Ubuntu 20.04
- Steps to Reproduce:

Running `ECK 1.4`. From version From version `7.11+` for Metricbeat - fixed in Filebeat with https://github.com/elastic/beats/issues/24051 and PR https://github.com/elastic/beats/pull/24052 (this may be the case for additional beats as well) on ECK, the following

[2021-04-23 20:47] elasticmachine commented on #25290
Pinging @elastic/integrations (Team:Integrations)

[2021-04-23 20:49] lukeelmers commented on #24136
Hey @sayden, just wanted to follow up now that we've closed https://github.com/elastic/kibana/issues/90406. At this point we are considering our new logging system "done". Do you have any idea yet where this might fall on the Beats roadmap?

One thing we are hoping to do soon is lift the requirement that folks log everything to both the legacy and the new system. Currently we force everything to s

[2021-04-24 14:05] dream11harsimran opened #25295 "Filebeat S3 input support for AWS WAF logs (support application/octet-stream)"
**Filebeat S3 input support for AWS WAF logs (support application/octet-stream):**

As of now, there is Filebeat s3 input that doesn't support AWS WAF logs. AWS WAF logs use Kinesis Firehose to get to S3 and the "Content-type" is set to "application/octet-stream". Due to this, the logs didn't get expanded in the Elasticsearch.

If that support can be added it will resolve a big problem and many us

[2021-04-24 14:10] rubal033 opened #25296 "Filebeat S3 input support for AWS WAF logs (support application/octet-stream)"
**Filebeat S3 input support for AWS WAF logs (support application/octet-stream)**

As of now, there is Filebeat s3 input that doesn't support AWS WAF logs. AWS WAF logs use Kinesis Firehose to get to S3 and the "Content-type" is set to "application/octet-stream". Due to this, the logs didn't get expanded in the Elasticsearch.

If that support can be added it will resolve a big problem and many use

[2021-04-24 14:11] dream11harsimran commented on #25295
Duplicated  #25296

[2021-04-24 14:11] #25295 closed

[2021-04-24 17:16] #14050 closed

[2021-04-24 20:16] #8042 closed

[2021-04-24 21:16] #7860 closed

[2021-04-25 05:01] elasticmachine commented on #25129
## Flaky Test

* **Test Name:** `Build&Test / x-pack/metricbeat-cloud / TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/cloudwatch`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2F7.x/detail/7.x/501/
* **PR:** None
* **Commit:** dad84f432f7947691c55216c0413672582dc731f

### Error details
[code]

### Stack Trace
[code]

[2021-04-25 05:01] elasticmachine commented on #24201
## Flaky Test

* **Test Name:** `Build&Test / x-pack/metricbeat-cloud / TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/ec2`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2F7.x/detail/7.x/501/
* **PR:** None
* **Commit:** dad84f432f7947691c55216c0413672582dc731f

### Error details
[code]

### Stack Trace
[code]

[2021-04-25 05:01] elasticmachine commented on #25130
## Flaky Test

* **Test Name:** `Build&Test / x-pack/metricbeat-cloud / TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/rds`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2F7.x/detail/7.x/501/
* **PR:** None
* **Commit:** dad84f432f7947691c55216c0413672582dc731f

### Error details
[code]

### Stack Trace
[code]

[2021-04-25 05:01] elasticmachine commented on #24203
## Flaky Test

* **Test Name:** `Build&Test / x-pack/metricbeat-cloud / TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/s3_daily_storage`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2F7.x/detail/7.x/501/
* **PR:** None
* **Commit:** dad84f432f7947691c55216c0413672582dc731f

### Error details
[code]

### Stack Trace
[code]

[2021-04-25 05:01] elasticmachine commented on #24204
## Flaky Test

* **Test Name:** `Build&Test / x-pack/metricbeat-cloud / TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/s3_request`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2F7.x/detail/7.x/501/
* **PR:** None
* **Commit:** dad84f432f7947691c55216c0413672582dc731f

### Error details
[code]

### Stack Trace
[code]

[2021-04-25 05:01] elasticmachine commented on #24205
## Flaky Test

* **Test Name:** `Build&Test / x-pack/metricbeat-cloud / TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/sqs`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2F7.x/detail/7.x/501/
* **PR:** None
* **Commit:** dad84f432f7947691c55216c0413672582dc731f

### Error details
[code]

### Stack Trace
[code]

[2021-04-25 10:09] morganchristiansson commented on #18334
arm64 docker images are available as snapshots on https://www.docker.elastic.co/r/beats?show_snapshots=true

For mutlarch image use `docker pull docker.elastic.co/beats/filebeat:8.0.0-SNAPSHOT`
[code]

Thanks guys! :1st_place_medal:

[2021-04-25 14:28] aleksmaus opened #25297 "Osquerybeat: osquery failed: write unix ->/var/run/642722736/osquery.sock: write: broken pipe"
Osquerybeat often fails to execute scheduled or ad-hoc queries after user creates the two scheduled queries and restarts the agent.

The issue seems to be caused by multiple goroutines sending queries over osqueryd socket at the same time, that leads to intermittent errors, for example:
[code]
[code]

For confirmed bugs, please report:
- Version: 7.13  and 8.0.0-SNAPSHOT
- Operating System: tested

[2021-04-26 03:42] hukaixuan commented on #13140
Any updates of this issue? We meet the same issue here:

we have about 200 containers of a k8s node and use filebeat to collect their log, but the registry file is really big(up to 20M, ~50k lines),cause the performance of filebeat is not stable
![image](https://user-images.githubusercontent.com/16044327/116025404-fa495000-a682-11eb-9d34-db28d78f49c9.png)

filebeat performance:
![image](https://us

[2021-04-26 06:50] ruflin opened #25300 "[Elastic Agent] Error in "elastic-agent version" output before installation"
After downloading the Elastic Agent, I wanted to check for the exact version / build it is. For this I run `./elastic-agent version`. It gives me the information I need in the first line `Binary` but then outputs a communication error. This is probably happening because the Elastic Agent is not running yet.

[code]

[2021-04-26 06:50] elasticmachine commented on #25300
Pinging @elastic/agent (Team:Agent)

[2021-04-26 07:30] ChrsMark commented on #25290
Hi @maggieghamry thanks for reporting this, can you please point to a GH line or something more specific for the file where you add the line? In 7.11 it seems to be there https://github.com/elastic/beats/blob/7.11/deploy/kubernetes/metricbeat-kubernetes.yaml#L241 🤔 .

[2021-04-26 08:35] juliocamarero commented on #25173
Hey @urso

here are the [config files](https://github.com/elastic/cloud-assets/tree/7.x/stackpack/apm/config) being used to start agent and you can see [here](https://github.com/elastic/cloud-assets/blob/7.x/stackpack/apm/apm.sh) how it is being started.

I initially reported these logs in `elastic-agent-json.log` but I was mistaken, these zap logs show up in the `fleet-server-json.log`

[fleet-se

[2021-04-26 08:35] fkalinowski opened #25301 "[Metricbeat] [PostgreSQL] module [database] metricset - wrong mapping for blk_read_time and blk_write_time"
- Version: metricbeat 7.11 + PostgreSQL 11
- Operating System: k8s v1.18.9+k3s1 under k3OS v0.11.1
- Discuss Forum URL: https://discuss.elastic.co/t/metricbeat-module-postgresql-wrong-mapping-of-blk-read-time-and-blk-write-time/270722
- Steps to Reproduce:
1. in Metricbeat: enable PostgreSQL module
2. in PostgreSQL: enable `track_io_timing` via `postgresql.conf` --> uncomment or add `track_io_timi

[2021-04-26 08:36] lucabelluccini commented on #18409
Bump - I'll try to submit a PR

[2021-04-26 08:41] elasticmachine commented on #22101
Pinging @elastic/integrations (Team:Integrations)

[2021-04-26 08:53] exekias commented on #25249
@kvch @urso I saw https://github.com/elastic/beats/pull/24763 🚀 , I wonder if this should be the way to go for all inputs wanting to support parsing? Your guidance here would be good

[2021-04-26 09:04] simitt opened #25302 "[elastic-agent] Configuration changes cannot be applied"
Latest elastic-agent throws following error when trying to enable collecting agent logs and metrics:

[code]

The agent policy was created via preconfiguration API with the following config:
[code]

[2021-04-26 09:04] elasticmachine commented on #25302
Pinging @elastic/agent (Team:Agent)

[2021-04-26 09:07] maximhan commented on #15183
Any plan for when this will be fixed?

It's very confusing how it's currently written in the documentation, as the docs themselves (in several places) shift between `hosts` and `urls` for the examples listed, like:

![image](https://user-images.githubusercontent.com/264774/116057706-59a56100-a67f-11eb-8dee-21fcf6a2eb9a.png)

Pages we've found this:

- https://www.elastic.co/guide/en/beats/heartbea

[2021-04-26 09:09] ruflin opened #25304 "[Elastic Agent] Debug fleet-server connectivity"
The Elastic Agent must connect to the fleet-server for enrollement. There are several issues that can happen around the connectivity to fleet-server. If the enrollment doesn't work, it would be nice to have a command line tool to investigate on what the actual issue is. Things like: certificate issue, port not open, host not reachable, wrong token etc.

This idea was triggered by issues like this

[2021-04-26 09:09] elasticmachine commented on #25304
Pinging @elastic/agent (Team:Agent)

[2021-04-26 09:25] ruflin commented on #25302
@simitt Is logging and metrics afterwards enabled or not?

@michalpristas The above error comes from the upgrade capabilities it seems but the change above should not trigger any upgrade. Is it maybe related to starting mb / fb which somehow assumes it is an upgrade?

[2021-04-26 09:45] AlexPirtea commented on #17771
Thanks for the workaround.
For people wanting to use this it's worth mentioning that ${data.port} will add a monitor for each port (not completely sure, correct me if I'm wrong). To bypass this use data.port as string (e.g. https://example.site.com/some-api/healthcheck?ignore=data.port

[2021-04-26 10:23] MarcusCaepio commented on #22462
Hi all,
additional to the list of @jamiehynds please also add the message ID %ASA-7-734003.
This message shows very important information when debugging VPN problems.
The ASA prints several messages with the same Syslog ID for the username and all Attribute/Values Pairs. The Log Messages look like this:

 %ASA-7-734003: DAP: User _name_ , Addr _ipaddr_ : Session Attribute: _attr name/value_
user —

[2021-04-26 11:12] simitt commented on #25302
The status of the internal filebeat and metricbeat was not changed, so there were not running in the container.
I have also seen this error on a simple container restart now, without any configuration changed for enabling/disabling metrics and logs collection.

[2021-04-26 11:26] simitt commented on #25302
I also observed that fleet-server doesn't get started again when the above mentioned message is logged on a container restart, where the elastic-agent/fleet-server enrollment and setup has happened before already.

[2021-04-26 11:38] urso commented on #25249
Yes, we are still improving this on the filestream input. The filestream input is supposed to supersede the current logs input, as it takes on many issues of the logs input (integrations will need to be updated), especially in conjunction with k8s autodiscovery.

The parsing in the logs input was not as 'clean', so we still have to jump through some hoops to make it work properly in a generic fash

[2021-04-26 12:23] exekias commented on #25249
That's great to hear. For this case, this input is not based on a file so we would need to update the code to use these parsers. Does that make sense?

[2021-04-26 13:39] nkakouros commented on #19554
According to the [source code](https://github.com/elastic/beats/blob/23e4403ae093fcc8f7905345cad2c7ad256976d8/libbeat/_meta/fields.ecs.yml#L5782), this is still limited to 1024. Is the move to `wildcard` still planned?

[2021-04-26 14:07] elasticmachine commented on #13140
Pinging @elastic/agent (Team:Agent)

[2021-04-26 14:22] jsoriano opened #25307 "Run kubernetes autodiscover E2E tests in CI"
Changes in the main kubernetes-related packages should trigger autodiscover E2E tests in CI. These tests were added in https://github.com/elastic/e2e-testing/pull/1064

Main packages related to this feature are:
[code]

More generally this would be:
[code]

For agent we should also add the `kubernetes` provider, but there are no E2E test cases yet (https://github.com/elastic/e2e-testing/issues/109

[2021-04-26 14:22] elasticmachine commented on #25307
Pinging @elastic/integrations (Team:Integrations)

[2021-04-26 14:51] thbkrkr commented on #24842
Ok, thank you.

[2021-04-26 15:15] elasticmachine commented on #21274
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-04-26 16:41] ph commented on #25302
@blakerouse Could you take a look at this issue? @michalpristas is out for a few days

[2021-04-26 16:49] aleksmaus opened #25312 "Agent doesn't properly register action input types for the endpoint, service type of app."
The agent doesn't properly sets the  input types from the application spec for when the app/beat is started as a service, for example the "endpoint" app.

Related to:
https://github.com/elastic/beats/pull/25291

The agent log error message:
[code]

[2021-04-26 16:49] elasticmachine commented on #25312
Pinging @elastic/agent (Team:Agent)

[2021-04-26 17:08] pebrc commented on #24842
![Screenshot 2021-04-26 at 19 06 41](https://user-images.githubusercontent.com/697790/116122898-a2323e00-a6c2-11eb-81b9-e939519216cb.png)

Kibana UI on a recent 7.13.0-SNAPSHOT still uses the old syntax .

[2021-04-26 17:14] #25124 closed

[2021-04-26 17:55] elasticmachine commented on #25301
Pinging @elastic/integrations (Team:Integrations)

[2021-04-26 18:02] EricDavisX opened #25391 "Sync up logger used in Fleet server with Agent/ Beats"
The Fleet Server component is known to use a different logging construct.  We find that in doing so it doesn't allow for easy debugging of Fleet Server / Agent because the logs will show different timestamps.

here is an example from the fleet server log:
"@timestamp":"2021-04-26T17:59:49.824Z"
/opt/Elastic/Agent/data/elastic-agent-9c3fe9/logs/default/fleet-server-json.log

and here is one from th

[2021-04-26 18:31] #25312 closed

[2021-04-26 19:43] #18732 closed

[2021-04-26 20:14] elasticmachine commented on #25296
Pinging @elastic/integrations (Team:Integrations)

[2021-04-26 20:15] elasticmachine commented on #25319
Pinging @elastic/agent (Team:Agent)

[2021-04-26 20:20] jen-huang commented on #24391
I'm removing this from Fleet as this isn't a Fleet issue, it seems like a Security Solution bug?

[2021-04-26 22:21] elasticmachine commented on #25321
Pinging @elastic/agent (Team:Agent)

[2021-04-27 04:54] ktpktr0 opened #25322 "When the filebeat log is output to Kafka, how to configure xpack monitoring?"
I installed elk7.8.1 and used filebeat to collect log output to Kafka. Now I want to use xpack to monitor my elk cluster. Elk components can be displayed normally, but filebeat cannot be monitored. This is my configuration：
[code]

On kibana, it is shown as follows。I can see the monitoring of filebeat from this entrance, but I don't know why it's not in the cluster below.：

![image](https://user-i

[2021-04-27 07:40] ktpktr0 commented on #25322
I solved this problem after testing

[2021-04-27 07:40] #25322 closed

[2021-04-27 07:55] pebrc opened #25326 "[Elastic Agent] fork/exec from within STATE_PATH incompatible with K8s hostPath volumes"
https://github.com/elastic/beats/pull/24817/ introduced a new predictable directory for the state of the Elastic Agent container. However it also executes the programs it runs from within that state directory.

As mentioned in https://github.com/elastic/beats/issues/24160 on Kubernetes one common way to run Elastic Agent is as a DaemonSet. A DeamonSet cannot use persistent volumes to persist the A

[2021-04-27 07:55] elasticmachine commented on #25326
Pinging @elastic/agent (Team:Agent)

[2021-04-27 08:18] pebrc commented on #25326
I realise I have not tried working around this issue with `agent.download.install_path` will reopen this if needed. Apologies for the noise.

[2021-04-27 08:39] pebrc commented on #25326
Tweaking `agent.download.install_path` and `agent.download.target_directory` does not help as agent still tries to copy/link into the state directory:

[code]

[2021-04-27 09:36] liladler commented on #23391
The customer tried to apply the new metricbeat version, it delivers fields for pct now but the values are zero.
![image](https://user-images.githubusercontent.com/50909742/116220251-65a72680-a744-11eb-872f-9dd0a77f040c.png)
Is there any resolution? Any further details I can share?

[2021-04-27 09:42] sorantis commented on #23391
For context, I assume the customer used [this snapshot](https://snapshots.elastic.co/7.13.0-7a272954/downloads/beats/metricbeat/metricbeat-7.13.0-SNAPSHOT-linux-arm64.tar.gz) of Metricbeat.

[2021-04-27 09:46] liladler commented on #23391
[this](https://snapshots.elastic.co/7.13.0-7a272954/downloads/beats/metricbeat/metricbeat-7.13.0-SNAPSHOT-linux-x86.tar.gz) is the link the customer has tried.

[2021-04-27 10:16] #17873 closed

[2021-04-27 10:30] jsoriano commented on #24888
Ok, yes, you may be right, according to the [docs](https://www.elastic.co/guide/en/beats/filebeat/7.12/multiline-examples.html#multiline), with `multiline.negate: true` and `multiline.match: after`: _Consecutive lines that don’t match the pattern are appended to the previous line that does match._ I guess that the behaviour if no line has matched is open to interpretation, but I agree that current

[2021-04-27 10:31] aarju commented on #18562
Closing this issue as this is a known issue but with the continued development of Endpoint there aren't plans to update this feature on auditbeat.

[2021-04-27 10:31] elasticmachine commented on #24888
Pinging @elastic/agent (Team:Agent)

[2021-04-27 11:18] mostlyjason commented on #22932
It helps that its just the container. Containers are usually run on servers, not as often on endpoints. Usually there are a smaller number of servers and 500MB of disk isn't a concern. In that case increasing the size shouldn't be as much of an issue.

Also, does that mean users cannot run synthetics on a regular agent install? If so, we should consider adding that to the blocklist to prevent user

[2021-04-27 11:44] blakerouse commented on #25302
Looking at it today.

[2021-04-27 11:46] jasonrhodes commented on #24415
@ruflin I was pinged twice on this issue -- did you intend to ping me or @mostlyjason ? E_TOO_MANY_JSON

[2021-04-27 11:46] #25131 closed

[2021-04-27 11:48] blakerouse commented on #25300
Yes this is expected behavior. You can run with `--binary-only` if you don't want it to try and get the version from the running Elastic Agent daemon.

[2021-04-27 12:06] hukaixuan commented on #13140
After read the code about registry, found the reason of "why the registry file size affect the performance of filebeat so much?"
I found that the update of memory states and write to registry file are in the same `select` block，so they cannot execute in parallel.
But looks like the write registry file method `commitStateUpdates` is safe to parallel processing with `r.onEvents(states)` (`gcStates`

[2021-04-27 12:28] blakerouse commented on #25302
Is there a `capabilities.yml` defined for the Elastic Agent? If so can you provide the contents of that file?

[2021-04-27 12:54] simitt commented on #25302
Yes, the content is
[code]

[2021-04-27 13:12] jsoriano opened #25334 "Auditbeat can crash when recursively watching directories in Windows"
It seems to be exactly the same case reported in the underlying library used: https://github.com/elastic/beats/pull/24264

For confirmed bugs, please report:
- Version: 7.10.1 (probably more versions affected)
- Operating System: Windows
- Steps to Reproduce: Recursively watch long paths with the `file_integrity` module.

Failures like these ones happen:
[code]

[2021-04-27 13:12] elasticmachine commented on #25334
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-04-27 13:14] thbkrkr commented on #24842
This documentation also uses the old syntax: https://www.elastic.co/guide/en/beats/metricbeat/current/running-on-kubernetes.html#_red_hat_openshift_configuration.

[2021-04-27 15:15] #25287 closed

[2021-04-27 15:16] #17882 closed

[2021-04-27 15:16] #17963 closed

[2021-04-27 15:31] fearful-symmetry commented on #23391
@liladler how many process events did the system collect? The very first event that metricbeat collects will have the percentages set to zero, as it needs processes across time to create a percentage. Also, can I get the entire event?

[2021-04-27 15:40] shimonmodi commented on #25261
Events captured from CyberArk - https://docs.cyberark.com/Product-Doc/OnlineHelp/PAS/Latest/en/Content/PASREF/Vault%20Audit%20Action%20Codes.htm

[2021-04-27 15:57] andrewkroh commented on #24304
Another option is to remove the libpcap from Beats and put it into golang-crossbuild. This would eliminate where it runs `./configure` in the Packetbeat build.

[2021-04-27 15:59] mtojek opened #25341 "elastic-agent: HEALTHY status fluctuates for fleet-server"
Spotted in https://github.com/elastic/integrations/pull/950

We tried to use `elastic-agent status` as healthcheck for the fleet server, but apparently the stack initialization fails due to unstable HEALTHY status (suspected by @blakerouse ).

We would like to use the  `status` command instead of `/api/status`, but this issue seems to be a blocker.

[2021-04-27 16:00] elasticmachine commented on #25341
Pinging @elastic/agent (Team:Agent)

[2021-04-27 16:04] elasticmachine commented on #23205
Pinging @elastic/agent (Team:Agent)

[2021-04-27 17:52] ph opened #25346 "Upgrade to Golang 1.16.4"
Upgrade to Golang 1.16.2:

 - [x] Update crossbuild images https://github.com/elastic/golang-crossbuild/pull/82
 - [x] Update Beats to 1.16.2
 - [x] Update Fleet-Server
 - [x] Ping APM-Server
 - [x] Update macOS SDK in our crossbuild

[2021-04-27 17:52] elasticmachine commented on #25346
Pinging @elastic/agent (Team:Agent)

[2021-04-27 18:11] ph commented on #25319
Closing as duplicate of https://github.com/elastic/beats/issues/25021

[2021-04-27 18:11] #25319 closed

[2021-04-27 18:23] ph commented on #23020
I think this would be good for GA. This require some coordination from both side. Where would a user define the namespace user for a specific agent to send his metrics and log information? Right now the namespace is at the integration level not at agent level?

[2021-04-27 18:24] ph commented on #23020
@jen-huang What I mean, I think this require a dependency on Fleet to make it work, unless I am wrong.

[2021-04-27 18:28] ph commented on #20243
@kvch Could you update this issue with the remaining work for the filestream input?

[2021-04-27 18:32] jen-huang commented on #23020
@ph Ah, ok, I misunderstood a bit. Are these reported logs documents with `default` namespace "agent monitoring" logs? If so, maybe Fleet needs to send a user-configurable `namespace` as part of the monitoring yaml block?
[code]

[2021-04-27 18:41] ph commented on #23020
@jen-huang Yes, I believe what you are suggesting would work, I think the change is trivial, But it's more on your side where you want a user to configure this option?  Maybe this require a bit more thinking like I've set up the namespace a the agent policy settings level and by default everything use that namespace event for internal metrics and logging collection.

I think this issue is a bit co

[2021-04-27 18:41] #23020 closed

[2021-04-27 18:43] ph opened #25350 "Elastic Agent should allow a namespace to be configured"
As a user I should be able to select to which namespace internal monitoring and log collection should be send.

[code]

based on the bug reporting from https://github.com/elastic/beats/issues/23020

[2021-04-27 18:43] elasticmachine commented on #25350
Pinging @elastic/fleet (Team:Fleet)

[2021-04-27 18:47] ph commented on #25350
@jen-huang Looking at this, I don't think it's a lot of effort on our side to add this behavior.

 Buts I think there is a bit more on your side that we may have missed:

- How a user can configure a namespace, what is the UX experience?
- The `permissions block` in the agent policy need to also contains the metrics and logs destination so fleet server can create them.

I think we should keep the

[2021-04-27 18:47] elasticmachine commented on #25350
Pinging @elastic/agent (Team:Agent)

[2021-04-27 18:47] ph commented on #23020
for everyone in this thread I've summarized the actual work in https://github.com/elastic/beats/issues/25350

[2021-04-27 18:49] ph commented on #25326
@urso @blakerouse Could we fix that for 7.14?

[2021-04-27 18:50] ph commented on #25321
@urso What do you think should be the experience here? should we allow some kind of debug tool?

[2021-04-27 18:51] jen-huang commented on #25350
This one is easy, we already have this UI here that collects `namespace` on agent policy level. We just need to populate the `agent.monitoring` block to include the new `namespace` field.

![image](https://user-images.githubusercontent.com/1965714/116296009-90967800-a74e-11eb-9254-40035decc91f.png)

Can you expand on this a bit? Currently the agent policy yaml contains these permissions for `metri

[2021-04-27 18:56] ph commented on #25350
This is currently enough, but as soon as the permission block _target non wildcard indices_ they would need to include the data stream for the logs and metric collection. We could potentially land this in 7.14.

[2021-04-27 19:31] #19088 closed

[2021-04-27 19:39] jen-huang commented on #25350
Understood, but we don't have this yet so I don't want to conflate the issue 🙂  I created https://github.com/elastic/kibana/issues/98542 for the Fleet part of the work.

[2021-04-27 22:26] elasticmachine commented on #25355
Pinging @elastic/agent (Team:Agent)

[2021-04-27 22:28] jen-huang commented on #25355
@ph I'm moved this to Agent backlog:

- We should check to see if the policy change even logged by agent contains the agent policy ID it was reassigned to. If not, can we do work to include it?
- The audit logging aspect of this would be on the Kibana side, but audit logging is not on the near horizon.

[2021-04-27 23:52] andrewvc commented on #22932
Yes, correct on both counts, how do we add it to the blocklist?

On Tue, Apr 27, 2021 at 6:18 AM Jason Skowronski ***@***.***>
wrote:

[2021-04-28 00:04] legoguy1000 commented on #25254
@jamiehynds There are 26 modules that use the rsa2elk conversions and the fortinet module is the only one to have sample data that actually has content for the `rsa.misc.hardware_id` field.  I can update just the fortinet module or I can do all 26 so its consistent between them.  Just let me know.

[2021-04-28 00:16] #17025 closed

[2021-04-28 03:52] Arasinaka opened #25358 "Error while getting memory usage: error retrieving process stats: cannot find matching process for pid=44235"
filebeat version: sourceCode Master
Run sourceCode on mac

Steps to Reproduce:
excute sourceCode
set run arguments: -c /Users/xxxxxx/Desktop/filebeat.yml

filebeat.yml:
`
filebeat.inputs:
  - type: log
    enabled: true
    paths:
      - /Users/xxx/Documents/upload/bare-metal/business-bare-metal.log

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

hostPid:

[2021-04-28 03:52] Arasinaka commented on #25358
filebeat.yml input is:
`# ============================== Filebeat inputs ===============================
filebeat.inputs:
  - type: log
    enabled: true
    paths:
      - E:\Projects\billing\log\access.log

# ================================== Outputs ===================================
output.console:
  enabled: true
  codec.json:
    pretty: true
    escape_html: false

logging.to_stderr: true

[2021-04-28 05:07] nikulinivan opened #25361 "[Metricbeat] Configuration parameter for docker.container"
**Describe the enhancement:**
Metricbeat currently only lists running containers.
It will be nice to have configuration parameter for `docker.container` that will pass `All: true` for `types.ContainerListOptions{}`

**Describe a specific use case for the enhancement or feature:**
We have a use case where we need to monitor list of containers including stalled(during creation), exited etc...

[2021-04-28 05:07] elasticmachine commented on #25361
Pinging @elastic/integrations-services (Team:Services)

[2021-04-28 05:19] #25358 closed

[2021-04-28 05:24] Arasinaka commented on #25358
Although I closed this issue， this happens when the Collection  location of file is on the final line .
The filebeat don't need to collect the log.

[2021-04-28 07:02] mdiehm opened #25367 "magic behind filebeat modules derived from RSA NetWitness log parser"
Document filebeat Modules derived from RSA NetWitness log parser in a way that these Modules are actually usable or at least understandable

many of the filebeat modules have a hint that they were converted from RSA NetWitness log parser XML. After some search and trying to understand how to get to the logformat required by the module I must say that all seems a bit like marketing fuzz. Let me exp

[2021-04-28 07:09] ruflin commented on #25302
I can reproduce this locally by using a capability file that only allows a single input and denies everything else. The error happens when the monitoring is added or removed. For some reasons it seems the monitoring update is calling upgrade capabilities.

[2021-04-28 08:15] ruflin commented on #25199
I opened https://github.com/elastic/beats/pull/25365 to get this fixed: https://github.com/elastic/beats/pull/25365

[2021-04-28 08:21] ruflin opened #25369 "[elastic-agent] Many operations are checked twice"
It seems the operations to fetch binaries or check for binaries are triggered twice. Looking at the logs, each entry shows up twice:

[code]

It would be good to understand why the check is made twice in a row and if this is intented.

[2021-04-28 08:21] elasticmachine commented on #25369
Pinging @elastic/agent (Team:Agent)

[2021-04-28 08:44] EminemJK opened #25370 "Starting FileBeat causes the system to crash"
System Environment: windows server 2008 R2 Enterprise, 64bit
CPU: Intel (R) eon R) CrU E7- 4820 2.00GHz 2.00 GHz(4 CPU)
Memory: 32GB
Version: filebeat-7.12.0-windows-x86_64
Filebeat.yml:
[code]
D:/bigData/logs/:
![log](https://user-images.githubusercontent.com/33885904/116373754-38d83980-a840-11eb-8b16-50541ef1c017.png)

When I run the Filebeat program:
[code]
![1](https://user-images.githubuserco

[2021-04-28 08:48] ruflin commented on #25122
Looking at this I stumbled over the following TODO in our code: https://github.com/elastic/beats/blob/master/x-pack/elastic-agent/pkg/agent/application/gateway/fleet/fleet_gateway.go#L200 Not sure I fully understand the todo but might be relevant.

[2021-04-28 08:55] ruflin opened #25371 "[elastic-agent] failed to invoke rollback waterfork"
* Environment: docker
* Version: 7.13.0-SNAPSHOT

The following error is shown in the logs:

[code]

The above is running inside a container. It does not break the setup but would be good to investigate the issue. Two thoughts:

* It might be related to STATE_PATH inside Docker
* Upgrades are not allowed in Docker, maybe that is the issue?

[2021-04-28 08:55] elasticmachine commented on #25371
Pinging @elastic/agent (Team:Agent)

[2021-04-28 09:54] elasticmachine commented on #25367
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-04-28 10:00] sderungs commented on #8498
We're having a similar issue with metricbeat.autodiscover in 7.12 in Docker swarm mode.
Metricbeat should be used to monitor the Elasticsearch cluster according to the docs.

While trying to setup this with Autodiscover as we have multiple Elasticsearch nodes, we run into the same issue.
The IP reported by Autodiscover for the Elasticsearch instances is sometimes the one from the docker built-in "

[2021-04-28 10:08] jamiehynds commented on #25367
Hi @mdiehm - sorry to hear you haven't had a good experience with this particular integration. While many of these experimental modules, based on open source RSA Netwitness parsers, have been widely adopted without issues, we have come across quality issues in a number of parsers and have deprecated them as a result. In some cases we are building new integrations from scratch, based on the popular

[2021-04-28 10:16] #17885 closed

[2021-04-28 10:52] ruflin opened #25375 "[elastic-agent] logs and metrics command"
Debugging Elastic Agent is currently not as easy as it should be. In case of issue, the right paths for the logs have to be found and read one by one. It would be very convenient if elastic agent would offer a command to get the logs and metrics.

To tail all the logs, something like the following would be useful:

[code]

Maybe later support for filtering logs from only a specific process could b

[2021-04-28 10:52] elasticmachine commented on #25375
Pinging @elastic/agent (Team:Agent)

[2021-04-28 11:01] jamiehynds commented on #25254
Hi @legoguy1000 - I'd recommend only updating the Fortinet module for now. Thanks for yet another contribution!

[2021-04-28 11:44] urso commented on #24729
The work in progress meta issue with open tasks is here: https://github.com/elastic/beats/issues/24954

Can we close one of the two?

[2021-04-28 11:49] urso commented on #8276
in progress PR introducing proxy support: https://github.com/elastic/beats/pull/25219

[2021-04-28 11:58] ruflin commented on #25326
We should spend some time on rethinking all the paths we need for the different environments. From my perspective we should find ways to support the above.

[2021-04-28 12:01] ruflin commented on #24415
@jasonrhodes jep, sorry.

[2021-04-28 12:11] ruflin commented on #25300
I opened a quick PR here to give the user a hint on how to fix it: https://github.com/elastic/beats/pull/25380

[2021-04-28 12:26] #24729 closed

[2021-04-28 12:29] legoguy1000 commented on #25254
I merged the minor change with another PR I already had open for Fortinet.  PR is updated and ready for review. @kunisen please take a look at the PR and let me know if you have any comments on the other changes I made for the Fortinet Firewall pipeline. It was mainly removing duplicate items and a few other minor changes.

[2021-04-28 12:29] urso commented on #24888
Why would you need 20 patterns if you only have 5 applications that use multiline. In order to keep some sanity  regarding multiple regex patterns I would create maybe 6 input configurations. 1 configuration with appropriate multiline configuration per app that uses multiline + one configuration without multiline.

Multiline requires the correct interplay of `pattern`, `negate`, and `match`. Often

[2021-04-28 12:29] kvch commented on #25249
I have updated this issue with the current state: https://github.com/elastic/beats/issues/16137

[2021-04-28 12:31] sastorsl commented on #1035
We'll go about this by installing filebeat _once_ but configuring multiple services. The setup can be done by saltstack, ansible, etc.

[2021-04-28 12:33] liladler commented on #23391
@fearful-symmetry  By now the system collected millions of documents, this is a full event -
[code]

[2021-04-28 12:49] dikshachauhan-qasource opened #25385 "Agent logging level not updated even on hard refreshing the browser."
**Kibana version:**
7.13 BC3 Kibana Staging Cloud environment

**Host OS and Browser version:**
Windows, All

**Preconditions**
1.  7.13 BC3 Kibana staging Cloud environment should be available.
[code]
2. Few agents should be installed to any policy.

**Steps to reproduce:**
1. Login to Kibana cloud environment.
2. Go to Agents tab.
3. Go to Logs Section, Update agent logging level to value say 'd

[2021-04-28 12:50] elasticmachine commented on #25385
Pinging @elastic/agent (Team:Agent)

[2021-04-28 12:51] dikshachauhan-qasource commented on #25385
@manishgupta-qasource Please review

[2021-04-28 13:04] manishgupta-qasource commented on #25385
Reviewed & Assigend to @EricDavisX

[2021-04-28 13:11] EricDavisX commented on #25385
I have seen in some usage it can take up to 15 seconds for the setting to be in place on the host Agent (meaning you can refresh the browser multiple times before it shows as being updated).

If you can confirm any behavior that takes longer we should investigate.  @dikshachauhan-qasource can you time it and re-post back please?

[2021-04-28 13:16] #18013 closed

[2021-04-28 13:37] dikshachauhan-qasource commented on #25385
Hi Eric,

Specially on windows its not reflecting at all. For rest it gets updated after 2-3 mins after refreshing and updating logging level several times.

[2021-04-28 13:39] ph commented on #25369
@ruflin This doesn't impact negatively the agent, I've flagged it as 7.14.

[2021-04-28 13:49] ruflin commented on #25369
So far haven't seen any impact on the agent itself by this.

[2021-04-28 14:45] #25199 closed

[2021-04-28 14:47] michel-laterman opened #25389 "Vagrant up fails"
* Environment: virtualbox 6.1 + Vagrant 2.2.15

Running `vagrant up` will error out as `ubuntu/precise32` and `ubuntu/precise64` are no longer available on Vagrant cloud.

Replacing these boxes with `hashicorp/precise32` and `hashicorp/precise64` lead to failures during provisioning as the `python3-pip` package is no longer available.

[2021-04-28 14:47] exekias commented on #17467
Now that we have this in ECS we plan to move ahead and add these fields, @ChrsMark I'm assigning you for now 🙏

[2021-04-28 14:47] elasticmachine commented on #25389
Pinging @elastic/agent (Team:Agent)

[2021-04-28 14:48] ph commented on #20257
This requires more investigation, @ruflin @urso I know that currently we don't allow Elastic Agent to run without root or multiple instance on the same same. I do not consider this really high priority. cc @mostlyjason

[2021-04-28 14:49] #21870 closed

[2021-04-28 14:52] EricDavisX commented on #24453
I am seeing the exact same error in Ansible automation to deploy our 'demo' test server with the 8.0 snapshot and have confirmed it is using the latest snapshots which are built recently enough, near daily.  I"ll add it to my urgent tracking list.  I submit it is possibly an intermittent timing bug where the automation is finding a problem as it triggers steps faster than a human could.

[2021-04-28 14:57] EricDavisX commented on #23596
I will call out the larger scale deployment need here:  will an admin of a 100k Agent system know this is going on with a particular Agent, do we have  way to provide observability on it?  And if/when identified, do we have documented remedy of restarting the Agent in our troubleshooting docs?  The formal troubleshooting docs are currently this link: https://www.elastic.co/guide/en/fleet/master/fl

[2021-04-28 14:58] elasticmachine commented on #25391
Pinging @elastic/agent (Team:Agent)

[2021-04-28 14:58] ph commented on #25391
@michalpristas This look like a good issue to pair with @michel-laterman?

[2021-04-28 15:00] mtojek commented on #24453
Hint: you can double check if your configuration is correct. I remember we faced this problem while we're hitting Kibana endpoint with enabled fleet-server support.

[2021-04-28 15:26] ph commented on #24453
I don't think it's critical bfor 7.13, Agree on this?

[2021-04-28 15:58] #25061 closed

[2021-04-28 16:31] #25302 closed

[2021-04-28 16:36] adam-stokes commented on #25237
I dont know if this helps but here is a WIP im doing that brings up a full stack with fleet server enabled.  The next step would be to add X number of agents to enroll into fleet and run our e2e test suite against it

https://github.com/elastic/e2e-testing/tree/k8s-deployment/cli/config/kubernetes

[2021-04-28 17:48] ruflin commented on #24453
@ph As far as I can see we don't know yet and is what worries me?

[2021-04-28 17:59] fearful-symmetry commented on #23391
@liladler based on what you sent me, I'm having a hard time telling if something is wrong:
[code]
A cpuacct usage of `0.4%` for a random background process seems pretty normal. The normalized percentage is a product of the CPU count, as it's "normalized" by the average usage across all CPUs, so we get `0.004/6= ~0.0007`.  Can we try filtering/sorting the processes by CPU usage and seeing if the nu

[2021-04-28 18:05] ph commented on #24453
fair, point, if we have the configuration this should be simple to debug.

[2021-04-28 18:12] ph commented on #24304
closed by #25340

[2021-04-28 18:12] #24304 closed

[2021-04-28 18:13] elasticmachine commented on #25405
Pinging @elastic/agent (Team:Agent)

[2021-04-28 18:13] jen-huang commented on #25405
I went ahead and moved this and put it in the agent Iteration board :)

[2021-04-28 18:14] weberr13 opened #25406 "[elastic-agent] Support a "Shutdown" or "Stop" command in addition to Restart"
Currently I am developing a non-interactive installation of the elastic agent for multiple platforms and would like to be able to run "elastic-agent run ...args..." from my application.  I am able to do so but since it is not installed as a service I can only send Terminate signals in windows to shut it down (because windows, of course doesn't have proper signal handling).  (Unix/Macos I can just

[2021-04-28 18:18] ph commented on #25405
This is indeed an agent  @elastic/agent Anyone could take a look at this one?

[2021-04-28 18:19] ph commented on #24475
@jen-huang @nchaulet @ruflin is that on the Fleet side?

[2021-04-28 18:22] ph commented on #24988
@urso Is that a must for 7.14 or an enhancement?

[2021-04-28 18:29] nchaulet commented on #24475
Not sure if it's still an issue. I saw the `no matching action` in the logs a few times when we add Agent running on both Fleet Server and Kibana and not comunicating to the right component.

I am going to test this again.

[2021-04-28 18:38] ph commented on #24475
@nchaulet I will asign it to you and send to fleet board, please feel free to redirect it to us?

[2021-04-28 18:42] elasticmachine commented on #8276
Pinging @elastic/agent (Team:Agent)

[2021-04-28 18:47] ph commented on #18334
@kvch and @morganchristiansson Looking at the last comment I believe we can close this?

[2021-04-28 20:41] GuangChenPidouki commented on #4265
thanks!!!

[2021-04-28 20:43] urso commented on #16137
We should also check if there are other parsers in Filebeat inputs that we might want to generalize. E.g. syslog or xml coming to mind

[2021-04-28 22:16] #18069 closed

[2021-04-28 22:16] #18048 closed

[2021-04-28 22:31] elasticmachine commented on #25370
Pinging @elastic/agent (Team:Agent)

[2021-04-28 22:36] #24872 closed

[2021-04-29 00:48] legoguy1000 commented on #25296
Can you provide more details? Are u saying the WAF logs aren't plain text files?

[2021-04-29 00:49] EricDavisX commented on #24453
It's from the 'demo' test server we have available.  It is a self-managed 8.0 snapshot instance, where the 'Default Fleet Server policy' is created successfully, which consists of:
[code]

anything wrong with that ^ ?  It looks ok to me, except maybe for the 0.0.0.0 for server: hosts: value.  I am not yet knowledgeable enough in the architecture to know how that is used.

[2021-04-29 06:10] michalpristas commented on #25371
in case of upgrade not being upgradable we exit fail fast with no error. no fork should be performed. looking

[2021-04-29 06:18] ruflin opened #25420 "[elastic-agent] Discuss: Default port for fleet-server when no port defined"
The default port for fleet-server is 8220. When enrolling an Elastic Agent with `--url=http://localhost` the port 8220 is picked by default. The same is the case if https is used. On Cloud, fleet-server is exposed on 443/9243. If in the UI or during enrollment, if not port is specified it does not work by default.

I want to discuss if this is the expected behaviour or if we should default to 80/4

[2021-04-29 06:18] elasticmachine commented on #25420
Pinging @elastic/agent (Team:Agent)

[2021-04-29 06:18] ruflin commented on #25420
@nchaulet Stumbled over this when testing Kibana without a port specified
@simitt What is apm-server doing here?

[2021-04-29 07:05] ChrsMark commented on #25237
This is cool @adam-stokes , thanks for sharing! The Agent part you are planning to add should be reused here too I guess.

[2021-04-29 07:40] dikshachauhan-qasource commented on #24982
Hi @EricDavisX

We have observed that this notification is still visible on 7.13 BC3 agent installation. Please refer below screenshot:

![image](https://user-images.githubusercontent.com/72375798/116517106-1a2f7c80-a8ec-11eb-8f55-b945d5a7a308.png)

Could you please confirm us which process is being triggered by it and why.

Thanks
QAS

[2021-04-29 08:45] dikshachauhan-qasource commented on #25385
Hi @EricDavisX

UPDATE: Today while performing regression on cloud-prod environment, we observed this issue occurring here too.

Build details:
BUILD 40647
COMMIT ac09c73a4a7998c770b50d39177c22036ae14375
Artifact page: https://staging.elastic.co/7.13.0-100107e6/summary-7.13.0.html

Thanks
QAS

[2021-04-29 09:13] sesto commented on #24888
@urso I am running applications on kubernetes. I cannot create separate inputs per application/set of applications because this will undermine the whole idea of kubernetes. I have a "cattle" not "pets". And this is my config:
[code]
Tomorrow I might have 100s microservices. I cannot split the inputs by `paths`, it is not feasible.
Ideally, all of these applications should have the same log pattern

[2021-04-29 10:28] elasticmachine commented on #25249
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-04-29 10:50] urso opened #25424 "[Agent] Log collection blocking Agent on Windows"
On windows one can not just delete or rename a file if another process is still using the file. This affects Log rotation and internal log collection with filebeat.

e.g. sometimes we see in CI this failure:

[code]

Not being able to collect logs leads to errors, potentially logs not being rotated and cleaned up, and at worst can stall applications if they have to wait for the logger to finish it

[2021-04-29 11:08] jsoriano opened #25425 "Meta fields are not handled consistently in different processors"
**TLDR;** All processors should use `event.PutValue` when setting fields to have a consistent behaviour.

Some fields set in events are intended to provide information to the pipelines, for example `@timestamp` to set the timestamp of the event or `@metadata._id` to set its id. This is not being handled in a consistent way between processors.

For example when the id is set using the fingerprint p

[2021-04-29 11:08] elasticmachine commented on #25425
Pinging @elastic/agent (Team:Agent)

[2021-04-29 11:20] elasticmachine commented on #25424
Pinging @elastic/agent (Team:Agent)

[2021-04-29 11:27] mostlyjason commented on #21855
@bradenlpreston it looks like we made some great progress and Eric has tested M1 support and it works with Endpoint. Would you consider either of those blockers to calling it supported? https://github.com/elastic/endpoint-dev/issues/8644 https://github.com/elastic/beats/issues/24610. The Docker one needs to be fixed, but I imagine running it on laptops is the main goal?

@EricDavisX did you also t

[2021-04-29 12:26] jsoriano commented on #24888
@sesto take a look to the [autodiscover](https://www.elastic.co/guide/en/beats/filebeat/7.12/configuration-autodiscover.html) features of Filebeat, they are intended exactly for this use case.

Even if you have cattle, you probably have different kinds of animals :slightly_smiling_face: Autodiscover allows to define different configuration templates, and conditions to chose between them, so you ca

[2021-04-29 12:27] kvch commented on #25346
My test branch: https://github.com/elastic/beats/pull/24251

[2021-04-29 12:30] kvch commented on #25370
The encoding you selected does not seem to be supported: https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-input-log.html#_encoding_4

Please open an enhancement request.

[2021-04-29 12:30] #25370 closed

[2021-04-29 12:31] elasticmachine commented on #25406
Pinging @elastic/agent (Team:Agent)

[2021-04-29 12:31] kvch commented on #25406
CC @ruflin @blakerouse

[2021-04-29 12:40] kvch opened #25426 "`docker-fleet-agent` container does not appear to be containerized"
I cleaned up my environment with `docker system prune -a` and then I started a fresh install of the stack with the following command:

[code]

When I played around on the UI I noticed that one of the containers `docker-fleet-agent` is not reported as containerized.

![notcontainer](https://user-images.githubusercontent.com/3876218/116551964-c9725080-a8f8-11eb-89df-e2d4577fafe5.jpg)

[2021-04-29 12:40] elasticmachine commented on #25426
Pinging @elastic/fleet (Team:Fleet)

[2021-04-29 12:43] kvch opened #25427 "Incorrect uptime for freshly started `docker-fleet-agent` container"
I cleaned up my environment with `docker system prune -a` and then I started a fresh install of the stack with the following command:

[code]

When I played around on the UI I noticed that the uptime `docker-fleet-agent` is weird. I had started the container an hour ago, but 91 days is displayed. That is the uptime of my computer, not the container.

![weird-uptime](https://user-images.githubuserc

[2021-04-29 12:43] elasticmachine commented on #25427
Pinging @elastic/agent (Team:Agent)

[2021-04-29 13:08] sesto commented on #24888
@jsoriano Thanks, I will have a look

[2021-04-29 13:41] urso opened #25429 "[Agent] Global logger setup. Multiple file rotator instances?"
Checking the Agent logging setup, it looks to me that we are creating 2 file rotators for the same files, each operating independently on the same file?

Agent sets up a file rotator in [`makeInternalFileOutput`](https://github.com/elastic/beats/blob/master/x-pack/elastic-agent/pkg/core/logger/logger.go#L107) via [`new`](https://github.com/elastic/beats/blob/master/x-pack/elastic-agent/pkg/core/lo

[2021-04-29 13:42] elasticmachine commented on #25429
Pinging @elastic/agent (Team:Agent)

[2021-04-29 13:45] blakerouse commented on #25429
I am confused on the issue. Elastic Agent writes to 2 different files

`{home}/elastic-agent.log`

and

`{home}/data/logs/elastic-agent-json.log`

Are you saying that the log rotation is shared across both those files? I would make the assumption that each runs its own rotator.

[2021-04-29 14:00] urso commented on #25429
I don't really know which logs go into which file and which configs are local to agent and which are passed to logp.

But `logp` is potentially initialized multiple times, which overwrites the backing logger in libbeat, while keeping the old one active.

[2021-04-29 14:26] simitt commented on #25420
No sure what you mean - the APM Server defaults to `8200` if no port is specified.

[2021-04-29 14:28] michalpristas commented on #25173
this will be specific to `fleet-server` as we dont use name `fleet-metrics` name inside agent itself

https://github.com/elastic/fleet-server/blob/53e5a1e07436bd0f34815c7063d2216eb6b54507/cmd/fleet/metrics.go#L51

[2021-04-29 14:31] simitt opened #25430 "Elastic-Agent cannot enroll to Cloud QA Fleet Server"
Creating a `7.13` deployment on cloud QA, a local Elastic Agent cannot be enrolled. It keeps logging that it is waiting for the remote server to be ready:
[code]

I tried with both Fleet-Server URLS - the one specified in the Kibana Fleet UI, and the one shown in the Cloud UI - none of them worked for the enrollment; both of them return a valid Fleet Server status.

The cloud deployment shows an h

[2021-04-29 14:31] elasticmachine commented on #25430
Pinging @elastic/agent (Team:Agent)

[2021-04-29 14:32] michalpristas commented on #25173
i will transfer issue to fleet server repo

[2021-04-29 14:39] nchaulet commented on #25420
I the agent is doing the same for ES and Kibana (if you do not specify port it's going to use 5601 as default)

I agree it's confusing, and the port should probably be the default for the protocol 80 or 443

[2021-04-29 14:51] ruflin commented on #25430
Can you try to set the url to https://8bb062aed7124135927141c19756d584.fleet.us-central1.gcp.qa.cld.elstc.co:9243 and also in the UI settings?

[2021-04-29 14:52] michalpristas commented on #25429
looking at the code it does not seem they are shared, libbeat creates own file output based on config with rotator and we provide additional output which is additional zapcore.Core instance with own rotator associated.

the issue i see is that when we call `logger.New`,`logger.NewWithLogpLevel` or `logger.NewFromConfig` we might end up creating multiple instances of logger with rotators which migh

[2021-04-29 15:27] ferullo commented on #21855
elastic/endpoint-dev#8644 should have been closed. I just did that.

[2021-04-29 15:30] maggieghamry commented on #25290
@ChrsMark thanks for taking a look at this - it may be defined somewhere differently for ECK? However, it appears that from 7.11 and up, Filebeat, Metricbeat, and Heartbeat all need the `ClusterRole` configured to use `nodes`.

It also appears that for Metricbeat, the nodes privilege was added 3 years back and we were not using it, and that Filebeat did not have the nodes privilege, which was a bu

[2021-04-29 16:09] EricDavisX commented on #21855
Yes, @mostlyjason we tested System Integration, it worked in our test.

I just realized Beats team does not have CI coverage for macOS workers for Agent yet - that is a best practice, but we can take the calculated risk and cite this as done still.  That is a group decision I suppose?  I have linked that ticket to this.

[2021-04-29 16:38] #25389 closed

[2021-04-29 16:41] kuisathaverat opened #25435 "[Agent][Filebeat][Log] Symbolic links are not follow correctly in some cases"
For confirmed bugs, please report:
- Version:  7.13.0-SNAPSHOT
- Operating System:  Linux CentOS 8.3 (Kubernetes 1.18.16-gke.502 and 1.19.8-gke.1600)
- Steps to Reproduce:
* create a GKE cluster
* deploy a few pods that generate logs (certmanager, ingress, and a Jenkins instance in my case)
* deploy the Elastic Agent with the configuration at https://github.com/elastic/beats/tree/master/deploy/kub

[2021-04-29 16:42] elasticmachine commented on #25435
Pinging @elastic/obs-dc (Team:Obs-DC)

[2021-04-29 16:42] elasticmachine commented on #25435
Pinging @elastic/agent (Team:Agent)

[2021-04-29 16:47] simitt commented on #25430
Yes this worked, I didn't make the connection that this is related to the default port missing (https://github.com/elastic/beats/issues/25420). Closing this as duplicate.

[2021-04-29 16:47] #25430 closed

[2021-04-29 17:16] #14907 closed

[2021-04-29 17:27] kaiyan-sheng commented on #24553
Hello @zhaoyi0113, what's the exact aws.yml config you used for testing? I tried with this below and can not reproduce the problem:
[code]

With this config, RDS and DynamoDB metrics are collected every 15-minute. I will close this issue for now and if you still having problem configuring Metricbeat, please post on https://discuss.elastic.co/c/beats. Your questions will reach a wider audience ther

[2021-04-29 17:27] #24553 closed

[2021-04-29 18:50] EricDavisX commented on #24982
Hi - various operations can trigger a re-start of the Agent, I think including policy changes and Fleet Server / ES URL changes and maybe even log-level changes.  We can ask @ph to confirm if that is accurate.

[2021-04-29 18:56] james-elastic opened #25441 "[elastic-agent] panic on receiving osquery action"
Using the latest 7.13 BC snapshot of agent and the stack I was issuing an osquery action the agent stopped and panicked.   A side affect of this is that the other beats will spike up the CPU to the max and I had to manually `kill -9` .

Downloaded the lates

Cmds ran
[code]

Trace:
[code]

[2021-04-29 18:56] elasticmachine commented on #25441
Pinging @elastic/agent (Team:Agent)

[2021-04-29 18:58] ruflin commented on #25441
@aleksmaus Could you take a look at this?

[2021-04-29 18:59] james-elastic commented on #25441
@ruflin He's on it :)

[2021-04-29 19:00] aleksmaus commented on #25441
The stack trace points at:
https://github.com/elastic/beats/blob/7.13/x-pack/elastic-agent/pkg/core/server/server.go#L201

Server pointer is nil? what has changed since the last time it was working?
Looking

[2021-04-29 19:16] aleksmaus commented on #25441
looks like missing change on 7.13
https://github.com/elastic/beats/blob/7.13/x-pack/elastic-agent/pkg/agent/application/pipeline/actions/handlers/handler_action_application.go#L27

the master branch for comparison
https://github.com/elastic/beats/blob/master/x-pack/elastic-agent/pkg/agent/application/pipeline/actions/handlers/handler_action_application.go#L27

[2021-04-29 19:51] aleksmaus commented on #25441
looks like a bad merge
https://github.com/elastic/beats/commit/8b6ac25b1ffd62a9aef1b2bf3fbacc98d1e8caf9#diff-7cae4c8965dc39e26ca4b27e10c[…]c4702184a2fe1e9177a463f9d4336L22

[2021-04-30 01:54] EminemJK commented on #25370
It's not the coding problem, GBK is still the same

[2021-04-30 05:02] ruflin opened #25449 "[elastic-agent] Improve status output for different applications"
Elastic Agent runs a second instance of filebeat and metricbeat for monitoring. When running `elastic-agent status` the output looks as following:

[code]

There is currently no way to differentiate between the different processes which are running. If one of the filebeat instances would be unhealthy it is not possible to see which one. Internally the processes have different names / id, would be

[2021-04-30 05:03] elasticmachine commented on #25449
Pinging @elastic/agent (Team:Agent)

[2021-04-30 06:02] ruflin commented on #25441
Going to close this as https://github.com/elastic/beats/pull/25447 was merged. @james-elastic Would be good if you could confirm / test with the changes.

[2021-04-30 06:02] #25441 closed

[2021-04-30 06:49] ruflin commented on #25420
@simitt What about apm agents. If I just spin up an APM Agent and point it to localhost, will it pick 8200 or 80? I think this is the scenario we have here.

I think we should do both:

* By default point to 80 / 443
* Always add the port by default in Kibana

[2021-04-30 07:18] ruflin commented on #25420
I also filed https://github.com/elastic/kibana/issues/98869 which would help to better bubble up this issue.

[2021-04-30 09:41] simitt commented on #25420
The port needs to be specified in the `APM_SERVER_URL` when configuring the APM agents; if no URL is configured they send data to `http://localhost:8200` by default.

Thanks for opening https://github.com/elastic/kibana/issues/98869. IMO it shouldn't matter which default port the Fleet Server listens to. The URL presented to users via Kibana UI or Cloud UI should always contain the fully qualified

[2021-04-30 10:11] scunningham commented on #25391
The beats should log in rfc-3339 zulu. It is a smaller format and more concise.

[2021-04-30 10:12] elasticmachine commented on #7257
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-04-30 10:27] saibug opened #25455 "[filebeat] default owner of output file"
hello,

i have filebeat installed (filebeat-7.10.0) , and configured like this :

[code]

1 - i put 644 permission to file but not working ( OK according to these commits https://github.com/elastic/beats/pull/14119) .
2 - output.file section don't have owner parameter .

Is there any way to add this option ?

Desired behavior :
other user can read output file ..

thxs

[2021-04-30 10:52] jakommo opened #25456 "Update docs to point out which logFormat the IIS filebeat module supports"
**Describe the enhancement:**
I was talking to a user who was interested in understanding why IIS `logFormat` the module would support.
The default is `W3C` and looking at the grok patterns [used in the pipeline](https://github.com/elastic/beats/blob/v7.12.1/filebeat/module/iis/error/ingest/pipeline.yml) I think this is the only one the module does support currently.

Looking at https://docs.micro

[2021-04-30 10:52] elasticmachine commented on #25456
Pinging @elastic/obs-docs (Team:Docs)

[2021-04-30 11:46] #25371 closed

[2021-04-30 11:56] ruflin commented on #25420
@simitt If not url is specified, I understand it is `http://localhost:8200`. But what if `http://localhost` or `https://localhost` is set? If I remember correctly it will default to 80 / 443 and that is what I think should the elastic agent do too.

[2021-04-30 12:01] benqua opened #25458 "[libbeat?, filebeat] Kafka Input: Add support for SASL authentication"
**Describe the enhancement:**
Kafka input doesn't support SASL, while the support has been added to the kafka output (see https://github.com/elastic/beats/issues/8387 ) .
It would be great to have SASL support in Kafka (filebeat) input.
For example the kafka service from AWS, AWS MSK, only support SSL auth or SASL/SCRAM-SHA512. Supporting this scheme would make it possible to read from AWS MSK wit

[2021-04-30 12:14] ph commented on #25424
I see two person assign to this issues? who is looking into it?

[2021-04-30 12:20] urso commented on #24895
One still requires the Beats source code to be checked out. The scripts directory can be found in the filebeat folder.

For generic questions/discussions I would recommend to ask them first on discuss.elastic.co. In the Forums you might get help from developers and community members alike, which gives you a much wider audience who might help with your problems more timely.

[2021-04-30 12:20] #24895 closed

[2021-04-30 12:31] urso commented on #24888
As @jsoriano already said, autodiscovery was introduced to Filebeat for exactly this use case.

[2021-04-30 12:31] #24888 closed

[2021-04-30 13:16] ph opened #25463 "[Elastic Agent] When uninstalling a debian or a RPM package we should cleanly `uninstall`"
Investigate if we can cleanly uninstall the elastic agent when the packages is removed from the system by calling the debian `postrm` or `prerm` hooks.

[2021-04-30 13:16] elasticmachine commented on #25463
Pinging @elastic/agent (Team:Agent)

[2021-04-30 14:09] kvch commented on #25424
I submitted the PR, Michal will review it.

[2021-04-30 16:18] rubal033 commented on #25296
AWS WAF logs are in JSON  format but when Kinesis Firehose put them in s3 bucket it set the metadata "content-type" to "application/octet-stream" instead of "application/json".

So when filebeat s3 plugin read that data it gets its content type as "application/octet-stream" and not able to expand to get the JSON field read properly in Elasticsearch. The whole JSON log get inside "message" field.

[2021-04-30 16:35] AlcebiadesFilho opened #25469 "[Filebeat] Sonicwall Module don't show all ecs fields"
Hi guys im using filebeat 7.9.0 and im activeted sonicwall module to analyse my sonicwall firewalls but i cant find older fields like user, portal ... where i activeded the options to show this fields?

in the print i show my manifest.yml
![manifest](https://user-images.githubusercontent.com/78539159/116725879-eec69380-a9b8-11eb-8083-345f484b00d7.jpg)

Anyway, Thanks !!

[2021-04-30 17:32] anpag opened #25471 "[Metricbeat] Add support for cpuinfo metricset"
**Describe the enhancement:**
Add Sigar cpuinfo MHz cpu usage implementation into metricbeat:
https://github.com/hyperic/sigar/blob/ad47dc3b494e9293d1f087aebb099bdba832de5e/go_bindings/gotoc/cpuInfo.go

**Describe a specific use case for the enhancement or feature:**
The cgo bindings to libsigar in the official Sigar repo support Mhz cpu usage collection. I wonder if it would be possible to add it

[2021-04-30 19:05] gogochan opened #25474 "Elastic-agent uninstalls elastic-endpoint when elastic-agent was stopped and restarted."
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2021-04-30 19:05] elasticmachine commented on #25474
Pinging @elastic/agent (Team:Agent)

[2021-04-30 19:15] #25355 closed

[2021-04-30 19:16] ph commented on #25321
@michalpristas or @blakerouse Any tips for them?

[2021-04-30 19:23] ph commented on #24751
@urso Do you think this fall into the _httpcommon_ effort, if this is the case I've marked it as in progress.

[2021-04-30 19:24] ph commented on #17769
I am going to close this, with the move to Elastic Agent all dashboard will be handled by Fleet.

[2021-04-30 19:24] #17769 closed

[2021-04-30 19:24] elasticmachine commented on #17181
Pinging @elastic/agent (Team:Agent)

[2021-04-30 19:29] ph commented on #24351
@ruflin @mostlyjason @urso My opinion is we don't need `cloud.id` and `cloud.auth` for the Elastic Agent because api key is the way to go and we recommend an api key per Elastic Agent,  is that correct?

[2021-04-30 19:33] elasticmachine commented on #12602
Pinging @elastic/agent (Team:Agent)

[2021-04-30 19:38] #23850 closed

[2021-04-30 19:38] ph commented on #23850
We have change that log level to _info_ instead of error.

[2021-04-30 19:39] #23907 closed

[2021-04-30 19:45] gogochan commented on #25474
I can get around the problem if assign a different policy to Agent from Kibana

[2021-04-30 19:50] ph commented on #24986
@urso This might also related to the security around input templates.

[2021-04-30 19:51] ph commented on #23928
I think we can close this will the recent changes for the Elastic Agent and Fleet server?

[2021-04-30 19:56] ph commented on #23582
Going to close this, because I think this is the correct behavior of dissect.

[2021-04-30 19:56] #23582 closed

[2021-04-30 20:00] #25300 closed

[2021-04-30 20:01] ph commented on #25300
I've closed it because of the `--binary-only` reason and the #25380

[2021-04-30 20:02] elasticmachine commented on #18160
Pinging @elastic/agent (Team:Agent)

[2021-04-30 20:27] P1llus commented on #25255
Hello @kunisen .

The reason it is not expecting Attributes to be an array is because the httpjson input is configured to split each event into its own document, the result should then be a single object compared to an array.

There has been a discuss post about this recently however, that there has been cases of duplicated events, which might be related to the splitting not working as intended fo

[2021-04-30 22:31] elasticmachine commented on #25263
Pinging @elastic/integrations (Team:Integrations)

[2021-04-30 23:07] kaiyan-sheng commented on #25263
Hi @kvch, I think the problem is I removed setting default region under `x-pack/libbeat` in `GetAWSCredentials` function so some initial AWS API calls are failing with error `MissingRegion`. I added the default region back into libbeat code: https://github.com/elastic/beats/pull/25446. This way Functionbeat shouldn't need to rely on the `AWS_DEFAULT_REGION` environment variable.

[2021-05-01 08:25] gogochan commented on #25474
Also noticed that this problem causes `elastic-endpoint` to be uninstalled upon Windows restart.

[2021-05-01 11:25] SHolzhauer opened #25480 "[Filebeat] [HaProxy] Parse http and url fields"
**Describe the enhancement:**
The current pipeline for HaProxy does not parse the `haproxy.http.request.raw_request_line` further into possible fields.
Example:
[code]
Can be further parsed into:
[code]

I'm not entirely sure if HaProxy logs request parameters (query) but if so the path can be split into it ofcourse:
[code]
Can be further parsed into:
[code]

**Describe a specific use case for the

[2021-05-01 15:25] hungnguyen-elastic opened #25481 "Winlogbeat conditional statements in winlogbeat.yml file should generate more intuitive logging"
**Describe the enhancement:**

Currently, the winlogbeat logging for conditional statements is hard to understand and hard to tell where the problem is. The same is

[code]

Desired behavior:

[code]

**Describe a specific use case for the enhancement or feature:**

With the current logging, it is extremely hard to tell which field it is failing the conditional statement.

[2021-05-01 15:27] hungnguyen-elastic commented on #25481
Possible code change

[code]

This will generate error message like below

2021-05-01T15:03:17.964Z        WARN    [conditions]    conditions/equals.go:49 expected string but got type []interface {} in equals condition. field value is: [process], field is event.category

[2021-05-01 16:16] #11942 closed

[2021-05-01 18:36] legoguy1000 commented on #25480
I'll take a look at this.

[2021-05-01 19:13] legoguy1000 commented on #25480
@SHolzhauer Changes made and PR ready for review.

[2021-05-01 23:14] legoguy1000 commented on #25469
It sounds like you just have questions about how to use the module.  General questions should be posted on https://discuss.elastic.co/. What do you mean show older fields? The file you're showing is a file of the actual module itself, not the config to enable/disable it for use.  that is located in `module.d/sonicwall.yml`

[2021-05-01 23:18] legoguy1000 commented on #25456
If someone provides logs in the other formats, it would be easy to update the pipeline to support those as well.

[2021-05-02 13:51] elasticmachine commented on #25481
Pinging @elastic/agent (Team:Agent)

[2021-05-03 02:45] sedlund commented on #23220
workaround on CoreOS:

[code]

At this point the journalbeat will start sending logs.

If someone beats me to fixing up their butane config that incorporates this - please share :)

[2021-05-03 06:44] ruflin commented on #25420
@ph @urso @jen-huang I think we should change the default port used (if not port is specified) for fleet-server now to 80/443 as if we do it later, it is a breaking change. Thoughts?

[2021-05-03 08:33] ruflin commented on #24351
We don't need Cloud id in the managed use case. But what about standalone? Having an API per Elastic Agent is the recommended way but I'm not sure this is realistic in standalone mode. I guess many users will just reused the same username / password or API Key. What we should push for, is that the reused username / password is moved to an API Key that is used instead which is already a step forwar

[2021-05-03 08:49] michalpristas commented on #25391
@urso can this change on beats level be considered breaking?

[2021-05-03 09:05] mdaliyan commented on #19410
same here
[code]

[2021-05-03 09:17] michalpristas commented on #24453
looks ok, when i paste it into a file `elastic-agent.yml` it works also inspect works, can you also share content of fleet yml if present (PM or redacted here)

[2021-05-03 09:32] ruflin commented on #24453
@michalpristas I see our test suite supports test data: https://github.com/elastic/beats/tree/master/x-pack/elastic-agent/pkg/agent/program/testdata Could we add these examples there too?

@mtojek @EricDavisX Do you remember if it was a temporary issue that resolved itself or was presistent?

[2021-05-03 09:45] michalpristas commented on #24453
the fact it's coming from fleet_gateway tells us that not configuration from `elastic-agent.yml` is broken but the one which is being retrieved from server. i will work with eric to obtain that one

[2021-05-03 10:16] #14151 closed

[2021-05-03 10:26] dikshachauhan-qasource commented on #24602
Hi @EricDavisX ,

Today, while performing testing on 7.13 Cloud-qa build we observed that, now only win10 Os agent is sending logs and found that all other agents are not.

Build details:
[code]

Screenshots for references:
- created policies having endpoint and system integration.
![image](https://user-images.githubusercontent.com/72375798/116849822-11e98100-ac0d-11eb-9ad6-362b4b924fe2.png)

- up

[2021-05-03 10:52] AlcebiadesFilho commented on #25469
others * sorry i wrote it wrong.

There is no data from the ECS field in the kibana for example, it doesn’t have the user’s name, ip ... I was able to enable the rsa field and I thought it could be some configuration to activate the ECS field
![github](https://user-images.githubusercontent.com/78539159/116868006-63314a80-abe4-11eb-9558-2ecc77502e83.png)

the pint shows the field

[2021-05-03 11:16] ruflin commented on #25391
For Beats itself I would consider this a breaking change. If the log format changes, from a log collector perspective things break.

Bug if Beats logs differently when run by Elastic Agent it is a breaking change but one we could still do as we are in beta. So maybe we should adjust it when run by Elastic Agent?

[2021-05-03 11:32] legoguy1000 commented on #25469
can you post 1-2 of the documents from ES to show what's missing? How are you sending the data to Filebeat, log file or syslog??

[2021-05-03 12:13] EricDavisX commented on #25474
Thanks - @michalpristas do you think that may be an artifact of (semi) recent work to support stopping Endpoint when we uninstall Agent locally?

[2021-05-03 12:22] AlcebiadesFilho commented on #25469
![github4](https://user-images.githubusercontent.com/78539159/116875052-a8f41000-abf0-11eb-8865-409e47483fa8.png)
![github3](https://user-images.githubusercontent.com/78539159/116875054-a98ca680-abf0-11eb-854e-7119298255bd.png)
![github2](https://user-images.githubusercontent.com/78539159/116875057-aa253d00-abf0-11eb-9386-b460ea316e7b.png)

Follow the screenshots of the fields that are available,

[2021-05-03 12:22] urso commented on #25391
Most important is that filebeat can pick up json logs and parse the timestamps correctly. In the past the RFC-3339 Zulu was the only supported format.

@michalpristas  Updated the timestamp parser. It should be able to parse both formats, right?

Not sure how straight forward this is. +1 if its easy to change the timestamp format in our logger.
When Filebeat collects JSON logs it parses the timest

[2021-05-03 12:25] urso commented on #25420
+1 on using default HTTP ports.
We still can do breaking changes to fleet-server.

[2021-05-03 12:38] legoguy1000 commented on #25469
That is the only ECS field, see https://www.elastic.co/guide/en/ecs/current/ecs-ecs.html

[2021-05-03 12:51] AlcebiadesFilho commented on #25469
I am expressing myself badly .. I wanted the fields that I saw in the source code, because I need all these fields, see the photo below. These fields appeared when I didn’t use the sonicwall module. I just want these fields to be able to use my logstash correctly

![image](https://user-images.githubusercontent.com/78539159/116877933-fecab700-abf4-11eb-9c96-630895106966.png)

[2021-05-03 12:51] michalpristas commented on #24453
i think i know where the problem is

[2021-05-03 12:56] urso commented on #24986
It can become a problem if we blindly log variables on error or make them available to some other operator in Kibana UI.

What makes a variable invalid?

Dynamic inputs ignore inputs on error on purpose. We don't have an error/failure model, which means we can't distinguish failure from correct execution. Having 0 matches is not necessarily an error, but exactly what was intended by the user.

Bei

[2021-05-03 13:01] legoguy1000 commented on #25469
Those are the raw fields from the logs, they will be transformed to the appropriate ECS fields if they exist. The whole point of the module is to parse the vendor specific logs into "generic" ECS fields so once they are parsed, the vendor specific fields are removed since it would be redundant.  For example, `srcMac` would be renamed into `source.mac` and `srcMac` would not longer exist in the doc

[2021-05-03 13:11] dikshachauhan-qasource commented on #25122
Hi Team,

We are also facing this issue though we have updated port no. for fleet server url, still getting above mentioned errors.

![image](https://user-images.githubusercontent.com/72375798/116880046-20e92700-ac3f-11eb-8b62-12befe40444b.png)

Kindly please let us know if we are missing anything.

Thanks
QAS

[2021-05-03 13:30] michalpristas commented on #24453
the issue here comes from a spec file
[code]

where in `inputs .0.server` is not resolved correctly, we do not support indexing here. will provide a fix

[2021-05-03 14:00] #25480 closed

[2021-05-03 14:22] ph commented on #25391
I've reassigned it to 7.14, its a bug but I think it's not required for 7.13.

[2021-05-03 15:23] andrewvc opened #25500 "[Heartbeat] HTTP body read errors are not properly wrapped"
Errors during heartbeat's reading of HTTP bodies is not wrapped in a way to make it understandable where the error occurred. For instance, in the case of an ErrUnexpectedEOF the user will just get the message "unexpected EOF", with no indication that it came from the HTTP response.

We should add this context.

[2021-05-03 15:23] elasticmachine commented on #25500
Pinging @elastic/uptime (Team:Uptime)

[2021-05-03 16:08] jsoriano commented on #17769
Ok, the only reason to solve this I see would be to avoid these errors during 7.x.

[2021-05-03 16:40] ph commented on #24351
Going to close this one, there is an higher discussion that need to happen concerning cloud.id.

[2021-05-03 16:40] #24351 closed

[2021-05-03 16:42] ph commented on #25481
@hungnguyen-elastic Could you make a pull request?

[2021-05-03 17:38] EricDavisX commented on #24610
@dikshachauhan-qasource can you comment on this when you next test macOS ARM 1 on PH's machine please?

[2021-05-03 17:42] EricDavisX commented on #24934
@dikshachauhan-qasource can you re-test this with latest BC code please?

[2021-05-03 17:46] ph commented on #24982
This the expected behavior, we install , we change the configuration and we restart to make sure the change is correctly picked up.

[2021-05-03 17:46] #24982 closed

[2021-05-03 17:57] AlcebiadesFilho commented on #25469
Thanks this link help me a lot.

https://github.com/elastic/beats/blob/61a34aec762a6083db87aae1a0c4f14be253d104/x-pack/filebeat/module/sonicwall/firewall/test/generated.log-expected.json

After you said that you had changed the names, I went back and found the link above and one more thing do you know why my user field and others are blank in kibana?

![image](https://user-images.githubusercontent

[2021-05-03 18:02] #24911 closed

[2021-05-03 18:03] nchaulet commented on #24475
Yes I can confirm this is not happening anymore

[2021-05-03 18:03] #24475 closed

[2021-05-03 18:17] blakerouse commented on #25122
This is because of a missing backport into 7.x and 7.13. This is now fixed.

elastic/beats#25498

[2021-05-03 18:17] #25122 closed

[2021-05-03 18:21] blakerouse commented on #25474
This used to not be the case, as a `Shutdown` path was added that is different then the `Stop` path. The `Shutdown` path was added so that Endpoint would not be stopped when the Elastic Agent is being stopped, restarted, or upgraded.

[2021-05-03 18:33] legoguy1000 commented on #25469
how are u generating `user.name.name`?? thats not a proper field/

[2021-05-03 19:13] blakerouse commented on #25321
I don't really have a way to do it in Elastic Agent. Could possible come up with a API call that would allow you to manipulate the `.fleet-agents` index to make it show up that way, for a short period of time.

[2021-05-03 19:19] AlcebiadesFilho commented on #25469
I created this field by copying the rsa.raw.username field.

Another thing is that I have 154 fields but only 40 are active, do you know how I could find out why they are empty? because in the original msg they are there

![image](https://user-images.githubusercontent.com/78539159/116921522-7961f980-ac2a-11eb-9dc1-9174334b6d76.png)

Available fields

rsa.internal.messageid
rsa.misc.action
rsa.raw.

[2021-05-03 19:28] ruflin opened #25507 "[Elastic Agent] Error logged after changing logging level to debug"
* Version: 7.13.0-SNAPSHOT
* Environment: Docker

The Elastic Agent was running for a few minutes and I changed the logging level in the Fleet UI from `Info` to `Debug`. This all seems to have worked but the first we lines that were logged, looked as following:

[code]

I stumbled over the two `ERROR` log entries related to context which also contain very little "context" what it is about.

[2021-05-03 19:28] elasticmachine commented on #25507
Pinging @elastic/agent (Team:Agent)

[2021-05-03 19:30] ruflin commented on #25507
Maybe helpful, I found one more error in the logs in the Fleet UI:

[code]

[2021-05-03 19:34] bjmcnic opened #25508 "[Elastic Agent] Failed Endpoint installation retry loop"
In situations where the Elastic Endpoint Security integration installation fails to successfully install, Agent appears to continuously retry the installation. It's not clear whether there is a limitation or cap on the retries, but there does not appear to be.  This results in unnecessary resource utilization, including filling up the `elastic-agent.log` file.

Details:
- Version:  7.12.1 (at leas

[2021-05-03 19:57] legoguy1000 commented on #25469
What does your config look like for the module? I'm still somewhat confused as to the actual issue?

[2021-05-03 20:07] blakerouse commented on #25326
We could possibly place the download directory in `STATE_PATH` and then the install directory inside the `container`. The run directory would need to live in the `STATE_PATH` so the run time state of the beat is kept across restarts.

Should be do-able in 7.14.

[2021-05-03 20:11] AlcebiadesFilho commented on #25469
![github8](https://user-images.githubusercontent.com/78539159/116927551-31df6b80-ac32-11eb-9176-60b53ed9f508.png)
![github7](https://user-images.githubusercontent.com/78539159/116927556-32780200-ac32-11eb-97d8-b1d1c26007aa.png)
![image](https://user-images.githubusercontent.com/78539159/116927651-51769400-ac32-11eb-9624-9e7e3f87c27e.png)

Just out of curiosity here is the logtsash configuration th

[2021-05-03 20:22] #25500 closed

[2021-05-03 21:45] pmusa opened #25511 "Visualization not working on Azure billing dashboard"
For confirmed bugs, please report:
- Version: 7.12.0 (did not test other versions)
- Steps to Reproduce: Ingest billing metrics from Azure and open the Azure Billing dashboard. The **[Billing resource name]** visualization will be empty.

After further investigation, I noticed that we are using a field that does not exist in the collected documents. In the visualization, we bucket on `azure.resour

[2021-05-03 22:01] andrewvc commented on #22932
@ruflin @ph @mostlyjason do we have enough info to come to a decision here? I vote we bundle with docker agent.

[2021-05-03 22:12] jen-huang commented on #25321
@blakerouse Good point idea, I hadn't considered that.

@manishgupta-qasource / @muskangulati-qasource You can run the following query in `Dev Tools` to force an agent into `Unhealthy` status. Replace `d0415977-c688-44c7-abe0-065887ddc52b` with the agent ID you want to update:

[code]

Forcing it like this will probably trigger other unintended effects, so please use this for UI testing only 😉

[2021-05-04 07:10] kvch commented on #24895
Unfortunately, we do not support generating Filebeat modules without checking out the repository.

[2021-05-04 08:16] #10539 closed

[2021-05-04 08:17] hazcod commented on #10539
unstable

[2021-05-04 08:58] #25154 closed

[2021-05-04 09:01] dikshachauhan-qasource commented on #24610
Hi @EricDavisX

We have attempted to install an agent today on mac mini arm 64 machine, however was getting connection timed out error.

![image](https://user-images.githubusercontent.com/72375798/116981520-3c0e7200-ace5-11eb-8bf5-2bc895b92eb4.png)

Could you please check if machine is powered on at our end. After that we can validate above reported issue and confirm on same.

Thanks
QAS

[2021-05-04 09:29] sorantis commented on #18743
keep open

[2021-05-04 09:30] muskangulati-qasource commented on #25321
Hi @jen-huang,

Thank you for providing the steps for the same. Our query is now resolved and we were successful in updating the agent status from healthy to Unhealthy & back to healthy!!

Please find below the whole testing details.

**Build Details**:
[code]

**Refer Screenshots**:
- Healthy Status:
![Healthy](https://user-images.githubusercontent.com/60252716/116971786-b33d0980-acd7-11eb-9ac9-c

[2021-05-04 09:31] #25321 closed

[2021-05-04 09:49] dikshachauhan-qasource commented on #24934
Hi @EricDavisX

We have validated this issue on latest 7.13 BC3 cloud-qa build. Build details are as follows:
[code]

- Able to install agent with only system integration in user policy. We were not able to verify above with default policy as its currently not available.
- Agent logs and data stream was available.
![image](https://user-images.githubusercontent.com/72375798/116986947-0d47ca00-acec-

[2021-05-04 09:49] #24934 closed

[2021-05-04 09:50] dikshachauhan-qasource commented on #24982
Hi @ph Thanks for the clarification.

[2021-05-04 11:10] dikshachauhan-qasource commented on #25507
Hi @EricDavisX

While performing testing, we have observed above mentioned errors occurring on 7.13 Bc3 cloud qa build on changing agent logging level.

Screenshot1:

![image](https://user-images.githubusercontent.com/72375798/116994068-e42c3700-acf5-11eb-970b-ca8012b26a1f.png)

Further,[ Issue 25385](https://github.com/elastic/beats/issues/25385) is also occurring on kibana UI.  Logs start to gen

[2021-05-04 11:36] dikshachauhan-qasource opened #25523 "Unable to install lower version agent on 7.13 kibana BC3 Build."
**Kibana version:**
7.13 BC3 Kibana Cloud QA environment

**Host OS and Browser version:**
Any[windows/linux/Mac], All

**Preconditions**
1.  7.13 BC3 Kibana Cloud QA environment should be available.
[code]
2.  **Few policies should be available on cloud.**
3.  **_7.12.1 agent artifact should be download and extracted at endpoint._**

**Steps to reproduce:**
1. Login to Kibana cloud environment.
2

[2021-05-04 11:36] elasticmachine commented on #25523
Pinging @elastic/agent (Team:Agent)

[2021-05-04 11:37] dikshachauhan-qasource commented on #25523
@manishgupta-qasource Please review

[2021-05-04 11:43] manishgupta-qasource commented on #25523
Reviewed & assigned to @EricDavisX

[2021-05-04 11:59] blakerouse commented on #25523
This is expected behavior. A 7.12 Elastic Agent cannot communicate with a 7.13 Kibana, because the entire API that was used to communicate with Kibana was removed from Kibana in 7.13.

For 7.12 to 7.13 this needs to be removed from the test plan. But for 7.13 to 7.14 it should be added back in.

[2021-05-04 11:59] #25523 closed

[2021-05-04 12:06] dikshachauhan-qasource commented on #25523
Hi @blakerouse

We have few testcases under managed policy with agents having lower version. So we are blocked to verify the functionlity that managed hosts are not upgraded for now and  as per your feedback putting them on hold to be verified in next release.

Thanks for confirming the expected behavior.

[2021-05-04 12:14] blakerouse commented on #25341
@ph I think we should move this to 7.14. Being that it will take some investigating on the best way to fix this issue and it's not critical for the 7.13 release.

[2021-05-04 12:30] ph commented on #25341
Added to 7.14 and to the meta issue.

[2021-05-04 13:22] hungnguyen-elastic commented on #25481
Thanks @ph . I created this pull for this. - https://github.com/elastic/beats/pull/25530

[2021-05-04 14:02] justinkambic commented on #22901
When running a browser monitor with `sandbox: true`, the command that Heartbeat sends to Elastic Synthetics includes `--sandbox`, so I am assuming this feature is working as designed. The flag is not present when I remove the config option.

![image](https://user-images.githubusercontent.com/18429259/117015416-b62c0000-acbf-11eb-8017-4fb911575a12.png)

[2021-05-04 14:15] justinkambic commented on #24768
When running 7.13 stack, I was able to query for the fields that are specified as root fields in the [synthetics PR](https://github.com/elastic/synthetics/pull/215) that introduced these `root_fields`.

![image](https://user-images.githubusercontent.com/18429259/117017341-84b43400-acc1-11eb-9512-b04bb4209f16.png)

[2021-05-04 14:47] justinkambic commented on #24141
This field is present in the mapping:

![image](https://user-images.githubusercontent.com/18429259/117022304-23429400-acc6-11eb-95dc-f9772c46da83.png)

[2021-05-04 14:48] justinkambic commented on #24141
This field is present in my mapping:
![image](https://user-images.githubusercontent.com/18429259/117022477-4705da00-acc6-11eb-8708-a6b6340ae6d9.png)

[2021-05-04 14:55] justinkambic commented on #24171
Applying `test-plan-ok` label to get this off of our test plan lists.

[2021-05-04 15:30] a03nikki opened #25531 "Create new module or integration for LastPass logs"
**Describe the enhancement:**

There are a number of existing [integrations](https://www.elastic.co/integrations) for ingesting logs.  It would be nice if there was support for [LastPass](https://www.lastpass.com/) password manager.

**Describe a specific use case for the enhancement or feature:**

One of the Mitre Att&ck  techniques, [T1555.005](https://attack.mitre.org/techniques/T1555/005/), is

[2021-05-04 15:32] elasticmachine commented on #25531
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-04 16:41] a03nikki opened #25532 "Create new module or integration for ForgeRock logs"
**Describe the enhancement:**

There are a number of existing [integrations](https://www.elastic.co/integrations) for ingesting logs. It would be nice if there was support for [ForgeRock](https://www.forgerock.com/) identity and access management logs.

**Describe a specific use case for the enhancement or feature:**

There are multiple Mitre Att&ck techniques that target authentication and identi

[2021-05-04 18:25] g3ppyT commented on #2073
Any news on this?

[2021-05-04 19:20] ph opened #25533 "Remove 32 bits artifact for the Elastic Agent"
We want to make sure that all the platform supported by the Elastic Agent are only 64 bits. Because we want to make sure that all the binaries are compiled with ASLR.

## Task:

### 7.13
- [x] Update the release manager to remove all the 32 artifacts.
- [x] Communicate with QA Source.
- [x] Documentation, release notes?
- [x] Ensure that the artifacts are removed from the website.
- [x] Update dow

[2021-05-04 19:20] elasticmachine commented on #25533
Pinging @elastic/agent (Team:Agent)

[2021-05-04 19:57] sirianni commented on #19202
Seeing this error with `filebeat-oss:7.12.0`

[2021-05-04 20:26] ph commented on #22094
@urso @simitth This require a lot more work on our side we do not have the bandwith for 7.14, I think we should move it to 7.15.

[2021-05-04 21:25] PrplHaz4 commented on #8614
this sounds like it could be related to #20562

[2021-05-05 00:28] #24891 closed

[2021-05-05 06:45] ChrsMark commented on #25290
Hi!

The reason for the need to add the node resource in clusterRole is because in autodiscovery we automatically enrich the events for pods with node's and namespace's metadata.

There is no bug in there I think.

You can always disable this functionality by setting `enabled: false` in `add_resource_metadata` (see https://www.elastic.co/guide/en/beats/filebeat/current/configuration-autodiscover.h

[2021-05-05 07:33] michalpristas commented on #24610
this is probably comming from dynamic inputs.
we start docker watcher at the start and check for failure, if we encounter error to connect we skip docker watcher but if connection was ok we proceed with setting up watcher.
this watcher is then generating these event most probably because docker was stopped?

can you confirm docker was not running at the start of the agent

[2021-05-05 07:35] michalpristas commented on #25507
i think this is expected, we change log level by reexecing and stopping all components. so context cancelled may be a  byproduct of this workflow

[2021-05-05 07:38] elasticmachine commented on #18869
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-05 07:52] gpapakyriakopoulos opened #25540 "libbeat 7.12.1 default logging logs excessive amount of data when failing to create index template"
As the title mentions, auditbeat on the default logging level (INFO based on official documentation) logs an excessive amount of data on syslog when failing to create an index template (ex. Due to insufficient access privileges).

After logging the initial exception error, it proceeds to also log the full index template as part of the exception error log, which usually amounts to several thousand

[2021-05-05 08:17] ruflin commented on #25507
If it is expected, should it be logged as error? And can we improve the log message?

[2021-05-05 08:52] michalpristas commented on #25507
what we discussed privately: this is expected from a point of view we log that context is cancelled and something is happening.
we dont have a check/signal to determine if this cancellation itself is expected or happened out of the blue.
this should be addressed and logged only if we're facing unintended behavior

[2021-05-05 09:02] elasticmachine commented on #25532
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-05 09:03] jamiehynds commented on #25532
Thansk @a03nikki - I noticed ForgeRock mention support for Elastic on their site: https://www.forgerock.com/platform/common-services/common-audit

I've reached out for more information.

[2021-05-05 09:04] simitt commented on #22094
Thanks for the update @ph! IMO it is important that we find a solution to get rid of the config values related to memory queue and batch sizes for ES output. We might need to expose these configs to users when switching to Fleet integrations when there is not other solution in place.

[2021-05-05 09:57] michalpristas commented on #25391
updated timestamp praser recognizes two formats :
- `2006-01-02T15:04:05Z07:00`
- `2006-01-02T15:04:05.000Z0700`

when log timestamp contains information about timezone, this information is not lost.
timezone info is lost with format `fleet-server` uses but they have a workaround in a form of transforming time to UTC before printing it.
https://play.golang.org/p/LY7R9rG2Y2V

[2021-05-05 10:24] urso commented on #25391
timezone info is lost with format fleet-server uses but they have a workaround in a form of transforming time to UTC before printing it.

In other words, logs indexed in Elasticsearch will all be correctly indexed with the same timestamp and timezeone (Beats also converts timestamps to UTC before indexing) and there will be no offset between Log events from Agent, Beats, and Fleet Server in Elasti

[2021-05-05 10:33] elasticmachine commented on #25540
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-05 10:37] ChrsMark commented on #25540
Thanks for reporting this @gpapakyriakopoulos! Could you please add more information regarding version you are using and how you run `auditbeat` (configuration, cli flags, binary/service etc)?

cc: @andrewkroh @adriansr

[2021-05-05 10:37] elasticmachine commented on #25511
Pinging @elastic/integrations (Team:Integrations)

[2021-05-05 10:40] ChrsMark commented on #25511
Thanks for reporting this @pmusa!

@narph could you please verify if this is actually a bug?

[2021-05-05 10:40] elasticmachine commented on #25508
Pinging @elastic/agent (Team:Agent)

[2021-05-05 10:43] elasticmachine commented on #25458
Pinging @elastic/integrations (Team:Integrations)

[2021-05-05 10:44] elasticmachine commented on #25469
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-05 10:45] elasticmachine commented on #25471
Pinging @elastic/integrations (Team:Integrations)

[2021-05-05 11:06] dikshachauhan-qasource commented on #25181
Hi @EricDavisX

While performing testing on 7.13 P1 regression plan, we have also observed same errors on filebeat installation at Linux machine.

**Screenshot:**
![image](https://user-images.githubusercontent.com/72375798/117131932-bf9c9180-adbf-11eb-9442-2d7fec28afe9.png)

However, attempted same on Linux arm machine and found it working fine there.

![image](https://user-images.githubuserconten

[2021-05-05 11:11] kuisathaverat opened #25548 "Descriptive error logs"
**Describe the enhancement:**

Overall the error log messages are not descriptive and do not point to a particular error in configuration. This makes the user has to try to figure out which configuration is wrong and why, this process in configurations with several configs with conditions, processors, and so on, could be a really painful process. These are some examples of errors:

[code]

**Descr

[2021-05-05 11:11] elasticmachine commented on #25548
Pinging @elastic/obs-dc (Team:Obs-DC)

[2021-05-05 11:11] muskangulati-qasource opened #25549 "[ Agent ] No Agent folder for the Linux machine after successful installation"
**Describe the bug**
No Agent folder for the Linux machine after successful installation [Debian10_x64]

**Build Details:**
[code]

**Browser Details**
All

**Preconditions**
1. Elastic Cloud 7.13.0 environment should be deployed

**Steps to Reproduce**
1. Download the "elastic-agent-x.x.x-amd64.deb" package from artifact page.
2. Then place the agent package on home/zeus location on Debian 10 Lin

[2021-05-05 11:12] elasticmachine commented on #25549
Pinging @elastic/agent (Team:Agent)

[2021-05-05 11:12] elasticmachine commented on #25548
Pinging @elastic/agent (Team:Agent)

[2021-05-05 11:12] muskangulati-qasource commented on #25549
@manishgupta-qasource please review!!

[2021-05-05 11:23] narph commented on #25511
confirmed this looks like a bug, `azure.resource.name` should be still there, it looks like we took it out while working on the inventory fields, this might not have been the goal for billing as well. I will investigate this further.

[2021-05-05 11:44] manishgupta-qasource commented on #25549
Reviewed & Assigned to @EricDavisX

[2021-05-05 11:56] EricDavisX commented on #25549
I believe the install locations for DEB/RPM are different than /opt/Elastic/ location.  you can do a 'find / -name elastic' command to see where they are?  And we can check the docs to confirm where it says the logs will be found.  And 3rd, if Agent is running ok at this point then we can know it isn't a bug and close it out.  @muskangulati-qasource thank you for the help following up and let us k

[2021-05-05 11:58] blakerouse commented on #25549
For the DEB/RPM they are spread out in a few locations:

/etc/elastic-agent
/usr/share/elastic-agent
/var/lib/elastic-agent

[2021-05-05 12:16] #18220 closed

[2021-05-05 12:30] muskangulati-qasource commented on #25549
Hi @EricDavisX, @blakerouse

Thank you for the information.

We are able to access the logs.
![image](https://user-images.githubusercontent.com/60252716/117137858-f5de0f00-adc7-11eb-9542-c6bb2ab04b18.png)

Hence closing this issue.

Thanks!

[2021-05-05 12:30] #25549 closed

[2021-05-05 12:33] #25261 closed

[2021-05-05 12:44] justinkambic commented on #22928
I created a custom zip with a suite including a `package.json` file that specifies a 2.0+ version of synthetics. The run failed.

[2021-05-05 12:45] adriansr commented on #18869
Found no issues with current master and `net.ipv6.conf.all.disable_ipv6 = 1`.

The attached error snippet points to something other than IPv6 issues:

This looks like a failure trying to install a duplicated kprobe, which means an instance of Auditbeat was already running. This kind of collision should not be possible in v7.8.2+ which includes https://github.com/elastic/beats/pull/20325.

[2021-05-05 12:45] #18869 closed

[2021-05-05 12:49] tsigouris007 commented on #25540
Our ES cluster runs on version 7.12.1.
Our beats + elastic-agent run on version 7.12.1.
Our auditbeat configuration is the following:
[code]
Our environment is:
[code]
The service is running as systemd default service with no other customization.

[2021-05-05 13:21] dikshachauhan-qasource opened #25555 ""elastic_agent.filebeat" data events not available on Discover tab after enable logs collection settings at Elastic agent on cloud policy."
**Kibana version:**
7.13 BC4 Kibana Cloud QA environment

**Host OS and Browser version:**
Managed host on cloud, All

**Preconditions**
1.  7.13 BC4 Kibana Cloud QA environment should be available.
[code]

**Steps to reproduce:**
1. Login to Kibana cloud environment.
2. Go to Policies tab.
3. Navigate to  Elastic agent on cloud policy's settings tab.
4. Enable checkboxes for logs and metrics coll

[2021-05-05 13:21] elasticmachine commented on #25555
Pinging @elastic/fleet (Team:Fleet)

[2021-05-05 13:21] elasticmachine commented on #25555
Pinging @elastic/agent (Team:Agent)

[2021-05-05 13:22] hazcod opened #25556 "CEF module should support TCP & mTLS"
**Describe the enhancement:**
The CEF module currently only supports syslog over UDP, which is insecure.
We should support TCP and the SSL variable.

**Describe a specific use case for the enhancement or feature:**
mTLS for syslog over TCP.

[2021-05-05 13:22] dikshachauhan-qasource commented on #25555
@manishgupta-qasource Please review

[2021-05-05 13:24] narph commented on #25511
@pmusa , I have fixed the visualization in the above PR, in the visualization above we split by resource name. Maybe in the future we can add a visualization splitting on the resource type as well.

[2021-05-05 13:44] elasticmachine commented on #25556
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-05 13:44] mostlyjason commented on #25555
Can you check how much memory you have in your APM & Fleet instance? You might want to set it to 2GB to make sure there is enough space for Filebeat to run

[2021-05-05 13:50] IkeEichenberger commented on #18869
Having the issue:
net.ipv6.conf.all.disable_ipv6 = 1
and getting this error in logs:

May  5 09:34:06 ip-172-16-7-188 auditbeat: Exiting: 1 error: 1 error: system/socket dataset setup failed: unable to guess one or more required parameters: guess_sockaddr_in failed: timeout while waiting for trigger to complete
May  5 09:34:06 ip-172-16-7-188 systemd: auditbeat.service: main process exited, code=e

[2021-05-05 13:57] mostlyjason commented on #21855
@ph it sounds like this is done and passing manual tests. Do you feel CI coverage is requirement? If not, could this be a beta release for 7.13?

I just checked with Braden and he is ok releasing it without docker support since endpoint security for laptops is the main business driver. Could we document that on our limitations page and schedule a fix for the next release?

[2021-05-05 14:03] dikshachauhan-qasource commented on #25555
Hi @mostlyjason

Thanks for the feedback.

We have revalidated it with above recommended changes and found it working fine. Now events for both metricbeat and filebeat are available under Discover tab.

![image](https://user-images.githubusercontent.com/72375798/117153453-9a684d00-add8-11eb-9e79-306d3dccbcb8.png)

However, also observed a new managed host got deployed with the APM changes. So each

[2021-05-05 14:04] #25555 closed

[2021-05-05 14:18] andrewstucki commented on #18869
@IkeEichenberger your error is related to `guess_sockaddr_in` -- the **_ipv4_** probe used to calculate structure offsets for socket address/port data -- it is unrelated to the above error and could be either due to a bug or things such as unsupported kernel version. I would suggest opening up a new bug issue with your error and some basic kernel information and we can prioritize and figure out a

[2021-05-05 14:48] maggieghamry commented on #25290
@ChrsMark thank you. I think the reason we thought there was an issue is because everything worked until 7.11, where this now seems to be enforced. Perhaps it's as simple as adding documentation or something in the change logs from 7.10 - 7.11?

[2021-05-05 15:03] ChrsMark commented on #25290
@maggieghamry I see the point of this making some confusion however we keep up to date  the https://github.com/elastic/beats/blob/7.11/deploy/kubernetes/metricbeat-kubernetes.yaml manifests so as to be the point of reference. Our official documentation on [how to run X-Beats on k8s](https://www.elastic.co/guide/en/beats/metricbeat/current/running-on-kubernetes.html) refers to these manifests too.

[2021-05-05 15:19] kvch commented on #23596
I have tried to break it with various port changes to ES ports, everything worked as expected.

[2021-05-05 15:19] #23596 closed

[2021-05-05 15:59] kaiyan-sheng commented on #23350
Closing this issue as a duplicate of https://github.com/elastic/beats/issues/25249.

[2021-05-05 15:59] #23350 closed

[2021-05-05 16:31] kaiyan-sheng commented on #17597
@leehinman What do you think about moving AWS Filebeat module to GA for 7.14 or 7.15? Thanks!

[2021-05-05 16:55] kaiyan-sheng commented on #18079
With the inventory schema work, we should also adopt these [new host fields](https://github.com/elastic/observability-dev/blob/master/docs/dc/inventory_schema.md#host) when migrating.

[2021-05-05 17:16] #18140 closed

[2021-05-05 17:25] elasticmachine commented on #25561
Pinging @elastic/agent (Team:Agent)

[2021-05-05 17:56] charlie-pichette opened #25563 "Fleet Agent Fails to Install with Fleet Server on macOS"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2021-05-05 17:59] elasticmachine commented on #25563
Pinging @elastic/agent (Team:Agent)

[2021-05-05 17:59] elasticmachine commented on #25563
Pinging @elastic/fleet (Team:Fleet)

[2021-05-05 18:16] ph commented on #25563
@charlie-pichette This look like a configuration issue on the mac?

[code]

Without the change in the `/etc/host` file, I am certain the the **ping** command will fail too

Who is giving you the `mac-highsierra-10-0-6-95` URL, it is fleet?

[2021-05-05 18:24] ph commented on #24610
Seems the macmini is OOO, let me check that.

[2021-05-05 18:40] nchaulet commented on #25563
Looks similar to the issue @kpollich had yesterday on a newly setup mac, I think he had to enable file sharing to get this working.

[2021-05-05 18:44] charlie-pichette commented on #25563
@ph The `mac-highsierra-10-0-6-95` is the machines hostname.  Just typing `hostname` at the shell prompt returns that info.

@nchaulet enabling file sharing did not help.

[2021-05-05 18:45] justinkambic opened #25569 "[Fleet] Multiple instances of Heartbeat appear to run with Synthetics integrations"
**Kibana version:**
7.13

**Elasticsearch version:**
7.13

**Server OS version:**
macOS Big Sur

**Browser version:**
Chrome 90

**Browser OS version:**
macOS Big Sur

**Original install method (e.g. download page, yum, from source, etc.):**
from source

**Describe the bug:**
I created numerous Synthetics integrations while testing the Synthetics package/associated UI. After noticing that a number

[2021-05-05 18:46] charlie-pichette commented on #25563
The issue is that I had Fleet integration in the policy.  If I remove that agent installs.  This appears to be an issue between the keyboard and the chair.

[2021-05-05 18:48] charlie-pichette commented on #25563
I think we can close this issue.

[2021-05-05 18:59] ph commented on #25563
@charlie-pichette I am happy to close it. you had a fleet integration in a non fleet server policy?

[2021-05-05 18:59] #25563 closed

[2021-05-05 19:02] charlie-pichette commented on #25563
@phg Basically.  @EricDavisX corrected my misunderstanding of how to configure the environment.

[2021-05-05 19:12] kpollich commented on #25563
Closing the loop here - this is the same issue I dealt with yesterday on my new work MacBook, yep. DNS resolution was mysteriously just broken out of the box. e.g. `ping $(hostname)` in terminal would not resolve to my local machine.

https://elastic.slack.com/archives/C01EECES05R/p1620148047297300

Eventually found this StackExchange post that solved for me (via macOS sharing preferences), but th

[2021-05-05 19:21] n0othing opened #25565 "Add support for logging selector exclusions"
**Describe the enhancement:**

Today, the various Beats allow you to specify different logging selectors [1]. You can enable all selectors (e.g `logging.selectors: ["*"]`) or specific selectors (e.g `logging.selectors: [ "harvester", " input" ]`). When debugging an issue, you don't always know what you're looking for so selecting everything is a reasonable start. It'd be useful to be able to exclu

[2021-05-05 19:31] maggieghamry commented on #25290
Thanks so much @ChrsMark !

[2021-05-05 19:31] #25290 closed

[2021-05-05 19:45] mukeshelastic opened #25586 "Existing agents do not re-enroll in fleet correctly after 7.12-snapshot to 7.13-snapshot upgrade"
**Steps to reproduce:**

1. A 7.12-snapshot deployment was spun in the qa.cld.elstc.co environment with zero apm instance.
2. I went to Kibana and enabled fleet ( this is pre-fleet-server implementation) and enrolled an agent.
3. I came back to cloud console and upgraded the deployment to 7.13-snapshot.
4. I went to fleet UI and was asked to set up fleet server. I did that from cloud console
5. Th

[2021-05-05 20:00] leehinman commented on #17597
Sounds good to me.

[2021-05-05 21:24] elasticmachine commented on #25569
Pinging @elastic/agent (Team:Agent)

[2021-05-06 01:06] elasticmachine commented on #25181
Pinging @elastic/agent (Team:Agent)

[2021-05-06 01:17] EricDavisX commented on #25391
will do, thanks for the good discussion here.

[2021-05-06 01:25] EricDavisX commented on #25507
I'd consider the log line itself as a minor improvement - is there any discussion on why the log level in the UI wasn't updated (or wasn't updated quickly enough to be dismissed) ?  I don't know how long we should wait before considering it a bug - thoughts from the technical perspective?

[2021-05-06 01:55] EricDavisX commented on #24602
I feel like this will have been another instance of the timing off-line/on-line issue which we think is closed.  I saw Charlie had set up the server with all of the OS hosts deployed, we can use that for validation and close this out.  If anything rears up, we'll need detailed logs so it doesn't help much to have this stay open.