[2021-05-06 01:55] #24602 closed

[2021-05-06 02:21] legoguy1000 commented on #25531
This would be dope.  Do u have any info on the Last Pass Enterprise API? THe docs are definitely lacking

[2021-05-06 02:30] legoguy1000 commented on #25532
It looks like a Filebeat integration would be another HTTP poller, https://backstage.forgerock.com/docs/idcloud/latest/tenant-audit-logs.html

[2021-05-06 05:32] simitt opened #25574 "Collect additional cgroup memory values"
At the moment only [`memory.mem.limit`](https://github.com/elastic/gosigar/blob/master/cgroup/memory.go#L23) and  [`memory.mem.usage`](https://github.com/elastic/gosigar/blob/master/cgroup/memory.go#L21) are reported for memory usage insights regarding a `cgroup`. The `memory.mem.usage` contains memory usage for page caches and on its own is not necessarily a good indicator for scaling decisions.

[2021-05-06 06:16] hazcod opened #25575 "filebeat: CheckPoint module fails to parse action_reason"
Sometimes because of an implied rule CheckPoint will put 'Dropped by multiportal infrastructure' into `action_reason` instead of a Long. This causes filebeat to fail parsing.

- Version: filebeat 7.12.1
- Operating System:  Red Hat OS 8

Error:
[code]

Log entry:
[code]

[2021-05-06 08:01] elasticmachine commented on #25565
Pinging @elastic/obs-dc (Team:Obs-DC)

[2021-05-06 08:03] elasticmachine commented on #25575
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-06 08:35] #25511 closed

[2021-05-06 08:45] #25424 closed

[2021-05-06 09:45] gingerwizard commented on #25471
I would also like to see this enhanced with the processor name and model - specifically information from `/cat/cpuinfo`

[code]

We see very high variance across models of CPU in cloud providers e.g. consider the N1 type in GCE.

These potentially offer wide performance differences under some workloads. In cases where we are monitoring ES, a single node can inhibit cluster performance.

@ebadyano

[2021-05-06 10:07] exekias commented on #25471
Thank you for the explanations on why this is important.

I'm wondering, would it be enough if we report total CPU MHz? I guess the current CPU usage in MHz can be calculated based on existing cpu usage metrics (%)?

@fearful-symmetry any thoughts on this one?

[2021-05-06 11:50] ferullo opened #25583 "Agent sends wrong log level to Endpoint"
In [this](https://github.com/elastic/kibana/issues/99030) issue, @muskangulati-qasource found that on a Windows 7 machine Endpoint was being sent a configuration  from Agentthat set the log level to the string `""`.

Below are key facts from the original [comment](https://github.com/elastic/kibana/issues/99030#issuecomment-832822815) for the bug.

`fleet.yml` contains the below content
[code]

`el

[2021-05-06 11:56] elasticmachine commented on #25583
Pinging @elastic/agent (Team:Agent)

[2021-05-06 12:04] simitt commented on #22602
This is also very interesting for the APM Server, where event sizes can vary quite a bit, and spooling to disk could help reducing the variance in memory consumption.

[2021-05-06 12:31] fredtj opened #25585 "[Filebeat][Fortinet Module] fortinet.firewall.addr is not always an IP address, causing ingest errors"
Hello,

See error message below:

[code]

It seems when Fortigate updates a dynamic address book entry, the resulting log message spits out the object name and not an IP. This causes the above error and the document is not ingested.

I fixed this on my set up by adding the following to the firewall pipeline:

[code]

I'm not sure if this is the correct approach, but it does seem to have resolved t

[2021-05-06 13:14] elasticmachine commented on #25586
Pinging @elastic/agent (Team:Agent)

[2021-05-06 13:16] #1071 closed

[2021-05-06 13:26] kresss commented on #1071
This would still be nice to have.

[2021-05-06 13:39] blakerouse commented on #23613
Being that everything is fixed on this issue minus the hints supports, which has other requirements I am going to close this issue.

[2021-05-06 13:39] #23613 closed

[2021-05-06 14:12] felixbarny commented on #22602
To add to Silvia's point: As applications monitored by APM may have bursty traffic. The amount of data APM Server processes and sends to Elasticsearch proportional to the monitored application's traffic. A persistent queue could help to smooth out the traffic spikes. Currently, APM Server has to drop events if its in-memory queue fills up when Elasticsearch is busy indexing a burst of events.

[2021-05-06 14:20] nchaulet commented on #25586
If it could help investigating my `fleet.yml` file for the agent show the protocol `http` here

<img width="672" alt="Screen Shot 2021-05-06 at 10 17 59 AM" src="https://user-images.githubusercontent.com/1336873/117314247-8feb9900-ae54-11eb-98f4-6a731f0aff10.png">

[2021-05-06 14:37] elasticmachine commented on #25585
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-06 14:39] benberg86 opened #25591 "Incorrect IAM actions in docs"
The IAM permissions  for  lambda are documented here and list ELB permissions
 and not lambda  permissions
https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-metricset-aws-lambda.html

[2021-05-06 15:45] shk3bq4d commented on #24260
I can still see the issue on
CentOS 7.9
filebeat 7.12.1
filebeat version 7.12.1 (amd64), libbeat 7.12.1 [651a2ad1225f3d4420a22eba847de385b71f711d built 2021-04-20 20:58:32 +0000 UTC]

[2021-05-06 15:50] seadub commented on #16335
bump, impacts filebeat 6.8 as well.

[2021-05-06 15:54] #23482 closed

[2021-05-06 16:05] fearful-symmetry commented on #25471
I think we had this conversation in the past, and it didn't happen because it wasn't metrics-y enough. That being said, I think stuff like MHz information is a good potential addition, maybe as an enhancement to system/cpu or system/core.

[2021-05-06 16:05] stefnestor opened #25596 "GCP/FunctionBeat Errors [cannot find matching process for pid=1, name version already used]"
Ongoing errors attempting to use Functionbeat in GCP. The current curiosity is to make sure the GCP processes can run consecutively (since they are) & that "pubsub" (only because it shows up right before errors) isn't causing issues.

For confirmed bugs, please report:
- Version: 7.12.0
- Operating System: GCP
- Discuss Forum URL: NA

functionbeat.yml (runs as "task"/something so parallel processe

[2021-05-06 16:07] fearful-symmetry commented on #25596
CC @kvch

[2021-05-06 16:07] elasticmachine commented on #25596
Pinging @elastic/integrations (Team:Integrations)

[2021-05-06 18:01] ycombinator opened #25603 "Incongruous Elastic Agent statuses"
- Version: 7.13.0-SNAPSHOT
- Operating System: macOS 11.2.3 (Big Sur)

I enrolled an Elastic Agent with Fleet using the command from the Fleet UI. The agent reported enrollment as successful.

[code]

The Fleet UI showed the agent on its agent listing page. The UI shows the agent as healthy.

<img width="1442" alt="Screen Shot 2021-05-06 at 10 58 23 AM" src="https://user-images.githubusercontent.c

[2021-05-06 18:01] elasticmachine commented on #25603
Pinging @elastic/agent (Team:Agent)

[2021-05-06 18:01] elasticmachine commented on #25603
Pinging @elastic/fleet (Team:Fleet)

[2021-05-06 18:31] ycombinator opened #25606 "Elastic Agent log file naming"
I've installed `elastic-agent` on my Mac. I'm looking at the log files at `/Library/Elastic/Agent/elastic-agent.log*`.  I think I'm seeing some odd behavior w.r.t. the filenames and the log timestamps within them.

[code]

[code]

[code]

I'd expect the log timestamps in `elastic-agent.log` to be the latest ones, followed by the timestamps in `elastic-agent.log.1`, followed by the timestamps in `e

[2021-05-06 18:31] elasticmachine commented on #25606
Pinging @elastic/agent (Team:Agent)

[2021-05-06 18:33] ph commented on #25603
thanks @ycombinator for creating the issues,

From what I see this is like every ~30 seconds and just flooding the log?

@michalpristas @blakerouse Any idea on this one?

[2021-05-06 18:38] ph commented on #25606
Ok, this is strange we piggy back on the libbeat framework for logging.

@ycombinator Can you give more line in the logs maybe the last 10 lines?

[2021-05-06 18:40] ycombinator commented on #25606
@ph Here you go. If you want I can also try to blow away my Agent installation completely and start from scratch to see if this was some weird one-off behavior.

[code]

[code]

[code]

[2021-05-06 18:42] ph commented on #25606
This look like and issue with the logger initializer. Maybe @kvch It's something you could take a look.

[2021-05-06 18:43] ycombinator commented on #25603
Note that my Agent is installed locally on my Mac laptop and Fleet is in Elastic Cloud. Not sure if this has anything to do with it.

[2021-05-06 18:45] ph commented on #25603
That should just work, fleet server is the one installer on cloud and not a on-prem installation?

[2021-05-06 18:49] ycombinator commented on #25603
That's correct. The only thing I've downloaded and installed locally is Elastic Agent. I didn't take any steps to enable Fleet Server locally so I assume my local Agent install is talking to one in ze ☁️.

[2021-05-06 18:50] ph commented on #25586
@mukeshelastic what was the enrollment command that you have been running? The error you see in the log make total sense if the tls is remove from the URL. cc @blakerouse

[2021-05-06 19:16] #11624 closed

[2021-05-06 19:16] #10316 closed

[2021-05-06 19:16] #11250 closed

[2021-05-06 19:16] #10572 closed

[2021-05-06 19:46] ordin2342 opened #25607 "Impossible to build packetbeat v.7.10-7.12.1 on FreeBSD"
Hi,

trying to build packetbeat on FreeBSD 12.2 / pfSense - already manovered my way around couple of issues and tried multiple versions but it seems impossible.

Steps:
setenv CGO_ENABLED=0
go get github.com/elastic/beats
cd go/src/github.com/elastic/beats/packetbeat
git checkout v7.12.1 (tried most versions between 7.10.0 and latest)
gmake

Expected:
working binary

Actual:
go/pkg/mod/github.com

[2021-05-06 20:04] ph commented on #25607
@ordin2342 We do not support officially freebsd. So let me try to give some pointers from the error I see this might be related to symbols from the **pcap** package that aren't available to freebsd. We are using a fork (https://github.com/tsg/gopacket/) so it's totally possible that we don't have the support for freebsd.

[2021-05-06 20:05] elasticmachine commented on #25607
Pinging @elastic/agent (Team:Agent)

[2021-05-06 21:06] ordin2342 commented on #25607
Looking at other issues it seemed that FreeBSD support was on it's way, what happened? pfSense is a major security product and pretty much without alternative if you want to go open source.

BTW: I installed a standalone FreeBSD 12.2 (no pfSense), downgraded go to match versions (1.15.7) and tried the same, still getting the exact issues.

Following various blog articles like this one, it looks li

[2021-05-06 21:08] ordin2342 commented on #25607
What would be my options to ship from pfSense to elastic SIEM and get the same visibility for DNS, HTTP, TLS, ...?

[2021-05-06 23:31] legoguy1000 commented on #25585
There are no sample logs with this situation.  I can make this change easily. @fredtj can you provide some sample logs that I can use in the testing to validate the changes??

[2021-05-07 01:11] legoguy1000 commented on #25575
@hazcod Can you take a look at the PR I created and see if you think it satisfies the issue?

[2021-05-07 05:12] hazcod commented on #25575
@legoguy1000 Seems about right, thank you for the fix!

[2021-05-07 07:18] hazcod opened #25613 "Support processors in the CheckPoint module"
**Describe the enhancement:**
The checkpoint module in x-pack currently does not support adding additional processors.

**Describe a specific use case for the enhancement or feature:**
This does not allow us to drop certain events for example.

[2021-05-07 07:37] fredtj commented on #25585
Use these logs for your testing and ignore the previous sample, as that had extra fields added by FortiAnalyzer, which is not supported by this module yet.

[code]

[2021-05-07 08:57] legoguy1000 commented on #25585
Also if u want to make a separate issue for the fortiAnalyzer, I'd be happy to work on that with u, either updating the existing filesets or create a new one.

[2021-05-07 08:59] fredtj commented on #25585
@legoguy1000  see here: https://github.com/elastic/beats/issues/19315

[2021-05-07 11:07] fredtj commented on #25613
to add processors you could modify the ingest pipeline in elastic.

[2021-05-07 12:22] yerome27 opened #25614 "Functionbeat 7.12.1 fail to deploy on GCP Cloud function"
Using FunctionBeat 7.12.1-linux-x86_64 on google/cloud-sdk.
The following command leads to error during the deployment :
`./functionbeat -v -e -E cloud.id=XXX -E cloud.auth=XXX -d "*" deploy functionbeat-record-provisioner`

Error stack returned by functionbeat is :
`2021-05-05T12:51:45.303Z DEBUG [gcp.executor] executor/executor.go:76 The executor is rolling back previous execution, '3' operation

[2021-05-07 14:10] JAndritsch opened #25615 "Iptables module unable to parse some logs from UDM-Pro device"
I'm using the Iptables module of Filebeat (`master` branch on Github, commit `ddcf8f1aa`) to receive and parse logs from a Unifi Dream Machine Pro over UDP. My module configuration looks like this:

    - module: iptables
      log:
        enabled: true

The data is sent from the beat to a Logstash pipeline. That pipeline does no processing/parsing of the message itself. It just sends the incomin

[2021-05-07 14:16] legoguy1000 commented on #25615
Should be easy to update the grok pattern

[2021-05-07 14:59] legoguy1000 commented on #25615
are some of those supposed to be L and TL and not TTL??

[2021-05-07 15:31] legoguy1000 commented on #25615
Ya, I'm definitely confused about that.  Could it be a UDM bug? Did this just start happening recently? after an update??

[2021-05-07 15:47] legoguy1000 commented on #25615
I would hit up the Unifi forums. You'd probably get teh best answer there.

[2021-05-07 15:48] JAndritsch commented on #25615
That's a great idea. Thank you!

[2021-05-07 16:55] legoguy1000 commented on #25615
I opened a draft PR to parse these logs. Let me know what u think.

[2021-05-08 00:01] andrewkroh commented on #20800
I created to track this enhancement https://github.com/elastic/integrations/issues/976.

[2021-05-08 00:01] #20800 closed

[2021-05-08 00:01] elasticmachine commented on #20800
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-08 01:42] stefnestor opened #25618 "Default auditbeat.yml does not match auditbeat.reference.yml"
Howdy!

I may not be understanding, but your downloaded & Docs __auditbeat.reference.yml__ doesn't match close to the downloaded un-edited auditbeat.yml. Isn't it suppose to? (It does on the Filebeat & Packetbeat beats.)

In particular, I'm wondering if
- my download is missing the `/modules.d/*.yml` folder. The Auditbeat Github references [modules/system](https://github.com/elastic/beats/tree/mas

[2021-05-08 01:42] elasticmachine commented on #25618
Pinging @elastic/obs-docs (Team:Docs)

[2021-05-08 01:43] elasticmachine commented on #25618
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-05-08 01:44] stefnestor commented on #25618
Maybe those are the appropriate labels? (Kindly correct if not, thanks!)

[2021-05-08 01:56] stefnestor commented on #25618
Edit: the [Doc auditbeat.reference.yml](https://www.elastic.co/guide/en/beats/auditbeat/current/auditbeat-reference-yml.html) is also different than the auditbeat.reference.yml that downloads, guess I needed to look even closer, sorry.

[2021-05-08 02:14] stefnestor opened #25619 "Auditbeat.yml examples for system datasets:[login,socket,user]"
In follow-up to https://github.com/elastic/beats/issues/25618, will you show me / update your docs to include examples for your auditbeat/`module:system`/`datasets:[login,socket,user]`.

The three don't reference in the downloaded auditbeat.yml or auditbeat.reference.yml & the docs don't say how to configure.
- login
    - [doc reference](https://www.elastic.co/guide/en/beats/auditbeat/current/aud

[2021-05-08 02:14] elasticmachine commented on #25619
Pinging @elastic/obs-docs (Team:Docs)

[2021-05-08 02:14] elasticmachine commented on #25619
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-05-08 02:39] manning23 opened #25620 "Please support goebpf in packetbeat"
Please support goebpf in packetbeat

goebpf is a more advanced packet capture technology, which is more efficient than gopacket.

[2021-05-08 08:24] anaconda2196 opened #25621 "Using Keystores - not working (v6.6.0)"
Hello,

I'm trying to use a keystore value in my metricbeatbeat configuration and I can't seem to get it working...

I have created initContainer in that I am just creating keystore and add my elasticsearch password in ES_PWD!
[code]
[sharing volumes between initContainer and actual container!]

In actual metricbeat container trying to run metricbeat service but it is not starting.
(./metricbeat -

[2021-05-08 21:58] stefnestor opened #25622 "[Docs] Add in CockroachDB example doc"
Howdy!

It looks like you need to add one of your [test data docs](https://github.com/elastic/beats/blob/master/x-pack/metricbeat/module/cockroachdb/status/_meta/testdata/cockroachdb-status.v19.1.1.plain-expected.json) into your [CockroachDB status metricset # Fields](https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-metricset-cockroachdb-status.html) code slot.

Cheers!

---

<i

[2021-05-08 21:58] elasticmachine commented on #25622
Pinging @elastic/obs-docs (Team:Docs)

[2021-05-08 22:51] stefnestor opened #25623 "[DOC] Determine Packetbeat/Protocol/[tls, thrift, nfs, sip] defaults/examples"
Howdy! Do you have / will you add/clarify the following protocol examples under Packetbeat

### nfs

No Doc reference for NFS under folder packetbeat/configure/protocols & [overview page](https://www.elastic.co/guide/en/beats/packetbeat/7.12/configuration-protocols.html) missing example. [Reference page](https://github.com/elastic/beats/blob/master/x-pack/packetbeat/packetbeat.yml#L98-L101) says s

[2021-05-08 22:51] elasticmachine commented on #25623
Pinging @elastic/obs-docs (Team:Docs)

[2021-05-09 02:16] acamro commented on #1349
Please check for "UCS2 LE BOM" (Notepad++), or little endian BOM, the first bytes are: FF FE in my hex editor, this was found in SQL Server 2019 Logs.

Error in filebeat:
`
��2\u00000\u00002\u00001\u0000-\u00000\u00003\u0000-\u00000\u00001\u0000 \u00001\u00000\u0000:\u00004\u00009\u0000:\u00001\u00006\u0000.\u00008\u00006\u0000' could not be parsed at index 0
`

Thanks in advance

[2021-05-09 13:19] legoguy1000 commented on #25585
@fredtj PR is ready for review. If you have any comments, let me know.

[2021-05-09 21:16] #18400 closed

[2021-05-10 05:55] alexabidri commented on #25181
Same issue on my side, any updates ?

[2021-05-10 06:24] simitt opened #25628 "Add new metrics about queue size and output workers to template"
With https://github.com/elastic/beats/issues/22215 additional metrics for stack monitoring are collected (`queue.mem.events`, `output.elasticsearch.workers`, `output.elasticsearch.bulk_max_size`). They should also be added to the template to allow to query by them.

this is targeting `7.14`

[2021-05-10 06:24] elasticmachine commented on #25628
Pinging @elastic/integrations-services (Team:Services)

[2021-05-10 07:20] ruflin commented on #25507
@EricDavisX We didn't have any conversations around this but it is definitively worth discussing. @michalpristas Is the log level change also a new revision of the policy so it could be seen in the policy rollout overview? If not, how does the user know it got "rolled out"?

[2021-05-10 08:12] elasticmachine commented on #572
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-10 08:21] elasticmachine commented on #2764
Pinging @elastic/agent (Team:Agent)

[2021-05-10 08:21] elasticmachine commented on #3145
Pinging @elastic/agent (Team:Agent)

[2021-05-10 08:22] elasticmachine commented on #4166
Pinging @elastic/agent (Team:Agent)

[2021-05-10 08:22] elasticmachine commented on #4576
Pinging @elastic/agent (Team:Agent)

[2021-05-10 08:23] elasticmachine commented on #5519
Pinging @elastic/agent (Team:Agent)

[2021-05-10 08:29] elasticmachine commented on #6355
Pinging @elastic/fleet (Team:Fleet)

[2021-05-10 08:31] jsoriano commented on #6355
I guess this can be considered as solved by [fleet](https://www.elastic.co/guide/en/fleet/7.12/fleet-overview.html)? :slightly_smiling_face:

Closing by now, please reopen if something would be missing.

[2021-05-10 08:31] #6355 closed

[2021-05-10 08:32] elasticmachine commented on #7462
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-10 08:33] elasticmachine commented on #7590
Pinging @elastic/agent (Team:Agent)

[2021-05-10 08:36] elasticmachine commented on #7633
Pinging @elastic/agent (Team:Agent)

[2021-05-10 08:40] elasticmachine commented on #7751
Pinging @elastic/integrations (Team:Integrations)

[2021-05-10 08:40] elasticmachine commented on #7751
Pinging @elastic/stack-monitoring (Stack monitoring)

[2021-05-10 08:45] elasticmachine commented on #8423
Pinging @elastic/agent (Team:Agent)

[2021-05-10 08:56] jsoriano commented on #9227
Since 7.2, beats include a [`script` processor](https://www.elastic.co/guide/en/beats/filebeat/7.12/processor-script.html), that can be used to do any modification of fields in events using javascript. I think this could cover this use case.

For the specific use case of casting/typing, the `dissect` processor supports the conversion to specific data types since recent versions (7.10 I think). The

[2021-05-10 08:56] #9227 closed

[2021-05-10 09:10] Hacko-nPacko opened #25630 "[METRICBEAT] Jolokia JMX mBeanName.Canonicalize() fails to sort correctly the properties"
Hey folks,

I noticed that the the Canonicalize method will sort the strings, but that has some edge cases:
https://github.com/elastic/beats/blob/afbdaa93ccc2d1a10adb7eed275840f3a66bf498/metricbeat/module/jolokia/jmx/config.go#L142

here:
https://github.com/elastic/beats/blob/afbdaa93ccc2d1a10adb7eed275840f3a66bf498/metricbeat/module/jolokia/jmx/config.go#L153

e.g. input "solr:dom1=jvm,name=used,

[2021-05-10 09:17] michalpristas commented on #25474
@EricDavisX will investigate, we uninstall endpoint on agent uninstall but this should not be related, there's different code path  behind this.

[2021-05-10 09:41] kvch commented on #25606
There were changes in Agent logging so your expectations are no longer valid. Now Agent logs to files with the following naming convention: `elastic-agent-{datetime}`. Also, files are not rotated by being renamed, but the latest logs are in the log files with the newer timestamps. Could you please install the latest snapshot and see if that works? What you are seeing is a bit weird given that the

[2021-05-10 11:31] #25575 closed

[2021-05-10 11:42] mostlyjason commented on #22932
+1 to bundle it then. You can add it to the blocklist here https://github.com/elastic/beats/issues/21000

[2021-05-10 12:07] kvch opened #25637 "`TestConfigurableFailed` is failing on `windows-2012-r2` and `windows-2016`"
Since the log file rotation problems had been fixed on Windows, the test is failing again with the following error:

[code]

[2021-05-10 12:07] elasticmachine commented on #25637
Pinging @elastic/agent (Team:Agent)

[2021-05-10 12:09] kvch commented on #25606
This PR: https://github.com/elastic/beats/pull/25464

[2021-05-10 12:10] elasticmachine commented on #25596
Pinging @elastic/agent (Team:Agent)

[2021-05-10 12:16] ph commented on #22932
+1 to bundle it for docker-agent.

[2021-05-10 13:05] dlangille opened #25638 "Any packaging information?"
Hello,

If I was to create a [FreeBSD] package for this, where would I start? I'm looking a wiki, or docs, or an INSTALL.md file.

Thank you.

[2021-05-10 13:05] elasticmachine commented on #25638
Pinging @elastic/agent (Team:Agent)

[2021-05-10 13:35] elasticmachine commented on #10989
Pinging @elastic/agent (Team:Agent)

[2021-05-10 13:37] elasticmachine commented on #11623
Pinging @elastic/agent (Team:Agent)

[2021-05-10 13:38] elasticmachine commented on #11758
Pinging @elastic/agent (Team:Agent)

[2021-05-10 13:39] elasticmachine commented on #12562
Pinging @elastic/agent (Team:Agent)

[2021-05-10 13:39] elasticmachine commented on #12635
Pinging @elastic/agent (Team:Agent)

[2021-05-10 13:41] elasticmachine commented on #12761
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-10 13:45] jsoriano commented on #13129
I guess this was solved in https://github.com/elastic/beats/pull/20005, so I am closing this. @kaiyan-sheng, please reopen if you think that this is still an issue.

[2021-05-10 13:45] #13129 closed

[2021-05-10 13:47] elasticmachine commented on #13134
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-10 13:54] elasticmachine commented on #13816
Pinging @elastic/integrations (Team:Integrations)

[2021-05-10 13:55] elasticmachine commented on #14008
Pinging @elastic/agent (Team:Agent)

[2021-05-10 14:09] dlangille commented on #25638
Yes, that is our goal.

[2021-05-10 14:16] mloebl commented on #25638
I didn't initially see it in the beats, but I see it now I believe under x-pack, I'll take a look, thanks!

[2021-05-10 14:24] mostlyjason commented on #25555
@dikshachauhan-qasource by managed host you mean you see an other offline agent on the agents page? That is expected and a known bug we hope to address here https://github.com/elastic/beats/issues/25030

[2021-05-10 14:44] ph commented on #25638
Hey @dlangille and @mloebl I will close this issue and lets discuss on https://github.com/elastic/beats/issues/1034, there was a few comment from the community that I would like to keep.

[2021-05-10 14:45] ph commented on #21066
closing in favor of https://github.com/elastic/beats/issues/1034

[2021-05-10 14:45] #21066 closed

[2021-05-10 14:47] ph commented on #20183
See https://github.com/elastic/beats/issues/1034 for the support for Freebsd.

[2021-05-10 14:52] kaiyan-sheng commented on #25263
Closing this issue because it's fixed by #25446. Please feel free to reopen or create a new issue if this didn't fix the problem. Thank you!!

[2021-05-10 14:52] #25263 closed

[2021-05-10 15:25] elasticmachine commented on #16108
Pinging @elastic/agent (Team:Agent)

[2021-05-10 15:39] elasticmachine commented on #24917
Pinging @elastic/agent (Team:Agent)

[2021-05-10 15:42] jsoriano commented on #24910
Hey @vladaman,

This is expected, the statsd module is not available in the OSS distribution of Metricbeat, it is only available in the default distribution you can download from https://www.elastic.co/downloads/beats/metricbeat or build from the `x-pack/metricbeat` directory.

[2021-05-10 15:42] #24910 closed

[2021-05-10 15:45] elasticmachine commented on #24925
Pinging @elastic/agent (Team:Agent)

[2021-05-10 15:46] elasticmachine commented on #24926
Pinging @elastic/stack-monitoring (Stack monitoring)

[2021-05-10 15:46] elasticmachine commented on #24926
Pinging @elastic/integrations (Team:Integrations)

[2021-05-10 15:49] jsoriano commented on #24929
@mdelapenya have you seen this issues only with dockerlogbeat or also with other beats?

@fearful-symmetry do you know about these issues?

[2021-05-10 16:07] jsoriano commented on #24937
@mdelapenya what would these targets do in the case of metricbeat?

In the cases of filebeat most system tests depend on an Elasticsearch ingest node to run the ingest pipelines, also in libbeat the output tests depend on Elasticsearch and other services, so a common target can be useful in these Beats to start the stack, and some services configured for it.
But in the case of Metricbeat each syst

[2021-05-10 16:11] elasticmachine commented on #24976
Pinging @elastic/agent (Team:Agent)

[2021-05-10 16:11] EricDavisX commented on #25181
@ph or @urso when you can make time, can you help review and see if we should poke into it deeper and who should look at it (if not Agent team) ?  Thanks

[2021-05-10 16:15] jsoriano commented on #24991
Hey @carlos9310,

This question probably belongs to discuss https://discuss.elastic.co/, could you please open a new topic there?

If you are opening this as an enhancement request, could you please provide more information about what you are missing and what you would expect?

I am closing this by now, please feel free to reopen if you can provide more information.

Thanks!

[2021-05-10 16:15] #24991 closed

[2021-05-10 16:26] EricDavisX commented on #25561
@dikshachauhan-qasource can you re-test and make sure any relating test cases for the feature area are also passing still?  Thank you.

[2021-05-10 16:33] elasticmachine commented on #25069
Pinging @elastic/integrations (Team:Integrations)

[2021-05-10 16:34] elasticmachine commented on #25107
Pinging @elastic/obs-docs (Team:Docs)

[2021-05-10 16:35] elasticmachine commented on #25134
Pinging @elastic/obs-docs (Team:Docs)

[2021-05-10 16:36] elasticmachine commented on #25135
Pinging @elastic/agent (Team:Agent)

[2021-05-10 16:39] jsoriano commented on #25152
Hey @mapdegree,

Thanks for reporting.

Heartbeat supports [autodiscover](https://www.elastic.co/guide/en/beats/heartbeat/7.12/configuration-autodiscover.html), what allows to define configuration using templates and conditions. With [hints-based autodiscover](https://www.elastic.co/guide/en/beats/heartbeat/7.12/configuration-autodiscover-hints.html), configuration can be also defined in annotatio

[2021-05-10 16:39] elasticmachine commented on #25152
Pinging @elastic/uptime (Team:Uptime)

[2021-05-10 16:44] #25166 closed

[2021-05-10 16:45] EricDavisX commented on #25474
I consider this high impact for Beta user's but not critical.  If the change is well understood and low enough risk, we could merge it for 7.13, even after last BC (to be picked up in the first patch).  Or 7.14 if we have other urgent follow-ups in immediate term.  Thanks Michal, let us know.

[2021-05-10 16:46] elasticmachine commented on #25208
Pinging @elastic/integrations (Team:Integrations)

[2021-05-10 16:47] elasticmachine commented on #25216
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-10 16:47] elasticmachine commented on #25216
Pinging @elastic/obs-docs (Team:Docs)

[2021-05-10 16:48] fearful-symmetry opened #25647 "Refactor how we gather CPU core counts in metricbeat"
This is an attempt at fixing both https://github.com/elastic/beats/issues/23453 and https://github.com/elastic/beats/issues/24600

Right now, many components of the system module, and metricbeat in general, use `runtime.NumCPU()` to gather CPU core counts, either for direct reporting or further calculation. On linux, `NumCPU` uses affinity masks to give us a number of available cores--but this num

[2021-05-10 16:50] EricDavisX commented on #24453
I'm not seeing this anymore in my 8.0 automation 'demo' setup, so I'm closing it - nice work Michal, thank you.

[2021-05-10 16:50] #24453 closed

[2021-05-10 16:51] fearful-symmetry commented on #23453
I've filed https://github.com/elastic/beats/issues/25647, which I'll be using to track this issue going forward, as I'd like to deploy a working solution sometime within the next two releases. Unless there's something unique about this particular manifestation of this issue, I'd like to close this so we can centralize things.

[2021-05-10 16:51] #23453 closed

[2021-05-10 16:53] elasticmachine commented on #25647
Pinging @elastic/integrations (Team:Integrations)

[2021-05-10 17:54] ferullo commented on #25474
I consider it critical. It removes Endpoint on restart. If this isn't critical, what is?

[2021-05-10 19:28] liza-mae opened #25651 "Heartbeat not connecting to Elasticsearch"
For confirmed bugs, please report:
- Version: 8.0.0-SNAPSHOT
- Operating System: Ubuntu 18
- Steps to Reproduce:
1. Install Elasticsearch and Heartbeat
2. Start Heartbeat
3. On all the other beats I get this message like the following in the logs:
[code]
For Heartbeat I am not seeing those messages.  Heartbeat process is running, but I am getting no data, there are no error messages in the logs th

[2021-05-10 19:29] elasticmachine commented on #25651
Pinging @elastic/integrations (Team:Integrations)

[2021-05-10 19:34] elasticmachine commented on #25540
Pinging @elastic/agent (Team:Agent)

[2021-05-10 22:31] WhileLoop commented on #8086
The correct line is `setup.ilm.enabled: false` not `setup.ilm.enable: false`.

[2021-05-11 08:34] jsoriano commented on #25100
Hi @ktpktr0,

Yes, as @legoguy1000 said it is better if we follow with this question in discuss, what is the link to your topic there?

I am going to close this issue, as GH is used only for confirmed bugs and enhancement requests.

[2021-05-11 08:34] #25100 closed

[2021-05-11 09:08] michalpristas commented on #25474
@gogochan what do you mean by workaround using different policy. is just one policy flawed or behavior differs based on policy used?

[2021-05-11 09:26] ktpktr0 commented on #25100
I solved this problem by collecting docker metadata, Thank you for your attention.

[2021-05-11 10:21] F-Potter opened #25657 "Metricbeat 7.12.1 kubernetes.container.memory.usage.limit.pct is calculated incorrectly"
Hi,

Metricbeat is providing the kubernetes.container.memory.usage.limit.pct value by obtaining the memory.max_usage_in_bytes (which can be divined by setting a resource memory limit in the kubernetes deployment) and dividing it by the kubernetes.container.memory.usage.bytes.

While kubernetes is OOM killing containers based on the kubernetes.container.memory.workingset.bytes. Meaning that the kub

[2021-05-11 10:43] dikshachauhan-qasource commented on #25561
Hi @EricDavisX

We have re-validated above scenario and found it **reproducible** for elastic agents with offline status and fleet server agents.

Scenario 1: Agent in healthy status
- unenrolled successfully

Scenario 2: Agent in offline status
- Not unenrolled successfully and stuck in updating state

Scenario 3: Fleet server Agent in healthy status
- Not unenrolled successfully and stuck in upd

[2021-05-11 11:08] paulb-elastic commented on #22932
@mostlyjason / @ph, irrespective of this being bundled or not, what is the behaviour from a Fleet perspective, if the non-Docker version of the Elastic Agent is used (reason for asking is I wonder if this is a similar flow to if we didn’t bundle Synthetics with the image)?

For example, if I install the binary version of the Elastic Agent (non-Docker), and associate this to an Agent Policy which h

[2021-05-11 11:10] ruflin commented on #22932
@paulb-elastic Not much happens today except that you will get an error from the Elastic Agent when rolling out the policy. We should fix this by bringing knowledge about the capabilities of an Elastic Agent to Fleet. There are other features which require this too.

[2021-05-11 11:15] elasticmachine commented on #25143
Pinging @elastic/agent (Team:Agent)

[2021-05-11 11:27] jsoriano commented on #25657
Hi @F-Potter,

`kubernetes.container.memory.workingset.bytes` is only greater than zero in Windows, are your affected nodes running in Windows?

If that is the case, I guess this is similar to the issue with pods, solved by https://github.com/elastic/beats/pull/25428.

[2021-05-11 11:29] elasticmachine commented on #25591
Pinging @elastic/integrations (Team:Integrations)

[2021-05-11 11:31] jsoriano commented on #25613
@hazcod could you give more details about the issue you found? what was the used configuration?

In principle it should be possible to use processors at the input level, on any module, or in the main configuration file.

[2021-05-11 11:35] elasticmachine commented on #25615
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-11 11:36] elasticmachine commented on #25620
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-11 11:39] F-Potter commented on #25657
Hi @jsoriano,

No the affected nodes are all Ubuntu 18.04.5 LTS

[2021-05-11 11:45] F-Potter commented on #25657
![Screenshot 2021-05-11 at 13 44 23](https://user-images.githubusercontent.com/9828931/117809979-1f32eb00-b25f-11eb-8507-25eaba6464c5.png)

[2021-05-11 11:51] EricDavisX commented on #25474
@ferullo good point and context, we're just short on time.  Let's confirm it is at the top of the list Michal and Blake are working.  @mostlyjason @ph do you agree on marking it critical?  I'm adding the flag now.

[2021-05-11 11:54] jsoriano commented on #25613
@hazcod processors may be configured only in the main configuration file, or at the input level (see [processors docs](https://www.elastic.co/guide/en/beats/filebeat/7.12/defining-processors.html#where-valid)), not at the module level.

But overriding the processors in a module input is a bit tricky, specially for modules that already define their own processors, and don't include additional optio

[2021-05-11 11:54] #25613 closed

[2021-05-11 11:55] elasticmachine commented on #18925
Pinging @elastic/agent (Team:Agent)

[2021-05-11 12:18] ph commented on #25474
@michalpristas I can help in any way, please reach out.

[2021-05-11 12:19] F-Potter commented on #25657
@brianharwell will look at it, not sure if it stops at 100% or goes over it, but the issue is more that the wrong value is measured, since k8s is looking at the kubernetes.container.memory.workingset.bytes. So monitoring a different value will result in a different percentage which results in wrong alerting

[2021-05-11 12:22] F-Potter commented on #25657
The limit.pct stops at 1 (100%), so won't get higher than that.

[2021-05-11 12:38] ph commented on #25621
@anaconda2196 Looking at the title, are you testing this in metricbeat v6.6.6? If this is the case can you try in a more recent version? We have released recently 7.12

[2021-05-11 12:52] dikshachauhan-qasource opened #25661 "[Mac Mini ]: Unable to install Elastic agent due to existing Endpoint folder"
On attempting to install elastic agent using below command at MAc mini machine we observed following erro.

**Command used**: 'sudo ./elastic-agent install -f --url=https://86bd19eee17f4c7c8782b598a2fdea07.fleet.us-central1.gcp.foundit.no:443 --enrollment-token=a2hMaFZYa0JtZEh5OHFrcEhDM2Y6YzVDb2NmUmZURm11MEZ1MjFmblFLZw=='

Error message shown up:
![image](https://user-images.githubusercontent.com/

[2021-05-11 13:19] justinkambic commented on #25569
We are working to merge https://github.com/elastic/integrations/pull/981 which should address part of the problem we had getting Heartbeat functionality working again. I am still seeing logs of Filebeat trying to run as part of the integration, however, and it not being able to write to its `path.data` directory.

[code]

[2021-05-11 13:25] EricDavisX commented on #25507
Sounds good @ruflin.  I logged this for the separate Kibana work: https://github.com/elastic/kibana/issues/99788
 and I updated the short desc here to be specific of improving the log level to not be an 'Error' if we can predict it is a known situation and is not actually severe.

This issue is more severe and will remain open for the fact that sometimes the log level just isn't updated:
https://g

[2021-05-11 13:33] dikshachauhan-qasource commented on #25385
Hi @EricDavisX

While performing testing today on 7.13BC4 build, we have observed this issue is now no more reproducible. We are now able to update Agent logging level and updated level is reflected at all places with 2 mins max.

Build details:
[code]

Hence we are closing this issue.

Thanks
QAS

[2021-05-11 14:23] EricDavisX commented on #25561
@dikshachauhan-qasource I will re-open this, but we need to know the version (and specific hash, preferably) of the Agent tested with.

@blakerouse FYI.

[2021-05-11 15:09] EricDavisX opened #25667 "[Agent] The Agent shows as offline sometimes in the Kibana UI, even though it may still be online"
For confirmed bugs, please report:
- Version: 7.13 BC4 and latest 7.13 Snapshot / 8.0 snapshot

- Operating System: linux / windows / macOS

- Steps to Reproduce:
TBD, not sure what causes it or what the timing is, but if you monitor an Agent over an hour or more it seems to go offline and then come back.

I'm logging this as it has been seen and discussed in slack and we'll want to find a case ev

[2021-05-11 15:09] elasticmachine commented on #25667
Pinging @elastic/agent (Team:Agent)

[2021-05-11 15:14] EricDavisX opened #25668 "[Agent] Upgrade of Agent from 7.13 to 7.14 (when Endpoint is included) fails."
Elastic Agent fails to upgrade from 7.14 to 8.0 on the 8.0 Demo / Test Server deployed for fleet Team use.

For confirmed bugs, please report:
- Version: 7.14 / 8.0
- Operating System:  Windows 2019

Steps to Reproduce:
- deploy environment, contact Eric for details if you need
- 7.14 "stale" version Agent is deployed successfully to 8.0 Fleet Server
- attempt to upgrade 7.14 Agent.
- it begins, b

[2021-05-11 15:14] elasticmachine commented on #25668
Pinging @elastic/agent (Team:Agent)

[2021-05-11 15:22] EricDavisX commented on #25668
Below is another set of logs from a second try at upgrading:

[code]

[2021-05-11 15:39] EricDavisX commented on #25561
@dikshachauhan-qasource also, we'd likely be helped if we could get the Agent logs off of the host that would speed up debugging too.

[2021-05-11 15:41] gogochan commented on #25474
@michalpristas What I meant was, if I go to fleet, and trigger policy update, then Agent re-installs the Endpoint.

[2021-05-11 15:56] EricDavisX commented on #25667
@ph @ruflin @mostlyjason should we bump this to 'critical' for 7.13 or no?

[2021-05-11 16:16] #13652 closed

[2021-05-11 16:16] #18219 closed

[2021-05-11 16:16] #18213 closed

[2021-05-11 16:25] kuisathaverat opened #25669 "[Agent] the KIBANA_HOST URL is not honored"
The URL in the `KIBANA_HOST` environment variable is not honored, if you do not set a port in that variable the port `5601` is set.

For confirmed bugs, please report:
- Version: 8.0.0.0-SNAPSHOT
- Operating System: Linux CentOS 7 (Docker container)
- Steps to Reproduce:

Execute the following Docker command to connect the Elastic Agent.

[code]

These are the logs the URL has an additional port `

[2021-05-11 16:33] jen-huang commented on #25420
Another similar issue #25669 came up where agent defaults to `5601` for Kibana port when there isn't one defined.

On Kibana side we also had to do a fix to always expose Elasticsearch port too https://github.com/elastic/kibana/pull/99240 as agent will default to `9200`.

Can we get rid of these default ports altogether?

[2021-05-11 16:42] ph commented on #25669
@kuisathaverat OK, So you would prefer we do not default to 5601, but instead to 80 or 443? We are actually inheriting that logic from libbeat, were a kibana host or URL would always default to 5601.

[2021-05-11 17:18] ph commented on #12562
@jose-caballero Not it doesn't mean that, we just closed stalled issue after a few months. We haven't prioritized this enhancement yet.

[2021-05-11 17:39] EricDavisX commented on #25661
Hi - I took a look and I don't know how it got to this state I'm afraid.  I used a 'history' command and see only the attempts to remove the the orphaned 'Endpoint' directory.  So, if anyone knows how it got to this state that would help.

I have uninstalled the Endpoint, as follows, and testing can continue:

dc@assurancetourix ~ % ps ax | grep elastic
  116   ??  ?s     0:00.00 /Library/Elastic/

[2021-05-11 17:56] ph commented on #25668
@blakerouse @michalpristas  Is this possible that the Elastic Agent doesn't report the success of the upgrade?

[2021-05-11 18:13] btvmunoz opened #25670 "[Agent]: Microsoft Module (ATP) keeps showing permission errors"
Filebeat 7.11, Microsoft Module
OS: Ubuntu
Steps to Reproduce:
- Enabled Microsoft module after doing the configuration
- Per the documentation the permissions required have been given
- All permissions added to confirm if this is the issue
- Verifying through Journalctl reveals that it still requires permissions even though it has all of them

![image](https://user-images.githubusercontent.com/37

[2021-05-11 18:31] EricDavisX commented on #25667
I only meant 'looking at the Agent details page', PH.

In discussion with PH and Jen we are assessing if this is a resource constraint problem.  The memory + CPU are quite small on the Linux hosts (Fleet Server is separate) as a GCP -micro resoruce.  Due to improved reporting on the Fleet Server side, this issue may be surfacing now, when it didn't in the past.

We need to confirm this theory and

[2021-05-11 18:42] ph commented on #25667
@blakerouse Could that be a possible explanation for the inconsistent behavior like stuck in unenrolling, or offline / online state changes? Is that possible, if this is possible could you test that possibility?

[2021-05-11 18:54] blakerouse commented on #25667
@EricDavisX have you ruled out that an error is not occurring on the Elastic Agent and it is reporting an error to Kibana and that is why it is showing unhealthy? Do you have the logs from the host showing this behavior?

[2021-05-11 19:04] blakerouse commented on #25586
I am a little lost on the steps here. So it was a 7.12 installation before connected to QA cloud? Then you upgraded the cloud deployment to 7.13 (running a Fleet Server), and your trying to enroll the Elastic Agent into that Fleet Server using a newly downloaded 7.13?

The newly extracted Elastic Agent will not read anything from the existing installation from the disk. So I question what Kibana i

[2021-05-11 19:49] EricDavisX commented on #25667
I don't have logs, we need to gather them.  We have several systems showing this off, one is behind Endgame VPN, one is behind Elastic vault credentials in our main demo setup.  I will circle back to this after other follow-ups in progress.  We were hoping to pull in more folks to test (don't want to put all research on your shoulders or Michal's).  Let's see if anyone has time, and I"ll work this

[2021-05-11 20:16] mukeshelastic commented on #25586
@blakerouse happy to clarify the repro steps.

1. A 7.12-snapshot deployment was spun in the qa.cld.elstc.co environment with single apm instance.
2. I went to Kibana and enabled fleet ( this is pre-fleet-server implementation) and enrolled an agent.
3. I came back to cloud console and upgraded the deployment to 7.13-snapshot.
4. I went to fleet UI and was asked to re-enroll the agent.
5. I re-enr

[2021-05-11 20:36] EricDavisX commented on #25668
I've set up a 7.14 system (and while we don't know if it is stable) it seems to be working well enough.  This is a 7.14 snapshot on Cloud-staging and Fleet Server seemed stable, as shown in logging.  I then installed a latest snapshot 7.13 linux agent on a known good working host, and it installed and it seems ok and then the upgrade seems to be ok as well, no unaccounted for errors in logs.

Also

[2021-05-11 20:45] ph opened #25672 "Revert code from the Licenser for APM-Server"
APM-Server was using code inside the **Licenser** to check if the remote cluster had a platinum license.

https://github.com/elastic/apm-server/blob/b0cd96dcd1989c655969b96f492ae1ecc252c48c/x-pack/apm-server/main.go#L100-L104

[code]

When we merged the PR https://github.com/elastic/beats/pull/25351 we actually broke a feature inside APM, they use code to verify the remote version of the cluster.

[2021-05-11 20:45] elasticmachine commented on #25672
Pinging @elastic/agent (Team:Agent)

[2021-05-11 21:04] blakerouse commented on #25586
@mukeshelastic Could you provide the logs of the Elastic Agent? Looking at the logs is the best way for me to see what occurred.

[2021-05-11 21:09] mukeshelastic commented on #25586
The deployment gets deleted periodically so don't have logs for it :-/  FWIW, it looks similar story as #25667. i will spin up a deployment and test out now.

[2021-05-11 21:53] mukeshelastic commented on #25586
Here is the log line that shows the checkin failed:

`14:42:36.571
elastic_agent
[elastic_agent][error] Could not communicate with Checking API will retry, error: fail to checkin to fleet: Post "https://5994bc11a32c4e06b52306cc3cb448cc.fleet.us-central1.gcp.qa.cld.elstc.co:443/api/fleet/agents/f70a15b0-a618-43be-b723-11bb5f6f0b4c/checkin?": net/http: request canceled (Client.Timeout exceeded while

[2021-05-11 23:42] andrewkroh commented on #25620
Is https://github.com/dropbox/goebpf the project to which you are referring? Is there full packet capture example somewhere to get an idea of how much effort it would be to integrate?

[2021-05-12 00:25] EricDavisX commented on #25668
OK, Endpoint test is failed - but I don't know if it is a version compatibility or just regular old bug in 7.14 Agent/Endpoint integration.  It will take more time to research.
[7.13-Agent-7.14-FS-Endpoint-errors.log](https://github.com/elastic/beats/files/6462627/7.13-Agent-7.14-FS-Endpoint-errors.log)

I may short circuit that and ask @jesse-sant and @ferullo if they know of any bugs in 7.14 End

[2021-05-12 00:38] axw commented on #25672
I don't think we necessarily need to revert, as I don't think the implementation we had was ideal. What we need is to be able to check the license level is Platinum+ and dynamically enable/disable a specific feature. We can still do that after the changes in https://github.com/elastic/beats/pull/25351.

[2021-05-12 02:24] manning23 commented on #25620
I think you can look at this case, https://github.com/dropbox/goebpf/blob/master/examples/xdp/xdp_dump/main.go.

[2021-05-12 02:27] ferullo commented on #25668
There must be more logs than just that. I don't know the status of 7.14 for sure, but it should work with Fleet Server. Those logs don't indicate any special failures that would be related to an upgrade issue. They look like just a few random logs from Endpoint's initial start up.

The agent logs seem to indicate Endpoint is running file (it is always in a RUNNING state) but that agent fails to co

[2021-05-12 06:34] simitt commented on #25672
fixed in https://github.com/elastic/apm-server/pull/5252

[2021-05-12 06:48] #25672 closed

[2021-05-12 08:00] dikshachauhan-qasource commented on #25661
Hi @EricDavisX

Thanks for resolving it out.

Further, I'll try validate install / uninstall with every possible combination on Mac M1 machine and will update our observations if found anything troublesome that need to be tracked.

Thanks
QAS

[2021-05-12 08:29] elasticmachine commented on #25670
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-12 08:33] jamiehynds commented on #25670
@P1llus have you come across any similar permission errors with ATP in the past?

[2021-05-12 10:20] dikshachauhan-qasource commented on #25561
Hi @EricDavisX @blakerouse

We have validated this today on CLOUD-QA builds too and found reproducible.Please find the logs in attachment below.

[Fleet_agentLogs.zip](https://github.com/elastic/beats/files/6465483/Fleet_agentLogs.zip)
[elastic-agent-havingStatusOFFline.log](https://github.com/elastic/beats/files/6465484/elastic-agent-havingStatusOFFline.log)

Thanks
QAS

[2021-05-12 10:41] #24722 closed

[2021-05-12 10:41] #24724 closed

[2021-05-12 11:19] #25474 closed

[2021-05-12 11:20] kvch commented on #24925
Yes, `VerifyConnection` was introduced in Golang 1.15 and on GCP the most up to date Golang environment is 1.13. We need some conditional building to make sure it works with older Golang versions.

[2021-05-12 11:23] kvch commented on #25181
This issue resurfaces from time to time. However, I could never reproduce it no matter what I did.

The recommended way to install ML job is using Kibana, not Beats. The current `--machine-learning` and the whole ordeal is deprecated and going to be removed soon.

[2021-05-12 11:34] dikshachauhan-qasource commented on #24610
Hi @EricDavisX

We have validated this ticket today on cloud-qa build and found it **not reproducible**. Build details are follows:
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/72375798/117968512-e3be1c80-b343-11eb-9023-b6c1fffbe3f6.png)

Please let me know if anything else is required.

Thanks
QAS

[2021-05-12 12:07] blakerouse commented on #25569
@justinkambic Could you provide the policy configuration that was showing the filebeat error in the logs? That would ensure I am running the same thing for me to reproduce.

[2021-05-12 12:12] Notelzg opened #25685 "filebeat 7.12.1 logging.files.permissions: 0644 no work"
filebeat 7.12.1  logging.files.permissions: 0644 no work

Please include configurations and logs if available.
logging.level: debug
logging.selectors: ["*"]
logging.to_files: true
logging.files:
  path: /usr/local/Caskroom/filebeat-7.12.1-darwin-x86_64/log
  name: mifi-filebeat
  keepfiles: 7
  permissions: 0644

when i run filebeat with cmd: ./filebeat -c filebeat.yml
ls -alh /usr/local/Caskroom/

[2021-05-12 12:19] blakerouse commented on #25561
From the logs it's clear that for some reason the API keys had already been invalidated before the ACK was sent to the Fleet Server. Fleet Server only invalidates the API keys once it receives the ACK, so something strange is occurring here.

[code]

As for the logs in the `elastic-agent-havingStatusOFFline.log`, is that a different host with a different issue? That one seems to be failing to chec

[2021-05-12 12:35] #24610 closed

[2021-05-12 12:36] ph commented on #24610
Closing this from last comment.

[2021-05-12 12:38] ph commented on #25181
@kvch I think it's fair, we will not fix that in beats, the elastic agent and integration are the new way to go. I will keep open but I think we should  not dedicate time in it.

[2021-05-12 12:44] ph commented on #24925
So, this means that functionbeat in the latest revision doesn't work when using TLS options.

[2021-05-12 12:44] legoguy1000 commented on #24350
@felix-lessoer can you provide additional HIP Match logs.  I have built the pipeline and only have 1 sample to test.

[2021-05-12 12:58] legoguy1000 commented on #24350
PR opened, let me know if there are any changes needed.

[2021-05-12 13:27] BenB196 opened #25689 "[Filebeat][Okta] Ingest Pipeline for Okta Module drops debug_context fields"
The following needs to be added to the Filebeat mapping:

[code]

The following processors need to be added to the ingest pipeline prior to json being dropped:

[code]

For confirmed bugs, please report:
- Version: 7.12.1
- Operating System: Docker
- Discuss Forum URL: https://discuss.elastic.co/t/okta-module-drops-a-lot-of-debugcontext-information-from-events/272588
- Steps to Reproduce:

[2021-05-12 13:39] jsoriano opened #25690 "Add docs about metrics collected from master with node scope in ES module"
Elasticsearch module with default configuration only collects metrics from local nodes (`scope: node`). Some metricsets only collect metrics from master nodes, this means that some metrics are not collected unless Metricbeat is running in the master nodes. This is confusing for some users that cannot find some metrics when trying this monitoring approach.

The `scope: node` default is expected, be

[2021-05-12 13:39] elasticmachine commented on #25690
Pinging @elastic/stack-monitoring (Stack monitoring)

[2021-05-12 13:39] elasticmachine commented on #25690
Pinging @elastic/integrations (Team:Integrations)

[2021-05-12 13:39] elasticmachine commented on #25690
Pinging @elastic/obs-docs (Team:Docs)

[2021-05-12 13:43] andrewvc commented on #25059
I understand why it looks like these are unneeded files, however these are all requirements for synthetics. Synthetics uses node JS hence the `.node` and `npm` directories.  The `.cache` directory contains the chromium browser. If you haven't had a chance to check out synthetics the [docs](https://www.elastic.co/guide/en/observability/master/synthetic-monitoring.html) are worth the read.

That sai

[2021-05-12 14:01] blakerouse commented on #25561
@dikshachauhan-qasource I am not able to reproduce this morning using QA cloud with Elastic Agent running on Mac OS X. Maybe it is an issue specific to a OS type, what OS and OS version are you running the Elastic Agent on? I want to be a similar in your setup as possible.

[2021-05-12 14:08] jsoriano commented on #25630
Reopening, fix still not merged.

[2021-05-12 14:27] elasticmachine commented on #25689
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-12 14:28] jamiehynds commented on #25689
Thanks for taking the time to adjust the pipeline @BenB196. Could you submit a PR and we can work through your additions there?

[2021-05-12 14:39] ph commented on #25586
@mukeshelastic The two checking is from 5 minute away, this might be a long pooling timeout. Does the Agent is marked as heathy in Fleet?

[2021-05-12 14:42] #19129 closed

[2021-05-12 14:49] ph commented on #25668
Thanks @EricDavisX, lets us know.

[2021-05-12 15:16] #18239 closed

[2021-05-12 15:23] ph commented on #25135
After discussing in the sync we will look into this, we have a rollback mechanism.  @kvch will investigate it.

[2021-05-12 15:25] dikshachauhan-qasource commented on #25561
I have attempted both agents on Linux centos 7.6 machines. Please let me know if anything else is required.

[2021-05-12 15:25] #18324 closed

[2021-05-12 15:47] ferullo commented on #25668
@EricDavisX after attempting an upgrade can you grab Agent logs and Endpoint logs (`c:\Program Files\Elastic\Endpoint\state\log\*` and run `c:\Program Files\Elastic\Endpoint\elastic-endpoint.exe version` so we know what Endpoint version is currently running (including build info). Thanks!

[2021-05-12 15:52] jsoriano opened #25692 "Re-enable update for bind-license in ARM docker builds"
Opening this issue as a reminder to remove `-x bind-license` from yum updates in ARM docker builds when the issues with this package are solved.

#25679 excluded `bind-license` from yum updates because the download of the package was failing with errors like the following one:

[code]

[2021-05-12 15:52] elasticmachine commented on #25692
Pinging @elastic/agent (Team:Agent)

[2021-05-12 17:16] mukeshelastic commented on #25586
That's right, the polling time is five minutes which I believe is much longer than expected ( 30 seconds?)

The agent shows offline, likely because of the timeouts.

[2021-05-12 17:28] ph commented on #25586
@mukeshelastic I think you are confusing the implementation, the elastic agent will connect to fleet server and keep that connection open, if there an action to execute or a policy change it will retrieve it and ACK. When there is nothing to do it will just hang and wait for a timeout and reconnect.

[2021-05-12 17:38] mukeshelastic commented on #25586
ah.. thanks for clarification. Don't want to derail this discussion on the architectural questions but I assumed there is some frequent health "checkin" between agents and fleet-server independent of whether there is a policy update or not. Either ways, l will dig into how things work separately outside of this issue.

[2021-05-12 19:37] cskowronnek commented on #9232
Any updates?

[2021-05-12 19:37] ph commented on #24193
After discussion with @michel-laterman This seems to be required now to upgrade to the latest 1.16 version of golang.

[2021-05-12 19:52] michel-laterman commented on #24193
In my attempts to update to go 1.16.4, the darwin crossbuild is failing with the error message
[code]
seen here https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats/detail/PR-25671/6/pipeline/6405/
The release notes for go 1.16 state it's the latest version that will work with macos 10.12 https://golang.org/doc/go1.16#darwin
So we should update our crossbuild image to use 10.13+

[2021-05-12 20:01] ph commented on #24193
That seems safe to update to 10.13 this is an old version.  I think @urso you were right on this update there a few things that is required to do.

[2021-05-12 21:35] EricDavisX commented on #25668
I ran an upgrade again on this linux host and it worked.  I had a separate 7.14 Agent deployed w Agent that shows it should work, and of course it does then.  I do see some concerning Endpoint log lines but as noted we can manage this separately:

[elastic_agent.endpoint_security][error] Artifacts.cpp:2676 Failed to download artifact diagnostic-configuration-v1 - Invalid url
[elastic_agent.endpoin

[2021-05-12 22:01] ppf2 opened #25697 "S3 input: Add fallback configuration for content type so that events can be decoded"
If the S3 object has a `Content-Type` of `application/json`, we will decode it as JSON in the input.  Sometimes, the uploaded S3 objects do not have content type set.  For these cases, it will be helpful to have an optional configuration to tell the S3 input to fallback to a specified content type of choice when no Content-Type is specified so that we will still attempt to decode them.

@andrewkro

[2021-05-12 22:32] elasticmachine commented on #25697
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-13 07:12] ChrsMark commented on #16974
Should be covered by https://github.com/elastic/beats/pull/23610. Closing for now.

[2021-05-13 07:12] #16974 closed

[2021-05-13 09:13] mukeshelastic commented on #25586
The elastic agent version is as follows:

mukeshgadiya@Mukeshs-MBP elastic-agent-7.13.0-SNAPSHOT-darwin-x86_64 % ./elastic-agent version --yaml
binary:
  version: 7.13.0
  commit: 035664e68274216424b77147f959e910dc2bfc5c
  build_time: 2021-05-10T16:26:25Z
  snapshot: true
failed to communicate with running daemon: rpc error: code = Unavailable desc = connection error: desc = "transport: Error whil

[2021-05-13 09:16] #12207 closed

[2021-05-13 11:25] #24917 closed

[2021-05-13 11:58] liza-mae commented on #25651
This is now occurring on 7.13, so a recent backport to this branch (within the last two days) is causing this.

[2021-05-13 12:17] blakerouse commented on #25586
@mukeshelastic Please check the Fleet Server URL setting in the Kibana URL. I believe that it is missing the `:443` port in the URL and that is what is causing your issue.

[2021-05-13 12:48] #25637 closed

[2021-05-13 13:05] ph commented on #23753
@mostlyjason Is this still the case? talking with the teams we are reporting these kind problems now in the log.

[2021-05-13 13:07] ph commented on #25030
@mostlyjason @ruflin We need definition for this to implement in 7.14.

[2021-05-13 13:11] mostlyjason opened #25705 "[Elastic Agent] Include certificate fingerprint in Fleet enrollment token"
**Describe the enhancement:**
When a user is getting started with Fleet in a self-managed cluster, they need to generate certificates for Fleet Server that are trusted by enrolling Elastic Agents. Their choices today are between a difficult path for generating production certificates or an insecure path to get started faster. We would like to make it possible for users to get started quickly and h

[2021-05-13 13:11] elasticmachine commented on #25705
Pinging @elastic/fleet (Team:Fleet)

[2021-05-13 13:11] elasticmachine commented on #25705
Pinging @elastic/agent (Team:Agent)

[2021-05-13 13:27] ph commented on #25391
We shouldn't change beats but we could change Fleet Server format.

[2021-05-13 13:48] seadub commented on #24572
+1. Would prefer to have a daily rotation for maintenance purposes. `filebeat.${yyyy-mm-dd}.log` would be ideal.

[2021-05-13 13:50] ph commented on #23979
@masci I moved this issue to integration since its related to hints autodiscovery.

[2021-05-13 13:59] elasticmachine commented on #25651
Pinging @elastic/uptime (Team:Uptime)

[2021-05-13 14:15] ph commented on #25569
@paulb-elastic @justinkambic Can you give us the policy configuration that you are using that generate the above issue? We haven't found this issue in our code at that with the existing beats. We have marked it as a blocker but I would like to remove the label.

[2021-05-13 14:20] mukeshelastic commented on #25586
it does have 443 port in it.

<img width="868" alt="Screen Shot 2021-05-13 at 7 12 15 AM" src="https://user-images.githubusercontent.com/59452300/118138870-a9906180-b3bb-11eb-93c1-ff24d2f532d0.png">

The elastic agent logs are as follows:

`07:13:11.517
elastic_agent
[elastic_agent][info] 2021-05-13T07:13:11-07:00 - message: Application: metricbeat--7.13.0-SNAPSHOT[9f19a42c-e0a7-4214-a39e-07d5ef55

[2021-05-13 14:26] blakerouse commented on #25586
@mukeshelastic can you attach the `state.yml`? that should include the configuration that the Fleet Server sent the Elastic Agent, something is a-miss here.

[2021-05-13 14:26] blakerouse commented on #25586
@simitt Have you seen this in the cloud?

[2021-05-13 14:28] ph commented on #25651
@liza-mae you are able to reproduce it constantly, but only with heartbeat? The  only thing that I could think of is the adding #25351. But that should affect all the beats and not only heartbeat.

Can you start heartbeat with `--httpprof "localhost:8080` and do the following.

- Wait a few seconds
- Take a goroutine dump `curl -q http://localhost:8080/debug/pprof/goroutine?debug=2 > goroutine1.du

[2021-05-13 14:32] ph commented on #25651
@andrewvc Anything on your side that you think could generate the above behavior?

[2021-05-13 14:55] faec commented on #25405
Confirmed that this is no longer happening in local snapshots or nightly builds. Closing, though we can reopen if this is spotted again independent of #25341.

[2021-05-13 14:55] #25405 closed

[2021-05-13 15:31] liza-mae commented on #25651
@ph yes it is reproducible and just heartbeat.   Attaching pprof logs.

[goroutine1.dump.txt](https://github.com/elastic/beats/files/6473491/goroutine1.dump.txt)
[goroutine2.dump.txt](https://github.com/elastic/beats/files/6473493/goroutine2.dump.txt)
[goroutine3.dump.txt](https://github.com/elastic/beats/files/6473494/goroutine3.dump.txt)

[2021-05-13 15:36] EricDavisX commented on #25474
This is not in 7.13 BC5 - will need to wait for BC6 or a snapshot of 7.13 on date 7/14/2021 or beyond.
@dikshachauhan-qasource do we have a test case for this already?

[2021-05-13 16:00] justinkambic commented on #25569
Hi @ph, we discovered an issue in our synthetics package that [we've subsequently fixed](https://github.com/elastic/integrations/pull/981); Heartbeat functions the way we'd expect now. The policy that led us to open this issue can be found here: https://gist.github.com/justinkambic/3f65fbd42c68dd5b9145ba1790fb6779

The only remaining unexpected behavior I see at this point is that the logs for my

[2021-05-13 16:46] blakerouse commented on #25569
@justinkambic Elastic Agent runs Filebeat to collect logs for the running beats. So Filebeat should be running to collect the logs from Heartbeat. Is that the filebeat you are speaking of?

[2021-05-13 18:08] ph commented on #25569
This seems to be resolved, going to remove blocker.

If @justinkambic I think the running filebeat is indeed the internal collection that we are running.

[2021-05-13 19:02] ph commented on #25651
I don't see anything obvious in the goroutine dump, I don't run into issues here with the minimal configuration I am running. @liza-mae could you share your configuration?

@paulb-elastic is there someone from your side that could help us on this issue?

[2021-05-13 19:41] EricDavisX opened #25709 "[Agent] When Agent host (on Windows) is rebooted, the Fleet-Server seems to reconnect w Agents but then stops sending its own logs to ES"
Tested with the 7.13 BC5 Build of Agent.  Tested on Cloud-prod but I was setting up my own 'self managed' Fleet Server instance.

So I'm just doing regular user host type scenarios testing, doing some ‘reboot’ Agent (and Fleet Server) tests and find that on my Windows host, it reboots and reconnects to any Agents as needed (they go back healthy from briefly being off-line) and logs a few messages.

[2021-05-13 19:41] elasticmachine commented on #25709
Pinging @elastic/agent (Team:Agent)

[2021-05-13 19:45] EricDavisX commented on #25709
it feels kinda urgent since FS stops ingesting logs when rebooted, until an arbitrary policy update (like Kibana FS url change) jiggles it back to life (wherein all of the logs from disk are sent and ingested)

[2021-05-13 19:46] liza-mae commented on #25651
@ph attached is my configuration.

[heartbeat.yml.txt](https://github.com/elastic/beats/files/6474728/heartbeat.yml.txt)

[2021-05-13 20:04] andrewvc commented on #25651
I think we can file this as not a bug. https://github.com/elastic/beats/pull/25592 introduced this change in behavior. In that PR we no longer set a default monitor. Since heartbeat only connects to elasticsearch when it has data to send it does not connect in your situation because there is no monitor data to provoke the elasticsearch output code to connect.

To change this all you have to do is

[2021-05-13 20:04] andrewvc commented on #25651
To clarify this is not really a behavior change but rather a default config file change. The application code is identical.

[2021-05-13 20:08] liza-mae commented on #25651
Yes that fixed, thanks @andrewvc

[2021-05-13 20:08] #25651 closed

[2021-05-13 20:09] EricDavisX commented on #25561
I have reproduced this on Windows 7 as the Fleet Server Agent host, using Cloud prod and latest BC, BC5 of 7.13 for stack and Agent code.  I can attach additional logging if helpful.

[logs.zip](https://github.com/elastic/beats/files/6474809/logs.zip)

So, it isn't specific to a given VM or OS.  This would impact cloud, if it is seen on Linux.

And I don't think anything on the 'cloud' side should

[2021-05-13 20:10] EricDavisX commented on #25667
I'm going to leave an Agent running for a bit and see what comes, but with BC5 tested with a self-managed Fleet Server host I'm not seeing this.  Let's hope it is gone.  I'll report back

[2021-05-13 20:25] ph commented on #25709
I agree on the urgency here, @michalpristas Can you take look ?

[2021-05-13 23:57] afeno commented on #14348
I see after more than 1 year this issue was marked as a "bug". Does it means that someone will have a look and try to fix it?
What can we use as a workaround? Can someone help me to find a temporarily solution until this bug is fixed?

[2021-05-14 00:03] #25586 closed

[2021-05-14 01:47] EricDavisX commented on #25668
I tested on 7.13->7.14 Agent upgrade and it was slower than expected.  It took about 5 minutes from initiating the upgrade to seeing Endpoint reflected with correct version in the Security UI.  The Agent shows the version update fairly quickly, perhaps that is where the perceived slowness comes in... I may not be giving fair time for Endpoint to fully un-install, then re-install a new version.

I

[2021-05-14 01:59] ph commented on #25668
This is a possibility, when we get the logs we should "time" the different
operations just to have an idea if they are reasonable.

On Thu, May 13, 2021 at 9:47 PM Eric Davis ***@***.***> wrote:

--
--
ph

[2021-05-14 04:02] anaconda2196 commented on #25621
@ph Thank you for your reply. No, I am using v6.6.0 and I have no longer plan use latest version. So, is it the bug in V6.6.0? Do I have to copy every time my keystore from --path.config to --path.data to run metricbeat service?

[2021-05-14 07:02] jpuris commented on #14348
@afeno I was not able to reproduce this issue when I was working on postgresql ingest pipeline. Please see https://github.com/elastic/beats/issues/14348#issuecomment-770358979 for more detail.

What version of beats are you using?

[2021-05-14 09:22] nerophon opened #25720 "Filebeat Cisco module missing some capabilities"
We have found that the current Cisco/ios logic isn't sufficient to parse the logs from some Cisco software. Attached are some sample logs we currently fail to parse correctly, along with accompanying macro logic for them. This issue originated from an internal escalation; please check the link for additional background and helpful resources if needed.

[Archive.zip](https://github.com/elastic/beat

[2021-05-14 09:22] elasticmachine commented on #25720
Pinging @elastic/integrations (Team:Integrations)

[2021-05-14 09:23] rafalj4 commented on #23814
I would like to remind myself once again in this topic

[2021-05-14 09:59] paulb-elastic commented on #22932
This has been discussed and although simpler for onboarding, we can’t ignore the additional space overhead of bundling Synthetics+dependencies with the Docker build of Elastic Agent.

As such, to proceed with this, we will be opting for a separate Docker build of the Elastic Agent+Synthetics+Dependencies and clarify in the [documentation](https://github.com/elastic/observability-docs/issues/668) a

[2021-05-14 11:29] dikshachauhan-qasource commented on #25474
Hi Eric.

We have test cases for this scenarios and had also covered in 7.13 regression plan. As per our coverage we have below scenario in our testcase:

- Install agent with endpoint.
- Verify all binaries are in executing state
- Stop the agent from services
- Wait for 1-2 mins
- Agent went offline
- Endpoint is no more visible on Admin tab.
- Restart the agent
- Verify agent comes back and is

[2021-05-14 11:36] kvch commented on #25606
@ycombinator Is this still an issue? I have tried to reproduce the problem locally, but everything seems to work.

[2021-05-14 11:43] ycombinator commented on #25606
Let me try to reproduce from a clean slate using the latest Agent 7.13.0 SNAPSHOT and see if this is still an issue.

[2021-05-14 12:00] dikshachauhan-qasource commented on #25474
Further, we have created a new testcases below for complete coverage of above scenario.

Test case Link: [C79010](https://elastic.testrail.io/index.php?/cases/view/79010)

[2021-05-14 12:05] dikshachauhan-qasource commented on #25561
Yes Eric, we have also attempted to unenroll today fleet server agent on windows 10 machine and was left in state of updating.

So we used force unenroll option to get out of situation.

[2021-05-14 13:50] #25615 closed

[2021-05-14 13:59] EricDavisX commented on #25709
in triage with team we find that the Agent 'status' call returns that Metricbeat and Filebeat are 'stopping'.  screenshot, and all logs attached.
[win-7-logging-logs.zip](https://github.com/elastic/beats/files/6479238/win-7-logging-logs.zip)
![Screen Shot 2021-05-14 at 9 55 57 AM](https://user-images.githubusercontent.com/12970373/118281262-03b42400-b49b-11eb-83da-60e3e824f1b6.png)

[2021-05-14 14:52] EricDavisX commented on #25709
[win7-correctlogs.zip](https://github.com/elastic/beats/files/6479563/win7-correctlogs.zip)
I attached the wrong logss zip prior - this is the correct one

[2021-05-14 15:00] EricDavisX commented on #25709
want to link this issue and https://github.com/elastic/fleet-server/issues/271 which we think may be the same root cause, or at least are related.

[2021-05-14 15:06] mostlyjason commented on #22932
@paul-tavares I jsut want to answer your question:

If you add synthetics to the [blocklist](https://github.com/elastic/beats/issues/21000) that gets bundled by default in distributions of the agent without synthetics, then the user will see the agent show up as unhealthy on the agents page and they will be able to see an error that synthetics is blocked. Without adding it to the blocklist, the ag

[2021-05-14 15:48] michalpristas commented on #25709
what we're seeing is that
agent is started ok
agent configures beats and fleet server is running ok.
logs are showing in the UI

then full host restart happens `"@timestamp":"2021-05-14T09:29:16.102-0400"`
agent recovers configuration from state.
correctly start beats and monitoring beats and fleet server.
elastic output is correctly set in monitoring beats `"@timestamp":"2021-05-14T09:30:28.185-0

[2021-05-14 16:18] michalpristas commented on #25709
as @blakerouse correctly mentioned this is coming from `x-pack/elastic-agent/pkg/agent/application/gateway/fleetserver/fleet_gateway_local.go`
[code]

this was fixed in https://github.com/elastic/beats/pull/25664 but did not make it into bc5

[2021-05-14 17:57] justinkambic commented on #25569
We can likely close this issue then. Will reopen if anything relevant arises.

[2021-05-14 17:57] #25569 closed

[2021-05-14 20:10] EricDavisX commented on #25709
I saw a request for a new BC sooner than next week - so we can plan to test it all the sooner.  We could also pull the snapshot build of 7.13.  @amolnater-qasource @dikshachauhan-qasource can you re-test this when you get in (with the snapshot 7.13 build) ?

[2021-05-14 20:13] ycombinator commented on #25606
Starting from a clean slate I don't even see any log files under `/Library/Elastic/Agent` like I was before. 😂

[code]

Closing this issue for now. 🤷

[2021-05-14 20:13] #25606 closed

[2021-05-14 21:52] a03nikki opened #25724 "Metricbeat - RabbitMQ - add shovel status"
**Describe the enhancement:**

Add the [shovel status](https://www.rabbitmq.com/shovel.html#status) to the metrics collected for RabbitMQ.

**Describe a specific use case for the enhancement or feature:**

This status indicates if messages are being picked up and dropped off from the queue.  Checking this plugin is included in the [RabbitMQ monitoring guide](https://www.rabbitmq.com/monitoring.htm

[2021-05-15 19:29] Aqualie opened #25725 "Metricbeat: Add support for ZFS metrics"
**Describe the enhancement:**
As an agent for collecting system and service metrics Metricbeat should by default support ZFS metrics as many other products in this space provide this capability by default (Netdata, collectD, telegraf, node_exporter etc...). This support should cover both implementations on Linux and BSD platforms with the capability of auto-detecting the current platform and retri

[2021-05-16 10:57] legoguy1000 commented on #25705
Would this not already be covered by https://github.com/elastic/beats/blob/48d7ba1588fd6cd8fecb74fc8aaf99bdaf79e3f3/x-pack/elastic-agent/pkg/agent/cmd/enroll.go#L64? This then wouldn't matter if it's self signed or a real CA.

[2021-05-17 07:13] amolnater-qasource commented on #25709
Hi @EricDavisX
We attempted to revalidate this issue on 7.13.0 Snapshot Kibana Cloud Environment with Windows 10 x64 Fleet Server agent. However we are unable to install secondary agent with the same. For better tracking, we have logged a ticket for the same here: https://github.com/elastic/fleet-server/issues/356
Hence we are blocked to revalidate this issue.

Please let us know if are missing an

[2021-05-17 08:58] #25630 closed

[2021-05-17 09:29] martijnbakkerelastic commented on #22101
Requesting for feedback on this request. Customer is currently working with a temporary workaround (IAMUSER) but is awaiting outlook to use IAMROLE. Current workaround is under Security vulnerability-exception, but this will expire this week and in order to request extension our customer Ikano Bank is requesting clarity on expected timelines when this is planned to be added. This will allow them t

[2021-05-17 09:48] P1llus opened #25734 "[ECS] Upgrade modules to ECS 1.10"
Updating all modules to ECS 1.10 after release

**New fields:**
Datastream: https://github.com/elastic/ecs/blob/master/rfcs/text/0009-data_stream-fields.md

**Beta fields:**
Orchestrator: https://github.com/elastic/ecs/blob/master/rfcs/text/0012-orchestrator-field-set.md

**Experimental:**
Threat fields: https://github.com/elastic/ecs/blob/master/rfcs/text/0018-extend-threat-group-software.md

[2021-05-17 09:48] elasticmachine commented on #25734
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-17 11:31] ph opened #25735 "Elastic Agent holding off a large amount of memory"
<img width="1051" alt="Screen Shot 2021-05-14 at 15 08 52" src="https://user-images.githubusercontent.com/640/118481668-b8d81d80-b6e1-11eb-9c6d-99714c40f563.png">

Questions:

- We need the Agent policy configuration that is run.
- We need the logs of the Elastic Agent

[2021-05-17 12:16] elasticmachine commented on #25735
Pinging @elastic/agent (Team:Agent)

[2021-05-17 12:16] ph commented on #25735
@cauemarcondes Can you add the Agent policy configuration to this issue?

[2021-05-17 12:21] dikshachauhan-qasource opened #25737 "[Endpoint Test tracking issue on upgraded 7.13]: Need to validate uninstallation of Endpoint folder that caused trouble while reinstalling agent on inactive hosts"
While performing testing around 7.13 kibana build, we had come up in a state where an Endpoint folder left stranded on a host [having 7.12.1 agent with Endpoint] that became inactive after Kibana upgrade from 7.12.1 to 7.13.

After kibana upgrade, we  7.12.1 agent went into inactive state as expected, so when we tried to re-install agent on same host, we attempted to uninstall existing agent first

[2021-05-17 12:24] dikshachauhan-qasource commented on #25737
@manishgupta-qasource Please review

[2021-05-17 12:25] sorantis commented on #25471
@fearful-symmetry in addition to MHz information it looks like @gingerwizard is looking for these specific fields:
[code]
can we also add the to the `system/cpu` or `system/core`?

[2021-05-17 12:28] elasticmachine commented on #25737
Pinging @elastic/agent (Team:Agent)

[2021-05-17 12:28] emweric commented on #22101
@martijnbakkerelastic I think this is the issue with the IAM USER/ROLE https://github.com/elastic/beats/issues/19393

[2021-05-17 12:36] manishgupta-qasource commented on #25737
Reviewed & assigned @EricDavisX

[2021-05-17 14:05] urso commented on #25735
Filebeat memory usage depends on queue size and event size. As rule of thumb multiply those by 8. E.g. the `max_bytes` limit on the log input is 10MB...

In order to understand where the memory usage comes from, we need to get an idea about the configuration, and what kind of logs that have been collected.

[2021-05-17 14:45] ruflin opened #25738 "[Elastic Agent] Setting fleet-server configs is not propagated properly"
When setting `server.limits.max_connections` in the Fleet UI for fleet-server, the policy change is shipped down to Elastic Agent but not properly picked up by fleet-server. Running `elastic-agent inspect` I get the following output:

[code]

I tried to set max_connections in the yaml block and config editor, that is why it shows up twice. But the logs from fleet-server do not show max_connections

[2021-05-17 14:45] elasticmachine commented on #25738
Pinging @elastic/agent (Team:Agent)

[2021-05-17 15:11] urso commented on #25181
The code to setup ML via Beats has already been removed from the master branch.

[2021-05-17 15:33] ph commented on #25735
@cauemarcondes If you go in the Agent listing you can export the configuration as YAML

[2021-05-17 15:38] cauemarcondes commented on #25735
[elastic-agent.yml.zip](https://github.com/elastic/beats/files/6494990/elastic-agent.yml.zip)

I compressed only to be able to upload

[2021-05-17 16:04] ChrsMark opened #25739 "[Kubernetes] Investigate replacement of NODE_NAME and hostNetwork with status.hostIP"
Currently in Metricbeat's manifests we use `spec.nodeName` at https://github.com/elastic/beats/blob/master/deploy/kubernetes/metricbeat-kubernetes.yaml#L172 in combination with [`hostNetwork`](https://github.com/elastic/beats/blob/master/deploy/kubernetes/metricbeat-kubernetes.yaml#L146) to define the IP of k8s node running on. Most probably we could avoid `hostNetwork` setting by leveraging  `sta

[2021-05-17 16:07] elasticmachine commented on #25739
Pinging @elastic/integrations (Team:Integrations)

[2021-05-17 16:09] fearful-symmetry commented on #25471
@sorantis I think it would make sense to add that as well. For the sake of keeping track, so far we want to add the following fields to `system/cpu` :

- `model number`
- `model name`
- `Mhz`

[2021-05-17 16:30] cakarlen commented on #25670
Commenting here to stay up to date on this issue. Currently preventing workflows related to pulling events from M365 API endpoints

[2021-05-17 16:35] fearful-symmetry commented on #23391
Considering that all the relevant PRs have been merged, do we want to close this issue?

[2021-05-17 16:56] sorantis commented on #23391
@liladler has the customer tried the recommendation? Everything seems to be working in order. If there are no further questions from the customer then we'll close the issue.

[2021-05-17 17:51] sorantis commented on #22179
@neptunian FYI

[2021-05-17 18:14] gmoskovicz opened #25742 "Filebeat BlobAlreadyExists with Event Hub"
For confirmed bugs, please report:
- Version: 7.12.0
- Operating System:  CentOS
- Discuss Forum URL: https://discuss.elastic.co/t/filebeat-azure-module-error-code-409-blobalreadyexists/269251
- Steps to Reproduce: https://discuss.elastic.co/t/filebeat-azure-module-error-code-409-blobalreadyexists/269251

@exekias we have a couple of cases where this was reported already. The error looks always th

[2021-05-17 18:16] elasticmachine commented on #25742
Pinging @elastic/integrations (Team:Integrations)

[2021-05-17 18:24] gmoskovicz commented on #25742
CC @daniellemhsilva

[2021-05-17 18:58] mostlyjason commented on #23753
@ph if its already done thats great! Would it be worthwhile to have QA test these cases?

[2021-05-17 19:26] simianhacker commented on #22179
@kaiyan-sheng Yes... we use `docker.network.inbound.bytes` and `docker.network.outbound.bytes` and we use them as counters.

[2021-05-17 19:46] elasticmachine commented on #25725
Pinging @elastic/integrations (Team:Integrations)

[2021-05-17 19:46] elasticmachine commented on #25724
Pinging @elastic/integrations (Team:Integrations)

[2021-05-17 19:48] elasticmachine commented on #14750
Pinging @elastic/agent (Team:Agent)

[2021-05-17 19:49] andrewkroh commented on #25685
Duplicate of https://github.com/elastic/beats/issues/24555 and sort of https://github.com/elastic/beats/issues/20584.

[2021-05-17 19:49] #25685 closed

[2021-05-17 20:04] andrewkroh commented on #25619
What OS package are you looking at? As noted in the documentation that you linked, those 3 are only implemented on Linux. Only the config files in the Linux artifacts will contain references to those datasets.

[2021-05-17 20:21] #25738 closed

[2021-05-17 20:22] andrewkroh commented on #25618
Auditbeat supports module config loading as indicated in the reference.yml, but there are so few modules (three in the Elastic Licensed distro) that it includes all their config in the main config file (and no `modules.d` included in the artifacts). You could separate your module config from the main config if that suits you though.

`auditd` is a Linux only feature so you will only see that inclu

[2021-05-17 20:22] elasticmachine commented on #25618
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-17 20:25] andrewkroh commented on #25618
I think this is not a bug so I'm closing it, but if you have more questions don't hesitate to ask.

[2021-05-17 20:25] #25618 closed

[2021-05-17 21:58] EricDavisX commented on #25561
@ph @ruflin what should we do here?  Is it still on your radar for follow up @blakerouse ?  If it leaves the host in a bad or indeterminate state we ideally would fix it, if it just is a UI misinformation then it is not as urgent but worth fixing for the first patch if we run out of time.  That's my quick take.

[2021-05-17 22:02] EricDavisX commented on #25667
ok, looks like it is passing.  several days later the Agents I stood up are still there and ok and healthy.

I'd like to ask @dikshachauhan-qasource and @amolnater-qasource to run a test against BC6 and leave an Agent running for a few hours to re-test it.  I'm closing it for now to clear out the list of Blockers though.

[2021-05-17 22:02] #25667 closed

[2021-05-17 22:09] EricDavisX commented on #25561
@dikshachauhan-qasource @amolnater-qasource can you re-test against cloud-qa and cloud-prod with the latest BC6 stack side code and see if you can confirm it is working in either for us, or if there is some other disconnect as to why it is hard to reproduce, please?  thank you. :)

[2021-05-18 00:32] andrewkroh opened #25750 "[Filebeat] aws-s3 input visibility timeout extensions lead to deadlocked ACKHandlers"
The `error` channel used with the aws-s3 input in not properly handled leading to deadlocked channel sends. A goroutine is started to receive from the unbuffered error channel, but this goroutine can stop while the error channel is still in use. When this happens the next sender gets blocked because the receiver has already exited. The receiver is [processKeepAlive](https://github.com/elastic/beat

[2021-05-18 00:32] elasticmachine commented on #25750
Pinging @elastic/integrations (Team:Integrations)

[2021-05-18 00:32] elasticmachine commented on #25750
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-18 01:32] EricDavisX commented on #25737
@ruflin @ph @jen-huang  this seems a blocker for 7.13 - @ferullo fyi.  I don't know what action is called during the upgrade to unenroll / uninstall Agent (and which should uninstall Endpoint), but this may be the same or related to https://github.com/elastic/fleet-server/issues/244
@nchaulet do you know?

[2021-05-18 02:29] andrewkroh commented on #24925
I'm just adding a few links for background info in the issue.

References:

- GCP Cloud Function Go version is 1.13 - https://cloud.google.com/functions/docs/concepts/go-runtime
- 7.12 update to start using new Go features - https://github.com/elastic/beats/pull/22495

[2021-05-18 07:08] amolnater-qasource commented on #25474
Hi @EricDavisX
We have revalidated this issue on 7.13.0 BC-6 Kibana Cloud Environment(cloud-qa) and found it **fixed**.

**Build details:**
[code]
**Observations:**
- After restarting elastic-agent from services, endpoint didn't get remove from services.
- Endpoint security gets back to running state under agent Logs tab.

**Screenshot:**
![Endpoint service](https://user-images.githubusercontent.c

[2021-05-18 08:59] jsoriano commented on #25739
Umm, not sure if we are in the same page, what do you mean by defining the IP?

Let me explain my current understanding.

`spec.nodeName` (through `NODE_NAME`) and `hostNetwork` are used for different things.

`hostNetwork: true` is used so beats can collect information from the host network (in `add_host_metadata`, the `system` module and so on).

When `hostNetwork: true` is used, current logic,

[2021-05-18 09:00] jsoriano commented on #25739
Anything that reduces the dependency on `hostNetwork` would help on https://github.com/elastic/beats/issues/19600.

[2021-05-18 09:01] elasticmachine commented on #19600
Pinging @elastic/integrations (Team:Integrations)

[2021-05-18 09:32] simitt opened #25755 "Build cloud docker images in upstream repo"
The cloud docker images should be built directly in the upstream repositories for `>=8.0`. This mainly requires adding metricbeat and filebeat processes to the docker image.

cc @urso

[2021-05-18 09:32] elasticmachine commented on #25755
Pinging @elastic/integrations (Team:Platforms)

[2021-05-18 10:11] P1llus commented on #25670
Hllo @cakarlen, Microsoft decided to modify some of their audit flow, there is a PR merged for this now: https://github.com/elastic/beats/pull/24829, I will merge a similar one for Agent as well.

[2021-05-18 11:16] #18572 closed

[2021-05-18 12:03] amolnater-qasource commented on #25667
Hi @EricDavisX
We have revalidated this issue with agents installed on 7.13 BC-6 cloud-qa environment and found it not reproducible.
We have kept the agents for 6 hours and they all remained "Healthy" throughout.

**Build details:**
[code]
Further we had few agents installed from past 24 hours on 7.13 Snapshot(staging) Kibana environment and they were also in "Healthy" state.

Please let us know i

[2021-05-18 12:04] blakerouse commented on #25561
Tested this morning on CentOS 7 with BC6 against QA cloud with running Fleet Server. Unenroll action worked successfully, Elastic Agent was stopped correctly and it was removed from the Kibana UI as expected.

At the moment I am still unable to reproduce this issue.

[2021-05-18 12:16] dikshachauhan-qasource commented on #25561
Hi @EricDavisX

We have validated this issue today on both staging and cloud-qa 7.13 BC6 builds and found it **still reproducible.**

Build details:
BUILD 40852
COMMIT 1ce2632ae192b3b41f6eef4625b97b18971a4864
Artifact link: https://staging.elastic.co/7.13.0-40b6b79a/summary-7.13.0.html

**Screenshot:**
![image](https://user-images.githubusercontent.com/72375798/118649248-ecf63000-b800-11eb-87d3-91

[2021-05-18 12:26] ruflin commented on #25561
Is my understanding correct that this is not related to Cloud in any way?

@blakerouse to reproduce this run the following:

[code]

Go to Kibana and unenroll the fleet-server. Updating stays and you see errors in Agent logs.

[2021-05-18 12:55] leehinman commented on #25249
Need to re-work to make use of `parsers` See https://github.com/elastic/beats/tree/master/filebeat/input/filestream for example.  This is just for the non-JSON part of awss3 input.

[2021-05-18 13:27] gmoskovicz commented on #25742
CC @narph @kvch

[2021-05-18 13:29] ph commented on #25737
@EricDavisX @ferullo @ruflin Could we document this for 7.13, is that a possibility?

[2021-05-18 13:32] blakerouse commented on #25561
@ruflin Wait? You are unenrolling an Elastic Agent running a Fleet Server? That will not work. How will the Elastic Agent communicate to a Fleet Server that is off?

[2021-05-18 13:35] ruflin commented on #25561
@blakerouse https://github.com/elastic/beats/issues/25561#issuecomment-820633807

[2021-05-18 13:56] blakerouse commented on #25561
I miss understood that comment then and the original issue with this bug. What I validated and confirmed working was that Elastic Agent can unenroll from a Fleet Server (not an Elastic Agent also running a Fleet Server).

An Elastic Agent that is running a Fleet Server cannot at the moment be safely unenrolled. It would need to be stopped manually on the host and then force removed in Kibana. I wo

[2021-05-18 14:01] dikshachauhan-qasource commented on #25561
@blakerouse Thanks for the feedback.

Further, we will be waiting to know the final expected behavior of feature and will update our test content accordingly.

cc @EricDavisX

Thanks
QAS

[2021-05-18 14:08] elasticmachine commented on #25755
Pinging @elastic/agent (Team:Agent)

[2021-05-18 14:25] ferullo commented on #25737
I don't quite understand what the bug is.

I read this bug to say that when a 7.12.1 (Agent with Endpoint) failed to upgrade to 7.13.0 it left Endpoint stranded on the computer. Is that right? That seems expected to me, since 7.12.1 Agent doesn't uninstall Endpoint. If 7.13.0 didn't get onto the computer then no Agent code that would uninstall Endpoint was ever run.

[2021-05-18 14:32] aleksmaus opened #25762 "[Bug] Osquerybeat: Osqueryd binary on linux doesn't have executable permissions out of the box"
The osquerybeat package for linux contains the osqueryd binary that doesn't have executable permissions

[code]

which causes osquerybeat to fail to run osqueryd as a child process:
[code]

**Desktop (please complete the following information):**
 - OS: Linux (Ubuntu tested)

[2021-05-18 14:39] dikshachauhan-qasource commented on #25737
Hi @ferullo

`it left Endpoint stranded on the computer. Is that right? `

No after upgrade, all agent went to inactive state. And suppose, if we want to re-enroll agents on same host so in that case I had questions:

` For reinstallation of agents on same host after kibana upgrade, do we need to uninstall endpoint first and then agent?`
Here, **if I directly uninstall agent** having endpoint, wha

[2021-05-18 15:12] ferullo commented on #25737
Ok. You should be able to remove Endpoint when you get into this situation to unblock a new agent installation by doing the below steps. Does that work around the issue?

Regarding whether this a blocker or not, I'll defer to @ph . It seems like this is just the same behavior as prior to 7.13? So there's no new bug, just a bug fix that's buggy?

These steps will remove Endpoint:
[code]

[2021-05-18 15:26] ruflin commented on #25737
At the moment, I would not consider this a blocker. But we should further investigate what the actual issue / bug is to fully understand it. In parallel, test and document what @ferullo provided above.

[2021-05-18 15:57] ferullo commented on #25737
I'm not sure where, but I know @kevinlog has coordinated documentation of those steps to remove an orphaned Endpoint. Kevin, where is that documentation going? Does it already document this too?

[2021-05-18 16:18] mdelapenya commented on #24929
Thanks for the feedback. I'm closing this issue as I cannot reproduce it anymore: I cleaned the `build` dir, and the mage command passes again. It may have been something in my environment. Thanks!

[2021-05-18 16:18] #24929 closed

[2021-05-18 17:27] EricDavisX commented on #25737
I believe an Endpoint over-install will not work if / when users migrate from 7.12.x to 7.13 and want to enroll with Fleet Server and then set Endpoint back into any policies - uers will have to run the uninstall steps noted.

I acknowledge we can document around this, and indeed if we are relying on the prior version (currently installed) Agent code for the un-install, there is little we can reas

[2021-05-18 17:42] EricDavisX commented on #25561
I can reproduce the problem when no fleet-server component is in play on the Agent / host.  The original use case may include that but it is not the only case that is failing.

About self-managed Fleet server usage, we have more polishing work to do to prevent users from hurting themselves, it is logged separate I believe.

[2021-05-18 18:05] andrewkroh opened #25768 "Low throughput rates for Cisco ASA module's Ingest Node pipeline"
There have been multiple reports of low event rates when using the Cisco ASA Filebeat module. In two independent analyses came to the conclusion was that one processor in the pipeline was taking a significant amount of time compared to the others. This was the date processor with timezone option.

https://github.com/elastic/beats/blob/1da173a9e716715a7a54bb3ff4db05b5c24fc8ce/x-pack/filebeat/module

[2021-05-18 18:05] elasticmachine commented on #25768
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-18 18:18] andrewkroh commented on #25768
I think we need to setup a benchmark to replicate the issue. Then test a few changes and measure the results.

One change I'd like to see tested is what happens if the number of date patterns is reduced. And other whether including the `timezone` option affects the date processor's execution time.

[2021-05-18 18:51] aleksmaus opened #25770 "Beats fail to setup indices with 7.13 if .fleet-actions-results datastream is created"
This issue was originally reported in https://github.com/elastic/kibana/issues/100019

The repro steps on clean Elasticsearch 7.13:

[code]

[code]

Returns an error:
[code]

The impact:
The beats indices setup will fail after the first document is pushed into ```.fleet-actions-results``` datastream.

This seems to be a regression caused by the addition of the fleet system datastream with the flee

[2021-05-18 18:52] elasticmachine commented on #25770
Pinging @elastic/agent (Team:Agent)

[2021-05-18 19:52] EricDavisX commented on #25737
are we in agreement that we can set up the same case and test and upgrade of 7.13 to 7.14 to validate this?  @dikshachauhan-qasource  if that works we can close this out.

[2021-05-18 19:53] EricDavisX commented on #25561
I'll log my normal / standard Agent issue separately as this one has always been about a FS Agent.

[2021-05-18 20:26] EricDavisX opened #25773 "[Agent] Non-Fleet-Server Agent is shown as stuck in 'updating' state when unenrolled via UI"
Testing with BC6 of Elastic Agent and Kibana code from from May 14 (via Elastic Cloud deploy) I can confirm that Agent does not get removed from the UI when you unenroll it.   This is just a normal Agent, not a fleet server.

Kibana details:
edavis-mbp:kibana_elastic edavis$ git show -s 1ce2632ae192b3b41f6eef4625b97b18971a4864
commit 1ce2632ae192b3b41f6eef4625b97b18971a4864
Date:   Fri May 14 14:1

[2021-05-18 20:26] elasticmachine commented on #25773
Pinging @elastic/agent (Team:Agent)

[2021-05-18 20:26] elasticmachine commented on #25773
Pinging @elastic/fleet (Team:Fleet)

[2021-05-18 20:28] EricDavisX commented on #25773
@ruflin @ph @blakerouse @michalpristas fyi.

[2021-05-18 20:31] EricDavisX commented on #25773
more info after the unenroll is called.
Fleet.yml:

[root@mainqa-atlcolo-10-0-6-147 elastic-agent-7.13.0-linux-x86_64]# cat fleet.yml
agent:
  id: ab2e4fd5-34d2-4160-8590-c20f88387606
  monitoring.http:
    enabled: false
    host: ""
    port: 6791
fleet:
  enabled: true
  access_api_key: Rk4wUGdIa0IxNDdEeU9nVTZGNEc6b2VFOF9zcl9STlNnbjZVZXl2TTFCZw==
  protocol: https
  host: 10.0.6.208:8220
  time

[2021-05-18 20:35] EricDavisX commented on #25561
I've logged this as a follow up:
https://github.com/elastic/beats/issues/25773

I will close this back out as we made some fixes and have UX rework to consider for the self-managed FS case.

[2021-05-18 20:35] #25561 closed

[2021-05-18 21:14] kaiyan-sheng commented on #25750
Thank you for finding/fixing this issue!!!

[2021-05-18 21:39] nicpenning commented on #16334
Here are some other useful Security logs from Windows that would be helpful.

Microsoft Windows Defender (2016 and newer)

Microsoft Antimalware (Older Windows servers - 2012 R2)

Sample events
Channel - Windows Defender/Operational
Event ID - 1116 and 1117

Channel - System
Provider - Microsoft Antimalware
Event ID - 1116 and 1117

Extensive Windows Defender Event list here: https://docs.microsof

[2021-05-18 22:06] elafontaine commented on #5413
Same problem.  Searching for a link to a solution.

[2021-05-18 22:10] kaiyan-sheng opened #25774 "[metricbeat] aws.rds.volume_used.bytes metric missing from RDS metricset"
When running `rds` metricset to collect metrics,`aws.rds.volume_used.bytes` is missing. This metric came from AWS CloudWatch `VolumeBytesUsed` metric. When using `cloudwatch` metricset, I was able to collect this metric.

AWS CLI command to collect `VolumeBytesUsed`:
[code]

[2021-05-18 22:11] elasticmachine commented on #25774
Pinging @elastic/integrations (Team:Integrations)

[2021-05-18 22:19] andrewvc opened #25775 "[Heartbeat] Synthetics should be on blocklist for plain heartbeat"
Per https://github.com/elastic/beats/issues/22932#issuecomment-841301435 , we should add synthetics to the block list for agents that do not include the synthetics capability (meaning browser deps). Without this the upcoming integrations UI for synthetics will have problematic use cases as outlined in the link above; namely that users will be able to apply the integration to a group of agents that

[2021-05-18 22:19] elasticmachine commented on #25775
Pinging @elastic/uptime (Team:Uptime)

[2021-05-18 23:01] kaiyan-sheng commented on #22179
@simianhacker Thanks! Is Kibana doing aggregation across all network interfaces for these two counters?

[2021-05-18 23:43] strawgate commented on #25018
How are breaking changes to the templates going to be handled going forward? My understanding is that datastreams are the future and that the methodology going forward doesnt include putting the beat version in the datastream. This means the backing indices are pinned to some set of templates that will need to be forever forwards and backwards compatible?

[2021-05-18 23:58] barrylustig opened #25777 "auditbeat doesn't recognize that a path in an audit record might be in an inaccessible namespace."
**Describe the enhancement:**
auditbeat will blindly try and hash an executable during process enrichment (func (ms *MetricSet) enrichProcess(process *Process)) even if that path is unreachable because it resides in a different namespace.  For example, auditbeat gets an audit record for an exec that occurs inside a container.  The exec is for a file path that only resides inside the container.  Au

[2021-05-19 00:27] anaconda2196 commented on #25621
Hello @ph @jsoriano
Just wanted to confirm if it is bug in v6.6? Thank you for your time.

[2021-05-19 05:46] wangqinghuan commented on #11420
Could anyone help to implement this pr?

[2021-05-19 06:37] ruflin commented on #25770
Thanks for tracking this down @aleksmaus . As it turns out, this is a bug in Elasticsearch: https://github.com/elastic/elasticsearch/issues/73218 I'm going to close this issue as I think there is unfortunately not much we can do on the Beats side here :-(

[2021-05-19 06:37] #25770 closed

[2021-05-19 06:50] dikshachauhan-qasource commented on #25737
Hi @EricDavisX

We are able to uninstall endpoint with agent uninstall. Hence wont be a problem while upgrade test of 7.13 to 7.14. So we are closing this out.

Thanks for all the discussion.

[2021-05-19 06:50] #25737 closed

[2021-05-19 07:47] urso commented on #5413
Can you reproduce the issue with 7.12?

[2021-05-19 08:53] jsoriano commented on #25621
Hey @anaconda2196,

Your problem may be similar to this one: https://github.com/elastic/beats/issues/12315. There the problem is with Windows installations, but the workaround also seems to be to move the keystore to the data directory. Another maybe better alternative mentioned there is to explicitly set `keystore.path`.

Btw, could you share the logs of your metricbeat that fails to start?

[2021-05-19 09:37] sunilmchaudhari commented on #21528
Hi,
Any ETA for this?
when can we have this feature?

[2021-05-19 09:43] urso commented on #25018
For Beats the indexing strategy will not change. The datastream name will be the same as the index name is today. All inputs/modules of a Beat will continue to index into the same datastream. Even from within Kibana, the datastream can be used as an ordinary Beats index. Templates are still allowed (also it is not necessarily encouraged) to introduce breaking changes between Beats versions.

[2021-05-19 10:33] narph commented on #25742
@gmoskovicz , indeed, this is one of the issues we noticed in the azure eventhub sdk we are using, we'll start investigating, thanks for bringing this up

[2021-05-19 10:55] gabrieletosca commented on #6594
Hi everyone! I see that this issues has been reopened great! So i have only one question for you guys, I would be interested in collecting the cpu ready time metric from the vCenter to put the data in enough to elastic. I'm looking around how to do it (I'm not very experienced) do you have any updates or advice?

[2021-05-19 11:00] elasticmachine commented on #25777
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-19 11:14] jsoriano commented on #6594
Hey @gabrieletosca, current vsphere module is able to collect used CPU per virtualmachine (see example document [here](https://www.elastic.co/guide/en/beats/metricbeat/7.12/metricbeat-metricset-vsphere-virtualmachine.html)). If you need more performance metrics, https://github.com/elastic/beats/issues/20313 would need to be implemented.

[2021-05-19 11:14] blakerouse commented on #25773
In this case you got a BadRequest response from the Fleet Server. Something in the body of the HTML request the Fleet Server did not like. I have not seen this or been able to reproduce this (I have spent considerable amount of time trying to cause failures in UNENROLL with no success).

Best path forward here is for you to get the logs from the Fleet Server. It will include the actual reason on w

[2021-05-19 11:44] amolnater-qasource opened #25785 "[Agent] "Metricbeat" service crashed on restarting elastic-agent, want improved beat side logging to inform user"
**Kibana version:** 7.13.0 BC-7 Kibana self-managed environment

**Host OS and Browser version:** Windows 10 x64, All

**Build Details:**
[code]

**Preconditions:**
1. 7.13.0 BC-7 self-managed Kibana environment should be available.
2. Windows 10 x64 Fleet Server agent must be installed using Default Fleet server policy having only Fleet Server integration.

**Steps to reproduce:**
1. Login to Kib

[2021-05-19 11:45] elasticmachine commented on #25785
Pinging @elastic/fleet (Team:Fleet)

[2021-05-19 11:45] amolnater-qasource commented on #25785
@karanbirsingh-qasource Please review.

[2021-05-19 11:47] amolnater-qasource commented on #25785
@dikshachauhan-qasource Please review.

[2021-05-19 11:48] dikshachauhan-qasource commented on #25785
Reviewed and assigned to @EricDavisX

[2021-05-19 11:52] #25697 closed

[2021-05-19 13:26] dikshachauhan-qasource opened #25789 "[Question:] Usage of Fleet-server artifacts"
While going through the package list available on 7.13 artifact link page, we have come across few Fleet server artifact packages.
Could anyone please confirm why Fleet server artifacts are available at staging artifact link.
- What is the purpose of those package files.

Artifact link: https://staging.elastic.co/7.13.0-8eb98cbf/summary-7.13.0.html

**Screenshot:**
![image](https://user-images.git

[2021-05-19 13:27] dikshachauhan-qasource commented on #25789
@amolnater-qasource Please review

[2021-05-19 13:29] amolnater-qasource commented on #25789
Reviewed and Assigned to @EricDavisX

[2021-05-19 13:30] nedsir commented on #13707
Thanks a lot @jordansissel

I had the exact same issue and it works like a charm.

[2021-05-19 14:43] jahtalab commented on #25201
I think we can expand the `--screenshots` config option in the synthetic agent to accept `always` `on_error` and `never`, so then heartbeat only passes these arguments to the agent.

An alternative approach is to define a retention policy in ES for screenshots, e.g. keep all screenshots for one day then only keep screenshots for errors. WDYT?

[2021-05-19 15:16] #14455 closed

[2021-05-19 15:16] #14436 closed

[2021-05-19 15:16] #14466 closed

[2021-05-19 15:16] #14460 closed

[2021-05-19 16:03] strawgate commented on #25018
The current index/alias naming scheme involves using ILM to generate ###### indices and to include the beat version in the index.

Datastreams require type-dataset-namespace which doesn't appear to be compatible with the current index naming scheme. The expected datastream would be something like `logs-generic-default` or `logs-system.application-default` or `metrics-system.process-default` and so

[2021-05-19 19:01] barrylustig commented on #25777
I think this could be easily address if "enrichProcess" has info that the record comes from a container, then the failed stat call might be better logged at the debug level.  It should only be a warning of there is an expectation that the file exists in the host namespace.

[2021-05-19 19:30] #24193 closed

[2021-05-19 19:47] EricDavisX commented on #25789
@Conky5 @ph @ruflin can we have the quick chat... I don't know if there is much value in the Fleet Server binary being separately posted here.  And, further, I think it may be odd to expose it to a user if we were planning on doing so in any other public downloadable location.

Can you offer agreement or dissent PH / Ruflin?  And Conky can you cite intention for the shipped artifact?  Thanks.

Tha

[2021-05-19 19:50] stefnestor commented on #25619
Ah, I straight up missed that, sorry! Thanks for the quick response!

[2021-05-19 19:50] #25619 closed

[2021-05-19 20:01] Conky5 commented on #25789
Fleet server artifacts appearing in that report are an artifact of the build process, and can be ignored if they are not used. The fleet-server artifacts are built during one phase, then bundled into the agent in a downstream phase. The summary report displays all artifacts and so includes the fleet-server artifacts on their own.

Currently the fleet-server artifacts do go to the production downlo

[2021-05-19 20:38] EricDavisX commented on #25773
Retested with 7.13 BC8 Agent / Kibana code.  @blakerouse

nothing on the fleet server side jumps out at me, I do see a 'failed to Ack' log line around the time of unenrolling the secondary agent at 16:27 ish.
full logs zip and state.yml and fleet.yml from fleet server host is attached here:
[logs-fs-logs.zip](https://github.com/elastic/beats/files/6511423/logs-fs-logs.zip)

UI log capture for FS i

[2021-05-20 05:56] cocotyty opened #25799 "Modifying filebeat config's autodiscover provider from docker to kubernetes leads to states leaking."
For confirmed bugs, please report:
- Version:  7.12.1
- Operating System:  ubuntu/kubernetes/docker
- Discuss Forum URL:
- Steps to Reproduce:

Our clusters filebeat used docker autodiscover provider  before.
After change provider to kubernetes , registry becomes very large  .

-rw------- 1 root  root   25M May 20 13:49 17662020836.json
-rw------- 1 root  root    59 May 20 13:49 active.dat
-rw----

[2021-05-20 06:08] kiju98 opened #25800 "Cannot set name of Filebeat instance for Stack Monitoring with Metricbeat-based monitoring"
- Version: 7.11.1
- Operating System: Linux and macOS
- Discuss Forum URL:
- Steps to Reproduce:
1. Run `filebeat-1` and `filebeat-2` on a server
2. Stack Monitoring shows

<img alt="스크린샷 2021-05-18 오후 5 51 06" src="https://user-images.githubusercontent.com/25359646/118621766-a81ec900-b801-11eb-90b2-97b34b00a780.png">

where `Kijuui-MacBook2021.local` is the hostname of the server.

3. Try

[2021-05-20 06:59] cocotyty commented on #25799
[code]

[2021-05-20 07:07] cocotyty commented on #25799
[code]
I append this to config, temporarily solved my problem.
But I still think this is a bug.

[2021-05-20 08:44] rdrgporto opened #25801 "[Metricbeat] Kubernetes Module of Metricbeat does not get metrics from Kubelet on Kubernetes 1.21.1"
- Version: Elastic Stack 7.9.2 & Kubernetes 1.21.1
- Operating System: Ubuntu 18.04
- Discuss Forum URL: [Discuss URL](https://discuss.elastic.co/t/kubernetes-module-of-metricbeat-does-not-get-metrics-7-9-2-with-kubernetes-1-21-1/272996)

Hi, everyone

I have been testing with a new version of **Kubernetes**, in this case, **1.21.1**. I use **Metricbeat** in order to get metrics of **containers**,

[2021-05-20 11:51] ruflin commented on #25789
As @Conky5 mentions, it is expected to show up on this page. No download links should show up in any public place. Going to close this issue.

[2021-05-20 11:51] #25789 closed

[2021-05-20 12:22] dikshachauhan-qasource commented on #25533
Hi @ph cc @EricDavisX

Could you please let us know how to validate this ticket.

Thanks
QAS

[2021-05-20 12:23] simianhacker commented on #22179
Yes, we take the derivative of the max of each interface and sum the rates together.

[2021-05-20 14:03] urso commented on #25018
To me an indexing strategy (among others) defines a common set of conventions for:
- Index naming
- Template setup + Field standardization
- Schema evolution strategy (e.g. add version to index name in order to introduce breaking changes, or forbid breaking changes).
- Data Lifecycle management
- Sharding, Replication, ...

The Indexing strategy has changed over time. Initially the default indexin

[2021-05-20 14:13] blakerouse commented on #25773
@EricDavisX

I found this in the log:

`
{"log.level":"info","error.message":"fail InvalidateAPIKey: [403 Forbidden] {\"error\":{\"root_cause\":[{\"type\":\"security_exception\",\"reason\":\"action [cluster:admin/xpack/security/api_key/invalidate] is unauthorized for user [elastic/fleet-server] with roles [], this action is granted by the cluster privileges [manage_api_key,manage_security,all]\"}]

[2021-05-20 14:26] blakerouse commented on #25773
This is an issue in elasticsearch - https://github.com/elastic/elasticsearch/issues/73278

[2021-05-20 14:58] EricDavisX commented on #25789
Thanks @Conky5 for offering up info so fast.  I'm glad it needs nothing more, I will plan on adding some internal team wiki docs or something that indicate we don't validate this artifact separately (for long term communication), and that they aren't very useful on their own, I hope that is obvious to users.  cheers.

[2021-05-20 15:01] blakerouse commented on #25773
Going to close this issue, as the real issue is on Fleet Server side - https://github.com/elastic/fleet-server/issues/380

[2021-05-20 15:01] #25773 closed

[2021-05-20 15:59] michel-laterman opened #25805 "Flaky Test [filebeat/input/filestream/internal/input-logfile TestDefaultHarvesterGroup/assert_a_harvester_can_be_stopped_and_removed_from_bookkeeper ]"
## Flaky Test

* **Test Name:** filebeat/input/filestream/internal/input-logfile TestDefaultHarvesterGroup/assert_a_harvester_can_be_stopped_and_removed_from_bookkeeper
* **Link:** https://github.com/elastic/beats/blob/master/filebeat/input/filestream/internal/input-logfile/harvester_test.go#L151
* **Branch:** michel-laterman:go-1.16.3/master
* **Artifact Link:** N/A
* **Notes:** N/A

### Stack Tr

[2021-05-20 15:59] elasticmachine commented on #25805
Pinging @elastic/agent (Team:Agent)

[2021-05-20 17:31] elasticmachine commented on #25785
Pinging @elastic/agent (Team:Agent)

[2021-05-20 17:41] EricDavisX commented on #25785
@ph @ruflin this seems like the root cause to the issue I just pinged you on.  It also sounds familiar and pretty severe.  Is this not a blocker for self-managed where we expect the stack / agents to go on/off line quite a bit?

[2021-05-20 21:16] #18676 closed

[2021-05-21 01:33] elafontaine commented on #5413
We were on 7.10 from the standard rpm repository of Red Hat I believe.   I'll ask to try on filebeat 7.12

I noticed that it's mostly a Kerberos issue, there is just no log about it.  I noticed we're forced to put the service_name parameter, even though the authentification is successful without it (and with it, it actually fails... I'm trying to understand why on my side.

[2021-05-21 11:32] sejbot opened #25815 "Azure Activity Logs fail to index when fields expected to be json is a string"
Azure is a bit inconsistent in the format of activity logs. I have found that sometimes, a field that is usually json is instead a string containng serialized json. When such a log is present, the filebeat activity log ingest pipeline fails to parse it, thus resulting in a mapping_parser_exception.

For one log example I have created a discuss thread, see below. I have also found another type of l

[2021-05-21 15:48] eedugon opened #25816 "Add daemonset name when enriching pod logs or metrics"
**Describe the enhancement:**
When using add_kubernetes_metadata we populate a lot of fields, some of them related with the `controller` of the pod, like :
`kubernetes.deployment.name` (implemented in  elastic/beats#23610)
`kubernetes.statefulset.name`

It would be interesting to enrich the documents of pods belonging to daemonsets with something like `kubernetes.daemonset.name`

**Describe a spec

[2021-05-21 22:21] legoguy1000 commented on #25689
@jamiehynds I can do this.  @BenB196 can you provide some sample logs from Okta that contain these "new" fields.  The sample data that is currently there doesn't have those fields to test.

[2021-05-22 11:11] pd-dfinity commented on #23627
+1 here minus the storage consumption. Do we happen to know common workloads or services that might cause this? We run Nginx on these systems.

[2021-05-22 11:16] #18658 closed

[2021-05-22 18:16] #18646 closed

[2021-05-23 10:54] elasticmachine commented on #19292
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-23 19:43] paul-stevenson commented on #21174
We were also experiencing this issue after a recent restart of the filebeat service (version 7.10.2).
Pretty much exactly the same symptoms as displayed in https://github.com/elastic/beats/issues/21174#issuecomment-695935887

Downgrading to 7.7.1 resolved the issue for us for now.  We'll likely try filebeat 7.12.x in the near future and see if the issue persists.

[2021-05-24 00:47] BenB196 commented on #25689
@legoguy1000 sorry just getting around to this now. Thanks for opening this PR. Do you still need an example, of the event?

[2021-05-24 00:48] legoguy1000 commented on #25689
No problem. I created 1 by just using the fields u provided so if u have some real ones that would be good just to make sure I didn't mess up.

[2021-05-24 07:45] elasticmachine commented on #25816
Pinging @elastic/integrations (Team:Integrations)

[2021-05-24 08:03] ChrsMark commented on #25816
Thanks for opening this @eedugon. Your point looks really valid about controller's information. We can definitely add information about Daemonsets and even generalise that for other other types of resources. This bring us to the suggestion you mention about `kubernetes.controller.kind` and `kubernetes.controller.name` which looks more than sane and is technically doable already through the api's m

[2021-05-24 09:10] ChrsMark commented on #25739
I'm primarily thinking of accessing kubelet's API at https://github.com/elastic/beats/blob/4de534fe95f115da6afb2c2819335948ce7020c1/deploy/kubernetes/metricbeat-kubernetes.yaml#L112.

Without `hostNetwork: true` I get the following
[code]
but it can reach the API if I use `status.hostIP` adding:

[code]
to get the following:
[code]

So for this specific case we are fine to remove `hostNetwork`. No

[2021-05-24 09:20] sreehari3 commented on #23159
what u added on line 2

[2021-05-24 09:21] sreehari3 commented on #23159
what u added on line 2

[2021-05-24 09:59] michalpristas commented on #25785
cannot reproduce, nor darwin nor windows, used same version.

could i get content of `data/elastic-agent-{hash}/logs` directory? this would help

[2021-05-24 10:01] michalpristas commented on #25785
also if possible maybe whole `Program Files/Elastic/Agent` would be good. not sure if github allows to send that large file, if not please DM me on slack

[2021-05-24 10:36] amolnater-qasource commented on #25785
Sure @michalpristas as per request I will share all the required details on slack.
Thanks

[2021-05-24 10:54] michalpristas commented on #25785
there was an orphaned metricbeat process blocking data path, when agent was stopped it was not stopped with agent and continue running eating a lot of RAM (2.5gb)

when i killed this process issue went away.
the problem with restart was that the orphaned metricbeat was using same data path as the one we were trying to start. the new one found out path is already locked and exited with error.

we s

[2021-05-24 11:35] sorantis commented on #25816
@ChrsMark could you elaborate on the potential compatibility in the UI? Where do you see it could break?

[2021-05-24 12:23] EricDavisX commented on #25785
@michalpristas thanks for the thoughts.  do you think we can check for the data path being in use at start up and put more specific error logging into place to help guide users / devs about this particular undesired occurrence?  we could use this ticket for that for now.  @amolnater-qasource if you were doing regular operations / test steps, lets put some time to figuring out which specific steps

[2021-05-24 12:48] ChrsMark commented on #25816
My concern is mostly about if we could/should replace existing fields like `kubernetes.deployment.name` with `kubernetes.controller.name` if we finally decide that we want to introduce `kubernetes.controller.name` and `kubernetes.controller.kind` (or `kubernetes.controller.type`). I'm not sure what fields exactly are used, or planned to be used, by UI.

In addition, as I mentioned in the previous

[2021-05-24 12:55] michalpristas commented on #25785
this is internal logic of beats and i would like to avoid having checks like this in agent.
we could check periodically or at start for processes running from our path before starting anything and raising it as ERROR WARNING. but i guess this is up to a discussion

cc @urso

[2021-05-24 13:00] dikshachauhan-qasource commented on #25533
Hi @EricDavisX cc @ph

As currently ticket has no merges for 7.13 build so we will wait to validate this ticket till the merges are available for the removal of elastic agent 32 bit artifacts.

Thanks
QAS

[2021-05-24 13:15] ChrsMark commented on #7461
Reopening this since it seems that slipped attention and was closed automatically.

cc: @masci @fearful-symmetry @andrewkroh

[2021-05-24 13:22] sorantis commented on #25816
We can coordinate this change with the UI.

Firstly, I think the different types of resources are called [Workloads](https://kubernetes.io/docs/concepts/workloads/) in Kubernetes, so it's best we maintain consistency. Workloads can be represented by e.g. `kubernetes.workload.type`, `kubernetes.workload.name`.
The Metrics UI today works with the following non-metric fields:

<img width="758" alt="S

[2021-05-24 13:22] maarsaks opened #25827 "Can’t parse haproxy logs"
I created Grok pattern which works in Kibana Debug Grok devtool:
Sample data:
[code]
Grok pattern:
[code]

Custom patterns:
[code]
Structured data:
[code]

First I thought that something else causes the problem: [discuss.elastic.co](https://discuss.elastic.co/t/cant-parse-haproxy-logs-without-ip-address-in-grok/273654)

But the pattern is working, and I don't know why. but it doesn't work with Fil

[2021-05-24 14:07] amolnater-qasource opened #25829 "[Agent]: On restarting Agent host, Metricbeat is orphaned & stuck in crash loop (relates to policy changes + possibly w Fleet server usage)"
**Steps followed:**

1. Login to self-managed Kibana environment.
2. Install Agent with Default Fleet Server Policy.
3. Assign "Agent" to Default policy having System, Endpoint and Fleet Server Integration.
4. Restart elastic-agent from services.
5. Navigate to agent "Logs" tab and observe Metricbeat service stuck in "Starting-Restarting-Crashed" loop.

**Logs:**
[logs.zip](https://github.com/elas

[2021-05-24 14:08] amolnater-qasource commented on #25785
Hi @EricDavisX
As per your above feedback we have reported this ticket with required steps at this https://github.com/elastic/beats/issues/25829

Thanks
QAS

[2021-05-24 14:08] elasticmachine commented on #25829
Pinging @elastic/fleet (Team:Fleet)

[2021-05-24 14:17] paulb-elastic commented on #25201
Being depriorised from 7.14 in favor of de-duping

[2021-05-24 15:35] andrewvc commented on #22511
This is in-effect solved with the move to `zip_url` as the preferred method to run suites.

[2021-05-24 15:35] #22511 closed

[2021-05-24 15:53] elasticmachine commented on #25829
Pinging @elastic/agent (Team:Agent)

[2021-05-24 16:06] fearful-symmetry commented on #7461
Adding this to the dashboard. We recently introduced a feature to report more detailed per-cgroup network metrics, and we can piggyback off that functionality.

`system/process` is pretty bloated as-is, so this will probably be disabled by default. However, the metricset has so much functionality crammed into it, that I wonder if we should start making `system/process_netstat` or something.

Eithe

[2021-05-24 16:14] fearful-symmetry commented on #23225
@narph this got fixed, right? I remember us tinkering with the disk reporting a while back. Assuming it is, and moving to backlog for now.

[2021-05-24 16:22] fearful-symmetry commented on #7461
I also filed a similar issue a while ago in https://github.com/elastic/beats/issues/18863

[2021-05-24 16:22] fearful-symmetry commented on #18863
Closed, moved to https://github.com/elastic/beats/issues/7461

[2021-05-24 16:22] #18863 closed

[2021-05-24 16:29] EricDavisX commented on #25829
thanks Amol.  With the specifics provided, I am making assumptions as follows, regarding step 3:
 Assign "Agent" to Default policy having System, Endpoint and Fleet Server Integration.
... the 'Default Policy' does not have Fleet Server or Endpoint in it, so you modified it I presume?  That is ok.
... the 'Agent' was set up (I believe) intended as the sole Fleet Server instance, and when changing

[2021-05-24 16:33] EricDavisX commented on #25785
I've updated the short desc and modified the labels, it is not urgent for 7.13 to improve the logging - the other ticket logged, noted above is high priority for self-managed usage and is tagged for 7.13.1 review (usual urgent issues review process)

[2021-05-24 16:37] EricDavisX commented on #25829
I'd also like to confirm that this doens't happen when Fleet Server is out of the scenario.  And what OS was seen (and we can test others too for more data)

[2021-05-24 17:56] andrewvc commented on #22932
Thanks @mostl we've opened an issue around that here https://github.com/elastic/beats/issues/25775

[2021-05-24 18:54] BenB196 opened #25830 "Add documentation to Heartbeat hints based autodiscover docs regarding ```raw``` config"
**Describe the enhancement:**

Under beats docs, there is an Autodiscover section with Hints based autodiscover. Under most beats in this section there is a mention of the ```raw``` annotation (ex: [Filebeat](https://www.elastic.co/guide/en/beats/filebeat/7.12/configuration-autodiscover-hints.html#_co_elastic_logsraw), this however is missing under the Heartbeat docs.

**Describe a specific use ca

[2021-05-24 19:11] BenB196 commented on #25689
@legoguy1000 here is an example event, I obfuscated the data with the same info that was in the example you had where applicable to keep things consistent:

[code]

[2021-05-25 01:45] EricDavisX commented on #25583
@dikshachauhan-qasource @amolnater-qasource can you help confirm this on Windows 10 and another Win 7 host at a minimum?  It will help to know if it is specific to the OS, and you can inspect the elastic-endpoint.yaml's fleet section as noted above to see what is set on the file system.

[2021-05-25 07:19] amolnater-qasource commented on #25829
Hi @EricDavisX
Thanks for the feedback, we have validated this issue on **Windows 10 x64** self managed 7.13 BC-9 Kibana environment.

Yes
We have added Fleet Server integration as when we reassign fleet server agent to another policy, it starts showing up below errors(with Policy not having Fleet Server integration):
`
elastic_agent [elastic_agent][error] failed to dispatch actions, error: fail t

[2021-05-25 07:44] ChrsMark commented on #25816
Thanks for the feedback @sorantis ! Summarising what we would like to do here:
1. Add initial request for `kubernetes.daemonset.name` and `kubernetes.job/cronjob.name` (we already have these fields coming from state_* respective metricsets).
2. Introduce new fields `kubernetes.controller/workload.name` and `kubernetes.controller/workload.type`. We need to decide about `controller` vs `workload`. I

[2021-05-25 08:18] narph commented on #23225
@adriansr , I've recently fixed this with https://github.com/elastic/beats/pull/24502, do you encounter the same issue with 7.12.1?

[2021-05-25 09:15] maarsaks commented on #25827
I have the same error. I tried also to upgrade filebeat to 7.12.1 version and copy your pipline.json.
If you have some questions about my issue feel free to ask.

[2021-05-25 09:49] simioa opened #25840 "Possible goroutine leak in metricbeat sql module when database is not available"
- Version: metricbeat 7.12.1
- Operating System: Fedora 34
- Discuss Forum URL: https://discuss.elastic.co/t/possible-goroutine-leak-in-sql-module-when-database-is-not-available/273850

Hello,

we're using the metricbeat sql module to gather some metrics. During Downtime of our Database, I observed slowly increasing memory consumption from metricbeat.
I tried to reproduce this with the following m

[2021-05-25 11:36] dikshachauhan-qasource commented on #25583
Hi @EricDavisX

We have validated this issue and able to reproduce on Win 7 machine.

Also validated on win10 and windows8.1 and found found working fine there.

Further, on installing agent with endpoint on win7 machine has following behavior:
- Agent logs got generated:
[elastic-agent_logs.txt](https://github.com/elastic/beats/files/6538851/elastic-agent_logs.txt)
- Endpoint folder was available

[2021-05-25 12:01] legoguy1000 commented on #25827
how did you test the changes? I would install the latest filebeat and then update that pipeline with the changes above.  I added the sample log that you provided in the ticket.  If there are other logs that don't work let me know.

[2021-05-25 13:48] randomuserid commented on #22281
I'm also seeing host.id collisions in a Linux container fleet running beats. I see the ratio of host.name to host.id ranging between 1042 and 2173 to one. Similar things probably can happen when virtual machines are cloned or started from a base image.

Sometimes this is sorted out with an agent "registration" process where a new agent asks, after authenticating, if it's GUID, like host.id, is uni

[2021-05-25 14:52] #25151 closed

[2021-05-25 15:39] EricDavisX commented on #25829
Interesting, seems something special going on.

@ruflin @ph do you think it needs urgent follow up for the 'tinkerer' all-on-one-host download type setup?  If not, we can remove the 7.13.1 label.

[2021-05-25 15:58] archon810 commented on #7514
Bump

[2021-05-25 17:04] andrewkroh commented on #14927
It looks like there is an API since macOS 10.15. https://developer.apple.com/documentation/oslog

It would require cgo and objective-c to use the API.

[2021-05-25 17:46] faec commented on #22602
Edit: moved part of phase 2 (#22970, the schema change that uses absolute instead of relative file locations to track queue positions) to phase 1, since the remaining tests depend on its changes, and since the new schema greatly simplifies any future updates. The metrics reporting itself is still phase 2.

[2021-05-25 18:05] n0othing opened #25855 "file URI scheme not supported by agent.download.sourceURI"
- Version: Elastic Agent `7.12.1`
- Operating System: Windows 10

While not officially supported, the Elastic Agent can be provided a `agent.download.sourceURI` to download updates. The code [1] seems to suggest you can use `http`, `https`, and `file` URI schemes. However, when the Agent is configured with a file URI (e.g `file://<ip_address>`) the Agent logs an error about an unsupported protocol

[2021-05-25 19:57] andrewkroh commented on #25734
We should consider adding an alias where `data_stream.dataset` -> `event.dataset`. It may help ease the transition (way) later when apps and rules remove support for querying both `event.dataset` and `data_stream.dataset` (currently we are making apps/rules work with data that has either field, but the long term plan is to only use the `data_stream.dataset`). Then older data you had indexed with B

[2021-05-25 20:05] btvmunoz commented on #25670
@P1llus I just got an e-mail from Microsoft about a value change on the OS Architecture field, while I know this was originally opened because of an authentication issue I am wondering if the change will have any impact on the Microsoft module?

[2021-05-25 20:25] michel-laterman opened #25857 "Flaky tests: Heartbeat windows 7 32bit tests"
## Flaky Test

* **Test Name:** TestHTTPSServer, TestHTTPSx509Auth, TestProxy, TestTLSProxy, TestTLSSANIPConnection, TestTLSHostname
* **Link:** https://github.com/elastic/beats/blob/master/heartbeat/monitors/active/http/http_test.go, https://github.com/elastic/beats/blob/master/heartbeat/monitors/active/tcp/tls_test.go
* **Branch:** michel-laterman:go-1.16.3, master
* **Artifact Link:** N/A
* **N

[2021-05-25 20:25] elasticmachine commented on #25857
Pinging @elastic/uptime (Team:Uptime)

[2021-05-25 21:13] michel-laterman opened #25858 "Flaky Test: [metricbeat.module.golang.test_golang.Test test_stats] windows 10"
## Flaky Test

Test fails on Windows 10 builds

* **Test Name:** test_stats
* **Link:** https://github.com/elastic/beats/blob/master/metricbeat/module/golang/test_golang.py#L12
* **Branch:** michel-laterman:go-1.16.3, master
* **Artifact Link:** N/A
* **Notes:** N/A

### Stack Trace

[code]

[2021-05-25 21:36] elasticmachine commented on #25858
Pinging @elastic/integrations (Team:Integrations)

[2021-05-25 21:47] andrewvc commented on #25857
The key part is `@Path 'tls.cipher': objects not equal: actual(string(TLS-CHACHA20-POLY1305-SHA256)) != expected(string(TLS-AES-128-GCM-SHA256))`, it looks like for some reason the cipher suite changed, almost certainly due to some sort of platform change.

We can fix this in our tests by being more forgiving of cipher suites, but it will take some looking at. Thanks for disabling the test @michel

[2021-05-25 22:17] andrewvc commented on #25857
I should mention I can't reproduce this on my 64-bit Windows 10 box

[2021-05-26 02:52] EricDavisX commented on #25709
@amolnater-qasource can you help re-test this now that the non-Fleet Server Agent install issues are resolved please?

[2021-05-26 07:50] adriansr commented on #23225
Hi @narph, I haven't tested this again since this issue was created. If you're confident that it was fixed then we can close.

[2021-05-26 08:05] P1llus commented on #25734
Related modules:

**Libbeat:**
- [ ] Global ECS file update

**Journalbeat**
- [ ] Update ECS mapping

**Metricbeat**
_OSS_
- [ ] aerospike
- [ ] apache
- [ ] beat
- [ ] ceph
- [ ] consul
- [ ] couchbase
- [ ] couchdb
- [ ] docker
- [ ] dropwizard
- [ ] elasticsearch
- [ ] envoyproxy
- [ ] etcd
- [ ] golang
- [ ] graphite
- [ ] haproxy
- [ ] http
- [ ] jolokia
- [ ] kafka
- [ ] kibana
- [ ] kubern

[2021-05-26 08:58] amolnater-qasource commented on #25709
Hi @EricDavisX
We have revalidated this issue on released 7.13 Kibana cloud environment and found that this issue is reproducible on restarting Fleet server agent even without installing secondary agent onto it.

**Steps and Observations:**
1. Installed Windows Fleet Server agent with Self created policy having only Fleet Server Integration.
2. Reboot Fleet Server agent and observed **data for few

[2021-05-26 09:02] narph commented on #23225
@adriansr. just noticed this is a different metricset, I created a similar fix for filesystem, will try to reproduce the issue and make the necessary changes, lets keep it open

[2021-05-26 09:40] func0der opened #25865 "Filebeat 7.13 is not compatible with elastichsearch-oss 7.10.2"
- Version: Filebeat 7.13 + Elasticsearch-oss 7.10.2
- Operating System: Debian
- Discuss Forum URL: -
- Steps to Reproduce: install both and output directly to elastichsearch from filebeat

filebeat output config:

[code]

Error log:
[code]

[2021-05-26 10:10] ruflin commented on #25829
We should further investigate this. On the testing side we should switch over to use 7.13.1-SNAPSHOT instead of the BC as the release is out and some fixes already went into 7.13.1.

@michalpristas I think we have seen this transpiler issue in the past?

[2021-05-26 10:10] #24350 closed

[2021-05-26 10:47] michalpristas commented on #25709
from logs we see that monitoring beat still thinks it should send data to `"message":"elasticsearch url: http://localhost:9200","ecs.version":"1.6.0"}`

looking

[2021-05-26 11:16] mtojek opened #25868 "Flaky: TestRotateDateSuffix"
The issue spotted in https://beats-ci.elastic.co/job/Beats/job/beats/job/PR-25863/2/console

[code]

It looks like there are issues related to this unit test:
1. It's flaky - timestamps might differ.
2. The unit test depends on real Time implementation which elongates test execution. I believe that `time` interface should be mocked.

cc @kvch

[2021-05-26 11:16] #18715 closed

[2021-05-26 11:17] elasticmachine commented on #25868
Pinging @elastic/integrations (Team:Integrations)

[2021-05-26 12:03] legoguy1000 commented on #2666
@hartfordfive I am working on a cloudflare integration for the Elastic Agent.  Do you have sample logs that I could use to test the ingest pipelines as well as perhaps test the HTTP or AWS S3 inputs??

[2021-05-26 12:16] #18739 closed

[2021-05-26 12:24] elasticmachine commented on #22281
Pinging @elastic/agent (Team:Agent)

[2021-05-26 12:55] mtojek opened #25870 "[gosigar] InputFiles::parseWorkerThread(): Assertion `slot < (int)files.size()' failed"
Spotted in: https://internal-ci.elastic.co/job/elastic+unified-release+master+snapshot-standalone-build-beats-7.13/88/console

Looks like a linking problem with gosigar on Darwin:

[code]

cc @fearful-symmetry

[2021-05-26 12:55] elasticmachine commented on #25870
Pinging @elastic/integrations (Team:Integrations)

[2021-05-26 13:28] michalpristas commented on #25709
@amolnater-qasource
i have debug and tried on personal pc with win10, vm with win 7 and 2-3 different win10 VMs without repro.

`elastic_agent.filebeat` and `.metricbeat` should not have any new metrics as they are probably not running due to config containing only fleet server.

`elastic_agent` produces some logs every once in a time (usually few minutes difference cca 5) with debug, almost none

[2021-05-26 14:02] amolnater-qasource commented on #25709
Thanks @michalpristas for all the feedback. We have also revalidated the same scenario with above feedback and found it working fine.

@EricDavisX can close this out and please let us know if anything else is also required to validate for above.

Thanks
QAS

[2021-05-26 14:59] #25868 closed

[2021-05-26 15:16] #18678 closed

[2021-05-26 15:16] #18454 closed

[2021-05-26 15:30] elasticmachine commented on #19339
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-26 15:30] elasticmachine commented on #19338
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-26 15:30] elasticmachine commented on #19337
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-26 16:30] fearful-symmetry commented on #25870
So, I can't seem to reproduce this. Gosigar also hasn't been updated in a while. I wonder if this is a build environment issue?

[2021-05-26 16:36] kaiyan-sheng commented on #22179
Proposing new container fields to add into ECS:
- container.cpu.usage: Percent CPU normalized by the number of CPU cores and it ranges from 0 to 1.
(same as docker.cpu.total.norm.pct)
- container.memory.usage: Memory usage percentage.
(same as docker.memory.usage.pct)
- container.disk.read.bytes: Bytes read during this collection period.
(derived from docker.diskio.read.bytes)
- container.disk.wri

[2021-05-26 16:59] michel-laterman commented on #25346
@simitt, The golang-crossbuild images have been update to provide 1.16.4.
For MacOSX the `golang-crossbuild:1.16.4-darwin-debian10` image provides the OSX 10.14 SDK (and artifacts will only run on 10.14+); the beats use this image to cross compile as there are issues building the beats when using go 1.16 with the earlier (10.11) SDK

[2021-05-26 17:36] jonaz commented on #25865
Noticed this today aswell. This commit broke it: https://github.com/elastic/beats/commit/bef343badb83736992ca6c55c89a3af1e7228a42

[2021-05-26 17:47] brian-grabau commented on #3730
I have issue where remote collection makes sense, I need to work on parsing improvements for and ADFS event but no test ADFS servers, so I need to remote collect so I can see the raw log data. I agree Windows Event Forwarding is the best thing since sliced bread but remote collection would come in handy.  I will do some testing to see if I can get it to work

[2021-05-26 18:11] andrewstucki commented on #25734
Heartbeat, Winlogbeat and OSQuerybeat should likely also be updated. Heads up that you'll also need to update the default ECS version in each beat, in case a module doesn't explicitly set it (such as [here](https://github.com/elastic/beats/blob/9e5aafded2c49d19ee00a5d63b6ef5f6aad5ffaa/x-pack/metricbeat/cmd/root.go#L34)), the various test fixtures, and then also regenerate the embedded field yml fi

[2021-05-26 18:14] P1llus commented on #25734
Will update the issue accordingly, thanks @andrewstucki !

[2021-05-26 18:16] #18427 closed

[2021-05-26 18:23] joshbressers opened #25886 "Run yum update during the 6.8 build"
When we build the 6.8 beats containers, we are not running yum update

The beats are self contained and do not use the operating system packages. Any updates not being installed do not pose a risk. Security scanners pick up these missing updates however, it is good practice to install them every time we build a container.

A workaround for anyone using the 6.8 container images is to manually run "

[2021-05-26 18:24] elasticmachine commented on #25886
Pinging @elastic/agent (Team:Agent)

[2021-05-26 18:26] joshbressers commented on #25886
One extra note. We are running yum update on the 7.x line
https://github.com/elastic/beats/blob/9e5aafded2c49d19ee00a5d63b6ef5f6aad5ffaa/dev-tools/packaging/templates/docker/Dockerfile.tmpl#L33

This is only needed for 6.8

[2021-05-26 18:27] urso commented on #25886
Template for 6.8: https://github.com/elastic/beats/blob/6.8/dev-tools/packaging/templates/docker/Dockerfile.tmpl

[2021-05-26 19:43] andrewstucki commented on #25734
One more thing, as we discussed yesterday, there may be a few places that might be worth adding in the `orchestrator` fields. I'm thinking that we may specifically want to consider taking a look at the autodiscover code and the `add_*_metadata` processors. Specifically seeing if the following make sense to update:

[Kubernetes Autodiscover](https://github.com/elastic/beats/tree/master/libbeat/auto

[2021-05-26 19:45] P1llus commented on #25734
Yeah for sure, I looked over the security integration modules first, and didn't find any that needed updates for this yet. For the Obs based ones there is a meeting planned this week to go through them and see what we find.

Thanks for the list, makes it a lot easier for me as well! :)

[2021-05-26 20:15] blakerouse opened #25910 "Add X-Request-ID to HTTP client for Fleet Server"
**Describe the enhancement:**

Add a `X-Request-ID` to the HTTP client inside of Elastic Agent for communication with Fleet Server.

**Describe a specific use case for the enhancement or feature:**

Will allow correlation between Elastic Agent and Fleet Server access logs.

[2021-05-26 20:15] elasticmachine commented on #25910
Pinging @elastic/agent (Team:Agent)

[2021-05-26 20:54] trentm opened #25922 ""ecs.version" field in some log records is not at top-level"
Hi. I was looking at apm-server logs and noticed that the log records coming from `logSystemInfo` have the "ecs.version" field inside the "system_info" rather than at the top-level https://github.com/elastic/beats/blob/9e5aafded2c49d19ee00a5d63b6ef5f6aad5ffaa/libbeat/cmd/instance/beat.go#L980-L1044
This means that (a) that ecs.version field will not be used by whatever processing is meant to use i

[2021-05-26 21:03] urso commented on #25857
These tests have found to be flaky during the go1.16 update work. Maybe the problem is in how the server has been setup + default ciphers changing? The issue was only producible on Windows 32bit.

[2021-05-26 21:07] nicpenning commented on #20300
Just a note, you can use eventtime as a UTC time that matches the date time fields. Why not use that time?

In your example above:

date=2020-07-20 time=08:29:08

eventtime=1595226548 == Monday, July 20, 2020 6:29:08 AM

Thoughts?

[2021-05-26 21:29] elafontaine commented on #5413
Ok, I confirm that with 7.12, we're able to make it work with `password` type of authentification with kerberos (and clear text password in the configuration).  However, as soon as we switch this to `auth_type: keytab` and pass the `keytab` option, it stops working.  I have confirmed the keytab authentification with `kinit` and with the same `service` that filebeat should be trying to use as per t

[2021-05-26 22:33] kaiyan-sheng commented on #21422
Migrate `ec2` metricset: https://github.com/elastic/beats/pull/25924

[2021-05-27 01:06] andrewvc commented on #25857
That makes sense, I think we specify the cipher exactly, but I'll need to
dive in to check

On Wed, May 26, 2021 at 4:04 PM Steffen Siering ***@***.***>
wrote:

[2021-05-27 01:38] legoguy1000 commented on #25827
@maarsaks can you provide more details on what didn't work.  I added ur sample log to the tests and it parsed properly.

[2021-05-27 03:46] axw commented on #25922
CC @elastic/apm-server

[2021-05-27 06:37] manning23 opened #25929 "PacketBeats: Record the request and response of transactions that cannot be identified by a valid protocol under tcp"
I hope to record the request and response of transactions that cannot be identified by a valid protocol under tcp. :)

like this

- type: unknow-tcp
  enable: true
  send_request: true
  send_response: true

[2021-05-27 08:03] simitt commented on #25346
Thanks for the ping @michel-laterman. So dropping support for `OSX <10.14` is not considered a breaking change (it is done in a minor version upgrade)?
Referring to the current [support matrix](https://www.elastic.co/support/matrix#matrix_os).

[2021-05-27 08:07] michalpristas commented on #24166
this was worked upon here: https://github.com/elastic/beats/pull/25701
test is now enabled and not failing, closing

[2021-05-27 08:07] #24166 closed

[2021-05-27 09:59] amolnater-qasource opened #25940 "[Fleet]: Agents installed with Default fleet server agent after setting multiple other Fleet Servers goes online and offline repeatedly."
**Kibana version:** 7.14.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build Details:**
[code]

**Preconditions:**
1. 7.14.0 Snapshot Kibana cloud environment should be available.
2. Windows 10 x64 Fleet Server agent must be installed on 7.14.0 snapshot with New Policy having Fleet Server Integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. A

[2021-05-27 09:59] elasticmachine commented on #25940
Pinging @elastic/fleet (Team:Fleet)

[2021-05-27 10:00] amolnater-qasource commented on #25940
@dikshachauhan-qasource Please review.

[2021-05-27 10:21] dikshachauhan-qasource commented on #25940
Reviewed and assigned to @EricDavisX

[2021-05-27 10:53] sorantis commented on #22179
Aligning container and hosts ECS metric fields sounds like a good start.
I'm wondering if it's possible extend the list in a generic way with
- `container.state` (up/down)
- `container.uptime`

Question about `container.memory.usage`. What memory metric will this field be derived from? For both kubernetes and docker we collect `memory usage` as well as `memory rss` metrics. Based on the proposed m

[2021-05-27 10:56] mtojek opened #25956 "auditbeat packaging: exec: "arm-linux-gnueabihf-gcc": executable file not found"
Today I noticed some problems with auditbeat:

[code]

Spotted in: https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats/detail/PR-25926/3/pipeline/

[2021-05-27 10:56] elasticmachine commented on #25956
Pinging @elastic/integrations (Team:Integrations)

[2021-05-27 10:56] mtojek commented on #25956
@elastic/observablt-robots maybe you have any idea what has been changed here?

[2021-05-27 11:06] mostlyjason commented on #25865
Here is a description of the change in our release notes https://www.elastic.co/guide/en/beats/libbeat/current/breaking-changes-7.13.html. This is the expected behavior. It helps ensure that Filebeat will run reliably with Elasticsearch as we add new capabilities.

CC @mukeshelastic @nimarezainia

[2021-05-27 11:44] mdelapenya opened #25958 "Latest Heartbeat snapshot is not sending data to Elasticsearch"
@shahzad31 detected and notified that the edge cluster was not receiving Uptime data since yesterday.

We started an investigation and found that a deployment of the latest 8.0.0-SNAPSHOT for heartbeat fails to connect to ES:

[2021-05-27 11:44] elasticmachine commented on #25958
Pinging @elastic/uptime (Team:Uptime)

[2021-05-27 11:55] urso commented on #21174
Would be interesting to compare with output from an older Beat. But in general given the gifs, it works as expected.

In older Filebeat versions we have this behavior:
- N events are acked by the output
- N acked events are given to the registrar
- registrar updates the local state
- registrar serializes the complete internal state to a tmp file. The tmp file is fsynced before closing it
- the reg

[2021-05-27 13:40] jbrunetext opened #25966 "Helm install metricbeat on minikube"
When i install metricbeat on minikuke a faced an issue in the logs :

Here : DNS lookup failure "minikube": lookup minikube on 10.96.0.10:53: no such host

For confirmed bugs, please report:
- Version: last one
- Operating System Container :  containerd
- Steps to Reproduce:
1)  minikube start --cpus 4 --memory 6144  --kubernetes-version=v1.17.17 --container-runtime=containerd
wait for the cluster

[2021-05-27 14:38] EricDavisX opened #25967 "[Agent] Using Fleet Server with 'install' command with RPM/DEB is not supported, can we fix the install cmd to check if RPM/DEB is installed and skip to the 'enroll' step?"
This is a request we could have put in a while back, it occurs to me now that it may be doable to allow DEB/RPM usage to use 'install' as well, if we fix the install command to be cognizant of if the install locations exist on disk already where the DEB/RPM package manager puts them.

This has come up a number of times and requires additional testing and additional docs and special cases, it might

[2021-05-27 14:38] elasticmachine commented on #25967
Pinging @elastic/agent (Team:Agent)

[2021-05-27 14:50] EricDavisX commented on #25967
@ph @mostlyjason I don't know if we want to target 7.14 with it... but if it is deemed likely small / easy by the dev team may be a quick win.

[2021-05-27 15:16] #18776 closed

[2021-05-27 15:18] urso commented on #24988
I'd say this is a must, as the API will be provided for internal monitoring.

[2021-05-27 15:46] func0der commented on #25865
Okay .Thanks. Than we can close this.

I find it really baffling, that such breaking changes are packaged in minor releases.

[2021-05-27 15:46] #25865 closed

[2021-05-27 16:08] Lyrkan commented on #25865
I kinda agree with that 😕

[2021-05-27 16:19] sayden opened #25968 "[SM] Add "roles" field in elasticsearch/node_stats metricsets"
elasticsearch nodes exposes the roles that each of them has assigned, this information looks like this:

[code]

Those roles are also related to [Data Tiers](https://www.elastic.co/guide/en/elasticsearch/reference/7.x/data-tiers.html) which is very useful information for a user. At the same time, we are now showing warning when the storage of a frozen node trespasses the [*high watermark level*](h

[2021-05-27 16:19] elasticmachine commented on #25968
Pinging @elastic/stack-monitoring (Stack monitoring)

[2021-05-27 16:19] elasticmachine commented on #25968
Pinging @elastic/integrations-services (Team:Services)

[2021-05-27 16:20] sayden commented on #25968
@henningandersen thanks for the heads up :slightly_smiling_face:

[2021-05-27 18:24] kaiyan-sheng commented on #25956
Same issue is happening in `x-pack/metricbeat-packaging-linux - mage package` in PR https://github.com/elastic/beats/pull/25924:
[code]

[2021-05-27 19:03] jonaz commented on #25865
Yeah this seems like should have been 8.0?
Beats is apache 2 so I guess someone could maintain a fork.

[2021-05-27 19:43] EricDavisX commented on #25829
Michal offered to look at any burning issues and so I assigned this to him after chatting in slack.

[2021-05-27 21:08] zez3 commented on #20300
Would this be something related?
https://github.com/elastic/beats/issues/11273

[2021-05-27 23:33] paul-stevenson commented on #21174
Thanks for the reply @urso!
The change in behavior after a restart of the service is what caught us off guard.
As long as this is what was intended (and it doesn't cause disk space usage issues), we'll start using the newer version.

[2021-05-28 03:15] cameronkerrnz opened #25978 "PostgreSQL module should enable message size truncation and log-level filtering."
**Describe the enhancement:**

Allow the user of a filebeat postgresql module to specify that logging messages below a certain priorities should not be forwarded, and that (multiline) log messages that would larger than a confurable limit should be truncated.

**Describe a specific use case for the enhancement or feature:**

PostgreSQL is configured to enable logging of slow queries with the follo

[2021-05-28 04:11] nicpenning commented on #20300
No,  I don't think so.

[2021-05-28 07:46] #24869 closed

[2021-05-28 08:13] lowryxiao commented on #24371
Any comments?

[2021-05-28 08:31] mav8140 opened #25984 "Filebeat Threatintel/MISP"
Hi Team,

I have setup filebeat and configured as suggested on official website. It doesn't really work. Please guide.

[2021-05-28 08:50] jsoriano commented on #25816
TLDR; +1 to add the daemonset fields. For the controller/workload fields, on a first look it looks tempting to do that, but after thinking a bit more I wonder if this would be so useful, specially thinking that:
* There are going to be resources that belong to a chain of controllers, and there are use cases to keep storing all of them.
* Different controllers/workloads have different natures, so t

[2021-05-28 08:57] func0der commented on #25865
The matrix here seems to be wrong, then: https://www.elastic.co/fr/support/matrix#matrix_compatibility

It says that Beats 7.13 is compatible with Elasticsearch 7.10.x, which is not true, if we believe the breaking change notices here: https://www.elastic.co/guide/en/beats/libbeat/current/breaking-changes-7.13.html

Elasticsearch | Kibana | X-Pack | Beats^* | Elastic Agent^* | Logstash^* | ES-Hado

[2021-05-28 11:16] #14737 closed

[2021-05-28 11:50] jsoriano commented on #22179
LGTM, thanks!

It can be interesting to add them, but we would need to define them well. For the state we would need to define valid values, that can be different between platforms, and if healthchecks should be considered. Uptime can be also different in different platforms, perhaps we should report creation and/or start times instead.

As these metrics are going to be used for UIs and inventory

[2021-05-28 12:07] sayden commented on #25968
I opened a PR https://github.com/elastic/beats/pull/25988

[2021-05-28 14:11] sorantis commented on #22179
+1 on well defining the state/update metrics before adding them to ECS.

The reason I was asking about including RSS is because I'm seeing it being used as an equally important metric for monitoring container memory. We can review this once we'll have more customer feedback.

[2021-05-28 14:22] mitchelldavis44 commented on #22501
Hi, any idea what version this will be fixed in?  We're currently stuck on 7.10.2 waiting to upgrade.

[2021-05-28 14:34] peasead opened #25990 "Add url.extension to Packetbeat"
**Describe the enhancement:**
I would like if Packetbeat could populate the `url.extension` field. It is in [ECS](https://www.elastic.co/guide/en/ecs/current/ecs-url.html#field-url-extension) and reported as an [exported field for Packetbeat](https://www.elastic.co/guide/en/beats/packetbeat/current/exported-fields-ecs.html#_url), but it doesn't seem to be included yet.

In the below example, I wou

[2021-05-28 14:44] mostlyjason commented on #25533
@EricDavisX yes this was requested by Tony to mitigate the ASLR vulnerability

[2021-05-28 16:04] tehmaspc commented on #10756
@Nighthawk14

This is the model I want to enhance my Fnb deployment model to since we've used this before w/ other tools (e.g. CW Logs->Kinesis (via Subscription filter)->AWS ES)

But how are you doing it w/ Fnb to then ensure that CW Logs that can represent diff services send their data to Kinesis which Fnb monitors and then ensure that Fnb sends to ES into the proper index? Are you doing any ETL

[2021-05-28 17:14] musiczhzhao opened #25995 "Get per process disk read/write io info from Metricbeat"
**Describe the enhancement:**
With the understanding that Metricbeat can collect per process disk io under system.cgroup, but we cannot differentiate the read and write.

This is what we currently get from Metricbeat (7.12.1):
[code]

Can this be implemented so that we can get the disk read ios/bytes and disk write ios/bytes?

If by any chance that this is already supported, please kindly instruct

[2021-05-28 17:37] EricDavisX commented on #25533
So, there are draft PRs open still but I think other work resolves the desire here.  Not sure if we want to track down the teams / prs (and tickets) and do the leg work to close this all out.  I don't know any larger coordination needs, like with the Web site or all of the downloadable locations to find artifacts.

[2021-05-28 17:37] #23578 closed

[2021-05-28 17:48] mostlyjason commented on #25967
@ph @urso this seems like a good idea, it would simplify the install instructions and rpm/deb would not be an exception case requiring the user to open up the docs page for separate instructions. i assume deb/rpm still adds a service, so its still "installed".

however, I'm hoping we can steer more people to use tar.gz so they can upgrade their agents. I wonder if this fix will make rpm/deb less c

[2021-05-28 21:16] #18830 closed

[2021-05-29 02:58] legoguy1000 commented on #25984
What do u mean it doesn't work? Have u asked ur question on https://discuss.elastic.co yet? If not I'd recommend you start there as issues in GitHub are really meant for confirmed bugs/feature requests.

[2021-05-29 03:16] alvarolobato commented on #20404
Did we get to the bottom of this issue?
I'm seeing this issue or a similar one with 7.13.

These are the steps I followed in Windows 10:
 - Download the agent
 - Run the enroll command
 - The agent will enroll successfully and stay in an "updating" state, it won't move from there
[code]
- If I go to services, the service has been installed but it's not running.
- If I try to run it it will termina

[2021-05-29 04:24] alvarolobato opened #25996 "Metricbeat under agent restart loop with 'error finding ListUnits Method: no supported list Units function: map[]'"
- Version: 7.13
- Operating System: Ubuntu  4.4.0-1044-aws #47-Ubuntu SMP Wed May 8 19:02:36 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
- Steps to Reproduce:

- Install and enroll agent with default configuration
- Add Linux integration with "Collect Metrics from Linux Instances"

Metricbeat will go into a restart loop with this error:
[code]

[code]

Removing the Linux integration will fix the issue

[2021-05-29 04:26] elasticmachine commented on #25996
Pinging @elastic/integrations (Team:Integrations)

[2021-05-29 14:22] MarcOverIP commented on #13093
+1 Would really appreciate this. Just spent way too much time with a basic setup. Couldn't get filebeat to parse it as json. Now have Logstash do all the json parsing. Feels counter intuitive and is not in line with the elastic blog. But it's the only way to make it do something. A detailed blog with several use cases would surely help!

[2021-05-29 20:43] EricDavisX commented on #25940
Thanks for logging.  I've been investigating the same area, and  am setting up the Demo / Test server to help us test this routinely.

I see from your notes and screenshots that:

In step 2: Add url for self created Fleet Server Agent "10.0.x.x:8220" under Fleet Settings.
 - you kept the cloud-hosted FS Agent as well as adding one more real one, and adding another 'localhost' FS

In step 4) After

[2021-05-30 11:16] #18855 closed

[2021-05-31 06:14] amolnater-qasource commented on #25940
Hi @EricDavisX
Thanks for looking into this.

Yes

This is a non-Fleet Server agent, the elastic-agent that is installed with the first URL, that is the cloud hosted FS Agent.
Note: During this elastic-agent installation we had other FS agents as well  running on the Kibana.

Further, as per logs we observed that the new secondary agent[ i.e elastic-agent] tries to connect to all the existing Flee

[2021-05-31 06:28] dikshachauhan-qasource commented on #25533
Hi @EricDavisX

For now, as per the merges we have validated the 7.14 snapshot artifact link and found 32 bits artifacts links are still available.

**Artifact link referred:**
https://artifacts-api.elastic.co/v1/search/7.14.0-SNAPSHOT

**Screenshot:**
![image](https://user-images.githubusercontent.com/72375798/120149380-4306a280-c207-11eb-93e2-9dc93ca0a061.png)

@ph Could you please confirm us ab

[2021-05-31 06:39] morganchristiansson commented on #18334
docker.elastic.co/beats/filebeat:7.13.0 has arm64 on https://www.docker.elastic.co/r/beats/filebeat

Can def close this :1st_place_medal:

[2021-05-31 09:33] ruflin commented on #25940
Is my understanding correct that this scenario mixes an on prem and hosted fleet-server? Even though it should work I remember we mentioned that at the moment it is not something we support (@ph @mostlyjason please clarify if this is not correct).

Having said that, we should still dig into this to understand what happens as we should support this in the future.

[2021-05-31 10:38] elasticmachine commented on #25990
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-31 10:48] jamiehynds opened #26008 "TI Module | MISP Attributes"
MISP has a hierarchy of ‘Events’, ‘attributes’ and ‘objects’ and threat intel can be represented in MISP in a number of ways.

**Use case 1**
An event can be created which contains an attribute or multiple attributes. Filebeat ThreatIntel correctly processes event/attribute relationships for 1 to n attributes and stores the type/values in an index.

Event: 1234

attribute type: MD5
attribute value

[2021-05-31 10:49] elasticmachine commented on #26008
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-31 11:08] kvch commented on #18334
We are still waiting for Elastic Docker logging plugin on ARM, so I would like to keep this open.

[2021-05-31 11:42] michalpristas commented on #25829
@EricDavisX wasnt this already fixed long time ago
`{"log.level":"error","@timestamp":"2021-05-19T07:23:39.723-0400","log.logger":"centralmgmt","log.origin":{"file.name":"cfgfile/list.go","file.line":99},"message":"Error creating runner from config: 1 error: metricset 'system/load' not found","ecs.version":"1.6.0"}`

[2021-05-31 14:44] #23908 closed

[2021-05-31 14:47] #25346 closed

[2021-05-31 17:13] jrabem82 commented on #19385
:+1:

[2021-05-31 18:26] philippkahr opened #26014 "packetbeat SIGSEV segmentation violation"
OS: UnRaid 6.9.3 running Docker Version 20.10.5
Packetbeat version: 7.13.0

I am running packetbeat 7.13.0 on unraid 6.9.3 with a Docker container. I've attached the packetbeat.yml, the log details that show up.

[code]

From the monitoring tab I cannot see anything wrong. I debugged packetbeat with the `--httpproof` option here you go:
[packetbeatdebug.zip](https://github.com/elastic/beats/files/

[2021-05-31 18:36] bhavyarm opened #26015 "Update Client IP Locations (requires GeoIP enrichment) [Packetbeat] ECS viz to new maps app"
- Version: 7.13.1
 The Client IP Locations (requires GeoIP enrichment) [Packetbeat] ECS visualization is using the old maps (coordinate map). This panel can be updated to the new maps app. Coordinate maps are also going away in 8.0.0 version

Dahsboard:
<img width="1792" alt="Screen Shot 2021-05-31 at 2 34 37 PM" src="https://user-images.githubusercontent.com/7074629/120230492-6b010080-c21d-11eb-9

[2021-05-31 20:04] kuisathaverat commented on #18334
@kvch Do you mean to build the Elastic Docker logging plugin on ARM? Is it something Robots we can do? or it is something else

[2021-06-01 05:26] michalpristas commented on #25829
i can reproduce this, if i keep refreshing agent i am hitting this issue eventually, i dont know why this is happening so far. i suspect race in shutdown but i might be wrong.

another problem i see is that orphaned beat cannot connect to agent and keeps logging this
[code]

together with speed logging it also eats up memory - there probably is some leak in `elastic-agent-client`

[2021-06-01 06:56] mdiehm commented on #25367
Hi @jamiehynds ,

thanks a lot for your reply and sorry for the late response. We had to get back with
the customer and figure some more details.

The RSA document you linked refers to a BIGIP release that dates
back to Feb 17. 2015. Since then there have been numerous major updates. Our
customer is running Release: 15.1.2.

That said I'm not sure and can't find any hints on the elastic website to

[2021-06-01 07:15] simitt opened #26638 "Support customization of throughput relevant settings in APM integration"
APM Server standalone allows users to customize throughput relevant settings:
* `output.elasticsearch.worker`, `output.elasticsearch.bulk_max_size`
* `queue.mem.events`, `queue.mem.flush.min_events`

Elastic Agent with Fleet does not expose the memory queue related settings, but they are important to be aligned with the available resources to optimize processing while not running out of memory.
A

[2021-06-01 07:45] fdartayre commented on #17724
It's still there in 7.13.0.

[2021-06-01 07:53] adriansr opened #26031 "Auditbeat: kauditd deadlocks when netlink channel is congested during startup"
If the netlink channel used to talk to kauditd is congested, Auditbeat's auditd module initialization can fail when setting the Audit PID:

[code]

cleaned up error:

[code]

This error triggers closing of the netlink channel, which deadlocks the kernel when the closing routine first tries to set the Audit PID to zero.

This causes the Auditbeat process to block indefinitely:

(kernel stack)
[code

[2021-06-01 08:05] elasticmachine commented on #26031
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-01 08:14] elasticmachine commented on #26015
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-01 08:16] #16960 closed

[2021-06-01 08:31] jamiehynds opened #26033 "Palo Alto | include "strict_date_optional_time_nanos" format for date fields"
Logs that are generated from Palo Alto's Cortex Data Lake default to using the date format strict_date_optional_time_nanos, while the panw-panos-pipeline currently defaults to using the following date format:

[code]

Adding 'strict_date_optional_time_nanos' as a default date format for the filebeat panw-panos-pipeline will also users to ingest data from  Palo Alto's Cortex Data Lake without manua

[2021-06-01 08:32] elasticmachine commented on #26033
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-01 08:45] amolnater-qasource opened #26034 "[Inconsistent]: Agent showing inconsistent behaviour on changing log level to debug when installed with a policy having System and Endpoint Security"
**Kibana version:** 7.13.1 BC-2 Kibana cloud environment

**Host OS and Browser version:** Windows 10 x64, All

**Build Details:**
[code]

**Preconditions:**
1. 7.13.1 Kibana cloud environment should be available.
2. Hosted Fleet Server agent must be available.
2. Windows 10 x64 **agent must be installed with Default Policy having System and Endpoint Integration**.

**Steps to reproduce:**
1. Logi

[2021-06-01 08:45] elasticmachine commented on #26034
Pinging @elastic/fleet (Team:Fleet)

[2021-06-01 08:45] amolnater-qasource commented on #26034
@manishgupta-qasource Please review.

[2021-06-01 09:04] aeftef commented on #14164
Same problem here, filebeat + istio.
I have deployed a workarround, overriding filebeat conatiner startup script so it first waits for the api server to be reachable
adding this parameter for filebeat container (I'm deploying it as a sidecar)

`command: ['/bin/bash', '-c','while [[ "$(/bin/curl -k -s -o /dev/null -w ''%{http_code}'' https://kubernetes.default.svc.cluster.local/version)" != "200" ]

[2021-06-01 10:01] maarsaks commented on #25827
I've tested on docker images with docker-compose using the latest, fresh version of filebeat.

I'm using Kibana to filter logs and there's is an error: 'Provided Grok expressions do not match field value'.
What details exactly do you need?

[2021-06-01 10:02] benqua commented on #25458
Any plan to support sasl kafka input?

[2021-06-01 10:23] manishgupta-qasource commented on #26034
Reviewed & Assigned to @EricDavisX

[2021-06-01 10:40] amolnater-qasource opened #26041 "Elastic-agent [Metricbeat] crashed on upgrading 7.13.1 snapshot agent to 7.14.0 Snapshot agent."
**Kibana version:** 7.14.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** Windows 10 x64, All

**Build Details:**
[code]

**Preconditions:**
1. 7.14.0 Snapshot Kibana cloud environment should be available.
2. 7.13.1 Snapshot Agent must be installed with Default policy having System and Endpoint Security.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Upgrade 7.13.

[2021-06-01 10:40] elasticmachine commented on #26041
Pinging @elastic/fleet (Team:Fleet)

[2021-06-01 10:41] amolnater-qasource commented on #26041
@manishgupta-qasource Please review.

[2021-06-01 10:45] manishgupta-qasource commented on #26041
Reviewed & Assigned to @EricDavisX

[2021-06-01 13:04] legoguy1000 commented on #25827
How did you update the pipeline? Is the log thats having the issue the same that I added to the sample data??

[2021-06-01 13:36] mbarretta commented on #14414
reopening since auto-closed.

This is still an issue, I think. Received a question about it today with these logs:
[functionbeat_logs.txt](https://github.com/elastic/beats/files/6576597/functionbeat_logs.txt)

[2021-06-01 14:31] cakarlen commented on #22780
Bump on this issue as I experienced this exact error as OP described above when turning up o365 logging. Verified my Azure app has the correct permissions and manually tested API creds to verify

[2021-06-01 15:16] #18862 closed

[2021-06-01 15:42] willemdh commented on #22780
@cakarlen The workaround works fine for me, but we shouldnt have to do this..

[2021-06-01 16:00] andrewvc commented on #24371
Apologies for the delay. I'm not sure this is an existing problem, are you not getting distinct error messages?

There should be different error messages for connection refused vs. connection timed out already, though I can't recall the exact text.

To be clear, a ping's success won't inform HTTP behavior, ICMP != HTTP/TCP

[2021-06-01 16:09] fearful-symmetry commented on #20404
If I remember correctly, this was an issue with the installer on windows that magically went away during a subsequent BC-- @alvarolobato you might want to file a new issue.

[2021-06-01 16:11] alvarolobato commented on #20404
ok, I'll do that.
Should we close this one then?

[2021-06-01 16:15] EricDavisX commented on #26041
@michalpristas I assigned this to you for quick triage if not more.  let us know if you need more logs or what you think.  I'm adding it to the high-priority tracking list

[2021-06-01 16:19] elasticmachine commented on #26041
Pinging @elastic/agent (Team:Agent)

[2021-06-01 16:30] EricDavisX commented on #25829
@michalpristas thanks for raising it - @amolnater-qasource can you confirm versions of Kibana and System Integration you are testing with please?

@fearful-symmetry I know there was some Win7 specific case we couldn't fix, not sure if this is that use case or not.  Anything you can check on your side?

[2021-06-01 16:36] fearful-symmetry commented on #25829
[code]

That should have been fixed a long time ago. If you're still seeing that error @michalpristas , can you tell me what version of the system integration is currently running? It should be in the `view config` setting inside the policy menu.

I don't recall that? The guard that prevents this from running on windows should be fairly blunt.

[2021-06-01 16:38] EricDavisX commented on #25829
It may have been win2019 that we couldn't figure out why, upon more thinking.  Anyhow, let us wait for host and Integration version info.  However, I don't know how it would be 'old enough' at this point with routine testing that it should ever come up.

[2021-06-01 16:39] EricDavisX commented on #26034
@michalpristas is this related to the other 2 metricbeat crashing / restart loop problems?  It may be a false positive and go away when the other issues are fixed.

[2021-06-01 18:29] mostlyjason commented on #25940
I think we talked about not supporting this case, but I'm not sure we made a decision on it. The behavior we defined here allows for multiple hosts https://github.com/elastic/kibana/issues/89442#issue-795268160. It says "The Elastic Agent will iterate through URLs until it connects to one successfully. This allows for automatic failover and subnets."

It looks like it only tried a single host in 4

[2021-06-01 18:48] EricDavisX commented on #25533
This makes sense then, the above PRs surely are for the Infra job side removal - I just couldn't be sure prior, thanks for noting it Diksha.  We can follow up again when the PRs are merged later.

[2021-06-01 18:59] michalpristas commented on #25829
@fearful-symmetry
[code]

[2021-06-01 19:18] fearful-symmetry commented on #20404
Yep, I can close it.

[2021-06-01 19:18] #20404 closed

[2021-06-01 19:21] maarsaks commented on #25827
I updated pipline by replacing default config with yours in a new, freshly installed filebeat under `/usr/share/filebeat/module/haproxy/log/pipline.json`.

Yes.

[2021-06-01 19:30] legoguy1000 commented on #25827
Ok, and the pipeline loaded into Elasticsearch matches? I've never modified a pipeline that way.  I would have done it through Kibana dev tools/API after it was loaded.  Can you post the resulting event from ES?

[2021-06-01 19:32] fearful-symmetry commented on #25829
Yah, I remember that.

So, nothing in the config has changed, as far as I can tell. Kinda obvious @michalpristas , can you disable `load` in the policy and see if the problem goes away? `load` is pretty fundamental, and I kinda wonder if someone added some component somewhere that's enabling it separately. Also, if you have `go` installed on this host, can you give me the output of `go env`?

[2021-06-01 21:22] yaauie opened #26076 "When system module disabled, Metricbeat still sets up metricbeat indices"
We recommend that our users monitor Logstash with Metricbeat's `logstash` module with `xpack.enabled: true`, optionally disabling the `system` module if they do not have a need to monitor the host system ([docs](https://www.elastic.co/guide/en/logstash/current/monitoring-with-metricbeat.html#monitoring-with-metricbeat)). This causes all monitoring data to be routed to the stack monitoring indices.

[2021-06-01 22:23] kaiyan-sheng commented on #25774
This should be fixed by: https://github.com/elastic/beats/pull/26077

[2021-06-02 06:28] gerardnorton commented on #26041
I also have this problem.
Metricbeat doesn't seem to find the API endpoint.

Error:
{"log.level":"info","@timestamp":"2021-06-02T07:59:58.933+0200","log.origin":{"file.name":"module/wrapper.go","file.line":259},"message":"Error fetching data for metricset beat.stats: error making http request: Get \"http://npipe/stats\": open \\\\.\\pipe\\default-endpoint-security: El sistema no puede encontrar el

[2021-06-02 07:09] amolnater-qasource opened #26101 "Fleet Server agent stuck in updating state on triggering unenrollment from Kibana UI"
**Description:**
Fleet Server agent when installed with any policy having Fleet Server integration stuck in updating state on triggering unenrollment from Kibana UI.

**Kibana version:** 7.13.1 BC-2 Kibana cloud environment

**Host OS and Browser version:** Windows 10 x64, All

**Build Details:**
[code]

**Preconditions:**
1. 7.13.0 BC-2 Kibana cloud environment should be available.
2. Windows 10

[2021-06-02 07:09] elasticmachine commented on #26101
Pinging @elastic/fleet (Team:Fleet)

[2021-06-02 07:09] amolnater-qasource commented on #26101
@manishgupta-qasource Please review.

[2021-06-02 07:44] manishgupta-qasource commented on #26101
Reviewed & Assigned to @EricDavisX

[2021-06-02 07:49] wenlxie commented on #26031
@adriansr Thanks for the fix.
I debug this issue yesterday and find the same deadlock behavior.

[2021-06-02 08:19] elasticmachine commented on #19540
Pinging @elastic/integrations (Team:Integrations)

[2021-06-02 08:55] newly12 commented on #26031
@adriansr thanks for this issue as well as the fix. Apart from fixing the deadlock,
* is there a way to panic auditbeat when such issue happens? If that's possible auditbeat could be restarted either via something systemd or containerd(if running in a container/pod).
* if not, any chance to detect that `auditd` module has failed from its API or command line? for the same reason, we could simply ad

[2021-06-02 09:09] eedugon commented on #25816
Just thinking out loud now :)

We could have:
- `kubernetes.workload.name + type`: for high level workloads like `Deployment`, `StatefulSet`, etc. (or keep the separated field names, which would force us to add extra fields in the future if a new type is supported).

- `kubernetes.crd.name + type`: for CRDs support (if we support this in the future, and I don't know if this is technically easy or

[2021-06-02 09:13] wzt-tao commented on #24495
I want to do this too, how can I solve it!

[2021-06-02 09:39] kvch commented on #18334
@kuisathaverat No, on our side everything is ready. Thank you. However, it is going to be a bigger undertaking from the Infra team, we are still figuring out how to proceed.

[2021-06-02 09:50] kvch opened #26108 "Add support for Elastic logging plugin on ARM"
The goal of this issue is to track the progress of the Elastic logging plugin on ARM. It is a Docker plugin, not an image, thus, I separated it from the original issue: https://github.com/elastic/beats/issues/18334

### Tasks
- [x] packaging from the repository using `mage package`
- [ ] prepare the release manager and Docker registry for deploying ARM-based plugins
- [ ] integrate the artifact in

[2021-06-02 09:52] kvch commented on #18334
I am closing this issue as all arm64 Docker images are ready and released. I have created a follow-up issue for our Docker plugin: https://github.com/elastic/beats/issues/26108

[2021-06-02 10:52] amolnater-qasource commented on #25829
Hi @EricDavisX

We are using 7.13.0 [released] Kibana self managed environment.

**Versions of Integrations:**
System Integration version: 0.12.6
Endpoint Security version:  0.19.1
Fleet Integration version: 0.9.1

Please let us know if anything else is required.
Thanks
QAS

[2021-06-02 11:31] jsoriano opened #26112 "Fix duplicated and missing metrics in kafka.broker metricset"
The jolokia mapping for the kafka broker metricset contain some duplicated mbeans and attributes, reported as different names, e.g:
[code]
The `OneMinuteRate` of `kafka.server:type=BrokerTopicMetrics,name=FailedFetchRequestsPerSec` is configured to be reported both as `kafka.broker.request.fetch.failed_per_second` and `kafka.broker.request.fetch.failed`. This is probably not intended.

The `failed

[2021-06-02 11:31] elasticmachine commented on #26112
Pinging @elastic/integrations (Team:Integrations)

[2021-06-02 11:56] StefanSa opened #26113 "[Elastic-agent] Filebeat, required editing option for "exclude_files" in modul "system""
**Describe the enhancement:**

Currently in the elastic-agent, filebeat-module `system` defined as "exclude_files" `gz$`, but also need `xz$` as this is standard at SuSe / openleap.

So it would make sense to make `exclude_files` editable.

[2021-06-02 11:59] P1llus commented on #26113
To add to this, after some discussion on slack, it would be nice if the system integration/package would export the "exclude_files" part of the config template, so that more types can easily be excluded. This issue might need to move to elastic/integration, but we will see what people say.

[2021-06-02 11:59] elasticmachine commented on #26113
Pinging @elastic/integrations (Team:Integrations)

[2021-06-02 12:16] #15488 closed

[2021-06-02 12:33] andrewstucki commented on #26031
@newly12

So, the problem here is that the netlink socket buffer used to do the userspace/kernel communication for the audit subsystem is full and nothing is draining it from userspace, so kernel tasks lock up when the kernel waits for space to publish a message over the socket. The file integrity module uses `inotify` to event on file operations and is independent of the audit framework, so this

[2021-06-02 12:46] elasticmachine commented on #25815
Pinging @elastic/integrations (Team:Integrations)

[2021-06-02 13:15] urso commented on #25135
The data file is first written to a temporary file, then fsynced. Afterwards the file is renamed to the the data file. If something goes wrong in between, the registry can reboot itself from an older data file + the update logs.json file. Would be intersting to see the complete state of the regsitry/filebeat folder.

As this is the first time we're seeing this kind of corruption in the json encode

[2021-06-02 13:15] maarsaks commented on #25827
Yup, it loaded and this is the message from ES:
[code]

[2021-06-02 13:33] legoguy1000 commented on #25827
Hmm, IDK.  Here, https://github.com/elastic/beats/pull/25835/files#diff-8363329fdb5b538e99f1112198aaa68d0a353c161a49f26a1041f6f49ae47cfdR63, you can see that the sample log is the same as u provided and is being parsed properly.

[2021-06-02 14:16] #9288 closed

[2021-06-02 16:15] newly12 commented on #26031
@andrewstucki I understand `auditd` is just a submodule of auditbeat, however it's kind of special especially in a k8s environment, i.e. there can **only** be an auditbeat in a node with `auditd` module enabled(unlike file integrity module) if I understand correctly(which is why it conflicts with `auditd` service?), while `file integrity` module could be turned on multiple paths, and much more pat

[2021-06-02 16:28] andrewstucki commented on #26031
@newly12 we can discuss more in a https://discuss.elastic.co/ if you're interested, but the fix actually maintains the previous behavior of the `auditd` module, which, if it fails to register itself as the main audit userspace daemon, returns an error that eventually exits the process. Previously, the error handling logic would occasionally deadlock on this error path due to socket buffer congesti

[2021-06-02 16:38] newly12 commented on #26031
Thanks. I didn't realize the difference between unifcast vs multicast modes.

Is this the case that would exit auditbeat process even with other moduke i.e. file integrity enabled?

[2021-06-02 16:44] shimonmodi commented on #22281
@MikePaquette - host.id uniqueness issues

[2021-06-02 17:15] kaiyan-sheng commented on #21422
Migrate `sqs` metricset: https://github.com/elastic/beats/pull/26117

[2021-06-02 17:20] elasticmachine commented on #26101
Pinging @elastic/agent (Team:Agent)

[2021-06-02 17:48] peasead commented on #21512
I had the same issue with an installation via `dnf install elastic-agent`. Version `7.13.1`.

To enroll in Fleet, I simply used the `enroll` command as @blakerouse mentioned above.

[code]

[2021-06-02 17:57] BenB196 opened #26118 "[Filebeat][Cisco] Allow for TCP syslog input"
**Describe the enhancement:**
Allow the Filebeat Cisco syslog modules to use TCP

**Describe a specific use case for the enhancement or feature:**
Currently the Filebeat Cisco syslog modules are hard-coded to using UDP, however most Cisco equipment that can do syslog output, can be configured to use TCP. It would be ideal if you could switch between UDP and TCP input for the Cisco Filebeat syslog

[2021-06-02 18:05] EricDavisX commented on #26101
I think this is a dupe, need to search for the ticket...

[2021-06-02 18:55] EricDavisX commented on #25829
@fearful-symmetry do you have bandwidth to try to reproduce since it is with recent code?  I'm hoping it isn't 'special' to see it.

[2021-06-02 20:03] andrewvc opened #26119 "[Heartbeat] Use capabilities and `--rich-metadata` with synthetics"
We should switch over to only using the `--rich-metadata` https://github.com/elastic/synthetics/issues/289 flag for synthetics in heartbeat, and also supporting capabilities https://github.com/elastic/synthetics/issues/292 as a per-monitor config option in heartbeat. We can just add `capabilities` as an option, and let that take an array.

[2021-06-02 20:04] elasticmachine commented on #26119
Pinging @elastic/uptime (Team:Uptime)

[2021-06-02 21:55] ycombinator opened #26120 "Apache Status metricset is no longer adjusting fields for fleet mode"
For confirmed bugs, please report:
- Version:  7.14.0-SNAPSHOT, 8.0.0-SNAPSHOT
- Operating System:  Mac OS

Due to the changes made in https://github.com/elastic/beats/pull/25696, specifically the removal of lines like https://github.com/elastic/beats/pull/25696/files#diff-7a841954bb3e58e0c8cd54e0ece78075a30bd6f19f5a45a7c8e314c549f6b6a1L6, the `apache/status` metricset is no longer adjusting certa

[2021-06-02 21:56] ycombinator commented on #26120
cc: @mtojek @michel-laterman

[2021-06-02 21:56] elasticmachine commented on #26120
Pinging @elastic/agent (Team:Agent)

[2021-06-02 22:02] fearful-symmetry commented on #25829
Me getting agent set up on windows always takes a while, but I can try and take a crack at it tomorrow @EricDavisX

[2021-06-02 22:04] elasticmachine commented on #26120
Pinging @elastic/integrations (Team:Integrations)

[2021-06-03 00:30] dedemorton commented on #25107
Closing this because we've added release notes to the Fleet User Guide here (starting in 7.13): https://www.elastic.co/guide/en/fleet/current/release-notes.html

[2021-06-03 00:30] #25107 closed

[2021-06-03 00:41] vigneshshanmugam opened #26122 "[Heartbeat] Add mappings for synthetics browser metrics"
+ Synthetics has added a new metrics like user timings, core vitals etc https://github.com/elastic/synthetics/pull/194, These fields have added to `root_fields` which does not have any mappings yet.

We need to add mappings to all the fields exposed from the `journey/timings` data.

[2021-06-03 00:41] elasticmachine commented on #26122
Pinging @elastic/uptime (Team:Uptime)

[2021-06-03 04:36] pchheda-lyft commented on #25458
We need this as well. Any plan to support this?

[2021-06-03 05:22] amolnater-qasource commented on #26101
Hi @EricDavisX
We have created this ticket in lieu of https://github.com/elastic/beats/issues/25561 for better discussion.

Thanks

[2021-06-03 07:16] #18917 closed

[2021-06-03 07:28] manning23 commented on #25929
need help

[2021-06-03 08:19] jsoriano commented on #25816
Could you describe some use cases where this would be important in visualizations focused on pods? I see it can be useful to see what was the workload that controls the pod, but I don't see under what use case this can be so relevant. kubectl doesn't explicity show this information in commands focused on pods.
We can implement this and have this kind of view, but if they are not so relevant in rea

[2021-06-03 08:22] #25956 closed

[2021-06-03 09:09] amolnater-qasource commented on #26101
Further, while testing on self-managed 7.14.0 Snapshot we have found this issue **reproducible**.
Fleet Server agent having Fleet Server integration stuck in updating state on triggering unenrollment from Kibana UI.

Thanks

[2021-06-03 09:27] elasticmachine commented on #26118
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-03 10:31] kvch opened #26130 "Adopt `parsers` in all Filebeat inputs"
### Goal

[Parsers](https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-input-filestream.html#_parsers) are the successors of readers of the `log` input. They provide a more flexible message parsing. At the moment they are only available in the `filestream` input. But the functionality could be useful in other inputs.

We have to inspect all available inputs in Filebeat to see if it ma

[2021-06-03 10:31] elasticmachine commented on #26130
Pinging @elastic/agent (Team:Agent)

[2021-06-03 10:59] dikshachauhan-qasource commented on #23297
Hi @EricDavisX ,

Could you please confirm if we need to validate this.

Kindly please let us know more details to validate the same as well in case we need to cover it.

Thanks
QAS

[2021-06-03 11:09] jonaz commented on #25865
@mostlyjason is the compability matrix going to be fixed to reflect this major breaking change?

[2021-06-03 11:15] dikshachauhan-qasource commented on #24415
Hi Eric

We have updated below two testcases for point 3 and 4 in ticket summary.

Testcases link is as folows:
- [C77042](https://elastic.testrail.io/index.php?/cases/view/77042)
- [C77043](https://elastic.testrail.io/index.php?/cases/view/77043)

Thanks
QAS

[2021-06-03 12:05] amolnater-qasource opened #26131 "[Self-managed]: Upgraded Agent went offline after changing log level on Upgraded 7.14.0 Snapshot Kibana."
**Kibana version:** 7.14.0 Snapshot upgraded from 7.13.0 self-managed Kibana environment

**Host OS and Browser version:** Windows 10 x64, All

**Build Details:**
[code]

**Preconditions:**
1. Upgraded 7.14.0 Snapshot  self-managed  Kibana environment should be available.
2. 7.13.0 released Windows 10 x64 Fleet Server Agent must be installed with policy having System, Endpoint Security and Fleet S

[2021-06-03 12:05] elasticmachine commented on #26131
Pinging @elastic/fleet (Team:Fleet)

[2021-06-03 12:05] amolnater-qasource commented on #26131
@karanbirsingh-qasource Please review.

[2021-06-03 13:01] amolnater-qasource opened #26133 "[Self-managed]: 7.13.1 agent stuck in Updating state on triggering Upgrade on 7.14.0 Snapshot"
**Kibana version:** 7.14.0 Snapshot upgraded from 7.13.0 self-managed Kibana environment

**Host OS and Browser version:** Windows 10 x64, All

**Build Details:**
[code]

**Preconditions:**
1. Upgraded 7.14.0 Snapshot  self-managed  Kibana environment should be available.
2. 7.13.1 released Windows 10 x64 Fleet Server Agent must be installed with policy having System, Endpoint Security and Fleet S

[2021-06-03 13:01] elasticmachine commented on #26133
Pinging @elastic/fleet (Team:Fleet)

[2021-06-03 13:01] amolnater-qasource commented on #26133
@karanbirsingh-qasource Please review.

[2021-06-03 13:16] #18930 closed

[2021-06-03 14:22] michalpristas opened #26137 "Agent: enable setting headers for fleet"
During enrollment we want to have an option to add custom headers used in output.

These headers will be injected to elasticsearch output used by fleet server using elasticsearch client.

[2021-06-03 14:22] elasticmachine commented on #26137
Pinging @elastic/agent (Team:Agent)

[2021-06-03 14:53] sayden commented on #18949
Fixed in https://github.com/elastic/beats/pull/19055

[2021-06-03 14:53] #18949 closed

[2021-06-03 15:31] #24556 closed

[2021-06-03 17:21] elasticmachine commented on #26133
Pinging @elastic/agent (Team:Agent)

[2021-06-03 17:21] elasticmachine commented on #26131
Pinging @elastic/agent (Team:Agent)

[2021-06-03 19:10] EricDavisX commented on #23297
no testing needed

[2021-06-03 19:49] fearful-symmetry commented on #25829
So, I'm still trying to test this properly, but so far I'm not seeing anything in 7.13 of `elastic-agent` itself.

[2021-06-03 20:02] fearful-symmetry commented on #25829
Alright @EricDavisX / @michalpristas I tested this out on a fresh install of 7.13.1 with Windows server 2012. I can't seem to reproduce it. Either its been fixed, or it's something more subtle.

[2021-06-04 00:26] elasticmachine commented on #25622
Pinging @elastic/integrations (Team:Integrations)

[2021-06-04 00:27] dedemorton commented on #25622
We need to kick this back to the development team because the module is missing required info that should have been added before it was merged:

- fields.yml is incomplete, so the [field reference topic](https://www.elastic.co/guide/en/beats/metricbeat/current/exported-fields-cockroachdb.html) contains no useful info.
- data.json is empty

[2021-06-04 03:17] axw opened #26142 "libbeat/idxmgmt: alias creation fails when `setup.ilm.overwrite: true` and alias exists"
When ILM is enabled, libbeat will attempt to create a write alias. It does this by creating an index, and attempting to pointing the write alias to it:

https://github.com/elastic/beats/blob/dc576280f49baec169cd86f64a043cdc3d4fbab6/libbeat/idxmgmt/ilm/client_handler.go#L178-L208

If the _index_ already exists, Elasticsearch will return 400; libbeat then checks if the alias exists, and carries on w

[2021-06-04 08:16] #18946 closed

[2021-06-04 09:15] michalpristas commented on #26034
may be related yes

[2021-06-04 09:18] kvch commented on #15981
Closing as have already adopted https://github.com/elastic/go-licence-detector in #18655

[2021-06-04 09:18] #15981 closed

[2021-06-04 10:21] maarsaks commented on #25827
And that's the problem. Like I said in my first comment the pattern is working in Grok debugger, but it doesn't display correctly in Kibana.

[2021-06-04 11:42] amolnater-qasource commented on #26041
Hi @EricDavisX
We have upgraded 7.13.0 (shipped) agent on 7.13.1 Kibana cloud environment and found this issue **reproducible** there.
We observed that after upgrading 7.13.0 agent to 7.13.1, agent stucks in [Metricbeat] Starting-Restarting-Crash loop.

**Logs:**
[logs1.zip](https://github.com/elastic/beats/files/6598148/logs1.zip)
[logs2.zip](https://github.com/elastic/beats/files/6598151/logs2.z

[2021-06-04 12:25] amolnater-qasource commented on #26131
Hi @EricDavisX
This issue is similar to https://github.com/elastic/beats/issues/26034. However this reported issue is reproduced with different steps and on self-managed kibana.

So we reported this ticket for tracking this issue separately.

Thanks
QAS

[2021-06-04 12:35] fdartayre opened #26147 "Dissect: ignore_failure doesn't work as expected"
Filebeat 7.13.0

The `ignore_failure` setting in the `dissect` processor doesn't seem to work as expected and behaves as if it were `true`.

[code]
When the first `dissect` processor fails, the processor _should_ log an error, preventing execution of other processors if `ignore_failure` is `false` (according to https://www.elastic.co/guide/en/beats/filebeat/current/dissect.html).

This is not what

[2021-06-04 12:41] mfinelli commented on #26142
I'm having the same issue when the initial index gets created on one day and then a beat agent restarts on a different day and tries to write to an index now named with the current day. As a temporary workaround I need to restart all of the beats so that they all try to write to the new day index and then I update the old index alias no no longer be a write index:

[code]

[code]

[2021-06-04 14:45] sorantis opened #26149 "[Metricbeat] Add reservation metrics to VMWare integration"
Users are missing reservation metrics from the VMWare module. Add the following metrics to VMWare module:

- `staticCpuEntitlement` , this will give CPU reservation VM
- `staticMemoryEntitlement`, this will give Memory Reservation of VM

[2021-06-04 14:46] elasticmachine commented on #26149
Pinging @elastic/integrations (Team:Integrations)

[2021-06-04 16:23] #25391 closed

[2021-06-04 18:16] #19274 closed

[2021-06-04 19:16] #25774 closed

[2021-06-04 21:07] andrewvc opened #26153 "[Heartbeat] Make synthetics deps auto-download from container"
we have had previous conversations about making a separate docker image for synthetics enabled agent. This has always been a non-optimal solution, and in this issue I propose we consider evaluating whether we can use dynamic downloading of synthetics dependencies instead.

We would still bundle heartbeat with the agent but the `yum` dependencies and node etc. would be downloaded on the first indic

[2021-06-04 21:07] elasticmachine commented on #26153
Pinging @elastic/uptime (Team:Uptime)

[2021-06-05 01:16] #18860 closed

[2021-06-05 12:16] #18977 closed

[2021-06-06 13:32] OranShuster opened #26154 "[filebeat] Add option to dedot keys to ecode_json_fields processor"
**Describe the enhancement:**
We currently use filebeat to send k8s audit logs to ES
A k8s audit log is essentially a very big JSON with information regarding the action made and the response returned
Since it contains the response it also contains labels and annotation which for k8s usually contains dots
So for a case where a pod has 2 labels: `app` and `app.service` we would get a text-object ma