[2019-12-18 13:29] ph opened #15182 "[Agent] Fail to parse a configuration."
[code]
	Failed to read configuration, error: could not emit configuration: fail to extract program configuration: fail to generate configuration for output name default: could not parse configuration into a tree, error: unknown type <nil> for <nil>
[code]

[2019-12-18 13:29] elasticmachine commented on #15182
Pinging @elastic/ingest (Project:fleet)

[2019-12-18 13:36] fkelbert opened #15183 "[Heartbeat] `http` type: `urls` vs `hosts`"
Version:  7.5

The [documentation](https://www.elastic.co/guide/en/beats/heartbeat/7.5/configuration-heartbeat-options.html#monitor-http-options) lists option `hosts` for the Heartbeat `http` type.

In contrast to this, the default config file (`heartbeat.yml`) uses option `urls` for the same purpose.

I suppose this should be corrected within `heartbeat.yml`.

[2019-12-18 13:43] fkelbert opened #15185 "[Heartbeat] Docs do not mention `name:` option"
Version: 7.5

[Heartbeat documentation](https://www.elastic.co/guide/en/beats/heartbeat/7.5/configuration-heartbeat-options.html) does not mention option `name` for monitors. Setting this option, is, however essential to get a meaningful description within the Kibana Uptime app (otherwise, an auto-generated name will be shown).

Similarly, `heartbeat.yml` should list this option with an example va

[2019-12-18 15:24] PhaedrusTheGreek opened #15188 "Elasticsearch Module: Specification of default base path"
**Describe the enhancement:**

It would be helpful upon enabling the elasticsearch module to be able to specify the default base path in one shot, rather than configuring manually each `var.paths`.

Something like this:

[code]

Or perhaps a `base.path` directive in the module configuration

It is cumbersome to update all paths to each file when the only variable changing is the base path.

[2019-12-18 17:26] mitchellmaler commented on #14997
@ChrsMark Here is my latest config and I have also provided a pastebin link to the autodiscover debug logs. I updated the config removing the in_cluster field, thanks for pointing out that was removed. I still am unable to get the autodiscover to pick up the already running control plane pods. I am wondering if this is an issue with discovery existing pods.

LOGS: https://pastebin.com/XkR6qub0

[c

[2019-12-18 19:42] mtojek commented on #15180
Confirmed that fix worked - https://github.com/elastic/beats/pull/15114

Closing.

[2019-12-18 19:42] #15180 closed

[2019-12-18 19:57] mtojek commented on #4984
Dashboards updated. Unassigning.

[2019-12-18 20:23] ycombinator commented on #14399
@urso I would like to get your opinion on something.

Based on my testing here is the precedence order that is currently being followed amongst the various settings that determine which Elasticsearch cluster will be used by the monitoring code in libbeat:

- Is `monitoring.elasticsearch.hosts` set?
  - Yes: `monitoring.elasticsearch.hosts` will be used.
  - No:
    - Is `cloud.id` set?
      - Yes

[2019-12-18 20:46] leehinman opened #15195 "[Winlogbeat]TestSecurity/security-windows2019_4688_Process_Created.evtx failing on win2012r2"
## Flaky Test

* **Test Name:** TestSecurity/security-windows2019_4688_Process_Created.evtx
* **Notes:** Only happening on Win2012r2

### Stack Trace

[code]

[2019-12-18 23:33] SuperQ commented on #7432
Yes, sadly, the json provided by the "X-Pack Monitoring" is pretty bad. There's no help data, the stats are limited and not very descriptive. There's no type information (counter|gauge). There's an "uptime", but no process start time. It includes useless system load average metrics that are unrelated to the process itself. It's missing several useful Go metrics like `go_goroutines`.

[2019-12-19 00:12] TomonoriSoejima opened #15199 "[Filebeat]add compatibility information to kafka input"
**Describe the enhancement:**

Current doc https://www.elastic.co/guide/en/beats/filebeat/7.5/filebeat-input-kafka.html may warrant compatibility information such as below.
Below exists in [kafka output](https://www.elastic.co/guide/en/beats/filebeat/7.5/kafka-output.html#kafka-compatibility) but not in [kafka input](https://www.elastic.co/guide/en/beats/filebeat/7.5/filebeat-input-kafka.html)

[c

[2019-12-19 08:02] mtojek opened #15201 "Travis build job terminated due to no output received in 10m00s"
Here is the latest output:

[code]

Comparing to the Jenkins job:

[code]

... it takes a couple of minutes, maybe Travis machines has less power. I suggest adding any `wait-for` script (to print sth on stdout) and add timestamps to log lines

[2019-12-19 08:05] mtojek opened #15202 "Heartbeat Testsuite failing"
Go: $TRAVIS_GO_VERSION
AMD64
TARGETS="TEST_ENVIRONMENT=0 -C heartbeat testsuite"

Here is the test output:

[code]

Didn't investigate it deeper, definitely a flaky test.

[2019-12-19 08:07] mtojek opened #15203 "Travis CI: ld: warning: object file"
Go: $TRAVIS_GO_VERSION
AMD64
TARGETS="TEST_ENVIRONMENT=0 -C heartbeat testsuite"

There are many warnings in build jobs:

[code]

[2019-12-19 08:11] mtojek opened #15204 "Test failed: Filebeat Mac OS X / test_registrar*"
There are a couple of integration tests failing:

[code]

Build: https://beats-ci.elastic.co/job/Beats/job/beats-beats-mbp/job/master/862/

[2019-12-19 08:12] mtojek opened #15205 "Test failed: Filebeat Mac OS X / test_tcp_tls.Test.test_tcp_over*"
There are a couple of integration tests failing:

[code]

Build: https://beats-ci.elastic.co/job/Beats/job/beats-beats-mbp/job/master/862/

[2019-12-19 08:15] mtojek opened #15206 "Travis: Unable to connect to build-cache.travisci.net:http"
If only there is a connectivity issue with Travis build cached, build jobs fail:

[code]

Maybe it's possible (and worth) to fallback to option without any cache?

[2019-12-19 08:50] mtojek commented on #15201
Also: https://docs.travis-ci.com/user/common-build-problems/#timeouts-installing-dependencies

[2019-12-19 08:50] odacremolbap commented on #14586
yes, closing

[2019-12-19 08:50] #14586 closed

[2019-12-19 09:21] odacremolbap commented on #14277
closed by https://github.com/elastic/beats/pull/14584

[2019-12-19 09:21] #14277 closed

[2019-12-19 09:51] loekvangool commented on #14586
@odacremolbap can we confirm which release(s) this will be in?

[2019-12-19 10:00] mtojek commented on #15206
Merged. Resolving.

[2019-12-19 10:00] #15206 closed

[2019-12-19 10:04] mtojek commented on #15202
Also:

[code]

[2019-12-19 11:12] narph commented on #14548
@andresrc , @sorantis , I wonder if we can merge these metricsets (also https://github.com/elastic/beats/issues/14549) into one.
One metricset called "storage_account" and have a similar configuration as the rest of the metricsets but offer the option to the user which services they want to monitor on (blob, file, queue, table).

[code]

Users can enter one or more resource groups or resource id's

[2019-12-19 11:31] jsoriano commented on #6381
This problem is also reported in this topic in discuss: https://discuss.elastic.co/t/importing-metricbeat-events-from-json-file-to-elastic-using-filebeat/212457

There they are trying to use filebeat to read output from metricbeat, but it seems to happen with any json object that contains a non-empty `@metadata` field, I can reproduce the issue with a log like this one:
[code]

And these json sett

[2019-12-19 11:51] sorantis commented on #14548
I'm in favor having one metricset for all storage types. Makes it simple to configure.
Ultimately we want to have the following prefixes:
[code]
Can we rename the metricset from `storage_account` to `storage`?

[2019-12-19 12:43] mtojek opened #15214 "[Metricbeat] [appsearch] Key 'appsearch.stats.requests.web.response_time.max.ms' found in event is not documented"
Error output:

[code]

Beats CI: https://beats-ci.elastic.co/job/elastic+beats+pull-request+multijob-linux/4806/beat=x-pack%2Fmetricbeat,label=linux-immutable/console

[2019-12-19 12:47] #15062 closed

[2019-12-19 12:57] narph commented on #14548
I don't think that renaming it to `storage` would be confusing, there are other `%storage%` resource types there but less popular. So yes, I think we can do that.

also cc @exekias

[2019-12-19 13:30] mtojek opened #15216 "[auditbeat] test DNS enrichment of long request"
## Flaky Test

* **Test Name:** test_system_socket.Test.test_dns_long_request
* **Link:** x-pack/auditbeat/tests/system/test_system_socket.py:121

### Stack Trace

[code]

[2019-12-19 13:45] #14915 closed

[2019-12-19 13:46] #15182 closed

[2019-12-19 14:11] mmisztal1980 commented on #8451
can anyone comment on the current state of affairs ? is this solved? or are there any known workarounds?

[2019-12-19 15:09] ph commented on #14951
@michalpristas is working into moving the fleet reporting to use the Gateway above.

Myself, I am working on testing the real API and add support for acking the action received from the API.

[2019-12-19 15:11] ph commented on #14439
@michalpristas can you update the issue with a TODO / checkbox? On top of my head I see we need to persist it to disk.

[2019-12-19 15:13] michalpristas commented on #14439
yes this pretty much sums it up.
- [x] Agent ID generation and propagation
- [ ] ID persistance (using storage api we got in this week)

[2019-12-19 16:08] odacremolbap commented on #14979
@vshypyguzov can you add the docker version you are using?
I'm not able to reproduce because I'm not getting any value at all for `SizeRw` not `SizeRootFs` from the docker daemon socket.

[2019-12-19 16:42] vshypyguzov commented on #14979
@odacremolbap Docker version is 19.03.5
You will not get this info unless you specify ?size=1 query string parameter

[2019-12-19 16:49] andrewkroh commented on #14262
Re-opening this because we only solved it with a temporary solution that comes with quite a few maintainability problems. The current fix for this was to just not add any new fields to the `default_field` list. So any new fields must be explicilty marked in the fields.yml with `default_fields: false`.

This also has implications on ECS when we want to update to a new fields.ecs.yml because we have

[2019-12-19 17:00] odacremolbap commented on #14979
that was helpful, thank so much

[2019-12-19 17:10] odacremolbap commented on #14979
@vshypyguzov

looks like the size parameter was also disabled at code.
Also, it looks like some other docker metrics are informing that same size and that they are not enabling it.

Fixing

[2019-12-19 17:37] faec commented on #13255
The last piece of this was merged this morning, the final 7.x backport should go in later today :-)

[2019-12-19 19:54] nathankodilla opened #15225 "[filebeat] Gzip does not work with different content type for s3 input"
With filebeat 7.5.0 gzip no longer works if the `Content-Type` is set to `text/plain; charset=utf-8` and `Content-Encoding` of `gzip`. This worked on 7.4.2. However, we have a separate bucket that has Content-Type set to `application/x-gzip` for the files and that works in 7.5.0.

Logs:
[code]

Originally opened here:
https://discuss.elastic.co/t/filebeats-7-5-0-issue-with-s3-input-with-gzip-files

[2019-12-19 21:58] kaiyan-sheng commented on #14126
@fredbcode Seems like this issue is old and closed. Could you open a new discuss forum https://discuss.elastic.co/c/beats/filebeat issue please? Any details you can provide would be helpful! Thanks!

[2019-12-20 00:20] #15148 closed

[2019-12-20 01:58] ephill commented on #14164
Has anyone come up with a solid workaround for this? I can only come up with really hacky modifications to the official filebeat chart to prevent it from starting too early. Or, not using Istio on my filebeat pods. Neither feel like good options.

[2019-12-20 02:12] GreenKnight15 commented on #14164
I have not found a solid solution, I'm still using a hacky mod to the filebeat container command to sleep before start up. It allows the side car to start in time. It's works most of the time but I'm not happy about it. Haven't heard anything from elastic :(

[2019-12-20 07:33] GounGG commented on #14386
Yes，OS is Centos 7，filebeat service works fine，but the log file is empty。

[2019-12-20 09:31] willemm commented on #15013
I had the same problem, but it was caused because the example config has 'node: ${NODE_NAME}' which I had to change to 'host: ${NODE_NAME}'

[2019-12-20 10:01] ehengel opened #15232 "Include description, product name and product version in Windows versions of Beats"
The Windows version of different Beats has an .exe file that lacks info on Product name and Product version. See screenshot1.png.  Also, the Beat service doesn't seem to have a Description like other services in Windows when looking at services.msc.  See screenshot2.png.

The above would be great to have when scripting upgrades of Beats using for example powershell and you want to check which prod

[2019-12-20 10:10] exekias commented on #5557
This was done here: https://github.com/elastic/beats/pull/7437

[2019-12-20 10:10] #5557 closed

[2019-12-20 10:11] exekias commented on #5720
I guess we are not longing doing this as 7.0 is out

[2019-12-20 10:11] #5720 closed

[2019-12-20 10:11] kvch commented on #5293
This issue is for an old version of beats, I suggest to try out the latest version of beats. If this is still a problem in the newly released version feel free to reopen this issue. Thanks.

[2019-12-20 10:11] #5293 closed

[2019-12-20 10:12] jsoriano commented on #5294
We are tending towards using the ids generated by kibana on the process of creation, even if it is not so nice for linking it is easier to maintain and less prone to conflicts.
I am closing this by now, we may reconsider this decission in the future.

[2019-12-20 10:12] #5294 closed

[2019-12-20 10:13] urso commented on #5347
@ruflin I think we can close this issue for now. Feel free to reopen if there is still something we should work on.

[2019-12-20 10:13] #5347 closed

[2019-12-20 10:15] jsoriano commented on #5371
@andrewkroh @narph do you think we can do something to monitor these PICO processes?

[2019-12-20 10:18] kvch commented on #5433
Still not resolved 100%, but tracked in a meta issue, so closing.

[2019-12-20 10:18] #5433 closed

[2019-12-20 10:18] exekias commented on #6960
We moved to official client-go, which should do proper handling of this. closing now

[2019-12-20 10:18] #6960 closed

[2019-12-20 10:19] #5437 closed

[2019-12-20 10:19] kvch commented on #5437
Resolved in later versions.

[2019-12-20 10:21] jsoriano commented on #5386
We should probably use double in these gauge fields that can possibly have very big values, to be solved as part of #9271.

[2019-12-20 10:22] exekias commented on #5467
Closing this one. After the conversation in https://github.com/elastic/beats/pull/5466#issuecomment-340450460

[2019-12-20 10:22] #5467 closed

[2019-12-20 10:22] urso commented on #5453
@andrewkroh We already have support for logging to Windows event logs. You know if we can make Beats detect if it is running as a service and then automatically configure the eventlog as log output before even reading the configuration?

[2019-12-20 10:23] kvch commented on #5755
Issue is tracked here as well: https://github.com/elastic/beats/pull/12908

[2019-12-20 10:23] #5755 closed

[2019-12-20 10:24] exekias commented on #6042
closing this issue as autodiscover is the recommended way to avoid this

[2019-12-20 10:24] #6042 closed

[2019-12-20 10:27] exekias commented on #5854
This one looks interesting, @fearful-symmetry do you know anything about this?

[2019-12-20 10:27] kvch commented on #5984
Resolved in #5993

[2019-12-20 10:27] #5984 closed

[2019-12-20 10:29] jsoriano commented on #5556
This issue should be fixed with https://github.com/elastic/beats/pull/13907, it is already available in some released versions. Closing this.

[2019-12-20 10:29] #5556 closed

[2019-12-20 10:32] kvch commented on #6354
This issue is for an old version of beats, I suggest to try out the latest version of beats. If this is still a problem in the newly released version feel free to reopen this issue. Thanks. Also, if you have any questions, please post a question on our Discuss forum: https://discuss.elastic.co

[2019-12-20 10:32] #6354 closed

[2019-12-20 10:32] urso commented on #5898
@dedemorton Can we close this issue, or do you still have problems with the setting?

[2019-12-20 10:37] jsoriano commented on #5851
Closing as this shouldn't be an issue in recent versions, please reopen if it still is.

[2019-12-20 10:37] #5851 closed

[2019-12-20 10:38] exekias commented on #8727
Closing this as it has been open for a while now. A few good points were discussed

[2019-12-20 10:38] #8727 closed

[2019-12-20 10:39] exekias commented on #9190
Closing as this was done already

[2019-12-20 10:39] #9190 closed

[2019-12-20 10:39] urso commented on #6357
@andrewkroh any idea if this is still an issue? The names look correct in the Beats logs. Makes me wonder if it is an Kibana or Elasticsearch issue. Did we also had a look at the documents in Elasticsearch by running a query via curl?

[2019-12-20 10:40] exekias commented on #9264
Closing this one as there was no answer and this seems to be supported

[2019-12-20 10:40] #9264 closed

[2019-12-20 10:41] kvch commented on #6066
This has been moved to libbeat.

[2019-12-20 10:41] #6066 closed

[2019-12-20 10:43] roncohen commented on #4555
Thank you all for engaging on this issue.

We have an enhancement issue which should cover the issue with long lines: https://github.com/elastic/beats/issues/13740. If you disagree, please feel free to re-open.

In earlier version of Filebeat there was a memory issue related to kubernetes which has been fixed. If that problem persists after upgrading Filebeat, please don't hesitate to open up a ne

[2019-12-20 10:43] #4555 closed

[2019-12-20 10:43] jsoriano commented on #5858
Issue with wrong percentages should be fixed by https://github.com/elastic/beats/pull/13188

[2019-12-20 10:43] exekias commented on #9535
@ph I guess this can be closed?

[2019-12-20 10:44] kvch commented on #6495
This issue is for an old version of beats, I suggest to try out the latest version of beats. If this is still a problem in the newly released version feel free to reopen this issue. Thanks.

[2019-12-20 10:44] #6495 closed

[2019-12-20 10:48] kvch commented on #7087
Implemented.

[2019-12-20 10:48] #7087 closed

[2019-12-20 11:08] tkzv commented on #13850
Here are the log and configuration files.
[metricbeat-deployment.log](https://github.com/elastic/beats/files/3987772/metricbeat-deployment.log)
[config.zip](https://github.com/elastic/beats/files/3987962/config.zip)
The only information displayed in Kibana's "[Metricbeat Kubernetes] Overview ECS" are the numbers of nodes, deployments and pods. Network, CPU and memory are absent.

[2019-12-20 11:42] urso commented on #14399
I think your first proposal makes the most sense. If the endpoint is configured in the `monitoring` namespace, it should have precedence.

[2019-12-20 13:16] #9535 closed

[2019-12-20 14:01] #15214 closed

[2019-12-20 14:04] ph commented on #14439
@michalpristas One more thing we also need to have the Generation of the UUID done at enroll time.

[2019-12-20 16:39] gszyszka commented on #7351
looks like you actually process the `@timestamp` field in filebeat: https://www.elastic.co/guide/en/beats/filebeat/master/processor-timestamp.html

[2019-12-20 17:16] fearful-symmetry commented on #5854
At the risk of pointing out the obvious, `18446744073709551615` is `0xffffffffffffffff`, which is the limit for `uint64`, which suggests either an overflow or a particularly goofy value for `memory.kmem.limit_in_bytes` (which is what `system.process.cgroup.memory.kmem.limit.bytes` is)

However, the code that actually reads in those values will munge negatives to 0:
https://github.com/elastic/gosig

[2019-12-20 17:32] #14439 closed

[2019-12-20 17:40] andrewkroh commented on #14386
The logs go to `journald` unless you modify the systemd unit files.

`journalctl -f -u filebeat.service`

Docs: https://www.elastic.co/guide/en/beats/filebeat/current/running-with-systemd.html

[2019-12-20 17:40] #14386 closed

[2019-12-20 17:48] andrewkroh commented on #5371
I don't think we can unless Microsoft publishes some details on what APIs and structs to use. I found one project called "pico-toolbox" that did some reverse engineering, but I'd rather not use some undocumented methods.

[2019-12-20 17:53] jsoriano commented on #5371
Then let's close this issue. Please reopen if some stable and documented API is released.

Thanks!

[2019-12-20 17:53] #5371 closed

[2019-12-20 17:55] andrewkroh commented on #5453
I'm not sure about a good reliable way of detecting it's running as a service, but we could configure the event log as the output by adjusting the command used by the service. Like just add `-E logging.to_eventlog=true`.

[2019-12-20 17:55] ph commented on #8857
@kvch Since you are upgrading some libraries we could also upgrade the `goformation` sdk they have fixed the windows issues so could depend on the official repository instead of my fork.

[2019-12-20 18:07] andrewkroh commented on #6357
This was the only report I saw about this issue. We never did anything to fix it, but we also couldn't reproduce it even after unit testing UTF8 accent chars in paths. Let's close. If someone hits this again we can reengage.

[2019-12-20 18:07] #6357 closed

[2019-12-20 18:13] kaiyan-sheng commented on #6617
Seems like logstash is the proper way to solve this here. Closing this issue.

[2019-12-20 18:13] #6617 closed

[2019-12-20 18:14] andrewkroh commented on #5453
But one thing that we did add since this issue was created was `logging.files.redirect_stderr`. After the logging package is initialized stderr will end-up in our log file. This let's us capture panics that occur. So maybe for 8.0 we can `logging.files.redirect_stderr` by default and close this issue.

[2019-12-20 18:15] ph commented on #4960
I am going to close this, the test runnings has been completely change.

[2019-12-20 18:15] #4960 closed

[2019-12-20 18:18] ph commented on #6507
We are currently moving modules to EPM with that we can close this issue.

[2019-12-20 18:18] #6507 closed

[2019-12-20 18:19] ph commented on #6507
@ruflin  something to investigate with EPM, really good comments from @andrewkroh

[2019-12-20 18:21] faec commented on #7130
This appears to be fixed in current versions, closing

[2019-12-20 18:21] #7130 closed

[2019-12-20 18:22] kaiyan-sheng commented on #7938
No updates on this issue for a year, closing this. Please feel free to open a new issue if you see this behavior again. Thanks!

[2019-12-20 18:22] #7938 closed

[2019-12-20 18:22] urso commented on #5179
Binary files can have different formats and normally require special parsing support in order to be handled correctly. This rather calls for a special filebeat input type. We for example introduced journalbeat since this issue has been opened.

The log input should not be used to ship binary files at all.

I'm closing this issue, due to lack of updates. If you think binaries is still a problem, pl

[2019-12-20 18:28] andrewkroh commented on #14657
PR: https://github.com/elastic/beats/pull/15227

[2019-12-20 18:31] faec commented on #7146
It sounds like the original issue here was resolved, and the secondary one (missing `pid` and `comm` fields in some auditbeat configurations) is old and has no repro, so I'm going to close this. We can reopen it (or create a new more targeted issue) if there are still missing fields in any current auditbeat versions.

[2019-12-20 18:31] #7146 closed

[2019-12-20 18:31] ph commented on #10422
I am missing details here, but I do believe this issue have fixed in the latest ILM implementation. If it still an issue please reopen it.

[2019-12-20 18:32] #10422 closed

[2019-12-20 18:34] ycombinator commented on #7099
@ruflin Just want to double check that this issue is still relevant?

[2019-12-20 18:34] urso commented on #3098
The issue has not been updated for a long time + investigation did eventually stop. The outputs, pipelines, ACK handling and registry writing have been change a lot since. Please comment if the issue still occurs with the recent Beats versions and we can reopen the issue for investigation. Thanks.

[2019-12-20 18:34] #3098 closed

[2019-12-20 18:35] ph commented on #14387
The docker issues is not a beats issue but more like how shell parses commands.

Concerning the ILM date, the selected date is handled for you by Elasticsearch and you cannot choose it.

[2019-12-20 18:36] #14387 closed

[2019-12-20 18:37] leehinman commented on #6273
@ewgRa Thank you for all the hard work on the project but getting a linter integrated hasn't been a top priority. If we decide to add a linter in the future we will definitely look at gocsfixer.

[2019-12-20 18:37] #6273 closed

[2019-12-20 18:37] urso commented on #4865
@kvch Any update on this?

[2019-12-20 18:40] faec commented on #7539
It looks like there's no ongoing issue here and it's been idle for a while, so I'm closing it. Feel free to follow up with any general questions in the [discuss forums](https://discuss.elastic.co/c/beats)

[2019-12-20 18:40] #7539 closed

[2019-12-20 18:41] ph commented on #7093
ping @urso

[2019-12-20 18:43] ph commented on #10696
OK, from what I see I believe the issue in 6.5.4 was in the Docker inputs, we did quite a lot of refactoring of that input.  I think this should not be an issue anymore. If its still an issue in the latest beats please reopen the issue.

[2019-12-20 18:43] #10696 closed

[2019-12-20 18:44] ph commented on #10012
This should be fixed in latest releases.

[2019-12-20 18:44] #10012 closed

[2019-12-20 18:45] faec commented on #3025
This seems to be addressed by the rename processor, and hasn't had any activity since that was added, so I'm closing this. Feel free to provide more details or open a new issue if this is still an issue in current releases.

[2019-12-20 18:45] #3025 closed

[2019-12-20 18:47] andrewkroh commented on #4350
I don't think there much benefit to rename it now. It's been released for too long and adopted by many configs.

[2019-12-20 18:47] #4350 closed

[2019-12-20 18:48] ph commented on #8293
I believe this is this valid, from what I see `exclude_lines.0` this might be an error with ucfg parsing.

[2019-12-20 18:50] ph commented on #10958
This need investigation.

[2019-12-20 18:50] ycombinator commented on #7503
This looks like a duplicate of https://github.com/elastic/beats/issues/3114.

[2019-12-20 18:50] #7503 closed

[2019-12-20 18:52] ph commented on #10751
We can close this, doesn't appear in any of our most failed test weekly emails and the test is not skipped.

[2019-12-20 18:52] #10751 closed

[2019-12-20 18:52] urso commented on #6482
I'm closing this in favor of the more generic #4416 (Configuration validation) issue.

[2019-12-20 18:52] #6482 closed

[2019-12-20 18:53] andrewkroh commented on #7952
The generator has been refactored recently. And fields.yml handling has changed too.

[2019-12-20 18:53] #7952 closed

[2019-12-20 18:53] ph commented on #7367
Fixed.

[2019-12-20 18:53] #7367 closed

[2019-12-20 18:55] kaiyan-sheng commented on #8364
@narph Is this start_name the same as service user name?

[2019-12-20 18:55] #4810 closed

[2019-12-20 18:59] andrewkroh commented on #9199
Closed by #11999.

Module docs: https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-module-panw.html

[2019-12-20 18:59] #9199 closed

[2019-12-20 18:59] andrewkroh commented on #9199
@strawgate For the other logs types that you are have interest in being parsed by the module please open a new issue.

[2019-12-20 19:03] andrewkroh commented on #9587
Looking back at build stats this test hasn't shown up in the logs since Feb 2019 so I think it's stable now.

[2019-12-20 19:03] #9587 closed

[2019-12-20 19:04] #9882 closed

[2019-12-20 19:06] andrewkroh commented on #13699
Fixed in https://github.com/elastic/beats/pull/13821/files#diff-35894f0822aee4a06bc99c6e8bd8155fR119

[2019-12-20 19:06] #13699 closed

[2019-12-20 19:07] elasticmachine commented on #12858
Pinging @elastic/siem (Team:SIEM)

[2019-12-20 19:42] webmat commented on #14262
https://github.com/elastic/ecs/pull/687 now automatically sets `default_fields: false` on any field not part of a whitelist file. It's currently populated only with ECS 1.2 fields, as was the original intention of the PR. But if the Beats team wants to strategically whitelist a few more fields, we only need to add them to that whitelist file.

This workaround in ECS should also be considered a tem

[2019-12-20 19:54] #15195 closed

[2019-12-20 21:00] jpcarey commented on #5179
@urso this wasn't for reading those files, rather avoid reading them. If you configure a pattern that accidentally includes a large sparse file (pattern `/var/log/*`), filebeat would open and try to read lines - which in this case would be the entire file into memory. In my example, the sparse file was `/var/log/lastlog`, which was 368G. Filebeat ended up consuming all the system's resources tryin

[2019-12-20 21:10] TomaszKlosinski commented on #15013
Interesting. I'm pretty sure, I've tried both node and host and it didn't work, but I can test it again.

More general question: what's the point of using host network in this case?

[2019-12-20 23:19] kaiyan-sheng commented on #15225
Hi @nathankodilla, could you help me reproduce this problem please? What does your log file in S3 bucket looks like? Does the file name ends with `.gz`?

[2019-12-20 23:38] nathankodilla commented on #15225
@kaiyan-sheng The filename ends in `.txt.gz` and the following metadata:
![image](https://user-images.githubusercontent.com/22841858/71298785-c60ba400-2357-11ea-8dd0-a9bf7d6c3e66.png)
Inside the file is json formatted logs on individual lines.

[2019-12-21 12:01] elasticmachine commented on #15232
Pinging @elastic/siem (Team:SIEM)

[2019-12-23 10:16] alekniknik commented on #13006
Hi,

I was investigating permissions and you need next privileges:

use master
go
GRANT VIEW SERVER STATE TO [databaseuser]
GO

and public permision for all user database on server you can run this script or manuel exec this for all database create user [databaseuser] for login [databaseuser];
use master
go
DECLARE @dbname VARCHAR(50)
DECLARE @statement NVARCHAR(max)
DECLARE db_cursor CURSOR
LOCAL

[2019-12-23 10:22] mtojek commented on #15202
1. Error `AssertionError: Expected exit code to be 0, but it was -15` is most likely due to out of memory.
2. Fix error in `Test the addition of a dynamic config`: https://github.com/elastic/beats/pull/15233

[2019-12-23 10:53] ruflin commented on #7099
@ycombinator Don't know how many of the above already happened, but I think we should still clean this up to remove technical debt, but I let @exekias to chime in here.

[2019-12-23 12:32] ruflin commented on #5347
@urso Agree, most of this  will be moved to the new packages so all the fields.yml will eventually become obsolete.

[2019-12-23 12:52] ruflin commented on #14262
@andrewkroh Indexing wise we will switch to have 1 index per dataset so the total number of fields will be heavily reduced (as long as ECS doesn't have too many fields ;-) ). But this is the long term solution. As we keep adding modules on the Beats side at the moment, I think we also need a mid term solution for this. Perhaps we should loop in someone from the Elasticsearch team like @jpountz to

[2019-12-23 13:44] urso commented on #5179
I see. This operation is not for free, as one needs to read some contents. Detecting text only is not fully reliable, due to different file encodings. Some might look like binary (e.g. a simple check looking for invalid bytes might missclassify UTF-16 or UTF-32). The harvester would need to do a decode+classify precheck. Plus we might want to cache the inode+path of files that look like binary. so

[2019-12-23 14:55] #15154 closed

[2019-12-23 15:33] narph commented on #8364
a PR was built based on this initial issue https://github.com/elastic/beats/pull/8561 (referenced above) and then a continuation PR based on the initial PR https://github.com/elastic/beats/pull/11877, already merged.

The `start_name` should be the account name under which a service runs.
Depending on the service type, the account name may be in the form of "DomainName\Username" or UPN format ("*U

[2019-12-23 15:38] kaiyan-sheng commented on #8364
Sounds good, thanks @narph. I will close this issue and you can open a new issue to track the renaming work later.

[2019-12-23 15:38] #8364 closed

[2019-12-23 17:48] urso commented on #13255
@ph @faec Can we close this?

[2019-12-23 18:31] kaiyan-sheng commented on #15225
I'm able to reproduce this issue: for a .gz file with `Content-Type: application/x-gzip`, the s3 input reads the file just fine. But when the file metadata property changed to `Content-Type: text/plain`, s3 input fails with: `2019-12-23T11:12:01.255-0700    ERROR   [s3]    s3/input.go:259 handleS3Objects failed: newS3BucketReader failed: Failed to decompress gzipped file test-log-3.txt.gz: unexpec

[2019-12-23 19:05] lachlann562 commented on #8345
We are looking to use metric beat and virtual bytes is a critical metric for our applications. When our system becomes unstable its always due to virtual bytes and not working set/private bytes. Is there any timeline to schedule this enhancement?

[2019-12-23 19:11] frittentheke commented on #7432
There are even pushes to make the Prometheus style metrics a standard ... https://openmetrics.io/

[2019-12-23 19:18] kvch commented on #4865
Nothing, but I added good first issue.

[2019-12-23 19:19] kvch commented on #8857
I updated the PR: https://github.com/elastic/beats/pull/15231

[2019-12-24 01:08] jacobmw commented on #15096
I am on filebeat 7.5.1 and get this message four times, at the same time, every hour.  Seems to be at the same minute as when I started the service.

[2019-12-26 18:00] Aqualie opened #15256 "Packetbeat build fails"
Easily reproducible:

1. go get github.com/elastic/beats
2. cd go/src/github.com/elastic/beats
3. git checkout v7.5.1
4. cd packetbeat
5. gmake

[code]
- Beats Version: 7.5.1
- Operating System:  FreeBSD 11.2-RELEASE
- GO Version: 1.13.1

[2019-12-27 10:38] kkh-security-distractions opened #15258 "Metricbeat 7.5.1 with kibana-xpack enabled , fails to start if Kibana is unavailable upon start"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2019-12-27 14:28] urso opened #15259 "Apache-2.0, not ASL 2.0 for org.label-schema.license"
Correct naming of the apache license used by Beats is "Apache License 2.0". The short identifier for said license, that is also used by Elasticsearch for example, is "Apache-2.0". Not "ASL 2.0" . See: https://www.apache.org/licenses/LICENSE-2.0

The docker container label 'org.label-schema.license' should use "Apache 2.0".

[2019-12-27 15:00] yodog commented on #6531
https://github.com/elastic/beats/issues/14445

[2019-12-27 15:00] yodog commented on #14445
https://github.com/elastic/beats/issues/6531

[2019-12-27 15:20] chicco27 commented on #14933
This problem seems the same on all Beats, the host.ip field is not calculated correctly when you use a Log Forwarder.
Major issue: https://github.com/elastic/beats/issues/13920

[2019-12-28 02:03] anderssonjohan commented on #11844
@dedemorton  Yes, please! :)
I was just about to add an issue about this matter but luckily found this one from the related issues feature. My google-fu failed me here but probably used the correct keywords here: keystore default path

I solved it by looking at the service command for the created Windows service and didn't know about the `path.data` setting and found out that my keys were missing

[2019-12-28 04:29] willzhang opened #15262 "Show container raw log data"
my environment
[code]

docker container raw log file,
[code]
the container logs  file
[code]
kibana message Fields(just a example):
[code]
you will see there have
[code]
options，  i just want kibana to show raw log date ,as follow，how can i do that?
[code]

[2019-12-28 09:23] listen-lavender opened #15263 "filebeat 7.4.0 not work well by kafka input"
**filebeat config:**

[code]

**filebeat error log:**

`Error initializing kafka consumer group	{"hosts": ["127.0.0.1:9092"], "error": "kafka: client has run out of available brokers to talk to (Is your cluster reachable?)"`

**kafka error log:**

[code]

[2019-12-28 12:13] StefanSa opened #15264 "[Metricbeat][Windows] Performance Counters, FATAL Failed due to panic"
- Version: 7.5.1
- Operating System: Windows 2016

#14684 bug, only partially fixed.

the config:
[code]
With perfmon counter "PhysicalDisk" (last two instances) i get the following error:
[code]
No problems without these last two instances.
Please resolve the bug quickly.

[2019-12-29 09:53] zz9pzza commented on #14963
I am seeing this on a 6.8.5 source cluster as well

[2019-12-30 11:26] lootek opened #15265 "Compilation fails on Windows"
Due to the change https://github.com/golang/sys/commit/0a153f010e6963173baba2306531d173aa843137

Compilation breaks at this line https://github.com/elastic/beats/blob/master/winlogbeat/sys/eventlogging/eventlogging_windows.go#L416

With error
[code]

Occurs eg. when referencing `Read()` for `eventlog.EventLog` instance

[2019-12-30 12:36] michalpristas opened #15266 "[Agent] Remove OS and Arch settings from spec file"
Remove OS and Arch settings from agent spec file and instead either
- use `runtime.GOOS` and `runtime.GOARCH`
- build tag guarded constants
to provide sane values.

Related: elastic/beats#15167

[2019-12-30 12:36] elasticmachine commented on #15266
Pinging @elastic/ingest (Project:fleet)

[2019-12-30 14:11] ph commented on #13255
Looking at all the PRs which also include the cherry-pick to 7.x we can close this meta issue.

[2019-12-30 14:11] #13255 closed

[2019-12-30 14:38] ph opened #15268 "[Agent] Add Agent UUID in a metadata field to the events shipped from the process"
**Goal:** We want to track the source of events created from process managed by an Agent. The obvious path would be to add metadata fields in the generated configuration for the process. To add support for this we have the following options:

1. Make fleet generates the right configuration and Agent only executes it.

This actually hides the details and the implementations, Fleet already knows eve

[2019-12-30 14:38] elasticmachine commented on #15268
Pinging @elastic/ingest (Project:fleet)

[2019-12-30 14:38] ph commented on #15268
cc @ruflin @michalpristas

[2019-12-30 15:50] ph commented on #14895
@andresrc Thanks for the ping, this is a considerable effort to develop this and I think we could make it in parallel with [input v2](https://github.com/elastic/beats/pull/14229), this is required because we effectively change how input is instantiated and we can at the same time change how and when validation occurs.

[2019-12-30 15:51] ph commented on #14895
moved to the beats team.

[2019-12-30 15:51] FreerideTheWorld commented on #9442
+1 on this topic
I'm currently trying to replicate a portable Elasticsearch "work" environment that people could learn on with 5 Raspberry Pi 4b's and one LattePanda with Windows installed.  The entire setup can be housed in a C4 labs case and its portability would allow me to teach people with a more hands on and visual experience.

I appreciate those of you who have put the time into creating el

[2019-12-30 16:28] sorantis opened #15269 "[Metricbeat] Add Redis node and proxy"
Currently the Redis module in Metricbeat only support database metrics. In addition to db metrics Redis Enterprise exposes node and proxy metrics. We should add support for node and proxy metrics to redis module. Note that starting from v 5.0.2 Redis [exposes metrics at the node, database, shard and proxy levels via a Prometheus endpoint](https://docs.redislabs.com/latest/rs/administering/monitori

[2019-12-30 16:56] ycombinator commented on #15258
I can confirm this behavior locally. I believe this is a bug as we should allow Metricbeat to be running independently of Kibana's lifecycle. I'm working on a fix now.

[2019-12-30 17:57] kkh-security-distractions commented on #15258
I have since I created this issue also verified the same problem occurs with the logstash-xpack nodule.

[2019-12-30 17:58] ycombinator commented on #15258
Thanks @kkh-security-distractions. I just put up the fix for the `kibana-xpack` module. I will work on a similar fix for the `logstash-xpack` module as well.

[2019-12-30 19:58] ph opened #15271 "[Agent] Add a status or info subcommand"
**Goal:** Allow the user to retrieve the current UUID and other valuable information for debugging the agent.

What to display?

- [ ] UUID
- [ ] TBD

[2019-12-30 19:58] elasticmachine commented on #15271
Pinging @elastic/ingest (Project:fleet)

[2019-12-30 21:02] strawgate opened #15273 "Elasticsearch Input"
**Describe the enhancement:**
Similar to how Logstash has an Elasticsearch Input where you can define a custom DSL query it would be useful to have an input for Filebeat that allows making arbitrary queries against Elasticsearch, can run the documents through the Filebeat processors and then output them via the Beats/Logstash/Elasticsearch protocols.

**Describe a specific use case for the enhance

[2019-12-31 07:45] kvch commented on #15263
Could you please post a question on Discuss and if a dev verified that it's a bug, open an issue here? https://discuss.elastic.co

[2019-12-31 07:45] #15263 closed

[2019-12-31 07:50] aleksas commented on #8175
filebeat: 7.5.1
minikube: v1.5.2
host os: Windows 10

[code]

[code]
<details><summary>OUTPUT</summary>
<p>

[code]

</p>

[2019-12-31 09:04] michalpristas commented on #15268
we need to include it in all errors as well. if we do the injection at the point when event gets into reporter it should be e fairly simple change

[2019-12-31 13:03] ruflin commented on #15268
+1 on introducing ˋelastic.agent.idˋ. There will be cases where ˋagent.idˋ is populated but with a different id, for example when running apm-server in the future.

[2019-12-31 13:04] #15258 closed

[2019-12-31 13:09] ph commented on #15268
@ruflin @ruflin For where that configuration is generated what your position on that? Maybe it make more sense that this is actually handled by Fleet because we could possible keep multiples version of the configuration.

[2019-12-31 13:31] ph opened #15276 "[Metricbeat] When Logstash module is enable and we fail to reach it, metricbeat refuses to starts"
Looking at the code of the Logstash module I believe the module is also affected by a similar bug defined in https://github.com/elastic/beats/issues/15258 for Kibana. I also looked at the Elasticsearch module but I think this one is OK.

https://github.com/elastic/beats/blob/d545f6902ecbea3fcaf48e91edd1e1d4e1bcd7e3/metricbeat/module/logstash/node/node.go#L55-L81

[2019-12-31 13:31] ph commented on #15276
@ycombinator could you take a look?

[2019-12-31 13:52] ph commented on #15273
@strawgate this is a good suggestion but have you tried using the [reindex](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-reindex.html) API and an ingest pipeline? With these two you can achieve the majority of the transformation? But the output is limited to Elasticsearch only.

[2019-12-31 13:53] ph commented on #15276
I haven't checked the beat modules, so we might want to double-check them to make sure the module is not affected by a similar bug.

[2019-12-31 13:54] ycombinator commented on #15276
I checked the `beat` module, and it is okay. It's not making any HTTP calls in the `New` function.

[2019-12-31 13:55] ycombinator commented on #15258
Issue to track Logstash module bug: https://github.com/elastic/beats/issues/15276.

[2019-12-31 14:34] #15266 closed

[2019-12-31 15:24] #8857 closed

[2019-12-31 17:02] #10630 closed

[2019-12-31 17:06] ph opened #15283 "[Agent] Implements Jitter / backoff when we communicate with the Fleet API."
Implements jitter and an exponential backoff strategy when we cannot reach the Fleet API. When we have thousands of beats fetching the configuration at the same time on the API this can have a negative impact on the performance of the API.

**We should implements:**

- A Jitter to allow a better distribution of the calls on the API.
  - When we enroll an Agent
  - When we communicate with Fleet.
-

[2019-12-31 17:06] elasticmachine commented on #15283
Pinging @elastic/ingest (Project:fleet)

[2019-12-31 17:10] strawgate commented on #15273
The big advantage to this would be to move data between Elasticsearch instances in a similar way to how you can do it with logstash today

Elasticsearch <-Poll- (Logstash Elasticsearch Input -> Logstash Elasticsearch Output) -Push> Elasticsearch

This would allow removing of Logstash in this scenario:
Elasticsearch <-Poll (Filebeat Elasticsearch Input -> Filebeat Elasticsearch Output) -Push> Elast

[2019-12-31 17:15] strawgate commented on #10890
We are hoping to have this so we can front Elasticsearch with a filebeat collector running a beats input so that we dont have to expose Elasticsearch directly and so that we dont have to distribute credentials to beats clients.

This would help us replace Logstash entirely and simply use a single beat + elasticsearch

[2019-12-31 17:20] ph commented on #15273
@strawgate You can already move data between Elasticsearch cluster using the reindex API, with that you can both remove Logstash and Beats from the equation.

See our documentation https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-reindex.html#reindex-from-remote

Also, the feature is built with the tasks system in Elasticsearch which allows you to query what is the status of th

[2019-12-31 17:27] ph commented on #10890
@strawgate I think we should do it. Also, another way that you can do Beats -> Elasticsearch is to use [Elasticsearch's API Key](https://www.elastic.co/guide/en/beats/filebeat/master/beats-api-keys.html) instead of username/password and you can use API as part of the deployment. The support is fairly new in Beats and it will be released in 7.6 see https://www.elastic.co/guide/en/beats/filebeat/7.x

[2019-12-31 17:35] andresrc commented on #14586
Hi @loekvangool, this should be in 7.5.2 and 7.6.0

Thanks!

[2019-12-31 17:58] ph commented on #14446
As we more and more into the Agent and EPM. I believe we should not do that at all because:

1. Central management was a beta feature.
2. Module are changing.
3. The effort vs the gain is low to me.
4. Concepts between CM and Fleet/EPM are completely different.

@ruflin @mattapperson I think we should close this.

[2019-12-31 18:27] strawgate commented on #15273
For our particular use-case it would not work as the remote reindex api request has to be initiated from the destination Elasticsearch server and cannot be initiated from the source Elasticsearch server (i.e. a Pull instead of a Push).

For regulatory compliance reasons we have different security zones and cannot initiate inbound connections from the low security zone into the high security zone.

[2019-12-31 18:35] ph commented on #15273
@strawgate Thanks for the clarification about your use-case, I will leave this issue open.

[2020-01-02 12:22] mtojek commented on #13508
Ok, let me push the implementation forward - will go with a light module.

[2020-01-02 12:26] #15265 closed

[2020-01-02 12:30] radoondas commented on #15276
Hey @ycombinator & @ph, I am a bit confused if this one is bug which we will fix or this is not a bug for Logstash output in the end. Can you please clarify? Thanks!

[2020-01-02 13:23] StefanSa commented on #15264
@narph
Can you please check out what causes these problems, so that this can be turned off quickly.

[2020-01-02 13:24] ph commented on #15276
@radoondas It's a bug, but it's not related tot he Logstash output but to **Metricbeat's Logstash module**, the module that query the Logstash API to collect metrics and send them to Elasticsearch.

[2020-01-02 14:25] #14951 closed

[2020-01-02 14:27] ph commented on #14951
Follow up issue for Jitter / distributes call https://github.com/elastic/beats/issues/15283

[2020-01-02 14:30] ph opened #15296 "[Agent] Batch reported events to Fleet"
As noted in https://github.com/elastic/beats/pull/15237#discussion_r362079722, Kibana has a **1mb** limitation for the body size (this is the default size of Hapijs). Because Agent can report a log of events we need to take into consideration to split a slice of events in batches.

Related to https://github.com/elastic/beats/issues/15297

[2020-01-02 14:30] elasticmachine commented on #15296
Pinging @elastic/ingest (Project:fleet)

[2020-01-02 14:44] ph commented on #15296
I wonder if batching will cause a problem with the fact that we use a single endpoint for configuration retrieval and sending events. Let's consider the situation where we use a fixed number of events as the limit for simplicity.

**Batch size limit of 10 events.**

### Happy path

1. Agent has no local events to report.
2. Agent retrieves configuration changes.
3. Agent generates an ACK event.
4.

[2020-01-02 14:46] ph opened #15297 "[Agent] Report ACKED action to Fleet"
The Agent can receive and apply local configuration from Fleet but we don't actually ACK the action to the backend.

Followup from work elastic/beats#14951

[2020-01-02 14:46] elasticmachine commented on #15297
Pinging @elastic/ingest (Project:fleet)

[2020-01-02 15:24] nchaulet commented on #15296
@ph yes it's going to send the action again

[2020-01-02 16:14] ph commented on #15296
@nchaulet @mattapperson This is indeed a problem, either we:

1. Prioritize ACK event.
2. Different endpoint.

[2020-01-02 16:16] nchaulet commented on #15296
1. prioritize ack events should do the job no? we should be able to send at least a few thousands of events with 1mb, so it is really a problem?

[2020-01-02 16:56] ph commented on #15296
@nchaulet yes I think you are right, proritize should do the trick.

[2020-01-02 18:13] ramon-garcia opened #15302 "Beats enforces default type doc when talking to Elasticsearch 6.x, making migration more difficult"
After reading advice for migrating Elasticsearch 6.x to 7.x https://www.elastic.co/guide/en/elasticsearch/reference/7.5/removal-of-types.html , we start preparing new indexes, changing the name of type to "_doc" in index templates, as advised there.

Then we find errors like (fields redacted for privacy)

The name of the enforced type "doc" comes from beats source

https://github.com/elastic/beats

[2020-01-02 19:24] ppf2 commented on #10452
As we look into building a single beats agent, it will be great if we can consider the metricbeat use case (https://github.com/elastic/beats/issues/11519) and the fact that stack monitoring will use beats in the future v.s. an Elasticsearch http exporter.  Providing the ability to configure this single agent to route all stack monitoring events to an Elasticsearch output, while allowing users to c

[2020-01-02 19:30] narph commented on #15264
@StefanSa , I was able to reproduce the issue while testing with the german language. The issue is unrelated to the previous issue/fix, it looks like the` UTF16ToStringArray`  func is not able to read the next line start for certain unicode strings.
A potential fix has been created here https://github.com/elastic/beats/pull/15305.

[2020-01-03 01:49] andrewkroh commented on #15259
`ASL 2.0` is the appropriate value to using in RPMs if I understand this info correctly.
- https://fedoraproject.org/wiki/Packaging:LicensingGuidelines#Valid_License_Short_Names
- https://fedoraproject.org/wiki/Licensing:Main?rd=Licensing#Good_Licenses

[2020-01-03 02:01] cheninnocent opened #15313 "filebeat to logstash: Failed to publish events caused by: read tcp 192.168.155.177:55376->47.102.46.68:5045:wsarecv:An existing connection was forcibly closed by the remote host"
computer A is ok.
computer B is failed when log is to much.
filebeat log
![企业微信截图_15780165168763](https://user-images.githubusercontent.com/26034307/71703521-f18a9600-2e0f-11ea-8614-59f7648fdd07.png)
filebeat to logstash: Failed to publish events caused by: read tcp 192.168.155.177:55376->47.102.46.68:5045:wsarecv:An existing connection was forcibly closed by the remote host
faliled to publish eve

[2020-01-03 02:04] cheninnocent commented on #15313
logstash-plain.
[logstash-plain.log](https://github.com/elastic/beats/files/4017924/logstash-plain.log)
log
[2020-01-03T09:45:53,841][INFO ][org.logstash.beats.BeatsHandler] [local: 0.0.0.0:5044, remote: 140.207.6.158:57306] Handling exception: Connection reset by peer
[2020-01-03T09:45:53,843][WARN ][io.netty.channel.DefaultChannelPipeline] An exceptionCaught() event was fired, and it reached at

[2020-01-03 02:58] andrewkroh commented on #15313
Your Wireshark output shows the Logstash is resetting the connection with a RST/ACK packet. There is probably an issue in your Logstash setup or config. Try enabling some debug in Logstash, looking at Logstash's metrics, and/or commenting out your filters plus temporarily switching to the Logstash console output to narrow down the cause.

Please post any future discussions to https://discuss.elast

[2020-01-03 02:58] #15313 closed

[2020-01-03 08:16] evandroasjr commented on #11912
Hi all,
I have this same issue. Any news?

Cheers,
Evandro

[2020-01-03 10:04] kvch commented on #4409
This issue is for an old version of beats, I suggest to try out the latest version of beats. If this is still a problem in the newly released version feel free to reopen this issue. Thanks.

[2020-01-03 10:04] #4409 closed

[2020-01-03 10:06] urso commented on #4345
This issue is for an old version of beats, I suggest to try out the latest version of beats. If this is still a problem in the newly released version feel free to reopen this issue. Thanks.

[2020-01-03 10:06] #4345 closed

[2020-01-03 10:11] michalpristas commented on #7090
most of the things are done in cross  build but i think we still need to provide something like make golang {version}` command which will update `.go.version` and all Dockerfiles to same version so we dont forget to update those

[2020-01-03 10:12] roncohen commented on #7762
hi @danielkasen. We've been unable to reproduce this in newer filebeat versions. Since the 6.3.0 version, there's been bug fixes in filebeat related to freeing up FDs and there's a good chance this issue has been fixed. If you experience it again in a newer filebeat version, please don't hesitate to reopen this issue.

[2020-01-03 10:12] #7762 closed

[2020-01-03 10:13] kvch commented on #3370
`import_dashboards` tool has been removed. Closing.

[2020-01-03 10:13] #3370 closed

[2020-01-03 10:15] michalpristas commented on #3556
Kibana related issue is solved, closing. If issue reappears let's open a new one

[2020-01-03 10:15] #3556 closed

[2020-01-03 10:15] urso commented on #6550
@exekias @fearful-symmetry Any idea if the problem still exists with the recent updates to the generator?

[2020-01-03 10:20] kvch commented on #7308
This issue is for an old version of beats, I suggest to try out the latest version of beats. If this is still a problem in the newly released version feel free to reopen this issue. Thanks.

[2020-01-03 10:20] #7308 closed

[2020-01-03 10:24] michalpristas commented on #8486
closing as this is for old version

[2020-01-03 10:24] #8486 closed

[2020-01-03 10:25] urso commented on #7705
@andrewkroh @jalvz The issue is quite old. Does the problem still exist, or has it been fixed by now?

[2020-01-03 10:25] kvch commented on #5092
This issue is for an old version of beats, I suggest to try out the latest version of beats. If this is still a problem in the newly released version feel free to reopen this issue. Thanks. Also, this bug hasn't been verified yet by a dev.

[2020-01-03 10:25] #5092 closed

[2020-01-03 10:27] andresrc commented on #8704
Closing because of lack of activity. We can reopen if we want to revisit HTTP pipelining, maybe in a more general context.

[2020-01-03 10:27] #8704 closed

[2020-01-03 10:28] urso commented on #8280
@andrewkroh any idea?

[2020-01-03 10:29] michalpristas commented on #8885
i believe this works now

[2020-01-03 10:29] #8885 closed

[2020-01-03 10:30] urso commented on #8740
@ph Is the CM manager still used, or will it be deprecated and removed in the future?

[2020-01-03 10:30] andresrc commented on #8418
Closing the issue for now. Please reopen it if the suggested configuration did not work. Thanks!

[2020-01-03 10:30] #8418 closed

[2020-01-03 10:30] roncohen commented on #7814
Hi @vbohata. Changing the fields to be case insensitive will not work for everyone, so I don't think that's a solution at the moment. If this problem is still relevant to you, do you mind elaborating on concrete situations where you run into this problem? For example, which software are you using to ingest the data?

Since this is a rather old issue, I'm going to close the issue for the time being

[2020-01-03 10:30] #7814 closed

[2020-01-03 10:32] kvch commented on #8976
@andrewvc Could you please add more details about this issue?

[2020-01-03 10:32] andresrc commented on #9045
Closing because of lack of activity. We can reopen if we are able to check this scenario.

[2020-01-03 10:32] #9045 closed

[2020-01-03 10:33] michalpristas commented on #7275
closing 6.3 not supported now

[2020-01-03 10:33] #7275 closed

[2020-01-03 10:34] kvch commented on #7881
This issue has been resolved.

[2020-01-03 10:34] #7881 closed

[2020-01-03 10:36] #9342 closed

[2020-01-03 10:39] kvch commented on #9555
Closing as central management is discontinued: https://www.elastic.co/guide/en/beats/filebeat/current/configuration-central-management.html

[2020-01-03 10:39] #9555 closed

[2020-01-03 10:41] kvch commented on #9733
This issue is for an old version of beats, I suggest to try out the latest version of beats. If this is still a problem in the newly released version feel free to reopen this issue. Thanks.

[2020-01-03 10:41] #9733 closed

[2020-01-03 10:41] urso commented on #9271
@jsoriano Any progress on identifying metricsets that need to handle values?

[2020-01-03 10:41] elasticmachine commented on #9428
Pinging @elastic/siem (Team:SIEM)

[2020-01-03 10:43] andresrc commented on #7439
@jsoriano there were several fixes for timezone handling, can this be already solved?

[2020-01-03 10:47] roncohen commented on #7477
thanks @brandonmensing. The GeoIP plugin is now enabled as a processor by default. We should update the docs accordingly.

[2020-01-03 10:48] kvch commented on #9796
Resolved in https://github.com/elastic/beats/pull/14533

[2020-01-03 10:48] #9796 closed

[2020-01-03 10:49] kvch commented on #6582
This issue is for an old version of beats, I suggest to try out the latest version of beats. If this is still a problem in the newly released version feel free to reopen this issue. Thanks.

[2020-01-03 10:49] #6582 closed

[2020-01-03 10:50] urso commented on #10251
@ph Any idea if the problem still exists?

[2020-01-03 10:50] elasticmachine commented on #10466
Pinging @elastic/uptime (:uptime)

[2020-01-03 10:52] kvch commented on #9574
Filebeat no longer uploads ML jobs in the command `setup`.

[2020-01-03 10:52] #9574 closed

[2020-01-03 10:53] elasticmachine commented on #10595
Pinging @elastic/uptime (:uptime)

[2020-01-03 10:54] kvch commented on #10677
Old and irrelevant.

[2020-01-03 10:54] #10677 closed

[2020-01-03 10:54] elasticmachine commented on #8556
Pinging @elastic/siem (Team:SIEM)

[2020-01-03 10:57] michalpristas commented on #9774
closing

[2020-01-03 10:57] #9774 closed

[2020-01-03 11:13] roncohen commented on #10342
Hi @Hubbitus. Thanks for opening this issue. Unfortunately, this is not something we'll be tackling in the foreseeable future. In the mean time, the new "View in Context" feature in the Logs UI should help improve the experience for you: https://github.com/elastic/kibana/issues/50304

[2020-01-03 11:13] #10342 closed

[2020-01-03 13:04] elasticmachine commented on #8740
Pinging @elastic/ingest (Project:fleet)

[2020-01-03 13:04] ph commented on #8740
I am going to keep it open and move it to fleet project.

[2020-01-03 13:15] michalpristas commented on #15296
@ph @nchaulet  let's say we have 10 actions resulting out of checkin command.
until next tick we manage to complete 5 of them. so reporter will report
5xACK + 5 other events

will fleet generate remaining actions again or should we postpone sending other events until all ACKs are reported?

[2020-01-03 13:17] ph commented on #10251
double checked the code, this  is still an issue but a good first issue.

[2020-01-03 13:20] ph commented on #7090
@michalpristas I believe its was already done by @mikemadden42  in https://github.com/elastic/beats/blob/master/dev-tools/cmd/update_go/update_go_version.go

I am going to close this.

[2020-01-03 13:20] #7090 closed

[2020-01-03 13:24] ph commented on #9535
yes :+1:

[2020-01-03 13:35] nchaulet commented on #15296
@michalpristas Fleet will resend every action until we get the `ACK`

[2020-01-03 13:49] michalpristas commented on #15296
so i guess we have 2 options, either to introduce some deduplication layer which will filter out these actions until they are acked or some timeframe passed.
other way would be to block sending of event up to the point when all ACKs for latest batch are present in a queue.

i think i like both solution evenly but second one might have a bit negative impact on memory consumption. if we are in the m

[2020-01-03 14:17] ph commented on #15296
I would be in favor of making the ACK work first without worry too much about having a limited batch size.

The implementation we have is in majority sequential, meaning in a fetch loop we will do this: Fetch, Parse, Dispatch actions, execute actions and report the ack.

Concerning the two suggestions, deduplication vs tracking ACK, let's try to expand the use case to support future features. Righ

[2020-01-03 14:35] fearful-symmetry commented on #6550
@urso the last round of major changes did completely re-write how beats are initialized, so it's possible this was fixed. Never actually seen this bug, though.

[2020-01-03 15:23] #15276 closed

[2020-01-03 16:51] urso opened #15324 "Filebeat input v2 API"
This meta issue tracks all PRs, issues and tasks for a new input API in Filebeat. The new API also introduces a generic key-value store as registry, for reuse by other inputs. Development targets the feature branch [feature-new-registry-file](https://github.com/elastic/beats/tree/feature-new-registry-file). Related issues/PRs will be labeled the `Project:Filebeat-Input-v2`.

### Initial Phase

- [

[2020-01-03 17:40] ph opened #15328 "[Agent] path related variables are not respected in the Agent yaml configuration."
Using `${path.data}` or `${path.home}` is not currently working in the agent, this cause problem when you want to define relative path to the executable.

[2020-01-03 17:40] elasticmachine commented on #15328
Pinging @elastic/ingest (Project:fleet)

[2020-01-03 17:56] ph commented on #15324
Thanks @urso for pushing this effort!

[2020-01-03 18:04] ph commented on #10770
Closing, the new Agent effort use Elasticsearch API key.

[2020-01-03 18:04] #10770 closed

[2020-01-03 18:05] elasticmachine commented on #9126
Pinging @elastic/siem (Team:SIEM)

[2020-01-03 18:06] kaiyan-sheng commented on #11213
I did several refactoring already so I will double check on this to see if it's still valid.

[2020-01-03 18:09] ph commented on #11806
I think you want to use Filebeat in docker? I strongly suggest that you use our [official docker](https://www.elastic.co/guide/en/beats/filebeat/current/running-on-docker.html) images. If it still a problem please create a topic on our [discuss](https://discuss.elastic.co/) forum.

[2020-01-03 18:09] #11806 closed

[2020-01-03 18:10] ph commented on #11683
Central Management development is stopped and all effort is moved to the Fleet/Agent/EPM mix. I am closing this issue.

[2020-01-03 18:10] #11683 closed

[2020-01-03 18:11] urso commented on #10699
@kvch Do we have these tests already implemented by now?

[2020-01-03 18:12] ph commented on #11682
Going to close this issue since the development of CM is stopped and we do not plan to support the version in future releases.

[2020-01-03 18:12] #11682 closed

[2020-01-03 18:12] kaiyan-sheng commented on #6924
@simianhacker With `metricset.period` added into each event, do we have a separate issue to track using `metricset.period` as the interval?

[2020-01-03 18:13] fearful-symmetry commented on #9271
#5854 is related. There's a lot of things that are explicitly designed to squash uint64-sized values. Trying to comb through metricbeat for examples of this is going to be...a long effort.

[2020-01-03 18:13] ph commented on #11781
Closed by https://github.com/elastic/beats/pull/13886

[2020-01-03 18:13] #11781 closed

[2020-01-03 18:13] urso commented on #10707
@dedemorton fyi

[2020-01-03 18:15] ph commented on #11990
We have stopped the development of Central Beats management, the feature is not going away but will be replaced by Fleet. In the context of fleet we will use Elasticsearch's API key instead of cloudid/cloud auth because this give us finer control over the credentials.

ref: https://github.com/elastic/beats/issues/14485

[2020-01-03 18:15] #11990 closed

[2020-01-03 18:18] urso commented on #7906
@jsoriano Test still fails quite often. The PR seems to be stalled for quite some time.

[2020-01-03 18:21] ph commented on #7755
We haven't seen that in a log time, after discussing in our beats triage party we have decided to close it.

[2020-01-03 18:21] #7755 closed

[2020-01-03 18:23] ph commented on #11989
Beats central development is stopped, all our effort is moved to the Fleet/Agent and the Elastic Package manager. Setting UP the ILM will be handled by the Elastic Package Manager.

[2020-01-03 18:23] #11989 closed

[2020-01-03 18:26] urso commented on #9394
Closing. Issue is stale for quite some time, plus a resonable response is already given.

[2020-01-03 18:26] #9394 closed

[2020-01-03 18:26] ycombinator commented on #10948
I haven't seen this failure in a while and looking through the unit and integration tests under https://github.com/elastic/beats/tree/master/metricbeat/module/kibana/stats and https://github.com/elastic/beats/tree/master/metricbeat/module/kibana/status it looks like no tests are currently skipped. So I'm going to close this issue as it appears to be resolved.

[2020-01-03 18:26] #10948 closed

[2020-01-03 18:28] mikemadden42 commented on #12064
With version 7.4.x of beats, Windows Server 2019 is supported.

https://www.elastic.co/support/matrix

[2020-01-03 18:28] #12064 closed

[2020-01-03 18:29] ph commented on #12170
This might still be possible, I've labeled this as a bug and we need more investigation.
I haven't seen this in test suite or any test failling reports.

[2020-01-03 18:30] ycombinator commented on #10705
I haven't seen this failure in a while and looking through the test code in https://github.com/elastic/beats/blob/master/metricbeat/module/kibana/stats/stats_integration_test.go it looks like no tests are currently skipped due to flakiness. So I'm going to close this issue as it appears to be resolved.

[2020-01-03 18:30] #10705 closed

[2020-01-03 18:31] ph commented on #4771
@ruflin Is this solved by the new indexing strategy in EPM? If so can we close this issue?

[2020-01-03 18:36] ph commented on #12619
Both Packetbeat and Auditbeat uses the same strategy and will drop events when back pressure happens.

The beats periodically log monitoring stats in the logs and will record the numbers of events dropped.

[2020-01-03 18:36] #12619 closed

[2020-01-03 18:37] urso commented on #7690
We made some improvements to detect file removal. Time to have a look at test_registrar.py and unskip tests.

[2020-01-03 18:37] ph commented on #12380
PR was merged closing this.

[2020-01-03 18:37] #12380 closed

[2020-01-03 18:39] kaiyan-sheng commented on #8174
Great suggestions, thank you! I will keep this issue open for these potential changes.

[2020-01-03 18:40] ph commented on #12684
Hello, sorry for the late response, it's now possible to limit the number of concurrent connections in the syslog input.

https://www.elastic.co/guide/en/beats/filebeat/master/filebeat-input-syslog.html#filebeat-input-syslog-tcp-max-connections

[2020-01-03 18:40] #12684 closed

[2020-01-03 18:42] urso commented on #8117
The error is cause by having an empty index name because substitution failed. Closing, because it is a duplicate of #9871

[2020-01-03 18:42] ph commented on #12684
Not that, this is best effort due to the nature of syslog communication.

[2020-01-03 18:42] #8117 closed

[2020-01-03 18:43] ph commented on #12530
Closed by #12424

[2020-01-03 18:43] #12530 closed

[2020-01-03 18:46] urso commented on #10636
@ph Can the introduction of the agent, we close this?

[2020-01-03 18:47] urso commented on #11629
Filebeat will not setup ML modules anymore in the future.

[2020-01-03 18:47] #11629 closed

[2020-01-03 18:49] ph commented on #12572
After discussing this issue in our Triage meeting, we believe that Beats is doing the right thing in this scenario and allow beats to not become deadlocked. We assume that _403 Forbidden error_ is a fatal  and we won't retry. The idea here if the situation can be recovered Elasticsearch should not return a 403.

[2020-01-03 18:49] #12572 closed

[2020-01-03 18:49] ph commented on #12572
related to https://github.com/elastic/elasticsearch/issues/49428

[2020-01-03 18:51] ph commented on #11167
We have stopped developed CM and we are moving to Agent/Fleet/EPM, the setup phase will be handled by the Elastic Package Manager.

[2020-01-03 18:51] #11167 closed

[2020-01-03 18:51] kaiyan-sheng commented on #10943
@adriansr Is this issue still valid?

[2020-01-03 18:51] urso commented on #11863
Multiline settings are applied per input, they are no global settings. Closing, seems like problem has been solved on discuss.

[2020-01-03 18:51] #11863 closed

[2020-01-03 18:53] ph commented on #13391
duplicate of https://github.com/elastic/beats/issues/11942

[2020-01-03 18:53] #13391 closed

[2020-01-03 18:54] elasticmachine commented on #10943
Pinging @elastic/siem (Team:SIEM)

[2020-01-03 19:09] ph commented on #10636
We can close this.

[2020-01-03 19:09] #10636 closed

[2020-01-03 19:40] jderose9 commented on #11167
@ph Can you point us at information about those upcoming changes?

[2020-01-04 00:04] Securitybits-io commented on #14188
Hi have a look at https://github.com/elastic/beats/issues/1034#issuecomment-564545600

[2020-01-05 17:24] alphaDev23 commented on #10958
Same issue with 6.6.2

[2020-01-06 02:21] Lswx2017 commented on #5413
+1

[2020-01-06 02:53] onequid commented on #6378
I'd love to give a try to implement it for Linux, may I?
We would:
1. pick out the top level disk controllers if there exists a sub level one (say `hda` if there is `hda1`) in module `diskio`;
2. add an additional `diskio_summary` module.

Am I missing anything?

[2020-01-06 08:21] ruflin commented on #4771
@ph The new indexing strategy is not going to fix this for Filebeat and Metricbeat but for the agent by not loading the template anymore from the agent side.

I'm good with closing this more with "wont fix" for MB and FB.

[2020-01-06 10:14] ruflin commented on #6507
It would be nice to have something as described above to create alerts with the new alerting framework in Kibana instead of going with watcher.

[2020-01-06 10:18] ruflin commented on #15268
Fleet should not have an influence on `elastic.agent.id`. If the agent is run with or without Fleet, there shouldn't be a different. For the `agent.id`, lets move it to an other thread.

[2020-01-06 10:23] ruflin commented on #14446
The way I see this is that for now we should focus on delivering Fleet / EPM. As soon as we have 1-2 releases out, we can start to evaluate if we can migrate users with a one time script to the new environment if needed.

[2020-01-06 10:23] #14446 closed

[2020-01-06 10:57] michalpristas commented on #15296
i see no problem in returning ACK for now, but restart might cause some issues, lost ACKs when machine is returned sooner than restart is ACKed and so we will end up with new restart action when we ask fleet for next steps and we might end up in a restart loop.
same race i think would be possible using reporter, less likely but still possible.
also we can loose whole in memory collection of ACK wh

[2020-01-06 11:35] ruflin commented on #15296
What is the size of each event you send up as an ACK? Could you share an example? How many ACK do you expect to fit into 1mb?

[2020-01-06 12:19] michalpristas opened #15337 "[Agent] Use context"
I was thinking about propagating context down the stack for proper cancellation, setting a timeout for network calls (to ease up resources) ...

[2020-01-06 12:19] elasticmachine commented on #15337
Pinging @elastic/ingest (Project:fleet)

[2020-01-06 13:14] sayden commented on #15012
TLDR: Go doesn't accept anything apart of a dot `.` to parse milliseconds in date/time.

I have been doing some research and, unfortunately, this is a known issue in the format parser of Go language. https://github.com/golang/go/issues/6189 In this issue they talk about commas but the situation is the same regarding colon. It's very inconvenient for this use case but all in all `17:47:38:402` (tri

[2020-01-06 13:15] ph commented on #4771
Going to close this as "wont fix"

[2020-01-06 13:15] #4771 closed

[2020-01-06 13:19] ph commented on #15337
++  to that, I think we could instead use https://github.com/elastic/go-concert/blob/master/chorus/closeref.go

Technically the practice says you should not keep the context in a struct field.

[2020-01-06 13:28] fkelbert commented on #15012
Thank you for doing that research @sayden.

As a user of this functionality, I would have assumed that the separators do not really matter and that I can essentially use any separator as long as they match up in my timestamps and within the layout description. I was thinking of the `layout` as just a "stencil" for the timestamp.

At the very least, such restrictions should be described in the docu

[2020-01-06 13:33] nchaulet commented on #15296
@ruflin an ACK event is something like `{ "type": "ACTION", "subtype": "AKNOWLEDGED", "action_id": "uuid-uuid-uuid-uuid", "message": "Acknowledged action uuid" }` we can fit more than 1000 in 1mb

[2020-01-06 13:40] ph commented on #15296
@ruflin There are not too big for now, but normal situations can cause a lot of them to be generated or need to be send at the same time.

I like that idea, I think it works for now @nchaulet WDYT?

[2020-01-06 13:48] ph opened #15339 "[Agent] Synchronize the Metadata needed in the modules and endpoint"
_The Agent pushes at enroll  time some metadata to the Fleet API._

Some modules use dynamic variables to know which files to watch. The mySQL module is a good example:

https://github.com/elastic/beats/blob/1e2660fc4e45b68939075289719736e692f3927f/filebeat/module/mysql/error/manifest.yml#L9

The current module behavior in beats is the following:

1. The YAML is read.
2. The YAML is parse through

[2020-01-06 13:48] elasticmachine commented on #15339
Pinging @elastic/ingest (Project:fleet)

[2020-01-06 13:48] ph commented on #15339
@ruflin Do we have a list of the metadata in the module?

The items in my head are:

- OS + Version
- hostname

[2020-01-06 14:15] nchaulet commented on #15339
@ph so fleet should on the server replace the template using metadata? if yes I will create the issue to do it

[2020-01-06 14:40] Thiago-Dantas commented on #12464
I also need this but in Metricbeat, should I open a new issue?

[2020-01-06 14:51] #14979 closed

[2020-01-06 15:25] kaiyan-sheng commented on #12464
@Thiago-Dantas I'm planning to use this same issue to track for Metricbeat as well! Thanks!

[2020-01-06 15:43] andrewkroh commented on #7705
I think things are working. The field generator code understands the structure of modules as they exist in beats today and can collect fields.yml from those. If there's a different structure then I think some customization must be done.

[2020-01-06 15:43] #7705 closed

[2020-01-06 15:44] elasticmachine commented on #8280
Pinging @elastic/siem (Team:SIEM)

[2020-01-06 15:46] andrewkroh commented on #8280
I think this would be a good option to add to Auditbeat. And also add a subcommand to clear the rules (#11825).

[2020-01-06 15:52] andrewkroh commented on #9428
I think we want to have supported added to miekg/dns for parsing the mDNS records before we could add support to Packetbeat.

https://github.com/miekg/dns/issues/436#issuecomment-485230134

[2020-01-06 15:55] andrewkroh commented on #8556
There is a PR open in #10835, but it must have some tests added to help ensure the change does not introduce race conditions.

[2020-01-06 16:00] andrewkroh commented on #9126
This test still fails on occasion on Windows (24 times in last 1 year). So let's keep this open until we do something to make it more robust.

<img width="1329" alt="Screen Shot 2020-01-06 at 10 59 32 AM" src="https://user-images.githubusercontent.com/4565752/71829942-a4a6f980-3073-11ea-9381-25b24d06de1c.png">

[2020-01-06 16:09] ph commented on #15339
@nchaulet lets get @ruflin's opinion on this since this is directly linked to the way modules are created / defined in EPM.

[2020-01-06 16:56] MakoWish commented on #7451
Pinging @andrewkroh. Any update on this?

[2020-01-06 18:24] DanRoscigno opened #15341 "Heartbeat RBAC for publishing requires additional priv"
The required privs are [published in docs](https://www.elastic.co/guide/en/beats/heartbeat/7.5/feature-roles.html#privileges-to-publish-events), but it seems like one is missing (`indices:admin/create`) which I __think__ should not be required when using ILM.

- Version: 7.5.0
- Operating System: ESS for ES and Kibana, Debian for Heartbeat

- Steps to Reproduce:
    - Create roles for setup and pu

[2020-01-06 18:50] michalpristas commented on #14463
CLosing

[2020-01-06 18:50] #14463 closed

[2020-01-06 18:56] #14399 closed

[2020-01-06 19:00] ph commented on #15328
**NOTE TO SELF (trying to get things out of my mind.**

I am trying to find the best way to link our configuration management in the agent to the existing beat configuration handling.

In beats is possible to reference other YAML parts like what we do with `path.home`  we use that variable to dynamically generate `${path.data}` and `${path.logs}` This work because we have a unique single configura

[2020-01-06 19:26] ycombinator commented on #14963
This has been fixed by https://github.com/elastic/beats/pull/15175.

[2020-01-06 19:26] #14963 closed

[2020-01-06 22:04] MikePaquette commented on #14866
This is a reasonable enhancement request, and implementing it would improve the overall monitoring capability of Packetbeat for http.

I recommend assigning it to backlog with low priority.

At higher priority, we should update the [documentation](https://www.elastic.co/guide/en/beats/packetbeat/current/packetbeat-http-options.html) with a note about what versions of http are currently supported.

[2020-01-07 10:16] fpompermaier commented on #13050
I also think that there's a bug in beats with ILM setup: when you specify the **setup.ilm.policy_name** but you don't configure **setup.ilm.policy_file** the default lifecycle policy will override the specified policy (if it exists).

I think you should be able to configure a policy name to associate to the index template and, on setup --index-management., you should be able to not override the ex

[2020-01-07 11:06] ChrsMark commented on #14997
Hey!

In my case I can see that both `kube-controller-manager` and `kube-scheduler` are discovered as static pods too. I'm using the manifests from  [here](https://github.com/elastic/cloud-on-k8s/tree/master/config/recipes/beats), along with ECK so it may worth to have a look there too.

What I would suggest here is to try to remove all the conditions and just have a pure autodiscover configuratio

[2020-01-07 12:34] urso commented on #15259
The issue is about docker containers, not rpm/deb. Sorry for the confusion. The Elasticsearch docker container already uses "Apache 2.0". License via label-schema (which has been more or less superseded by the opencontainers initiative) seems to prefer SPDX: https://spdx.org/licenses/

Open Containers annotations: https://github.com/opencontainers/image-spec/blob/master/annotations.md#pre-defined-

[2020-01-07 13:26] #15283 closed

[2020-01-07 13:27] #15160 closed

[2020-01-07 13:43] ChrsMark commented on #14629
Giving an update on this, Kibana tutorial is on its road elastic/kibana#54102 and we are waiting for a  the original dashboards.

[2020-01-07 14:47] andresrc commented on #7906
Let's see whether this still applies or we should close it

[2020-01-07 15:41] kaiyan-sheng opened #15357 "[Filebeat] Add basic json log format support for s3 input"
Currently s3 input in Filebeat only supports txt file format and gzip format. But logs like cloudtrail are in json format. For example:
[code]
Please see more json log examples in https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-log-file-examples.html

[2020-01-07 16:21] ycombinator commented on #15053
++ to this idea!

@urso and I had similar discussions in the past (and I'm sure others have too before that) wherein a PR could be labeled with the `backport_pending` label and version labels (e.g. `v.8.0.0`, `v.7.6.0`, etc.). Once the PR is merged, the bot would compare the target branch of the PR (typically `master`) with the version labels and setup backport PRs to the corresponding branches au

[2020-01-07 16:35] urso commented on #15053
One pain point with automatic backports is the changelog. It is already broken from time to time due to backports being merged without people checking the backport is not bogus.

Depending on how the bot handles CI, it might not even need to create a PR (assuming CI is run before merging). It could be just a commit to the particular release branch. In general some kind of merge queue would be nice

[2020-01-07 16:57] leehinman commented on #15357
Another good example below, it has 2 Cloudtrail event Records
[code]

[2020-01-07 17:37] ycombinator commented on #15053
Mentioning for completeness: the Kibana team is using https://github.com/spalger/kibana-pr-bot for their PR automation. Chatting with @spalger, he said:

Where, "reactors" refers to https://github.com/spalger/kibana-pr-bot/tree/master/src/reactors.

[2020-01-07 19:45] kkh-security-distractions commented on #11519
I implemented option 1 in a 3 node test cluster today. I am setting metricbeat to output to Logstash , then output to elasticsearch. at first glance it seemed to work fine. But then I noticed that the shard count on the nodes page is way off. It keeps incrementing  going from correct number to several thousands over time. so I may start with 50 , then for every 10 secs , it gets to 100 , 150 ,200

[2020-01-07 20:12] #15225 closed

[2020-01-07 20:31] pimjansen commented on #12040
@ruflin @andrewkroh any update on this? Its a bug which is there since march already. Is this going to be patched or will it be kept and patched at the beats agent? Since for now we cant properly log according the ECS schema

[2020-01-07 20:46] onequid commented on #15078
Just created a PR for this. And I am new here, so please tell if anything is inappropriate. Thank you.

[2020-01-07 21:06] onequid commented on #6378
A PR is created. The `diskio_summary` module is not added yet, and some furthur discussion about this would be lovely.
Instead the `diskio` metricset have records with `system.diskio.name : summary`.
And stats of top level controllers would be remove if at lease one sub level controller exists (`sda` is gone if `sda1` exists)

[2020-01-07 21:09] #14385 closed

[2020-01-07 21:13] adriansr commented on #14212
Turns out this IS a bug on our side, I failed to notice that those fields have a different meaning in NetFlow V9 vs IPFIX.

[2020-01-07 21:45] #15201 closed

[2020-01-07 21:46] dedemorton commented on #5898
Whoops, that one got lost in the defect backlog for awhile. I've confirmed that the setting works as expected and added the description to the docs: https://github.com/elastic/beats/pull/15371, so I'll close this issue.

[2020-01-07 21:46] #5898 closed

[2020-01-07 22:52] poochwashere commented on #952
Hmmm, I am having this issue now, which results in this error message `Failed to perform any bulk index operations: 308 Permanent Redirect: <html>` I am not sure how to configure my `nginx` proxy to handle this.

[2020-01-08 00:43] dedemorton opened #15374 "Improve documentation and examples about using Kubernetes labels"
The documentation about running on Kubernetes provides detailed examples that show hint-based autodiscovery, but we don't provide good examples that show how to use Kubernetes labels. Let's improve the documentation about using Kubernetes labels and add more examples.

This feedback came to us from a user (via developer advocate):

All his pods have explicit labels and he was looking for documenta

[2020-01-08 00:52] strawgate opened #15375 "Palo Alto Module does not provide log.source.address"
For confirmed bugs, please report:
- Version: 7.5.0
- Operating System: Any
- Steps to Reproduce:

1. Setup a Filebeat with a Palo Alto Module
1. Forward logs from the Palo Alto device to the Filebeat
1. Notice that there is no log.source.address populated on the messages parsed through filebeat

[2020-01-08 08:16] #15096 closed

[2020-01-08 09:15] cachedout commented on #11519
@lcawl and @ycombinator I've removed myself as owner of this issue after switching teams. Would one of you like to pick it up?

[2020-01-08 09:48] #15122 closed

[2020-01-08 09:50] andresrc opened #15380 "Move ELB fileset to GA"
For this filesetset:

- Ensure the [requirements](https://github.com/elastic/beats/blob/master/.github/ISSUE_TEMPLATE/module-checklist.md) are met.
- Move it to GA

[2020-01-08 09:55] andresrc commented on #15380
We can live the dashboard (#14970) as an enhancement, maybe for 7.7

[2020-01-08 09:59] andresrc opened #15382 "[Filebeat] Move MQ module to GA"
For this filebeat module:

- Ensure the [requirements](https://github.com/elastic/beats/blob/master/.github/ISSUE_TEMPLATE/module-checklist.md) are met.
- Move it to GA

[2020-01-08 12:00] #15382 closed

[2020-01-08 13:32] nchaulet commented on #15296
Yes we can have two endpoints, `POST /agents/:id/acks` to acknowledge actions and `/checkin` for agent polling and reporting events.

Can having two endpoint cause more problems? What happens if the `POST /acks` happens at the same time the agent poll for checkin?

[2020-01-08 13:43] michalpristas commented on #15296
additional endpoint would be nice,
as we perform actions sequentially it's highly unlikely to have a conflict there. we either ack or pull

but if you return anything not acked i think it's not breaking any contract, it's up on us to deal with duplications

[2020-01-08 14:19] ycombinator commented on #11519
@cachedout Sure.

@lcawl Can you take up bit about documenting Option 1? I can answer @kkh-security-distractions's question.

[2020-01-08 14:23] ycombinator commented on #11519
@kkh-security-distractions I assume you were using the Logstash fragment I had posted in my [comment above](https://github.com/elastic/beats/issues/11519#issuecomment-478140363):

[code]

Unfortunately, this fragment is not quite right. It works for _most_ stack monitoring data except data about shards, as you obviously found out the hard way 😞.  I've now updated the [comment]((https://github.com/

[2020-01-08 14:30] ph opened #15391 "[Agent] Defining an index or an ingest pipeline in stream doesn't work."
When you define an index or an ingest pipeline in a streams the events generated from the streams doesn't respect it.

[2020-01-08 14:30] elasticmachine commented on #15391
Pinging @elastic/ingest (Project:fleet)

[2020-01-08 17:12] faec commented on #15341
Thanks for reporting! It looks like the privilege you're talking about is already in the documentation you linked? In the final row of the table of privileges needed for the writer role, I see "`create_index` on `heartbeat-*` indices", but this doesn't seem to be present in the role configuration you include here. I believe this is the privilege the `indices:admin/create` is asking for. You might

[2020-01-08 17:17] faec commented on #15375
I'm not sure `log.source.address` is supposed to appear on `panw` messages... see the module's [list of exported fields](https://www.elastic.co/guide/en/beats/filebeat/master/exported-fields-panw.html). Is `panw.panos.source.nat.ip` / `panw.panos.source.nat.port` what you're looking for?

[2020-01-08 17:30] DanRoscigno commented on #15341
Hi @faec , yes, but:  The docs say "Create daily indices when connecting to clusters that do not support ILM. Not needed when using ILM." and I am using ILM, ILM is on by default since 7.0.  The Filebeat docs say the same thing, and `create_index` is NOT needed for Filebeat.

`read_ilm` should never be needed in my use case, as I have `setup.ilm.check_exists: false` as noted above.

[2020-01-08 17:42] william20111 commented on #13595
+1 this would be useful. HA Vault cluster would give both a 200 if you hit the master or a 429 if you get a backup instance. As you say this is a requirement for some real world examples

[2020-01-08 17:48] jsoriano commented on #7439
This should be fixed by #12338.

[2020-01-08 17:48] #7439 closed

[2020-01-08 17:54] kkh-security-distractions commented on #11519
@ycombinator ,Yesterday when I was comparing a working versus the non working setup , I did notice the rather odd "id" of the working setup.  But I was not able to determine , whether it was important or not ;)

I changed my pipeline according to your suggestions and it seems have fixed the problem. Shard count seems steady now as it should be. I added some stuff in the filter section to get rid o

[2020-01-08 18:18] dedemorton commented on #15040
A user on the forum has run into other problems with the documented privileges: https://discuss.elastic.co/t/beats-privileges-documentation/214190

(Noting it here so I update the forum post when I run through and test the privileges to see if the docs require updates.)

[2020-01-08 19:39] strawgate commented on #15375
nat.ip and nat.port are related to the traffic going through the palo alto.

The palo alto is forwarding Syslog and so i'd expect that log.source.address would be populated similar to any other syslog source.

[2020-01-08 20:42] DanRoscigno commented on #15341
@faec Maybe this is related to another issue I am seeing with heartbeat.  Running `heartbeat setup` should probably be setting up the index pattern `heartbeat-*`.  Instead, it is setting up the index pattern `UptimeIndexPattern` which does not seem to work with anything other than the Uptime UI (for example, you cannot use it in Discover or Lens).  Maybe since the index pattern is "wrong" the Beat

[2020-01-08 23:11] #13994 closed

[2020-01-09 02:20] ph opened #15403 "[Agent] Missing permission on the API_Key created by fleet?"
[code]

While testing the POC i've received the error above, I believe its because beats query the `_license` API to retrieve the remote license but I need to investigate more.

[2020-01-09 02:20] elasticmachine commented on #15403
Pinging @elastic/ingest (Project:fleet)

[2020-01-09 02:30] rvillablanca commented on #15115
This issue is marked as `good first issue` but it already has a PR in progress. Is there any label to mark some issues that have PR ?

[2020-01-09 02:30] ph commented on #15403
OK, well it fails on the ping where we actually just get the root of the elasticsearch cluster and probably on the license too... :)

2020-01-08T21:27:16.962-0500	DEBUG	[elasticsearch]	elasticsearch/client.go:738	Ping request failed with: 403 Forbidden: {"error":{"root_cause":[{"type":"security_exception","reason":"action [cluster:monitor/main] is unauthorized for API key id [7y8biG8Bt43ZWXKieEp9]

[2020-01-09 02:38] ph opened #15404 "[Agent] physical configuration are still created on disk even if the spec says GRPC"
When the Agent starts it still uses file on disk instead of GRPC even if the spec says to use GRPC?

[2020-01-09 02:38] elasticmachine commented on #15404
Pinging @elastic/ingest (Project:fleet)

[2020-01-09 02:41] rvillablanca commented on #15080
Hi @ycombinator, I would like to work on this :smiley:

[2020-01-09 08:21] ruflin commented on #15339
I would start with `host.name` as the information we should really report. I guess this is also something we should show in the agent overview.

General note: Not something we need to have for the MVP but good to start tracking it.

[2020-01-09 08:29] ChrsMark commented on #15115
Hey usually they should be marked with `in progress` label. I just added it.

[2020-01-09 08:37] michalpristas opened #15407 "[Agent] Make operator fail on not supported program"
Now if configuration resolver produces a configuration for application which is not supported operator will run it.

Let's make sure operator will fail on any attempt of running not supported program

[2020-01-09 08:37] elasticmachine commented on #15407
Pinging @elastic/ingest (Project:fleet)

[2020-01-09 08:40] ruflin commented on #12040
@urso @andresrc Perhaps you can chime in here?

[2020-01-09 08:50] Hubbitus commented on #10342
@roncohen, thank you for the answer but no, "View in Context" is interesting feature, but absolutely different.
I want extract **single** event from multiple lines of source logs, and not just manually look around. That should be happened on ingestion time. Then, that data should be available for search, query and aggregate.

[2020-01-09 09:15] michalpristas opened #15409 "[Agent] Filebeat casing is incorrect"
In filebeat.spec incorrect casing of Cmd field is present.
With latest change agent now tries to run `filebeat-{version}/Filebeat` which is not found on case-sensitive systems.

[2020-01-09 09:15] elasticmachine commented on #15409
Pinging @elastic/ingest (Project:fleet)

[2020-01-09 09:47] peng0208 opened #15412 "file is closed"
hi, can you take me a hand?
my file can not be collected, and there are a lot of logs output:
"file is falling under ignore_older before harvesting is finished. Adjust your close_* settings."
What's the problem?

[2020-01-09 09:47] roncohen commented on #10342
Could you elaborate a bit on why it's important to you that this is captured as a single event? Is there a concrete thing you can accomplish once this is captures as a single event>

[2020-01-09 12:50] michalpristas opened #15414 "[Agent] Use ACK endpoint for ACKing"
Related to https://github.com/elastic/kibana/issues/54269

ACK is moving from checkin endpoint to a dedicated one.
Make ackers use this new endpoing

[2020-01-09 12:50] elasticmachine commented on #15414
Pinging @elastic/ingest (Project:fleet)

[2020-01-09 13:14] ycombinator commented on #15080
Sounds great, @rvillablanca, thanks!  Just put up a pull request whenever you have it ready and ping me on it for review.  Happy to answer any questions you might have.

[2020-01-09 13:36] rguptarg opened #15416 "Docker log to ELK"
Hi Team,

I am trying to configure Docker logs forwarding to ELK through filebeat. I have followed (https://www.elastic.co/blog/enrich-docker-logs-with-filebeat).

I can see docker logs on kibana but without log message and no docker related info.

please suggest if any other configuration required.

filebeat yml (filebeat-7.3.2-1.x86_64) :-
filebeat.inputs:

type: log
enabled: true
paths:
/VMWNOD

[2020-01-09 13:58] #15115 closed

[2020-01-09 14:33] lnmohankumar commented on #637
I wish this was available now. It can automate a lot of stuff.

[2020-01-09 14:35] lnmohankumar commented on #637
I hope someone does progress on this.

[2020-01-09 15:17] jsoriano commented on #9271
I don't remember to actively look for cases per metricset :(

@fearful-symmetry thanks for pointing to this issue, I have added it to the list.

[2020-01-09 15:22] MarcusCaepio opened #15420 "[Filebeat 7.5.1] Bug in imported Cisco ASA Dashboard"
Hi all,

At Filebeat 7.5.1 the imported Dashboard "[Filebeat Cisco] ASA Firewall" has a Visualization called "Top ACL by Blocked" which wants to access the field "cisco.asa.list_id".
Since Filebeat 7.4 this field is not valid anymore. It has to be "cisco.asa.rule_name" according to the docs at https://www.elastic.co/guide/en/beats/libbeat/master/breaking-changes-7.4.html

Cheers,
Marcus

[2020-01-09 15:35] bartDecos commented on #13595
+1

[2020-01-09 16:11] Aqualie opened #15423 "Filebeat netflow module in a frozen state not processing any events"
Running Filebeat 7.5.1 today I logged into Kibana to check out some of my netflow stats in one of the preconfigured netflow dashboards only to find out that there were 0 results being returned. Switched into Kibana and filtered into the netflow service type and expanded the time-frame to last three days and there are 0 results...

Flipped on a quick pcap on the netflow port and there are hundreds

[2020-01-09 16:46] #13986 closed

[2020-01-09 17:22] sgreszcz opened #15424 "beats/logstash doesn't consistently name ES index for ILM default"
Elasticsearch version (bin/elasticsearch --version):

7.5.1 (elastic.co cloud), problem happened with previous 7 versions too.

I was asked to open this issue from the elasticsearch github: https://github.com/elastic/elasticsearch/issues/50789

Description of the problem including expected versus actual behavior:

According to the documentation, the default beat/logstash index pattern should be ap

[2020-01-09 18:29] kaiyan-sheng opened #15430 "Move aws/s3access fileset to GA"
For this filesetset:

- Ensure the [requirements](https://github.com/elastic/beats/blob/master/.github/ISSUE_TEMPLATE/module-checklist.md) are met.
- Move it to GA

[2020-01-09 18:37] mtojek commented on #15202
Resolving now.

[2020-01-09 18:37] #15202 closed

[2020-01-09 18:40] mtojek commented on #15203
PRs merge hence resolving.

[2020-01-09 18:40] #15203 closed

[2020-01-09 18:42] faec commented on #15341
Hmm, you're right... I'm not sure if this is a bug in the beat or the docs, or if some other context might be affecting it. I'm going to check with someone who knows more about Heartbeat internals.

[2020-01-09 18:55] mattapperson opened #15433 "[Agent] Missing dependency"
When compiling Agent from source you get an error that "github.com/hashicorp/go-multierror" is missing. Installing that dependency fixes the error

[2020-01-09 18:55] elasticmachine commented on #15433
Pinging @elastic/ingest (Project:fleet)

[2020-01-09 18:58] mtojek commented on #13531
PRs merged, resolving.

[2020-01-09 18:58] #13531 closed

[2020-01-09 19:00] jsoriano commented on #7906
I will take another look, maybe we can refactor the docker watcher to reuse `common.Cache` instead of having their own cache with cleanup logic.

[2020-01-09 19:04] faec commented on #15375
Ah, no you're right, I just double checked and that field should be present. Can you share the `filebeat.yml` you're seeing this with?

[2020-01-09 19:14] ph commented on #15403
Actually the permissions are correctly defined, I am gonna change the behavior in beats to route the events to the right place until we have the final index strategy implemented.

[2020-01-09 19:19] strawgate opened #15434 "Keep original log message when using Syslog input"
**Describe the enhancement:**
When using the syslog input the original message is not stored in log.original. As processors run after the input parsing is completed you cannot use copy_field to get the original message back.

**Describe a specific use case for the enhancement or feature:**
Allow for reprocessing of syslogs in the future and allow for viewing the entire original log message.

[2020-01-09 19:21] strawgate commented on #15375
[code]
and
[code]

[2020-01-09 19:27] ph opened #15435 "[Agent] Add flags to beats to disable options."
To reduce the required permission on  _api_key_ we need to disable:

- ILM logic is disabled (The logic is moved to EPM)
- template setup is disabled (The logic is moved to EPM)

[2020-01-09 19:27] elasticmachine commented on #15435
Pinging @elastic/ingest (Project:fleet)

[2020-01-09 19:33] DanRoscigno commented on #15341
Thanks @faec , I feel strongly that this is a code bug, and not a doc bug.  In my opinion ILM and RBAC config should be common code across the Beats, so Heartbeat and Filebeat should work the same.  You might include this [Metricbeat bug](https://github.com/elastic/beats/issues/15040) in your discussion, it is very similar (and is mis-categorized as a doc issue!!)

[2020-01-09 19:37] ph commented on #15403
related issue on kibana to move the api_key inside the output https://github.com/elastic/kibana/issues/54393

[2020-01-09 21:09] faec opened #15442 "[Filebeat] syslog input should default to the most recent valid year rather than the current one"
Motivated by [this discuss post](https://discuss.elastic.co/t/wrong-timestamp-not-timezone-issue-with-system-module/214092):

Syslog events often omit the year from their timestamp. Right now the syslog input replaces missing years with the current calendar year, which is usually correct, but breaks whenever the year changes, in this case indexing logs from late december 2019 as though they were l

[2020-01-09 22:12] maggieghamry commented on #14212
He's going to work on getting me something by tomorrow, which I'll pass on as soon as I receive it.

[2020-01-09 23:43] lcawl commented on #11519
Sorry, I somehow missed the earlier notifications on this one.

From what I understand in this issue, this is a less common configuration option.  Since
the basic setup steps (https://www.elastic.co/guide/en/elasticsearch/reference/current/configuring-metricbeat.html) are already quite complex, I don't think it would be ideal to try to squeeze it in there.  Instead, I think this would be appropria

[2020-01-09 23:49] ycombinator commented on #11519
Sounds good and makes sense, @lcawl and @dedemorton. I've created https://github.com/elastic/blog/issues/984 to track the blog post and assigned it to myself.

[2020-01-10 00:27] ppf2 commented on #11519
Blog post sounds good, let's cross link from the https://www.elastic.co/guide/en/elasticsearch/reference/current/configuring-metricbeat.html page  to the public blog post location (once it is published).  thx!

[2020-01-10 05:29] MarcusCaepio commented on #15420
Same for the Visualization "Top ASA Messages [Filebeat Cisco]" -> "Sample Message". Has to be event.original instead of log.original

[2020-01-10 07:13] khangtc61785 commented on #213
Have any change for this?

[2020-01-10 08:58] #15078 closed

[2020-01-10 09:25] kvch opened #15447 "Send monitoring data when Functionbeat is triggered"
As Functionbeat might finish running before the monitoring data is sent, we cannot guarantee that the metrics are going to reach Elasticsearch. The initial idea is to send the data when Functionbeat checks the license of Elasticsearch.

Issue is based on the conversation since this comment: https://github.com/elastic/beats/pull/14876#issuecomment-571330903

[2020-01-10 12:40] #15264 closed

[2020-01-10 12:57] ChrsMark commented on #14629
Note that the Kibana tutorial should be updated with the dashboard screenshot when the dashboard is in.

[2020-01-10 13:24] ph commented on #15328
@michalpristas Can you quick your input here, what would be the best way to do it?

[2020-01-10 13:46] ph commented on #15433
@michalpristas  can  you take a look, we have probably had an issue when we updated from master?

[2020-01-10 13:49] ph commented on #15433
One thing that is curious is this work on CI? I wonder if the environment that @mattapperson uses have go modules enabled. I am not sure how that would happen.

[2020-01-10 13:50] ph commented on #15433
@mattapperson What is the output of `find -name go.mod` in the beats repository?

[2020-01-10 13:56] faec commented on #15375
Ah, ok logstash could be a factor, but first, can you share an example of an event ingested with this configuration? I'd especially like to see whether the events are otherwise successfully parsed by the syslog input (this would be signaled by a "syslog" key with relevant metadata inside the indexed event), or if the input itself is having trouble.

[2020-01-10 14:06] cbryanvest opened #15462 "Remote IP Address is remote: undefined during SSL certificate failure"
While tracking down a beats client with a bad SSL certificate I constantly ran into `[2020-01-08T22:25:58,724][DEBUG][org.logstash.beats.BeatsHandler][main] [local: 0.0.0.0:5044, remote: undefined]`. This makes it difficult to track down the client with the bad SSL certificate. Very randomly this would show the IP address but there was no consistent pattern.

This seems like it is a race condition

[2020-01-10 14:23] ph opened #15465 "[Agent] When enrolling an Agent the host is missing in the UI."
When you enroll an agent into the  fleet the host should be displayed in the UI and right know it is an empty field. I think we are not sending that information when we enroll/checkin.

[2020-01-10 14:23] elasticmachine commented on #15465
Pinging @elastic/ingest (Project:fleet)

[2020-01-10 15:12] michalpristas opened #15470 "[Agent] Update host on each checkin request"
Checkin enables us to update local metadata, provide a function to checkinCmd which will retrieve actual metadata so fleet is up to date with host changes etc.

[2020-01-10 15:12] elasticmachine commented on #15470
Pinging @elastic/ingest (Project:fleet)

[2020-01-10 15:25] stevewritescode commented on #14414
Yes, I have similarly started to write bash scripts that try a `deploy` followed by an `update` to catch both cases. Having a built-int idempotent command to create and/or update would be ideal.

[2020-01-10 15:29] jacekjaros opened #15471 "[haproxy] add option to read stats from socket"
**Describe the enhancement:**
From what i check now haproxy module can only read stats from tcp port, it will be great to have option to use sockets to collect data.

**Describe a specific use case for the enhancement or feature:**
In some cases for security reason there are no option to open tcp ports (even on localhost). In that case good options will be to use sockets to read haproxy stats.

[2020-01-10 15:32] stevewritescode commented on #14414
Also, to help with people searching for issues: This is the error I got when I tried to `deploy` a function that was already deployed. It took me a few minutes to realize this wasn't a "real" error but just indicated that I should use `update` instead.

[code]

[2020-01-10 15:34] #15430 closed

[2020-01-10 15:40] ph opened #15474 "[Agent] TODO from the POC"
- [x] Round tripper  #15472
- [x] setup ILM disable #15468
- [x] Disable template setup #15472
- [x]  Investigate permissions required for api key. https://github.com/elastic/beats/issues/15403 Followup on Kibana https://github.com/elastic/kibana/pull/54658
- [x] Investigate scheduler panic on halt #15481
- [x] Investigate backoff jitter error concerning the random wait.  Retry options cause a pan

[2020-01-10 15:40] elasticmachine commented on #15474
Pinging @elastic/ingest (Project:fleet)

[2020-01-10 15:41] ph commented on #15474
fyi @michalpristas

[2020-01-10 15:51] andrewkroh opened #15475 "[Filebeat] Add a decode_syslog processor"
We have a syslog input that receives data from the network and then parses the syslog header of the message. I'd like to decouple the network input from the message parsing to allow the syslog parsing to be applied to file input data.

If these were decouples then we could remove the syslog input and just use the udp/tcp inputs and pair them with the `decode_syslog` processor.

My use case would b

[2020-01-10 15:56] ph commented on #15475
@andrewkroh WDYT about also marking this as breaking change?

[2020-01-10 16:20] rvillablanca commented on #15080
Friendly reminder we can close this issue now

[2020-01-10 16:20] ycombinator commented on #15080
Closed via #15418.

[2020-01-10 16:20] #15080 closed

[2020-01-10 18:51] faec commented on #15424
Thanks for reporting! You may not have this anymore if all the indices are working now, but in the first screenshot it shows indices with lifecycle errors, do you know what those errors were?

[2020-01-10 18:57] faec commented on #15412
Hello! Sorry, this is for filing issues and bugs related to beats. For help with general use and configuration, please try the [discuss forums](https://discuss.elastic.co/c/beats/filebeat).

[2020-01-10 18:57] #15412 closed

[2020-01-10 19:05] faec commented on #15416
Hello! To confirm, are you running filebeat inside a container? If so, is it run with a docker socket and the right permissions? See [the current docs](https://www.elastic.co/guide/en/beats/filebeat/master/add-docker-metadata.html) for details on socket permissions / configuration.

[2020-01-10 19:07] ph commented on #15433
After discussing with @mattapperson He was using another branch named [agen](https://github.com/elastic/beats/tree/agent)`, so I think that branch is broken. @michalpristas I don't think we have anything in that branch worth to keep? if its a yes I am going to delete it next week.

[2020-01-10 20:40] #15380 closed

[2020-01-11 02:26] uday3110 opened #15488 "Haproxy module is not able to parse access log"
Haproxy modules does not work for me.

**filebeat version**: filebeat version 7.5.1 (amd64), libbeat 7.5.1
**operating system**: Ubuntu 16.04

_filebeat.yml config_
[code]
_haproxy.yml_
[code]
_sample log line_
[code]
**output**
[code]

[2020-01-11 05:28] strawgate commented on #15375
Here's the message as it comes from filebeat:

[code]

The panw tests also reflect this:
https://github.com/elastic/beats/blob/master/x-pack/filebeat/module/panw/panos/test/pan_inc_threat.log-expected.json
https://github.com/elastic/beats/blob/master/x-pack/filebeat/module/panw/panos/test/pan_inc_threat.log

[2020-01-11 06:17] rguptarg commented on #15416
thanks for reply

filebaeat is running on host machine(Linux), just i want to add container name on documen/eventt.

[2020-01-11 17:27] chrisnew commented on #11179
This just comes with insane defaults out of the box imho. I also ran into the same issue that journalbeat is forwarding its own log messages.

My workaround is basically the following:

[code]

[2020-01-11 17:37] #15035 closed

[2020-01-12 17:48] nkakouros opened #15490 "[Heartbeat] Add monitors of type udp"
**Describe the enhancement:**

Currently, `tcp`, `icmp` and `http` monitor types are provided. A new type, 'udp', could be introduced that checks if a udp port is open. Since there is no handshake going on, support for the most popular protocols could be added. For instance, for DNS, a query for a dummy domain could be sent. `nmap` has support for UDP that could be useful.

**Describe a specific u

[2020-01-13 07:06] 70data commented on #11834
How is it going now?
Have any plans to fix the problem?

[2020-01-13 07:08] mtojek opened #15493 "[Metricbeat] Prometheus based module should support metrics filtering"
Lightweight modules based on Prometheus store all collected metrics. Unfortunately if there are metrics not related to the observed product (e.g. exporter's metrics), they will be collected as well, even if they're less important and just overloading the storage).

The goal of this task is to expose a module configuration feature that defines allowed metric name prefixes.

This feature could be us

[2020-01-13 07:12] yuswift commented on #11834
Still exists in 7.5.1 :(

[2020-01-13 09:24] #13268 closed

[2020-01-13 10:41] michalpristas commented on #15433
oh i think it's the branch i used for work on fb/mb integration on our first try even before we had fleet branch
i'm going to delete it

[2020-01-13 12:10] urso commented on #7870
YAML has different string types. For regular expressions and file paths it is better to use single quotes like `path: 'C:\abc\def\file.txt'`. Single quotes are not subject to string escaping. This is also mentioned in the config file format FAQ: https://www.elastic.co/guide/en/beats/libbeat/current/config-file-format-tips.html#wrap-paths-in-quotes

[2020-01-13 12:15] urso commented on #9618
@jsoriano @andrewkroh This looks like a duplicate of #8281. Can we close this issue?

[2020-01-13 12:20] jsoriano commented on #9618
@urso you are right, it looks like a duplicate, closing this, thanks!

[2020-01-13 12:20] #9618 closed

[2020-01-13 13:31] ph commented on #15433
@mattapperson I am going to close this because I strongly believe its just because its the wrong branch.

[2020-01-13 13:31] #15433 closed

[2020-01-13 13:53] michalpristas opened #15500 "[Agent] ECS aligned metadata"
As discuseed in elastic/beats#15496 let's enhance metadata sent to fleet and be aligned with ECS

Figure out what we are able to send

Handy link: https://www.elastic.co/guide/en/ecs/current/ecs-os.html

[2020-01-13 13:53] elasticmachine commented on #15500
Pinging @elastic/ingest (Project:fleet)

[2020-01-13 14:12] #14641 closed

[2020-01-13 14:58] ynirk opened #15502 "[Filebeat] S3 input stop ingesting logs after some time"
- Version: 7.5.1
- Operating System: official Docker image on Ubuntu

- Description

I'm using the S3 input to ingest AWS vpcflow logs. It's working fine for a while and then it stops (the process has been reproduced several times)

The only message i see in the log is the single occurence of:
[code]
And then
[code]
repeated several times

After this sequence, logs are not ingested anymore
<img wi

[2020-01-13 15:14] Yggdrassil80 commented on #5413
+1

[2020-01-13 15:39] kaiyan-sheng commented on #15357
We decided to use `expand_event_list_from_field` parameter to specify the JSON field same as Kafka input: https://www.elastic.co/guide/en/beats/filebeat/master/filebeat-input-kafka.html#_expand_event_list_from_field

[2020-01-13 15:39] #15357 closed

[2020-01-13 15:58] ChrsMark opened #15505 "[Meta] Istio Metricbeat Module"
# Istio Metricbeat Module
This is issue aims to track any implementation, concern, discussion, proposal around Istio integration with Metricbeat.

Istio: https://istio.io/
Istio Metrics:

- https://istio.io/docs/tasks/observability/metrics/collecting-metrics/
- https://istio.io/docs/tasks/observability/metrics/querying-metrics/#about-the-prometheus-add-on
- https://istio.io/docs/reference/config/p

[2020-01-13 16:06] ChrsMark commented on #15505
# Sample metrics

Setting up the [sample application](https://istio.io/docs/examples/bookinfo/) of Istio to collect [sample metrics](https://istio.io/docs/tasks/observability/metrics/collecting-metrics/) the following Istio specific metrics can be captured:

Prom querry: `http://localhost:9090/federate?match[]={__name__=~%22istio.*%22}`

Metrics:

[2020-01-13 16:09] ph opened #15507 "[Agent] persistence of configuration"
The agent needs to persist the last retrieved configuration from Fleet. When the agent receives a policy change, the agent _ACK_ the change and fleet will never send back the configuration again. We need to actually persist this configuration locally.

This is useful in the following use case:

- When the Agent is restarted for any reason. (crash, normal maintenance reboot, etc)
- When the Agent i

[2020-01-13 16:09] elasticmachine commented on #15507
Pinging @elastic/ingest (Project:fleet)

[2020-01-13 16:09] ph commented on #15507
fyi @michalpristas

[2020-01-13 16:12] ph commented on #15474
cc @ruflin just to keep you in the loop, almost done

[2020-01-13 16:24] ph commented on #15403
permissions:

[code]

The above is the minimal permission we actually want to have. The Agent cannot generate the configuration index required, so I am going to add a workaround to change the default index for Metricbeat and Filebeat to write to the "logs" and "metrics" indexes instead of "filebeat" and "metricbeat".

[2020-01-13 16:25] ph commented on #15403
@nchaulet updated list of permissions.

[2020-01-13 16:27] michalpristas commented on #15507
i think i like the idea of replaying last change on start before pulling anything else. this would also produce additional ACK which can be ignored on fleet side or used to detect undesired restarts

[2020-01-13 16:29] richiejarvis commented on #9442
Hi Team,

Is there a way that we can continue the ARM compilation in an Elastic "unsupported" capacity?

My thinking is that if there was public access to the builds and yum/apt/brew repos, but at a "lesser" level than the officially supported Beats (due to the ARM support issue), would that be a possible way forward?

Cheers,

Richie

[2020-01-13 18:06] ph commented on #15507
I haven't thought of that, but that would require the FleetGateway to handle the "reboot" ?

[2020-01-13 18:09] ph commented on #15403
**Note** This was tested with the `x-pack/(filebeat|metricbeat)` and taken from https://www.elastic.co/guide/en/elasticsearch/reference/master/security-privileges.html,

In the boostrap process of the beats communication with Elasticsearch two calls are actually required:

- `/` Query the root of the Elasticsearch server this act as a Ping/health check.
- `/_license/` Query the license of Elastics

[2020-01-13 18:12] ph commented on #15403
More documentation in https://github.com/elastic/elasticsearch/blob/fd06b3d2df9372e48d1a5a2fd6bd3d310bf04eae/x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStore.java#L142-L147

Note that the `beats_system` role define also access to the monitoring indices:
`.monitoring-beats-*` => `create_index`, `create` but theses are different concerns so I don'

[2020-01-13 18:15] ph commented on #15465
closing because of #15496 is merged

[2020-01-13 18:15] #15465 closed

[2020-01-13 18:21] ph commented on #15474
item`worker loop exit when the client doesn't have the right credentials?` is linked to the int63n issue.

[2020-01-13 18:24] DanRoscigno commented on #15040
@dedemorton can you re-tag this as a code bug rather than doc bug?  Unless it is a doc bug.

[2020-01-13 18:27] sgreszcz commented on #15424
I think the lifecycle errors were either the APM indexes (that always seem to report some sort of lifecycle errors) or the fact that the default index naming (as per this issue) was incorrect and therefore the ILM profile wasn't working.

Fortunately our production filebeat, metricbeat, and logstash naming is now OK and the indexes are looking good:

<img width="1052" alt="Screenshot 2020-01-13 at

[2020-01-13 18:28] ph commented on #15474
@michalpristas do you mind to look at the following?

[code]

There are two places which are incorrect, the default values received by the FleetGateway and the retry for the operator.

[2020-01-13 18:29] ph commented on #15474
I've looked at the `Removing all datasources in the UI doesn't stop the processes`, we have an explicit assert to error on empty streams in the `program.Program`. I think just removing that assert would be fine with the stateresolver but I will still check.

[2020-01-13 18:33] dedemorton commented on #15040
@DanRoscigno I plan to retest the docs this week to determine whether this is indeed a doc bug. Thanks!

[2020-01-13 18:46] ph commented on #15403
closing this @nchaulet will handle it in the same refactoring.

[2020-01-13 18:46] #15403 closed

[2020-01-13 18:51] #14435 closed

[2020-01-13 19:24] ph commented on #15391
Let's do the minimal work initially before doing the rework on the input strategy to have the least have data going in and test for permissions and make sure that fleet branch have a complete end to end code.

The logic will be something like this:

For every filebeat inputs send data to `logs-*`..
For every Metricbeat input send data to the `metrics-*`

[2020-01-13 20:05] liza-mae opened #15512 "Packetbeat setup error"
- Version: master latest
- Operating System: Linux
- Steps to Reproduce:
./packetbeat setup
Overwriting ILM policy is disabled. Set `setup.ilm.overwrite:true` for enabling.

Index setup finished.
Loading dashboards (Kibana must be running and reachable)
Exiting: error generating index pattern: field <tls.version> is duplicated, remove it or set 'overwrite: true', {Name:version Type:keyword Descrip

[2020-01-13 20:17] ycombinator opened #15513 "Filebeat Cisco module parsing sequence numbers with leading 0s as octal"
Originally reported in https://discuss.elastic.co/t/cisco-module-arbitrary-parse-error-with-nearly-identical-messages/214884.

When the Filebeat (X-Pack) `cisco/ios` fileset is enabled and it encounters the following log line:

[code]

It fails with the following error:

[code]

However, parsing succeeds with a very similar line:

[code]

---

Looking at the Cisco module source code, I believe thi

[2020-01-13 20:55] cbryanvest commented on #15462
Further testing shows that this is spotty, seemingly depending on the speed of the logstash server.

[2020-01-13 20:57] cbryanvest commented on #15462
I just figured out I put this in the wrong repo. Closing.

[2020-01-13 20:57] #15462 closed

[2020-01-13 21:50] #14657 closed

[2020-01-13 22:42] DanRoscigno opened #15521 "Launch between apps fails due to filebeat and metricbeat defaults"
Launch between Uptime, Logs, and Metrics depends on the field `host.ip` being populated in metricbeat and filebeat records.  By default this is disabled.  I opened a PR with the changes to the configs: https://github.com/elastic/beats/pull/15347

Default config:
[code]

Necessary config:
[code]

- Version: 7.5.1
- Steps to reproduce:
    - run with default configs
    - attempt to launch from upti

[2020-01-14 00:11] liza-mae commented on #15512
This is happening on oss and default packages -

[packetbeat.yml.txt](https://github.com/elastic/beats/files/4056675/packetbeat.yml.txt)

**./packetbeat version**
packetbeat version 8.0.0 (amd64), libbeat 8.0.0 [6c75f403281068623185fb330a166a09cc9df977 built 2020-01-13 14:27:12 +0000 UTC]

**Snapshot version:**
8.0.0-ae74a27c

**Kibana version:**
BUILD 29871 COMMIT 14df4c09

**Elasticsearch versio

[2020-01-14 00:43] andrewvc opened #15524 "[Heartbeat] TLS options ignored when forward proxy used"
For configs where an HTTP proxy is passed into the `proxy_url` setting and custom TLS options are used the TLS options are ignored.

[2020-01-14 00:43] elasticmachine commented on #15524
Pinging @elastic/uptime (:uptime)

[2020-01-14 08:26] #13873 closed

[2020-01-14 09:25] fredbcode opened #15530 "Filebeat 7.5.1 netflow default_field source_id"
Hello,

The default field netflow.exporter.source_id is missing
https://github.com/elastic/beats/blob/master/filebeat/docs/fields.asciidoc

[2020-01-14 09:30] exekias commented on #10578
#14738 added the `scope` parameter that should provide this feature starting with 7.6

[2020-01-14 09:30] #10578 closed

[2020-01-14 09:55] fredbcode commented on #15530
Sorry mistake

[2020-01-14 09:55] #15530 closed

[2020-01-14 10:07] exekias commented on #12792
We aim to support the last 3 minor releases of k8s, with best effort for the rest, as these are the versions officially supported by the kubernetes community. @odacremolbap that makes me think we may need to support both the old and the new method for a while? (with some version detection).

[2020-01-14 10:13] exekias commented on #14159
@odacremolbap I'm closing this one as #12792 wasn't finally scheduled as part of this effort (as kubernetes 1.18 is not out yet). I guess we will push for that one once 1.18 is out

[2020-01-14 10:13] #14159 closed

[2020-01-14 10:19] w33ha-zxc opened #15532 "Netflow protocol version 0 not supported"
- Version: 7.5.1
- Operating System: Ubuntu
- Discuss Forum URL: https://discuss.elastic.co/t/netflow-protocol-version-0-not-supported/214971
- Steps to Reproduce:
 Config -

`module: netflow
log:
enabled: true
var:
netflow_host: 192.168.0.154
netflow_port: 2055
protocols: [ v9 ]`

Warning -
`2020-01-14T15:44:15.507+0530    WARN    [netflow]       netflow/input.go:240    Error parsing NetFlow pack

[2020-01-14 10:27] michalpristas commented on #15507
@ph i dont think so. reboot is fine and can be acked before reboot. after reboot it would normally load what is stored applied config, ACK it.
then it would ask fleet for checkin and make a diff based on new config (reboot was ACKed upfront) backup policy change and apply changes and ack it.

in case of undesired restart (agent crash) it would be similar, agent crashes it load whatever is stored a

[2020-01-14 10:29] michalpristas commented on #15474
@ph i will check the backoff issue

[2020-01-14 10:30] #15296 closed

[2020-01-14 10:31] #15470 closed

[2020-01-14 10:32] #15404 closed

[2020-01-14 10:32] #15409 closed

[2020-01-14 10:32] #14985 closed

[2020-01-14 10:32] #15407 closed

[2020-01-14 10:32] #15167 closed

[2020-01-14 10:32] #15297 closed

[2020-01-14 10:33] exekias commented on #15521
Thank you for opening @DanRoscigno! pinging @andrewvc && @jasonrhodes as I don't know much about how links from Uptime work. Is this expected?

[2020-01-14 10:33] michalpristas commented on #11433
i'm closing this one

cc @ph

[2020-01-14 10:33] #11433 closed

[2020-01-14 10:33] elasticmachine commented on #15521
Pinging @elastic/uptime (:uptime)

[2020-01-14 10:34] michalpristas commented on #11576
closiong this one as well

cc @ph

[2020-01-14 10:34] #11576 closed

[2020-01-14 12:26] ChrsMark commented on #15505
# Metricsets

- [ ] Istio mesh metrics: https://github.com/elastic/beats/pull/15535
- [ ] Pilot metrics
- [ ] Galley metrics
- [ ] Citadel metrics

[2020-01-14 13:26] jsoriano commented on #13471
Images are already named

[2020-01-14 13:26] #13471 closed

[2020-01-14 13:33] ph commented on #15507
So if I understand correctly the following will happen:

1. Agent starts
2. Agent calls checkin => [PolicyChange(actionID: 1)]
3. Agent dispatch  [PolicyChange(actionID: 1)]
4. Agent diff the Configuration. (all new)
5. Agent applies the configuration.
6. Agent persists the [PolicyChange(actionID#1)] on disk.
7. Agent ACKs actionID#1
8. Agent stops (assuming gracefully)
9. Agent restarts.
10. Agen

[2020-01-14 13:34] michalpristas commented on #15328
if we stick with spec file, there can be actually way to support it.

right now we have flow like this
`*.spec` file -> yaml.Unmarshall(&specificStruct) -> appent.To(SpecCollection)

the thing is that resolution needs to happen on program instantiation as each program has unique log path and data path based on pipeline ID (there is a restriction: two beats cannot have same data path)
so we would n

[2020-01-14 13:38] elasticmachine commented on #15513
Pinging @elastic/siem (Team:SIEM)

[2020-01-14 13:40] elasticmachine commented on #15420
Pinging @elastic/siem (Team:SIEM)

[2020-01-14 13:41] ph commented on #15328
I am not too worried about the spec files because I think at the moment we can decide to only work with absolute path. What Its more important (I think) is all the variable substitution works with _agent.yml_. Today to make the agent work we have to have a configuration that look like this.

[code]

It would be nice if we could have something like this:

[code]

Also when we have systemd starting

[2020-01-14 13:46] ph commented on #15507
Also, I don't want us to over complexify here, we can get away with the first version to only persist last _good_ policy change and nothing else.

[2020-01-14 13:48] michalpristas commented on #15507
i think for starters last good policy seems ok

[2020-01-14 13:49] andresrc commented on #9524
@elastic/observablt-robots Are we already using merge commits to run the builds? (at least in Jenkins)

[2020-01-14 13:52] ph commented on #15507
Also, let's make it unencrypted for now and a **separate** file and have a second step for protecting that data. We can use the same `io.Reader` strategy as before..

[2020-01-14 13:55] elasticmachine commented on #15423
Pinging @elastic/siem (Team:SIEM)

[2020-01-14 14:04] v1v commented on #9524
Let me see how the JJB/JJBB is managed for the beats-ci instance.
IIRC, that's the approach we use in the `apm-ci` instance by default.

_NOTE_: JJBB is the term used for the customized Jenkins Job Builder.

[2020-01-14 14:11] kuisathaverat commented on #9524
the new pipeline makes a merge before to build, the old build jobs no

![Screenshot 2020-01-14 at 15.10.43.png](https://zube.io/files/elastic/ba755a6d4e83f89e9e082f75dcc3ce47-screenshot-2020-01-14-at-15-10-43.png)

[2020-01-14 14:12] #15435 closed

[2020-01-14 14:15] v1v commented on #9524
Old build jobs are not using that particular merge feature, if it's required then we might need to include the equivalent JJBB for the below screenshot

![image.png](https://zube.io/files/elastic/23143c0c905ed62318ee162c14c0dd81-image.png)

[configuration view](https://beats-ci.elastic.co/job/elastic+beats+pull-request+multijob-linux/configure)

[2020-01-14 14:26] fearful-symmetry commented on #13744
@unixsurfer these changes have been merged and should be in 7.6. I'm gonna close this, if there's any related changes can we open it in another issue?

[2020-01-14 14:26] #13744 closed

[2020-01-14 14:29] unixsurfer commented on #13744
@fearful-symmetry Thanks a lot for work on this. It is very much appreciated.

[2020-01-14 14:30] fearful-symmetry commented on #12210
Addressed in  #15196

[2020-01-14 14:30] #12210 closed

[2020-01-14 14:46] ph commented on #15129
Okay, we have to support logging into the ECS format for the first release, I think the main problem is we do not use the ECS log library as intended. I am going to take a look at that.

[2020-01-14 15:03] webmat commented on #15129
Hey @ph, with the new [ECS logging](https://github.com/elastic/ecs-logging) initiative, all of the logging libraries are being created in separate repos. The Go ECS library should be moved outside of the ECS repo as well, ideally.

Do you think it's something you could help with, in this process?

[2020-01-14 15:10] ph commented on #15129
@webmat The problem is the POC that @urso created might not directly aligned with the goal of the ECS logging initiative, I will check what I can do to help.

[2020-01-14 15:51] elasticmachine commented on #15532
Pinging @elastic/siem (Team:SIEM)

[2020-01-14 16:46] andrewvc commented on #15521
Yes, it is expected, IPs are really the only way we can correlate. Is there any opposition to changing this default?

[2020-01-14 17:34] blakerouse commented on #15521
Wouldn't hostname be a better correlation as IP addresses can move around with VIP's and DHCP leases?

[2020-01-14 17:38] DanRoscigno commented on #15521
yes, I think that in the future that would be a good idea.  I would be glad to open an issue for that for a future change.  I would still like this fixed soon as the integrations are broken.

[2020-01-14 17:42] kvch commented on #14362
Minor improvements from #13598:
- [ ] remove `VendorBeats` target if go modules support is introduced to beats
- [ ] add a `go.mod` file to functions
- [ ] check if a file is empty before adding it to the zip: https://github.com/elastic/beats/pull/13598#discussion_r365970562

[2020-01-14 17:55] ph opened #15544 "[Libbeat] ECS Logging"
### Motivation

We want to move to [ECS log](https://github.com/elastic/ecs) format and get benefits of a uniform logging schema on all the products. This allows us to develop ECS aware visualization of behavior like correlating metrics or events between products. The change in format is a breaking change and we should target it for 8.0.

### History of logging in beats

Initially, beats were usin

[2020-01-14 17:55] elasticmachine commented on #15544
Pinging @elastic/ingest (Project:fleet)

[2020-01-14 18:02] ph commented on #15544
For me, its the matter of effort we want to put upfront and the benefits we can get:

**Option 1:** is indeed a simple formatter but offer less control to the author, with the growing addition of modules and the move to the agent this doesn't give us a lot of finer control on what is send to Fleet.  Is that OK? Maybe yes maybe no.

**Option 2:** This indeed gives us more work in the code we have t

[2020-01-14 18:05] ph commented on #15544
Note, I might be a bit biased, @michalpristas and myself did play with parts of the ECSlogs framework, we did sadly not use it to the full potential because we wanted to go back to what libbeat was using. We did find a few issues which are now fixed.

[2020-01-14 18:09] andrewvc commented on #15521
Maybe? I mean it depends on the setup. I think what we need here is to broaden the scope a bit and think about how we want this integration to work. Is automatic guessing of fields even the right approach?

@drewpost would appreciate your input here.

[2020-01-14 18:10] adriansr commented on #15423
I think this could be caused by one of the bugs fixed in https://github.com/elastic/beats/pull/15351

The fix will be available in 7.5.2 soon.

Did the problem happen again soon after restarting the Filebeat? That would be useful. I can share a snapshot version of 7.5.2 with the fix so you can test

[2020-01-14 18:24] ph commented on #15129
removing myself until #15544 is resolved.

[2020-01-14 18:48] ph opened #15546 "[Agent] Regression when starting process"
When the agent receives a configuration, the agent starts the process and then hang. There following is the last statement in the Agent log:

[code]

Nothing in the log metricbeat logs show any problems while starting:

[code]

[2020-01-14 18:48] elasticmachine commented on #15546
Pinging @elastic/ingest (Project:fleet)

[2020-01-14 18:50] ph opened #15547 "[Agent] Gracefully shutdown process"
The process are not cleanly exitted when using `ctlr-c` and they keep a lock on the data directory causing the next start to fails.

[2020-01-14 18:50] elasticmachine commented on #15547
Pinging @elastic/ingest (Project:fleet)

[2020-01-14 18:53] ph commented on #15546
**Note:** Metricbeat or Filebeat can cause this issue, this is not specific to a single process.

[2020-01-14 18:54] DanRoscigno commented on #15521
@andrewvc, that is exactly the right question.

In my experience, ops wants to "see everything for my service".  So, not the logs for a particular host, but all of the logs for a particular service.  Going back to the reason i opened the issue: I was looking at uptime for a service.  From there I launched into Logs.  The way the integration is written today, the filter is for all of the logs from

[2020-01-14 19:00] LucaWintergerst opened #15549 "DiskIo Metricset: Failed to encode event: unsupported float value: NaN"
- Version: metricbeat-7.5.1
- Operating System: Kubernetes, GKE, Elastic Docker container

if the diskio metricset is enabled, the following ERROR shows in the logs a few seconds after startup. It persists during the runtime and often increases its frequency
`2020-01-14T18:32:53.571Z	ERROR	elasticsearch/client.go:404	Failed to encode event: unsupported float value: NaN
`
Full logfile: [metricbeat.

[2020-01-14 19:09] ph commented on #15546
@michalpristas I am going to delegate it to you, I believe its related to the change in the retry mechanism.

[2020-01-14 19:09] ph commented on #15507
I am going to take this.

[2020-01-14 19:21] fearful-symmetry commented on #15549
So, @LucaWintergerst when you can, we'll need logs with _just_ the diskio metricset enabled.

Also, those k8s errors are suspicious, and I wonder if it's something there? Could be unrelated.

[2020-01-14 19:32] kaiyan-sheng commented on #15502
Thank you for all the details and the log file. Seems like after the `read: connection reset by peer` error been triggered from `reader.ReadString` function, then `processorKeepAlive` found it's taking too long to run `processMessage`, which is longer than half of the set visibilityTimeout. So `changeVisibilityTimeout` function keep getting called repeatedly.

[2020-01-14 19:48] adriansr commented on #15420
Thanks for reporting. It'll be fixed in 7.5.2

[2020-01-14 20:00] adriansr commented on #15532
Can you provide a pcap for the traffic arriving at port 2055?

[2020-01-14 20:18] #14212 closed

[2020-01-14 20:22] willemdh commented on #149
Wondering if MSSQL support will ever be supported in Packetbeat? It would really add huge value to Packetbeat imho..

[2020-01-14 20:38] andrewkroh commented on #15513
I think we need to change the behavior of the convert processor to handle only hex and decimal. Leading zeros should be treated as decimal and not octal. This is consistent with the ingest node convert processor. https://github.com/elastic/elasticsearch/blob/34d006f82a3061f56c76266be2971a7db3bde4c6/modules/ingest-common/src/test/java/org/elasticsearch/ingest/common/ConvertProcessorTests.java#L62-L

[2020-01-14 20:40] nerddelphi opened #15556 "Kubernetes: fix statefulset watcher typo"
Hi.

Opening a new issue related to this one [13905](https://github.com/elastic/beats/pull/13905), once it didn't fix.

[2020-01-14 21:05] ycombinator commented on #15512
I can confirm that this is indeed a bug. I'm able to reproduce it on `master` with the following minimal steps:

1. Build `packetbeat`.

[code]

2. Try to export the index pattern.
[code]

[2020-01-14 21:09] ycombinator commented on #15512
Looking at the Packetbeat commit history for the past few days, I wonder if this bug was introduced by either https://github.com/elastic/beats/pull/14844 or https://github.com/elastic/beats/pull/15497. @adriansr WDYT?

[2020-01-14 21:10] ph commented on #15507
I think we might want to have some kind of defensive code here, lets say that we receive a configuration from fleet we did ack but we crash before persisting to disk with the current ACK strategy the agent will never receive the configuration. We will need some kind of way to communicate that "orphan" state back to fleet. I wonder if we should report periodically the config id (or hash) that we cu

[2020-01-14 21:13] ycombinator commented on #15512
Yes, doing a git bisect, it looks like the bug was introduced in https://github.com/elastic/beats/pull/14844.

[2020-01-14 21:37] Aqualie commented on #15423
Yes it was fixed after restarting. That'd be great.

[2020-01-14 21:52] adriansr commented on #15512
It looks like this was broken during the period of time between #14844 and #15497 was merged, which makes sense, because the first adds a new `tls.version` and the second removes the old field from packetbeat.

It shouldn't happen anymore since #15497 was merged, and indeed it doesn't fail for me. @ycombinator can you confirm with an updated master branch?

I will add a system-tests that invokes `

[2020-01-14 22:17] kaiyan-sheng commented on #15502
After more investigation: this error seems to show up when there is high concurrency downloads going on from S3 bucket or with large size of files from S3 or with small network bandwidth. Adding a timeout when calling GetObject API will help and I will work on a PR to fix this.

[2020-01-14 23:43] #15420 closed

[2020-01-14 23:48] ycombinator commented on #15512
Yes, pulled down `master` again and built Packetbeat. I can **no longer** cause this bug. Thanks @adriansr!

[2020-01-14 23:48] #15512 closed

[2020-01-15 00:19] ycombinator commented on #15375
I can indeed reproduce this bug locally with Filebeat 7.5.0. However, when I try to reproduce it with a Filebeat (`x-pack/filebeat`) built from the latest `master`, I'm unable to.

Performing a git bisect, it appears that this bug has recently been fixed by https://github.com/elastic/beats/pull/15453. The bugfix is targetted for release in v7.6.0 and v7.5.2.

[2020-01-15 01:31] liza-mae commented on #15512
Thanks @ycombinator @adriansr -- so next master snapshot should pass for me too.  Also please note this fix needs to be backported to 7.x.

[2020-01-15 01:58] #10099 closed

[2020-01-15 02:58] chenyahui opened #15563 "[Filebeat] close_inactive_flush setting item"
**Describe the enhancement:**
A setting item named `close_inactive_flush`.

if `close_inactive_flush` is true, flush the file inbuffer to spool when the `close_inactive` is triggered, even if the buffer isn't end with line terminator.

if `close_inactive_flush` is false, do nothing when the `close_inactive` is triggered, just like now.

**Describe a specific use case for the enhancement or feature

[2020-01-15 08:00] ruflin commented on #15507
@ferullo Pinging you on this one here as we discussed this also in the context of the endpoint that it will also need it.

[2020-01-15 08:04] LucaWintergerst commented on #15549
With diskio disabled, I got 2 NaN Errors in 30 minutes across 9 metricbeat pods. However, these errors now have additional output:
[code]
All other errors are gone as well now, which is surprising. (take this with a grain of salt, may just be luck)

With diskio enabled, I got hundreds within a few minutes on even a single pod, but without the explanation.

Running a single pod with only diskio ena

[2020-01-15 09:15] #15513 closed

[2020-01-15 09:58] fherbin opened #15569 "don't run autodiscovery and static module conf at the same time"
**Describe the enhancement:**
When configuring the autodiscovey, the module should not be started with the static configuration.
or else, it should be possible to choose the expected behaviour
**Describe a specific use case for the enhancement or feature:**
I have a host machine with multiple containerized nginx servers.
I don't have nginx on the host.
Here is the configuration of the autodiscover

[2020-01-15 10:22] andresrc commented on #3608
Closing for now. Please reopen if the issue is not solved.

[2020-01-15 10:22] #3608 closed

[2020-01-15 10:47] exekias commented on #15521
Not really, but if we want links to work using this info I think we should be more opinionated and *always* send it. The proposed change only enables it through config defaults, for new installations. Short term fix would be either enabling this in the code defaults or using the hostname in the Heartbeat side.

[2020-01-15 11:00] ioandr commented on #15505
Hi folks,

this issue seems very interesting and I would like to contribute some dev cycles on this. For a start, I could take on some of the proposed metricsets, e.g., the Pilot metrics.

@ChrsMark WDYT?

[2020-01-15 11:31] exekias commented on #8847
I want to get this effort back to live. We should think about the security implications of allowing Metricbeat reading arbitrary secrets.

pinging @odacremolbap @ChrsMark any thoughts on how this could work?

[2020-01-15 12:15] ruflin commented on #14914
What is the status of this?

[2020-01-15 12:27] ChrsMark commented on #15505
This is great @ioandr, feel free to work on this!

[2020-01-15 12:29] ruflin commented on #14953
@ph Where are we standing here?

[2020-01-15 13:06] ph commented on #15507
@ruflin @ferullo what is the link between the two endpoint / agent?

[2020-01-15 13:09] ph commented on #14914
I think we can close it, we are still keeping the external processes to monitor the agent.

[2020-01-15 13:09] #14914 closed

[2020-01-15 13:48] DanRoscigno commented on #15521
I would do these ~three~ four things:
 - change the default in the Beat configs to fix for new users
 - update the docs to fix for existing users (probably in the Beats docs, and the Kibana docs)
 - discuss this in the monthly Best practices for ingest webinar ([already added to slides](https://docs.google.com/presentation/d/1Ccg6aLCwsKAQIp6h27vQmqX-CwB5xPIC-mKYavcVfO8/edit#slide=id.g5e8e0debf0_0_

[2020-01-15 14:06] ChrsMark commented on #8847
Hey @exekias this sounds interesting!

Thinking about this quickly I guess that it depends. A known limitation about secrets is that everyone with access to a specific `namespace` can create a Pod to "exploit" this secret by mounting this secret. My point here is that "if a I have permission to launch Metricbeat in a spesific namespace this means that I already have access to all secrets of this s

[2020-01-15 14:10] ph commented on #15339
@kevinlog Could you also add metadata that you need from the host?

[2020-01-15 14:21] kevinlog commented on #15339
@ph we're tracking the information we'll get from the Endpoint in this issue: https://github.com/elastic/endpoint-app-team/issues/103

We'll have the Endpoint send us separate stream of data to another index for our app.  There will be some data duplication for sure, but I just want to make sure you get what you need on the Fleet side.

FYI @james-elastic @ferullo

[2020-01-15 15:17] ph commented on #15474
Added names next to the items.

[2020-01-15 15:27] igorwwwwwwwwwwwwwwwwwwww opened #15579 "ES version detection for optype breaks during upgrade to ES 7.5"
We (@gitlab) ran into some issues while trying to index into a cluster that is in the process of being upgraded to ES 7.5. Some nodes are running ES v7.4.1, while some are already on v7.5.1.

This occurred with a version of [pubsubbeat](https://github.com/GoogleCloudPlatform/pubsubbeat) based on libbeat `7.5.1` -- but since it's an issue with libbeat, it most likely affects all beats.

The error w

[2020-01-15 16:58] ycombinator commented on #15579
How about upgrading the ES cluster from 7.4.x to 7.5.x completely, then the Beats from 7.4.x to 7.5.x?

[2020-01-15 17:03] ycombinator commented on #15579
Looks like this change was introduced in Beats v7.5.0: https://github.com/elastic/beats/pull/13936. So how about upgrading the entire ES cluster to 7.5.x first, then upgrading the Beats to 7.5.x? During the cluster upgrade the Beats will still be running < v7.5.0, which should use the `create` optype.

[2020-01-15 17:22] ferullo commented on #15507
I have expected that Endpoint would save its last good policy in the clear as a user-viewable YAML file, at least to start, as it seems this discussion is concluding Agent will do for itself.

I think it will be simpler if Endpoint is responsible for saving its config on its own rather than have Agent save it.
1. Endpoint will download some artifacts out of band (e.g. malware data science models)

[2020-01-15 17:33] liza-mae opened #15588 "Error starting packetbeat illegal argument exception"
- Version: Latest 7.x snapshot
- Operating System:
- Discuss Forum URL:
- Steps to Reproduce:
Starting packetbeat I am getting this error:

2020-01-15T17:25:47.954Z	ERROR	pipeline/output.go:100	Failed to connect to backoff(elasticsearch(https://10.0.2.15:9200)): Connection marked as failed because the onConnect callback failed: error loading template:
could not load template. Elasticsearch returne

[2020-01-15 17:34] liza-mae commented on #15588
cc: @adriansr

[2020-01-15 17:35] liza-mae commented on #15588
After talking with Adrian does not appear to be related to issue opened earlier for #15512

[2020-01-15 17:41] urso commented on #15544
Well, I'm biased on option 2, but it definitely needs some more testing. It also adds serilog like format strings.

About file rotation: We might consider to use stdout/stderr more by default. On linux it is kind of the standard (systemd and containers prefer this). Well, not sure windows event log would be good target or if we should continue to prefer file rotation.

The rotation in ecslog alway

[2020-01-15 17:46] elasticmachine commented on #15588
Pinging @elastic/siem (Team:SIEM)

[2020-01-15 17:57] ph commented on #15507
@ferullo If this is okay with you I think we could something like this, when the Agent receives config and successfully applied it. We persist it to disk, when Agent is started, it will read the configuration and send the configuration to Endpoint.

Endpoint is free to keep a local cached version of the configuration, when it receive the configuration from Agent you can assert it's the same an jus

[2020-01-15 18:39] dedemorton opened #15592 "Add asciidoc skeleton files for the Elastic logging plugin"
Create the file structure for the documentation to reuse (when possible) existing content from libbeat.

Adds asciidoc files for https://github.com/elastic/beats/pull/15085

[2020-01-15 18:43] dedemorton opened #15593 "Cleanup refactored processor docs"
- [x] Add abbreviated titles to organize processors alphabetically

- [x] ~Update conditional coding to  in output docs to use opt-out rather than opt-in and clean up include statements across books to be consistent.~ I've moved this work to https://github.com/elastic/beats/issues/16536 because I didn't want to touch all the processor and output docs in one PR.

[2020-01-15 18:44] dedemorton opened #15594 "Contribute to STIG hardening documentation"
STIG stands for Security Technical Implementation Guides.

Details of what is required for STIG hardening documentation. It's expected that creating this guide will be a group effort, but I don't have clear details about what is required for Beats.

From @debadair.

---
Here are a few links for more context and detail about the required structure for formal STIG documentation. While we have more f

[2020-01-15 18:44] dedemorton opened #15595 "7.6.0 Observability Documentation"
- [x] Add first draft of Elastic Log Driver docs. PR https://github.com/elastic/beats/pull/15799
- [x] Add docs about google cloud platform support. See https://github.com/elastic/beats/pull/13598.
- [x] Document new setting that allows inputs and modules to set a target index. [beats roadmap item] See https://github.com/elastic/beats/issues/13255 and https://github.com/elastic/beats/pull/14010. [

[2020-01-15 18:48] dedemorton opened #15596 "Plan documentation for Fleet, Beats agent, and Integrations"
- [x] Research
  - [x] Identify location of relevant planning docs.
  - [x] Meet with SMEs to develop list of doc deliverables.
- [x] Create outline for deliverables. Doc plan (WIP) is here: https://docs.google.com/document/d/1KCq8tRvRoBWigfrcpjIFsnwE-aDIe6_eKupY2SIX1KI/edit?ts=5db1fc8a#
- [ ] Work with Brandon to decide who owns what.
- [ ] Set target dates for completing doc work.

[2020-01-15 19:11] daftster commented on #13963
Hi,

Have been encountering the same issue.  The deployment works if the configuration for the dead letter queue (dlq) is removed.  Looks like the role policy generated does not include the policy for the lambda to sendMessage to DLQ.

[2020-01-15 20:00] andrewvc commented on #15521
I really am skeptical of using hostnames extensively. For that to work the hostname of the box would have to align with the URL being monitored. That's a big maybe.

I agree with adding the netinfo stuff by default, that's a clear win (unless there's a reason not to do it), but past that I really think we need to talk about correlation at more of a service level.

Pinging @roncohen , would love hi

[2020-01-15 20:13] devon-kim commented on #14629
![screenshot](https://user-images.githubusercontent.com/56362295/72467445-e6891b80-37a8-11ea-9dfd-8f2082794046.png)

So I have this screenshot and have exported the JS to generate it from Kibana and left it up as a gist since I'm not quite sure where the dashboard should go https://gist.github.com/devon-kim/9f0514616b0869e31e721d11ca997db4

[2020-01-15 21:44] ChrsMark commented on #14629
Thanks @devon-kim! https://github.com/elastic/beats/pull/14026 can be used as an example of how the dashboard should be added. Could you give it a try?

[2020-01-15 22:40] tbragin commented on #15521
@cyrille-leclerc FYI - a discussion on cross-linking.

@andrewvc I agree with the tactical answer, but the bigger-picture item may need broader discussion in which I'd like to involve @drewpost and @cyrille-leclerc. Happy to take it offline and update the issue later.

[2020-01-15 22:53] faec opened #15602 "[Meta] Filebeat mqtt input"
This is a tracking issue for the in-progress MQTT input .

Pending requirements:
- [x] Initial draft checkin (#15287)
- [x] Reconnection after errors (#15982)
- [x] Clean shutdown / reliable `Stop` and `Wait` (#15982)
- [ ] Ack handling (#15610)
  * (Need more background here, it's not clear to me yet if / how we need to handle this)
- [x] Documentation (for all new config fields and emitted event

[2020-01-15 23:29] nanjum88 opened #15603 "[Filebeat] PANW Module - SYSTEM and CONFIG logs"
Currently, PANW module is only able to parse and forward THREAT and TRAFFIC pattern logs, other log types - SYSTEM and CONFIG are discarded. For them to be visible , user needs to run another instance of FileBeat, whitelist the events, develop patterns in Logstash for the logs and then send them to elastic search.

    SYSTEM Logs
    CONFIG Logs

We'll also need to map the fields in these logs to

[2020-01-15 23:34] #15588 closed

[2020-01-16 02:01] dedemorton commented on #15040
@DanRoscigno I followed the documented instructions using Metricbeat 7.5.1, but was unable to reproduce this issue. Did you run the setup (with the privileges described for the setup role) before attempting to publish events?

I think the docs are potentially confusing where they say, "To minimize the privileges required by the writer role, you can use the setup role to pre-load dependencies." The

[2020-01-16 02:01] #15040 closed

[2020-01-16 04:01] DanRoscigno commented on #12093
WIP:
Create secret:
[code]

Here is the manifest that uses the above secret:

[heartbeat-k8s.yaml.txt](https://github.com/elastic/beats/files/4069259/heartbeat-k8s.yaml.txt)

[2020-01-16 04:42] dedemorton commented on #15040
Incidentally here is the role and user that worked for me:

[code]

[code]

[2020-01-16 06:07] mtojek commented on #15602
I will take a look at ACK handling.

[2020-01-16 07:21] dedemorton commented on #15341
@DanRoscigno I did a quick test in 7.5.1 (default configuration) with `setup.ilm.check_exists: false` and the documented privileges worked for me. I was able to write events to the heartbeat index.

[2020-01-16 08:00] simitt opened #15605 "Remove experimental from append_fields"
Remove [experimental flag](https://github.com/elastic/beats/blob/master/libbeat/template/template.go#L148) from `append_fields`, as this feature is often recommended to users to customize their templates.

Removing experimental note has been discussed with @urso some time ago.

[2020-01-16 08:08] w33ha-zxc commented on #15532
Uploaded it on packettotal. [PT](https://packettotal.com/app/analysis?id=f61b3f0bf179a91a83b52a229da9f7ef&name=conn)

[2020-01-16 09:43] michalpristas commented on #15474
trying to reproduce unassigned data source with local config changes
periodic watcher over agent.yml - beats are correctly stopped on darwin and ubuntu
i need to verify with kibana

[2020-01-16 10:18] exekias commented on #8847
That's fair, still that would mean Metricbeat can only monitor containers in the same namespace (at least if secrets are needed). When we deploy Metricbeat as a DaemonSet it's minded to allow users to monitor the whole cluster, including workloads in all namespaces.

Also, by allowing hints based autodiscover, we are allowing **any** user in the cluster to define how to monitor their workloads. Ca

[2020-01-16 10:43] adriansr commented on #15532
Unfortunately this is not Netflow, but sFlow (v5), which is a completely different protocol that we don't support yet.

I see some confusion between the two protocols and some posts on the internet related to Fortinet devices seem to use the term Netflow when in fact they refer to sFlow.

Some devices support both, so you might still be able to configure Netflow in your device:

https://www.plixer

[2020-01-16 10:43] #15532 closed

[2020-01-16 10:52] tvatin opened #15609 "[Metricbeat] IBMMQ module : no data in Kibana"
Hi,

I would like to get ibm mq metrics in my Kibana based on metricbeat data.

Here is my metricbeat.yml :

My ibmmq.yml located in metricbeat/modules.d/ :

My docker-compose.yml :

In this configuration, I have 8 containers :
- ibm mq
- kibana
- logstash
- elasticsearch
- grafana
- prometheus
- filebeat
- metricbeat

I'm able to get AMQERR*.json files in my Kibana through filebeat, but the ibm m

[2020-01-16 11:05] igorwwwwwwwwwwwwwwwwwwww commented on #15579
Fair point, that would probably work. :) If that's the supported upgrade path, I'm happy to close this.

[2020-01-16 11:24] sgreszcz commented on #15424
Something is still not healthy with ILM despite the naming being OK and the policies existing.  I've got a red filebeat-7.5.1-2020.01.13-000005 index:

<img width="1163" alt="Screenshot 2020-01-16 at 11 22 26" src="https://user-images.githubusercontent.com/22910494/72521048-9f576500-3852-11ea-8c84-3270caf2a846.png">

[2020-01-16 12:52] mtojek opened #15610 "[Filebeat] MQTT input: Implement end-to-end ACK"
Currently, the library `paho.mqtt.golang ` provides a default ACK function, that sends ACK packets without checking if the handler method has succeeded or failed.

The goal of this task is to modify implementation to send ACK packets if only the event is successfully delivered to elasticsearch.

Meta issue: https://github.com/elastic/beats/issues/15602

[2020-01-16 14:21] ph commented on #15474
@michalpristas maybe we could add more logging on the data received from the API, I was on the fence about that because it's an easy way to leak unwanted information like credentials.

[2020-01-16 14:25] michalpristas commented on #15474
maybe we can filter out data or provide just a summary, something like `received 3 streams...`

[2020-01-16 14:27] ph commented on #15474
Maybe numbers of outputs and the hash of the configuration? If we see multiple time the same hash we know that we receive the same config.

[2020-01-16 15:16] kaiyan-sheng opened #15613 "[Metricbeat] Googlecloud Module: Error trying to get data from instance"
Error message showed up when testing googlecloud metricbeat module:
[code]

The config I used is:
[code]

[2020-01-16 15:51] elasticmachine commented on #15603
Pinging @elastic/siem (Team:SIEM)

[2020-01-16 16:03] #15546 closed

[2020-01-16 16:04] ph commented on #14953
@ferullo Is this a requirement from endpoint or existing endgame users?

[2020-01-16 16:06] michalpristas opened #15615 "[Agent] When datasources are unassigned the beats are not stopped"
When datasources are unassigned the beats are not stopped?

Check whether it is bad config or bad operator behavior

[2020-01-16 16:06] elasticmachine commented on #15615
Pinging @elastic/ingest (Project:fleet)

[2020-01-16 17:59] shawnz commented on #13255
It seems like the raw_index metadata field currently only gets set if the index name is overridden by the input/module. But if it's not, raw_index is unset. Is it possible to set a default value, or at least have a hardcoded default like the usual "filebeat-%{[agent.version]}-%{+yyyy.MM.dd}"? This would greatly simplify my Logstash configuration. I thought the "output.logstash.index" property migh

[2020-01-16 18:24] willemdh commented on #15603
And userid..

[2020-01-16 20:10] andresrc opened #15618 "Collect normalised cpu metrics by default in Metricbeat"
**Describe the enhancement:**

The ask is for the normalised cpu usage metric to be shipped by default.

`system.cpu.user.pct` is collected by Metricbeat by default but `system.cpu.user.norm.pct` isn't.

**Describe a specific use case for the enhancement or feature:**

The normalised percentage takes into account the number of cores to get to a normalised value that will allow you to compare hosts

[2020-01-16 20:19] andresrc opened #15619 "Evaluate options for Kerberos auth"
We have outstanding requests (#5413, #7404) to add Kerberos support for the communication with both Elasticsearch and Kafka.

The goal of this issue is to evaluate the currently available options and define an action plan.

Some considerations:
* The client library that we are using for Kafka seems to have added [some support](https://github.com/elastic/beats/issues/15618)
* The preference would b

[2020-01-16 20:52] james-elastic commented on #15339
We're setting up the indices of where data will go here: https://github.com/elastic/endpoint-app-team/issues/102  that'll get converted into a package for the reigstiry.

[2020-01-16 21:08] kevinlog commented on #15339
thanks for the addition @james-elastic , much better mapped out there

[2020-01-16 21:34] collinbachi commented on #14262
I ran into this today, while trying to figure out why one of my fields wasn't queryable.

Eventually I resolved it by removing several hundred fields I wasn't using from the filebeat index template, then updating `default_field` to `*`.

I was initially surprised to see the 1024 limit come into play, since I was using ~50 fields from filebeat, and allowing ~100 or so of my own to be dynamically in

[2020-01-16 21:35] ferullo commented on #14953
This is a potential new requirement coming to us that would a requirement for existing endgame users and endpont.

[2020-01-16 21:42] ferullo commented on #15507
@ph I think that would work. Am I right that in that model from Endpoint's point of view the config Agent is persisting and sending on startup would appear to Endpoint to just be a new configuration request akin to a user changing the Policy in Kibana?

CC @brian-mckinney for visibility.

[2020-01-16 23:06] mitchellmaler commented on #14997
I have finally had a chance to get back to this. I have re-deployed beats 7.5.1 to one of our clusters which is then pointed to ECE. This is a bit different than before where I was running KIND locally to test. This time it is unable to autodiscover all control plane pods except for the automatic api server one.

[code]

I think we are going to log a ticket since we have support with our ECE deplo

[2020-01-17 01:01] bitva77 commented on #13850
7.5.1 here and I'm seeing this issue as well in the Metricbeat Deployment pod

[code]

We're running Kubernetes 1.15.2

[2020-01-17 09:50] exekias commented on #15434
related to https://github.com/elastic/beats/issues/14708

[2020-01-17 10:05] exekias commented on #7423
@urso is this one still relevant?

[2020-01-17 10:06] elasticmachine commented on #7760
Pinging @elastic/siem (Team:SIEM)

[2020-01-17 10:06] andresrc commented on #8199
@elastic/siem

[2020-01-17 10:07] kvch commented on #5073
This issue is for an old version of beats, I suggest to try out the latest version of beats. If this is still a problem in the newly released version feel free to reopen this issue. Thanks.

[2020-01-17 10:07] #5073 closed

[2020-01-17 10:08] elasticmachine commented on #11555
Pinging @elastic/siem (Team:SIEM)

[2020-01-17 10:10] exekias commented on #820
Closing as this is already done

[2020-01-17 10:10] #820 closed

[2020-01-17 10:10] andresrc commented on #9983
Closing for now. Please reopen or open a discuss topic if a follow up is needed. Thanks!

[2020-01-17 10:10] #9983 closed

[2020-01-17 10:11] elasticmachine commented on #7191
Pinging @elastic/siem (Team:SIEM)

[2020-01-17 10:11] exekias commented on #2866
Closing, as we now have official docker images in Dockerhub: https://hub.docker.com/publishers/elastic

[2020-01-17 10:11] #2866 closed

[2020-01-17 10:11] urso commented on #11995
@exekias @andrewkroh Is this issue resolved by now, or would it be a breaking change and we should postpone this to 8.0?

[2020-01-17 10:14] sayden commented on #9416
Let's close this issue. It's older so it'll be less relevant. I think to better leave the Helper for a moment in future where we see a short-term need for it.

[2020-01-17 10:14] #9416 closed

[2020-01-17 10:14] exekias commented on #5047
This has been superseded by @jsoriano recent PRs

[2020-01-17 10:14] #5047 closed

[2020-01-17 10:14] sayden commented on #9222
This has been done somewhere else. Closing

[2020-01-17 10:14] #9222 closed

[2020-01-17 10:16] michalpristas commented on #10975
@ph closing this, i think we don't need it anymore?

[2020-01-17 10:16] jsoriano commented on #5074
I agree that we could rename the dashboard to indicate that it is about cgroups.

This has been added in the upcoming Metricbeat 7.6.0: https://www.elastic.co/guide/en/beats/metricbeat/7.6/metricbeat-metricset-system-service.html

[2020-01-17 10:16] #10975 closed

[2020-01-17 10:16] magicbuffer commented on #6381
I am also affected by this. Very same scenario as @arcenik.

Any ideas on possible workarounds? Maybe using some processors on both beats ends?

[2020-01-17 10:17] michalpristas commented on #11626
Closing this with fleet in mind this flow is outdated

[2020-01-17 10:17] #11626 closed

[2020-01-17 10:18] urso commented on #12061
I'm closing this issue, because it was not updated for a long time. For general questions like this please use the community forums at http://discuss.elastic.co. Your question will reach a wider audience on the forums, as developers and users do participate in them.

[2020-01-17 10:18] #12061 closed

[2020-01-17 10:19] elasticmachine commented on #8042
Pinging @elastic/siem (Team:SIEM)

[2020-01-17 10:21] jsoriano commented on #9346
In https://github.com/elastic/beats/pull/13168 we added checks for dashboards. This check would have to look for dashboards out of these directories, but could be related.

[2020-01-17 10:21] elasticmachine commented on #11825
Pinging @elastic/siem (Team:SIEM)

[2020-01-17 10:22] elasticmachine commented on #10111
Pinging @elastic/siem (Team:SIEM)

[2020-01-17 10:24] kvch commented on #11350
Removed in #10795 and deprecated in #14532 (v7.6)

[2020-01-17 10:24] #11350 closed

[2020-01-17 10:25] exekias commented on #13192
This should have been fixed with 7.5, as this is now handled by the kubernetes client

[2020-01-17 10:25] #13192 closed

[2020-01-17 10:26] exekias commented on #11917
This should be handled by the client-go we use now

[2020-01-17 10:26] #11917 closed

[2020-01-17 10:26] michalpristas commented on #11464
Closing fixed here: #12165

[2020-01-17 10:26] #11464 closed

[2020-01-17 10:27] jsoriano commented on #10435
@andrewkroh did you have the chance to check if the missing metrics were there?

[2020-01-17 10:28] andresrc commented on #12012
Closed as fixed in 6.7.x

[2020-01-17 10:28] #12012 closed

[2020-01-17 10:28] kvch commented on #11902
Github Issues are reserved for verified bugs. Please post your question on Discuss: https://discuss.elastic.co/c/beats

[2020-01-17 10:28] #11902 closed

[2020-01-17 10:29] elasticmachine commented on #11568
Pinging @elastic/siem (Team:SIEM)

[2020-01-17 10:32] elasticmachine commented on #12423
Pinging @elastic/siem (Team:SIEM)

[2020-01-17 10:33] elasticmachine commented on #12445
Pinging @elastic/siem (Team:SIEM)

[2020-01-17 10:33] urso commented on #12871
The template is setup globally before the Beat starts collecting events. The field referenced is not available globally, but is added to an event to be published. The `index` setting indeed has access to events, but the `setup.template` setting does not. Beats do not managed templates per index.

[2020-01-17 10:33] #12871 closed

[2020-01-17 10:34] jsoriano commented on #10552
@Alsheh I see you opened an issue for the specific request of having an endpoint to add configurations (#10595). As the log message seems to be fine, as the file doesn't exist, I am going to close this issue. Please reopen if you think that something is still not covered by the other issue.
Thanks!

[2020-01-17 10:34] #10552 closed

[2020-01-17 10:37] andresrc commented on #12531
Closing, please reopen if a follow up is needed.

[2020-01-17 10:37] #12531 closed

[2020-01-17 10:37] urso commented on #11933
Looks like the issue has been resolved. Thank you for sharing how you fixed it.

[2020-01-17 10:37] #11933 closed

[2020-01-17 10:39] michalpristas commented on #11732
@jsoriano  was this fixed by any generic approach or just for prometheus in #12084

[2020-01-17 10:39] andresrc commented on #12807
Closed for now. Please reopen if a follow up is needed.

[2020-01-17 10:41] kvch commented on #13276
This issue is for an old version of beats, I suggest to try out the latest version of beats. If this is still a problem in the newly released version feel free to reopen this issue. Thanks.

[2020-01-17 10:41] urso commented on #11869
The Beats framework does not support to run instantiate multiple beats at the same time. There might be other unknown issues due to global state you might run into due to this.

[2020-01-17 10:43] elasticmachine commented on #13169
Pinging @elastic/siem (Team:SIEM)

[2020-01-17 10:43] michalpristas commented on #12558
Hey @augustomarinho was suggested mitigation successful ?

[2020-01-17 10:48] jsoriano commented on #10901
@cwurm how did you reproduce these duplicated entries? I have tried in two different machines and I couldn't see duplications.

[2020-01-17 10:56] FedeBev commented on #7058
Hi there, could you confirm that `state_deamonset` or something similar to replicaset state is not supported yet?
Did I get it right?
Thanks

[2020-01-17 11:27] jsoriano commented on #11732
#12084 prevents the prometheus module to generate events with `NaN` values.

The issue reported here is that when some event cannot be encoded, the output sometimes misbehaves, affecting the whole batch and not only the invalid event.

[2020-01-17 11:32] adriansr commented on #10111
I've double checked the suggested changes for `auditd` and all of them have been applied. I think we can close this.

[2020-01-17 11:32] #10111 closed

[2020-01-17 12:08] sayden commented on #10369
Already fixed

[2020-01-17 12:08] #10369 closed

[2020-01-17 12:52] kvch commented on #15595
GCP platform support for Functionbeat is also included: https://github.com/elastic/beats/pull/13598
It would be nice to document required permissions, available functions, etc.

[2020-01-17 13:10] kuisathaverat commented on #13371
I've made a couple of PRs to create a new pipeline multibranch job that will be launched on every branch/tag/PR that contains changes in some files, these are the regular expressions:

* "^devtools/mage.*",
* "^libbeat/scripts/Makefile"

Also, it can be triggered by a comment  `/run apm-beats-update`

[2020-01-17 13:21] ChrsMark commented on #14510
Regression found while testing with BC1:
[code]

The script processor introduced at https://github.com/elastic/beats/pull/14655 was not included in `7.6` branch after https://github.com/elastic/beats/pull/14711 was merged.
We need to backport https://github.com/elastic/beats/pull/14711 to `7.6` so as the module to be functional.

cc: @mtojek @exekias

[2020-01-17 13:39] michalpristas opened #15634 "[Agent] Detect that beat started GRPC server"
At the moment the flow of starting a beat is following

[code]

as there's no synchronization on when beat started GRPC server and agent calling Config
it might happen with low probability that agent calls Config on not fully spin-up server which leads to `connection refused`
Agent then wait 30 seconds to retry with a successful call.

It would be nice to have some sync logic so agent will call Co

[2020-01-17 13:39] elasticmachine commented on #15634
Pinging @elastic/ingest (Project:fleet)

[2020-01-17 13:50] ph commented on #15507
This is correct yes.

[2020-01-17 13:52] ph commented on #14953
@ferullo but at the moment **FIPS compliance is not a requirement**? Because when this **becomes a requirement** this is an effort for the beats framework and we would need some time to assert and implement that.

[2020-01-17 13:53] ph commented on #14953
Just to be clear I want to prioritize the right way since this has a bigger impact and also much bigger effort to get it right.  AKA if we need this we would depend on a specific branch of Go which is not the normal release.

[2020-01-17 14:13] kvch opened #15635 "[Metricbeat] New service metricset is not present in the reference configuration"

[2020-01-17 14:45] kvch opened #15637 "[Metricbeat] New network_summary metricset is not present in the reference configuration"

[2020-01-17 14:47] webmat commented on #15544
The goal of the ECS logging libraries is twofold. As mentioned in Option 1, the MVP is to at least support 10-15 fields that can be populated transparently by a logging formatter. This MVP level lowers the bar to adoption of the ECS logging library in question. You just enable it, and the basics are done for you with very little effort. But there is also a desire to let developers to log any arbit

[2020-01-17 15:02] kvch opened #15638 "Missing monitoring.cloud.id and monitoring.cloud.auth from reference configuration"

[2020-01-17 16:19] DanRoscigno commented on #15040
cool, glad to hear that it is fixed.  I will update my configs.

[2020-01-17 16:25] fearful-symmetry commented on #15549
@LucaWintergerst Sorry for the delay, been distracted the last few days.

okay, I have to ask, is _any_ valid data coming through to elasticsearch? It almost looks like nothing is working, and metricsets that aren't handling invalid metrics properly are getting smoked out.

If there's some other configuration issue at play here preventing you from reading in values, those `Error calculating CPU ti

[2020-01-17 16:50] DanRoscigno commented on #15341
You are correct @dedemorton , the docs are right.  It appears that there is a difference in the behavior when running `beatname setup` between heartbeat and the rest.  Filebeat and Metricbeat do not seem to skip creating an index during setup if the config file has `setup.ilm.check_exists` set to `false`, but Heartbeat does.  When this happens (or doesn't happen!) and Heartbeat is run to publish d

[2020-01-17 17:14] andrewvc opened #15647 "[Heartbeat] Non-UTF8 HTTP Response Bodies Silently Disappear"
We can't do much with non-UTF8 response bodies in terms of outputting them to the console or ES since the go JSON encoder will replace them with empty strings (and ES won't index them anyway).

However we should document this behavior and possible add a new field `http.response.body.encoding` field that shows the encoding of the body.

[2020-01-17 17:14] elasticmachine commented on #15647
Pinging @elastic/uptime (:uptime)

[2020-01-17 17:20] andrewvc commented on #15341
@DanRoscigno interesting, we don't tend to use setup very often because heartbeat no longer provides dashboards or similar. Interestingly our setup command must go through an alternate code path than just running heartbeat directly against ES (which does setup ILM correctly). Will dive in later today.

[2020-01-17 17:28] ferullo commented on #14953
Correct. Endgame did not ship a FIPS compliant product and we have not received a formal requirement to begin shipping one. I will let you know when either of those things happen.

[2020-01-17 17:29] ph commented on #14953
Thanks @ferullo :+1:

[2020-01-17 17:30] #14953 closed

[2020-01-17 17:31] DanRoscigno commented on #15341
Thanks @andrewvc , how do you get the index setup if you do not run setup?  When you do have a look, could you please look into creating the `heartbeat-*` index pattern instead of `UptimeIndexPattern` (or in addition to if you need UptimeIndexPattern)?

I wonder if altering the standard code path to skip the dashboards etc. for Heartbeat would be more future proof?

[2020-01-17 17:33] ph commented on #14750
@urso We don't have any hard requirement on the Agent to be FIPS compliant in libbeat or in any processes managed by the Agent.

[2020-01-17 17:35] urso commented on #14750
ping @elastic/apm-server

[2020-01-17 18:15] urso commented on #10491
Initial attempt to fix this issue in https://github.com/elastic/beats/pull/10599. We did run into issues trying to fix this issue, ultimately creating https://github.com/elastic/beats/issues/11068 as a prerequisite.

[2020-01-17 18:26] blakerouse commented on #9377
Closing as the fix landed in elastic/kibana#37230

[2020-01-17 18:26] #9377 closed

[2020-01-17 18:41] PhaedrusTheGreek commented on #13850
I'm seeing the following in 7.5.1:

[code]

[2020-01-17 18:41] danielaugustyn23 opened #15651 "Google Cloud Module Additional Field Extraction Request"
The current Google Cloud module doesn't extract "insertId" field from the VPC flow logs in GCP. According to GCP documentation, this is a unique identifier for the log entry.

_Optional. A unique identifier for the log entry. If you provide a value, then Logging considers other log entries in the same project, with the same timestamp, and with the same insertId to be duplicates which can be remove

[2020-01-17 18:47] leehinman commented on #745
GeoIP processor can now do IPv4 & IPv6

[2020-01-17 18:47] #745 closed

[2020-01-17 18:53] dedemorton commented on #15341
@andrewvc The Add data tutorial still recommends running the setup command, so perhaps you should change that if you don't expect users to run the command. I like the idea of maintaining consistency with other beats, though, because I think uses will expect the commands to work the same (even if they don't necessarily *need* to run them).

From the add data tutorial:

[code]

[2020-01-17 18:55] leehinman commented on #1364
DEP added

https://github.com/elastic/beats/pull/15149

[2020-01-17 18:55] #1364 closed

[2020-01-17 19:05] DanRoscigno commented on #15341
@andrewvc If you mean running heartbeat without setup first configures ILM properly, I never tried that, but it requires that heartbeat be run with more privs than the beat writer role, right?  I am trying to get people to stop using a superuser to run Beats as it is a huge security issue.

[2020-01-17 19:06] PhaedrusTheGreek commented on #13305
I added metricbeat's elasticsearch monitoring to the ConfigMap (above `system.yml`) i in [metricbeat-kubernetes.yaml](https://github.com/elastic/beats/blob/master/deploy/kubernetes/metricbeat-kubernetes.yaml)

[code]

[2020-01-17 19:19] leehinman opened #15652 "[Filebeat] Cloudtrail auth issues when run under systemd"
When running under systemd the $HOME variable isn't set, because of that the cloudtrail fileset can't find the aws credentials file.

[2020-01-17 19:19] elasticmachine commented on #15652
Pinging @elastic/siem (Team:SIEM)

[2020-01-17 19:19] ycombinator opened #15653 "Follow up: reduce memory usage with MapStr formatting"
In https://github.com/elastic/beats/pull/15616 we implemented masking of sensitive fields in `common.MapStr` objects. This implementation relies on cloning the object so masks may applied to the clone while preserving the original as-is.

Depending on the size of the object being cloned, the cloning could be expensive in terms of memory allocations. Ideally we could replace this implementation wit

[2020-01-17 19:25] andrewvc commented on #15341
Yeah, it does. It's what we tend to do in dev/test, hence why we never
noticed this. It's on my list to tackle :)

On Fri, Jan 17, 2020 at 1:05 PM Dan Roscigno <notifications@github.com>
wrote:

[2020-01-17 19:39] bitva77 commented on #13850
@PhaedrusTheGreek I was getting the same as well.  The following ClusterRole seems to fix it:

[code]

[2020-01-17 20:25] DanRoscigno commented on #15341
If you want help with an automated build of a test env for k8s let me know.

[2020-01-17 22:12] #15638 closed

[2020-01-18 01:34] mwasilew2 opened #15667 "Filebeat doesn't use ADC on GCP instances"
**Describe the enhancement:**

Filebeat is able to use Google's Application Default Credentials on GCP

**Describe a specific use case for the enhancement or feature:**

When running Filebeat on a GCP instance, the beat is able to use the default service account

[2020-01-18 14:03] elasticmachine commented on #15651
Pinging @elastic/siem (Team:SIEM)

[2020-01-18 14:41] andrewkroh commented on #15651
For the vpcflow dataset I think it would be just one change at:

https://github.com/elastic/beats/blob/9ece104ac263772b12068776fc7accfb699433eb/x-pack/filebeat/module/googlecloud/vpcflow/config/pipeline.js#L60

to add `{from: "json.insertId", to: "label.insert_id"},`.

And it would be a very similar change to the audit and firewall datasets.

[2020-01-18 18:43] TheUniquePaulSmith commented on #12024
I too wasted a ton of time on this expecting my files to be logged per config in filebeat.yml. I'm new to systemd

[2020-01-20 00:31] augustomarinho commented on #12558
@michalpristas Unfortunately no. I gave up to continue with autodiscovery feature, but I didn't test this funcionality in newer Filebeat version.
In my case, in production env I used input from files and working well.

[2020-01-20 06:16] Tomccat3 opened #15669 "how to add path name as event field?"
Hey
     I'm new to filebeat, I use filebeat to tail yarn container logs, the directory may like below:

    /data/yarn/application_1278356/container_13414_001/stdout
    /data/yarn/application_1278356/container_13414_001/stderr

   I can set the input config like this:

  type: log
  enable: 'true'
  paths: /data/yarn/*/*/*

 but i want to know which file each event from, can i add file path as a

[2020-01-20 07:41] michalpristas commented on #15615
Closed with #15626

[2020-01-20 07:41] #15615 closed

[2020-01-20 10:07] narph opened #15671 "Move azure-eventhub to GA"
For the azure-eventhub input to go GA, the following criterias should be met:

* [x] Integration tests exist
* [x] System tests exist
* [x] Documentation
* [x] Fields follow [ECS](https://github.com/elastic/ecs) and [naming conventions](https://www.elastic.co/guide/en/beats/devguide/master/event-conventions.html)
* [ ] Implement e2e ACKs
* [ ] Allow for local checkpoints once the new registry is a

[2020-01-20 10:35] michalpristas commented on #15547
@ph i see it is correctly handling SIGINT in a beater and there's a defer Unlock in place.
also i tried to reproduce and lock got cleared. do you by any chance have configured terminal to send SIGKILL on C-c?

[2020-01-20 13:24] urso commented on #7423
Yes, it's still relevant. We might still need to evaulate if the solution in #7392 is good enough, but some ideas in it are definitely an improvement.

[2020-01-20 13:37] mtojek commented on #13508
All PRs merged. Resolving.

[2020-01-20 13:37] #13508 closed

[2020-01-20 13:52] jpountz commented on #14262
@ruflin Sorry I had missed your ping. Lucene and Elasticsearch are both not designed for the case that many fields exist but don't have any data and would be a lot of work. Improving the situation for this case doesn't feel like the right trade-off given that we're moving to one index per module.

I wonder whether improving defaults could make maintenance easier. For instance, float/double/scaled_

[2020-01-20 15:56] shahzad31 commented on #12107
**Testing for release 7.6.0**
Ran heatbeat 7.5 and i can see host.name field

![image](https://user-images.githubusercontent.com/3505601/72738351-ac04f180-3ba1-11ea-8e12-814488d256b3.png)

Ran heartbeat 7.6.0 and it doesn't contains host.name field.
Ran heartbeat 8.0.0 and it doesn't contains host.name field.

[2020-01-20 16:33] jsoriano opened #15684 "[Metricbeat] Support Jolokia mbean patterns with free wildcards"
Currently the Jolokia module supports mbean patterns with wildcards in attributes, like the following one, that would match mbeans with any value of `name`:
[code]

But if a wildcard is used freely to match any other attribute, like in this pattern:
[code]
This error is reported:
[code]

These patters are supported by the Jolokia protocol, there are many examples [in the documentation](https://jol

[2020-01-20 16:37] elasticmachine commented on #14618
Pinging @elastic/siem (Team:SIEM)

[2020-01-20 17:23] jsoriano commented on #15669
Hey @Tomccat3, welcome to beats :slightly_smiling_face:

We prefer to use the discuss forum in https://discuss.elastic.co for this kind of questions, and leave Github for confirmed issues and enhancement requests.

In any case, regarding your question, it can have an quick answer. The file path should be in the generated events, in the `log.source.path` fields, is it not there in your case?

[2020-01-20 17:23] #15669 closed

[2020-01-20 17:39] jsoriano commented on #15609
Hi @tvatin,

What version of metricbeat are you using? IBM MQ module hasn't been released yet.

[2020-01-20 17:45] jsoriano commented on #15199
@TomonoriSoejima in principle same versions are supported in kafka input and output, but it is true that it should be documented in both places. Thanks for reporting!

[2020-01-20 17:58] jsoriano commented on #14278
We could consider merging this module into `mysql/status`, they are quite similar (I think originally one was copied from the other), as they collect different information from the same source.

[2020-01-20 18:30] nicpenning opened #15685 "[Winlogbeat] Sysmon Module - Missing DNS Status Codes"
For confirmed bugs, please report:
- Version: 7.4.0 (WLB)
- Operating System: Windows 10
- Discuss Forum URL: https://discuss.elastic.co/t/sysmon-dns-query-missing-status-codes/213396/3
- Steps to Reproduce: With SysMon on a Windows 10 device run this in a command prompt:
ping www.google,com

Look at the logs that get ingested into Elastic or see the JSON output of WLB and see that event code 9560

[2020-01-20 18:50] #15547 closed

[2020-01-20 18:57] nerddelphi commented on #13850
The only one component of my Stack using a previous working version is the Metricbeat: 7.3.2.

I've opened a new issue to treat that issue: https://github.com/elastic/beats/issues/15556

[2020-01-20 18:58] ph commented on #15507
First implementation done, will require a followup for encryption.

[2020-01-20 18:58] #15507 closed

[2020-01-20 18:59] ph commented on #15474
Going to close this meta-issue and keep only the index issues open.

[2020-01-20 18:59] #15474 closed

[2020-01-20 18:59] #15414 closed

[2020-01-21 01:59] Tomccat3 commented on #15669
Hey@jsoriano , I'm sorry for the wrong place.

Thank you for your reply.

[2020-01-21 07:32] ruflin commented on #14262
@jpountz Having one dataset per index will solve the issue. Unfortunately we are not there yet and we have the above issue at the moment with Filebeat and Metricbeat. We already have quite a bit of logic / magic on what fields get added to default_fields and what not. We already exclude all the "number" fields. We once reverted back to only use `text` or `keyword` but then realised `ip` fields are

[2020-01-21 07:50] kvch commented on #15004
Closing as tracking remains in #15683

[2020-01-21 07:50] #15004 closed

[2020-01-21 08:07] #15328 closed

[2020-01-21 08:10] tvatin commented on #15609
Hi @jsoriano ,

I'm using Metricbeat v7.5.0.
Do you know if it's going to be released ?

[2020-01-21 08:18] ruflin commented on #14459
@ph I'm closing this issue as with the current indexing strategy proposal we will enforce the index pattern to be used by the agent and will have templates for it preinstalled. So no checks have to be done on the agent side.

[2020-01-21 08:18] #14459 closed

[2020-01-21 09:09] ISKU opened #15689 "[Heartbeat] Proposal: Make a group of multiple requests."
I asked the community about the new feature as shown in the link [discuss/196105](https://discuss.elastic.co/t/is-it-possible-to-make-a-new-http-request-with-the-data-in-the-responsebody/196105). But I got an answer that it doesn't support this feature. I need this feature to check my application. So, I propose the ability to make a group of multiple requests and to use data from the response body

[2020-01-21 09:19] michalpristas opened #15690 "[Agent] Follow new structure of configuration"
With configuration structure changing we need to follow the change and provide new set of translation rules to achieve same result.

[2020-01-21 09:19] elasticmachine commented on #15690
Pinging @elastic/ingest (Project:fleet)

[2020-01-21 09:25] michalpristas opened #15691 "[Agent] Provide sane defaults for index name"
Index name should have a default format of `{type}-{namespace}-{dataset}`
If any of these is missing use a default matching:

| Key | Value
| ------------- |:-------------:|
| type: | `logs` for filebeat, `metrics` for metricbeat |
| namespace: | default|
| dataset: | generic |

Inject this generated name into respective beats

Requires: #15690

[2020-01-21 09:25] elasticmachine commented on #15691
Pinging @elastic/ingest (Project:fleet)

[2020-01-21 10:05] narph commented on #14549
closed by https://github.com/elastic/beats/pull/15342

[2020-01-21 10:05] #14549 closed

[2020-01-21 10:05] narph commented on #14548
closed by https://github.com/elastic/beats/pull/15342

[2020-01-21 10:05] #14548 closed

[2020-01-21 10:06] narph commented on #14551
closed by https://github.com/elastic/beats/pull/15342

[2020-01-21 10:06] #14551 closed

[2020-01-21 10:06] narph commented on #14552
closed by https://github.com/elastic/beats/pull/15342

[2020-01-21 10:06] #14552 closed

[2020-01-21 10:28] jsoriano commented on #15609
It was introduced in #15301, it is already merged in master and 7.x branches, but not included in 7.6. So it will be released in principle in 7.7.0.

In the meantime you can try it if you prepare your own build of Metricbeat from the 7.x branch.

I am going to close this issue as we keep github for confirmed bugs and enhancement requests, please use the discuss forum (https://discuss.elastic.co) f

[2020-01-21 10:28] #15609 closed

[2020-01-21 11:03] cwurm commented on #10901
@jsoriano I don't remember to be honest, but I don't think I made any changes to the PAM configuration or did anything unusual. I dimly remember that maybe it didn't happen for all login types (I at least tested password-based SSH login, key-based SSH login, and running `login` on the command line).

[2020-01-21 13:17] ph commented on #14459
sound good, less things to worries on our side cc @michalpristas

[2020-01-21 13:31] urso commented on #15544
This issue is not about the ecs-logging project, multiple library support or multiple language support. It is about ECS based logging in Beats in particular. With this in mind let's talk about what we want to expect from the logging support in Beats in the future. Some features/requirements coming to mind:

1. Structured logging is a must
2. Logs must follow ECS and must be indexible in ECS
  a. L

[2020-01-21 13:37] ph commented on #15544
Log level and selectors changed dynamically for Agent. That would be useful for remote debugging. Imagine an **inspect** button in the UI that displays live log.

[2020-01-21 14:19] michalpristas commented on #14456
@ph still valid?

[2020-01-21 14:23] ph commented on #14456
lets close this,  this is replaced by the issues you created today.

[2020-01-21 14:54] urso opened #15699 "Remove global logging functions in libbeat"
In order to better support structured logging, we want to get rid of the global logger functions. The API of the global logger functions is not in line with the methods defined by `(*logp).Logger`.

For now we will focus on libbeat first.

## Refactoring Notes/Tips:

- replace `logp.Debug/Info/Warn/...` with `f` variants like `(*Logger).Debugf/Infof/Warnf/...` if a format string has been used. Oth

[2020-01-21 17:06] PhaedrusTheGreek opened #15707 "Support for Elasticsearch module on Kubernetes"
I've tried a few approaches to try to use Filebeat and Metricbeat's elasticsearch module in an ECK environment to no avail.     Here are the issues as I have found them:

## Metricbeat

- Metricbeat's elasticsearch module must need to run on a 1:1 basis for each Elasticsearch pod, so perhaps a side-car deployment without any changes to the module would work.

## Filebeat

-  The [default kubernete

[2020-01-21 17:10] odacremolbap opened #15709 "[Metricbeat]Prometheus errors messages are trying to be parsed by metricbeat"
Metricbeat prometheus module hides errors when a non OK status code is received.

HTTP status code is not checked, which means any error received from the prometheus configured endpoint will be treated as a prometheus resource, then failing to parse logging an incorrect message.

[2020-01-21 18:26] ph opened #15713 "[Agent] Change flag to override local configuration"
Currently, to force the override of the local configuration file we need to use the `-f` instead I think we should replace it with `-y`

[2020-01-21 18:26] elasticmachine commented on #15713
Pinging @elastic/ingest (Project:fleet)

[2020-01-21 18:26] ph opened #15714 "[Agent] Change the default override behavior."
When you are enrolling the agent by default we say yes to override the existing configuration file,
Instead, we should default to no.

[2020-01-21 18:26] elasticmachine commented on #15714
Pinging @elastic/ingest (Project:fleet)

[2020-01-21 18:28] ph opened #15716 "[Agent] required changes for enroll"
**Required Changes:**

### Without TLS

When you are not using TLS we should display a warning not to use that in production.

### With TLS

When enrolling with TLS, we need to receive the CA hash to check the remote certificate. The default command will look like this:

[code]

[2020-01-21 18:29] elasticmachine commented on #15716
Pinging @elastic/ingest (Project:fleet)

[2020-01-21 18:42] ph commented on #15716
Sample code I've been using to test the certificate pinning, will need to be modified so we assert the right host / chain.

[code]

[2020-01-21 18:45] ph opened #15717 "[Agent] Add CA certificate pinning to the elasticsearch output."
We should also add support for CA certificate pinning on the Elasticsearch output, would add a new field `ca_sha256` in the output definition.

https://github.com/elastic/beats/issues/15716

[2020-01-21 18:45] elasticmachine commented on #15717
Pinging @elastic/ingest (Project:fleet)

[2020-01-21 18:47] elasticmachine commented on #15689
Pinging @elastic/uptime (:uptime)

[2020-01-21 19:27] ph opened #15718 "[Agent] The Checkin API need to verify the CA hash of the remote Kibana."
With the hash saved from https://github.com/elastic/beats/issues/15716 we need to use it on every checkin call.

[2020-01-21 19:27] elasticmachine commented on #15718
Pinging @elastic/ingest (Project:fleet)

[2020-01-21 19:32] mitchellmaler commented on #14997
I figured out the issue which came down to a misunderstanding on my part. To get metricbeat to autodiscover these pods it needs to be running on the node in question. I am using the metricbeat helm chart and was thinking the pod (deployment) that runs the kube-state-metrics scraping can also start scraping these control plane pods as well since they have a service but really it needs to be on the

[2020-01-21 19:32] #14997 closed

[2020-01-21 21:31] andrewvc commented on #10595
Hey, thanks for the feature suggestion. This is actually something we're working on the background here. We'll probably implement this centrally in Kibana, letting you push out your config to individual beats. We'll let you know when we have more here!

[2020-01-21 21:39] #13595 closed

[2020-01-22 04:52] andrewvc commented on #13595
This was merged into our 7.x branch (targeting the 7.7 release) thanks to the awesome contribution from @amandahla in https://github.com/elastic/beats/pull/15587 . Thanks @amandahla !

[2020-01-22 08:13] LucaWintergerst commented on #15549
yes, we are getting all other data without any issues.
This is the list of other metricsets we have enabled:
[code]

[2020-01-22 08:15] trondhindenes commented on #9302
I'm still seeing the same on `6.8.6`, fyi.

[2020-01-22 09:42] fpompermaier opened #15735 "Beats DNS processor: limit reverse to internal networks"
**Describe the enhancement:**
Il would be VERY useful to limit DNS (reverse) resolution to internal networks

[2020-01-22 10:33] narph opened #15736 "Metricbeat sql module: error mapping the query property"
Initial ticket https://github.com/elastic/beats/pull/13257

An example of event to be sent to es or other output looks like:
[code]
but in the fields.yml definition `query` is not a string property:
[code]
ES is returning the errors:
[code]

[2020-01-22 10:50] michalpristas commented on #15087
@ph are you working on this?

[2020-01-22 11:41] ramkms6666 opened #15740 "Filebeats not sending logs to elasticsearch when pipeline is configured"
hi,
I have scenario trying to upload product logs using Filebeat to Elasticsearch. I have created ingest pipeline for converting log date to event date. Below is the  ingest pipeline processor,

`PUT _ingest/pipeline/mylogs
{
    "description" : "Extracting date from log line",
    "processors" : [
      {
        "date" : {
          "field" : "log.timestamp",
          "target_field" : "@timesta

[2020-01-22 11:53] amandahla commented on #13595
I’m glad I was able to help! :-)

[2020-01-22 13:15] #15618 closed

[2020-01-22 13:23] ycombinator commented on #8311
@jsoriano Should https://github.com/elastic/beats/issues/15488 be added to the list in this issue description?

[2020-01-22 13:30] ph commented on #15087
@michalpristas I can take a look, I am in the neighborhood for something else.

[2020-01-22 13:31] jsoriano commented on #8311
@ycombinator in principle http log should be already supported, so if #15488 can be confirmed this would be a bug.

[2020-01-22 13:32] michalpristas commented on #14461
related or dup: #15500

[2020-01-22 14:42] fearful-symmetry commented on #15635
Fixed and backported.

[2020-01-22 14:42] #15635 closed

[2020-01-22 14:51] TomaszKlosinski commented on #12233
So after this change, can I use kubernetes variables? Like in this example:
[code]

[2020-01-22 14:52] #15652 closed

[2020-01-22 15:35] kuisathaverat commented on #9496
may be duplicated https://github.com/elastic/observability-dev/issues/505

[2020-01-22 15:44] kuisathaverat commented on #9496
This is already implemented in the pipeline, we will continue making incremental improvements.

[2020-01-22 15:44] #9496 closed

[2020-01-22 15:46] urso commented on #12233
No. ILM and templates are global settings. Beats do not manage templates + policies for multiple indices and have no access to fields in events. In fact templates and ILM policies are setup before the first event is available. This issue is about fixing the documentation, not changing behavior.

[2020-01-22 15:53] #15736 closed

[2020-01-22 16:24] TomaszKlosinski commented on #12233
@urso , this sucks because it does work with the old-school daily indices:
[code]
So, in this case I can either use an index pattern per kubernetes namespace, or I can use ILM. I can't use both. :(

[2020-01-22 16:24] sorantis opened #15751 "[Metricbeat] Add container metrics to the Azure module"
Add support of the following namespaces in Azure Monitor that cover container metrics:

**Namespace**: Microsoft.ContainerInstance/containerGroups
**Namespace**: Microsoft.ContainerRegistry/registries
**Namespace**: Microsoft.ContainerService/managedClusters

Reference: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftcontainerinstancecontainergroups
## Modu

[2020-01-22 16:28] mikemadden42 commented on #13718
This  should be fixed.

[code]

[code]

[code]

[2020-01-22 16:28] #13718 closed

[2020-01-22 18:22] ph commented on #15087
I think its decoupled so, you can take a look that should a small PR.

[2020-01-22 19:31] bmorelli25 commented on #15595
@andresrc, did you want me to add the other 7.6 Observability doc items to this meta issue? For now, I'll include them below:

- [ ] Logs/Metrics app updates https://github.com/elastic/kibana/issues/47821
- [ ] APM app updates https://github.com/elastic/kibana/issues/54180
- [ ] Experimental Jaeger support https://github.com/elastic/apm-server/issues/3123
- [ ] API Key documentation
  - [ ] ES Out

[2020-01-22 19:35] blakerouse commented on #13276
This is still a problem even with 7.6.0.

[code]

Listing the directory shows that no `kibana` folder is present in any of the builds.

[code]

The execution of the `functionbeat` command was tested on Mac OS.