[2020-10-05 15:09] andrewkroh commented on #11825
As a workaround, if you have auditd installed, you could create a systemd file to execute `auditctl -D` when auditbeat stops. For example, create this file:

[code]

Then use `systemctl daemon-reload` to pick up the file. Then restart auditbeat with `systemctl restart auditbeat.service`. Then test it by stopping the service and checking if the rules where cleared from the kernel.

[2020-10-05 15:17] blakerouse commented on #21424
Is this still an issue or was it fixed by #21298?

[2020-10-05 15:44] jsoriano opened #21532 "Refactor Cloud Foundry metrics collection"
Cloud Foundry metrics collection is implemented as push metricsets that obtain the metrics from the firehose. Current implementation has some problems:
* Each document created by these metricsets contain a single metric, with the metric name in a field, and the value in other. The approach used in Metricbeat is to store values in fields whose name is obtained from the name of the metric. This allo

[2020-10-05 15:44] elasticmachine commented on #21532
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-05 15:54] gogochan commented on #21424
I am not able to validate this as I cannot spawn an instance of 8.0 at the moment.

[2020-10-05 16:05] Ghaithjemai commented on #5413
same problem... did you find the solution?

[2020-10-05 16:06] v1v opened #21536 "[IngTests] Export docker-compose logs to debug why it failed if no test failures but infra issues"
**Describe the enhancement:**

`dev-tools/mage/integtest_docker.go` is in charge to drive the integration tests with docker-compose, but the current implementation remove the containers after each test.

It'd be ideal if the component can export all the details regarding the status of each docker container, logs and inspect.

A similar approach is in place in a shared library for Jenkins, but in t

[2020-10-05 16:39] EricDavisX commented on #20895
@rahulgupta-qasource can you re-test this usage / scenario in master line?  it should be fixed with latest refactor.

[2020-10-05 17:15] EricDavisX commented on #21512
it is strange that we had tested and thought it was working prior.  regardless, we know the spec know and will report if it errantly somehow works and we can update our test scripts to indicate to continue testing / supporting .deb / .rpm with enroll commands (and not to use 'install').  Thanks Blake

[2020-10-05 17:39] serak commented on #15785
Thank you for your quick response. the error message was useless. i have a couple of Power9 servers i will try on those. how is this issue going for a native support for aix? what is missing right now?

[2020-10-05 17:53] blakerouse commented on #20895
@EricDavisX this is not fixed, only way still to remove Elastic Endpoint is to remove the integration from Fleet, then uninstall Elastic Agent.

[2020-10-05 18:38] #20142 closed

[2020-10-05 18:45] peasead opened #21541 "[New Module] VirusTotal Intelligence Live Hunt Filebeat Module"
# Description
## Objective
Using a Filebeat module, collect data from the VirusTotal Intelligence Live Hunt notification queue mapping the data to ECS (or associated field mappings), and write the data to Elasticsearch

## Approach
Create a Filebeat module using [HTTP JSON](https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-input-httpjson.html) to pull down the Live Hunt notification

[2020-10-05 18:58] blakerouse commented on #21318
Fixed in #21285

[2020-10-05 18:58] #21318 closed

[2020-10-05 19:24] liza-mae opened #21544 "Beats setup is failing on latest master"
For confirmed bugs, please report:
- Version: 8.0.0-SNAPSHOT
- Operating System: Ubuntu
- Steps to Reproduce:
1. Install Elasticsearch
2. Install Kibana
3. Install Filebeat
4. Start Elasticsearch, Kibana and Filebeat
5. Run ```./filebeat setup```

[code]

[2020-10-05 19:24] elasticmachine commented on #21544
Pinging @elastic/integrations (Team:Integrations)

[2020-10-05 19:53] elasticmachine commented on #21544
Pinging @elastic/siem (Team:SIEM)

[2020-10-05 19:53] liza-mae commented on #21544
Same with other beats:

For ex: Metricbeat

[code]

[2020-10-05 20:01] kaiyan-sheng commented on #21522
Hi @sboulkour 🙂 I tested locally with this log message from the sample output you gave and everything seems to be fine this time.
[code]

Could you give more log entries for me to test please? Also do you see any log message from Filebeat by any chance?

[2020-10-05 20:03] sboulkour commented on #21522
@kaiyan-sheng how can I send Filebeat outputs privately ?

[2020-10-05 20:07] sboulkour commented on #21522
And here are all the log I have, without the `monitoring` part:
[code]

[2020-10-05 21:14] sboulkour commented on #21522
Resolution is that AWS module only works with ES Ingest nodes doing the parsing (not FIlebeat itself).

[2020-10-05 21:14] #21522 closed

[2020-10-05 22:15] kaiyan-sheng opened #21547 "Add support for extra fields in elb fileset"
For ELB logs, user wants to have the extra fields, that is part of the version 2 definition, also to be parsed and extracted.

[code]

At the moment, these fields do not appear in the GROK patterns:
[code]

[2020-10-05 22:15] elasticmachine commented on #21547
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-05 23:16] ramon-garcia opened #21548 "Ingest pipeline is ignored in elasticsearch output"
Hello,

Filebeat, being used to process syslog messages, is ignoring the configuration of the ingest pipeline

Here is a simple configuration

[code]

The pipeline is not used at all, as one can check inspecting the HTTP traffic between Filebeat and Elasticsearch.

The problem is workarounded using instead, in the output:
[code]

This has been tested with Filebeat 7.9.1 OSS under Linux

[2020-10-06 06:37] michalpristas commented on #20876
running
[code]
it shows we have one output called default

inspecting default:
[code]

to heartbeat it looks like this
[code]

on the side note
my config looks like this:
[code]

Agent cannot transform configuration without outputs.

@ph please let me know if you have troubles on latest master as well or it was not recognizing synthetics input at the time of raising issue

[2020-10-06 06:47] michalpristas commented on #21310
Inspecting the logs i see two reasons of failure.
First one is `text file busy` issue #21120
Second one is ASC hash mismatch, i will take a look to see what can i do to improve experience here, this was due to missing ASC in the release bits which should be fixed.

The problem there is that it compares asc of released build metricbeat vs self beat metricbeat which is packed (because second iterati

[2020-10-06 06:49] elasticmachine commented on #21548
Pinging @elastic/integrations-services (Team:Services)

[2020-10-06 06:49] Helflym commented on #15785
You're right, I should have displayed a warning when installing filebeat packages on Power7, as we do for Golang.
The problem is not with AIX itself, the Go toolchain on Power is made to work only on Power8 and later. It also impacts Linux. There was some discussions about supporting Power7 but it was refused, I don't remember why and where though.

[2020-10-06 06:51] elasticmachine commented on #21544
Pinging @elastic/integrations-services (Team:Services)

[2020-10-06 06:52] elasticmachine commented on #21541
Pinging @elastic/siem (Team:SIEM)

[2020-10-06 06:56] elasticmachine commented on #21528
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-06 07:00] elasticmachine commented on #21524
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-06 07:02] elasticmachine commented on #21521
Pinging @elastic/integrations (Team:Integrations)

[2020-10-06 07:02] elasticmachine commented on #21521
Pinging @elastic/integrations-services (Team:Services)

[2020-10-06 07:48] drewboswell commented on #18056
I use the following as winlogbeat is the only one that does the fqdn thing:

[code]

[2020-10-06 08:01] admlko commented on #18056
I also use processor hack to make it work. But for some reason, it works with everything else but not with Filebeat Elasticsearch module. Had to disable it in order to get rid of duplicate host completely.

[2020-10-06 08:03] exekias commented on #19271
I have implemented a Pod discovery provider here https://github.com/elastic/beats/pull/21480, we are finally not reusing the whole autodiscover providers for this, but implementing things based on the common watcher code.

I expect more conversations to happen around the missing pieces, will open issues for them:

- Discovery of other resources (Node, service)
- Kubernetes secrets
- Hints based au

[2020-10-06 08:26] ChenTsungYu commented on #19200
Hello, support

I want to ask is there any modules of metricbeat for google cloud to help count monitoring all resources used because I need to collect the information about the total quantity in each resource.

Thanks!

[2020-10-06 08:33] EugRomanchenko commented on #20752
Looks liket his bug is still present in 7.9.2 version (https://github.com/elastic/beats/pull/21197).

[2020-10-06 08:41] #19511 closed

[2020-10-06 08:47] ChenTsungYu opened #21552 "Hope to add a new feature in google cloud modules of metricbeat"
Hello,

I want to ask is there any existed module of metricbeat for google cloud?
I recommend the feature that counting all used resources in monitoring because it's useful to collect information about the total quantity in each resource.
Please check it below:
![截圖 2020-09-29 下午6 26 06](https://user-images.githubusercontent.com/46296838/95179512-4d48dc00-07f3-11eb-975e-a8ab4db727bc.png)

Thanks!

[2020-10-06 09:06] #20997 closed

[2020-10-06 09:07] #21189 closed

[2020-10-06 11:40] andresrc commented on #21343
Hi @vipsql , what's the use case you want to solve with this integration?

[2020-10-06 11:43] elasticmachine commented on #21544
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-06 11:51] masci opened #21560 "[Cloudfoundry] Document local persistent cache"
Document the feature introduced with https://github.com/elastic/beats/pull/20775

[2020-10-06 11:51] elasticmachine commented on #21560
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-06 12:02] v1v opened #21561 "[generator][metricbeat] got some issues with unable to auto-detect email address"
See [build](https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2Fmaster/detail/master/496/pipeline)

[code]

[2020-10-06 12:09] v1v commented on #21561
Duplicates https://github.com/elastic/beats/issues/17787

[2020-10-06 12:09] #21561 closed

[2020-10-06 12:17] rahulgupta-qasource commented on #20205
Hi Eric

W have observed that changes for availability of upgrade agent option are not reflected on latest 7.10.0-SNAPSHOT cloud environment with following commit 2ace108bc8aab580c0db8b788e03f647fa4927bc.
![Kibana_commit](https://user-images.githubusercontent.com/59917944/95200301-c64c3180-07fb-11eb-89bc-004608a479e6.jpg)

7.10.0 agent: https://snapshots.elastic.co/7.10.0-bbfba61c/downloads/beats/

[2020-10-06 12:23] v1v opened #21563 "[metricbeat][pythonIntegTest] is not resilience when connection issues"
### What

when running the integration tests if the docker environment cannot be pulled then the whole build fails.

### Command

[code]

### Stacktrace

[code]

## Actions

- Add retry in the mage goal, see https://github.com/elastic/beats/pull/21587 ✅
- Decouple the prepare docker environment from the test execution, then having a specific goal only for that particular prepare docker environment

[2020-10-06 12:25] ph opened #21564 "[Elastic Agent] Heartbeat should not be bundled by default"
When working on adding support for Heartbeat in the agent the packaging code was changed to add heartbeat as part of the default shipped beats. We need to remove the code that add it to the packaging.

[2020-10-06 12:25] elasticmachine commented on #21564
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-06 12:25] ph commented on #21564
cc @blakerouse and @EricDavisX

[2020-10-06 12:44] EricDavisX commented on #21564
can we link to the original discussion / ticket about this, I'd like to read for more context if possible.

[2020-10-06 12:52] elasticmachine commented on #21564
Pinging @elastic/uptime (Team:Uptime)

[2020-10-06 12:54] ph commented on #21564
Found that original discussion https://github.com/elastic/beats/pull/20387#discussion_r464227046,

Going to create an issue to discuss bundle.

[2020-10-06 12:57] kvch commented on #21548
Dupkicate of https://github.com/elastic/beats/issues/20342

[2020-10-06 12:57] #21548 closed

[2020-10-06 13:08] kaiyan-sheng commented on #19200
@ChenTsungYu Hello! We don't have it for google cloud right now. But it would be very helpful to have this functionality. Do you mind creating a github issue for this enhancement and explain about your use case please? Thank you!

[2020-10-06 14:12] andresrc commented on #21345
We plan to remove this option in the future, as it is not suitable for many situations.

[2020-10-06 14:12] #21345 closed

[2020-10-06 14:15] andresrc commented on #21412
We usually add the compression at the output level. This sounds like a path for another implementation of the protocol limitation.

Do EventHub support some other compression protocol. IIRC we also support SPDY in this output.

[2020-10-06 14:23] andresrc commented on #21521
We are evolving towards a new indexing strategy that will prevent this kind of issues.

[2020-10-06 14:23] #21521 closed

[2020-10-06 14:28] #21114 closed

[2020-10-06 14:48] elasticmachine commented on #21552
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-06 14:58] lucabelluccini opened #21577 "Raise the logging level for errors such as "Kafka publish failed with: kafka server: The requested operation is not supported by the message format version.""
**Describe the enhancement:**

While testing Kafka output in Filebeat, the documents were not published to Kafka because of `compression: gzip` was not supported on Azure Event Hub for Kafka.
It was necessary to raise the logging to debug in order to get an hint to what was happening:
[code]

**Describe a specific use case for the enhancement or feature:**

I do not know if this might get too verb

[2020-10-06 15:22] jportner commented on #21544
I opened a PR to change the Kibana platform to prevent this failure from occurring: elastic/kibana#79682.

[2020-10-06 15:23] exekias opened #21581 "Panic when inspecting output when using dynamic providers"
I got this error when trying to use `${docker.container.id}` in an input config with default settings (master):

[code]

[2020-10-06 15:23] elasticmachine commented on #21581
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-06 15:24] exekias commented on #21581
cc @blakerouse

[2020-10-06 15:26] ph commented on #20876
@michalpristas will close this a non-issue for now, thanks for looking into it.

[2020-10-06 15:26] kaiyan-sheng commented on #21552
cc @sorantis
I have a draft PR to add [resource discover for AWS](https://github.com/elastic/beats/issues/19200). It would be good to add similar functionality for GCP as well.

[2020-10-06 15:26] #20876 closed

[2020-10-06 15:37] elasticmachine commented on #21286
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-06 16:21] jsoriano commented on #21392
@maggieghamry do you know how can OpenStack be configured to use HTTPS? In the latest documentation I only see references to HTTP: https://docs.openstack.org/nova/latest/user/metadata.html

[2020-10-06 16:27] jsoriano commented on #21392
Ok, there seems to be an [`enabled_ssl_apis` option](https://docs.openstack.org/nova/train/configuration/config.html#DEFAULT.enabled_ssl_apis) that can be used to enable SSL.

[2020-10-06 16:33] gogochan commented on #21424
Validated using the latest_snapshot https://snapshots.elastic.co/8.0.0-af3cda3c/downloads/beats/elastic-agent/elastic-agent-8.0.0-SNAPSHOT-windows-x86_64.zip

Other than Agent doesn't restart on system reboot, if started manually. Agent does serve GRPC bootstrap information via 6788

Closing this.

[2020-10-06 16:36] #19271 closed

[2020-10-06 17:13] kaiyan-sheng commented on #21528
@srolskyi Thank you for reaching out! Yes we currently don't have the support for using wildcard in `log_group_name` config yet. I will use this issue to track the work for adding `*` support for `log_group_name`.

[2020-10-06 18:08] andresrc opened #21591 "Deprecation logs for Beats"
Elastic Stack products will start to ship deprecation logs to a specific index based on the new indexing strategy.

We should analyse how to leverage this functionality from beats:
* Directly or via stack monitoring?
* A single stream per beat, one stream for all the beats?

Coordinate with https://github.com/elastic/beats/issues/21336

[2020-10-06 18:08] elasticmachine commented on #21591
Pinging @elastic/integrations-services (Team:Services)

[2020-10-06 18:09] andresrc opened #21592 "Deprecation logs for Beats"
Elastic Stack products will start to ship deprecation logs to a specific index based on the new indexing strategy.

We should analyse how to leverage this functionality from beats:
* Directly or via stack monitoring?
* A single stream per beat, one stream for all the beats?

Coordinate with elastic/elastic-agent#122

[2020-10-06 18:09] elasticmachine commented on #21592
Pinging @elastic/integrations-services (Team:Services)

[2020-10-06 18:30] #21286 closed

[2020-10-06 18:42] EricDavisX commented on #20895
Blake - yes, that's exactly what I meant.  We do not intend to use the .ps1 file at all, and I know its being removed - so we can update test scenarios, automation and expectations around this.  I appreciate the note

[2020-10-06 18:46] ph commented on #21591
duplicate of #21592 ?

[2020-10-06 18:46] #21591 closed

[2020-10-06 18:49] ph opened #21596 "dgraph cannot build for windows/i386"
When testing elastic agent package we saw a few build error https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fpackaging/detail/PR-21573/3/pipeline/185/

[code]

Seems linked to this PR https://github.com/elastic/beats/pull/20775

@jsoriano  can you take a look ?

[2020-10-06 18:49] elasticmachine commented on #21596
Pinging @elastic/integrations-services (Team:Services)

[2020-10-06 18:49] elasticmachine commented on #21596
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-06 19:14] leehinman commented on #20972
closed by #21086

[2020-10-06 19:14] #20972 closed

[2020-10-06 19:27] gogochan opened #21598 "[Agent] Frequent degrade from missing last check-in"
On `7.9.2` I'm observing periodic `degrade` from missing last check-in on Fleet.

![image](https://user-images.githubusercontent.com/5281995/95249598-ec1b0b80-07e6-11eb-8814-9e78bceb9d73.png)

Please include configurations and logs if available.

#### Config
[config.txt](https://github.com/elastic/beats/files/5336237/config.txt)
#### Log
[elastic-agent-json.log.gz](https://github.com/elastic/beats

[2020-10-06 19:41] andresrc commented on #21591
mmm, I got an error but it seems it was created twice

[2020-10-06 19:41] elasticmachine commented on #21598
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-06 19:46] elasticmachine commented on #21577
Pinging @elastic/integrations-services (Team:Services)

[2020-10-06 19:54] ph commented on #21598
@blakerouse Could you investigate that case?

[2020-10-06 20:02] blakerouse commented on #21598
@gogochan Seems that metricbeat is not checking in as often as it should. Wonder if its because its under heavy load and missing check-in or if its something else.

Need to view the metricbeat logs. Can you tar up the entire Elastic Agent `logs` directory?

[2020-10-06 20:03] EricDavisX commented on #21424
I don't doubt that the manual start of Endpoint works as Chan notes - but I am seeing this with a linux endpoint on latest code.  The host has Endpoint up and running and after it is re-booted it throws errors in the Agent log and has 'Agent Connectivity' errors in the Endpoint side log:

<img width="1018" alt="Screen Shot 2020-10-06 at 4 01 09 PM" src="https://user-images.githubusercontent.com/12

[2020-10-06 20:05] EricDavisX commented on #21424
logs attached
[agent-endpoint-reboot-test.txt](https://github.com/elastic/beats/files/5336416/agent-endpoint-reboot-test.txt)

hash of agent is: af3cda3c from today’s *just finished build artifacts here
Kibana info is$ git show -s 6f983728d7f8c2cf065a6d5099157a5cfdc3cd08
Date:  Tue Oct 6 09:46:56 2020 +0300

installed it with 'install' command and while it took 5 mins for it to come on line (not r

[2020-10-06 20:06] blakerouse commented on #21424
@EricDavisX Based on the error reported in the screenshot, it seems that you might actually have 2 Elastic Agents installed and running?

Are you sure you don't have both the *.deb and the `install` based installation running? From the log message it shows `bind: address is already in use`. So that means that Elastic Agent could not open that port for Elastic Endpoint to connect back.

[2020-10-06 20:08] EricDavisX commented on #21424
it was online happily before I ran it.  and i captured the ps ax output as such:
[zeus@mainqa-atlcolo-10-0-6-147 elastic-agent-8.0.0-SNAPSHOT-linux-x86_64]$ ps ax | grep elastic
23306 ?        Ssl    0:03 elastic-agent
23419 ?        Ssl    0:01 /opt/Elastic/Endpoint/elastic-endpoint run
23463 pts/0    S+     0:00 grep --color=auto elastic

[2020-10-06 20:25] ph commented on #21564
@blakerouse @andrewvc Since the implementation is not complete we should just disable heartbeat for 7.x completely.

[2020-10-06 20:40] gogochan commented on #21598
The machine actually remains very idle most of the time.
[logs.tar.gz](https://github.com/elastic/beats/files/5336626/logs.tar.gz)

[2020-10-06 20:41] gogochan commented on #21598
It also happens with Elastic-Endpoint on a different box.

[2020-10-06 21:00] blakerouse commented on #21564
@ph I think for 7.10 its probably good to disable it.

[2020-10-06 21:06] kaiyan-sheng commented on #21363
@narph mentioned to me about we have some issue collecting az for Azure because the zone is not mapped in the sdk although it is returned by the API. We can leave `cloud.availability_zone` as optional for now.

[2020-10-06 21:09] EricDavisX commented on #21424
we decided we think this is fixed, and are going to re-test with a full 'regular' build of snapshot that has the needed .asc files tomorrow.

[2020-10-06 21:15] EricDavisX opened #21601 "[Fleet / Agent] Agent is stuck on Enrolling, goes Offline, nothing in Activity Details and little in agent log"
Testing with the latest 8.0 snapshot of Kibana and Agent that were compiled today, details below:

hash of agent is: af3cda3c from today’s *just finished build artifacts here
https://snapshots.elastic.co/8.0.0-af3cda3c/downloads/beats/elastic-agent/elastic-agent-8.0.0-SNAPSHOT-windows-x86_64.zip

tested on a known good Win7 x64 instance on the Endgame VPN, vSphere cluster, we can share access if t

[2020-10-06 21:15] elasticmachine commented on #21601
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-06 21:24] EricDavisX commented on #21601
@ph we decided this was not working, after you had to leave the zoom chat.  just fyi.

[2020-10-06 22:29] andrewvc opened #21603 "[Heartbeat] Send failed ICMP pings as separate documents with `wait` option."
**Describe the enhancement:**

Ideally, it would be possible for ICMP pings to retry in the event of failure. We sort of support that currently with the [`wait`](https://www.elastic.co/guide/en/beats/heartbeat/current/monitor-icmp-options.html#monitor-icmp-wait) option. The only problem is it doesn't notate failed pings. We should send a document per ping attempt to capture all this data.

We shou

[2020-10-06 22:29] elasticmachine commented on #21603
Pinging @elastic/uptime (Team:Uptime)

[2020-10-06 22:42] MakoWish commented on #18755
Same on Kali Linux 2020.3 (Debian) using Auditbeat 7.9.2.

[2020-10-07 01:40] ChenTsungYu commented on #19200
@kaiyan-sheng
Hi support,

It's OK! Thanks a lot 😄
BTW. If I want to provide the other feature suggestions in metricbeat, where should I send the ticket?

Best

[2020-10-07 01:46] kaiyan-sheng commented on #19200
@ChenTsungYu I believe https://github.com/elastic/beats/issues/new?template=feature-request.md is a good spot. Thank you!

[2020-10-07 06:05] BokuKDVZ opened #21606 "Dell /EMC Powermax2000 Logs / Monitoring"
Hello,
we do have an Dell / EMC Powermax 2000 Storage as datastore and we'd like to grep the logs and metrics from it and transfer it to elasticsearch.
Currently we don't have any "own" monitoring og that system. We rely on the cloudIQ Website and some grafana Graphs, but we don't have a system which is capable of sending notifications and visulize MEtrics and Logs.
Our Monitoring Tool Check MK is

[2020-10-07 06:30] elasticmachine commented on #21606
Pinging @elastic/integrations (Team:Integrations)

[2020-10-07 06:30] elasticmachine commented on #21606
Pinging @elastic/integrations-services (Team:Services)

[2020-10-07 07:11] beetlikeyg087 opened #21607 "Packetbeat - Duplicated flow records even intermediate report is disabled"
I found there are multiple logs were sent of a flow even intermediate report is disabled.
<img width="1680" alt="Screen Shot 2563-10-06 at 16 59 59" src="https://user-images.githubusercontent.com/26866007/95298688-ae7db780-08a6-11eb-9ce4-99c331ceb8ee.png">

As I understand, the flow id should be uniqued and when flow.final is to true, doesn't that mean there should be no more data for this flow?

[2020-10-07 07:59] srikwit commented on #21067
Sorry team, I would like to reopen this issue. I am still facing issues with this setup. The only reason it worked for me because I had used a superuser credential. The packetbeat user with the following permissions did not work for me:
[code]

[2020-10-07 08:24] v1v opened #21609 "[build] proxy.golang.org might be not available"
### Command

[code]

Build -> [here](https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2Fmaster/detail/master/511/pipeline)

### Stacktrace
[code]

### Actions

Can the download dependencies independently of the make/mage goal in a way we could run a retry in the CI if there are instabilities in the third party systems?

The below pseudo-code shows what I meant:

[code]

[2020-10-07 09:16] mtojek commented on #14734
I think it's the right moment to extract it. There are more places that can leverage from that:

https://github.com/elastic/integrations/blob/master/dev/import-beats/common.go
https://github.com/elastic/elastic-package/blob/master/internal/common/mapstr.go
https://github.com/elastic/package-spec/blob/master/code/go/internal/validator/mapstr.go

Do you have any proposals for the package name? `gith

[2020-10-07 10:03] v1v opened #21617 "[BUILD][libbeat] stress-tests make goal does not work"
### Command

[code]

Some build examples:
- [here](https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats/detail/PR-21614/1/pipeline/891#step-2353-log-1) and
- [master build](https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats/detail/master/511/pipeline/643#step-1699-log-1) with 2.0 pipeline
- [7.9 build](https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2

[2020-10-07 10:33] #21596 closed

[2020-10-07 10:47] mdelapenya opened #21620 "ubi8 images are not pushed to the observability-ci registry"
cc/ @elastic/observablt-robots

[2020-10-07 10:48] urso commented on #14734
If possible I'd rather get rid of MapStr, instead of depending on it more and more. If possible, prefer proper types. Is there a good reason why MapStr was prefered in these other projects?

Anyways, the ask seems to be about being able to reuse MapStr outside of Beats. A separate repository would make sense, such that not all projects depend on Beats.

[2020-10-07 10:58] narph commented on #21363
The GetById resource API does return the zone but it looks like it is not mapped inside the Azure SDK.
Someone has already raised this issue https://github.com/Azure/azure-rest-api-specs/issues/3358 for the vm scalesets , will raise an issue as well.

[2020-10-07 11:18] mtojek commented on #14734
Proper typing might hard to introduce in the following cases:

1. Processing Kibana dashboards. I'm not sure if there is schema defined somewhere and it would be hard to follow potential changes (see: https://github.com/elastic/elastic-package/blob/master/internal/builder/dashboards.go#L58).
2. Expanding different manifest YAML files for validation against JSON schema. JSON schema depends only on

[2020-10-07 11:35] farrp opened #21623 "Use standard ECS fields for Windows events"
Many of the raw Windows events contain data that can be placed in ECS-compatible fields, for example the following mappings are common to any event where they exist:

- "[winlog][event_data][ProcessName]" => "[process][executable]"
- "[winlog][event_data][ProcessId]" => "[process][id]"
- "[winlog][event_data][IpPort]" => "[source][port]"
- "[winlog][event_data][ParentProcessName]" => "[process][pa

[2020-10-07 11:53] amitavmohanty01 commented on #20849
@mtojek please take a look at https://discuss.elastic.co/t/exiting-resource-metricbeat-7-4-2-exists-but-it-is-not-an-alias/206685 as well.

I am currently seeing the same error again.

[2020-10-07 12:20] ph commented on #21617
@urso Might known more here.

[2020-10-07 12:23] ph commented on #21601
@EricDavisX @blakerouse did we have a theory of what was causing this?

[2020-10-07 12:28] blakerouse commented on #21601
@ph At the moment, I do not have any ideas on why this would be happening. Waiting for newest snapshot to do some of my own testing.

[2020-10-07 12:35] ph commented on #21485
@michalpristas @EricDavisX I believe this issue can be closed.

[2020-10-07 12:41] rahulgupta-qasource opened #21627 "[Agent] Error 'Failed to rotate backups' displayed on installing Elastic Agent on Windows with install command"
**Kibana version:**
Kibana: 8.0.0-SNAPSHOT cloud environment with commit 6f983728d7f8c2cf065a6d5099157a5cfdc3cd08

**Elasticsearch version:**
Elasticsearch: 8.0.0-SNAPSHOT cloud environment

**Host OS and Browser version:**
Windows , All

**Original install method (e.g. download page, yum, from source, etc.):**
From 8.0.0-SNAPSHOT cloud environment

**Description**
Error is displayed in powershell

[2020-10-07 12:42] elasticmachine commented on #21627
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-07 12:43] rahulgupta-qasource commented on #21627
@muskangulati-qasource Please review the bug.

[2020-10-07 12:48] EmViKay commented on #21528
@kaiyan-sheng we have the same issue.
Do you have some deadline for this task?

[2020-10-07 12:49] blakerouse commented on #21627
@rahulgupta-qasource Are you sure that you did not have the log open in Notepad or by another program?

[2020-10-07 12:51] EricDavisX commented on #21601
QA reported that (I think with the same build) that Win 10 x64 was working - its possible I have the machine in a bad state.  But it may end up pushing me to do some more upgrade tests to ensure the desired path for moving from 7.9.x to 7.10.x is working

[2020-10-07 13:16] deepikakeshav-qasource commented on #21627
Reviewed and assigned to @EricDavisX

[2020-10-07 13:23] rahulgupta-qasource commented on #20205
Hi Eric

We have observed that changes for availability of upgrade agent option are not reflected on latest 8.10.0-SNAPSHOT cloud environment.

Created 09 testcases and executed under the TestRun https://elastic.testrail.io/index.php?/runs/view/723&group_by=cases:section_id&group_order=asc

As per bug [#79644](https://github.com/elastic/kibana/issues/79644), changes are not merged.

We will test t

[2020-10-07 13:44] kuisathaverat opened #21630 "[CI] Launch packaging job on go.mod changes"
Some changes on the `go.mod` file can break the packaging, in order to avoid introducing dependencies that don’t build on some platforms, we want to launch the packaging job on those changes.

https://github.com/elastic/beats/issues/21596

[2020-10-07 14:03] kuisathaverat commented on #18614
We fixed the workers to Ubuntu 18.04 the version of Python used now is 3.6.9 final: 2019-07-02.

[2020-10-07 14:03] #18614 closed

[2020-10-07 14:22] kuisathaverat commented on #20129
It is compatible with centOS7+, Ubuntu 14.04, Debian 7+

[2020-10-07 14:23] #20129 closed

[2020-10-07 14:25] kuisathaverat commented on #19677
when we have the compatibility matrix of journalbeat we will open a new issue to prepare the cross-build images, there are two PRs related to this issue with the proposals

[2020-10-07 14:25] #19677 closed

[2020-10-07 14:48] EricDavisX commented on #21627
Assign Blake / PH to confirm who can work it

[2020-10-07 14:49] EricDavisX commented on #21601
And the snapshot for today may not be out, we might try to find a way to make progress instead of waiting, unless we have other high priority items to do (which we may)!

[2020-10-07 15:07] blakerouse commented on #21627
I am only able to reproduce this with when I have the log file open. The error is expected in that case and it doesn't block the installation or enrollment.

[2020-10-07 15:08] EricDavisX commented on #21601
I find that Win 10 works for me, and my win 7 with a full wipe and revert to a known good clean state still fails as noted.  So it may be a distinct problem for some reason.  And Win 10 is having different problems with Endpoint, to be logged separately

[2020-10-07 15:15] SlavikCA commented on #14348
The issue still exists: you still can't specify pipeline for module

[2020-10-07 15:21] williamd67 commented on #21412
Azure Event Hub does not support, as far as I know, any other compression on the output level.

I do not completely understand _another_. As far as I could determine this is not supported yet.

Creating a propriety filebeat version with the content compression (json-gzip-codec) is quiet straight-forward especially as codecs are plugins. I filed the request as my assumption is that more people have

[2020-10-07 15:27] ph commented on #21627
I think this is a _correct_ behavior here too, @rahulgupta-qasource Can you confirm  https://github.com/elastic/beats/issues/21627#issuecomment-705000467 ?

[2020-10-07 15:39] ph commented on #21544
@liza-mae I reassign it to you, I am not sure if it was the right thing. I am unfamiliar if QA will run the above scenario again?

[2020-10-07 15:42] liza-mae commented on #21544
Thanks @ph yes I will verify the fix, still waiting on a good build from release manager.

[2020-10-07 15:56] #21392 closed

[2020-10-07 16:20] adriansr opened #21648 "Netflow: Support v9 biflows by Cisco Meraki devices"
**Describe the enhancement:**

Filebeat's Netflow input interprets Netflow v9 fields as IPFIX fields (fields 0-127 of IPFIX are supposed to be compatible with fields 0-127 of NetFlow v9). However, there's some issues with field IDs 23 and 24, which have a different meaning in the Cisco Meraki:

The RFCs define these and related fields as:

| ID | NetFlow v9 |  | IPFIX |  |
| --- | --- | --- | ---

[2020-10-07 16:23] EricDavisX opened #21651 "[Agent] Win 10 Agent shows a failure to deploy Endpoint in Activity Details in Fleet"
I find there are 'Metricbeat' failures during start up on my 8.0 Snapshot Elastic Agent, but I'm expecting that using Endpoint should be truly distinct from that, so logging this.

hash of agent is: af3cda3c from build on Oct 6
Kibana info is$ git show -s 6f983728d7f8c2cf065a6d5099157a5cfdc3cd08
Date: Tue Oct 6 09:46:56 2020 +0300

The error in the Activity details is below, note that Agent is on-

[2020-10-07 16:24] elasticmachine commented on #21651
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-07 16:24] EricDavisX commented on #21651
Blake had the idea to run the Endpoint installer separately to see how it goes on that side to isolate problems:
https://snapshots.elastic.co/8.0.0-af3cda3c/downloads/endpoint-dev/endpoint-security-8.0.0-SNAPSHOT-windows-x86_64.zip

I can try to get that done.

[2020-10-07 16:51] bschaeffer opened #21653 "Stats server should make harvester per file stats opt-in/out"
**Describe the enhancement:**

When enabled, the stats server started by filebeat for version 7.7.1 renders harvester statistics that include _per-file_ stats like so:

[code]

It would be great if the inclusion of the `harvester.files` was metric was configurable. Something along the lines of:

[code]

**Describe a specific use case for the enhancement or feature:**

We do not limit the number of

[2020-10-07 16:59] jsoriano commented on #17965
I have seen this failure when trying to reproduce other issue, I have added the trace to the issue description:
[code]

[2020-10-07 17:03] bschaeffer commented on #21653
I also think it might be good enough to extract this to its own endpoint: `/stats/harvester`

[2020-10-07 17:07] jsoriano opened #21656 "Flaky test TestOutputReload"
## Flaky Test

* **Test Name:** `TestOutputReload`
* **Link:** https://github.com/elastic/beats/blob/7028e2c9779bff69f7d526af69eb804c024e5776/libbeat/publisher/pipeline/controller_test.go#L39
* **Branch:** Seen in https://github.com/elastic/beats/pull/21629, but also in other PRs.
* **Notes:** Can be reproduced locally with `go test -count=...`, seems to be a possible goroutines leak.

### Stack T

[2020-10-07 17:07] elasticmachine commented on #21656
Pinging @elastic/integrations-services (Team:Services)

[2020-10-07 17:25] EricDavisX commented on #21651
the the Windows installer test shows an error including "cannot verify the digital signature...' so maybe its the same type of .asc relating file problem we'd had?  Or maybe this just isn't a valid test to confirm the Endpoint anymore, I'm unsure.

screenshot:
<img width="911" alt="Screen Shot 2020-10-07 at 12 46 31 PM" src="https://user-images.githubusercontent.com/12970373/95365779-960a9e80-08a0

[2020-10-07 17:50] rjthielen opened #21658 "Filebeat Cisco module doesn't correctly parse 305011, 302015, 302013, or 722051 message types"
Version: 7.9.2
Platform: Debian 10.5
cf. [https://discuss.elastic.co/t/filebeat-cisco-module-cant-parse-305011-302015-302013-or-722015-message-types/250882](url)
Related issue: [https://github.com/elastic/beats/pull/17964](url)

Summary: dissect patterns in asa-ftd-pipeline.yml do not parse Cisco message numbers 305011, 302015, or 302013 when a user identity is present.

Recommended Solution: repl

[2020-10-07 17:59] elasticmachine commented on #21653
Pinging @elastic/integrations-services (Team:Services)

[2020-10-07 18:08] andresrc commented on #21609
My understanding is that we want to add an artifactory proxy (when available) as an additional safety net. The proxy has been pretty stable so far afaik (not 100% of course).

[2020-10-07 18:33] douglasday opened #21659 "Filebeat fails to properly bind to correct syslog_port when assigned syslog_host IP post-start."
When filebeat is started but does not currently own the configured syslog_host, it will fail to properly bind to the configured syslog_port(s) when the host does eventually does attain this IP.

1. Have 2 VM's `A` and `B` with their own unique IP addresses
1. Using UCARP (or some other IP fail-over tool), if `A` falls over, it's IP address will automatically be assigned to `B`
1. Start filebeat on

[2020-10-07 19:05] EricDavisX commented on #21651
after changing testsigning this vm is working fine.  sorry for the bother, i don't know how it got set incorrectly.

[2020-10-07 19:05] #21651 closed

[2020-10-07 19:19] #20715 closed

[2020-10-07 20:14] ycombinator opened #21661 "Potential memory leak in `logstash-xpack` Metricbeat module"
For confirmed bugs, please report:
- Version: 7.8.1
- Operating System: Mac OS X
- Steps to Reproduce:
   1. Create a sufficiently large (> 500 vertices) Logstash pipeline.
   2. Start Logstash with this pipeline.
   3. Disable all modules in Metricbeat.
   4. Enable the `logstash-xpack` module.
   5. Edit `modules.d/logstash-xpack.yml` and set `period: 500ms`. This will speed up collection and me

[2020-10-07 20:15] ycombinator commented on #21661
Notes from @urso and @ycombinator:

[2020-10-07 20:27] EricDavisX commented on #21627
removing 'high' impact for now, if it doesn't block install. and i don't see this on other vms.

[2020-10-07 20:50] EricDavisX opened #21663 "[Agent] Reboot of Agent (with Endpoint installed) shows an temporary failure in Agent Activity log regarding bind port 6788"
Not sure if this is high priority, but its scary and is certainly big red warning that goes away so maybe we could squash it (if it isn't otherwise important to fix).

It seems a reboot of a Windows host with Endpoint enabled will yield a red ‘error’ state in the Agent activity log:

MessageApplication: endpoint-security--8.0.0-SNAPSHOT[3a872887-901b-4839-a139-6b15b549a0a2]: State changed to FAILE

[2020-10-07 20:50] elasticmachine commented on #21663
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-07 20:54] ph commented on #21663
I think we have discussed that issue yesterday in a zoom call,  @blakerouse _idea_ was this would be fixed by locking introduced in a [PR](https://github.com/elastic/beats/pull/21573) from @michalpristas. IIRC this build from october 6 didn't include that fix.

[2020-10-07 21:22] EricDavisX commented on #21663
Thanks PH. I had thought that was a different symptom and fix (about .asc files only) but I see his pr has to do also with configs in general - so I can see that it relates to this now.

Further, I'm seeing another scenario too that seems to relate, when changing policy (from Endpoint Admin page) it started throwing an error repeatedly as Endpoint-security is stuck in a loop trying to re-start.
<i

[2020-10-07 21:25] EricDavisX commented on #21663
the policy update also manifested on a linux host as the exact .asc file problem.  lol see this screenshot:
<img width="968" alt="Screen Shot 2020-10-07 at 5 25 16 PM" src="https://user-images.githubusercontent.com/12970373/95389659-23121f80-08c2-11eb-898c-9f91a55075ee.png">

[2020-10-07 23:52] #21231 closed

[2020-10-08 01:35] andrewkroh opened #21668 "[Packetbeat] Panic in SIP parser"
I'm seeing `runtime error: slice bounds out of range [:-1]` from the SIP parser in Packetbeat.

Version: `packetbeat version 8.0.0 (arm64), libbeat 8.0.0 [7028e2c9779bff69f7d526af69eb804c024e5776 built 2020-10-07 19:02:26 +0000 UTC]`

[code]

https://github.com/elastic/beats/blob/7028e2c9779bff69f7d526af69eb804c024e5776/packetbeat/protos/sip/plugin.go#L503-L507

I do have a pcap that I can share p

[2020-10-08 05:29] elasticmachine commented on #21659
Pinging @elastic/integrations-services (Team:Services)

[2020-10-08 05:33] andresrc commented on #20752
@kvch can you take a look?

[2020-10-08 08:15] marc-gr opened #21673 "[Packetbeat][SIP] Add support to parse packets that use `Content-Encoding`"
**Describe the enhancement:**

Currently SIP proto in packetbeat does not support content encoded packets. In a similar way as the HTTP proto, we need to add support to decode the body with various encodings.

**Describe a specific use case for the enhancement or feature:**

If a packet is using content encoding, we want to be able to parse the body to map it to the corresponding fields. Right now

[2020-10-08 08:15] elasticmachine commented on #21673
Pinging @elastic/siem (Team:SIEM)

[2020-10-08 08:58] michalpristas commented on #20693
Closing, fixed by https://github.com/elastic/beats/pull/21406

[2020-10-08 08:58] #20693 closed

[2020-10-08 09:04] michalpristas commented on #19550
went through configuration files and I dont see wrong intentation anywhere. can we close this @EricDavisX

[2020-10-08 09:42] marc-gr opened #21674 "[ECS] Upgrade modules to 1.7"
Required changes to upgrade beats modules to 1.7:

- [x]  After 1.7 is released, update ecs dependency to 1.7 e.g.: #20792

Using https://github.com/elastic/ecs-dev/issues/199 as reference:

**Experimental**

*Use of basic types with wildcard elastic/dev#1508 elastic/ecs#970*:
(important note: **Going with option 2 will require each Beat to implement this fallback mechanism to replace wildcard to

[2020-10-08 09:42] elasticmachine commented on #21674
Pinging @elastic/siem (Team:SIEM)

[2020-10-08 09:47] kvch commented on #20752
@EugRomanchenko could you please share the logs of Filebeat?

[2020-10-08 09:51] #21489 closed

[2020-10-08 10:11] EugRomanchenko commented on #20752
Sure.
[code]

[2020-10-08 11:11] kvch commented on #20752
Could you please include lines which include metrics? Lines which start with `"Total non-zero metrics"`? Also, the output of the metrics endpoint would be nice (curl -s -XGET 'localhost:5066/stats?pretty').

[2020-10-08 11:16] #21620 closed

[2020-10-08 11:20] EugRomanchenko commented on #20752
<details>
  <summary>Filebeat Logs</summary>

[code]
</details>
<details>
  <summary>curl -s -XGET 'localhost:5066/stats?pretty'</summary>

[code]
</details>

[2020-10-08 11:36] EugRomanchenko commented on #20752
![image](https://user-images.githubusercontent.com/36865158/95453415-7bedc080-0973-11eb-9cdd-bb6b29d9c266.png)
I attach an image confirming that the logs successfully get into ES.

[2020-10-08 12:59] rahulgupta-qasource commented on #21627
Hi @blakerouse / @ph

Failed to rotate backups error is still displayed when log file is not open on enrolling Windows agent. Windows agent is successfully enrolled under agents tab.

![failed to rotate backups](https://user-images.githubusercontent.com/59917944/95461720-31c90700-0994-11eb-841b-b0acbf1a95b2.jpg)

[2020-10-08 13:07] kvch commented on #20752
I think the tagging went wrong on the issue. Unfortunately, the fix was not released in v7.9.2. It is going to be published in v7.9.3. I can see it on our 7.9 branch, but it is after the 7.9.2 tag. I am sorry for your inconvenience.

[2020-10-08 13:12] jsoriano opened #21685 "Test output of go tests is not printed in CI"
When a go test fails, its output is not printed, difficulting the investigation of the problem.

For example the stacktrace of the failure in [this build](https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats/detail/PR-21671/2/tests) is only displayed as:
[code]

The problem may be in the library we use to parse the output to generate the junit files: https://github.com/elastic/beat

[2020-10-08 13:18] EugRomanchenko commented on #20752
Thanks. We will wait for the release of 7.9.3.

[2020-10-08 13:27] #21668 closed

[2020-10-08 13:58] cunninghamba commented on #8086
I was able to get around this issue by adding the following to my filebeat.yml config file:
`setup.ilm.enable: false`
I hope this helps you

[2020-10-08 14:27] #21220 closed

[2020-10-08 14:35] EricDavisX commented on #19550
yes, closing it out - thanks Michal

[2020-10-08 14:35] #19550 closed

[2020-10-08 15:13] liza-mae commented on #21544
Verified latest CI is green, closing.

[2020-10-08 15:13] #21544 closed

[2020-10-08 16:28] elasticmachine commented on #21158
Pinging @elastic/integrations-services (Team:Services)

[2020-10-08 17:12] v1v commented on #21609
It has failed again

![image](https://user-images.githubusercontent.com/2871786/95491625-c3834500-0991-11eb-8c96-55bed36d6c05.png)

[build for 7.10](https://beats-ci.elastic.co/job/Beats/job/beats/job/7.10/7/testReport/junit/(root)/beater/Build_Test___filebeat_macos_macosx____setup_failed_/)

I raised https://github.com/elastic/beats/pull/21614 to add more resilience in the CI by running a few tim

[2020-10-08 17:15] webmat commented on #21674
@marc-gr If the team would rather tackle only 1/2 of the experimental changes (e.g. only wildcard), you're welcome to do so.

Me or @ebeahan can help you get the artifacts you need, to only grab the relevant experimental changes, rather than both changes at once.

[2020-10-08 19:15] MakoWish commented on #9600
This is an old thread, but I am now seeing this on Filebeat 7.9.2 for the Suricata Eve pipeline.

[code]

I did try doubling the limit to 150/5m (below) to test, but the setting does not seem to be taking effect. The logs are still showing the max is 75/5m (above log is after making the change). Does the cluster need to be restarted for the setting to take effect?

[code]

Response:

[code]

[2020-10-08 19:58] EricDavisX opened #21695 "[Agent] the Elastic-agent.exe version command on Windows x64 is not responding when called from the Progam Files installed file location"
verison info:
8.0 snapshot tested on cloud

edavis-mbp:kibana_elastic edavis$ git show -s 43495d80ba02199216bf7f5679ea67874cb690f7
commit 43495d80ba02199216bf7f5679ea67874cb690f7
Date:   Wed Oct 7 18:53:19 2020 -0600

Agent:
https://snapshots.elastic.co/8.0.0-af3cda3c/downloads/beats/elastic-agent/elastic-agent-8.0.0-SNAPSHOT-windows-x86_64.zip

**Describe the bug:**
I'm not sure if this ever work

[2020-10-08 19:58] elasticmachine commented on #21695
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-08 20:36] #10045 closed

[2020-10-08 21:38] legoguy1000 commented on #18755
same on centos 7.8 with auditbeat 7.8.1 and 7.9.2

[2020-10-08 22:00] JSkier21 commented on #20849
From what I can tell, there is an issue with legacy and new templates. Once I set these to true in the filebeat.yml, the problem resolved right away. I believe the manual template method will work was well, but I have not tried that.

I did not have a data loss problem, however I did clone first, to avoid any data loss just in case - I recommend the same.

[code]

[2020-10-08 23:46] dudumiquim commented on #21351
Hi @kaiyan-sheng . I update to 7.9.2 and the problem are not happens anymore.
Thank you per attention.

[2020-10-08 23:55] aschifman opened #21697 "Filebeat user settings don't allow install"
I have attempted to follow instructions to configure a Filebeat installation role/user profile.

[Grant privileges and roles needed for setup](https://www.elastic.co/guide/en/beats/filebeat/current/privileges-to-setup-beats.html)

This process does not to work for Cloud deployments. I have attempted versions **7.8** and **7.9.2** using the **Elastic Stack** and **Observability** deployment solutio

[2020-10-09 00:02] elasticmachine commented on #21697
Pinging @elastic/integrations-services (Team:Services)

[2020-10-09 01:12] kaiyan-sheng commented on #21351
@dudumiquim Thank you for the update! I will close this issue for now. Feel free to reach out if there's any other problem 🙂

[2020-10-09 01:12] #21351 closed

[2020-10-09 06:30] odidev opened #21699 "Update to bionic from trusty distribution in travis and add ARM64 support in travis"
**Describe the enhancement:**
I am trying to add ARM64 jobs in Travis-CI. I am facing issues in ARM64 jobs due to trusty distribution as ARM64 does not run in trusty for Travis. So I have updated the distribution to **bionic** and replaced **libsystemd-journal-dev** with **libsystemd-dev**. But after doing this some of the jobs start to fail for amd64.

Are you planning for updating the distributi

[2020-10-09 11:28] abraxxa commented on #6872
The Checkpoint log exporter sends the logs in RfC5424 format by default which is why this is required for the Checkpoint module to work.
Currently it fails with `can't parse event as syslog rfc3164`.

Please prioritize this, we're also a paying Elastic customer, thanks!

[2020-10-09 12:45] digitaldavenyc commented on #8086
I figured out what my issue was, I had to disable the nginx module AND add `setup.ilm.enable: false` to the filebeat.yml

I've had it with the pissing contest between Elastic and AWS, this would not be an issue otherwise.

[2020-10-09 18:36] #9836 closed

[2020-10-12 07:26] ibrahimyesilay commented on #10958
Guys after you do changes with the default.json do not forget to reload filebeat. You do that with `filebeat setup --pipelines --modules apache2`

after this it should work if your Grok expression is right! Mein had same error with yours but my grok was right! So was keep getting this error!!!

[2020-10-12 07:27] ibrahimyesilay commented on #10958
But now I add this line to all my filebeat.yml file! It is always making sure that pipeline configuration is reloaded after every restart!!

`filebeat.overwrite_pipelines: true`

[2020-10-12 09:03] narph opened #21707 "Metricbeat azure module - filter by resource ID returns none in some cases"
Issue occurs when retrieving resources by ID and for some specific namespaces.
When using the List REST api:
listing resourceId conditions does not seem to work with the API, extracting the name and resource type does not work as the position of the `resourceType` can move if a parent resource is involved, filtering by resource name and resource group (if extracted) is also not possible as differe

[2020-10-12 09:05] elasticmachine commented on #21707
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-12 09:58] EdisonHarada opened #21708 "[Functionbeat][AWS] Can't Verify Bucket"
The current quick start for functionbeat (7.9.2) is not working. (https://www.elastic.co/guide/en/beats/functionbeat/current/functionbeat-installation-configuration.html)

After setup all the steps apparently it still can't find the bucket.
I tested it with environment variables and also AWS Profiles and both didn't work, I also tried multiple random bucket names and all of them returned the same

[2020-10-12 11:55] jsoriano opened #21710 "Instantiate a common Sarama logger for debugging"
Sometimes the only way to investigate issues connecting with Kafka is to take a look to the Sarama logs. Sarama uses for logging a global logger, defined as [`Logger`](https://godoc.org/github.com/Shopify/sarama#Logger) in the top-level of the package. This means that all features using Sarama in the same binary, use the same logger, this makes it difficult to enable selective debugging.

Kafka ou

[2020-10-12 11:55] elasticmachine commented on #21710
Pinging @elastic/integrations-services (Team:Services)

[2020-10-12 13:00] fadenb commented on #1034
I automated the build of FreeBSD AMD 64bit filebeat binaries for my usecase at work.
I automated the build of the filebeat binaries for FreeBSD using GitHub actions. In theory, it should automatically build a freebsd/amd64 release for every version that is tagged upstream.

See https://github.com/omniitgmbh/beats/releases for the output.

[2020-10-12 13:07] rahulgupta-qasource commented on #21019
Hi Eric,

We have created and executed 08 install persistent reboot tests  undder Install persistent reboot tests(https://elastic.testrail.io/index.php?/runs/view/734) Testrun.

We have failed 01 testcase due to defect https://github.com/elastic/beats/issues/21424 and blocked 03 due to below queries :-

Queries:
1. For testcase: https://elastic.testrail.io/index.php?/tests/view/138142
On executing

[2020-10-12 14:05] #21581 closed

[2020-10-12 14:28] blakerouse commented on #21695
I am interested in the state of your Elastic Agent. Seems like the running background Agent might be having an issue. Does the command ever timeout?

I just tried reproducing this on Windows 10 x64 with the 7.10.0 BC1 and I was un-able to reproduce the issue:

[code]

[2020-10-12 14:33] blakerouse commented on #21627
I have been able to reproduce this. I think the issue is that enroll tries to rotate the logs while the Elastic Agent daemon is running in the background. I think that enroll should not be writing too that file at all as its a CLI command and not a daemon that should be writing to that file.

Again the error is not critical, but it does look bad.

[2020-10-12 14:35] blakerouse commented on #21424
@EricDavisX have you been able to test 7.10.0 BC1 to see if this is fixed? I have not been able to reproduce it on my Windows testing.

[2020-10-12 15:29] akhamar commented on #21411
Tried many different approach, but following the example in the link give me the multiple `retryer: send unwait signal`

[2020-10-12 15:55] blakerouse opened #21718 "[Elastic Agent] Partial extracted beat result in failure to spawn beat"
If Elastic Agent is stopped during a extraction of a beat or any application the resulting extraction can become incomplete if Elastic Agent is stopped while the extraction is occurring. The partial extracted folder is not removed during stop and on the next start the newly running Elastic Agent process will think the extraction was successful and run that binary. The starting of the binary can re

[2020-10-12 15:55] elasticmachine commented on #21718
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-12 15:56] blakerouse commented on #21718
Best solution is probably to perform extraction into a temporary folder then only move to the correct directory name, once extraction is successful. That would ensure that even if the program crashed or was hard killed would not result in a bad extraction.

[2020-10-12 16:54] aschifman commented on #20878
I am still seeing misrepresented comments/instructions in 7.9.2 Filebeat gcp.yaml file and also noticed that Stackdriver is used, however, it is now called Google Cloud Logging.

![gcp_audit_yml](https://user-images.githubusercontent.com/66136604/95771919-e495af80-0c89-11eb-912c-586f10913c08.png)

[2020-10-12 18:10] urso commented on #21617
We did disable these stress tests a long time ago on Travis. These test the publisher pipeline by setting up a fake input and fake output with different profiles (blocking, slow, fast, eventual event drops and other scenarios). These are run for the memory queue and spooling to disk. We have had to disable them, because of performance issues in Travis, especially with spooling making almost no pro

[2020-10-12 19:56] elasticmachine commented on #21708
Pinging @elastic/integrations-services (Team:Services)

[2020-10-12 19:57] andrew-goldstein opened #21725 "[Bug] [auditbeat] [winlogbeat] Running `setup` with `setup.ilm.check_exists: false` creates invalid mappings (`text` for `keyword` fields), effecting the Security app"
### Running `setup` with `setup.ilm.check_exists: false` creates invalid mappings (`text` for `keyword` fields), effecting the Security app

- Version: `7.9`, `7.10 BC1`
- Operating System: `Windows 10`, `macOS Catalina 10.15.7`
- Discuss Forum URL: https://discuss.elastic.co/t/elastic-7-9-1-security-siem-your-visualization-has-error-s-illegal-argument-exception/250265

As [reported by a user in D

[2020-10-12 19:57] elasticmachine commented on #21725
Pinging @elastic/siem (Team:SIEM)

[2020-10-12 20:01] elasticmachine commented on #21699
Pinging @elastic/integrations-services (Team:Services)

[2020-10-12 20:19] EricDavisX commented on #21424
have not tested 7.10 BC yet - I saw a good report that 7.10 Agent tests were all passing tho... so its likely fixed.  let me review the specific vm / test case later on 7.10 and 8.0 both I guess, and we can close it out.

[2020-10-12 20:41] kaiyan-sheng opened #21726 "[Filebeat] json unmarshal error in S3 input"
There are users seeing this error message or similar when using s3 input:
[code]

[code]
This issue is to track the process on fixing this issue.

Discuss forum issues:
https://discuss.elastic.co/t/s3-filebeat-input-cloudfront-logs-handlesqsmessage-failed-json-unmarshal-sqs-message-body-failed/239716
https://discuss.elastic.co/t/s3-filebeat-input-error/246654

[2020-10-12 20:41] elasticmachine commented on #21726
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-12 21:45] andrewkroh commented on #21725
@andrew-goldstein Did the index template get installed? Does `GET _template/winlogbeat-7.10.0` return a template?

I suspect that having `setup.ilm.check_exists: false` causes critical parts of ILM and index template setup to not occur when running the `setup` command. This setting is typically used to operate a Beat (after setup) without `read_ilm` cluster privileges. You'd do this when you have

[2020-10-12 22:42] deepayel opened #21728 "Auditbeat unable to capture the bash builtin commands, variables and I/O redirections"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2020-10-12 22:43] #21192 closed

[2020-10-13 01:47] CpuID commented on #10890
+1. Our rationale for this: proxying filebeat traffic unmodified between Amazon VPCs over VPC peering, with compression enabled. We currently go Filebeat -> Redis -> Logstash -> Elasticsearch, with Filebeat in various VPCs, and Redis/Logstash/Elasticsearch in a single VPC (with AZ specific deployments). We would then go Filebeat (source VPC) -> lumberjack with compression -> Filebeat (log storage

[2020-10-13 04:36] #13976 closed

[2020-10-13 06:19] mtojek opened #21733 "[Metricbeat][statsd] runtime error: invalid memory address or nil pointer dereference"
It looks like there is a bug in `statsd` module causing a panic, when the host is not provided:

[code]

[2020-10-13 06:49] elasticmachine commented on #21733
Pinging @elastic/integrations (Team:Integrations)

[2020-10-13 07:40] michalpristas commented on #21718
I had the very same strategy in mind for this ;-)

[2020-10-13 09:19] rajeshrgithub commented on #15785
In this case, Do I need to install Go toolchain separately on Power 8 or already built in function. What are the pre-requisite required inorder to start up metricbeat on Power 8.

[2020-10-13 09:36] Helflym commented on #15785
Normally, you don't need anything special, not even the Go toolchain. The metricbeat provided by BullFreeware is static.

[2020-10-13 10:03] rajeshrgithub commented on #15785
Thanks for your response. Only metricbeat-7.5.2-1.aix7.2.ppc.rpm package is enough from AIX client side right. I will be testing this package on ini power 8 server

[2020-10-13 10:07] jsoriano commented on #19641
@v1v what do you think about disabling the test under windows and then enabling windows-2016 in the pipeline for filebeat?

[2020-10-13 10:28] #21248 closed

[2020-10-13 11:08] #12096 closed

[2020-10-13 11:08] #14389 closed

[2020-10-13 12:23] marc-gr commented on #21067
@srikwit after configuring your kibana options under `setup.kibana.*`, are you getting the same `500` error, or is it a different one now?

[2020-10-13 12:40] rahulgupta-qasource opened #21744 "Error "failed to copy source directory (C:\Program Files\Elastic-Agent)" in powershell is displayed on installing the agent after enrolling and running it"
**Kibana version:**
Kibana: 7.10.0 BC1 cloud environment with commit 7a9f9132fffd8567ce3b985dde8bea6529e8fa3c

**Elasticsearch version:**
Elasticsearch: 7.10.0 BC1 cloud environment

**Host OS and Browser version:**
Windows , All

**Original install method (e.g. download page, yum, from source, etc.):**
7.10.0 BC1 cloud environment deployed from Staging cloud platform https://staging.found.no

**D

[2020-10-13 12:52] elasticmachine commented on #21744
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-13 12:53] rahulgupta-qasource commented on #21744
@vipulsrivastava-qasource Please review the bug.

[2020-10-13 12:54] vipulsrivastava-qasource commented on #21744
Reviewed and assigned to @EricDavisX

[2020-10-13 13:11] jsoriano opened #21748 "Flaky test TestConfigOauth2Validation/date_cursor.date_format_will_fail_if_invalid"
## Flaky Test

* **Test Name:** `TestConfigOauth2Validation/date_cursor.date_format_will_fail_if_invalid`
* **Link:** https://github.com/elastic/beats/blob/1824e849978f248f4e2da75ae51732963379714a/x-pack/filebeat/input/httpjson/config_test.go#L366
* **Branch:** Seen in several branches.

### Stack Trace

[code]

[2020-10-13 13:11] elasticmachine commented on #21748
Pinging @elastic/siem (Team:SIEM)

[2020-10-13 13:12] v1v commented on #19641
Sounds good, I'll raise a PR with the `Skip` if windows then

[2020-10-13 13:26] andresrc commented on #21412
Hi! I edited my comment for some typos. What I meant with another is that we have already had some issues because of differences in the Kafka interface provided by EventHub.

Thanks

[2020-10-13 13:27] elasticmachine commented on #21617
Pinging @elastic/integrations-services (Team:Services)

[2020-10-13 14:01] #21707 closed

[2020-10-13 14:05] jsoriano commented on #21748
Hey @marc-gr, could this be related to #20751?

[2020-10-13 14:25] joshjanoski opened #21752 "[DOC] Add notes to Packetbeat docs related to bonded interfaces"
This is in relation to the issue here: https://github.com/elastic/beats/issues/21495 that is currently being looked into. If this issue is resolved, then a doc enhancement may not be needed, but I wanted to call out a specific scenario that would be worth noting until this is resolved.

The page here: https://www.elastic.co/guide/en/beats/packetbeat/current/configuration-interfaces.html#_sniffing_

[2020-10-13 14:27] v1v opened #21753 "dev-tools/mage/pytest.go for windows got some errors and warns in the console output"
When running `mage build unitTest` for `auditbeat` in Windows, there is an error in the console output:

[code]

As far as I see the file `dev-tools/mage/pytest.go` got the method `virtualenvPath` which somehow produces `"null\build\ve\windows\Scripts\pip install -U pip" `

[2020-10-13 14:32] andresrc commented on #21158
we won't initially add this documentation as we don't want this part to be considered a public API. We will look for other options to make this information available for consumers.

[2020-10-13 14:37] elasticmachine commented on #21752
Pinging @elastic/obs-docs (Team:Docs)

[2020-10-13 14:46] #21699 closed

[2020-10-13 15:29] andrew-goldstein commented on #21725
Thanks for your reply @andrewkroh!

The output from `GET _template/winlogbeat-7.10.0` is:

[code]

[2020-10-13 15:31] akhamar commented on #21411
This loop infinite time
[code]

[2020-10-13 15:41] tugwitt commented on #21733
This happened by including both `metricbeat.config.modules` and `metricbeat.modules`:

[code]

It goes away by just using `metricbeat.modules`:
[code]

[2020-10-13 15:46] v1v opened #21757 "[filebeat] in windows-2016 got some test failures TestSocketCleanup/TestReceiveNewEventsConcurrently"
## Flaky Test

* **Test Name:** TestSocketCleanup and TestReceiveNewEventsConcurrently
* **Link:** https://github.com/elastic/beats/blob/32d45264d27acb5c62a272431dff96c47d1dea83/filebeat/inputsource/unix/server_test.go#L257 and https://github.com/elastic/beats/blob/32d45264d27acb5c62a272431dff96c47d1dea83/filebeat/inputsource/unix/server_test.go#L300
* **Branch:** Git branch the test was seen in.

[2020-10-13 16:14] marc-gr commented on #21674
@jamiehynds maybe can give some input about what we want to do with the experimental changes

[2020-10-13 16:23] EricDavisX commented on #21744
I would ask if we should change this to an enhancement to make 'install' command more flexible or report better in the case it can detect an agent running in this case.

Rahul, regardless of the above, I wanted to ask if we can make sure we have a variation on this test case covered somewhere as:

- RDP to the endpoint and place the agent in C:/ProgramFiles directory
- Unarchive the agent
- Open p

[2020-10-13 17:28] sophiaxu8 opened #21768 "elastic-agent is reporting filebeat/metricbeat crash/restart loop and consumes CPU/RAM under Windows"
elastic-agent was logging filebeat/metricbeat crash/restarts under Windows , and during this process was consuming high CPU and Memory.

[code]

![renditionDownload](https://user-images.githubusercontent.com/18129911/95894873-9989a400-0d3e-11eb-922e-0dc44aa4ee3f.jpeg)

- `"elastic-agent-client got error: rpc error: code = Unavailable desc = connection error: desc = \"transport: authentication hand

[2020-10-13 17:40] andrewkroh commented on #16869
I'm adding docs in https://github.com/elastic/beats/pull/21766.

[2020-10-13 18:16] elasticmachine commented on #21768
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-13 18:37] andrewkroh commented on #21725
@andrew-goldstein So you do have the index template installed. Note that it applies to indices matching

[code]

When data was indexed where did it go? Can you share at the output of these?

[code]

My guess is that your data is contained in `winlogbeat-7.10.0` which is supposed to be an alias for ILM managed indices like `winlogbeat-7.10.0-2020.10.13-000001`. This would happen if the beat starts

[2020-10-13 18:40] ph commented on #21424
reassigned to @EricDavisX send it back to us if its still an issue.

[2020-10-13 19:05] hueyg commented on #9600
I have this same issue with the ASA module.  It is simply non functional for me with the same "too many dynamic scripts" errors.  Increasing the setting has no effect in my experience.  The issue is so bad that I have reverted back to an old logstash filter that is parsing the files fine, but it has broken ILM so I am having to manually delete large indecies manually.  My guess is that this module

[2020-10-13 19:07] ph commented on #21695
I think it's low impact.

I though initially its because the terminal is clicked and the "version" is interrupted? From eric this seems unlikely.

@blakerouse would the version command timeout if is not able to reach the daemon?

[2020-10-13 19:12] andrew-goldstein commented on #21725
### `GET _cat/aliases/winlogbeat*?v`

The output from running:

[code]

is

[code]

### `GET _cat/indices/winlogbeat*?v`

The output of:

[code]

is

[code]

[2020-10-13 19:30] EricDavisX commented on #21601
I can confirm that I still see this on the same Win 7 image, with the 7.10 BC1 build.

[2020-10-13 19:36] EricDavisX commented on #21424
it is not reproducible as noted here - i have other issues, but this is fixed.  closing.

[2020-10-13 19:36] #21424 closed

[2020-10-13 19:44] EricDavisX commented on #21695
I see it working on Win 10. When we can figure out what is wrong and fix my Win 7 environment I can re-test there, but this issue is likely a symptom of that issue where in the Agent just wasn't fully well and installed - that issue is: https://github.com/elastic/beats/issues/21601

[2020-10-13 19:47] jen-huang commented on #21601
I am consistently running into this when running Kibana from source (main branch) on my Mac. I'm encountering this using 7.10 and 8.0 snapshot builds of agent and when using either `install` or `enroll`/`run` methods.

Here are my agent logs, note that the first `/checkin` succeeds, but the rest after that - both `/acks` and `/checkin` fails with 404s. While the agent was re-trying the checkins, I

[2020-10-13 20:11] andrewkroh commented on #9600
If you look at `GET _nodes/stats` you can see the different script context and metrics:

[code]

I recommend checking those metrics to see if you have cache evictions. Ideally these would only be compiled at startup or when the pipeline is first loaded and data volume wouldn't have an impact. If you have evictions then that limit (`script.context.$CONTEXT.cache_max_size`) might need to be increase

[2020-10-13 20:35] #21718 closed

[2020-10-13 21:00] andrewkroh commented on #21725
I'm thinking that when the `beat setup` command is executed it should always setup the policy and rollover alias assuming `setup.ilm.enabled==true` (the default). This would make the docs for the command true (specifically the part about " ilm policy and rollover alias").

[code]

I'm pretty sure `setup.ilm.check_exists` was created to allow the beat to send events with least privileges. And was i

[2020-10-13 21:01] kaiyan-sheng commented on #21365
I'm closing this issue because the only one task left is to add `cloud.availability_zone` into azure, which is tracked by #21363. This issue is depends on a fix in Azure SDK so we don't know when will be resolved.

[2020-10-13 21:01] #21365 closed

[2020-10-13 21:14] blakerouse commented on #21695
@ph No it should not.

I am working on getting a Windows 7 VM setup so I can test on Windows 7. It seems to be having some issues specifically related to Windows 7.

[2020-10-13 21:36] #14047 closed

[2020-10-13 21:36] #14048 closed

[2020-10-13 22:10] kaiyan-sheng opened #21773 "[Libbeat] Move adding host.name into add_host_metadata"
Currently we have libbeat adding `host.name` before the global `add_host_metadata` processor is executed:
https://github.com/elastic/beats/blob/master/libbeat/publisher/processing/default.go#L337

We should move adding `host.name` into `add_host_metadata` in the future. Each module should also add their own `host.name` fields instead relying on `add_host_metadata` processor if possible.

[2020-10-13 22:10] elasticmachine commented on #21773
Pinging @elastic/integrations (Team:Integrations)

[2020-10-13 22:16] kaiyan-sheng opened #21774 "Change default value `replace_fields` to false in add_host_metadata processor"
We added this new config parameter `replace_fields` into `add_host_metadata` processor in https://github.com/elastic/beats/pull/20490 to make sure we have the ability to overwrite host.* fields or not. Right now, the default for `replace_fields` is `true`, which means `add_host_metadata` will overwrite host fields.

With recently added new fields for host inventory schema work and once these field

[2020-10-13 22:16] elasticmachine commented on #21774
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-13 22:17] kaiyan-sheng commented on #20464
Closing this issue with two separate followup issues created:
1. Move host.name to add_host_metadata: https://github.com/elastic/beats/issues/21773
2. Make breaking change in 7.11 for `replace_fields: false`: https://github.com/elastic/beats/issues/21774

[2020-10-13 22:17] #20464 closed

[2020-10-13 22:31] andrew-goldstein commented on #21725
I created another instance in Elastic Cloud, and ran `auditbeat setup` with

[code]

which produces the following output on the command line:

[code]

and produces the correct mappings.

### Summary

🟢 Running `setup` using defaults (without specifying a value for the `setup.ilm.check_exists` setting) results in correct mappings

🟢 Running `setup` with `setup.ilm.check_exists: true` results in cor

[2020-10-13 22:35] andrewkroh commented on #21725
How about `setup.ilm.check_exists: false` and `setup.ilm.overwrite: true` like the docs mention?

[2020-10-13 22:36] #14051 closed

[2020-10-13 23:30] jen-huang commented on #21601
Summarizing discoveries made with @neptunian @nchaulet @blakerouse async:

- This is only reproducible when Kibana is running with a base path. I can get agent activity logs to show in the UI if I run Kibana without a base path (and agent logs do not show Fleet connectivity issues any more).
- We think the issue is in the way Kibana sends `fleet` information to agent. Currently it sends the base p

[2020-10-14 00:33] sherry-ger opened #21777 "Support Beats on Oracle Linux with UEK"
**Describe the enhancement:**

It appears both Filebeat and Metricbeat work on Oracle Linux with UEK.  Please officially support Beats on Oracle Linux with UEK.

**Describe a specific use case for the enhancement or feature:**

The use case here is to support Beats on Oracle Linux with UEK.

[2020-10-14 00:36] #14053 closed

[2020-10-14 01:24] andrew-goldstein commented on #21725
I created another instance in Elastic Cloud, and ran `auditbeat setup` with

[code]

which produces the following output on the command line:

[code]

and produces **incorrect** mappings.

### Summary

🔴 Running `setup` with `setup.ilm.check_exists: false` and `setup.ilm.overwrite: true` results in incorrect mappings

[2020-10-14 08:36] exekias commented on #17467
This came again today, I think that adding `kubernetes.cluster.url` and `kubernetes.cluster.name` for now should be a quick win, and names are easy enough for user to discover them.

Once we reach the orchestrator layer in the inventory schema discussions we can revisit how this should look for all of them.

[2020-10-14 09:12] v1v commented on #21609
I've just seen another similar error when downloading some dependencies and checking the sum or so:

[code]

[build for master](https://beats-ci.elastic.co/blue/rest/organizations/jenkins/pipelines/Beats/pipelines/beats/pipelines/master/runs/550/steps/2038/log/)

![image](https://user-images.githubusercontent.com/2871786/95968717-b341ee80-0e05-11eb-8e4e-16d9b0396966.png)

[2020-10-14 09:41] jsoriano opened #21781 "Collect kafka cluster id in Metricbeat module"
Collect the [kafka cluster ID](https://cwiki.apache.org/confluence/display/KAFKA/KIP-78%3A+Cluster+Id) in Metricbeat module, so it is easier to separate metrics from different clusters.

Cluster ID can be obtained from a [Metadata Response object](https://godoc.org/github.com/Shopify/sarama#MetadataResponse), from clusters implementing [Metadata API version >= 2](https://kafka.apache.org/protocol)

[2020-10-14 09:41] elasticmachine commented on #21781
Pinging @elastic/integrations-services (Team:Services)

[2020-10-14 09:41] elasticmachine commented on #21781
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-14 09:53] mtojek commented on #21577
I'm afraid this might be too verbose, but let me ask @jsoriano for another opinion.

[2020-10-14 11:37] michalpristas commented on #21663
This should be fixed by #21573
Tested artifacts above do not include this fix
Today tested a flow multiple times:
- install agent
- update policy to include security
- update security policy

without any issues
<img width="1186" alt="image" src="https://user-images.githubusercontent.com/1522652/95983659-4b4dd100-0e22-11eb-9654-8022e16dbb2c.png">

therefore closing. if we run into this again i will

[2020-10-14 11:37] #21663 closed

[2020-10-14 11:37] jsoriano commented on #21577
The publisher pipeline should log some errors, e.g. this is logged for elasticsearch:
[code]

But for kafka it seems that the pipeline believes that the connection has been established while it won't. In the following config the kafka hosts don't exist but it still says connection established:
[code]
After that it floods the logs with:
[code]

I think logging and error handling in general should b

[2020-10-14 12:39] legacydave opened #21793 "Zeek Overview SSL Server Panel Error"
Hello,

Not sure if this has been reported, something cosmetic, but here goes.  Filebeat 7.9.2, Kibana 7.9.2, running Zeek module from the overview page getting the following:

Could not locate that index-pattern-field (id: zeek.ssl.server_name)
from the SSL Server panel

Fixed by changing the Top SSL Servers [Filebeat Zeek] visualization field "field": "zeek.ssl.server_name" to "field": "zeek.ssl

[2020-10-14 13:05] rahulgupta-qasource opened #21794 "[Ingest Manager] Agent remains in Enrolling state on executing the enroll command to move it to a different policy after install command"
**Kibana version:**
Kibana: 7.10.0 BC1 cloud environment with commit 7a9f9132fffd8567ce3b985dde8bea6529e8fa3c

**Elasticsearch version:**
Elasticsearch: 7.10.0 BC1 cloud environment

**Host OS and Browser version:**
Windows , All

**Original install method (e.g. download page, yum, from source, etc.):**
7.10.0 BC1 cloud environment deployed from Staging cloud platform https://staging.found.no

**D

[2020-10-14 13:05] v1v commented on #21685
Another example:

![image](https://user-images.githubusercontent.com/2871786/95992905-5dca0980-0e26-11eb-8a8a-58b6e69e15e9.png)

[2020-10-14 13:06] elasticmachine commented on #21794
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-14 13:07] rahulgupta-qasource commented on #21794
Please review the bug @vipulsrivastava-qasource

[2020-10-14 13:09] vipulsrivastava-qasource commented on #21794
Reviewed and assigned to @EricDavisX

[2020-10-14 13:16] rahulgupta-qasource commented on #21744
Hi @blake

Thank you for sharing the feedback.

We have tested the above scenario by stopping the elastic-agent(press ctrl+c in powershell) in C:\Program Files\Elastic-Agent and found that user is able to install the elastic-agent from the same directory(C:\Program Files\Elastic-Agent) using below command  :-
./elastic-agent install

Screenshot:
![install_to_same_policy](https://user-images.github

[2020-10-14 13:41] ph opened #21796 "[Elastic Agent] Allow the agent to collect and send the log of endpoint."
We need to add support for collecting endpoint logs and send them to the following data_stream: `logs-elastic_agent.endpoint-{namespace}` with no configured namespace it will be `logs-elastic_agent.endpoint-default`.

@ferullo Are you writing JSON formatted logs or using only plaintext?

[2020-10-14 13:41] elasticmachine commented on #21796
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-14 13:57] EricDavisX commented on #20205
@rahulgupta-qasource this is available for test, but as far as I know it can only be assessed via the API, and its not hard to do that, but we are confirming bugs and expectations for now and will post back details on testing.

For now, here is a list of tasks / questions from Engineering Productivity side:

Agent Upgrade - no way to test it via the UI in 7.10?
 - Will we be able to test in 7.11 B

[2020-10-14 14:36] EricDavisX commented on #21794
I like that you tried the elastic-agent.exe run command, but that shouldn't be done in general as part of the test, I expect with a running agent that should error.  ITs a good error handling test.  :)

Not sure if this is the same bug as is already found, but I'll raise it to the team now - thanks!

[2020-10-14 14:41] #21744 closed

[2020-10-14 14:46] agowa opened #21801 "Mention Windows npcap license restrictions"
**Describe the enhancement:**
The installation guide over here https://www.elastic.co/guide/en/beats/packetbeat/current/packetbeat-installation-configuration.html should mention the license restrictions of npcap

These are for the free version:
* maximum of 5 devices (if it is not solely used for Azure ATP or Wireshark)
* No silent install "/S"

**Describe a specific use case for the enhancement o

[2020-10-14 14:52] aschifman commented on #21697
Closing due to this being a doc issue: [Ticket#21802](https://github.com/elastic/beats/pull/21802
)

[2020-10-14 14:52] #21697 closed

[2020-10-14 14:59] ferullo commented on #21796
Endpoint logs are in ECS JSON. They're placed in `c:\Program Files\Elastic\Endpoint\state\log\endpoint-XXXXXX.log` (Windows), `/Library/Elastic/Endpoint/state/log/endpoint-XXXXXX.log` (macOS), and `/opt/Elastic/Endpoint/state/log/endpoint-XXXXXX.log` (Linux). `XXXXXX` is a one up counter when log files get too big, starting at `000000`. The last 4 log files are kept before Endpoint prunes them. Ol

[2020-10-14 15:01] ph commented on #21336
Need to be done for 7.last.

[2020-10-14 15:02] ph commented on #21319
@michalpristas is this is still an issue?

[2020-10-14 15:02] ph commented on #21310
@michalpristas still an issue?

[2020-10-14 15:04] ph commented on #21200
@blakerouse is this still an issue?

[2020-10-14 15:07] ph commented on #21121
@blakerouse I believe that metrics/logs collected by the Elastic-Agent doesn't include that the agent id?

[2020-10-14 15:09] ph commented on #21120
@michalpristas @blakerouse can this issue be closed?

[2020-10-14 15:15] ph commented on #21040
Tasks:
- create outline
- explain eql subset of the syntax.

[2020-10-14 15:18] #20895 closed

[2020-10-14 15:19] blakerouse commented on #21120
Yes this can be closed.

[2020-10-14 15:19] #21120 closed

[2020-10-14 15:21] ph commented on #20886
I think we are able to close this, the Elastic Agent now support the window event logs via https://github.com/elastic/beats/pull/19622

@urso WDYT?

[2020-10-14 15:23] elasticmachine commented on #20886
Pinging @elastic/integrations-services (Team:Services)

[2020-10-14 15:24] blakerouse commented on #21794
@EricDavisX You can still run from the extracted directory, with enroll followed by install. The `unable to trigger restart` is not an error, its just showing you a warning. Its not a problem.

But you cannot have another Agent already running on the system, and that seems to be the issue.

[2020-10-14 15:26] ph commented on #21796
@ferullo Well, that's good we should be able to add that simply. cc @kevinlog

[2020-10-14 15:32] ph commented on #20624
@michalpristas Does the elastic-agent.exec binaries are signed?

[2020-10-14 15:32] urso commented on #20886
The [windows package](https://github.com/elastic/integrations/tree/master/packages/windows) already makes use of the winlog input in Agent. For Sysmon and others we should consider separate integrations. But on the Beats/Agent side itself I think we are done.

[2020-10-14 15:36] ph commented on #20208
@ruflin This look like more like a bug to me, maybe we should disable global process by default?

[2020-10-14 15:38] #21617 closed

[2020-10-14 15:43] ph commented on #14454
@blakerouse I believe you had an idea how keystore and secret should work with the Composable Inputs, can you take some time to update this issue with some details.

Followup from https://github.com/elastic/beats/issues/19225

[2020-10-14 15:44] ph commented on #19225
Closing this, added the remaining items in the project board.

[2020-10-14 15:44] #19225 closed

[2020-10-14 15:44] ph commented on #18343
still an issue :(

[2020-10-14 15:45] #18022 closed

[2020-10-14 15:47] ph commented on #17330
I think this can be closed with the install + enroll workflow.

[2020-10-14 15:47] #17330 closed

[2020-10-14 15:47] #17250 closed

[2020-10-14 15:50] #16413 closed

[2020-10-14 15:50] #16412 closed

[2020-10-14 15:50] #16411 closed

[2020-10-14 15:51] #16410 closed

[2020-10-14 15:51] #16395 closed

[2020-10-14 15:54] #16303 closed

[2020-10-14 15:54] #16209 closed

[2020-10-14 15:56] ph commented on #15123
Used system permission on disk to protect the configuraiton.

[2020-10-14 15:56] #15123 closed

[2020-10-14 15:57] ph commented on #14820
I believe this is now invalid.

[2020-10-14 15:57] #14820 closed

[2020-10-14 16:12] andrewkroh opened #21810 "Elastic Agent duplicates work of packaging included Beats"
We would like to speed up the build time on CI for packaging Elastic Agent. I think there are two ways in which we can speed it up. Both are related to that it repackages Filebeat, Metricbeat, and Heartbeat.

1. Reuse artifacts from the those Beats if they have already been built. This would reduce the build time for Unified Build by about 17 minutes. It's currently taking `22m39.379290932s` of wh

[2020-10-14 16:53] EricDavisX commented on #21023
I think we'll want to leave it open to confirm the test material is updated.  we're still compiling how to test it, I've started putting details and open questions into the main ticket -> https://github.com/elastic/beats/issues/20205#issuecomment-708421296

and the automation ticket has details of how to trigger it:
https://github.com/elastic/e2e-testing/issues/341#issuecomment-708497411

[2020-10-14 16:59] EricDavisX commented on #21023
@rahulgupta-qasource about the upgrade-agent cases, it is testable and we will track that separately as well

[2020-10-14 16:59] #21023 closed

[2020-10-14 17:15] EricDavisX commented on #21120
@mdelapenya quick check to confirm that this is not being trapped by the e2e-testing framework at this point.

[2020-10-14 17:24] gogochan commented on #21598
Just wanted to share some observation from my end. While doing a TCP dump on GRPC connection between the Agent and the Endpoint running on my machine, I saw a TCP FIN followed by RESET from the Agent side. Note that Endpoint kept on sending heartbeat, the payload with `length 4440`. I do not have any logging printed from Agent.

## TCPdump
[code]

## Agent Log
[code]

[2020-10-14 17:29] EricDavisX commented on #21794
Thank you for confirming, we will not focus on that use case or error message - the steps they intended indicate they did not intentionally have a separate Agent running.  so we will request a clean test environment, with confirmation that no service is installed and no Agent or Endpoint running, then we can assess the below:

- Unarchive the agent
- Open powershell as admin and Execute ./elastic-

[2020-10-14 17:45] #21627 closed

[2020-10-14 17:46] kaiyan-sheng opened #21817 "[Metricbeat] Initialize processors in manifest.yml with TestData function"
**Describe the enhancement:**
For light weight modules, sometimes we have processors defined in manifest.yml file. But the processors are not initialized when running `TestData` function in integration test file to generate `data.json`.

For example: with the rename processor https://github.com/elastic/beats/blob/7d78d64d292c718074bc34d67bf58a67c40a84e4/x-pack/metricbeat/module/aws/s3_daily_storag

[2020-10-14 17:46] elasticmachine commented on #21817
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-14 17:49] kaiyan-sheng commented on #21817
After this is done, I will rerun `TestData` to generate new data.json files for `s3_daily_storage` and `s3_request` metricsets.

[2020-10-14 18:18] rjthielen commented on #21658
I believe that I have a suggested fix for the issue.  When I tried to fix the patterns before, I didn't realize that I needed to specify
-E filebeat.overwrite_pipelines=true
on the "filebeat setup --pipelines" command.  The attached diff file shows the patterns that worked for me.

[asa-ftd-pipeline.yml.diff.txt](https://github.com/elastic/beats/files/5380089/asa-ftd-pipeline.yml.diff.txt)

[2020-10-14 18:42] urso commented on #20208
+1 on getting rid of global processors long term. But for now it also has a performance implication if the `add_x_metadate` processors are local or global. But thinking about it I'm a little on the fence here. Maybe it could be a feature in Fleet to select which kind of metadata we want to collect in addition.

[2020-10-14 19:58] EricDavisX opened #21822 "[Agent] Upgradeable Agent issue - 8.0 Agent is not showing as 'upgradeable=true'"
The saved object api output shows that they are not upgradeable.  I think the windows agent install should be.  the linux installs are still using the old 'enroll and elastic-agent run' commands.

https://kibana.endpoint.elastic.dev/api/saved_objects/_find?type=fleet-agents

here is the version currently:
edavis-mbp:kibana_elastic edavis$ git show -s 0dba45d247ab24b749c342718e98190d25a96577
Date:

[2020-10-14 19:59] elasticmachine commented on #21822
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-14 20:03] elasticmachine commented on #21757
Pinging @elastic/integrations-services (Team:Services)

[2020-10-14 20:24] EricDavisX opened #21823 "[Agent] Agent upgrade attempt throws error on .asc files when using the 7.10 BC1 (or BC2) Agent and a 7.11 snapshot Kibana on cloud"
commit: 7.11 snapshot cloud install of whole stack, with 7.10 BC1 Agent
edavis-mbp:kibana_elastic edavis$ git show -s 29426f57db725bedc29ee9d7adb5efd2aa2f1983
Date:   Mon Oct 12 12:35:00 2020 +0200

Agent hash 116336aa, the BC1 build from : elastic-agent-7.10.0-linux-x86_64.tar.gz
from the elastic /dev/issues/1496 release repo.
7.10.0-116336aa
https://staging.elastic.co/7.10.0-116336aa/downloads/b

[2020-10-14 20:24] elasticmachine commented on #21823
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-14 20:25] EricDavisX commented on #21823
I believe... Michal said he was looking at this, but not sure.  He tried and didn't see this exact bug in 8.0 Kibana, so I was wondering if we needed to ensure that everything that was needed is backported to 7.10

[2020-10-14 20:38] EricDavisX opened #21971 "[Fleet] Upgradeable Agent issue, need Agent to figure out best correct source_uri when not passed in, based on '-SNAPSHOT' in version or not."
**Kibana version:**
commit: 7.11 snapshot cloud install of whole stack, with 7.10 BC1 Agent
edavis-mbp:kibana_elastic edavis$ git show -s 29426f57db725bedc29ee9d7adb5efd2aa2f1983
Date:   Mon Oct 12 12:35:00 2020 +0200

Agent hash 116336aa, the BC1 build from : elastic-agent-7.10.0-linux-x86_64.tar.gz
from the elastic /dev/issues/1496 release repo.
7.10.0-116336aa
https://staging.elastic.co/7.10.0-

[2020-10-14 23:21] HonzaKral commented on #21051
Getting artefacts based on ECS would be ideal, but as an interim solution it would be great to have the settings and mappings installed as component templates with the index template consisting primarily of just the list of those components. That way users could reuse the mappings/settings without having to modify the provided template which requires maintenance with every new release. Previously

[2020-10-15 04:04] rajeshrgithub commented on #15785
Successfully installed meteicbeat on power 8, how to start the daemon and configure.

[2020-10-15 05:05] kaiyan-sheng opened #21826 "[Flaky Test] s3_request.TestFetch"
## Flaky Test

* **Test Name:** s3_request.TestFetch
* **Link:** https://github.com/elastic/beats/blob/master/x-pack/metricbeat/module/aws/s3_request/s3_request_integration_test.go#L19
* **Branch:** 7.x in PR https://github.com/elastic/beats/pull/21821
* **Notes:** This also needs to be investigated in master branch.

### Stack Trace

[code]

[2020-10-15 05:06] elasticmachine commented on #21826
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-15 07:53] #21748 closed

[2020-10-15 07:54] #21249 closed

[2020-10-15 08:06] #21609 closed

[2020-10-15 08:28] sebthebert opened #21836 "[MetricBeat] Consul module doesn't work when ACL are configured in Consul"
Consul module need to request `/v1/agent/metrics` with `X-Consul-Token: <YOUR_ACL_TOKEN>` Header

https://learn.hashicorp.com/tutorials/consul/monitor-datacenter-health#api-get-request

[2020-10-15 08:29] ChrsMark commented on #15505
Latest implementations to support new versions of Istio (>=1.5):

- #21751 -> proxy metricset (replacing Mixer metrics: https://istio.io/v1.5/docs/reference/config/telemetry/metrics/)
- #21519 -> istiod metricset (replacing pilot, citadel, galley metrics)

Dashboards have been added for these new metricsets.

**Note** The above metricsets are BETA. The reason of this is that they are implemented a

[2020-10-15 08:35] georgifundrecs commented on #19946
Using rpm with 7.9.2 throws an error as the elastic-agent does not have command "test config"

I have removed the test command to enable the service to work.

sed -i 's/$user_wrapper $user_wrapperopts "$agent $args $test_args"/echo 0/' /etc/init.d/elastic-agent

[2020-10-15 08:50] cschyma commented on #8086
Using filebeat-oss:7.9.2 the solution to me was to add the following lines to the filebeat.yml. ```setup.ilm.enable: false``` itself did not solve the problem.

[code]

Interestingly these lines are from a template configuration the AWS support provides but are not at the original documentation.

[2020-10-15 09:22] exekias opened #21837 "Stop file based dynamic inputs after some timeout"
**Describe the enhancement:**

Containers based dynamic providers launch log inputs (Filebeat) to read logs from certain containers. Providers implement a cleanup timeout function for these, so the actual removal of the input happens some time after the container finishes. This gives some room for the input to read last messages from the container, hopefully reaching EOF.

Filebeat/Metricbeat auto

[2020-10-15 09:24] exekias commented on #21837
@blakerouse we discussed briefly about this one

[2020-10-15 09:49] v1v opened #21838 "[build][libbeat][python test] elasticsearch_kerberos.elastic cannot be started"
### How to reproduce

[code]

### Stacktrace

[code]

See https://beats-ci.elastic.co/job/Beats/job/beats/job/master/572/execution/node/2566/log/

### Files

https://github.com/elastic/beats/blob/master/testing/environments/docker/elasticsearch_kerberos/Dockerfile

[2020-10-15 09:51] elasticmachine commented on #21838
Pinging @elastic/integrations-services (Team:Services)

[2020-10-15 09:58] ruflin commented on #21796
I think we should standardise on where each process writes the logs so Agent only needs to check in one place. This might be already the case but @blakerouse will know more.

[2020-10-15 10:42] exekias opened #21842 "Avoid Pod/container duplicates or missmatch"
Composable inputs will launch an input per matching entity from the provider, **if the resulting input configuration is different**. Kubernetes provider is providing an entity per container in the cluster. This means that for every container in every Pod we will emit an event from the provider.

For the logs use case we want that, as containers log to separate files, this also allow us to provide

[2020-10-15 10:42] elasticmachine commented on #21842
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-15 10:42] elasticmachine commented on #21842
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-15 11:01] boernd opened #21843 "[Filebeat] Panic in K8s autodiscover"
After upgrading from 7.5.2 to 7.9.2 I observe sporadic container crashes with the following stacktrace:

[code]

I use Kubernetes autodiscover with a lot of conditions, e.g.

[code]

**Filebeat Version**: 7.9.2

**Operating System**: Official docker image running on OpenShift 3.11

**Discuss Forum URL**: https://discuss.elastic.co/t/filebeat-panic-in-k8s-autodiscover/252144

**Steps to Reproduce**

[2020-10-15 11:02] exekias opened #21844 "Support more resources in Kubernetes composable provider"
Kubernetes composable provider supports discovering Pods, we should extend this to other resources, starting with Nodes and Services, to match what Beats can do today. This issue is to discuss the possible approach for this.

I don't see a big technical challenge (perhaps fixing https://github.com/elastic/beats/issues/21842) as this is a problem we have solved before, this is mostly about the user

[2020-10-15 11:02] elasticmachine commented on #21844
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-15 11:02] elasticmachine commented on #21844
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-15 11:40] v1v commented on #19641
Duplicates https://github.com/elastic/beats/issues/19795

[2020-10-15 11:40] v1v commented on #19787
Duplicates https://github.com/elastic/beats/issues/19795

[2020-10-15 11:40] #19787 closed

[2020-10-15 11:41] v1v commented on #19795
Duplicates https://github.com/elastic/beats/issues/19641

[2020-10-15 11:41] #19795 closed

[2020-10-15 11:58] v1v commented on #21295
Probably https://github.com/elastic/beats/issues/21838 is also affected since the docker image doesn't start.

[2020-10-15 12:06] urso opened #21847 "Discuss: Beats instance meta.json generation"
An issue we are often seeing is that users copy the data directory between multiple Beats instances. Either in order to copy an installation/setup to another machine, or more often when preparing an Image for reuse with multiple physical machines. The impact is that different sources actual data or stack-monitoring data originate from can often not be distinguished anymore.

Some potential options

[2020-10-15 12:06] elasticmachine commented on #21847
Pinging @elastic/integrations-services (Team:Services)

[2020-10-15 12:08] ph opened #21848 "[Elastic Agent] Add documentation for the k8s provider"
There are currently no docs for any providers https://github.com/elastic/beats/pull/21480

Documentation guide that walks through steps required to enable K8s and pod level observability with elastic agent in standalone mode

[2020-10-15 12:08] elasticmachine commented on #21848
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-15 12:08] elasticmachine commented on #21848
Pinging @elastic/integrations-services (Team:Services)

[2020-10-15 12:11] ruflin commented on #20208
I would probably treat 1 by 1 to decide which one should be enabled or not. I guess docker is enabled by default as it checks if it runs on docker and if not, should be silent?

[2020-10-15 12:58] rahulgupta-qasource opened #21852 "No agent activity logs are displayed and goes to Offline status on stand-alone agent enroll to Fleet with Linux rpm"
**Kibana version:**
Kibana: 8.0.0-snapshot cloud environment with commit 5d71db0427f173641a52a254ffab2e8d7b3a86ea

**Elasticsearch version:**
Elasticsearch: 8.0.0-snapshot cloud environment

**Host OS and Browser version:**
Windows , All

**Original install method (e.g. download page, yum, from source, etc.):**
8.0.0-snapshot cloud environment from https://staging.found.no

**Description**
No agen

[2020-10-15 12:58] elasticmachine commented on #21852
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-15 13:01] rahulgupta-qasource commented on #21852
@vipulsrivastava-qasource Please review the bug

[2020-10-15 13:06] vipulsrivastava-qasource commented on #21852
Review and assigned @EricDavisX

[2020-10-15 13:32] rahulgupta-qasource commented on #20205
Hi Eric

Please find the upgrade agent testcases location in Testrail https://elastic.testrail.io/index.php?/suites/view/27&group_by=cases:section_id&group_order=asc&group_id=8423

As per discussion in ingest weekly call, we will validate the agent upgrade once agent is upgradeable through UI.

[2020-10-15 13:40] kaiyan-sheng commented on #21826
This test is disabled by https://github.com/elastic/beats/pull/21828

[2020-10-15 14:03] ph commented on #21601
@EricDavisX I believe this is fixed from the work made by @neptunian  is that correct, looking at the latest report from qa this looks ok.

[2020-10-15 14:13] ph commented on #21823
@michalpristas Can you update this issue with the status?

[2020-10-15 14:28] elasticmachine commented on #21848
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-15 14:51] ph opened #21855 "Elastic Agent/Beats macOS ARM support strategy"
Apple is transitioning from x86_64 to ARM64. They say possibly by the end of 2020. This shouldn't impact Agent/Beats/Endpoint very much because ARM64 macs will be able to run x86_64 binaries. Moreover, macOS will support "fat" binaries that contain x86_64 and ARM64 code inside them.

For beats we need to investigate:

- Fat binaries vs release specific artifacts.
- Golang support for macOS arm.
-

[2020-10-15 14:51] elasticmachine commented on #21855
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-15 14:51] elasticmachine commented on #21855
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-15 14:51] ph commented on #21855
@andresrc @urso We will need to find an owner for this.

[2020-10-15 15:11] #19272 closed

[2020-10-15 15:26] v1v commented on #21838
Docker container for elasticsearch_kerberos.elastic has been disabled in the `master` branch

[2020-10-15 15:37] v1v opened #21856 "[deploy/kubernetes] kind setup fails sometimes"
### Stacktrace

[code]

[2020-10-15 15:55] v1v opened #21858 "[CI] Enable pipeline to 6.8"
Let's enable 2.0 pipeline for the 6.8 branch

[2020-10-15 16:36] #14090 closed

[2020-10-15 16:54] jen-huang commented on #21852
I think this is the same issue as in #21601, which was fixed yesterday. Looking at the hash of the reported agent build in this issue, I don't think the test was executed with the latest 8.0 build that includes the Kibana and Agent fixes. Can this be re-tested using the latest builds?

[2020-10-15 17:02] fearful-symmetry opened #21860 "7.10: Agent fails to start: invalid cross-device link"
Currently testing Elastic Agent 7.10 BC2. After the agent starts (either via `install` or `enroll` and `run`), I get no data, and this error in the logs:

[code]

This is on a server running Fedora. No other logs.

I tried manually unpacking the metricbeat/filebeat tarballs just by `tar xvf` and the moving them to the download folder, but that just results in a crash:

[code]

Again, no additional

[2020-10-15 17:02] elasticmachine commented on #21860
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-15 18:34] ph opened #21862 "[Elastic Agent] Wrong format of the data_stream for metrics and log."
Currently we send the log of the elastic agent and the subprocess to `logs-elastic.agent.{process-name}-default` and it should be `logs-elastic_agent.{process-name}-default`. Note the **underscore** vs the dot.

[2020-10-15 18:34] elasticmachine commented on #21862
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-15 18:38] EricDavisX commented on #21852
you may be right Jen - And I'll note that 'latest' means latest at the time available, which may not the the 'daily' build of a given branch (it comes out nearly at the end of the day for folks in Eastern hemisphere).  We can re-test.

[2020-10-15 18:40] EricDavisX commented on #21822
the demo server is not deploying today... that will need to be solved before we could hope to use it.  i'll look at this after some more direct testing of the upgrade feature

[2020-10-15 19:03] EricDavisX commented on #21823
I'm still seeing this bug today with the newer 7.10 BC2 Agent (on a newer 7.11 snapshot of Kibana on cloud).  I'm wondering... has anyone seen this work from cloud yet?  Maybe that's the nuance to resolve.

To add to details:  I checked the file location on my test host against the error shown in the UI, and the .asc file isn't there as noted, but the .tar.gz file isn't there either.  Meaning:  Ag

[2020-10-15 19:25] jen-huang opened #21864 "Elastic agent monitoring logs/metrics doesn't have `elastic.agent.*` fields"
- Version: 7.10 BC2
- Operating System: macOS
- Steps to Reproduce:

Using Kibana main from source and enrolling an agent into Fleet's Default policy (with no modifications), observe that the new `elastic.agent.*` fields added in https://github.com/elastic/beats/pull/21543 is not present on agent monitoring logs and metrics.

<details>
<summary>Example agent log document</summary>

[code]
</detail

[2020-10-15 19:25] elasticmachine commented on #21864
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-15 19:33] EricDavisX commented on #21823
Ah, I just scrolled thru chat and Michal was using cloud Kibana with local agent, so my theory is not likely helpful.  I'm testing 8.0 Kibana cloud latest and will report again.

[2020-10-15 20:16] EricDavisX commented on #21823
I find the same errors when testing with 8.0 Cloud Kibana and a 7.10 Agent.  I would be interested to see if Michal was testing with a 'dev' build with GPG check turned off - perhaps that would explain why his tests worked and mine do not?

[2020-10-15 20:41] EricDavisX commented on #21601
I don't know if this made it into 7.10 BC2 - who can confirm (apart from testing).  We can just keep testing and wait till BC3 to be sure, if needed

[2020-10-15 20:43] jen-huang commented on #21601
I tested with BC2 today and was able to confirm the fix. The release tracking issue https://github.com/elastic/dev/issues/1496 also shows that the fixes made BC2.

[2020-10-15 20:54] ycombinator opened #21869 "Panic when shutting down Metricbeat docker container"
- Version: 7.10.0 BC2
- Operating System: Linux (Docker)
- Steps to Reproduce:
   1. Load the 7.10.0 BC2 Docker image for Metricbeat.
[code]
   2. Run Metricbeat (with the `console` output for simpler test case).
[code]

   3. Stop the Metricbeat container, either by pressing Ctrl+c or by running `docker stop ...` in a separate window.

- Observed behavior: Metricbeat shuts down but the `add_docke

[2020-10-15 20:54] elasticmachine commented on #21869
Pinging @elastic/integrations (Team:Integrations)

[2020-10-15 20:55] ycombinator commented on #21869
I just re-tested this with Metricbeat 7.9.0 and the panic isn't happening there, so it looks like a bug introduced in 7.10.0.

[2020-10-15 21:01] ferullo opened #21870 "Agent doesn't uninstall Endpoint when it is uninstalled from the Agent's command line"
I was using 7.10.0 BC2 and I ran the following commands. They show that Endpoint was not uninstalled when Agent was uninstalled. Agent installed Endpoint because of I had an Endpoint Security integration enabled. I tested this on Linux (Ubuntu 18.04 x86_64), I didn't try other OSes.

I was manually able to uninstall Endpoint after uninstall Agentt so I don't think that Endpoint refused to uninstal

[2020-10-15 21:27] jsoriano commented on #21869
This is probably related to #16349, I will take a look tomorrow.

[2020-10-15 21:27] elasticmachine commented on #21869
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-15 21:48] jakommo commented on #20183
Hitting the same error when trying to build `7.9.2` on FreeBSD `11.3-RELEASE`.

@jsoriano you said "I could reproduce the issue, and I think it should work with these steps.", but I don't see any steps in your post.
Can you clarify which steps made this work four you?

[2020-10-16 03:27] linjikun opened #21875 "how to build the metricbeat where use oracle module"
when I add the oracle package,go build metricbeat fail!

1.first: set env
GOARCH=amd64;GOOS=linux;CGO_ENABLED=0
2.error msg:
E:\gitAndGo\go\pkg\mod\github.com\godror\godror@v0.10.4\orahlp.go:450:53: undefined: VersionInfo
E:\gitAndGo\go\pkg\mod\github.com\godror\godror@v0.10.4\orahlp.go:459:53: undefined: VersionInfo
E:\gitAndGo\go\pkg\mod\github.com\godror\godror@v0.10.4\orahlp.go:477:19: undefin

[2020-10-16 06:36] elasticmachine commented on #21875
Pinging @elastic/integrations-services (Team:Services)

[2020-10-16 06:37] ruflin commented on #21862
To share a bit more background here. The initial proposal was `elastic.agent`. It was also inspired by the field name we have which is `elastic.agent.id`. But the question was then raised, if monitoring data from kibana or elasticsearch should also have such a prefix but I think the answer is no. So the prefix is the product name which in our case is `elastic_agent`. And that is why we should chan

[2020-10-16 06:56] elasticmachine commented on #21843
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-16 07:00] elasticmachine commented on #21836
Pinging @elastic/integrations-services (Team:Services)

[2020-10-16 08:52] michalpristas commented on #21823
checked asc files manually and they dont match.
[code]
pinged infra

[2020-10-16 09:57] #21869 closed

[2020-10-16 10:42] #21856 closed

[2020-10-16 11:01] ruflin opened #21897 "[Elastic Agent] Inconsistency for enroll and install command"
The usage of our enrollment command looks as following:

[code]

For install it is:

[code]

To pass enrollment_token and kibana_url the flags `--kibana-url` and `--enrollment-token` are needed but these two flags are missing for enroll. We should be consistent here.

I stumbled over this when I copy pasted the install command but only wanted to enroll so I change install to enroll and it failed a

[2020-10-16 11:01] elasticmachine commented on #21897
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-16 11:12] v1v opened #21898 "[generators] build issues for 7.9 when running make -C generator/_templates/beat test"
This is failing at least since beginning of October:

[code]

![image](https://user-images.githubusercontent.com/2871786/96251723-c6d98a80-0fa8-11eb-8ea8-5d419a64b8a2.png)

### How to reproduce it

`make -C generator/_templates/beat test`

### Stacktrace

[code]

See [logs](https://beats-ci.elastic.co/job/Beats/job/beats/job/7.9/218/execution/node/1424/log/)

[2020-10-16 11:15] elasticmachine commented on #21898
Pinging @elastic/integrations-services (Team:Services)

[2020-10-16 12:25] elasticmachine commented on #21870
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-16 13:09] EricDavisX commented on #21852
@rahulgupta-qasource can you confirm if this is working on the 7.10 BC2 build please?  We know some check-ins for 7.10 made the BC2 cut off.  The # 56 8.0 unified build failed today, and I'm not sure if the fix is in 55 build, but you can re-test in whatever newest 8.0 cloud line is available just to be sure that we are waiting on a new 8.0 build.

[2020-10-16 13:11] rahulgupta-qasource opened #21904 "No activity logs are displayed on installing agent on upgraded 7.10.0 BC2 cloud environment with 7.9.2 BC2 policy"
**Kibana version:**
Kibana: Upgraded 7.10.0 Kibana BC2 cloud environment with commit f1c0bdd161975a0071afbc6f0b9dd4cc8889b2b8

**Elasticsearch version:**
Elasticsearch: 7.10.0 Kibana BC2 cloud environment

**Host OS and Browser version:**
Windows , All

**Original install method (e.g. download page, yum, from source, etc.):**
Upgraded 7.10.0 Kibana BC2 cloud environment from  https://staging.found

[2020-10-16 13:12] elasticmachine commented on #21904
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-16 13:13] rahulgupta-qasource commented on #21904
@vipulsrivastava-qasource Please review the bug

[2020-10-16 13:16] vipulsrivastava-qasource commented on #21904
Reviewed and Assigned @EricDavisX

[2020-10-16 13:17] blakerouse commented on #21870
I think we need to determine if an uninstall should also perform an unenroll and in that case should we also have an `unenroll` command. When you re-enroll an already enrolled agent does it perform `unenroll` on the previous Fleet connection?

The reason I mention those questions is because if we implement client-side unenroll. We can have the `uninstall` command just perform `unenroll` first. The

[2020-10-16 13:21] blakerouse commented on #21897
Well I think the inconsistency has validity. That is because for `install` `kibana-url` and `enrollment-token` are optional where as for the `enroll` command they are not optional.

[2020-10-16 13:23] ruflin commented on #21897
Would it make sense to at least support in enroll to also pass it as flag in addition? Not even sure if this is possible to have both option 🤔

[2020-10-16 13:29] blakerouse commented on #21897
It is possible to make the enroll command use those parameters and those parameters be required. Removing the requirement of positional arguments on the `enroll` command all together.

[2020-10-16 13:35] EricDavisX commented on #21601
Thanks Jen.  I can confirm the changes made for BC2 overall, whatever they are - are working for me on the same VM now.
<img width="1380" alt="Screen Shot 2020-10-16 at 9 31 46 AM" src="https://user-images.githubusercontent.com/12970373/96264978-db128d00-0f92-11eb-84a8-73fe20823398.png">

[2020-10-16 13:35] #21601 closed

[2020-10-16 13:54] #21860 closed

[2020-10-16 14:09] leehinman commented on #19287
tried proof of concept with rpm, getting error when using exec.Command

[code]

[2020-10-16 14:40] andrewkroh commented on #19287
Beats don’t allow execve by default to minimize the impact of vulnerabilities.

[2020-10-16 14:54] ph commented on #21897
My question would, be does it worth the effort and what we gain? I believe we want to encourage the `install` workflow? IMHO enroll only makes sense now for testing and even with that, not everything can be tested. Which open actually opens a few more questions.

- Should we keep enroll?
- Should we keep enroll only for testing and hide from `--help` or special build.

[2020-10-16 14:56] blakerouse commented on #21897
You need to keep `enroll` in the case of DEB/RPM installation, where the `install` command cannot be used.

[2020-10-16 14:58] ph commented on #21870
@blakerouse Can you lead that discussion it seems a mix of technical and pm @ruflin @mostlyjason.

[2020-10-16 15:34] ph commented on #21862
@ruflin Thanks for the clarification, I was like that why we messed up :)

[2020-10-16 15:54] #7906 closed

[2020-10-16 16:11] EricDavisX commented on #21822
Ah we think this is fixed - see above.  thats great news!

[2020-10-16 16:55] ph commented on #21897
:facepalm: oh deb/rpm :(

[2020-10-16 17:24] EricDavisX commented on #20205
just posting a summary of what I have learned and relating info:
- feature is being tested via the API and we're waiting on a fix from Infra to be able to test end to end
- Windows side state of 'upgradeable' field was not stable, fix is PR'ed on Agent side
- UI testing is waiting on a separate issue on Agent side to support 'detecting' what the latest build is and to use that as the upgrade targe

[2020-10-16 19:26] EricDavisX opened #21933 "Filebeat is reporting an 'input' problem, unsure what the cause or impact is, error: "Can only start an input when all related states are finished""
This is with the 7.10 BC2 build that was re-signed by Infra to help us continue testing.

Using a 7.11 snapshot kibana and the *just released this morning 0.8.0 package of System Integration package.

I don't know if it will be a Beats problem, or a package problem or on Agent side?  The error is being reported by Filebeat, in this case, so that may be where we start reviewing?

It is a Centos 8 s

[2020-10-16 19:26] EricDavisX commented on #21933
between Blake and Alex K we weren't sure who should look at it first.  @ph @ruflin thoughts?

[2020-10-16 19:27] elasticmachine commented on #21933
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-16 19:31] urso commented on #21733
The panic occurs during shutdown if the server startup failed (e.g. if the port is already in use by some other service or another metricset). #21934 adds error handling and retry support to the statsd server startup.

[2020-10-16 19:36] #14118 closed

[2020-10-16 20:01] EricDavisX opened #21935 "[Agent] When the Agent Upgrade feature is used, Agent doen't use the new version until after a reboot"
This is with the 7.10 BC2 build that was re-signed by Infra to help us continue testing.

Using a 7.11 snapshot kibana and the *just now re-signed 7.11 snapshot.
Kibana snapshot commit: a6a82aee0dfc9f5a1e2b4173b3154e2236ffb330

It is a Centos 8 system and I installed the .tar.gz Agent package with the 'install' with no errors prior (and no errors show in the log at all, actually).

The only proble

[2020-10-16 20:01] elasticmachine commented on #21935
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-16 20:56] wesklei commented on #8086
I had this issue today and after setting all xpack options to false also had to run the setup like this

` sudo filebeat setup --pipelines --index-management --dashboards -c /etc/filebeat/filebeat.yml`

[code]

[2020-10-16 22:36] #14124 closed

[2020-10-17 07:36] #13597 closed

[2020-10-17 10:40] elasticmachine commented on #21933
Pinging @elastic/integrations-services (Team:Services)

[2020-10-17 12:36] #14129 closed

[2020-10-19 03:31] itsx opened #21948 "Docker input module doesn't register log from restarted container (under some circumstances)"
**Problem description:**

**Docker input module** doesn't register a newly created log file from a restarted docker container. Docker file is on the disk in the
right folder, but docker module doesn't register it. After restart of the filebeat, this new logfile is correctly registered and processed.

We had encountered this problem with a celery-beat container running on three different computers

[2020-10-19 06:38] CodyGuo opened #21949 "Filebeat: the last line of the log with multiple lines on is repeatedly collected"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2020-10-19 06:40] CodyGuo opened #21950 "[Filebeat] The last line of logs will be collected more than 6 times"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2020-10-19 06:41] CodyGuo commented on #21949
repeat

[2020-10-19 06:41] #21949 closed

[2020-10-19 07:35] ruflin commented on #21870
I like the idea of an "unenroll" command on the Agent.

[2020-10-19 07:37] ruflin commented on #21897
If I understand the comment from @blakerouse correctly, we can only move to the params for `enroll` if we remove the positional arguments. As this is a breaking change, I would delay this.

[2020-10-19 08:09] ChrsMark opened #21952 "[Kubernetes] Release leader lock on shutdown for faster failover"
Follow up issue to keep track of know issue we hit when trying to release the leader lock on shut down:

Quoting @jsoriano who observed the issue

[code]

Commented at https://github.com/elastic/beats/pull/21896#discussion_r506387381
Related to kubernetes/client-go#762 kubernetes/client-go#754 https://github.com/kubernetes/kubernetes/pull/85474

Update: should be fixed by https://github.com/kubern

[2020-10-19 08:09] elasticmachine commented on #21952
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-19 08:15] ruflin commented on #21933
This error is normally happening on the Filebeat site if reading from a file cannot be finished, for example because Elasticsearch is not available anymore. I see two log files in the state:

* `/var/log/secure-20200918`
* `/var/log/messages`

My first question is: Why part of the policy tails these two files? Could you share the full policy yaml Fleet creates or the Elastic Agent has?

The second

[2020-10-19 08:36] #21950 closed

[2020-10-19 08:37] elasticmachine commented on #21948
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-19 11:16] v1v opened #21958 "[auditbeat][6.8][windows] TestEventReader"
## Flaky Test

* **Test Name:** TestEventReader
* **Link:** https://github.com/elastic/beats/blob/d36c763ca1fd4711458cfdda26da9a429b62a3c6/auditbeat/module/file_integrity/eventreader_test.go#L39
* **Branch:**  6.8
* **Artifact Link:** https://beats-ci.elastic.co/job/elastic+beats+6.8+multijob-windows/13/beat=auditbeat,label=windows/console [gist-console-output](https://gist.github.com/v1v/90ff2ad2

[2020-10-19 11:26] v1v opened #21959 "[libbeat][6.8] libbeat integration-tests-environment is broken"
### What

`make -C libbeat integration-tests-environment` fails when generating coker images for kafka

### File

https://github.com/elastic/beats/blob/d36c763ca1fd4711458cfdda26da9a429b62a3c6/metricbeat/module/kafka/_meta/Dockerfile#L13-L15

### Stacktrace

[code]

![image](https://user-images.githubusercontent.com/2871786/96444324-fb964d80-1205-11eb-9259-2d31ee51962c.png)

[build](https://beats-

[2020-10-19 11:29] v1v opened #21961 "[metricbeat][6.8] metricbeat integration-tests-environment is broken"
### What

`make -C metricbeat integration-tests-environment` fails when generating docker images for jolokia

### File

https://github.com/elastic/beats/blob/d36c763ca1fd4711458cfdda26da9a429b62a3c6/metricbeat/module/jolokia/_meta/Dockerfile#L15-L19

### Stacktrace

[code]

![image](https://user-images.githubusercontent.com/2871786/96444688-9abb4500-1206-11eb-9cef-3f07ae2102b9.png)

[build](https:

[2020-10-19 11:33] v1v opened #21962 "[x-pack/metricbeat][6.8] x-pack/metricbeat build does not work"
### What

`make -C x-pack/metricbeat clean check testsuite` fails

### Stacktrace

[code]

![image](https://user-images.githubusercontent.com/2871786/96445129-49f81c00-1207-11eb-8f04-bdb00d1ef3a6.png)

[build](https://beats-ci.elastic.co/job/elastic+beats+6.8+multijob-linux/beat=x-pack%2Fmetricbeat,label=ubuntu-16/13/console) if the build is gone please refers to the below gist:

- [gist](https://

[2020-10-19 11:46] v1v opened #21963 "[x-pack/filebeat][6.8][windows] System testing is broken"
### What

[code]

### Stacktrace

[code]

![image](https://user-images.githubusercontent.com/2871786/96446261-174f2300-1209-11eb-8b4c-33bbda9abfe3.png)

[build](https://beats-ci.elastic.co/job/elastic+beats+6.8+multijob-windows/beat=x-pack%2Ffilebeat,label=windows/13/console) if the build is gone please refers to the below gist:

- [gist](https://gist.github.com/v1v/434c779911ec430600b17f189b76097

[2020-10-19 11:50] v1v opened #21964 "[x-pack/autitbeat][6.8][windows] System testing is broken"
### What

[code]

### Stacktrace

[code]

![image](https://user-images.githubusercontent.com/2871786/96447340-a825fe80-1209-11eb-8f72-8af3b7a42a1d.png)

[build](https://beats-ci.elastic.co/job/elastic+beats+6.8+multijob-windows/beat=x-pack%2Fauditbeat,label=windows/13/console) if the build is gone please refers to the below gist:

- [gist](https://gist.github.com/v1v/7bbbbd6d5b973b2fbea53e55fa5a65

[2020-10-19 11:51] urso opened #21965 "Beats diagnostics tooling"
Beats should provide a tool that allows one to easily collect information that can help to analyze known user issues. Diagnostics should contain static information like host meta data, configuration files and existing log files. Active data collection should also be supported, like metrics or memory profiles.

Tasks Phase 1:
- ~~Enable http endpoint with unix socket or named pipe by default. e.g.

[2020-10-19 11:52] elasticmachine commented on #21965
Pinging @elastic/integrations-services (Team:Services)

[2020-10-19 11:53] v1v opened #21966 "[winlogbeat][6.8][windows] System testing is broken"
### What

[code]

### Stacktrace

[code]

![image](https://user-images.githubusercontent.com/2871786/96447563-fc30e300-1209-11eb-92ef-dbbb5ffdcf22.png)

[build](https://beats-ci.elastic.co/job/elastic+beats+6.8+multijob-windows/beat=winlogbeat,label=windows/13/console) if the build is gone please refers to the below gist:

- [gist](https://gist.github.com/v1v/d71c49db38b04c4a7da6a07dd94a1e5e)

[2020-10-19 11:58] v1v opened #21967 "[heartbeat][6.8][windows] System testing is broken"
### What

[code]

### Stacktrace

[code]

![image](https://user-images.githubusercontent.com/2871786/96447856-76616780-120a-11eb-8ee1-9948afdc5829.png)

[build](https://beats-ci.elastic.co/job/elastic+beats+6.8+multijob-windows/beat=heartbeat,label=windows/13/console) if the build is gone please refers to the below gist:

- [gist](https://gist.github.com/v1v/671141ad45db99650519819dda57630a)

For

[2020-10-19 11:59] jsoriano commented on #21952
Options I see to solve this:
* Fork and contribute a fix in go-client. I think the problem is in the structure used to encode the JSON used for the lock release request, [`LeaseDurationSeconds` is an int there](https://github.com/kubernetes/kubernetes/blob/d42d15847eaf577bd650cd3dd381f65a8f9b4968/staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/interface.go#L42), but it should be a p

[2020-10-19 12:01] v1v opened #21968 "[filebeat][6.8][windows] System testing is broken"
### What

[code]

### Stacktrace

[code]

![image](https://user-images.githubusercontent.com/2871786/96448203-f1c31900-120a-11eb-8c25-a555cae7ccfa.png)

[build](https://beats-ci.elastic.co/job/elastic+beats+6.8+multijob-windows/beat=filebeat,label=windows/13/console) if the build is gone please refers to the below gist:

- [gist](https://gist.github.com/v1v/2116960b8211ec62829d38daf6e1e2b0)

[2020-10-19 12:12] #20666 closed

[2020-10-19 12:26] fdartayre opened #21970 "[Docs] Indicate that only some fields can be used in rollover_alias"
**Describe the enhancement:**
We should document that a restricted set of field names can be used in [`setup.ilm.rollover_alias`](https://www.elastic.co/guide/en/beats/filebeat/master/ilm.html#setup-ilm-rollover_alias-option) (and `setup.ilm.policy_name`).

According to the [code](https://github.com/elastic/beats/blob/7.9/libbeat/idxmgmt/ilm/ilm.go#L149), it relies on [`fmtstr.FieldsForBeat`](http

[2020-10-19 12:29] EricDavisX commented on #21200
I can hit this today to verify on 7.10 BC2 build.

[2020-10-19 12:43] rahulgupta-qasource opened #21972 "No activity logs and agent is stuck in enrolling state on endpoint integration with Linux deb and rpm"
**Kibana version:**
Kibana: 7.10.0 Kibana BC2 cloud environment with commit f1c0bdd161975a0071afbc6f0b9dd4cc8889b2b8

**Elasticsearch version:**
Elasticsearch: 7.10.0 Kibana BC2 cloud environment

**Host OS and Browser version:**
Windows , All

**Original install method (e.g. download page, yum, from source, etc.):**
7.10.0 Kibana BC2 cloud environment from  https://staging.found.no

**Description

[2020-10-19 12:46] elasticmachine commented on #21968
Pinging @elastic/integrations-services (Team:Services)

[2020-10-19 12:47] elasticmachine commented on #21959
Pinging @elastic/integrations-services (Team:Services)

[2020-10-19 12:48] elasticmachine commented on #21958
Pinging @elastic/siem (Team:SIEM)

[2020-10-19 12:48] EricDavisX commented on #21971
discussed with Michal, we are pushing this to Beats side to finish off:

In some minimal detail:
I am expecting the Beats change here to be that Beats will use the -SNAPSHOT or lack thereof in the version passed in (when there is no source_uri), to determine the ‘latest Agent’ url to attempt to download from on the Elastic artifacts repository side, for upgrading.  This is as we had chatted, just

[2020-10-19 12:54] EricDavisX commented on #21823
Infra agreed to sign a few build for us as needed, what we will need is the target build to be signed.  so until their issue is fixed we wont be able to test this on just anu old build (from the ui). to test, we'll have to use the api and target the builds that are signed and have the feature support and all bug fixes.  i'll post back which source_uri will work or when the Infra issue is solved fo

[2020-10-19 13:07] EricDavisX commented on #21310
I'm unsure, but it clearly relates - there was found a problem in the logic or flow of the signing, https://github.com/elastic/beats/pull/21835

[2020-10-19 13:10] EricDavisX commented on #21904
@rahulgupta-qasource can you do an adjacent tests to give us more data on this please:
 - if you create a new policy in 7.10 after upgrading does it work as expected on a similar host?

@nchaulet hi - any reason we can think of why 7.9 enrollment tokens would not work after upgrading the env to 7.10 and installing on a new agent?  I think during a Beta we could get away with it... but for producti

[2020-10-19 13:11] narph commented on #20845
@nerophon , no answer has been provided for some time now, will close issue, feel free to reopen if necessary.

[2020-10-19 13:11] #20845 closed

[2020-10-19 13:13] narph commented on #15751
container metricsets have been added together with dashboards and documentation. Can we close this issue @sorantis ?

[2020-10-19 13:14] #15751 closed

[2020-10-19 13:16] #21862 closed

[2020-10-19 13:18] urso opened #21975 "Default HTTP User Agent string"
The default user agent string for HTTP requests by Beats is `Go-http-client/1.1`. The string is set by the go stdlib: https://github.com/golang/go/blob/606d4a38b9ae76df30cc1bcaeee79923a5792e59/src/net/http/request.go#L512

For Beats we should have a more complete string, that contains the product name+version, the libbeat version, to go version, and OS. For example: `<Beatname> <version> (<os+arch

[2020-10-19 13:18] elasticmachine commented on #21975
Pinging @elastic/integrations-services (Team:Services)

[2020-10-19 13:23] elasticmachine commented on #21972
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-19 13:24] rahulgupta-qasource commented on #21972
@vipulsrivastava-qasource Please review the bug.

[2020-10-19 13:26] vipulsrivastava-qasource commented on #21972
Reviewed and Assigned to @EricDavisX

[2020-10-19 13:35] advancedwebdeveloper opened #21976 "Problems with obtaining reviewdog"
Hi.
Here is my situation:

CC @haya14busa @shogo82148

[2020-10-19 13:50] kvch commented on #21975
We could use the existing User agent generator: https://github.com/elastic/beats/blob/master/libbeat/common/useragent/useragent.go#L29

[2020-10-19 13:55] srikwit commented on #21067
Yes @marc-gr , the error is the same. The difference was the permissions of the user. With superuser I have no issues but with the packetbeat user I am facing issues.

[2020-10-19 14:13] #21695 closed

[2020-10-19 14:54] shogo82148 commented on #21976
Hi, Can you try this fix? https://github.com/elastic/beats/pull/21981
It works in my environment.

[code]

[2020-10-19 14:59] ferullo commented on #21796
Endpoint can move where it writes logs if that would be useful to Agent. As long as Agent is always installed when Endpoint is (I think that's true but an not positive on the update scenario) it seems easy enough for Endpoint to just write logs into an Agent directory.

If a decision for a unified logging directory is made, just let the Endpoint team know and we'll make the change.

[2020-10-19 15:02] #21843 closed

[2020-10-19 15:16] EricDavisX commented on #21870
hi. we discussed in the team weekly meeting and I don't have any concerns now with this knowing the good news that it should work fine to uninstall Endpoint if a user does an ‘unenroll’ via the Fleet ui.  The problem only shows when the 'uninstall' command is done via the Agent command line first.

[2020-10-19 15:44] #20360 closed

[2020-10-19 16:13] EricDavisX commented on #21972
this is a duplicate of: https://github.com/elastic/beats/issues/21200
 - closing it as such

[2020-10-19 16:13] #21972 closed

[2020-10-19 16:19] #21898 closed

[2020-10-19 16:19] mostlyjason opened #21990 "[Elastic Agent] Using force flag does not reinstall"
When I run the Elastic Agent install command in a directory where the agent was previously installed it gives me an error message

[code]

Since the `-f` flag is enabled to force installation, I would expect that it reinstalls over the previous one. The advantage here is that it provides a straightforward way to reenroll an agent into a different policy or cluster, just by copying and pasting the

[2020-10-19 16:19] elasticmachine commented on #21990
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-19 16:56] nchaulet commented on #21904
Normally 7.9 enrollment tokens should works in 7.10, looks like there is no POLICY distributed to the agent here I am investigating and able to have a repro locally

[2020-10-19 17:59] EricDavisX commented on #21200
And I can confirm - with the QAS team's help, the 7.10 BC2 is indeed still in need of some fixing for the .rpm / .deb installs

[2020-10-19 18:23] blakerouse commented on #21451
@EricDavisX Is this still reproducable? I think this was because of the action_store.yaml issue that is now fixed.

[2020-10-19 18:26] narph opened #21995 "System module - Strange behavior when disabled metricsets will still collect metrics"
Events from other metricsets coming in although they have been disabled.
 - when I run the cpu metricset even though I disable process and network in the system.yml config file metricset they are still running.
Example config:
[code]

- same I run the memory metricset then process_summary and socket_summary events are also coming in, this behavior happens with the others also.

Windows 10, 64 bit

[2020-10-19 18:26] elasticmachine commented on #21995
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-19 18:46] narph opened #21996 "The `process.memory.share` field has not been removed for Windows system although is not mapped"
The `process.memory.share`  field has not been removed for Windows system although is not mapped.

[2020-10-19 18:46] elasticmachine commented on #21996
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-19 18:49] narph opened #21997 "Diskio metricset does not work on Windows system"
[code]

The metricset does not work anymore.

[2020-10-19 18:49] elasticmachine commented on #21997
Pinging @elastic/integrations-services (Team:Services)

[2020-10-19 18:50] elasticmachine commented on #21996
Pinging @elastic/integrations-services (Team:Services)

[2020-10-19 18:50] elasticmachine commented on #21995
Pinging @elastic/integrations-services (Team:Services)

[2020-10-19 18:59] fearful-symmetry opened #21998 "Elastic-agent deletes tarballs on `run`"
For confirmed bugs, please report:
- Version: 8.0.0
- Operating System: Fedora Linux using the tarball install
- Discuss Forum URL:
- Steps to Reproduce:
  - Download and build master
  - in `x-pack/elastic-agent` run `mage package`
  - unpack the tarball
  - Run `./elastic-agent enroll` using the key you get from the Kibana UI
  - Run `./elastic-agent run`

After that, I'm seeing this error:
[cod

[2020-10-19 18:59] elasticmachine commented on #21998
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-19 19:08] fearful-symmetry commented on #21997
Fix here: https://github.com/elastic/beats/pull/21992

[2020-10-19 19:09] fearful-symmetry commented on #21996
Fixed here: https://github.com/elastic/beats/pull/21992

[2020-10-19 19:33] fearful-symmetry commented on #21995
Honestly not sure what's going on here. I'm able to reproduce this on linux as well. Starting up with the exact config posted above, I see this:
[code]
Which looks correct, and then this shortly after:
[code]

[2020-10-19 19:37] EricDavisX commented on #21451
indeed this looks fixed to me - tested on 7.10 BC2 on a catalina darwin host.  i feel ok to close this out.

[2020-10-19 19:37] #21451 closed

[2020-10-19 19:47] fearful-symmetry commented on #21995
@narph can you post the rest of the metricbeat.yml config?

[2020-10-19 20:01] fearful-symmetry commented on #21995
Looks like a few people have tested this on master, and it's fine. This is something on 7.10 BC2.

[2020-10-19 20:16] fearful-symmetry commented on #21995
This is some kind of formatting or logic issue that's not exclusive to 7.10. This config works just fine:
[code]

Was able to reproduce this on 7.9 as well.

[2020-10-19 20:18] fearful-symmetry commented on #21995
Okay, figured it out, it doesn't like this:
[code]

It treats that as a config with no metricset, hence it reverts to defaults.

[2020-10-19 20:20] kaiyan-sheng commented on #21995
It's ok the metricsets part:
[code]
I tried with commenting out the processors and that didn't help.

[2020-10-19 20:51] elasticmachine commented on #21976
Pinging @elastic/integrations (Team:Integrations)

[2020-10-19 20:54] kaiyan-sheng commented on #20735
I think this issue can be closed for now with https://github.com/elastic/beats/pull/20736.
`cloud.account.name` will be filled with `accountID` if account alias doesn't exist.

[2020-10-19 20:54] #20735 closed

[2020-10-19 21:27] kaiyan-sheng commented on #19467
We would like to rename `googlecloud` to `gcp` for both Metricbeat and Filebeat. @andrewkroh WDYT? I see in cloud ECS field, we are using `gcp` for cloud provider name instead of `googlecloud`.

[2020-10-19 21:35] mostlyjason commented on #21870
+1 on an unenroll command on the agent. otherwise, we leave a bunch of junk on the fleet page that users have to force unenroll. I think its lower priority because the UI works, but would still be nice to clean up on uninstall.

[2020-10-19 23:56] nchaulet commented on #21904
will be fixed by https://github.com/elastic/beats/issues/21904

[2020-10-20 01:00] andrewkroh commented on #19467
In Filebeat the input name for collecting data from Google Cloud's Pub/Sub service is called `google-pubsub`. The Filebeat module for Google Cloud is called `googlecloud`.

So is the proposal to change the input name, module, or both?

[2020-10-20 01:08] andrewkroh commented on #19467
I like the hyphenated input names for readability. If we want to shorten google to gcp then how about

| Description          	| Name           	| Proposal   	|
|----------------------	|----------------	|------------	|
| Azure Event Hub      	| azure-eventhub 	|        NO CHANGE    	|
| AWS S3               	| s3             	| aws-s3     	|
| Google Cloud Pub/Sub 	| google-pubsub  	| gcp-pubsub

[2020-10-20 06:10] qwinkler commented on #10664
Hi there! Looks like it wasn't fixed. I also faced this problem.

- Version: 7.6.1
- Operating System: Windows
- Discuss Forum URL (also more details here): https://discuss.elastic.co/t/metricbeat-filesystem-metrics-does-not-include-remote-network-drives/252346
- Steps to Reproduce:
Attach any(I guess any, like NFS or something else, but I used S3 bucket with TntDrive(https://tntdrive.com/)) netwo

[2020-10-20 06:21] ruflin commented on #21796
++ on unifying the logging directory and probably best also the format and basic content (what fields are the minimal requirement). @blakerouse @michalpristas Could you define this?

[2020-10-20 07:22] narph commented on #21995
I have used the default `metricbeat.yml` file and only enabled debug logging.

[2020-10-20 07:25] narph commented on #21995
@fearful-symmetry , it makes sense , I did not reproduce this on Linux because I have not disabled `fsstat` or `filesystem`.  Will close the issue, seems like expected behavior.

[2020-10-20 07:25] #21995 closed

[2020-10-20 07:32] elasticmachine commented on #21970
Pinging @elastic/integrations-services (Team:Services)

[2020-10-20 07:33] elasticmachine commented on #21967
Pinging @elastic/integrations-services (Team:Services)

[2020-10-20 07:34] elasticmachine commented on #21966
Pinging @elastic/integrations-services (Team:Services)

[2020-10-20 07:35] elasticmachine commented on #21964
Pinging @elastic/integrations-services (Team:Services)

[2020-10-20 07:36] elasticmachine commented on #21963
Pinging @elastic/integrations-services (Team:Services)

[2020-10-20 07:37] elasticmachine commented on #21962
Pinging @elastic/integrations-services (Team:Services)

[2020-10-20 08:52] lystor commented on #19368
Hi
I have updated ELK to 7.9 18 days ago.
Filebeat 7.9 has lower memory consumption and frequent restarts of filebeat are gone:

[code]

Now I see a slow memory increasing of filebeat memory on all nodes, and log.json has quite big size.

Is it ok?

Thank you
[code]

[2020-10-20 09:31] jsoriano commented on #19368
It may be ok if there have been many pods running during these days. It is some megabytes big, this shouldn't be a problem. Is this causing problems in your deployment?

[2020-10-20 09:49] lystor commented on #19368
Is it possible to disable log.json to decrease IO?

We have big number of running virtual machines on hosts, so in theory filebeat can consume high disk iops per host by overwriting log.json frequently.

Thank you

[2020-10-20 09:56] jsoriano commented on #19368
Registry is needed to avoid filebeat reading files it has already read. Are you experiencing high disk iops because of writes to this file?

[2020-10-20 10:03] lystor commented on #19368
We had such problem with filebeat 7.8 (size of data.json was 20...50 MB per VM) and it was critical.

[2020-10-20 11:19] jocelynthode commented on #21128
@kbojens Hey we are facing the same issue. Did you find a workaround in the meantime?

[2020-10-20 11:37] jsoriano commented on #19368
What kind of issues you had related to the registry in 7.8? Were they related to the memory leak?

The implementation of the registry has changed in 7.9, so let's see if it still causes problems in your case. In principle the size of these files shouldn't be a big problem. Let us know if this is causing problems with >= 7.9 versions. In any case this would probably be a different issue to the poss

[2020-10-20 11:39] lystor commented on #19368
Ok.
Lets close this bug.
Thank you very much.

[2020-10-20 11:39] #19368 closed

[2020-10-20 11:48] jsoriano commented on #19368
Please keep us updated if you find problems with the big registry file. Remember that you can also open a new topic in https://discuss.elastic.co/ to discuss about possible issues.

Thanks!

[2020-10-20 12:36] #14075 closed

[2020-10-20 13:22] kaiyan-sheng commented on #19467
@andrewkroh Thank you! We are proposing to change both the Filebeat input name and Filebeat/Metricbeat module name.

[2020-10-20 13:30] EricDavisX commented on #21904
ok thanks.  i'm moving this to Kibana repo then.  cheers, and thanks for the quick fix.

[2020-10-20 13:33] kaiyan-sheng commented on #19467
Here is the proposal for both input names and module names.

Filebeat input name:
| Description          	| Name           	| Proposal  |
|----------------------	|----------------	|------------	|
| Azure Event Hub      	| azure-eventhub |  NO CHANGE |
| AWS S3               	| s3             	| aws-s3     	|
| Google Cloud Pub/Sub 	| google-pubsub  	| gcp-pubsub 	|

Filebeat module name:
| Descrip

[2020-10-20 13:44] kuisathaverat opened #22020 "[CI] improve resilience against Docker pull fails"
The release team request to add a retry mechanism for Docker pulls to avoid failure during the release build process. The `mage package` is the mage target affected.

[2020-10-20 14:06] mgevans-5 commented on #21768
We have also seen this behavior.  Win 2016 server.  Only out of the box default config running.

{"log.level":"info","@timestamp":"2020-08-21T15:54:50.746-0400","log.origin":{"file.name":"log/reporter.go","file.line":40},"message":"2020-08-21T15:54:50-04:00: type: 'STATE': sub_type: 'STARTING' message: Application: filebeat--7.9.0[ca0b8190-ad90-4e15-90b2-fc85a67aecb8]: State changed to STARTING: S

[2020-10-20 14:16] #19287 closed

[2020-10-20 14:16] andresrc commented on #21976
We are not using this tool anymore, it might be removed.

[2020-10-20 14:54] ravikesarwani commented on #19636
@andresrc Is there someone from the beats team that can help with the investigation?

[2020-10-20 15:09] jsoriano commented on #21948
Hey @itsx,

I think this issue is already solved in 7.x versions, https://github.com/elastic/beats/issues/12310 can be relevant.

I am going to close this issue by now, let's continue the discussion in the discuss topic you opened. If we can confirm that this is a bug fixed in master, and we can identify the fix, we may consider backporting it to 6.8.

Thanks for reporting!

[2020-10-20 15:09] #21948 closed

[2020-10-20 15:44] fearful-symmetry opened #22028 "Dubious Swap memory calculations used on windows"
Under windows, Gosigar calculates swap memory like this:

https://github.com/elastic/gosigar/blob/53e981e7e1a68172f0b295a978233fab848a0631/sigar_windows.go#L88-L90

[code]

That data comes from this API: https://docs.microsoft.com/en-us/windows/win32/api/sysinfoapi/nf-sysinfoapi-globalmemorystatusex?redirectedfrom=MSDN

According to the docs, `TotalPageFile` is "The current committed memory limit

[2020-10-20 15:44] elasticmachine commented on #22028
Pinging @elastic/integrations (Team:Integrations)

[2020-10-20 15:48] andrewkroh opened #22029 "[Auditbeat] system/process dataset sends duplicate events initially"
When Auditbeat's system/process dataset starts up the first time it sends two events for the same process.

1. One event is for the initial state update. The first time it runs, and every 12h afterwards, it sends info on every running process.
1. One is event is sent because it detects a change in that all process are new at start up. This is where the improvement can be made. From looking at the

[2020-10-20 15:52] #16869 closed

[2020-10-20 16:10] andrewkroh commented on #19467
The above list SGTM.

When Filebeat modules are renamed aliases can be installed so that existing users are not broken by the change. See the apache module for an example.

[2020-10-20 16:12] andrewkroh commented on #19467
It must be GA since there are not beta labels at. https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-input-google-pubsub.html

[2020-10-20 16:13] kaiyan-sheng commented on #19467
Yeah good to know, thank you! I also didn't see `release: ga` under filebeat input 😬 That's why I want to confirm.

[2020-10-20 16:20] fearful-symmetry commented on #21998
Alright, it looks like running this in the `x-pack` directory worked:

`rm -rf */build; cd elastic-agent; DEV=true SNAPSHOT=true` and then `mage package`.

This still seems kind of awkward. In a normal dev environment the agent will break without intervention.

[2020-10-20 16:29] #21864 closed

[2020-10-20 17:58] tw-ayush commented on #21021
https://github.com/elastic/beats/pull/19460/files#diff-205d69ad18aece9d0de9c718bfd1c61aee6fec90669e850f0f220ddf7ee7c95e

It would probably require a similar PR with changes for get_hits

[2020-10-20 18:13] blakerouse commented on #21796
Being that Agent installs Endpoint into its own installation directory, I think it would be better to have Endpoint place the logs in its own directory. I think its weird to place it inside of Elastic Agent directory, being it is not a direct subprocess of Agent.

[2020-10-20 19:12] jsoriano commented on #21817
I have been investigating this issue and I think that the solution is not very straigth-forward.

The thing is that `TestData`, and `mbtest` helpers in general, call directly the native `Fetch` function, what has very little boilerplate.
Processors in light modules are initialized as part of the publisher, that is not instantiated at all in these integration tests.

So to be able to use the `mbtes

[2020-10-20 19:54] kaiyan-sheng commented on #21817
@jsoriano Thank you for the investigation! Yes if system tests can generate data.json for light modules with processors, that's fine for me!

[2020-10-20 21:14] ferullo opened #22037 "Agent assumes /usr/local/bin exists on macOS when installing"
I installed 7.10.0 BC 2 on fresh macOS 10.15.7 and macOS 11.0 beta 10 machines. From the output below it looks like Agent assumes `/usr/local/bin` always exists on macOS. That final `bin` directory does not exist by default.

[code]

[2020-10-20 22:36] #13982 closed

[2020-10-20 23:21] andrewkroh commented on #20029
I can confirm that the syslog input does not follow the ECS. I noticed this when Elastic Agent with a package was producing the fields.

| Field                 	| ECS                      	| Notes                                                                                                                                                                           	|
|-----------------------	|---

[2020-10-21 02:48] elasticmachine commented on #22037
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-21 03:09] wangfeng-1 opened #22041 "filebeat-oss7.9.0 Non-zero metrics in the last 30s"
2020-10-21T01:58:41.772Z	INFO	instance/beat.go:640	Home path: [/usr/share/filebeat] Config path: [/usr/share/filebeat] Data path: [/usr/share/filebeat/data] Logs path: [/usr/share/filebeat/logs]
2020-10-21T01:58:41.772Z	INFO	instance/beat.go:648	Beat ID: bc423cb0-4091-49e1-b3bc-9db1d5b17add
2020-10-21T01:58:41.773Z	INFO	[api]	api/server.go:62	Starting stats endpoint
2020-10-21T01:58:41.773Z	INFO	[

[2020-10-21 03:20] wangfeng-1 commented on #22041
This is my configuration

[2020-10-21 03:21] wangfeng-1 commented on #22041
This is my configuration

---
# Allows you to add any config files in /usr/share/filebeat
# such as filebeat.yml
filebeatConfig:
  filebeat.yml: |
    filebeat.inputs:
    - type: container
      enabled: true
      paths:
        - /var/log/containers/*.log
      processors:
      - add_kubernetes_metadata:
          host: ${NODE_NAME}
          json.message_key: log
          json.keys_under_roo

[2020-10-21 03:21] wangfeng-1 commented on #22041
This is my configuration

`---
# Allows you to add any config files in /usr/share/filebeat
# such as filebeat.yml
filebeatConfig:
  filebeat.yml: |
    filebeat.inputs:
    - type: container
      enabled: true
      paths:
        - /var/log/containers/*.log
      processors:
      - add_kubernetes_metadata:
          host: ${NODE_NAME}
          json.message_key: log
          json.keys_under_ro

[2020-10-21 05:42] hitchatwork opened #22042 "ASA sample log looks incorrectly formatted stopping CI builds"
https://github.com/elastic/beats/blob/5935293e6efa2bb3900fe31d58111f7e557e795a/x-pack/filebeat/module/cisco/asa/test/sample.log#L7

Specifically, the 'mapped-address' [from cisco docs; referred to in elasticsearch as IP:_temp_.natdstip] is not a valid IP address (5 octets instead of 4)

If the case of something with 5 numerical octets has been actually observed in production, then junk this; other

[2020-10-21 05:58] hitchatwork commented on #22042
Team:Security-External Integrations

[2020-10-21 07:52] VertexC commented on #6354
Still got the same issue
- filebeat: 7.9.2
- kafka: 2.13

Kafka topic is already hardcoded in config.
[code]

[code]

[2020-10-21 08:36] #12918 closed

[2020-10-21 09:02] elasticmachine commented on #22042
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-10-21 09:03] #22041 closed

[2020-10-21 09:48] ChrsMark commented on #17931
Hey @sorantis , what kind of visualisation/aggregation do you use? Could it be that Prometheus plots the rate directly but on Kibana we have an extra aggregation on it like `avg`?

[2020-10-21 10:41] majian159 opened #22043 "Add pod-ip support for add_kubernetes_metadata"
**Describe the enhancement:**
add pod `status.podIP` and `status.podIPs`.
**Describe a specific use case for the enhancement or feature:**

[2020-10-21 11:38] v1v opened #22044 "[build][metricbeat][darwin][7.x] mage build unitTest failed"
### Command

[code]

### Stacktrace

<details><summary>Expand to view</summary>
<p>

[code]
</p>
</details>

![image](https://user-images.githubusercontent.com/2871786/96714254-c7539600-1399-11eb-9944-5e0251be036a.png)

Worker -> [worker-c07mq1u7dy3h](https://beats-ci.elastic.co/computer/worker-c07mq1u7dy3h/)

![image](https://user-images.githubusercontent.com/2871786/96714629-55c81780-139a-11eb-8

[2020-10-21 12:08] v1v opened #22045 "[build][functionbeat][packetbeat][darwin][7.9] mage build unitTest failed"
### Command

[code]

### Stacktrace

<details><summary>Expand to view</summary>
<p>

[code]

[code]
</p>
</details>

Worker -> [worker-c07mq1u7dy3h](https://beats-ci.elastic.co/computer/worker-c07mq1u7dy3h/)

![image](https://user-images.githubusercontent.com/2871786/96717463-6a0e1380-139e-11eb-8b3b-974bb0df5a41.png)

## Question

- Is there any specific mage goal/task to prepare the `ve` context

[2020-10-21 12:19] v1v opened #22046 "[Winlogbeat] in windows-10 got tests failures for TestWindowsEventLogAPI/TestFormatMessage/TestWindowsEventLogAPIExperimental"
- Name: Build&Test / winlogbeat-windows-10-windows-10 / TestWindowsEventLogAPI – eventlog
- Name: Build&Test / winlogbeat-windows-10-windows-10 / TestWindowsEventLogAPI/batch_read_size_config – eventlog
- Name: Build&Test / winlogbeat-windows-10-windows-10 / TestWindowsEventLogAPI/large_batch_read – eventlog
- Name: Build&Test / winlogbeat-windows-10-windows-10 / TestWindowsEventLogAPIExperimental

[2020-10-21 12:56] #21822 closed

[2020-10-21 13:32] willemdh commented on #8241
I'm sry to see this closed without any human interaction. This issue is sill existant. Solved it by overriding the default template, but a proper ix provided by Elastic is still necessary. pgsql.error_code needs to become a keyword..

[2020-10-21 13:54] urso commented on #20188
Uint64 support has been merged into Elasticsearch and seems to become available with 7.11.

ECS ticket: https://github.com/elastic/ecs/issues/900

[2020-10-21 13:56] mkotha-clgx commented on #10664
This is my understanding. The GoLang program behind the FileSystem is not capturing the NFS/Network Shared drives. I added a Network share and ran the go program, it only lists the c: drive.

`package main

import (
	"fmt"
	"os"

	gosigar "github.com/elastic/gosigar"
)

const output_format = "%-15s %4s %4s %5s %4s %-15s\n"

func main() {
	fslist := gosigar.FileSystemList{}
	err := fslist.Get()
	if

[2020-10-21 14:19] ph opened #22051 "[Elastic-Agent] Monitoring should not use logstash output configuration to configure itself"
Monitoring is on by default on the _Elastic Agent_, when there is no configuration explicit set for the monitoring option it will use by default use the options defined in the output.

The problem is the logic in place doesn't check the output type, this means it will use the logstash, redis or kafka host. We need to have distinct logic depending on the output type.

[2020-10-21 14:20] elasticmachine commented on #22051
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-21 14:24] ruflin commented on #21796
We still need to define the log format / minimal content?

[2020-10-21 15:01] fearful-symmetry commented on #21996
Above PR has been merged, closing.

[2020-10-21 15:01] #21996 closed

[2020-10-21 15:01] fearful-symmetry commented on #21997
Above PR has been merged, closing.

[2020-10-21 15:01] #21997 closed

[2020-10-21 15:13] andrewkroh commented on #10535
It hasn't been changed because it would be a breaking change to remove the field, but I think the bugfix justifies the breaking change and we should remove it.

[2020-10-21 15:17] andrask commented on #13995
This issue has not been fixed yet.

[2020-10-21 15:18] andrask commented on #8311
#13995  was closed automatically but it has not been fixed, I believe.

[2020-10-21 15:36] #13714 closed

[2020-10-21 15:36] #14042 closed

[2020-10-21 15:36] #13606 closed

[2020-10-21 15:38] EricDavisX commented on #22037
Excellent find Dan - @ph do we know if everything is ok on Linux and Windows installs or do we want to rush some 'new os install' tests?

[2020-10-21 15:47] ph commented on #21933
Would like @urso opinion here.

[2020-10-21 15:52] sgreszcz opened #22053 "Filebeat keeps sending monitoring to "Standalone Cluster", metricbeat works with exact same config"
For confirmed bugs, please report:
- Version: 7.9.2
- Operating System: kubernetes docker container on Ubuntu 18.04
- Steps to Reproduce:

Using the recommended templates for metricbeat and filebeat for kubernetes:
https://raw.githubusercontent.com/elastic/beats/master/deploy/kubernetes/filebeat-kubernetes.yaml
https://raw.githubusercontent.com/elastic/beats/master/deploy/kubernetes/metricbeat-kub

[2020-10-21 16:00] ph commented on #22037
I've double-checked on Linux, the path is the `/usr/bin` on windows we do not have a shell wrapper so its not an issue.

Concerning macOS, @EricDavisX Do the macOS VM used have homebrew installed? I believe this could explain why it worked.

[2020-10-21 16:47] EricDavisX commented on #22037
Thanks.  @ph I can confirm on 2 VMs and my personal work mac (That I test on) homebrew is installed.  I don't have concrete info on the state management of the vm templates used for our macOS testing - it has been years since I have considered it.  It is likely one of several updates done to facilitate general 'sensor' or Endpoint testing, including the installation of the 'Leia' modules to trigge

[2020-10-21 16:56] andrewkroh opened #22054 "[Elastic Agent] Filebeat registry collisions when an integration is used twice"
It seems like the `id` values assigned to log input streams are not sufficiently unique. The `id` assigned to input streams is what gets used by Filebeat to store data in the registry. So if you configure two streams with the same `id` then you get registry collisions. This will happen if you have two integrations consuming data from the same journal or event log (usually with different filters or

[2020-10-21 16:56] elasticmachine commented on #22054
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-21 17:09] elasticmachine commented on #13995
Pinging @elastic/integrations-services (Team:Services)

[2020-10-21 17:10] sayden commented on #21875
This kind of support requests must be opened in https://discuss.elastic.co/

Follow the instructions provided here: https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-module-oracle.html#_requirements and open a issue in Discuss if you have any.

I'm closing this.

[2020-10-21 17:10] #21875 closed

[2020-10-21 17:24] EricDavisX commented on #21852
https://github.com/elastic/beats/issues/21200 is a separate .rpm/.deb enroll (only) bug that is still open and still planned to be fixed, so I think even if we re-test it will be failing - the other issue may yet have been relating, but we are still blocked on this.

[2020-10-21 17:28] hitchatwork opened #22056 "FTD sample log looks incorrectly formatted stopping CI builds"
https://github.com/elastic/beats/blob/5935293e6efa2bb3900fe31d58111f7e557e795a/x-pack/filebeat/module/cisco/ftd/test/sample.log#L7

Specifically, the 'mapped-address' [from cisco docs; referred to in elasticsearch as IP:temp.natdstip] is not a valid IP address (5 octets instead of 4)

If the case of something with 5 numerical octets has been actually observed in production, then junk this; otherwi

[2020-10-21 18:48] psanz-estc opened #22062 "Wrong behavior using UDP input and conditional pipelines in output"
Component: filebeat
Version: 7.9.1

When using UDP input plus conditional pipelines in elasticsearch output, it seems the behavior is not the same as when using file input

Given this pipeline
[code]

And this configuration:

[code]

We would expect documents coming from both UDP and `/var/log/ECE/test.log`to be routed through the `test_pipeline`, but it doesn't happen.

Looking at the tcpdump tra

[2020-10-21 19:05] EricDavisX commented on #21019
Hi - this is a response to a week+ old post, but @rahulgupta-qasource I think the concerns are taken care of or are logged separately.  The .rpm / .deb usage is not yet sorted, but otherwise the coming BC3 should be fairly solid!  So we can do a smoke test and re-validate this and more.

[2020-10-21 19:11] EricDavisX commented on #21823
The Infra issue was fixed today and a Jenkins job is expected to be auto-run to do the correct (re)signing on all SNAPSHOT and BC builds from today on.  I can't be sure about today's executions, but I know that the below builds when kicked off should be ok:
 build 66 of 8.0 / master
 build 17 of 7.10
 build 61 of 7.x (7.11 snapshot)

So we can test on a 7.10 BC3 and attempt to upgrade (allowing ex

[2020-10-21 19:21] hitchatwork commented on #22042
Filed related issue for FTD parsing too. #22056

[2020-10-21 20:04] EricDavisX commented on #20205
the fixes are starting to roll in for this, and we will be re-testing.  I don't think all fixes will be in 7.10 BC3 so we can keep pushing and will test around it as possible (it needs 7.11 or 8.0 anyhow) and will chat with Michal about automation nuances for it in the e2e-testing repo (its an interesting one to automate)

[2020-10-21 20:06] EricDavisX commented on #21971
The following PR should fix this, its merged and back-ported - just waiting on all builds to be completed so we can assess.  https://github.com/elastic/beats/issues/21971

[2020-10-21 20:28] urso commented on #22054
Depending on your config filebeat uses a 2 or 3 tuple for keys in the registry. With the ID set it is 3 a tuple of `ID`, `input type` (in this case `winlog`), and `path` (in this case 'Security').

We have 2 inputs with differing ID. But inputs can have multiple streams. The Input ID and stream ID should also be added to logs and health-checks/reports. That is each stream must become uniquely iden

[2020-10-21 20:40] urso commented on #22054
Impact of chaning/fixing this issue: The ID is used to create the key for data in the statestore that is used to store state between restarts. Changing the we we create IDs we either would need some upgrade support in the inputs or a script you run once between upgrades. Failing to upgrade the keys would instruct Filebeat to collect a source from offset 0.

[2020-10-21 20:43] mayya-sharipova commented on #20188
@urso This field type is available from 7.10

[2020-10-21 20:46] andrewkroh commented on #22054
We should address this as early as possible because it will be messy to fix registries later via an upgrade process (as we know from experience).

[2020-10-21 20:49] elasticmachine commented on #22053
Pinging @elastic/stack-monitoring (Stack monitoring)

[2020-10-21 20:49] elasticmachine commented on #22053
Pinging @elastic/integrations-services (Team:Services)

[2020-10-21 20:49] elasticmachine commented on #22056
Pinging @elastic/siem (Team:SIEM)

[2020-10-21 21:22] Bernhard-Fluehmann commented on #22062
Seems to be a duplicate of #20342 and

[2020-10-22 01:04] andrewkroh commented on #21728
Shell builtins are not monitored because they are just activity within the bash process. So this is expected.

If you need to monitor this activity then you can enable the pam_tty_audit PAM module. This will write audit events containing all of the activity within the shell.

[2020-10-22 01:04] #21728 closed

[2020-10-22 01:14] andrewkroh commented on #21607
This looks like a long running connection without a lot of activity. After 30s it times out which creates the event. Then more traffic comes in and a new flow between the same addresses is created and times-out. Try increasing the timeout period.

[2020-10-22 06:15] MorrieAtElastic opened #22067 "Allow AutoDiscover To Work With External Configuration In Kubernetes Environments"
**Describe the enhancement:**
Allow users to specify autodiscover parameters in directories referenced for external configuration.

**Describe a specific use case for the enhancement or feature:**
This enhancement request arose from a Support Ticket where a customer attempted to do exactly that: include his autodiscovery parameters in a set of files added to the directory specified by his external

[2020-10-22 06:31] elasticmachine commented on #22067
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-22 06:45] elasticmachine commented on #22062
Pinging @elastic/integrations-services (Team:Services)

[2020-10-22 06:49] elasticmachine commented on #22046
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-10-22 06:50] elasticmachine commented on #22045
Pinging @elastic/integrations-services (Team:Services)

[2020-10-22 06:51] elasticmachine commented on #22044
Pinging @elastic/integrations-services (Team:Services)

[2020-10-22 06:52] elasticmachine commented on #22043
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-22 07:38] andresrc commented on #19636
We missed this one, I'll add it to the triage.

[2020-10-22 07:38] elasticmachine commented on #19636
Pinging @elastic/integrations-services (Team:Services)

[2020-10-22 07:42] michalpristas commented on #21822
@EricDavisX  This was closed by PR, should be working now

[2020-10-22 09:44] jsoriano commented on #22067
Hey @MorrieAtElastic,

Thanks for opening this enhancement request.

I am worried that this feature could increase the complexity of autodiscover configuration and cause some confusion. We already have two ways of configuring autodiscover (templates and hints), that can be combined, and this already causes some confusion. Adding a third way of configuring autodiscover can be even more confusing.

[2020-10-22 09:55] elasticmachine commented on #21777
Pinging @elastic/integrations-services (Team:Services)

[2020-10-22 10:16] mattiagalati commented on #11273
Could be possible to have an hint about how to do that? Seems like Filebeat prevent "@timestamp" field renaming if used with `json.keys_under_root: true`.

In my company we would like to switch from logstash to filebeat and already have tons of logs with a custom timestamp that Logstash manages without complaying about the timestamp, the same format that causes troubles in Filebeat.

[2020-10-22 10:18] SummerWQM opened #22080 "About MetricBeat data struct - Label is "Bug""
I want to know

why   the "struct" has not node  "iostat"

    "system":{
        "diskio":{
            "write":{
                "time":0,
                "bytes":0,
                "count":0
            },
            "io":{
                "time":1217
            },
            "name":"disk2",
            "read":{
                "count":169,
                "time":1217,
                "bytes

[2020-10-22 10:38] #22020 closed

[2020-10-22 10:45] exekias commented on #22067
I agree here, can we zoom in a little bit into why they need ~2000 lines to configure autodiscover for they needs? It would be interesting to see how that config looks

[2020-10-22 11:25] ruflin commented on #22054
I think the stream id is generated on the Kibana side (@jen-huang ) so we could already modify it there?

@blakerouse @michalpristas I wonder if the Agent should catch conflicting stream ids?

[2020-10-22 11:30] ckauf opened #22085 "Metricbeat PostgreSQL Dashboard creates significant load and long running queries"
- Version: 7.9.1 on ECE 2.6.2
- Operating System: CentOS 7
- Steps to Reproduce: Open Metricbeat PostgreSQL dashboard.

Opening the Metricbeat PostgreSQL dashboard for longer time spans (e.g. 7 days) creates significant CPU usage. Specifying an additional filter (`event.module: postgresql`) on the dashboard level reduces the loading time from minutes to seconds. This effect is also visible after w

[2020-10-22 11:34] elasticmachine commented on #22085
Pinging @elastic/integrations-services (Team:Services)

[2020-10-22 12:15] ChrsMark commented on #20311
I did some first investigation for this and it looks like Pods (and most probably services)  are properly handled on Updates: https://github.com/elastic/beats/blob/bcb4e0c9c314f04cee3efcc20e7064169ca76616/libbeat/autodiscover/providers/kubernetes/pod.go#L140

I also added debug messages to observe the updates and I didn't catch any update that we don't handle properly and can cause unnecessary res

[2020-10-22 12:27] jsoriano commented on #20311
Yep, I am ok with closing this, thanks for the investigation.

[2020-10-22 12:41] #20311 closed

[2020-10-22 13:20] rahulgupta-qasource opened #22090 "Error 'Failed to install service' is displayed during install command when upgrading .rpm 7.9 Agent usage to 7.10.0 linux tar.gz install"
**Kibana version:**
Kibana: 7.10.0 Kibana BC2 cloud environment

**Elasticsearch version:**
Elasticsearch: 7.10.0 Kibana BC2 cloud environment

**Host OS and Browser version:**
Windows , All

**Original install method (e.g. download page, yum, from source, etc.):**
Upgraded 7.10.0 Kibana BC2 environment

**Description**
Error Failed to install service is displayed on install with linux tar.gz file

[2020-10-22 13:22] elasticmachine commented on #22090
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-22 13:24] rahulgupta-qasource commented on #22090
@vipulsrivastava-qasource Please review the bug

[2020-10-22 13:24] vipulsrivastava-qasource commented on #22090
Reviewed and Assigned to @EricDavisX

[2020-10-22 13:53] blakerouse commented on #22054
@ruflin If agent catches the conflicting ids, what does it do with the duplicate? Just remove it?

[2020-10-22 13:54] ph commented on #22037
After discussing with @blakerouse we cannot just change the installation path from `/usr/local/bin` to `/usr/bin` because of SIP restriction. The best we can do is to ensure that the `/usr/local/bin` is created and install the shim there.

[code]

[2020-10-22 13:56] ph commented on #22037
For more details https://support.apple.com/en-us/HT204899

[2020-10-22 13:57] urso opened #22094 "Enhancement: MemoryCircuiteBreaker on libbeat publisher pipeline"
Memory usage of Beats does depend on the number of inputs that collect data, the configured queue size, and the actual event size. One can "control" the upper bound of used memory by reducing the queue size.

Proposal: introduce a circuite breaker/guard in the publishing pipeline that estimates the memory used per event (a weighted semaphore should do the trick). Once the estimate surpasses a limi

[2020-10-22 13:57] elasticmachine commented on #22094
Pinging @elastic/integrations-services (Team:Services)

[2020-10-22 14:04] ruflin commented on #22054
@blakerouse Run first one and log errors? Other suggestions?

[2020-10-22 14:06] EricDavisX commented on #22090
I would feel better about us releasing 7.10 with this if we had a work-around.  I presume we can give the user a command to 'sudo rm -drf /specific/Agent/directories' and it will wipe out and the install will proceed ok.  Its not optimal, but it is also only if an .rpm install user chooses to switch over to .tar.gz usage - which is a selection of users out of the selection of users who use .rpm (t

[2020-10-22 14:14] blakerouse commented on #22090
Please provide the command you used to uninstall the RPM, so we can reproduce the same path.

[2020-10-22 14:15] blakerouse commented on #22054
@ruflin Probably the best thing do to, don't really have another idea.

[2020-10-22 14:16] michalpristas opened #22096 "[Ingest Manager] [7.10] Incorrect agent signing"
When running elastic-agent BC3 we run into following warning

![image](https://user-images.githubusercontent.com/1522652/96884259-9d759e80-1481-11eb-957d-6731326c8e5e.png)

This is caused probably by incorrect signing using Macos natarizer, checking with Infra

[2020-10-22 14:16] elasticmachine commented on #22096
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-22 14:22] Conky5 commented on #22096
We (infra-release) are going to need to add another layer of macOS codesigning + notarization to the release pipeline accommodate the downstream elastic-agent artifact that includes the bundled artifacts.

[2020-10-22 14:26] ph commented on #22096
Just to clarify here, is that a regression from 7.9, based on @EricDavisX it is?

[2020-10-22 14:44] andrewkroh commented on #22054
I don't think Agent is the best place to detect and prevent conflicts in registry. But if the Ingest Manager/Agent does add duplicate stream ID detection then I think it should prevent all of the conflicting streams from running since it won't be apparent what is the correct stream to allow to run.

[2020-10-22 15:10] #21935 closed

[2020-10-22 15:38] kholia opened #22101 "[Security] Enable IMDSv2 support in Fileat, Auditbeat and others"
IMDSv2 adds defense in depth against open firewalls, reverse proxies, and SSRF vulnerabilities with enhancements to the EC2 Instance Metadata Service (IMDS).

https://aws.amazon.com/blogs/security/defense-in-depth-open-firewalls-reverse-proxies-ssrf-vulnerabilities-ec2-instance-metadata-service/ has the details.

A bunch of projects (e.g. https://pypi.org/project/ec2-metadata/) have started using

[2020-10-22 16:04] urso commented on #20188
@mayya-sharipova Thank you :)

[2020-10-22 16:06] andrewkroh commented on #17347
It does consider mtime.

https://github.com/elastic/beats/blob/56ba9d089cb9441af65caf4cd534f1aec1726cbc/auditbeat/module/file_integrity/event.go#L378-L381

What `event.action` value is contained in the events where only `mtime` changed?

I think those events should contain a single action of `attributes_modified` which you could use to drop events where there were no content changes. https://githu

[2020-10-22 16:19] EricDavisX commented on #22096
I will cite it is changed / regressed in 7.10:
I verified the 'enroll' and 'help' commands of the Elastic Agent of 7.9.3 (GA) from the download site against my 7.10 BC3 cloud Kibana and didn't see any popup in the Mac on a Catalina darwin version; it executed without any pop up or fuss.

[2020-10-22 16:28] EricDavisX commented on #22090
@rahulgupta-qasource when you are on, can you post back pls

[2020-10-22 16:57] urso commented on #21976
There is an optional pre-commit hook one can install via `make setup-commit-hooks`. The pre-commit hook will run `make lint`, which runs reviewdoc in order to check if commits have any lint errors. Given the number of lint messages we get from multiple packages it is not widely used.

The fix and backports have been merged. Closing.

[2020-10-22 16:57] #21976 closed

[2020-10-22 17:12] nchaulet commented on #22054
Yes the stream id is generated Kibana side here https://github.com/elastic/kibana/blob/master/x-pack/plugins/ingest_manager/common/services/package_to_package_policy.ts/#L79

[2020-10-22 17:45] elasticmachine commented on #22101
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-10-22 17:49] elasticmachine commented on #22080
Pinging @elastic/integrations-services (Team:Services)

[2020-10-22 17:52] ph opened #22104 "[Elastic agent] Support for custom beats"
Investigate if we should support custom beats to be managed by the Agent.

[2020-10-22 17:52] elasticmachine commented on #22104
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-22 17:53] ph commented on #22104
I believe we want to encourage users to write inputs instead of writing their own beats, I don't think we ever discussed what the developer workflow could look like with the Agent.

[2020-10-22 18:02] jeffvestal commented on #22104
CC: @bhoskins7 is going to follow up with the customer who asked about this during a webinar to get more info on what the beat does

[2020-10-22 19:35] urso commented on #22054
Detection would be part of input validation. If we detect the input to be wrong for whatever reason (conflicting IDs), then the input/policy should be rejected.

[2020-10-22 19:57] EricDavisX commented on #22096
we think this is fixed, Chris gave us a test .tar.gz for mac that looked fine to me.

[2020-10-22 20:12] EricDavisX commented on #21823
we got all fixes in to 7.10 line, the BC4 or newer will have them all - recommend to use that build to test. and the 7.X and 8.0 unified builds failed, so we'll need the newer versions of those to pick up the fixes anyhow, but we should be able to test soon!

[2020-10-22 20:15] EricDavisX commented on #21310
The fixes are all in for known problems, and we're expecting nightly runs to all pass!  When we see it (formally) we can close this out.

[2020-10-22 20:16] EricDavisX commented on #21319
The fixes are all in for known problems, and we're expecting nightly runs to all pass!  When we see it (formally) we can close this out.

[2020-10-23 03:24] #22080 closed

[2020-10-23 03:24] SummerWQM commented on #22080
i had fix it.

case i was not add  the config"

  cpu.metrics:  ["percentages","normalized_percentages"]
  core.metrics: ["percentages"]

that's all

[2020-10-23 05:42] mdelapenya commented on #21310
I'd say that https://github.com/elastic/e2e-testing/pull/376 fixed it! Closing

[2020-10-23 05:42] #21310 closed

[2020-10-23 06:06] lowryxiao opened #22123 "[Heartbeat] Crashed on using a third-party module across the month"
The original discussing topic address is here:
https://discuss.elastic.co/t/heartbeat-crashed-on-using-a-third-party-module-across-the-month/252918/3

Hello, Beats friends,

We encountered an issue when we using Heartbeat in our environment.
After some further digging, we believe it cased by using a third-party module -- https://github.com/gorhill/cronexpr without considering the resource competin

[2020-10-23 07:56] elasticmachine commented on #22123
Pinging @elastic/uptime (Team:Uptime)

[2020-10-23 12:52] dainperkins opened #22127 "[Filebeat][Cisco ASA] Ingress / Egress Interface Mappings (7.10)"
Based on the test docs in the current 7.10 implementation there's an issue with ingress/egress interface mappings.  Firepower may exhibit the same issues.

Message IDs: 303***, 313***, 106***
`Teardown UDP connection 110577675 for Outside:10.123.123.123/53723(LOCAL\\Elastic) to Inside:10.233.123.123/53`

ingress interface should be Outside, egress interface should be inside

output shows:
[code]
M

[2020-10-23 13:07] elasticmachine commented on #22127
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-10-23 13:26] MorrieAtElastic commented on #22067
In answer to @exekias' question: as stated previously, the customer has 30+ tenants for whom they have to generate autodiscovery parameters. I did not count, but the customer claims that this totals out at 2000 lines.

I will pass your responses back to the customer.

[2020-10-23 15:22] dainperkins opened #22128 "[Filebeat][Cisco ASA] Observer/Host Mappings (7.10)"
Based on the test docs in the current 7.10 implementation there's an issue with population of host fields when the event is an observational event (e.g. not about the firewall itself)

Message IDs: 3*****
`%ASA-6-302021: Teardown ICMP connection for faddr 192.168.2.2/0 gaddr 8.8.8.8/2 laddr 10.10.10.10/2 type 8 code 0`

output shows:
`"host.hostname":` "SNL-ASA-VPN-A01"

Unless the message is rela

[2020-10-23 15:22] elasticmachine commented on #22128
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-10-23 15:43] mickymiek opened #22129 "[Journalbeat] Can't read journal logs since systemd 246"
Journalbeat has stopped working for us since the version 246 of systemd is out.

This seems to be the culprit: https://github.com/systemd/systemd/blob/93caec7ed612c3d5d62ee092774bb481995fc05e/NEWS#L2049-L2057
We made it work again by setting `SYSTEMD_JOURNAL_KEYED_HASH` to 0 in systemd-journald.service. It would make sense to do what's needed for journalbeat to work without this workaround.

Would

[2020-10-23 16:04] dainperkins opened #22130 "[Filebeat][Cisco ASA] event.action Mappings (7.10)"
Based on the test docs in the current 7.10 implementation there's an issue with event.action mappings. Firepower may exhibit the same issues.

Message IDs: 302016
`Teardown UDP connection 110577675 for Outside:10.123.123.123/53723(LOCAL\\Elastic) to Inside:10.233.123.123/53 duration 0:00:00 bytes 148 (zzzzzz)`

output shows:
`"event.action": "flow-expiration"`

referencing flow-expiration as the e

[2020-10-23 16:04] elasticmachine commented on #22130
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-10-23 16:14] dainperkins opened #22131 "[Filebeat][Cisco ASA] event.outcome Mappings (7.10)"
Based on the test docs in the current 7.10 implementation there's an issue with event.outcome mappings. Firepower may exhibit the same issues.

Per ECS event.outcome, when referencing an action performed by the reporting device (e.g. a firewall denying a connection), should reflect the outcome of the observers action (e.g. a firewall successfully blocking a connection would have an event.outcome o

[2020-10-23 16:14] elasticmachine commented on #22131
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-10-23 16:24] dainperkins opened #22132 "[Filebeat][Cisco ASA] 7.10 Cisco ASA/FTD Module Issues"
Meta Issue to track discrete Filebeat Cisco ASA Module Issues

- [ ] Cisco ASA Ingress / Egress Interface Mappings
https://github.com/elastic/beats/issues/22127

- [ ] Fix: Dissect Cisco ASA 302013 message usernames
https://github.com/elastic/beats/pull/21196

- [ ] [Filebeat][Cisco ASA] Observer/Host Mappings (7.10)
https://github.com/elastic/beats/issues/22128

- [ ] [Filebeat][Cisco ASA] Event.

[2020-10-23 16:24] elasticmachine commented on #22132
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-10-23 21:36] #14226 closed

[2020-10-24 10:56] alexander-marquardt commented on #9600
I have written a blog on this issue at: https://alexmarquardt.com/2020/10/21/elasticsearch-too-many-script-compilations/

[2020-10-25 11:27] elasticmachine commented on #22129
Pinging @elastic/integrations-services (Team:Services)

[2020-10-25 14:52] Ripcurl99983 commented on #2073
Will there be any solutions to ingest ETW logs any time soon? I need PowerShell and DNS .etl logs ingested in my stack. I sold my boss on spinning up an ELK stack a while back. He keeps sending me use cases, and I simply can’t deliver without building crazy pipelines that he won’t give me time to build. I’m a one man ELK show, and I suspect there are many in my position. Paired with a lack of supp

[2020-10-26 04:00] ijokarumawak opened #22136 "[Filebeat][Fortinet] Fortinet ingest pipeline should set event.kind: alert"
**Describe the enhancement:**
Fortinet ingest pipeline should set `event.kind: alert` if `fortinet.firewall.attack` field is set.

**Describe a specific use case for the enhancement or feature:**
Filebeat [Paloalt module](https://github.com/elastic/beats/blob/master/x-pack/filebeat/module/panw/panos/ingest/pipeline.yml#L194) has its ingest pipeline to set `event.kind: alert` if `ctx?.panw?.panos?.

[2020-10-26 07:35] rahulgupta-qasource commented on #22090
Hi @blakerouse / @EricDavisX

I ran the following command to uninstall the above 7.9.2 elastic-agent rpm(as per [uninstall rpm package link](https://www.howtoforge.com/community/threads/how-do-i-uninstall-rpm-packages.8/)):-

[code]

Screenshot:
![uninstall_rpm](https://user-images.githubusercontent.com/59917944/97144936-5d693100-178b-11eb-871b-22fddee39bf6.jpg)

Please let us know if anything is

[2020-10-26 08:49] morganchristiansson commented on #11273
You can disable JSON decoding in filebeat and do the next stage (logstash or elasticsearch ingest processors).

[2020-10-26 09:16] mdelapenya commented on #21319
Closing because the builds are passing again!

[2020-10-26 09:16] #21319 closed

[2020-10-26 09:27] ruflin commented on #22054
Lets move forward first with creating different ids in Fleet. @nchaulet Can you take care of this?

Then we follow up on what we can do on the Agent side. I think we agree to do some validation and if a conflict is detected, there are 2 options:

* Just run one
* Run nothing as not a valid config

[2020-10-26 09:34] willemdh commented on #13533
@andrewkroh Is there any plan to allow tcp with ssl support for the panw input? These logs are far too critical to send them in cleartext..

[2020-10-26 09:38] rahulgupta-qasource commented on #21794
Hi @EricDavisX

Thank you for sharing the feedback.

We have validated the above scenario on 7.10.0 BC3 Kibana cloud environment with commit ed66f41a8a60ad03426beff65ed270a743c46ac4 and 7.10.0 BC3 elastic-agent downloaded from below location: https://staging.elastic.co/7.10.0-aea04452/downloads/beats/elastic-agent/elastic-agent-7.10.0-windows-x86_64.zip

Steps followed:
1. On clean VM(say win x64)

[2020-10-26 10:17] elasticmachine commented on #22136
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-10-26 10:37] MorrieAtElastic commented on #22067
@exekias , @jsoriano

After I discussed your response with the customer and after I closed this enhancement, customer came back with the following comments:

"
_Please pass on my thanks to the developers who have provided alternatives for our use case. However, I see that hints based autodiscover requires specific k8s pod annotations which means tenants would have to perform some config on their s

[2020-10-26 12:05] jsoriano commented on #22067
It is somehow common, this is why Beats support the `scope: cluster` option.

What looks to me perhaps not so frequent is how they are managing the configurations for each tenant. Beats support two main use cases depending on who manages the monitoring configuration:
* If it is managed by the Kubernetes cluster administrator, then they can place the configuration in the main configuration file.
*

[2020-10-26 12:39] jsoriano commented on #20183
Sorry, I was not clear enough. I meant that I think that it should work with the steps mentioned in https://github.com/elastic/beats/issues/20183#issuecomment-675183798, but it doesn't.

[2020-10-26 13:04] blakerouse commented on #21794
@rahulgupta-qasource Based on your latest comment, I believe this to be resolved then? Can this issue be closed?

[2020-10-26 13:26] ph commented on #21116
@blakerouse Can you take a look at this?

[2020-10-26 13:28] blakerouse commented on #21116
Will look into it, think it is related to uninstall. Both could probably be solved at once.

[2020-10-26 14:09] leehinman opened #22149 "[Filebeat] Incorrect connection state in zeek connection pipeline"
https://github.com/elastic/beats/blob/master/x-pack/filebeat/module/zeek/connection/ingest/pipeline.yml#L118

`REG` should be `REJ`

https://docs.zeek.org/en/current/scripts/base/protocols/conn/main.zeek.html

[2020-10-26 14:09] elasticmachine commented on #22149
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-10-26 14:22] EricDavisX commented on #21794
@rahulgupta-qasource thanks for the follow thru.  I'd like to run one more test before closing it.  In short-hand:
install Agent with default
then use 'enroll' command to change to a different policy.

Unless we have that covered already elsewhere.  If all relating cases are working we can indeed close this

[2020-10-26 14:40] bhoskins7 commented on #22104
This is a very industry specific implementation which focuses on collecting DICOM C-ECHO events for monitoring digital imaging communications and send to logstash. The ability to add their own custom beat to Elatic Agent would allow them to monitor the status of their custom beats and reduce operational costs.

[2020-10-26 14:59] blakerouse commented on #22090
That warning is expected and what you want RPM uninstall to do. Being that `elastic-agent.yml` is updated from installation RPM will save it on uninstall.

I am unable to reproduce this, but I used `yum remove elastic-agent` which is the recommend way from the distro on how to remove an RPM installed package.

[2020-10-26 15:02] EricDavisX commented on #21971
We tested with the 7.11 Kibana cloud snapshot and the 7.10 snapshot Agent (both of which have all known fixes required) and found one more bug.  the Agent side update is cited as hopefully easy fix and @michalpristas is working it.  we'll test again in SNAPSHOT and that will give us expectation that the final BC will work great.

the bug as I see it is that the attempted version to download got th

[2020-10-26 15:16] MakoWish commented on #9600
Can you confirm that, @andrewkroh? We have zero scripts that we created ourselves. Any scripts running at all would have been included with Elasticsearch, Kibana, Beats, etc.

That is not the case for us. I had to manually increase the size as I mentioned above.

Nice blog, @alexander-marquardt! Unfortunately, since we have no scripts of our own, I feel this is an issue that needs to be addressed

[2020-10-26 16:12] boernd commented on #21843
Hm, after upgrading it still panics but the stacktrace is slightly different (libbeat/autodiscover/template.Mapper.GetConfig):

[code]

Shall I open a new issue?

[2020-10-26 16:27] #20864 closed

[2020-10-26 16:31] ChrsMark commented on #21843
Hi @boernd! What kind of upgrade did you perform? The fix should be in with `7.9.3` https://www.elastic.co/guide/en/beats/libbeat/7.9/release-notes-7.9.3.html

The line the error indicates was writing in the map before the fix: https://github.com/elastic/beats/blob/ad823eca4cc74439d1a44351c596c12ab51054f5/libbeat/common/kubernetes/k8skeystore/kubernetes_keystore.go#L83

[2020-10-26 16:44] boernd commented on #21843
Strange, pod description gives me

[code]

Upgrade was just updating the Helm values.yaml but will check again tomorrow just to be sure.

[2020-10-26 17:21] #22149 closed

[2020-10-26 17:33] EricDavisX commented on #20205
I did another quick end to end test and found we need one more fix - tagged here:
https://github.com/elastic/beats/issues/21971
 - and we should be able to code up the e2e-testing repo ticket now as the API is fully working.

[2020-10-26 17:37] EricDavisX commented on #21823
I attempted this and did not see the .asc file error (I did see other things but those are separate and being workedon) - tested on 7.10 latest snapshot compiled over the weekend.

[2020-10-26 17:37] #21823 closed

[2020-10-26 17:44] boernd commented on #21843
@ChrsMark The line mentioned above is still in the v7.9.3 tag? I also can find the commit in the 7.9 branch but not in the tagged version.

[2020-10-26 18:04] v1v opened #22164 "[build][windows] environmental issue with python when running mage build unitTest"
### What

[code]

Failed for windows-2019 since  `ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'C:\\Users\\jenkins.PACKER-5D9FFF00\\AppData\\Local\\Temp\\pip-uninstall-3te6d1nb\\pip.exe'` and therefore there was a timeout after 3 hours, the access is denied didn't kill the build but got stalled

![image](https://user-images.githubusercontent.com/2871

[2020-10-26 18:11] peasead commented on #19039
An additional gap for Packetbeat is that `event.type` is blank.

My thought is that `event.type` should reflect what `type` currently is and that `event.action` would carry the `start` and `end` values?

[2020-10-26 18:45] ph commented on #22096
@Conky5 I can close this?

[2020-10-26 18:45] #22096 closed

[2020-10-26 18:47] Conky5 commented on #22096
I am waiting for the current snapshot build process to complete to confirm this is resolved, but I think it is fine to close this issue. Any further issues can be discussed on the internal issue.

[2020-10-26 18:56] leandrojmp commented on #20790
I was looking for the same feature, in my case I would need to use the same port with the `tls` protocol and the `http` protocol.

My use case is that I have a HAProxy listening with TLS on a specific port, for example 41000, then this HAProxy frontend terminates the TLS connection and send the request to the backends on other servers using the same port, this time with HTTP only.

[2020-10-26 19:02] amitaiporat opened #22167 "Functionbeat/Filebeat do not update document with existing ID"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2020-10-26 19:09] tonygunter commented on #15602
Why not just allow the handler to call Ack() manually?  Hander { unmarshall message -> process message -> forward to next receiver -> ACK}?   At this point, the mqtt.Message.Ack() function, wrapping a sync.once.Do function like it does, never actually executes any code except once inside matchAndDispatch.

[2020-10-26 20:06] hueyg commented on #9600
I certainly appreciate the blog post as this is very helpful.  My only
concern is that this seems to be written under the context of someone
dealing with the issue with a custom, in house script.  That is not my
case.  I am experiencing this with the ASA section of the Cisco module for
Filebeat.  I assume I would attempt the same tunings even though this is
official code?

Thank you for the inform

[2020-10-26 20:34] ycombinator commented on #22167
Hi @amitaiporat, we only use GitHub issues for **confirmed** bugs. For questions and troubleshooting, we use Discuss. Since you have already posted your question there and we are engaging, there is no need to also create a GitHub issue with the same contents here. So I'm going to close this issue now. Let's continue the discussion on Discuss. If the discussion confirms that we have a bug or need a

[2020-10-26 20:36] ycombinator commented on #22167
Apologies for closing this issue, I just caught up on the Slack conversation about it. Sounds like @kvch believes this to be a bug. Reopening...

[2020-10-26 20:37] elasticmachine commented on #22167
Pinging @elastic/integrations-services (Team:Services)

[2020-10-26 23:11] elasticmachine opened #22168 "Flaky Test [Build&Test / metricbeat-windows-windows-2019 / TestRead – service]"
## Flaky Test

* **Test Name:** Build&Test / metricbeat-windows-windows-2019 / TestRead – service
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2FPR-21853/detail/PR-21853/28/

### Error details

### Stack Trace

[2020-10-26 23:12] elasticmachine opened #22169 "Flaky Test [Build&Test / metricbeat-windows-windows-2019 / TestGetServiceStates – service]"
## Flaky Test

* **Test Name:** Build&Test / metricbeat-windows-windows-2019 / TestGetServiceStates – service
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2FPR-21853/detail/PR-21853/28/

### Error details

### Stack Trace

[2020-10-26 23:25] alexander-marquardt commented on #9600
@hueyg - If you are running 7.8 or earlier, see: https://www.elastic.co/guide/en/beats/filebeat/7.8/filebeat-module-cisco.html#dynamic-script-compilations

I believe the issue you are referring to was fixed with enhancements made in 7.9.

[2020-10-27 02:12] sagarkal commented on #7590
Hi,

From what I understand, if no TTL is specified, does the connection from a beat (say Filebeat) to Logstash remain open indefinitely?

[2020-10-27 02:36] #14054 closed

[2020-10-27 02:37] andrewvc commented on #22123
@lowryxiao thanks for the detailed submission. It sounds like this is an issue with a custom build of heartbeat you're running using third party libraries. Assuming that's correct, that's not a very niche use-case that we don't really support. I'd be glad to review a PR that fixes this if it's a simple change, but beyond that it doesn't provide enough of a benefit to our user-base as a whole to pu

[2020-10-27 06:14] elasticmachine commented on #22168
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-27 08:04] ChrsMark commented on #21952
Should be fixed in upstream in `1.20` after https://github.com/kubernetes/kubernetes/pull/80954.

[2020-10-27 08:29] v1v commented on #22168
I'll close this to test the flaky test reporting workflow

[2020-10-27 08:29] #22168 closed

[2020-10-27 08:30] ChrsMark commented on #21843
@boernd Sorry for the confusion here. I investigated this and found that the version was cut before the backport was merged so the fix didn't make it to `7.9.3`. It's our fault that it was included in the release notes and we are looking into it. Sorry again for the confusion.

Not sure if you can wait for `7.10` ( it should be out soonish) but you can also try with the build candidates like `dock

[2020-10-27 08:32] elasticmachine opened #22171 "Flaky Test [Build&Test / metricbeat-windows-windows-2019 / TestRead – service]"
## Flaky Test

* **Test Name:** Build&Test / metricbeat-windows-windows-2019 / TestRead – service
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2FPR-21853/detail/PR-21853/29/

### Error details
[code]

### Stack Trace
[code]

[2020-10-27 08:32] elasticmachine opened #22172 "Flaky Test [Build&Test / metricbeat-windows-windows-2019 / TestGetServiceStates – service]"
## Flaky Test

* **Test Name:** Build&Test / metricbeat-windows-windows-2019 / TestGetServiceStates – service
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2FPR-21853/detail/PR-21853/29/

### Error details
[code]

### Stack Trace
[code]

[2020-10-27 08:41] arunreddy00 opened #22173 "unabe to send kubernetes metricbeats logs to elasticsearch"
Unable to send metricbeats logs to elasticsearch

https://github.com/elastic/beats/blob/7.9.0/deploy/kubernetes/metricbeat-kubernetes.yaml
From above link i have deployed metricbeats
![Screenshot (26)](https://user-images.githubusercontent.com/58287304/97277240-3d567200-185e-11eb-8585-6dcc3c71f570.png)

Can i get some help

[2020-10-27 08:42] jsoriano commented on #21952
Great! Let's update go-client when a new version is available.

[2020-10-27 09:02] kvch opened #22174 "Disable add_*_metadata processors for Functionbeat"
Functionbeat, unlike other Beats, runs in a serverless environment. Thus, it does not make sense to collect metadata about the host machine. As the data about these hosts are irrelevant and useless.

The following host metadata collectors must be disabled:
* `add_cloud_metadata`
* `add_host_metadata`
* `add_docker_metadata`
* `add_kubernetes_metadata`
* `add_process_metadata`

At the moment most o

[2020-10-27 09:02] elasticmachine commented on #22174
Pinging @elastic/integrations-services (Team:Services)

[2020-10-27 09:51] narph opened #22176 "System diskio on windows - io.time metricset appeared and iit is mapped to 0, also events are coming in empty"
It looks like one of the linux metrics is visible in the windows diskio events `io.time` and it is mapped to 0. This was not the case previously.

Also, empty events are being logged (every second event is empty).
Examples:

[code]