[2020-11-20 16:40] andrewkroh commented on #22678
As per https://github.com/moby/libnetwork/pull/2577 as possible workaround for the Docker issue to bind to specific addresses in the port mappings.

Since this isn't a Filebeat bug I'm going to close this.

[2020-11-20 16:40] #22678 closed

[2020-11-20 17:05] lynxium69 commented on #22675
Hello @jamiehynds ,
Thanks a lot for your answer.
i check fortinet.yml file , firewall module is well enable :(

![image](https://user-images.githubusercontent.com/57848024/99827624-299ae480-2b5a-11eb-9eda-58c6f32df97d.png)

I use a rsyslog server to receive log from fortigate, does the problem can be this choice ?
Do you recommand to send log directly to filebeat module without using rsyslog serv

[2020-11-20 17:24] andrewkroh opened #22694 "[Auditbeat] File Integrity Module Edge Cases"
While trying to come up with a solution for #17347. Some related issues were identified and need to be addressed.

1. When hashing fails due to an app having the file open with exclusive rights it causes the "update" attribute to be lost (when the attributes are computed by diff).
2. Losing the hash means the persisted data is missing a hash. This causes a fault later when another event comes in.

[2020-11-20 17:25] elasticmachine commented on #22694
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-20 17:46] P1llus commented on #22675
Hello @lynxium69 , did you also run the "filebeat setup" command from the docs as well? This mostly happens when that step is forgotten.

You can forward data from a rsyslog server, as long as you are sending the raw unchanged message, default templates often modifies the message before forwarding.

[2020-11-20 20:15] #14695 closed

[2020-11-20 20:15] #12576 closed

[2020-11-21 17:15] #14714 closed

[2020-11-21 17:15] #12023 closed

[2020-11-21 19:18] pratcool007 opened #22704 "panic: runtime error: index out of range goroutine 1 [running]: while running metricbeat setup"
Hi All,

I am new to GitHub and ELK. I am facing below issue and someone pointed out to report this on GitHub. (https://stackoverflow.com/questions/64942752/panic-runtime-error-index-out-of-range-goroutine-1-running-while-running-me?noredirect=1#comment114820765_64942752)
Can you please help to solve the issue.

I am running metricbeat setup command through ansible but getting below error. Can som

[2020-11-21 21:46] elasticmachine commented on #22704
Pinging @elastic/integrations-services (Team:Services)

[2020-11-21 21:46] andresrc commented on #22704
Hi, can you provide the version that you are using?

[2020-11-22 11:50] willemdh commented on #13533
@andrewkroh Just wanted to add that for testing purposes, I tried to configure IETF format instead of BSD, as that is the recommended by Palo Alto when sending syslog over TCP. (https://docs.paloaltonetworks.com/pan-os/9-1/pan-os-admin/monitoring/use-syslog-for-monitoring/configure-syslog-monitoring)

Configured it Tuesday and ingestion seemed to work at first sight, but today I was alerted by our

[2020-11-23 01:27] berglh opened #22705 "Redis Module: Metricbeat 7.10.0 service object host parsing errors"
- Version: 7.10.0
- Operating System: Oracle Enterprise Linux 7.8
- Docker: 19.03.9

## Description

The generation of the service object in Redis is no longer handling the parsing of redis module configuration for each host. Below is the configuration, along with service object outputs for Metricbeat 7.9.3 where the output is generated correctly, and 7.10 where the redis URI protocol seems to be

[2020-11-23 07:41] elasticmachine commented on #22705
Pinging @elastic/integrations-services (Team:Services)

[2020-11-23 07:58] pratcool007 commented on #22704
Hi, Please find the same.

# metricbeat version
metricbeat version 7.4.0 (amd64), libbeat 7.4.0 [f940c36884d3749901a9c99bea5463a6030cdd9c built 2019-09-27 07:51:21 +0000 UTC]

[2020-11-23 08:02] mattiagalati commented on #12572
I don't want to bother or anything, just I stumbled upon a scenario that might need a deep reflession on Filebeat behaviour: during some tests with Filebeat, my Elastic runned out of disk space.

Immediately after that, Elastic put the index where I want to write to "read only" and then, every other subsequent attempt of Filebeat to publish events resulted in a 403 error.

Maybe the "read-only" in

[2020-11-23 08:24] rahulgupta-qasource commented on #22188
Hi Eric

We have validated the ticket on 7.10.0 BC6 Kibana cloud environment(with commit 1796b5ec8fa1e60ccea63f2e5c25ccc665b92fdc) from [cloud-prod](https://cloud.elastic.co) platform with following RPM agent(on Linux CentOS7 host) enrolled with Default policy having 'Endpoint Security' integration added.

7.10.0 BC6 RPM agent: https://staging.elastic.co/7.10.0-0624cd63/downloads/beats/elastic-age

[2020-11-23 08:24] #22188 closed

[2020-11-23 08:44] fkelbert opened #22707 "Filebeat: Netflow dashboard is unresponsive and slow"
Filebeat 7.10

Filebeat ships with default dashboards for Netflow data (e.g., "Autonomous systems" dashboard). These seems to be unoptimized and are thus unresponsive and very slow in loading.

Two aspects that seem to contribute to the slowness:

- `query_string: *` is generating a `ConstantScore(DocValuesFieldExistsQuery(<field>))` for **every** field
- Pie charts are creating 50x50 terms aggreg

[2020-11-23 09:04] rahulgupta-qasource commented on #22530
Hi Eric

We have created and executed the test cases for stand-alone agent upgrade through CLI under https://github.com/elastic/beats/pull/22510 ticket.

Please let us know if any other scenario needs to be validated.

[2020-11-23 09:19] elasticmachine commented on #22707
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-23 09:44] #21560 closed

[2020-11-23 09:57] michalpristas commented on #20836
on latest failed test email i havent seen this failing can we close this @ph

[2020-11-23 10:15] ruflin commented on #20756
I'm good with having a manual action in standalone.

[2020-11-23 13:29] ph commented on #21518
PR is at https://github.com/elastic/beats/pull/22537

[2020-11-23 13:35] dikshachauhan-qasource commented on #22224
Hi @EricDavisX

We have re-validated this scenario on 8.0 snapshot Kibana cloud build on different operating systems. Observations are as below:

[Below are build detail]

[code]

Precondition: Endpoint integration should be added in Default Policy.

We have followed same steps as mentioned in defect summary.

**Observation 1 on MAC:**
- Agent comes online for a minute.
- No activity logs generate

[2020-11-23 14:17] ph commented on #20756
++ on having it manual on standalone.

Thanks @michalpristas this will be nice.

[2020-11-23 14:18] elasticmachine commented on #18081
Pinging @elastic/integrations-services (Team:Services)

[2020-11-23 14:18] ph commented on #18081
Going to remove this from the ingest managemetn team, we have a solution that work.

[2020-11-23 14:26] #20836 closed

[2020-11-23 15:34] hochraldo opened #22715 "Support multiple IPs in envoy module"
Currently the envoy module only supports one IP for the X-Forwarded-For header into the envoy access logs.
However, according to https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-For this header can contain multiple IP addresses. That's why an envoy access log can have the following entry (with the default access log format set: https://www.envoyproxy.io/docs/envoy/v1.10.0/conf

[2020-11-23 15:50] lynxium69 commented on #22675
Thanks @P1llus !  , i run filebeat setup with debug mode enable and i found this error

![image](https://user-images.githubusercontent.com/57848024/99983201-d7510200-2dab-11eb-962f-23a48e88699f.png)

Do you know how can it be resolved ?

[2020-11-23 16:05] ynirk opened #22716 "[filebeat][aws][vpcflow] mapping errors on logs with "NODATA" & "SKIPDATA" log_status"
When testing filebeat 7.10.0 on AWS vpcflow, i noticed some parsing errors when `aws.vpcflow.log_status` is `NODATA` or `SKIPDATA`

With those status, the log line looks like the following:

[code]

It generates mapping errors:

[code]

[2020-11-23 16:13] igoristic commented on #22370
@ycombinator This investigation will also include usage of:
[code]
which I'm assuming also has heavy nested footprint

[2020-11-23 16:16] elasticmachine commented on #22716
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-11-23 16:18] elasticmachine commented on #22715
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-11-23 16:47] jsoriano opened #22718 "Kubernetes autodiscover doesn't discover short living jobs (and pods?)"
Reported in https://github.com/elastic/beats/issues/11834#issuecomment-731024583. I could reproduce it in 7.10 with the reference documentation and a simple cronjob. Filebeat with autodiscover doesn't collect logs of short-living jobs.

What I could see is that short living containers don't generate any start event. Sometimes they generate a stop event.

With kubectl (`-w`) I could see that pods f

[2020-11-23 16:47] elasticmachine commented on #22718
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-11-23 16:51] jsoriano commented on #11834
Hey @MeLuje,

I could reproduce some issues with cronjobs, I have created a separated issue linking to your comments: https://github.com/elastic/beats/issues/22718

Thanks for reporting!

[2020-11-23 16:53] jsoriano commented on #11834
I am going to lock this issue as it is starting to be a single point to report different issues with filebeat and autodiscover.

If you find some problem with Filebeat and Autodiscover, please open a new topic in https://discuss.elastic.co/, and if a new problem is confirmed then open a new issue in github.

[2020-11-23 17:33] EricDavisX commented on #22549
Hi - note the minor refinement in the query bar for this feature: https://github.com/elastic/kibana/pull/84108
 - in case anyone notices.  :)
Also - note the above feature test ticket to actually change the log-level in the UI, we should test those together

[2020-11-23 17:52] kaiyan-sheng opened #22719 "Investigate monitoring ECS EC2 using Metricbeat"
As a part of `awsfargate` metricbeat module documentation in PR https://github.com/elastic/beats/pull/22034, we would also like to investigate how to monitor ECS EC2 using Metricbeat.

Documentation on getting started with [ECS EC2](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/getting-started-ecs-ec2.html).

[2020-11-23 17:52] elasticmachine commented on #22719
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-11-23 17:58] #22210 closed

[2020-11-23 21:50] EricDavisX commented on #22549
The initial check-in is exciting to review - I am using 8.0 and have noticed / discussed a few items that are being reviewed.
 - logs are clipped, no horizontal scroll being put in, but line wrap is. per https://github.com/elastic/kibana/pull/83449
 - no refresh button in UI, but ^ pr has one, so maybe it is coming too.
 - refresh button in browser will lose saved state, Jen says she is doing a PR

[2020-11-23 22:56] #20691 closed

[2020-11-24 00:40] relent0r opened #22722 "Kibana fleet management does not read the port number from ece/kibana config"
For confirmed bugs, please report:
- Version: ECE Version 2.7, Kibana Version 7.10
- Operating System: Linux

In the beta of fleet management it will read the kibana and elastic urls but will not use the port number instead defaulting to 443. So if a non standard port is used for the kibana/elastic endpoint URL the incorrect url will be provided for the add agent guide and the default policy will

[2020-11-24 00:46] elasticmachine commented on #22722
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-24 06:14] ycombinator commented on #22370
Hmm, I don't see those fields in the [`.monitoring-logstash` mappings](https://github.com/elastic/elasticsearch/blob/master/x-pack/plugin/core/src/main/resources/monitoring-logstash.json). The `nested` fields I _do_ see in the mappings are:

- [`logstash_stats.pipelines`](https://github.com/elastic/elasticsearch/blob/5b143b40bf05e1a13c12bfaf8efb7af70f636379/x-pack/plugin/core/src/main/resources/mo

[2020-11-24 07:52] smartkathycat opened #22723 "[Filebeat]enhancing integration with Azure NSG logs"
**Describe the enhancement:**

**Describe a specific use case for the enhancement or feature:**
Users would like to use filebeat to pull NSG logs from Azure blobs. Currently there are only a subset of features are supported for Azure compared to AWS.

[2020-11-24 08:06] elasticmachine commented on #22723
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-11-24 09:22] ruflin commented on #18081
@ph I'm still thinking we should push an option forward that does not require restarting the process. Lets assume a process has an issue and you want to dig into the details by getting more logs. Restarting the process might make the issue disappear.

[2020-11-24 10:11] #20851 closed

[2020-11-24 10:43] pratcool007 commented on #22704
Hi,

Can someone please reply.

[2020-11-24 11:15] #14651 closed

[2020-11-24 12:29] andresrc commented on #22704
Are you able to reproduce it with the latest version? (7.10)

[2020-11-24 12:37] mitoihs commented on #12732
I have the same issue. Windows Server 2016, MongoDB 4.4, Packetbeat 7.10.0, no SSL.

[2020-11-24 12:42] Aqualie commented on #18755
cat /sys/kernel/debug/kprobes/enabled
1
sudo cat /sys/kernel/debug/kprobes/enabled
1

system/socket is being run from auditbeat.yml

[2020-11-24 12:55] gquintana commented on #17295
MeanRate doesn't mean anything (it's too smoothed as time passes) and doesn't reflect Kafka's current status.
 #22733 should fix

[2020-11-24 13:01] gquintana opened #22734 "In Metric Kafka Module topic name should be extracted from MBean name"
For metric name like `kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=mytopic`, the topic name should be extracted in specific Elasticsearch document field.
This would allow to build dashboard with topic specific metrics.

Several JMX/Jolokia metrics are concerned:
* `kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=mytopic`
* `kafka.server:type=BrokerTopicMetrics,name=B

[2020-11-24 13:10] gquintana opened #22735 "Metric Kafka Broker Module collected JMX/Jolokia metrics"
As of Kafka 2.6, this metric doesn't exist however it's collected:
[code]
Then the same metric is collected twice with 2 different names:
[code]
Finally it would make sense to collect ReplicaManager related metrics:
* `kafka.server:type=ReplicaManager,name=OfflineReplicaCount`
* `kafka.server:type=ReplicaManager,name=UnderReplicatedPartitions`
* `kafka.server:type=ReplicaManager,name=UnderMinIsrPa

[2020-11-24 13:39] dikshachauhan-qasource commented on #22549
Hi @EricDavisX

Thanks for the update.

We are performed testing on validating agent logs collection in kibana under [Agent and Endpoint logs collection in Kibana Test Run](https://elastic.testrail.io/index.php?/runs/view/831) on 7.11.0-SNAPSHOT Kibana cloud build. Build details are as follows:
[code]
Also, we have updated 08 testcases and created a new test case: https://elastic.testrail.io/index

[2020-11-24 13:53] ph commented on #22722
@relent0r where the URL is incorrect in the UI?

[2020-11-24 13:55] #22482 closed

[2020-11-24 14:56] ckauf opened #22738 "Extract topic name from "mbean" field for throughput fields"
**Describe the enhancement:**
Currently the Kafka Metricbeat Module does report `kafka.broker.topic.net.out.bytes_per_sec`, `kafka.broker.topic.net.in.bytes_per_sec`, and `kafka.broker.topic.messages_in`.

Same issue is for `kafka.consumer` metrics.

The topic name is included in the `mbean` and should be present as a single field for this metric.
Current state:
[code]

Suggestion: Use an ingest p

[2020-11-24 14:58] gyterpena commented on #15922
Getting same errors, but only from time to time(eg not on all suricata logs), logstash does send to pipeline. I believe that type is wrong, eg somehow field ends up not matching date type.

2020-11-24T14:48:40,077][WARN ][logstash.outputs.elasticsearch][default-new][out_beats_pipeline_suri] Could not index event to Elasticsearch. {:status=>400, :action=>["index", {:_id=>nil, :_index=>"logs-suri-fi

[2020-11-24 15:16] elasticmachine commented on #22738
Pinging @elastic/integrations-services (Team:Services)

[2020-11-24 15:16] ChrsMark commented on #22738
cc: @andresrc

[2020-11-24 15:24] EricDavisX commented on #22549
@rahulgupta-qasource  @dikshachauhan-qasource Can you transfer this to a new issue please?  And while researching, I think we still have an RPM / Deb relating issue logged, you can make additional notes there.

[2020-11-24 15:32] #22478 closed

[2020-11-24 15:41] andresrc commented on #22679
The recommended approach is to copy the module and make the changes there.

[2020-11-24 15:41] #22679 closed

[2020-11-24 15:45] ChrsMark commented on #22715
Possibly helpful PR: https://github.com/elastic/beats/pull/21215

[2020-11-24 15:45] mgevans-5 commented on #22207
Hi There Andrew.  Thank you for the response.
You'll note that in the opening issue request i linked to another issue that requested NTLM in 2017.
both @brandonmensing and @gurumaia engaged in the request.  The latter actually proposed a change that he couldn't quite get working.

I will reiterate that as Elastic moves further into Observability _within_ enterprise walls you'll see more requests f

[2020-11-24 15:46] PBarnard commented on #22679
@andresrc I dont think you understood my question

[2020-11-24 15:51] ycombinator commented on #22679
@PBarnard Any Filebeat module's `input` settings can be overridden: https://www.elastic.co/guide/en/beats/filebeat/master/advanced-settings.html. One such `input` setting is the ingest pipeline: https://www.elastic.co/guide/en/beats/filebeat/master/filebeat-input-log.html#_pipeline_10. Does this help with your use case?

[2020-11-24 16:02] narph commented on #22723
@smartkathycat you mean nsg flow logs right?
We have an enhancement issue opened regarding adding support for azure blob storage input which could help in this case https://github.com/elastic/integrations/issues/403.
A workaround atm would be to make use of the azure function built by the Microsoft team https://github.com/microsoft/AzureNetworkWatcherNSGFlowLogsConnector that can parse and transfe

[2020-11-24 16:10] urso commented on #22704
Judging by the stack trace I can see how the panic can happen if there is a missing `]` at the end of the string.
Does the password start with a `[` or is the kibana address put into `[`? I also wonder if the host list is passed as is, or if there is some escaping done.

[2020-11-24 16:11] kaiyan-sheng opened #22739 "Prioritize which part in Beats to add host.id and host.name"
We should investigate and make a proposal on which part of Beats should add `host.id` & `host.name` and when we have multiple parts adding them, which part has a higher priority on overwriting these fields.

Related parts in Beats:
1. Libbeat: `host.name` is added in `libbeat` before the global `add_host_metadata` processor is executed.
2. Processors: `add_host_metadata` processor adds host relate

[2020-11-24 16:11] elasticmachine commented on #22739
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-11-24 16:15] kaiyan-sheng commented on #22739
Related issues:
https://github.com/elastic/beats/issues/21773
https://github.com/elastic/beats/issues/22519

[2020-11-24 16:15] ThorbenJ opened #22740 "Elastic-Agent: Do not output to STDERR under powershell, unless you want PS to fail execution as an error"
- What: elastic-agent.exe
 - Version: 7.10.0 (but all previous too)
 - OS: Windows 10 (as of 2020-11-24)

Problem:

In certain execution contexts PowerShell will convert any line of text sent to STDERR into an Error object. This will no doubt go unhandled thus the commend is failed by powershell:

[code]

Google "PS NativeCommandError" to discover all the happy people that trip over this error.

S

[2020-11-24 16:15] #14699 closed

[2020-11-24 16:19] ycombinator commented on #22704
BTW, I'm pretty sure this issue is a duplicate of this discuss post: https://discuss.elastic.co/t/panic-runtime-error-index-out-of-range-goroutine-1-running-while-running-metricbeat-setup/256220. I'm actively working with the user on discuss, FWIW.

[2020-11-24 16:20] elasticmachine commented on #22740
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-24 16:34] urso commented on #22704
Thank you. This will help to write an unit test for the config parsing.

Yeah, this looks like an escaping problem. Still Beats should not crash but create a meaningful error.

[2020-11-24 16:48] pratcool007 commented on #22704
Yes this is the duplicate of https://discuss.elastic.co/t/panic-runtime-error-index-out-of-range-goroutine-1-running-while-running-metricbeat-setup/256220

[2020-11-24 17:11] PBarnard commented on #22679
@ycombinator Ahh, looks like the lack of understanding was on my part, that's exactly what I was looking for! Many thanks :)

[2020-11-24 17:37] elasticmachine commented on #22735
Pinging @elastic/integrations-services (Team:Services)

[2020-11-24 17:38] elasticmachine commented on #22734
Pinging @elastic/integrations-services (Team:Services)

[2020-11-24 19:44] ph commented on #22740
@michalpristas or @blakerouse you know more windows than me. Can you take a look?

[2020-11-24 19:45] EricDavisX commented on #22442
@rahulgupta-qasource with the new Agent logs feature in, I think we can close this, it is not urgent enough to fix in 7.10.X and is not seen as the statements in 7.11 / 8.0 are vastly different when reviewing the actual logs.  If you would review and please close if you agree it is not the same use case any more?

[2020-11-24 19:55] raulmartinezr opened #22743 "Support for couchdb 3"
Hello,

I see couchdb  module @metricbeat supports versions 1 and 2. Is there any plan to extend this suppor to version 3, 3.1?

Thanks in advance!
Raúl

[2020-11-24 20:21] EricDavisX opened #22744 "[Elastic Agent] - RPM / DEB not working, Agent can't enroll to fleet - shows message: "Usage: /etc/init.d/elastic-agent {start|stop|status|restart|force-reload}""
On enrolling the .deb 7.11-SNAPSHOT package agent, we are getting the following message
"Usage: /etc/init.d/elastic-agent {start|stop|status|restart|force-reload}"
and are unable to enroll the .deb agent using the following steps on Linux Debian 9 with .deb or a Centos8 with .rpm instance (verified on both, but deb example is given below:

Steps followed:

Download the "elastic-agent-7.11.0-amd64.

[2020-11-24 20:21] elasticmachine commented on #22744
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-24 20:24] EricDavisX commented on #22744
thank you @dikshachauhan-qasource @rahulgupta-qasource for bringing this issue, I logged it so it could be tracked more immediately and we can clean up the other test issue where it was first noted, https://github.com/elastic/beats/issues/22549#issuecomment-729674839

[2020-11-24 20:27] EricDavisX commented on #22549
@dikshachauhan-qasource as you can see above, I logged the issue for us and have edited its citation in your post for clarity.  We will hopefully have a fix to allow us to continue testing... but I doubt it will be for a week perhaps due to vacation and priority.  For now, and until fixed, I would continue testing around all things .deb/.rpm in 7.11 / 8.0 as possible.

[2020-11-24 20:56] EricDavisX commented on #22224
I am testing on a version of Mojave in Endgame vSphere and I see it working, as tested on 7.11 latest build.  I also tested my local mac and it works.

This issue has lived thru almost a month now, with confirmed 'cloud' issues impacting in between Agent side review, if we can't find a way to reproduce it soon I think the best course is to log a new ticket with more clarity and start testing over,

[2020-11-24 21:15] EricDavisX commented on #22744
if anything is changing / changed in our intended usage from 7.10 to 7.11 please do let us know and we can track updates to the Docs too, this page: https://www.elastic.co/guide/en/fleet/current/elastic-agent-installation.html

[2020-11-24 22:33] EricDavisX commented on #22744
I verified the same on a known working good Centos8 image - the .rpm install shows the same as .deb example.

[2020-11-25 00:49] markwalkom commented on #20524
FYI this came up in https://discuss.elastic.co/t/filebeat-misp-module-refresh/256281, specifically around the `var.interval` and the "poll once" appearance.

[2020-11-25 02:04] #22561 closed

[2020-11-25 04:57] igoristic commented on #22370
The Stack Monitoring UI is still using the following fields:
[code]
To represent the pipeline's details page

However we're only using vertices of `plugin_type`: `input`, `filter`, and `output`. So, if there are any other types they can be safely removed

Also, `meta` field can be safely removed as well

[2020-11-25 06:24] elasticmachine commented on #22743
Pinging @elastic/integrations-services (Team:Services)

[2020-11-25 06:52] hilt86 commented on #20524
@softengchick does the var.interval use standard elastic date notation, i.e: 60m = 60 minutes?

[2020-11-25 08:12] rahulgupta-qasource commented on #22442
Hi @EricDavisX

I agree with you. It is not the same use case any more with new Agent logs feature in.

Hence, closing the ticket.

[2020-11-25 08:12] #22442 closed

[2020-11-25 08:32] andresrc commented on #21661
It seems the high memory consumption is due to just the accumulation of big events in the memory queue. Closing.

[2020-11-25 08:32] #21661 closed

[2020-11-25 08:36] michalpristas commented on #22394
@ph can you elaborate on this one `I should be able to query a data_stream query the collected metric.`
as a first step i will use libbeat code to expose metrics stats using socket/npipe. then metricbeat will collect these.

i have also two options in mind:
- first one is that we dont allow disabling monitoring and we will monitor all processes and agent metrics at all times.
- second one will res

[2020-11-25 08:48] andresrc commented on #20457
We have not been able to reproduce this issue in any release version. The memory increases we have reproduced have always been related to growing queues due to a combination of back-pressure from the output and big events.

Please reopen if you are able to reproduce it with a release version and can generate and updated memory dump.

Thanks

[2020-11-25 08:48] #20457 closed

[2020-11-25 09:05] fadjar340 opened #22748 "Add Paloalto Virtual system field"
**Describe the enhancement:**
Adding snippet to add the paloalto modules to have vsys information in the inpuit.yml

**Describe a specific use case for the enhancement or feature:**

If you have Paloalto devices that using virtual system, in the existing filebeat, didn't show up because the field information in the csv processing not added.
Below my enhanchement in `/usr/share/filebeat/modules/pan

[2020-11-25 09:43] rahulgupta-qasource commented on #22224
Hi @EricDavisX

We have validated the ticket with 7.11.0-SNAPSHOT darwin agent on above 7.11.0-SNAPSHOT Kibana cloud environment https://5b98001d272449f28f0d24f8d0bc749c.us-east-1.aws.staging.foundit.no:9243/app/fleet# (with commit 968b6e5104013e02b55fefaa27793f878764361f) with macOS mojave 10.14.1

macOS Agent: https://snapshots.elastic.co/7.11.0-917eed6c/downloads/beats/elastic-agent/elastic-age

[2020-11-25 09:43] #22224 closed

[2020-11-25 10:43] atoom opened #22752 "[Metricbeat][docker][memory] Gracefully handle unavailibility of docker memory stats"
**Describe the enhancement:**
In cases where no conatiners are running and therefor no memory stats available the  `memory` metricset in the Metricbeat `docker` module should not print the log line below:

`2020-11-25T10:56:45.629+0100    INFO    module/wrapper.go:259   Error fetching data for metricset docker.memory: No memory stats data available`

Over time this accumulates to a lot of log line

[2020-11-25 11:11] elasticmachine commented on #22748
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-25 11:34] urso opened #22753 "Flakey test: winlogbeat.tests.system.test_wineventlog.Test.test_query_ignore_older"
## Flaky Test

* **Test Name:** winlogbeat.tests.system.test_wineventlog.Test.test_query_ignore_older
* **Link:** Link to file/line number in github.
* **Branch:** master
* **Artifact Link:** If available, attach the generated zip artifact associated with the stack trace for this failure.
* **Notes:** The tests seems to fail consistently on Windows 7 (32bit)

### Stack Trace

[code]

Winlogbeat lo

[2020-11-25 11:53] jamiehynds commented on #18205
@kaiyan-sheng we recently shipped a Cisco Umbrella integration which leverages the Beats S3 input. This works fine for Umbrella customers using self-managed S3 buckets, but Cisco also provide Cisco-managed buckets where SQS notifications are not available. It looks like we don't be able to support Cisco-managed buckets until this issue is address.

/cc @P1llus

[2020-11-25 12:15] #22651 closed

[2020-11-25 12:34] elasticmachine commented on #22753
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-25 12:34] elasticmachine commented on #22752
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-11-25 12:39] rahulgupta-qasource commented on #22296
**Bug Conversion:**

Testcase already exists for this ticket.
https://elastic.testrail.io/index.php?/cases/view/33960

[2020-11-25 12:47] rahulgupta-qasource commented on #22090
**Bug Conversion:**

Testcase already exists for this ticket.
https://elastic.testrail.io/index.php?/cases/view/34908

[2020-11-25 12:52] rahulgupta-qasource commented on #21972
**Bug Conversion:**

Testcase already exists for this ticket.
https://elastic.testrail.io/index.php?/cases/view/33960

[2020-11-25 12:56] hufon commented on #22743
Actual state tested with metricbeat 7.7

`2020-11-25T12:46:27.103Z	ERROR	runtime/panic.go:199	recovered from panic while fetching 'couchdb/server' for host 'couchdb-1.couchdb.ippon-doc.svc.cluster.local:5984'. Recovering, but please report this.	{"panic": "runtime error: invalid memory address or nil pointer dereference", "stack": "github.com/elastic/beats/v7/libbeat/logp.Recover\n\t/go/src/github

[2020-11-25 13:05] rahulgupta-qasource commented on #21852
**Bug Conversion:**

Testcase already exists for this ticket.
https://elastic.testrail.io/index.php?/cases/view/34374

[2020-11-25 13:27] rahulgupta-qasource commented on #21247
**Bug Conversion:**

Testcase already exists for this ticket.
https://elastic.testrail.io/index.php?/cases/view/33951

[2020-11-25 13:29] rahulgupta-qasource commented on #21744
**Bug Conversion:**

Testcase already exists for this ticket.
https://elastic.testrail.io/index.php?/cases/view/34391

[2020-11-25 13:38] rahulgupta-qasource commented on #21378
**Bug Conversion:**

Updated 01 Testcase for this ticket.
https://elastic.testrail.io/index.php?/cases/view/33948

[2020-11-25 13:43] ph commented on #22394
@michalpristas I have reworded the AC for Collected metric should be send to a specific agent data stream.

Concerning the behavior you are describing, isn't this just implementation details? I meant we have an option in the configuration file which is:

[code]

Would like to hear what others think?

[2020-11-25 13:58] michalpristas commented on #22394
@ph yeah i was wondering if using these options to disable monitoring, whether or not do we want to collect metrics of agent. e.g if there is any reason to continue collecting agent metrics if we set `agent.monitoring.metrics:false`
there probably isn't. i just wanted to double check.

i think i have something we can work with as a draft, i will test it on all OSes to see what gets reported where

[2020-11-25 14:44] ThorbenJ commented on #22740
Please note if you don't have ` $ErrorActionPreference = "Stop"` (PS equiv of Bash's `set -e`), then PS will treat the STDERR output as an error and display it, but it wont immediately kill elastic-agent.exe. Tested under PowerShell ISE.
Why not under PowerShell interactive? I am no PS expert, but reading up on this it seems, ISE, PS Remote, and I assume task scheduled instances wrap STDERR with S

[2020-11-25 15:10] kaiyan-sheng commented on #22216
Fields used in process metrics UI:
- process.command_line
- process.pid
- system.process.state
- user.name
- system.process.cpu.total.norm.pct
- system.process.cpu.start_time
- system.process.memory.rss.pct

[2020-11-25 16:01] kaiyan-sheng commented on #22216
It would be good to have `process.ppid` so metrics UI process tab can display a tree map between processes.

[2020-11-25 16:02] michalpristas commented on #20756
discussed with @ferullo agent will notify endpoint about log level change as part of the config under fleet section.

[2020-11-25 16:21] ph commented on #20756
@michalpristas What about the non-matching log level, like _notice_?

[2020-11-25 16:22] ferullo commented on #20756
It's ok if the only Endpoint log levels that can configured via agent are `error`, `warning`, `info` and `debug`.

[2020-11-25 17:06] igoristic commented on #22370
Since, this is only an investigation ticket, I'm going to close this issue (but feel free to re-open)

[2020-11-25 17:06] #22370 closed

[2020-11-25 17:29] ManuelFFF commented on #21725
Hi all,

I am experiencing a very similar issue with Winlogbeat v7.9.2 and v7.10. I went through the issue described on this thread some time ago, when I saw for the 1st time the PowerShell output mentioning configs `setup.ilm.overwrite: true` and `setup.ilm.check_exists: false`. I added both lines to my config and that caused wrong mappings. After I removed the lines and re-created the index, the

[2020-11-25 17:32] 111andre111 opened #22762 "[Enhancement request] adding XML functionality to read in winlogbeat or winlog input"
**Describe the enhancement:**
Add functionality that the winlogbeat is able to read as well XML exported events
**Describe a specific use case for the enhancement or feature:**
At the moment winlogbeat can directly read EVTX files.
https://www.elastic.co/guide/en/beats/winlogbeat/current/reading-from-evtx.html
But for certain use cases like for instance test events or erroneously exported Event lo

[2020-11-25 17:34] elasticmachine commented on #22762
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-25 17:36] lynxium69 commented on #22675
Hello, sorry to insist , but nobody now how to resolve "Error setting up ML for apache_ecs" ?
This error appear during filebeat setup.

Regards

[2020-11-25 19:16] bminahan-kc commented on #9864
👍 for environment variable support.

[2020-11-25 19:39] ManuelFFF opened #22764 "Winlogbeat wrong mapping"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2020-11-25 19:58] cdalexndr opened #22765 "Invalid fsstat used/free disk space docker wsl2"
Metricbeat reports invalid free size.
Total size reported is total disk size (correct), but used size seems to be only docker related files, not rest of files on disk.
So the resulting free space is very large, but in reality, only ~70GB are free.

ES document:
[code]

metricbeat.yml:
[code]

docker service:
[code]

For confirmed bugs, please report:
- Version: 7.9.3
- Operating System: docker win

[2020-11-25 21:23] relent0r commented on #22722
Hi ph,

Under Fleet management in the overview or agents tab. Clicking on 'Add agent', under the 'Enroll and start the Elastic Agent' section it helpfully provides the command that can be used with custom url information based on the deployment information. This is the first place where the url is incorrect.
Then under the actual Agent policies, under fleet settings, there is a 'Global output' set

[2020-11-26 05:07] P1llus commented on #22675
Hello @lynxium69 . Unfortunately github is here to report bugs. You are indeed hitting a issue that has been tracked on a few modules like here: https://github.com/elastic/beats/issues/22567

I won't be able to give a concrete answer, but I can give you a workaround in the meantime and hope that helps.

Please run filebeat setup and defining what the setup should install, this should get you going

[2020-11-26 05:10] P1llus commented on #18205
There is certainly needs and usecases for this indeed! Custom log sources could be fetched with Logstash, but if we want to build modules that store their data on a S3 bucket without a SQS queue we do indeed need that option.

[2020-11-26 05:34] elasticmachine commented on #22765
Pinging @elastic/integrations-services (Team:Services)

[2020-11-26 05:35] elasticmachine commented on #22764
Pinging @elastic/siem (Team:SIEM)

[2020-11-26 08:42] #22683 closed

[2020-11-26 08:49] geheim01 opened #22770 "Need: UUID for the fingerpringt processor"
**Describe the enhancement:**
Introduction of the UUID method for the fingerprint processor

**Describe a specific use case for the enhancement or feature:**
I'm trying to demonstrate gdpr pseudonymization compliance using the filebeat as described in this article using Logstash: https://www.elastic.co/de/blog/gdpr-personal-data-pseudonymization-part-1
To make the pseudoids bulletproof, I need the

[2020-11-26 08:50] gjelenc commented on #19648
Is there some ETA for release of this feature ?

[2020-11-26 08:51] ruflin commented on #22722
My guess is the error is somewhere around here: https://github.com/elastic/kibana/blob/master/x-pack/plugins/fleet/common/services/decode_cloud_id.ts#L62 Seems we don't read the port in ECE correctly. @jfsiii You might know more?

[2020-11-26 09:08] skh commented on #22722
I'll have a look.

[2020-11-26 10:53] jsoriano opened #22772 "Document setup step in Kubernetes and Cloud Foundry guides"
For some beats a setup step is needed to install dashboards and sometimes also needed to pre-install index templates and pipelines. This is mentioned in the [quick start guide](https://www.elastic.co/guide/en/beats/metricbeat/7.10/metricbeat-installation-configuration.html#setup-assets) focused on packages and in the [docker](https://www.elastic.co/guide/en/beats/metricbeat/7.10/running-on-docker.

[2020-11-26 10:53] elasticmachine commented on #22772
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-11-26 10:53] elasticmachine commented on #22772
Pinging @elastic/obs-docs (Team:Docs)

[2020-11-26 12:02] rahulgupta-qasource opened #22773 "Agent goes to Offline status in UI for some time on 7.11.0-SNAPSHOT Kibana cloud environment"
**Kibana version:**
Kibana: 7.11.0-SNAPSHOT Kibana cloud environment

**Elasticsearch version:**
Elasticsearch: 7.11.0-SNAPSHOT cloud environment

**Host OS and Browser version:**
macOS Sierra 10.12.6 , All

**Original install method (e.g. download page, yum, from source, etc.):**
7.11.0-SNAPSHOT Kibana cloud environment from https://staging.found.no

**Description**
Agent goes to Offline status i

[2020-11-26 12:09] elasticmachine commented on #22773
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-26 12:12] Djeezus commented on #22437
Hi, I confirm this bug too with "filebeat-7.10.0-1.x86_64"; got reported due to high (99%) cpu usage due to a network outage...
Is there an ETA for implementation of "retryer.maxbackoff" in an official release ?  https://github.com/elastic/beats/pull/22135 seems to be missing 1 review for merging to take place ...

[2020-11-26 12:18] vipulsrivastava-qasource commented on #22773
Reviewed and  Assigned to @EricDavisX

[2020-11-26 12:34] skh commented on #22722
This is a bug in Kibana, not in Beats. Closing this in favor of https://github.com/elastic/kibana/issues/84406

[2020-11-26 12:34] #22722 closed

[2020-11-26 12:39] jfsiii commented on #22722
@ruflin @skh, perhaps but that's a port of the code and tests from Cloud itself. Related original issue and PR
https://github.com/elastic/kibana/pull/65366 & https://github.com/elastic/kibana/issues/64513

Please update the tests if you find anything https://github.com/elastic/kibana/blob/1b6cfe819d4e68553a6bf84b3cee2712eb05cb7c/x-pack/plugins/fleet/common/services/decode_cloud_id.test.ts#L8

I wo

[2020-11-26 13:01] elasticmachine commented on #11837
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-11-26 15:02] seddikalaouiismaili opened #22774 "Unable to drop fields using filebeat [7.10]"
hello,

I have installed filebeat 7.10 for just forwarding log file from twice sources , and output them to another file .
My goal is to drop  some fields like `@timestamp,  @metadata,  host, agent, type, hostname , log ` .

See below my configuration file :

[code]

filebeat works, but i still show the fields values on my output !!

is it a bug? , or i have not configured correctly filebeat ?

Re

[2020-11-26 15:19] kvch opened #22775 "Unix datagram sockets on Darwin time out"
The datagram connection in test `TestReceiveNewEventsConcurrently` in `filebeat/inputsource/unix/server_test.go` times out after two events are processed.

Log lines from Travis:

[code]

[2020-11-26 15:19] elasticmachine commented on #22775
Pinging @elastic/integrations-services (Team:Services)

[2020-11-26 16:54] PBarnard commented on #22679
@ycombinator will this work with filebeat hints-based autodiscover? So `co.elastic.logs.rabbitmq/module.log.input.pipeline: *pipeline-name*`

[2020-11-26 16:55] jsoriano commented on #20300
For consistency, it could be interesting to do what we do in other modules with similar problematics:
* Pipelines have two date processors: one to handle events with `event.timezone` and another one without `event.timezone` (as [here](https://github.com/elastic/beats/blob/6106aa7c568aa2bc57b6eec6c42dc53b11e28587/filebeat/module/nginx/error/ingest/pipeline.yml#L19) in the nginx module).
* Default `

[2020-11-26 17:15] #14701 closed

[2020-11-26 17:31] #22774 closed

[2020-11-26 17:34] elasticmachine commented on #22770
Pinging @elastic/integrations-services (Team:Services)

[2020-11-26 17:34] seddikalaouiismaili commented on #22774
here the link of issue => https://discuss.elastic.co/t/filebeat-for-just-forwarding-full-text-log/256697/5

thanks

[2020-11-26 18:29] adamkrieger opened #22776 "Filebeat AWS CloudTrail eventName overwritten by eventCategory during ingest"
Issue: Where ECS = destination elasticsearch record and json = CloudTrail payload being ingested. By default, the pipeline used to process CloudTrail logs will overwrite ECS event.action with json eventCategory where ECS event.action should be json eventName. ECS event.category is also not written to as a result.

I believe this is the line causing the issue:
https://github.com/elastic/beats/blob/

[2020-11-27 07:21] elasticmachine commented on #22776
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-27 11:15] #14838 closed

[2020-11-27 11:26] jsoriano opened #22777 "Add support for MySQL NDB Cluster in Metricbeat"
[MySQL NDB Cluster](https://dev.mysql.com/doc/refman/8.0/en/mysql-cluster.html) is a highly-available, highly-redundant solution for distributed MySQL databases. It is GA and officially supported by Oracle since MySQL 8.0.19, but distributed as different binaries. Along [some differences](https://dev.mysql.com/doc/refman/8.0/en/mysql-cluster-compared.html) with MySQL Server, clustering is not supp

[2020-11-27 11:26] elasticmachine commented on #22777
Pinging @elastic/integrations-services (Team:Services)

[2020-11-27 12:19] willemdh commented on #22460
We have the same issue in Filebeat / Metricbeat 7.9.2

[2020-11-27 13:45] 111andre111 commented on #18755
@adriansr
I have tested this one on Archlinux with Kernel
`Linux archlinux 5.9.10-arch1-1 #1 SMP PREEMPT Sun, 22 Nov 2020 14:16:59 +0000 x86_64 GNU/Linux`
by executing only the socket like this:
[code]
And under Auditbeat 7.7.0 it immediately crashed immediately:
[auditbeat-debug.log](https://github.com/elastic/beats/files/5608066/auditbeat-debug.log)
error message was:
[code]
However under 7.10.0

[2020-11-27 13:47] 111andre111 commented on #18755
@legoguy1000 @Aqualie @xennn
Can you please test auditbeat 7.10.0?

[2020-11-27 15:02] consulthys commented on #11995
@ruflin any insights about this one and an idea if/when the change will make it? Thank you so much!

[2020-11-27 16:28] Aqualie commented on #18755
Finished upgrading both kernel and auditbeat still having the same error:

` »  uname -a
Linux xxxxxxx  5.9.10-arch1-1 #1 SMP PREEMPT Sun, 22 Nov 2020 14:16:59 +0000 x86_64 GNU/Linux
`
[code]

sysctl if it makes a difference:
[code]

[2020-11-27 16:54] Aqualie commented on #18755
Also to add this machine has multiple vlan's with a bridged interface (same network configuration I've had since using auditbeat since version 6)

[2020-11-27 17:27] dagwieers opened #22779 "Make metricbeat sql module more versatile"
The metricbeat **sql** module is a lifesaver, we are very happy with this inclusion. \o/

But we think there are a few features that could make this even better.

### Support a unique identifier for `_id`
We like to perform queries and updates docs in Elastic. For this we would need to provide the `_id` value, so it would be nice if we could configure which field is to be used as the `_id` value.

[2020-11-27 20:33] willemdh opened #22780 "[filebeat][o365] Mapping problem on o365.audit.Parameters"
- Version: 7.9.2
- Operating System:  CentOS 8
- Discuss Forum URL: https://discuss.elastic.co/t/ingesting-o365-logs-but-having-issues-with-specific-mappings/256081
- Steps to Reproduce: Ingest lots of o365 audit logs some with o365.audit.Parameters and some without o365.audit.Parameters

Error:

`Cache:publisher.EventCache{m:common.MapStr(nil)}} (status=400): {"type":"mapper_parsing_exception","r

[2020-11-27 20:48] brandenwagner commented on #9600
I realize this is being worked on but i am looking for a temporary solution in the mean time, I thought I understood but with this applied:
[code]
I am still getting this error
`Too many dynamic script compilations within, max: [30/1m]; please use indexed, or scripts with parameters instead; this limit can be changed by the [script.max_compilations_rate] setting];;`

Why does it still reflect 30/1

[2020-11-27 21:11] qingjie commented on #12347
cool

[2020-11-27 22:13] 111andre111 commented on #18755
@Aqualie
Would you mind to execute the 2 commands for the oneliner and post the debug log.
Please obfuscate first what you want to hide from the log like the machine name:
touch empty.yml
[code]

[2020-11-27 22:25] Aqualie commented on #18755
Had to modify the output abit as I'm using zsh and directory ownership is different:
`sudo -E ./auditbeat -c empty.yml -E auditbeat.modules.0.module=system -E auditbeat.modules.0.datasets.0=socket -E output.console.pretty=true -e -d '*' &>auditbeat-debug.log`
[code]

[2020-11-28 01:42] 111andre111 commented on #18755
@Aqualie
What kernel package are you using under ArchLinux?
`pacman -Q | grep linux`
And I have seen you disabled IPv6.
How did you do do that?
And would you mind to show the network config?
`ip -d addr show`

[2020-11-28 01:54] Aqualie commented on #18755
pacman -Q | grep linux
[code]

cat /etc/sysctl.d/99-sysctl.conf | grep ipv6
[code]

ip -d addr show
[code]

[2020-11-28 10:15] #14853 closed

[2020-11-28 20:28] 111andre111 commented on #18755
I was able to reproduce now in both IPv6 enabled and disabled, just in the case of IPv6 disabled the error kicks in faster than with IPv6 enabled. Interesting.

[2020-11-28 20:33] Aqualie commented on #18755
I had tested enabling IPv6 before and did notice any difference my guess is multiple interfaces that's the culript ?

[2020-11-29 13:21] alexander-marquardt commented on #9600
In order to use different contexts (such as the "ingest" context you are attempting to use above), contexts need to be enabled.

If you run the following command and get an empty response, then contexts are not enabled:

```GET /_nodes/stats?filter_path=nodes.*.script_cache.contexts```

To enable contexts you can do the following:

[code]

[2020-11-29 18:38] brandenwagner commented on #9600
Yes I have that setting applied, but its still giving the same error as if it wasnt applied. contexts are enabled, i can see various contexts in the stats query (and they all read zero)
[code]
What am I missing? Where is the 30/1m coming from if I have use-context set and the ingest context rate set at 500/1m?
Why is compiliation_limit_triggered still 0? shouldnt that go up with every rejection?

[2020-11-30 03:19] ycombinator commented on #22679
There is no supported hint like the one you're trying to use for overriding the input pipeline. The full list of supported hints is at https://www.elastic.co/guide/en/beats/filebeat/current/configuration-autodiscover-hints.html.

However, you can always use the `co.elastic.logs/raw` "escape hatch" hint: https://www.elastic.co/guide/en/beats/filebeat/current/configuration-autodiscover-hints.html#_c

[2020-11-30 06:15] elasticmachine commented on #22780
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-11-30 06:16] elasticmachine commented on #22779
Pinging @elastic/integrations-services (Team:Services)

[2020-11-30 10:14] ycombinator commented on #21020
Discussed this with @jsoriano off-issue so wanted to summarize our discussion here:
- There's no way to ask CF to restrict events by org when consuming them from the firehose.
- Consequently, Beats would have to consume all the events and then drop any that violate the defined rate limiting policy.
- The advantage of this approach is that we can implement this functionality as a generic rate limit

[2020-11-30 11:11] PBarnard commented on #22679
Thanks for that @ycombinator I'll have a look at those links.

I take your point re. posting here in a github Issue, I asked a similar question here - https://discuss.elastic.co/t/specify-module-pipeline-in-kubernetes-annotation/256802 - but it's not getting a lot of traction :|

[2020-11-30 11:34] urso opened #22786 "Enabled MADV_DONTNEED in systemd and docker files"
The go runtime defaults to MADV_FREE by default. In that case pages are still assigned with the Beat, even after the pages have been "returned" to the OS. The kernel will eventually claim these pages, but RSS memory usage is reported as very high (which it is not necessarily). This seems to mess with the OOM killer at times.

As workaround one can tell the runtime to use MADV_DONTNEED via `GODEBUG

[2020-11-30 11:38] elasticmachine commented on #22786
Pinging @elastic/integrations-services (Team:Services)

[2020-11-30 12:28] halfa commented on #22779
This usage (getting data from an SQL table in the form of logs) would be better in filebeat rather than metricsbeat, as the spirit is closer to how log collection operate (have a single instance of each record) rather than metrics (collection of a sensors at a certain point in time).

[2020-11-30 12:37] ycombinator commented on #21020
Starting to think a bit about what the configuration for such a processor might look like, here's an initial proposal (not married to any of the setting names, of course):

[code]

The way the above example configuration would be interpreted is:

- For events that have `foo.bar == "baz"`, a rate limit of 4500 events per hour will be applied.
- For all other events that have a `foo.bar` field prese

[2020-11-30 13:16] jsoriano commented on #22779
Thanks for your feedback, happy to see you like this module :slightly_smiling_face:

Yeah, I tend to agree with this, the features requested here can be problematic in Metricbeat (specially the one about setting the `@timestamp`, and the one about the last successful ingest). They may be more suitable as a filebeat input, that has a registry to continue from a given timestamp. Or for this use case

[2020-11-30 13:18] arpit1305 opened #22788 "script processor support for Heartbeat"
currently "script" processor is not supported for Heartbeat unlike metricbeat.
Script processors are very useful when we want to enhance the data before we send to logstash when we want to enhance data with complex conditional logic.

Can we add the support of it for heartbeat please?

[2020-11-30 13:23] #18632 closed

[2020-11-30 13:32] elasticmachine commented on #22788
Pinging @elastic/uptime (Team:Uptime)

[2020-11-30 13:59] freddie2020 commented on #7633
Hello,

I have the same need.

Is this going to be something for future releases of filebeat agent?

Thanks, freddie2020

[2020-11-30 14:34] kvch opened #22792 "Separate recoverable and non-recoverable errors in UNIX datagram socket input"
Now if `Run` returns the output stops permanently. The following cases should not stop processing incoming packets:

* UNIX file can not be opened by current user
* another filebeat instance is listening on unix socket
* UDP port is currently taken

These errors might be temporary or the user can adjust the environment while Filebeat continues running. Thus, the input should not stop, but rather r

[2020-11-30 14:34] elasticmachine commented on #22792
Pinging @elastic/integrations-services (Team:Services)

[2020-11-30 14:57] EricDavisX commented on #22773
@rahulgupta-qasource can you attach the usual Agent, Endpoint, and Kibana side logs so we can review them?

[2020-11-30 15:16] ruflin commented on #11995
@consulthys What part are you worried about, the internals of MB or what the end event might look like? One thing that changed since we discussed this is that we introduced a new indexing strategy which might give a new perspective on this issue.

[2020-11-30 15:19] consulthys commented on #11995
@ruflin yes, that's exactly the new indexing strategy (`%{type}-%{event.dataset}-%{namespace}`) that got me thinking. My question is how does Auditbeat approach the new indexing strategy? Will `event.dataset` be filled in?

[2020-11-30 15:20] kvch commented on #22192
This is going to be solved in v7.11. Could you please test it when the new release comes out?
All you need to change is to add `socket_type: datagram` to your socket configuration.

[2020-11-30 15:21] blakerouse commented on #22744
This looks to be a machine configuration issue and not with elastic-agent itself.

I think the issue is your machine as `/etc/init.d` in the `PATH` environment variable. That should never be in your `PATH`. Remove `/etc/init.d` from your `PATH` environment variable then the `/usr/bin/elastic-agent` should be picked up.

[2020-11-30 15:22] #22716 closed

[2020-11-30 15:23] zoulja commented on #22192
Thanks for letting me know that!
Sure, I will test

[2020-11-30 15:32] dagwieers commented on #22779
@jsoriano I get your point wrt. the id not being unique beyond the index used, but that would be a concern for the specific implementation. For some use-cases there would be no roll-over, and in our case we would also push only X historical records (e.g. the past 6 hours) so that a restart of the agent would recover from this kind of downtime.

But I agree with @halfa, that filebeat would be a bet

[2020-11-30 17:08] urso opened #22795 "Flaky Test: filebeat.tests.system.test_shutdown.Test.test_shutdown [Windows 7 32-Bit]"
## Flaky Test

* **Test Name:** filebeat.tests.system.test_shutdown.Test.test_shutdown
* **Link:**
* **Branch:** master/7.x
* **Artifact Link:**
* **Notes:**
  - Filebeat logs are empty. Looks like Filebeat crashed or the configuration was invalid.
  - The test failed on Windows 7 - 32bit

### Test failure:

AssertionError: Expected exit code to be 0, but it was 2

### Stack Trace

[code]

[2020-11-30 17:10] abdoegy83 opened #22796 "How can I configure Packetbeat to prevent sending preflight http requst( OPTIONS request)"
How can I configure Packetbeat to prevent sending preflight http requst( OPTIONS request)
how to access  http method (post,get,put,.. options)

[2020-11-30 17:12] threat-punter commented on #22427
Thanks for the heads up @jamiehynds. I used the "Google Workspace" term in all of our [new rules](https://github.com/elastic/detection-rules/pulls?q=is%3Apr+is%3Aclosed+label%3A%22Platform%3A+Google+Workspace%22+).

One thing that I'll need to do if we have a Fleet Integration is to add that index pattern to our rules.

[2020-11-30 17:23] jsoriano commented on #21020
@ycombinator thanks for your proposal, it looks quite good, but I have some of observations, maybe we can make the processor simpler.

One is that instead of having global and per field configurations, we could rely on conditional processors for more complex configurations. There are already a couple of ways of defining conditional processors, and maybe we can use them for complex configurations,

[2020-11-30 17:35] kaiyan-sheng opened #22799 "Rename Filebeat s3 input to aws-s3 input"
This issue is to track the work for renaming `s3` input to `aws-s3` to match the naming convention for other inputs in Filebeat. I couldn't make it backwards compatible so this issue is to track the work for 8.0 as a breaking change.

[2020-11-30 17:35] elasticmachine commented on #22799
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-11-30 17:36] kaiyan-sheng commented on #19467
GCP part of the renaming is done, will close this issue.

[2020-11-30 17:36] #19467 closed

[2020-11-30 17:38] #22639 closed

[2020-11-30 19:18] n0othing opened #22803 "[Auditbeat] Host Events [Auditbeat System] ECS saved search references a GUID"
**Tested on version**: `7.10.0`

**Description**:

The `Host Events [Auditbeat System] ECS` saved search that's included with Auditbeat references a GUID for its index pattern. This causes problems when trying to export/import the object (e.g into a new Space or Kibana instance)

**Steps to Reproduce**:

* Setup a `7.10.0` instance of Elasticsearch, Kibana, and Auditbeat.
* Run auditbeat setup via

[2020-11-30 20:00] ph commented on #22572
@kuisathaverat oh nice, we should probably make it public somewhere. :)

[2020-11-30 20:37] leehinman commented on #22776
Because ECS specifies a list of accepted [values](https://www.elastic.co/guide/en/ecs/current/ecs-event.html#field-event-category). I stored eventCategory in a new custom field, see  elastic/beats#22805

[2020-11-30 20:42] adamkrieger commented on #22776
Ah great, even better.

[2020-11-30 21:10] adriansr commented on #18755
Hi @Aqualie,

I think we have a fix. Can you try with one of the packages in here? https://drive.google.com/drive/u/0/folders/1REyd_8Ov_tjuqsO4YsvfWHUotHPzkgiK

[2020-11-30 21:36] Aqualie commented on #18755
Thanks @adriansr this works perfectly and I can see all the socket events in ES!

[2020-11-30 22:47] andrewvc commented on #22207
@mgevans-5 thanks for the additional color. @paulb-elastic @drewpost curious as to your thoughts re: prioritization here?

[2020-11-30 23:30] jkaufman-LogRhythm opened #22807 "Filebeat - httpjson missing "content-type""
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2020-11-30 23:32] jkaufman-LogRhythm commented on #22807
Team:Security-External Integrations

[2020-12-01 07:54] elasticmachine commented on #22807
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-01 07:54] hazcod commented on #19309
@abraxxa this was added, see https://github.com/elastic/beats/pull/21988

[2020-12-01 07:54] elasticmachine commented on #22806
Pinging @elastic/integrations-services (Team:Services)

[2020-12-01 07:55] elasticmachine commented on #22803
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-01 07:58] elasticmachine commented on #22796
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-01 07:58] elasticmachine commented on #22795
Pinging @elastic/integrations-services (Team:Services)

[2020-12-01 08:28] ruflin commented on #11995
@consulthys The fields used for the new indexing strategy are `data_stream.*`: https://github.com/elastic/ecs/pull/1145 These are added by the Elastic Agent when running a Beat. Today we do not support Auditbeat yet but if we add it, these 3 fields must be filled in.

[2020-12-01 08:33] consulthys commented on #11995
@ruflin thank you very much for mentioning which fields are actually used to create the index name 👍

[2020-12-01 08:42] zhiweiv commented on #19185
Copy netapi32.dll  to /Windows/System32 works.
https://github.com/kubernetes-csi/csi-driver-smb/blob/847b2f335c45b41a38d5703933301c0b7b767cd2/pkg/smbplugin/Windows.Dockerfile

[2020-12-01 09:38] kvch opened #22809 "Broken/Flaky filebeat.tests.system.test_udp.Test.test_udp"
The UDP tests on Windows seem to be failing from time to time.

Error message:

`beat.beat.TimeoutError: Timeout waiting for 'cond' to be true. Waited 10 seconds.`

[code]

[2020-12-01 09:38] elasticmachine commented on #22809
Pinging @elastic/integrations-services (Team:Services)

[2020-12-01 09:41] ycombinator commented on #21020
Yeah, I had also thought of using conditionals for complex conditions but what I didn't like about it is there is a lot of repetition (and therefore chance of making errors) with the field name. So if you take the first example with conditionals:

[code]

The field `foo.bar` is repeated in three places.

OTOH, I do like the readability of using conditionals — I think it's much more obvious what ra

[2020-12-01 10:24] jsoriano commented on #21020
Reviewing my suggestion, I think one of the `by_field`/`fields` level is not needed, so it could be like this:
[code]
Or do you expect to have more rate limiting methods apart of `by_fields`?

Agree, better to build this key internally, it will be less error-prone. I cannot think on any legit use case that would work with `field_pattern` and not with `fields`.

Agree, let's keep them as you propos

[2020-12-01 10:25] ycombinator commented on #21020
No, let's simplify as you suggested and drop the extra level of configuration.

[2020-12-01 10:27] ycombinator commented on #21020
BTW, I just my 1-1 with @exekias and he suggested naming this processor something like `sample` for two reasons:
1. All our processors are named like actions, i.e. they are verbs, e.g. `add_metadata`, and
2. Rate limiting with dropping events is basically sampling. Plus, you had also suggested off-issue that we can introduce a percentage-based sampling strategy to this processor in the future, à l

[2020-12-01 11:08] kuisathaverat commented on #22572
I think https://github.com/elastic/helm-charts is the place

[2020-12-01 11:27] rahulgupta-qasource commented on #21695
**Bug Conversion:**

Created **01** Testcase for this ticket:
https://elastic.testrail.io/index.php?/cases/view/35171

[2020-12-01 11:37] marc-gr opened #22813 "[Filebeat] Filebeat process does not exit when stopping with CTRL-C"
Whenever an input is making use of a registry, filebeat fails to stop when CTRl-C is hit, and instead it keeps sending monitoring data, forcing you to either suspend and kill or kill the process from another session.

After some digging it seems to hang on https://github.com/elastic/beats/pull/19633/files#diff-97b65fad069be1072219d7ae6a1e8f64d287e8cb6c1f4e424c801a22200db104R233 while it waits for

[2020-12-01 11:53] rahulgupta-qasource commented on #22226
**Bug Conversion:**

Below 01 Testcase already exists for this ticket:
https://elastic.testrail.io/index.php?/cases/view/15281

[2020-12-01 11:56] rahulgupta-qasource commented on #22096
**Bug Conversion:**

Below 01 Testcase already exists for this ticket:
https://elastic.testrail.io/index.php?/cases/view/34994

[2020-12-01 12:03] rahulgupta-qasource commented on #21862
**Bug Conversion:**

Created **01** Testcase for this ticket:
https://elastic.testrail.io/index.php?/cases/view/35173

[2020-12-01 12:06] jsoriano commented on #21020
I slightly disagree :slightly_smiling_face: I agree that they do basically the same thing: dropping a part of the total events, but they have different use cases and expectations.
Rate limiting is related to the available resources you have to monitor something, if this something exceeds these limits, it cannot be properly monitored, and you are protecting the rest of the system so it doesn't affe

[2020-12-01 12:13] rahulgupta-qasource commented on #21601
**Bug Conversion:**

Below **02** Testcases already exists for this ticket:
https://elastic.testrail.io/index.php?/cases/view/15281
https://elastic.testrail.io/index.php?/cases/view/15282

[2020-12-01 12:18] rahulgupta-qasource commented on #21200
**Bug Conversion:**

Below **01** Testcase already exists for this ticket:
https://elastic.testrail.io/index.php?/cases/view/33960

[2020-12-01 12:21] jsoriano commented on #21020
Continuing with my previous comment, about doing sampling and rate limiting in the same processor. I am thinking now that they cover different use cases, and they probably require two completely different implementations (sampling is simpler than rate limiting), so in my opinion they should be two different processors.

[2020-12-01 14:58] ynirk opened #22820 "[filebeat][aws][vpcflow] Parse aws vpcflow tcp_flags"
**Describe the enhancement:**

AWS vpcflow logs send tcp_flags information as a bitmask [ref](https://aws.amazon.com/blogs/aws/learn-from-your-vpc-flow-logs-with-additional-meta-data/)

[code]

It would be nice if the bitmask could be parsed as a keyword array (ex: `aws.vpcflow.tcp_flags: ["syn", "syn-ack"]`)

<details><summary>I've made a quick PoC in ingest pipeline:</summary>

[code]
</details>

[2020-12-01 15:00] #22719 closed

[2020-12-01 15:09] elasticmachine commented on #22823
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-01 15:09] blakerouse opened #22823 "[Elastic Agent] Investigate how inputs are run for each application that Elastic Agent spawns"
## Current Behavior

Currently Elastic Agent runs a single application per multiple inputs. So if the system integration is being used and the nginx integration is being used, only 1 metricbeat will be ran. That metricbeat will collect both the system integrations and the nginx metrics and send them to elasticsearch.

This is currently focusing on `metricbeat` but the same could be applied to any

[2020-12-01 15:34] ravikesarwani commented on #22806
@chrisronline It is node display name information. I updated issue title and description to make it more clear.

[2020-12-01 15:35] ph commented on #22823
cc @simitt @ruflin

[2020-12-01 15:37] chrisronline commented on #22806
We currently do show the node name though? It's here: https://github.com/elastic/elasticsearch/blob/master/x-pack/plugin/core/src/main/resources/monitoring-es.json#L46

<img width="515" alt="Screen Shot 2020-12-01 at 10 36 49 AM" src="https://user-images.githubusercontent.com/56682/100761671-25c05b00-33c1-11eb-9606-d0ee06264399.png">

[2020-12-01 15:45] lynxium69 commented on #22675
Hello @P1llus ,
After long time of search , your advice about sending raw unchanged message to filebeat help me a lot !!
i disabled rsys log server , and i enabled syslog reveiving on port 514 in filebeat fortinet module directly in /etc/filebeat/modules.d/fortinet.yml

- module: fortinet
  firewall:
    enabled: true
    var.input: udp
    var.syslog_host: 10.33.252.47
    var.syslog_port: 514

T

[2020-12-01 15:45] #22675 closed

[2020-12-01 15:55] EthanStrider opened #22826 "Filebeat Pipeline Module Precedence (nginx)"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2020-12-01 16:20] paulb-elastic commented on #22207
Right now we’re currently focusing on the features needed to move Synthetics to beta, but will keep this on the backlog and review again early next year.

[2020-12-01 17:29] EricDavisX opened #22828 "[elastic-agent] older name dataset (endpoint-security vs endpoint_security) is created with 7.11 Agent, may be missing a back-port?"
@michalpristas N Chaulet pointed me to you...  to help review why we’d see:
elastic_agent.endpoint-security as well as
elastic_agent.endpoint_security
listed in the logs dataset drop down in Kibana for the new Agent logs feature which references the datasets.

It would seemingly point to a PR being missing a back-port to 7.11 right?  I saw this on the 8.0 kibana.endpoint.elastic.dev demo server (w

[2020-12-01 17:29] elasticmachine commented on #22828
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-01 17:41] 111andre111 commented on #18755
Nice to hear, that it's working for you now @Aqualie .
What about you @legoguy1000 @xennn

[2020-12-01 17:46] adriansr commented on #18755
Here's an updated snapshot build with an additional fix:

https://drive.google.com/drive/u/0/folders/1HJVrTF2iG45vYqSdBDcSynZjiiGSm31w

It includes:
- fix for `guess_ip_local_out` always failing (https://github.com/elastic/beats/pull/22787)
- fix for startup errors (random guess failing) due to CPU affinity / offline CPUs (https://github.com/elastic/beats/pull/22827)

[2020-12-01 17:49] legoguy1000 commented on #18755
I haven't done anything with it in a while.  The project I was working on was finished and we just left it out.

[2020-12-01 18:15] ph commented on #22828
@blakerouse Are we missing a backport for 7.11?

[2020-12-01 18:48] #22665 closed

[2020-12-01 18:51] xennn commented on #18755
I give you next week a update. I'm out of office for this week

[2020-12-01 19:22] andrewvc commented on #10231
@benberg86 as a heads up I just merged a fix for the `enabled: false` issue here: https://github.com/elastic/beats/pull/22829 . As for the YAML filename issue we'd still gladly accept a patch to enhance that, but it's not something we're likely to prioritize. Instead, we're focusing on agent support as the primary way to configure things for heartbeat. While heartbeat is not yet supported here, it

[2020-12-01 19:42] andrewvc opened #22837 "[Heartbeat] Add synthetics deps to main heartbeat docker image"
As part of moving synthetics to [beta](https://github.com/elastic/synthetics/issues/140) we need to have a better packaging strategy. This issue proposes that we include synthetics in our standard heartbeat docker release. This would, unfortunately have the result of dramatically increasing the size of this docker image due to the inclusion of the chrome browser, dependencies for it, and node runt

[2020-12-01 19:48] blakerouse commented on #22828
Yes seems this was not backported: https://github.com/elastic/beats/pull/22554

[2020-12-01 20:35] EricDavisX commented on #22744
I'm seeing a separate error on a RHEL7 image:

[zeus@mainqa-atlcolo-10-0-7-174 elastic-agent-7.10.0-linux-x86_64]$ sudo ./elastic-agent install -f --kibana-url=https://asdf.eastus2.azure.elastic-cloud.com:443 --enrollment-token=asdf==
The Elastic Agent is currently in BETA and should not be used in production

Error: failed to install service (elastic-agent): exit status 1

And I can confirm a sep

[2020-12-01 20:50] ph commented on #22530
assigning @michalpristas for the question, I think we should have e2e test for this, I believe Michal correct me If I am wrong but that would could be done at the same time of the e2e you are currently working on.

[2020-12-01 21:21] ph commented on #22823
@urso I would like your opinion on this or ideas.

[2020-12-01 21:38] alvarolobato commented on #22837
@andrewvc would this mean we won't be able to update Chrome version off-cycle?
I thought that was important.

[2020-12-01 21:43] chrisdebug opened #22842 "Support strict_date_optional_time_nanos supported in configuration"
Hi all!

I'm using "setup.template.append_fields" in filebeat to specify extra fields. I can specify a "type" where I'm using "date" as the data type. How would I specify the "strict_date_optional_time_nanos" format.

This doesn't work:
`
setup.template.append_fields:
  - name: dissect.created_utc
    type: date
    format: strict_date_optional_time_nanos
`

[2020-12-01 22:09] EricDavisX commented on #22744
oh I'm sorry - I got confused again on what I was tracing.  The above note is mis-leading... I was testing on RHEL7 with .tar.gz package and found a case that didn't work and shouldn't have tied that to this issue.
...I'll log the above RHEL7 issue separately. : /

To clarify:
I checked the $PATH on the centos docker container that the e2e-testing system uses and it didn't have .init.d in the $PAT

[2020-12-01 22:15] blakerouse commented on #22744
@EricDavisX can you provide the output of `which elastic-agent`?

[2020-12-01 22:19] andrewkroh commented on #19309
Closed by #19560.

[2020-12-01 22:19] #19309 closed

[2020-12-01 22:22] EricDavisX commented on #22744
@blakerouse sure:
[zeus@mainqa-atlcolo-10-0-7-165 ~]$ which elastic-agent
/usr/bin/elastic-agent

[2020-12-01 22:23] blakerouse commented on #22744
@EricDavisX Then what is the output of `cat /usr/bin/elastic-agent`?

[2020-12-01 22:26] andrewkroh commented on #22796
Please reopen with the Packetbeat version and config you are using. And if you any more details about the request (like something captured from the network) that would help. I'm not aware of the Elasticsearch output making any HTTP OPTIONS requests.

[2020-12-01 22:26] #22796 closed

[2020-12-01 22:42] andrewvc commented on #22837
@alvarolobato that's a great point, it's something we've discussed but I forgot to add to this ticket. What we've discussed as a solution to this is adding a feature to heartbeat to keep the synthetics library updated. So, the container wouldn't change, but the node package would be periodically attempting an upgrade.

[2020-12-01 22:43] elasticmachine commented on #22837
Pinging @elastic/uptime (Team:Uptime)

[2020-12-02 00:08] EricDavisX commented on #22744
looks like codez.  does this look right to you for version 10.0.1:

`#!/bin/bash
#
# elastic-agent          elastic-agent shipper
#
# chkconfig: 2345 98 02
# description: Starts and stops a single elastic-agent instance on this system
#

### BEGIN INIT INFO
# Provides:          elastic-agent
# Required-Start:    $local_fs $network $syslog
# Required-Stop:     $local_fs $network $syslog
# Default-S

[2020-12-02 01:44] axw opened #22844 "libbeat monitoring cgroup metrics are all zero under Docker"
Running a beat (in this case, apm-server) under Docker with monitoring enabled, the beat records cgroup-related metrics but they are all zero.

[code]

[code]

I think this is the same issue that ES fixed in https://github.com/elastic/elasticsearch/pull/22757

[2020-12-02 05:43] mattkime commented on #20432
Index pattern field cache is removed via https://github.com/elastic/kibana/pull/82223 This should no longer be an issue OR is an issue with an unrelated bit of code. @andrewkroh could you verify?

[2020-12-02 06:49] ycombinator commented on #21020
Thanks @jsoriano for your thoughtful comments on rate limiting vs. sampling. @exekias and I discussed some of these points too (off issue). In the end, I think there are enough differences, in semantics but also in options that might only make sense for either rate limiting or sampling, that I think we should make two separate processors as well.

Just to get things moving for now, I'm going to st

[2020-12-02 07:16] geekpete opened #22846 "[metricbeat][zookeeper][mntr] Metricbeat Zookeeper MNTR metricset should surface when mntr probe fails with instance is not currently serving requests"
**Describe the enhancement:**

The Zookeeper MNTR metricset should surface a response into the resulting event when Zookeeper MNTR probe response is:

`This ZooKeeper instance is not currently serving requests`

which occurs when the Zookeeper node itself is still up but quorum has been lost.

Currently the resulting event from such a probe contains no response and is more or less blank of useful

[2020-12-02 08:08] elasticmachine commented on #22846
Pinging @elastic/integrations-services (Team:Services)

[2020-12-02 08:11] elasticmachine commented on #22844
Pinging @elastic/integrations-services (Team:Services)

[2020-12-02 08:12] andresrc commented on #22844
ping @fearful-symmetry

[2020-12-02 08:13] #22842 closed

[2020-12-02 08:15] elasticmachine commented on #22826
Pinging @elastic/integrations-services (Team:Services)

[2020-12-02 08:15] elasticmachine commented on #22820
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-12-02 08:16] Nurlan199206 opened #22847 "Filebeat not harvesting container logs OpenShift 3.11"
I have two OpenShift clusters. With same version: 3.11

when installing filebeat, i'm followed this docs: [https://www.elastic.co/guide/en/beats/filebeat/7.10/running-on-kubernetes.html](https://www.elastic.co/guide/en/beats/filebeat/7.10/running-on-kubernetes.html)

it's works on one, but not on the other. maybe i'm missing something?

log file on is `/var/log/containers/` existing.

![Снимок экр

[2020-12-02 08:17] elasticmachine commented on #22813
Pinging @elastic/integrations-services (Team:Services)

[2020-12-02 08:17] elasticmachine commented on #22847
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-12-02 08:27] exekias commented on #21020
Sounds good folks, sorry for the noise. My comment was around the fact that rate limiting doesn't necessarily imply dropping data, where sampling implies it. I think `rate_limit` as a name is good enough, as long as the expectations are correctly documented.

[2020-12-02 09:03] Nurlan199206 commented on #22847
seems i found root of issue, filebeat pod can't read `*.log` file from `/var/log/containers`

[code]

[2020-12-02 10:29] jamiehynds commented on #22427
@threat-punter I noticed the new rules all reference event.dataset:gsuite.admin - do you have a preference towards keeping the modules dataset as gsuite? We were thinking of updating to workspace to ensure we're inline with the rebrand.

We're probably going to encounter a similar issue with O365 to M365 too: https://github.com/elastic/detection-rules/issues/668

[2020-12-02 13:14] ruflin commented on #22837
Would this have any direct affect on the Elastic Agent and the Elastic Agent docker image as soon as we support heartbeat or is this separate?

++ on having the default image with synthetics. If the larger size or the additional content causes issues for some users, we could still have in the future a second container `-minimal` if needed.

@andrewvc Can you go a bit more into details what parts o

[2020-12-02 13:16] jsoriano commented on #21817
Finally I tried this, and it seems to work well, PR open: https://github.com/elastic/beats/pull/22854

[2020-12-02 13:19] paulb-elastic commented on #22837
I agree that having two images is just going to get confusing for users, especially if they have for example an HTTP Ping monitor working and then one day decide to add a Synthetics monitor, and it just doesn’t work because they have the *wrong* image.

Having it not bundled (but downloaded on demand, for example), means that the user has to 'pay the price' of the download each time Heartbeat is s

[2020-12-02 14:05] andrewkroh opened #22855 "[Filebeat] Enhance gcp.flowlogs to support GKE flow metadata"
GCP flow logs have been updated to contain Google Kubernetes Engine (GKE) metadata. The module should be updated to handle this metadata and populate the appropriate ECS fields. The metadata contains details about the cluster, pod, and service.

- https://cloud.google.com/vpc/docs/flow-logs#gke-annotations

[2020-12-02 14:05] elasticmachine commented on #22855
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-02 14:15] jamiehynds opened #22856 "Add option to preserve event.original"
Some of our security integration modules preserve event.original, while others do not (e.g. Winlogbeat). Preserving event.original has a significant impact on the storage size of an event, in some cases doubling the size of the event.

Some users may have a requirement to preserve event.original but this should be optional. Could we add a switch to our modules (disabled by default) to allow some o

[2020-12-02 14:15] elasticmachine commented on #22856
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-02 14:18] NeilADesai commented on #22856
This should also go for original event fields (i.e. CEF module). We should not have duplicate fields by default.

[2020-12-02 14:30] alvarolobato commented on #22837
Thanks Paul.

I would start with auto-updates disabled by default and favor stability, letting the user choose if they want to auto-update with a flag ie. if they find an important bug fix they want to pick up.
In case of security issues, we can always do a stack dot release with an update, so I don't see this situation critical from a security POV and we ensure we have the stability.

Once we hav

[2020-12-02 14:36] threat-punter commented on #22427
Ah, good point @jamiehynds. I'm on board with renaming it to the new name and I can take care of modifying the rules when the time comes

[2020-12-02 14:42] EricDavisX opened #22857 "[Elastic-Agent] The log level feature in UI is showing logs for a given libbeat line and we don't see it associated correctly with the log level"
We see a specific log line that seems to only be shown when no-specific log level is selected in the UI.  It should be categorized and shown as being under one of the ones listed right?  Unless we have a Kibana side bug that the log level isn't in the listing (that would make sense actually, maybe its a Kibana bug).

This is as tested with an 8.0 self managed stack snapshot setup and 8.0 latest Ag

[2020-12-02 14:42] EricDavisX opened #22858 "[Fleet] The log level feature in UI is showing logs for a given libbeat line and we don't see it associated correctly with the log level"
We see a specific log line that seems to only be shown when no-specific log level is selected in the UI.  It should be categorized and shown as being under one of the ones listed right?  Unless we have a Kibana side bug that the log level isn't in the listing (that would make sense actually, maybe its a Kibana bug).

This is as tested with an 8.0 self managed stack snapshot setup and 8.0 latest Ag

[2020-12-02 14:42] elasticmachine commented on #22857
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-02 15:10] eddieturizo opened #22859 "Metricbeat built-in dashboards for Kafka should account for splitting consumer lag by partition ID"
**Describe the enhancement:**

Consider updating the Metricbeat built-in dashboards so that consumer lag can be split by partition ID.

**Describe a specific use case for the enhancement or feature:**

If a Kafka topic has 10 partitions and every partition lags by 10, the actual topic lag is 100. Using the built-in Metricbeat dashboards, the max metric would (incorrectly) show a lag of 10. The goa

[2020-12-02 15:20] elasticmachine commented on #22859
Pinging @elastic/integrations-services (Team:Services)

[2020-12-02 15:33] elasticmachine commented on #22820
Pinging @elastic/siem (Team:SIEM)

[2020-12-02 15:56] ravikesarwani commented on #22394
Apart from Memory, CPU, Throughput, System load and Open file handles the other key metrics are:
- Event rate: Am I okay in catching up or falling behind. This is really critical for logs where the generated data can fluctuate a lot.
-  Any failure information (fail rates, output errors)

Here's an image from beats overview page in stack monitoring that can potentially be used as a data point.
<im

[2020-12-02 16:02] softengchick commented on #20524
@hilt86 - You have likely figured this out by now, but yes, if I recall correctly it does.  Sorry for delayed response.

[2020-12-02 16:18] ycombinator commented on #21020
_The following are more for my own notes for writing tests but posting them here in case anyone sees any issues:_

### Use case: rate limit all events to 10000 /m

Configuration:

[code]

### Use case: rate limit events from the `acme` Cloud Foundry org to 500 /s

Configurations (each of these are alternatives to one another):

[code]

[code]

### Use case: rate limit events from the `acme` Cloud

[2020-12-02 16:25] ferullo commented on #22858
Endpoint logs are ECS compliant. If you find they aren't that's a bug in Endpoint.

[2020-12-02 16:48] kaiyan-sheng commented on #16767
I will close this issue for now because we are trying to migrate metricsets to use cloudwatch input in https://github.com/elastic/beats/issues/21422.

[2020-12-02 16:48] #16767 closed

[2020-12-02 16:49] kaiyan-sheng commented on #14968
`billing` metricset and its dashboard is improved, will close this issue.

[2020-12-02 16:49] #14968 closed

[2020-12-02 16:57] #11213 closed

[2020-12-02 16:58] kaiyan-sheng commented on #11226
This is done for Metricbeat and Filebeat already.

[2020-12-02 16:58] #11226 closed

[2020-12-02 17:00] kaiyan-sheng commented on #10175
This is done by inventory schema work: https://github.com/elastic/beats/issues/19757

[2020-12-02 17:00] #10175 closed

[2020-12-02 17:15] #14358 closed

[2020-12-02 17:43] blakerouse commented on #22858
I think what you are seeing here is that because all beats are started at `trace` level, that means that every event is logged to the file with the `log.level: debug`. Then its picked up again by the monitoring filebeat, so every event is in the log twice.

#19179 documents the real issue, this seems to be a side-effect.

[2020-12-02 17:46] blakerouse commented on #22394
@ravikesarwani The event rate would be great overall for an Elastic Agent, but it has a technical issue. At the moment Elastic Agent doesn't send events to elasticsearch directly, that is done by the beats running under the Elastic Agent. We already collect these metrics from the beats running under the Elastic Agent, but its not the Elastic Agent itself.

[2020-12-02 17:51] blakerouse commented on #22744
Okay something is wrong with the RPM package then. That is the file that should be placed in `/etc/init.d` and a smaller simple wrapper should be installed in `/usr/bin/elastic-agent`.

I never ran into this issue in my testing, something must have changed in the package.yml that broke this.

[2020-12-02 18:05] lynxium69 opened #22868 "filebeat fortinet syslog extended log"
Hi All,

I would love to log ips event of my fortiagte in elasticsearch like this
![image](https://user-images.githubusercontent.com/57848024/100912565-e7b25c80-34d0-11eb-8bfa-87b1b51ce091.png)

To allow ips logging , fortigate require to enable "reliable mode" instead of "upd mode"
I am using syslog module filebeat directly , i try to enable tcp mode on file beat like this , filebeat stop receivi

[2020-12-02 18:25] ManuelFFF commented on #21725
Any comment on this?

[2020-12-02 18:25] ManuelFFF commented on #22764
Any update?

[2020-12-02 21:17] chrisdebug commented on #22842
I actually did that but got no response for the past 10 days so I posted the question here.

[2020-12-02 21:27] andrewvc commented on #22837
@alvarolobato I'm fine with that plan.

@ruflin As far as elastic agent, for an initial release that doesn't support synthetics the size of the agent release would not be affected. For synthetics support, that's the question. We have two choices: 1. Release a single agent docker image with synthetics support @ ~1GiB or 2. Start releasing multiple docker images, a minimal and 'full' one.

As far as

[2020-12-03 02:26] vsxen opened #22878 "[filebeat]only add need label in k8s processors ?"
the pod label is indefinite, such as
[code]
I only want to add `app` label ,ignore other label ?

how to configure it ?

Ref
https://discuss.elastic.co/t/filebeats-auto-mapping-of-kubernetes-labels-causing-big-issues/

[2020-12-03 03:52] zsj20092033 opened #22880 "Metricbeat to kafka publish failed"
in centos7
I use metricbeat-7.10 to kafka-1.1.1, but kafka publish failed with: circuit breaker is open.
filebeat works well.

output.kafka:
  hosts: ["http://192.168.1.201:9092","http://192.168.1.191:9092","http://192.168.1.15:9092"]
  topic: metrics
  version: 1.1.1
![QQ截图20201203111217](https://user-images.githubusercontent.com/7777684/100961589-a61bc300-355d-11eb-8723-5d300b8b5fde.png)

[2020-12-03 05:28] amemkdm commented on #20524
@softengchick is there a way to not import attributes which are already imported? Right with every run  it imports the same one all over again.

[2020-12-03 06:00] zsj20092033 commented on #22880
It's my wrong. Hosts of kafka use http protocol.

[2020-12-03 06:00] #22880 closed

[2020-12-03 06:46] elasticmachine commented on #22878
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-12-03 06:51] elasticmachine commented on #22868
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-03 07:21] #15797 closed

[2020-12-03 08:14] kvch commented on #21307
I increased the number of reruns to 2. If the test keeps failing it has to be skipped on Windows. Also, it needs investigation.

[2020-12-03 08:18] vigneshshanmugam commented on #22837
Sounds good to me and ++ to all the points mentioned above plus disabling the auto-updates.

We did a fix for this one recently by pinning the version of Synthetics to the playwright version https://github.com/elastic/synthetics/pull/150 and disabled the updates of browsers. So we should be good here and I like the idea of controlling the updates from the location we control.

@andrewvc Do we need

[2020-12-03 08:59] jahtalab commented on #22837
Sounds good @andrewvc ,

One suggestion (maybe an implementation detail), we could allow patch updates for the synthetics agent. This shouldn't make the package fail if it can't update, but if there's a patch update available on npm we can start using it. Since we control these patch releases and they can be done out of band of the stack release, this gives us flexibility with updating Playwright/

[2020-12-03 09:22] jurim76 commented on #22462
Interesting, kibana shows VPN events for filebeat-7.9.3 (cisco module enabled), but not for filebeat-7.10.0.

[2020-12-03 10:02] ruflin commented on #22837
In the package.json linked, not a specific version that is tagged but it is `^...`: https://github.com/elastic/synthetics/blob/master/examples/todos/package.json#L9 I guess this would still lead to different versions used?

[2020-12-03 10:12] jamiehynds commented on #22462
Hey @jurim76, there should be at least some VPN events showing as [our pipeline ](https://github.com/elastic/beats/blob/master/x-pack/filebeat/module/cisco/shared/ingest/asa-ftd-pipeline.yml )supports a few VPN events (e.g. 716002 and 713049. We haven't removed any events from the pipeline.

Could you provide some examples of events that you're no longer seeing?

[2020-12-03 10:15] #11481 closed

[2020-12-03 10:29] gbanasiak opened #22885 "Dynamic CPU allocation support in Metricbeat System module"
**Describe the enhancement:**

Currently Metricbeat assumes fixed number of CPU cores, which is determined at startup ([code](https://github.com/elastic/beats/blob/v7.10.0/libbeat/metric/system/cpu/cpu.go#L29-L33)). This assumption is not valid in case of certain hypervisors (e.g. [Oracle VM](https://docs.oracle.com/cd/E50245_01/E50249/html/vmcon-vm-vcpus.html)). To support such environments, Metr

[2020-12-03 11:56] Nurlan199206 commented on #22847
fixed i'm edited `varlibcontainerdocker` section in DaemonSet

added `hostPath`:
[code]

Now Filebeat DaemonSet volumes section looks like that:
[code]

[2020-12-03 11:56] #22847 closed

[2020-12-03 11:59] exekias commented on #22847
Thanks @Nurlan199206, I'm wondering, was that new path caused by a change you did or is it the default in newer versions?

[2020-12-03 12:42] Nurlan199206 commented on #22847
this path added by me, i didn't found this path in daemonset `yaml` file.

[2020-12-03 14:00] ph commented on #22858
Ok, I though we change the default of beats to _info_ this is not the case?

[2020-12-03 14:44] #10115 closed

[2020-12-03 14:51] ph opened #22893 "Allow Elastic Agent to build linux arm 64 package"
Build the Elastic Agent for the Linux arm 64 packages, the arm targets are disabled.

[2020-12-03 14:51] elasticmachine commented on #22893
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-03 15:31] blakerouse commented on #22858
Maybe we did? If so should close the #19179 issue.

@michalpristas ^ can you confirm? Thought beats were still running at a higher level.

[2020-12-03 15:57] #19757 closed

[2020-12-03 16:15] #14847 closed

[2020-12-03 16:44] jsoriano opened #22899 "Linting in jenkins doesn't detect some issues in modules docs"
In https://github.com/elastic/beats/pull/22897 I did a small change in the docs of a Metricbeat module and I forgot to run `mage update`.
Travis CI [failed](https://travis-ci.org/github/elastic/beats/builds/747456797), but Jenkins jobs [passed](https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats/detail/PR-22897/1/pipeline) when they shouldn't.

This change also had an issue not de

[2020-12-03 17:12] andrewvc opened #22901 "[Heartbeat] Add `no_chromium_sandbox` option for synthetics"
**Describe the enhancement:**

Once https://github.com/elastic/synthetics/issues/136 is added to synthetics we the corresponding no sandbox option in the heartbeat yaml.

**Describe a specific use case for the enhancement or feature:**

This makes it easier to run chromium in docker since you don't need elevated seccomp privs

[2020-12-03 17:15] psanz-estc opened #22902 "Fleet installation script fails to detect error in service start"
**Description**
`elastic-agent install` fails to detect a problem in service start and report misleading message: `Installation was successful and Elastic Agent is running`, even though service hasn't been able to start (ie: due to a process already binded in port 6789)

Script should at least notify that agent was installed but there was a problem starting the service.

**How to reproduce the bug

[2020-12-03 18:36] elasticmachine commented on #22902
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-03 19:58] kaiyan-sheng commented on #22582
Hi @aschifman, sorry for the delay. I would like to figure out one thing first: are we missing collecting data from some specific buckets or just not displaying some of them in Kibana dashboard?

1. In TSVB visualizations, there is a limit on how many buckets can be displayed we set in order to not fill one chart with too much data:
<img width="1431" alt="Screen Shot 2020-12-03 at 12 52 17 PM" src

[2020-12-03 20:15] urso commented on #22770
From logstash documentation about the UUID method:

Using the fingerprint processor in Beats you can only hash. This gives you a value that depends on your event contents. Basically a stable hash. The UUID method generates a random value only (no hashing of fields is required). This is why one should better use the UUID filter.

In Beats there is a [add_id](https://www.elastic.co/guide/en/beats/fi

[2020-12-03 20:57] iamhowardtheduck opened #22914 "Keystore Feature for Enterprise Search"
**Describe the enhancement:**
Add the feature to use a keystore within Enterprise Search configurations.

**Describe a specific use case for the enhancement or feature:**
Not have credentials & sensitive data stored in plaintext in *.yml

@jnware7

[2020-12-03 20:58] elasticmachine commented on #22914
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-12-03 23:46] softengchick commented on #20524
@amemkdm  - I am going  to move this discussion back to the discuss forum mentioned above.

[2020-12-03 23:58] hilt86 commented on #20524
@markwalkom how can I help get this done?

[2020-12-04 00:15] #12010 closed

[2020-12-04 00:25] elasticmachine commented on #20524
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-04 00:29] markwalkom commented on #20524
@hilt86 I will defer to the Beats team for the best way to handle that :)

[2020-12-04 00:47] aschifman commented on #22582
The second screenshot above is taken after adjusting the Top setting...trying it at 50, then to 500, but no difference.

Hey @kaiyan-sheng
There are not any buckets showing objects which is why this whole things is just odd...names appear, though some are missing.

The `aws.s3_daily_storage.number_of_objects` field is not available, so you are on to something...again strange because some informati

[2020-12-04 02:03] ravikesarwani commented on #22394
The Agent metrics dashboard by default provides a view where it shows accumulated information for the Agent and all the beats metrics combined. If user filters just to see Agent metrics then the event rate graph would be empty. If user selects to filter one of more beats they will see the event rate information.

[2020-12-04 02:27] aschifman commented on #22582
I have found something very interesting...I am not sure what to make of this, but this has to do with the visualizations as you were already leaning towards. It may not be a `bug` but a default setting behavior that should be adjusted.

If you change the `Data timerange mode` within the `S3 Daily Storage Number of Objects [Metricbeat AWS]` visualization - setting for `Panel options` - from the def

[2020-12-04 02:40] kaiyan-sheng commented on #22582
Thanks for looking into this! Sorry what do you mean by no `aws.s3` metrics? There will only be metrics with name `aws. s3_daily_storage.*` and `aws.s3_request.*` because there is no metricset name `s3`.

[2020-12-04 02:43] aschifman commented on #22582
I mean there is no `aws.s3*` anything...If you see the screenshot I took above, you can see the metrics go from `aws.natgateway.*` to `aws.tags.*`.

[2020-12-04 02:47] kaiyan-sheng commented on #22582
Gotcha! Thanks! What's the time range did you set for checking metrics? `aws. s3_daily_storage.*` reports only once per day so maybe try to change the time range in Kibana Discover to 1 day :)

[2020-12-04 06:25] elasticmachine commented on #22901
Pinging @elastic/uptime (Team:Uptime)

[2020-12-04 06:33] david-kow opened #22915 "Add Metricbeat --system.hostfs equivalent to Elastic Agent"
**Describe the enhancement:**

When configuring metrics inputs in Elastic Agent, user should be able to pass Metricbeats `--system.hostfs` equivalent.

**Describe a specific use case for the enhancement or feature:**

I'd like to monitor a host out of a container that's running on it. With raw Metricbeat I [can](https://www.elastic.co/guide/en/beats/metricbeat/current/running-on-docker.html#CO9-1)

[2020-12-04 10:33] #19486 closed

[2020-12-04 10:33] #20559 closed

[2020-12-04 10:33] #21465 closed

[2020-12-04 10:48] simitt opened #22921 "[elastic-agent] support resource limitations on child processes"
**Summary**

When the elastic agent installs a new input, it starts a new process or restarts an existing process with additional input  configuration. The agent does not apply any resource limits to the created subprocesses, potentially leading to the processes competing for available resources. This can become an issue when multiple processes run with high load, reaching the limit of available r

[2020-12-04 10:48] elasticmachine commented on #22921
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-04 10:54] simitt commented on #22921
Based on previous internal communication I started looking into leveraging `cgroups` for creating a child cgroup per child process and applying resource limitations to the child cgroup. By not creating an independent cgroup but creating it from the parent cgroup, the resource usage still shows up in the stats for the parent cgroup.

Some first POC for playing around with `cgroups`:
[code]

[2020-12-04 10:58] EamonnTP commented on #22772
Hi @jsoriano Just so I'm 100% sure on this. Can you confirm that the following steps (1-4) in the [quick start guide](https://www.elastic.co/guide/en/beats/metricbeat/7.10/metricbeat-installation-configuration.html#setup-assets) are required for Kubernetes? Steps 5 and 6 are what we currently have in the [Kubernetes](https://www.elastic.co/guide/en/beats/metricbeat/7.10/running-on-kubernetes.html)

[2020-12-04 11:04] skdjango001 opened #22922 "I am unable to Start Auditbeat service"
Hi Team,
I am new to Elastic and I am trying to Install beats on my Linux System and My auditbeat version is about 7.6.2

I am getting Error while trying to run the Auditbeat In my Linux OS
[code]
can Any one help me on this?
Team:Auditbeat

[2020-12-04 11:40] elasticmachine commented on #22915
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-04 11:48] vsxen commented on #22878
And can I reload filebeat auto discover config?

https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-configuration-reloading.html

[2020-12-04 12:54] mbudge opened #22925 "Build a hash table filter into winlogbeat so it can filter out more than 22 events"
Hi,

We have a problem with Winlogbeat sending all events over the network to Logstash as we filter more than 22 event codes. This is because Winlogbeat is running on mission-critical domain controllers so we can't use the processor **hack**.

processors:
- drop_event.when.not.or:

Winlogbeat needs to load the event codes from the config file into a **hash table** so it can filter out the event co

[2020-12-04 13:42] aschifman commented on #22582
@kaiyan-sheng  I set it at different levels...15 minutes all the way to over a year...no difference, though when I did go out a year, things like RDS metrics then showed up.

[2020-12-04 13:58] andrewvc opened #22928 "[Heartbeat] Plan for handling synthetics dependencies"
This picks up from https://github.com/elastic/beats/issues/22837 and strives to answer the question of how we handle synthetics deps.

There are two situations here:

1. The user is running an inline script, (no package.json), and uses the globally installed synthetics version
2. The user is running a suite (like our TODOS example), and has a package.json.

The proposal this issue sets forth is th

[2020-12-04 14:25] blakerouse commented on #22921
`cgroups` was made for this, getting it to work inside of a container might be more difficult.

Windows has a notion of this with [JobObjects](https://docs.microsoft.com/en-us/windows/win32/procthread/job-objects?redirectedfrom=MSDN). I would bet its not as feature complete as `cgroups`, but provide enough to be usable.

Mac doesn't seem to support anything link this at the process level. Would be

[2020-12-04 15:00] simitt commented on #22921
There are definitly things we need to figure out inside containers, e.g. @axw just recently had to change the [cgroup paths for metrics collection when running inside containers](https://github.com/elastic/gosigar/pull/148). I did run the above shared script inside a docker container though, so we should be able to use it as a start.

[2020-12-04 15:44] andrewvc opened #22932 "[Heartbeat][Agent] Synthetics deps and Elastic Agent"
This picks up part of the discussion from https://github.com/elastic/beats/issues/22837 where we agreed to include an extra gigabyte of deps for synthetics in the main heartbeat image. The remaining question is what to do about agent? There are essentially two paths forward:

1. Make the agent docker image include the extra ~1GiB of deps for synthetics (RPM deps, node, and chromium)
2. Make a sepa

[2020-12-04 15:45] andrewvc commented on #22837
At this point it seems we're having 3 separate discussions:

1. Should we increase the size of the heartbeat docker image? The answer seems to be a clear **yes**
2. How do we handle the synthetics/chromium update life cycle? Let's move that discussion to https://github.com/elastic/beats/issues/22928
3. Should we increase the size of the agent docker image, or figure out a multi image solution? Let

[2020-12-04 16:11] RRadziejewski opened #22933 "cisco module ?"
Any idea why it is not working ?
Versions of software 7.9.1-oss

Config is the simplest one:

`- module: cisco
  asa:
    enabled: true
`

But none of the configuration parameters work problem is all the time this:

`2020-12-04T17:09:00.989+0100	ERROR	cfgfile/reload.go:258	Error loading configuration files: 1 error: Error creating runner from config: fileset cisco/asa is configured but doesn't exi

[2020-12-04 20:16] paulb-elastic commented on #21035
In your combination of trying various options with and without quotes and double quotes, have you tried escaping the `body`, for example:
[code]

If this still does not work, try putting the whole request body in the keystore (escaped), by:

Adding `REQUEST_BODY` in the keystore as: `"{\"org_id\": \"0\", \"email\": \"user@gmail.com\", \"password\": \"secret\"}"` (substituting the correct `secret`

[2020-12-05 01:20] kaiyan-sheng commented on #22582
hmm sorry let me make sure I understand this correctly. So there is no metrics from `s3_daily_storage.*` or `aws.s3_request.*` at all?

[2020-12-05 01:24] kaiyan-sheng opened #22946 "SQS metricset reports misleading error message"
User reports when running `sqs` metricset with config that specifies a `endpoint`, error message is still showing endpoint with `amazonaws`:
[code]
error message:
[code]

[2020-12-05 01:24] elasticmachine commented on #22946
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-12-05 02:05] aschifman commented on #22582
Not showing in Discover...

On Fri, Dec 4, 2020 at 20:20 kaiyan-sheng <notifications@github.com> wrote:

--
------
Aaron M. Schifman
Partner Integration Engineer
ams@elastic.co

Search. Observe. Protect.

[2020-12-05 07:24] elasticmachine commented on #22933
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-05 07:26] elasticmachine commented on #22928
Pinging @elastic/uptime (Team:Uptime)

[2020-12-05 07:27] elasticmachine commented on #22925
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-05 07:31] elasticmachine commented on #22922
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-05 09:15] #257 closed

[2020-12-05 09:15] #218 closed

[2020-12-05 09:15] #467 closed

[2020-12-05 10:15] #150 closed

[2020-12-05 10:15] #138 closed

[2020-12-05 16:53] pbssubhash opened #22947 "Hostname and timestamp gets overwritten when using archived event logs using winlogbeat"
Discussion Forum Link: https://discuss.elastic.co/t/hostname-and-timestamp-gets-overwritten-when-using-archived-event-logs-using-winlogbeat/257739
Version : Winlogbeat 7.9.2
Platform: Windows 10
Reproduction Instructions:
Use winlogbeat to upload an event log file (.evtx file using -E option) and use the default config file. I used[ this script](https://github.com/sbousseaden/EVTX-ATTACK-SAMPLES/b

[2020-12-05 19:15] #14886 closed

[2020-12-05 19:15] #382 closed

[2020-12-05 19:15] #399 closed

[2020-12-05 20:15] #777 closed

[2020-12-05 20:15] #3605 closed

[2020-12-05 20:15] #1368 closed

[2020-12-05 20:15] #2997 closed

[2020-12-07 01:34] axw opened #22948 "Add e2e test for Beats monitoring"
There exist system tests for libbeat/monitoring, using mockbeat, which have been skipped due to flakiness: https://github.com/elastic/beats/issues/16247. These tests do not cover running inside Docker, a common deployment method.

We should introduce new end-to-end monitoring tests which run Beats, including as Docker containers. By including Docker containers in the tests, this will help ensure p

[2020-12-07 02:48] dagwieers opened #22949 "AJP protocol support in Heartbeat to test Apache JServ Protocol access"
**Describe the enhancement:**
We would like to have support for AJP in Heartbeat to test the AJP protocol from a monitor, just like we currently test the HTTP protocol.

**Describe a specific use case for the enhancement or feature:**
Since AJP is a binary protocol and it has some performance benefits over HTTP, this is what is usually used if you have a load-balancer or proxy in front of your app

[2020-12-07 07:55] jurim76 commented on #22462
Hello

Here are missing entries for VPN events

%ASA-4-106103: access-list VPN_FILTER_DEV denied icmp for user 'user.name' outside/172.16.24.67(8) -> outside/10.80.103.32(0) hit-cnt 1 first hit
[0xc242c110, 0x0]

%ASA-5-746012: user-identity: Add IP-User mapping 10.160.103.32 - TEST\MSOL_956e694d46b7 Succeeded - PIP notification

%ASA-4-113019: Group = DefaultWEBVPNGroup, Username = user.name, IP

[2020-12-07 08:06] skdjango001 commented on #22922
Hi team Any update on this ??

[2020-12-07 09:00] xennn commented on #18755
Its working for me.

[2020-12-07 09:23] michalpristas commented on #22394
docs examples of collected metrics by using http input
see that i needed to place collected metrics into `metrics` field as http did not enable me to put them at the root level
linux

[code]

mac

[code]

[2020-12-07 09:45] jamiehynds commented on #22462
Thanks for the additional infomation! Both the 106103 and 113019 are included in our ingest pipeline, so should definitely be appearing.

@marc-gr @P1llus any thoughts on the Filebeat error, seems to be related to Umbrella?

[2020-12-07 10:01] ruflin commented on #22394
I guess you could use the rename processor to move the fields under root?

Why is there a `beat` object in the stats for `memstats` for example?

[2020-12-07 10:56] sorantis opened #22951 "CockroachDb docs don't show a doc example"
The documentation doesn't correctly display an example document.
https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-metricset-cockroachdb-status.html

[2020-12-07 10:56] elasticmachine commented on #22951
Pinging @elastic/integrations-services (Team:Services)

[2020-12-07 11:07] #17295 closed

[2020-12-07 11:54] jsoriano commented on #21465
Thanks @marc-gr! #22320 looks great!

[2020-12-07 12:29] jsoriano commented on #22772
@EamonnTP only the step 4 is missing in Kubernetes and Cloud foundry guides. Rest of steps seem covered by current docs.

In these scenarios it'd be important to install the dashboards (indexes and pipelines are created by Beats on runtime if they don't exist), so we can focus on running `metricbeat/filebeat setup --dashboards`.
In the case of Kubernetes we could use the docker container as is don

[2020-12-07 12:33] narph opened #22956 "Map all fields inside the IIS module"
Map all fields inside the IIS module.
Preparation for GA.

[2020-12-07 12:33] elasticmachine commented on #22956
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-12-07 12:34] narph commented on #22609
Created https://github.com/elastic/beats/issues/22956 for fields check mapping.

[2020-12-07 13:19] michalpristas opened #22957 "[Ingest Management] Monitoring metrics using npipe does not work"
When running agent on windows it configures beats to publush http endpoint using named pipe and configure monitoring to connect to these pipes for metric collection.

this fails on: `error making http request: Get "http://npipe/state 1": open \default-endpoint-security: The system cannot find the file specified.`

comming from discuss: https://discuss.elastic.co/t/error-in-events-elastic-agent-7-1

[2020-12-07 13:19] elasticmachine commented on #22957
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-07 13:51] Samirbous opened #22958 "process.args_count not populated for windows sysmon process creation events"
**Describe the enhancement:**

Apparently [process.arsg_count](https://www.elastic.co/guide/en/ecs/current/ecs-process.html#field-process-args-count) is not populated in Winlogbeat (e.g Sysmon Process Creation Events or Windows Process Creation EventID 4688):

![image](https://user-images.githubusercontent.com/64742097/101358378-0cc11980-389b-11eb-98ae-094eb54de980.png)

And this is an example to

[2020-12-07 14:10] ruflin commented on #22928
In the inline case, you state `config variable is set to a specific value`. Is this `1.2.3` or something like `^1.2.3`?

[2020-12-07 14:12] ruflin commented on #22932
As the Elastic Agent has also the option to download the dependencies if needed, it would be good to know how long it would take to download this additional dependency?

[2020-12-07 14:38] P1llus commented on #22462
I can quickly comment on the Umbrella side, there has been a fix created for this, so the workaround should not need to be applied in the next release:
https://github.com/elastic/beats/pull/22892

For the different events that is not being ingested I would need to come back to you on that one.

[2020-12-07 14:49] jsoriano opened #22959 "Collect CockroachDB node and cluster ids in Metricbeat module"
CockroachDB has the native concept of node and cluster ids. As a user one may want to filter data per instance or per cluster.

We need to confirm the identifiers to use for each case, some options:

Cluster ID:
* Using the SQL interface: `SELECT value FROM crdb_internal.node_build_info where field = 'ClusterID';`

Node ID:
* Using the SQL interface:
  * `SELECT value FROM crdb_internal.node_metri

[2020-12-07 14:49] elasticmachine commented on #22959
Pinging @elastic/integrations-services (Team:Services)

[2020-12-07 15:27] skdjango001 commented on #22922
Hi @andrae-sec  I need help on this issue as i am facing from last 3 days.

[2020-12-07 18:42] michalpristas commented on #22957
identified issues, i have a fix tested, i just need to take it from my garbage loaded branch into clean one

[2020-12-07 19:09] andrewstucki opened #22965 "Investigate Performant XML Identification"
**Describe the enhancement:**

https://github.com/elastic/beats/pull/22940 adds code for mime type sniffing. Currently, if an xml document doesn't begin with an `<?xml` signature the way the code determines if it's xml is by unmarshaling everything and seeing if an error occurred. Go's xml implementation is pretty bad in terms of speed and memory pressure. We should replace this with a more scalab

[2020-12-07 19:09] elasticmachine commented on #22965
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-07 19:23] fearful-symmetry commented on #22765
@cdalexndr So, just to be clear, you're running docker inside WSL? What other metrics are you looking at to get the correct disk usage?

[2020-12-07 20:12] cdalexndr commented on #22765
Yes, docker has WSL2 based engine enabled, with Alpine image.
This invalid disk usage is reported on my developer machine. I can see the correct disk usage in windows explorer (outside of
docker).

[2020-12-07 20:40] fearful-symmetry commented on #22786
@urso The systemd unit files are pretty straight forward, and I assume we'll just want to add an `ENV` to the dockerfile. However, I'm not quite sure how the init shell scripts work. Can we just... export something here?
[code]

[2020-12-07 20:52] fearful-symmetry commented on #22765
So, if you want to monitor a filesystem from inside docker, it needs to be mounted inside the container. There's an example here: https://www.elastic.co/guide/en/beats/metricbeat/current/running-on-docker.html#monitoring-host

[2020-12-07 20:54] mostlyjason commented on #22932
Thanks I assume this isn't just concerning docker and also concerns adding synthetics to the agent installer?

If we add 1GB to the main agent image, that would eat a lot of bandwidth & storage across 1000s of hosts. So option 2 sounds better for the majority of users.

More generally, we talked about having a minimal docker image for hosts that are internet connected so they can download dependen

[2020-12-07 21:16] urso commented on #22786
Yes

This looks like a beat wrapper script for CLI use. Is it [`beatname.sh.tmpl`](https://github.com/elastic/beats/blob/master/dev-tools/packaging/templates/linux/beatname.sh.tmpl)?

The wrapper is ignored by the init file and by the systemd unit file. Modifying it will only affect users running Beats on command line, or those having custom scripts running the wrapper for whatever reason. Yet we

[2020-12-07 21:21] justinainsworth opened #22969 "Issue with Cisco Module not parsing Meraki dates for all events"
I posted this issue to https://discuss.elastic.co/t/cisco-module-meraki-not-properly-parsing-date-on-all-events/257584 first, and have not had a response, so posting here.

I've been playing around with the new Meraki fileset in the Cisco module, and have noticed that for some event types, the date is not properly parsed, and i get a @timestamp of '1970-01-01T00:00:03.000Z'. Here is a sample origi

[2020-12-08 03:15] #11988 closed

[2020-12-08 08:48] wolframhaussig opened #22977 "Documentation update: supported OS for HeartBeat Synthetic monitoring"
Please mention in your documentation that although Heartbeat 7.10 supports CentOS/RHEL 6, synthetic monitoring does not work as playwright-chromium requires a newer version of GLIBC and others(NodeJS itself worked but required us to use NodeJS 11...)

[2020-12-08 09:41] michalpristas commented on #22394
there's beat.memstat because we're collecting beatMetrics using http. i can use rename to move it up if this is disturbing.
i tried rename for moving to root but either i'm using it wrong or it's not possible. looking at the code of rename it should not be possible

[2020-12-08 11:05] davelosert commented on #10658
@jsoriano : We are currently still running into this issue with **Metricbeat 7.9.2.** on an Azure AKS Cluster and on the `container`-Level.

Even though we have limits set for all our containers (at least for `memory`), metricbeat calculates `kubernetes.container.memory.usage.limit.pct` against the `Nodes` available Memory rather than the specified limit - meaning it is always the same as `kuberne

[2020-12-08 11:12] sorantis opened #22981 "Update CockroachDB Dashboards"
We worked with the CockroachDB PMs on a new set of CRDB dashboards. We should add the new dashboards to the CRDB module. Two additional changes required:
- remove the Cluster filter from both dashboards
- update the dashboard titles

[CRDB_Dashboards_7_9_1_20201106.zip](https://github.com/elastic/integrations-dev/files/5658854/CRDB_Dashboards_7_9_1_20201106.zip)

[2020-12-08 11:12] elasticmachine commented on #22981
Pinging @elastic/integrations-services (Team:Services)

[2020-12-08 12:06] jmartin51 opened #22984 "Metricbeat prometheus module: merge series in a single event"
**Describe the enhancement:**

Using prometheus module query metricset, we can see that an event is sent for each series contained in the prom query results.
Same behavior could be observed when using multiple queries.

The Enhancement would be to add an option in metricbeat configuration to add all series returned by queries in a unique document

**Describe a specific use case for the enhancement

[2020-12-08 12:07] jvkassi commented on #6486
Has a PR already been created ?

[2020-12-08 12:15] elasticmachine commented on #22984
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-12-08 12:25] rahulgupta-qasource commented on #22773
Hi @EricDavisX

Thank you for sharing the feedback.

We have validated the defect on 7.11.0-SNAPSHOT Kibana cloud environment (with commit 968b6e5104013e02b55fefaa27793f878764361f) deployed from https://staging.found.no and 7.11.0-SNAPSHOT darwin agent tar.gz package on macOS Sierra 10.12.6 :-
https://snapshots.elastic.co/7.11.0-135ba4ce/downloads/beats/elastic-agent/elastic-agent-7.11.0-SNAPSHOT-

[2020-12-08 12:25] #22773 closed

[2020-12-08 13:15] dikshachauhan-qasource commented on #22549
Hi @EricDavisX

We have created a new testcase as per the update available [comment ](https://github.com/elastic/beats/issues/22549#issuecomment-732446886) linked to ticket: [#83449 summary](https://github.com/elastic/kibana/pull/83449#issue-521804508). Testcase link is as follows: https://elastic.testrail.io/index.php?/cases/view/35182

Please let us know if anything else is required.

[2020-12-08 13:20] michalpristas commented on #22858
yep we changed it to info some time ago when making log level reloadable

[2020-12-08 13:23] michalpristas commented on #22858
@ph we did turn of ECS because there was a version reported twice with different ecs versions. one coming from beat another one from library #21616

[2020-12-08 13:41] ph commented on #22858
@michalpristas Maybe the fix was the incorrect one and we should just align the version?

[2020-12-08 13:43] dikshachauhan-qasource opened #22986 "[Ingest Manager]: Log are not updated as per log levels applied at Agent logging level on Agents tab."
**Kibana version**:
Kibana:8.0.0 snapshot Cloud environment

**Elasticsearch version**:
Elasticsearch:  8.0.0 snapshot Cloud environment

**Host OS and Browser version**:
Windows 10, All

**Original install method (e.g. download page, yum, from source, etc.)**:
8.0.0 snapshot Cloud environment

**Description**:
[Ingest Manager]: Logs are not updated as per log levels applied at Agent logging level

[2020-12-08 13:44] dikshachauhan-qasource commented on #22986
@muskangulati-qasource please review

[2020-12-08 13:50] elasticmachine commented on #22986
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-08 13:50] muskangulati-qasource commented on #22986
Reviewed & Assigned to @EricDavisX

[2020-12-08 14:26] michalpristas commented on #22858
even if versions are aligned field is reported twice, which is not nice. i will drop one of the fields added by lib and turn on ecs back

[2020-12-08 14:28] MacPower commented on #8387
Hi,
you have to actually set s:

`
output.kafka:
  enabled: true
  hosts: ["broker1:9093"]
  topic: 'test'
  username: user_rw
  password: davidrw
  sasl.mechanism: SCRAM-SHA-256

`
It worked for me with SCRAM-SHA-512 with Amazon MSK service. I have pushed this issue at the support for backporting.

Hopes it helps.

[2020-12-08 15:00] EricDavisX commented on #22986
Thanks for testing and logging.  I think the feature isn't ready to be evaluated yet, this was bad communication from me and the team I think, sorry.  For details, I can cite: we had 75% of the UI finished and then afterwards started putting the PRs up to make the Agent and backend align... it should be ready end to end soon.

This one is just merged to 8.0 and has open backports:
https://github.c

[2020-12-08 15:01] jsoriano commented on #21685
Maybe we can use [gotestsum](https://github.com/gotestyourself/gotestsum) to fix this as explored here: https://github.com/elastic/beats/pull/22541 Thanks @urso!

[2020-12-08 17:07] n0othing opened #22990 "[Metricbeat][vSphere Module] Clarify hosts property/example"
**Describe the enhancement:**

Today, the example [1] vSphere config block uses `hosts: ["https://localhost/sdk"]`, where `localhost` should be replaced with either the FQDN or IP of vCenter.

It would be helpful to clarify this in the docs, and/or possibly have a different placeholder value.

[1] https://www.elastic.co/guide/en/beats/metricbeat/7.10/metricbeat-module-vsphere.html#_example_configu

[2020-12-08 17:46] elasticmachine commented on #22885
Pinging @elastic/integrations-services (Team:Services)

[2020-12-08 17:47] elasticmachine commented on #22932
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-08 17:47] elasticmachine commented on #22932
Pinging @elastic/uptime (Team:Uptime)

[2020-12-08 17:49] elasticmachine commented on #22947
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-08 17:50] elasticmachine commented on #22948
Pinging @elastic/integrations-services (Team:Services)

[2020-12-08 17:52] elasticmachine commented on #22949
Pinging @elastic/uptime (Team:Uptime)

[2020-12-08 17:53] elasticmachine commented on #22969
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-08 18:08] elasticmachine commented on #22977
Pinging @elastic/obs-docs (Team:Docs)

[2020-12-08 18:08] elasticmachine commented on #22977
Pinging @elastic/uptime (Team:Uptime)

[2020-12-08 18:09] elasticmachine commented on #22990
Pinging @elastic/integrations (Team:Integrations)

[2020-12-08 18:27] ph commented on #22932
@mostlyjason I can't find that issue, we mentioned it in the heartbeat issue some time ago but this use case is different, and I am not sure it fit well with docker.

---

_I might ask question that have been already decided, but I don't have enough details about the architecture_

Now, I think there is multiple question to asks, as @mostlyjason pointed out what is the usecase when there is no doc

[2020-12-08 18:35] ph commented on #22915
I think this should be part of the metricbeat input configuration and not system we have to deal at the agent level.  @exekias @masci ? I've send to your team but if we don't agree lets discuss it.

[2020-12-08 18:35] elasticmachine commented on #22915
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-12-08 19:05] dedemorton commented on #22772
@jsoriano Do users still need to enable modules before running the setup command? I think that was only required for loading pipelines, but wanted to confirm.

[2020-12-08 19:12] EricDavisX opened #22993 "[Elastic-Agent] Testing over Agent Roll-back on Failure"
This will manage the manual test done from this ticket / pr:
https://github.com/elastic/beats/issues/21518
https://github.com/elastic/beats/pull/22537

The Agent, during a automated upgrade may have problems, it will have the ability to rollback to the prior working version and clean up.

Details of A/C and test considerations are below:
TBD

[2020-12-08 19:12] elasticmachine commented on #22993
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-08 19:15] henrikno opened #22994 "Collect docker version in docker info"
**Describe the enhancement:**
Collect docker version in `docker` `info` documents.

Currently it does not collect that field:
https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-metricset-docker-info.html
But it is exposed running `docker info` from the CLI:
https://docs.docker.com/engine/reference/commandline/info/

**Describe a specific use case for the enhancement or feature:**

[2020-12-08 19:20] dedemorton commented on #22772
If we only need to talk about dashboard loading, I wonder if we should just revamp the existing topic about loading dashboards and point to that?

https://www.elastic.co/guide/en/beats/filebeat/current/load-kibana-dashboards.html

I am a little concerned that here are various configuration settings that change the default behavior of things like template and pipeline loading.

[2020-12-08 20:36] #21726 closed

[2020-12-08 22:25] kaiyan-sheng commented on #22582
Let me just put some notes here for what @aschifman and I talked about offline:
1. `s3_daily_storage` metricset collects metrics from AWS CloudWatch so if there are data missing in CloudWatch, `s3_daily_storage` will not be able to get them.
2. Filter created by Controls visualization seems to have a hard limit on how many values can be displayed on the drop down menu (10 is the value we see). We

[2020-12-09 02:14] andrewstucki opened #23005 "Add "top_level_domain" Enrichment to "registered_domain" Processor"
**Describe the enhancement:**

https://github.com/elastic/beats/pull/22999 Adds handling for subdomain enrichment, we should do something similar and have the "registered_domain" processor handle all domain enrichment. In addition we may want to consider renaming it.

[2020-12-09 02:14] elasticmachine commented on #23005
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-09 04:38] qadv opened #23009 "[Metricbeat] vsphere.datastore.capacity.used.pct with ECS format issue"
Hi Team,

It appears as if the ECS marking of the field vsphere.datastore.capacity.used.pct with a percentage format type and this line is increasing the values by 100 times.

In the dashboards and when setting up alerts in metric explorer the values are in the thousands of percent.

Can this be resolved please - Suggestions would be to remove the multiplier in the following line to have the value

[2020-12-09 06:51] #21952 closed

[2020-12-09 07:26] #22957 closed

[2020-12-09 07:37] michalpristas commented on #22858
@EricDavisX this got closed with the PR please reopen if you see this behavior again, i checked events and they have correct log level field now

[2020-12-09 07:47] ChrsMark commented on #22984
Hey!

In principal storing different timeseries in the same event is not correct. In Prometheus world different set of labels means different timeseries.

In our case this would mean that we merge all these different timeseries something that might cause issues in searches, visualisations, dashboards. To illustrate the point let me provide an example:

Timeseries:
[code]

Storing them into the sam

[2020-12-09 07:58] michalpristas commented on #19179
closing as we moved to `info` log level recently

[2020-12-09 07:58] #19179 closed

[2020-12-09 08:19] david-kow commented on #22915
I'll just chime in that from my perspective, this being a part of the configuration would be preferable to a command line flag.

[2020-12-09 09:27] davelosert opened #23016 "Add field `kubernetes.volume.fs.used.pct` for used storage"
## Feature Description

It would be great if there was an acutal value for the percentage of used storage for a Kubernetes-Volume.
That would be a simple calculation with the existing data:

[code]
*(i'm not very good with Go, so I'm not sure if this is a 100% correct):*

Much like it is done for `CPU` or `Memory` in some other metrics, e.g. for [pods](https://github.com/elastic/beats/blob/master/

[2020-12-09 09:42] masci commented on #22915
Ack. I agree this should be a config option.

[2020-12-09 09:48] jsoriano commented on #22772
In principle users deploying Beats on Kubernetes or Cloud Foundry are not going to enable/disable modules, they are going to provide directly the configuration files. So I don't think we should document these steps for these cases.

Sounds perfect to me, maybe we can also link to this topic in the "Running on docker" topic instead of explaining the same thing there.

This is specially true for Fil

[2020-12-09 10:40] dikshachauhan-qasource commented on #22986
Hi @EricDavisX

Thank you for the confirmation.
Please let us know whenever the feature is ready to test. We will re-validate them.

Also, we have validated the merged changes for  [#22815 ](https://github.com/elastic/beats/pull/22815) and has shared our detailed observation under same ticket.

Please let us know if anything else is required from our side.

[2020-12-09 11:14] elasticmachine commented on #23016
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-12-09 11:16] elasticmachine commented on #23009
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-12-09 11:16] elasticmachine commented on #22994
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-12-09 11:18] elasticmachine commented on #22990
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-12-09 11:54] elasticmachine opened #23019 "Flaky Test [Build&Test / filebeat-macos-macosx / test_harvester_limit – filebeat.tests.system.test_input.Test]"
## Flaky Test

* **Test Name:** `Build&Test / filebeat-macos-macosx / test_harvester_limit – filebeat.tests.system.test_input.Test`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2F7.10/detail/7.10/215/
* **PR:** None
* **Commit:** 67c172efd6621f489110f6b92dfc08e1e3a4b3b9

### Error details
[code]

### Stack Trace
[code]

[2020-12-09 12:10] ruflin commented on #22394
Can you elaborate on the `beatMetrics using http`?

[2020-12-09 12:15] #8922 closed

[2020-12-09 12:26] michalpristas commented on #22394
what i mean by beatMetrics is a registry with the same name in a libbeat code. this registry is part of Default registry under `stats` namespace which is exposed using `/stat` endpoint. This endpoint I consume using `http` input.

[2020-12-09 12:31] ruflin commented on #22394
I think we should be careful to reuse too much of libbeat here as Elastic Agent is not a Beat. If we need the stats inside beatMetrics, could we get them from beatMetrics but put together our own even with the values? I think Elastic Agent must be in control on where and what metrics are exposed.

[2020-12-09 12:44] dikshachauhan-qasource opened #23020 "[Ingest Manager]: 'default' is displayed at data_stream.namespace on discover tab instead of non-default policy namespace"
Kibana version:
Kibana:8.0.0 snapshot Cloud environment

Elasticsearch version:
Elasticsearch:  8.0.0 snapshot Cloud environment

Host OS and Browser version:
Windows 10, All

Original install method (e.g. download page, yum, from source, etc.):
8.0.0 snapshot Cloud environment

While exploratory testing, we have validate a scenario as per [ticket summary](https://github.com/elastic/beats/issues/2

[2020-12-09 12:45] dikshachauhan-qasource commented on #23020
@manishgupta-qasource please review

[2020-12-09 12:50] manishgupta-qasource commented on #23020
Reviewed & Assigned to @EricDavisX

[2020-12-09 12:51] elasticmachine commented on #23020
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-09 13:16] michalpristas commented on #22394
i agree with agent having controll of what is being published. but at the same time i worked with the assumption we agreed on using libbeat to collect metrics at first at least.

at the same time we need to take into account that we're walking towards dashboards where aggregated metrics of agent and its processes are being displays. so we probably need to have a common format in mind. so aggregati

[2020-12-09 13:25] EricDavisX commented on #23020
@ruflin @ph this sounds like namespace isn't being carried thru the whole stack.  That would feel high priority to me, until we know otherwise.  Do you want to review or assign someone?

[2020-12-09 13:29] ibouchakour commented on #6486
Hi, it been a while but if i remember, i added in filebeat.template.json
"response_time": {
                  "type": "long"
                },

under the response_code in the apache section,

[2020-12-09 14:03] marc-gr opened #23023 "[Filebeat] Okta module keeps requesting pages even when hitting rate limits"
Okta module is configured to take into account rate limit information coming in the headers. It seems to not be taking it into account since it performs 100s of requests per minute even when Okta rate limits are being hit:

[code]

[code]

[2020-12-09 14:03] elasticmachine commented on #23023
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-09 14:15] #15029 closed

[2020-12-09 14:38] ph commented on #23020
@EricDavisX I have some doubts here, I am more sure it's in the fleet side, because I would assume that we send the right information for every integration policy generated.

@manishgupta-qasource Can you add to this issue the YAML configuration from the Agent policy, I believe the _namespace_ is added to the input section but **endpoint** doesn't respect that.

@kevinlog might know too?

[2020-12-09 14:52] kaiyan-sheng commented on #22582
@aschifman Reponse from kibana team about the s3 bucket names in the drop down menu:
[code]

I tested it with `Dynamic Options` off and it does show all s3 bucket names. But it requires a hardcoded `Size` value:
<img width="506" alt="Screen Shot 2020-12-09 at 7 50 38 AM" src="https://user-images.githubusercontent.com/14081635/101645186-4d33ab00-39f3-11eb-824c-f2a3564f5016.png">

The problem is we

[2020-12-09 15:39] jeffpatton1971 opened #23027 "Metricbeat Windows Module invalid windows.yml in modules.d"
The default windows.yml located in modules.d contains an invalid query that when enabled prevents the metricbeat service from starting.

[code]

Note the query object is process, yet the counters are all disk related. After changing these to the sample shown on the following page https://www.elastic.co/guide/en/beats/metricbeat/7.10/metricbeat-module-windows.html and uncommenting the process queri

[2020-12-09 16:15] #14976 closed

[2020-12-09 16:57] ph commented on #22744
@blakerouse Did you investige it?

[2020-12-09 17:41] fearful-symmetry commented on #22786
Linked PR. Not sure how to test this beyond "the env var is in the build"

[2020-12-09 17:53] fearful-symmetry commented on #22045
It looks like this is related to this: https://github.com/pypa/setuptools/issues/2017

We either need to pin an older version of setup tools or update our script. I've never touched these, so not sure what the best route is here.

[2020-12-09 18:02] michalpristas commented on #20756
@ph can we close this? cherry pick in and endpoint is reading configuration passed in

[2020-12-09 18:03] #22216 closed

[2020-12-09 18:05] blakerouse commented on #22744
@ph Yes, seems the package building is copying the wrong file to the `/usr/bin/elastic-agent` file. Still investigating why, because the `packages.yml` looks correct.

[2020-12-09 18:09] blakerouse commented on #22744
I think I figured it out. Happens that I made the files the same name, so when the package is build the `/etc/init.d` script overwrites the `/usr/bin` script. Then when the package is installed the overwritten file place it both paths.

I have a fix I am testing now, should be a simple fix, if I am correct.

[2020-12-09 18:25] blakerouse commented on #22828
This was backported.

[2020-12-09 18:25] #22828 closed

[2020-12-09 18:42] #20756 closed

[2020-12-09 18:59] jsoriano commented on #18334
Added point about selecting proper architecture for binaries currently installed using curl.

[2020-12-09 21:39] jvkassi commented on #6486
hmm i'm talking about a PR to add a new field "response_time" here filebeat/module/apache/access/ingest/pipeline.yml.
Is it the right way to do it ? @ruflin

[2020-12-09 23:54] Aqualie commented on #18755
I've started to upgrade my servers as this issue appeared to be fixed however after upgrading both the kernel and auditbeat to 7.10.1 which has the fix I'm still receiving the error. This host has IPV6 enabled with IPV6 addresses assigned and is running the linux-hardened kernel instead. Below is the debug file as requested before:
[code]

[code]

[2020-12-10 00:04] berglh commented on #22705
pinging metricbeat

[2020-12-10 01:14] #22844 closed

[2020-12-10 03:27] #22776 closed

[2020-12-10 07:55] willemdh commented on #10108
This issue has never been solved or analysed and should not have been auto closed imho. See also https://discuss.elastic.co/t/my-packetbeat-memory-is-growing-continuously/258221/4 and https://github.com/elastic/beats/issues/20755

[2020-12-10 09:08] #20688 closed

[2020-12-10 10:10] dikshachauhan-qasource commented on #23020
Hi @ph

Please find elastic-agent.yml configuration from the Agent policy 'test1' on 8.0.0 snapshot kibana cloud here as follows.

[code]

8.0.0 Snapshot Kibana cloud details are:
[code]

Also, let us know if anything else is required.

Thanks

[2020-12-10 10:55] nkammah commented on #22572
The Stack Infra release team handles deploying the elastic/helm-charts. Since the `helm-charts` are part of the Unified Release Process, the repository follows the stack branching model - you can read more about it [here](https://github.com/elastic/helm-charts/blob/master/BREAKING_CHANGES.md#new-branching-model).

What would need to happen for the agent is:

* open a PR to add it to the 7.10 (or 7

[2020-12-10 11:11] michalpristas commented on #21518
closing as PR #22537 is merged

[2020-12-10 11:11] #21518 closed

[2020-12-10 11:14] #21817 closed

[2020-12-10 11:39] ycombinator commented on #21020
The PR for a basic `rate_limit` processor is up here: https://github.com/elastic/infra/issues/25378.

Additionally, we will need a follow up PR for this requirement:

Some quick thoughts about this requirement after discussing it with @jsoriano off-issue:
* as rate-limited events are dropped by the `rate_limit` processor, the field or tag will need to go on the next event that is allowed through.

[2020-12-10 12:55] rahulgupta-qasource commented on #22993
Hi Eric

We have gone through the linked tickets and found that it requires validation through automation tests.

Please let us know if anything is required from our end.

[2020-12-10 13:11] michalpristas commented on #22394
updated https://github.com/elastic/beats/issues/22394#issuecomment-739790855 structure again, important part is `system.process`

collecting just memory, cpu and fd (on linux)
total system metrics such as free/used disk space or or free RAM would need a different approach either Go APM Agent or agent logic itself. these can be added later.

[2020-12-10 13:27] ruflin commented on #22394
This LGTM.

[2020-12-10 13:35] ph commented on #23020
OK, looking at the output the fleet backend is doing the right thing and add the namespace, so I think the error is that endpoint doesn't honor that.

[code]

reassigning to @ferullo, is there a reason why endpoint do not honor that setting?

[2020-12-10 13:41] ph commented on #22394
LGTM, seems OK for first version.

[2020-12-10 13:46] simitt commented on #22394
@michalpristas would it be possible to also include `cgroup` metrics from the beginning? Similar to what has been done in https://github.com/elastic/beats/pull/21113. This is important when running in containers.

[2020-12-10 13:49] ferullo commented on #23020
Hmm.. Endpoint did have this bug but it was fixed. @dikshachauhan-qasource after enabling endpoint security and reproducing this issue can you share the file `c:\Program Files\Elastic\Endpoint\state\log\endpoint-000000.log` and share the output from `c:\Program Files\Elastic\Endpoint\elastic-endpoint.exe version`?

[2020-12-10 13:53] michalpristas commented on #22394
@simitt yes i can do that

[2020-12-10 14:15] dikshachauhan-qasource opened #23067 "[Ingest Manager]: ECS version is different at endpoint and elastic-agent logs."
Kibana version:
Kibana:8.0.0 snapshot Cloud environment

Elasticsearch version:
Elasticsearch:  8.0.0 snapshot Cloud environment

Host OS and Browser version:
Windows 10, All

Original install method (e.g. download page, yum, from source, etc.):
8.0.0 snapshot Cloud environment

Description
[Ingest Manager]: ECS version is different at endpoint and elastic-agent logs.

Preconditions
1. Artifacts f

[2020-12-10 14:16] dikshachauhan-qasource commented on #23067
@manishgupta-qasource Please review

[2020-12-10 14:18] manishgupta-qasource commented on #23067
Reviewed & Assigned to @EricDavisX

[2020-12-10 14:18] elasticmachine commented on #23067
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-10 14:19] dikshachauhan-qasource commented on #22858
Hi @EricDavisX

While performing exploratory testing on 8.0.0 kibana cloud build today, we have observed that no-specific level logs get generated at logs UI on specific search.

Pre-condition:
1. Agent should be deplayed to 8.0.0 Kibana cloud environment. Build details are as follows:
[code]

Steps to reproduce:
1. Login to Kibana cloud environment.
2. Go to Agents tab. Observe, logs are generate

[2020-12-10 14:30] ruflin commented on #6486
I haven't worked on the apache part in a while. @exekias might be able to help here?

[2020-12-10 14:32] michalpristas commented on #22394
@ruflin @simitt i updated PR here to match proposed doc schema. if you can take a look it would be great
https://github.com/elastic/beats/pull/22793

[2020-12-10 15:15] #15015 closed

[2020-12-10 15:34] #22956 closed

[2020-12-10 15:59] ph opened #23073 "Suggestion move the "installation layout" as the same level as the "Install Elastic Agent""
Reported by @skh

Move [Installation layout](https://www.elastic.co/guide/en/fleet/7.10/elastic-agent-installation.html) at the same level of "Install Elastic Agent"

[2020-12-10 15:59] elasticmachine commented on #23073
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-10 15:59] ph commented on #23073
@dede what do you think?

[2020-12-10 16:09] #23005 closed

[2020-12-10 16:12] EricDavisX commented on #22858
I don't know if the last research @dikshachauhan-qasource posted is a separate issue, I will need to review and play with the feature more.  I am seeing the specific original concern is still happening, so I am glad it is re-opened.  I will push some convo to slack to see if we can hash out what remains to be done.  @ph @nchaulet @michalpristas

[2020-12-10 16:15] #15054 closed

[2020-12-10 16:30] adriansr opened #23074 "o365/audit: normalize user.name field"
O365 audit sources are providing user.name in different formats, _FIRST_NAME.LAST_NAME_ for Sharepoint events, others provide lowercase or a mix of cases.

the o365/audit dataset should normalize those (always lowercase?)

[2020-12-10 16:30] elasticmachine commented on #23074
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-10 16:40] michalpristas commented on #22858
i need to take a look but these sshould be info level so with this settings they should not be there.
also checked commit used in agent ` deba31` this commit is 3 commits before fix got in.

[2020-12-10 17:15] #15056 closed

[2020-12-10 17:21] willemdh commented on #15054
@graphaelli This shouldn't be closed no?

[2020-12-10 18:40] jsoriano opened #23077 "Collect metrics of Kafka consumer groups without active members"
`consumergroup` metricset of the Metricbeat `kafka` module collects consumer group metrics per member in the consumer group. When a consumer group doesn't have any active member, it doesn't collect any data, but this can be important to detect that all members are down.

Metricbeat should be able to collect metrics both, per consumergroup and per member.

I see two options for that:
* Split the co

[2020-12-10 21:13] dedemorton commented on #16396
I'm going to close this because I think the Elastic Agent will give us an opportunity to explain ingest more cohesively (one agent to rule them all). Eventually we will get to the point where most of these details are implementation details anyhow. If folks express a strong desire to add this content, we can revisit this issue.

[2020-12-10 21:13] #16396 closed

[2020-12-10 21:19] dedemorton commented on #13908
This work was done at some point, but no one closed the issue. Closing now.

[2020-12-10 21:19] #13908 closed

[2020-12-10 21:20] dedemorton commented on #7739
We're focusing on Elastic Agent right now, so I don't think this is the best use of our time (small impact on users, too).

[2020-12-10 21:20] #7739 closed

[2020-12-11 03:15] #15072 closed

[2020-12-11 05:01] fadjar340 opened #23087 "Filebeat Fortinet log file input"
**Filebeat Fortinet input log grok pattern:**

**Need improvement in Fortinet ingest node pipeline for log file input:**
In the pipeline: filebeat-7.10.0-fortinet-firewall-pipeline need modification in the Grok processor if use file log input as follow:
[code]
This modification will hanlde SYSLOGHOST in the syslog file that not yet added into the pipeline.
Before add this, I have error in the erro

[2020-12-11 10:51] TonioRyo opened #23090 "Cannot load Filebeat 7.9.0 and higher template in Elasticsearch 6.8.12 because of flattened type"
- Version: Filebeat 79.0 and higher, Elasticsearch 6.8.12
- Operating System: Windows & Linux
- Discuss Forum URL: https://discuss.elastic.co/t/cannot-load-filebeat-7-9-0-and-higher-template-in-elasticsearch-6-8-12/257663
- Steps to Reproduce:

1. Generate filebeat template : `filebeat.exe export template --es.version 6.8.12 | Out-File -Encoding UTF8 filebeat.template.json`
2. Load the template :

[2020-12-11 12:11] elasticmachine commented on #23019
Pinging @elastic/integrations-services (Team:Services)

[2020-12-11 12:13] elasticmachine commented on #23027
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-12-11 12:13] elasticmachine commented on #23087
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-11 12:23] jsoriano commented on #23090
Hi @TonioRyo,

I think that this change was intended, Filebeat 7.9 is not expected to work with Elasticsearch 6.x. You can find the compatibility matrix here: https://www.elastic.co/support/matrix#matrix_compatibility
Greater version expected to work with Elasticsearch 6.8 is Filebeat 6.8.

Thanks for reporting, but I don't think this is going to be fixed. I am closing this issue by now.

[2020-12-11 12:23] #23090 closed

[2020-12-11 14:30] jeffpatton1971 commented on #23027
FWIW there may be a similar issue with the Azure module as well, but I wasn't entirely certain I was passing in the SPN creds properly or not and I've not had time to get back to it this week.

[2020-12-11 15:53] lucabelluccini opened #23091 "Document @metadata fields"
**Describe the enhancement:**

We document `@metadata._id` field in the scope of deduplication of events.

We recently added `@metadata.op_type` in https://github.com/elastic/beats/pull/12606 to allow other operations, such as `index` instead of `create` (default).

It would be nice to add a dedicated documentation page on how to use them. E.g.
[code]

[2020-12-11 15:53] elasticmachine commented on #23091
Pinging @elastic/obs-docs (Team:Docs)

[2020-12-11 16:47] dagwieers commented on #22949
I have some programming background, but unfortunately not a lot in Go. I looked at the above **ajpclient.go** implementation in Go and while it does give some grip on what would be needed, it is fairly incomplete (and fails on a simple test here).

The AJP implementation should actually use a lot of the existing HTTP monitor handling, I failed to see how to make it reuse this. All in all, the impl

[2020-12-11 17:15] #15081 closed

[2020-12-11 22:47] 111andre111 commented on #18755
@Aqualie
I was able to reproduce that with hardened kerbnel
Would you mind please to try out this particular release?
https://drive.google.com/drive/folders/1HJVrTF2iG45vYqSdBDcSynZjiiGSm31w?usp=sharing
This one holds this former fix plus another one that was fixed here: https://github.com/elastic/beats/pull/22827
Because with these 2 fixes in place, I didn't hit into issues with the hardened kern

[2020-12-11 23:06] ggml1 opened #23093 "Add support for newer Kafka versions"
**Describe the enhancement:**

Add support for newer Kafka versions. I'm currently using Filebeat and it only offers support for versions up to 2.2.1, which seems to be outdated for a little more than a year.

**Describe a specific use case for the enhancement or feature:**

Most Kafka operators and tools we've tried to use require newer versions. Since my use case is in AWS, we could use an older

[2020-12-12 02:44] cb1234 commented on #13533
i have the same issue . getting "can't parse event as syslog rfc3164" errors after enabling IETF with tcp/ssl

[2020-12-12 08:06] elasticmachine commented on #23093
Pinging @elastic/integrations-services (Team:Services)

[2020-12-12 12:15] #776 closed

[2020-12-12 13:15] Aqualie commented on #18755
This release fixed the problem it's working now, thank you.

[2020-12-12 14:21] jsoriano commented on #22899
This change also had an issue not detected by jenkins, in Filebeat: https://github.com/elastic/beats/pull/23065

[2020-12-12 14:31] jsoriano commented on #22899
ping @elastic/observablt-robots

[2020-12-12 17:05] 111andre111 commented on #18755
That's nice to hear, that this fixed it for you.

[2020-12-12 21:15] #15110 closed

[2020-12-13 00:31] adrian-skybaker commented on #9864
Even with environment variable support it doesn't seem possible to avoid ending up with a plaintext `cloud.auth` value in the generated template.yml that's inside the zip created by `functionbeat package`.

Tooling should not be writing secrets out in plaintext. It looks like the safest approach is to avoid the config/package commands altogether and manually assemble a zip and config file.

[2020-12-13 16:15] #15113 closed

[2020-12-14 01:13] caiobegotti commented on #19830
I have tons of respect for Filebeat and I use it in multiple projects but I just spent 3 days trying to debug this until I found this issue and I agree it looks like the documentation is not clear at all about this. While we're at it, I'm not sure expecting `message` to be stringfied so this can work properly is reasonable. I've never seen logs that are like that. Right now I'm trying to fix this

[2020-12-14 02:16] axw commented on #15054
In the future APM Server will integrate with Elastic Agent, which will know how to collect logs and metrics for APM Server; this will remove the need for an APM Server-specific Filebeat module.

[2020-12-14 08:07] dikshachauhan-qasource commented on #23020
Hi @ferullo

Please find the `endpoint-000000.log file` in attachment. And elastic-endpoint.exe version is

[code]

[endpoint-000000.log](https://github.com/elastic/beats/files/5677638/endpoint-000000.log)

Please let us know if anything else is required from our side.

[2020-12-14 09:10] matletix opened #23098 "Auditbeat: monitoring of single files fails with ‘recursive: true’"
Let's say I want to monitor the /watch_me.txt file with auditbeat file_integrity module. The following configuration do work and send events on modifications of this file :
[code]
Now I want to also monitor all the files in all the /etc/ directory and its subfolders recursively. So I add the path to /etc to the paths list and I enable the recursive option :
[code]
Problem : auditbeat doesn't send

[2020-12-14 12:46] #17021 closed

[2020-12-14 14:44] elasticmachine commented on #23098
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-14 15:03] ferullo commented on #23020
Thanks @dikshachauhan-qasource

For future reference, that version is the version of the endpoint package in Kibana, not the Endpoint binary version.

I see in those logs that Endpoint is sending to the right indices. Are you sure the data you found in Kibana was sent by the currently installed Endpoint? Maybe it was from an Endpoint before you did this test or from a different Endpoint entirely..

[2020-12-14 15:30] EricDavisX commented on #22858
I'm testing in on 8.0 latest a few days later and I am not seeing the original issue, so I would like to close this out, it looks like the latest changes helped fix this up.  @dikshachauhan-qasource can you confirm if you are still seeing the problem you reported, and if so, let us open a new ticket please with all specifics and a clean history?  And then we can close this out.

[2020-12-14 15:53] jamiehynds opened #23107 "[Cisco] Umbrella Docs - Cisco Managed Buckets"
Our [Cisco Umbrella docs](https://github.com/elastic/beats/issues/21801) currently state that you can use a Cisco-managed or self-managed S3 bucket to store your log data.

We currently only support self-managed buckets, as Cisco does support SQS notifications, which our S3 input relies on.

Can we update the docs to reflect support only for self-managed S3 buckets.

[2020-12-14 15:53] elasticmachine commented on #23107
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-14 16:04] #22427 closed

[2020-12-14 16:08] borrell opened #23109 "Filebeat skips ingesting CloudTrail logs that aren't in S3 bucket root"
Since #21088 was included, Filebeat will ignore CloudTrail logs when they are not in the root of the S3 bucket path. This situation can occur if the user is using AWS Organizations to manage their CloudTrail logs, or if they have manually set an S3 Prefix in their CloudTrail configuration.

The following configuration included with the module is intended to be used to filter out different log type

[2020-12-14 16:42] jsoriano opened #23112 "Add integration tests for authentication methods in Kafka output"
Current integration tests in libbeat only cover the use of Kafka without authentication, but Beats support more authentication methods.

These authentication methods should be covered:

- [x] No authentication (should be already covered by current integration tests).
- [x] SASL/PLAIN (plain username/password).
- [x] SSL
- [x] SASL-SCRAM-SHA256/512
- [ ] Kerberos

https://strimzi.io/ is a Kubernete

[2020-12-14 16:42] elasticmachine commented on #23112
Pinging @elastic/integrations-services (Team:Services)

[2020-12-14 16:46] jsoriano commented on #16723
Docs and changelog added, some manual test done and backport to 7.x ready, closing this.

Leaving https://github.com/elastic/beats/issues/23112 as follow up for integration tests.

[2020-12-14 16:46] #16723 closed

[2020-12-14 17:08] elasticmachine commented on #23109
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-12-14 17:08] elasticmachine commented on #23109
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-14 17:37] andrewstucki opened #23114 "Add network.direction classification to rsa2elk modules"
**Describe the enhancement:**

In order to support `network.direction` setting in our rsa2elk modules, we can leverage the new `add_network_direction` processor in any of our modules that use "perimeter"-based network models (i.e. firewalls, etc.). Currently however, all rsa2elk modules have the same module configuration. Since certain modules, such as AV modules, are "host"-based, we should have

[2020-12-14 17:43] felixbarny opened #23115 "Recommend ECS logging in Filebeat docs"
We're currently working towards GA'ng [ECS logging](https://www.elastic.co/guide/en/ecs-logging/overview/master/intro.html) for 7.11.

We should link to the ECS docs from the Filebeat docs in order to promote the project. The [quick start](https://www.elastic.co/guide/en/beats/filebeat/7.10/filebeat-installation-configuration.html) guide seems to be an appropriate place for that.

[2020-12-14 17:43] elasticmachine commented on #23114
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-14 17:43] elasticmachine commented on #23115
Pinging @elastic/obs-docs (Team:Docs)

[2020-12-14 18:18] a03nikki opened #23117 "[DOC] [Filebeat] Add note that `co.elastic.logs/enabled` needs to be a string"
I have seen multiple users struggle with this a few times now.  They do not know or forget that annotations need to be strings.  I tried to find this requirement in the actual Kubernetes (K8s) documentation but all I could find is answers in forums.  It is also not obvious to new K8s users that in this case the quotes around the `string` value are required unlike other values in the YAML.

[Filebe

[2020-12-14 18:23] andrewstucki opened #23118 "[ECS] Upgrade modules to 1.8"
This is to track changes needed to upgrade modules to ECS 1.8:

- [ ]  After 1.8 is released, update ecs dependency to 1.8

*Carry-over from 1.7 upgrade*:

- [ ] `network.direction` Filebeat cisco umbrella ~~(need CIDR matching processors/painless support in elasticsearch)~~ - can leverage https://github.com/elastic/elasticsearch/pull/66644
- [ ] `network.direction` in Filebeat rsa2elk modules - h

[2020-12-14 18:23] elasticmachine commented on #23118
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-14 18:58] #22744 closed

[2020-12-14 19:12] strawgate commented on #22619
Yes please!

Right now we need to have filebeat import them and then export them which isn't particularly fun!

[2020-12-14 20:01] EvgeniGordeev commented on #22567
@christophercutajar `filebeat setup -e --modules nginx --dashboards --index-management` didn't help in our case (Kubernetes 1.16 cluster), actually also tried to upgrade to `7.10.1`  but without luck. Checking in Discover I don't see any hits with `event.module:nginx` as they used to be in 7.9.3.

`filebeat.yml`:

[code]

[2020-12-14 20:14] EricDavisX commented on #22993
we should test on all of the different OSes, mac, linux + windows please.

[2020-12-14 23:34] #22582 closed

[2020-12-15 00:08] SwiftOnSecurity commented on #16262
For clarification for others - do the event ID's have to be hardcoded in the winlogbeat.yml for this to be picked up, or will simply ingesting the PowerShell log perform this work?

[2020-12-15 01:07] andrewkroh commented on #16262
In that case you can apply the `script` processor to the `ForwardedEvents` log.
- Docs - [Winlogbeat - Modules - Usage with Forwarded Events](https://www.elastic.co/guide/en/beats/winlogbeat/7.x/winlogbeat-modules.html#_usage_with_forwarded_events)
- Example: https://github.com/elastic/beats/blob/ff9e3e78b5d07dceadb108a64a8b746c271096e7/x-pack/winlogbeat/winlogbeat.yml#L57-L79

The `event_ids` fil

[2020-12-15 01:39] andrewkroh opened #23129 "[Filebeat] Remove experimental Citrix Netscaler and Symantec Endpoint modules"
The experimental Citrix Netscaler and Symantec Endpoint modules are not parsing logs as expected. They were created by converting Netwitness log parser definitions and didn't have test data. Let's remove them since they don't work as expected and hopefully we can provide replacements built on Ingest Node.

[2020-12-15 01:40] elasticmachine commented on #23129
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-15 03:40] axw opened #23135 "[Filebeat] json.expand_keys conflict behaviour should be configurable"
**Describe the enhancement:**

https://github.com/elastic/beats/pull/22849 introduced a new `json.expand_keys` option which recursively de-dots object keys, producing a hierarchical object structure.

If two keys expand to the same path (e.g. `a.b: 1` and `a: {b: 2}`), then JSON decoding will fail.

**Describe a specific use case for the enhancement or feature:**

There may be use-cases where fail

[2020-12-15 04:04] #23107 closed

[2020-12-15 04:58] #23109 closed

[2020-12-15 07:47] elasticmachine commented on #23135
Pinging @elastic/integrations-services (Team:Services)

[2020-12-15 07:53] elasticmachine commented on #23117
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-12-15 09:19] ChrsMark opened #23139 "[Kubernetes] Leverage higher's resource updates to keep metadata and hints-based configurations in sync"
**Describe the enhancement:**
Update pod's metadata, and related hints-based configurations when node metadata or namespace metadata getting updated.

**Describe a specific use case for the enhancement or feature:**
(from a @jsoriano 's old comment):
An issue we have is that namespace metadata and hints are used when available when a pod is created or updated. But, if the namespace is modified, it

[2020-12-15 09:19] elasticmachine commented on #23139
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-12-15 09:44] matsgoran commented on #15012
This rfc3339 timestamp doesn't seem to work either: `'2020-12-15T08:44:39.263105Z'`

[code]

[2020-12-15 11:08] #22609 closed

[2020-12-15 12:08] jsoriano commented on #17775
Beats 7.11 will include a `rate_limit` processor for rate limiting: https://github.com/elastic/beats/pull/22883

[2020-12-15 12:14] narph opened #23144 "Move Filebeat HTTP endpoint to GA"
All the beats support the monitoring feature https://www.elastic.co/guide/en/beats/filebeat/current/monitoring.html and one of the supported options is using metricbeat:  https://www.elastic.co/guide/en/beats/filebeat/current/monitoring-metricbeat-collection.html there is no experimental warning despite this method relies on the HTTP endpoint feature.

HTTP endpoint is used by several others GA co

[2020-12-15 12:14] elasticmachine commented on #23144
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-12-15 12:22] dikshachauhan-qasource commented on #23020
Hi @ferullo

We have re-validated this issue on 8.0.0 Kibana snapshot Cloud build and found that issue is **still reproducible**. Build details are as follows:
[code]

**Observation:**
After installing agent, and on navigating to Discover tab 'default' is displayed at data_stream.namespace instead of instead of 'test_1' when 'event.dataset : "elastic_agent.endpoint_security" 'filter is applied at

[2020-12-15 12:42] dikshachauhan-qasource opened #23145 "What do the 'Non-zero metrics' logs mean when displayed under elastic-agent.filebeat in (Agent Beats) logs."
**Kibana version:**
Kibana:8.0.0 snapshot Cloud environment

**Elasticsearch version:**
Elasticsearch:  8.0.0 snapshot Cloud environment

**Host OS and Browser version:**
Windows 10, All

**Original install method (e.g. download page, yum, from source, etc.):**
8.0.0 snapshot Cloud environment

**Description**
[Ingest Manager]: Non-zero metrics logs are getting displayed under elastic-agent.filebe

[2020-12-15 12:42] dikshachauhan-qasource commented on #23145
Please review @manishgupta-qasource

[2020-12-15 12:45] dikshachauhan-qasource commented on #22858
Hi @EricDavisX

Thanks for the feedback.

We have noticed same behavior on 8.0 latest Kibana cloud build.  Hence, reported new defect [#23145 ](https://github.com/elastic/beats/issues/23145) for same.

Please let us know if anything is required from our side.

[2020-12-15 12:45] manishgupta-qasource commented on #23145
Reviewed & assigned to @EricDavisX

[2020-12-15 12:46] elasticmachine commented on #23145
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-15 14:06] exekias commented on #23117
This looks like a bug to me, I wonder if we can do better to also allow boolean values, WDYT @ChrsMark ?

[2020-12-15 14:29] ChrsMark commented on #23117
It's not an issue on our side. I guess the provided error is given when try to deploy a k8s manifest right?

Annotation values must be strings.

They tried to fix this at https://github.com/kubernetes/kubernetes/issues/59113 so as to not silently ignore such annotations.

Let's see the following spec:
[code]

This one will fail to be `kubectl apply`ied.

[code]

In this, I don't think it is sth we

[2020-12-15 15:38] elasticmachine commented on #22820
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-15 15:41] kaiyan-sheng commented on #22878
Hello, thanks for creating this. But we would kindly ask you to post all questions and issues on https://discuss.elastic.co/c/beats before opening a Github Issue. Your questions will reach a wider audience there, and if we confirm that there is a bug, then you can reopen this issue or open a new one with more details. Thanks in advance!

[2020-12-15 15:41] #22878 closed

[2020-12-15 15:50] #22858 closed

[2020-12-15 16:07] threat-punter commented on #22427
Will events indexed by the Google Workspace module still have the `event.dataset` value of `gsuite.admin`? I'm not sure if this change will be made by us or Google. If it changes, will need to update our detection rules accordingly.

[2020-12-15 16:41] fearful-symmetry commented on #22885
So, needless to say, `NumCPUs` is used quite a few times for a variety of things, but at least it should be fairly easy to update the metrics scraping code so we can respond to dynamic CPUs.

[2020-12-15 17:53] hsportel opened #23149 "Suricata module - parsing for XFF data (x forward ip)"
Hi Team,

I am playing arround with ELK for suricata logs, to see if it is suitable for my employer
I have created some nice dashboards (kibana) so far so good.

But to my surprise there is no suricata.eve field for the "xff" info in the suricata eve.json file!
For http traffic that's the real ip if you are behind a reverse proxy or so. This is an old option in the suricata config.

Is it possible

[2020-12-15 17:57] EricDavisX commented on #23145
hi @dikshachauhan-qasource @rahulgupta-qasource to confirm, I'll ask:

is the concern here that when user selects 'Error' level that the more verbose 'Info' level logs are still displayed?

@nchaulet @ph @michalpristas thoughts?

[2020-12-15 17:58] ferullo commented on #23020
Oh, I missed before that you are filtering on `event.dataset : "elastic_agent.endpoint_security"`. Those documents are not sent by Elastic Endpoint. From the looks of what is in the screenshot of Discover, I think these are Endpoint logs being sent by Filebeat.

@ph is Filebeat using the right namespace? It isn't in the integrations @dikshachauhan-qasource screenshotted so maybe it is still using

[2020-12-15 18:08] ph commented on #23020
:facepalm: you are correct these are endpoint security logs and they are assigned to default. I will lookup the behavior.

[2020-12-15 18:40] nchaulet commented on #23145
I will look a little more to that but looks like by default the log level of the agent is `debug` (I think it should be `info` so there is probably a bug) Also I think it's normal that these logs are visible changing the log level affect logs after you set the log level but will not remove existing logs here the log level was changed at 16:50 and the latest debug log is at 16:49

[2020-12-15 20:27] kaiyan-sheng opened #23153 "Investigate on aws_partition parameter"
https://github.com/elastic/beats/pull/19423 added the `aws_partition` config into aws module. But this is still limited the region to `cn-north-1` or `us-gov-east-1` or default to `us-east-1`.

https://github.com/elastic/beats/pull/16263 added `endpoint` config. Both region name and endpoint are used in `EnrichAWSConfigWithEndpoint` function, which enables endpoint resolver for AWS service clients

[2020-12-15 20:28] elasticmachine commented on #23153
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-12-15 21:49] leehinman commented on #22820
@ynirk let me know if elastic/beats#23157 will work for you

[2020-12-15 22:30] mbarretta commented on #23153
Just wanted to add that it's important for users to be able to specify undocumented region/endpoint/partition values as well, since not all private AWS regions are documented.

Also, this same idea of configuration-driven cloud endpoints should extend to GCP and Azure, which similarly have private regions

[2020-12-15 23:27] zez3 commented on #17775
Good addition, but throttling would be even better

[2020-12-15 23:37] ycombinator commented on #17775
@zez3 as I replied to your comment in https://github.com/elastic/beats/pull/22883#issuecomment-745630735:

[2020-12-15 23:48] andrewvc commented on #22932
@ph docker is not a hard requirement, but it is one initially, mostly because we don't want to support multiple platforms. There's a lot that can go wrong with all the GUI deps, node deps, etc., and it makes more sense to focus on features right now.

I expect that will change in the future. However, it sort of ruins the whole "click to add an integration, it just works" aspect, since you can't ju

[2020-12-16 00:32] EricDavisX commented on #23145
I couldn't tell well, but I agree that 16:50 and 16:49 are close and that the logging is ingested into Elastic... and so once it is there it is expected to remain.  So, I'm unsure of what the bug is.  We can get info from team when they reply back - thanks for the poke.

[2020-12-16 07:13] elasticmachine commented on #23149
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-16 08:10] LoicAG commented on #7633
Also interested in seeing this happen

[2020-12-16 08:19] fkelbert opened #23159 "[Agent] Enabling elastic-agent system service fails on Ubuntu 20.04"
OS: Ubuntu 20.04.1
Elastic Agent: 7.10.1

Following the [Elastic Agent install guide](https://www.elastic.co/guide/en/fleet/current/elastic-agent-installation.html) (DEB package):

[code]

Starting `elastic-agent` using `sudo systemctl enable elastic-agent ` is successful.

However, enabling the `elastic-agent` as system service fails:

[code]

[2020-12-16 08:42] marc-gr commented on #22427
We duplicated the module so events that are still using a previously configured Gsuite module will get `gsuite.admin` as before. If someone configures the new Google Workspace one they will get `google_workspace.admin` then, since this is set by filebeat based on the module name+fileset iirc. Hope that answers your question 👍

[2020-12-16 09:21] exekias commented on #23117
Thanks for the explanation! I think we can close this issue now

[2020-12-16 09:21] #23117 closed

[2020-12-16 09:28] exekias commented on #23144
Looping @urso, any thoughts?

[2020-12-16 09:31] dikshachauhan-qasource commented on #23145
Hi @EricDavisX

The issue reported is related to non metrics logs, for which we are unable to understand what these logs are for.

As these logs are not explanatory, so we reported issue to track out if these are expected one or not.

Please confirm if these logs are expected.

Thanks
QA

[2020-12-16 09:35] kuisathaverat opened #23163 "[CI] Do not use deploy/kubernetes/* files for testing"
Those files are used by the documentation, if we update them we break the documentation. We use those files to test the k8s deployments so we have to find an alternative.

[2020-12-16 09:41] jamiehynds commented on #22427
@marc-gr am I correct in saying that the detection rules should be updated so that 'event.dataset: gsuite.admin OR google_workspace.admin'? That would then provide coverage regardless of which module the user is running?

[2020-12-16 10:27] P1llus commented on #22799
Just wanted to add that it might be useful to consider the fact that we want to/is looking at the possibility to add a S3 input without SQS, similar to Logstash.

If we are renaming the S3 input already, and don't want to potentially rename it twice, maybe we could name it `aws-s3-sqs` ?

That way, if we decide to add S3 input without SQS later down the line, the name does not need to change again

[2020-12-16 10:55] marc-gr commented on #22427
That is correct 👍

[2020-12-16 11:22] masci commented on #22799
Let's say we had https://github.com/elastic/beats/issues/18205 implemented, this to me would look like an input that can be configured either polling (current missing feature) or event-driven: in this regard, SQS become an implementation detail supporting one of the two operational modes, not sure we should add it to the name of the input. Staying generic seems more future proof.

[2020-12-16 11:26] P1llus commented on #22799
I don't mind @masci approach either, I just remembered that is how it was named in the Logstash implementation, and earlier discussion of this feature was mentioned as being implemented as a separate input, if we want to combine them into one, then indeed there is no need to add anything to the name itself!

[2020-12-16 11:27] marc-gr commented on #22807
Hello @jkaufman-LogRhythm ! I think you are referring to my comment in https://github.com/elastic/beats/pull/22320#issuecomment-736310001, if that is the case, it was making reference to the new functionalities of httpjson that are going to be included in the next release (they are in `master` also, you can find documentation for them https://www.elastic.co/guide/en/beats/filebeat/master/filebeat-

[2020-12-16 11:37] #23129 closed

[2020-12-16 12:05] rahulgupta-qasource commented on #22993
Hi @EricDavisX

Thank you for sharing the feedback.

We have created **04** and updated **01** testcase for each of mac, linux tar, deb, rpm and windows x64 agent packages.

[code]

**Observations:**
(a) As per @michalpristas comment https://github.com/elastic/beats/issues/21518#issuecomment-722407219 , we have validated the steps for macOS and found that elastic agent is not rolled back on 8.0.0-

[2020-12-16 14:29] #23009 closed

[2020-12-16 14:31] #22899 closed

[2020-12-16 14:43] v1v opened #23169 "[CI] X-pack changes should trigger OSS changes if doc changes"
@jsoriano pointed that we are also missing since #22103 that some module docs files generated under filebeat/docs and metricbeat/docs depend on the docs of x-pack modules, and I think we are not triggering any OSS build after changes in x-pack.
Perhaps for that we should trigger a make check in oss if x-pack is modified, but I am ok with doing it as a different change.

### Questions

- Are those

[2020-12-16 15:02] eedugon opened #23171 "Filebeat logstash module pipeline not correct for some types of logs"
Component affected: Logstash module of Filebeat
Version: 7.10.0

The pipeline created by Logstash module inside filebeat is valid for the majority of Logstash logs but not for all of them.
The current code of the `plaintext pipeline` includes (taken directly from Elasticsearch installed pipeline)

[code]

This works fine with log lines like:
[code]

But for this type of logs (note that we have at

[2020-12-16 15:02] elasticmachine commented on #23171
Pinging @elastic/integrations-services (Team:Services)

[2020-12-16 15:32] blakerouse opened #23172 "Certificate validation fails on Windows 2012"
## Issue

On Windows 2012 certificate validation against a custom signed certificate for an IP address fails. This seems to be a core issue with Windows API in 2012 with the golang library. https://github.com/golang/go/issues/37176

This seems to be related to the fact that certificate validation is against an IP address and not against a domain.

## Workaround

Possible workaround would be to com

[2020-12-16 15:34] threat-punter commented on #22427
Thanks @jamiehynds and @marc-gr. I'll open a PR to amend our derules.

[2020-12-16 15:34] threat-punter commented on #22427
Thanks @jamiehynds and @marc-gr. I'll open a PR to amend our detection rules.

[2020-12-16 16:00] elasticmachine commented on #23172
Pinging @elastic/integrations-services (Team:Services)

[2020-12-16 16:00] ph commented on #23172
@urso will you update the know issues with that problem?

[2020-12-16 16:14] threat-punter commented on #22427
I added the above changes to @bm11100's PR here: https://github.com/elastic/detection-rules/pull/729

[2020-12-16 16:15] #15024 closed

[2020-12-16 17:06] fearful-symmetry commented on #22786
Merged, with backported changes. Closing this now.

[2020-12-16 17:06] andrewkroh opened #23177 "[Agent] Containerized agent cannot bind to privileged ports"
While running the agent in a container it fails to run integrations that bind to privileged ports (<1024).

`{"log.level":"error","@timestamp":"2020-12-16T16:47:59.945Z","log.origin":{"file.name":"udp/input.go","file.line":102},"message":"Error running harvester: listen udp 0.0.0.0:514: bind: permission denied","ecs.version":"1.5.0"}`

I think we should give Filebeat and Metricbeat the CAP_NET_BIN

[2020-12-16 17:16] dcode opened #23178 "fields.yml doesn't generate correct properties for elasticsearch template for nested field types"
**Version:** x-pack filebeat, `master` branch, commit `87ff5c086`
**Operating System:** Mac OS 10.15.7
**Steps to Reproduce:**

For my PR #21815, some data is modeled as nested data in order to maintain the proper semantics. Given the example `fields.yml` entry below, I expect that the fields would be implemented in the Elasticsearch template as properties the same as if the type was marked as `gr

[2020-12-16 18:39] humberto-garza commented on #20053
Hi @andresrc ,

did you ever find a solution to your problem?
I believe I am experiencing something similar:

https://discuss.elastic.co/t/filebeat-on-ubuntu-hosts-getting-sporadic-error-error-decoding-json/258783

[2020-12-16 19:15] elasticmachine commented on #20053
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-12-16 19:15] elasticmachine commented on #20053
Pinging @elastic/integrations-services (Team:Services)

[2020-12-16 19:24] ndubss opened #23184 "Re-check Rules in Kernel against desired rules"
A running auditbeat instance does not ever re-check the loaded kernel rules against the desired ruleset. We are trying to work towards deploying immutability but our rules are changing quite frequently.

If an attacker is able to gain access to auditctl tools or launch a pod in the right namespace, they can issue an 'auditctl -D' and auditbeat will continue to run as if healthy. This will clear al

[2020-12-16 20:17] andrewvc commented on #20728
Resolved in #20746

[2020-12-16 20:17] #20728 closed

[2020-12-16 20:28] #23178 closed

[2020-12-16 22:45] EricDavisX commented on #23145
Thank you @dikshachauhan-qasource for clarifying.  I will pass this on to the Beats team then... I'm not sure who owns it.  @andresrc @ph can you help?  To confirm, I assess it as a low priority question now that we've triaged it.  But any info we can pass would help the team log better bugs and test better.

[2020-12-17 07:36] elasticmachine commented on #23184
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-17 07:40] elasticmachine commented on #23177
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-17 07:40] elasticmachine commented on #23177
Pinging @elastic/integrations-services (Team:Services)

[2020-12-17 08:27] elkargig commented on #20961
hey all, is there any progress on this ?

[2020-12-17 09:16] #14279 closed

[2020-12-17 09:17] exekias commented on #22799
++ on @masci comments. Also @kaiyan-sheng, having that this input is in beta, I don't think renaming would be a breaking change. Perhaps we can rename + GA at the same time in the next release?

[2020-12-17 09:42] andrewvc opened #23189 "[Heartbeat] Scheduler deadline exceeded message is confusing"
The warning for tasks that miss their deadline is confusing in https://github.com/elastic/beats/blob/master/heartbeat/scheduler/scheduler.go#L152 . It currently reads:

`"%d tasks have missed their schedule deadlines in the last %s."`

It's really unclear to users what's going on here (to the point I'm labeling this abug), we should make it more friendly, something like:

`%d tasks are running beh

[2020-12-17 10:09] dikshachauhan-qasource opened #23190 "[Ingest Manager]: Unhealthy Agents are displayed after seemingly successful agent install"
**Kibana version**:
Kibana:7.11.0 BC1 on prem environment

**Elasticsearch version**:
Elasticsearch:  7.11.0 BC1 on prem environment

**Host OS and Browser version**:
Windows 10, All

**Original install method (e.g. download page, yum, from source, etc.)**:
7.11.0 BC1 on prem environment

**Description**
[Ingest Manager]: Agents logs not getting displayed after successful agent installation

**Bui

[2020-12-17 10:10] willemdh commented on #15603
https://github.com/elastic/beats/pull/19375 says this is fixed. I didn't have the time to reconfigure our PA syslog output to test this. Will be for 2021..

[2020-12-17 10:10] dikshachauhan-qasource commented on #23190
@karanbirsingh-qasource Please review

[2020-12-17 10:48] karanbirsingh-qasource commented on #23190
reviewed and assigned to @EricDavisX

[2020-12-17 11:15] masci commented on #22187
I'm closing as we do have a reason not to do that. @eedugon feel free to reopen if a specific use case arises for this feature.

[2020-12-17 11:15] #22187 closed

[2020-12-17 12:01] fgierlinger commented on #11555
Please consider this feature. Do not stall.

[2020-12-17 12:42] nkammah commented on #22572
bump cc @kuisathaverat @ph

[2020-12-17 14:53] EricDavisX commented on #22993
I am just now realizing that the Agent Hardening feature would likely impact how easy it is to successfully 'kill' the Agent randomly - we may not be able to test this.  I'll research and post back as possible, but for now we can assume the Engineering team's' tests may have to suffice along with any unit tests, etc.

[2020-12-17 15:07] EricDavisX commented on #23190
@ph I think this is potentially a blocker.

[2020-12-17 15:15] ferullo commented on #23190
As I understand it this is blocking all testing of Agent and Endpoint. If that's true, we should get an off schedule BC2 once this is resolved.

[2020-12-17 15:23] adriansr opened #23195 "Filebeat udp input: Support line_delimiter option"
**Describe the enhancement:**

Add a `line_delimiter` option to `udp` input (same as in [tcp input](https://www.elastic.co/guide/en/beats/filebeat/7.10/filebeat-input-tcp.html#filebeat-input-tcp-tcp-line-delimiter)). So that udp packets containing more than one message can be supported.

**Describe a specific use case for the enhancement or feature:**

For example, Squid likes to squeeze multiple

[2020-12-17 15:27] blakerouse commented on #22993
@EricDavisX Testing with Endpoint Security off is really the best way to test, without the Endpoint Security integration you will be able to kill -9 agent

[2020-12-17 15:32] kaiyan-sheng commented on #22799
++ using `aws-s3` input name but include both with/without SQS setup.

@exekias Sounds good to me to rename + GA it in 7.12. We just need to make sure all the filesets that are using this input get adjusted as well and in aws integration.

[2020-12-17 15:41] nchaulet commented on #23190
Not sure if it's the same error but with the latest 7.11 agent build I got this error enrolling an agent with endpoint (it's working without endpoint)

[code]

[2020-12-17 16:02] EricDavisX commented on #22993
That is an excellent point!  Tho, it precludes us testing that Endpoint is successfully rolled-back.

[2020-12-17 16:09] ph commented on #23190
@blakerouse  Can you take a look at this one?

[2020-12-17 16:15] #15188 closed

[2020-12-17 16:20] ph commented on #23190
@EricDavisX @ferullo I've looked at the last BC and I think there is something wrong it, the endpoint and the asc files arent included in that package which would cause the issue that @nchaulet  found.

Is there an issue that discuss any building problem?

[2020-12-17 16:44] blakerouse commented on #23190
@ph Only issue I know about was that BC1 was requiring that Agent was manually signed and that was going to be fixed in BC2. I would expect the endpoint files to still be present, even without the signing of Agent.

[2020-12-17 16:48] andresrc commented on #23115
@urso ok to this?

[2020-12-17 17:01] dseravalli commented on #22718
I can reproduce this on 7.10.1

Logs from pods that fail quickly on startup and enter a crashloop are not autodiscovered, resulting in filebeat not reading the reason from the crash from `/var/log/containers`.

[2020-12-17 17:01] EricDavisX commented on #23190
we logged the missing Endpoint files in the artifact here: https://github.com/elastic/infra/issues/25562
 - that may very well explain this as the use case includes Endpoint and the 'health' is correctly noting the problem.  Right?

[2020-12-17 17:13] urso commented on #23115
I'm okay with that. Filebeat has a set of [How-To-Guides](https://www.elastic.co/guide/en/beats/filebeat/7.10/howto-guides.html) as well. Would it make sense to add dedicated documentation there as well? Any plans to provide a specialized filebeat module?

[2020-12-17 17:13] urso commented on #23115
@dedemorton WDYT?

[2020-12-17 17:21] fearful-symmetry commented on #20961
Apologies, this got kicked down a bit due to some other changes that happened across the process metrics. I'd like to get this in for 7.12, as we should have another round of changes to how we gather metrics.

[2020-12-17 17:27] urso commented on #23172
Sure.

[2020-12-17 17:54] urso commented on #23144
Stack monitoring already relies on the HTTP endpoint. Thinking about diagnostics we will also need to provide some RPC for the tool to collect internals.

For the HTTP endpoint we can make it GA, also moving the `/stats` and `/state` URLs into GA. Moving the endpoint to GA means we also need to document the supported paths, which I think is incomplete today.

Having the HTTP endpoint GA means that

[2020-12-17 18:58] ph commented on #23145
@EricDavisX Ok, there seems to be some noise here, The _non-zero log_ statement is an expected log warning, we could remove it from beats but I think I would just close the issue and once we refactor beats into a single beats we can drop unnecessary log.

[2020-12-17 18:58] #23145 closed

[2020-12-17 18:59] felixbarny commented on #23115
++

You mean for ECS loggers? There's a plan to auto-detect ECS logs so that no special config is required.

[2020-12-17 19:19] fearful-symmetry opened #23202 "[libbeat] File output will "rotate" the binary unless default location or filename is changed"
If you enable the file output with no added settings, as such:
[code]
The beat will just log in the running directory, which means the output will "rotate" the binary, as the default filename is `{{beatname}}`.

[code]

We may want to either change the default filename to `{{beatname}}.json`or change the default directory, or add some additional logic to the rotation so we don't rotate binary file

[2020-12-17 19:19] elasticmachine commented on #23202
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-17 20:06] andrewstucki commented on #23184
@ndubss -- not entirely sure your use-case, but just trying to understand this piece of your comment:

Are you more concerned with making sure the particular ruleset is enforced periodically, or would exposing the ability to set auditd rules immutably via auditbeat configuration fit your use-case? We added the ability to set immutable rules some time ago in the library that auditbeat uses to do mu

[2020-12-17 20:26] alaa-mallah opened #23203 "CloudTrail in AWS Module does not work when CloudTrail is enabled at Organization Level"
**Describe the enhancement:**
Have the ability to specify a path for the CloudTrail S3 bucket

**Describe a specific use case for the enhancement or feature:**
If CloudTrail is enabled at the organization level, then the path structure would look like this:
"object.key": "AWSLogs/<o-aws-organization-id>/12345678910/CloudTrail/ap-southeast-2/2020/11/30/12345678910_CloudTrail_ap-southeast-2_20201130

[2020-12-17 20:27] ph commented on #23190
Should be fix in the next BC.

[2020-12-17 20:46] elasticmachine commented on #23203
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-12-17 20:47] elasticmachine commented on #23203
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-17 20:52] andrewkroh commented on #23203
This is similar to https://github.com/elastic/beats/pull/23126 but the format of the path is different.

[2020-12-17 21:00] andrewkroh commented on #23203
The docs at https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html indicate that the format is

`bucket_name/prefix_name/AWSLogs/OU-ID/Account ID/CloudTrail/region/YYYY/MM/DD/file_name.json.gz`

so that patterns we have need adapted to handle the optional `OU-ID/` part.

I was playing with https://regex101.com/r/7WfOYY/2 as a quick test.

[2020-12-17 21:11] EricDavisX commented on #23190
It seems fixed in BC1 (overwritten, in early afternoon EST as the same version) - tested on Linux.  Note, I am seeing an 'unhealthy' problem state for Agent that seems related to Endpoint still, as testing with the newer artifact and it is logged separately as https://github.com/elastic/kibana/issues/86097

closing this out.

[2020-12-17 21:11] #23190 closed

[2020-12-17 21:53] blakerouse opened #23205 "[Elastic Agent] Work todo for communication with new Fleet Server"
## Overview

Elastic Agent communication to the new [elastic/fleet-server](https://github.com/elastic/fleet-server) does require some changes to the Fleet gateway code. This is a minimal change that should allow Elastic Agent to communicate with either Kibana or a Fleet Server if done correctly.

## Items to do

- [x] Save and send the check-in action token (this is now used to determine what acti

[2020-12-17 21:53] elasticmachine commented on #23205
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-17 22:18] nchaulet commented on #23205
@blakerouse I think the agent should know how to talk both to Kibana and Fleet Server if we want to provide the best migration path possible, there is two options here:
* Kibana could support the fleet server API for agent > 7.x
* The agent could know if he is talking to Fleet Server or Kibana (I have a preference for this one, as we do not have a good API versioning strategy on Kibana)

[2020-12-17 22:27] blakerouse commented on #23205
@nchaulet I think we can do that without Agent having to worry about which it is talking to.

If we do the following we can remove the need to adjust Agent:

- If when communicating a checkin token is returned then Agent records it and sends it next time. If not its ignored and not sent next time.
- Add the `error` field to `/acks` on kibana side (basically just to ignore acks with errors).
- Agen

[2020-12-17 22:42] dedemorton commented on #23115
Yes I think a topic in the how-to section makes the most sense.

[2020-12-17 22:48] #23203 closed

[2020-12-17 23:04] kaiyan-sheng commented on #23153
Hi @mbarretta, I just looked into the code around `aws_partition` and I think it should work with your use case. When the user specifies `aws_partition` equals to `aws-us-gov` for example, `us-gov-east-1` is given to be the init region to start making AWS API calls(GetCallerIdentity, ListAccountAliases, DescribeRegions). If user wants to collect all AWS EC2 CloudWatch metrics from one specific reg

[2020-12-18 01:31] kaiyan-sheng commented on #23153
PR to add `aws-iso` and `aws-iso-b` partition and endpoint: https://github.com/elastic/beats/pull/23209

[2020-12-18 01:45] mbarretta commented on #23153
@kaiyan-sheng my concern is for partition values not harded coded in our implementation. It's a shortcut, yes, by why can't users forego the partition value and just provide the necessary `region` and `endpoint` values directly?

It seems like that's what the `endpoint` setting was added to do (at least that was what I was asking for), but it wasn't implemented everywhere it was needed, leading to

[2020-12-18 03:48] slmingol commented on #1034
@fadenb you mind sharing that GH Action?

[2020-12-18 05:34] fadenb commented on #1034
@slmingol see https://github.com/omniitgmbh/beats/blob/oi-github-actions/.github/workflows/repo-sync.sh and https://github.com/omniitgmbh/beats/blob/oi-github-actions/.github/workflows/go.yml

The workflow fails if there is nothing to build. An additional condition should fix that (otherwise you will get a failure notification if there is nothing to build).
Also note that it is no longer able to b

[2020-12-18 06:38] navilg commented on #23118
Hi,

Below are Python2 related vulnerabilities in v7.10.1. I suppose that can not be fixed unless we completely move from Python2 to Python3. Are we expecting these to be fixed in 7.11 or 7.12.0

Thanks

CVE-2014-4650
CVE-2016-5636
CVE-2017-1000158
CVE-2019-9636
CVE-2019-9948
CVE-2013-1753
CVE-2014-1912
CVE-2015-5652
CVE-2017-17522
CVE-2018-1060
CVE-2018-1061
CVE-2018-14647
CVE-2019-13404
CVE-2019

[2020-12-18 07:02] elasticmachine commented on #23202
Pinging @elastic/integrations-services (Team:Services)

[2020-12-18 07:06] elasticmachine commented on #23195
Pinging @elastic/integrations-services (Team:Services)

[2020-12-18 07:06] elasticmachine commented on #23195
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-18 08:15] #15204 closed

[2020-12-18 08:15] #15205 closed

[2020-12-18 09:47] andresrc commented on #22494
@masci At least I think we should try to prioritise some mitigation. Given the conversation it seems that the "right" solution, if any may require some discussion but a panic it's a pretty bad thing. Given that we are able to detect the situation we should do some "safe" (e.g. trying no to ship incorrect data) like skipping the event (ideally with a "throttled" warning) which will always be better

[2020-12-18 11:16] PhaedrusTheGreek commented on #17775
Another component of this discussion might be event *size*, as it falls under the category of ingestion controls for pipeline stability.    For example, in one instance an organization was successful by restricting event sizes to 500kb at Kafka.

[2020-12-18 11:21] masci commented on #22494
I think the only quick workaround is the one proposed by @andrewstucki - in the end, whether we're panicking or dropping, the metric wouldn't make it through elasticsearch. Do we have any facility to implement a throttled warning?
A proper fix to cover @sayden notes will take some time.

[2020-12-18 11:37] andresrc commented on #22494
I agree, I prefer dropping to panicking, as we might be collecting other things with the same instance. @urso do we have something to help implement some throttled warning or should we just start with something simpler?

[2020-12-18 11:38] masci commented on #22610
Fixed in https://github.com/elastic/beats/pull/23146

[2020-12-18 11:38] #22610 closed

[2020-12-18 12:33] alexsuppanz commented on #11555
Also from my side, please consider this feature!

[2020-12-18 14:53] ph commented on #21000
A few questions that need to be answered which will affect the design and implementation.

Agents:

- It is an enroll time only configuration
- It is part of the agent configuration
- Once set can a user change it?

Kibana side is https://github.com/elastic/kibana/issues/76841

Looping PM @mostlyjason

[2020-12-18 15:08] andrewstucki commented on #23118
@navilg thanks for your interest in beats. A couple of things.

1. AFAIK we migrated all of our tooling to Python 3 some months back, just prior to Python 2 being EOL, so I don't believe this is a problem.
2. This issue is unrelated to to Python and has to do with schema changes from Elastic Common Schema being incorporated into the project.
3. If, on the off chance you wish to disclose any securi

[2020-12-18 15:30] andrewvc opened #23216 "[Heartbeat] Limit number of parallel monitors, by type"
Today, heartbeat has the `heartbeat.scheduler.limit` option, which limits the total number of internal tasks heartbeat can run. For lightweight checks this corresponds to the number of open file descriptors.

This doesn't work well for synthetics, where each check is made of a single recursive run of many tasks (one per JSON line from the agent) that don't correlate to FDs at all.

We should add a

[2020-12-18 15:30] elasticmachine commented on #23216
Pinging @elastic/uptime (Team:Uptime)

[2020-12-18 17:26] fearful-symmetry commented on #22885
PR has been merged, will be backported. Change should be there in 7.12.

[2020-12-18 17:26] #22885 closed

[2020-12-19 06:01] hermlam commented on #23159
Exact same issue here

[2020-12-19 10:15] #5280 closed

[2020-12-19 11:15] #5386 closed

[2020-12-19 11:15] #5858 closed

[2020-12-19 18:15] #5854 closed

[2020-12-19 19:15] #6313 closed

[2020-12-21 01:27] kaiyan-sheng commented on #23153
Thanks @mbarretta for the input! That's a good point! I got several concerns/questions:
1. We already have a config parameter called `regions`, which is to define what are the regions user wants to collect metrics from. But we also need an _InitRegion_ for making some initial AWS API calls and this is where the `aws_partition` plays a role. For example: User can give no `regions`(optional) in the

[2020-12-21 08:21] shishirkhandelwal29 commented on #9768
Facing the same issue with elastic stack version 7.5.1

`2020-12-21T07:13:00.894Z	ERROR	readjson/docker_json.go:201	Parse line error: parsing CRI timestamp: parsing time "{"log":"reading" as "2006-01-02T15:04:05.999999999Z07:00": cannot parse "{"log":"reading" as "2006"
`
My approach is - filebeats collects log and sends to logstash and from there to elasticsearch.

It was working fine a day ago,i