[2021-06-06 16:16] yaakov-berkovitch opened #26155 "Kafka output - Use tcp proxy or http tunneling to connect filebeat to Kafka cluster"
Hello,

we have a requirement to use a tcp proxy or http tunneling between our machine on which we are running both filebeat and metricbeat and our Kafka cluster running in the cloud.

To do that we configure for example filebeat like below:
[code]
We expected that the filebeat Kafka client will use the address configured in e/tc/filebeat/filebeat.yml to connect to the cluster and not the broker I

[2021-06-07 00:50] DasUberLeo opened #26156 "[Metricbeat] Add option to auto-map prometheus metric fields to ECS"
**Problem statement:**
At present, all metrics collected by the prometheus module are mapped by default into `prometheus.*` in documents. This requires manual transformations and/or mappings into ECS fields for anyone wanting to use standard Elastic features.

**Describe the enhancement:**
An option that can be enabled for the prometheus module that automatically transforms/maps "appropriate" valu

[2021-06-07 01:13] luweijun1992 opened #26157 "packetbeat filter"
How does packetbeat filter its own data packets sent to es:9200, because the server itself sends data to es:9200 in the collected data.
How to filter the information in this part.

[2021-06-07 03:16] legoguy1000 commented on #26157
I would ask your question here, https://discuss.elastic.co/tags/c/elastic-stack/beats/28/packetbeat

[2021-06-07 03:34] legoguy1000 commented on #26118
@BenB196 The Nexus and Meraki fileset should allow you to choose `var.input: udp` currently.  I've updated ASA, FTD, IOS filesets in my branch that Im testing.

[2021-06-07 06:02] luweijun1992 commented on #26157
https://discuss.elastic.co/t/packetbeat-filter/275087

[2021-06-07 06:25] sanyamjain22 commented on #8175
Is this fixed in latest versions.I am getting similar error. I am running filebeat v7.10.0

[code]

[2021-06-07 07:49] yandd opened #26163 "[Filebeat] module kafka var.kafka_home not work"
- Version: 7.13.1
- Operating System: CentOS Linux release 7.6.1810 (Core)
- Discuss Forum URL:
- Steps to Reproduce:
  - Run: `filebeat modules enable kafka`
  - Edit: `modules.d/kafka.yml`
[code]
  - Check Log:
[code]
- Expect Result:
  Configured paths: [/Users/10019607/opt/kafka*/logs/controller.log* /Users/10019607/opt/kafka*/logs/server.log* /Users/10019607/opt/kafka*/logs/state-change.log*

[2021-06-07 08:30] andresrc commented on #26153
I have the gut feeling that we might need the two images anyway. From the installation point of view, Agent already runs with elevated privileges, so maybe the need would be for it to also be able to install dependencies. Not sure if we can consider that a good idea or not (security, etc.)

[2021-06-07 08:33] ruflin commented on #26137
This is one more feature where we mix local configs with configs coming from Fleet. It would be nice if we find a general pattern for these scenarios.

[2021-06-07 11:20] P1llus opened #26165 "[Httpjson input] Adding array support to request body"
Currently the request body only support scalar values and a single JSON object, some modules would require to build bodies like this:

[code]

In which the `filters` field is an `array of one or more objects`, and `value` can be a cursor field from the last API call similar to how cursors work today.

[2021-06-07 11:20] elasticmachine commented on #26165
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-07 11:53] thomas-schn opened #26166 "Trivy scan report CVE-2020-29652 on golang.org/x/crypto"
Since Trivy also scans for golang binaries, it reports the CVE-2020-29652 in the golang.org/x/crypto module.
A fixed version of that module is yet available.

![grafik](https://user-images.githubusercontent.com/55287942/121011969-85942600-c797-11eb-8725-e556b4801ea6.png)

[2021-06-07 12:26] ph commented on #26137
@ruflin and @michalpristas  I need more details on this issue, does this affect both communication from Elastic Agent to Elastic Agent running fleet in cloud and Elastic agent sending events to Elasticsearch?

[2021-06-07 12:27] amolnater-qasource opened #26177 "[Fleet]: when upgrading an agent it stays 'unhealthy' and doesn't stream new data for System integration"
**Kibana version:** 7.14.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** Windows 10 x64, All

**Build Details:**
[code]

**Preconditions:**
1. 7.14.0 Snapshot Kibana cloud environment should be available.
2. 7.13.1(released) Windows 10 x64 agent must be installed with policy having System and Endpoint Security integration._[We have used non-default namespace for better tracki

[2021-06-07 13:41] #26031 closed

[2021-06-07 14:10] andrewkroh commented on #25240
PR: https://github.com/elastic/beats/pull/26174

[2021-06-07 15:23] elasticmachine commented on #26177
Pinging @elastic/agent (Team:Agent)

[2021-06-07 16:53] kaiyan-sheng opened #26181 "Flaky Test [Extended / metricbeat-windows-10-windows-10 / test_processors – metricbeat.tests.system.test_lightmodules.Test]"
## Flaky Test

* **Test Name:** `test_lightmodules.Test`
* **Branch:** 7.x branch
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats/detail/PR-26151/3/tests

### Stack Trace

[code]

[2021-06-07 16:54] elasticmachine commented on #26181
Pinging @elastic/integrations (Team:Integrations)

[2021-06-07 16:58] michel-laterman opened #26182 "Update to golang 1.16.5/1.15.13"
Update the versions of golang used to the latest patches which contain security fixes

- [x] Update crossbuild images
- [x] Update beats
- [x] Update fleet-server
- [x] ping APM

[2021-06-07 16:58] elasticmachine commented on #26182
Pinging @elastic/agent (Team:Agent)

[2021-06-07 19:45] kaiyan-sheng opened #26185 "Improve AWS Billing with linked account and account name"
Thanks to @fxdgear for trying out AWS Billing in Metricbeat. As we discussed, there are several useful enhancements can be done for the `billing` metricset:

- [x] Add `LINKED_ACCOUNT` into group_by dimension key by default (so the next two points will be actually useful)
- [x] Expose linked accounts under `AWS Account Filter` in Kibana AWS Billing dashboard when they exist
- [x] Expose account na

[2021-06-07 19:45] elasticmachine commented on #26185
Pinging @elastic/integrations (Team:Integrations)

[2021-06-07 20:01] drewr commented on #25755
Hi @simitt, thanks for the issue! Do you know if the team has a rough time window when this would be able to be worked?

[2021-06-07 20:04] fxdgear commented on #26185
Thanks for taking this on @kaiyan-sheng let me know how else I can help.

[2021-06-07 20:10] #26122 closed

[2021-06-07 20:19] simitt commented on #25755
referring to @urso for more information/timeline on this.

[2021-06-07 21:25] kaiyan-sheng commented on #26185
@Udayel Please feel free to comment here for any enhancement you see for billing. TIA!

[2021-06-07 21:54] andrewvc opened #26188 "[Heartbeat] Support de-duped screenshots"
This is the counterpart of elastic/synthetics#282  for heartbeat. We need to support de-duped screenshots, and while we're in dev, allow users to override config flags to test this out.

[2021-06-07 21:55] elasticmachine commented on #26188
Pinging @elastic/uptime (Team:Uptime)

[2021-06-07 22:10] EricDavisX commented on #25668
I never got back to this, my mistake.  Anyhow the test team has logged this here:
https://github.com/elastic/beats/issues/26177
and has provided good logs that we can sift through.  Closing this as a dupe.

[2021-06-07 22:10] #25668 closed

[2021-06-07 22:14] EricDavisX commented on #26133
we are tracking this problem here, unless there is a need to keep this open (I don't think there is) - we can close this.  @amolnater-qasource let's use just the one issue for upgrade problems until we get them resolved, we have a few duplicates open:
https://github.com/elastic/beats/issues/26041

[2021-06-07 22:14] #26133 closed

[2021-06-07 22:17] EricDavisX commented on #26131
We think this is likely a duplicate to this issue: https://github.com/elastic/beats/issues/26041
 - let's track that and re-test this when it is confirmed in the build and has been backported.  i think that will be soon.  @amolnater-qasource

[2021-06-07 22:18] EricDavisX commented on #26034
just confirming, the duplicate issue is: https://github.com/elastic/beats/issues/26041
 - let's track that and re-test this when it is confirmed in the build and has been backported.  i think that will be soon.

[2021-06-07 22:20] EricDavisX commented on #26177
I closed an upgrade related ticket i had logged a month ago, https://github.com/elastic/beats/issues/25668 - this one has much more helpful logging info in it.  Let's track the concern here.

It needs to be re-tested after we get a coming 7.14 builds with the Metricbeat re-start / crash loop fix (from here:  https://github.com/elastic/beats/issues/26041 )

[2021-06-07 22:28] EricDavisX commented on #25829
Thank you @fearful-symmetry let's sync with Michal offline via email as he had a working reproduction, maybe he can share the environment / vm.

[2021-06-07 22:31] rashmivkulkarni opened #26189 "Metricbeat exception : java.lang.IllegalArgumentException","error.message":"index.lifecycle.rollover_alias seen in ES logs."
Kibana version 8.0 snapshot
Metricbeat version 8.0 snapshot

My test set up is running Metricbeat  and loading data - so I do have `metricbeat-8.0.0-2021.06.07-000001` But also am running `es_archiver` through which I have `metricbeat-7.10.0-2020.09.29-000001` loaded for a specific test.

In the ES logs I do see this exception :

`
{"@timestamp":"2021-06-07T20:49:45.657Z", "log.level":"ERROR", "me

[2021-06-07 22:32] EricDavisX commented on #26101
@hbharding @ph @mostlyjason hi - did we want to work on the UX for this for self-managed usage?  It would apply to any cloud-stacks where users spin up their own Fleet Servers as well.

Just passing along the issue.  Something to think on.  I'm removing the 'high' impact label as until we know more, I suppose this won't be seen as much.  But it is an open question as to what state the host process

[2021-06-08 02:38] milanage commented on #19636
@sayden

The issue seems to be reproducible on 7.9.3 as well. Any chance to move this forward?
[code]

@elastic/integrations-services

[2021-06-08 03:42] 94192448 opened #26191 "New beat excute setup command . "type":"mapper_parsing_exception","reason":"No handler for type [constant_keyword] declared on field [namespace]"}"
Why?

2021-06-08T11:37:38.188+0800	INFO	[template]	template/load.go:240	Existing template will be overwritten, as overwrite is enabled.
2021-06-08T11:37:38.300+0800	INFO	[template_loader]	template/load.go:143	Try loading template fastdfsbeat-8.0.0 to Elasticsearch
2021-06-08T11:37:38.385+0800	ERROR	**instance/beat.go:971	Exiting: error loading template: could not load template. Elasticsearch retur

[2021-06-08 03:49] #26188 closed

[2021-06-08 04:26] #26142 closed

[2021-06-08 05:42] amolnater-qasource commented on #26177
Hi @EricDavisX
Thanks for the feedback, we will re-test this when Metricbeat re-start/crash loop issue will be fixed.

Thanks
QAS

[2021-06-08 06:16] #19026 closed

[2021-06-08 06:19] amolnater-qasource commented on #26034
Hi @EricDavisX

We reported this issue as this was reproduced on a different Kibana version and with different steps. Also, Issue here is related to **Agent status** going offline after changing logging level. Logs are highlighted for help as per observation made in whole scenario.

Further, we will retest this issue whenever Metricbeat issue will be fixed to confirm the behavior.

Thanks
QAS

[2021-06-08 06:19] amolnater-qasource commented on #26131
Sure @EricDavisX, We will retest this issue whenever Metricbeat issue will be fixed.

Thanks
QAS

[2021-06-08 06:20] amolnater-qasource commented on #26133
Hi @EricDavisX

Thanks for the feedback.

However, this issue was reported being specific to self managed environment.

We will retest this issue once https://github.com/elastic/beats/issues/26041 will be fixed.

Thanks
QAS

[2021-06-08 08:00] baileygm commented on #19188
Has this issue been addressed in later releases of Journalbeat ?

[2021-06-08 08:17] aspacca opened #26197 "[Metricbeat] Add Airflow module in xpack"
# Metricbeat Module / Dataset release checklist

This checklist is intended for Devs which create or update a module to make sure modules are consistent.

## Modules

For a metricset to go GA, the following criterias should be met:

* [ ] Supported versions are documented
* [ ] Supported operating systems are documented (if applicable)
* [ ] Integration tests exist
* [ ] System tests exist
* [ ] A

[2021-06-08 08:19] elasticmachine commented on #26197
Pinging @elastic/obs-dc (Team:Obs-DC)

[2021-06-08 08:27] aspacca commented on #26197
- Test environment in Docker exist for integration tests
I would like to add an integration test but I haven't understood how to setup `XPackTest` for a lightweight module.

[2021-06-08 08:47] Nighthawk14 commented on #10756
@tehmaspc  We don't do any specifig ETL on the data and we don't have any Ingest pipeline on the ES side.
The only thing we have is in `functionbeat.yml` configuration file  we add this:
[code]
  Which will add the log-stream name into your ES document giving you the exact service (assuming each of your services write CW log in a separate log-stream inside the same log-group).
So in ES we get the

[2021-06-08 09:25] EamonnTP commented on #24980
Thanks @mbarretta Just to confirm. Do we need to change the paths to the following:

**Client:**
output.elasticsearch.ssl.certificate_authorities: ["/etc/client/ca.pem"]
output.elasticsearch.ssl.certificate: "/etc/client/cert.pem"
output.elasticsearch.ssl.key: "/etc/client/cert.key"

**Server:**
output.elasticsearch.ssl.certificate_authorities: ["/etc/server/ca.pem"]
output.elasticsearch.ssl.certi

[2021-06-08 10:01] srikwit opened #26199 "Bug in Filebeat logging - Journalctl"
Dear Team,

Journalctl segregates logging level as follows:
Priority
0 emerg
1 alert
2 crit
3 err
4 warning
5 notice
6 info
7 debug

When I try to read filebeat logs as follows:
`journalctl -u filebeat -p 6`

I can see all the logs but when I try to read only the error logs:
`journalctl -u filebeat -p 4`

I only see logs related to filebeat exiting but none of the filebeat logs tagged as ERROR for

[2021-06-08 10:58] mostlyjason commented on #26153
I think this would be great because it would make it easier for users to adopt synthetics without having to reinstall a separate image. Installing dependencies on demand will reduce the size for 99%+ of hosts that are not running synthetics.

Users with an offline environment are a smaller percentage so we could have a separate larger image for that scenario. However, it sounded like users would s

[2021-06-08 11:04] jonyhy96 opened #26200 "[Elastic-Agent] Can't go get module"
Here is the output when get this module use `go get`.
[code]

[2021-06-08 11:46] ruflin commented on #26153
In general I like this idea. What is the total download size we talk about? And how long does the setup take normally (on your laptop)? If we go down this path, we should make sure the "downloading/waiting" is visible in Fleet and the user understands what is happening.

[2021-06-08 11:59] andrewvc commented on #26153
@andresrc the more I think about it, you're right, we need two for sure. Cloud would want to always run the 'full' image.

++ @ruflin to having a better 'waiting' state. We'd ideally have this in the Uptime app, where we can instantly create a monitor with a 'waiting state'

[2021-06-08 12:11] epuertat commented on #7723
Hi folks, just for you to know: at Ceph project [we're planning to deprecate soon the `restful` API you're relying on here](https://github.com/ceph/ceph/pull/41689#pullrequestreview-678427558).

The alternatives would either be the fine-grained Ceph Dashboard REST API (more of a management API, so probably not the best for you) or the Prometheus exporter (which gives you all the metrics in a singl

[2021-06-08 12:20] sorantis commented on #7723
@epuertat thanks for letting us know. We did consider Prometheus exporter earlier, but decided to stick to the native API capabilities. We'll need to revisit this. Which release are you planning to remove the restful API from?

[2021-06-08 12:29] jalvz opened #26203 "TestDefaultHarvesterGroup failing on CI"
Found in https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats/detail/PR-25998/4/tests/

Output:

[code]

Feel free to close if not appropiate

[2021-06-08 12:31] jalvz opened #26204 "Metricbeat Redis module test failing on CI"
Found in https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats/detail/PR-25998/5/tests/

Output:

[code]

Feel free to close if not appropriate.

[2021-06-08 12:33] jalvz opened #26205 "Heartbeat test failing on CI"
Found in https://beats-ci.elastic.co/job/Beats/job/beats/job/PR-25998/8/testReport/junit/github/com_elastic_beats_v7_heartbeat_scheduler_timerqueue/Extended___heartbeat_windows_7_32_windows_7_32_bit___TestQueueRunsInOrder/

Output:

[code]

Feel free to close if not appropriate  / relevant.

[2021-06-08 12:36] elasticmachine commented on #26205
Pinging @elastic/uptime (Team:Uptime)

[2021-06-08 12:51] epuertat commented on #7723
@sorantis: v17 (codenamed Quincy) to be released by first half of 2022. Please let us know if you need any guidance on this.

[2021-06-08 12:56] sorantis commented on #7723
@epuertat good to know. Any plans to support Prometheus endpoint natively? AFAIK today the user will have to manually enable the exporter via `ceph mgr module enable prometheus.

cc @akshay-saraswat

[2021-06-08 12:58] mostlyjason commented on #25865
Beats 7.13 should continue to be compatible with the default distribution of Elasticsearch 7.10.x. The support matrix here doesn't specifically mention the OSS (Apache licensed) distribution https://www.elastic.co/support/matrix.

[2021-06-08 13:35] EricDavisX opened #26206 "[Agent] Testing & Support running of Elastic Agent from a network shared drive"
**Describe the enhancement:**
Users may want to protect and observe their network shared drives, so we could support it.

It is currently not recommended to use.  We have no automated tests to verify it works and have anecdotal (but old) data that indicates (at least) Filebeat would have a problem running there.  no specifics further available at the time (testing would be required to generate exa

[2021-06-08 13:35] elasticmachine commented on #26206
Pinging @elastic/agent (Team:Agent)

[2021-06-08 13:54] kaiyan-sheng opened #26207 "Improve RDS dashboard in Metricbeat AWS module"
Instead of displaying insert and select latency, it would be good to plot read and write latency instead for RDS.
Also adding CPU utilization,  free storage space, read/write IOPS into the dashboard.

@Udayel Thank you for the input!!

[2021-06-08 13:55] elasticmachine commented on #26207
Pinging @elastic/integrations (Team:Integrations)

[2021-06-08 13:55] mdelapenya opened #26208 "[Build System] Add a command to package system tests files into a TAR file"
System-tests create a bunch of files in the build directory of each Beat, which are pushed to a GCP bucket at CI time.

We'd like to decouple that logic from CI so that it could be verified and tested locally, using the build system.

[2021-06-08 14:09] Udayel commented on #26207
Thank you, @kaiyan-sheng. If possible please add Database load(Average active sessions (AAS)), Top waits, Top SQL, Top Users and Top Databases.

[2021-06-08 15:16] #18997 closed

[2021-06-08 15:39] vigneshshanmugam opened #26210 "[Heartbeat] Improve the error message from synthetics failure"
+ When the synthetic command fails, heartbeat `exec` process consumes the `stderr` and does not provide enough details on why the current job failed.
[code]

This message is clearly not helpful and we need to print the proper stderror logs from the synthetic agent when exit status is 1.

[2021-06-08 15:39] elasticmachine commented on #26210
Pinging @elastic/uptime (Team:Uptime)

[2021-06-08 15:43] epuertat commented on #7723
@sorantis, no plans to change that. The [Prometheus exporter is embedded](https://github.com/ceph/ceph/blob/master/src/pybind/mgr/prometheus/module.py) inside a Ceph service. It's probably the reference 'metrics agent' for the Ceph project (others are less maintained, like influx, telegraf, zabbix, ...).

The main downside I see there is that it only supports plain-text HTTP, but if you really nee

[2021-06-08 16:04] #26120 closed

[2021-06-08 16:16] #18989 closed

[2021-06-08 16:49] alvarolobato opened #26213 "Elastic Agent service fails to start on windows with default installation"
For confirmed bugs, please report:
- Version: 7.13
- Operating System: Windows Server 2008 R2 Standard and Windows 10
- Steps to Reproduce:

These are the steps I followed in Windows 10:
 - Download the agent
 - Run the enroll command
 - The agent will enroll successfully and stay in an "updating" state, it won't move from there
[code]
- If I go to services, the service has been installed but it's

[2021-06-08 16:49] elasticmachine commented on #26213
Pinging @elastic/agent (Team:Agent)

[2021-06-08 17:16] #19040 closed

[2021-06-08 17:57] blakerouse commented on #26213
`error 1067` is reported when the process terminates unexpectedly

How are you performing the run of the Elastic Agent that did work? From inside the Program Files directory?

[2021-06-08 18:43] leehinman commented on #25768
relates elastic/elasticsearch#73918

[2021-06-08 19:38] #25829 closed

[2021-06-08 20:01] hartfordfive commented on #2666
@legoguy1000  unfortunately I haven't worked with Cloudflare or its services in years.  Best to check with someone else in the community (maybe even Cloudflare?) who may have some sample logs they could share with you.

[2021-06-08 22:45] andrewvc commented on #26153
Looking more closely into the security issues associated with setuid I think that option is off the table, I'll have to research alternatives.

[2021-06-09 02:53] graphaelli commented on #25628
Let's also grab `beat.info.version` from #26214 while we're at it.

[2021-06-09 05:53] luweijun1992 commented on #26157
@legoguy1000 Please help me thanks .

[2021-06-09 06:01] elasticmachine commented on #26200
Pinging @elastic/agent (Team:Agent)

[2021-06-09 07:09] #24372 closed

[2021-06-09 08:45] jakommo commented on #12169
Still an issue. Just two weeks ago I saw this causing trouble to a user again.

[2021-06-09 10:00] alvarolobato commented on #26213
@blakerouse if I run it from inside program files directory it works, but also if I go to the service configuration and change the account to Administrator in session data.

[2021-06-09 11:29] SpartanB commented on #10664
Hi,

Is there any update on fixing this issue? Not able to see network drives on Windows with Metricbeat 7.13.1

[2021-06-09 12:36] maarsaks commented on #25827
@legoguy1000

I've created the repo how to reproduce the error in ~5 minutes - make sure that you made the all steps.
[github.com/maarsaks/elk-docker-compose](https://github.com/maarsaks/elk-docker-compose)

[2021-06-09 12:53] blakerouse commented on #26213
@alvarolobato `change the account to Administrator in session data`? confused by that comment? are you saying it works when you change the user that starts the service?

[2021-06-09 13:18] michalpristas opened #26223 "Condition not respected when loading config from state"
When agent is enrolled it retrieves a configuration and stores it into a state.yml file.

On restart it tries to apply this config before connecting to fleet.
It seems that even though some parts of config have conditions e.g.
[code]

this condition is not respected.

Steps to repro:
- create a policy with system integration
- install agent on windows
- restart or change log level (causes reexec)

[2021-06-09 13:18] elasticmachine commented on #26223
Pinging @elastic/agent (Team:Agent)

[2021-06-09 13:21] alvarolobato commented on #26213
Yes, change the user that starts the service.

[2021-06-09 13:34] blakerouse commented on #26213
@alvarolobato You changed it to "Administrator" and it worked, but running as "SYSTEM" did not? Just want to confirm?

[2021-06-09 13:36] dikshachauhan-qasource commented on #25555
### `Bug Conversion`

-  01 new testcase is created under the 'Discover' section:
   - https://elastic.testrail.io/index.php?/cases/view/147372

Thanks!

[2021-06-09 13:46] dikshachauhan-qasource commented on #24477
### `Bug Conversion`

-  01 new testcase is created under the 'Fleet>Upgrade Agent' section:
   - https://elastic.testrail.io/index.php?/cases/view/147373

Thanks!

[2021-06-09 13:53] andrewkroh commented on #22388
@jpountz  Are the benefits of rounding that there are fewer unique data points so we get better compression?

How would this be implemented on the Beats side? Do we need to pass any additional settings in our index mappings for the `date` field?

Would the Beat simply round `2021-04-13T13:51:38.123Z` to `2021-04-13T13:51:38.000Z`? Or would it need to truncate the seconds (e.g. `2021-04-13T13:51:38

[2021-06-09 14:10] elasticmachine commented on #26147
Pinging @elastic/integrations-services (Team:Services)

[2021-06-09 14:36] ph commented on #26223
@michel-laterman Could you take a look at this one?

[2021-06-09 14:48] faec commented on #22437
Fixed as of 7.11

[2021-06-09 14:48] #22437 closed

[2021-06-09 14:57] mbarretta commented on #24980
@EamonnTP

Yes, I think just dropping `pki/` from the ssl path examples (you covered them all, I think) will do fine.

Re note, I think a note is only needed in the `setup-kibana-endpoint` pages. Since the configuration is for the Kibana API connection, I think some text in the intro linking to API authentication methods makes sense. Something like:

[2021-06-09 15:04] nerophon commented on #19410
I've now seen this happen in Filebeat as well. Documents come in as floats, then later some come in looking like "5" or "12". These should really be converted to floats. No need to fail or require the user to sanitise manually.

[2021-06-09 15:59] kvch commented on #23627
@rsdrakh I have created an alternative solution for this problem. Could you please test it? https://github.com/elastic/beats/pull/26224

If it still fills up your disk, I will disable displaying the error for a period of time.

[2021-06-09 16:02] pd-dfinity commented on #23627
Would it be feasible to use some logger library to do something like logger.atMostEvery(X seconds).log(blub)? Having a busy loop that fills up the disk space seems really suboptimal

[2021-06-09 16:21] adriansr opened #26225 "Document data path / meta.json issues when deploying Beats"
When deploying Beats, or creating a reusable image, a common mistake is to include an existing `meta.json` file, usually due to having run `beatname setup` after unpacking a Beat. This leads to multiple Beats running in different hosts and sharing the same ID (UUID).

This could be documented in the _Common_ _problems_ section.

Related #21847

[2021-06-09 16:21] elasticmachine commented on #26225
Pinging @elastic/obs-docs (Team:Docs)

[2021-06-09 18:54] andrewkroh commented on #22054
Closing given that unique IDs are used as per https://github.com/elastic/kibana/pull/82447

[2021-06-09 18:54] #22054 closed

[2021-06-09 19:12] PrplHaz4 commented on #8398
still relevant IMO...

[2021-06-09 19:35] EricDavisX commented on #24946
@S3l3ct3d sorry for the long pause in reply - do you mind to test on a new / fresh install of 7.12 stack or 7.13 stack (even better) ?  Alternatively, I would just seek to confirm which version of the System Integration is in use in the policy where the error is being seen.  We had this problem and indeed fixed it in the System Package (which needs some specific 'admin' like stack side work to get

[2021-06-09 19:49] andrewkroh commented on #21121
I think this would be good to change the [`agent.id`](https://www.elastic.co/guide/en/ecs/current/ecs-agent.html#field-agent-id) of the running processes to match what we show to users in the Fleet UI. It can be confusing to have different IDs and I think it leaks a bit of an implementation detail that Agent currently consists for several different processes (which might change in the future).

<i

[2021-06-09 19:49] elasticmachine commented on #21121
Pinging @elastic/agent (Team:Agent)

[2021-06-09 20:20] EricDavisX commented on #25940
I think it is important to support this for 2 reasons:
 - it will cause more time for testing the basic scenario manually until we get it automated.
 - not sure we can assume customers won't do this to, see issue here, which notes customers sometimes intentionally test on-prem being moving to the cloud:   https://github.com/elastic/kibana/issues/101830

[2021-06-09 22:34] kaiyan-sheng commented on #21422
Update: For `ec2`, `rds` and `sqs`, we are adding metadata from separate API calls into the events that are populated from CloudWatch API response. `billing` metricset in `aws` module is not the same as other metricsets because it is not adding _metadata_ into the same events. Instead, `billing` is creating two sets of events: from CloudWatch and from Cost Explorer.
I will keep `billing` metricset

[2021-06-09 22:34] #21422 closed

[2021-06-10 02:43] andrewvc opened #26229 "[Heartbeat] Scheduler segfault"
This esoteric bug was spotted in CI. It's likely incredibly rare given that we haven't heard of it in > 1 year

[code]

[2021-06-10 02:43] elasticmachine commented on #26229
Pinging @elastic/uptime (Team:Uptime)

[2021-06-10 07:35] kvch commented on #23627
@pd-dfinity My second alternative implementation does something similar. Unfortunately, the lib we use does not support such behaviour, so I had to implement our own for now.

[2021-06-10 07:58] #25815 closed

[2021-06-10 09:01] rsdrakh commented on #23627
@kvch I'd do my best to test - but I don't really know how to get your code to my machines other than using a deb file :)
Do you have the possibility to get that into a debian package somewhere?

[2021-06-10 09:43] narph commented on #24392
closed by https://github.com/elastic/beats/pull/26148, please reopen if this will not fix your issue

[2021-06-10 09:43] #24392 closed

[2021-06-10 09:43] narph commented on #20797
closed by #26148, please reopen if this will not fix your issue

[2021-06-10 09:43] #20797 closed

[2021-06-10 09:44] narph commented on #25127
closed by #26148, please reopen if this will not fix your issue

[2021-06-10 09:44] #25127 closed

[2021-06-10 09:44] narph commented on #24292
closed by #26148, please reopen if this will not fix your issue

[2021-06-10 09:44] #24292 closed

[2021-06-10 09:55] jsoriano commented on #7552
govmomi is being updated in https://github.com/elastic/beats/pull/26167.

[2021-06-10 09:59] jsoriano commented on #8642
Most of the dependencies, if not all are fixed now, but there is still one `requirements.txt` per beat.

[2021-06-10 10:16] #19091 closed

[2021-06-10 10:58] amolnater-qasource commented on #25785
Hi @EricDavisX
We have revalidated this issue on 7.14.0 self-managed Snapshot Kibana and found it **fixed**.

**Build Details:**
[code]

**Steps followed:**
1. Login to self-managed Kibana environment.
2. Install Agent with Default Fleet Server Policy.
3. Assign "Agent" to Default policy having System, Endpoint and Fleet Server Integration.
4. Restart elastic-agent from services.

**Observations:*

[2021-06-10 10:58] #25785 closed

[2021-06-10 11:00] amolnater-qasource commented on #26133
Hi @EricDavisX

We have revalidated this issue on 7.14.0 self-managed Snapshot Kibana and found it **fixed**.

**Build Details:**
[code]

**What's working:**
We are now able to upgrade 7.13.1(released) agent to 7.14.0 on self managed 7.14.0 Snapshot Kibana.

Thanks
QAS

[2021-06-10 11:05] amolnater-qasource commented on #26131
Hi @EricDavisX

We have revalidated this issue on 7.14.0 self-managed Snapshot Kibana and found it **fixed**.

**Build Details:**
[code]

**What's working:**
On changing log level agent remains "Healthy" and services like Filebeat and Metricbeat are in running state under logs tab.

Hence we are closing this out.

Thanks
QAS

[2021-06-10 11:05] #26131 closed

[2021-06-10 12:43] yhf597869822 opened #26236 "MAC OSS start auditbeat failed"
I try to download from [auditbeat download page](https://www.elastic.co/cn/downloads/beats/auditbeat) for MAC , start auditbeat with the error that is `the auditd module is only supported on Linux`.
And I also use brew install auditbeat,`brew install elastic/tap/auditbeat-oss`,there is the same error.
The auditbeat version is `7.13.1`
here are details:
`2021-06-10T20:37:35.997+0800	INFO	eslegclien

[2021-06-10 13:47] elasticmachine commented on #26236
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-10 14:07] #26114 closed

[2021-06-10 15:11] kaiyan-sheng opened #26239 "x-pack/elastic-agent-packaging-arm-arm - mage package failed"
## Flaky Test

* **Test Name:** mage pacakge
* **Link:** https://github.com/elastic/beats/blob/master/x-pack/elastic-agent/Jenkinsfile.yml#L98
* **Branch:** master
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats/detail/PR-26121/19/pipeline#step-7434-log-147

### Stack Trace

[code]

[2021-06-10 15:49] michalpristas opened #26242 "Investigate cummulating memory when process cannot reach agent"
As described here: https://github.com/elastic/beats/issues/25829#issuecomment-851819585

Before the fix it sometimes happened (not always) that process started logging:
[code]

aside from this, log was empty and memory kept rising.
logs were also more frequent than retry period. so maybe we're dealing with some leak or unwanted recursion either in central management or elastic-agent-client.
anothe

[2021-06-10 15:49] elasticmachine commented on #26242
Pinging @elastic/agent (Team:Agent)

[2021-06-10 16:02] michel-laterman commented on #26182
@simitt, The images to update to go 1.16.5 and 1.15.13 are available. I didn't have any issues when updating beats 7.13.2 to 1.15.13; however due to a change in the [go mod download](https://github.com/golang/go/issues/46214) command there may be issues with the update to 1.16.5

[2021-06-10 16:03] christianherweg0807 opened #26245 "[input awss3] Selective use of role_arn"
We´ve the following Setup for consuming Logs for many teams to our ECE environment:

![grafik](https://user-images.githubusercontent.com/39617537/121557271-e8462580-ca14-11eb-981c-4351a19e4cca.png)

There is the SQS Queue in our Account for queueing the messages and the S3 Bucket in the other account. To Access the Bucket we need a  role provided by the remote team. For the SQS bucket we can´t use

[2021-06-10 16:14] ph opened #26246 "Elastic Agent ARM package are failling"
Reported by @kuisathaverat

[2021-06-10 16:15] elasticmachine commented on #26246
Pinging @elastic/agent (Team:Agent)

[2021-06-10 16:24] ph commented on #21121
Not sure if that would really leak, it think this would take precedence? @michalpristas

[2021-06-10 16:55] urso commented on #26246
Beats build tools make use of cross compilation when build packages for multiple platforms. These packages are not used by CI. The tools used to build the packages require an x86 docker environment. The ARM packaging itself should not be disabled, but ARM test machines should not attempt to build packages at all.

[2021-06-10 17:10] blakerouse commented on #26246
Could we change the Jenkins execution for ARM to only build ARM binaries? I think the `PLATFORMS` env will already do the correct thing here, instead of removing the job completely.

[2021-06-10 17:57] ndubss opened #26247 "FAnotify over inotify"
Hello, on kube we currently leverage two iterations of the file_integrity module. First, we monitor paths under /hostfs, this has been stable for us. Second, we use the auditbeat.autodiscover with containerd to monitor container rootfs. Initially, this was working well.

Once a large volume of containers and paths was introduced, we started to have stability and memory issues. We have incrementall

[2021-06-10 17:58] ndubss commented on #26247
@vjsamuel comment if you have more to add

[2021-06-10 18:55] kuisathaverat commented on #26246
Jenkins executes `PLATFORMS="linux/arm64" PACKAGES=docker mage package` this on a ARM machine builds a elastic-agent(linux/arm64)+filebeat(linux/amd64)+metricbeat(linux/amd64) the Filebeat and Metricbeat (linux/amd64) can nor run on the same host that the elastic-agent(linux/arm64) because are different architectures. This will fail in the release process because will use the same commands in the

[2021-06-10 20:52] jasonslater2000 opened #26249 "Functionbeat not sending all logs from GCP to ES"
using functionbeat v7.11.1 (7.12 and 7.13 not supported on GCP due to functionbeat using Golang 1.15 and GCP supporting Golang 1.13)

everything is in place now for easy reproduction

`functionbeat.provider.gcp.location_id: "us-central1"
functionbeat.provider.gcp.project_id: "elastic-sa"
functionbeat.provider.gcp.storage_name: "jslater-functionbeat-deploy"
functionbeat.provider.gcp.functions:
func

[2021-06-10 22:47] andrewvc opened #27411 "[Discuss] Add screenshot option for space efficient mode"
`--screenshots` should take an option of: `off`, `on`, `only-on-failure` or `space-efficient`.

`space-efficient` be the default in heartbeat and would retain just the last step's screenshot on successful runs, and retain all steps on errors. This is important because screenshots, even with the efficiency gains we've recently gotten, just take up too much space and cost too much. Even a handful of

[2021-06-11 07:13] kunisen opened #26256 "[Filebeat][Cisco Module][Nexus Fileset] Add parser for Syslog processing the Nexus series 3000,5000,7000 and 9000"
**Describe the enhancement:**
Currently the Filebeat - Cisco Module - Nexus Fileset can't parse syslog processing for the Nexus series 3000,5000,7000 and 9000.
Have attached links which will give syslog format for Cisco Nexus devices of different series.

- 3000: https://www.cisco.com/c/en/us/td/docs/switches/datacenter/nexus3548/sw/system_messages/reference/sl_nxos_3548/sl_intro.html
- 5000: http

[2021-06-11 07:13] elasticmachine commented on #26256
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-11 13:10] xuoguoto commented on #18813
I too am getting this error on `metricbeat version 7.13.1 (amd64), libbeat 7.13.1 [2d80f6e99f41b65a270d61706fa98d13cfbda18d]`

`module/wrapper.go:259        Error fetching data for metricset prometheus.collector: unable to decode response from prometheus endpoint: decoding of metric family failed: text format parsing error in line 45: second TYPE line for metric name "_err_null_node_blackholed_pac

[2021-06-11 15:57] jasonslater2000 opened #26264 "functionbeat gcp storage does not successfully deploy, googleapi error 400 bad request"
functionbeat v7.11.1

config:

[code]

fails to deploy:

[code]

[2021-06-11 18:25] ChrsMark commented on #18813
@xuoguoto do you have a similar case with what is described in this issue's description? If so I'm afraid that there is no quick fix for this at the moment since this violated the Prometheus standard.  As mentioned in previous comment these kind of issues might be resolved when/if we finally move to a new parsing library (#24707).

[2021-06-11 18:39] pplanel commented on #16336
Hi guys, do we have an update on this issue?

[2021-06-11 20:44] urso commented on #26203
@kvch Can you have a look?

[2021-06-11 20:44] urso commented on #26205
@andrewvc Can you have a look?

[2021-06-11 20:45] elasticmachine commented on #26204
Pinging @elastic/integrations (Team:Integrations)

[2021-06-11 20:45] #25997 closed

[2021-06-11 22:04] andrewkroh commented on #26236
I download the macos version of the artifacts (both OSS and Elastic licensed) and neither have the `auditd` module enabled in the auditbeat.yml file that it ships with.

Did you add the auditd module into your config? That module is only available for Linux as the error indicates.

[2021-06-12 17:16] #19056 closed

[2021-06-12 23:16] #19180 closed

[2021-06-13 21:56] kudodenko commented on #12923
+1

[2021-06-14 05:00] simitt commented on #19801
@urso can this be removed as default for integrations in 7.x?

[2021-06-14 06:49] musiczhzhao commented on #7461
Hi @fearful-symmetry,

I saw you have closed the other ticket and moved it to this one. I am wondering what is the latest plan of implementing the per-process network io and disk io into Metricbeat? We have been long to this feature as well.

Thanks,
Zhao

[2021-06-14 09:13] amolnater-qasource commented on #26041
Hi @EricDavisX
We have observed this issue **reproducible** on 7.13.2 BC-1 Kibana cloud environment.

**Observation:**
- On restarting elastic-agent (installed with policy having System and ES) from services, Metricbeat stuck under Starting-Restarting-Crashed loop.
- This issue is not observed when log level was set to "debug".

**Logs:**
[logs.zip](https://github.com/elastic/beats/files/6647058/l

[2021-06-14 09:27] simitt commented on #26182
thanks for the ping, we will try to update when the beats PR is merged.

[2021-06-14 10:52] farrp opened #26278 "Filebeat syslog input should log source of indecipherable input"
When the syslog input receives undecipherable input it will log a message like

2021-06-14T00:19:15.978-0400 ERROR [syslog] syslog/input.go:239 can't parse event as syslog rfc3164 {"message": "\u0008\u000b\u0004\u0001\u0005\u0001\u0006\u0001\u0004\u0002\u0005\u0002\u0006\u0002\u0003\u0003\u0003\u0001\u0003\u0002\u0002\u0003\u0002\u0001\u0002\u0002\u0000\u000b\u0000\u0002\u0001\u0000\u0015\u0003\u0

[2021-06-14 10:53] amolnater-qasource commented on #26101
Hi @mostlyjason
We have waited for more than 10 minutes after triggering unenrollment from Kibana UI.
- Agent installed with Fleet Server integration stuck in updating state.

- We have checked this earlier it never goes to offline state, it remains UPDATING through out the day.

Agent stuck in UPDATING state immediately goes to INACTIVE state.

**Screenshot:**
![6](https://user-images.githubuserc

[2021-06-14 12:03] yerome27 commented on #25596
I can reproduce this issue too.
Functionbeat version is 7.11 & 7.10 (7.12 cannot be deployed on GCP due to this https://github.com/elastic/beats/issues/24925)

What happen is that I randomly having a panic crash of functionbeat on GCP (see error flavor 1). For similar message sent to the cloud function, functionbeat crashes about 40% of the time.

[2021-06-14 12:20] Richman711 opened #26280 "[Winlogbeat] Update Sysmon module for Schema 4.70 that includes Event ID 26"
**Describe the enhancement:**
Requesting an update to the winlogbeat\module\sysmon\config\winlogbeat-sysmon.js to include event 26 for correct parsing into elasticsearch using the sysmon module.

The new sysmon event id is nearly identical to event id 23 except for the archived boolean.

`DATA: RuleName, UtcTime, ProcessGuid, ProcessId, User, Image, TargetFilename, Hashes, IsExecutable`

[https://

[2021-06-14 13:06] ndtreviv opened #26284 "Error fetching data for metricset elasticsearch.ml_job: HTTP error 400 when ml_job metricset not enabled"
elasticsearch-xpack.xml config:
[code]

Log message:
[code]

- Version: 7.12.0
- Operating System: Ubuntu 20.04
- Discuss Forum URL: https://discuss.elastic.co/t/metricbeat-attempting-to-fetch-metrics-for-unlisted-metricset-why/271066
- Steps to Reproduce:

1. Install 7.12.0 as per instructions:
[code]

2. Enable the elasticsearch-xpack module: `metricbeat modules enable elasticsearch-xpack`

[2021-06-14 13:47] ndtreviv commented on #26284
Other interesting information is that I only get this error on nodes that are the elected master node.

[2021-06-14 13:55] alvarolobato commented on #26213
Ah, sorry missed this, correct it didn't work running with the default settings the service is installed.

[2021-06-14 13:56] alvarolobato commented on #26213
I've tried putting it back to local system account and restarting and it fails to start again, as expected.

[2021-06-14 14:23] andrewkroh commented on #26205
I'm seeing the same failure on a PR at https://beats-ci.elastic.co/job/Beats/job/beats/job/PR-26260/3/.

[2021-06-14 14:26] michalpristas opened #26286 "Investigate conflict on prev during update"
During update this can be sometimes seen

`2021-06-08T11:04:12.208+0200 ERROR application/fleet_gateway.go:186 failed to dispatch actions, error: failed to update agent symlink: symlink C:\Program Files\Elastic\Agent\data\elastic-agent-651a2a\elastic-agent.exe C:\Program Files\Elastic\Agent\elastic-agent.exe.prev: Cannot create a file when that file already exists.`

[2021-06-14 14:26] elasticmachine commented on #26286
Pinging @elastic/agent (Team:Agent)

[2021-06-14 14:35] jsoriano opened #26287 "Configure the vsphere simulator to emit better metrics on tests"
**Describe the enhancement:**

Simulators included in [govmomi](https://github.com/vmware/govmomi) are pretty handy for testing, they implement ESX/VPX APIs, populated with several objects by default, so Metricbeat can be configured to query this data.

The problem is that several of the stats requested by Metricbeat are set to zero in the simulator model, limiting the testing possibilities.

**De

[2021-06-14 14:35] elasticmachine commented on #26287
Pinging @elastic/integrations (Team:Integrations)

[2021-06-14 15:15] fredtj opened #26289 "[Filebeat] [Fortinet Module] - event.duration is off by x1000"
Greetings,

Today I noticed that event.duration in my ingested Fortinet logs appears to be off by a factor of 1000, I'm not sure if this is true of all Fortinet logs, as I see your test data does have the duration in this format. However the data I see from my devices, this field is in seconds. (this is confirmed by checking in FortiAnalyzer which does state "seconds" against that field).

https:/

[2021-06-14 15:33] #26149 closed

[2021-06-14 15:40] andrewvc commented on #26205
I'm taking a look now. This is very strange, this is a very old test, and no code has changed in a long time (1yr maybe?) Will dig in and see if there's a race.

[2021-06-14 15:57] fearful-symmetry commented on #7461
Sorry, should have been a little more descriptive. We don't have any short term plans for implementing this, as I'm going to have my hands full for the next 1-2 release cycles. As soon as we're in a place to start making enhancements soon, I'd like to prioritize this, as it shouldn't be too difficult.

[2021-06-14 16:11] faec opened #26294 "Kafka features should give better errors on authentication failure"
Our Kafka features (the Filebeat input and Libbeat output) are based on Sarama, which handles authentication to the Kafka cluster. With some authentication types, notably Kerberos, Kafka doesn't always pass through the cause of an authentication failure, and reports it as a generic disconnection. This makes it hard to troubleshoot configuration errors and potential bugs arising from Kafka / Kerber

[2021-06-14 16:11] elasticmachine commented on #26294
Pinging @elastic/agent (Team:Agent)

[2021-06-14 16:40] #25456 closed

[2021-06-14 16:41] elasticmachine commented on #26289
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-14 19:17] michel-laterman commented on #26223
can do

[2021-06-14 20:25] gmoskovicz commented on #25742
@narph Do you know if there has been any news regarding this SDK issue?

[2021-06-14 21:25] nathanrstacey opened #26307 "Update Winlogbeat docs. Show location of Kibana section"
**Describe the enhancement:**
Add the following:
Current:
If you plan to use our pre-built Kibana dashboards, configure the Kibana endpoint. Skip this step if Kibana is running on the same host as Elasticsearch.
Suggested update:
If you plan to use our pre-built Kibana dashboards, configure the Kibana endpoint. This section is above the Elasticsearch section by default. Skip this step if Kibana is

[2021-06-14 22:24] elasticmachine commented on #21855
Pinging @elastic/agent (Team:Agent)

[2021-06-15 02:05] xuoguoto commented on #18813
@ChrsMark From the exporter, here is what I see when greping for `_err_null_node_blackholed_packets`:

[code]

Is this a problem?

[2021-06-15 06:43] amolnater-qasource opened #26311 "[Meta] [Fleet] [Agent]: Metricbeat revamp for 7.14"
Meta issue to track the Metricbeat revamp for 7.14.

We have logged this ticket to keep all the Metricbeat related issues centralized in a list

[2021-06-15 06:43] elasticmachine commented on #26311
Pinging @elastic/fleet (Team:Fleet)

[2021-06-15 06:47] masci commented on #19636
We've a bug here https://github.com/elastic/beats/blob/7.x/metricbeat/module/elasticsearch/node_stats/data_xpack.go#L137-L140 where we pick the `young` key from the dict and store it in the `old` field. Let me discuss this offline, I'll come back with a plan to roll out a fix.

[2021-06-15 07:18] amolnater-qasource opened #26312 "[Meta] [Fleet] [Agent] [Test]: Ephemeral Elastic Agents"
Meta issue for the Concept of ephemeral Agents.

We have logged this ticket to keep all the changes related to ephemeral Agents on cloud centralized in a list.

[2021-06-15 07:18] elasticmachine commented on #26312
Pinging @elastic/agent (Team:Agent)

[2021-06-15 08:05] yhf597869822 commented on #26236
Yep,the auditd module is Commented out in my config file,and auditbeat is working! Clearer documentation may be needed !

[2021-06-15 08:29] ndtreviv opened #26314 "elasticsearch-xpack shard metricset not sending metrics"
I'm trying to ship my monitoring stats to a separate cluster using metricbeat, but the shard metricset isn't being sent:
<img width="1440" alt="Screenshot 2021-06-15 at 09 26 16" src="https://user-images.githubusercontent.com/1530653/122019541-c99cb180-cdbb-11eb-89dc-f1417c00f41c.png">

There are no errors in the logs (follow the link to the discussion forum post and you can see some logs there).

[2021-06-15 10:33] elasticmachine commented on #26245
Pinging @elastic/integrations (Team:Integrations)

[2021-06-15 10:33] ChrsMark commented on #26245
cc: @kaiyan-sheng

[2021-06-15 10:35] elasticmachine commented on #26247
Pinging @elastic/siem (Team:SIEM)

[2021-06-15 10:35] elasticmachine commented on #26247
Pinging @elastic/integrations (Team:Integrations)

[2021-06-15 10:36] ChrsMark commented on #26249
@kvch any comments here?

[2021-06-15 10:36] ChrsMark commented on #26264
cc: @kvch

[2021-06-15 10:36] elasticmachine commented on #26284
Pinging @elastic/integrations (Team:Integrations)

[2021-06-15 10:37] elasticmachine commented on #26278
Pinging @elastic/integrations (Team:Integrations)

[2021-06-15 10:37] elasticmachine commented on #26280
Pinging @elastic/integrations (Team:Integrations)

[2021-06-15 10:38] elasticmachine commented on #26307
Pinging @elastic/integrations (Team:Integrations)

[2021-06-15 10:38] elasticmachine commented on #26314
Pinging @elastic/integrations (Team:Integrations)

[2021-06-15 10:56] amolnater-qasource commented on #26034
Hi @EricDavisX
We have revalidated this issue on 7.14.0 Snapshot Kibana Cloud environment and found it still reproducible on 7.14.0 Snapshot.

**Observations:**
- On changing log level, Metricbeat is stuck in Starting-Restarting-Crashed loop under agent Logs tab.

**Logs:**
[logs.zip](https://github.com/elastic/beats/files/6654892/logs.zip)

**Build details:**
[code]
Please let us know if anything

[2021-06-15 11:13] elasticmachine commented on #26247
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-15 11:56] amolnater-qasource commented on #26177
Hi @EricDavisX
We have revalidated this issue on 7.14.0 Snapshot Kibana cloud environment and found it **fixed** now.
We have upgraded 7.13.2 Snapshot agent to 7.14.0 Snapshot.

**Observations after upgrade:**
- Agent remain Healthy after upgrade.
- New data for System Integration was generating under Data Streams tab.

**Build details:**
[code]

Hence, we are closing this ticket.

Thanks
QAS

[2021-06-15 12:30] ruflin commented on #21096
@ph Going to close this issue as an initial version of capabilities is merged.

[2021-06-15 12:30] #21096 closed

[2021-06-15 12:35] ruflin opened #26316 "[Elastic Agent][Discuss] elastic-agent.yml overwrite needed?"
Today when the Elastic Agent is enrolled into Fleet the elastic-agent.yml file is backed up and state is written into the elastic-agent.yml file that the agent is managed. In addition, the Agent writes fleet.yml with more data. On startup, the elastic-agent.yml is checked to see if the agent is enrolled. This caused some issues in Cloud initially because it was overwritten.

This issue is to have

[2021-06-15 12:35] elasticmachine commented on #26316
Pinging @elastic/agent (Team:Agent)

[2021-06-15 12:49] #25540 closed

[2021-06-15 13:32] jakommo opened #26320 "Collect node/host_threads in metricbeat elasticsearch module"
**Describe the enhancement:**
It would be nice if we could collect [GET /_nodes/hot_threads?threads=1000](https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-nodes-hot-threads.html) or at least some parts of it.

We in support are often asked to help with performance issues that are still ongoing or happened in the past and the hot_threads are one part of such an investigation

[2021-06-15 13:32] elasticmachine commented on #26320
Pinging @elastic/stack-monitoring (Stack monitoring)

[2021-06-15 13:46] EricDavisX commented on #25829
@amolnater-qasource can you re-test this please?

[2021-06-15 14:08] EricDavisX commented on #26041
We confirmed this missed the 7.13.2 BC so it will need to be tested on 7.13.3 or 7.14

[2021-06-15 14:16] #18542 closed

[2021-06-15 14:17] joshdover commented on #20672
@jen-huang We'd like to be able to remove this API from master in the near future. Do you know if Fleet is still this API from Kibana and/or if any Beats modules are still using this API on master/8.0?

[2021-06-15 14:27] legoguy1000 commented on #25827
I'm looking at your pipeline file, you file doesn't have any of the changes that I made in the PR. What are you basing that file off of? This is the file you should copy, https://github.com/elastic/beats/blob/5582e6ccfddd152e4bcf4141361d6a0e0b1e4daa/filebeat/module/haproxy/log/ingest/pipeline.yml.

[2021-06-15 14:27] iorfix opened #26322 "Beats require unnecessary privileges at startup on 7.13"
Using version 7.13.1 Beats force to set ILM policies, even when configuration explicitly set them to don't set them.
 This may cause an error, if beats credentials are reduced to minimum, as in: https://www.elastic.co/guide/en/beats/filebeat/current/privileges-to-publish-events.html

- Version: 7.13.1 (it doesn't affect 7.10.2)
- Operating System: CentOs / Redhat
- Discuss Forum URL: https://discu

[2021-06-15 14:38] ph commented on #26316
@ruflin I would consider this tech debt that needs to be cleaned?

[2021-06-15 14:45] elasticmachine commented on #26320
Pinging @elastic/integrations-services (Team:Services)

[2021-06-15 15:16] #19196 closed

[2021-06-15 16:15] elasticmachine commented on #26322
Pinging @elastic/agent (Team:Agent)

[2021-06-15 16:19] ph commented on #26322
@iorfix This was working as is in 7.10.2?

[2021-06-15 16:25] #25990 closed

[2021-06-15 16:26] andrewvc opened #26325 "[Heartbeat] Stopping adding `monitor.status` field to `step/end` events"
Synthetics step/end events should not include the `monitor.status` field as they currently do.  There is a `synthetics.step.status` field that should be used instead.

[2021-06-15 16:47] andrewvc opened #26327 "[Heartbeat] Set step status on screenshots"
It would be useful to query for screenshots based on step status. Currently screenshot documents do not contain this data. We would need to retain step status information and apply to screenshot docs as they come in from the synthetics agent.

[2021-06-15 16:47] elasticmachine commented on #26327
Pinging @elastic/uptime (Team:Uptime)

[2021-06-15 17:04] iorfix commented on #26322
It works as expected with 7.10.2, but it doesn’t work in 7.13.1

[2021-06-15 17:15] daghemo opened #26328 "[Filebeat] HTTP(S) proxy support within module azureeventhub"
The azureeventhub module found on https://github.com/elastic/beats/tree/master/x-pack/filebeat/input/azureeventhub does not support HTTP(S) proxies in order to access Azure Event Hubs.
The problem is documented on https://github.com/Azure/azure-event-hubs-go/issues/163. That is, the module uses a Go library from Microsoft, but this library does not support HTTP(S) proxies right now.

Adding proxy

[2021-06-15 17:22] #26236 closed

[2021-06-15 17:26] kaiyan-sheng commented on #26245
@christianherweg0807 Thanks for reaching out. Currently we are not supporting S3-SQS setup in two different accounts. Is there a reason why the S3 bucket and SQS queue have to be in two separate AWS accounts? We recommend setting up S3(enable bucket notification) and SQS directly without SNS in the middle.
cc @leehinman

[2021-06-15 17:44] nimarezainia opened #26329 "[Elastic Agent] Support Kafka as an output for elastic agent"
**Describe the enhancement:**
Bringing the Elastic Agent more in line with outputs supported by Beats.

**Describe a specific use case for the enhancement or feature:**

Enable customers who are using beats to send events/logs to a Kafka broker to be able to create the same environment and functionality using the Elastic Agent. Lack of this capability may be an inhibitor for the adoption of Elasti

[2021-06-15 17:45] elasticmachine commented on #26329
Pinging @elastic/agent (Team:Agent)

[2021-06-15 17:45] nimarezainia commented on #26329
https://github.com/elastic/enhancements/issues/11259

[2021-06-15 18:27] jen-huang commented on #20672
@joshdover Fleet is not using this API, we use the [saved object API](https://github.com/elastic/kibana/blob/264339e156dc10524144aaa10bba2357aad59d0b/x-pack/plugins/fleet/server/services/epm/kibana/assets/install.ts#L153) for dashboards. Looking at the Beats code today it doesn't appear that there have been any changes in this area so that API is still being used on master/8.0. cc @ph @masci - not

[2021-06-15 19:35] jakelandis commented on #26320
Getting the hot threads can be a fairly expensive operation, especially if done so every 10-30 seconds. There have been discussion about better/easier/default usage of Flight Recorder for similar troubleshooting performance.

cc @elastic/es-perf for visibility.

[2021-06-15 20:06] michel-laterman commented on #26223
I've deployed this on one of my computers in an attempt to recreate (running 7.13.2); I can't recreate the exact error message but I still get a failure:

[code]
the root of the error messages is a context cancellation; so this looks like a timing issue.
I have also added a couple of unit tests to make sure that the AST renders correctly when there is a missing variable (it does).

[2021-06-15 20:26] mostlyjason commented on #25030
@nimarezainia updated this based on the new definition, feel free to change if needed

[2021-06-15 21:55] blakerouse commented on #26213
I just installed Elastic Agent 7.13.2 on Windows Server 2008 R2 Enterprise (only 2008 Windows server I could find), and after updating the root CA's (they are so old they are out of date) I was able to download Elastic Agent and install it.

Installation was successful and the service started as expected.

[2021-06-15 22:02] blakerouse commented on #26213
@alvarolobato Can you attach the following output (the csv file) so I can review the permissions:

From Powershell (As Administrator):

`Get-ChildItem 'C:\Program Files\Elastic\Agent' | get-acl | export-csv C:\agent-perms.csv`

[2021-06-16 01:26] matschaffer commented on #26320
@felixbarny could we get similar data via apm agent profiling?

[2021-06-16 03:16] ijokarumawak opened #26335 "Diskqueue garbles data containing multi-byte characters"
- Version:  7.13.1
- Operating System:  any
- Discuss Forum URL: https://discuss.elastic.co/t/filebeat-disk-queue-messing-up-encoding/260546

I encountered the same issue that is reported at Discuss before. The post has been closed without any comments. So I investigated how disk-queue contributes to this issue.
It seems the JSON parser implemented at elastic/go-structform project is the source of

[2021-06-16 06:29] matschaffer commented on #25361
@elastic/integrations-services any updates on this issue?

[2021-06-16 07:08] felixbarny commented on #26320
Yes, we would. I've talked to @danielmitterdorfer and he was very excited about being able to use profiles from async-profiler as opposed to hot_threads, which is both inaccurate (safepoint bias, low granularity) and expensive to collect (stop-the-world pauses due to time-to-safepoint).

Java flight recorder is an option but we prefer async-profiler for more accurate profiles (such as being able t

[2021-06-16 07:10] matschaffer commented on #26320
Is there an issue that covers async-profiler support in ES? It would make sense to me to close this issue in favor of that work.

[2021-06-16 07:20] #20501 closed

[2021-06-16 07:25] ChrsMark opened #26337 "Refactor add_cloud_metadata processor to improve ECS fields handling"
We can reorganize this processor so the fetchers return the cluster data under the `cloud` name and the orchestrator data under `orchestrator`, so we don't need to make so much mangling of this meta.

_Originally posted by @jsoriano in https://github.com/elastic/beats/pull/26056#discussion_r648572922_

We could change the format of the metadata that are returned to sth like this:

[code]

With thi

[2021-06-16 07:26] elasticmachine commented on #26337
Pinging @elastic/integrations (Team:Integrations)

[2021-06-16 07:27] ChrsMark commented on #26337
@kaiyan-sheng I'm assigning this to myself but free to pick it up if you have free cycles.

[2021-06-16 07:37] felixbarny commented on #26320
There's this one: https://github.com/elastic/apm/issues/121. But we don't have an issue specifically for ES yet.

[2021-06-16 07:51] ruflin commented on #26316
Likely, I think first a discussion is needed what our expected usage is.

[2021-06-16 08:00] benqua commented on #25458
Somehow related to https://github.com/elastic/beats/issues/26294.
Any reaction from the maintainers of the project?

By the way, the fact that kafka input and output don't support the same set of feature is quite confusing.

[2021-06-16 08:11] amolnater-qasource commented on #25829
Hi @EricDavisX
We have revalidated this issue on 7.14.0 self-managed Kibana and found this issue **fixed**.

**Observations on assigning to new policy:**
- Agent remains Healthy.
- Metricbeat and other services come back in RUNNING state after reboot.

**Build details:**
[code]

Thanks
QAS

[2021-06-16 08:24] amolnater-qasource commented on #26041
Hi @EricDavisX
We will retest this once 7.13.3 will be available.

However we have validated this issue on 7.14.0 Snapshot environment and found it **fixed** there.
Agent is installed with Default Policy having System and Endpoint Security.
- Agent remains healthy after reboot.
- All binaries come back in RUNNING state.
- No impact of changing log level to debug.

Further this issue is also not ob

[2021-06-16 08:24] #26041 closed

[2021-06-16 08:37] elasticmachine commented on #26280
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-16 09:10] ndtreviv commented on #26284
On the discuss forum someone noted that the module config specified an older verison. This was because I had upgraded metricbeat on this node, but I get the same error on fresh installs with the following config:

[code]

Also this node is not master elected.

[2021-06-16 09:16] ndtreviv commented on #26314
On the discuss forum someone noted that the module config specified an older verison. This was because I had upgraded metricbeat on this node, but I get the same error on fresh installs with the following config:

[code]

[2021-06-16 11:14] dikshachauhan-qasource commented on #23205
Hi @EricDavisX

Cloud you please provide Acceptance criteria for same to validate the ticket.

Thanks
QAS

[2021-06-16 11:16] dikshachauhan-qasource commented on #23753
Hi @EricDavisX

Can you please share steps with us hoe to expire credentials and validated above scenario.

[2021-06-16 11:36] blakerouse commented on #26316
I like the idea of if `fleet.yml` exists then that will run Elastic Agent in Fleet mode. But that opens a question about the `elastic-agent.yml` file, I would think that would make that file optional when in Fleet mode.

In the case that `elastic-agent.yml` does exist Elastic Agent loads it (ignoring inputs) when a `fleet.yml` also exists. The question is what happens when `fleet.yml` is deleted a

[2021-06-16 11:45] theforcebemay commented on #5413
@elafontaine
Could you share your filebeat.yml?

[2021-06-16 12:36] st4r-fish opened #26342 "Filebeat memory usage"
Hi,

I'm trying to figure out how to limit Filebeat's memory usage. I have dozens of containers running on a VM and each of them has Filebeat in it and I have several issues with how it works now. Unfortunately, changing the queue limit has too big an impact on the performance, I don't have I/O or network bottlenecks, but as you may know, RAM is a scarce resource. I started researching this becaus

[2021-06-16 13:01] blakerouse commented on #21121
I would think the processor would overwrite the `agent.id` set on any event. But possibly leak if the overwritten `agent.id` is used in another field. In that case they would not match, but again that would be a different field and might be acceptable (if it is even used in another field).

[2021-06-16 13:22] elasticmachine commented on #24849
Pinging @elastic/agent (Team:Agent)

[2021-06-16 13:42] EricDavisX commented on #23067
@ph @ferullo As the ECS versions are allowed to be different, although we do attempt to keep the version used fairly current should we just close this I guess?

That is, unless there is immediate action we need to take or process enhancement / documentation to make on either side.

[2021-06-16 13:50] rahul799 opened #26345 "[Filebeat] Getting Unable to hash given config: missing field accessing '0.vpcflow' Error while configuring Filebeat using gcp module"
I am trying to setup Filebeat using [this](https://cloud.google.com/architecture/exporting-stackdriver-logging-elasticsearch#configure_the_module) documentation, but whenever I try to start Filebeat, it gives me an error

`Unable to hash given config: missing field accessing '0.vpcflow' `

I have attached my gcp.yaml file below
[code]
I also executed `sudo filebeat test config -e` and it seems tha

[2021-06-16 13:51] ferullo commented on #23067
Oh worry, I never commented back. Endpoint was bumped to 1.6.0. I agree with you though Eric, from what I understand, I don't think there is a reason that all data providers managed by Agent need to set the same ECS version. In fact, I wouldn't consider it a bug if the ECS version is different for different documents generated by the same source (e.g. Endpoint). AFAIK the ECS version only applies

[2021-06-16 14:04] #17467 closed

[2021-06-16 14:13] ruflin commented on #23067
I think it is totally fine that different inputs use different versions of ECS. In the future I expect it will be the integration that defines the ECS version it uses and not the input so things might diverge further.

We should aspire to use the most recent version of ECS in all the places we control.

[2021-06-16 14:30] mitcham opened #26347 "[Filebeat][Sophos] Secure syslog enhancement"
**Describe the enhancement:**
Currently the Sophos module supports ingesting logs via udp (default) or tcp.
As of SFOS 18, Sophos XG firewalls support sending logs via udp or secure syslog (TLS)
**Describe a specific use case for the enhancement or feature:**
Allows logs to be send via public networks while keeping them hidden

[2021-06-16 15:38] rubenmachado commented on #14933
Thank you Marcus,

This was just what I was looking for. I was struggling with the cisco.ios module, because of the way the logs were being listed. The only way I could search it was by looking to the "log.source.address" which still was a pain in the ass. Instead of giving an straight IP Address, it always returns with the IP Address with a random port attached (X.X.X.X:1234). Now it's way easier

[2021-06-16 16:21] michel-laterman commented on #26223
It looks like the agent I have running on my windows machine started in local mode

[2021-06-16 16:33] cehaletx commented on #26213
Had the customer run the following:
Get login

	  .\Administrator

Get acl

Directory: C:\Program Files\Elastic
Path Owner                 Access
---- -----                 ------
Agent BUILTIN\Administrators NT SERVICE\TrustedInstaller Allow FullControl...

PS C:\AccessChk> ./accesschk.exe "NT AUTHORITY\SYSTEM" -q -d "C:\Program Files\Elastic\Agent"

Accesschk v6.13 - Reports effective permission

[2021-06-16 16:34] cehaletx commented on #26213
Also added a Support Case: 00743726 for this customer 1800 Contacts, they are a POC/Trial which should be at least $25k that's in jeopardy...

[2021-06-16 16:38] cehaletx commented on #26213
[agent-perms.csv](https://github.com/elastic/beats/files/6664504/agent-perms.csv)

[2021-06-16 16:50] mostlyjason commented on #26101
@ph @jen-huang this looks like a bug but I'm not sure whether its on the fleet side or elastic agent side. I'd expect the agent to be unenrolled gracefully and then transition to the inactive state.

Its not super urgent because there is a workaround to force unenroll the agent. Perhaps its something to keep in our queue to clean up?

[2021-06-16 16:57] alvarolobato commented on #26213
@blakerouse
[agent-perms.csv](https://github.com/elastic/beats/files/6664627/agent-perms.csv)

[2021-06-16 17:04] cehaletx commented on #26213
@michalpristas added some of the data you asked for, also tried running the agent in Debug from CLI here is the out put log, nothing special, Fleet shows agent as healthy, but no data still:
[debug.txt](https://github.com/elastic/beats/files/6664652/debug.txt)

[2021-06-16 17:26] ajosh0504 opened #26351 "[Filebeat] Threat Intel field for the abuseurl fileset in the threatintel module does not match the docs"
According to the [docs](https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-module-threatintel.html), the Threat Intel field corresponding to the full URL for the `abuseurl` fileset in the `threatintel` module is `threat.indicator.url.full`.

However, I enabled the `threatintel` module for filebeat for some testing I was doing and the ingested documents don't have the  `threat.indicato

[2021-06-16 17:27] elasticmachine commented on #26351
Pinging @elastic/siem (Team:SIEM)

[2021-06-16 17:59] peasead commented on #26351
I think the issue might be here (for `{abuseurl,misp,otx,anomali}/ingest/pipeline.yml`:
[code]

[2021-06-16 18:07] michel-laterman commented on #26223
My above comments indicate expected behaviour when installing the agent on windows. I'm unable to recreate the issue on a windows 10 (64bit) instance.

[2021-06-16 19:38] kaiyan-sheng commented on #26337
@ChrsMark It's all yours!! Thank you!!

[2021-06-16 19:59] EricDavisX commented on #23753
@dikshachauhan-qasource hi, I don't know.  we'll have to research it.  First step is to define what tests we want to run.  Can you start working a list, and we'll get engineering to sign off on each (and we can test and verify behavior, too).

- [ ] when Fleet Server is enrolled / installed with missing, required param --fleet-server-es an error is put into the Fleet Server (or Agent?) log file
-

[2021-06-16 20:37] EricDavisX commented on #23205
@ph @blakerouse I will pass the request on to you!  If you wish to cite AC we can test against along with notes on which parts are already covered in Unit or e2e tests that would be nice.

[2021-06-16 20:38] elasticmachine opened #26353 "Flaky Test [Build&Test / filebeat-build / TestDefaultHarvesterGroup – github.com/elastic/beats/v7/filebeat/input/filestream/internal/input-logfile]"
## Flaky Test

* **Test Name:** `Build&Test / filebeat-build / TestDefaultHarvesterGroup – github.com/elastic/beats/v7/filebeat/input/filestream/internal/input-logfile`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2FPR-26352/detail/PR-26352/1/
* **PR:** #26352
* **Commit:** 77c2967e52b9b7369f142de259a11e03689f7a33

### Error details
[code]

### Stack Tr

[2021-06-16 21:53] michel-laterman commented on #26223
I was not able to recreate on a v7.13.2 cluster or a v7.13.0 cluster

[2021-06-17 01:10] EricDavisX commented on #25940
Another mention in slack today of users who want to set up a Fleet Server in the local intranet and then one separately on a DMZ (low side) from Patrick Boulanger @pboulanger74

[2021-06-17 06:14] dikshachauhan-qasource commented on #23067
Hi @EricDavisX @ruflin @ferullo

Thanks for the Feedback on current behavior. As per above feedback we are closing this out.

[2021-06-17 06:14] #23067 closed

[2021-06-17 06:36] maarsaks commented on #25827
Okay, I've updated the [repo](https://github.com/maarsaks/elk-docker-compose) with the `pipline.json` that you provided and I have the same issue (from the repo that I've created for reproducing).

[2021-06-17 08:04] P1llus commented on #22780
Some quick updates on this, sorry for the silence here.
The 7.13.2 filebeat module has an update for this: https://github.com/elastic/beats/pull/26164

For the package(fleet version), it will come out with a requirement of 7.14, as the package has some features that it is required for. This can be followed here: https://github.com/elastic/integrations/pull/1136

The current implementation will cop

[2021-06-17 08:34] ChrsMark commented on #24707
There is an open PR related to this: https://github.com/elastic/beats/pull/26308

[2021-06-17 09:11] elasticmachine commented on #26347
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-17 09:25] narph opened #26356 "Windows - perfmon - some performance counters do not retrieve any values if there are too many pdh calls"
We've seen an example where retrieving MCS4 core counter values had no issues but when configuring a longer list of MCS4 counters then no values were returned.
The win 32 apis returned no errors.
Looking into https://docs.microsoft.com/en-us/windows/win32/api/pdh/nf-pdh-pdhcollectquerydataex might help here.

[2021-06-17 09:25] elasticmachine commented on #26356
Pinging @elastic/integrations (Team:Integrations)

[2021-06-17 12:24] urso commented on #26239
Checking the Jenkins logs, we see that the environment variables (PLATFORM, PACKAGES) are set create an arm docker image for :

[code]

The `mage package` in the agent directory either seems to ignore the environment varialbe, or does not pass it along properly:

[code]

Not sure if this is a typo, or if we really try to build an x86 image here.

The command to cross compile filebeat for ARM event

[2021-06-17 12:46] blakerouse commented on #26213
In both cases it looks like the permissions are wrong for the following files:

* elastic-agent.yml
* fleet.yml
* fleey.yml.old

Might though here is maybe you started Elastic Agent from the extracted directory then proceeded with installation and that is what caused the issue?

Can you try to perform the following to see if it fixes it:

[code]

Copy the backup `elastic-agent.yml.$timestamp.yml`

[2021-06-17 13:04] alvarolobato commented on #26213
Thanks @blakerouse  adding the system permissions to those files fixed it for me, without having to enroll again.

[2021-06-17 13:07] alvarolobato commented on #26213
It stopped again, I'll do the full test you are asking, will come back here later.

[2021-06-17 13:33] ndtreviv commented on #26284
The same error happens on version:
`metricbeat version 7.13.2 (amd64), libbeat 7.13.2 [686ba416a74193f2e69dcfa2eb142f4364a79307 built 2021-06-10 21:16:02 +0000 UTC]`

[2021-06-17 13:57] kaiyan-sheng opened #26357 "GCP billing reports wrong account ID"
Thank you @fxdgear for pointing out that the account ID in events reported by `gcp.billing` is not the actual account ID. It is using project ID instead.

[2021-06-17 13:57] elasticmachine commented on #26357
Pinging @elastic/integrations (Team:Integrations)

[2021-06-17 14:08] andrewkroh commented on #21121
Then would you be OK if I went ahead with opening a PR to add in the processor to overwrite the `agent.id` value?

[2021-06-17 14:23] P1llus commented on #26351
That seems to be correct, I will see if I can push a change for this soon!
Thanks for the report, much appreciated! 👍

[2021-06-17 14:23] elasticmachine commented on #26351
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-17 14:40] ph commented on #21121
@Andrew Kroh ***@***.***> Yes that would be great!

On Thu, Jun 17, 2021 at 10:08 AM Andrew Kroh ***@***.***>
wrote:

--
--
ph

[2021-06-17 17:56] michalpristas commented on #26239
linking fix we have for
[code]

[2021-06-17 20:39] Kosmonafft commented on #6084
Are there any updates on that? Still does not work on 7.12.1

[2021-06-17 20:40] alvarolobato commented on #26213
@blakerouse I followed the steps above and same result. The two yamls lost the system permissions and the service fails to start.

Find the ACLs attached.

If I add the permissions to the files it still fails. I didn't get it to run before, it was just that it took a while to fail.
I deleted all the log files to capture new ones but no log files are generated when run from the service as SYSTEM, t

[2021-06-17 20:52] andrewvc commented on #26205
I've spent quite a bit of time looking at this, and it seems to be very specific to windows, and quite likely a bug in the windows timer impl in golang. Though it's hard to say for sure. Will report back next week.

[2021-06-17 20:53] andrewvc commented on #26205
Is this failing enough that we should disable the test @jalvz / @andrewkroh ?

[2021-06-18 02:20] SilvM opened #26360 "Improve timestamp processor millis"
**Describe the enhancement:**
Improve timestamp processor so that the separator can be characters other than `.` or `,`.
Sometimes other symbols are used to separate milliseconds from seconds (e.g. `:`).

This current limitation should also be made clear in the documentation, that due to the go time package it's not possible ([Ref](https://github.com/golang/go/issues/6189))

**Describe a specific

[2021-06-18 08:42] jamiehynds opened #26363 "Update Cyberark XSLT File"
Our current Cyberark PAS module + integration includes a syslog translation (xslt) file. Based on feedback from Cyberark and their end users, they suggested we update the file to capture unusual characters to ensure all characters are captured during command line auditing performed by Cyberark and forwarded to us. They suggested we updated our file to represent non-printable chars by “0x<charHexRe

[2021-06-18 08:42] elasticmachine commented on #26363
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-18 08:50] ndtreviv commented on #26314
I had some sporadic shard monitoring data come into my monitoring cluster the past couple of nights, and it correlates with status changes.

In other words: I only got updated shard data when a shard changed status.

So now I'm wondering whether this is a feature of the shard metricset?

It's not clear in the documentation at all, and it's incompatible with my grafana dashboards, unfortunately. Bu

[2021-06-18 09:49] michalpristas commented on #25583
@dikshachauhan-qasource can we plan on retesting this one?

[2021-06-18 10:19] dikshachauhan-qasource opened #26364 "[Question:]Unable to deploy Functionbeat due to lack of permission"
**Functionbeat Deployment issue:**
As we are unable to update the user permissions for aws  due to lack of permissions, hence unable to validate functionbeat installation.

To run Functionbeat, we need to update aws_access_key as per steps shared in user guide. We tried to look for same at location shown in below screenshot. However, due to unavailability of required info we are unable to validate

[2021-06-18 10:52] ndtreviv commented on #26314
Someone has confirmed on the discuss group that this is the case. This then becomes a documentation issue on the metricbeat shard metricset page - much easier to resolve!

[2021-06-18 11:02] mostlyjason opened #26365 "[Elastic Agent] Better error message for self-signed certificates"
We've gotten quite a few slack and discuss issues for certificate problems because the instructions are not clear. When the user follows the in-product installation instructions for Fleet server on a self-managed cluster, they see this error message when they attempt to install an Elastic Agent:

[code]

This error message leaves the user stuck and without clear guidance on what to do next. The co

[2021-06-18 11:02] elasticmachine commented on #26365
Pinging @elastic/agent (Team:Agent)

[2021-06-18 11:03] dikshachauhan-qasource opened #26366 "Unable to view data in discover tab for heartbeat"
Link followed: https://www.elastic.co/guide/en/beats/libbeat/current/beats-reference.html

Artifact links used: https://artifacts.elastic.co/downloads/beats/heartbeat/heartbeat-7.13.2-linux-x86_64.tar.gz

- Followed steps in guide and made required changes as mentioned.
- Download the heartbeat and extracted the artifacts.

Then ran below commands:
[code]

Yml file: [heartbeat_yml.txt](https://git

[2021-06-18 11:04] elasticmachine commented on #26366
Pinging @elastic/agent (Team:Agent)

[2021-06-18 11:04] elasticmachine commented on #26366
Pinging @elastic/fleet (Team:Fleet)

[2021-06-18 11:04] dikshachauhan-qasource commented on #26366
@manishgupta-qasource Please review

[2021-06-18 11:08] mostlyjason opened #26367 "[Elastic Agent] Provide link to troubleshooting guide on fatal errors"
Can we please provide a link to the troubleshooting guide when Elastic Agent exits with a fatal error? This will help users identify the cause of the problem and how to fix, as well as links to our github repos and discuss forums.

The current error says:
[code]

Can we add a link here to help people fix their problem?
[code]

[2021-06-18 11:08] elasticmachine commented on #26367
Pinging @elastic/agent (Team:Agent)

[2021-06-18 11:12] ruflin commented on #26365
We could also add a link to the docs. I would prefer not to directly recommend users to use `--insecure`, otherwise it is likely to stay in. Users that use this flag should really understand what it means.

[2021-06-18 12:21] ChrsMark commented on #25237
An interesting related one: https://github.com/elastic/k8s-dev/issues/271 (cc: @MichaelKatsoulis )

[2021-06-18 12:21] dikshachauhan-qasource opened #26369 "Unable to view data in discover tab for journalbeat"
Link followed: https://www.elastic.co/guide/en/beats/libbeat/current/beats-reference.html

Artifact links used: https://artifacts.elastic.co/downloads/beats/heartbeat/journalbeat-7.13.2-linux-x86_64.tar.gz

-Download the heartbeat and extracted the artifacts.

Commands used:
[code]

**Journalbeat observations:**
- unable to install journalbeat with provided steps at user guide.
yml file: [journalb

[2021-06-18 12:21] elasticmachine commented on #26369
Pinging @elastic/fleet (Team:Fleet)

[2021-06-18 12:22] dikshachauhan-qasource commented on #26369
@manishgupta-qasource Please review

[2021-06-18 12:31] dikshachauhan-qasource commented on #24849
Hi @EricDavisX

We have tried to reproduce these on latest shipped GA 7.13.2 build and reported 03 separate issues for each as per your feedback with details such as guide link and steps used. Links for reported issues are as follows:

- https://github.com/elastic/beats/issues/26366
- https://github.com/elastic/beats/issues/26364
- https://github.com/elastic/beats/issues/26369

For Functionbeat, I

[2021-06-18 12:31] #24849 closed

[2021-06-18 12:43] manishgupta-qasource commented on #26366
Reviewed & Assigned to @EricDavisX

[2021-06-18 12:44] manishgupta-qasource commented on #26364
Reviewed & Assigned to @EricDavisX

[2021-06-18 12:44] manishgupta-qasource commented on #26369
Reviewed & Assigned to @EricDavisX

[2021-06-18 13:04] vibhutisawant commented on #23918
Hi @andresrc, Any update on this?

[2021-06-18 13:44] dikshachauhan-qasource commented on #25583
Hi @michalpristas

I have revalidated this issue on windows 7 at latest 7.14 snapshot build and found it **Fixed.**

**Observations made:**
- Agent logs got generated under agent logs tab.
- Endpoint folder was available at host.
- Logging level was set to debug. elastic endpoint YAML file: [elastic-endpoint[win7].txt](https://github.com/elastic/beats/files/6677343/elastic-endpoint.win7.txt)
- Hos

[2021-06-18 13:53] manarth opened #26372 "[Filebeat] Syslog RFC5424 messages cannot be parsed on the first 9 days of each month"
- **Version**: 7.13.2
- **Operating System**: Linux

# Steps to Reproduce

* Configure a syslog input using rfc5424:

[code]

* Receive a syslog message specifying a date during the first 9 days of the month:

[code]

* What happens?

An error message is reported

* What's expected to happen?

# Cause

See https://github.com/elastic/beats/blob/v7.13.2/filebeat/input/syslog/parser/syslog_rfc5424.rl

[2021-06-18 18:59] legoguy1000 commented on #25827
So looking at the repo u created I found some issues.

1. `/usr/share/filebeat/module/haproxy/log/ingest/pipline.json`: you misspelled pipeline.
2. You have YAML in a json file
3. The file you want to overwrite is `/usr/share/filebeat/module/haproxy/log/ingest/pipeline.yml`

As such your test isn't actually loading the new pipeline.  Please validate that the correct pipeline is loaded by going to

[2021-06-18 20:15] jalvz commented on #26205
I'm a very occasional contributor, only saw it once.

[2021-06-21 06:51] jsoriano opened #26378 "Flaky Test [Extended / filebeat-macos-macosx&&x86_64 / test_rotating_file – filebeat.tests.system.test_registrar.Test]"
## Flaky Test

* **Test Name:** test_rotating_file
* **Link:** https://github.com/elastic/beats/blob/6347d455ead8b9af6bf8a49eaa9615f0e44d21e2/filebeat/tests/system/test_registrar.py#L278
* **Branch:** master/7.x
* **Notes:** Seems to be flaky in OSX only.

### Stack Trace

[code]

[2021-06-21 06:51] elasticmachine commented on #26378
Pinging @elastic/agent (Team:Agent)

[2021-06-21 07:35] amolnater-qasource opened #26490 "[Fleet]: No logs available for agents under agent "Logs" tab."
**Kibana version:** 7.14.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** Windows 10, All

**Build Details:**
[code]

**Preconditions:**
1. 7.14.0 Snapshot Kibana cloud environment should be available.
2. Agent must be installed with Default policy having System Integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agents> agent "Logs" tab,
3. Ob

[2021-06-21 11:28] jamiehynds opened #26383 "Update Palo Alto docs with supported sources"
From 7.14 our Palo Alto module will support additional log sources including [GlobalProtect](https://docs.paloaltonetworks.com/pan-os/9-1/pan-os-admin/monitoring/use-syslog-for-monitoring/syslog-field-descriptions/globalprotect-log-fields/globalprotect-log-fields-for-pan-os-913-and-later-releases.html#id5795bd71-1dc5-4f82-872d-a9ba6cb7cedf), [HIP Match](https://docs.paloaltonetworks.com/pan-os/9-1

[2021-06-21 11:28] elasticmachine commented on #26383
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-21 12:34] urso commented on #25341
@ph @blakerouse Do we have an update for this issue?

[2021-06-21 13:04] abraxxa commented on #12563
@Elastic: please check if this problem still exists, for me 7.13 seems to have finally fixed this issue but I also have changed metricbeat_writer rights which might also have been a problem.

[2021-06-21 13:20] mostlyjason commented on #14454
@ph I believe this is the same issue as https://github.com/elastic/beats/issues/14454? If so, can we close this one?

[2021-06-21 13:39] kwinstonix opened #26385 "[MetricBeat] [AWS] if the number of resources is a multiple of 50, there is no tags field in the event"
## the problem
I found a strange problem of AWS cloudwatch module,  there are some EC2 instances cross some regions, but sometimes metricbeat event of some region has no tags.   I can query tags with aws CLI `aws resourcegroupstaggingapi`, then I think there is some bug in the logic of querying tags.

- Version: 7.13
- Operating System: linux
- Steps to Reproduce:

    * Some AWS resource's amount

[2021-06-21 13:56] #14454 closed

[2021-06-21 14:02] ruflin commented on #26137
@michalpristas Can this one be closed? As far as I can see, PR related to it has been merged.

[2021-06-21 14:30] michalpristas commented on #26223
took over this bug

[2021-06-21 14:55] elasticmachine commented on #26335
Pinging @elastic/agent (Team:Agent)

[2021-06-21 16:01] fxdgear opened #26390 "Azure Billing Module updates"
**Describe the enhancement:**

The azure billing module is currently dependent upon stability of the module and time, and is subject to inaccuracies if the beat is restarted.

To expand upon this the beat is dependent upon stability and time.

**Dependency on time** - The beat currently queries the Azure api for billing data for the "last 24" time period, then stores those values. The dashboard is

[2021-06-21 16:37] andrewvc opened #26391 "[Heartbeat] Fix null pointer in per-monitor SSL setting"
Per https://discuss.elastic.co/t/heartbeat-panic-error-using-ssl-verification-mode-none/276396 heartbeat will crash when a config does not explicitly set `enabled: <value>` in a nested SSL block. See the config below for example:

[code]

[2021-06-21 17:43] DennisRasey commented on #25059
Thank you for the explanation!

There really wasn't an issue with the size increase.
I was simply "surprised" by it and thought it might be a mistake once I saw the "extra" directories within the image.

[2021-06-21 17:43] #25059 closed

[2021-06-21 19:04] cdavid15 commented on #22207
Just to chime in here but expanding on the heartbeat http auth support for enterprise logins such as NTLM and Kerberos would be a good and welcome addition.

I am currently trying to figure out how to add monitors to http services which are protected by Kerberos and NTLM and my current thinking is we are likely to need to send the requests via a proxy which is far from ideal.

[2021-06-21 19:27] #25240 closed

[2021-06-21 20:00] ph opened #26396 "[Meta] Mac M1 Support"
Before starting the following we need to answer how we are supporting m1 mac, there are two way we can do this.

1. Different binary and packages.
2. A universal binary, with a quick search this might be possible. https://dev.to/thewraven/universal-macos-binaries-with-go-1-16-3mm3

----

1. Allow beats to compile for m1 machine, we have recently updated to Go 1.16.x that was blocking this effort.

[2021-06-21 20:00] elasticmachine commented on #26396
Pinging @elastic/agent (Team:Agent)

[2021-06-21 20:08] elasticmachine commented on #26385
Pinging @elastic/integrations (Team:Integrations)

[2021-06-21 20:12] elasticmachine commented on #26345
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-21 20:27] n0othing opened #26397 "[Docs] Add example of using templating with hints based autodiscover"
**Describe the enhancement:**

It's possible to use [autodiscover templating](https://www.elastic.co/guide/en/beats/filebeat/current/configuration-autodiscover.html) + [hints based autodiscover](https://www.elastic.co/guide/en/beats/filebeat/current/configuration-autodiscover-hints.html) together in a single Filebeat configuration. I don't think this is very clear in the docs, and it might be help

[2021-06-21 20:31] elasticmachine commented on #26342
Pinging @elastic/agent (Team:Agent)

[2021-06-21 20:53] andrewkroh commented on #26345
I can reproduce the issue on 7.13.2.

As a workaround it works if you inline the gcp config in the main filebeat.yml as

[code]

[2021-06-21 21:11] #26182 closed

[2021-06-21 21:35] andrewvc opened #26398 "[Heartbeat] 'complete' Agent image (synthetics deps included)"
Takes over from https://github.com/elastic/beats/issues/22932

This issue covers the creation of a new elastic agent docker image that contains larger dependencies that would not be a good fit for the baseline elastic agent image. Specifically this covers the dependencies needed for synthetics which significantly increase the size of the agent image. While alternate approaches such as auto downloa

[2021-06-21 21:35] elasticmachine commented on #26398
Pinging @elastic/uptime (Team:Uptime)

[2021-06-21 21:36] andrewvc commented on #26153
For now, this is on pause in favor of https://github.com/elastic/beats/issues/26398 which will cover our needs for some time. I'm going to leave this open because we will probably pursue this in the future

[2021-06-21 21:43] MattRamsey commented on #14508
any status on this one ?  seems like a natural fit given recent press about Elastic and Confluent's ongoing partnerships...

[2021-06-21 22:05] andrewkroh commented on #26345
Removing `${path.config}` also appears to fix the problem.

[2021-06-22 01:55] elasticmachine commented on #26372
Pinging @elastic/agent (Team:Agent)

[2021-06-22 01:56] kaiyan-sheng commented on #26372
@manarth Thank you so much for reporting this issue. Seems like we need better testing to catch this issue. Do you mind creating a PR to fix this since you already got your suggested fix _ready_? TIA!

[2021-06-22 01:57] elasticmachine commented on #26397
Pinging @elastic/obs-docs (Team:Docs)

[2021-06-22 02:05] kaiyan-sheng opened #26401 "Filebeat aws-cloudwatch input missing logs"
When aws-cloudwatch input is running, user found out there are several logs missing in between timestamp 09:53:56 to 09:54:07.

The previous collection had a 1-minute sleep from 09:53:08 to 09:54:08. Then Filebeat wakes up, starts querying for logs from `startTime=09:52:57` to `endTime=09:54:08`. It reported logs from 09:53:04 to 09:53:55. Then it went to sleep for 1 minute from 09:54:18 to 09:55:

[2021-06-22 02:05] elasticmachine commented on #26401
Pinging @elastic/integrations (Team:Integrations)

[2021-06-22 06:26] longpan commented on #4333
Add "-strict.perms=false" in filebeat.service. It exact work for me.

![image](https://user-images.githubusercontent.com/5399632/122874499-a3e84d00-d365-11eb-987c-250a793e5eec.png)

`[Unit]
Description=Filebeat sends log files to Logstash or directly to Elasticsearch.
Documentation=https://www.elastic.co/products/beats/filebeat
Wants=network-online.target
After=network-online.target

[Service]

En

[2021-06-22 09:16] #19315 closed

[2021-06-22 09:18] lloydmeta commented on #25762
https://github.com/elastic/beats/pull/25760 was merged, so I'm guessing this can be closed?

[2021-06-22 10:41] mostlyjason commented on #26365
@ruflin the message says its a self-signed certificate and that its insecure. What else should they know?

I suggested adding a link to the docs here https://github.com/elastic/beats/issues/26367

I filed another issue to mention `--insecure` in our docs since it won't work without it https://github.com/elastic/observability-docs/issues/802

I also filed an issue that will remove the need to add t

[2021-06-22 11:12] ruflin commented on #26365
I see your point Jason and don't have a great alternative suggestion. I'm mostly worried about that at some point users will used it and later discover it and and mention: but this is what was recommended to do ...

[2021-06-22 11:40] legoguy1000 commented on #25827
@maarsaks we're u able to retest again? If we don't hear anything we're going to go ahead and merge the changes as they pass all the tests with the log samples you provided.

[2021-06-22 11:53] legoguy1000 commented on #26357
@kaiyan-sheng if u haven't already worked this, I can get a PR in for this today.

[2021-06-22 12:10] maarsaks commented on #25827
Thank you.
Those logs that I provided are working.

But there's more :/
These aren't working:

[code]

[2021-06-22 12:25] michalpristas commented on #25583
thanks @dikshachauhan-qasource
@EricDavisX can we close this one then

[2021-06-22 12:27] michalpristas commented on #26137
i wanted to test it with cloud before closing, but  i guess if it does not work i will just create a bug

[2021-06-22 12:27] #26137 closed

[2021-06-22 12:36] legoguy1000 commented on #25827
So the module isn't setup to parse the first half of those logs, the server/status messages. As for the 2nd half, they look like they're the same as what I just added so I can take a quick look.

[2021-06-22 13:34] ferullo commented on #25021
Many users need a proxy when they are at home but when they are in the office cannot use that proxy. Is it correct that Agent/Beats/Endpoint should all try to use the proxy when they can but also try direct connections if using the proxy doesn't work?

[2021-06-22 13:35] alvarolobato commented on #26213
@blakerouse let me know if you need anything else from me

[2021-06-22 14:03] urso commented on #25021
Beats/Agent are not aware of environment changes. Beats will not fallback if the proxy is not available (proxy support is handled by the net/http package).

Regarding the laptop use-case I would assume it is more about VPN?

[2021-06-22 15:13] vigneshshanmugam commented on #25201
closed by https://github.com/elastic/synthetics/pull/311

[2021-06-22 15:13] #25201 closed

[2021-06-22 15:29] andrewkroh commented on #26345
So it appears to be an issue resolving the `path.config` variable from separately loaded module.d yaml files. When `HashConfig` executes it cannot resolve `path.config` and you get the error above.

https://github.com/elastic/beats/blob/23e4403ae093fcc8f7905345cad2c7ad256976d8/libbeat/cfgfile/list.go#L157-L164

I tried injecting the variable info the loaded config via `config.SetString("path.confi

[2021-06-22 15:31] elasticmachine commented on #26353
## Flaky Test

* **Test Name:** `Build&Test / filebeat-build / TestDefaultHarvesterGroup – github.com/elastic/beats/v7/filebeat/input/filestream/internal/input-logfile`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2F7.x/detail/7.x/733/
* **PR:** None
* **Commit:** c3b060f889059a1435b56259f6ecb230fe5c0cde

### Error details
[code]

### Stack Trace
[code]

[2021-06-22 15:32] ferullo commented on #25021
OK. For consistency, Endpoint can support only using a proxy when a a proxy is configured. Since the Endgame product (shared code) has code to swap between proxy and no proxy it will be easy for us to do that if Agent/Beats ever add support for it. Just let us know.

We found some Endgame customers configured their networking such that a proxy, not a VPN, is needed when the user is outside the off

[2021-06-22 15:45] bradenlpreston commented on #25021
It a good call to keep them consistent. I would guess that implementing the fallback will come up as a near term enhancement request.

[2021-06-22 16:03] ph commented on #25940
@blakerouse This seems to be a recurrent issue could you take a look? The report date a few weeks ago but the last comment from Eric is from last week.

Not sure what is the issue is here, we need to take a serious investigation at hi @nimarezainia @urso @ruflin

[2021-06-22 16:09] #25734 closed

[2021-06-22 16:22] #25583 closed

[2021-06-22 16:37] ph commented on #26365
As @ruflin pointed out, I am also worried to return use `--insecure` in the error messages.
Do we agree to do https://github.com/elastic/beats/issues/26367  instead, if we agree we could close this one?

I do not think we can detect correctly the detect  "self signed scenario", the `certificate signed by unknown authority` is a real common error and it clearly demonstrates a problem in the chain o

[2021-06-22 16:39] #21121 closed

[2021-06-22 16:40] ph commented on #26367
@nimarezainia This seems like a low effort, high reward type of issue, I presume we want to redirect the users to the documentation of the current version. @dedemorton is there any prior art in other products for this?

[2021-06-22 16:53] faec commented on #26372
Thanks for the report! I'll get a fix together, no worries :-)

[2021-06-22 17:11] dedemorton commented on #26367
@ph That's a good question. I'm not aware of any products that do this, but I think it's a good idea. The main challenges are:

1. Providing a link that is versioned. We don't want users on older versions of the product ending up in the current docs.
2. Validating the link. Links get stale over time; we need to make sure links embedded in the product get validated somehow.

[2021-06-22 17:35] kuisathaverat commented on #26239
workaround to not build x86 binaries on ARM hosts https://github.com/elastic/beats/pull/26387, this also generates a Docker image only with the Elastic Agent binary.

[2021-06-22 17:48] ph commented on #25030
Elasticsearch issues at https://github.com/elastic/elasticsearch/pull/74180 merged in master, backported to 7.x

Fleet Server backport issue https://github.com/elastic/fleet-server/pull/472

[2021-06-22 17:50] ph commented on #23205
@blakerouse I know we have discussed this together, wdyt if @michel-laterman take it over?

[2021-06-22 17:54] ph commented on #25341
Could this be similar to issue described in https://github.com/elastic/beats/issues/25940  ?

[2021-06-22 17:56] #23753 closed

[2021-06-22 23:22] #25669 closed

[2021-06-23 00:23] legoguy1000 commented on #25827
These logs parsed no problem. I think a separate discussion should be have for the other logs.

[2021-06-23 03:05] kaiyan-sheng commented on #26357
@legoguy1000 Thank you so much for the contribution!

[2021-06-23 07:40] ndtreviv opened #26429 "Add json.* config support in the aws-cloudwatch input"
filbeat config:
[code]

Cloudwatch logs:
<img width="1125" alt="Screenshot 2021-06-23 at 08 36 43" src="https://user-images.githubusercontent.com/1530653/123056043-6552a100-d3fe-11eb-99c7-85f0c3e5503c.png">

Indexed logs:
[code]

I would have expected the json.* properties to kick in, the message field (which is all json) to be parsed as json and the resulting object keys to be put on the document

[2021-06-23 08:18] adriansr opened #26430 "[Palo Alto/panw.panos] Support Syslog RFC5424"
Panos devices can send logs in RFC5424 (newer syslog) format, but the module is hardcoded to rfc3164 (older syslog).

Currently the only workaround is to edit the `module/panw/panos/config/input.yml` file and enable the new RFC with the `format` config option for syslog input (added by https://github.com/elastic/beats/pull/23954):

[code]

We should expose this configuration via a module setting o

[2021-06-23 09:08] willemdh commented on #26383
Please also update the supported versions. Version 10.x is not listed, when can we expect the module to work for the latest panw version?

[2021-06-23 09:20] kaiyan-sheng opened #26431 "Flaky Test [Build&Test / x-pack/auditbeat-build / x-pack.auditbeat.tests.system.test_system_socket.Test.test_connected_udp_ipv4]"
## Flaky Test

* **Test Name:** test_system_socket
* **Link:** https://github.com/elastic/beats/blob/master/x-pack/auditbeat/tests/system/test_system_socket.py#L60
* **Branch:** master
* **Artifact Link:** https://beats-ci.elastic.co/job/Beats/job/beats/job/master/lastFailedBuild/

### Stack Trace

[code]

[2021-06-23 09:20] elasticmachine commented on #26431
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-23 09:22] elasticmachine commented on #26429
Pinging @elastic/integrations (Team:Integrations)

[2021-06-23 09:26] kaiyan-sheng commented on #26205
Thank you Andrew for disabling this test temporarily. This test also failed in 7.x branch for the last build: https://beats-ci.elastic.co/job/Beats/job/beats/job/7.x/lastFailedBuild/testReport/junit/github/com_elastic_beats_v7_heartbeat_scheduler_timerqueue/Build_Test___heartbeat_windows_windows_2019___TestQueueRunsInOrder/

[2021-06-23 09:30] kaiyan-sheng opened #26432 "Flaky Test [Build&Test / metricbeat-pythonIntegTest / metricbeat.module.logstash.test_logstash.Test.test_node_stats]"
## Flaky Test

* **Test Name:** test_logstash.Test.test_node_stats
* **Link:** https://github.com/elastic/beats/blob/a78436b3b986da8957451ce767721822cf4129c7/metricbeat/module/logstash/test_logstash.py#L28
* **Branch:** 7.x
* **Artifact Link:** https://beats-ci.elastic.co/job/Beats/job/beats/job/7.x/lastFailedBuild/testReport/junit/metricbeat.module.logstash.test_logstash/Test/Build_Test___metricb

[2021-06-23 09:31] kaiyan-sheng commented on #26432
Maybe this is related to https://github.com/elastic/beats/issues/25043 ?

[2021-06-23 09:31] elasticmachine commented on #26432
Pinging @elastic/stack-monitoring (Stack monitoring)

[2021-06-23 09:31] elasticmachine commented on #26432
Pinging @elastic/integrations (Team:Integrations)

[2021-06-23 09:33] stephank opened #26435 "Filebeat AWS ELB ingest fields differ from Kibana Observability"
Previous discussion: https://discuss.elastic.co/t/aws-elb-ingest-pipeline-bug/276356
All Elastic Stack components are on version 7.13.2.

It looks like the AWS ALB support in the Filebeat AWS module produces `http.request.referrer` in its ingest pipeline, while Kibana Observability (such as the Logs section) expects `url.*` fields to be set (probably via `uri_parts`).

Currently, the Kibana Logs s

[2021-06-23 09:39] kaiyan-sheng commented on #26189
Is this by any chance related to https://github.com/elastic/beats/issues/26142?

[2021-06-23 09:52] kaiyan-sheng commented on #26435
Hi @stephank , thanks for creating the issue here. Do you have a sample log from ELB (something like https://github.com/elastic/beats/blob/master/x-pack/filebeat/module/aws/elb/test/elb-http.log) that we can use to test the new grok pattern?

[2021-06-23 09:52] elasticmachine commented on #26435
Pinging @elastic/integrations (Team:Integrations)

[2021-06-23 10:08] elasticmachine commented on #149
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-23 10:10] elasticmachine commented on #3008
Pinging @elastic/integrations (Team:Integrations)

[2021-06-23 10:13] amolnater-qasource commented on #25940
Hi @EricDavisX
We have revalidated this issue on 7.14.0 Snapshot and found it not reproducible today.
- Agents installed with Default fleet server agent after setting multiple other Fleet Servers remains Healthy.

**Build details:**
[code]

Hence we are closing this out. However, if in further testing we observed this issue again we will reopen this.

Thanks
QAS

[2021-06-23 10:13] #25940 closed

[2021-06-23 10:13] elasticmachine commented on #26189
Pinging @elastic/agent (Team:Agent)

[2021-06-23 10:33] mdelapenya opened #26437 "[Integrations] MSSQL server image is outdated"
Running x-pack/metricbeat system-tests fails because the `2017-GA` tag does not exist anymore. Instead, it's been replaced with `2017-GA-ubuntu`

- Docker Hub: https://hub.docker.com/_/microsoft-mssql-server
- See the available tags here: https://mcrflowprodcentralus.data.mcr.microsoft.com/mcrprod/mssql/server?P1=1624445408&P2=1&P3=1&P4=H4w0lWyvxuvd60C1%2B6N6XJO2pSitpSmMrnB%2F%2FNm%2BM0w%3D&se=202

[2021-06-23 10:33] elasticmachine commented on #26437
Pinging @elastic/integrations (Team:Integrations)

[2021-06-23 10:34] mdelapenya commented on #26437
I'm currently testing the new image tag and eventually sending a fix

[2021-06-23 10:40] elasticmachine commented on #26076
Pinging @elastic/agent (Team:Agent)

[2021-06-23 10:45] yerome27 commented on #25596
The issue is that Functionbeat on Cloud Function cannot handle more than one message/event. On the first event received everything will go smoothly, on the second event received by the same instance of cloud function, Functionbeat will always panic crash. One ugly workaround is to setup the cloud function to retry after a crash. GCP will spawn a new cloud function instance after a crash so the eve

[2021-06-23 10:45] kuisathaverat commented on #26239
I finally manage to build the arm64 dependencies at https://github.com/elastic/beats/pull/26415

[2021-06-23 10:59] jsoriano commented on #26437
Thanks @mdelapenya. We could also add the `supported-versions.yml` file so the image is cached and this doesn't causes issues in the future.

[2021-06-23 11:04] dnz-wseabrook commented on #25249
Just noting this is something we're looking for too

[2021-06-23 11:30] amolnater-qasource commented on #26101
Hi @mostlyjason
We have reproduced this issue on 7.14.0 Snapshot with different steps.
- Uninstalled elastic-agent (installed with default policy having System and endpoint security) with .\elastic-agent uninstall command.
- Agent went offline from Kibana UI and then we triggered Unenroll agent from Kibana UI.
- We observed that agent is stuck in "Updating" state.

**Screenshot:**
![6](https://use

[2021-06-23 11:32] legoguy1000 commented on #26435
@kaiyan-sheng My interpretation of this from the forum was that the current sample logs are the same that is what we already have, just that the URL that's being parsed shouldn't be the referrer but the actual request.

[2021-06-23 12:11] elasticmachine commented on #9268
Pinging @elastic/agent (Team:Agent)

[2021-06-23 12:14] elasticmachine commented on #15830
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-23 12:16] elasticmachine commented on #17126
Pinging @elastic/integrations (Team:Integrations)

[2021-06-23 12:17] elasticmachine commented on #25129
Pinging @elastic/integrations (Team:Integrations)

[2021-06-23 12:17] elasticmachine commented on #25130
Pinging @elastic/integrations (Team:Integrations)

[2021-06-23 12:18] elasticmachine commented on #26353
Pinging @elastic/agent (Team:Agent)

[2021-06-23 12:28] jsoriano commented on #25799
Hey @cocotyty,

We prefer to keep Github for confirmed bugs and enhancement requests, and use https://discuss.elastic.co/ for questions and to confirm bugs.

I am going to close this issue for this reason, but we can reopen it  if we confirm that this is a bug.

It is not completely clear to me what is the whole configuration with the problem, and the whole configuration without the problem. You m

[2021-06-23 12:28] #25799 closed

[2021-06-23 12:30] elasticmachine commented on #25800
Pinging @elastic/stack-monitoring (Stack monitoring)

[2021-06-23 12:30] elasticmachine commented on #25800
Pinging @elastic/integrations (Team:Integrations)

[2021-06-23 12:31] elasticmachine commented on #25801
Pinging @elastic/integrations (Team:Integrations)

[2021-06-23 12:32] legoguy1000 commented on #26435
PR submitted

[2021-06-23 12:54] ndtreviv commented on #26429
In case it helps, the logging was written by a springboot application using the following logging config:

[code]

[2021-06-23 13:21] elasticmachine commented on #25827
Pinging @elastic/integrations (Team:Integrations)

[2021-06-23 13:22] elasticmachine commented on #25830
Pinging @elastic/uptime (Team:Uptime)

[2021-06-23 13:22] elasticmachine commented on #25830
Pinging @elastic/obs-docs (Team:Docs)

[2021-06-23 13:22] elasticmachine commented on #25830
Pinging @elastic/integrations (Team:Integrations)

[2021-06-23 13:25] elasticmachine commented on #25840
Pinging @elastic/integrations (Team:Integrations)

[2021-06-23 13:27] kwinstonix commented on #26385
@kaiyan-sheng ,  I opened a PR to fix this.  Could you help me review it ?

[2021-06-23 13:28] jsoriano commented on #25840
@simioa thanks for reporting this! I think you are right, `NewDBClient` should close the connection if it fails to ping. Would you like to open a PR with your fix?

[2021-06-23 13:31] ChrsMark commented on #25801
Hi @rdrgporto !

I just checked the module (v7.9.3 of Metricbeat) on v1.21.1 using kind and it works fine from what I've seen so far.

Some questions for you:
1. Why you set `/var/run/secrets/kubernetes.io/serviceaccount/ca.crt` as the certificate? This file file most probably doesn't exit and since you setting `ssl.verification_mode: none` then there is no need for define a certificate.
2. What e

[2021-06-23 13:42] blakerouse commented on #26101
@amolnater-qasource That is expected behavior. If you uninstall the Elastic Agent from the host it does not unenroll from Kibana. Then when you trigger the Unenroll (not Force Unenroll) Kibana triggers and action for the Elastic Agent to unenroll, but at this point your Elastic Agent is already uninstalled and not running so it will never receive the action.

If you perform uninstall then want to

[2021-06-23 13:45] kaiyan-sheng commented on #26385
Yes!! Thank you so much for the PR! Will review it shortly!!

[2021-06-23 13:49] blakerouse commented on #25341
I don't have an update for this issue. We need to determine how we want to improve the status command.

An approach to providing stability to this command would be to add debouce to healthy reporting. Basically requiring that healthy be reported for an X amount of time before actually saying internally that Elastic Agent is healthy.

[2021-06-23 13:53] pgayvallet commented on #14196
Reopening. See https://github.com/elastic/beats/issues/20672, this is still required, and the deadline is getting close.

[2021-06-23 13:55] andrewkroh commented on #25249
This feature has been implemented for 7.14.0. There's a refactoring PR open that could change the config format.

- PR: https://github.com/elastic/beats/pull/25710
- Refactoring to use parsers: https://github.com/elastic/beats/pull/25873
- Tentative Docs for 7.14: https://www.elastic.co/guide/en/beats/filebeat/7.x/filebeat-input-aws-s3.html#input-aws-s3-multiline

[2021-06-23 13:55] #25249 closed

[2021-06-23 13:55] pgayvallet commented on #20672
@ph @masci  @jen-huang  The `8.0` deadline is getting close, and we'd really like some visibility on when this will be planned for.

cc @kobelb

[2021-06-23 14:00] elasticmachine commented on #25855
Pinging @elastic/agent (Team:Agent)

[2021-06-23 14:00] kvch commented on #23627
@rsdrakh I have uploaded a test deb package here: https://drive.google.com/file/d/1uo1EZZ1GCexv9svWUe-LJAjEmtv9tFt7/view?usp=sharing

Please do not use it in production!

[2021-06-23 14:25] jsoriano commented on #12563
This is expected, but it is important to notice that `metricbeat-7.0.1`/`metricbeat-7.8.0` are not indexes, but aliases that point to the actual indexes whose names match with the template pattern. These indexes are managed by ILM, what also updates the alias when a new write index is created.
On a new installation, or after an upgrade, you will see that you have an alias `metricbeat-<version>`, a

[2021-06-23 14:25] #12563 closed

[2021-06-23 14:29] elasticmachine commented on #14209
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-23 14:33] elasticmachine commented on #25922
Pinging @elastic/agent (Team:Agent)

[2021-06-23 14:34] jsoriano commented on #25929
Hey @manning23,

Could you please open a new topic in https://discuss.elastic.co? This is probably a better place for questions, we prefer to keep Github issues for confirmed bugs or enhancement requests.

Thanks!

[2021-06-23 14:34] #25929 closed

[2021-06-23 14:44] jsoriano commented on #25966
Hey @jbrunetext,

We try to keep github for bugs and enhancement requests, could you please open a topic in https://discuss.elastic.co/c/elastic-stack/beats/28 to continue discussing what could be happening?

If we confirm that this is an issue in Metricbeat, we can reopen this issue, or if it is an issue in the helm charts you can report it in https://github.com/elastic/helm-charts.

Thanks!

[2021-06-23 14:44] #25966 closed

[2021-06-23 15:02] jsoriano commented on #25978
Hey @cameronkerrnz,

I am not sure of what could be a good approach to implement something like this in the PostgreSQL module, but filebeat already has some features that could help you.

[`exclude_lines`](https://www.elastic.co/guide/en/beats/filebeat/7.13/filebeat-input-log.html#filebeat-input-log-exclude-lines) can be use to exclude log lines, you can use this feature to filter out lines that y

[2021-06-23 15:02] #25978 closed

[2021-06-23 15:03] elasticmachine commented on #25978
Pinging @elastic/integrations (Team:Integrations)

[2021-06-23 15:03] #25984 closed

[2021-06-23 15:11] elasticmachine commented on #25995
Pinging @elastic/integrations (Team:Integrations)

[2021-06-23 15:12] elasticmachine commented on #26014
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-23 15:16] #19260 closed

[2021-06-23 15:18] #25827 closed

[2021-06-23 15:19] jsoriano commented on #26154
Hey @OranShuster,

I can think on two possible workarounds at the moment for this.

Use the [script processor](https://www.elastic.co/guide/en/beats/filebeat/current/processor-script.html) to dedot the object or do any other transformation to prevent these issues.

Store the result of `decode_json_fields` in a field of type [`flattened`](https://www.elastic.co/guide/en/elasticsearch/reference/7.13

[2021-06-23 15:19] elasticmachine commented on #26154
Pinging @elastic/agent (Team:Agent)

[2021-06-23 15:19] elasticmachine commented on #26154
Pinging @elastic/integrations (Team:Integrations)

[2021-06-23 15:28] jsoriano commented on #26155
Hey @yaakov-berkovitch,

I think this is more a question about Kafka, but it may worth to investigate this.

In general, when clients connect to kafka, they receive a set of advertised addresses from the brokers, and they must reconnect to one of these addresses. In your case your kafka broker should be configured to advertise the `tcp-proxy-ip:9094` address. I am not sure if there is some other w

[2021-06-23 15:28] elasticmachine commented on #26155
Pinging @elastic/integrations (Team:Integrations)

[2021-06-23 15:30] OranShuster commented on #26154
its not clear from the `flattened` docs how it will handle these types of inputs
 for a document such as
[code]
we will have 2 leaf nodes - `app` and `label`?
so in order to get the first field i will use doc['app'].value
but for the label field i will use doc['app.v1.label`].value? will that work?

i think i will go with the script processor route as it will give me more predictable results

Than

[2021-06-23 15:41] elasticmachine commented on #26156
Pinging @elastic/integrations (Team:Integrations)

[2021-06-23 15:44] ferullo opened #26447 "7.13.1 Agent is not signed for macOS"
I checked, both 7.13.0 and 7.13.2 are signed for macOS but 7.13.1 is not. I wouldn't expect 7.13.1 to be retroactively signed but figured I'd open an issue in case it's lack of a signature is unknown and the is a release process that needs looking in to.

[2021-06-23 15:45] jsoriano commented on #26157
Closing this issue and following up in discuss. Thanks!

[2021-06-23 15:45] #26157 closed

[2021-06-23 15:47] elasticmachine commented on #26163
Pinging @elastic/integrations (Team:Integrations)

[2021-06-23 15:48] elasticmachine commented on #26166
Pinging @elastic/agent (Team:Agent)

[2021-06-23 15:52] jsoriano commented on #26191
Hey @94192448,

What version of Elasticsearch are you using? The error seems to indicate that it doesn't support the [`constant_keyword` field type](https://www.elastic.co/guide/en/elasticsearch/reference/7.13/keyword.html#constant-keyword-field-type), introduced in 7.9.

[2021-06-23 15:52] elasticmachine commented on #26191
Pinging @elastic/agent (Team:Agent)

[2021-06-23 15:58] elasticmachine commented on #26199
Pinging @elastic/agent (Team:Agent)

[2021-06-23 15:58] elasticmachine commented on #26203
Pinging @elastic/agent (Team:Agent)

[2021-06-23 15:59] elasticmachine commented on #26239
Pinging @elastic/agent (Team:Agent)

[2021-06-23 16:00] elasticmachine commented on #26249
Pinging @elastic/agent (Team:Agent)

[2021-06-23 16:00] elasticmachine commented on #26264
Pinging @elastic/agent (Team:Agent)

[2021-06-23 16:00] elasticmachine commented on #26325
Pinging @elastic/uptime (Team:Uptime)

[2021-06-23 16:01] elasticmachine commented on #26328
Pinging @elastic/integrations (Team:Integrations)

[2021-06-23 16:05] jsoriano commented on #26360
Hey @SilvM,

Thanks for reporting, do you have an example of an application that generates this kind of timestamps?

I think we would need to discuss what would be the better approach to fix or document this, taking into account the possible use cases.

[2021-06-23 16:05] elasticmachine commented on #26360
Pinging @elastic/obs-docs (Team:Docs)

[2021-06-23 16:05] elasticmachine commented on #26360
Pinging @elastic/agent (Team:Agent)

[2021-06-23 16:05] elasticmachine commented on #26364
Pinging @elastic/agent (Team:Agent)

[2021-06-23 16:09] elasticmachine commented on #26391
Pinging @elastic/uptime (Team:Uptime)

[2021-06-23 16:09] andrewstucki commented on #26014
I'd have to delve into the protocol a bit more to see what we _should_ be doing here, but it looks like we're failing to `nil` check this case properly:

https://github.com/elastic/beats/blob/a300f1bcbccce1c54cfb41c08d5e88cab18c87c0/packetbeat/protos/memcache/memcache.go#L344-L347

Here's the code from the included stacktrace.

First, the call to `newTransaction` and subsequently passing a potenti

[2021-06-23 16:22] jsoriano commented on #26154
`flattened` allows to store objects with members with any name, including names with dots. But it doesn't work from the root document, it needs to be used as a named field.

You cannot do that, but if you define for example a `kubernetes_audit` field as `flattened`, you can have this document:

And then in principle you can access to these fields as `doc['kubernetes_audit.app']` and `doc['app.v1.l

[2021-06-23 16:26] OranShuster commented on #26154
I guess you meant here `doc['kubernetes_audit.app.v1.label']`.
This clarifies things about how this field is processed.
While i don't think ill use it, its a good option to know

[2021-06-23 16:37] elasticmachine commented on #26447
Pinging @elastic/agent (Team:Agent)

[2021-06-23 16:56] #26185 closed

[2021-06-23 17:07] ferullo opened #26452 "Agent possibly fills up disk with logs"
A Discuss user reported that when using Agent+Endpoint their disk filled up with log files. They resolved the issue before reaching out so don't have the exact path that logs were saved to.

https://discuss.elastic.co/t/elastic-agent-filling-up-disk-space-with-logs-disaster/276668/4?u=ferullo

In their response, they only remembered the path `"C:\Program Files\Elastic....\logs"`, which could be an

[2021-06-23 17:16] andresrc commented on #8086
This no longer applies starting with version 7.13 closing.

We introduced a check into the default distribution of Beats several years ago, as a simple way to check that the expected features would be available, so we could have good defaults that take advantage of all the free and open features in Elasticsearch, like ILM, new data types in Elasticsearch required by the Elastic Common Schema, inte

[2021-06-23 17:16] #8086 closed

[2021-06-23 18:28] faec opened #26454 "[build] Some files required by make check aren't updated by make update"
As discovered in https://github.com/elastic/beats/pull/26419, some files that can cause `make check` to fail aren't updated on `make update`, as in the following output:

[code]

`filebeat/input/syslog/format_check.go` is the only file where I've seen this so far, though there may be others. To reproduce, edit `format_check.go` and change the indentation level of some line so that it fails the lin

[2021-06-23 18:28] elasticmachine commented on #26454
Pinging @elastic/agent (Team:Agent)

[2021-06-23 20:47] andrewvc commented on #26205
@kaiyan-sheng it's been backported to 7.x as of this morning, so that shouldn't happen again (if you merge the latest 7.x in): https://github.com/elastic/beats/pull/26425

[2021-06-23 21:55] andrewkroh opened #26456 "Nomad auto-discover uses Debugf incorrectly"
The nomad auto-discover provider invokes the `logp.Logger`'s `Debugf` with an incorrect set of arguments. I noticed two of them, but I recommend doing a quick audit of the rest of the usages in the package to make sure they are all fixed.

[code]

Version: `filebeat version 8.0.0 (arm64), libbeat 8.0.0 [0ae157ed7c4341035371655cbf426e2f071bc178 built 2021-06-23 21:01:19 +0000 UTC]`

[2021-06-23 21:55] elasticmachine commented on #26456
Pinging @elastic/integrations (Team:Integrations)

[2021-06-23 23:12] jen-huang opened #26457 "[Elastic Agent] Report running processes and their health statuses"
This is related to https://github.com/elastic/kibana/issues/75236 and https://github.com/elastic/kibana/issues/99068, both of which are longer-term efforts around enabling more granular status reporting of "integrations" that are running on Elastic Agent. But Agent has no concept of integrations, only which inputs/processes are running.

Still, reporting that information is useful and would get us

[2021-06-23 23:12] elasticmachine commented on #26457
Pinging @elastic/agent (Team:Agent)

[2021-06-23 23:47] jen-huang commented on #25030
Both of the above PRs are merged and backported so I think this can be closed now 🎉

[2021-06-23 23:47] #25030 closed

[2021-06-24 02:36] matschaffer commented on #25800
I'm pretty new to metricbeat based monitoring, but why do you have `monitoring.enabled: false` set here?

[2021-06-24 02:36] matschaffer commented on #25800
oh, I see. that's what https://www.elastic.co/guide/en/beats/filebeat/current/monitoring-metricbeat-collection.html has you do

[2021-06-24 02:47] matschaffer commented on #26432
@kaiyan-sheng sorry if this info is obvious and I'm just missing this but how would I run this test in a way I can also directly see the data it's trying to check?

[2021-06-24 05:25] jonas27 commented on #17515
Hi, is containerd socket supported now?

[2021-06-24 05:58] ruflin commented on #25030
@blakerouse @ph Do we have any e2e tests in place for this?

[2021-06-24 06:22] amolnater-qasource commented on #26101
Hi @blakerouse
Thank you for the feedback on observations shared at https://github.com/elastic/beats/issues/26101#issuecomment-866758507

Yes we are able to unenroll uninstalled elastic-agent with Force Unenroll.

Thanks
QAS

[2021-06-24 07:32] elasticmachine commented on #26452
Pinging @elastic/agent (Team:Agent)

[2021-06-24 07:46] tsigouris007 commented on #13501
@ycombinator I read the whole thread and while somewhat related it's not the same issue and this does not fix this particular problem. The thread is about the rollover alias while this one happens when you delete an index.

[2021-06-24 07:51] jsoriano commented on #26432
@matschaffer when this test fails, it prints to stdout the checked events, I am not sure why this doesn't appear in the [report](https://beats-ci.elastic.co/job/Beats/job/beats/job/PR-26461/1/testReport/junit/metricbeat.module.logstash.test_logstash/Test/Build_Test___metricbeat_pythonIntegTest___test_node_stats/), but it appears in the [full logs](https://beats-ci.elastic.co//blue/rest/organizatio

[2021-06-24 07:59] david-kow opened #26462 "When using Elastic Agent container command, setting FLEET_CA doesn't work if FLEET_SERVER_ENABLE is set"
When using `./elastic-agent container`, `FLEET_CA` setting doesn't work if also `FLEET_SERVER_ENABLE` is set (tested on `7.13.0`):

`2021-06-17T15:09:27.327Z        INFO    [api]   api/server.go:66        Stats endpoint (/usr/share/elastic-agent/state/data/tmp/elastic-agent.sock) finished: accept unix /usr/share/elastic-agent/state/data/tmp/elastic-agent.sock: use of closed network connection
Erro

[2021-06-24 08:09] SilvM commented on #26360
it turns out the application that caused me trouble was using log4j but while looking into this I saw plenty of people complaining about the go package not having more flexibility for the separator.

I'd say, if the implementation wouldn't be too complicated, it would be worth for Beats especially since we don't always have the ability to adapt the log format and it would bring it up to Logstash l

[2021-06-24 08:59] rdrgporto commented on #25801
Hi @ChrsMark,

1. Sorry, my mistake 🙈.
2. I have run the command and it shows metrics about the pods. However, I have not metrics about **memory.availableBytes** and more metrics like **network**.

I have attached a .zip ([kubelet-metrics.zip](https://github.com/elastic/beats/files/6707744/kubelet-metrics.zip)) in which you can compare metrics between **Kubernetes 1.20.6 and Kubernetes 1.21.1**. I

[2021-06-24 09:02] amolnater-qasource commented on #26177
Hi @EricDavisX
We have revalidated this by upgrading 7.13.2 released agent on 7.14.0 Snapshot Kibana and observed that agent goes "Unhealthy".

However we haven't observed this issue for Snapshot agent(as shared under https://github.com/elastic/beats/issues/26177#issuecomment-861436077) for which we have closed this issue.
Could you please confirm if we don't expect released agent to upgrade to sn

[2021-06-24 09:06] erenming opened #26464 "Filebeat OOM when encounter a huge docker partial log"
Hi, all!
I have found a special scenario. I use filebeat as an daemon process to collect docker log which use docker-json engine, it works pertty well at most time.
But, when a container print a huge log message, for example 50M, and docker will split it to 3200 partial lines(each partial size is 16KB).
And this will result a huge memory usage in code `libbeat.reader.readjson.docker_json.go`.
[cod

[2021-06-24 09:09] jsoriano commented on #26360
Well, Filebeat seems to use [time.ParseInLocation()](https://github.com/elastic/beats/blob/1d9cced55410003f5d0b4594ff5471d15a4e2900/libbeat/processors/timestamp/timestamp.go#L201) directly, so in principle anything supported by go should be supported by Filebeat too.

[2021-06-24 09:15] jsoriano commented on #26360
Maybe an option is to add support for jodatime in this processor https://github.com/tengattack/jodatime

[2021-06-24 11:52] MichaelKatsoulis commented on #25801
Hi @rdrgporto !

Thanks for the reply.

Indeed kind only uses docker runtime. I tested with minikube with option  `minikube start --kubernetes-version=v1.21.1 --container-runtime=containerd` which betters simulates your environment.

I can still get all metrics from kubelet including memory and network stats. Here(
[kubernetes-1.21.1-containerd-1.4.6.json.zip](https://github.com/elastic/beats/file

[2021-06-24 12:10] elasticmachine commented on #26462
Pinging @elastic/agent (Team:Agent)

[2021-06-24 12:12] elasticmachine commented on #26464
Pinging @elastic/agent (Team:Agent)

[2021-06-24 12:58] mostlyjason commented on #26457
@kevinlog What kind of health status info do you want reported? I saw you have policy response data that seems to indicate whether its running successfully. I suppose that only covers initialization, not if the endpoint becomes unhealthy later?

[2021-06-24 15:11] jasonrhodes opened #26480 "Separate "Metricbeat index updates" from "xpack.enabled fork removal""
In this PR: https://github.com/elastic/beats/pull/19747, we outlined a number of requirements for Stack Monitoring data collection.

Points (1) and (2) mentioned here involve making sure that the various Stack Monitoring Metricbeat modules store data "correctly" when `xpack.enabled: false` (the default value), i.e. using ECS paths for all necessary fields and stored in the `metricbeat-*` indices.

[2021-06-24 15:57] neu5ron commented on #16072
creating recent activity, not sure should be closed as stale - still exists.

[2021-06-24 16:47] #26437 closed

[2021-06-24 16:57] #25689 closed

[2021-06-24 17:16] #12436 closed

[2021-06-24 17:43] elasticmachine commented on #26490
Pinging @elastic/agent (Team:Agent)

[2021-06-24 17:43] EricDavisX commented on #26490
If I had to guess, I'd say this is Agent side - so I transfered it from Kibana to Beats repo.

[2021-06-24 18:33] EricDavisX commented on #26364
Hi - team, I will defer to Andres overall for if Functionbeat manual test is needed now.  But since you've started, I think we clearly have a lacking bit of Docs somewhere or a worse bug, so at a minimum we can track that down use this or log a separate ticket for any follow up.

[2021-06-24 18:34] urso commented on #26457
@mostlyjason don't we already have another meta-issue regarding status reporting?

[2021-06-24 18:57] EricDavisX commented on #26177
This absolutely is a bug, the Agent upgrade is fairly simple in this regards - it looks at the Kibana version and uses the existence or lack -SNAPSHOT in the name to determine what to upgrade to, nothing else is involved.

Having said that - other bugs may be logged for the problem, this may be just one of many scenarios where a 'restart' usage of Agent isn't working.  If the bug exists in older v

[2021-06-24 19:00] #26033 closed

[2021-06-24 19:13] EricDavisX commented on #26366
@urso @andresrc can you help triage / follow up if this can be real?  @dikshachauhan-qasource I know we have run into issues with Beats testing in the past, did we review all the notes / lessons learned prior while testing this?

Also, the 'Fleet' team is the Kibana UI side folks, I'll push it to 'Agent' team.

[2021-06-24 20:11] elasticmachine commented on #26369
Pinging @elastic/agent (Team:Agent)

[2021-06-24 20:12] EricDavisX commented on #26369
this seems likely related to https://github.com/elastic/beats/issues/26366 for heartbeat - but maybe not.

[2021-06-24 20:44] EricDavisX commented on #25030
closing the loop: Blake reports in slack they are well tested in Fleet-Server repo.

[2021-06-24 21:25] EricDavisX commented on #26101
Just confirming, since the above was with different steps it is a different issue and not the same as what is reported here.  If the original steps are still a problem it can be considered as clean up work

[2021-06-24 22:26] #26435 closed

[2021-06-24 23:01] kevinlog commented on #26457
@mostlyjason

Endpoint will periodically update its Policy Response if there are meaningful events that change Endpoint's compliance with how the user configured it, so it could change during its lifecycle.

@ferullo could give more details on when this may happen.

[2021-06-25 02:09] michaelhyatt opened #26497 "Functionbeat ignores default region - only deploys to us-east-1 (AWS)"
For confirmed bugs, please report:
- Version: 7.13.2
- Operating System: Darwin
- Discuss Forum URL: https://discuss.elastic.co/t/functionbeat-ignores-default-region-only-deploys-to-us-east-1-aws/276002
- Steps to Reproduce: Follow the setup instructions to deploy to any AWS region other than us-east-1

Deployment works fine with 7.12.1

[2021-06-25 02:57] michaelhyatt opened #26499 "Functionbeat to support multiline message handling"
**Describe the enhancement:**
It will be useful to be able to support multiline messages handling in functionbeat similar to how filebeat supports them.

**Describe a specific use case for the enhancement or feature:**
CloudWatch logs can have multilines and it will be useful not to have to parse them using ingest pipelines.

[2021-06-25 06:27] rdrgporto commented on #25801
Hi, @MichaelKatsoulis

I tested with **Minikube** and it worked. Nevertheless, I had to install **Docker** in order to launch **Minikube** ([drivers](https://minikube.sigs.k8s.io/docs/drivers/)).

I realised that when **Docker** is not installed in the machine, **Kubelet** does not get all metrics. So that, I installed **Kubernetes 1.21.1 with Docker** and it worked, **Kubelet** get all metrics. I

[2021-06-25 14:18] legoguy1000 opened #26504 "Modules using RSA converter are setting Scalar fields to Arrays"
Per this conversation with @andrewkroh, https://github.com/elastic/beats/pull/24620#discussion_r658790229, we found that the RSA conversion tool is setting scalar fields like `destination.ip` and `source.ip` to arrays.  This then causes issues for processors like `add_network_direction` because it has not logic to handle an array input.

[2021-06-25 15:35] #26357 closed

[2021-06-26 22:16] #12666 closed

[2021-06-26 22:16] #11696 closed

[2021-06-28 00:56] rjnienaber commented on #3008
Correct me if I'm wrong but the only difference I can see between `INFO`, `INFO default` and `INFO all` is that `INFO all` adds values for `cmdstat_command` and `cmdstat_info`.

[code]

[code]

[2021-06-28 01:08] matschaffer commented on #26480
All 3 of those examples seem to say that there's a point in time past which kibana will not display data collected using older mechanisms.

This is surprising to me since I would have expected aliases on the old data to make them available via the new indices/fields.

What am I missing here that requires a hard cut-over? And if we indeed need a hard cut, are we preparing something the user can use

[2021-06-28 06:06] elasticmachine commented on #20672
Pinging @elastic/agent (Team:Agent)

[2021-06-28 06:07] elasticmachine commented on #14196
Pinging @elastic/agent (Team:Agent)

[2021-06-28 07:32] amolnater-qasource commented on #26101
Hi @EricDavisX
Yes, this issue is still **reproducible**.
- Fleet Server agent is stuck in updating state on triggering unenrollment from Kibana UI.

**Build details:**
[code]

Thanks
QAS

[2021-06-28 07:32] amolnater-qasource commented on #26177
Hi @EricDavisX
We have revalidated this issue and we are still able to reproduce this on 7.14.0 Snapshot Kibana cloud environment.
Please find below the logs attached for the same.

**Logs:**
[logs-elastic-agent-1fd6b2.zip](https://github.com/elastic/beats/files/6724130/logs-elastic-agent-1fd6b2.zip)
[logs-elastic-agent-686ba4.zip](https://github.com/elastic/beats/files/6724131/logs-elastic-agent-

[2021-06-28 08:29] ruflin commented on #25341
If I remember correctly, one issue in the past was that Elastic Agent was healthy but then goes to unhealthy state again when updating the policy. If this is the case, I'm not sure this is expected as the Elastic Agent itself is still healthy. Something similar was the case during the fleet-server self enrollment. What is our expected behaviour if the health status of the Elastic Agent if a subpro

[2021-06-28 08:45] dikshachauhan-qasource commented on #26366
Hi @EricDavisX

Keeping in all learnings from past and on following steps mentioned in guide, we have attempted to install beats.

It could be great if agent team can follow up and let us know if still we are missing anything.

Thanks
QAS

[2021-06-28 08:59] merlixelastic opened #26513 "[Fleet]: when upgrading an agent, it fails because of existing simlink elastic-agent.exe.prev"
**Kibana version:** 7.12.1

**Host OS:** Windows 10 x64

**Steps to reproduce:**
Try an upgrade Elastic Agent from 7.12.0 to 7.12.1 (triggered from Kibana). However it fails due to error: "failed verification of agent binary: 2 errors occurred".

In particular, we see this error:

[code]

**Expected result:** Successful upgrade

**Actual result:** Failed upgrade

**Workaround:** Delete the .prev s

[2021-06-28 08:59] elasticmachine commented on #26513
Pinging @elastic/agent (Team:Agent)

[2021-06-28 10:04] amolnater-qasource opened #26518 "Logs Data for "elastic_agent" dataset not generated by Agent"
**Kibana version:** 7.14.0 Snapshot Kibana self-managed environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 Snapshot Kibana self-managed environment should be available.
2. Elastic Agent must be installed with Default Fleet Server Policy having Fleet Server integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate

[2021-06-28 10:04] elasticmachine commented on #26518
Pinging @elastic/agent (Team:Agent)

[2021-06-28 10:04] amolnater-qasource commented on #26518
@manishgupta-qasource Please review.

[2021-06-28 10:12] robin13 opened #26519 "Collect pipeline stats from logstash"
**Describe the enhancement:**

Currently the metricbeat logstash module collects only the Event Stats under the `node_stats` metric. It would be useful for analysing logstash pipeline performance to also collect the pipeline stats:
https://www.elastic.co/guide/en/logstash/current/node-stats-api.html#pipeline-stats

[2021-06-28 10:50] Sara-cos commented on #25181
Same error in windows power shell
`Exiting: 2 errors: Error setting up ML for nginx_ecs: 10 errors: ; ; ; ; ; ; ; ; ; ; Error setting up ML for apache_ecs: 10 errors: ; ; ; ; ; ; ; ; ;`

and I was using the 14 days trial version

[2021-06-28 10:56] Sara-cos commented on #25181
Same error in windows power shell
`Exiting: 2 errors: Error setting up ML for nginx_ecs: 10 errors: ; ; ; ; ; ; ; ; ; ; Error setting up ML for apache_ecs: 10 errors: ; ; ; ; ; ; ; ; ;`

and I was using the trial version

[2021-06-28 11:22] manishgupta-qasource commented on #26518
Reviewed & Assigned to @EricDavisX

[2021-06-28 13:09] blakerouse commented on #26213
@alvarolobato When you say it lost the permissions again, do you mean a re-install removed them? or just the service is running and its reseting the permissions?

[2021-06-28 13:14] alvarolobato commented on #26213
The re-install removed the permissions.

[2021-06-28 13:17] blakerouse commented on #26213
Okay I think that Elastic Agent needs to improve its acl setting to ensure that the SYSTEM user is placed on those files.

I think to make it even better Elastic Agent install process should recursively reset the permissions to all files under `C:\Program Files\Elastic\Agent` to ensure that SYSTEM and Administrators have the only permissions. Then that would solve this issue and other issuers wher

[2021-06-28 13:24] blakerouse commented on #25030
This is well tested in an integration test in Fleet Server repository. It adds a policy with `unenroll_timeout` set and adds an Elastic Agent that has missed the checkin window > then the `unenroll_timeout` and it ensures that it unenrolls that Elastic Agent and invalidates it keys. The tests also ensures that other Elastic Agents that don't match the criteria are not unenrolled.

If we want to te

[2021-06-28 13:29] christianherweg0807 commented on #26245
Hmm, we have multiple fanouts for these messages from SNS  to SQS (for logging) or other SQS Queues for "other usecases".
For this the devolpment teams have these SNS Queues and S3 buckts in there Accountss and every usecase subscribes to this topic with it´ss own SQS queue.

[2021-06-28 13:39] mdelapenya commented on #26205
I'm seeing this same error with a PR rebased with today's master: https://github.com/elastic/beats/pull/26209

CI job: https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats/detail/PR-26209/13/tests

Test error:
[code]

[2021-06-28 13:57] #21528 closed

[2021-06-28 14:13] MichaelKatsoulis commented on #25801
Hi @rdrgporto,

Out of curiosity I set up a Kubernetes cluster on GKE (Google Kubernetes Engine) version 1.21.1 with containerd
[gke-cluster-runtime.zip](https://github.com/elastic/beats/files/6726816/gke-cluster-runtime.zip)

I then performed a `curl`  to get Kubelet metrics and I actually got them all as you can see in the file.
[gke-1.21.1-containerd.json.zip](https://github.com/elastic/beats/f

[2021-06-28 14:37] EricDavisX commented on #26518
@amolnater-qasource can you attach the policy the Agent was on?  I don't want to make assumptions, please.  It may be the expected result - but maybe not, the policy will help inform.  Thank you.

[2021-06-28 15:05] #26335 closed

[2021-06-28 15:29] erenming commented on #26464
So, is there any different opinion? I have fixed it on our fork, and would like to make a PR for this.

[2021-06-28 16:01] jsoriano opened #26536 "Fix test_dashboards in x-pack metricbeat"
See https://github.com/elastic/beats/pull/26526

Failure seems to be caused by `Metricbeat-aws-billing-overview.json` dashboard.

Can be reproduced with the following command from `x-pack/metricbeat`.
[code]

Trace:
[code]

[2021-06-28 16:05] elasticmachine commented on #26536
Pinging @elastic/integrations (Team:Integrations)

[2021-06-28 16:47] wjordan opened #26538 "Nomad autodiscover event missing task fields"
#### Description
Using `${data.nomad.task.name}` in a Nomad autodiscover config template (following the documentation examples) results in an invalid template reference error. The variable can currently only be accessed via `${data.meta.nomad.task.name}`, which is inconsistent with the current documentation.

There is some previous discussion in https://github.com/elastic/beats/pull/26498#discussi

[2021-06-28 17:05] nimarezainia opened #26539 "[Elastic Agent] Uniquely Identify a Host End Point"
**Describe the enhancement:**
There are many use cases where an Elastic Agent needs to be uniquely identified and persistent across disruptions. One of the main use cases is for us to be able to reconcile the logs and events data in Elasticsearch for an agent that goes through these transitions. By uniquely identifying a host end point we should be able to recognize whether the host had previously

[2021-06-28 17:05] elasticmachine commented on #26539
Pinging @elastic/agent (Team:Agent)

[2021-06-28 17:22] #26462 closed

[2021-06-28 17:28] ph commented on #26464
@urso @kvch WDYT? Did we solve that with the filestream input?

[2021-06-28 18:02] fearful-symmetry commented on #16958
This is a good reminder, this is on the board for 7.15.

[2021-06-28 19:30] gemaliano opened #26544 "[Docs] Filebeat at least once delivery clarification for different inputs"
**Describe the enhancement:**
Update docs to clarify that at least once delivery is only for input file log.
https://www.elastic.co/guide/en/beats/filebeat/current/how-filebeat-works.html#at-least-once-delivery

Clarification if we have at least once delivery for other inputs:
https://www.elastic.co/guide/en/beats/filebeat/current/configuration-filebeat-options.html

[2021-06-28 19:30] elasticmachine commented on #26544
Pinging @elastic/obs-docs (Team:Docs)

[2021-06-28 19:42] mostlyjason commented on #26457
@kevinlog Do we need another health status reporting mechanism if we already have policy response status? What additional use cases do you require that are not offered by the policy response status?

[2021-06-28 19:57] #23205 closed

[2021-06-28 20:24] EricDavisX commented on #26518
I think I have another scenario impacted by the cause of this issue:  deploy an Agent and go to the Fleet 'logs' tab for the Agent and no logs are shown (because elastic_agent dataset is pre-selected, but no logs exist and it cannot then be unselected!).  If you select other datasets and then also select a different time frame (to make the data pull in anew) then it will show some logs - very scar

[2021-06-28 20:36] EricDavisX commented on #26490
In the end I think this is the same issue as https://github.com/elastic/beats/issues/26518 - the dataset isn't being ingested.  The other logs are there, if you select them, and then if you use the date picker to force a re-pull of the data.  The UI is showing some flakiness I will ask Jen and team in slack if they are related or not, seems not, and i'll log a new bug.

I think we can close this a

[2021-06-28 20:52] EricDavisX commented on #26518
The above may be the exact cause of this, too - it has additional logs if helpful.
I found this challenging to triage due to a Kibana Fleet side bug, fyi - https://github.com/elastic/kibana/issues/103563 if you're using the UI as you work through this.

[2021-06-28 21:57] EricDavisX commented on #26034
@michalpristas it has been re-tested... do we need newer data?  Maybe not.  Keep in touch if you need anything or want to bring in other team mates to help triage.

[2021-06-28 23:09] EricDavisX opened #26550 "[Fleet Server] [Agent] Support "mixed environments" of cloud stack + local (self-managed) Fleet Servers"
This ticket is a place-holder, for the technical + testing requirements to be confirmed to support "mixed environments" (and relating Docs) where the stack is in the Elastic Cloud as hosted, but a user wishes to add in additional 'self managed' local Fleet Servers.

- one customer requested using this, to support testing vs production environments, with the same version fleet server.  I've lost in

[2021-06-28 23:09] elasticmachine commented on #26550
Pinging @elastic/agent (Team:Agent)

[2021-06-28 23:14] EricDavisX commented on #25940
see above, i logged a proper place-holder for this work as this one captured only one part of the puzzle, and was closed when that one bug was fixed.  ;)

[2021-06-29 03:51] mukeshelastic commented on #26550
@EricDavisX I am struggling to understand what is being asked here. Can you update the description to clearly articulate the ask with customer evidence and the benefits it will bring? The current description of the issue makes it hard to triage and determine whether we should be acting on this or not.

[2021-06-29 05:56] rdrgporto commented on #25801
Hi, @MichaelKatsoulis

Thank you very much 😃 . I am going to look over my Kubernetes installation and ask to Kubernetes community.

Regards

[2021-06-29 05:56] #25801 closed

[2021-06-29 07:13] amolnater-qasource commented on #26101
Hi @mostlyjason

Yes, we are able to unenroll the agent if we don't uninstall first.
However the original issue this is reported for, is still reproducible and we have shared our latest observations at https://github.com/elastic/beats/issues/26101#issuecomment-869438243

- Fleet Server agent installed with Fleet Server integration gets stuck in Updating state on triggering unenrollment.

Please le

[2021-06-29 07:13] amolnater-qasource commented on #26490
Hi @EricDavisX

We have re-attempted to change Date/Time on our end. However we haven't observed any logs under Logs tab.
Not about any particular(elastic_agent) dataset issue, we are unable to see any dataset logs.
This Logs UI bug was observed when this https://github.com/elastic/beats/issues/26518 issue wasn't reproducible.

Please let us know if anything else is required from our end.
Thanks
Q

[2021-06-29 07:13] amolnater-qasource commented on #26518
Hi @EricDavisX

Please find Default Fleet Server Policy attached below:
[elastic-agent.zip](https://github.com/elastic/beats/files/6731252/elastic-agent.zip)

Further, we have revalidated your observations and also found it reproducible on cloud environments.

Build details:
[code]

Please let us know if anything else is required from our end.
Thanks
QAS

[2021-06-29 08:12] #25350 closed

[2021-06-29 08:50] elasticmachine commented on #26538
Pinging @elastic/integrations (Team:Integrations)

[2021-06-29 08:59] jsoriano commented on #26538
`meta` is in principle used for enrichment of events, it doesn't need to be available for config templates. I think we should review that both alloc and task data is both in events and available for template configs and hints.

Probably this `allocMeta` should instead be a map with both the alloc and the task info: https://github.com/elastic/beats/blob/076e0a693c18617454388c6759c4010e821c0f59/x-pa

[2021-06-29 09:46] #26337 closed

[2021-06-29 11:29] #26456 closed

[2021-06-29 12:04] mdelapenya opened #26562 "[Heartbeat] "mage test" fails to complete"
This issue has been discovered on CI (https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats/detail/PR-26209/14/pipeline/6253) but it's perfectly reproducible locally.

### Steps to reproduce
1. cd x-pack/heartbeat
1. Run `mage test`

[code]

[2021-06-29 12:04] elasticmachine commented on #26562
Pinging @elastic/uptime (Team:Uptime)

[2021-06-29 12:12] Cynicis opened #26563 "Filebeat OOM When encountering log files that are too large"
I use filebeat as an daemon process to collect docker log , it works pertty well at most time.
But, when a container print a huge log message, for example 100M, filebeat container reboot due to Out Of Memory，It killed by k8s。The filebeat service cannot start up and run properly.Can I configure the specified size of log files not to be collected？

[2021-06-29 12:12] elasticmachine commented on #26353
## Flaky Test

* **Test Name:** `Build&Test / filebeat-build / TestDefaultHarvesterGroup – github.com/elastic/beats/v7/filebeat/input/filestream/internal/input-logfile`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2FPR-26557/detail/PR-26557/1/
* **PR:** #26557
* **Commit:** 58c451770edff052b7034921ac66bcc608daa1f1

### Error details
[code]

### Stack Tr

[2021-06-29 12:12] elasticmachine opened #26564 "Flaky Test [Build&Test / filebeat-build / TestDefaultHarvesterGroup/assert_a_harvester_for_same_source_cannot_be_started – github.com/elastic/beats/v7/filebeat/input/filestream/internal/input-logfile]"
## Flaky Test

* **Test Name:** `Build&Test / filebeat-build / TestDefaultHarvesterGroup/assert_a_harvester_for_same_source_cannot_be_started – github.com/elastic/beats/v7/filebeat/input/filestream/internal/input-logfile`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2FPR-26557/detail/PR-26557/1/
* **PR:** #26557
* **Commit:** 58c451770edff052b7034921ac6

[2021-06-29 12:13] mdelapenya commented on #26562
On CI, it's executed in both Linux and MacOS, see `Jenkinsfile.yml` file here: https://github.com/elastic/beats/blob/b061836bcebf7ae055b2184924f634fba1cf2232/x-pack/heartbeat/Jenkinsfile.yml#L25-L28

[2021-06-29 12:46] liladler opened #26565 "[MMSQL] module support for additional metrics"
**Describe the enhancement:**
We would like to monitor our 2012/2016 MSSQL Databases and have support for additional metrics -
[code]

And also the following for MSSQL 2012 -
[code]

If this would be possilbe it would be a great help for monitoring our use case!
**Describe a specific use case for the enhancement or feature:**

[2021-06-29 12:49] drenze-athene commented on #20001
+1 for module. I was looking for the same thing and was surprised that it didn't already exist.

[2021-06-29 12:50] elasticmachine commented on #26565
Pinging @elastic/integrations (Team:Integrations)

[2021-06-29 13:25] elasticmachine commented on #26565
Pinging @elastic/integrations-services (Team:Services)

[2021-06-29 13:39] eedugon commented on #22501
For reference purposes I believe this issue is fixed on 7.12.1 onwards, and not on 7.12.0.

[2021-06-29 13:51] weslambert commented on #23023
Running into this issue as well. @marc-gr any update on this?

[2021-06-29 14:23] Winterflower opened #26570 "Packetbeat lowercases Elasticsearch ingest pipeline names"
Packetbeat version: `packetbeat-7.13.2-amd64.deb`

Hi team,
we are using an Ingest Pipeline for our DGA project.
The name of the pipeline is `ML_DGA_pipeline`.
We add the name of this pipeline in the config stanza in `packetbeat.yml` like this

[code]

When we try to run packetbeat to ingest documents through this pipeline, packetbeat logs report an error `pipeline ml_dga_ingest_pipeline does not

[2021-06-29 14:32] jsoriano commented on #7782
Metricbeat 7.14 will include metrics for total and free CPU per virtualmachine, based on the configured CPU reservation (https://github.com/elastic/beats/pull/26167).

Closing this by now, other metrics would be covered by https://github.com/elastic/beats/issues/20313.

[2021-06-29 14:32] #7782 closed

[2021-06-29 14:44] nimarezainia opened #26572 "[Elastic Agent] Uniquely Identify a Host End Point"
**Describe the enhancement:**
There are many use cases where an Elastic Agent needs to be uniquely identified and persistent across disruptions. One of the main use cases is for us to be able to reconcile the logs and events data in Elasticsearch for an agent that goes through these transitions. By uniquely identifying a host end point we should be able to recognize whether the host had previously

[2021-06-29 14:44] elasticmachine commented on #26572
Pinging @elastic/agent (Team:Agent)

[2021-06-29 15:14] scottdfedorov commented on #22501
Can confirm. Working in 7.12.1

[2021-06-29 15:19] willemdh commented on #9252
+1

[2021-06-29 15:44] #22136 closed

[2021-06-29 15:44] #25254 closed

[2021-06-29 16:02] #26166 closed

[2021-06-29 16:16] #19476 closed

[2021-06-29 16:16] #19400 closed

[2021-06-29 16:16] #19450 closed

[2021-06-29 16:16] #19308 closed

[2021-06-29 16:16] #19313 closed

[2021-06-29 16:16] #19258 closed

[2021-06-29 16:23] andrewvc commented on #26205
Thanks for the ping, we'll temporarily skip this test today. Previously we'd only seen this issue on windows.

[2021-06-29 17:19] #10452 closed

[2021-06-29 17:19] #19630 closed

[2021-06-29 17:19] #20655 closed

[2021-06-29 17:21] ph commented on #25533
@mgreau I think all the items were achieved on our side for 7.13-14. I will close this one.

[2021-06-29 18:10] fearful-symmetry commented on #11803
`steal` has been in for a while now, looks like it never got linked to this issue. Closing.

[2021-06-29 18:10] #11803 closed

[2021-06-29 18:16] #16195 closed

[2021-06-29 20:15] #8276 closed

[2021-06-29 20:16] #18624 closed

[2021-06-29 20:25] EricDavisX opened #26588 "[Elastic Agent on Cloud] Fleet Server ends up shut down by Agent, so Cloud hosted Fleet Server is not started, can't use cloud"
I’m seeing a problem with Fleet Server on 7.14 cloud in cloud-staging.  It [Fleet Server Agent] isn’t standing up on its own [the rest of cloud env seems fine] … is seems not known so I am logging it.

This is reproduced on latest 7.14 snapshot as of Jun 29 4PM

the kibana hash is: dcacd04872050ff322f7e9bb36af913e40d5977e
which should give us the timing for the whole stack and Agent...
edavis-mbp:

[2021-06-29 20:37] elasticmachine commented on #26588
Pinging @elastic/agent (Team:Agent)

[2021-06-29 20:43] lisikh commented on #25135
@urso Here is a full snapshot of corrupted data folder
[filebeat_corrupted_data.tar.gz](https://github.com/elastic/beats/files/6736336/filebeat_corrupted_data.tar.gz)

[2021-06-29 20:43] blakerouse commented on #26588
I believe this is because of my recent change for HTTP2

[2021-06-29 20:43] blakerouse commented on #26588
Running the container locally shows that it crashes as it fails to enroll.

[code]

[2021-06-29 20:46] blakerouse commented on #26588
My change has basically been completely re-done by @urso in #25219 so I need to check to see if that change actually fixes it or if its still broken with that change.

[2021-06-29 20:57] EricDavisX commented on #26490
in the screenshot it shows only 1 dataset as selected, which i assume is the 'default' setting of Elastic Agent (which indeed has no logs that i can see) however, if you click the other dataset options and then refresh the page, for me, logs show up for the other components.  I'm still hopeful this will be resolved - let me know if the added description for working-around this doesn't help?

[2021-06-29 21:02] fxdgear commented on #26390
IIRC the azure billing module is using the [Usage Details API](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/consumption-api-overview#usage-details-api) which specifies a `usage end` and `usage start` date range. The reason we're so dependent upon the stability of the module is because the queries are constructed to use the last 24 hours. Would it be possible to the metricb

[2021-06-29 21:16] #18976 closed

[2021-06-29 21:37] dmlary commented on #13018
Nope, still not stale. Still a problem.

[2021-06-29 22:05] #17050 closed

[2021-06-29 23:50] tobio commented on #26588
I've been digging into this from another direction. The current 7.14-SNAPSHOT container cannot be successfully created in Cloud QA (or Cloud master). In https://github.com/elastic/cloud/pull/83408 we have changed the container health check to use the agent `:6791/processes` endpoint.

In the latest 7.14-SNAPSHOT this API appears to be unresponsive and so the container never passes the health check

[2021-06-30 01:05] legoguy1000 commented on #26351
This was resolved by #26508 but was not linked by accident. This can be closed.

[2021-06-30 01:22] legoguy1000 commented on #26570
This may be a libbeat issue as a whole, https://github.com/elastic/beats/blob/8ca57d309f1cabe95c08a29dd5a4c682a999fec5/libbeat/outputs/elasticsearch/client.go#L354

[2021-06-30 01:41] #26351 closed

[2021-06-30 03:01] erenming commented on #26563
it seems same as my issue #26464

[2021-06-30 07:19] amolnater-qasource opened #26818 "[Self-managed]: Unable to install Fleet Server agent on 7.14.0."
**Kibana version:** 7.14.0 Snapshot Kibana self-managed environment

**Host OS and Browser version:** Windows, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 Snapshot Kibana self-managed environment should be available.
2. Test Signing should be ON.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agents tab and copy install command for Fleet Server.
3. Run ins

[2021-06-30 08:41] #26246 closed

[2021-06-30 08:43] kuisathaverat commented on #26239
merged, we will backport the fix to 7.x and 7.13

[2021-06-30 08:43] #26239 closed

[2021-06-30 09:03] amolnater-qasource commented on #26588
Hi @EricDavisX
We are blocked to continue test on cloud build as this issue is reproducible at our end.

Thanks
QAS

[2021-06-30 09:03] amolnater-qasource commented on #26490
Hi @EricDavisX
Thank you for the feedback, we are able to see logs after selecting all the available datasets under Datasets dropdown.
Hence we are closing this issue.

Further we are unable to see "elastic_agent" under dropdown.

Screenshots:
![6](https://user-images.githubusercontent.com/77374876/123930906-c86ba700-d9ad-11eb-9f6b-8d08a696609c.JPG)
![5](https://user-images.githubusercontent.com/7

[2021-06-30 09:23] michalpristas commented on #26034
fix was not part of the tested version above.
this should be already adressed and needs to be retested. hopefully closed as well :-)

[2021-06-30 09:35] mdelapenya commented on #26562
Adding more context: it seems that for master branch it fails, and it only fails on https://github.com/elastic/beats/pull/26209.

What I'm not sure if why it is adding the "Building docker images" step to the `mage test` command.

Will close this one and continue in the original PR.

Thanks @michalpristas and @jsoriano for the root cause analysis!

[2021-06-30 09:35] #26562 closed

[2021-06-30 09:40] mdelapenya commented on #26562
I think the original CI error was caused by a divergence between how heartbeat and x-pack/heartbeat are run in the CI. Please see https://github.com/elastic/beats/pull/26209/commits/70090f62bc06c2ea03dbff72b09e9f8f8b14ff2f, which makes it consistent

[2021-06-30 10:50] jsoriano opened #26608 "Flaky Test [Build&Test / filebeat-build / TestFilestreamMetadataUpdatedOnRename – github.com/elastic/beats/v7/filebeat/input/filestream]"
## Flaky Test

* **Test Name:** TestFilestreamMetadataUpdatedOnRename
* **Link:** https://github.com/elastic/beats/blob/5488dcf334c5ecd9342969ff69df9fea916c7d76/filebeat/input/filestream/input_integration_test.go#L82
* **Branch:** https://github.com/elastic/beats/pull/26561

### Stack Trace

[code]

[2021-06-30 10:50] elasticmachine commented on #26608
Pinging @elastic/agent (Team:Agent)

[2021-06-30 11:54] #20300 closed

[2021-06-30 12:09] andrewkroh commented on #22388
I'm thinking about how to implement the removal of seconds from the data. How does this look for an implementation?

I was hoping I could do this in one step, but the script context doesn't have access to the `_ingest` metadata. So I am copying the timestamp which is a `ZonedDateTime` then manipulating the format.

[code]

[code]

[code]

[2021-06-30 13:16] #19484 closed

[2021-06-30 15:07] ph commented on #26034
@michalpristas can you add a date / commit when this was fixed so we can validate that we have correctly fixed the problem.

[2021-06-30 15:08] michalpristas commented on #26034
commit in 7.x: e73b27100d22832dea97d96868357f897ba532e4
pushed in  Jun 11, 2021

[2021-06-30 15:09] hungnguyen-elastic opened #26615 "Filebeat - Kibana module not parsing the auditlog correctly - missing null safe"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2021-06-30 15:10] elasticmachine commented on #26615
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-06-30 15:11] elasticmachine commented on #26615
Pinging @elastic/integrations (Team:Integrations)

[2021-06-30 15:28] blakerouse commented on #26588
Validated and confirmed that #25219 fixes it in master, just waiting for green test run in 7.x for backport and then this will be fixed.

[2021-06-30 16:16] #19431 closed

[2021-06-30 17:00] joshdover commented on #20672
I understand removing this API from Kibana will likely break your CI. We are tentatively planning to tackle this in the first few weeks of September. Would that be enough lead time for this group to make the changes needed to Beats?

[2021-06-30 18:09] blakerouse commented on #26588
Fixed by #25219 and #26587

[2021-06-30 19:04] sayden commented on #19636
PR opened for `7.x` already https://github.com/elastic/beats/pull/26616

[2021-06-30 19:05] andrewkroh commented on #10535
I've opened a PR to remove all of the Suricata alias fields. https://github.com/elastic/beats/pull/26627

[2021-06-30 19:12] andrewkroh commented on #10535
I found only one more non-migration alias (aka one that's present in all mappings) that points to an ECS fields. That was `traefik.access.user_agent.device`. I think I'll remove that too while I'm making breaking changes.

[2021-06-30 19:35] #26385 closed

[2021-06-30 19:46] andrewkroh opened #26629 "[Filebeat] Module incompatibility with older ES/Kibana versions"
The Elastic support [matrix](https://www.elastic.co/support/matrix#matrix_compatibility) indicates that the latest Filebeat 7.x version works with all 7.x versions of Elasticsearch. This is an assumption I'm making based on the table pictured below. There is a "Compatibility with Beats" table but it does not include Elasticsearch or Kibana columns.

<img width="678" alt="Screen Shot 2021-08-10 at

[2021-06-30 19:52] elasticmachine commented on #26629
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-30 22:03] andrewkroh commented on #26629
While we wait to make a decision I opened https://github.com/elastic/beats/pull/26631 to get a quick fix for `copy_from`. I didn't find any usages of `convert` with `type: ip`.

[2021-06-30 22:16] #19526 closed

[2021-07-01 06:42] tom-x1 opened #26635 "HaProxy Sample Dashboards not loading by Filebeat"
We are running Elastic Stack 7.13.2 and I'm indexing haproxy logs via Filebeat. I just wanted to take a look at the haproxy sample dashboards so I've enabled dashboard loading which actually works but I can't see any Dashboard or haproxy related saved objects in Kibana.

-Version: Filebeat 7.13.2
-Operating System: Debian 10
-Steps to reproduce: filebeat setup --dashboards -e -d "*"
-Output: Sampl

[2021-07-01 08:19] elasticmachine commented on #26638
Pinging @elastic/agent (Team:Agent)

[2021-07-01 09:38] michalpristas commented on #26518
did something changed fleet/permissions side?
i'm looking at this locally
we havent changed much recently but what i'm looking at is that agent generates config with correct path and settings, this config is then picked up by monitoring filebeat which processes files and sends events.
dataset is not populated though

when i change dataset from `elastic_agent` to `elastic_agent` and index from `log

[2021-07-01 09:55] #26197 closed

[2021-07-01 10:11] michalpristas commented on #26286
closing as duplicate of https://github.com/elastic/beats/issues/26513

[2021-07-01 10:11] #26286 closed

[2021-07-01 11:04] ruflin commented on #26518
@afgomez Can you chime in here? My guess is that this is related to the permissions in Kibana. It might be that we miss something in the package itself?

[2021-07-01 11:06] #25840 closed

[2021-07-01 13:49] blakerouse opened #26666 "[Elastic Agent] Bootstrapping Fleet Server with self-signed certificates is broken"
On Windows 10 x64 when bootstrapping the Elastic Agent with Fleet Server it seems that Elastic Agent is not using the correct URL to connect to the spawned Fleet Server and it never enrolls.

The following command fails to enroll:

[code]

Changing the command to below lets it succeed, but the first command should work.

[code]

[2021-07-01 13:49] elasticmachine commented on #26666
Pinging @elastic/agent (Team:Agent)

[2021-07-01 13:55] blakerouse opened #26667 "[Elastic Agent] Auto-enroll on first startup"
## Overview
In cloud deployments and/or physical system deployments there is a case where you want an Elastic Agent to enroll into Fleet on first startup and not at installation time. Example being a prepared gold image for a cloud deployment, or a prepared sys-prepped Windows image for an organization.

## Idea
The idea is to add an option to the `install` command to not have it actually start th

[2021-07-01 13:55] elasticmachine commented on #26667
Pinging @elastic/agent (Team:Agent)

[2021-07-01 13:55] blakerouse commented on #26667
@nimarezainia @mukeshelastic ^

[2021-07-01 14:16] ynirk opened #26668 "auditbeat: auditd error messages after update to 7.13.2"
After updating auditbeat to 7.13.2 (from 7.12.0) we start seeing the following error message:

[code]

It only happens on a small proportion of deployed servers after auditbeat restart. Exemple on a specific instance
<img width="1112" alt="Screenshot 2021-06-29 at 15 15 31" src="https://user-images.githubusercontent.com/33804891/124138696-2fa95a00-da87-11eb-9810-b57c14a218c4.png">

logs started ri

[2021-07-01 14:40] peasead commented on #21541
7/1 - update

Nothing significant to report.

[2021-07-01 15:47] arun7000 commented on #16336
2021-07-01T21:15:13.254+0530    WARN    beater/filebeat.go:178  Filebeat is unable to load the Ingest Node pipelines for the configured modules because the Elasticsearch output is not configured/enabled. If you have already loaded the Ingest Node pipelines or are using Logstash pipelines, you can ignore this warning.
2021-07-01T21:15:13.254+0530    ERROR   instance/beat.go:989    Exiting: Index ma

[2021-07-01 16:05] elasticmachine commented on #26544
Pinging @elastic/agent (Team:Agent)

[2021-07-01 16:05] elasticmachine commented on #26397
Pinging @elastic/integrations (Team:Integrations)

[2021-07-01 16:52] v1v opened #26677 "[7.13] packaging is failing"
The packaging in 7.13 is broken, last successful build that happened was -> https://beats-ci.elastic.co/job/Beats/job/packaging/job/7.13/113/  , in case it has not been reported yet.

Failures happen in:
- The main pipeline
- the packaging pipeline -> https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fpackaging/detail/7.13/170/pipeline

[code]

[2021-07-01 17:07] v1v commented on #26677
My guess:

- https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats/detail/7.13/144/pipeline worked find without the `armv7` platform
- the packaging pipeline had `armv7` platform for a year or so, see https://github.com/elastic/beats/blame/7.13/.ci/packaging.groovy#L141

Recent changes in `7.13` have affected `armv7` for some reason

[2021-07-01 17:16] #19504 closed

[2021-07-01 17:40] blakerouse commented on #26588
Seems that even with those fixes applied in 7.14, I am still seeing the following error:

[code]

[2021-07-01 17:51] andrewkroh commented on #26629
@adriansr  added automatic rewriting of pipelines for these cases in https://github.com/elastic/beats/pull/26676.

- Replaces usages of `convert` processor using `type: ip` with an equivalent `grok` expression.
- Removes the `network_direction` processor.

[2021-07-01 18:47] faec commented on #26677
`armv7` packaging was disabled May 28 in https://github.com/elastic/beats/pull/25977, I think because of compatibility issues with recent versions (@urso, any insight?) It was reenabled yesterday in https://github.com/elastic/beats/pull/26575, which seems to be what is causing the breakage... @v1v, can you revert that change until / unless the packaging for `armv7` is fixed?

[2021-07-01 19:16] #8388 closed

[2021-07-01 21:57] nimarezainia opened #26683 "[Elastic Agent] Beats and Elastic Agent to compile natively on a Mac M1 machine"
**Describe the enhancement:**
We need the Elastic Agent to be compiled so it can execute on a Mac with the M1 chip without any emulation software. With MacOS 11 the lowest required operating system.

- [ ] Add a new target to the existing platforms
- [ ] Investigate how the build will work with our crossbuild images.
- [ ] Enable Fleet Server to be built for M1

**Describe a specific use case for

[2021-07-01 21:57] elasticmachine commented on #26683
Pinging @elastic/agent (Team:Agent)

[2021-07-01 22:04] nimarezainia opened #26684 "[Elastic Agent] Add support for Fleet-Server running on a Mac with an M1 chip"
**Describe the enhancement:**
As part of a greater effort to have beats and agent to build natively on the new M1 chip set.

**Describe a specific use case for the enhancement or feature:**
As a user I may need to deploy the fleet-server on a dedicated Mac machine

[2021-07-01 22:06] n0othing opened #26685 "Invalid property value doesn't log an error"
- Version: `7.13.2`
- Operating System: MacOS 11.4
- Steps to Reproduce:

Came across a scenario where Metricbeat's module config block had an invalid value of `enabled` for `reload.enabled`:

[code]

Metricbeat starts fine with the above, but never loads any modules. There's no warning in the logs to indicate a configuration problem.

[2021-07-01 22:09] nimarezainia opened #26686 "[Elastic Agent] Enable Jenkins Pipeline for M1 workers"
**Describe the enhancement:**
As we create binaries for the Agent to run on a Mac equipped with an M1 chip, we need to ensure that this platform build is part of our Jenkins CI pipeline.

**Describe a specific use case for the enhancement or feature:**

[2021-07-01 22:09] elasticmachine commented on #26686
Pinging @elastic/agent (Team:Agent)

[2021-07-01 22:16] nimarezainia opened #26687 "[Elastic Agent] Update release manager with the M1 artifact"
**Describe the enhancement:**

- [ ] Add m1 artifact to the release manager code
- [ ] Allow artifacts to be uploaded to the website. (require synchronization with the marketing team)
- [ ] Add m1 artifact to be signed

**Describe a specific use case for the enhancement or feature:**

[2021-07-01 22:16] elasticmachine commented on #26687
Pinging @elastic/agent (Team:Agent)

[2021-07-01 22:20] nimarezainia opened #26688 "[Elastic Agent] Validate system integration for compatibility with Mac M1 chipset"
**Describe the enhancement:**

As part of ensuring Elastic Agent and Fleet server are functioning correctly on an M1 chipset we need to also validate system integration for compatibility with Mac M1 chipset

**Describe a specific use case for the enhancement or feature:**

[2021-07-01 22:20] elasticmachine commented on #26688
Pinging @elastic/agent (Team:Agent)

[2021-07-02 02:08] blakerouse commented on #26588
I re-opened this issue because I kept getting the same issue that I commented above, that was because I was starting the same broken container image each time (user error on my part). With a build docker image from the 7.14 branch of the beats repo with a 7.14 fleet-server included in the bundle, the container starts up correctly.

[2021-07-02 02:08] #26588 closed

[2021-07-02 02:10] blakerouse commented on #26666
This was an error on my part using a bad build to test with. I have got this to work as expected on Windows with the 7.14 branch of beats, once the snapshot build or BC1 build is out those should be working.

[2021-07-02 02:10] #26666 closed

[2021-07-02 05:48] elasticmachine commented on #26668
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-07-02 08:45] dipengiggso opened #26697 "metricbeat azure billing module subscription scope usage is not supported for current api version."
- Version: metricbeat version 7.13.0 (amd64),libbeat 7.13.0   [054e224d226b42a1dd7c72dcf48c3f18de452e22 built 2021-05-19 22:40:35 +0000 UTC]
- Operating System: CentOS Linux release 7.9.2009 (Core)
- Discuss Forum URL:
- Steps to Reproduce: metricbeat azure billing module enable check log
-  module: azure
  metricsets:
    - billing
  enabled: ${azure_billing:false}
  period: 24h
  client_id: 'xyz

[2021-07-02 09:50] phifre commented on #23400
We also have this issue in our Rancher cluster with the official filebeat helm chart.

In my opinion filebeat should crash when the k8s autodiscovery fails (e.g. the query against the API server).
Instead filebeat currently just proceeds with normal operation without shipping any k8s logs. This is definitely unexpected and makes it unnecessarily hard to detect the error.

[2021-07-02 15:21] lplazas commented on #22254
If no one is working on this one I'd like to give it a go as my first issue in this repo

[2021-07-02 20:49] wilrodriguez commented on #8352
Does anyone know when this change might occur?

[2021-07-02 21:16] #19629 closed

[2021-07-03 04:02] da77a opened #26700 "Prometheus rate calculation across counter resets is inconsistent with promql rate()"
Promql, when it encounters a new counter value that is less than the previous value, assumes that there was a reset *to a value of 0* between when the the previous counter value was sampled and the new sample. Under this assumption the "true rate" is not less than the new sample value. What it definitely is not (unless the new value is 0) is 0.

metricbeat prometheus module should apply the same l

[2021-07-03 12:14] da77a commented on #26700
in case not obvious I think this should simply be
[code]

[2021-07-05 09:35] ChrsMark commented on #23400
@phifre  @smacl  thanks for reporting this. I agree we should handle it better.

I think we should return errors from [DiscoverKubernetesNode](https://github.com/elastic/beats/blob/9c09f0a2a3f5f3a12703eef28c25f1022863746d/libbeat/common/kubernetes/util.go#L117)  instead of `defaultNode`.

@jsoriano @MichaelKatsoulis thoughts?

[2021-07-05 09:44] ndtreviv commented on #26284
Just wondering if there's a workaround for this?

[2021-07-05 09:46] jsoriano commented on #23400
Agree with that, in many cases Beats don't work well if they cannot properly discover the host name, not only Filebeat.

Agree, `defaultNode` (`localhost`) is hardly ever what the user expects. If none of the methods to discover the node succeed, an error should be reported. We might want to explore additional methods to discover the node, and/or to make the current ones more robust, e.g. adding r

[2021-07-05 10:09] #26677 closed

[2021-07-05 11:56] amolnater-qasource commented on #26588
Hi @EricDavisX
We have revalidated this on 7.14.0 cloud-qa build and found it **fixed** now.
- We are now able install elastic-agent on 7.14.0 BC-1.

Thanks
QAS

[2021-07-05 12:48] mtojek opened #26711 "CI AWS account: write scripts to clean used resources"
The idea of this issue is to enable some scripting to remove/clean old resources that have been used during tests.  We can't always trust Terraform that it will remove all resources. The process running "tf" or the entire CI machine may go down and these resources will stay forever.

Possible solutions:
* Lambda function which periodically cleans old resources.

Most likely we'll face same problem

[2021-07-05 12:48] elasticmachine commented on #26711
Pinging @elastic/integrations (Team:Integrations)

[2021-07-05 13:12] mtojek commented on #26711
There are few players in the game:

cloud nuke - https://github.com/gruntwork-io/cloud-nuke
auto cleanup - https://github.com/servian/aws-auto-cleanup
awsweeper - https://github.com/jckuester/awsweeper

[2021-07-05 13:12] jsoriano commented on #26711
Terraform state [is archived by the jenkins pipeline](https://github.com/elastic/beats/blob/8c3f0d52d32d5ee7e0930a390dce9fe97c0c3ad1/Jenkinsfile#L887). This could be used to discover resources created but not destroyed. Though this would mean to look through all the jobs that may create these scenarios, and won't work for removed jobs.

[2021-07-05 13:18] mtojek commented on #26711
Yeah, that's actually the reason, why I personally prefer to simplify the logic and just depend on the timestamp (old enough? nuke it please).

I assume we need it for EC2 instances, DynamoDB databases, SQS queues, SNS topics. Is there anything else? Do we create also other resources?

[2021-07-05 14:03] MichaelKatsoulis opened #26721 "Fleet fails to enroll in 8.0.0-SNAPSHOT version"
Using latest 8.0.0-SNAPSHOT version of elastic stack

`
docker.elastic.co/beats/elastic-agent             8.0.0-SNAPSHOT    913a89b8f631   9 hours ago    571MB
 docker.elastic.co/elasticsearch/elasticsearch     8.0.0-SNAPSHOT    7df40aa3e998   12 hours ago   670MB
 docker.elastic.co/kibana/kibana                   8.0.0-SNAPSHOT    0e35cc0c3784   12 hours ago   1.34GB
`

the fleet server fails to

[2021-07-05 14:03] elasticmachine commented on #26721
Pinging @elastic/fleet (Team:Fleet)

[2021-07-05 14:06] MichaelKatsoulis commented on #26721
cc @blakerouse

[2021-07-05 14:07] elasticmachine commented on #26721
Pinging @elastic/agent (Team:Agent)

[2021-07-06 04:29] liu-xiao-guo commented on #25181
I have the same error when trying to run "filebeat setup" command. It give me the error:
root@liuxgu:/etc/filebeat# filebeat setup
Overwriting ILM policy is disabled. Set `setup.ilm.overwrite: true` for enabling.

Index setup finished.
Loading dashboards (Kibana must be running and reachable)
Loaded dashboards
Setting up ML using setup --machine-learning is going to be removed in 8.0.0. Please use

[2021-07-06 06:16] azeng528 opened #26726 "filebeat deconde json insert into clickhouse"
clickhouse Data compression ratio is best for elasticesearch（10 times）and clickhouse query is like mysql sql，it's best for user

[2021-07-06 07:23] michalpristas commented on #19623
this one's already in place, closing

[2021-07-06 07:23] #19623 closed

[2021-07-06 09:09] mtojek opened #26727 "Flaky Tests: TestFilestream, TestDefaultHarvester"
I spotted some flakiness today around filestreams:

[code]

[code]

[code]

[code]

Links:
https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats/detail/master/890/tests/

[2021-07-06 09:09] elasticmachine commented on #26727
Pinging @elastic/agent (Team:Agent)

[2021-07-06 09:46] amolnater-qasource opened #26730 "[Agents]: All agents went offline including Fleet Server on 7.13.3 BC-2 upgraded to 7.14.0 BC-1 Kibana"
**Kibana version:** 7.13.3 BC-2 upgraded to 7.14.0 BC-1 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.13.3 BC-2 Kibana cloud environment should be available.
2. Windows, Linux and MAC Agents must be installed using Default policy having System and Endpoint Security.

**Steps to reproduce:**
1. Login to Kibana environment.
2.

[2021-07-06 09:46] elasticmachine commented on #26730
Pinging @elastic/agent (Team:Agent)

[2021-07-06 09:46] amolnater-qasource commented on #26730
@manishgupta-qasource Please review.

[2021-07-06 10:05] afgomez commented on #26518
The permissions generated for the agent are as follows:

[code]

My guess is that the `.` after `logs-elastic_agent.` should go away. I can open a PR for it

[2021-07-06 10:07] michalpristas commented on #26518
yeah this seems incorrect, please let me know when you have a PR, this will also need to be be backported to 7.14

[2021-07-06 11:19] erenming commented on #26464
Is there any progress？

[2021-07-06 12:09] urso commented on #26464
Just noticed that issue. There is a `max_bytes` setting on the input. The default is 10MB, which can still cause OOM if we have a burst of long-line-events in the log file. With 10MB default and 4K events in the memory queue, memory usage can easily grow into higher GB usage.

Normally users would be recommended to reduce `max_bytes`. This will be handled by the `LineReader` in `libbeat/reader/rea

[2021-07-06 12:47] manishgupta-qasource commented on #26730
Reviewed & Assigned to @andresrc

CC @EricDavisX

[2021-07-06 13:14] mostlyjason commented on #26101
Ok this sounds like the expected behavior, as Blake mentioned. I think we can close this one. Let me know if I'm overlooking anything.

[2021-07-06 13:16] #19618 closed

[2021-07-06 13:33] #26518 closed

[2021-07-06 13:38] michalpristas commented on #26518
@amolnater-qasource please retest when https://github.com/elastic/kibana/pull/104447 goes in

[2021-07-06 14:20] amolnater-qasource opened #26738 "[Self-managed]: Upgraded 7.13.3 snapshot agent to 7.14.0 snapshot agent goes to offline state temporarily on upgraded 7.14.0"
**Kibana version:** 7.13.3 Snapshot upgraded to 7.14.0 Snapshot Kibana managed environment

**Host OS and Browser version:** Windows, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 Snapshot Kibana upgraded from 7.13.3 Snapshot Kibana self-managed environment should be available.
2. Windows agent must be installed using Default policy having System, Endpoint Security and Fleet Server.

[2021-07-06 14:20] elasticmachine commented on #26738
Pinging @elastic/agent (Team:Agent)

[2021-07-06 14:21] amolnater-qasource commented on #26738
@manishgupta-qasource Please review.

[2021-07-06 14:23] manishgupta-qasource commented on #26738
Reviewed & Assigned to @andresrc

CC: @EricDavisX

[2021-07-06 16:16] #18767 closed

[2021-07-06 17:17] kuisathaverat commented on #26153
I am not sure if download packages in runtime is a good idea, the user will download some packages from internet with all the problems that can cause this (security, download failures, ...), also I dunno if it is something allowed for the IronBank Docker images of other restricted environments like banks, these systems use to not have access to internet or it is really limited to a few sites.

[2021-07-06 18:28] vigneshshanmugam opened #26747 "[Heartbeat] Add tag based filtering support when running synthetic monitors"
**Describe the enhancement:**

The synthetics agent already supports both tags based filtering via the `--tags tag-a, tag-b` and other glob based filtering via `--match`. We need the same capability like how tags are used in ICMP based monitors and extend it to the synthetic monitors.

[code]

These applied tags would then be mapped under each monitor on the Kibana Uptime UI.

[2021-07-06 18:29] elasticmachine commented on #26747
Pinging @elastic/uptime (Team:Uptime)

[2021-07-06 18:41] james-elastic opened #26748 "Changing Agent start up warning"
The Agent start up warning should be reviewed and possibly changed before 7.14

https://github.com/elastic/beats/blob/7.14/x-pack/elastic-agent/pkg/agent/warn/warn.go#L14

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurations and logs if available.

For confirmed bugs, please

[2021-07-06 18:41] elasticmachine commented on #26748
Pinging @elastic/agent (Team:Agent)

[2021-07-06 19:58] pc-mrousseau opened #26750 "Elastic-Agents dropped and now can't enroll any to Fleet"
Hello Team - We've observing an issue similar to https://github.com/elastic/beats/issues/25430 using Elastic Cloud v7.13.0.

[code]

Based on the enroll code it should be ErrConnRefused however we can totally connect to it, as tested by curl:

[code]

Tried the same with port 9243 and same results. We also tried terminating the Fleet instances and restarting new ones.

Tried this with both 7.13.0

[2021-07-06 21:19] kevinlog commented on #26457
@mostlyjason sorry I missed this the first time.

I don't believe Endpoint needs another mechanism, I just think that Fleet users may want additional insight if a subprocess isn't running correctly.  Policy compliance for Endpoint is big.  So if that's in a "Failed" state, it would be good to bubble that up to Agent so that it can be reported in the UI.  Otherwise, all Agents are "Healthy".

I thi

[2021-07-07 00:39] elasticmachine commented on #26750
Pinging @elastic/fleet (Team:Fleet)

[2021-07-07 02:20] SperChung-11 opened #26751 "Metricbeat - collects the dockers memory size which is different from “docker stats”"
Hi，I have met a problem as follows：

i have use metricbeat to collect docker memory, but found that the data of memory (suce as memory usage) was different from the "docker stats", is it right ?
metricbeat: 7.6.0

![image](https://user-images.githubusercontent.com/74529952/124690502-e59ff880-df0c-11eb-8866-29618c92c37e.png)

![image](https://user-images.githubusercontent.com/74529952/124690523-edf

[2021-07-07 02:56] erenming commented on #26464
I use `container` which is based on `log` as the filebeat input.

And the `LimitReader` take effect after the `DockerJSONReader`. When docker container print a huge log, docker will spit it to multiline partial line. And the `DockerJSONReader` will merge all those partial line default, at the end, if the merged message's size large than memory limit, filebeat will OOM.

![image](https://user-image

[2021-07-07 08:32] urso commented on #26638
I think it depends on the output. For ES/Redis outputs we can introduce a timeout setting with the output.

The Kafka output has it's own buffering and timeout setting. Maybe we just want to stream events through by setting timeout to 0 (we would need to test if that is beneficial or not).

For LS I would love to have an event streaming protocol without need for batches, yet lumberjack uses batche

[2021-07-07 09:15] amolnater-qasource commented on #26490
Hi @EricDavisX
We are able to reproduce this issue on 7.14.0 Snapshot.

**Observations:**
- No logs available under Logs tab.
- No filter options are available under "Dataset" and "Log level" dropdowns under agent "Logs" tab.

**Build details:**
[code]

**Screenshot:**
![3](https://user-images.githubusercontent.com/77374876/124733179-93250300-df31-11eb-8f6b-5b96a3eb5b5a.JPG)

Hence we are re-openi

[2021-07-07 09:15] amolnater-qasource commented on #26518
Hi @michalpristas
Thanks, we will revalidate this once build with latest merges will be available.

[2021-07-07 09:44] #25237 closed

[2021-07-07 12:20] narph opened #26755 "Look into possibilities of improving /expanding the azure billing metricset"
Several things to look into:

- updating azure sdk apis to support more subscription types (not sure this has been added in the sdk yet)
https://github.com/elastic/beats/issues/26697
https://github.com/elastic/beats/issues/20758

- changes on collection interval and other scenarios
- https://github.com/elastic/beats/issues/26390

[2021-07-07 12:20] elasticmachine commented on #26755
Pinging @elastic/integrations (Team:Platforms)

[2021-07-07 13:03] andrewkroh commented on #26629
@adriansr added module testing using ES 7.11 so that we can catch problems with future module changes. See #26737.

[2021-07-07 14:52] mostlyjason opened #26758 "[Elastic Agent] Sending monitoring metrics to logs datastream"
It looks like Elastic Agent is sending it's own monitoring metrics to the logs datastream. This is not useful as a log message. It should be sending this information to the metrics datastream instead.

Example event:
[code]

For confirmed bugs, please report:
- Version: 7.13.2
- Operating System: Linux
- Steps to Reproduce: Install Elastic Agent and enable metrics monitoring in the agent policy

[2021-07-07 14:52] elasticmachine commented on #26758
Pinging @elastic/agent (Team:Agent)

[2021-07-07 15:01] #26721 closed

[2021-07-07 15:06] yaakov-berkovitch commented on #26155
Finally, make it working.
I'm using chisel http tunnel, and the solution looks like this:
![image](https://user-images.githubusercontent.com/8049489/124783501-c9707b80-df4d-11eb-8af7-36f582fd4516.png)

I made it working by adding localhost to broker advertised addresses, and so filebeat can now use the same addresses as configured in the fileabeat.yml.

Below is the kafka output section from the f

[2021-07-07 15:34] DomnMihai commented on #22460
My password contains a comma "," and I found a workaround.

Let's suppose it is my password: **pass,123**

This is a part of my **functionbeat.yml**:
[code]

If I use **ELASTIC_PASSWORD** as environment variable, I got the error _can not convert 'object' into 'string' accessing 'output.elasticsearch.password'_. But if I put the password in the yml file, I get no error. Example:
[code]

So I wrote

[2021-07-07 15:40] andresrc commented on #19612
@masci @sorantis should this one be open?

[2021-07-07 15:48] elasticmachine commented on #26750
Pinging @elastic/agent (Team:Agent)

[2021-07-07 17:23] jsoriano opened #26766 "Investigate issues with Google Workplace module"
There have been reports of errors and lost events when using the [Google Workplace](https://www.elastic.co/guide/en/beats/filebeat/7.13/filebeat-module-google_workspace.html) module of Filebeat. Not sure how to reproduce the issue. The symptoms are:
* 503 errors.
* `Client.Timeout exceeded while awaiting headers` errors.
* Lost events.

Workarounds that sometimes help:
* Increase the http timeout

[2021-07-07 17:23] elasticmachine commented on #26766
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-07-07 18:19] michel-laterman commented on #26034
@amolnater-qasource, I'm not able to reproduce this with agent v7.13.3. Can you also retry?

[2021-07-08 00:13] vigneshshanmugam opened #26780 "[Heartbeat] Hook Errors from synthetics are not captured correctly"
+ When user code has errors that is thrown in `beforeAll` hooks in the Synthetics agent, These will be captured as part of `journey/end` events.
+ Right now heartbeat only captures the `step/end` errors and reports summary without capturing the errors from other event types.

[2021-07-08 00:13] elasticmachine commented on #26780
Pinging @elastic/uptime (Team:Uptime)

[2021-07-08 06:37] ruflin commented on #26758
Beats logs its metrics every 30s. This was built before there was even a metrics endpoint in Beats. Elastic Agent behaves as expected here as it just "tails" the log file. Instead we should likely disable the logging of these metrics which I think can be done through a config option.

I remove the `bug` label as I don't consider this a bug.

[2021-07-08 07:01] amolnater-qasource commented on #26518
Hi @EricDavisX
We have revalidated this issue on 7.14.0 Snapshot and found it **fixed**.
- "elastic_agent" dataset are generated for Agent under Data Streams tab and Logs tab

Build details:
[code]

**Screenshot:**
![11](https://user-images.githubusercontent.com/77374876/124876160-56b3de80-dfe7-11eb-841d-a71a61ef8667.JPG)

Hence we are closing this out.
cc: @michalpristas
Thanks
QAS

[2021-07-08 07:01] amolnater-qasource commented on #26490
Hi @EricDavisX
We have revalidated this issue on 7.14.0 Snapshot and found it **fixed**.
- Logs are available under Logs tab now.
- Filter options are now available under "Dataset" and "Log level" dropdowns under agent "Logs" tab.

Build details:
[code]

Hence we are closing this out.
Thanks
QAS

[2021-07-08 07:01] #26490 closed

[2021-07-08 07:01] amolnater-qasource commented on #26034
Hi @michel-laterman
We have validated this issue on 7.13.3 BC-2 and we observed it was fixed there.
However we observed this issue reproducing on 7.14.0 Snapshot and shared our observations at https://github.com/elastic/beats/issues/26034#issuecomment-861400157

We kept this open just to keep a track for 7.14.0 as we don't have any stable BC build for 7.14.0.
We will revalidate this issue once 7.1

[2021-07-08 07:44] michalpristas commented on #26177
@amolnater-qasource could you retest with 7.13.3 or 7.14 BC,
this is most likely related to #26176

[2021-07-08 07:50] amolnater-qasource commented on #25785
Hi @michalpristas
We have observed an inconsistent Metricbeat Starting, Restarting and Crashed loop just after installing agent on 7.14.0 Snapshot Kibana cloud environment.
- However it gets resolved itself after few minutes, agent gets offline and then comeback online.
- All the binaries comeback in RUNNING state.

Build details:
[code]

**Logs:**
[logs.zip](https://github.com/elastic/beats/files

[2021-07-08 08:25] endorama commented on #17699
I was wondering if there is any initiative around [eBPF](https://ebpf.io/)? Looks very promising to me.

Some resources:
- [Linux BPF Superpowers - Brendan Gregg](http://www.brendangregg.com/blog/2016-03-05/linux-bpf-superpowers.html) (30m, CPU performance monitoring and eBPF introduction)
- [Kernel Tracing With eBPF - Unlocking God Mode on Linux](https://media.ccc.de/v/35c3-9532-kernel_tracing_wi

[2021-07-08 08:40] jamiehynds commented on #26766
@marc-gr is this something you've come across when troubleshooting the Workplace module in the past?

[2021-07-08 08:51] amolnater-qasource commented on #26177
Hi @michalpristas
We have revalidated this issue on 7.14 BC cloud-qa Kibana environment.
Could you please confirm that do BC builds support Agent upgrade?
- As even on earlier version BC builds we have failed to cover Agent upgrade tests.

We have covered following Scenarios:
**Scenario 01:**
We attempted to upgrade **7.13.3 BC-2** agent upgrade on **7.14.0 BC** environment.
- Agent didn't upgrade

[2021-07-08 08:58] michalpristas commented on #26177
scenario 1 is expected, BC does not have SNAPSHOT suffix so it tries to update agent to 7.14 and download it from official repo. this is not possible as 7.14 was not published yet

scenario 2 i need to verify but this looks like it has issues with endpoint `operation 'Exec' failed (return code: 1): (command had no output): operation 'Exec' failed (return code: 1): (command had no output)`

[2021-07-08 10:06] urso commented on #26730
Are you testing in the right environment? The cloud staging environment might not be ready yet.

[2021-07-08 10:12] sorantis commented on #19612
yes, let's keep it open

[2021-07-08 12:17] michalpristas commented on #26730
reproducible on staging, not reproducible on qa cloud. closing

[2021-07-08 12:17] #26730 closed

[2021-07-08 12:46] MikePaquette opened #26790 "Auditbeat populating unexpected value of ECS event.kind field"
- Version:  7.14.0 BC1
- Operating System:  macOS
- Discuss Forum URL: None
- Steps to Reproduce:  install auditbeat on macOS system.  Force quit a process.  Look for error events from auditbeat.
- Detected by: custom security solution detection rule "ECS Check: event.kind contains disallowed value"
- Expected behavior: `event.kind` should be one of {alert, event, metric, state, pipeline_error, si

[2021-07-08 12:47] elasticmachine commented on #26790
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-07-08 13:18] mostlyjason commented on #26101
I had a chat with Amol on Slack and clarified that there are two separate scenarios described in this thread. The first is the original reported issue that the agent remains stuck even when it is not uninstalled first. This is still broken so I'm reopening the issue.

The second scenario is that it gets stuck in updating when we uninstall the agent on the host first. This is the expected behavior

[2021-07-08 13:43] michalpristas commented on #26177
can this be retested using 7.13.3 snapshot to 7.14.0 snapshot.
and 7.13.3 (released) to 7.14.0 snapshot
i tried multiple times on cloud qa and failed to reproduce.
<img width="971" alt="image" src="https://user-images.githubusercontent.com/1522652/124932116-16faf000-e003-11eb-8272-040a99037283.png">

<img width="1049" alt="image" src="https://user-images.githubusercontent.com/1522652/124931693-c12