[2021-08-11 15:21] lthach2 commented on #27114
Tested with the 7.14.1 agent and I'm now able to successfully install via proxy.

![image](https://user-images.githubusercontent.com/58046702/129056114-53444c51-69ed-450f-81e5-a94f1a9bb9fc.png)

![image](https://user-images.githubusercontent.com/58046702/129056200-1e733776-3042-4f46-8d1e-840eea108a51.png)

Looking at other parts of the test, where or how do we configure the Agent to connect to art

[2021-08-11 15:28] eduardoarreolabt commented on #25670
recently update my var.oauth2.token_url in the Microsoft defender_atp module and the error is regarding "oauth2: cannot fetch token: 400 Bad Request"
![Filebeat error (2)](https://user-images.githubusercontent.com/88786866/129058105-60fc9e42-b386-463a-95ce-f78045a703dd.PNG)

[2021-08-11 15:39] andrewvc commented on #27277
To clarify @ruflin this seems to be a filebeat bug AFAICT, I'm not sure why we'd be investigating this issue. It seems to be triggered by the synthetics package, but not the fault of it.

If I had to guess its matching the `tcp` input too broadly as @dominiqueclarke has pointed out.

[2021-08-11 16:33] endorama commented on #15613
@exekias may you help me answer n 4 from above comment?

[2021-08-11 18:41] #19393 closed

[2021-08-11 18:42] EricDavisX commented on #27114
@lthach2 thanks so much.  I pinged the team via slack, and we can follow up more in the test issue, if this doesn't get more comment in the next day.  In that case we can just close it, as the one known issue is fixed - and we'll continue testing, and log separate issues as we find them

[2021-08-11 19:23] ppf2 opened #27321 "Enrolling an agent immediately terminates fleet server"
Install fleet server:

[code]

Fleet server installs and starts up fine:

[code]

[code]

Enroll elastic agent (where `elastic-agent.yml` is the policy copied from Kibana instructions:

![image](https://user-images.githubusercontent.com/7216393/129090203-5c18aefe-5be0-45d2-80f3-d8b0892aea14.png)

[code]

As soon as the above is run, Elastic agent enrolls successfully:

[code]

But Fleet Server exi

[2021-08-11 19:23] elasticmachine commented on #27321
Pinging @elastic/fleet (Team:Fleet)

[2021-08-11 19:29] #25297 closed

[2021-08-11 23:21] ppf2 commented on #27321
With debugging enabled for fleet server for when it terminates after receiving the agent enrollment request:

[code]

[2021-08-12 06:17] colttt commented on #7955
I guess there is no update(3years later),but as @earlpotter0 said, its annoying to have a lot of beats running on one machine.

[2021-08-12 06:47] amolnater-qasource commented on #27230
Hi @EricDavisX
We have attempted to install filebeat and Linux.tar.gz agent with `qa-suse-les-15.2-x64-clone-base` on 7.15.0 snapshot.

**Observations:**
- Filebeat installed successfully and filebeat data is available under Discover tab.
- Linux Agent installed successfully with default policy having System integration and data for elastic_agent and System integration is available under Data Stre

[2021-08-12 07:08] dsent9 commented on #27270
@urso

`setup:
  kibana.host: "https://${kibana_url}:9243"
  template.settings:
    index.number_of_shards: 1
    index.number_of_replicas: 1
    index.codec: best_compression
  ilm:
    enabled: auto
    rollover_alias: "auditbeat-%{[agent.version]}"
    pattern: "{now/d}-000001"
    policy_file: ${path.config}/ilm-policy.json
`

[2021-08-12 07:23] amolnater-qasource opened #27404 "[Fleet]: event.datasets field is blank with logs under Logs tab."
**Kibana version:** 7.15.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 Snapshot Kibana cloud environment should be available.
2. An agent must be installed with Default policy having System integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agents>Logs tab.
3. Observe blank e

[2021-08-12 07:43] amolnater-qasource opened #27405 "[Fleet]: Log level dropdown is blank under Logs tab."
**Kibana version:** 7.15.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 Snapshot Kibana cloud environment should be available.
2. An agent must be installed with Default policy having System integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agents>Logs tab.
3. Click Log level

[2021-08-12 08:50] elasticmachine commented on #27292
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-08-12 08:50] elasticmachine commented on #27291
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-08-12 09:00] paulb-elastic commented on #26747
@vigneshshanmugam does anything else need doing here?

If I add a tag for a `browser` test with `tags: ["testTag1", "testTag2"]` for example, I do see these in Uptime:

![image](https://user-images.githubusercontent.com/70908889/129169161-57981f48-2b6d-4bb5-8c03-372aa6ccc318.png)

[2021-08-12 09:34] ruflin commented on #27277
This means the TCP input works as expected and all data is shipped but in addition filebeat throws error. If this is the case, agree needs to be fixed by the Elastic Agen tteam.

[2021-08-12 11:03] paulb-elastic commented on #27277
Zube closed it, reopening

[2021-08-12 12:52] nchaulet commented on #27321
@ppf2 From what I saw your are running everything locally correct? I do not think it's possible to run two agents on the same host (Agent and Fleet Server for example)

[2021-08-12 13:13] lucabelluccini opened #27337 "Modules/functionalities which use ingest pipelines should consider Elasticsearch defaults of script.painless.regex.limit-factor (ES 7.10+)"
Starting Elastic Stack 7.10+, `script.painless.regex.limit-factor` is introduced and set to 6.
This setting can be changed, but it can lead easily to failures in Beats modules and Fleet integrations which require `regexes` in Painless scripts.

It would be great to:
- Warn the users in the documentation about this setting which might require adjustments
- Eventually warn the user at installation t

[2021-08-12 13:13] elasticmachine commented on #27337
Pinging @elastic/fleet (Team:Fleet)

[2021-08-12 13:13] elasticmachine commented on #27337
Pinging @elastic/obs-docs (Team:Docs)

[2021-08-12 14:40] BenB196 opened #27339 "Allow disabling of Cache within DNS processor"
**Describe the enhancement:**

The DNS processor cache settings:

[code]

Must currently have a value >= 1, meaning that there will always be at least 1 record cached.

I'd like to disable caching in the DNS processor, either by setting to 0, or having an additional setting to disable it.

**Describe a specific use case for the enhancement or feature:**

The use case for disabling caching, is for

[2021-08-12 14:55] vigneshshanmugam commented on #26747
@paulb-elastic We need to make sure these tags are sent to the Synthetics CLI to make use of the filtering logic which is essential for big projects like Kibana. We need to enable this - https://github.com/elastic/synthetics/pull/300

[2021-08-12 15:16] odinho commented on #7955
We migrated to Vector, which supports journald, instead.

[2021-08-12 15:54] EricDavisX commented on #27299
I see the above PR was backported to 7.14.X - I'm surprised this impacted 7.14 and we didn't know it earlier.  I had thought it was a beyond-7.14 change, but I may have been thinking about a different urgent bug.  If we can figure out how we missed it (collectively) it may be worth a mini postmortem type follow up.

[2021-08-12 16:16] scunningham commented on #27321
Can you add the agent logs for the agent that is running the fleet server around the time the fleet server is terminated?  It appears from the above fleet-server logs that it is being told to shut down.

[2021-08-12 16:18] fearful-symmetry opened #27340 "Look into rewriting system Dashboards"
So, I recently fixed an issue where the CPU usage Gauges in the system dashboards were using painless to normalize CPU usage metrics, as opposed to using `norm.pct`, presumably because the visualization predated the normalized metrics. In addition, both myself and @ruflin have run into issues with the TSVB visualizations zeroing out if you set the time interval too low.

I'm starting to wonder if

[2021-08-12 16:19] elasticmachine commented on #27340
Pinging @elastic/integrations (Team:Integrations)

[2021-08-12 16:20] scunningham commented on #27299
The change was added late to address a memory leak that was considered a
blocker.

On Thu, Aug 12, 2021 at 11:54 AM Eric Davis ***@***.***>
wrote:

[2021-08-12 16:30] ppf2 commented on #27321
Ah, that must be it then.  I am trying to start Fleet Server locally on my laptop and then enroll an agent (also tried doing it from a separate unpacked tar.gz folder) to this Fleet Server.

Can we:

- Highlight this limitation/non-support caveat in the self-managed section of the documentation
- Add some form of validation to prevent users from attempting this?  I am pretty sure others will run i

[2021-08-12 16:56] EricDavisX commented on #27230
Thank you! This is enough for now - we have a larger decision on the team as to if we can / should / will support SLES, including SLES 15 - it isn't in the support matrix yet, so adding it requires (ideally, and likely, several efforts to add it to automated test regimen for several repos).

We will post back when we can cite more details, hopefully with a public 'plan' about how we approach the q

[2021-08-12 17:03] EricDavisX opened #27342 "[Agent] Agent seems unable to upgrade from 7.13.4 to 7.14 - error in logs ' Cannot create a file when that file already exists'"
User tried to update elastic-agent on a Windows 2019 server, but it is failing.  It will go to "updating", then it will go to "unhealthy" for several many minutes, then will finally revert to healthy, but it's still at 7.13.4.  Error message indicates failures circa the download of the new agent or processing around that time.

User reports this from cloud.elastic.co and 7.14 'GA' build (not using

[2021-08-12 17:03] elasticmachine commented on #27342
Pinging @elastic/agent (Team:Agent)

[2021-08-12 17:09] patrickt333 commented on #27342
Please note the different error messages.  First, it failed to download the zip file (or couldn't find it, bad path, maybe?)

Second, it found the zip file, but said it couldn't overwrite the executable.

[2021-08-12 17:26] elasticmachine commented on #27337
Pinging @elastic/agent (Team:Agent)

[2021-08-12 19:05] vigneshshanmugam commented on #26747
@paulb-elastic I see the confusion, After discussion with Andrew, I have updated the description and moved the tags under filter_journey option.

[2021-08-12 19:10] pc-mrousseau commented on #26312
As a quick FYI - the 'timeout' approach has some drawbacks as well. If the timeout is too short, it might result in false positives due to network weather. If the timeout is too long, depending on the change velocity of the environment we can have a higher % of lingering "zombies".

In many other similar platforms there are available APIs to pro-actively unenroll endpoints at the orchestration lev

[2021-08-12 20:04] duncaninnes commented on #2926
Commenting again just to keep this open

[2021-08-12 21:16] bkennedy-mx commented on #27262
I was able to get into SecOps yesterday, but we have an issue with our kubernetes environment that prevented me from getting them.  If that issue gets resolved, I'll be able to download them, cleanse them and start the data transfer tomorrow, but it could be up to a week before the transfer gets done.  I'll get them as soon as I can.  To be clear, the errors in the logs are identical to those in 7

[2021-08-12 21:21] jasonrhodes commented on #26480
@sayden do you see this making it in for 7.15? Just trying to see if we should get the metrics-* stuff into the UI by then or not -- thanks!

[2021-08-12 21:44] fearful-symmetry commented on #8174
Sorry for the delayed update: A fix is currently in the snapshot for integrations, and is being promoted to staging now.

[2021-08-13 01:32] blakerouse commented on #27342
First I want to say I am very happy to see that it re-checks in with the old version and remains healthy after that point. I understand that it's not the correct version, but that is a good sign that it did not just leave the agent in a bad state and it never comes back online.

So the first error that is reported is because it timed out downloading the binary from the Elastic, this is probably du

[2021-08-13 01:38] blakerouse commented on #27321
@ppf2 If you remove the `-f` (meaning force) from the `enroll` command it would prompt you that it will overwrite the other Elastic Agent. Being that you are using `-f`, means that your are forcing the overwrite.

I filed a bug about documentation for this at https://github.com/elastic/observability-docs/issues/982

[2021-08-13 01:38] #27321 closed

[2021-08-13 06:11] amolnater-qasource commented on #27251
Hi @EricDavisX

We have revalidated this issue on 2 different Bigsur 11.0. We installed MAC agent with Default policy having only System integration and found this issue not reproducible.
- Agent directly gets installed with "Healthy" state.

**Build details:**
[code]

**Note:**
This issue is only reproducible if agent is installed with Policy having Endpoint Security integration before installati

[2021-08-13 06:53] P1llus commented on #27293
Will see if we can push some quick fixes for these, as they might have been slightly modified on the Snyk side

[2021-08-13 06:53] P1llus commented on #27292
It seems that we need to add the on_template_error to pagination, to prevent it from failing during pagination, will start to apply a fix for this

[2021-08-13 06:54] P1llus commented on #27291
This is related to: https://github.com/elastic/beats/issues/27292

Because of the pagination failing, the next request is malformed, closing this in favor of the other

[2021-08-13 06:54] #27291 closed

[2021-08-13 07:04] amolnater-qasource commented on #27230
Thanks for the confirmation @EricDavisX . Could you please confirm if we need to add testcases for the SLES 15 support for agent and filebeat in our test suite?

If we need to cover SLES 15 testing regularly we can add testcases with below scenarios:
- Filebeat installation
- Agent installation
- Agent reboot
- Agent support with Endpoint Security and visibility under Endpoints tab.

Thanks!

[2021-08-13 07:11] michalpristas commented on #27342
@blakerouse  is correct in both cases. the workaround for first one is to increase timeout and restart agent. timeout is increased using `agent.download.timeout` by default it's 5 minutes if i recall correctly
increasing it to 10 minutes or more could be enough

workaround for second one is to remove `.prev` file manually before proceeding with upgrade

[2021-08-13 07:37] ruflin commented on #27340
++ on rewriting the dashboards. It is not just about using Lens but also using new linking features in Kibana and more. The new system dashboards can serve as a model on how future dashboards should be done.

[2021-08-13 07:41] exekias commented on #27340
+1 to this, @fearful-symmetry are you looking into to also change the data that this is shown or this is mostly about trying to refactor it into lens, while trying to keep the same graphs?

also cc @sorantis

[2021-08-13 07:48] ruflin commented on #26312
Commenting on the API part: There is a full Fleet API and everything you can do in the UI can be done view API. What we need to work on are the docs: https://www.elastic.co/guide/en/elasticsearch/reference/7.x//fleet-apis.html Here you can find the openapi definition for it: https://raw.githubusercontent.com/elastic/kibana/7.x/x-pack/plugins/fleet/common/openapi/bundled.yaml And the unenroll API y

[2021-08-13 08:59] sorantis commented on #27340
+1 on giving the system dashboards a refresh. While they show relevant information they're lacking prebuilt filters (e.g. host selection). Also, I think it'll be a good opportunity to combine logs and metrics dashboards, at the very least by linking them together. We've compiled the [dashboard creation guidelines](https://github.com/elastic/integrations/issues/269) that could aid this work.

[2021-08-13 09:04] mohsen0 opened #27359 "[Elastic Agent 7.14] [Kubernetes provider] dedoting labels and annotations is needed"
- Version: Elastic Agent 7.14
- Operating System: Kubernetes 1.18, Linux nodes
- Discuss Forum URL: https://discuss.elastic.co/t/elastic-agent-7-14-kubernetes-provider-how-to-dedot-labels-and-annotations/281230
- Steps to Reproduce:
Deploy the standalone elasitc agent using what was provided in the docs, it will fail for the pods that have standard kuberntes labels. like app.kubernetes.io/name
Kub

[2021-08-13 09:05] exekias commented on #13140
We have been working on a new input that may help solving this issue, as it is able to cleanup registry entries that are no longer used, I've created an issue to test and validate the approach: https://github.com/elastic/integrations/issues/1526

[2021-08-13 10:33] #27292 closed

[2021-08-13 10:33] #27293 closed

[2021-08-13 11:37] elasticmachine commented on #27359
Pinging @elastic/agent (Team:Agent)

[2021-08-13 11:40] morganchristiansson commented on #7955
After `apt install rsyslogd` the expected logfiles are created under /var/log and filebeat ingests them by default and it works with the filebeat system module...

I thought maybe the filebeat syslog input could also work but haven't tried. It wouldn't work with default modules which expect logfiles tho.

[2021-08-13 13:09] blakerouse commented on #27359
@ChrsMark ^ seems like something we need to fix in the Kubernetes provider.

[2021-08-13 13:52] patrickt333 commented on #27342
So, I can't find that file.  Well, I sort of do, but it's as a symlink to
elastic-agent.exe and windows can't find the symlink file. So:

Do a search in Explorer, and you'll find this:

[image: image.png]

When you click to open the file location, Windows can't find it.  If I look
at the properties, it says it's pointing to C:\Program
Files\Elastic\Agent\data\elastic-agent-054e22 but that director

[2021-08-13 14:15] andrewvc opened #27366 "[Agent] Determining Agent Capabilities in fleet"
Some integrations like elastic synthetics are only able to run on certain agents. The current user experience is poor because a user might configure the integration and deploy it to a group of agents that have no capability to run it! The only feedback the user would get his errors in the agents logs (and the lack of data from their selected integrations).

One approach to fixing this would be to

[2021-08-13 14:15] elasticmachine commented on #27366
Pinging @elastic/uptime (Team:Uptime)

[2021-08-13 14:15] elasticmachine commented on #27366
Pinging @elastic/agent (Team:Agent)

[2021-08-13 14:43] #16585 closed

[2021-08-13 14:50] blakerouse commented on #27366
I think this relates to status reporting and the ability to report a status per input defined in the policy. That way in the case that an input is added to a policy that the Elastic Agent doesn't support it can report the status of not capable and give a reason.

I think this relates to #26457 and #22396

[2021-08-13 16:00] andrewvc commented on #27366
@blakerouse sort of, we want this to happen *before* you save the monitor.

[2021-08-13 16:12] Conky5 opened #27368 "Adding Elastic Agent homebrew-tap"
**Describe the enhancement:** A request was made to add the Elastic Agent to the homebrew-tap repository https://github.com/elastic/homebrew-tap/issues/94

**Describe a specific use case for the enhancement or feature:** Using homebrew to install the Elastic Agent on macOS.

[2021-08-13 16:15] elasticmachine commented on #27368
Pinging @elastic/agent (Team:Agent)

[2021-08-13 16:31] michel-laterman commented on #26758
We are reusing `agent.logging.metrics.enabled` instead of introducing another setting.
The default (`true`) has not changed. If it's set to false then the elastic-agent and all beats running under it will not have the metrics entries appear in the logs.

[2021-08-13 16:34] fearful-symmetry commented on #27340
Considering that the old dashboards were deriving their own `norm.pct` values, I'm guessing there's other instances of data sources we'd rather change, or other things we should add. @exekias

[2021-08-13 17:21] nik9000 opened #27371 "Consistent _source ordering"
**Describe the enhancement:**
A while back I was experimenting with the size of an Elasticsearch index. I grabbed a dump of some data indexed by beats 7.6.2 and noticed that I could save a couple of percentage points on the disk space when the `_source` is sorted. In other words. My test data was one doc per line and I made it into bulk files like this:

[code]

When I sorted the data like:

[code

[2021-08-13 17:24] ScottHoward4 opened #27372 "Functionbeat v.7.14.0 Failure to deploy bug"
For confirmed bugs, please report:
- Version: 7.14.0
- Operating System: Windows, Mac, and Linux
- Steps to Reproduce: Simply follow the quick start guide here- https://www.elastic.co/guide/en/beats/functionbeat/current/functionbeat-installation-configuration.html
- Description: When deploying functionbeat, the deploy fails and gives the error `Function: PublicApiFunctionbeat, could not deploy, er

[2021-08-13 17:36] elasticmachine commented on #27371
Pinging @elastic/agent (Team:Agent)

[2021-08-13 17:43] #20562 closed

[2021-08-13 17:56] michel-laterman commented on #26572
The [go-sysinfo](https://github.com/elastic/go-sysinfo) library that is already used by the host provider in the agent collects the os UUID values (such as `/etc/machine-id`) as expected and provides them as `host.id`.

[2021-08-13 19:56] kuisathaverat commented on #26398
We cam probably reuse some of the work made for the IronBank Docker images, these are the dependencies to install synthetics about 200MB on RPM packages https://repo1.dso.mil/dsop/elastic/beats/heartbeat/-/blob/development/hardening_manifest.yaml

[2021-08-13 20:13] #26367 closed

[2021-08-14 09:30] adriansr opened #27382 "http_endpoint: 7.14.0 breaks backwards compatibility by encoding numbers as strings"
For confirmed bugs, please report:
- Version: 7.14.0
- Operating System: -
- Discuss Forum URL: -
- Steps to Reproduce: -

Run filebeat with the following conf:
[code]

[code]

Ingest a document containing a number:
[code]

The following document is produced:
[code]

This can break existing ingest pipelines that are expecting numbers instead of strings.

This is caused by https://github.com/elasti

[2021-08-14 09:30] elasticmachine commented on #27382
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-08-14 10:11] andrewkroh commented on #27382
I guess it's missing a call to https://github.com/elastic/beats/blob/23e4403ae093fcc8f7905345cad2c7ad256976d8/libbeat/common/jsontransform/transform.go#L29.

[2021-08-14 10:35] andresrc opened #27383 "Ensure test coverage for 7.x beats writing to master / 8.x"
**Describe the enhancement:**

We need to make sure that we have integration tests coverage to check that 7.x beats are able to write to ES 8.x

**Describe a specific use case for the enhancement or feature:**

Forward compatibility if beats 7.last writing against 8.x is needed.

[2021-08-14 10:35] elasticmachine commented on #27383
Pinging @elastic/agent (Team:Agent)

[2021-08-14 16:43] #7673 closed

[2021-08-14 18:43] #20607 closed

[2021-08-14 21:36] CyberTaoFlow commented on #19810
+1

[2021-08-15 10:28] andresrc opened #27384 "Test 1 - no label"

[2021-08-15 10:28] andresrc opened #27385 "Test 2 - label"

[2021-08-15 10:29] andresrc opened #27386 "Test 3"
blah

[2021-08-15 10:29] elasticmachine commented on #27386
Pinging @elastic/agent (Team:Agent)

[2021-08-15 10:31] #27384 closed

[2021-08-15 10:31] #27385 closed

[2021-08-15 10:31] #27386 closed

[2021-08-15 10:37] andresrc opened #27387 "Test 4"
will be closed soon

[2021-08-15 10:38] elasticmachine commented on #27387
Pinging @elastic/agent (Team:Agent)

[2021-08-15 10:39] #27387 closed

[2021-08-16 02:48] Nulluzz commented on #6282
👌🏻👌🏻

[2021-08-16 03:55] luchees commented on #9371
I'm trying to deploy functionbeat with AWS cloudwatch but this is not working.
I get this error message:
`token provider required for AssumeRole with MFA`

I have correct permissions and my profile is working for AWS commands.
I think its not supporting the token input when issuing the deploy command.

[2021-08-16 03:58] luchees opened #27388 "[Functionbeat] Support AWS MFA profile"
**Describe the enhancement:**
It should be possible for functionbeat to accept MFA token when deploying to AWS with a profile that uses MFA.

**Describe a specific use case for the enhancement or feature:**

MFA is widely used and should be supported when deploying functionbeat

[2021-08-16 11:25] ruflin commented on #27366
This is similar to when a user wants to collect windows metrics but only has linux boxes. Ideally we should warn the user in advance. One more challenge here is that it might not apply to all Elastic Agents. Lets assume the users created a policy with some Elastic Agents using the "complete" docker image and some don't. This works fine to configure pings but not for synthetics. What should we do i

[2021-08-16 11:33] ruflin commented on #27371
This is interesting, @jpountz we should feed this into the compression comparisons too. @nik9000 Thanks for sharing!

[2021-08-16 11:42] rbr101 commented on #26328
yes please, add proxy support so we can use it behind a corporate proxy

[2021-08-16 14:21] ruflin commented on #26629
@nimarezainia @mostlyjason @sorantis I know you start to think about this also in the context of packages.

My personal take: There are 2 layers of compatibility:

* Elasticsearch output
* Modules

Elasticsearch output stays compatible because Elasticsearch is not expected to make breaking changes in minor. For modules we should require the same version of the stack or newer.

[2021-08-16 14:47] kvch opened #27397 "[build] Functionbeat MSI signing is failing"
Signing of Functionbeat MSIs has been failing with the following error:

[code]

It seems that some files in the vendor folder we generate have too long paths for Windows. We have to investigate if we can either shorten the paths or get rid of the dependency. Or some third option if all else fails.

[2021-08-16 14:47] elasticmachine commented on #27397
Pinging @elastic/agent (Team:Agent)

[2021-08-16 15:49] #20672 closed

[2021-08-16 15:54] n0othing commented on #26284
Setting `xpack.enabled: true` for either the `elasticsearch` or `elasticsearch-xpack` module enforces a handful of metricsets to automatically be collected and can't be overridden.

One way to trigger `Error fetching data for metricset elasticsearch.ml_job: HTTP error 400 in : 400 Bad Request` is by explicitly disabling Machine Learning cluster wide (e.g setting `xpack.ml.enabled: false` in the `e

[2021-08-16 16:27] andrewkroh commented on #26629
The merging of https://github.com/elastic/beats/pull/27398 will mean that Beats 7.15+ require at least Kibana 7.15 to import dashboards and Kibana index patterns. The release notes will say "Beats can only import and export dasbhboards using at least Kibana 7.15."

The support matrix needs to be updating to reflect this before 7.15 is released.

[2021-08-16 17:00] shawnz commented on #26191
@jsoriano That appears to be an X-pack exclusive feature but I'm not using X-pack. How can I run the filebeat setup in such a configuration?

[2021-08-16 18:05] EricDavisX commented on #27251
@ferullo do you have any ideas why this is problematic only when Endpoint is included in the Agent policy?  Anything seen on your side of the testing house?

[2021-08-16 18:14] EricDavisX commented on #27230
@amolnater-qasource @dikshachauhan-qasource hi - I don't want to create a specific SLES 15 test group.  But, you've triggered my thinking!  We should copy the above (and add in a next level of detail, I think) and call it a 'Agent & Beats platform certification' test group.  I'd expect it to have those tests as well as some data oriented tests on the key Integrations (System, Windows, Linux, Endpo

[2021-08-16 18:18] elasticmachine commented on #27404
Pinging @elastic/agent (Team:Agent)

[2021-08-16 18:26] EricDavisX commented on #27404
if this is coming from a 7.14 Agent, I'd ask for further review to see how impactful this may be.  we might fix it more urgently if it is impactful.

[2021-08-16 18:35] ferullo commented on #27251
I don't see anything in the Agent or Endpoint logs to indicate agent is unhealthy. This happens with a 7.14.0 Kibana and 7.14.0 Agent?

[2021-08-16 18:58] EricDavisX commented on #27342
@michalpristas @michel-laterman - maybe Michel, would you mind self-assigning and taking care to make sure about this?  I *maybe got confused because I hear it fixes were merged to 7.14, which to me implies the 'GA' 7.14.0 but I think it was meant that they were only merged to 7.14.1 which is not shipped yet so it can't be tested except with upgrade using a snapshot Kibana of 7.14.1 branch...

[2021-08-16 19:14] michel-laterman commented on #27404
I'll take a look, the issue is present on 7.14.0
<img width="1215" alt="Screen Shot 2021-08-16 at 12 09 05 PM" src="https://user-images.githubusercontent.com/82832767/129617216-e0a7bf37-a162-4927-a0f0-23c46e3c0f16.png">

looking into the actual log entries, `event.dataset` appears as two keys in the document.
[code]
Once with the expected value
[code]
and at the end with an array

[2021-08-16 19:15] elasticmachine commented on #27405
Pinging @elastic/agent (Team:Agent)

[2021-08-16 19:20] jen-huang commented on #27405
@ruflin Do you think this could have been caused by recent changes we made to `elastic_agent` package data stream definitions? Did the package prior to those changes have mappings for `log.*` fields?

The dropdown in the UI uses a terms agg on `log.level` to populate the values, I think it's failing now (no terms are returned) due to the lack of keyword mappings. This used to work so I'm wondering

[2021-08-16 19:26] andrewkroh commented on #27404
Does anyone know where the `event.dataset` value of `{beatname}-json.log` originates? The `_source` looks like this

[code]

Agent adds `[event][dataset]` in the Filebeat config that's generated to collect logs. Those logs are parsed as JSON, so I wonder if the original log contained `event.dataset: {beatname}-json.log`?

https://github.com/elastic/beats/blob/084ba4eb0a01dda363a25a90648bf342baa7fe

[2021-08-16 19:42] willemdh opened #27408 "[Winlogbeat] Sysmon Registry Value bug"
- Version: 7.13.1
- Operating System: Red Hat 8 / All Windows Versions
- Discuss Forum URL:
  - https://discuss.elastic.co/t/winlogbeat-sysmon-configuration-registry-fields-seems-to-map-the-wrong-value-of-the-registry/281521
  - https://discuss.elastic.co/t/winlogbeat-sysmon-configuration-registry-fields-seems-to-map-the-wrong-value-of-the-registry/273733
  - https://discuss.elastic.co/t/winlogbea

[2021-08-16 19:57] elasticmachine commented on #27408
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-08-16 19:58] jen-huang commented on #27404
@michel-laterman Interesting that your UI screenshot actually displays values in the `event.dataset` column when it is an array (mine off of master shows blank). What version of Kibana are you running?

[2021-08-16 20:11] michel-laterman commented on #27404
`7.14.0` using elastic-package

[2021-08-16 20:58] michel-laterman commented on #27404
@andrewkroh, It looks like the filename event.dataset entries are being written directly into the logs. For example `filebeat-json.log` contains:
[code]
this only occurs with the log entries (no dataset arrays for metrics)

[2021-08-16 21:17] michel-laterman commented on #27404
the filename dataset entries are added as part of the ECS annotations:
https://github.com/elastic/beats/blob/afde058fb35f32220b7db96c1972567d5cce5a14/libbeat/logp/core.go#L199-L205

[2021-08-16 22:03] #26747 closed

[2021-08-16 22:57] jen-huang commented on #27404
@hop-dev Can you take a look on the Fleet side to see why the `LogStream` UI component might be showing different behavior on 7.15/master (empty column) vs 7.14 (column correctly shows array values)?

[2021-08-17 00:22] KnechtionsCoding commented on #23023
We're running 7.14.0 and seeing it.

[2021-08-17 02:08] elasticmachine commented on #27411
Pinging @elastic/uptime (Team:Uptime)

[2021-08-17 02:48] andrewvc commented on #27202
I've updated this issue to recommend a new flag instead of using the existing `heartbeat` `ssl.verification_mode` flag. The behavior is sufficiently different that it really should be separated.

[2021-08-17 02:50] andrewvc commented on #25958
@mdelapenya somehow we missed this, but can I ask if this is still happening? This would likely have been a libbeat issue, and if it was there is likely resolved by now.

[2021-08-17 02:50] andrewvc commented on #26398
Closing, this is done in https://github.com/elastic/beats/pull/27052

[2021-08-17 02:50] #26398 closed

[2021-08-17 06:14] kvch commented on #27397
Builder machines were adjusted. No further action needed from us. Thanks @Conky5

[2021-08-17 06:14] #27397 closed

[2021-08-17 06:16] ruflin commented on #27397
@kvch Any chance you could share a bit more on what need to be adjusted? So in case it happens again, we know how to fix.

[2021-08-17 06:26] #18205 closed

[2021-08-17 07:26] matschaffer opened #27415 "Per-process thread count metrics"
**Describe the enhancement:** Linux tracks thread counts per pid, for example:

[code]

It'd be useful to have that data collected along side the rest of the system module statistics. Thread count and CPU performance are often related.

**Describe a specific use case for the enhancement or feature:**

We were tracking metricbeat threads for profiling of stack monitoring data collection via metricb

[2021-08-17 07:31] ruflin commented on #27404
Adding the LogFileName as `event.dataset` sounds like a bug and is not ECS conform. It was added here: https://github.com/elastic/beats/pull/25998 @axw Do you remember by chance what it was added to event.dataset? @michel-laterman We should remove this I think.

[2021-08-17 07:32] ruflin commented on #27404
@felixbarny I see you suggested `apm-server.log` as `event.dataset` in https://github.com/elastic/beats/issues/25997? This sounds off.

[2021-08-17 07:39] karanbirsingh-qasource opened #27417 "[Security Solution]Unsupported Media Type coming on setting up the audit beat on window 64 bit arch"
**Describe the bug**
Unsupported Media Type coming on setting up the audit beat on window 64 bit arch

**Build Details**
[code]

**Browsers**
all

**Precondition**
- Deploy 8.0.0 Elastic Cloud Build on QA Platform

**Steps to Reproduce**
1. RDP to the windows 64 bit vm.
2. Download and extract the auditbeat-8.0.0-SNAPSHOT-windows-x86_64.zip.
3. Run power shell in admin mode.
4. Run  `.\install-ser

[2021-08-17 08:39] barrymurphy365 commented on #26156
@jsoriano I am wondering if you can give us a sense of what's involved in adding this option - we have a meeting with the customer tomorrow and have committed to providing them with a monthly update on their ask. Thanks in advance
cc @DasUberLeo

[2021-08-17 08:51] ruflin commented on #27405
Yes, this is very likely to my change to the package. By default I turned dynamic mappings off, that is why it worked before as it just mapped everything. I see @nchaulet is working on a PR for elastic agent package, will this also be addressed?

[2021-08-17 09:13] amolnater-qasource commented on #27230
Hi @EricDavisX
We have created 05 testcases for SLES 15 support covering scenarios like reboot, support with System, Linux and Endpoint integrations under "Agent & Beats platform certification" section in our Ingest Manager test suite:
[C149911](https://elastic.testrail.io/index.php?/cases/view/149911)
[C149912](https://elastic.testrail.io/index.php?/cases/view/149912)
[C149913](https://elastic.te

[2021-08-17 09:13] amolnater-qasource commented on #27251
@ferullo Yes we were using 7.14.0 Kibana[released production] environment and 7.14.0 Agent.
- We installed the MAC agent with Default policy having System and Endpoint Security. We observed the inconsistent behaviour of agent after installation as shared above.

Thanks

[2021-08-17 09:17] felixbarny commented on #27404
@ruflin is that because the `data_stream.dataset` and `event.dataset` fields are already set by Elastic agent's Filebeat config? Or is there a more fundamental reason why `event.dataset="${service.name}.log"` is not a good idea?

The idea was that each Beat/shipper defines its dataset and that the Filebeat config to ship the log files looks the same for every shipper, without needing to define the

[2021-08-17 09:23] ruflin commented on #27404
In general I like the idea that the `dataset` is already set in the log file. I think we have 2 problems here:

* Having `.log` in the dataset name is a bit unfortunate. That it is a log should be defined by the `type` already. Lets remove it.
* Filebeat can be run in standalone and with Elastic Agent. Depending on how it is run, logs should be shipped to a different place. When run by Elastic Age

[2021-08-17 09:38] liza-mae opened #27418 "Import beats dashboard fails with unsupported media type"
For confirmed bugs, please report:
- Version: 8.0
- Operating System:  Ubuntu
- Steps to Reproduce:
Run ```./filebeat setup```

[code]

Is it possibly related to recent change: https://github.com/elastic/beats/pull/27220, as part of https://github.com/elastic/kibana/issues/41439?

[2021-08-17 09:38] elasticmachine commented on #27418
Pinging @elastic/agent (Team:Agent)

[2021-08-17 09:38] elasticmachine commented on #27418
Pinging @elastic/integrations (Team:Integrations)

[2021-08-17 09:43] felixbarny commented on #27404
This seemed to be a best practice looking at datasets like `haproxy.log`, `kibana.log`, etc. Is that a practice you are moving away from? If so, we should also update the [ECS logging spec](https://github.com/elastic/ecs-logging/blob/a617a4431fefbd10775429de7af4748e482fc9f4/spec/spec.json#L96).

Why not have the same datastream regardless of how it's run?

++

[2021-08-17 10:00] ruflin commented on #27404
I must confess I'm a but surprised by the "best practice" in ECS Logging. Why would we include `.log` if it is already defined by the `type`?

I don't think I have good pure technical argument on this one. The way I think of it is: If you run just filebeat, this is the service you run and is monitored. As soon as you run Elastic Agent, it will run some processes which is an implementation detail f

[2021-08-17 12:06] paulb-elastic commented on #25775
This isn't the right solution, instead focusing on https://github.com/elastic/beats/issues/27366

[2021-08-17 12:06] #25775 closed

[2021-08-17 12:08] ruflin commented on #26322
@kvch This seems to be related to https://github.com/elastic/beats/issues/27270 ?

[2021-08-17 12:10] ruflin commented on #26447
I'm wondering how this could happen as all the signing is fully automated. @mgreau @andrewkroh Any ideas?

[2021-08-17 12:15] ruflin commented on #27114
Going to close this issue as the initial proxy problem seems to be resolved in 7.14.1.

[2021-08-17 12:15] #27114 closed

[2021-08-17 12:19] MadameSheema commented on #27417
@manishgupta-qasource @karanbirsingh-qasource is there any reason why this issue has been reopened? This issue should be tracked on beats repository.

[2021-08-17 12:29] felixbarny commented on #27404
Looking at examples (maybe from Beats modules, not sure), I thought that this was an established best practice, so I added it to the ECS logging spec as a default value. I don't feel strongly about the `.log` suffix at all and am happy to revise the spec. What would a better default be? Just the service name?

[2021-08-17 12:39] ruflin commented on #27418
@kvch Any idea here? I wonder if it is related to your recent change or maybe one of the saved object types is not supported anymore?

[2021-08-17 12:40] elasticmachine commented on #27415
Pinging @elastic/integrations (Team:Integrations)

[2021-08-17 12:41] ruflin commented on #27417
It seems like the same issue here? https://github.com/elastic/beats/issues/27418

[2021-08-17 12:41] elasticmachine commented on #27417
Pinging @elastic/agent (Team:Agent)

[2021-08-17 12:42] ruflin commented on #27418
Related issue? https://github.com/elastic/beats/issues/27417

[2021-08-17 12:42] elasticmachine commented on #27388
Pinging @elastic/agent (Team:Agent)

[2021-08-17 12:43] #16456 closed

[2021-08-17 13:45] nchaulet commented on #27405
Yes I can add the mapping back in the same PR

[2021-08-17 14:18] blakerouse commented on #27342
@EricDavisX this change was landed in 7.14 GA, it does not need a 7.14.1 to fix it.

We could by default increase the timeout to try to prevent the timeout of download, but 5 minutes is already a long time. But if the internet is slow because its in another country or something, it might not be enough.

[2021-08-17 14:30] ruflin commented on #27342
Is there a way that a user could overwrite this timeout with a higher value?

[2021-08-17 14:38] peasead opened #27423 "[Filebeat] Add ThreatQuotient to Threat Intel Module"
# Module / Dataset release checklist

This checklist is intended for Devs which create or update a module to make sure modules are consistent.

## Modules

For a metricset to go GA, the following criterias should be met:

* [ ] Supported versions are documented
* [ ] Supported operating systems are documented (if applicable)
* [ ] Integration tests exist
* [ ] System tests exist
* [ ] Automated ch

[2021-08-17 14:38] elasticmachine commented on #27423
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-08-17 15:56] SourinPaul commented on #26572
@nimarezainia just trying to get a quick state of this for 7.15. A quick update will greatly help to align dependencies. Thanks.

[2021-08-17 16:06] kvch commented on #26452
To me it seems that the user has tested with an old version. Since then we added a few fixes to logging:
- https://github.com/elastic/beats/pull/27072
- https://github.com/elastic/beats/pull/26176

I believe all logging issues are resolved now. It would be nice if they could test it again with the most recent release.

[2021-08-17 16:12] kvch commented on #27418
PR to fix it: https://github.com/elastic/beats/pull/27424

[2021-08-17 16:27] kvch commented on #27397
The variable `Computer\HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\FileSystem\LongPathsEnabled` set to 1 and the Windows builder machine was rebooted.

Ref: https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?tabs=cmd

[2021-08-17 16:41] jen-huang commented on #27405
Thanks @nchaulet, I'll assign this one to you.

[2021-08-17 16:58] jsoriano commented on #27299
Is this issue fixed?

I see something like this consistently affecting some integrations, see https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/PR-1537/2/pipeline/422 for example. I could also reproduce this locally with the tomcat integration. Not sure if this is still the same issue.

`elastic-package test` fails with:
[code]

Not sure if related, in `el

[2021-08-17 17:46] andrewvc opened #27431 "[Heartbeat] Require `monitor.name` in `heartbeat.yml`, derive `monitor.id` from it."
To simplify configuration and guarantee easy identifiability of monitors this issue proposes:

1. Requiring the `monitor.name` configuration field
2. Deriving `monitor.id` from it, by lowercasing `monitor.name` and replacing all `\s` chars with `-`.
3. Still allowing an explicit `monitor.id` to be specified.

[2021-08-17 17:46] elasticmachine commented on #27431
Pinging @elastic/uptime (Team:Uptime)

[2021-08-17 17:54] #24213 closed

[2021-08-17 17:54] #25326 closed

[2021-08-17 18:39] blakerouse commented on #27342
They can locally on the host, don't think its an option in Fleet UI.

`agent.download.timeout` is the setting.

[2021-08-17 18:51] blakerouse commented on #12040
@michel-laterman  Yes I think you are correct based on the code this would be fixed by that issue.

[2021-08-17 18:51] #12040 closed

[2021-08-17 18:51] patrickt333 commented on #27342
Do we have a workaround I can use?  Or is just uninstall and reinstall at
this point?

On Tue, Aug 17, 2021 at 2:39 PM Blake Rouse ***@***.***>
wrote:

[2021-08-17 19:31] hop-dev commented on #27404
I believe the root cause of the field not being shown in the table is that `event.dataset` is missing from the mapping, this is being tracked in https://github.com/elastic/beats/issues/27405

[2021-08-17 19:47] andrewvc commented on #26229
This was fixed with our change to stop using scheduler reset temporarily

[2021-08-17 19:47] #26229 closed

[2021-08-17 19:47] andrewvc commented on #26119
This was completed some time ago

[2021-08-17 19:47] #26119 closed

[2021-08-17 19:50] #27202 closed

[2021-08-17 20:29] #26638 closed

[2021-08-17 20:58] #27404 closed

[2021-08-17 21:08] #17597 closed

[2021-08-17 21:32] michel-laterman commented on #26572
Confirmed that the `host.id` currently does not change when the agent is uninstalled or unenrolled then re-installed

[2021-08-17 21:36] EricDavisX commented on #26667
I tagged @lthach2 to look into this, we can try to test it out.

[2021-08-17 21:39] michel-laterman commented on #26572
Here's a table of the host.id and agent.ids during my validation (running on stack v7.14.0)
<img width="1607" alt="Screen Shot 2021-08-17 at 2 37 11 PM" src="https://user-images.githubusercontent.com/82832767/129804103-4c530520-1787-47a0-b945-71cfea3a1966.png">

[2021-08-17 21:47] nimarezainia opened #27441 "7.14 Fleet server communication issues: Failed agent enrollment"
Elastic Agent 7.14 on-prim Elastic cluster. Effected OS Windows Server 2016/2019 both OS's have the same issue.
Error pulled from a failed enrollment attempt of the client directly.
Fleet agent in prod is running on CentOS Stream. Test Fleet server was Ubuntu.

Steps used:

    Remove 7.13.4
    Install windows updates.
    Reboot server.
    Delete the existing Agent folder from C:\Pro~\Elastic\A

[2021-08-17 22:03] nimarezainia opened #27442 "[Elastic Agent] Infrastructure to support multiple outputs in a policy"
**Describe the enhancement:**

There's a requirement to build the infrastructure to support multiple outputs of the the same type in a given policy.
[note: this request is NOT to support multiple types of output such as Logstash and/or Kafka etc. Thos are tracked else where]

This enhancement request is **not** a request to add support in Fleet for the second output.

**Describe a specific use cas

[2021-08-17 22:03] elasticmachine commented on #27442
Pinging @elastic/agent (Team:Agent)

[2021-08-17 22:29] kaiyan-sheng commented on #17731
@Udayel I think this is covered by the work you've been working on. Could you comment here please? Thanks!

[2021-08-18 00:21] kedbirhan commented on #13585
what is the status of  SNS support?. do we still have to use SQS notification for s3 input?

[2021-08-18 02:59] kaiyan-sheng commented on #13585
We have a PR in progress for this: https://github.com/elastic/beats/pull/25492

[2021-08-18 03:04] kaiyan-sheng commented on #26570
@P1llus Hmm if the user is only using lowercase anyway, then the change won't break them right?

[2021-08-18 05:58] P1llus commented on #26570
Thats correct, but it might be the other way around. If people know its always lowercase, thrn maybe someone used mixed or uppercase on the config side.

Maybe it's just me being picky though @kaiyan-sheng

[2021-08-18 07:30] amolnater-qasource opened #27453 "[Self-managed][Agents]: 7.14.0 Snapshot Fleet Server agent went offline on triggering Agent Upgrade from Kibana UI."
**Kibana version:** 7.15.0 Snapshot Kibana self-managed environment

**Host OS and Browser version:** AWS Windows Server 2019, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 Snapshot Kibana self-managed environment should be available.
2. A Fleet Server agent must be installed with Default Fleet Server policy having Fleet Server integration.

**Steps to reproduce:**
1. Login to Kiban

[2021-08-18 07:30] elasticmachine commented on #27453
Pinging @elastic/agent (Team:Agent)

[2021-08-18 07:30] amolnater-qasource commented on #27453
@manishgupta-qasource Please review.

[2021-08-18 07:34] manishgupta-qasource commented on #27453
Reviewed & assigned to @andresrc

CC: @EricDavisX

[2021-08-18 07:34] ruflin commented on #27299
This should have been fixed BUT we had the first successful build since the fix for 7.15.0-SNAPSHOT only yesterday. Could you pull the most recent images and check if you still see it?

[2021-08-18 07:58] elasticmachine commented on #27441
Pinging @elastic/agent (Team:Agent)

[2021-08-18 08:59] cachedout commented on #25755
@simitt Thanks for tracking this. When I look at [the description here](https://github.com/elastic/cloud/issues/81254#issue-889813889) this tracking issue is supposed to be for both Elastic Agent and APM Server.

However, I suspect that you're likely just tracking the Elastic Agent piece of that, correct? If so, I think we might need to track the APM Server piece separately. Please let me know if

[2021-08-18 09:00] #24980 closed

[2021-08-18 09:11] mdelapenya commented on #25958
I'd double check with @shahzad31. If he agrees, yes, then we can close this one

[2021-08-18 09:24] colttt opened #27458 "useless option path.config"
The Documentation said "The location for configuration files." So normally that means I can put config files in it that will be parsed/used like /etc/apt/sources.list.d/ in Debian, but that not happens If I specify path.config and add custom config files in it, it will be ignored, so that means for me that the parameter is ignored or the documentation is (in my understanding) wrong.

For confirmed

[2021-08-18 09:35] jsoriano commented on #27299
Right, integrations builds are back to green with these new snapshots :+1:

[2021-08-18 09:47] ruflin commented on #27299
Great to hear but please keep an eye on it ;-)

[2021-08-18 11:47] m00lecule commented on #13740
Bump - I would also appreciate this configuration option

[2021-08-18 12:15] #27418 closed

[2021-08-18 13:03] blakerouse commented on #27342
@patrickt333 Could you try to set the `agent.download.timeout` to `10m` in the `elastic-agent.yml` and restart the Elastic Agent, then try to perform the upgrade?

[2021-08-18 13:25] patrickt333 commented on #27342
Will try this when im back from vacay next week.

On Wed, Aug 18, 2021, 9:03 AM Blake Rouse ***@***.***> wrote:

[2021-08-18 14:58] aspacca opened #27469 "[Filebeat] Integration tests in CI for AWS-S3 input"
**Describe the enhancement:**
https://github.com/elastic/beats/pull/27199 introduced new integration tests that rely on terraform (https://github.com/elastic/beats/blob/master/x-pack/filebeat/input/awss3/input_integration_test.go)

We should run them in CI, similarly to what happens for Metricbeat (https://github.com/elastic/beats/blob/master/x-pack/metricbeat/Jenkinsfile.yml#L35-L47)

**Describe

[2021-08-18 14:59] aspacca commented on #27469
cc @kaiyan-sheng , @andrewkroh , @v1v

[2021-08-18 14:59] elasticmachine commented on #27469
Pinging @elastic/integrations (Team:Integrations)

[2021-08-18 15:05] aspacca commented on #23691
duplicates #26985

[2021-08-18 15:05] #23691 closed

[2021-08-18 16:12] simitt commented on #25755
With recent changes, ESS/ECE runs the elastic-agent docker image when an `apm` deployment is created. (The Elastic Agent has the APM Server binary bundled which is used to run APM Server on cloud). There won't be any dedicated apm-server docker image for cloud moving forward.

[2021-08-18 17:16] cachedout commented on #25755
Ah, I didn't know that. Makes sense. Thanks!

[2021-08-18 18:26] supersxlx opened #27476 "processor.add_kubernetes_metadata.matchers.resource_type setting won't work"
Hi:
      I started a filebeat on my kubernetes master node. trying to add "pod_name" to index；but filebeat reported “Error extracting container id - source value does not contain matcher's logs_path '/var/lib/kubelet/pods/'”
      My filebeat config:

     `processors:
      - add_host_metadata:
            when.not.contains.tags: forwarded
      - add_cloud_metadata: null
      - add_docker_meta

[2021-08-18 18:33] supersxlx commented on #27476
i try change type to "log", not helping.

[2021-08-18 18:52] EricDavisX commented on #27441
Hi, we've tested on all of the supported OSes, and with the details we have so far I'm not seeing the same problems.

So, I wanted to ask for some clarification, if I could - I know there was good discussion outside of this ticket, so thank you in advance and I hope nothing is a repeat, but apologies if it is!  Is there any way we can clarify on what was being tested too... on-prem vs 'prod' vs te

[2021-08-18 19:00] nimarezainia commented on #26572
@SourinPaul I was taking this discussion over to email. We were planning on setting the host.id uniquely but As you can see the host.id is **already** being set and is consistent/unique across disruption. So I'm discussing with the team further what we need to do.

As you recall there are many different use cases. Aside from the VDI use case, can anyone in your team test this to see if Elastic det

[2021-08-18 19:46] dominiqueclarke opened #27478 "[Heartbeat] Synthetics browser.screenshot and browser.network data streams index incorrect constant keyword fields"
When indexing to the `browser.screenshot` and `browser.network` data stream indices, `data_stream.dataset` is passed as `browser`. This is incorrect, and should instead be `browser.screenshot` and `browser.network`, respectively.

Sample error from heartbeat
[code]

For confirmed bugs, please report:
- Version: 7.15.0, 8.0.0

[2021-08-18 19:46] elasticmachine commented on #27478
Pinging @elastic/uptime (Team:Uptime)

[2021-08-18 20:47] ascendant512 commented on #26130
May I vote for multiline in the unix input? It is the closest thing Filebeat has to a fifo.  Immensely useful for injecting arbitrary logs with netcat without messing with log directories or restarting Filebeat.

[2021-08-18 20:53] dominiqueclarke commented on #27238
- [ ] elastic/integrations#1460
- [ ] elastic/kibana#107989

Both these PRs have been merged, and the heartbeat logs are appearing appropriately. Closing this ticket
<img width="1206" alt="Screen Shot 2021-08-18 at 4 52 05 PM" src="https://user-images.githubusercontent.com/11356435/129970742-fe475635-5498-4936-bda8-39313dc728ca.png">

[2021-08-18 20:53] #27238 closed

[2021-08-18 22:43] #20635 closed

[2021-08-19 05:03] #27223 closed

[2021-08-19 06:04] elasticmachine commented on #27476
Pinging @elastic/integrations (Team:Integrations)

[2021-08-19 06:04] elasticmachine commented on #27458
Pinging @elastic/agent (Team:Agent)

[2021-08-19 06:05] elasticmachine commented on #27339
Pinging @elastic/uptime (Team:Uptime)

[2021-08-19 06:09] felixbarny commented on #27404
@ruflin See also the example in the [logs app docs](https://www.elastic.co/guide/en/observability/current/tail-logs.html)

<img width="754" alt="Screen Shot 2021-08-19 at 08 07 11" src="https://user-images.githubusercontent.com/2163464/130016661-ff098107-a95c-4371-ba67-b0a13c02364e.png">

Do you have a suggestion for a better default?

[2021-08-19 06:38] ruflin commented on #27404
I wonder where these values come from. In modules / packages we don't use `.log` and also don't use `camelCase`. The value of `event.dataset` consists normally of `{service}.{more-details}` so in the case of nginx it is `nginx.access`, `nginx.error`. If there is only a single log file for a service I would go just for `{service}`. We should also expand a bit on the dataset description of ECS: http

[2021-08-19 06:51] #27382 closed

[2021-08-19 07:34] amolnater-qasource commented on #27230
Hi @EricDavisX
As per feedback we have created **02** new testcases for SLES 15 covering following scenarios:
- [C149941](https://elastic.testrail.io/index.php?/cases/view/149941) - Validate user is able to install Fleet Server on SLES 15.
- [C149942](https://elastic.testrail.io/index.php?/cases/view/149942) - Validate user is able to reboot Fleet Server installed on SLES 15 and new data is genera

[2021-08-19 07:50] yupm commented on #8323
May I know if there is any progress on the support for multiline in Journalbeats?
Currently we are writing kubernetes/docker logs to journald. However, some of the stack traces are multi line and this gets split up.
It seems that Filebeat has the ability to manage multiline https://www.elastic.co/guide/en/beats/filebeat/current/multiline-examples.html. Might it be easy to port over this feature to

[2021-08-19 08:01] aspacca commented on #23226
@kostty 7.15 will ship with multiples refactoring on the AWS S3 input.
From my test on a bucket with object lock enabled (but without retention rule) the issue is not present anymore.

[2021-08-19 09:47] camazza commented on #27299
When can we expect an official release containing this fix?
This has affected our deployment very seriously, we use elastic-agents to collect logs and half of them are offline (or running on old policies) due to this.

[2021-08-19 10:36] vipulsrivastava-qasource commented on #26366
Hi @EricDavisX

We have performed installation for heartbeat on 7.14.0 released build and we are successfully able to view data under Uptime tab for heartbeat.

Please find the below the detailed steps to configure heartbeat on Linux rpm machine.

1. Download the heartbeat and extract the artifacts.
2. Set the connection information in heartbeat.yml to connect to the Elastic stack.
3. Make changes

[2021-08-19 11:25] jsoriano opened #27495 "Update metricbeat used in CI to test the beat module"
https://github.com/elastic/beats/pull/27416 tried to update the versions of the stack used for CI in master branch to 7.14, but there was an error related to the beat module, so it was not updated them. Opening this issue to don't lose track of this.

The failure observed was this one:
[code]

This may be a signal of some problem in the beat module.

Update metricbeat used in CI for the beat modul

[2021-08-19 11:25] elasticmachine commented on #27495
Pinging @elastic/stack-monitoring (Stack monitoring)

[2021-08-19 11:25] elasticmachine commented on #27495
Pinging @elastic/integrations (Team:Integrations)

[2021-08-19 11:29] vipulsrivastava-qasource commented on #26369
Hi @kvch

We have performed installation for Journalbeat on 8.0.0 Snapshot build and getting no error while executing the Journalbeat installation command. [Please refer the screenshot for the same]

**Screenshot**
![Journalbeat-data](https://user-images.githubusercontent.com/69579402/130059319-4baf8944-f367-41e3-9627-b73ae7791135.png)

We have checked the journalbeat data on Uptime tab as details

[2021-08-19 12:28] endorama commented on #27495
I found that [`beat` module `fields.yml` contains `beat.stats.beat.version`](https://github.com/elastic/beats/blob/master/metricbeat/module/beat/_meta/fields.yml#L320) which feels very similar to `beat.stats.info.version`.

[2021-08-19 12:53] jsoriano commented on #27495
#24427 may be related. It wasn't backported, this could explain why 7.14 testing environments can be used in 7.14 and 7.15 branches but not in master.

cc @sayden

[2021-08-19 13:11] kvch commented on #26369
Data is supposed to be under Discover. Could you please share the logs of journalbeat? By default, they are saved in the folder `/var/log/journalbeat`.

[2021-08-19 13:28] EricDavisX commented on #27299
we had some good discussion on how this could be caught in 'soak' test from the Agent side in e2e-testing repo. Ticket logged to track:  https://github.com/elastic/e2e-testing/issues/1468

@camazza the fixes are merged and backported to 7.14.x and 7.15 lines, I can't speak to when they will be available, but the .x patch release are intended to be fairly quickly released (a matter of weeks between

[2021-08-19 15:19] mdelapenya opened #27501 "[Elastic Agent] [7.13.x] Install command on Windows-2019 hangs out for ever"
We are seeing a consistent failure in our e2e test suite that, for 7.13.x branch, the `install` command on Windows-2019 is not able to continue, waiting indefinitely until running out the default timeout.

CI build: https://beats-ci.elastic.co/blue/organizations/jenkins/e2e-tests%2Fe2e-testing-mbp/detail/7.13.x/161/pipeline/497
Logs:

We are in the process of extracting the fleet-server logs once

[2021-08-19 15:19] elasticmachine commented on #27501
Pinging @elastic/agent (Team:Agent)

[2021-08-19 15:56] mdelapenya commented on #27501
Did not mention it, but our test scenarios and code are the very same for 7.13, 7.14, 7.x and master, and the test only fail for that combination: windows-2019 on 7.13

[2021-08-19 16:18] EricDavisX commented on #27501
This is a new scenario, have we ever seen it pass on 7.13 for windows (specifically)?

I might suggest the 7.13 line is stable and may not get many / any more backports now that we are branching for 7.16 and we can safely ignore this as the product is confirmed working on 7.13.x line on Win 2019.

So, I'd suggest we update the e2e-testing with this work: https://github.com/elastic/e2e-testing/issu

[2021-08-19 16:35] kaiyan-sheng commented on #23226
We will keep this issue open for now. If @kostty could give 7.15 a try, that would be great. Thanks!!

[2021-08-19 17:37] nimarezainia commented on #27230
@gemaliano Do you think there's a possibility that this customer could move to using the new Elastic Agent that just went GA - if SLES15 was supported there?

Would you know if:
1) they have other beats installed on these hosts?
2) what modules they are using with these beats?

thanks

[2021-08-19 17:47] faec commented on #26365
As of [this PR](https://github.com/elastic/beats/pull/27236), failed enrollment links to the [fleet troubleshooting guide](https://www.elastic.co/guide/en/fleet/master/fleet-troubleshooting.html) which includes this error message and its solution. I agree with earlier concerns: generally we have no way of being sure that the failure _is_ happening because the user is intentionally installing with

[2021-08-19 17:47] #26365 closed

[2021-08-19 17:58] faec commented on #23436
Duplicate of #26335, fixed in 7.14

[2021-08-19 17:58] #23436 closed

[2021-08-19 18:46] nimarezainia commented on #26629
@andrewkroh this is complex as you have outlined above with many components that have their own support considerations.

to begin with, these matrices need to be pruned and show only the beats versions that are currently under support (i.e > 6.8.x)

then I propose that we only support two versions (current and one previous) as also mentioned above. If you look at the Endgame table that is a good e

[2021-08-19 18:59] EricDavisX commented on #27259
@amolnater-qasource we can test this on the 8.0 snapshot build, and in 7.15 BC please.

[2021-08-19 19:03] #27405 closed

[2021-08-19 19:17] SourinPaul commented on #26572
Thanks for the update here. I also noticed the email follow-up (where most related team members are copied). Maybe it's best to reconcile the next steps offline and update here. Thoughts?

@randomuserid @MikePaquette  in case you have not already seen the host.id examples in [this](https://github.com/elastic/beats/issues/26572#issuecomment-900649415) thread ^^.

[2021-08-19 20:49] lthach2 commented on #26667
@EricDavisX I tested this on Windows, Mac, and Linux with results below.

**Windows:**
- Successfully installed Agent with enrollment delayed, service is installed but not started, and endpoint is not registered in Kibana
![image](https://user-images.githubusercontent.com/58046702/130140870-2b9aa33c-3bd5-4c78-8311-36059ba0e83e.png)

![image](https://user-images.githubusercontent.com/58046702/13014

[2021-08-20 07:41] philippkahr commented on #27340
+1 for refactoring the dashboards. Maybe we should look into rewriting *all* dashboards? E.g. the [NetFlow](https://github.com/elastic/beats/issues/22707) ones are broken.

[2021-08-20 08:48] SperChung-11 commented on #26986
hi. @MichaelKatsoulis @ChrsMark is this a bug ?

[2021-08-20 09:42] jsoriano commented on #27458
Hey @colttt,

In principle `path.config` is used to find the main configuration file (`{path.config}/filebeat.yml`) and the modules directory (`{path.config}/modules.d`).
If you also use `-c /etc/filebeat/filebeat.yml`, it uses this file as the main configuration file.

With the flags to mention, filebeat should use:
* `/etc/filebeat/filebeat.yml` as the main configuration file (because of `-c /et

[2021-08-20 09:42] elasticmachine commented on #27458
Pinging @elastic/obs-docs (Team:Docs)

[2021-08-20 09:44] amolnater-qasource commented on #27259
Hi @EricDavisX
We have revalidated this issue on 7.15.0 BC-1 and on 8.0.0 Snapshot Kibana Cloud environment with Windows agent.
We have found this issue **fixed** now.

**Observations:**
- Agent not going Unhealthy on re-assigning to another policy.
- Agent remains sending new data on changing log level and assigning new policy.

**Build details 7.15.0 BC-1:**
[code]

**Build details 8.0.0 Snapsho

[2021-08-20 09:44] #27259 closed

[2021-08-20 09:44] amolnater-qasource commented on #27229
Hi @EricDavisX
We have revalidated this issue on 7.15.0 BC-1 and on 8.0.0 Snapshot Kibana Cloud environment with Windows agent.
We have found this issue **fixed** now.

**Observations:**
- Agent gets back to "Healthy" status after reboot.
- New data continue to generate under Data Streams tab.

**Build details 7.15.0 BC-1:**
[code]

**Build details 8.0.0 Snapshot:**
[code]
Hence we are **closing**

[2021-08-20 09:44] #27229 closed

[2021-08-20 09:58] mdelapenya commented on #27501
Will close once we create 7.16.

Thanks @EricDavisX for your invaluable support!

[2021-08-20 11:00] MichaelKatsoulis commented on #26986
Hi @SperChung-11 ! When the problem occurs have you checked the stats that `kubelet` reports ?

[2021-08-20 11:06] vipulsrivastava-qasource opened #27527 "[Agent] Unable to Stop elastic-agent service from Services manager."
**Description:**
Unable to Stop elastic-agent service from Services manager.

**Build Details:**

Version: 7.15.0-BC1
Build number: 43636
Commit: d791226d9385122f33f4a5ca38fa5369012fbec3
Artifact: https://staging.elastic.co/7.15.0-d9929120/summary-7.15.0.html

**Browser Details:**
All

**Preconditions:**

1. 7.15.0 BC1 Kibana user should be logged in.
2. Window Agent deployed with system Integrati

[2021-08-20 11:06] elasticmachine commented on #27527
Pinging @elastic/agent (Team:Agent)

[2021-08-20 11:07] vipulsrivastava-qasource commented on #27527
@manishgupta-qasource : Please review the Bug.

[2021-08-20 11:08] manishgupta-qasource commented on #27527
Reviewed & assigned to @andresrc

[2021-08-20 11:14] vipulsrivastava-qasource commented on #26369
Hi @kvch

Thank you for sharing the information.

Please find the logs for journalbeat and let me know if anything else is required from our end.
[journalbeat.zip](https://github.com/elastic/beats/files/7020308/journalbeat.zip)

Thanks!!

[2021-08-20 11:18] ruflin opened #27530 "[Elastic Agent] Elastic Agent takes long to shut down"
I'm on 7.14 with 7.14 stack an have an Elastic Agent enrolled and then run it. The policy is the default policy created by Fleet. I start up the Elastic Agent and after it is healthy I stop it (Ctrl-C). The stopping of the Elastic Agent takes a long time. In the below example I stopped the Elastic Agent at `2021-08-20T13:09:37` and it fully shut down at `2021-08-20T13:11:08` which is ~90s later. I

[2021-08-20 11:18] elasticmachine commented on #27530
Pinging @elastic/agent (Team:Agent)

[2021-08-20 12:17] elasticmachine commented on #4426
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-08-20 12:18] elasticmachine commented on #16072
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-08-20 12:19] elasticmachine commented on #16773
Pinging @elastic/obs-docs (Team:Docs)

[2021-08-20 12:21] elasticmachine commented on #26504
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-08-20 12:49] elasticmachine commented on #26564
Pinging @elastic/agent (Team:Agent)

[2021-08-20 12:50] elasticmachine commented on #26635
Pinging @elastic/integrations (Team:Integrations)

[2021-08-20 13:20] EricDavisX commented on #26667
I spoke with Amol who reports that testing from the BC build is working, tested on all 3 OS variants, too. I am wondering if @lthach2 had an older build?  Can you post the version / hash used during the test, Lee? I think the 7.15 build snapshot only became available today, so your code would be older and maybe from the 7.x (pre-branch) builds...  ?  I'm not sure here.

[2021-08-20 13:35] elasticmachine commented on #26816
Pinging @elastic/agent (Team:Agent)

[2021-08-20 14:04] lthach2 commented on #26667
Sure thing, this is the version I was using:

Binary: 7.15.0-SNAPSHOT (build: 1413b6cd17cbe530508f02652680b08e258b58c3 at 2021-08-17 16:59:11 +0000 UTC)

[2021-08-20 15:23] jpfreyen commented on #21188
To me:

github.com/Shopify/sarama => github.com/elastic/sarama v1.19.1-0.20200629123429-0e7b69039eec

needs to use a more up-to-date sarama, like github.com/Shopify/sarama v1.29.1.

the file gssapi_kerberos.go has moved on and added to the DisablePAFXFAST to type GSSAPIConfig struct.  The official Shopify/sarama go package mentions when this was first added, back July 2 2019 via v1.23.0, 2 years a

[2021-08-20 15:35] jpfreyen commented on #21188
I don't know if it's a 'new' issue, but I think the issue still lurks until the sarama package is unwound to use more recent versions in filebeat.

[2021-08-20 15:53] faec commented on #21188
@jpfreyen FYI: our fork is active, and its Sarama baseline version is 1.27.2 (Golang module dependency specs are weird and sometimes misleading; see the README at https://github.com/elastic/sarama for version details). It is about due for a bump, but it has been updated this year :-)

[2021-08-20 15:58] jpfreyen commented on #21188
So the https://github.com/elastic/sarama/blob/v1.23.1-elastic release doesn't have an updated type GSSAPIConfig struct

[2021-08-20 16:00] jpfreyen commented on #21188
the repo says the latest release is v1.23.1-elastic which is old:

![Screen Shot 2021-08-20 at 9 00 07 AM](https://user-images.githubusercontent.com/10945795/130261183-ed79c230-d368-40af-8032-c39ced7d904b.png)

[2021-08-20 16:40] elasticmachine commented on #27128
Pinging @elastic/agent (Team:Agent)

[2021-08-20 16:43] EricDavisX commented on #27527
Hi, @blakerouse not sure if you have time yet to poke this, does it feel related to the recent delay-enrollment feature work?

[2021-08-20 16:43] elasticmachine commented on #27157
Pinging @elastic/agent (Team:Agent)

[2021-08-20 16:44] fearful-symmetry commented on #27340
Yah, I get the feeling that there's a lot of dashboard neglect going on, since it's kind of an easy area to neglect.

[2021-08-20 16:54] jsoriano commented on #27174
Ah yes, I am afraid this fix was not backported to 7.13, sorry for the confusion! It is available though in 7.14 and future versions.

cc @andresrc

[2021-08-20 16:55] elasticmachine commented on #27196
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-08-20 16:57] elasticmachine commented on #27214
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-08-20 16:57] elasticmachine commented on #27226
Pinging @elastic/integrations (Team:Integrations)

[2021-08-20 16:59] elasticmachine commented on #27232
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-08-20 16:59] elasticmachine commented on #27240
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-08-20 16:59] elasticmachine commented on #27240
Pinging @elastic/integrations (Team:Integrations)

[2021-08-20 17:00] elasticmachine commented on #27247
Pinging @elastic/agent (Team:Agent)

[2021-08-20 17:01] elasticmachine commented on #27272
Pinging @elastic/agent (Team:Agent)

[2021-08-20 17:08] elasticmachine commented on #27283
Pinging @elastic/uptime (Team:Uptime)

[2021-08-20 17:09] jsoriano commented on #27283
@gchiartosini would synthetics cover your use case? https://www.elastic.co/guide/en/observability/7.14/synthetic-monitoring.html

[2021-08-20 17:11] elasticmachine commented on #27284
Pinging @elastic/integrations (Team:Integrations)

[2021-08-20 17:11] elasticmachine commented on #27285
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-08-20 17:12] elasticmachine commented on #27289
Pinging @elastic/agent (Team:Agent)

[2021-08-20 17:13] elasticmachine commented on #27296
Pinging @elastic/integrations (Team:Integrations)

[2021-08-20 18:54] michel-laterman commented on #24797
I think that these metrics are already gathered as part of the beat stats metricset: https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-metricset-beat-stats.html

[2021-08-20 19:15] a03nikki opened #27539 "[Libbeat] Conditional or improve DEPRECATED warn message"
**Describe the enhancement:**

Only log the deprecation warning if an 8.0.0 upgrade would be a problem due to the existing certificate in use.

**Describe a specific use case for the enhancement or feature:**

The 7.12 release added a log warning for X.509 certificates without a SAN using the CommonName field by #22495.  This was needed because of a [Go 1.15 deprecation](https://golang.org/doc/go1

[2021-08-20 19:31] nicpenning commented on #26550
Hey all, I will chime in on this.

Today we use Logstash in the DMZ and on the internal network.

Assets that live out in the world not on our network can still securely connect via Mutual TLS authentication to our DMZ Logstash Node.

Assets the live inside the network can connect directly to the much more robust load balanced Logstash nodes and cannot access the DMZ.

Managing the internal assets

[2021-08-20 19:52] dominiqueclarke commented on #27202
Tested with heartbeat 7.15.0 and @elastic/synthetics `1.0.0-beta.12`. Working as expected all the way through to the UI.
<img width="1179" alt="Screen Shot 2021-08-20 at 3 51 20 PM" src="https://user-images.githubusercontent.com/11356435/130286636-2a684c7d-2395-4ddc-abc0-ff5c032a2e2e.png">

[2021-08-21 09:43] #20726 closed

[2021-08-21 12:43] #16590 closed

[2021-08-21 16:22] sardanam commented on #15823
What's the different way here ?

[2021-08-23 07:41] amolnater-qasource commented on #27255
Hi @EricDavisX
We have revalidated this issue on 7.15.0 BC-1 and found it **fixed** now.
- Agent is uninstalled completely on running uninstall command.

**Build details:**
[code]

**Screenshot:**
![4](https://user-images.githubusercontent.com/77374876/130406023-f9c4c682-cff3-4649-b55c-df97fabf6f40.JPG)

Hence we are **closing** this issue.
Thanks

[2021-08-23 07:41] #27255 closed

[2021-08-23 07:42] jeanfabrice opened #27548 "Label does not match behavior in dashboard "[Metricbeat System] Host overview ECS""
Metricbeat embedded "[Metricbeat System] Host overview ECS" dashboard onboards the following top-right panel:
![image](https://user-images.githubusercontent.com/2949987/130404564-63da5fea-685a-4a8f-acf3-d7e0c459ebfa.png)

In this panel, `double-click` should be replaced with `click` as single click is the correct behavior in the target dashboard (TSVB visualization)

### Version
Metricbeat 7.14.0

[2021-08-23 07:44] colttt commented on #27458
thanks, now it's much clearer to me. 👍

[2021-08-23 08:45] ChrsMark commented on #27359
We already have an issue to handle this: https://github.com/elastic/beats/issues/27019

[2021-08-23 08:47] ChrsMark commented on #22043
Closing this issue since it was implemented at  https://github.com/elastic/beats/pull/25037

[2021-08-23 08:47] #22043 closed

[2021-08-23 08:53] ChrsMark commented on #27476
Hi!

Your configuration looks quite similar to the example at https://www.elastic.co/guide/en/beats/filebeat/current/add-kubernetes-metadata.html#_logs_path. Could you provide the version of Filebeat you are using?

@jsoriano does this ring any bells? Could it be a regression?

[2021-08-23 08:59] elasticmachine commented on #27174
Pinging @elastic/agent (Team:Agent)

[2021-08-23 08:59] elasticmachine commented on #27539
Pinging @elastic/agent (Team:Agent)

[2021-08-23 08:59] elasticmachine commented on #27548
Pinging @elastic/integrations (Team:Integrations)

[2021-08-23 09:10] ruflin commented on #26550
@nicpenning There are various way here on how you could build this for your need. First, in the future you will be able to likely configure multiple outputs in Fleet. You could manage your local Elastic Agents with your local Elastic Stack inside your DMZ but ship the data outside. Alternative you can keep doing what you are doing now just with the standalone Elastic Agent and not use Fleet. For t

[2021-08-23 09:51] jsoriano commented on #27458
@colttt great, do you think that any action should be taken for this issue or you are ok with closing it?

[2021-08-23 11:11] jsoriano commented on #27476
No idea, I think that there haven't been significative changes there recently.

We would need to see the input configuration, and know on what paths the logs are. The configuration in `add_kubernetes_metadata` to use will depend on that.

@supersxlx could you please share your input configuration and an event that is not being correctly enriched with k8s metadata?

[2021-08-23 12:25] colttt commented on #27458
for **me** its fine, but maybe you should adjust the documentation?

[2021-08-23 12:29] jsoriano commented on #27458
Ok, I'll leave it open to review the docs, thanks for your feedback!

[2021-08-23 13:13] blakerouse commented on #27359
@ChrsMark Great! Will close this one in favor of that one.

[2021-08-23 13:13] #27359 closed

[2021-08-23 13:27] blakerouse commented on #27527
@EricDavisX I do not feel its because of the delay enrollment feature.

Can the logs of the Elastic Agent on that host be attached to this issue?

It also says the program exited unexpectedly, but then still shows that it's running. I wonder if you refresh the services.msc if it would then show as stopped.

[2021-08-23 14:42] jamiehynds commented on #19810
Reopening as a Fortinet dashboard is still needed, and possibility a generic firewall dashboard as suggested above.

[2021-08-23 14:43] elasticmachine commented on #19810
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-08-23 14:57] kvch commented on #26369
Is that all? These are like ~20 lines of logs with where Journalbeat does not even logs that it has started running.

[2021-08-23 15:04] lthach2 commented on #26667
Re-tested with the BC version on the 3 OS'es and it's working as expected.

[2021-08-23 15:45] #27021 closed

[2021-08-23 16:10] dominiqueclarke commented on #26747
Works as expected with both tags and match. Tested against beats 7.15 branch with synthetics `1.0.0-beta.12`

[2021-08-23 17:18] #26751 closed

[2021-08-23 20:13] tpharryman commented on #24124
I have recently finished setting this up.  Filebeat 7.14.0 forwarding to logstash 7.14.0 then into elasticsearch 7.14.0.
SonicWALL is NSA 4650 running SonicOS Enhanced 6.5.4.7-83n

It does not seem to make a difference what the Server Type is in the Syslog Server configuration, both Syslog Server and Analyzer fail to parse the original.event field into it's components.  VERY occasionally one of th

[2021-08-23 20:35] legoguy1000 commented on #24124
@tpharryman feel free to post it here, please sanitize the fields/replace values like IPs if needed.

[2021-08-23 20:48] blarosen95 commented on #24124
Glad it helped. Having been a few months now, it seems to have fixed enough of it that it still beats using the Sonicwall email as xlsx option 😂

[2021-08-23 21:02] tpharryman commented on #24124
@legoguy1000 here are three of the JSON exports from kibana; is this what you are looking for?
[2.txt](https://github.com/elastic/beats/files/7034836/2.txt)
[3.txt](https://github.com/elastic/beats/files/7034837/3.txt)
[1.txt](https://github.com/elastic/beats/files/7034838/1.txt)

[2021-08-24 04:58] Git-Hf123 opened #27560 "[Filebeat]I could not figure how to adjust the config of pipline-log.yml for postgre module"
Hi,
I have met with the problem that how to parse my postgre log
I used the filebeat version 7.13.4 and my psotgre version as 9.3.
My log looks like below:
`2021-08-23 11:34:25.984 CST [22096]  IP= LOG:  checkpoints are occurring too frequently (1 second apart)
2021-08-23 11:34:25.984 CST [22096]  IP= HINT:  Consider increasing the configuration parameter "checkpoint_segments".
2021-08-23 11:34:26

[2021-08-24 05:47] lowryxiao commented on #22123
@andrewvc
Hello any update here?

[2021-08-24 06:49] vipulsrivastava-qasource commented on #27527
Hi @blakerouse

Please find the logs for Elastic-Agent and let me know if anything else is required from our end.
[logs.zip](https://github.com/elastic/beats/files/7036600/logs.zip)

Thanks!!

[2021-08-24 06:49] vipulsrivastava-qasource commented on #26369
Hi @kvch

We have re-attempted and got same shared logs below.
[logs.zip](https://github.com/elastic/beats/files/7036746/logs.zip)
[kibana.zip](https://github.com/elastic/beats/files/7036748/kibana.zip)

Please let us know if we are missing anything.

Thanks!!

[2021-08-24 08:58] xx-zhang opened #27566 "osquerybeats running error with ext not fond or permission error"
## env
- all the lastest version of `osquerybeats`, `beats`
- osqueryd 4.9

## running
`osquerybeats -c ./osequreybeats.yml -e `

## running logs
[code]

[2021-08-24 09:10] kvch commented on #26322
Have you tried setting `setup.ilm.enabled` to `false` so ILM is not loaded and `output.elasticsearch.index` to your index name so the Beat knows what is the target index?

[2021-08-24 09:11] #26322 closed

[2021-08-24 09:35] Mekk commented on #16336
Just use some other setting, please.  Like `management.output.elasticsearch` or sth similar.

`filebeat setup` happens (and should happen) to be executed during upgrades or other admin operations, having to artificially reconfigure for the sake of this op is troublesome.

Of course in case `management.output.elasticearch` is not defined, and `output.elasticsearch` is, falling back is reasonable an

[2021-08-24 09:39] Mekk commented on #16336
BTW: there already exist similar setting: `monitoring.elasticsearch` (setup where to put monitoring data, independent from output setup)

[2021-08-24 10:29] afharo opened #27569 "[8.0] Kibana `GET /api/stats` & `GET /api/status` breaking changes"
**Describe the enhancement:**
Kibana is planning to remove the `process` info structure from its metrics (https://github.com/elastic/kibana/issues/104124). This will likely affect Metricbeat's Kibana stats and status modules.

**Describe a specific use case for the enhancement or feature:**
The reasoning for removing that piece of info from the responses is detailed in the issue: https://github.co

[2021-08-24 10:29] elasticmachine commented on #27569
Pinging @elastic/stack-monitoring (Stack monitoring)

[2021-08-24 12:02] kostty commented on #23226
Hi @aspacca, @kaiyan-sheng, I've built a 7.15 version (with `mage build` in `x-pack/filebeat`) but it hasn't reached the data consumption stage, failing with a config error:

[code]

The URL in the INFO lines above matches the URL from the supplied config file, however when it reaches `input/awss3/config.go` `c.QueueURL` apparently evaluates to empty for some reason.

If for testing purposes I def

[2021-08-24 12:05] kostty commented on #23226
One more thing, normally we run Filebeat on Kubernetes. So it would be nice to test v7.15 on Kubernetes as well. Where can I find a link to the Dockerfile to build a Docker image with Filebeat?

[2021-08-24 13:25] EricDavisX commented on #27453
@blakerouse I tentatively assigned this to you, if you prefer to pull in another resource can you recommend and tag them please?

[2021-08-24 16:46] asazallesmilner commented on #27262
[rds-filebeat_logs_2021-08-16_cleansed.txt](https://github.com/elastic/beats/files/7040746/rds-filebeat_logs_2021-08-16_cleansed.txt)

Here is the cleaned logs from the secure environment in debug mode showing it using the wrong URL.

[2021-08-24 16:56] legoguy1000 commented on #27262
What do u have set as the endpoint value??
[code]

[2021-08-24 17:02] asazallesmilner commented on #27262
We provide the sc2s.sgov.gov
That works and changes the suffix just fine.
The problem is that it ALSO changes the beginning of the url to cloudwatchlogs instead of just logs like it should be when it does it.

Note: we did test this both from EC2 AND from the Docker container in kubernetes.

so it looks like  the change from
cwConfig := awscommon.EnrichAWSConfigWithEndpoint(in.config.AwsConfig.End

[2021-08-24 17:30] gbschenkel commented on #27283
I would like to heartbeat check objects on JSON array. I saw this subject keep been abandoned. #11884 #12490 #13982
And I can't see how synthetic-monitoring can help with that. If synthetic-monitoring is able to read a JSON array, why can't heartbeat do the same?

I am trying monitoring Brazilian Open Banking API Status, but heartbeats can't do it on a simple way.
Brazilian Open Banking are using

[2021-08-24 17:52] legoguy1000 commented on #27262
Ya the endpoint is good.  Definitely strange.

[2021-08-24 18:02] kaiyan-sheng commented on #27262
@asazallesmilner Hi! Are you using 7.14.0 for testing? Sorry I just double checked and this [change](https://github.com/elastic/beats/pull/27007) is merged into 7.14 branch but missed 7.14.0 build. So it will be shipped in 7.14.1 and 7.15.0 release. 7.14.1 should be coming fairly soon (in days...).

[2021-08-24 18:05] asazallesmilner commented on #27262
Yes, we are using 7.14.0.
We will look out for 7.14.1.

From: kaiyan-sheng ***@***.***>
Sent: Tuesday, August 24, 2021 12:03 PM
To: elastic/beats ***@***.***>
Cc: Zalles-Milner, Asa ***@***.***>; Mention ***@***.***>
Subject: Re: [elastic/beats] Endpoint fix from pull request 27024 not working in 7.14.0 docker image (#27262)

CAUTION: This email originated from outside of the organization. Do not

[2021-08-24 18:17] EricDavisX commented on #26667
@IgorGuz2000 if you want to look at this, we can create an e2e scenario - would want to you research + create + copy over the relevant details to a new e2e-testing ticket?  Thank you

[2021-08-24 19:10] kaiyan-sheng commented on #23226
@kostty Good catch, sorry that was my mistake. I just created a PR to fix this: https://github.com/elastic/beats/pull/27575.

[2021-08-24 19:43] #20760 closed

[2021-08-24 21:43] #20650 closed

[2021-08-24 22:18] KeithGHarding commented on #20584
I too have hit this problem.  I am using heartbeat to monitor some websites and writing the results to a file.  I have specified permissions on the output to 0604 but the "other" permissions are not being applied.  I can understand the purpose of the change was that files shouldn't be created by default to grant public permissions but the way it has been implemented is that even if I specifically

[2021-08-24 23:30] andrewvc commented on #22123
We'd be glad to accept a patch here, but this is too niche for us to focus on.

[2021-08-25 00:36] matschaffer opened #27577 "Account for broken lines in elasticsearch GC output"
- Version: filebeat 6.8.6, elasticsearch gc module pipeline from 7.14
- Operating System: Ubuntu

We've recently deployed the elasticsearch gc pipeline from https://github.com/elastic/beats/blob/master/filebeat/module/elasticsearch/gc/ingest/pipeline.yml

Mostly it works great, but it seems that the JVM can fail to write complete lines in some cases (still unclear on exactly what cases, probably O

[2021-08-25 01:25] matschaffer commented on #27577
Whoops. After further investigation I realized I wasn't searching the ES logs for the ingesting cluster, but rather then failed docs getting ingested as expected.

Pipeline should be fine as is.

[2021-08-25 01:25] #27577 closed

[2021-08-25 01:50] SperChung-11 commented on #26986
Hi, we have checked the kubelet reports, it is ok. And when we restart the metricbeat and the problem was solved

[2021-08-25 02:28] yupm opened #27578 "[Journalbeat] Still no multiline support after 3 years"
May I know if there is any progress on the support for multiline in Journalbeats?
This feature has been pending for 3 years already: https://github.com/elastic/beats/issues/8323

Currently we are writing kubernetes/docker logs to journald. However, some of the stack traces are multi line and this gets split up.
It seems that Filebeat has the ability to manage multiline https://www.elastic.co/guide

[2021-08-25 06:52] SperChung-11 commented on #26986
Hi, @MichaelKatsoulis i wants to know that how did metricbeat calculate the usage of cpu ? we collects the kubelet's data by **accessing the kubelet metrics/cadvisor directly**, but we found that there are some metrics like **container_cpu_system_seconds_total, container_cpu_usage_seconds_total** and so on.

container_cpu_cfs_periods_total{container="container-0",id="/kubepods/pod3cf49da1-9a3d-49f

[2021-08-25 07:31] kostty commented on #23226
@kaiyan-sheng The PR doesn't seem to help the problem I'm seeing:
[code]

It should be easy to reproduce, my config is looking like the following:
[code]

[2021-08-25 08:28] aspacca commented on #23226
@kostty I've identified the issue, can you confirm this config will fix the issue as a workaround?

[code]

[2021-08-25 08:51] MichaelKatsoulis commented on #26986
Hi @SperChung-11 ! Metricbeat gets Kubelet data from `/stats/summary` endpoint. For example about a `redis` instance:
[kubelet-redis-stats.zip](https://github.com/elastic/beats/files/7045199/kubelet-redis-stats.zip)

Container CPU usage is calculated by`cpu.usageCoreNanoSeconds/1e9/nodeCores` where `nodeCores` are the total allocatable cpus of each node (You can get that by describing a node).

Fi

[2021-08-25 09:47] kostty commented on #23226
@aspacca That did it! Filebeat successfully starts now and from a quick look at the output it is indeed able to read objects from the S3 bucket.

I will deploy it and test properly. Is there a Dockerfile I can use to rebuild the image with 7.15?

[2021-08-25 09:53] SperChung-11 commented on #26986
Hi @MichaelKatsoulis ! Thanks for your answer.  I collects some container ("uid": "3cf49da1-9a3d-49f2-8f29-6f0f83ac23c5") cpu data by `/stats/summary` as follows:
"usageNanoCores": 18102214972987,
"usageNanoCores": 18122076649072,
"usageNanoCores": 18123455645199,
"usageNanoCores": 18126832124362,
![image](https://user-images.githubusercontent.com/74529952/130769689-5a54e76b-22c5-4146-97e6-613f504

[2021-08-25 09:56] karanbirsingh-qasource commented on #27417
HI @MadameSheema

we have validated this issue on `7.15.0 BC2` and found it Fixed.

**Build Details:**
[code]

**Snap shoot:**
![image](https://user-images.githubusercontent.com/59917825/130770134-a977c06a-eb5c-4eac-8d90-87a15f4ea0f9.png)

Hence closing this issue.

thanks !!
c.c. @kvch

[2021-08-25 10:06] aspacca commented on #23226
@kostty you can build from docker-compose file in x-pack filebeat: https://github.com/elastic/beats/blob/master/x-pack/filebeat/docker-compose.yml

the `beat` service should be enough

[2021-08-25 10:18] MichaelKatsoulis commented on #26986
The calculation is `cpu.usageNanoCores/1e9/nodeCores` as seen in [code](https://github.com/elastic/beats/blob/master/metricbeat/module/kubernetes/container/data.go#L121) (Sorry for writing usageCoreNanoSeconds before).
So actually in your case it would be `92960300/1e9/4`==`0.02324`==`2,324%`

[2021-08-25 11:31] narph opened #27585 "Flaky Test Build&Test / filebeat-goIntegTest / github.com/elastic/beats/v7/filebeat/input/filestream.TestFilestreamEmptyLine"
## Flaky Test

* **Test Name:** TestFilestreamEmptyLine
* **Link:** https://github.com/elastic/beats/blob/68e990993fc5b6ce9e360befc2bef53713aaf8c0/filebeat/input/filestream/input_integration_test.go#L198
* **Branch:** master
* **Artifact Link:** https://beats-ci.elastic.co/job/Beats/job/beats/job/PR-27572/3/testReport/junit/github/com_elastic_beats_v7_filebeat_input_filestream/Build_Test___filebea

[2021-08-25 11:31] elasticmachine commented on #27585
Pinging @elastic/agent (Team:Agent)

[2021-08-25 12:23] liza-mae opened #27586 "Import dashboard fails for beats context deadline exceeded"
For confirmed bugs, please report:
- Version: 7.15, 7.16, 8.0
- Operating System:  Ubuntu
- Steps to Reproduce:
```./filebeat setup```

[code]

[2021-08-25 12:24] elasticmachine commented on #27586
Pinging @elastic/agent (Team:Agent)

[2021-08-25 12:24] elasticmachine commented on #27586
Pinging @elastic/integrations (Team:Integrations)

[2021-08-25 12:37] narph commented on #26328
not sure this is a workaround but might worth trying.
Found https://github.com/Azure/azure-event-hubs-go/blob/master/eph/eph.go#L122 in the sdk we are using to collect events.
Looking at the code https://github.com/Azure/azure-event-hubs-go/blob/94590f4a150a07d4312ec6027e670c85c3616059/namespace.go#L104 it has the option to use WebSockets but we need to evaluate the full impact of exposing this op

[2021-08-25 13:26] EricDavisX commented on #27527
@dikshachauhan-qasource @amolnater-qasource adding to high impact list.

[2021-08-25 13:27] EricDavisX commented on #27501
I think we can close now... the 7.16 branch is imminent and 7.14.x and 7.15.x or 8.0 didn't show it

[2021-08-25 13:27] #27501 closed

[2021-08-25 13:32] EricDavisX commented on #27342
I pinged Patrick off line.  And we'll try to re-test this on the manual test team side, too.  @amolnater-qasource @dikshachauhan-qasource this may have some context for the 7.13.4 -> 7.14 -> 7.15 upgrade I asked us to re-confirm.

[2021-08-25 13:34] blakerouse commented on #27527
Dang those logs are not helpful, because it shows in the logs that the Elastic Agent stopped correctly. It does not log an error or anything and shows that it shutdown cleanly.... strange.

[2021-08-25 13:36] EricDavisX commented on #27251
@amolnater-qasource can you re-test please with 7.15 BC?  I'd like to raise this as urgent, and if it is still reproducible (not sure if we have super easy vSphere access at this point, but maybe soon we will).

[2021-08-25 13:38] EricDavisX commented on #25533
Indeed - I don't see us shipping 32-bit arch artifacts as of now.  closing it out.

[2021-08-25 13:38] #25533 closed

[2021-08-25 13:44] blakerouse commented on #27299
Being that this is fixed, and an issue was filed for the soak testing, I am going to closing this.

[2021-08-25 13:52] kvch commented on #26369
My last guess is that journalbeat does not have permission to read from the system journal. The index template is correct and loaded to Kibana. Unfortunately, with the lack of logs I am unable to track down the problem. Also, locally I am able to send logs and see them in the Discover page.

[2021-08-25 14:32] EricDavisX commented on #27527
@vipulsrivastava-qasource @amolnater-qasource @dikshachauhan-qasource can you confirm if you refresh the view to help confirm if it is actually in the correct state?

[2021-08-25 15:24] ferullo commented on #27251
@amolnater-qasource if you can reproduce this please reach out to @willyu-elastic and @ricardoungureanu for help.

[2021-08-25 15:28] BaronWhite commented on #10756
+1

[2021-08-25 15:44] pandvan commented on #25367
We are in the same boat trying to ingest Barracuda WAF logs with Filebeat in order to produce ECS compliant documents.
Even if we have followed the official guide https://community.rsa.com/docs/DOC-40060 on how to configure the device, Filebeat is unable to parse any field from incoming Web Firewall Logs.
Any here any hint on how to properly configure Barracuda in order to get Filebeat happy?
If n

[2021-08-25 15:49] gchiartosini commented on #27283
I agree with what @gbschenkel has written.
Also I am already in production environment with a hearbeat on premise installation and I cannot foresee an architectural change to install the synthetics solution currently only available on docker.

[2021-08-25 18:15] n0othing opened #27677 "Fleet Server install can fail when using relative paths for certificates"
- Version: `7.14.0`
- Operating System:  MacOS 11.5.2
- Steps to Reproduce:

Attempting to install Fleet Server using relative certificate file paths results in the install failing, with no clear logging as to why:

[code]

[code]

The `/Library/Elastic/Agent` directory gets removed after this failure so we're unable to review the logs to see what might have gone wrong.

By adding an `--enrollment

[2021-08-25 20:17] andrewvc opened #27597 "[Heartbeat] Support private CAs for `zip_url`"
It currently is not possible to use the `zip_url` feature of synthetics with private CAs since there are no `ssl` options. We should add these to support users that need this, as mentioned in this [forum post](https://discuss.elastic.co/t/use-synthetic-browser-monitor-zip-source-repo-with-private-self-signed-cert/282521)

[2021-08-26 02:34] axw opened #27598 "libbeat/cmd/instance: cgroup metrics no longer being reported"
libbeat is meant to record cgroup metrics for stack monitoring, in order to calculate CPU utilisation in containerised environments. These metrics are not being captured in 7.15.0-SNAPSHOT. Compare the two captured `beats_stats` monitoring docs from 7.14.0 and 7.15.0-SNAPSHOT:

<details>
<summary>7.14.0</summary>

[code]
</details>

<details>
<summary>7.15.0-SNAPSHOT</summary>

[code]
</details>

[2021-08-26 03:06] andrewvc opened #27599 "[Heartbeat] Disabled monitors in static monitor list cause crash"
The default config which has an entry with `enabled: false` for a monitor now crashes heartbeat since refactoring in https://github.com/elastic/beats/pull/27535 . This should be a simple fix.

[2021-08-26 12:10] mdelapenya opened #27608 "Complete variant for the elastic agent is not generating the right binaries"
When running `mage package`, the binaries generated by the elastic-agent are incorrect:
- there are three variants: "default", ubi8 and complete.
- the docker image for the ubi8 variant is properly generated under build/distributions
- the docker image for the complete variant is generated under build/distributions, BUT overriding the default image.

I suspect that this has been caused by #27350 a

[2021-08-26 14:00] andrewkroh opened #27610 "[Filebeat] Add base64 function to template engine"
**Describe the enhancement:**

Add a `base64` function to the template engine for httpjson.

**Describe a specific use case for the enhancement or feature:**

To be able to base64 encoding a string that is added to a header. Specifically this base64 will be used encode part of an `Authorization` header.

[code]

In this example I doubt the keys I referenced in the HMAC are correct for the httpjson

[2021-08-26 15:22] secprentice opened #27614 "Documentation enhancement: Sonicwall beat"
**Describe the enhancement:**

The [Sonicwall beat page](https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-module-sonicwall.html) says:

`Each fileset has separate variable settings for configuring the behavior of the module. If you don’t specify variable settings, the **sonicwall module uses the defaults.**
`

but the default value for some settings such as `var.input `are not noted

[2021-08-26 16:55] #27599 closed, assigned to andrewvc

[2021-08-27 02:27] leandrojmp opened #27622 "[Filebeat] Crowdstrike ingest pipeline wrongly creates process flattened fields."
The Crowdstrike ingest pipeline has a [script](https://github.com/elastic/beats/blob/9a517a7c8687247f789a3c5eedd81dbab52a3c18/x-pack/filebeat/module/crowdstrike/falcon/ingest/pipeline.yml#L275-L291) processor that creates the fields `process.command_line`, `process.args` and `process.executable` as flattened fields, with a dot in the name.

A [secondary](https://github.com/elastic/beats/blob/9a517

[2021-08-29 00:53] PresGas commented on #20847
@mark54g , @kaiyan-sheng . This is still a problem and I'm hoping this ticket gets reopened by a human.

[2021-08-29 21:26] milanage opened #27629 "[Metricbeat] Support for TTL in Elasticsearch output"
**Describe the enhancement:**
Currently there is no native TTL support in ES output in Metricbeat as what Filebeat Logstash output does (https://www.elastic.co/guide/en/beats/filebeat/current/logstash-output.html#_ttl).

It'll be helpful to support this.

**Describe a specific use case for the enhancement or feature:**
A typical use case is when DNS switchover happens frequently for Elasticsearch

[2021-08-30 02:04] elasticmachine commented on #27629
Pinging @elastic/agent (Team:Agent)

[2021-08-30 02:34] kaiyan-sheng commented on #20847
Hi @PresGas, could you post with more info on this issue please? Thanks!!

[2021-08-30 03:40] bodhi-code opened #27630 "tail_files does not work with filestream in filebeat(v7.14.0)"
tail_files does not work with filestream in filebeat(v7.14.0)

- Version: v7.14.0
- Operating System: windows 10

[2021-08-30 03:41] #27630 closed

[2021-08-30 03:48] bodhi-code opened #27631 "tail_files does not work with filestream in filebeat(v7.14.0)"
Here is my filebeat config:
- type: filestream
  enabled: true
  paths:
    - d:\logs\*.log
  tail_files: true
I configure tail_files true,but filebeat still read at the beginning position of file.

[2021-08-30 06:29] P1llus commented on #27610
I will work on this together with Sai

[2021-08-30 07:37] amolnater-qasource commented on #27062
Hi @EricDavisX
We have revalidated these error logs on 7.15.0 BC-3 Kibana cloud environment.
We **haven't observed exactly same** error logs on any of our agents[Windows, MAC and Linux .tar].

However, just on installing MAC and linux .tar agents we have observed similar below `error` logs.
**Screenshot:**
![5](https://user-images.githubusercontent.com/77374876/131302336-5511eebb-4e4d-4d12-8959-6a

[2021-08-30 07:50] ruflin commented on #17778
@nicpenning Is this a fresh 7.14 setup for the stack an Elastic Agent or something you migrated from 7.13?

The problem in the above is that the metricbeat process tries to index into `metricbeat-7.14.0-2021.08.26` which it shouldn't as it is the wrong destination.

[2021-08-30 08:02] ruflin commented on #26191
In general, Elasticsearch "should" be of a newer version then Filebeat. The problem here is likely not the "x-pack" part but that Elasticsearch 7.9 does not support yet constant keywords. If you use a newer version of Elasticsearch, things should work again.

[2021-08-30 08:42] ruflin commented on #27062
@amolnater-qasource To reproduce this, is still enabling debug logging required or this just happens on enrollment on OS X. Does the Elastic Agent go afterwards back to green or it stays in error state.

Definitively something we must investigate further.

[2021-08-30 08:59] amolnater-qasource commented on #27062
@ruflin These errors just shows up on just after installing the elastic-agent on mac and linux .tar. So just to avoid any duplicate issues and as this has no impact on functionality we have re-opened this pre-existing issue related to error logs.
Further agent remains `Healthy` throughout.
Thanks

[2021-08-30 10:49] shawnz commented on #26191
Here it seems to recommend the opposite: https://www.elastic.co/support/matrix#matrix_compatibility

[2021-08-30 11:02] daghemo commented on #26328
Hi @narph and thank you for your contribution.
No, your workaround cannot apply here. :(
We are required to use HTTPS and to pass all outgoing connection through an HTTPS proxy  for Security.

[2021-08-30 11:31] ruflin commented on #26191
😢  @nimarezainia Could you take a look at this?

One thing that needs to be pointed out, the initial error reported was for `fastdfsbeat-8.0.0` which is a custom beat. So maybe we see 2 different errors here? @yyymmp or @shawnz Could one of you provide the errors you see? Also if you say you don't use x-pack, do you mean you use the pure Apache version of Elasticsearch and Beats?

[2021-08-30 11:56] aleksmaus commented on #25762
Closing, this been addressed long time ago.

[2021-08-30 11:56] #25762 closed

[2021-08-30 11:58] aleksmaus commented on #27566
Closing this ticket, as the explanation was provided and doesn't look like an issues with the official distro.

[2021-08-30 11:58] #27566 closed

[2021-08-30 12:11] rbr101 commented on #26328
This should be implemented to use witrh the filebeat azure module -->
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-faq

```The official Azure SDKs generally use the AMQP protocol for sending and receiving events from Event Hubs. The AMQP-over-WebSockets protocol option runs over port TCP 443 just like the HTTP API, but is otherwise functionally identical with plain AMQP. This optio

[2021-08-30 12:29] jsoriano opened #27639 "Possible memory leak in rate_limit processor"
There seems to be a small memory leak in the `rate_limit` processor. At least metrics created by this processor are never removed.

This is not a problem with the usual use case where `rate_limit` is used as a global processor in the main configuration file, but it can be a problem if used with dynamically created inputs, as can happen with kubernetes autodiscover.

Apart of the possible memory le

[2021-08-30 12:29] elasticmachine commented on #27639
Pinging @elastic/agent (Team:Agent)

[2021-08-30 12:41] #27608 closed

[2021-08-30 12:59] michalpristas commented on #27062
these are coming from somewhere else, i will address this path as well

[2021-08-30 13:08] nicpenning commented on #17778
Hi @ruflin ,

This is a test Stack that has been upgrade many times since 6.0.

We have implemented fleet every version it became available.

Is there a way to undo or rebuild fleet? We are currently using the most up to date fleet server and agents.

[2021-08-30 13:39] MichaelKatsoulis commented on #25739
Investigating a bit on this one I have noticed the following.
1.  In Kubernetes the `NODE_NAME` is used to help in the discovery of kubernetes node in [code](https://github.com/elastic/beats/blob/b01c95b349e05c4459972bd6d00a896775fa7150/libbeat/common/kubernetes/util.go#L118) and as proposed host to access kubelet in each node ([code](https://github.com/elastic/beats/blob/b01c95b349e05c4459972bd6d

[2021-08-30 13:50] elasticmachine commented on #3120
Pinging @elastic/agent (Team:Agent)

[2021-08-30 13:51] elasticmachine commented on #27560
Pinging @elastic/integrations (Team:Integrations)

[2021-08-30 13:51] elasticmachine commented on #27578
Pinging @elastic/agent (Team:Agent)

[2021-08-30 13:51] elasticmachine commented on #27598
Pinging @elastic/integrations (Team:Integrations)

[2021-08-30 13:52] elasticmachine commented on #27614
Pinging @elastic/siem (Team:SIEM)

[2021-08-30 13:53] elasticmachine commented on #27622
Pinging @elastic/siem (Team:SIEM)

[2021-08-30 13:53] elasticmachine commented on #27631
Pinging @elastic/agent (Team:Agent)

[2021-08-30 14:13] elasticmachine commented on #27614
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-08-30 14:23] blakerouse commented on #27342
I have tested upgrading of:

Windows 10 - 7.13.4 -> 7.14.0 (Success)
Windows Server 2019 Datacenter (GCP) - 7.13.4 -> 7.14.0 (Success)

I have not been able to reproduce the issue. I think it is related to the initial failed download, that places it in a bad state. Once in that bad state for some reason Elastic Agent cannot recover from it. I have not been able to isolate why at the moment.

[2021-08-30 14:34] daghemo commented on #26328
I just want to clarify that the problem is with https://github.com/Azure/azure-event-hubs-go/, not with Filebeat on itself.

Filebeat uses the above library from Microsoft in other to communicate with Azure Event Hubs.
Actually different libraries exists for different languages, from Java to Go.
The Java library seems to support HTTP(S) proxies.
The Go library no.

In order words... put a thumbs u

[2021-08-30 14:49] jamiehynds commented on #24835
@andrewkroh all the tasks here seem to be complete. Are we ok to GA the PANW module at this point? Docs still indicating it's Beta - https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-module-panw.html

[2021-08-30 15:09] dMopp commented on #1070
Still an issue :(

[2021-08-30 15:37] PresGas commented on #20847
I opened a case that created this ticket. Details here:
https://support.elastic.co/cases/5004M00000eisAyQAI - Case #00601459
It is still impacting filebeat version 7.10.x and likely newer since this was auto closed without any human interaction.
Thanks for reopening!

[2021-08-30 15:43] blakerouse commented on #27342
Cleaning up the temp directory seems to have fixed the issue and the upgrade was able to get past its current point. I believe that issue to be fixed in 7.15.0 with the change I made here:

https://github.com/elastic/beats/pull/27396/files#diff-70d8a823ae95f40da4d34d3bb54f34c9f6a11b88a914c0abd84ca7630e1a2aafR48

[2021-08-30 16:21] andrewvc opened #27648 "[elastic-agent] Evaluate whether root is the correct user to run the elastic-agent docker image as"
There's currently some confusion about which user to run dockerized `elastic-agent containers as. This has popped up in  https://github.com/elastic/cloud-on-k8s/issues/4794

We currently do create an `elastic-agent` user in the [Dockerfile](https://github.com/elastic/beats/blob/master/dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl) for agent, but since the docker agent isn't do

[2021-08-30 16:21] elasticmachine commented on #27648
Pinging @elastic/agent (Team:Agent)

[2021-08-30 16:21] elasticmachine commented on #27648
Pinging @elastic/uptime (Team:Uptime)

[2021-08-30 16:24] willemdh commented on #24835
@jamiehynds Is PANW 10.x syslog supported? Imho a requirement to get this GA.

[2021-08-30 17:18] bitnapper commented on #20007
This issue seems still unresolved. Is there a workaround?

[2021-08-30 17:19] joshbressers commented on #27648
It is considered a best practice to not run as root. Google has a nice blog explaining this
https://cloud.google.com/architecture/best-practices-for-operating-containers#avoid_running_as_root

[2021-08-30 18:22] andrewvc opened #27651 "[elastic-agent][heartbeat] Heartbeat binary should have setcap privs for ICMP ping"
As discussed in https://github.com/elastic/beats/issues/27648 we do not yet have a clear recommendation as to which user to run the agent docker container as. This presents a problem in that users will not be able to execute ICMP pings using heartbeat via the synthetics integration unless the heartbeat executable either: 1.) is invoked as root 2.) has the `cap_net_raw+eip` capability set via `setc

[2021-08-30 18:22] elasticmachine commented on #27651
Pinging @elastic/agent (Team:Agent)

[2021-08-30 18:22] elasticmachine commented on #27651
Pinging @elastic/uptime (Team:Uptime)

[2021-08-30 18:23] andrewvc commented on #27648
@joshbressers makes sense, +1 on running as non-root.

I've also opened this companion issue to cover the issues we have using linux capabilities in agent: https://github.com/elastic/beats/issues/27651

[2021-08-30 18:46] blakerouse commented on #27651
I believe that Elastic Agent always extracts the tar.gz on top of the install directory, to ensure that the install directory has not been modified (as Elastic Agent can only verify contents of the tar.gz with the sha512 and asc files). So it should extract the tar.gz always on startup, to verify the contents of the files.

@michalpristas ^ correct me if I am wrong, but I think we talked about cha

[2021-08-30 18:49] blakerouse commented on #27648
I think we need to ensure that running as non-root allows access to all the same contents the Elastic Agent needs. If the hostfs is bind mounted into the container and its not running as root will it still be able to collect all the needed system logs and metrics? How will this work once we can run Endpoint Security in the container? Will Elastic Agent be able to spawn that not being root? Can we

[2021-08-30 21:02] #24015 closed

[2021-08-30 21:04] andrewvc commented on #27651
According to @joshbressers this presents a problem for security scanning / audits. What would be the risk in pre-extracting the items? It seems like we should be able to trust existing directories in the docker image.

One idea from @joshbressers was making the docker image fully immutable as well for security reasons.

[2021-08-30 21:26] marbeauregard commented on #8255
Can i get some assistance with the following error message:

root@ubuntu:/home/zeekelk/Downloads/PCAP-03-11# packetbeat run -I SAT-03-11-2018_0145 -t
Exiting: Sniffer main loop failed: Sniffing error: Read Error

[2021-08-30 22:38] andrewvc commented on #20007
Unfortunately it's still not our highest priority issue. One workaround would be using the docker image instead of plain heartbeat for now.

[2021-08-30 22:47] andrewvc commented on #27648
According to this relatively this [LWN article](https://lwn.net/Articles/796328/) only operations on sockets can be done in an unprivileged manner.

That said, there's some middle ground here. We could run the agent as root, but specify else where which user each beat runs as then run the binary as the less privileged `elastic-agent` user when we `execve` to beats that don't need that privilege.

[2021-08-30 22:53] liza-mae commented on #27586
Now fails with
[code]

[2021-08-31 01:58] #20755 closed

[2021-08-31 06:05] #27598 closed

[2021-08-31 08:08] ChrsMark commented on #27216
What @MichaelKatsoulis proposed above sounds good to me. We need a condition to verify that metadata already exists, maybe check for `kubernetes.namespace` and if so skip the processor. But still, will it be considered a breaking change in Beats? Maybe even if it is considered a breaking change it is for a good reason in general since it protects metadata being overridden by the processor. Thought

[2021-08-31 08:15] exekias commented on #27216
Any option sounds good to me, also consider that given the proximity of 8.0 the possibility of doing this as a breaking change is not that far

[2021-08-31 08:45] ChrsMark commented on #25739
Nice investigation! Commenting inline.

We own the manifests and if we don't have `add_host_metadata` in the manifests and I think it is safe to not have `hostNetwork: true` in the same manifests too. Maybe we can add a comment in the config to add this setting if users aim to use `add_host_metadata`, but in the generic case I think we are not blocked by the processor here.

I'm not aware of syste

[2021-08-31 08:56] MichaelKatsoulis commented on #25739
Some of the metricsets of system module like `network` and `socket` give different results when hostNetwork is enabled or not. This makes sense as that option exposes the host's interfaces to the pod.
As a user of Kubernetes though I wouldn't expect to gather system metrics of the node the pod is running on as this is ephemeral and can change too often.
We have other metricsets to gather node info

[2021-08-31 09:27] ChrsMark commented on #24707
New PR: https://github.com/elastic/beats/pull/27269

[2021-08-31 09:44] ruflin commented on #17778
There should definitively be a way to get you back to "green". What version of elastic_package is installed? It might be that you have to delete and recreate the policy to solve it :-(

[2021-08-31 10:19] stephan-erb-by commented on #23852
In case anyone runs into this, here is a suitable workaround using https://www.elastic.co/guide/en/beats/metricbeat/current/configuration-autodiscover-advanced.html

        - type: kubernetes
          node: ${NODE_NAME}
          hints:
            enabled: true
            default_config: {}
          # Post-process Prometheus config to reduce the number of ingested documents
          appender

[2021-08-31 10:29] ChrsMark commented on #23852
@stephan-erb-by hey and sorry for the late reply, it looks like this one got lost in the inbox 😞 .

Great that you have came up with a workaround using appenders :). Using `co.elastic.metrics/raw` should work too. `default_config` is the config that all containers/pods will fall back if there are no hints provided (it is used for container's logs for example to get the default log path if there is

[2021-08-31 10:51] aramhakobyan commented on #17724
+1

[2021-08-31 12:15] ChrsMark commented on #27216
After re-thinking this and chatting offline with Mike I think we can avoid doing the change on the configuration level with the 2 options below:

1. Resolve the log flooding issue by fixing logging levels. The level for the specific messages was set to error by https://github.com/elastic/beats/pull/16866 but previously was set to debug so maybe we can revisit this change.
2. Skip `add_kubernetes_m

[2021-08-31 13:39] joshbressers commented on #27648
@blakerouse ACK, it's a journey that often takes a long time.

FWIW, there is a CAP_BPF capability. I admit I've never used it though

[2021-08-31 13:43] MichaelKatsoulis commented on #27216
@exekias If you don't have any objection with that proposal I will create a PR to fix this. I believe it is the correct approach as the `add_kubernetes_metadata` processor  is not actually needed in scenarios where the metadata are already present due kubernetes dynamic provider.
And it also tackles the problem in its source rather than updating configuration files.

[2021-08-31 13:52] joshbressers commented on #27651
I'll clarify this a bit

We have regulated customers that catalog and scan the content of container images. It is not expected for the contents of a running image to change. It would be more palatable to have a larger image that does not change vs an image that unarchives content

[2021-08-31 14:13] jamiehynds commented on #24835
@willemdh 10.x is not yet supported, but we are working directly with PANW to understand the updates made in the 10.x syslog, with a view to supporting. If you have any examples of changes made to syslog in 10.x, would love to see some examples.

Any updates, such as support for 10.x, would be an enhancement to the module, so generally not considered a blocker to GA. In this particular case, the P

[2021-08-31 14:34] dominiqueclarke commented on #22932
Tested with `beats/elastic-agent-complete:7.15.0-caca3588-SNAPSHOT`: https://container-library.elastic.co/r/beats/elastic-agent-complete:7.15.0-caca3588-SNAPSHOT

Working as expected for both inline and zip url tests.
<img width="926" alt="Screen Shot 2021-08-31 at 10 33 56 AM" src="https://user-images.githubusercontent.com/11356435/131522092-c685acc9-dd5f-4499-9f35-f28e5a58efe0.png">

[2021-08-31 14:56] andrewvc commented on #27648
More detail on `CAP_BPF` is [available here](https://lwn.net/Articles/820560/) . Does this satisfy the needs of metricbeat @blakerouse ?

[2021-08-31 15:05] EricDavisX commented on #24020
I have reviewed and now closed out the 'docs' needs list item above.

And, I don't believe we have an automated test for this yet, so that is why it remains open.  :)

The effort to support multiple outputs (including Logstash) in Fleet is coming in a future release tracked here:
https://github.com/elastic/kibana/issues/108968

So I submit when that is achieved we could choose to leapfrog that tes

[2021-08-31 15:32] EricDavisX commented on #27342
So we can re-test in 7.15, sounds ok to me.  @patrickt333 the latest snapshots should work to test if you were inclined to do so.

[2021-08-31 15:57] JonPaz commented on #23852
@stephan-erb-by , thanks for your pointers.  I've tried applying it to my solution but no joy, do you know if it is possible to delve in any further to see if these settings are actually being applied?

Many thanks!

[2021-08-31 17:11] stephan-erb-by commented on #23852
@JonPaz so there are probably better ways to do that, but for debugging I used the following:
[code]

[2021-08-31 17:21] fearful-symmetry commented on #25739
@ChrsMark `system/socket` uses netlink to gather data. For the most part, the system module sticks to sysfs and procfs. However, there's still a handful of interesting cases when it comes to how that stuff works with container tech. For example, a container inherits its own cgroup hierarchy from the host OS, with the behavior differing slightly across V1 and V2.

[2021-08-31 17:45] blakerouse commented on #27648
We currently do not have support for running Endpoint in the container at the moment. It's just ensuring that we do not switch to one way to then need to switch it back later. That is why I think it's important to get product management involved so that we don't rush to a decision and change it, without knowing the future vision of the project and what permissions we will need.

I would prefer tha

[2021-08-31 18:26] michel-laterman opened #27670 "Elastic Agent proxy config typo"
The elasticsearch output setting for disabling the proxy is currently set to `proxy_disabled`, other locations in the code base including the fleet-server has this set to `proxy_disable`. This typo is preventing fleet from respecting the setting.

- Version: 7.14
- Steps to Reproduce: Enroll and agent running fleet-server with the `--proxy-disabled` flag

[2021-08-31 18:26] elasticmachine commented on #27670
Pinging @elastic/agent (Team:Agent)

[2021-08-31 18:26] michel-laterman commented on #27670
cc @blakerouse

[2021-08-31 18:41] michel-laterman commented on #27670
fleet-server config in question:
https://github.com/elastic/fleet-server/blob/3685ab85d72226e5c572dc96946702e62042f072/internal/pkg/config/output.go#L40

[2021-08-31 19:23] EricDavisX commented on #27453
@amolnater-qasource if Blake doesn't get to it today, can you try to test the latest 7.15 snapshot and if it works, the 7.14.1 release (with as close to same deploy infrastructure) to see if it works there?  We'd like to be able to close this if we are confident it shows as working now.  It isn't too late for a 7.15 fix, btw.

[2021-08-31 19:38] andrewkroh commented on #26629
+1

Another issue the broad compatibility affects is the ability to upgrade to ECS 1.11 which uses the `flattened` data type added in 7.3. https://github.com/elastic/beats/pull/27107#issuecomment-909322023

[2021-08-31 20:09] blakerouse commented on #27453
I was able to test this on Windows 10, upgrading from 7.14.0-SNAPSHOT to 7.15.0-SNAPSHOT and I am seeing the same behavior. There is something not working correctly here, looking into why.

[2021-08-31 20:12] blakerouse commented on #27453
Looks like Fleet Server starts but is unable to server web requests.

[code]

[2021-08-31 20:20] blakerouse commented on #27453
I found the issue and filed it in Fleet Server here https://github.com/elastic/fleet-server/issues/682

[2021-08-31 20:54] blakerouse commented on #27453
This is closed with https://github.com/elastic/fleet-server/pull/683. I would re-test with a new snapshot once available or wait for 7.15.0 BC4.

[2021-08-31 20:54] #27453 closed

[2021-08-31 21:06] blakerouse commented on #27527
I am seeing the same behavior on Window 10. But I do see that the Elastic Agent does stop, but it does show that error message about stopping `terminated unexpectedly`.

Can you check that the Elastic Agent does in fact stop? Click the refresh button in the `services.msc` to ensure that the view is updated with the Elastic Agent stopped.

[2021-08-31 22:05] stanek-michal commented on #27530
I am seeing the same thing with 7.15 BC2/BC3, testing on a clean Ubuntu 20.04 VM. Rebooting the VM takes up to 2 minutes because Agent takes a long time to shut down. Stopping Agent with `sudo systemctl stop elastic-agent.service` takes 1 minute and 30 seconds.

[2021-08-31 23:25] nimarezainia commented on #27442
**API Key Management in Fleet Server**
For better security on the Elastic Agent endpoints each agent should have a uniquely scoped API key for remote Elasticsearch clusters (the same as the main Elasticsearch endpoint that Fleet Server already uses). The difference is that multiple Fleet Server’s will share a service token when the Elasticsearch output is a remote cluster versus the main cluster w

[2021-09-01 01:21] elasticmachine commented on #27677
Pinging @elastic/agent (Team:Agent)

[2021-09-01 01:27] scottdfedorov commented on #27677
When you install just the agent, the install process copies the file from the relative path to the install directory.

For example, if installing just an agent with something like `.\elastic-agent.exe install -f --url=https://abc:8220 --enrollment-token=someoken --certificate-authorities=elasticsearch-ca.pem` then that `elasticsearch-ca.pem` file is automatically copied from the current directory

[2021-09-01 01:33] scottdfedorov commented on #27677
Welp, @n0othing, I'm going to email you, cause it looks like the comment I just made is the cause of the issue we're working on.
Not sure what to make of it, but looks like even though that file is in fact copied from the download to the install directories on install, it's causing the agent to fail to run... It does need an absolute path it seems.

[2021-09-01 04:01] ShenBanma opened #27678 "es index segmentation question(through filebeat)"
Hey, I have a question. I stay at UTC+8, and I use filebeat to collect logs from k8s, then sending to es.But the default index segmentation is decided by UTC, not UTC+8. So I will find logs of 2021.9.1(UTC+8) in filebeat-2021.08.31 16:00 to filebeat-2021.09.01 15:59(show in figure 1). I expect to find my logs in  filebeat-2021.09.01 00:00 to filebeat-2021.09.01 23:59. I want to know how to configu

[2021-09-01 07:38] ruflin commented on #27651
I expect us to add more inputs / binaries over time be it internal ones or even external ones that can be downloaded on demand. I doubt we can fully remove the feature of unpacking during run time.

But if we find an option for the most common scenarios that the unpacking is not needed and still have validation in place I would be ok with such a change.

[2021-09-01 07:42] ruflin commented on #27648
In general I like the idea of not having to run as root. If I remember correctly, the `root` part is likely coming from the early days of Beats and we took it over to Elastic Agent. My biggest concern is that we don't know yet in detail what will break and if anything will break without having root and we need to investigate this before making any decision. @andrewkroh You might have some more ins

[2021-09-01 08:05] amolnater-qasource commented on #27453
Hi @blakerouse
Thanks for the update, we will re-test this issue too once new 7.15.0 Snapshot or 7.15.0 BC-4 will be available and will share our feedback on the same.

[2021-09-01 09:18] ChrsMark commented on #27019
Regarding the [pros/cons](https://github.com/elastic/obs-dc-team/issues/461) of `flattened` type it seems that the only issue here is that `flattened` type is not yet supported in Kibana (https://github.com/elastic/kibana/issues/25820).
We are not hitting any licensing issue with Agent and also k8s labels are stored as keywords so we are not affected by [numeric value support](https://github.com/e

[2021-09-01 10:03] exekias commented on #27216
SGTM!

[2021-09-01 12:05] ruflin commented on #27442
A service token has the exact permissions the service account as. Most of the permissions are needed. The service token needs to have access to logs-* etc. indices as otherwise no API could be created for it. The permissions that are not strictly needed are for the remote .fleet-* indices but not sure if for this scenario it is worth complicating things. My assumption would be that on the remote s

[2021-09-01 12:14] ruflin commented on #27530
It seems filebeat, metricbeat, metricbeat-monitoring all contain `stopped` in the log file. Maybe the problem is filebeat-monitoring? The last few log lines look as following:

[code]

There is no "stopped" but only "Stopping filebeat" in the log. Unfortunately no message afterwards.

@blakerouse Is there some timeout set to 90 seconds? Maybe related to filestream?

[2021-09-01 12:24] amolnater-qasource commented on #27527
Hi @EricDavisX
We have attempted to stop agent from services on Windows Server 2012 R2[VSphere], Windows 2019 base[AWS], Windows 8.1[VSphere] and Windows 10 x64[VSphere].
- We are **unable to stop** elastic-agent from services on above mentioned OS's.

**Build details:**
7.15.0 BC-3 Kibana Cloud environment
Build: 43818
Commit: 6f7562b1906dcfad65809da8fdec15df353d0252
Artifact Link: https://stagin

[2021-09-01 12:44] ChrsMark commented on #24495
@wzt-tao this is something that is not yet supported and the purpose of this issue it to track down the work for it. We plan to start working on this really soon.

[2021-09-01 12:49] blakerouse commented on #27530
@ruflin Yes there is a timeout, and if that timeout is exceeded then Elastic Agent will just `kill -9` that process. Possible that it is an issue with `filestream` as that is a difference between standard `filebeat` and `filebeat-monitoring`.

[2021-09-01 12:53] blakerouse commented on #27442
Think the goal here is to scope it as much as possible so if we can get a `elastic/fleet-remote` service account that gives **only** what a remote Fleet Server requires.

[2021-09-01 13:21] blakerouse commented on #27651
Yeah if we could add the ability to validate the binaries after extraction then the Elastic Agent could be sure that they are correct and not need to extract again. That would allow the container to have them pre-extracted and Elastic Agent can skip extraction.

[2021-09-01 13:25] benbenai7786 opened #27690 "[filebeat] How to keep hardware ip instead of filebeat ip"
Hi guys, need your help.

I deploy filebeat in the kubernetes with helm to recieve cisco asa syslog, and expose udp nodeport to let asa syslog report to it.
Here is my filebeat.yml:
[code]

But here is the data view in es:
[code]

10.126.115.13 is the node ip which is the filebeat pod in.
This is not my original thought, I want to keep the asa hardware ip for searching, anyone know how to let file

[2021-09-01 13:25] blakerouse commented on #27677
@scottdfedorov The files are **not** copied as of today. That is something we need to solve to fix this issue. We just need to come to a conclusion on how we want to solve it.

I like the idea of copying all certificates files (if absolute path is not given) to the installation directory of Elastic Agent. Probably into `${install_dir}\certs\*`.

[2021-09-01 14:03] MichaelKatsoulis commented on #25739
When metricbeat or elastic-agent runs on kubernetes we propose in the manifests to mount `/proc` and `/sys/fs/cgroup`  of the k8s node  inside the pod under `/hostfs/` directory [(yaml)](https://github.com/elastic/beats/blob/master/deploy/kubernetes/metricbeat-kubernetes.yaml#L201).

This is due to the `system` module [(code)](https://github.com/elastic/beats/blob/master/metricbeat/internal/metric

[2021-09-01 14:20] ChrsMark commented on #27019
Note that this is tightly coupled with the implementation of https://github.com/elastic/beats/issues/24495. If we aim to use the same interfaces/libs (see the draft PR linked to #24495) with Beats in order to generate metadata then the dettoting comes along: https://github.com/elastic/beats/blob/4933aef29ae45f75930af62a27f066be418aa733/libbeat/common/kubernetes/metadata/resource.go#L92

If we conc

[2021-09-01 14:26] scottdfedorov commented on #27677
The files are actually copied. In the screenshot below, the three selected files are all files that were added to the install directory when the agent was installed. I did not put them there, they were copied.
It appears the agent isn't using them, but it looked like the entire directory was copied from the download location to the install location.

![image](https://user-images.githubusercontent.

[2021-09-01 14:31] blakerouse commented on #27677
@scottdfedorov They are copied because the whole extracted directory is placed into the `Program Files`, but the Elastic Agent still not use that path to actually reference those files. That behavior is a side-effect of how installation is performed, but that does not mean that it will work as expected.

Lets say you used a relative path of `..\..\fleet-server.crt` that file would not have been co

[2021-09-01 17:12] jsoriano commented on #25739
SGTM, maybe this network-related info could be obtained from the root filesystems, I remember some discussions about this.

I think that `elastic-package` should have its own configuration (as it has for the docker compose runner), it shouldn't download the manifests from beats. We should update `elastic-package` first so it doesn't break when this is changed in beats.

[2021-09-01 19:08] EricDavisX commented on #27598
just confirming, this is testable to see the fix in 7.15 BC4 or in the latest 7.15-snapshot Agent.

@axw curious if you would do us the honors of confirming here when you've seen it and are contented?  Cheers!

[2021-09-02 01:31] axw commented on #27598
Will do when the image is available in Cloud. (Just checked and the latest 7.15.0-SNAPSHOT image available in GCP LA is not yet updated.)

[2021-09-02 02:29] andrewkroh commented on #24242
This is being address by https://github.com/elastic/beats/pull/27526 for 8.0.

[2021-09-02 02:29] #24242 closed

[2021-09-02 06:11] #27062 closed

[2021-09-02 06:41] ruflin commented on #27530
I did now run it again with debug logs on and it seems filebeat is shutting down properly but Elastic Agent does not seem to get the message and only sets it to stopped after a 30s timeout.

Looking at the logs it it seems each process gets the stop signal after one other (serial) and not in parallel.

@michalpristas  @blakerouse When I start a 7.14 Elastic Agent and stop it I can reliably reprodu

[2021-09-02 06:47] michalpristas commented on #27272
is CA file sitting in a root of Agent dir or do you put it somewhere more deeply?

[2021-09-02 11:02] amolnater-qasource commented on #27342
Hi @EricDavisX
We have revalidated Agent upgrade on 7.15.0 Snapshot with 7.14.1 released agent and 7.13.4 released agent.
We have installed both version Windows agents with Policies having System and Endpoint Security integrations.
- Both the Agents `v7.14.1` and `v7.13.4` upgrades to 7.15.0 Snapshot successfully.
- Data for System and Endpoint Security generates at regular interval of time after

[2021-09-02 11:29] michalpristas commented on #27527
my idea of  this behaviour is that agent shuts down before signaling service manager. SM then starts the agent as it understands this as a crash and we (service manager) restart on crash

[2021-09-02 11:40] dikshachauhan-qasource commented on #27527
Hi @EricDavisX

We confirm you that above reported behavior is reproducible on AWS windows server 2016 base machine too.

On attempting to stop the agent, below message shows up, however state continues to show up as running.
![image](https://user-images.githubusercontent.com/72375798/131836956-690753ac-7d95-46a4-8f8c-3df80d193501.png)

Further, we also observed agent going to unhealthy state afte

[2021-09-02 11:50] EricDavisX commented on #27342
This is great @amolnater-qasource thanks.  Patrick, if you want to test it and around this that would be great - but for now I'm closing it out.

[2021-09-02 11:50] #27342 closed

[2021-09-02 12:44] mdelapenya opened #27706 "[CI] Docker images for integration modules are not built"
We noticed the Docker images for Ceph have been failing for a while (last success in March 2021) and cannot be built.

CI job: https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbuild-it-docker-images/detail/build-it-docker-images/186/pipeline/77

The error we see:

[2021-09-02T01:50:50.249Z] Error: running "/var/lib/jenkins/workspace/Beats/build-it-docker-images/src/github.com/elastic

[2021-09-02 12:44] elasticmachine commented on #27706
Pinging @elastic/integrations (Team:Integrations)

[2021-09-02 13:02] michalpristas commented on #27527
i did a small experiment and my initial idea seems true.
i will try to find a good/better way to fix this.

[2021-09-02 14:51] christianherweg0807 commented on #13585
Hey @kaiyan-sheng. We currently investigating a possible solution without a change at the beats code.
See:
https://docs.aws.amazon.com/sns/latest/dg/sns-large-payload-raw-message-delivery.html

[2021-09-02 15:09] elasticmachine commented on #27690
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-02 15:29] #27670 closed

[2021-09-02 15:58] mohsen0 opened #27712 "[Agent] Setting Tags/labels at enrolment or installation"
Ability to set labels or tags during installation or enrolment agent
so that different identical deployments of service can be differentiated in the dataset

The specific use case is described in: https://discuss.elastic.co/t/fleet-managed-elastic-agent-environment-deployment-name-custom-field/282565/6

[code]
or in case, the agent is already installed via package manager
[code]

[2021-09-02 15:58] elasticmachine commented on #27712
Pinging @elastic/agent (Team:Agent)

[2021-09-02 16:23] elasticmachine commented on #1070
Pinging @elastic/integrations (Team:Integrations)

[2021-09-02 16:42] #26200 closed

[2021-09-02 16:53] kaiyan-sheng commented on #13585
Thank you @christianherweg0807 ! We would still like to continue working on the PR you started it. Is that OK for you? Also do you mind contributing to our documentation on this solution without changing the beats code? cc @aspacca

[2021-09-02 19:20] jsoriano commented on #25739
PR open for this https://github.com/elastic/elastic-package/pull/502

[2021-09-02 19:57] andrewkroh commented on #26790
I think we can change it without affecting much. I opened https://github.com/elastic/beats/pull/27721.

[2021-09-03 00:38] andrewkroh commented on #26790
Backported this fix for 7.16.

[2021-09-03 00:38] #26790 closed

[2021-09-03 00:39] andrewkroh commented on #27232
I opened a PR for `decode_cef` and the CEF module at #27727.

[2021-09-03 06:17] AlekSi commented on #15012
JFYI, the linked Go issue is now resolved.

[2021-09-03 06:57] gigayou opened #27728 "filebeat kafka output show "retryer: send unwait signal to consumer""
hi everyone,  one of my servers that installed filebeat use kafka output,  and it output anothor server(installed kafka), but result always show retryer: send unwait signal to consumer, confused..

kafka version: 0.10.2
my filebeat.yml input&output config like this:

input:
[code]

output:
[code]

[2021-09-03 07:06] amolnater-qasource commented on #27251
Hi @EricDavisX
We have re-validated these inconsistent issues on 7.15.0 BC-4 Kibana Cloud environment with Bigsur 11.0.1.
We installed 2 different mac agents and we have below observations.
**Observations:**
- No Unhealthy status observed after installation for both of the Bigsur agents.
- Agent didn't get offline after installation.
- After reboot agents came back healthy and no Unhealthy status

[2021-09-03 07:06] #27251 closed

[2021-09-03 07:49] #27622 closed

[2021-09-03 08:11] #27610 closed

[2021-09-03 10:26] #27216 closed

[2021-09-03 10:48] amolnater-qasource commented on #27453
Hi @EricDavisX
We have revalidated this issue on 7.15.0 self-managed Snapshot and found it **fixed** now.
We installed 7.14.1 released agent using Default Fleet Server policy having Fleet Server integration and upgraded it to 7.15.0 Snapshot agent.

**Observations:**
- 7.14.1 released fleet server agent is successfully upgraded to 7.15.0 Snapshot.

**Build details:**
Build: 43916
Commit: 0de925293

[2021-09-03 11:31] marc-gr commented on #23023
Fix in https://github.com/elastic/beats/pull/27739

[2021-09-03 12:20] jasonslater2000 opened #27740 "Beats MacOS Packages, distribute as pkg not tar.gz"
Beats' macOS packages are distributed as a tarball (not a .pkg)

Tarballs are not ideal and a true installation package file (i.e. a .pkg file) is the preferred method of packaging software for distribution to macOS devices. Distribution of a .pkg file is ubiquitous across the macOS ecosystem and should be considered the "gold standard" for macOS applications (so much so that there have even been

[2021-09-03 12:22] jasonslater2000 opened #27741 "Beats (metricbeat filebeat) Universal 2 and/or ARM64 binaries for MacOS builds"
Universal 2 (and/or ARM64 binaries).

With Apple's shift to using the ARM64-based architecture on their Apple Silicon chips (also known as "M1 chips"), I believe it would be prudent for Elastic to start distributing the Beats packages' underlying binaries as "Universal 2 binaries". These types of binaries are not exactly "new" (insofar that, back in the day, Apple did a similar thing during their

[2021-09-03 12:58] #20944 closed

[2021-09-03 13:06] #23023 closed

[2021-09-03 13:58] #13177 closed

[2021-09-03 14:09] #27527 closed

[2021-09-03 14:40] kaiyan-sheng commented on #27678
Hello, thanks for creating this. But we would kindly ask you to post all questions and issues on https://discuss.elastic.co/c/beats before opening a Github Issue. Your questions will reach a wider audience there, and if we confirm that there is a bug, then you can reopen this issue or open a new one with more details. Thanks in advance!

For your question, I don't think there is a processor for do

[2021-09-03 14:40] #27678 closed

[2021-09-03 14:42] elasticmachine commented on #27741
Pinging @elastic/agent (Team:Agent)

[2021-09-03 14:42] elasticmachine commented on #27740
Pinging @elastic/agent (Team:Agent)

[2021-09-03 14:59] kaiyan-sheng commented on #27728
Hello, thanks for creating this. But we would kindly ask you to post all questions and issues on https://discuss.elastic.co/c/beats before opening a Github Issue. Your questions will reach a wider audience there, and if we confirm that there is a bug, then you can reopen this issue or open a new one with more details. Thanks in advance!

[2021-09-03 14:59] #27728 closed

[2021-09-03 17:31] chemalopezp commented on #27372
Same here, it is also happening on 7.14.1, actually it seems the bug resurrected after 7.13.4.

Ironically, that version had a bug with the region where the functionbeat stack was deployed, so it is getting tricky (I had to rollback to 7.10). Could be that the attempt to solve the region bug messed with the bucket region?

[2021-09-03 20:44] paulb-elastic commented on #22932
Re closing as opened by Zube

[2021-09-03 20:44] #22932 closed

[2021-09-03 22:53] andrewkroh commented on #22762
We've adding a processor to Filebeat called `decode_xml_wineventlog` that can parse XML windows event logs and produce an event that is similar to Winlogbeat. We've used in this in cases where users only have XML available. In some case we've paired this up with the Fleet integrations for Windows that contain Ingest Node pipelines for mapping the data to ECS. So I think this request is mostly met.

[2021-09-03 22:53] #22762 closed

[2021-09-06 02:30] ParkInJong opened #27755 "[Beat Monitoring] Beat name is differ with state"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2021-09-06 07:01] deepikakeshav-qasource opened #27756 "[Security Solution]Error is coming on setting up the file beat on window 64 bit"
**Describe the bug**
Error is coming on setting up the file beat on window 64 bit

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Deployed 7.15.0 on cloud production build.

**Steps to Reproduce**
1. RDP to the windows 64 bit vm.
2. Download and extract the filebeat-7.15.0-windows-x86_64.zip.
3. Run power shell in admin mode.
4. Run .\filebeat modules enable threatintel

[2021-09-06 07:02] deepikakeshav-qasource commented on #27756
@manishgupta-qasource Please review!!

[2021-09-06 07:19] manishgupta-qasource commented on #27756
Reviewed & assigned to @MadameSheema

[2021-09-06 08:51] ruflin commented on #27677
It might be surprising for some users that certs are copied around. How will a user update the cert later on? I have the suspicion the user would update the original location.

To keep the certificates where they were placed initially, could Elastic Agent convert the relative paths somehow and from there on only work with absolute paths? A more radical option would be to not support relative paths

[2021-09-06 09:03] #27585 closed

[2021-09-06 09:42] amolnater-qasource opened #27759 "[Agent-Upgrade]: For Linux .tar deploy; Agent goes Unhealthy on upgrade with Endpoint Security"
**Kibana version:**  7.15.0 Snapshot Kibana Cloud environment

**Host OS and Browser version:** VSphere Ubuntu ~and MAC~, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 Snapshot Kibana Cloud environment should be available.
2. 7.14.1 released Agent must be installed with Default policy having System and Endpoint Security integration.

**Steps to reproduce:**
1. Login to Kibana enviro

[2021-09-06 09:42] elasticmachine commented on #27759
Pinging @elastic/fleet (Team:Fleet)

[2021-09-06 09:42] elasticmachine commented on #27759
Pinging @elastic/agent (Team:Agent)

[2021-09-06 09:42] amolnater-qasource commented on #27759
@manishgupta-qasource Please review.

[2021-09-06 09:58] manishgupta-qasource commented on #27759
Reviewed & assigned to @blakerouse

CC: @EricDavisX

[2021-09-06 10:00] elasticmachine commented on #27755
Pinging @elastic/agent (Team:Agent)

[2021-09-06 11:44] jsoriano opened #27763 "Clarify documentation of beats output errors"
There are several metrics reporting output errors from the `beat` module, clarify their meaning in [the docs](https://www.elastic.co/guide/en/beats/metricbeat/7.14/exported-fields-beat.html#_output), focusing on how worrisome these errors are for users.

For example it is not clear if a non-zero `beat.stats.libbeat.output.write.errors` implied some data loss, though it probably didn't if `beat.sta

[2021-09-06 11:44] elasticmachine commented on #27763
Pinging @elastic/integrations (Team:Integrations)

[2021-09-06 11:44] elasticmachine commented on #27763
Pinging @elastic/stack-monitoring (Stack monitoring)

[2021-09-06 12:27] michalpristas opened #27764 "Make enrollment errors more accurate"
errors when enroll fails is not accurate enough
with agent running using

[code]

this output is retrieved

[code]

it looks like api key is missing. But if we look closely to fleet server logs we see

[code]

the root cause of failed enroll is Fleet Server failing to read invalid certificate.

This might be misleading and is definitely wrong.

[2021-09-06 13:38] exekias commented on #27019
I don't think Agent is defining these anywhere, it relies on default `metrics-*` and `logs-*` mappings, which will default to keyword for these labels. This won't work as soon as you want to use a custom type like flattened. cc @mtojek @jsoriano for awareness

[2021-09-06 14:39] ruflin commented on #27079
@aleksmaus Did we ever make progress on this issue? How did you solve it?

[2021-09-06 14:48] aspacca commented on #13911
https://github.com/elastic/beats/pull/27612#discussion_r700882058

Change validation on Filebeat AWS S3 input so that if both `var.bucket_arn` and `var.queue_url` are not set Filebeat will exit with an error (changed in 7.15 waiting for https://github.com/elastic/beats/pull/27526)

[2021-09-06 15:17] #27469 closed

[2021-09-06 16:30] jsoriano commented on #27019
At the moment some common agent fields, as the ones for cloud or containers, are defined on each integration in the `fields/agent.yml` field of each integration, but this doesn't scale long term and is error-prone.

Yes, this would be the long-term solution.

[2021-09-06 17:30] aspacca commented on #26839
it should be fixed by: https://github.com/elastic/beats/pull/27491/files#diff-af2754659afa3b684949a824294f50bcaf026634020d4f338813b652a459f01cR53

cc @kaiyan-sheng

[2021-09-07 01:56] geekpete opened #27767 "Provide a way to control the role naming for functionbeat to avoid exceeding the 64 character role name limit for auto created roles"
For a function with a sufficiently long name, the auto created role name could exceed the allowed limit of 64 characters.

An example is a function with a name of  `function-with-a-very-long-name1` that tries to create a role name of  `functionbeat-lambda-function-with-a-very-long-name1-eyAiUmSmIjogIkFXUz96U5VnaW9uIiB9`

![role-name-too-long-error](https://user-images.githubusercontent.com/2070843

[2021-09-07 08:38] P1llus opened #27768 "[Discuss] Adding ingest stats to metricbeat ES module, and discussion around handling those metrics"
Currently the metricbeat Elasticsearch module (and `node_stats` fileset) is collecting all the available data from the `_node/stats` api.

However there is a schema that handpicks which fields will be in the resulting document sent to ES, example here:
https://github.com/elastic/beats/blob/master/metricbeat/module/elasticsearch/node_stats/data.go#L37

While adding the ingest stats to the schema is

[2021-09-07 08:38] elasticmachine commented on #27768
Pinging @elastic/integrations (Team:Integrations)

[2021-09-07 09:17] amolnater-qasource opened #27769 "[Agent]: Upgraded 7.14.1>7.15.0 Snapshot Agent is not completely uninstalled on running uninstall command"
**Kibana version:**  7.15.0 Snapshot Kibana Cloud environment

**Host OS and Browser version:** Windows, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 Snapshot Kibana Cloud environment should be available.
2. 7.14.1 released agent must be installed with Default policy having System integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Upgrade 7.14.1 agent from Fle

[2021-09-07 09:17] elasticmachine commented on #27769
Pinging @elastic/agent (Team:Agent)

[2021-09-07 10:12] ChrsMark commented on #27019
It seems that even if the `flattened` type looks promising it cannot be used in this specific case at the moment because of:
1. It doesn't support Kibana visualisation etc, sth that we consider quite important for k8s labels.
2. We dont have a way to define it in the mappings until elastic/package-spec#199 is landed.

In this I would suggest to move it forward using the old dedot approach we had i

[2021-09-07 12:05] aleksmaus commented on #27079
as far as I understood from the replies that this can't be easily fixing without breaking backwards compatibility. we just adopted what we get in osquerybeat in this particular case, and flattened the tree in osquerybeat code.

[2021-09-07 12:08] #27020 closed

[2021-09-07 12:45] ruflin commented on #27768
For the counters, it is likely a question what we do with it. In case we should a derivate I would assume the reset should not be a problem. But if we do something with the total value it could be a problem. We likely have to look at it case by case.

For adding ingest nodes field I ping @masci @exekias @jasonrhodes @matschaffer as they know better where we should be heading here.

[2021-09-07 12:47] P1llus commented on #27768
Il add a ping to @cjcenizal as well, as it is relevant to our last discussion.

[2021-09-07 13:16] michalpristas opened #27773 "[Elastic Agent] Migrate runtime data of processes upon upgrade"
at the moment we have state file located in `{data}/run/default/{process_name}--{process_version}`
on upgrade beat uses a new location as versions differ and old state is ignored which means beat can end up processing some data multiple times.

**Step 1** should be migrating all data from old versioned directory to newer one. this way we don't produce duplicates on upgrade.

**Open question** is w

[2021-09-07 13:16] elasticmachine commented on #27773
Pinging @elastic/agent (Team:Agent)

[2021-09-07 13:29] kvch commented on #27773
The registry format is versioned. On rollback, we can check if the version is the same; if yes, we can use the updated state. If the version has changed, there is nothing we can do. Maybe some heuristics, but I would not go down that road because we might end up with something unexpected.
We should add similar versioning to other data files so we can try to stay consistent during rollback.

[2021-09-07 14:20] blakerouse commented on #27773
I think that on rollback it goes back to its previous state (not a modified version from the next version). We need rollback to be a last resort and in the case that it needs to be used, it needs to be full proof. In that case rollback should just go back to the previous state.

[2021-09-07 14:24] blakerouse commented on #27769
You should not run the uninstall command from inside of the `C:\Program Files\Elastic\Agent` directory. Windows will not allow a directory to be removed that is being used, so it will prevent that directory from being removed.

@michalpristas Do you think maybe the watcher subcommand is still running? That might be why those files could not be removed. Thoughts?

[2021-09-07 14:25] EricDavisX commented on #27773
Can we also get a clear 'how to reproduce this' set of steps, using a particulars UI option for Agent, please?  Not sure if this will be easy to put a set of unit / system tests in, it might be feasible to add to the e2e-testing upgrade scenarios if we wanted, but that is likely more time consuming.  could be worthwhile though.

[2021-09-07 14:29] EricDavisX commented on #27773
Referencing an existing e2e ticket for remaining work: https://github.com/elastic/e2e-testing/issues/534

[2021-09-07 14:30] kvch opened #27776 "Filestream events are not ECS comliant"
For confirmed bugs, please report:
- Version: 7.14
- Operating System: Linux
- Discuss Forum URL: https://discuss.elastic.co/t/filebeat-input-types-log-and-filestream-metadata-for-file-path-name-differ/281713

Filestream events are not ECS compliant. The field `log.path` should be renamed to `log.file.path`.

[2021-09-07 14:30] elasticmachine commented on #27776
Pinging @elastic/agent (Team:Agent)

[2021-09-07 14:36] EricDavisX commented on #27527
backport is done, it will be available in the next 7.15 BC

[2021-09-07 14:47] EricDavisX commented on #27759
We had other recent upgrade tests passing successfully, I believe this will be specific to either Ubuntu (unlikely?) or specific to something in use or set up on the vm.

@amolnater-qasource it would be helpful to confirm if a straight install of 7.15-snapshot works on that same Ubuntu 20 image.  If not, then it isn't necessarily an upgrade bug which helps reducing triage effort.  Thank you for te

[2021-09-07 15:14] blakerouse commented on #27759
Yeah I wonder if this is really an upgrade issue and more of an issue with Endpoint? Seems that the upgrade worked but Endpoint is having an issue.

[2021-09-07 15:32] blakerouse commented on #27677
@ruflin Yeah I was worried that the coping the files might be surprising. I think showing an error if a relative path is provided is the best solution and we should force absolute paths. That would make it consistent and easier to understand (no weird copy logic).

[2021-09-07 15:45] #27232 closed

[2021-09-07 15:48] EricDavisX commented on #27769
The watcher does hang around for (I think) 10 minutes?  That is long enough that it could certainly unsuspectingly be impacting testing (we'll need to make a note to wait MORE than 10 minutes after upgrading to do this particular assessment of un-installing)

Separate from the testing side, it is evident... and so We could tackle this from 2 angles:
1) confirm what is happening and then what we co

[2021-09-07 16:04] michel-laterman opened #27781 "elastic-agent proxy_url serialization"
When giving a `--proxy-url` option to the agent, it is unable to read what it adds to `fleet.yml` on later restarts (or during the bootstrapping process).

For example, invoking an install command with: `--proxy-url=http://10.0.1.14:3128`
Results in the following snippit being part of `fleet.yml`
[code]

However, when the elastic-agent is restarted, the logs contain an error:
[code]

For confirmed

[2021-09-07 16:04] elasticmachine commented on #27781
Pinging @elastic/agent (Team:Agent)

[2021-09-07 16:17] EricDavisX commented on #20672
This was validated as part of 7.l5 Agent / Beats testing, just fyi.

[2021-09-07 16:20] liza-mae commented on #27586
@kvch this is now broken for 7.15, needs to be fixed before release.
Is it related to this PR: https://github.com/elastic/beats/pull/27647 ?

[2021-09-07 16:32] kvch commented on #27586
It is related. I have a several open PRs in progress: https://github.com/elastic/beats/pull/27749 https://github.com/elastic/beats/pull/27743

[2021-09-07 17:04] #26839 closed

[2021-09-07 17:44] kvch commented on #27586
The PRs are merged. The error should be gone now.

[2021-09-07 18:47] michel-laterman commented on #27781
Duplicate of https://github.com/elastic/beats/issues/27187

[2021-09-07 18:49] #27677 closed

[2021-09-07 19:03] michel-laterman commented on #27781
Fixed by previous issue in 7.14.1

[2021-09-07 19:03] #27781 closed

[2021-09-07 21:50] #18160 closed

[2021-09-07 22:41] kaiyan-sheng commented on #13316
@jsoriano Are we still considering making this breaking change for 8.0?

[2021-09-08 02:29] #27597 closed, assigned to andrewvc

[2021-09-08 02:42] matschaffer commented on #27768
A number of stack monitoring metrics are counter derivatives today already https://github.com/elastic/kibana/blob/master/x-pack/plugins/monitoring/server/lib/metrics/elasticsearch/metrics.js#L253-L270

It'd be awesome to have proper support in ES to avoid reset blips, but today the UI can help paper over it to provide a decent user experience.

[2021-09-08 06:53] philippkahr opened #27795 "Metricbeat keystore list super slow on windows"
Beats version: 7.14.1
Windows 10

If you run the `metricbeat.exe keystore list` command it is about 7x slower than the other `*beats.exe keystore list` commands. This was discovered by @smnschndr, thanks for informing us!

On this image you can see that metricbeat takes a considerable longer time in average to list the values inside.

<img width="1580" alt="Screenshot 2021-09-07 at 15 10 06" src="

[2021-09-08 07:12] ChrsMark commented on #27756
Maybe related to https://github.com/elastic/beats/issues/27586

[2021-09-08 07:23] philippkahr opened #27798 "Metricbeat xpack monitoring cannot deal with trailing slash on the url"
Beats: 7.14.1
MacOS 11.5.2 and Windows 10.

**Steps to reproduce:**

1. Start a cluster with docker
2. Configure metricbeat to use the elasticsearch-xpack.yml module
3. For `hosts: ["http://localhost:9200"]` change to `hosts: ["http://localhost:9200/"]` so it features a trailing `/`.
4. Observe the 404 and 400 errors coming in.

[code]

**Steps to fix:**

1. Remove the trailing `/` slash
2. See mo

[2021-09-08 07:34] jpmat296 commented on #17638
Same issue for me. Actually I think it is the expected behavior. But the documentation has an example with the same mistake. It needs to be corrected here:
https://www.elastic.co/guide/en/beats/filebeat/current/configuration-filebeat-options.html#configuration-filebeat-options

Extract:
For the most basic configuration, define a single input with a single path. For example:
[code]

Line 3 should b

[2021-09-08 07:50] philippkahr opened #27799 "Metricbeat metric sets modules uses wrong log level"
This issue is related to: https://github.com/elastic/beats/issues/27798

If you have a misconfiguration and set the `hosts: ["http://localhost:9200"]` to use a trailing `/` e.g. `hosts: ["http://localhost:9200/"]` metricbeat will write the following issue:

[code]

Those messages should be `ERROR` and not `INFO`.

[2021-09-08 08:09] fbaligand commented on #17638
I don’t understand why “enabled=false that do not disable the input” would be the expected behavior.
Up to me, this is a bug.

[2021-09-08 08:13] jsoriano commented on #13316
@kaiyan-sheng I wouldn't consider it so prioritary and I don't think we are going to have time for this. So I think we can close this.

If at some moment we can dedicate a little of time to this I would consider https://github.com/elastic/beats/issues/13604 more valuable for current users, and is probably a low-hanging fruit.

And if we can or need to dedicate more efforts we can re-consider how w

[2021-09-08 08:13] #13316 closed

[2021-09-08 08:52] philippkahr opened #27802 "*beat setup pipelines explicit modules should ignore activated modules"
Beats and ES Version: 7.14.1
Beats on MacOS 11.5.1

**Steps to reproduce**
1. Deploy Elasticsearch
2. Configure filebeat without any modules activated
3. Run `./filebeat setup`
4. Run `./filebeat setup --pipelines --modules cisco,nginx`
5. Delete the filebeat pipelines in Elasticsearch
6. Run `./filebeat module enable system`
7. Run `./filebeat setup --pipelines --modules cisco,nginx`
8. DevConsol

[2021-09-08 08:55] amolnater-qasource commented on #27769
Hi @blakerouse

Usually, we run uninstall command from this location only and it gets successfully uninstalled everytime. Even on the docs available at- [Uninstall Elastic Agent](https://www.elastic.co/guide/en/fleet/master/uninstall-elastic-agent.html#uninstall-elastic-agent) same information is available.

Yes @EricDavisX we attempted to uninstall after 10 minutes of upgrade and we observed Agen

[2021-09-08 08:55] amolnater-qasource commented on #27759
Hi @EricDavisX
As per feedback we have installed 7.15.0 Snapshot agent on the same Ubuntu 20 machine and observed **no issues.**
Further we have also attempted a reboot, however got **no errors**.

We have revalidated linux agent upgrade issue too, however today we are not able to upgrade Linux tar agent and agent is getting `Unhealthy`.
This is tested with and without Endpoint Security and we got

[2021-09-08 08:59] MichaelKatsoulis commented on #26986
@SperChung-11  do you still face the same problem or can we close this issue?

[2021-09-08 09:15] SperChung-11 commented on #26986
thanks, @MichaelKatsoulis.

[2021-09-08 09:15] #26986 closed

[2021-09-08 10:06] jpmat296 commented on #17638
In [this](https://discuss.elastic.co/t/why-filebeat-input-enabled-false-not-effective/234252) forum thread, André mentions it is not supported.

But actually, doc of input of type log ([here](https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-input-log.html#_enabled_11)) mentions it **is** supported. If we trust the documentation, then it's a bug, maybe only when configuration is load

[2021-09-08 10:40] philippkahr commented on #27798
If I am not mistaken e.g. the line https://github.com/elastic/beats/blob/76974f88af08920b153e21d57c177294a15ab095/metricbeat/module/elasticsearch/elasticsearch.go#L163 automatically appends `/_nodes` to the settings from the hosts e.g. `http://localhost:9200//_nodes` whilst the https://github.com/elastic/beats/blob/76974f88af08920b153e21d57c177294a15ab095/metricbeat/module/elasticsearch/elasticsea

[2021-09-08 10:58] #13589 closed

[2021-09-08 12:07] nkakouros commented on #27763
The user facing part of this (i.e. the kibana interface) could also benefit from a bit more clarification. For instance, in the image below, what should I be worried about? Do I have dropped events that got lost forever without being logged? How does "Output Errors" relate to "Fail Rates"?

<img width="1440" alt="Screen Shot 2021-09-08 at 14 03 15" src="https://user-images.githubusercontent.com/11

[2021-09-08 12:20] ruflin commented on #27773
The way I would imagine this happens is:

* Upgrade triggered
* Shutdown current instance
* Copy state to new state directory
* Start new instance
* Migration starts but fails
* Rollback triggered
* New instance stopped
* Old instance started again with old state in old state directory

Basically what @blakerouse described above.

[2021-09-08 12:26] amolnater-qasource commented on #27062
Hi @EricDavisX
We have revalidated the similar second reported issue at https://github.com/elastic/beats/issues/27062#issuecomment-908108760 on 7.15.0 BC-5.
We have found it **fixed** now.

**Observations:**
- No error logs observed for Linux and MAC agent after installation with policy having only System integration.

**Build details:**
Build: 43957
Commit: 0239ff6864dd9930cfe9bcd9a679272f2b7465c

[2021-09-08 12:27] ruflin commented on #27773
@EricDavisX For the filebeat registry case I think an e2e would be great to make sure we do not break this very common use case.

[2021-09-08 12:43] PrplHaz4 commented on #13589
pretty sure this same issue is still present when running in docker containers (and there is a larger "fix all the hostnames" issue for running beats in containers elsewhere that I can't find now...

[2021-09-08 13:47] calebpower commented on #24545
Would also like to see this. Current docs contradict by stating "The value of type can be any datatype available in Elasticsearch" but subsequent execution of `make update` yields "unexpected type 'unsigned_long' for field 'foo'..."

[2021-09-08 14:26] andresrc commented on #27272
@EricDavisX Let's try to reproduce with 7.14.1

[2021-09-08 16:19] liza-mae commented on #27586
This is still failing on 7.15, it contains #27743, does it also need #27749 back ported?

[2021-09-08 16:23] liza-mae commented on #27586
On 7.15
[code]

[2021-09-08 16:26] liza-mae commented on #27586
We only have one more BC scheduled, so we need this fixed for 7.15.

@kvch, can you shed some light on the new variation of the same error?

[2021-09-08 18:10] blakerouse commented on #27759
Glad to hear it was just an environment issue.

[2021-09-08 18:12] blakerouse commented on #27769
Seems that waiting the 10 minutes solved the issue. I think this is acceptable behavior.

[2021-09-08 18:12] #27769 closed

[2021-09-08 18:33] EricDavisX commented on #27769
This is painful on the process side / testing side, but I do think it is ok enough behavior for now - it is unlikely to be seen by production customers (upgrades usually happen when someone wants to keep the Agent around).  Thanks Blake + Amol.

[2021-09-08 18:41] ppf2 opened #27811 "Doc: Elastic Agent standalone documentation can use improvements"
Some users are having trouble following documentation to set up standalone Elastic agents.

For example:
- https://www.elastic.co/guide/en/fleet/current/elastic-agent-configuration.html
  - This page and its subsections have no mention of what to do with modules or where the module documentation is located

  - In the section below, users are looking for the minimum required set of settings to con

[2021-09-08 18:41] elasticmachine commented on #27811
Pinging @elastic/agent (Team:Agent)

[2021-09-08 18:41] elasticmachine commented on #27811
Pinging @elastic/obs-docs (Team:Docs)

[2021-09-08 19:32] EricDavisX opened #27812 "Add some minimal tests in for packages: elastic-agent and fleet-server"
The Robots team has a weekly email with package testing info, and I found the fleet-server and elastic-agent packages do not have any coverage.  Tech lead confirms that while they are tested elsewhere, we would like them to be included in the regular package test system.

This issue is for that test coverage.

The report is generated every Saturday and goes to the elastic-packages email list, fyi

[2021-09-08 19:32] elasticmachine commented on #27812
Pinging @elastic/agent (Team:Agent)

[2021-09-08 19:51] n0othing opened #27813 "Update Nginx module docs to include more thorough Ingress Controller config example"
**Describe the enhancement:**

The current Nginx module docs provide an example of how to configure Filebeat to harvest Nginx Ingress Controller logs:

[code]

On K8s, users will typically have the Ingress Controller's logs written to the pod's log, and it's reasonable to translate the above config to something like the following `autodiscover` config:

[code]

Unfortunately, this has the potentia

[2021-09-08 20:32] EricDavisX commented on #27272
@dikshachauhan-qasource can help I think.  Thanks Diksha!

[2021-09-08 20:33] EricDavisX commented on #27441
@nimarezainia confirmed it is on his list to follow up.

[2021-09-08 21:25] andrewvc opened #27815 "[Heartbeat] Fix failing python tests on windows"
The python-based tests for heartbeat's JSON checks, and 404 statuses seem to regularly [fail on windows](https://beats-ci.elastic.co/job/Beats/job/beats/job/master/1108/). Specifically:

[code]

We should look into fixing these. Both of these could probably be moved to go, though its unclear why they specifically are flakey.

[2021-09-08 22:58] honzakral opened #27817 "Redis input for log data"
**Describe the enhancement:** I would love to see an input that would read data from a queue in redis for lightweight deployments (no kafka, no logstash).

**Describe a specific use case for the enhancement or feature:** I want to gather logs from multiple machines and I don't want to run a separate logstash instance or a kafka cluster when a simple redis server would suffice.

[2021-09-09 00:37] ayedem commented on #17165
This appears to be a pretty serious flaw in Auditbeat if we can't trust the process information being logged into our SIEM and I am pretty surprised that its been open for 18 months with no update that I can see.

[2021-09-09 05:22] amolnater-qasource commented on #27759
Further, We will re-test this issue once VSphere Linux machines will not show errors and will share test results here.

Thanks

[2021-09-09 05:22] amolnater-qasource commented on #26311
Hi @EricDavisX
As testing for Metricbeat revamp was covered during 7.14 testing, hence we are **closing** this ticket.

Thanks

[2021-09-09 05:22] #26311 closed

[2021-09-09 06:47] kvch commented on #27586
The fix have been merged in https://github.com/elastic/beats/pull/27784 on Monday. Based on the git hash in the output of `./metrcibeat version` this patch is not included.

[2021-09-09 06:50] #27586 closed

[2021-09-09 07:08] ChefAustin commented on #26396
As a consumer of Beats products, I wanted to weigh-in and request that Universal2 packages be prioritized (over different packages being made for both ARM64 and Intel architectures).

Offering Universal2 packages provides Elastic's customers with a much simpler means of deployment (insofar that deployment logic doe not need to take into account architecture given that a Universal2 package will "ju

[2021-09-09 07:23] fbaligand commented on #17638
I will be more precise: if I define my `log` input in `filebeat.yml` and set `enabled: false`, it works as expected (input is disabled).
On the contrary, if I define my `log` input in `filebeat.config.inputs.yml` and set `enabled: false`, it doesn't work as expected (input is not disabled).

[2021-09-09 07:45] philippkahr opened #27826 "Filebeat Sophos module pipeline.yml references to missing system health pipeline"
Version: 7.14.1

In the pipeline.yml for the sophos xg module it shows me this:

[code]

However, there is no `systemhealth.yml`

[code]

As far as I can tell, it was removed in this [commit](https://github.com/elastic/beats/commit/34ee591fc8fa76f03ccd0809b68c3392582ecd04)

When I use that module, I see `error.message` populated with `Pipeline processor configured for non existent pipeline ....-xg

[2021-09-09 08:27] P1llus commented on #26008
Did another dive into this issue today, and there is a few things to note.
We actually store one document in Elastic per attribute, and the initial testing data would usually just have an array of attributes, which fits nicely into how we store TI indicators.

However in these cases, it can have both attributes and object attributes. At first I fixed the pipeline to simply make sure that objects a

[2021-09-09 09:13] amolnater-qasource opened #27832 "[Journalbeat]: Journalbeat terminated with errors after running with `sudo ./journalbeat -e`"
**Kibana version:**  7.15.0 BC-5 Kibana Cloud environment

**Host OS:** AWS-Ubuntu 20

**Build details:**
[code]

**Steps to reproduce:**
1. Download and extract **journalbeat-7.15.0-linux-x86_64.tar.gz** artifact.
2. Update the `journalbeat.yml`:
[code]
3. Update `journalbeat.inputs:` in journalbeat.yml:
[code]
**We have copied this journal file from `var/log/journal/xxxxabc/` folder and granted

[2021-09-09 09:13] elasticmachine commented on #27832
Pinging @elastic/agent (Team:Agent)

[2021-09-09 09:13] amolnater-qasource commented on #27832
@manishgupta-qasource Please review.

[2021-09-09 09:19] manishgupta-qasource commented on #27832
Reviewed & assigned to @kvch

[2021-09-09 09:24] philippkahr opened #27833 "Filebeat module sophos issues with timestamp and sent_pkts"
Version: 7.14.1

The `pipeline.yml` for the sophos xg module expects two values to exist:

* `sophos.xg.date` and `sophos.xg.time`.

The pipeline does not do a null safety check and thus sets the field `_temp_.time` to a zero value, which results in a date parsing error.

Newer versions of sophos send a `timestamp` field, which can be found under `sophos.xg.timestamp`.

Furthermore, sophos sends a

[2021-09-09 09:58] #21032 closed

[2021-09-09 11:06] nicpenning commented on #26008
That's great Marius. Happy to test anything that is available 😊

[2021-09-09 11:09] amolnater-qasource commented on #27064
Hi @EricDavisX
We have observed new `error` logs for MAC Bigsur 11 agent when Endpoint Security is added to the policy on 7.15.0 BC-5.

**Log:**
`15:32:39.770`-
`elastic_agent.endpoint_security`-
`[elastic_agent.endpoint_security][error] Interfaces.cpp:123 Interface name too long to get MAC address; name [stf0], namelen [4], sdl_alen [0], sdl_nlen [4] (see net/if_dl.h -> sdl_data)`

**Build detail

[2021-09-09 11:15] P1llus commented on #26008
Will let you know @nicpenning ! The PR to update httpjson will most likely be linked to this in some way :)

[2021-09-09 11:23] ruflin commented on #27064
@ferullo Can you and the team take a look at this?

[2021-09-09 11:26] marc-gr opened #27835 "Upgrade ECS to 1.12"
**Describe the enhancement:**
All beats and modules need to be upgraded to use the ECS 1.12 version.

- [x] fields.ecs.yml is updated
- [x] beats are updated
- [x] modules are updated

[2021-09-09 11:34] nicpenning commented on #26008
Excellent!

[2021-09-09 11:41] adam-stokes opened #27836 "elastic-agent: Windows failing to enroll due to CreateFile error with temporary files and permissions"
This was found using the e2e-testing repo automation scenarios, nice.

- Version:  8.0.0-SNAPSHOT
- Operating System: Windows 2019

Pipeline failure: https://beats-ci.elastic.co/blue/organizations/jenkins/e2e-tests%2Fe2e-testing-mbp/detail/PR-1539/13/pipeline

Error:

[code]

Specific Error:
[code]

This is happening pretty consistently now on fresh Windows VM each time

[2021-09-09 11:43] elasticmachine commented on #27836
Pinging @elastic/agent (Team:Agent)

[2021-09-09 12:30] ferullo commented on #27064
@kevinlog this looks like the artifacts issue your team has been chasing.

[2021-09-09 12:31] ferullo commented on #27064
I should also mention the log `15:32:39.770-
elastic_agent.endpoint_security-
[elastic_agent.endpoint_security][error] Interfaces.cpp:123 Interface name too long to get MAC address; name [stf0], namelen [4], sdl_alen [0], sdl_nlen [4] (see net/if_dl.h -> sdl_data)` is a known issue. It is unrelated to the policy failure and mostly benign.

[2021-09-09 12:33] greggailly opened #27837 "Filebeat-json.log excessive size and no rotation"
We are having size issues with the filebeat-json.log file.
One of our servers had one 122gb filebeat-json.log, are they not supposed to rotate to prevent this ?
All of our servers run windows server 2016/2019 and elastic agents are at version 7.14.1.

More interestingly all servers don't seem to behave the same way.
Some will rotate the files but we can't seem to figure out according to which crit

[2021-09-09 12:39] kevinlog commented on #27064
@ferullo possibly - we do have a fix merged that will go out in `7.14.2` and `7.15.0` to address the migration issue customers were seeing. https://github.com/elastic/kibana/pull/111294

I'd need more information into how this occurred so that we can reproduce.  @amolnater-qasource did you take any special steps to setting up this instance?  Was it a clean `7.14.0` build?  Also, did you see Policy

[2021-09-09 13:07] amolnater-qasource commented on #27064
Hi @kevinlog

Yes we had the fresh/clean 7.14.0 Kibana build. We created 5 different policies with different namespace to test the datastreams. All the 5 agents were installed initially with System integration only.

Then we added Endpoint Security to this and found these reported logs getting generated under logs tab with `elastic-agent.endpoint_security` dataset.

Further on Endpoints tab we hav

[2021-09-09 13:15] kevinlog commented on #27064
Thanks @amolnater-qasource !

I got access to the server Amol was testing on and saw that all of the Endpoints have successful policies.

![image](https://user-images.githubusercontent.com/56395104/132692647-615e1df0-180a-456f-9f5b-fa1453f9ca42.png)

@ferullo are these artifact download errors just an effect of trying to apply the initial policy?  That policy wouldn't contain any URLs yet.

[2021-09-09 13:16] EricDavisX commented on #27836
Michal's first suggestion for review to Michel via slack was:
...can you modify 'fixPermissions' to ignore NotExist error?

[2021-09-09 13:22] joshdover opened #27839 "Cannot enroll a Fleet Server on 8.0.0-SNAPSHOT"
- Version: 8.0.0-SNAPSHOT
- Operating System: macOS 11.5.2 / Docker
- Discuss Forum URL:
- Steps to Reproduce:
1. Start the latest Elasticsearch 8.0.0-SNAPSHOT
2. Start the latest Kibana 8.0.0-SNAPSHOT
3. Go to Fleet app in Kibana and go through the flow to setup a Fleet Server
4. Install an agent / fleet server with the given command from the UI or with this Docker command:
[code]
5. Fleet Server

[2021-09-09 13:22] elasticmachine commented on #27839
Pinging @elastic/agent (Team:Agent)

[2021-09-09 13:22] joshdover commented on #27839
@EricDavisX Do we have any e2e test coverage that should be testing this flow?

[2021-09-09 13:26] sanjaruzic opened #27840 "Metric kube_pod_container_status_last_terminated_reason representation in Metricbeat"
**Describe the enhancement:**
See the last termination reason of a running container in Metricbeat

**Describe a specific use case for the enhancement or feature:**

Metricbeat is deployed by the official Elastic Helm chart in conjunction with kube-state-metrics (all done by the Metricbeat Helm chart).

To find out the restart reason, the only metric available is kubernetes.container.status.reason

[2021-09-09 13:28] wanusmaximus commented on #27423
@peasead Let me know if there are any actions that I need to make on my side.

[2021-09-09 13:29] andrewkroh commented on #23653
@matthew-lubbers Those logs you provided are a big help. I'm curious about the sample for `NonInteractiveUserSignInLogs`. Does `callerIpAddress` literally contain this string of `ipAddress`? Or did you do some anonymization on this sample first and changed the value?

[code]

[2021-09-09 13:33] ferullo commented on #27064
OK. I looked into this more. Sorry for the ping @kevinlog, I agree this is not the issue I first thought it was. All of those logs are benign. Endpoint installs with a configuration that lets it start up and importantly start logging. That configuration fails to enable all Endpoint features and, notably, it fails to download user artifacts because it has no knowledge of Stack configuration yet. Be

[2021-09-09 13:36] andrewvc commented on #27815
Closing because, after digging deeper, these errors mostly seemed to happen on one day in sept. and must have been due to CI server instability.

[2021-09-09 13:36] #27815 closed

[2021-09-09 14:17] joostdecock opened #27842 "Metricbeat HTTP module does not support trailing slash or URL parameters in url to monitor"
- Package: metricbeat
- Module: http
- Version: HEAD

There's some issues into how the `http` module in metricbeat constructs the URL to monitor.
Here's the config I'm using:

[code]

Metricbeat will not check
`/translation-support-search/api/v1/observability/`
but instead
`/translation-support-search/api/v1/observability`
(without the trailing slash).

Those are not the same URL, although many we

[2021-09-09 14:25] joostdecock commented on #18084
This was an issue that was reported through our enterprise support contract.
The result of which is:

 - Support creates an issue here
 - Issue goes stale
 - Issue gets closed

Obviously this is not an important issue, but it's not a good look.

cc @damianpfister

[2021-09-09 14:34] joostdecock commented on #27842
For anyone who landed here via a Google search, you can work around this issue by making the `path` part of the `hosts` entry, and not specifying any path at all.

Working config:

[code]

:shrug:

[2021-09-09 14:58] elasticmachine commented on #21659
Pinging @elastic/agent (Team:Agent)

[2021-09-09 15:06] #27273 closed

[2021-09-09 15:08] peasead commented on #27423
There were some blockers on the PR, not sure if those have been addressed or if those are things you can do?

[2021-09-09 15:08] nerophon opened #27845 "Docs missing for elastic-agent proxy configuration"
In 7.14.x it is possible to run Elastic Agent via proxy. There is a flag:
`--proxy-url`

However, currently this flag isn't documented. Note that proxy mode was actually broken in 7.14.0 and fixed in 7.14.1. Please see: https://github.com/elastic/beats/issues/27114.

Note also we observed the following:

This must also be documented; having said that, perhaps Agent should handle this when doing au

[2021-09-09 15:08] elasticmachine commented on #27845
Pinging @elastic/agent (Team:Agent)

[2021-09-09 15:18] #26572 closed

[2021-09-09 15:20] nimarezainia commented on #26572
Since the host.id field is uniquely defined already we can close this issue. Working with teh security team to see if there are other issues/concerns regarding the VDI use case.

[2021-09-09 15:52] blakerouse commented on #27839
@aleksmaus any ideas on this? maybe this is an issue in elasticsearch?

[2021-09-09 15:55] blakerouse commented on #27836
This seems weird, being that others are not seeing this currently with other Windows installations. Does this path exist `C:\\Program Files\\Elastic\\Agent\\data\\elastic-agent-20be50\\install`?

[2021-09-09 16:05] aleksmaus commented on #27839
@blakerouse seems like permissions issue, asking ES team if anything changed in the latest snapshot.

[2021-09-09 17:03] n0othing opened #27847 "Nginx module not parsing klog messages from Ingress Controller"
**Describe the enhancement:**

The Nginx Ingress Controller writes certain logs to `stderr` in `klog` [1] format. These don't get successfully parsed by the Nginx module's `error` fileset:

[code]

The first 3 lines end up with a `error.message` of `Provided Grok expressions do not match field value...`. They also seem to get merged together into a single multiline event:

[code]

It'd be helpful

[2021-09-09 17:04] #27773 closed

[2021-09-09 17:18] XxLilBoPeepsxX commented on #25181
Same error here, Ubuntu 20.04

```Exiting: 1 error: Error setting up ML for apache_ecs: 17 errors: ; ; ; ; ; ; ; ; ; ; error while setting up visualization: ml_http_access_map_ecs, error: Saved object [visualization/ml_http_access_map_ecs] conflict; error while setting up visualization: ml_http_access_source_ip_timechart_ecs, error: Saved object [visualization/ml_http_access_source_ip_timechart_ec

[2021-09-09 18:10] EricDavisX commented on #27836
@adam-stokes hi, do you have ability to spin up a host and check that path?

[2021-09-09 18:31] EricDavisX commented on #27064
If I'm understanding the thread, we can move this to Endpoint-dev or just close & recreate it there if desired.  @ferullo sound good and if you want it, can you log the Endpoint-dev bug please with whatever reference info you want to transfer from here?

[2021-09-09 18:42] EricDavisX commented on #27839
@joshdover hi - I don't know why it would fail now.
We do have e2e-testing scenarios that cover this (nearly all of them except for the standalone Agent cases), for example:
https://github.com/elastic/e2e-testing/blob/master/e2e/_suites/fleet/features/fleet_mode_agent.feature

And the recent tests passed on master line:
https://beats-ci.elastic.co/job/e2e-tests/job/e2e-testing-mbp/job/master/1496/

[2021-09-09 19:00] amitaiporat opened #27853 "cannot configure file rotation for Filebeat/Metricbeat specific logs under agent"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.14

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system): Windows 10 Pro

**Description of the problem including expected versus actual behavior**:
Elastic agent on Windows produces large agent log files. Changing log level can reduce this but does not root cause the problem

[2021-09-09 23:57] EricDavisX commented on #27853
@amitaiporat fyi, transferred to Beats repo - this is where the Agent code lives.

[2021-09-09 23:57] elasticmachine commented on #27853
Pinging @elastic/agent (Team:Agent)

[2021-09-10 00:00] #27064 closed

[2021-09-10 00:03] EricDavisX commented on #27832
Let's treat this with urgency, until we know more.  @amolnater-qasource can we test it with a different host type, either Linux or macOS?  Getting more data is helpful as it is late in the cycle

[2021-09-10 00:21] ywangd commented on #27839
Since https://github.com/elastic/elasticsearch/pull/74212 (8.0 only), system indices are now treated as restricted result. As a result, fleet-server service account needs privileges to access restricted index names under the `.fleet-*` namespace. We missed that change in the PR. I raised a PR for fix: https://github.com/elastic/elasticsearch/pull/77531
Thanks for catching it.

[2021-09-10 06:13] amolnater-qasource commented on #27832
Hi @EricDavisX
As per docs for Journalbeat at https://www.elastic.co/guide/en/beats/journalbeat/current/journalbeat-installation-configuration.html there are no steps for macOS.

Further, we have attempted to install Journalbeat on Debian 10 machine with above mentioned steps and **we are successfully able to install and get the data under Discover tab using Debian 10**. JFI, we have created `jour

[2021-09-10 07:15] ruflin opened #27857 "[Elastic Agent] system.yml is not disabled in Metricbeat"
We have seen several reports where Elastic Agent tried to ingest data into a `metricbeat-*` index but did not have permissions. It turned out that for some reason on Windows the `system.yml` file in the modules.d directory is not renamed to `system.yml.disabled` which causes this. The workaround for now is to rename the file manually.

We need to investigate why this happens in the first place.

#

[2021-09-10 07:16] elasticmachine commented on #27857
Pinging @elastic/agent (Team:Agent)

[2021-09-10 07:24] ruflin commented on #27857
Under https://github.com/elastic/beats/blob/master/x-pack/elastic-agent/spec/metricbeat.yml#L12 we rename the `system.yml` to `system.yml.preference` so I assume the issue is somewhere there. @michalpristas Instead of moving files around I would think it is better to just disable the modules.d feature completely. We could do this through introducing a `enabled: false` flag or likely an easier way

[2021-09-10 07:26] ruflin commented on #27857
Digging more into the code, it seems a enabled flag already exists: https://github.com/elastic/beats/blob/master/metricbeat/beater/metricbeat.go#L231 But I'm not sure if this only disables the reloading or all loading of the modules.d directory. @exekias Might remember.

[2021-09-10 07:50] exekias commented on #27857
I think it would actually disable them, this should be easy to test

[2021-09-10 08:13] ruflin commented on #27839
PR got merged about 5 hours ago but last snapshot is 7h old. I triggered a new snapshot build to have this available soonish.

[2021-09-10 11:28] amolnater-qasource commented on #26312
Hi @EricDavisX

We have attempted to test this on 7.14.1 released build using Linux ARM64 docker image.
We have set unenrollment timeout: 60 seconds. After 60 seconds of disconnecting agent  it moved to inactive state.

Please let us know if anything else is required.
Thanks

[2021-09-10 11:34] adam-stokes commented on #27836
This is the output from the file listings:

[code]

[2021-09-10 11:38] tl-Bruno-Braga commented on #22611
Hey folks, any updates on this?

[2021-09-10 12:19] joshdover commented on #27839
Based on my cursory scan of these tests, it appears we don't test enrolling a Fleet server, only an Elastic Agent which won't hit this case. Thanks for adding this to elastic/obs-dc-team#489

[2021-09-10 12:46] ruflin commented on #27857
I opened a PR trying this out: https://github.com/elastic/beats/pull/27860

[2021-09-10 13:15] EricDavisX opened #27861 "Darwin .tar.gz shows a 'cpu error' when trying to install Elastic Agent on M1 chip macOS"
This is 7.15 BC5 of Elastic Agent + Stack, on an M1 mac Mini the Security team had to offer for testing.  I can share connection details offline.

- Steps to Reproduce:
1) download and unarchive the .tar.gz Darwin Elastic Agent package
2) run:
sudo ./elastic-agent install -f url=https://<url>:443 --enrollment-token=<token...>
3) see error in command line

This would appear to be regression, as the

[2021-09-10 13:15] elasticmachine commented on #27861
Pinging @elastic/agent (Team:Agent)

[2021-09-10 13:17] EricDavisX commented on #27861
@amolnater-qasource and team were following up to see if they can test an older Agent to confirm.

[2021-09-10 13:23] smandolare commented on #13533
TLS for PANW is required for ingesting logs from the Cortex Data lake as they will only ship via verified TLS connections. Used in conjunction with a local Panorama or NGFW device, multiple module inputs would be required.
- Can the TLS parameters be added as supported?
- Can the module be defined twice with different parameters to support each of Cortex and On-prem log sources to the same beat?

[2021-09-10 13:26] amolnater-qasource commented on #27861
Hi @EricDavisX
We have re-validated this issue with 7.14.1 and 7.13.4 shipped agents, we observed same issue `CPU error` on both the agents on running install command.

**Screenshots:**
![6](https://user-images.githubusercontent.com/77374876/132860284-c01afce5-4e45-4b6f-ba2c-9d10fa21a54e.JPG)
![5](https://user-images.githubusercontent.com/77374876/132860273-128bc295-b145-4550-a093-fc68f70acf2c.JPG

[2021-09-10 13:33] EricDavisX commented on #27839
I think I was typing too fast, I forgot to explicitly cite that the Fleet Server enrollment is implied in all of the tests.  The Agent can't run in Fleet mode without a Fleet Server.  But it does call out that we have a test hole in not having more options for Fleet Server covered in its own .feature file.

We will get the back-fill automation done over time, manual tests cover it well.  We also h

[2021-09-10 13:49] MichaelKatsoulis commented on #23585
Discussing with @ChrsMark  the removal of `kubernetes.container.image` in 8.0 we reached to the point that we could still keep that field as it is an alias to  ECS field `container.image.name` and is not an extra field in the database. That way users can leverage both in case they want to.
About `kubernetes.container.name` and `kubernates.container.id` they have actually different values than  ECS

[2021-09-10 14:36] adam-stokes commented on #27836
Reported by @skearns64 as also affecting: 7.15.0 BC5 on Windows 10

[2021-09-10 14:54] EricDavisX commented on #27272
Diksha slacked me an update:
Hi Eric We have attempted it [and was] able to install 7.13.4 agent once on 7.14.0 self managed kibana. After upgrading agent we observed agent was upgraded however went to unhealthy state.

[it] is very slow and taking around 7-8 minutes to fetch any tab. So we are unable to pull current logs [to help compare symptoms].

@dikshachauhan-qasource thanks for the efforts,

[2021-09-10 14:55] #27776 closed

[2021-09-10 14:57] EricDavisX commented on #27832
Thank you Amol.  Ubuntu 20 is on our support matrix: https://www.elastic.co/support/matrix
 - I'd like to look at this, but if it is env specific I cite it shouldn't be a blocker.  it is merely high urgency.

[2021-09-10 14:59] EricDavisX commented on #27861
I'd like the team to find another M1 macOS to test out on to compare - It seems very possible something specific about that host is not well.  It may yet be a real bug, but prior shipped versions that we know worked are not working here so it is suspicious and reduced in severity/impact.

Let's see if anyone else in the group has a mac and can comparison test.

[2021-09-10 15:02] dikshachauhan-qasource commented on #27272
Hi @EricDavisX , For now also, we tried to run things on aws windows server 2019. Beacuse of Instance type selected as t2.micro I think instance running very hard with less memory. We reattempted with t2.medium instance type but anyhow instance got corrupted. However, surely we will try again with better instance type and will let you know.

Thanks
QAS

[2021-09-10 15:33] gwhynott commented on #1070
Would like to see this adjusted too (host.name).  Seems linux returns whatever is in /etc/hostname,  which isn't the 'correct' place to ascertain the hosts FQDN.  (man hostname).
thanks!
-g

[2021-09-10 16:30] matthew-lubbers commented on #23653
@andrewkroh - The `callerIpAddress` containers the literal string of the ipAddress. That ipAddress was not anonymized but it should be. I've went ahead and removed the previous .zip file with my sample logs attached.

[2021-09-10 17:28] pemontto opened #27870 "Support globbing for reading archived .evtx files with Winlogbeat"
**Describe the enhancement:**
#11361 was great, thanks! It would even better if it could be enhanced to support file globbing too.

**Describe a specific use case for the enhancement or feature:**
We're finding more and more often we need to load multiple archived .evtx files. At the moment doing them one by one using the [existing method ](https://www.elastic.co/guide/en/beats/winlogbeat/master/r

[2021-09-10 18:20] willyu-elastic commented on #27861
I was able to test on my mac M1 mini, while I was using macOS 12, I was still able to run 7.15 for both agent and endpoint security

![screen_shot_2021-09-10_at_10 49 55_am](https://user-images.githubusercontent.com/56367822/132899521-14c6b35c-f2d0-43bb-8def-23c662e1b7bf.png)

[2021-09-10 18:39] andrewvc opened #27874 "[libbeat] ILM writes should use `require_alias=true`"
It's pretty common that we see issues around ILM where users have deleted their write alias causing running beats instances to auto-create an index where the write alias should (with auto-mappings to boot, since the template won't be applied).

We could easily fix this by setting `require_alias=true` in the bulk requests, which is [documented here](https://www.elastic.co/guide/en/elasticsearch/ref

[2021-09-10 18:39] elasticmachine commented on #27874
Pinging @elastic/agent (Team:Agent)

[2021-09-10 18:49] fearful-symmetry commented on #27861
@EricDavisX I have an M1 floating around. What specific executable is this?

[2021-09-10 21:58] #19109 closed

[2021-09-10 22:05] #25449 closed

[2021-09-10 22:14] michel-laterman commented on #27836
I'll merge and backport to 7.15 and 7.16

[2021-09-11 02:03] michel-laterman commented on #27836
@adam-stokes, @skearns64 the fix is now a part of 8.0, 7.16, and 7.15. Please reopen the issue (and ping me!) if it occurs again

[2021-09-12 23:48] Oliver-Sellwood opened #27879 "Verbosity environment variable"
Allow setting metricbeat verbosity via environment variables.

https://www.elastic.co/guide/en/beats/metricbeat/current/enable-metricbeat-debugging.html

this will help with debugging deployments deployed via the helm chart

[2021-09-13 03:15] froheik opened #27882 "Filebeat kubernetes provider mixed logs another containers from same pod"
Filebeat 7.14.1
RH OpenShift version 4.7.22 / centos
https://discuss.elastic.co/t/filebeat-kubernetes-provider-mixed-logs-another-containers-from-same-pod/283784

    filebeat.autodiscover:
      providers:
        - type: kubernetes
          include_pod_uid: true
          in_cluster: true
          templates:
            - config:
                - type: container
                  paths:

[2021-09-13 05:43] deepikakeshav-qasource commented on #27756
Hi,

We have validated this ticket on **7.15.0 BC5** build and observed that issue is **Fixed**. Filebeat is installed successfully on the windows 64 bit

**Build Details:**
[code]

**Screenshot:**

![image](https://user-images.githubusercontent.com/61860752/133029907-9a5fb878-40a9-4161-a13d-4f9e072d9024.png)

Hence, We are closing this ticket and marking as QA Validated

Thanks!!

[2021-09-13 05:44] #27756 closed

[2021-09-13 06:57] ruflin commented on #23585
What did during the migration to 7.0 is to offer users a flag to enable the alias if they want it, but it was opt in. The problem with keep it by default is that you will keep the fields forever. Having 2 fields with the same meaning is not great and if we keep having more and more aliases, the overall number of fields keeps growing. It is here only about 2 fields it will set a precedence and we w

[2021-09-13 07:21] ruflin commented on #27874
+1 on enabling this. @andrewvc What is the behaviour of `require_alias=true` if the target is a data stream?

PS: If I remember correctly, `require_alias` feature actually comes out of the "pre" development of data streams and was the initially approach that Elastic Agent planned to take.

[2021-09-13 08:38] UnderTreeTech opened #27888 "[filebeat] support specify fields to be indexed"
**Describe the enhancement:**

Can filebeat add a new feature like promtail, user can specify what fields to be indexed, those don't be specified are handled as plain text default.

**Describe a specific use case for the enhancement or feature:**

In my scenario, almost every single line log has three fields: trace_id, level, timestamp. I wanna just index these three fields and the left parts are

[2021-09-13 08:52] amolnater-qasource commented on #27759
Hi @blakerouse
We have re-attempted to upgrade linux .tar agent on Vsphere Linux Ubuntu 20 (2 different VMs with no errors) and 1 Centos 8 machine. We have found this issue reproducible on all 3.

- We are unable to upgrade Linux .tar agent from these Vsphere machines.

![3](https://user-images.githubusercontent.com/77374876/133051084-4df82922-fa3f-4be0-af33-0c40813e6b81.JPG)

**Build details:**
B

[2021-09-13 10:02] philippkahr opened #27889 "Filebeat modules merge behaviour does weird things"
- Version: 7.14.1
- Operating System: macOS

**Expected behavior**
1. I explicitly configure one dataset from a module (e.g. Cisco, dataset: asa)
2. Filebeat ignores all other datasets from a module. (e.g. Cisco, dataset: iOS, nexus, amp, ...)

**Current behavior and steps to reproduce**
1. Copy the following filebeat.yml

<details><summary>filebeat.yml</summary>
[code]
</details>

2. Check if `Ci

[2021-09-13 10:06] philippkahr commented on #27889
https://github.com/elastic/beats/blob/23e4403ae093fcc8f7905345cad2c7ad256976d8/filebeat/fileset/modules.go#L118

As far as I understand go, it seems like this line is problematic and might need some rework. https://github.com/elastic/beats/blob/23e4403ae093fcc8f7905345cad2c7ad256976d8/filebeat/fileset/modules.go#L118 I sadly don't know how to solve that.