[2020-12-21 08:21] shishirkhandelwal29 commented on #9768
@jsoriano

[2020-12-21 11:28] vamshisiddarth opened #23220 "Journalbeat skips connection to logstash or elasticsearch"
Journalbeat deployed on the Kubernetes cluster stopped shipping logs to the elasticsearch via logstash. We verified all the network level config and everything is intact, telnet works for port 5044 and 9200. We tried enabling the output as elasticsearch instead of logstash, still doesn't work.

This started from 19th Dec, 2020. Below are our system config.

Journalbeat deployed on a different inst

[2020-12-21 12:36] rahulgupta-qasource commented on #22993
Hi @blakerouse /@EricDavisX

Thank you for sharing the feedback.

As per [above comment](https://github.com/elastic/beats/issues/22993#issuecomment-746187529) , we are successfully able to kill the 7.11-snapshot agent with Endpoint Security OFF using:-

`sudo kill -9 {PID} where PID is a process ID of /Library/Elastic/Agent/elastic-agent`

on 8.0.0-snapshot cloud environment. However, agent is not

[2020-12-21 12:44] dikshachauhan-qasource opened #23222 "Different Agents versions are not upgradable to 8.0 Kibana cloud build from 'upgrade Agent' option available on Fleet UI."
Kibana version:
Kibana: 8.0.0 snapshot Kibana Cloud environment

Elasticsearch version:
Elasticsearch:  8.0.0 snapshot Kibana Cloud environment

Host OS and Browser version:
Windows 10, All

Original install method (e.g. download page, yum, from source, etc.):
 8.0.0 snapshot Kibana Cloud environment

Description
[Ingest Manager]: Different Agents versions are not upgradable to 8.0 Kibana cloud bu

[2020-12-21 12:51] manishgupta-qasource commented on #23222
Reviewed & Assigned to @EricDavisX

[2020-12-21 12:51] elasticmachine commented on #23222
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-21 13:01] navilg commented on #23118
Thanks for the clarification @andrewstucki

[2020-12-21 13:06] rahulgupta-qasource opened #23223 "Agent process is successfully killed on Windows 8.1 x64 bit when Endpoint Security is enabled in its policy"
**Kibana version:**
Kibana: 8.0.0-SNAPSHOT Kibana cloud environment

**Elasticsearch version:**
Elasticsearch: 8.0.0-SNAPSHOT cloud environment

**Host OS and Browser version:**
Windows 8.1 x64, All

**Original install method (e.g. download page, yum, from source, etc.):**
8.0.0-SNAPSHOT Kibana cloud environment from https://staging.found.no

**Description**
Agent process is successfully killed on

[2020-12-21 13:06] elasticmachine commented on #23223
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-21 13:08] rahulgupta-qasource commented on #23223
@manishgupta-qasource Please review the bug

[2020-12-21 14:11] manishgupta-qasource commented on #23223
Reviewed & Assigned to @EricDavisX

[2020-12-21 15:26] adriansr opened #23225 "Diskio metricset errors with shared drives under Windows"
For confirmed bugs, please report:
- Version: 7.10.1
- Operating System:  Windows 2016
- Discuss Forum URL:
- Steps to Reproduce:

 1. Run the `diskio` metricset with a shared drive (for example `net use Z: \\vboxsvr\vagrant`)
 2. The following error is printed to the logs every time the metricset is run:

It could potentially just skip network drives as I understand there aren't perf counters for

[2020-12-21 15:26] elasticmachine commented on #23225
Pinging @elastic/integrations-services (Team:Services)

[2020-12-21 15:33] adriansr commented on #23225
@narph @fearful-symmetry I see you've been working on this metricset lately, maybe you can take this.

[2020-12-21 15:46] fearful-symmetry commented on #23225
@narph would be best, I don't really have any knowledge of windows-specific functions that are failing out here.

[2020-12-21 16:29] bczika commented on #22946
This issue was created on my behalf and a little more detail is needed as the description is not quite accurate. The problem is is the endpoint parameter is ALWAYS ignored and "amazonaws.com" is ALWAYS appended to the end of the url. I tried seven more aws modules in addition to sqs and all have the same problem therefore I'm certain the problem is not module specific.

[2020-12-21 16:37] sraju-optimizely opened #23226 "Seeing error with `createEventsFromS3Info` - status code received is 200 with OK"
After I integrated Cloudflare’s audit logs with `filebeat`, I started seeing the following error:

[code]

Seems like the (from the error log) status code received is `200` with `OK`.  I am wondering why that is populated in `err`

https://github.com/elastic/beats/blob/5a6f830483f1010ca20713c7c7fc89b70de4f613/x-pack/filebeat/input/s3/input.go#L417

[2020-12-21 22:50] andrewvc commented on #22788
I've opened https://github.com/elastic/beats/pull/23229 to add this, thanks for the suggestion!

[2020-12-22 04:30] arpit1305 commented on #22788
Thanks much Andrew for considering this :)

[2020-12-22 07:47] elasticmachine commented on #23226
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-12-22 11:51] dikshachauhan-qasource opened #23243 "[Fleet]: Debug level logs are still streaming in for Agent when logging level is set to 'Warning'"
**Kibana version:**
Kibana: 8.0.0 snapshot Kibana Cloud environment

**Elasticsearch version:**
Elasticsearch:  8.0.0 snapshot Kibana Cloud environment

**Host OS and Browser version:**
Windows 10, All

**Original install method (e.g. download page, yum, from source, etc.):**
8.0.0 snapshot Kibana Cloud environment

**Preconditions**
1.  8.0.0 snapshot Kibana Cloud environment should be available.

[2020-12-22 12:17] manishgupta-qasource commented on #23243
Reviewed & Assigned to @EricDavisX

[2020-12-22 12:17] elasticmachine commented on #23243
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-22 12:27] gk-fschubert commented on #7633
+1

[2020-12-22 14:19] ylasri opened #23246 "[Filebeat Fortinet Module] Include more Grok Pattern"
The following UTM log exaple is not supported by the actual module of fortinet
Can you please enhance the grok with the following example : FortiOS v6.0.11
Related to this [discuss](https://discuss.elastic.co/t/filebeat-fortinet-have-error-message/258261)

[code]

[2020-12-22 14:26] fadjar340 commented on #23246
Below are my procedures to make the ingestion pipe line works using input log file:

# Fortinet Configuration

## Filebeat
### Fortinet filebeat module

- Run command `filebeat modules enable fortinet`
- Change the file `/etc/filebeat/modules.d/fortinet.yml` as follow

[code]

- Before start/restart filebeat, run this command:
   - `filebeat setup --pipelines --modules fortinet`

# Important
   -

[2020-12-22 15:26] danielmotaleite commented on #13686
Please reopen, didn't noticed the close warning

[2020-12-22 15:48] elasticmachine commented on #23225
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-12-22 17:33] elasticmachine commented on #23246
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-22 20:15] #4865 closed

[2020-12-23 07:46] dikshachauhan-qasource opened #23264 "[7.11 Snapshot] Agent goes to unhealthy state at Fleet UI after seemingly successful agent installation."
**Kibana version:**
Kibana: 7.11 snapshot Kibana Cloud environment

**Elasticsearch version:**
Elasticsearch: 7.11 snapshot Kibana Cloud environment

**Host OS and Browser version:**
Windows 10, All

**Original install method (e.g. download page, yum, from source, etc.):**
7.11 snapshot Kibana Cloud environment

[Ingest Manager]: Agent goes to unhealthy state at Fleet UI after seemingly successful

[2020-12-23 07:47] dikshachauhan-qasource commented on #23264
@manishgupta-qasource Please review

[2020-12-23 07:48] manishgupta-qasource commented on #23264
Reviewed & Assigned to @EricDavisX

[2020-12-23 07:48] elasticmachine commented on #23264
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-23 09:10] cebidhem opened #23265 "Nginx module doesn't parse logs as expected with autodiscover in kubernetes (ECK)"
Hey there,

I've deployed the Elastic Stack using ECK 1.3.0. The idea was to enable autodiscovery hints and configure each micro-service with their own pod annotations.

So it works like a charm for multilines, json, even rabbitmq and mongodb module but nginx is not. The logs from nginx (both regular and ingress-controller) are not rendered in Kibana as we expect them to be by the module (see scre

[2020-12-23 09:30] axw opened #23266 "[Elastic Agent] Agent attempts to download build candidate artifacts from the wrong location"
I'm testing Elastic Agent 7.11 BC1 with the "apm" (snapshot) integration. Elastic Agent is attempting to download the apm-server binary archive from `artifacts.elastic.co`. This fails since the build candidate has not been promoted/released:

[code]

Elastic Agent should be fetching the artifact from `https://staging.elastic.co/7.11.0-710164a0/downloads`. After updating `elastic-agent.yml` to set

[2020-12-23 09:50] elasticmachine commented on #23266
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-23 10:34] adriansr opened #23267 "Monitoring: allow specifying /proc or hostfs path."
Discuss thread: https://discuss.elastic.co/t/metricbeat-k8s-error-getting-group-status-open-proc-pid-cgroup/255371

Since https://github.com/elastic/beats/pull/21113 monitoring includes cgroup stats. However, those are hardcoded to read from `/proc`. This clashes with use cases where proc is available in a different location and causes the following error to be printed to the logs every 30s:

Metr

[2020-12-23 10:34] elasticmachine commented on #23267
Pinging @elastic/integrations-services (Team:Services)

[2020-12-23 13:48] EricDavisX commented on #23223
@ferullo any bug here would be on the Endpoint side right?  If so, please help push it on and prioritize, etc. Thx

[2020-12-23 13:50] EricDavisX commented on #23222
@michalpristas I don't recall any spec about not being able to upgrade multiple Agent versions simultaneously, can you confirm / remind?  It is likely to happen in production over time.  So, we could think about fixing this for GA or at least better documenting it - thoughts?

[2020-12-23 13:56] EricDavisX commented on #23243
@nchaulet @michalpristas I'm not sure how to tell if it is on the Kibana side sending the request or on the Agent or Beat side that it isn't setting the value correctly.  What details do you need to figure this out?

[2020-12-23 14:01] gergof opened #23269 "Heartbeat scripting"
**Describe the enhancement:**

I would like to have a fully customizable monitor.
Using this monitor you could define scripts (for example using JS with a library like [otto](https://github.com/robertkrimen/otto)) and inside the script you would have access to functions to make http requests and send tcp packages. Then the script could return the status of the monitor and if it doesn't return unti

[2020-12-23 14:10] EricDavisX commented on #23264
I thought we had this logged separately already, I am not on line to find the duplicate tho...

Anyhow, this seems severe and we should follow up.

[2020-12-23 14:21] weastur commented on #15768
+1

[2020-12-23 14:36] r3sist3r commented on #22947
Knock Knock.. Any luck gentlemen? Care to reply?

[2020-12-23 15:02] FreerideTheWorld commented on #8174
After seeing the "Top Hosts by CPU" visualization hit ovdef 1100% during testing yesterday I'd like to see this visualization fixed as well.  I had to go into the server and look at how many cores it had, 32, and start doing some mental math.  I don't really see how showing a customer 1100% makes this visualization useful and only puts more work on my plate.

[2020-12-23 15:13] shayrybak opened #23271 "Allow customizing linger.ms in the kafka output"
Hi,

I've been running filebeat to send log files to kafka for processing, I've noticed that filebeat is lingering before sending the kafka batch for about 1 second. I'm assuming that is the default value in Sarama, however for our use case that delay is causing issues, can we make that configurable?

Thanks.

[2020-12-23 15:24] ferullo commented on #23223
Protection of Agent hasn't been enabled in 8.0 yet. I'll post back on this issue when it has been..

[2020-12-23 16:07] adriansr opened #23272 "Infoblox nios wrong syslog parsing"
For confirmed bugs, please report:
- Version: 7.9+
- Operating System: -
- Discuss Forum URL: -

The infoblox/nios dataset can't parse logs in the following format:

It works if a hostname is added before the IP address:

This is due the conflicting ordering of headers in the original device parser:

https://github.com/adriansr/nwdevice2filebeat/blob/1c1d0f6610f5d0e7b859dd4c81130012a49dcafb/device

[2020-12-23 16:07] elasticmachine commented on #23272
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-23 19:24] fearful-symmetry commented on #23267
This defintely seems like a bug. Might be an easy fix, gonna poke around.

[2020-12-23 23:27] jgelsey commented on #16336
Having just struggled with this error for the last 3 days, I feel it would be awesome to clarify the error message this way.

[2020-12-24 07:10] elasticmachine commented on #23271
Pinging @elastic/integrations-services (Team:Services)

[2020-12-24 07:11] elasticmachine commented on #23269
Pinging @elastic/uptime (Team:Uptime)

[2020-12-24 07:14] elasticmachine commented on #23265
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-12-24 07:39] andresrc opened #23276 "Possible Enhancements for rate_limit processor"
**Describe the enhancement:**

Some possible future improvements:
* [ ] Throttle if rate > x
* [x] drop if rate > y.
* [x] Some way of knowing that messages have been dropped. E.g. a message in the logs saying rate limit has been reached. I can see us debugging why some logs are missing not realizing they hit the rate limit. ([#22883](https://github.com/elastic/beats/pull/22883))
* [x] Metric of h

[2020-12-24 07:39] elasticmachine commented on #23276
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-12-24 10:37] vamshisiddarth commented on #23220
systemd version 246 introduced the `zstd` compression algorithm which is breaking the journalbeat.

[2020-12-24 12:38] dikshachauhan-qasource commented on #21796
Hi @EricDavisX

We have updated **01** test case and created **01** testcase for this ticket and test cases link are as follows:

- Updated: [C35320](https://elastic.testrail.io/index.php?/cases/view/35320)
- Created: [C35100](https://elastic.testrail.io/index.php?/cases/view/35100)

Please let us know if anything else if required to cover.

Thanks
QAS

[2020-12-24 12:57] cynorsense commented on #8352
This is still a problem on 7.10.1 auditbeat. Not sure if this will come up as highest priority.

[2020-12-24 15:43] thenewguy opened #23285 "Document how to conditionally disable autodiscover providers"
I am trying to run `filebeat test config` via CI runner to validate the configuration.  It fails with:

[code]

I follow the docs at: https://www.elastic.co/guide/en/beats/metricbeat/current/running-on-docker.html

[I am using the sample configuration referenced by the docs.](https://raw.githubusercontent.com/elastic/beats/7.10/deploy/docker/metricbeat.docker.yml)

[The reference configuration](ht

[2020-12-24 16:17] fernando-araya-acn commented on #8387
@MacPower I tried to use SCRAM-SHA-512 with Amazon MSK service and I'm also using the filebeat-8.0.0-SNAPSHOT, but is not working for me. I'm getting the same type of error:
`
2020-11-16T18:59:38.652+0800    DEBUG   [kafka] kafka/client.go:291     Kafka publish failed with: circuit breaker is open
2020-11-16T18:59:38.653+0800    INFO    [publisher]     pipeline/retry.go:219   retryer: send unwait

[2020-12-24 16:36] trevorprater commented on #8387
Try using SCRAM-SHA-256. It definitely works.

On Thu, Dec 24, 2020 at 11:17 fernando-araya-acn <notifications@github.com>
wrote:

[2020-12-25 03:24] WPH95 commented on #6872
Hi, I would like to find out if this issue still need?
I would be happy to re-open the pr #20246 if this is still a desired feature.
#20246 pr add RFC-5424 support. (Previously the pr was automatically closed by bot because it hadn't been reviewed for too long)
- The code style is very similar to the rfc3164 format impl, using Ragel.
- Have unit test, Full coverage the example in rfc5424 spec docs

[2020-12-25 08:57] elasticmachine commented on #23285
Pinging @elastic/integrations (Team:Integrations)

[2020-12-26 15:15] #6531 closed

[2020-12-26 17:38] faraya3m commented on #8387
I tried but “Amazon MSK only supports SCRAM-SHA-512 authentication.”

From: Trevor Prater <notifications@github.com>
Sent: Thursday, December 24, 2020 10:37 AM
To: elastic/beats <beats@noreply.github.com>
Cc: Fernando Araya Cerda CW <farayacerda.cw@mmm.com>; Comment <comment@noreply.github.com>
Subject: [EXTERNAL] Re: [elastic/beats] [libbeat] Kafka Output: Add support for SASL_SSL authentication

[2020-12-27 05:15] #15262 closed

[2020-12-27 20:07] victorpintot8 commented on #19631
Hi, same issue here. I want to collect host system logs using the Filebeat docker image but can't. This is the run command I'm using: `docker run \
--restart always \
-dti \
--name=filebeat \
--user root \
--volume="$(pwd)/filebeat.docker.yml:/usr/share/filebeat/filebeat.yml:ro" \
--volume="/var/lib/docker/containers:/var/lib/docker/containers:ro" \
--volume="/var/run/docker.sock:/var/run/docker.s

[2020-12-28 10:35] #23272 closed

[2020-12-28 12:41] BrunoMCBraga commented on #12464
Fellas, i come from the future and this problem still persists. Functionbeat seems to still be using AWS env variable credentials. I am currently playing with Elastic stack using one single node on as private network and i cannot afford to put my credentials there, specially when the list of permissions necessary: https://www.elastic.co/guide/en/beats/functionbeat/current/iam-permissions.html#iam-

[2020-12-28 13:42] mostlyjason opened #23297 "[Elastic Agent] Typo in log line"
There seems to be a set of typos on this log line:

`Dec 22 14:55:38 monitor systemd[1]: Started Elastic Agent is a unified agent to observe, monitor and protect your system..`

This is not a complete sentence. I think it should say something like:

`Dec 22 14:55:38 monitor systemd[1]: Started Elastic Agent**. It is** a unified agent to observe, monitor and protect your system**.**`

I also remove

[2020-12-28 13:42] elasticmachine commented on #23297
Pinging @elastic/agent (Team:Agent)

[2020-12-28 13:42] elasticmachine commented on #23297
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-28 14:18] ycombinator commented on #23276
The processor will log a debug-level message in the Beat's log whenever an event is dropped. https://github.com/elastic/beats/blob/27d0f08c30b6495cc4880262a2120cef5c21fdfe/libbeat/processors/ratelimit/rate_limit.go#L89.

[2020-12-28 14:57] jsoriano commented on #9768
@shishirkhandelwal29 I think this can be related to the issue that https://github.com/elastic/beats/pull/22685 tries to address.

[2020-12-28 15:03] EricDavisX commented on #23223
Thanks Dan, there must have been a blocking problem with using 7.11 to test, and we assumed the usual merge to master then backport process was in place.

For testing:  We can keep all tests to 7.11 for now.  @rahulgupta-qasource @manishgupta-qasource - I commented on this in email for follow up, I'm not sure if we need to keep this Beats ticket open.  I'd like to log any new ones against the 7.11

[2020-12-28 15:03] #23223 closed

[2020-12-28 20:33] mostlyjason opened #23306 "[Elastic Agent] README has broken instructions"
The Elastic Agent README file that gets shipped with the Elastic Agent has instructions that don't work.

It says:
[code]

However this gives an error:
[code]

This this line be removed or changed?

[2020-12-28 20:33] elasticmachine commented on #23306
Pinging @elastic/agent (Team:Agent)

[2020-12-28 20:33] elasticmachine commented on #23306
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-28 20:49] mostlyjason opened #23307 "[Elastic Agent] Improve log visibility"
Can we please improve the visibility of Elastic Agent logs on the host? This will help in troubleshooting connection issues to Kibana/ES. For example, I had problems with my ES certificate and the agent was stuck in enrolling, with no details in Fleet on why. The only way I could get visibility to this issue is in the agent logs on the host.

It's unexpected to me to find logs under /opt/Elastic/A

[2020-12-28 20:49] elasticmachine commented on #23307
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-28 21:06] mostlyjason opened #23308 "[Elastic Agent] Defaulting to the wrong port for Kibana"
Elastic Agent seems to default to the incorrect port when one is not specified in the Fleet Kibana URL setting. The default port for HTTP is generally port 80. However, it assumes I'm trying to use port 5601. Also, when I explicitly configure it for port 80, I get checkin errors, so it seems to be ignoring my port setting.

[code]

When I explicitly put port 80 it enrolls successfully:
[code]

How

[2020-12-28 21:06] elasticmachine commented on #23308
Pinging @elastic/agent (Team:Agent)

[2020-12-28 21:06] elasticmachine commented on #23308
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-28 21:19] mostlyjason opened #23309 "[Elastic Agent] Custom certificate not working in Fleet global output settings"
I couldn't get the Elasticsearch certificate to work in the global output settings of Fleet, even though I confirmed the certificate works correctly. I tested this with a certificate generated by [elasticsearch-certutil](https://www.elastic.co/guide/en/elasticsearch/reference/master/encrypting-communications-certificates.html). I first tried passing my certificate inline which gave me an error. Th

[2020-12-28 21:19] elasticmachine commented on #23309
Pinging @elastic/agent (Team:Agent)

[2020-12-28 21:19] elasticmachine commented on #23309
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-28 21:42] mostlyjason opened #23310 "[Elastic Agent] Metricbeat logging is duplicating every event"
Elastic Agent's metricbeat logs is duplicating the entire body of each metricbeat message in plaintext format. This eats up a lot of storage space and is not necessary since the metrics are already stored using the metrics data type. Its so inefficient its using several times more space than my overall system metrics. Is it possible to turn these logs off by default, perhaps by setting the log lev

[2020-12-28 21:42] elasticmachine commented on #23310
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-28 21:42] elasticmachine commented on #23310
Pinging @elastic/agent (Team:Agent)

[2020-12-28 23:32] feelan03 opened #23311 "[Filebeat] Add the ability to specify a custom path for autodiscover"
Autodiscover cannot import configuration from another directory as inputs. It would be great if it became possible.

[2020-12-28 23:46] #23311 closed

[2020-12-28 23:51] feelan03 opened #23312 "[Filebeat] Add the ability to specify a custom path for autodiscover"
Autodiscover cannot import configuration from another directory as inputs. It would be great if it became possible.

[2020-12-29 09:41] consulthys commented on #11995
@ruflin thank you very much for mentioning which fields are actually used to create the index name 👍
But can you also give a quick insight on which part of the pipeline will actually be using those three fields to create the final index name? Is it a processor on Agent/Beats side or an ingest pipeline on ES side?

[2020-12-29 13:43] gurumaia commented on #22207
Just saw this and would like to say that this is indeed an useful feature for the enterprise folk.

@mgevans-5 Back in 2018 I ended up using a reverse proxy implemented in Python, that would perform the NTLM authentication. It's not pretty, but it works. Here's the code: https://github.com/enkelbr/ntlm-proxy and here's the docker image it that's your thing: https://hub.docker.com/r/enkelbr/ntlm-pr

[2020-12-29 14:56] adriansr opened #23314 "Windows: Auditbeat/file_integrity reports "short read in readEvents()""
For confirmed bugs, please report:
- Version: 7.11
- Operating System: Windows 2016
- Discuss Forum URL:
- Steps to Reproduce:

With this config:
[code]

Running under Windows (tested on 2016), the following warning appears periodically in Auditbeat's log:

[code]

Seems to be the same issue as in: https://github.com/fsnotify/fsnotify/issues/72

[2020-12-29 14:56] elasticmachine commented on #23314
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2020-12-29 15:31] korjek opened #23315 "Multiple network interface support for metricbeat"
Right now, metricbeat deployed as daemonset on EKS cluster collects network statistics for a [primary interface only](https://github.com/elastic/beats/blob/master/metricbeat/module/kubernetes/node/data.go#L65-L74).

But usually, there is more than one interface per ec2 worker node when CNI plugin is used.

Metrics for all interfaces are available.
Example of network metrics available from `https:/

[2020-12-29 16:29] jsoriano opened #23319 "Flaky Test [Build&Test / libbeat-build / TestAutodiscoverWithMutlipleEntries – autodiscover]"
## Flaky Test

* **Test Name:** Build&Test / libbeat-build / TestAutodiscoverWithMutlipleEntries – autodiscover
* **Link:** https://github.com/elastic/beats/blob/feb6cbffa41250cf6f0e715e9446897c484885d4/libbeat/autodiscover/autodiscover_test.go#L380
* **Branch:** Seen in https://github.com/elastic/beats/pull/23313, reproduced in master.
* **Notes:**
  * May be related to #22668.
  * According to t

[2020-12-29 16:29] elasticmachine commented on #23319
Pinging @elastic/integrations (Team:Integrations)

[2020-12-29 16:29] elasticmachine commented on #23319
Pinging @elastic/integrations (Team:Platforms)

[2020-12-29 18:42] elasticmachine commented on #23315
Pinging @elastic/integrations (Team:Platforms)

[2020-12-29 18:44] ycombinator commented on #23312
Just to clarify, what you're looking for is something like `filebeat.config.autodiscover`, similar to `filebeat.config.inputs`?

[2020-12-29 18:44] elasticmachine commented on #23312
Pinging @elastic/integrations-services (Team:Services)

[2020-12-29 18:46] elasticmachine commented on #23312
Pinging @elastic/integrations (Team:Platforms)

[2020-12-29 19:15] feelan03 commented on #23312
Yes, so that you can specify a custom directory for filebeat.config.autodiscover. Here's an example:
[code]

[2020-12-29 19:45] adulescentulus commented on #9442
For me this still only builds an amd64 build. I'm inside a docker golang environment on amd64 running a build for v7.10.1
@mikemadden42 Do you have a hint why this does not work on my end?

[2020-12-29 21:20] matthew-mcdermott commented on #19475
I am getting the same issue and cannot seem to do anything to work around it. I am using metricbeat 7.7.1, k8s 1.18.10, and ES 7.7.0.

[code]

[2020-12-29 23:15] axrayn commented on #13049
This will potentially be covered by https://github.com/elastic/synthetics

[2020-12-30 01:14] ycombinator opened #23321 "Read pkcs#8 private keys encrypted using FIPS-compliant openssl"
**Describe the enhancement:**

Currently, the [`tlscommon.ReadPEMFile`](https://github.com/elastic/beats/blob/86ad136c00465b4b822e69a78b950af44437a41d/libbeat/common/transport/tlscommon/tls.go#L75) function is able to read encrypted PKCS#8 private keys created using a non-FIPS-compliant `openssl`. Such keys look like this:

[code]

However, if the private key is encrypted using a FIPS-compliant `o

[2020-12-30 01:14] elasticmachine commented on #23321
Pinging @elastic/integrations-services (Team:Services)

[2020-12-30 01:16] ycombinator commented on #23321
Some notes from @urso:

[2020-12-30 08:59] solomonqbq opened #23326 "<!-- CLA-CHECK:23325 -->"
I've signed

&#10060; Author of the following commits did not sign a [Contributor Agreement](https://www.elastic.co/contributor-agreement):
   37289b4e0738982278ef21f92480712e6e7508e0

   Please, read and sign the above mentioned agreement if you want to contribute to this project

_Originally posted by @cla-checker-service[bot] in https://github.com/elastic/beats/issues/23325#issuecomment-7523784

[2020-12-30 10:31] narph commented on #23027
@jeffpatton1971 we had some legacy code we mistakenly ignored, all updated now with https://github.com/elastic/beats/pull/23327.
Not sure what do you mean by the same case with the azure module, can you expand on that.

[2020-12-30 11:15] andresrc commented on #23326
Checking in the PR itself.

[2020-12-30 11:15] #23326 closed

[2020-12-30 12:22] dikshachauhan-qasource opened #23351 "User guide content is outdated for index pattern/namespace."
**Description:** User guide content is outdated for index pattern/namespace.

As per comment at [#79818Comment](https://github.com/elastic/kibana/issues/79818#issuecomment-705126824), information related to index creation for namespace needs to be updated at the below referral links.
- https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-create-index.html#indices-create-api-path

[2020-12-31 02:17] 0xtf commented on #9232
Any update on this?

[2020-12-31 06:53] suprematis commented on #8614
Bump here too!!

[2020-12-31 07:09] dikshachauhan-qasource opened #23332 "[Ingest Manager]: Agent goes to unhealthy state on Agents tab UI when using default namespace in Agent policy."
**Kibana version:**
7.11 BC Kibana Cloud environment

**Elasticsearch version:**
7.11 BC Kibana Cloud environment

**Host OS and Browser version:**
Windows 10, All

**Original install method (e.g. download page, yum, from source, etc.):**
7.11 BC Kibana Cloud environment

[Ingest Manager]: Agent goes to unhealthy state on Agents tab UI when using default namespace in Agent policy.

**Preconditions

[2020-12-31 07:14] manishgupta-qasource commented on #23332
Reviewed & Assigned to @EricDavisX

[2020-12-31 07:15] elasticmachine commented on #23332
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-31 08:38] MacPower commented on #8387
I have used 2.4.1.1 Kafka version with MSK, and the I have already shared the output of filebeat.

[2020-12-31 14:21] tesla-consulting commented on #20294
https://github.com/tesla-consulting/qualysbeat/

[2021-01-01 18:36] DavidSpek commented on #19475
I am also getting this issue on Kubernetes 1.20, metricbeat 7.10.1 deployed using ECK 1.3.1.

[code]

[2021-01-01 19:15] #15165 closed

[2021-01-02 09:15] #15302 closed

[2021-01-02 11:15] #9995 closed

[2021-01-02 11:15] #7477 closed

[2021-01-02 12:15] #8976 closed

[2021-01-02 12:15] #10127 closed

[2021-01-02 15:15] #6550 closed

[2021-01-02 16:12] willemdh commented on #12761
@andrewkroh , I was playing around with Elastic Endpoint Security on my home test Windows 10 system and noticed the endpoint file events do contain a user.name and process.name field. (Which is awesome)

![image](https://user-images.githubusercontent.com/6462991/103461267-59bed100-4d1d-11eb-8716-cb639777b259.png)

Not sure how it is done (documentation about the endpoint datastreams seems very lim

[2021-01-02 18:15] #6924 closed

[2021-01-02 19:01] willemdh commented on #20624
Played around with Elastic Agent this week and noticed that except for endpoint-security.exe and elastic-endpoint.exe

![image](https://user-images.githubusercontent.com/6462991/103464554-dad59280-4d34-11eb-9e83-f1315537f0ff.png)

None of the official beats, nor elastic-agent.exe is signed.. Please sign at least:

auditbeat.exe
filebeat.exe
metricbeat.exe
packetbeat.exe
winlogbeat.exe
elastic-agen

[2021-01-02 19:15] #5275 closed

[2021-01-04 00:45] Leaf-Lin commented on #8033
This is related to the following discussions too:
- https://discuss.elastic.co/t/postgresql-module-cannot-connect/220916
- https://discuss.elastic.co/t/unable-to-get-data-by-using-postgresql-module-of-metricbeat-7-6-2/229422/3

It would be great to add something into https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-module-postgresql.html to include what's the required `POSTGRES_

[2021-01-04 08:59] ruflin commented on #11995
Currently it the data stream selection is done by the Elastic Agent. Elasticsearch will use the fields to set the correct mappings.

Here is also a first blog post that describes these fields a bit more in detail: https://www.elastic.co/blog/an-introduction-to-the-elastic-data-stream-naming-scheme

[2021-01-04 09:14] ChrsMark commented on #19475
Hey! It is a bug indeed. It can happen regardless the version of k8s whenever we hit an integer overflow. We store these integers [values as `int64`](https://github.com/elastic/beats/blob/35a7882f69d6daf9ab72f36c6509a00aaa2904d0/metricbeat/module/kubernetes/types.go#L31) while [the API can serve](https://github.com/kubernetes/kubelet/blob/088ee84ea259bf9c445109ea75b2938dd39d2074/pkg/apis/stats/v1a

[2021-01-04 10:31] ZHumphries commented on #22437
Can confirm this is also a problem with winlogbeat 7.10. Be careful with this on virtual infrastructure, it has the potential to bring the entire network to a grinding halt.

[2021-01-04 10:34] kuisathaverat commented on #9524
this is done, we can close it.

[2021-01-04 10:34] #9524 closed

[2021-01-04 11:50] sorantis opened #23341 "[Metricbeat] Apache Spark Integration"
# Metricbeat Module / Dataset release checklist

This checklist is intended for Devs which create or update a module to make sure modules are consistent.

## Modules

For a metricset to go GA, the following criterias should be met:

* [ ] Supported versions are documented
* [ ] Supported operating systems are documented (if applicable)
* [ ] Integration tests exist
* [ ] System tests exist
* [ ] A

[2021-01-04 11:50] elasticmachine commented on #23341
Pinging @elastic/integrations-services (Team:Services)

[2021-01-04 12:33] jsoriano commented on #8387
SASL/SCRAM-SHA256 and SASL/SCRAM-SHA512 will be supported in 7.11. I am closing this by now.

@MacPower have you tried to use `sasl.mechanism` instead of `mechanism` in your config? Could you please open a new topic in https://discuss.elastic.co/c/elastic-stack/beats/28 if you still have issues?

@faraya3m how is the config you are using?

[2021-01-04 12:33] #8387 closed

[2021-01-04 12:34] rahulgupta-qasource opened #23342 "Agent process is successfully killed on macOS 10.15 x64 bit when Endpoint Security is enabled in its policy"
**Kibana version:**
Kibana: 7.11.0-BC1 Kibana cloud environment

**Elasticsearch version:**
Elasticsearch: 7.11.0-BC1 cloud environment

**Host OS and Browser version:**
macOS 10.15 x64

**Original install method (e.g. download page, yum, from source, etc.):**
7.11.0-BC1 Kibana cloud environment from https://staging.found.no

**Description**
Agent process is successfully killed on macOS 10.15 x64

[2021-01-04 12:35] elasticmachine commented on #23342
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-04 12:36] rahulgupta-qasource commented on #23342
@manishgupta-qasource Please review the bug.

[2021-01-04 12:59] manishgupta-qasource commented on #23342
Reviewed & Assigned to @EricDavisX

[2021-01-04 13:43] ph commented on #20624
@willemdh they will be signed in the next release.

[2021-01-04 13:43] nchaulet commented on #22243
This is resolved @michalpristas which PR resolved that?

[2021-01-04 13:52] #12807 closed

[2021-01-04 15:51] jsoriano opened #23345 "Leverage one-shot container metrics in Docker metricsets"
**Describe the enhancement:**

Docker metricsets get stats per container using the Docker [ContainerStats](https://docs.docker.com/engine/api/v1.41/#operation/ContainerStats) API. Till Docker 20.10.0 (released on Dec 2020), this endpoint takes more than 1 second to reply, this is because it takes two measures to calculate usage percentages.

In 20.10.0, after https://github.com/moby/moby/pull/4047

[2021-01-04 15:51] elasticmachine commented on #23345
Pinging @elastic/integrations (Team:Integrations)

[2021-01-04 15:51] elasticmachine commented on #23345
Pinging @elastic/integrations (Team:Platforms)

[2021-01-04 15:52] grahamrhay commented on #18925
yuss! :partying_face:

[2021-01-04 16:01] andrewkroh commented on #22947
This does not appear to be a bug. Let's take the conversaion up on Discuss.

[2021-01-04 16:01] #22947 closed

[2021-01-04 16:59] fearful-symmetry commented on #8614
Gonna keep this open and see if we can at least keep it on our radar.

[2021-01-04 17:28] EricDavisX commented on #23342
Security team can comment I hope?

[2021-01-04 17:34] ferullo commented on #23342
@willyu-elastic can you look into this?

[2021-01-04 18:07] ph commented on #23310
That seems a weird but to me, @mostlyjason did you test with 7.10 or 7.11?

Because I think the log statement that you are seeing is from 7.10 and previous, we have made a change to log level and allow the log level to be modified remotely.

@michalpristas going to assign it to you so you can confirm.

[2021-01-04 18:14] ph commented on #23309
@mostlyjason a few questions before I reassign this.

When you have added the `output.elasticsearch.ssl.certificate_authorities` the file was present in on the machine?

Can you add the content of the `action_store.yml` on this issue? I am trying to figure out:

1. Does fleet send the values down to the Elastic Agent.
2. Does the Elastic Agent is able to read the file.

[2021-01-04 18:25] ph commented on #23308
There is actually two problems here.

1. What default port should we choose.
2. The URL used from enrolled is not correctly persisted on disk.

Concerning 1, lets agree on the desired behavior. If we look at the behavior from the:

https://github.com/elastic/beats/blob/e5bae4ce5bd2508ae2d40ecb762be072c29a1ece/x-pack/filebeat/filebeat.reference.yml#L3957-L3961

The current behavior where 5601 is us

[2021-01-04 19:03] EricDavisX commented on #23332
The Fleet Server setup changes that caused other bugs are not backported to 7.11 so this will be a different problem we should review.  @ph I pinged @nchaulet via slack - but we may need Agent side help.

[2021-01-04 19:06] nchaulet commented on #23332
I think it's correct to have the agent as `unhealthy` here as an error occured looking at the log

[2021-01-04 19:07] EricDavisX commented on #23332
ah, thanks Nicolas!  @nchaulet I acknowledge the state may be correct, but do we know what causes the underlying problem?  We can update or spawn a new issue if better - just don't want to lose track of the main problem.

[2021-01-04 19:15] nchaulet commented on #23332
Looking at the log I think there is differents issue:
* the endpoint integretion returning a `degraded` status
* some 503 when calling the checkin API but I guess this one should be resolved after the agent checkin cc @michalpristas

[2021-01-04 19:23] mostlyjason commented on #23310
Thanks I'm using version 7.10.1

[2021-01-04 19:30] ph commented on #23332
**Actions:**

- @EricDavisX can confirm that the packaging is OK on macOS and it's not missing the `*.sha512`
- I agree with @nchaulet investigation, that from the provided log the **unhealthy** state should be the current state.
- After talking with @EricDavisX I believe this is something more problematic here either a packaging on some OS, or a problem with the integration with Endpoint.
- @diks

[2021-01-04 19:33] ph commented on #23332
What worried me is  _unhealthy_  state are possible, the problem is when an Agent is never able to recover from that case.

[2021-01-04 19:49] mostlyjason commented on #23308
Concerning 1, I wasn't aware that 5601 is the default for Beats and it wasn't described in the UI. The nice thing is the Beats YML clearly documents the default setting, however our Fleet UI does not offer that text. Perhaps we can include a small info icon with a link to the docs or a some hover text similar to what the user sees in the YML file?

[2021-01-04 20:10] ph commented on #23308
In the flyout UI? Is this really needed from the UI you would copy paste the command?

Are you running kibana in a docker container where your are expose 80 as 5601?

[2021-01-04 20:20] mostlyjason commented on #23308
I mean on the global settings UI where the user needs to put the Kibana URL. The user needs to explicitly fill this value in when they are setting up fleet.

I was running in a docker container with port 80 on the host directed to 5601 in kibana. If the port is not persisted, then I think this bug would exist any time the user chooses a different external port number, including by setting `server.

[2021-01-04 20:25] andrewvc opened #23346 "[Heartbeat] Trigger Synthetics E2E tests on heartbeat code changes"
Ideally we would trigger the synthetics [E2E tests](https://github.com/elastic/synthetics/tree/master/__tests__/e2e) on heartbeat code changes. Is this possible? If so, what would need to be done? CC @KseniaElastic  @kuisathaverat

This came up in: https://github.com/elastic/beats/compare/master...andrewvc:copy-synthetics-volumes?expand=1

[2021-01-04 21:31] Fgruntjes opened #23348 "[Auditbeat] Option to disable hashing in system process dataset"
**Describe the enhancement:**
We would like to be able to disable the process executable hash all together. We tried setting `process.hash.hash_types: []` but this did not seem to have an effect.

**Describe a specific use case for the enhancement or feature:**
When running audit beat inside a docker container to monitor the host it is very hard to mount all processes that can be started. Resultin

[2021-01-04 21:55] liza-mae opened #23349 "[Auditbeat] Default distribution fails to start on aarch64"
For confirmed bugs, please report:
- Version: 7.11.0 BC1
- Operating System: Ubuntu aarch64
- Steps to Reproduce:
  Install auditbeat and try to start, observe error
[code]
Same thing happens on 7.10.1 so not a regression.  The oss distribution works.

[2021-01-04 21:55] elasticmachine commented on #23349
Pinging @elastic/integrations (Team:Integrations)

[2021-01-04 22:21] mbarretta commented on #23153
@kaiyan-sheng

Overall, while I like the ease of configuration offered by `aws_partition`, I don't think it should be the only configuration option the "non-default" regions like `aws-cn`, `aws-us-gov`, etc. My primary objection is that we don't know if those region/endpoint values that your PR hardcodes are static or that the list of supported partitions is exhaustive. In either case, we'd need t

[2021-01-04 22:25] mbarretta commented on #23153
@mukeshelastic curious about your opinion here.

[2021-01-05 00:10] 111andre111 opened #23350 "[Filebeat] AWS S3 Input add multiline support"
**Describe the enhancement:**
At the moment AWS S3 Input doesn't offer multiline support

**Describe a specific use case for the enhancement or feature:**
In AWS S3 streaming to SQS there might be occasions for log files that hold multiline log lines like for instance AWS Hadoop or other Java products
https://www.elastic.co/guide/en/beats/filebeat/master/filebeat-input-s3.html
https://github.com/e

[2021-01-05 00:11] elasticmachine commented on #23350
Pinging @elastic/integrations (Team:Integrations)

[2021-01-05 00:11] elasticmachine commented on #23350
Pinging @elastic/integrations (Team:Platforms)

[2021-01-05 00:30] elasticmachine commented on #23351
Pinging @elastic/obs-docs (Team:Docs)

[2021-01-05 01:11] EricDavisX commented on #23332
The macOS 7.11 BC1 package is currently showing as ok in my test on cloud Prod of 7.11.  I have it installed ok against my personal mac.

[2021-01-05 08:37] michalpristas commented on #23264
this will be related to the log right above the agent going to degraded state
[code]

when application status changes overall agent status changes.
we should take a look why this is reporting this way, `system/load` should not be available on windows thus it should not fail with error.

[2021-01-05 08:40] michalpristas commented on #23266
we have covered cases for SNAPSHOT but BC is missing indeed.

[2021-01-05 08:46] michalpristas commented on #23222
this looks like build timing issue we've seen before @EricDavisX
from logs we can see SNAPSHOT build is downloaded and then agent tries to verify hash and signature but this fails on hash checksum mismatch. downloaded binary is not the same as hash says.

in the logs we see that first it tries to find asc locally. this is not there.
then second try, it downloaded snapshot.asc from snapshot repo. i

[2021-01-05 08:57] MacPower commented on #8387
Nice work thanks !

@jsoriano I am using `sasl.mechanism` and it worked perfectly on 8.0.0-SNAPSHOT.

[2021-01-05 09:07] masci commented on #23153
+1 for having users to set `endpoint` and remove everything else. While I see the rationale behind `aws_partition` and `region`, this abstraction is something I would expect in a UI for example, not in a configuration file. The switch/case hardcoding the actual endpoints is a yellow flag in the code that in my opinion validates the UX problem - the only hardcoded value we should have in the code i

[2021-01-05 09:29] michalpristas commented on #23264
looking at it and thinking about possible solutions, this should not be handled at the agent level.
even though it manifests as agent being unhealthy, but it is because agent does the right thing and takes reported application status into account.

@ruflin should we update system package to have a condition saying `generate system/load if OS!=windows' maybe?
or should it be handled at the metricbe

[2021-01-05 10:14] P1llus opened #23358 "Adding support for first_event and first_response cursors in httpjson v2"
In the rewritten version of httpjson (v2), there is now cursor support, that is able to access `last_event` and `last_response`, so that it can use a chosen field as a cursor for the next requests (for example tracking the timestamp of the last event to filter on for the next interval).

However not all API's returns the newest event last, so we would need to accommodate for the API's that returns

[2021-01-05 10:14] elasticmachine commented on #23358
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-01-05 10:37] jsoriano commented on #3005
Closing, there are already metrics for partition offsets and consumer lag. There are other issues open about improving support for consumers as #22859 and #23077.

[2021-01-05 10:37] #3005 closed

[2021-01-05 10:54] ChrsMark commented on #23319
@vjsamuel this one seems to be the error I saw at #22668 once but we couldn't find it any more back then. Any ideas about this?

[2021-01-05 11:16] sdomagala opened #23359 "[functionbeat] Add ability for encrypted S3 uploads"
Hello all!

**Describe the enhancement:**
I was hoping that functionbeat could have an ability for encrypted S3 uploads as right now you can't use buckets that have policies like this:
[code]

**Describe a specific use case for the enhancement or feature:**

Functionbeat can't be used with S3 buckets that have more strict policies about encryption

According to this topic functionbeat should alrea

[2021-01-05 12:25] sayden commented on #20761
Thank you for reporting this! I have opened a PR to fix it: https://github.com/elastic/beats/pull/23360

[2021-01-05 12:52] EricDavisX commented on #23222
we can test again for sure, with known working Agent versions (individually upgradeable) and then we can run them together.

[2021-01-05 13:34] dikshachauhan-qasource commented on #22549
Hi @EricDavisX

We have executed 22 testcases under test plan Agent Logging Level test run

Build details are as follows:

[code]

Please let us know if anything is required from our side.

Thanks
QAS

[2021-01-05 13:41] kuisathaverat commented on #20584
I hit this, for me is weird that you can set permissions on a parameter and those permissions will not be applied as configured, if I set `0664`, the `others` do not have permissions, and the group will not have write permission due to the creation mask.  So the last digit is ignored no matter the value, and the group will not have write permissions ever, I wonder if apply a mask make sense if you

[2021-01-05 13:58] ph commented on #23264
@michalpristas @fearful-symmetry should know about this about this, I believe he added platform condition on some of the input.

[2021-01-05 14:43] urso commented on #22045
Is this still an issue with 7.11?

[2021-01-05 14:54] urso commented on #20053
How is logging and rotation configured in general? The original report looks like Docker or kubernetes. Some environments use copytruncate, which at times can "trick" the reader to continue reading from the wrong location. In that case an "invalid" line is read, but the input should mostly recover.

Also note, multiline JSON is not supported as well.

Although we see parsing errors, the cases seem

[2021-01-05 15:45] kuisathaverat commented on #23346
I think we need to backport the changes in https://github.com/elastic/synthetics/pull/148 to the package pipeline, and after generate a Docker image for synthetics https://github.com/elastic/synthetics/blob/master/__tests__/e2e/docker-compose.yml#L43 run those test.

[2021-01-05 16:15] #8556 closed

[2021-01-05 16:15] #9428 closed

[2021-01-05 16:28] gurumaia commented on #22207
Adding my support for this feature. It is needed in enterprise environments, as @mgevans-5 commented.

As far as what I ended up doing in 2018, it was a somewhat dirty workaround of using a reverse proxy to do the NTLM authentication. You lose visibility into some aspects of the test (tcp handshake, etc), but it works.
Here's the software I used: https://github.com/enkelbr/ntlm-proxy and here's th

[2021-01-05 16:53] fearful-symmetry commented on #23177
Honestly surprised we haven't done this yet. Should be an easy fix.

[2021-01-05 17:12] EricDavisX commented on #23264
Alex's work for dynamic input usage in integration was merged for Windows / System Integration here: https://github.com/elastic/integrations/pull/411 - I'd have to research package promotion and roll out to know if we expect it in use in our 7.11 BC (or snapshot) systems.

[2021-01-05 17:29] adriansr commented on #23349
You need to disable the `socket` dataset in the `system` module. It only works on x86 architectures.

[2021-01-05 17:43] liza-mae commented on #23349
Thanks let me try, is it documented or do we need to document this?

[2021-01-05 17:56] fearful-symmetry commented on #23177
Okay, so, is it good enough to add the capabilities to the _beat binary_ itself? I think so? That, at least, should be doable.

[2021-01-05 17:59] liza-mae commented on #23349
This is the document I found: https://www.elastic.co/guide/en/beats/auditbeat/7.11/auditbeat-module-system.html - does it make sense to add something about it there?

[2021-01-05 18:01] biastogit commented on #23159
I solved this issue by locating and updating the script  /etc/init.d/elastic-agent like this:

added on line 2

\### BEGIN INIT INFO
\# Default-Start:     2 3 4 5
\### END INIT INFO

once done, the command _systemctl enable elastic-agent_  finished without errors.

\# systemctl enable elastic-agent
Synchronizing state of elastic-agent.service with SysV service script with /lib/systemd/systemd-sysv

[2021-01-05 18:12] andrewkroh commented on #23349
We should update the config template to only include the modules that work for arm64. Then the config file will work out of the box.

https://github.com/elastic/beats/blob/518e8b366818c50e4859b7fa945171308dc30156/x-pack/auditbeat/module/system/_meta/config.yml.tmpl#L23-L24

[2021-01-05 18:19] zvazquez commented on #17467
Is there any update about this feature. We have the same scenarios where we have multiple Kubernetes clusters that we want to monitor centrally and having this metadata available will be very beneficial.

Thanks!

[2021-01-05 18:23] liza-mae commented on #23349
Sounds good @andrewkroh

[2021-01-05 18:55] fearful-symmetry commented on #23264
@ph @michalpristas I fixed a related issue here: https://github.com/elastic/integrations/pull/498

@michalpristas what OS is that? Right now we have a conditional to block `load` running on windows, but if some other component of fleet is still trying to start it on Windows, I'm not sure what the fix would be.

[2021-01-05 19:03] P1llus opened #23366 "[Discussion] Adding support/helpers/processors for XML in libbeat"
This issue is to discuss potential implementations for XML for beats. Looking through different open issues, there is plenty of places in which some sort of XML support would be beneficial.

However there are some pro's and con's to all of them, which is why I wanted to have this open discussions to get peoples viewpoint.

XML in general, using the XML encoder in golang does not support unmarshall

[2021-01-05 19:03] elasticmachine commented on #23366
Pinging @elastic/integrations (Team:Integrations)

[2021-01-05 19:03] elasticmachine commented on #23366
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-01-05 19:17] andrewstucki commented on #23366
So, I don't necessarily think that

necessitates anything different than this:

Personally I would stay clear of adding in custom formatting logic to an input, at that point it'd be (IMO) a leaky implementation. We have inputs to handle literally that -- doing whatever communication/network/file processing required to actually grab messages from a source. All of the other transformation logic shou

[2021-01-05 19:28] mostlyjason commented on #23309
Ok I need to find some time to recreate my environment so I can get this info

[2021-01-05 19:42] fearful-symmetry commented on #23349
This should be an easy fix, I'll see if I can knock it out

[2021-01-05 19:46] liza-mae commented on #23349
Thank you @fearful-symmetry - it would be nice if we can get it into 7.11.0 and 7.10.2 upcoming releases.

I already tested removing the system module and auditbeat comes up, having it do so out of the box would be best.

[2021-01-05 20:01] P1llus commented on #23366
@andrewstucki thanks for the feedback, lots of great points as well!

Would you mind elaborating a bit on the stance for custom logic on inputs?

Similar as with the current httpjson and http_endpoint, there are certain actions that has to happen on input, the most important one being split operations.
Since neither processors or ingest nodes can produce more than one document/event, the only plac

[2021-01-05 20:07] andrewstucki commented on #23366
@P1llus: I missed the point that "splitting" meant chunking a single payload into multiple documents. If that's the desire, yeah, I can't think of a way of doing it with a processor. In that case I'd say that if we're wanting to address a use-case that requires chunking a single XML payload into multiple documents, you're right that we should consider doing the lightweight processing in the input

[2021-01-05 20:33] fearful-symmetry commented on #23349
@adriansr do we know what parts of the system module do work on aarch64?

[2021-01-05 20:54] liza-mae commented on #23349
It may make sense to also update the documentation to say something about Linux aarch64 system module.  Thoughts?

[code]

[2021-01-05 21:02] fearful-symmetry commented on #23349
Yah, with the coming age of M1 macs, we might want to be more explicit with ARM support

[2021-01-05 21:04] vjsamuel commented on #23319
@jsoriano @ChrsMark i have fixed the same. apologies for the regression.

[2021-01-05 22:06] ndubss commented on #23184
@andrewstucki We want to adopt immutability longer term. It's not currently supported, as you mentioned the ongoing work but we are aware that auditbeat intends to support this.

For us, we deploy new rules often, so even if we are able to deploy immutability, we need a mechanism to reboot all the nodes in each cluster before rules will change. For these few reasons, we don't use immutability yet.

[2021-01-06 09:37] michalpristas commented on #23264
@fearful-symmetry this issue is related to Win 10 with 7.11 kibana
was this a recent change, something which might be not present at the deployment mentioned above?

[2021-01-06 11:12] jsoriano commented on #23366
@P1llus are you thinking on an specific use case for this?

I think that this would be easier to address with specific use cases we want to cover. Having full generic XML support may lead to a complex feature, that is difficult to develop, maintain and use.

For example, supporting logs collection from files with newline-delimited XML objects has different requirements to periodically query an end

[2021-01-06 11:14] michalpristas commented on #23310
yes these should be debug logs, we increased default level to INFO in 7.11

[2021-01-06 11:15] #13050 closed

[2021-01-06 12:13] P1llus commented on #23366
@jsoriano Thanks for taking the time! In regards to specific use cases, the way I approached it is setting some requirements down on what scope of functionality it should support, and have tested it with a few different sources.

**Usecases:**
First of all, while XML might not be as common anymore, there is a few areas in which it is still highly prominent, though most of these are related to secu

[2021-01-06 12:41] jsoriano commented on #23366
@P1llus sounds good. If you have specific use cases I think that you could start by creating some draft PR for some of these cases and the specifics could be discussed there. Definitely we are going to need something like this if we want to support these scanners that only report using XML.
Regarding the helper, not sure if this is going to be common enough, for example I guess that attributes wil

[2021-01-06 13:37] mostlyjason opened #23390 "[Fleet] Dashboards and visualizations are not clearly labeled to distinguish from Beats"
The dashboards and visualizations created by packages for Elastic Agent are not clearly labeled to distinguish them from Beats. This is confusing when the system package is installed by default even when the user is not using Elastic Agent. The user may accidentally click on one of the Elastic Agent dasbhoards mistakenly thinking they are for Beats, and there will be no data visible. Also, it will

[2021-01-06 13:47] #23319 closed

[2021-01-06 14:14] P1llus commented on #23366
@jsoriano That I can do!

The helper is meant to handle any xml transformation in general, so we don't need to redo that implementation for each input, logic or processor that might want to use it. If you feel it makes it bloated I can always remove it, but that still require us to make the same logic multiple places instead then.

The attributes itself means the same for all use cases, its just t

[2021-01-06 16:09] AYDEV-FR commented on #23195
Hi
You're talking about TCP and UDP sending of logs,
I have the same error with the "file" version, in /var/log/squid/access.log

Have you found a way to solve the problem?

Here's my log error :
[code]

[2021-01-06 16:31] gnumoksha opened #23377 "[Metricbeat] Add RabbitMQ cluster name"
# Metricbeat Module / Dataset release checklist

Add the cluster name in the [exported fields](https://www.elastic.co/guide/en/beats/metricbeat/current/exported-fields-rabbitmq.html). A possible field name would be `rabbitmq.cluster.name`.

This checklist is intended for Devs which create or update a module to make sure modules are consistent.

## Modules

For a metricset to go GA, the following c

[2021-01-06 17:30] fearful-symmetry commented on #23264
@michalpristas system is currently on `0.10.5`.

It appears you're using a relatively old version that's probably broken:

[code]

[2021-01-06 18:33] BuffaloWill commented on #11234
+1

This feature would help us understand if we have replication lag and, if so, should be alerted.

I would be interested in workarounds to get this information if anyone has them.

[2021-01-06 22:56] #22837 closed

[2021-01-06 23:13] fearful-symmetry commented on #23349
Fix here: https://github.com/elastic/beats/pull/23381

Apologies for the delay, my country is struggling with democracy and the news is a tad distracting.

[2021-01-06 23:15] #952 closed

[2021-01-06 23:56] Mekk commented on #16084
Bah, but how to add such label?

[2021-01-07 06:19] hermlam commented on #23159
It did help! Thanks.

Herman

[2021-01-07 08:19] michalpristas commented on #23264
using cloud instance, so if this seems old then somethings wrong there.
do you know how pairing/dependency is defined?

[2021-01-07 08:23] #19475 closed

[2021-01-07 08:48] marqc opened #23385 "Occasional panic in kubernetes autodiscovery on pod deletion"
filebeat v7.10.1 running on kubernetes 1.19.4 (self hosted). This makes filebeat panic and restart.

This happened 3 times in last 48 hours on one instance (of 8 running). Termination log is:

[code]

[2021-01-07 09:38] #12464 closed

[2021-01-07 10:40] elasticmachine commented on #23390
Pinging @elastic/integrations-services (Team:Services)

[2021-01-07 10:40] elasticmachine commented on #23390
Pinging @elastic/integrations (Team:Integrations)

[2021-01-07 10:40] elasticmachine commented on #23390
Pinging @elastic/integrations (Team:Platforms)

[2021-01-07 10:40] sorantis commented on #23390
Moved the issue to beats repo.

[2021-01-07 11:02] sorantis opened #23391 "[Metricbeat] Normalize cgroup CPU data"
The customer would like to gather normalized CPU accounting per cgroup (e.g. for LXC containers). Metricbeat's CPU accounting can be collected per cgroup, but is then reported in snapshots of nanoseconds of CPU time since the cgroup was started, for example:
[code]

Since we do have the total nanoseconds, we can provide the `percpu` values as normalized percentages, similar to how it's done for sy

[2021-01-07 11:02] elasticmachine commented on #23391
Pinging @elastic/integrations-services (Team:Services)

[2021-01-07 11:33] jsoriano commented on #16853
Initial support merged, what includes an autodiscover provider and an `add_nomad_metadata` processor. It will be released in principle as experimental feature in 7.12.

[2021-01-07 11:55] ruflin commented on #23390
I wonder if we need to a second issue in the integrations repo. In the best case, Beats and Integrations both add labels to distinguish between the two.

[2021-01-07 12:18] sorantis opened #23393 "[Metricbeat] Add support for CouchDB v3"
Update Metricbeat Couchdb module with Couchdb v3. At the moment there´s only support for Couchdb v1 and v2.

[2021-01-07 12:18] elasticmachine commented on #23393
Pinging @elastic/integrations-services (Team:Services)

[2021-01-07 14:48] dikshachauhan-qasource opened #23395 "[Ingest Manager]: Error logs are getting displayed under Logs tab, when Agent logging level setting is updated."
**Kibana version:**
7.11 BC Kibana Cloud environment

**Elasticsearch version:**
7.11 BC Kibana Cloud environment

**Host OS and Browser version:**
Windows 10, All

**Original install method (e.g. download page, yum, from source, etc.):**
7.11 BC Kibana Cloud environment

**Preconditions**
1.  7.11 BC Kibana Cloud environment  should be available.
[code]
2. Any policy having system integration sho

[2021-01-07 14:51] manishgupta-qasource commented on #23395
Reviewed & Assigned to @EricDavisX

[2021-01-07 14:51] elasticmachine commented on #23395
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-07 16:04] slmingol opened #23397 "Elastic Agent support output types similar to other *beats"
**Describe the enhancement:**
Elastic Agent should support all the same output types as other *beats.

**Describe a specific use case for the enhancement or feature:**
Is it safe to assume that given Elastic Agent is built on top of *beats technology that it'll support the use of different output types such as Kafka?

- https://www.elastic.co/guide/en/beats/filebeat/master/kafka-output.html

For r

[2021-01-07 16:25] elasticmachine commented on #23397
Pinging @elastic/agent (Team:Agent)

[2021-01-07 17:28] smacl opened #23400 "[Filebeat] Kubernetes autodiscover fails if filebeat cannot determine its node name"
For confirmed bugs, please report:
- Version: 7.9.1
- Operating System: Centos 7 (we use a very lightly modified version of the public docker image)
- Discuss Forum URL: https://discuss.elastic.co/t/kubernetes-autodiscover-fails-if-filebeat-cannot-determine-its-node-name/260375
- Steps to Reproduce: Difficult to orchestrate, but seems to happen if the K8S API server is unavailable when filebeat qu

[2021-01-07 17:55] tarkhil commented on #21066
I have installed filebeat from ports sysutils/beats7 and have some troubles

There is no suricata module in setup, I've extracted it from darwin archive and ...

... well, chown everything to root (`chown -R root /usr/local/share/beats/filebeat/module/suricata/ /usr/local/etc/beats/filebeat.modules.d/suricata.yml`) and it's running.

I have to make some visualization, set up ILM, but that's all ..

[2021-01-07 17:58] EricDavisX commented on #23264
we're following up on getting the newer System package deployed to prod so we can verify that ^ directly above issue goes away. I'm still seeing problems with BC2 of 7.11 so I'm putting a new ticket in.

[2021-01-07 18:03] EricDavisX opened #23402 "7.11 BC2 Elastic Agent on Windows 10 goes 'unhealthy' and doesn't report any in-UI logs to ES"
Kibana version:
Kibana: 7.11 BC2 from cloud prod env

Installed the BC2 Agent on a known good Windows 10 x64 image

Agent file:
https://staging.elastic.co/7.11.0-8f5ce7c2/downloads/beats/elastic-agent/elastic-agent-7.11.0-windows-x86_64.zip

no logs shown in Fleet UI so I'll get them off the host.  I was attempting to install Agent & Endpoint at the same time. I attempted this with the BC2 macOS a

[2021-01-07 18:03] elasticmachine commented on #23402
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-07 18:05] EricDavisX commented on #23402
@michalpristas was reviewing Agent use with me the last few days and he didn't see this problem with his Windows testing.  Which gives us hope, but also needs to be explained as soon as we can - not sure if it will relate to local builds of Agent vs Infra builds or what.

[2021-01-07 18:23] EricDavisX commented on #23402
logs for Agent.  note, no Endpoint logs exist on disk as the folder isn't there at all.
[7.11-Windows-elastic-agent-json.log](https://github.com/elastic/beats/files/5783285/7.11-Windows-elastic-agent-json.log)

And here are more images, showing that on disk there is no 'Endpoint 'folder, and the Agent install was seemingly ok - but a little oddly, no filebeat location exists.  is that possibly a s

[2021-01-07 18:59] ph commented on #23402
@EricDavisX @michalpristas I am going to mark it as a blocker for the next BC, let's investigate that.

[2021-01-07 19:02] ph commented on #23402
fyi @ruflin

[2021-01-07 19:06] EricDavisX commented on #23264
we logged a new issue with clearer status an repro steps from 7.11 BC2 (which shows different symptoms and behavior as this) so I'm closing it as fixed.

follow https://github.com/elastic/beats/issues/23402  for more details.  in 7.11 BC2 macOS and Linux seem ok.  only windows problems are confirmed, as of now.  just fyi

[2021-01-07 19:06] #23264 closed

[2021-01-07 19:39] EricDavisX commented on #23332
we have the 503 socket hangup issue logged separately as https://github.com/elastic/kibana/issues/86742

and the 'unhealthy' agent issue is logged as https://github.com/elastic/beats/issues/23402

so - we can close this to avoid duplicate work in favor of the more concise issue.  Thank you for helping to keep it on our radar @dikshachauhan-qasource this has been a rough few weeks, I appreciate you

[2021-01-07 19:39] #23332 closed

[2021-01-07 20:11] EricDavisX commented on #23402
I ran a comparison test on a known working (with prior Agent versions) x86 Win 7 vm.  I installed Agent and Endpoint and ended up seeing this issue again, meaning: no logs showing in UI from Agent (or Endpoint)

For a comparison point I uninstall and and then when I install *just Agent without Endpoint, Agent seems to work better.  I wonder if the Endpoint 'Protection' feature could be negatively

[2021-01-07 20:26] ferullo commented on #23402
Is this when Endpoint was enabled or disabled?

Endpoint Self Protection will not be enabled on Win 7 so this problem shouldn't be related to Endpoint Self Protection. @bjmcnic can you confirm that Endpoint will not project Agent on x86 Win 7?

[2021-01-07 21:05] EricDavisX commented on #23402
for the above, I only expected Endpoint folders on the policy where Endpoint was enabled - happy to confirm that.

[2021-01-07 21:06] peasead opened #23406 "Create Threat Filebeat Module"
# Filebeat Module / Dataset release checklist

This checklist is intended for Devs which create or update a module to make sure modules are consistent.

## Modules

For a metricset to go GA, the following criterias should be met:

* [ ] Supported versions are documented
* [ ] Supported operating systems are documented (if applicable)
* [ ] Integration tests exist
* [ ] System tests exist
* [ ] Aut

[2021-01-07 21:25] bjmcnic commented on #23402
I tested Win7x86 through Kibana and verified I got a 7.11.0-BC2 endpoint installed through the Agent's integration.  It was initially "Healthy".  I successfully killed the agent process using task manager to confirm the agent was not protected.  I then restarted the agent and watched the endpoint connect back up (using netstat).  Back in Kibana...the Agent now showed "Unhealthy" and remained that

[2021-01-08 07:39] tofdragon opened #23408 "Filebeat output to elasticsearch (open kerberos), publisher_pipeline_output WWW-Authenticate Negotiate 401 but No processing"
**Connect to elasticsearch(open kerberos )，The authentication fails, when elasticsearch responds with 401(Negotiate), nothing happens,Normal logic should go to kdc to request processing**

Why doesn't filebeat request kerberos kdc in response to 401?

Successfully access elasticsearch,kibanan (open kerberos) from the browser

Access to elasticsearch in curl is also successful

Version: filebeat 7.

[2021-01-08 07:54] elasticmachine commented on #23408
Pinging @elastic/agent (Team:Agent)

[2021-01-08 07:56] elasticmachine commented on #23400
Pinging @elastic/integrations (Team:Integrations)

[2021-01-08 08:42] elasticmachine commented on #23385
Pinging @elastic/integrations (Team:Integrations)

[2021-01-08 09:10] elasticmachine commented on #23359
Pinging @elastic/agent (Team:Agent)

[2021-01-08 09:14] elasticmachine commented on #23349
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-01-08 09:14] elasticmachine commented on #23349
Pinging @elastic/agent (Team:Agent)

[2021-01-08 09:15] elasticmachine commented on #23348
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-01-08 12:45] cfuntis commented on #12040
should this work already? i am using eck 7.10.1 on kubernetes with hints based filebeat autodiscover and ecs-logging-java 1.0.0.RC1
i don't see e.g. log.level in the "observability / logs" menu

[2021-01-08 15:08] kevinlog commented on #23402
I saw the same behavior as @bjmcnic on Win7x86.  I can get the Endpoint to standup and stream to ES on Win7.

However, I still see the Agent report an Unhealthy status

![image](https://user-images.githubusercontent.com/56395104/104029996-b1838f00-5198-11eb-9506-99e77b494b3e.png)

I still haven't been able to get it to work on Windows 10

[2021-01-08 15:48] ljw- opened #23410 "[PacketBeat][SIP] Error in parsing of 200 OK"
- Version: 7.10 and master
- Operating System: any
- Steps to Reproduce: Try and parse a 200 OK message, get error

Hi.

We did not get any 200 OK messages passed from packetbeat to elastic, so we started investigating it.
This is an example of a log message from packetbeat:
2021-01-08T14:53:31.689+0100        DEBUG        [udp]        udp/udp.go:74        Parsing packet from IpPortTuple src[xxxx:

[2021-01-08 17:11] jclemons7 commented on #15768
+1

[2021-01-08 19:12] ravenbyron opened #23412 "Filebeat apache2 error fileset doesn't support timezones 6.x"
As stated in
https://github.com/elastic/beats/issues/12772
and fixed in https://github.com/elastic/beats/pull/13304

Any chance this could be back ported to the 6.x releases? We are going to plan an upgrade but that is complicated.  We just found this issues with our error logs being 6 hours behind  (timezone -6) our access logs making coordinating events very hard.

[2021-01-09 02:11] mukeshelastic commented on #23153
@mbarretta - @sorantis is closer to these integration details than me he can share his perspective from product and UX perspective.

[2021-01-09 08:13] tofdragon commented on #23408
Can you give me some wrong opinions and opinions?

[2021-01-09 09:44] elasticmachine commented on #23412
Pinging @elastic/integrations (Team:Integrations)

[2021-01-09 09:46] elasticmachine commented on #23410
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-01-09 16:10] schans commented on #23267
This is where it is hardcoded to "" (aka /):
https://github.com/elastic/beats/pull/21113/files#diff-2141c2342ca93ab304c2efd9425679f0f7ef598b9cdb9115213591671bc9c1a8R274

The first parameter of NewReader in "cgroups, err := cgroup.NewReader("", true)" should be confgiruable.

See also: https://github.com/elastic/gosigar/blob/master/cgroup/reader.go#L61

[2021-01-10 18:57] mostlyjason commented on #23309
Ok i removed the certificate from my OS folder to recreate the error message. The file is readable

[code]

Here is my `action_store.yml` file. I also see that this certificate authority is configured when I run `elastic-agent inspect`
[code]

Not sure if its relevant, but my OS loads this certificate successfully in crt format, whereas certutil generated it in pem format. I assumed elastic-agent

[2021-01-11 08:00] elasticmachine commented on #12040
Pinging @elastic/agent (Team:Agent)

[2021-01-11 08:31] ChrsMark commented on #23385
The root cause of the issue should be the type casting that takes place at https://github.com/elastic/beats/blob/1da173a9e716715a7a54bb3ff4db05b5c24fc8ce/libbeat/autodiscover/providers/kubernetes/pod.go#L174.

The behaviour is documented at [client's code](https://github.com/kubernetes/client-go/blob/843f7c4f28b1f647f664f883697107d5c02c5acc/1.5/tools/cache/controller.go#L146-L149) as well as at [B

[2021-01-11 09:19] michalpristas commented on #23402
First thing i see is error log saying
`'Exec' failed: : operation 'Exec' failed: `
after looking more closely to it i found out there is an exit code `21` when running `install` command of endpoint (`endpoint-security install --upgrade --resources endpoint-security-resources.zip`)

the next thing i tried was to get agent out of the equation so i just unpacked endpoint artifact and ran the command

[2021-01-11 10:19] bjmcnic commented on #23402
@michalpristas ...I just tried to reproduce this on my same Win7x86 machine using the `endpoint-security-7.11.0-BC2` and `%errorlevel%` as well as checking procmon's Process Exit Status for the precise command line you indicated.   Both reflected 0 (`ERROR_SUCCESS`).  Could you maybe add a couple options to that command line and see if we can get some more details?

`endpoint-security install --up

[2021-01-11 10:31] michalpristas commented on #23402
cc @bjmcnic
[code]

side note, i removed previously installed instance running `endpoint-security uninstall` from within `C:/Program Files/Elastic/Endpoint` (not sure if last dir was called Endpoint but the path is correct in general)

[2021-01-11 12:15] dikshachauhan-qasource opened #23462 "[Fleet]: Agent 'Upgrade' feature fails from 7.10.1 RC Agent to 7.10.2 BC1 Kibana Cloud Build."
Kibana version:
Kibana:7.10.2 BC1 Kibana Cloud Build

Elasticsearch version:
Elasticsearch:7.10.2 BC1 Kibana Cloud Build

Host OS and Browser version:
Windows 10, All

Original install method (e.g. download page, yum, from source, etc.):
7.10.2 BC1 Kibana Cloud Build

Preconditions:
1. Artifacts for 7.10.1 Agent should be available.
	Link used: https://artifacts.elastic.co/downloads/beats/elastic-

[2021-01-11 12:38] urso commented on #22786
@fearful-symmetry I reopened the issue. The task "Add a note about this in known issues for 7.x maintained versions." seems to be missing. Please add a "known issue" to our docs. The oldest affected version is 7.2 I think.

[2021-01-11 13:16] urso commented on #22494
No, we have no support for throttling warnings/errors to logs. Something "simpler" would be better.

[2021-01-11 13:54] bjmcnic commented on #23402
cc @michalpristas

Thanks for the log, I was able to recreate that issue and I believe I've figured it 3 issues, in increasing criticality.

1. I had assumed from my own context earlier we were talking about Win7 x86, but from the title of the ticket and the log, it's evident you're trying to test on a Win10x64 box.  My bad, sorry about that.
2. The error that eventually results in `ERROR_NOT_READ

[2021-01-11 14:24] mtojek opened #23418 "Elastic-Agent Docker: silent standard output"
Hi,

I was researching different ways of enabling verbose logging in Elastic Agent in terms of https://github.com/elastic/elastic-package/issues/86 . I'd like to collect Elastic-Agent and subprocesses logs at some folder (which can be mounted and exposed externally).

Then, I came up to a different conclusion: the standard log output of Elastic Agent is silent even though the application is runnin

[2021-01-11 14:24] elasticmachine commented on #23418
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-11 15:19] willemdh commented on #21172
@andrewkroh In the meantime Sysmon13 has been released.

_This update to Sysmon adds a process image tampering event that reports when the mapped image of a process doesn’t match the on-disk image file, or the image file is locked for exclusive access. These indicators are triggered by process hollowing and process herpaderping. This release also includes several bug fixes, including fixes for min

[2021-01-11 15:38] #23027 closed

[2021-01-11 15:42] elasticmachine commented on #23418
Pinging @elastic/agent (Team:Agent)

[2021-01-11 15:58] fearful-symmetry commented on #23267
Yep. Sorry for the delay, been distracted with 7.11, and then the Holidays happened. We can _probably_ just use `hostfs` for the cgroup reader here.

[2021-01-11 16:00] #23310 closed

[2021-01-11 16:00] ph commented on #23310
Fixed in 7.11

[2021-01-11 16:03] ph commented on #23308
When you setting the global settings for the Kibana URL, we should add more details about what you should put in that box.

[2021-01-11 16:16] generalconsensus commented on #10867
+1, unable to use filebeat with aws ES due to this issue. Moving to use another system

[2021-01-11 16:24] #16935 closed

[2021-01-11 16:36] ph commented on #23309
Oh I see there the bug is, I think its on your side, and docs would help here.

I believe you have added the full key in the yaml box? See `output.elasticsearch.ssl.certificate_authorities`, if you only use `ssl.certificate_authorities` it will generate the following output.
[code]

[2021-01-11 16:55] andrewstucki commented on #21674
Closing this since we're done and moving on to 1.8 upgrade

[2021-01-11 16:55] #21674 closed

[2021-01-11 16:57] mostlyjason commented on #23308
Here is some text we can include on the global settings page for this field, which mirrors the filebeat description. Its a bit long, so we could hide it behind a help icon if needed.

[2021-01-11 17:00] mostlyjason commented on #23308
While we're at it, here are some docs we could include for the Elasticsearch URL:

[2021-01-11 17:46] mostlyjason commented on #23309
Perfect thanks @ph setting it to `ssl.certificate_authorities` fixes it! This is my misunderstanding. We are already tracking a task to add docs on these settings for Fleet, we just need to prioritize writing them.

[2021-01-11 17:46] #23309 closed

[2021-01-11 19:16] ph commented on #23402
So we agree here this is an issue with Endpoint and not the Elastic Agent for now, until we have new correctly signed binaries available to be tested?

[2021-01-11 19:23] ferullo commented on #23402
@ph I think so, however 7.11.0 BC2 artifacts have been updated with correctly signed Endpoint binaries so this can be re-tested. Endpoint should now install on Windows. Anyone that has trouble can follow Ben's guidance at the end of this comment https://github.com/elastic/beats/issues/23402#issuecomment-757966429 to clean up their VM and get it back in a good state.

[2021-01-11 19:25] bjmcnic commented on #23402
Yeah, here's the ticket with links to the newly signed endpoints: https://github.com/elastic/infra/issues/25794

[2021-01-11 19:30] ph commented on #23402
Thanks everyone for working together on this!

[2021-01-12 02:07] matschaffer commented on #23276
So we'd probably have to have something ingesting the filebeat log itself then (and be ingesting debug events).

Is there a plan to emit some sort of stack monitoring counter? Seems like that'd be easier to spot when it happens.

For context I'd still treat throttling as a critical event to take care of (figure out what's wrong with the service that's' causing the log spam, fix it in an upcoming r

[2021-01-12 02:35] newly12 opened #23430 "parse annotation hint for metrics_filters.<include|exclude> as list for prometheus module"
**Describe the enhancement:**

be able to parse annotation hint for metrics_filters.<include|exclude> as list if the hint has module as prometheus, currently it's being parsed as string and gets ignored/lost while being converted to config.

**Describe a specific use case for the enhancement or feature:**

in a use case where we have a lot of other metrics annotations and would like to have all ke

[2021-01-12 03:21] #23351 closed

[2021-01-12 05:31] ycombinator commented on #23276
Yes, this is exactly the plan: https://github.com/elastic/beats/pull/23330#discussion_r553521910. I have a PR open that I'm hoping to resume work on tomorrow. Don't pay attention to the PR title and description as it stands now; I will update those once I update the PR.

[2021-01-12 05:48] matschaffer commented on #23276
Awesome, thanks!

[2021-01-12 06:46] gavin-orange commented on #11273
[code]

[2021-01-12 07:51] elasticmachine commented on #23430
Pinging @elastic/integrations (Team:Integrations)

[2021-01-12 09:34] eValker opened #23436 "Filebeat disk queue messing up encoding"
Hello,

I believe I have found a misbehavior in the disk queue mechanism in the filebeat.

When I’m adding a UTF-8 encoded json with a polish characters, on the output I am getting messed up value. Example:

IN:

OUT:

This is happening only when the disk queue mechanism is enabled. When its off everything working as expected. Also the problem is only affecting fields that contain inner encoded js

[2021-01-12 11:15] #15374 closed

[2021-01-12 12:02] jbguerraz commented on #23220
@andresrc wondering why this is closed. At the moment journalbeat won't work with systemd 246+ because of outdated C linkage: CF https://github.com/grafana/loki/issues/2792#issuecomment-722387117

We built journalbeat with "proper" (at least, actual) `libsystemd-dev` and things works like a charm.

Would you mind re-opening this issue? would you accept a PR for updating things ?

[2021-01-12 12:05] jbguerraz commented on #22129
@kvch In addition to that, there is that issue (also related to systemd 246+): https://github.com/elastic/beats/issues/23220#issuecomment-758611323

[2021-01-12 12:09] vipulsrivastava-qasource commented on #23402
Hi  @EricDavisX

We have validate this issue and found that endpoint installation successfully, But agent in Unhealthy state for window machine.. Please find the below observation and build details.

[code]

OS | Test signing or SIP | Agent Installed with Policy Having Integration | Endpoint Installation | Agent status
-- | -- | -- | -- | --
Window 10 x64 | OFF | System and Endpoint Integration |

[2021-01-12 12:43] vipulsrivastava-qasource commented on #22744
Hi @EricDavisX

We have performed regression testing for Linux deb/rpm on 7.10.2 BC1 Kibana cloud build. Build details is as follows:

[code]

We have execute test cases under test plan execution :

- [Test Run for Linux .deb deploy of BC Agent/Endpoint with minimal sanity test](https://elastic.testrail.io/index.php?/runs/view/952&group_by=cases:section_id&group_order=asc)
- [Test Run for Linux .r

[2021-01-12 14:30] ph opened #23440 "[BUG] Endpoint fails to recognize Agent is running as root on mainqa-atlcolo.x #8292"
Endpoint is failing to connect to Agent on Big Sur machine mainqa-atlcolo-10-0-5-198.eng.endgames.local (behind Endgame VPN, "zeus" log in credentials).

It does appear Agent is running as root.
[code]

[2021-01-12 14:30] elasticmachine commented on #23440
Pinging @elastic/agent (Team:Agent)

[2021-01-12 14:51] EricDavisX opened #23441 "[Agent] macOS Agent goes unhealthy due to chown call made to Endpoint log file during start up"
I found that my mac Agent worked ok during a first install, with machine reboots, but after I enabled Endpoint in the policy and rebooted Endpoint was not able to connect to Agent (policy shows specifically that as a failure) and Agent goes to unhealthy state.

testing with 7.11 BC2 Agent and cloud prod deploy

here is the most recent / telling section of log file:
[macos-agent-log-file.txt](https

[2021-01-12 14:58] EricDavisX commented on #23440
here is the log from a big sur vm exhibiting this problem:
[mac-big-sur-elastic-agent.log](https://github.com/elastic/beats/files/5802876/mac-big-sur-elastic-agent.log)

[2021-01-12 15:06] #23385 closed

[2021-01-12 16:00] #23441 closed

[2021-01-12 16:15] elasticmachine commented on #23441
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-12 16:24] EricDavisX commented on #23440
I'm looking at the slack chat logs Michal posted and wondering if this is actually the same as the new bug I put in that Blake just fixed?

https://github.com/elastic/beats/issues/23441

slack:
Michal Pristas  2 hours ago
it looks like it still cannot chown

Charlie Pichette:spiral_calendar_pad:  2 hours ago
I rebooted the machine after granting the extension and full disk access rights.

Michal P

[2021-01-12 16:27] EricDavisX commented on #21598
There was some discussion on this today and we're still researching.

[2021-01-12 16:30] Skoetting opened #23447 "Add ability to specify custom Windows event Provider at elastic agents Integration"
With the elastic agent Windows Integration we can easily add the basic windows logs to our elastic cluster. In our use case we have some additional event provider we want to collect the system, application, powershell, etc.
With winlogbeat we can easily add these logs like winlogon or Group Policy. Would be nice to have this possibility also in the windows integration for the elastic agents.
For m

[2021-01-12 17:40] jfsiii commented on #23297
@ph can we transfer this to https://github.com/elastic/beats?

I did some searching there and found

https://github.com/elastic/beats/blob/ef6274d0d1e36308a333cbed69846a1bd63528ae/x-pack/elastic-agent/pkg/agent/install/svc.go#L18

Which would make that log line: `Started ${ServiceDescription}.` (which explains the double period). However, I don't see  where this is logged in this repo or https://g

[2021-01-12 18:01] kevinsmithwrs opened #23453 "System.cpu.cores value should be the actual number of cores, not number usable."
**Describe the enhancement:**
This request is related to request: https://github.com/elastic/beats/issues/22885 resolved with PR: https://github.com/elastic/beats/pull/23154

The issue is that the metricbeat system.cpu module is using the go runtime.NumCPU() function to get the number of cores.  According to the documentation for this function (https://golang.org/pkg/runtime/#NumCPU) ,  "NumCPU re

[2021-01-12 18:17] elasticmachine commented on #23436
Pinging @elastic/agent (Team:Agent)

[2021-01-12 18:18] jsoriano commented on #23436
@faec could you take a look please?

[2021-01-12 18:21] elasticmachine commented on #23447
Pinging @elastic/agent (Team:Agent)

[2021-01-12 18:22] jsoriano commented on #23447
Hey @Skoetting,

This should be already supported, there is a Windows integration that makes use of a `winlog` input. See https://github.com/elastic/beats/issues/20886

[2021-01-12 18:25] elasticmachine commented on #23453
Pinging @elastic/integrations (Team:Integrations)

[2021-01-12 18:38] Skoetting commented on #23447
Hi @jsoriano,
Yes i know the Windows integration but as described there is no possibility to define own sources. Maybe technically the logs available in the Configuration use the same input but i (as a user) cannot configure it.
Screenshot of all Settings of the windows integration (newest Kibana version)
![image](https://user-images.githubusercontent.com/36789353/104357536-9d7bbc80-550d-11eb-81bc

[2021-01-12 19:08] jsoriano opened #23466 "Improve error reporting of functionbeat deploy in AWS"
When deploying functionbeat to AWS using `functionbeat deploy`, it checks if the bucket exists. This check does an authenticated HEAD request to the bucket. If this request doesn't return any error, the check passes. If it returns any error, it only checks if the bucket doesn't exist, for any other error it returns: `"bucket '%s' already exist and you don't have permission to access it"`: https://

[2021-01-12 19:08] elasticmachine commented on #23466
Pinging @elastic/integrations (Team:Integrations)

[2021-01-12 19:15] jsoriano commented on #23447
Oh ok, sorry, I misunderstood, let me reopen. Thanks for reporting!

[2021-01-12 19:15] elasticmachine commented on #23447
Pinging @elastic/integrations (Team:Integrations)

[2021-01-12 19:40] EricDavisX commented on #23462
this is merged now and waiting for a new 7.10.2 BC to test it.

[2021-01-12 19:42] EricDavisX commented on #23441
this is merged and waiting for new 7.11 BC to pick up the changes for testing

[2021-01-12 19:48] EricDavisX commented on #23402
I'm not seeing this in my 7.11 Windows tests, but we discussed it and it does seem it could be intermittent / unexpectedly showing.  At this point we believe we have all of the Windows specific signing / build problems sorted, tho it is possible the tester had an interim version of the BC which was rebuilt twice yesterday.

It may also be the same as this which we think spans all OS types:
https:/

[2021-01-12 21:25] EricDavisX commented on #23462
we'll need to wait for a new BC before we can test

[2021-01-12 21:30] captnbp commented on #17771
Hi guys,

Do you have any ETA ? We'd like to use Kubernetes hints to discover the public URL in the Pod hosts annotation.

This check on ${data.host} / ${data.port} is a blocking issue for us...

Thanks !

[2021-01-13 00:56] seefor opened #23473 "Infoblox Module"
## Infoblox

* [ ] Documentation

The link exported-fields-infoblox link is pointing to RSA

[2021-01-13 06:43] vamshisiddarth commented on #23220
This is closed since it is not having a discussion initiated. But there was no response on the discussion and l tried opening the issue with my findings. Not sure how this will be addressed.

[2021-01-13 08:08] elasticmachine commented on #23473
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-01-13 08:32] #22042 closed

[2021-01-13 08:32] #22056 closed

[2021-01-13 10:03] michalpristas commented on #21000
we were talking with @ph about this feature and question arised, aside design where should implementation take place, would it be fleet server responsible for specifying these based on some metadata
or should it be implemented fleet side

[2021-01-13 10:06] ruflin commented on #21000
@michalpristas Not sure I follow, this should be an Elastic Agent. This feature should also work in standalone even though I don't see a use case there. When enrolled into fleet, the Elastic Agent must report its capabilities.

[2021-01-13 10:13] michalpristas commented on #21000
i think the question comes to what @ph said a comment above: at what point this should be defined?
should it be enroll time, part of config etc.
Eventually it will be stored as part of the configuration but what should be the source of these restrictions (system detection/user specified config locally/user configuration fleet side/generated based on metadata on fleet server-side).

[2021-01-13 10:21] ruflin commented on #21000
As this is a restriction that should be applied independent of how the agent is run, I don't think it should happen on enroll time. The config seems like a natural place but that becomes a challenge when enrolling as it is overwritten.

For designing the feature I would take fleet out of the equation to keep it an independent feature.

[2021-01-13 13:05] vipulsrivastava-qasource commented on #23402
Hi @EricDavisX

Thank for sharing the details.

We have re-validate this issue on widow 10  for both agent and agent with endpoint installation. Please find the below observation and build details.

Platform: Staging
Version: 7.11.0
Commit: a5126f7a280a6f4a27dc3aca65c1c89ccd1ac694
Build number: 37605
Artifact: https://staging.elastic.co/7.11.0-8f5ce7c2/summary-7.11.0.html

OS |Agent installation |

[2021-01-13 13:56] EricDavisX commented on #23402
Thank you, I am expecting it may be visible until we test with BC3.  We'll want to re-test in a day when it is available.  Thank you, @vipulsrivastava-qasource !

[2021-01-13 14:13] dikshachauhan-qasource commented on #23462
Hi @EricDavisX

We have validated this issue on 7.10.2 BC2 Kibana build and found this issue **still reproducible.**

Build details are as follows:
[code]
Observation: Agent 'Upgrade' feature fails from 7.10.1 RC Agent to 7.10.2 BC2 Kibana Cloud Build.

Screenshot:
![Agent_upgrade_failure](https://user-images.githubusercontent.com/72375798/104463024-45a98800-55d7-11eb-9f89-c90c1978930b.png)

Pleas

[2021-01-13 14:25] mostlyjason opened #23482 "[Elastic Agent] Improve handling of gprc port conflict"
**Describe the enhancement:**
I ran into a port conflict with my unifi controller and the agent's gprc port. See the discuss issue here https://discuss.elastic.co/t/failed-to-cleanup-run-elastic-agent-sock/259809.

This is an enhancement request to improve logging for port conflicts. After we create the grpc server, we should handle an error by printing a helpful error message to elastic-agent.log

[2021-01-13 14:25] elasticmachine commented on #23482
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-13 14:25] elasticmachine commented on #23482
Pinging @elastic/agent (Team:Agent)

[2021-01-13 14:52] kseniia-kolpakova commented on #18334
Just a reminder from infra.
We need to make sure that we are not using buildx to build the ARM images, but that rather we’re on a native linux/arm64 instance (see comment : https://github.com/elastic/beats/issues/18334#issuecomment-638910015)

[2021-01-13 15:25] EricDavisX commented on #23462
I apologize, my recollection of the nuances around testing this feature is rusty.  Indeed we can only test this with a snapshot-kibana install if we want to use the UI feature _during testing_.  I have tested and the feature looks good to me in 7.10.2 latest Agent BC (with the fix) as tested against a 7.11 Kibana snapshot install (NOT the latest BC).  Let me explain and show evidence.  Just confir

[2021-01-13 15:25] #23462 closed

[2021-01-13 15:38] EricDavisX opened #23488 "During upgrade of Debian9 Agent we see repeated Error in the log [elastic_agent][error] failed to read service: Unit name elastic-agent is not valid."
Testing on Debian9 7.10.2 BC Agent installed to 7.11 SNAPSHOT Cloud Kibana / stack.
when using the UI to upgrade Agent it works, but is showing an error in the log for the 10 minute 'watching' duration for some reason.

Some notes are below:

error log line:
[elastic_agent][error] failed to read service: Unit name elastic-agent is not valid.

[debian-log.txt](https://github.com/elastic/beats/files

[2021-01-13 15:38] elasticmachine commented on #23488
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-13 15:39] marc-gr opened #23489 "[Metricbeat][windows/perfmon] Mixing counters together when group_measurements_by_instance is true"
It seems that if the option `group_measurments_by_instance` is `true` the object is ignored when grouping, so it will group together all counters with ie. `instance: _Total` together regardless they belong to ie: `Processor Information` or `Memory`.

- Version: master
- Operating System: Windows (tested 10 and server 2019)
- Steps to Reproduce:

If you want to test it you can do it with the follow

[2021-01-13 15:39] elasticmachine commented on #23489
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-01-13 15:44] ph commented on #21000
Agree on decoupling the Fleet in https://github.com/elastic/kibana/issues/76841 and Agent implementation.
When the Agent implementation would be more advance would be good to sync with @jfsiii to figure a plan to expose it in fleet.

@michalpristas Do you have a proposal how a user would configure the restriction in the YAML?

[2021-01-13 15:52] ph commented on #23488
This is interesting, @EricDavisX I don't think we have changed the unit name on debian in the current iteration, could that issues exist before but undetected?

[2021-01-13 15:52] ph commented on #23488
@blakerouse Anything we have don't recently that could have impact that?

[2021-01-13 15:53] elasticmachine commented on #23488
Pinging @elastic/agent (Team:Agent)

[2021-01-13 15:54] michalpristas commented on #23488
verified on systemd 232 and 229

[2021-01-13 15:57] #23358 closed

[2021-01-13 16:07] EricDavisX commented on #23488
it indeed seems like it could have been there and was only unnoticed.  i don't think it is urgent for 7.11 - it seems not to impact functionality and stops after 10 minutes of log build up.  So, I'd say 7.12 or beyond

[2021-01-13 16:10] blakerouse commented on #23488
@ph nothing changed recently that makes this show up more

But I think on upgrade `elastic-agent` spawns a subprocess to watch the `elastic-agent` service, that runs for about 10 mins. So I would assume its related to that with upgrade. @michalpristas

[2021-01-13 16:18] michalpristas commented on #23488
yes this is when watcher tries to read PID by quering systemd by service name. what we see is error coming from systemd

[2021-01-13 17:57] kevinsmithwrs commented on #23453
I just tried hotplugging vcpus with an Oracle VM VirtualBox VM running Ubuntu.  /proc/stat gets updated on the fly in the running VM as I plug/unplug a cpu (cpux lines in the file are added/removed), so it seems there really is a need to poll for the number of cores every sample.

For the linux case, in:
https://github.com/elastic/gosigar/blob/master/sigar_linux_common.go
A function similar to:  (

[2021-01-13 18:43] blakerouse commented on #23297
@jfsiii That log line is printed by systemd itself. So that description is defined in the service file in systemd.

[2021-01-13 18:46] blakerouse commented on #23440
@EricDavisX I believe you to be correct. With that failing the communication port that Agent opens so Endpoint can connect is not started.

I believe that the fix for #23441 will solve this issue as well.

[2021-01-13 18:55] EricDavisX commented on #21870
FYI - I am seeing that if you uninstall from the Agent on the host first, and then uninstall the Endpoint, you don't get any feedback that it didn't work immediately.  And the current state can block the user from doing subsequent re-installs of Agent (like if they want to start over for some reason).  Dan mentions you can do this to uninstall Endpoint once in this state:

[code]

I think the situ

[2021-01-13 19:19] EricDavisX opened #23492 "cannot successfully uninstall 7.11+ Agent from command line directly after doing an 'Agent upgrade' when Endpoint is deployed"
I’m in a bad state on my Windows vm.  I installed 7.11 (on an 8.0 Kibana) - then attempted to upgrade the Agent to 8.0.  There is a bug I’m following up on that I ran into during this, but I think it is already be accounted / logged.  Putting that aside, in attempting to confirm that, I want to install 7.11 again.

But in trying I ran into https://github.com/elastic/beats/issues/21870
 - which see

[2021-01-13 19:19] elasticmachine commented on #23492
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-13 19:37] blakerouse commented on #23492
@EricDavisX can you provide a screenshot of the permissions of the `data` directory?

[2021-01-13 19:39] EricDavisX commented on #23441
this issue happens on Agent start up, so you will see the failure as noted during 'Agent upgrade' tests as the Agent restarts itself, and if it is protected by Endpoint it will have this problem too (on Windows and macOS)

[2021-01-13 19:47] #21020 closed

[2021-01-13 22:13] #22820 closed

[2021-01-13 22:17] exZStas commented on #14019
Hello,

i've got exactly the same issue on metricbeat 7.9.2.
The only thing is that i use logstash instead of sending it directly to elasticsearch.
Here is my config

[code]

Please take into account index `test-kafka-*` was created and via kibana i can find data via 'Discover' by adding kafka.* fields which belongs to kafka module.
I found out that default dashboard still uses `metrocbeat-*` inde

[2021-01-13 22:28] EricDavisX commented on #23492
Thanks Blake - It looks like it was the Agent watcher process that was remaining / alive (as intended) after I upgraded when I tried to un-install it - it seems the Endpoint is protecting that Agent process as well and it was unable to perform it.  When I re-test this, if I wait for the watcher process to conclude and exit I don't see this - so I'm marking it as a fairly low priority as there is n

[2021-01-13 22:29] EricDavisX commented on #23492
this is what it looks like when it is happening, the data directory and the 'watcher' are still existing:
<img width="539" alt="Screen Shot 2021-01-13 at 5 20 33 PM" src="https://user-images.githubusercontent.com/12970373/104517910-df1b6e80-55c4-11eb-99f1-5d621cd2d834.png">

[2021-01-13 22:32] EricDavisX commented on #21870
I am finishing up testing on this and can cite I was tripped up by the Agent 'upgrade' watcher process hanging around and being protected by Endpoint (new in 7.11+) and it all combined to leave me in a bad state.  but it actually is likely not a common scenario - and after avoiding that (by waiting 10 minutes for upgrade 'watcher' to close out) then this work-around worked just fine.  And Agent co

[2021-01-13 23:02] EricDavisX commented on #23395
It is understandable to log this, but after review - it is not a bug.  The errors in the logs are unrelated to the change to the log level.

 - the 'marker' item can be logged separately if we want to remove them from the log, it relates to the Agent upgrade feature.

[2021-01-13 23:02] #23395 closed

[2021-01-14 07:37] fperalt3 commented on #19475
Hi. We are getting the same issue with metricbeat-oss:7,9,1 docker version with the field: .pods.volume.inodesFree

error in mapping: Cannot unmarshal json response: json: cannot unmarshal number 18446744073709551615 into Go struct field .pods.volume.inodesFree of type int64

[2021-01-14 08:09] ChrsMark commented on #19475
@fperalt3 this one will be fixed at `7.11` which is coming really soon. In the meantime you can check with 7.11 snapshot `docker.elastic.co/beats/metricbeat:7.11.0-SNAPSHOT` which includes the fix.

[2021-01-14 08:14] fperalt3 commented on #19475
Thank you @ChrsMark for your response. But we should need to use the OSS version because  we are  integrating Beats with Elastic-OSS due to we cannot use Xpack (aws Elastic Service). Is there any metricbeat-oss version with this patch?

[2021-01-14 08:32] ChrsMark commented on #19475
@fperalt3 you can use the equivalent for `oss` which is `docker.elastic.co/beats/metricbeat-oss:7.11.0-SNAPSHOT` ;)

[2021-01-14 08:40] fperalt3 commented on #19475
:) I didn't know that it was also available .
Thank you!

[2021-01-14 09:47] #23410 closed

[2021-01-14 10:43] #19800 closed

[2021-01-14 12:45] dikshachauhan-qasource commented on #23395
Hi @EricDavisX

Thanks for the feedback.

However, as per our understanding its only updating agent settings to capture logs and not upgrading agent.
With above feedback, we have come up withy few queries:

1. If we change agent logging level, does it triggers Agent to upgrade at Backend and that's why these logs are generating.

2. In above reported defect we have seen logs stating :"The system c

[2021-01-14 13:02] EricDavisX commented on #22993
we will leave this for the automation to cover.  we can close it out

[2021-01-14 13:02] #22993 closed

[2021-01-14 14:13] mbarretta commented on #20352
@jamiehynds is there still an effort to build a NetWitness integration for Beats/Agent?

[2021-01-14 14:47] TeTeHacko commented on #14348
There is no other solution than owerwriting pipelines after every update? Can anyone from elastic team please look at it and explain to us how to use custom pipelines and not the default ones? I think this is a big issue if you are using custom log format.

[2021-01-14 15:24] EricDavisX opened #23511 "[Agent] Logs collection is only pulling the first json log file into stack due to the pattern used and file names"
[Agent] Logs collection is only pulling the first json log file into stack due to the pattern used and file names

For confirmed bugs, please report:
- Version: 7.11+
- Operating System: all? - confirmed on linux as a start
- Steps to Reproduce:
Install the Elastic Agent and 'debug' log level to start more logs coming in.  After it rolls over the json file on disk, no more logs will show in the UI

[2021-01-14 15:24] elasticmachine commented on #23511
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-14 15:30] jamiehynds commented on #20352
@mbarretta this issue refers to leveraging open source NetWitness parsers in Beats. Are you thinking of an integration to ingest data from NetWitness to Elastic?

[2021-01-14 15:32] gyterpena commented on #22587
it fails because of space in "reason=\"memory violation\""

[2021-01-14 16:03] #21685 closed

[2021-01-14 16:10] elasticmachine commented on #23511
Pinging @elastic/agent (Team:Agent)

[2021-01-14 16:11] #21990 closed

[2021-01-14 16:21] mbarretta commented on #20352
Yes, sorry. I didn't see another netwitness issue...perhaps I should create
one? Is this the right repo?

On Thu, Jan 14, 2021 at 10:30 AM jamiehynds <notifications@github.com>
wrote:

--
Mike Barretta // Manager of Solution Architecture, IC
mike.barretta@elastic.co
+1 703.665.0151
VA, USA

[2021-01-14 16:38] EricDavisX commented on #23395
1) The log level does not impact the Agent 'backend' or version at all.

2) The update-marker log is just coincidental timing that it shows up around the time that you are testing log level changes.  It will show up when Agent is first installed, and possibly for a brief time after that (up to 10 minutes maybe), glad to see the question.

[2021-01-14 18:01] mostlyjason commented on #21000
If we put in the config that means its set when the agent is started (or restarted)? It could change more often than enrollment since its a runtime setting?

Also, we could put it in a section of agent config that is not overwritten by fleet. For example, it could be in `elastic-agent.yml`.

Also, I imagine we'd want way to report whether inputs are disabled due to a blocklist, perhaps in our stat

[2021-01-14 18:28] #23511 closed

[2021-01-14 19:04] ph commented on #21000
@mostlyjason what you are proposing I think this is exactly what Ruflin and I had in mind but not explained as good as you.

For reporting it could either be status information... or even metadata on the agent?

[2021-01-14 19:06] ph commented on #21000
Including @jfsiii for awareness.

[2021-01-14 19:15] #13963 closed

[2021-01-14 20:17] EricDavisX opened #23518 "[Agent] [Filebeat] when Agent changes policy Filebeat config can trip up and Agent gets stuck on 'unhealthy'"
[Agent] [Filebeat] when Agent changes policy Filebeat config can trip up and Agent gets stuck on 'unhealthy'

debugging with Blake we decided this is the relevant log from elastic agent:
`{"log.level":"info","@timestamp":"2021-01-14T14:59:11.293-0500","log.origin":{"file.name":"log/reporter.go","file.line":40},"message":"2021-01-14T14:59:11-05:00: type: 'STATE': sub_type: 'RUNNING' message: Applic

[2021-01-14 20:22] EricDavisX commented on #23518
Blakes theory / fix:
that is the issue, Elastic Agent tells filebeat to reload with a new config and it fails to reload

filebeat reports it as degraded when it should report it as a failure

I need to look into it, but I believe if it reported it as failure Agent would try it again, and they restart it if it needs to

[2021-01-14 20:48] blakerouse commented on #23518
We originally set beats to report this type of error as a `failure`, but this caused issues because we did not have conditions on inputs. So we switched it to `degraded` status reporting so if an input fails to load because it was not supported on that platform it would not cause a failure.

Now with proper status reporting and conditions this is the wrong choice. We need to do the following:

1.

[2021-01-14 20:49] fearful-symmetry commented on #23267
So, it looks like I actually approved a PR here a few weeks ago to fix this: https://github.com/elastic/beats/pull/22879

@adriansr  can you confirm that this addresses the issue?

[2021-01-15 01:14] EricDavisX commented on #21598
there were other issues that came out of our research, and we never did track down how this would be happening.  https://github.com/elastic/beats/issues/23518 this issue is fixed, as relates - we may have fixed this back during the early 7.1o cycle after 7.9 and not closed the issue.

[2021-01-15 01:41] EricDavisX commented on #23518
testing notes; in most cases, the Agent process may be in a fine state and you can continue testing.  If it is sending data, carry on.  If not, you can attempt to change policy and change it back and see if it applies better the 2nd time.

confirmed tho, anytime we see ‘DEGRADED’ in the logs, that can now be assumed as the culprit for ‘unhealthy’ until we get the fix in.

[2021-01-15 09:48] #23488 closed

[2021-01-15 09:52] marc-gr opened #23523 "Allow metricbeat to dynamically identify the number of cores instead of using runtime.NumCPU()"
**Describe the enhancement:**

Currently metricbeat uses `runtime.NumCPU()` to grab the number of cores: https://github.com/elastic/beats/blob/master/metricbeat/module/system/cpu/data.go#L100

This has some limitations, since there are a bunch of situations where the reported number does not match the actual number of cores:

- You modified the number of cores without restarting (either because yo

[2021-01-15 09:52] elasticmachine commented on #23523
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-01-15 11:29] manishgupta-qasource opened #25321 "[Elastic Agent][question] How to trigger Unhealthy status for testing?"
As per below comment
https://github.com/elastic/kibana/issues/84962#issuecomment-742524042

We need to make Agent into Unhealthy state to test the filters. Can a team member advise on the easiest way to trigger an Unhealthy state on an agent?

[2021-01-15 12:12] dikshachauhan-qasource commented on #23395
Hi @EricDavisX

Thanks for the feedback on queries and providing clear concepts to functionality.

Thanks
QAS

[2021-01-15 13:06] ph commented on #23518
@blakerouse Concerning 1, 2 This seems something we can do on our side? For the last item 3 this a more core problem with Filebeat @urso Do you have an idea at how we could fix that?

[2021-01-15 13:42] elasticmachine commented on #23523
Pinging @elastic/integrations (Team:Integrations)

[2021-01-15 14:00] blakerouse commented on #23518
I have confirmed that #2 from my list is already handled in Agent. It will force a restart of filebeat, because the configuration failed to load.

@ph correct #3 is a core libbeat/filebeat issue, would be great if @urso could take a look. I have tracked the error to here, where it seems to bubble up to:

https://github.com/elastic/beats/blob/master/libbeat/cfgfile/list.go#L95

and the source of th

[2021-01-15 23:24] kaiyan-sheng commented on #23153
@mbarretta Thanks for all the input on this! I just created a PR to deprecate `aws_partition` and fully rely on `endpoint` instead. It's still working in progress but please feel free to take a look and let me know what you think!

[2021-01-15 23:33] MattBlue92 opened #23540 "Error 127 with make create-metricset"
Hi there,
I'm trying to create a new metric beat and to do this I followed the official guide for dev https://www.elastic.co/guide/en/beats/devguide/7.x/creating-metricsets.html
I cloneed the beat repository with git and moved out in the directory metricbeat and typed in the terminal make create-metricset as suggested in the guide but I obtain an error and I don't know why:
make create-metricset
m

[2021-01-16 10:16] #7191 closed

[2021-01-16 10:16] #10538 closed

[2021-01-16 11:15] #9346 closed

[2021-01-16 11:15] #11568 closed

[2021-01-16 12:15] #10435 closed

[2021-01-16 12:16] #5074 closed

[2021-01-17 13:42] elasticmachine commented on #7802
Pinging @elastic/integrations (Team:Integrations)

[2021-01-17 13:42] elasticmachine commented on #16366
Pinging @elastic/integrations (Team:Integrations)

[2021-01-18 08:12] dikshachauhan-qasource opened #23542 "[Ingest Manager]: 'System.core' datastream not available for Mac and windows agent for system integration 10.7."
**Kibana version:**
8.0 Snapshot Kibana Cloud environment

**Elasticsearch version:**
8.0 Snapshot Kibana Cloud environment

**Host OS and Browser version:**
Windows server 2012 and Mag big sur 11, All

**Original install method (e.g. download page, yum, from source, etc.):**
8.0 Snapshot Kibana Cloud environment

[Ingest Manager]: 'System.core' datastream not available for Mac and windows agent f

[2021-01-18 08:20] dikshachauhan-qasource commented on #23542
@manishgupta-qasource Please Review

[2021-01-18 08:28] dikshachauhan-qasource commented on #23542
Closing out working fine now.

[2021-01-18 08:28] #23542 closed

[2021-01-18 09:24] Aixic-Love opened #23543 "Macos BigSur 11.1 Packetbeat Cross-compile to windows"
Mainly a problem with libpcap.

go.mod
`github.com/tsg/gopacket v0.0.0-20200626092518-2ab8e397a786`

![image](https://user-images.githubusercontent.com/50495439/104895649-1917b680-59b1-11eb-9809-cea158c7e681.png)
First of all, when this problem occurred, I modified the pcap.go file.
![image](https://user-images.githubusercontent.com/50495439/104895735-32b8fe00-59b1-11eb-98fe-9ff86c45fd9b.png)
WpdP

[2021-01-18 09:33] v1v opened #23544 "[build] Add resilience when donwloading dependencies with Make test"
### What

https://github.com/elastic/beats/pull/21614 was a fix to retry to download dependencies, but it seems in some cases we still face the issue.

[code]

What command did it run?

[code]

![image](https://user-images.githubusercontent.com/2871786/104897317-2496bd80-5970-11eb-86c5-f597b1e63eca.png)

![image](https://user-images.githubusercontent.com/2871786/104896195-b9002080-596e-11eb-920a-9

[2021-01-18 10:05] Aixic-Love commented on #23543
I tried to modify pcap.go to look like this
![image](https://user-images.githubusercontent.com/50495439/104900914-a3fbaf80-59b7-11eb-857e-edb270c83933.png)
It can be compiled normally, but it will report an error when it runs.
![image](https://user-images.githubusercontent.com/50495439/104900902-9e9e6500-59b7-11eb-831a-e016447672b3.png)

[2021-01-18 10:33] jalvz opened #23545 "[Agent] [APM] Bundle apm-server with elastic agent"

[2021-01-18 10:33] elasticmachine commented on #23545
Pinging @elastic/agent (Team:Agent)

[2021-01-18 11:57] elasticmachine commented on #23545
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-18 14:34] jpuris commented on #14348
Found this as I have similar issue.. we are trying to use a custom pipeline for `service.type : "postgresql"`, not the one that comes with filebeat module.

[2021-01-18 14:45] mostlyjason commented on #23307
@ph can you review this when you get a chance? I ran into this issue again today when I was troubleshooting why one of my hosts stopped sending data to ES. I imagine this will be a common scenario for people.

Without execute permission I can't even run wildcard commands to search the logs. These logs are not sent to ES either, so there is no way to search across multiple files.
[code]

[2021-01-18 15:36] mostlyjason opened #23547 "[Elastic Agent] Not sending correct hostname to Beats when certificate is missing"
I'm running Elastic Agent in standalone mode and it doesn't seem to be sending the correct hostname to metricbeat. I set my hostname in `elastic-agent.yml` in my home directory before installing it. I then verified this hostname is set in
[code]

However, when I check the metricbeat logs it says:

[code]

It should not be trying to ping localhost because the hostname I set in the yml file is `moni

[2021-01-18 15:36] elasticmachine commented on #23547
Pinging @elastic/agent (Team:Agent)

[2021-01-18 15:36] elasticmachine commented on #23547
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-18 16:39] TheRiffRafi commented on #20342
Issue still persists on version 7.10.1 of filebeat.
The pipeline needs to be specified on the "Input" section of the filebeat.yml file in order for the syslog input type to be able to use an ingest pipeline.

[2021-01-18 17:26] Bernhard-Fluehmann commented on #20342
@TheRiffRafi Thanks for bringing this up.
BTW, have you tried to use
`output:
  parameters.pipeline: ...
`
instead?
This seems to be the actual behavior as mentioned in #20637. Still, for most of the cases, configuring it in the input section makes the most sense.

[2021-01-18 18:01] itayrozenberg opened #23552 "Packetbeat memory leak with http prasing"
server: Physical
cpu: 12 cpus
ram: 64GB

os: centos 7 x86_64
packetbeat: 7.3.2 (rpm package)

hi
i'm sniffing http traffic, and for some strange reason ther is a big memory leak,
it looks like most of the memory is going to http body parsing.
memory keeps filling until its full and packetbeat stops sending traffic to logstash

could anyone help me on this problem?
thanks in advance.

relevant conf

[2021-01-18 18:13] ph commented on #23307
There is two problems in this issues.

## Expected path

I think we have to explain the why we are doing that, when you install `elastic-agent` via DEB or RPM they will actually install them in the `/var/log`. When you use the `install` subcommand we actually installing everything in `/opt`. Note this is also where Endpoint install his files in both cases. We wanted to be consistent as much as we

[2021-01-18 18:39] ph commented on #23547
This is a strange behavior you are describing. I've tested the above with the following output and only the default system metric:

[code]

Looking at the logs Metricbeat and two monitor beats they actually try to connect to "hola.lan"

[code]

Content of the metricbeat log:
[code]

# Questions:

Where is located the `elastic-agent.yml` that you have edited on disk?

[2021-01-18 19:00] ph opened #23554 "Document Self protection for Elastic agent/Endpoint"
Cross product documentation

Starting in 7.11, Endpoint added suppor for self protection, when the endpoint integration is assigned to agent policy endpoint will protect itself and protect elastic agent.

[2021-01-18 19:00] elasticmachine commented on #23554
Pinging @elastic/obs-docs (Team:Docs)

[2021-01-18 19:16] urso commented on #23518
From the logs it looks like the typical "logs" input problem. The logs input, its coordination and registry updates are all "linked" to the output making progress. If the output is not fast enough or blocking, then stopping, restarting, reconfiguring or similar operations can block because the state didn't make it to the registry yet.

@kvch Did refactor the logs input based on the v2 API. But the

[2021-01-18 19:22] ph commented on #23518
Thanks @urso,

Updating the mapping in the agent might help.

Yes this is collected by the system module. The problem describe exist for a really long time. The problem is the code we have to collector error was subpart and now well it's show theses problem.

When you said updating the _mapping_ are you suggesting just aliasing the log input to the filestream?

[2021-01-18 19:37] kaiyan-sheng commented on #22946
This issue will be fixed with https://github.com/elastic/beats/pull/23539. I tested with the PR and here is the new error message:
[code]

[2021-01-18 19:39] urso commented on #23518
This might be a breaking change, but yes.

But you won't be able to get rid of the log input completely. The `event/docker` translates to the `docker` input , which configures the `log` input + a few hacks. Btw. the `docker` input was superseded by the `container` input for quite some time I think. But it does the same tricks the `docker` input does, so you will still be stuck with the `log` input

[2021-01-18 22:10] cdalexndr opened #23556 "Metrcibeat docker wsl2 zero diskio values"
ES document:
[code]

Docker compose service:
[code]

metricbeat.yml:
[code]

For confirmed bugs, please report:
- Version: 7.9.3
- Operating System: Docker Windows 3.0.4 (51218)
- Discuss Forum URL:
- Steps to Reproduce:

[2021-01-18 22:22] ansell opened #23557 "Allow multiple module uses for auditbeat file_integrity configuration"
**Describe the enhancement:**

I have had issues in the past with the flexibility of the `auditbeat` `file_integrity` module configuration. On one hand I want to monitor most changes under `/etc` and similar directories, but on another hand I also want to monitor a few very specific changes under `/home`.

Is there anyway of specifying a primary key for each `auditbeat` module configuration so tha

[2021-01-19 01:37] kofi-grid commented on #9600
I'm also getting this in 7.10.1 filebeat while trying to pull in zeek via the zeek module. Is there something at the root of this that I can address?

[2021-01-19 09:07] #19835 closed

[2021-01-19 10:53] michalpristas commented on #21000
here's what i've been thinking about
Rule structure
[code]

i was considering a bunch of different options but this one seems most straightforward and leaves space for enhancements.
`rule` just specifies whether we're allowing or denying
`input` specifies input we're targeting this one's mandatory and allows `*` wildcard not full regex
`when` clause is then a full eql formula allowing access to st

[2021-01-19 10:55] ChrsMark commented on #23016
@sorantis do you think this is sth we can add? I already opened a PR for this (#23564) but wanted your feedback to verify if this field is actually of sense or it could be calculated on the fly at kibana visualisations/alerts for instance.

[2021-01-19 12:06] narph commented on #21235
@andresrc , all the flaky tests for windows 7 32 bit and windows 2008 have been reviewed fixed or skipped, PR's merged, let me know if we should keep this issue still open

[2021-01-19 13:09] cdalexndr opened #23565 "[metricbeat] Document docker.container.status format"
**Describe the enhancement:**
Current `docker.container.status` [documentation ](https://www.elastic.co/guide/en/beats/metricbeat/current/exported-fields-docker.html#_container_3)doesn't specify field's format.
What are the values that field may have?

**Describe a specific use case for the enhancement or feature:**
Dashboard querying elasticsearch to check if container is up or down. (if field ==

[2021-01-19 13:09] ruflin commented on #23518
The unifished stated indicates that the previous harvester is still reading the file. As @urso described, this is caused by ES / output blocking. Do we know in the first place why this happens? Is ES available to receive the data? If yes, I would expect the issue to resolve it self after it is completed.

In case of a new policy with the same input config inside, I would also expect that the reloa

[2021-01-19 14:05] EricDavisX commented on #23441
this should be available in 7.11 BC3, compiled last week - tho we are still seeing some problems with our Agents not showing as healthy, consistently in our BC3 test. We have other issues open to track it tho, but I wanted to comment here.

[2021-01-19 14:23] elasticmachine commented on #23557
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-01-19 14:28] elasticmachine commented on #23556
Pinging @elastic/integrations (Team:Integrations)

[2021-01-19 14:44] ph commented on #21000
@urso @blakerouse You might be interested in this?

---

This is an interesting syntax, and it's built on top of what we have.

 I don't want to increase the scope but I certainly  see this useful in other places:

- Program spec: if It can only be run on Windows.
- Input: this input require root privileges. (run on port < 1024)

Do you see us standardizing on the same syntax or at least same code

[2021-01-19 15:22] EricDavisX commented on #23518
pr to fix this is on Agent side is https://github.com/elastic/beats/pull/23537 - requires latest .10.x package of System Integration to avoid failures due to mis-matched design from package side.

[2021-01-19 15:30] blakerouse commented on #21000
I like this I think its very flexible. From this it seems like the end of the ruleset always has the following appended:

[code]

At first I was confused on the need for `filter`. But now I understand that is a way to still allow an input but isolated it to specific parameters in the input definition. This is very powerful, but is it needed is the question. Do we have a use case for this?

[2021-01-19 15:34] michalpristas commented on #21000
Filter is something which came to mind while i was thinking about options and structure and which might be powerful tool in our toolbox but I did not planed to include that into this release it's just something i wanted to raise as a stretch goal with very low priority

[2021-01-19 15:53] ph commented on #21000
Maybe we should consider is adding an optional or even mandatory `name` to a rule, I would probably want to have it display in the log while trying to debug it.

[2021-01-19 16:14] #20761 closed

[2021-01-19 16:46] blakerouse commented on #21598
After looking into this more, it seems to happen more with my VM than on my physical machine. I think this all comes down to timing. The grace period was set to only 2 seconds, which in a compute is a long time, but in a VM with coordination occurring across multiple VM's, time splicing, go routines, and threads from Endpoint it seems like that 2 seconds is just not long enough.

I increased the t

[2021-01-19 16:53] #21598 closed

[2021-01-19 18:59] cdalexndr commented on #12884
I guess you could use APM agent to monitor elasticsearch java machine

[2021-01-19 20:41] gomclifton opened #23575 "[Filebeat] AWS CloudWatch Input add multiline support"
Mirroring request for S3 multiline input, https://github.com/elastic/beats/issues/23350

Describe the enhancement:
At the moment Filebeat AWS CloudWatch Input doesn't offer multiline support

Describe a specific use case for the enhancement or feature:
In AWS Cloudwatch streaming to SQS there might are occasions for log files that hold multiline log lines like for instance AWS Hadoop or other Java

[2021-01-19 23:50] andrewvc opened #23577 "[Heartbeat] Fix broken file permissions in 7.11 docker image"
#23274 tried to merge synthetics into the main beats image, but somehow broke them, setting the node and npm dirs with incorrect user permissions. Luckily, this isn't like at all yet.

[2021-01-19 23:50] elasticmachine commented on #23577
Pinging @elastic/uptime (Team:Uptime)

[2021-01-20 02:25] bvader opened #23578 "[Heartbeat] Allow multiple directories for monitor defintions"
**Describe the enhancement:**
Allow more than 1 directory to define monitors. For customers for many potentially 100s of monitors a single directory is limiting and hard to manage.

**Describe a specific use case for the enhancement or feature:**

[code]
Allow that path to be an array or

`${path.config}/monitors.d/*/*.yml`

[2021-01-20 02:25] elasticmachine commented on #23578
Pinging @elastic/uptime (Team:Uptime)

[2021-01-20 06:13] elasticmachine commented on #23575
Pinging @elastic/integrations (Team:Integrations)

[2021-01-20 07:24] elasticmachine commented on #23552
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-01-20 07:28] elasticmachine commented on #23543
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-01-20 07:32] #23540 closed

[2021-01-20 09:26] ruflin commented on #21000
One thing I would like to see is to be able to use this system also for outputs or for example upgrades, see https://github.com/elastic/beats/issues/21096 Taking the proposal, we might be able to extend it like the following:

[code]

The above would potentially allow that each rule type could have its own independent implementation and additional params passed in like in the case of upgrade. Not

[2021-01-20 09:42] kvch opened #23581 "Add more Golang tests to check CA pinning"
Right now in CA pinning tests, we do not use real certificates when testing. The test only creates a cert object in memory which is checked against the pinned hashes.

Based on the discussion in https://github.com/elastic/beats/pull/22495#discussion_r560096259

[2021-01-20 09:42] elasticmachine commented on #23581
Pinging @elastic/agent (Team:Agent)

[2021-01-20 09:43] michalpristas commented on #21000
i was going for when as we have that in spec and it also reads nicely
e.g `rule: allow system/* when paths contains *.error` reminds a bit more a natural language
this is also the reason why rule and when condition is there as it is more clear what we want to deny/allow denying if when condition is false seems cumbersome and maybe more error prone.

regarding input/output/upgrade i like what @ph s

[2021-01-20 09:49] cy-zheng opened #23582 "Dissect processor doesn't support greedy match in an expected way"
- Version: 7.10.2
- Operating System: Ubuntu 16.04
- Discuss Forum URL: https://discuss.elastic.co/t/does-dissect-processor-in-beats-support-greedy-lazy-match/261616
- Steps to Reproduce:

I'm using dissect processor to parse a value like
`/var/log/containers/calico-node-ltx4t_kube-system_calico-node-21e03abb29adcec39f69e3f76c16eb2b3ed4dd1a51675279de5cedc59bdce56b.log`

using tokenizer:`/var/log/c

[2021-01-20 10:34] jsoriano opened #23583 "Elasticsearch server fileset processes logs of other metricsets"
Default paths configuration in the Elasticsearch `server` metricset is too broad, so it harvests files that should be harvested by other metricsets, resulting in incorrectly parsed logs.

Default paths in the `server` metricset include patterns like `/var/log/elasticsearch/*.log`.
Logs that should be managed by other filesets match this pattern, e.g. the GC one: `/var/log/elasticsearch/gc.log`, or

[2021-01-20 10:34] elasticmachine commented on #23583
Pinging @elastic/stack-monitoring (Stack monitoring)

[2021-01-20 10:34] elasticmachine commented on #23583
Pinging @elastic/integrations (Team:Integrations)

[2021-01-20 10:41] sorantis commented on #23016
@ChrsMark LGTM

[2021-01-20 11:24] dikshachauhan-qasource commented on #23462
Hi @EricDavisX

We have upgraded testcases as per above feedback.
Testcase link is as follows:
- [C34211](https://elastic.testrail.io/index.php?/cases/view/34211)

Please let us know if anything else is required.

Thanks
QAS

[2021-01-20 11:49] #23016 closed

[2021-01-20 12:10] ruflin commented on #21000
I missed the part that we might want to add multiple conditions from different types together like your input / output example above. But I wonder if this applies in practice or is just theoretical?

On `condition` vs `when`: The `when` is in our internal spec file I assume and condition in the public config. I would prefer to not expose multiple terms to our users with the same syntax. I assume i

[2021-01-20 12:24] ChrsMark opened #23585 "Verify ECS alignment in container fields reported by kubernetes module and meta processor"
We need to make sure that we have consistent way of aligning common ECS fields across integrations reporting same resource information. An example can be `container.image.name` and `kubernetes.container.image` (added at https://github.com/elastic/beats/pull/20984) which is actually the same field but it not aliased like what is [happening with Docker](https://www.elastic.co/guide/en/beats/metricbe

[2021-01-20 12:24] elasticmachine commented on #23585
Pinging @elastic/integrations (Team:Integrations)

[2021-01-20 12:38] michalpristas commented on #21000
oh yeah,

i planned to have it `elastic-agent.yml`  for standalone
in case of enroll it depends we can keep it here OR if we plan this to be configurable from fleet which i guess so it would move to fleet.yml after enroll

[2021-01-20 12:40] mostlyjason commented on #23547
This file is located in two places and they both have the elasticsearch output set to monitor.lan

[code]

[2021-01-20 12:45] michalpristas commented on #21000
i think we just need to be careful to evaluate rules before eql gets evaluated as it uses `condition` as a reserved key and removes all keys where condition is evaluated as false

[2021-01-20 12:46] ruflin commented on #21000
This should NOT be configurable through Fleet. This is important as the person setting up the Elastic Agent puts in these restrictions and Fleet should not be able to overwrite these.

[2021-01-20 13:05] ph commented on #21000
For an implementation stand point, **not combining** is probably easier to implement, validates and reason about.

[2021-01-20 13:56] urso commented on #21000
### Configuration storage

+100

In case of automated provisioning users might want to have a single file prepared that can be shared. But I presume one can run agent with multiple config files in that case?

In standalone case an administrator might even want to maintain the rules in a separate read-only config file, such that users that have write access to the `elastic-agent.yml` config can not

[2021-01-20 14:10] michalpristas commented on #21000
i like having separate file for this. i can easily imagine using `inspect` command to see effects of different rule files on provided config.
naming wise, do you have any ideas how to name this. if in separate file `elastic-agent-filter.yml` `elastic-agent-sieve.yml` `elastic-agent-ruleset.yml` comes to mind but i'm completely open to any ideas because i dont like a single one of the ones i came u

[2021-01-20 14:46] blakerouse commented on #21000
When combining `output` with `input` in the same rule it feels to me this would mean that all inputs are disabled for the output `logstash` if ssl is not enabled. So other inputs would be enabled as long as the output is not `logstash`.

I also think that `${ssl}` there should have a prefix of the reference first. So if your using say an environment variable to satisfy the condition it would be `$

[2021-01-20 14:47] blakerouse commented on #21000
As for the rules, I also think a separate file is better. I would be okay with just `rules.yml`. Don't think it needs to be prefixed with `elastic-agent`.

[2021-01-20 14:58] kaiyan-sheng opened #23590 "Remove aws_partition config parameter for AWS"
`aws_partition` is deprecated in AWS with https://github.com/elastic/beats/pull/23539. This config should be removed in 8.0.0.

[2021-01-20 14:59] elasticmachine commented on #23590
Pinging @elastic/integrations (Team:Platforms)

[2021-01-20 15:49] ruflin commented on #21000
The way I think of this feature is capabilities that the Elastic Agent supports, much less of rules that define what can be in the configuration. From an implementation perspective, we will use "rules" to filter out config blocks which are not supported but this is an implementation detail.

Explaining this to a user, I would explain it the way that this Elastic Agent only supports the Elasticsear

[2021-01-20 16:38] blakerouse commented on #23307
@mostlyjason @ph is correct in his usage of `bash`. The reason that `grep` is failing is because the permission level of Agent is root, so a standard user with a wildcard of `*` will not have permissions to even determine the file names. You should do `sudo su` or `sudo bash` to be at the correct permission level.

The usage of `/opt` for the `install` command is because of the [https://en.wikiped

[2021-01-20 16:45] MikePaquette commented on #21172
@jamiehynds Is this on your radar?

[2021-01-20 17:16] #15647 closed

[2021-01-20 17:32] EricDavisX opened #23593 "Unenrolling Agent e2e-test fails - increasing timeout often passes the test, may have performance issue, etc"
https://beats-ci.elastic.co/blue/organizations/jenkins/e2e-tests%2Fe2e-testing-mbp%2F7.x/detail/7.x/110/tests/

<img width="1069" alt="Screen Shot 2021-01-20 at 12 25 04 PM" src="https://user-images.githubusercontent.com/12970373/105212430-70d23100-5b1b-11eb-87b9-fffd419ecdbf.png">

The tests on 7.9 / 7.10 were / are passing, but 7.x is failing the last 2 days in a row and we've seen the flakiness

[2021-01-20 17:32] elasticmachine commented on #23593
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-20 17:34] EricDavisX commented on #23593
we are going to increase the timeouts (again) for now just to get the Beats PR CI passing.  but this is a hack and we need to investigate why / whats going on.  Thanks @mdelapenya

[2021-01-20 17:36] elasticmachine commented on #23593
Pinging @elastic/agent (Team:Agent)

[2021-01-20 17:42] mostlyjason commented on #23307
Ok thanks for the input! I guess these reasons make sense.

I do see the log path documented here https://www.elastic.co/guide/en/fleet/7.10/elastic-agent-installation.html. However, this only contains the log path for the agent, not for the beats. You really need the beats log to troubleshoot problems with the output. Would it be worthwhile to mention the location of the beats logs?

I also don't

[2021-01-20 17:50] ph commented on #23518
@EricDavisX  I do not understand the following can you clarify?

[2021-01-20 18:26] EricDavisX commented on #23518
I can clarify that without the latest System Integration that has the conditional inputs, that we expect a fail-citation-and-then-restart-loop to repeat, making usage / debugging harder if not impossible.  The package is available in 8.0 cloud Kibana usage, and is in the staging / snapshot repos of package storage for those who want to set the Kibana epr url manually instead of using cloud to test

[2021-01-20 18:57] jen-huang opened #23596 "[Elastic Agent] Agent doesn't write logs to updated Elasticsearch host"
### Summary
I noticed that when the ES host is updated in the agent yaml output, the change does not appear to be picked up by the agent for where to send its agent logs. Other data streams (like system ones) do appear to pick up the change and sends the data to the new location correctly.
[code]

### Steps
1. Start Elasticsearch on non-default port, e.g. 9201
2. Start Kibana with `--elasticsearch

[2021-01-20 18:57] elasticmachine commented on #23596
Pinging @elastic/agent (Team:Agent)

[2021-01-20 18:57] elasticmachine commented on #23596
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-20 18:59] threatangler-jp commented on #14931
Seeing this in beats 7.10.1. Also seeing a lot of events dropped in output and wondering if it is related.

[2021-01-20 19:04] mdelapenya commented on #23593
Adding more context:

- the elastic-agent takes almost 6 mins to appear in the Security app, which we see a potential flakiness in the e2e tests, as we are limiting a backoff wait until it appears to 6 minutes. After elastic/e2e-testing#624, we are using 5 instead of 3 as default timeout factor **on CI**, which means that the tests will wait up to 10 mins for the host to be present in the Security

[2021-01-20 19:14] ph opened #23597 "Document Beats Path when run under the Elastic Agent"
The log path documented here https://www.elastic.co/guide/en/fleet/7.10/elastic-agent-installation.html only ontains the log path for the agent, not for the beats. We really need the beats log to troubleshoot problems with the output.

Task:
- [x] Add information in the agent installation page. https://www.elastic.co/guide/en/fleet/7.10/elastic-agent-installation.html
- [x] Add the information in

[2021-01-20 19:14] elasticmachine commented on #23597
Pinging @elastic/agent (Team:Agent)

[2021-01-20 19:14] ph commented on #23307
I am closing this issue and move the documentation task in https://github.com/elastic/beats/issues/23597

[2021-01-20 19:14] #23307 closed

[2021-01-20 19:35] andrewvc commented on #23578
This actually does work @bvader , the syntax needs to be `${path.config}/monitors.d/**/*.yml`, The double star `**` means any subdirectory in glob syntax in bash and elsewhere.

[2021-01-20 20:02] bvader commented on #23578
NICE thanks I will retry... I tried like 20 version but that!
I will verify and close.

[2021-01-20 20:13] ph commented on #23593
@michalpristas Can you take a look at this, from the discussion on slack even with added timeout this seems a real problem on 7.x

[2021-01-20 20:15] EricDavisX opened #23599 "[Agent] when we enable Endpoint in Agent Policy, monitoring filebeat doesn't get sent the log path until Agent is re-started"
[Agent] when we turn on Endpoint in Agent Policy, Agent doesn't tell filebeat to monitor logs until Agent is re-started

looking with a debug build with Blake...
comes out of research during: https://github.com/elastic/security-team/issues/727

testing on Centos7 on a clean host with 8.0 Kibana cloud / stack and PR sourced Agent from
https://console.cloud.google.com/storage/browser/beats-ci-artifa

[2021-01-20 20:15] elasticmachine commented on #23599
Pinging @elastic/agent (Team:Agent)

[2021-01-20 20:16] EricDavisX commented on #23599
@ph we think this is pretty bad for 7.11 - and we'd like to pull in @michalpristas in the AM to review...

[2021-01-20 20:58] ph commented on #23599
Agree

[2021-01-20 21:21] #23518 closed

[2021-01-20 23:58] dedemorton opened #23603 "Document ssl.key_passphrase option in all module docs"
**Describe the enhancement:**

We added info about ssl.key_passphrase to the kafka module docs in https://github.com/elastic/beats/pull/21980, but as Noémi [points out](https://github.com/elastic/beats/pull/21980#issuecomment-713480163), we should do that for all modules to be consistent

[2021-01-20 23:58] elasticmachine commented on #23603
Pinging @elastic/obs-docs (Team:Docs)

[2021-01-21 00:42] bvader commented on #23578
Verified Works

[2021-01-21 00:47] bvader opened #23604 "[Heartbeat] Access monitor fields in alerts in order to drive notification and remediation automation"
Reference : [ER](https://github.com/elastic/enhancements/issues/11561)
**Describe the enhancement:**

As a user I want to drive notification and remediation automation by using fields that are present in configured in the Uptime monitors. I want the ability to pass those fields through the Uptime Alerts onto the downstream systems via connectors or webhook. Example PageDuty, Service Now, Big Panda

[2021-01-21 01:17] gservat commented on #15549
We're on beats 6.8.6 and just had a solid 16 hours (since restart) of no `diskio` metrics with the same sort of error message:

[code]

I can see that other metrics were getting published OK (like `docker.network`), but `docker.diskio` stopped and magically fixed itself 16 hours later.

[2021-01-21 04:19] khangcnttspkt opened #23605 "Metricbeat Module IIS application_pool"
- Version: 7.10.0
- Operating System: Windows Server 2019
After using a few hours, I got this error:
2021-01-20T23:16:34.281+0700   ERROR  runtime/iface.go:260     recovered from panic while fetching 'iis/application_pool' for host ''. Recovering, but please report this.          {"panic": "interface conversion: interface {} is nil, not float64", "stack": "github.com/elastic/beats/v7/libbeat/logp.

[2021-01-21 06:44] metadeng opened #23606 "[matcher]is there anyway to change the default log_path for add_kubernetes_metadata matcher?"
**Describe the enhancement:**
filebeat version: 7.9
OS: centos 8.2
kubernetes: 1.18.3

when i try to change the default log_path for add_kubernetes_metadata matcher as i change the rootdir for docker, and there is nothing to match the right path for current matcher, as except，there is anyway that i can change the docker's rootdir as well as the path that i configured in filebeat.yml?
**Describe a

[2021-01-21 09:01] kvch opened #23607 "Flaky test: elastic-agent/pkg/agent/operation.TestConfigurableService"
## Flaky Test

* **Test Name:** `github.com/elastic/beats/v7/x-pack/elastic-agent/pkg/agent/operation.TestConfigurableService`
* **Branch:** https://github.com/elastic/beats/pull/22495

### Stack Trace

[code]

[2021-01-21 09:01] elasticmachine commented on #23607
Pinging @elastic/agent (Team:Agent)

[2021-01-21 09:16] milkfinch commented on #23583
We have the same error for deprecation logs (strangely not for all of the others) after we set up the above workaround.

After we specify the proper log files for all the different sections for "var.paths" the problem was solved.

[2021-01-21 09:17] #23545 closed

[2021-01-21 11:37] jamiehynds commented on #21172
@MikePaquette absolutely - I've added it to our planning board.

@andrewkroh what do we need to proceed we adding support for new events added in Sysmon v12/13? I assume some sample events in XML?

[2021-01-21 11:40] #23489 closed

[2021-01-21 12:20] ph commented on #23607
@michalpristas Isn't this the same test that you were testing in another PR?

[2021-01-21 12:28] karanbirsingh-qasource commented on #23402
Hi @EricDavisX

We have validated this issue on 7.11.0 BC4 Cloud Production and found that issue is still persisting . Agent remains in Unhealthy status.

**Build Details:**
[code]

Snapshot:
- Signing is OFF
![image](https://user-images.githubusercontent.com/59917825/105350834-bc670680-5c11-11eb-9577-bd710923eefc.png)
- agent installation
![image](https://user-images.githubusercontent.com/5991782

[2021-01-21 12:30] ph commented on #21000
@michalpristas Can you take 2-3 mins, add a summary comment with the plan this will help reduce any miscommunication.)

[2021-01-21 13:06] jsoriano commented on #23583
Interesting, what was the config after applying the workaround? In what path were the deprecation logs?

[2021-01-21 13:21] arukaen commented on #10867
+1, Almost 2 years later.

[2021-01-21 13:26] michalpristas commented on #23599
looking, probably have a root cause and a fix. need to test

[2021-01-21 13:53] masci commented on #16520
Closing as we only have #17539 and #21532 left that will be scheduled later.

[2021-01-21 13:53] #16520 closed

[2021-01-21 14:14] blakerouse opened #23613 "[Elastic Agent] [Meta] Gathering logs and metrics from Kubernetes without using fleet generated agent config and without central agent management via fleet"
## Requirements

We expect Elastic Agent inside of Kubernetes in standalone mode (no connection to fleet-server, not using fleet-server to update agent config) to collect

- metrics and logs for kubernetes components - master node and the processes it runs, worker node and the processes it runs
- system metrics and logs of master and worker nodes
-  pod metrics and logs to ES via auto-discovery th

[2021-01-21 14:14] elasticmachine commented on #23613
Pinging @elastic/agent (Team:Agent)

[2021-01-21 14:46] A-Hall opened #23614 "Include the Oracle client libraries in our Metricbeat Docker image"
**Describe the enhancement:**

The Oracle module in Metricbeat relies on the Oracle client libraries, but we don't package them with our official docker container. It would be nice to see this bundled so users don't have to build their own custom image.

[2021-01-21 14:48] simitt commented on #22844
Tested with BC 4 on cloud staging and linux outside of docker. Values were populated and reported.

[2021-01-21 14:50] simitt opened #23616 "Update zap logger once it is GA"
**Describe the enhancement:**
As soon as https://github.com/elastic/ecs-logging-go-zap goes GA, update the beats dependency accordingly.

[2021-01-21 15:24] EricDavisX commented on #23518
This is merged into 7.11 now, and will be picked up in the next build candidate, BC5 slated for (at current) next week.  The .0.10.7 System Integration package has been merged

[2021-01-21 15:41] wasserman commented on #12315
I just came across this problem in Winlogbeat.  I found this ticket and tried a few variations.  Since the default behavior of `keystore create` is to create the keystore in data/winlogbeat.keystore, I think the simplest approach would be to update the winlogbeat.yml (or whichever beat config) similar to this:
`keystore.path: "${path.config}/data/winlogbeat.keystore"
`

This way you don't have to

[2021-01-21 15:41] EricDavisX commented on #23402
Thank you for confirming - we have a fix for both issues (they are separate issues oddly enough) - and neither one is in BC4 - we will wait and re-test with BC5.  The 'logs' issue is not merged yet, but is in Engg testing

[2021-01-21 15:42] ChrsMark opened #23618 "Add kubernetes manifests for standalone Agent with kubernetes integration"
**Describe the enhancement:**
As a user of Elastic Agent I want a predefined way to deploy Elastic Agent on Kubernetes and start collecting node level Kubernetes metrics as well as cluster wide metrics:

- [ ] Node-level metrics collections - Metrics (cpu/memory/etc.) from the pods, containers etc running on the Kubernetes node
   - [ ] Update the K8s resource definition to collect metrics from `k

[2021-01-21 15:42] elasticmachine commented on #23618
Pinging @elastic/integrations (Team:Integrations)

[2021-01-21 15:51] sorantis commented on #17731
Firelens uses both fluentd and fluent bit. It seems that for container services fluent bit is the preferred option because of the amount of 3pp connectors.

[2021-01-21 16:18] Rukas commented on #21520
Is there any update on this?

[2021-01-21 16:19] elasticmachine commented on #12953
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-01-21 17:00] #23577 closed

[2021-01-21 17:03] Charly66 commented on #4169
Hi,
this enhancement will be great for Talend's job's logging as the timestamp isn't mentionned in logs.

[2021-01-21 18:29] andrewkroh commented on #21172
https://github.com/elastic/beats/issues/18094 can be used as a guide for this update. Basically add support for the two new event IDs and then diff the schema to look for changes to the existing IDs. For any event IDs that are new or changed, export sample events to an .evtx file to create tests for.

Then lastly, sync the changes to the package in elastic/integrations.

[2021-01-21 18:29] elasticmachine commented on #23613
Pinging @elastic/integrations (Team:Integrations)

[2021-01-21 18:30] #23593 closed

[2021-01-21 19:35] #23153 closed

[2021-01-21 19:42] kaiyan-sheng commented on #22946
This is fixed.

[2021-01-21 19:42] #22946 closed

[2021-01-21 20:01] mostlyjason commented on #21000
+1 please consider how we track that an input is blocked. It'd be great to be able to see this in the agent details UI so a user can understand why no data is coming in or why the agent is unhealthy, then fix it. That means we should record it in a way that can programmatically shown in the UI.

[2021-01-21 20:21] ph commented on #19115
I've updated the AC of this issue, @urso please review.

I was opting for **degraded** state but, in our code **degraded** means it can be recovered and go back to healthy when a process is marked as **Failed** the agent will restart it.

@blakerouse or @michalpristas might have another opinion.

[2021-01-21 20:23] kvch opened #23627 "Journalbeat reopen reader on corrupted journal"
When an input journal file gets corrupted, Journalbeat logs are filled with the following message:

[code]

As journals does "rotate-on-corruption", we can reopen the journal file and Journalbeat can continue reading correct journal entries.

The current workaround is to restart Journalbeat on this error manually or restart the Beat periodically to make sure it can restart after it reaches a corru

[2021-01-21 20:23] elasticmachine commented on #23627
Pinging @elastic/agent (Team:Agent)

[2021-01-21 20:26] ph commented on #22893
Fixed in https://github.com/elastic/beats/pull/23479

[2021-01-21 20:26] #22893 closed

[2021-01-21 21:01] #23599 closed

[2021-01-21 21:06] cdalexndr commented on #12884
Metricbeat's elasticsearch module has `node_stats` metricset with jvm memory spaces:
https://www.elastic.co/guide/en/beats/metricbeat/current/exported-fields-elasticsearch.html#_node_stats

[2021-01-22 01:22] EricDavisX commented on #23599
I helped test Michals branch - it looks great.  We'll look for the backports and we can track when it goes in for 7.11, plenty of time to make next week's BC5

[2021-01-22 01:24] EricDavisX commented on #23518
This will be testable in the BC5 built next week.

[2021-01-22 02:05] elasticmachine commented on #23604
Pinging @elastic/uptime (Team:Uptime)

[2021-01-22 02:22] EricDavisX commented on #23440
@dikshachauhan-qasource can you re-test a Big Sur Agent/ Endpoint with BC4 and close this out if indeed it is passing smoke test

[2021-01-22 09:30] elasticmachine commented on #23616
Pinging @elastic/agent (Team:Agent)

[2021-01-22 09:35] OultimoCoder opened #23634 "You should be able to generate the fields.yml file in /usr/share/filebeat using the ./filebeat command."
You should be able to generate the `fields.yml` file in `/usr/share/filebeat` using the ./filebeat command.

The reason why this is needed is if I add a module to filebeat via kubernetes I would like to have the correct index mappings without having to manually update the `fields.yml`.

Currently, I use an init container to mount a tar file and unzip it to a modules mount in the filebeat. This wor

[2021-01-22 09:40] elasticmachine commented on #23634
Pinging @elastic/agent (Team:Agent)

[2021-01-22 09:41] elasticmachine commented on #23614
Pinging @elastic/integrations (Team:Integrations)

[2021-01-22 09:42] andresrc commented on #23614
We need to check whether there are any restrictions for redistribution first.

[2021-01-22 09:47] elasticmachine commented on #23606
Pinging @elastic/integrations (Team:Integrations)

[2021-01-22 09:48] elasticmachine commented on #23605
Pinging @elastic/integrations (Team:Integrations)

[2021-01-22 10:08] elasticmachine commented on #23582
Pinging @elastic/agent (Team:Agent)

[2021-01-22 11:57] andresrc commented on #21235
Thanks!!

[2021-01-22 11:57] #21235 closed

[2021-01-22 12:06] andresrc opened #23637 "Provide a way to collect tags associated to some cloud objects"
**Describe the enhancement:**

The different cloud providers provide ways to add custom tags to resources (e.g. [compute instances](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html)). However these tags may not be collected by the existing processors (`add_cloud_metadata`) as they may need different API calls with different requirements.

**Describe a specific use case for the e

[2021-01-22 12:06] elasticmachine commented on #23637
Pinging @elastic/integrations (Team:Integrations)

[2021-01-22 12:09] andresrc commented on #23220
Hi @vamshisiddarth ! Can you point me to the forum discussion? Thanks!

[2021-01-22 12:09] elasticmachine commented on #23220
Pinging @elastic/agent (Team:Agent)

[2021-01-22 12:23] vamshisiddarth commented on #23220
Hi @andresrc Here is the link to the discussion forum. https://discuss.elastic.co/t/journalbeat-stopped-shipping-logs/259195.

[2021-01-22 13:21] m-adams opened #23638 "Improve handling of Agent Enrol if already installed"
**Describe the feature:**

When you run the enrolment command on Elastic Agent on a host where it has already been installed it terminates and you get the following error (on Mac at least)
"Error: already installed at: /Library/Elastic/Agent"
To continue, you then need to work out how to uninstall agent and then re-run the command.
It is likely with people doing initial testing will try and enrol

[2021-01-22 13:21] elasticmachine commented on #23638
Pinging @elastic/agent (Team:Agent)

[2021-01-22 14:06] mscamara opened #23639 "filebeat logging permissions"
I have a problem with Filebeat and I think it's a bug. I changed the permission in Filebeat configuration to 0644. after restarting Filebeat the permission changes. I have tried several combinations without success.
When I try to consult the logs with a user other than root the answer is: cannot open the directory / var / log / filebeat /: Permission not granted
I have seen a lot of discussion aro

[2021-01-22 14:13] julienyvenat commented on #23308
I'm confirming the bug reported by @mostlyjason.

Moreover in my infrastructure Kibana is behind a reverse proxy (Traefik) so besides opening 5601 port of kibana (in a docker) the agent can only enroll has the configurated port is not taking in account for the following steps.

If I'm opening the 5601 port and configuring it, everything is working fine.

[2021-01-22 14:36] macEar commented on #17680
The problem solved. It was resolved after I changed console output to kafka. It wasn't winlogbeat issue, the main reason why I had so low throughput is console output and stdout buffer's size (the system default of io.DEFAULT_BUFFER_SIZE).

[2021-01-22 14:36] #17680 closed

[2021-01-22 14:38] neu5ron opened #23640 "fail_on_error Beats processor settings cause ECS not applied or potential field collisions"
Beats processor (at a minimum the rename processor) defaults to `fail_on_error: true` which causes (per documentation) `in case of an error the renaming of fields is stopped and the original event is returned`.

The issue then becomes that a) ECS fields are not applied so user's searches won't return results as they would normally expect. b) potential to cause 1) data to be dropped if elasticsearc

[2021-01-22 14:51] andrewkroh commented on #23543
Cross-compile for Windows can be accomplished with the `package` target. You must have Docker setup on your macos.

[code]

[2021-01-22 14:51] #23543 closed

[2021-01-22 14:55] andrewkroh commented on #23552
Can you please upgrade to the latest Packetbeat release and check if the leak still occurs. If it does then please reopen and attach a new pprof profile.

[2021-01-22 14:55] #23552 closed

[2021-01-22 16:08] idwessough commented on #10867
+1,  any answer today ? I'm usinng AWS ES with Filebeat OSS but my IIS module dosn't work cause of this plugin

[2021-01-22 16:58] MarcusCaepio commented on #14931
I am really wondering, that this issue is open for over a year now and survived 5 minor releases without getting any attention :(

[2021-01-22 17:10] willemdh commented on #17680
Is this new reader available in 7.9?

[2021-01-22 18:03] gchiartosini commented on #15183
Sorry anyone has updates on this issue?
Could you update the documentation about it?

[2021-01-22 18:16] #15594 closed

[2021-01-22 21:42] gchegu opened #23641 "Metric beat Jolokia module : jolokia response mapping is not working."
Hi In the metric beat i have jolokia module configuration as below :
  jolokia.yml: |-
    - module: jolokia
      metricsets: ["jmx"]
      enabled: true
      period: 10s
      hosts: ["XX.XX.XX.XX:8778/jolokia/"]
      namespace: "jolokia_metrics"
      path: "/jolokia"
      http_method: 'GET'
      jmx.mappings:
        - mbean: 'metrics:name=kafkaConnector.KafkaConnectorTask.east-us-kafka2-s

[2021-01-23 09:10] elasticmachine commented on #23641
Pinging @elastic/integrations (Team:Integrations)

[2021-01-23 09:33] elasticmachine commented on #23640
Pinging @elastic/agent (Team:Agent)

[2021-01-23 09:34] elasticmachine commented on #23639
Pinging @elastic/agent (Team:Agent)

[2021-01-23 12:27] cdalexndr opened #23642 "Hint based autodiscover hosts label not working"
What is the `co.elastic.metrics/hosts` label format?

1. http://host:81
2. "http://host:81"
3. "\"http://host:81\""
3. "[http://host:81]"
4. "[\"http://host:81\"]"

An example should be added to [documentation](https://www.elastic.co/guide/en/beats/metricbeat/current/configuration-autodiscover-hints.html#_co_elastic_metricshosts).

I cannot get it working in a `docker-compose.yml` service:
[code]

[2021-01-23 22:52] sherifabdlnaby opened #23643 "Cannot use K8S de-dot-ed labels in processors"
For confirmed bugs, please report:
- Version: 7.10.1
- Operating System: Official Docker Image

Using this processor is ineffective.
[code]

Processors can't read "kubernetes.labels.app_kubernetes_io/name" and takes no effects.
Omitting the `when` condition is not effective either. The processor still does not copy values.

It works with any label that is not dedotted.

[2021-01-24 02:16] #7351 closed

[2021-01-24 09:28] elasticmachine commented on #23643
Pinging @elastic/integrations (Team:Integrations)

[2021-01-24 09:29] elasticmachine commented on #23642
Pinging @elastic/integrations (Team:Integrations)

[2021-01-24 19:44] sherifabdlnaby commented on #23643
It was a problem on my side. I deployed changes and not all daemons were getting updated.

[2021-01-24 19:44] #23643 closed

[2021-01-25 08:47] ChrsMark commented on #23642
Hi, there is an example at https://www.elastic.co/guide/en/beats/metricbeat/current/configuration-autodiscover-hints.html#_docker_3.

[2021-01-25 08:48] #23642 closed

[2021-01-25 09:00] dikshachauhan-qasource opened #23646 "[Ingest Manager]: Able to stop .deb Agent service when Endpoint Security is enabled (should be protected?)"
**Kibana version:**
7.11 BC4 Kibana Cloud environment

Elasticsearch version:
7.11 BC4 Kibana Cloud environment

**Host OS and Browser version:**
Deb 9, All

Original install method (e.g. download page, yum, from source, etc.):
7.11 BC4 Kibana Cloud environment

**Preconditions**
1.  7.11 BC4 Kibana Cloud environment  should be available.
[code]
2. Default policy having **Endpoint Integration** in

[2021-01-25 09:00] elasticmachine commented on #23646
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-25 09:01] dikshachauhan-qasource commented on #23646
@manishgupta-qasource Please Review

[2021-01-25 09:02] michalpristas commented on #21000
here's what i've been thinking about, feedback more than welcome
i could not come up with proper name so i just refer to ruleset as `rules` here

Rule structure
[code]

[code]

[code]

Everything is allowed by default with empty ruleset
As soon as rules are present, first matching rule wins.

with config
[code]

### Agent is allowed everything
- nothing needed

### An agent should only be used for

[2021-01-25 09:29] elasticmachine commented on #22257
Pinging @elastic/integrations (Team:Platforms)

[2021-01-25 09:30] narph commented on #22257
@v1v , have you disabled this test, are you still encountering this issue, would like to see if I can do something about it

[2021-01-25 10:43] narph commented on #23605
@khangcnttspkt , it looks like when trying to collect the worker process id the value is nil, we check the validity of those values and report any errors later down the line.
I have created the PR https://github.com/elastic/beats/pull/23647 to check on any `nil` values earlier.
This should fix the the panic exception above.

[2021-01-25 10:54] OultimoCoder commented on #23634
I might even consider this a bug. If you add a module and enable it the index template isn't updated with the correct mappings, it should be expected that filebeat can work out the fields from the enabled modules or give you a way of updating this yourself programmatically.

[2021-01-25 11:43] fbaligand opened #23651 "Dashboard setup: ability to choose only some modules"
**Describe the enhancement:**
Currently, when `filebeat --setup` is launched, all dashboards for all modules are generated. And there are a lot of modules now.
This would be great to be able to specify a parameter (optional) with modules to be set up.

**Describe a specific use case for the enhancement or feature:**
It allows to have in Kibana, only relevant dashboards, and to avoid to manually re

[2021-01-25 11:50] mostlyjason commented on #23547
I think I found the root cause of this. When the certificate is missing on the local filesystem, it never applies the elasticsearch URLs to the output settings. As a result, they get set to the default value of localhost.

Here is what happens when the certificate is missing:
[code]

And here is with the certificate present (and after a restart):
[code]

I'm wondering if we should change anything

[2021-01-25 11:57] manishgupta-qasource commented on #23646
Reviewed & Assigned to @EricDavisX

[2021-01-25 12:00] dikshachauhan-qasource opened #23652 "[Ingest Manager]: Unable to install 8.0 snapshot agent (Verified on windows and macOS so far)"
**Kibana version:**
8.0 snapshot Kibana Cloud environment

Elasticsearch version:
8.0 snapshot Kibana Cloud environment

**Host OS and Browser version:**
Windows 10, windows server 2012, All

**Windows Test Signing ON**

Original install method (e.g. download page, yum, from source, etc.):
8.0 snapshot Kibana Cloud environment

[Ingest Manager]: Unable to install 8.0 snapshot agent on windows.

**

[2021-01-25 12:01] elasticmachine commented on #23652
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-25 12:02] jamiehynds opened #23653 "[Azure Module} - Support for new SignIn Logs"
Up until recently, Azure AD sign-in logs were limited to interactive sign ins, however Microsoft recently added support for additional SignIn types including:

- [NonInteractive](https://docs.microsoft.com/en-us/azure/azure-monitor/reference/tables/aadnoninteractiveusersigninlogs)
- [ServicePrincipal](https://docs.microsoft.com/en-us/azure/azure-monitor/reference/tables/aadserviceprincipalsigninlo

[2021-01-25 12:02] elasticmachine commented on #23653
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-01-25 12:03] dikshachauhan-qasource commented on #23652
@manishgupta-qasource Please review

[2021-01-25 12:31] ph commented on #23652
@michalpristas this is interesting, could that be possibly linked to the Golang upgrade from last week?

[2021-01-25 12:36] manishgupta-qasource commented on #23652
Reviewed

[2021-01-25 12:38] dikshachauhan-qasource commented on #23652
Hi @michalpristas

We have attempted to install 8.0 snapshot agent on mac as well and observed 'Error enroll command with exit code: 1' error message.

Please refer below screenshot.
![#23652_error_on_mac](https://user-images.githubusercontent.com/72375798/105707001-4aa3fb00-5f38-11eb-8ce2-1445cce178a2.png)

Thanks
QAS

[2021-01-25 12:56] dikshachauhan-qasource commented on #23440
Hi @EricDavisX

We have performed smoke on Mac Big Sur machine with sip enabled having 7.11 BC4 Agent with Endpoint integration. Build details are as follows:
[code]

Please find testcases execution results under test plan [Test Run for Ingest Manager Smoke for Mac-Big-SurOS on 7.11.0-BC4](https://elastic.testrail.io/index.php?/runs/view/1029)

As the smoke test is passing successfully. Hence, we

[2021-01-25 12:56] #23440 closed

[2021-01-25 12:59] kuisathaverat commented on #11750
I think we can close this one

[2021-01-25 12:59] #11750 closed

[2021-01-25 13:31] EricDavisX commented on #23646
@willyu-elastic @michalpristas @blakerouse - is there any difference we can confirm about .rpm /deb usage that the Endpoint protection of Agent we can guess would not be in effect, like a different process path vs an Agent set up with 'install' command?

@dikshachauhan-qasource can you attach the full Agent and Endpoint logs from the time around when you deployed and/or turned on Endpoint security

[2021-01-25 13:43] EricDavisX commented on #23652
Thanks Diksha, it directly relates to the new GoLang upgrade noted here:
https://github.com/elastic/beats/pull/22495

I read thru it briefly, and wasn’t sure what impact it would have on our systems.  A guess is we may need to update the Windows vm templates.  I’m not sure yet - but thank you for logging.  @charlie-pichette care to help us research our Windows vSphere host templates?

[2021-01-25 13:57] urso commented on #21000
Would it make sense to have this as part of the status reporting API?

[2021-01-25 14:36] EricDavisX commented on #23599
Let us get this reviewed and merged asap - @blakerouse @ph
https://github.com/elastic/beats/pull/23636 - 7.11 backport

[2021-01-25 14:38] EricDavisX commented on #21598
I am not seeing this in latest 7.11+ code, just confirming.  Smoke tests were done over the 7.11 BC4 build that has this code merged

[2021-01-25 14:38] michalpristas commented on #23652
yes seems to be related with latest change in go version and TLS handling will take a look

[2021-01-25 14:48] cdalexndr opened #23657 "[metricbeat] Error setup kibana dashboards read-only metricbeat.yml"
[code]

metricbeat.yml is mounted as read-only in docker-compose:
[code]

Why is setup complaining `metricbeat.yml` is read-only?
Setup shouldn't write to this file, so it should ignore write access.

For confirmed bugs, please report:
- Version:  7.10.1
- Operating System: docker win
- Discuss Forum URL:
- Steps to Reproduce:

[2021-01-25 15:23] crisdarocha opened #23658 "Goroutine leak in Filebeat with Kubernetes autodiscovery"
Dear Beats team!

We have a possible memory leak in Filebeat (identified in 7.9.3 at least).

Running Filebeat as a Daemonset in a Kubernetes cluster, using auto-discovery, and there's a memory leak ~~that causes the pod to be restarted due to concurrent map read and write errors~~.

**Update**: there actually seems to be a goroutine leak in Filebeat, possibly related to the family of leaks seen i

[2021-01-25 15:29] mukeshelastic commented on #23613
@blakerouse thanks so much for writing this issue. I think this covers the K8s control plane observability for worker and master nodes very well. Does it also cover etcd observability? the pod level logs and metrics collection - what use cases does that cover? e.g. If pod runs nginx server then, are we able to collect nginx metrics and logs for it? What does the user need to do to enable that? Als

[2021-01-25 15:44] v1v opened #23662 "Flaky Test [Build&Test / winlogbeat-windows-7-32-windows-7-32-bit / test_processors – winlogbeat.tests.system.test_eventlogging.Test]"
## Flaky Test

* **Test Name:** `Build&Test / winlogbeat-windows-7-32-windows-7-32-bit / test_processors – winlogbeat.tests.system.test_eventlogging.Test`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2FPR-23615/detail/PR-23615/3/pipeline/#step-8697-log-1
* **PR:** #23615
* **Commit:** 3921f6d

### Error details
[code]

### Stack Trace
[code]

[2021-01-25 15:45] kvch commented on #23652
Fix that will probably help: https://github.com/elastic/beats/pull/23661

[2021-01-25 15:59] ruflin commented on #21000
To keep it simple, lets only focus on input for now so we can also circumvent the partial problem.

[2021-01-25 16:16] bradenlpreston commented on #21000
Question - are we settled on the name "Allowlist" and "Blocklist" ? - I worry that these names may cause confusion with blocklists and allowlists for other use cases (blocklist of file hashes on endpoint, blocklist of IPs, etc.)

Perhaps somethng like Available Integrations/Unavailable Integrations

@caitlinbetz , @kevinlog , @crowens

[2021-01-25 17:04] P1llus opened #23663 "Adding support for Octet counting in TCP input"
When ingesting syslog data with TCP it would be good for the input to also support Octet Counting, ref: https://tools.ietf.org/html/rfc6587

When syslog data is received using Octet Counting the event starts with the length of the message, allowing syslog to send multiple messages that are not separated by newlines.

This issue is to track adding support for splitting syslog messages that uses thi

[2021-01-25 17:04] elasticmachine commented on #23663
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-01-25 18:47] ragrahari commented on #10393
I found a working solution for something similar based on what is recommended [here-discuss.elasticsearch.co](https://discuss.elastic.co/t/processor-drop-event-not-dropping-events/72186/8)
[code]
I wanted to drop events coming from all the namespaces that don't match my application namespaces. Combined the field `kubernetes.namespace` with `equals` and it worked.

[2021-01-25 19:17] #23402 closed

[2021-01-25 19:47] rafael-gumiero commented on #17143
This would be a great feature to be available natively.

[2021-01-25 20:36] EricDavisX commented on #23646
@ferullo This would be on Endpoint side to fix, correct?  But you may need info from Agent Fleet team to process it on.  If you agree, would you please update issue as desired.

[2021-01-25 20:45] ferullo commented on #23646
Endpoint has no self protection features on Linux. I'm not quite sure what the issue is here, but it looks like an Agent issue. I don't see anything Endpoint related in the commands @dikshachauhan-qasource ran.

Endpoint and Agent have independent services. Both should be able to stop/start independently.

[2021-01-25 20:47] n0othing opened #23670 "Sign Beats RPMs w/ SHA256 header for FIPS-enabled Operating Systems"
**Describe the enhancement:**

Beats RPMs will fail to install on RHEL 8 w/ FIPS mode enabled because the RPMs aren't signed with a SHA256 header (see `BZ#1581990` [1].

[code]

It's possible to get around this by installing with `--nodigest --nofiledigest` arguments [2], but such a workaround may not be acceptable for certain organizations.

[1] https://access.redhat.com/documentation/en-us/red_h

[2021-01-25 20:54] elasticmachine commented on #23670
Pinging @elastic/agent (Team:Agent)

[2021-01-25 20:59] elasticmachine commented on #23662
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-01-25 21:00] elasticmachine commented on #23658
Pinging @elastic/integrations (Team:Integrations)

[2021-01-25 21:03] elasticmachine commented on #23657
Pinging @elastic/agent (Team:Agent)

[2021-01-25 21:03] #23657 closed

[2021-01-25 21:07] elasticmachine commented on #23652
Pinging @elastic/agent (Team:Agent)

[2021-01-25 21:08] EricDavisX commented on #23646
Ah!  Indeed, we don't have any self-protection features on Linux, I forgot that.  We were testing with the expectation of it being there, sorry for noise.

 @dikshachauhan-qasource please update the test content to not expect it to be protected.  For any Linux tar.gz or .rpm/.deb installs.

[2021-01-25 21:08] #23646 closed

[2021-01-25 21:08] elasticmachine commented on #23651
Pinging @elastic/agent (Team:Agent)

[2021-01-25 21:47] epixa opened #23671 "Negative performance impact on wildcard field changes"
As wildcard field changes were due to be released in ECS 1.8, we updated a ton of keyword fields to be wildcard instead from 7.11 onward. However, we've identified that there are significant performance implications that we need time to review - specifically we've seen storage increases of up to 33% and indexing throughout impacted by 25%. ECS is rolling back the wildcard field changes and will no

[2021-01-25 21:47] elasticmachine commented on #23671
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-01-25 22:26] lubbers commented on #23653
I've attached some log examples that are from my personal Azure tenant that should help.

[new-azure-logs-examples.zip](https://github.com/elastic/beats/files/5870001/new-azure-logs-examples.zip)

I've removed my Azure AD Tenant ID along with my personal IP Address.

Let me know if you need any additional data in regards to this feature enhancement.

Thanks!

[2021-01-25 22:26] cdalexndr opened #23672 "[docs] Obsolete postgresql database metricset generated document example"
[PostgresSQL database metricset](https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-metricset-postgresql-database.html#_fields_173) shows an obsolete generated document example.

For example:
[code]
`beat` has been removed, and `metricset` has changed to `event` with different fields.
& other changes...

For confirmed bugs, please report:
- Version: 7.10
- Operating System:
- Disc

[2021-01-25 22:29] cdalexndr commented on #23657
This is a bug because `setup` shouldn't complain that `metricbeat.yml` is not writable.

[2021-01-26 00:40] schewara commented on #19874
+1 for providing a module for properly parsing Kubernetes logs

From what i saw so far many software components which are intended to run on Kubernetes seem to use klog and even there is an alpha support for structured logging in json (text will still be the default it seems), but the lack of influence on the logformat in a hosted kubernetes environment, a module to properly parse these log entrie

[2021-01-26 03:59] khangcnttspkt commented on #23605
Hi @narph , thank you for your support.
I install metricbeat with windows services, how can I fix this problem?
The path to fix can't find in windows folder.

[2021-01-26 04:02] leosunmo commented on #20991
This is a big deal for us as the replica set isn't very interesting. Looking at the docs for Filebeat (https://www.elastic.co/guide/en/beats/filebeat/current/exported-fields-kubernetes-processor.html) it looks like this is already supported, but it's not according to the code (and my current setup, which only contains `kubernetes.replicaset.name` and `kubernetes.statefulset.name`)

[2021-01-26 07:29] martine-stratdat commented on #23663
Octet counting has been part of remote syslog standards for a while.  There are now services that wont support new lines because of the issues they cause so I think this is important.

[2021-01-26 07:59] elasticmachine commented on #23672
Pinging @elastic/integrations (Team:Integrations)

[2021-01-26 08:04] michalpristas commented on #21000
@bradenlpreston aside from `rule: allow|deny` it wont be part of naming.
i will try to move near capabilites for names.

[2021-01-26 08:25] ruflin commented on #21000
@bradenlpreston Nit: This is about inputs not integrations, just to make sure we are talking about the same thing. In the case of endpoing, the input is the integration but in most cases there are multiple inputs per integration.

[2021-01-26 09:13] #23605 closed

[2021-01-26 09:47] simitt commented on #23671
@elastic/apm-server we probably also need to pull this into `7.11` once rolled back.

[2021-01-26 10:46] #19331 closed

[2021-01-26 10:58] #22772 closed

[2021-01-26 11:01] ChrsMark commented on #23613
Hi @mukeshelastic ! If I'm not mistaken, Pod level observability will be covered by Dynamic Inputs and more specifically kubernetes provider (https://github.com/elastic/beats/pull/21480), this is the former Autodiscover feature (hints not included yet). I tried to leverage this functionality at https://github.com/elastic/beats/issues/23618 https://github.com/elastic/beats/pull/23679 so as to dynam

[2021-01-26 11:16] #15814 closed

[2021-01-26 11:16] #15813 closed

[2021-01-26 11:50] masci commented on #23276
@ycombinator I see the PR got merged, what's the status of the issue?

[2021-01-26 12:09] masci commented on #22723
@smartkathycat I'm closing this as there's a workaround for this and we have https://github.com/elastic/integrations/issues/403 to track the work on blob storage support. Feel free to reopen or follow up on https://github.com/elastic/integrations/issues/403 should you have any issue.

[2021-01-26 12:09] #22723 closed

[2021-01-26 12:36] ChrsMark opened #23685 "[Agent] Dynamic inputs fail to get validated"
It was found during https://github.com/elastic/beats/pull/23679. Dynamic inputs setup to automatically discover `scheduler` and `controllermanager` Pods does not work right now and we get the following error:
[code]

Agent version:
[code]

`agent.yml`:
[code]

Converting `${NODE_NAME}` placeholders to `${env.NODE_NAME}` does not fix the problem and even if we remove all other datastream configs an

[2021-01-26 12:36] elasticmachine commented on #23685
Pinging @elastic/agent (Team:Agent)

[2021-01-26 13:20] sorantis commented on #22085
@sayden is this related to or a regression after https://github.com/elastic/beats/issues/20321?

[2021-01-26 13:40] andrewvc opened #23687 "[Heartbeat] Check for free memory before starting synthetic browser"
Starting a synthetic browser requires considerably more memory than a lightweight check, and the errors returned by chrome are cryptic in this situation (it often just crashes). We should do a pre-flight check for some minimum quantity of free memory, I'd recommend 750MiB and return an error if that threshold is not met. It's not perfect, but would be an improvement.

See also https://github.com/e

[2021-01-26 13:40] elasticmachine commented on #23687
Pinging @elastic/uptime (Team:Uptime)

[2021-01-26 13:59] ycombinator commented on #23276
I think this issue is still okay to keep open. There is one improvement mentioned in the description that is not yet implemented, viz.:

We currently implement the latter (drop) but not yet the former (throttle). Throttling might require larger changes to the event processing pipeline in libbeat.

The other two improvements mentioned in the description have been implemented:

Was done as part of t

[2021-01-26 14:16] #12821 closed

[2021-01-26 14:16] #4356 closed

[2021-01-26 14:16] #4984 closed

[2021-01-26 14:16] #11836 closed

[2021-01-26 14:16] #12216 closed

[2021-01-26 14:16] #12444 closed

[2021-01-26 14:16] #12468 closed

[2021-01-26 14:16] #12689 closed

[2021-01-26 14:16] #8210 closed

[2021-01-26 14:16] #13015 closed

[2021-01-26 14:16] #13040 closed

[2021-01-26 14:16] #13052 closed

[2021-01-26 14:16] #13279 closed

[2021-01-26 14:16] #13362 closed

[2021-01-26 14:16] #13819 closed

[2021-01-26 14:16] #14662 closed

[2021-01-26 14:16] #14864 closed

[2021-01-26 14:16] #15216 closed

[2021-01-26 14:16] #7099 closed

[2021-01-26 14:16] #6460 closed

[2021-01-26 14:16] #7083 closed

[2021-01-26 14:16] #6546 closed

[2021-01-26 14:16] #10919 closed

[2021-01-26 14:16] #11684 closed

[2021-01-26 14:16] #15471 closed

[2021-01-26 14:16] #15569 closed

[2021-01-26 14:23] EricDavisX commented on #23599
7.11 PR is merged - @dikshachauhan-qasource this should be available to test out fully in BC5 7.11 that is coming in a day or two.  Thanks all!

[2021-01-26 14:27] bradenlpreston commented on #21000
thank you for the clarification @ruflin and @michalpristas

[2021-01-26 14:44] mtojek opened #23691 "Debugging AWS module is hard"
I tried to debug the Metricbeat with the AWS metricset enabled and even though I enabled the debug mode I couldn't see the exact HTTP calls to AWS API.

It would be great to introduce/enable an extra logging scope, which can show request bodies around the AWS client.

/cc @kaiyan-sheng

[2021-01-26 14:44] elasticmachine commented on #23691
Pinging @elastic/integrations (Team:Integrations)

[2021-01-26 14:47] mtojek opened #23692 "Enable filebeat/metricbeat debug mode via Kibana UI"
Hi,

today a spent half a day on debugging the AWS integration. I had to use the non-managed fleet mode, which isn't really convenient option while working with standard setup (managed with Kibana UI).

I would be great to introduce an option to enable filebeat and metricbeat debug mode with Kibana or at least expose additional environment variable, so we can enable it before running the Docker im

[2021-01-26 14:47] elasticmachine commented on #23692
Pinging @elastic/agent (Team:Agent)

[2021-01-26 15:16] #11425 closed

[2021-01-26 15:16] #15707 closed

[2021-01-26 15:16] #13028 closed

[2021-01-26 15:16] #15637 closed

[2021-01-26 15:16] #11132 closed

[2021-01-26 15:23] ph commented on #21848
@ChrsMark it is possible that you take that over from @exekias ?

[2021-01-26 15:27] EricDavisX opened #23693 "Agent & Endpoint e2e-tests are failing in master and 7.x - likely product bug needs review and fixing"
https://beats-ci.elastic.co/blue/organizations/jenkins/e2e-tests%2Fe2e-testing-mbp%2Fmaster/detail/master/223/tests/

tests are failing, unsure for how long.

we can try to reproduce it locally with test, throwing this in to document it.

<img width="1304" alt="Screen Shot 2021-01-26 at 10 25 21 AM" src="https://user-images.githubusercontent.com/12970373/105865557-0d378000-5fc1-11eb-9c2c-96e5bedda

[2021-01-26 15:27] elasticmachine commented on #23693
Pinging @elastic/agent (Team:Agent)

[2021-01-26 17:13] ph commented on #23671
@epixa @andrewstucki How are integrations impacted by these problems? I've created https://github.com/elastic/integrations/issues/568 this on the integration side. I see a few integrations that use wildcards like the `zeek` integration.

[2021-01-26 17:26] andrewstucki commented on #23671
@ph commented on the integration side of things, but I'll cross-post here too just for the sake of tracking:

[2021-01-26 17:43] ph opened #23696 "Formalize Guideline for adding a new process to the Elastic Agent."
The elastic agent supports multiples process: filebeat, metricbeat, apm-server and heartbeat.
The current process to add a new binary to the Elastic Agent is ad-hoc and not documentated.
We should write documentation that explains the tasks to integration with Elastic agent.

The following list is incomplete:

- What is Program Specification.
- What are the supported operating system
- What the co

[2021-01-26 17:43] elasticmachine commented on #23696
Pinging @elastic/agent (Team:Agent)

[2021-01-26 17:55] simitt opened #23697 "Create docker image for Elastic Agent on Cloud"
Create a docker image for Elastic Agent that can run the APM Server in the deprecated standalone mode, or in the managed mode. APM Server binary is bundled with the Elastic Agent, so no download is required.

Ensure that the process startup script for the standalone APM Server is placed inside `init.d`. Any container healthcheck is only expected to check the Elastic Agent health, not the  APM Serv

[2021-01-26 17:55] elasticmachine commented on #23697
Pinging @elastic/agent (Team:Agent)

[2021-01-26 18:00] ph commented on #23652
closing #23661 was merged.

[2021-01-26 18:00] #23652 closed

[2021-01-26 21:10] elasticmachine commented on #23692
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-26 21:10] #23671 closed

[2021-01-26 21:18] 111andre111 commented on #2666
There is a valid use case for using access logs of CloudFlare that I am aware of.
https://developers.cloudflare.com/logs/log-fields
Apart from grabbing the CloudFlare logs using the API, the module could use S3 as well to grab from them and then ingest it:
https://developers.cloudflare.com/logs/logpush/aws-s3

[2021-01-26 21:55] kaiyan-sheng commented on #19200
Design doc: https://docs.google.com/document/d/1yT5vDnI0KrodiLT961bGe2QM2142MR_zEviRlV_2fQU

[2021-01-26 23:00] fearful-symmetry opened #23702 "README templates produce confusing documentation for Agent"
We use golang templates to generate the README files that are packaged with the beats releases:

[code]

This works fine for most things, but with agent, it results in a README.md that looks like this:

[code]

If you're just unpacking agent and trying it out for the first time, that won't work, as you're (obviously) supposed to enroll the agent first. I ran into someone yesterday who _just_ got t

[2021-01-26 23:01] elasticmachine commented on #23702
Pinging @elastic/obs-docs (Team:Docs)

[2021-01-26 23:01] elasticmachine commented on #23702
Pinging @elastic/integrations (Team:Integrations)

[2021-01-26 23:36] dedemorton commented on #23702
TBH, I think these instructions are too basic for Beats, too. They gloss over a lot of detail, especially for Metricbeat and Filebeat where users are likely to want to enable modules. Also the leading `./` in the template will cause problems on platforms where we provide a wrapper script. And...the instructions make it sound like you must have Elasticsearch running on the local host. That's not a

[2021-01-27 01:59] 0xtf opened #23706 "Add MAC address mapping to ECS in Filebeat Suricata module"
Map additional (MAC address) Filebeat Suricata module fields to ECS.

Since version 6 of Suricata support for the inclusion of source and destination MAC address has been added to the eve.json  file.

The outcome of that is something along the lines of this:

[code]

After discussion in Slack it was recommended I opened an enhancement request.

Currently in ES the fields are being presented as exp

[2021-01-27 09:00] spetrashov commented on #23658
Hello @crisdarocha ,

I've tested the same configuration with the Filebeat version 7.10.2. There were no crashes due to race condition for 15 hours, but goroutines keep piling up, so it doesn't fix the leak.

I've collected some more debug information from the pod running 7.10.2

Attaching this information here, since upload functionality didn't work on the support website for me
You can find heap

[2021-01-27 09:20] elasticmachine commented on #23706
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-01-27 10:34] ChrsMark commented on #23658
Hi @spetrashov and thank you for reporting this!

First of all the fatal error reported should be fixed by elastic/beats#21880. Also I don't think that the fatal error should be related with any possible leaks and goroutines' number increase. From the heap graph you sent I see that heap size is ~43MB so I cannot see anything suspicious there. I'm putting the the graphs you posted here in png forma

[2021-01-27 11:26] dikshachauhan-qasource commented on #23646
Hi @EricDavisX

Thanks for the confirmation.

Currently, we have no testcases related to above functionality on Linux OSs. Hence, no updates are required.

[2021-01-27 11:31] ChrsMark commented on #23658
Initial error reported is fixed by #21880 and the possible memory leak should not be related so I'm closing this one and let's continue in a separate issue if needed.

[2021-01-27 11:38] jsoriano commented on #23658
+1, this possible leak is not related to this fatal error trace.

Yes, these `CloseOnSignal` and `SubOutlet` are usual suspects on memory leaks in filebeat related to autodiscover and dynamic configs in general. There were several fixes there around 7.1. See https://github.com/elastic/beats/pull/12106 and linked issues.

In the metrics I see that there were `3875` started harvesters, what is simil

[2021-01-27 11:39] jsoriano commented on #23658
Let's keep this open, I will update the description.

[2021-01-27 12:27] amolnater-qasource commented on #23652
Hi @EricDavisX
We have re-validated this issue on 8.0.0 Snapshot Kibana Cloud environment found it **Fixed**. Build details are as follows:

[code]
**Observations:**
- Windows Agent enrolled successfully.
- MAC Agent enrolled successfully.

**Screenshots:**
![#23652](https://user-images.githubusercontent.com/77374876/105986489-05600480-60c3-11eb-84fe-a66bda926c45.png)

Please let us know if anythi

[2021-01-27 12:52] #20991 closed

[2021-01-27 13:52] ChrsMark commented on #18049
@ioandr are still planning to work on this? If no, no worries, I can take over in order to have it in soon, just let me know.

[2021-01-27 14:19] ph commented on #23685
I think there are two problems here:

1. Is referencing environment variables in the Elastic Agent, I think this an Agent concerns.

[code]

2. `eql.Null` I think it's either a side effect of 1, or a problem in the K8s provider.

@blakerouse __

[2021-01-27 15:16] #13169 closed

[2021-01-27 15:20] ChrsMark commented on #18049
Just a note here regarding supported versions. We should focus on `kube-state-metrics` service versions since this is the service we collect from. Currently we support `ksm.v1.3` and `ksm.v1.8` so I think can stick to `ksm.v1.8` for this one, I see there is also the `v1.9` and a `v2` coming but let's keep the support for them out of the context of this PR.

[2021-01-27 15:30] ioandr commented on #18049
Hi @ChrsMark, thanks for the headsup.

Let's resume the work here and see what it takes to deliver this as soon as possible!

I will provide updates here as I go.

[2021-01-27 16:20] jsoriano commented on #23658
I can reproduce the issue also with docker autodiscover, seems to be happening since 7.8.0. What I see is that since this version, two additional `CloseOnSignal` goroutines are created for each harvester, and they are never released.

[2021-01-27 16:58] rsdrakh commented on #12174
Same here for journalbeat Version 7.6.1.
Config:
[code]

I notice that a cron'ed `systemctl restart journalbeat` does not help the situation, after issueing `systemctl stop journalbeat` followed by `systemctl start journalbeat` the contents of the spool file seem to be ingested  correctly. The cronjob restarts journalbeat every 10 minutes due to problems with corrupt journal files (there is an ope

[2021-01-27 17:25] EricDavisX opened #23720 "[Agent] Setting the Agent Log level in UI isn't being sent to Elastic-Security Endpoint yaml so it keeps logging at Info"
[Agent] Setting the Agent Log level in UI isn't being sent to Elastic-Security Endpoint yaml so it keeps logging at Info

I'm testing with 7.11 BC5 that was compiled on Jan 26/27

- I set up cloud-prod deploy of stack.
- I install Agent with Default policy to Windows 2012, all works fine.
- I set Agent to a new policy with Endpoint in it, all works fine - except I see some 'debug' error logs from

[2021-01-27 17:25] elasticmachine commented on #23720
Pinging @elastic/agent (Team:Agent)

[2021-01-27 17:29] EricDavisX commented on #23720
@michalpristas was this a feature we worked together, not sure if you want to take a look - i submit we do not need it for 7.11

[2021-01-27 18:44] andrewkroh commented on #23706
PR: https://github.com/elastic/beats/pull/23721

[2021-01-27 18:51] EricDavisX commented on #23720
I forgot that the 'elastic-agent' yaml indicating that 'fleet' is in use means we should check the fleet.yaml.  which I included.  it shows:
agent:
  id: b13f5240-60bb-11eb-afd7-b56fbe435287
  logging.level: error

so that explains why the agent side is working.

[2021-01-27 19:49] leosunmo commented on #20991
For anyone struggling, here's how I got around it for now!
[code]

[2021-01-27 20:38] leosunmo commented on #14019
I am having a similar (if not the same) issue using Filebeat 7.10.1.
[code]
It doesn't seem to respect the new `logstash-*` index pattern at all.

[2021-01-27 22:06] kaiyan-sheng opened #23725 "Define common fields between kubernetes fields and AKS fields"
In current Kibana Metrics UI, these fields are used for displaying Kubernetes metrics:
#### Node CPU Capacity
- Capacity: `kubernetes.node.cpu.allocatable.cores`
- Used: `kubernetes.node.cpu.usage.nanocores`

#### Node Memory Capacity
- Capacity: `kubernetes.node.memory.allocatable.bytes`
- Used: `kubernetes.node.memory.usage.bytes`

#### Node Disk Capacity
- Capacity: `kubernetes.node.fs.capacity

[2021-01-27 23:36] wasserman commented on #12315
@narph Any thoughts on the above comment?

[2021-01-28 01:31] EricDavisX commented on #23518
I am seeing this fixed nicely in the 7.11 BC5 build so far

[2021-01-28 01:33] EricDavisX commented on #23599
this is tested as ok in BC5 7.11 build, but I have logged an issue that was being masked:
https://github.com/elastic/beats/issues/23720
 - this is closed out and fixed tho.

[2021-01-28 05:49] vipulsrivastava-qasource commented on #23402
Hi @EricDavisX

We have validated this issue on `7.11.0 BC5` Cloud Production and found that issue is fixed . Now, Agent and Agent + Endpoint both installation is in Healthy status.

Please find below observation and build details.

[code]

**Screenshot**

- Signing is OFF

![Testsigning_off](https://user-images.githubusercontent.com/69579402/106092605-a0ed8580-6154-11eb-8410-edc4333174be.png)

-

[2021-01-28 06:52] krishnaprasadhg opened #23728 "Feature enhancement request - Jira and Gitlab"
Please consider the below enhancement requests for future release.

1. Jira monitoring/reporting/analytics module
2. Git hub monitoring/reporting/analytics module

[2021-01-28 08:50] ChrsMark commented on #20991
👍🏼 @leosunmo  for user not having Logstash in the pipeline [script processor](https://www.elastic.co/guide/en/beats/metricbeat/current/processor-script.html) could do the trick.

Anyways it should be resolved by #23610 and I see that there is a recent (built 7 hours ago) snapshot of `7.12` which you could use to test it `docker.elastic.co/beats/metricbeat:7.12.0-SNAPSHOT`, but please have in mind

[2021-01-28 08:52] skldfm commented on #15012
Is this related? https://discuss.elastic.co/t/failed-parsing-time-field-failed-using-layout/262433

[2021-01-28 11:16] #11992 closed

[2021-01-28 13:36] pebrc opened #23734 "Nil pointer dereference in Agent config transpiler"
While exploring the standalone Elastic Agent support through the ECK operator I ran into this sigsegv:

[code]

when using the following input:

[code]

It is the null valued `-add_kubernetes_metadata:` that leads to the panic.

Affected version: 7.10.2

[2021-01-28 13:37] elasticmachine commented on #23734
Pinging @elastic/agent (Team:Agent)

[2021-01-28 13:53] dikshachauhan-qasource opened #23735 "'Info' level logs are generated when Agent logging level is set to 'Warning'."
ON 7.11 BC5, we have observed issue at Agent logging level that Next level logs are getting generated for Agent under Logs tab when logging level is set to one step below in verbosity order.
_**We have noticed it takes at least 5 mins to sync up and display logs as per level set.**_

**Preconditions**
1.  7.11BC5 Kibana Cloud environment should be available.
[code]
2. Agent should be installed usi

[2021-01-28 13:55] elasticmachine commented on #23735
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-28 13:55] dikshachauhan-qasource commented on #23735
@manishgupta-qasource Please Review

[2021-01-28 14:00] manishgupta-qasource commented on #23735
Reviewed & assigend to @EricDavisX

[2021-01-28 14:29] urso commented on #22786
@fearful-symmetry Did we finish all tasks? Can we close the issue?

[2021-01-28 15:31] elasticmachine commented on #23735
Pinging @elastic/agent (Team:Agent)

[2021-01-28 15:35] EricDavisX commented on #23735
@dikshachauhan-qasource can you confirm if you see anything after say 5 minutes?  I submit there is a complex interaction going on, and it is ok if the change is not immediate, I agree it is low priority.  If it takes 1-5 minutes for the final logs which may have already been written by Agent to be sent by monitoring Beat then it is ok by me and we can set the expectation as such.  If anything com

[2021-01-28 16:45] EricDavisX commented on #23243
I can ask for a re-test @dikshachauhan-qasource ?  We have fixed up all of the feature with the exception of Endpoint log level (which seems a special case).  I did a quick test prior and it looked fixed, but with a closer eye perhaps you'll notice something more, thank you for the attention on it.

[2021-01-28 17:07] cyrille-leclerc commented on #17467
FYI a standardisation of orchestrator fields is in progress on ECS, see https://github.com/elastic/ecs/pull/1230

[2021-01-28 18:11] kuisathaverat commented on #18334
We are exploring this, and I think we are taking the wrong approach. Let's start thinking about what cross-build means, cross-build is a way to generate binaries for different architectures form commonly used architectures (usually amd64), it is easy to find tools to cross-build binaries for different architectures on amd64, but the other way around used to not be so easy or even possible.
If we c