[2021-09-13 10:48] elasticmachine commented on #27835
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-13 10:54] MichaelKatsoulis commented on #23585
Ok @ruflin I will remove `kubernetes.container.image` in 8.0.

[2021-09-13 11:30] jsoriano opened #27893 "Flaky Test [Build&Test / filebeat-build / TestParsersRabbitMQMultilineLog – github.com/elastic/beats/v7/filebeat/input/filestream]"
## Flaky Test

* **Test Name:** TestParsersRabbitMQMultilineLog.
* **Link:** https://github.com/elastic/beats/blob/9c78ca8c5514813e8c3aaf27afbaf8c37503a2e6/filebeat/input/filestream/parsers_integration_test.go#L249
* **Branch:** Failed at least in 7.15.

### Stack Trace

[code]

[2021-09-13 11:30] elasticmachine commented on #27893
Pinging @elastic/agent (Team:Agent)

[2021-09-13 11:34] jsoriano opened #27894 "Flaky Test [Build&Test / filebeat-build / TestParsersMultilineMaxLines – github.com/elastic/beats/v7/filebeat/input/filestream]"
## Flaky Test

* **Test Name:** TestParsersMultilineMaxLines
* **Link:** https://github.com/elastic/beats/blob/9c78ca8c5514813e8c3aaf27afbaf8c37503a2e6/filebeat/input/filestream/parsers_integration_test.go#L293
* **Branch:** master

### Stack Trace

[code]

[2021-09-13 11:34] elasticmachine commented on #27894
Pinging @elastic/agent (Team:Agent)

[2021-09-13 11:38] jsoriano opened #27895 "Flaky Test [Build&Test / filebeat-build / TestFilestreamTruncateBlockedOutput – github.com/elastic/beats/v7/filebeat/input/filestream]"
## Flaky Test

* **Test Name:** TestParsersConsecutiveNewline
* **Link:** https://github.com/elastic/beats/blob/9c78ca8c5514813e8c3aaf27afbaf8c37503a2e6/filebeat/input/filestream/parsers_integration_test.go#L503
* **Branch:** At least in 7.15.

### Stack Trace

[code]

[2021-09-13 11:38] elasticmachine commented on #27895
Pinging @elastic/agent (Team:Agent)

[2021-09-13 12:47] PresGas commented on #20847
Please let me know if I can provide anything. The key bits for reproducing the issue is generally to have the filebeat.yml configed with this snippet:

[code]

And then you should see some delays either going to logstash/kibana or putting filebeat to debug mode and watching the logs there.

[2021-09-13 12:52] jsoriano commented on #27895
Closing as duplicate of #27085.

[2021-09-13 12:52] #27895 closed

[2021-09-13 13:56] marius-dr opened #27899 "Filebeat import fails due to conflict on 8.0.0 snapshot"
Installing the filebeat dashboards on the latest 8.0.0 snapshot: https://snapshots.elastic.co/8.0.0-64718381/summary-8.0.0-SNAPSHOT.html fails with the following errors:

[code]
Test was done on CentOS 8, with the rpm packages.

[2021-09-13 14:10] elasticmachine commented on #27899
Pinging @elastic/agent (Team:Agent)

[2021-09-13 15:05] elasticmachine commented on #27767
Pinging @elastic/agent (Team:Agent)

[2021-09-13 15:07] elasticmachine commented on #27795
Pinging @elastic/agent (Team:Agent)

[2021-09-13 15:07] elasticmachine commented on #27798
Pinging @elastic/stack-monitoring (Stack monitoring)

[2021-09-13 15:07] elasticmachine commented on #27798
Pinging @elastic/integrations (Team:Integrations)

[2021-09-13 15:08] EricDavisX commented on #26312
Thanks Amol, that's great news.  The Endpoint team is finishing up some testing and we'll look to close this out.

[2021-09-13 15:08] elasticmachine commented on #27799
Pinging @elastic/integrations (Team:Integrations)

[2021-09-13 15:15] jsoriano commented on #27889
Hey @philippkahr,

Thanks for your feedback. This issue is already being addressed in #27526 and will hopefully be fixed in 8.0.

I am closing this because it has been already reported in #17256 and #11943. Feel free to comment in one of these issues or reopen if you think that something else needs to be addressed.

[2021-09-13 15:15] #27889 closed

[2021-09-13 15:17] elasticmachine commented on #27802
Pinging @elastic/agent (Team:Agent)

[2021-09-13 15:17] elasticmachine commented on #27813
Pinging @elastic/integrations (Team:Integrations)

[2021-09-13 15:21] jsoriano commented on #27817
Hey @HonzaKral,

There is already a redis https://www.elastic.co/guide/en/beats/filebeat/7.14/filebeat-input-redis.html. Have you tried it?

[2021-09-13 15:27] elasticmachine commented on #27826
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-13 15:27] elasticmachine commented on #27833
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-13 15:28] elasticmachine commented on #27837
Pinging @elastic/agent (Team:Agent)

[2021-09-13 15:29] HonzaKral commented on #27817
@jsoriano  That input is not what I am describing here, it is just for consuming the slow log *of* redis, not using redis as a queue to consume events:

[2021-09-13 15:33] jsoriano commented on #27817
You are right, sorry.

[2021-09-13 15:38] elasticmachine commented on #27840
Pinging @elastic/integrations (Team:Integrations)

[2021-09-13 15:38] elasticmachine commented on #27842
Pinging @elastic/integrations (Team:Integrations)

[2021-09-13 15:39] jsoriano commented on #27798
May be related or caused by https://github.com/elastic/beats/issues/27798

[2021-09-13 15:40] elasticmachine commented on #27847
Pinging @elastic/integrations (Team:Integrations)

[2021-09-13 15:45] elasticmachine commented on #27879
Pinging @elastic/agent (Team:Agent)

[2021-09-13 15:56] jsoriano commented on #27882
I think this is a configuration issue more than a bug, closing here and following in the discuss issue https://discuss.elastic.co/t/filebeat-kubernetes-provider-mixed-logs-another-containers-from-same-pod/283784

[2021-09-13 15:56] #27882 closed

[2021-09-13 16:17] nimarezainia commented on #27861
@EricDavisX Which version of the agent was last tested? officially we don't currently have support for M1.

[2021-09-13 16:48] #27799 closed

[2021-09-13 17:18] EricDavisX commented on #27861
Thanks so much, Will.

Thanks @fearful-symmetry - we use the darwin tar.gz for macOS Agent tests.  like this:
elastic-agent-7.14.1-darwin-x86_64.tar.gz
  It runs in a compatibility mode, not with a native M1 compiled binary.

@nimarezainia we have been testing for several releases, to ensure it works as well as it can, per the current state of development.  This was with 7.15 latest BC it seems.

[2021-09-13 17:32] n0othing commented on #12724
Closing in favor of https://github.com/elastic/beats/issues/18868

[2021-09-13 17:32] #12724 closed

[2021-09-13 21:25] michel-laterman opened #27903 "Elastic-Agent snapshot downloader ignores proxy settings"
Elastic-Agent (running under fleet) does not use any proxies settings when looking up snapshot locations for artifact upgrade.
Snapshot lookup uses the standard library client (`gohttp` is an alias for `net/http`)
https://github.com/elastic/beats/blob/6af8ffb084df24df63da164e3d2e1a2fffa519ee/x-pack/elastic-agent/pkg/artifact/download/snapshot/downloader.go#L55-L56

This ignores any settings define

[2021-09-13 21:25] elasticmachine commented on #27903
Pinging @elastic/agent (Team:Agent)

[2021-09-13 21:29] fearful-symmetry commented on #27861
Alright, ran this, could not reproduce. Looks similar to this? https://apple.stackexchange.com/questions/408375/zsh-bad-cpu-type-in-executable

[2021-09-14 05:49] colin-stubbs opened #27910 "Ingest Recorded Future alerts from RF Connect API"
**Describe the enhancement:**

Ingest Recorded Future alerts from the RF Connect API as events.

**Describe a specific use case for the enhancement or feature:**

Trigger Elastic Security detections for each ingest alert event in order to trigger alerts to third party destinations (ticketing/etc) and support correlation.

[2021-09-14 06:40] philippkahr commented on #22933
@RRadziejewski you have an error in your configuration it should be
[code]

[2021-09-14 06:40] #22933 closed

[2021-09-14 06:45] philippkahr opened #27911 "[Filebeat][Cisco][Nexus] Add support for more log messages"
Version: 7.14.1

Here are some example messages that need parsing:

[code]

all three messages show `dissect_parsing_error`. We should be rethinking if a module that does not support a message should throw a `dissect_parsing_error` or instead something that is more helpful? It is a parsing error per se, but in reality it ain't because it is a not yet supported messages. Maybe something like `not_y

[2021-09-14 08:06] lucabelluccini opened #27912 "Metricbeat support for Sybase (SAP) products"
**Describe the enhancement:**

Ability to monitor Sybase ASE / IQ via Metricbeat

**Describe a specific use case for the enhancement or feature:**

A user might be interested into monitoring Sybase using Metricbeat. At the moment there is no native support.

[2021-09-14 09:58] #21064 closed

[2021-09-14 10:58] #20848 closed

[2021-09-14 11:14] joshdover commented on #27839
Ah I think I misread the `nearly all of them except for the standalone Agent cases` statement to mean that we mostly covered standalone. Let's talk offline about how to better surface thee test failures to the team(s) and ensure that this case is being covered. Thanks for the context, @EricDavisX.

I have confirmed that this issue has been fixed, closing this issue.

[2021-09-14 11:14] #27839 closed

[2021-09-14 12:13] marius-dr commented on #27899
Couldn't reproduce again, it happened only on a Jenkins run. Will come back with more details if I manage to repro it again.

[2021-09-14 12:45] benqua commented on #25458
Hi beat team, any plan to support sasl for kafka input?

[2021-09-14 13:05] EricDavisX commented on #27861
Ah!  @fearful-symmetry is thinking better than me! :)  I bet the vm on the QA / Engineering Productivity team was reset to clear it for fresh tests (may even be done often) - and it doesn't currently have Rosetta installed.  @jesse-sant do you mind to check?  And if so, we can document expectations for the larger testing team.  If it DOES have Rosetta, it still sounds familiar and an area we could

[2021-09-14 13:07] andrewvc commented on #27648
Action plan after meeting today with @blakerouse @fntlnz and @justinkambic

There are three use cases for elastic-agent with different security requirements, where we can have three different behaviors.

1. Install command on local machine
  1. Keep running as root
  2. Individual beats can downgrade privileges / setuid as needed
2. Run in docker with `docker run`
  1. No need to run as root becau

[2021-09-14 13:12] andrewvc opened #27920 "[Agent] Minimizing Elastic-Agent privileges"
Action plan after meeting today with @blakerouse @fntlnz and @justinkambic

There are three use cases for elastic-agent with different security requirements, where we can have three different behaviors.

### Install command on local machine
  1. Keep running as root
  2. Individual beats can downgrade privileges / setuid as needed

### Run in docker with `docker run`
  1. No need to run as root be

[2021-09-14 13:12] #27648 closed

[2021-09-14 13:34] elasticmachine commented on #27920
Pinging @elastic/agent (Team:Agent)

[2021-09-14 13:43] #26869 closed

[2021-09-14 13:43] #27137 closed

[2021-09-14 13:45] P1llus commented on #13911
Removing old module aliases:
Observability: https://github.com/elastic/beats/pull/27919
Security: https://github.com/elastic/beats/pull/27915

[2021-09-14 15:45] elasticmachine commented on #27910
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-14 16:09] ayushmathur86 commented on #8175
I recently configured **filebeat v7.14.0** to ingest logging-es_server.json instead of logging-es.log to get logs of elasticsearch, but I started getting the above behavior with some additional errors being logged:

[2021-09-14 16:58] #14643 closed

[2021-09-14 18:41] paulb-elastic commented on #25958
@shahzad31 did you have a view on this?

[2021-09-14 20:31] BenB196 opened #27924 "[Heartbeat] [Browser Monitor] Bubble Errors up in browser `source` configuration to be viewable in places like Kibana"
I think part of this enhancement requires stuff on the Kibana end, but I think the work would start with Heartbeat. If this is incorrect please feel free to close, and I can open in Kibana repo.

**Describe the enhancement:**

Currently when there is an error somewhere in the actual browser `source` configuration (i.e. syntax error), the monitor runs, but exists with an error code. These error nev

[2021-09-14 20:59] andrewvc commented on #27920
I believe that in a k8s environment `hostPath` volumes still present a problem. See https://github.com/elastic/beats/issues/19600 . @jsoriano can you add your thoughts here?

[2021-09-14 21:08] andrewkroh commented on #23653
I am wondering where the AAD Provisioning Logs fit into the module. Would those fit into an existing fileset? Should they be handled by a new fileset? I'm not familiar with Azure or how a user configures log exports on the Azure side. How granular should the exports be? Are we making it harder to ingest logs if we require separate eventhubs for each type?

[2021-09-14 21:09] #27903 closed

[2021-09-14 21:32] inqueue opened #27928 "[Functionbeat] Support regex values in triggers.event_source_arn"
**Describe the enhancement:**
**Version:** 7.12.1

Support configurations for regex values in `triggers.event_source_arn`. For example:

#### Current:

[code]

#### Would be:

[code]

**Describe a specific use case for the enhancement or feature:**

This would help in cases were there are many ARNs to configure.

[2021-09-15 07:04] #21232 closed

[2021-09-15 08:39] jsoriano commented on #27920
Is this issue focused on Uptime?

In any case I think this is a risky assumption, a user of Elastic Agent for any use-case may decide to install a different integration in the future that may need further privileges, if they do, they will probably find weird failures, and they will end up having to replace their installation of Elastic Agent, or run multiple of them, what may undermine the user ex

[2021-09-15 09:03] jamiehynds commented on #22515
Closing this in favour of an issue in the integrations repo - https://github.com/elastic/integrations/issues/1725

[2021-09-15 09:03] #22515 closed

[2021-09-15 09:16] amolnater-qasource opened #27934 "[Winlogbeat][Windows-cert support]: Unable to install winlogbeat using certs through logstash."
**Kibana version:**  7.15.0 BC-5 Kibana self-managed environment

**Host OS:** AWS-Windows server 2012 r2

**Build details:**
[code]

**Pre-requirements:**
1. ELK setup should be completed.
2. Winlogbeat artifact should be downloaded and extracted in `Program Files`.

**Steps to reproduce:**
1. Setup winlogbeat.yml:
[winlogbeat.zip](https://github.com/elastic/beats/files/7168561/winlogbeat.zip)

2

[2021-09-15 09:16] elasticmachine commented on #27934
Pinging @elastic/agent (Team:Agent)

[2021-09-15 09:17] amolnater-qasource commented on #27934
@manishgupta-qasource Please review.

[2021-09-15 09:26] #17256 closed

[2021-09-15 10:01] manishgupta-qasource commented on #27934
Reviewed & assigned to @mostlyjason

CC: @EricDavisX

[2021-09-15 12:22] dikshachauhan-qasource commented on #27272
Hi @EricDavisX

We have tried to reproduce the issue on 7.14.1 self managed Kibana with 7.13.4 agent upgrade using certs. However, found it unable to reproduce.

**Observations:**
- We were successfully able to upgrade the agent with local CA file in Agent folder.
- CA folder was still available under installed \Elastic\Agent after agent was upgraded successfully.
- We couldn't find any logs data

[2021-09-15 13:01] andrewvc commented on #27920
All good points @jsoriano, however, one concern @joshbressers has had is that users may be reluctant or unable to run the docker container as root, esp. in large environments with strict security policies. I'd argue that elastic-agent is less akin to `systemd` or another "process supervisor" in that context, it's simply the user app to be run.

WRT how the processes are invoked, I agree it'd be ni

[2021-09-15 13:02] andrewvc commented on #27651
@blakerouse why would we need to validate binaries that ship with the container?

[2021-09-15 13:10] maederm commented on #21847
It would be really helpful if the behavior was at least documented.

[2021-09-15 14:24] EricDavisX commented on #27832
Discussed, this is being reduced in severity - Journalbeat is still in Beta and we rather are not surprised to have incompatibilities between or bugs on newer Linux Distros (with systemd).  So we can get back to this later - removing from urgent list

[2021-09-15 15:33] jsoriano commented on #27920
Yes, you are right, Agent being a process supervisor is an implementation detail, nothing that a user can see as a reason to have more privileges.
Still, I think we have to count with users configuring integrations that require more privileges than the ones given to the Agents.

Yes, this could be a good idea in any case.

[2021-09-15 15:52] leehinman opened #27947 "[Winlogbeat] Continue to read channel after Windows Event Log service has been restarted"
**Describe the enhancement:**

Currently if the Windows Event Log service is stopped, Winlogbeat will stop reading events from the channel.  This is because we receive an error that the remote procedure call has been cancelled.
https://github.com/elastic/beats/blob/ba9eebf2f62f3a827008dbfaf0f814464b0a63f9/filebeat/input/winlog/input.go#L123

**Describe a specific use case for the enhancement or fe

[2021-09-15 15:52] elasticmachine commented on #27947
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-15 16:56] UweW commented on #24075
fully agree that a moduls for nfs io statistics is needed

[2021-09-15 18:22] andrewvc opened #27952 "[Heartbeat] Add throttling options"
When https://github.com/elastic/synthetics/issues/284 is complete we'll need to add support for it.

ACs:
* Add `--throttling <d/u/l>` and `--no-throttling` options (as defined in Synthetics)

[2021-09-15 18:22] elasticmachine commented on #27952
Pinging @elastic/uptime (Team:Uptime)

[2021-09-15 18:59] jean0828 commented on #19810
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-15 19:01] blakerouse commented on #27651
@andrewvc Well its standard path for the Elastic Agent, so it taking the same path no matter the container vs a system helps in our testing and simplifies the implementation. Another reason is that the container might not have that application (aka. beat) including in the container, so it need to pull it and it needs to verify. Another reason is that containers are not immutable filesystems, they

[2021-09-15 19:07] #20131 closed

[2021-09-16 00:29] EricDavisX commented on #27272
With this confirmation, we need more info to push this on - there is some missing piece of data that we cannot (have not been able to yet) guess, to enable us to see the problem, so we can address it.

[2021-09-16 01:19] PengYi-Elastic opened #27956 "[Elastic-agent] --insecure flag doesn't work as expected"
**Situation:**
Elasticsearch cluster has an expired CA certificate. When trying to enroll to the fleet server with `--insecure` flag, it failed with `x509: certificate has expired or is not yet valid`

**Command used:**
`elastic-agent enroll --url=https://xxx.xxx.xxx.xxx:8220 -f --fleet-server-es=https://<es_endpoint>:9200 --fleet-server-service-token=**************** --fleet-server-policy=6efe336

[2021-09-16 01:19] elasticmachine commented on #27956
Pinging @elastic/agent (Team:Agent)

[2021-09-16 06:07] #21097 closed

[2021-09-16 09:32] P1llus opened #27965 "[S3 Input] Add support for only iterating/accessing only specific folders or datapaths"
Certain hosted S3 buckets, managed by third parties, will give access to only specific datapaths, meaning that the S3 input will always get access denied, because it tries to iterate over the whole S3 bucket.

For example Cisco managed S3 buckets for Umbrella:
https://docs.umbrella.com/deployment-umbrella/docs/cisco-managed-s3-bucket

This only allows you to run the list-objects API inside the spe

[2021-09-16 09:32] elasticmachine commented on #27965
Pinging @elastic/integrations (Team:Integrations)

[2021-09-16 11:10] amolnater-qasource opened #27967 "[Agent]: No logs under Logs tab when lower version agent is installed with non-default namespace."
**Kibana version:**  7.14.2 BC-1 Kibana Cloud environment

**Host OS and Browser version:** Windows 10, Linux tar, MAC, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.2 BC-1 Kibana Cloud environment should be available.
2. 7.13.4 released Agents must be installed with New policy having non default namespace and System integration.

**Steps to reproduce:**
1. Login to Kibana environment

[2021-09-16 11:23] elasticmachine commented on #27967
Pinging @elastic/agent (Team:Agent)

[2021-09-16 11:23] amolnater-qasource commented on #27967
@manishgupta-qasource Please review.

[2021-09-16 11:26] manishgupta-qasource commented on #27967
Reviewed & assigned to @blakerouse

[2021-09-16 11:39] blakerouse commented on #27967
Do logs show when in default namespace?

Do the matching datastream for the namespace exist? It should be auto-created on first event. Trying to see if the issue is with Elastic Agent sending them or if its an issue with Kibana showing them.

[2021-09-16 11:52] blakerouse commented on #27956
Looking through the code it looks like in the case that a certificate is provided to Fleet Server, it does not pass the `--insecure` flag onto Fleet Server.

[2021-09-16 11:58] amolnater-qasource commented on #27967
Hi @blakerouse
Yes logs shows up on default namespace with lower version agent.

Further yes Data Stream for system are available for lower version agent. However no `elastic_agent.elastic_agent` dataset for this namespace is available for lower version agent.
Seems like System integration data generated at regular intervals of time for this agent.

**Screenshots:**
![5](https://user-images.github

[2021-09-16 12:07] dikshachauhan-qasource opened #27968 "[Linux OS]: Filebeat errors recorded when agent is moved under a new policy through Actions button."
*Kibana version:**  7.14.2 BC1 Kibana cloud-staging environment

**Browser version:** Chrome
**Host OS**: Windows 10.

**Preconditions:**
1. 7.14.2 BC1 Kibana cloud-staging environment should be available.

**Build Details:**
[code]
2. _**Linux Agent should be installed.**_

**Steps to reproduce:**
	- Login to Kibana.
	- Go to to Agent Tab.
	- Using Actions button, assign a new policy to agnet.
	-

[2021-09-16 12:07] elasticmachine commented on #27968
Pinging @elastic/agent (Team:Agent)

[2021-09-16 12:08] dikshachauhan-qasource commented on #27968
@manishgupta-qasource Please review

[2021-09-16 12:40] blakerouse commented on #27968
I believe this is an existing issue that we don't have a proper fix to. I think it was something that was fixed by the new `filestream` inputs, which are not being used here. #21933

In this case it should be that Elastic Agent restarted filebeat to get it back into working order. We should verify that is the case.

[2021-09-16 12:40] manishgupta-qasource commented on #27968
Reviewed & assigned to @michalpristas

CC: @EricDavisX

[2021-09-16 12:42] blakerouse commented on #27967
@amolnater-qasource Thank you for the detail! Seems that this is an issue that needs to be looked at.

@michel-laterman Could you take a look at this?

[2021-09-16 12:55] dikshachauhan-qasource commented on #27968
Hi @blakerouse

Thanks for the feedback and providing related ticket on same. @EricDavisX We can close this one if u agree.

[2021-09-16 13:20] stevengoossensB opened #27970 "Filters in MISP filebeat module are not working"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2021-09-16 14:36] EricDavisX commented on #27968
@dikshachauhan-qasource let's do a few things:
 - test this, per Blake's note. please restart Agent and see if it is corrected.  post back here for record.
 - let's also test with latest 8.0 snapshot and a 7.16 Agent to see if it shows up.  The problem cited is fixed in 8.0 Alpha 1 as noted.  If it isn't fixed, let's please provide the full configuration + logs in a zip in the linked ticket 21933.

[2021-09-16 14:41] PublicDisplayName commented on #27272
When I was able to trigger the failures it was not a single agent being updated. Try a mix of 7.13.3 and 7.13.4 and at least 10 or more agent updates. Normally the machine will have been on for 30+ days under load before which would cause Endpoint to fail to unload from the OS which then caused the upgrade to fail and agent will remain the original. If it was continued with the failed Endpoint rem

[2021-09-16 14:41] #27272 closed

[2021-09-16 15:25] EricDavisX commented on #27272
Thanks so much - this give us yet even more info to help increase our minimum standards for asserting things are 'ok' during upgrade and uninstall usage.  It isn't new that we'd want to focus on stability/scale data being ingested prior to running a given automation or manual test, but it can inform our priority on it's need.  @ruflin @andresrc fairly helpful.

[2021-09-16 15:59] EricDavisX opened #27973 "[Agent][Windows] Agent doesn't always re-start on reboot (seen on GCP Win host)"
Testing involves the Endpoint Integration, and Host Isolation feature.  But let us also attempt to confirm this with just Agent as well.  And we can update here.

From Security team:  I had a host Isolated, and it rebooted (standard gcp behaviour for patching). After reboot, it was accessible as the Elastic Agent process hadn't started (I've noticed this quite a few times on windows machines).  An

[2021-09-16 15:59] elasticmachine commented on #27973
Pinging @elastic/agent (Team:Agent)

[2021-09-16 16:12] rodrigoba commented on #24124
Hello,

I have a json export as well from kibana.
[sonicwall1.txt](https://github.com/elastic/beats/files/7179296/sonicwall1.txt)
[sonicwall2.txt](https://github.com/elastic/beats/files/7179354/sonicwall2.txt)

Hope this helps. Let me know if you need more info.
Thanks!

[2021-09-16 17:37] EricDavisX commented on #27973
@dikshachauhan-qasource @amolnater-qasource can you run through this on the 7.15 latest BC available please? I'd love to see it on our usual vSphere hosts if possible as well as a win 2019 GCP host if you have access.

[2021-09-16 17:54] blakerouse commented on #27968
Do not restart Agent. Agent should automatically restart the underlying Filebeat, and everything should stay working. The error message will be shown, but it will keep working. That is key!

[2021-09-16 18:02] EricDavisX commented on #27934
I think this is a known unsupported situation.  We can evaluate if the Windows store works for Agent tho, as Agent is the intended path forward into the future (long term) for everyone.  I'll follow up with you on that offline Amol, thanks.

[2021-09-16 18:19] blakerouse opened #27980 "[Elastic Agent] Lazy Acker causes actions queue to grow indefinitely when underlying acker fails"
Because of the way the Fleet mode of the Elastic Agent is designed it will keep adding the same actions over and over again to the `lazy.Acker` because the underlying `Acker` fails to ack the action.

This causes the queue to grow indefinitely that causes the process to consume all the memory of the system.

This is not an issue when Fleet mode can communicate with the Fleet Server, but when it fa

[2021-09-16 18:19] elasticmachine commented on #27980
Pinging @elastic/agent (Team:Agent)

[2021-09-16 19:05] EricDavisX commented on #27968
Thanks for the clarification, I thought that was a needed manual work-around for now - cheers!

[2021-09-16 19:37] jsermer commented on #14508
any update here?

[2021-09-16 19:46] hamelg commented on #18813
Here we got this issue but with a slight variation.

[code]

[2021-09-16 21:08] andrewkroh commented on #17758
I think it might be possible to seek the cursor based on time by using [`sd_journal_seek_realtime_usec`](https://www.freedesktop.org/software/systemd/man/sd_journal_seek_head.html#). If so, then when a new reader starts for the first time (no previous state is found) then it could start reading at the time derived from `ignore_older`. If `ignore_older: 24h` was used then it would seek to `now() -

[2021-09-16 21:43] andrewkroh commented on #22129
Does journalbeat read them when it is executed directly on the host? In that case it would be using the same systemd library as the host (rather than the one shipped in the journalbeat container (219)).

[2021-09-17 00:10] 111andre111 commented on #22762
This has worked apart from the fact that the parser goes wrong when the XML doesn't have a new line at the end. In this case the parser ended with an error:
[code]

[2021-09-17 01:56] andrewkroh commented on #22762
Do you have an example JSON event that fails so I can reproduce it?

[2021-09-17 10:27] ksp987 commented on #26191
Does anyone have any resolution for this? I am trying to get my packetbeat running on my computer and output beats AWS-managed elastic search. Getting the same error.

[2021-09-17 18:40] liza-mae opened #27988 "Filebeat import dashboards fails internal server error on some dashboards"
For confirmed bugs, please report:
- Version: master, 7.x
- Operating System: Linux
- Steps to Reproduce:
```./filebeat setup```

[code]

[2021-09-17 18:40] elasticmachine commented on #27988
Pinging @elastic/integrations (Team:Integrations)

[2021-09-17 18:40] elasticmachine commented on #27988
Pinging @elastic/agent (Team:Agent)

[2021-09-18 11:07] #13807 closed

[2021-09-18 19:53] legoguy1000 commented on #24124
Sorry for not responding quickly.  This one may be tough as its using the RSA2ELK scripts.  I haven't had good luck/experience updating those scripts.  @P1llus, any ideas?

[2021-09-19 12:07] #21171 closed

[2021-09-20 06:15] #27857 closed

[2021-09-20 08:05] dikshachauhan-qasource commented on #27973
Hi @EricDavisX,

We have validated above issue on both the scenarios mentioned above in ticket description on latest 7.15 BC7 build on windows server 2019 machine and found it working fine.

**Build details:**
[code]

**Scenario 1:**

- Installed Agent with only system integration
- rebooted host
- waited and found Agent service in running state.

**Screenshot:**
![image](https://user-images.githu

[2021-09-20 10:14] dikshachauhan-qasource commented on #27968
Hi @EricDavisX

We have validated this issue on 8.0 snapshot Kibana cloud staging build and found it working fine there.

- No Filebeat realted errors where recorded for 8.0 snapshot and 7.16 snapshot agents in logs when agent policy is reassigned.

Build details:
BUILD 46258
COMMIT bfad0bda931936275525e140d025dde5ca4e4d89

Artifact links:
https://snapshots.elastic.co/8.0.0-da75ec54/downloads/beat

[2021-09-20 10:57] amolnater-qasource opened #28000 "[Agents]: Metricbeat failed error logs under Logs tab on installing Linux `.tar` and mac agents."
**Kibana version:**  7.14.2 BC-1 Kibana Cloud environment

**Host OS and Browser version:**  Linux tar, MAC, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.2 BC-1 Kibana Cloud environment should be available.
2. Linux `.tar` and MAC Agents must be installed with Policy having System integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agent>Logs tab.
3.

[2021-09-20 10:57] elasticmachine commented on #28000
Pinging @elastic/agent (Team:Agent)

[2021-09-20 10:57] amolnater-qasource commented on #28000
@manishgupta-qasource Please review.

[2021-09-20 11:15] manishgupta-qasource commented on #28000
Reviewed & assigned to @blakerouse

CC: @EricDavisX

[2021-09-20 12:14] #24495 closed

[2021-09-20 12:16] ChrsMark commented on #27019
Closed  by #27691

[2021-09-20 12:16] #27019 closed

[2021-09-20 13:31] svonliebenstein commented on #21520
Great work on the MR @MichaelKatsoulis!

Since Kubernetes 1.19, kube-state-metrics v2.x.x is required to be compatible (https://github.com/kubernetes/kube-state-metrics/#compatibility-matrix). Unfortunately this is currently not fully working with the latest 7.14.1 metricbeat.
Can we expect a 7.14.2 or 7.15 release anytime soon with this feature?

When this is available, it would mean that it's po

[2021-09-20 14:07] mostlyjason commented on #27934
Yeah I think this is a known limitation. Reassigning to @nimarezainia who is the PM for Beats to determine if this should be supported or not.

[2021-09-20 16:39] maxifom opened #28009 "filebeat setup with template.type=component doesn't apply shards and replicas to index"
- Version: 7.14.1
- Operating System: ubuntu 20.04
- Steps to Reproduce:

I have this in my filebeat.docker.yml:
[code]

after
[code]

[2021-09-20 17:45] felipeIntelipost opened #28011 "Could not parse events from cloudwatch logs, error: EOF - Functionbeat AWS"
Hi, I'm deploying fucntionbeat to collect logs from cloudwatch and upload to elasticsearch.
I deployed the function, but I'm getting the following error when processing and sending the log:
ERROR	[cloudwatch_logs]	aws/cloudwatch_logs.go:122	Could not parse events from cloudwatch logs, error: EOF

[2021-09-20 17:55] EricDavisX commented on #27973
@dikshachauhan-qasource could you try using a Windows 2019 host on AWS please?  Thanks for the update so far.  I will go back to the slack thread and see what we want to do further on Engineering side. May need to pull in someone to look at the host on the specific cluster if it is still reproduced/reproducible

[2021-09-20 18:08] EricDavisX commented on #28000
hi @amolnater-qasource just confirming what I hope is the case, the Agents were healthy after this point in time where they showed 'error' in the log right?  I expect so.  I think this will be just another good  issue where we can clean up logs on initial Agent start up, but it is not indicative of functional problems noted.

Someone confirm if I'm misunderstanding, please!  For now I'm setting it

[2021-09-20 19:15] vinnimin commented on #2073
+1 Updates? This functionality would be awesome...

[2021-09-20 21:20] EricDavisX commented on #27956
Re-opening this as the fix is being re-discussed and re-implemented so it won't be released as such.

[2021-09-20 21:31] jmceniery opened #28013 "Function beat requires extra permissions when enabling virtual_private_cloud"
For confirmed bugs, please report:
- Version: 7.14
- Steps to Reproduce:

When enabling virtual_private_cloud: https://www.elastic.co/guide/en/beats/functionbeat/current/configuration-functionbeat-options.html#functionbeat-virtual_private_cloud
the deployment fails as the role does not have eni attach permissions

The following was added to the role consumed by functionbeat.

[code]

[2021-09-20 21:38] adammike commented on #22572
is this available at all yet?

[2021-09-21 02:04] matthew-lubbers commented on #23653
When you say an fileset, what do you mean?

Log exports are configured using Diagnostic Settings on either an Azure resource, an Azure subscription, or an Azure AD tenant (this configuration). If you configure the Diagnostic Settings to forward to an Event Hub and have the "Create in selected namespace" option, after an log arrives to the Event Hub Namespace, the Event Hub will be auto-generated.

[2021-09-21 06:49] P1llus commented on #27768
After some discussion with @matschaffer, it seems that we are okay with using the current ingest stats in metricbeat, and that the workarounds for resetting numbers and even them out will happen on the visualization side.

I will go ahead and make a preliminary PR, to see if people agree.

[2021-09-21 07:35] kuisathaverat commented on #22572
not officially, we are using it on the oblt clusters, maybe is time to make a PR to the official helm charts repo

https://github.com/elastic/observability-test-environments/tree/master/helm-charts/elastic_agent
https://github.com/elastic/observability-test-environments/tree/master/helm-charts/elastic_agent_standalone

[2021-09-21 08:14] ruflin commented on #26191
@ksp987 I'm not sure if the AWS Elasticsearch version supports constant_keywords, I think it doesn't. So this is likely the issue.

[2021-09-21 08:27] amolnater-qasource commented on #28000
Hi @EricDavisX

Yes agents remained "Healthy" throughout. No impact is observed on agent behaviour. Data under data streams tab is generating at regular intervals.

Please let us know if anything else is required from our end.
Thanks

[2021-09-21 08:38] #27833 closed

[2021-09-21 08:54] MichaelKatsoulis opened #28021 "Metricbeat's include/fields.go never gets updated"
After updating some fields declared in libbeat `add_kubernetes_metadata` processor [(fields.yml)](https://github.com/elastic/beats/blob/master/libbeat/processors/add_kubernetes_metadata/_meta/fields.yml) and run `make update` in root beats I notice that for all beats (filebeat, packetbeat, heartbeat etc) include/fields.go files get updated automatically.

This is not the case for metricbeat  [incl

[2021-09-21 08:54] elasticmachine commented on #28021
Pinging @elastic/integrations (Team:Integrations)

[2021-09-21 08:56] MichaelKatsoulis commented on #28021
cc @ruflin

[2021-09-21 10:54] dikshachauhan-qasource commented on #27973
Hi @EricDavisX

We have validated above issue partially on AWS windows 2019 server instance on 7.15BC7 build and found it working fine for 1st scenario.

- Agent service was in running state after the machine reboot when having only system integration in agent policy.

**Screenshots:**
![image](https://user-images.githubusercontent.com/72375798/134158020-dd24fffc-b741-4353-995a-d82e5a7364c0.png)

[2021-09-21 11:09] joshdover opened #28024 "Add support for using a service token to call Kibana Fleet Setup API"
In order to drop the requirement to use superuser credentials to call the Fleet setup API in Kibana, we'd like to switch to using a elastic/fleet-server service account token instead of username & password to authenticate against Kibana.

We should allow specifying a `KIBANA_FLEET_SERVICE_TOKEN` env var that takes precedence over `KIBANA_FLEET_USERNAME` and `KIBANA_FLEET_PASSWORD`. We should also

[2021-09-21 11:09] elasticmachine commented on #28024
Pinging @elastic/agent (Team:Agent)

[2021-09-21 12:49] #14209 closed

[2021-09-21 12:50] andrewkroh commented on #23653
Fileset (also sometimes called "dataset") is one data source within a module. The current filesets of the Azure module would be `activitylogs`, `auditlogs`, `platformlogs`, `signinlogs`.

So I'm wondering if AAD Provisioning logs should have their own fileset within the Azure module or would those logs be routed to one of the existing Event Hubs already handled by one of the filesets.

[2021-09-21 13:09] adammike commented on #22572
I don't have access to that repository. I'm having a terrible time getting the elastic-agent to properly discover my Kubernetes logs in either fleet managed (preferred) or standalone mode.

[2021-09-21 15:16] jamiehynds opened #28029 "Deprecate Recorded Future Fileset"
As we work through a longer term plan to fully support Recorded Future TI, we need to mark the RF fileset, within the TI module as experimental. Our current approach is not supported by Recorded Future and want to make it clear to our mutual customers that the current integration is not supported and mileage may vary.

Please add the experimental flag to the RF fileset in our docs: https://www.ela

[2021-09-21 15:16] elasticmachine commented on #28029
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-21 15:26] elasticmachine commented on #28011
Pinging @elastic/integrations-services (Team:Services)

[2021-09-21 18:56] willemdh commented on #24835
@jamiehynds One more suggestion. Currently the `user.name` fields include the domain, making those field incorrelatable with other field. Please separate the domainfrom the user.

Currently `user.name` value is for example `"DOMAIN\username"`. This should be:

user.name => username
user.domain => DOMAIN

Thanks for considering this.

[2021-09-21 19:32] michel-laterman commented on #24797
@SelAnt, we are going to close this as beat stats contains this info. Please tag me if you have questions or need this re-opened

[2021-09-21 19:32] #24797 closed

[2021-09-21 19:38] SelAnt commented on #24797
Hi Michael,
Great!
Could you please help to figure out which metrics contains it?
                        "acked": 0,
                        "active": 0,
                        "batches": 0,
                        "dropped": 0,
                        "duplicates": 0,
                        "failed": 0,
                        "toomany": 0,
                        "total": 0

[2021-09-21 19:47] d3zorg commented on #26191
Having elasticsearch 7.4.0 running, had to install auditbeat 7.8 to make it work as [constant-keyword](https://www.elastic.co/guide/en/elasticsearch/reference/7.13/keyword.html#constant-keyword-field-type) breaks things since 7.9 for es 7.4.0

[2021-09-21 20:06] andrewvc commented on #27920
I think for now, given the valid concerns @jsoriano has raised, let's proceed with merging https://github.com/elastic/beats/pull/27878 , and postpone future work for now. That solves the use cases we need on our team, and we probably don't have the bandwidth for a larger scale fix at this point.

[2021-09-21 20:24] sasubillis opened #28035 "Cisco ASA ingest pipeline grok needs to be updated for message type 305011"
Cisco ASA message of type 305011 having issues with existing grok pattern part of ingest pipeline.

ELK Version: **7.10.2**

Following is the exception thrown on logstash indexers.
`
[2021-09-21T19:04:34,735][WARN ][logstash.outputs.elasticsearch][filebeat][ecb3aeaa95d44bbde6f08bf7d09357d657a262ff5d0d019386b35da61a3288de] Could not index event to Elasticsearch. {:status=>400, :action=>["index", {:

[2021-09-21 20:47] #28035 closed

[2021-09-21 20:53] threenub commented on #27853
+1 on this issue. I had a filebeat-json.log file grow so large it exhausted all the disk space

[2021-09-22 01:05] michel-laterman commented on #24797
`toomany` indicates a 429 response from ES

[2021-09-22 01:19] michel-laterman commented on #27967
This seems to only effect the `7.13.4` release of the elastic-agent. We are not going to fix it for that version.
I have not been able to recreate it for `7.14.2` and will try again with `7.15.0` tomorrow.

[2021-09-22 03:04] SelAnt commented on #24797
Thank you Michael for your help!

[2021-09-22 08:56] MikSFG opened #28044 "Auditbeat's -system.hostfs option doesn't seem to work"
Hi,

I'm currently trying to audit my host from container, but when I mount my var,sys,proc to the container's /hostfs, with
-system.hostfs=/hostfs, it doesn't affect anything, Auditbeat doesn't do anything with them.

For example, I can check my host's login events when my /var is directly mounted to the container's /var, but not when it's mounted to the /hostfs/var even tho I'm using "-system.ho

[2021-09-22 09:17] ruflin commented on #28021
I remember there was a slight difference between filebeat and metricbeat and is why the additional nested fields.go exists but I would have to dig into the history to figure out why. But that it is not rebuilt is definitively a bug. My suspicion is that it went missing during a switch to mage from the Makefile (@andrewkroh rings a bell?).

@MichaelKatsoulis If you could open a separate PR to fix t

[2021-09-22 09:52] endorama commented on #27231
After reading through the code I learnt that ECS fields are exported: https://github.com/elastic/beats/blob/master/x-pack/metricbeat/module/gcp/metrics/metricset.go#L334-L348

Still Beats naming conventions are not respected.

[2021-09-22 10:04] MichaelKatsoulis commented on #28021
https://github.com/elastic/beats/pull/28047 is created to fix the bug

[2021-09-22 10:46] jamiehynds commented on #24835
Thanks for the suggestions @willemdh. Will create separate issues for these. Would you be able to share log samples showing the `user.name` and `observer.hostname` issues? If you could share some PANW 10.x logs too, it'd be great. I can share my contact details to send them directly if you like. Sanitised events are fine.

The `suricata.*` fields should be resolved now, as we removed those field a

[2021-09-22 10:52] willemdh commented on #24835
@jamiehynds We are on 7.14.1. Please share your contact to me @ willem.dhaese_at_district09.gent
I'll try to give some samples, but not making any promises, as I'm a bit 'overworked'.

[2021-09-22 11:09] MichaelKatsoulis commented on #21520
Thank you @svonliebenstein!

The support of kube-state-metrics v2.0 will be part of patch release 7.15.1 and new release 7.16.

[2021-09-22 11:23] lsy1990 opened #28053 "How to config fiebeat.yml to implement multiline logic in openshift/kubernetes"
Hi all，
    I deploy daemonset in openshift 3.11 to deploy filebeat.
the log is json  like below:
{"log":"W0922 10:48:03.257983       1 reflector.go:341] github.com/kubernetes-incubator/external-storage/lib/controller/controller.go:668: watch of *v1.StorageClass ended with: The resourceVersion for the provided watch is too old.\n","stream":"stderr","time":"2021-09-22T10:48:03.258127725Z"}
{"log":"

[2021-09-22 11:34] kuisathaverat commented on #22572
After talking with @nkammah, the recommendation nowadays is to add the Helm Chart to the product repo in a folder like https://github.com/elastic/cloud-on-k8s/tree/master/deploy

@ph If you agree I can make a couple of PRs to the beats repo to put those helm charts in the older https://github.com/elastic/beats/tree/master/deploy/kubernetes into a new folder named `charts` or `helm-charts`

[2021-09-22 12:48] ruflin commented on #26191
In general I would recommend that because of this Elasticsearch should be newer or equal the Beats version. Unfortunately we never fully enforced this which leads to exactly this issue :-( I assume you can't upgrade to 7.8 or 7.9 Elasticsearch?

[2021-09-22 13:06] benelgiac commented on #17724
+1

[2021-09-22 14:07] #27980 closed

[2021-09-22 14:34] andrewkroh opened #28063 "[Auditbeat] auditd not receiving event when outside of host network namespace"
While running Auditbeat's `auditd` module in a container it will not receive events unless I put it into the host's network namespace. I believe this used to work because the [docs](https://www.elastic.co/guide/en/beats/auditbeat/current/running-on-docker.html#_special_requirements) don't mention anything about the network namespace requirement.

While doing some brief searching I found a newer fl

[2021-09-22 14:34] elasticmachine commented on #28063
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-22 14:38] #27441 closed

[2021-09-22 14:40] michalpristas commented on #27956
Linking PR: https://github.com/elastic/beats/pull/28007

[2021-09-22 15:10] kuisathaverat opened #28064 "Elastic Agent stop working after few days"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2021-09-22 15:10] elasticmachine commented on #28064
Pinging @elastic/agent (Team:Agent)

[2021-09-22 17:01] #27826 closed

[2021-09-22 17:09] EricDavisX commented on #27441
This was discussed and closed in the last team meeting, the manual test group is being tasked with one final barrage of tests to validate where the current product is to see if we can expect any of the relating bugs to show in subsequent releases.  If anything comes we will report back here.

[2021-09-22 18:21] hubbleview opened #28068 "[Filebeat Azure module] Grok for callerIpAddress not working for IPv6 address in signinlogs pipeline"
**Version:** 7.14.1
**Description:**

When Azure signin logs has `callerIpAddress` as `IPv6`, the event ingestion will get 400 error, only the first 4 digits is extracted and it's not a valid IP. Sample error when `"callerIpAddress":"2600:0000:0000:0000:0000:0000:0000:0000"`.
[code]
Checking the pipeline `"filebeat-7.14.1-azure-signinlogs-pipeline"` ([code](https://github.com/elastic/beats/blob/d9

[2021-09-22 18:29] franchev opened #28069 "https://artifacts.elastic.co/packages/7.x/yum/repodata/primary.xml.gz: [Errno -1] Metadata file does not match checksum"
We are using the elastic repo to install logstash.

Here's the elastic.repo:
[elastic-7.x]
name=Elastic repository for 7.x packages
baseurl=https://artifacts.elastic.co/packages/7.x/yum
gpgcheck=1
gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=1
autorefresh=1
type=rpm-md

https://artifacts.elastic.co/packages/7.x/yum/repodata/primary.xml.gz: [Errno -1] Metadata file does not mat

[2021-09-22 19:00] alexfrancoeur opened #28071 "[Getting Started] Update and Improve Integration Dashboards"
In 7.16, we plan to default to the integrations page for all add data activity (https://github.com/elastic/kibana/issues/111374). As a result, any new user that takes Elastic for a spin will more than likely have an agent / integration experience. First impressions are important and I believe we have an opportunity to improve ours. I know there have been some ongoing discussions around updating th

[2021-09-22 21:08] michel-laterman commented on #27967
does not effect `7.15.0`

[2021-09-22 21:08] #27967 closed

[2021-09-22 21:48] cdalexndr commented on #22408
Same issue.

Did you open a discuss post? If so, can you link it here?

[2021-09-23 02:11] andrewvc commented on #27283
Thanks for all the feedback, I've opened https://github.com/elastic/beats/pull/28073 to improve the validation of JSON responses by validating with `gval` under the hood. Let me know in the PR if there are any concerns or other thoughts about the approach there.

[2021-09-23 03:19] lsy1990 commented on #28053
filebeat

[2021-09-23 07:18] crisdarocha opened #28087 "Metricbeat monitoring module elasticsearch-xpack error when Machine Learning is explicitly disabled"
## Summary
When using the `elasticsearch-xpack` module to monitor an Elasticsearch node, this one fails if Machine Learning is explicitly disabled (`xpack.ml.enabled: false`).

[code]

This is due to the response from `GET _ml/anomaly_detectors/_all/_stats` and is independent of license level.

If Machine Learning is not disabled, the response for this API call will be at least:
[code]

When setti

[2021-09-23 07:18] elasticmachine commented on #28087
Pinging @elastic/stack-monitoring (Stack monitoring)

[2021-09-23 07:30] ruflin commented on #22572
+1 on moving the helm charts into the repository to develop these in public. Having it in the public repo should not mean directly we support these. That part on how we support it we still need to figure out (@nimarezainia @jlind23 ). @kuisathaverat Would be great if you could take on the move.

@adammike Sorry the repos that @kuisathaverat are private but hopefully this gets resolved with the abo

[2021-09-23 07:37] michalpristas opened #28088 "Flaky Test [Build&Test / filebeat-build / TestParsersMultilineMaxBytes – github.com/elastic/beats/v7/filebeat/input/filestream]"
## Flaky Test

* **Test Name:** TestParsersMultilineMaxBytes
* **Link:** https://github.com/elastic/beats/blob/dfb0b27d519605e6c0425019af2059a56c2c0f98/filebeat/input/filestream/parsers_integration_test.go#L403
* **Branch:** 7.x
* **Artifact Link:** https://beats-ci.elastic.co/job/Beats/job/beats/job/7.15/75

[code]

[2021-09-23 07:37] elasticmachine commented on #28088
Pinging @elastic/agent (Team:Agent)

[2021-09-23 07:53] michalpristas commented on #28064
do you by any chance kept these logs?
do you have a dashboard with apm/agent metrics available?

can you tell me more about deployment? how many agents are enrolled.

[2021-09-23 08:56] sisoftrg commented on #23627
It worked well for last few weeks with 7.14[.1], thank you.

[2021-09-23 09:27] amolnater-qasource commented on #27967
Thanks for the feedback @michel-laterman
We will also keep a track of this in our 7.15.x and 7.16.0 testing.

[2021-09-23 11:18] amolnater-qasource commented on #27759
Hi @EricDavisX
We have revalidated this issue with shipped 7.14.2 linux .tar agent upgrade on 7.15.0 shipped build and found this issue still reproducible.
- Unable to upgrade Linux (.tar) 7.14.2 agent to 7.15.0 agent.

**Build details:**
Build: 44040
Commit: add5d2c5ebeba1d8bcf6a79f8863cd78760e1b3e
Artifact Link: https://artifacts.elastic.co/downloads/beats/elastic-agent/elastic-agent-7.14.2-linu

[2021-09-23 11:59] dikshachauhan-qasource commented on #27861
Hi @EricDavisX

We attempted to install .darwin.tar.gz agent on mac mini using 7.16 snapshot artifact and found that, we are able to install agent on same today, without any errors.

Screenshot:
![image](https://user-images.githubusercontent.com/72375798/134502905-e3467063-0186-4e8d-a45a-b3d4fee5408e.png)

Thanks
QAS

[2021-09-23 14:15] scottdfedorov commented on #27853
+1 on this also. The log grew to hundreds of MB in only a few days because of a broken integration causing a LOT of log events.

We are not setting any value for this config option, we're relying on the default (which I believe should be 10MB). So the issue applies to even installs without changing the default.

Restarting the agent does appear to rollover the log to another file.

[2021-09-23 14:26] lukeelmers commented on #24136
@elastic/integrations-services just a heads up that we are planning on merging the breaking changes to Kibana's master branch in the next week or two -- we will follow up soon with an exact date.

Are these changes in progress on your side?

[2021-09-23 14:40] amolnater-qasource opened #28097 "[Fleet]: Even after setting Unenrollment timeout field back to blank, installed agents get unenrolled after getting offline."
**Kibana version:**  7.15.0 BC-5 Kibana Cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 BC-5 Kibana Cloud environment should be available.
2. Agent must be installed with Default policy having System integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Set unenrollment timeout from Default Policy setting to 6

[2021-09-23 14:41] elasticmachine commented on #28097
Pinging @elastic/agent (Team:Agent)

[2021-09-23 15:03] atos-ghassen-bchir opened #28098 "Unclear documentation about the modules configuration"
Hi,

I am opening this issue because the documentation seemed unclear to me, and I wanted to discuss it with other users.

**Situation:**
I am using MetricBeats to monitor my VMs' CPU usage, with the "system" module. I therefor wanted to disable the "process" metricset (as it highly increases the storage requirements). To do so, I commented out this metricset in the /etc/metricbeat/metricbeat.yml

[2021-09-23 16:03] cdalexndr opened #28100 "[Filebeat] system module configuration: failed to publish events: temporary bulk send failure"
For confirmed bugs, please report:
- Version: 7.14.1
- Operating System:  docker image store/elastic/filebeat:7.14.1
- Discuss Forum URL:
- Steps to Reproduce:

`docker-compose` service:
[code]

Entrypoint script `entry.sh` configures some pipelines and index templates, then runs `filebeat -e --strict.perms=false`

`filebeat.yml`:
[code]

Filebeat config tester shows it's valid:
[code]

But filebe

[2021-09-23 17:27] kuisathaverat commented on #22572
I have made a couple of draft PRs, I have to create an example of deploy and the README for both Helm Charts

[2021-09-23 17:43] lukeelmers commented on #24136
Was just talking to @yspotts on the Cloud team, and learned that these changes to Filebeat will be a blocker to Cloud's ability to update to support the new logging system.

In addition to the near-term goal of supporting 8.0, Cloud will eventually aim to support the new log format in 7.16 (as this will help us greatly for debugging purposes). While this won't necessarily need to coincide with the

[2021-09-23 19:08] yspotts commented on #24136
@lukeelmers @sayden

//cc @andrew-moldovan @gmarz @nikulinivan

Talking with @AlexP-Elastic Just discovered another fly in the ointment that we need to be aware of:
Its a bit complicated but we actually have 2 separate filebeats running in the cloud:

* One that is "co-located" with the deployment. This one ships logs via the "log delivery" feature for user consumption. This filebeat is included i

[2021-09-23 19:19] andrewkroh commented on #22762
Most of the unit tests for `decode_xml_wineventlog` (and `decode_xml`) test on XML documents without a trailing newline. I don't think this is a problem for the processor.

[2021-09-23 19:53] renzedj opened #28104 "[Filebeat] Add capability to load filebeat docker/kubernetes autodiscover providers from external files"
# Use Case

Developers and administrators in our Kubernetes environment primarily use hint-based autodiscovery to trigger logging of containers within pods. However, there are a number of containers that are sufficiently widely-deployed that it makes sense to include a provider specification in our filebeat daemonset (i.e., widely-used sidecar containers). With even a few providers, this leads to

[2021-09-23 20:14] faec opened #28105 "Metricbeat's Kafka dashboard reports incorrect consumer lag"
- Version: Metricbeat 7.14.1
- Steps to Reproduce: Run the Kafka module against a Kafka cluster with intermittent consumer lag. The lag is correctly recorded in the index, but the dashboard visualization aggregates it incorrectly, so that a single entry with high consumer lag shows high lag consistently over a large span of time, even if later events have no lag. This happens even when aggregating

[2021-09-23 20:14] elasticmachine commented on #28105
Pinging @elastic/agent (Team:Agent)

[2021-09-23 20:17] andrewvc commented on #27874
I'm not sure on either of those points unfortunately ruflin. I'd think they'd be easy to resolve whenever work starts on this. Any idea on timeframe, is this scheduled for anytime in the near future?

[2021-09-23 20:38] andrewkroh commented on #27853
Are there any errors in `filebeat-json.log` or `metricbeat-json.log`? My suspicion is that the logger's file rotation is failing because the monitoring-filebeat instance has the file open.

[2021-09-23 20:44] greggailly commented on #27853
@andrewkroh Our files were filled with errors from failed grok processor. I would tend to agree with your assumption as unchecking "Collect agent logs" fixed the problem, files rotate normally.

[2021-09-23 20:44] scottdfedorov commented on #27853
There are no error-level events in my filebeat-json log that are related. (The only event is related to a specific input.) There are also no events in the elastic-agent-json.log file.

[2021-09-23 21:49] asazallesmilner opened #28108 "Endpoint fix from pull request 27024 not working in 7.14.1 docker image"
Hi @kaiyan-sheng,

We are still seeing the same error in the 7.14.1 docker container.
Logs and configs are exactly identical to the previously provided ones.

What can we do to figure out why this is still going on that?
These are the logs from the previous issue, as we see no difference than the logs today.
it is still doing  Post "https://cloudwatchlogs.<REGION>.sc2s.sgov.gov/": dial tcp: lookup

[2021-09-23 22:19] elasticmachine commented on #28108
Pinging @elastic/integrations (Team:Integrations)

[2021-09-23 22:34] wasserman commented on #26345
@andrewkroh Same issue when using filebeat inputs.  I'm using the httpjson input type with a script referenced in an external file and encountered the following error:
`Unable to hash given config: missing field accessing '0.processors' `

I suspect the same fix will cover this scenario, but I thought it was worth mentioning.

Here's a sample input:
[code]

[2021-09-24 01:53] wasserman commented on #21276
I just checked back on this and some of it seems to now be captured by the Synthetics and monitor/browser options.  This feature looks really nice, although it may take some time to figure out how to use it effectively.
https://www.elastic.co/guide/en/beats/heartbeat/current/monitor-browser-options.html

The other piece I wonder if some of the httpjson functionality from filebeat can be leveraged

[2021-09-24 01:59] TravelEngineers opened #28111 "[Filebeat] Filebeat7.15 Start error"
For confirmed bugs, please report:
- Version: 7.15
- Operating System:  Linux linux-7eon 2.6.16.60-0.21-smp #1 SMP Tue May 6 12:41:02 UTC 2008 x86_64 x86_64 x86_64 GNU/Linux
- Discuss Forum URL: -
- Steps to Reproduce:
 i run shell for this:
  sudo ./filebeat -e -c filebeat.yml

  os console  sysout for :
futexwakeup addr=0x608d428 returned -38
fatal error: unexpected signal during runtime executi

[2021-09-24 02:10] TravelEngineers commented on #28111
Team:<Bug>

[2021-09-24 02:15] xqm1991 opened #28112 "Filebeat7.15 Start error label:<bug> bug:<bug> <bug>"
or confirmed bugs, please report:

Version: 7.15

Operating System: Linux linux-7eon 2.6.16.60-0.21-smp I can't install packetbeat #1 SMP Tue May 6 12:41:02 UTC 2008 x86_64 x86_64 x86_64 GNU/Linux

Discuss Forum URL: -

Steps to Reproduce:
i run shell for this:
sudo ./filebeat -e -c filebeat.yml

os console sysout for :
futexwakeup addr=0x608d428 returned -38
fatal error: unexpected signal during

[2021-09-24 02:16] TravelEngineers commented on #28111
Team:bug

[2021-09-24 02:21] xqm1991 commented on #28112
-

1.

[2021-09-24 02:21] #28112 closed

[2021-09-24 02:43] xqm1991 commented on #28112
@7.15-candidate

[2021-09-24 02:47] xqm1991 commented on #28112
Team:<test>

[2021-09-24 08:07] #21270 closed

[2021-09-24 08:07] #21269 closed

[2021-09-24 08:07] #21243 closed

[2021-09-24 11:05] sbulic commented on #28105
@faec Can you please read that again and consider changing it:
![image](https://user-images.githubusercontent.com/1931913/134664629-a6bfb2c4-789f-44ce-a6a6-e1aa64d76610.png)

It's misleading if nothing else...

[2021-09-24 11:07] piramix commented on #24260
It is because regex "pageFromPathRegExp" wants to match anything behind / so for example server.ip.com:443 will be extracted by extract_path to value "/" and extract_path will return undefined in that case.

To fix it we need to return an empty string when path is "/" - just add if (value == "/") return "";

[code]

[2021-09-24 11:13] psanz-estc opened #28118 "Elastic Agent won't start if the default rpc port is used"
- Version: Elastic Agent 7.14.2
- Operating System: Ubuntu 20.04
- Steps to Reproduce:

Elastic Agent will bind to port 6789 by default, but when that port is used by another application, agent cannot be started.

Enrollment/installation (via fleet server)  doesn't return any error, only INFO messages:

[code]

The messages indicate that the agent has been restarted, enrolled and installed... But

[2021-09-24 11:15] psanz-estc commented on #28118
cc: @EricDavisX

[2021-09-24 13:17] eedugon commented on #28105
Thanks @sbulic ! Title fixed :)

[2021-09-24 13:23] scottdfedorov commented on #27853
Disabling the Collect Agent Logs also allowed the logs to rollover for me as well.

[2021-09-24 14:06] dagutten opened #28119 "Filebeat systemctl process not producing logs to /var/log/filebeat. Issue with --environment systemd"
Hi,

Systemctl is not producing any logs at /var/log/filebeat.  The "-e" flag is not visible in my filebeat.service at shown below:

`[Unit]
Description=Filebeat sends log files to Logstash or directly to Elasticsearch.
Documentation=https://www.elastic.co/beats/filebeat
Wants=network-online.target
After=network-online.target

[Service]

Environment="GODEBUG='madvdontneed=1'"
Environment="BEAT_LOG

[2021-09-24 14:31] piramix commented on #24260
It is because regex "pageFromPathRegExp" wants to match anything behind / so for example http://ipecho.net/ will be extracted by extract_path to value "/" and extract_path will return undefined in that case.

To fix it we need to return an empty string when path is "/" - just add if (value == "/") return "";
and in case ipecho.net:443 we need to fill out uriPath (as we are building "fake" uri null

[2021-09-24 14:43] octavialarentisgsa opened #28121 "Filebeat AWS Module - S3 input support for AWS WAF logs"
**Describe the enhancement:**
An enhancement to current the Filebeat AWS module to allow parsing of AWS WAF logs directly to ECS format is requested.

**Describe a specific use case for the enhancement or feature:**
Currently the Filebeat AWS module allows certain AWS logs to be pulled directly from AWS S3 buckets (CloudTrail, CloudWatch, ELB, EC2 etc.). This module does not offer support for WAF

[2021-09-24 18:07] #21303 closed

[2021-09-24 18:07] #21302 closed

[2021-09-24 18:07] #21294 closed

[2021-09-24 19:49] drenze-athene opened #28122 "[Functionbeat] Make Functionbeat available as Docker image for CI/CD Deployment"
# Use Case

As an Elastic Logging administrator in our environment, I have been given a requirement that all configuration in our AWS environment be done through our CI/CD pipeline. Currently this requires that I either build an image for each new version of functionbeat, or that our deployment job download it each time a deployment must be updated. A functionbeat image would simplify this process

[2021-09-24 20:57] EricDavisX commented on #27861
with this, I would like to close it out.  we can re-open if / when it is reproducible.  thanks all.

[2021-09-24 20:57] #27861 closed

[2021-09-25 17:07] #16312 closed

[2021-09-27 02:23] Blyth0He commented on #184
i have a problem parsing Fragmented Ldap SearchResponse, how do you solved this?

[2021-09-27 06:46] ruflin opened #28128 "[Elastic Agent] Filebeat registry not recrecated after cleanup"
* Version: 7.13.1
* OS: Windows

After some issues with filebeat the registry under `C:\\Program Files\\Elastic\\Agent\\data\\elastic-agent-abcdef\\run\\default\\filebeat--7.13.1\\registry\\filebeat` was wiped out and the Elastic Agent was restarted. After restart the following error is shown:

[code]

I would have expected that if the registry is removed a fresh one will be created. I assume ther

[2021-09-27 06:46] elasticmachine commented on #28128
Pinging @elastic/agent (Team:Agent)

[2021-09-27 08:52] ruflin commented on #28105
I assume the same issue will apply to the kafka package? https://github.com/elastic/integrations/tree/master/packages/kafka

[2021-09-27 09:58] dikshachauhan-qasource commented on #27968
### Bug conversion

Hi @EricDavisX

We have created 01 testcase for above reported issue under bug conversion task. Testcase link is:

- [C150165](https://elastic.testrail.io/index.php?/cases/view/150165)

Thanks
QAS

[2021-09-27 10:07] dikshachauhan-qasource commented on #27967
### Bug conversion

Hi @EricDavisX

We have created 01 testcase for above reported issue under bug conversion task. Testcase link is:

- [C150166](https://elastic.testrail.io/index.php?/cases/view/150166)

Thanks
QAS

[2021-09-27 11:11] dikshachauhan-qasource commented on #27769
### Bug conversion

Hi @EricDavisX

We have created 01 testcase for above reported issue under bug conversion task. Testcase link is:

- [C150167](https://elastic.testrail.io/index.php?/cases/view/150167)

Thanks
QAS

[2021-09-27 12:19] andrewvc commented on #21276
That's a great point @wasserman , re: combining those `httpjson` options into heartbeat. That said, it may be better at some point to just have first class support for API journeys in JS, which are much more powerful.

Which would you prefer?

[2021-09-27 12:38] binygreenberg commented on #19684
@danielharada thanks for bringing up this issue!
Does this hold true also for arrays?
I need [json_decode_fields](https://www.elastic.co/guide/en/beats/filebeat/current/decode-json-fields.html) processor
would it look something like this?

[code]

[2021-09-27 12:57] stuartnelson3 opened #28130 "[metricbeat] allow module hosts to be unix sockets"
**Describe the enhancement:**

Allow `hosts` in a module to be a unix socket. When attempting to do this I received the following error:

[code]

**Describe a specific use case for the enhancement or feature:**

I have services listening locally on unix sockets, and would like to use metricbeat to get metrics from them.

[2021-09-27 12:57] elasticmachine commented on #28130
Pinging @elastic/agent (Team:Agent)

[2021-09-27 13:05] elasticmachine commented on #28105
Pinging @elastic/integrations (Team:Integrations)

[2021-09-27 13:53] cachedout commented on #27211
@ruflin Could you please have a look at this PR and see if it's what you had in mind? https://github.com/elastic/beats/pull/28131

[2021-09-27 13:55] adriansr commented on #13911
Make all filesets disabled by default. @adriansr
https://github.com/elastic/beats/issues/17256
https://github.com/elastic/beats/pull/27762
https://github.com/elastic/beats/pull/27526

[2021-09-27 14:06] endorama opened #28132 "[Functionbeat] cannot find package "io/fs" in Google Cloud functions (go 1.13)"
- Version: 7.15.0
- Operating System: N/A
- Discuss Forum URL: https://discuss.elastic.co/t/functionbeat-missing-package-io-fs/284975
- Steps to Reproduce:
	1. run `functionbeat setup` targeting Google Cloud

Visible error:
[code]

Functionbeat 7.15.0 cannot be deployed on GCP due to a missing package: `io/fs`.

This package is available in Go [since 1.16](https://pkg.go.dev/io/fs?tab=versions), b

[2021-09-27 15:52] wasserman commented on #21276
@andrewvc I can't speak to the journeys since I've never been on one. ;)  I feel like the quickest simplest path forward would be `httpjson` given that a config from filebeat could be easily ported over to heartbeat.  Maybe even leveraging the filebeat code would be easy enough?

There may be value in including it as API journeys since it could be authored by users who already understand this work

[2021-09-27 16:02] yspotts commented on #24136
@gigerdo FYI

[2021-09-27 16:15] endorama commented on #28132
Closed by error. Reopening.

This issue is related to https://github.com/elastic/beats/pull/27012

[2021-09-27 16:33] gbanasiak opened #28133 "Filebeat CloudWatch input misses events"
In https://github.com/elastic/beats/pull/20875 we added `latency` config parameter to Metricbeat to handle AWS CloudWatch API delay in exposing S3-related metrics. Without the fix Metricbeat could have returned no data when asking for metrics in `<now - 2 x period, now>` time interval for small `period` values.

A similar problem can happen in case of Filebeat CloudWatch input. Filebeat asks for e

[2021-09-27 16:59] elasticmachine commented on #28133
Pinging @elastic/integrations (Team:Integrations)

[2021-09-27 17:53] stuartnelson3 commented on #28130
Nevermind, I see this is supported via `http+unix://` https://www.elastic.co/guide/en/beats/metricbeat/current/configuration-metricbeat.html#module-http-config-options

[2021-09-27 17:53] #28130 closed

[2021-09-27 18:49] elasticmachine commented on #28071
Pinging @elastic/integrations (Team:Integrations)

[2021-09-27 18:49] mostlyjason commented on #28071
I believe @akshay-saraswat is the PM to drive improvements for dashboard guidelines since he is the PM for the ecosystem team

[2021-09-27 20:00] ruflin commented on #27853
@andrewkroh Nice find, was not thinking of this but makes sense. @michalpristas What are the `close_*` options we use today? @kvch What options do you recommend to use for the new filestream input to make sure things work as expected also in Windows?

[2021-09-27 20:03] #27283 closed

[2021-09-27 20:34] s-nel commented on #24136
I don't really understand that, can you elaborate? I believe our stance is that we won't upgrade the L+M (ECE) and RLC (ESS) to 8.0 right away.

[2021-09-27 20:37] yspotts commented on #24136
@s-nel

Yes, your understanding is correct - I expressed in inelegantly.
That is essentially my point - that since we will keep beats-runner on 7.x for now, we need to backport filebeat support for the new logging output to some version of 7.x.

[2021-09-27 20:52] andrewkroh opened #28138 "[meta] Fields YAML improvements"
### Create 'export fields' sub-command

This command would export the field.yml data that is embedded in the beat. This provides a way to inspect exactly what fields the beat contains. This removes the need to include a fields.yml file in packages. And removes the need to generate a fields.yml containing all fields prior to executing tests that verify all fields are documented since the test can e

[2021-09-27 21:30] liza-mae commented on #27988
@kvch can you take a look?

[2021-09-27 22:35] danielharada opened #28139 "Support hints based auto-discovery in Fleet managed agents"
**Describe the enhancement:**
To achieve parity with Beats, the Fleet managed agents need to support hints based auto-discovery in all container inputs such as Docker and Kubernetes.

[2021-09-27 22:43] danielharada opened #28140 "Support CRI parsing in Fleet managed agents"
**Describe the enhancement:**
To achieve parity with Beats, Fleet managed agents need to support [CRI](https://kubernetes.io/blog/2016/12/container-runtime-interface-cri-in-kubernetes/) format parsing on log inputs from containers such as Kubernetes and Docker.

For example from Filebeat:

- Docker input CRI options:  https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-input-docker.htm

[2021-09-27 23:31] florian-asche commented on #3744
Still a problem in 7.X

[2021-09-28 00:31] elasticmachine commented on #28118
Pinging @elastic/agent (Team:Agent)

[2021-09-28 00:33] EricDavisX commented on #28118
At a minimum, we can probably detect this and put better error logging in place to help triage.

[2021-09-28 01:07] #6624 closed

[2021-09-28 07:07] gservat opened #28146 "Metricbeat - panic while fetching 'zookeeper/server'"
- Version: 6.8.6
- Operating System: Linux / Ubuntu 16.04 (xenial)

Metricbeat stopped collecting zookeeper/server metrics presumably when it had issues talking to the ZK client port (2191). We got around it by restarting metricbeat. Logs:

[code]

[2021-09-28 07:08] elasticmachine commented on #28146
Pinging @elastic/integrations (Team:Integrations)

[2021-09-28 07:30] marc-gr commented on #26165
With the addition of https://github.com/elastic/beats/pull/26847 this can be achieved through `value_type`.

[2021-09-28 07:30] #26165 closed

[2021-09-28 10:20] newly12 opened #28149 "Autodiscover could reach to k8s client's default rate limit"
**Describe the enhancement:**
currently when using autodiscover for `pod` resources, beats adds `deployment.name` if the specific pod owned by `ReplicaSet` that's also owned by `Deployment`, in this function [getRSDeployment](https://github.com/elastic/beats/blob/master/libbeat/common/kubernetes/metadata/pod.go#L140-L159), go client was used directly without leveraging k8s cache/store, however go

[2021-09-28 11:15] amolnater-qasource opened #28152 "[Self-managed 7.15]: No logs and data streams for second agent installed on self-managed fleet server."
**Kibana version:**  7.15.0 Kibana self-managed environment

**Host OS:** Windows 10x64

**Build details:**
[code]

**Pre-requirements:**
1. ELK setup should be completed.
2. Fleet Server must be setup on self-managed kibana.

**Steps to reproduce:**
1. Open ports for `8220` from advanced windows firewall settings.
2. Run agent install command on second machine.
3. Wait for 5 minutes and navigate

[2021-09-28 11:15] elasticmachine commented on #28152
Pinging @elastic/agent (Team:Agent)

[2021-09-28 11:16] amolnater-qasource commented on #28152
@manishgupta-qasource Please review.

[2021-09-28 11:30] manishgupta-qasource commented on #28152
Reviewed & assigned @blakerouse

CC: @EricDavisX

[2021-09-28 12:41] ruflin commented on #28064
I wonder if this might be related to https://github.com/elastic/fleet-server/issues/741 ?

[2021-09-28 12:43] elasticmachine commented on #28138
Pinging @elastic/agent (Team:Agent)

[2021-09-28 12:45] EricDavisX commented on #27836
I believe this scenario is reproducible via PR runs of the e2e-testing scenario.  recent run:
https://beats-ci.elastic.co/blue/organizations/jenkins/e2e-tests%2Fe2e-testing-mbp%2Fmaster/detail/master/1580/pipeline/

[2021-09-28 13:13] adam-stokes commented on #27836
This is a different error that I am tracking down:

[code]

[2021-09-28 13:26] jamiehynds commented on #19039
@andrewkroh is this issue still relevant for 8.0?

[2021-09-28 13:52] ferullo opened #28156 "Agent should start the endpoint service if it isn't running"
When Endpoint Security integrations is enabled, if the endpoint service is not running on a computer Agent should periodically attempt to start it.

[2021-09-28 14:00] A-Hall opened #28157 "Default AWS config creates two AWS module instances."
For confirmed bugs, please report:
- Version: 7.14.0

The default config for the aws module (comments omitted for brevity) contains `- module: aws` twice which can cause a new aws module instance with all 6 filesets enabled but not configured to be created.

[code]

This throws a confusing error when the cloudtrail module is actually properly configured:
[code]

[2021-09-28 14:06] #28021 closed

[2021-09-28 14:11] elasticmachine commented on #28157
Pinging @elastic/integrations (Team:Integrations)

[2021-09-28 14:31] stuartnelson3 opened #28159 "[metricbeat] `basepath` ignored/erased in `beat` module"
According to the metricbeat's [beat module documentation](https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-module-beat.html), the module supports standard http configuration options, such as `basepath`.

- Version: 7.15
- Operating System: Ubuntu 21.04
- Steps to Reproduce:

1. Start metricbeat with a `beat` module that uses `basepath`, such as:
[code]
2. Run apm-server (or any

[2021-09-28 14:36] andrewkroh commented on #19039
Yes, this is relevant. I went through and checked the boxes for the ones that have been address, but the others still should be changed for 8.0.

[2021-09-28 14:42] simitt commented on #28064
@kuisathaverat are you actively using the Fleet Server? (do you have any local elastic-agents insalled that enroll to the cloud hosted fleet-server)? Otherwise I don't see how this should be related.

[2021-09-28 14:43] elasticmachine commented on #19039
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-28 15:10] kaiyan-sheng commented on #28157
This bug should be fixed by this [PR](https://github.com/elastic/beats/pull/27575) several weeks ago. The new 7.15.0 and 7.14.2 should include this fix.

[2021-09-28 15:11] kaiyan-sheng commented on #28157
Sorry I closed it by accident... If you could confirm the new versions don't have this bug, that would be great. TIA!!

[2021-09-28 15:21] EricDavisX commented on #28152
Hi - this is basically indicating that all of Fleet / Agent isn't viable.  Which I'm sure (and really hope) isn't true.  Can we research your environment set up to see if anything new has been done or if it was known working prior?

Please tell us if you are using vSphere (Endgame cluster) or AWS hosts?  If vSphere, I would question the templates used during creation, we know that they were *just

[2021-09-28 16:35] adammike commented on #28139
This issue is blocking our adoption of elastic agent and elastic cloud. It's extremely urgent for our team.

[2021-09-28 16:36] adammike commented on #28140
This issue is blocking our adoption of elastic agent and elastic cloud. It's extremely urgent for our team.

Without this, elastic-agent is unusable on IBM Kubernetes Service, Amazon EKS, or any other Kubernetes implementation that uses the containerd container runtime.

[2021-09-28 16:44] Esity opened #28166 "Enable Packetbeat SIP TCP collection"
Currently only UDP is supported on Packetbeat for SIP. We would love to see TCP be captured

https://github.com/elastic/beats/tree/master/packetbeat/protos/sip#published-for-each-sip-message-request-or-response

[2021-09-28 17:57] elasticmachine commented on #28166
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-28 18:35] kaiyan-sheng commented on #26840
Reopening this issue because https://github.com/elastic/beats/pull/28037 in 7.x branch is seeing this flaky test again.

[2021-09-28 18:38] kaiyan-sheng opened #28169 "Flaky Test [Build&Test / x-pack/metricbeat-pythonIntegTest / test_qmgr – x-pack.metricbeat.module.ibmmq.test_ibmmq.Test]"
## Flaky Test

* **Test Name:** `test_qmgr` in test ibmmq
* **Link:** https://github.com/elastic/beats/blob/23e4403ae093fcc8f7905345cad2c7ad256976d8/x-pack/metricbeat/module/ibmmq/test_ibmmq.py#L12
* **Branch:** 7.x
* **Notes:** https://github.com/elastic/beats/pull/28037

### Stack Trace

[code]

[2021-09-28 19:05] kaiyan-sheng commented on #28169
This should be fixed by https://github.com/elastic/beats/pull/28055

[2021-09-28 19:05] #28169 closed

[2021-09-28 19:05] elasticmachine commented on #28169
Pinging @elastic/integrations (Team:Integrations)

[2021-09-28 20:01] EricDavisX commented on #27836
Adam is right.  let's re-close - sorry for the confusion.

[2021-09-28 20:01] #27836 closed

[2021-09-28 20:13] kaiyan-sheng commented on #28108
Hi @asazallesmilner, sorry I was looking for the problem in a wrong direction... Turned out it's because we are actually overwriting the endpoint config again later on in the code. Here is the fix for this problem: https://github.com/elastic/beats/pull/28170. Sorry again for the delay and inconvenience. Totally my mistake! The fix will be merged and released for 7.15.1 and 7.16.0.

[2021-09-28 21:11] gmarz commented on #24136
@yspotts Thanks for pinging us 👍

On the Cloud Platform side (in terms of the beats-runner upgrade) we are OK with the changes proposed in https://github.com/elastic/kibana/issues/50660, as long as support for the legacy format is backported to some 7.x version that we can upgrade to before 8.0. @planadecu Can you coordinate with the beats team on determining what version that will be?

Separately

[2021-09-28 21:28] #20729 closed

[2021-09-28 22:29] perceptivesecurity commented on #23397
When is fleet-managed elastic-agents output to logstash planned to be released? Would be really great to have that functionality as soon as possible, so we can start to roll out agents in masses :). There is probably no environment where all the endpoints are permitted to all connect to an central elasticseach cluster. So central hubs (like logstash) and fleet management are essential to be able t

[2021-09-29 03:24] efd6 commented on #19039
@andrewkroh Is [this coredns deprecation](https://github.com/elastic/beats/blob/6e69b0578bc654dae0f09fc71fd9d5d639a7914a/x-pack/filebeat/module/coredns/log/ingest/pipeline-entry.yml#L75-L102) relevant here? If so, what else is required?

[2021-09-29 06:06] efd6 commented on #26668
@ynirk Can I check whether it is consistently the same hosts? and whether the hosts are under load during this start up?

Looking at the relevant changes between 7.12.0 and 7.13.2 there is no change that would introduce this behaviour, but the previous deadlock behaviour may have hidden it by failing out.

Are you able to test increasing the [number of retries](https://github.com/elastic/go-libaud

[2021-09-29 06:28] #21352 closed

[2021-09-29 06:28] #21346 closed

[2021-09-29 08:13] kuisathaverat commented on #28064
The release cluster uses the Fleet+APm Server service deployed by ESS, we send APM traces with Opbeans, Kibana, and Beats to that service. I am not sure we generate too much load.

<img width="1630" alt="Screenshot 2021-09-29 at 10 11 51" src="https://user-images.githubusercontent.com/5400788/135229329-b6fb7c1f-6292-4266-b62d-4833e17edc9e.png">

<img width="1637" alt="Screenshot 2021-09-29 at 10 1

[2021-09-29 08:45] #28159 closed

[2021-09-29 08:55] ruflin opened #28181 "[Elastic Agent] Ensure all processes work with `HTTP_PROXY` variables"
Proxy can be configured for Elastic Agent in 3 different ways:

* Command line flag --proxy-url
* Config option
* Environment variables `HTTP_PROXY`, `HTTPS_PROXY`

Elastic Agent over time will run new subprocesses. In https://github.com/elastic/beats/issues/25021 the expected behaviour was discussed. This issue is about discussing how we ensure / test that all processes we run support all the dif

[2021-09-29 09:30] simitt commented on #28064
Thanks @kuisathaverat. With this setup there is no load generated against the Fleet Server, only against the APM Server. Therefore the issue does not seem to be related to https://github.com/elastic/fleet-server/issues/741 (as suspected earlier by @ruflin).

[2021-09-29 10:09] amolnater-qasource commented on #28152
Hi @EricDavisX

Thanks for your feedback, we have shared our environment details mail with you, subject "Environment details for #28152".

We have tested this with VSphere machines.
I used Windows 10 x64 template and also installed second agent on another Windows 10 x64.
We have shared the IP for self-managed environment over the shared mail.

Please let us know if anything else is required from o

[2021-09-29 10:15] kuisathaverat commented on #28064
This is the list of Elastic Agent connected, there are not many
<img width="1266" alt="Screenshot 2021-09-29 at 12 14 02" src="https://user-images.githubusercontent.com/5400788/135249844-2e85393d-8228-4a42-9e4e-d5088ba378ad.png">

[2021-09-29 12:53] dikshachauhan-qasource commented on #27441
Hi @EricDavisX

We attempted to reproduce above scenario and found it working fine. Below are the steps followed:

1 Installed 7.14.2 version snapshot agent using policy say 'Test1' having only system integration on 7.15 snapshot Kibana cloud.
2 Installed a separate Fleet Server Agent host under Policy say 'Fleet server' having only Fleet server integration.
3 Deleted the cloud FS url from Fleet s

[2021-09-29 13:23] ruflin commented on #28152
It would be good to have the logs from the Elastic Agent that does not seem to ship any data including the logs from processes (metricbeat / filebeat / ...)

[2021-09-29 14:15] andrewkroh commented on #19039
@efd6 Yes, that looks relevant. I've added a bullet point to the description for this. I think what needs done is to remove those processors from the pipeline, remove the related fields from the _meta/fields.yml file, and then run `make update` to regenerate some files and docs.

[2021-09-29 15:56] nimarezainia commented on #27712
let's also provide a flag to override the agent name for more flexibility.

[2021-09-29 19:28] #21376 closed

[2021-09-29 19:31] dedemorton commented on #27845
Closing this issue as a duplicate because we are tracking the requirement here: https://github.com/elastic/observability-docs/issues/593

From what I understand, there were some problems related to proxy support in 7.15. It is on our radar for 7.16. Thanks!

[2021-09-29 19:31] #27845 closed

[2021-09-29 21:23] efd6 commented on #19039
@andrewkroh It mentions removing `coredns.dnssec_ok`, so that should be hosed out too?

[2021-09-29 21:30] andrewkroh commented on #19039
Yes, `coredns.dnssec_ok` can be removed because we have `dns.header_flags` in the event (an ECS field) and users can check for the `DO` flag that indicates "DNSSEC answer OK".

[2021-09-29 22:29] andrewvc opened #28197 "[Heartbeat] Support PlaywrightOptions"
Heartbeat counterpart to https://github.com/elastic/synthetics/issues/388, proposes support for a new option for browser monitors

ACs:
* Add a new optional `playwright_options` parameter that defined the JSON to be passed to playwright directly (as added to Synthetics in https://github.com/elastic/synthetics/issues/388)

[code]

[2021-09-29 23:31] elasticmachine commented on #28197
Pinging @elastic/uptime (Team:Uptime)

[2021-09-30 07:22] lisikh commented on #25135
Any chance to fix that? The problem still exists on filebeat 7.15

[2021-09-30 08:00] amolnater-qasource commented on #28152
Hi @ruflin
Please find below elastic-agent `debug` level logs:
[dlogs.zip](https://github.com/elastic/beats/files/7257711/dlogs.zip)

Please let us know if anything else is required from our end.
Thanks

[2021-09-30 09:49] amolnater-qasource commented on #28152
Hi @EricDavisX
We have revalidated this issue on 7.15 AWS self managed kibana and found it **reproducible** there too:
**Scenarios covered:**
1. Vsphere Fleet Server and VSphere agent
2. Vsphere Fleet Server and AWS agent
3. AWS Fleet Server and AWS agent
4. AWS Fleet Server and VSphere agent

Inbound rules-Ports:
1. `8220`
2. `5555`

We are still not able to view any logs and data streams for the

[2021-09-30 10:36] sw-jung opened #28202 "Improve `event.outcome` field set"
**Describe the enhancement:**
Filebeat Elasticsearch module is setting `event.outcome` field for audit events according to [ECS definition](https://www.elastic.co/guide/en/ecs/current/ecs-allowed-values-event-outcome.html).

However, currently only 4 fields `['authentication_success', 'access_granted', 'run_as_granted', 'connection_granted']` be categorized to `success` and the others will be `fai

[2021-09-30 11:28] ruflin commented on #28152
I see the following in the filebeat logs:

[code]

I wonder how the machine "actively" refused the connection? Any idea?

[2021-09-30 14:28] #21304 closed

[2021-09-30 15:40] seang-es opened #28204 "Custom naming for agents in Fleet dashboard"
Currently, Fleet names agents based on the hostname provided by the agent.  The problem is that the hostnames provided by the agents are not consistent, with some using a FQDN and others using a short hostname.  It would be helpful to be able to define a naming scheme here and have the agents use that instead, so all devices would have a consistent naming convention.

[2021-09-30 15:41] seang-es commented on #28204
Duplicate of https://github.com/elastic/beats/issues/27712

[2021-09-30 15:41] #28204 closed

[2021-09-30 16:15] lukeelmers commented on #24136
@gmarz Were you meaning to say "as long as support for the _new_ format is backported"? If so, I think that's a question for @sayden to confirm, but we will need to support both as I mentioned above:

[2021-09-30 17:28] #21423 closed

[2021-10-01 06:40] simitt opened #28209 "[elastic-agent] Elastic Agent shuts down when Fleet Server is unhealthy"
## Current Behavior
When starting the Agent with Fleet-Server with the setup command, in case the Fleet Server can not be set up correctly, the Elastic Agent does not expose the health check endpoint and eventually shuts down. This happens for example when the package registry is (temporarily) unavailable causing issues for the Fleet setup, or when trying to enroll into an Agent Policy without a F

[2021-10-01 08:30] jochen1234 commented on #27161
Hi guys, we face the same problem on shared ocp environment send application Prometheus data to elastic. Need a solution quickly. Cheers Jochen.

[2021-10-01 08:52] mtojek opened #28210 "Flaky: policy is never assigned to agent"
Hi Team,

it happens from time to time and I suppose we have already fixed this: https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/master/913/pipeline/

Logs and metrics are in the "Artifacts" tab.

If you need internal filebeat and metricbeat logs of Elastic Agent, let me know and I will tell you how to access them (stored in beats-ci-temp bucket).

It af

[2021-10-01 08:52] elasticmachine commented on #28210
Pinging @elastic/agent (Team:Agent)

[2021-10-01 09:35] bmbrit commented on #20313
Hi @jsoriano,

I would like to see IOPS and Total Latency for the Datastore metricset, Throughput and Network like Current Send/Receive KBps, Interface Name of Disk's of the Virtual Host and the same for the Host. I tried the 7.15(latest now) metric beat, which claimed to have these details which looks missing. Also, there was a rumour that there is a metricset called "Performance" which could pro

[2021-10-01 10:24] andresrc opened #28211 "Update Go to 1.17.x"
Update Go to 1.17.x:

- [ ] Create the new [crossbuild image](https://github.com/elastic/golang-crossbuild) (if not already available)
- [ ] Update required files in the beats repository:
  * `.go-version`
  * `libbeat/docs/version.asciidoc`
  * `*/Dockerfiles`
  * `*/*/Dockerfiles`
- [ ] Create PR, fix issues and merge when green.
  * We can start with the automated PR, like https://github.com/el

[2021-10-01 10:47] oguzy opened #28212 "Not able to exclude path /hostfs/etc/sv/monit/"
My auditbeat is installed on Pivotal Kubernetes Service environment, on a Kubernetes cluster.  Although i had tried with different variations, never managed to exclude the path:

[code]

Below is the yaml file

[code]

[2021-10-01 13:04] boomcubist commented on #20001
@peterdkdp, I have followed your steps but I can't see the additional fields in Kibana. Are there any other steps that I need to follow?

[2021-10-01 13:17] adriansr opened #28215 "Make default_field: false the default for v8.0"
In the past, we used to add all fields to the index `index.query.default_field` list (see [this doc](https://www.elastic.co/guide/en/kibana/7.15/upgrade-assistant-api-default-field.html) for an explanation of what it does).

When Filebeat grew close to 1024 fields, we started having problems due to the limit of 1024 fields in `index.query.default_field`. To workaround this issue, the ability to de

[2021-10-01 13:27] adriansr commented on #13911
Added:

- [ ] Make `default_field: false` the default for fields.
https://github.com/elastic/beats/issues/28215

[2021-10-01 13:34] #27835 closed

[2021-10-01 14:36] adriansr commented on #28215
Here's the current size of the default_field index template setting for the different Beats:

| Beat | default_field length |
|-----|-----|
|auditbeat|      626|
|filebeat|      567|
|heartbeat|      382|
|journalbeat|      309|
|metricbeat|      794|
|packetbeat|      657|
|winlogbeat|      487|
|x-pack/auditbeat|        669|
|x-pack/filebeat|      946|
|x-pack/functionbeat|      359|
|x-pack/hea

[2021-10-01 14:37] elasticmachine commented on #28215
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-10-01 14:55] andresrc commented on #28209
ping @blakerouse

[2021-10-01 15:13] Davide95 commented on #21188
Hi everyone

I have a similar issue.
If I run
`go get github.com/elastic/beats/v7`
it returns
[code]
any idea on how to fix it? Thanks in advance

[2021-10-01 15:46] porebar commented on #14933
Hi Marcus,
This was very helpful, thank you.

I have added the processor you suggested above, it worked well. Now in Kibana it shows the host.address as 'unknown field' .  Guess this means I need to the field to the index next?

[2021-10-01 17:00] jasonrhodes commented on #26480
I've updated this ticket's description and AC to reflect our new strategy that supports more collection modes in 8.x. We still need the work outlined in this ticket so that we can achieve this support.

[2021-10-01 19:36] ppine7 commented on #22813
Filebeat also does not stop when it fails to send data into its output, and is in retry stage. Below are example logs form Filebeat when it cannot connect to Elastic cluster due to auth errors. In this state, killing it with Cntrl+C does not produce any result, only 'kill pid' from another terminal works.

`2021-10-01T15:28:00.011-0400	INFO	[publisher_pipeline_output]	pipeline/output.go:145	Attemp

[2021-10-01 19:43] wasserman opened #28221 "Filebeat httpjson cursor not saved when splitting on empty array."
On filebeat 7.14.1, but probably other recent versions, I'm using httpjson to query an API for Proofpoint.

The Proofpoint SIEM API is documented here: https://help.proofpoint.com/Threat_Insight_Dashboard/API_Documentation/SIEM_API

A sample payload is here: https://help.proofpoint.com/Threat_Insight_Dashboard/API_Documentation/SIEM_API#section_29

Below is an example adapted for just `messagesBlo

[2021-10-01 21:03] adammike commented on #27216
Any idea when this is going to make it into a release? This bug is still present in 7.15.0

[2021-10-01 21:18] peasead commented on #27423
This won't make 7.15, but it's in the pipeline now. Release in 7.15.1 or 7.16.

@P1llus may have more to update.

[2021-10-01 21:20] peasead commented on #26792
Any update on this? Is this closed?

[2021-10-01 21:58] P1llus commented on #27423
I can help getting this merge at the start of next week, sorry for the delay :(

[2021-10-01 23:08] mattheweberger commented on #21495
Possible revisit this on 7.X roadmap?

[2021-10-02 19:02] rhanka opened #28222 "[Filebeat] Enable S3 support for other clouder than AWS's"
**Describe the enhancement:**
Many cloud service and private resources handle s3.
Most s3 libs support such alternate s3 services, like logstash
Since bucket_arn feature, SQS isn't a dependency anymore so using any S3 should be possible.

**Describe a specific use case for the enhancement or feature:**
Well i'd love to retrieve logs stored to Scaleway S3 buckets.
I didn't manage to use https://s3.

[2021-10-02 19:02] rhanka opened #28223 "[Filebeat] Enable S3 support for other clouder than AWS's"
**Describe the enhancement:**
Many cloud service and private resources handle s3.
Most s3 libs support such alternate s3 services, like logstash
Since bucket_arn feature, SQS isn't a dependency anymore so using any S3 should be possible.

**Describe a specific use case for the enhancement or feature:**
Well i'd love to retrieve logs stored to Scaleway S3 buckets.
I didn't manage to use https://s3.

[2021-10-02 19:27] rhanka commented on #28223
duplicate #28222

[2021-10-02 19:27] #28223 closed

[2021-10-03 17:23] ChrsMark commented on #27216
@adammike this one will be fixed with 7.16 version of elastic-agent.

[2021-10-03 21:46] kaiyan-sheng commented on #17731
https://github.com/aws-samples/amazon-ecs-firelens-examples/pull/55 is merged into AWS samples for ecs firelens.

[2021-10-03 21:46] #17731 closed

[2021-10-03 22:47] lifeofguenter commented on #17731
Thanks @kaiyan-sheng those are great news <3

I might have been unclear with my original request which is to add support to filebeat for the fluentd-forwarding protocol as an input (https://www.elastic.co/guide/en/beats/filebeat/current/configuration-filebeat-options.html).

This would allow us to run filebeat as a sidecar to work with firelens directly. Currently only fluentd/fluentbit is support

[2021-10-04 08:57] bitnapper opened #28227 "Filebeat Module CISCO Documentation"
In  the cisco filebeat module for ios is a setting (var.input) for the input type (var.input). Different from the other filesetzs in ios it switches between syslog rfc5424 (var.input: syslog) and rfc3164 (#var.input) and, i guess, file.

The default config says

The documentaion has no section about var.input.

Please change the description in the default config explaning which value does what and

[2021-10-04 13:05] #23226 closed

[2021-10-04 13:33] simitt commented on #28209
@blakerouse is working on a fix for always exposing the `http` endpoint, also during bootstrapping process.

[2021-10-04 13:58] adammike commented on #27216
Seeing as how 7.15.1 is not out yet, I assume 7.16 months away?

[2021-10-04 14:07] jlind23 commented on #27270
@JohannesMahne is this issue still relevant?

[2021-10-04 14:17] elasticmachine commented on #28222
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-10-04 14:17] elasticmachine commented on #28222
Pinging @elastic/integrations (Team:Integrations)

[2021-10-04 14:25] lunarok commented on #20346
Hi,

Just move to elastic-agent with Fleet management.
And yes, that's something missin the "autodiscovery" feature to retrive all logs from docker and at same time having an option in different integrations to map the discovered logs to them (thinking MySQL, Traefik, Apache, Nginx ...)
I think an integration "Docker Logs" with the autodiscovery options configurable in the fleet management will be

[2021-10-04 15:36] dennybaa commented on #19830
same behaviour
[code]

Neither `process_array` nor `max_depth` has any effect on nesting and json parsing.

[2021-10-04 15:38] dennybaa commented on #19830
same behavior:

[code]

Both `process_array` and `max_depth` have no effect on nesting and json parsing :(

[2021-10-04 15:43] jlind23 commented on #27874
@kvch worked on it recently, she will quickly keep you posted here.

[2021-10-04 16:33] ferullo opened #28237 "Additional field in `.fleet-actions-results` document"
Below is the content of an issue originally filed against Endpoint (https://github.com/elastic/endpoint-dev/issues/9804). However since the document in question is written by Agent, Agent is where the work needs to be implemented.

**What product is this feature for?**
 - Elastic Endpoint
 - Elastic Endpoint team

**Is your feature request related to a problem? Please describe.**
The host isolatio

[2021-10-04 16:33] ferullo commented on #28237
cc @kevinlog @ashokaditya

[2021-10-04 16:50] danielharada commented on #28140
Here's an example configuration that has been shown to work on the standalone agent:
[code]

[2021-10-04 21:19] jpaskhay opened #28240 "[Functionbeat] Add support for AWS Kinesis record deaggregation"
**Describe the enhancement:**
FunctionBeat does not currently handle the [Kinesis aggregated record format](https://github.com/awslabs/amazon-kinesis-producer/blob/master/aggregation-format.md), which is commonly used to improve throughput and cost savings with AWS Kinesis. It should be updated to handle [consumer deaggregation](https://github.com/awslabs/kinesis-aggregation) appropriately so that

[2021-10-05 06:07] simitt opened #28245 "[cloud] Return apm-server information in healthcheck"
ESS/ECE supports running apm-server standalone (legacy) or managed by Elastic Agent. To reduce the stack specific overhead, the elastic-agent should abstract the details of the apm-server. The elastic-agent `/processes` endpoint should always return information for the apm-server process, even if in standalone mode.

[2021-10-05 06:07] elasticmachine commented on #28245
Pinging @elastic/agent (Team:Agent)

[2021-10-05 07:02] elasticmachine commented on #28245
Pinging @elastic/elastic-agent-data-plane  (Team:Elastic-Agent-Control-Plane)

[2021-10-05 07:05] elasticmachine commented on #28237
Pinging @elastic/agent (Team:Agent)

[2021-10-05 07:05] elasticmachine commented on #28237
Pinging @elastic/elastic-agent-control-plane  (Team:Elastic-Agent-Data-Plane)

[2021-10-05 07:09] ChrsMark commented on #27216
7.16 is not coupled with any of 7.15.x releases, the scopes are different. However 7.16 is not freezed yet, so it will take some time but not so much :). Btw this is not a critical bug you can just ignore it, right? The only problem is that it might overflow the logs/disk.

[2021-10-05 07:17] michalpristas commented on #28245
just few followup questions:
what kind of information can be hardcoded and are not changed.
we do know process ID do we know also metrics endpoint exposed by this process? is the path/port static?

[2021-10-05 08:50] amolnater-qasource commented on #27759
Hi @EricDavisX
We have attempted to Upgrade 7.15.0 released linux .tar agent on 7.16.0 Snapshot and found similar issue there.
- Agent didn't upgrade to 7.16.0.
- Agent went `Unhealthy`.
- However after approximately 15 minutes, unknowingly agent got upgraded to 7.16.0 Snapshot.

**Build details:**
BUILD: 44811
COMMIT: 53fa6f53a005b244e70b5a696a8742d2fd1706f0
ARTIFACT LINK: https://artifacts.elast

[2021-10-05 09:08] amolnater-qasource opened #28248 "[Agents]: 7.15 Agent gets unhealthy when upgraded to 7.16.0 Snapshot with Endpoint Security."
**Kibana version:**  7.16.0 Snapshot Kibana Cloud environment

**Host OS and Browser version:** Windows 10 x64, Ubuntu 20 and MAC bigsur 11.0.1, All

**Build details:**
[code]

**Preconditions:**
1. 7.16.0 Snapshot Kibana Cloud environment should be available.
2. 7.15.0 released Agent must be installed with **Default policy having System and Endpoint Security integration**.
3. Test Signing should

[2021-10-05 09:08] elasticmachine commented on #28248
Pinging @elastic/agent (Team:Elastic-Agent)

[2021-10-05 09:08] amolnater-qasource commented on #28248
@manishgupta-qasource Please review.

[2021-10-05 11:09] peterdkdp commented on #20001
Did you check your index template? Maybe it's set to strict or not allowing dynamic fields.
Except for event.action and event.sequence the other fields are custom and are not available in ECS.
I've put them in an override template for winlogbeat in our environment.

[2021-10-05 11:13] manishgupta-qasource commented on #28248
Reviewed & assigned to @blakerouse

CC: @EricDavisX

[2021-10-05 11:17] kvch commented on #27270
Closing this issue, as a PR has been released in 7.15 with a possible fix: https://github.com/elastic/beats/pull/27508

Also, in general if you do not want to load ILM policies everytime your Beat starts set `setup.ilm.enabled` to false.

If the issue persist, please reopen it.

[2021-10-05 11:17] #27270 closed

[2021-10-05 12:46] Ruuucker commented on #2073
Hello folks, there is a dirty workaround to implement stream of real time logs from ETW providers in, at least, Winlogbeat.
Winlogbeat could read pure .etl extension files, so in my case I just create a ETW session with providers and write logs to an .etl file. After that you can set the log file in a config like this:
winlogbeat.event_logs:
  - name: C:\Windows\System32\winevt\Logs\ADtest.etl

An

[2021-10-05 16:28] #11825 closed

[2021-10-05 16:58] jsoriano commented on #20313
Hey @bmbrit, I am not aware of any recent change in the datastore metricset adding the information you mention. The only fields that have been recently added are the ones for total and free CPU (#26167). There is no "performance" metricset for vsphere.

[2021-10-05 18:51] EricDavisX commented on #27759
Thanks for the continued follow up.

This comment is interesting to unpack, I wonder if our process getting hung and timing out, but needlessly, then continuing on successfully after the fact.  @michalpristas do you have any thoughts?

@andresrc I'm curious if we should put this to our 'urgent review' list to spend time or if we want to accept the risk that other Ubutunu 20 hosts work ok, just the

[2021-10-06 02:25] zez3 commented on #26750
I'm on 7.15 and still see this

[2021-10-06 04:14] matthew-lubbers commented on #23653
@andrewkroh - I believe each of these new log sources could be their own fileset under the Azure module.

[2021-10-06 06:04] tom-x1 commented on #21495
Just stumbled upon the same issue

[2021-10-06 08:09] amolnater-qasource commented on #28000
Hi @EricDavisX
While testing on 7.15.1 Snapshot we have observed no `error` logs for elastic-agent under Logs tab.
- No error logs for Windows, MAC, Linux .tar, .rpm and .deb agents.

**Build details:**
BUILD: 44148
COMMIT: 00e70fb6507224ac554acc8011b6d39218e62c98

Hence we are **closing** this issue.
Thanks

[2021-10-06 08:11] elasticmachine commented on #28132
Pinging @elastic/elastic-agent-data-plane  (Team:Elastic-Agent-Data-Plane)

[2021-10-06 08:27] jsoriano opened #28271 "Failure to initialize cloudfoundry http client"
Cloudfoundry input fails to initialize with the following error:
[code]

Issue is probably related to the changes in http clients in https://github.com/elastic/beats/pull/25219, doppler consumer expects a transport that has probably a different type now, here: https://github.com/elastic/beats/blob/23e4403ae093fcc8f7905345cad2c7ad256976d8/x-pack/libbeat/common/cloudfoundry/dopplerconsumer.go#L41-L4

[2021-10-06 08:27] elasticmachine commented on #28271
Pinging @elastic/integrations (Team:Integrations)

[2021-10-06 08:40] toby-lego commented on #15879
This is still an issue. We're trying to use functionbeats but don't want to put secure credentials in environment variables. Any integration with AWS Secrets Manager or System Parameter would be very useful.

[2021-10-06 08:47] elasticmachine commented on #27759
Pinging @elastic/elastic-agent-control-plane  (Team:Elastic-Agent-Control-Plane)

[2021-10-06 08:52] elasticmachine commented on #15879
Pinging @elastic/agent (Team:Elastic-Agent)

[2021-10-06 09:28] #18056 closed

[2021-10-06 10:00] v1v commented on #25755
https://github.com/elastic/beats/pull/28134 has been merged now therefore this particular issue can be closed as done.

Thought, there are still some changes needed to be done in the Unified Release process, but those changes will be tackle in some other follow ups. The meta issue will contain those references.

Cheers

[2021-10-06 10:00] #25755 closed

[2021-10-06 11:19] jsoriano opened #28278 "Improve test coverage for Cloud Foundry inputs"
Currently the only tests for Cloud Foundry are integration tests that need to be run manually. They are ok when changes are done in Cloud Foundry specific code, but other refactors may overlook issues introduced there.

Having an integration test scenario with a real environment is expensive and time consuming, it'd be good to have tests that can be run locally and in CI without requiring a whole

[2021-10-06 11:19] elasticmachine commented on #28278
Pinging @elastic/integrations (Team:Integrations)

[2021-10-06 11:54] andrewkroh opened #28279 "[libbeat] Deprecate common.Float"
The [`common.Float`][1] type was at one time used to ensure that float values were always marshaled with a decimal point (e.g. `.000000`) so that dynamic mapping in ES would set the proper type. But since about 2017 (https://github.com/elastic/beats/pull/4492) this type has not been used. After we switched to using github.com/urso/go-structform for encoding events to JSON the `common.Float` implem

[2021-10-06 13:21] kvch commented on #23627
I am closing this issue. Feel free to reopen if the problem resurfaces.

[2021-10-06 13:21] #23627 closed

[2021-10-06 13:25] EricDavisX commented on #28152
I'll ask if anyone can dig in to review it - still hoping it may be a known bug.

[2021-10-06 13:31] blakerouse commented on #28152
Based on the description of the issue seems that the elasticsearch is also running on the Windows host. This will require that it is configured to bind to "0.0.0.0" as well as expose port 9200 through Windows firewall.

From what I have read, that has not been done.

Give that a try and see if it fixes the issue.

[2021-10-06 14:16] kvch commented on #23466
Closed in #25262

[2021-10-06 14:16] #23466 closed

[2021-10-06 14:17] kvch commented on #21708
The error should be clearer now: #25262
Please reopen if the issue persists.

[2021-10-06 14:21] #21653 closed

[2021-10-06 14:25] legoguy1000 commented on #25035
Doesn't look like this was worked yet.

[2021-10-06 14:33] kvch commented on #28132
If this gets fixed we would only support it for a few weeks after its release. Hence, it does not make sense to fix it if we are removing it in the future.

[2021-10-06 14:33] #28132 closed

[2021-10-06 14:57] sayden commented on #24136
I managed to spend some time on this today and started to modify the pipeline.

So as far as I can understand, a TLDR is that Filebeat needs to support ASAP Kibana logs for 7.x and 8.x at the same time, right? (all blame on my about the ASAP, don't assume malice).

[2021-10-06 15:19] yspotts commented on #24136
@sayden thank you!
I would say ASAP for 8.x. 7.x is important, but some decisions are TBD on 7.x

(And I certainly dont ascribe any malice; we are all working hard on so many things and it seems like there is a never ending list of stuff that is ASAP, no worries at all my friend!)

[2021-10-06 15:20] #7641 closed

[2021-10-06 15:20] faec commented on #6871
Syslog input now supports RFC5424

[2021-10-06 15:20] #6871 closed

[2021-10-06 15:21] faec commented on #12174
Closing: disk spool is deprecated in favor of the disk queue

[2021-10-06 15:22] #14536 closed

[2021-10-06 15:22] faec commented on #16676
Disk spool is deprecated in favor of the disk queue

[2021-10-06 15:22] #16676 closed

[2021-10-06 15:57] faec commented on #20358
We've never managed to reproduce this issue or seen it reported after 7.0 -- closing absent any fresh reports

[2021-10-06 15:57] #20358 closed

[2021-10-06 15:58] #11504 closed

[2021-10-06 16:15] faec commented on #22535
This is probably not too hard of a fix, but other issues took precedence and it never made it into a release cycle; not sure at this point how important it is since other related memory fixes have been implemented in the meantime. Unassigning so this can be re-triaged.

[2021-10-06 16:15] elasticmachine commented on #22535
Pinging @elastic/elastic-agent-data-plane  (Team:Elastic-Agent-Data-Plane)

[2021-10-06 16:34] faec commented on #17607
Unassigning to re-triage

[2021-10-06 22:19] lukeelmers commented on #24136
@sayden Thanks for looking into this! Yep, 8.x is most critical, however I know we have 7.16 FF coming up first, so unless this is something you'd envision going out in a 7.16.x patch release (which would be up to you all), you may want to consider tackling both of them at once. There would still be benefit to users to have support on 7.x, even if we are still working out some of the details on th

[2021-10-07 03:26] efd6 commented on #21495
In the case of an incomplete response, miekg/dns allows an empty IP to be packed into an answer; case 0 below:
[code]

This is then rendered as `<nil>` by `dns.rrToString` during packetbeat publication.

Given that the record is a dropped repetition, I think it's reasonable to omit the IP from the record. It would be good if someone who has seen this on their installations could confirm that the s

[2021-10-07 08:49] #13535 closed

[2021-10-07 08:49] #23590 closed

[2021-10-07 09:23] #28271 closed, assigned to jsoriano

[2021-10-07 10:10] jamiehynds commented on #1034
We just shipped a new pfSense integration with Elastic Agent as part of the 7.15 release. It enables easy ingestion of pfSense logs and includes ECS mappings and dashboards. It may be of interest to some folks who have commented in this issue.

[2021-10-07 10:17] adriansr opened #28303 "Heartbeat: Gzip content-encoding in response is never decoded"
For confirmed bugs, please report:
- Version: <=7.15
- Operating System: any
- Discuss Forum URL:
- Steps to Reproduce:

HTTP requests from Heartbeat never include an `Accept-Encoding` header. This is due to faulty logic in:

https://github.com/elastic/beats/blob/e96668690b202495271346eb45d0dbde6dc76c7e/heartbeat/monitors/active/http/simple_transp.go#L89-L98

Here the `t.DisableCompression` flag i

[2021-10-07 10:17] elasticmachine commented on #28303
Pinging @elastic/uptime (Team:Uptime)

[2021-10-07 10:38] amolnater-qasource commented on #28152
@michalpristas We have re-attempted with the updated elasticsearch.yml:
[elasticsearch.zip](https://github.com/elastic/beats/files/7301810/elasticsearch.zip)

Re-installed the fleet server and Secondary Agent:
**elasticsearch host:** http://localhost:9200

When we changed it to the machine ip: we were unable to install Fleet Server.
We ran into following loop when executed install command for flee

[2021-10-07 10:41] tom-x1 commented on #21495
This problem does not only occur in case of an dropped repetition, I also see it in other cases but haven't found a explanation yet. For example:

`{Timestamp:time.Time{wall:0x1a168720, ext:63769199361, loc:(*time.Location)(0x55f2cb91c640)}, Meta:null, Fields:{"agent":{"ephemeral_id":"8abff7b0-e855-48ff-afc1-03a35e115f10","hostname":"reg-node.example.com","id":"ed1816ac-fc02-43f2-8163-31522f7d6bf2

[2021-10-07 11:05] michalpristas commented on #28152
I feel like we have a configuration problem exposing ES to the world rather than Elastic Agent issue

[2021-10-07 16:57] simitt commented on #28245
Closing this issue again, as it is not necessary, and would not change anything in the current cloud setup. Sorry for the noise.

[2021-10-07 17:12] eyearian-oak9 commented on #10756
+1

[2021-10-07 17:27] kvch commented on #14362
GCP support is going to be removed from Functionbeat. Please use other tools from Elastic to fetch Pub/Sub or Google Storage events, e.g. filebeat.

[2021-10-07 17:28] kvch commented on #25596
Closing the issue because GCP support is going to be removed. Please use the upcoming serverless agent of Elastic for collecting such events.

[2021-10-07 17:28] #25596 closed

[2021-10-07 17:30] kvch commented on #16337
GCP functions will never be GA.

[2021-10-07 17:30] #16337 closed

[2021-10-07 20:42] peasead commented on #27423
Updated checklists, PR open.

[2021-10-07 21:51] kaiyan-sheng commented on #13359
https://github.com/elastic/beats/pull/28316

[2021-10-07 22:09] leehinman opened #28317 "[Filebeat] offset not correctly recorded when max_bytes is exceeded in linereader"
Simple log file:

[code]

log input with `max_bytes: 128` results in skipping the `X...X` line, but the offset for the `two` message is 4, it should be 16,389.  Also in the `data/registry/filebeat/log.json` file the offset is recorded as 8.

This results in the harvester starting from 8, and resending the `two` message, but now with offset `8`, and then the registry is updated to offset of 12.  Th

[2021-10-08 07:09] Colstuwjx opened #28321 "[Functionbeat] support output to kafka"
**Describe the enhancement:**
We need to set throttle with our services, as well as its logs. As a result, it's a best practice that we make filebeat output to kafka, rather than directly to es service. Similarly, functionbeat should also support output to kafka.

**Describe a specific use case for the enhancement or feature:**
If it support output to kafka, we could avoid directly output to es se

[2021-10-08 08:05] Colstuwjx opened #28322 "[Functionbeat] Allows aws iam assume role"
**Describe the enhancement:**
As I see, functionbeat requires "iam:CreateRole" and "iam:DeleteRolePolicy" and so on to be ensured before deploy, see [functionbeat iam-permissions page](https://www.elastic.co/guide/en/beats/functionbeat/current/iam-permissions.html#iam-permissions-aws), But I think it's unreasonable to grant such unlimited permissions to the functionbeat service.

Instead, I sugges

[2021-10-09 09:11] JunTaoYuan80 commented on #5413
Same problem with 7.15.  Searching for a link to a solution.

[code]

[2021-10-09 21:34] legoguy1000 commented on #28121
@octavialarentisgsa  can you take a look at elastic/integrations#1886.  Since you use the WAF logs, I'd like to get your input.

[2021-10-10 09:44] dplavcic commented on #13464
Fixed [metricbeat]: [24402](https://github.com/elastic/beats/pull/24402)

[2021-10-10 17:09] tom-x1 commented on #27763
After reading the discussion and the docs I still don't know about the exact meaning of those metrics in the stack monitoring. I think we all agree that one of the most important questions a user has is: "Do I lose data or not?" I still can't answer this question. For example: I'm using packetbeat to gather DNS traffic and from time to time the "Failed in Pipeline" counter is jumping from 0 to 100

[2021-10-10 22:28] #21495 closed

[2021-10-11 05:40] Colstuwjx commented on #28321
Hi @kvch,

I've seen your PR #13345 for adding logstash output option, would you mind to share your development process for that PR?
I want to add kafka support for functionbeat, but I have no idea about how to build and test functionbeat on local, since it's a serverless function...

Thanks!

[2021-10-11 05:47] efd6 commented on #24430
@travisestill Can you provide more detail for the "./test5.txt" case? I would like to understand the configuration that generates that? Can I confirm that this happens when an empty paths array element is provided — i.e. your first case, `-`. If it is, that doesn't look like a configuration syntax that I would want to foster.

[2021-10-11 08:12] #28321 closed, assigned to nobody

[2021-10-11 08:28] Colstuwjx opened #28329 "[functionbeat] Doc Request: how to deploy functionbeat locally for testing?"
**Describe the enhancement:**
Need to fillout the functionbeat documentation, tells how to deploy it locally and do some tests.

**Describe a specific use case for the enhancement or feature:**
As the title, how to deploy functionbeat for local test? This issue is derived from #28321 and I want to try to add kafka output and make local test, after it's passed, I'd like to try to deploy on aws for

[2021-10-11 10:21] michalpristas commented on #28064
i'm going through logs and I see a lot of `[elastic_agent][error] Could not communicate with fleet-server Checking API will retry, error: status code: 0, fleet-server returned an error: , message: Unknown resource.`

@kuisathaverat is this expected? this is generated by `o11y-release-linux`.
I see `https://67cf27da7a64ac4e759eddd762e9f1c1.fleet.us-central1.gcp.foundit.no:443` us used as fleet serv

[2021-10-11 10:42] mtojek commented on #28210
Most recent bug: https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/master/969/pipeline

[2021-10-11 13:25] michalpristas opened #28334 "Do not log ERROR for watchers in not upgradable scenarios"
At the moment when we run agent in a container and it's not on usual path but e.g `/app/..`
we see error saying `failed to invoke rollback watcher` with a detail explaining executable could not be found.

When running in a container from different path as usual we should
- decrease log level to WARN
- investigate options to skip watcher execution in this scenario

[2021-10-11 14:02] EvanGertis opened #28336 "s3/collector.go:137 handleSQSMessage failed: json unmarshal sqs message body failed at offset 1 with syntax error: invalid character 'T'"
I am trying to trouble shoot an issue. I have a set of logs from ecs that are to be sent to an sqs queue. The container logs show that the logs are being sent. However, when I poll the sqs queue none of the messages are received.

[code]

This has been an ongoing issue with elastic.

For confirmed bugs, please report:
- Version: 7.15.2
- Operating System: docker  linux/ubuntu
- Discuss Forum URL:

[2021-10-11 14:30] kaiyan-sheng commented on #16963
@endorama I also have this issue about empty values.

[2021-10-11 22:28] #24710 closed

[2021-10-11 23:24] akshay-saraswat commented on #28071
I completely agree with you @alexfrancoeur. Without OOTB Dashboards, integrations provide less perceived value. Let's discuss and prioritize specific things that you plan to include in "getting started".

[2021-10-12 02:28] elasticmachine commented on #28336
Pinging @elastic/integrations (Team:Integrations)

[2021-10-12 03:09] kaiyan-sheng opened #28356 "Metricbeat AWS module RDS metricset reports incoherent data"
User observed some incoherent data reported by rds metricset comparing with CloudWatch:

- some dimensions are missing under aws.dimensions.* field
- aws.rds.db_instance.arn is not coherent with the DBInstanceIndentifier (only a single ARN seems to be fectched)
- aws.rds.cpu.total.pct shows in thousands of %'s.
- aws.rds.db_instance.class reportsdb.t2.micro besides instance having a different size

[2021-10-12 03:09] elasticmachine commented on #28356
Pinging @elastic/integrations (Team:Integrations)

[2021-10-12 08:51] elasticmachine commented on #15544
Pinging @elastic/agent (Team:Elastic-Agent)

[2021-10-12 08:52] ruflin commented on #15544
I added the Elastic Agent team label and ping @jlind23 on timing questions ;-)

[2021-10-12 11:12] kvch opened #28361 "Generator tests are failing on master"
After updating Golang to 1.17, generator packaging tests started to fail with the following error:
[code]

[2021-10-12 11:39] jlind23 commented on #15544
Which option was the chosen one finally?

[2021-10-12 13:34] elasticmachine commented on #27061
Pinging @elastic/elastic-agent-data-plane  (Team:Elastic-Agent-Data-Plane)

[2021-10-12 14:34] Mpdreamz commented on #15544
For more context. Both Elasticsearch and Kibana will emit ECS logs OOTB with 8.0, APM server already does for a while.  It would be a missed opportunity if we don't make the same move observability wide.

[2021-10-12 17:07] studior5 commented on #14129
Also getting this issue
`$ docker pull docker.elastic.co/elasticsearch/elasticsearch:7.15.0`

`Error response from daemon: Get https://docker.elastic.co/v2/: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)
`

[2021-10-13 01:52] #28317 closed

[2021-10-13 07:48] elasticmachine commented on #27712
Pinging @elastic/elastic-agent-control-plane  (Team:Elastic-Agent-Control-Plane)

[2021-10-13 12:58] P1llus commented on #26008
Support has been added, so this can now be closed.

[2021-10-13 14:24] pzl commented on #28237
Closing this -- no changes needed on agent side. The field is being sent in intentionally-unmapped objects

[2021-10-13 14:25] drenze-athene opened #28402 "[Filebeat] Hints-Based Autodiscover Not Finding Logs Under CRI Path"
We have recently upgraded from Kubernetes 1.19 to 1.20. Kubernetes 1.19 used `dockerd` for its container engine, and saved logs to the following path:

[code]

Kubernetes 1.20 uses `containerd` for its container engine, which saves logs to the CRI path of:

[code]

When using hints-based autodiscover, as described in the [Elastic documentation][docs-hba], filebeat sees the pods, but does not recog

[2021-10-13 15:26] andrewvc opened #28409 "[Heartbeat] Setuid to regular user / lower capabilities when possible"
Heartbeat should run with lower capabilities than root where possible for security reasons and for greater compatibility with node, which doesn't like running as root. See https://github.com/elastic/beats/issues/27648 for more info.

[2021-10-13 23:05] #21773 closed

[2021-10-14 01:25] louisong opened #28419 "Fleet Agent Logging Behaviour"
Trying to understand the behaviour of fleet/agent logging when osquery manager related index `.ds-logs-osquery_manager.result-default-*` isn't available for some reason (index being closed, etc).

Not sure if this is intended but I found Kibana > Fleet > Agent > [Agent] > Logs showing empty logs for all data sets:

<img width="2220" alt="Screenshot 2021-10-13 at 5 50 14 PM" src="https://user-image

[2021-10-14 01:27] elasticmachine commented on #28419
Pinging @elastic/fleet (Team:Fleet)

[2021-10-14 06:39] jlind23 opened #28426 "Banner in doc - Custom beat generator deprecation"
As part of custom beat generator depreciation, we should first add a banner to the docs saying that there's no warranty or support for this generator and will be deprecated in 8.0.

https://www.elastic.co/guide/en/beats/devguide/current/newbeat-generate.html

[2021-10-14 06:39] elasticmachine commented on #28426
Pinging @elastic/elastic-agent-control-plane  (Team:Elastic-Agent-Control-Plane)

[2021-10-14 06:41] jlind23 opened #28427 "Custom beats generator removal"
Following https://github.com/elastic/beats/issues/28426 released in 7.16 we are now able to remove all related code.

[2021-10-14 07:53] #28322 closed, assigned to nobody

[2021-10-14 08:06] andresrc commented on #27099
Are we able to reproduce this one with 7.15? Thanks!

[2021-10-14 08:19] Colstuwjx commented on #14508
Hi all, I've been taken a PR for closing this issue, see #28429, you could help me review this PR! 🙏

[2021-10-14 09:05] shahzad31 opened #28430 "[Heartbeat] Index `synthetics.step.name` as keyword as well"
Right now we index `synthetics.step.name` as a text field, which is great for search. But we also need to index it as keyword so that it can be used for filtering, this will allow us to fetch terms again the field.

We should leverage multifield capabiltiy in the mappings.

We need this to filter step level tracing in exploratory view.

[2021-10-14 09:36] Mpdreamz commented on #15544
I believe APM-server uses zap but is not yet on https://github.com/elastic/ecs-logging-go-zap and uses a custom formatter. We ultimately want to hop on `ecs-logging-go-zap` as well.

cc @simitt let me know if the above is not true :)

[2021-10-14 09:48] elasticmachine commented on #27853
Pinging @elastic/elastic-agent-control-plane  (Team:Elastic-Agent-Control-Plane)

[2021-10-14 09:51] simitt commented on #15544
I added basic ECS logging support to the custom `logp` handling in libbeat some time ago https://github.com/elastic/beats/pull/17974, and it is using [ecs-logging-go-zap](https://github.com/elastic/ecs-logging-go-zap) under the hood.

This can be enabled by setting `logging.ecs:true`, which apm-server already defaults to since a couple minor versions. It is up to every beat to do the same.
When en

[2021-10-14 10:25] elasticmachine commented on #28156
Pinging @elastic/elastic-agent-control-plane  (Team:Elastic-Agent-Control-Plane)

[2021-10-14 11:05] elasticmachine commented on #28119
Pinging @elastic/elastic-agent-data-plane  (Team:Elastic-Agent-Data-Plane)

[2021-10-14 11:11] andresrc commented on #28111
The kernel version seems older than our supported versions. Can you try with a supported distribution? Thanks

[2021-10-14 11:12] elasticmachine commented on #28100
Pinging @elastic/integrations (Team:Integrations)

[2021-10-14 11:13] elasticmachine commented on #28098
Pinging @elastic/integrations (Team:Integrations)

[2021-10-14 11:14] elasticmachine commented on #28087
Pinging @elastic/integrations (Team:Integrations)

[2021-10-14 11:19] elasticmachine commented on #27928
Pinging @elastic/elastic-agent-data-plane  (Team:Elastic-Agent-Data-Plane)

[2021-10-14 11:21] #7908 closed

[2021-10-14 11:48] andrewkroh commented on #27934
The errors in this images indicate that the YAML contents of the config file are invalid. Fix the errors then use the `winlogbeat test output` command to test connectivity to Logstash. Please share the winlogbeat.yml file so we can understand how Winlogbeat has been configured.

[2021-10-14 12:32] andrewvc opened #28437 "[Heartbeat] Run Once mode"
Heartbeat could use a mode in which it starts, runs each monitor exactly once, then exits.

This was mostly accomplished in https://github.com/elastic/beats/pull/25972
But now I'm thinking it would be better to just put all the monitors in `heartbeat.monitors` and add a new `heartbeat.run_once: true` boolean that just changes the way `heartbeat.monitors` is handled instead.

This is experimental.

[2021-10-14 12:32] elasticmachine commented on #28437
Pinging @elastic/uptime (Team:Uptime)

[2021-10-14 12:34] hinchliff commented on #23023
Discussion post created before opening new ticket: https://discuss.elastic.co/t/okta-module-causes-rate-limit-violations/286721

[2021-10-14 12:36] #27099 closed

[2021-10-14 12:45] andrewvc opened #28441 "[Heartbeat] Log zip url download failures as info, not warn"
When a browser zip_url download fails we log it as `info` today, when we should log it as `warn` since it's an actual problem.

[2021-10-14 12:45] elasticmachine commented on #28441
Pinging @elastic/uptime (Team:Uptime)

[2021-10-14 12:48] dwhyrock opened #28442 "Elastic Agent not bundling ARM/aarch64 Endpoint"
The Endpoint team recently added an ARM/aarch64 version of the Endpoint for the `7.16.0` release.  It is being picked up in the Release Manager jobs, but it is not currently being bundled with the Elastic Agent.

The Beats/Elastic Agent logic in the Release Manager should be updated to bundle the Endpoint Linux ARM/aarch64 package with Agent.

It's worth noting that the Endpoint file uses `aarch64

[2021-10-14 17:37] liza-mae commented on #27988
Can we get this on the radar?  Thanks.

[2021-10-14 18:26] dominiqueclarke opened #28453 "[Heartbeat] Unable to parse datastream type when streams are out of order."
Heartbeat is reporting the below error for some browser monitor policies

[code]

Browser monitor policies consist of multiple streams, but heartbeat is only concerned with 1. The additional streams are necessary to provide Kibana permissions to write `browser.screenshot` and `browser.network` data stream, but Heartbeat is only concerned with the `browser` data stream to pull in config.

Here is a

[2021-10-14 18:26] elasticmachine commented on #28453
Pinging @elastic/uptime (Team:Uptime)

[2021-10-14 18:41] esarakaitis commented on #25742
Any updates here? having the same issue using filebeat to send azure firewall eventhub logs in azure blob to Elastic. It works fine until you restart the service and then you get the same thing:

 ===== RESPONSE ERROR (ServiceCode=BlobAlreadyExists) =====
                                                                                             Description=The specified blob already exists.

[2021-10-14 21:05] #21801 closed, assigned to nobody

[2021-10-15 00:02] #28453 closed

[2021-10-15 00:12] DaveSys911 opened #28459 "[Elastic-Agent] system.hostfs option doesn't seem to work"
Overview:

Elastic-agent v 7.15 doesnt pass "system.hostfs" configuration option to the metricbeat process, resulting in metricbeat's system.process module not parsing /hostfs/proc directory.

Metricbeat standalone v 7.15 behaves as expected when supplied with the flag command.

How to replicate:

Deploy fleet managed or standalone elastic-agent on top of kind k8s,with system integration enabled,

[2021-10-15 01:27] blakerouse commented on #27759
@amolnater-qasource Looking at the logs from your last comment I do see the following in the logs:

[code]

Seems Endpoint Security stayed degraded for up to 5 minutes.

[2021-10-15 09:52] 111andre111 commented on #27837
Seems related to https://github.com/elastic/beats/issues/27853

[2021-10-15 11:16] amolnater-qasource commented on #27934
Hi @andrewkroh
We have attempted to revalidate this issue today on 7.15.0 self-managed kibana cloud environment, we got similar errors as shared above.

However as per the steps shared above we are not able to install the winlogbeat using certificates.

Due to which we are not able to run `winlogbeat test output`.

Please find below attached winlogbeat.yml:
[winlogbeat.zip](https://github.com/elas

[2021-10-15 11:38] dikshachauhan-qasource commented on #27140
Hi @EricDavisX

Due to Vsphere issue today, we were unable to validate this. However, we will reattempt it again and will share observation accordingly.

Thanks
QAS

[2021-10-15 12:00] crisdarocha opened #28467 "Add support for SLES 11/12 and newer versions to Elastic Agent"
**Describe the enhancement:**
Add support to SLES 11/12 and newer versions to Elastic Agent

**Describe a specific use case for the enhancement or feature:**
SLES (Suse) 12 is supported by the Stack components, including the Beats, but not by Elastic Agent. This homogenizes the environments users can deploy and facilitate/increase adoption.

[2021-10-15 12:00] elasticmachine commented on #28467
Pinging @elastic/elastic-agent (Team:Elastic-Agent)

[2021-10-15 13:45] hinchliff opened #28472 "libbeat fmtstr tests fail outside of UTC"
## Flaky Test

* **Test Name:**
    * TestEventFormatString
    * TestTimestampFormatString
* **Link:**
    * https://github.com/elastic/beats/blob/b3991d4b0b93ce9122ff7cf1ad2ba56d9dc91ed6/libbeat/common/fmtstr/formatevents_test.go#L108-L131
    * https://github.com/elastic/beats/blob/b3991d4b0b93ce9122ff7cf1ad2ba56d9dc91ed6/libbeat/common/fmtstr/formattimestamp_test.go#L72-L85
* **Branch:** main

[2021-10-15 13:58] #28430 closed, assigned to nobody

[2021-10-15 14:28] hinchliff opened #28475 "Add configuration to httpjson to stop requests before the rate-limit is reached"
**Describe the enhancement:**

In Filebeat, the `httpjson` module respects the rate-limiting headers provided from the server, and will stop making requests when the `remaining` value reaches `0`.

This enhancement would add a configuration option to indicate that the requests should be stopped/paused **before** fully using the specified rate-limit / remainder.

**Describe a specific use case for

[2021-10-15 15:25] melissaburpo commented on #28419
Interesting, thanks for the extra info @dikshachauhan-qasource.

It sounds like the initial issue may be resolved -- the osquerybeat artifact is now published -- but that you're now getting some access errors.

Could you please share some details about the privileges your test user has? In 7.15, we added an RBAC feature for osquery, and one of the [required privileges](https://www.elastic.co/guide

[2021-10-15 17:33] andresrc opened #28476 "Remove journalbeat"
After #27351 the `journald` input is available in filebeat, so we no longer need journalbeat.

- [X] Remove journalbeat from the packaging. https://github.com/elastic/infra/pull/32395
- [x] Remove the code https://github.com/elastic/beats/pull/29131
- [x] Remove other references. https://github.com/elastic/infra/issues/33342

Changes in documentation will be taken care of in https://github.com/ela

[2021-10-15 22:52] elasticmachine commented on #28459
Pinging @elastic/elastic-agent (Team:Elastic-Agent)

[2021-10-15 22:52] elasticmachine commented on #28459
Pinging @elastic/integrations (Team:Integrations)

[2021-10-16 05:15] elasticmachine commented on #27988
Pinging @elastic/elastic-agent-data-plane  (Team:Elastic-Agent-Data-Plane)

[2021-10-16 05:16] andresrc commented on #27988
@kvch can this be related to the migration to saved objects?

[2021-10-16 08:56] Alexaaa35 commented on #24354
,

"Url": "https://video-downloads.googleusercontent7MxJQNM9JNM9Jb4OpOte0KX1G5ah8kI2bafeLkQPw5pH1Ivc7eIdHTYJGNEZ_OiqvK1G1G1G

"googlePhotosOrigin": {

"mobileUpload": {

"deviceFolder": {

"localFolderName": ""

},

"deviceType": "ANDROID_PHONE"

[2021-10-17 23:14] thenewguy commented on #18158
bleh - auto robots with tags on real issues is obnoxious =/

[2021-10-18 09:01] jlind23 opened #28492 "Improve Agent container cmd and fleet-server logs"
**Describe the enhancement:**
Following development of #28260 we should ensure that logs are explicitly telling what is going on under the hood.
Logs in the agent container cmd and fleet-server should detail where we are at during the bootstraping process.
Per example: that apm-server is started but fleet-server not yet etc.

[2021-10-18 09:27] paulb-elastic commented on #22327
This is still on our backlog to do and will still be a useful feature (cert checks is a well used feature in the lightweight checks)

[2021-10-18 09:37] dikshachauhan-qasource commented on #28419
Hi @melissaburpo

Thanks for providing feedback on above observation.

We tried again and provided superuser rights to our current user and found logs were available this time on discover tab. However, same error too displayed with filtered results.

**Image 1:**
![image](https://user-images.githubusercontent.com/72375798/137704522-66f4c450-9ba1-4ad2-a9da-af02fe35e0f0.png)

**Image 2:**

![image](

[2021-10-18 09:43] amolnater-qasource opened #28494 "[Agent][MAC-12]: Lower version 7.14.2 Agent remains Unhealthy when installed with Endpoint Security."
**Kibana version:**  7.15.1 Kibana Cloud Production environment

**Host OS and Browser version:** MAC Monterey 12, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.1 Kibana Cloud Production environment should be available.
2. Sip should be enabled for MAC agent.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Install 7.14.2 agent with Default policy having System and Endpoint

[2021-10-18 19:45] EricDavisX commented on #27140
I realize now the testing we did was after the expected fixes - I am not surprised here.  @andresrc @jlind23 if you think this is expected world-wide usage, we could prioritize the research?  At least Michal has Endgame cluster vSphere access to a non-English host we can spin up for him if desired / needed.  and we can get more folks access as needed to spread the work-load, let me know in email.

[2021-10-18 21:02] dominiqueclarke opened #28518 "[Heartbeat] Edited Synthetics Integration policies sometimes create duplicate monitor errors"
For confirmed bugs, please report:
- Version: Elastic Agent 8.0.0, Heartbeat 8.0.0
- Operating System: MacOS
- Discuss Forum URL:
- Steps to Reproduce: This bug is intermittent. To attempt to recreate, start the Elastic stack with `elastic-package stack up --version 8.0.0-SNAPSHOT -v`. Log in to Kibana at `localhost:5601`. Create an Elastic Synthetics policy, and wait for Uptime data to be indexed

[2021-10-18 22:10] fearful-symmetry commented on #28459
Okay, so, I'm still not sure how this bug got here, but I have a somewhat awkward fix. Should have a PR today or tomorrow.

[2021-10-19 01:11] kaiyan-sheng opened #28520 "Unable to get Functionbeat to deploy successfully"
Functionbeat failed to run with this error below:

[code]

[2021-10-19 06:57] amolnater-qasource commented on #28494
Hi @EricDavisX

Sorry we missed to add this information. Yes, these settings were enabled already. We installed 7.15.1 agent too, on 7.15.1 Kibana with Endpoint Security and it installed without any failure in Endpoint policy.
![image](https://user-images.githubusercontent.com/77374876/137849882-13ade77e-4cca-4a6e-9012-205d746a9845.png)

Further we have validated several times to ensure if it is n

[2021-10-19 06:57] amolnater-qasource commented on #27759
Hi @EricDavisX

The test was carried on the 7.16 Kibana cloud-staging build and not the self-managed kibana.
Just the fleet-server was created by us for which we shared our updates at https://github.com/elastic/beats/issues/27759#issuecomment-944170074

Yes, the Fleet Server version was 7.15.1 for production build when agent version was 7.14.2. Results were shared in previous comment.
For the snap

[2021-10-19 07:45] jlind23 commented on #27140
@EricDavisX did you check that the build number was with the related fixes? If yes, then it seems that we missed some things. @andresrc would you mind giving more context here? English hosts works fine?

[2021-10-19 08:04] jamiehynds commented on #27970
@efd6 can you confirm if your [recent PR ](https://github.com/elastic/beats/pull/28124) will resolve this, or is it a separate issue?

[2021-10-19 08:14] jlind23 commented on #28419
@kvch @ruflin any clue about datastreams behaviors?

[2021-10-19 11:12] elasticmachine commented on #25720
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-10-19 12:29] ferullo commented on #28494
As far as I can tell, this issue should be closed. 7.14 Endpoint does not support macOS 12 (Monterey). Only the upcoming 7.16.0 will support macOS 12, though provisional testing of 7.15 by @muskangulati-qasource has found that 7.15.0 does work on macOS 12 as well.

I'm hesitant to close this in case I misunderstand the issue. @EricDavisX can you close it if you agree.

[2021-10-19 13:03] dwhyrock commented on #28442
This was sorted out with the above linked issues.  Closing.

[2021-10-19 13:55] jlind23 commented on #27140
@EricDavisX saw another thread in which blake was saying that maybe the version was not downloaded properly. May it be related to this?

[2021-10-19 14:30] #28494 closed, assigned to nobody

[2021-10-19 15:22] #13359 closed

[2021-10-19 16:17] andrewkroh commented on #28212
You have `'\/hostfs\/etc\/sv\/monit\/.*$'`. The `\` chars should be removed because they won't match a posix path. There is no need to escape `/` characters. Nor is there a need to add escapes at all to single-quoted strings in YAML. So please try with `'/hostfs/etc/sv/monit/.*$'`.

[2021-10-19 16:17] #28212 closed

[2021-10-19 18:53] andrewkroh opened #28540 "[libbeat] Support custom analyzers in fields.yml"
**Describe the enhancement:**

Fields.yml fields currently support using the [built-in analyzers](https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-analyzers.html) on `text` fields. But it's not possible to declare a [custom analyzer](https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-custom-analyzer.html) in fields.yml and have it installed as part of

[2021-10-19 19:11] andrewkroh commented on #28540
Open questions:

- Where in fields.yml should `analyzer` be allowed?
- What is the merge behavior when multiple `analyzer` blocks are declared in separate files (e.g. error out on analyzer name collisions)? For example, imagine both the zeek module and suricata module declaring a `custom_url_analzyer`, what happens?

Examples:

[code]

[2021-10-19 19:55] #28068 closed

[2021-10-19 22:55] andrewkroh opened #28550 "[Filebeat] Azure module - add support for ProvisioningLogs"
**Describe the enhancement:**

Add a new fileset to the Azure module for collecting AAD Provisioning Logs (https://docs.microsoft.com/en-us/azure/azure-monitor/reference/tables/aadprovisioninglogs). This was split out from #23653.

#### Sample event

`{"Level":4,"category":"ProvisioningLogs","correlationId":"aaaaaaaa-6c53-4120-a07d-931236b530fe","durationMs":640,"identity":"bbbbbbbb-2277-6ede-93f6

[2021-10-20 00:35] #28437 closed

[2021-10-20 06:26] jlind23 commented on #28492
@blakerouse any reason why extendedMessage variable is not used here: https://github.com/elastic/fleet-server/blob/master/internal/pkg/policy/self.go#:~:text=can%20perform%20enrollment.-,tokens%2C%20err%20%3A%3D%20m.enrollmentTokenF(ctx%2C%20m.bulker%2C%20m.policy.PolicyId,%7D,-%7D ?

[2021-10-20 07:15] eldadpuzach commented on #1034
For anyone looking to ship pfSense firewall logs to Elastic Cloud,
our solution was:
1. pfSense UI - send logs to intermediate Linux host via UDP port 9100
2. Linux host - install Elastic Agent
3. Elastic Cloud - Add pfSense integration to Agent policy
followed this guide:
https://www.elastic.co/guide/en/fleet/current/fleet-quick-start.html

[2021-10-20 09:43] admlko commented on #26256
Can we get someone to take a look at this?

Example log line:
`<190>1550: routerhostname: Oct 20 2021 09:27:14.712 UTC: %FMANFP-6-IPACCESSLOGP: R0/0: fman_fp_image: list acl_233_in denied udp 1.2.3.4(138) -> 2.1.3.4(138), 8 packets`

[2021-10-20 09:57] admlko commented on #27911
Same issue here.

Here are a couple of sample log lines:
`<189>routerhostname: 2021 Oct 6 08:21:12.231 UTC: %ETHPORT-5-IF_TX_FLOW_CONTROL: Interface Ethernet1/6, operational Transmit Flow Control state changed to off`
`<189>routerhostname: 2021 Oct 19 22:11:43.226 UTC: %VSHD-5-SYSLOG_CONFIG_I: Configured from vty by admin on 1.2.3.4@pts0/0 (message repeated 1 time)`
`<189>routerhostname: 2021 Oct

[2021-10-20 10:48] EmViKay opened #28568 "Metricbeat lambda"
Who can explain me why?
We are using metricbeat to monitor AWS Lambdas. Using simple standard dashboard.
Today, we have 1 error in cloudwatch in our lambda, but for some reason metricbeat found 4 errors with the same timestamp.
is this a bug?

[2021-10-20 10:55] admlko opened #28569 "Metricbeat logstash module payload size"
**Describe the enhancement:**
My initial issue is that I have to use UDP to transmit all the data from Logstash to other Logstashes. But when I use Metricbeat Logstash module, the payload is so big it does not fit into UDP packet:
`Failed to send event, message size of 67374 too long {:error=>"#<Errno::EMSGSIZE: Message too long - No message available>", :backtrace=>["org/jruby/ext/socket/RubyUDPS

[2021-10-20 12:49] michalpristas commented on #28442
with changes in infra in place, endpoint present in arm packages verified

[2021-10-20 13:19] EricDavisX opened #28570 "[Agent] Elastic-Agent-Packaging-Linux is failed (there for e2e-testing pr support) which blocks merges - seems to be a Heartbeat container build problem"
This is from a dev via slack:
PR 'tests' are failing...
"The E2E agent linux tests are super flaky at the moment and preventing us from making imports. Is that something currently being looked at?"
citing this PR as example:
https://github.com/elastic/beats/pull/28517

Manu helped bisect the pr failures and seemed to point towards the Heartbeat container not being available, so maybe a build probl

[2021-10-20 13:25] drizzthacker opened #28571 "[Filebeat] Service cannot start when using custom index names after upgrade to 7.15"
- Version:  7.15.0
- Operating System:  Debian 10
- Steps to Reproduce: Cluster, Kibana and Filebeat on 7.14, then upgrade all to 7.15. Then, the service for filebeat refuses to start only when using custom index names saying this:

"2021-10-20T14:19:21.077+0200    ERROR   instance/beat.go:989    Exiting: Error importing Kibana dashboards: fail to import the dashboards in Kibana: Error importing d

[2021-10-20 14:40] jlind23 commented on #28570
@andrewvc seems that this is on Synthetics side.

[2021-10-20 15:51] mdelapenya commented on #28570
I'm checking that the only logs we are storing are kind logs, but not the cluster logs. In my local execution, meanwhile we provide the test framework to extract kind's logs (using `export logs` command), I was able to extract heartbeat pod's logs:

[2021-10-20 17:55] andrewvc opened #28572 "[Heartbeat] Setuid has perms issues with user controlled config files"
In #28514 we added support for setuid-ing to a regular user from root. This wasn't thought of as a breaking change, because it generally isn't. One place where that's not quite true is that if users have config files that are owned by root with no `o+r` perms heartbeat can't read these after downgrading its credentials.

To remedy this I propose we only invoke setuid in the elastic-agent container

[2021-10-20 19:43] EricDavisX commented on #23748
we have since discontinued x86 support so this can be closed with no impact or other follow up needed

[2021-10-20 20:03] EricDavisX commented on #28064
Can we circle back to the comments 9 days ago now from Michal:
https://github.com/elastic/beats/issues/28064#issuecomment-939893660

... and confirm why those log lines would evidence or what they could mean?  When using a shipped release we had this critical problem and it stands to reason we can make some improvement somewhere for efficiency, right?

Noting this separately, the 8.0 based Edge-ob

[2021-10-20 20:13] EricDavisX commented on #27759
@amolnater-qasource, let's document the system profile of the host(s) that are not working: how much memory / CPU count?

Also, can you confirm if you were testing 5 vms cloned from the same template to vSphere or 5 distinct templates / variations?

We can always increase the capability to something quite significant for a test run to see if the same occurs.

Then, based on the machine info and te

[2021-10-20 20:17] blakerouse commented on #27759
Can you also check the logs on those hosts and verify it was not because it failed to download the new version on to those host in the defined timeout? Might be the same issue as I stated in my previous comment.

Being its a timing problem due to slow network, it could work one time and then not work the next.

[2021-10-21 01:55] lykkin commented on #28210
@mtojek thanks, i'll take a crack at this tomorrow to see if i can get to the bottom of it

[2021-10-21 04:51] andresrc commented on #28569
Payload size might not be related to event size and events might be batched for bette throughput. Please open an issue in the logstash repository or a topic in its discuss forum to discuss the limitations of the UDP output.

Thanks

[2021-10-21 04:51] #28569 closed

[2021-10-21 04:52] #28568 closed, assigned to nobody

[2021-10-21 04:52] elasticmachine commented on #28520
Pinging @elastic/elastic-agent-data-plane  (Team:Elastic-Agent-Data-Plane)

[2021-10-21 04:56] andresrc commented on #16725
Stalled, please recheck with 7.15 and reopen if needed

[2021-10-21 05:43] efd6 commented on #17165
I've just had a look at this with a view that it is probably a data aliasing issue. Initially I looked at building with the race detector on (`go build -race`) which fortuitously also turns on pointer checks. Building only with pointer checks (`go build -gcflags=all=-d=checkptr`) is enough to demonstrate a possible cause.

<details>
<pre>
fatal error: checkptr: converted pointer straddles multiple

[2021-10-21 07:03] sachin-frayne commented on #637
+1

[2021-10-21 09:29] amolnater-qasource commented on #27934
Hi @andrewkroh
We have re-attempted this on self-managed 7.15.0 Kibana and done the required changes to test it without certificates with `ssl_verify_mode => "none"`.

We are **successfully** able to view winlogbeat data under Discover tab when installed through logstash _(without certs)_.

**Screenshot:**
![11](https://user-images.githubusercontent.com/77374876/138243965-d726f69d-e33a-4f1c-8479-9

[2021-10-21 12:31] #27988 closed

[2021-10-21 13:41] jlind23 commented on #27140
Port 9200 is used for elasticsearch communication isn't it? @amolnater-qasource is you elasticsearch pod running?

[2021-10-21 15:05] #21563 closed

[2021-10-21 16:04] spinscale opened #28591 "MetricBeat: Jolokia module logging logs no URI"
For confirmed bugs, please report:
- Version: 7.15.1
- Operating System:  Linux
- Steps to Reproduce:

When running metricbeat with verbose logging for jolokia like `metricbeat run -e -v -d jolokia.jmx` the logging message is wrong as it includes an empty path.

By default the jolokia path to query is `/jolokia`, however the logging looks like this

[code]

See above that the `URI` field is empty.

[2021-10-21 17:19] #28572 closed

[2021-10-21 17:41] zemm commented on #27035
I checked the all of the currently running 53 allocations, and all of them have been picked up by this patched version, meaning that I found plenty of logs for each of the 53 allocation ids from the central log storage that they should be sent to. 29 of these allocations have been created after the Filebeats have been started.

I won't be checking the log lines themselves, since that's the regular

[2021-10-21 19:43] #17392 closed

[2021-10-21 19:49] #28108 closed

[2021-10-21 20:13] kaiyan-sheng commented on #28157
I checked again and this is fixed. Will close the issue. Thanks for reporting!

[2021-10-21 20:13] #28157 closed

[2021-10-21 20:21] blakerouse commented on #27759
@EricDavisX seems they are all having issues downloading the new version due to slow networks or network issues. Does this environment have slow network? Or is the underlying host or network overloaded?

I believe the timeout is already rather long.

[2021-10-22 01:06] louisong commented on #28419
Thanks for the clarification @kvch

Initial thought around this was to test the behaviour of UI (agent logging) when backing datastream becomes unavailable for some reasons (for example, an admin user may be forced to close an index during diaster recovery (eg. restoring snapshot, etc):
<img width="1607" alt="Screenshot 2021-10-22 at 8 40 37 AM" src="https://user-images.githubusercontent.com/26863

[2021-10-22 01:41] EricDavisX commented on #27934
@andrewkroh if you don't mind, I'll unassign myself - you wanna take it?

[2021-10-22 01:46] #28570 closed, assigned to nobody

[2021-10-22 02:47] EricDavisX commented on #27759
The vSphere system in use could have problems.  It recently underwent some emergency maintenance, it may need more or something may have changed in the system negatively effecting network perf.  Let's take it off line, I'll kick an email thread up.   Thanks.

[2021-10-22 03:05] #21607 closed

[2021-10-22 08:22] molsza opened #28604 "Incorect memory report on RedHat 6.5"
It seems that on RedHat 6.5 metricbeat is reporting a memory incorrectly. It is treating total memory as used memory.

Metricbeat report
![metricbeat](https://user-images.githubusercontent.com/41799777/138417778-d4c24ea9-533d-4077-85a9-359ae61ab57d.jpg)

Memory details of server (not at the same time, but quite close):
![free](https://user-images.githubusercontent.com/41799777/138417979-695908d5-9

[2021-10-22 11:19] gemaliano opened #28605 "[Filebeat] Pipeline name gets converted to lowercase"
- Version: Filebeat 7.15.1
- Working on Filebeat 7.6.0

If the pipeline created in Elastcsearch contains uppercase, like `FilebeatMydocsFilter`, and specified in `filebeat.yml`, Filebeat converts it to lowercase `filebeatmydocsfilter` and then complains `Cannot index event` and `pipeline with id [filebeatmydocsfilter] does not exist`.

- Steps to Reproduce:
In filebeat.yml
[code]

And pipeline in

[2021-10-24 22:27] efd6 opened #28608 "auditbeat: kprobes remain inserted after process termination"
For confirmed bugs, please report:
- Version: originally identified on 5186feb35defc05a5c0de7fcfa96df970913a070 but confirmed on latest master d00c2fe38b16603a32ef831c05c73de1c31929ed.
- Operating System: linux
- Steps to Reproduce:
    1. Checkout and build x-pack auditbeat.
    2. Using the default configuration run `./auditbeat run -d '*' -e` until it has gone through the set up process and is

[2021-10-25 07:17] bitnapper opened #28613 "Winlogbeat process.args splits pathes with spaces"
Winlogbeat splits process.args by spaces and doesnt preserve paths.

[code]

[2021-10-25 08:28] karanverma-qasource opened #28614 "[Filebeat] Error is coming while setting up File beat."
**Describe the bug**
Error is coming in the setup of Filebeat.

**Build Details:**

Version : 7.16.0 BC1 ON Prem Setup
Commit: 9231d806c9384df4026977ba7435a9302dc2d4ab
Build: 45504

**Preconditions**

1.Elasticsearch should be up and running
2.Kibana should be up and running

**Steps to Reproduce**
1. Download and extract Filebeat under Program files folder.
2. Edit the filebeat.yml file and add u

[2021-10-25 11:50] barkbay opened #28617 "[libbeat] APM Server does not start when running as an arbitrary user ID"
https://github.com/elastic/beats/pull/28265 [added a call to `user.Current()`](https://github.com/elastic/beats/pull/28265/files#diff-7892d09d6cd53dcdb72155590e61e694ebea064f17965984cfc22286f02f3e55R194-R197). Unfortunately `user.Current()` fails if the user UID does not exist in `/etc/passwd`, which is likely to be the case on K8S if user sets an arbitrary UID [in the `securityContext`](https://k

[2021-10-25 15:06] #28605 closed, assigned to nobody

[2021-10-25 23:13] #28608 closed, assigned to efd6

[2021-10-26 00:06] TomonoriSoejima opened #28629 "add_kubernetes_metadata needs to respect logs_path setting"
Suppose you have this setting in filebeat.yml.

[code]

Then you have mounted container logs in the given path `/var/log/pods/`, but  add_kubernetes_metadata can not find the match.

`
2021-10-21T16:41:48.474Z	DEBUG	[kubernetes]	add_kubernetes_metadata/matchers.go:88	Incoming log.file.path value: /var/log/pods/openshift-xxxx-logging_mdsd-xxxxxxx/fluentbit/0.log
2021-10-21T16:41:48.474Z	DEBUG	[kube

[2021-10-26 16:37] drenze-athene opened #28650 "[Filebeat] `filebeat-7.15.0-apache-error-pipeline` doesn't recognize apache `trace` log levels"
Apache error module ingest pipeline (`filebeat-7.15.0-apache-error-pipeline`) doesn't recognize apache `trace1 - trace8` log levels.

The following entry in the Apache error log:

[code]

will generate the following error:

[code]

Resolution is to update the pipeline to include an `APACHE_LOG_LEVEL` definition. Working pipeline is as follows:

[code]

Have not validated whether this is also requi

[2021-10-27 11:55] ristov opened #28669 "filebeat requires manage_ingest_pipelines privilege when running for forwarding events"
When running filebeat-7.15.1 on centos7 for forwarding Apache events to Elasticsearch, it apparently requires manage_ingest_pipelines privilege in publishing mode:

2021-10-27T14:04:31.242+0300#011ERROR#011[publisher_pipeline_output]#011pipeline/output.go:154#011Failed to connect to backoff(elasticsearch(https://10.1.1.1:9200)): Connection marked as failed because the onConnect callback failed: 1

[2021-10-27 13:59] adriansr opened #28674 "Filebeat cisco/ios fails to parse default logs for some devices"
For confirmed bugs, please report:
- Version: <=8.0
- Operating System: -
- Discuss Forum URL: -

Some Cisco IOS devices are logging by default in a format different than the expected by the module. Examples:

[code]

[code]

The first two numbers followed by a colon are probably a sequence number and a message counter (`logging count` or `logging message-count`).

Example from another device (ASR

[2021-10-27 15:07] kvch opened #28678 "Add support for extra characters in pattern for copytruncate prospector"
At the moment the copytruncate support in filestream only supports file names that end with the indicator of rotated files. For example `apache.log.1` or `apache.log-20160506`. However, there can be different naming conventions where active file `apache.log` is copied to `apache.20160506.log` on rotation.

[2021-10-27 15:47] #28361 closed, assigned to nobody

[2021-10-27 21:09] andrewkroh opened #28683 "[libbeat] Fingerprint processor cannot access @timestamp"
The fingerprint processor directly accesses `beat.Event.Fields` to get data for the fingerprint. Therefore it cannot see the `@timestamp` because that is stored separately. It should use `beat.Event.GetValue` and then this would work as expected.

[code]

[2021-10-27 21:22] dakrone opened #28684 "[metricbeat] collect and index SLM stats metrics"
**Describe the enhancement:**

It would be very useful if metricbeat could be extended to collect SLM statistics. These statistics are available at `GET /_slm/stats` and look somewhat like the following (with the `human` flag):

[code]

**Describe a specific use case for the enhancement or feature:**

When running ES as a service, it is useful to be able to track the successes and failures for SLM

[2021-10-27 21:58] andrewvc opened #28685 "[heartbeat] Stop using `cap_net_raw` for docker image"
The heartbeat docker image will not run in docker/k8s if all capabilities are dropped (if you use `--cap-drop` with docker you'll see this). We stopped doing this for agent in https://github.com/elastic/beats/pull/28504 and should probably do the same for heartbeat here since it's so confusing in terms of behavior.

Alternatively, if we can find a way to fail gracefully that would be fine. Ideally

[2021-10-27 22:55] pramodanprakash opened #28686 "[Winlogbeat] Powershell module - possible copy/paste mistake in normalizeCommonFieldNames()?"
Hey, I was just browsing through the repository and I found [this line](https://github.com/elastic/beats/blob/39d1541ef985a123840771ec684df66d505138da/x-pack/winlogbeat/module/powershell/config/winlogbeat-powershell.js#L33) a little different than the normal.

`Here is what I see: `
[code]

`And here is what I expected to see: `
[code]

I am new to this repo and its working, so pardon me if this "

[2021-10-28 09:03] #28442 closed, assigned to michalpristas

[2021-10-28 17:35] liza-mae opened #28773 "Filebeat import dashboards returns internal server error"
For confirmed bugs, please report:

Version: main
Operating System: Linux
Steps to Reproduce:
./filebeat setup

[code]

[2021-10-29 06:42] #28617 closed, assigned to nobody

[2021-10-29 12:54] simitt opened #28719 "[cloud] Elastic Agent upgrade from 7.12.2-SNAPSHOT to 7.15.2-SNAPSHOT fails"
When upgrading from a stack version that was only running APM Server `7.12.2-SNAPSHOT` to `7.15.2-SNAPSHOT` the Elastic Cloud agent policy was not set up properly. The Elastic Agent and Fleet Server are not running as expected, in my case there was no Fleet Server policy added to the cloud agent policy. When upgrading to `7.16.0-SNAPSHOT` , the elastic-agent and fleet-server process where not succ

[2021-10-29 18:05] #21067 closed

[2021-10-29 18:26] SigmazGFX commented on #20001
Ahh found it..
The line in the winlogbeat.yml :
when.equals.winlog.event_id: 33205

Had to be changed to singe quote the eventID
when.equals.winlog.event_id: '33205'

Stupid mistake on my part, I should have caught that.... All better now.
Thanks!

[2021-10-29 18:44] kaiyan-sheng opened #28724 "Error when using proxy_url in Filebeat aws-s3 input"
When trying to use Filebeat aws-s3 input with the `proxy_url` config parameter, Filebeat will fail to start with error:
[code]
Here is the config to reproduce this problem:
[code]

[2021-10-29 20:21] justinkambic commented on #28303
Having done some investigation, we feel this is somewhere between a missing feature and a bug. Given that the code does not function and it's impossible to decode gzip with Heartbeat as it is today I feel it's a bug. But we also need to determine the best way to enable this functionality.

For example, if we attempt to run a request in `curl`, it doesn't include `"Accept-Encoding: gzip"` by defaul

[2021-10-29 20:54] andrewvc commented on #28303
To add to what @justinkambic wrote, I think it's sensible for our use case to automatically detect gzip and decode it. This may be easier said than done in that we only will decode the first fragment of it, which is a little trickier in the code, but should still be doable.

[2021-10-30 00:05] #22288 closed

[2021-10-30 02:39] florian-asche commented on #7291
Sad to see that this is still not resolved. I mean should i switch back to nagios check_icmp?

[2021-10-30 04:05] #22263 closed

[2021-10-30 13:05] #19831 closed

[2021-10-30 20:05] #22265 closed

[2021-10-30 20:05] #22266 closed

[2021-10-30 20:05] #21958 closed

[2021-10-31 20:42] paulb-elastic commented on #22326
This is still on the backlog as something we want to add - getting the value of cert checks, into real browser monitoring

[2021-11-01 08:46] ruflin commented on #21167
I need @michalpristas for details on this. If we don't I think it would be valuable to support.

[2021-11-01 08:48] shahzad31 commented on #28453
Post FF Testing:

From the the discription, i assume, with this issue adding monitors via integeration ui was broken

i testing adding HTTP/Browser monitors from UI and it works.

So testing looks good !!

[2021-11-01 09:01] ruflin commented on #22823
Yes, closing it directly. I added a reference to the v2 architecture doc.

[2021-11-01 09:40] #19185 closed

[2021-11-01 10:01] shahzad31 commented on #28437
post FF testing

Works flawlessly , step to test

1. Build heartbeat locally
2. Turn the flag `heartbeat.run_once: true` on
3. Run an example monitor
4. Start heartbeat, it shut down after only one run
5. Tried it couple times,
6. worked each time
7. Verified the data within uptime plugin
8. 3 pings present for 3 runs

[2021-11-01 10:37] v1v opened #28738 "[packaging] use -aarch64 suffix"
**Describe the enhancement:**

Normalise the package naming with the ARM architecture suffix, so, ARM package names using the wording `-aarch64` everywhere, except for .deb files that required `arm64` for apt.

**Describe a specific use case for the enhancement or feature:**

Same user experience for the Elastic Stack consumers.

When: Starting 8.0

For instance:

Kibana produces:

[code]

and Met

[2021-11-01 13:43] nchaulet commented on #28719
elastic/kibana#115030

I Tested the backport locally and looks like it solving the bug so I am going to backport it to 7.15

[2021-11-01 15:54] pramodanprakash commented on #28686
Thanks for looking into it.
If it helps, I noticed `ScriptName` having a string value of a full path to a PowerShell script in event ID `4103` I think the logs I was looking into was from a `Windows 10 Enterprise - 2019` machine.

I did not see a `Path` field in the 8 powershell eventIDs defined in the file (4XX, 600, 800, 4103, 4104, 4105, 4106) . However, I saw `CommandPath` which is captured co

[2021-11-01 18:32] nimarezainia commented on #24534
Hi @arnitolog due to other priorities facing the team right now, we are not considering adding this capability to the beats. We will keep reviewing this. thanks

[2021-11-01 18:48] EricDavisX commented on #22530
Good question.  Yes, I think relevant, with some commentary:

We have an Agent upgrade test in e2e-testing repo that uses the Kibana API to trigger the upgrade, as most usage will.  I expect that the test would fail if anything on the Agent side failed, so it probably covers this case ok.

If we agree on that, then it just becomes a matter of documenting the option correctly in the Agent side and

[2021-11-01 20:02] lykkin commented on #28210
from what i can tell it accurately updates the policy through kibana, then fleet server seems to ignore the update. what @ruflin said sounds plausible, as it might stall out the fleet server from picking up the policy change. adding more logs sounds like a great idea, and i'll rope @ruflin in when i circle back around to trying to repro this.

[2021-11-01 20:41] yakeeliuliu commented on #28520
Hi, I got the beat error logs now:

[code]

[2021-11-01 20:44] andrewvc opened #28748 "[Heartbeat][Agent] Document data streams in beats docs"
Our beats support data streams, but currently only fleet packages use them. We should document these so that non-fleet users can use data-streams. I think this needs to be done at a per-beat level but would like to hear from @kvch and @ruflin .

[2021-11-01 20:44] elasticmachine commented on #28748
Pinging @elastic/uptime (Team:Uptime)

[2021-11-01 20:46] andrewvc commented on #26153
Closing as this is way out of date

[2021-11-01 20:46] #26153 closed

[2021-11-01 20:52] nimarezainia commented on #28419
@kvch & @jlind23

There needs to be an error/warning banner when a user must tries to edit/close/delete backing indices of data streams. As much as I like enhancing documentation, in most cases the product in itself is the documentation. the question is which team do we  route this request to.

[2021-11-01 21:01] andrewvc opened #28749 "[Heartbeat] NPM-less default behavior for browser"
Currently, by default, heartbeat will run `npm install` on `zip_url` and `folder` directories before executing their contents. This is fragile and difficult to support for operators because:

1. It assumes `npm` is available
2. It assumes the cost of the install is cheap, it could be quite slow in relation to a simple test suite.

For a future service this is also not great because it's just slow.

[2021-11-01 21:01] elasticmachine commented on #28749
Pinging @elastic/uptime (Team:Uptime)

[2021-11-01 21:06] whyayala commented on #16335
Also seeing this in filebeat 7.15 deployed as a Task in AWS ECS with an image from ECR public gallery.

https://gallery.ecr.aws/elastic/filebeat

`ERROR	[logstash]	logstash/async.go:280	Failed to publish events caused by: client is not connected`

[2021-11-01 21:32] nimarezainia commented on #28140
@jlind23 I believe the integrations team needs to look at this. @akshay-saraswat please correct me If I am wrong.

[2021-11-01 22:54] dedemorton commented on #23073
Yup. Closing because this is already addressed. It wasn't on our project board, though, so this issue slipped through the cracks. :-/

[2021-11-01 22:54] #23073 closed

[2021-11-02 06:22] AlliotTech opened #28753 "Use filebeat's autodiscover input on Kubernetes. It may happen that only a part of the log is collected."
elasticsearch  filebeat version : 7.8.0
k8s version : v1.18.8
daemonSet config:
[code]

filebeat config:
[code]

filebeat give me some logs like this:
[code]
It's seems the filebeat think my application don't produce logs? but my appliacation do really produced a lot of logs...
I think I may have encountered some bug.

[2021-11-02 08:37] dasansol92 commented on #28719
Hey @nchaulet , I see the same on my end

[2021-11-02 09:37] shahzad31 commented on #28749
Can we have some sort of `allowlist` for the packages we allow, using npm we can install only those packages and also on top of those required by the agent. This will make sure the cost can be predicted for the npm install.

Removing npm install altogether does limit the selling point of ability to use raw js/ts in the test, in a sense that we are limiting the eco system on which js depends.

[2021-11-02 10:05] michalpristas commented on #18343
closing, changing ES output is reflected in agent.
kibana host is not used anymore

[2021-11-02 10:05] #18343 closed

[2021-11-02 10:17] michalpristas commented on #16344
i think this is not relevant anymore with integrations in place

[2021-11-02 10:17] #16344 closed

[2021-11-02 10:19] michalpristas commented on #22569
downloading snapshot binaries was fixed

[2021-11-02 10:19] #22569 closed

[2021-11-02 10:46] ruflin commented on #28748
I need a bit more details here. In 8.0 we switch to using data streams for Beats. But using data streams in beats does not use we are using the [data stream naming scheme](https://www.elastic.co/blog/an-introduction-to-the-elastic-data-stream-naming-scheme). Which part do you mean by using data streams?

[2021-11-02 12:15] #28149 closed

[2021-11-02 12:27] lucabelluccini opened #28762 "HTTP JSON Input supported in Elastic Agent but it is not exposed by any integration"
The documentation page <https://www.elastic.co/guide/en/fleet/master/beats-agent-comparison.html#supported-inputs-beats-and-agent> shows HTTP JSON input is supported in Elastic Agent.

There are several Integrations using `httpjson` under the hood, but we do not have any exposing `httpjson` input or which allow collecting data from a custom `httpjson` source.

We have also an issue which seems rel

[2021-11-02 12:27] elasticmachine commented on #28762
Pinging @elastic/obs-docs (Team:Docs)

[2021-11-02 12:54] awahab07 commented on #27952
**Post FF Testing**

To test the impact of modified Networking Conditions as a result of configured `throttling` parameters in **yml**, I created a small web application which first _downloads_ and then _uploads_ a large image (3MB in size), without requiring user interaction. To upload the image, the downloaded image's blob is uploaded as _FormData_.

[2021-11-02 12:56] #27952 closed

[2021-11-02 13:15] michalpristas commented on #22740
closing, even with the options set i was not able to repro
Win 11 64bit

[2021-11-02 13:15] #22740 closed

[2021-11-02 13:57] nchaulet commented on #28719
This should be solved by https://github.com/elastic/kibana/pull/116998

[2021-11-02 14:33] jlind23 commented on #28520
Could you please put logging.level: debug in functionbeat.yml for detailed logs?

[2021-11-02 14:35] jsoriano opened #28763 "Ensure that stack monitoring Metricbeat modules are tested with the next release"
Metricbeat modules for stack monitoring are currently tested only with the last released version, but not with the next one. This can lead to issues like https://github.com/elastic/beats/issues/27495, where there is some issue with a Metricbeat monitoring itself.

A possible strategy is to use snapshots with an update strategy similar to the one used for the testing environments in `testing/enviro

[2021-11-02 14:38] narph commented on #17314
In short, we are using standard user-mode Windows 32 APIs to query information on process internals, and we are unable to perform operations on protected processes due to their higher level of security.

Some references below offer detailed information on this, the access rights we use to query information (OpenProcess 32 api more precisely) look to be denied for protected processes.

https://www.

[2021-11-02 14:39] elasticmachine commented on #28763
Pinging @elastic/integrations (Team:Integrations)

[2021-11-02 14:51] jlind23 commented on #28419
@nimarezainia as it's under stack management it will say stack. Maybe @joshdover knows better than I do as he is pretty knowledgeable on interfaces topics.

[2021-11-02 14:55] jlind23 commented on #22530
I do agree but i am not the most knowledgeable on this. @ruflin do we assume that if the upgrade fails Kibana call will also fail?

For the on-line docs, who should take care of it? Is it part of your area @dedemorton?

[2021-11-02 14:57] shahzad31 commented on #28409
Post FF Testing Looks good

verified that it's not using a root user to run heartbeat in the docker container
[code]

[2021-11-02 17:31] #28683 closed

[2021-11-02 17:57] dedemorton commented on #22530
@jlind23 From scanning this issue, it's not clear to me what needs to be added to the documentation. To get this work on our radar, please [open an issue in the observability-docs repo](https://github.com/elastic/observability-docs/issues/new/choose) and describe what needs to be added/changed in the docs. Depending on what's required, either an obs-docs writer or someone on the development team w

[2021-11-02 18:16] 111andre111 commented on #21777
This is for sure supposed to be open.

[2021-11-02 19:18] jlind23 commented on #22530
@EricDavisX upgrade is documented here and it is explicitly defined for standalone agent.
https://www.elastic.co/guide/en/fleet/current/elastic-agent-cmd-options.html#elastic-agent-upgrade-command

Tests are green.
So, afaik we can close this issue. What do you think?

[2021-11-02 19:43] #22823 closed

[2021-11-02 19:45] jlind23 commented on #22921
@ruflin should be added in architecture V2 also, right?

[2021-11-02 19:50] jlind23 commented on #20657
@nimarezainia is this something we should investigate or shall we close this as won't fix?

[2021-11-02 19:52] andrewvc opened #28770 "[Heartbeat] Synthetics checks do not send summary event when node exits early"
This issue is related to https://github.com/elastic/kibana/issues/116850 . In that case the node subprocess exited early with a status of 1. This was determined by searching for relevant `cmd/status` events in Elasticsearch.  It turns out we only create a summary doc on a `journey/end` event as seen in [enrich.go](https://github.com/elastic/beats/blob/master/x-pack/heartbeat/monitors/browser/synth

[2021-11-02 19:52] elasticmachine commented on #28770
Pinging @elastic/uptime (Team:Uptime)

[2021-11-02 19:53] jlind23 commented on #20257
@mostlyjason regarding your actual work around superuser removal. Shouldn't we close this issue?

[2021-11-02 19:54] jlind23 commented on #19814
@ruflin what should we do with this issue?

[2021-11-02 19:55] jlind23 commented on #20579
@dedemorton do you know if it has been fixed? Do you remember what were the issues and inconsistencies?

[2021-11-02 20:08] andrewvc opened #28771 "[Heartbeat] Stop logging params as part of synthexec commands"
Params may sometimes contain secrets that should not show up in heartbeat logs. We can still log the executed commands in [synthexec.go](https://github.com/elastic/beats/blob/master/x-pack/heartbeat/monitors/browser/synthexec/synthexec.go#L145) (also [here](https://github.com/elastic/beats/blob/master/x-pack/heartbeat/monitors/browser/synthexec/synthexec.go#L192)  but should omit any params in tho

[2021-11-02 20:37] dedemorton commented on #20579
No, it's not fixed. I can see just from looking at the --help screen that there are still a lot of inconsistencies: inconsistent capitalization, inconsistent punctuation, lack of parallelism, unclear descriptions (possibly typos, too, but I didn't dig down into all the subcommands to confirm). There were so many nits that I figured someone on the writing team should just go through and edit everyt

[2021-11-02 20:42] dedemorton commented on #20579
Also wanted to note that the [Elastic Agent command reference](https://www.elastic.co/guide/en/fleet/master/elastic-agent-cmd-options.html) has (hopefully) clearer descriptions. Some of them are too detailed for CLI help, but whoever works on this issue should use the docs to inform the edits.

[2021-11-02 23:50] #28771 closed

[2021-11-03 06:46] #22253 closed

[2021-11-03 07:05] kvch commented on #28773
I am cross posting if from Slack. We save dashboards in this JSON format to make reviewing easier for module developers. The dashboard object goes through several transformation before it is loaded to Kibana. LayerListJSON is transformed to string in this code: https://github.com/elastic/beats/blob/master/libbeat/dashboards/modify_json.go#L389-L418 since https://github.com/elastic/beats/pull/28530

[2021-11-03 07:26] jlind23 commented on #17793
@ruflin shall we keep that issue? It does not seem to be relevant anymore.

[2021-11-03 07:45] michalpristas commented on #21167
if we imagine retry as running install command exiting with code 0 and let agent do retry in a background, we dont have that.
we do have a normal retry which performs enroll in a loop with some backoff configured. this is not configurable and defaults to `min: 60s, max: 10m`

i think we should close this

[2021-11-03 07:48] jlind23 commented on #21167
Agree.

[2021-11-03 07:48] #21167 closed

[2021-11-03 09:01] pgayvallet commented on #28773
I will have to agree with @nreese on this one. The error from https://github.com/elastic/beats/issues/28773#issuecomment-957962303 is rather explicit, the migration tries to parse `attributes.layerListJSON` and fails because of invalid JSON.

[code]

[code]

Hum, I'm surprised, as we (unfortunately) never had such kind of advanced validation for imports, even with the legacy import that was using

[2021-11-03 09:07] MichaelKatsoulis opened #28780 "Use named watcher for elastic agent kubernetes composable provider"
After merging of #28085 which introduces the named watcher (a name is passed into the kubernetes watcher which is then given to the work queue),  elastic agent composable kubernetes provider should also be updated to leverage this functionality.

Maybe we can consider completely replacing NewWatcher function and use NewNamedWatcher in its place.

[2021-11-03 09:08] elasticmachine commented on #28780
Pinging @elastic/integrations (Team:Integrations)

[2021-11-03 09:13] rudolf commented on #28773
Is it possible to get the NDJSON payload that beats sends to the Kibana saved objects import API? We can use that to decide if the payload is well formatted or not.

I would also add that just because an import worked in a previous version doesn't mean that the payload was correct, it could be that the map was imported but that the maps app was unable to use the layer metadata (just speculating be

[2021-11-03 09:14] kvch commented on #28773
Where is this error referring to the attribute?

The error can be found here: https://github.com/elastic/beats/issues/27988
It was reported a few weeks ago that `layerListJSON` should be a string and I fixed it in https://github.com/elastic/beats/pull/28530

[2021-11-03 09:16] kvch commented on #28773
@rudolf I will get more detailed logs for you in a few hours. Thanks!

[2021-11-03 09:20] pgayvallet commented on #28773
In the source code associated to the `setEmsTmsDefaultModes` failing migration:

https://github.com/elastic/kibana/blob/3b3c4b2f4a8fc120b2f9fc35c8945f59042079d0/x-pack/plugins/maps/common/migrations/set_ems_tms_default_modes.ts#L16-L25

[2021-11-03 09:26] kvch commented on #28773
These are the logs I get: https://gist.github.com/kvch/dcef6cc6be4c0e8b262d5769f9a0df50
I will look into it once more when I get back. Thanks.

[2021-11-03 09:38] rovnyart commented on #17724
+1

[2021-11-03 10:41] ruflin commented on #22530
AFAIK the Kibana call only triggers the upgrade. The question is if the tests then wait to see if the upgrade was successful. If yes, I think we can close this issue.

Side note: It would be nice (if possible) if we could upgrade tests for various versions as some issues like upgrading 7.13 to 7.15 broke things etc. We would need to define what the matrix is.

[2021-11-03 11:20] willemdh commented on #17314
Thanks @narph for the info. It would be Nice if we world be able to Get cpu and memory info From protected processen to Get a complete picture imho.

[2021-11-03 11:43] kvch commented on #28773
Ok, that was the wrong output.

But I have checked it locally, and it seems it's indeed a Beats issue. Thank you for pointing me in the right direction.

[2021-11-03 11:58] awahab07 commented on #27952
@andrewvc @vigneshshanmugam Given the default `throttling` and while POSTing a large payload (3MB image to localhost, following this [suggestion](https://github.com/elastic/synthetics/issues/284#issuecomment-956142103)), journey doesn't wait for the POST request to complete. Any assertion dependent on request completion fails and the request is not captured in the breakdown.

I've tried extending

[2021-11-03 12:07] ruflin commented on #22921
Happy to label this with v2 architecture for tracking. My current take is that likely we should this more via deployment instead of having elastic-agent being responsible to manage resources. It's an ongoing conversation.

[2021-11-03 12:08] ruflin commented on #20657
This is likely is more coming from a personal interest to run Elastic Agent on my NAS, not sure how common this is.

[2021-11-03 12:12] ruflin commented on #19814
This came initially out of a discussion with uptime (https://github.com/elastic/uptime/issues/251) and we figured this could be a more generic use case. I'm wondering on where the priority is on this from the synthetics side @andrewvc ?

There are also potentially alternative solutions to the above problem which could be more generic like adding metadata to Elastic Agents in the Fleet UI which cou

[2021-11-03 13:01] ThorbenJ commented on #22740
![image](https://user-images.githubusercontent.com/1284751/140063849-991c82fe-7654-4895-af71-c74ccb2c7353.png)

As I document you will not trip this issue in a normal powershell console. This error handling is only on by default in PS Remote, PS ISE and certain ways of scheduling PS scripts. Search for System.Management.Automation.ErrorRecord - If this error handling is enabled any line sent to ST

[2021-11-03 13:30] tetianakravchenko commented on #28629
After discussing this issue with @MichaelKatsoulis and @ChrsMark , sum up:
1. in current [implementation](https://github.com/elastic/beats/blob/v7.8.0/filebeat/processor/add_kubernetes_metadata/matchers.go#L90-L93) we expect that the logs file and the file we extract pod/container id (from the file name) is the same - it is not true for `pod` now: logs are taken from /var/logs and pod ids from `/v

[2021-11-03 13:40] ruflin commented on #17793
This issue was / is around documenting some of the decision made on how we landed on what we have with the elastic agent config format today. There were many discussions and scattered around many places. It would be good to have this documented and it likely falls mostly on my plate to do it. Also it is an internal need not necessarily something that needs to be exposed.

I'm going to close this i

[2021-11-03 13:40] #17793 closed

[2021-11-03 14:48] jlind23 commented on #22740
@michalpristas could you please take a look again.

[2021-11-03 14:54] jlind23 commented on #22921
Label added.

[2021-11-03 14:58] gbanasiak opened #28788 "incorrect default value of agent.download.timeout in Elastic Agent reference yaml"
As of 7.15.1 the default value of `agent.download.timeout` is 120s ([code](https://github.com/elastic/beats/blob/v7.15.1/x-pack/elastic-agent/pkg/artifact/config.go#L47-L48)), not 30s as shown in the [reference YAML](https://github.com/elastic/beats/blob/v7.15.1/x-pack/elastic-agent/_meta/elastic-agent.yml#L65-L66).
Please update the YAML.

[2021-11-03 14:59] elasticmachine commented on #28753
Pinging @elastic/integrations (Team:Integrations)

[2021-11-03 15:00] elasticmachine commented on #28724
Pinging @elastic/integrations (Team:Integrations)

[2021-11-03 15:02] elasticmachine commented on #22392
Pinging @elastic/elastic-agent (Team:Elastic-Agent)

[2021-11-03 15:03] elasticmachine commented on #28788
Pinging @elastic/elastic-agent-control-plane  (Team:Elastic-Agent-Control-Plane)

[2021-11-03 15:13] kaiyan-sheng commented on #22179
Hi @akshay-saraswat and @ChrsMark, here are the two issues I created:
Testing new container fields in docker: https://github.com/elastic/integrations/issues/2119
Testing new container fields in kubernetes:  https://github.com/elastic/integrations/issues/2120

[2021-11-03 15:29] vigneshshanmugam commented on #27952
@awahab07 Can you paste the script you have tested? There are multiple ways to control a request timeout, would like to see the script and propose solution.

[2021-11-03 15:40] awahab07 commented on #27952
[code]
@vigneshshanmugam Clicking of the buttons Download and Upload initiates the downloading and posting of the image data. Download request gets captured. Whereas the last assertion fails because the journey ends while the upload is in progress.

[2021-11-03 15:58] paulb-elastic commented on #27952
Where I've done something similar in the past, I've made the page add some text when it's finished the task, for example with something like this:

`document.getElementById("finishedLocation").innerText="hello world"`

Then made Playwright wait for that to exist on the page, for example:

`await page.waitForSelector('text=hello world');`

[2021-11-03 16:15] cachedout commented on #27211
@jlind23 I don't think we can close it until https://github.com/elastic/beats/pull/28131 is complete.

[2021-11-03 16:18] faec opened #28791 "libbeat Kafka output not respecting cipher suite SSL setting"
- Version: Filebeat 7.14.1
- Operating System: Windows

When the Kafka configuration specifies an explicit cipher suite (`output.kafka.ssl.cipher_suites: ["RSA-AES-128-CBC-SHA"]`) it is observed in packet analysis to still send a TLS 1.2 client handshake allowing 3 additional cipher suites (`TLS_AES_128_GCM_SHA256`, `TLS_CHACHA20_POLY1305_SHA256`, and `TLS_AES_256_GCM_SHA384`).

[2021-11-03 16:18] elasticmachine commented on #28791
Pinging @elastic/elastic-agent-data-plane  (Team:Elastic-Agent-Data-Plane)

[2021-11-03 16:25] kaiyan-sheng commented on #25591
Hello @benberg86, thanks for creating the issue here. The permission listed in the documentation is for collecting monitoring metrics from CloudWatch for Lambda. We don't need special lambda permission when making API calls to CloudWatch. Did you run into permission error when trying to run Metricbeat?

[2021-11-03 16:48] avoidik commented on #28011
I assume empty input caused the problem, you can easily reproduce it by sending `{}` to a functionbeat function from the aws web console

[2021-11-03 16:49] #28011 closed

[2021-11-03 16:51] felipeIntelipost commented on #28011
Hi, I've updated the functionbeat version to 7.15, now it's working correctly.

[2021-11-03 17:04] michalpristas commented on #27759
no not likely, i have an Ubuntu VM, i will try to repro

[2021-11-03 17:04] vigneshshanmugam commented on #27952
Proposed solution from Paul also works. There is also other way to wait for that upload request to complete using Playwright API. Use wait for response from the upload endpoint - https://playwright.dev/docs/api/class-page#page-wait-for-response

[2021-11-03 17:09] jamiesmith opened #28792 "Visualizations on the Kubernetes overview dashboard override index but shouldn't"
(Note that I got the data from agent, but probably the same with metricbeat)

There are two visualizations on the `[Metrics Kubernetes] Overview` dashboard that are overriding the index pattern but shouldn't be (they have "yes" checked, but don't specify it). This results in broken visualizations:
<img width="1630" alt="image" src="https://user-images.githubusercontent.com/220994/140130562-7b78f1b

[2021-11-03 17:38] EricDavisX commented on #22530
The test waits to see if it is successfully started, but not much more.  I added the requirement for multiple-versions in a matrix to the existing Fleet Agent upgrade issue - https://github.com/elastic/e2e-testing/issues/53

I am pleased to see the Agent side docs are in, see screenshot below.  Let's close this out.
<img width="1297" alt="Screen Shot 2021-11-03 at 1 37 07 PM" src="https://user-ima

[2021-11-03 17:38] #22530 closed

[2021-11-03 17:51] awahab07 commented on #27952
When the timeout for `waitForSelector` or `waitForResponse` is around 10 seconds, pings are not pushed to the monitor at all. Is it an expected behavior?

[2021-11-03 17:59] liza-mae commented on #28773
Thanks @kvch for #28787 PR, should this be back-ported to 8.0 branch?

[2021-11-03 18:20] #28724 closed

[2021-11-03 18:27] awahab07 commented on #27952
**Post FF Testing**

To test the impact of modified Networking Conditions as a result of configured `throttling` parameters in **yml**, a small web application is created which first downloads and then uploads a large payload (3MB image). To upload the image, the downloaded image's blob is POSTed as FormData ([following](https://github.com/elastic/synthetics/issues/284#issuecomment-956142103)).

F

[2021-11-03 18:31] andresrc commented on #28773
Backport to 8.0: https://github.com/elastic/beats/pull/28796

[2021-11-03 18:32] mostlyjason commented on #20257
I believe this about root privileges on the host, not about superuser privileges in Kibana. We already offer a warning as of 7.13 so I think we can close this issue now.

[code]

Once the agent is installed it runs as a system service

[2021-11-03 18:32] #20257 closed

[2021-11-04 07:57] michalpristas commented on #27759
@amolnater-qasource  ca we try on your side increasing agent.download.timeout to 300?
just modify elastic-agent.yml and add `agent.download.timeout: 300` rerun the test to rule out env issue.
we see timeouts here, weirdly on asc file which is small. so i would expect some env issue related to the machine. these are pretty slow.

also binary sizes differs per OS type, linux archive being the larges

[2021-11-04 08:43] michalpristas commented on #27759
trying this locally, even after initial enroll of 7.15.1-SNAPSHOT i get into `Unhealthy` state. No upgrade needed.

i see  these errors in endpoint log file:
[code]

@EricDavisX anything of these ring a bell?
i have a fresh VM, Ubuntu 2010, no mods

[2021-11-04 09:33] lihengxuan commented on #7429
I use metricbeat 7.6.2 collect ceph data(mimic ) ,the conig file is:
- module: ceph
  metricsets:
    - mgr_cluster_disk
    - mgr_osd_perf
    - mgr_pool_disk
    - mgr_osd_pool_stats
    - mgr_osd_tree
  period: 1m
  hosts: [ "https://localhost:8003" ]
  username: "metricbeat"
  password: "8bd7d8d4-7092-46eb-9146-e5086b0e8b6d"
  ssl:
    verification_mode: none
but I can't collect data,log file

[2021-11-04 11:38] michalpristas commented on #27759
same after update. it went green but after 4 minutes above messages started to pop up and endpoint became degraded

[2021-11-04 14:50] #25043 closed

[2021-11-04 15:11] nchaulet commented on #28719
Just tested the upgrade from 7.12 SNAPSHOT to 7.15.2 to 7.16 everything is now working.

[2021-11-04 15:25] EricDavisX commented on #27759
we can ask @ferullo to comment on the Endpoint logs above and if they are significant. I'm not sure.  If it happens prior to upgrade that is helpful to debug it at least.  : /

[2021-11-04 15:57] jlind23 commented on #27211
Sorry didn't see it 🤦🏼‍♂️

[2021-11-04 16:14] ferullo commented on #27759
@nicholasberlin  ^^^

`@kup` sorry for a random mention. I meant to `@` someone else.

[2021-11-04 16:20] jlind23 commented on #21336
We'll deal with it later then.

[2021-11-04 16:26] jlind23 commented on #17331
@ruflin your opinion. Shall we keep it open?

[2021-11-04 17:38] n0othing opened #28821 "Update Filebeat's Cisco > ASA config to reflect UDP"
In https://github.com/elastic/beats/pull/13286 we switched Filebeat's Cisco ASA dataset to use a regular `udp` input instead of a `syslog` input, however, the `cisco.yml` still makes it look like we're using `syslog`:

[code]
`.../module/cisco/asa/config/input.yml`
[code]

This may cause some confusion and it'd be helpful to adjust settings/comments to reflect the use of a `type: udp` input.

[2021-11-04 17:45] vigneshshanmugam opened #28822 "[Heartbeat] Allow running monitors in service"
**Describe the enhancement:**

Allow running HB monitors in a central service.

### Proposal

Heartbeat config would look like this

[code]
+ Heartbeat would need to push the configured monitors every configured `update_interval` which is set to `20m` in the above config.
+ Username and password would be optional ones for now as we want to go with Basic Auth for the current term. Will be changed l

[2021-11-04 17:45] elasticmachine commented on #28822
Pinging @elastic/uptime (Team:Uptime)

[2021-11-04 20:31] michel-laterman commented on #15544
Associated PRs:

https://github.com/elastic/beats/pull/28573 - remove code for 8.0
https://github.com/elastic/observability-docs/pull/1208 - remove setting from elastic-agent docs for 8.0
https://github.com/elastic/beats/pull/28772 - deprecate settings for 7.16
https://github.com/elastic/observability-docs/pull/1206 - mark settings as deprecated in elastic-agent docs for 7.16

[2021-11-04 20:32] #15544 closed

[2021-11-05 00:00] dedemorton commented on #27245
Noting here that https://github.com/elastic/observability-docs/pull/1091 fixed this problem for 7.15 and later, but I forgot to backport it to 7.14.  I'll leave this issue open until it's fully backported.

[2021-11-05 00:15] andrewkroh opened #28828 "[Filebeat] aws-s3 - Add validation of S3 Event Notification JSON received from SQS"
**Describe the enhancement:**

The aws-s3 input can receive JSON that does not contain `Records` and no error is returned. When this happens the reader assumes the SQS message contained zero object created notifications and carries on normally by deleted the message.

This should be treated as an error because the message is not a valid S3 Event Notification. We should change the struct definition

[2021-11-05 00:15] elasticmachine commented on #28828
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-11-05 00:16] elasticmachine commented on #28828
Pinging @elastic/integrations (Team:Integrations)

[2021-11-05 02:15] matschaffer commented on #28763
In my recent exploration of metricbeat kibana module, I was surprised to not find anything like `_meta/testdata` that would help ensure module functionality across a (probably small) range of stack versions.

I tried to add it, but it doesn't look like testdata is set up to support modules that require extra endpoint requests as part of the init phase (like how kibana stats module checks the versi

[2021-11-05 07:10] michalpristas commented on #27759
[endpoint-000000.log](https://github.com/elastic/beats/files/7481226/endpoint-000000.log)
attached are logs from my vm, it contains before and after upgrade entries

[2021-11-05 07:46] #22440 closed

[2021-11-05 09:09] shahzad31 commented on #28822
@vigneshshanmugam thanks for putting it up. I think schema will need to be changed a bit

`heartbeat.service` part looks good , in which essentially we define a list of service regions availalable, in the monitor part we also need to add `service_urls` list attribute, since user can decide in the ui to not run monitor in all the regions, essentially difference monitors can have difference regions

[2021-11-05 09:55] jsoriano commented on #28763
There have been some internal discussions about this, but we don't have a general framework. For example for rabbitmq we have a [mocked server](https://github.com/elastic/beats/blob/5ee1964c64382f5f04cb645b13824cc546f19fbe/metricbeat/module/rabbitmq/mtest/server.go#L43), but it doesn't support multiple versions, and so far it is specific for rabbitmq, but maybe it can be generalized.

For Cloudfou

[2021-11-05 10:37] roaldi commented on #25455
How about adding a "public" parameter? A value of "true" would set read permissions for everyone. Then it's just the simple issue of file permissions.

[2021-11-05 11:54] jamiehynds commented on #24835
@andrewkroh anything stopping up from GA'ing the PANW module? The integration is GA, so makes sense to GA the Filebeat module also if possible.

[2021-11-05 11:54] elasticmachine commented on #8352
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-11-05 13:19] nicholasberlin commented on #27759
I see this in the logs
[code]

And perhaps more importantly, this:
[code]

@michalpristas Can you provide the manifest file for user-artifacts?
`/opt/Elastic/Endpoint/cache/artifacts/user-artifacts/manifest.json`

Still working on reproducing myself, I assume you meant Ubuntu 21.10, (but I will try Ubuntu 20.10 too).