[2018-02-26 06:42] #5354 closed

[2018-02-26 06:46] ruflin commented on #5211
@jsoriano Did your PR in https://github.com/elastic/beats/pull/5819 solve the above issue, meaning we can close this one? Or did it "only" add the http endpoint.

[2018-02-26 06:47] ruflin commented on #5181
Going to close this issue as this issue as I think it was resolved with the above comment.

[2018-02-26 06:47] #5181 closed

[2018-02-26 06:50] ruflin commented on #4579
Closing this as we have now an identical auto generated list here: https://www.elastic.co/guide/en/beats/metricbeat/master/metricbeat-modules.html

[2018-02-26 06:50] #4579 closed

[2018-02-26 06:55] ruflin commented on #4421
@whale-shark Looking at this issue I saw that you did a commit referencing this issue. Does the commit you made work? If yes, any chance to contribute it back?

[2018-02-26 06:59] ruflin commented on #4241
An initial PR has been started here: https://github.com/elastic/beats/pull/4242

[2018-02-26 07:02] ruflin commented on #3887
Closing this as we have a quite a few PR's related to this in the repo now.

[2018-02-26 07:02] #3887 closed

[2018-02-26 07:03] ruflin commented on #3886
Closing as a basic LS module was added to Metricbeat. More metrics have to be added over time.

[2018-02-26 07:03] #3886 closed

[2018-02-26 07:05] ruflin commented on #3828
I'm closing this meta issue as we have covered allmost all the points above. For all the new things to come we should open separate issues / PR's.

@martinscholz83 Thanks a lot for getting us to this point.

[2018-02-26 07:05] #3828 closed

[2018-02-26 07:11] ruflin commented on #3480
I started some work here: https://github.com/elastic/beats/pull/5968

I changed the label to `libbeat` as this would be a processor in libbeat.

[2018-02-26 07:12] ruflin commented on #3466
Closing this issue as we have a Golang module now.

@medcl Thanks for making this happen.

[2018-02-26 07:12] #3466 closed

[2018-02-26 07:14] ruflin commented on #3182
I'm closing this issue as we now follow this convention with all new metricsets. Old ones are updated when needed.

[2018-02-26 07:14] #3182 closed

[2018-02-26 07:17] ruflin commented on #2629
Closing this as we covered almost all the issues in this meta issues.

[2018-02-26 07:17] #2629 closed

[2018-02-26 07:18] ruflin commented on #2485
Closing this even though we don't have the dashboards yet.

[2018-02-26 07:18] #2485 closed

[2018-02-26 08:24] ruflin commented on #5000
@andrewkroh Could you have a look at the above ot check how many boxes we can check with your new implementation?

[2018-02-26 08:25] ruflin commented on #4755
Closing this as the -i flag was added. In Go 1.10 it actually is not needed anymore as new detection mechanisms are in place.

[2018-02-26 08:25] #4755 closed

[2018-02-26 08:26] ruflin commented on #4277
@ph Pinging you on this one as I'm not sure you are aware of it. Perhaps we can also close this issue by now?

[2018-02-26 08:27] ruflin commented on #3955
Closing this as @urso handled the first 2 items. Reloading is not possible yet but we have soon the foundation for it to make it possible.

[2018-02-26 08:27] #3955 closed

[2018-02-26 08:31] ruflin commented on #3179
Closing this as we renamed by now the full config to reference and since then didn't have much asks for any changes.

[2018-02-26 08:31] #3179 closed

[2018-02-26 08:33] ruflin commented on #746
This has been fixed since then.

[2018-02-26 08:33] #746 closed

[2018-02-26 09:16] medcl opened #6473 "Support for munin module in Metricbeat"
Munin: http://munin-monitoring.org/

Munin is a widely used monitoring solution, and support a lot of platforms, such as OpenWRT, Solaris/SmartOS(which beats is not able to reach, for now, limited by Golang's implementation),

Also with a lot of metric collect plugins:

- https://github.com/munin-monitoring/munin/tree/master/plugins
- https://github.com/munin-monitoring/contrib/tree/master/plugins

[2018-02-26 09:20] ruflin commented on #6473
I like the idea. I would imagine it would work pretty similar to our http or prometheus module. In the best case metricbeat would be installed along the munin node agent but for not supported system it could be also remote.

[2018-02-26 14:20] sempervictus commented on #6355
Indices are versioned for beats, maybe do the same with the template file for clarity about versioning? Thanks for digging into this, we have a number of large deploys this year, prefer to avoid monkeypatching...

[2018-02-26 15:09] whale-shark commented on #4421
@ruflin Thank you for pointing out. I read a procedure and made a request. Please tell me if there is any mistake. #6475

[2018-02-26 18:03] dmontemayors opened #6476 "Documentation - Mention empty lines ignored"
Opening ticket per discussion: https://discuss.elastic.co/t/filebeat-not-sending-empty-lines/118060/5

Documentation isn't clear that empty lines are ignored by default.  Configuration options 'hint' that all lines are exported, but this is not the case since empty lines are not.  Can you update the documentation to reflect this?  Thank you.

1. https://www.elastic.co/guide/en/beats/filebeat/curre

[2018-02-26 18:27] ph commented on #4277
Oh Lets close it, I didn't about this issue :)

[2018-02-26 18:27] #4277 closed

[2018-02-26 18:48] gwsales commented on #6091
I'm still seeing this error with the current version.

[2018-02-26 18:53] gwsales opened #6477 "auditbeat auditd failure receiving events"
Still getting an error when starting auditbeat with default settings:

Closed issue:    #6091

`2018-02-26T12:40:42.736-0600    ERROR   [auditd]        auditd/audit_linux.go:110       Failure receiving audit events  {"error": "failed to set audit PID. An audit process is already running (PID 670)"}`

[code]

[2018-02-26 19:11] jaipradeesh commented on #6472
I was thinking to do the following way ..

[code]
.. but to match the `EventFetcher` (or) `EventsFetcher` interface, it would be better to go with `json_list` metricset.

[code]

[2018-02-26 22:55] arthurgimpel commented on #149
+1

[2018-02-27 00:01] ruflin commented on #5275
Tracking issue on the kibana side: https://github.com/elastic/kibana/issues/16232

[2018-02-27 00:52] ruflin commented on #4421
@whale-shark Awesome. Left some comments on the PR.

Are you using this code on your end in production / testing? Did you compile your own beat?

[2018-02-27 01:08] ruflin commented on #6091
@gwsales Could you share the exact version you are using (current unfortunately changes over time) + your config + log files?

[2018-02-27 01:09] ruflin commented on #6091
@gwsales Just saw now that you opened https://github.com/elastic/beats/issues/6477 Can you please put your auditbeat version in there?

[2018-02-27 01:13] ruflin commented on #6472
I'm more going in the direction of not adding a metricset for this an always use the second interface even if there is just one event. If it's just a single event, it has to be convered to []common.MapStr

The implementation you suggest above looks a lot like auto detection. I would prefer not to do that and use a config option instead. So if someone configures array but a non array json object is

[2018-02-27 06:19] wflyer commented on #6372
I'm also experiencing same issue.

I'm using `docker.elastic.co/beats/filebeat:6.2.2` with kubernetes `v1.9.2`.

[code]

[2018-02-27 07:23] christiangalsterer commented on #6027
Hi @ruflin,
sorry I didn't had as much time as I hope for for various reasons, but I can do in the next days.

[2018-02-27 07:26] christiangalsterer commented on #6472
As commented in #6027 I can look into this in the next days.
W.r.t. to the implementation I would change to EventsFetcher interface but have a preference for auto-detection of arrays as this is more user-friendly and requires less configuration, but we can also add it later if this is currently the preferred way.

[2018-02-27 08:11] christiangalsterer commented on #6472
Just saw that there is #6480 already on the way.. so will have a look into that one.

[2018-02-27 08:48] christiangalsterer commented on #6276
I finally have some time to look into this and was checking how other metricbeat modules are dealing with this and it seems that at least apache/status and php:fpm/pool are having a separate `query` parameter and then use existing config options for URLHostParserBuilder.
Saying that for consistency reasons I have a slight preference to go also here with the same approach for http/json but open als

[2018-02-27 10:35] jaipradeesh commented on #6191
#### freenode/#mongodb logs - 2018-02-27

[code]

@ruflin In such case, I don't think validating across the whitelist of opcodes makes sense. What do you think?

// @adriansr

[2018-02-27 12:04] simpleuser99 commented on #2987
This issue is closed?
Can I use custom pgsql request for get special database metrics?

[2018-02-27 14:03] gwsales commented on #6477
[code]

Config:
Note: Removed unused sections and most comments, I'll upload the whole file if needed, but it's just defaults with some things disabled.
[code]

[2018-02-27 15:47] whale-shark commented on #4421
@ruflin Thank you for checking.

I built it locally on my CentOS.
I was able to get the HeapMemoryUsage from remote Java VM  by using the result of building.

The bundled test did not work well from the beginning, so I could not do it.
For more details, I wrote in PR.

[2018-02-27 15:51] andrewkroh commented on #6477
You need to stop the other audit process (which has PID 670) before Auditbeat can take control of the unicast audit socket. See https://www.elastic.co/guide/en/beats/auditbeat/current/auditbeat-module-auditd.html for some more details.

[2018-02-27 16:29] gwsales commented on #6477
Looking through the docs I missed the kernel version with multicast as an option.

[code]

Is there a way to read the auditd logs and do the translations for uid's and json output like auditbeats? I haven't seen anything in filebeats that looks like it would be able to do this. I unfortunately need to run auditd for compliance and wanted to run auditbeats to get critical events in a better parsed

[2018-02-27 18:00] ppf2 opened #6482 "Filebeat: Test config not detecting incorrect scan_frequency setting"
[code]

6.2.1

Have a config that has scan_frequency incorrectly defined at the root level (instead of under a prospector).  Test config returns OK.

There is also not an indication in the log file that the setting is invalid and will be ignored.  It will be nice for test config to detect it (and indicate that the setting does not apply at the root level, and only at the prospector level) and fail

[2018-02-27 19:42] andrewkroh commented on #6477
No, Auditbeat is not able to read log files. Though I do think having an option in Filebeat to process those auditd logs using the same code that Auditbeat uses would be nice to have. It would be like running `sudo cat /var/log/audit/audit.log | auparse -format=json -i` where `auparse` is the tool from our [go-libaudit](https://github.com/elastic/go-libaudit#installation-and-usage) library.

You c

[2018-02-27 19:50] gwsales commented on #6477
Thanks for the info, how would I go about requesting that auditd log enhancement to filebeat?

[2018-02-27 19:50] #6477 closed

[2018-02-27 20:05] andrewkroh commented on #6477
You can open a new issue in this repo for the feature request. I think what we need is a auditd [prospector type](https://www.elastic.co/guide/en/beats/filebeat/current/configuration-filebeat-options.html#_literal_type_literal) in Filebeat that uses go-libaudit to do the parsing/enriching.

We have an auditd module in Filebeat, but it's not as powerful as what we have in go-libaudit. It simply par

[2018-02-27 20:37] gwsales opened #6484 "Filebeat feature request for auditd event merging and enrichment"
Requesting a new prospector type in filebeat that uses go-libaudit to parse and enrich data, basically need to read auditd logs and build json output like auditbeats for environments that are stuck using auditd and not able to use the muticast socket type due to older kernal versions

#6477

[2018-02-27 20:46] XtineInWa commented on #149
+1

[2018-02-27 23:34] fjgal commented on #3744
@ruflin I faced the same issue as describe here.

It appears that the function `libbeat/elasticsearch/client.go#getIndex` is only converting the timestamp to UTC for index extension when the "index" metadata is available in the event. Otherwise it uses the default mechanism to format the index string (`index.Select(event)`) which doesn't convert the Timestamp to UTC.

I submitted a PR (#6485) that

[2018-02-28 01:22] ap924g opened #6486 "filebeat Apache module config changes to add response time."
Hi ,
We are planning to use apache file beat module to export IBM Http server access logs . We are able to view the data in kibana dashboard but the response time value is not showing.  Below is a sample of our access log.

20.20.X.X - - [23/Feb/2018:12:48:48 -0500] "GET /v1files/?v=9052&op=tile&info=true&pages=1, HTTP/1.1" 200 **459 11570 +**

[2018-02-28 08:01] ruflin commented on #6472
@christiangalsterer Yep, work already started and I see you already commented 👍 I always prefer to start with no magic and add it later if needed.

[2018-02-28 08:23] ruflin commented on #6482
This is not an issue related to scan_frequency but in general how yaml configs work on the beats side. At the moment we cannot detect if there are additional configs as there we don't have global knowledge of which config options are used. AFAIK @urso is currently thinking about some ideas on how we could solve this. I thought we had a more generic place to track this but couldn't fin the issue.

[2018-02-28 08:26] Vladimir-csp commented on #3537
I am still able to reproduce it with filebeat 6.1.1 and 6.2.1 on Linux and FreeBSD.
[code]
Start fails with empty registry
[code]

[2018-02-28 08:43] ruflin commented on #6372
@exekias I wonder if we should check here https://github.com/elastic/beats/blob/master/libbeat/processors/add_kubernetes_metadata/indexers.go#L161 for nil values and log an Error? Or should GetIndexes also support returning an error?

[2018-02-28 10:29] towolf commented on #6372
s234 is the node with the most container churn, as this is the node where Gitlab-Runner schedules its build pods.

This seems to be correlated with actual log contents? Or does the `filebeat` instance prospecting the most new log files do the most lookups in the Kubernetes API?
[code]

[2018-02-28 10:35] avleen commented on #3537
I suggest not catting `/dev/null` into your registry file ;-)

[2018-02-28 12:56] mbrancato commented on #6395
This appears to affect the CPU and available / unavailable pods. Its a different scaling issue, but same cause. Should we open a separate issue for those graphs? At 24 hours, the available pod counts are event 60x higher than the actual counts.

    15 minutes

![image](https://user-images.githubusercontent.com/8493275/36788598-83e7fbc2-1c5c-11e8-89c6-48a1edc2654a.png)

    1 hour

![image](https:

[2018-02-28 15:04] tsg commented on #3422
We can consider phase 1 completed.

[2018-02-28 15:04] #3422 closed

[2018-02-28 18:02] exekias commented on #6372
Yes, I think I'm adding some defensive code + logging there to avoid this issue.

Thank you everyone for reporting this! so far I couldn't reproduce the issue so the stack traces help a lot here

[2018-02-28 18:15] videetssinghai commented on #6285
Hey If anyone isn't working on this, can I take this up?
Please provide some guidance to start

[2018-02-28 18:38] exekias commented on #6372
@ruflin I've just opened #6487, let me know what you think

[2018-02-28 19:10] exekias commented on #6285
Awesome @videetssinghai :tada:, as far as I know, no one is working on this, so feel free to give it a try! Here you have some useful pointers:

1. Docs on existing conditions: https://www.elastic.co/guide/en/beats/filebeat/current/defining-processors.html#conditions
2. Implementation of current conditions: https://github.com/elastic/beats/blob/master/libbeat/processors/condition.go

[2018-02-28 22:05] adriansr commented on #6409
@anergiti can you try capturing more traffic with the `-dump` option and make sure that you see the errors in the log?

[2018-03-01 03:01] themontem opened #6489 "Saved `field` parameter is now invalid."
After loading index template and dashboard and creating Index pattern for `packetbeat-*`. Getting the issue `Saved field parameter is now invalid. Please select a new field.`

![image](https://user-images.githubusercontent.com/14853016/36824900-bfa934e0-1d2a-11e8-8ce1-d2fab3142c51.png)

- **Version**:
ElasticSearch: `Version: 6.2.1, Build: 7299dc3/2018-02-07T19:34:26.990113Z, JVM: 1.8.0_111`
Kiban

[2018-03-01 03:02] manthansharma commented on #6489
Kibana working fine with `packetbeat version 6.2.2 (amd64), libbeat 6.2.2`

[2018-03-01 15:08] eLRuLL commented on #1037
is there a possibility that this feature could still be added? As @sreque points out, the problem still remains if `offset` is supported and that's being done anyway.

Here is an [SO question (with bounty)](https://stackoverflow.com/questions/48996697/logstash-how-to-include-input-file-line-number)

[2018-03-01 19:46] EmFl commented on #2073
Could someone confirm that this is still unsupported and if there's any hope of seeing it integrated in the near future ?
Thanks

[2018-03-02 01:39] ruflin commented on #6191
I leave it to @adriansr to comment :-)

[2018-03-02 01:50] ruflin commented on #2987
@simpleuser99 This issue is still open as it's not implemented yet. Contributions are welcome ;-)

[2018-03-02 16:05] ap924g commented on #6486
I have updated the grok statements in the ingest pipeline and getting the results as expected. Closing this issue.

[2018-03-02 16:05] #6486 closed

[2018-03-02 17:25] fdartayre opened #6492 "Support empty hostnames in MySQL slow logs"
Hi,

This is a request to support empty hostnames in MySQL slow-query logs as I came across such examples.

Here is an extract of a slow-query log in which the hostname comes as an empty string: [slow-queries.log](https://github.com/elastic/beats/files/1776009/slow-queries.log)

Nowadays the grok pattern in `module/mysql/slowlog/ingest/pipeline.json` does not match the attached MySQL slow query lo

[2018-03-03 00:45] ppf2 opened #6493 "Document http authentication for metricbeat http module"
https://github.com/elastic/beats/issues/4268 is closed, but authentication for the http module is not yet documented.

This can be specified via a headers map with a base64 string (example below is for elastic:changeme) for basic authorization, eg.

[code]

[2018-03-04 01:30] ppf2 opened #6494 "Clarify server metricset of http module"
Documentation around http module's server metricset is quite light today (https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-metricset-http-server.html).  It will be helpful to provide some details on things like 1) intended use case for this metricset, 2) the module actually launching a http server, 3) can the http server launched be configured to have some level of protection?

[2018-03-04 04:45] ruflin commented on #6276
I would suggest to follow the path we discussed above. This would mean we can potentially remove the query part from the other modules in the future?

[2018-03-04 04:51] ruflin commented on #3744
@fjgal Thanks, will continue the discussion on the PR.

[2018-03-04 04:54] ruflin commented on #6486
@ap924g Would you mind opening a PR with your changes so it's also available to others?

[2018-03-04 04:57] ruflin commented on #6372
@exekias Merged. Good to know the other branches are not affected. Ignore my comment in the PR then.

[2018-03-04 09:18] anergiti commented on #6409
Sure, can try
cuz throughput is overwhelming.

[2018-03-04 10:18] christiangalsterer commented on #6276
@andrewkroh: Any additional comments/thoughts from your side?

[2018-03-04 17:40] cawoodm opened #6495 "Default filebeat.yml should include output.elasticsearch.index"
It's always mystified me why the default filebeat.yml includes so many commented out options most people will never need but the one option everyone needs is not there at all: output.elasticsearch.index

[code]

Must be an oversight but it's a real stumbling block when starting with FileBeats.

[2018-03-04 18:11] cawoodm commented on #6495
And why, oh why, is `enabled: false` under `filebeat.prospectors:`? Are we trying to make FileBeats do nothing OOTB?

[2018-03-05 00:40] ewgRa commented on #6273
Ok, lets try with this one #6496, right now works as recommender. If it will found something for coding style - it will create a comment in pull request.

What do you think?

[2018-03-05 00:50] ewgRa commented on #6273
I try run it on all files, there is probably some false-positives, like

that we can probably exclude from this checker, but also good catches, like:

[code]

[2018-03-05 01:54] jsoriano commented on #5211
@ruflin the issue about connecting using http should be solved after #5819 yes, but we are still not testing multiple haproxy versions, we may want to keep this open to track this.

[2018-03-05 02:53] timchenxiaoyu opened #6497 "filebeat disk usage execption"
- Version: 6.0.0 alaph
- Operating System: centos7.1
- Steps to Reproduce:
root@slave-219 ~]# lsof | grep delete | wc -l
15963
[root@slave-219 ~]# docker restart 6c093d9fbbae (filebeat container)
6c093d9fbbae
[root@slave-219 ~]# lsof | grep delete | wc -l
696

[2018-03-05 09:10] polmolea commented on #3537
@ruflin I've also had the same issue with filebeat not starting after a hard shutdown on multiple systems. Here are some details:
- Filebeat 6.2.2 installed via chocolatey on Windows Server 2016 on AWS EC2
- Filesystem is NTFS
- Server is stopped and started on a schedule, using the AWS API (StopInstance, StartInstance)
- When system comes back up, the filebeat service is Stopped and the log shows

[2018-03-05 12:03] timchenxiaoyu opened #6498 "temporary bulk send failure"
For confirmed bugs, please report:
- Version: 6.0.0
- Operating System: centos7
- Steps to Reproduce:

2018-03-05T12:00:18Z ERR  Failed to publish events: temporary bulk send failure
2018-03-05T12:00:18Z INFO Connected to Elasticsearch version 5.4.3
2018-03-05T12:00:18Z INFO Loading template for Elasticsearch version: 5.4.3
2018-03-05T12:00:18Z INFO Existing template will be overwritten, as overwr

[2018-03-05 13:28] anergiti commented on #6409
guys im really @ dead end here.
pcap file reaches hundreds of MB which cannot be uploaded here.
anyway,
while running
./packetbeat -e -c /etc/packetbeat/packetbeat.yml -dump trace.pcap
i see the parsing errors - attached scrn shot.
![screen shot 2018-03-05 at 15 25 18](https://user-images.githubusercontent.com/23061787/36977342-7cf76a88-2089-11e8-8f32-51a02d1d0765.png)

while running ./packetbeat

[2018-03-05 14:04] jaipradeesh commented on #6460
#### Case 1: Modules: Not configured, Inputs: Configured

[code]

#### Case 2: Modules: Not configured, Inputs: Not configured

[code]

#### Case 3: Modules : Configured, Inputs: Not configured

[code]

@exekias Is this issue about case 3? Could you please post your filebeat configuration as well? :)

[2018-03-05 18:11] jaipradeesh commented on #6313
Potential cause:

[code]

Something wrong with the one calling this - https://github.com/elastic/beats/blob/master/filebeat/beater/signalwait.go#L23

[code]
.. results in ..
[code]

Not sure about it. Will debug more tomorrow.

[2018-03-05 20:23] bwunderlich824 opened #6499 "Missing node_status data when using kube-state-metrics > v0.5.0"
In version v1.0.0-rc.1 of kube-state-metrics included a number of changes to metric names including the removal of kube_node_status_ready and the addition new metric kube_node_status_condition.

Full details can of changes can be found here.
(https://github.com/kubernetes/kube-state-metrics/releases/tag/v1.0.0-rc.1)

Metricbeats needs to be updated to deal with the changes in data from newer versi

[2018-03-05 21:10] krasekhi commented on #6362
Looks like the enhancement request above may be a duplicate and is already being developed -  https://github.com/elastic/beats/pull/6432 ? Should this threat be closed?

Thanks

[2018-03-05 23:41] ewgRa commented on #6497
@timchenxiaoyu looks like well known and expected, for example here is some explanations: https://github.com/elastic/beats/issues/2395, also as there is more info in already closed issues, related to similar problem.

Do you know about close_* options? https://www.elastic.co/guide/en/beats/filebeat/current/configuration-filebeat-options.html#close-options . Is it something that can help you?

How

[2018-03-06 00:23] ewgRa commented on #6482
Actually there is kind of obvious idea just for config validation convert yaml files to json and then just use power of json schema validation.

But I don't get problem with "cannot detect ... additional config". Is it biggest problem? Can it be solved by something like "find . -name *.yml" ?

About generic place, maybe it make sense to create generic issue, and collect there cases and close other

[2018-03-06 01:48] timchenxiaoyu commented on #6497
filebeat.prospectors:
- type: log
  paths:
     - /var/lib/docker/containers/*/*-json.log
     - /var/log/filelog/containers/*/*/*/*.log
  close_timeout: 5h
processors:
- add_docker_metadata:
    host: "unix:///var/run/docker.sock"
- add_fields:
    fields:
      log: '{message}'
- decode_json_fields:
    when:
       regexp:
         message: "{*}"
    fields: ["message"]
    overwrite_keys: true

[2018-03-06 01:49] timchenxiaoyu commented on #6497
close_timeout: 5h  was added tomorrow

[2018-03-06 03:33] my1234567 commented on #6175
@ruflin  Thanks for the response. I get this error too:
2018-03-06T10:34:09.716+0800	ERROR	pipeline/output.go:92	Failed to publish events: temporary bulk send failure
2018-03-06T10:34:09.719+0800	INFO	elasticsearch/client.go:690	Connected to Elasticsearch version 6.0.0
2018-03-06T10:34:09.722+0800	INFO	template/load.go:73	Template already exists and will not be overwritten.

Here is my step, I ins

[2018-03-06 04:57] ruflin commented on #1037
Skimming through the SO question I wonder if the requirement is really the line number or it's more a question to have a better way in Kibana to look at the log lines?

Happy to discuss this issue further. Some questions on my list:

* What is the line number in a multiline event? (first, last, ...?)
* How to we figure out the line number when we restart reading a file based on the offset without

[2018-03-06 05:15] ruflin commented on #2073
@EmFl There is no implementation for this yet, but it would be really great if someone that runs such a system could take a stab at it. By now also the inputs in Filebeat have become much more modular which makes this easier to add in case this would be an input / prospector.

[2018-03-06 06:32] ruflin commented on #6495
The reason the index option is not in the short config is because if you change it quite a few things which work out of the box like the template or dashboard stop working. Should the short config have even less options inside: Probably yes.

For the prospectors we made this change with 6.0 to do nothing out of the box but show a good error (hopefully) on what should be done. Previously we shipped

[2018-03-06 07:56] cawoodm commented on #6495
Thanks for the explanation. I must say Logstash is very difficult to get working and I somehow thought Filebeat is supposed to be simpler and easier and it's things like the above which get newcomers stuck and, I think, unnecessarily so.

The basic premise of filebeat is to load logfile entries into an index in ElasticSearch. Sounds like I need to tell FileBeat 3 things: a) which logs, b) which ES

[2018-03-06 11:13] ewgRa commented on #6497
@timchenxiaoyu so, is it help you?

Also I think 5 hours it is too much, but up to you. Also you can play with close_inactive option.
Value of this settings depends on your logs, how often you update it and so on. Read documentation, there is good explanations.

[2018-03-06 13:20] manish2479 commented on #6133
I am using Logstash v6.2.2.1 with file beat plugin logstash-input-beats (5.0.10) and still I am getting connection reset error.
[code]

I have also tried Filebeat client timeout configuration as "client_inactivity_timeout => 86400"on the logstash server but still seeing same issues.

[2018-03-06 14:07] gmoskovicz commented on #6045
@ruflin  ++ on adding a `ignore_errors` to ignore things like JSON parsing . Perhaps we can set an array of errors to ignore ?

[2018-03-06 17:55] yawboateng commented on #6372
seeing the same (causes container to crash), i'm on the latest 6.2.2 build and on k8s 1.8.5:

[code]

[2018-03-06 20:51] graphaelli opened #6502 "xgo-image-deb6 container image build fails"
`make package` produces:

[code]

This happens because of a recent key expiration:
[code]

specifically:
[code]

[2018-03-06 21:04] graphaelli commented on #6502
I'm not terribly familiar with apt keys.  This doesn't resolve the issue
[code]

I assume because of the `gpg: no ultimately trusted keys found` part.

[2018-03-06 22:33] gmoskovicz commented on #3852
@ruflin is there a way to force this with a timeout just as we do for Logstash? So read everything and when the timeout happens ship what we have already? That would resolve this issue correct?

Basically to ship single line logs we might not need a new line, but just a timeout?

[2018-03-06 22:44] CodingSpiderFox commented on #6442
I try to figure out how the schema works.

I found these lines in the metricbeat/module/rabbitmq/queue/data.go file:

[code]

[2018-03-07 02:28] exekias opened #6503 "Infinite loop while watching for Kubernetes events"
Both when using `add_kubernetes_metadata` or `kubernetes` autodiscover provider, some users have reported this issue (which causes an infinite loop):

[code]

More details can be found here: https://github.com/elastic/beats/pull/6353

[2018-03-07 02:56] exekias commented on #6503
I've pushed a branch ignoring unmarshall errors: https://github.com/exekias/beats/tree/ignore-k8s-errors

Also built an image from it: `exekias/filebeat:ignore-k8s-errors`, @simioa it would be awesome if you could do another test, your help here is much appreciated

[2018-03-07 15:59] brandonmensing opened #6505 "Doc for FAQ about CPU limiting"
Users often want to limit CPU usage of Beat but there are reasons we don't expect a feature in Beats to work as well as having the system do the process limiting itself. To help clarify what options people could pursue, this issue is to add an item to our FAQs in each Beat to describe a typical approach to limiting CPU on at least Linux systems.

There are per-Beat pages for FAQs such as:
https://

[2018-03-07 16:03] ph opened #6506 "Add license paragraph to the header of each file"
With the opening of x-pack and the fact that the repository will now contain both files licensed
under Apache 2 and the Elastic EULA. I believe we should add license headers to our files. Doing
this will make sure there is no ambiguity, I think having a specific directory won't be enough.

Also, this will make consistent with Elasticsearch and Logstash x-pack, both of them are already doing this.

[2018-03-07 16:20] ph opened #6507 "Add support to watcher job to modules"
Currently, modules support creating machine learning jobs when we run the `setup` subcommand; the jobs are disabled by default. But users can enable them. We should apply the same logic for creating watcher job.

## Tasks:

- [ ] Read and import watcher job from the `watcher` directory, disabled by default.
- [ ] Add an integration test for them

[2018-03-07 16:24] tsg commented on #6502
I won’t be able to look at this this week. @andrewkroh, can you look into it, please? Thanks!

[2018-03-07 16:24] #4333 closed

[2018-03-07 16:41] andrewkroh commented on #6502
If they don't release an updated signing key then the only possible workaround I see is to use `--allow-unauthenticated`. But I would never want to use that option in building anything that we are going to release.

Perhaps moving to Debian 7 is the next best option?

[2018-03-07 17:04] cgough commented on #3088
Any update on this?

[2018-03-07 17:33] graphaelli commented on #6502
What do we rely on in `debian:6` exactly?  The build produces seemingly good executables (ran on machines I have access to) with this patch:
[code]

but I'm not clear on how to verify further.

[2018-03-07 17:43] graphaelli commented on #6502
build also succeeds on `debian:8`

[2018-03-07 17:51] andrewkroh commented on #6502
@graphaelli I believe debian 6 is used on order to provide the greatest amount of libc compatibility for our non-statically compiled binaries. Here's the commit where this was added: https://github.com/elastic/beats-packer/commit/2fb1e584d98dbba22592847ab909e0c288760aa5#diff-12944685a1876ec1aad854eacb5f8745

Do the binaries produced under Debian 7 work on Debian 6?

[2018-03-07 20:15] graphaelli commented on #6502
Under docker, binaries produced with debian 7, 8, and 9 ran without issue on the debian:6 image on my machine.  I haven't come up with a reason that's

@andrewkroh Looking at the commit you referenced I wonder if using the build tag `-tags netgo` was considered at the time, since go version was 1.4.2 (as of 1.5 that's not necessary).  I think it's less risky to continue dynamically linked builds o

[2018-03-07 20:39] andrewkroh commented on #6502
Excellent!

We recently (I think as of 6.0) switched to dynamic linking for some OSes. https://github.com/elastic/beats/pull/4546

This gives us the ability to use plugins on Linux/Darwin and enables collecting some of the self-monitoring metrics via cgo.

[2018-03-07 20:43] graphaelli commented on #6502
Ah, I totally forgot about the metric collection bits, thanks.

[2018-03-07 21:50] andrewkroh commented on #6507
From a user POV I think it would be really useful to accept a format like [sigma](https://github.com/Neo23x0/sigma/wiki/Specification) for defining what to alert on. Information about who to alert (the action) could be potentially be configured on a global basis or or a per alert basis.

Rule Definition Example ([source](https://github.com/Neo23x0/sigma/blob/master/rules/windows/sysmon/sysmon_mimi

[2018-03-07 23:50] andrewkroh commented on #5000
I ticked two more checkboxes.

[2018-03-08 01:49] ewgRa commented on #6381
PR https://github.com/elastic/beats/pull/6509, not sure that 100% clean and do not broke anything, can be used as base for better fix.

[2018-03-08 03:52] andrewkroh commented on #6498
Did you post a question to [Discuss](https://discuss.elastic.co/c/beats) as per the issue template? This doesn't look like a bug, but more like a temporary issue ES connectivity. Also, give 6.2.2 a try.

before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

[2018-03-08 04:04] andrewkroh commented on #6460
This issue is about case 3 which is the default setup when you download and run Filebeat (I tested with filebeat-6.2.2-darwin-x86_64.tar.gz). I would add to your characterization of case 3 that while the modules features is configured, there are no modules are enabled.

[code]

[code]

[code]

[2018-03-08 04:08] andrewkroh commented on #6362
Yep, sounds like it's in the works now so we can close this. Thanks

[2018-03-08 04:08] #6362 closed

[2018-03-08 04:37] andrewkroh commented on #6175
@my1234567 Could you try running Filebeat with debug logging enabled and share the log. Can you please share the config you used as well. And if you are using a custom pipeline include that.

`filebeat -e -d "*"`

[2018-03-08 06:28] andrewkroh commented on #6506
FYI: I have a script for this that I use in other projects. https://github.com/elastic/go-sysinfo/blob/master/.ci/scripts/check_copyright.go

[2018-03-08 14:18] jmreymond opened #6511 "Big CPU load for filebeat on Windows server"
We have filebeat 5.5.2 running on Linxux serverRed hat 7.2,  readling log files and exporting to kafka server and load is very low: that's nice :-)
But now, we have to collect logs from windows server 2012 with filebeat 5.5.2 and unfortunatly, load is very high, eating 30% of CPU. Configuration is basic as for linux servers but we cannot accept that 30% CPU eaten by filebeat process. With another

[2018-03-08 15:12] graphaelli commented on #6051
fixed by #6360

[2018-03-08 15:12] #6051 closed

[2018-03-08 15:14] vincentwang0736 opened #6512 "Why I can't get full log from filebeat to elasticsearch?"
Here is my logstash config:

here is my filebeat config:

But now I can only get log doctype "nginx-access" at elasticsearch and get nothing doctype "nginx-pro"
Here is one of my pro-log file ,I wrote it by my php coding:

[{"product":"minebit_otc","userId":"","brand":null,"devid":null,"dpi":null,"mac":null,"model":null,"net":null,"plat":null,"clicktime":"2018-03-06 10:04:52am","token":"","is_buil

[2018-03-08 21:26] andrewkroh opened #6514 "[Filebeat] offset points to end of line"
The Filebeat documentation defines the `offset` field as

But it appears that the offset is actually pointing to the end of the line. For example, when reading the first line of the file you would expect `offset: 0`, but this is not the case (tested with 6.2.2).

Should the docs or the code be changed?

[2018-03-08 21:47] andrewkroh opened #6515 "[Filebeat] Include Offset when logging json.SyntaxError"
When debugging JSON decoding issues in Filebeat it would be helpful to include the `Offset` value contained in the [`json.SyntaxError`](https://golang.org/pkg/encoding/json/#SyntaxError).

[code]

The user would benefit from having both the filename and offset in the message. Then they can use `head -c [offset] [filename]` to examine the line.

[2018-03-08 21:54] andrewkroh opened #6516 "[Filebeat] Data loss when JSON decoding fails"
When JSON decoding fails Filebeat should include the raw data in the `message` field.

[code]

input.json
[code]

[code]

[2018-03-08 23:18] #6502 closed

[2018-03-09 03:33] wk8 commented on #6293
Thanks @umisora ! We need this too :) ....

[2018-03-09 08:06] jmreymond commented on #6511
The repository of logs has 18000 entries and scan of the 18000 entries eats the CPU every10 seconds (scan frequency)

[2018-03-09 08:06] #6511 closed

[2018-03-09 08:06] simioa commented on #6503
@exekias Looks good, no problems till now.

[2018-03-09 08:47] CpuID commented on #918
If the container is removed using `--rm`, the logs go with it. This means if the container only runs for a second, and the prospector doesn't catch the .json file inode before the container dies, you get no log :)

@exekias are you able to clarify the difference between using `- type: docker` within `filebeat.prospectors` vs using the `filebeat.autodiscover` -> `docker ....` setup?

Is my assumpti

[2018-03-09 08:57] sompholyai opened #6518 "want config in kubenetes 1.5"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

For confirmed bugs, please

[2018-03-09 09:09] exekias commented on #918
Your assumption is correct, in general autodiscover will detect new logs sooner as it get's notified by Docker itself.

Please let us know about the outcome of this research :smile:, In general, I agree with the logging driver, it has its own challenges too, for instance: surviving restarts or blocked output. I see spooling to disk as a requirement to do this right.

[2018-03-09 09:14] exekias commented on #6503
Good to hear, @simioa, I'm wondering, did you see the ERROR happen?

The code doesn't really avoid that message but should recover from it in all cases:
`kubernetes: Watching API error proto: wrong wireType = 6 for field ServiceAccountName`

[2018-03-09 09:29] simioa commented on #6503
Not that ERROR Message but this:
[code]
I just looked into an Filebeat 6.2.2 Log and saw that right after the `kubernetes: Watching API error EOF` ERROR appeared, the infinite loop started.

This is not the case anymore, the only thing logged after the EOF Error related to the Watching API is:
[code]

[2018-03-09 09:34] exekias commented on #6503
Ok, please keep an eye on it and report if it happens :innocent:

In the meanwhile, it seems we now have a way to reproduce it, I will be doing some testing myself

Thank you for your effort! It's really helping with this issue

[2018-03-09 10:29] exekias commented on #6395
Thanks @mbrancato, no need for a new issue for those, I will treat it in the same PR, thanks :)

[2018-03-09 10:35] Fank opened #6519 "filebeat system module "Error in initing prospector: No paths were defined for prospector accessing""
filebeat.yml
[code]

Enabling the "var.paths" or not, still same behaviour.

For confirmed bugs, please report:
- Version: 6.2.2
- Operating System: ubuntu 16.04
- Steps to Reproduce:
  1. copy yml file from above
  2. start filebeat `filebeat -e`
  3. you should see following:
[code]

[2018-03-09 10:49] Fank commented on #6519
:man_facepalming:

[2018-03-09 10:49] #6519 closed

[2018-03-09 12:55] rossedman commented on #6084
@mumoshu Have been trying to find documentation for the conditionals. Do all of these work?

[2018-03-09 13:16] CodingSpiderFox commented on #6442
@kvalev could you give me a hint maybe? I looked up who created the file and found your name ;)

[2018-03-09 13:23] mumoshu commented on #6084
Hi @rossedman, the configuration seen in my above comment is just a suggestion! It isn't implemented as of today.

Does it look good to you?
I had been willing to contribute a PR once I get some approval and/or support on the suggestion but was unable to do so due to.. the silence 😉

[2018-03-09 14:32] kvalev commented on #6442
Do you know whether you can get the message rates from the RabbitMQ REST API? Looking at the REST API output of my RabbitMQ version there seems to be backing_queue_status.avg_ingress_rate/avg_egress_rate, but I am not sure whether those are the ones that you need.
Declaring the type should be easy - you can do c.Float. I dont know about autocomplete - my editor does not support it as well, so I ju

[2018-03-09 15:03] andrewkroh commented on #6518
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue.

[2018-03-09 15:03] #6518 closed

[2018-03-09 16:31] dengqingpei1990 commented on #918
Emm ... I deployed filebeat as containers. So I wonder that is it necessary to mount /var/lib/docker/containers/ into the filebeat container when using `filebeat.autodiscover`? Or just mounting /var/run/docker.sock is enough?

[2018-03-09 17:03] CodingSpiderFox commented on #6442
The REST API has the following endpoint: /api/queues/vhost/name

Which gives me the following result for my example queue

`{"consumer_details":[],"incoming":[],"deliveries":[],"messages_details":{"rate":4.6},"messages":68,"messages_unacknowledged_details":{"rate":0.0},"messages_unacknowledged":0,"messages_ready_details":{"rate":4.6},"messages_ready":68,"reductions_details":{"rate":2314.6},"reduct

[2018-03-09 17:43] kvalev commented on #6442
I think somebody on the forums had the same issue - https://discuss.elastic.co/t/libbeat-common-schema-mapstriface/118678

[2018-03-09 18:30] CodingSpiderFox commented on #6442
I still don't really understand how to solve it.

What I understood from the last post of @urso (https://discuss.elastic.co/t/libbeat-common-schema-mapstriface/118678/6?u=christian_h) is that I need to use mapstriface rather than mapstrstr

But I still don't understand which identifier I need to access the different "rate" fields

[code]

[2018-03-09 18:49] urso commented on #2945
One more detail. The circuit breaker might be open when 100% CPU is reached:

[code]

There are 2 circuit breakers in the client. One on meta-data updates and one on forwarding events to a partition worker. The meta-data update breaker should be subject to `metadata.retry.backoff`. The other one might result in a "tight loop", not subject to any backoff setting.

[2018-03-09 19:29] agirbal commented on #161
This would be extremely useful. Most of our packets use TLS over TCP and thus makes everything opaque besides the handshake.
Many softwares allow you to specify either the cert/key (which is pretty much useless today with DHE) or a master key file (in NSS format).
Wireshark / tshark allow you to do this for example. Unfortunately they don't allow you to save back the packets as a pcap-like file, t

[2018-03-09 20:28] cgough commented on #3088
what is the solution for this?

[2018-03-09 20:30] cgough commented on #3470
I have searched all the threads listed above and there are no solutions.

[2018-03-10 03:54] CpuID commented on #918
@exekias from https://docs.docker.com/engine/extend/plugins_logging/#logdriverstoplogging

Looking through the implementation doc in full, it seems the approach taken by Filebeat Autodiscover vs Docker Logging Plugins are very similar, effectively:

- listen for start/stop events from dockerd
- the logging plugin is responsible for [opening a FIFO](https://github.com/cpuguy83/docker-log-driver-tes

[2018-03-10 04:04] CpuID commented on #918
The interesting thing to consider: if the container was started and stopped before filebeat opened the log inode, it wouldn't be available. But if it did manage to open it prior to deletion (with the current implementation) it *should* retain access to it to read the remaining logs (delete files normally remain available until the inodes are closed in my experience). Then it would be up to filebea

[2018-03-10 05:18] CpuID commented on #918
As a followup to https://github.com/elastic/beats/issues/918#issuecomment-371755703 just did a quick test without autodiscover - using:

[code]

And spawned a container with the following:

[code]

[code]

And watched the `filebeat` container logs. Spawned it twice using:

[code]

The first time it harvested, the second time it didn't.

First time:

[code]

The second time, no output that a harves

[2018-03-10 05:40] CpuID commented on #918
OK tested autodiscover, seems to be more reliable (as expected). Note there is a 2 second sleep in this test image right now, I'll test without that in a second.

Almost instantaneous harvesting of new containers which is a positive. `filebeat.yml` autodiscover specific configs:

[code]

And the test results of running 3 containers in succession, a few seconds apart (I added the extra <enter>'s be

[2018-03-10 05:44] CpuID commented on #918
Autodiscover looks very promising :)

[code]

10 runs, 2 second sleep between (for filebeat log identification purposes mostly):

[code]

And 10/10 harvesters :)

[code]

[2018-03-10 05:51] christiangalsterer commented on #6276
OK, so then let's go with option 2. I will look into for the HTTP module

[2018-03-10 08:04] kvalev commented on #6442
I have started working on pull request, which I can submit in few days - https://github.com/elastic/beats/compare/master...kvalev:rabbitmq_message_rates

[2018-03-10 12:56] iahmad-khan commented on #3088
Reduce the bulk size to 100. And see the plugin situration on server side ,
or configure logstash to buffer

On Mar 9, 2018 8:29 PM, "Christian Gough" <notifications@github.com> wrote:

[2018-03-10 15:09] CodingSpiderFox commented on #6442
Great, thanks!

[2018-03-11 05:52] palash25 commented on #5501
Is anyone working on this? If not then I would like to take this up.

[2018-03-11 13:09] ruflin commented on #5211
@jsoriano Let's close this issue as the PR solve on what the issue was opened for but lets open a new one to track the testing of both versions (or directly a PR ;-) ).

[2018-03-11 13:09] #5211 closed

[2018-03-11 13:16] ruflin commented on #3537
@polmolea We potential have a fix for this which we applied in winlogbeat but missed in Filebeat: https://github.com/elastic/beats/pull/2434 We will also apply it to Filebeat.

[2018-03-11 13:17] ruflin commented on #6498
Closing based on the above comment. Please post on discuss first.

[2018-03-11 13:17] #6498 closed

[2018-03-11 13:31] ruflin commented on #6512
Hi @vincentwang0736

Please use discuss for questions: https://discuss.elastic.co/c/beats/filebeat Thanks.

[2018-03-11 13:31] #6512 closed

[2018-03-11 15:12] andrewkroh opened #6524 "[Auditbeat] Update fsevents dep for Go 1.10 compatibility"
Auditbeat does not build under Go 1.10 due to issues with fsnotify/fsevents. We need to pull in the changes from https://github.com/fsnotify/fsevents/pull/34.

[code]

[2018-03-11 19:40] exekias commented on #5501
Thank you for volunteering @palash25! I'm afraid I did the job some time ago, but forgot to update this issue :disappointed:

This was fixed by #5963, thank you for bringing this up, I think we can close it now

[2018-03-11 19:41] #5501 closed

[2018-03-11 19:59] ruflin commented on #6045
@gmoskovicz You mean `ignore_errors` would contain a list of the type of errors that should be ignored? What are the types you had in mind?

[2018-03-11 20:00] exekias commented on #6499
Thanks for reporting @bwunderlich824, this seems about right, It looks like we will have to add some conditions to check for `kube_node_status_condition` here: https://github.com/elastic/beats/blob/master/metricbeat/module/kubernetes/state_node/data.go

[2018-03-11 20:00] exekias commented on #6499
Also it would be nice to update https://github.com/elastic/beats/blob/master/metricbeat/module/kubernetes/_meta/Dockerfile.kube-state to a newer version to ensure everything is still compatible

[2018-03-11 21:31] #6395 closed

[2018-03-11 23:21] andrewkroh opened #6528 "[Metricbeat] Don't require instance_name when there's a single perfmon counter instance"
- Beat: Metricbeat
- Module: windows
- Metricset: perfmon
- Version: 6.2.2
- Operating System: Windows
- Steps to Reproduce:
  - Monitor a counter that does not have multiple instances. For example, `query: '\UDPv4\Datagrams Sent/sec'`.
  - Don't set the `instance_name` configuration option.
  - Start Metricbeat and you will get the error of: `Exiting: 1 error: 1 error: initialization failed: quer

[2018-03-11 23:23] exekias commented on #6084
Sorry for the late response @mumoshu, I missed your question while going over email :innocent:

The answer is yes, contains match all the fields in the given map :)

@rossedman you can find more info about conditions here: https://www.elastic.co/guide/en/beats/metricbeat/6.2/defining-processors.html#conditions

[2018-03-11 23:26] exekias commented on #6372
Closed by #6487, to be released with `6.2.3`

[2018-03-11 23:26] #6372 closed

[2018-03-12 02:42] manish2479 commented on #6133
Hi

This seems to be the known issues with logstash elasticsearch plugin and when the configuration is having stdout using rubydebug this issue appears and it fails.

[code]
To get rid of this either it needs to be patched or stop using stdout as rubydebug. Here is the patch which I applied and that seems fixed my issues.

[https://github.com/awesome-print/awesome_print/pull/324/files]

[2018-03-12 07:03] ruflin commented on #6497
I'm closing this thread as we try to keep all questions on discuss: https://discuss.elastic.co/c/beats/filebeat Please post there with all the details if the issues persists.

@ewgRa Appreciate your help.

[2018-03-12 07:03] #6497 closed

[2018-03-12 07:29] ruflin commented on #6495
A few notes here:

* Templates and dashboards have become an integral part of Filebeat with the introduction of filebeat modules which create structured data out of log lines. They are based on the powerful prospectors but are a very easy way to get started.
* Changing the index pattern has become harder in 6.0 because it has many more potential traps / side effects. To not fall into these traps t

[2018-03-12 07:55] ruflin commented on #3852
@gmoskovicz Our multiline supports a timeout. I'm wondering if we could use this one. But I would prefer to have a clean solution.

[2018-03-12 07:57] ruflin commented on #6442
@CodingSpiderFox @kvalev Thanks for working on this. I'm looking forward to the PR this will also make commenting easier. No worries if the PR is still WIP and does not fully work yet.

[2018-03-12 09:05] ruflin commented on #6514
It seems we accidentially introduced this change in the 5.x releases. I tried 1.x where it's still as documented, but in 5.6 and 6.x it is as you reported. It probably happened because the offset in the registry needs to be at the end of the line and we move the calculation.

I'm thinking having the offset reported as the beginning of the line feels more natural from a user perspective. But as so

[2018-03-12 09:49] #6503 closed

[2018-03-12 10:12] exekias commented on #6503
A fix has been merged and should go out in both `6.3` and `6.2.3`

[2018-03-12 12:28] yodog opened #6531 "[Filebeat] set output in prospectors section"
as per https://discuss.elastic.co/t/two-filebeat-instances/123132 i believe it would be of benefit if we could set the output on a `prospector` basis instead of a global, yml wide, `output.elasticsearch` or `output.logstash`

currently i have two instances of filebeat running, one for each output, that could easily be set like below:

[code]
or

[code]

[2018-03-12 14:49] andrewkroh commented on #6514
I totally agree. I find having the offset point to the end of the line misleading.

This came up while I was helper a user debug a json decoding issue, and we used the offset to determine where the line began in the log file and the offset became a point of confusion.

Additionally, seeing `offset: 0` would be a clear indicator that rotation occurred.

[2018-03-12 14:53] ruflin commented on #6514
The problem lies here:

https://github.com/elastic/beats/blob/bb6d3d882b15d96eb7574236c72d8ba75b23f0e6/filebeat/input/log/harvester.go#L258

In filebeat 1.x this happened after creating the event / fields data. Now it happens afterwards:

https://github.com/elastic/beats/blob/bb6d3d882b15d96eb7574236c72d8ba75b23f0e6/filebeat/input/log/harvester.go#L272

Even the code comments are incorrect :-( A f

[2018-03-12 14:54] gmoskovicz commented on #3852
The multiline works when there is a new line at the end correct? Or, you don't need multiple lines? My understanding is that the multiline process executes when the new line is there.

[2018-03-12 17:58] agathver commented on #6288
Hi,
I'm interested to take this one up.

Should this be added as a new key like `filter` or `compressor`?

[2018-03-12 18:12] supernomad commented on #1035
I have a similar requirement here, but actually slightly different. I need to be able to take the same data output from a single beat and push them to two different elasticsearch indexes in the same cluster. The end result right now is I have to run two different daemons to accomplish this. Which is less than ideal as it adds unneeded load and complexity to our systems.

[2018-03-12 19:41] andrewkroh opened #6535 "[Packetbeat] pcap sniffer hangs on exit"
Packetbeat is not exiting cleanly on Linux with the pcap sniffer. There is no timeout signal for the pcap reader so if no packets are received to unblock the read loop it will hang forever.

Perhaps we need to update gopacket (like for https://github.com/google/gopacket/pull/256).

This was detected by [beats-tester](https://github.com/elastic/beats-tester/pull/74) when we noticed that the logs fr

[2018-03-12 19:50] andrewkroh commented on #6535
I'm also seeing the same behavior with af_packet.

[2018-03-12 21:23] towolf opened #6536 "Filebeat 6.2.1 massive DOS on Kubernetes Apiserver"
Today, for no particular visible reason, one `filebeat` instance started a request DOS on our 3 apiservers.

![image](https://user-images.githubusercontent.com/345210/37310075-1fc93390-2643-11e8-97a8-d5675caf141b.png)

[code]

The `requestURI` was the same throughout this episode:
`"/api/v1/pods?fieldSelector=spec.nodeName%3Ds858&resourceVersion=35649380&watch=true"`

Millions of times. The same r

[2018-03-12 21:36] towolf commented on #6536
At some point this took out one of the masters in the cluster. So, not pretty at all.

[2018-03-12 21:41] towolf commented on #6372
Found another bad problem in #6536. Not sure if that may be related to this issue?

[2018-03-12 22:38] exekias commented on #6536
Hi Tobias, I'm afraid you hit https://github.com/elastic/beats/issues/6503, this issue has been fixed and next release (6.2.3) will include the fix.

[2018-03-13 03:06] Tapppi commented on #6045
So this is a regression from 5.x, where this error wasn't thrown.. Not a nice surprise when upgrading filebeat. We have a single prospector deployed as a daemonset (one filebeat per machine picking up all logs for that machine) to a kubernetes cluster, picking up all logs and preprocessing multiline from both json and non-json logs:
[code]

This is a direct replacement for fluentd, and allows nice

[2018-03-13 05:01] jaipradeesh commented on #6191
@adriansr What do you think?

[2018-03-13 06:33] jaipradeesh commented on #6460
Ref: https://github.com/elastic/beats/pull/6538 (WIP. Yet to write system tests)

I'm a bit confused with the following code:

[code]
Ref: https://github.com/jaipradeesh/beats/blob/8da8be3fa1e4b208e30a43fe20b60aa08572a759/filebeat/beater/filebeat.go#L102

Error message says "configuration reloading disabled" but condition for the same is not checked in the if statement.

[2018-03-13 07:32] ruflin commented on #3852
@gmoskovicz Yes, correct. Ignore my previous comment.

[2018-03-13 08:39] ruflin commented on #6288
Let's discuss first a bit more details on how this would work and the uses cases.

@gwsales Can you share a bit more details on your use case?

[2018-03-13 08:59] kvch commented on #6460
`config.ConfigInput.Enabled` checks if input config reloading is enabled and `config.ConfigModules.Enabled` checks if modules config reloading is enabled. Thus, the message "config reloading disabled" is correct.

[2018-03-13 11:01] gwsales commented on #6288
Sure. Logstash has a gzip option on its file output, that’s basically what functionality I’d like to see on beats. Beats currently can write to disk but there is no compression, I’d like to limit my filebeat, auditbeat and winlogbeat outputs to 100M of disk space when using file output and would like some basic compression on the output files.

[2018-03-13 12:11] danielmotaleite opened #6540 "filebeat fails to use lz4 with kafka 1.0"
- Version:  filebeat 6.2.2
- Operating System: debian stretch
- Steps to Reproduce:

I have a kafka server 1.0.0  and in filebeat i use something like this:
[code]

version is set to 0.11.0.0 as it is the highest that filebeat reports as acceptable parameter

When i start filebeat, i get this:
[code]
even trying `0.10.0.0` in version, it still reports the same error.
switching the compression to `

[2018-03-13 12:51] andrewkroh commented on #6288
I recently refactored the [file writing code](https://github.com/elastic/beats/blob/master/libbeat/common/file/rotator.go) that is shared between the file output and logger. I imagine that it would be relatively easy to hook in an optional compression feature that runs on rotation.

Any contributions would need tests to ensure that the existing rotation code work properly with a mix of gzip and no

[2018-03-13 13:52] andrewkroh commented on #6535
This is currently causing beats-tester to fail because it verifies that the beat shuts down probably by checking the log file.

[2018-03-13 14:12] exekias commented on #6536
I forgot to mention that we have introduced backoff mechanism to our Kubernetes watcher code that should prevent this from happening again with any other future error.

For convenience, I've pushed a snapshot build with the fix: `exekias/filebeat:6.2.3-snapshot`

I'm closing this as it's a fixed issue

[2018-03-13 14:12] #6536 closed

[2018-03-13 15:16] primeroz commented on #6503
what's the ETA for new container 6.2.3 with the fix merged ?

[2018-03-13 15:19] exekias commented on #6503
It should be out soon, in any case, for convenience, I've pushed a snapshot build with the fix: exekias/filebeat:6.2.3-snapshot

[2018-03-13 15:26] yawboateng commented on #6536
@exekias thanks for the snapshot build. when should we expect the 6.2.3 release? also have the same issue with masters going offline

[2018-03-13 15:49] exekias commented on #6536
We don't publish release dates, but release often. You can expect 6.2.3 in the following week(s)

[2018-03-13 15:51] towolf commented on #6536
Thanks for the info @exekias

I switched to your snapshot, because it cannot get worse.

Also wondering what the ETA of the release is ...

[2018-03-13 15:56] exekias commented on #6536
I'm sorry for the inconvenience, thank you for your reports

[2018-03-13 18:45] graphaelli opened #6543 "[Metricbeat] golang module loses gc info on target process restart"
- Version: master
- Steps to Reproduce:  Configure the golang module to collect the heap metric set.  Let the target process (the one exposing metrics) run for awhile, then restart it.

Looks like the reset of `NumGC` on process reset here is to blame but I haven't attempted a fix yet:

https://github.com/elastic/beats/blob/4fea12ecbd64a3072d7124e7521692256d7d3689/metricbeat/module/golang/heap/hea

[2018-03-13 20:33] balamacab commented on #4421
Any binary to test it?

[2018-03-13 23:37] daniilyar commented on #6453
We would very benefit from wildcards support also. Our Jolokia configs for things like Kafka, Spark and Hadoop have thousands of lines that makes them really hard to maintain.

Just try to gather Kafka JMX metrics for e.g. 50 topics to feel our pain )
In Kafka JMX for each topic there are same requestsPerSec, bytesPerSec and 20+ other metrics that without wildcards one should just hardcode for eac

[2018-03-14 00:03] exekias opened #6546 "Ensure external defined fields don't break mapping"
We recently introduced [safemapstr.Put](https://github.com/elastic/beats/pull/6434) as a way to ensure that field maps escaping our control (defined outside beats) don't break Elasticsearch mappings.

This is a meta issue to ensure all affected parts of the code has been updated to make use of it:

- [x] Kubernetes metadata & autodiscover #6490

- [x] Kubernetes module elastic/beats#6490
- [x] Doc

[2018-03-14 05:15] jaipradeesh commented on #6472
@ruflin This can be closed.

[2018-03-14 06:59] #6472 closed

[2018-03-14 07:42] ruflin commented on #6453
@daniilyar Thanks for sharing your use case. Perhaps you can also chime in on https://github.com/elastic/beats/pull/6462 to what your preferred way would be related to event generation (see discussion).

[2018-03-14 09:21] ruflin commented on #6045
I opened https://github.com/elastic/beats/pull/6547 which introduces `json.ignore_decoding_error` config option. This should solve the log spamming. I made the config very specific to make it clear the decoding error is ignored. If there are other issues down the road, we can perhaps introduce a more generic config option.

[2018-03-14 11:17] #6045 closed

[2018-03-14 13:10] ruflin commented on #6288
@agathver Do you want to open a PR with a proposal? This could make discussing the details easier and see where the hidden problems are.

[2018-03-14 13:59] martinhynar opened #6550 "Generated Beats based on Metricbeat don't support "test config""
I have fork of metricbeat with my custom module and I need to run it on latest OEL 6 where init.d is still in use. After packing my custombeat into rpm and installing it on target machine I see that beat service remains in foreground and after CTRL+C it, the service is actually started.

From init.d script I can see that there is `test` fired before actual service is started. This test is the one

[2018-03-14 14:50] gmoskovicz commented on #6045
Nice. Thanks for the heads up. Great addition!

[2018-03-14 16:58] martinhynar commented on #6550
No, it keeps running. The output is

[code]

[2018-03-14 17:06] andrewkroh commented on #6550
Something seems wrong with that because `test config` should only invoke your beat's `New` function then exit. This is what should be running and where it calls into your code.

https://github.com/elastic/beats/blob/master/libbeat/cmd/instance/beat.go#L327-L334

[2018-03-14 17:33] martinhynar commented on #6550
stracing the config test gives interesting output. When the last output line is printed, this is repeatedly printed:
[code]

[2018-03-14 17:43] andrewkroh commented on #6550
Is your code available somewhere for me to look at?  `<beatname> test config -h` show that `test config` is a valid subcommand? I'd probably do some tracing to see why [launch()](https://github.com/elastic/beats/blob/master/libbeat/cmd/instance/beat.go#L309) is running rather than [TestConfig](https://github.com/elastic/beats/blob/master/libbeat/cmd/instance/beat.go#L319).

[2018-03-14 18:04] martinhynar commented on #6550
I don't have it versioned publicly, but there is nothing secret and I planned to contribute it to metricbeat once it is usable. I have packed it and it is available here: https://www.dropbox.com/s/10if7bt4b5gqlqw/jvmbeat.tgz

[2018-03-14 18:36] andrewkroh commented on #6550
The issue is that your Beat does not understand the sub-commands. You can see this if you run `./jvmbeat -h` and compare that to `metricbeat test config -h`.

It looks like the metricbeat code generator hasn't been updated to generate a `main.go` that supports the sub-commands. You can take a look at auditbeat/main.go and auditbeat/cmd/root.go if you want to see how you can update your Beat to sup

[2018-03-14 18:39] exekias commented on #6550
I don't foresee any technical blocker to support subcommands in generated beats. I'm wondering if that would add too much complexity to custom beats? I don't have a strong opinion here tbh

[2018-03-14 19:34] martinhynar commented on #6550
I inspired myself in auditbeat and updated main.go and added cmd/root.go but now I am getting compilation error.

[code]

I tried to add pflag into my vendor deps, but the one in elastic vendor is taken first anyway.

[2018-03-14 21:15] exekias commented on #6550
Have you tried to move the beats one to your root vendor?

[2018-03-15 02:08] adriansr commented on #6535
I've found out those to be two separate issues.

For af_packet, timeout wasn't being handled correctly at all.
For pcap, it is a well-known problem when pcap decides to use TPACKET_V3 to capture packets on not so old kernels.

[2018-03-15 02:48] dedemorton commented on #5585
I'm closing this for now because we are looking into other build software that will alleviate some of the pain involved with resolving build errors.

[2018-03-15 02:48] #5585 closed

[2018-03-15 02:50] dedemorton commented on #5676
Closing because this was fixed in #6046

[2018-03-15 02:50] #5676 closed

[2018-03-15 02:53] dedemorton commented on #5710
Closing this issue because it was fixed in #5715 plus I've had redirects set up.

[2018-03-15 02:53] #5710 closed

[2018-03-15 08:23] agathver commented on #6288
@ruflin Yes I intend to start a PR. Was reading the code around `rotator.go`

Here are some quick questions:

1. Rotator currently has a `maxSizeBytes`, to limit the maximum size of bytes written. How would this work with a compression writer? That is, should `maxSizeBytes` refer to the compressed data size or uncompressed data size?
2. Another popular method of compressing logs is deferring the c

[2018-03-15 09:46] jmreymond opened #6555 "CPU load on windows servers"
We are running filebeat 5.5.2 on Linux servers (Red Hat 7.2) and Windows servers (Windows Server 2008)

We can notice that it is very, very fast on linux servers. If we avoid path syntax like/logs/*/*/* , we have a work load of 1% max
Unfortunaly, it is a nighmare with Windows 2008 servers with a workload of 25% to 35% for 1200 lines/sec
To be sure, we have copied datas and config file from Window

[2018-03-15 10:00] Constantin07 opened #6556 "[Metricbeat] RabbitMQ cluster - node metrics reported multiple times (duplicates)"
For a RabbitMQ cluster, metricbeat sends 3 beats for each node instead of just one thus triplicating the number of metrics which is unnecessary.

The issue in details is described [here](https://discuss.elastic.co/t/rabbitmq-cluster-node-metrics-reported-multiple-times/123592)

- Version: 6.2.2
- Operating System: Linux Ubuntu 16.04
- Steps to Reproduce: Install metricbeat on all nodes of RabbitMQ

[2018-03-15 10:01] martinhynar commented on #6550
Yes I tried to move it there. No luck.
To pass this problem I went the second route and modified init.d script.

Why init.d startup is different from systemd?

[2018-03-15 10:22] Constantin07 commented on #6556
looks like API does support per node stats via  `/api/nodes/name` https://pulse.mozilla.org/api/

[2018-03-15 10:49] #6535 closed

[2018-03-15 11:32] ruflin commented on #4421
@balamacab For a binary you would have to check out https://github.com/elastic/beats/pull/6475 and run `make` or `go build` on your end.

[2018-03-15 14:01] exekias commented on #5837
Closing this as the change went in already

[2018-03-15 14:01] #5837 closed

[2018-03-15 14:44] ledav-net commented on #2242
I would be interested in such feature too... Had some progress done already for this ?

[2018-03-15 15:18] jkakavas opened #6561 "Duration format support discrepancy between Beats and Elasticsearch"
Durations from settings, i.e. [xpack.monitoring.elasticsearch.period](https://www.elastic.co/guide/en/beats/filebeat/current/configuration-monitor.html#_literal_period_literal) are parsed as [Duration](https://godoc.org/time#Duration) and when relayed to Elasticsearch i.e. as parameters in a request to ` /_xpack/monitoring/_bulk`, the value is converted to a string using [Duration.String](https://

[2018-03-15 15:29] urso commented on #6561
@ph Is duration parsing supported in Logstash? There might be other durations in beats, which get converted to strings via `(time.Duration).String()`. We will need a default encoding. E.g. for ES I'm thinking to use `nanos`, so we keep the values original granularity.

[2018-03-15 19:25] andrewkroh commented on #6561
+1 for ensuring these are converted to nanoseconds.

fyi: The structured logger [is configured](https://github.com/elastic/beats/blob/794f430f25c302f762ca918bee9c37e1abb644bf/libbeat/logp/encoding.go#L17) to use nanos for durations too.

[2018-03-15 21:22] Tapppi commented on #6045
🎉 Thanks for the quick turnaround!

[2018-03-15 23:40] dedemorton opened #6572 "Make How Filebeat Works description more generic"
The topic [How Filebeat works](https://www.elastic.co/guide/en/beats/filebeat/current/how-filebeat-works.html) describes how the log input works. Now that Filebeat has several different input types, we need to make the overview topic more generic. If we want to describe how the harvester works, we should add more detail to the topic about the log input, and make the content of the "How Filebeat wo

[2018-03-15 23:57] dedemorton opened #6573 "[Filebeat] filebeat.reference.yml shows password option twice in the same scope"
The filebeat.reference.yml shows password in two places (lines [513](https://github.com/elastic/beats/blob/master/filebeat/filebeat.reference.yml#L513) and 527)

![image](https://user-images.githubusercontent.com/14206422/37496779-c456c35c-2871-11e8-8d36-f2b5d5872368.png)

[2018-03-16 08:00] ak1t0 commented on #96
Hi @monicasarbu. I would like to work on this issue.

[2018-03-16 08:27] yayuntian opened #6575 "filebeat output to kafka failed"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

For confirmed bugs, please

[2018-03-16 08:52] ruflin commented on #6575
If you use `fields_under_root`, `fields.topic` will not exist anymore. I'm not sure if you filed this as a question which would belong under https://discuss.elastic.co/c/beats or as an enhancement request for the logging?

[2018-03-16 08:54] ruflin commented on #96
@ak1t0 Great to hear. Feel free to open a PR as soon as you feel comfortable to discuss the code.

[2018-03-16 12:54] cawoodm opened #6578 "Filebeat reload not working"
Filebeat 6.2.2 Windows 2012 Server.

When testing changes in filebeat we often leave the live filebeat running and run a new filebeat "dev" process (with corresponding dev logstash instance on a different port). We then run filebeat dev pointing to logstash dev as follows:

[code]
However, in this constellation, Filebeat is not recognizing changes to it's config (filebeat.dev.yml) while running an

[2018-03-16 13:21] ruflin commented on #2242
Progress has been made on the refactoring and the prospectors / input or now properly separated: https://github.com/elastic/beats/tree/master/filebeat/input On the implementation of the feature itself nothing has happened but the above change should make a contribution much eaiser.

[2018-03-16 13:39] ruflin commented on #6555
Could you please open a topic on discuss with this as we try to keep Github for confirmed bugs? https://discuss.elastic.co/c/beats/filebeat

Please share their your full config and the log output from filebeat.

[2018-03-16 13:39] #6555 closed

[2018-03-16 13:41] ruflin commented on #6556
Thanks for opening the issue. As quick summary of the issue: With each API request to the `nodes` API each node exposes all stats for the other nodes too. This means there are in the end `n*n` events if n nodes are monitored. By default only the information for the connected node should be returned.

[2018-03-16 14:03] kshade opened #6580 "Example visualizations not working, grouping by .name instead of .name.keyword"
- Version: 6.2
- Operating System: Devuan Jessie
- Steps to Reproduce:

1. Install ELK stack + beats via Debian packages
2. Load the example dashboards from Metricbeat (and others)
3. Try viewing one that groups by name, for example "Interfaces by Incoming traffic [Metricbeat System]"
4. No data is shown/the gauges show 0
5. Add .keyword to the name field to make it work

Forum discussion: https:/

[2018-03-16 14:31] ruflin commented on #6578
Reloading only works for the paths defined under `filebeat.config.*`. The base `filebeat.yml` will never be reloaded. Is that what you are asking for?

[2018-03-16 15:13] CodingSpiderFox commented on #6442
Is there anything left which needs to be done to be able to create the PR?

[2018-03-16 15:23] naisanza opened #6582 "Filebeats failed to parse syslog, also cuts off first character"
The grok expression failed on this line, also the message field match lost the first character of the log

- Version: filebeat version 6.2.2 (amd64), libbeat 6.2.2
- Operating System: Ubuntu Server 16.04
- Steps to Reproduce: Enable System module

syslog:
[code]

Filebeat:
[code]

[2018-03-16 15:29] yawboateng commented on #6536
Can confirm  the issue is resolved in the 6.2.3 snapshot build from @exekias. running for 3 days now with no issues 👍

[2018-03-16 16:24] towolf commented on #6536
Same, 0 Restarts on all our nodes, and no more infitie request spam.

Great work.

[2018-03-16 18:46] cawoodm commented on #6578
Yeah... perhaps I'm confused. FileBeat ships without a config/ subdirectory and I therefore never used one but have my filebeat.yml next to my filebeat.exe.

Looking in filebeat.xml I see the following:

[code]

Are you saying I just need to change this line?
[code]

What exactly does `${path.config}` mean and where is it defined?

[2018-03-16 20:39] andrewkroh commented on #3370
@ruflin has been adding tests for dashboards.

- [X] Metricbeat #5770
- [X] Auditbeat #5938

[2018-03-16 20:42] andrewkroh commented on #1307
Closing. We have some tests that use pipelines with ES in Filebeat modules.

[2018-03-16 20:42] #1307 closed

[2018-03-16 20:45] andrewkroh commented on #3044
I think this is the case now because we do a `len()` check when constructing the file `beat.Event`.

https://github.com/elastic/beats/blob/1c088e47ae8346854a6e3f2113acd712cab4e871/metricbeat/mb/event.go#L49

[2018-03-16 20:45] #3044 closed

[2018-03-16 20:50] andrewkroh commented on #3566
I believe this is fixed now. I tested with `multiline.pattern: ['%{CATALINA_DATESTAMP}']` (an array for the pattern) and got

[code]

[2018-03-16 20:50] #3566 closed

[2018-03-16 21:54] andrewkroh opened #6584 "[Metricbeat] Grouping Windows Perfmon Metrics in Events"
The perfmon metricset generates one event per counter instance. It would be nice to offer more flexibility in grouping related metrics into a single event.

Having a single event per metric was the simplest implementation that would allow similar metrics to be grouped and visualized (e.g. visualize disk write times for each disk instance on the same graph).

It would be nice to be able to group al

[2018-03-16 22:24] andrewkroh opened #6585 "[Winlogbeat] Compare performance of event rendering without using XML"
We should so a comparison test between the current implementation that receives events as XML from Windows versus a prototype implementation that receives events in a binary format. The goal is to see what the performance difference is. We can use our [benchmark](https://github.com/elastic/beats/blob/e3f055f865fe9c17e2baca28ed5044682364f050/winlogbeat/eventlog/bench_test.go) tests for perform the

[2018-03-18 20:43] ledav-net commented on #2242
Good to kniw, thanks for your answer :-)

[2018-03-18 21:17] xkoomy commented on #6176
Hi @adriansr
I see an implementation HTTP 1.1 where in status line is no space after status code (i.e. HTTP/1.1 200\r\n). In this case parseResponseStatus still doesn't work even after the patch. We can debate that HTTP standard says the space is mandatory but life looks different. For instance I got this case now during my job and have to workaround it.
Could you consider change parseResponseStat

[2018-03-19 06:55] ruflin commented on #6584
I really like this idea that we allow the user to build his own events. Reminds me also of https://github.com/elastic/beats/pull/6462 where this could also be a potential solution (@jsoriano ).

[2018-03-19 08:11] crazyvikas23 commented on #6516
#6591 This should solve it. But i think if `json.add_error_key` is set to false, data would be lost any way. So we should add another key for raw data.

[2018-03-19 09:16] ruflin commented on #6288
@andrewkroh you might be best to comment on the above questions?

[2018-03-19 09:24] jsoriano commented on #6473
@medcl we have merged #6517 with a new experimental module for munin, this should be enough by now to collect metrics from a munin node agent.

I was wondering if we can also setup something for visualization.

Munin nodes also provide "[config](http://guide.munin-monitoring.org/en/latest/master/network-protocol.html#config)" about how each metric they expose should be represented, this info is us

[2018-03-19 09:50] tsg commented on #6473
+1 for dashboards for the most popular munin plugins, or for what we don't support currently natively with Metricbeat.

[2018-03-19 10:24] crazyvikas23 commented on #6515
@andrewkroh We can get `offset` field from [`json.SyntaxError`](https://golang.org/pkg/encoding/json/#SyntaxError) struct but how do we get the filename we are currently processing.

[2018-03-19 14:54] EcHoOfInSaNiTy opened #6594 "[Metricbeat] - vsphere module request"
Hello,

I love the vsphere module that was added to metricbeat, however there isn't enough different kinds of metrics being pulled for me to move away from my current metric collection methods. Would it be possible to include metrics that for example Zabbix can pull by default? This would be huge for me in terms of moving everything over to metricbeat for data collection.

I.E:
_Where hv is hyper-

[2018-03-19 15:08] andrewkroh commented on #6288
The compression is being deferred until rotation in the PR (#6577) and I like this behavior. And +1 for gzip.

[2018-03-19 15:21] andrewkroh commented on #6515
Questions about Filebeat internals are probably test answered by @ruflin or @ph.

One possible solution is to not do logging from `json.go`, and instead pass the error details back to the caller and let it do the logging. The caller should have more contextual information that it can add to the log message.

[2018-03-19 17:01] kresss opened #6595 "RFE - Add the ability to monitor the status of Linux Services"
It would be nice to have the ability to monitor system services. The Windows module gives the capability of pulling the status of services. The system module provides the capability of monitoring processes. These are both nice, but I feel like there is a gap for Linux services.

User Story: When running a RHEL 7 systemd services they may or may not have processes associated with them. A given serv

[2018-03-20 07:01] ruflin commented on #5637
@jsoriano Closing this as https://github.com/elastic/beats/pull/6450 is merged and should resolve this issue.

[2018-03-20 07:01] #5637 closed

[2018-03-20 07:05] medcl commented on #6473
@jsoriano Awesome! that's so quickly!

[2018-03-20 07:11] ruflin commented on #6594
It seem for the virtual machine metrics we already have a subset on what you suggest above. This means here the number of metrics which are collected would have to be expanded.

We don't have a hyper-visor metricset yet. This would have to be created. The key here is if this API is exposed by the `github.com/vmware/govmomi` library we use.

Want to try to contribute the above metrics? You seem to

[2018-03-20 10:07] fujinzhou opened #6601 "About packetbeat service will automatically stop every day"
My packetbeat service stops automatically every day.
Version: packetbeat-5.6.3-1.x86_64
Log:
2018-03-20T10:12:05+08:00 ERR Unknown operation code:
2018-03-20T10:12:22+08:00 ERR Unknown operation code:
2018-03-20T10:12:22+08:00 ERR Unknown operation code:
2018-03-20T10:12:26+08:00 ERR Failed to read integer reply: Expected digit
2018-03-20T10:12:34+08:00 INFO Non-zero metrics in the last 30s: libbe

[2018-03-20 17:21] bitsofinfo opened #6605 "filebeats truncates log messages after 16k"
[code]

- The docker container outputs a single line in valid json (about 18k)
- The value of the "log" message key is also a single line in valid json
- The message seems to be cut off at about 16k or a bit above (depends if you count the backslashes for escaping)
- A second message gets created with the remaining part of the message including full decoration (docker meta data, additional fields

[2018-03-20 19:08] exekias commented on #6536
An update on this, new images for `6.2.3` are already available: https://www.docker.elastic.co/

[2018-03-20 19:08] exekias commented on #6503
An update on this, new images for `6.2.3` are already available: https://www.docker.elastic.co/

[2018-03-20 19:29] andrewkroh commented on #6601
Please post all questions and issues on https://discuss.elastic.co/c/beats before opening a Github Issue. Your questions will reach a wider audience there, and if we confirm that there is a bug, then you can open a new issue.

Be sure to include your operating system version and steps to reproduce (like the configuration you are using).

[2018-03-20 19:29] #6601 closed

[2018-03-20 19:32] towolf commented on #6536
Thanks for the notice. I've bumped the daemonset to the public release.

[2018-03-20 21:05] EcHoOfInSaNiTy commented on #6594
Sure!

[2018-03-21 07:30] ruflin commented on #6578
The above is for the module configs. What you need to change is the path for the prospectors: https://www.elastic.co/guide/en/beats/filebeat/6.2/filebeat-configuration-reloading.html#load-prospector-config Please have a look at this docs, it should explain it quite well.

`{path.config}` defines where a beat looks for it's config files. It can be passed to the binary if the config is not in it's d

[2018-03-21 07:30] #6578 closed

[2018-03-21 07:41] ruflin commented on #6515
+1 on returning the error. The json reader does not have the above knowledge about the source and offset as the reader are pretty generic. I prefer not to introduce global knowledge here.

[2018-03-21 08:12] swift1911 commented on #683
+1
Yes, i hope to Do

[2018-03-21 10:25] Constantin07 commented on #6426
I'm still getting these errors in logs with metricbeat 6.2.2:
[code]

but there is no clue what could be the problem. I'm running official metricbeat docker container and trying to pull stats from host.

[code]

Any idea what could be the cause ?

[2018-03-21 11:49] andrewkroh commented on #6426
@Constantin07 I think this deserves a new issue like "Monitoring metrics don't work when containerized". My initial guess is that the it cannot find its own metrics in /hostfs/proc because it is pid namespaced and therefore is looking for something like `2` but when on the host the PID is very different.

This problem extends from the fact that `/hostfs` is treated as a global variable. This cause

[2018-03-21 12:12] andrewkroh opened #6616 "[Heartbeat] Crashing on concurrent map write"
Heartbeat is crashing after ~20 minutes with fatal map errors ("concurrent map writes" or "concurrent map iteration and map write").

For confirmed bugs, please report:
- Version: 6.1.3
- Operating System: RHEL7 x86_64
- Discuss: https://discuss.elastic.co/t/heartbeat-fatal-error-concurrent-map-iteration-and-map-write/124716
- Stack Trace: See Discuss.
- Steps to Reproduce: Using the config below,

[2018-03-21 12:19] ruflin commented on #6313
I was digging a bit deeper into this issue and I think I found the cause of it. The problem is that the `finishedLogger` does never complete: https://github.com/elastic/beats/blob/master/filebeat/beater/filebeat.go#L218 The reason is that these counters are updated when the registry is flushed: https://github.com/elastic/beats/blob/master/filebeat/registrar/registrar.go#L252 In the case of stdin i

[2018-03-21 12:59] rpn0709 commented on #3005
One of the most important metrics to monitor in kafka is lag. This looks like it could be calculated with the following "kafka.partition.offset.newest - kafka.consumergroup.offset" but those value are in two different metricsets with no identical fields to search by. If we can get these two values in one metricset or rename the topic field to the same thing in both documents that may work.

[2018-03-21 13:03] PauliniMrtns opened #6617 "Metricbeat vsphere module: Add fields based on existing fields"
Dear all,

I'm currently pulling information from VMWare vCenter using the vSphere Module in Metricbeats. I'm trying to find a way to enrich the information collected from the module, byt I'm having some trouble.
Consider the following example, I collect info from a certain Virtal Machine:
[code]
I want to be able to create a new field based on the virtual machine name PauliniEnterprise_VMXPTOXXXX

[2018-03-21 14:54] PauliniMrtns commented on #6594
This a cool topic, I need this as well. I would appreciate some help from the community with this because I too need this implementation for VMWare monitoring!

[2018-03-21 15:09] Benny-Git opened #6618 "Feature request: Ability to define multiple paths in HTTP module of metricbeat"
[As discussed on the discussion board](https://discuss.elastic.co/t/configuring-multiple-paths-in-http-module/121564/5), it would be very useful to have an option of adding multiple paths to the http module > json metricset in metricbeat. This could potentially be implemented similarly to the http module > server metricset.

This would allow to query multiple paths / URLs and include the output in

[2018-03-21 15:20] PauliniMrtns commented on #5646
And can this custom_fields be generated by metricbeat it self or are they being pulled from VMWare directly?

Thanks

[2018-03-21 15:46] bmudda commented on #6605
+1

[2018-03-21 15:49] nfedyk commented on #6605
we encounter this with some messages as well, can it be fixed?

[2018-03-21 16:01] RobertoFlores commented on #3741
There is a date to include this feature on Heartbeat?

[2018-03-21 16:40] jsoriano commented on #2994
Closing it as seems fixed by #2995, reopen otherwise

[2018-03-21 16:40] #2994 closed

[2018-03-21 16:45] jsoriano opened #6619 "Support TLS configuration in metricbeat mongodb module"
Support [TLS configuration](https://docs.mongodb.com/manual/reference/program/mongo/#tls-ssl-options) in metricbeat mongodb module.

It could be supported by adding a `DialServer` to [`DialInfo`](https://godoc.org/gopkg.in/mgo.v2#DialInfo), that sets up connection configuration with TLS options when they need to be used.

[2018-03-21 16:48] Constantin07 opened #6620 "[Metricbeat] Monitoring metrics don't work when containerised"
Hello,

I'm still getting these errors in metricbeat logs with version 6.2.3 when deployed as docker container:

[code]

but there is no clue what could be the problem. I'm running an official metricbeat docker image and trying to pull stats from host.

The `metricbeat` container is run using this command:
[code]

cat system.yml
[code]

- Metricbeat version: 6.2.3
- Operating System: CoreOS Linux

[2018-03-21 16:53] andrewkroh commented on #6620
My initial guess is that it cannot find its own metrics in `/hostfs/proc` because it is pid namespaced and therefore is looking for something like 2 but when on the host the PID is very different.

This problem extends from the fact that `/hostfs` is treated as a global variable. This causes all metrics collecting code to read from `/hostfs/proc`. But the self monitoring metrics should always come

[2018-03-21 16:58] amandahla commented on #5646
@PauliniMrtns they are pulled from Vmware
https://pubs.vmware.com/vi3/sdk/ReferenceGuide/vim.CustomFieldsManager.Value.html

[2018-03-21 17:02] andrewkroh commented on #6620
@Constantin07 Just so we are on the same page I should clarify that those log messages indicate a problem with the self-monitoring feature that was added in 6.2 that let's the Beat report it's own CPU/memory/load information in the log (with a message of "Non-zero metrics in the last 30s") and to [X-Pack Monitoring](https://www.elastic.co/guide/en/kibana/6.2/beats-page.html) if [configured](https:

[2018-03-21 17:47] amandahla commented on #6617
@PauliniMrtns I'm not sure if I get this right but...Wouldn't be easier to create field on the virtual machine callend "tenant" or "client" with the value "PauliniEnterprise"?

Then you can set "get_custom_fields" to true and receive this value on vsphere.virtualmachine.custom_fields

[2018-03-21 19:21] kvch commented on #6620
@andrewkroh I can reproduce problem.
We definitely need a new test case for this. I think the problem should be handled in `gosigar`. However, I am not yet sure how it should be done.

[2018-03-21 23:49] andrewkroh commented on #6617
That sounds like a task for Logstash. You could grok the name to create a `tenant` and `instance` field.

[2018-03-22 01:34] kunisen opened #6624 "[Beats][feature request] Could we add IMAP protocol support?"
Would be happy if we can sniff/monitor traffic on these protocols...

  imaps:
    ports: [993]

similar issue:
https://github.com/elastic/beats/issues/388

from @ruflin 's comment, I tried to access the following link, but no results returned.
https://github.com/elastic/beats/issues/388#issuecomment-158296548

So I raised it here again.

[2018-03-22 06:37] geekpete opened #6626 "[Auditbeat] Add xxhash as a hash option for faster file integrity checks on large files"
xxhash is one of the best performing hashes for computing a hash against large files.

See benchmarks by @jpountz:
https://jpountz.github.io/lz4-java/1.2.0/xxhash-benchmark/
there's many other benchmarks out there if more evidence is needed.

Including xxhash in the list of available hashes that can be used with auditbeat would allow larger files to be hashed much much faster.
This might then prov

[2018-03-22 11:35] PauliniMrtns commented on #6617
I agree with both of you, the issue here is our VMWare infrastructure is quite large and I don't have the influence to change those custom fields as I should :)
I like the Logstash approach, I actually tried to do a .conf file to capture this data but I'm having some difficulty because I still couldn't catch vsphere module data with a filter, how do you recommend doing this?

Thanks!
PM

[2018-03-22 12:56] krisko opened #6628 "system.filesystem.used.pct calculation in metricbeat"
For confirmed bugs, please report:
- Version: No specific version
- Operating System: RHEL 6
- Steps to Reproduce: start metricbeat and observe reported values

Symptoms:

df utility reports different FS used % than system.filesystem.used.pct in MetricBeat.
MB **system.filesystem.used.pct** is calculated from **system.filesystem.used.bytes**, which does not consider reserved blocks and reports low

[2018-03-22 13:07] andrewkroh commented on #6626
So far we have not made available in Auditbeat any non-cryptographic hash functions. I was mostly thinking of security use cases, but for purely doing integrity checks I see no issues with adding non-cryptographic hash functions. We can differentiate them in the docs.

At the moment Auditbeat's most performant hash (at least on amd64 on my machine) is [blake2b](https://github.com/elastic/beats/pul

[2018-03-22 13:14] andrewkroh commented on #6626
For anyone that's interested in contributing this feature: take a look at the [touch points for SHA3](https://github.com/elastic/beats/search?utf8=%E2%9C%93&q=SHA3_224&type=) when it was added. Each of those same places will need updated for `xxhash`. The you can run the benchmark test (`go test -bench BenchmarkHashFile -benchtime 10s -run XXX -v)`.

[2018-03-22 13:19] jsoriano commented on #6628
It should be reporting disk usage like `df` after #6231 @krisko with what metricbeat version are you finding this issue?

[2018-03-22 13:26] andrewkroh commented on #6617
Something like

[code]

[2018-03-22 13:29] ruflin commented on #3741
@RobertoFlores There is no specific date.

[2018-03-22 13:31] andrewkroh commented on #6628
#6231 hasn't been released yet. In the meantime you can try a snapshot build from https://s3-us-west-2.amazonaws.com/beats-package-snapshots/index.html?prefix=metricbeat/.

[2018-03-22 13:37] krisko commented on #6628
Yes, the snapshot works.
65.14% 7.0.0-alpha1
61.72% 6.2.3

Thanks!

[2018-03-22 13:37] #6628 closed

[2018-03-22 13:55] andrewkroh commented on #6628
Thanks for confirming. That will get released in 6.3.0.

[2018-03-22 14:30] odederner1 opened #6629 "Load Kibana 5 Dashboards"
I'm getting a file not found error when trying to load Kibana dashboard.
Metricbeat version: 6.2.2
Kibana version . : 5.5.2
Elasticsearch : 5.5.2

Elasticsearch and Kibana are AWS services, Metricbeat is installed on EC2.

command: sudo metricbeat setup --dashboards

here is the log:
2018-03-22T09:09:20.700Z	INFO	instance/beat.go:213	Setup Beat: metricbeat; Version: 6.2.2
2018-03-22T09:09:20.701Z

[2018-03-22 14:31] odederner1 commented on #6629
work around (if you are not using uWSGI) you can delete the /usr/share/metricbeat/kibana/5/dashboard/Metricbeat-uWSGI.json file and it will proceed with installing the dashboards.

[2018-03-22 15:14] ph commented on #6561
@urso Yes theses duration are parsed in LS, we used the same logic as ES.

+1 to have a custom type that can correctly cast the duration.

[2018-03-22 15:36] ph commented on #6506
@andrewkroh Awesome! I had something similar in ruby to add the license to the file, https://github.com/ph/license-header

[2018-03-22 15:49] vitich commented on #3088
bulk_max_size didn't help for me.
Just don't use ip2location - use geoip...
https://discuss.elastic.co/t/ip2location-module/125203

[2018-03-22 16:55] adriansr commented on #6176
@xkoomy I've submitted a patch for the issue: #6631

[2018-03-22 17:22] andrewkroh opened #6635 "[Packetbeat] Move gocql dependency to vendor/"
There's a Go dependency used by the cassandra plugin that exists outside of the vendor directory. It needs to be moved to the `vendor/` dir. This will ensure that it's tracked in our NOTICE file.

https://github.com/elastic/beats/tree/master/packetbeat/protos/cassandra/internal/gocql

[2018-03-22 18:31] dicarlo2 opened #6637 "Consider combining "<type>" and "state_<type>" kubernetes metricsets into a single metricset/event."
Looking at https://github.com/elastic/beats/pull/6158 it seems like metricbeat is heading in that direction. It'd be convenient for certain visualizations (e.g. tables) to have all of the metrics in a single document from both the kubelet and kube-state-metrics for nodes, pods and containers. @exekias

[2018-03-22 18:38] exekias commented on #6637
I agree with this idea, the main problem is we face some technical challenges to do so:

For instance, metricsets are configured against a single host, in this case of kubernetes `container` and `state_container`, they talk with different services (kubelet + kube-state-metrics), so somehow we would need to add a second `host` setting for `kube-state-metrics`.

Also, `kube-sate-metrics` may not be

[2018-03-22 19:04] dicarlo2 commented on #6637
An example use case I'm thinking of, and perhaps it's naive because I'm a relatively new to using elasticsearch/kibana, is to have a a table that shows the latest state of all containers in terms of both the kubelet metrics (e.g. cpu/memory utilization) as well as the kube-state-metrics (e.g. container ready status) - one row per container.

On that note, another metric I'd like to see is an aggre

[2018-03-22 19:08] dicarlo2 commented on #6637
Also, I'm curious about the order of events with the current solution, it seems like there could be a race condition there. It doesn't really matter for the current metrics since we can probably assume limits are not changing frequently, but for example, pulling the current ready status into the main `container` document seems like it could be off by one period depending on if the kube-state-metri

[2018-03-22 19:16] dicarlo2 opened #6638 "metricbeat state_container kube_pod_container_status_restarts -> kube_pod_container_status_restarts_total"
Looks like this might have been renamed: https://github.com/kubernetes/kube-state-metrics/blob/release-1.2/Documentation/pod-metrics.md

[2018-03-22 19:18] dicarlo2 opened #6639 "Add kube_pod_container_status_<terminated/waiting>_reason to metricbeat/kubernetes/state_container"
Would be useful for dashboards that show the latest state, though I'm guessing this might be available from the event metricset too.

[2018-03-22 22:35] adriansr commented on #6191
Hi @jaipradeesh

Sorry about taking so long to respond to this, I screwed up my github notifications.

So I understand the whole point in here is to have packetbeat ignore these opcodes and not log an error every time it receives one. I don't think this is a problem, maybe Derick from MongoDB is understanding something different as to what whitelist and blacklist mean. We are not blocking this opc

[2018-03-22 22:39] ewgRa commented on #6620
How about #6641 fix?

It is just enough to run metricbeat with system.hostfs argument to reproduce problem, it is not related to docker itself.

[2018-03-22 22:47] iahmad-khan commented on #3088
yes , but geoip doesn't provide what ip2location provides. my setup is running smooth now.

[2018-03-22 22:52] vitich commented on #3088
What exactly geoip does not provide?
![photo_2018-03-23_00-51-36](https://user-images.githubusercontent.com/12166319/37802769-7325a336-2e34-11e8-9f71-d0b26c2405d7.jpg)

[2018-03-22 23:07] iahmad-khan commented on #3088
In our case we are interested in ISP and Usage Type fields.

[2018-03-22 23:43] dedemorton opened #6642 "Some files in the IIS and Nginx modules show "prospector" instead of "input""
It looks like the renaming from prospector > input was not made in some of the files for the IIS and Nginx modules (not sure why):

* In the filebeat.reference.yml file, the IIS and Nginx module sections still use prospector instead of input. for example: https://github.com/elastic/beats/blob/master/filebeat/filebeat.reference.yml#L133

* The manifest files for IIS and Nginx still refer to prospec

[2018-03-23 05:54] mumoshu commented on #5377
@vjsamuel @exekias Hi! I read various issues in this beats repo and the [blog post](https://www.ebayinc.com/stories/blogs/tech/beats-ebay-collectbeat-a-journey-where-company-and-community-come-together/) introducing collectbeat, and still trying to catch things up.

Perhaps as of today, we still need to use an another discovery like [collectbeat's](https://github.com/eBay/collectbeat/tree/master/d

[2018-03-23 06:10] agathver opened #6643 "Example config mismatch for Metricbeat Jolokia module"
In the sample config at https://github.com/elastic/beats/blob/master/metricbeat/modules.d/jolokia.yml.disabled#L7 we have `jmx.mapping`

While we expect `jmx.mappings` here: https://github.com/elastic/beats/blob/master/metricbeat/module/jolokia/jmx/jmx.go#L49

https://discuss.elastic.co/t/metricbeat-jolokia-configuration/125305

Perhaps we should even add more examples in the sample file

[2018-03-23 07:31] vjsamuel commented on #5377
@mumoshu k8s discovery is already part of autodiscover.
https://www.elastic.co/guide/en/beats/filebeat/master/configuration-autodiscover.html
https://www.elastic.co/guide/en/beats/metricbeat/master/configuration-autodiscover.html

[2018-03-23 07:38] vitich commented on #3088
Look carefully at the screenshot
I tried to turn on ip2location with last DB11 base...

![37802769-7325a336-2e34-11e8-9f71-d0b26c2405d7](https://user-images.githubusercontent.com/12166319/37816873-52633bce-2e7d-11e8-82ca-6ad27610f1ed.jpg)

[2018-03-23 07:43] vishnudutt12 opened #6644 "Fields missing error - Jolokia Module"
Hi,
The following is my configuration,
OS - RHEL7
ES - 6.2.2
Logstash - 6.2.2
Kibana - 6.2.2
Metricbeat  - 6.2.2

I have configured the metric beat to send the JMX details using the Jolokia module, directly to an elastic search instance. The Jolokia is installed in my tomcat instance as a webarchive. While manually calling its providing all the details. But while running the metric beat, the follo

[2018-03-23 08:08] vitich commented on #3088
![screenshot from 2018-03-23 09-51-48](https://user-images.githubusercontent.com/12166319/37818238-2a7683aa-2e82-11e8-8de3-f3b7b9732270.png)

[2018-03-23 08:46] ruflin commented on #6629
Thanks for reporting. I managed to also reproduce this with Metricbeat 6.2.2 and Elasticsearch 5.6.8. There is indeed an invalid visualisation linked in the `Metricbeat-uWSGI.json` dashboard.

[2018-03-23 10:21] iahmad-khan commented on #3088
When I get free I will explain in detail with screenshots.

On Fri, Mar 23, 2018, 8:08 AM vitich <notifications@github.com> wrote:

[2018-03-23 11:01] jsoriano commented on #6620
I think a general solution without modifying gosigar could be to obtain the pid in the host from `<sigar.Procd>/self/status` (Pid field), instead of using `os.GetPid()`. This would work both with or without namespaces.

[2018-03-23 11:31] iahmad-khan commented on #3088
Hi ,

IP2location provides me the following information , the most significant ones for me are:

domain
ISP
usage type

"ip2location": {
            "properties": {
              "area_code": {
                "type": "text",
                "norms": false,
                "fields": {
                  "keyword": {
                    "type": "keyword",
                    "ignore_above": 256

[2018-03-23 11:59] Constantin07 commented on #6620
@andrewkroh yes, you are right. I do see in Elasticsearch regular metrics but the error log message to me appears misleading.

[2018-03-23 12:44] exekias commented on #5377
Thank you @mumoshu, as @vjsamuel said, this code has ben merged to master already and will be part of the next 6.3 release. You are more than welcome to give it a try already and submit issues or new features!

[2018-03-23 14:53] dcroonen commented on #6550
I'm experiencing exact the same problem on Debian 7 wheezy ([elastic forum thread](https://discuss.elastic.co/t/custom-beat-based-on-metric-doesnt-run-in-the-background-when-started-via-inet-d/123215)).

[2018-03-23 15:05] ewgRa commented on #6620
@jsoriano can you give more details about general solution?

In hostfs proc dir we have host processes, /hostfs/proc/self/status - it will be not an metricbeat process.

I will try later to check myself, but for now on I don't understand how it will work.

[2018-03-23 16:02] jsoriano commented on #6620
@ewgRa host proc dir contains all processes running in any PID namespace of the machine, this includes the one in which the metricbeat process runs. The special file `self` always refers to the process in the namespace of the procfs mount, so if metricbeat reads `<sigar.Procd>/self/status` (with host `/proc` mounted in `sigar.Procd`) it will see its status in the host namespace, what includes the

[2018-03-23 16:19] jsoriano commented on #6643
Thanks for reporting this @agathver, actually this sample configuration file also contains some non-existing fields, would you like to prepare a PR fixing this?

[2018-03-23 16:33] jsoriano commented on #6644
Ongoing topic in discuss: https://discuss.elastic.co/t/metricbeat-jolokia-configuration/125305
Let's wait to decide if it is an issue.

[2018-03-23 16:38] agathver commented on #6643
@jsoriano Sure,
I have been working in those parts of metricbeats recently.

Should we add config for some common MBeans like Uptime, Heap memory?

[2018-03-23 19:20] robgil opened #6646 "Metricbeat Socket - Per connection state and keepalive timers"
Using metricbeat's `system.socket` module, I would like to see the state of the connection. Example would be whether its `ESTABLISHED` or `TIME_WAIT`. Ideally we could graph the box, and see the state of all connections. High `TIME_WAIT` can indicate an issue.

A second part of this would be to include the `keepalive` timers for individual TCP connections (`netstat -not`).

- [ ] Add state per soc

[2018-03-23 19:38] n0othing commented on #5073
I've been able to reproduce this behavior if my user has `indices:data/write/bulk` to any arbitrary index.

[code]
[code]

[code]

[code]

But looking over my audit log I see:
[code]

[2018-03-23 19:47] robgil commented on #6646
To clarify a bit more, the breakdown with how SNMP does this is handy. It aggregates the counts, which would reduce the amount of data in ES. Its good to have both the aggregation (count) as well as the per connection stats.

Ref: http://net-snmp.sourceforge.net/docs/mibs/tcp.html

[2018-03-23 21:45] brandonmensing opened #6649 "Document X-Pack Security permissions for Beats' Kibana Dashboard Feature"
Currently, our instructions don't mention the necessary permissions or role needed to setup Kibana Dashboards for each Beat. It would be helpful to mention that the setup.kibana.username should have the kibana_user role, maybe as a #2 callout in step 4: https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-configuration.html

[2018-03-23 23:34] msimerson commented on #974
+1 for closing the issue. Leaving it open leaves one with the impression that FreeBSD support is not done, whereas it's been working for many months.

[2018-03-23 23:44] dedemorton commented on #6375
Closed by https://github.com/elastic/beats/pull/6537

[2018-03-23 23:44] #6375 closed

[2018-03-24 00:28] dedemorton commented on #5419
@urso It looks like these settings aren't shown in the reference.yml files. Do we still want to document these? Looks like Logstash, Elasticsearch, and Kafka all have backoff settings. I can help add the content to the docs, but I don't see the options in the reference.yml.

[2018-03-24 00:33] dedemorton commented on #6514
@ruflin So it sounds like a code (not doc) fix is required here? if so, maybe remove the doc label?

[2018-03-24 01:06] dedemorton commented on #5497
I'm closing this issue because it's old and fixed in later versions. However, because I goofed awhile back ago and didn't set up all the redirects that were required, I have opened a [request ](https://github.com/elastic/website-www.elastic.co/issues/2428) against the website to have redirects set up just in case someone has an old version installed somewhere.

[2018-03-24 01:06] #5497 closed

[2018-03-24 01:13] dedemorton commented on #6222
Closing because this was fixed in https://github.com/elastic/beats/pull/5883.

[2018-03-24 01:13] #6222 closed

[2018-03-24 01:41] dedemorton commented on #4398
@ruflin Can we close this? Sorry it took me so long to get around to refactor the prospector/input docs. :-(

[2018-03-24 01:51] dedemorton commented on #6329
Closed in #6651

[2018-03-24 01:51] #6329 closed

[2018-03-24 02:03] ph commented on #974
@msimerson I'll close this following your words.

[2018-03-24 02:03] #974 closed

[2018-03-24 02:18] dedemorton commented on #6476
Closed in https://github.com/elastic/beats/pull/6654

[2018-03-24 02:18] #6476 closed

[2018-03-24 02:43] dedemorton commented on #5987
Closed by #6655

[2018-03-24 02:43] #5987 closed

[2018-03-24 14:18] ewgRa commented on #6620
@jsoriano thanks for brilliant idea, I made changes, it works, close to magic level :) Can you review it again? Failed CI looks like not related to my changes.

I see only two problems/limitations from this solution:

1. Hard to write test for this case, I've add simple test, that actually test not a real case itself.

2. In case if there will be wrong -system.hostfs flag (directory not exists for

[2018-03-25 05:12] jaipradeesh commented on #6191
Okay. So, if we don't maintain a list of supported opcodes, then in those cases, `Err Unknown operation code` would be printed. PR #6440 adds `OP_COMMAND` and `OP_COMMANDREPLY`. But, say `OP_COMPRESSED` would return `ERR Unknown operation code:`

[2018-03-25 08:41] Hexilee commented on #6134
I think using -q flag to disable outputting to STDOUT is easy to understand for senior user while using -e flag to enable outputting to STDOUT may be a litter confusing for newcomers.

[2018-03-25 16:24] kamaci commented on #4625
@LeeDr That gives error:

`No directory /usr/share/metricbeat/bin/kibana/6`

I think that documentation should be updated for installing as service such packages.

[2018-03-25 17:03] andrewkroh commented on #6507
On a related note to Sigma, I see that Microsoft is using a query language to find interesting things in their data:

- APT Hunting Queries - https://github.com/Microsoft/WindowsDefenderATP-Hunting-Queries
- Query Language - https://docs.loganalytics.io/docs/Language-Reference/

[2018-03-25 18:38] ruflin commented on #6605
I initially tried to reproduce this without docker to see if it is something in Filebeat itself or more likely related to Docker. As I didn't manage to reproduce it with local files I started to investigate a bit deeper into Docker. It seems this breaking change was introduced with 1.13 and is kind of a known issue: https://github.com/moby/moby/issues/34855 With https://github.com/moby/moby/pull/3

[2018-03-26 07:06] #6629 closed

[2018-03-26 07:58] ruflin commented on #6605
I did a test with the json-file logger and indeed in the file itself the log message it split up across two lines which means Filebeat cannot do much else then read the file line by line. I looked that `BufSize` interface and the only logger which makes use of it is the cloudwatchlogs logger: https://github.com/moby/moby/search?utf8=%E2%9C%93&q=BufSize&type= Based on this I assume this option does

[2018-03-26 08:18] ruflin commented on #5419
We should also add them to the reference file if they are missing.

[2018-03-26 08:35] ruflin commented on #1509
@cerw Please open a topic on discuss with some more details like your config and your logs: https://discuss.elastic.co/c/beats/metricbeat

[2018-03-26 09:37] exekias commented on #5377
I'm closing this as autodiscover allows you to ensure metadata will be present by the moment prospector is launched, have a look to https://www.elastic.co/guide/en/beats/filebeat/current/configuration-autodiscover.html

[2018-03-26 09:37] #5377 closed

[2018-03-26 12:33] f0 opened #6659 "[Metricbeat] support kubernetes ressourcequotas"
it would be nice if metricbeat would fetch the kubernetes ressourcequotas.
This is very usefull to e.g display quotas per namespace vs. usage per namespace

[2018-03-26 14:03] ph opened #6660 "Variable extrapolation in configuration doesn't work in sub config."
orignally reported in discuss at: https://discuss.elastic.co/t/environment-variables-not-replaced-in-external-configuration-file/124690

- Version:  6.3.0 and 6.2.2
- Operating System:
- Steps to Reproduce:

Make theses changes to you YAML configuration
[code]

[code]

**Results into:** Exiting: missing field accessing '0.paths.0'

Same problem if you using an environment variable directly in the

[2018-03-26 14:04] ph commented on #6660
When I've added the keystore #5737 in libbeat I've made some changes to the config handling, I will need to check if it got introduced by it or not.

[2018-03-26 14:09] ph opened #6661 "Split the Keystore interface into a `Readable` and `Editable` interface"
Currently, the Keystore has a unique interface allowing reading and editing of keys.
In some context like Vault and the k8s secret store clients don't have the privileges to manages the secrets.

We should split the Keystore into two distinct interfaces:

- Readable
- Editable

By default when we plug a Keystore, we should fallback to _Read-only_ and the keystore plugin should make the explicit ch

[2018-03-26 14:59] exekias commented on #6646
I've been reading the code:

- We get sockets using netlink, so we get an object like this: https://github.com/elastic/gosigar/blob/master/sys/linux/inetdiag.go#L302-L315
- Then we dump part of it like this: https://github.com/elastic/beats/blob/master/metricbeat/module/system/socket/socket.go#L235-L297

From what I see we can get both `state`, keep-alive `retransmits` & `timer`.

Would that be en

[2018-03-26 15:22] exekias commented on #6646
I've added some code so we can see (or test) what we are talking about: https://github.com/elastic/beats/pull/6663

[2018-03-26 15:24] robgil commented on #6646
@exekias sounds reasonable yeah. The other one would be a rollup or aggregated connection counts (point in time).

[2018-03-26 16:32] exekias commented on #6659
It make sense to include this info, I've been checking `kube-state-metrics` and it doesn't retrieve these, so we would need to get them from the API server

[2018-03-26 16:50] f0 commented on #6659
@exekias   hm kube-state-metrics should include this https://github.com/kubernetes/kube-state-metrics/blob/master/collectors/resourcequota.go

[2018-03-26 16:55] exekias commented on #6659
That's right! I didn't see it in the docs, good to know, it should make things easier to implement then :+1:

[2018-03-26 17:06] strowi opened #6665 "Mysql-Module Percona Support"
Hi,

As requested: https://discuss.elastic.co/t/mysql-module-grok-parsing-error/125561

trying to get percona slow-logs into es with the mysql-module. But it seems there is some pattern mismatch?

- Version: 6.2.3
- Operating System: Ubuntu 16.04.3 LTS

- Steps to Reproduce:
[code]

error:
[code]

message:
[code]

original log:
[code]
regards,
strowi

[2018-03-26 19:25] ruflin opened #6668 "Set default metricsets for modules"
Recently the feature to set default metricsets for a module were introduced. If a module is enabled an no metricsets are set, this list of metricsets is used. Now for each module the metricsets must be defined. In general this is all metricsets which are GA but there might be some exceptions like prometheus where the default one is only collector.

This issue is to track the progress on setting th

[2018-03-26 20:51] cdenneen commented on #5205
Trying to diagnose a beat 5.1.1 -> logstash 5.6.8 issue and having some sort of back pressure log message would be useful here...

[2018-03-26 21:32] Tapppi commented on #6045
@ruflin will that option be released in 6.2.5 or 6.3 or 7.x?

[2018-03-26 21:52] jsoriano commented on #6271
A similar issue has been reported in discuss (https://discuss.elastic.co/t/metricbeat-5-3-0-reporting-strange-memory-value/124825).
I have been taking a look and the huge values are near maximum `uint64`. These "used" values are calculated as `Total - Free`, so it seems that in some circumstances, somehow, the found `Free` memory is bigger than the `Total`, leading to an integer overflow. I think

[2018-03-26 22:11] #6351 closed

[2018-03-27 03:09] Hexilee commented on #5964
@ruflin The sub command `<beat> export config` is not full enough?

[2018-03-27 05:20] vishnudutt12 commented on #6644
Hi Jsoriano,
Thanks for the reply! Actually that discussion is raised by myself in elasticsearch. :-( ! I cant sort out whether the issue is related with the elasticsearch or the beats! Request to advise!
Thanks in advance
Vishnu

[2018-03-27 06:44] ruflin opened #6672 "Mix of enabled:false and enabled:true in metricbeat.reference.yml"
In the `metricbeat.reference.yml` we have a mix of modules which have `enabled: false` and some which are missing it. We should either have all modules enabled or disabled by default. As we normally go with the default I suggest to have all modules enabled by default, meaning having with each module config a line `enabled: true`.

[2018-03-27 06:57] ruflin commented on #6668
@jsoriano I started working from the top of the list.

[2018-03-27 07:01] ruflin commented on #6668
@jsoriano When changing each module I also directly check https://github.com/elastic/beats/issues/6672 So I add `enabled: true` to the reference config file (if there is one) and remove `enabled: *` from the short config.

Other changes I do:

*  Add a note to the docs
* Add an entry to the changelog

[2018-03-27 07:04] #6573 closed

[2018-03-27 07:55] yfoelling commented on #6215
Kafka 1.0 is out for a while now.
Filebat should support it too!

[2018-03-27 08:41] jsoriano commented on #6620
Fixed by #6641

[2018-03-27 08:41] #6620 closed

[2018-03-27 08:49] SoAG commented on #5965
I've just installed elastic beat and wanted to switch over from our custom metric collection to the official beat. But we are missing some of the stats i.e. mem heap usage percent which we use for alerting.

Is there any movement on this issue?

[2018-03-27 09:11] jsoriano commented on #6668
I start from the bottom then :)

[2018-03-27 09:36] Constantin07 commented on #6620
Thanks @ewgRa @jsoriano

[2018-03-27 10:41] jsoriano commented on #6453
We already merged #6462, I think this covers the cases mentioned here, closing this, thanks for your comments!

[2018-03-27 10:41] #6453 closed

[2018-03-27 11:36] ruflin commented on #6605
@f0 That is interesting. But as this is internal it is up to the specific logger to make use of it. Do you know if the json-file logger has something similar?

[2018-03-27 11:39] ruflin commented on #6045
@Tapppi 6.3 and 7.x

[2018-03-27 11:47] ruflin commented on #5964
If you run `metricbeat export config` as an example it will only output the config you have in the `metricbeat.yml` file. All the enabled modules under `modules.d` directory will not be in there. Same for filebeat if a `config.propspector.path` is used.

With autodiscovery it goes further that modules are loaded for which nothing exists on disk but the config is only in memory. Would be nice to be

[2018-03-27 11:50] ruflin commented on #5965
We had a lot of internal discussions on this and plan now to align the elasticsearch module with the internal Elasticsearch monitoring. PR's related to that should follow pretty soon.

[2018-03-27 12:01] f0 commented on #6605
@ruflin i chzecked with 17.09.1-ce  , seems that the json-logger does not has this flag

[2018-03-27 20:34] andrewkroh commented on #5964
I think it would be a good improvement to make `export config` include the data from modules.d / conf.d.

If we had a CLI tool that could query the running Beat then I would think that would be a good place to add the command for dumping the running config which includes things started by auto-discovery.

[2018-03-27 20:52] LeeDr commented on #4625
@kamaci What build are you using and OS?

[2018-03-27 22:29] adriansr opened #6679 "http parser should not buffer the complete request and response in memory"
Users have reported that the performance of packetbeat is poor when dealing with HTTP requests and responses with large bodies.

After a quick analysis of the HTTP parser it has been identified the case where the parser keeps the whole request and response (including bodies) in memory, even when it is not necessary.

[2018-03-28 07:56] Camillevau commented on #6620
Thanks

[2018-03-28 09:18] anergiti commented on #6409
Hello,
i dunno if this indicates the bug here,
while running grep on tcpdump pcap file (more output.log | grep quattroruote) i get 8 different rows contains quattroruote:
![image](https://user-images.githubusercontent.com/23061787/38019933-a2573f24-3281-11e8-9171-d9aa763882f1.png)

while at kibana i see only one.
![image](https://user-images.githubusercontent.com/23061787/38020046-f2320010-3281-11

[2018-03-28 09:44] arkadicolson commented on #5337
We are running version 6.2.2 and still the same error...

[2018-03-28 09:45] arkadicolson commented on #5337
2018-03-26T01:54:52.640+0200    ERROR   ioutil/ioutil.go:30     recovered from panic while fetching 'system/process' for host ''. Recovering, but please report this: runtime error: slice bounds out of range. {"stack": "github.com/elastic/beats/libbeat/logp.Recover\n\t/go/src/github.com/elastic/beats/libbeat/logp/global.go:88\nruntime.call32\n\t/usr/local/go/src/runtime/asm_amd64.s:509\nruntime.gop

[2018-03-28 12:47] jstoja opened #6684 "[Auditbeat] Kernel panic when auditbeat + auditd"
For confirmed bugs, please report:
- Version: 6.2.0
- Operating System: Debian Wheezy (kernel-3.16.0)
- Steps to Reproduce:
1. Run auditd with set of rules X
1. Run auditbeat in a Docker container with set of rules X
1. Wait few hours
1. Force recreate the container

It seems that it happens only when both are working at the same time.

Sorry that I don't have much information. I open this in case

[2018-03-28 12:55] cyrilleverrier commented on #6102
Fixed by:

- https://github.com/elastic/beats/pull/6336
- https://github.com/elastic/beats/pull/6337
- https://github.com/elastic/beats/pull/6338
- https://github.com/elastic/beats/pull/6339
- https://github.com/elastic/beats/pull/6340
- https://github.com/elastic/beats/pull/6341

[2018-03-28 12:55] #6102 closed

[2018-03-28 13:39] adriananeci opened #6685 "Metricbeat rabbitmq module issues"
Hi,

Based on https://discuss.elastic.co/t/metricbeat-rabbitmq-module-issues/125751 there could be a possible bug in rabbitmq metrcibeat module.
I' running metricbeat version 6.2.3 inside a docker container. Also rabbitmq is running inside a container, using an official image, 3.7-management (current version is 3.7.4 and Erlang 20.2.4). Docker is running on top of CentOS 7.4.

Steps to reproduce:

[2018-03-28 15:12] andrewkroh commented on #5337
@arkadicolson The stack trace you posted indicates this is not the same problem (your issue is with Linux, this issue is about a macOS bug). I wish I had noticed this when you first posted. Can you please open a new issue.

[2018-03-28 15:31] andrewkroh commented on #6684
This is not how we intend Auditbeat to be used. Only one tool should be managing audit rules. See the documentation for [socket_type](https://www.elastic.co/guide/en/beats/auditbeat/current/auditbeat-module-auditd.html) for details.

If you want to use auditd and Auditbeat together on kernel 3.16+ then you should not define any audit rules in Auditbeat's config. And I highly recommend setting `soc

[2018-03-28 16:51] agathver commented on #6646
I wrote some code addressing this: https://github.com/elastic/beats/issues/4474
It's outputs aggregated counts for different socket types such as total connections, connections in established state, connections in listening state. (It's not PR ready yet :sweat_smile: )

Currently I have it as a module, but I feel it should go inside `system.socket`.
@exekias What are your views on it?

[2018-03-28 18:27] bitsofinfo commented on #6605
So does a ticket have to be opened w/ moby for this?

[2018-03-28 18:59] takuyaiwakami commented on #6175
I ran into the exact same messages. I guess it's a good idea to take a look at elasticsearch logs. in my case, a bunch of IllegalArgumentException for Grok processor were in the log

[2018-03-29 00:21] wallies commented on #6605
@ruflin @f0 what seems more interesting is this work to add partial message metadata. Might be better to base filebeat work off this. https://github.com/moby/moby/pull/35831

[2018-03-29 04:57] ruflin commented on #6646
@agathver Sounds promising, could you share a link to your branch?

[2018-03-29 05:03] ruflin commented on #6646
@robgil We normally create 2 metricsets if one is the summary of the other. Like this you could enable `socket_summary` and would only have the summary data or if you enable `socket` you get all of it and could do the aggregation on the Elasticsearch side. Would that work for you?

To make the call if it should be 1 or 2 metricsets I think I need to see the branch from @agathver ;-)

[2018-03-29 05:32] agathver commented on #6646
@ruflin Here it is: https://github.com/agathver/beats/tree/module-ss/metricbeat/module/ss/ss

[2018-03-29 06:36] arkadicolson opened #6692 "Mericbeat process module crash"
As requested in ticket https://github.com/elastic/beats/issues/5337#issuecomment-376922815 I have opened a new one.

After some time metricbeat stops shipping process related data. A restart fixes this issue temporary. We are having this issue on debian 7 and 8 with metricbeat 6.2.2
Please find the stack trace below...

[code]

[2018-03-29 06:37] arkadicolson commented on #5337
No problem! I created ticket https://github.com/elastic/beats/issues/6692

On 28-03-18 17:12, Andrew Kroh wrote:

[2018-03-29 11:28] tsg commented on #6616
@ruflin FYI, I added this one to the Heartbeat GA checklist.

[2018-03-29 12:00] robgil commented on #6646
@ruflin yeah, the separate metricset seems fine to me. I imagine that for general monitoring, we'll probably just run with the summarized stats, and when we want _debug_, we'll turn up the full `socket` metricset.

[2018-03-29 12:06] jsoriano commented on #6692
This is weird, because the panic seems to happen in `ioutil.ReadFile`, that should be safe.

@arkadicolson can you think on anything that can make your scenario a bit special? are the machines VMs? do they have high memory or disk pressure? do you run metricbeat with memory limits?

[2018-03-29 12:28] jsoriano commented on #6692
This issue seems related: https://github.com/golang/go/issues/22097

[2018-03-29 13:24] vbohata opened #6694 "Filebeat autodiscover should not stop docker prospectors until it reads all lines"
I am using filebeat with autodiscover feature to read docker logs. When I stop and remove docker container, the prospector stops so it does not process latest logs from the container. I think it should reflect close_removed, so in case docker json log is missing it should still process remaining lines from its opened file descriptor. I am using filebeat 6.2.3.

So when autodiscover closes the pros

[2018-03-29 13:39] andrewkroh commented on #6635
Or we can update the NOTICE.txt file to include this dep.

[2018-03-29 16:59] pillarsdotnet opened #6699 "Jenkins build fails on AmazonLinux"
On (at least) Amazon Linux, the [virtualenv](https://virtualenv.pypa.io/en/stable/) tool configures python with the following `sys.path` directories:

- `''`
- `'${PYTHON_ENV}/local/lib64/python2.7/site-packages'`
- `'${PYTHON_ENV}/local/lib/python2.7/site-packages'`
- `'${PYTHON_ENV}/lib64/python2.7'`
- `'${PYTHON_ENV}/lib/python2.7'`
- `'${PYTHON_ENV}/lib64/python2.7/site-packages'`
- `'${PYTHON

[2018-03-29 19:10] georgezoto commented on #637
+1 for "reading gzipped files should be supported out of the box"

[2018-03-30 07:59] jstoja commented on #6684
Thanks for such a quick answer, I'll try like you advised to me and see if it's solved.
Here are the rules that were both in auditd and auditbeat:
[code]

and here is the docker-compose file:
[code]

In addition, we have set the `audit=1` parameter to the linux line in Grub. I'll try to make a bit more tests around this. I have the strong feeling that auditbeat is not the faulty part here...

[2018-03-30 08:36] ruflin commented on #6605
@wallies Thanks for the link. I only skimmed through the PR but it seems in case of partial data the json logger would skip the newline and put the second object on the same line. It would mean we have 2 (or more) json objects on the same line. Not sure yet how we would deal with it on our end but I'm sure we would find a way.

From a Filebeat perspective I would prefer if the json logger would ha

[2018-03-30 08:39] ruflin commented on #6605
@bitsofinfo It would probably worth to open an issue related to the Buffer support in json file logger to get a feeling if a PR in this direction would have a change in the moby project.

[2018-03-30 08:58] ruflin commented on #6646
@agathver Thanks for sharing. I wonder if where these values should go. If we follow the process model it would be under `system.socket.summary.*`. An alternative would be to have it under `system.socket.tcp.*` as we don't use these namespaces yet.

For the name of the metricset I would follow the convention to call it `socket_summary`.

@agathver Do you want to open a PR for the summary metricset

[2018-03-30 10:03] ruflin commented on #6694
As the autodiscovery mechanism is generic and doesn't have any information about the state of reading the doc I was thinking an other option could be to have a configurable delay. So if a docker container disappears it will delay calling "stop" by x seconds. This works as long as filebeat is almost finished reading the lines.

An other option is that `Stop` on the input side would be blocking base

[2018-03-30 12:32] jstoja commented on #6684
I've just tested with the multicast socket and:

* works perfectly with auditbeat on the vm (`"metricbeat":{"auditd":{"auditd":{"events":25,"success":25}}}`
* doesn't work in the docker container (with the capabilities added as specified above)

I'll check if I see the kernel panic again without Docker. Although, I don't find anything in documentation that explains why it's not working with it.

[2018-03-30 18:54] andrewkroh commented on #6684
Sounds like we need to update the docs and do a bit of testing with Docker + `socket_type: multicast` + `network_mode: host`. Thanks for the update.

[2018-03-30 21:26] bitsofinfo commented on #6605
@ruflin Would it have more weight if someone from elastic opened such an issue? I'm not sure which moby project or area of code to reference and point them to.

[2018-03-31 11:32] agathver commented on #6646
@ruflin, I'll open a PR later, may be in the next week. Currently busy with some academic stuff.

[2018-04-01 02:50] oligarx commented on #3898
This is still an issue out of the box for 6.2.3 and only dbluxo's work-around seems to resolve the issue

[2018-04-01 07:29] lich1011 opened #6726 "Metricbeat dashboard show 0 when the time period within 5min"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

For confirmed bugs, please

[2018-04-02 00:04] ctindel commented on #5032
@gingerwizard @ruflin I just did a fresh install and the problem is definitely still happening with 6.2.3:

[code]

[2018-04-02 03:07] #6726 closed

[2018-04-02 08:40] vibhore-21 commented on #6175
I also got the same issue
[code]
Steps to reporduce:
I just changed kube_config file and restarted filebeat service.

[2018-04-02 12:30] marian-craciunescu opened #6729 "make package is Failing on Ubuntu"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

For confirmed bugs, please

[2018-04-02 13:35] asekhar commented on #541
+1 not sure if there is a way of "upvoting" on feature requests.

[2018-04-02 14:22] andrewkroh commented on #6729
What commit of elastic/beats do you have vendored? Try using the latest version from master because we are [not seeing any issues](https://beats-ci.elastic.co/job/elastic+beats+master+package/) with this at the moment.

[2018-04-02 16:58] mouliveera opened #6731 "Unable to install additional plugins"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

For confirmed bugs, please

[2018-04-02 18:21] andrewkroh commented on #6731
https://discuss.elastic.co/t/need-to-install-additional-plugins-along-with-metricbeat/126449

[2018-04-02 18:21] #6731 closed

[2018-04-03 04:53] mumoshu opened #6733 "Proposal for adding a reference Kubernetes manifest for auditbeat"
It seems like we have ones for filebeat and metricbeat but for auditbeat in https://github.com/elastic/beats/tree/master/deploy/kubernetes

According to [the explanation for running autitbeat in a docker container](https://www.elastic.co/guide/en/beats/auditbeat/current/running-on-docker.html), probably we should just start by running auditbeat in a privileged container in pods managed by a daemon

[2018-04-03 05:34] f0 opened #6734 "Error while getting [memory,cpu] usage: error retrieving process stats: cannot find matching process for pid=1"
Hi,

i run metricbeat inside kubernetes inside a docker container.
I see this errors in the log

[code]

[2018-04-03 07:52] arkadicolson commented on #6692
Hi
We installed the new 6.2.2 recently but the package installed did not trigger a restart. After a manually restart the problem seems to be resolved.
Br,
Arkadi

[2018-04-03 07:52] #6692 closed

[2018-04-03 08:32] jstoja opened #6736 "[Auditbeat] export auditd key_name"
Hello,

I'm currently using auditbeat and it seems that it's not reading the key_name (`-k`) field from audit.rules(7).
At least, I don't see it either in the docs or in the `go-libaudit` codebase. Is there a reason not to have it?

If needed I can open an issue on go-libaudit instead.

For confirmed bugs, please report:
- Version: 6.2.2
- Operating System: Docker/Debian

[2018-04-03 08:43] ismael-hasan opened #6737 "Different case-sensitive behavior in the prospectors for Windows paths depending on the use of wildcards"
When using direct paths in the Filebeat prospector in Windows, they are case-insensitive. If wildcards are involved, they become case-sensitive.

- Version: 5.6, 6.2.3
- Operating System: Windows 10
- Steps to Reproduce:

Create a file `C:\tmp\aA.txt` . Create a basic configuration for Filebeat as follows:

[code]

Now, running some tests:
- As configured, it works and gets the file
- Changing the

[2018-04-03 09:12] ruflin commented on #6668
All changelog entries which have to be added later. Lets use this comment to collect them.

[code]

[2018-04-03 10:18] jsoriano commented on #5600
It'd be also nice to support common hardware RAID controllers like MegaRAID.

[2018-04-03 11:27] ruflin commented on #5600
@jsoriano Do you have any experience on how we would access the data for these?

[2018-04-03 11:48] ruflin commented on #6605
As long as there is no flag or indication that the same event is spread to multiple lines there is not much beats can do.

I think the quickest to get a change in is to open a PR and get it merged as I doubt someone would open the PR based on the Github issue if there is no real urgency for it. If the PR is open by a Beats team member of an external contributor I would assume does not make a diffe

[2018-04-03 12:34] jsoriano commented on #5600
Access to them is usually via commands, for example `megacli` for MegaRAID.

[2018-04-03 12:35] kvch commented on #6734
Hi!

What version are you running? A similar issue has been reported and fixed: https://github.com/elastic/beats/issues/6620
Could you reproduce it on master?

[2018-04-03 13:10] JoostV commented on #6616
2018-04-03T15:03:03.282+0200    DEBUG   [publish]       pipeline/processor.go:275       Publish event: {
  "@timestamp": "2018-04-03T13:03:03.269Z",
  "@metadata": {
    "beat": "heartbeat",
    "type": "doc",
    "version": "6.2.3"
  },
  "tcp": {
    "port": 7224,
    "rtt": {
      "connect": {
        "us": 641
      }
    }
  },
  "monitor": {
    "ip": "127.0.0.1",
    "duration": {
      "u

[2018-04-03 14:23] TimWardOrigami opened #6741 "Feature request - Beats to report FQDN"
Beats report the hostname via beat.hostname (which often ends up in various other fields as well). But this is often or usually just the leaf part of the hostname, ie the "host" bit of "host.example.com".

This feature request is to add a field that gives the fully qualified domain name, ie "host.example.com" in the example above, appreciating that this won't always be easy, or indeed possible, to

[2018-04-03 14:47] anergiti commented on #6409
Hey. i have uploaded the pcap file. can download it from dropbox link bellow.
Thanks!

https://www.dropbox.com/s/3citcxi7ihiwmqw/trace.pcap?dl=0

[2018-04-03 15:39] tj8000rpm commented on #152
Hi, npenna22
Thank you for trying my sip plugin.
Packetbeat is single binary application, so if you want to deploy and use new protocol plugin,  you should replace the current(6.2.3) packetbeat binary/setting file to new binary and setting file(my repository is version 7.0.0-alpha1).
_*sample setting is included in my repository._

**How to get a new packetbeat binary**
Usually you need recompile

[2018-04-03 16:46] andrewkroh commented on #6736
Keys are supported in audit rules with `-k <key>`. The [examples](https://github.com/elastic/beats/blob/5956ddd72e4756d6deed07587b1cd7b1432fbc06/auditbeat/auditbeat.yml#L36-L38) in the default config file use `-k`. And go-libaudit has [several tests](https://github.com/elastic/go-libaudit/search?utf8=%E2%9C%93&q=%22-k%22&type=) for the `-k` flag. Additionally keys can be added to syscall rules wit

[2018-04-03 16:55] f0 commented on #6734
@kvch  hi, i run 6.2.3

[2018-04-03 17:02] andrewkroh commented on #6737
I can see how this happens. In most cases the file system in Windows is case-insensitive. So if you specify the full-path to a file the casing doesn't matter because Windows resolves it for you. But when you switch to globs the matching happens in Go and its sensitivity behavior doesn't match that of the file-system.

Unfortunately Go doesn't expose a way control the behavior of the glob matching

[2018-04-03 17:41] JoostV commented on #6616
Windows server 2016:
2018-04-03T15:37:15.124+0200    DEBUG   [scheduler]     scheduler/scheduler.go:170      Next wakeup time: 2018-04-03 15:37:20.1236676 +0200 CEST
2018-04-03T15:37:15.125+0200    DEBUG   [publish]       pipeline/processor.go:275       Publish event: {
  "@timestamp": "2018-04-03T13:37:15.124Z",
  "@metadata": {
    "beat": "heartbeat",
    "type": "doc",
    "version": "6.2.3"

[2018-04-03 17:44] JoostV commented on #6616
Windows yml file:
# Configure monitors
heartbeat.monitors:
- type: tcp
  schedule: '@every 5s'
  hosts: ["localhost"]
  ports: [7222, 7226]
  mode: any

output.elasticsearch:
  # Array of hosts to connect to.
  hosts: ["127.0.0.1:1234"]
----------------------
# Configure monitors
heartbeat.monitors:
- type: tcp
  schedule: '@every 5s'
  hosts: ["localhost"]
  ports: [7224, 7226, 7228, 7230]
  mode

[2018-04-03 18:28] ph opened #6749 "Allow to configure a batch size based on the size of the events"
To reduce memory pressure on Logstash we currently only allow to configure some events to be sent, this is a strict limit and doesn't reflect the dynamic nature of the events going through the stack.

Allowing users to set a maximum **Batch Size in bytes** would help reduce memory usage on the remote side.  I think we could use this logic, cap to a specific amount of bytes each batch sent, if an e

[2018-04-03 18:37] JoostV commented on #6616
The work around for me is to add "max_procs: 1" in the general section of the heartbeat.yml

[2018-04-03 19:38] bitsofinfo commented on #6605
added an issue at https://github.com/moby/moby/issues/36777 please chime in there.

[2018-04-04 00:29] joshuar opened #6751 "Support a delimiter parameter for the log prospector to allow dividing events on something other than a newline character?"
In Logstash, the file input supports a [delimiter parameter](https://www.elastic.co/guide/en/logstash/6.0/plugins-inputs-file.html#plugins-inputs-file-delimiter),  which allows you to divide up a file which does not use `\n` as the line separator into events. This is great for handling esoteric file formats.

Could we get a similar parameter for the log prospector in Filebeat to allow similar beha

[2018-04-04 01:37] ph commented on #6751
We could use that I have in the TCP input (#6266) to split lines. I will check it after.

[2018-04-04 07:52] ruflin commented on #6616
It seems two go routines write to the same map:

https://github.com/elastic/beats/blob/1a25c91fc008bd8bf5ff1be4e741f1ff083ea635/heartbeat/monitors/util.go#L133

and

https://github.com/elastic/beats/blob/1a25c91fc008bd8bf5ff1be4e741f1ff083ea635/heartbeat/beater/manager.go#L293

@urso Does that trigger anything on your end? We should probably have a copy of the fields or use a lock?

[2018-04-04 08:53] ruflin commented on #6668
I left the `golang` module untouched as it's still experimental and I think in this stage we should not have defaults.

[2018-04-04 09:16] ruflin commented on #6668
I checked off http and suggest not to add any defaults. For the json metricset it is always required to set a correct path as `/` is probably not the one that is expected. And for the server one not sure if the expectation of enabling the http module would be that a port is opened.

[2018-04-04 09:16] ruflin commented on #6668
Similar thing to the above applies for Jolokia and I also checked it off. The jmx metricset always requires manual configuration so it does not make much sense to have it as a default.

[2018-04-04 09:58] #6643 closed

[2018-04-04 10:06] wenma opened #6760 "[filebeat] How do I write a processor plugin by myself ?"
filebeat verson:  6.2

[2018-04-04 12:13] ruflin commented on #5032
@ctindel I seems we never opened an issue for it so we forgot about it :-( As it's a different issue from the issue reported here initially we should have a separate issue for it. Could you open one?

[2018-04-04 12:53] ruflin commented on #5600
I would prefer if we would not have to execute commands (if possible). So far we stayed away from it for security reasons.

[2018-04-04 14:04] jsoriano commented on #5600
Oh ok, I understand, probably these commands use `ioctl`s at the end, I don't know if they are also based in libraries that we could use.

It may be complex if their commands are not used because sometimes they are based in propietary solutions.

[2018-04-04 14:55] ph opened #6771 "Improve interface of Inputs in Filebeat"
Input are responsable of taking the `inputsource` (UDP, TCP, Log) and create the necessary logic and plumbing to get that data out.

Inputs are either persistent like the UDP/TCP or periodically called like the Log inputs, the current interface that all inputs implements is the following one.

[code]

We can do a few minor improvements:
- Allow `Run()|Stop()|Wait()` to return an error, useful in p

[2018-04-04 15:16] andrewkroh commented on #6760
At a high level a `Processor` must implement the [Processor interface](https://godoc.org/github.com/elastic/beats/libbeat/processors#Processor) and a constructor function must be registered by calling [RegisterPlugin](https://godoc.org/github.com/elastic/beats/libbeat/processors#RegisterPlugin) so that your `Processor` can be instantiated from config by the Beat.

You can look at the [add_host_met

[2018-04-04 18:22] adriansr opened #6774 "HTTP: Support decoding of pipelined requests"
Packetbeat's http protocol doesn't play well with pipelined requests.

The case where a single TCP packet contains more than one request or response does not work as expected. It will only produce an event for the first request and response pair.

[2018-04-05 08:47] Constantin07 commented on #5854
I'm experiencing the same issue with metricbeat 6.2.3 and Eslasticsearch 6.2.3 even on non-hardened Ubuntu 16.04 Linux.
Is the above workaround a temporary solution or it should be a proper permanent fix ?

[2018-04-05 13:26] ruflin commented on #6668
Closing as all changes have been merged and changelog PR is open here https://github.com/elastic/beats/pull/6781

[2018-04-05 13:26] #6668 closed

[2018-04-05 16:17] willemdh commented on #3384
The fsstat module is really useless atm, please exclude mount points and subpaths by default.

[2018-04-05 17:56] agathver commented on #6644
This could be closed as the discussion appears to be resolved

[2018-04-05 18:59] ctindel opened #6785 "Problem with mapping in metricbeat"
This is related to https://github.com/elastic/beats/issues/5032

I think from reading the thread the issues is that we need to pass the number 0 as a float ?

Right now as-is a fresh install results in an error like this:

[code]

[2018-04-05 19:31] jsoriano commented on #6644
Ok, thanks! reopen if it is still an issue.

[2018-04-05 19:31] #6644 closed

[2018-04-05 20:15] jstoja commented on #6736
Okay! That was the information I was missing. I didn’t even thought about the tags, that’s a neat idea.

Since I didn’t find it in the docs, that could be a nice addition. I’ll try to add it ;)

[2018-04-05 20:15] #6736 closed

[2018-04-05 22:28] andrewkroh commented on #6524
I opened https://github.com/elastic/fsevents/pull/3 to update the elastic fsevents fork.

[2018-04-06 06:45] kholia opened #6789 "[Auditbeat] - Enrich process.ppid data to aid intrusion detection work"
According to https://www.elastic.co/guide/en/beats/auditbeat/master/exported-fields-auditd.html page, the `process.ppid` contains the parent process ID. The auditd exported fields do not contain the name and the age of the parent process.

This feature request is about adding extra fields (`process.ppid_name`, `process.ppid_age`) to the list of exported fields. These fields will contain the name,

[2018-04-06 07:51] ruflin commented on #5854
@Constantin07 I think the above should be a temporary workaround and we want to have proper fix long term. It could also be a simple config option that automatically drops the above fields.

For your case it's interesting that these values are missing but you are not on a hardened system. Is this a stock Ubuntu image? How does your setup look like?

[2018-04-06 09:03] kholia commented on #6789
CC @pmoust.

[2018-04-06 11:45] ruflin commented on #6473
Closing this as we munin is in master.

[2018-04-06 11:45] #6473 closed

[2018-04-06 11:58] KrasnovNikita commented on #5965
Please, in the next version of metric beat add values"heap_used_in_bytes", "heap_used_percent".
Thanks a lot.

[2018-04-06 12:03] Constantin07 commented on #5854
@ruflin Yes, stock Ubuntu image but it also happens on CoreOS Linux (different versions).

metricbeat.yml:
[code]

system.yml:
[code]

docker.yml:
[code]

and here are the messages I get in logstash:
[code]

In metricbeat index template `system.process.cgroup.memory.kmem.limit.bytes` is defined as Number.

[2018-04-06 12:14] urso commented on #5419
Checking the code, we have different backoff behavior/config per output.

Elasticsearch/Logstash have `backoff.init` and `backoff.max` settings. Both employ exponential backoff, with `init` (default=1s) being the initial waiting time and max (default=60s) being the max waiting time.

The kafka backoff setting is available regarding the meta-data update only. Setting is `output.kafka.metadata.retry

[2018-04-06 12:49] urso commented on #3241
Closing for now. Fileabeat 1.3 is EOL since end of February. Feel free to reopen issue if behaviour can be reproduced with 5.x or 6.x release.

[2018-04-06 12:49] #3241 closed

[2018-04-06 12:52] urso opened #6791 "Beats common backoff behavior"
The different outputs have different backoff settings and behaviour on error and when to backoff. The redis output does not even support exponential backoff.

Update all outputs, in order to have similar backoff behaviour.

[2018-04-06 12:53] urso commented on #5419
I created issue: #6791

For now let's add only Elasticsearch and Logstash to the reference configs only.

[2018-04-06 13:13] urso commented on #3165
I'm not really familiar with BFE. But from reading the issue, I'm not even sure it's BFE or just firewall or the interaction of a many tools involved. It's good to keep these kind of potential issues in mind when doing support, but not sure we want to have it officially documented, if we don't really yet understand what's really going on (on OS and network layer). Even NAT or any kind of TCP proxy

[2018-04-06 13:28] urso commented on #3165
This issue has seen no progress for quite some time. Plus, we don't really have an understanding of the actual cause. I'm closing the issue for now. Feel free to re-open when we have new evidence, or if it becomes clear what exactly to document.

[2018-04-06 13:28] #3165 closed

[2018-04-06 13:32] urso commented on #2052
Let's keep it open. I checked the current docs. While we show how to create a module/beat, there is no documentation helping users in testing their creations.

[2018-04-06 13:47] urso opened #6792 "Fix corrupt registry occurring on power failure"
This PR fixes a problem with the winlogbeat registry on windows: https://github.com/elastic/beats/pull/2434

Both winglogbeat and filebeat write registry files, by first creating a new file and then replacing the old file using move(Rename).

In winlogbeat it is solved by enabling direct write through when writing the registry file (O_DIRECT + O_SYNC?).

The main issue is, a `Close` operation on a

[2018-04-06 14:25] #2815 closed

[2018-04-06 16:25] npenna22 commented on #152
Hello,

First of all I would like to thank you for the information you sent me and I wish to apologize for the time taken to answer you. I cannot spend a lot of time on this task right now but if it’s working it could be the case in the future.

Now, as I’m on an Ubuntu 16.04 linux amd64 server, I’m trying to deploy your compiled binary file. I have downloaded the binary and put it in /usr/share/p

[2018-04-06 16:55] dedemorton commented on #6200
We need to make sure we add Linux commands. I've had this issue on hold for awhile pending the addition of a widget described in elastic/docs#260.

[2018-04-06 16:59] #6524 closed

[2018-04-06 18:43] #5946 closed

[2018-04-06 18:59] ruflin commented on #5210
A first example of multiple version testing: https://github.com/elastic/beats/pull/6793 Probably not the most scalable approach yet but it gets the job done.

[2018-04-06 19:12] urso commented on #152
@npenna22 @tj8000rpm Let's keep this ticket on discussing SIP protocol implementation in packetbeat itself. On discuss we have a [beats developers forum](https://discuss.elastic.co/c/beats/libbeat). Maybe more people might be interested in joining the conversation or can help with compile instructions. For testing simple transactions, you can drive packetbeat via pcap files ;)

[2018-04-06 20:09] omarix opened #6796 "Auditbeat // Windows // File Integrity // recursive: true doesn't work"
Hi,
Could you help me to solve an issue I faced when turning recursive mode to true, the auditbeat does not report any event.

Version: auditbeat 6.2.3
OS: win10 32bit

Here the config:
[code]
Thanks in advance

[2018-04-06 20:16] jeremydonahue opened #6797 "[Filebeat] Memory leak associated with failure to setup harvesters"
Filebeat has a memory leak which is exposed by repeated failure to setup harvesters (eg. `permission denied`). This ticket is a result of the [original discussion](https://discuss.elastic.co/t/filebeat-memory-leak-associated-with-failure-to-open-harvesters/123100/8) on the community support site.

From what I can tell, this comes down to [channel.SubOutlet](https://github.com/elastic/beats/blob/6.

[2018-04-07 19:41] Detzler opened #6798 "Filebeat - nginx module - grok fail"
If some fcgi application like php throws errors to nginx then they look like this in the nginx error log:

[code]

The grok pattern in the filebeat nginx module can not parse this format.
The field `error.message` contains:

`Provided Grok expressions do not match field value: `...

- Version: filebeat version 6.2.3 (amd64), libbeat 6.2.3
- Operating System: Debian 8.10

[2018-04-08 03:49] wenma commented on #6760
@andrewkroh   awesome, I'll try it, thanks

[2018-04-08 04:34] kholia opened #6799 "[Auditbeat] Add support for reporting Docker events"
The `docker events` utility can report the various Docker events that are happening.

In CLI terminal 1,

[code]

In CLI terminal 2,
[code]

Reporting such Docker events to Elasticsearch via Auditbeat should help  in detecting attacks (powered by CSRF, SSRF security flaws) and other intrusions against the Docker daemon (socket).

I learnt about this idea from @jeredding.

[2018-04-08 19:42] andrewkroh commented on #5213
On a related note, when a seccomp policy is violated an event is sent by Auditbeat. I put a sample into this [gist](https://gist.github.com/andrewkroh/7a37e2c15a54bf0954b9b62fbe100736).

[2018-04-09 05:44] ruflin commented on #6799
@exekias I wonder if these are the same events we read internally for the autodiscovery? If yes this might better fit into Metricbeat as the k8s we also collect there.

[2018-04-09 05:47] ruflin commented on #6798
The current implementation of the nginx error fileset does not expect a multiline event. To support this we need a multiline definition on the prospector config side and adjust the grok pattern.

@Detzler Can you share your nginx config. Do you use an specific params for logging?

[2018-04-09 08:35] exekias commented on #6799
They are, we have a similar metricset in kubernetes (`event`), it reports all kubernetes events. It sounds to me that mimicking that one in the `docker` module would be a good idea.

[2018-04-09 09:36] npenna22 commented on #152
Hi,

After few updates on my side, the very first tests seems to be positive. I manage to capture SIP trafic with your packetbeat binary. SDP part is also parsed. I'll continue my test later but it's encouraging. Thanks a lot tj8000rpm

Best regards

[2018-04-09 10:32] adriansr opened #6800 "Filebeat's log harvester panics on configuration error"
When a configuration error is found in the log harvester, it panics instead of printing an error message.

For example, adding the following configuration:
[code]

results in:

[code]

instead of:

[code]

[2018-04-09 11:33] #6800 closed

[2018-04-09 15:00] ph commented on #5862
Notes: we also need to tests the parser with multiline content, like what Darwin is doing..

[code]

[2018-04-09 16:09] kvch opened #6808 "Move pipeline loading to `filebeat setup`"
### Have
* Ingest pipelines are loaded right before messages are sent to ES.
* Pipelines are never updated by default.
* A yet unreleased flag `--update-pipelines` forces Filebeat to update pipelines

### Wanted
* Have `setup` command load the pipelines.
* Pipelines are updated every time `setup` is called.
* When calling run, pipelines are loaded before messages are sent.
* Make `--update-pipelin

[2018-04-09 16:56] ph commented on #6361
TCP and UDP changes are now in, only thing missing if the filewatcher refactor.

[2018-04-09 17:00] ph commented on #6313
Yes, problems still exist today with current master, taking a look.

[2018-04-09 17:44] urso opened #6810 "Filebeat/Winlogbeat registry file"
Filebeat and Winlogbeat each use a very incompatible registry file format. A common file format should be provided by libbeat for use by filebeat, winlogbeat and potentially community beats.

Some problems we're facing with both registry file formats:
- Full snapshot + sync on every single update. Large registries, with only a small set of event sources being updated generate quite some encoding o

[2018-04-09 18:04] ph commented on #6313
Looking at the code, we are stuck in a defer `waitEvents.Wait()` at [line](https://github.com/elastic/beats/blob/master/filebeat/beater/filebeat.go#L307) and we never break out of it.

[2018-04-09 19:59] ph commented on #6313
The problem is simple, solution takes a bit more times, I will just do a small brain dump.
Situation:

Stdin sources doesn't have a state so `HasState()` returns false. Also in the case of stdin the harvester callback is not correctly configured to send state event back.

So in that case Filebeat waits on events that will never be written to disk, because we don't write states in the registry when

[2018-04-09 21:27] naisanza commented on #6582
@ph I'll have to add that I'm running Ubuntu Server 16.04, not sure what packages would differ between desktop and server versions (ie. silent dependencies that aren't installed, but aren't caught, which is causing this discrepancy). But I'll gather the items you asked for

[2018-04-09 21:57] naisanza commented on #6582
@ph I'm looking at all the recent ones, in the past few days, and it looks like it's not doing it anymore.

But here's my filebeat.yml:

[code]

[2018-04-09 23:09] dedemorton opened #6813 "Restructuring: Clean up conditional coding in doc files"
We need to:

- [x] Clean up existing conditional coding. For example, in some places, we use asciidoc attributes to render text conditionally. I haven't been very good at unsetting attributes after they are no longer needed within a book. To unset the attribute, we need to use: `:attribute_name!:` Once an attribute is defined within a book, it stays in scope until it's undefined. So some of the at

[2018-04-10 09:05] jsoriano opened #6815 "Support docker diskio stats in Windows"
Docker stats use a [different data structure](https://github.com/moby/moby/blob/cbde00b44273a584bed2ee3513db68924b4a6dba/api/types/stats.go#L152) for blkio stats in Windows, the main difference is that in posix systems (Linux at least) stats are separated by device by Major/Minor (lists of `BlkioStatsEntry`), and in Windows they are directly summarized by reads and writes, by operations and volume

[2018-04-10 10:02] kholia opened #6816 "Add auditbeat package to Elastic's Debian repository"
It seems that Auditbeat is not currently available from Elastic's Debian repository (http://packages.elastic.co/beats/apt).

It would be awesome if Auditbeat could be installed from Elastic's Debian repository.

Thanks!

[2018-04-10 11:37] paltryeffort opened #6817 "filebeat runs out of file descriptors"
filebeat 6.2.3 on linux is reading from about 20 files and sending data to 4 logstash servers using loadbalance and the beats protocol over TLS.

Sometimes the logstash servers get back pressure from elasticsearch and the queue fills up. Logstash would then disconnect the beats connections. Filebeat would then retry all logstash servers until it's able to ship messages again.
If that happens for a

[2018-04-10 12:39] kholia commented on #6789
CC @blaklaybul.

[2018-04-10 12:42] urso opened #6818 "Reevaluate Elasticsearch default bulk_max_size"
The default `bulk_max_size` for the Elasticsearch output is 50 events only. The value has been chosen (for beats 1.0.0) to be very conservative, to accomodate very small Elasticsearch 2.x clusters/nodes.

Let's check if the default value can be increased for Elasticsearch 6.x:
- Good value for small one node cluster?
- Good value for default elastic cloud cluster?

[2018-04-10 12:58] pmoust commented on #6789
This would be very handy to have, but would need to be marked in docs as "best-effort" and the caveats of it being explicitly declared.

Due to that information (`comm` of `ppid`) not being available in an atomic way in Linux audit framework, augmenting a log event with this information would be potentially affected by race conditions (TOCTOU).

[2018-04-10 13:24] ph commented on #6818
I think we could also use a  `max_bytes_size` instead of `bulk_max_size`, we could use the same logic to split events for the logstash or the ES output at the pipeline level.

[2018-04-10 13:31] ph commented on #6582
@naisanza Thanks, and what is the content of the `system.yml` in the `module.d` directory?

Let's keep this issue open, I haven't seen any other report like this and without a log to reproduce it it will be harder to debug. My feeling is some weird line is before the line you are referencing that may trigger the multiline conditions and create a non-parseable event.

[2018-04-10 13:33] ph commented on #6313
After doing a quick spike, I think the best solution to fix this problem with the current  code base is to do the following:

- Create a custom harvester for STDIN which doesn't rely on the registry
- Extract reusable code from the log haverster to be reused outside.

This will take a bit more time to do but I believe this is the best solution.

[2018-04-10 14:02] andrewkroh commented on #6816
The instructions for installing Beats from an APT repo can be found at https://www.elastic.co/guide/en/beats/auditbeat/current/setup-repositories.html. The full Elastic stack is contained in that repository.

The repo you gave is not what's listed in the current instructions.

[2018-04-10 14:02] #6816 closed

[2018-04-10 14:48] kholia commented on #6816
Thanks @andrewkroh!

I found that URL in the https://github.com/elastic/ansible-beats/blob/master/tasks/beats-debian.yml file.

I will make sure that I follow the latest documentation :-)

[2018-04-10 15:06] andrewkroh commented on #6789
This would be nice to have. Maybe we could have a processor for this.

[code]

It would look up information about a process using the PID fields defined in `match_pids`. It would internally generate a document containing the information about that process:

[code]

Then target_fields would specify how to map that data into the current event. You would use our [format string](https://www.elastic.co

[2018-04-10 17:30] urso commented on #6818
Or both. I think the ES pipeline is indeed in events/documents, not byte usage. If the `bulk_max_size` is too big, single events might get a 429 (in bursts), no matter the event size.

[2018-04-10 17:35] urso commented on #6313
Looks like a fix is finally tied to the inputs separation project/cleanup.

[2018-04-10 19:03] omarix commented on #6796
any help?, please let me know if you need further info

Thanks in advance

[2018-04-10 22:06] ChristopherCorcoran opened #6821 "MongoDB Metricbeat Module Can't Find Reachable SSL Servers"
Using metricbeat-5.6.8, I am unable to connect to local mongo instance, using the mongo metricbeat module. The error I get is:

`ERR Error establishing direct connection to mongo node at [localhost]. Error output: no reachable servers.`

According to a developer in this issue:

https://discuss.elastic.co/t/ssl-options-for-metricbeat-when-connecting-to-mongo/84497

It's because SSL is not currently

[2018-04-10 22:45] jsoriano commented on #6821
Thanks for reporting this, I'm closing it as there is already another issue about supporting TLS in mongodb module (#6619), please reopen if you consider it is a different issue.

[2018-04-10 22:45] #6821 closed

[2018-04-11 05:47] kholia commented on #6789
I am looking forward to write a `- drop_event -> - equals -> process.parent.name: /usr/sbin/cron` rule.

[2018-04-11 06:49] ruflin commented on #6817
You should use the `harvester_limit` config here: https://www.elastic.co/guide/en/beats/filebeat/current/configuration-filebeat-options.html#harvester-limit

I'm closing this issue as we try to keep questions there: https://discuss.elastic.co/ Feel free to open a topic there to continue the discussion.

[2018-04-11 08:50] wenma commented on #6760
@andrewkroh    when I write a plugin, I face this problem:

[code]
the package ```github.com/elastic/beats/xxx/xxx```,  I use the source code of  v6.2.3,  and my filebeat is also version 6.2.3,  what's  wrong with my step ?

[2018-04-11 10:28] loekvangool commented on #5451
Forgot something important, it seems that there is now an nginx dashboard so this can be closed?

[2018-04-11 11:57] ruflin commented on #6796
Hi @omarix As we try to keep all question on discuss, please open a topic here: https://discuss.elastic.co/c/beats/auditbeat We are happy to help there but also provide enough time to get help.

[2018-04-11 11:57] #6796 closed

[2018-04-11 11:58] ruflin commented on #6796
@omarix To make things easier also add on discuss the debug log output which should make helping easier.

[2018-04-11 12:52] synhershko commented on #4944
Would also love to hear any insight on this. FWIW, the documentation suggests an aggregation occurs also across categories (which is the desired behavior in almost every case I've seen): https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-metricset-windows-perfmon.html

[2018-04-11 13:15] andrewkroh commented on #6760
Can you try copying your processor into your checkout of beats, then build from there. This will allow your code to use the vendored dep instead of a different one and hopefully resolve the issue.

[code]

[2018-04-11 13:55] ph opened #6827 "Keystore more friendly to config reloading."
The current Keystore values are static and only loaded at startup time. In the context of modules and config reloading it would make sense to allow the Keystore to be updated at runtime and changes get automatically pick up on the next get.

The changes in the codes for the Keystore is trivial since every access is behind a mutex, with the current code base I am not worried about having two differ

[2018-04-11 13:57] ph commented on #6827
as discussed with @ruflin

[2018-04-11 17:57] #6808 closed

[2018-04-11 18:48] ruflin commented on #5451
@monicasarbu I'm thinking to close this meta issue as this issue had not really lead to the community contributions, we are now tracking in the docs automatically which modules have dashboards and in general adding dashboards is part of making the modules GA.

For the details on the naming we should add it to the dev guide.

[2018-04-11 18:50] andrewkroh commented on #6584
Related #4944.

[2018-04-11 18:54] ruflin commented on #4944
@synhershko Have a look at https://github.com/elastic/beats/issues/6584

[2018-04-11 18:55] andrewkroh commented on #4944
And the documentation that you linked to has been changed on master. https://www.elastic.co/guide/en/beats/metricbeat/master/metricbeat-metricset-windows-perfmon.html

[2018-04-11 21:29] dilchenko opened #6830 "Improve multi-line documentation"
Currently, mutliline message management documentation starts with a simple example and a vague description of options affecting the behavior: https://www.elastic.co/guide/en/beats/filebeat/6.2/multiline-examples.html This is followed by examples documentation: https://www.elastic.co/guide/en/beats/filebeat/6.2/multiline-examples.html

Suggestion:
* get the examples in front of the user before expl

[2018-04-12 07:33] ruflin commented on #5981
Closing as https://github.com/elastic/beats/pull/6539 got merged.

[2018-04-12 07:33] #5981 closed

[2018-04-12 07:36] ruflin commented on #3952
I reorganised the GA checklist to get this quicker to GA. We now only have a few items left for GA. Some of the optional changes could be breaking but we can tackle these for 7.0

[2018-04-12 07:45] ruflin commented on #3537
Here is the Filebeat issue for it: https://github.com/elastic/beats/issues/6792

[2018-04-12 07:58] Detzler commented on #6798
hey @ruflin, it's a default nginx setup with `log_format combined`, nothing special.

Here is another one where grok fails:

`127.0.0.1 - - [12/Apr/2018:09:48:40 +0200] "" 400 0 "-" "-"`

[2018-04-12 08:00] andrewkroh commented on #5213
I have opened a PR #6832 to add this feature.

[2018-04-12 09:58] kevin0211 commented on #637
+1

[2018-04-12 10:29] omairkhalid20 commented on #5396
Hi, @ruflin  @andrewkroh  and @hypp  , so has this feature been developed or has been parked for now.

[2018-04-12 10:39] omarix commented on #6796
ok, thank you for your feedback

[2018-04-12 12:08] urso commented on #6737
Right, it's a limitation in the stdlib. Glob is not only used for walking a path, but also validating/checking a path in-memory only. That is, we will also need to track if we want glob to be case-sensitive or case-insensitive.

Is windows always case-insensitive, or is it a 'depends' on FS. E.g. with network shares NFS/Samba and a case-sensitive FS on the remote, what happens on the windows side?

[2018-04-12 15:16] arenard commented on #637
Any updates on this ?

[2018-04-13 00:17] dedemorton commented on #5325
Might be good to streamline the getting started experience and pull the conceptual info that's currently embedded into the GS into an overview. The current guide embeds a lot of conceptual content that makes the getting started experience seem harder than it actually is.

[2018-04-13 01:38] #6649 closed

[2018-04-13 02:52] Fanduzi commented on #6665
same problem
![image](https://user-images.githubusercontent.com/24428128/38714390-88e43fe0-3f08-11e8-874f-e9b5f7f045e9.png)
percona

Suggest mysql-module compatible official, percona and mariadb versions

[2018-04-13 05:52] philippkahr opened #6850 "[packetbeat] postgresql module failing at catching all queries"
Hallo,

I already opened up a ticket on the elastic forum, sadly no one answered me there. I am currently using packetbeat 6.2.3 and I have this bug that it won't catch all queries send to the pqsql server.

Basically, my pqsql server writes about 250.000 lines per second into a log file. The packetbeat module with pqsql is only able to catch a few 100 lines per second. The pqsql server is running

[2018-04-13 09:09] kvch commented on #6798
I see the problem now. I am going to open a PR with the fix in a few hours.

[2018-04-13 09:37] kvch opened #6856 "Fix file permissions of generated files by module and fileset generator"
Right now thanks to permission problems snapshot builds fail every time a generated module is merged to upstream.

The current permission is 755. This has to be set to 644.

[2018-04-13 12:03] npenna22 commented on #152
Hi,

I try to compile your package to take into account your recent update about Compact form but I encountered the following issue :

#[prompt]~/go/src/github.com/elastic/beats$ make
make[1]: Entering directory '/home/valid/go/src/github.com/elastic/beats/libbeat'
New python executable in /home/valid/go/src/github.com/elastic/beats/libbeat/build/python-env/bin/python
Installing setuptools, pip, w

[2018-04-13 12:27] urso opened #6859 "Spooling to disk GA"
Add spooling to disk to beats. Spooling all events to disk is useful for beats if the output is blocked or not fast enough to deal with bursts of events. With spooling to disk available, metricbeat modules will not be blocked and filebeat has a way of copying events from very fast rotating log files.

Requirements:
- Consistency and ability to recover on failures/crash
- Limit/Configurable queue s

[2018-04-13 13:57] ruflin commented on #5396
@omairkhalid20 We recently added the `add_host_metadata` processor but by now it does not contain yet the mac address. But this is probably a good time to restart the discussion.

@hypp @omairkhalid20 Interested in opening a PR against the add_host_metadata processor? That would probably fast track the discussion.

[2018-04-13 14:32] #6797 closed

[2018-04-13 14:43] Constantin07 commented on #918
I'm running docker containers on hosts which have already configured `docker` to sent the logs via `journald`. But getting individual container log messages from `journald` is a pain as there is no way to distinguish the messages belonging to each container.

 Having a way to get the output like with `docker logs <container>`  via API would be really great !

[2018-04-13 14:50] npenna22 commented on #152
Great job!

So I try to compil your last update. I take time to setup the compiling environment.

Currently the execution of the "make" command of beats project produce the following traces :
   ...
   Building redis
   ERROR: Compose tried decoding the following data chunk, but failed:
   u'<html><body><h1>It works!</h1></body></html>\n'
   scripts/Makefile:354: recipe for target 'build-image' fa

[2018-04-13 15:27] adriansr opened #6864 "Auditbeat's file_integrity module deadlocks under Windows"
When the file_integrity module is used under Windows to monitor large and/or busy filesystems, it can end up in a deadlock.

When using this configuration:
[code]

Auditbeat will not generate any events whatsoever.

The reason for this is that the Windows implementation of fsnotify uses a single goroutine to forward events to auditbeat and to install watches. Communication with this goroutine is d

[2018-04-13 15:35] adriansr commented on #6864
This caused #6796

[2018-04-13 20:43] jseely opened #6865 "Output with MaxRetries set to -1 stops receiving events after some number of failures"
I'm working on a custom output for Azure Event Hubs (using the `github.com/Azure/azure-event-hubs-go` client).

In my implementation it doesn't use the `transport.Client` struct as the client is able to renegotiate broken network connections on its own. However when I simulate a broken network connection using `tcpkill` it appears that after the pipeline receives too many errors back from my `outp

[2018-04-13 20:53] Kareny commented on #6414
Is there any updates on this bug?

[2018-04-14 09:52] mari0d opened #6866 "Feature request: Push to pubsub topic"
Would it be possible to add support for pushing log lines to a Google Pub/Sub topic?

[2018-04-14 10:33] hypp opened #6867 "Add IP- and MAC-addresses to add_host_metadata"
This is a PR as requested [here](https://github.com/elastic/beats/issues/5396#issuecomment-381143725).

I would like to dynamically add all IP-addresses and all MAC-addresses of the sender host to each event sent by filebeat.

[2018-04-14 10:34] hypp commented on #5396
Done!
https://github.com/elastic/beats/issues/6867

[2018-04-14 13:04] philippkahr commented on #6850
Not a real bug, more of a configuration issue. the default buffer size was to small so it dropped the packets.

[2018-04-14 13:04] #6850 closed

[2018-04-15 08:04] anergiti commented on #6409
hey guys,
Thanks for taking care of this.
do you have an expectation of a solution?
thanks!

[2018-04-16 06:41] ruflin commented on #6867
@hypp I think there was a slight misunderstanding. By PR I meant pull request with the code changes :-) I think for the tracking we are good with the other one. Do you mind if I close this issue here again to not have two?

[2018-04-16 06:44] ruflin commented on #6866
We are currently not planning to add more outputs (see discussion https://github.com/elastic/beats/issues/581). For now you have to put Logstash in the middle.

[2018-04-16 06:49] hypp commented on #6867
Sorry for that, please go ahead and close the duplicate.

Den mån 16 apr. 2018 08:42Nicolas Ruflin <notifications@github.com> skrev:

[2018-04-16 07:27] #6867 closed

[2018-04-16 09:07] ruflin commented on #5965
@wangdisdu Time has come to move forward here. I'm happy to review and accept PR's to extend our coverage of Elasticsearch metrics. Still interested to work on this?

[2018-04-16 11:07] FireBurn commented on #6431
It seems something changed between 1.9 & 1.10, I now have to add the GO bin directory to my PATH, after doing that everything just compiles

[2018-04-16 11:07] #6431 closed

[2018-04-16 11:58] urso commented on #6865
I wouldn't treat this as a bug, as it's most likely some missing signaling. Without seeing the code I can't really tell what the issue is. You have to call `(publisher.Batch).Retry` to signal the publisher pipeline the batch needs to be retried. Once the batch has been published you have to call `(publisher.Batch).ACK`. These signals tell the queue to free space or adjust the batch TTL counter. Do

[2018-04-16 13:32] ph commented on #5862
I will close this and create a new meta, I think it will be clearer.

[2018-04-16 13:32] #5862 closed

[2018-04-16 13:41] ph opened #6871 "Meta: Filebeat to consume syslog event"
Required steps for Syslog event parsing.

- [x] Extract of TCP elastic/beats#6700
- [x]  Extract of UDP elastic/beats#6439
- [x] Syslog Parser RFC3164 elastic/beats#6842 _(in review)_
- [x] Support TLS elastic/beats#6873
- [ ] Syslog Parser RFC5424 elastic/beats#6872
- [x] Support timezone parsing and add a settings for the timezone. elastic/beats#7057

[2018-04-16 13:45] ph opened #6872 "Syslog input to support RFC5424"
The current implementation of the parser only support [RFC3164](https://tools.ietf.org/html/rfc3164), some newer system uses [RFC5424](https://tools.ietf.org/html/rfc5424). It's just a matter of adding new state machines to the Ragel parser and add new tests for it.

We have to investigate if we can detect it on the fly OR we make it a user configurable settings.

Lets make sure we add integration

[2018-04-16 13:47] ph commented on #5862
Meta issue moved to #6871

[2018-04-16 13:53] ph opened #6873 "Allow the TCP inputs to support TLS"
The current implementation of the TCP input only supports plain text connection; we should add support For TLS. I think we might be able to reuse some of the helpers method in the shared TLS config options used by the outputs. This work is linked to https://github.com/elastic/beats/issues/6079

[2018-04-16 14:18] KrasnovNikita commented on #5965
Yes, shore. Please, extend Elasticsearch metrics.

[2018-04-16 14:55] #6798 closed

[2018-04-16 15:42] jsoriano commented on #3384
After #6819, each filesystem should appear only once even if it is mounted multiple times, if it is, only the shorter mount path is reported. Bind mounts won't be reported as it is assumed that the source/parent filesystem is also mounted and reported on its own.

Also, file systems of "virtual" filesystem types won't be reported by default (these types are autodiscovered when possible and added t

[2018-04-16 15:42] #3384 closed

[2018-04-16 15:46] abraxxa commented on #3384
Sounds great, thanks! In which version will this be included?

[2018-04-16 15:49] #6516 closed

[2018-04-16 15:49] andrewkroh commented on #6516
Fixed by #6591.

[2018-04-16 16:45] xadcoh opened #6875 "RabbitMQ module path_prefix"
Hello.

This issue based on https://discuss.elastic.co/t/rabbitmq-module-path-prefix/127292

When RabbitMQ configured with option:
`management.path_prefix = /<prefix>`
Metrics can't be collected with:
`metricset: ["node", "queue"]
hosts: ["<ip>:15672"]`
Error is:
`HTTP error 406 in node: 406 Not Acceptable`
This is expected behavior because there is no option for prefix in module config. Metricbea

[2018-04-16 16:50] xadcoh opened #6876 "RabbitMQ module queue metricset logs error"
Hello.

This issue based on https://discuss.elastic.co/t/rabbitmq-module-path-prefix/127292/9

When RabbitMQ configured with option:
`management.path_prefix = /<prefix>`
And metricbeat rabbitmq module configured with:
[code]
Error occured in metricbeat logs:
[code]

For confirmed bugs, please report:
- Version:
  metricbeat: 6.2.3
  kibana: 6.2.2
  elasticsearch: 6.2.2
- Operating System:
  centos

[2018-04-16 17:10] hypp commented on #5396
@ruflin I can open a PR for this. Just so I understand correctly: I fork the beats repo, create a new topic branch, make my code changes, and then submit a pull request?

[2018-04-16 17:26] jseely commented on #6865
Thanks @urso. I've opened this https://discuss.elastic.co/t/custom-output-stops-receiving-batches-after-errors/128235 topic and added my `Publish(...)` code if you have a chance to take a look.

[2018-04-16 17:44] urso commented on #6865
Will have a look. Closing this one. Thank you!

[2018-04-16 17:44] #6865 closed

[2018-04-16 19:32] urso commented on #6616
It's not that simple. Events are build in multiple steps. It could be a step in the past did a deep-update using a global shared map. That global shared map is now updated again using DeepUpdate. Could be anywhere. Unfortunately beats events don't have any copy-on-write semantics. (That's the reason we always Clone shared maps in the publisher pipelines processors).

[2018-04-17 07:13] ruflin commented on #3384
@abraxxa 6.3

[2018-04-17 07:24] ruflin commented on #6876
Thanks for filing. I assume the path should here have no effect. If rabbitmq is configured without a prefix path you see the same errors?

Could you also share the exact rabbitmq version + rabbitmq config if possible?

[2018-04-17 07:26] ruflin commented on #5396
@hypp exactly. On the PR we can then directly discuss if we should have config options for it etc. Feel free to open a PR early.

[2018-04-17 07:46] hypp commented on #5396
Ok, should be done now. I have never contributed before, so I hope that I got it right?

[2018-04-17 08:08] ruflin opened #6879 "Filebeat panics on test_no_missing_events load test shutdown"
Today on Jenkins the `test_load/Test/test_no_missing_events` failed which I haven't seen failing in a long time: https://beats-ci.elastic.co/job/elastic+beats+pull-request+multijob-linux/4037/beat=filebeat,label=ubuntu/testReport/junit/test_load/Test/test_no_missing_events/

Filebeat panics on shutdown with the following message:

[code]

https://beats-ci.elastic.co/job/elastic+beats+pull-request+

[2018-04-17 09:56] liuhuang9492 opened #6882 "mysql5.7.19 slow log format had change"
For confirmed bugs, please report:
- Version: filebeat 6.2.3
- Operating System:  CentOS 6.9
 the MySQL 5.7.19 the slow log format
[code]
BTW the mysql modules pipeline.json is
[code]
so I have change the pattern:
[code]
but I find some not correct info, in the kibana the mysql.slowlog.query like this:
[code]

but it not all mysql.slowlog.query have "# Time: 2018-04-17T17:30:01.845052+08:00 "
so w

[2018-04-17 10:35] xadcoh commented on #6876
If rabbitmq configured without `management.path_prefix = /<prefix>` there still same errors in log.

rabbitmq 3.7.4, Erlang 20.1.7

rabbitmq.conf:

[code]
[code]

in definitions.json users, queues, exchanes and bindings are described

[2018-04-17 11:15] ruflin commented on #6882
@liuhuang9492 If I understand your request correctly, our mysql pipeline does not match the log file you have in your mysql slow logs. Now you change the pipeline but you get a wrong result?

Can you share what are the exact parts which didn't work and how you tried to fix it. Reverse engineering grok patterns is pretty hard :-)

[2018-04-17 11:28] ruflin commented on #5396
@hypp Looks great, left some comments on the PR. Let's continue the discussion there.

[2018-04-17 15:46] roncohen opened #6885 "More flexibility in selector logging level"
Today you cannot configure a general logging level, but override certain selectors to log at another level. For example, we'd like to generally log at `WARN`, but also log `[monitoring]` at the `INFO` level.

I discussed with @andrewkroh and he had the idea to add something like `logging.info.selectors: monitoring`. This would mean, regardless of the general logging level, set the level for the `m

[2018-04-17 20:18] digitalmedia34 opened #6890 "Filebeats missing IIS module"
Maybe I am missing something, but I downloaded filebeat-6.2.4-windows-x86_64.zip but its missing IIS module??

[2018-04-18 00:48] andrewkroh commented on #6890
IIS is a new feature so it will be included in the next minor release. We don’t usually add new features to patch releases, just bug and security fixes. We use semantic versioning https://semver.org.

In the meantime you can try a snapshot build: https://beats-package-snapshots.s3.amazonaws.com/index.html?prefix=filebeat/

[2018-04-18 00:48] #6890 closed

[2018-04-18 07:26] ruflin commented on #6885
I really like the idea. The advantage `logging.info.selectors` is that we could add it as a non breaking change.

One idea I'm playing around with is that the logging level can be changed through the API / central config without having to restart the Beat. This should make debugging issues easier. The above enhancement will allow the changes to be even more granular.

[2018-04-18 09:06] iahmad-khan commented on #637
+1 for gz files as input

[2018-04-18 09:51] liuhuang9492 commented on #6882
@ruflin  hi，
    I am sorry that I had a error test. I had the test in localhost mysql and execute the slow sql in localhost. and I find the slow log format is not the same when I excuted the same slow SQL but in localhost and remote server. the slow log format is
[code]
[code]
you can find execute sql in the localhost the slow log show ```# User@Host: root[root] @ localhost []  Id: 165675344``` a

[2018-04-18 11:27] andyliddle opened #6894 "Docker: No cpu, diskio, memory, network data for Windows Containers"
Hi,  I'm looking to monitor my windows containers using Metricbeat.

I don't seem to be getting CPU, memory stats etc.

- Version: 6.2.3
- Operating System: Windows 2016

- Steps to Reproduce:
-- Install Docker
-- Install Metricbeat
-- Configure metricbeat docker module

docker.yml
- module: docker
  metricsets: ["container", "cpu", "diskio", "healthcheck", "info", "memory", "network"]
  hosts: ["

[2018-04-18 11:39] kvch commented on #6894
For questions and help with configuration, please post it to Discuss along with the debug logs of Metricbeat. Discuss forum of Beats can be found here: https://discuss.elastic.co/c/beats

Github issues are reserved for keeping track of bugs. Thanks for your understanding.

[2018-04-18 12:45] andyliddle commented on #6894
its not a question of help,  it doesn't work.

[2018-04-18 13:07] andrewkroh commented on #6797
Fixed in #6829 (for master).

[2018-04-18 14:41] ruflin commented on #6876
Closing as https://github.com/elastic/beats/pull/6887 was merged.

[2018-04-18 14:41] #6876 closed

[2018-04-18 15:16] ruflin commented on #4230
There has been an initial approach to fix this in https://github.com/elastic/beats/pull/4280 but it didn't make it into 6.0 so we can't remove the fields at the moment. We should discuss again on how we move forward here.

[2018-04-18 18:32] digitalmedia34 commented on #6890
Thanks for you fast reply. I downloaded snapshot and I release its far from being a major release but I am seeing this error that maybe its a known issue:
 - Visualize: "field" is a required parameter

[2018-04-18 18:32] dedemorton opened #6896 "Fix setting used to conditionally render content about machine learning jobs"
The has_ml_jobs attribute is set for all Beats, but machine learning jobs only exist in Filebeat. Need to assess where the text flagged as has_ml_jobs appears and determine if the settings in the other beats need to be adjusted. See https://github.com/elastic/beats/pull/6880#discussion_r182029613

[2018-04-18 19:18] dedemorton opened #6897 "Clarify support for basic auth in Jolokia docs"
The documentation currently indicates that authentication against Jolakia is not supported: https://www.elastic.co/guide/en/beats/metricbeat/master/metricbeat-metricset-jolokia-jmx.html#_limitations

However, this sentence is misleading because it's not referring to basic auth. The docs need to be updated to make it clear that basic auth is supported.

Here is a description of the problem from ruf

[2018-04-18 22:37] mari0d commented on #6866
Ah, that is unfortunate - logstash doesn't write to pubsub. Will we need to fork libbeat if we add in pubsub support?

[2018-04-19 11:57] #6785 closed

[2018-04-19 12:36] urso commented on #6866
There is no need to fork beats or libbeat for adding an output. Internally outputs/processors/... are plugins. One has two options for adding an output without forking:

1. use go plugins support. go is somewhat 'restrictive' on plugin loading. Best is to compile beats and the plugin from same workspace. The plugin can be loaded via CLI flags when the beat starts.
See [beats-sample-plugins](https:

[2018-04-19 16:35] jsoriano commented on #4402
@amandahla @rikatz now that #6265 has been merged, should we clouse this issue or do you want to leave this open to track the progress on other possible metric sets for kvm?

[2018-04-19 17:28] philippkahr commented on #149
+1

[2018-04-19 19:14] #6864 closed

[2018-04-19 22:10] dedemorton commented on #5419
I've added the backoff settings for the ES and LS outputs here: https://github.com/elastic/beats/issues/5419.

[2018-04-20 10:59] mvasilenko commented on #6084
Hi @exekias
i'm trying to implement OR logic using multiple `condition` statements in `filebeat.yml`
but it doesn't work.

[code]

Is there a way to achieve this without duplicating single `condition`?

[code]

[2018-04-21 14:22] hawk199 opened #6914 "Filebeat 6.2.2 modules - Error JSON decoding the pipeline file: ingest/default.json"
hi,i am make an module for mys iis log,i use the grok to parse the message,it is wrong when the pattern field contains some regular expressions,but in the grok  debugger it's ok,
the grok config:
 "grok": {
      "field": "message",
      "patterns":[
        "\"%{DATA:iis.access.vhost}\" \"%{IPORHOST:iis.access.remote_ip}\,*\s*.*\" \"-\" %{DATA:iis.access.user_name} %{TIMESTAMP_ISO8601:iis.access

[2018-04-22 06:20] ohanaali opened #6915 "error decoding json: invalid character '\\x00' looking for beginning of value"
i am using file beat to read from high load report that are written to a local location in the disc.
the size of each log-file is up to 100 MB and log rotation is 10.
the writing speed is about 500 rows per second

each row is a valid json (i have tripped checked it with every tool exists)

my problem is i keep on receiving this error for no apparent reason (it is 1 log for every 200,000 rows give

[2018-04-23 08:52] Hunsin commented on #6175
I'm facing the same problem. I'm using Filebeat 6.2.4 on Docker.
These message keeps showing up:
[code]
On the ES(6.2.4 also) side, it logs
[code]
almost every second.

[2018-04-23 09:14] BoyCook commented on #6619
Hi - any idea on if/when this is going to be implemented? This is a blocker for me.

[2018-04-23 13:41] ruflin commented on #6914
@hawk199 Happy to see that you are trying to create a module. Could you post your question on discuss: https://discuss.elastic.co/c/beats/filebeat We try to keep  Github for confirmed bugs.

Please make sure when you post it on discuss, that you try to format the code as otherwise it's very hard to read.

[2018-04-23 13:41] #6914 closed

[2018-04-23 13:54] ruflin commented on #6915
Are you reading from a local disk or a shared file system?

[2018-04-23 15:10] mmethe opened #6922 "Cannot Load Dashboards"
Windows 2008 R2 winlogbeat 6.2.4 installed.

winlogbeat.yml:
[code]
ELK 6.2.4 on centos 7. Kibana behind nginx.  nginx listens on 80 and forwards to 5601.  This works fine, except for below issue.

Issue:
When I run 'winlogbeat.exe setup --dashboards' I get:
[code]

[2018-04-23 19:38] simianhacker opened #6924 "Beats Dashboards interval in TSVB should be updated to >=10s"
The auto interval doesn't work well with beats dashboard the the default frequency we use to ship data. We should update the interval on all TSVB visualizations to use `>=10s` or something similar.

See https://github.com/elastic/kibana/issues/17843 for background details and screen shot

[2018-04-23 19:54] ruflin commented on #6175
I think this issue has become a list of different issues / problems with similar outcomes.

@Hunsin In your case it seems a 5.x template is used for 6.x data. Not sure where this template is coming from but best have a look at the output of _template and check where the `template` key is still used.

[2018-04-23 23:15] jordansissel opened #6926 "setup.dashboard.index should respect `elasticsearch.output.index`"
Tested on auditbeat 6.2.4

When setting `elasticsearch.output.index`, the default `setup.dashboard.index` pattern that gets used is still `auditbeat-*`.

Here's the scenario I went through:

When changing the index name:

[code]

Beats setup will tell me:

So I follow the instructions:

[code]

Then run setup again:

[code]

However, when viewing the dashboards, all the dashboards/visuals appear t

[2018-04-24 03:46] utsav2307 opened #6927 "Sending app’s json logs"
If the applications send out json logs in stdout, will filebeat be able to sort that into key value pairs and send to elasticsearch or logstash has to be fit in between for that?

[2018-04-24 07:02] ruflin commented on #6922
We try to keep Github reserved for confirmed bugs. For questions and discussions please use discuss: https://discuss.elastic.co/c/beats/winlogbeat Please open a topic there.

Quick note: It looks like the indentation under `setup.kibana` is off so username/password are probably not read. Happy to continue answering on discuss.

[2018-04-24 11:26] andrzej-majewski commented on #6734
Is there a workaround for this?

I am running 6.2.4 and issue still persist?

[2018-04-24 11:27] andrzej-majewski commented on #6620
Is there a workaround for this?

I am running 6.2.4 and issue still persist.

[2018-04-24 11:38] ohanaali commented on #6915
shared smb network drive, mounted to my ubuntu server

[2018-04-24 13:00] kvch commented on #6922
I requested him to open an issue based on his question on Discuss.
Dashboards cannot be loaded if `setup.dashboards.url` does not include a port number, because then port number defaults to 5601. As a workaround `setup.dashboards.url` could be set to `http://brt1-elk02:80, but it's not so clean.

[2018-04-24 13:13] jsoriano commented on #6734
The fix will be included in 6.3 and backported for 6.2.5 (#6931).

As a workaround, if you don't have any security concern, you can run metricbeat container without process table isolation with `--pid=host`.

This can be closed by now, please reopen if it is still an issue in future releases.

[2018-04-24 13:59] kholia opened #6932 "[Metricbeat] Metricbeat invokes ptrace leading to AppArmor complaints"
I am running Metricbeat 5.6.8 insider a Docker container on Ubuntu 16.04.3 LTS. AppArmor's `docker-default` profile is in effect for this container.

While running `dmesg` on the host system, I see,

[code]

My configuration `metricbeat.yml` file,

[code]

Disabling the `process` metricset gets rid of these AppArmor complaints.

How to reproduce:

- I am running Ubuntu `4.4.0-108-generic` kernel h

[2018-04-24 14:13] beirtipol commented on #5032
Hi @ruflin - Is this treated as an open issue? I'm able to reproduce it very easily when I try to point metricbeat at logstash instead of direct to elasticsearch

- Ubuntu 16.04 vm
- ELK stack 6.2.4
- Setup elasticsearch, kibana, logstash, metricbeats from zips
- No configuration changes
- Create simple pipeline for logstash as per wiki (below)
- Start elasticsearch, kibana, logstash
- Run 'metric

[2018-04-24 15:03] ctindel commented on #5032
@beirtipol the fix was already merged for the 6.3 branch

[2018-04-24 16:12] beirtipol commented on #5032
@ctindel thanks. Any ETA on when 6.3 might be released? (I'm hunting around the elastic.co site but can't see any indications)

[2018-04-24 19:43] andrewkroh commented on #6932
I have not witnessed any `ptrace` calls made by Metricbeat. I tried a few things to recreate it.

1. Used your configuration inside of a container. `docker run --user root --rm -it --security-opt apparmor=docker-default docker.elastic.co/beats/metricbeat:5.6.8`. I didn't see apparmor messages in dmesg.

1. Run Metricbeat 5.6.8-exec (downloaded from [here](https://s3-us-west-2.amazonaws.com/beats-p

[2018-04-24 20:25] tsg opened #6935 "Changing the kibana index pattern doesn't work for TSVB visualisations"
As discovered by @jordansissel, the `setup.dashboards.index` option, which can be used to adjust the index pattern in the dashboards that we create, doesn't apply to TSVB visualisations.

We have code to replace the index pattern in searches, but I don't see anything specific to TSVB.

To reproduce:

* auditbeat.yml:

[code]

* Run: `auditbeat setup -c /tmp/auditbeat.yml -e`

* Check the Panel Opt

[2018-04-24 20:27] tsg commented on #6935
@monicasarbu @simianhacker Do you know if this used to work?

[2018-04-24 23:23] krasekhi opened #6940 "Enhancement Request - Add ability to aggregate data at the beat level"
It would be great if there was an ability to aggregate the data at the agent level (possibly in the processors?) before sending it logstash saving unnecessary data being sent across the network.

* Ability to aggregate data into a new event while still send all events used in the aggregation
* Ability to aggregate data into a new event and drop all events used in the aggregation

[2018-04-25 03:08] Hunsin commented on #6175
@ruflin what field should I check with `GET _template` API? There are 5k lines.
[code]

[2018-04-25 06:50] kholia commented on #6932
I looked further into this and I can now reproduce it on a local vanilla Ubuntu VM when running `metricbeat` inside a Docker container with AppArmor's `docker-default` profile applied.

Here is the exact command to reproduce the mentioned behaviour.

[code]

Here is the complete configuration file,

[code]

I can reproduce this when using `Docker version 17.12.0-ce, build c97c6d6` on Ubuntu 16.04.

[2018-04-25 06:53] kongkongruye commented on #577
+1

[2018-04-25 06:59] mollyii opened #6943 "filebeat 6.2 error"
2018-04-26T14:52:04.978+0800	ERROR	logstash/async.go:235	Failed to publish events caused by: write tcp 192.168.40.132:55375->192.168.40.129:5044: write: connection reset by peer
2018-04-26T14:52:05.994+0800	ERROR	pipeline/output.go:92	Failed to publish events: write tcp 192.168.40.132:55375->192.168.40.129:5044: write: connection reset by peer

Running a period of time after a new log comes out wi

[2018-04-25 07:06] kholia commented on #6932
I see the following messages in metricbeat logs,

[code]

I am not sure if these are relevant for the issue at hand.

[2018-04-25 07:55] twatson83 commented on #6619
:thumbsup:

[2018-04-25 10:26] andrzej-majewski commented on #6734
I am running it in docker swarms,  with following compose :

`
metricbeat:
  image: docker.elastic.co/beats/metricbeat:6.2.4
  user: root
  pid: host
  command: metricbeat -e -system.hostfs=/hostfs
  volumes:
    - /proc:/hostfs/proc:ro
    - /sys/fs/cgroup:/hostfs/sys/fs/cgroup:ro
    - /var/run/docker.sock:/var/run/docker.sock
    - /:/hostfs:ro
  configs:
    - source: conf-metricbeat-6.2.4

[2018-04-25 10:38] nacesprin commented on #3546
Filebeat 6.2.3
Error on` /var/log/filebeat/filebeat`

`Unable to create runner due to error: Can only start a prospector when all related states are finished: {Id: Finished:false Fileinfo:0xc420196b60 Source:/var/log/nginx/access.log Offset:169527 Timestamp:2018-04-25 12:22:05.087086821 +0200 CEST m=+932.461573499 TTL:-1ns Type:log FileStateOS:39185-2048}`

filebeat config:

    - type: log