[2018-09-12 14:30] exekias commented on #8286
How about updating the HTTP helper itself? We recently did some changes to it to support `headers` for instance: https://github.com/elastic/beats/pull/3945

Something that passes these params as part of the request should be possible there, and would fix the issue for all modules relying on the helper.

[2018-09-12 14:56] exekias commented on #8291
Hi @krishan-agrawal-guavus we will need some more info in order to debug this issue. Could you share these?:

- Metricbeat settings you are using
- Metricbeat logs when running it
- The full dump you get when manually fetching the metrics from the C++ exporter

Best regards

[2018-09-12 15:26] paddie commented on #7432
@frittentheke yeah, we'd like that too. I think the maintainers wanted some proof that people actually was using the metrics (in its current state) before committing time to actually pull in changes specific to prometheus.

We hope us doing some work on it will validate that, and also light a little fire under the people blocking it :)

[2018-09-12 16:07] sayden commented on #8286
Ok, I have uploaded a PR that corrects the issue in the `mb/parse` package while I keep digging into a proper way to implement it in the HTTP helper.

The thing is that the helper doesn't have access to the Parser so any implementation within the HTTP helper will generate unpredictable code.

You can take a look here to continue the discussion about the proper place to implement this: https://gith

[2018-09-12 16:37] ITBlogger opened #8293 "Issue with regexes in 6.4.0"
- Version: 6.4.0 (works in 6.3.x)
- Operating System: Kubernetes
- Discuss Forum URL: https://discuss.elastic.co/t/issues-with-regexes-and-kubernetes-hints-based-autodiscovery-with-filebeat-6-4-0
- Steps to Reproduce:
We are using hints based autodiscovery in kubernetes. The pod annotations are typically something like

[code]

The errors we are getting in filebeat 6.4.0 are like below:

[code]

Y

[2018-09-12 16:53] nikolay commented on #7432
External exporters are workarounds. I found exporters as plugins for Kibana and Elasticsearch - if can at least the HTTP endpoint support plugins a la Kibana & Elasticsearch so this can be incorporated to simplify the deployment?

[2018-09-12 18:55] ph opened #8296 "Support Field Reference in the Logstash index option"
The Logstash output allow you to specify an 'index' option, when you set this value it will replace the value of @metadata.beat to the configured value and you can use that for the index. The problem is the field doesn't support field reference to dynamically set the value of the field like the elasticsearch output instead it will be the exact string configured in the output.

[code]
Filebeat conf

[2018-09-12 20:02] ycombinator opened #8299 "cherrypick_pr script errors out when used with --continue"
For example, running the following command:

[code]

Results in the following error:

[code]

However, running the same command without the `--continue` flag succeeds.

[2018-09-12 20:07] tsg commented on #3109
This article contains some tools that we might use as an inspiration on how to address this: https://eclecticlight.co/2018/03/19/macos-unified-log-1-why-what-and-how/

[2018-09-12 20:09] ycombinator commented on #8299
Sorry folks, PEBCAK!

`--continue` is only meant to be used *if there are backport errors*, not pre-emptively, every time like I was trying to.

[2018-09-12 20:09] #8299 closed

[2018-09-13 05:08] krishan-agrawal-guavus commented on #8291
Metric beat settings:
1) Enable prometheus and system stats
2) The output of prometheus.yml:
<- module: prometheus
  #metricsets:
  # - stats
  period: 10s
  hosts: ["localhost:8090"]
  metrics_path: /metrics
  namespace: example1>
The version is 6.4

The logs of metricbeat are attached.
[metricbeat.gz](https://github.com/elastic/beats/files/2377749/metricbeat.gz)
<img width="1436" alt="screen sho

[2018-09-13 08:42] exekias commented on #8291
Thanks for the detailed report. From what I see `collector_stats` is somehow duplicated and that's causing the client library to fail when parsing the metrics with this error:
`text format parsing error in line 19: second HELP line for metric name "collector_stats"`

This error is not currently reported but I think we should change that.

[2018-09-13 08:47] RemiDesgrange opened #8301 "Grok for new haproxy module in filebeat fail"
I have haproxy from debian repo, version 1.5.8. Log conf is:
[code]

Filebeat haproxy module is configured as follow:

[code]
a typical log line (heartbeat from a monitoring tool):
[code]
a real line that fetch real data from a backend server
[code]
This produce a grok error in elasticsearch. Since I'm using "default" logging in haproxy, I found weird that I got error from Grok.

- Version: from m

[2018-09-13 11:40] jsoriano commented on #8301
Hi @RemiDesgrange,

Thanks for reporting this!

It is weird because your format doesn't look like any of the default haproxy log formats according to [its documentation](https://www.haproxy.org/download/1.5/doc/configuration.txt). The "default" one, used when no other log option is set is discouraged and marked as deprecated, but it still looks different to yours.
For http `option httplog` is reco

[2018-09-13 13:11] RemiDesgrange commented on #8301
Ok @jsoriano I already have this option in default:

[code]

Maybe I should make it global. But I don't modify anything in frontend/backend about logs. Is there any other config file beside `/etc/haproxy/haproxy.conf` ?

[2018-09-13 13:12] #8184 closed

[2018-09-13 15:05] jsoriano commented on #8301
Having this option in default should be enough, yes :thinking: We will have to investigate it further.

I don't know of any other config file that could be affecting this.

[2018-09-13 15:55] jsoriano commented on #8301
I have been doing some quick tests in a clean debian jessie with haproxy 1.5.8-3+deb8u2 and logs look like the ones in the documentation.

I have added this config to the haproxy config provided by the package:
[code]

And doing requests with curl to ports 81 and 82 I see logs like:
[code]

The only variable parts are the ones between curly brackets, they are captured headers, I think that current

[2018-09-13 15:58] jsoriano commented on #8301
@RemiDesgrange could you double-check that you don't have any `log-format` directive in your haproxy config?

[2018-09-13 16:04] chrisronline commented on #7942
I have a PR in kibana to address this: https://github.com/elastic/kibana/pull/22998

[2018-09-13 18:03] joyoungzhang commented on #7947
I just tried this out on my mac and was able to reproduce it.
filebeat version is 6.2.4

[2018-09-13 18:23] dedemorton opened #8305 "Create a section about running on containers"
Right now, the Filebeat and Metricbeat documentation include several topics that describe how to install and run on containers. For example:

https://www.elastic.co/guide/en/beats/filebeat/current/running-on-docker.html
https://www.elastic.co/guide/en/beats/filebeat/current/running-on-kubernetes.html
https://www.elastic.co/guide/en/beats/filebeat/current/configuration-autodiscover.html

The Kubern

[2018-09-13 18:28] exekias commented on #8305
:+1: this would allow spawning in several sub topics, as right now we are not explaining some basic things, and rely on blog posts

[2018-09-13 18:36] dedemorton commented on #8305
@exekias Do you have a list of the topics you'd like to see in this section? I'd really like to get the information into the docs where it will get updated regularly when stuff changes. Would be nice to have more conceptual info (in general, our docs are too lean in that area right now).

[2018-09-13 18:53] andrewvc commented on #8282
Yes, confirming what @exekias wrote, #8023 is a blocker for this. It should be merged relatively soon.

[2018-09-13 18:59] vjsamuel opened #8307 "syslog input should allow parsing of custom tags"
Currently we dont have support for parsing custom tags for a template like so:
[code]

It would be great if we are able to extract: `id`, `namespace` and `appname` and add them to the `syslog` `MapStr`

The only alternative today is to use `dissect`

[2018-09-13 19:00] ph commented on #6872
linked to https://github.com/elastic/beats/issues/8307

[2018-09-13 21:01] andrewvc commented on #7725
@ruflin tracing this, I believe this was fixed in https://github.com/elastic/beats/pull/7820 . The line numbers match up to before that commit in `channel/util.go`, and the addition of the mutex around those channel operations should fix this.

Are you good to close given that?

[2018-09-13 23:28] jamesspi commented on #4522
Hey @andrewkroh , sorry I haven't gotten back to you, been on the road.

I'll give this a go and let you know - thanks a mill.

[2018-09-14 00:09] Zenexer commented on #6381
This issu should be documented at https://www.elastic.co/guide/en/beats/filebeat/current/decode-json-fields.html

[2018-09-14 02:43] andrewvc commented on #7725
@adriansr maybe you could just confirm or deny that this can be closed since @ruflin is out for a bit? I'm pretty sure we're good here, but would like another eye on it.

[2018-09-14 08:34] exekias commented on #8305
I would say these should be the path for a user when coming to us on containers:

- Initial deploy and how to get (fb: logs from all containers, mb: common system + docker/kubernetes metrics)
- Custom fetching based on conditions: autodiscover
- Defining config through labels & annotations: Hints based autodiscover

I think @DanRoscigno has been thinking on this too, so his help here could be awes

[2018-09-14 09:02] chenjianbin commented on #7892
I have the same problem,a slow log event will be split into two events.
one is:  # Time: 2018-08-07T16:27:47.169604+08:00
the other is:  # User@Host: root[root] @  [218.76.8.37]  Id:  7234
                      # Query_time: 15.000223  Lock_time: 0.000000 Rows_sent: 1  Rows_examined: 0
                      SET timestamp=1533630467;
                      select sleep(15)

[2018-09-14 09:03] chenjianbin commented on #7892
I am experiencing the same problem in filebeat mysql slowlog module ,a slow log event will be split into two events.
one is: # Time: 2018-08-07T16:27:47.169604+08:00
the other is: # User@Host: root[root] @ [218.76.8.37] Id: 7234
# Query_time: 15.000223 Lock_time: 0.000000 Rows_sent: 1 Rows_examined: 0
SET timestamp=1533630467;
select sleep(15)

[2018-09-14 09:04] chenjianbin commented on #7892
I am experiencing the same problem in filebeat mysql slowlog module ,a slow log event will be split into two events.
one is:
# Time: 2018-08-07T16:27:47.169604+08:00
the other is:
# User@Host: root[root] @ [218.76.8.37] Id: 7234
# Query_time: 15.000223 Lock_time: 0.000000 Rows_sent: 1 Rows_examined: 0
SET timestamp=1533630467;
select sleep(15)

[2018-09-14 09:05] chenjianbin commented on #7892
I am experiencing the same problem in filebeat mysql slowlog module ,a slow log event will be split into two events.
one is:
  # Time: 2018-08-07T16:27:47.169604+08:00
the other is:
  # User@Host: root[root] @ [218.76.8.37] Id: 7234
  # Query_time: 15.000223 Lock_time: 0.000000 Rows_sent: 1 Rows_examined: 0
  SET timestamp=1533630467;
  select sleep(15)

[2018-09-14 09:05] chenjianbin commented on #7892
I am experiencing the same problem in filebeat mysql slowlog module ,a slow log event will be split into two events.
one is:
[code]
the other is:
[code]

[2018-09-14 09:33] RemiDesgrange commented on #8301
Oh god... yes in the frontend part... This is so dumb... I'm sorry. Ok closing.

[2018-09-14 09:33] #8301 closed

[2018-09-14 09:47] jsoriano opened #8311 "Increase support of log formats in haproxy filebeat module"
During the investigation of  #8301 issue we identified some patterns that could be added to the initial module implemented for haproxy (#8014):

- [ ] Add to documentation supported formats
- [ ] Check if http log entries without captured headers can be parsed, if not, make captured headers optional.
- [ ] Support logs generated with `option tcplog`.
[code]
- [ ] Support the default (though also d

[2018-09-14 09:51] jsoriano commented on #8301
@RemiDesgrange good to read that an explanation has been found :slightly_smiling_face:
It has been useful in any case to discuss this, I have collected some action items in #8311 after the investigations for this issue.
Thanks!

[2018-09-14 09:51] adriansr commented on #7725
@andrewvc yes, it can be closed as the race was fixed by #7820

[2018-09-14 12:37] arsinux commented on #6922
This will most probably be resolved by solution in here https://github.com/elastic/beats/issues/6257

[2018-09-14 13:45] DanRoscigno commented on #8305
@dedemorton How is this different than this [issue](https://github.com/elastic/stack-docs/issues/108)?

[2018-09-14 14:28] kvch commented on #6922
Indeed, there is an indentation problem. However, the main issue is unrelated to the indentation.

The problem is if Kibana is ran on default HTTP port, it is correct to write http://my-kibana. But you cannot use this form in Beats, because if the Kibana client does not see a port number in the host, 5601 is added to the URL. See: https://github.com/elastic/beats/blob/master/libbeat/kibana/client.

[2018-09-14 16:54] mikeh-elastic commented on #8253
Additionally for openshift daemonsets be sure to set the kube-system namespace or your own custom namespace to allow for scheduling on any node, the default defaultNodeSelector will skip master nodes:

    # oc patch namespace kube-system -p \
    '{"metadata": {"annotations": {"openshift.io/node-selector": ""}}}'

As per https://docs.okd.io/3.10/dev_guide/daemonsets.html

[2018-09-17 08:12] jamesspi commented on #4522
Hey @andrewkroh , here is the output:

`root@MainFirewall:/home/James/packetbeat-7.0.0-alpha1-SNAPSHOT-linux-mips64# ldd packetbeat
        not a dynamic executable`

`root@MainFirewall:/home/James/packetbeat-7.0.0-alpha1-SNAPSHOT-linux-mips64# uname -a
Linux MainFirewall 3.10.20-UBNT #1 SMP Fri Nov 3 16:28:23 MDT 2017 mips64 GNU/Linux`

[code]

file isn't available on the OS.

Thanks!
James

[2018-09-17 10:25] kvch opened #8323 "Journalbeat"
Journalbeat is going to be introduced, so Elastic stack users can forward journal entries to outputs.

### Features
* Seeking to head, tail or to cursor
* Exact match for fields of journal entries using `include_matches` option
* ...

### Configuration

[code]

### TODO
#### 6.5
- [x] README
- [x] add fields.yml && index template #8277
- [x] ability to add filters to inputs #8324
- [x] simple E2E

[2018-09-17 11:07] arnoldasb commented on #637
+1

[2018-09-17 15:38] andrewkroh commented on #3702
I think this has been addressed by #6591 and is a duplicate of #6516.

[2018-09-17 17:37] andrewkroh commented on #4522
@jamesspi What about the user-space setup? Check the "Architecture" column in `dpkg -l`. You might need [`mips` packages](https://beats-ci.elastic.co/job/elastic+beats+master+multijob-package-linux/15/gcsObjects/) instead of `mips64`.

[2018-09-17 18:56] andrewvc commented on #3952
Updated to only have auto reload as required for GA

[2018-09-17 18:57] andrewvc opened #8331 "Mark Heartbeat 6.5 as GA"
This issue encapsulates the task of finding all references to heartbeat 6.5 being beta and changing those references to GA.

[2018-09-17 19:03] dedemorton opened #8332 "Edit Heartbeat content about automatic reloading"
Content added in https://github.com/elastic/beats/pull/8227 needs a light edit.

[2018-09-17 21:11] andrewkroh commented on #5814
This was fixed in 6.1.0. https://github.com/elastic/beats/issues/5813

[2018-09-17 21:11] #5814 closed

[2018-09-17 21:15] andrewkroh commented on #883
Closing due to age. Packetbeat no longer does geoip enrichment because this can be done by Elasticsearch Ingest Node.

[2018-09-17 21:15] #883 closed

[2018-09-17 21:20] andrewkroh commented on #1672
https://demo.elastic.co is updated fairly often now and is managed outside of the Beats team.

[2018-09-17 21:20] #1672 closed

[2018-09-17 21:33] andrewkroh commented on #2935
I believe the behavior is still them same in the current version.

https://github.com/elastic/beats/blob/v6.4.0/libbeat/outputs/elasticsearch/client.go#L457-L480

[2018-09-17 21:46] andrewkroh commented on #2998
Kibana has got better at handling different sized windows. I think this isn't as big of problem now in the latest version.

[2018-09-17 21:46] #2998 closed

[2018-09-17 21:53] andrewkroh commented on #3008
The redis/info metricset reports the `default` [INFO](https://redis.io/commands/info), but with a simple minor change to request `all` then it could report a bunch more metrics.

https://github.com/elastic/beats/blob/7b0fb0450486b08b3bf1bbcb307f323e17bd1159/metricbeat/module/redis/info/info.go#L78

[2018-09-17 22:02] andrewkroh commented on #3219
This is the behavior in 6.x. The `setup.kibana` credentials default to the `output.elasticsearch` values.

https://www.elastic.co/guide/en/beats/metricbeat/6.4/setup-kibana-endpoint.html#_literal_setup_kibana_username_literal

[2018-09-17 22:02] #3219 closed

[2018-09-17 22:06] andrewkroh commented on #3226
I think this has been implemented with https://github.com/elastic/beats/pull/6819.

There are a set of filesystem types that are filtered by default (all types marked as nodev in /proc/filesystems in Linux systems) and you can specify your own.

https://www.elastic.co/guide/en/beats/metricbeat/6.4/metricbeat-metricset-system-filesystem.html#_configuration_5

[2018-09-17 22:06] #3226 closed

[2018-09-17 22:07] #3465 closed

[2018-09-17 22:14] #3595 closed

[2018-09-17 22:15] andrewkroh commented on #3900
Similar to #2997.

[2018-09-17 22:16] andrewkroh commented on #4154
Fixed by #4155.

[2018-09-17 22:16] #4154 closed

[2018-09-17 22:17] andrewkroh commented on #4443
Fixed in #4442.

[2018-09-17 22:17] #4443 closed

[2018-09-17 22:18] andrewkroh commented on #4461
Fixed by #4462.

[2018-09-17 22:18] #4461 closed

[2018-09-17 22:28] andrewkroh commented on #4509
Metricbeat has a [windows/service](https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-metricset-windows-service.html) metricset that monitors Windows services.

There's also a windows performance monitor metricset that could be useful depending on what you want to collect.

[2018-09-17 22:28] #4509 closed

[2018-09-17 22:32] andrewkroh commented on #4545
The event sent to Logstash includes an `@metadata.beat` field that you can use to determine what Beat sent the event.

[2018-09-17 22:32] #4545 closed

[2018-09-17 23:32] andrewkroh commented on #4604
There is an ENTRYPOINT now in all beat docker images.

[2018-09-17 23:32] #4604 closed

[2018-09-17 23:54] andrewkroh commented on #4626
@StivOstenberg Matching two patterns can be accomplished with a composite regular expression that employs an "or".

You can use a non-capturing group `(?:re)` to enclose the "or" `|`. For example `(?:RE_1|RE_2)` where RE_1 and RE_2 are the two patterns that you wish to match.

I put an example [here](https://play.golang.org/p/qyYRtP6PRZj).

[2018-09-17 23:54] #4626 closed

[2018-09-17 23:57] andrewkroh commented on #4747
If this is still occurring with Filebeat 6.x please re-open this issue.

[2018-09-17 23:57] #4747 closed

[2018-09-17 23:58] #4750 closed

[2018-09-18 00:08] andrewkroh commented on #4833
The script that is installed to `/usr/bin/$beatname` was fixed in https://github.com/elastic/beats/pull/5043. A command like this is interpreted correctly:

`sudo packetbeat -e -I "/home/vagrant/some dir/dns.pcap" -t`

[2018-09-18 00:08] #4833 closed

[2018-09-18 00:18] andrewkroh commented on #4922
It's not possible AFAIK. I'm curious why the plugin needs access to config data outside of it's namespace.

The underlying `common.Config` value is a wrapped `ucfg.Config`. Perhaps it's possible to cast it and use this [Parent()](https://godoc.org/github.com/elastic/go-ucfg#Config.Parent) method.

In any case it would be best follow up using the [Beats Developer forum](https://discuss.elastic.co/c

[2018-09-18 00:18] #4922 closed

[2018-09-18 00:19] andrewkroh commented on #5082
Metricbeat has [windows/service](https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-metricset-windows-service.html) metricset dedicated to monitoring Windows services.

[2018-09-18 00:19] #5082 closed

[2018-09-18 00:28] andrewkroh commented on #5113
Hopefully you got an answer to your question, but if not please post your questions to https://discuss.elastic.co/c/beats/packetbeat. We use Github issues only for tracking bugs and features.

[2018-09-18 00:28] #5113 closed

[2018-09-18 00:30] andrewkroh commented on #5135
The malformed line is now sent in the `message` field. https://github.com/elastic/beats/issues/6516

[2018-09-18 00:30] #5135 closed

[2018-09-18 00:40] andrewkroh commented on #5212
We're working on adding a central management feature for managing Beats from a central location. See https://github.com/elastic/beats/issues/7028.

If you wanted to develop a custom output you can do it as a Go plugin which works for Linux. Otherwise you need to compile a custom binary that includes your custom output. This is the interface you need to implement: https://github.com/elastic/beats/b

[2018-09-18 00:40] #5212 closed

[2018-09-18 00:43] #7402 closed

[2018-09-18 00:56] andrewkroh commented on #8197
This is no way of specifying a specific VRF interface to bind to when creating the socket associated with an output connection.

- https://www.kernel.org/doc/Documentation/networking/vrf.txt
- [`syscall.BindToDevice`](https://golang.org/pkg/syscall/#BindToDevice) for setting the `SO_BINDTODEVICE` socket option.

[2018-09-18 01:34] jdragonbae commented on #3513
I would like working on this. :)

[2018-09-18 08:52] npallavi1988 commented on #995
Hi @andrewkroh,
Is there any fix available for this issue?
Would like to explore Packetbeat for monitoring, but currently stuck at this problem.

[2018-09-18 11:06] foxracle commented on #1035
we have the same problem during we are migrating our kafka cluster from classic network to VPC, so want to send all beat traffic to both clusters for a while to make sure everything works。

[2018-09-18 11:55] jsoriano opened #8345 "Improve collection of process memory metrics in Windows"
Currently only `Private Bytes` and `Working Set Size` is being collected for Windows processes, it can be also interesting to collect `Virtual Bytes`. Also `system.process.memory.share` is not being calculated, remaining always as 0.
For more context about this look at this thread: https://discuss.elastic.co/t/virtual-bytes-wrong-counter-in-metricbeat

Thinking on multi-platform support we might w

[2018-09-18 12:48] webmat commented on #1035
Hey folks, Beats is meant to be a lightweight shipper. Moreover, one of the reasons it sends only to one endpoint is to be able to guarantee delivery. If that endpoint stops responding, it stops sending and simply queues up the messages. If it supported multiple outputs, the logic to guarantee delivery (especially when one of the destinations is unavailable for a while) would become very tricky.

[2018-09-18 16:04] jamesspi commented on #4522
@andrewkroh - Bingo, that worked. Thanks a mill!

[2018-09-18 16:57] supernomad commented on #1035
I see thank you for the explanation, however I would like to pose some problems with the solution you are giving @webmat.

In my situation using logstash would just not work due to the sheer volume of incoming data. We would need to spin up a very large logstash cluster to handle it all, just so that we can have two or three outputs for data to be duplicated to in the same elasticsearch cluster. R

[2018-09-18 17:15] webmat commented on #1035
Without knowing the specifics, it's hard to make solid recommendations.

But keep in mind that it's possible to deploy another set of Logstash servers which only do this splitting of the event stream. This would be a much lighter use case for Logstash than a cluster doing heavy text parsing with grok, ruby filters & the like.

[2018-09-18 17:17] webmat commented on #1035
@jakauppila Have you looked at [Logstash pipelines](https://www.elastic.co/guide/en/logstash/current/multiple-pipelines.html) and [pipeline to pipeline communication](https://www.elastic.co/guide/en/logstash/current/pipeline-to-pipeline.html)?

[2018-09-18 18:26] sentient opened #8348 "Spooling option"
A question on the spooling to disk:

When events cannot be send to Elastic Search, events are nicely written to disk.
On restart the events are send to ElasticSearch.

I was wondering, do we always need to restart? Or can we set an option to retry to submit after XX time period? Or when other events are again successfully submitted, can we resubmit the pending events.

[2018-09-18 19:31] webmat commented on #8348
I apologize for the inconvenience, but this is a usage question, and should be
asked at https://discuss.elastic.co.

GitHub should be used for reporting bugs, suggesting improvement and opening pull requests.

[2018-09-18 19:31] #8348 closed

[2018-09-18 21:25] xeraa opened #8350 "Rename the issue label "adoptme" to "help wanted""
Elasticsearch just renamed their "adoptme" to "help wanted", which is also in line with the [special labels GitHub supports](https://help.github.com/articles/helping-new-contributors-find-your-project-with-labels/). IMO it would be cool if we could stick to the convention and also keep it in sync across projects :)

[2018-09-18 21:29] timesking opened #8351 "typo make redis protocol having problem"
https://github.com/elastic/beats/blob/da485a36be744ff7dcd6b4694de29d026e0df919/packetbeat/protos/redis/redis_parse.go#L318

should be

[code]

[2018-09-18 21:38] andrewkroh commented on #8351
What problem does this cause? Do you want to open a PR (preferable with a test case) to fix the issue?

[2018-09-18 21:47] andrewkroh commented on #5259
This must have been resolved at this point. The project's tests are all passing [according to Travis CI](https://travis-ci.org/elastic/beats/builds/429912261)

[2018-09-18 21:47] #5259 closed

[2018-09-18 21:51] andrewkroh commented on #5267
I don't think there is anything specifically actionable in this issue so I'm going to close it. We are working to align some of the fields that are commonly used to query across datasets. First we are working on defining a schema in https://github.com/elastic/ecs then we will update Beats for the next major version.

[2018-09-18 21:51] #5267 closed

[2018-09-18 22:00] andrewkroh commented on #5387
We made some changes to Packetbeat since this request was logged. In particular, https://github.com/elastic/beats/pull/6794 changed Packetbeat such that is can report an HTTP response event when it is not matched with the request.

[2018-09-18 22:00] #5387 closed

[2018-09-18 22:03] andrewkroh commented on #5405
Yes, Heartbeat can be used to check that the page's body includes `Application: running`. For example:

[code]

References:
- https://www.elastic.co/guide/en/beats/heartbeat/current/configuration-heartbeat-options.html#monitor-http-check

[2018-09-18 22:03] #5405 closed

[2018-09-18 22:06] andrewkroh commented on #5412
Sorry no one responded to your question. We use the issues feature of Github to track bugs and features. For questions we use https://discuss.elastic.co/c/beats. So if you still have this question please post there.

You might want to try a newer release of Filebeat because there was a memory leak that was fixed.

[2018-09-18 22:06] #5412 closed

[2018-09-18 22:13] andrewkroh commented on #5414
All of the import dashboard logic has been incorporated into the Beat binary now and there is not a separate tool for that.

And we have improved packaging support and you can cross-compile a .deb package targeting linux/arm for your rpi (we have [snapshots for download](https://beats-ci.elastic.co/job/elastic+beats+6.x+multijob-package-linux/gcsObjects/) from Jenkins for testing purposes).

For e

[2018-09-18 22:13] #5414 closed

[2018-09-18 22:16] ndubss opened #8352 "[Auditbeat] Allow setting kernel audit config immutable"
I don't believe auditbeat supports any type of tamper feature of this type. Specifically, this is to prevent an attacker from disabling the system that would be used to alert to intrusion.

The closest thing I can find is failure_mode: log
Although I haven't tested yet.

There is also an auditd immutability mode (-e) that auditbeat will not allow in the accepted config. I do like that an attacker

[2018-09-18 22:20] andrewkroh commented on #5493
`exclude_files` is a list of regular expressions that are matched against the absolute path of the file (the `source` field value). So `^gc` will never match anything because absolute paths begin with `/`.

[2018-09-18 22:20] #5493 closed

[2018-09-18 22:27] andrewkroh commented on #5547
Some changes were made in #6323 so this may be moot. If we want to discuss further I suggest opening a PR with a benchmark test so we can discuss the impact quantitatively.

[2018-09-18 22:27] #5547 closed

[2018-09-18 22:40] andrewkroh commented on #5644
We have completely refactored how packaging is done since this was opened. I suggest giving the latest a try.

[2018-09-18 22:40] #5644 closed

[2018-09-18 22:42] andrewkroh commented on #5657
I believe this was fixed by https://github.com/elastic/beats/pull/6157. @ph can you double check and close.

[2018-09-18 22:45] andrewkroh commented on #5704
I don't believe we have this problem anymore, but I'm not sure how it was resolved.

[2018-09-18 22:45] #5704 closed

[2018-09-18 22:51] andrewkroh commented on #5706
This appears to have been fixed since this was opened. This was taken from a Metricbeat 6.3.1 env.

<img width="769" alt="screen shot 2018-09-18 at 6 49 29 pm" src="https://user-images.githubusercontent.com/4565752/45720809-a2194b80-bb73-11e8-8fb0-9953979b0074.png">

[2018-09-18 22:51] #5706 closed

[2018-09-18 22:58] andrewkroh commented on #6206
I'm closing this due to inactivity. If anyone is still having issues please reach out on https://discuss.elastic.co/c/beats and we'll help you.

[2018-09-18 22:58] #6206 closed

[2018-09-18 23:00] #6575 closed

[2018-09-18 23:02] andrewkroh commented on #6699
Closed by #6698.

[2018-09-18 23:02] #6699 closed

[2018-09-18 23:03] andrewkroh commented on #6729
We have completely refactored how packaging works. I suggest trying the latest version of Beats.

[2018-09-18 23:03] #6729 closed

[2018-09-18 23:14] andrewkroh commented on #6922
@kvch I think it would be best to open a new issue that clearly states the conflict caused by our use of default application ports rather than the default protocol ports. It's important info, but it's kind of buried in the thread above. Then we can this issue and discuss possible resolutions. Thanks

[2018-09-18 23:17] andrewkroh commented on #7218
This is a mostly duplicate of https://github.com/elastic/beats/issues/4241.

[2018-09-18 23:17] #7218 closed

[2018-09-18 23:18] andrewkroh commented on #4241
One note from https://github.com/elastic/beats/issues/7218, we should add a top-N process visualization based on this IO metric data.

[2018-09-18 23:29] andrewkroh commented on #8350
SGTM. I made the change. I didn't find any label documentation that needed to be updated as a result of the change.

[2018-09-18 23:29] #8350 closed

[2018-09-19 03:59] Odko commented on #6798
@Detzler @ruflin

Then, Any workaround to the multiline nginx error log ?

[2018-09-19 05:48] socieboy commented on #4333
Where exactly you use or place the -stric.perms=false?

[2018-09-19 07:04] kvch commented on #6798
Could you provide an example log?

[2018-09-19 07:07] kvch commented on #5657
I double checked it. `module.yml` is added when generating filesets. Closing.

[2018-09-19 07:07] #5657 closed

[2018-09-19 07:45] kvch opened #8355 "Default application ports of Elastic stack in addresses without ports"
When someone tries to connect to or load object to other elements of our stack, the target cannot be on a protocols default port. Meaning if the port number is missing from the address of the target, Beats silently adds the default port of Kibana or Elasticsearch.

[code]

Functions responsible:
* https://github.com/elastic/beats/blob/master/libbeat/common/url.go#L33 in `MakeURL`
* https://github.

[2018-09-19 07:47] kvch commented on #6922
Closing this issue in favour of a new one which describes the broader issue in more depth: https://github.com/elastic/beats/issues/8355

[2018-09-19 07:47] #6922 closed

[2018-09-19 08:11] #7886 closed

[2018-09-19 10:49] SharpEdgeMarshall commented on #8203
I'm still experiencing this with 6.4.1

[2018-09-19 10:59] exekias commented on #8203
Hi @SharpEdgeMarshall, did you remove the existing registry file? Try again after removing `data/registry` file

[2018-09-19 11:11] SharpEdgeMarshall commented on #8203
Removed and restarted k8s pods but the problem still exist

[2018-09-19 12:43] exekias commented on #8203
I did a quick test now and it seems to be working for me, you will need to follow these steps:

- Stop the filebeat pod
- Delete the registry file (if you do it before stopping the pod Filebeat will recreate it when stopping)
- Start filebeat with the new version

[2018-09-19 14:49] widhalmt commented on #637
+1 from me for gzip support

[2018-09-19 14:51] passing opened #8358 "Filebeat docker input: support reading of labels and env vars written by docker JSON File logging driver"
The docker input of filebeat is specialized to read log files written by the docker JSON File logging driver:
- https://www.elastic.co/guide/en/beats/filebeat/6.5/filebeat-input-docker.html
- https://docs.docker.com/config/containers/logging/json-file/#options

In the logging configuration of docker, it is possible to define which labels and environment variables should be included in the json log

[2018-09-19 15:08] Odko commented on #6798
Mine is similar with the one in the issue description

Stack trace:
#0 /var/www/vhosts/src/index.php(7): {closure}()
#1 /var/www/vhosts/src/index.php(19): awd::run(Object(Closure))
#2 {main}
  thrown in /var/www/vhosts/src/index.php on line 19" while reading response header from upstream, client: 79.237.34.117, server: localhost.net, request: "GET /?awd=de HTTP/2.0", upstream: "fastcgi://unix:///v

[2018-09-19 15:34] andrewkroh commented on #8355
Based on the principle of least surprise I too think we should revert to using the default ports associated with the protocols (80 and 443). But making this change certainly could cause users a lot of problems so we should be careful here.

If we do make the change we could add some warnings in 6.x for anytime the Beat makes use of a default port like 5601 or 9200 because the URL didn't have one.

[2018-09-19 16:07] andrewvc opened #8359 "[Filebeat] Timeout waiting for 'log_contains' to be true. Waited 30 seconds."
Flaky test observed here: https://beats-ci.elastic.co/job/elastic+beats+pull-request+multijob-linux/339/beat=filebeat,label=ubuntu/testReport/junit/test_ml/Test/test_ml_setup_0/

[code]

[2018-09-19 16:52] walterdolce opened #8360 "Inconsistent reporting of kubernetes node memory-related metrics"
I was trying to display the memory available vs memory usage of a Kubernetes node but then I noticed something strange. I am not sure whether it's metricsbeat that is at fault or not so I thought I would post it here.

<img width="1810" alt="screen shot 2018-09-19 at 17 47 26" src="https://user-images.githubusercontent.com/6195629/45768238-406ce600-bc34-11e8-9376-6e61ccd697e7.png">

As you can see

[2018-09-19 17:03] mbrancato commented on #8174
@ruflin I tried teh `system.cpu.total.norm.pct` and all the graph showed was 0%, but the bar graph were not ordered and were different lengths.
![image](https://user-images.githubusercontent.com/8493275/45768745-c294e480-bc0b-11e8-866c-e1b10c457e5f.png)

I'm leaving our math  section in place. To answer your question, showing overall CPU is a better display for this graph which attempts to show ho

[2018-09-19 17:25] ppf2 opened #8361 "Document multiple multiline options using variables in the config"
It will be nice to document this nice [trick](https://discuss.elastic.co/t/multiple-multiline-options/92171/5) for specifying multiple multiline options in a readable manner in the configuration which involves the use of variables in the config.  Perhaps we can add a section [here](https://www.elastic.co/guide/en/beats/filebeat/6.4/_examples_of_multiline_configuration.html
)?

[2018-09-19 17:45] andrewvc commented on #8208
Well, I did take the time to test out one theory in https://github.com/elastic/beats/pull/8317 that turns out to be incorrect.

 I assumed the root cause was that on win there were two change events, one for the directory, and another for the file.

That appears to not be the case. I won't be able to look at this for at least a few more days, so it'd be good if someone else could tackle this issue

[2018-09-19 21:15] willemdh opened #8364 "[metricbeat] Add Windows service user name"
It would be nice if the windows service metricset would allow us to add the user configured for this service as `windows.service.user.name`. As some services (eg backup / Altiris / SAP) require elevated permissions, it would be useful to know where specific users are set etc..

- Version: 6.4.0
- Operating System: Windows
- Discuss Forum URL: https://discuss.elastic.co/t/windows-service-user-would

[2018-09-19 22:09] adriansr opened #8365 "[Metricbeat] Panic in dropwizard collector"
User reports a panic during metrics collection in the dropwizard module:

[code]

Adjusting the line offset to account for the only modification in `dropwizard/collector/data.go` yields line 111. The whole `splitTagsFromMetricName` method could use some bounds checking here and there.

Waiting for more information to understand what kind of data is it dealing with. Also exact dropwizard version.

[2018-09-20 10:17] #8208 closed

[2018-09-20 10:27] jerrywang1974 opened #8370 "adding the feature of filebeat for modules test"
Hi,
I 'd like to inquiry the new feature for filebeat module test feature.
in case the filebeat have several module similar metricbeat, when I using the metricbeat, there're great command to testing modules output for testing. I'd like to request the similar feature in filebeat.
Thanks!

Jerry

[2018-09-20 13:23] nellicus opened #8381 "[filebeat][elasticsearch-module] dashboards not present yet in 6.4.0"
https://www.elastic.co/guide/en/beats/filebeat/6.4/filebeat-module-elasticsearch.html#configuring-elasticsearch-module

This is the elasticsearch module.

When you run the module, it performs a few tasks under the hood:

Sets the default paths to the log files (but don't worry, you can override the defaults)
Makes sure each multiline log event gets sent as a single event
Uses ingest node to parse

[2018-09-20 15:10] mbrancato commented on #8174
@willemdh except with 6.3.2 it seems `system.cpu.total.norm.pct` is always showing 0%. But yes, showing overall CPU is much more useful than summing all the CPU core percentages.

[2018-09-20 16:24] jesslh opened #8382 "I can't start the Auditbeat service"
I'm not able to start the service Auditbeat due to the following error:

2018-09-19T17:38:58.767-0500	ERROR	instance/beat.go:743	Exiting: 1 error: 1 error: failed to unpack the auditd config: 1 error: failed loading rules: 1 error: at /etc/auditbeat/audit.rules.d/sample-rules-linux-32bit.conf:5: failed to interpret rule '-a always,exit -F arch=b32 -S accept,bind,connect -F key=external-access': fa

[2018-09-20 19:00] andrewkroh commented on #8382
It looks like you are trying to use the sample rules for a 32-bit system, but are on a 64-bit system. You should use the 64bit sample rules instead.

But there is a problem with the 32-bit sample rules because `accept` should be `accept4`.

[2018-09-20 20:03] jesslh commented on #8382
I install the Auditbeat 64-bit system version and there were no changes.

Where can I force the Auditbeat to take the 64-bit sample ?

[2018-09-20 20:07] andrewkroh commented on #8382
You can rename `audit.rules.d/sample-rules-linux-32bit.conf` to `audit.rules.d/sample-rules-linux-32bit.conf.disabled` or just delete the file.

Perhaps we have a packaging problem. I'll have to take a look. I think we intended not to include the 32-bit sample in the 64-bit package.

[2018-09-20 20:40] strowi commented on #6665
Sad to say my grok is not fit enough... will have to dig deeper into this.. Or has anyone found a way to at least ignore the problematic lines?

[2018-09-20 21:16] graphaelli opened #8384 "drop default version qualifier"
#8310 added a version qualifier, including a default for 7.0.0, for use during the build system transition.  This serves as a reminder to remove the default for 7.0.0, though it's unclear whether we'll want that back for 8.x.

While changing this up, let's also drop the `BEAT_` prefix from the env variable, leaving just `VERSION_QUALIFIER`.

[2018-09-20 21:28] jesslh commented on #8382
I just remove the file, but when I test my configuration the same error is shown.

[root@weblogic1 /]# auditbeat test config
Exiting: 1 error: 1 error: failed to unpack the auditd config: 1 error: failed loading rules: 1 error: at /etc/auditbeat/audit.rules.d/sample-rules-linux-64bit.conf:15: rule '-w /etc/passwd -p wa -k identity' is a duplicate of '-w /etc/passwd -p wa -k identity' at (audit_rul

[2018-09-20 22:42] andrewkroh commented on #8382
You have duplicated the same rule in two places. I recommend removing or commenting out the `audit_rules:` section in `auditbeat.yml`. Then only define rules in `audit.rules.d/*.conf` files.

I'm thinking we should remove this entirely from the example config that we ship for the next release. We recently added the ability to load rules from a file.

[2018-09-21 01:44] jesslh commented on #8382
Yes! It works! I think that load the rules from a file is more easy.

Thank you!

[2018-09-21 03:46] consulthys commented on #2842
@ruflin any status on this? we have a case where `write.bytes` is always > 0 but `read.bytes` is always = 0.
Appreciate your input on this, thanks in advance

[2018-09-21 11:59] ronanh opened #8387 "[libbeat] Kafka Output: Add support for SASL_SSL authentication"
Hello,

Kafka output support SASL_SSL scheme, but only with SASL/PLAIN, which is less secure. Additional support for SASL/SCRAM-SHA256 and SASL/SCRAM-SHA512 would be nice.
This can be an important limitation when one does not have admin rights over the Kafka Brokers it's using.

Any plans regarding this feature?
Thanks

[2018-09-21 13:36] ghost opened #8388 "no way to have beats resend/harvest files based on file timestamp"
the time that I'm talking about is the time on the file itself ... the messages in the file have no timestamps on them ... and they are all files created between 9/14/2018 @ 12:00:00 to 9/17/2018 @ 18:00:00

I'm sure elastic has had customers that inadvertently blown away a day of an index in the past and needed that data resent to rebuild that days index ... how was that accomplished?

https://di

[2018-09-21 13:55] jsoriano commented on #8387
Hi @ronanh,

We don't have specific plans to support these authentication methods yet, but this is something we will definitely consider for the next versions.

[2018-09-21 14:04] dariusj18 commented on #3744
This has been sitting around for a while, is this issue ever going to be resolved?

My two cents, My server is TZ-5, I use Grafana to visualize my data, when I am viewing any chart using an index from Metricbeat from 8 to midnight I get no data, because Grafana specificly queries the index with the UTC date. But all the data is still going into the prior day's index.

[2018-09-21 16:08] andrewvc commented on #8332
I've merged #8227 if you'd like to do a subsequent edit.

[2018-09-21 16:36] andrewvc opened #8393 "[META] Heartbeat Next Phase"
This meta issue tracks the next phase of HB development

### Beat

- [ ] Centralized Config
- [ ] Autodiscovery - Basics
- [ ] Telemetry
- [ ] AWS Autodiscovery
  - Note: Existing issue on cloud autodiscovery https://github.com/elastic/beats/issues/8282

### UI

- [ ] Dashboard Improvements
- [ ] Add Data in Kibana
- [ ] Centralized config integration
- [ ] Just the minimal things to make heartbea

[2018-09-21 18:16] #8180 closed

[2018-09-23 16:39] jsoriano opened #8398 "Support metrics collection with metricbeat using IPMI"
Supporting metrics collection using [IPMI](https://en.wikipedia.org/wiki/Intelligent_Platform_Management_Interface) could be useful in bare-metal datacenters. It can be challenging to support multiple implementations, but an initial module could be done that could be improved with additional contributions.

This module could support two operation modes, one from the node itself, and another one fr

[2018-09-23 19:15] jsoriano opened #8400 "[Filebeat] Handle geoip changes in filebeat modules system test (test_modules_...)"
Filebeat `test_modules` system test tests ingest pipelines with running Elasticsearch instances. Modules using the geoip plugin are error prone, as geoip data can change or fields can be added or removed. We should change how we check these fields.

[This build](https://travis-ci.org/elastic/beats/jobs/432188448) fails because some coordinates have changed (#8401).

elastic/beats#8204 was about fi

[2018-09-24 04:40] Leaf-Lin commented on #8398
++

[2018-09-24 04:40] Leaf-Lin commented on #8398
@jstrassb

[2018-09-24 09:06] exekias commented on #8360
Hi @walterdolce, here you have an explanation of how allocatable memory works: https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/#node-allocatable, as you can see, it's the memory available for pods, so it doesn't include the one reserved for kubernetes or used by other system parts.

If you sum the memory used by all the pods in the node it should be less or equal to t

[2018-09-24 12:39] ph commented on #8355
I like @andrewkroh proposal, but I think this hurts users so we have to take extra care into providing information to resolve their problems.

[2018-09-24 12:48] ruflin commented on #2842
@consulthys I don't think any changes happened here. Any errors in the logs? Which Metricbeat version?

[2018-09-24 12:52] consulthys commented on #2842
@ruflin no errors in the logs, `read.bytes` is simply always 0, which is weird.

[2018-09-24 13:36] kvch commented on #8355
As users need to configure an option named `host`, not `url` (or `domain`), it is acceptable to default to the default port of other stack elements.

A new warning is going to be displayed when a user does not provide a port number, stating that the Beat is connecting to the default port of Kibana or Elasticsearch.

If someone would like to connect to a default port of HTTP or HTTPS, he/she needs

[2018-09-24 14:24] mnaser opened #8408 "Packetbeat fails to build on ARM64"
I am trying to get Packetbeat ARM64 packages and they're failing to build for me.

https://gist.github.com/mnaser/c4943c070df3b4c3c21866cf0158f7a1

With the above instructions, if you add `packetbeat` to the list, it'll fail because of `pcap.h` error?

[2018-09-24 14:40] andrewkroh commented on #8408
This was fixed in master with https://github.com/elastic/beats/pull/7809. You could apply the same fix to you local branch and it should let you build.

[2018-09-24 14:44] andrewkroh commented on #8408
I'm back-porting that fix into 6.x and 6.4.

[2018-09-24 14:44] #8408 closed

[2018-09-24 14:45] mnaser commented on #8408
Awesome.  I was trying to build the tag of 6.4.1.  I'll look forward for the next release (6.4.2).

[2018-09-24 14:48] mnaser opened #8411 "Start building/shipping ARM64 packaging"
Hi there:

Thanks for the awesome response earlier, if we can get clean ARM64 builds, it'd be nice to add that to the list of default cross-built packages so that it can be installed using the repos.

Right now, we've kinda worked around it by maintaining our own list of packages in OpenStack world, but it'd be super super neat for us to avoid these workarounds:

https://review.openstack.org/#/c/6

[2018-09-24 16:24] jsoriano opened #8412 "[Metricbeat] Flaky test_cmd.TestCommands.test_modules_test_error"
Seen in https://beats-ci.elastic.co/job/elastic+beats+pull-request+multijob-linux/395/beat=metricbeat,label=ubuntu/testReport/junit/test_cmd/TestCommands/test_modules_test_error/

I couldn't reproduce it locally.

[code]

[2018-09-24 16:35] walterdolce commented on #8360
Hi @exekias, thank you for your reply.

I see. Shouldn't `kubernetes.node.memory.allocatable.bytes` be called kubernetes.node.memory.allocatable_for_pods.bytes` instead, then? Or shouldn't the [documentation](https://www.elastic.co/guide/en/beats/metricbeat/current/exported-fields-kubernetes.html) say `Node allocatable memory for pods in bytes`, rather than `Node allocatable memory in bytes`?

I f

[2018-09-24 16:38] exekias commented on #8360
That's a fair point, I'm reopening this to improve the description for that field, more details here: https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/#node-allocatable

[2018-09-24 19:20] dedemorton opened #8417 "Config reload docs should show inputs.d directory rather than configs/*.yml"
To be consistent with the filebeat.reference.yml file, the documentation about [loading external files](https://www.elastic.co/guide/en/beats/filebeat/6.4/filebeat-configuration-reloading.html#filebeat-configuration-reloading) should show the `inputs.d/*.yml` rather than `configs/*yml`

[code]

[2018-09-24 20:27] krunalvora opened #8418 "Filebeat CPU shoots 100 times when sending to kafka topic using a dynamic field"
- Filebeat Version: 6.2.4
   Kafka version: 0.1.1

- Operating System:
   Running filebeat as a daemonset using the docker image for filebeat.

- Discuss Forum URL: https://discuss.elastic.co/t/filebeat-cpu-shoots-100-times-when-sending-to-kafka-topic-using-a-field/146898

- Steps to Reproduce:

Run filebeat as a Daemonset in a Kubernetes cluster collecting logs from the `/var/lib/docker/container

[2018-09-24 20:35] #8365 closed

[2018-09-24 23:18] #3948 closed

[2018-09-24 23:32] dedemorton opened #8423 "Kafka output config docs need config example under "topics" setting"
While adding more detail to the config settings `topics` (see https://github.com/elastic/beats/pull/8290), I noticed that we don't provide a config example like we do under similar settings (such as `indices`). We should provide an example because it's hard to understand the `mappings` setting without seeing a config example.

[2018-09-25 11:09] adriansr opened #8430 "Some panics stacktraces are lost when Beats run as a service"
We rely on wrapping goroutines on logp.Recover so those panics make their way to logfiles. However, for non-wrapped goroutines, this information is printed to standard error and the Beat terminated, making some crashes hard to spot.

[2018-09-25 11:50] ruflin commented on #8266
I think we should make modules available in Beatless. There should be a module structure which works across Beats. Several discussion around a more general module structure happened in the past and this seems to be a good time now to tackle it.

One thing that happens with the above is that it decouples the way we gather the data (input/path) from the module. In Filebeat we will also need this dec

[2018-09-25 14:40] andrewkroh opened #8434 "[Filebeat] Input type for Netflow v9 and IPFIX"
As a user I'd like to be able to collect Netflow v9 and IPFIX data with Filebeat. Filebeat is already capable of receiving data over UDP, and I use to collect syslog streams from my network devices. So it would be nice if it could also collect the Netflow streams from my devices.

I propose that a new input type be added to Filebeat (similar to [syslog](https://www.elastic.co/guide/en/beats/filebe

[2018-09-25 15:51] lcaballero commented on #1721
I suggested something like this here: [Rate limit published events](https://discuss.elastic.co/t/idea-rate-limit-filebeat-published-events-by-a-percentage/149333).  I did write something that works for my specific use case, but think it would be a great feature.  I started the discussion to cover how it might be implemented.

[2018-09-25 15:52] lcaballero commented on #3847
@vjsamuel I was thinking along the same lines.  I started a suggestion for the idea: [Rate limit published event](url).  Perhaps you can add a comment and provide some ideas about what the end implementation might look like.

[2018-09-25 16:02] jsoriano commented on #8418
@krunalvora I wonder if this can be related to events not containing the `kubernetes.namespace`. Can you check the logs for messages like `Dropping event: no topic could be selected`, or any other error that you don't see when using a fixed topic?

In any case, could you try this configuration and check if cpu usage also increases?
[code]
Thanks!

[2018-09-25 17:51] ITBlogger commented on #8293
Any updates on this?

[2018-09-25 18:35] tinder-krunalvora commented on #8418
@jsoriano
We should have the kubernetes namespace for each event because we add that data through filebeat processors inside the prospector.

[code]

I will give your suggestion a try though and let you know!

[2018-09-25 22:09] LeeDr commented on #6951
Best security practice would be to configure and use users with the minimal privileges needed.  For my testing I create a role and user for the `output.elasticsearch` section like this;

`role/beats_writer { "cluster": ["manage_index_templates","monitor"], "indices": [ { "names": [ "*beat-*" ], "privileges": ["write","delete","create_index"] } ] }`

`user/beats_internal { "password" : "changeme",

[2018-09-25 22:16] liza-mae commented on #6951
I can add testing with minimal user permissions in addition to superuser I think both cases is best to test.

[2018-09-26 15:03] andrewvc commented on #8393
We'll track this in another tool.

[2018-09-26 15:03] #8393 closed

[2018-09-26 15:59] exekias commented on #8293
I'm sorry @ITBlogger, I'm afraid no one has worked on fixing this yet, we will update this issue when that happens

[2018-09-26 20:23] nikolay opened #8451 "[Filebeat] Support the custom nginx-ingress-controller Nginx log format"
In the Kubernetes world, one of the most popular choices for an ingress controller is the nginx-ingress-controller, which doesn't use a standard Nginx log format though. Instead, it uses a custom format, documented here: https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/nginx-configuration/log-format.md

Given how many projects use this ingress controller, it would be nice to

[2018-09-26 21:24] ndubss opened #8453 "Auditbeat resolve_ids doesn't work reliably in docker"
Hello, I hope I'm doing something wrong and this isn't actually a bug.

When running with(resolve_ids:true in config): docker run -e redacted --pid=host --cap-add=AUDIT_CONTROL --cap-add=AUDIT_READ -v $PWD/auditbeat.yml:/etc/auditbeat/auditbeat.yml -v /etc/audit/rules.d/audit.conf:/etc/audit/rules.d/audit.conf  redacted/vjsamuel/auditbeat:7.0.0

I get this output(on executed event_type):
actor_pri

[2018-09-26 21:41] DanRoscigno opened #8454 "Packetbeat running on docker missing a required parameter"
The "Bind-mounted configuration" section of the Packetbeat docs is missing an arg "--cap-add=NET_ADMIN"

- Version: 6.4.0, probably all
- Operating System: Linux, OS X
- Steps to Reproduce: Run the command
[code]
and you will see:

`/usr/local/bin/docker-entrypoint: line 8: /usr/share/packetbeat/packetbeat: Operation not permitted`

I tried to edit the docs page, but it is a common page across Bea

[2018-09-26 22:09] andrewkroh commented on #8453
If the auditbeat process is containerized then it is going to be using the containerized `/etc/passwd` and `/etc/group` to resolve values. So try mounting the host's files inside the container (e.g. `-v /etc/passwd:/etc/passwd -v /etc/group:/etc/group`).

[2018-09-26 22:22] DanRoscigno opened #8455 "Packetbeat on Docker docs missing command to load dashboards"
For confirmed bugs, please report:
- Version: 6.4.1
- Operating System: Docker

This is the . command I am using to load the dashboards:

[code]

[2018-09-27 05:12] hsluoyz commented on #2084
Hi @ruflin

https://github.com/elastic/filebeat/issues/68 is 404 now. What is the latest link?

[2018-09-27 08:45] sayden commented on #8286
Fixed in #8292

[2018-09-27 08:45] #8286 closed

[2018-09-27 18:50] dedemorton opened #8470 "Add docs and edit strings for Beats Central Management"
We need to update the documentation for the new Beats Central Management feature: https://github.com/elastic/beats/issues/7028

To do list for beta:

- [x] Review UI text strings and messages.
  - [x] Make text strings clear, concise, and consistent [Gail]
  - [x] Suggest changes to improve usability and general user experience for Beats users [DeDe]
- [x] Add topic about Beats Central Management

[2018-09-27 19:40] danleerunk opened #8473 "[Metricbeat] Expose/export more detailed iostat information"
Currently, Metricbeat produces `system.diskio.iostat.await`, but the average can hide important performance details. More useful would be to get `r_await` and `w_await` separately, which would allow for better understanding of the nature of disk performance - as well as troubleshooting/alerting on issues where one or the other value is unexpected.

So the idea would be to export those two values,

[2018-09-27 21:29] #8331 closed

[2018-09-27 23:52] ndubss commented on #8453
Andrew, thanks for the help, but we have another variable. I added /etc/passwd and /etc/group. That is now mapping our service accts. Our user accounts are tied with ldap and not stored locally. I've only figured out how to get the mapping from getent, but that obviously doesn't work in the container. Any thoughts?

[2018-09-28 01:14] andrewkroh commented on #2084
That repo no longer exists, but you can read about glob support in the Filebeat documentation.

https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-input-log.html#input-paths

[2018-09-28 02:23] #8381 closed, assigned to dedemorton

[2018-09-28 02:46] andrewkroh commented on #8453
Does `resolve_ids` work correctly when Auditbeat is run outside of a container w.r.t. the LDAP based accounts? Auditbeat relies on Go's `os/user` package which uses `getpwuid_r` to resolve the IDs. So perhaps some additional config is needed inside of the container to make it work. I don't have much experience configuring LDAP on Linux unfortunately.

[2018-09-28 08:39] yubobo opened #8481 "[Filebeat] Unable to get kubernetes metadata by pod uid in Filebeat 6.4.1"
this input config:

    - type: log
      enabled: true
      tags: ["sparkstreaminglog"]
      paths:
        - /var/lib/kubelet/pods/*/*.log
      encoding: utf-8
      **processors:**
        - add_kubernetes_metadata:
            in_cluster: true
            host: ${HOSTNAME}
            include_labels:
              - app-name
              - app-type
              - filebeat/topic

[2018-09-28 08:40] yubobo commented on #8481
the log is:

2018-09-28T08:35:48.497Z        DEBUG   [input] log/input.go:174        Start next scan
2018-09-28T08:35:48.497Z        DEBUG   [input] log/input.go:195        input states cleaned up. Before: 0, After: 0, Pending: 0
2018-09-28T08:35:48.497Z        DEBUG   [kubernetes]    add_kubernetes_metadata/matchers.go:67  logs_path matcher log path: /var/lib/kubelet/pods/
2018-09-28T08:35:48.497

[2018-09-28 08:41] yubobo commented on #8481
the log seems right. No error happen.
but, there are no k8s metadata infomation enrich the log.

[2018-09-28 10:32] yubobo commented on #8481
I would show a piece of log：

2018-09-28T10:26:36.073Z        DEBUG   [kubernetes]    add_kubernetes_metadata/matchers.go:67  logs_path matcher log path: /var/lib/kubelet/pods/
2018-09-28T10:26:36.073Z        DEBUG   [kubernetes]    add_kubernetes_metadata/matchers.go:68  logs_path matcher resource type: pod
2018-09-28T10:26:36.073Z        INFO    kubernetes/util.go:71   kubernetes: Using node fil

[2018-09-28 10:39] exekias commented on #8481
Hi @yubobo, can you please specify what version of Kubernetes are you using? How do you get these `spark.log` files in the pods folder? Best regards

[2018-09-28 11:03] dkanchev commented on #6665
@vadimtk @puneet0191 @delgod Can you guys provide more information about what are the exact differences between the Percona slow logs and the MySQL slow logs. I may have some time to fix the grok filters that beats uses. It will be even better if you already have fixed this for some of your Percona users. Thanks in advance for the info!

[2018-09-28 11:15] yubobo commented on #8481
I mount the file path to the /var/lib/kubelet/pods.
The version of Kubernetes 1.10.5-13    @exekias

[2018-09-28 11:17] zoonage opened #8482 "[Heartbeat] Multiple connection attempts to a host in a single beat"
# Current State

Heartbeat can only perform a single connection (possibly to multiple hosts) and reports stats based on that.

# Proposed Improvement

Allow Heartbeat to connect to Y hosts X times. This would allow for the possibility of things such as;

1. Packet loss % monitoring at a particular instant (relates to #7291)
2. Reducing the size of data indexed in ES as the current way to do this w

[2018-09-28 11:17] Fanduzi commented on #6665
@dkanchev
MySQL
[code]

Percona
[code]

[2018-09-28 11:43] strowi commented on #6665
Percona 5.7.19
[code]

[2018-09-28 13:38] mathroc opened #8484 "unclear how to get autodiscover with docker hints working"
Hi,

I'm running the elastic stack on a docker swarm, my metricbeats configuration looks like this:

[code]

autodiscover without using hints (for elasticsearch and kibana) is working, however, I'm trying to add metrics for nginx on a container without using autodiscover (because some config will change for each container)

here is my stack configuration for the container I want to monitor:

[code

[2018-09-28 14:02] #8214 closed

[2018-09-28 14:29] mathroc commented on #8484
ok, so it turned out this configuration is working, metricbeat wasn't picking up the last docker events, restarting it made it work :)

sorry for the noise

[2018-09-28 14:29] #8484 closed

[2018-09-28 15:42] jesslh opened #8486 "auditbeat for s390x"
Hi, I am building an auditbeat for s390x, following the next guide: https://github.com/linux-on-ibm-z/docs/wiki/Building-Beats

The version that I download of beats was first 6.4, then 6.2 in order to follow the guide.

In both cases, the beat compile but when I run the auditbeat the following error is shown:

ERROR      instance/beat.go:758         Existing: 1 error: 1 error: failed to create aud

[2018-09-28 18:09] #7990 closed

[2018-09-28 18:20] ndubss commented on #8453
Okay thanks. Yes it works when run on that same host, outside the container. I'll see if we can reverse engineer getpwuid_r.

[2018-09-28 18:48] ph opened #8490 "MacOS X Panic when running test for github.com/elastic/beats/libbeat/publisher/queue/spool"
This is issue was reported by @ruflin  during PR review of https://github.com/elastic/beats/pull/8376

Failure on the spooler when running the test on macos X (complete gist at https://gist.github.com/ph/d2fd8eecde3c16ee720939d483e7b654)
[code]

[2018-09-28 18:54] ph commented on #8490
Well this look more like a deadlock, the job was killed after 10 mins of execution and generate this trace.

[code]
[code]

[2018-09-28 19:37] ph commented on #8490
@urso Lets look at this on Monday, I need to look back a bit more at the code, I wonder if a scheduled write on disk under some circumstance on macos (vm?) is not able to complete and get stuck in the loop.

Looking at the goroutines dump, we have one waiting on a write tx and we have another one in the for loop of our specific Darwin implementation for file sync.

[code]

[code]

I remember that

[2018-09-28 21:09] dedemorton opened #8492 "Restructuring: Break source file for outputs (outputs.asciidoc) into multiple files"
Rather than conditionally coding sections to include them in specific books, we should break the file down into multiple source files so that there is one file for each output. That way, we can include individual files, when needed, in a book.

This requires changes to the APM docs as well as the docs for all Beats.

[2018-09-28 21:20] dedemorton opened #8493 "Beats doc refactoring and restructuring"
This meta issue lists all refactoring efforts that are required. These efforts might impact projects that reuse content from libbeat:

**libbeat**

- [ ] ~Break source file for outputs (outputs.asciidoc) into multiple files: #8492~
- [x] Break processor file into multiple files.  https://github.com/elastic/beats/pull/14410
- [ ] Move command reference to top level in the navigation: #7739
- [ ] Cl

[2018-09-28 21:21] dedemorton commented on #7320
The APM team has already found ways to reuse the content, so I'm going to close this issue and open a meta issue to track any refactoring/restructuring work that might impact APM.

[2018-09-28 21:21] #7320 closed

[2018-09-28 21:47] dedemorton opened #8494 "Restructing: Fix the part/chapter structure of the books"
Right now, the Beats books are not ideally structured because the structure has grown organically over time. To save time and minimize the amount of rework required, we've compromised and modified the existing structure to meet our needs. This has resulted in a rather strange book structure that begins as single chapters and morphs into sections halfway through the book. The parts are necessary (g

[2018-09-29 00:37] dedemorton opened #8496 "Restructuring: organize libbeat files logically into folders and rename for consistency"
Currently the libbeat/docs directory structure is fairly flat (reflecting the early days when there weren't many files). The docs folder contains an assortment of files: some represent shared content that is included in all the books; and some content is source for the platform reference. The files are named inconsistently (some filenames have "shared" to indicate shared content, and some do not).

[2018-09-29 00:44] joshuar commented on #8200
So trying to use the above command with either my beat or metricbeat results in:

[code]

So I'm wondering if this null value is a result of being unable to parse that `panelsJSON` value?

[2018-09-29 00:58] joshuar commented on #8200
Okay scratch that last comment (deleted it) as that was with a broken dashboard.  So I just recreated a new dashboard in Kibana, saved it, then ran the export command above.  Here is the JSON export:

[dashboard.zip](https://github.com/elastic/beats/files/2430109/dashboard.zip)

[2018-09-29 01:41] dedemorton commented on #3227
Closed with https://github.com/elastic/beats/pull/8290

[2018-09-29 01:41] #3227 closed

[2018-09-29 10:45] #7529 closed

[2018-09-29 12:22] mathroc opened #8498 "docker autodiscover hints & networks"
Hi,

I'm configuring my servers monitoring with metricbeat, and I have an issue: I'm using docker autodiscover hints to find containers to monitor, eg:

[code]

here metrics is the network metricbeat is attached to, the traefik containers has multiple IPs for the multiple networks it's attached to, so `${data.host}` get one of the IP (first? random?) but it's not the correct one. that means metric

[2018-09-30 06:48] harshapic opened #8499 "Throttling messages - Question"
Best way to throttle messages based quantity per time basis i.e 500msgs per second or 10mb of messages per second something like that any way i can achieve this from filebeat?

[2018-10-01 07:06] kvch commented on #8323
### Example event
[code]

[2018-10-01 08:27] sayden commented on #8499
Hi @harshapic :)

Questions and issues should be post first on Discuss (https://discuss.elastic.co/c/beats), see contribution guidelines https://github.com/elastic/beats/blob/master/CONTRIBUTING.md We'll be happy yo help you and follow your issue there too.

Closing this issue to avoid confusion.

[2018-10-01 08:27] #8499 closed

[2018-10-01 09:13] zoonage commented on #8482
Also should add metrics like jitter

[2018-10-01 09:38] knrt10 commented on #7534
@ruflin I would like to work on this.

[2018-10-01 09:41] knrt10 commented on #7909
@ruflin I would like to work on this.

[2018-10-01 09:55] jain108shubhamtbt opened #8503 "Can not making tar.gz form of filebeat logs, when going for back up ?"
Can not making tar.gz form of filebeat logs, when going for back up ?

# Filebeat Version :
filebeat 6.4.1

# Golang Version :
go version go1.11 windows/amd64

# Getting logs :
Perform command ls in linux
filebeat.log    filebeat.log.2  filebeat.log.4  filebeat.log.6
filebeat.log.1  filebeat.log.3  filebeat.log.5  filebeat.log.7

# Need :
filebeat.log    filebeat.log.2.tar.gz  filebeat.log.4.tar.g

[2018-10-01 10:35] #7736 closed

[2018-10-01 12:00] ruflin commented on #8451
Interesting suggestion. @exekias Thoughts?

[2018-10-01 13:30] andrewkroh commented on #3513
Fixed by  #8344.

[2018-10-01 13:30] #3513 closed

[2018-10-01 13:56] petrkalina commented on #2783
I switched from collectd and dockerbeats to metricbeat in order to simplify and unify our collection of runtime/docker stats. The motivation was to get in-line with current development and simplify the deployment. We wanted to use the data to display basic graphs i.e. CPU, memory and disk IO usage. The graphs are not rendered in Kibana, but within the web UI of the software we develop.

[2018-10-01 14:02] exekias commented on #8451
Thanks for reporting @nikolay, we definitely want to support this use case. I'm wondering if it would be possible to add the kubernetes pattern to the existing pipeline definition and keep compatibility with both the standard format and this one.

Is that possible @ruflin? maybe @kvch knows this one

[2018-10-01 14:07] legrego commented on #7942
@ycombinator @ruflin

We've merged Spaces into Kibana's `master` and `6.x` branches.
We are still working through a couple of [issues](https://github.com/elastic/kibana/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%3ASpaces), but what we have merged is stable at this point, if you want to move forward with your work.

Let us know what we can do to help, and of course, let us know if y

[2018-10-01 14:10] ycombinator commented on #7942
Thanks @legrego. I'll be merging https://github.com/elastic/beats/pull/8045 shortly.

[2018-10-01 14:13] kvch commented on #8451
It's possible to add new patterns to the existing pipeline. I am thinking about if we should add it to the existing pipelines or add a new separate fileset.
I might go for introducing it as a new fileset, because if someone uses `nginx-ingress-controller`, there are always going to be one pattern (the default one) which does not match. We could save a few CPU ticks and reduce complexity by providi

[2018-10-01 16:43] pohzipohzi opened #8521 "[Packetbeat] Expose opcodes in mongoDB"
Opcodes are currently not reported. Exposing op codes in the output could offer better debugging information, such as in cases where method names are ambiguous or not exclusive (eg. `opquery`, which may have method `otherCommand` or `find`)

[2018-10-01 16:49] jordansissel opened #8523 "Auditbeat fails on Google Container-OS >=69 / GKE >=1.10"
Testing fails with auditbeat 6.4.1 on Google Container OS (COS) version 69

Symptom: auditbeat is unable to receive any audit logs

Possibly relevant log message:
[code]

`auditbeat show auditd-status` output:

[code]

Background: We are using Google's Kubernetes Engine (GKE) and have currently deployed GKE 1.9.7 where we run auditbeat as a daemonset. This configuration works well! However, when t

[2018-10-01 16:51] jordansissel commented on #8523
I've been working with Google's support team on troubleshooting this and have no answers at this time. However, we have a possible workaround which is to completely disable journald's audit system (keeping in mind, this is only necessary on COS 69, not COS 65):

[code]

[2018-10-01 17:04] ruflin commented on #8451
It's a more general problem we have to solve: Having 2 different types of log files for 1 dataset. Elasticsearch logs will change in 7.0. How do we cope with the old and new format (@ycombinator )? Can we have a config option to define which pipeline is used in fileset and can this config option be set during enabling a module or for example through autodiscovery?

[2018-10-01 18:02] ruflin commented on #7909
@knrt10 Not sure if you are too early on this one. @ycombinator can comment here.

[2018-10-01 18:33] ycombinator commented on #7909
These bridge APIs are not yet available in Elasticsearch. I just built a fresh copy of ES from `master` and verified. Removing the `Hacktoberfest` label for now.

[2018-10-01 19:13] nikolay commented on #8451
@ruflin I think for simplicity, this should be a different module as the goals of an ingress controller is more narrow than that of a general-purpose web server.

[2018-10-02 04:07] StevenToth opened #8534 "Feature Request - Allow libbeat to publish updates to Elasticsearch"
**Feature Request:** When using the beat.Client to publish [bulk] beat.Events to the Elasticsearch output, allow updates by way of including the document id, and optionally a version number, in the Meta map.  If a version number is provided and it is less than or equal to the version number of the document at the time of the update, the update should not occur.  Ideally there would be a configurat

[2018-10-02 07:45] gekkeharry13 commented on #3982
Hello, I would like to know if any progress is being made regarding this feature. Next to this I would like to know if Windows Certificate Store for the Windows beats is also considered for implementation. This would significally enhance the implementation process for Windows collecting.

[2018-10-02 08:18] kvch commented on #8451
Path to the selected pipeline of modules are already configurable in `manifest.yml` files. This option could be set by users based on their input application version. Or maybe each module can have an option named `pipeline_version` or `version` which is the version of the input. E.g in case of ES `version` could be set to `7.0` to tell Filebeat to upload the pipeline of ES 7.0. If the version is n

[2018-10-02 08:43] exekias opened #8535 "Kubernetes autodiscover doesn't stop module for containers without IP"
This behavior has been observed in a Openshift Kubernetes environment:

For a container with a termination grace period configured, sometimes the pod IP is removed **before** Pod is deleted. This causes autodiscover to ignore the event, so the module(s) running for this Pod are never stopped.

We should probably change the execution model to be based on some unique id, instead of relying on existi

[2018-10-02 08:55] kaem2111 opened #8536 "xpack.monitoring.logstash request"
**This is an enhancement request.**

According to https://www.elastic.co/guide/en/beats/filebeat/6.4/configuration-monitor.html
you can specify xpack.monitoring.elasticsearch as a monitoring destination.

Unfortunaly sometimes customer does not want to expose an elasticsearch endpoint to their beats located in a DMZ to avoid downloading the whole cluster with one correct user password.

I would ap

[2018-10-02 14:52] pohzipohzi commented on #6191
I'm interested in taking up this issue (adding the new `OP_MSG` opcode), but I'm not sure what is a good way to do so while ensuring backward compatibility. This is because `OP_MSG` already existed as opCode 1000 previously (see [this](https://github.com/mongodb/mongo-meta-driver/blob/master/docs/source/legacy/mongodb-wire-protocol.txt#L102)) and already exists as such in the code.

One way I can

[2018-10-02 16:00] nikolay commented on #8451
@kvch Even without Nginx controller in the picture, Nginx already has at least two built-in formats, and allows for custom. I think using version is abusing the purpose of it. Using filesets is also a hack. I just think a fileset should have a setting for format, plus, ideally, it should allow to easily add a custom format to an existing module.

[2018-10-02 16:42] cwurm commented on #6191
@pohzipohzi Looking at the [MongoDB documentation](https://docs.mongodb.com/manual/reference/mongodb-wire-protocol/#request-opcodes) it looks like the "new" `OP_MSG` has a value of `2013`, so I suspect you could just add logic for that?

[2018-10-02 18:43] YuheChen opened #8540 "The Docker module is currently not tested on Windows."
I tested metricbeat on both Windows 2016 and Windows 1803. It can not collect docker container metrics. I have attached the metric json which has an error message.

Both Docker and Kubernetes are putting up effort to support windows. The question is: do we have any plan to support docker module for windows?

{
  "_index": "metricbeat-6.4.2-2018.10.02",
  "_type": "doc",
  "_id": "1ETkNWYB2Uct6uiV4

[2018-10-02 20:09] andrewkroh commented on #8384
`dev-tools/jenkins_release.sh` will need updated too. https://github.com/elastic/beats/pull/8542

[2018-10-03 06:59] ruflin commented on #8451
How does the data from `ingest-controller` look compared to other ingest datasets (I used dataset instead of fileset here). In general I fileset/dataset are to group together very similar data which is normally the case inside 1 log file. If the data is compeletly different or have different purpose I also think it should be it's own fileset.

Nginx is a bit special here as it allows all this cust

[2018-10-03 08:22] sakurai-youhei opened #8544 "Not LF but CRLF for configuration files in Windows packages"
- Version: 6.4.2
- Operating System: Windows 10 v1803 (build 17134.285)
- Discuss Forum URL: https://discuss.elastic.co/t/could-this-be-a-bug-not-crlf-but-lf-is-used-in-metricbeat-yml-of-windows-package/150809
- Steps to Reproduce: 1) Download one of Beat installation packages for Windows, 2) unzip it and 3) open `xxxbeat.yml` using notepad.

**Current result**

I can't modify the `xxxbeat.yml` be

[2018-10-03 09:37] kvch commented on #8451
@nikolay I think we should introduce a new Ingest pipeline for ingress-controller to decrease the time to find the matching pattern. So letting users select the pipeline they would like to use during processing is not abusing anything. Also, as @ruflin pointed it out, a fileset processes data from a single log file. Is the logs of `ingest-controller` are written to the same file as other nginx log

[2018-10-03 12:21] #7942 closed

[2018-10-03 13:11] ccottam opened #8546 "package conflicts"
The apt/rpm elastic and oss packages should conflict with each other. You can't successfully install both versions of a package at the same time so they should conflict with each other.

Both RPM and DEB packages support a Conflicts field to support this
eg
filebeat conflicts with filebeat-oss and filebeat-oss conflicts with filebeat.

If you had filebeat installed and tried to install filebeat-os

[2018-10-03 13:21] exekias commented on #8451
Something to take into account here is also easiness of the configuration. Using module parameters is ok, but things like that are not available in autodiscover (at least not as of today). We may want to consider the specific module because of that.

I think this ties to how we handle pipelines & modules, I think it worth a discussion for the the longer term.

[2018-10-03 13:59] exekias commented on #8498
Thank you for opening this @mathroc, I agree we can and should provide more tools to let you choose the network. we can probably provide `networks.yournetwork.host` field in the autodiscover event

[2018-10-03 16:01] andrewkroh opened #8549 "tar.gz packages for Darwin have unexpected /Library dir"
The Elastic licensed tar.gz packages for darwin have an unexpected /Library directory.

[code]

[2018-10-03 16:06] andrewkroh commented on #8549
I think I see the issue. This has the wrong path for a tar.gz package. Would you mind double-checking me on this @exekias.

https://github.com/elastic/beats/blob/5f1f94706641cda7cf9cf4c29fb8a1b181946d50/dev-tools/packaging/packages.yml#L360-L362

[2018-10-03 16:14] pohzipohzi commented on #6191
@cwurm I was thinking if mongoDB overwrites one of the opcodes in future, this solution might become a problem. However assuming that that does not happen this is a fine option.

@adriansr I agree that querying mongoDB is not the way to go. I have not explored looking at version protocols, but I think I shall stick with @cwurm 's solution for now.

Thanks for the input!

[2018-10-03 16:43] exekias commented on #8549
Ups, yes you are right, I think I mixed binary tar.gz with dmg distributions?

[2018-10-03 19:47] andrewvc opened #8552 "Support Autodiscover hints in heartbeat"
Currently heartbeat autodiscovery does not support hints, but it could and should.

[2018-10-03 20:14] nikolay commented on #8451
@kvch It's abusing it as in the case of Nginx, an instance have all filesets, they are just in different formats. Like MySQL slow log, etc. In the Nginx example, the error log and the access log are always present. So, you want to add a third fileset, which actually is a variant of the access log - it will be confusing and an abuse of your original design. Well, if you add a "variant" or "flavor"

[2018-10-03 20:36] ndubss opened #8556 "reload.go does not check for auditd rule changes"
Hello, we have set the config reloader to check every 30 seconds.

This loads successfully: 2018-10-03T13:31:15.200-0700	INFO	cfgfile/reload.go:141	Config reloader started

BUT, when you implement new auditd rules, these are not checked and auditbeat must be reloaded for the changes to deploy.

[2018-10-03 20:51] andrewkroh commented on #8556
Are you referring to the `/etc/auditbeat/audit.rules.d/*` files? Those are not monitored for changes at the moment, but that would be nice to add in the future.

The `/etc/auditbeat/modules.d/*yml` files should be reloaded along the lines of what's described [here](https://www.elastic.co/guide/en/beats/auditbeat/current/auditbeat-configuration-reloading.html).

[2018-10-03 21:21] adriansr opened #8558 "Auditbeat doesn't start due to corrupt meta.json"
@xeraa reports a fresh install of Auditbeat 6.4.2 on a fresh VM fails to start due to a corrupted `meta.json`.

[code]

meta.json is empty:
[code]

Auditbeat started fine after the file is removed.

- [ ] investigate what could've caused the empty file in the first place.
- [ ] (discuss) consider not failing startup when loading `meta.json` files.

For confirmed bugs, please report:
- Version: 6.4

[2018-10-03 21:36] exekias commented on #8558
Do we have the contents of the broken meta file?

Note about starting without it: some subsystems (like monitoring or management) use the UUID to identify themselves, starting without it or regenerating it, could cause issues there.

[2018-10-03 21:38] xeraa commented on #8558
The file was just empty:

[code]

[2018-10-03 22:10] exekias commented on #8558
Some day I'll learn to read :innocent:, thanks

[2018-10-03 22:35] exekias commented on #7028
Pull request to merge Central Management branch to Beats master is now open: https://github.com/elastic/beats/pull/8559

I plan to backport elastic/elasticsearch#30520 & elastic/stack-docs#80 to `6.x` tomorrow, I may need a hand with that if you have some time @ycombinator :smiley_cat:

[2018-10-03 22:44] exekias commented on #3861
@ruflin I understand #8559 would close this one?

[2018-10-04 08:28] weichuliu opened #8563 "Kafka output config should remove "worker""
For confirmed bugs, please report:
- Version: 6.4

In https://www.elastic.co/guide/en/beats/filebeat/master/kafka-output.html there's `worker` config for Kafka

But actually it's removed in commit `eefdbd6f0a4ad64bf3208f7dc27a9805136c4bf3` (just did a rough search)

The `worker` in Kafka conf should be removed from the doc

[2018-10-04 08:30] weichuliu commented on #8563
Of course, the flag should also be removed from all configuration examples, if exists.

[2018-10-04 08:50] vbohata opened #8564 "Bug in http.request/response.header beats vs template name"
There is a difference between templates and real event fields generated by metricbeat. According to doc and (https://github.com/elastic/beats/blob/99824df163863478d27688206e18ec27bc1b3ac5/metricbeat/module/http/json/json.go ... if I am not looking in wrong place) it generates field http.request.headers and http.response.headers. But in template there is http.request.header and http.response.header

[2018-10-04 08:57] kvch commented on #8451
I agree with you. I think we are thinking about the same thing when you speak about "flavor" and I do about pipeline versioning. We need something which takes care of different variants of the same logs under the same path.
However, until we don't have versioned pipelines or flavors, I would separate this pattern from the existing pipeline.

[2018-10-04 11:47] jsoriano opened #8566 "Add support for GET method in Jolokia metricbeat module"
Current Jolokia module makes requests using POST method, but depending on the environment where Jolokia agent is deployed, POST method can be unavilable.

Jolokia also supports GET method, the module could have an option to select the method used.

Using GET method with Jolokia is a bit tricky, as parameters need to be carefully escaped and sent in the query parameters instead of using the request

[2018-10-04 11:55] #7032 closed

[2018-10-04 12:19] ruflin commented on #8564
This indeed seems to be a bug. Thanks for raising. @sayden Could you have a look?

[2018-10-04 12:26] ycombinator opened #8568 "Provide a shortcut command to configure monitoring with metricbeat"
Users will soon be able to monitor Elasticsearch and Kibana via Metricbeat. That is, users will be able to configure Metricbeat to point to Elasticsearch nodes and Kibana instance(s) to collect monitoring data from them, and ship that data into `.monitoring-*` indices in order to drive the Monitoring UI in Kibana.

However, setting this up is a multi-step process. TODO: ADD LINK TO DOC SHOWING MUL

[2018-10-04 14:07] ycombinator commented on #7028
@exekias Backport PRs are up: https://github.com/elastic/elasticsearch/pull/34305 and https://github.com/elastic/stack-docs/pull/124.

[2018-10-04 17:01] beylisstan opened #8574 "missing kubernetes.container.cpu.usage.node.pct field in docs sending by metribeat"
- Version:
docker.elastic.co/beats/metricbeat:6.4.2

- Operating System:
minikube on ubuntu1604

- Steps to Reproduce:

kubectl appfy -f  metricbeat-kubernetes-daemonset.yaml

cat metricbeat-kubernetes-daemonset.yaml
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: metricbeat-daemonset-config
  namespace: monitoring
  labels:
    k8s-app: metricbeat
data:
  metricbeat.yml: |-
    metricbeat.co

[2018-10-04 17:44] YuheChen commented on #8540
Hi, @exekias

The latest documentation states that the docker module has not been tested on Windows. Do you know if the module has been tested on Windows?
https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-module-docker.html

I changed the host in docker.yml and now I'm able to get some container metrics. However, I don't see container memory metric. I enable memory in docker.yml

[2018-10-04 20:05] manios commented on #8566
Hello!

May I try to take up this issue? Some first thoughts for discussion:

1. Regarding configuration, shall we add a new ```http_method``` parameter to ```config.yml``` which by default will have the value ```POST``` and can accept ```GET``` as well?
1. Regarding the special path parameter treatment of ```GET``` method, is ```GET``` request going to use this form ```<base-url>/<type>/<arg1>/<a

[2018-10-04 22:01] ndubss commented on #8556
Yes, that's exactly the issue. We are trying to make this more dynamic and right now, this would be the only reason why we would need to restart all the agents. Please consider supporting this :)

[2018-10-05 00:00] dedemorton opened #8578 "Restructuring: use attribute to resolve libbeat paths"
Right now, the path to libbeat is hard coded. It should be a variable. For example:

`:libbeat-path: ../../libbeat`

`include::{libbeat-path}/docs/shared-beats-attributes.asciidoc[]`

That way, if we move the docs folder in relation to libbeat, we can update the path in one place.

[2018-10-05 05:16] zhaoyun006 opened #8580 "pipeline/output.go:74 Failed to connect: Connection marked as failed because the onConnect callback failed: Error loading Elasticsearch template: error creating template from file /etc/filebeat/fields.yml: open /etc/filebeat/fields.yml: no such file or directory"
I deploy filebeat in docker container

Logs appear as follows

2018-10-05T13:08:47.972+0800    INFO    elasticsearch/client.go:690     Connected to Elasticsearch version 6.4.2
2018-10-05T13:08:47.973+0800    INFO    template/load.go:55     Loading template for Elasticsearch version: 6.4.2
pipeline/output.go:74   Failed to connect: Connection marked as failed because the onConnect callback failed:

[2018-10-05 06:17] ruflin commented on #8451
I quite like the syntax that @nikolay used do describe a "flavor/version". An alternative would be to use `access:ingress-controller`. Both separator would be unique and should not show up in a fileset name itself.

[2018-10-05 07:20] ruflin commented on #8473
As https://github.com/elastic/beats/pull/8508 was merged, can we close this issue? @sayden ?

[2018-10-05 09:10] Sialagio commented on #6584
Hello folks,

+1 on the requirement, but ...

When checking around, system.filesystem does not return all mount points of Windows.
For this reason, we used the perf counter.
Drawback is that events are independent, meaning that we need 2 events to get both percentage + Free MegaBytes.

Three options here :
- Merge both events when using logstash, but it is a really dirty solution.
- Update system.

[2018-10-05 09:27] exekias commented on #8574
Hi @beylisstan, thank you for your detailed report, could you please attach your logs from Metricbeat? I'm particularly interested in the start of the process and following minutes

[2018-10-05 10:08] jsoriano commented on #8566
Hi @manios, thanks for offering your help on this issue! :slightly_smiling_face:

I will assign this issue to you, but feel free to ping me for any question.

Yes, we should add a new parameter, `http_method` with `POST` by default looks good to me.

Yes, I guess we will have to build this kind of urls.

Thanks for looking for the unavailable features! :smile:

I'd throw an error as the configurat

[2018-10-05 10:12] jsoriano commented on #8580
Hi @zhaoyun006,

Could you please ask this question in https://discuss.elastic.co/ ? If it is confirmed to be some kind of bug you can reopen this issue, I'm closing it by now.

Thanks!

[2018-10-05 10:12] #8580 closed

[2018-10-05 10:16] jsoriano commented on #8566
@manios I think I cannot assign this issue to you, but you can take it, feel free to open a PR.

[2018-10-05 10:36] manios commented on #8566
@jsoriano Thanks for the clarifications! I will start it and make a PR when ready! Cheers!

[2018-10-05 12:33] jsoriano commented on #7552
[govmomi 0.19.0](https://github.com/vmware/govmomi/releases/tag/v0.19.0) was released 5 days ago, including the support for tags API, we could continue with this if someone is interested to open a PR :slightly_smiling_face:

[2018-10-05 15:15] ycombinator commented on #8568
Replaced by https://github.com/elastic/stack-monitoring/issues/9

[2018-10-05 15:15] #8568 closed

[2018-10-05 15:49] #8253 closed

[2018-10-05 16:27] andrewvc opened #8588 "Heartbeat using closed connections for body checks with TLS"
Looking at this thread https://discuss.elastic.co/t/heartbeat-http-use-of-closed-network-connection/147876 it appears we may have a bug with our socket lifecycle with TLS connections.

Seems like we possibly close the conn too early.

[2018-10-06 06:06] #8521 closed

[2018-10-08 08:13] beylisstan commented on #8574
2018-10-08T07:47:26.925Z	INFO	instance/beat.go:544	Home path: [/usr/share/metricbeat] Config path: [/usr/share/metricbeat] Data path: [/usr/share/metricbeat/data] Logs path: [/usr/share/metricbeat/logs]
2018-10-08T07:47:26.927Z	INFO	instance/beat.go:551	Beat UUID: ce6321e7-62d5-4788-ad55-60bfc5e9020b
2018-10-08T07:47:26.928Z	INFO	[seccomp]	seccomp/seccomp.go:116	Syscall filter successfully install

[2018-10-08 08:16] beylisstan commented on #8574
Only one error what i see from this log:
2018-10-08T07:47:56.645Z	ERROR	kubernetes/util.go:90	kubernetes: Querying for pod failed with error: %!(EXTRA string=kubernetes api: Failure 404 pods "ubuntu1604" not found)

I am not sure that this error related with my issue.

[2018-10-08 19:57] mathroc commented on #8498
if I have the time to install golang and setup a dev environment for this I'll give it a try, but if someone already know how to write go, please don't wait for me :angel:

looks like it should be done here in `emitContainer` https://github.com/elastic/beats/blob/master/libbeat/autodiscover/providers/docker/docker.go#L118

[2018-10-09 03:12] DigitalTargit commented on #8388
Hey there ... Yeah I removed my  account and created a new one. So I'll just re-add my earlier comments 👍

the time that I'm talking about is the time on the file itself ... the messages in the file have no timestamps on them ... and they are all files created between 9/14/2018 @ 12:00:00 to 9/17/2018 @ 18:00:00

I'm sure elastic has had customers that inadvertently blown away a day of an index in

[2018-10-09 06:22] 1sunil1 opened #8598 "Can someone share customized Beats for windows"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

For confirmed bugs, please

[2018-10-09 12:01] jain108shubhamtbt opened #8599 "Need service for filebeat install and uninstall through cmd in windows platform ?"
This is not running in cmd.

# Delete and stop the service if it already exists.
if (Get-Service filebeat -ErrorAction SilentlyContinue) {
  $service = Get-WmiObject -Class Win32_Service -Filter "name='filebeat'"
  $service.StopService()
  Start-Sleep -s 1
  $service.delete()
}

$workdir = Split-Path $MyInvocation.MyCommand.Path

# Create the new service.
New-Service -name filebeat `
  -displayNam

[2018-10-09 12:03] jain108shubhamtbt commented on #8599
# Filebeat version

filebeat-6.4.2-windows-x86_64

[2018-10-09 13:17] jain108shubhamtbt opened #8600 "Getting ERROR when run .ps1 file in powershell in filebeat filebeat-6.4.2-windows-x86_64 ?"
When running install-service-filebeat.ps1 and uninstall-service-filebeat.ps1 getting error .

PS C:\filebeat-6.4.2-windows-x86_64\filebeat-6.4.2-windows-x86_64>.\install-service-filebeat.ps1
.\install-service-filebeat.ps1 : File
C:\Users\shubham.jain\Downloads\filebeat-6.4.2-windows-x86_64\filebeat-6.4.2-windows-x86_64\install-service-filebeat.ps1 cannot be loaded because
running scripts is disabl

[2018-10-09 15:59] ivan-mezentsev commented on #637
+1 for gzip support

[2018-10-10 08:32] zqc0512 opened #8601 "filebeat bug with 6.4.2"
like at: https://discuss.elastic.co/t/filebeat-6-4-2-the-timestamp-is-not-right/151748

Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See htt

[2018-10-10 09:08] tomrade opened #8602 "Two Protocols on the same port"
Hey more of a question, We use a proxy and have TLS and HTTP on the same port "3128", at the moment packetbeat uses port mappings to decide protocol decode, and we cant try and use TLS and HTTP on the port as packetbeat errors on startup. Can we

* Have duplicate port config and ignore errors ie if a packet fails http, drop, then in theory the TLS one will parse a message
* are there any plans for

[2018-10-10 10:42] #8077 closed

[2018-10-10 17:10] martinfmeneses commented on #637
+1 for gzip support

[2018-10-10 23:56] forana opened #8603 "Docs incorrectly list `d` (days) as allowed time unit"
- Version: 6.4.2
- Operating System: n/a
- Discuss Forum URL: n/a
- Steps to Reproduce:  visit https://www.elastic.co/guide/en/elasticsearch/reference/current/common-options.html#time-units

`d` is _not_ a valid time unit for `time.Duration` strings. `beats` uses [elastic/go-ucfg](https://github.com/elastic/go-ucfg)'s `Config` object, which internally passes to [time.ParseDuration](https://golang.

[2018-10-11 14:35] alastairs commented on #6111
I came across this issue after hitting an error running filebeat with the traefik module against traefik 1.6 on Kubernetes:
[code]
Is the traefik module currently broken? I see the PR is somewhat stalled; is there anything I can do to help it along?

[2018-10-11 16:24] kristian-kocher opened #8605 "File permissions in .deb package"
When installing beats from the .deb packages on a system that uses systemd the daemons start but due to wrong file system permissions there is unintended log noise.

Filebeat package issue:
`systemd[1]: Configuration file /lib/systemd/system/filebeat.service is marked executable. Please remove executable permission bits. Proceeding anyway.`
Auditbeat package issue:
`systemd[1]: Configuration file

[2018-10-11 21:43] obfuscatedc0de commented on #637
+1 for gzip support

[2018-10-12 01:12] 0x4D31 commented on #7970
@andrewkroh Looking forward to this. And then I can help adding support for HASSH (https://github.com/salesforce/hassh).

[2018-10-12 08:28] faulander commented on #8088
any news here? Running into the same problem ...

[2018-10-12 08:29] faulander commented on #8600
as your error message clearly shows, execution of scripts is disabled. Did you open Powershell as Admin?

[2018-10-12 08:30] faulander commented on #8598
What are you expecting from a request like this?
What do you want to achieve?

[2018-10-12 08:35] tuthan commented on #6191
Waiting for this one. Our MongoDB monitoring use this and we are going to upgrade to MongoDB 4.0 on PROD this week. After that we will lose the ability to see the MongoDB traffic.

[2018-10-12 08:57] 1sunil1 commented on #8598
i wanted to run the beats from community beats in windows...

[2018-10-12 09:41] jmkgreen commented on #7633
You're talking about the logs Filebeat is reading, and not the logs Filebeat produces itself which is another way of reading the current title.

[2018-10-12 18:19] roncohen opened #8607 "fields.yml is ignored but still shipped with packages"
For 6.4 and possibly earlier versions, `fields.yml` is embedded in the binaries. `fields.yml` is still included in packages, but is ignored.
Looks like `#setup.template.fields: "${path.config}/fields.yml"` should be on by default

[2018-10-12 18:35] zvanderbilt commented on #6531
I would also like to see this feature implemented

[2018-10-12 23:07] andrewkroh commented on #8599
We provide scripts for PowerShell, not cmd.exe. See [Getting Started](https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-installation.html).

[2018-10-12 23:07] #8599 closed

[2018-10-12 23:17] andrewkroh commented on #8603
Beats has its own [config file data types documentation](https://www.elastic.co/guide/en/beats/libbeat/current/config-file-format-type.html#_duration) that does not mention `d`. You are looking at Elasticsearch's documentation. The two projects don't share the same config parsing code so unfortunately there are some differences.

[2018-10-12 23:17] #8603 closed

[2018-10-12 23:19] andrewkroh commented on #8605
This is a duplicate of #7873 so I'm going to close it. If you upgrade to a newer version the issue should be fixed.

[2018-10-12 23:19] #8605 closed

[2018-10-12 23:22] urso opened #8608 "Document filebeat modules ingest node updates"
- Add `filebeat.overwrite_pipelines` setting to reference docs.
- Document when/how to update ingest node pipelines if a module setting which requires an update is applied.

[2018-10-13 08:47] ruflin commented on #8607
The change was made in https://github.com/elastic/beats/pull/4834 I remember the thinking around setting it off by default was that previously we didn't document / recommend to modify fields.yml so it was not considered breaking change.

Long term I'm thinking the fields.yml should be removed and for modifications `append_fields` should be used. There should be an option to export the fiel for mod

[2018-10-14 22:35] jsoriano opened #8614 "Collect SMART data with metricbeat"
Data provided by [SMART](https://en.wikipedia.org/wiki/S.M.A.R.T.) is useful to detect failures on disks or to prevent incidences caused by disk degradation. It'd be nice to add a system metricset that collects this information.

SMART data is usually collected using [smartmontools](https://www.smartmontools.org/), we may need to find a golang-based alternative for that.

[2018-10-14 22:54] AlyRagab commented on #6111
This issue is not resolved in Traefik v1.7.2

[2018-10-15 05:12] kimown opened #8616 "Provided Grok expressions do not match field value:"
![image](https://user-images.githubusercontent.com/7932380/46931063-f680ef80-d07b-11e8-82b7-9a1b9e6090af.png)

my raw log:

[code]

patterns:

[code]

I have tested this in grok debugger

![image](https://user-images.githubusercontent.com/7932380/46931049-d9e4b780-d07b-11e8-99df-5be1aa2f6d49.png)

[2018-10-15 11:02] ruflin commented on #6111
Seems like we have 2 open PR's which could be related to this:

* https://github.com/elastic/beats/pull/6488
* https://github.com/elastic/beats/pull/6136

We should push these forward to make it into the code.

[2018-10-15 11:08] sayden commented on #8614
I found this library that could potentially help with the implementation https://github.com/dswarbrick/smart

[2018-10-15 11:17] wheelq commented on #2842
Same issue here

[2018-10-15 11:44] fenchu commented on #637
Gentlemen Splunk can read *.gz as is, and has for years. My problem is that my *.gz files are ~20GB and beyond my control. Currently I run in scheduler:
`7z.exe e -oc *.gz* | logstash.bat -f sensioproxy.grok`
or:
`7z.exe e -oc *.gz* |  filebeat.exe -once -e -c "sensioproxy-filebeat.yml"` to a logstash on elk-server

This works somewhat, but the `zcat|7z.exe e -oc` is way faster than the logstash|f

[2018-10-15 14:51] lnxg33k commented on #4521
That also happens with IIS module

[2018-10-15 20:29] a-abella commented on #8203
I'm experiencing similar behavior on 6.4.2 (also saw same behavior on 6.4.1) when restarting Filebeat. I'm using docker autodiscover and setting module inputs on container streams.

On first run (no registry file exists), harvesters start up without a problem. On service restart (registry file exists), a few containers exhibit the CRI timestamp problem. To workaround, I have to stop Filebeat, remo

[2018-10-16 14:43] jsoriano commented on #8614
Other option could be to parse `smartd` logs with filebeat.

[2018-10-16 17:48] ksemaev commented on #7955
@kvch the current situation is - we have both systemd and syslog type of logs at the same time on most of operating systems. That is not truely desirable to have two type of beats running on each instance just because of different log types. As I see - journalbeat is like fluentd - it just supports journald logs. Do we have any beat that can handle both systemd and syslog types of logs?

[2018-10-17 03:39] kunichan2013 commented on #149
+1

[2018-10-17 09:38] kvch commented on #7955
Unfortunately, right now there is no Beat which supports both inputs at the same time. However, we are still planning to add journald input to Filebeat. The necessary refactoring are in progress, but we don't know exactly when the new input going to be added.

For users who does not mind running a separate Beat to collect journald entries we would like to provide a new Journalbeat in a future rele

[2018-10-17 14:14] jshvrsn opened #8633 "Color ranges broken in Metricbeat visualizations"
- Version: 6.4.2
- Operating System: Ubunutu 18.04
- Discuss Forum URL: https://discuss.elastic.co/t/color-ranges-broken-in-metricbeat-visualizations/151926
- Steps to Reproduce:
1. Open, for example, "Memory Usage Gauge [Metricbeat System]" visualization in the Kibana visualization editor.
2. Go to the "Panel Options" tab.
3. Look at "Set gauge color to and text color to if metric is" and see tha

[2018-10-17 14:47] ph opened #8635 "Make functionbeat prefix configuration for cloudformation template"
Currently, all the resources created in the _cloudformation_ template are prefixed with **blt**, we should make them configuration by the user and we should document them.

[2018-10-18 09:29] exekias commented on #8574
Sorry for the late response. Yes it is, please have a look to the newer manifests we provide, we are now passing the `NODE_NAME` to the config settings, so Metricbeat doesn't need to guess it. Once you get that fixed the error will go away, and probably the `pct` fields will be present.

I'm closing this as fixed, please reopen if the new manifest doesn't help: https://github.com/elastic/beats/blo

[2018-10-18 09:29] #8574 closed

[2018-10-18 09:38] jsoriano opened #8642 "Consolidate python dependencies on CI builds"
Current CI builds use multiple `requirements.txt` files, and still some dependencies are installed using pip directly. We should review that:

* All python dependencies are installed from `requirements.txt` files
* All dependencies have fixed versions
* No python package is installed directly, without being fixed in a `requirements.txt` file, with pip or similar tools

[2018-10-18 12:54] jamesspi opened #8647 "Add support for the "supported_versions" extension in the Packetbeat TLS module."
TLS 1.3 recently went live. The negotiated TLS version is stored in the supported_versions extension rather than the server_hello extension, which still shows up as 1.2 (I believe this was intentional to handle to problem with middleware).

Packetbeat currently picks up the server_hello extension, which for TLS 1.3 will give incorrect results.

Ideally, we start using the supported_versions extens

[2018-10-18 13:10] jsoriano commented on #8563
Hi @weichuliu, thanks for your report.

In principle `worker` should still work, in code you can see it removed from kafka because this functionality was moved to a common place so it can be used with any output.
Did you have any issue with this setting?
I am going to close this by now, if it is causing any problem to you we can reopen, if you need help with configuration, please consider using ht

[2018-10-18 13:10] #8563 closed

[2018-10-18 13:38] tsg commented on #8153
Adding the module checklist:

* [ ] Supported versions are documented
* [ ] Supported operating systems are documented (if applicable)
* [ ] Integration tests
* [ ] System tests
* [ ] Automated checks that all fields are documented
* [ ] Documentation
* [ ] Example `data.json` exists and an automated way to generate it exists (`go test -data`)
* [ ] Fields follow naming conventions: https://www.el

[2018-10-18 16:30] agathver commented on #8614
I would like to work on this

[2018-10-18 17:54] jsoriano commented on #8614
@agathver great! I don't think anyone is working on this yet, so you are welcome to start with this :slightly_smiling_face:

What is the approach you want to try?

Thanks!

[2018-10-18 18:36] ph commented on #7880
@tsg @monicasarbu The todo items in this issue are up to date.

[2018-10-18 18:59] agathver commented on #8614
@jsoriano I feel the smartmontools approach is more robust and mature. The Go library will be easier but has a warning of being experimental.

We already have other modules which require additional software, so this should not be an issue IMO.

[2018-10-18 19:31] jsoriano commented on #8614
I agree in any case that using smartmontools if possible would be preferable to other options.

[2018-10-18 20:12] agathver commented on #8614
My initial idea was to parse the output of `smartctl`. The other alternative is to parse logs by `smartd` which goes into syslog.

[2018-10-18 22:51] andrewvc commented on #8588
This is a tricky one to track down. Turns out this is at least as old as 6.2.0.

One avenue to investigate https://github.com/jasonwbarnett/fileserver/commit/040494994846890aa8b472a0f5339faa69253ee4

will update when I have more...

[2018-10-18 22:52] andrewvc commented on #8588
I should mention this isn't TLS specific, this is simply to do with bodies over a certain size. It appears we terminate the connection early for larger bodies.

[2018-10-19 03:09] andrewvc commented on #8588
Well, it's definitely somewhere in our custom dialer, I'm going to tear it apart tomorrow and isolate the failure.

@urso if you have an idea where the failure might be off the top of your head, LMK. If not, I'm glad to dive in and get my hands dirty with the innards of the dialer chain.

One note, I had thought it might be timeouts being incorrectly set to some tiny value that triggered after a f

[2018-10-19 08:09] akqopensystems commented on #8536
+1

[2018-10-19 11:05] ruflin opened #8655 "Transition Beats to ECS"
With 7.0 Beats will transition to ECS: https://github.com/elastic/ecs This meta issue is to track all changes needed in Beats. The list will be extended over time

# Migration Strategy

The overall migration strategy is to add a alias layer to 7.x which is opt-in to be backward compatible with 6.x data if needed. For some of the core fields used in the Infra / Logging UI aliases are introduced in

[2018-10-19 13:51] andrewvc commented on #8588
OK, well, it took me longer to find than I'd like to admit, but the root cause is here: https://github.com/elastic/beats/blob/master/heartbeat/monitors/active/http/simple_transp.go#L88

Essentially we close the conn before we return from the `RoundTripper`. This is bad because the body is actually read later.

The two options are to:

1. Link the closing of the connection with the closing of the b

[2018-10-19 15:20] ph opened #8662 "Create a threadsafe cache store for processor"
As we add more complex processors to beat a lot of them require some sort of caching mechanism to improve performance. Currently, all processors that need cache are implementing their own caching and their refresh mechanism.

Caching values in a processor require you to do a few stuff:

- Clone values
- Clone cache values
- Add locking mechanism to cached Fields.
- Trigger a refresh of the data ei

[2018-10-19 16:31] ph opened #8663 "The fields.yml file used by Asset packer should be generated in the build directory"
The problem is when you are doing `make update` a fields.yml file is generated in the directory of the beat, this file is under _gitignore_ and not committed to the repository. But the purpose of this temporary file is confusing I propose that instead of generating this file at the root of a beat we should instead generate this file under the `build` directory.

[2018-10-19 16:50] ttapjinda commented on #5556
Hi, do we still need this feature? I have submitted the pull request here https://github.com/elastic/beats/pull/8627
`check_status_interval` have been added to control the frequency of status checking instead of checking when on read error or end of file.
The default behavior will still be the same since this can cause data loss.

[2018-10-19 19:42] hurrycaine commented on #1035
@webmat Logstash pipelines was my argument for filebeat to send to two ports (same server). See my response above. As of right now you can not use filebeat to send logstash that has multiple pipelines.
Or am I missing something.

[2018-10-20 09:42] jsoriano commented on #4665
A dashboard has been merged to master (#8457), we expect to release it in 6.5.0.

[2018-10-20 09:42] #4665 closed

[2018-10-20 09:43] jsoriano commented on #5451
PR with the Kafka dashboard merged into master #8457

[2018-10-20 09:48] jsoriano commented on #3608
A kafka dashboard has been merged to master (#8457) it includes a visualization for consumer lag. This value is still not available as a single value, but it is calculated using offset values from consumergroup and partition metricsets.

It'd be great if you could give a try to it, we plan to release this first dashboard on 6.5.0.

[2018-10-21 19:21] tchiotludo opened #8669 "Move a complete fields tree to another level"
A nice feature will be to allow to move a whole subset of fields to another level
Example, move `docker.container.label.org.myorg.*` to root level without using this syntax for all the fields  :
[code]

An example can be :
[code]

[2018-10-21 22:46] exekias commented on #7979
Just opened https://github.com/elastic/beats/pull/8671 to tackle this

[2018-10-22 11:18] ruflin commented on #8663
The main goal historically was that for running the Beat locally just `./metricbeat` could be used and everything would be in the right place. Unfortunately already today kibana dashboards path as to be set to make it working. Also with the x-pack binaries around it has become more complicated. +1 on moving generated files under `build` to make it more obvious but we should find a way that still m

[2018-10-22 13:46] sayden commented on #8311
I have just added the last bullet about adding the protocol to the module

[2018-10-22 14:01] webmat commented on #1035
@hurrycaine If you want to separate your event streams into multiple pipelines, you can try the [distributor pattern](https://www.elastic.co/guide/en/logstash/current/pipeline-to-pipeline.html#distributor-pattern). Only one output is needed on the Beats side, and the separation of the event streams happens inside Logstash.

For high throughput scenarios like @supernomad describes, you can also hav

[2018-10-22 18:17] andrewkroh commented on #8642
It would be great if we could get to one requirements.txt and one virtual environment directory (like top-level `beats/build/ve`.

Over in beats-tester I have a bit of Makefile logic that automatically updates the virtual env if requirements.txt is changed (based on mod time). https://github.com/elastic/beats-tester/blob/e3f0e831841b819db52da929762b420510c63668/Makefile#L9-L14

[2018-10-22 20:15] sayden commented on #8669
Related Discuss is https://discuss.elastic.co/t/how-to-move-a-complete-fields-tree-to-another-level/152050

[2018-10-22 21:32] gianpietro1 opened #8685 "Metricbeat host network monitor over docker swarm"
Hello,

A containerized Metricbeat requires to use `network_mode: host` to be able to detect and monitor the host's interfaces, however, if deploying a stack in swarm mode with a version 3 compose file, this mode is not available (see: https://docs.docker.com/compose/compose-file/#network_mode)

Would like to request the Elastic team to, if possible, implement an enhancement to overcome this limit

[2018-10-23 05:51] danielkasen opened #8687 "filebeat stats endpoint via socket"
Not sure if this is already being tackled but I couldn't find it. Anyway, is there a way to expose the _stats API endpoint via a socket opposed to a network port? Since we run filebeat everywhere it's hard to ensure a port number that would be free and I believe it would be a safer process as I can have a user that has access to these metrics vs anyone on the machine. Not sure if this is tied into

[2018-10-23 08:52] #7979 closed

[2018-10-23 09:22] jsoriano commented on #8685
Hi @gianpietro1,

I think this is more a limitation on docker swarm than on metricbeat, and indeed there is an [open discussion in this project](https://github.com/docker/swarmkit/issues/989) about that. Other container orchestrators as Kubernetes support host network mode.

This mode is required to access the same network namespace as the host, what is needed to monitor its network interfaces, so

[2018-10-23 09:48] jsoriano commented on #8685
Hi @gianpietro1 again,

I replied too fast :slightly_smiling_face:, after talking with @exekias offline about this issue he pointed that we could indeed obtain the information we use mounting the host proc filesystem into the container. We already do something like that to collect process information from the host. Here it'd be a bit different because we use a different library, but it'd be defini

[2018-10-23 11:54] yaronp68 opened #8694 "Metricbeat - collect IOWait for monitored process"
### What:
Collect CPU IOWait for a monitored process.

### Why:
IOWait is important because it often is a key metric to know if you're bottlenecked on IO.
IOWait is a good indication for  slow storage device that can't provide enough IOPS for an application (typically a database)

[2018-10-23 11:57] yaronp68 commented on #423
Closing this one and replacing by https://github.com/elastic/beats/issues/8694

[2018-10-23 11:57] #423 closed

[2018-10-23 14:28] sayden opened #8697 "Consul Metricbeat module"
This is the checklist for releasing Consul Metricbeat module to GA.

## Planned functionality
* [ ] Agent metricset
* [ ] Master metricset

## GA

* [ ] Supported versions are documented
* [ ] Supported operating systems are documented (if applicable)
* [ ] Integration tests
* [ ] System tests
* [ ] Automated checks that all fields are documented
* [ ] Documentation
* [ ] Example `data.json` exist

[2018-10-23 14:31] sayden opened #8698 "MS SQL Metricbeat module"
This is the checklist for releasing Microsoft SQL Metricbeat module to GA.

* [X] `db` metricset https://github.com/elastic/beats/pull/9414 (merged)
  * [X] Supported versions are documented
  * [X] Supported operating systems are documented (if applicable)
  * [X] Integration tests
  * [X] System tests
  * [X] Automated checks that all fields are documented
  * [X] Documentation
  * [X] Example `

[2018-10-23 14:48] opsnull opened #8701 "Filesystem metricset of metricbeat (running in docker ) system module can’t get host filesystem statistics"
Version: metricbeat 6.4.1
Operating System: CentOS 7.5
Discuss Forum URL: [filesystem](https://discuss.elastic.co/t/filesystem-metricset-of-metricbeat-running-in-docker-system-module-cant-get-host-filesystem-statistics/152987)

Steps to Reproduce:

My metcibeat yaml is following：

[code]

However，filesystem metricset can't get host filesystem statistics:

![image](https://user-images.githubusercon

[2018-10-23 15:47] ycombinator opened #8704 "Look into HTTP pipelining for metricsets' HTTP calls"
Over the past few months, we've been developing Elastic stack modules in Metricbeat. Consider the case of monitoring Elasticsearch with Metricbeat. This is accomplished by various metricsets under the `elasticsearch` module.

In order to obtain all the necessary monitoring information from Elasticsearch via its REST APIs, these metricsets end up making several Elasticsearch HTTP API calls. Here is

[2018-10-23 15:48] ycombinator commented on #8704
/cc @ruflin

[2018-10-23 18:43] urso opened #8711 "Delay Start of Beats as Windows Service"
According to https://github.com/golang/go/issues/23479 go based service can hang and time out on startup while Windows is Booting. The `main` Function might not even be executed in this time span.

Configuring delayed auto startup seems to resolve the issue. Setting the registry key `HKLM\SYSTEM\CurrentControlSet\services\<service name>\DelayedAutostart` to 1 will mark the process as delayed. Some

[2018-10-23 18:50] andrewkroh commented on #8711
To implement this we need to add some PowerShell scripting to [install-service.ps1](https://github.com/elastic/beats/blob/master/dev-tools/packaging/templates/windows/install-service.ps1.tmpl) that sets the registry keys associated with the service. Then do some testing to make sure that it works across Windows versions.

[2018-10-23 19:49] ruflin commented on #8687
Hi @danielkasen. Thanks for bring this up. It's actually something we discussed in the past that we would like to do as an alternative to the http endpoint for all the above reasons. I don't think having a socket available would be related to the registry file.

@andrewkroh @urso FYI

[2018-10-23 20:37] #8588 closed

[2018-10-23 20:38] opoplawski opened #8716 "Parse ISO8601 timestamps by default"
See https://discuss.elastic.co/t/change-grok-in-filebeat-log-input/144358 for some discussion

For confirmed bugs, please report:
- Version: filebeat-6.4.2-1.x86_64
- Operating System: EL7

SUSE apparently is using:

2018-08-14T14:30:02.203151+02:00

I'm seeing it as well with rsyslog native timestamp on RHEL 7, which I suspect is what SUSE is using.

[2018-10-23 22:45] rwaight commented on #8711
Since we are using PowerShell to create a service, we can use PowerShell to set it to delayed start *after* creating the service.  For filebeat, this would be something like:
[code]
You could obviously pass whatever service when you declare $svcDelayed

Please let me know if you would like some help with this, thanks!

[2018-10-24 10:13] cwurm opened #8725 "[Auditbeat] System module 6.6"
This is the meta issue for the release of the first version of the Auditbeat system module.

Further tasks are tracked in the [backlog issue](https://github.com/elastic/beats/issues/9344).

## General

- [x] Implement `host.id` for darwin (done: https://github.com/elastic/go-sysinfo/pull/31)
- [x] Populate `message` (done: https://github.com/elastic/beats/pull/9483)
- [x] Add new fields to `fields

[2018-10-24 11:26] amitavmohanty01 opened #8727 "[Discuss][Design Philosophy] Distributed parsing vs centralized"
The current architecture mandates a certain way of interaction between Filebeat and Logstash in which some processing is done in Filebeat and some more processing is offloaded to Logstash. A typical setup will have Filebeat (or any other beat) setup on many machines pushing data to a set of logstash machines located centrally.

This raises the following questions:
1. Why can't we do the log proces

[2018-10-24 15:06] lucabelluccini opened #8731 "Enhancement - Metricbeat is not able to run if it has no write access to path.data"
- Beat Version: 6.x
- Steps to Reproduce:
  - Follow the steps at this [link](https://www.elastic.co/guide/en/beats/metricbeat/current/running-on-kubernetes.html) on a system where the filesystem is read-only.
  - It will stop with `Failed to create the Beat meta file`

I am aware this is somehow related to https://github.com/elastic/beats-docker/issues/3 and https://github.com/elastic/beats/issue

[2018-10-24 19:48] #8711 closed

[2018-10-24 21:53] andrewvc opened #8740 "Add test for invalid configs to `manager_test.go`"
Moved from this comment: https://github.com/elastic/beats/pull/8726#discussion_r227895110 .

We need to add a test for what happens with central config when invalid configs are registered. We currently only test for the scenario where configs work.

[2018-10-25 03:26] wangqinghuan opened #8745 "POST /_bulk?timeout=1m: first path segment in URL cannot contain colon"
For confirmed bugs, please report:
- Version: packetbeat-6.4.2-linux-x86_64.tar.gz
- Operating System:  centos 6
- Steps to Reproduce: I dont know the patterns to reproduce and only small number of request occurs this problem.
I run a packetbeat in centos to collect all http transaction. After startup, packetbeat reports some warn log as follows:
[code]
In normal case, the request URL "POST /_bulk

[2018-10-25 13:31] lihang-gong opened #8748 "How to deal with large number of files in a single directory"
Filebeat scans the whole directory to get files which needs to be collected. But when there is a large number of files in the directory, filebeat creates multiple goroutines to collect files causing high I/O wait. Can anyone help me?

For confirmed bugs, please report:
- Version: 6.3.2
- Operating System: centos7
- Discuss Forum URL: https://discuss.elastic.co/t/how-to-deal-with-large-number-of-fi

[2018-10-25 14:29] ph commented on #8598
@1sunil1 I don't think we can help in that case, We generate windows binaries for all the official beats. We provide the framework that dev can use to creates binaries. If you want a windows binary from a specific community beat you will have to ask the author.

I will close this issue, because it's not something we can help further.

[2018-10-25 14:29] #8598 closed, assigned to nobody

[2018-10-25 14:34] ph commented on #8503
@jain108shubhamtbt If I understand correctly you want that filebeat logs get compressed when we rotate them?

[2018-10-25 14:53] hhoover opened #8749 "filebeat add_kubernetes_metadata and IPv6"
When using filebeat in a Kubernetes cluster as a pod, using the add_kubernetes_metadata processor, the processor can't handle IPv6 addresses if an IPv6 address resolves from https://kubernetes.default.svc.cluster.local. The parser freaks out on the colons in the address. I don't know if this is an issue in an underlying library or Filebeat itself.

Secondary to this issue, it would be nice to prov

[2018-10-25 14:56] hhoover commented on #8749
more errors:

[code]

[2018-10-25 16:01] jsoriano commented on #8749
I think that at least a related problem can be in the client library (https://github.com/ericchiang/k8s/blob/d1bbc0cffaf9849ddcae7b9efffae33e2dd52e9a/client.go#L225), I'll investigate this one.

[2018-10-25 17:04] amitavmohanty01 commented on #8727
My question was regarding the design philosophy and not the usage. The explanations you have provided are valid and I am aware of those. I put the question here because it is about how we should look at the design of beats.

I also provided a concrete example in support of my ideas. I request you to re-open the thread for discussing the design philosophy and goals.

[2018-10-26 06:57] Oliboy50 commented on #714
will this be handled by Filebeat one day? 🤞

[2018-10-26 07:57] johtani opened #8759 "[Docs] Duplicate envoyproxy in metricbeat modules"
Duplicate envoyproxy in Table of Contents for metricbeat

<img width="912" alt="screen shot 2018-10-26 at 16 06 47" src="https://user-images.githubusercontent.com/1142449/47552551-ed2b3900-d93f-11e8-893f-f2d795765486.png">

And the envoyproxy module page is separated. It should be 1 page.
Page 1: https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-module-envoyproxy.html
Page 2: htt

[2018-10-26 10:39] #8749 closed

[2018-10-26 12:01] sohaibomr commented on #372
Do you plan to implement domloadtime, connecttime, and loadtime measurements or they are left for good?

[2018-10-26 12:59] webmat commented on #8727
For your questions 1 and 2, we have been adding new processors to Beats, so this need is acknowledged, and we're working on it. From 8 processors [in 6.0](https://www.elastic.co/guide/en/beats/filebeat/6.0/filtering-and-enhancing-data.html), we've gone up to 11 [in 6.4](https://www.elastic.co/guide/en/beats/filebeat/6.4/filtering-and-enhancing-data.html), and 13 [in the imminent 6.5 release](https

[2018-10-26 13:26] havlan opened #8764 "(Feature request) Filebeat event type comparison (autodiscover)"
[Use case discussed on forums](https://discuss.elastic.co/t/filebeat-rename-processor-with-conditions/153371/2)
This is sort of a special use case which involves using Filebeat autodiscover running as a daemonset in Kubernetes. Our use case is to do some logic based solely on event values coming from pods/containers. When having a sidecar container setup we lack the possibility to match an annotat

[2018-10-26 15:28] danielkasen commented on #8687
Cool, glad to see it's in the discussions :+1:

[2018-10-26 16:13] jsoriano commented on #428
As mentioned in the original discuss thread, this is caused by a limitation in the operating systems, the `comm` value, used for process names in Linux, is limited to 16 bytes including the termination null, so I think there is little we can do against that. Other POSIX systems as OSX have probably similar limitations too.

As a workaround, users may use other fields to identify processes, as ` sy

[2018-10-26 16:13] #428 closed

[2018-10-27 10:44] dmitryzykov opened #8773 "[filebeat] Failed to parse kubernetes.labels.app"
I'm using [helm/stable/filebeat](https://github.com/helm/charts/tree/master/stable/filebeat) which is based on `docker.elastic.co/beats/filebeat-oss:6.4.2`
all other components are also oss:6.4.2

I'm having a problem when filebeat failed to parse kubernetes.labels.app for many containers.

This is `filebeat` log when I'm sending directly to elasticsearch:
[code]

and this is the same error from `

[2018-10-29 09:18] ruflin commented on #8759
Thanks @johtani for pointing this out. @sayden Can you have a look at this? I think the issue is that we have the title on the module asciidoc but switched to generating it automatically a few months ago so it needs removal in the module asciidoc.

[2018-10-29 10:39] OffColour opened #8775 "Enhancement: Filebeat exclude lines before parsing JSON"
Currently, exclude_lines only works with JSON fields that are at the root. This makes it difficult to structure the JSON neatly if the check to exclude sits on a sub value or the data has to get shipped to logstash before being dropped.

Either parsing the JSON after the exclude or being able to exclude on sub values would be a great enhancement.

[2018-10-29 11:41] GiovanniBattista commented on #637
+1 for gzip support

[2018-10-29 14:36] iammichiel commented on #5869
I do confirm this behaviour. However I my case, it does seem to stop but after like 5 minutes of doing nothing. Once the file has been completely uploaded, it just idles for another 5 minutes and then closes.

Currently on mac :  `filebeat version` returns the following :
[code]

[2018-10-29 15:16] andrewkroh opened #8781 "[Filebeat] Module for Ubiquiti Firewall Logs"
As a user I want to be able to ingest firewall logs from Ubiquiti network gear. Ubiquiti firewall logs are essentially Linux iptables log message with a prefix that designates the source interface. In my experience the primary means of getting these logs is via syslog. Here are some samples (without the syslog header).

- `[wan-local-default-D]IN=eth0 OUT= MAC=05:10:d6:f0:81:b4:f8:e4:00:9a:f9:00:0

[2018-10-29 16:44] andrewkroh commented on #8775
I think you could use [decode_json_fields](https://www.elastic.co/guide/en/beats/filebeat/current/decode-json-fields.html) to accomplish this. It would allow the JSON decoding to happen after filtering.
[code]

[2018-10-29 19:06] andrewvc opened #8803 "Docker autodiscover docs are incomplete"
The `Host`, `TLS`, and `Prefix` [options](https://github.com/elastic/beats/blob/master/libbeat/autodiscover/providers/docker/config.go#L27) for the docker autodiscover provider are not documented anywhere. This came up when reviewing this [discuss post](https://discuss.elastic.co/t/filebeat-autodiscover-when-running-on-windows-filebeat-can-not-be-started/153801).

New options added in elastic/beat

[2018-10-29 20:36] ruflin opened #8804 "Add output version to state API endpoint"
To better understand the versions of Elasticsearch, Logstash, Kafka and Redis Beats are used with, the version of theses services should be reported as part of the state endpoint.

The current reporting looks as following for `http://localhost:5066/state`:

[code]

The version number should be added as following:
[code]

The version number should be reported for all the outputs where it's availabl

[2018-10-29 20:36] ruflin commented on #8804
@tbragin FYI

[2018-10-29 21:02] #8051 closed

[2018-10-29 21:46] jsoriano commented on #2842
@wheelq with what version of metricbeat and windows?

[2018-10-29 22:13] wheelq commented on #2842
latest :)

[2018-10-30 01:58] ceeeekay commented on #7528
Any update here?  This is a major issue for us.

[2018-10-30 04:14] andrewvc opened #8812 "[heartbeat] Dashboard broken in 6.5"
In 6.5 the pie chart diagram for the up/down status of monitors in the heartbeat dashboard is broken due to some stricter parsing on the values used in filters. We had specified in the UI `monitor.status: up`. Changing it to `monitor.status:up` (removing the extra whitespace) fixed it.

Thanks to @DanRoscigno for bringing this to my attention.

[2018-10-30 04:17] dedemorton commented on #6813
https://github.com/elastic/beats/pull/8811 contains some fixes related to this issue.

[2018-10-30 10:06] #8647 closed

[2018-10-30 10:16] jsoriano commented on #2842
We take these values directly from [`Win32_PerfFormattedData_PerfDisk_LogicalDisk` class](https://github.com/shirou/gopsutil/blob/8563278a9de317ae1ce9affdf6715ce7aee5bba9/disk/disk_windows.go#L147). I have found [some](https://social.technet.microsoft.com/Forums/en-US/34b43302-7476-4252-a16a-72a4aeb5eb32/vbscript-average-seconds-per-readwrite-returns-0) [reports](https://stackoverflow.com/question

[2018-10-30 11:13] ruflin commented on #8812
I wonder if this will affect other dashboards too?

[2018-10-30 11:58] #8123 closed

[2018-10-30 12:14] jsoriano opened #8814 "Some ingest pipelines fail to parse hostnames with underscores"
Log lines including hostnames with underscores fail to be parsed, this affect all pipelines using directly or indirectly the [`HOSTNAME` pattern](https://github.com/elastic/elasticsearch/blob/v6.4.2/libs/grok/src/main/resources/patterns/grok-patterns#L30), that is included in `SYSLOGHOST`, `IPORHOST`, `HOSTPORT` and possibly others.

There was a [discussion](https://github.com/logstash-plugins/log

[2018-10-30 13:02] jsoriano opened #8822 "Add filesets automatically to documentation"
Metricbeat metricsets are automatically added to documentation on `make update`, but this doesn't happen with filebeat filesets, this makes it hard to maintain fileset lists updated.

[2018-10-30 13:06] wheelq commented on #2842
Ok. What would you like me to provide you in order to investigate

[2018-10-30 13:33] andrewvc commented on #8812
@ruflin that is correct. This is now a kibana blocker https://github.com/elastic/kibana/issues/24838

I'm going to close this for now. If, somehow this gets pushed back to us, we can reopen.

[2018-10-30 13:33] #8812 closed

[2018-10-30 14:46] OffColour commented on #8775
Thanks for that. As the whole log is JSON (serilog) a combination of json.keys_under_root followed by a drop_event on the parsed field did the trick.

[2018-10-30 16:12] ycombinator opened #8831 "Ingest structured Elasticsearch audit log using Filebeat"
Starting with https://github.com/elastic/elasticsearch/pull/31931, Elasticsearch is able to emit structured audit logs. The current `elasticsearch/audit` fileset in Filebeat knows how to ingest the semi-structured audit logs. We need to add support for the structured audit logs as well.

[2018-10-30 16:13] ycombinator commented on #8831
/cc @albertzaharovits @ruflin

[2018-10-30 18:28] andrewvc opened #8833 "[heartbeat] Make `monitors.d` directory main way to configure monitors."
In #8023 we added automatic reloading to heartbeat. In feedback from @justinkambic and my own testing it's become apparent that it's a little confusing that there are two ways to configure monitors, inline and externally.

In this issue I propose that we make automatic reloading the default for a directory named `monitors.d`, and that while we continue to support inline monitor definition indefini

[2018-10-30 18:52] grantcurell commented on #6620
+1 still seeing:
2018-10-30T18:47:37.898Z        ERROR   instance/metrics.go:92  Error retrieving CPU percentages: error retrieving process stats: cannot find matching process for pid=1
2018-10-30T18:47:37.898Z        ERROR   instance/metrics.go:61  Error while getting memory usage: error retrieving process stats: cannot find matching process for pid=1
![image](https://user-images.githubuserconten

[2018-10-30 19:36] cwurm opened #8837 "[Metricbeat][Auditbeat] RPC enrichment for sockets"
This relates to both the `socket` metricset in Metricbeat and the `sockets` metricset in Auditbeat, both of which use netlink to get a list of sockets from the Linux kernel, and then search `/proc` to find the process that holds the socket's inode.

However, some sockets are not owned by a user process, and so their inode cannot be found in `/proc`. Some of them can belong to RPC services ([e.g. N

[2018-10-30 19:37] andrewvc opened #8838 "Heartbeat Automatic Reload Broken"
Heartbeat's automatic reload feature doesn't seem to be working in 6.5. Adding / altering files does nothing.

Investigating.

[2018-10-30 19:44] andrewvc commented on #8838
This was actually a docs issue, which isn't a blocker. We didn't describe the need for `reload.enabled: true`.

[2018-10-30 19:58] justinkambic commented on #8833
So - after giving this some more thought, it may be best to continue to use the simpler, single-file approach but still provide the necessary skeleton to use the multi-file approach. Ship with a `{HEARTBEAT_PATH}/monitors.d` directory, perhaps with an example file, and have a commented-out config block defined in `heartbeat.yml` to use that folder (these new options are absent from the `heartbeat.

[2018-10-30 20:08] andrewvc commented on #8838
This will be fixed in https://github.com/elastic/beats/pull/8839

[2018-10-31 02:44] #8775 closed

[2018-10-31 10:14] ibouchakour commented on #6486
@ap924g can you tell you how did you fix the problem ?

[2018-10-31 10:51] dennybaa opened #8843 "[Filebeat] mongodb module events are not displayed in kibana"
platform: kubernetes
filebeat version: 6.4.2

Mongodb events are successfully published into elasticsearch. Though kibana shows none of them, btw redis events of the redis module which is enabled side by side are showed without issues. Any idea why?
cc: @ruflin

Details bellow

config
[code]

mongodb event picked out from the database:
[code]

[2018-10-31 13:47] ycombinator commented on #8831
Also /cc @elastic/es-security for broad visibility

[2018-10-31 13:55] mikeh-elastic opened #8847 "[Metricbeat] Support pulling secrets from Kubernetes/OpenShift for autodiscovery"
Currently autodiscovery only supports unauthenticated module metricset collection via autodiscovery hints.

As container orchestration platforms can generate passwords and usernames that are unknown to metricbeat at container launch we need a way to collect and utilize these passwords.

Kubernetes and OpenShift have a secrets api that could be allowed for metricbeat to read secrets for containers

[2018-10-31 13:56] ph opened #8848 "Falling test on metricbeat system/socket_summary output"
I am hitting the following failure on Metricbeat 6.5 and master.

https://travis-ci.org/elastic/beats/jobs/448818231

[code]
I've looked at the existing issue in our repo and I found this one https://github.com/elastic/beats/issues/7973, but the fix was for windows and I've seen it fails on darwin.

[2018-10-31 13:57] ph commented on #8848
@jsoriano have you seen this one?

[2018-10-31 14:28] jsoriano commented on #8848
@ph no, this is new for me, I wonder why it has started to fail now. OSX image in travis hasn't changed. Have you been able to reproduce it locally?

[2018-10-31 14:41] exekias commented on #8535
Working on this at the moment, I plan to map launched configurations to the container ID, so we can stop them when the container stops, even if some metadata is not present.

[2018-10-31 14:48] jsoriano commented on #8848
@ph btw, I don't think #7973 is related, do you mean #7868? For Windows there is no implementation, this is why we disabled the test for this OS, but it should work for OSX.

[2018-10-31 14:52] ph commented on #8848
I meant https://github.com/elastic/beats/issues/7868.
I've tested it locally on OSX

[code]
same error, I am running macOS mojave.

[2018-10-31 14:52] jsoriano commented on #8848
This is also failing in Jenkins since https://beats-ci.elastic.co/job/elastic+beats+master+multijob-darwin/beat=metricbeat,label=macosx/156/

[2018-10-31 14:54] ph commented on #8848
I think I know why, I believe I am the responsable for that, le me take a quick look.

[2018-10-31 15:02] ph commented on #8848
@jsoriano Its my bad, I though it was a flaky test and I was wrong.

I've created the PR https://github.com/elastic/beats/pull/8849 to fix it.

[2018-10-31 15:02] ph commented on #8848
@jsoriano Its my bad, I though it was a flaky test and I was wrong.

I've created the PR https://github.com/elastic/beats/pull/8849 to fix it.

[2018-10-31 15:20] ph opened #8850 "Functionbeat: Add integration tests for cloudwatch"
Integration tests for functionbeat:

- Create function
- Create function when log group doesn't exists
- Create function if the lambda already exists
- Remove function
- Remove a function that doesn't exist.

[2018-10-31 15:20] ph commented on #7880
Currently working on integration tests

[2018-10-31 15:41] exekias commented on #8535
Work started here: https://github.com/elastic/beats/pull/8851

[2018-10-31 17:05] ph commented on #7743
Added a note concerning tracking available disk space in a scenario when we have a lot of back pressure.

[2018-10-31 17:24] #8848 closed

[2018-10-31 18:00] jsoriano commented on #6620
@grantcurell what version of metricbeat are you using? could you also share the configuration you are using to start it?
And what logs do you see with `hostPid: true`?  They shouldn' tbe the same as metricbeat won't have pid 1.

[2018-10-31 18:16] ph opened #8857 "Move back to goformation original repository"
Because of some compiler issues on windows with the long filename use in the goformation library. We are currently using our own fork to make the compiler works on windows.

Upstream issue at https://github.com/awslabs/goformation/issues/138

[2018-10-31 19:03] jsoriano commented on #6620
@grantcurell thanks for all the details.

6.2.4 didn't include yet the fix for this, you need 6.3.0 or later, in any case the `hostPid: true` workaround should work.

Regarding the other problems, it'd be great if you could confirm them with a more modern metricbeat version and open specific issues.

[2018-10-31 19:39] grantcurell commented on #6620
Can I update metricbeat independently of Elasticsearch in this case?

[2018-10-31 20:20] #8054 closed

[2018-10-31 20:24] dov0211 opened #8860 "Uptime monitoring curated dashboard for AWS/Docker/K8s"
Since we are developing the AWS autodiscovery capabilities in heartbeart we should consider providing a curated experience for the end user, we could extend it for Docker/K8s as well
here are some examples from the infra Ops solution
![image](https://user-images.githubusercontent.com/38371227/47816192-193d2480-dd5b-11e8-82be-8f4bde8097fe.png)
![image](https://user-images.githubusercontent.com/3837

[2018-10-31 21:05] andrewvc commented on #8860
The AWS PR is #8680

[2018-11-01 00:10] andrewkroh commented on #8857
Will your changes to jenkins_ci.ps1 allow us to move back to the upstream version?

[2018-11-01 01:09] andrewvc opened #8862 "Idea: Strictly require synthetic PK for all heartbeat monitors"
One thing we'd like to do in the future is reconcile monitoring data from a heartbeat monitor to a specific item that has been centrally configured. Ideally, we would be able to edit that centrally configured item, and cross link from read views of the monitor to update views.

Currently monitors are uniquely identified by a combination of attributes, or a natural PK in SQL speak, that is the synt

[2018-11-01 01:18] andrewvc opened #8863 "Autodiscover should not require identical metadata for start/stop events"
I'm currently in the process of writing an AWS ELB autodiscover adapter in #8680 .

One design issue I'm hitting, which probably didn't come up before, is that the event data published here is mutable. In other words, an ELB might be in a different state at stop than start, yielding different metadata. This is important because autodiscover de-duplication and stop/start code relies on hashing meta

[2018-11-01 03:04] luzhzhsoft opened #8865 "How to add custom routing ，version or id when index document"
I write a  custom beat.And I want to add custom id,routing,version when index documents to elastic search .It is required when use join mapping type,because  routing must be same with their parent routing rather than id .

For confirmed bugs, please report:
- Version: 1.0.0
- Operating System:  centos
- Discuss Forum URL: https://discuss.elastic.co/t/how-to-add-custom-routing-version-or-id-when-in

[2018-11-01 06:55] ruflin commented on #8843
In general the content above looks good for the mongodb/log fileset. What do you mean it's not shown? Are not values shown in the mongodb dashboard?

[2018-11-01 07:11] dennybaa commented on #8843
The events are not shown neither in discover nor in the dashboard itself. For example when I search for `fileset.module: redis`  I get this https://i.gyazo.com/3e3126c4c39b3de8793290cbbb587334.png. Whereas I set the value to mongodb no hits at all...
Though if I search for docs through dev console aka `GET filebeat-6.4.2-2018.11.01/_search?pretty=true&q=fileset.module:mongodb` I can see the docume

[2018-11-01 09:07] ruflin commented on #8862
@exekias @urso I remember we discussed similar things for prospectors and modules in the past to identify them.

@andrewvc What about only making it a requirement if users want to have these additional features?

[2018-11-01 09:12] ruflin commented on #8863
@exekias Would be great to get your opinion on this one.

[2018-11-01 09:48] tsg commented on #8725
Pinging @elastic/secops (mostly testing).

[2018-11-01 10:00] exekias commented on #8863
Interestingly enough, I started just this 18h ago: https://github.com/elastic/beats/pull/8851 :smile:

[2018-11-01 10:58] genuss commented on #8203
I confirm the last comment's behavior on filebeat version 6.4.2. I too use docker autodiscover. The second case when the issue comes up is when I restart a container.
Looks like filebeat cannot reopen the same log file.
Too workaround I downgraded to 6.4.0 and issue gone away. @a-abella , you may try to downgrade too.

[2018-11-01 12:05] ph opened #8880 "Flaky test: service_integration_windows_test.go"
I've seen this when creating #8859, I only saw it once.

[code]

[2018-11-01 13:09] andrewkroh commented on #8862
+1 to the idea. Like @ruflin this concept would be very helpful in modules, prospectors, winlogbeat event_logs, or any case where there is persistence, but no stable means of identification.

[2018-11-01 13:15] andrewvc commented on #8863
I actually don't need the current path so one works for me!

On Thu, Nov 1, 2018, 5:22 AM Carlos Pérez-Aradros Herce <
notifications@github.com wrote:

[2018-11-01 14:12] andrewkroh commented on #8549
This is now fixed in 6.5 and master.

[2018-11-01 14:12] #8549 closed

[2018-11-01 14:46] andrewkroh commented on #8544
I've always use Wordpad on Windows when no other tools were available.

[2018-11-01 15:05] ph opened #8885 "Build problem darwin"
[code]

[2018-11-01 16:17] grantcurell commented on #6620
@jsoriano upgrading to 6.4.2 didn't fix the problem. I still get a bunch of strange partial data if the time interval is anything less than 30 minutes. Ex the Kubernetes dashboard:

![image](https://user-images.githubusercontent.com/35169230/47864400-7d95cd80-ddc7-11e8-9efa-a1c073c19cc7.png)

or

![image](https://user-images.githubusercontent.com/35169230/47864450-9bfbc900-ddc7-11e8-9607-c8c8ce067

[2018-11-01 16:44] ycombinator opened #8887 "Filebeat exits with error when ES module is enabled on Mac OS X"
- Version: `master`
- Operating System: Mac OS X
- Steps to Reproduce:
   1. Make sure you are on Mac OS X.
   2. Enable the `elasticsearch` module in Filebeat:
[code]
   3. Start Filebeat with logs going to console (for easy verification):
[code]

- Observed behavior:
  Filebeat will exit with this error:
[code]

  This happens probably because on Mac OSX the `elasticsearch/server` fileset has no

[2018-11-01 19:43] inqueue opened #8895 "Filebeat panic with bad configuration"
Filebeat will panic on startup with an invalid configuration. Is it possible to exit with a nicer error under this condition?

- Version: filebeat-6.4.2
- Operating System:
[code]
- Steps to Reproduce:
Start Filebeat with the following configuration (note `dissect` is incomplete)
[code]

Error:
[code]

[2018-11-01 20:36] lesaux commented on #8773
I'm seeing this as well.

[2018-11-02 01:46] andrewkroh commented on #8862
Or would duplicates be silently ignored with our current config code?

[2018-11-02 03:13] wwyhy commented on #8773
me too, is there any solutions? thanks

[2018-11-02 09:48] jsoriano commented on #6106
I have added a point to make beats log to journald by default when running on systemd, open to discussion, I'll open a PR.

@exekias I have added also a point about dedoting labels so we don't forget about this.

[2018-11-02 12:41] ruflin commented on #8843
As you have data I think this is probably more related to the time period you are looking at. Until we figure out if this is a bug lets move our discussion to discuss: https://discuss.elastic.co/c/beats/filebeat

Please post there your full config, the details you posted here. Check also if you see docs when you look at a longer time period in Kibana.

[2018-11-02 12:41] #8843 closed

[2018-11-02 19:02] ph opened #8910 "Functionbeat incorrectly check for permisson on the S3 bucket."
Functionbeat doesn't correctly check for permission when an S3 bucket doesn't exist.

[2018-11-02 19:34] ph commented on #8910
OK, it's a quick fix, it was not catched by my wip integration tests :(

I'll do more tests with less than happy path before creating the PR.

[2018-11-02 20:06] ph opened #8912 "[functionbeat] Expose cloudformation error when waiting for status"
Currently, we only wait for **Completed** or **Failed** events for cloudformation; it's not the best thing for debugging. Instead, we should also monitor Stack Events and report them to the console as they appear.

This way it makes it a lot easier to debug why a stack failed to apply or not.

[2018-11-02 20:07] adriansr opened #8913 "Securing Beats docs unclear for Elastic Cloud users"
For confirmed bugs, please report:
- Version: 6.4.2
- Operating System: not applicable
- Discuss Forum URL: https://discuss.elastic.co/t/elasticsearch-permissions-required-by-filebeat/155185/3
- Steps to Reproduce:

User in above discuss link faced some trouble when following the docs for [Securing Beats](https://www.elastic.co/guide/en/beats/filebeat/current/securing-beats.html).

Docs for step 4

[2018-11-03 13:21] ycombinator opened #8915 "Do not collect CCR metrics unless user has appropriate license"
Currently, running the `elasticsearch/ccr` metricset against an Elasticsearch cluster with a Basic license will cause the following documents to be indexed into `metricbeat-*` indices:

[code]

This is because CCR is not available with a Basic license.

The `elasticsearch/ccr` metricset should detect the license and only attempt to collect CCR metrics if the license is appropriate.

[2018-11-04 09:58] HawkUser opened #8916 "metricbeat - filesystem & fsstat not collecting mount path on windows machines"
Hi,

it's look like the metricbeat not collecting any data of devices without drive letter on windows machines (mount path), the reason for that is metricbeat relay wrong command:
 get-psdrive -PSProvider filesystem
this powershell syntax by design not returning mount path.
they should relay on different command:
Get-WmiObject Win32_Volume | Format-Table Name, Label, FreeSpace, Capacity

metricbea

[2018-11-05 07:50] ruflin commented on #8200
@ycombinator Could you have a look at this one?

[2018-11-05 07:57] ruflin commented on #8862
Currently duplicates would be silently ignored AFAIK. @urso might know more.

Alternative to keep compatibility:

[code]

I would like to prevent that on upgrade to 7 all users have to rewrite all monitors.

[2018-11-05 08:00] ruflin commented on #8862
Additional thought after I sent the above. The advantage of the initial proposal is that with central management monitors could be "upgraded". Meaning a monitor is started without a name, then central management is used to assign a name. Form heartbeat perspective it will be a new monitor but from the central management perspective it could be just "updating" a config and the old one is stopped.

[2018-11-05 08:11] ruflin commented on #6106
I added a point about removing the 5.x dashboard directories to the above list. We should probably add a directory for 7 as the data structure for Kibana will change. @elastic/apm-server This might also effect you.

I put it on the service meeting agenda today.

[2018-11-05 08:14] ruflin commented on #8895
@ph Cany ou have a look?

[2018-11-05 11:03] ruflin commented on #8915
What happens if the license changes over time?

If someone configures CCR I kind of expect that the users want to monitor it. This changes a bit if it's part of our defaults means if the user does configure no metricsets and ccr is in there. We should come up of with a nice way of notifying the user that his config might be wrong.

[2018-11-05 11:57] yaronp68 opened #8922 "[Module Request] Metricbeat modules for Tomcat, Websphere and Weblogic"
This request makes sense since it's probably a low hanging fruit using jolokia
Tomcat, Websphere and Weblogic are still widely used with Java apps in the enterprise
Monitoring should include the common JVM heap, GC, CPU and threads information but can be extended through additional JMX beans to cover additional metrics.
- Websphere App server has IBM instrumentation through PMI that is accessible

[2018-11-05 13:35] ph commented on #8895
I will take a look, From the trace I think the config is not correctly defined to have required fields.

[2018-11-05 13:48] #8910 closed

[2018-11-05 15:03] ycombinator commented on #8200
Yep, I got it.

[2018-11-05 15:10] ycombinator commented on #8915
What do you think about checking the license in the `Fetch` method of the `ccr` metricset? If the license is incorrect, we can emit a log message telling the user to disable/remove the `ccr` metricset from their configuration or make sure they have the right license?

The only issue I see with this is that we might spam their log every 10s. Maybe we can keep a timer to prevent that and only emit t

[2018-11-05 21:19] urso opened #8933 "Journalbeat setup fails"
Journalbeat has no default dashboards by now. Running `journalbeat setup` fails with default debian package:

[code]

[2018-11-05 21:33] kovyrin opened #8934 "Filebeat requires the user to specify the template name and pattern when an index name is changed and JSON template is used"
Hello,

We use Filebeat 6.4.0 and are using the feature of loading json templates into ES. There seems to be a bug in beats that, when ES index name is changed in the output configuration, forces the user to specify a custom template name and a template pattern even if they are using a JSON template, which has the patterns and a name configured separately.

The output is like this:
[code]

So we e

[2018-11-05 21:57] ph commented on #6106
@jsoriano

Can you create an issue for that, I don't know how big of a task it is.

[2018-11-05 23:04] ycombinator opened #8936 "Add docs for running *beat modules on Docker"
Taking Filebeat as an example, but this could just as well apply to Metricbeat as well:

We have documentation for running Filebeat on Docker here: https://www.elastic.co/guide/en/beats/filebeat/current/running-on-docker.html. This page, however, does not talk about configuring modules.

And we have documentation for setting up a Filebeat module, e.g. elasticsearch, here: https://www.elastic.co/gu

[2018-11-05 23:05] ycombinator commented on #8936
Related: https://github.com/elastic/stack-docs/issues/140

[2018-11-05 23:49] ph commented on #6106
@ruflin I believe your ECS migration will take care of:  Default Template Mappings for IP fields are keyword type #7847

[2018-11-05 23:50] ph commented on #6106
@urso @ruflin @exekias I have added your name to the list of items you have added to this list, feel free to either remove the items or delegate the work.

[2018-11-06 00:28] #8887 closed

[2018-11-06 04:15] matschaffer opened #8938 "Zookeeper stat metricset"
It would be useful to track at least the `Zxid` counter reported from the `stat` [four letter word](https://zookeeper.apache.org/doc/r3.1.2/zookeeperAdmin.html#sc_zkCommands).

This could help identify cases where the transaction rate changes abruptly due to a poorly-coded zk client.

Opening this to track as an enhancement request.

[2018-11-06 08:50] Croolis commented on #7407
Why do we want to use special flag to explicitly enable logging for some containers? Why do we agree on fact that hints **are supposed** to enable logging for all containers even though it's disabled in configuration of autodiscover? It looks like implementing workaround for bug instead of fixing it. Why hints break autodiscover configuration?

[2018-11-06 09:07] exekias commented on #7407
I agree with having a config flag that allows this behavior

[2018-11-06 10:16] exekias commented on #8862
I'm wondering if the extra burden for the user is worth it here.

If we need this to solve something in central management, why not solving it there? This unique id could be added in central management, giving a clear path to identify each config. The beat can get awareness of that when reporting issues to CM (or even in the reported events).

Translating this to other beats would have some proble

[2018-11-06 10:35] exekias commented on #8773
Hi everyone, thank you for your detailed report

This issue is caused by label/annotation dots (`.`) creating hierarchy in Elasticsearch documents. If an annotation has an structure like this: `example.annotation.data: some-data` and a different one contains `example.anottation: value` their mapping will conflict, as `example.annotation` is both an object and a keyword.

We have some counter measu

[2018-11-06 10:42] exekias commented on #8203
Hi, @a-abella and @genuss, did you clean your registry file before trying `6.4.2`?

[2018-11-06 10:48] exekias commented on #8847
Thanks for opening this issue @mikeh-elastic. Beats keystore was created with this in mind, we aim to allow pluggable keystore backends, that would allow Beats to read (and even write) it's secrets to Kubernetes secrets.

The user would be able to reference them using the current variable notation. I'm thinking on something like this: `${kubernetes:namespace:secretname:var}`

cc @ph

[2018-11-06 10:59] genuss commented on #8203
The first version of filebeat was 6.4.2 on that server. And while experimenting I also cleaned registry file.

[2018-11-06 11:08] exekias commented on #8764
Hi @havlan, thank you for opening this enhancement request.

I'm wondering if this could be possible using autodiscover, take into account that processors can be configured there too:

Disclaimer: I haven't tested this, but:

[code]

[2018-11-06 11:41] ruflin commented on #8915
I like the idea of moving the check into CCR so it's all in the metricset itself. As each metricset can have a state we can store in the metricset when we checked last as then report it every x units as you proposed above.

We can even combine the two approaches and check ones, log an error and send an error event so also the UI is aware of it but we don't spam docs and logs.

[2018-11-06 12:09] ruflin commented on #6106
The IP stuff is not directly related to ECS but parts of it might be resolved through ECS.

[2018-11-06 12:17] jsoriano commented on #6106
@ph for the systemd unit logging to journald I mean something like #8942

[2018-11-06 12:55] #8895 closed

[2018-11-06 13:04] ph commented on #8847
@exekias Initially, I thought we could go away with not having to specify where the password is located and just rely on first found principle, but nnow I see value of prefixing the secret with the keystore name (kubernetes) to allow easier debugging, btw we have an issue open at https://github.com/elastic/beats/issues/5832

[2018-11-06 13:39] eddieturizo opened #8948 "[Metricbeat] Add Operating System Name to add_host_metadata processor"
When using the `add_host_metadata` Metricbeat processor it would be useful to include the Operating System name so it returns the following field value in Windows

`Microsoft Windows Server 2012 R2 Datacenter`

Might also be worthy to add the same for other Operating Systems that Metricbeat supports so that you'd have fields similar to

`Ubuntu 18.04 LTS`
`CentOS Linux 7`
`Red Hat Enterprise Linux

[2018-11-06 13:47] ph commented on #6106
FYI I've added the following methods to fails on removed options, if you want to provide better feedback use them and it make it easy for us to remove them in 8.0.

https://github.com/elastic/beats/blob/74779e4b31880eb098fae97d5d29472a4f018e17/libbeat/common/cfgwarn/removed.go#L77-L85

[2018-11-06 14:48] lesaux commented on #8773
Thank you! this fix works in the meantime!

[2018-11-06 15:38] kvch opened #8949 "Functionbeat setup fails"
Functionbeat does not provide any dashboard. Runnning `setup` fails with the following messages:

[code]

[2018-11-06 17:10] rocketraman opened #8950 "Keep `message` field intact when using modules"
Creating an issue as requested by @kvch in this discussion: https://discuss.elastic.co/t/keeping-message-field-intact-with-module-parsing/155452

I use filebeat modules via auto-discover enabled and hinting. Currently, the message field itself is destroyed after parsing. This means that just casual viewing of logs in Kibana or tools like [elktail](https://github.com/knes1/elktail) will just shown

[2018-11-06 20:14] havlan commented on #8764
Hi @exekias, I'll test this and find out if it's a possible solution. Do you think this could be combined with hints?

[2018-11-06 21:13] ph opened #8952 "6.5 Suricata dashboard doesn't seems to work"
I've tested the Filebeat BC, and I've tried the Suricata module, when I turn on the module I see the events send to ES, and there are available in the discovery pages.

When I select any of the Suricata dashboards, I do not see any visualization.
The time picker also looks weird, see the screenshot below.

<img width="751" alt="screen shot 2018-11-06 at 12 32 05 pm" src="https://user-images.github

[2018-11-07 02:28] zhaoya881010 opened #8955 "filebate stop api"
hi,
  i plan to use filebeat as a module in my agent application.
in my code:
       ......
	if err := cmd.RootCmd.Execute(); err != nil {
		fmt.Println(err.Error())
	}
     ......
i have a question?i not found stop api,reset filebeat and  reboot my app?

[2018-11-07 08:30] zhaoya881010 commented on #8955
i am use global filebeat fb and fb.Stop() it's ok.

[2018-11-07 08:44] ruflin opened #8957 "[Dashboards] Kuberentes Top CPU Intensive pods visualisation shows error"
* Version: 6.5-Snapshot

After loading the dashboards into Kibana for Kubernetes, the "Top CPU Intensive pods [Metricbeat Kubernetes]" visualisations shows an error (see screenshot below).

![screen shot 2018-11-07 at 09 19 35](https://user-images.githubusercontent.com/244900/48120178-af001480-e271-11e8-96be-f1b669186d9d.png)

[2018-11-07 08:58] ruflin commented on #8957
This seems to also affect the system dashboards. @simianhacker you might now more. Looks like the `Positive only` feature.

[2018-11-07 09:06] ruflin commented on #8957
I tested the same with 6.4.3 and the issue does not seem to exist there.

[2018-11-07 09:40] jsoriano commented on #8955
Hi @zhaoya881010,

Yes, you should be able to use the `Stop()` method.

Please, use [discuss](https://discuss.elastic.co/) for questions on Beats usage or its APIs.

[2018-11-07 09:40] #8955 closed

[2018-11-07 10:07] jsoriano commented on #8950
Related to #8448

[2018-11-07 10:40] jsoriano commented on #8600
As @faulander mentions this looks like a permissions problem, please use [discuss](https://discuss.elastic.co/) for questions about usage of Beats.

[2018-11-07 10:40] #8600 closed

[2018-11-07 11:01] exekias commented on #8957
As @ruflin said, System dashboard (and maybe others) is affected too  This is how it looks:

![image](https://user-images.githubusercontent.com/299804/48127599-66058b80-e284-11e8-83f9-083da80c2d54.png)

We may need to consider this a blocker. Thoughts?

cc @tsg @monicasarbu @tbragin

[2018-11-07 11:11] #8952 closed

[2018-11-07 13:10] jguay opened #8964 "Add path attribute for jolokia module"
https://jolokia.org/reference/html/protocol.html#read
see 6.2.1.2 Post read request
Request is to implement the key path.

Here is an example. This snippet returns 55 metrics :

[code]

But if we only want only this metric memoryUsageAfterGc.Metaspace.used. If the path argument would be implemented, it gives :
[code]

or I want only all memoryUsageAfterGc.Metaspace
[code]

or I want only all used

[2018-11-07 15:30] ycombinator commented on #3687
A similar issue was reported by this user on discuss: https://discuss.elastic.co/t/numeric-value-18446744073709551615-out-of-range-of-long-9223372036854775808-9223372036854775807/155732

[2018-11-07 15:32] andrewvc opened #8966 "Heartbeat Telemetry Test is Flakey"
## Flaky Test

* **Test Name:** test_telemetry.Test.test_telemetry (from nosetests)
* **Link:** https://github.com/elastic/beats/blob/master/heartbeat/tests/system/test_telemetry.py#L14
* **Artifact Link:**  [archive (2).zip](https://github.com/elastic/beats/files/2557993/archive.2.zip)
* **Notes:** This consistently works locally but often fails on CI

### Stack Trace

[code]

[2018-11-07 15:59] ycombinator opened #8969 "Module configuration variants"
### Motivation
Today modules come with exactly one default configuration file, `modules.d/<module>.yml.disabled`. When the module is enabled, this file is replaced by `modules.d/<module>.yml`.

Sometimes it might be useful to have a configuration file for a module that is a slight variant of what we provide today. For example, consider the `elasticsearch` module in Metricbeat. It's default module

[2018-11-07 16:01] ycombinator commented on #8969
@ruflin would love your thoughts on this, as well as from anyone else you feel should be included in this discussion. Even though the example above is motivated by the X-Pack monitoring use case, I think we can make module configuration variants a more generic feature of beats?

[2018-11-07 16:19] kuzm1ch commented on #8773
Hello, this workaround is also helped me, but I have almost the same problem with basic kubernetes component:
quay.io/calico/node:v2.6.7
quay.io/calico/cni:v1.11.2
quay.io/calico/kube-controllers:v1.0.3
and etc.

metricbeat: 6.4.2
kubernetes:  v1.10.6
kube-state-metrics: k8s.gcr.io/addon-resizer:1.8.3

[code]
(I think this metric should be like "kubernetes.labels.role.kubernetes.io/networking: 1"

[2018-11-07 17:49] andrewvc opened #8972 "Heartbeat Dashboard Should Indicate Last Monitor Status"
Originally mentioned here: https://discuss.elastic.co/t/web-site-monitoring-with-status-up-down-with-downtime/155657

The table vis for "Heartbeat HTTP Pings" should do a top hits agg to display the last known status of each endpoint. Right now it's hard to see what's up/down.

[2018-11-07 18:12] andrewvc commented on #8972
Edited my dashboard to have the following locally, will open a PR

![image](https://user-images.githubusercontent.com/131427/48151243-61da6d80-e286-11e8-9801-2d6b48ca8575.png)

[2018-11-07 19:36] aleph-zero opened #8975 "Numeric value out of range of type long"
For confirmed bugs, please report:
- Version:  6.5.0 BC4
- Operating System: MacOS Mojave
- Discuss Forum URL:
- Steps to Reproduce:

This is my **modules.d/system.yml**

[code]

The error message I get when I run **./metricbeat -c metricbeat.yml -e**:

[2018-11-07 19:40] andrewvc opened #8976 "Beats setup does not support kibana on a subpath"
We should support kibana running on a sub path. Will fill in more detail later.

[2018-11-07 19:54] tsg commented on #8957
Closing for now, we have https://github.com/elastic/elasticsearch/issues/35351 as a follow up.

[2018-11-07 19:54] #8957 closed

[2018-11-07 21:26] andrewvc opened #8979 "Custom SSL config seems broken"
According to https://discuss.elastic.co/t/heartbeat-config-advice/155611 using a custom SSL configuration is currently broken. We should investigate this and ensure that we have a test for this scenario.

[2018-11-07 22:03] #8949 closed

[2018-11-08 03:58] andrewvc commented on #8979
I think this may have been a false positive. The test I added in https://github.com/elastic/beats/pull/8984 seems to show that this feature works. Closing for now.

[2018-11-08 03:58] #8979 closed

[2018-11-08 04:52] jareksm opened #8985 "Filebeat can't read CRI-O logs."
- Version:  filebeat latest build from master branch, CRI-O latest build from master branch.
- Operating System: CoreOS
- Discuss Forum URL:
- Steps to Reproduce:

Filebeat doesn't collect logs generated by CRI-O since they are in `/var/log/pods/<pod uid>/<container name>/<index starting with 0>.log`. I've created [this issue](https://github.com/kubernetes-sigs/cri-o/issues/1894) and looked at cri

[2018-11-08 07:19] opsnull commented on #8975
same issue here:
filebeat 6.4.3:
https://discuss.elastic.co/t/numeric-value-18446744073709551615-out-of-range-of-long-9223372036854775808-9223372036854775807/155732

2018-11-07T21:46:19.653+0800 WARN elasticsearch/client.go:520 Cannot index event publisher.Event{Content:beat.Event{Timestamp:time.Time{wall:0xbef0d90aa48b4054, ext:10511332183032, loc:(*time.Location)(0x37d5800)}, Meta:common.MapStr(

[2018-11-08 07:22] opsnull opened #8986 "Metricbeat etcd module can’t work with etcd v3.3.8 (https)"
- Version: metricbeat 6.4.3
- Operating System: CentOS 7.5
- Discuss Forum URL: https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-module-etcd.html
- Steps to Reproduce:

metricbet config:
[code]

![image](https://user-images.githubusercontent.com/433567/48183551-041f5180-e36a-11e8-9b73-9b4aa26764e5.png)

[2018-11-08 09:50] kuzm1ch opened #8987 "Metricbeat failed to parse metrics."
Similar to `https://github.com/elastic/beats/issues/8773` but related to metricbeat.

- Version:
metricbeat: 6.4.2
kubernetes: v1.10.6
kube-state-metrics: k8s.gcr.io/addon-resizer:1.8.3

error:
`(status=400): {"type":"mapper_parsing_exception","reason":"object mapping for [kubernetes.labels.role] tried to parse field [role] as object, but found a concrete value"}`

why this issue occurred:
for k8s

[2018-11-08 09:59] rbonvalot opened #8988 "Input docker behaviour with Openshift 3.10"
Filebeat Version : 6.4.3-1
Openshift version : 3.10

Since Openshift version 3.10, docker has been replaced by cri-o. Log format changed from json to cri format and we need to use input docker to parse file as describe in this issue https://github.com/elastic/beats/issues/7418

Nethertheless, the path of docker logs in Openshift 3.10 is /var/log/containers/<pod_name>_<namespace>_<container_name>-<

[2018-11-08 10:20] ruflin commented on #8986
I think we will need a bit more data to investigate if this is a bug or not. Can you open a topic on discuss and share also your logs there? https://discuss.elastic.co/c/beats/metricbeat We try to keep Github for confirmed bugs.

[2018-11-08 10:20] #8986 closed

[2018-11-08 13:07] urso commented on #8933
#8977 is closed.

[2018-11-08 13:07] #8933 closed

[2018-11-08 13:18] ycombinator commented on #8915
I'm going to keep the UI-related functionality for later, once all data is going into `metricbeat-*` indices (and not `.monitoring-*` indices). In any case, no point logging errors into `metricbeat-*` until the UI is ready to read from them. /cc @chrisronline as a heads up on this idea + if you have any comments here as well.

For the immediate term to make progress on this issue, I'm going to jus

[2018-11-08 14:02] webmat commented on #8976
Tip: to test Kibana nested at a path, you don't need to set up a local web server proxying to it.

You just need to build kibana from source, run it with `yarn start` and make sure **not** to pass the `--no-base-path` argument. Every time you start it, it'll be nested under an arbitrary 3 letter path.

[2018-11-08 14:58] #8412 closed

[2018-11-08 15:35] jsoriano commented on #8975
Similar errors have been happening with different versions and modules, we are thinking on more long term solutions for these issues in #8991

[2018-11-08 16:49] jsoriano commented on #8985
We'd probably need to add explicit support for CRI-O, not sure if only changing the path would be enough.

[2018-11-08 16:54] jsoriano commented on #8987
Hi @kuzm1ch, thanks for taking the time of reporting this issue. I think it is the same problem as in #8773. I am going to close this one so we keep all discussions in the same thread.

[2018-11-08 16:54] #8987 closed

[2018-11-08 17:19] exekias commented on #8985
I'm guessing autodiscover can be leveraged here, a config like this may work (I didn't test it):

[code]

Also, `add_kubernetes_metadata` has powerful matching rules, I'm guessing that a combination of `dissect` + `add_kubernetes_metadata` processors could work here. Something like:

[code]

[2018-11-08 18:28] tsg opened #9000 "Panic when using central config"
I somehow managed to create a panic when using central config. This happened when I tried to enable a Filebeat input.

cc @exekias @ph

[code]

[2018-11-08 18:30] exekias commented on #9000
This is probably a duplicate of https://github.com/elastic/beats/pull/8932, are you using a recent BC?

[2018-11-08 18:38] ph commented on #9000
This indeed look like #8932, what BC are you using?

[2018-11-08 19:00] tsg commented on #9000
I checked based on the build hash that I was running an older version than that fix. Sorry for the noise folks.

[2018-11-08 19:00] #9000 closed

[2018-11-08 19:06] jsoriano commented on #8969
@ycombinator great idea, and actually this already works:
[code]

This would be also a way to implement the "lightweight" modules I was thinking of to distribute for example jolokia configurations for specific java services.

Not sure though if there is something that prevents us to distribute configuration files with different names to actual code modules in code.

[2018-11-08 19:19] ycombinator commented on #8969
Thanks @jsoriano. Indeed, this is something we can already implement pretty easily, as you demonstrated. I guess my question is more about whether we should do this — would it be okay if I added a `modules.d/elasticsearch-xpack.yml.disabled` file to the repo? Just want to make sure it's not going to cause any issues or if there's a better UX to achieve this idea or something else?

[2018-11-08 19:46] dedemorton opened #9001 "Document API for enrolling beats in central management"
Beats central management was added in 6.5, but the API for enrolling Beats is not yet document. Users need to enroll through the UI.

[2018-11-08 19:53] andrewvc commented on #8862
I think the upgrade case cinches it for me. Let's keep the list and add the property. It's a big ask to rewrite everything on an upgrade.

I do think we should, however, have a warning for configs without a PK however.

[2018-11-08 22:01] exekias commented on #8470
I've started a new branch to work on initial docs in the beats side: https://github.com/elastic/beats/compare/master...exekias:cm-docs?expand=1

[2018-11-09 00:08] ycombinator commented on #8915
I take back what I said above about only logging and not reporting the error for now. Looks like we're already doing both in many other cases. So I'm going to follow your suggestion of combining both approaches: the `Fetch` method will check every 10s (or whatever the configured `period` is) but only log and report the error every minute so as to not spam the log and index too much.

[2018-11-09 07:17] jareksm commented on #8985
Autodiscover worked like a charm, it discover the path and read the log files.

But now hints are broken and the correct filebeat modules are not assinged to logs through annotations. The below config used to work (I'm running latest version of filebeat from master).

Here's the final config I've used:
[code]

I've added extra logging lines to filebeat to see the reader configuration:
[code]

[2018-11-09 09:04] mslga commented on #6503
Same error in filebeat v6.4.2
Installed from https://github.com/helm/charts/tree/master/stable/filebeat
[code]

[2018-11-09 12:41] mingziV5 opened #9008 "filebeat 6.3.0 output to multiple topics"
I need input multiple log to multiple kafka topics but  the filebeat log output:
`kafka/client.go:113 Dropping event: no topic could be selected`
my filebeat.yml :
[code]
The Kafka has created topis
I have no idea with this problem

[2018-11-09 13:41] andrewkroh commented on #9008
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

[2018-11-09 13:41] #9008 closed

[2018-11-09 13:41] andrewkroh commented on #9008
`fileds` is spelled wrong.

[2018-11-09 13:49] ph opened #9009 "Functionbeat: Keystore file is missing when we deploy the beat on the serverless env."
The ZIP created as part of the publish process doesn't contains any Keystore file.

[2018-11-09 14:55] ph opened #9010 "Central management: When we remove all the inputs for a beat it still keep the original configuration."
Steps to reproduce:

1. Create a tag **input** with a log input and watch `/var/log/*/log`
2. Create a tag **output** with an output to ES.
3. Apply both tags to a beat.
4. Wait until the beats ingest some documents.
5. Remove both tags from the beats.

**Current Behavior**
The beat still keep reading and sending events to ES

**Expected behavior:**
Beats is going back to sleep and stop any inputs

[2018-11-09 15:14] chrisronline commented on #8915
Yea I think it makes sense to notify in two places: in the metricbeat log itself but also persist the error into the monitoring docs so the UI can also notify

[2018-11-09 15:31] ph commented on #9010
Same problem with Metricbeat

[2018-11-09 16:25] ph opened #9013 "[Meta] Functionbeat next phase"
## Priority

GA:
- [x] Better expose cloudformation error in the CLI https://github.com/elastic/beats/issues/8912 PR: #9409
- [x] Kinesis CLI PR: #10116
- [x] Refactor permission and roles creation, allow user to override them.

Next phase
- [x] Add support Keystore #9009
- [ ] Use a random names for the debloy bucket.
- [ ] Integrations tests
  - [ ] cloudwatch https://github.com/elastic/beats/is

[2018-11-09 17:39] andrewvc commented on #8838
Fixed via #8839

[2018-11-09 17:39] #8838 closed

[2018-11-09 17:40] andrewvc commented on #8833
As a follow-up I'm going to close this issue since we've all come to agreement not to make it the main way. I have opened #9004 which adds the `monitors.d` directory to default installs, and lets users choose which way they want to go.

[2018-11-09 17:40] #8833 closed

[2018-11-09 17:44] andrewvc commented on #8482
Hey, just adding here that I really like this idea. I think there's some complexity to it, but it makes a lot of sense for ICMP in particular.

[2018-11-09 17:44] andrewvc commented on #8332
@dedemorton just a ping on this. Does it still need work?

[2018-11-09 17:45] andrewvc commented on #8282
As an update here, I've begun work on an AWS ELB autodiscovery provider in #8680

[2018-11-09 18:54] andrewvc opened #9017 "[META] Heartbeat 7.0 TODO"
This PR is for organizing what's critical for 7.0

- [x] Add synthetic PK option for hb monitors: https://github.com/elastic/beats/pull/9697
- [x] Add location fields to root of config: https://github.com/elastic/beats/pull/8620
- [x] Add 'uptime' as dataset field elastic/beats#9408
- [x] Add URL fields from ECS elastic/beats#9570
- [x] Add agent.id and agent.ephemeral_id for beat elastic/beats#94

[2018-11-09 19:12] ph opened #9018 "Functionbeat: Do a better job to handle multi region deployment"
This was found when working with @dedemorton on the documentation.

--

She created the lambda to watch in the _ohio_ region and pushed the _cloudformation_ template in another region. And we were not able to provide good feedback for that, and the debugging was a bit cumbersome. Also, the only way to define the region is to use environment variables before executing the deploy command.

We should

[2018-11-09 21:11] dedemorton commented on #8332
@andrewvc There are a few places where we can tighten up the language. However, that's true of a lot of the docs at this point (especially the stuff that's been around for awhile). At some point, I need to do a full book edit, so I'm OK with closing this for now. Thanks!

[2018-11-09 21:11] #8332 closed

[2018-11-09 22:47] dedemorton opened #9026 "Doc to-do list"
Remaining work for 6.5 docs:

My list was getting kind of long so I'm consolidating the list here. FYI @karenzone

**Journalbeat:**

- [x] Verify download paths
- [x] Remove release state override and backport to all branches.
- [x] Add linux command examples to the shared files.
- [x] Update the command reference (for journalbeat and functionbeat).
- [x]  For 6.5.1, add topics about loading dashb

[2018-11-10 03:56] mingziV5 commented on #9008
yes ,   I made a stupid mistake

[2018-11-12 00:15] ruflin commented on #8969
I like the idea of module flavors. I'm pretty sure we can use this also in other places. Could we perhaps use a `/` to separate the flavors or `:`? Would be similar to docker. `:` could also be used to separate the version of a module if we have that at one stage.

When I read this an other additional idea popped up on my end. What if you could run the following:

[code]

The idea is that we would

[2018-11-12 00:50] ruflin commented on #8915
To clarify my comment above: I think we should only not repeat errors if it's a license issue. In other cases if CCR for whatever reason is not available or reports and error back, we should report the error every time.

[2018-11-12 01:19] tdmalone commented on #7633
The title could possibly be updated, but the way I understand this is... if filebeat could support log rotation for files it reads, we wouldn't need to worry about configuring logrotate as well. Once filebeat has shipped off the logs and a configurable time has passed, it could remove the old logs from the system. That'd be awesome!

[2018-11-12 04:06] Tek-Chand opened #9033 "Duplication removal at filebeat level."
Hello Team,

We are getting multiple logs line of same type so we want to drop all line at filebeat level and want to send only single log from them to elasticsearch. But currently my pattern dropping all log line of same type at filebeat level. Can we drop duplicate logs line at filebeat level?

Below are the sample log lines:

[code]

Please help me to fix this issue.

Thanks.

[2018-11-12 05:38] jareksm commented on #8985
@exekias Is it possible to do similar configuration for hints autodiscovery?

[2018-11-12 08:30] exekias commented on #8969
This sounds good to me in general. I'm wondering if some users may end up believing that there is an actual module named `elasticsearch-xpack`. As of today, all files under `modules.d` map to a module in Metricbeat.

Probably using the `-` is good enough as a notation for that?

[2018-11-12 09:56] 13142025891 opened #9035 "filebeat can't clean registry"
- Version: 6.2
- Operating System:  windows

this is my configfile
`
filebeat.prospectors:
- type: log
  enabled: true
  paths:
    - D:\xxx\*.log
  max_bytes: 1048576000 # = 100MB
  delete_older: 72h
  free_disk_bytes: 32212254720 # = 30GB
  scan.sort: modtime
  encoding: utf-8
  ignore_older: 24h
  fields_under_root: true
  clean_inactive: 36h
`
The folder holds the log file for 3 days, and the

[2018-11-12 11:26] jsoriano opened #9037 "Add documentation about filebeat pipelines setup"
Filebeat is able to automatically install the required ingest pipelines when it has Elasticsearch as output.

Since filebeat 6.3.0 `filebeat setup` is able to install pipelines using the `--pipelines` flag, this allows to install the pipelines by an operator when filebeats don't have Elasticsearch as output (in architectures with logstash, kafka...).

There is documentation in the [guide](https://

[2018-11-12 11:36] opsnull opened #9038 "Metricbeat parse docker image and node labels error"
- Version: metricbeat 6.4.3
- Operating System:  centos 7.5
- Discuss Forum URL:
  https://discuss.elastic.co/t/metricbeat-parse-docker-image-labels-error/152986
  https://discuss.elastic.co/t/metricbeat-kubernetes-module-state-node-metricset-failed-to-parse-node-labels/156269

# metricbeat parse node lable error：
[code]

metricbeat log：

# metricbeat parse image label error

docker version：18.06.

[2018-11-12 11:37] kvch opened #9039 "Support multiple ingest pipelines in Filebeat pipeline tester"
Right now pipeline tester supports only one pipeline to test. As support for multiple pipelines are added in https://github.com/elastic/beats/pull/8914, users need to be able to test complex pipelines with pipeline processors using the script.

[2018-11-12 17:46] andrewvc opened #9043 "AWS ELB discovery provider."
I’m now thinking that the ELB autodiscovery approach I took in elastic/beats#8680 is wrong. We should still have an ELB autodiscovery provider, but it should only provide the ELB metadata, and not the exact ports. We should use a custom `aws_elb` monitor that is keyed off the ARN:

1. Fetches the latest metadata about the ELB
2. Runs a separate check for each open port on that ELB, automatically d

[2018-11-12 18:08] ycombinator commented on #8915
@ruflin A couple of questions about your latest comment, especially in light of the discussion @jsoriano and I are having [on the PR](https://github.com/elastic/beats/pull/9003):

Just to clarify, I thought you [said earlier](https://github.com/elastic/beats/issues/8915#issuecomment-436224252) that it was okay to repeat errors, just at a lower frequency.

In [my discussion with @jsoriano on the PR

[2018-11-12 21:02] ph opened #9045 "Log Harvester possibly can drop event when `close_inactive` is used"
### Preconditions:

- The log are generated in batch every 10 minutes.
- **close_inactive** is set to 5m (default value)

### I believe the following scenario is possible:

- We hit a close inactive
- The harvester is stopped the current event is dropped
- The registry is updated with the dropped event offset.
- Filebeat pick up the file again.
- read the offset
- skip the dropped event

I am stil

[2018-11-12 21:02] ph commented on #2697
I think we can close this, it's really old.

[2018-11-12 21:02] #2697 closed

[2018-11-13 03:17] andrewvc opened #9053 "Heartbeat Task Based Schema Proposal"
The current heartbeat schema works great, but for more advanced check, like the one proposed in #9043  we could use a more powerful schema that has a more generic idea of multipart jobs.

## The Situation

Today most heartbeat jobs are often multi-part jobs, by which I mean a check against `http://github.com` will actually execute *two* checks, one for each `A` record in the DNS lookup for `github

[2018-11-13 06:48] dedemorton commented on #8470
PR with the doc additions is here: https://github.com/elastic/beats/pull/9054

[2018-11-13 09:54] jsoriano commented on #8969
Take into account that if we add additional flags or syntaxes we'd need to modify also `metricbeat modules list` and other commands to be consequent, we might also need to review filebeat to give a similar support to it, one may ask if all beats have support for "module variants".

What I liked of `metricbeat modules enable elasticsearch-xpack` is that it is simple. It maintains the interface we h

[2018-11-13 11:02] jsoriano commented on #7769
Reopening and seems to be still happening.

[2018-11-13 11:26] opsnull opened #9055 "Metricbeat: fatal error: concurrent map read and map write"
- Version:  metricbeat 6.4.3
- Operating System:  CentOS 7.5
- Discuss Forum URL: https://discuss.elastic.co/t/metricbeat-fatal-error-concurrent-map-read-and-map-write/156399

[2018-11-13 15:58] caribbeantiger commented on #637
+1 for gzip support

[2018-11-13 17:25] bwunderlich824 commented on #6503
I also have the same errors with v6.4.3 my filebeat memory usage grows until it's killed by kubernetes at about 1gb of usage per pod.

[2018-11-13 17:46] ycombinator commented on #8969
The only reason I was avoiding `:` in filenames is that POSIX specifies `:` as a path separator. From http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap08.html#tag_08_03:

[2018-11-14 01:49] guanghaofan commented on #6984
yes, I think this feature is very useful in many situations. In many case, we don't use the inode and file path is enough to identify the file.

[2018-11-14 01:54] guanghaofan commented on #4368
this is real a good idea for some special case, and I think this just is a common feature.

[2018-11-14 03:10] opsnull commented on #6503
same error for v6.4.3:
2018-11-13T21:11:43.472+0800    ERROR   kubernetes/watcher.go:254       kubernetes: Watching API error EOF
2018-11-13T21:11:43.472+0800    INFO    kubernetes/watcher.go:238       kubernetes: Watching API for resource events
2018-11-13T21:11:43.474+0800    ERROR   kubernetes/watcher.go:254       kubernetes: Watching API error proto: illegal wireType 6
2018-11-13T21:11:43.474+

[2018-11-14 08:26] vladimirdolzhenko opened #9064 "[filebeats] Registry (auto) clean up"
Filebeats has been configured to look after some specific file for a while. Later on it has been decided to stop keeping track of this specific file while application is still writing to it while file entry is still in file registry and remaining there (`clean_inactive` / `clean_removed` does not help as well).

The only solution is manual clean up of a registry file that is not very convenient.

[2018-11-14 09:48] #7769 closed

[2018-11-14 12:48] ph commented on #9064
We are in the process of refactoring the registry, pinging @urso for awareness.

[2018-11-14 14:49] webmat commented on #8655
@ruflin
- I've created a section listing all modules. It's we can expand modules to one line per fileset only when needed. I get the feeling we'll end up doing some of them 1 PR for the whole module.
- I've also checked the tasks that were listed and have been merged (e.g. beat.name). If any of those required follow-up work, please add subtasks.

[2018-11-14 15:16] jsoriano commented on #8986
Adding tests for etcd 3.3 #9068

[2018-11-14 16:09] #9055 closed

[2018-11-14 16:48] bwunderlich824 commented on #6503
Can we have this re-opened since the issues seems to still be occurring?

[2018-11-14 16:49] bwunderlich824 commented on #6503
@opsnull Do you also see filebeat consuming large amounts of memory?

[2018-11-14 16:56] bwunderlich824 opened #9078 "filebeat error and excessive memory usage with autodiscover"
This is a new ticket based on the closed but on going issues noted here (https://github.com/elastic/beats/issues/6503) filebeat logs show several errors and memory usage grows until the pod is shut down by kubernetes. I am using filebeat v6.4.3.

filebeat logs show the following errors:
2018-11-14T16:50:43.002Z	ERROR	kubernetes/watcher.go:254	kubernetes: Watching API error EOF
2018-11-14T16:50:43.

[2018-11-14 16:57] bwunderlich824 commented on #6503
I have opened a new ticket here
https://github.com/elastic/beats/issues/9078

[2018-11-15 01:12] xu001186 opened #9090 "The heartbeat monitor script generates the old code"
The monitor creates function is using the PluginBuilder type.
type PluginBuilder func(string, *common.Config) (jobs []Job, endpoints int, err error)
However, The "{{monitor}}.go.tmpl" still generates the old type code

func create(
	info monitors.Info,
	cfg *common.Config,
) ([]monitors.Job, error)

[2018-11-15 10:59] jsoriano opened #9091 "Reduce logging frequency of fetch errors"
Fetch errors in metricbeat (and maybe in other beats too) are usually logged every time the operation fails, this can lead to flooding logs if some service is down or misconfigured and metricbeat tries to fetch from it every few seconds. Also having lots of repeated errors doesn't help.

Add some kind of helper that can be used in metricbeat fetchers to log errors with less frequency than the coll

[2018-11-15 12:00] jsoriano opened #9093 "Support metrics endpoint in etcd metricbeat module"
Current etcd [monitoring documentation](https://github.com/etcd-io/etcd/blob/v3.3.10/Documentation/op-guide/monitoring.md) only mentions the `/metrics` endpoint (prometheus) to collect metrics. Metricbeat module uses the [v2 stats endpoint](https://github.com/etcd-io/etcd/blob/v3.3.10/Documentation/v2/api.md#statistics).

They seem to offer complementary metrics (there are some metrics that I coul

[2018-11-15 12:30] simitt commented on #5386
I have the same issue for `system.fsstat.total_files` on High Sierra.

[2018-11-15 13:27] #8915 closed, assigned to nobody

[2018-11-15 13:43] exekias opened #9096 "Windows packages don't include x-pack binaries"
I downloaded  https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-6.5.0-windows-x86_64.zip and it seems `enroll` subcommand is not available.

I've checked the binary resulting from crossbuild and that one is correct, so I believe we are packaging the wrong binary for windows.

This was first reported here: https://discuss.elastic.co/t/filebeat-6-5-0-error-unknown-command-enroll-for-fil

[2018-11-15 14:30] ph commented on #9096
building the artifact in the filebeat directory with the following command:

[code]

It Generates 2 windows artifacts, one OSS and the other with the Elastic license, the elastic one does include the **enroll** subcommand and the oss does not.

**NOTES**: same problem with Metricbeat.

[2018-11-15 14:30] ph commented on #9096
I will take a look at our Release manager, I suspect the problems is there.

[2018-11-15 14:39] luisgarcia1010 opened #9101 "upgrade filebeat 6.5.0 not work elk"
on the server was version 6.4.3 with configuration
[code]

Everything worked, yesterday it was updated to 6.5.0 and today there is no data in elk, what could be the problem?

[2018-11-15 14:48] ycombinator commented on #8200
@joshuar I believe #8954 should've fixed this issue. Any chance you could work off `master` and try to reproduce the issue? If `master` is not an option, the fix should be getting backported to `6.x` (for release in `6.6`) shortly: https://github.com/elastic/beats/pull/9102

[2018-11-15 15:54] ph commented on #9096
Okay shame on me, actually I have fixed that in master in #8836. When we assumed the risk we didn't think it had an impact on the packaging generation but we were wrong. I have fixed it and created two backport for https://github.com/elastic/beats/pull/9103 and https://github.com/elastic/beats/pull/9103 https://github.com/elastic/beats/pull/9104

I have added a changelog for both branch.

[2018-11-15 15:58] ph opened #9105 "Make our YAML packaging file more strict"
YAML is a really non-strict format. We had formatting issues in the past in our packages.yml files that could have been catched if we had some kind of schema validation.

We want to enforce more strictness in our Filebeat ucfg handling for config management maybe we could apply the same technic for our packages definition files.

Ref: #9096

[2018-11-15 16:03] andrewvc commented on #9090
Where is this `{{monitor}}.go.tmpl` file? It sounds like you tried to create a new monitor. I don't see it in our source.

[2018-11-15 16:09] ph opened #9107 "Inject license information at built time in the beat"
We should inject the license type at build time like we do for the commit ID and the build time and make version return the appropriate version.

[2018-11-15 16:10] ph opened #9108 "Functionbeat add `mage.License = "Elastic"`"
Insert the license type in the magefile.go for functionbeat.

[2018-11-15 16:38] urso commented on #8862
Is this some feature we strictly consider for CCM only? For CCM we will have to introduce some generated/configurable ID anyways. With the tags functionality we have in CCM, actual beats, tags + configs are somewhat orthogonal. The PK for one module will consist of: beats UUID + tag name + config ID within tag. This proposal is about adding the later one. For CCM only it doesn't really matter who

[2018-11-15 17:08] jsoriano opened #9111 "Improve error handling when collecting processes information"
Process information is collected non-atomically, so it can be possible that processes finish while metricbeat is collecting its metrics, provoking failures as the process is not found.
If something fails when collecting process information, whole events are lost, and errors are logged.

We could ignore the errors in some cases, reducing events loss.

We can also evaluate to use `go-sysinfo` instea

[2018-11-15 17:14] andrewvc commented on #8862
@urso I like the idea of opting in by converting to map, it's definitely the cleaner datastructure.

I think for the PK to be unique it needs to be the hash of all values in the config, not just a limited set of fields. That's of course the great thing about synthetic PKs. If the user changes a field like `timeout`, the hash wouldn't change.

[2018-11-15 17:18] #8430 closed

[2018-11-15 17:31] cmcornejocrespo commented on #9101
Hi Luis,

I'm curious as I tried both 6.4.3 and 6.5.0 and none of them worked for me.

My configuration is identical to yours and I'm running elk stack in a docker compose as follows:
`
version: '2.3'
services:
  elasticsearch:
    ..
  logstash:
    ..
  kibana:
    ..
  filebeat:
    restart: always
    build:
      context: filebeat/
      args:
        ELK_VERSION: $ELK_VERSION
    container_n

[2018-11-15 19:11] tsg commented on #9096
Closed by merging those PRs.

[2018-11-15 19:11] #9096 closed

[2018-11-15 19:31] ph opened #9116 "[Functionbeat] Add assert to make sure the package contains the serverless binaries"
Functionbeat is different from any other beats and actually packages two distinct binaries; one is to be executed on the host of the user and the other in the serverless environment.

We should add an assert to make sure that every package has both binaries.

[2018-11-15 19:55] luisgarcia1010 commented on #9101
I have a filebeat not in docker, it was not possible to run the filebeat normally in docker, I just installed via yum install filebeat

[2018-11-15 23:02] andrewkroh commented on #3501
I'd say that library would be fine to use. It says

Filebeat is used by people on openbsd so I'd take care to make the O_DIRECT config option not available on that system.

[2018-11-15 23:10] Feder1co5oave opened #9119 "[metricbeat][libbeat] template setup fails with number_of_shards=4"
- Version: 6.5.0
- Operating System: Ubuntu 18.04
- Steps to Reproduce: edit `metricbeat.yml`:
[code]
The following mapping is produced by metricbeat: (`metricbeat export template`)
[code]
When the above template is uploaded to elasticsearch, like this
[code]
the following is returned
[code]
When running `metricbeat setup --template -e`, the error is lost in the huge output.

This bug was introduc

[2018-11-15 23:15] alexjurkiewicz opened #9120 "Json_parse_exception Illegal character CTRL-CHAR"
I was advised to open this bug by an Elastic team member:
https://discuss.elastic.co/t/json-parse-exception-illegal-character-ctrl-char/156790

I was trying to set up shipping of a JSON log to Elasticsearch via Filebeat and received this strange error. Now it won't go away. The error is:

[code]
The config I was trying to add to filebeat.yml was:

[code]
I found it really hard to debug this error.

[2018-11-16 07:41] cmcornejocrespo commented on #9101
Ok Luis, thanks. Let's see if someone else can confirm 6.5.0 is working for them