[2021-02-23 14:37] ferullo commented on #24150
FWIW I hit this issue and "solved" it by rebooting the host. I know this isn't a true solution but it might help unblock some testing.

[2021-02-23 14:42] EricDavisX commented on #24180
it would be helpful like always to have confirmation of what the Agent logs look like from the host, @amolnater-qasource are there any?

Also, if there is a problem when Endpoint is configured, we will always request to know if it works without Endpoint included, so we can triage all the faster.  Please let us know, thank you!

[2021-02-23 14:43] michalpristas commented on #24180
it would be worth a try to verify whether logs are discoverable using Discover
this would help us differentiate and tell whether it is agent or fleet ui issue

[2021-02-23 15:23] mdelapenya opened #24186 "[ARM] Ubi8 Docker images are not included in the unified release"
Although Beats CI is generating the Ubi8 ARM Docker images for all beats (and pushed to our GCP bucket), the Unified Release Process is not generating those ubi8 images. See https://artifacts-api.elastic.co/v1/search/8.0.0-SNAPSHOT/elastic-agent?x-elastic-no-kpi=true

[2021-02-23 15:28] amolnater-qasource commented on #24180
Hi @EricDavisX

Below are the required log files:
[elastic-agent-json.log](https://github.com/elastic/beats/files/6029872/elastic-agent-json.log)
[endpoint-000000.log](https://github.com/elastic/beats/files/6029873/endpoint-000000.log)

We haven't observed any data under Data Streams tab.

Please let us know if anything else is required.
Thanks
QAS

[2021-02-23 15:46] EricDavisX commented on #24180
I see this repeated in the logs provided, over 2000 times it seems:

[code]

I wonder if this is human error in using the x64 artifact on an x86 environment?  @amolnater-qasource can you double check for us?

[2021-02-23 15:49] elasticmachine commented on #22051
Pinging @elastic/agent (Team:Agent)

[2021-02-23 15:50] EricDavisX commented on #24180
@ph fyi.  also the Security Engg prod group has offered to give some second opinions as to using the latest snapshot.  Thank you @charlie-pichette and @andrew-garfield101 for any info you can post about if you are seeing the same things on any Windows environments or not

[2021-02-23 16:16] #14509 closed

[2021-02-23 18:55] ph commented on #22051
In the current beats implementation the internal monitoring can only send to Elasticsearch, this is done because we need to massage the document in a specific way and send documents into a specific bulk api to add metadata, this endpoint is different from the normal indexing.

In Elastic Agent we do not use internal monitoring but instead  we are using external monitoring to collect metrics on the

[2021-02-23 19:00] blakerouse commented on #24054
I think this work comes into 2 parts:

#### Part 1 -  Support for templates in Elastic Agent inside a top-level `templates.d` directory.

This is the core work on how Elastic Agent will perform the work required to actually support templates. This should be possible building on top of the variables used by dynamic inputs. I think the flow would go something like this.

1. Reads the configuration f

[2021-02-23 19:10] ruflin opened #24193 "Building beats exposes some warning for legacy OS X versions"
* OS: Mac OS  X 11.2.1
* Beats version: master
* Command: `SNAPSHOT=true DEV=true PLATFORMS=darwin mage package` (run here in `x-pack/elastic-agent`)

Running `mage package` outputs a few warnings in the command line. Some seem to be related to older OS X versions, namely 10.10. These are the log entries for heartbeat but it is seen for all Beats built for platform darwin:

[code]

I did not furth

[2021-02-23 19:10] elasticmachine commented on #24193
Pinging @elastic/agent (Team:Agent)

[2021-02-23 19:23] blakerouse commented on #24143
I think the original idea was to add a single `secret` context provider. This provider would have different backends, with multiple supported at the same time. I would think we could start with a single backend of K8s at first, because that has the biggest use-case at the moment.

With this backend it would allow the value of the secret to be exposed as a variable in the dynamic inputs composer.

[2021-02-23 19:40] ph commented on #24143
I've touched briefly with @ruflin on this and after talking to him, I am not sure we actually need a "Secret Provider" that supporting multiple backend and having to deal with resolution priority, but we could instead have dedicated providers.

[code]

Something like "kubernetes_secrets" or "file_secrets" and user could reference them directly like "${kubernetes_secrets.cloud-secret.cloud-id}". Al

[2021-02-23 19:44] ph commented on #24143
@blakerouse is that a supported mechanism for k8s, ie does k8s sent a notification or we would have to an internal watchdog for the values?

[2021-02-23 21:00] elasticmachine commented on #24192
Pinging @elastic/agent (Team:Agent)

[2021-02-23 21:25] mukeshelastic commented on #24143
I am in support for getting this working with single K8s backend and then expanding to additional backend when  required. So  just restating what @blakerouse mentioned as a way to read this secret in config files  `${secret.kubernetes.cloud-secret.cloud-id}` is a good first step.

[2021-02-23 21:36] blakerouse commented on #24143
We could also go with the what you described, I just liked the cleanness of `secrets.*`. Going with what you described would be easier to implement and would keep the flat namespace.

[2021-02-23 21:38] blakerouse commented on #24143
I believe there to be a way to watch for changes in secrets, but would need to fully confirm. I believe watching changes for any resource is generic.

[2021-02-23 22:39] andrewvc commented on #24171
dupe of https://github.com/elastic/beats/issues/22901

[2021-02-23 22:39] #24171 closed

[2021-02-23 22:39] mukeshelastic commented on #24054
@ruflin Right, I was looking for an example template definition for metrics collection.  I understand that agent wouldn't care about the contents of the template so that's why we don't need the diversity of examples in this issue. So who creates templates, what do they look like? I see your related comment above "during package build time, a template for the full package (or parts of it) is genera

[2021-02-23 22:40] #23774 closed

[2021-02-23 23:33] dedemorton commented on #23741
I'm starting on this now, so drop in any comments if you want to express priorities. For the first pass, I'll just work on formatting and cleaning up any eccentricities we don't want to carry on into the agent docs.

[2021-02-24 00:31] rfraposa commented on #19410
FWIW - this is still an issue. I am running the Stack version 7.10 in CentOS Docker containers. I get the following error when trying to index metrics using the  Metricbeat `golang` module OOTB:

`"host":{"architecture":"x86_64","containerized":true,"hostname":"checkoutservice","ip":["172.19.0.18"],"mac":["02:42:ac:13:00:12"],"name":"checkoutservice","os":{"codename":"Core","family":"redhat","kern

[2021-02-24 06:43] deepikakeshav-qasource commented on #24150
Hi,

We have validated this ticket on **7.12.0 BC1** on production build and **7.12.0 BC2** on staging. Please find the below observations:

**Observation 1:**
- **7.12.0 BC1 on production:**

**Build Details:**
[code]
**Steps:**
1. Install the agent.
2. Agent goes to updating status.
3. Reboot the endpoint.
4. Agent goes to healthy status

**Screenshot:**
![7 12 0_BC1](https://user-images.githubu

[2021-02-24 08:45] mtojek opened #24198 "Elastic Agent docker: new revisions are not getting released"
Hi,

due to the bug introduced to the 7.x (and 7.12) branch, the latest snapshot is failing. The bug has been fixed in https://github.com/elastic/beats/pull/24163 and https://github.com/elastic/beats/pull/24161 , but the Docker image hasn't been released due to other issues in the unified release process.

With this problem in SNAPSHOT the package development is blocked for few days in elastic/int

[2021-02-24 08:50] ruflin commented on #24198
I'm not sure if the goal should be to introduce a separate build process. It is unfortunate that the build is broken and we should ensure on the Beats / Agent end, we detect such problems before they are merged.

Is the package development really blocked? It seems the master snapshots are available so development against mater should still work?

[2021-02-24 08:53] amolnater-qasource commented on #24180
Hi @EricDavisX

No Eric, we are using required x64 artifact with Windows 10 x64 machine. Please refer below screenshot for machine details:
![image (2)](https://user-images.githubusercontent.com/77374876/108971896-cc5a8600-76a8-11eb-977a-b7490af2c4a2.png)

Please let us know if anything else is required.
Thanks

[2021-02-24 08:57] mtojek commented on #24198
It is, because we can't test against current/older releases. Let me bring few issues:

https://github.com/elastic/integrations/issues/736 - I can't reverify if the problem is fixed for 7.11.
https://github.com/elastic/elastic-package/pull/260 - updating the package spec and checking if it's correct (packages can be installed in particular stack version)
https://github.com/elastic/integrations/pull

[2021-02-24 09:01] elasticmachine commented on #24198
Pinging @elastic/agent (Team:Agent)

[2021-02-24 09:25] dikshachauhan-qasource commented on #24180
Hi @EricDavisX,

While performing testing on 7.12 snapshot build, we observed that windows agent is still going unhealthy with no activity logs.
- Agent policy had: windows and Linux integration only.

**Build details:**
BUILD 38965
COMMIT 00f7be3e485a4ec7788675ccd3d302eb6b92dc50
Artifact link: https://snapshots.elastic.co/7.12.0-6c7b44c1/downloads/beats/elastic-agent/elastic-agent-7.12.0-SNAPSHOT

[2021-02-24 09:45] amolnater-qasource opened #24199 "Unable to install Linux .rpm and .deb agent on 7.12.0"
**Kibana version:** 7.12.0 BC-2 Kibana Cloud environment

**Host OS and Browser version:** Linux Centos 8.0 and Debian 10, All

**Preconditions:**
1. 7.12.0 BC-2 Kibana cloud environment should be available.

**Build Details:**
[code]
2. Linux .rpm and .deb packages must be extracted.

**Steps to reproduce:**
1. Login to Kibana Cloud environment.
2. Run `sudo elastic-agent enroll kibana-url enroll

[2021-02-24 09:46] amolnater-qasource commented on #24199
@manishgupta-qasource Please review.

[2021-02-24 09:53] michalpristas commented on #24180
looks like todays build is the same and does not includes anything from yesterday, so if the artifact from yesterday contained invalid metricbeat binary it would be the case for this one as well.
do you still see the logs eric mentioned before?
i tested artifact on the local windows machine and metricbeat executes ok.

can you check hash of the metricbeat.exe?
you should see this:
[code]

[2021-02-24 10:10] elasticmachine commented on #24199
Pinging @elastic/agent (Team:Agent)

[2021-02-24 10:16] andresrc commented on #24198
Why are old versions a problem?

[2021-02-24 10:19] v1v commented on #24082
https://github.com/elastic/beats/pull/24188 failed with a similar error, even worst, since it did nothing but failing quite fast

[code]

[2021-02-24 10:20] mtojek commented on #24198
It's because of affected branches (backport not released):
* 7.x contains changes scheduled for 7.13
* 7.12

7.11 is old enough that we'll skip testing for some packages (compatible with newer Kibana versions)

[2021-02-24 10:55] v1v opened #24200 "Flaky Test [Build&Test / x-pack/metricbeat-cloud / TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/cloudwatch]"
## Flaky Test

* **Test Name:** `TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/cloudwatch`
* **Link:** Link to file/line number in github.
* **Branch:** master
* **Artifact Link:**  https://beats-ci.elastic.co//blue/rest/organizations/jenkins/pipelines/Beats/pipelines/beats/pipelines/PR-24184/runs/3/steps/14280/log/?start=0 and https://beats-ci.elastic.co//blue/rest/organiza

[2021-02-24 10:56] v1v opened #24201 "Flaky Test [Build&Test / x-pack/metricbeat-cloud / TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/ec2]"
## Flaky Test

* **Test Name:** `TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/ec2`
* **Link:** Link to file/line number in github.
* **Branch:** master
* **Artifact Link:**  https://beats-ci.elastic.co//blue/rest/organizations/jenkins/pipelines/Beats/pipelines/beats/pipelines/PR-24184/runs/3/steps/14280/log/?start=0 and https://beats-ci.elastic.co//blue/rest/organizations/j

[2021-02-24 10:57] v1v opened #24202 "Flaky Test [Build&Test / x-pack/metricbeat-cloud / TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/rds]"
## Flaky Test

* **Test Name:** `TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/rds`
* **Link:** Link to file/line number in github.
* **Branch:** master
* **Artifact Link:**  https://beats-ci.elastic.co//blue/rest/organizations/jenkins/pipelines/Beats/pipelines/beats/pipelines/PR-24184/runs/3/steps/14280/log/?start=0 and https://beats-ci.elastic.co//blue/rest/organizations/j

[2021-02-24 10:58] v1v opened #24203 "Flaky Test [Build&Test / x-pack/metricbeat-cloud / TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/s3_daily_storage]"
## Flaky Test

* **Test Name:** `TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/s3_daily_storage`
* **Link:** Link to file/line number in github.
* **Branch:** master
* **Artifact Link:**  https://beats-ci.elastic.co//blue/rest/organizations/jenkins/pipelines/Beats/pipelines/beats/pipelines/PR-24184/runs/3/steps/14280/log/?start=0 and https://beats-ci.elastic.co//blue/rest/or

[2021-02-24 10:59] v1v opened #24204 "Flaky Test [Build&Test / x-pack/metricbeat-cloud / TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/s3_request]"
## Flaky Test

* **Test Name:** `TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/s3_request`
* **Link:** Link to file/line number in github.
* **Branch:** master
* **Artifact Link:**  https://beats-ci.elastic.co//blue/rest/organizations/jenkins/pipelines/Beats/pipelines/beats/pipelines/PR-24184/runs/3/steps/14280/log/?start=0 and https://beats-ci.elastic.co//blue/rest/organiza

[2021-02-24 11:00] v1v opened #24205 "Flaky Test [Build&Test / x-pack/metricbeat-cloud / TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/sqs]"
## Flaky Test

* **Test Name:** `TestFetch – github.com/elastic/beats/v7/x-pack/metricbeat/module/aws/sqs`
* **Link:** Link to file/line number in github.
* **Branch:** master
* **Artifact Link:**  https://beats-ci.elastic.co//blue/rest/organizations/jenkins/pipelines/Beats/pipelines/beats/pipelines/PR-24184/runs/3/steps/14280/log/?start=0 and https://beats-ci.elastic.co//blue/rest/organizations/j

[2021-02-24 11:19] manishgupta-qasource commented on #24199
Reviewed & assigned to @EricDavisX

[2021-02-24 11:20] amolnater-qasource commented on #24199
Hi @EricDavisX
We have reported this issue to track down the .deb and .rpm fixes.

Thanks

[2021-02-24 11:55] amolnater-qasource commented on #24180
Hi @michalpristas
Today we have revalidated this issue on 7.12.0 Snapshot Kibana cloud environment and as per your feedback we have checked hash for the metricbeat.exe. Please refer below screenshot:
![1](https://user-images.githubusercontent.com/77374876/108991957-bbb50a80-76be-11eb-8e37-5f2435f50cc8.PNG)

**Elastic-agent logs:**
[elastic-agent-json.log](https://github.com/elastic/beats/files/603

[2021-02-24 12:02] michalpristas commented on #24180
seems like you have the same version/hash of agent as i was testing and hash does not match.

can we check that
- hash of metrcibeat in download directory is the same as in the install directory
- hash of metricbeat in download directory is the same as hash of unpacked metricbeat
  - unpack downloaded agent, go to data/elastic-agent-04d374/download, unpack metricbeat.zip, check hash
- metricbeat i

[2021-02-24 13:36] marqc opened #24208 "filebeat Duplicated logs at beginning with kubernetes autodiscovery"
Sometimes, when filebeat discovers new pod/container, it opens log file multiple times and collected logs are duplicated.

Version:

7.11.0 and 7.11.1

Operating System:

filebeat is deployed as daemonset in kube cluster
host machines operate on centos 7.9.2009
cpu: AMD EPYC 7402P 24-Core Processor (48 logical cores) or Intel(R) Xeon(R) Silver 4110 CPU @ 2.10GHz (32 logical cores)

Configuration:

[2021-02-24 13:50] amolnater-qasource commented on #24180
Hi @michalpristas

As per your feedback we have checked hash from both the locations and found it different. Please find screenshot below:
![11](https://user-images.githubusercontent.com/77374876/109009146-34729180-76d4-11eb-974b-d9a33e143738.JPG)

Further we attempted to start the metricbeat from:

Observed Access is denied even when run on admin cmd.
![13](https://user-images.githubusercontent.c

[2021-02-24 14:49] #24073 closed

[2021-02-24 15:04] ph commented on #24150
I have assigned it to you @michalpristas and added it to the board.

[2021-02-24 15:04] andrewvc commented on #23915
Fixed in https://github.com/elastic/beats/pull/23873/commits

[2021-02-24 15:04] #23915 closed

[2021-02-24 15:13] EricDavisX opened #24212 "[Agent] Win 2016 OS host is Healthy status, but Metricbeat is failed (and not shipping data to ES)"
The team is testing on the latest BC of 7.12 and relating current snapshot builds (since BC was not usable)

Default Policy was used, with nothing else in it
 - though later / at some point we did try to add Endpoint in to compare / assess that as well

The 2 concers are:
1) why was Metricbeat unhealthy - which may be followed up in separate ticket already
2) why is Agent reporting 'healthy' when

[2021-02-24 15:13] elasticmachine commented on #24212
Pinging @elastic/agent (Team:Agent)

[2021-02-24 15:14] pebrc opened #24213 "Elastic Agent uses rename to move files, cannot move across filesystem boundaries"
In trying to work around #24160 we experimented with `agent.download.install_path` and `agent.download.target_directory` Specifically, running on Kubernetes, we tried to mount an `emptyDir` volume to use for both these locations as this would have allowed us to sidestep the `noexec` property of the main data path.

The problem with that approach seems that Agent uses a temporary directory in `$pat

[2021-02-24 15:14] elasticmachine commented on #24213
Pinging @elastic/agent (Team:Agent)

[2021-02-24 15:38] ph commented on #24212
Weird, looking at the issue `{"log.level":"error","@timestamp":"2021-02-24T07:15:41.825-0500","log.origin":{"file.name":"process/start.go","file.line":130},"message":"failed writing connection info to spawned application: failed to write connection information: write |1: The pipe has been ended.","ecs.version":"1.6.0"}
`
The above logs is show really often in the logs, this would make me thinks th

[2021-02-24 16:12] elasticmachine commented on #24208
Pinging @elastic/integrations (Team:Integrations)

[2021-02-24 16:14] elasticmachine commented on #24205
Pinging @elastic/integrations (Team:Integrations)

[2021-02-24 16:15] elasticmachine commented on #24204
Pinging @elastic/integrations (Team:Integrations)

[2021-02-24 16:15] elasticmachine commented on #24203
Pinging @elastic/integrations (Team:Integrations)

[2021-02-24 16:15] ph commented on #24199
@mdelapenya @EricDavisX That should have been caught by the e2e testing?

[2021-02-24 16:16] elasticmachine commented on #24202
Pinging @elastic/integrations (Team:Integrations)

[2021-02-24 16:16] elasticmachine commented on #24201
Pinging @elastic/integrations (Team:Integrations)

[2021-02-24 16:17] elasticmachine commented on #24200
Pinging @elastic/integrations (Team:Integrations)

[2021-02-24 16:22] EricDavisX commented on #24180
Thank you Amol and Michal for working this.  Here is a summary of where we see we are today, afte a quick chat with Michal:

- we do think it is specific to something on Agent side.
- it seems specific to Win 10 so far (a few confirmed failures on win 10, but other Windows OSes are working).
- We were testing with the snapshot image so we’ll try again with the latest BC (number 2).  ...The Endpoin

[2021-02-24 16:24] ph commented on #24198
@mtojek Just to clarify, the problem is because the unified process produced artifacts are olds and do not include the latest fixes, the new build arent completing?

First, are we responsible for the failure of the build? Are our beats or Elastic Agent breaking the build? This we can control and prioritize, if this is not the case we need to look with infra, they are looking into better way to not

[2021-02-24 16:29] crimsoncore opened #24217 "Update Sysmon module for v13.01 (EID 24 and 25)"
Sysmon event ID 24 and 25 are missing from winlogbeat-sysmon.js

[2021-02-24 16:30] ph commented on #23720
@michalpristas @EricDavisX this should be fixed correct?

[2021-02-24 16:31] #23720 closed

[2021-02-24 16:34] ph commented on #23950
Going to close this one in favor of https://github.com/elastic/beats/issues/24092

[2021-02-24 16:34] #23950 closed

[2021-02-24 16:35] mostlyjason commented on #22051
This sounds like a need for environments where there is a proxy between elastic agent and elasticsearch. This often occurs when there are secure networks and operators do not trust the agent or any host in that network to connect directly to ES. Perhaps we could make a case that monitoring data is less sensitive, but itd still be a pain to get firewall exceptions for it. It'd be easier if all data

[2021-02-24 16:37] ph commented on #24092
@faec I've clarified the Acceptance criteria on this issue.

[2021-02-24 17:27] mtojek commented on #24198
Yes.

I think we should put more emphasis on ownership here and be more proactive in emergency situations, not just sit and wait until the next build appears. In this particular situation the image has been built correctly, but it was discovered later that it doesn't boot up correctly. I had an interesting conversation around this issue with @ycombinator . Of course we can improve the test coverag

[2021-02-24 18:41] ph commented on #22051
@mostlyjason I am taking the following as a **Yes** :)

For you second to support a separate named output., let's do that in another issue.

[2021-02-24 19:48] EricDavisX commented on #24180
ok, we have reports of other Win 10 versions working, and I used the same template (I believe) as is reported originally, and I DO see the problem.  I've cloned one for Michal to take a look at, requires Endgame VPN access.  notes sent in slack for access.

[2021-02-24 20:54] mostlyjason commented on #22051
CCing @ravi-elastic for input on the stack monitoring perspective. Do you agree that support for sending monitoring data through Logstash should be a requirement?

[2021-02-24 21:57] EricDavisX commented on #23720
@dikshachauhan-qasource @amolnater-qasource can you run testing over this in BC2 7.12 code and update test suites to include Endpoint log level setting now please?  It will also be in the next 7.11.X patch, so updating that label too.  @ph thanks for tracking it with us.

I did a 3 min test and it seems to be working!

[2021-02-24 22:08] EricDavisX commented on #24199
@ph it was, we updated the test, but I was waiting a day to see it pass routinely, and failed to realize we'd get the issue logged from manual test before then.  Sorry Amol!

@amolnater-qasource can you confirm if the deb / rpm install string is anywhere in the UI?  it would need to be updated if so.  If it is only in Docs, then we can leave this open for that Docs update.

See relating commit her

[2021-02-24 22:39] EricDavisX commented on #23756
I have not seen this on recent 7.12 snapshot or BC (BC2) testing.

[2021-02-24 23:10] dedemorton commented on #24199
@EricDavisX So it looks like I simply need to update the docs anywhere the enroll command is described, correct?

[2021-02-25 01:13] axw commented on #22215
@elastic/apm-server will take a look at implementing this.

[2021-02-25 06:52] elasticmachine commented on #24217
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-25 07:34] amolnater-qasource commented on #24199
Hi @EricDavisX

We have attempted to reinstall .rpm and .deb agents on 7.12.0 BC-2 and we are able to install with updated command:
 `sudo elastic-agent enroll --kibana-url= --enrollment-token=`

No Eric, no installation command is available for .deb / .rpm on Kibana UI.

However this enrollment command needs to be updated for .deb and .rpm agent installation docs available under: [Install Elastic

[2021-02-25 08:16] ruflin commented on #24054
@mukeshelastic @blakerouse Lets focus on Phase 1 defined by Blake for now. @mukeshelastic For template generation of packages, should we start a discussion in the "integrations" repo?

@blakerouse @urso The part I'm not sure yet: Is it a good idea to have an input `type: template`. Or should we have separate configs? Should it be a provider? It seems the config proposed would work but will it give

[2021-02-25 08:23] #21848 closed

[2021-02-25 08:29] ruflin commented on #24143
As ph mentioned, I prefer a separate provider for each secret "type". Like this we have just one implementation. I understand that from a usability perspective the `secret.*` is nice. Maybe we can get almost there by calling the providers `secret_kubernetes` etc? Every secret provider should have the `secret_*` prefix`.

An other solution (but not sure if intuitive for users) is that inside a prov

[2021-02-25 08:31] ChrsMark commented on #23613
@ruflin @ph @masci Related to ph's [comment](https://github.com/elastic/observability-docs/pull/401#issuecomment-785291929), since now we have most of the list completed what do you think about backporting the manifest to `7.13`?

[2021-02-25 08:55] ruflin commented on #24198
I expect future community developers to develop against stable version of the stack, so I would assume this should not happen. A bit similar on our end, I expect us to be more and more able to develop against stable / released versions.

Broken / failed builds will keep happening from time to time, be it that we are in control or someone else. One thing that was great during the development of the

[2021-02-25 09:11] michalpristas opened #24229 "[Ingest Manager] Unable to collect logs on machines with timezone set"
This is coming from discuss issue: https://discuss.elastic.co/t/elastic-agent-filebeat-and-metricbeat-error-log-help/264054/2

Verified on local windows ENV.

The problem is the way how we log and process logs.
When agent/beats are logging events they use format of `2021-02-11T13:00:19.011-0700`
When processing json logs filebeat requires `RFC3339` (in `libbeat/common/jsontransform/jsonhelper.go`)

[2021-02-25 09:11] elasticmachine commented on #24229
Pinging @elastic/agent (Team:Agent)

[2021-02-25 09:11] elasticmachine commented on #24229
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-02-25 09:28] jamiehynds commented on #24217
Hi @crimsoncore - support for Sysmon v13 is being tracked in this issue, which we plan on addressing soon: https://github.com/elastic/beats/issues/21172

Could you provide sample events (sanitised is fine) for event ID 24 and 25? Thanks!

[2021-02-25 09:31] crimsoncore commented on #24217
sure here's the raw xml for EID 25

- <Event xmlns="http://schemas.microsoft.com/win/2004/08/events/event">
- <System>
  <Provider Name="Microsoft-Windows-Sysmon" Guid="{5770385f-c22a-43e0-bf4c-06f5698ffbd9}" />
  <EventID>25</EventID>
  <Version>5</Version>
  <Level>4</Level>
  <Task>25</Task>
  <Opcode>0</Opcode>
  <Keywords>0x8000000000000000</Keywords>
  <TimeCreated SystemTime="2021-02-24T16:

[2021-02-25 09:37] crimsoncore commented on #24217
EventID 24

`- <Event xmlns="http://schemas.microsoft.com/win/2004/08/events/event">
- <System>
  <Provider Name="Microsoft-Windows-Sysmon" Guid="{5770385f-c22a-43e0-bf4c-06f5698ffbd9}" />
  <EventID>24</EventID>
  <Version>5</Version>
  <Level>4</Level>
  <Task>24</Task>
  <Opcode>0</Opcode>
  <Keywords>0x8000000000000000</Keywords>
  <TimeCreated SystemTime="2021-02-25T09:36:21.965118200Z" />

[2021-02-25 09:46] michalpristas commented on #24173
identified the place where the issue is coming from, related to Enroll change.

at the time of installation we start installation process from `TempDir` `P1`

`P1` unpacks and copies agent to `Program Files/Elastic/Agent` (further referred to as `InstallDir`)
`P1` installs the service and start the service spinning up `P2`
`P2` is actual agent process, it creates a log file

once `P2` is up and ru

[2021-02-25 09:55] jamiehynds commented on #24217
Thanks @crimsoncore, really helpful! Is there any chance you could export those two events to evtx from the Windows Event Viewer. We'll have all we need to update the module from there.

[2021-02-25 11:00] amolnater-qasource commented on #23756
Hi @EricDavisX
We have revalidated this issue on 7.12.0 BC-2 Kibana cloud environment.

**Observations:**
- "Error fetching agents" pop ups under Agents tab.
- Observed `"socket hang up" [error]` logs under agent Logs tab.

**Screenshots:**
![socket](https://user-images.githubusercontent.com/77374876/109142948-7a3b6280-7785-11eb-93b9-826a76829c48.png)

**Build details:**
[code]
Thanks
QAS

[2021-02-25 11:11] jsoriano commented on #21961
Fixed by https://github.com/elastic/beats/pull/24066

[2021-02-25 11:11] #21961 closed

[2021-02-25 11:40] rdrgporto opened #24237 "[Filebeat] Dissect Parsing Error with Sophos Module"
For confirmed bugs, please report:
- Version: **7.9.2**
- Operating System: **Ubuntu 18.04**

Hi, everyone

I have found a **dissect parsing error** by using [Sophos module](https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-module-sophos.html) module of **Filebeat 7.9.2**.

The **Sophos** version is **SFOS 18.0.4 MR-4 XG210**

Here you are a log example:

[code]

The dissect error is

[2021-02-25 11:50] rdrgporto opened #24238 "[Filebeat Sophos] Rsyslog log format explanation"
Hi, everyone

I have been working with some firewall devices as **Sophos**, **Sonicwall** and **Palo Alto**. Elastic's documentation points out that it uses **Syslog default**. Nevertheless, **Palo Alto's default Rsyslog and Sonicwall and Rsyslog** itself does not consider **Syslog5424Pri** as default header.

An example:

**Sonicwall**:

[code]

In my opinion, it would better to **explain log for

[2021-02-25 11:55] ruflin commented on #23613
++

[2021-02-25 12:04] muskangulati-qasource commented on #24212
Hi @EricDavisX,

We saw this issue on the latest 7.12.0 BC2 build. Please find below the testing details:

**Build Details**:
[code]

**Observations**:
- **Log**: [elastic_agent][error] failed writing connection info to spawned application: failed to write connection information: write |1: The pipe has been ended.'
- **Windows template**: Windows 10 Pro 1909
- **Metric beat**: Not working
- **Agen

[2021-02-25 12:22] dikshachauhan-qasource commented on #24105
Hi @EricDavisX cc @fearful-symmetry

We have revalidated windows package 4.1 on 7.11.1 snapshot Stack environment and found it working fine.

Observations:
- Agent was in healthy state.
- Windows package installed successfully[Agent policy having windows, Linux and System integrations]
- Data streams showed up below windows logs and metrics. [Except forwarded and sysmon logs]
- Logs were available

[2021-02-25 12:27] ph commented on #23613
@chrsMark +++ Please lets do it, this is super amazing. thanks for thepush on this.

[2021-02-25 12:28] ph commented on #24143
@ChrsMark would be nice to have your opinion on this.

[2021-02-25 12:34] dikshachauhan-qasource commented on #23720
Hi @EricDavisX

We have validated this issue and found it working fine on 7.12 BC2 Kibana cloud build. Build details are as follows:

[code]

**Observations:**  Agent log level setting are now applicable on endpoint security logs.

Screenshot:
![image](https://user-images.githubusercontent.com/72375798/109153519-06a05200-7793-11eb-9ca8-bcdbe957c4ab.png)

Thanks
QAS

[2021-02-25 13:42] immon opened #24242 "All cisco datasets enabled by default cause poor UX"
**Describe the enhancement:**

Disable cisco datasets by default or be more lenient about umbrella dataset misconfiguration.

**Describe a specific use case for the enhancement or feature:**

We're using CISCO module and use ASA and FTD datasets only. After enabling cisco module all datasets are enabled by default (including meraki, umbrella, nexus, ios). A lack of proper configuration for umbrell

[2021-02-25 13:56] ph commented on #23741
@dedemorton sound good to me, are you doing multiple PR or one big PR?

[2021-02-25 14:00] michalpristas commented on #24180
we had a nice chat with @EricDavisX and Qas team. what we found out is that they ran into issue with race between enroll and install which is fixed few days ago. after restart we ran into issue described.

what we observed was that agent unzips metricbeat but only partially. it results in metricbeat of 2/3 size 77 instead of 118 MBs the rest of the files following `metricbeat.exe` were entirely mi

[2021-02-25 14:02] ChrsMark commented on #24143
Both ways ("flat" one and "backend-based" one) look good to me. It was useful in Beats to implement different keystore backends but now I understand that the variable resolution happens based on the relationship between the dynamic-inputs and the provider.

+1 for the "flat" one since its looks more straightforward.

Also we should keep in mind that enabling dynamic inputs to retrieve a Kubernetes

[2021-02-25 14:25] kvch opened #24246 "Port Python tests of log input to Golang with filestream input"
# Why?

The goal of this issue is to move all Python tests related to the `log` input to Golang and use the new `filestream` input. These existing tests cover valuable knowledge about edge cases of the `log` input. To make sure `filestream` input is at least as stable as the `log` input, we need to run the same tests for the new input.

# How?

All end-to-end tests are written in Python for the `l

[2021-02-25 14:25] elasticmachine commented on #24246
Pinging @elastic/agent (Team:Agent)

[2021-02-25 14:26] kvch commented on #23822
I have created a meta issue for porting Python tests of `log` input: https://github.com/elastic/beats/issues/24246

[2021-02-25 14:27] EricDavisX commented on #24199
@dedemorton hi - yes, that is correct.  And I can help on this one if you want.

Thank you Amol for highlighting.

[2021-02-25 14:27] ChrsMark commented on #24143
Posting a use case here as a complete example (feel free to comment/edit):

[code]

Users can refer a Kubernetes Secret with the following pattern:

`${kubernetes_secrets.<namespace>.<secret_name>.<value>}`
For instance, `${kubernetes_secrets.default.redisPass.value}` where `kubernetes_secrets.default.redisPass.value` specifies a key stored as a Kubernetes secret with the following:

Kubernetes Na

[2021-02-25 14:46] michalpristas commented on #24180
have a thought about root cause:

my suspicion is this is related to change of order in install/enrollment process:
when we install we first start agent and then enroll
after enroll is done we restart agent to pick up fleet config.

what i think is going on is that agent is restarted while installing filebeat/metricbeat and then beat is not fully copied/unpacked.
then once agent is restarted it tr

[2021-02-25 14:53] ChrsMark commented on #23613
👍🏼 Back-ported to `7.x` with https://github.com/elastic/beats/pull/24231

[2021-02-25 15:02] ph commented on #24160
@blakerouse I have added to 7.13 iteration, can you add bit of details what need to changed in the Agent architecture?

[2021-02-25 15:11] EricDavisX commented on #24105
I assume that is with the default Integration policy configuration settings.

This is a specific concern we can log to a new issue if needed / appropriate.

For now with this confirmation it is enough for us to publish it to production, I'll work with Alex to do this (today hopefully) and we can re-test.  @ph we're in good shape now with with 3 Integrations (System, Windows, Linux).  And the team

[2021-02-25 15:13] crimsoncore commented on #24217
[
[Archive.zip](https://github.com/elastic/beats/files/6043868/Archive.zip)

](url)

[2021-02-25 15:14] ph commented on #24143
@chrsblck looking at `kubernetes_secrets.default.redisPass.value` is the `value` part necessary, is there something else that `value` that could be retrieved for the `redisPass` key?

[2021-02-25 15:19] EricDavisX commented on #24212
this sounds the same as in https://github.com/elastic/beats/issues/24180 - it is all related to Metricbeat state and being only partially unzipped.  And it is also seemingly a timing issue on lower spec'ed vm usage, so it is a performance / stability issue, too, hence why not all usage shows this.

[2021-02-25 15:20] ChrsMark commented on #24143
`.value` can be anything so we need to explicitly mention this "field". Here is an example:

[code]

Another one:

[code]

[2021-02-25 15:23] mostlyjason opened #24249 "[Elastic agent] Log rotation not clearing files"
I have a Elastic Agent that has been running for over a month and although the log files are getting rotated, they don't appear to be deleted. This is filling up space on my HD. I expected they would be cleaned up at some interval shorter than a month, at least with the default settings. A full HD can cause machines to crash if it goes on long enough.

[code]

For confirmed bugs, please report:
-

[2021-02-25 15:23] elasticmachine commented on #24249
Pinging @elastic/agent (Team:Agent)

[2021-02-25 15:37] EricDavisX commented on #24199
I think I got the PR right for the Docs update - here it is: https://github.com/elastic/observability-docs/pull/410

so I'll close this ticket out.  And @amolnater-qasource you can test the docs when it gets merged.

@dedemorton happy to help, if you'd kindly review the PR, we're all good here.

[2021-02-25 15:37] #24199 closed

[2021-02-25 15:41] EricDavisX commented on #24212
i'm going to close it as a duplicate actually - less noise and time spent as we know they are the same and we'll test rigorously anyhow when we get the fix.

[2021-02-25 15:41] #24212 closed

[2021-02-25 15:56] jamiehynds commented on #24217
Thanks very much @crimsoncore!

FYI @andrewkroh

[2021-02-25 16:10] ph commented on #24249
This is a real problem, we are using the libbeat framework for the log handling, maybe we don't have the right default or something is missing.

[2021-02-25 16:25] EricDavisX commented on #23756
Thanks so much Amol.  I'm glad to know it is still evidenced.  It makes me think... @michalpristas @nchaulet  I wonder if it could relate to performance and ability of the Agent host to talk out to the internet (Kibana or ES).  Meaning: maybe only slower or more taxed host machines would show this off, somewhat akin to the way the problems seen in deploying Agent are showing in:
https://github.com

[2021-02-25 16:34] EricDavisX commented on #24173
Thanks for the research, that is very detailed and helpful!  @ph and @michalpristas I would be in favor of pushing it to 7.13 dev, if it doesn't really impact Agent execution to keep changes in 7.12 down to those really warranted.  Open to your decision here.

[2021-02-25 16:43] ph commented on #24173
Agree on the proposition @EricDavisX, I have added it to the 7.13 iteration.

[2021-02-25 17:08] EricDavisX commented on #23756
I just reproduced a variation on this and in researching it am realizing there are different bugs that all manifest with the same high level error 'error fetching agents' in a pop up.  @amolnater-qasource can we make sure we have distinct issues for each of the problems?

I see...
- 'an internal server error' originally in the description, I don't see that anymore, do you?
- 'socket hang-up' which

[2021-02-25 17:48] andresrc commented on #24242
@urso @andrewkroh related: https://github.com/elastic/beats/issues/17256

[2021-02-25 17:48] elasticmachine commented on #24242
Pinging @elastic/agent (Team:Agent)

[2021-02-25 17:48] elasticmachine commented on #24242
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-25 17:49] elasticmachine commented on #24238
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-25 17:49] elasticmachine commented on #24237
Pinging @elastic/integrations (Team:Integrations)

[2021-02-25 17:49] elasticmachine commented on #24237
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-25 18:20] danlsgiga commented on #16335
Just hit this very same problem here... this is a silent failure that caused us to miss days of logs because filebeat either failed hard and forced the initd/systemd subsystem to restart it, nor logged or retried the connection.

We do have the `output.logstash.timeout` setting but it seems to be of no effect in this specific scenario.

filebeat `v7.5.2`

[2021-02-25 18:39] blakerouse commented on #24173
@michalpristas I think the `enroll` command should use the stdErr logger only, I do not thing that `enroll` needs to write a log file. That would ensure that only the running Elastic Agent daemon is the only one that works with the log file.

[2021-02-25 18:46] blakerouse commented on #24143
This all looks good to me. I think we should go with `secrets_kubernetes` so all secrets providers is prefixed with `secrets_`. We could also make `secrets.kubernetes` work without different backends, by allowing `secrets.*` just to be converted to `secrets_*`. That is something that the composable controller could easily do. I think it just reads better than using a `_`.

@ChrsMark Do you think t

[2021-02-25 18:51] blakerouse commented on #24180
@michalpristas To ensure that Elastic Agent is always running with the correct (unmodified) version of a beat, would it be better to always verify/extract before starting it? That would really reduce the window of a beat being modified and then executed by an attacker, and always ensure that Elastic Agent is running with what it expects (not something that is corrupt or modified)?

I think the ove

[2021-02-25 18:52] blakerouse commented on #24160
@ph The bug description gives a good break down of the issue and the paths. I would need to dig into more on a proper way of fixing this.

I think I will pick this one, up because I believe that the new `container` subcommand I added will be the best place to handle this.

[2021-02-25 19:00] ph commented on #24160
Thanks @blakerouse I was missing context to assign it. thanks for grabbing it.

[2021-02-25 19:15] blakerouse commented on #24054
@ruflin I like the template in the `inputs` like you have in the description. I don't like the idea of having a separate block to define inputs and then templates, especially since template only contain inputs anyway.

I would change the definition some in the `elastic-agent.yml` configuration. I would change it to:

[code]

Being that inside a template all the inputs must have a `type` defined, t

[2021-02-25 19:25] rylnd opened #24252 "[Auditbeat] 7.9.2 Dashboard is not migrated properly on 7.12 BC1"
After configuring a 7.9.2 auditbeat against a 7.12 BC1 kibana host, I received errors that caused kibana to crash. After inspecting logs, I found the following:

Example error log:
[code]
<details>
<summary>Example document causing the error:</summary>

[code]

</details>

[2021-02-25 19:34] ChrsMark commented on #24143
@blakerouse we have a convention about this in Beats:
[code]
Or autodiscovered workloads can only refer to k8s secrets that belong to the same namespace.  So, cross namespace access should not be enabled I think here too.

[2021-02-25 20:10] falkrist commented on #24118
It can be a bug basically. As we were also not able to connect in documented way. Try to use "/" between username and the password instead of ":". Just like that:
[code]
This works for us, BUT oracle module with such config expose login and the password to Elastic logs, and you can see it as a plain text in Kibana UI. What I believe is not secure and should be fixed.

[2021-02-25 20:51] blakerouse commented on #24143
@ChrsMark I think that would be the best way to do it. So we should remove the namespace name from the variable resolution.

Your example above would become `kubernetes_secrets.mysecret.USER_NAME` (removed `default.`)

[2021-02-25 21:20] EricDavisX commented on #24252
I don't recall who owns Auditbeat, is it the Security Team or Observability Beats group?  @ph I only ask because I don't know how badly Kibana crashed.  @rylnd any details on what came after that or specifics on the crash (were you able to re-start and get Kibana going

[2021-02-25 21:46] EricDavisX opened #24255 "[Agent] error showing in logs: failed to dispatch actions, error: fail to generate program configuration: InjectStreamProcessorRule: processors is not a list"
I'm logging this as I'm uncertain to the severity of this.

Not sure if we need to follow up urgently or not...  I don't know yet if I can pin point anything I can see going wrong, but it is flooding the logs (every few seconds) of a Debian OS Agent and a Win 2008 Agent (confirmed so far).  I don't see it on the one macOS host I scrolled through so far.

[elastic_agent][error] failed to dispatch a

[2021-02-25 21:46] elasticmachine commented on #24255
Pinging @elastic/agent (Team:Agent)

[2021-02-25 21:49] kaiyan-sheng opened #24256 "Flaky Test [Build&Test / metricbeat-windows-10-windows-10 / metricbeat/helper/windows/pdh TestPdhSuccessfulCounterRetrieval]"
## Flaky Test

* **Test Name:** metricbeat/helper/windows/pdh TestPdhSuccessfulCounterRetrieval
* **Link:**https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats/detail/PR-24174/4/pipeline#step-9863-log-333
* **Branch:** master
* **PR:** https://github.com/elastic/beats/pull/24174
* **Commit:** https://github.com/elastic/beats/pull/24174/commits/2d7e7ec321381b245b6c9060e5091e35f2f10b

[2021-02-25 21:50] elasticmachine commented on #24256
Pinging @elastic/integrations (Team:Integrations)

[2021-02-25 22:42] EricDavisX commented on #24255
I’m bumping this up.  It seems if you add an Integration to a deployed Policy, (say to include Endpoint) then Endpoint integration is not successfully deployed and the logs are flooded with this.  It likely works if you use a different work-flow, but it is regressed and severe.  I did this work-flow and find that out of 17 hosts, only 2 have Endpoint running, and I think they had it deployed from

[2021-02-25 22:48] EricDavisX commented on #24255
here is a screenshot of the Agents vs the Security hosts list for ref:
![Screen Shot 2021-02-25 at 5 37 30 PM](https://user-images.githubusercontent.com/12970373/109229674-a1982c80-7791-11eb-983a-9667e669e120.png)

As to reproducing this from scratch, the above comment is my best guess, but we can go through this all over on Monday when we're back on-line.

[2021-02-26 06:37] elasticmachine commented on #24252
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-26 08:03] dikshachauhan-qasource commented on #24105
Hi @EricDavisX

Thanks for the feedback and will and will log the query raised above separately.

CC @fearful-symmetry

Thanks
QAS

[2021-02-26 08:14] amolnater-qasource commented on #23756
Hi @EricDavisX
As per your feedback, we will report a separate ticket for the same if it comes up during other regression tests.

Thanks
QAS

[2021-02-26 11:09] radoondas commented on #22293
Hey @jamiehynds and @P1llus , would you be able to share the basic configuration you had to use to access the events? On both sides, beats and also Azure o365. This would be great for users trying to setup MS teams data ingestion.
Thanks

[2021-02-26 11:13] eyekelly commented on #22293
+1 at least, this would be very helpful info

[2021-02-26 12:04] #22981 closed

[2021-02-26 12:51] phuture opened #24260 "[filebeat] squid module cannot parse CONNECT request because "extract_page failed""
- CentOS 8
- filebeat 7.11.1

Squid module for filebeat reporting errors if line containing CONNECT method. With CONNECT there is no URL, just address and port number, like:
<code>
XXXX.XX _time_ TCP_TUNNEL/200 _size_ CONNECT server.ip.com:443 - HIER_DIRECT/A.B.C.D -
</code>

Filebeat log:
<code>
ERROR        [processor.javascript]        console/console.go:54        extract_page failed for 'serve

[2021-02-26 13:16] #14260 closed

[2021-02-26 13:55] kamermans commented on #23627
This also affects my servers (Ubuntu 20.04, jornalbeat 7.10.2).  Occasionally (3 times in the last month on one server alone), `journalbeat` does this and fills syslog with 30 GB of error messages per day until the entire disk is full.   Luckily our monitoring systems notify us and we restart the service and delete the log data.

Is there something I can provide that will help replicate or priorit

[2021-02-26 14:29] anderssonjohan commented on #22501
@andrewstucki @narph @fearful-symmetry This change broke metricbeat on Windows systems, I posted a script here with some sample output: https://discuss.elastic.co/t/metricbeat-7-11-1-fail-in-system-fsstat-and-filesystem-the-device-is-not-ready/265613/3

Don't know how to fix this, but let me know if I can be to any help. 🙏
We're currently rolling back to 7.10 which still works. We discovered this

[2021-02-26 15:10] P1llus commented on #22293
Hello @radoondas and @eyekelly . As you might know, the O365 Beats module uses this API: https://docs.microsoft.com/en-us/office/office-365-management-api/office-365-management-activity-api-reference

Now when it comes to Teams, the logging there is not very well documented, and its enabled per default, there is no changes that I know off that has to be done to enable this logging.

A few pointers

[2021-02-26 19:52] jmcdonagh commented on #11234
me too

[2021-02-26 21:42] natewalck commented on #14927
👍 for this. It is badly needed so you don't need to run a launchd just to dump the logs to disk for Filebeat to pick up.

[2021-02-28 05:04] inits commented on #13953
service:guacamole com.docker.compose.version:1.27.4 execID:0f27f30e31c418cc540aaca040114ad928fefaf8110c0b90231e283878527e41 exitCode:0 image:jumpserver/guacamole:v2.7.1 name:jms_guacamole]} local 1614488222 1614488222300889116}
2021-02-28T04:57:03.082Z        WARN    [cfgwarn]       user/user.go:232        BETA: The system/user dataset is beta
2021-02-28T04:57:03.083Z        DEBUG   [user]  user/u

[2021-02-28 12:35] elasticmachine commented on #24260
Pinging @elastic/integrations (Team:Integrations)

[2021-02-28 15:21] nkakouros commented on #17308
Still a valid request.

[2021-03-01 07:56] dikshachauhan-qasource commented on #24150
Hi @michalpristas cc @EricDavisX

We are still facing issues with Windows agent on 7.12 staging cloud build. Below are our observations:

- Agent comes to Healthy state after installation. However, metricbeat service still not starting by itself.
- Filebeat is running.

**Screenshot for Agent logs page and datastreams:**
![image](https://user-images.githubusercontent.com/72375798/109463507-1ff3180

[2021-03-01 08:52] Z000000 opened #24265 "how fleet manage auditbeat"
auditbeat.yml.disabled
the module is disabled  but i want to use this function
i  use auditbeat.yml when i build  the elastic-agent but what should i pass configuration?

[2021-03-01 08:58] Z000000 opened #24266 "how fleet manage auditbeat"
auditbeat.yml.disabled
the module is disabled but i want to use this function
i use auditbeat.yml when i build the elastic-agent but what should i pass configuration?

[2021-03-01 08:59] #24266 closed

[2021-03-01 08:59] Z000000 commented on #24266
repeat

[2021-03-01 09:18] amolnater-qasource commented on #24255
Hi @EricDavisX
We have performed this scenario as per mentioned in above comments on 7.12.0 BC-2 Kibana Cloud Environment.

**Versions:**
  | **Version on 7.12.0 BC-2**
-- | --
**System** | 0.10.9
**Endpoint Security** | 0.18.0
**Windows** | 0.4.1
**Linux** | 0.3.8

**Steps:**
1. Installed agent with Default Policy having System, Endpoint Security, Windows, Linux integration.
Observations are shar

[2021-03-01 09:59] ChrsMark opened #24267 "[Agent] Implement leader election on k8s for Elastic Agent"
In Beats we have leader election feature for k8s(https://github.com/elastic/beats/issues/19731), so as to make it possible to avoid deploying a singleton instance of Metricbeat via a k8s Deployment for cluster wide metrics collection. The implementation is based on go-client's leader election implementation: https://pkg.go.dev/k8s.io/client-go/tools/leaderelection

It would be nice to support the

[2021-03-01 10:09] elasticmachine commented on #24267
Pinging @elastic/integrations (Team:Integrations)

[2021-03-01 10:09] elasticmachine commented on #24267
Pinging @elastic/agent (Team:Agent)

[2021-03-01 10:10] adriansr opened #24268 "Netflow module does not allow to disable sequence reset detection"
For confirmed bugs, please report:
- Version: 7.5.2+
- Operating System: -
- Discuss Forum URL: -
- Steps to Reproduce:

Setting `var.detect_sequence_reset: false` in `modules.d/netflow.yml` doesn't have an effect as this option is not propagated to the netflow input due to the guards in `module/config/netflow.yml` evaluating to false:

[code]

[2021-03-01 10:11] elasticmachine commented on #24268
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-03-01 10:15] jurim76 commented on #22462
Hello,

The bug is still exists for filebeat 7.11.1

021-03-01T10:13:07.610Z        ERROR   fileset/factory.go:121  Error checking input configuration: No paths were defined for input accessing config
2021-03-01T10:13:07.621Z        ERROR   instance/beat.go:971    Exiting: Failed to start crawler: creating module reloader failed: No paths were defined f
or input accessing config

[2021-03-01 11:02] simitt opened #24269 "[Elastic Agent] docker image on cloud run without root privileges"
The Elastic Agent docker image >= `8.0` needs to be runnable in cloud without root privileges and any cloud specific changes. The requirements are
* the HOME directory is owned by a non-root user
* all data get written to a bind mount directory only

This issue is meant to keep track of these requirements and ensure they are fulfilled for the `8.0` docker image.

cc @mieciu

[2021-03-01 11:02] elasticmachine commented on #24269
Pinging @elastic/agent (Team:Agent)

[2021-03-01 11:16] mieciu commented on #24269
That's correct.

Just to clarify that "all data get written to a bind mount directory only" (as the container can get away with `--group-add 0`), the main concern is that if the user decides to run container like this:
[code]
we should have all the paths to which agent process wants to write to configurable (e.g. `--path.home /local_mount`, `--path.data /local_mount`).

[2021-03-01 12:10] simitt opened #24271 "[Elastic Agent] Accept logs path configuration"
The Elastic Agent ignores the passed in `--path.logs=xyz` and always writes logs to the `HOME` directory. This can be problematic for read-only environments, for example when running in a read-only `docker` container where all write actions are expected to go to bind mount only.

Not only the Elastic Agent logs but also the logs of the running sub processes need to be configurable.

This is relate

[2021-03-01 12:10] elasticmachine commented on #24271
Pinging @elastic/agent (Team:Agent)

[2021-03-01 12:11] simitt commented on #24160
++ on the requirements for the cloud setup.
Created https://github.com/elastic/beats/issues/24271 for a similar issue with the logs path configuration.

[2021-03-01 12:14] adriansr opened #24272 "Locality values mismatch between Netflow input and ingest pipeline"
For confirmed bugs, please report:
- Version: 7.11
- Operating System: -
- Discuss Forum URL: -
- Steps to Reproduce: -

Netflow input will populate {source,destination,flow}.locality fields with values either `private` or `public`, depending on the `internal_networks` configuration option.

The ingest pipeline for the netflow module uses those fields to populate `network.direction`. However, it i

[2021-03-01 12:14] elasticmachine commented on #24272
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-03-01 12:24] ruflin commented on #24054
I really like the idea `- type: template/{name}`. The reason I kind of like `vars` in addition is that it makes it clear, this is about variable definitions. The global part "could" be used in a different way that it could apply this section to all inputs, like adding a processor. What is the reason you prefix all variables by `template.`?

[2021-03-01 12:48] aleksmaus opened #24273 "Elastic Agent crashes while trying to start the agent with Fleet Server"
Elastic Agent crashes after trying to enroll the the agent with the fleet policy while the agent is running as systemd service.
Confirmed the crash by dev, was asked to open a ticket.

Feb 28 19:53:40 ams-fleet-server elastic-agent[4475]: 2021-02-28T19:53:40.391Z        INFO        warn/warn.go:18        The Elastic Agent is currently in BETA and should not be used in production
Feb 28 19:53:40 am

[2021-03-01 13:11] dikshachauhan-qasource commented on #23720
Hi @EricDavisX

As per feedback in above [comment](https://github.com/elastic/beats/issues/23720#issuecomment-785411729), we have created **01** testcase for Agent Log level applicable an Endpoint-Security scenario. Test case link is as follows:

[C76827](https://elastic.testrail.io/index.php?/cases/view/76827)

Please let us know if anything is missing.

Thanks
QAS

[2021-03-01 13:15] dikshachauhan-qasource commented on #24105
Hi @EricDavisX

The query we have raised is already reported at [#669](https://github.com/elastic/integrations/issues/669).

We have updated ticket with our observations. Please let us know if anything is required from our side.

Thanks
QAS

[2021-03-01 13:22] ChrsMark commented on #23876
@blakerouse This one is considered blocked until input templates is in, right? Do we have an issue to link to it for better tracking?

[2021-03-01 13:34] ph commented on #24255
@EricDavisX I am taking a look at this, from the "error" message and the "Note" above I believe this is an input that target windows that is not well formed.

[2021-03-01 13:39] ph commented on #24255
Actually, I think our code should be resilient there and make sure the processors are converted to a list.

[2021-03-01 13:44] ph commented on #24255
@michalpristas Do you think the above would be an appropriate fix?

@EricDavisX I believe this is coming from the system integration, as far as I know, endpoint do not have window conditions.

@fearful-symmetry Have you experienced that error with the windows integration?

[2021-03-01 13:52] ph commented on #23876
@ChrsMark Do you think https://github.com/elastic/beats/issues/24054 is good enough as the issue?

[2021-03-01 14:04] ChrsMark commented on #23585
Heads-up on this.

 I did a simple test to verify that using `alias` for container meta collected through [`add_docker_metadata` for Filebeat,](https://www.elastic.co/guide/en/beats/metricbeat/current/exported-fields-docker-processor.html) gives us the option to build visualisations on both `container.name` and `docker.container.name` as well as perform searches on these both fields:

<img width="

[2021-03-01 14:30] EricDavisX opened #24274 "Agent stays in 'updating' on self-managed cluster (works when using cloud for stack)"
Using a self-managed 7.11.1 environment a fellow Elastician ( Xiaoguo Liu ) reports he is seeing that the Agent stays in 'updating' and is not sending documents to ES (no logs)

He is using this article as his basis for setup:
https://newtonpaul.com/how-to-install-elastic-siem-and-elastic-edr/

most notably the steps include usage of a self generated certificate for it.

He notes that he tried set

[2021-03-01 14:30] elasticmachine commented on #24274
Pinging @elastic/agent (Team:Agent)

[2021-03-01 14:30] elasticmachine commented on #24274
Pinging @elastic/fleet (Team:Fleet)

[2021-03-01 14:31] EricDavisX commented on #24274
@ph can we follow up?  it may be something we want to fix for 7.12

[2021-03-01 14:40] mukeshelastic commented on #24267
@ChrsMark I am trying to understand the benefits of this feature. Without this feature, users need to deploy daemonset to collect worker node metrics and logs and then a separate and just a single pod deployment for a cluster for collecting cluster level metrics, master node metrics and logs? So the only con is a separate deployment to track these metrics. Is that right or there are additional con

[2021-03-01 14:41] urso commented on #24091
I would say instead of process name the API should expose the sub-processes via ids. Either PID or some UUID that is known internally by the agent. An stable UUID would be nice, such that if a process is restarted, the UUID did not change.

About API:

Success response:
[code]

Error response:

[code]

+1. Replacing `name` with `id`, though.

[2021-03-01 14:47] jsoriano commented on #23585
Could you check if the alias is actually in the index pattern?

This alias is defined with `migration: true`, so this is probably only included in the index pattern if the migration options are used. This option was included for the migration to ECS in 7.0, see these docs: https://www.elastic.co/guide/en/beats/libbeat/7.11/upgrading-6-to-7.html#enable-ecs-compatibility
[code]

[2021-03-01 16:07] blakerouse commented on #24267
At first I was going to say this should really already be handled with the coordinator with Fleet Server. But then that would prevent this from working in standalone mode. Being we need standalone more to work, I think this is a good proposal and something we should do.

I think the need for a specific Agent running a specific configmap just to get this information, make the configuration more com

[2021-03-01 16:14] blakerouse commented on #23876
@ChrsMark I would say yes, but a configuration today could be written to ensure that with input templates the dynamic inputs would just work with it.

Say an `nginx` `elastic-agent.yml` configuration that enables the `nginx` module on a container with the correct labels. With that configuration ready, we can add it as the first input template in Elastic Agent once that feature is complete.

[2021-03-01 16:24] blakerouse commented on #24054
I think `vars` is overly explicit, and if you forget to add it, then any settings set at the top-level would just be ignored.

The composable inputs requires that every variable be prefixed. In this case I use `template`. That ensures that no other provider will use that name. Without the prefix a variable could override another providers. Example would be if you had a variable named `kubernetes`.

[2021-03-01 16:31] fearful-symmetry commented on #22501
Both these two returns false when calling GetVolumeInformationW and that will stop metricbeat from working.

Well, I didn't see that coming. I think @andrewstucki is going to have to take a look at that, since it's a little too windows-heavy for me to be confident, but it seems like we can just filter drive types before we get additional information on them?

[2021-03-01 16:57] jamiehynds commented on #21172
Closing this issue in favor of: https://github.com/elastic/beats/issues/24217

[2021-03-01 16:57] #21172 closed

[2021-03-01 17:06] adriansr commented on #24272
To clarify the issue:

The Netflow input will set locality fields to one of two possible values: `private` or `public`.

https://github.com/elastic/beats/blob/6986c8410d45164b7f1401b83215631353fb5165/x-pack/filebeat/input/netflow/convert.go#L385-L388

The Netflow module ingest pipeline uses those values to set `network.direction`, but it expects either `internal` or `external`:

https://github.com

[2021-03-01 17:22] andrewkroh commented on #24272
In addition to the mismatch of values, there is another bug that could be at play https://github.com/elastic/beats/pull/24110 since this would cause there to be no default value for internal_networks.

[2021-03-01 17:35] leandroscardua commented on #22501
Hi Elastic Team,

Could you please re-open this ticket?
The issue still present on the version 7.11.1

[2021-03-01 18:05] fearful-symmetry commented on #22501
@leandroscardua Can you elaborate and post your configuration and related events? The actual `type` issues present originally, or the failures mentioned in the previous few comments?

[2021-03-01 18:06] fearful-symmetry commented on #14927
I'm a little worried that this is going to languish, as we don't really have a "MacOS expert" and this is a MacOS api. @masci do you have any ideas for how to manage this?

[2021-03-01 19:31] elasticmachine commented on #24273
Pinging @elastic/fleet (Team:Fleet)

[2021-03-01 20:26] EricDavisX commented on #24180
I have asked @dikshachauhan-qasource to help test out the PR opened above to see how it works, just to help us with a data point.  Request being sent in daily email to QAS team.

[2021-03-01 20:52] #23756 closed

[2021-03-01 20:58] EricDavisX commented on #24255
I'm unclear how the interactions of the separate Integrations (Windows, Linux and Endpoint) are happening - I wouldn't have thought that a failure in one could impact the other, unless it crashes the whole Agent... is that what resilience you refer to above?

I apologize for lack of clarity here, if anyone needs more info from the test team in terms of seeing this or logs or anything we can help.

[2021-03-01 20:58] mostlyjason commented on #22051
@ravikesarwani

[2021-03-01 21:12] elasticmachine commented on #24273
Pinging @elastic/agent (Team:Agent)

[2021-03-01 21:13] fearful-symmetry commented on #24255
Yah, I've never seen this before, and I'm kinda baffled.

[2021-03-01 21:35] EricDavisX commented on #24150
what you repot above sounds like the known problem tracked in https://github.com/elastic/beats/issues/24180
 - but all the logs and info is helpful.  I sent info via email / slack about testing the above issue's PR to see if it works.

[2021-03-01 21:50] ravikesarwani commented on #22051
Sending Elastic Agent monitoring data directly to Elasticsearch (to the one and only Elasticsearch cluster) is ideal from monitoring perspective. Think about a scenario where logstash is backed up or having issues and we are sending everything via it, including monitoring data. Users will not see latest integration data and also won't see anything regarding Agent monitoring data. This will make de

[2021-03-01 23:21] rylnd commented on #24252
@EricDavisX I deleted the errant SO from the error, only to be met with another one. Deleting all such problematic SOs may have fixed the problem, but ultimately I ended up creating new kibana system indices.

[2021-03-02 09:09] ChrsMark commented on #23876
+1 for having an example to start with.

In Beats we have sth like this (with `annotations`):
[code]

What would need to be set on Agent's side so as to identify this workload and start monitoring this using `nginx` integration?

The complete set of hints can be found at https://www.elastic.co/guide/en/beats/metricbeat/current/configuration-autodiscover-hints.html.

In Beat's hints [`Multiple Cont

[2021-03-02 09:41] kuisathaverat commented on #24198
we have short of that, recently we have added the package to the main pipeline, so every time you merge in the master and the build reach the elastic-agent package stage, if that stage end well, a bunch of Docker images would be published in our repository.

[code]

[2021-03-02 09:45] v1v opened #24284 "Build scripts download packages with read only access"
### What

When using static workers then things can get ugly when the workspace cannot be deleted. This happens with the static CI workers.

[code]

https://github.com/elastic/beats/pull/24233 was added to mitigate this issue but I'm afraid it's still there.

I'd like the team to look for where in the magefiles those particular folders are downloaded and why with 0444 permissions.

[2021-03-02 10:25] ChrsMark commented on #23585
You are right @jsoriano 👍🏼 !!!

With `migration: true` it is not shown in index_template.
I changed to:
[code]
And now it seems to be possible to both search and visualise using the alias:
<img width="1609" alt="Screenshot 2021-03-02 at 12 21 56 PM" src="https://user-images.githubusercontent.com/11754898/109634736-44fe8e00-7b52-11eb-9ebb-3a70cdcbbbc7.png">

[2021-03-02 10:35] ednon-labs opened #24287 "Disk Metric in Observability"
Hi, everyone

I have been working with the new version of **Elastic Stack (7.11.1)** for several days. I would like to know if **Elastic team will add Disk metricset in Observability** in future versions.

Here you are my **metricbeat config**:

    metricbeat.modules:
    - module: system
      metricsets:
        - cpu             # CPU usage
        - load            # CPU load averages

[2021-03-02 10:38] mantipin opened #24288 "Kubernetes logs are not enriched with namespace annotations via add_resource_metadata"
- Version: 7.11.0
- Operating System: Ubuntu
- Discuss Forum URL: https://discuss.elastic.co/t/add-resource-metadata-namespace-include-annotations-doesnt-work-anymore-in-7-10-x/261878
- Steps to Reproduce:
Hello, trying to enrich my logs with namespace annotations, mentioned here - https://www.elastic.co/guide/en/beats/filebeat/current/configuration-autodiscover-hints.html#_namespace_defaults
And

[2021-03-02 11:00] mantipin commented on #24288
And, by the way, there is even no kubernetes.node.hostname, mentioned here - https://github.com/elastic/beats/pull/22189

[2021-03-02 11:30] marc-gr commented on #23910
Related https://github.com/elastic/beats/pull/23678

[2021-03-02 11:39] exekias commented on #23585
I don't really remember this, but I think we can revisit this if needed!

[2021-03-02 11:54] ruflin commented on #24054
Dropping vars means we need to make sure we never introduce a different config option on that level or at least, it could mean a breaking change for some users. But that should be fine.

Prefix makes sense, it also means all providers can be used inside the templates which is nice. I forsee that there will be perhaps a template `nginx_k8s` and `nginx_host` and the user can select which one he want

[2021-03-02 11:55] mostlyjason commented on #22051
Thanks @ravikesarwani for raising this use case! It seems reasonable to me that we could ship two outputs  in the agent policy, one for the integration data (logstash) and one for the monitoring data (ES).

@ph If we implement the option Ravi suggested, would that impact our ability to ship the logstash output by GA? If so, it'd be nice to consider what we can ship in that timeframe.

[2021-03-02 12:17] dikshachauhan-qasource commented on #24180
Hi @EricDavisX ,

Today, we are unable to deploy build from from staging cloud. Hence, blocked to verify PR merged above. We will validate it once 8.0 build is available for deployment.

Thanks
QAS

[2021-03-02 12:17] dikshachauhan-qasource commented on #24150
Hi @EricDavisX ,

Yes, issue addressed in above comment was just posted for agent current behavior on 7.12 BC build as we are continuing testing on BC build.
Further, Issue reported at  #24180 was on 7.12 Snapshot build. Also as per the current updates, we will update our observations on same ticket after validating fixes on 8.0.

Thanks
QAS

[2021-03-02 12:35] QCU266 commented on #9817
I want to use appenders like @icoolchn , so I test @icoolchn 's configuration, but the filebeat reports the following error(filebeat version 7.9.3):
[code]

[2021-03-02 13:26] michalpristas commented on #24150
fix for metricbeat ongoing here: https://github.com/elastic/beats/pull/24253

[2021-03-02 13:29] ph commented on #22051
looking at @ravikesarwani comment, if we fix the current problem with Logstash all the scenarios he stated should be possible.

[2021-03-02 13:34] mtojek commented on #24198
Are these images publicly available (`docker.elastic.co/observability-ci/elastic-agent`)? For the purpose of community contributors, we'll need something that doesn't require any special auth.

[2021-03-02 13:37] ravikesarwani commented on #22051
@ph I don't think I understand the comment "if we fix the current problem with Logstash all the scenarios should be possible".
Can you expand. I know I coming in the mix recently so don't know the full background on this and the related issues. If there are docs/issues I should review please do let me know.

[2021-03-02 14:30] paulb-elastic commented on #23981
Thia has been fixed in https://github.com/elastic/beats/pull/24194

[2021-03-02 14:30] #23981 closed

[2021-03-02 14:42] dikshachauhan-qasource commented on #24180
Hi @EricDavisX

We have validated this issue on 8.0 snapshot build and found it **working fine**. Build details are as follows:

[code]
**Observations:**
1. Installed agent with default policy having only system integration.
- Filebeat and metricbeat are running.
- Metricbeat folders is now extracted completely by itself .
2. Installed agent with new policy having only system, windows, Linux and E

[2021-03-02 14:47] jsoriano commented on #23585
+1 to use alias more for deprecated fields if they work well with visualizations.

[2021-03-02 14:47] jmmcorreia opened #24292 "[Filebeat] Error while parsing lastError field in Azure platform logs"
- Version: 7.11.1 ( But also had this issue on 7.11.0)
- Operating System: Ubuntu (AKS Cluster)
- Discuss Forum URL: https://discuss.elastic.co/t/filebeat-error-while-parsing-lasterror-field-in-azure-platform-logs/265940

Hi everyone,

so I was testing the Azure module for filebeat to pull the logs into ES and run into the following issue. Basically, if there is any error message present in the AP

[2021-03-02 14:53] ChrsMark commented on #23585
Using alias sounds good to me!

I will work on a PR to change the "copy" approach we have for k8s fields so as to further test the alias approach and use it for future reference.

[2021-03-02 15:06] MarcusCaepio opened #24293 "[ Elastic Agent 7.11.1] Filebeat Integration cisco.ASA - Unmatched Patterns for several messages"
Hi all,
the provided ingest pipelines for the messages:
- %ASA-6-302013
- %ASA-6-302015
- %ASA-6-305011

don't match under certain circumstances: Some log messages have a "(LOCAL\user.name)" value for the optional field "idfw_user".
E.g. a message for 302015: The pattern described by cisco (on https://www.cisco.com/c/en/us/td/docs/security/asa/syslog/b_syslog/syslogs3.html#con_4770739 ) is:

A log

[2021-03-02 15:16] #16695 closed

[2021-03-02 16:06] charlie-pichette commented on #24255
I just replicated this issue which resulted in the endpoint **NOT** being updated with the new policy assigned to the agent.  I think this should be a critical blocker issue.

I started out with two macOS hosts assigned a policy which contains the Endpoint Security and System integrations.
![Screen Shot 2021-03-02 at 8 46 06 AM](https://user-images.githubusercontent.com/56399229/109674117-a4ee3800

[2021-03-02 16:16] #16651 closed

[2021-03-02 16:25] #24180 closed

[2021-03-02 16:26] elasticmachine commented on #24293
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-03-02 16:27] elasticmachine commented on #24292
Pinging @elastic/integrations (Team:Integrations)

[2021-03-02 16:36] fearful-symmetry commented on #24255
Looking into this again. It might also help to have the rendered config object from fleet.

[2021-03-02 16:48] EricDavisX commented on #24180
@michalpristas , now or later (or skip it, if not valuable enough) we could change the log level to 'Warn' maybe here?  ... That is since it is being recovered by our code logic and not a totally unexpected problem.  Diksha can log a ticket to track it...

@dikshachauhan-qasource that is great.  I'd like to add a 'logs message' ticket into the system and link it to our Logs Meta issue to track tha

[2021-03-02 16:56] charlie-pichette commented on #24255
Where/how do I get that @fearful-symmetry?

[2021-03-02 17:02] fearful-symmetry commented on #24255
ah, sorry!

On the policy view page you screnshotted above, under the `Actions` there's `view policy`.

[2021-03-02 17:06] EdgarSedov commented on #10691
I have the same problem, logs of filebeat container are like:
![image](https://user-images.githubusercontent.com/16332716/109685805-b0685000-7b92-11eb-8cb6-1935e4d259b7.png)

[2021-03-02 17:09] charlie-pichette commented on #24255
The first policy, which works, Endpoint Protection, is
[endpoint_protection-elastic-agent.yml.txt](https://github.com/elastic/beats/files/6070427/endpoint_protection-elastic-agent.yml.txt)

The second policy, which seems to cause the problem,  Sys-Win-Linux-Endpoint, is
[sys-win-linux-endpoint-elastic-agent.yml.txt](https://github.com/elastic/beats/files/6070455/sys-win-linux-endpoint-elastic-agen

[2021-03-02 17:16] fearful-symmetry commented on #24255
@charlie-pichette This is basically a guess, but why not. Can you make a _new_ Sys-Win-Linux-Endpoint policy (the wonky one), and manually go into the system integration, and disable the `filesystem` and `fsstat` data streams? At least one of them should be enabled by default. Then apply the policy to an agent and see what happens.

[2021-03-02 18:10] elasticmachine commented on #24288
Pinging @elastic/integrations (Team:Integrations)

[2021-03-02 18:12] elasticmachine commented on #24287
Pinging @elastic/integrations (Team:Integrations)

[2021-03-02 18:13] andresrc commented on #24287
Hi, I think the information you want is included in the [diskio](https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-metricset-system-diskio.html) and [filesystem](https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-metricset-system-filesystem.html) metricsets.

Is there anything that you are missing from them?

[2021-03-02 18:14] elasticmachine commented on #24284
Pinging @elastic/agent (Team:Agent)

[2021-03-02 18:25] charlie-pichette commented on #24255
When I attempt to edit the system integration it displays a number of errors on a variety of fields.  Mostly the `Period` fields, but also a number of others.  The new policy I created is
[issue_24255_sys-win-linux-endpoint_elastic-agent.yml.txt](https://github.com/elastic/beats/files/6070857/issue_24255_sys-win-linux-endpoint_elastic-agent.yml.txt)

I applied the working `Endpoint Protection` pol

[2021-03-02 18:47] fearful-symmetry commented on #24255
yah, something is very wrong here. Can you try and reproduce those errors again and show us?

looking at the first bad config:
[code]
None of those should be `null`. Never seen that before. Something is generally wrong with that config, and I wonder if lots of other things are broken in more subtle ways.

The "fixed" config still contains some weird null values I don't think should be there:
[code

[2021-03-02 18:50] charlie-pichette commented on #24255
I did not create it the original `Sys-Win-Linux-Endpoint` config.  I can try and hunt down the individual who did.  But I would suspect they just added it through the UI.

[2021-03-02 18:51] mgaruccio commented on #22501
Just a note that we're seeing the same problem that @anderssonjohan is seeing with the 7.11.1 version of metricbeat embedded in the elastic agent.  Tracking the issue with Elastic support on case 00688041 if any additional environment-specific details are needed.

[2021-03-02 18:55] fearful-symmetry commented on #24255
Yah, I'm really curious how that came to be, since based on the config you gave me, it seems very broken. Was the `Issue 24255 Sys-Win-Linux-Endpoint` Policy based on/copied from that, or did you make it from scratch?

[2021-03-02 19:10] andrewkroh commented on #24284
This looks like the contents of the Go package cache which defaults to being located at GOPATH/pkg IIRC. https://golang.org/cmd/go/#hdr-Build_and_test_caching

What's preventing these files from being deleted? That they are read-only 0444?

[2021-03-02 19:35] charlie-pichette commented on #24255
I made it from scratch.  I just tried to reproduce it by creating a new on with just the system integration and was able to edit it, just change and save it without any errors.  I will keep trying to reproduce it with reliable steps.

[2021-03-02 19:36] EricDavisX commented on #24255
you need look no further than me, I created it!  I'm wondering if this is the same problem as what is coming in this fix on Kibana side: https://github.com/elastic/kibana/pull/93257

I didn't do anything unusual, just using the UI.  I am actually not sure the precise steps, but it may come naturally to me to create it if I give it a try, too.

[2021-03-02 19:39] charlie-pichette commented on #24255
Something seems to have changed on the system.  The defaults are now being added to the system integration that were missing before.

[2021-03-02 19:46] ph opened #24304 "Beats build run from the unified build process fails `sometime` on packetbeat"
When beats is build from the unified build process something it will fail to build packetbeat and will return the following error. Reckicking the build can fix the problem.

Few things to investigate:

- Is there something wrong with the libpcap artifact? We use a sha256 to validates the artifacts so It should download and validates the artifacts.
- Is there a race condition when installing the li

[2021-03-02 19:46] elasticmachine commented on #24304
Pinging @elastic/agent (Team:Agent)

[2021-03-02 19:47] ph commented on #24304
@urso and @andresrc we should fix this in the iteration. The build fails randomly and it hurts BC and the snapshots.

[2021-03-02 19:49] ph commented on #24304
@andrewkroh This might be a long shot, but do you have a theory about what could be causing this? I am not aware of major build changes that could have affected packetbeat. This code has been rock solid for quite some time even years.

[2021-03-02 20:14] charlie-pichette commented on #24255
I am unable to create a policy where the system integration is missing the defaults.  But the I did see the issue when I created the Issue 24255 policy and the defaults are still missing from the Sys-Win-Linux-Endpoint policy.

[2021-03-02 20:19] leandroscardua commented on #22501
HI @fearful-symmetry,

Same issue reported by @anderssonjohan
https://github.com/elastic/beats/issues/22501#issuecomment-786680708

[2021-03-02 20:55] nhasanit commented on #22501
This issue also exists in Elastic Agent 7.11.1

[2021-03-02 21:20] EricDavisX commented on #24255
I have a test data point that feels new.

when I create a new policy, if I immediately delete the System Integration... then when I add ‘Windows’ integration in, some of the defaults are missing and it can’t be created.  This was not the case when I created policies prior, I’d have noticed.  When I create a new Policy and leave System in, if I add Windows it works as expected.  So, the missing / p

[2021-03-02 22:20] atalukdar commented on #5413
I am having same issue with filebeat-7.11.1

Any solution on sasl_ssl?

Connection to kafka(xxxxx:9093) established
[kafka] kafka/client.go:371     finished kafka batch
[kafka] kafka/client.go:385     Kafka publish failed with: kafka: client has run out of available brokers to talk to (Is your cluster reachable?)

[2021-03-02 22:39] ph commented on #22051
lets me use configuration to illustrate how this work.

By default the Elastic Agent use the "default" monitoring output as the destination.

[code]

If you want to use logstash
[code]

If you want to send monitoring information to Elasticsearch but sent normal data to Logstash the following is possible too.

[code]
If you want to send monitoring to another cluster this could be possible in **stan

[2021-03-02 22:50] EricDavisX commented on #24255
As a follow up to the above... we have a rough theory that we need help proving out.
the problematic policy config has a system integration of 0.10.7 in it (somehow, more on that later).  the working configs have the newer current 0.10.9 System Integration.

We validated the same integrations on a newly spun up 7.12 system (and a 7.11.x cloud) seem to work just fine, we cannot make it break in thi

[2021-03-02 23:02] EricDavisX commented on #24255
I failed to mention, it looks like *some packages (not sure which ones) were promoted to prod on 2/25 from this job: https://beats-ci.elastic.co/job/Ingest-manager/job/release-distribution/62/

To see the problem, login and go to fleet and policy... then click on 'sys-win-linux-endpoint' policy and edit it, you will see lots of values missing.

[2021-03-03 01:25] Camilleli commented on #20342
Issue persists on 7.10.2.
I believe the current workaround:

1. multiple inputs with multiple pipelines:
[code]
2. parameters.pipeline

I have tested the following but they are not working.
[code]
[code]

[2021-03-03 05:37] sunilmchaudhari commented on #17572
This is solved by installing and configuring AWS CLI.  I could easily upload function in aws.  Probably the document need to update for  Windows users and add this step under  https://www.elastic.co/guide/en/beats/functionbeat/current/functionbeat-installation-configuration.html#setup-assets

[2021-03-03 07:04] ednon-labs commented on #24287
Hi @andresrc

I am aware of that there are metrics about **diskio** and **filesystem**. However, these metrics are not shown in **Observability** by **dfefault**.

Is it considered to add these metrics together with CPU, Load, Memory and Network as screenshot shows ?

[2021-03-03 07:06] andresrc commented on #24287
Thanks, @ednon-labs I understand now, I'll transfer this to the appropriate repository

[2021-03-03 07:43] elasticmachine commented on #22094
Pinging @elastic/agent (Team:Agent)

[2021-03-03 07:47] andresrc commented on #23582
ping @sayden

[2021-03-03 07:53] andresrc commented on #24192
The current idea is to remove the ML jobs setup from the `setup` command. Please use the ML UI to set up the job, as mentioned in https://github.com/elastic/beats/issues/24192#issuecomment-784424127. Thanks!

[2021-03-03 07:53] #24192 closed

[2021-03-03 08:49] kuisathaverat commented on #24198
you need to login to access that namespace, we can publish them in another public place

[2021-03-03 09:16] mtojek opened #24310 "[7.13.0-SNAPSHOT] Elastic-Agent: unable to find enrollment token named "Default" in policy "Default policy""
Today we spotted an issue while running Elastic Agent:

[code]

Link: https://beats-ci.elastic.co/job/Ingest-manager/job/elastic-package/job/PR-269/3/artifact/build/elastic-stack-dump/stack/logs/elastic-agent.log

The issue will fail all master builds for elastic/integrations and elastic/elastic-package.

Steps to reproduce:

[code]

For reference:
https://github.com/elastic/elastic-package/pull/2

[2021-03-03 09:16] elasticmachine commented on #24310
Pinging @elastic/agent (Team:Agent)

[2021-03-03 09:34] simitt commented on #22094
@urso is this planned for `7.13` ?

[2021-03-03 09:35] joshua0x opened #24311 "filebeat kafka input lockfree"
Setup wont have concurrent issues , whe need a lock ?

<img width="724" alt="图片" src="https://user-images.githubusercontent.com/44366103/109784934-8a03ec80-7c46-11eb-8616-248a07234705.png">

MarkOffser is safety called concurrent ,

<img width="754" alt="图片" src="https://user-images.githubusercontent.com/44366103/109785071-b4ee4080-7c46-11eb-83e1-dd9efd941d28.png">

[2021-03-03 10:57] serak commented on #15785
Dear all is this issue still being worked on.?

Not required unless you want to compile the source code :). just install the rpm and run it using "nohup /opt/freeware/bin/filebeat &"  or just /opt/freeware/bin/filebeat -e to see the logs and close of session disconnect (for testing )

[2021-03-03 11:56] kaonashihirota commented on #7633
I am using filebeat to collect logs rotated by pm2-logrotate which rotating logs in a way that is not expected by filebeat. So I think it will help a lot if filebeat knew how to rotate log files itself.

[2021-03-03 12:10] mtojek commented on #24198
Yes, that would be a good idea. I don't know green/red stats for packaging of Elastic Agent, but I hope it's relatively rare, so we can leverage from these tags.

[2021-03-03 12:27] immon commented on #23578
@bvader did it work for you with a deeper directory structure like `monitors.d/prod/hostname/service1/*.yml`?

From what I've learned the double wildcard syntax is not supported in Go -- https://github.com/golang/go/issues/11862 and `**` works like a single `*`.
One can use one-level deep directory structure like `monitors.d/prod_hostname_sevice1/http.yml`, `monitors.d/dev_hostname_sevice2/smtp.ym

[2021-03-03 12:54] amolnater-qasource opened #24315 "No data available for linux .tar and .rpm filebeat under "New users and groups ECS" dashboard."
**Kibana version:** 7.12.0 BC-3 Kibana Cloud environment

**Host OS and Browser version:** Ubuntu 20(.tar), Centos 8.0(.rpm), All

**Build Details:**
[code]

**Preconditions:**
1. 7.12.0 BC-3 Kibana cloud environment should be available.
2. Install Filebeat with .tar and .rpm packages.

**Steps to reproduce:**
1. Login to Kibana Cloud environment.
2. Navigate to Dashboard>"[Filebeat]New users and

[2021-03-03 12:54] amolnater-qasource commented on #24315
@manishgupta-qasource Please review.

[2021-03-03 12:55] v1v commented on #24284
Exactly they are read only.

It also fails in windows

[code]

[2021-03-03 13:11] manishgupta-qasource commented on #24315
Reviewed & assigned to @EricDavisX

[2021-03-03 13:12] elasticmachine commented on #24315
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-03-03 13:32] ph commented on #24255
@jen-huang Can you take a look at this one, I have a feeling that @EricDavisX is right and its some kind of problem with fleet that the configuration is not correctly generated?

[2021-03-03 13:37] ph commented on #24310
This look like a fleet issue, more than a beats issue.

@nchaulet did we broke something in 7.13?

[2021-03-03 13:42] blakerouse commented on #24310
@ph I am looking into this. I merged #24220, that refactors how the container is started. I think Kibana might have change how it names enrollment tokens. Trying to verify what the issue is, if that was changed I was un-aware.

[2021-03-03 13:45] ph commented on #24310
@blakerouse OK, I've sent it back to the right board. thanks for looking into it, I would have though that the refactoring in Kibana could have cause this issue so feel free to send it back to fleet.

[2021-03-03 13:45] jalvz commented on #24310
FWIW I can reproduce the issue with `docker run  -it --env FLEET_ENROLL=1 --env FLEET_INSECURE=1 --env FLEET_SETUP=1 --env KIBANA_FLEET_HOST="http://kibana:5601" --env FLEET_URL="http://kibana:5601" --rm docker.elastic.co/beats/elastic-agent:8.0.0-SNAPSHOT.

Do not only I need to pass the token name including the id, but the actual api key too. This works: `docker run -it --env FLEET_ENROLL=1 --en

[2021-03-03 13:53] dikshachauhan-qasource opened #24317 "[Windows specific]: Metricbeat service is not started by itself and unable to unzip completely at Endpoint under Elastic folder."
**Kibana version:** 7.12 BC3 Kibana Cloud environment

**Host OS and Browser version:** Windows 10, All

**Preconditions**
1.  7.12 BC3 Kibana Cloud environment should be available.
[code]
2. Default policy having system integration should exist.

**Steps to reproduce:**
1. Login to Kibana cloud environment.
2. Install a new agent using Default policy.
3. Wait for agent logs to come up.
4. Observe

[2021-03-03 13:54] elasticmachine commented on #24317
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-03-03 13:58] dikshachauhan-qasource commented on #24317
@manishgupta-qasource  please review

[2021-03-03 13:59] manishgupta-qasource commented on #24317
Reviewed & assigned to @EricDavisX

[2021-03-03 14:05] nchaulet commented on #24310
We did not merge the refactoring to fleet server yet in Kibana for 7.13.0

[2021-03-03 14:19] andrewkroh commented on #24284
https://golang.org/ref/mod#go-clean-modcache describes the problem as well as possible solutions.

[2021-03-03 14:37] EricDavisX commented on #24317
this is a duplicate to https://github.com/elastic/beats/issues/24180 - we need to trace if that fix made it into the BC3, looks it it did not - or the changes caused a breakage with the exact same symptoms.

[2021-03-03 14:44] EricDavisX commented on #24274
I want to check if this is actually one of our known issues/ duplicates, actually

[2021-03-03 14:46] elasticmachine commented on #24315
Pinging @elastic/integrations (Team:Integrations)

[2021-03-03 14:46] EricDavisX commented on #24315
pinging team, it sounds severe - will raise it to slack.

[2021-03-03 15:13] EricDavisX commented on #24274
@liu-xiao-guo hi - @michalpristas was asking you if...

the output definition changed to contain cert definition in fleet?

in fleet app theres under settings a section called Elasticsearch output configuration this is the place where ssl config should be place. this is then forwarded to output

if you have some logs it would be of great help. as agent state should not be related to output definit

[2021-03-03 15:34] mtojek commented on #24310
I understand that the fix from Blake will bring back the original behavior:

... so there is no need to define `FLEET_ENROLLMENT_TOKEN` and `FLEET_TOKEN_NAME`.

[2021-03-03 15:57] andrewkroh commented on #24304
libpcap gets compiled inside the container at a location that's part of the container FS to avoid any conflicts with other parallel builds. So this one surprises me. I'm not aware of any recent Packetbeat changes. Maybe check if anything in dev-tools mage changed recently.

This sounds similar to the comment at https://github.com/elastic/beats/blob/28d48145bbfe2131d48ed5f6756853070d7d5492/packetbe

[2021-03-03 16:02] mtojek commented on #24310
Let me write update on the issue:

I'm trying to make the Integrations green again. I got some guidance from @blakerouse to consider switching to fleet server: https://github.com/elastic/elastic-package/pull/272 , which doesn't work in 7.13.0 (probably due to the above issue?)

Actually there are more incompatible things:
1. There is another policy, not the `Default` one. This will break our logic

[2021-03-03 16:19] EricDavisX commented on #21870
looks like it is in PR for 7.13 / 8.0 - woo! we'll test it as soon as the 7.12 cycle relaxes.  nice!
@dikshachauhan-qasource this will require some test suite update and testing across multiple OS types and artifact types.  we can chat it more.

[2021-03-03 16:22] ravikesarwani commented on #22051
Thanks @ph, this look really great. So if I understand correctly looks like we can handle both scenarios I mentioned earlier.
Use case 1: User wants to send integration data via logstash and send monitoring data directly to Elasticsearch.
In this case "default" will point to logstash and "monitoring" will point to Elasticsearch.

Use case 2: User wants to send both integration and monitoring data

[2021-03-03 16:38] fearful-symmetry commented on #24315
Sorry, I'm not a filebeat expert, can we verify that there's been new user or group events that would populate the dashboard?

[2021-03-03 16:58] ph commented on #22051
Yes exactly.

[2021-03-03 17:02] tonymeehan opened #24323 "Use -buildmode=pie (position independence executable)"
**Describe the enhancement:**

Add a buildmode flag to enable our Go binaries to support ASLR. This should be included in Elastic Agent, Beats and Fleet Server.

A few years ago Golang added support for -buildmode=pie. This enables Go binaries to take advantage of ASLR and helps us mitigate the potential for someone to create a reliable exploit if we one day discover a vulnerability. There are a f

[2021-03-03 18:04] EricDavisX commented on #24317
update;  this seems not exactly a duplicate, i was wrong I think.  the error is slightly different, tho it is the same use case and failing in the same area.  @michalpristas will look to investigate.

[2021-03-03 18:23] sayden commented on #24118
The recommended way across all metricbeat is to use the fields `username` and `password` in the configuration yaml so credentials are masked.

There's, however, a mistake in the docs where the connection string in `hosts` must be prefixed with `oracle://`. This way, your username and password will also be masked, because it's properly recognized as a FQDN. Still, it's better to place them in the u

[2021-03-03 18:43] falkrist commented on #24118
Hi @sayden,
thanks for your reply. So the correct connection config should look like this?
[code]

[2021-03-03 18:52] elasticmachine commented on #24323
Pinging @elastic/agent (Team:Agent)

[2021-03-03 19:01] benberg86 commented on #9864
👍 for SSM or secrets manager support ($$ here). Ability to provide ARN of a secret manager secret/SSM parameter to use in an env var is how we have implemented - lambda goes and grabs the secret/SSM at run time.

[2021-03-03 19:37] EricDavisX opened #24327 "[Agent] Installed Windows 7 Agent shows no logs in Kibana (data is in Discover though) and shows host log error: agent events contains events with different agent id from currently authorized agent"
This is a 7.12 BC3 stack deploy to cloud with the BC3 Agent on a Win7 VM

Agent shows as 'healthy' but no logs show in the Agent details, presumably due to the mis-match somewhere of the Agent ID.  With recent changes on Install in Beats (and none on Kibana side that seem to relate) I assume it is a Beats Agent bug.

The first error in the log ends up being repeated, over an over, stacking up the

[2021-03-03 19:37] elasticmachine commented on #24327
Pinging @elastic/agent (Team:Agent)

[2021-03-03 19:39] EricDavisX commented on #24327
@ph let us add this to 7.12 triage set.  We are now a few urgent issues deep, can we get Michal some assistance in reviewing?

[2021-03-03 20:34] #24141 closed

[2021-03-03 21:39] v1v opened #24328 "https://sum.golang.org/lookup/github.com/elastic/beats/v7@v7.0.0-alpha2.0.20210303203421-98a1cf73d81f: 410 Gone"
`make -C generator/_templates/beat test test-package`

Stacktrace:

[code]

` make -C generator/_templates/metricbeat test test-package`

stacktrace

[code]

https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2Fmaster/detail/master/295/pipeline/1002

[2021-03-03 21:56] EricDavisX commented on #24327
Team, I got some second opinions from Sec Engg prod team - they have a BC3 server with many working hosts that do NOT have this problem.  BUT indeed, the Win 7 x64 host they setup seems to be in the same state as mine, with the bug.  So, it is real I guess, just *somehow specific to win 7.  I've updated the short desc.  I don't know if that should be a blocker for 7.12, but I'd still like to know

[2021-03-03 22:13] urso commented on #23871
In agent we already default to ECS.

How does the change to ECS in Beats by default change the log format?

If possible I would prefer if we do not change the defaults, as this might be a breaking change for users that already process/index Beats logs.

[2021-03-03 22:48] dcode opened #24331 "Filebeat httpjson v2 input should set Content-Type header to match to specified encoder"
Filebeat should match the `Content-Type` header to the encoding selected.

Steps to reproduce:

1. Configure Filebeat to use `httpjson` v2 input (example configuration below)
2. Try to specify form-encoded parameters
3. Run the configuration with DEBUG logging
4. Observe that the `Content-Type` is still set to `application/json`.

-------

**Example**

Minimum viable config:

[code]

Produces the

[2021-03-03 23:06] leehinman opened #24333 "[metricbeat] redis module does not support tls settings for connection"
https://github.com/elastic/beats/blob/024dd5c98021368bda3c7b8b0a91f69c9b14d5aa/metricbeat/module/redis/redis.go#L197

No TLS settings are passed to the Dial settings.

[2021-03-03 23:07] urso commented on #24144
Fix in progress in #24332

The `/_cat/templates` API returns "200 OK" no matter if the template exists or not. We will treat any status code but 200 as error and force exponential backoff, with random jitter, which over time should also reduce the number of Beats instances that concurrently ask for template availability. The backoff starts with a randomized time window of [500ms, 1s] and a max tim

[2021-03-03 23:09] elasticmachine commented on #24331
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-03-03 23:11] fearful-symmetry commented on #23267
Fix here: https://github.com/elastic/beats/pull/24334

Took a bit longer that expected, as fixing it in a not-ugly way took a bit of time.

[2021-03-04 01:02] EricDavisX commented on #24132
@ph I won't presume to answer for @fearful-symmetry , but I know it is blocking us from fixing a problem where supported configurations are crashing when using Metricbeat on older systems (like Windows 10, Win8, Win7).

See below:

As of 7.12 testing, we are seeing Metricbeat crash on both win 10 and win8.1 with 7.12 Fleet and Default policy (with System 0.10.9 version) due to incompatibility in t

[2021-03-04 01:03] EricDavisX commented on #24327
Update 2: my original test case (call it: host1) is now showing logs and has Endpoint deployed.  I can't explain it... I waited many minutes after changing the policy to see if it would have an impact before reporting this.

The policy change must have eventually worked?

The 2nd host we tested with Win 7 in the same state (host2) has logs that I captured here:

[Win-7-v7.12.0-bc3-alternate-host-l

[2021-03-04 01:06] EricDavisX commented on #24180
This seems fixed indeed - though we are finding new problems with Metricbeat, but not as frequently. : / It isn't really very clear - but we can track the above in reference to subsequent problems.

[2021-03-04 01:42] augustynd commented on #20231
Any updates on this?

[2021-03-04 01:44] augustynd commented on #20294
@jamiehynds do you have any updates on Qualys support?

[2021-03-04 03:10] liu-xiao-guo commented on #24274
Is there any place talking on how to set it up in the place. I do not know what should be the correct format for filling it up. I have seen the closest discussion at https://github.com/elastic/kibana/issues/73483. However, I still do not have the clue on its format:
![image](https://user-images.githubusercontent.com/8455957/109905713-2f1bd500-7cda-11eb-890e-2f59c9c29dc8.png)

[2021-03-04 03:46] liu-xiao-guo commented on #24274
Thank Eric for his help. I followed the issue at https://github.com/elastic/kibana/issues/75913. I got the same error as before.
![image](https://user-images.githubusercontent.com/8455957/109908335-0ea24980-7cdf-11eb-84bc-9d469809c31d.png)

Error log found at C:\Program Files\Elastic\Agent\elastic-agent.log
2021-03-04T11:37:05.333+0800	INFO	warn/warn.go:18	The Elastic Agent is currently in BETA an

[2021-03-04 04:16] #16286 closed

[2021-03-04 07:04] simitt commented on #23871
It would only make sense in combination with setting `logging.json: true` - so stdout logs would be in json;
The minimal ECS fields would be added to every log line.

I do not feel strongly about changing or not - up to you; just wanted to open, as originally you were asking for changing to default. Feel free to close the issue if the default should not be changed.

[2021-03-04 07:04] amolnater-qasource opened #24364 "7.11.0 Standalone agent is not sending data to 7.12.0 BC-3 Kibana under data streams tab."
**Kibana version:** 7.12.0 BC-3 Kibana Cloud environment

**Host OS and Browser version:** Windows 10, All

**Build Details:**
[code]

**Preconditions:**
1. 7.12.0 BC-3 Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana Cloud environment.
2. Navigate to Agents tab and install 7.11 standalone agent with default policy having system integration.
3. Navigate to

[2021-03-04 08:47] elasticmachine commented on #24333
Pinging @elastic/integrations (Team:Integrations)

[2021-03-04 08:47] mtojek opened #24337 "x-pack/metricbeat: panic: Not enough storage is available to process this command."
It seems that Windows 7 32bit builders for Beats started to complain again:

[code]

As a temporary workaround we (@andres, @kuisathaverat and @mtojek) decided to switch of the Windows 7 32bit builder from the process.

I will prepare a relevant PR.

[2021-03-04 08:48] elasticmachine commented on #24337
Pinging @elastic/integrations (Team:Integrations)

[2021-03-04 08:49] v1v commented on #24337
Duplicates https://github.com/elastic/beats/issues/24082

[2021-03-04 08:54] andresrc commented on #24337
Closed as duplicate of https://github.com/elastic/beats/issues/24082

[2021-03-04 08:54] #24337 closed

[2021-03-04 08:56] elasticmachine commented on #24328
Pinging @elastic/agent (Team:Agent)

[2021-03-04 09:14] elasticmachine commented on #24311
Pinging @elastic/agent (Team:Agent)

[2021-03-04 09:15] andresrc commented on #24311
Hi, have you found any issue at runtime?

[2021-03-04 09:33] jsoriano commented on #19820
Library updated in https://github.com/elastic/beats/pull/23438, closing this.

[2021-03-04 09:33] #19820 closed

[2021-03-04 09:34] jsoriano commented on #24333
Related to #16522.

[2021-03-04 09:38] elasticmachine commented on #16522
Pinging @elastic/integrations (Team:Integrations)

[2021-03-04 09:45] mtojek commented on #24082
FYI I have just detached the worker Windows 7 32 bit from the building process of x-pack/metricbeat.

[2021-03-04 09:46] DaveCTurner commented on #24144
Sounds perfect, thanks @urso

[2021-03-04 09:56] ruflin commented on #24310
@blakerouse @michalpristas Please help here. It is really important that before we make breaking changes we get the teams on board to not break CI and test environments!

[2021-03-04 10:04] jsoriano commented on #24310
Could we make CI jobs to depend on pinned versions of its dependencies so this kind of breaking changes are not introduced by mistake?

[2021-03-04 10:07] mtojek commented on #24310
Yes, @jsoriano . I'm working on this here: https://github.com/elastic/elastic-package/issues/271

[2021-03-04 10:07] jsoriano commented on #24310
Great thanks!

[2021-03-04 10:10] mtojek commented on #24310
Just a small update:

With recent temporary fixes https://github.com/elastic/elastic-package/pull/274 and https://github.com/elastic/integrations/pull/760  we unblocked Integrations and Elastic Package developers. Unfortunately such fixes have a side effect - they work only for 7.13.0-SNAPSHOT.

We'll have a proper solution once https://github.com/elastic/elastic-package/issues/271 is ready.

[2021-03-04 10:16] #6282 closed

[2021-03-04 10:16] #16381 closed

[2021-03-04 10:43] jamiehynds commented on #20294
Hi @augustynd, thanks for the ping. Unfortunately, I don't have an update on an Elastic support Qualys module. It's something we continue to track demand for. However, there are some options available for Qualys ingestion. Have you tried the Qualysbeat developed by @tesla-consulting (linked above). [VulnWhisperer](https://github.com/HASecuritySolutions/VulnWhisperer) is also a popular option and s

[2021-03-04 11:27] dikshachauhan-qasource opened #24344 "Rpm agent unable to upgrade using upgrade command. <7.10.2 to 7.12>"
**Kibana version:**
7.12 BC3 Kibana Cloud environment

**Host OS and Browser version:**
Linux 7.6, All

**Preconditions**
1.  7.12 BC3 Kibana Cloud environment should be available.
[code]
2. Default policy having system integration should exist.
3. 7.10.2 rpm agent installed.

**Steps to reproduce:**
1. Login to Kibana cloud environment.
2. Observe 7.10.2 agent is in healthy state and successfully

[2021-03-04 11:28] disaster37 opened #24345 "[Filebeat] - unexpected expand_keys option in processors.0.decode_json_fields"
- Version: 7.11.1
- Operating System: Official docker container
- Steps to Reproduce:

Deploy filebeat with kubernetes provider for autodiscover.
Start pod called `elasticsearch` with following annotations:
[code]

On filebeat log, we get:
[code]

[2021-03-04 11:28] elasticmachine commented on #24344
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-03-04 11:29] dikshachauhan-qasource commented on #24344
@manishgupta-qasource Please review

[2021-03-04 11:41] manishgupta-qasource commented on #24344
Reviewed & assigned to @EricDavisX

[2021-03-04 12:01] joshua0x commented on #24311
no issues ,but the lock is unnecessary ,

[2021-03-04 12:02] sayden commented on #24118
Yes, this is the best approach so we can ensure that the credentials are not visible on the events either. I have been doing local tests too and username and password can also be part of the `hosts` field as far as they are separated by `:` (instead of `/` as you can read here https://github.com/elastic/beats/pull/23101), if not it seems that the password is leaked because the host parser doesn't

[2021-03-04 12:49] #23430 closed

[2021-03-04 12:55] ph commented on #24310
I see an open PR created by @blakerouse linked in this issue from yesterday https://github.com/elastic/beats/pull/24319 this has not been reviewed or tested, @mtojek or @michalpristas  have you look if it fixes this issue?

[2021-03-04 13:43] tesla-consulting commented on #20294
Hi guys,
a new version of QualysBeat has been released! [QualysBeat_v2](https://github.com/tesla-consulting/qualysbeat/tree/QualysBeat_v2)
In this one you can choose the Qualys's API URL through qualysbeat.yml file.

We're glad to help you 🙂 !

[2021-03-04 14:02] adriansr opened #24350 "Extend PANW/panos module with globalprotect and hipmatch datasets"
We've received the following contribution from @felix-lessoer

Here's a pipeline. It needs ECS mappings:

[code]

A few sample anonymized logs https://drive.google.com/file/d/18ouI1X9ZTF2EiQX_hTUbwSTCrqDoy0BC/view?usp=sharing

[2021-03-04 14:02] elasticmachine commented on #24350
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-03-04 14:12] felix-lessoer commented on #24350
Thanks @adriansr .
This pipeline was build to run after the current (v 0.5.0) panos module integration.
So it looks at log.original field and parses the CSV content.
You can find the documentation here: https://docs.paloaltonetworks.com/pan-os/10-0/pan-os-admin/monitoring/use-syslog-for-monitoring/syslog-field-descriptions/globalprotect-log-fields.html

The other log types can be build with the sa

[2021-03-04 14:24] ph opened #24351 "[Discuss] Cloud.id and Cloud.auth for Elastic Agent."
Beats support `cloud.id` and `cloud.auth` as a way to simplify the Kibana setup and the communication to Elasticsearch, theses option are defined at the top level section of the beats conffiguration. Today the Elasticsearch agent doesn't copy theses option to the running beats or even endpoint.

We are having a bigger discussion on the future of the cloud's id, that will affect Elastic Agent or be

[2021-03-04 14:24] elasticmachine commented on #24351
Pinging @elastic/agent (Team:Agent)

[2021-03-04 14:43] michalpristas commented on #24327
could you grab another portion of logs from machine 1.
i'm wondering if there was a restart in between or how it got fixed by itself.
if you can get `action_store/state.yml` and all the yml files basically to see config it would be also great

[2021-03-04 14:48] blakerouse commented on #24327
@michalpristas Does agent write the state.yml file even in standalone mode?

[2021-03-04 14:52] EricDavisX commented on #24327
I grabbed the whole logs folder already - it is posted above in description:  7.12-bc3-win-7-logs.zip

[2021-03-04 14:54] disaster37 commented on #24345
In file `https://github.com/elastic/beats/blob/master/libbeat/processors/actions/decode_json_fields.go`, on line 73, i think you need to add `expand_keys` on list.

Before:
[code]

After:
[code]

[2021-03-04 15:12] michalpristas commented on #24327
@blakerouse i think it should not, there's not a real reason to do so. i'm thinking (seeing how windows fs behaves) that maybe something with `fleet.yml` file which even in standalone serves as a agent_id storage

[2021-03-04 15:20] ChrsMark commented on #24143
@blakerouse Implementation wise, do you have in mind how the provider will actually fetch the secrets from the API at running time? Will the provider fetch a secret, if this already exists, on startup and then it will be able to watch for new secrets? Or the secret will be actually fetched when needed, means when it will actually be needed by a configuration (this how it is implemented in Beats).

[2021-03-04 15:21] TheChedda opened #24354 "Field not parsing correctly"
Parse the field "okta.target" with filebeat module

Right now, all other fields are parsed correctly. But for "okta.target" field, that still shows up as JSON and there are 4 sub-fields that you can't parse normally with mappings. Working with support to figure out how I can do this as-is but would be nice if that field was parsed out with filebeat module.

You should be able to see this with ANY

[2021-03-04 15:28] jamiesmith opened #24355 "Ingest pipeline to help with sparse data from Kafka.broker metricset"
**Describe the enhancement:**

I started using the broker metricset in Kafka and noticed that the data is very sparse:
![discover-kafka-broker-metrics](https://user-images.githubusercontent.com/220994/109986221-8bc7c180-7cd3-11eb-9cec-3e9565c6b33e.png)

There's one field, `kafka.broker.mbean`, which muxes together multiple other fields:
[code]

This contains the metric name (`BytesOutPerSec`), the

[2021-03-04 15:31] jamiesmith opened #24356 "gather garbage collection metrics from kafka broker"
**Describe the enhancement:**
In the Kafka ecosystem, like any other Java-based technology, garbage collection can cause serious performance slowdowns, and currently we don't collect this info out of the box.

We should gather garbage collection metrics in the broker metricset (or create a new metricset).

**Describe a specific use case for the enhancement or feature:**
This would add missing func

[2021-03-04 15:43] jamiesmith opened #24357 "Doc improvement: Hard to set up kafka broker metricset"
**Describe the enhancement:**
While writing a blog/tutorial on setting up Kafka monitoring with Metricbeat I had a hard time connecting the dots with regards to both hints-based autodiscover, and with the broker metricset --> Jolokia setup.

For the `broker` metricset (and likely the `consumer` and `producer` ones as well), the **[docs](https://www.elastic.co/guide/en/beats/metricbeat/current/metr

[2021-03-04 15:47] jamiehynds commented on #23910
@marc-gr sample logs available here, incase you missed it in the ER: https://drive.google.com/drive/folders/14gXCKYGGnZMfCst6Cxxi-w4jniA52_L8

[2021-03-04 15:51] mtojek commented on #24310
Let me know if we need more data, logs, etc. from us.

[2021-03-04 15:55] michalpristas commented on #24249
just to mention our defaults. we use logp defaults for this one which is
[code]

[2021-03-04 16:02] elasticmachine commented on #24356
Pinging @elastic/integrations (Team:Integrations)

[2021-03-04 16:07] jsoriano commented on #24355
Thanks for opening this issue!

I don't think we can do it with an ingest pipeline at the moment, Metricbeat doesn't support modules with pipelines. But we can do it at the module level, we have already an open issue about this: https://github.com/elastic/beats/issues/13604

For this specific use case of leveraging mbeans to collect Kafka metadata we also have this open issue: https://github.com/e

[2021-03-04 16:09] jsoriano commented on #22734
Duplicate of https://github.com/elastic/beats/issues/22738. Thanks for reporting! I agree that this would be nice to have.

[2021-03-04 16:09] #22734 closed

[2021-03-04 16:10] jsoriano commented on #24355
Also reported here: https://github.com/elastic/beats/issues/22738.

Closing as duplicated of the others.

[2021-03-04 16:10] #24355 closed

[2021-03-04 16:11] #22901 closed

[2021-03-04 16:12] jsoriano commented on #22738
Reported also https://github.com/elastic/beats/issues/22734 and https://github.com/elastic/beats/issues/24355. This would be something definitely interesting to do.

I don't think we can do it with an ingest pipeline at the moment, but it could be done by the Jolokia metricset used as base of this one.

[2021-03-04 16:16] masci commented on #13860
superseded by https://github.com/elastic/integrations/issues/640

[2021-03-04 16:16] #13860 closed

[2021-03-04 16:19] elasticmachine commented on #24357
Pinging @elastic/obs-docs (Team:Docs)

[2021-03-04 16:20] elasticmachine commented on #24357
Pinging @elastic/integrations (Team:Integrations)

[2021-03-04 17:20] elasticmachine commented on #12267
Pinging @elastic/integrations (Team:Integrations)

[2021-03-04 17:20] elasticmachine commented on #13364
Pinging @elastic/integrations (Team:Integrations)

[2021-03-04 17:25] masci commented on #15810
Superseded by https://github.com/elastic/integrations/issues/490

[2021-03-04 17:25] #15810 closed

[2021-03-04 17:26] masci commented on #15811
Superseded by https://github.com/elastic/integrations/issues/490

[2021-03-04 17:26] #15811 closed

[2021-03-04 17:47] elasticmachine commented on #24354
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-03-04 17:49] elasticmachine commented on #24345
Pinging @elastic/integrations (Team:Integrations)

[2021-03-04 18:10] EricDavisX commented on #24132
the Linux Centos 7 (systemd vs init.d?) problem is here - https://github.com/elastic/integrations/issues/552
 - no actual errors thrown or Metricbeat crashing just a lack of data coming in.
the Windows side problems I can look up if needs be, I hadn't found it with a quick search.

[2021-03-04 18:41] EricDavisX commented on #24315
@amolnater-qasource @dikshachauhan-qasource can you confirm / re-test... and while testing make sure that we are generating user / group data on the host to ensure it will / should be populated in the Dashboard?  If no data is sent, it isn't a bug - and we just need to update our test content to ensure proper steps.

[2021-03-04 18:55] EricDavisX commented on #24274
I'm just now thinking - did we change to new a Go library version maybe, and it is causing this?

I see this fix here from @kvch https://github.com/elastic/beats/pull/23661 - it was not backported to 7.11, but I don't know for sure that we changed the Go version there, trying to track records.

[2021-03-04 19:20] urso commented on #24132
Thanks. I would say this is related to status reporting in the future. Will keep this in mind.

Regarding potential metadata we might want to expose, have a look at the [python platform](https://docs.python.org/3/library/platform.html) package.

[2021-03-04 19:27] ph commented on #24132
@EricDavisX Just to clarify the urgency here, this doesn't crash Elastic Agent we aren't return information about theses system correct?

[2021-03-04 19:58] mostlyjason commented on #23397
@slmingol Yes our intention is to add support for more output types, but we'll probably add them one at a time because the Elastic Agent now uses data streams and it has a new indexing strategy. We want to ensure the full end to end experience is good from agent, to the output system (logstash/kafka) and then to Elasticsearch data streams. The next up on our list is Logstash and it should be comin

[2021-03-04 20:16] andrewvc opened #24361 "[Meta] Standardize DataStream handling / config parsing"
In https://github.com/elastic/beats/pull/24223 I introduced a new `add_data_stream_index` processor that provides a very clean way for handling data stream configs and data stream index formatting. Today that's only used for Heartbeat, but as @urso pointed out a similar strategy would make sense for the other beats as well, probably leveraging some of the same utilities.

The basic idea is to cent

[2021-03-04 20:19] EvanGertis commented on #21351
I am running into a similar issue. I am also using the amazon aws module. When I start filebeat I'm hit with this string of errors
[code]

Then I eventually run into
[code]

[2021-03-04 22:06] elasticmachine commented on #24364
Pinging @elastic/agent (Team:Agent)

[2021-03-04 22:08] EricDavisX commented on #24364
I wonder about this case, a prior version Agent calling in to a newly upgraded or set up stack.

@ph @blakerouse thoughts?  Is this pretty urgent to get supported or confirmed?  Let us know if you need more, @amolnater-qasource could you post any Agent side logs that do exist from the host please?

[2021-03-05 01:16] #14590 closed

[2021-03-05 01:20] geekpete opened #24367 "Provide additional advice for non-destructive alternatives for handling Beats template updates to get data displaying in Kibana again"
**Describe the enhancement:**

Current advice to handle old documents after installing a new beats template if new documents are not showing up in Kibana is to delete all historical data specific to the Beat with a wide index pattern delete match.
We should document any alternatives to the destructive approach such as reindexing with a provided ingest pipeline recipe and/or recipes for [runtime fi

[2021-03-05 01:20] elasticmachine commented on #24367
Pinging @elastic/obs-docs (Team:Docs)

[2021-03-05 05:45] kaiyan-sheng commented on #21351
@EvanGertis What does your `aws.yml` config look like? Please feel free to open an issue in our [discuss forum](https://discuss.elastic.co/c/elastic-stack/beats) and we will help you there! Thank you!

[2021-03-05 06:15] amolnater-qasource commented on #24364
Hi @EricDavisX
Please find the agent side logs attached in the defect summary under Logs section:

{"log.level":"info","@timestamp":"2021-03-04T01:56:28.135-0500","log.origin":{"file.name":"application/periodic.go","file.line":76},"message":"Configuration changes detected","ecs.version":"1.6.0"}
elastic-agent-json.log

Further as per your request please find elastic-agent.yml below:
[elastic-agent

[2021-03-05 06:32] amolnater-qasource commented on #24315
Hi @EricDavisX
Thanks for the feedback. We have used following commands to create users and groups:
[code]
Further to check members:
[code]
With these commands we are able to view data under "New users and groups ECS" dashboard.
**Screenshot:**
![1](https://user-images.githubusercontent.com/77374876/110076273-3ad6cc80-7daa-11eb-957d-5be37a9cd767.JPG)

We have updated our test case as per requireme

[2021-03-05 06:32] #24315 closed

[2021-03-05 08:29] mtojek commented on #24310
Unfortunately I have to reopen the issue as the problem still persists. It might be related to not releasing next snapshots, so I prefer to keep it open until the problem can be confirmed to be solved.

[2021-03-05 08:36] lowryxiao opened #24371 "[Heartbeat] clarify “context deadline exceeds” further"
It is said that Heartbeat employs Golang builtin context to manage the session to do the http check, will get “context deadline exceeds” error message in case timeout happens while accessing a target.
However, there’re 2 different kinds cases promise to cause timeout:
The target host is unpingable, for example:
[code]
The port that the specific service is listening on is very slow
Wondering if the

[2021-03-05 08:55] elasticmachine commented on #24371
Pinging @elastic/uptime (Team:Uptime)

[2021-03-05 09:14] eedugon opened #24372 "Include kube_statefulset_status_replicas_ready metric in kubernetes Metricbeat module"
**Describe the enhancement:**

As part of the `state_statefulset` metricseat some users are reporting the need of using the metric `kube_statefulset_status_replicas_ready`, which is not collected at the moment,  but it's returned by `kube-state-metrics`:

https://github.com/elastic/beats/blob/master/metricbeat/module/kubernetes/state_statefulset/state_statefulset.go

That metric is useful to build

[2021-03-05 09:14] elasticmachine commented on #24372
Pinging @elastic/integrations (Team:Integrations)

[2021-03-05 11:48] dikshachauhan-qasource opened #24390 "[Agent] Windows Agent continues to display in 'updating' state when used only unenroll option[without force un-enroll]."
**Kibana version:**
7.12 BC3 Kibana Cloud environment

**Host OS and Browser version:**
Windows, All

**Preconditions**
1.  7.12 BC3 Kibana Cloud environment should be available.
[code]
2. Default policy having system integration should exist.
3. few Windows agents should be installed.

**Steps to reproduce:**
1. Login to Kibana cloud environment.
2. Go to fleet> Agents tab.
3. Select and Agent an

[2021-03-05 12:15] mukeshelastic commented on #24143
From requirements perspective - we can read secrets at startup and so if it changed after that, then agent needs to be restarted to pick that change. Watching secrets so that agent can read them dynamically is nice but we can create separate issue for that and address it later.

[2021-03-05 12:36] ChrsMark commented on #24143
++ on dealing with `watch` feature later however my actual question is: Do we fetch all Secret objects from k8s api on startup and leverage only what is needed in the dynamic inputs or fetch only the specific secret(s) that is needed? If I have got the design of dynamicInputs+providers so far then we can only implement the first approach (fetch all secrets). @blakerouse can you confirm?

[2021-03-05 13:09] elasticmachine commented on #24344
Pinging @elastic/agent (Team:Agent)

[2021-03-05 13:10] michalpristas commented on #24327
found the issue very weird

[2021-03-05 13:10] EricDavisX commented on #24344
@dikshachauhan-qasource hello.  this feature of 'Agent upgrade' is not supported at all for either RPM or DEB installed Agents.  Please update the test content that relates if needed.   Also, would you please check if our on-line Documentation mentions this anywhere and if not, we can log a bug to make a small edit to that effect.  Then you can close the issue out.

Thanks so much for the thorough

[2021-03-05 13:15] EricDavisX commented on #24315
excellent!  @amolnater-qasource if you can help update the test content to this effect too, if not done already - thanks so much.

[2021-03-05 13:20] EricDavisX commented on #24364
Thanks @amolnater-qasource can you give the exact version by calling 'elastic-agent version' command please.

I've assigned @ph for now to make sure he sees it and can comment on need.  @blakerouse or @michalpristas not sure if you'll see this faster than PH and have any thoughts?  We always support the immediately prior minor version Agent right?  Beyond that, I suppose it is an upgrade scenario

[2021-03-05 13:31] dikshachauhan-qasource commented on #24327
Hi @EricDavisX

We have revalidated windows 7 x64 machine on 7.12 BC3 build and below are our Observations:

Only with system integration in Agent policy:
- Agent is in healthy state.
- No Activity logs present
- logs on discover tab are visible.
![image](https://user-images.githubusercontent.com/72375798/110108282-fe1ecb80-7dd1-11eb-9c30-7f2e6b1863c8.png)

Endpoint security and system integration

[2021-03-05 13:38] simitt opened #24383 "[docker][agent] small bug in Enroll Elastic Agent via Fleet Server cmd"
Following issues were identified with the latest docker image when trying to enroll an Elastic Agent via Fleet Server:

* FLEET_SERVER_INSECURE_HTTP=1 translates to `--fleet-server--insecure-http`, which is an invalid option.
* configured  `ELASTICSEARCH_HOST`, `ELASTICSEARCH_USERNAME` and `ELASTICSEARCH_PASSWORD
` are ignored while they should be valid as fallback options, resulting in following

[2021-03-05 13:40] elasticmachine commented on #24383
Pinging @elastic/fleet (Team:Fleet)

[2021-03-05 13:42] amolnater-qasource commented on #24315
Hi Eric
Hi Eric
We have already updated our testcase. Test case link is as follows:
 [View data in '[Filebeat System] New users and groups ECS' dashboard](https://elastic.testrail.io/index.php?/cases/view/15813)

Thanks
QAS

[2021-03-05 13:45] michalpristas commented on #24327
@dikshachauhan-qasource this is what i see locally as well

[2021-03-05 13:58] amolnater-qasource commented on #24364
Hi @EricDavisX
Please find below screenshot for elastic-agent version:
![agent version](https://user-images.githubusercontent.com/77374876/110124734-77291d80-7de8-11eb-986b-bbf49bc6076a.PNG)

Further we have used 7.11.0 BC-8 artifact link and link for windows agent is as follows:
https://staging.elastic.co/7.11.0-657c0367/downloads/beats/elastic-agent/elastic-agent-7.11.0-windows-x86_64.zip

Thank

[2021-03-05 14:53] kvch commented on #24274
In 7.11 we use Go 1.14.12, so Agent and Beats are still lenient when it comes to DNSNames.

[2021-03-05 14:54] #24317 closed

[2021-03-05 15:05] elasticmachine commented on #24390
Pinging @elastic/agent (Team:Agent)

[2021-03-05 15:06] EricDavisX commented on #24390
@michalpristas @blakerouse @ph I'd like us to research this for 7.12 and know what is going on before deciding if we do or not not need to fix it there - I'm leaning towards fixing it as a regression, but depending on the fix complexity we may want to hold off

[2021-03-05 15:11] skh opened #24391 "[Fleet] After enrolling a windows agent with endpoint, it appears twice on Security/Hosts"
After installing/enrolling elastic-agent with a policy containing endpoint, I see the windows host twice in Security/Hosts:

![image](https://user-images.githubusercontent.com/189073/110133535-b47fb200-7dcc-11eb-9689-beacbfd072d5.png)

When I first looked at this screen the "Last seen" times were only seconds apart.

I see it only once in Security/Administration:

![image](https://user-images.gith

[2021-03-05 15:13] tehho opened #24392 "Filebeat module azure activitylogs does not populate azure.subscription.id on MICROSOFT.SECURITY/SECURITYCONTACTS/WRITE event"
For confirmed bugs, please report:
- Version: 7.11.1
- Operating System: Docker
- Discuss Forum URL: N/A
- Steps to Reproduce:

1. Setup a filebeat azure activitylog to a eventhub
2. Change the contact email of the subscription.
3. Note no log of subscription id in logs

Suggested fix:
Add grok to azure module to always try to get subscription id here https://github.com/elastic/beats/blob/master/x

[2021-03-05 15:25] jsoriano commented on #7438
I think we need more information to solve this issue. According to PostgreSQL documentation, timezone can only take the value of one of the timezones in the `timezonesets` files included in the PostgreSQL distribution. Looking at this file in PostgreSQL (checked in 9.6 and 12.6), only timezone abbreviations (such as `CET`, or `JST`) are available, all of them match the current `WORD` pattern.
I tr

[2021-03-05 15:28] #24383 closed

[2021-03-05 15:42] nchaulet commented on #24390
I do not know if it can help here but just tested locally an `unenroll` and the agent stayed in Updating for a long time but after ~1 minutes it was succesfully unenrolled. So maybe there is no bug here.

[2021-03-05 15:53] EvanGertis commented on #14019
I am experiencing the same issue.

[2021-03-05 15:54] #24111 closed

[2021-03-05 16:51] blakerouse commented on #24143
@ChrsMark I would expect the `kubernetes_secrets` to work somewhat differently than the current context providers. The current providers load all the data at start up, which is not what we want to occur for the `kubernetes_secrets`. I think work needs to be done to have the provide to only fetch the secrets that are referenced. Loading all the secrets even if not used, I think would be incorrect.

[2021-03-05 16:52] adriansr commented on #24268
A workaround is to set the variable as a string instead of a boolean in netflow.yml:

[2021-03-05 17:17] PhilipWhiteside opened #24401 "vSphere module - Percentage for CPU & Mem"
**Describe the enhancement:**

Provide percentage `%` usage value for vSphere host CPU & Memory.

**Describe a specific use case for the enhancement or feature:**

To create Kibana Alerts based on usage exceeding a percentage of the nodes capability. We have multiple clusters for different workloads, so setting a fixed GHz/byte value of free would not work for them all. Everywhere I have seen has

[2021-03-05 17:58] EricDavisX commented on #24390
Thanks Nicolas - it is aways helpful to have more test data.

It will help to have the Agent logs posted here @dikshachauhan-qasource when you get back in office, thanks!
It is failing from this test case:
https://elastic.testrail.io/index.php?/runs/view/1355&group_by=cases:section_id&group_order=asc&group_id=529
though, I expect there is no more detail captured in testrail that is not in git.

[2021-03-05 18:16] #13938 closed

[2021-03-05 18:17] EricDavisX commented on #24391
Thanks SKH.  the most relevant line to me is:
On a fresh VirtualBox Windows 10 64bit home, paste command into PowerShell **without** admin privileges

 - perhaps the Agent installer makes it far enough to create a host document entry, though it certainly shows with a very different name!

[2021-03-05 18:18] EricDavisX commented on #24391
@dikshachauhan-qasource can you confirm if you are seeing this in your tests when you get a chance pleaes?

[2021-03-05 18:20] EricDavisX commented on #24391
I had suggested to Sonja that we log it for Agent because the Security hosts view is just a historical listing of all hosts sending docs.  Kevin L confirmed it is expected to see multiple hosts after multiple installs of the same Agent or upgrades, etc - but in this case it seems not expected.  And will surely be noticed in the common 'tinkerer' case of a single user testing the stack for Security

[2021-03-05 18:20] EricDavisX commented on #24391
@ph what priority should we put to this?  I'm uncertain if it is high or just medium.  @kevinlog do you have any feelings from your user's impact of this?

[2021-03-05 18:24] a03nikki commented on #24015
The `setup.kibana.headers` is now a documented feature, which can be found at <https://www.elastic.co/guide/en/beats/winlogbeat/7.11/setup-kibana-endpoint.html#_setup_kibana_headers>

[2021-03-05 18:32] kevinlog commented on #24391
Thanks for filing this.

@EricDavisX I think this is a medium impact bug.  The fact that the Host page aggregates on Hostnames is a known issue and has existed for some time as far as I know.

@XavierM could potentially speak more to it or link related issues.

[2021-03-05 19:16] #12988 closed

[2021-03-05 20:00] EricDavisX commented on #24255
@dikshachauhan-qasource hi - we are having trouble accessing / reviving the cloud stack server where we saw this.  can you set up a 7.10.2 stack and agent, and generate a few minutes worth of data, then upgrade it to 7.12 and we'll see if it shows off the bad state we had on the other server?  Thank you.

[2021-03-05 20:57] andrewvc opened #24403 "[Heartbeat] Invalid browser configs cause panic"
Invalid browser configs, those not specifying a `source` field will cause the following panic. They should produce a friendly error message instead.

[code]

[2021-03-05 20:57] elasticmachine commented on #24403
Pinging @elastic/uptime (Team:Uptime)

[2021-03-05 21:16] #8503 closed

[2021-03-06 06:11] hendry-lim opened #24405 "[Filebeat] Cisco ASA pipeline is not parsing `source.port` and `destination.port` for message ID: 302022 correctly"
For confirmed bugs, please report:
- Version:  7.11.0
- Steps to Reproduce:
  - Ingest Cisco ASA log with message ID: 302022 via syslog (I am using Logstash to ingest and utilising `filebeat-7.11.0-cisco-asa-asa-ftd-pipeline` pipeline).
  - Observe `400` status error:
    `failed to parse field [destination.port] of type [long] in document with id 'BkAHBngB0-vqe0TpMgeC'. Preview of field's value:

[2021-03-06 13:08] v1v opened #24406 "[CI] .ci/scripts/pre_archive_test.py fails only for x-pack/functionbeat in some Windows versions"
Module: `x-pack/functionbeat`

Windows:
* windows-2012-r2
* windows-2016
* windows-7-32-bit
* wiindows-2019

Stacktrace:

[code]

![image](https://user-images.githubusercontent.com/2871786/110207666-f5cf9a80-7e7c-11eb-85d8-3fa102616bf7.png)

While the expected behaviour should be something like:

![image](https://user-images.githubusercontent.com/2871786/110207691-139cff80-7e7d-11eb-8981-8763742eb

[2021-03-06 13:10] jurim76 opened #24407 "filebeat: parseable output of enabled plugins"
Support to list only enabled plugins, ie "filebeat modules list enabled" in json or any parsable format.

ansible task as example

- name: list enabled filebeat modules
  command: "filebeat modules list enabled"
  register: modules_list

- name: enable filebeat module
  comand: "filebeat modules enable {{ item }}"
  loop: filebeat_required_modules
  when: "item not in modules_list"

[2021-03-06 13:40] v1v commented on #24406
https://github.com/elastic/beats/pull/24316 was added to ensure workspaces were unique, and somehow might be related, no idea how but it seems the very first time it happened was with that particular PR and also when merged

![image](https://user-images.githubusercontent.com/2871786/110208881-8d36ec80-7e81-11eb-974d-d4cef67c6b0e.png)

[2021-03-06 16:16] #9604 closed

[2021-03-06 17:16] #15653 closed

[2021-03-06 17:16] #7680 closed

[2021-03-06 17:16] #7505 closed

[2021-03-06 17:47] elasticmachine commented on #24407
Pinging @elastic/agent (Team:Agent)

[2021-03-06 17:47] elasticmachine commented on #24405
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-03-06 17:52] elasticmachine commented on #24401
Pinging @elastic/integrations (Team:Integrations)

[2021-03-06 17:56] elasticmachine commented on #24392
Pinging @elastic/integrations (Team:Integrations)

[2021-03-06 18:16] #12491 closed

[2021-03-06 18:16] #12390 closed

[2021-03-06 18:16] #12170 closed

[2021-03-06 18:16] #14949 closed

[2021-03-06 18:16] #15259 closed

[2021-03-06 18:16] #15886 closed

[2021-03-06 18:16] #16363 closed

[2021-03-06 18:16] #15979 closed

[2021-03-06 18:16] #15879 closed

[2021-03-06 18:16] #15442 closed

[2021-03-06 18:16] #15447 closed

[2021-03-06 18:16] #14877 closed

[2021-03-06 18:16] #14895 closed

[2021-03-06 18:16] #15416 closed

[2021-03-06 18:16] #14860 closed

[2021-03-06 18:16] #15563 closed

[2021-03-06 18:16] #16567 closed

[2021-03-06 18:16] #14937 closed

[2021-03-06 18:16] #15161 closed

[2021-03-06 18:16] #15579 closed

[2021-03-06 19:16] #6134 closed

[2021-03-06 19:16] #4700 closed

[2021-03-06 19:16] #7027 closed

[2021-03-06 19:16] #5832 closed

[2021-03-06 19:16] #11468 closed

[2021-03-06 19:16] #11535 closed

[2021-03-06 19:16] #11935 closed

[2021-03-06 19:16] #11108 closed

[2021-03-06 19:16] #11313 closed

[2021-03-06 19:16] #12865 closed

[2021-03-06 19:16] #14188 closed

[2021-03-06 19:16] #12526 closed

[2021-03-06 19:16] #11864 closed

[2021-03-06 19:16] #11364 closed

[2021-03-06 19:16] #13707 closed

[2021-03-06 19:16] #14184 closed

[2021-03-06 19:16] #11972 closed

[2021-03-06 19:16] #11515 closed

[2021-03-06 19:16] #11056 closed

[2021-03-06 19:16] #13100 closed

[2021-03-06 19:16] #14148 closed

[2021-03-06 19:16] #11337 closed

[2021-03-06 19:16] #9687 closed

[2021-03-06 19:16] #10178 closed

[2021-03-06 19:16] #12668 closed

[2021-03-06 20:16] #6935 closed

[2021-03-06 20:16] #3315 closed

[2021-03-06 20:16] #9120 closed

[2021-03-06 20:16] #7962 closed

[2021-03-06 20:16] #6737 closed

[2021-03-06 20:16] #8411 closed

[2021-03-06 20:16] #5964 closed

[2021-03-06 20:16] #5415 closed

[2021-03-06 20:16] #7592 closed

[2021-03-06 20:16] #6296 closed

[2021-03-06 20:16] #6267 closed

[2021-03-06 20:16] #7482 closed

[2021-03-06 20:16] #6661 closed

[2021-03-06 20:16] #8296 closed

[2021-03-06 20:16] #7575 closed

[2021-03-06 20:16] #8934 closed

[2021-03-06 20:16] #6366 closed

[2021-03-06 20:16] #9259 closed

[2021-03-06 20:16] #5453 closed

[2021-03-06 20:16] #6827 closed

[2021-03-06 20:16] #8062 closed

[2021-03-06 20:16] #7158 closed

[2021-03-06 20:16] #5179 closed

[2021-03-06 20:16] #3114 closed

[2021-03-06 20:16] #6454 closed

[2021-03-06 20:16] #5227 closed

[2021-03-06 20:16] #5869 closed

[2021-03-06 21:16] #166 closed

[2021-03-06 21:16] #136 closed

[2021-03-06 21:16] #2309 closed

[2021-03-06 21:16] #2494 closed

[2021-03-06 21:16] #1798 closed

[2021-03-06 21:16] #1807 closed

[2021-03-06 21:16] #995 closed

[2021-03-06 21:16] #838 closed

[2021-03-06 21:16] #137 closed

[2021-03-06 21:16] #4335 closed

[2021-03-06 21:16] #8607 closed

[2021-03-07 21:32] sundarv85 commented on #16601
I'm having this issue where the root_fs and rw are 0 and I see this was fixed and reverted back - with this new issue now opened.

Will this be fixed?

[2021-03-07 22:56] matschaffer commented on #17359
Bump. This is still needed so we can remove some old troublesome ESS services.

[2021-03-08 02:16] liu-xiao-guo commented on #24274
If we compile a Go application, it actually runs the binary. It should not be related to runtime environment. There is no Go runtime environment.

[2021-03-08 08:17] #24327 closed

[2021-03-08 08:53] michalpristas commented on #24364
if this stack is up, can we allow debug logs of agent to get more info and also include metricbeat/filebeat logs as well?

[2021-03-08 09:45] mtojek commented on #24310
It seems that we moved forward with fixes for Agent. It fails now with:

[code]

Source: https://beats-ci.elastic.co/job/Ingest-manager/job/elastic-package/job/PR-273/7/artifact/build/elastic-stack-dump/stack/logs/elastic-agent.log

Is it something that has been fixed recently?

[2021-03-08 10:19] fdartayre opened #24412 "[Metricbeat] Autodiscover can only pick one host address"
**Describe the enhancement:**
If a Docker container is added to more than one network, Autodiscover will only pick [one of the host addresses](https://github.com/elastic/beats/blob/7.12/libbeat/autodiscover/providers/docker/docker.go#L277):
[code]
The result is `${data.host}` might be filled with a host address that is unreachable. The request is to add the network name in the variable`${data.host

[2021-03-08 10:31] exekias commented on #24143
💯  on this, can we perhaps split this issue in two? We need to update the dynamic providers framework to support providers fetching on demand + implement the `kubernetes_secrets` provider.

[2021-03-08 10:45] exekias commented on #21520
@ChrsMark this one looks important, we need to check for any breaking change sin ksm 2.0

[2021-03-08 10:45] rbr101 opened #24413 "unexpected expand_keys option in filebeat.inputs.0.processors.0.decode_json_fields"
Filebeat 7.11.1

We get an error when using the expand_keys option for the decode_json_fields: processor.
Config:

  processors:
    - decode_json_fields:
        fields: ["message"]
        target: ""
        process_array: true
        add_error_key: true
        overwrite_keys: true
        expands_keys: true

Error:
2021-03-08T11:39:00.180+0100    ERROR   instance/beat.go:971    Exiting: Faile

[2021-03-08 11:14] elasticmachine commented on #24412
Pinging @elastic/integrations (Team:Integrations)

[2021-03-08 11:23] michalpristas commented on #24364
i see the root cause of this
in the logs:
[code]

which is a known issue

hash of an agent is `84c4d4c` which tracks to Feb 4th
@blakerouse fixed the issue in `05adac7` Feb 11th.

So i guess this is expected and we can close this

[2021-03-08 12:20] narph commented on #24392
@tehho , can you provide us with an example of the event that is not being parsed in order to better reproduce the issue on our side?

[2021-03-08 12:31] dikshachauhan-qasource commented on #24255
Hi @EricDavisX

We have attempted to reproduce the above reported issue. however, was unable to reproduce the same.

Steps followed:
1. Created kibana cloud 7.10.2 and performed few scenarios like:
-  created new policy
-  installed windows agent
-  Switched agent to new policy.
2. Upgraded Kibana to 7.12
3. Installed new Mac Agent with policy having sys and endpoint [No observations were made for

[2021-03-08 12:31] dikshachauhan-qasource commented on #24344
Hi @EricDavisX

Thanks for the feedback.

We have performed above scenario in exploratory and couldn't find much test content related to RPM and deb agent upgrades in our test suite. And hence closing this out.

Thanks
QAS

[2021-03-08 12:31] #24344 closed

[2021-03-08 12:44] tehho commented on #24392
Microsoft.Resources/subscriptions/resourceGroups/delete
/SUBSCRIPTIONS/00000000-0000-0000-0000-000000000000/RESOURCEGROUPS/DEMO
Microsoft.Network/register/action
/SUBSCRIPTIONS/00000000-0000-0000-0000-000000000000/PROVIDERS/MICROSOFT.NETWORK
Microsoft.DomainRegistration/register/action
/SUBSCRIPTIONS/00000000-0000-0000-0000-000000000000/PROVIDERS/MICROSOFT.DOMAINREGISTRATION

Only some examples th

[2021-03-08 12:44] narph commented on #24292
@jmmcorreia , the problem is described right at the end of the error log
[code]
We map by default only the common fields we see appear in the platform logs as it would be a lot of work to map each property from each type of platform logs from each resource type.

It looks like the `lastError` field had initially a string/keyword value so it dynamically mapped  the `lastError` property type as a ke

[2021-03-08 13:21] ph commented on #24390
@EricDavisX I've assigned blake to this issue, but looking at @nchaulet's comment can we confirm this is actually the case?
@nchaulet the ~1 wait time is this due to an internal timer?

[2021-03-08 13:24] ph commented on #24364
@amolnater-qasource I would like to understand why these tests are done with 7.11 BC8 and not 7.11.1 that is released?

[2021-03-08 13:26] ph commented on #24255
I don't want to jump to quickly to a conclusion but this looks like a race or something similar to it. @jen-huang

[2021-03-08 13:27] ruflin opened #24415 "[Elastic Agent] Logs, metrics and status info for Fleet server"
Fleet server run by Elastic Agent should expose metrics, logs and status info. These should be collected in ES and visible in Fleet and dashboards.

As a Fleet operator, I need:
- [ ] Error logs to troubleshoot when Fleet server is not configured correctly or is not able to access Elasticsearch due to connectivity or authorization problems. https://github.com/elastic/beats/issues/23753 @mostlyjaso

[2021-03-08 13:27] elasticmachine commented on #24415
Pinging @elastic/agent (Team:Agent)

[2021-03-08 13:33] dikshachauhan-qasource commented on #24391
Hi @EricDavisX

We have validated above scenario on 7.12 BC3 staging cloud build and **was able to reproduce it**. Build details are as follows:

[code]

Screenshot:
![image](https://user-images.githubusercontent.com/72375798/110328011-c4073100-8040-11eb-8b5c-33fc2a6b70e1.png)

Please let us know if anything else is required.

Thanks
QAS

[2021-03-08 13:38] EricDavisX commented on #24364
Is the BC8 hash going to map to the 7.11.0 shipped hash since it was not re-built?  The question is a good one, but I think the fix (regardless) is probably 2-fold:
 - review tests we assign and processes on those to make sure that we usually use the latest patch release available for tests unless otherwise noted.  I'm not sure (can't think of any just yet) where we'd want to use the older 'initia

[2021-03-08 13:46] dikshachauhan-qasource commented on #24390
Hi @EricDavisX

We have performed this scenario again on 7.12 BC3 build and was not able to reproduce today. However, Agent logs as requested are:
[8marAgentlogs.txt](https://github.com/elastic/beats/files/6101713/8marAgentlogs.txt)

We can close this issue after your confirmation.

Thanks
QAS

[2021-03-08 14:02] elasticmachine commented on #24391
Pinging @elastic/agent (Team:Agent)

[2021-03-08 14:37] EricDavisX commented on #24255
@dikshachauhan-qasource hi - if you want to leave us the environment tomorrow it would be helpful, either way.  I think the problem we expect to see will come in during 7.12 side editing of policies.  If you can create say, 5 new policies in 7.10 just so we have a few to play around with after upgrading that would be helpful.  Thanks for the report today.  And since we had no luck reproducing yet,

[2021-03-08 14:43] blakerouse commented on #24274
@liu-xiao-guo Setting the CA in that YAML block in Kibana is only for elasticsearch output. Based on the logs from the issue description you are having communication issues with Agent talking to Kibana, not Agent talking to elasticsearch (at least doesn't seem it can even make it that far; you might still have an issue there).

So I we need to focus on the communication of Agent with Kibana. You c

[2021-03-08 15:18] cjm3625 opened #24420 "Filebeat AWS Module S3 input error queueURL is not in format"
Trying to use filebeat to monitor my AWS resources in ISO environment. It looks like the AWS standard endpoint is hard coded.

my filebeat.yml

Copy to clipboard
filebeat.inputs:
- type: s3
  queue_url: https://sqs.us-iso-east-1.c2s.ic.gov/#####/name
  visibility_timeout: 300s
Errors

Copy to clipboard
ERROR	[s3]	s3/input.go:93 Input 'S3' failed with: getRegionFromQueueURL failed: queueURL is not

[2021-03-08 16:00] #24331 closed

[2021-03-08 16:39] EvanGertis commented on #21351
@kaiyan-sheng
[code]

[2021-03-08 16:46] ph commented on #24143
@exekias Concerning timeline, would that mean that we would require changes in the framework to support fetching on demand or the first version of the k8s store will fetch all secrets? I am trying to understand the how the implementation will look like.

[2021-03-08 17:07] exekias commented on #24143
I think we require the changes, loading all secrets doesn't sound like a good idea

[2021-03-08 17:10] elasticmachine commented on #24420
Pinging @elastic/integrations (Team:Integrations)

[2021-03-08 19:06] willemdh opened #24428 "Azure Secure Score"
A Metricbeat module / dataset that would allow indexing Azure's Secure Scores would be awesome, see https://discuss.elastic.co/t/a-way-to-index-azures-secure-scores/263042/2

[2021-03-08 19:33] Rockso commented on #17165
I'm running auditbeat 7.10.1 and have recently enabled the socket module and have also noticed that auditbeat reports incorrect process information for some socket flow events periodically.  I've noticed that this is more noticeable on hosts with a high amount of network activity occurring.

Has this issue gained any traction since April of last year?

[2021-03-08 20:30] epsilon-jpage commented on #9292
This is absolutely ridiculous the X-Forwarded-For field is not supported in IIS.  I need to use grok patterns in Logstash because this isn't there and it's essentially double work every time I update my agents.

[2021-03-08 21:03] elasticmachine commented on #24428
Pinging @elastic/integrations (Team:Integrations)

[2021-03-08 21:12] andresrc commented on #24413
Please check for typos (e.g. `expands_keys` in the provided sample) and identation.

[2021-03-08 21:12] #24413 closed

[2021-03-08 22:01] leehinman commented on #22856
We currently use a tag of "forwarded" to control if host info is
disabled:

https://github.com/elastic/integrations/blob/19c8c76a3f04ba9a02e61d8c693bd87cd5c3dcfd/packages/okta/data_stream/system/agent/stream/httpjson.yml.hbs#L41

This "feels" similar, we could use a tag to represent
"preserve_original_event".

We don't have to use tags, but either way I think it would be nice to
have one way in wh

[2021-03-08 22:27] jen-huang commented on #24255
I was finally able to reproduce the `null` fields/empty default values issue locally. It is the same as what is reported here: https://github.com/elastic/kibana/issues/89829#issuecomment-793127415.

Moving this to Kibana repo. I'll add more details around the circumstances when I put up a fix.

[2021-03-09 00:58] travisestill opened #24430 "File_integrety module shows inconsistent convention when the file path is the root."
Please include configurations and logs if available.

For confirmed bugs, please report:
- Version: 7.11.1 and earlier (7.8.x)
- Operating System: Verified on RHEL7.9 3.10.0-1160.11.1.el7.x86_64 and Ubuntu 20.04.2 LTS

- Steps to Reproduce:

1. Configure the file integrity module path either as `- /` or `- `
eg:
[code]
or
[code]

2. Create a file in the root.

**Expected:**
The file.path field ref

[2021-03-09 01:40] andrewkroh commented on #22856
I like the idea of making it easy to reindex data from event.original.

With our pipelines all expecting the original value to be contained in `message`, using `_reindex` won't work as expected since the `message` value taken from _source will be the modified non-original value. It would be nice if Filebeat always set `event.original` rather than `message`. I guess pipelines could be made to use `

[2021-03-09 05:30] amolnater-qasource commented on #24364
Hi @EricDavisX and @ph
We always pick last patch version for such scenarios. This time we randomly used a lower version of BC that is 7.11.0 BC-8.
However as per feedback we have revalidated this issue with **7.11.1 release agent** and found this issue **reproducible**.

**Test Cases link:**
[Validate user is able to upgrade standalone agent on windows x64 zip](https://elastic.testrail.io/index.ph

[2021-03-09 07:53] michalpristas commented on #24364
<img width="858" alt="image" src="https://user-images.githubusercontent.com/1522652/110436692-d1f69980-80b4-11eb-83f8-bfe5b37d9d7e.png">
fix still was not present in tested version, included a day later (in the picture first commit by blake is a fix and last one is what was used)

[2021-03-09 08:09] tbmxp opened #24434 "How can the method applySchemaToEvent handle with custom schema?"
**Describe the enhancement:**
In schema package, applySchemaToEvent can convert the collected data to publishing events. The schema is defined in the codes, for instance I use elasticsearch metric module to collect the ES cluster/node metrics(x-pack not used yet), I just modify the statsPath in the codes to collect the statistics metrics which I really need. But, applySchemaToEvent method report e

[2021-03-09 08:38] liu-xiao-guo commented on #24274
@blakerouse Thanks for your reply. My configuration is like:
![image](https://user-images.githubusercontent.com/8455957/110441955-50732b80-80f5-11eb-9fe2-ff1f50cd9780.png)

and my command for connecting kibana is:
.\elastic-agent.exe install -f --kibana-url=https://192.168.0.4:5601 --enrollment-token=cjJaSzEzY0J6cjB1bzA2VElrbGc6RDhKUzRMRDNSb0MtZXBvOU9ZcVZsZw==

By the way, I have installed the sel

[2021-03-09 10:01] jsoriano commented on #22718
Added to the description an events sequence observed by @ChrsMark when investigating similar issues with init containers.

[2021-03-09 10:38] jmmcorreia commented on #24292
Thanks for helping me @narph

I tried to check the `lastError` field mapping, but couldn't find any info. First I tried this request:

`GET /my-azure-logs-index/_mapping/field/lastError`
That gave me the following answer:
[code]

Then I tried `GET /my-azure-logs-index/_mapping` and could not find any mention to `lastError` in the response. I also had a look at the index pattern fields and cannot f

[2021-03-09 10:43] kaiyan-sheng commented on #21351
@EvanGertis Could you give me an example of what `${VPC_FLOW_LOGS_SQS}`, `${ELB_SQS}` and `${CLOUDTRAIL_SQS}` look like please? I suspect this is related to https://github.com/elastic/beats/issues/24420.

[2021-03-09 11:28] elasticmachine commented on #24430
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-03-09 12:54] #24434 closed

[2021-03-09 13:00] mukeshelastic commented on #24267
@exekias Are you able to confirm the benefits of this feature?  Is it more than what I stated in above comment?

[2021-03-09 13:16] #14821 closed

[2021-03-09 13:17] exekias commented on #24267
Your statement is accurate @mukeshelastic. I would say leader election is not a blocker / must-have.

It's still a desirable feature to fit in when we have solved the main parts, as in our experience, the extra Deployment needed causes confusion and complicates the architecture.

[2021-03-09 14:41] ph commented on #24054
It could be different templates or a single template with conditionals.

[2021-03-09 14:53] EricDavisX commented on #23596
while this is a pain, I think it is ok to fix it in 7.13 cycle - @ph you agree?

[2021-03-09 15:30] michalpristas commented on #24150
can we verify this got fixed by fix above?

[2021-03-09 15:34] mitchelldavis44 commented on #22501
Bump, any update on this?

[2021-03-09 15:39] EricDavisX commented on #24364
I asked Michal to help confirm the above statement... it is showing that the fix did NOT make it into the actual 7.11.1 build, so the problem is expected.  We can re-test with the 7.11.2 and expect it to work and then close this issue out.  @dikshachauhan-qasource and @amolnater-qasource thank you so much, sorry for the lack of clarity on the fix inclusion.

[2021-03-09 15:46] urso commented on #24054
tl'dr; from an UX perspective I would assume that inputs and templates are configured in a similar manner.

I would prefer the UX of templates to be similar to inputs. No special configuration namespace or provider. Creating a template is an alternative way for an input author to define a new (more abstract) input type.

Same experience to inputs also implies that we should not have the `vars`, bu

[2021-03-09 15:48] #24284 closed

[2021-03-09 15:49] ChrsMark commented on #23876
Following the context of #24054 an example could be the following.

For metrics:

`elastic-agent.yml`
[code]

`templates.d/redis.yml`
[code]

where `${kubernetes.config}` (map type) will be dynamically created by `kubernetes` provider taking the annotations into consideration accordingly.

For logs:
`templates.d/container_logs.yml`
[code]

@blakerouse do you think we can support having `${kubernet

[2021-03-09 15:52] P1llus commented on #22856
I agree with both as well, just to try to sum it up:

- Change is only to be applied to packages, this includes all packages from both Observability and Security.
- This does not include special packages like endpoint and APM.
- The field to be used to preserve the event, is `event.original`.
- Instead of copying `message` to `event.original`, for reindex purposes the pipelines should be rewritten

[2021-03-09 16:02] andrewkroh commented on #22856
Then I think this discussion should be happening in in `elastic/integrations`. Can you transfer this issue over to there.

[2021-03-09 16:16] #16458 closed

[2021-03-09 16:54] EricDavisX commented on #24150
@dikshachauhan-qasource @amolnater-qasource hi, can you help @deepikakeshav-qasource test it out on BC3?  Thanks

[2021-03-09 17:16] #16856 closed

[2021-03-09 17:37] michalpristas commented on #24364
it should be present in 7.11 snapshot as well in case 7.12.2 is too distant

[2021-03-09 18:30] elasticmachine commented on #22572
Pinging @elastic/integrations (Team:Integrations)

[2021-03-09 18:37] #23672 closed

[2021-03-09 19:06] ph commented on #24143
@ChrsMark Please reach out to us and we can help you figuring out  the changes for the framework.

[2021-03-09 19:16] ph commented on #24310
@mtojek Looking at the comments and the reference this is not an issue anymore?

[2021-03-09 19:16] #24310 closed

[2021-03-09 19:22] nchaulet opened #24447 "[Fleet] Support POLICY_REASSIGN action"
## Description

Block https://github.com/elastic/kibana/pull/94116

To simplify how we handle policy reassign in Fleet Server, we are introducing a new action `POLICY_REASSIGN` when an agent get that action it should ack the action and will get the new policy during next checkin

currently the unknown handler get that action but that handler do not ack the action it is a bug? @blakerouse  @michalp

[2021-03-09 19:22] elasticmachine commented on #24447
Pinging @elastic/fleet (Team:Fleet)

[2021-03-09 19:36] nchaulet opened #24448 "[Fleet] Support fleet server in the agent policy"
## Description

We need to allow the fleet server url to be configured in the agent policy, the same way the kibana url was configured before.

I suggest we use the following format in the agent policy similar to kibana and ES
[code]

Note we are currently able to test the Fleet server with agent by using the Kibana url but's it's kind of hacky

[2021-03-09 19:36] elasticmachine commented on #24448
Pinging @elastic/fleet (Team:Fleet)

[2021-03-09 19:45] hbharding commented on #24448
Just to clarify, is this something we'll need designs for in the UI, or API only?

[2021-03-09 19:48] nchaulet commented on #24448
For the UI it will be the part in the settings where the user configure the fleet server url

[2021-03-09 20:05] elasticmachine commented on #24448
Pinging @elastic/agent (Team:Agent)

[2021-03-09 20:06] ph commented on #24448
@nchaulet I've adjusted the label, this is agent work and not fleet UI work.

[2021-03-09 20:07] elasticmachine commented on #24447
Pinging @elastic/agent (Team:Agent)

[2021-03-09 20:18] blakerouse commented on #24448
[code]

Is reserved for the Elastic Agent running the Fleet Server locally. I think we should make the keys top-level in the fleet block:

[code]

[2021-03-09 20:20] nchaulet commented on #24448
So this will be better?

[code]

[2021-03-09 20:21] blakerouse commented on #24448
Yes

[2021-03-09 20:32] blakerouse commented on #24054
@ph That is a good point, I never thought of that as an option. I would say to start we should not support that, but maybe in the future it would be even more powerful if we did. But for now if a template includes an `type: template/` it would cause Elastic Agent to error.

[2021-03-09 20:46] blakerouse commented on #23876
I think that the idea here is correct but the variables are not accurate. In the basic form the idea is correct, but does bring the question is it possible for a single pod to multiple integrations? I think enabling multiple would ad more complexity and probably is not needed as it would make setting up the labels more complicated and confusing.

I think the following would be more accurate:

[cod

[2021-03-09 20:55] #24144 closed

[2021-03-09 21:48] mtojek opened #24453 "Elastic Agent: expecting Dict and received *transpiler.Key for '0'"
Stack version: 7.13.0-SNAPSHOT

While enabling the fleet server in https://github.com/elastic/elastic-package/pull/279 , I encountered the following issue:

[code]

Seems that the agent can't pick up any policy?

cc @blakerouse @michalpristas

[2021-03-09 21:48] elasticmachine commented on #24453
Pinging @elastic/agent (Team:Agent)

[2021-03-09 22:11] eddieturizo opened #24454 "Provide facility within Heartbeat/Uptime to monitor application state/status"
**Describe the enhancement:** Provide facility within Heartbeat to monitor application state/status.

**Describe a specific use case for the enhancement or feature:** From a predetermined list of processes, check and report application state (up, degraded, down) over a scheduled time interval.

[2021-03-10 07:58] erionsina commented on #4333
anyone found a solution for this case?

[2021-03-10 08:01] geekpete opened #24457 "provide a "lenient mode" option or parameter for headers in the Metricbeat http module to cater for rfc non-compliant endpoints"
**Describe the enhancement:**

Provide a configurable lenient mode to allow non-compliant http endpoints to be monitored, where today they cannot be monitored due to the strict/RFC compliant mode that http module requires.

The example here is RFC compliance around not requiring HTTP headers to be case sensitive, but this general leniency idea might also be extended to other common compliance fail

[2021-03-10 08:03] elasticmachine commented on #24454
Pinging @elastic/uptime (Team:Uptime)

[2021-03-10 08:07] elasticmachine commented on #24457
Pinging @elastic/agent (Team:Agent)

[2021-03-10 08:16] #24268 closed

[2021-03-10 08:20] #24272 closed

[2021-03-10 08:50] idlecloud opened #24462 "filebeat use wrong of kafka as input"
func (input *kafkaInput) runConsumerGroup(
	context context.Context, consumerGroup sarama.ConsumerGroup,
) {
	handler := &groupHandler{
		version: input.config.Version,
		outlet:  input.outlet,
		// expandEventListFromField will be assigned the configuration option expand_event_list_from_field
		expandEventListFromField: input.config.ExpandEventListFromField,
		log:                      input.log,

[2021-03-10 09:35] exekias commented on #23876
Nice, It looks like we have a path forward here!. @ChrsMark it would be good to also explore how we would be mapping the stdout/stderr streams to different datastreams in the integration. I guess things should be possible but wonder if we may find issues to enable/disable them just based on annotations.

[2021-03-10 10:31] mtojek opened #24467 "Elastic-Agent: failed: could not decode the response, raw response: no matching action"
I'm trying to enable the Fleet Server in https://github.com/elastic/elastic-package/pull/279 (7.13.0-SNAPSHOT):

I wanted to assign a new policy clicked out with Kibana:
- fleet_server
- system

The agent can't pick it up:

[code]

... although the UI reports that it's healthy.

<img width="1252" alt="Zrzut ekranu 2021-03-10 o 11 30 07" src="https://user-images.githubusercontent.com/14044910/11061

[2021-03-10 10:31] elasticmachine commented on #24467
Pinging @elastic/agent (Team:Agent)

[2021-03-10 11:05] narph commented on #22501
I was able to reproduce the issue using a portable DVD writer, looks like the `GetVolumeInformationW` win32 api doesn't handle well these types of ephemeral devices. When the CD-ROM is empty then the function returns `Device not ready` error.
I've created an initial PR to make sure we ignore these devices if this error is encountered https://github.com/elastic/gosigar/pull/159.

[2021-03-10 11:56] #23585 closed

[2021-03-10 12:23] valeraf23 opened #24470 "[Metricbeat] Why I get the error network io counters: open /hostfs/proc/net/dev: no such file or directory"
I am getting these errors in metricbeat logs:
![localhost_9200_metricbeat-___search_pretty - Google Chrome 2021-03-10 14 27 39](https://user-images.githubusercontent.com/6804802/110629694-254c1300-81ad-11eb-9d0f-13341ee12fbc.png)

[code]
**docker-compose.yml**
[code]

**metricbeat.yml**

[code]

  **system.yml**

[code]

[2021-03-10 12:27] andresrc commented on #24328
@v1v is this failing consistently?

[2021-03-10 12:33] ChrsMark commented on #23585
So after some investigation on https://github.com/elastic/beats/pull/24380, we end up to change how we handle `kubernetes.container.image` field. Before the change this field was set in `kubernetes.container.image` and `container.image.name` programatically. This means that both fields are stored. With the use of alias though (at  #24380) we only store `container.image.name` and then we can refer

[2021-03-10 12:43] ruflin commented on #24467
What you mean by assign a new policy? Do you have 2 policies and you tried to assign a different policy to the Elastic Agent with the fleet-server?

[2021-03-10 13:03] deepikakeshav-qasource commented on #24150
Hi @EricDavisX

We have validated this ticket on 7.12.0 BC4 On-Prem build and observed that issue is **Fixed**. Agent is displaying in "Healthy" state on Windows OS.

**Build Details:**
[code]

**Screenshot:**
![Agent](https://user-images.githubusercontent.com/61860752/110628152-c8f6ec80-81c8-11eb-8557-90a59e0e3f1f.jpg)

**Logs**
[elastic-agent-json.log](https://github.com/elastic/beats/files/6115

[2021-03-10 13:03] #24150 closed

[2021-03-10 13:23] urso opened #24472 "Document Component Template support"
PR https://github.com/elastic/beats/pull/21212 did introduce support for component templates. Although the setting is documented in the reference configurations, it is missing from the Documentation.

[2021-03-10 13:23] elasticmachine commented on #24472
Pinging @elastic/agent (Team:Agent)

[2021-03-10 13:55] blakerouse commented on #24467
Changing an Agent to a different policy is something still being worked on #24447. As for adding a new integration to the Fleet Server policy, that part should work.

I assume the Agent that is hitting this issue is also the one running the Fleet Server?

[2021-03-10 14:10] mtojek commented on #24467
Yes, the standard setup with embedded Fleet Server: https://github.com/elastic/elastic-package/pull/279/files

[2021-03-10 14:16] #15424 closed

[2021-03-10 14:27] ChrsMark commented on #23876
Thanks @blakerouse ! Just to note that most probably `${kubernetes.config}` (or whatever named) map should be created programmatically by the `kubernetes` provider, based on the values of the annotations, so as to provide more flexibility implementation wise.

[2021-03-10 14:32] #24173 closed

[2021-03-10 14:39] simitt opened #24475 "[elastic agent] avoid duplicate entries in actions array"
Adding an invalid package to the policy where the Agent enrolls, resulted in duplicate `action_id` entries in the actions array. The array was growing on every retry & failure.

While it _shouldn't_ happen that an invalid package is added, the actions array should not grow with duplicate entries.

## How to reproduce

1. Set up an Elastic Agent + Fleet Server and enroll to default policy
2. Add an

[2021-03-10 14:52] ycombinator commented on #24136
The impact here (from a Beats perspective) is on the `kibana` Filebeat module. It will need to be enhanced to read the new format of Kibana logs while also being able to read the legacy format (for the period that both formats are supported). Then, at some future point, the module can be changed again to remove support for the legacy format.

@lukeelmers what's the plan for Kibana logs through the

[2021-03-10 15:06] ph commented on #24054
@blakerouse Yes, it might be powerful, I'll refer to @exekias and @ChrsMark if they see a user case for it. Also until we support we could probably fake it with some tooling that generate the integration.

[2021-03-10 15:08] ph commented on #24054
@faec There is a lot to unpack in the issue, maybe we should have a kickoff?

[2021-03-10 15:14] ferullo opened #24477 "[BUG] Unable to upgrade Endpoint via Agent"
I am unable to upgrade Endpoint via Agent from 7.11.2-SNAPSHOT to 7.12.0-SNAPSHOT.

Steps to reproduce
* Deploy a 7.12.0-SNAPSHOT Stack
* Enroll a 7.11.2-SNAPSHOT Agent on Windows 10 x64 with test signing enabled
* Add Endpoint Security Integration
* See Agent and Endpoint deploy successfully. `elastic-agent.exe version` shows 7.11.2-SNAPSHOT. `elastic-endpoint.exe version` shows 7.11.2-SNAPSHOT
*

[2021-03-10 15:29] EricDavisX commented on #24390
Can we re-test on BC4 and on other Windows hosts please to feel better that this was not a consistently enough bug we'll see?  @amolnater-qasource @dikshachauhan-qasource thank you

[2021-03-10 15:56] toddferg opened #24478 "o365 Module + Logstash/kafka"
- Version: 7.11.0
- Operating System: na
- Steps to Reproduce:
Right now when using the o365 module, and using the message field (which is for the email subject etc, and sending the data to logstash to then be sent to elasticsearch logstash grabs the entire message field as the payload, and does not get the information from the email.

Right now the workaround is to rename the field from message t

[2021-03-10 15:56] elasticmachine commented on #24478
Pinging @elastic/agent (Team:Agent)

[2021-03-10 15:57] lukeelmers commented on #24136
@ycombinator @sayden The short answer is that there are duplicate log entries (one in new & one in old format).

The deprecation strategy looks like this:
- We are marking Kibana's legacy logging configuration options as deprecated starting in 7.13
- Legacy config options will continue to work until 8.0, but a deprecation warning will be logged prompting the user to update to the new config
- Once

[2021-03-10 16:04] lukeelmers commented on #24136
One other thing to add: The new logs will be ECS compliant after we address https://github.com/elastic/kibana/issues/90406, so hopefully that makes things easier 🙂

[2021-03-10 16:16] #14944 closed

[2021-03-10 17:16] #16817 closed

[2021-03-10 17:18] ycombinator commented on #24136
Thanks for all the details, including sample log snippets, @lukeelmers — super helpful!

@sayden let me know if you have any questions!

[2021-03-10 17:40] tonholis commented on #20315
I tried to use both `co.elastic.monitor/urls` and `co.elastic.monitor/hosts` but I couldn't make it to work. The heartbeat is not discovering the app with the annotations.

Note: I'm testing it in minikube on osx.

Suggestions?

heartbeat logs
[code]

_myapp with annotations:_
[code]

_heartbeat deployment_
[code]

[2021-03-10 17:42] EricDavisX commented on #24173
When the 7.12 backport PR is merged we can test it out there - it did not make BC4 fyi

[2021-03-10 18:38] mrebeschini opened #24479 "Okta Integration in Filebeat 7.11.1 is Broken - Works in 7.10.2"
- Version: 7.11.1
- Operating System: Amazon Linux 2
- Steps to Reproduce:

1. Enable the Okta module in Filebeat. Configuration file looks like the following (API key was redacted):
[code]
We have verified that the API key is correctly working using a curl command like the following:
[code]

2. We get the following error when running `filebeat -e`:
[code]
We have verified that the issue does not

[2021-03-10 18:40] untergeek commented on #24018
#24479 appears to be a duplicate

[2021-03-10 18:41] untergeek commented on #24479
Duplicate of #24018, and it is fixed in newly released 7.11.2

[2021-03-10 18:41] #24479 closed

[2021-03-10 19:42] EricDavisX commented on #24364
@amolnater-qasource @dikshachauhan-qasource this is testable now with the 7.11.2 artifact, can you re-run the test and confirm please?

[2021-03-10 19:59] nchaulet commented on #24448
Also as part of this is issue we should probably support `--fleet-server-url` during the enrollment

[2021-03-10 20:22] blakerouse opened #24484 "[Elastic Agent] [Docker] Provide away to use a custom CA for communication"
Currently with running Elastic Agent inside of Docker provides no way to inject a CA for communication with either Kibana, Fleet Server, or Elasticsearch.

Should add the following environment variables:

* `ELASTICSEARCH_CA` - Path to CA for communication with Elasticsearch.
* `KIBANA_CA` - Path to CA for communication with Kibana.
* `FLEET_CA` - Path to CA for communication with Fleet Server.

[2021-03-10 20:22] elasticmachine commented on #24484
Pinging @elastic/agent (Team:Agent)

[2021-03-10 20:27] blakerouse opened #24485 "[Elastic Agent] Updating policy with updated Kibana should ensure communication is possible before updating the fleet configuration"
At the moment Elastic Agent updates its `fleet.yml` with the Kibana connection information from the policy. Elastic Agent currently doesn't verify that it can actually communicate with the new connection information before setting that as the new client and writing it to the `fleet.yml`.

If Elastic Agent cannot communicate back to Kibana with that information, then the policy should fail and shou

[2021-03-10 20:28] blakerouse commented on #24274
Okay I can confirm that this does work with custom CA and certs. I have been able to get Elastic Agent running with self-signed certificates and custom CA.

I did hit a few issues that would improve this and need fixing, but nothing stops this from actually working.

#24484
#24485

Going to close this issue as I have it fully working.

[2021-03-10 20:28] #24274 closed

[2021-03-10 21:08] EricDavisX commented on #24477
@ph @andresrc fyi.  I submit it is 'high' impact and if the fix is well understood and not too impactful that we could try to pick it up in 7.12.  Michal is reviewing.

Also, of the 3 'BUG' statements that Dan passed along, I submit we use this ticket only to fix the first, the core 'upgrade' did not happen for endpoint bug.  The other 2 are related feature / bugs about the Health of Agent and rel

[2021-03-10 21:34] blakerouse commented on #24448
@nchaulet Elastic Agent already supports that, its just `--url {url}`.

[2021-03-10 21:38] fearful-symmetry commented on #14351
@narph Do we know if or how similar metrics are present on windows? On linux, these metrics are coming from the kernel.

[2021-03-10 21:50] peasead opened #24487 "[Filebeat] Dashboards for Threat Intel Module"
**Describe the enhancement:**
Adding a saved search, visualizations, and dashboards to the Threat Intel Filebeat module.

**Describe a specific use case for the enhancement or feature:**
Threat hunting, security operations, and intelligence analysis.

[2021-03-11 03:00] EricDavisX commented on #24477
I reproduced this with a Win 10 host.  Interestingly, I first tried a win 7 host, and it worked just fine.

Here are some more logs if helpful:
[logs.zip](https://github.com/elastic/beats/files/6120071/logs.zip)

Separately, on an 8.0 system I tried an upgrade from 7.11 to 8.0 and it failed, but Michal mentioned it seemed a different failure, haha.

[2021-03-11 07:38] amolnater-qasource commented on #24364
Hi @EricDavisX
We have revalidated this issue with 7.11.2 standalone agent installed on 7.12.0 BC-4 Kibana cloud environment and found it **fixed**.

**Observations:**
- Observed System data under Data Streams tab.

**Screenshot:**
![1](https://user-images.githubusercontent.com/77374876/110751415-d7e1ab80-8269-11eb-8039-fda3fc0db085.JPG)

**Build details:**
Build: 39242
Commit: 99ac38d70e426f589bb

[2021-03-11 07:38] #24364 closed

[2021-03-11 09:05] exekias commented on #24054
+1, the way I'm thinking about this is: Templates allow us to encapsulate complex config, and expose them through a small set of parameters. Ideally, no matter the scenario, you could use the same template just by adjusting these parameters, @ChrsMark outlined how this could look https://github.com/elastic/beats/issues/23876#issuecomment-794074001, note for example how the input type can be change

[2021-03-11 09:11] #12641 closed

[2021-03-11 09:22] ChrsMark opened #24495 "Add complete k8s metadata through composable provider"
At https://github.com/elastic/beats/pull/21480 the base of the kubernetes provider was implemented.

We need to ensure that we add the proper amount of metadata via the provider. For instance at https://github.com/elastic/beats/blob/d6310ab189752b47280bacc97768d96098bc2515/x-pack/elastic-agent/pkg/composable/providers/kubernetes/kubernetes.go#L144 we add the following:

`kubernetes.namespace`
`kub

[2021-03-11 09:22] elasticmachine commented on #24495
Pinging @elastic/integrations (Team:Integrations)

[2021-03-11 09:25] ChrsMark opened #24496 "Add more resources in kubernetes composable provider"
At https://github.com/elastic/beats/pull/21480 the base of the kubernetes provider was implemented.

We need to also add support for other resources like `node` and `service`.

Related to https://github.com/elastic/beats/issues/24495#issuecomment-796594505

cc: @exekias @masci

[2021-03-11 09:25] elasticmachine commented on #24496
Pinging @elastic/integrations (Team:Integrations)

[2021-03-11 09:27] exekias commented on #24496
I remember @blakerouse added priority support with this in mind: https://github.com/elastic/beats/pull/22352

[2021-03-11 11:25] michalpristas commented on #24477
i was lucky to reproduce this issue but funny thing is it's not 100% reproducible.
access denied is not on endpoint directory but on the tmp directory created by our installer used for unpacking zip files then this is renamed and moved to correct path.

this part was not modified, we added an awaiting layer recently which waits for whole unpack, copy to be finished but i think this was present for

[2021-03-11 11:27] mtojek opened #24503 "elastic-agent docker: support healthcheck for the container"
With the Fleet Server enabled in the agent's Docker container, we need to find a way to signal that the container is healthy. Before 7.13.0-SNAPSHOT we used the following healthcheck: https://github.com/elastic/elastic-package/blob/master/internal/install/static_snapshot_yml.go#L85

Do you have any recommendation how to signal that the container is healthy - it has a default policy assigned? Do yo

[2021-03-11 11:27] elasticmachine commented on #24503
Pinging @elastic/agent (Team:Agent)

[2021-03-11 12:18] dikshachauhan-qasource commented on #24390
Hi @EricDavisX

Thank you for the feedback.

And we have revalidated above on 7.11bc4 environment and found it not reproducible.

Build details are as follows:
[code]

Hence closing this out.

Thanks
QAS

[2021-03-11 12:18] #24390 closed

[2021-03-11 12:28] dikshachauhan-qasource commented on #24173
Hi @EricDavisX

Thanks for the confirmation on above. we will validate above in next coming BC's to follow up on the above reported.

Thanks
QAS

[2021-03-11 12:35] jsoriano commented on #20321
Hey @EthanStrider, thanks for reporting, and sorry for the late reply.

I have found this problem while working on https://github.com/elastic/integrations/pull/747, and I think that this is related to how postgresql logs statements.

It has two ways of doing it, that can be configured with the following options:
* `log_statement = 'all'`
* `log_min_duration_statement = 0`

When statements are logg

[2021-03-11 12:36] jsoriano commented on #14337
It seems important to document the expectations related to `log_statement` and `log_min_duration_statement` options: https://github.com/elastic/beats/issues/20321#issuecomment-796704902

[2021-03-11 12:50] elasticmachine commented on #24487
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-03-11 12:52] #24470 closed

[2021-03-11 12:54] jsoriano commented on #20321
Well, it seems that with `log_duration = 'on'` the duration of all queries is logged, but without the statement. In these cases the dashboard could still be useful and `postgresql.log.query` would be empty.

[2021-03-11 12:54] elasticmachine commented on #24462
Pinging @elastic/agent (Team:Agent)

[2021-03-11 13:01] jsoriano commented on #22085
If this is helpful in this case, I think this kind of filters could be helpful in the dashboards of many other modules. We might consider adding filters like these ones to all dashboards.

With agent/fleet and data streams we could even query directly to `logs-postgresql.*` in postgresql dashboards. @ruflin do you know if this is something we are already doing or considering to do?

I don't think

[2021-03-11 14:25] EricDavisX commented on #24477
if we feel confident in the changes we could always merge 8.0 master if we think it won't break anything worse - and then we can test with 'real' 8.0 artifacts from Infra snapshots.

[2021-03-11 14:53] #24484 closed

[2021-03-11 15:17] EricDavisX commented on #24173
@dikshachauhan-qasource can you install the 7.13 snapshot stack (self-managed or in cloud-staging) and test this out there?  If Agent installs ok and logs seem ok, that is enough for now.  I don't think we have to wait to see logs rotated to feel good that the change is working, the lack of error message in the logs will be enough.  I'm going to chat with team about pushing the 7.12 PR in, it has

[2021-03-11 15:35] blarosen95 commented on #24124
I've encountered the same issue on a TZ500. At first, the issue presented alongside the Sonicwall events in ELK not being broken down into fields. What I have done has resolved the latter part but some events do still have a field called "flags" with the dissect parsing error value, however even these events are being broken down into fields  just fine now.

What I did to get this far was changing

[2021-03-11 18:14] EricDavisX commented on #24274
Thanks so much @blakerouse .  @liu-xiao-guo if you have problems we can research where it isn't documented well enough and add tickets to elastic/observability-docs (if not logged already) to improve it.

[2021-03-11 18:34] EricDavisX commented on #24249
I see via email that PH confirmed we can lower the priority on this - I'll note, getting this fixed soon still is a good priority!  It is ok if it doesn't make 7.12 though, but if the fixing pr isn't impactful it might be worth fixing and backporting to 7.12

[2021-03-11 19:28] pjmorr commented on #9442
This has been working for me as well on UniFi Dream Machine Pro.  I just have to learn where to look for logs on that platform.
Perhaps they will include the link once they have documentation for that platform? who knows.  But God bless whomever was involved in the CI/CD process to spit out an arm build.

[2021-03-11 20:37] anderssonjohan commented on #22501
Whohoo, that's awesome @narph! Great work! 🙏

[2021-03-11 20:48] mrebeschini opened #24516 "Validate/Publish Integration with Sophos Central"
Sophos Central is the Unified Console for managing hosted Sophos products. All the prospects I worked with that wanted to evaluate the Sophos data integration are using Sophos Central, showing that this is a popular log source.

Sophos published [Sophos Central SIEM Integration](https://github.com/sophos/Sophos-Central-SIEM-Integration), a Python scripts that pulls logs using the Sophos Central AP

[2021-03-12 00:42] #24485 closed

[2021-03-12 16:42] inqueue commented on #24478
The bug is here: https://github.com/elastic/beats/blob/1d9cced55410003f5d0b4594ff5471d15a4e2900/x-pack/filebeat/module/o365/audit/config/pipeline.js#L295.

The best workaround I have found is to edit `pipeline.js` in the Filebeat installation directory replacing `message` with something better like `subject` since the field actually represents the subject field of an email and not the message-- it

[2021-03-12 17:16] #16964 closed

[2021-03-13 00:10] hp0620 opened #24528 "[DOCS] Enhancement Request: Add Configuration guide for beats and logstash pods autodiscover"
**Describe the enhancement:**

Currently, the [documentation guide on Autodiscover](https://www.elastic.co/guide/en/beats/metricbeat/7.10/configuration-autodiscover.html#_kubernetes) settings provides some sample configurations on `redis`, `kubernetes`, `prometheus` modules for the **kubernetes** provider.

Since there will be use cases where users would like to pull metrics from filebeat, logstas

[2021-03-13 00:18] elasticmachine commented on #24528
Pinging @elastic/obs-docs (Team:Docs)

[2021-03-13 11:05] zez3 opened #24529 "golang vulnerability affecting beats?"
Hello beats go coders,

I just wanted to raise some awareness regardin a new vulnerability that could possibly affect(DoS) beats listening for incoming ssl communication.

https://nvd.nist.gov/vuln/detail/CVE-2020-7919

https://stack.watch/product/golang/go/

https://access.redhat.com/security/cve/cve-2020-7919
"A remote attacker could exploit this by supplying a crafted x.509 certificate, or othe

[2021-03-13 14:09] jackwang713 opened #24530 "Packetbeat: Same flow with different flow ID records"
See Pictures Below，Same flow with different flow ID records.
Src/Dst MAC,Src/Dst IP, Src/Dst port, all the same.  Even the  network.community_id is the same
packetbeat.yml:

packetbeat.interfaces.device: enp0s29f7u1
packetbeat.interfaces.type: af_packet
packetbeat.interfaces.buffer_size_mb: 1024
packetbeat.interfaces.with_vlans: false
packetbeat.flows:
  enabled: true
  timeout: 60s
  period: 30s

[2021-03-13 21:43] lazywebm commented on #9442
For everyone who might be looking to keep filebeat up to date on armhf Raspbian, I wrote a small script [1] which creates a deployable armhf .deb file from the latest arm64 filebeat release.
It doesn't need user input, and I was able to successfully deploy the resulting filebeat-release-armhf.deb on my RPis.
The script itself has been tested on current Ubuntu / Debian amd64 systens.

[1] https://g

[2021-03-14 11:42] cdalexndr opened #24531 "[filebeat] doesn't work with docker local logging driver"
For confirmed bugs, please report:
- Version: 7.10.1
- Operating System:  docker
- Discuss Forum URL:
- Steps to Reproduce:

docker-compose service with:
[code]
Without the above setting, logs are parsed fine.

filebeat.yml:
[code]

[2021-03-14 12:10] cdalexndr commented on #24531
Tried using:
[code]
But parsing fails:
`ERROR   [reader_docker_json]    readjson/docker_json.go:204     Parse liINFOrrorlog/harvester.go:335amp:Skipping" as "2006"err►�������■→�☺2021-03-14T12:04:45.567Z      INFO`

Is local logging driver not supported?

[2021-03-14 12:14] cdalexndr commented on #24531
Just found https://docs.docker.com/config/containers/logging/local/:
`The local logging driver uses file-based storage. The file-format and storage mechanism are designed to be exclusively accessed by the Docker daemon, and should not be used by external tools as the implementation may change in future releases.`

[2021-03-14 12:14] #24531 closed

[2021-03-14 15:12] felix-lessoer commented on #2073
@andrewkroh @ruflin
Any update on this? Already open for multiple years..

[2021-03-15 06:47] amolnater-qasource opened #24533 "[Self-managed stack]: Agent shows up unhealthy after upgrading from [v7.12.0 Snapshot to 8.0 Snapshot]."
**Kibana version:** Kibana: 8.0 Snapshot Kibana self-managed stack environment

**Host OS and Browser version:** Windows 10, All

**Build Details:**
[code]

**Preconditions:**
1. 8.0 Snapshot self-managed stack environment should be available.
2. 7.12.0 Snapshot agent must be installed with default policy having System and Endpoint Security integrations.

**Steps to reproduce:**
1. Login to Kibana

[2021-03-15 06:48] amolnater-qasource commented on #24533
@manishgupta-qasource Please review.

[2021-03-15 06:48] elasticmachine commented on #24533
Pinging @elastic/fleet (Team:Fleet)

[2021-03-15 08:07] arnitolog opened #24534 "zstd support for Kafka output"
**Describe the enhancement:**
It will be really good to have zstd in between Filebeat and Kafka. And it looks like https://github.com/Shopify/sarama/issues/1252 already solved, which unblocks zstd compression implementation in Kafka output.
What else needs to be done to have zstd compression as an option for Kafka output?

[2021-03-15 08:43] manishgupta-qasource commented on #24533
Reviewed & Assigend to @EricDavisX

[2021-03-15 10:07] elasticmachine commented on #17341
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-03-15 10:13] kuisathaverat commented on #22572
we need the Elastic Agent helm chart to our PoC with Otel so we have started to make a couple of Helm charts based on the k8s deployment at https://github.com/elastic/beats/tree/master/deploy/kubernetes/elastic-agent-standalone and https://github.com/elastic/beats/tree/master/deploy/kubernetes/elastic-agent , the PR with the helm chart is WIP at https://github.com/elastic/observability-robots/pull

[2021-03-15 10:26] elasticmachine commented on #24530
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-03-15 10:29] jamiehynds commented on #24516
Hey @mrebeschini - thanks for submitting the issue. Would love to add your integration to our supported integrations, and convert to a package for us with Elastic agent. Would you mind creating a PR and we can perform reviews of the pipeline, ECS mappings, etc within that PR?

[2021-03-15 10:29] elasticmachine commented on #24516
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-03-15 11:00] zez3 commented on #24529
@Team:security :p

[2021-03-15 11:33] dikshachauhan-qasource commented on #24173
Hi @EricDavisX,

Thanks for the update.

Further, we have validate above on 7.13 snapshot build and didnot found it reproducible there. Hence **working fine on 7.13 snapshot.**

**Observations:**
- No error message: "failed to rotate backups" was displayed on endpoint while running install command.

**Screenshot:**
![image](https://user-images.githubusercontent.com/72375798/111113968-96624080-8588

[2021-03-15 12:08] dikshachauhan-qasource commented on #24533
Hi Eric

We have performed same scenario on 7.13 snapshot Could build and found it not reproducible.

Observations:
- Agent upgraded successfully from Kibana UI from v7.12BC4 to 7.13 snapshot.
- All binaries are in running state [filebeat, metricbeat and endpoint]
-  Data streams available after upgrade.
- Host is visible under Security>admin tab.

Screenshot:
![image](https://user-images.githubus

[2021-03-15 13:06] urso opened #24538 "Agent must restart Beats when output is changed"
In libbeat the unit tests for updating the output dynamically have been disabled due to flakiness. It seemed like events get lost when updating the output. Inputs that rely on end-to-end ACK (especially in Filebeat) might not receive all ACKs for published events, or the bookeeping might bet out of sync if the outputs loose events. At worst this can lead to a deadlock (local to single inputs) in F

[2021-03-15 13:06] elasticmachine commented on #24538
Pinging @elastic/agent (Team:Agent)

[2021-03-15 13:08] ph commented on #24538
Ok, I didn't know there were disabled? This mean this issue is there for quite some time, IIRC we made changes to fix a mem leak for the output reloading.

@urso Not sure we can easily restart on output changes, do you think the bug is fixable or we need to do major refactoring to make it work?

[2021-03-15 13:23] ruflin commented on #24054
Agree, it would be great if we can keep all of it in a single template and I think there are multiple options to achieve this like the one outlined by @ChrsMark I suggest we go down this path for now until it breaks.

[2021-03-15 13:57] urso commented on #24538
We (@ycombinator and me) did spend quite some time on it in the past, but still didn't find the cause. So we have had to disabled the tests. I don't think there is a quick and easy solution in libbeat as we are looking for a race condition that only shows every now and then in CI (I didn't manage to reproduce it locally).

[2021-03-15 14:37] jsoriano commented on #7438
Closing, please reopen if this happens again and/or there is more information about the settings used to generate these logs.

[2021-03-15 14:37] #7438 closed

[2021-03-15 14:42] sanjeevsharma-1 opened #24540 "Unable to export logs from AKS cluster to kibana for specific pods"
We are using filebeat.yaml configuration(which is similar to https://github.com/elastic/beats/blob/master/deploy/kubernetes/filebeat/filebeat-daemonset.yaml) to migrate or export all the logs from AKS cluster to Kibana and till date everything works fine for React, Node, Python and .NET Core applications.

We have recently started using Lenses SQL processor, which in turn creates a pod in our AKS

[2021-03-15 14:52] lucabelluccini opened #24541 "[DOCS] Metricbeat Elasticsearch module - Warn we should point to the current master elected when testing"
**Describe the enhancement:**

Document the fact:
- All the nodes must be specified in the list of hosts
- Explain that when testing it, we should point to the current master elected node of the cluster or the cluster will not show up in the stack monitoring.

At least at the page:
- https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-module-elasticsearch.html

**Describe a specifi

[2021-03-15 14:52] elasticmachine commented on #24541
Pinging @elastic/obs-docs (Team:Docs)

[2021-03-15 15:21] elasticmachine commented on #24534
Pinging @elastic/agent (Team:Agent)

[2021-03-15 15:23] ycombinator commented on #24540
Hi @sanjeevsharma-1, we use GitHub issues for confirmed bugs and enhancements. For questions such as this one, please post them on our discussion forums at https://discuss.elastic.co/.

[2021-03-15 15:23] #24540 closed

[2021-03-15 15:24] elasticmachine commented on #24529
Pinging @elastic/agent (Team:Agent)

[2021-03-15 15:24] elasticmachine commented on #24529
Pinging @elastic/fleet (Team:Fleet)

[2021-03-15 15:36] ph commented on #24538
@blakerouse or @michalpristas Is what @urso is proposing doable?

[2021-03-15 16:13] EricDavisX opened #24544 "[Agent] When a macOS host did an OS update and rebooted, Agent did not come back on-line"
7.12 BC4 Cloud based Kibana / stack and Elastic Agent deployed to the Endgame VPN on a mac host
 - we can work to see if we can reproduce the OS upgrade from a specific host, and see about alternate ways to reproduce (like if just rebooting a host could work?)

 Charlie had seen this and can confirm version of mac host.

to reproduce (afaik):
install Agent + set it with a policy that includes Endp

[2021-03-15 16:13] elasticmachine commented on #24544
Pinging @elastic/agent (Team:Agent)

[2021-03-15 16:26] charlie-pichette commented on #24544
I am closing this as a non-issue.  The VM did not restart due to an issue with macOS and vSphere.  The agent could not get back online because the host operating system failed to start.  The OS failure is a known issue with macOS and vSphere.

[2021-03-15 16:26] #24544 closed

[2021-03-15 16:29] EricDavisX commented on #24544
oh! I mis-understood the slack note - thanks so much for closing it out. cheers

[2021-03-15 16:49] stuartnelson3 opened #24545 "Add `unsigned_long` as supported type"
**Describe the enhancement:**
Currently, libbeat doesn't support the use of `unsigned_long` types:

https://github.com/elastic/beats/blob/master/libbeat/mapping/field.go#L125-L149

It is, however, a supported numeric field type: https://www.elastic.co/guide/en/elasticsearch/reference/7.11/number.html

**Describe a specific use case for the enhancement or feature:**
We're adding field definitions i

[2021-03-15 16:49] elasticmachine commented on #24545
Pinging @elastic/integrations (Team:Platforms)

[2021-03-15 18:36] jsoriano commented on #22085
I have checked now and this is actually done in several dashboards, but not in many of them.

I think it may worth to add it to the ones missing it, even if it is solved in agent with the use of data streams.

[2021-03-15 18:41] joshbressers commented on #24529
Hi @zez3

Thanks for reporting this

It looks like this affects goang versions before 1.13.7. The version of Go used by beats was upgraded to 1.13.7 in Beats 7.6.0

If I'm missing something please feel free to reopen this issue

[2021-03-15 18:41] #24529 closed

[2021-03-15 19:57] EricDavisX commented on #24477
We are looking forward to testing in 7.12 BC5.  @dikshachauhan-qasource and team are aware.

[2021-03-15 20:05] EricDavisX commented on #24477
this is a duplicate to the other known issue:
https://github.com/elastic/beats/issues/24477

it is merged, but the overall snapshot build is failing since March 11 (when this was merged) so it makes sense why it is not picked up there yet.  last passing build:
https://internal-ci.elastic.co/view/Unified%20Release%20-%20snapshot/job/elastic+unified-release+master+distributed-snapshot-multijob-maste

[2021-03-15 20:07] EricDavisX commented on #24533
this is a duplicate to the other known issue:
https://github.com/elastic/beats/issues/24477

it is merged for 8.0 (and 7.13 as well), but the overall snapshot build is failing for master line since March 11 (when this was merged) so it makes sense why it is not picked up there yet.  last passing build:
https://internal-ci.elastic.co/view/Unified%20Release%20-%20snapshot/job/elastic+unified-release

[2021-03-15 20:07] #24533 closed

[2021-03-15 22:29] ParveenBhardwaj commented on #11866
This might be helpful
https://www.elastic.co/guide/en/beats/filebeat/current/ilm.html

[2021-03-15 23:07] zhaoyi0113 opened #24553 "period doesn't work as configured."
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2021-03-16 05:38] newly12 opened #24554 "new openmetrics types are not supported for prometheus module"
**Describe the enhancement:**

support new openmetrics types

**Describe a specific use case for the enhancement or feature:**

take prometheus java library as example, since [0.10.0](https://github.com/prometheus/client_java/releases/tag/parent-0.10.0) there are new openmetrics types supported, as metricbeat sends the header to accept openmetrics format [by default](https://github.com/elastic/bea