[2020-09-03 13:04] simitt commented on #13177
@urso we recently got a bug report related to this issue (https://github.com/elastic/apm-server/issues/4068). Are there any plans for working on this?

[2020-09-03 13:13] simitt commented on #13177
as pointed out by @andrewkroh, there is no level in the [sarama StdLogger interface](https://github.com/Shopify/sarama/blob/2b9c5932132b34a9c59ad6475c08ff17fc7d71bc/sarama.go#L106);
some limited error specific check already happens in beats for differentiating between level `info` and `warning` https://github.com/elastic/beats/blob/78e481d541796ad572ec28d0f4324701fc54aec7/libbeat/outputs/kafka/log

[2020-09-03 13:16] blakerouse commented on #20781
The processors will be prepended to the user/package defined list of processors.

[2020-09-03 14:20] elasticmachine commented on #20961
Pinging @elastic/integrations (Team:Integrations)

[2020-09-03 14:29] fearful-symmetry commented on #20961
Yah, I agree that this isn't really ideal behavior. We should have a separate "disk sleep" or "io wait" state.

[2020-09-03 14:39] kaiyan-sheng commented on #20951
@jsoriano Could you point to me where is the terraform code? My suspicion is: we have a sleep/check waiting for the new created EC2 instance running but we don't check if this EC2 instance actually pushes metrics into CloudWatch yet before we start Metricbeat. Thank you!

[2020-09-03 15:04] jsoriano commented on #20951
@kaiyan-sheng scenario started in CI is the one in `./x-pack/metricbeat/module/aws/terraform.tf`. I think the only instance it starts is the one for the database.

[2020-09-03 16:28] jsoriano opened #20967 "Flaky prometheus remote write system test"
## Flaky Test

* **Test Name:** `metricbeat/module/prometheus/test_prometheus.py::TestRemoteWrite::test_remote_write`
* **Link:** https://github.com/elastic/beats/blob/9807eb15e5b65cb2cefd337e90c20d5fc357936e/metricbeat/module/prometheus/test_prometheus.py#L88
* **Branch:** Seen in master and several branches.
* **Notes:** Seems to timeout waiting for output, happening since a couple of days ago (

[2020-09-03 16:28] elasticmachine commented on #20967
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-03 18:18] jrykowski-huron opened #20970 "DOCUMENTATION versus functionality mismatch for logging.selectors: ["publish"] should be logging.selectors: ["publisher"]"
Various online documentation pages refer to "publish" selector, however at least for 7.9.0 filebeat (where tested) that **value needs to be "publisher**".   for example https://www.elastic.co/guide/en/beats/filebeat/current/configuration-logging.html#selectors
and also https://www.elastic.co/guide/en/beats/filebeat/master/filebeat-reference-yml.html

[2020-09-03 18:35] ph commented on #19814
@nchaulet Can you check if we have the required backend work for this?

[2020-09-03 18:58] nchaulet commented on #19814
We support the user to give `user_provided` metadata during the enrollment.

But currently we do not support to use metadata variable in the agent policy, also currently the agent policy is the same for all the agent so replacing variable Kibana side will potentially have a huge performance impact.

[2020-09-03 19:26] ph commented on #19814
I think, `user_provided`  meta data would be OK for filtering. @blakerouse I think you had an idea for the host metata and I believe you have created an issue?

[2020-09-03 19:35] YemaneZewdu opened #20971 "Setting up beat.hostname in Metricbeat"
I am super new to these concepts, I apologize if this is a silly thing. I am trying to visualize Metricbeat data on Grafana with Elasticsearch data source, all running locally, but unable to find where "beat.hostname" is added in Metricbeat config.

I have the latest version of both Grafana and Metricbeat and am following this [article.](https://fabianlee.org/2017/01/15/grafana-connecting-to-an-el

[2020-09-03 19:58] dedemorton commented on #20637
This looks like a product bug, not a documentation bug. The documented configuration works correctly on Metricbeat. Since the output settings for all the beats are essentially the same, I would expect them to use the same config syntax.

[2020-09-03 20:44] kaiyan-sheng commented on #20951
@jsoriano Thank you!! Do we have a sleep timer or check to make sure the instance is up and running and reporting metrics to CloudWatch at somewhere else?

[2020-09-04 04:26] sophiaxu8 opened #20972 "[Filebeat] Filebeat AWS module cloudtrail fileset not skip the digest log"
- Version: 7.9.0
- Operating System:
- Discuss Forum URL:
- Steps to Reproduce:

Currently the path of cloudtrail is as follows:
source_vpc -> s3 -> SNS -> SQS -> filebeat -> elasticsearch

There are  some errors related to the cloudtrail digest log in filebeat log:
[code]
As mentioned in the document for [filebeat AWS module cloudtrail fileset ](https://www.elastic.co/guide/en/beats/filebeat/curr

[2020-09-04 06:48] 928234269 opened #20974 "how to use container environment variables as filebeat fields When filebeat is deployed with daemonset."

[2020-09-04 06:58] 928234269 commented on #20974
Team:Filebeat

[2020-09-04 07:35] kvch commented on #20637
@dedemorton is correct, it is a product problem if the configuration snippets in the reference doc pages do not work in this case.

@nerophon What is the exact configuration which leads to issues? None of the configurations you have shared is supposed to work with Beats.

The supported configurations are the following:
[code]

[code]

[2020-09-04 08:26] #20974 closed

[2020-09-04 08:27] elasticmachine commented on #20972
Pinging @elastic/siem (Team:SIEM)

[2020-09-04 08:28] #20971 closed

[2020-09-04 08:31] elasticmachine commented on #20961
Pinging @elastic/integrations-services (Team:Services)

[2020-09-04 08:32] v1v commented on #11927
Ivan did work on this sometime ago and delete a bunch of those jobs

[2020-09-04 08:32] #11927 closed

[2020-09-04 08:57] exekias commented on #20961
+1 on this change (should not it's a breaking change we should document). Any thoughts on where to put the `D` state? `uninterruptible sleep` sounds very specific, `Waiting` could be a good candidate with the proper docs

[2020-09-04 09:33] elkargig commented on #20961
I wonder whether it makes sense to keep the term "idle" as it is and warn about deprecating it in a future release, and at the same time introduce 2 new terms for 'D' and 'I' states as new ones.

Short term:
'D' -> Idle++ & Waiting++
'I' -> Idle++ & Kernel_idle++

Long term:
'D' -> Waiting++
'I' -> Kernel_idle++

That would prevent breaking people's visualizations in the short term but also provid

[2020-09-04 10:02] jsoriano commented on #20951
@kaiyan-sheng I think the terraform scenario waits till the instance is up and running (it takes some time to complete the db instance), but I don't think it explicitly waits to have metrics in CloudWatch. If we need to wait for that maybe we need to do it in the test, with some timeout.

Other thing that could be happening is that ec2 instances created for db instances don't report the same Cloud

[2020-09-04 10:24] hazcod commented on #19712
I have the exact same issue @Bernhard-Fluehmann

[2020-09-04 10:46] jsoriano opened #20982 "Container id not included in Kubernetes events"
Generated events coming from kubernetes don't contain the container id, neither on `kubernetes.container.id` nor on `container.id`. Tried with autodiscover templates, hints and `add_kubernetes_metadata`, with Metricbeat and Filebeat, at least since 7.7.0.

Container id is available in autodiscover events as templates containing `container.id` variables are correctly working.

Reported in a discuss

[2020-09-04 10:46] elasticmachine commented on #20982
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-04 13:40] narph opened #20985 "Move azure `compute_vm_scaleset` to a light metricset and map `cloud.instance.id`"
Move azure `compute_vm_scaleset` to a light metricset and map `cloud.instance.id`

[2020-09-04 13:40] elasticmachine commented on #20985
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-04 14:23] kaltman opened #20988 "Add support for different Azure Cloud environments in Metricbeat"
Metricbeat Azure module currently does not have an option to override the resource manager endpoint or the active directory endpoint.

Example:
Attempting to use Metricbeat Azure module against Azure Govcloud results in:

`
failed to retrieve resources: azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for request to https://management.azure.com/subscriptions/{SUBSCRIPTION_ID}/

[2020-09-04 14:50] leehinman commented on #20972
Adding Prefix AWSLogs/$AWS_ACCOUNT_ID/CloudTrail/ to the S3 notification will make it so only notifications for the CloudTrail logs are sent to the SQS queue and processed by Filebeat.

For some this may not work because there are too many AWS_ACCOUNT_IDs that are writing to the same S3 bucket.

[2020-09-04 15:21] fearful-symmetry commented on #20961
I'd prefer to use the names used by Linux, which seems to be either "disk wait" or "uninterruptible sleep." "Disk wait" sounds a little less ominous though.

[2020-09-04 15:27] threat-punter opened #20990 "Request to update the Azure Filebeat module pipeline for parsing Azure activity logs"
**Describe the enhancement:**

The Azure Filebeat module is currently not parsing the field name `azure.activitylogs.properties.result` as `event.outcome`. Can this be updated please? I'm not that familiar with the Beats code, but I think the code below needs to be updated.

https://github.com/elastic/beats/blob/44e281f0985648e5cbc2a9e509178060736dd2ee/x-pack/filebeat/module/azure/activitylogs/ing

[2020-09-04 15:33] jsoriano opened #20991 "Add metadata of deployment controlling pods"
**Describe the enhancement:**

Currently Beats are adding metadata about the kubernetes resource controlling the monitored resource. In the case of pods created by deployments, the resource controlling the pod is actually a replica set, that is controlled by the deployment. Beats add the metadata about the replica set (e.g. the `kubernetes.replicaset.name` field), but not about the deployment.
Use

[2020-09-04 15:33] elasticmachine commented on #20991
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-04 16:16] elasticmachine commented on #20457
Pinging @elastic/integrations-services (Team:Services)

[2020-09-04 16:18] andresrc commented on #20457
Hi @gabriellandau ! Sorry for the late response, it seems some of the bots did not trigger and we lost this one in the triage. Did you find the same issue with any of the later 7.9 BCs or 7.9.1? Thanks

[2020-09-04 16:27] dedemorton commented on #20637
@kvch I think Nicholas was shortening the example to show the parts that didn't work. I checked in 7.9, and the configuration that you show works on Metricbeat, but does not seem to work on Filebeat unless you use `parameters.pipeline` instead of `pipeline`. I see old forum posts and GitHub issues going back to 2016 about a similar problem, so I wonder if this is some kind of regression (https://g

[2020-09-04 17:06] kvch commented on #20637
@nerophon I cannot reproduce the issue locally. Could you please share more details e.g. exact configuration in a separate issue?

[2020-09-04 17:51] elasticmachine commented on #20988
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-04 17:52] gabriellandau commented on #20457
I haven't been looking for the issue.  @narph reached out to me a few weeks back, and I provided her with a memory dump.  Hopefully the memory dump will indicate the source of the growth.

[2020-09-04 18:28] blakerouse commented on #19814
Both me and @ruflin believe this should be handled by a provider. See elastic/uptime#251.

[2020-09-04 18:53] mtojek commented on #20849
Found a similar error (and solution) for APM: https://www.elastic.co/guide/en/apm/server/master/common-problems.html#server-resource-exists-not-alias

[2020-09-04 19:51] bhoskins7 commented on #20988
I'm curious is their a short term workaround to change the endpoint to something other than public azure endpoint in metricbeat?

[2020-09-04 19:59] mdelapenya opened #20992 "Stand-alone agent: it's not possible to get agent documents from elasticsearch"
- Version: 8.0.0-SNAPSHOT
- Operating System:
    - Centos, Dockerised, using the official Stand-Alone image
    - Redhat UBI 8, using the official Stand-Alone image for UBI

# Steps to Reproduce
1. Start the elastic stack (ES, Kibana and Package Registry) with docker-compose (I attached a compose file reproducing it: [bug.zip](https://github.com/elastic/beats/files/5176705/bug.zip)
1. Let the age

[2020-09-04 19:59] elasticmachine commented on #20992
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-05 06:34] elasticmachine commented on #20990
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-05 10:08] jsoriano opened #20996 "Support running Auditbeat and Elastic Agent docker images without root"
In general it makes more sense to run Auditbeat and Elastic Agent as root. Most of Auditbeat functionality requires high privileges, and Elastic Agent has capabilities to start and supervise other services, including Auditbeat, so it also requires these privileges. Endpoint probably also require high privileges.

For that, docker images use `USER root`, but this goes against generally accepted goo

[2020-09-05 10:08] elasticmachine commented on #20996
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-05 10:08] elasticmachine commented on #20996
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-05 10:08] elasticmachine commented on #20996
Pinging @elastic/siem (Team:SIEM)

[2020-09-05 11:40] P1llus commented on #20990
I can add this on Monday/Tuesday if no one has picked it up yet

[2020-09-05 14:19] #7277 closed

[2020-09-05 17:51] threat-punter commented on #20990
I'm really interested to see how it's done @P1llus 🙂

[2020-09-06 08:14] P1llus commented on #20990
It seems like this is not following their documented schema here: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log-schema

It should indeed be result_type that stores that information. I will add a addition that adds it based on result only if event.outcome is not already populated by result_type (seeing as it is not available in your event that should be okay).

[2020-09-06 09:02] P1llus opened #20997 "Ensuring pytest catches pipeline errors"
Would be nice to know what you think about this one @jsoriano .

With both pytest and nosetest there has been one small change in need that I hope would be easy to implement, and that is the possibility for it to catch "HTTP Code 400" returned by Elasticsearch when running test_modules or test_xpack_modules.

For each module that is tested, before ingesting the test files and comparing it with the

[2020-09-06 11:35] jsoriano commented on #20997
Hey @P1llus,

This would be actually a nice enhancement :slightly_smiling_face:

These tests for modules are implemented here: https://github.com/elastic/beats/blob/65ddc49cd4bcb63bb0252f5d70872137baa51fc7/filebeat/tests/system/test_modules.py#L101

There is no separated process to install the pipelines, they are installed by Filebeat when it needs it.

To improve this situation you would need to

[2020-09-07 06:47] ruflin opened #21000 "[Elastic Agent] Allowlist / Blocklist for inputs an Agent supports with Fleet"
When an Agent is run with Fleet, today any input that is supported by a package can be run. But there are cases where the administrator of the Agent itself would like to limit the type of inputs that can be run. Few examples:

* An agent should only be used for heartbeat pings
* An agent should not be allowed to run endpoint
* An endpoint should only be used to collect system metrics but not logs

[2020-09-07 06:47] elasticmachine commented on #21000
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-07 06:59] ruflin opened #21001 "[Elastic Agent] Disable upgrade capability of Agent"
With https://github.com/elastic/beats/issues/20205 Fleet will be able to upgrade an Agent. But not in all cases upgrade of Agents should be enabled. Some examples:

* Agent running Docker should be upgraded through the container
* Agent administrator wants to use his own tooling for upgrade
* Agent does not have the permissions, no root.

[2020-09-07 06:59] elasticmachine commented on #21001
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-07 09:21] kuisathaverat commented on #20888
It is taking more than 5 min to make the `git clean -fdx`

[code]

[2020-09-07 09:33] EugRomanchenko commented on #20752
Any news about this bug? A small addition about the problem. We are using the Filebeat OSS version (We rolled it back to version 7.6.2. The bug was checked on all versions released after 7.6.2.). AWS Elasticsearch version 7.7 acts as the recipient of the logs.

[2020-09-07 11:06] #20888 closed

[2020-09-07 11:27] #20754 closed

[2020-09-07 12:09] #20384 closed

[2020-09-07 12:09] #19915 closed

[2020-09-07 12:10] sorantis commented on #20936
That's true, such cases will exist and will need custom naming. I see those as exceptions from the general rule.

The plural form with this specific case of `storage_accounts` stemmed from the namespace name itself, no other reason :)

[2020-09-07 14:43] naveenkumarsp commented on #20692
i am experiencing the same after i have upgraded the deployment from 7.8.1 to 7.9.0 in elastic cloud

[2020-09-07 14:54] gavinelder opened #21010 "Osquery module pipeline support for Remote TLS server log collection."
**Describe the enhancement:**

The following is a proposed extension of `filebeat/module/osquery/result/ingest/pipeline.json` to override/extend certain fields to better support use cases where osquery logs are collected by a central TLS server such as https://github.com/kolide/fleet or https://github.com/mwielgoszewski/doorman.

**Describe a specific use case for the enhancement or feature:**

In

[2020-09-07 17:14] yogeek commented on #20723
@ChrsMark In the example you provided, the `${NODE_NAME}` is in the provider directly included under `filebeat.inputs`.
In my case (autodiscover), your example has the `${NODE_NAME}` under the `type: kubernetes` provider only...
Should I set it both under the `type: kubernetes` autodiscover provider and under the `add_kubernetes_metadata` processor ?

[code]

[2020-09-07 19:59] elasticmachine commented on #21010
Pinging @elastic/siem (Team:SIEM)

[2020-09-08 06:56] ChrsMark commented on #20723
Hi! The example shows a complete `add_kubernetes_metadata` processor definition, more specifically line 17 refers to `host`. In general, I would suggest to define `host` to both places. And please have a look into the logs to check for errors or messages that indicate anything related.

[2020-09-08 07:35] yogeek commented on #20723
Hi @ChrsMark ! I added the `host: ${NODE_NAME}` first to both places and then only under the `add_kubernetes_metadata` field and both are working great to solve my issue.
Here are the errors 5xx graph where you can see the errors present when the `host` is missing and no more error after the `host` has been added :

![image](https://user-images.githubusercontent.com/9500406/92446290-e6b1ad80-f1b5-

[2020-09-08 07:35] #20723 closed

[2020-09-08 08:19] #13464 closed

[2020-09-08 08:33] xhofk00 commented on #20404
Hello,

yes, it really doesn´t work. I found a way to run the elastic agent in a different way:

1. ./install-service-elastic-agent.ps1
2. open app Services, there should be newly added 'elastic-agent'. Status of 'elastic-agent' is Stopped.
3. restart computer
4. open app Services. Status of 'elastic-agent' is Running
5. enroll agent '.\elastic-agent enroll http://localhost:5601 xxxxxxxxxxxxxxxx -

[2020-09-08 09:23] LucaWintergerst commented on #13589
in case anyone needs a quick fix when using k8s, until we have a proper solution for the different scenarios. This replaces the `host.name` field with the value of `kubernetes.node.name` :
[code]

[2020-09-08 10:13] elasticmachine commented on #11603
Pinging @elastic/integrations-services (Team:Services)

[2020-09-08 13:19] #13385 closed

[2020-09-08 13:31] ph commented on #20992
@michalpristas Can you take a look, it is a regression or the asserts is incorrect?

[2020-09-08 13:43] ironknight78 commented on #18377
Hi there! Is anybody working on this issue currently? I'd like to investigate this further

[2020-09-08 13:48] blakerouse opened #21019 "[Elastic Agent] Install/uninstall subcommand"
## Overview

With the new self-upgrading Elastic Agent work, installation/uninstallation of Elastic Agent needs to be adjusted. This issue documents the work to be done to add 2 new sub-commands `install` and `uninstall`.

## DEB/RPM Packaging & Docker

DEB/RPM packaging and Docker images will not support auto-upgrading. The fact that they cannot be upgraded will be reported to Fleet. Standard DEB

[2020-09-08 13:48] elasticmachine commented on #21019
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-08 13:58] ChrsMark commented on #18377
@ironknight78 I don't think there is anything in progress regarding this, so if @maver1ck has no strong objection you can take this, thanks!

[2020-09-08 14:23] ironknight78 commented on #18377
Oh yeah! what you think @maver1ck  ? I'd be happy to help you there.

[2020-09-08 14:53] ph commented on #21019
@urso @ruflin @roncohen @mostlyjason   Might want to have to opinion on this, we did discuss this strategy a long time ago and I must confess I was not OK with it. But now, I believe its the right thing to simplify the use case by limiting our options.

[2020-09-08 14:55] ph commented on #21019
Adding @exekias @andresrc too.

[2020-09-08 15:44] jsoriano opened #21020 "Add event rate quota per Cloud Foundry organization"
**Describe the enhancement:**

Add some kind of event rate quota per Cloud Foundry organization, to allow to dropping events once some limit is reached.

There is an issue about adding throttling in general (https://github.com/elastic/beats/issues/17775), but this may require many more changes.
In the case of Cloud Foundry we could add the rate limit per organization in the specific input.

Add a

[2020-09-08 15:44] elasticmachine commented on #21020
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-08 16:42] adriansr opened #21021 "Metricbeat couchbase module fails to decode some fields"
For confirmed bugs, please report:
- Version: 7.8.1
- Operating System: n/a
- Discuss Forum URL: n/a
- Steps to Reproduce:

Couchbase version is 6.5.2.

The following errors appear in the log:

[code]

Related #18949

[2020-09-08 16:43] elasticmachine commented on #21021
Pinging @elastic/integrations-services (Team:Services)

[2020-09-08 16:58] EricDavisX opened #21023 "[Fleet] Tests for the Agent restructure / symlink work"
In this PR we had some test questions, since it is closed I'd like to open an issue for testing and automation work and track it here:
https://github.com/elastic/beats/pull/20400#issuecomment-688492552

@michalpristas can you make sure any changes that break the e2e-testing are fixed?

@rahulgupta-qasource we can use this as a running tally of questions + tests.  I'll seed the list with what quest

[2020-09-08 17:00] elasticmachine commented on #21023
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-08 17:17] ph commented on #21023
The upgrade / rollback scenario aren't implemented yet, its still a work in progress.

[2020-09-08 18:27] EricDavisX commented on #20992
it would be good to know the state of the Metricbeat / Filebeat processes at that point during the test, it seems likely they are not in proper working order.

It is regression from prior success in the 7.9 and 8.0 branches that test stand-alone mode.  I've run the test locally and see the failure.  I'll poke into the containers now and report back

[2020-09-08 18:32] ph commented on #21019
@EricDavisX @mdelapenya FYI, this will have an impact in how we are doing the e2e testing in the context of upgrade / upgrades.

[2020-09-08 18:38] ph commented on #20996
@blakerouse Can you do a follow up with @jsoriano on the required changes for the Elastic Agent?

[2020-09-08 18:39] ph commented on #20996
@jsoriano Do Packetbeat have the same problems?

[2020-09-08 19:00] EricDavisX opened #21025 "[Fleet] Agents are intermittently showing as off-line in Kibana Fleet"
[Fleet] - Agents are reported as going off-line as seen in Kibana Fleet, I'm seeing lots of timestamps in the Agent Activity log with the same time.  Is it somehow expected?  Seems strange.  Some screenshots are below...

 - found on latest deployed 8.0 snapshot.  maybe its fixed already, i know that snapshots had been broken for a few days.  I'm going to drop a quick ticket in with repro steps so

[2020-09-08 19:00] elasticmachine commented on #21025
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-08 19:15] ph commented on #21025
@nchaulet Could it be linked to the performance changes we did?

[2020-09-08 19:52] nchaulet commented on #21025
It could be linked yes looks like the same events are send again and again, maybe the change I made to have a timeout of 5 minutes is not working here.

[2020-09-08 20:06] nchaulet commented on #21025
Just did a test against https://kibana.endpoint.elastic.dev/ and my agent is well reported as online

<img width="1243" alt="Screen Shot 2020-09-08 at 4 03 07 PM" src="https://user-images.githubusercontent.com/1336873/92522505-d1a44100-f1ec-11ea-8379-18baa6fec07f.png">

@EricDavisX Do you know how those agents are runned? somewhere on server running as a service?

[2020-09-09 00:20] EricDavisX commented on #21025
I do know!  our wiki page at /display/DEV/Endpoint+and+Ingest+Nightly+Dev+Demo+Server has details.
for now you can look at the siem team repo:
https://github.com/elastic /siem-team/blob/master/cm/ansible/roles/deploy-agent/tasks/linux-main.yml

it will show something like this in ansible:

`- name: Create install directory
  file:
    path: "{{ install_dir_linux }}"
    mode: "0755"
    state: dir

[2020-09-09 00:20] nerddelphi commented on #20991
It’ll be great!

[2020-09-09 00:23] EricDavisX commented on #21025
also @nchaulet if you used a 7.8 Agent its totally cheating. :) Can we confirm again and keep researching with a full 8.0 env?  Its helpful to know tho that the older Agent works, it means the problem is indeed maybe on the Agent side.

[2020-09-09 00:46] EricDavisX commented on #21019
Thanks PH.  @blakerouse can you coordinate with me and @mdelapenya and @matthagenbuch the specifics of what we'll want to know so we can update both of the siem-team and the e2e-testing repos wrt Agent deploy.  I'd like to confirm what I understand, please correct whats wrong and help fill in:
 - we're getting rid of .deb and .rpm packages entirely, they will not be shipped for Elastic Agent any l

[2020-09-09 01:45] nchaulet commented on #21025
Got a repro locally with a timeout, my bad I did not check with @michalpristas or @blakerouse what is the timeout for the request checkin, @michalpristas how complicated it is to modify the timeout for the checkin request? (it's set to 5 minutes on kibana side).

[code]

[2020-09-09 02:19] #13566 closed

[2020-09-09 08:18] jsoriano commented on #20996
Nop, it is not using `USER root`.

Though it doesn't start unless `--privileged` is used :thinking:
[code]

We should find a consistent solution for containers requiring privileges.

[2020-09-09 08:27] jsoriano opened #21032 "Packetbeat docker container fails to start with default configuration"
Not a serious issue, because it is expected to run Packetbeat with privileges, but it would be nice to provide a better feedback or user experience.

Currently, when running packetbeat with the default configuration, it fails with a cryptic error:
[code]

In contrast, default configuration in auditbeat also requires privileges, but at least it starts, and when it fails it gives an error that can b

[2020-09-09 08:27] elasticmachine commented on #21032
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-09 08:27] elasticmachine commented on #21032
Pinging @elastic/siem (Team:SIEM)

[2020-09-09 08:28] jsoriano commented on #20996
I have created a separated issue for Packetbeat as the problem is different: https://github.com/elastic/beats/issues/21032

[2020-09-09 08:29] roncohen commented on #21019
I think it will be very important to provide DEB/RPM packages for the adoption of Elastic Agent. I don't know much about MSI, but I imagine it could be similarly important on Windows.

I understand we want to make it possible to auto-update as many installations as possible, but I don't think it justifies removing the DEB/RPM options. Could we instead treat DEB/RPM same as the tar ball and mark th

[2020-09-09 09:12] #20982 closed

[2020-09-09 09:44] mdelapenya commented on #21019
Agreed. From a sysadmin perspective, it's really important having a package (RPM, DEB, MSI...), as you are able to use simply the OS to install **and upgrade** the packages using OS-native tools (yum, apt, snap, choco...), being the case they are published to the upstream repositories.

[2020-09-09 10:11] pawarrchetan opened #21035 "heartbeat: Error in executing monitor with a secret in json body in check.request.body"
We encounter an error while executing the runner using heartbeat 7.9.1
The issue is while using a keystore secret as a value in the json body for `check.request.body`

[code]
We tried changing the monitor config to include the key name with and without quotes and double quotes, however the error still persists.

- Version: heartbeat 7.9.1
- Operating System: Amazon Linux 2
- Discuss Forum URL: htt

[2020-09-09 10:23] urso commented on #21019
+1

+1, but I guess self-upgrade is more accepted in Windows-land (at least chrome/firefox users a used to it ;) )

Have we considered a 'shim' DEB/RPM package that fetches the agent on first run (or if not present), such that the agent can update itself, but the package can be provided via repositories? The shim would connect to Kibana and ask for the version in order to figure the agent version

[2020-09-09 10:24] roncohen commented on #20781
Just checking my understanding of the proposal. It says:

But, this:

should be
`path: "${docker.paths.log}"`

right?

[2020-09-09 11:47] ruflin commented on #20781
@roncohen Correct.

[2020-09-09 11:53] michalpristas commented on #21025
@nchaulet not complicated at all will prepare a PR.
can you link me a change which caused this?

[2020-09-09 12:07] ph commented on #21025
@nchaulet if I understand correctly this issue should be assigned to @michalpristas ?

[2020-09-09 12:09] ph commented on #20781
I have updated the description with Ron comment to remove some confusion.

[2020-09-09 12:13] ph commented on #21019
@roncohen We could do that, we would need the same story for the docker release, I will organize something few a few in this issue.

[2020-09-09 12:16] klimov-gett commented on #7908
I'm running filebeat 7.9.0-SNAPSHOT (to work around another issue https://github.com/elastic/beats/issues/11834)

the config i use is:

And i still got

only in my case it caused the input from at least one pod to stop completely. Restart of filebeat seemed to help.

[2020-09-09 12:24] rahulgupta-qasource commented on #21023
Hi @EricDavisX / @ph

Thank you for sharing the feedback.

Please keep us posted once upgrade / rollback scenarios are implemented and share the exact steps to validate the same.

[2020-09-09 12:32] ph commented on #21019
_I've changed my mind, meetings are hard, let's try to do it async._

@roncohen @ruflin @blakerouse  You have pretty good points for the adoptions of the elastic agent, would you be OK with the following phases approach.

@blakerouse @michalpristas Do you foresee any problems if we do it that way?

### Phase1

- Mark Debian and RPM as non-upgradable. We already need that feature for docker.
- Uses

[2020-09-09 13:03] EricDavisX commented on #21019
# I believe they can come later, @EricDavisX can confirm, I think endpoint never had an MSI installer. Usually on Windows and macOS theses tools installation will be scripted using jamf or other provisioning tools.

This is correct.  To elaborate, the Endgame Sensor has a 'in-band' installer and supports out-of-band as well (via JAMF or SCCM on Windows, etc).  The in-band was difficult to create,

[2020-09-09 13:41] elasticmachine commented on #21035
Pinging @elastic/uptime (Team:Uptime)

[2020-09-09 13:58] blakerouse commented on #21019
I do not believe that we should offer 2 installation methods. If we want to keep the DEB/RPM/MSI then we should not add the install/uninstall sub-commands. Having 2 installation methods means we have to support both at the same time, that is an un-needed burden for little benefit.

I would like to provide some context on DEB/RPM front. I think the idea that without a DEB/RPM Elastic Agent adoption

[2020-09-09 14:05] narph commented on #20758
I have created an issue for mapping the `2019-10-01` consumption API's inside the sdk https://github.com/Azure/azure-sdk-for-go/issues/12452.
The latest version seems to support more subscription types than the ones mentioned above.

[2020-09-09 14:06] michalpristas commented on #20992
This one broke it https://github.com/elastic/beats/pull/20839/files

the thing is that this one creates a new logger which logs just one line
`{"log.level":"info","@timestamp":"2020-09-09T15:52:51.939+0200","log.logger":"composable","log.origin":{"file.name":"composable/controller.go","file.line":46},"message":"EXPERIMENTAL - Inputs with variables are currently experimental and should not be used

[2020-09-09 14:10] blakerouse commented on #20996
I think from Elastic Agent side, it's not required for it to be ROOT. But I do think we need to ensure we disable Endpoint when not running as ROOT, also we probably need to ensure it doesn't run when in a container anyway.

[2020-09-09 14:23] blakerouse commented on #20992
I guess that `logger.New` in the context I use it was incorrect. I assumed it still used the same backend.

@michalpristas Is that the issue? Do I need to instead pass the logger in?

[2020-09-09 14:27] mdelapenya commented on #20992
Meanwhile, we must be aware that the stand-alone tests will be broken until this gets fixed. @EricDavisX how can we effectively communicate this to the team?

[2020-09-09 14:27] ph commented on #21019
I haven't considered that security case at all.

[2020-09-09 14:51] #20784 closed

[2020-09-09 15:04] blakerouse opened #21040 "[Elastic Agent] Add documentation for new input substitution and conditions"
We need to add documentation for the new input substitution and EQL-like condition, that is shipping as experimental in 7.10.

See #20839 and #20994 for information on the syntax.

[2020-09-09 15:04] elasticmachine commented on #21040
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-09 15:31] ph commented on #21040
cc @dedemorton

[2020-09-09 15:32] mtojek commented on #7429
I will resolve this one in favor of https://github.com/elastic/beats/issues/7723

[2020-09-09 15:32] #7429 closed

[2020-09-09 15:37] mtojek commented on #11080
I think we can resolve this one. There are multiple integration tests and system tests verifying metrics collection.

Resolving

[2020-09-09 15:37] #11080 closed

[2020-09-09 15:41] jsoriano commented on #20996
I think it is enough if the container starts with the default configuration, and it fails later depending on the configuration or some other condition. It is in principle ok to give more privileges on runtime.

I will give a try to just removing `USER root`, and check if privileged features work with the same image after adding privileges.

[2020-09-09 15:44] ferullo commented on #21019
Here is some background on the Elastic Endgame product's approach to this issue.

The main reason there is no traditional installer (RPM/DEB/PKG/MSI) for the Phase 0/Elastic Endgame product is that Elastic Endgame supports "signature diversity", which means customers can modify some details like the paths and process names Elastic Endgame Sensor installs as. That customization requires custom inst

[2020-09-09 15:52] ph commented on #21019
@ferullo Concerning the _wrapped_ part, this mean that the package would be stuck to a version but the _endpoint_ itself could diverge?

[2020-09-09 15:56] ferullo commented on #21019
Yes, I believe so. That is/was totally unsupported so I never had any direct insight into how it would work for customers.

@tyoungs-estc might have insight into how doing that works for Elastic Endgame customers.

[2020-09-09 15:59] EricDavisX commented on #20992
Email and slack chat of a quick message is all I can think of for now.  Until we get tests in PR CI I think its just you and I that need to know.  It does raise the question of communication and 'test skipping' type support as the project matures and we get it into CI that I'm sure will come up.

[2020-09-09 16:10] michalpristas commented on #20992
@blakerouse  i would suggest passing a logger, and create a named logger if needed

[2020-09-09 16:32] jsoriano commented on #21019
+1 to keep packages, marked as non-upgradeable. We need to support this in any case for docker images, and I'd say that also for tar.gz/zip packages.

One point that hasn't appeared yet, and I think is important, is that for most system software, many people want to have the versions installed under control, and decide when to upgrade, because it may imply needing to dedicate time to unexpected is

[2020-09-09 19:21] jsoriano commented on #21019
@blakerouse thanks for your comment, this clarifies some things, and tilts the balance towards the removal of packaging for me. The upgrading process for Agent with Fleet was not clear to me.

How are linux packages different to PKG/MSI regarding self-upgrading? Are PKG/MSIs installed without tracking the version in the system, as if they were tars/zips?

How do you think installation should work

[2020-09-09 19:52] blakerouse commented on #21019
I am no expert on Mac or Windows, but normally the version is not something stored anywhere on the system for those installers. Windows might store some registry keys, but most of that is not shown to the user.

Yes `elastic-agent install` would notice that Elastic Agent is already installed and instruct it to upgrade. See the "Installation Upgrade" in the issue description for how that would flow

[2020-09-09 20:49] bradenlpreston commented on #21019
Jumping in here a bit late. Concerning:

There are a number of reasons for this. @ferullo covered the signature diversity piece. In addition, our sales motion was much different. Traditional endgame customers were relatively mature on the security/operations scale. Endgame didn't have a bottom-up adoption/sales approach. Our customers typically had more sophisticated deployment systems and had the

[2020-09-09 23:37] swiftmas commented on #10756
We  have been looking at a solution that would be functional with @cluggas suggestion.

If Functionbeat did not require a triggers list and instead dealt with any triggers assigned to the lambda you could create hooks in your service deployments which attach their log groups to functionbeat. Permissions are the only thing in the configuration that can take a wild card so they can be grouped by nam

[2020-09-10 04:45] #21025 closed

[2020-09-10 07:06] rayward commented on #20830
I'm getting a whole bunch of package missing errors as well. Should `./functionbeat` be generating a `go.mod` file to be bundled into the package?

[2020-09-10 07:38] andresrc commented on #21019
In my experience not having DEB/RPM (and mostly RPM in RHEL shops) can make conversations difficult in certain kind of customers, though the shim could be a good option there (we would need to look for a good approach for versioning, to avoid confusions, possibly with a shim per major).

In any case users should be able to disable upgrades, +1 to @jsoriano comments on users wanting to avoid unknow

[2020-09-10 07:40] kvch commented on #20830
@rayward Yes, the issue exists because of go modules. However, we need to go back to vendoring because the Beats framework supports only Golang 1.14. This seems to be incompatible with the Go 1.13 environment on GCP.

[2020-09-10 07:46] fabiogermann commented on #20657
@andrewkroh and @ruflin same problem here:
`uname -a` reports: `Linux localhost 4.14.38 #2 SMP Fri Jun 5 23:03:53 UTC 2020 x86_64 GNU/Linux`
and
`ls /etc/*-release` reports: `/etc/lsb-release`
so there is a non-empty file.

[2020-09-10 09:06] jaakoob opened #21051 "provide mapping as artefacts for use with component templates"
**Describe the enhancement:**

It would be nice if the mappings for the beats fields would be published as artefacts for use with content templates.

**Describe a specific use case for the enhancement or feature:**

No Elastic Beat is directly connected to Logstash and a Index Pattern which differs from the standard Beat Index Pattern/ ILM Policys is used. It should be possible to load an appropri

[2020-09-10 10:24] urso commented on #14008
@kvch I expect this issue to be resolved by architectural changes in the new log file input. Would be nice to have benchmarks, though.

[2020-09-10 10:54] kvch commented on #20950
The feature you describe is available in Filebeat. You can override the input settings with the keyword `input`. See more here: https://www.elastic.co/guide/en/beats/filebeat/current/advanced-settings.html

Please next time instead of opening an issue, post your question on our [Discuss forum](https://discuss.elastic.co/c/elastic-stack/beats/28). Github is reserved for verified bugs and enhancemen

[2020-09-10 10:54] #20950 closed

[2020-09-10 11:04] elasticmachine commented on #8498
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-10 11:24] #18613 closed

[2020-09-10 13:19] sselberg commented on #11273
This is caused by the fact that the "time" package that beats is using [1] to parse @timestamp from JSON doesn't honor the RFC3339 spec [2], (specifically the part that says that both "+dd:dd" AND "+dddd" are valid timezones)
So some timestamps that follow RFC3339 (like the one above) will cause a parse failure when parsed with:
`ts, err := time.Parse(time.RFC3339, vstr)`

[1] https://github.com/e

[2020-09-10 13:26] #20992 closed

[2020-09-10 13:52] ChrsMark commented on #20897
Closing this through #21052.

[2020-09-10 13:52] #20897 closed

[2020-09-10 14:49] ph opened #21057 "[Elastic-Agent] EQL hasKey vs some.field"
As noted in https://github.com/elastic/beats/pull/20994 EQL just do `some.field != null` we should investigate if we could converge on the same syntax.

[2020-09-10 14:49] elasticmachine commented on #21057
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-10 14:55] crowens commented on #21019
One concern I have with DEB/RPM specifically is the ability for a customer to inadvertently upgrade their Agents to a newer version than the stack.  This may be a problem already with beats, so maybe it doesn't matter.  But, I think the Agent does strict version checking and will not run if the stack is newer? Do Beats do this?  A user could end up in a situation where a `yum upgrade` or an `apt-g

[2020-09-10 19:12] EricDavisX commented on #20131
I'm transferring some sentiment and comments from a meta ticket to this implementation / discussion piece. I have some concerns / questions and want advice and help to finish this off as soon as is feasible.  @mdelapenya @kuisathaverat @ph

My concerns currently, as briefly as possible:

Summary:  we have 2 methods for testing Agent in the e2e tests, stand-alone (with the Agent Docker container) a

[2020-09-10 19:12] EricDavisX commented on #20131
Separately, these 2 scenarios from the desc need to be inverted so they 'do not' test the e2e I think...
  Scenario:  A developer creates a PR
    When the PR has changes for Filebeat, Metricbeat, or the Elastic Agent
    And the PR has the label `skip-ci`
    And the e2e tests are launched for the docker image of the PR

  Scenario:  A developer push changes to a PR
    When the PR has changes fo

[2020-09-10 19:19] mdelapenya commented on #20131
@elastic/observablt-robots, let's discuss about it on our daily sync

[2020-09-10 19:52] ph commented on #20131
I do have the same concerns as @EricDavisX here, we should ideally tests theses differents artifacts/workflow. (docker, rpm)
Also there are features or behaviors that wont be able to be tested without an os installation mainly the upgrades/downgrade or rollback on failures. The version on docker containers will be fixed.

[2020-09-10 21:09] chancecardona commented on #19109
+1. This would be very helpful. I've tried using Unix input and applying the ingest node pipeline, but since so much remapping is done with filebeat processors it doesn't really work.

[2020-09-10 22:16] EricDavisX commented on #19291
we're tracking coming progress in https://github.com/elastic/beats/issues/20131, fyi

[2020-09-10 23:52] rayward commented on #20830
@aschifman I was able to deploy with 7.7.1 of functionbeat

[2020-09-11 01:45] rayward commented on #20830
@kvch I thought 1.13 supported go modules, and GCP supports this - https://cloud.google.com/functions/docs/writing/specifying-dependencies-go

[2020-09-11 05:19] #13641 closed

[2020-09-11 08:19] #11333 closed

[2020-09-11 09:45] elasticmachine commented on #21051
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-11 09:45] elasticmachine commented on #21051
Pinging @elastic/integrations-services (Team:Services)

[2020-09-11 11:19] #13645 closed

[2020-09-11 12:25] aschifman commented on #20830
Thanks @rayward. Please try with 7.8.1 if you can, it had worked for me.

[2020-09-11 13:04] toby-sutor commented on #20758
As discussed offline, from what I found at https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/consumption-api-overview and more specifically here: https://docs.microsoft.com/en-us/partner-center/azure-plan-available it appears that there is no API access available for CSP subscriptions, which has been the case here. Hence the error message we receive is misleading.

[2020-09-11 13:19] #13647 closed

[2020-09-11 13:19] #13646 closed

[2020-09-11 13:31] iatalay commented on #11420
Does metricbeat currently support input from kerberised kafka?

[2020-09-11 17:42] inqueue commented on #13816
Is there any way to fix? Another user has reported the issue.

[2020-09-11 18:51] orlandoinfosec opened #21064 "Parsing o365.audit.Data field for Filebeat o365 module"
**Describe the enhancement:**
Currently o365.audit.data filed is set as type keyword and values are not parsed.  This filed contains objects in key value pairs in the same way the o365.audit.ExtendedProperties is properly parsed.

**Describe a specific use case for the enhancement or feature:**

the Filebeat o365 module collects Microsoft Management API audit logs, being able to parse the o365.aud

[2020-09-12 08:03] elasticmachine commented on #21064
Pinging @elastic/siem (Team:SIEM)

[2020-09-12 16:40] Datorresp opened #21066 "How To install Filebeat on FreeBSD"
Hey everyone,

guys, I need integrate Suricata in my elk dashboards, but Suricata is in a pfsense firewall on FreeBSD, I have been looking for how to install filebeat to be able to integrate with the ELK but nothing works. I found information from 2016 and all packages and ports doesn't work now. Also in elastic's web page, in filebeat instalation, there isn't download option for FreeBSD

[2020-09-12 16:53] srikwit opened #21067 "Packetbeat setup is throwing an internal error"
For confirmed bugs, please report:
- Version: 7.9.1
- Operating System: Ubuntu 16.04.6 LTS
- Discuss Forum URL: https://github.com/elastic/beats/issues/20716
- Steps to Reproduce:
1. Setup Elastic security
2. Configure Packetbeat with SSL enabled and verification none for both Elasticsearch as well as Kibana

[code]

[2020-09-12 18:42] fabiogermann commented on #20657
@ph it contains only one line "DISTRIB_ID=Sophos Firewall"

[2020-09-13 06:55] maver1ck commented on #18377
No problem from my side.

[2020-09-13 12:26] dddpaul opened #21068 "Packetbeat: enrich process info with process owner"
**Describe the enhancement:**
Currently `add_process_metadata` processor does not enrich event with process owner.

**Describe a specific use case for the enhancement or feature:**
Knowledge of the process owner is quite useful when Packetbeat is used as traffic monitor and control solution

[2020-09-14 06:48] ruflin commented on #21051
@jaakoob I wonder if the ingest manager will solve your problem here: https://www.elastic.co/blog/introducing-elastic-agent-and-ingest-manager The assets are all loaded centrally through Kibana instead of from the Beats. Also the indexing strategy changed quite a bit which might help you too.

[2020-09-14 09:08] elasticmachine commented on #21068
Pinging @elastic/siem (Team:SIEM)

[2020-09-14 09:08] elasticmachine commented on #21067
Pinging @elastic/siem (Team:SIEM)

[2020-09-14 09:10] elasticmachine commented on #21066
Pinging @elastic/siem (Team:SIEM)

[2020-09-14 10:19] elasticmachine commented on #20848
Pinging @elastic/siem (Team:SIEM)

[2020-09-14 13:15] klimov-gett commented on #7908
to anyone who may be intrested - i ended up making sure the API is available in the init-container before launching the actual filebeat:

[2020-09-14 13:23] #17329 closed

[2020-09-14 13:39] blakerouse commented on #21057
We could but that does prevent dynamic access to check for a key in a dictionary. With `hasKey` you can do `hasKey(${output}, ${other.key})`, not that I have a specific use-case in mind for that at the moment.

I don't know if currently `null` is a specific type that can be defined in the `condition`, but that can easily be changed.

[2020-09-14 13:41] blakerouse commented on #21019
@crowens That is already the issue today where a DEB/RPM upgrade could break the current beats. Agent will have the same issue when installing from DEB/RPM. When using the `install/uninstall` Agent will ensure that an upgrade does not break it.

[2020-09-14 13:44] blakerouse commented on #21019
After discussions it was agreed that:

* DEB/RPM will remain, but not support upgrade from Fleet
* Using `install/uninstall` will result in an Agent that can be upgraded from Fleet
* A future DEB/RPM shim will be released to install just Agent enough to run `install/uninstall`, this will not replace the non-upgrading DEB/RPM

I have updated the description and title of this issue to remove the men

[2020-09-14 13:55] ph commented on #21057
@blakerouse no rush to get that in for 7.10, I see this as a enhancement.

[2020-09-14 14:26] andresrc commented on #20803
We don't currently have a way to obtain this. We should document at least the limitations.

[2020-09-14 15:27] #20830 closed

[2020-09-14 15:32] sorantis commented on #13913
keep open

[2020-09-14 16:08] christophercutajar commented on #12174
I've noticed the same error with filebeat `7.5.1`

[code]

Having the below config:

[code]

Not sure what caused that ERROR but after sometime I can see data being ingested.

[2020-09-14 16:30] EricDales commented on #14643
👍

[2020-09-14 16:53] kaiyan-sheng commented on #20951
@jsoriano Good point! I think adding a check for CloudWatch metrics will be needed. I will assign this issue to myself and put it on my todo list. Thank you!

[2020-09-14 18:40] elasticmachine commented on #20943
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-14 18:40] elasticmachine commented on #20943
Pinging @elastic/siem (Team:SIEM)

[2020-09-14 18:45] #20103 closed

[2020-09-14 19:07] mdelapenya opened #21120 "[Elastic-agent] Sometimes backend processes are not started"
I.e.  https://beats-ci.elastic.co/blue/organizations/jenkins/e2e-tests%2Fe2e-testing-mbp/detail/PR-289/1/pipeline/350

It causes some flakiness in the test suite

#### Log error

#### Agent log

cc/ @ph @EricDavisX

[2020-09-14 19:54] inqueue commented on #6354
Relates to https://github.com/elastic/beats/pull/20094?

[2020-09-14 21:08] jpenniman commented on #19393
This is a major security issue and against AWS best practice. Pods should not be assuming the node role. That's why Amazon allows us to map K8s service roles to IAM roles:  https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-technical-overview.html

The vulnerability comes from the possibility of rogue code or infected pod taking control. I'm happy to dig up the exact v

[2020-09-14 21:23] joshdover commented on #20432
FYI I've opened a stop-gap PR which increases the default limit on this API to 10MB and is configurable: https://github.com/elastic/kibana/pull/77409

This will not fix the case where a proxy enforces a smaller file size limit, but will help in all other cases.

[2020-09-15 00:09] kaiyan-sheng commented on #19393
@jpenniman @Dudssource I just started a draft PR for adding support for IRSA for EKS. I don't know what's the timeline on this yet still but hopefully, I can get it in in 7.10 or 7.11.

[2020-09-15 01:40] #20943 closed

[2020-09-15 07:12] bczifra opened #21091 "Capture pagetables with Metricbeat"
**Describe the enhancement:**
This enhancement request is for Metricbeat's  to capture `PageTables` from the `/[proc](https://man7.org/linux/man-pages/man5/proc.5.html)/meminfo ` output as part of the [memory metric set fields](https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-metricset-system-memory.html).

[2020-09-15 07:15] igoristic opened #21092 "[Parity] Monitoring to include cpuacct and cpu in kibana_stats"
Parity test fails with build `ES_BUILD_URL=https://snapshots.elastic.co/8.0.0-94e4ba96`
[code]

Because of https://github.com/elastic/kibana/pull/76730

Stack Monitoring kibana server side code does not use these values (yet), but we might consider using them with additional (ongoing) out of the box alerting feature (in the near future).

[2020-09-15 07:15] elasticmachine commented on #21092
Pinging @elastic/stack-monitoring (Stack monitoring)

[2020-09-15 07:15] elasticmachine commented on #21092
Pinging @elastic/integrations-services (Team:Services)

[2020-09-15 08:19] #13689 closed

[2020-09-15 08:27] ChrsMark commented on #15505
From https://preliminary.istio.io/latest/docs/ops/best-practices/observability/#using-prometheus-for-production-scale-monitoring, it seems so:

[code]

[2020-09-15 10:09] MadhavJivrajani commented on #20691
Hi!
I'd love to take this up if possible.

[2020-09-15 10:12] MadhavJivrajani commented on #20648
Hi!
Can I work on this?

[2020-09-15 11:13] jsoriano commented on #13913
Would this be solved by https://github.com/elastic/beats/pull/16321?

[2020-09-15 11:29] #20985 closed

[2020-09-15 11:56] shipler commented on #17615
@andrewkroh is there any expected update for the persistant template loading in the beats netflow module?

[2020-09-15 12:00] shipler commented on #14618
@andrewkroh is there any expected update for the persistant template loading in the beats netflow module for the newer versions?

[2020-09-15 12:48] jaakoob commented on #21051
I use an extended ECS so ingest manager would have to provide component templates so that I can use the beat fields in combination with my extended ECS. I am also not interested in dashboard and visualization templates, so ingest manger can´t do much for me.

[2020-09-15 13:20] kaiyan-sheng commented on #20648
@MadhavJivrajani Of course! Please feel free to start on this! Assign the issue to yourself and we can't wait to see your PR!

[2020-09-15 13:21] dudumiquim opened #21095 "Metricbeat + AWS Module: runtime error: index out of range [0] with length 0"
I'm trying to configure the AWS module but when I try to start the metricbeat, I receive this error:

This error are not "too clear" and I started my metricbeat with debug logging level. The log level are not clear about what are happening.

I checked all the configs that I know, but the problem persist.

I removed all the modules (was only aws and system) and test only with aws. If I disable aws

[2020-09-15 13:25] ruflin commented on #21051
Having a package with ECS components and parts is a discussion we had in an other issue, but couldn't find it. I know @webmat was thinking about this too.

[2020-09-15 13:27] EricDavisX commented on #20131
I discussed with Manu and Ivan and we will want to do a little work to speed up the packaging job, but we think we have all the tools we need and are really really close to getting this done.  My prior concerns are alleviated, the 'packaging' job will build the Docker container and .tar.gz, .deb, .deb files as needed - and we can consume them.

Confirming final details:
Ideally, we'd be able to ru

[2020-09-15 13:32] michalpristas commented on #20131
we do include heartbeat in agent package so maybe it would make sense to include this as well

[2020-09-15 14:14] ruflin opened #21096 "[Elastic Agent] Capabilities feature"
Recently a few features around which capabilities an Agent should support were discussed:

* Allowlist / Blocklist for inputs https://github.com/elastic/beats/issues/21001
* Disable upgrade https://github.com/elastic/beats/issues/21000

I the future there will be more capabilities which either a user from Fleet or directly the administor of an Agent wants to enforce. Further examples are which out

[2020-09-15 14:14] elasticmachine commented on #21096
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-15 14:14] ruflin commented on #21096
@blakerouse @ph @michalpristas Would be great to get your thoughts on this.

[2020-09-15 14:21] mtojek commented on #18295
I need to collect some help resources to cover all your points.

Physical Standby Gaps

https://rajeevjhaoracle.wordpress.com/2014/06/25/how-to-check-whether-physical-standby-is-in-sync-with-the-primary-or-not-and-resolved-gap/

(I will follow up with edits)

[2020-09-15 14:24] elasticmachine commented on #21095
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-15 14:26] ChrsMark commented on #15505
However, installing `1.7.1`  (https://istio.io/latest/docs/setup/getting-started/) seems that `istiod` exposes metrics at `15014` port:
[code]
In order to access metrics endpoint: `kubectl -n istio-system port-forward svc/istiod 15014:15014`
And then hit `localhost:15014/metrics`.
Sample metrics:
[istiod.txt](https://github.com/elastic/beats/files/5223681/istiod.txt)

`pilot`, `mixer`, `galley` an

[2020-09-15 14:51] a03nikki opened #21097 "[Filebeat] [CEF] Add TCP support to Filebeat's CEF module"
**Describe the enhancement:**
Right now the [CEF Module](https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-module-cef.html) only supports UDP.  It would be nice if it supported TCP as well.

**Describe a specific use case for the enhancement or feature:**
For security operations and network administrators, the desire is to not use UDP as it is a "fire and forget" model for sending lo

[2020-09-15 15:00] mdelapenya commented on #20131
I'm going to sum-up what we discussed today:

We are going to start working on launching the e2e-tests suite alongside the packaging job, which means, whenever a developer comments in the PR `/package`: we will add a step to trigger the tests right after the binaries and docker images for the PR are generated.

We will add certain logic to control which parts of Beats we want to package and test,

[2020-09-15 15:06] kaiyan-sheng commented on #21095
@dudumiquim Thanks for reporting this issue. I see in your config file, there are no credential related parameters specified. Do you have a ~/.aws/credentials shared the credential file with a default profile on your Amazon Linux 2 VM? I just want to make sure I get everything before trying to reproduce it.

[2020-09-15 15:21] mdelapenya commented on #20131
Hey @michalpristas, we are not checking that the heartbeat process is started/stopped in the host for the e2e tests, as we do for filebeat and metricbeat. Is this something to take care of?

[2020-09-15 16:10] dudumiquim commented on #21095
Hi @kaiyan-sheng .

I'm using IAM role attached a t the ec2 instance. To discard the permission problem, I'm using an administrator role. To check if all this are working correctly, I installed the filebeat and set the sqs read to aws module. Works correctly.

If you want, I can try configuring the credentials file.

[2020-09-15 17:41] kaiyan-sheng commented on #21095
Hi @dudumiquim, thanks for the quick response! I think I found the problem. I just pushed a PR up and please feel free to verify it/review the PR.

[2020-09-15 17:53] ph commented on #20131
@mdelapenya Adding heartbeat is not necessary for now, I would wait until we officially support it.

[2020-09-15 18:02] dddpaul opened #21103 "Packetbeat: DNS processor configuration parsing error"
Hi.

- Version: master, 7.x, after https://github.com/elastic/beats/pull/21085
- Operating System: Linux, Macos
- Discuss Forum URL: https://discuss.elastic.co/t/fail-to-unpack-the-dns-configuration-requires-duration-1-accessing-processors-0-dns-min-ttl/248453/
- Steps to Reproduce:

For example, given configuration:
[code]

Results with default SuccessCache MinTTL (1m):

[code]

The point is that

[2020-09-15 18:04] elasticmachine commented on #21103
Pinging @elastic/integrations (Team:Integrations)

[2020-09-15 18:34] jhaprins opened #21104 "Allow metricbeat haproxy module to use the stats unix socket."
HaProxy on a unix host can provide statistics output in different ways.
Either using a unix socket, a tcp socket or an http socket.
The http socket is often used for external monitoring or quick checks, while unix socket is often used only locally on the system and not accessible from remote.
For the haproxy beats module is a module that is typically running on the local system, it would be perfec

[2020-09-15 19:15] elasticmachine commented on #21104
Pinging @elastic/integrations-services (Team:Services)

[2020-09-15 19:16] elasticmachine commented on #21097
Pinging @elastic/siem (Team:SIEM)

[2020-09-15 19:16] elasticmachine commented on #21091
Pinging @elastic/integrations-services (Team:Services)

[2020-09-15 19:16] MadhavJivrajani commented on #20648
Hi,
I just wanted to clarify a couple of things:

- I change the value from `000001` to `000000` [over here](https://github.com/elastic/beats/blob/95626b8f1690344312c0831ab2bdcbccffe4d089/libbeat/idxmgmt/ilm/config.go#L61)
- I update CHANGELOG.next.asciidoc
- Do I make the corresponding changes to the other yaml/asciidoc files as well?

[2020-09-15 19:36] StefanSa commented on #1070
hi there,
please fix it quickly, that is otherwise totally confused with all action.
Currently, with Metricbeat, Filebeat and Packetbeat, the FQDN is not sent as host.name but only the hostname (without FQDN).
However, with one exception, Winlogbeat sends the FQDN as host.name.

[2020-09-15 22:22] mattkime commented on #20432
I'd like to move forward with #2 - no longer saving the field list - sometime soon. When exactly will depend upon team priorities. Will report back with a time estimate.

[2020-09-15 23:03] JameySteinmann commented on #9835
The same issue and others are present when looking at different counters such as the Per Process Per Network Interface Card Activity object and the DPCs Queued per second counter. This one uses the nic device name which has two issues.

1. For nics like Intel that put "(Intel)" as part of the name it truncates the string right before the ')' character. This happens with any instances that have a c

[2020-09-16 02:20] #20765 closed

[2020-09-16 05:16] elasticmachine commented on #21103
Pinging @elastic/siem (Team:SIEM)

[2020-09-16 06:19] #6940 closed

[2020-09-16 06:51] hazcod opened #21112 "[bug] [filebeat] license expiration breaks filebeat ingestion"
Hi, we noticed that the license expiration will have an averse effect on filebeat log ingestion.
In our case, our trial license expired, breaking filebeat log ingestion and spiking CPU on our log shipping servers.
Altough the documentation mentions filebeat should continue working on license expiration.

Relevant logs from filebeat:
[code]

Which mentions in particular:
[code]

- Version: filebeat

[2020-09-16 07:18] elasticmachine commented on #21112
Pinging @elastic/integrations-services (Team:Services)

[2020-09-16 08:39] rcuperus commented on #21104
This is possible by defining the host as follows:
`hosts = ["unix:///path/to/socket"]`

[2020-09-16 08:53] babadofar commented on #20722
If you really mean "ingest pipeline" and not "ingress pipeline", I was just looking for the same thing. I actually assumed it already was possible. Specifying pipelines pr. applicaiton makes a lot of sense.

[2020-09-16 09:31] exekias commented on #15505
Does `istiod` provide the same level of detail? IIRC mixer and others were pretty verbose

[2020-09-16 09:32] sektorcap commented on #714
With the versions 6.x the filebeat registry can be easily managed because for each files there is just one entry so you can use "offset = file-size" logic.

With the version 7.x (I don't know the exact version) the registry is a "log" so the approach cannot use anymore.

@ruflin do you have any suggestions?

[2020-09-16 10:08] jsoriano commented on #19511
@urso @exekias an update on this. I tried some options on #20707, #20739 and #20775, that more or less covered these approaches:
* Using auditbeat's datastore based on bbolt
* Using statestore with memlog backend
* Using statestore with a new naive bbolt backend
* Adding a new cache-specific implementation based on badger

Summarizing, the option that I found better is the last one, a new cache im

[2020-09-16 10:18] exekias commented on #19511
Thank you for such a detailed research! Going for badger sounds good to me.

Being able to close processors sounds like a requirement (?), let's keep discussing in #16349

[2020-09-16 10:50] ChrsMark opened #21114 "Move query and remote_write metricsets of Prometheus to GA"
**Describe the enhancement:**
Move `query` and `remote_write` metricsets of Prometheus to GA

[2020-09-16 10:50] elasticmachine commented on #21114
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-16 12:44] ph commented on #21096
@ruflin @blakerouse @michalpristas Could we have a unique syntax?
- allow: "inputs.logfile"

[2020-09-16 12:46] ph commented on #21096
I was suggesting the unique syntax/definition make it behave the same on everything and allow to expose capabilities as we good.

[2020-09-16 13:51] jamiesmith opened #21116 "Add a way to unenroll an Elastic Agent from the client side"
**Describe the enhancement:**

Currently there's no way to unenroll an elastic-agent from the client side

**Describe a specific use case for the enhancement or feature:**

When running ephemeral instances (containers, for example) each can enroll, but when the container is stopped we end up with stranded offline instances in fleet, which then takes two commands per host on the Fleet screen (unenr

[2020-09-16 14:11] EricDavisX commented on #21116
we should be able to mitigate some of this with plans in place already for 'bulk actions' coming soon; wherein you can select all of the stranded agents, and then do the clicks just once a day or once a week (etc) to get rid of cruft in the UI.  I like the idea of having more support on the Agent side, I'm not sure if there are technical reasons it wasn't implemented or considered prior - but we c

[2020-09-16 14:21] ruflin commented on #714
Probably @urso is best to comment on this or @kvch ^?

[2020-09-16 14:31] ruflin commented on #21096
@ph Not sure I follow. Would this be in a yaml file?

[2020-09-16 14:41] ph commented on #21096
@ruflin Just realized I was effectively cut off. What I would like to see is, it is possible to make it a unique syntax for defining capabilities. In the above example, it's a flat Keystore like structure, which is the same for anything vs some items are list vs some items are booleans. But maybe it's not possible.

[2020-09-16 14:59] urso commented on #714
A new registry format was introduced with 7.9. The registry contains a snapshot plus a log. the snapshot is still created every 5 minutes, or once the log file reaches 10MB. The active.dat file contains the path to the current snapshot file. The snapshot file still uses the same format as the old file. In case you don't want to wait for the snapshot file be written the strategy to reconstruct the

[2020-09-16 15:14] urso commented on #19511
Correct, statestore is an in memory kv-store. The disk is only used to guarantee we can start from the old state.

I did test filebeat registry with statestore, badger, and sqlite as backends. Single writer throughput was pretty good for all of them (sqlite has had slight overhead). Unfortunately badger seems to scale pretty badly. With 100 concurrent files being collected badger did have a clear

[2020-09-16 15:19] #13719 closed

[2020-09-16 15:35] ph commented on #21116
@ruflin Can you look into this, I think its related to the higher discussion concerning how we work with container.

[2020-09-16 15:36] bvader commented on #20752
@andresrc I have a large customer / prospect that is seeing this issue as well. Is there any update?

<img width="1505" alt="Screen Shot 2020-09-15 at 11 23 34 AM" src="https://user-images.githubusercontent.com/15572155/93359681-b9897e80-f7f7-11ea-8d19-e55e01559dfb.png">

<img width="1435" alt="Screen Shot 2020-09-15 at 11 26 39 AM" src="https://user-images.githubusercontent.com/15572155/93359620-

[2020-09-16 15:43] jsoriano commented on #19511
Good point, I didn't test with high concurrency. But also I wouldn't expect very high concurrency on metadata enrichment, at least for the cloudfoundry case where in general there is only going to be one events consumer.

I will give a try to CBOR :+1: thanks for the suggestion.

[2020-09-16 16:03] sektorcap commented on #714
Thanks @urso for the details.

I agree with you, I should not use the registry but at the moment, since there is not any safe way for removing files after harvesting finished, parsing the registry information seems the only solution.
Please, consider to add this feature for next releases and re-open this issue.

However, I can see the active.dat file and the checkpoint file only when log file reac

[2020-09-16 16:24] g13013 commented on #714
@urso Or at least cosider #20410

[2020-09-16 16:40] blakerouse commented on #21096
I think we could do something like this. But a note would be there is cases for `upgrade.enabled: true` there that would still no be true. Setting `update.enabled: true` but being installed from the DEB/RPM would still not allow upgrading. But setting `update.enabled: false` would allow disabling upgrade. So it would really only be useful to disable updating.

[2020-09-16 16:45] richard-mauri commented on #661
This ticket is approaching 5 years old.
My company is in pain with problem of beats going silent when we use a single dnsname in the output.logstah.hosts to an aws load balancing that is in front of a fleet of container based logstash nodes. We have the ttl:120s and pipelining:0 and it is insufficient (beats still go silent).

This post mentions disabling dns cache.
It is interesting and Ihave hea

[2020-09-16 17:09] chrisronline opened #21119 "Call one API for Kibana MB module (for 8.0)"
Right now, there are two endpoints the Kibana MB module (with `xpack.enabled`: true) calls:

`/api/stats` and `/api/settings`

However, the data returned from the `/api/settings` API is (or will be before 8.0) also exposed from the `/api/stats` endpoint, with the exception of the `xpack` key, but that is deprecated and will be removed in 8.0.

For 8.0, we'd like the Kibana MB module to only call t

[2020-09-16 17:10] elasticmachine commented on #21119
Pinging @elastic/stack-monitoring (Stack monitoring)

[2020-09-16 17:31] ph commented on #21120
@mdelapenya / @EricDavisX I've moved the issue into the beats repository.

[2020-09-16 17:31] elasticmachine commented on #21120
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-16 17:39] ph commented on #20205
Added a point to document the path/files are installed.

[2020-09-16 17:49] ph commented on #21096
@blakerouse Agree on that.

[2020-09-16 17:55] ph opened #21121 "[Elastic Agent] Agent.id of running processes"
Agent with System and Endpoint integrations. All agent.id's were different for the same host.

Agent: bffe5cf9-2436-476e-b4cb-39c64235b866
Filebeat: 40154036-66e3-4b71-9505-54c5e6ca74aa
Metricbeat: b9e0d066-a255-4e31-9dfe-13b1419da034
Endpoint: 49ecf6c5-6e09-4a36-8fc5-8f8dbaa77649

I think we should have the same ID on everything so we can correlate events generated by the "Elastic Agent"

[2020-09-16 17:55] elasticmachine commented on #21121
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-16 17:56] ph commented on #21121
@blakerouse  @ruflin WDYT?

[2020-09-16 18:31] andrewkroh commented on #21067
This is a HTTP 500 error code while communicating to Kibana. Please verify that Kibana is up and healthy then check your Kibana logs to see if there are more details about the error.

[2020-09-16 18:47] ferullo commented on #21121
cc @scunningham @kevinlog

For my part, I am ambivalent whether Agent, Beats, Endpoint all share the same ID or not. Endpoint reports `elastic.agent.id` in all documents, which is Agent's ID, so Endpoint documents can be correlated even if Endpoint and Agent don't share the same ID.

[2020-09-16 18:51] ph opened #21122 "[Elastic Agent] Agent's Readme need to be modified to reflect Agent reality"
Two links related to our Beats Agent is giving a 404 error.

(https://www.elastic.co/guide/en/beats/elastic-agent/7.9/index.html, https://www.elastic.co/guide/en/beats/elastic-agent/7.9/elastic-agent-installation-configuration.html)

dev-tools/packaging/templates/common/README.md.tmpl

The link should be adjusted to point to ingest manager.

[2020-09-16 18:51] elasticmachine commented on #21122
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-16 20:02] blakerouse commented on #21121
@ph surprised they are all different, I would expect them to all be the same.

[2020-09-16 21:28] mattkime commented on #20432
I've updated https://github.com/elastic/kibana/issues/71787 with a brief plan to load the field list when an index pattern is loaded (rather than created or refreshed).

Its approximately two weeks of work, most of which is to support server side index patterns.

[2020-09-17 01:44] JameySteinmann opened #21125 "Metricbeat: Windows Perfmon Instances are truncated."
I wanted to confirm behavior seen in Metricbeat with Perfmon as seen in the discuss url below. This relates to instances that have parenthesis and # in the interface description for Windows systems.

[code]

In this case, the below configuration will provide incorrect values for the field windows.perfmon.instance. They will be presented as

- Hyper-V Virtual Ethernet Adapter
- Intel(R

This isn't

[2020-09-17 02:30] #16821 closed

[2020-09-17 02:35] dedemorton commented on #20637
Closing this issue because it does not seem to be a doc bug, and the dev team is unable to reproduce it.

[2020-09-17 06:23] ruflin commented on #21121
I assume all `elastic.agent.id`s are the same? It is just that the `agent.id` are different as they are generated by each process? I agree this might be confusing as the processes should be an implementation detail.

[2020-09-17 06:24] ruflin commented on #21121
Second thought: I wonder if we should even ship `agent.id` for the processes, as not in all cases the process itself is actually the agent but sometimes the observer.

[2020-09-17 07:10] elasticmachine commented on #21125
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-17 07:12] elasticmachine commented on #21119
Pinging @elastic/integrations-services (Team:Services)

[2020-09-17 07:23] ruflin commented on #21096
So in the deb/rpm case, the config value for upgrade would be compiled into the binary and could not be overwritten? The other option is, that we just ship different defaults for deb/rpm/docker and if a user really wants to change it, he can but it is not supported.

[2020-09-17 07:44] EmViKay opened #21126 "Metricbeat 7.4.2 error: metricset 'aws/lambda' not found"
We are using Metricbeat 7.4.2. Few days ago we have tried enable aws/lambda module.
Followed documentation from here: https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-metricset-aws-lambda.html
On linux and Windows we get the error : Exiting: 1 error: metricset 'aws/lambda' not found and service down.
Can someone help?

[code]

[2020-09-17 08:06] ruflin commented on #21116
I like the idea of having an `elastic-agent unenroll` command. This could also be useful if a user wants to switch from managed to standalone. @blakerouse WDYT?

@jamiesmith Is there an option in docker to have a special call on teardown? If not, an option could also be that an Agent is started with a flag `-ephemeral` which means when the agent is stopped, it also unenrolls.

[2020-09-17 08:35] srikwit commented on #21067
Yes I can verify that the Kibana server is up and I had received the following error log in it:
`{"type":"error","@timestamp":"2020-09-17T07:51:28Z","tags":[],"pid":17007,"level":"error","error":{"message":"Internal Server Error","name":"Error","stack":"Error: Internal Server Error\n    at HapiResponseAdapter.toInternalError (/usr/share/kibana/src/core/server/http/router/response_adapter.js:69:19)

[2020-09-17 08:45] ghost opened #21128 "Support for path globbing"
**Describe the enhancement:**
Journalbeat has no way to use globbing for `paths` in `journalbeat.inputs`. There are some cases where multiple journals in different subdirectories exist.

**Describe a specific use case for the enhancement or feature:**
OpenStack-Ansible uses containers and links the journals to `/openstack/log/`. This leads to several different subdirectories with different names:

[2020-09-17 09:37] ycombinator commented on #20803
Hey @111andre111, I just noticed this bit in the Docker Compose file:

[code]

Can you share the contents of this `filebeat.yml`? Specifically I'm interested in the `output.*` and `monitoring.*` sections but if its easier to just share the entire `filebeat.yml` that's fine too!

[2020-09-17 09:48] ycombinator commented on #20752
Users are reporting this issue on discuss as well: https://discuss.elastic.co/t/filebeat-monitoring-metrics-sent-bytes-and-throughput-shown-as-0/246215

[2020-09-17 09:58] 111andre111 commented on #20803
Shared with you in private @ycombinator

[2020-09-17 11:19] #13725 closed

[2020-09-17 11:44] ChrsMark commented on #13913
Looks like yes! @exekias could you confirm that?

[2020-09-17 11:46] exekias commented on #13913
++ closing

[2020-09-17 11:46] #13913 closed

[2020-09-17 12:08] jamiesmith commented on #21116
I am running it with a shell script in the container, so I would just set up an exit trap, which I verified works (except for a force stop).

[2020-09-17 12:09] jamiesmith commented on #21116
Oh, the ephemeral option is good too

[2020-09-17 12:49] andresrc commented on #20752
Thanks, we'll take a look as soon as possible

[2020-09-17 13:05] elasticmachine commented on #21128
Pinging @elastic/integrations-services (Team:Services)

[2020-09-17 13:13] elasticmachine commented on #21126
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-17 13:20] ph commented on #21096
I would not make another binary, I think for supportability the binary should always be the same. So we can use different default for DEB/RPM.

[2020-09-17 13:23] ph commented on #21121
@ruflin @blakerouse So the fix would makes sure that all process send the `elastic.agent.id` with the same id, the one from the agent.

Concerning _Agent.id_, Is this coming from the actual input in metricbeat/filebeat?

[2020-09-17 13:35] ph commented on #21116
@blakerouse @ruflin

Good point, lets say you have laptop It would be weird to allow someone to `unenroll`.
Could it be something we configure on the **Agent Policy** like this Policy only allow for _ephemeral_ agent?

[2020-09-17 13:35] blakerouse opened #21135 "[Elastic Agent] Look into reducing the docker provider add_fields data"
The docker provider that was implemented as the first dynamic provider includes all labels in the add_fields processor. It might be a good idea to reduce this information or make it a provider variable only allowing it to be conditionally added to the input, if the user wants it.

Follow up for https://github.com/elastic/beats/pull/20842#discussion_r489470470

[2020-09-17 13:35] elasticmachine commented on #21135
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-17 15:42] #21095 closed

[2020-09-17 16:19] elasticmachine commented on #20970
Pinging @elastic/obs-docs (Team:Docs)

[2020-09-17 16:24] #19579 closed

[2020-09-17 16:24] #13997 closed

[2020-09-17 16:25] #8305 closed

[2020-09-17 17:39] blakerouse commented on #19068
Closing this because of #20784

[2020-09-17 17:39] #19068 closed

[2020-09-17 17:47] blakerouse opened #21148 "[Elastic Agent] Add ability to debug a composable provider"
## Overview

To help support dynamic inputs #19225 Elastic Agent needs to add the ability to debug the providers using for variable substitution. This issue is to track the debugging effort, for information about variable substitution review #20781

## Debugging

This obviously adds a lot of confusion to what the resulting configuration that Elastic Agent will be running with. To ensure that the f

[2020-09-17 17:47] elasticmachine commented on #21148
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-17 17:48] blakerouse commented on #20781
Moved debugging part to its own issue #21148. Closing this now that variable substitution is implemented.

[2020-09-17 17:48] #20781 closed

[2020-09-17 18:02] urso commented on #714
Hm, originally it was planned to checkpoint every 5min. But checking the code this capability was eventually removed. Currently the best way is to parse the log file as is done in the `Registry` class in the system tests. The format is quite straight forward. An entry always consist of 2 json objects. The first object contains a sequence number that must be > the current data file (otherwise the e

[2020-09-17 18:11] urso commented on #20410
The difficulty in general is that we have multiple processes that need to coordinate on what they think the file state is, while having no means of coordination, signaling, or communication. If possible I'd prefer to have the log rotation handled by the application itself, instead of introducing logrotate (there are many 'workarounds' that logrotate applies trying to overcome limitation in the app

[2020-09-17 18:19] #13724 closed

[2020-09-17 23:50] ycombinator commented on #20803
Thanks @111andre111, looking at the `filbeat.yml` you shared (privately) I see that `output.elasticsearch` is being used. In this case there is no need to also specify `monitoring.cluster_uuid` as the Cluster ID of the Elasticsearch cluster referenced by `output.elasticsearch` will be automatically used as the value of `monitoring.cluster_uuid` internally. I have tested this setup today and it wor

[2020-09-18 06:56] ruflin commented on #21116
I'm not sure the permission to unenroll is always tied to `ephemeral` feature but we could start with that and then iterate if we get other requests. Also not convinced if a single policy only serves ephemeral agents. Why not an additional flag/setting to make it more obvious?

On top of setting it in the policy, it could also be part of capabilities https://github.com/elastic/beats/issues/21096 A

[2020-09-18 07:03] ruflin commented on #21121
Yes, I would already expect today that `elastic.agent.id` is identical everywhere. Is this also not the case?

For `agent.id`, I think each input should decide to send it or not. But that will be more a Beats problem to solve. By default, it should not be sent.

[2020-09-18 07:16] ruflin commented on #21148
++ on the proposal. I would skip the `--watch` part at first probably. I really like that the state of a provider can be read out and also the current running config.

[2020-09-18 08:56] immon opened #21158 "[docs] improve registry files description after changes introduced in 7.9.0"
**Describe the enhancement:**

With newly introduced filebeat registry format it would be helpful to reveal more details around registry log.json and the marker file to the docs. For example here https://www.elastic.co/guide/en/beats/filebeat/current/configuration-general-options.html#_registry_path

**Describe a specific use case for the enhancement or feature:**

[2020-09-18 08:56] elasticmachine commented on #21158
Pinging @elastic/obs-docs (Team:Docs)

[2020-09-18 09:15] vsxen commented on #21158
Whati's the different between log.json  and data.json?

[2020-09-18 09:41] #20771 closed

[2020-09-18 09:47] #20798 closed

[2020-09-18 10:31] elasticmachine commented on #13807
Pinging @elastic/integrations (Team:Integrations)

[2020-09-18 11:02] urso commented on #19511
Maybe. But keep in mind that processors are normally run in the go-routine of the input. On the other hand, it is just a cache. If we have to change the backend in the future because requirements changed it is a no brainer.

[2020-09-18 11:52] david-kow opened #21167 "[Elastic Agent] Support retry"
It would be great if Elastic Agent had a configurable retry for enrolment (and other commands if that's not the case yet). It would simplify the logic for any init scripts and orchestration in cases where there are intermittent network issues or when Kibana is just being started and it's not available yet.

[2020-09-18 13:07] BenB196 opened #21171 "Beats DNS processor examples are not ECS compliant"
The DNS processor provides the following two examples:

[code]

[code]

As per https://github.com/elastic/ecs/issues/166 server, client, source, and destination no longer have a ECS field hostname, instead it appears that domain should be used instead.

[code]

[code]

For confirmed bugs, please report:
- Version: 7.9
- Operating System: N/A
- Discuss Forum URL: N/A
- Steps to Reproduce: N/A

[2020-09-18 13:36] andrewkroh opened #21172 "[Winlogbeat] Update Sysmon module for v12/13"
Sysmon v12 added event ID 24 which is a ClipboardChanged event. The Winlogbeat Sysmon module should be updated to handle this event ID.

When the clipboard changes the contents are archived to file and an event is generated with information about the activity. The event includes a hash that can be used to access the archived file.

[2020-09-18 13:37] elasticmachine commented on #21172
Pinging @elastic/siem (Team:SIEM)

[2020-09-18 13:39] immon commented on #21158
log.json includes a list of actions made to the registry. Once the log file reaches 10MB a snapshot is created. Snapshot includes current registry state in data.json-like format but under a file named `<last-action-id>.json`.

There is also active.dat file including the path to last snapshot file.

I might be not fully right here and beats developers are the best to ask for a comment.

[2020-09-18 14:14] kevinlog commented on #21121
What's important to me is that we still have the `elastic.agent.id` in the Endpoint so that we can use it in the app.  It `elastic.agent.id` and `agent.id` end up being the same, that's fine too.

[2020-09-18 14:21] immon opened #21174 "filebeat registry constantly updated"
For confirmed bugs, please report:
- Version: `filebeat version 7.9.1 (amd64), libbeat 7.9.1 [ad823eca4cc74439d1a44351c596c12ab51054f5 built 2020-09-01 19:58:51 +0000 UTC]`
- Operating System:  Ubuntu 18.04

- Steps to Reproduce:

I was playing with filebeat to understand how new registry format works and noticed the following (incorrect) behaviour:

1. create a lot files in `/tmp/fb/`
[code]

2.

[2020-09-18 14:23] immon commented on #21174
cc @urso

[2020-09-18 14:52] urso commented on #21174
Startup, event publishing and registry updates are currently interleaved, which can lead to very long startup times. If you have many files, the log file will indeed grow much faster, which forces a checkpoint much more often. Before filebeat 7.9.0 the checkpoint did happen after every ACK from the outputs.

Which output has been used? All state updates (even internal ones) need to be ordered with

[2020-09-18 19:36] #13740 closed

[2020-09-18 20:01] NetAppBlueDevil opened #21180 "Unable to use codec format for values which appear in json output in in scientific notation"
Metricbeat 7.9.1

RHEL 7

I'm trying to format my output as a string rather than json for jolokia metrics

My output codec format appears like

  codec.format:
    string: '%{[@timestamp]} host=%{[host.name]} start_time=%{[jolokia.metrics.start_time]}'

When using the default json format, the outputs that are large integers are included in scientific notation format (why? that is more characters t

[2020-09-19 00:47] dedemorton commented on #19054
/guide/en/beats - done
/guide/en/beats/ - done
/guide/en/beats/libbeat/current/setup-repositories.html - done
/guide/en/beats/libbeat/current/breaking-changes-6.3.html - done
/guide/en/beats/libbeat/current/logstash-installation.html - done
/guide/en/beats/filebeat/current/exported-fields-beat.html
/guide/en/beats/filebeat/current/config-filebeat-logstash.html
/guide/en/beats/filebeat/current/expo

[2020-09-19 00:51] seanhoughton opened #21188 "Module dependency on Shopify/sarama is broken with every versioned release"
- Version: go 1.14.3
- Operating System: linux (ubuntu 20.04)

- Steps to Reproduce:

create main.go with the following content

[code]
run `go build`

output is

[code]

[2020-09-19 01:13] dedemorton commented on #19054
Most of these redirects are already set up so I'm going to close this. I've requested redirects for the 2 remaining (seems like they are the result of people guessing at the URL).

[2020-09-19 01:13] #19054 closed

[2020-09-19 07:46] elasticmachine commented on #21188
Pinging @elastic/integrations-services (Team:Services)

[2020-09-19 07:50] elasticmachine commented on #21180
Pinging @elastic/integrations-services (Team:Services)

[2020-09-19 09:50] elasticmachine commented on #21174
Pinging @elastic/integrations-services (Team:Services)

[2020-09-19 09:51] elasticmachine commented on #21171
Pinging @elastic/siem (Team:SIEM)

[2020-09-19 09:53] elasticmachine commented on #21167
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-19 15:36] #13748 closed

[2020-09-19 19:36] #13752 closed

[2020-09-19 20:36] #13755 closed

[2020-09-20 16:43] andresrc opened #21189 "Document usage of filebeat with OpenShift"
Our solution currently work with OpenShift, both with Docker and CRI-O. However this is not shown in the documentation.

The goal of this issue is to document this support, providing if possible example manifests, for both 7.x and 6.8.x.

[2020-09-20 16:43] elasticmachine commented on #21189
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-21 01:44] geekpete commented on #8016
It seems that File Spool Queue is fairly baked at this point?
Any direction with the unified Elastic Agent that might make this relevant again?

[2020-09-21 05:19] pwen090 opened #21190 "filebeat azure module not mapping event.category for activitylogs"
Filebeat Azure module does not seem to be mapping Azure activitylogs event.category field. This causes most Azure detections to fail. For example rules like "Azure Diagnostic Settings Deletion" will not match because event.category is missing. The event is shown in Elastic with category set within azure.activitylogs.properties.eventCategory but this does not seem to be mapped to event.category whi

[2020-09-21 06:54] immon commented on #21174
I was using elasticsearch output. ES was running locally.
I am able to reproduce exactly the same behavior with console output.

The picture is worth thousands words so here is how it looks:

![output](https://user-images.githubusercontent.com/541494/93738164-63488100-fbe5-11ea-9a34-70b2680bc8e2.gif)

To me it is not progressing as it should.

And yes, in the above test I've hit file descriptor li

[2020-09-21 07:44] elasticmachine commented on #21190
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-21 08:22] adriansr opened #21192 "[Auditbeat] System socket panics with concurrent map read and write"
For confirmed bugs, please report:
- Version: 7.8.1
- Operating System: Linux
- Discuss Forum URL: -
- Steps to Reproduce:

Auditbeat running the system/socket dataset with default config panics with the following stack traces:

[code]

[2020-09-21 08:22] elasticmachine commented on #21192
Pinging @elastic/siem (Team:SIEM)

[2020-09-21 08:29] #20967 closed

[2020-09-21 11:49] andresrc opened #21198 "Check ingress_controller fileset compatibility with newer versions"
According to the documentation, the `ingress_controller` fileset has been tested with version 0.28.0 of [ingress-nginx](https://github.com/kubernetes/ingress-nginx).

However, there have been multiple additional [releases](https://github.com/kubernetes/ingress-nginx/releases) (up to 3.x). We should check whether the fileset works with newer versions and document it.

[2020-09-21 11:49] elasticmachine commented on #21198
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-21 12:57] #17572 closed

[2020-09-21 13:40] blakerouse commented on #21167
@michalpristas Doesn't Agent already perform retries?

[2020-09-21 13:56] pauvos commented on #13607
Happens to me as well (7.9.0, docker autodiscover). Filebeat closes and reopens the missing container log file serveral times due to inactivity and then simply stops watching the file after a while.

Just curios, do you guys have logrotation enabled for docker (I do...)?

[code]

[2020-09-21 14:11] andresrc commented on #21104
We should add it to the documentation.

[2020-09-21 14:11] elasticmachine commented on #21104
Pinging @elastic/obs-docs (Team:Docs)

[2020-09-21 14:47] stevewritescode commented on #20103
Wanted to follow-up on this and let you know that I built 7.x branch and setup aws billing with the example steps in the PR, and I was able to see daily unblended costs by service, which is exactly what I wanted! I double checked with the AWS cost explorer console to make sure the numbers matched. Works great!

[2020-09-21 14:48] EricDavisX opened #21200 "[Fleet] Elastic-Agent doesn't start up with .rpm / .deb usage (with enroll cmd)"
I need to put details in... I can grab what logs do exist. But during the weekly sync we realized this wasn't logged so I'm dropping a ticket in. Tested with 8.0

The e2e-testing work is finding this bug:

edavis$ OP_LOG_LEVEL=TRACE DEVELOPER_MODE=true ELASTIC_AGENT_USE_CI_SNAPSHOTS=false ELASTIC_AGENT_VERSION=8.0.0-SNAPSHOT godog -t "endpoint-policy-check"

manual testing finds the same. linux .t

[2020-09-21 14:48] elasticmachine commented on #21200
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-21 14:51] narph commented on #21125
hi @JameySteinmann , the strict regular expression put in place to avoid the situation in the previous issue seems to affect cases as these:

[code]

We will have to take this instance format in account and maybe rethink adding an option to collect the entire instance name, including the counter.

[2020-09-21 16:09] ph commented on #21200
I wouldnt be surprised that debian is also broken. The package generation is quite similar between the two using fpm.

[2020-09-21 16:31] seanhoughton commented on #21188
It looks like the cause of this problem is `replace` directives in the beats `go.mod` file. These are not inherited by dependent projects (see https://github.com/golang/go/issues/37261) and are only intended for local development. If replacements are required for this module to build I would suggest making them very clear in the readme documentation.

As of v7.9.1 all downstream projects will need

[2020-09-21 16:59] ph commented on #21167
I don't think this is the case today.

Are you suggesting an infinite retry with a backoff?

[2020-09-21 18:02] EricDavisX commented on #21200
here is what I did to get started:

from history output:
   30  sudo rpm -vi elastic-agent-8.0.0-SNAPSHOT-x86_64.rpm
   32  sudo elastic-agent enroll https://8040186313ec4a228ecc22ebee9ed2c4.us-central1.gcp.foundit.no:443 YW9mUm9YUUJWMUZuVTV1TlJNeTQ6WjBTQ3R6VFZUb0toeTBEQ05CcGVlQQ==
   34  sudo systemctl enable elastic-agent
   35  sudo systemctl start elastic-agent

Here is what systemctl says aft

[2020-09-21 18:06] #20990 closed

[2020-09-21 18:55] dedemorton commented on #18426
@EamonnTP When you work on this issue, please check the troubleshooting topic about this problem to see if it can be improved, too: https://www.elastic.co/guide/en/beats/metricbeat/current/could-not-locate-index-pattern.html

[2020-09-21 20:09] dedemorton commented on #20970
Also there's a very old issue open here that we should resolve: https://github.com/elastic/beats/issues/7603

[2020-09-22 03:54] dedemorton commented on #20970
Looked into this a bit more.... It looks like the "publish" selector does still exist, but it doesn't show the published events like it has in previous releases. I'm not sure when the behavior changed, but users who expect to see the published events will be disappointed.

Users who want to see the published events are better off running in debug mode with _no_ selectors, or specifying the "proces

[2020-09-22 05:22] david-kow commented on #21167
I was initially thinking about a configurable retry that allows specifying retry count and timeout with backoff. But I realized that for any successful enrolment, one would need to query Kibana first to obtain the token, so being resilient against Kibana not yet started is not really that useful. If there would be a command that didn't require knowing the token upfront (and, for example, use the d

[2020-09-22 07:24] ChrsMark commented on #21198
Thanks for opening this @andresrc . The thing here is that versioning is a little bit tricky. Note that there is versions like `3.x` named `ingress-nginx-3.2.0` and versions like `v0.35.0` named `controller-v0.35.0`.
`3.2.0` is the helm chart version, in that chart is running ingress controller version `0.35.0`.

The version we are interested in is just he `controller` version.
So we tested the fi

[2020-09-22 08:19] #20752 closed

[2020-09-22 08:25] ruflin commented on #20679
I've been thinking about this again and I'm hesitant to implement a  generic way on how to support the global configs. I think we should tackle it one by one when we have a need / request for a certain feature and if we see a pattern after 2-3 changes, we should find a generic solution instead of doing it upfront.

I went again through all existing config options and I think there are cases, where

[2020-09-22 09:10] kvch commented on #21188
Replace directives are indeed have to be added to your `go.mod` file. However, AFAIK it has not changed in v7.9.1, but was the case since adopting go modules. Our Beat generator automatically adds the replace directives to the `go.mod` file of the generated Beat. May I ask why are you not using it?

[2020-09-22 09:11] kvch commented on #19479
This issue is for an old version of beats, I suggest to try out the latest version of beats. If this is still a problem in the newly released version feel free to reopen this issue. Thanks.

[2020-09-22 09:11] #19479 closed

[2020-09-22 09:22] DanielWagner87 commented on #15112
Together with @mmathea-ep we could now solve the problem and build a running Docker Image. Apparently Python is required for the `functionbeat` executable to work.

This is our Dockerfile:

[code]

You can run it via:

[code]

Starting from your current directory the folder `/config` is mounted into the container. In this folder you should place the config file functionbeat.yml.

[2020-09-22 11:17] jsoriano commented on #21120
I have also found this issue while testing this change https://github.com/elastic/beats/pull/21213

It looks like the `operation-install` happens twice, but second one is skipped and then agent tries to start the service, while the first installation is happening:
[code]

The check for the install operation seems to check only if the directory exists: https://github.com/elastic/beats/blob/78dc0cfe

[2020-09-22 12:42] #21198 closed

[2020-09-22 13:02] andrewkroh commented on #20694
@NeilADesai shared his Logstash config for parsing the DNS logs at https://github.com/NeilADesai/CiscoUmbrellaDNS/tree/master.

[2020-09-22 13:07] narph opened #21218 "Supported metric in Microsoft.Compute/virtualMachines namespace does not look to return any values"
In azure/compute_vm metricset atm we retrieve all metric definitions, group them and then collect values based on their names.
We see a few new(?) metrics added to the `Microsoft.Compute/virtualMachines` namespace (when retrieving the metric definitions https://management.azure.com//subscriptions/{sub}/resourceGroups/{group}/providers/Microsoft.Compute/virtualMachines/{name}/providers/microsoft.in

[2020-09-22 13:07] elasticmachine commented on #21218
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-22 13:33] leehinman opened #21220 "Improve config validation in winlogbeat"
**Describe the enhancement:**

configuration validation in winlogbeat/eventlog/factory.go is brittle and can be broken by new fields outside the scope of eventlog input.

**Describe a specific use case for the enhancement or feature:**
make ongoing support easier

Related elastic/beats#21205

[2020-09-22 13:36] elasticmachine commented on #21220
Pinging @elastic/siem (Team:SIEM)

[2020-09-22 13:58] jamiehynds commented on #20694
@P1llus does your DevNet account include Umbrella? Could be an easy way to generate some sample events for Proxy, IP and Cloud Firewall.

[2020-09-22 14:05] masci commented on #20430
Talked about this internally, we agreed that given the complexity we won't implement this feature in beats anytime soon  but using a [script processor](https://www.elastic.co/guide/en/elasticsearch/reference/master/script-processor.html) might be a good solution to dedupe at ingest time.

[2020-09-22 14:05] #20430 closed

[2020-09-22 14:28] ChrsMark commented on #20813
Thanks for reporting this @chendo! I opened a PR for this feel free to have a look.

[2020-09-22 14:32] P1llus commented on #20694
The Umbrella is a cloud based solution so devnet don't have anything for that, but they do have specific logins for trials on Umbrella + a MSP/MSSP trial potential: https://signup.umbrella.com/

Should be pretty quick to get a demo up.

[2020-09-22 14:47] kaiyan-sheng commented on #21126
@EmViKay I believe we added `aws/lambda` support into Metricbeat in 7.7 release. That's why it's showing not found in 7.4.2. Could you please upgrade to newer version Metricbeat please? Thanks! I will close this issue for now.

[2020-09-22 14:47] #21126 closed

[2020-09-22 15:03] Furb13 commented on #20694
I can get you some scrubbed DNS and proxy logs, but don't have the IP or Cloud Firewall ones. Let me know if that would be helpful.

[2020-09-22 15:10] ph commented on #20679
@ruflin I  agree with that.

So +1 to close it and let it drive by user requests/need. This also reduce our cognitive load to an MVP/GA.

[2020-09-22 15:22] P1llus commented on #20694
I think the initial part will have to see if we have beat functionality that can read compressed files on S3, the biggest issue there is that I currently don't have access to a S3 endpoint to test that, however that is something that might be able to be resolved :+1:

In terms of parsing and creating a pipeline that can happen before the input has been resolved, so that its ready once we figure ou

[2020-09-22 15:46] P1llus commented on #20694
Looking at the code the s3 input does have references to unzipping files that are gzipped. @Furb13 maybe you would have the possibility to test it out?
Would be interesting to see how it looks like when its being read. Since its CSV we just need to use a key-value processor to split up the data and map it to ECS :)

[2020-09-22 15:49] webmat commented on #21051
Yeah step 1 of before working on an ECS package is literally just to produce new artifacts in the ECS project (tracked here https://github.com/elastic/ecs/issues/961), but @jaakoob has already chimed in over there :-)

[2020-09-22 17:36] #13765 closed

[2020-09-22 19:14] ph opened #21231 "[Elastic Agent] Allow the elastic agent to receive new Kibana host and reconnect to them."
in https://github.com/elastic/kibana/issues/72731 we have added support for configuring multiple Kibana host in the UI but we haven't completed the loop on the Elastic Agent side.

[2020-09-22 19:14] elasticmachine commented on #21231
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-22 19:14] ph commented on #21231
@blakerouse I think we previously had a discussion concerning how we could handle theses kind of changes on the Elastic Agent, did we meant to restart the Agent on some configuration changes?

[2020-09-22 20:45] andrewkroh opened #21232 "Custom index patterns not fully handled by dashboards"
There are two parts that are not being updated when setting a custom index pattern via `setup.dashboards.index`.

1. Timelion expressions containing index patterns are not updated. [example](https://github.com/elastic/beats/blob/ad823eca4cc74439d1a44351c596c12ab51054f5/x-pack/filebeat/module/netflow/_meta/kibana/7/dashboard/filebeat-netflow-autonomous-systems.json#L221-L227)
1. `index-pattern` ref

[2020-09-22 23:55] seanhoughton commented on #21188
The beat I was working on was generated with the tools before the go module support was added and I was working on making it work with modules. The migration docs don't mention anything about updating your go.mod file

https://www.elastic.co/guide/en/beats/devguide/current/newbeat-migrate-gomodules.html

I ran in to a ton of problems updating the beat to work with v7.9.1 (it still doesn't work wit

[2020-09-23 00:07] nan140114 commented on #21095
There is some workaround for this issue? I'm experiencing the same.

[2020-09-23 00:19] chendo commented on #20813
@ChrsMark no worries! I had a look and my only concern is the total response length may not make sense if the client only receives the last response

[2020-09-23 01:26] kaiyan-sheng commented on #21095
Hello! Sorry about this bug! Could you try adding an account alias to your aws account? That would be the temporary workaround for now.

[2020-09-23 03:10] opsarno opened #21234 "[filebeat 7.9.1] error: Elasticsearch returned: couldn't load template: couldn't load json."
system verison: `CentOS Linux release 7.8.2003 (Core)`
elastic version: `7.9.1`

elasticsearch
[code]

metricbeat
[code]

filebeat
[code]

filebeat error
[code]

is bug ?

[2020-09-23 03:54] SlavikCA commented on #14217
fixed by https://github.com/elastic/beats/pull/14218

[2020-09-23 03:54] #14217 closed

[2020-09-23 07:27] ruflin commented on #20679
@exekias @andresrc WDYT? Closing ok for you?

[2020-09-23 07:27] #21234 closed

[2020-09-23 07:29] exekias commented on #20679
SGTM

[2020-09-23 07:29] elasticmachine commented on #21232
Pinging @elastic/integrations-services (Team:Services)

[2020-09-23 07:50] elasticmachine commented on #19641
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-23 07:50] elasticmachine commented on #19787
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-23 07:50] elasticmachine commented on #19795
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-23 07:50] elasticmachine commented on #19800
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-23 07:50] elasticmachine commented on #19835
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-23 07:54] andresrc opened #21235 "Review windows flaky tests"
As part of the migration to the new pipeline, we have found [several test issues](https://github.com/elastic/beats/issues?q=is%3Aopen+is%3Aissue+author%3Av1v+label%3ATeam%3APlatforms) that are blocking enabling the windows side. We should investigate them and either fix or disable them.

[2020-09-23 07:54] elasticmachine commented on #21235
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-23 10:39] sorantis commented on #18295
If that's documented and not enabled by default, I don't see why not

[2020-09-23 10:55] immon opened #21243 "event.created field in modules pipeline"
**Describe the enhancement:**

I want to bring under discussion the topic how ingest pipelines create `event.created` field.

Pipelines assume that ingested event has `@timestamp` field present. That's true when filebeat ships the log.

The problem is that if we use Pipeline Simulate API it  generates an `error.message` when it's used with test document.

Here is a screenshot showing this behavior

[2020-09-23 12:06] rahulgupta-qasource opened #21244 "elastic-agent install 'interactive' command is unable to enroll the agent into Fleet"
**Kibana version:**
Kibana: 8.0.0-SNAPSHOT

**Elasticsearch version:**
Elasticsearch: 8.0.0-SNAPSHOT

**Host OS and Browser version:**
Windows 10 , All

**Original install method (e.g. download page, yum, from source, etc.):**
From 8.0.0-SNAPSHOT on staging cloud environment https://staging.found.no/

**Description**
elastic-agent install command is unable to enroll the agent into Fleet

**Precond

[2020-09-23 12:07] elasticmachine commented on #21244
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-23 12:08] rahulgupta-qasource commented on #21244
@muskangulati-qasource Please review the bug

[2020-09-23 12:32] muskangulati-qasource commented on #21244
Reviewed & assigned to @EricDavisX .

[2020-09-23 12:43] kvch commented on #21188
There is a section about adding the replace directives:

Is this not clear? Should we reword it?

[2020-09-23 12:44] rahulgupta-qasource opened #21247 "elastic-agent uninstall command is unable to uninstall the elastic-agent on endpoint"
**Kibana version:**
Kibana: 8.0.0-SNAPSHOT

**Elasticsearch version:**
Elasticsearch: 8.0.0-SNAPSHOT

**Host OS and Browser version:**
Windows 10 , All

**Original install method (e.g. download page, yum, from source, etc.):**
From 8.0.0-SNAPSHOT on staging cloud environment https://staging.found.no/

**Description**
elastic-agent uninstall command is unable to uninstall the elastic-agent on endpo

[2020-09-23 12:44] kvch commented on #21188
Also, for these issues, please open a question on Discuss next time, not a GH issue. GH issues are reserved for confirmed bugs, not questions.

[2020-09-23 12:44] elasticmachine commented on #21247
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-23 12:45] rahulgupta-qasource commented on #21247
@muskangulati-qasource Please review the bug.

[2020-09-23 12:55] ChrsMark opened #21248 "Implement istiod metricset"
**Describe the enhancement:**
Implement a single metricset to collect Prometheus metrics from `istiod`. Implementation can be as a light-weight module on top of Prometheus module. Part of https://github.com/elastic/beats/issues/15505.

See https://github.com/elastic/beats/issues/15505#issuecomment-692751240

**Describe a specific use case for the enhancement or feature:**
This metricset will be th

[2020-09-23 12:55] elasticmachine commented on #21248
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-23 13:10] ChrsMark opened #21249 "Implement Dashboards for Istio module"
**Describe the enhancement:**
Implement Dashboards for Istio module.
Part of https://github.com/elastic/beats/issues/15505.

[2020-09-23 13:10] elasticmachine commented on #21249
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-23 13:11] neptunian commented on #21001
@ruflin Should we also be guarding against trying to upgrade if their version is < 7.10 in which case it's not possible to upgrade it?

[2020-09-23 13:28] ph commented on #21001
@neptunian Yes I think this is a good idea. a lot of things changed between 7.9 and 7.10, structure on disk etc.

[2020-09-23 13:38] kaiyan-sheng opened #21251 "Move lambda metricset in aws module to GA"
- Ensure the [requirements](https://github.com/elastic/beats/blob/master/.github/ISSUE_TEMPLATE/module-checklist.md) are met.
- Move the module to GA

[2020-09-23 13:52] rahulgupta-qasource commented on #21019
Hi Eric

We have validated this ticket on 8.0 snapshot cloud environment.

We have Executed 12 testcases under [Elastic Agent] Install/uninstall subcommand  TestRun and reported 02 bugs:
https://github.com/elastic/beats/issues/21244
https://github.com/elastic/beats/issues/21247

[2020-09-23 14:06] muskangulati-qasource commented on #21247
Reviewed & assigned to @EricDavisX

[2020-09-23 14:10] EricDavisX commented on #21244
confirmed on Windows (as seen here) and macOS (by Eric, screenshots sent to Blake)

[2020-09-23 14:18] elasticmachine commented on #21251
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-23 14:20] blakerouse commented on #21231
@ph The idea is that this information will be sent down from Fleet in the configuration, from there Agent will update its connection information. I do not see the need for Agent to have to restart in this case.

I think the only real case we need Agent to do a full restart is switching between standalone more and Fleet mode.

[2020-09-23 14:28] ph commented on #21231
@blakerouse sound good, the above PR does exactly that, So I think we need to update the local hosts list and probably reconnect to rebalance the connections.

For the restart I was thinking about logging change.

[2020-09-23 14:34] neptunian commented on #21001
@ph @hbharding Are we wanting to still show the "Upgrade Available" indications in the UI and just disable the actual upgrade buttons or not show these indications at all if they can't take the action?

[2020-09-23 14:54] blakerouse commented on #21247
This is correct behavior. As it states you must perform:

`C:\Program Files\Elastic\Agent\elastic-agent.exe uninstall`

A non-installed Elastic Agent cannot uninstall an installed agent.

[2020-09-23 14:54] #21247 closed

[2020-09-23 15:00] MakoWish commented on #19627
Still looking for a fix on this. Any update? We are now running Winlogbeat 7.9.1 and the issue is still present.

[code]

[2020-09-23 15:44] bm11100 opened #21259 "Azure module event.category incorrectly mapped"
## Description
Our team is currently working on Azure rules and it appears that `event.category` in the Azure module has incorrect field mappings. We are seeing `event.category:Administrative`  for Activity logs and `event.category:AuditLogs` for Audit logs. According to the [documentation](https://www.elastic.co/guide/en/ecs/current/ecs-allowed-values-event-category.html), neither appear to be va

[2020-09-23 15:44] blakerouse commented on #21231
@ph Yes probably will have to restart on logging change.

[2020-09-23 16:17] bm11100 commented on #21259
spoke to @leehinman. looks like this is a non issue in version 7.9. I have not confirmed, but will close based on his feedback pointing to this PR - https://github.com/elastic/beats/pull/19376

[2020-09-23 16:17] #21259 closed

[2020-09-23 16:22] arshpunia commented on #8311
@jsoriano Is there any workaround available for general log messages such as:
`Sep 23 16:12:51 <hostname> haproxy[22368]: Proxy My_Web_Server started.`

[2020-09-23 16:36] #2854 closed

[2020-09-23 16:41] kuisathaverat opened #21260 "Mark flaky tests for retry 5 times"
## Flaky Test

There are 4-5 test that failed contantily and causes that the main build do not success and that does not trigger some task related with successful build, due that I am going to review a week of builds or so and mark all the test that fails more than one time as flaky and retry them 5 times using [pytest-rerunfailures](https://github.com/pytest-dev/pytest-rerunfailures#re-run-indivi

[2020-09-23 17:06] ycombinator opened #21261 "Input version compatibility tests"
The goal of these tests is to definitively determine which versions of an integration service are supported by that integration's input.

Input: running live integration service (once per version to be tested).
Process: for each version to be tested, set up instance of integration service (docker compose or terraform); configure appropriate Beat with input + file output; collect JSON documents fro

[2020-09-23 17:06] elasticmachine commented on #21261
Pinging @elastic/integrations (Team:Integrations)

[2020-09-23 17:43] EricDavisX commented on #21244
note, the usage above is actually a 'negative' test which is passing, because it uses the enrollment token uuid instead of the token itself, the 'secret' which is the string that ends with the == in the UI.

<img width="449" alt="Screen Shot 2020-09-23 at 1 42 55 PM" src="https://user-images.githubusercontent.com/12970373/94049245-b87dc180-fda2-11ea-84b8-8c1dac6d65b5.png">

So I can close this out

[2020-09-23 17:43] #21244 closed

[2020-09-23 18:00] pwen090 commented on #21259
This is still an issue in 7.9.1 see #21190 rules do not fire properly and also your point on documentation still stands.

[2020-09-23 18:05] EricDavisX commented on #21019
Here is my update, a few notes, questions, issues we're seeing in initial testing.  We're getting up the hill on the learning curve for the new usage, thanks for the help everyone.

About the above command Rahul uses, it is trying to use the uuid of the token, not the actual token secret itself, so its actually a negative test that is passing (we don't expect this to work).  :)
 - the install comm

[2020-09-23 18:07] bm11100 commented on #21190
We'll be updating all the detection rules to remove `event.category` - https://github.com/elastic/detection-rules/issues/333

These rules are targeted for the 7.10 release.

[2020-09-23 18:14] leehinman commented on #21190
@pwen090 do you have a list of expected values for azure.activitylogs.properties.eventCategory that we could use for a mapping to event.category ?

[2020-09-23 18:28] bm11100 commented on #21259
@pwen090 please see https://github.com/elastic/detection-rules/issues/333 to address this issue.

[2020-09-23 18:44] #21251 closed

[2020-09-23 18:47] gwsales opened #21269 "Auditbeat mapping wrong item to file object"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2020-09-23 19:58] BenB196 opened #21270 "[Filebeat][Okta] Ability to set request parameters via Okta Module"
**Describe the enhancement:**

It would be nice to be able to set the system-logs API [request parameters](https://developer.okta.com/docs/reference/api/system-log/#request-parameters) via the module config.

**Describe a specific use case for the enhancement or feature:**
Use case is to better refine what data is being pulled from the module. Currently extremely large Okta environments can take h

[2020-09-23 20:01] seanhoughton commented on #21188
Somethow I missed that line in the docs. Sorry for the GH issue, I brought up the next problem I had on the forum.

[2020-09-23 20:01] #21188 closed

[2020-09-23 20:56] anna-yn opened #21271 "The statsd metricbeat module shouldn't treat each metric as a separate field"
**Describe the enhancement:**
Currently the statsd module reports each metric as a separate field, for example, here are some of the statsd fields from our metricbeat index:

[code]

Each field like `15m_rate`, `1m_rate`, `5m_rate` is a separate field too.

In our previous metrics collector, the statsd module put all the different metric names in a field called `name`. I think this way things are

[2020-09-23 21:36] #9212 closed

[2020-09-23 22:27] synikitin opened #21274 "Winlogbeats Windows object name GUID translation"
Hi,

I know translation of SIDs got added. Is there any plan to add GUID translations? Tying this back to https://discuss.elastic.co/t/winlogbeat-displaying-guid-in-windows-events-instead-of-object-name/71442.

It seems possible given Splunk's  universal forwarded has an option for this https://community.splunk.com/t5/Getting-Data-In/Translate-GUID-in-Windows-Event-Log/m-p/104021.

[2020-09-24 00:47] dedemorton commented on #15021
I'm going to close this because I don't think it's a high priority given other work that's in our backlog. I will clean this up if I open the files for other reasons.

[2020-09-24 00:47] #15021 closed

[2020-09-24 01:15] wasserman opened #21276 "External Heartbeat checks via custom scripts"
**Describe the enhancement:**
It would be helpful if users could write scripts that can emit health data for easy integration with Uptime.  This would allow users to implement advanced business logic and complex scenarios.

Some possible ways to do this would be:
1. Create a library (Python and/or Go) to emit heartbeat compatible events that would show up in Uptime.
2. Add the capability for Heart

[2020-09-24 03:17] andrewkroh commented on #21243
The pipelines are made for use with Filebeat and may have requirements for fields like `@timestamp` that Filebeat produces. Because we know that Filebeat always produces certain fields it's safe for a pipeline to depend on them. And by having that hard failure (not ignoring missing) we get much more clear signal that something is wrong when fields are missing. So I would prefer not to add `ignore_

[2020-09-24 03:28] andrewkroh commented on #19627
Can you try setting up a dead letter queue to capture the event that's failing to index. https://www.elastic.co/guide/en/logstash/current/dead-letter-queues.html

[2020-09-24 05:01] newly12 opened #21278 "should not emit fsnotify watcher error for files match excluded_files pattern"
**Describe the enhancement:**
as title

**Describe a specific use case for the enhancement or feature:**
warning errors are flooding while there is no way to stop it, sample logs is attached as below, some paths of source code in the stack trace are masked.

[code]

[2020-09-24 06:47] ruflin commented on #21001
Perhaps we can turn this on the head to simplify things. An Elastic Agent must report that it is upgradable, so the default is it is not. Like this we don't have to cover all the special cases where it is not but the Agent does.

[2020-09-24 06:50] immon commented on #21243
Thanks for the comment Andrew.
We stumbled upon this issue trying to inspect nginx pipeline behavior and verify accepted log format of ingress_controller fileset. Seeing an error in pipeline simulate API was unexpected and only raised additional questions.

I agree with your arguments but I think that user experience could have been improved. Having a `script` processor like below before [rename](

[2020-09-24 07:09] ruflin commented on #21231
I would hope fo the logging change we don't need a restart but I assume this is off topic here. Do we have an issue to discuss this further?

[2020-09-24 07:17] elasticmachine commented on #21278
Pinging @elastic/integrations-services (Team:Services)

[2020-09-24 07:19] elasticmachine commented on #21276
Pinging @elastic/uptime (Team:Uptime)

[2020-09-24 07:20] andresrc commented on #21276
Requires https://github.com/elastic/beats/issues/18323

[2020-09-24 07:22] elasticmachine commented on #21274
Pinging @elastic/siem (Team:SIEM)

[2020-09-24 07:23] elasticmachine commented on #21271
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-24 07:25] elasticmachine commented on #21270
Pinging @elastic/siem (Team:SIEM)

[2020-09-24 07:25] elasticmachine commented on #21269
Pinging @elastic/siem (Team:SIEM)

[2020-09-24 07:28] elasticmachine commented on #21243
Pinging @elastic/integrations (Team:Integrations)

[2020-09-24 07:31] ChrsMark opened #21281 "[Filebeat] Add Istio filebeat module"
**Describe the enhancement:**
Create a Filebeat module to collect [Istio](https://istio.io/) logs.
Part of #15505

[2020-09-24 07:31] elasticmachine commented on #21281
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-24 07:39] andresrc commented on #20679
+1

[2020-09-24 07:44] jsoriano commented on #8311
Not that I know, we would need to add a "catch-all" grok pattern in the pipeline: https://github.com/elastic/beats/blob/fab73dd058e152ac67918893d9f74bcc6aac1bbf/filebeat/module/haproxy/log/ingest/pipeline.yml

[2020-09-24 09:02] sorantis commented on #21271
@Nevvea7 thanks for filing the issue. We've reviewed it and added to our backlog.

[2020-09-24 09:17] ynirk opened #21286 "[Filebeat][S3] support S3 fips endpoint on govcloud regions"
**Describe the enhancement:**
AWS govcloud regions have a specific fips S3 endpoint for govcloud/fedramp compliances [ref](https://docs.aws.amazon.com/govcloud-us/latest/UserGuide/using-govcloud-endpoints.html).

The only thing that change is the service name being `s3-fips` instead of `s3` (ex: s3-fips.us-gov-east-1.amazonaws.com). We can't use the `endpoint` setting as it would change the endpoi

[2020-09-24 09:17] elasticmachine commented on #21286
Pinging @elastic/siem (Team:SIEM)

[2020-09-24 10:20] drewboswell opened #21288 "Add GPU metrics for host and docker"
**Describe the enhancement:**
Add gpu metrics for both host and docker images

**Describe a specific use case for the enhancement or feature:**
Track gpu usage by host and by docker image. Use case when doing gpu calculations, to verify resource usage.

[2020-09-24 10:47] wangbaocongnb commented on #16312
Have you solved this problem?

[2020-09-24 11:59] jsoriano commented on #20996
I am closing this after reviewing/fixing these cases:
* Auditbeat fails with default configuration if run without root user, but also if run without other privileges, so `USER root` only doesn't help. All this is documented and I remove `USER root` in #21201.
* Elastic Agent can start filebeat and metricbeat with the default configuration without the need of `USER root`. Some services services or

[2020-09-24 11:59] #20996 closed

[2020-09-24 12:43] thernstig opened #21293 "[Filebeat] Autodiscover enabling when Pods are already running in the cluster"
**Describe the enhancement:**
The documentation for autodiscover and the Kubernetes provider states (https://www.elastic.co/guide/en/beats/filebeat/7.x/configuration-autodiscover.html):

If the cluster is already up and running when updating the filebeat config to include autodiscover, the docs do not indicate that it will start checking the already running Pods. Either the documents needs to be u

[2020-09-24 13:38] rahulgupta-qasource commented on #21019
Hi Eric,

We have created 11 testcases under Fleet ->install/uninstall section

and executed it under https://elastic.testrail.io/index.php?/runs/view/683&group_by=cases:section_id&group_order=asc

Observations:
For Windows 7 we tested again to install and uninstall with interactive and non-interactive method:
It does not installs successfully. We get an error if we start the service for agent.

!

[2020-09-24 13:38] gafbich opened #21294 "Auditbeat File Integrity (who changed \ renamed the file)"
En:
Good day, I ask you to help in configuring AuditBeat, the agent is deployed on Windows 10, ELK receives information about events. The problem is that when using the Auditbeat File Integrity module, if the controlled file is changed, I do not receive information about the user who made the change.
Ru:
Доброго дня, прошу оказать помощь в настройке AuditBeat, агент развернут на Windows 10, информ

[2020-09-24 14:20] blakerouse commented on #21001
@ruflin I like that idea, Agent should tell Kibana, yes I am upgradable, then Kibana should do the version comparison.

[2020-09-24 14:42] jsoriano opened #21295 "Flaky Test [Build&Test / libbeat-build / TestClientPublishEventKerberosAware – elasticsearch]"
## Flaky Test

* **Test Name:** TestClientPublishEventKerberosAware
* **Link:** https://github.com/elastic/beats/blob/a9db1b1f9421eb7372ae74faa8f6cd455148de94/libbeat/outputs/elasticsearch/client_integration_test.go#L57
* **Branch:** Failing in many PRs, for example [here](https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats/detail/PR-19645/3/pipeline#step-1509-log-107).
* **Notes:

[2020-09-24 14:42] elasticmachine commented on #21295
Pinging @elastic/integrations-services (Team:Services)

[2020-09-24 14:51] ph commented on #21001
:+1: Good plan @ruflin.

[2020-09-24 15:03] blakerouse commented on #21019
@rahulgupta-qasource I think you need to start with a fresh system or the package you are using is the wrong build. The name of the service using `./elastic-agent install` is always `Elastic Agent` on Windows, in your screenshots it is `elastic-agent`.

[2020-09-24 15:11] eirc opened #21297 "Beat names longer than 16 characters break the process stats reporting"
For confirmed bugs, please report:
- Version: 7.3.1
- Operating System: Linux
- Steps to Reproduce: Create a new beat with a name longer than 16 characters, run it. You'll get errors like:

[code]

The problem is in [libbeat/metric/system/process/process.go#L487](https://github.com/elastic/beats/blob/master/libbeat/metric/system/process/process.go#L487) where a check is made to ensure it has the r

[2020-09-24 15:50] v1v opened #21301 "[metricbeat][arm] Test failures TestAll, TestEventMapping, TestData, TestEventMappingV1_8"
## Flaky Test

* **Test Name:** TestAll, TestEventMapping, TestData, TestEventMappingV1_8
* **Link:** Link to file/line number in github.
* **Branch:** https://github.com/elastic/beats/pull/21284
* **Artifact Link:** Build logs in the CI -> [here](https://beats-ci.elastic.co/blue/rest/organizations/jenkins/pipelines/Beats/pipelines/beats-mbp-2.0/branches/PR-21284/runs/8/nodes/3793/steps/7307/log/?

[2020-09-24 15:51] kuisathaverat opened #21302 "Flaky test : TestEventReader"
## Flaky Test

* **Test Name:** TestEventReader
* **Link:** https://github.com/elastic/beats/blob/becca8de135f41e94156e8040cf9a0d5c4800553/auditbeat/module/file_integrity/eventreader_test.go#L43
* **Branch:** Master
* **Artifact Link:** If available, attach the generated zip artifact associated with the stack trace for this failure.
* **Notes:** Additional details about the test. e.g. theory as to

[2020-09-24 15:53] kuisathaverat opened #21303 "Flaky test : TestRaces"
## Flaky Test

* **Test Name:** TestRaces
* **Link:** https://github.com/elastic/beats/blob/becca8de135f41e94156e8040cf9a0d5c4800553/auditbeat/module/file_integrity/eventreader_test.go#L243
* **Branch:** Master
* **Artifact Link:** If available, attach the generated zip artifact associated with the stack trace for this failure.
* **Notes:** Additional details about the test. e.g. theory as to fail

[2020-09-24 15:53] v1v opened #21304 "[xpack/metricbeat][arm] TestEventMapping,TestPromHistogramToES,TestData"
## Flaky Test

* **Test Name:** TestEventMapping,TestPromHistogramToES, TestData
* **Link:** Link to file/line number in github.
* **Branch:** https://github.com/elastic/beats/pull/21284
* **Artifact Link:** Build logs in the CI -> [here](https://beats-ci.elastic.co//blue/rest/organizations/jenkins/pipelines/Beats/pipelines/beats-mbp-2.0/branches/PR-21284/runs/8/nodes/3819/steps/8328/log/) or in [

[2020-09-24 15:55] kuisathaverat opened #21305 "Flaky test: test_docker"
## Flaky Test

* **Test Name:** test_docker
* **Link:** https://github.com/elastic/beats/blob/becca8de135f41e94156e8040cf9a0d5c4800553/filebeat/tests/system/test_autodiscover.py#L17
* **Branch:** Master
* **Artifact Link:** If available, attach the generated zip artifact associated with the stack trace for this failure.
* **Notes:** Additional details about the test. e.g. theory as to failure caus

[2020-09-24 15:56] kuisathaverat opened #21306 "Flaky test: test_default_settings"
## Flaky Test

* **Test Name:** test_default_settings
* **Link:** https://github.com/elastic/beats/blob/becca8de135f41e94156e8040cf9a0d5c4800553/filebeat/tests/system/test_autodiscover.py#L53
* **Branch:** Master
* **Artifact Link:** If available, attach the generated zip artifact associated with the stack trace for this failure.
* **Notes:** Additional details about the test. e.g. theory as to fa

[2020-09-24 15:59] kuisathaverat opened #21307 "Flaky test: test_reload_same_config"
## Flaky Test

* **Test Name:** test_reload_same_config
* **Link:** https://github.com/elastic/beats/blob/becca8de135f41e94156e8040cf9a0d5c4800553/filebeat/tests/system/test_reload_inputs.py#L254
* **Branch:** Master
* **Artifact Link:** If available, attach the generated zip artifact associated with the stack trace for this failure.
* **Notes:** Additional details about the test. e.g. theory as t

[2020-09-24 16:00] kuisathaverat opened #21308 "Flaky test: test_metricset_package"
## Flaky Test

* **Test Name:** test_metricset_package
* **Link:** https://github.com/elastic/beats/blob/becca8de135f41e94156e8040cf9a0d5c4800553/x-pack/auditbeat/tests/system/test_metricsets.py#L51
* **Branch:** Master
* **Artifact Link:** If available, attach the generated zip artifact associated with the stack trace for this failure.
* **Notes:** Additional details about the test. e.g. theory a

[2020-09-24 16:18] murali2904 commented on #8086
Hi All,

Even after disabling it I still get error in logs

 Failed to connect to backoff(elasticsearch(https://vpc-xxxx.eu-west-1.es.amazonaws.com:443)): Connection marked as failed because the onConnect callback failed: request checking for ILM availability failed: 401 Unauthorized: {"Message":"Your request: '/_xpack' is not allowed."}

output.elasticsearch:
      hosts: ['${ELASTICSEARCH_HOST:e

[2020-09-24 16:30] jsoriano commented on #21306
This should have been fixed by https://github.com/elastic/beats/pull/21242, please reopen if it is still an issue.

[2020-09-24 16:30] #21306 closed

[2020-09-24 16:30] jsoriano commented on #21305
This should have been fixed by https://github.com/elastic/beats/pull/21242, please reopen if this is still an issue.

[2020-09-24 16:30] #21305 closed

[2020-09-24 16:42] murali2904 commented on #8086
Same issue with Metricbeat as well

2020-09-24T16:41:15.091Z        INFO    [esclientleg]   eslegclient/connection.go:314   Attempting to connect to Elasticsearch version 7.7.0
2020-09-24T16:41:22.748Z        ERROR   [publisher_pipeline_output]     pipeline/output.go:154  Failed to connect to backoff(elasticsearch(https://vpc-xxxx.es.amazonaws.com:443)): Connection marked as failed because the onC

[2020-09-24 16:51] kaiyan-sheng commented on #20103
😬 @stevewritescode That's awesome. Thank you for testing this!!!

[2020-09-24 16:52] mdelapenya opened #21310 "[Elastic-Agent] Elastic Agent index "logs-elastic.agent-default" is sometimes not present"
We have a test scenario querying the elastic agent's log index in ES (`logs-elastic.agent-default`) which is randomly failing because the index is not found.

#### The test scenario (BDD)
[code]
This scenario starts a docker compose file with Elasticsearch, Kibana and the Package Registry, and adds to the compose file a docker container with the Elastic Agent image (_`When`_), for the default and

[2020-09-24 16:52] elasticmachine commented on #21310
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-24 17:07] elasticmachine commented on #21308
Pinging @elastic/siem (Team:SIEM)

[2020-09-24 17:09] elasticmachine commented on #21307
Pinging @elastic/integrations-services (Team:Services)

[2020-09-24 17:10] elasticmachine commented on #21303
Pinging @elastic/siem (Team:SIEM)

[2020-09-24 17:10] elasticmachine commented on #21302
Pinging @elastic/siem (Team:SIEM)

[2020-09-24 17:11] elasticmachine commented on #21301
Pinging @elastic/integrations-services (Team:Services)

[2020-09-24 17:13] MakoWish commented on #19627
@andrewkroh, Please see below. Redacted computer, user, and domain names, but these messages are from three different devices; all running 7.9.1 Winlogbeat.

[code]

[2020-09-24 17:13] elasticmachine commented on #21297
Pinging @elastic/integrations-services (Team:Services)

[2020-09-24 17:14] elasticmachine commented on #21294
Pinging @elastic/siem (Team:SIEM)

[2020-09-24 17:16] elasticmachine commented on #21293
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-24 17:17] elasticmachine commented on #21288
Pinging @elastic/integrations-services (Team:Services)

[2020-09-24 17:33] MakoWish opened #21317 "Difference Between Reporting of 'host.name' from Winlogbeat and other Beats"
- Version: 7.9.1
- Operating System: Windows (all)
- Discuss Forum URL:
- Steps to Reproduce: Install Winlogbeat and Metricbeat or Auditbeat. Compare host.name from Winlogbeat to host.name from Metricbeat or Auditbeat

Winlogbeat reports the 'host.name' field as a FQDN when other Beats report 'host.name' just as 'hostname' (not a FQDN).

This difference between Beats agents creates difficulty in p

[2020-09-24 17:33] blakerouse opened #21318 "[Elastic Agent] Report to Fleet when Agent can be upgraded"
Elastic Agent needs to report to Fleet when it is possible for it to be upgraded. If the Elastic Agent does not report that it can be upgraded, Fleet will assume that it is not upgradeable.

#21206 added the prevention of upgrading, but the reporting back to Fleet still needs to be added.

This is a follow up from the #21001 which was to just add the prevention, this is to track the reporting aspe

[2020-09-24 17:33] elasticmachine commented on #21318
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-24 17:34] blakerouse commented on #21001
The #21206 branch now includes the logic to prevent upgrading of Elastic Agent unless the conditions are correct.

I filed #21318 to cover the reporting aspect.

[2020-09-24 17:49] mdelapenya opened #21319 "[Elastic-Agent] Elastic Agent data streams are not present"
We have a test scenario querying the elastic agent's log index in ES (`logs-elastic.agent-default`) which is randomly failing because the index is not found.

#### The test scenario (BDD)
[code]
This scenario, which repeats with exactly same code for each row in the scenario Examples table, starts a Centos/Debian container using `systemd` as process manager, then it installs the proper package (RP

[2020-09-24 17:49] elasticmachine commented on #21319
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-24 18:03] mdelapenya commented on #21120
Update: with latest updates we see this error:

[2020-09-24T07:06:01.287Z] elastic-agent_1     | 2020-09-24T07:03:38.989Z	DEBUG	application/periodic.go:40	Failed to read configuration, error: could not emit configuration: operator: failed to execute step sc-run, error: operation 'operation-verify' failed to verify metricbeat.8.0.0-SNAPSHOT: 3 errors occurred:
[2020-09-24T07:06:01.287Z] elastic-age

[2020-09-24 18:12] blakerouse commented on #21120
@mdelapenya Can you file your last comment in a seperate issue, that is unrelated to the initial issue. Just want to be able to track it correctly and not get them confused.

[2020-09-24 18:14] mdelapenya commented on #21120
Sure, I can do it. I thought it was related because the observed results are the same: backend proceses are not started.

I'll do as you suggest and convert that comment in a new issue. Thanks!

[2020-09-24 18:15] mdelapenya opened #21320 "[Elastic-agent] .ASC files not being packaged into the Docker images"
Log error when running the image to enroll the agent:

[2020-09-24T07:06:01.287Z] elastic-agent_1     | 2020-09-24T07:03:38.989Z	DEBUG	application/periodic.go:40	Failed to read configuration, error: could not emit configuration: operator: failed to execute step sc-run, error: operation 'operation-verify' failed to verify metricbeat.8.0.0-SNAPSHOT: 3 errors occurred:
[2020-09-24T07:06:01.287Z] elas

[2020-09-24 18:16] elasticmachine commented on #21320
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-24 18:43] ph commented on #21320
@michalpristas @ruflin @blakerouse  Any idea how we could solve that for dockers images?  I am reluctant to disable the asc check in the docker images  but maybe its the only solution.

[2020-09-24 19:02] blakerouse commented on #21320
I don't know enough about the build process, but I assume that the docker image comes with metricbeat and filebeat built into it, so I would think adding the .asc files to it should follow the same path?

[2020-09-24 19:33] graphaelli opened #21322 "stack monitoring: libbeat bytes sent rate is always 0"
Discovered while investigating elastic/apm-server#4235, stack monitoring shows the same for other libbeat based applications:

<img width="949" alt="image" src="https://user-images.githubusercontent.com/83483/94191168-209fd680-fe7b-11ea-9b77-7baf34b387e7.png">

https://github.com/elastic/apm-server/issues/4235#issuecomment-698061904 looks like a good starting place to debug this

[2020-09-24 19:34] elasticmachine commented on #21322
Pinging @elastic/integrations-services (Team:Services)

[2020-09-24 19:52] somera opened #21324 "Filebeat 7.9.2 and PostgreSQL: "nicht unterstütztes Frontend-Protokoll 1234.5680: Server unterstützt 2.0 bis 3.0""
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2020-09-24 19:54] somera commented on #21324
Sorry, this could be other problem. I have to check this.

[2020-09-24 19:54] #21324 closed

[2020-09-24 19:56] graphaelli commented on #19410
awkward to +1 this since it's not awesome, but I just ran into this too `mapper [golang.apm-server.memstats.BySize.Frees] cannot be changed from type [float] to [long]`

[2020-09-24 21:27] andrewkroh commented on #19627
I've opened https://github.com/elastic/beats/pull/21325 to fix this.

[2020-09-24 22:48] ycombinator commented on #21322
Looks like a duplicate of #20752. If so, @kvch recently resolved this via https://github.com/elastic/beats/pull/21197.

[2020-09-25 00:14] Leaf-Lin opened #21327 "Record "host" in each pipeline"
**Describe the enhancement:**
It's currently difficult to see which pipeline is used by which server.

**Describe a specific use case for the enhancement or feature:**
![Ingest Pipeline Management](https://user-images.githubusercontent.com/39002973/94212471-9e192480-ff17-11ea-9a2b-c7638b87184c.png)

[2020-09-25 00:20] Leaf-Lin opened #21328 "semantic versioning of the pipelines"
**Describe the enhancement:**
Implement a semantic versioning of the pipelines, i.e. only change the version when something actually changes as opposed to a new pipeline for every patch release.

**Describe a specific use case for the enhancement or feature:**
Currently, a common use case is to use `filebeat setup` whenever beat upgrades. This could potentially introduce a lot of pipielines like t

[2020-09-25 02:57] skmizuho commented on #6624
This will be really useful for those teams that need to monitor a mailbox.

[2020-09-25 07:05] thernstig commented on #6503
@exekias This is still seen on later versions.

[2020-09-25 07:14] elasticmachine commented on #21328
Pinging @elastic/integrations-services (Team:Services)

[2020-09-25 07:16] elasticmachine commented on #21327
Pinging @elastic/integrations-services (Team:Services)

[2020-09-25 07:24] elasticmachine commented on #21317
Pinging @elastic/integrations (Team:Integrations)

[2020-09-25 07:24] elasticmachine commented on #21317
Pinging @elastic/siem (Team:SIEM)

[2020-09-25 07:24] andresrc commented on #21317
Related: https://github.com/elastic/observability-dev/issues/1056

[2020-09-25 08:56] lucabelluccini opened #21329 "[DOC] Document usage of troubleshooting parameters of beats"
**Describe the enhancement:**

We have the following parameters:
[code]

**Describe a specific use case for the enhancement or feature:**

It would be nice to add a section on how to use them so users can troubleshoot potential issues or provide more insights about issues.

In general, at least for `httpprof`, we have to download the output
[code]

The file can be attached or sent out, or can be r

[2020-09-25 10:56] itsx opened #21332 "Extend filebeat logstash patterns for the haproxy modul"
**Enhancement:**
Enhance Logstash patterns in the haproxy module to match yet another specific kind of a logline (example of the logline is below).

**Specific use case for the enhancement:**
We are using ELK stack to collect logs. In our setup we don't use **haproxy module**, using our own filebeat and logstash configs.
But we have examined and used logstash grok patterns in a haproxy module to h

[2020-09-25 13:23] graphaelli commented on #21322
Thanks!  We'll get this over to APM Server shortly

[2020-09-25 13:23] #21322 closed

[2020-09-25 14:09] #17829 closed

[2020-09-25 14:55] MakoWish commented on #19627
Thank you, @andrewkroh

[2020-09-25 15:34] nan140114 commented on #21095
I created an alias. But, when I run the metricbeat binary the Kibana dashboard isn't receiving metrics :(  However, Kibana is confirming that the agent is sending data from the AWS module and group the metrics on AWS provider. I'm testing it on the localhost before deploying it on AWS. This is my aws.yml fil, the system module is disabled.
[code]

[2020-09-25 16:49] mrudrara commented on #16312
@andrae-sec Wondering if this can be prioritized. Client Ip and Application Name was added to slow logs in 4.x and current new release redis 6.x
this is good enhancement and adds value to our Redis Observability

[2020-09-25 18:46] ktham commented on #18158
I'm hoping S3 Output for Filebeats gets considered soon. We are looking to replace `fluentd` with `fluent-bit` as soon as `fluent-bit` adds S3 output (https://github.com/fluent/fluent-bit/pull/2583), but I would prefer to stay within the Elastic ecosystem if possible.

(We want to be running something lightweight which is why we're looking to move off `fluentd`. And `logstash` is not lightweight)

[2020-09-25 20:51] kaiyan-sheng commented on #21095
@nan140114 Any new error message in Metricbeat log? Could you check in AWS CloudWatch to see if there are metrics there first also? Thank you for the feedback! If you see anything suspicious, please open a discuss forum ticket and you can @ me there too. Let's keep this github issue for this specific bug only 🙂

[2020-09-26 05:36] #4522 closed

[2020-09-26 07:41] #14691 closed

[2020-09-26 12:36] #2198 closed

[2020-09-26 12:58] szandala opened #21335 "Compute fingerprint from all fields"
I would like to use `fingerprint` processor for Metricbeat and others later on.
Is there any way I could use wildcard to compute fingerprint from all fields?

I have tried something like this, but appears to not working.
[code]

[2020-09-26 14:36] #13822 closed

[2020-09-27 19:43] elasticmachine commented on #21335
Pinging @elastic/integrations-services (Team:Services)

[2020-09-27 19:44] elasticmachine commented on #21332
Pinging @elastic/integrations-services (Team:Services)

[2020-09-27 19:47] elasticmachine commented on #21329
Pinging @elastic/integrations-services (Team:Services)

[2020-09-28 00:19] elasticmachine commented on #6624
Pinging @elastic/integrations (Team:Integrations)

[2020-09-28 06:35] ruflin opened #21336 "[Elastic Agent] Deprecation logs for Elastic Agent"
Elastic Stack products will start to ship deprecation logs to a specific index based on the new indexing strategy. Elastic Agent should do the same and ship deprecation logs to `logs-deprecation.elastic.agent-*`. It should be also discussed how and where the deprecation logs of the processes are shipped.

[2020-09-28 06:35] elasticmachine commented on #21336
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-28 07:33] ruflin commented on #21096
Thinking more about capabilities, I think there are 2 layers here:

- Capabilities set on the Agent side: These have to be set on start of the Agent and cannot be changed
- Capabilities for an Agent set in Fleet: The set of capabilities can be further reduced in Fleet. With this even if an Agent has upgrade capability, it could be disabled for an Agent in Fleet. Or certain inputs for an Agent coul

[2020-09-28 12:36] #13843 closed

[2020-09-28 12:36] elasticmachine commented on #21304
Pinging @elastic/integrations (Team:Integrations)

[2020-09-28 12:37] vipsql opened #21343 "Filebeat: Kafka input suggest integration other modules"
## Filebeat module

 [ * ] suggest intergrate the gohangout kafka module , because it's fast and Functional
    gohangout git address: https://github.com/childe/gohangout

[2020-09-28 12:38] vitaliy-kravchenko commented on #19830
Anyway, the documentation is not clear enough for me. And I suppose not only for me but for many other users.
The `max_depth` option behaves more like a limit option to prevent stack overflow but not for parsing JSON to N level depth and leave all next levels as an unparsed string.
I implemented the functional with logstash + ruby plugin. And did all necessary parsing logic with the ruby script. N

[2020-09-28 12:51] milesich commented on #19830
I understood it exactly as @vitaliy-kravchenko. The `max_depth` option behaves as a limit to prevent mapping explosion.

[2020-09-28 13:15] XhstormR opened #21345 "Httpjson Crawler is not compatible with the –once option"
For confirmed bugs, please report:
- Version: filebeat version 7.9.2 (amd64), libbeat 7.9.2 [2ab907f5ccecf9fd82fe37105082e89fd871f684 built 2020-09-22 23:19:44 +0000 UTC]
- Operating System: Microsoft Windows [版本 10.0.17763.1039]
- Discuss Forum URL: https://discuss.elastic.co/t/httpjson-crawler-is-not-compatible-with-the-once-option/250077
- Steps to Reproduce:

I use filebeat's httpjson inputs t

[2020-09-28 13:16] #15758 closed

[2020-09-28 13:17] hanan-herz opened #21346 "Add vsys to panw module"
Add (Virtual System) vsys to panw module.

Is there any reason this field is not being ingested?

[2020-09-28 13:31] rahulgupta-qasource commented on #21019
Hi @blake

Thank you for sharing the feedback.

We have executed the failed and pending testcases under [**[Elastic Agent] Install/uninstall subcommand**](https://elastic.testrail.io/index.php?/runs/view/683) TestRun.

Please let us know if anything is missing from our end.

[2020-09-28 13:32] ph commented on #21096
@ruflin "Capabilities for an Agent set in Fleet", I think the question is to answer is there any security implication for sending them to the Agent or having some "capabilities" executed in fleet allow for some optimization.

[2020-09-28 13:43] rajputvishwas commented on #21189
Is this issue open?

[2020-09-28 14:16] elasticmachine commented on #21278
Pinging @elastic/siem (Team:SIEM)

[2020-09-28 14:27] andresrc commented on #21335
Hi! Can your provide more information on your use case?

[2020-09-28 14:34] szandala commented on #21335
Dummy idea, but semi-security mechanism: calculate fingerprint from all fields so I know whether anything has been changed.
Or all fields that satisfy pattern `agent.*`

Anyway: how to calculate fingerprint from multiple fields using asterisk? Is it even possible? Or do I have to list fieldsone, by one?

[2020-09-28 14:38] ycombinator commented on #21335
For now you have to list out the fields explicitly. I'm not sure if allowing all fields (`'*`) makes a ton of sense as any timestamp-like fields, if present, would always be changing so you'd end up with new fingerprints even if none of the other fields changed. But I can see the value in allowing a set of sub-fields (`agent.*`).

[2020-09-28 16:11] dudumiquim opened #21351 "AWS Module: ELB module aren't refresh permission from IAM"
- Steps to Reproduce:
1. Install filebeat and configure AWS Module to read ELB logs with EC2 IAM Role
2. Start the application and check if are working correctly
3. Wait few hours ( ~10 hours) and check again

I did the same test with CloudTrail and Vpcflow. Both are working correctly. Using ELB, looks like the application aren't refreshing the token to connect to AWS Api.
When I start the process

[2020-09-28 16:45] inqueue opened #21352 "Filebeat benchmarking for scaling Netflow"
**Describe the enhancement:**

Provide performance benchmarking data for the Filebeat Netflow module.

**Describe a specific use case for the enhancement or feature:**

Users leaning more on Filebeat are looking for information about scaling larger deployments. Benchmarking would provide a baseline giving users something to work from.

[2020-09-28 16:50] #21103 closed

[2020-09-28 19:39] andrewstucki opened #21356 "Integrate Packetbeat with Agent"
**Describe the enhancement:**

Integrate packetbeat with agent.

[2020-09-28 20:21] #17137 closed

[2020-09-28 20:54] bmorelli25 commented on #20729
A quick note: there's a related discussion about APM fields in https://github.com/elastic/apm/issues/276, with an interim solution proposed in https://github.com/elastic/beats/pull/21359.

[2020-09-28 21:40] kaiyan-sheng commented on #21351
@dudumiquim Thank you for reporting this error. So this `MissingRegion` error message did not show up from the beginning?

[code]

I want to make sure I understand this correctly: the `var.queue_url` did not change but 10 hours later, `MissingRegion` error message starts to show up and Filebeat stopped ingesting ELB logs?

I will try to reproduce this problem. Thank you again!

[2020-09-28 21:41] elasticmachine commented on #21351
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-28 22:08] kaiyan-sheng opened #21363 "Add cloud.availability_zone into azure module"
As a part of inventory schema work, we want to make sure aws, azure and googlecloud module all have `cloud.availability_zone` field. This issue is to track the work for adding `cloud.availability_zone` into azure module.

[2020-09-28 22:08] elasticmachine commented on #21363
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-28 22:09] kaiyan-sheng opened #21364 "Add cloud.region into googlecloud module"
As a part of inventory schema work, we want to make sure aws, azure and googlecloud module all have `cloud.region` field. This issue is to track the work for adding `cloud.region` into googlecloud module.

[2020-09-28 22:10] elasticmachine commented on #21364
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-28 22:34] kaiyan-sheng opened #21365 "Common Fields for Cloud Inventory Schema"
This issue is to track the work for adding common fields among different cloud metrics. These proposed common fields will become required fields to collect when adding support for new cloud platforms.

Proposed Common Fields:

- cloud.account.id
- cloud.availability_zone
- cloud.instance.id
- cloud.instance.name
- cloud.machine.type
- cloud.provider
- cloud.region

TODO:

- [ ] 1. Add `cloud.avail

[2020-09-28 22:35] elasticmachine commented on #21365
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-28 22:39] dudumiquim commented on #21351
Almost all the log message are:
[code]
I leave the Filebeat running a lot of hours and I have ~1GB with these lines and sometimes I get a line with `SQS ChangeMessageVisibilityRequest failed ...`

Yes. The queue are the same. I'm not sure if the problem occurs after exactly 10 hours later, but some time between 8 and 10 hours. I started the application and left the computer. When I came back, this

[2020-09-29 00:50] alexroussel commented on #20342
Hello,

I'm using Filebeat 7.9.1 and I just got the same issue...

As @fredtj said, if I put `parameters.pipeline: my-pipeline` below `output.elasticsearch` or `pipeline: my-pipeline` below the `- type` of inputs it works fine !

However if I follow the documentation, it means put `pipeline: my-pipeline` below `output.elasticsearch`, at indexing the pipeline on ingest node is just **ignored**.
I f

[2020-09-29 01:17] kaiyan-sheng commented on #21365
For `cloud.account.id`, the definition in [ECS](https://www.elastic.co/guide/en/ecs/current/ecs-cloud.html) is:
[code]

AWS and GCP are both clear what to use for `cloud.account.id`. For Azure, we are looking at using subscription ID for `cloud.account.id`.  I think we should update the ECS document on `cloud.account.id` to include what is used for Azure.

[2020-09-29 01:19] kaiyan-sheng commented on #21365
Question from @narph:
If we map it to the subscription id, how do we envision this to look in the UI? Will users be able to filter using the account.id? If so, can we have a more clear naming in the UI that would make sure azure users will understand? Just having `Account ID` in the list could make them think of the billing account or other types of accounts when it comes to Azure?

@sorantis @exe

[2020-09-29 02:10] kaiyan-sheng commented on #21351
Ahh thanks for pointing this error message out. `The receipt handle has expired` error is caused by visibility timeout dropped to 0 before this `ChangeMessageVisibilityRequest` API could be executed. Do you see at the beginning of your debug log about how long is visibility timeout set to?

[2020-09-29 02:11] kaiyan-sheng commented on #21351
The `MissingRegion` error message is probably caused by the config file. In your config file, do you have all the rest of the filesets disabled? For example:
[code]

[2020-09-29 04:30] nhova commented on #21067
Hi @srikwit

Did you get this resolved?

I a facing the same issue today.

{"type":"error","@timestamp":"2020-09-29T04:26:10Z","tags":[],"pid":1430483,"level":"error","error":{"message":"Internal Server Error","name":"Error","stack":"Error: Internal Server Error\n    at HapiResponseAdapter.toInternalError (/usr/share/kibana/src/core/server/http/router/response_adapter.js:69:19)\n    at Router.hand

[2020-09-29 05:02] elasticmachine commented on #21356
Pinging @elastic/siem (Team:SIEM)

[2020-09-29 05:05] elasticmachine commented on #21352
Pinging @elastic/siem (Team:SIEM)

[2020-09-29 05:06] elasticmachine commented on #21346
Pinging @elastic/siem (Team:SIEM)

[2020-09-29 05:07] elasticmachine commented on #21345
Pinging @elastic/integrations-services (Team:Services)

[2020-09-29 05:09] elasticmachine commented on #21343
Pinging @elastic/integrations-services (Team:Services)

[2020-09-29 06:06] sinoohe commented on #20692
I have the same issue here.

[2020-09-29 08:42] #19938 closed

[2020-09-29 08:47] Bernhard-Fluehmann commented on #20342
@alexroussel Thank you very much for your information. With your hint I will be able again to use pipeline definition in outputs again in recent versions of filebeat. I would still appreciate to see this fixed or at least properly documented. As @dedemorton  mentioned in #20673, a fix would be preferred to have the same behavior on all beats. With the introduction of elastic-agent this may be even

[2020-09-29 08:48] ruflin commented on #21096
@ph I'm not sure I follow, sorry :-(

[2020-09-29 09:12] willemdh commented on #1070
@webmat Any news about this?

[2020-09-29 09:19] #20813 closed

[2020-09-29 09:32] exekias commented on #21365
@narph, correct me if I'm wrong here, this is how I understand it:

All resources (ie VMs) are tied to the subscription id. Users know it well, as they use it to configure Azure API clients (like our own agent), you cannot move a resource to another subscription.

Billing accounts group subscriptions for billing purposes. You can move subscriptions from some billing accounts to another.

Having al

[2020-09-29 09:39] v1v opened #21375 "Required setuptools>=40.0 for running and tests/system/Testbeat.py is not up-to-date in 7.9"
### What

- Required setuptools>=40.0
- tests/system/Testbeat.py is not up-to-date

### Stacktrace

[code]

### How to reproduce it

[code]

### Further details

- See [build](https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats/detail/7.9/187/pipeline/2514)

[2020-09-29 10:26] #20679 closed

[2020-09-29 11:08] dmsergeevN26 opened #21376 "[Packetbeat] Bug parsing http method"
I opened an issue on the discussion forum but haven't heard back, so I am posting it here as I am certain it's a bug.
Link to the discussion - https://discuss.elastic.co/t/packetbeat-bug-parsing-http-method/250095

There's a bug somewhere that results in incorrect parsing of a http message method and query field.

Here's a example pcap file - https://drive.google.com/file/d/1VAncsyTKKgP86U8eg5Pu8Y

[2020-09-29 11:11] #19627 closed

[2020-09-29 11:28] ruflin commented on #20687
@ph Can this be closed?

[2020-09-29 11:47] v1v commented on #16299
I'll close this issue now, we don't need to use the only worker for signing now, since we are not signing in the CI builds for PRs

[2020-09-29 11:47] #16299 closed

[2020-09-29 11:51] narph commented on #21365
@exekias , I thought we previously agreed that we would align the sub ID to the `cloud.account.id` field (and still keep the value inside `azure.subscriptionId`) , my question was more related to the UI, how will it look and if we can accommodate a naming (in the UI) that would help azure users understand we are talking about the subscription ID., for example `Account ID/Subscription ID`.

[2020-09-29 12:31] rahulgupta-qasource opened #21378 "Filebeat error is displayed in activity logs on installing elastic agent with new install command"
**Kibana version:**
Kibana: 8.0.0-SNAPSHOT

**Elasticsearch version:**
Elasticsearch: 8.0.0-SNAPSHOT

**Host OS and Browser version:**
Windows 10 , All

**Original install method (e.g. download page, yum, from source, etc.):**
From 8.0.0-SNAPSHOT Kibana cloud on staging cloud environment https://staging.found.no/

**Description**
Filebeat error is displayed in activity logs on installing elastic a

[2020-09-29 12:49] elasticmachine commented on #21378
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-29 12:50] rahulgupta-qasource commented on #21378
@muskangulati-qasource Please review the bug

[2020-09-29 12:52] blakerouse commented on #21378
This is unrelated to the #21206. It is related to the recent #20186 that landed in master.

[2020-09-29 12:54] ph commented on #21378
@michalpristas Is there something missing in the 8.x snapshot?

[2020-09-29 13:19] ph commented on #20687
PR still up at https://github.com/elastic/beats/pull/20779

@michalpristas took it over and syncing with @jen-huang, I will reassign it to him.

[2020-09-29 13:19] michalpristas commented on #21320
copied from a slack thread:
this is what i see
[code]

3 errors
first one from local verifier: asc is not there. dont know why, it should be other packages has asc files included, will check with infra

second one: verifier check downloaded signature for included binary  invalid signature: hash tag doesn't match

third one it tries to download snapshot asc from official store, this one is expected

[2020-09-29 13:39] ph commented on #21320
@michalpristas I _believe_ the docker images are created and bundled by us as part of the beat build process, so this could explain why they do not have their asc files?

[2020-09-29 13:39] kaiyan-sheng opened #21381 "Add cloud.account.id into azure module"
As a part of cloud inventory schema work, we want to make sure all cloud providers have `cloud.account.id` field. This issue is to track the work for adding `cloud.account.id` into azure module.

[2020-09-29 13:40] elasticmachine commented on #21381
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-29 13:44] ph commented on #21096
@ruflin Consider the use case of deploying the Elastic-Agent on a laptop, A user should not be able to prevent "endpoint-security" from running by settings "capabilities". But maybe its already taken care of by the permissions on the file and prevent local user to changes that.

[2020-09-29 13:50] ruflin commented on #21096
Got it. It means this users could restart the Agent and modify the file. We should at least be able to detect such changes in Fleet. I don't think we can fully prevent it.

[2020-09-29 13:51] ruflin commented on #21320
The template for the docker images can be found here: https://github.com/elastic/beats/blob/master/dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl

[2020-09-29 13:54] ph commented on #21096
@ruflin Yes, maybe having a "compliance" checks that validate expected states or config vs that is on the machine. I was just pushing that problem on your side :)

[2020-09-29 13:58] michalpristas commented on #21320
this should fix the issue
https://github.com/elastic/infra/pull/23609/files

[2020-09-29 14:03] ynirk opened #21382 "[filebeat][aws][cloudtrail] flattened.request_parameters field can exceed 32k limit"
With cloudtrail 7.9 mapping and ingest, we encountered an ingestion issue:

On cloudtrail, some logs have a big request_parameters field that can exceed 32k and break elasticsearch field limit on `aws.cloudtrail.flattened.request_parameters`.

[code]

[2020-09-29 14:03] elasticmachine commented on #21382
Pinging @elastic/siem (Team:SIEM)

[2020-09-29 14:25] webmat commented on #1070
On the ECS side we've just started a more holistic discussion around all the host identifiers, it's [RFC 0006](https://github.com/elastic/ecs/blob/master/rfcs/text/0006-host-identifiers.md). Still very early stage, though. Should start moving in the coming weeks.

[2020-09-29 14:43] ph commented on #21320
@michalpristas Do you have an issue open with them?

[2020-09-29 14:46] michalpristas commented on #21320
build is ok now, i fetched som intermediate build before it postprocess job finished bundling. all good now
chris is craeting an issue to make this more visible to the user or fixed, will share it once it's created

[2020-09-29 15:01] #21001 closed

[2020-09-29 15:01] #21019 closed

[2020-09-29 15:20] #20687 closed

[2020-09-29 15:31] maggieghamry opened #21392 "Beats common "add cloud metadata" function doesn't use HTTPS"
To use the  OpenStack API with Auditbeat, HTTPS is required, but the Beats common "add cloud metadata" function doesn't (just uses plain HTTP).

Currently, there is no workaround to enable the connection to OpenStack API to use HTTPS
- Version: 7.9

[2020-09-29 16:04] michalpristas commented on #21378
the thing is that during build there is a certain amount of time when intermediate snapshot is published.
this intermediate snapshot of agent does not include endpoint or any *.asc files.
these files get bundled after postbuild job is done and endpoint artifacts are updated. this also includes CI built artifacts of beats not in-place built one so hash or PGP may be different.

infra has an issue w

[2020-09-29 16:38] jsoriano commented on #21293
Hey @thernstig,

Maybe the documentation could be clearer, but there is a paragraph in the [providers](https://www.elastic.co/guide/en/beats/filebeat/7.9/configuration-autodiscover.html#_providers) section describing what you could expect from autodiscover: _On start, Filebeat will scan existing containers and launch the proper configs for them. Then it will watch for new start/stop events. This e

[2020-09-29 16:38] #21293 closed

[2020-09-29 17:13] elasticmachine commented on #21392
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-29 17:15] ph commented on #21378
@michalpristas could you link from the private issue to this issue?

[2020-09-29 17:16] jsoriano commented on #21392
http is hardcoded here: https://github.com/elastic/beats/blob/d8d35a16b0beae02cb8048df2a66c3a743d0633f/libbeat/processors/add_cloud_metadata/http_fetcher.go#L141

[2020-09-29 17:37] jsoriano commented on #14234
1.16 is in the list of tested versions now: https://github.com/elastic/beats/blob/d8d35a16b0beae02cb8048df2a66c3a743d0633f/deploy/kubernetes/Jenkinsfile.yml#L15

[2020-09-29 17:37] #14234 closed

[2020-09-29 18:22] elasticmachine commented on #21376
Pinging @elastic/siem (Team:SIEM)

[2020-09-29 19:51] EricDavisX commented on #21378
https://github.com/elastic/beats/issues/21320 - we can track this related issue, too, for Docker containers

[2020-09-29 19:59] EricDavisX commented on #20404
I appreciate the work-arounds posted.  we're refactoring the install of Agent and hope it will alleviate the pain - @blakerouse do we have any comment about whether we had explicitly covered the race-condition / timing that was noted above https://github.com/elastic/beats/issues/20404#issuecomment-674719037 ?

[2020-09-29 21:23] andrewkroh commented on #21392
Does OpenStack always require HTTPS? Should the processor attempt both http and https for the broadest compatibility?

[2020-09-30 06:13] bevano8 commented on #20703
Is there any ETA on a fix for this?

[2020-09-30 08:10] exekias commented on #21365
Understood, any opinions @sorantis? Something that comes to my mind is that UI can be smart enough to detect the `cloud.provider` and show the correct name based on it

[2020-09-30 08:24] mehrnazix commented on #19475
I have same issue. K8 version.Info{Major:"1", Minor:"19"}. I got this errors:
[code]

[2020-09-30 09:55] akhamar opened #21411 "filebeat keep trying to refresh/renew/retry output"
I've followed the documentation to create a dynamic output list for redis output. Following this documentation (here: [Configure the Redis output](https://www.elastic.co/guide/en/beats/filebeat/current/redis-output.html#keys-option-redis))

As soon as a dynamic key is used, filebeat will try to refresh the output each about 3 secondes.

Logs:
[code]

Filebeat configuration:
[code]

Version tested:

[2020-09-30 10:27] elasticmachine commented on #21411
Pinging @elastic/integrations-services (Team:Services)

[2020-09-30 11:05] williamd67 commented on #18038
Thanks all. I just used the 7.9.x version where this change is included and it works like a charm. Thanks again.

[2020-09-30 11:19] williamd67 opened #21412 "Beats:Outputs:Codec introduce json-gzip codec that can compress json"
**Describe the enhancement:**
Introduce a new output-codec that not only jsonify the content but also compresses (gzip) it. The current 'json'-codec can be reused and the output of that content would be compressed by a gzip-component and the compressed content would be returned from the codec.

As far as I could determine it is not possible to chain codecs so my proposal is to introduce a new 'jso

[2020-09-30 11:20] thernstig commented on #21293
@jsoriano Thank you for the detailed answer.

I did read that paragraph, but if you read it again it is very easy to interpret "On start," as the start of a container, especially with the second part of the sentence saying "for new start/stop events."

I do now of course realize I do interpret this incorrectly, and  it is stated correctly, but this was my confusion.

[2020-09-30 11:25] ruflin opened #21413 "[Elastic Agent] How to monitor inputs"
In Fleet a user deploys and Integration policy as part of an Agent policy. From an Agent perspective, an integration policy is just an array of inputs. The user needs to know if an Integration policy is working or not. For an Agent to report if an integration works or not, the Agent needs to know  about the status of each input. As the Agent is mostly a supervisor and the inputs are run by the pro

[2020-09-30 11:25] elasticmachine commented on #21413
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-30 11:36] #13852 closed

[2020-09-30 11:50] ph opened #21417 "[Elastic Agent] Improve "when" handling in the program specification."
When we created the "when" clause we were under the impression that all the beats were actually equal and supported all the same outputs. This was not completely true, APM-Server supports a subset of the output that beats supports, they do not support redis.

Maybe we should just move to the conditions and rely on [capabilities](https://github.com/elastic/beats/issues/21096)

[2020-09-30 11:50] elasticmachine commented on #21417
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-30 12:07] sorantis commented on #21365
Today the UI doesn't provide account id as a default field to group by. Here the default option for Hosts:
<img width="757" alt="Screen Shot 2020-09-30 at 14 04 27" src="https://user-images.githubusercontent.com/1685068/94682912-f8eeb980-0325-11eb-84b9-a8897be0a19f.png">

Users are free to group by any field, e.g. `cloud.account.id`, but right now it's not explicitly provided. If we decide to have

[2020-09-30 12:40] blakerouse commented on #20404
@EricDavisX Yes the new install command should solve this issue.

[2020-09-30 12:43] rahulgupta-qasource commented on #21019
Hi Eric

We have passed 10 elastic agent install tests on win x86, win x64, mac .tar.gz, linux .tar.gz, linux .rpm under [Elastic agent install subcommand](https://elastic.testrail.io/index.php?/runs/view/707) TestRun with latest 8.0.0-SNAPSHOT elastic agent artifacts from [observability gcp link](https://console.cloud.google.com/storage/browser/beats-ci-artifacts/snapshots/elastic-agent?pageState

[2020-09-30 12:53] narph commented on #21218
close for now, was fixed on the Azure side.

[2020-09-30 12:53] #21218 closed

[2020-09-30 13:01] burga123 commented on #16869
Hi , have you succeeded to find a solution ? I'm handling  with the same issue ...

[2020-09-30 13:14] #21375 closed

[2020-09-30 13:14] #21260 closed

[2020-09-30 13:48] kaiyan-sheng opened #21422 "Migrate metricsets in aws module to use cloudwatch input as lightweight module"
In `aws` module we have several metricsets that are not lightweight modules. This issue is to track the work for converting them into lightweight modules. There are some problems we are facing:

1. Some metricsets are not only calling CloudWatch API. For example, billing metricset is also making CostExplorer API and ec2 metricset is also making DescribeInstances API.

- [ ] ~~* billing: also uses

[2020-09-30 13:48] elasticmachine commented on #21422
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-09-30 13:53] andrewkroh commented on #21304
It kind of looks like the events arrived in a different order than what was expected by the tests.

[2020-09-30 14:04] demisolutions commented on #8498
Same problem in FileBeat.

We use docker autodiscover feature for redis:

[code]

Log part is working great, but slowlog keeps returning errors like:

` Error running input: error receiving slowlog data: dial tcp 10.0.11.84:6379: connect: connection timed out`

When I check redis container, I can see it has different IP for each network:

backend: `10.0.11.84`
elastic: `10.0.2.196`

Filebeat conta

[2020-09-30 14:16] andrewkroh opened #21423 "[libbeat] add_process_metadata target namespace should be fully configurable"
`add_process_metadata` always includes `process.` in field names (e.g. `process.name`). Configuring the target namespace prefixes the field name with the configured value, but you cannot change the `process.*` part. This is a problem if you want to name the fields like `process.parent.name`.

- https://www.elastic.co/guide/en/beats/functionbeat/7.9/add-process-metadata.html
- https://github.com/el

[2020-09-30 14:16] andrewkroh commented on #21423
fyi: @aarju

[2020-09-30 14:30] gogochan opened #21424 "Elastic Agent does not open bootstrap port for Elastic Endpoint after reboot"
Elastic Agent does not serve GRPC bootstrap info over TCP 6788 after reboot, or restart. This results in Policy failure for the Endpoint because it cannot establish connection

For confirmed bugs, please report:
- Version: 8.0.0-SNAPSHOT
- Agent Artifact: https://snapshots.elastic.co/8.0.0-7e40d4e0/downloads/beats/elastic-agent/elastic-agent-8.0.0-SNAPSHOT-windows-x86_64.zip
- Operating System: Wi

[2020-09-30 14:32] gogochan commented on #21424
FYI @paul-tavares

[2020-09-30 16:13] elasticmachine commented on #21412
Pinging @elastic/integrations-services (Team:Services)

[2020-09-30 16:14] elasticmachine commented on #21423
Pinging @elastic/integrations-services (Team:Services)

[2020-09-30 16:14] elasticmachine commented on #21423
Pinging @elastic/siem (Team:SIEM)

[2020-09-30 16:15] elasticmachine commented on #21424
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-30 16:19] mdelapenya commented on #21320
Are the images already created? I can confirm today's builds do not fetch the images with the ASC files: https://beats-ci.elastic.co/blue/organizations/jenkins/e2e-tests%2Fe2e-testing-mbp/detail/master/340/pipeline/337

[2020-09-30 17:20] ph commented on #21424
@gogochan is elastic agent started? how it was installed? @EricDavisX I think we have covered that case in our "install/uninstall" test cases?

[2020-09-30 17:26] gogochan commented on #21424
@ph yes, it did run and makes connection to the Fleet. However it didn't open port 6788, until we make modification to the configuration.

[2020-09-30 17:33] ph commented on #21424
OK, so it's installed, it's come back up when the computer restart. But it doesn't open the port. This is odd because, I presume the local configuration "persisted" to disk by the Elastic Agent would tell him to have endpoint running.

@blakerouse Can you take a look?

[2020-09-30 17:37] blakerouse commented on #21424
I think this could be because there was an issue with Dynamic Inputs that broke saving the inputs into the action_store.yml. With no inputs in the action_store.yml then on restart the Elastic Agent would not think Endpoint should be running so port 6788 would not be open.

This was fixed in https://github.com/elastic/beats/pull/21298. Can you confirm that your build includes that PR?

[2020-09-30 18:09] #21382 closed

[2020-09-30 18:10] ph commented on #21320
Not yet, the build process need to change to accommodate that. @mgreau  @Conky5

[2020-09-30 18:38] kaiyan-sheng commented on #21364
This is already done...

[2020-09-30 18:42] kaiyan-sheng commented on #21365
We discussed this question during meeting and the conclusion is: we will use subscription ID as `cloud.account.id` and once we start changing metrics UI, we can start discuss how to clarify the definition of `cloud.account.id` between different cloud providers.

[2020-09-30 18:47] EricDavisX commented on #21424
@ph to your question, we have re-start of agent tested in e2e-testing, but it doesn't have endpoint in the config at the time.  bummer.  but, we can do that - should it be a separate test tho?  or should we update all relevant test cases to also have Endpoint enabled in policy and test for the related expectations?  If its the latter it will have impact on the nomenclature and layout of the tests

[2020-09-30 18:53] ph opened #21433 "Testing Automation."
Only testing the automation

[2020-09-30 18:53] elasticmachine commented on #21433
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-30 18:58] EricDavisX commented on #21019
@rahulgupta-qasource lets continue testing this.

Please pull the formal snapshot Agent this time (not the GCP bucket) and lets test just x64 win, darwin, and .deb linux.

If this https://github.com/elastic/beats/pull/21387 is merged, and if it makes the 7.10 build and the build passes, lets try to use 7.10 artifacts.  you can try them and see if one works, if not please fall back to 8.0 and we'll

[2020-09-30 19:00] #21433 closed

[2020-09-30 19:00] ph opened #21434 "Testing Again on new issue"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2020-09-30 19:00] elasticmachine commented on #21434
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-30 19:01] #21434 closed

[2020-09-30 19:17] ph commented on #21424
@EricDavisX Yes probably a separate test seems the simplest route?

[2020-09-30 21:35] nan140114 opened #21437 "AWS Cloudwatch"
SO: Ubuntu 20.04 LTS
metricbeat: metricbeat version 7.9.2 (amd64), libbeat 7.9.2 [2ab907f5ccecf9fd82fe37105082e89fd871f684 built 2020-09-22 23:25:17 +0000 UTC]

Hello there. I hope you're doing well.

I'm trying to set up a metricbeat agent. It will be running on an EC2 instance. But, I'm running it on localhost first. I'm using the DEB package. My goal is to get the cloudwatch metrics (There are

[2020-09-30 22:18] mch commented on #6381
I am also seeing this issue when using functionbeat to export logs from cloudwatch that were previously processed by filebeat. The only work around I have found so far is to decode_json_fields into a target like "original", and then drop_fields and copy_fields to flatten it out and simulate overwrite_keys. Unfortunately this doesn't work for the @timestamp field, and there is no timestamp processo

[2020-09-30 23:42] kaiyan-sheng commented on #21437
Hello @nan140114 thanks for reaching out. But we would kindly ask you to post all questions and issues on https://discuss.elastic.co/c/beats before opening a Github Issue. Your questions will reach a wider audience there, and if we confirm that there is a bug, then you can reopen this issue or open a new one with more details. Thanks in advance!

[2020-09-30 23:42] #21437 closed

[2020-10-01 00:05] nan140114 commented on #21437
Thank you!

[2020-10-01 10:14] rahulgupta-qasource opened #21445 "Activity logs are not displayed on installing elastic agent with new install command"
**Kibana version:**
Kibana: 8.0.0-SNAPSHOT

**Elasticsearch version:**
Elasticsearch: 8.0.0-SNAPSHOT

**Host OS and Browser version:**
Windows 10x64 , All

**Original install method (e.g. download page, yum, from source, etc.):**
From 8.0.0-SNAPSHOT Kibana

**Description**
Activity logs are not displayed on installing elastic agent with new install command

**Preconditions**
1. 8.0.0-SNAPSHOT Kiba

[2020-10-01 10:25] elasticmachine commented on #21445
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-01 10:25] rahulgupta-qasource commented on #21445
@muskangulati-qasource Please review the bug

[2020-10-01 10:40] muskangulati-qasource commented on #21445
Reviewed & Assigned to @EricDavisX

[2020-10-01 11:46] rahulgupta-qasource opened #21449 "Data streams are not displayed on installing standalone elastic agent with new install command"
**Kibana version:**
Kibana: 8.0.0-SNAPSHOT

**Elasticsearch version:**
Elasticsearch: 8.0.0-SNAPSHOT

**Host OS and Browser version:**
Windows 10x64 , All

**Original install method (e.g. download page, yum, from source, etc.):**
From 8.0.0-SNAPSHOT Kibana

**Description**
Data streams are not displayed on installing standalone elastic agent with new install command

**Preconditions**
1. 8.0.0-SNA

[2020-10-01 11:46] elasticmachine commented on #21449
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-01 11:47] rahulgupta-qasource commented on #21449
@muskangulati-qasource Please review the bug.

[2020-10-01 11:53] muskangulati-qasource commented on #21449
Reviewed and assigned to @EricDavisX

[2020-10-01 12:57] srikwit commented on #21067
Yes this did get resolved. I need to configure the Kibana options in my packetbeat. These are of the type setup.kibana.*

You can refer the following link for fixing it: https://www.elastic.co/guide/en/beats/packetbeat/current/setup-kibana-endpoint.html

[2020-10-01 13:23] MorrieAtElastic commented on #20457
What is the current status of this problem? Can we expect it to exist in V7.9.2 as well?

[2020-10-01 13:27] rahulgupta-qasource commented on #21019
Hi Eric

Thank you for sharing the feedback.

We have executed 10 testcases under under [Elastic agent install with Endpoint](https://elastic.testrail.io/index.php?/runs/view/709&group_by=cases:section_id&group_order=asc) TestRun  and reported 02 bugs
[#21445](https://github.com/elastic/beats/issues/21445)
[#21449](https://github.com/elastic/beats/issues/21449)

We will retest the tests once the i

[2020-10-01 13:36] ironknight78 commented on #18377
/assign

[2020-10-01 13:37] ironknight78 commented on #18377
/assign

[2020-10-01 13:40] ironknight78 commented on #18377
Nice! thanks a lot, @ChrsMark I'm up for it! Can you assign it?

Thanks !!

[2020-10-01 17:00] andrewkroh commented on #19472
It looks like we have made all of the necessary changes to support 1.6. I think we should now bump the `ecs.version` on all the modules that did not need changes.

[2020-10-01 17:15] acrewdson commented on #20584
Adding a +1 here since the missing info in the docs can lead to lots of confusion currently.

[2020-10-01 17:17] acrewdson commented on #18563
@andrewkroh @ycombinator Just chiming in here because I was thrown off by this before discovering it was a known thing. If I'm interpreting @ycombinator over in https://github.com/elastic/beats/issues/20584 correctly, this is a docs bug and is not being considered a bug in libbeat. Should this issue be closed in favor of https://github.com/elastic/beats/issues/20584?

[2020-10-01 17:30] EricDavisX commented on #21449
same problem as the 'activity detail' issue - it is resolved in the latest build.  closing as fixed!

[2020-10-01 17:30] #21449 closed

[2020-10-01 17:31] EricDavisX commented on #21378
this is fixed in latest build - i do not see it in my assessment with a darwin test.  closing as fixed

[2020-10-01 17:31] #21378 closed

[2020-10-01 17:34] #21320 closed

[2020-10-01 17:43] ph commented on #20205
@michalpristas @blakerouse lets keep this issue updated.

[2020-10-01 17:46] EricDavisX opened #21451 "[Fleet / Agent] when persistent agent 'install' is rebooted on darwin system, not all Beats are restarted"
[Fleet /  Agent] when persistent agent 'install' is rebooted on darwin system, not all Beats are restarted

related to https://github.com/elastic/beats/issues/21424 which is for the Elastic Endpoint port.  This is just for the other beats, tho the cause may be related (tbd), logging separately for safety.

tested with latest 8.0 Agent + Kibana
agent:
https://snapshots.elastic.co/8.0.0-f437c552/dow

[2020-10-01 17:46] elasticmachine commented on #21451
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-01 17:54] ph commented on #21451
@EricDavisX This is with a latest snapshot?

@blakerouse Can you take a look?

[2020-10-01 18:08] EricDavisX commented on #21451
@rahulgupta-qasource please hold off on doing more install tests for reboot until after this is fixed.  you can still test basic initial stand-alone mode install, and we can test 'upgrade' when its available (soon).

[2020-10-01 20:44] andrewkroh commented on #19472
I opened https://github.com/elastic/beats/pull/21455/ to update the version in Filebeat modules that required no changes, Winlogbeat, Auditbeat, and Packetbeat.

[2020-10-01 22:01] andrewkroh opened #21456 "[docs] Recommend upgrading Kibana before Beats"
Due to https://github.com/elastic/beats/issues/20432 it is going to become more important that users operate with the latest Kibana when upgrading Beats. Changes in the latest Kibana (starting with 7.10) will likely be necessary to install the Kibana index pattern (e.g. `filebeat setup`) that comes with Beats.

We should probably mention this in any upgrade docs and probably even include a mention

[2020-10-01 22:07] digitaldavenyc commented on #8086
Experiencing this is as well. I cannot believe this is unresolved since 2018!

[2020-10-02 07:09] elasticmachine commented on #21456
Pinging @elastic/obs-docs (Team:Docs)

[2020-10-02 09:36] #7534 closed

[2020-10-02 09:36] #9743 closed

[2020-10-02 10:09] jsoriano opened #21465 "Add support into the httpjson input to collect values of maps in different events"
**Describe the enhancement:**

`httpjson` input currently supports collecting a different event for each object contained in a JSON array. There are two options for that: `json_objects_array`, that collects the objects in an array directly as separate documents, and `split_events_by`, that does something similar, but adding the fields of the parent JSON object.

There are cases where multiple even

[2020-10-02 10:09] elasticmachine commented on #21465
Pinging @elastic/siem (Team:SIEM)

[2020-10-02 12:05] michalpristas commented on #18593
Closing fixed here #18844

[2020-10-02 12:05] #18593 closed

[2020-10-02 12:06] michalpristas commented on #19222
Closing PGP included as in #19480

[2020-10-02 12:06] #19222 closed

[2020-10-02 16:01] kevinlog opened #21485 "Windows Agent failing to download relevant beats when enrolled in Fleet"
When standing up the latest Windows Agent in Fleet, there are several errors reported in the logs that say it cannot download the relevant beats.

Please include configurations and logs if available.

[code]

For confirmed bugs, please report:
- Version: https://snapshots.elastic.co/8.0.0-940a0dbc/downloads/beats/elastic-agent/elastic-agent-8.0.0-SNAPSHOT-windows-x86_64.zip
- Operating System: Win

[2020-10-02 16:02] elasticmachine commented on #21485
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-02 16:12] kevinlog commented on #21485
cc @EricDavisX

[2020-10-02 17:13] jsoriano opened #21489 "filestream flaky tests"
## Flaky Test

* **Test Name:** `TestFileWatchNewDeleteModified`, `TestFileScanner`
* **Link:** https://github.com/elastic/beats/blob/35a76dfe2c3caa19969fde4484792355077b58e2/filebeat/input/filestream/fswatch_test.go
* **Branch:** Reproduced locally, seen in these PRs:
  * https://beats-ci.elastic.co/job/Beats/job/beats/job/PR-21444/3/
  * https://beats-ci.elastic.co/job/Beats/job/beats/job/PR-214

[2020-10-02 17:13] elasticmachine commented on #21489
Pinging @elastic/integrations-services (Team:Services)

[2020-10-02 17:55] jsoriano opened #21494 "Document guidelines for multi-tenancy"
Beats have some features that may be used to support multi-tenancy in a single cluster, as custom indexes or the support for kibana spaces. It'd be nice to provide some guidelines so these features could be better leveraged. Maybe this could be placed in the how to section.

Some things that would need to be documented:
* How to separate the data, ACLs, custom indexes...
* Use of custom index name

[2020-10-02 17:55] elasticmachine commented on #21494
Pinging @elastic/integrations (Team:Integrations)

[2020-10-02 17:55] elasticmachine commented on #21494
Pinging @elastic/obs-docs (Team:Docs)

[2020-10-02 18:18] jsoriano opened #21495 "Packetbeat includes nil IP fields when a DNS query is interrupted"
There are situations with DNS packets, that Packetbeat includes null IP fields in the documents, causing mapping errors when ingesting in Elasticsearch.

This has been reported with events that contain the message `Another query with the same DNS ID from this client was received so this query was closed without receiving a response`.
In this case it seems that Packetbeat is including a `resolved_i

[2020-10-02 18:18] elasticmachine commented on #21495
Pinging @elastic/siem (Team:SIEM)

[2020-10-02 21:01] dedemorton opened #21499 "Document Elastic Agent install and uninstall commands"
Related issue: https://github.com/elastic/beats/issues/21019

Related PR: https://github.com/elastic/beats/pull/21206

Also document installation paths as described in 21019.

[2020-10-02 21:01] elasticmachine commented on #21499
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-02 21:01] elasticmachine commented on #21499
Pinging @elastic/obs-docs (Team:Docs)

[2020-10-03 02:44] dedemorton commented on #19148
Closed by #19284

[2020-10-03 02:44] #19148 closed

[2020-10-03 16:36] #10292 closed

[2020-10-04 05:59] hkirsman commented on #13093
+1

[2020-10-05 07:38] #20068 closed

[2020-10-05 08:53] #21381 closed

[2020-10-05 09:47] rahulgupta-qasource opened #21512 "Error "failed to discover the source directory for installation: missing elastic-agent" is displayed on running elastic-agent install command on linux .deb"
**Kibana version:**
Kibana: 7.10.0-SNAPSHOT

**Elasticsearch version:**
Elasticsearch: 7.10.0-SNAPSHOT

**Host OS and Browser version:**
Linux .deb , All

**Original install method (e.g. download page, yum, from source, etc.):**
From 7.10.0-SNAPSHOT cloud environment

**Description**
Error "failed to discover the source directory for installation: missing elastic-agent" is displayed on running ela

[2020-10-05 09:47] elasticmachine commented on #21512
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-05 09:48] rahulgupta-qasource commented on #21512
@muskangulati-qasource Please review the bug.

[2020-10-05 10:19] muskangulati-qasource commented on #21512
Reviewed & assigned to @EricDavisX .

[2020-10-05 10:30] jsoriano opened #21515 "Custom index pattern name is not updated in all dashboards"
When using custom index names, dashboards installed by Beats should use the indicated index pattern, but this is not happening in all cases.

At least these visualizations don't work when using custom index patterns:
* `Number of hosts [Metricbeat System] ECS`
* `Services [Metricbeat Windows] ECS` (only one out of three references updated).

Some references to index patterns are updates, but some

[2020-10-05 10:30] elasticmachine commented on #21515
Pinging @elastic/integrations (Team:Integrations)

[2020-10-05 11:01] rahulgupta-qasource commented on #21019
Hi Eric

We have created 03 and updated 03 testcases and reported following 01 bug [#21512](https://github.com/elastic/beats/issues/21512) for above tests:

Moreover, we have executed 12 tests(failed 04 and blocked 02 testcases due to bug [#21512](https://github.com/elastic/beats/issues/21512)) under Elastic agent install with Endpoint TestRun(with latest 7.10.0-SNAPSHOT elastic agent artifacts fr

[2020-10-05 11:09] ChrsMark commented on #21189
@rajputvishwas yes

[2020-10-05 11:25] ChrsMark commented on #21189
Our solution currently (`7.x`) versions can support multiple kinds of container runtimes like cri-o or docker. This is possible through the [container input](https://www.elastic.co/guide/en/beats/filebeat/master/filebeat-input-container.html.

However this is not possible in with `6.8.x` versions and [docker input](https://www.elastic.co/guide/en/beats/filebeat/master/filebeat-input-docker.html) s

[2020-10-05 11:52] serak commented on #15785
i have installed this on AIX 7.2.0.0 and whenever i tried starting it using /opt/freeware/bin/filebeat -e it throws Illegal instruction(coredump) error

[code]

[2020-10-05 12:27] rahulgupta-qasource commented on #21451
Hi Eric

Thank you for the update.

We have hold on the install tests for reboot validated the basic initial stand-alone mode install under [#21019](https://github.com/elastic/beats/issues/21019) ticket.

We will test the 'upgrade' tests once they are available.

[2020-10-05 12:34] Helflym commented on #15785
This filebeat is compiled using Golang toolchain which works only on Power8 and after. If you want to use filebeat on Power7, you'll need to rebuild it using gccgo.

[2020-10-05 12:47] EricDavisX commented on #21512
@muskangulati-qasource @rahulgupta-qasource can you confirm if the vm was in a clean state when you ran the first command cited?  the error messaging sounds like an upgrade case, if not its just error handling that could maybe be cleaned up.  @blakerouse thoughts on when that error sequence would be shown?

Also, it would be helpful to know the hash of the build from Infra or the 'version' output

[2020-10-05 13:24] michalpristas opened #21518 "[Ingest Manager] Update procedure: rollback on failure"
With update procedure in place we need a mechanism for the case when update procedure wont succeed.

For this we need additional subprocess which will be triggered and will watch for several indicators during a grace period:
- health of agent
- health of agents subprocesses (beats, endpoint)
- unusual restarts/crashed of agent or subprocesses

what is healthy or not is defined on the level of agen

[2020-10-05 13:24] elasticmachine commented on #21518
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-05 13:46] jmartin51 opened #21520 "Metricbeat to support kube-state-metrics version 2.0.0"
**Describe the enhancement:**
Metricbeat to support `kube-state-metrics` version 2.0.0 for kubernetes 1.17/1.18

**Describe a specific use case for the enhancement or feature:**

* As per our compatibility Matrix metricbeat does support kubernetes 1.17/1.18
https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-module-kubernetes.html#_compatibility_28

* As per the `kube-state-metrics

[2020-10-05 13:46] elasticmachine commented on #21520
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-05 13:57] novaksam opened #21521 "Select ECS fields at setup time"
**Describe the enhancement:** For the setup command in beats (specifically filebeat) give the user the ability to select which ECS fields they upload to the index template. Similar to something like ```filebeat -c /etc/filebeat/filebeat.filebeat.yml setup --modules auditd,apache,azure```

**Describe a specific use case for the enhancement or feature:** As I'm troubleshooting cluster issues, I foun

[2020-10-05 14:02] sboulkour opened #21522 "Parsing issue with module aws.elb"
I did setup FileBeat to get and parse my access logs in S3, using aws.elb module.
Gathering SQS notifications and S3 logs line works fine, but then it doesn't parse those log messages and push it as is.

Please Discuss URL for details. Ping @kaiyan-sheng

For confirmed bugs, please report:
- Version: 7.9.2
- Operating System: Linux / K8s
- Discuss Forum URL: https://discuss.elastic.co/t/filebeat-a

[2020-10-05 14:09] #21485 closed

[2020-10-05 14:10] elasticmachine commented on #21522
Pinging @elastic/integrations-platforms (Team:Platforms)

[2020-10-05 14:13] sboulkour opened #21524 "Allow Filebeat deployment as a StatefulSet in current or new Helm Chart"
**Describe the enhancement:**
Current Helm chart only allow the deployment of FileBeat as a daemonSet. This is perfect to gather logs from K8s cluster itself but doesn't fit the other use case.

**Describe a specific use case for the enhancement or feature:**
In my use case, a deploy a set of FileBeat instances per AWS module to activate. One for ELB access logs, one for S3 access logs etc. For ea

[2020-10-05 14:17] blakerouse commented on #21512
You cannot use `elastic-agent install` from installation of `*.deb`. You just use `elastic-agent enroll` no `elastic-agent install`. This is expected behavior.

[2020-10-05 14:17] #21512 closed

[2020-10-05 14:36] #19472 closed

[2020-10-05 14:52] #20694 closed

[2020-10-05 15:01] #18563 closed

[2020-10-05 15:03] srolskyi opened #21528 "[Filebeat] Adding wildcard support for log_group_name in cloudwatch input"
**Find awscloudwatch log groups by discovery(pattern)**

For example I have ~400 log_groups and I should to parse only ~70
My log_group contain some similar names like:
[code]
My **filebeat.yml** configuration:

[code]
Got an error:
[code]
If I set: log_group_name: /development/application/* have similar issue:

`getLogEventsFromCloudWatch failed: InvalidParameterException: 1 validation error dete