[2021-01-28 18:17] ph commented on #6361
I don't think this is necessary.

[2021-01-28 18:17] #6361 closed

[2021-01-28 18:18] ph opened #23741 "Migrate input document of Filebeat and metricbeat to elastic agent"
## Filebeat

- [ ] log
- [ ] filestream
- [ ] awscloudwatch
- [ ] azureeventhub
- [ ] cloudfoundry
- [ ] container
- [ ] gcppubsub
- [ ] http_endpoint
- [ ] httpjson
- [ ] journald
- [ ] kafka
- [ ] mqtt
- [ ] netflow
- [ ] o365audit
- [ ] redis
- [ ] s3
- [ ] stdin
- [ ] syslog
- [ ] tcp
- [ ] udp
- [ ] unix

## Metricbeat

- [ ] system
- [ ] nginx
- [ ] activemq
- [ ] aerospike
- [ ] apache
- [

[2021-01-28 18:20] elasticmachine commented on #23741
Pinging @elastic/obs-docs (Team:Docs)

[2021-01-28 18:28] ph opened #23742 "[Meta] Migrate outputs documentation to Elastic Agent"
With the move to Elastic Agent we have reduced the number of supported outputs:

- [ ] Elasticsearch
- [ ] Logstash _not supported by elastic agent_
- [ ] Kafka _not supported by elastic agent_

[2021-01-28 18:28] elasticmachine commented on #23742
Pinging @elastic/obs-docs (Team:Docs)

[2021-01-28 18:29] ph commented on #23734
I though we had unit test for this kind of scenario in the AST, I believe using `add_kubernetes_metadata: ~` is work around.

[2021-01-28 18:34] fearful-symmetry commented on #22786
Yep.

[2021-01-28 18:34] #22786 closed

[2021-01-28 18:44] ph commented on #23741
@andresrc @urso @mostlyjason Anything we should not carry over to Elastic Agent?

[2021-01-28 18:44] kkojouri commented on #9600
We're seeing also seeing this for the Zeek module, but we're running filebeat 7.9.0. Logs keep queuing up in Logstash and the only way to resolve it is to delete and recreate the filebeat-7.9.0-zeek-ssl-pipeline pipeline. We're reluctant to increase the max_compilations_rate. We're using Elastic cloud service running Elasticsearch 7.10.0.

`[2021-01-28T18:32:46,528][INFO ][logstash.outputs.elastic

[2021-01-28 18:47] kuisathaverat commented on #18334
It is https://github.com/elastic/infra/issues/25762#issuecomment-761111693

taking a look to https://github.com/elastic/infra/issues/25762, other teams make the packaging process in two steps first build the binaries and push them to a bucket and after that, build the Docker images in the native architecture with `docker build` easy peasy

[2021-01-28 18:50] ph opened #23746 "[Meta] Migration processor documentation to Elastic Agent"
- [ ] add_cloudfoundry_metadata
- [ ] add_cloud_metadata
- [ ] add_docker_metadata
- [ ] add_formatted_index
- [ ] add_host_metadata
- [ ] add_id
- [ ] add_kubernetes_metadata
- [ ] add_locale
- [ ] add_nomad_metadata
- [ ] add_observer_metadata
- [ ] add_process_metadata
- [ ] communityid
- [ ] convert
- [ ] decode_csv_fields
- [ ] dissect
- [ ] dns
- [ ] extract_array
- [ ] fingerprint
- [ ] rat

[2021-01-28 18:50] elasticmachine commented on #23746
Pinging @elastic/obs-docs (Team:Docs)

[2021-01-28 18:51] ph commented on #23746
@ruflin @andresrc @urso @mostlyjason Anything we should not carry over to Elastic Agent?

[2021-01-28 19:16] #10765 closed

[2021-01-28 19:45] plustigahl commented on #14997
Hi @mitchellmaler, would you mind sharing your findings?  I can't seem to; for the love god, figure this thing out.  Was burning the midnight oil trying to get this to work to no avail.  I'd really appreciate it.  Thank you!

I'm running metricbeat for kubernetes and sending to elasticsearch, but can't seem to figure out the damned autodiscover thing for the controller and scheduler metrics.

[2021-01-28 19:53] fearful-symmetry commented on #23702
Agreed, it would probably be better to provide some summary data and then point to the docs site.

[2021-01-28 21:19] EricDavisX opened #23748 "[Agent] when we enable Endpoint in Agent Policy, monitoring filebeat doesn't get sent the log path until Agent is re-started, reproducible only on x86 Windows so far"
When testing with the Build Candidate #5 from 7.11 - where we thought it was all fixed, we are seeing the exact same behavior as in https://github.com/elastic/beats/issues/23599

I'm splitting this issue off as a potentially next level or more specific fix that relates to x86 is required

to sum up, I'm looking at the log files on the host and they exist, but nothing is showing as being ingested b

[2021-01-28 21:53] EricDavisX commented on #23748
before I even finished logging this, it looks like it started working.  I think there was a repeated Agent 'error' state that may have caused it to continually re-start and not ever get to send logs.  It seems to have stopped trying the re-start and now is doing ok. relates to the below error, maybe?
<img width="888" alt="Screen Shot 2021-01-28 at 4 45 50 PM" src="https://user-images.githubusercon

[2021-01-28 21:54] EricDavisX commented on #20624
That's now, right - for 7.11?  @dikshachauhan-qasource can you check that the Beats, and Agent and Endpoint are all signed correctly using the latest 7.11 BC5 build artifacts

[2021-01-29 03:32] mraliagha commented on #13380
Is there any workaround for this issue?

[2021-01-29 07:45] elasticmachine commented on #23728
Pinging @elastic/integrations (Team:Integrations)

[2021-01-29 07:47] elasticmachine commented on #23725
Pinging @elastic/integrations (Team:Integrations)

[2021-01-29 09:51] ruflin commented on #23741
I'm pretty sure, some of the inputs will contain some comments / configs which are not compatible. I like this as a checklist to go through it one by one and see what we need and what not. This ties also into a discussion I had in the past with @urso Should each process be able to just add new inputs and they will be magically supported or does each addition of a new input type have to go through

[2021-01-29 09:53] ruflin commented on #23746
As with the inputs, I would suggest we go one by one and keep is as the tracking issue. Whoever is going to transfer it should think through why we need the processor and where. Are all of them already supported today?

[2021-01-29 09:55] imightbelosthere commented on #21066
Did this "died"? I mean... on ELK stack we have the suricata integration but there's no support at all on how to integrate and grab the logs from a platform that has suricata in it?

Think I'll just ship all the logs to Azure Log Analytics then...

[2021-01-29 12:10] ph commented on #23741
When I've talked with @dedemorton yesterday, we can do a quick rough pass to have at least something and iterate and remote or changes items.

Log, filestream and system are obvious priorities but what about the others?

[2021-01-29 12:14] andrewvc opened #23752 "Journalbeat and Packetbeat cannot build (no target make check)"
This backport ( PR https://github.com/elastic/beats/pull/23224 ) cannot be merged because journalbeat and packetbeat say it has no ability to run `make check`.

[code]

See: https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats/detail/PR-23224/5/pipeline

The packetbeat error is different:

[code]

[2021-01-29 12:31] mostlyjason opened #23753 "[Elastic Agent] Report error if Fleet server is misconfigured"
If the user installs fleet server, but it is not able to run because it is misconfigured, lacks credentials, or the credentials are no longer valid, or it is not able to contact Elasticsearch, report an error in the agent log file.

Related:
- https://github.com/elastic/fleet-server/issues/274

[2021-01-29 12:31] elasticmachine commented on #23753
Pinging @elastic/agent (Team:Agent)

[2021-01-29 12:51] amolnater-qasource opened #23755 ""Error setting up ML" exceptions while installing Filebeat for Windows."
**Kibana version:**
Kibana: 7.11.0 BC-5 Cloud environment

**Host OS and Browser version:**
Windows 10, All

**Preconditions:**
1.  7.11.0 BC-5 Cloud environment should be available.

**Build Details:**
[code]
2. Download Filebeat Windows zip file and extract at C:\Program Files.

**Steps to reproduce:**
1. Open a PowerShell prompt as an Admin user and install FileBeat and run below commands:
PS >

[2021-01-29 12:51] dikshachauhan-qasource commented on #23735
Hi @EricDavisX

Thanks for the feedback.

We have re-validated this and observed functionality is working fine after 5 minutes.

Thus, closing this out.

Further, we have one query.

**QUERY**: Could you please confirm about refresh button on Agent logs page. As currently, we hard refresh the browser for Agent logging level to update. It could be helpful if you could provide us any information reg

[2021-01-29 12:51] #23735 closed

[2021-01-29 12:51] dikshachauhan-qasource commented on #20624
Hi @EricDavisX

We have validated this issue on 7.11 BC5 Kibana cloud build on windows host with test-signing off enabled . Build details are as follows:

[code]

**Observations:**
- Host deployed 'healthy'
- Filebeat, metricbeat and endpoint binaries were executable and are in running state.
- Host was visible on Admin Security page and has a 'green' Success policy.
- Data streaming was available

[2021-01-29 12:52] elasticmachine commented on #23755
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-29 12:57] dikshachauhan-qasource commented on #23735
Hi @EricDavisX

We have validated this issue on 7.11 BC5 Kibana cloud build . Build details are as follows:

[code]
**Observations:**
'debug' level log are getting displayed under elastic_agent.filebeat/metricbeat dataset even after 20 minutes of time when agent logging level was last updated.

**Screenshot:**
![23735](https://user-images.githubusercontent.com/72375798/106277735-923fc500-625f-11eb

[2021-01-29 12:58] manishgupta-qasource commented on #23755
Reviewed & Assigned to @EricDavisX

[2021-01-29 13:03] dikshachauhan-qasource opened #23756 "'Error fetching agents; external error occurred' pop up coming inconsistently on Agents Tab"
**Build Details:**
Version : 7.11 BC5 on cloud
BUILD 37827
COMMIT d801a7bb08e17368584d00fbd97a5d0006285b51

Agent Artifact Link: https://staging.elastic.co/7.11.0-903dc0b6/downloads/beats/elastic-agent/elastic-agent-7.11.0-windows-x86_64.zip

**Steps to Reproduce**
- Go to Fleet 'Agents' list.
- Observed that inconsistently error "Error Fetching Agents" is thrown on Agent Tab

**Screenshot:**
![bu

[2021-01-29 13:03] elasticmachine commented on #23756
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-29 13:04] dikshachauhan-qasource commented on #23756
@manishgupta-qasource Please review

[2021-01-29 13:27] eeijlar opened #23757 "Not possible to use path in logstash URL"
I am trying to ship files from a filebeat instance, to logstash running inside kubernetes. Traffic into kubernetes is routed using the gloo service. Gloo matches on the incoming URL, so if I want to reach the logstash service I would use:

`10.1.103.92:30090/logstash`

Unfortunately, I cannot use this format in the `output.logstash` section of filebeat:

[code]
I get the following error:

[code]
I

[2021-01-29 13:28] manishgupta-qasource commented on #23756
Reviewed & Assigned to @EricDavisX

[2021-01-29 13:39] elasticmachine commented on #21066
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-01-29 13:39] elasticmachine commented on #23757
Pinging @elastic/agent (Team:Agent)

[2021-01-29 13:40] ph commented on #23757
This will not work, the protocol used by Logstash is not based on _HTTP_ but on _TCP_,  it has no context of `PATH`. You should use ports and a tcp proxy and not paths.

[2021-01-29 13:40] #23757 closed

[2021-01-29 13:47] dikshachauhan-qasource commented on #23243
Hi @EricDavisX

We have validated this issue on 7.11 BC5 Kibana cloud build . Build details are as follows:

[code]
**Observations:**
'debug' level log are getting displayed under elastic_agent.filebeat/metricbeat dataset even after 20 minutes of time when agent logging level was last updated.

**Screenshot:**
![23735](https://user-images.githubusercontent.com/72375798/106277735-923fc500-625f-11eb

[2021-01-29 13:54] ph commented on #23755
@EricDavisX I am confused by this issue, this look like a Filebeat issue why it's linked to ingest manager?

[2021-01-29 13:56] ph commented on #20205
@EricDavisX @michalpristas Can we close this?

[2021-01-29 13:56] #20205 closed

[2021-01-29 14:03] andrewkroh opened #23758 "[build] Generator tests fail in 7.x"
The generator tests are broken in the 7.* branches. The reason is that the generation step always pulls in beats from `master`. We should change the generator tests so that they pull in the current branch (or target branch for PRs). Or we should disable these tests on non-`master` branches since they don't reflect the status of the current branch.

It's always been a problem but now that master is

[2021-01-29 14:09] andrewkroh commented on #23758
Or an even simpler fix is to simply change the origin/master in each branch.

[2021-01-29 14:12] v1v commented on #23752
There was a couple of backports that were not yet merged that actually caused this particular misleading:
- https://github.com/elastic/beats/pull/23738
- https://github.com/elastic/beats/pull/23739

So I think you should be good to go now

[2021-01-29 14:12] ferullo opened #23759 "Relay up to date Agent and Beats pids to Endpoint"
Endpoint is targeting 7.13 to add support for host isolation (an aggressive firewall). When a host is isolated it's important Agent and Endpoint are still able to connect to Kibana to receive updates (especially, an unisolate action). Endpoint can handle making sure that is the case without Agent changes.

We also expect a user will want Beats to continue to be able to stream data while the host i

[2021-01-29 14:14] v1v commented on #23758
@andrewstucki  asked about some of the environment variables in the CI, see  https://github.com/elastic/apm-pipeline-library/issues/927 , that I think it's related to this particular issue

[2021-01-29 14:16] #13967 closed

[2021-01-29 14:19] ferullo opened #23760 "Add more output when Agent can't install Endpoint"
When Agent fails to install Endpoint the result shown in the Agent log is:

[code]

which doesn't provide much details to a user. Can we work together to improve that output?

When Endpoint is installed the command line option `--log stdout` can print Endpoint install logs. Ideally we'd have a way to share those logs with a user but we can explore other options if that's not feasible.

It's worth

[2021-01-29 14:26] elasticmachine commented on #23759
Pinging @elastic/agent (Team:Agent)

[2021-01-29 14:26] elasticmachine commented on #23760
Pinging @elastic/agent (Team:Agent)

[2021-01-29 14:48] andrewkroh commented on #23758
Temporary fix for 7.x https://github.com/elastic/beats/pull/23761. A similar fix was already applied to 7.11.

[2021-01-29 15:02] blakerouse commented on #23685
I believe the `startsWith` function doesn't handle a null value being passed into the string comparison. It should handle that and not raise an error.

I think both issues are from Agent side, I need to investigate this more. I think there is something else core going wrong.

[2021-01-29 15:49] kvch commented on #18334
Just to follow-up after we had an off-line conversion with @v1v and @kuisathaverat about how to approach this.

We decided to stay on the well-known path of building inside a Docker container for the following reasons:
* we have complete control over the whole environment
* on startup we get a clean environment
* does not interfere with other dependencies on the system
* we can reproduce previous

[2021-01-29 16:08] EricDavisX commented on #23735
I have a hunch it should be less than 5 minutes, but the nuance is that the logs are being written to disk and picked up by the monitoring beat and being sent to ES and then being indexed and shown in Fleet - it is understandable for it to take a minute or so for the final logs that were already in progress to run their course.  5 minutes seems longer than I'd expect, but it is hard to get timing

[2021-01-29 16:10] kuisathaverat commented on #18334
to be clear, it is an ARM Docker image with Go, gcc, and all the libraries we need to compile beats, it compiles using the native Go, gcc, and libraries in the Docker images, but it not make any kind of cross-compile or uses cross-compile tools, it is not needed, the target architecture, the Docker host, and the  Doker image have the same architecture ARM. This Docker image can only generate ARM b

[2021-01-29 16:28] fearful-symmetry opened #23764 "Filebeat Cisco module parsing incorrect source/destination addresses for some events"
There seems to an issue with this pattern in the filebeat Cisco module:
[code]

It appears that the logic that determines source and destination addresses isn't quite as simple as it looks, and a few other products have run into basically the same gotcha:

https://community.splunk.com/t5/All-Apps-and-Add-ons/Splunk-Add-on-for-Cisco-ASA-Is-parsing-of-src-ip-and-dest-ip/m-p/141121

https://community

[2021-01-29 16:29] elasticmachine commented on #23764
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-01-29 16:37] jsoriano opened #23765 "Support tags with square brackets in dropwizard metrics"
Current implementation of dropwizard can parse metric names with tags between curly brackets, but it seems common to use square brackets for tags, at least with 4.x versions of dropwizard.

For example this is an extract of a JSON response from dropwizard 4.1:
[code]

At the moment Metricbeat keeps the metric names as they are, with the tags included, but with some tags this can lead to fields exp

[2021-01-29 16:37] elasticmachine commented on #23765
Pinging @elastic/integrations (Team:Integrations)

[2021-01-29 16:56] EricDavisX commented on #20624
Thank you @dikshachauhan-qasource for the quick report on overall function.  :)

@ph can you confirm what specifically we'd like to assess here and help us lay out an AC / spec for each of the artifact types?

I'm evaluating 7.11 BC5 build, https://staging.elastic.co/7.11.0-903dc0b6/downloads/beats/elastic-agent/elastic-agent-7.11.0-darwin-x86_64.tar.gz
 - For example, I noticed the elastic-agent

[2021-01-29 17:06] Conky5 commented on #20624
I don't think a `.tar.gz` can be macOS codesigned, only the binary executables and shared libraries can be. The `.sha512` and `.asc` gpg signature files exist to verify a `.tar.gz` has been built by Elastic.

The bundled executables in https://staging.elastic.co/7.11.0-903dc0b6/downloads/beats/elastic-agent/elastic-agent-7.11.0-darwin-x86_64.tar.gz look codesigned to me.

[code]

[2021-01-29 17:07] EricDavisX commented on #23756
@ph should we at least review if we can see this and look at error logs?
@dikshachauhan-qasource can you try to reproduce on local setup instead of cloud, for same build?
we would like to have the Kibana logs if possible.  If we can reproduce it on cloud here, we can try to get the logs.  I believe this was cloud 'prod' elastic as the test team was having issues with 'staging' yesterday and so was

[2021-01-29 17:08] elasticmachine commented on #23756
Pinging @elastic/fleet (Team:Fleet)

[2021-01-29 17:09] fearful-symmetry commented on #15549
@gservat Is there any way you can update metricbeat to a newer version?

[2021-01-29 17:25] ph commented on #23756
@nchaulet I've moved it into the investigation,  I see the item as marked as high. But I am not totally sure, I would have expected that kind of behavior show up for some time.

[2021-01-29 17:37] ph commented on #20624
AC:

- Linux binaries should not be code signed.
- Docker binaries should not be code signed.
- On Windows: elastic-agent.exe and the binaries in bundled executables should be code signed. (signtool verify /pa /v)
- On macOS: elastic-agent and the binaries in the bundled executes should be code signed (codesign -d -vvv)
- The compressed artifacts aren't code signed we use `sha512` and the `.asc`.

[2021-01-29 17:44] bvader commented on #23765
Team,

@jsoriano
@sorantis

This is a show stopper for the Blizzard Metrics Opportunity it is creating thousands of fields, possibly 100s of Thousands of fields.

Here is an example
[code]

I thinking / execting to look something like this
[code]

[2021-01-29 18:04] jsoriano commented on #13380
@mraliagha I am afraid that not at the moment :slightly_frowning_face: Are you being hit by this issue? Do you see errors about outdated metadata?

[2021-01-29 18:39] EricDavisX commented on #23756
I fully acknowledge the repro scenario isn't known - there must be something more on the setup / environment side that contributes.  It isn't seen on all BC5 builds, and isn't consistent when it is.

[2021-01-29 18:54] nchaulet commented on #23756
@EricDavisX It's possible to have the cloud instance id in this case, it will help to investigate the logs and what is the error behind

[2021-01-29 19:24] nchaulet commented on #23756
Investigation still in progress, but dumping a little what I found for now so the errors is not really frequent 60 errors out of 50k during the last 7 days

<img width="1675" alt="Screen Shot 2021-01-29 at 2 10 07 PM" src="https://user-images.githubusercontent.com/1336873/106318065-411ed980-623d-11eb-801b-b82a7f87ccb1.png">
<img width="1680" alt="Screen Shot 2021-01-29 at 2 10 22 PM" src="https://

[2021-01-29 19:27] ph commented on #23756
@nchaulet is that the cloud proxy layer?

[2021-01-29 19:30] nchaulet commented on #23756
No I think the error is coming from Kibana.

[2021-01-29 20:36] andrewvc commented on #23752
Great

[2021-01-29 20:36] #23752 closed

[2021-01-29 20:55] EricDavisX commented on #23243
@jen-huang I think this is a valid bug, that setting 'warning' in the UI doesn't work to do much... the original PR has 'warn' level tested, I see.  So that is probably intended, but it has changed since - I can't see where yet.  I couldn't tell where it was pulling the values from to populate that Agent levels list, maybe it is pulled from an index at run time, relating to this line?  https://git

[2021-01-29 21:33] #22788 closed

[2021-01-29 21:44] EricDavisX commented on #23243
ok- I spoke with @nchaulet who worked on this part of the Kibana code and he convinced me it is probably just a bug in Metricbeat / Filebeat - the screenshots are telling, but he notes that the actual output in the logs is unrelated to the value sent when setting the log level.  And he says if we set 'warn' via Kibana that Metricbeat rejects it, so that isn't the fix as I had hypothesized.

@micha

[2021-01-29 21:45] elasticmachine commented on #23243
Pinging @elastic/agent (Team:Agent)

[2021-01-29 21:46] EricDavisX commented on #23243
I don't think this is 'high' impact, as it is just the helpful logging that is impacted.  and it works for 'debug' and for 'error' which will be the 2 most common levels set, if anyone even bothers to change it from the default of 'info'.

[2021-01-29 21:48] EricDavisX commented on #20205
closed is great - thanks PH.

[2021-01-29 21:52] EricDavisX commented on #23755
just a habit of the test team and it got missed in their side of issue review.  i agree it looks like beats so I will remove the [tag] and label.

[2021-01-29 21:55] EricDavisX commented on #23755
I'm not familiar with this functionality though, so I don't know if it is indeed high impact or urgent for 7.11 review.  Hence I am leaving the 'high' impact and 7.11 labels for the Filebeat team to review.  @ph thanks for the help spotting it.

[2021-01-29 21:59] EricDavisX commented on #23243
More from Nicolas:
...Looks like the log level warning is not transmitted from the agent to metricbeat
https://github.com/elastic/beats/blob/master/x-pack/elastic-agent/pkg/core/plugin/process/start.go/#L135-L152

so if the level is warning the level send to metricbeat is “” that fallback to “debug” #23769
🎉

[2021-01-29 22:08] EricDavisX commented on #23243
we'll discuss if we want to backport to 7.11 and will confirm back

[2021-01-29 22:39] IshanOhri commented on #20313
Any update on adding the above fields to the Metricbeat vSphere module?

[2021-01-29 22:57] IshanOhri commented on #20313
@jsoriano - Do you know if work being done on adding the performance metrics?

[2021-01-30 00:31] mgreau commented on #18334
To clarify why we asked not to use[ **Docker Buildx**](https://docs.docker.com/buildx/working-with-buildx/) back in April 2020, there were 3 reasons:

1. Docker Buildx was **experimental**
    https://docs.docker.com/buildx/working-with-buildx/

2.  Our referent at Docker Inc. (@tianon) [told us](https://github.com/elastic/infra/issues/20161#issuecomment-627503186) they were building images on the

[2021-01-30 16:52] urso commented on #23755
@kvch Does this ring a bell?

[2021-01-30 17:32] andrewkroh opened #23771 "[Filebeat] Missing netflow field definitions for vendor fields"
The vendor fields contained in https://github.com/elastic/beats/tree/master/x-pack/filebeat/input/netflow/decoder/fields are missing from the generated fields.yml. The `go generate` command declared here is what creates the fields.yml file for the netflow input. Perhaps the other CSV files can be appended to the list of arguments to the command?

https://github.com/elastic/beats/blob/b89e5d6e77580

[2021-01-30 17:32] elasticmachine commented on #23771
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-01-30 17:34] andrewkroh commented on #23771
This is needed because the tests for the netflow package in elastic/integrations is validating that all fields are declared. And some of the tests involve vendor specific fields taken from a Cisco IPFIX pcap.

Relates: https://github.com/elastic/integrations/issues/377

[2021-01-31 02:08] SudoNova commented on #16076
I have the same issue and it won't get fixed until I remove registry, which is undesired because leads to lots of duplications.
A small portion of log file is as follows:
[code]

[2021-01-31 10:19] jpuris commented on #14348
Seems to be not a problem with Filebeat 7.10.2 and Ubuntu 20.04 LTS
[code]

Enabled modules
[code]

`/etc/filebeat/filebeat.yml`
[code]

Ingest pipeline GET /_ingest/pipeline/postgresql-log-pipeline
[code]

[2021-02-01 08:31] gemaliano opened #23774 "[doc] Clarification that xpack metricbeat modules are not using metricbeat index"
**Describe the enhancement:**
To add a note inside the metricbeat module saying this one is using monitoring index and a link to [elasticsearch explanation](https://www.elastic.co/guide/en/elasticsearch/reference/current/config-monitoring-indices.html).

https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-module-logstash.html
https://www.elastic.co/guide/en/beats/metricbeat/current

[2021-02-01 10:28] kvch opened #23775 "Support creating Docker images regardless of arch for all platforms"
The advantage of this approach is that we could continue cross-building all the packages from any machine supporting a linux/amd64 docker runtime. The same way that we cross-build other packages. Also, a similar approach could also work for windows images, something that we would like to support sooner than later (https://github.com/elastic/beats/issues/16814).

However, we would need to refactor

[2021-02-01 10:28] elasticmachine commented on #23775
Pinging @elastic/agent (Team:Agent)

[2021-02-01 11:16] elasticmachine commented on #19038
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-01 12:24] michalpristas commented on #23748
system package is still on the old version?

[2021-02-01 12:43] dikshachauhan-qasource opened #23778 "Unable to install Agent on windows 7 sp1 (32-bit)"
**Kibana version:** 7.11BC5 Kibana Cloud environment

**Host OS and Browser version:** Windows 7 sp1 32bit, All

**Preconditions**
1.  7.11BC5 Kibana Cloud environment should be available.
[code]
2. Download and extract elastic agent zip file in c:/>program files

**Steps to reproduce:**
1. RDP to endpoint.
2. Open PowerShell>run as administrator
3. Run install agent command.

**Actual Result**
Ob

[2021-02-01 12:43] elasticmachine commented on #23778
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-02-01 12:44] dikshachauhan-qasource commented on #23778
@manishgupta-qasource Please review

[2021-02-01 13:30] manishgupta-qasource commented on #23778
Reviewed & Assigned to @EricDavisX

[2021-02-01 13:31] amolnater-qasource commented on #23756
Hi @EricDavisX
As per https://github.com/elastic/beats/issues/23756#issuecomment-769930390 we have re-validated this on 7.11.0 Kibana cloud environment. Build details are as follows:

[code]
**Observations:**
- This issue is still reproduceable on Kibana cloud environment.
- "Error fetching agents" error is occurred due to inactivity for 5-10 minutes.

**Environment details:**
[code]
Screenshots:

[2021-02-01 14:01] amolnater-qasource commented on #23735
Hi @EricDavisX
Thanks for the feedback we have re-validated this issue on 7.11.0 Kibana Cloud environment.
**Build details:**
[code]
**Observations:**
- We are able to fetch new logs on re-applying filters at date picker as per the updated agent logging level.

Please let us know if anything else is required.

Thanks
QAS

[2021-02-01 14:06] amolnater-qasource opened #23781 "[Fleet]: Agent goes to "offline" state (after no user actions performed)."
**Kibana version:** Kibana: 7.11.0 BC-5 Cloud environment

**Host OS and Browser version:** Windows 10, All

**Preconditions:**
1. 7.11.0 BC-5 Cloud environment should be available.

**Build Details:**
[code]
2. Agent must be enrolled with default name policy.

**Steps to reproduce:**
1. Login to Kibana cloud environment.
2. Navigate to Agents tab.
3. Open agent> "Logs" tab in another browser tab.

[2021-02-01 14:08] elasticmachine commented on #23781
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-02-01 14:09] amolnater-qasource commented on #23781
@manishgupta-qasource  Please review. Thanks

[2021-02-01 14:27] Conky5 commented on #20624
Yes.

[2021-02-01 15:07] #23663 closed

[2021-02-01 15:11] #22686 closed

[2021-02-01 15:11] sorantis commented on #22738
Related: https://github.com/elastic/beats/issues/13604

[2021-02-01 16:19] kvch commented on #23755
No, but I would like to look into this.

[2021-02-01 18:42] n0othing commented on #16006
Reopening-- still an a desired feature.

[2021-02-01 18:48] EricDavisX commented on #23778
I think this is a simple mistake.

elastic-agent-7.11.0-windows-x86.zip
 is the correct one for x86.  desc above shows:
elastic-agent-7.11.0-windows-x86_64.zip

@dikshachauhan-qasource can you re-test with the x86 artifact?  You listed the x64 artifact in the repo steps (very helpful!).  We know that the x64 won't work on x86 so this is expected.  And the error message is helpful, so we can close

[2021-02-01 18:49] EricDavisX commented on #23781
@nchaulet this relates to other research we are doing, but may shed some light in terms of the user actions / use-case, with regards to user 'switching tabs' and it starts to show ok again?  If true it is certainly insightful.

[2021-02-01 19:13] #23243 closed

[2021-02-01 19:55] EricDavisX commented on #23755
I read this closer - if it entirely blocks Filebeat from installing on all Windows OSes it would have to be a blocker for 7.11 right?  Not sure if anyone can link to what CI we have that proves Windows can work, tho it is not in this specific config

[2021-02-01 20:05] ppf2 opened #23792 "Improve handling of missing field in dissect processor"
7.9.3

[code]

When there is a dissect processor referencing a field but the event does not contain the field, we can only tell that something is wrong if we increase logging to the DEBUG level:

[code]

I will be helpful to call out explicitly the field that is missing in the DEBUG log entry.

Also, it will be helpful if we can add an `ignore_missing` option to the `dissect` processor similar to

[2021-02-01 20:29] cdalexndr opened #23793 "Provided Grok expressions do not match field value"
For confirmed bugs, please report:
- Version: filebeat 7.10.1
- Operating System:  docker
- Discuss Forum URL:
- Steps to Reproduce:

Using filebeat with `nginx` module.

Resulting document:

[code]

[2021-02-01 20:32] cdalexndr commented on #16502
Still replicable using filebeat 7.10.1 with `nginx` module. It tries to parse multiple lines:
`Provided Grok expressions do not match field value: [172.18.0.1 - boss [01/Feb/2021:20:08:19 +0000] \"POST /api/console/proxy?path=_aliases&method=GET HTTP/2.0\" 200 378 \"https://localhost:5601/app/dev_tools\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:85.0) Gecko/20100101 Firefox/85.0\" \"-\"\n172.

[2021-02-02 00:00] hendry-lim opened #23795 "[Filebeat] cisco umbrella manifest is missing a few S3 input variables"
- Version:  `7.10.2` - also affects `master`
- Steps to Reproduce:
    - Load the cisco ingest pipeline into Elasticsearch `filebeat setup -e --modules cisco`

Errors:
`ERROR   instance/beat.go:956    Exiting: Error getting config for fileset cisco/umbrella: Error interpreting the template of the input: template: text:4:14: executing "text" at <.queue_url>: map has no entry for key "queue_url" Exi

[2021-02-02 00:10] elasticmachine commented on #23795
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-02 04:57] elasticmachine commented on #23793
Pinging @elastic/integrations (Team:Integrations)

[2021-02-02 04:57] elasticmachine commented on #23792
Pinging @elastic/agent (Team:Agent)

[2021-02-02 05:17] axrayn commented on #20283
As an enterprise customer, we're definitely interested in the improvements being proposed in this PR.

[2021-02-02 05:55] linrl3 opened #23797 "which go version should we use?"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2021-02-02 06:23] elasticmachine commented on #23797
Pinging @elastic/agent (Team:Agent)

[2021-02-02 06:23] andresrc commented on #23797
Hi, we are currently using 1.15.7, please check https://www.elastic.co/guide/en/beats/devguide/current/beats-contributing.html#setting-up-dev-environment

[2021-02-02 06:23] #23797 closed

[2021-02-02 06:28] elasticmachine commented on #23778
Pinging @elastic/agent (Team:Agent)

[2021-02-02 08:43] codeaprendiz opened #23798 "journalbeat:7.10.2 has issues with Fedora 33.2.* (CoreOS)"
## journalbeat:7.10.2 has issues with Fedora 33.2.* (CoreOS)

### What we will do to replicate the issue
- Start a simple docker journalbeat
- read the logs from `/var/log/journal/`
- output the logs to standard output

### Expected Output
- We should be able to see the logs in standard out :)

### Behaviour on Fedora 33.20210104.3.1 (CoreOS)

- check the os version
[code]

Setup the journalbeat.y

[2021-02-02 08:58] jsoriano opened #23799 "Document Dropwizard module in Metricbeat"
Dropwizard module is GA, but it lacks documentation apart of the reference configuration and the common HTTP options.

There are some things that would be important to mention in these docs:

* Supported representation format: The module collects metrics using the HTTP JSON endpoint as exposed by the [Dropwizard Metrics Servlets](https://metrics.dropwizard.io/4.1.2/manual/servlets.html), this is t

[2021-02-02 08:58] elasticmachine commented on #23799
Pinging @elastic/obs-docs (Team:Docs)

[2021-02-02 09:11] dikshachauhan-qasource commented on #23778
Hi @EricDavisX

Thank you for correcting us.

We have retested above issue with x86 artifact and found it Working fine

We are able to deploy agent . Hence, closing this issue. Sorry for the confusion.

Thanks
QAS

[2021-02-02 09:11] #23778 closed

[2021-02-02 09:20] jsoriano opened #23800 "Refactor fields in Dropwizard module"
Current Dropwizard metrics collector in Metricbeat allows to configure a namespace for the metrics, and doesn't provide mapping for the fields. This can lead to mapping problems.

Refactor the module in coherence with other generic metricsets as Prometheus:
* Store all metrics under `dropwizard.metrics` (use "typed" namespaces as in the SQL module if needed - `dropwizard.metrics.number.*`, `dropwi

[2021-02-02 09:23] elasticmachine commented on #23800
Pinging @elastic/integrations (Team:Integrations)

[2021-02-02 09:23] elasticmachine commented on #23799
Pinging @elastic/integrations (Team:Integrations)

[2021-02-02 10:03] codeaprendiz commented on #23220
How we can replicate the issue with minimal setup

## journalbeat:7.10.2 has issues with Fedora 33.2.* (CoreOS)

### What we will do to replicate the issue
- Start a simple docker journalbeat
- read the logs from `/var/log/journal/`
- output the logs to standard output

### Expected Output
- We should be able to see the logs in standard out :)

### Behaviour on Fedora 33.20210104.3.1 (CoreOS)

- c

[2021-02-02 10:03] codeaprendiz commented on #22129
How we can replicate the issue with minimal configurations

## journalbeat:7.10.2 has issues with Fedora 33.2.* (CoreOS)

### What we will do to replicate the issue
- Start a simple docker journalbeat
- read the logs from `/var/log/journal/`
- output the logs to standard output

### Expected Output
- We should be able to see the logs in standard out :)

### Behaviour on Fedora 33.20210104.3.1 (Cor

[2021-02-02 11:02] ChrsMark commented on #23585
`state_container` ECS fix PR: https://github.com/elastic/beats/pull/23802

[2021-02-02 11:29] masci commented on #23315
@ChrsMark can we add this to the Kubernetes integration migration doc?

[2021-02-02 12:00] #23658 closed

[2021-02-02 12:17] masual commented on #15922
Same problem hear, Elastic, Kibana and Filebeat versión 7.10.2 with the Suricta Filebeat Module enabled, getting:

`"reason":"Cannot write to a field alias [suricata.eve.http.hostname]."}}`

[2021-02-02 12:38] #22444 closed

[2021-02-02 13:16] mostlyjason opened #23808 "Add metadata header to beats and agent"
**Describe the enhancement:**
All clients now emit an additional [meta header](https://github.com/elastic/clients-team/blob/master/knowledgebase/specifications/client-telemetry-header.md) that provides enriched tracking most commonly used client configurations. This combined with our [specification around user agents](https://github.com/elastic/clients-team/blob/master/knowledgebase/specifications

[2021-02-02 13:16] elasticmachine commented on #23808
Pinging @elastic/fleet (Team:Fleet)

[2021-02-02 13:18] #23795 closed

[2021-02-02 13:19] elasticmachine commented on #23808
Pinging @elastic/agent (Team:Agent)

[2021-02-02 14:00] amolnater-qasource opened #23812 ""error: Metricbeat FAILED" errors under Logs tab on enrolling 7.11 Windows agent with 7.10 default policy on upgraded kibana(7.10.2-7.11.0)."
**Kibana version:** Kibana: 7.11.0 BC-5 Cloud environment

**Host OS and Browser version:** Windows 10, All

**Preconditions:**

1. 7.10.2 Cloud environment must be upgraded to 7.11.0.

**Build Details:**
[code]

**Steps to reproduce:**
1. Login to Kibana cloud environment.
2. Install 7.11 agent using policy existing earlier on upgraded Kibana.
3. Navigate to Fleet>agent "Logs" tab.
4. Notice, age

[2021-02-02 14:01] elasticmachine commented on #23812
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-02-02 14:02] amolnater-qasource commented on #23812
@manishgupta-qasource Please review. Thanks

[2021-02-02 14:33] rafalj4 opened #23814 "Metricbeat X-Pack Oracle module is not using full godror functionality for connection string for Oracle DB"
**Describe the enhancement:**
Oracle Database such as RAC or connection secured by SSL.
Metricbeat module for Oracle is not able to connect do the database using connection defined in hosts parameter or in  tnsnames.ora

**Describe a specific use case for the enhancement or feature:**
You can specify connection string for Oracle Database only as IP:port/service_name.
godror driver allows to use va

[2021-02-02 14:35] manishgupta-qasource commented on #23812
Reviewed & Assigned to @EricDavisX

[2021-02-02 14:59] EricDavisX commented on #23812
@amolnater-qasource can you please confirm
 - which (specific) windows OS this is on?
 - And which version of the package is on the system you are testing - is it 0.10.7 or 0.10.8 of System?

It may be specific to the upgrade scenario.  That remains to be seen.  If you can also compare the versions and if you see the error on a non-upgrade stack scenario it would be helpful for us to triage faster

[2021-02-02 15:19] EricDavisX commented on #23243
we backported and it is testable in BC6 coming out in a few days.  we can track testing here in this git issue

[2021-02-02 15:31] gevraud opened #23815 "Filebeat : collect & parse CISCO APIC logs"
Hello,

We plan to use filebeat (CISCO and Fortinet) modules to collect Network logs.

We also have CISCO APIC and we want to collect the logs (https://www.cisco.com/c/en/us/td/docs/switches/datacenter/aci/apic/sw/all/faults/guide/b_APIC_Faults_Errors/b_IFC_Faults_Errors_chapter_010.html)

It should be cool if Filebeat could directly parse those logs too.

Do you plan to do this in any roadmap ?

[2021-02-02 15:36] ph commented on #23613
@ChrsMark @blakerouse make sure if you find any issues related to the implementation please add them to this meta issue so we can prioritize them.

[2021-02-02 16:44] andrewkroh opened #23820 "[libbeat] Panic when using inline SSL certificate.key"
My key is 241 bytes, but the code requires the cert and key length to be at least 256 bytes or else it panics.

https://github.com/elastic/beats/blob/39e144dd05fab2310e1c5f3a63c9cfe68e6bf2cf/libbeat/common/transport/tlscommon/tls.go#L217-L218
[code]

Filebeat config:
[code]

[2021-02-02 16:59] andrewkroh commented on #23820
A key could be as small as 64 bytes for something like ed25519. For example:

[code]

[2021-02-02 17:03] andrewkroh commented on #23820
@ph Thinking about the comment in the code, I wonder if we even want to leak part of the key in logs. Perhaps we should put a static string like `inline` in this case.

[2021-02-02 17:45] elasticmachine commented on #23820
Pinging @elastic/agent (Team:Agent)

[2021-02-02 18:12] ph opened #23821 "[Meta] Agent integration testing prioritization"
- [ ] **Upgrade Agent** tests. a 7.10 feature, we completed an initial test but it needed maintenance due to lack of ability to test during ‘ci’ process. elastic/e2e-testing#534
- [ ]  **Fleet Server** initial support in e2e-testing elastic/e2e-testing#438

[2021-02-02 18:13] elasticmachine commented on #23821
Pinging @elastic/agent (Team:Agent)

[2021-02-02 18:38] ph opened #23822 "[Meta] Replace the logfile input with the Filestream input"
There are a few issues with the current logfile implementation: cannot read the same file from two differents inputs, problems when updating the registry, problems when an input is started with autodiscover, problems trying to stop a logfile input. (original PR https://github.com/elastic/beats/pull/21427)

The logfile input is also a building block for the container input and the docker input (whi

[2021-02-02 18:38] elasticmachine commented on #23822
Pinging @elastic/agent (Team:Agent)

[2021-02-02 18:57] elasticmachine commented on #23815
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-02 19:02] elasticmachine commented on #23814
Pinging @elastic/integrations (Team:Integrations)

[2021-02-02 19:03] elasticmachine commented on #23812
Pinging @elastic/agent (Team:Agent)

[2021-02-02 19:08] elasticmachine commented on #23798
Pinging @elastic/agent (Team:Agent)

[2021-02-02 20:26] urso commented on #23822
Related meta issues:
- https://github.com/elastic/beats/issues/20243
- https://github.com/elastic/beats/issues/15324

[2021-02-02 20:54] urso commented on #23639
Which setting exactly did you change? Just on disk or in the filebeat configuration file? The octal value 420 is 644 decimal.

[2021-02-02 21:46] andrewkroh commented on #23557
What's stopping you from using the above configuration today? The `name` options are ignored since those not valid config options, but the two  instances of the `file_integrity` module will both execute. You should see output from each instance.

[code]

[2021-02-02 22:03] EricDavisX commented on #23693
this is fixed - we may have new bugs.  but we'll log new issues

[2021-02-02 22:03] #23693 closed

[2021-02-02 22:41] offero commented on #5566
It's 2021 and it's still confusing

[2021-02-02 23:40] andrewvc opened #23823 "[Heartbeat] Enhanced Synthetics Config Syntax"
We should move away from the top level config file support for suites and make them another monitor type. This is being done in https://github.com/elastic/beats/pull/23467 . The idea here is that we can have both suites and inline jobs in the `browser` check. The `browser` check can take an optional `source` attribute, that would let it pick whether its `inline` a `suite` or some other future type

[2021-02-02 23:40] elasticmachine commented on #23823
Pinging @elastic/uptime (Team:Uptime)

[2021-02-03 00:16] EricDavisX commented on #23735
I validated on latest 8.0 env, too - looks fixed to me.  I'm sure 7.11 BC6 with the fix will show it as well. we can re-test that soon too.

[2021-02-03 00:25] EricDavisX commented on #23756
@amolnater-qasource hi - can you elaborate on what you want to convey in the comment 'not occurring on the stack deployment'?  To me 'the stack' means the Elasticsearch / Logstash / Kibana and cloud components.  Thank you.

[2021-02-03 00:38] dedemorton commented on #21104
Closed by #23727

[2021-02-03 00:38] #21104 closed

[2021-02-03 01:35] ansell commented on #23557
@andrewkroh I am really embarrassed now! The issue with my test system was that I had not copied the `recursive: true` setting from the production config, so that it didn't detect on files inside of the directory. Closing this as working with the following configuration:

[code]

[2021-02-03 01:35] #23557 closed

[2021-02-03 02:19] andrewkroh commented on #23557
@ansell No worries! 😄

[2021-02-03 05:14] amolnater-qasource commented on #23756
Hi @EricDavisX
Here am referring to on-prem environment.

Thanks
QAS

[2021-02-03 07:46] ZPerling opened #23827 "about filebeat upgrade 7.6.2 to 7.10.2"
I want to fix bug with filebeat kubernetes auto discover, so upgrade filbeat from 7.6.2 to 7.10.2, but I found some problem, the log events output to kafka speed is very slower at the new version, I do not know how to fix , anyone can help me? thanks.

filebeat run daemonset in kubernetes, and the config yaml:
[code]

the monitor output rate graph:
promql: rate(filebeat_libbeat_output_events{type=

[2021-02-03 08:22] dikshachauhan-qasource opened #23829 "[Ingest Manager]: Data Stream not generated for standalone Agent on kibana."
**Kibana version:**
7.11 BC5 Kibana Cloud environment

**Host OS and Browser version:**
Windows 10, All

**Preconditions**
1.  7.11 BC5 Kibana Cloud environment should be available.
[code]
2. Default policy having system integration should exist.[No change in namespace].

**Steps to reproduce:**
1. Login to Kibana cloud environment.
2. Go to Add Agents flyout. Go To 'Run Standalone' tab.
3. Downlo

[2021-02-03 08:23] elasticmachine commented on #23829
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-02-03 08:23] dikshachauhan-qasource commented on #23829
@manishgupta-qasource Please Review

[2021-02-03 09:03] ChrsMark commented on #23585
## Summary

Right now it seems that we have not been consistent on the way we report container ECS fields. There are 2 ways we report container ECS fields:
1. using `alias`
2. explicitly copying the fields in the code while preserving the original ones until 8.0

### alias
`add_docker_metadata` uses the [`alias` approach](https://www.elastic.co/guide/en/beats/metricbeat/current/exported-fields-doc

[2021-02-03 09:30] manishgupta-qasource commented on #23829
Reviewed & assigned to @EricDavisX

[2021-02-03 09:55] staticrea commented on #20516
I am getting same issue. has this been resolved?

[2021-02-03 10:16] #16054 closed

[2021-02-03 10:20] ChrsMark commented on #16483
Plan was discussed and defined at https://github.com/elastic/beats/issues/16558

[2021-02-03 10:34] mtojek commented on #19218
Let me reopen this issue, as it still happens on the package-storage side. The idea was to fix it with `xpack.security.authc.realms.file`, but we're failing so far.

For reference: https://github.com/elastic/elastic-package/pull/240

[2021-02-03 10:48] mtojek commented on #19218
I looked deeper and it seems to be a different root cause. Sorry for the noise.

[2021-02-03 10:48] #19218 closed

[2021-02-03 11:46] ChrsMark commented on #21848
@ph should this be a section in [providers docs](https://github.com/elastic/observability-docs/blob/master/docs/en/ingest-management/elastic-agent/elastic-agent-providers.asciidoc#docker-provider) like `docker` provider?

Also, I'm wondering if we should completely remove (or just replace with standalone version) the [running on k8s](https://github.com/elastic/observability-docs/blob/master/docs/e

[2021-02-03 12:16] #15610 closed

[2021-02-03 12:44] ph commented on #21848
Maybe it's a bit of both? @dedemorton could certainly offer guidelines here.

[2021-02-03 12:51] ph commented on #23829
Where you using the default configuration?

[2021-02-03 13:09] amolnater-qasource commented on #23812
Hi, @EricDavisX
We have revalidated this issue on 7.11.0 Kibana cloud environment(upgraded from 7.10.2).

Tested on Windows 10 x64

After upgrading the Kibana cloud environment, System integration version: 0.10.7

**Scenario 1:**
There is no "Metricbeat error" on non-upgrade stack scenario. This issue is only specific to Kibana upgrade.

**Scenario 2:**
When a 7.11 BC-5 agent is installed with **p

[2021-02-03 14:01] mostlyjason commented on #23808
Lets hold on this one for now. Apparently this data is not being tracked yet, and we need to wait for the clients team to get it ready.

[2021-02-03 14:13] mostlyjason commented on #23390
@sorantis where is the best place to track/discuss this issue? For integrations, it seems like we could add labels as part of our development guidelines? https://github.com/elastic/obs-dc-team/blob/master/development/generic_guidelines.md

[2021-02-03 14:58] #23706 closed

[2021-02-03 15:26] inqueue commented on #17923
This is not the case when Beats is receiving a back pressure response from the cluster and `setup.template.overwrite: false`. For example:

Metricbeat detects the template:

[code]

Then encounters a 429:

[code]

Now the publisher is disconnected. Retry:

[code]

License check `GET /_license`:

[code]

Try to load the template:

[code]

[2021-02-03 15:44] EricDavisX commented on #23812
Thank you @amolnater-qasource - that is very helpful.
@ph this is therefore going to be found by anyone using 7.10.x who upgrades to 7.11 and keeps their deployments  / data and Agents. The work-around is to create a new policy and re-deploy Agent.

Every release we do I expect more users to try it and to keep it around and upgrade it - while we are still Beta it may be worth fixing for 7.11.1 if

[2021-02-03 16:00] blakerouse opened #23833 "[Elastic Agent] Monitoring filebeat and metricbeat not connecting to Agent over GRPC"
## Overview

Elastic Agent spawns a filebeat and metricbeat to collect logs and metrics about Elastic Agent. These are seperate from the filebeat and metricbeat that is spawned for the `system` integration.

Seems that the monitoring filebeat and metricbeat are not connection back to Elastic Agent. So they never receive the configuration and they also timeout because they never check-in.

I believ

[2021-02-03 16:00] elasticmachine commented on #23833
Pinging @elastic/agent (Team:Agent)

[2021-02-03 16:18] EricDavisX commented on #23812
i confirmed this was seen as passing in 7.11 BC3 testing a few weeks ago - link: https://elastic.testrail.io/index.php?/runs/view/1005&group_by=cases:section_id&group_order=asc&group_id=9194
 - not sure what changed in the last approximately 4 weeks that relates?

[2021-02-03 16:28] ph commented on #23812
Let me try to understand I think @ruflin could confirm this.

The scenario described here is the following.

- Start with 7.10
- Have the Agent enrolled into a Policy with the System integration.
- Agent are healthy
- Upgrade to 7.11
- Upgrade agent to 7.11
- Agent are becoming unhealthy.

**What we need to identify here is:**

1. It is a problem with Elastic Agent after the upgrade? Most likely?

[2021-02-03 16:36] ph commented on #23812
@EricDavisX as bad as it look I would not consider this a blocker. Do we know if the reassigning of an agent to another Policy fixes the issues? I am trying to understand where the problem could be located.

[2021-02-03 16:38] EricDavisX commented on #23812
it looks to me like assigning to a new policy fixes it, indeed - I don't know about re-assigning to an existing policy.  No data on that yet, but if the problem is related to the Integration version then an existing policy wouldn't fix it.

[2021-02-03 16:40] ph commented on #23812
We can try to reproduce but to really speed up the investigation we need this.

1. Metricbeat logs, if it restarts every minute the log should be noisy.
2. Would be great to see the Agent Policy YAML from the Elastic Agent side (action_store.yml) and from Kibana export yaml.

[2021-02-03 16:41] EricDavisX commented on #23812
I am ok with it not being in 7.11.0 - can we site it as a 'known issue' wherever appropriate?  not sure the logistics for that.

[2021-02-03 16:53] EricDavisX commented on #23833
the failure was found both in the e2e-testing automated test as well as in the Demo/Test environment deploy, which confirmed it against Windows as well.  e2e-testing job link:
https://beats-ci.elastic.co/blue/organizations/jenkins/e2e-tests%2Fe2e-testing-mbp%2Fmaster/detail/master/274/pipeline/

[2021-02-03 17:20] dikshachauhan-qasource commented on #23829
Hi @ph

Yes we have opted here for default policy.

Please find elastic-agent.yml here for more details.
[elastic-agent_yml.txt](https://github.com/elastic/beats/files/5920294/elastic-agent_yml.txt)

[2021-02-03 17:24] mdelapenya commented on #23833
I'm going to add here my traces about the root cause for the error we see:

The possible culprit commits are:

[code]

In this table, which lists the commits in reverse order (older first), we are trying to describe what happened at the CI side of the PRs, which job triggered what, and with what result.

| PR | Beats CI merge build ID | | Packaging build ID | | E2E tests job | Failing tests |
|---

[2021-02-03 18:02] ycombinator commented on #23827
Hi @ZPerling, GitHub issues are for confirmed bugs. For questions please post on https://discuss.elastic.co/c/beats where you can get support from the community and Elastic engineers.

[2021-02-03 18:02] #23827 closed

[2021-02-03 18:24] ph commented on #23829
I've edited the file and created a gist https://gist.github.com/ph/fffc82a3a9e5670b0f0449a4316225a3

This configuration was taken from Fleet and put locally on disk?

Going to add it to triage we need to investigate it.

Looking at the screenshot it seems the elastic agent is not running.

[2021-02-03 19:07] michalpristas commented on #23833
I got deep into beat-agent communication and logically nothing seemed wrong feeding TLS Config in a way it has to work correctly.
after a long time i got thinking if TLS is wrong configuration will not reach beats, so i updated output to some garbage run agent and grep-ed logs for this string and it was there. so i ruled out TLS as issue.

i tried `drop`-ing `fleet-server` PR and issue dissapeared

[2021-02-03 20:07] EricDavisX commented on #23781
this issue is potentially fixed by https://github.com/elastic/kibana/pull/90066 - I am testing in latest snapshot of 7.11 with teh fix and I do not need any agent going unhealthy or off-line. I do however see a single instance of the 503 socket-hangup error in the logs.  Let us test more on the BC and with more agents, and assess - but it seems indeed a helpful fix.

[2021-02-03 20:07] fearful-symmetry commented on #23812
Chiming in here, since the `system/load` issues on Linux are just a thorn in my side. Nothing in the change from 0.10.7 to 0.10.8 should impact `system/load` so that shouldn't matter. Can we verify  _before the upgrade to 7.11_, what version of the policy is in place? If for whatever reason 7.10 is spinning up with an older integration release, this would explain it, although I'm not sure how that

[2021-02-03 20:31] EricDavisX commented on #23829
I believe I reproduced this on a linux host in 7.11 latest snapshot, and I see the Agent process running:
[zeus@mainqa-atlcolo-10-0-7-165 elastic-agent-7.11.0-SNAPSHOT-linux-x86_64]$ ps ax | grep elastic
 2152 ?        Ssl    0:01 /opt/Elastic/Agent/elastic-agent
 2159 ?        Zs     0:00 [elastic-agent] <defunct>
 2167 pts/1    R+     0:00 grep --color=auto elastic

I'm curious what a <defunct>

[2021-02-03 20:57] fearful-symmetry commented on #23812
Also seconding PH, we/I need the metricbeat logs, as well as the `action_store.yml`.

[2021-02-03 21:16] #16087 closed

[2021-02-03 21:24] kaiyan-sheng commented on #23412
https://github.com/elastic/beats/pull/23818 is merged into 6.8. I'm not sure if this will make it to 6.8.14 since BC1 is already created earlier today. If not 6.8.14, it will be in 6.8.15.

[2021-02-03 21:24] #23412 closed

[2021-02-03 22:26] EricDavisX commented on #23756
Thank you @amolnater-qasource .  In Elastic teams, 'the stack' is always the stack, whether it is self-managed or in cloud.  self-managed can mean several things (including ECE) but is sometimes interchanged with 'on-prem' tho they are not exactly the same.  Happy to pass on some nuances, thank you for the clarification.

I can concur, I am not seeing this or other 503 / socket-timeout issues in t

[2021-02-03 22:42] kaiyan-sheng commented on #22179
@jsoriano @ChrsMark Question about docker network metrics: I see we have both `docker.network.in.bytes` and `docker.network.inbound.bytes`. My understanding is `docker.network.in.bytes` is a gauge and `docker.network.inbound.bytes` is a counter?

Also do you think it's useful to calculate one value `container.network.ingress.bytes` to represent an aggregated value across all network interfaces?

[2021-02-04 06:21] mraliagha commented on #13380
Yes, we are facing this issue with 7.10.1.

[2021-02-04 09:08] amolnater-qasource commented on #23756
Hi @EricDavisX
Thanks for the enhanced information.
Yes Eric, as per our observation you concluded correct. We have observed it most specific to cloud environments only. Further we have not found this issue occurring on self managed stack.

Thanks
QAS

[2021-02-04 09:58] amolnater-qasource commented on #23812
Hi @ph
As per feedback on https://github.com/elastic/beats/issues/23812#issuecomment-772638580

We are installing new 7.11 agent with old existing default policy(7.10.1). **No agent upgrading is involved.**

**Steps to reproduce:**
- Start with 7.10.2 which will have **its own default policy** with system integration (0.9.1).
- Install an agent on 7.10.2 with default policy.
- Upgrade Kibana to 7.

[2021-02-04 10:05] simitt opened #23844 "[Elastic Agent] No ES output validation can lead to stopped sub processes and no logs"
The `Fleet settings` UI allows for setting all kind of values in the `Elasticsearch output configuration`. There is no validation, allowing for any kind of input.

## Observed behavior:
* Setting `enabled: false`: the Elastic Agent kills the sub processes and only logs that it stoped the sub processes. No indicator why they are stopped, no additional entries in the sub process logs.
* Using wrong

[2021-02-04 10:05] elasticmachine commented on #23844
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-02-04 10:05] elasticmachine commented on #23844
Pinging @elastic/agent (Team:Agent)

[2021-02-04 10:08] adriansr opened #23845 "F5/bigipapm dataset not parsing access messages correctly"
For confirmed bugs, please report:
- Version: 7.10.2
- Operating System: -
- Discuss Forum URL: -
- Steps to Reproduce:

Messages in the form:

are not correctly parsed by the F5/bigipapm dataset.

The parser should be improved to support these messages.

[2021-02-04 10:08] elasticmachine commented on #23845
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-04 10:16] #16060 closed

[2021-02-04 10:21] simitt opened #23846 "[Elastic Agent] Cannot Checkin - Kibana returns 413"
The Elastic Agent cannot check in and logs following error
[code]

Not certain it can easily be reproduced. It happened, after configuring a couple of invalid ES output configurations, which kept the Agent in the state of restarting its subprocesses. After a while the config options were reset, and the Agent logged the above error trying to check in. The error was permanent then.

[2021-02-04 10:21] elasticmachine commented on #23846
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-02-04 10:21] elasticmachine commented on #23846
Pinging @elastic/agent (Team:Agent)

[2021-02-04 10:31] amolnater-qasource commented on #23812
Hi @ph
As per feedback on https://github.com/elastic/beats/issues/23812#issuecomment-772638580

We are installing new 7.11 agent with old existing default policy(7.10.1). **No agent upgrading is involved.**

**Steps to reproduce:**
- Start with 7.10.2 which will have **its own default policy** with system integration (0.9.1).
- Install an agent on 7.10.2 with default policy.
- Upgrade Kibana to 7.

[2021-02-04 11:57] #23833 closed

[2021-02-04 12:41] paulb-elastic commented on #23687
Is it worth adding a param that could be used to override this (either as a switch e.g. `preflight_check_memory: false`, or as a value e.g. `preflight_check_memory_bytes: nnn`)?

[2021-02-04 12:48] ph commented on #23812
OK, I've looked at the log, We saw in the kibana ui screen the issues this is indeed the following:

[code]
When Elastic agent tries to create the input it will fail because of the missing metric set, this will do make a status `Status == 5`, 5 == Failed, on failed elastic agent restart the processes.

I believe in that case the Agent does the right thinig, we delegate the input creation to metric

[2021-02-04 13:01] EricDavisX commented on #23812
@ph Thank you. @fearful-symmetry and I were already reviewing other open issue about the metricset 'system/load' conditional.  The package seems to have the correct condition, unless it isn't using the Agent's spec'ed functionality correctly.  I looked in slack and saw a post from @blakerouse mentioning we probably want / need the condition 'on the input' in this case, but I didn't know how to int

[2021-02-04 13:02] ph commented on #23812
@fearful-symmetry reading your comment again make me push a bit more.

I think you have pointed to the issue, this is what is happening..

7.10

- Fleet starts.
- Fleet download the latest version of the system integration (version 1).
- Fleet create a Default Agent Policy.
- Fleet create a system integration policy in the agent (version 1), this will be a snapshot of the current configuration.

W

[2021-02-04 13:06] ph commented on #23812
Looking at the `action_store` the system package is really old and this version has the `system/load` issue.

[code]

[2021-02-04 13:38] amolnater-qasource commented on #23755
Hi @EricDavisX
Today while installing Filebeat for MAC on 7.11 BC-5 Kibana cloud environment we observed few errors.

**Build details:**
[code]
**Observations:**
- "Error reading manifest file" after running- "sudo ./filebeat -e" command.

**Screenshots:**
![errr1](https://user-images.githubusercontent.com/77374876/106893953-4d5ed700-6714-11eb-99d6-c7f6a1dac2e4.JPG)

Further we tried to troublesho

[2021-02-04 13:44] dikshachauhan-qasource commented on #23829
Hi Eric

Today, we have faced same issue on installing standalone agent  using non-default policy on mac catalina OS_sip enabled on 7.11 BC5 kibana cloud build. On running below command we see Agent process running:
 ps -ef | gre                                                                                                                               p 'elastic-agent'
    0   541     1   0  2:5

[2021-02-04 14:00] simioa commented on #11404
I had the same thought. I think it is most likely better placed inside heartbeat in context of service monitoring.

Right now, if we want to monitor such processes with the Beats ecosystem, we have to deal with workarounds that are not easy to maintain or not failproof, this would be a very valuable feature for Users who are using Beats and trying to monitor Services that are not exposing network

[2021-02-04 14:02] ph commented on #22243
I think this is resolved.

[2021-02-04 14:02] #22243 closed

[2021-02-04 14:23] EricDavisX opened #23850 "When Agent starts up it logs an error about Watcher, we could add a log line to indicate this single error log line is expected"
Version 7.11+ Elastic Agent

From slack:
watcher tries to load update file, if it is not present it logs error and exits. might be misleading but we need to know in case after upgrade

Suggestion:
We can add a line to Agent logging to indicate this is ok and expected on start up, akin to what we have in Kibana browser output, see screenshot:

![Screen Shot 2021-02-04 at 9 17 43 AM](https://user-im

[2021-02-04 14:23] elasticmachine commented on #23850
Pinging @elastic/agent (Team:Agent)

[2021-02-04 14:23] EricDavisX commented on #23850
@michalpristas says he would consider this, not a bad idea.

[2021-02-04 14:35] KeshavG-lb opened #23851 "Google_workplace api call fails."
Error seem to be due to this
https://github.com/elastic/beats/blob/master/x-pack/filebeat/module/google_workspace/drive/config/config.yml#L18
Instead of this
[code]

Fix :
[code]

Logs for reference:
[code]

[2021-02-04 14:36] KeshavG-lb commented on #23851
fix is simple , i can raise a PR for it?

[2021-02-04 14:43] steffen-geissinger-by opened #23852 "use_types and rate_counters not working in kubernetes hints"
We are running many Services on our Kubernetes Cluster (AKS 1.8.10) and they are exposing Prometheus metrics at `/metrics`.

To scrape these metrics we use Kubernetes Annotations:

[code]

The metrics are scraped from the service, but the options `use_types` and `rate_counters` are ignored. We get the same amount of documents with and without these options.

We removed the annotations and changed

[2021-02-04 14:45] KeshavG-lb opened #23853 "google_workspace config validation fails"
for google_workspace module
config validation fails at split.
here : https://github.com/elastic/beats/blob/master/x-pack/filebeat/module/google_workspace/drive/config/config.yml#L22
instead of using
[code]

we should have used
[code]

Logs for reference :
[code]

[2021-02-04 16:21] fearful-symmetry commented on #23812
Yah, that's what I'm not sure about either. I've seen this in the past, before we had the dynamic config templates, but the issue was (I think) limited to an `unhealthy` status with no data issues.

No idea there either. https://epr.elastic.co/search?package=system says `0.10.7`.

This is the biggest issue, IMO, and it's once that's shot in me foot a few times just casually developing--Kibana does

[2021-02-04 16:46] ph commented on #23812
There is a way, but not obvious to the user, any edit will update the integration policy.

The problem is the upgrade of the integration and the update of the integration policy aren't linked, we did by design, but the behavior is not the same endpoint will update the endpoint policy.

@mostlyjason there is a lot to consume in this thread, but something to consider, maybe in the medium term.

[2021-02-04 17:10] fearful-symmetry commented on #23812
Ooof, yah, that's a tad non-obvious.

I'm still worried about how they got `0.9.1`. If. user is running that integration against 7.11, there isn't much I can do. At this point we should consider it a buggy release, since that was pre-dynamic config. However, none of the EPRs seem to report that package.

[2021-02-04 17:13] v1v opened #23859 "[Heartbeat][CI] there is no heartbeat stages in the main pipeline"
### What

Heartbeat is not tested in the CI

### Actions

* [ ] Provide the mage/make goals that are need to be included in the CI (build, test, integration testing, crosscompile....)
* [ ] Uncomment https://github.com/elastic/beats/blob/master/Jenkinsfile.yml#L22
* [ ] Create Jenkinsfile.yml in the heartbeat folder

[2021-02-04 17:14] v1v opened #23860 "[Journalbeat][CI] there is no heartbeat stages in the main pipeline"
### What

x-pack/journalbeat is not tested in the CI

### Actions

* [ ] Provide the mage/make goals that are need to be included in the CI (build, test, integration testing, crosscompile....)
* [ ] Uncomment https://github.com/elastic/beats/blob/master/Jenkinsfile.yml#L23
* [ ] Create Jenkinsfile.yml in the `x-pack/journalbeat` folder

[2021-02-04 17:20] elasticmachine commented on #23851
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-04 17:21] jamiehynds commented on #23851
Thanks for flagging this @KeshavG-lb - if you can go ahead with a PR, we'll review ASAP.

CC @marc-gr

[2021-02-04 17:21] graphaelli commented on #11311
still panics in 7.10.2

[2021-02-04 17:33] mostlyjason commented on #23812
++ that is a great idea. I opened an issue to track this here https://github.com/elastic/kibana/issues/90308

[2021-02-04 17:37] jsermer commented on #14508
Will the Kafka output ever be a supported configuration for functionbeat?

[2021-02-04 17:45] ph commented on #23755
Answer for https://github.com/elastic/beats/issues/23755#issuecomment-773308608
@amolnater-qasource your latest comment is another issue, that should have been a different issue. Now, if you look at the log message we do a strict check if the file is owner by root,  Running filebeat with `sudo` will not change the ownership you have to `chown` the files.

I don't think it's a blocker but we need t

[2021-02-04 18:02] EricDavisX commented on #23755
@amolnater-qasource please do log a separate bug for the chown issue noted.  thank you.  and thank you PH.

[2021-02-04 18:11] strawgate commented on #15273
I think this is an open feature request

[2021-02-04 18:12] strawgate commented on #15434
I think this is an open feature request

[2021-02-04 18:29] #15952 closed

[2021-02-04 18:37] EricDavisX commented on #23812
To @fearful-symmetry 's note, when `0.9.1` was released to prod storage EPR, a user could have created a policy with it at that time, and not have updated it since, making that policy frozen at that point in time.  I can cite that I have a 7.10.1 cloud stack that is showing the 0.9.1 System Integration as the latest available, currently - so that is helpful as a reference.

What does a user need t

[2021-02-04 19:11] EricDavisX commented on #23812
Update:  I restarted by 7.10.1 Kibana cloud instance, and it still shows .0.9.1 Integration, which surprised me a little from the above discourse.  I poked in to Integrations repo and find that 7.10.x is pinned to 0.9.2 System version, at which point we jump to 0.10.x with a reference to ^7.11.0 for the Kibana version.

I see 0.9.1 still exists in prod registry as [here](https://epr.elastic.co/sea

[2021-02-04 19:46] ppf2 commented on #4416
Hope this improves with Agent :)

[2021-02-04 20:01] fearful-symmetry commented on #23812
Alright, that makes sense. Until we have a better mechanism for users to upgrade policies, we'll need some kind of documentation. Presumably adding a snippet to the upgrade docs will do fine?

[2021-02-04 20:08] urso commented on #12601
@kvch fyi

[2021-02-04 20:16] #11519 closed

[2021-02-04 20:18] ph commented on #23812
Thanks, @EricDavisX and @fearful-symmetry for confirming the theory.

I agree that we should add a doc snippet detailing the problem, @EricDavisX Can you do that?

@fearful-symmetry does the suggestion of creating a `0.9.2` package possible its that something we should consider?

[2021-02-04 20:26] EricDavisX commented on #23829
The automated coverage planned for this is: https://github.com/elastic/e2e-testing/issues/217

[2021-02-04 20:26] fearful-symmetry commented on #23812
@ph So, the issue has more to do with the support for dynamic config. Someone will need to confirm this, but I'm about 70% sure that the dynamic input stuff isn't in 7.10, which I assume is what we'd want to target with `0.9.2`.

[2021-02-04 20:28] jakauppila commented on #263
This would still be useful.

[2021-02-04 20:34] ph commented on #23829
@michalpristas Can you confirm the behavior here? I am surprised that it doesn't work.

[2021-02-04 20:37] EricDavisX commented on #23756
This issue is potentially fixed by elastic/kibana#90066 - With a 7.11 circa bc6 snapshot, I still see the 503 / socket-hangup error in the logs, but Agent seemed ok.  I did not see any 'Error fetching agents' pop up.

So, it seems this is fixed and the overall experience is improved, though not totally fixed.  Let us test with BC6 and close this out (hopefully)

[2021-02-04 20:38] EricDavisX commented on #23833
we can test this with the next 8.0 snapshot - hopefully on Friday Feb 5 it will be available for us.

[2021-02-04 20:39] ph commented on #23812
@fearful-symmetry we have targetted that in 7.10 https://github.com/elastic/beats/pull/20994

[2021-02-04 20:41] elasticmachine commented on #23853
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-04 20:42] elasticmachine commented on #23852
Pinging @elastic/integrations (Team:Integrations)

[2021-02-04 20:42] fearful-symmetry commented on #23812
Oh, awesome! So is the goal just to push this for people staying on 7.10?

[2021-02-04 20:46] ph commented on #23812
Yes, we have to tests to make sure it work, but that would reduce the problem.

[2021-02-04 21:05] EricDavisX commented on #23812
About the reason:  It would reduce the pain on 7.11 users who upgrade from 7.10.  Which helps us in the long term avoid SDH / Discuss support issues, etc.

[2021-02-04 21:23] urso commented on #2945
@faec You think we can close this one?

[2021-02-04 22:29] andrewvc opened #23867 "[Heartbeat] Document Kernel Tuning for high perf ICMP pings"
We should take the findings of @lowryxiao here https://github.com/elastic/beats/pull/22369#issuecomment-772958813 and document these for heartbeat for large scale uses of ICMP pings. It was a tricky issue and it should be documented.

[2021-02-04 22:29] elasticmachine commented on #23867
Pinging @elastic/uptime (Team:Uptime)

[2021-02-05 02:06] KeshavG-lb commented on #23851
@jamiehynds  Here is PR : https://github.com/elastic/beats/pull/23855
seem some permission issue, that is blocking build process. any pointers for that.

[2021-02-05 05:50] userakhila commented on #9768
@jsoriano I am still seeing this issue with version 7.9.3, any update on this issue?

[2021-02-05 08:25] michalpristas commented on #23829
i see this: `Failed to read configuration, error: could not emit configuration: could not create the AST from the configuration: missing field accessing 'inputs' (source:'/Library/Elastic/Agent/elastic-agent.yml')`

when i remove last 2 inputs and keep just first one it works looking into why

[2021-02-05 08:34] michalpristas commented on #23829
seems related to conditions, when condition is present it starts misbehaving

[2021-02-05 09:10] michalpristas commented on #23829
when using with condition it fails, when switching to `constraints` it works but only if i inject `host.platform` manually so it seems these vars are not present.

so instead of
`condition: '${host.platform} != ''windows'''`
i did
[code]

[2021-02-05 09:13] michalpristas commented on #23829
cc @blakerouse is it intended to do so?

[2021-02-05 09:20] simitt opened #23871 "[ECS logging] Enable by default"
Following up on https://github.com/elastic/beats/pull/17974 let's set the `logging.ecs: true` as default for `7.12`. Since ECS formatter expect JSON format, it would make sense to also set `logging.json: true` by default.

@kvch  and @urso WDYT?

side note: APM Server sets it as default in `7.11`.

[2021-02-05 09:25] elasticmachine commented on #23871
Pinging @elastic/integrations (Team:Platforms)

[2021-02-05 10:54] jsoriano commented on #9768
@userakhila you can follow this PR: https://github.com/elastic/beats/pull/22685, but this would only be only a mitigation to continue when this problem happens. The cause of the problem can be diverse. Maybe the best option is to open a topic in https://discuss.elastic.co/ to provide more information and confirm if this is a potential bug in Filebeat or some other thing.

[2021-02-05 11:09] jsoriano commented on #22179
Yes, `docker.network.in.bytes` are actually bytes per second during the last collection period. Calculated using current and previous `docker.network.inbound.bytes`. The idea was to deprecate `docker.network.in.bytes`, but this could be reconsidered.

Yes, this can be interesting, specially for inventory UIs.

[2021-02-05 11:11] amolnater-qasource commented on #23756
Hi @EricDavisX
We have revalidated this issue on 7.11 BC-6 Kibana Cloud Environment and found it as **Fixed**.

Build details:
[code]
**Observations:**
- No 'Error fetching agents' pop up appears under Fleet tab.
 Hence, closing this issue.

**Screenshot:**
![6](https://user-images.githubusercontent.com/77374876/107022208-1c8da900-67cb-11eb-9d54-1509c115abc3.JPG)

Please let us know if anything el

[2021-02-05 11:33] michalpristas commented on #23829
Injecting Agent Info at load seems viable.
I can inject paths and ECS metadata what worries me is that `host.platform` is not ECS compatible.

Do we have a list of variables we use in this conditions?
cc @nchaulet @fearful-symmetry

[2021-02-05 11:45] elasticmachine commented on #7493
Pinging @elastic/agent (Team:Agent)

[2021-02-05 12:20] andresrc commented on #12040
@blakerouse do you think this is fixed?

[2021-02-05 12:26] andresrc commented on #23582
@sayden can you check if dissect in Logstash and ES ?

[2021-02-05 12:36] amolnater-qasource commented on #23812
Hi @ph
As per your feedback on https://github.com/elastic/beats/issues/23812#issuecomment-773287986 , we have revalidated this issue.

Yes, this is correct, as per our observations:

- Default policy System integration remains v0.9.1 after Kibana upgrade(7.10.2->7.11.0)
- Newly created policy is created with Latest system integration and gives no error with agent enrollment.

For this, @fearful-sy

[2021-02-05 12:43] dikshachauhan-qasource commented on #23243
Hi @EricDavisX

We have validated this issue on 7.11 BC6 Kibana Cloud environment and found above reported issue as **Fixed.** Build details are as follows:
[code]

Observations:
- 'Warn' level logs are getting generated for elastic-agent.filebeat and metricbeat when Agent logging level is set to 'Warning'.

![image](https://user-images.githubusercontent.com/72375798/107033046-bd379500-67da-11eb-9

[2021-02-05 13:04] fzyzcjy commented on #7351
Hi will this feature to be allowed? Because ingest seems to be a bit too heavy, and I want to directly use `rename`/`drop_fields` to do so.

Thanks!

[2021-02-05 13:19] amolnater-qasource opened #23874 ""error: loading config file" while installing Filebeat for MAC."
**Kibana version:**
Kibana: 7.11.0 BC-6 Cloud environment

**Host OS and Browser version:**
Mac OS X 10.12, All

**Preconditions:**
1.  7.11.0 BC-6 Cloud environment should be available.

**Build Details:**
[code]
2. Download Filebeat darwin .tar file and extract at /users/zeus/

**Steps to reproduce:**
1. Connect to Kibana cloud environment by providing cloud.id and cloud.auth in filebeat.yml.

2

[2021-02-05 13:21] amolnater-qasource commented on #23874
@manishgupta-qasource Please review. Thanks

[2021-02-05 13:27] amolnater-qasource commented on #23755
Hi @EricDavisX
We have reported the required issue https://github.com/elastic/beats/issues/23874 .
Please let us know if anything else is required.

Thanks
QAS

[2021-02-05 13:33] manishgupta-qasource commented on #23874
Reviewed & assigned to @EricDavisX

[2021-02-05 13:41] ph commented on #23874
Like I've mentioned in the other issues, this is not an issue there are check in place to check what is the ownership of the files, we enforce that behavior. Like I've said using sudo will not change the ownership owner chown will.

[2021-02-05 13:41] #23874 closed

[2021-02-05 13:46] mukeshelastic opened #23876 "Support hints based auto-discovery in kubernetes provider for elastic agent"
As a part of supporting kubernetes agent instrumentation and observability use cases described [here](https://github.com/elastic/beats/issues/23613) we need to support hints based auto-discovery in agent to bring it in parity with beats. When this is delivered, K8s app authors can declare hints, similar to described in beats documentation [metricbeat](https://www.elastic.co/guide/en/beats/metricbe

[2021-02-05 13:46] elasticmachine commented on #23876
Pinging @elastic/integrations (Team:Platforms)

[2021-02-05 14:32] kvch commented on #23755
@ph We get such errors from time to time. I had investigated numerous issues, most of the problems were coming from incorrect permissions for the user who is setting up ML. It is not a blocker, as users can setup ML from Kibana.

[2021-02-05 14:35] EricDavisX commented on #23243
it will stay as 'Warn'.  I had a good discussion about exactly that with N Chaulet, and he convinced me it was the better value - as it directly relates to what the actual level value is in Agent / Beats, regardless of what value shows in the logs.  So we can update test content if needed.

[2021-02-05 15:06] EricDavisX commented on #23874
Thanks PH, I don't think myself (or test team) understood the implications prior.  We split this off from the other ticket for clarity and can follow through now, on test side.

@amolnater-qasource if you want to re-try with modified chown call that is good, we can update test content to reflect the needed setup.  Thanks all.

[2021-02-05 15:12] blakerouse commented on #12040
@andresrc Not this was not fixed, I closed my original PR. More work was required on it and I got pushed into other things at the time.

[2021-02-05 15:13] EricDavisX commented on #23755
I am glad to see confirmation we have e2e tests that cover this.  If there is any documentation update we want to make regarding setup requirements and user permissions that might be valuable.  @amolnater-qasource if you can re-check and do a read through of what on-line available documentation you can, including Kibana side, please let us know if you don't find reference and where it might best f

[2021-02-05 15:21] kvch commented on #23755
Here are the permissions/roles which are required for running the setup command: https://www.elastic.co/guide/en/beats/filebeat/current/privileges-to-setup-beats.html

[2021-02-05 15:37] blakerouse commented on #23829
@michalpristas `constraints` isn't a valid key for constraints so by changing `constraint` to `constraints` you just disabled the constraint.

I think this is related to the same bug here: #23685

There seems to be a core issue with constraints, which only works because of dynamic inputs. It's all related code, and follows the same code path.

[2021-02-05 16:06] pimjansen commented on #12040
Its a shame that this is open for 2years tbh. Dont really feel Elastic even actively looks at this where its clear that it is a bug towards their own standard ECS

[2021-02-05 16:20] #23851 closed

[2021-02-05 16:20] #23853 closed

[2021-02-05 16:37] kaiyan-sheng commented on #22179
@simianhacker Does UI do any aggregation right now for docker network metrics?

[2021-02-05 17:31] manzsolutions-lpr opened #23883 "Hints based autodiscover CheckConfig() fails due to race condition and/or missing error check"
[code]

This only happens when Filebeat is already running when the annotated pod is started. If Filebeat is restarted this error does not appear and the nginx module works as expected.

In v7.10.2 the flow for autodiscovery seems to be as follows using bits of information from the above log:

autodiscover.go:207 --> factory.CheckConfig() -->
filebeat/fileset/factory.go:119 --> f.Create()

The imp

[2021-02-05 17:41] mbarretta commented on #22281
++ on VDI-safe agents. I'm hearing this ask from a couple of groups.

[2021-02-05 17:42] elasticmachine commented on #23883
Pinging @elastic/integrations (Team:Integrations)

[2021-02-05 17:47] elasticmachine commented on #23871
Pinging @elastic/agent (Team:Agent)

[2021-02-05 18:48] ph commented on #23755
Thanks @kvch for clarifying the sitatation, happy to heard its a permissions and our E2E cover this :)

[2021-02-05 19:46] ph commented on #23850
good point, @EricDavisX Do you have the error message somewhere or another issue? I believe the message your referrencing is this https://github.com/elastic/beats/blob/master/x-pack/elastic-agent/pkg/agent/application/upgrade/step_mark.go#L58-L65

But I want to make sure.

[2021-02-05 20:16] #16089 closed

[2021-02-05 21:16] #16158 closed

[2021-02-05 21:29] pcmerc commented on #17457
What is the status on this? 7.10.2 still suffers with the same missing config setup.

[2021-02-05 23:30] JakeCover commented on #16853
Thank you! Really looking forward to this being fully released.

[2021-02-05 23:41] #8195 closed

[2021-02-06 01:28] mtherreault commented on #18599
Here's a hack that can uses to be able to set a metadata field:
[code]

[2021-02-06 05:03] negi700 opened #23895 "When I restart the pod and move the worker node, filebeat does not start collecting logs. Team:<filebeat>"
The log of the pod of azure kubernetes system is collected from the worker node.
Log collection does not start when the pod reboots and moves the worker node.
Is there any good workaround?

[2021-02-06 05:44] negi700 commented on #23895
Team:<Filebeat>

[2021-02-06 08:45] #23895 closed

[2021-02-06 23:44] seefor commented on #23473
any updates?

[2021-02-07 15:36] threatangler-jp commented on #23764
Thank you for opening this bug. We are willing to provide beta testing of changes made to the parsing if that is helpful to your progress.

[2021-02-08 07:38] fperalt3 opened #23898 "Cannot get kubernetes metadata with Packetbeat"
Hi.
I am trying to retrieve Kubernetes metadata with the add_kubernetes_metadata option but I am not able to achieve it.
Packetbeat version 7.10.1.
  - add_kubernetes_metadata:
          host: ${HOSTNAME}
          default_indexers.enabled: false
          default_matchers.enabled: false
          indexers:
             - ip_port:
          matchers:
          - field_format:
              format:

[2021-02-08 08:18] #22915 closed

[2021-02-08 10:10] sorantis commented on #23390
@mostlyjason We can add the to the generic guidelines or preferably to the [dashboard guidelines](https://github.com/elastic/integrations/issues/269). Thanks!

[2021-02-08 10:23] elasticmachine commented on #20001
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-08 10:39] elasticmachine opened #23903 "Flaky Test [Build&Test / metricbeat-macos-macosx / test_process – metricbeat.module.system.test_system.Test]"
## Flaky Test

* **Test Name:** `Build&Test / metricbeat-macos-macosx / test_process – metricbeat.module.system.test_system.Test`
* **Artifact Link:** https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2F7.11/detail/7.11/86/
* **PR:** None
* **Commit:** 936cb2bd79189f9c728aaa37f6237fc4cf7a1cbc

### Error details
[code]

### Stack Trace
[code]

[2021-02-08 10:42] paulb-elastic commented on #23269
Linking to https://github.com/elastic/synthetics/issues/137

[2021-02-08 11:23] amolnater-qasource commented on #23781
Hi @EricDavisX
We have revalidated this issue on 7.11 BC-7 Kibana Cloud Environment and found it as Fixed.

**Build details:**
[code]
**Observations:**

-Agent don't go to "offline" state on inactivity and remains "Healthy" throughout.

Hence, closing this issue.

**Screenshots:**
![4](https://user-images.githubusercontent.com/77374876/107213086-ea2fb600-6a2d-11eb-8936-164365a2ba01.JPG)

Please le

[2021-02-08 11:23] #23781 closed

[2021-02-08 11:51] dikshachauhan-qasource commented on #23243
Hi @EricDavisX

Thanks for the feedback.

We have updated our 01 testcases for same. Test link link is as follows:

- [C204932](https://elastic.testrail.io/index.php?/tests/view/204932)

Thanks
QAS

[2021-02-08 11:51] dikshachauhan-qasource commented on #23756
Hi @EricDavisX

Today while performing regression on 7.11 BC7 Kibana Cloud build, we are observing continuous 'Error fetching agents' pop-ups on Fleet>Agents UI.

**Build details:**
[code]

**Observations:**
- Pop-ups are getting displayed on newly created Kibana cloud environment without any agent installed.
- Further, pop-ups are still coming even after agent is installed.
- Pop up showing diffe

[2021-02-08 12:09] dikshachauhan-qasource commented on #22549
Hi @EricDavisX

We have performed exploratory testing today around this feature on 7.11 BC7 and found it working fine.  Hence, closing this out.

Build details are as follows:
[code]

Thanks
QAS

[2021-02-08 12:09] #22549 closed

[2021-02-08 12:09] dikshachauhan-qasource commented on #23067
Hi @EricDavisX

While performing exploratory testing today on 7.11 Bc7 Kibana cloud build, we have observed same issue on 7.11Bc build as well.

- ECS version is different at endpoint and elastic-agent logs.
- Elastic agent logs has ecs version 1.6.0
- endpoint logs has ecs version 1.5.0

**Logs file:**
[elastic-agent-json.log](https://github.com/elastic/beats/files/5943434/elastic-agent-json.log)

[2021-02-08 12:55] amolnater-qasource commented on #23755
Hi @ph
As per feedback, we have attempted to re-install Filebeat on Windows.
Further we have also referred [Filebeat quick start: installation and configuration](https://www.elastic.co/guide/en/beats/filebeat/7.x/filebeat-installation-configuration.html), and made few attempts to resolve this issue. However we were getting the same "ML errors".

So @ph it would be helpful if you could provide us s

[2021-02-08 14:04] urso commented on #23798
@kvch fyi

[2021-02-08 14:20] herrBez commented on #17638
I am facing the same issue with filebeat-7.10.0

[2021-02-08 14:25] jalvz opened #23907 "Elastic Agent reports healthyness when it is not"
Customer are unlikely to run into this, but this happens with spec runtime errors.
Eg. creating spec with:

[code]

Then, when running Agent it logs `Failed to render configuration with latest context from composable controller` (expected), but also failing to start any other process with a correct spec while it keeps logging `Configuration changes detected`. Kibana shows Elastic Agent is healthy,

[2021-02-08 14:25] elasticmachine commented on #23907
Pinging @elastic/agent (Team:Agent)

[2021-02-08 14:26] kvch commented on #12601
Current TLS tests in apm-server: https://github.com/elastic/apm-server/blob/master/tests/system/test_tls.py

[2021-02-08 14:28] Mekk commented on #12069
So … what? The problem happens to be very confusing, while solution (patching bundled filebeat.service to increase default limit or at least to make it explicitly visible) seems fairly trivial.

[2021-02-08 14:33] Mekk commented on #12186
So?

The problem is reasonably serious and very confusing: filebeat can ignore existing logs while being completely silent about errors it faces. SELinux by itself is frequently used, and that's not the only scenario possible (plain inaccessible directory would also do, alth. that would be easier to spot).

[2021-02-08 14:48] ph opened #23908 "Remove Beats Central management code"
Beats central management has been marked as deprecated for a few releases and we want to remove it before 7.last.

Need to be synchronized with the Fleet team for https://github.com/elastic/kibana/issues/90614

[2021-02-08 14:48] elasticmachine commented on #23908
Pinging @elastic/agent (Team:Agent)

[2021-02-08 14:54] #23898 closed

[2021-02-08 15:59] andrewkroh opened #23910 "Create decode_xml_wineventlog processor"
The goal is to separate the XML processing capability of the `winlog` input from the ability to read XML event logs from Windows. This will allow event log XML to be processed from a variety of sources. One use case is to be able to process Windows event logs that have been written to an S3 bucket as XML.

As a nice side-effect we should be to make testing of Windows modules a little easier since

[2021-02-08 15:59] elasticmachine commented on #23910
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-08 16:51] rbr101 commented on #17680
Hi,

i has also performance problems with reading forwarded event log container on a wec server.
Could not go beyond 2000 eps, resulting in more then 4 hours delayed events .
Then i tried -> api: wineventlog-experimental and performance was not an issue anymore ( 8000 eps) but today i noticed that there were duplicate events with identical windows record id

the option as stated “experimental” is

[2021-02-08 17:22] kvch commented on #23798
Thanks for the detailed information. I will close this to track the issue in the first report: https://github.com/elastic/beats/issues/22129

[2021-02-08 17:22] #23798 closed

[2021-02-08 17:27] fearful-symmetry commented on #23812
@ph just realized that we don't seem to have any system for pushing to the equivalent of `9.x`. Can we just push to `package-storage` directly?

[2021-02-08 18:10] ph commented on #23812
Not sure better to check with  @mtojek or @ycombinator ?

[2021-02-08 18:23] ph commented on #23755
@amolnater-qasource Does the `filebeat_setup` user for elasticsearch has the following [privileges](https://www.elastic.co/guide/en/beats/filebeat/current/privileges-to-setup-beats.html)?

Cluster | manage_ilm | Set up and manage index lifecycle management (ILM) policy
-- | -- | --
Cluster | manage_ml | Set up Machine Learning job configurations

[2021-02-08 18:24] ycombinator commented on #23812
I caught up on the thread but I'm a bit lost by the `9.x`? @fearful-symmetry do you mind elaborating a bit on what you'd like to do?

[2021-02-08 18:28] ph commented on #23067
I am not considering this a big issue each process is responsible for its own log format, we aren't talking about a major version bump so the minor difference should be fine and reflect exactly the format of the data.

@ferullo sending this your way, we will need to figure out a process.

[2021-02-08 18:42] hamishforbes commented on #9675
This would still be a useful feature, not stale!

[2021-02-08 18:48] fearful-symmetry commented on #23812
@ycombinator as in, if I wanted to push an update to `0.9.3` (as `0.9.4`) as opposed to `0.10.9`, how would I do that?

[2021-02-08 19:49] ycombinator commented on #23812
Chatted with @fearful-symmetry off-issue to understand what we want to achieve here. Long story short, we tried putting up a PR to create a `0.9.3` version of the `system` package with the `condition` change in the `integrations` repo but ran into some CI issues (which are to be expected, TBH): https://github.com/elastic/integrations/pull/674.

An alternative that would work is to make a PR for th

[2021-02-08 19:58] ppf2 opened #23912 "Add memory usage alerts as INFO statements to functionbeat log"
Currently, in order to see memory metrics of the lambda function (to see if it is close to running out of memory), users have to increase the logging to the DEBUG level.

[code]

It will be helpful to write periodic memory usage alerts as INFO statements to the functionbeat log based on some pre-defined memory threshold so that admins reviewing the logs can quickly tell if they need to increase th

[2021-02-08 20:12] inqueue opened #23913 "Insufficient memory creating DNS sniffer"
- Version: 7.9.3
- Operating System: RHEL 6, kernel `2.6.32-754.29.1.el6.x86_64`
- Steps to Reproduce: Attempt to start auditbeat on RHEL 6 with DNS monitoring in the socket module enabled.

<details><summary><strong>Sample Configuration</strong></summary>

[code]
</details>

[code]

### Workaround

- Disable DNS monitoring `socket.dns.enabled: false`, or
- Try `socket.dns.af_packet.snaplen: 512`

[2021-02-08 20:59] urso commented on #12601
Anything in the test suite we want to port to tlscommon go based tests?

[2021-02-08 21:10] ph commented on #23222
I think this is fixed, closing this.

[2021-02-08 21:10] #23222 closed

[2021-02-08 21:20] ycombinator commented on #23812
Thanks @EricDavisX @ph. We might have a way forward (see https://github.com/elastic/integrations/pull/674#issuecomment-775429821) but I'd still like @mtojek to weigh in on that as well.

[2021-02-08 21:38] EricDavisX commented on #23720
My opinion:  Depending on the work for this we could consider merging it after 'feature freeze' as a bug - but let us confirm what the changes look like first.

[2021-02-09 01:50] andrewvc opened #23915 "[Heartbeat] Make `mage test` work in `x-pack/heartbeat`"
We somehow missed that `mage test` does not work in heartbeat's `x-pack` folder. We should fix this.

This is a blocker for https://github.com/elastic/beats/pull/23873/files

[2021-02-09 03:18] elasticmachine commented on #20709
Pinging @elastic/integrations (Team:Integrations)

[2021-02-09 05:16] vibhutisawant opened #23918 "s390x support for Beats Jenkins CI"
**Describe the enhancement:**
Add s390x arch to Beats Jenkins CI

**Describe a specific use case for the enhancement or feature:**
As per the discussion [here ](https://discuss.elastic.co/t/s390x-support-for-beats/263382), raising this issue to add s390x support in Beats Jenkins CI for build and test execution.We can provide linux/s390x VM if required. Please let us know if any help is needed from

[2021-02-09 08:02] elasticmachine commented on #23918
Pinging @elastic/agent (Team:Agent)

[2021-02-09 08:06] elasticmachine commented on #23915
Pinging @elastic/uptime (Team:Uptime)

[2021-02-09 08:08] elasticmachine commented on #23913
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-09 08:08] elasticmachine commented on #23912
Pinging @elastic/agent (Team:Agent)

[2021-02-09 08:22] elasticmachine commented on #23903
Pinging @elastic/integrations (Team:Integrations)

[2021-02-09 09:52] RadoNko commented on #16336
Update: 9th February 2021 and still getting the very same bug/error message, cant move past `filebeat setup -e` step.

[2021-02-09 10:57] mtojek opened #23928 "Elastic Agent Docker: agent always picks up the newest policy"
Hi,

I'm working on the Kubernetes integration and just spotted a weird issue. Steps to reproduce:

1. Create a policy A.
2. Run new Docker container with Elastic Agent. The agent will get enrolled and will be assigned the newest available policy (policy A, not Default).

If I'm working on a policy which is not ready yet and suddenly a new agent boots up, it should pick up the Default policy.

[2021-02-09 10:57] elasticmachine commented on #23928
Pinging @elastic/fleet (Team:Fleet)

[2021-02-09 12:26] elasticmachine commented on #23640
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-09 12:33] elasticmachine commented on #23266
Pinging @elastic/agent (Team:Agent)

[2021-02-09 13:18] elasticmachine commented on #23876
Pinging @elastic/agent (Team:Agent)

[2021-02-09 13:22] dikshachauhan-qasource commented on #23222
Hi @ph @EricDavisX

We have attempted to upgrade 7.11BC8 agent upgrade scenario on 8.0 snapshot Kibana Cloud build and was able to upgrade agent successfully.

Artifact link: https://staging.elastic.co/7.11.0-657c0367/summary-7.11.0.html

Thanks
QAS

[2021-02-09 13:23] dikshachauhan-qasource commented on #23829
Hi @EricDavisX

Today, while performing testing on P1 testcases, we have observed that data streaming is not available for 7.10.2 standalone windows Agent as well on 7.11 BC 8 Kibana cloud build.

**Build details:**
[code]

**Logs:**
[elastic-agent-json.log](https://github.com/elastic/beats/files/5951315/elastic-agent-json.log)

[elastic-agent(yml).txt](https://github.com/elastic/beats/files/59513

[2021-02-09 14:29] andrewkroh commented on #20709
Here's another log sample (in pretty format) that causes the bug:

[code]

It cannot use `flattened` as the data type for the `logstash.log.log_event.action` field since this module is OSS and therefore cannot depend on an Elastic licensed feature. So I think that fields.yml should add a mapping for the that field and then in the ingest node pipeline enforce that the value (or each value in case o

[2021-02-09 14:34] michalpristas commented on #23908
just a side note that agent uses some of the code from beats CM, this needs to be addressed carefully

[2021-02-09 14:39] ycombinator commented on #23812
`system-0.9.3` has been released. It is currently available in the `snapshot` package registry. I will leave it up to @fearful-symmetry or someone else on this thread to promote it to `staging` and `production` package registries as and when it's appropriate to do so.

Like its predecessor, `system-0.9.2`, the `system-0.9.3` package it is intended to work with Kibana `^7.10.0`. But unlike `system-

[2021-02-09 14:52] EricDavisX commented on #23850
the log line I refer to is:
`[elastic_agent][error] failed to load markeropen C:\Program Files\Elastic\Agent\data\.update-marker: The system cannot find the file specified.`

[2021-02-09 15:09] ferullo commented on #23067
I'll comment back once this is updated in 7.11.1

[2021-02-09 15:27] ph commented on #21855
@michalpristas is evaluating the emulation layer for the Elastic Agent.

[2021-02-09 15:34] mtojek commented on #23928
I have also found that Elastic Agent is trying to use non-active enrollment token by default.

<img width="1663" alt="Zrzut ekranu 2021-02-9 o 16 33 16" src="https://user-images.githubusercontent.com/14044910/107386972-ac499500-6af4-11eb-821a-9c816688a58a.png">

<img width="1656" alt="Zrzut ekranu 2021-02-9 o 16 33 31" src="https://user-images.githubusercontent.com/14044910/107386985-ae135880-6af4

[2021-02-09 15:40] ph commented on #23928
@mtojek Are you using the token associated with the Default policy.

[2021-02-09 15:41] mtojek commented on #23928
No, I'm not using any enrollment key and I expect from the Dockerized app to pick up the default one.

[2021-02-09 15:47] ph commented on #23850
Maybe just doing something like this:

- Set log level to "info"
- Change the message to "no .update-marker found, this is a new installation." ?

[2021-02-09 15:47] michalpristas commented on #21855
seems like emulation layer works ok for agent, agent installs ok and is capable of running and handling beats and endpoint.

what we need to look at is detection that we're running on macos ARM as agent logic is based on compile time variables and agent thinks it's running regular darwin. dashboards looks ok, cpu memory... populated.

running agent on m1 results in Unhealthy deployment on fleet as

[2021-02-09 15:50] ph commented on #23928
I've talked with @mtojek on slack, and the [logic defined ](https://github.com/elastic/beats/blob/master/dev-tools/packaging/templates/docker/docker-entrypoint.elastic-agent.tmpl#L40) in our shell script lead to inconsistent behavior.

The pseudo logic should be something like this.

- Get the list of agent policies.
- Get id of the Default Agent policy
- If the Default Agent policy is not found r

[2021-02-09 15:51] mtojek commented on #23928
Yes, this would be the ideal flow.

[2021-02-09 15:52] epixa opened #23937 "[ECS] Upgrade modules to ECS 1.9"
- [x] Update ECS to 1.9 after release

### new

#### Multi user support https://github.com/elastic/ecs/blob/master/rfcs/text/0007-multiple-users.md

- [x] Done in previous release

#### `geo.*` fields https://github.com/elastic/ecs/pull/1229

#### `http.request.id` field https://github.com/elastic/ecs/pull/1208

#### `cloud.service.name` field https://github.com/elastic/ecs/pull/1204

#### `hash.s

[2021-02-09 15:52] elasticmachine commented on #23937
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-09 15:56] nchaulet commented on #23928
There is for sure a bug in the docker script but I am wondering if it’s the docker image we publicly distribute if yes, I think we should really avoid the user to provide the Kibana username and password and we should probably only allow to provide the enrollment token.

[2021-02-09 15:56] mtojek commented on #23928
One more point regarding tooling. We use auto-enrollment feature in elastic-package to test integrations, so it would be **backward-incompatible** to enforce passing the enrollment token.
Please keep in mind that it's a convenient option to quickly boot up the Agent in Docker or Kubernetes cluster using static resources: https://github.com/elastic/beats/blob/master/deploy/kubernetes/elastic-agent-

[2021-02-09 16:57] fearful-symmetry commented on #23812
`0.9.3` is currently in the staging registry.

[2021-02-09 16:58] #23554 closed

[2021-02-09 17:10] mostlyjason commented on #23390
Moved this discussion to the integrations repo, so closing this one

[2021-02-09 17:10] #23390 closed

[2021-02-09 17:15] dedemorton opened #23942 "Add breaking changes file for 7.11"
We need to add the breaking changes file (even if it just points to the release notes) so that the release highlights can include it.

[2021-02-09 17:15] elasticmachine commented on #23942
Pinging @elastic/obs-docs (Team:Docs)

[2021-02-09 17:37] andrewkroh commented on #20709
I implemented what I discussed in the previous post with https://github.com/elastic/beats/pull/23944.

[2021-02-09 18:11] ycombinator commented on #23928
++ to pseudo-logic suggested by @ph in https://github.com/elastic/beats/issues/23928#issuecomment-776040984. It will lead to deterministic behavior, which is a good thing.

[2021-02-09 18:31] ppf2 commented on #2945
+1 on having some form of retry backoff.  On 7.6.x for example, if the Kafka topic was misconfigured, it uses up to 2 cores on a 4 core machine just repeatedly trying to fetch metadata for a non-existent topic:

[code]

[2021-02-09 18:40] andrewkroh opened #23947 "[Filebeat][testing] Module tests don't check if indexing the event fails"
The tests for Filebeat modules index events then check the result against a golden file. But the test itself won't fail if an event that it sends in a _bulk request fails to index. The tests should be checking for `Cannot index event` errors at https://github.com/elastic/beats/blob/cc8f8705ab082113db72064e37399bc81da570b1/filebeat/tests/system/test_modules.py#L153

I did a check and found several

[2021-02-09 18:40] andrewkroh commented on #23947
## :broken_heart: Tests Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2FPR-23944/detail/PR-23944/1//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fbeats%2FPR-23944/detail/PR-23944/1//tests) [![Changes](http

[2021-02-09 18:42] elasticmachine commented on #23947
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-09 18:49] dennisme commented on #23220
Related https://github.com/fluent/fluent-bit/issues/2998

[2021-02-09 19:20] mukeshelastic opened #23948 "Update the agent integration dashboard with additional filebeat and metricbeat metrics"
**Describe the enhancement:**
We added the awesome elastic agent integration in 7.11 that shows agent metrics and filebeat and metricbeat system metrics. There are other meaningful filebeat and metricbeat metrics that we gather but are not showing it on dashboard today. These metrics are displayed in stack monitoring UI and are described in our [documentation](https://www.elastic.co/guide/en/kiban

[2021-02-09 19:34] elasticmachine commented on #23948
Pinging @elastic/agent (Team:Agent)

[2021-02-09 20:09] ph commented on #23948
![monitoring-beats-detail](https://user-images.githubusercontent.com/640/107422185-af3e8880-6ae8-11eb-8317-986a7c91eb2b.jpg)

@ravikesarwani @mukeshelastic Just to clarify you want to display all the above metrics in the dashboard?

[2021-02-09 20:10] ph commented on #23812
thanks @fearful-symmetry and @ycombinator,

@EricDavisX we should be able to test the change in the upgrade scenario.

[2021-02-09 20:12] ph commented on #23948
@nchaulet since you did the initial implementation, might be easier if you do the followup, Could you give me an idea of the level of effort to add the following graph and the other information in the dashboard?

[2021-02-09 20:16] #23820 closed

[2021-02-09 20:19] ravikesarwani commented on #23948
Metricbeat monitoring shows the following graphs:
<img width="2044" alt="Screen Shot 2021-02-09 at 3 18 10 PM" src="https://user-images.githubusercontent.com/64450378/107423172-08f38280-6aea-11eb-8d9d-9d44c385fe0d.png">

[2021-02-09 20:20] EricDavisX opened #23950 "[Agent] no indication given in logs when the wrong architecture artifact is attempted like x86 artifact on x64 Windows"
we could reasonably at least send a note to the logging 'error' level in Agent when this is detected, right?  tested with BC8 on 7.11 on cloud stack deploy with the Agent host behind the Endgame VPN.

Perhaps we could handle it more gracefully even, but that is a larger ticket item, clearly.  For a quick win do we want to put some enhanced logging in place?

The Security Engineering Productivity t

[2021-02-09 20:20] elasticmachine commented on #23950
Pinging @elastic/agent (Team:Agent)

[2021-02-09 20:24] ravikesarwani commented on #23948
@ph The image you pasted may have few things missin. Here's an image for filebeat that shows the identical data as metricbeat.
<img width="1478" alt="Screen Shot 2021-02-09 at 3 23 11 PM" src="https://user-images.githubusercontent.com/64450378/107423755-bb2b4a00-6aea-11eb-842a-167899ea0b14.png">

[2021-02-09 20:26] ph commented on #23948
thanks @ravikesarwani, I've removed my screenshot to make sure there is no misunderstanding,  the picture was coming from the above documentation link

[2021-02-09 20:39] ravikesarwani commented on #23948
One area that we got multiple requests is around showing cgroup information for CPU and memory. This is important to show information correctly in container environment. Beats made the change to make that data available and stack monitoring will make the change in 7.1.2 (https://github.com/elastic/kibana/issues/79050) for beats and APM server monitoring.
For Agent metrics dashboard we need to show

[2021-02-09 21:18] nchaulet commented on #23948
We have the data for the cgroup so we can probably add that to the existing dashboard.

we have the metrics for to add Events Rates/Fail Rates/ Throughput/Output Errors  but how do we want to present that considering our dashboard is for multiple process

[2021-02-09 22:43] fearful-symmetry commented on #23391
Looking at the docs for the CPU accounting controller here: https://www.kernel.org/doc/html/latest/admin-guide/cgroup-v1/cpuacct.html

These are the `tick` units we reference elsewhere.

So, looking at the original issue, I'm a tad confused by the wording. If we want to map any given `tick` usage in cgroups to overall usage, that should be possible, as we're dealing with the same units, and we mea

[2021-02-10 00:48] EricDavisX commented on #23812
@ph acknowledged.  I'm not sure how to run a self-managed stack upgrade but we can look for docs, and we can test the package in snapshot repo.  And if it is good then upgrade it to prod and test via cloud (the precise exact same scenario). we'll get it done.

[2021-02-10 00:49] EricDavisX commented on #23850
I don't mind that at all - but I didn't want to presume to change the severity of the log message, if Info is acceptable, it is always nice not to throw any more Errors than we have to.

[2021-02-10 01:00] #23942 closed

[2021-02-10 08:31] michalpristas commented on #21855
talked to @ferullo about experienced behavior of Agent/Endpoint on M1 seems like everything is ok and for our purposes of install/uninstall it works.
will retry experiment once properly signed endpoint is available with universal binary

[2021-02-10 08:54] andresrc commented on #21855
thanks!

[2021-02-10 09:08] mtojek commented on #23928
@ph @nchaulet could you please provide ETA on this issue? I'd like to know whether I should introduce a workaround for this bug in https://github.com/elastic/elastic-package/pull/246 . I'm fine with keeping the discussion whether the option is good or not, but it would be convenient to detach it from fixing for the reported issue.

[2021-02-10 09:50] v1v opened #23957 "Flaky Test [Build&Test / x-pack/heartbeat-windows-windows-2019 / TestRunCmd/has_echo'd_stdin_to_stdout – github.com/elastic/beats/v7/x-pack/heartbeat/monitors/browser/synthexec]"
## Flaky Test

* **Test Name:** `TestRunCmd/has_echo'd_stdin_to_stdout – github.com/elastic/beats/v7/x-pack/heartbeat/monitors/browser/synthexec`
* **Link:** Link to file/line number in github.
* **Branch:** master
* **Artifact Link:** Ihttps://beats-ci.elastic.co//blue/rest/organizations/jenkins/pipelines/Beats/pipelines/beats/pipelines/PR-23873/runs/4/steps/1274/log/?start=0
* **Notes:** Platfor

[2021-02-10 09:50] sorantis commented on #23391
@fearful-symmetry
Here's the original request:

_customer uses lxc as container environment and we want to monitoring them with metricbeat but we need to figure out how we get pct metrics especially for stats user and stats system_

[2021-02-10 09:54] v1v opened #23958 "Flaky Test [Build&Test / x-pack/heartbeat-windows-windows-2019 / TestRunCmd – github.com/elastic/beats/v7/x-pack/heartbeat/monitors/browser/synthexec]"
## Flaky Test

* **Test Name:** `TestRunCmd – github.com/elastic/beats/v7/x-pack/heartbeat/monitors/browser/synthexec`
* **Link:** Link to file/line number in github.
* **Branch:** master
* **Artifact Link:**  https://beats-ci.elastic.co//blue/rest/organizations/jenkins/pipelines/Beats/pipelines/beats/pipelines/PR-23873/runs/4/steps/1274/log/?start=0
* **Notes:** Platforms: only fails in Windows (

[2021-02-10 11:05] loop-evgeny commented on #10848
Would be great to see, especially monitoring for failed disks in zpools.

[2021-02-10 11:19] falkowich commented on #14933
Hi,

Any news about this.
I have the same in filebeat 7.10.2 with ios input:

- module: cisco
  ios:
    enabled: true
    var.input: syslog
    var.syslog_host: 0.0.0.0
    var.syslog_port: 9002

[code]
But that is the only field where the switchname is..

--
Regards Falk

[2021-02-10 12:44] amolnater-qasource commented on #23755
Hi @ph

While troubleshooting the filebeat related errors, today we were able to install filebeat successfully on Windows.
Troubleshooting steps:
We used a test file in csv format and enabled type: log setting under Filebeat inputs section and provided test file at path section.
After using below commands:
[code]
we were able to view data of csv file under kibana > Discovery Section

Hence we are

[2021-02-10 12:44] #23755 closed

[2021-02-10 12:48] ChrsMark commented on #22518
This one fails for `macos` too:

## Flaky Test

* **Test Name:** auditbeat/module/file_integrity.TestActions
* **Link:** https://github.com/elastic/beats/blob/master/auditbeat/module/file_integrity/metricset_test.go#L173
* **Branch:** master
* * **Artifact Link:** https://beats-ci.elastic.co/job/Beats/job/beats/job/master/lastFailedBuild/testReport/junit/github/com_elastic_beats_v7_auditbeat_modul

[2021-02-10 13:06] ph commented on #21768
Going to close this as fixed, we have been doing extensive testing on windows.

[2021-02-10 13:06] #21768 closed

[2021-02-10 13:11] elasticmachine commented on #22468
Pinging @elastic/integrations (Team:Integrations)

[2021-02-10 13:12] ph commented on #22485
Fixed by https://github.com/elastic/beats/pull/22593

[2021-02-10 13:12] #22485 closed

[2021-02-10 13:20] ph commented on #23759
closing this as duplicate

[2021-02-10 13:20] #23759 closed

[2021-02-10 13:28] ph commented on #21855
@michalpristas Great news. In our discussion and [comment](https://github.com/elastic/beats/issues/21855#issuecomment-776037700) you mentioned a few things that will need modifications. Can you create issues for them?

[2021-02-10 13:44] elasticmachine commented on #23948
Pinging @elastic/fleet (Team:Fleet)

[2021-02-10 13:47] urso commented on #21855
In case any of these might become interesting:
- [Detect ARM/Rosetta2 via Go](https://www.yellowduck.be/posts/detecting-apple-silicon-via-go/)
- [Build Go Universal Binary](https://www.yellowduck.be/posts/golang-vs-apple-silicon/)

[2021-02-10 14:17] masci commented on #23391
I've updated the issue description with more info coming from a support case. This is doable at the module level, we should be good adding this to the next release cycle.

[2021-02-10 14:42] ChrsMark opened #23965 "Flaky Test [Build&Test / auditbeat-macos-macosx / github.com/elastic/beats/v7/auditbeat/module/file_integrity.TestActions]"
This one fails for `macos` too:

## Flaky Test

* **Test Name:** auditbeat/module/file_integrity.TestActions
* **Link:** https://github.com/elastic/beats/blob/master/auditbeat/module/file_integrity/metricset_test.go#L173
* **Branch:** master
* **Artifact Link:** https://beats-ci.elastic.co/job/Beats/job/beats/job/master/lastFailedBuild/testReport/junit/github/com_elastic_beats_v7_auditbeat_module_

[2021-02-10 14:42] elasticmachine commented on #23965
Pinging @elastic/siem (Team:SIEM)

[2021-02-10 15:24] elasticmachine commented on #23928
Pinging @elastic/agent (Team:Agent)

[2021-02-10 15:26] ph commented on #23928
@mtojek I agree that fixing the behavior and doing the right think are separate discussion. @mtojek I think implementing the workaround and fixing the issue would take a similar amount of time, can you make a PR?

[2021-02-10 15:50] narph opened #23971 "Documentation calls for "elastic-agent" but the service name installed is "Elastic Agent""
When checking docs for windows installation of the elastic agent:
https://www.elastic.co/guide/en/fleet/current/start-elastic-agent.html
https://www.elastic.co/guide/en/fleet/current/stop-elastic-agent.html

Both `start` and `stop` cmd for Windows check for `elastic-agent` service.
If all the steps from the doc have been followed during installation the name of the service will be `Elastic Agent`

[2021-02-10 15:50] elasticmachine commented on #23971
Pinging @elastic/obs-docs (Team:Docs)

[2021-02-10 16:39] leandroscardua commented on #23027
Hi Elastic Team,

Does anyone has roadmap and timeline to fix it?

[2021-02-10 16:46] elasticmachine commented on #23958
Pinging @elastic/uptime (Team:Uptime)

[2021-02-10 16:46] elasticmachine commented on #23957
Pinging @elastic/uptime (Team:Uptime)

[2021-02-10 16:49] fearful-symmetry commented on #23812
Yah, not sure how exactly we should test this either...

[2021-02-10 17:41] jen-huang commented on #22468
Hi @EricDavisX, FYI for 7.11 we fixed an issue where data streams were being shown in the UI: #89812. That code affected where we pull the "last activity" field from - now we pull it from the ES data stream information, rather than a max aggregation on matching documents. I'm curious to know if that fix might have resolved this issue?

[2021-02-10 17:57] ph commented on #22468
Interesting I though it was an integration issue?

[2021-02-10 18:02] jen-huang commented on #22468
It could be, I'm not completely sure, just wanted to point out that PR as it did related changes.

[2021-02-10 18:14] EricDavisX commented on #23812
the test team knows how to (theoretically) run a self managed upgrade, but none of us are practiced on it.  they attempted, and ran into errors - so while we triage and track that, we can just test the package and if passing muster we can run the upgrade test via cloud as we had prior, after merging the integration up.

I'll broadcast test progress as we get it and we can coordinate here.

[2021-02-10 18:15] EricDavisX commented on #22468
@dikshachauhan-qasource can you re-test and see if we find it and report findings back please?

[2021-02-10 18:47] leandroscardua commented on #14836
Hi Elastic Team,

Any news on that PR?

[2021-02-10 18:48] mukeshelastic opened #23979 "Retrieving integration configuration for auto-discovered inputs on kubernetes"
**Describe the enhancement:**
With beats, the configuration was available to metricbeat and filebeat locally on host but with agent and packages we moved the configuration definition in package registry.  So when Kubernetest discovers that pod runs a software that we monitor, either through dynamic inputs conditionals in agent config or via hints based discovery, agent needs to download the integr

[2021-02-10 18:48] elasticmachine commented on #23979
Pinging @elastic/agent (Team:Agent)

[2021-02-10 20:15] andrewvc commented on #14344
We should do this after https://github.com/elastic/uptime/issues/302 which is more minimal and blocks this

[2021-02-10 22:07] andrewvc opened #23981 "[Heartbeat] Process status code should not be used as error message for synthetics"
Synthetics now returns an exit code of (1) when a run fails. Now the uptime UI is showing that as the error message when it should show the step error message instead.
![image](https://user-images.githubusercontent.com/131427/107578872-edf04380-6bb9-11eb-94e8-b1bab267593f.png)

[2021-02-10 22:07] elasticmachine commented on #23981
Pinging @elastic/uptime (Team:Uptime)

[2021-02-11 06:52] vjsamuel commented on #17004
One thing to consider is to move to the same logic that Prometheus uses. They dont use `expfmt` that we use and it allows more erroneous endpoints to be scraped than what `expfmt` does. looking at that implementation, i think it would be slightly memory efficient than what `expfmt` does as well.

[2021-02-11 07:55] eedugon opened #23982 "Filebeat: Add fileset for MongoDB audit logs in the module"
**Describe the enhancement:**
Some users would like MongoDB module to be able to process also the `audit logs` of the database, adapting them to ECS. These logs are usually in JSON format (described [here](https://docs.mongodb.com/manual/reference/audit-message/)).

**Describe a specific use case for the enhancement or feature:**
Users sending mongodb logs to Elasticsearch might want to process al

[2021-02-11 08:04] andresrc commented on #21855
Related:
* https://github.com/elastic/gosigar/pull/152
* https://github.com/elastic/go-sysinfo/pull/91

Have we picked those changes in beats yet?
Do we need for tests / expect more changes (besides those related to building / packaging)?

[2021-02-11 08:04] andresrc commented on #21855
/cc @fearful-symmetry

[2021-02-11 10:22] paulb-elastic commented on #23981
7.11 has already gone, so bumping this to 7.12

[2021-02-11 10:44] simitt opened #23993 "[Elastic Agent] Support memory queue configuration"
The `queue.*` parameters in combination with `output.elasticsearch.bulk_max_size` and `output.elasticsearch.worker` are the most important settings to tune when scaling an APM Server deployment. Therefore it is important that the `queue.*` params are still supported; it is a requirement for running APM Server managed by Elastic Agent on cloud.

Different queue configurations should be allowed per

[2021-02-11 10:45] elasticmachine commented on #23993
Pinging @elastic/agent (Team:Agent)

[2021-02-11 12:04] amolnater-qasource commented on #22468
Hi @EricDavisX

We have observed similar issue and was reported at https://github.com/elastic/integrations/issues/501. However we have revalidated this issue today on 7.11 BC-8 Kibana cloud environment and found this issue **partially reproduceable**.
**What's working:**
-Logs for "system.syslog" are generated for present timestamp.

**What's not working:**
-"system.auth" logs are observed for fut

[2021-02-11 12:48] EricDavisX opened #23996 "[Agent] macOS or Linux Agent will show as unhealthy / error state if 'Windows' Integration is in policy used"
7.11.0 shipped Beta build

From Security team:
noticed that the Endpoint/Fleet behavior changed with regards to integrations.

In 7.10 I made a single policy for all of the hosts and just put the Linux, Windows, and Mac endpoints under that Policy. In 7.11 my Mac hosts are always in an error state because the Windows integration won’t load.

Work-around is to use separate policy for each OS varian

[2021-02-11 12:48] elasticmachine commented on #23996
Pinging @elastic/agent (Team:Agent)

[2021-02-11 13:34] elasticmachine commented on #22268
Pinging @elastic/agent (Team:Agent)

[2021-02-11 13:42] ph commented on #23996
This is indeed a problem with the integration javascript pipeline. @masci

[2021-02-11 14:20] #22268 closed

[2021-02-11 14:32] urso commented on #23993
Hm, I would rather see the memory queue to be removed in the future. In context of agent the memory queue would become an output setting, although it is somewhat unfortunated that each Beat will have it's own output.

[2021-02-11 14:50] #23685 closed

[2021-02-11 14:50] #23829 closed

[2021-02-11 15:16] EricDavisX commented on #23996
The .0.10.7 System package is seen in 7.11 shipped release, and 0.2.11 Windows Package shows.  System Package should have the desired conditional logic, but Windows may not.  Suggest to review what conditional logic we have there.  I missed testing this; we were over focused on the intended behaviors and not about the unintended / non-happy paths.  We are in the middle of a test cycle for the 0.9.

[2021-02-11 15:52] v1v commented on #23860
See https://github.com/elastic/beats/pull/23945#discussion_r574377562

[2021-02-11 15:52] #23860 closed

[2021-02-11 16:17] fearful-symmetry commented on #21855
@andresrc I'm going to have a PR in today to actually pick those changes up in beats. I've been testing metricbeat and go 1.16 beta, and with the new libraries, I haven't run into any issues. One thing I _haven't_ looked into is universal binaries

[2021-02-11 16:31] elasticmachine commented on #23996
Pinging @elastic/integrations (Team:Integrations)

[2021-02-11 16:58] ph opened #24012 "Use the same entrypoint to build the elastic agent than any other beats"
The release manager use the following command to build the elastic agent, instead elastic agent should be build using the same entrypoint used by the other beats which is `BEATS=x-pack/elastic-agent make release-manager-snapshot `

[code]

The `BEATS=x-pack/elastic-agent make release-manager-snapshot ` command to only build the elastic agent doesn't work because it will try to find some heartbeat

[2021-02-11 16:58] elasticmachine commented on #24012
Pinging @elastic/agent (Team:Agent)

[2021-02-11 17:09] fearful-symmetry commented on #23996
@EricDavisX is right--we're missing a lot of conditional logic from non-system packages, since I was so focused on getting `system` to work.

[2021-02-11 17:22] andrewkroh opened #24015 "Kibana authentication is not inheriting the Elasticsearch output api_key value"
`setup --dashboards` fails to authenticate while using an `output.elasticsearch.api_key`. The authentication options for the Elasticsearch username and password are automatically used when connecting to Kibana. So for consistency the `api_key` should also automatically be used.

For confirmed bugs, please report:
- Version: 7.10
- Operating System: all

As a workaround I found that `setup.kibana.h

[2021-02-11 17:33] EricDavisX commented on #23812
I believe the team has tested, allow me to validate and we can promote the package (and test again 7.10)

[2021-02-11 18:21] frutik commented on #152
further activity

[2021-02-11 18:26] ph commented on #23996
OK, I was totally confused, I've mismatched the windows integration vs the system integration.

[2021-02-11 18:47] ferullo commented on #21870
can this be priorized for 7.13?

[2021-02-11 18:56] mark54g opened #24017 "Request for documentation update for netflow module"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

- Version: Filebeat 7.10.2

[2021-02-11 18:56] elasticmachine commented on #24017
Pinging @elastic/obs-docs (Team:Docs)

[2021-02-11 19:13] andrewkroh opened #24018 "[Filebeat] Okta module uses incorrect time format in HTTP request"
In @SpencerLN's own words:

We upgraded to Filebeat 7.11.0 today and are seeing an issue with the Okta module. It looks like it is not formatting the since timestamp correctly before sending it to Okta. Okta expects ISO 8601, but it is sending `since=2021-02-10+16%3A59%3A19.699851+%2B0000+UTC` . Setting formatDate for RFC3339 in the input.yml seems to get it working:

[code]

For confirmed bugs, p

[2021-02-11 19:13] elasticmachine commented on #24018
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-11 19:17] ph commented on #24012
@Conky5 So you can track

[2021-02-11 19:35] andrewkroh commented on #18482
Duplicate of #15773

[2021-02-11 19:35] #18482 closed

[2021-02-11 19:35] elasticmachine commented on #15773
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-11 19:53] andrewkroh commented on #15773
I think the minimum permissions is membership in `BUILTIN\Event Log Readers`. That will need to be tested before updating the docs. It is possible to [modify](https://docs.microsoft.com/en-us/troubleshoot/windows-server/group-policy/set-event-log-security-locally-or-via-group-policy) the permissions of logs by changing their security descriptors using SDDL so if someone has done that then the defa

[2021-02-11 19:59] ph opened #24020 "Add Logstash support to Elastic Agent in standalone mode"
AC
- [x] I should be able to configure Elastic Agent as an output.
- [x] Fix the issue with Monitoring and Logstash https://github.com/elastic/beats/issues/22051
- [x] Logstash usage should be documented  https://github.com/elastic/observability-docs/issues/535
- [ ] I should have end 2 end testing for Logstash https://github.com/elastic/e2e-testing/issues/364

[2021-02-11 19:59] elasticmachine commented on #24020
Pinging @elastic/agent (Team:Agent)

[2021-02-11 20:50] #13798 closed

[2021-02-11 21:08] fearful-symmetry commented on #20877
Closing this, since we have all the data we need.

[2021-02-11 21:08] #20877 closed

[2021-02-11 21:15] EricDavisX commented on #23996
confirmed it happens with Linux as well as macOS agents

[2021-02-11 21:23] ravikesarwani commented on #23948
@nchaulet We discussed and used the stacked area chart to begin with. Here we are trying to primarily show how the whole changes through time and also give a **very rough sense** of how the parts compare to one another in their contributions to the whole at particular points of time. This graph does have drawback as understanding each part and how it changes over time in not very clear (other than

[2021-02-11 22:42] sarojasahoo opened #24023 "Filebeat 7.10 is not publishing application log into AWS MSK-2.2.1 cluster, getting error Kafka publish failed with: circuit breaker is open"
Hi All,

 I am using filebeat  7.10.0  and AWS Msk-2.2.1 to push all the application logs into AWS msk  cluster. We are enabling TLS encryption.  Once we start the pipeline, filebeat agent harvester started reading the application log files and trying to connect AWS msk cluster. I am not using client authetication, only TLS encryption is enabled.  For TLS encryption, i am using jks file , hwich i

[2021-02-12 01:17] andrewkroh commented on #16923
I think this is a bug with libbeat's handling of multi-fields where the field is named `text`.

[2021-02-12 02:16] EricDavisX commented on #23829
With the timing of 7.11.1 BC1 and the partial build-update BC2 I'm not sure if this is in 7.11.1

[2021-02-12 06:42] sunilmchaudhari commented on #17572
What is  the solution finally?
Sorry I don't know how to track issues and get to the solution from Github.

[2021-02-12 07:32] andresrc commented on #24023
Hi @sarojasahoo is 7.11.0 we hace included some improvements Kafka error handling, which should provide better information. Can you try with that version and open a discuss issue?

Thanks!

[2021-02-12 07:32] #24023 closed

[2021-02-12 07:36] elasticmachine commented on #24015
Pinging @elastic/agent (Team:Agent)

[2021-02-12 07:38] elasticmachine commented on #23982
Pinging @elastic/integrations (Team:Integrations)

[2021-02-12 08:23] spetrashov commented on #23658
I've tested the latest Filebeat snapshot version that includes a fix for this issue for 3 days in a test environment and the number of goroutines remains stable 👍🏻

[2021-02-12 14:16] #16305 closed

[2021-02-12 16:32] #24018 closed

[2021-02-12 17:31] kesslerm commented on #9600
Confirmed with custom ingest pipelines, too, that an ingest pipeline needs to be deleted and re-loaded to get Logstash events flowing again.

[2021-02-12 17:40] ravinaik1312 commented on #17572
[This](https://github.com/elastic/beats/pull/20887#event-3788532846) shows that the bugfix is now available in version `7.10.0`

[2021-02-12 20:13] hunkeelin opened #24029 "Filebeat to sqs support"
Hi, is there a feature request for filebeat to sqs? There was a post back in 2015(https://github.com/elastic/beats/issues/581#issuecomment-247034174) stating the team do not want to support and maintain additional output. That's 6 years ago, is it still the case?

[2021-02-12 22:19] R37ribution commented on #11179
After running into this issue in our production clusters the solution seems clear:

The per second logging of `"journalbeat successfully published # events"` should be a debug level event. Especially in light of the metrics logging I mention below...

I think these "journalbeat successfully published # events" are redundant to the metrics that are logged every 30 seconds by default with `logging.m

[2021-02-14 20:56] elasticmachine commented on #24029
Pinging @elastic/integrations (Team:Integrations)

[2021-02-14 20:57] andresrc commented on #24029
Hi @hunkeelin , as of today there are no plans to add such an output yet.

[2021-02-14 22:29] s-nel opened #24031 "Check index template before overwriting"
**Describe the enhancement:**

When using `setup.template.overwrite: true` it appears that libbeat will execute a `PUT _template` request regardless of whether the template has changed or not. When using this setting on multiple hosts this can cause a lot of template update requests and cause cluster instability as described in the [docs](https://www.elastic.co/guide/en/beats/metricbeat/current/me

[2021-02-15 05:24] sunilmchaudhari commented on #17572
Hi,
Still same error in version 7.10.0 and 7.11

[2021-02-15 08:37] ruflin commented on #23979
@mukeshelastic I wrote some time ago a proposal for "input templates" (private) which could solve the above problem. I should probably convert this to a Github issue an share it here?

[2021-02-15 10:55] P1llus opened #24032 "[Filebeat] Add automated tests for modules using httpjson input"
This issue is to track any progress on automating tests on modules that utilizes the httpjson input.

The current modules that uses httpjson are:

- [x] google_workspace
- [ ] gsuite
- [ ] microsoft
- [ ] threat_intel
- [ ] snyk
- [ ] okta

There needs to be an initial discussion on a few things:

1. Should the tests be created for both modules and packages/integrations?
2. For modules **with** a

[2021-02-15 10:56] P1llus commented on #24032
As mentioned by @andrewkroh in another issue, this is created to track future work on testing httpjson.

[2021-02-15 11:03] simitt commented on #23993
We will need some support to configure the queue for 7.x when APM Server is managed by Elastic Agent. This is important to be able to scale the APM Server.

[2021-02-15 11:43] ruflin commented on #23993
@simitt As a temporary solution, would it be enough to configure it through the input part and apm-server translates it to the correct place?

[2021-02-15 12:12] simitt opened #24033 "[Elastic Agent] Starting docker container when enrollment"
It seems https://github.com/elastic/beats/pull/23973 introduced a regression for when starting the Elastic Agent docker container.
When starting the container by not providing an enrollment token, the script fails with `/usr/local/bin/docker-entrypoint: line 43: ${$apikeyId}: bad substitution`.

It seems the additional '$' in [`${$apikeyId}`](https://github.com/elastic/beats/pull/23973/files#diff-

[2021-02-15 12:12] elasticmachine commented on #24033
Pinging @elastic/agent (Team:Agent)

[2021-02-15 12:38] simitt commented on #23993
Configuration wise it would be fine to configure within the APM Server input vars; but we still need to have a solution in beats for actually applying the queue settings to the memory queue. This cannot be done by the APM Server code itself. Probably something similar to [libbeat/cmd/instance/beat.go](https://github.com/elastic/beats/blob/ef6274d0d1e36308a333cbed69846a1bd63528ae/libbeat/cmd/instan

[2021-02-15 13:02] sarojasahoo commented on #24023
Dear Andres,

Thank you for your response. I will install 7.11.0 and enable TLS
encryption in filebeat config.
I will keep you update the output for the same.

Regards,
Saroj

On Fri, Feb 12, 2021 at 7:32 AM Andres Rodriguez <notifications@github.com>
wrote:

[2021-02-15 13:53] mtojek commented on #24033
Fix in-progress: https://github.com/elastic/beats/pull/24036

[2021-02-15 14:01] simitt commented on #24033
I had it self-assigned and put up a PR already https://github.com/elastic/beats/pull/24035 :)
Closing in favor of your fix then.

[2021-02-15 14:20] #23406 closed

[2021-02-15 14:26] kvch commented on #18426
@DanRoscigno I know it has been a while since you opened this issue. But is there any chance you could share what privileges the user you used to setup has, what modules did you enabled, etc.? I have spent the last few hours trying to reproduce the issue with multiple versions of Beats, Elasticsearch and Kibana. Even if I enabled all modules or none of them, the index template was loaded successfu

[2021-02-15 15:19] elasticmachine commented on #21172
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-15 15:35] elasticmachine commented on #21232
Pinging @elastic/agent (Team:Agent)

[2021-02-15 17:01] elasticmachine commented on #24032
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-15 17:02] sarojasahoo commented on #24023
Hi,

As per your advice i have upgraded my filebeat agent version  filebeat
agent -7.10.0 to  filebeat agent -7.11.0.

I have  used same TLS  configuration for encryption. but this time I am
getting  different error in in file beat logfile. I used telnet command for
brokers and successfully connected from the client machine. Please find the
below command output values for all the three brokers.

C

[2021-02-15 17:24] adriansr opened #24046 "ILM setup misleads user when check_exists is false"
When a Beat is run with `setup.ilm.check_exists: false`

It prints:

[code]

However, that is not true, as the function creating the write alias is silently skipping the creation of the index due to `check_exists` being false:

[code]

In the scenario were ILM is not setup properly, this will result in the write index not being created. An index named after the write index created instead.

[2021-02-15 17:26] elasticmachine commented on #24046
Pinging @elastic/integrations-services (Team:Services)

[2021-02-15 19:25] elasticmachine commented on #24046
Pinging @elastic/agent (Team:Agent)

[2021-02-15 19:48] ph commented on #23993
It is just me or having the queue defined in the input or adding it to the output requires the same amount of work, which to makes the queue reloadable? I don't think restarting the beats is an option here?

[2021-02-15 20:04] ph commented on #24033
closing #24036 is merged.

[2021-02-15 20:04] #24033 closed

[2021-02-15 20:04] EvgeniGordeev commented on #22567
still the same issue with `7.10.2` - loading dashboards with filebeat (`filebeat setup -e --modules nginx --dashboards --index-management`) did NOT help

[2021-02-15 20:06] ph commented on #21870
@michalpristas Can add an e2e for this?

[2021-02-15 20:35] #23366 closed

[2021-02-15 20:46] simitt commented on #23993
I believe the difference would be that currently only one global output can be configured, but the queue size should be configurable per sub process (e.g. having a different queue size for APM Server than for metricbeat, as the event size probably differs etc.).
Agree that applying the queue settings needs to be done in libbeat in both cases.

[2021-02-15 22:01] Dominator-3000 commented on #15768
I really surprised when don't find this function in auditbeat. When you have a large infrastructure with different software that is not unified, it is very difficult to make a single config that is suitable for everything.

[2021-02-15 22:54] kaiyan-sheng commented on #21826
I can't reproduce this error locally or in master branch. I will reenable this test and if it ever breaks again, I will reopen this issue.

[2021-02-15 22:54] #21826 closed

[2021-02-15 22:56] #17337 closed

[2021-02-16 02:31] jeffspahr opened #24051 "Filebeat kubernetes manifest is missing `nodes` in the ClusterRole"
For confirmed bugs, please report:
- Version: 7.11.0
- Operating System: Kubernetes v1.20.2+k3s1  on Ubuntu 20.04
- Steps to Reproduce:

Deploy Filebeat from the latest manifest in the docs:
https://www.elastic.co/guide/en/beats/filebeat/7.11/running-on-kubernetes.html
curl -L -O https://raw.githubusercontent.com/elastic/beats/7.11/deploy/kubernetes/filebeat-kubernetes.yaml

Use the autodiscover c

[2021-02-16 06:10] mjmbischoff commented on #23265
when using condition matching I ended up with:
[code]
Seems like the defaults for input don't work when running in a container / pod

[2021-02-16 07:10] elasticmachine commented on #24051
Pinging @elastic/integrations (Team:Integrations)

[2021-02-16 07:21] amolnater-qasource commented on #23812
Hi @EricDavisX
We have revalidated this issue on self managed stack upgraded to 7.11.1 BC-2  Kibana environment(from 7.10.2 Snapshot) and found it **still reproducible**.

**Steps followed:**
1. Deploy self managed 7.10.2 Snapshot Kibana environment with below xpack entry in kibana.yml
`
xpack.ingestManager.registryUrl: "http://epr-snapshot.elastic.co"
`
2. Observe System integration version 0.9.2

[2021-02-16 08:22] #21000 closed

[2021-02-16 09:01] zez3 commented on #3444
would be a nice addition

[2021-02-16 09:15] ChrsMark commented on #23265
You can find complete examples at https://www.elastic.co/guide/en/beats/filebeat/current/configuration-autodiscover.html#_kubernetes:
[code]

Please let us know if there is something that could be improved in doc's regarding this.

Closing this for now.

[2021-02-16 09:15] #23265 closed

[2021-02-16 09:56] ruflin opened #24054 "[Elastic Agent] Support for input templates"
The configuration of the Elastic Agent is a list of inputs and not modules anymore like *beats had. Instead, modules are moved to integrations managed in Kibana. The Elastic Agent itself has only knowledge of inputs. This make the standalone configuration more verbose and potentially more cumbersome to setup.

To solve this issue, this is a proposal to support "input templates" in Elastic Agent. A

[2021-02-16 09:56] elasticmachine commented on #24054
Pinging @elastic/agent (Team:Agent)

[2021-02-16 09:57] ruflin commented on #23979
I filed an issue for input templates here: https://github.com/elastic/beats/issues/24054

[2021-02-16 10:00] ruflin commented on #23876
I had a conversation with @ChrsMark about hints based autodiscovery. My current assumption is that this is supported by the dynamic input structure assuming the k8s providers also retrieves the labels and makes them available for filling in variables. This is the first step to unlock hints based configs and should allow all the options. @ChrsMark @blakerouse Would be great to get your input on my

[2021-02-16 12:29] #18049 closed

[2021-02-16 12:31] blakerouse commented on #23876
@ruflin Yes labels are provided through the provider and their values can be used in variable substitution or to check a condition.

[2021-02-16 12:53] #23618 closed

[2021-02-16 12:57] bczifra opened #24058 "Support TLS connections to Zookeeper in Metricbeat Zookeeper module"
**Describe the enhancement:**
Introduce support for [TLS connections to Zookeeper](https://cwiki.apache.org/confluence/display/ZOOKEEPER/ZooKeeper+SSL+User+Guide) in the Metricbeat [Zookeeper module](https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-module-zookeeper.html).

**Describe a specific use case for the enhancement or feature:**
Ensuring a secure connection between Metri

[2021-02-16 13:06] lucabelluccini opened #24059 "Confusing message about ccr metricsets on Elasticsearch module."
If Elasticsearch xpack module is used against a non-platinum license, we get the message about `ccr` metricset:
[code]

We have a mandatory list of metricsets in case xpack is enabled.
The metricset `ccr` must be present and cannot be removed.
If we remove it, Metricbeat doesn't start and shows:
[code]

I would suggest to amend the statement "or remove the ccr metricset from your Elasticsearch mod

[2021-02-16 13:22] ruflin commented on #23993
Reloading would definitively not be nice but I think today this is what happens with apm-server legacy if the queue config is changed?

[2021-02-16 13:22] axrayn commented on #16227
Would still be good to get this feature for packetbeat.

[2021-02-16 13:50] DanRoscigno commented on #18426
I don't remember @kvch , way too long ago and I was told it was the intended behavior.

[2021-02-16 14:37] #20709 closed

[2021-02-16 14:56] #21897 closed

[2021-02-16 15:02] #23771 closed

[2021-02-16 15:16] #3791 closed

[2021-02-16 15:29] mjmbischoff commented on #23265
Actually just noticed that our observer-ability guide features an nginx example: https://www.elastic.co/guide/en/observability/7.11/monitor-kubernetes.html

[code]
Unsure why the container / paths combination didn't initially work for me. But I've tested both and both work.

[2021-02-16 15:42] EricDavisX commented on #23812
the above description is helpful - it highlights a things we can follow up and a significant failure to provide you with all of the steps required and working code to prove out the changes.  It is a lot going on actually, but I'll try to itemize clearly what I see and who can help follow up.

1) It is reported that the 0.9.1 System package was baked in to the Default policy, this is most likely ex

[2021-02-16 15:52] EricDavisX commented on #23812
@amolnater-qasource if you have the disable.TLS setting in place in your kibana.yml and you are seeing the error
![image](https://user-images.githubusercontent.com/12970373/108086952-ebbc3800-7044-11eb-858c-34515d3e2179.png)
 - please log it as a separate bug, blocking our progress here, thank you for noting it - but it is helpful not to make the comments logs any longer than they have to be.

[2021-02-16 16:01] ph commented on #23812
@EricDavisX thanks for the update, I also checked on my side that the system on the snapshot is indeed 0.9.3.. So maybe its a fleet EPM issues, @skh or @jfsiii should be able to help with area of code.

[2021-02-16 16:32] elasticmachine commented on #16006
Pinging @elastic/agent (Team:Agent)

[2021-02-16 16:37] elasticmachine commented on #16084
Pinging @elastic/agent (Team:Agent)

[2021-02-16 16:42] ph commented on #24054
@urso Would like your opinion on this.

[2021-02-16 16:48] jsoriano commented on #16084
Hey @Mekk,

I'd say that a feature like this belongs more to configuration management grounds. I don't think that beats should include a general purpose templating or something like this.

But there are already some features that use to help to manage complex configurations:
* YAML anchors can be leveraged to reuse some parts of the configuration (see for example its use here in the "How to test"

[2021-02-16 16:48] #16084 closed

[2021-02-16 16:53] ph commented on #21855
@michalpristas Have you followed "will retry experiment once properly signed endpoint is available with universal binary"

[2021-02-16 16:58] elasticmachine commented on #24059
Pinging @elastic/integrations (Team:Integrations)

[2021-02-16 16:58] elasticmachine commented on #24058
Pinging @elastic/integrations (Team:Integrations)

[2021-02-16 17:02] elasticmachine commented on #16300
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-16 17:04] elasticmachine commented on #16531
Pinging @elastic/stack-monitoring (Stack monitoring)

[2021-02-16 17:04] elasticmachine commented on #16531
Pinging @elastic/integrations (Team:Integrations)

[2021-02-16 17:04] elasticmachine commented on #16531
Pinging @elastic/obs-docs (Team:Docs)

[2021-02-16 17:11] jsoriano commented on #16794
Sorry for the late reply here :grimacing: It is usually better to ask this kind of questions in https://discuss.elastic.co/c/elastic-stack/beats/28

In case it is still useful, I think that there is a problem with YAML formatting here. `processors` is a list, and each item has to be prefixed with a `-`. Something like this should make one processor to run after the other:
[code]

[2021-02-16 17:11] #16794 closed

[2021-02-16 17:14] elasticmachine commented on #16923
Pinging @elastic/agent (Team:Agent)

[2021-02-16 17:14] elasticmachine commented on #16933
Pinging @elastic/integrations (Team:Integrations)

[2021-02-16 17:15] elasticmachine commented on #16957
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-16 17:17] elasticmachine commented on #16995
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-16 17:18] elasticmachine commented on #20846
Pinging @elastic/integrations (Team:Integrations)

[2021-02-16 17:34] fearful-symmetry commented on #23996
Fix has been merged in integrations. Going to try and roll things out today.

[2021-02-16 17:38] elasticmachine commented on #22958
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-16 17:41] elasticmachine commented on #23774
Pinging @elastic/obs-docs (Team:Docs)

[2021-02-16 17:44] fearful-symmetry commented on #22958
@narph Can you look at this? It doesn't look like something in metricbeat code.

[2021-02-16 17:49] elasticmachine commented on #24031
Pinging @elastic/agent (Team:Agent)

[2021-02-16 17:56] #20951 closed

[2021-02-16 18:17] elasticmachine commented on #21961
Pinging @elastic/integrations (Team:Integrations)

[2021-02-16 19:39] #23118 closed

[2021-02-16 20:18] richardim opened #24073 "docker metricbeat 7.10.2 AWS Module - EBS and ELB configuration with access_key_id yields failed startup"
When enabling the AWS module, the configurations for access key and secret access key only works for some metricsets. ELB and EBS configuration causes and error:

`2021-02-16T19:23:50.555Z	ERROR	instance/beat.go:956	Exiting: 1 error: module factory for module ‘aws’ failed while creating light metricset ‘aws/ebs’: missing field accessing ‘access_key_id’ (source:‘metricbeat.yml’)`

`- module: aws`
`

[2021-02-16 20:31] elasticmachine commented on #24073
Pinging @elastic/integrations (Team:Integrations)

[2021-02-16 21:18] kaiyan-sheng commented on #24073
This seems to be a formatting issue still with the quotes around `access_key_id` and `secret_access_key`. The config below works for me:
[code]

[2021-02-16 21:38] nehaduggal opened #24075 "Add ethtool, and nfsiostat stats to metrics"
**Describe the enhancement:**

- Add ethtool -S command output to get accurate data along side current data as netstat does not work correct lywith latest kernel versions in redhat and Suse.
- Also add support for nfsiostat output to be captured. Some databases use NFS shares to keep data making it important to measure NFS data rather than just capturing Disk I/O

[2021-02-16 21:38] elasticmachine commented on #24075
Pinging @elastic/integrations (Team:Integrations)

[2021-02-16 21:45] cwuethrich opened #24076 "metricbeat mssql module: performance counter don't work with named instances"
For confirmed bugs, please report:
- Version: 7.11.0 (but all others as well)
- Operating System: all
- Discuss Forum URL: https://discuss.elastic.co/t/some-metricbeat-mssql-performance-metrics-not-returning-values/218493
- Discuss Forum URL: https://discuss.elastic.co/t/metricbeat-mssql-performance-module-does-not-record-data-from-named-instance/240536
- Discuss Forum URL: https://discuss.elastic

[2021-02-16 22:00] EricDavisX commented on #23996
we confirmed these 2 updates are on 'staging' now and can be tested via 7.11.x cloud-staging -snapshot deploy:
"linux" integration to version 0.3.7
"windows" to version 0.3.1

[2021-02-17 06:51] elasticmachine commented on #24076
Pinging @elastic/integrations (Team:Integrations)

[2021-02-17 07:08] Mekk commented on #16084
Most of the suggestions above doesn't seem at all related to the problem I describe. That's not about consistency of individual params (which could be improved by reusing env variable or referring keystore) and not about configuration management. That's simply about the fact, that I have long sections (like multiline pattern) which are always the same, but must be repeated. In the result, filebeat

[2021-02-17 07:15] simitt commented on #23844
Related: when having a managed policy, e.g. on Elastic Cloud, only a subset of the ES output settings should be allowed. For example the `host` or `username` and `password` should not be configurable.

[2021-02-17 07:37] dikshachauhan-qasource commented on #23996
Hi @EricDavisX

We have re-validated this issue on 7.11.1 snapshot build and found issue still occurring, however, with metricbeat error this time on MAC Agent.

Build details are as follows:
[code]

**Observations :**
- Updated integration versions were getting displayed.
"Linux" integration Version 0.3.7
"windows" Version 0.3.1

However, System package was still at V 0.10.8 an not as 0.10.9.
![i

[2021-02-17 07:41] #24051 closed

[2021-02-17 09:49] amolnater-qasource commented on #23812
Hi @EricDavisX
We have revalidated this issue on self-managed stack upgraded to 7.11.1 BC-3 Kibana environment(from 7.10.3 Snapshot) and found it **fixed** for self-managed stack upgrade.

**Steps followed:**
1. Deploy self managed 7.10.3 Snapshot Kibana environment with below xpack entry in kibana.yml
`
xpack.ingestManager.registryUrl: "http://epr-snapshot.elastic.co"
`
2. Observe System integrat

[2021-02-17 09:49] v1v opened #24082 "[x-pack/metricbeats] build/test process cannot take more than 2 gb of RAM in Windows 7 32 bits"
Windows 7 32 bits got a memory limitation by definition and causes

[code]

You can see the whole logs in -> https://gist.github.com/v1v/9846a39dc2b5506f7d9acb78ebb14c4c

### Expectations

The `x-pack/metricbeats` build/test system to be adjusted in a way it can cope the OS expectations, then we won't face any runtime build errors related to a limited capacity in the 32 arch for Windows 7

[2021-02-17 11:06] jsoriano commented on #16084
@Mekk yes, I only wanted to mention some of the features Beats already have to support some cases of complex configurations, in case some of them can help you in your case :slightly_smiling_face:
Adding more features like general templating would increase the complexity of configs, and I think that most of the use cases for this are better covered by using config management tools.

This "log class

[2021-02-17 11:14] Mekk commented on #16084
That's closer, I will take a look, thank you for hint.

Still, IMHO generic problem (_I have plenty of logs which differ in some minor detail, like label, but have large common set of settings_) isn't that rare and requiring custom templating here raises the bar (not to mention non-obviousness of that solution). Sth like I suggested above ( https://github.com/elastic/beats/issues/16084#issuecommen

[2021-02-17 11:24] jsoriano commented on #16084
Yep, agree that there may be some documentation about recommendations on how to manage extensive configurations.

Out of curiosity, to better understand your use case, are these logs generated by multiple deployments of some custom application?

[2021-02-17 11:28] Mekk commented on #16084
Regarding docs (I was just writing that): currently they leave strong impression, that modules constitute some advanced feature mostly intended to be used, not created. Small touches like adding sentence „If you reuse the same multiline pattern in many cases, you may consider -Creating module-” to chapter about multiline inputs, and some similar remarks, plus creating such example chapter showing

[2021-02-17 11:30] Mekk commented on #16084
… and I suppose modules are indeed good answer to my needs and I am to try them.

But note that I haven't even considered using them in spite of using filebeat for 2 years and reading docs many times.

[2021-02-17 11:57] gchiartosini commented on #12184
Why was this request closed?
The use case should be highly researched.
I have the same requirement even if it is a json rest call.

Is there currently no workaround?

[2021-02-17 12:27] ChrsMark commented on #15151
Keeping open.

[2021-02-17 12:49] elasticmachine commented on #22552
Pinging @elastic/agent (Team:Agent)

[2021-02-17 13:43] schans commented on #23267
Hi,

https://github.com/elastic/beats/pull/22879 has fix version 7.11.0. I have updated to that version but still get the error. I have also tried to set the env var LIBBEAT_MONITORING_CGROUPS_HIERARCHY_OVERRIDE to "/hostfs" but that doesn't seem to make a difference.

Metricebeat gets started in the container with "metricbeat -c /etc/metricbeat.yml -e -system.hostfs=/hostfs"

So I'm not sure what

[2021-02-17 14:25] #23823 closed

[2021-02-17 15:26] elasticmachine commented on #21998
Pinging @elastic/agent (Team:Agent)

[2021-02-17 15:27] andresrc commented on #21998
Let's keep this open to try to improve the experience

[2021-02-17 15:35] nerophon opened #24089 "Metricbeat AWS sqs metricset is documented as longs, but in the source is floats"
- Version: 7.11.0 and earlier
- Operating System: any
- Steps to Reproduce:
Collect metrics from the AWS sqs metricset. Observe they come in as floats; but they are documented as longs and probably should be longs since they are intended to be counts, not averages.
See:
Docs: https://www.elastic.co/guide/en/beats/metricbeat/7.11/exported-fields-aws.html#_sqs_3
Docs source: https://github.com/elast

[2021-02-17 15:36] elasticmachine commented on #24089
Pinging @elastic/integrations (Team:Integrations)

[2021-02-17 15:40] sarojasahoo commented on #24023
We resolved the SSL handshake issue in MSK end by adding the following entries in filebeat config file.

ssl.enabled: true
tls: certificate_authorities - "/home/ec2-user/kafka.client.truststore.jks"

Alternatively, we can convert the .jks into .pem and provide the below params in filebeat config file:
ssl.certificate_authorities: ["/home/ec2-user/certificatefile.pem"]

By doing anyone of the above

[2021-02-17 16:02] urso commented on #24054
In general +1 on a template feature. It would somewhat resemble lightweight modules, in a way that a template is just another input type (-> allow a template to instantiate other templates).

The exact format still needs some thought it seems.

Will we make templates available to package authors as inputs, or will templates replace some functionality in todays package spec?

[2021-02-17 16:05] ph opened #24091 "Exposing Data from Agent and APM Server"
Make the `http.endpoint` configurable for the APM Server, Elastic Agent and Fleet Server to bind to a TCP port in addition to the default socket. The exposed metric endpoints can be used by Cloud metricbeats to collect data. If this is not possible, take a look at the alternative solution (which has more drawbacks).

The APM Server http endpoint reports data in the same format as currently, but _c

[2021-02-17 16:05] elasticmachine commented on #24091
Pinging @elastic/agent (Team:Agent)

[2021-02-17 16:06] ph commented on #24091
@ruflin You ping me a few weeks ago and asked me if it could be possible that the Elastic Agent exposes an HTTP endpoint for the metrics and proxy the calls to the running processes? Is that what the above implies?

[2021-02-17 16:44] simitt commented on #24091
Alternative: Add API to Elastic Agent to expose metrics for itself and all sub processes. The tricky part is that Elastic Agent itself does not collect the metrics, but it would avoid having to expose multiple ports, and the current logic for collecting metrics via sockets could be reused.
This could potentially also be used as a healthcheck endpoint.

[2021-02-17 17:00] ph commented on #24091
@simitt OK, this is exactly what @ruflin talked with me, I do not see it as terribly complicated to do, the thing is what we do when multiples processes are running, we just use different "path"  like /metricbeat, /apm-server, /filebeat, filebeat-monitoring

[2021-02-17 17:09] EricDavisX opened #24092 "bit-depth check in Agent / Beats to prevent x86 artifact from running on x64 env"
No installation error for a 32-Bit agent on a 64-Bit windows machine & agent goes to unhealthy state after successful installation

tested on 7.11.1 and was discussed with Endpoint team.

there are multiple options to fix, but we decided to
be more strict and do "Agent refuses to install on 32bits of itself on 64 bit machines

AC
- [ ] Beats x86 should refuses to starts on x64.
- [ ] Elastic Agent

[2021-02-17 17:09] elasticmachine commented on #24092
Pinging @elastic/agent (Team:Agent)

[2021-02-17 17:10] EricDavisX commented on #24092
@ph @urso fyi

[2021-02-17 17:43] EricDavisX commented on #23812
ok great, so we will pr and push system 0.9.3 to prod

[2021-02-17 18:47] schans commented on #23267
Ok. Did a bit more digging and got some new insights so please ignore above.

It does seem to pick up the system.hostfs setting. So far so good.

The error:
{"log.level":"error","@timestamp":"2021-02-17T18:41:27.209Z","log.origin":{"file.name":"metrics/metrics.go","file.line":301},"message":"error getting cgroup stats: open /proc/23615/cgroup: no such file or directory","ecs.version":"1.6.0"}

Now

[2021-02-17 20:02] fearful-symmetry commented on #23267
@schans so the error is _only_ happening with metricbeat's own pid?

[2021-02-17 21:25] schans commented on #23267
Indeed. It is only happening for metricbeat's own pid (as seen from the host).

[2021-02-17 21:25] #23996 closed

[2021-02-17 21:32] urso commented on #24092
@michalpristas can you look into this?

[2021-02-17 22:03] EricDavisX commented on #23996
@amolnater-qasource @dikshachauhan-qasource Per the above PR we are promoting fixes and they will be rolled out to staging so they can easily be re-validated.  Please open a new ticket if / when you find anything further.

Thanks Alex!

[2021-02-17 22:11] schans commented on #23267
From what I can find:

The reportBeatCgroups function in
https://github.com/elastic/beats/blob/7.11.0/libbeat/cmd/instance/metrics/metrics.go#L277

tries to get the cgoup stats of its own pid (process.GetSelfPid()) by calling cgroups.GetStatsForProcess(pid):

https://github.com/elastic/beats/blob/7.11.0/libbeat/cmd/instance/metrics/metrics.go#L299

It uses the Reader options set in that method wit

[2021-02-17 22:27] schans commented on #23267
Maybe getting it through the system module is an option? Like in https://github.com/elastic/beats/blob/master/metricbeat/module/system/process/process.go#L87

[2021-02-17 22:37] fearful-symmetry commented on #23267
Yep, beat me to it. We'll need to modify the cmd/instance startup to look for the rootfs variable.

[2021-02-18 00:05] EricDavisX commented on #23812
it is ready for test on 7.10.x latest shipped version!

[2021-02-18 05:05] jschin commented on #637
any update. +1 for gzip log input

[2021-02-18 09:24] ChrsMark commented on #21848
@dedemorton any thoughts here?

[2021-02-18 09:28] abraxxa opened #24094 "[filebeat][netflow] filebeat does't start when internal_networks variable isn't defined in config file"
- Version: 7.11.1
- Operating System: Ubuntu 18.04
- Discuss Forum URL: https://discuss.elastic.co/t/filebeat-netflow-module-do-not-start-after-update-to-7-11/264037/3
- Steps to Reproduce: enable the netflow module without the internal_networks variable defined in its yaml config file

The new variable 'internal_networks' is also neither documented in https://www.elastic.co/guide/en/beats/filebea

[2021-02-18 09:32] elasticmachine commented on #24094
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-18 09:59] ChrsMark commented on #23613
@blakerouse about point no1 are we sure that we want it? We don't have something like this enabled by default right now in Filebeat's manifests.

cc: @masci @ruflin

[2021-02-18 10:11] M0rdecay commented on #7955
Any update here?
The need for journald support in Fliebeat is really important right now...

[2021-02-18 10:49] ruflin commented on #24054
Interesting idea. If templates become and assets it should also be possible to use it in a package? 🤔  So far my thinking was that during package build time, a template for the full package (or parts of it) is generated and added to the package. At least for our integrations and this could be a feature of `elastic-package`, that it takes all input configs and templates and puts them together. Also

[2021-02-18 12:14] dikshachauhan-qasource opened #24105 "[Agent]: Windows agent shows up unhealthy with metricbeat error logs in Agents tab when 'linux' Integration is used in agent policy."
**Build**: 7.11.1 snapshot staging build

**On installing agent using a policy having on windows and Linux integration only on Windows x64 bit, we observed that just after installation agent goes to **unhealthy** state. on Verifying the logs we **observed below error**.**

Template: windows10x64 testsigning ON

**Metric beat failure error logs in Agent tab:**
[code]

**Screenshot:**
![image](https

[2021-02-18 12:14] elasticmachine commented on #24105
Pinging @elastic/integrations (Team:Integrations)

[2021-02-18 12:15] dikshachauhan-qasource commented on #24105
Please review @manishgupta-qasource

[2021-02-18 12:24] manishgupta-qasource commented on #24105
Reviewed & Assigned to @EricDavisX

[2021-02-18 12:26] dikshachauhan-qasource opened #24106 "perform and service metrics not generated for windows agent when having Linux and windows integration in agent policy"
Build: 7.11.1 snapshot staging build

On installing agent using a policy having on windows and Linux integration only on Windows x64 bit, we observed that:
- perform and service metrics not generated on data stream page for windows 10x64 bit agent.

Screenshot:
![image](https://user-images.githubusercontent.com/72375798/108356581-52db1780-7212-11eb-8221-0930335528e7.png)

Build details:
[code]

[2021-02-18 12:27] elasticmachine commented on #24106
Pinging @elastic/integrations (Team:Integrations)

[2021-02-18 12:28] dikshachauhan-qasource commented on #24106
@manishgupta-qasource please review

[2021-02-18 13:46] amolnater-qasource commented on #23812
Hi @EricDavisX
We have revalidated this issue on upgraded 7.11.1 Kibana cloud environment(from 7.10.2 release build) and found this issue **fixed**. Hence closing this out.

**Screenshot:**
![6](https://user-images.githubusercontent.com/77374876/108365726-8c655000-721d-11eb-9aa2-5e758165e9ea.JPG)

Please let us know if anything else is required.
Thanks
QAS

[2021-02-18 13:46] #23812 closed

[2021-02-18 14:16] #15556 closed

[2021-02-18 15:03] andrewkroh commented on #24094
I opened a fix at https://github.com/elastic/beats/pull/24110.

To workaround the issue you'll have to update the module config to add the `var.private_networks` like at https://github.com/elastic/beats/blob/dc2d84991ce074b82744fc6980241cba6607c49e/x-pack/filebeat/modules.d/netflow.yml.disabled#L13-L14.

[2021-02-18 15:20] ruflin commented on #24091
I was thinking of the following:

* `/processes`: List of processes that are running
* `/process/{process-name}`: Details about the process, basically what we have today. If we even need two API endpoints for a single process, it could be `/process/{process-name}/foo`

The question is what we do about the 2 MB / FB instances. As you indidcated we could give them unique names and attach `-monitorin

[2021-02-18 15:38] blakerouse commented on #23613
@ChrsMark Are you talking about `System-level log collection`? I think it would be great to have. Log collection of the underlying host is just as important as collecting logs about the cluster and the workloads.

[2021-02-18 16:12] ph commented on #24054
@ruflin When "template.d/" be populated, will this be done as part of the build process or tooling to download it.

[2021-02-18 16:39] ChrsMark commented on #23613
Yeap, ok then I agree it would be a good insight. Let's add it then.

[2021-02-18 16:52] adriansr opened #24111 "ILM: Change of `setup.ilm.pattern` is not applied even with `setup.ilm.overwrite` set."
For confirmed bugs, please report:
- Version: 7.10.2
- Operating System: -
- Discuss Forum URL: -
- Steps to Reproduce:

Contrary to our documentation, changes to `setup.ilm.pattern` doesn't apply if the alias already exists. It keeps using the previous pattern.

Run a Beat with:
[code]

This works and the alias `myindex5` => `myindex5-000001` gets created.

Now replace the pattern:
[code]

Run `b

[2021-02-18 17:07] a03nikki commented on #14927
Unified Logging is also mentioned on https://github.com/elastic/beats/issues/3109.

[2021-02-18 17:16] adriansr commented on #24111
In the code I can see that the `overwrite` setting only affects the installation of a new ILM policy (`EnsurePolicy` at `libbeat/idxmgmt/ilm/std.go`).

The code that handles the alias creation (`EnsureAlias` in the same file), will only create a new alias if it doesn't exists already, the actual pointed-to index is not taken into account.

I'm not sure it's easy to fix this, because the original p

[2021-02-18 17:43] #23859 closed

[2021-02-18 17:44] v1v commented on #23859
For the record, `windows` is disabled since there are test failures:
- https://github.com/elastic/beats/issues/23957
- https://github.com/elastic/beats/issues/23958

[2021-02-18 17:54] elasticmachine commented on #24111
Pinging @elastic/agent (Team:Agent)

[2021-02-18 17:59] mukeshelastic commented on #23613
There are few different layers for K8s here - system host that runs an OS, K8s worker node, pods, containers. And getting metrics and logs for each of them is valuable. Assuming your question was about  "system host", yes it will be valuable to get those logs for troubleshooting system issues that may cause problems to pods running on it. I am assuming these logs are same as what we'd get by runni

[2021-02-18 19:16] #15077 closed

[2021-02-18 20:13] EricDavisX commented on #24105
we were already workin on 'guards' in Metricbeat and Filebeat packages for when all OSes are used in same policy, I think this is the same bug - we can test it when we get the next version in to staging to test.

[2021-02-18 20:36] fearful-symmetry commented on #24105
Yah, we need to know what version of the system integration this is.

[2021-02-18 20:44] zez3 commented on #17775
The future is now. We will most probably move to Elastic stack this year and we kind of need this throttling implemented.
How can I as a potential future client or current client influence the development of this feature?

[2021-02-18 20:46] EricDavisX commented on #24105
@fearful-symmetry it is 0.10.7

[2021-02-18 20:55] fearful-symmetry commented on #24105
Okay. 0.10.7 is a tad old at this point. There's a newer version in staging at least, but the most recent is 0.11.

[2021-02-18 21:08] fearful-symmetry commented on #14927
This has been needed for a long time, we should definitely prioritize this.

[2021-02-18 21:10] SHolzhauer commented on #23728
A module in filebeat for Gitlab would be really nice.

I'm not that familiar with setting up and configuring Gitlab but it looks to me like there are multiple locations it can log to, does anyone know how much the log formats themself change?

[2021-02-18 21:16] #16437 closed

[2021-02-18 21:20] EricDavisX commented on #24105
That's totally fair  :)  And I might actually be wrong it may have been 0.10.7 since it is a 7.11 snapshot...  the team had several systems they were working yesterday, and I am guessing since it was ommited.

Regardless, we are trying to manage tests over the 3 different 'current' versions of System Integration based on what is available differently (as intended) for the 4 relating dev lines we f

[2021-02-18 21:31] fearful-symmetry commented on #24105
Okay, sorry, confused myself here. The actual changes that impact this bug are in the `linux` module. The fixes should be in `0.3.8`, which I just merged to `SNAPSHOT`. I'll put in the PR for staging now.

[2021-02-18 21:54] EricDavisX commented on #24105
not a problem at all, lol - all of a sudden this week it got to be a lot more to try to manage. I'm very excited to see what the package-storage updates to support tracking versions more automatedly may end up looking like (from https://github.com/elastic/package-storage/pull/939/files)

[2021-02-18 23:12] kaiyan-sheng commented on #24073
If user uses `credential_profile_name` and `shared_credential_file` for passing credentials, the credential file needs to be provided via a volume mount:

[code]

A sample `metricbeat.aws.yml` can be:
[code]

[2021-02-19 00:16] #16346 closed

[2021-02-19 00:16] #16009 closed

[2021-02-19 04:18] kaiyan-sheng commented on #24073
@richardim For your use case with passing environment variables, here is an example:
[code]
Sample `metricbeat.aws.yml` looks like:
[code]
You can also use a file to store all environment variables and then pass it with `--env-file my-env.txt` in your docker run command.

[2021-02-19 09:03] ChrsMark commented on #23876
If I'm not mistaken we miss the part of converting the hint's, provided though labels, to actual configuration explicitly. However, from @blakerouse 's comment I assume we can completely leverage dynamic inputs to dynamically spawn configs based on the received k8s labels, right? I see it happening like this:
[code]
Is this correct @blakerouse?

[2021-02-19 09:20] eedugon opened #24118 "Metricbeat: Oracle module failing to connect while SQL module works"
One user is reporting problems connecting to an Oracle DB using our oracle module with very basic configuration.
The Instant Client is installed and tested, and also our SQL module of Metricbeat is able to perform connections and even running a SQL like `SELECT TABLESPACE_NAME, TABLESPACE_SIZE, ALLOCATED_SPACE, FREE_SPACE FROM DBA_TEMP_FREE_SPACE;` with the same user.

The error that appears using

[2021-02-19 09:25] biswabhusandash opened #24119 "Payload content length greater than maximum allowed: 1048576"
We are working to capture logs from server to elasticsearch by filebeat. We are getting below issue, while setup the filebeat.

Response: {"statusCode":413,"error":"Request Entity Too Large","message":"Payload content length greater than maximum allowed: 1048576"}

We have added http.max_content_length: 1200mb in elasticsearch.yml and server.maxPayloadBytes: 26214400 in kibana.yml. Still this issu

[2021-02-19 10:19] andresrc commented on #24119
Thank you very much for creating this issue. However, we would kindly like to ask you to post all questions and issues on the [Discuss forum](https://discuss.elastic.co/c/beats) first. In addition to awesome, knowledgeable community contributors, core Beats developers are on the forums every single day to help you out as well. So, your questions will reach a wider audience there, and if we confirm

[2021-02-19 10:19] #24119 closed

[2021-02-19 10:20] elasticmachine commented on #24118
Pinging @elastic/integrations (Team:Integrations)

[2021-02-19 10:22] rdrgporto opened #24124 "[Filebeat] Dissect Parsing Error with Sonicwall Module"
For confirmed bugs, please report:
- Version: **7.9.2**
- Operating System: **Ubuntu 18.04**
-  Sonicwall: **TZ600**
- Discuss Forum URL: [Elastic Discuss](https://discuss.elastic.co/t/dissect-parsing-error-with-sonicwall-module-filebeat-7-9-2/264011)

Hi, everyone

I have found some **dissect parsing errors** by using [Sonicwall module](https://www.elastic.co/guide/en/beats/filebeat/current/fileb

[2021-02-19 10:28] dikshachauhan-qasource commented on #24105
Hi @EricDavisX cc @fearful-symmetry

Thanks for the update. Please let us know whenever Linux package version 3.8 is out . We will retest the above issue and will close it accordingly. Currently, 7.11.1 snapshot build is having below mentioned package versions.:
System: 10.9
Windows: 3.1
Linux: 3.7

Thanks
QAS

[2021-02-19 11:51] elasticmachine commented on #22602
Pinging @elastic/agent (Team:Agent)

[2021-02-19 12:27] kvch commented on #18334
Currently, ARM64 Docker images can be built for all Beats on **ARM64 machines** with the following command:
[code]

[2021-02-19 12:32] jsoriano commented on #7598
Somehow related, this discuss topic reports issues with Filebeat after resuming it from suspension: https://discuss.elastic.co/t/filebeat-iowaits-issue/264663

[2021-02-19 13:16] #8279 closed

[2021-02-19 14:12] urso commented on #24111
An alias can not be created independently. For ILM setup we first need to create the ILM policy, then upload the template, and finally create the first index with the associated alias. The indices are now under control of Elasticsearch ILM and should not be updated. The code only checks if the alias exist, not that the current associated index matches the given pattern (which is somewhat Elasticse

[2021-02-19 14:12] ijardillier commented on #12923
+1

[2021-02-19 14:21] adriansr commented on #24111
Thanks for chiming in, @urso.

Then I understand the best we can do at this time is to update the docs to make this more clear? Instead of

can we suggest to remove the existing aliases and remind the user that old indices under the previous pattern won't we subject to ILM anymore?

[2021-02-19 14:42] urso commented on #24111
Sure.

s/won't/might/

[2021-02-19 15:54] fearful-symmetry opened #24132 "Expand logic available to `host` conditionals"
If I'm reading the metricbeat code properly, here's the `host` fields available to us if we want to use dynamic configs:

[code]

With 7.11, we've gotten a tad more aggressive with what kinds of errors put an agent in an unhealthy state, so a failed metricset will raise a flag, so to speak. With the system module, if we want to effectively guard against various `unhealthy` states resulting from fa

[2021-02-19 16:07] elasticmachine commented on #24132
Pinging @elastic/agent (Team:Agent)

[2021-02-19 16:16] #10354 closed

[2021-02-19 17:06] elasticmachine commented on #24124
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-19 17:30] #19150 closed

[2021-02-19 17:46] fearful-symmetry commented on #24105
So, `0.8.3` of Linux should be available in staging now. I think.

[2021-02-19 18:22] lukeelmers opened #24136 "[filebeat] Upgrade Kibana module to prepare for 8.0 breaking changes"
The @elastic/kibana-core team has been working on [improvements to our new platform logging service](https://github.com/elastic/kibana/issues/58261) in preparation for [removing Kibana's legacy logging system](https://github.com/elastic/kibana/issues/50660) in 8.0.

As a part of these changes, the log formats have been updated to be more in line with the Elasticsearch logs which are based on [log4

[2021-02-19 18:22] elasticmachine commented on #24136
Pinging @elastic/integrations-services (Team:Services)

[2021-02-19 18:31] fearful-symmetry commented on #24132
@ph

It depends? I mean, a metricbeat module will fail if something doesn't exist, but that will get the agent marked as unhealthy. The idea is to have something to act as a "guard" in a similar fashion, so the given data stream doesn't run at all.

[2021-02-19 19:19] ph commented on #24132
@fearful-symmetry I had just some reserve, because condition are just boolexp they do not report why to the backend, so I just want to make sure we invest in the right place. This is currently blocking you for 7.13 ?

[2021-02-19 19:19] ph commented on #24132
@urso fyi, for longer term vision.

[2021-02-19 20:57] #21010 closed

[2021-02-19 22:10] andrewvc opened #24141 "[Heartbeat] Add `synthetics.step.status` field"
It looks like we have a use for searching for steps based on status as demonstrated here: https://github.com/elastic/kibana/pull/90978/files#r579505168 . This should be easy to add.

[2021-02-19 22:10] elasticmachine commented on #24141
Pinging @elastic/uptime (Team:Uptime)

[2021-02-20 00:19] #24094 closed

[2021-02-20 06:34] mukeshelastic opened #24143 "Support reading secrets in K8s agent manifest"
Beats on K8s were able to read sensitive data like credentials from secrets to prevent these credentials or any other sensitive data in plain text in the config files. We need to provide similar experience on agent. For example, users can create secrets on command line and then refer it in yaml files from k8s secrets store.

`cloud_id=test-cloud-id`
`cloud_auth=testusername:test-cloud-id-password`

[2021-02-20 06:34] elasticmachine commented on #24143
Pinging @elastic/agent (Team:Agent)

[2021-02-20 09:07] DaveCTurner opened #24144 "Elasticsearch template check treats non-200 response as "template not found""
Today at startup/reconnection we check for template existence with a call to `GET /_cat/templates`, which confirms the template exists if it returns 200 OK and the response contains the template name:

https://github.com/elastic/beats/blob/a7f820f7a6a7ef158d76bf5c53efe4a00159a882/libbeat/template/load.go#L157

If we think the template does not exist then by default we try and create it. This means

[2021-02-20 09:10] mukeshelastic commented on #24054
@ruflin
Are we able to add an example for demostrating UX for specifying template and variables for metrics collection in agent config, I imagine it will look similar to kubernetes [config map](https://github.com/elastic/beats/blob/master/deploy/kubernetes/elastic-agent-standalone-kubernetes.yml#L89) as well as how the integration author will create the template for metrics collection.

[2021-02-20 12:52] papaneeds opened #24145 "32-BIT Metricbeat (7.8.0) return abnormal value for system.network.in.bytes on 64 bit machines"
Hi,
 I experienced exactly the same issue as another user. The issue is very well described in this discussion:
https://discuss.elastic.co/t/32-bit-metricbeat-7-8-0-return-abnormal-value-for-system-network-in-bytes/254369

When running a 32 bit version of metricbeat on a 64 bit machine system.network.in.bytes produces nonsensical and large values.

- Version:  32-bit 7.8.0
- Operating System: Wind

[2021-02-20 18:16] #14370 closed

[2021-02-21 03:31] axw opened #24146 "[Agent/Docker] FLEET_ENROLL in Docker agent enrollment is broken"
Version: the latest 7.12-SNAPSHOT image (and I think 7.13-SNAPSHOT and 8.0.0-SNAPSHOT)

Reproducer:
<hr/>

`docker run --rm --env FLEET_ENROLL=1 --env FLEET_ENROLL_INSECURE=1 --env KIBANA_HOST=http://kibana:5601 --env FLEET_ENROLLMENT_TOKEN=abc123 -t docker.elastic.co/beats/elastic-agent:7.12.0-SNAPSHOT`

[code]

I'm pretty sure this is due to the breaking changes in https://github.com/elastic/bea

[2021-02-21 03:31] elasticmachine commented on #24146
Pinging @elastic/agent (Team:Agent)

[2021-02-21 10:57] elasticmachine commented on #24145
Pinging @elastic/integrations (Team:Integrations)

[2021-02-21 11:00] elasticmachine commented on #24144
Pinging @elastic/agent (Team:Agent)

[2021-02-22 06:28] lowryxiao opened #24148 "[Heartbeat] Add retry logic for http check"
Currently, there's no retry logic for http check in Heartbeat.
However, there could be some http check failures happen in case:
1. the number of http check targets is huge;
2. there's a network jitter;
3. the target is not ready in the first round check.

Wondering if we could add the retry logic for http check?
Thanks.

[2021-02-22 06:46] elasticmachine commented on #24148
Pinging @elastic/uptime (Team:Uptime)

[2021-02-22 07:57] deepikakeshav-qasource opened #24150 "[Ingest Manager]: Agent stays in 'Updating' state on 7.12.0 https://staging.found.no/login build"
**Description**
Agent stays in 'Updating' state on 7.12.0 build

**Build Details:**
[code]
Artifacts: [BC1](https://staging.elastic.co/7.12.0-8486f7d1/summary-7.12.0.html)

**Browser Details:**
All

**Preconditions:**
1. 7.12.0 Environment should exist.
2. Policy and artifacts should exist

**Steps to Reproduce:**
1. Login to the Kibana environment.
2. Go to Add Agents fly out.
3. Copy installatio

[2021-02-22 07:58] deepikakeshav-qasource commented on #24150
@manishgupta-qasource Please review!!

[2021-02-22 09:03] manishgupta-qasource commented on #24150
Reviewed & assigned to @EricDavisX

[2021-02-22 09:03] elasticmachine commented on #24150
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-02-22 09:05] ruflin commented on #24054
@mukeshelastic Are you looking for something more then the examples in the descriptions?

This issue by design is currently completely decoupled from packages even though packages could contain templates.

[2021-02-22 09:57] schans commented on #23267
Hi all!

Any progress on this? Any way I can help?

[2021-02-22 10:43] petak-it commented on #6084
I am trying to do some workaround with [appenders](https://www.elastic.co/guide/en/beats/filebeat/current/configuration-autodiscover-advanced.html)

`    filebeat.autodiscover:
      providers:
        - type: kubernetes
          node: ${NODE_NAME}
          hints.enabled: true
          hints.default_config.enabled: false
          templates:
            - condition.contains:
                kub

[2021-02-22 11:36] v1v commented on #24082
This is not about the Automation team but the build system that requires to be adapted to the SO requirements, for Windows-7 32 bits, there is no a possibility to run processes with more than 2 gb of RAM. Since the build system is owned by the beats team, I've just removed the automation team as being the one assigned.  I don't know who should be the team to work on this though :(

[2021-02-22 12:51] narph commented on #17256
+1 , we are seeing issues with this behavior as well in `azure`, has this gotten any traction so far?

[2021-02-22 14:07] blakerouse commented on #23876
@ChrsMark You are missing the `type` for the input in the example, but you are correct. Something like that should just work.

I don't know if we want it to be that dynamic, might want it to be specific per package integration so that when the package integration is installed they any hints with that module is enabled it just works.

[2021-02-22 14:32] elasticmachine commented on #24150
Pinging @elastic/agent (Team:Agent)

[2021-02-22 14:33] EricDavisX commented on #24150
@ph do you want us to add a step to our usual triage process where we remove 'System' Integration from the equation to confirm if it will relate to the inputs in that Integration?

I see this line repeated periodically in logs:
{"log.level":"error","@timestamp":"2021-02-22T14:07:49.888+0530","log.origin":{"file.name":"application/emitter.go","file.line":107},"message":"Failed to render configurati

[2021-02-22 14:44] EricDavisX commented on #24150
Update:  i reproduced this on my macOS host Catalina with 7.12.0 BC1 candidate without Endpoint included in policy, just with full defaults as Fleet installs.

[2021-02-22 14:55] ph commented on #24150
OK, looking at error referenced in your comments it's seems "outputs" is missing, @michalpristas @nchaulet I am not sure if the issues described here is a side effect of the migration to Fleet-Server?

[2021-02-22 14:58] michalpristas commented on #24150
copying from slack
may be related to https://github.com/elastic/beats/commit/c0c771e50e012a7de7bbe8f5923374615da27ab2

let’s check if logs on machine says agent is managed by fleet. if not. this ^^ is fixing it.

it kinda matches with commit history, enroll was pushed 15th, bc1 is 18 and fix is 19th

[2021-02-22 14:59] michalpristas commented on #24150
i see this is not related, but looks like the other issue we were having, i will check backports

[2021-02-22 15:07] jsoriano commented on #11943
Solution proposed in https://github.com/elastic/beats/issues/17256.

[2021-02-22 15:07] elasticmachine commented on #17256
Pinging @elastic/agent (Team:Agent)

[2021-02-22 15:21] michalpristas commented on #24150
this line says
[code]
that agent is managed lcoally, after restartit will connect to fleet.
the recurring output error which seems to occure every feconfw iguratio n seemslike a bug but not related to unhealthy state.

agent is unhealthy because it starts in standalone and never checks in so never change status from the one initiated during enrolling process. The fix mentioned above is actually a

[2021-02-22 15:44] pebrc opened #24160 "[Elastic Agent] Allow separation of runtime state location and installation and executable location."
We ran into an issue on Kubernetes with ECK and Elastic Agent. The released version of ECK [has a bug](https://github.com/elastic/cloud-on-k8s/issues/4260) in that it does not use a `hostPath` volume we configure for the Elastic Agent data directory. The intention behind using a `hostPath` volume was to create a location for the runtime state of Agent to be persistent across container restarts. Fi

[2021-02-22 15:44] elasticmachine commented on #24160
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-02-22 16:15] #24146 closed

[2021-02-22 16:25] blakerouse commented on #24160
This is actually a core issue that we need to solve for the K8s enablement for Elastic Agent. I linked this to the overall meta issue. #23613.

[2021-02-22 16:25] elasticmachine commented on #24160
Pinging @elastic/agent (Team:Agent)

[2021-02-22 16:26] blakerouse commented on #24160
@ph I believe this needs to be done for 7.13.

[2021-02-22 17:40] fearful-symmetry commented on #23267
Assuming nothing gets in the way, I'd like to get this done this week, since it should be a fairly simple fix.

[2021-02-22 17:56] Sho-Nuff-007 opened #24165 "PANW module - Filebeat - Cortex Data Lake"
The enhancement would allow a user to send logs that have been downloaded from Cortex Data Lake which sends out logs that look slightly different than those seen here: https://github.com/elastic/beats/blob/master/x-pack/filebeat/module/panw/panos/test/pan_inc_traffic.log

My use case would be to receive the files via syslog (only way to get them as of today from Cortex Data Lake) which I then stor

[2021-02-22 18:25] fearful-symmetry commented on #24145
So, as someone else pointed out, the problem is likely here: https://github.com/shirou/gopsutil/blob/fc7e5e7af6052e36e83e5539148015ed2c09d8f9/net/net_windows.go#L170 It looks like we use an error value to see if we're running on a 32 or 64 bit OS, and assume we're running a similar version of metricbeat.

Maybe a dumb question because it's Monday and my brain is booting up @masci do we support run

[2021-02-22 18:27] ph commented on #24143
@blakerouse I believe our original intention was to add support for secrets inside the provider in this case k8s? So a user could reference a value our tags `${...}` and the provider will resolve the values. Does it need special handling in the framework?

[2021-02-22 19:16] ph opened #24166 "TestConfigurable Failure on Windows 2008|7|2012"
Build&Test  / x-pack/elastic-agent-windows-2008-windows-2008-r2 /  TestConfigurableFailed –  github.com/elastic/beats/v7/x-pack/elastic-agent/pkg/agent/operation | https://beats-ci.elastic.co/job/Beats/job/beats/job/master/228/ | test.status : "FAILED" | 2021-02-16 | 18
-- | -- | -- | -- | --
Build&Test  / x-pack/elastic-agent-windows-2008-windows-2008-r2 /  TestConfigurableFailed –  github.com/el

[2021-02-22 19:18] elasticmachine commented on #24166
Pinging @elastic/agent (Team:Agent)

[2021-02-22 20:52] elasticmachine commented on #24165
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-02-22 22:35] andrewkroh commented on #24165
How do they differ? Can you provide a raw message example?

[2021-02-22 23:24] QueenAmidala opened #24192 "Conflict when doing filebeat setup"
Hi,

I am posting this as a question because I am not sure if it is a bug. I will fill out the bug questions as if it were a bug report. But since I am not sure I am going to ask my question below.

So here is my problem it seems filbeats setup is failing for me. I get a bunch of empty error messages

**"Exiting: 1 error: Error setting up ML for apache_ecs: 17 errors: ; ; ; ; ; ; ; ; ; ; error whi

[2021-02-22 23:30] dedemorton commented on #21848
@ChrsMark Sorry I missed your comment last week. I had to take some personal time off unexpectedly. Thanks for opening the PR. I will review it and make my recommendations there.

[2021-02-22 23:30] andrewvc opened #24171 "[Heartbeat] Make synthetics sandbox configurable, default to off"
We should make the synthetics sandbox configurable, and default it to off, since this is required in most server-side envs. We've evaluated the security impact of this and don't believe it will be impactful except in rare circumstances.

[2021-02-22 23:30] elasticmachine commented on #24171
Pinging @elastic/uptime (Team:Uptime)

[2021-02-23 03:56] TheChedda commented on #24165
Sure thing. I have sanitized the below log but let me know if you have any questions on it. This is just for TRAFFIC but I can post a THREAT log tomorrow if needed.

`Traffic:
Feb 22 19:38:23 34.67.106.77 670 <14>1 2021-02-23T03:38:23.095Z stream-logfwd20-807132656-02191113-xjf2-harness-jxzn logforwarder - panwlogs - 2021-02-23T03:38:22.000000Z,no-serial,TRAFFIC,end,9.1,2021-02-23T03:38:12.000000Z

[2021-02-23 05:15] amolnater-qasource opened #24173 ""failed to rotate backups" error after running agent enroll command."
**Kibana version:** 7.12.0 Snapshot Kibana Cloud environment

**Host OS and Browser version:** Windows 10, All

**Preconditions:**
1. 7.12.0 Snapshot Kibana cloud environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
1. Login to Kibana Cloud environment.
2. Download and extract elastic-agent-7.12.0-SNAPSHOT-windows-x86_64.zip in program files.
3. Navigate to Fleet>Ag

[2021-02-23 05:16] amolnater-qasource commented on #24173
@manishgupta-qasource Please review.

[2021-02-23 05:17] elasticmachine commented on #24173
Pinging @elastic/agent (Team:Agent)

[2021-02-23 06:36] ovictorain opened #24175 "Filebeat kafka output hash.hash get negative partition cause stuck"
## Environment
* Version: filebeat-7.6.2
* Operating System: CentOS Linux 7 (Core)
## Discuss Forum URL
https://discuss.elastic.co/t/filebeat-kafka-output-hash-hash-get-negative-partition-cause-stuck/265153
## Steps to Reproduce:
### Kafka
Create kafka topic hashtest with 3 partitions.
### Filebeat
#### log file
`mock.log`, I simply put in `filebeat` directory.
[code]
#### filebeat.yml
[code]
####

[2021-02-23 07:52] ChrsMark commented on #23965
Closed via https://github.com/elastic/beats/pull/23966

[2021-02-23 07:52] #23965 closed

[2021-02-23 07:53] ChrsMark commented on #22518
Closed via https://github.com/elastic/beats/pull/23966

[2021-02-23 07:53] #22518 closed

[2021-02-23 09:17] elasticmachine commented on #24175
Pinging @elastic/agent (Team:Agent)

[2021-02-23 09:30] amolnater-qasource opened #24180 "[Win-10-2016-ltsb specific]: Agent's Metricbeat process not running (so no Activity logs under Logs tab for Metricbeat), may relate to Endpoint or Linux / Windows Integrations"
**Kibana version:** 7.12.0 Snapshot Kibana Cloud environment

**Host OS and Browser version:** Windows 10, All

**Preconditions:**
1. 7.12.0 Snapshot Kibana cloud environment should be available.

**Build Details:**
[code]
2. Default policy must have System and Endpoint Security.

**Steps to reproduce:**
1. Login to Kibana Cloud environment.
2. Navigate to Fleet>Agents tab.
3. Enroll agent with de

[2021-02-23 09:31] amolnater-qasource commented on #24180
@manishgupta-qasource Please review.

[2021-02-23 09:41] elasticmachine commented on #24180
Pinging @elastic/agent (Team:Agent)

[2021-02-23 09:44] manishgupta-qasource commented on #24173
Reviewed & assigned to @EricDavisX

[2021-02-23 09:46] manishgupta-qasource commented on #24180
Reviewed & assigned to @EricDavisX

[2021-02-23 10:02] dikshachauhan-qasource commented on #24105
Hi @EricDavisX cc @fearful-symmetry

We have revalidated this issue on 7.11.1 snapshot Kibana cloud build having Linux package version 3.8 and found issue as **Fixed**.

- Now, Windows agent shows up healthy with metricbeat logs as Running  in Agents tab when 'linux' Integration is used in agent policy.

**Screenshot:**
![image](https://user-images.githubusercontent.com/72375798/108810022-2b989780

[2021-02-23 10:02] #24105 closed

[2021-02-23 12:37] MarcusCaepio commented on #13920
Hi all,
just want to mention, it is also a problem with all the cisco modules:
https://github.com/elastic/beats/issues/14933

[2021-02-23 14:11] EricDavisX commented on #24173
If nothing else is noted initially with Agent usage as seeming broken, and if the Agent team can confirm any log roll-over functionality is ok, then we can consider the priority a lower than 'high'.  If we are not rolling over logs it is indeed a desired fix for 7.12.  @michalpristas do you have ideas?

[2021-02-23 14:12] EricDavisX commented on #24173
@ph fyi, thanks.

[2021-02-23 14:14] EricDavisX commented on #24105
@dikshachauhan-qasource thanks.

@fearful-symmetry let us do the PR to push Linux + Windows to prod and get them rolled out.  Diksha can do a quick re-test after the roll out of storage and report back.  Thanks everyone for the efforts here.

[2021-02-23 14:34] EricDavisX commented on #24150
This is believed fixed in the latest snapshot and will be picked up in BC2 we think.  There is however a different issue that seems Windows specific in latest 7.12 - https://github.com/elastic/beats/issues/24180 please track that if you need a working Windows Agent, we are trying to identify root cause.

[2021-02-23 14:36] EricDavisX commented on #24173
there were recent changes with regards to enroll order, and start up.  this is likely related.  after inspecting we think logs are rolling over ok (after this start up error) and so it is lower priority.  we can scope it for later if have urgent projects / bugs right now.